
/*************************************************************************************
  BEGIN styles for the base components 
  Browser normalization
  ************************************************************************************/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p{
	margin				: 0;
	padding				: 0;
}
p{
	padding				: 0;
	margin				: 0;	
}
fieldset, img {
	border				: 0;
}
img{
	vertical-align		:middle;
}
select{
	font				: normal 11px Arial, Verdana, sans-serif;
}
label{
	float				:left;	
	display				:block;	
}
address, caption, cite, code, dfn,strong, var {
	font-style			: normal;
	font-weight			: normal;
}
ol, ul {
	list-style			: none;
}
abbr, acronym {
	border				: 0;
}
body{
	background-color	:white;
	font				:normal 11px Arial, Verdana, sans-serif;
	color				:#3e3e3e;
	line-height			:13px;

}
/* ------------------------------------- Links ------------------------------------------------ */

a {	
	text-decoration		: none;	
}

a:hover {
	text-decoration		: underline;
}

/* -------------------------------------- Headers ------------------------------------------------ */

h1 {
	font-size			:22px;
	font-weight			:bold;
        color				:#3e3e3e;
	text-transform		:none; /*uppercase;*/
	line-height			:26px;
}

h2 {
	font-size			: 16px;
        line-height			:19px;
}

h3 {
	font-size			: 14px;
}

h1, h2, h3 {
	margin				: 1em 0;
}

h4, h5, h6 {
	font-size			: 13px;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight			: bold;
}


/*************************************************************************************
  END styles for the base components 
  ************************************************************************************/
  
  
/*************************************************************************************
  BEGIN styles for the common things

  ************************************************************************************/
.clearFloat{
	content				: ".";
	display				: block;
	height				: .001px;
	clear				: both;
	visibility			: hidden;
}
.floatLeft{
	float				:left;
}
.floatRight{
	float				:right;
}
#mainContainer{
	width				:941px;
	margin				:0 auto;
}
.redLink{
	color				:#ff3a00;
	font-weight			:bold;
}
.more{
	font-size			:10px;
}

/*************************************************************************************
  END styles for the common things

  ************************************************************************************/
  
  /*************************************************************************************
  BEGIN styles for top right navigation

  ************************************************************************************/
.topNavigationContainer{
	background			:url(../images/global/bg-topnav.gif)/*tpa=https://www.pseg.com/images/global/bg-topnav.gif*/ repeat-x 0 0;
	/*height				:26px;	*/
	height				:30px;
}
.topRightNavigation{
	float				:right;
	/*width				:270px;*/
	width				:570px;
	/*color				:#636363;*/
	color				:#ffffff;
}
.topRightNavigation li{
	float				:left;
	/*padding				:7px 2px 5px 2px;*/
}
.topRightNavigation li a{
	font-weight			:bold;
	/*color				:#636363;*/
	color				:#ffffff;
	text-transform		:none; /*uppercase;*/
}

.psegli{
	
	
	text-align: center;
	 
	color:#56bf3f; 
	width: 185px; 
	height:30px;
	
	padding-top:7px;
	
	background			:url(../images/header/new_LI_button.PNG)/*tpa=https://www.pseg.com/images/header/new_LI_button.PNG*/ 0 0;
	background-repeat	:no-repeat;
}
.leftContent{
	
	
	text-align: center; 
	color: white; 
	width: 185px; 
	height:30px;
	padding-top:7px;
	margin-left:5px;
	background			:url(../images/header/layout1.png)/*tpa=https://www.pseg.com/images/header/layout1.png*/ 0 0;
	background-repeat	:no-repeat;
}
.rightContent{	
		
	text-align: center; 
	color: white; 
	width: 185px; 
	height:30px;
	padding-top:7px;
	
	margin-left:5px;
	background			:url(../images/header/layout2.png)/*tpa=https://www.pseg.com/images/header/layout2.png*/ 0 0;
	background-repeat	:no-repeat;
}
/*************************************************************************************
  ENDS styles for top right navigation

************************************************************************************/
/*************************************************************************************
  BEGIN styles for top left navigation

************************************************************************************/
#top_nav {
	width				:648px; 
	height				:26px; 
	display				:block; 
	float				:left; 
	background-image	:url(../images/global/bg-topnav.gif)/*tpa=https://www.pseg.com/images/global/bg-topnav.gif*/; 
	position			:relative;
	color				:#fff;
}
#top_nav #top_left{
	width				:660px;
	display				:block;
	position			:relative;
	float				:left;
}
#top_nav #top_left ul li {
	float				:left;
	display				:inline; 
	position			:relative; 
	display				:block; 
	background-image	:url(../images/global/img-navdivider.gif)/*tpa=https://www.pseg.com/images/global/img-navdivider.gif*/;
	background-repeat	:no-repeat;
	background-position	:right; 
	padding-right		:20px; 
	height				:26px; 
	list-style			:none 
}
#top_nav #top_left a{ 
	display				: block;
	text-transform		:none; /*uppercase;*/ 
	color				:#636363; 
	line-height			:26px; 
	font-weight			:bold;
	padding				:0 8px;
	background-image	:url(../images/global/bg-topnav.gif)/*tpa=https://www.pseg.com/images/global/bg-topnav.gif*/;
}
#top_nav #top_left ul li.right_on {
	background-image	:url(../images/global/img-divider-right-on.gif)/*tpa=https://www.pseg.com/images/global/img-divider-right-on.gif*/;
	background-repeat	:no-repeat;
	background-position	:right; 
}
#top_nav #top_left ul li.left_on {
	background-image	:url(../images/global/img-divider-left-on.gif)/*tpa=https://www.pseg.com/images/global/img-divider-left-on.gif*/;
	background-repeat	:no-repeat;
	background-position	:right; 
}
#top_nav #top_left ul li.right_on a.on {
	color				:#ff4f00;
	background-color	:#fff;
	background-image	:none  
}
#top_nav #top_right {
	float				:right; 
	display				:block;
	padding-right		:14px
}
#top_nav #top_right a{ 
	text-transform		:none; /*uppercase;*/ 
	color				:#fff; 
	text-align			:right; 
	line-height			:23px; 
	font-weight			:bold 
}
/*************************************************************************************
  END styles for top left navigation

************************************************************************************/


/*************************************************************************************
  BEGIN styles for bread crump

************************************************************************************/
.breadcrumpContainer{
	/*border-bottom		:1px dotted #646363;*/
	color				:#6A6A6A;
	font-size			:10px;
	line-height			:23px;
	padding				:5px 0 3px 0;
	text-transform		:none; /*uppercase;*/
}
.breadcrumpContainer a{
	color				:#6A6A6A;
	padding				:0 7px;
	text-decoration		:underline;;
}
.breadcrumpContainer .current{
	color				:#E54300;
	padding				:0 0 0 3px;
}

/*************************************************************************************
  END styles for bread crump

************************************************************************************/
/*************************************************************************************
  BEGIN styles for logo, search and news

  ************************************************************************************/
.smContainer{
	height				:37px;
}

.smContainer .right{
	float				:right;
}


.logoContainer{
	height				:64px;
}
.logoContainer .left{
	float				:left;
	padding				:0 0 23px 0;
	width				:500px;
	
}
.logoContainer .right{
	float				:right;
        padding-top                     :15px;
}
.searchContainer{
	background-color	:#fff;
	width				:263px;
}
.searchContainer ul{
	float				:left;
	background-color	:#fff;
}
.searchContainer ul li{
	float				:left;
	padding				:7px 7px 7px 1px;
}
.txtBoxSearch{
	background			:url(../images/global/bg-searchtxtbox.jpg)/*tpa=https://www.pseg.com/images/global/bg-searchtxtbox.jpg*/ no-repeat 0 0;
	border				:none;
	height				:16px;
	width				:143px;
	padding				:2px 5px;
	font-size			:11px;
	color				:black;
	font-weight			:normal;
}
.newsContainer{
	border				:1px solid #dddcdc;
	background-color	:#efefee;
	margin				:15px 0 13px 32px;
	padding				:7px 12px;
	color				:#959494;
	font-weight			:bold;
}
.newsContainer span{
	color				:#eb2b00;
	padding-right		:10px;
}
/*************************************************************************************
  END styles for logo, search and news

************************************************************************ ***********/
/*************************************************************************************
  BEGIN styles for home page content menu - homepage

************************************************************************************/
.contentMenuContainer_white{
	
}
.contentMenuContainer_white ul{
	float				:left;
	color				:#ffffff;
}
.contentMenuContainer_white ul .subemnu{
	background			:url(../images/home/bg-contentmenu.gif)/*tpa=https://www.pseg.com/images/home/bg-contentmenu.gif*/ no-repeat 0 0;
	height				:88px;
	width				:235px;
	!margin-top			:-2px;/***Changed DBT 5-14-2013 ***/
	margin-top			:-4px;
}
.contentMenuContainer_white ul .subemnu a{
	color				:#ffffff;
}
.contentMenuContainer_white ul ul{
	width				:140px;
	height				:48px;
	padding				:8px 10px 4px 40px;	
	list-style			:disc;
}
.moreLink{
	text-align			:right;
	padding				:0 23px;
	font-weight			:bold;
}
  
/*************************************************************************************
  END styles for content menu

************************************************************************************/  
/*************************************************************************************
  BEGIN styles for home page content menu

************************************************************************************/
.contentMenuContainer{
	
}
.contentMenuContainer ul{
	float				:left;
}
.contentMenuContainer ul .subemnu{
	background			:url(../images/home/bg-contentmenu.gif)/*tpa=https://www.pseg.com/images/home/bg-contentmenu.gif*/ no-repeat 0 0;
	height				:88px;
	width				:235px;
	margin-top			:-2px;
	!margin-top			:-4px;
}
.contentMenuContainer ul .subemnu a{
	color				:#3e3e3e;
}
.contentMenuContainer ul ul{
	width				:140px;
	height				:48px;
	padding				:8px 10px 4px 40px;	
	list-style			:disc;
}
.moreLink{
	text-align			:right;
	padding				:0 23px;
	font-weight			:bold;
}
  
/*************************************************************************************
  END styles for content menu

************************************************************************************/

/*************************************************************************************
  BEGIN styles for footer

************************************************************************************/
.footerContainer{
	border-top			:#bfbfbf 1px solid;
	padding				:10px 5px; 
	margin				:48px 0 0 0;
}
.footerContainer .left{
	float				:left;
	font-size			:10px;
}
.footerContainer .right{
	 float				:right;
}
.footerContainer .right a{
	 color				:#3e3e3e;
	 padding			:0 5px;
	 
}

/*************************************************************************************
  END styles for footer

************************************************************************************/
/*************************************************************************************
  BEGIN styles for inner page content menu

************************************************************************************/
.innerNavigation{ 
	background			:url(../images/global/bg-innernav.gif)/*tpa=https://www.pseg.com/images/global/bg-innernav.gif*/ repeat-x 0 0;
	height				:44px;
	width				:941px;
	float				:left;
}
.innerNavigation li{ 
	float				:left;
	background			:url(../images/global/img-innernav-divider.gif)/*tpa=https://www.pseg.com/images/global/img-innernav-divider.gif*/ no-repeat right;
	padding				:16px 32px;
}
.innerNavigation li a{ 
	font-weight			:bold;
	font-size			:12px;
	color				:#191919;
	text-transform		:none; /*uppercase;*/
}
.innerNavigation li a:hover{ 
	color				:#f14700;
	text-decoration		:none;
}

/*************************************************************************************
  END styles for inner page content menu

************************************************************************************/
/*************************************************************************************
  BEGIN styles for inner page content section

************************************************************************************/

.innerPageContentContainerHome{ 
	
}
.innerPageContentContainerHome .left{ 
	float				:left;
	width				:941px;
}
.innerPageContentContainerHome .right{ 
	float				:right;
	width				:221px;
	
}
.innerPageContentContainer{ 
	
}
.innerPageContentContainer .left{ 
	float				:left;
	width				:709px;
}
.innerPageContentContainer .right{ 
	float			 :right;
	width				:221px;
	margin-top:-5px;
}
.innerMainHeading{ 
	font-weight			:normal;
	color				:#f14700;
	font-size			:22px;
	padding				:10px 0;
	border-bottom		:1px solid #6b6b6b;
	text-transform		:uppercase
}
.innerMainHeading span{ 
	font-weight			:bold;
}
.innerMainHeadingDarksite{ 
	font-weight			:normal;
	color				:#f14700;
	font-size			:22px;
	padding				:10px 0;
	/*border-bottom		:1px solid #6b6b6b;*/
	text-transform		:uppercase
}
.innerMainHeadingDarksite span{ 
	font-weight			:bold;
}
.innerSubHeading{ 
	font-weight			:normal;
	font-size			:18px;
}
.innerSubHeading span{ 
	font-weight			:bold;
}
.innerpageSideMenuContainer{
	float				:left;
	padding				:10px 20px;
	font-weight			:bold;
	text-transform		:none; /*uppercase;*/
	width				:118px;
}
.innerpageSideMenuContainer li{
	padding				:5px 0;	
}
.innerpageSideMenuContainer li a{
	color				:#3c3c3c;
}
.innerpageSideMenuContainer li a{
	color				:#3c3c3c;
}
.innerpageContentInnerContainer{
	float				:left;
	width				:510px;
	padding				:10px 20px;
	/* border-left			:1px solid #cecece;DBT*/
	font-size			:13px;
	min-height			:400px;
}
.innerpageContentInnerContainer h1{
	font-weight			:900;
	padding				:0px;
	margin				:10px 0;
	color				:#343333;
	font-size			:18px;
	line-height			:20px;
}
.innerpageContentInnerContainer h1 span{
	font-weight			:bold;
}
.innerpageContentInnerContainer h2 a{
	color				:#343333;
	text-decoration		:underline;
}
.innerpageContentInnerContainer ul{
	list-style			:disc;
	color				:#3c3c3c;
	margin				:15px 5px;
	padding				:2px 25px;
	line-height			:17px;

}

.innerpageContentInnerContainer ol{
	list-style			:decimal;
	color				:#3c3c3c;
	margin				:5px 5px;
	padding				:2px 25px;
	line-height			:17px;
}

.innerpageContentInnerContainer ol li{
	padding				:2px 0;
	line-height			:18px;
}

.innerpageContentInnerContainer ul li{
	padding				:5px 0;
}
.innerpageContentInnerContainer ul li a{
	color				:#f14700;
}
.innerpageContentInnerContainer p{
	padding				:5px 0;
	color				:#3c3c3c;
	line-height			:17px;
}
.innerpageContentInnerContainer a{
	color				:#f14700;
	text-decoration		:underline;
}

.anchor {
	font-weight			:bold;
	text-decoration			:none;
	color				:#575656;
}

.openContainer{
	float				:left;
	padding				:10px 20px;
	font-size			:13px;
}

.openContainer p{
	padding				:5px 0;
	color				:#6A6A6A;
	line-height			:16px;
}

.openContainer ul{
	list-style			:disc;
	color				:#333333;
	margin				:20px 15px;
}
.openContainer ul li{
	padding				:5px 0;
}
.openContainer ul li a{
	color				:#f14700;
}
.openContainer a{
	color				:#f14700;
}

/*************************************************************************************
  END styles for inner page content section

************************************************************************************/
/*************************************************************************************
  BEGIN styles for inner page content right side box
  
************************************************************************************/
.boxContainer{
	margin				:5px 0;
	font-size			:12px;
}
.boxContainerHeading{
	background			:url(../images/global/bg-boxheader.gif)/*tpa=https://www.pseg.com/images/global/bg-boxheader.gif*/ no-repeat 0 0;
	color				:#0066cc;
	height				:20px;
	padding				:10px 3px 0 10px;
	font-weight			:bold;
	margin-bottom		:2px;
	text-transform		:none; /*uppercase;*/
}
.boxContainerContent{
	background-color	:#efefef;
	padding				:10px;
}
.boxContainerContent ul li {
	padding				:0 0 10px 0;
	font-weight			:bold;
}
.boxContainerContent ul li a {
	color				:#3c3c3c;	
	font-weight			:normal;
	text-decoration		:underline;
}

.boxContainerContent p{
	padding				:5px 0;
	color				:#3c3c3c;
	line-height			:15px;
}
.boxContainerContent a{
	color				:#f14700;
	text-decoration		:underline;
}

.boxPressSearch{
	background-color	:#efefef;
	padding				:0px 10px 2px 10px;
}
.boxPressSearch ul li {
	padding				:0px;
	font-weight			:bold;
}
.boxPressSearch ul li a {
	color				:#575757;	
	font-weight			:normal;
	text-decoration		:underline;
}

.boxPressSearch p{
	padding				:2px 0;
	color				:#6A6A6A;
	line-height			:14px;
}
.boxPressSearch a{
	color				:#f14700;
	text-decoration		:underline;
}

.promBoxImageContainer{
	float				:left;	
	width				:90px;
}
.promBoxContentContainer{
	float				:right;
	width				:100px;
}
.boxLeftContainer{
	display				:inline-block;
	margin				:20px 10px 10px 10px;
	font-size			:12px;
	width				:293px;
	margin-top			:20px;
}
.boxLeftContainerHeading{
	/*background			:url(/images/global/bg-leftprom-header.gif) no-repeat 0 0;*/
	color				:#636363;
	height				:20px;
	padding				:10px 3px 0 10px;
	font-weight			:bold;
	margin-bottom		:2px;
	text-align:center;
}
.promBoxLeftImageContainer{
	float				:left;	
	width				:293px;
	margin-left:-10px;
	margin-top:-10px;
	height:112px;
}
.promBoxLeftContentContainer{
	/*float				:right;*/
	margin-left:-10px;
	width				:293px;
	margin-top:110px;
	font-size:11px;
}
.boxContainerContentLeft{
	/*background-color	:#efefef;*/
	padding				:10px;
}
.boxContainerContentLeft ul li {
	padding				:0 0 10px 0;
	/*font-weight			:bold;*/
}
.boxContainerContentLeft ul li a {
	color				:#3c3c3c;	
	font-weight			:normal;
	text-decoration		:none;
}
.boxContainerContentLeft p{
	padding				:5px 0;
	color				:#636363;
	line-height			:15px;
}
.boxContainerContentLeft a{
	color				:#636363;
	text-decoration		:none;
	float:right;
	font-size:12px;
	font-weight:bold;
	margin-top:-5px;
}
.boxContainerContentLeft a:hover{

	color:#F14700;
}
.boxTopLine {
	float				:left;
	width				:100%;
	padding-top			:10px;
	margin-top			:10px;
	border-top			:1px solid #cecece;
	font-size			:13px;
}
.boxLeftCol {
	float				:left;
	width				:150px;
}
.boxRightCol {
	float				:left;
	width				:340px;
}

/*************************************************************************************
  ENDS styles for inner page content right side box
  
************************************************************************************/
/*************************************************************************************
  BEGIN styles for login
************************************************************************************/
.loginContainer{
	background			:url(../images/global/bg-login.gif)/*tpa=https://www.pseg.com/images/global/bg-login.gif*/ no-repeat 0 0;
	width				:208px;
	height				:165px;
	padding				:45px 0 0 13px;
}
.loginContainer ul{
	margin-top			:5px;
	font-weight			:bold;
	font-size			:14px;
	width				:180px;
}
.loginContainer ul li{
	padding				:15px 0;
}
.loginContainer ul li a{
	padding-left		:65px;
	font-size			:11px;
	color				:#e43200;
	font-weight			:normal;
	text-decoration		:underline;
}
.txtboxLogin{
	background			:url(../images/global/bg-login-txtbox.gif)/*tpa=https://www.pseg.com/images/global/bg-login-txtbox.gif*/ no-repeat 0 0;
	padding				:2px 5px;
	border				:none;
	width				:177px;
}
/*************************************************************************************
  ENDS styles for login
  
************************************************************************************/
/*************************************************************************************
  BEGIN styles for signup
************************************************************************************/
.signupContainer{	
	width				:201px;
	height				:193px;
	padding				:20px 0 0 27px;
}
.signupContainer ul{
	margin-top			:5px;
	width				:180px;
}
.signupContainer ul li{
	padding				:3px 0;
	list-style			:disc;
}
.normalFont{
	font-weight			:normal;
}

/*************************************************************************************
  ENDS styles for signup
  
************************************************************************************/

/*************************************************************************************
  BEGIN styles for your home page 
  
************************************************************************************/
.yourhomeTitleContainer{
	background			:url(../images/your_home/bg-yourhome-title.gif)/*tpa=https://www.pseg.com/images/your_home/bg-yourhome-title.gif*/ no-repeat 0 0;
	height				:22px;
	color				:white;
	padding				:10px 20px 0 20px;
	font-size			:14px;
}
.yourhomeTitleContainer span{
	font-weight			:bold;
}
.quickLinksHome{
	width				:709px;
	background			:url(../images/your_home/bg-qcklink.gif)/*tpa=https://www.pseg.com/images/your_home/bg-qcklink.gif*/ no-repeat 0 0;
	height				:92px;
	font-size			:14px;
	display				:none;
}
.quickLinksHome li{
	float				:left;
	width				:198px;
	padding				:15px 16px;
	line-height			:15px;
	height				:15px;
}
.quickLinksHome li a{
	color				:white;
	text-decoration		:none;
}
.quickLinksHome li span{
	font-weight			:bold;
}
.quickLinks{
	width				:709px;
	background			:url(../images/your_home/bg-qcklink.gif)/*tpa=https://www.pseg.com/images/your_home/bg-qcklink.gif*/ no-repeat 0 0;
	height				:92px;
	font-size			:14px;
}
.quickLinks li{
	float				:left;
	width				:198px;
	padding				:15px 16px;
	line-height			:15px;
	height				:15px;
}
.quickLinks li a{
	color				:white;
	text-decoration		:none;
}
.quickLinks li span{
	font-weight			:bold;
}
.supFontSize{
	font-size			:8px;
}

/*************************************************************************************
  ENDS styles for your home page 
  
************************************************************************************/

/*************************************************************************************
  BEGIN styles for your information page 
  
********************************* **************************************************/
.informationLeftContent{
	float				:left;
	width				:210px;
	margin-right		:19px;
	padding-top			:45px;
	font-size			:12px;
	line-height			:15px;
}
.informationLeftContent h2{
	font-size			:14px;
	text-transform		:none; /*uppercase;*/
	border-bottom		:1px solid #b2b2b2;
	padding-bottom		:10px;
}
.informationLeftContent p{
	padding-bottom		:35px;
}
.informationLeftContent ul{
	list-style			:disc;
	margin-left			:20px;	
}	
.informationLeftContent ul li{
	padding				:8px 0;	
}
.informationLeftContent ul li a{
	color				:#ff4f00;
	text-decoration		:underline;
	font-weight			:normal;
}
.informationLeftContent a{
	color				:#ff4f00;
	text-decoration		:none;
	font-weight			:bold;
}
.colorRedList{
	color				:#ff4f00;
}

/*************************************************************************************
  ENDS styles for your information page 
  
************************************************************************************/

/*************************************************************************************
  BEGIN styles for contact us page 
  
************************************************************************************/
.contactUsConainer{
	font-size			:13px;
	line-height			:18px;
}
.contactUsConainer li{
	padding				:10px 0;
	border-top			:1px solid #cecece;
}
.contactUsConainer li .left{
	width				:530px;
	float				:left;
}
.contactUsConainer li .right{
	width				:170px;
	float				:right;
}
.contactUsConainer a{
	color				:#eb2b00;
	text-decoration		:underline;
	font-size			:13px;
	font-weight:normal;
}


.contactBoxContainer{
	margin				:3px 0 0 0;
	font-size			:12px;
	
	}

.contactBoxContainerHome{
	margin				:3px 0 0 0;
	font-size			:12px;
	display				:none;
	}
.contactBoxContainerHeading{
	background			:url(../images/global/bg-boxheader.gif)/*tpa=https://www.pseg.com/images/global/bg-boxheader.gif*/ no-repeat 0 0;
	color				:#000000;
	height				:20px;
	padding				:10px 3px 0 10px;
	font-weight			:bold;
	margin-bottom		:1px;
	text-transform		:none; /*uppercase;*/
}
.contactBoxContainerContent{
	background-color	:#efefef;
	padding				:10px;
}
.contactBoxContainerContent ul li {
	padding				:3px 0;
	font-weight			:bold;
	list-style			:disc;
	margin-left			:15px;
}
.contactBoxContainerContent ul li a {
	color				:#575757;	
	font-weight			:normal;
	text-decoration		:underline;
}
.contactBoxContainerContent ul .add {
	list-style			:none;
}

/*************************************************************************************
  ENDS styles for contact us page 
  
************************************************************************************/
/*************************************************************************************
  BEGIN styles for TESTIMONIALS page 
  
************************************************************************************/
.customerNameTesimonail{
	font-size			:11px;
	font-style			:italic;
	color				:#6A6A6A;
}

/*************************************************************************************
  BEGIN styles for NEWS page 
  
************************************************************************************/
.newsSearchContainer{
	background:url(../images/information/news/bg-search-news.gif)/*tpa=https://www.pseg.com/images/information/news/bg-search-news.gif*/ no-repeat 0 0;
	width:500px;
	height:189px;
	margin:20px 0;
	padding:20px 10px 20px 0;
}
.newsSearchContainer ul{
	color:#3e3e3e;
	margin:0;
	padding:0;
}
.newsSearchContainer ul li{
	width:228px;
	padding-left:20px;
	float:left;
	list-style:none;
	font-weight:bold;
}
.newsSearchContainer ul li h2{
	margin:0 0 15px 0;
}
.txtBoxnewsSearch{
	width:170px;
	height:13px;
	padding:2px 3px;
}

/*.lstBoxnewsSearch{
	width:208px;
	height:26px;
	padding:1px;
	font-size:12px;
}*/

.twoColumns {
background:url(../images/information/news/bg-search-news.gif)/*tpa=https://www.pseg.com/images/information/news/bg-search-news.gif*/ no-repeat 0 0;
height:230px;
width:510px;
margin:20px 0;}
	
.colLeft {
	float:left;
padding:20px;
width:230px;
font-weight:700;
}
.colRight {
	float:left;
padding:20px;
width:200px;
font-weight:700;
}

.lstBoxnewsSearch {
font-size:12px;

width:180px;

}

/****** ******************************************************************************
  BEGIN styles for Printer Friendly page 
  
************************************************************************************/
.printinnerPageContent{ 
	color				: #F14700;
    float				: right;
    font-size			: 12px;
    margin-top			: 10px;
    text-transform		: none;
}
.printinnerPageContent:hover{ 
	text-decoration		:none;
}
/*************************************************************************************
  BEGIN styles for CAREERS page 
  
************************************************************************************/
.hidden{
	display:none;
}
#inline-content,.inline-content{
	color:#000;
	padding:20px; 
	background-color:white;
	font-size:14px;
} 
.meetEmployee{
	float:left;
	margin:0 0 10px;
	width:580px;
}
.meetEmployee img{
	float:left;
	margin-right:15px;
}
.meetEmployee a, .meetEmployee h2{
	color:#ff4600;
	text-decoration:none;
}
#flipbox {height:210px;margin:0;padding:8px 12px 0 26px;background:#ececec;overflow:hidden;}
#flipbox a.flip {display:block;margin-bottom:2px;}
#flipbox a.flip:hover {text-decoration:underline;}
#flipbox h4 {padding:0;margin:0 0 6px 0;text-decoration:underline;}
#flipbox a#backflip,#flipbox a#backflip:link,#flipbox a#backflip:visited {background-color:none;float:right;height:16px; font-weight:400; font-size:11px; line-height:16px;text-align:center; padding:3px 3px 3px 3px; border:1px solid #ff4600; display:block;margin:0 0 6px 6px;}
#flipbox a#backflip:hover {background-color:#DCDCDC;}
#flipbox #flipcontent {padding-top:15px;}
#ongoing #flipbox #flipcontent span {color:#ff4600;display:block;margin-bottom:4px;}
.notvisible {display:none;}

#content-slider,#flip-slider {background:#FF4600;border:none;border-top:10px solid #FF4600;border-bottom:10px solid #FF4600;  float:right;height:196px;position:relative;width:14px;margin:5px 4px 3px 0;}

#content-slider.ui-slider-vertical.ui-widget-content .ui-slider-handle,
#flip-slider.ui-slider-vertical.ui-widget-content .ui-slider-handle {border:1px solid #5F5F5F;width:16px; height: 20px; left:-2px; margin-left: 0; margin-bottom: -10px;}
#content-slider.ui-slider-vertical.ui-widget-content .ui-slider-handle.ui-state-default,
#flip-slider.ui-slider-vertical.ui-widget-content .ui-slider-handle.ui-state-default { border:1px solid #5F5F5F; background: #fff;}
#content-slider.ui-slider-vertical.ui-widget-content .ui-slider-handle.ui-state-hover,
#content-slider.ui-slider-vertical.ui-widget-content .ui-slider-handle.ui-state-focus,
#flip-slider.ui-slider-vertical.ui-widget-content .ui-slider-handle.ui-state-hover,
#flip-slider.ui-slider-vertical.ui-widget-content .ui-slider-handle.ui-state-focus
{border:1px solid #000;background-color:#DFDFDF;}

/*** 	jquery.columns.js		** */
.column-wrapper { overflow: hidden; margin: 1em 0; padding: .5em;}  
.dummy-wrapper { overflow: hidden; margin: 0; padding: 0;}
.dummy { float: left; width: 33%;}

/*************************************************************************************
  ENDS styles for CAREERS page 
  
************************************************************************************/

/*************************************************************************************
  Styles for TABS page 
  
************************************************************************************/



#tabs_wrapper {     width: 650px; } 
#tabs_container {     border-bottom: 1px solid #ccc; } 
#tabs {     list-style: none;     padding: 5px 0 4px 0;     margin: 0 0 0 10px;     font: 0.75em arial; } 
#tabs li {     display: inline; } 
#tabs li a {     border: 1px solid #ccc;     padding: 4px 6px;     text-decoration: none;     background-color: #eeeeee;     border-bottom: none;     outline: none;     border-radius: 5px 5px 0 0;     -moz-border-radius: 5px 5px 0 0;     -webkit-border-top-left-radius: 5px;     -webkit-border-top-right-radius: 5px; } 
#tabs li a:hover {     background-color: #dddddd;     padding: 4px 6px; } 
#tabs li.activ  a {     border-bottom: 1px solid #fff;     background-color: #fff;     padding: 4px 6px 5px 6px;     border-bottom: none; } 
#tabs li.active a:hover {     background-color: #eeeeee;     padding: 4px 6px 5px 6px;     border-bottom: none; }   
#tabs li a.icon_accept {     background-image: url(Unknown_83_filename)/*tpa=https://www.pseg.com/css/accept.png*/;     background-position: 5px;     background-repeat: no-repeat;     padding-left: 24px; } 
#tabs li a.icon_accept:hover {     padding-left: 24px; }   
#tabs_content_container {     border: 1px solid #ccc;     border-top: none;     padding: 10px;     width: 638px; } .tab_content {     display: none; } 





/*************************************************************************************
  BEGIN styles for footer nav 
  
************************************************************************************/
.footernavcontainer {

	padding				:10px 5px; 
	margin				:48px 0 0 0;
	width					:941px;
}

.footernav {
text-transform:none; /*uppercase;*/
font-weight:bold;
}

.footernavitem{

list-style:disc;
padding-left:12px;

}

.footernavitem li a{

color:#3e3e3e;

}


.footernavitem li a:hover{

color:#f14700;
text-decoration:underline;

}


.navhead{
text-transform:none; /*uppercase;*/
}

.navCol{
float:left;
width:150px;
line-height:15px;
padding-right:5px;
}




/*************************************************************************************
  BEGIN styles for Carousel
  
************************************************************************************/

#mygallery-paginate
	{
	width: 150px;
	text-align:left;
	position:absolute;
	left:10px;
	top:175px;
	}
.stepcarouselHome #mygallery-paginate
	{
	width: 150px;
	text-align:left;
	position:absolute;
	left:10px;
	top:375px;
	cursor:pointer;
	}
.stepcarousel
	{
	/*margin-top:5px;*/
	padding-bottom:2px;
	position: relative; /*leave this value alone*/
	overflow: scroll; /*leave this value alone*/
	width:708px; /*Width of Carousel Viewer itself*/
	height: 195px; /*Height should enough to fit largest content's height*/
	}

.stepcarousel .belt
	{
	position: absolute; /*leave this value alone*/
	left: 0;
	top: 0;

	}

.stepcarousel .panel
	{

	float: left; /*leave this value alone*/
	overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
	width: 941px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
	}
.stepcarouselHome
	{
	/*margin-top:5px;*/
	padding-bottom:2px;
	position: relative; /*leave this value alone*/
	overflow: scroll; /*leave this value alone*/
	width:941px; /*Width of Carousel Viewer itself*/
	height: 400px; /*Height should enough to fit largest content's height*/
	cursor:pointer;
	margin-top:-5px;
	}
.stepcarouselHome .belt
	{
	position: absolute; /*leave this value alone*/
	left: 0;
	top: 0;
	cursor:pointer;

	}

.stepcarouselHome .panel
	{

	float: left; /*leave this value alone*/
	overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
	width: 941px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
	cursor:pointer;
	}

/*************************************************************************************
  End styles for Carousel 
  
************************************************************************************/
.entirefooter{
background-color:#e7e7e7;
width:100%;

}
.entirefooterHome{
background-color:#e7e7e7;
width:941px;
margin-left:auto;
margin-right:auto;
}