/* GENERAL STYLES */
.subBlockHome {
	margin:8px;
}
#ulMainNav {
	margin-top: 0;
}
#ulCorpNav {
	top: -218px;
}
#fsSearch {
	top: -215px;
	width: 295px;
}
#content {
	top: -100px;
}
#ulExplore {
	margin-top: 10px;
}
#ulSubNav {
	margin-left: -80px;
}
#fsSearch input {
	background-attachment: fixed;
}
#PrimaryContent.tcs {
	width: 200px;
	margin: 0;
	float: left;
}
#SecondaryContent.tcs {
	width: 200px;
	float: right;
}
#emailAlerts a {
	background-position: -2px 0;
	padding-left: 20px;
	display: block;
	width: 85px;
}
#fsInvestmentCalculator legend {
	margin-left: -7px;
}
#diet div.tabarea {
	position:relative;
	top:-6px;
}
#diet div.tabcontainer img.tabBottom {
	position:relative;
	top:-10px;
}
#diet div.tabcontainer{
	position:relative;
	top:-13px;
}
#PrimaryContent.tca #diet div.tabcontainer{
	position:relative;
	top:-13px;
}
.subBlockHome { margin: 10px 5px; }
.slider .previous{
	background-image:url(../media/24910/lBtn.jpg)/*tpa=http://www.deanfoods.com/media/24910/lBtn.jpg*/;
}

.slider .next{
	background-image:url(../media/24910/rBtn.jpg)/*tpa=http://www.deanfoods.com/media/24910/rBtn.jpg*/;
}

/* Thickbox hacks */
#TB_window a:link
{
       
    /*border:5px solid;*/
}

#TB_closeAjaxWindow
{
    padding-right:21px;
}
.ulLatestFinancials li {
	width: 150px;
}
#content #HistLookUp td, #content #HistLookUp th{
	padding-top:0px;
}









/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
