.btn {
  width: 175px;
  height: 26px;
  line-height: 26px;
  padding: 0;
  border: 0;
  text-align: center;
  background: url("Unknown_83_filename")/*tpa=http://www.deanfoods.com/media/61518/btn_ie-fix.png*/ left top no-repeat transparent;
}
  .btn:hover{
    color: #fff;
    border: 0;
    background: url("Unknown_83_filename")/*tpa=http://www.deanfoods.com/media/61518/btn_ie-fix.png*/ left -30px no-repeat transparent;
  }





/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
