.press-list li{
  background: url(../media/157/newsitembg.jpg)/*tpa=http://www.deanfoods.com/media/157/newsitembg.jpg*/ left top no-repeat; 
  padding-left: 30px;
  min-height:19px;
  margin-bottom:15px;
}
.btn{
  color: #fff;
  padding: 6px 14px;
  line-height: 26px;
  background: #2767e4;
  display: inline-block;
  border-radius: 4px;
  text-shadow: 1px 1px 4px #000;
}
.small,
p.small,
.Brand p.small
.Brand .small,
.Brands #container #content p.small,
#container #content .Brand p.small{
  font-size:9px !important;
}








/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h1 {
font-size: 35px; margin: 0; font-weight: normal;
}

h2 {
font-size: 26px; margin: 0; font-weight: normal;
}

H3 {
margin-top: 0; font-weight: normal;
}

p {
font-size: 12px;
line-height: 15px;
color: #666;
margin-top: 0;
}

strong {
font-weight: bold;
}

em {
font-style: italic;
}

p.question {
padding-left:20px;
font-style: italic;
background: url(../media/21515/q.gif)/*tpa=http://www.deanfoods.com/media/21515/q.gif*/ top left no-repeat;
}

p.answer {
padding-left:20px;
background: url(../media/21520/a.gif)/*tpa=http://www.deanfoods.com/media/21520/a.gif*/ top left no-repeat;
color:#333;
}

.press-list {
list-style:none; padding:0; margin-bottom:10px;
}

.btn {
color: #fff;   padding: 6px 14px;   line-height: 26px;   background: #2767e4;   display: inline-block;   border-radius: 4px;   text-shadow: 1px 1px 4px #000;
}

.small {
font-size:9px !important;
}

