/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #D31145; }
a:visited { color: #D31145;  }
a:hover { color: #D31145; }
a:hover, a:active, a:focus { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
.ui-loader {display:none;}


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */


/* --------------------- */
/* ----- @FontFace  ----- */
/* --- NOTE: we don't have the fonts yet but these will be the naming conventions ------------------ */
@font-face {
    font-family: 'KSansBold';
    src: url('../fonts/ksans-bold-webfont.eot')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-bold-webfont.eot*/; src: url('../fonts/ksans-bold-webfont.eot-#iefix')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-bold-webfont.eot?#iefix*/ format('embedded-opentype'), url('../fonts/ksans-bold-webfont.woff')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-bold-webfont.woff*/ format('woff'), url('../fonts/ksans-bold-webfont.ttf')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-bold-webfont.ttf*/ format('truetype'), url('../fonts/ksans-bold-webfont.svg#KSansBold')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-bold-webfont.svg#KSansBold*/ format('svg');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'KSansMedium';
    src: url('../fonts/ksans-medium-webfont.eot')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-medium-webfont.eot*/; src: url('../fonts/ksans-medium-webfont.eot-#iefix')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-medium-webfont.eot?#iefix*/ format('embedded-opentype'), url('../fonts/ksans-medium-webfont.woff')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-medium-webfont.woff*/ format('woff'), url('../fonts/ksans-medium-webfont.ttf')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-medium-webfont.ttf*/ format('truetype'), url('../fonts/ksans-medium-webfont.svg#KSansMedium')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-medium-webfont.svg#KSansMedium*/ format('svg');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'KSansRegular';
    src: url('../fonts/ksans-regular-webfont.eot')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-regular-webfont.eot*/; src: url('../fonts/ksans-regular-webfont.eot-#iefix')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-regular-webfont.eot?#iefix*/ format('embedded-opentype'), url('../fonts/ksans-regular-webfont.woff')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-regular-webfont.woff*/ format('woff'), url('../fonts/ksans-regular-webfont.ttf')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-regular-webfont.ttf*/ format('truetype'), url('../fonts/ksans-regular-webfont.svg#KSansRegular')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/fonts/ksans-regular-webfont.svg#KSansRegular*/ format('svg');
    font-weight: normal; font-style: normal;
}



/* ------------------- */
/* ----- GLOBALS ----- */
body {
    /*padding-top:7px;*/
    font-size:0.8em;
    font-family: "Lucida Grande", "Lucida", "Trebuchet MS", "Arial", sans-serif;
}
body.mac_os{
    font-size:0.7em;
}

.container-innerbody {
    padding-bottom:63px;
    background: transparent url('../img/background/bg-sky-bottom.jpg')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/background/bg-sky-bottom.jpg*/ no-repeat bottom center;
    position:relative; /*malai */
}
header,
.main,
footer {
    width:996px;
    margin:0px auto;
}

h1,h2,h3,h4 {
    font-family: "KSansMedium","Lucida Grande","Lucida","Trebuchet MS","Arial", sans-serif;
    font-weight:normal;
}

ul, li { list-style: none;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}

.print .at15t_print,
.email .at15t_email{
    background:none;
}
.print .at300bs,
.email .at15t_email{
    background:none;
    display:inline-block;
    height:auto;
}
p, a,
.connectwithkellogg span,
#searchResults li,
aside .search form,
aside.commonSearches li,
.nav-breadcrumb li,
.nav-textsizer{
    font-family: tahoma,arial,helvetica,sans-serif;
}
#searchResults li h3 a{
    font-family: "KSansMedium","Lucida Grande","Lucida","Trebuchet MS","Arial",sans-serif;
}
.connectwithkellogg a{
    font-family: "KSansBold","Lucida Grande","Lucida","Trebuchet MS","Arial", sans-serif; 
    font-weight:normal;
}
/* ------------------- */
/* ----- HEADER ----- */
header {
    position:relative;
    height:146px;
    margin-bottom:-8px;
    background: transparent url('../img/container-header-fill.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/container-header-fill.png*/ no-repeat bottom center;
    z-index:11;
}
.logo-kelloggs {
    float:left;
    display:block;
    width:165px;
    height:58px;
    margin:20px 0px 0px 28px;
    background: transparent url('../img/logo-kelloggs.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/logo-kelloggs.png*/ no-repeat top right;
    font-size:1px;
    text-indent:-9999px;
}
.nav-locale {
    float:right;
    margin:5px 28px;
}
.nav-locale a {
    font-size:0.75em;
    color:#444;
    background: transparent url('../img/global/nav-locale-arrow.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/nav-locale-arrow.png*/ no-repeat right center;
    padding-right:8px;
}

.updatesWrapper{
    float:right;
    margin-right:30px;
    width:auto; 
    margin-top:5px;
}



.updatesWrapper .upadates{
    float:left;
    color:#444;
    font-size:10px;
    padding-top:5px;
     position:relative;
    padding-top:1px;
    display:block;
    width:400px;
}
.updatesWrapper .upadates p{
    color:#aaa;
    margin:0;
    padding:0 8px 0 0;
    text-align:right;
}


.updatesWrapper .upadates span{
    color:#6d9c32;
    display:inline-block;
    background:url(../img/icons/updates_arrow.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/updates_arrow.gif*/ no-repeat left center;
    padding-left:15px;
    margin-left:8px;
}

.updatesWrapper  .search{
    clear:left;
    float:right;
    margin-top:10px;
    position:relative;
    z-index:100;
    padding:0;
    position:relative;
}

.updatesWrapper  .search label.searchlbl{position:absolute; left:5px; cursor:auto;}
#searchSuggestion a.close {
    color: #666666;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: 8px;
    text-decoration: none;
    top: 5px;
    
}

.updatesWrapper  .search input.button{
    background:#d31145 url(../img/searchbtn_bg.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/searchbtn_bg.gif*/ no-repeat;  
    border:none;
    color:white;
    padding:3px 0;
    font-weight:bold;
    width:55px;
    height:20px;
    
}

.stockTitle{    /* new one added for stock trader*/
     position:absolute;
    width:250px;
    left:-205px;
    text-align:right;
    top:4px;
}

.stockTitle p{
    color:#444444 !important;
}


.parsys.analytics {width:200px; position:absolute; left:200px;}

#searchSuggestion{ 
    display:none;
    position:absolute;
    margin:-1px 0 0 0;
    border:1px solid #b3b3b3;
    border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright:5px;    -moz-border-radius-bottomleft:5px; -webkit-border-radius-bottomleft:5px; -webkit-border-radius-bottomRight::5px; 
    background-color:#fff;
    padding:10px;
    z-index:100;
    left:0;
    *left:5px;
    top:22px;
    width:180px;
}
#searchSuggestion ul{
    margin:0;
    padding:0;
}
#searchSuggestion li{
    display:block;
    padding:3px 0;
    
}
#searchSuggestion ul.expandSearch{
    margin-top:5px;
}
#searchSuggestion h4{
    font-weight:bold;
    margin:0;
    border-top:1px dotted #666;
    margin-top:5px;
    padding-top:5px;
    font-size:90%;
}
#searchSuggestion ul.expandSearch li  a{
    background:url(../img/icons/expand_search_bullet.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/expand_search_bullet.png*/ no-repeat left center;
    padding-left:18px;
    margin-left:2px;
}
#searchSuggestion input{
    margin-right:5px;
    float: left;
    margin-top: 4px;
}
.updatesWrapper  .search input[type="text"]{
text-indent:5px;
font-size:13px;
background:url(../img/search_textbox_bg.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/search_textbox_bg.gif*/ no-repeat;
width:155px;
height:20px;
border:none;
}



.nav-textsizer {
    font-size:0.85em;
    color:#444;
    float:left;
    background:url(../img/adjust_size_border.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/adjust_size_border.gif*/ no-repeat left top;
    padding:5px 0 10px 10px;
    margin-left:10px;
}
.nav-textsizer .default {
    cursor:pointer;
    float:left;
}
.nav-textsizer a {
    display:inline-block;
    width:13px;
    height:13px;
    margin-right:2px;
    text-indent:-9999px;
    background: transparent url('../img/global/nav-textsizer-plus.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/nav-textsizer-plus.gif*/ no-repeat center center;
}
.nav-textsizer a.minus {
    margin-right:0;
    background-image:url('../img/global/nav-textsizer-minus.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/nav-textsizer-minus.gif*/;
}

.nav-main {
    position:absolute;
    bottom:10px;
    left:0;
    padding:0;
    margin:0 9px;
    list-style: none;
}
.nav-main li {
    float:left;
    padding:0;
    margin:0;
    background: transparent url('../img/nav_bg.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/nav_bg.gif*/ no-repeat top right;
}
.nav-main li.last{
    background:none;
}
.nav-main li.home.active a {
    background: url('../img/global/nav-main-homeIcon-selected.gif.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/nav-main-homeIcon-selected.gif*/ no-repeat center;
}
.nav-main li.selected,
.nav-main li.home.active {

    background: #f5f5f5 url('../img/global/nav-main-item-selected.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/nav-main-item-selected.gif*/ repeat-y top right;
}
.nav-main li.hover {

    background-color:#f5f5f5;
}

.nav-main li a {
    display:block;
    padding:0px 24px;
    height:45px;
    color:#d31145;
    font-size:11.5px;
    font-family: "KSansBold","Lucida Grande","Lucida","Trebuchet MS","Arial", sans-serif;
    font-weight:normal;
    text-transform:uppercase;
}
.lt-ie8 .nav-main li a {
    font-size:12px;
    font-weight:bold;
}
.nav-main li.selected a {
    color:#fff;
}
.nav-main li.home a {
    background: transparent url('../img/global/nav-main-homeIcon.gif.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/nav-main-homeIcon.gif*/ no-repeat 19px center;
    text-indent:-9999px;
    font-size:1px;
    padding:0;
    width:66px;
}

/* START vertical-align fix */
.nav-main li.home a { display:block; }
header ul.nav-main li {  }
header ul.nav-main li table tr td { vertical-align: middle; padding:0 24px; height:45px; }
header ul.nav-main li table a { display:inline-block; line-height: 1.3em; padding:0; height:auto; }
/* END vertical-align fix */

.nav-main li.twoline a {
    line-height:1.1em;
    height:auto;
    padding-top:11px;
    padding-bottom:10px;
}
.nav-main li.external {
    position:relative;
    /*background: transparent url('/etc/designs/kelloggs/kelloggcompany/img/global/nav-main-item-external.gif') repeat-x top left;*/
}
.nav-main li.external a {
    padding-right:0;
    padding-left:0;
    width:155px;
    line-height:45px;
    text-align:center;
    color:#d31145;

}

.nav-main li.external a:hover {
    text-decoration:none;
}


.lt-ie9 .nav-main li.external > a {
    width:153px;
}
.nav-main li.external a span {
    background: transparent url('../img/global/nav-main-item-arrow.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/nav-main-item-arrow.png*/ no-repeat right 2px;
    padding-right:17px;
}

.nav-main li.external:hover {
    /*box-shadow: -4px -1px 4px rgba(0,0,0,0.2);*/
    background: #f5f5f5 url('../img/nav_bg.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/nav_bg.gif*/ no-repeat top left;
}
.nav-main li.external:hover ul {
    display:block;
    z-index:11;
}
.nav-main li.external:hover  a span {
    background: transparent url('../img/global/nav-main-item-arrow-down.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/nav-main-item-arrow-down.png*/ no-repeat right 5px;
    padding-right:17px;
    text-decoration:underline;
}
.nav-main li ul {
    display:none;
    position:absolute;
    top:43px;
    right:0;
    padding:0 0 12px;
    margin:0;
    width:205px;
    background: #f5f5f5 url('../img/global/divider-horz-dotted.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/divider-horz-dotted.gif*/ repeat-x left top;
    font-weight:normal;
    font-family: "Lucida Grande", "Lucida", "Trebuchet MS", "Arial", sans-serif;
    border-bottom:#d31145 2px solid;
    box-shadow: -4px 4px 4px rgba(0,0,0,0.2);
    border-bottom:2px solid #d31145;
}

.lt-ie9 .nav-main li ul {width:223px; }

.nav-main li ul li {
    float:none;
    background:none;
    background: url('../img/global/divider-horz-dotted.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/divider-horz-dotted.gif*/ repeat-x left top;
    padding-bottom:8px;
}
.nav-main li ul li a,
.nav-main li.external ul li a {
    height:auto;
    width:auto;
    padding:8px 12px 0;
    margin:0;
    color:#d31145;
    line-height:1em;
    text-transform:none;
    text-align:right;
    font-weight:normal;
    font-family: "Lucida Grande", "Lucida", "Trebuchet MS", "Arial", sans-serif;
}
/* ------------------- */
/* Historical Table*/
.centered{
    text-align:center;
}
#resultTable th {
    text-align:left;
    border-bottom:1px solid #000000;
}

.inThisSection h2{
    font-size:1.8em;
    margin:0 0 10px;
}
/*====================== Custom Dropdown  ====================*/
.cSelectbox{color:#4c4c4c; cursor:pointer; font:bold 13px arial; position:relative; padding:7px 7px 7px 0;height:20px; background:url(../img/dd_left.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/dd_left.gif*/ no-repeat left top;}
.cSelectbox .dropdown_left{ cursor:pointer; background:url(../img/icons/dropdown_arrow.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/dropdown_arrow.png*/ no-repeat 280px; width:100%;position:absolute; left:0: z-index:1000px; top:0px; height:35px;}
.cSelectbox.selectBoxSmall .dropdown_left{width:90%;}
.cSelectbox .dropdown_left  > span{padding:5px 0px 0px 10px; display:block; color:#AFAFAF;}
.cSelectbox  span{padding:0; display:inline-block;}
.cSelectbox select{opacity:0;filter: alpha(opacity = 0);height:100%;width:100%;cursor:pointer;position:absolute;left:0px;top:0px;}
.cSelectbox select option{padding:4px;color:#4c4c4c; cursor:pointer; font:normal 13px arial;}
.cSelectbox.disableSelect{background:#f0f0f0 url(Unknown_83_filename)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/selectbox-disabled-bg.gif*/ no-repeat right;}
.cSelectbox > span{white-space:nowrap; overflow:hidden;display:block;margin-right:30px;  line-height: 24px; text-align:left;}
    .cSelectbox button {position:absolute; left:295px; bottom:0px; top:0; height:35px; background:url(../img/dd_right.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/dd_right.gif*/ no-repeat right 0px; padding:5px; color:#fff; }

.selectBoxMeduim{width:290px; margin:10px 0px;}

.mondalContent h1, .mondalContent p{margin:0; padding-left:10px;} 


/* ------------------- */
/* ----- HERO ----- */
.hero-main {
    position:relative;
    top:0px;
    z-index:1;
    width:940px;
    margin:0px auto;
}
#herocarousel .contentArea .learnmore{
    background:url("../img/global/arrow_white.png")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/arrow_white.png*/ no-repeat scroll right 10px transparent;
}

.brand-main {
    position:relative;
    width:465px;
    float:left;
    background:url("../img/global/news_home_bg.png")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/news_home_bg.png*/ no-repeat scroll left top transparent;
}



/* ------------------- */
/* ----- MAIN ----- */
ul.bullet li{list-style:disc;}
.main {
    position:relative;
    /*z-index:10;*/
    background-color:blue;
    margin-bottom:28px;
    min-height:200px;
    background: transparent url('../img/container-main-fill.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/container-main-fill.png*/ repeat-y top left;
}

.container-innermain-top {
    z-index:0;
    position:absolute;
    top:-5px;
    width:100%;
    height:100px;
    background: transparent url('../img/container-main-top.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/container-main-top.png*/ no-repeat top center;
}
.container-innermain-bottom {
    z-index:0;
    position:absolute;
    bottom:-5px;
    width:100%;
    height:100px;
    background: transparent url('../img/container-main-bottom.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/container-main-bottom.png*/ no-repeat bottom center;
}
.container-innermain { position:relative; z-index:10; }
aside, article { float:left; }
aside {
    width:226px;
    margin:15px 20px 20px 28px;
}
article {
    width:700px;
    margin:15px 0px 0px 0px;
    padding:0 0 20px;
    color: #666666;
}

aside h1 { padding:0; margin:0 0 5px; color: #666666; font-size:16px; text-transform: uppercase;}
article h3 { line-height:18px; }
article h4 { font-size:1.2em; line-height:18px; margin:0 0 5px;}

.nav-aside {
    padding:0;
    margin:0;
    list-style: none;
    border-top:5px solid #d31145;
    -moz-box-shadow:     0 2px 9px 0 #D5D5D5;
    -webkit-box-shadow:  0 2px 9px 0 #D5D5D5;
    box-shadow:          0 2px 9px 0 #D5D5D5;
    font-family: "KSansMedium","Lucida Grande","Lucida","Trebuchet MS","Arial", sans-serif;
    font-weight:normal;
}
.nav-aside a{
    font-family: "KSansMedium","Lucida Grande","Lucida","Trebuchet MS","Arial", sans-serif;
}
.nav-aside li { border-left:5px solid #d31145; background: url('../img/global/divider-horz-dotted.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/divider-horz-dotted.gif*/ repeat-x 0 bottom;  margin: 1px 0; font-size:1.1em; padding:5px;}
.nav-aside li  a{ color: #d31145; }
.nav-aside li.selected  {  background:#d31145; padding:5px 0 5px 6px;}
.nav-aside li.selected  a { color: #fff; }

.nav-aside > li > ul{display:none;}
.nav-aside > li.selected > ul{display:block;}
.nav-aside li.last{background:none;}
.nav-aside li.selected ul{background:url("../img/global/divider-horz-dotted.gif")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/divider-horz-dotted.gif*/ repeat-x scroll 0 bottom white; padding:0; margin:5px 0 -5px -11px;}
.nav-aside li.selected ul li{border-left:5px solid #d5d5d5; background:none; padding:2px 0 0; margin:0; }
.nav-aside li.selected ul li a{color:#d31145; font-size:0.8em; font-weight:normal; padding-left:15px; display:block;}
.nav-aside li.selected ul li.selected a{background:url(../img/nav-aside-selected-arrow.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/nav-aside-selected-arrow.gif*/ no-repeat left top; background-position:0 4px; color:#666;}

.container-bread {
    position:relative;
    background: transparent url('../img/global/divider-horz-dotted.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/divider-horz-dotted.gif*/ repeat-x left bottom;
}
.lt-ie8 .container-bread {
    margin-top:12px;
}
.breadcrumb{width:600px; float:left;}
.nav-breadcrumb,
.nav-sharing {
    padding:0;
    margin:0;
    list-style: none;
}
.nav-sharing {
    float:right;
    margin:0;
    padding:0 0 5px;
}
.nav-breadcrumb li,
.nav-sharing li {
    display:inline-block;
}
.lt-ie8 .nav-breadcrumb li,
.lt-ie8 .nav-sharing li {
    display:inline;
}
.nav-breadcrumb {
    margin-top:10px;
    font-weight:bold;
}
.lt-ie8 .nav-breadcrumb {
    margin-top:0px;
}
.nav-breadcrumb li {
    background: transparent url('../img/global/nav-breadcrumb-arrow.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/nav-breadcrumb-arrow.png*/ no-repeat right center;
    color:#999;
    padding:0 10px 0 0;
    margin-right:10px;
}
.nav-breadcrumb li.first{
    padding-left:0px;
}
.nav-breadcrumb li.last{
    background:none;
}
.nav-breadcrumb li a {
    color:#d31145;
}

.nav-sharing li a {
    display:block;
    width:14px;
    height:14px;
    text-indent:-9999px;
    font-size:1px;
    margin:0 8px 0 0;
}
.lt-ie8 .nav-sharing li a {
    margin:0 12px 0 0;
    float:left;
}
.nav-sharing li.email a{ background: transparent url('../img/icons/email.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/email.png*/ no-repeat center; }
.nav-sharing li.print a{ background: transparent url('../img/icons/print.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/print.png*/ no-repeat center; }
.nav-sharing li.share a{ background: transparent url('../img/icons/share.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/share.png*/ no-repeat center; }
.nav-sharing li.last a {
    margin:0;
}

.locate,
.learnMore{
    display:block;
}
.locate a,
.learnMore a{
    color:#666666;
}

  /*=============================================================================
   Error Page
   ========================================================================== */

#error-contents {
    margin-top: 50px;
    min-height: 479px;
    width: 710px;
} 
#error-contents h2 {
    color: #D31145;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
}
#error-contents .error-desc {
    font-size: 14px;
    font-weight: bold;
}
 #error-contents p a{   color: #D31145; }

/* ------------------- */
/* ----- FOOTER ----- */
footer ul,
footer div.connectkellogg,
footer div.visitkellogg {
    padding:0;
    margin:0;
}
.container-footcontent {
    background: transparent url('../img/container-footer-top.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/container-footer-top.png*/ no-repeat top center;
}
.container-footcontent div.connectkellogg,
.container-footcontent div.visitkellogg {
    float:left;
    padding:15px;
    color:#d31145;
    font-size:14px;
    margin-left:20px;
}
.container-footcontent div.visitkellogg {
padding-left: 0;
}
.container-footcontent div.dt{
    padding-bottom: 10px;
    text-transform:uppercase;
    font-size:13px;
    font-family: "KSansBold","Lucida Grande","Lucida","Trebuchet MS","Arial", sans-serif;
    color:#666;
}
.container-footcontent div.dd{
    float:left;
    font-size:12px;
    margin-left:0px; 
    width:440px;
    position:relative;
}
.container-footcontent div.connectkellogg  a{ color:#D31145;}
.container-footcontent div.connectkellogg { width:440px; position:relative;}
.container-footcontent div.connectkellogg span {  float:left;  width: 210px; margin-top:-27px; color:#666; position:absolute; right:0; }
/*.container-footcontent dl.visitkellogg  ul li { list-style:none; color:#444444; display:inline;  padding:10px 7px 3px;  float: left; width: 180px;}
.container-footcontent dl.visitkellogg  ul li a { color:#d31145; background: transparent url('/etc/designs/kelloggs/kelloggcompany/img/icons/link.png') no-repeat bottom right; display: inline-block;*/ height: 15px; /*width: 165px;*/ padding-right:12px; }
.container-footcontent div.visitkellogg { width:440px;}

.container-footcontent img {  padding-right: 10px; float:left;}
.container-footlink {
    height:42px;
    background: transparent url('../img/container-footer-bottom.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/container-footer-bottom.png*/ no-repeat top center;
    color:#737373;
    font-size: 10px;
    margin-left:5px;
}
.container-footlink a { color:#737373; }
.container-footlink  span.seperator { color:#d7d7d7;}
.copywrite {
    float:left;
    padding:8px 20px;
}
.nav-footer {
    float:right;
    padding:8px 20px;
    list-style: none;
}
.nav-footer li {
    display:inline;
}
.verticalSeperator { background: transparent url('../img/global/seprarator_vertical.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/seprarator_vertical.png*/ no-repeat top center; display: block; float: left; height: 100px; width: 1px;}


.clearBoth{clear:both;}
.floatRight{float:right;}

.visit_locale{background:url(../img/visit_kellogg_dd_bg.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/visit_kellogg_dd_bg.gif*/ no-repeat; width:289px; height:35px; font-size:100%;}
.visit_locale a{padding: 6px 0 5px 10px; font-size:112%; margin:5px; display:block; color:#aaa; text-decoration:none; border:none; outline:none;}
dl.visitkellogg div.dd{position:relative;}
.visitkellogg  .locale_popup{position:absolute; border-top:3px solid #d31145; bottom:35px; z-index:11; width:290px; max-height:400px; overflow-y:auto; overflow-x:hidden;}
.visitkellogg  .locale_popup ul{background:#fff; display:block; width:290px; margin:0 auto;}
.visitkellogg  .locale_popup ul li{background: url('../img/global/divider-horz-dotted.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/divider-horz-dotted.gif*/ repeat-x 1px top; padding:8px 10px; color:#666;}
.visitkellogg  .locale_popup ul li:first-child{background:none;}
.visitkellogg  .locale_popup ul li a{color:#d31145; margin-left:5px; display:inline-block;}

/* =============================================================================
   Sitemap
   ========================================================================== */
.sitemap h1 {
    color: #47423C;
    font-size: 40px;
    margin-bottom:0;
}
.sitemap .sitemap-cols {
    display:inline-block; 
    width:700px; 
}
.sitemap p.subheading,
.sitemap h2.subheading {
    border-top:solid 1px #000; 
    padding-top:5px;
}
.sitemap h2.subtitle  {
    background:url(../img/background/bg-graydot-horiz.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/background/bg-graydot-horiz.png*/ bottom repeat-x; 
    height:35px; 
    color:#47423c;
    padding-bottom:10px;
}
.sitemap .sitemap-cols-lists {
    float:left; 
    padding-right:20px; 
    width:213px
}
.sitemap .sitemap-cols-lists ul {
    padding:0;
}
.sitemap .sitemap-cols-lists li {
    color:#47423c; 
    margin-bottom:10px;
}
.sitemap .sitemap-cols-lists li a {
    color:#d31145;
}
.sitemap .sitemap-cols-lists li a strong{
    color: #47423C;
}
.sitemap .sitemap-cols-lists li a:hover {
    color:#47423c;
}
.sitemap .sitemap-cols-lists ul li ul{
    margin-top:10px;
}
.sitemap .sitemap-cols-lists ul li ul li {
    padding-left:40px;
}
.sitemap .main-content h3 {
    font-size:100%; 
    padding-bottom:10px; 
    text-transform:uppercase;
}


/* =============================================================================

  Footer Modal overlay  & FAQ Modal Overlay
   ========================================================================== */ 
#greyout{position:fixed; top:0; left:0; width:100%; height:100%; display:none; background-color:#000000; opacity:0.8; filter:alpha(opacity=80); z-index:101;}
footer #connectWithKellogg table { background-color:#fff; width:680px;  margin:-10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
#connectWithKellogg .RegionsSpace { width:660px; min-height:156px; background-color:#fff;  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;  
    left: 25%; position: absolute; top: 200px; padding: 10px; z-index:102;}
#connectWithKellogg table td h1,
#connectWithKellogg table td p{padding:0 10px; margin-top:0;}
#connectWithKellogg{color:#666666;}
#connectWithKellogg table .country-uk, #connectWithKellogg table  .country-us{ background-color:#eee;  }
#connectWithKellogg table .headerTitle, #connectWithKellogg table  .country-us{ border-bottom: 1px dotted #ccc; }
#connectWithKellogg table  .country-us td img{padding: 0 5px 2px 0;}
#connectWithKellogg table .headerTitle {height:88px; }
#connectWithKellogg table .headerTitle h1{ color:#d31145; font-size:20px; text-transform:uppercase; text-align:left;}
#connectWithKellogg table .headerTitle th{ margin: 0; padding-left: 10px; text-align: left;}
/*#connectWithKellogg table .headerTitle th { width: 50px;}
#connectWithKellogg table .headerTitle th.title { width: 200px;}*/
#connectWithKellogg table  td { color:#666666; font-size:14px; text-align: left;}
#connectWithKellogg table  .country-us td, #connectWithKellogg table  .country-uk td { padding:10px;}
.closeModal { background: transparent url('../img/global/pink-close.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/pink-close.png*/ no-repeat scroll top right; text-indent:-999999px;  display:block; position: absolute;  text-indent: -999999px;  width:16px; height:16px; right:5px; top:5px;}

#faqModal div.faqList { background-color:#fff; height:auto; width:750px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;  
   position: absolute;  padding-bottom:10px; }
#faqModal div.faqList h1 {color:#96308b; padding-left:35px; padding-top:10px; margin:0;}
#faqModal div.faqList ul { padding-top:0;     width: 100%;}
#faqModal div.faqList ul.findAndApply  li{ border-bottom: 1px dotted #eee; border-top: 1px dotted #eee; padding: 7px 0;  width: 750px;}
#faqModal div.faqList ul.findAndApply  li p , #faqModal div.faqList ul.findAndApply  li a { float:none; width:700px; display:block;}
#faqModal div.faqList ul.findAndApply  li.openList {background-color:#f5f5f5;}
#faqModal div.faqList  span a { color:#666; padding-left:35px;}

.closeModalFaq { background: transparent url('../img/global/grey-close.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/grey-close.png*/ no-repeat scroll top right; text-indent:-999999px; display:block; float: right; margin: 6px 6px 0 0; width: 16px;}

/* =============================================================================
   Home Page 
   ========================================================================== */
article.home, article.error{
    margin-left:10px;
    width:955px;
    padding: 5px 20px 0px;
}
article.home .container-bread, article.error .container-bread{
    margin:20px 0px 15px;
}

article.brand{
    margin:10px 0 0px;
    width:955px;
    padding: 0 20px 20px;
}

article.home .minihero-area,
article.about .minihero-area{
    position:relative;
    float:left;
}

article.home .minihero,
article.about .minihero{
    float:left;
    width:220px;
    min-height:520px;
    padding:0 20px 0 0;
    background: url("../img/background/bg-rightBorder.gif")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/background/bg-rightBorder.gif*/ no-repeat scroll 230px 0px transparent;
}
article.about .minihero{
    margin-top:10px;
    min-height:260px;
}
.lt-ie8 article.about .minihero{
    min-height:280px;
}
article.home .minihero.last,
article.about .minihero.last{
    background: none;
    padding-right:0px;
}
article.home .minihero h3, 
article.home .minihero span,
article.about .minihero h3, 
article.about .minihero span{
    text-transform:uppercase;
}
article.home .minihero h3,
article.about .minihero h3{
    margin:0;
    padding:0 0 10px 0;
}
article.home .minihero a,
article.about .minihero a{
    padding:0;
    bottom:0px;
    height:30px;
    text-align:center;
    width:215px;
    cursor:pointer;
    font-weight:bold;
}
article.home .minihero a span.btnArrow,
article.about .minihero a span.btnArrow{
    background: transparent url('../img/global/btn_arrow.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/btn_arrow.gif*/ no-repeat right 9px;
    display:inline;
}
.lt-ie9 article.home .minihero a span.btnArrow,
.lt-ie9 article.about .minihero a span.btnArrow,
.mac_os article.home .minihero a span.btnArrow,
.mac_os article.about .minihero a span.btnArrow{
    background: transparent url('../img/global/btn_arrow.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/btn_arrow.gif*/ no-repeat right 8px;
}
.lt-ie8 article.home .minihero a span.btnArrow,
.lt-ie8 article.about .minihero a span.btnArrow{
    background: transparent url('../img/global/btn_arrow.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/btn_arrow.gif*/ no-repeat right 7px;
    display:inline-block;
    height:11px;
}
article.home .minihero a.pdfdownLd,
article.about .minihero a.pdfdownLd{
    display:inline-block;
    position:relative;
    text-align:left;
    width:auto;
    background: transparent url('../img/icons/icon_pdf.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/icon_pdf.gif*/ no-repeat left top;
    padding-left:20px;
}
.lt-ie8 article.home .minihero a.pdfdownLd,
.lt-ie8 article.about .minihero a.pdfdownLd{
    width:200px;
}
article.home .minihero a span.leftBdr,
article.about .minihero a span.leftBdr{
    background: transparent url('../img/button/btn-left.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/button/btn-left.gif*/ no-repeat left top;
    margin:-6px 0 -25px;
    display:block;
    height:25px;
}
article.home .minihero a span,
article.about .minihero a span{
    background: transparent url('../img/button/btn-right.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/button/btn-right.gif*/ no-repeat right top;
    padding:6px 10px 0 0;
    bottom:0px;
    height:30px;
    display:block;
    font-size:11px;
}
article.home .minihero.imgRtTextLft h3,
article.about .minihero.imgRtTextLft h3{
    padding-bottom:25px;
}
article.home .minihero p,
article.about .minihero p{
    margin: 5px 0;
}
article.about .minihero p{
    padding-bottom: 30px;
}
article.home .imgRtTextLft img,
article.about .imgRtTextLft img{
    float:right;
}
.homeNewsContainer{
    display:block;
    height:200px;
    margin:0px -26px;
    color:#666666;
}
.homeNewsContainer .companyWideNews{
    width:480px;
    height:175px;
    overflow:hidden;
    padding:0px 9px;
    background: transparent url('../img/global/news_home_bg.png')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/news_home_bg.png*/ no-repeat left top;
    float:left;
}
.homeNewsContainer .companyWideNews h4{
    margin:5px -8px 0px 0px;
    background: transparent url('../img/global/news_title_bg.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/news_title_bg.gif*/ no-repeat left top;
    color:#fff;
    padding:2px 0 0 20px;
}
.lt-ie8 .homeNewsContainer .companyWideNews h4{
    font-size:0.9em;
}    
.homeNewsContainer .companyWideNews div{
    border-bottom: 1px dotted #666666;
    height:42px;
    padding-top:5px;
    overflow:hidden;
}
.homeNewsContainer .companyWideNews div.last{
    border:0;
}
.homeNewsContainer .companyWideNews div span {
    display: inline-block;
    float:left;
    width: 335px;
    color:#444444;
}
.homeNewsContainer .companyWideNews div span:first-child {
    padding-left: 20px;
    width: 100px;
    color:#999999;
}
.homeNewsContainer .companyWideNews div a,
#brandcarousel .learnmore a{
    background: url("../img/global/btn_arrow.gif")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/btn_arrow.gif*/ no-repeat scroll right 6px transparent;
    padding-right:10px;
    display:inline-block;
}

/* Landing page top banner contentArea */
.hero-main .contentArea{
    margin: 22px;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
}
.hero-main .contentArea p,
.hero-main .contentArea .learnmore{
    color:#b51946;
}
.hero-main .contentArea h1{
    color:#96172e;
    font-size:3em;
    font-weight:bold;
    margin:5px 0px 0px;
}
.hero-main .contentArea p{
    margin-top:0px;
}
.hero-main .contentArea .learnmore{
    font-size:1.4em;
    float:right;
    padding-right:10px;
    background:url("../img/global/nav-main-item-arrow.png")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/nav-main-item-arrow.png*/ no-repeat scroll right 10px transparent
}

/* Landing Page bottom banner contentArea */
.imgbottom{
    clear:both;
    margin-bottom:10px;
    position:relative;
    top:30px;
}
 .imgbottom .contentArea{
    position:absolute;
    width:340px;
    top:0px;
    left:250px;
    margin:10px 20px;
    height:92px;
    overflow:hidden;
    color:#fff;
}

 .imgbottom .contentArea h1{
    margin:0px;
    font-size:1.3em;
}
.imgbottom .contentArea p{
    margin:0px 0px 5px;
    line-height: 1.2em;
}
 .imgbottom .contentArea .learnmore{
    background:url("../img/global/arrow_white.png")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/arrow_white.png*/ no-repeat scroll right 5px transparent;
}
.imgbottom .contentArea .learnmore a{
    padding-right:10px;
    color:#fff;
    font-weight:bold;
}

.healthTerms button{ margin-left:15px; border-radius:5px;}
.termsCheckbox{margin-right:6px;}
 /* ===== COUNTRY-LANGUAGE SELECTOR ===== */    
            .mapdesc {position:relative; z-index:1;} 
            #countryselector { position:relative; top:-50px; width:638px; margin-left:1px; 
                                height:425px; 
                                background: #F2EEE9 url(../img/location/langmap-entireMap-off-bg.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/langmap-entireMap-off-bg.png*/ no-repeat left 0px; border-radius:0px 0px 5px 5px; -moz-border-radius:0px 0px 5px 5px; -webkit-border-radius:0px 0px 5px 5px;}
            #countryselector * { text-align:left; }
            #countryselector #countryLeft { float:left; width:649px; height:425px; position:relative; padding:0px; }
            #countryselector #countryLeft h1 { color:#78736b; font-size:20px; font-weight:bold; }
                #countryselector .javascriptalert { font-size: 14px; font-weight: bold; color: #F00; line-height: 1em; display: block; margin-top: -14px; margin-bottom: 5px; }
                #countryLeft a#worldmaptitle-northamerica { top:186px; left:65px; }
                #countryLeft a#worldmaptitle-southamerica { top:339px; left:127px; }
                #countryLeft a#worldmaptitle-europeandmiddleeast { top:187px; left:248px; }
                #countryLeft a#worldmaptitle-africa { top:236px; left:238px; }
                #countryLeft a#worldmaptitle-asia { top:214px; left:480px; }
                #countryLeft a#worldmaptitle-oceania { top:327px; right:0px; }
            #countryselector #countryLeft a.btn-cta { position:absolute; background-position: left -44px; }
            #countryselector #countryLeft a.btn-cta.on{ position:absolute; background-position: left -22px;}
            #countryselector #countryLeft a.btn-cta.on:hover{ position:absolute; background-position: left -22px;}
            #countryselector #countryLeft a.btn-cta:hover { position:absolute; background-position: left -88px; }
            #countryselector #countryLeft a.btn-cta.huvver { position:absolute; background-position: left -88px; }
            #countryselector #countryLeft a.btn-cta span { background-position: right -44px }   
            #countryselector #countryLeft a.btn-cta.on span{ background-position: right -22px;}
            #countryselector #countryLeft a.btn-cta.on:hover span{ background-position: right -22px; color:#fff;}
            #countryselector #countryLeft a.btn-cta:hover span { background-position: right -88px;  font-family:"KSans","Lucida Grande","Lucida","Trebuchet MS","Arial", sans-serif;} 
            #countryselector #countryLeft a.btn-cta.huvver span{ background-position: right -88px; }
            #countryLeft a:hover{color:#ffffff !important;}

            .countrydetails > ul ,
            .countrylist ul{padding:0px;}
            .countrylist ul li{ padding:10px 0; clear:both; background: url("../img/global/divider-horz-dotted.gif")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/divider-horz-dotted.gif*/ repeat-x scroll 0 bottom transparent;}
            .countrylist{background: url("../img/global/divider-horz-dotted.gif")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/divider-horz-dotted.gif*/ repeat-x scroll 0 top transparent; padding-top:10px;}
            .countrylist ul li img{float:left; padding:10px 10px 10px 0px;}
            .countrylist ul li h3 {margin:0px; font-size:1.4em;}
            .locationsContact > span a:hover{text-decoration:underline;} 
            .locationsContact > span{width:144px; float:left; padding:10px 0 5px 10px; height:93px; overflow:hidden; background: url("../img/global/seprarator_vertical.png")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/seprarator_vertical.png*/ no-repeat scroll right top transparent; margin-top: 10px;}
            .locationsContact > span.last{ background:none;}
            .locationsContact > span a,
            .locationsContact span.phoneno{display:block;}
            .locationsContact h4{text-transform:none; font-size:1.28em;}
            .locationsContact p{margin:0; padding:0;}
            .countries .address{font-size:14px; padding-bottom: 7px; display:block;}
            a.emailAddr {word-wrap: break-word;}

             /*-- worldmap hover --*/
            #worldmap-hover-northamerica { height: 435px; width: 250px; position: absolute; left: 22px; top: 74px; background:url(../img/location/langmap_northamerica-hover.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/langmap_northamerica-hover.png*/ no-repeat 8px 20px; }
            #worldmap-hover-southamerica { height: 435px; width: 100px; position: absolute; left: 153px; top: 234px; background:url(../img/location/langmap_latinamerica-hover.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/langmap_latinamerica-hover.png*/ no-repeat 8px 20px; }
            #worldmap-hover-europeandmiddleeast { height: 435px; width: 365px; position: absolute; left: 256px; top: 90px; background:url(../img/location/langmap_europe-hover.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/langmap_europe-hover.png*/ no-repeat 8px 20px; }
            #worldmap-hover-africa { height: 435px; width: 250px; position: absolute; left: 267px; top: 194px; background:url(../img/location/langmap_africa-hover.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/langmap_africa-hover.png*/ no-repeat 8px 20px; }
            #worldmap-hover-asia { height: 435px; width: 240px; position: absolute; left: 331px; top: 158px; background:url(../img/location/langmap_asia-hover.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/langmap_asia-hover.png*/ no-repeat 8px 20px; }
            #worldmap-hover-oceania { height: 435px; width: 130px; position: absolute; left: 511px; top: 279px; background:url(../img/location/langmap_oceania-hover.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/langmap_oceania-hover.png*/ no-repeat 8px 20px; }
            
             /*-- worldmap on --*/
            #worldmap-on-northamerica { height: 435px; width: 250px; position: absolute; left: 22px; top: 74px; background:url(../img/location/langmap_northamerica-on.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/langmap_northamerica-on.png*/ no-repeat 8px 20px; }
            #worldmap-on-southamerica { height: 435px; width: 100px; position: absolute; left: 153px; top: 234px; background:url(../img/location/langmap_latinamerica-on.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/langmap_latinamerica-on.png*/ no-repeat 8px 20px; }
            #worldmap-on-europeandmiddleeast { height: 435px; width: 365px; position: absolute; left: 256px; top: 90px; background:url(../img/location/langmap_europe-on.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/langmap_europe-on.png*/ no-repeat 8px 20px; }
            #worldmap-on-africa { height: 435px; width: 250px; position: absolute; left: 267px; top: 194px; background:url(../img/location/langmap_africa-on.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/langmap_africa-on.png*/ no-repeat 8px 20px; }
            #worldmap-on-asia { height: 435px; width: 240px; position: absolute; left: 331px; top: 158px; background:url(../img/location/langmap_asia-on.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/langmap_asia-on.png*/ no-repeat 8px 20px; }
            #worldmap-on-oceania { height: 435px; width: 130px; position: absolute; left: 511px; top: 279px; background:url(../img/location/langmap_oceania-on.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/langmap_oceania-on.png*/ no-repeat 8px 20px; }
            
            /* country button */
            .btn-cta { font-size:12px; display:inline-block; height:22px; background: url(../img/location/sprite_buttonCTA_fivecolor-22tall.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/sprite_buttonCTA_fivecolor-22tall.png*/ no-repeat left 0px; padding-left:15px; color:#FFF; line-height:15px; cursor:pointer; }
            .btn-cta:hover { text-decoration:none; }
            .btn-cta span { display:inline-block; height:18px; background: url(../img/location/sprite_buttonCTA_fivecolor-22tall.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/location/sprite_buttonCTA_fivecolor-22tall.png*/ no-repeat right 0px; margin-right:-4px; padding-top:4px; padding-right:15px; line-height: 15px; }
            .btn-cta:hover span { text-decoration:none; }
            .btn-cta.darkred { background-position:left -88px; }
            .btn-cta.darkred span { background-position:right -88px; }
            .btn-cta.white { background-position:left -66px; }
            .btn-cta.white span { background-position:right -66px; }
            .btn-cta.gray { background-position:left -44px; }
            .btn-cta.gray span { background-position:right -44px; }
            .btn-cta.gold { background-position:left -22px; }
            .btn-cta.gold span { background-position:right -22px; } 
            .btn-cta.videobtn  {background-position:left -88px; }


/* ------------------- */
/* PLEASE PLACE ALL STYLES ABOVE THIS. CLEARFIX STYLES CAN GO JUST BELOW. */

/* ------------------- */
/* CLEARFIX GROUP */
/* APPLY ALL CLEARS HERE */
.container-footcontent:before,
.container-footcontent:after,
.container-innermain:before,
.container-innermain:after,
.container-bread:before,
.container-bread:after { content: ""; display: table; }
.container-footcontent:after,
.container-innermain:after,
.container-bread:after { clear: both; }
.container-footcontent,
.container-innermain,
.container-bread { *zoom: 1; }




/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  /*a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }*/
  .lt-ie9 .minihero p { float:left; width:300px; display:inline-block;}
  .lt-ie9 .minihero{float:left; }
  .lt-ie9 ul{padding:0; margin:0;}
  .lt-ie9 .minihero a{clear:both; display:block;}
  .lt-ie9 .nav-main{ float:left; margin:0; position:relative;}
  .lt-ie9 .nav-main{width:100%; padding:0; margin:0;}
  .lt-ie9 .nav-main li{float:left; display:block;  width:130px; padding:0; margin:0;} 
  .lt-ie9 .nav-main li table a{display:block; width:130px;}
  .lt-ie9 .nav-main li table tr td{padding:0; height:0px; margin:0; }
  .lt-ie9 .nav-textsizer {float:right}
  .ourPeople .peopleDesc .person h3{top:-165px;}
  .ourPeople #spotlight{margin-top:20px;}
  .ourPeople{padding-right:30px;}
  .ourPeople .peopleDesc img{float:left; margin-right:20px; }
  table{border-collapse:collapse; border:0;}
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/*========== Mega dropdown ==============*/
.megaDropDown{background:#fff; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright:5px;     -moz-border-radius-bottomleft:5px; -webkit-border-radius-bottomleft:5px; -webkit-border-radius-bottomRight::5px; position:absolute; z-index:10; width:942px; top:138px; left:27px; border-right:1px solid #ccc; border-left:1px solid #ccc; border-bottom:1px solid #ccc; }
.megaDropDown .dropdownContent{padding:25px 20px 20px; background:url(../img/overlay_content_shadow.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/overlay_content_shadow.gif*/ repeat-x left top;}
.megaDropDown .dropdownContent h2{background:#d31145;padding:5px; border-radius:5px; display:inline-block; color:#fff; font-size:100%;}
.megaDropDown .dropdownContent hr{background: url('../img/global/divider-horz-dotted.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/divider-horz-dotted.gif*/ repeat-x 0 top; border:none; width:96%; margin:0;}
.megaDropDown .dropdownContent  .col_lt{width:450px; float:left;}
.megaDropDown .dropdownContent  .col_lt ul{margin:0; padding:0;}
.megaDropDown .dropdownContent  .col_lt ul li{padding:5px 0; float:left; width:205px;}
.megaDropDown .dropdownContent  .col_lt ul li a{color:#d31145;}

.megaDropDown .dropdownContent  .col_rt{width:435px; float:left; background:#b51946; border-radius:5px; height:161px;}
.megaDropDown .dropdownContent  .col_rt img{float:left; margin-right:20px;}
.megaDropDown .dropdownContent  .col_rt h3{color:#eeaf30; font-size:18px; margin:0; padding-top:15px;}
.megaDropDown .dropdownContent  .col_rt p{padding-right:10px; color:#fff;}
.megaDropDown .dropdownContent  .col_rt span{color:#fcd900; background:url(../img/icons/overlay_more_arrow.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/overlay_more_arrow.gif*/ no-repeat right center; display:inline-block; padding-right:15px;}
.megaDropDown .dropdownContent  .col_rt span a{color:#fcd900;}
.megaDropDown a.close{ cursor: pointer;  position: absolute;  right: 10px;  top: 10px;  width:16px; height:16px; display:inline-block;  
background:url(../img/close-x.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/close-x.png*/ no-repeat left top;
}

/*========== About ==================*/


a.learnMore{background:url(../img/learnmore_arrow.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/learnmore_arrow.png*/ no-repeat right 4px; padding-right:10px; display:inline-block;}
a.learnMore.white{background:url(../img/learnmore_arrow_white.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/learnmore_arrow_white.png*/ no-repeat right 4px; color:#fff; font-weight:bold; text-decoration: none;}
a.learnMore.white:hover{text-decoration:underline;}
.blue_bottom_pod{background-color: #00abef; clear: both;  height: 109px; color:#033574; border-radius:10px;}
.blue_bottom_pod h3{font-size: 130%; margin: 0; padding: 12px 0 0 0px;}
.blue_bottom_pod p{line-height: 1.2em; margin: 0; padding:5px 0;}
.blue_bottom_pod img{ float: left; padding: 0; margin:0 10px 0 0}
hr {background: url('../img/global/divider-horz-dotted.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/global/divider-horz-dotted.gif*/ repeat-x 0 top; border:none; margin:10px 0;}

  .bottom_sections{clear:both; color:#033574;}
  .bottom_sections .section{background:#00abef; width:342px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; float:left;
    margin-right:6px;   margin-bottom:14px;}
  .bottom_sections .section.alpha{ margin-right:0px; margin-left:8px; }
  .bottom_sections .section h3{font-size: 120%; margin: 0; padding: 12px 0 0 10px; }
  .bottom_sections p{line-height: 1.2em; margin: 0; padding:5px 10px; height:30px; overflow:hidden;}
  .bottom_sections p.learnMoreBg{ height:auto;}
  .bottom_sections p.learnMoreBg{background:#033574; padding:7px 0 7px 10px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;}
  
 .banner {margin:0 auto; display:block; width:939px; height:125px; display:block;}
 /*.banner.about{background:#00abef url(/etc/designs/kelloggs/kelloggcompany/img/about_diveristy_banner.gif) no-repeat left top;}*/
 
 
 
 /*========= Brand portfolio ===============*/
article.brand  h1{
    margin:0px;
}

.brandLevels{margin-top:15px;}

 .brandlevel_alpha{clear:both;}
 .brandlevel_alpha .col_lt{width:270px; margin-right:20px; float:left; text-align:center; padding:20px 0 0 0; border: 1px dotted #AAAAAA;   position:relative;}
 .brandlevel_alpha .col_lt p{text-align:left; padding-left:10px; margin-bottom:5px;}
 .brandlevel_alpha .col_rt{width:640px; float:left; clear:right;}
 
 .brandlevel_beta, .brandlevel_gamma{margin-top:20px; clear:both; float:left; width:933px; border-left: 1px dotted #AAAAAA; }
  .brandlevel_beta ul, .brandlevel_gamma ul{padding:0; margin:0;}
  .lt-ie8 .brandlevel_beta ul li{z-index:-1;} 
  .lt-ie8 .brandlevel_gamma ul li{z-index:-2;}
    .lt-ie8 footer{z-index:11;}
    .lt-ie8 .main{z-index:0;}
    .lt-ie8 .main.brandfolio{z-index:9;}
    .ie7main{z-index:-1 !important;}
    
    
  .brandlevel_beta ul li,
  .brandlevel_gamma ul li{  float:left; padding:20px 0; text-align:center;  min-width:232px; max-width:232px; border-bottom: 1px dotted #AAAAAA; border-right: 1px dotted #AAAAAA; border-top: 1px dotted #AAAAAA;  min-height:138px; padding-top:30px; position:relative;}
  .brandlevel_gamma ul li{ padding:20px 0; min-width:154.5px; max-width:154.5px;}
  .brandlevel_beta p, .brandlevel_gamma p{text-align:left; position:absolute; bottom:5px; margin:0; left:10px;}
  
 div.availability{display:none; background:#fff; position:absolute; top:80%; z-index:1000; left:0;}
 .lt-ie8  div.availability{top:86%;}
 .lt-ie8 div#largeBrand{top:80%;} 
.availabilityContent .availabilityTitle{ background-color:#d31145; border-top-right-radius:10px; border-top-left-radius:10px; padding:3px 0 3px 10px; color:#fff;} 
.availabilityContent .availabilityTitle a{display:inline-block; background:url(../img/availability_arrow_down.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/availability_arrow_down.gif*/ no-repeat right center; padding-right:10px; color:#fff;}
.availabilityContent {background:#fff; width:270px; border:1px solid #b4b4b4; text-align:left; border-radius:10px; -moz-border-radius:10px;-webkit-border-radius:10px; box-shadow: 0px 2px 2px #ddd; }
.availabilityContent  .content{padding:0 10px; max-height:400px; overflow-y:auto; padding-bottom:10px;}
.lt-ie8 .availabilityContent .content{padding-bottom:25px;}
.availabilityContent .country span{display:inline-block; width:90%;}
.availabilityContent   .content  ul, .availabilityContent   .content  hr, .availabilityContent   .content h3, .availabilityContent   .content p, .availabilityContent   .content h2{ margin:5px 0; padding:0;}
.lt-ie8 .availabilityContent .content ul{ position:relative; }
.lt-ie8 .availabilityContent .content h2{font-size:1.4em;}
.availabilityContent   .content p{font-size:95%;}
.availabilityContent   .content h3{font-size:120%;}
.availabilityContent   .content  ul li span{clear:both; display:inline-block; width: 190px; margin-left:5px;}
.lt-ie8 .availabilityContent .content  ul li span{ width:140px; }
.availabilityContent   .content  ul li{margin:5px 0; min-height:15px !important; border:none; padding:0; text-align:left; max-width:100%;}
.availabilityContent   .content  ul li img{display:inline-block;}
.availabilityContent   p{position:static !important; padding:0; margin:0;}
.availabilityContent   .content  ul li a.first{margin-left: 25px; display:inline-block;}
a.learnMore.availability{text-decoration:none; font-family: "KSansMedium","Lucida Grande","Lucida","Trebuchet MS","Arial",sans-serif;}
a:hover.learnMore.availability{text-decoration:underline;}
.availabilityContent .country p a {font-size:11px;}
.availabilityContent .country p a.first{margin:0 0 0 20px;}

/*=========== Responsibility Links =======================*/
ul.responsiilityLinks{margin:0; padding:0; width:500px;}
ul.responsiilityLinks li{margin:6px 0; float:left; width:240px;}
ul.responsiilityLinks a{color:#d31145; font-size:130%; margin-left:15px; text-transform:uppercase;}


.benefitLinks{border-top:1px dashed #aaa; border-bottom:1px dashed #aaa; margin-top:10px;}
.benefitLinks a{border-left:1px dashed #aaa; font-size:130%;padding:10px 0; display:inline-block; width:345px; text-align:center;}
.benefitLinks a:first-child{border:none;}


/*======== Additional resources =============*/
.additionalResources{width:520px;}
.additionalResources h2{margin:0;}
.additionalResources p{display:none; padding:5px 0 0 40px; margin:0; }
.additionalResources .list-link > a{display:block; background:url(../img/icons/arrow_collapsed.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/arrow_collapsed.gif*/ no-repeat left center; padding:5px 0; padding-left:40px; font-size:110%; font-weight:bold;}
.additionalResources .list-link > a.open{background:url(../img/icons/arrow_expanded.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/arrow_expanded.gif*/ no-repeat left center;}

.additionalResources p a{background:none; display:inline-block; font-size:100%; font-weight:normal; padding:0;}

.banner.responsibility{background:#eeaf30 url(../img/responsibility_banner.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/responsibility_banner.gif*/ no-repeat;}


/* ================== nutriton  ================*/

.banner.nutrition {background:#b51946 url(../img/nutrition_banner.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/nutrition_banner.gif*/ no-repeat left top;}


/*============= Search ================*/
article div.searchPage{width:460px; float:left; margin-right:20px;}
article aside.commonSearches{width:220px; float:left; margin:0;}
div.search{ padding:10px; background:none repeat scroll 0 0 #F5F5F5;}
.search ul{padding:0;margin:0;border-radius:5px;}
.search li{ margin:3px 0;}
.search li  label{margin:0; padding:0;}
.search li span{display:inline-block; margin-top:-2px;}
.search li input{float:left; margin-right:5px;}
div.search h4{font-weight:bold;     margin:0;border-top:1px dotted #666;    margin-top:5px; padding-top:5px;    font-size:90%; }

div.search ul.expandSearch li  a{ background:url(../img/icons/expand_search_bullet.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/expand_search_bullet.png*/ no-repeat left center;  padding-left:18px;  margin-left:2px;}

aside h3{font-size:100%; font-weight:bold; margin:30px 0 0 0; }

.searchArea{position:relative; margin:10px 0;  width:270px;}
.searchArea input{border-radius:2px; -moz-border-radius:2px;-webkit-border-radius:2px; border:1px solid #ccc; padding:5px; font-size:110%; color:#aaa;  width:260px; height:19px;}
.searchArea  a.searchIcon{background:url(../img/icons/search_icon.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/search_icon.gif*/ no-repeat left top; top:0; position:absolute; right:-1px; width:34px; height:30px; display:inline-block;}
.pagination{color:#999; border-top:1px dashed #aaa; border-bottom:1px dashed #aaa; clear:both; position:relative; height:30px;}
.pagination span{position:absolute; left:0; top:5px;}
.pagination ul{ position:absolute; right:0; top:-8px;} 
.pagination ul li{float:left; padding:0 3px;}


.searchResults ul{padding:0; margin:0; margin-bottom:30px;}
.searchResults ul li{padding:8px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.searchResults ul li.evenList{background-color:#f5f5f5;}
.searchResults ul li h3{margin:5px 0; }


article aside.commonSearches ul{ background-color:#f5f5f5; padding:0; margin:0;}
article aside.commonSearches ul li{border-bottom:1px solid #fff; padding:8px; }
article aside.commonSearches h3{margin:0;}

/*================== health ==============*/
.healthTerms{background-color:#e6e6e6; padding:5px  10px 10px 10px; margin:10px 0px; height:160px; position:relative;}
label.emailLbl{position:absolute; left:25px; cursor:auto; margin-top:7px;}

.healthTerms h2, .healthTerms p{margin:10px 0; padding:0;}
.email_health{width:270px; border:1px solid #ccc; color:#aaa; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; height:30px; text-indent:10px;}
/*======= Button style =============*/
button {border: 0 none;cursor: pointer;font:bold 12px Arial, Helvetica, sans-serif;padding: 0 10px 0 0;text-align: center;height: 33px;line-height: 28px;width: auto;}
button.rounded {background: #d31145 url(Unknown_83_filename)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/btn_right.png*/ no-repeat scroll right top;clear: left; color:white;}
button span {display: block;padding: 0 0 0 10px;position: relative;white-space: nowrap;height: 33px;line-height: 33px;}
button.rounded.disabled{background: #d2d2d2; cursor:default;}
#thanksView{display:none; padding:30px 70px; height:115px;}

p a{text-decoration:underline;}
p a:hover{text-decoration:none;}
/*=====================Address=======*/
.address h3{margin-bottom:0;}
.address p{margin:0;}
/* =============================================================================
Ajax loading for search
   ========================================================================== */
.ajaxLoading {
                    background: url("../img/loading.gif")/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/loading.gif*/ no-repeat scroll 26px 27px #F2F2F2;
                    border-radius: 5px; 
                    -moz-border-radius: 5px; 
                    -webkit-border-radius: 5px;            
                    border: 1px solid #999999;
                    font-size: 12px;
                    font-weight: bold;
                    height: 57px;
                    left: 45%;
                    line-height: 54px;
                    position: absolute;
                    text-indent: 48px;
                    top: 100px;
                    width: 61px;
                    z-index: 99;
                    padding: 20px;
                }
/*** CRITICAL COMMUNICATION ***/
#error_wp{display:block;background-color:#fff;line-height:15px;padding:3px}
#error_wp a{color:#D31145}
#pf_CCErrorWrap{
    background:#FFF;
    height:auto;
    padding-left:50px;
    border:1px solid red;
    width:933px;
    margin:0 auto;
}
#pf_CCErrorWrap p img{width:18px;vertical-align:middle} 

/*Search Result Title*/
#searchResulttitle {
    font-family: "KSansMedium","Lucida Grande","Lucida","Trebuchet MS","Arial", sans-serif;
    font-weight:normal;
}

/*In Field Label Class*/
.infieldLabel {position:absolute; padding-left:5px; padding-top:5px;}
.fontWeightNormal {font-weight:normal !important;}


/* 
** new addition to the site 
*/


/* added for homepage blog */
article.home .minihero.home-blog{width:465px!important; background-position:470px 0!important;}
article.home .minihero.home-blog .blog-description{clear:both; float:none;}
article.home .minihero.home-blog .blog-description .blog-imageContainer{float:left; width:130px; padding-right:10px; padding-top:5px;}
article.home .minihero.home-blog .blog-description .blog-imageContainer img{vertical-align:top; width:100%; height:100%;}
article.home .minihero.home-blog .blog-description .blog-details{float:left; width:280px; padding-right:20px;}
article.home .minihero.home-blog .blog-description .blog-details h4{color:#d31145; font-size: 1.5em;}
article.home .minihero.home-blog .blog-description .blog-details .read-more{font-size:13px; font-weight:normal; position:static; width:auto;}
article.home .minihero.home-blog .blog-description .blog-details .read-more:after{content:" >";}

/* added for article */

.title.article h1{color:#d31145; font-size:36px; margin-bottom:0;}
.title.article .date-details{font-size:14px; color:#666666;}
.title.article .social-share{padding:15px 0;}
.title.article .social-share a{float:left; margin-right:10px; display:inline-block}

/* blogs */
.blog-article{font-size:15px; color:#666666; line-height:24px; }
.blog-article p{ margin-bottom:20px;}
.blog-article .asset-container{float:right; margin:0 0 20px 30px;}
.category-list a{font-size:18px;}

/* filter and pagination */
.filterNpagination{padding:20px 0 0 0;}
.filterNpagination .filter{float:left}
.filterNpagination .filter label{font-size:13px; color:#666666; margin-right:20px; float: left; padding-top: 6px;}
.filterNpagination .filter option{padding:2px 5px;}
.filterNpagination .dk_wrap:after{background: url('../img/custom-dropdown.gif')/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/custom-dropdown.gif*/ no-repeat right center; width: 27px; height: 34px; right:-5px; top: -5px;}

.filterNpagination .blog-pagination{float:right; margin-top:6px;}
.filterNpagination .blog-pagination a.prev:before{content:'< ';}
.filterNpagination .blog-pagination a.next:after{content:' >';}
.filterNpagination .blog-pagination a:hover{text-decoration:none;}  

/* added for articles */
.articles .article{padding:0;}
.articles .article:last-child{padding-bottom:30px;}
.articles .article h3{font-size:24px; padding:10px 0; color:#d31145; margin-bottom:0;}
.articles .article p{line-height:21px;}
.articles .article .read-more:after{content:' >';}

/* left navigation */
.container-innermain aside .leftnavig h1, .container-innermain aside .leftnavig a.backLink {font-size: 24px; margin-top: 10px; color: #d31145; text-transform: none; text-decoration: none;}
.container-innermain aside .leftnavig h2 {font-size: 14px; margin-bottom: 0; color: #888; font-weight: bold;}
.container-innermain aside .leftnavig .view-all:before{content:'< ';}
.container-innermain aside .leftnavig ul.latest-articles-aside {padding: 0; margin-top: 15px; margin-bottom:0;}
.container-innermain aside .leftnavig ul.latest-articles-aside p {margin: 0; font-size: 14px;}
.container-innermain aside .leftnavig ul.latest-articles-aside li {margin: 25px 0; }
.container-innermain aside .leftnavig ul.latest-articles-aside li.first {margin-top: 0;}
.container-innermain aside .leftnavig ul.latest-articles-aside li p.latestBlogTitle {color: #d31145}
.container-innermain aside .leftnavig ul.latest-articles-aside li p.latestBlogDate {color: #666666;}

/* Modal Window for image and video */
#assetContainerModal {display:none;}
#assetContainerModal img {width: 100%; max-height: 100%;}
#assetContainerModal iframe {overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px;}

/* Overlay */
#simplemodal-overlay,
.simplemodal-overlay{background:#000!important;}
/* Container */
#simplemodal-container {color:#bbb; background-color:#333; border:10px solid #FFF; padding:0;}
#simplemodal-container .simplemodal-data {padding:0;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/close.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/close.png*/ no-repeat; width:35px; height:38px; display:inline; z-index:3200; position:absolute; top:-15px; right: -18px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}

.additionalResources .list-link>a {
    display: block;
    background: url(../img/icons/arrow_collapsed.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/arrow_collapsed.gif*/ no-repeat left center;
    padding: 5px 0;
    padding-left: 40px;
    font-size: 130%;
    font-family: "KSansBold","Lucida Grande","Lucida","Trebuchet MS","Arial",sans-serif;
}

.whoWeAre .head-title {
    font-size: 40px;
    color: #c90033;
    margin: 0;
    padding: 0;
}

.whoWeAre .welcome {
    color: #c90033;
    font-family: "KSansBold","Lucida Grande","Lucida","Trebuchet MS","Arial",sans-serif;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

figure.right {
    float: right;
    padding-left: 20px;
    margin-top: 0px;
}

.additionalResources .list-link > a.open {
    background: url(../img/icons/arrow_expanded.gif)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/icons/arrow_expanded.gif*/ no-repeat left center;
}

.additionalResources .list-link p {
    display: block;
}

.additionalResources p a {
    background: none;
    display: inline-block;
    font-size: 100%;
    font-weight: normal;
    padding: 0;
}

.download-wrapper .left {
    float: left;
    margin-right: 10px;
    text-align: center;
}

.download-wrapper .right {
    float: right;
}

#blackout {
    background: #000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    filter: alpha(opacity=80);
    opacity: .8;
    z-index: 10000;
}
/*
#modalContainer {
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.85);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.85);
    display: none;
    height: 573px !important;
    left: 50% !important;
    margin-left: -469px !important;
    margin-top: -286px !important;
    position: fixed !important;
    top: 50% !important;
    width: 938px !important;
    z-index: 10001; 
}
*/
.modalheader {
    background: #f0e9e3;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    height: 40px; 
}
#modalHTML {
    background: #fff;
    margin: 0;
    overflow: hidden;
    padding: 0; 
}

#modalContainer .modal_content .btn_modalclose {
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    top: 15px;
    right: 14px;
    text-decoration: none;
    background: url(../img/close-x.png)/*tpa=http://www.kelloggcompany.com/etc/designs/kelloggs/kelloggcompany/img/close-x.png*/ 0 0 no-repeat !important;
}
#modalHTML iframe {
    display: block; 
}

.home-blog {
height: 254px;
}

span.date {
    text-transform: none !important;
}



/* Defect Fix for Image text wrap around */
article img.text-wrap-left {
    float: left;
    margin: 10px 10px 5px 0;
}
article img.text-wrap-right {
    float: right;
    margin: 10px 10px 5px 0;
}
article .richtext img {
    float: left;
    margin: 10px 10px 5px 0;
}

/* Defect: 1034 */
.homepageblogteaser {
height: 150px;
}

.blog-small-right {
    margin-bottom: 10px;
    min-height: 250px;
    position: relative;
}
.blog-small-right > a{
    position: absolute;
}

.overlayStyle{
overflow: hidden !important;
}

.leftnavigblog.leftnav > img {
    max-height: 100px;
    max-width: 220px;
}

div.simplemodel-video{
    height:360px !important;
    width:600px !important;
    left: 30% !important;
    top: 25% !important;
    color:#bbb; background-color:#333;
    border:10px solid #FFF; padding:0;
}