.w1 {min-height:100%;}
.gui-page w1{min-height:0;}
#wrapper .w2 {padding-bottom:expression(document.getElementById("footer").offsetHeight + "px");}
.gui-page #wrapper .w2{padding-bottom:0;}
#main{
	padding-bottom:95px;
}
#footer{
	position:relative;
	margin-top:expression(- this.offsetHeight + "px");
}
.gui-page #footer{margin-top:0;}
.block-holder .quotes q span{
	margin:-17px -10px -40px 0;
}
.block-holder .holder{
	min-height:291px;
	height:auto;
	display:block;
}
.block-meet,
.block-holder .quotes{
	margin-top: expression(this.parentNode.offsetHeight > this.offsetHeight ? ((this.parentNode.offsetHeight-this.offsetHeight)/2 + "px") : "0");
	float:left;
}
.block-holder .quotes{float:right;}
