/* ==========================================================================
   Print styles
   ========================================================================== */


    * {
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    #col-right a,
    #col-right a:visited {
        text-decoration: underline;
    }

    #col-right a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    /*--------------  specific styles ----------------*/


     h2{
           font-size:20px;
     }
     h3{font-size:18px;}
    .img-float-left {
        float:left; margin:10px 10px 10px 0;
    }

    .img-float-right {
        float:right; margin:10px 0 10px 10px;
    }


    ul#social, #utility, footer, #main-nav{
        display:none;
    }

    #theme-image{display:none;}
    #container{
        width:90%;
        margin:0 auto;
    }
    
    
    #col-left[style] {height:74px !important;display:block;}

    #col-right,#col-left{float:none;}
    h1{
        position:absolute;
        top:30px;
        left:220px;
        width:559px;
    }
    #home-content{position:absolute; left:100px; top:30px;}
    #home-content h1{position:static;}
    /*---  Accordion -----*/
    .ui-accordion-content[style]{display:block !important;}
    

    .slides_control{width:819px !important; left:0 !important;overflow:visible !important;}
    .slides_container{overflow:visible !important;}
    .slide .link{display:none;}
    .slide{
        display:block !important;
        position:static !important;left:0 !important;
        clear:both;
        margin:0 0 20px;
        *zoom: 1;
    }

    /** from clearfix **/
    .slide:before, .slide:after { content: ""; display: table; }
    .slide:after { clear: both; }

    .slide img{
        float:left;
    }
    .slide .tip{
        width:479px;
        float:right;
    }
    #slides .pagination{
        display:none;
    }
    #consumer .slide img {float:none;}


    .open-tray{
        display:none;
    }
    .next,.prev{
        display:none;
    }

    
   