div#searchBarTop,div#searchBarBtm{z-index:0;}
select{height:19px;}
.leftNavExtend{height:360px;}
.legendPad{padding-right:120px!important;}
#topsRelated .topsHeader{width:173px;}
#search .loadingSearch{top:6px;}
.qtip-oreilly .qtip-title{-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;position:relative;top:0;left:0;}
.qtip-oreilly .qtip-contentWrapper{background:#A29B84!important;}
.qtip-oreilly .qtip-content{margin-top:5px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}
#mainContentContainer{overflow:auto;}