.level0-alerts {
    background: #0089C4;
    font-size: 13px;
    height: 25px;
    line-height: 16px;
    margin: auto;
    position: relative;
    width: 980px;
	z-index: 200;
}

.level0-alerts ul li {
    display: none;
    overflow: auto;
    padding-left: 5px;
    width: 785px;
}

.level0-alerts ul li .alert-icon {
    float: left;
    height: 25px;
    padding: 1px 0 2px 5px;
    width: 32px;
}

.level0-alerts ul li .alert-icon a {
    cursor: default;
}

.level0-alerts ul li .alert-icon img {
    height: 25px;
    width: 32px;
}

.level0-alerts ul li .alert-type {
    color: #FF6600;
    float: left;
    font-weight: bold;
    line-height: 28px;
    padding: 0 0 0 10px;
}

.level0-alerts ul li .alert-type a {
    color: #FFFFFF;
}

.level0-alerts ul li .alert-text a {
    color: #FFFFFF;
    float: left;
    font-weight: normal;
    line-height: 28px;
    padding: 0 0 0 10px;
}

.level0-alerts .alerts-controls {
    background: url("../images/level0/alerts-toggle-icon.png")/*tpa=http://www.pge.com/includes/images/level0/alerts-toggle-icon.png*/ no-repeat scroll 12px 0;
    border-left: 1px solid #FFFFFF;
    bottom: 0;
    display: none;
    line-height: 16px;
    padding: 5px 0 11px 50px;
    position: absolute;
    right: 25px;
    top: 0;
}

.level0-alerts .alerts-controls .alerts-toggle {
    background: url("../../resources/images/an_c2-tab-top-nav/arrow-down-white.gif")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/arrow-down-white.gif*/ no-repeat scroll 100% 50%;
    color: #FFFFFF;
    display: block;
    height: 16px;
    padding: 0 25px 0 0;
    width: 50px;
}

.level0-alerts-expanded .alerts-controls .alerts-toggle {
    background: url("../../resources/images/an_c2-tab-top-nav/arrow-up-white.gif")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/arrow-up-white.gif*/ no-repeat scroll 100% 50%;
    width: 1px;
}

.level0-alerts-expanded .alerts-controls .alerts-toggle span {
    display: none;
}

.level0-alerts-expanded .alerts-controls {
    background-image: none;
    border-left: 0 none;
}

div.level0-alerts ul li {
    width: 950px;
}

.level0-alerts-expanded-2 {
    height: 55px;
}
.level0-alerts-expanded-3 {
    height: 84px;
}
.level0-alerts-expanded-4 {
    height: 110px;
}
.level0-alerts-expanded-5 {
    height: 140px;
}
.level0-alerts-expanded-6 {
    height: 168px;
}
.level0-alerts-expanded-7 {
    height: 196px;
}
.level0-alerts-expanded-8 {
    height: 224px;
}
.level0-alerts-expanded-9 {
    height: 252px;
}