#universe-pop-container .press-release-video .social-links {
  float: right;
  margin: 0px;
  padding: 0px;
  margin-left: 40px;
}
#universe-pop-container .press-release-video .social-links li {
  margin: 0px;
  padding: 0px;
}
.video-play-hover,
.video-popup-thumb {
  cursor: pointer;
}

.field-name-field-youtube-video iframe {
  width: 720px;
  height: 415px;
}