/************************************
* Reset Trick
*************************************/
* {
	margin: 0px;
	padding: 0px;
}
/************************************
* Layout
*************************************/


html{
	height:100%;
	margin-bottom:1px;
}
body {
	font-family: arial, sans-serif;
	/*font-size: 62.5%;*/
	background: #ffffff;
	color:#66605c;
}
img, a img, fieldset {
	border: none;
}
a {
	color: #66605c;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a, a:focus{
	outline:none;
}
p {
	font-size: 10pt;
}
ul {
	list-style: none;
}
ul li {
	padding:0;
	margin:0;
}
label, input {
	font-size: 8pt;
	color:#959595;
}

p{
	margin-bottom:10px;
}
/************************************
* Headers
*************************************/


h2 {
	color:#01578f;
	font-size: 19pt;
}
h3 {
	color:#01578f;
	font-size:9pt;
}
h4 {
	color:#01578f;
	font-size:9pt;
}
h5 {
	color:#01578f;
	font-size:8pt;
}
h6 {
	color:#01578f;
	font-size:7pt;
}
