/*

	 C O R P O R A T E
	-------------------
	 grids.css
	
*/
@media screen and (min-width: 600px){
	
	#header-wrap {
		float: left;
		width: 100%;
	}

	#header,
	#content,
	#footer {
		clear: both;
		margin: 0 auto;
	}

	#header,
	#content {
		width: 978px;
	}

	#footer {
		width: 972px;
	}

	/*----------------------------------------------
	= header
	================================================ */
	#header {
		padding: 11px 0 37px;
	}

	#logo {
		float: left;
		margin: 6px 0 0 10px;
	}

	#site-search {
		float: right;
		width: 200px;
	}

	#header .nav-sub {
		float: right;
		margin-top: 2px;
		width: 185px;
	}

	#header .nav-sub li {
		float: left;
		margin-right: 7px;
	}

	#nav-main {
		clear: right;
		float: right;
		margin-top: 8px;
	}

	#nav-main li {
		float: left;
		margin-right: 20px;
	}

	#nav-main a {
		padding: 3px;
	}

	#nav-main li:last-child {
		margin: 0;
	}

	/*----------------------------------------------
	= content
	================================================ */
	#content,
	#content-head {
		position: relative;
		top: -32px;
	}

	#interior #content {
		width: 970px;
	}

	#content-head {
		clear: both;
		padding: 0px 8px 10px;
		margin: 0 auto;
		width: 962px;
	}

	#home #content-main {
		height: 560px;
		width: 970px;
	}

	#interior #content-main,
	#content-sub {
		position: relative;	
	}

	#interior #content-main {
		float: left;
		margin-left: 4px;
		padding: 0 48px;
		top: -42px;
		width: 608px;
		z-index: 5;
	}

	#content-sub {
		float: right;
		top: -77px;
		padding: 20px 12px 0 12px;
		width: 221px;
	}

	#section { position: relative; z-index: 0; }

	#search-results-wrap { padding-bottom: 60px; }

	/*----------------------------------------------
	= footer
	================================================ */
	#site-info {
		float: left;
		margin: 30px 0 60px 10px;
		width: 304px;
	}

	#footer .nav-sub {
		float: right;
		margin: 18px 10px 0 0;
		width: 634px;
	}

	#home #footer {
		padding-bottom: 32px;
	}

	#interior #footer {
		position: relative;
		top: -32px;
	}

	/*----------------------------------------------
	= OOCSS
	  http://oocss.org
	================================================ */
	.mod { margin: 10px; }

	.unit { float: left; }

	.col1 { width: 100%; }

	.col2 {	width: 50%; }

	.col3 {	width: 33.3333%; }

	.col4 {	width: 25%; }

	.col5 {	width: 20%; }
}