@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-weight: 400;
  src: local('Lusitana'), url(../fonts.gstatic.com/s/lusitana/v4/h_1ZjHXv2tOhJGwbefP69vesZW2xOQ-xsNqO47m55DA.woff2)/*tpa=https://fonts.gstatic.com/s/lusitana/v4/h_1ZjHXv2tOhJGwbefP69vesZW2xOQ-xsNqO47m55DA.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lusitana/v4/tAIvAkRzqMJf8Y4fM1R7PfesZW2xOQ-xsNqO47m55DA.woff)/*tpa=https://fonts.gstatic.com/s/lusitana/v4/tAIvAkRzqMJf8Y4fM1R7PfesZW2xOQ-xsNqO47m55DA.woff*/ format('woff');
}
