@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Alegreya Sans Light'), local('AlegreyaSans-Light'), url(../fonts.gstatic.com/s/alegreyasans/v3/11EDm-lum6tskJMBbdy9aeNC-0xib1SK7Oln1iLdt4o.woff2)/*tpa=http://fonts.gstatic.com/s/alegreyasans/v3/11EDm-lum6tskJMBbdy9aeNC-0xib1SK7Oln1iLdt4o.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/alegreyasans/v3/11EDm-lum6tskJMBbdy9aaWGgEO1vGR9ucXjKCo8vxU.woff)/*tpa=http://fonts.gstatic.com/s/alegreyasans/v3/11EDm-lum6tskJMBbdy9aaWGgEO1vGR9ucXjKCo8vxU.woff*/ format('woff');
}
