@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2)/*tpa=http://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/KT3KS9Aol4WfR6Vas8kNcg.woff)/*tpa=http://fonts.gstatic.com/s/lato/v11/KT3KS9Aol4WfR6Vas8kNcg.woff*/ format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2)/*tpa=http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff)/*tpa=http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff*/ format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2)/*tpa=http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff)/*tpa=http://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff*/ format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(../fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2)/*tpa=http://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/BVtM30trf7q_jfqYeHfjtA.woff)/*tpa=http://fonts.gstatic.com/s/lato/v11/BVtM30trf7q_jfqYeHfjtA.woff*/ format('woff');
}
