@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg-1.woff2)/*tpa=https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/KT3KS9Aol4WfR6Vas8kNcg-1.woff)/*tpa=https://fonts.gstatic.com/s/lato/v11/KT3KS9Aol4WfR6Vas8kNcg.woff*/ format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA-1.woff2)/*tpa=https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg-1.woff)/*tpa=https://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff*/ format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA-1.woff2)/*tpa=https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ-1.woff)/*tpa=https://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff*/ format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(../fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg-1.woff2)/*tpa=https://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/BVtM30trf7q_jfqYeHfjtA-1.woff)/*tpa=https://fonts.gstatic.com/s/lato/v11/BVtM30trf7q_jfqYeHfjtA.woff*/ format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(../fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ-1.woff2)/*tpa=https://fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/oUan5VrEkpzIazlUe5ieaA-1.woff)/*tpa=https://fonts.gstatic.com/s/lato/v11/oUan5VrEkpzIazlUe5ieaA.woff*/ format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(../fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYEFtXRa8TVwTICgirnJhmVJw-1.woff2)/*tpa=https://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYEFtXRa8TVwTICgirnJhmVJw.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw-1.woff)/*tpa=https://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw.woff*/ format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(../fonts.gstatic.com/s/lato/v11/VNUH7ZAcagYBWsAiBBCEY1tXRa8TVwTICgirnJhmVJw-1.woff2)/*tpa=https://fonts.gstatic.com/s/lato/v11/VNUH7ZAcagYBWsAiBBCEY1tXRa8TVwTICgirnJhmVJw.woff2*/ format('woff2'), url(../fonts.gstatic.com/s/lato/v11/VNUH7ZAcagYBWsAiBBCEYz8E0i7KZn-EPnyo3HZu7kw-1.woff)/*tpa=https://fonts.gstatic.com/s/lato/v11/VNUH7ZAcagYBWsAiBBCEYz8E0i7KZn-EPnyo3HZu7kw.woff*/ format('woff');
}
