/*!jQuery UI - v1.9.1 - 2012-11-12 * http://jqueryui.com * Includes:jquery.ui.core.css,jquery.ui.resizable.css,jquery.ui.selectable.css,jquery.ui.accordion.css,jquery.ui.autocomplete.css,jquery.ui.button.css,jquery.ui.datepicker.css,jquery.ui.dialog.css,jquery.ui.menu.css,jquery.ui.progressbar.css,jquery.ui.slider.css,jquery.ui.spinner.css,jquery.ui.tabs.css,jquery.ui.tooltip.css * To view and modify this theme,visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=4f7321&fcActive=4f7321&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px * Copyright(c) 2012 jQuery Foundation and other contributors Licensed MIT */ .ui-helper-hidden{display:none;}
.ui-helper-hidden-accessible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);}
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}
.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;}
.ui-helper-clearfix:after{clear:both;}
.ui-helper-clearfix{zoom:1;}
.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}
.ui-state-disabled{cursor:default!important;}
.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}
.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%;}
.ui-resizable{position:relative;}
.ui-resizable-handle{position:absolute;font-size:.1px;display:block;}
.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none;}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0;}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0;}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%;}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%;}
.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px;}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px;}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px;}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px;}
.ui-selectable-helper{position:absolute;z-index:100;border:1px dotted black;}
.ui-accordion .ui-accordion-header{display:block;cursor:pointer;position:relative;margin-top:2px;padding:.5em .5em .5em .7em;zoom:1;}
.ui-accordion .ui-accordion-icons{padding-left:2.2em;}
.ui-accordion .ui-accordion-noicons{padding-left:.7em;}
.ui-accordion .ui-accordion-icons .ui-accordion-icons{padding-left:2.2em;}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon{position:absolute;left:.5em;top:50%;margin-top:-8px;}
.ui-accordion .ui-accordion-content{padding:1em 2.2em;border-top:0;overflow:auto;zoom:1;}
.ui-autocomplete{position:absolute;top:0;cursor:default;}
* html .ui-autocomplete{width:1px;}
.ui-button{display:inline-block;position:relative;padding:0;margin-right:.1em;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
.ui-button,.ui-button:link,.ui-button:visited,.ui-button:hover,.ui-button:active{text-decoration:none;}
.ui-button-icon-only{width:2.2em;}
button.ui-button-icon-only{width:2.4em;}
.ui-button-icons-only{width:3.4em;}
button.ui-button-icons-only{width:3.7em;}
.ui-button .ui-button-text{display:block;line-height:1.4;}
.ui-button-text-only .ui-button-text{padding:.4em 1em;}
.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px;}
.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em;}
.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em;}
.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em;}
input.ui-button{padding:.4em 1em;}
.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon{position:absolute;top:50%;margin-top:-8px;}
.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px;}
.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary{left:.5em;}
.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em;}
.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em;}
.ui-buttonset{margin-right:7px;}
.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em;}
button.ui-button::-moz-focus-inner{border:0;padding:0;}
.ui-datepicker{width:17em;padding:.2em .2em 0;display:none;}
.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0;}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em;}
.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px;}
.ui-datepicker .ui-datepicker-prev{left:2px;}
.ui-datepicker .ui-datepicker-next{right:2px;}
.ui-datepicker .ui-datepicker-prev-hover{left:1px;}
.ui-datepicker .ui-datepicker-next-hover{right:1px;}
.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px;}
.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center;}
.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0;}
.ui-datepicker select.ui-datepicker-month-year{width:100%;}
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%;}
.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em;}
.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0;}
.ui-datepicker td{border:0;padding:1px;}
.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none;}
.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0;}
.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left;}
.ui-datepicker.ui-datepicker-multi{width:auto;}
.ui-datepicker-multi .ui-datepicker-group{float:left;}
.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em;}
.ui-datepicker-multi-2 .ui-datepicker-group{width:50%;}
.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%;}
.ui-datepicker-multi-4 .ui-datepicker-group{width:25%;}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{border-left-width:0;}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0;}
.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left;}
.ui-datepicker-row-break{clear:both;width:100%;font-size:0;}
.ui-datepicker-rtl{direction:rtl;}
.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto;}
.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto;}
.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto;}
.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto;}
.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current{float:right;}
.ui-datepicker-rtl .ui-datepicker-group{float:right;}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{border-right-width:0;border-left-width:1px;}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px;}
.ui-datepicker-cover{position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:200px;height:200px;}
.ui-dialog{position:absolute;padding:.2em;width:300px;overflow:hidden;}
.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative;}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .1em 0;}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:19px;margin:-10px 0 0 0;padding:1px;height:18px;}
.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px;}
.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{padding:0;}
.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:none;overflow:auto;zoom:1;}
.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin:.5em 0 0 0;padding:.3em 1em .5em .4em;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right;}
.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer;}
.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px;}
.ui-draggable .ui-dialog-titlebar{cursor:move;}
.ui-menu{list-style:none;padding:2px;margin:0;display:block;outline:none;}
.ui-menu .ui-menu{margin-top:-3px;position:absolute;}
.ui-menu .ui-menu-item{margin:0;padding:0;zoom:1;width:100%;}
.ui-menu .ui-menu-divider{margin:5px -2px 5px -2px;height:0;font-size:0;line-height:0;border-width:1px 0 0 0;}
.ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:2px .4em;line-height:1.5;zoom:1;font-weight:normal;}
.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-active{font-weight:normal;margin:-1px;}
.ui-menu .ui-state-disabled{font-weight:normal;margin:.4em 0 .2em;line-height:1.5;}
.ui-menu .ui-state-disabled a{cursor:default;}
.ui-menu-icons{position:relative;}
.ui-menu-icons .ui-menu-item a{position:relative;padding-left:2em;}
.ui-menu .ui-icon{position:absolute;top:.2em;left:.2em;}
.ui-menu .ui-menu-icon{position:static;float:right;}
.ui-progressbar{height:2em;text-align:left;overflow:hidden;}
.ui-progressbar .ui-progressbar-value{margin:-1px;height:100%;}
.ui-slider{position:relative;text-align:left;}
.ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default;}
.ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0;}
.ui-slider-horizontal{height:.8em;}
.ui-slider-horizontal .ui-slider-handle{top:-.3em;margin-left:-.6em;}
.ui-slider-horizontal .ui-slider-range{top:0;height:100%;}
.ui-slider-horizontal .ui-slider-range-min{left:0;}
.ui-slider-horizontal .ui-slider-range-max{right:0;}
.ui-slider-vertical{width:.8em;height:100px;}
.ui-slider-vertical .ui-slider-handle{left:-.3em;margin-left:0;margin-bottom:-.6em;}
.ui-slider-vertical .ui-slider-range{left:0;width:100%;}
.ui-slider-vertical .ui-slider-range-min{bottom:0;}
.ui-slider-vertical .ui-slider-range-max{top:0;}
.ui-spinner{position:relative;display:inline-block;overflow:hidden;padding:0;vertical-align:middle;}
.ui-spinner-input{border:none;background:none;padding:0;margin:.2em 0;vertical-align:middle;margin-left:.4em;margin-right:22px;}
.ui-spinner-button{width:16px;height:50%;font-size:.5em;padding:0;margin:0;text-align:center;position:absolute;cursor:default;display:block;overflow:hidden;right:0;}
.ui-spinner a.ui-spinner-button{border-top:none;border-bottom:none;border-right:none;}
.ui-spinner .ui-icon{position:absolute;margin-top:-8px;top:50%;left:0;}
.ui-spinner-up{top:0;}
.ui-spinner-down{bottom:0;}
.ui-spinner .ui-icon-triangle-1-s{background-position:-65px -16px;}
.ui-tabs{position:relative;padding:.2em;zoom:1;}
.ui-tabs .ui-tabs-nav{margin:0;padding:.2em .2em 0;}
.ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;top:0;margin:1px .2em 0 0;border-bottom:0;padding:0;white-space:nowrap;}
.ui-tabs .ui-tabs-nav li a{float:left;padding:.5em 1em;text-decoration:none;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{margin-bottom:-1px;padding-bottom:1px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-tabs-loading a{cursor:text;}
.ui-tabs .ui-tabs-nav li a,.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a{cursor:pointer;}
.ui-tabs .ui-tabs-panel{display:block;border-width:0;padding:1em 1.4em;background:none;}
.ui-tooltip{padding:8px;position:absolute;z-index:9999;max-width:300px;-webkit-box-shadow:0 0 5px #aaa;box-shadow:0 0 5px #aaa;}
* html .ui-tooltip{background-image:none;}
body .ui-tooltip{border-width:2px;}
.ui-widget{font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size:1.1em;}
.ui-widget .ui-widget{font-size:1em;}
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size:1em;}
.ui-widget-content{border:1px solid #ddd;background:#eee url(jquery-ui/css/images/ui-bg_highlight-soft_100_eeeeee_1x100.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-bg_highlight-soft_100_eeeeee_1x100.png*/ 50% top repeat-x;color:#333;}
.ui-widget-content a{color:#333;}
.ui-widget-header{border:1px solid #e78f08;background:#f6a828 url(jquery-ui/css/images/ui-bg_gloss-wave_35_f6a828_500x100.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-bg_gloss-wave_35_f6a828_500x100.png*/ 50% 50% repeat-x;color:#fff;font-weight:bold;}
.ui-widget-header a{color:#fff;}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #ccc;background:#f6f6f6 url(jquery-ui/css/images/ui-bg_glass_100_f6f6f6_1x400.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-bg_glass_100_f6f6f6_1x400.png*/ 50% 50% repeat-x;font-weight:bold;color:#5c8727;}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#5c8727;text-decoration:none;}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover{border:1px solid #ccc;background:#5c8727;font-weight:bold;color:#fff;}
.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited{color:#fff!important;text-decoration:none;}
.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all.ui-accordion-icons.ui-state-hover{color:#fff!important;}
.ui-state-active.ui-state-hover{color:#fff!important;}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border-bottom:none;border-top:1px solid #ccc;border-right:1px solid #ccc;border-left:1px solid #ccc;font-weight:bold;color:#4f7321;}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#4f7321;text-decoration:none;}
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fed22f;background:#ffe45c url(jquery-ui/css/images/ui-bg_highlight-soft_75_ffe45c_1x100.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-bg_highlight-soft_75_ffe45c_1x100.png*/ 50% top repeat-x;color:#363636;}
.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636;}
.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#b81900 url(jquery-ui/css/images/ui-bg_diagonals-thick_18_b81900_40x40.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-bg_diagonals-thick_18_b81900_40x40.png*/ 50% 50% repeat;color:#fff;}
.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#fff;}
.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#fff;}
.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold;}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal;}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none;}
.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35);}
.ui-icon{width:16px;height:16px;background-image:url(jquery-ui/css/images/ui-icons_222222_256x240.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-icons_222222_256x240.png*/;}
.ui-widget-content .ui-icon{background-image:url(jquery-ui/css/images/ui-icons_222222_256x240.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-icons_222222_256x240.png*/;}
.ui-widget-header .ui-icon{background-image:url(jquery-ui/css/images/ui-icons_ffffff_256x240.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-icons_ffffff_256x240.png*/;}
.ui-state-default .ui-icon{background-image:url(jquery-ui/css/images/ui-icons_CF4520_256x240.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-icons_CF4520_256x240.png*/;}
.ui-state-active .ui-icon,.ui-state-focus.ui-state-active .ui-icon{background-image:url(jquery-ui/css/images/ui-icons_CF4520_256x240.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-icons_CF4520_256x240.png*/;}
.ui-state-hover .ui-icon{background-image:url(jquery-ui/css/images/ui-icons_ffffff_256x240.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-icons_ffffff_256x240.png*/;}
.ui-state-hover.ui-state-active .ui-icon{background-image:url(jquery-ui/css/images/ui-icons_ffffff_256x240.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-icons_ffffff_256x240.png*/;}
.ui-state-highlight .ui-icon{background-image:url(jquery-ui/css/images/ui-icons_228ef1_256x240.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-icons_228ef1_256x240.png*/;}
.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(jquery-ui/css/images/ui-icons_ffd27a_256x240.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-icons_ffd27a_256x240.png*/;}
.ui-icon-carat-1-n{background-position:0 0;}
.ui-icon-carat-1-ne{background-position:-16px 0;}
.ui-icon-carat-1-e{background-position:-32px 0;}
.ui-icon-carat-1-se{background-position:-48px 0;}
.ui-icon-carat-1-s{background-position:-64px 0;}
.ui-icon-carat-1-sw{background-position:-80px 0;}
.ui-icon-carat-1-w{background-position:-96px 0;}
.ui-icon-carat-1-nw{background-position:-112px 0;}
.ui-icon-carat-2-n-s{background-position:-128px 0;}
.ui-icon-carat-2-e-w{background-position:-144px 0;}
.ui-icon-triangle-1-n{background-position:0 -16px;}
.ui-icon-triangle-1-ne{background-position:-16px -16px;}
.ui-icon-triangle-1-e{background-position:-32px -16px;}
.ui-icon-triangle-1-se{background-position:-48px -16px;}
.ui-icon-triangle-1-s{background-position:-64px -16px;}
.ui-icon-triangle-1-sw{background-position:-80px -16px;}
.ui-icon-triangle-1-w{background-position:-96px -16px;}
.ui-icon-triangle-1-nw{background-position:-112px -16px;}
.ui-icon-triangle-2-n-s{background-position:-128px -16px;}
.ui-icon-triangle-2-e-w{background-position:-144px -16px;}
.ui-icon-arrow-1-n{background-position:0 -32px;}
.ui-icon-arrow-1-ne{background-position:-16px -32px;}
.ui-icon-arrow-1-e{background-position:-32px -32px;}
.ui-icon-arrow-1-se{background-position:-48px -32px;}
.ui-icon-arrow-1-s{background-position:-64px -32px;}
.ui-icon-arrow-1-sw{background-position:-80px -32px;}
.ui-icon-arrow-1-w{background-position:-96px -32px;}
.ui-icon-arrow-1-nw{background-position:-112px -32px;}
.ui-icon-arrow-2-n-s{background-position:-128px -32px;}
.ui-icon-arrow-2-ne-sw{background-position:-144px -32px;}
.ui-icon-arrow-2-e-w{background-position:-160px -32px;}
.ui-icon-arrow-2-se-nw{background-position:-176px -32px;}
.ui-icon-arrowstop-1-n{background-position:-192px -32px;}
.ui-icon-arrowstop-1-e{background-position:-208px -32px;}
.ui-icon-arrowstop-1-s{background-position:-224px -32px;}
.ui-icon-arrowstop-1-w{background-position:-240px -32px;}
.ui-icon-arrowthick-1-n{background-position:0 -48px;}
.ui-icon-arrowthick-1-ne{background-position:-16px -48px;}
.ui-icon-arrowthick-1-e{background-position:-32px -48px;}
.ui-icon-arrowthick-1-se{background-position:-48px -48px;}
.ui-icon-arrowthick-1-s{background-position:-64px -48px;}
.ui-icon-arrowthick-1-sw{background-position:-80px -48px;}
.ui-icon-arrowthick-1-w{background-position:-96px -48px;}
.ui-icon-arrowthick-1-nw{background-position:-112px -48px;}
.ui-icon-arrowthick-2-n-s{background-position:-128px -48px;}
.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px;}
.ui-icon-arrowthick-2-e-w{background-position:-160px -48px;}
.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px;}
.ui-icon-arrowthickstop-1-n{background-position:-192px -48px;}
.ui-icon-arrowthickstop-1-e{background-position:-208px -48px;}
.ui-icon-arrowthickstop-1-s{background-position:-224px -48px;}
.ui-icon-arrowthickstop-1-w{background-position:-240px -48px;}
.ui-icon-arrowreturnthick-1-w{background-position:0 -64px;}
.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px;}
.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px;}
.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px;}
.ui-icon-arrowreturn-1-w{background-position:-64px -64px;}
.ui-icon-arrowreturn-1-n{background-position:-80px -64px;}
.ui-icon-arrowreturn-1-e{background-position:-96px -64px;}
.ui-icon-arrowreturn-1-s{background-position:-112px -64px;}
.ui-icon-arrowrefresh-1-w{background-position:-128px -64px;}
.ui-icon-arrowrefresh-1-n{background-position:-144px -64px;}
.ui-icon-arrowrefresh-1-e{background-position:-160px -64px;}
.ui-icon-arrowrefresh-1-s{background-position:-176px -64px;}
.ui-icon-arrow-4{background-position:0 -80px;}
.ui-icon-arrow-4-diag{background-position:-16px -80px;}
.ui-icon-extlink{background-position:-32px -80px;}
.ui-icon-newwin{background-position:-48px -80px;}
.ui-icon-refresh{background-position:-64px -80px;}
.ui-icon-shuffle{background-position:-80px -80px;}
.ui-icon-transfer-e-w{background-position:-96px -80px;}
.ui-icon-transferthick-e-w{background-position:-112px -80px;}
.ui-icon-folder-collapsed{background-position:0 -96px;}
.ui-icon-folder-open{background-position:-16px -96px;}
.ui-icon-document{background-position:-32px -96px;}
.ui-icon-document-b{background-position:-48px -96px;}
.ui-icon-note{background-position:-64px -96px;}
.ui-icon-mail-closed{background-position:-80px -96px;}
.ui-icon-mail-open{background-position:-96px -96px;}
.ui-icon-suitcase{background-position:-112px -96px;}
.ui-icon-comment{background-position:-128px -96px;}
.ui-icon-person{background-position:-144px -96px;}
.ui-icon-print{background-position:-160px -96px;}
.ui-icon-trash{background-position:-176px -96px;}
.ui-icon-locked{background-position:-192px -96px;}
.ui-icon-unlocked{background-position:-208px -96px;}
.ui-icon-bookmark{background-position:-224px -96px;}
.ui-icon-tag{background-position:-240px -96px;}
.ui-icon-home{background-position:0 -112px;}
.ui-icon-flag{background-position:-16px -112px;}
.ui-icon-calendar{background-position:-32px -112px;}
.ui-icon-cart{background-position:-48px -112px;}
.ui-icon-pencil{background-position:-64px -112px;}
.ui-icon-clock{background-position:-80px -112px;}
.ui-icon-disk{background-position:-96px -112px;}
.ui-icon-calculator{background-position:-112px -112px;}
.ui-icon-zoomin{background-position:-128px -112px;}
.ui-icon-zoomout{background-position:-144px -112px;}
.ui-icon-search{background-position:-160px -112px;}
.ui-icon-wrench{background-position:-176px -112px;}
.ui-icon-gear{background-position:-192px -112px;}
.ui-icon-heart{background-position:-208px -112px;}
.ui-icon-star{background-position:-224px -112px;}
.ui-icon-link{background-position:-240px -112px;}
.ui-icon-cancel{background-position:0 -128px;}
.ui-icon-plus{background-position:-16px -128px;}
.ui-icon-plusthick{background-position:-32px -128px;}
.ui-icon-minus{background-position:-48px -128px;}
.ui-icon-minusthick{background-position:-64px -128px;}
.ui-icon-close{background-position:-80px -128px;}
.ui-icon-closethick{background-position:-96px -128px;}
.ui-icon-key{background-position:-112px -128px;}
.ui-icon-lightbulb{background-position:-128px -128px;}
.ui-icon-scissors{background-position:-144px -128px;}
.ui-icon-clipboard{background-position:-160px -128px;}
.ui-icon-copy{background-position:-176px -128px;}
.ui-icon-contact{background-position:-192px -128px;}
.ui-icon-image{background-position:-208px -128px;}
.ui-icon-video{background-position:-224px -128px;}
.ui-icon-script{background-position:-240px -128px;}
.ui-icon-alert{background-position:0 -144px;}
.ui-icon-info{background-position:-16px -144px;}
.ui-icon-notice{background-position:-32px -144px;}
.ui-icon-help{background-position:-48px -144px;}
.ui-icon-check{background-position:-64px -144px;}
.ui-icon-bullet{background-position:-80px -144px;}
.ui-icon-radio-on{background-position:-96px -144px;}
.ui-icon-radio-off{background-position:-112px -144px;}
.ui-icon-pin-w{background-position:-128px -144px;}
.ui-icon-pin-s{background-position:-144px -144px;}
.ui-icon-play{background-position:0 -160px;}
.ui-icon-pause{background-position:-16px -160px;}
.ui-icon-seek-next{background-position:-32px -160px;}
.ui-icon-seek-prev{background-position:-48px -160px;}
.ui-icon-seek-end{background-position:-64px -160px;}
.ui-icon-seek-start{background-position:-80px -160px;}
.ui-icon-seek-first{background-position:-80px -160px;}
.ui-icon-stop{background-position:-96px -160px;}
.ui-icon-eject{background-position:-112px -160px;}
.ui-icon-volume-off{background-position:-128px -160px;}
.ui-icon-volume-on{background-position:-144px -160px;}
.ui-icon-power{background-position:0 -176px;}
.ui-icon-signal-diag{background-position:-16px -176px;}
.ui-icon-signal{background-position:-32px -176px;}
.ui-icon-battery-0{background-position:-48px -176px;}
.ui-icon-battery-1{background-position:-64px -176px;}
.ui-icon-battery-2{background-position:-80px -176px;}
.ui-icon-battery-3{background-position:-96px -176px;}
.ui-icon-circle-plus{background-position:0 -192px;}
.ui-icon-circle-minus{background-position:-16px -192px;}
.ui-icon-circle-close{background-position:-32px -192px;}
.ui-icon-circle-triangle-e{background-position:-48px -192px;}
.ui-icon-circle-triangle-s{background-position:-64px -192px;}
.ui-icon-circle-triangle-w{background-position:-80px -192px;}
.ui-icon-circle-triangle-n{background-position:-96px -192px;}
.ui-icon-circle-arrow-e{background-position:-112px -192px;}
.ui-icon-circle-arrow-s{background-position:-128px -192px;}
.ui-icon-circle-arrow-w{background-position:-144px -192px;}
.ui-icon-circle-arrow-n{background-position:-160px -192px;}
.ui-icon-circle-zoomin{background-position:-176px -192px;}
.ui-icon-circle-zoomout{background-position:-192px -192px;}
.ui-icon-circle-check{background-position:-208px -192px;}
.ui-icon-circlesmall-plus{background-position:0 -208px;}
.ui-icon-circlesmall-minus{background-position:-16px -208px;}
.ui-icon-circlesmall-close{background-position:-32px -208px;}
.ui-icon-squaresmall-plus{background-position:-48px -208px;}
.ui-icon-squaresmall-minus{background-position:-64px -208px;}
.ui-icon-squaresmall-close{background-position:-80px -208px;}
.ui-icon-grip-dotted-vertical{background-position:0 -224px;}
.ui-icon-grip-dotted-horizontal{background-position:-16px -224px;}
.ui-icon-grip-solid-vertical{background-position:-32px -224px;}
.ui-icon-grip-solid-horizontal{background-position:-48px -224px;}
.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px;}
.ui-icon-grip-diagonal-se{background-position:-80px -224px;}
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;-khtml-border-top-left-radius:4px;border-top-left-radius:4px;}
.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;-khtml-border-top-right-radius:4px;border-top-right-radius:4px;}
.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;-khtml-border-bottom-left-radius:4px;border-bottom-left-radius:4px;}
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;-khtml-border-bottom-right-radius:4px;border-bottom-right-radius:4px;}
.ui-widget-overlay{background:#666 url(jquery-ui/css/images/ui-bg_diagonals-thick_20_666666_40x40.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-bg_diagonals-thick_20_666666_40x40.png*/ 50% 50% repeat;opacity:.5;filter:Alpha(Opacity=50);}
.ui-widget-shadow{margin:-5px 0 0 -5px;padding:5px;background:#000 url(jquery-ui/css/images/ui-bg_flat_10_000000_40x100.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/jquery-ui/css/images/ui-bg_flat_10_000000_40x100.png*/ 50% 50% repeat-x;opacity:.2;filter:Alpha(Opacity=20);-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.magazine-viewport .zoomer .region{display:none;}
.magazine-viewport .zoom-in .region{display:none;}
.magazine .region{position:absolute;overflow:hidden;background:#06F;opacity:.2;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;cursor:pointer;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20);}
.magazine .region:hover{opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);}
.magazine .region.zoom{opacity:.01;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";filter:alpha(opacity=1);}
.magazine .region.zoom:hover{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20);}
.magazine .page{-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);-o-box-shadow:0 0 20px rgba(0,0,0,0.2);box-shadow:0 0 20px rgba(0,0,0,0.2);}
.magazine-viewport .page img{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;margin:0;}
.magazine .even .gradient{position:absolute;top:0;left:0;width:100%;height:100%;background:-webkit-gradient(linear,left top,right top,color-stop(0.95,rgba(0,0,0,0)),color-stop(1,rgba(0,0,0,0.2)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,0) 95%,rgba(0,0,0,0.2) 100%);background-image:-moz-linear-gradient(left,rgba(0,0,0,0) 95%,rgba(0,0,0,0.2) 100%);background-image:-ms-linear-gradient(left,rgba(0,0,0,0) 95%,rgba(0,0,0,0.2) 100%);background-image:-o-linear-gradient(left,rgba(0,0,0,0) 95%,rgba(0,0,0,0.2) 100%);background-image:linear-gradient(left,rgba(0,0,0,0) 95%,rgba(0,0,0,0.2) 100%);}
.magazine .odd .gradient{position:absolute;top:0;left:0;width:100%;height:100%;background:-webkit-gradient(linear,right top,left top,color-stop(0.95,rgba(0,0,0,0)),color-stop(1,rgba(0,0,0,0.15)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,0) 95%,rgba(0,0,0,0.15) 100%);background-image:-moz-linear-gradient(right,rgba(0,0,0,0) 95%,rgba(0,0,0,0.15) 100%);background-image:-ms-linear-gradient(right,rgba(0,0,0,0) 95%,rgba(0,0,0,0.15) 100%);background-image:-o-linear-gradient(right,rgba(0,0,0,0) 95%,rgba(0,0,0,0.15) 100%);background-image:linear-gradient(right,rgba(0,0,0,0) 95%,rgba(0,0,0,0.15) 100%);}
.magazine-viewport .zoom-in .even .gradient,.magazine-viewport .zoom-in .odd .gradient{display:none;}
.magazine-viewport .loader{background-image:url(main/images/loader.gif)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/loader.gif*/;width:22px;height:22px;position:absolute;top:280px;left:219px;}
.magazine-viewport .shadow{-webkit-transition:-webkit-box-shadow .5s;-moz-transition:-moz-box-shadow .5s;-o-transition:-webkit-box-shadow .5s;-ms-transition:-ms-box-shadow .5s;-webkit-box-shadow:0 0 20px #ccc;-moz-box-shadow:0 0 20px #ccc;-o-box-shadow:0 0 20px #ccc;-ms-box-shadow:0 0 20px #ccc;box-shadow:0 0 20px #ccc;}
.magazine-viewport .next-button{right:-22px;-webkit-border-radius:0 15px 15px 0;-moz-border-radius:0 15px 15px 0;-ms-border-radius:0 15px 15px 0;-o-border-radius:0 15px 15px 0;border-radius:0 15px 15px 0;}
.magazine-viewport .previous-button{left:-22px;-webkit-border-radius:15px 0 0 15px;-moz-border-radius:15px 0 0 15px;-ms-border-radius:15px 0 0 15px;-o-border-radius:15px 0 0 15px;border-radius:15px 0 0 15px;}
.magazine-viewport .previous-button-hover,.magazine-viewport .next-button-hover{background-color:rgba(0,0,0,0.2);}
.magazine-viewport .previous-button-down,.magazine-viewport .next-button-down{background-color:rgba(0,0,0,0.4);}
.magazine-viewport .zoom-in .next-button,.magazine-viewport .zoom-in .previous-button{display:none;}
.animated{-webkit-transition:margin-left .5s;-moz-transition:margin-left .5s;-ms-transition:margin-left .5s;-o-transition:margin-left .5s;transition:margin-left .5s;}
.thumbnails{position:absolute;bottom:0;left:0;width:100%;height:140px;z-index:1;}
.thumbnails>div{width:1050px;height:100px;margin:20px auto;}
.thumbnails ul{margin:0;padding:0;text-align:center;-webkit-transform:scale3d(0.5,0.5,1);-moz-transform:scale3d(0.5,0.5,1);-o-transform:scale3d(0.5,0.5,1);-ms-transform:scale3d(0.5,0.5,1);transform:scale3d(0.5,0.5,1);-webkit-transition:-webkit-transform ease-in-out 100ms;-moz-transition:-moz-transform ease-in-out 100ms;-ms-transition:-ms-transform ease-in-out 100ms;-o-transition:-o-transform ease-in-out 100ms;transition:transform ease-in-out 100ms;}
.thumbanils-touch ul{-webkit-transform:none;-moz-transform:none;-o-transform:none;-ms-transform:none;transform:none;}
.thumbnails-hover ul{-webkit-transform:scale3d(0.6,0.6,1);-moz-transform:scale3d(0.6,0.6,1);-o-transform:scale3d(0.6,0.6,1);-ms-transform:scale3d(0.6,0.6,1);transform:scale3d(0.6,0.6,1);}
.thumbnails li{list-style:none;display:inline-block;margin:0 5px;-webkit-box-shadow:0 0 10px #ccc;-moz-box-shadow:0 0 10px #ccc;-ms-box-shadow:0 0 10px #ccc;-o-box-shadow:0 0 10px #ccc;box-shadow:0 0 10px #ccc;-webkit-transition:-webkit-transform 60ms;-moz-transition:-webkit-transform 60ms;-o-transition:-webkit-transform 60ms;-ms-transition:-webkit-transform 60ms;transition:-webkit-transform 60ms;}
.thumbnails li span{display:none;}
.thumbnails .current{-webkit-box-shadow:0 0 10px red;-moz-box-shadow:0 0 10px red;-ms-box-shadow:0 0 10px red;-o-box-shadow:0 0 10px red;box-shadow:0 0 10px red;}
.thumbnails .thumb-hover{-webkit-transform:scale3d(1.3,1.3,1);-moz-transform:scale3d(1.3,1.3,1);-o-transform:scale3d(1.3,1.3,1);-ms-transform:scale3d(1.3,1.3,1);transform:scale3d(1.3,1.3,1);-webkit-box-shadow:0 0 10px #666;-moz-box-shadow:0 0 10px #666;-ms-box-shadow:0 0 10px #666;-o-box-shadow:0 0 10px #666;box-shadow:0 0 10px #666;}
.thumbanils-touch .thumb-hover{-webkit-transform:none;-moz-transform:none;-o-transform:none;-ms-transform:none;transform:none;}
.thumbnails .thumb-hover span{position:absolute;bottom:-30px;left:0;z-index:2;width:100%;height:30px;font:bold 15px arial;line-height:30px;color:#666;display:block;cursor:default;}
.thumbnails img{float:left;}
.esc{position:absolute;top:10px;left:0;width:100%;height:40px;z-index:10000;}
.esc>div{width:140px;height:30px;margin:auto;background:rgba(0,0,0,0.5);text-align:center;font:12px arial;line-height:30px;color:white;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;}
.made{position:absolute;top:0;left:0;width:100%;font:14px arial;line-height:40px;color:#666;text-align:center;z-index:10;}
.get-now{text-decoration:none;margin:0;padding:5px 20px;color:white;text-shadow:0 -1px 0 #3D561F;border:1px solid #4D682B;background-color:#657948;background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#82A353),color-stop(0.5,#62843C),color-stop(0.51,#5B7E32),color-stop(1,#476928));background:-webkit-linear-gradient(top,#82A353 0,#62843C 50%,#5B7E32 51%,#476928 100%);background:-moz-linear-gradient(top,#82A353 0,#62843C 50%,#5B7E32 51%,#476928 100%);background:-ms-linear-gradient(top,#82A353 0,#62843C 50%,#5B7E32 51%,#476928 100%);background:-o-linear-gradient(top,#82A353 0,#62843C 50%,#5B7E32 51%,#476928 100%);background:linear-gradient(top,#82A353 0,#62843C 50%,#5B7E32 51%,#476928 100%);-webkit-box-shadow:inset 0 1px 1px #9ECF7A,inset 0 -1px 1px #355828;-moz-box-shadow:inset 0 1px 1px #9ECF7A,inset 0 -1px 1px #355828;-o-box-shadow:inset 0 1px 1px #9ECF7A,inset 0 -1px 1px #355828;-ms-box-shadow:inset 0 1px 1px #9ECF7A,inset 0 -1px 1px #355828;box-shadow:inset 0 1px 1px #9ECF7A,inset 0 -1px 1px #355828;-webkit-border-radius:20px;-moz-border-radius:20px;-ms-border-radius:20px;-o-border-radius:20px;border-radius:20px;}
.get-now:hover{border:1px solid #3F5228;text-decoration:none;background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#688939),color-stop(1,#5B6D40));background:-webkit-linear-gradient(top,#688939,#5B6D40);background:-moz-linear-gradient(top,#688939,#5B6D40);background:-ms-linear-gradient(top,#688939,#5B6D40);background:-o-linear-gradient(top,#688939,#5B6D40);background:linear-gradient(top,#688939,#5B6D40);}
.get-now:active{border:1px solid #243017;background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#577330),color-stop(1,#4C5B35));background:-webkit-linear-gradient(top,#577330,#4C5B35);background:-moz-linear-gradient(top,#577330,#4C5B35);background:-ms-linear-gradient(top,#577330,#4C5B35);background:-o-linear-gradient(top,#577330,#4C5B35);background:linear-gradient(top,#577330,#4C5B35);}
.ad-gallery{width:600px;}
.ad-gallery,.ad-gallery *{margin:0;padding:0;}
.ad-gallery .ad-image-wrapper{width:100%;height:400px;margin-bottom:10px;position:relative;overflow:hidden;}
.ad-gallery .ad-image-wrapper .ad-loader{position:absolute;z-index:10;top:48%;left:48%;border:1px solid #CCC;}
.ad-gallery .ad-image-wrapper .ad-next{position:absolute;right:0;top:0;width:25%;height:100%;cursor:pointer;display:block;z-index:100;}
.ad-gallery .ad-image-wrapper .ad-prev{position:absolute;left:0;top:0;width:25%;height:100%;cursor:pointer;display:block;z-index:100;}
.ad-gallery .ad-image-wrapper .ad-prev,.ad-gallery .ad-image-wrapper .ad-next{background:url(Unknown_83_filename)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/css/non-existing.jpg*/ \9;}
.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image,.ad-gallery .ad-image-wrapper .ad-next .ad-next-image{background:url(Unknown_83_filename)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/css/ad_prev.png*/;width:30px;height:30px;display:none;position:absolute;top:47%;left:0;z-index:101;}
.ad-gallery .ad-image-wrapper .ad-next .ad-next-image{background:url(Unknown_83_filename)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/css/ad_next.png*/;width:30px;height:30px;right:0;left:auto;}
.ad-gallery .ad-image-wrapper .ad-image{position:absolute;overflow:hidden;top:0;left:0;z-index:9;}
.ad-gallery .ad-image-wrapper .ad-image a img{border:0;}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description{position:absolute;bottom:0;left:0;padding:7px;text-align:left;width:100%;z-index:2;background:url(Unknown_83_filename)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/css/opa75.png*/;color:#000;}
* html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description{background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='opa75.png');}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title{display:block;}
.ad-gallery .ad-controls{height:20px;}
.ad-gallery .ad-info{float:left;}
.ad-gallery .ad-slideshow-controls{float:right;}
.ad-gallery .ad-slideshow-controls .ad-slideshow-start,.ad-gallery .ad-slideshow-controls .ad-slideshow-stop{padding-left:5px;cursor:pointer;}
.ad-gallery .ad-slideshow-controls .ad-slideshow-countdown{padding-left:5px;font-size:.9em;}
.ad-gallery .ad-slideshow-running .ad-slideshow-start{cursor:default;font-style:italic;}
.ad-gallery .ad-nav{width:100%;position:relative;}
.ad-gallery .ad-forward,.ad-gallery .ad-back{position:absolute;top:0;height:100%;z-index:10;}
* html .ad-gallery .ad-forward,.ad-gallery .ad-back{height:100px;}
.ad-gallery .ad-back{cursor:pointer;left:-20px;width:13px;display:block;background:url(main/images/ad_scroll_back.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/ad_scroll_back.png*/ 0 22px no-repeat;}
.ad-gallery .ad-forward{cursor:pointer;display:block;right:-20px;width:13px;background:url(main/images/ad_scroll_forward.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/ad_scroll_forward.png*/ 0 22px no-repeat;}
.ad-gallery .ad-nav .ad-thumbs{overflow:hidden;width:100%;}
.ad-gallery .ad-thumbs .ad-thumb-list{float:left;width:9000px;list-style:none;}
.ad-gallery .ad-thumbs li{float:left;padding-right:5px;}
.ad-gallery .ad-thumbs li a{display:block;}
.ad-gallery .ad-thumbs li a img{border:2px solid #CCC;display:block;}
.ad-gallery .ad-thumbs li a.ad-active img{border:2px solid #616161;}
.ad-preloads{position:absolute;left:-9000px;top:-9000px;}
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px;}
div.pp_default .pp_top .pp_left{background:url(main/images/prettyPhoto/default/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite.png*/ -78px -93px no-repeat;}
div.pp_default .pp_top .pp_middle{background:url(main/images/prettyPhoto/default/sprite_x.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite_x.png*/ top left repeat-x;}
div.pp_default .pp_top .pp_right{background:url(main/images/prettyPhoto/default/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite.png*/ -112px -93px no-repeat;}
div.pp_default .pp_content .ppt{color:#f8f8f8;}
div.pp_default .pp_content_container .pp_left{background:url(main/images/prettyPhoto/default/sprite_y.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite_y.png*/ -7px 0 repeat-y;padding-left:13px;}
div.pp_default .pp_content_container .pp_right{background:url(main/images/prettyPhoto/default/sprite_y.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite_y.png*/ top right repeat-y;padding-right:13px;}
div.pp_default .pp_next:hover{background:url(main/images/prettyPhoto/default/sprite_next.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite_next.png*/ center right no-repeat;cursor:pointer;}
div.pp_default .pp_previous:hover{background:url(main/images/prettyPhoto/default/sprite_prev.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite_prev.png*/ center left no-repeat;cursor:pointer;}
div.pp_default .pp_expand{background:url(main/images/prettyPhoto/default/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite.png*/ 0 -29px no-repeat;cursor:pointer;width:28px;height:28px;}
div.pp_default .pp_expand:hover{background:url(main/images/prettyPhoto/default/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite.png*/ 0 -56px no-repeat;cursor:pointer;}
div.pp_default .pp_contract{background:url(main/images/prettyPhoto/default/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite.png*/ 0 -84px no-repeat;cursor:pointer;width:28px;height:28px;}
div.pp_default .pp_contract:hover{background:url(main/images/prettyPhoto/default/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite.png*/ 0 -113px no-repeat;cursor:pointer;}
div.pp_default .pp_close{width:30px;height:30px;background:url(main/images/prettyPhoto/default/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite.png*/ 2px 1px no-repeat;cursor:pointer;}
div.pp_default .pp_gallery ul li a{background:url(main/images/prettyPhoto/default/default_thumb.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/default_thumb.png*/ center center #f8f8f8;border:1px solid #aaa;}
div.pp_default .pp_social{margin-top:7px;}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto;}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(main/images/prettyPhoto/default/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite.png*/ -51px 1px no-repeat;height:30px;width:30px;}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px;}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(main/images/prettyPhoto/default/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite.png*/ -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0;}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px;}
div.pp_default .pp_content_container .pp_details{margin-top:5px;}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative;}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px;}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:.7;}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0;}
div.pp_default .pp_bottom .pp_left{background:url(main/images/prettyPhoto/default/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite.png*/ -78px -127px no-repeat;}
div.pp_default .pp_bottom .pp_middle{background:url(main/images/prettyPhoto/default/sprite_x.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite_x.png*/ bottom left repeat-x;}
div.pp_default .pp_bottom .pp_right{background:url(main/images/prettyPhoto/default/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/sprite.png*/ -112px -127px no-repeat;}
div.pp_default .pp_loaderIcon{background:url(main/images/prettyPhoto/default/loader.gif)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/default/loader.gif*/ center center no-repeat;}
div.light_rounded .pp_top .pp_left{background:url(main/images/prettyPhoto/light_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/sprite.png*/ -88px -53px no-repeat;}
div.light_rounded .pp_top .pp_right{background:url(main/images/prettyPhoto/light_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/sprite.png*/ -110px -53px no-repeat;}
div.light_rounded .pp_next:hover{background:url(main/images/prettyPhoto/light_rounded/btnNext.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/btnNext.png*/ center right no-repeat;cursor:pointer;}
div.light_rounded .pp_previous:hover{background:url(main/images/prettyPhoto/light_rounded/btnPrevious.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/btnPrevious.png*/ center left no-repeat;cursor:pointer;}
div.light_rounded .pp_expand{background:url(main/images/prettyPhoto/light_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/sprite.png*/ -31px -26px no-repeat;cursor:pointer;}
div.light_rounded .pp_expand:hover{background:url(main/images/prettyPhoto/light_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/sprite.png*/ -31px -47px no-repeat;cursor:pointer;}
div.light_rounded .pp_contract{background:url(main/images/prettyPhoto/light_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/sprite.png*/ 0 -26px no-repeat;cursor:pointer;}
div.light_rounded .pp_contract:hover{background:url(main/images/prettyPhoto/light_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/sprite.png*/ 0 -47px no-repeat;cursor:pointer;}
div.light_rounded .pp_close{width:75px;height:22px;background:url(main/images/prettyPhoto/light_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/sprite.png*/ -1px -1px no-repeat;cursor:pointer;}
div.light_rounded .pp_nav .pp_play{background:url(main/images/prettyPhoto/light_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/sprite.png*/ -1px -100px no-repeat;height:15px;width:14px;}
div.light_rounded .pp_nav .pp_pause{background:url(main/images/prettyPhoto/light_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/sprite.png*/ -24px -100px no-repeat;height:15px;width:14px;}
div.light_rounded .pp_arrow_previous{background:url(main/images/prettyPhoto/light_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/sprite.png*/ 0 -71px no-repeat;}
div.light_rounded .pp_arrow_next{background:url(main/images/prettyPhoto/light_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/sprite.png*/ -22px -71px no-repeat;}
div.light_rounded .pp_bottom .pp_left{background:url(main/images/prettyPhoto/light_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/sprite.png*/ -88px -80px no-repeat;}
div.light_rounded .pp_bottom .pp_right{background:url(main/images/prettyPhoto/light_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/sprite.png*/ -110px -80px no-repeat;}
div.dark_rounded .pp_top .pp_left{background:url(main/images/prettyPhoto/dark_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/sprite.png*/ -88px -53px no-repeat;}
div.dark_rounded .pp_top .pp_right{background:url(main/images/prettyPhoto/dark_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/sprite.png*/ -110px -53px no-repeat;}
div.dark_rounded .pp_content_container .pp_left{background:url(main/images/prettyPhoto/dark_rounded/contentPattern.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/contentPattern.png*/ top left repeat-y;}
div.dark_rounded .pp_content_container .pp_right{background:url(main/images/prettyPhoto/dark_rounded/contentPattern.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/contentPattern.png*/ top right repeat-y;}
div.dark_rounded .pp_next:hover{background:url(main/images/prettyPhoto/dark_rounded/btnNext.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/btnNext.png*/ center right no-repeat;cursor:pointer;}
div.dark_rounded .pp_previous:hover{background:url(main/images/prettyPhoto/dark_rounded/btnPrevious.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/btnPrevious.png*/ center left no-repeat;cursor:pointer;}
div.dark_rounded .pp_expand{background:url(main/images/prettyPhoto/dark_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/sprite.png*/ -31px -26px no-repeat;cursor:pointer;}
div.dark_rounded .pp_expand:hover{background:url(main/images/prettyPhoto/dark_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/sprite.png*/ -31px -47px no-repeat;cursor:pointer;}
div.dark_rounded .pp_contract{background:url(main/images/prettyPhoto/dark_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/sprite.png*/ 0 -26px no-repeat;cursor:pointer;}
div.dark_rounded .pp_contract:hover{background:url(main/images/prettyPhoto/dark_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/sprite.png*/ 0 -47px no-repeat;cursor:pointer;}
div.dark_rounded .pp_close{width:75px;height:22px;background:url(main/images/prettyPhoto/dark_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/sprite.png*/ -1px -1px no-repeat;cursor:pointer;}
div.dark_rounded .pp_description{margin-right:85px;color:#fff;}
div.dark_rounded .pp_nav .pp_play{background:url(main/images/prettyPhoto/dark_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/sprite.png*/ -1px -100px no-repeat;height:15px;width:14px;}
div.dark_rounded .pp_nav .pp_pause{background:url(main/images/prettyPhoto/dark_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/sprite.png*/ -24px -100px no-repeat;height:15px;width:14px;}
div.dark_rounded .pp_arrow_previous{background:url(main/images/prettyPhoto/dark_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/sprite.png*/ 0 -71px no-repeat;}
div.dark_rounded .pp_arrow_next{background:url(main/images/prettyPhoto/dark_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/sprite.png*/ -22px -71px no-repeat;}
div.dark_rounded .pp_bottom .pp_left{background:url(main/images/prettyPhoto/dark_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/sprite.png*/ -88px -80px no-repeat;}
div.dark_rounded .pp_bottom .pp_right{background:url(main/images/prettyPhoto/dark_rounded/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/sprite.png*/ -110px -80px no-repeat;}
div.dark_rounded .pp_loaderIcon{background:url(main/images/prettyPhoto/dark_rounded/loader.gif)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/loader.gif*/ center center no-repeat;}
div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000;}
div.dark_square .pp_description{color:#fff;margin:0 85px 0 0;}
div.dark_square .pp_loaderIcon{background:url(main/images/prettyPhoto/dark_square/loader.gif)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_square/loader.gif*/ center center no-repeat;}
div.dark_square .pp_expand{background:url(main/images/prettyPhoto/dark_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_square/sprite.png*/ -31px -26px no-repeat;cursor:pointer;}
div.dark_square .pp_expand:hover{background:url(main/images/prettyPhoto/dark_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_square/sprite.png*/ -31px -47px no-repeat;cursor:pointer;}
div.dark_square .pp_contract{background:url(main/images/prettyPhoto/dark_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_square/sprite.png*/ 0 -26px no-repeat;cursor:pointer;}
div.dark_square .pp_contract:hover{background:url(main/images/prettyPhoto/dark_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_square/sprite.png*/ 0 -47px no-repeat;cursor:pointer;}
div.dark_square .pp_close{width:75px;height:22px;background:url(main/images/prettyPhoto/dark_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_square/sprite.png*/ -1px -1px no-repeat;cursor:pointer;}
div.dark_square .pp_nav{clear:none;}
div.dark_square .pp_nav .pp_play{background:url(main/images/prettyPhoto/dark_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_square/sprite.png*/ -1px -100px no-repeat;height:15px;width:14px;}
div.dark_square .pp_nav .pp_pause{background:url(main/images/prettyPhoto/dark_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_square/sprite.png*/ -24px -100px no-repeat;height:15px;width:14px;}
div.dark_square .pp_arrow_previous{background:url(main/images/prettyPhoto/dark_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_square/sprite.png*/ 0 -71px no-repeat;}
div.dark_square .pp_arrow_next{background:url(main/images/prettyPhoto/dark_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_square/sprite.png*/ -22px -71px no-repeat;}
div.dark_square .pp_next:hover{background:url(main/images/prettyPhoto/dark_square/btnNext.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_square/btnNext.png*/ center right no-repeat;cursor:pointer;}
div.dark_square .pp_previous:hover{background:url(main/images/prettyPhoto/dark_square/btnPrevious.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_square/btnPrevious.png*/ center left no-repeat;cursor:pointer;}
div.light_square .pp_expand{background:url(main/images/prettyPhoto/light_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_square/sprite.png*/ -31px -26px no-repeat;cursor:pointer;}
div.light_square .pp_expand:hover{background:url(main/images/prettyPhoto/light_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_square/sprite.png*/ -31px -47px no-repeat;cursor:pointer;}
div.light_square .pp_contract{background:url(main/images/prettyPhoto/light_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_square/sprite.png*/ 0 -26px no-repeat;cursor:pointer;}
div.light_square .pp_contract:hover{background:url(main/images/prettyPhoto/light_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_square/sprite.png*/ 0 -47px no-repeat;cursor:pointer;}
div.light_square .pp_close{width:75px;height:22px;background:url(main/images/prettyPhoto/light_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_square/sprite.png*/ -1px -1px no-repeat;cursor:pointer;}
div.light_square .pp_nav .pp_play{background:url(main/images/prettyPhoto/light_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_square/sprite.png*/ -1px -100px no-repeat;height:15px;width:14px;}
div.light_square .pp_nav .pp_pause{background:url(main/images/prettyPhoto/light_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_square/sprite.png*/ -24px -100px no-repeat;height:15px;width:14px;}
div.light_square .pp_arrow_previous{background:url(main/images/prettyPhoto/light_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_square/sprite.png*/ 0 -71px no-repeat;}
div.light_square .pp_arrow_next{background:url(main/images/prettyPhoto/light_square/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_square/sprite.png*/ -22px -71px no-repeat;}
div.light_square .pp_next:hover{background:url(main/images/prettyPhoto/light_square/btnNext.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_square/btnNext.png*/ center right no-repeat;cursor:pointer;}
div.light_square .pp_previous:hover{background:url(main/images/prettyPhoto/light_square/btnPrevious.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_square/btnPrevious.png*/ center left no-repeat;cursor:pointer;}
div.facebook .pp_top .pp_left{background:url(main/images/prettyPhoto/facebook/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/sprite.png*/ -88px -53px no-repeat;}
div.facebook .pp_top .pp_middle{background:url(main/images/prettyPhoto/facebook/contentPatternTop.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/contentPatternTop.png*/ top left repeat-x;}
div.facebook .pp_top .pp_right{background:url(main/images/prettyPhoto/facebook/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/sprite.png*/ -110px -53px no-repeat;}
div.facebook .pp_content_container .pp_left{background:url(main/images/prettyPhoto/facebook/contentPatternLeft.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/contentPatternLeft.png*/ top left repeat-y;}
div.facebook .pp_content_container .pp_right{background:url(main/images/prettyPhoto/facebook/contentPatternRight.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/contentPatternRight.png*/ top right repeat-y;}
div.facebook .pp_expand{background:url(main/images/prettyPhoto/facebook/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/sprite.png*/ -31px -26px no-repeat;cursor:pointer;}
div.facebook .pp_expand:hover{background:url(main/images/prettyPhoto/facebook/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/sprite.png*/ -31px -47px no-repeat;cursor:pointer;}
div.facebook .pp_contract{background:url(main/images/prettyPhoto/facebook/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/sprite.png*/ 0 -26px no-repeat;cursor:pointer;}
div.facebook .pp_contract:hover{background:url(main/images/prettyPhoto/facebook/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/sprite.png*/ 0 -47px no-repeat;cursor:pointer;}
div.facebook .pp_close{width:22px;height:22px;background:url(main/images/prettyPhoto/facebook/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/sprite.png*/ -1px -1px no-repeat;cursor:pointer;}
div.facebook .pp_description{margin:0 37px 0 0;}
div.facebook .pp_loaderIcon{background:url(main/images/prettyPhoto/facebook/loader.gif)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/loader.gif*/ center center no-repeat;}
div.facebook .pp_arrow_previous{background:url(main/images/prettyPhoto/facebook/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/sprite.png*/ 0 -71px no-repeat;height:22px;margin-top:0;width:22px;}
div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default;}
div.facebook .pp_arrow_next{background:url(main/images/prettyPhoto/facebook/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/sprite.png*/ -32px -71px no-repeat;height:22px;margin-top:0;width:22px;}
div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default;}
div.facebook .pp_nav{margin-top:0;}
div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px;}
div.facebook .pp_nav .pp_play{background:url(main/images/prettyPhoto/facebook/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/sprite.png*/ -1px -123px no-repeat;height:22px;width:22px;}
div.facebook .pp_nav .pp_pause{background:url(main/images/prettyPhoto/facebook/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/sprite.png*/ -32px -123px no-repeat;height:22px;width:22px;}
div.facebook .pp_next:hover{background:url(main/images/prettyPhoto/facebook/btnNext.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/btnNext.png*/ center right no-repeat;cursor:pointer;}
div.facebook .pp_previous:hover{background:url(main/images/prettyPhoto/facebook/btnPrevious.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/btnPrevious.png*/ center left no-repeat;cursor:pointer;}
div.facebook .pp_bottom .pp_left{background:url(main/images/prettyPhoto/facebook/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/sprite.png*/ -88px -80px no-repeat;}
div.facebook .pp_bottom .pp_middle{background:url(main/images/prettyPhoto/facebook/contentPatternBottom.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/contentPatternBottom.png*/ top left repeat-x;}
div.facebook .pp_bottom .pp_right{background:url(main/images/prettyPhoto/facebook/sprite.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/sprite.png*/ -110px -80px no-repeat;}
div.pp_pic_holder a:focus{outline:none;}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500;}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000;}
.pp_content{height:40px;min-width:40px;}
* html .pp_content{width:40px;}
.pp_content_container{position:relative;text-align:left;width:100%;}
.pp_content_container .pp_left{padding-left:20px;}
.pp_content_container .pp_right{padding-right:20px;}
.pp_content_container .pp_details{float:left;margin:10px 0 2px;}
.pp_description{display:none;margin:0;}
.pp_social{float:left;margin:0;}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden;}
.pp_social .twitter{float:left;}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0;}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px;}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px;}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px;}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000;}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000;}
.pp_gallery div{float:left;overflow:hidden;position:relative;}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0;}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden;}
.pp_gallery ul a img{border:0;}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0;}
.pp_gallery li.default a{background:url(main/images/prettyPhoto/facebook/default_thumbnail.gif)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/facebook/default_thumbnail.gif*/ 0 0 no-repeat;display:block;height:33px;width:50px;}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important;}
a.pp_next{background:url(main/images/prettyPhoto/light_rounded/btnNext.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/btnNext.png*/ 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%;}
a.pp_previous{background:url(main/images/prettyPhoto/light_rounded/btnNext.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/btnNext.png*/ 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%;}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000;}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px;}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px;}
#pp_full_res{line-height:1!important;}
#pp_full_res .pp_inline{text-align:left;}
#pp_full_res .pp_inline p{margin:0 0 15px;}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px;}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff;}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000;}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff;}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative;}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff;}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px;}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important;}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default;}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default;}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(main/images/prettyPhoto/light_rounded/loader.gif)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/light_rounded/loader.gif*/ center center no-repeat;}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(main/images/prettyPhoto/dark_rounded/contentPattern.png)/*tpa=http://www.usfoods.com/etc/designs/usfoods/clientlibs/main/images/prettyPhoto/dark_rounded/contentPattern.png*/ top left repeat;}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4;}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff;}
.pp_top,.pp_bottom{height:20px;position:relative;}
* html .pp_top,* html .pp_bottom{padding:0 20px;}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px;}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px;}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static;}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px;}
.pp_fade,.pp_gallery li.default a img{display:none;}
/*!* Bootstrap v2.0.4 * * Copyright 2012 Twitter,Inc * Licensed under the Apache License v2.0 * http://www.apache.org/licenses/LICENSE-2.0 * * Designed and built with all the love in the world @twitter by @mdo and @fat. */ article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:hover,a:active{outline:0;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{vertical-align:middle;border:0;}
#map_canvas img{max-width:none;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{margin:0;font-family:Arial,sans-serif;font-size:12px;line-height:18px;color:#333;background-color:#fff;}
a{color:#5c8727;text-decoration:none;}
a:hover{color:#4f7321;text-decoration:underline;}
.img-rounded{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.img-polaroid{padding:4px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);box-shadow:0 1px 3px rgba(0,0,0,0.1);}
.img-circle{-webkit-border-radius:500px;-moz-border-radius:500px;border-radius:500px;}
.row{margin-left:-20px;*zoom:1;}
.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*="span"]{float:left;margin-left:20px;}
.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:964px;}
.{width:964px;}
.span5{width:800px;}
.span4{width:636px;}
.span3{width:472px;}
.span2{width:308px;}
.span1{width:144px;}
.offset6{margin-left:1004px;}
.offset5{margin-left:840px;}
.offset4{margin-left:676px;}
.offset3{margin-left:512px;}
.offset2{margin-left:348px;}
.offset1{margin-left:184px;}
.row-fluid{width:100%;*zoom:1;}
.row-fluid:before,.row-fluid:after{display:table;content:"";line-height:0;}
.row-fluid:after{clear:both;}
.row-fluid [class*="span"]{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;margin-left:2.127659574%;*margin-left:2.0757923540829877%;}
.row-fluid [class*="span"]:first-child{margin-left:0;}
.row-fluid .span6{width:48.93617020799999%;*width:48.88430298808298%;}
.row-fluid .span5{width:40.425531911%;*width:40.373664691082986%;}
.row-fluid .span4{width:31.914893614%;*width:31.863026394082986%;}
.row-fluid .span3{width:23.404255317%;*width:23.352388097082986%;}
.row-fluid .span2{width:14.89361702%;*width:14.841749800082988%;}
.row-fluid .span1{width:6.382978723%;*width:6.331111503082988%;}
.row-fluid .offset6{margin-left:53.19148935599999%;*margin-left:53.08775491616596%;}
.row-fluid .offset6:first-child{margin-left:51.06382978199999%;*margin-left:50.960095342165964%;}
.row-fluid .offset5{margin-left:44.680851059%;*margin-left:44.57711661916597%;}
.row-fluid .offset5:first-child{margin-left:42.553191485%;*margin-left:42.44945704516597%;}
.row-fluid .offset4{margin-left:36.170212762%;*margin-left:36.06647832216597%;}
.row-fluid .offset4:first-child{margin-left:34.042553188%;*margin-left:33.93881874816597%;}
.row-fluid .offset3{margin-left:27.659574465%;*margin-left:27.55584002516597%;}
.row-fluid .offset3:first-child{margin-left:25.531914891%;*margin-left:25.42818045116597%;}
.row-fluid .offset2{margin-left:19.148936168%;*margin-left:19.045201728165974%;}
.row-fluid .offset2:first-child{margin-left:17.021276594%;*margin-left:16.917542154165975%;}
.row-fluid .offset1{margin-left:10.638297870999999%;*margin-left:10.534563431165976%;}
.row-fluid .offset1:first-child{margin-left:8.510638297%;*margin-left:8.406903857165975%;}
[class*="span"].hide,.row-fluid [class*="span"].hide{display:none;}
[class*="span"].pull-right,.row-fluid [class*="span"].pull-right{float:right;}
.container{margin-right:auto;margin-left:auto;*zoom:1;}
.container:before,.container:after{display:table;content:"";line-height:0;}
.container:after{clear:both;}
.container-fluid{padding-right:20px;padding-left:20px;*zoom:1;}
.container-fluid:before,.container-fluid:after{display:table;content:"";line-height:0;}
.container-fluid:after{clear:both;}
p{margin:0 0 9px;}
.lead{margin-bottom:18px;font-size:20px;font-weight:200;line-height:27px;}
small{font-size:85%;}
strong{font-weight:bold;}
em{font-style:italic;}
cite{font-style:normal;}
.muted{color:#999;}
h1,h2,h3,h4,h5,h6{margin:9px 0;font-family:Georgia,"Times New Roman",Times,serif;font-weight:bold;line-height:1;color:#cf451f;text-rendering:optimizelegibility;}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:normal;line-height:1;color:#999;}
h1{font-size:36px;line-height:40px;}
h2{font-size:30px;line-height:40px;}
h3{font-size:24px;line-height:40px;}
h4{font-size:18px;line-height:20px;}
h5{font-size:14px;line-height:20px;}
h6{font-size:12px;line-height:20px;}
h1 small{font-size:24px;}
h2 small{font-size:18px;}
h3 small{font-size:14px;}
h4 small{font-size:14px;}
.page-header{padding-bottom:8px;margin:18px 0 27px;border-bottom:1px solid #eee;}
ul,ol{padding:0;margin:0 0 9px 25px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
li{line-height:18px;}
ul.unstyled,ol.unstyled{margin-left:0;list-style:none;}
dl{margin-bottom:18px;}
dt,dd{line-height:18px;}
dt{font-weight:bold;}
dd{margin-left:9px;}
.dl-horizontal dt{float:left;width:120px;clear:left;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.dl-horizontal dd{margin-left:130px;}
hr{margin:18px 0;border:0;border-top:1px solid #eee;border-bottom:1px solid #fff;}
abbr[title]{cursor:help;border-bottom:1px dotted #999;}
abbr.initialism{font-size:90%;text-transform:uppercase;}
blockquote{padding:0 0 0 15px;margin:0 0 18px;border-left:5px solid #eee;}
blockquote p{margin-bottom:0;font-size:16px;font-weight:300;line-height:22.5px;}
blockquote small{display:block;line-height:18px;color:#999;}
blockquote small:before{content:'\2014 \00A0';}
blockquote.pull-right{float:right;padding-right:15px;padding-left:0;border-right:5px solid #eee;border-left:0;}
blockquote.pull-right p,blockquote.pull-right small{text-align:right;}
blockquote.pull-right small:before{content:'';}
blockquote.pull-right small:after{content:'\00A0 \2014';}
q:before,q:after,blockquote:before,blockquote:after{content:"";}
address{display:block;margin-bottom:18px;font-style:normal;line-height:18px;}
.carousel{position:relative;margin-bottom:18px;line-height:1;}
.carousel-inner{overflow:hidden;width:100%;position:relative;}
.carousel .item{display:none;position:relative;-webkit-transition:.6s ease-in-out left;-moz-transition:.6s ease-in-out left;-o-transition:.6s ease-in-out left;transition:.6s ease-in-out left;}
.carousel .item>img{display:block;line-height:1;}
.carousel .active,.carousel .next,.carousel .prev{display:block;}
.carousel .active{left:0;}
.carousel .next,.carousel .prev{position:absolute;top:0;width:100%;}
.carousel .next{left:100%;}
.carousel .prev{left:-100%;}
.carousel .next.left,.carousel .prev.right{left:0;}
.carousel .active.left{left:-100%;}
.carousel .active.right{left:100%;}
.carousel-control{position:absolute;top:40%;left:15px;width:40px;height:40px;margin-top:-20px;font-size:60px;font-weight:100;line-height:30px;color:#fff;text-align:center;background:#222;border:3px solid #fff;-webkit-border-radius:23px;-moz-border-radius:23px;border-radius:23px;opacity:.5;filter:alpha(opacity=50);}
.carousel-control.right{left:auto;right:15px;}
.carousel-control:hover{color:#fff;text-decoration:none;opacity:.9;filter:alpha(opacity=90);}
.carousel-caption{position:absolute;left:0;right:0;bottom:0;padding:15px;background:#333;background:rgba(0,0,0,0.75);}
.carousel-caption h4,.carousel-caption p{color:#fff;line-height:18px;}
.carousel-caption h4{margin:0 0 5px;}
.carousel-caption p{margin-bottom:0;}
.pagination{height:36px;margin:18px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.05);box-shadow:0 1px 2px rgba(0,0,0,0.05);}
.pagination ul>li{display:inline;}
.pagination ul>li>a,.pagination ul>li>span{float:left;padding:0 14px;line-height:34px;text-decoration:none;background-color:#fff;border:1px solid #ddd;border-left-width:0;}
.pagination ul>li>a:hover,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#f5f5f5;}
.pagination ul>.active>a,.pagination ul>.active>span{color:#999;cursor:default;}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover{color:#999;background-color:transparent;cursor:default;}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
.modal-open .dropdown-menu{z-index:2050;}
.modal-open .dropdown.open{*z-index:2050;}
.modal-open .popover{z-index:2060;}
.modal-open .tooltip{z-index:2070;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000;}
.modal-backdrop.fade{opacity:0;}
.modal-backdrop,.modal-backdrop.fade.in{opacity:.8;filter:alpha(opacity=80);}
.modal{position:fixed;top:50%;left:50%;z-index:1050;overflow:auto;width:560px;margin:-280px 0 0 -280px;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}
.modal.fade{-webkit-transition:opacity .3s linear,top .3s ease-out;-moz-transition:opacity .3s linear,top .3s ease-out;-o-transition:opacity .3s linear,top .3s ease-out;transition:opacity .3s linear,top .3s ease-out;top:-25%;}
.modal.fade.in{top:50%;}
.modal-header{padding:9px 15px;border-bottom:1px solid #eee;}
.modal-header .close{margin-top:2px;}
.modal-header h3{margin:0;line-height:30px;}
.modal-body{overflow-y:auto;max-height:400px;padding:15px;}
.modal-form{margin-bottom:0;}
.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #fff;-moz-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff;*zoom:1;}
.modal-footer:before,.modal-footer:after{display:table;content:"";line-height:0;}
.modal-footer:after{clear:both;}
.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0;}
.modal-footer .btn-group .btn+.btn{margin-left:-1px;}
.pull-left{float:left;}
.pull-right{float:right;}
.linkButton a,.control_green_button{border-style:solid;border-color:#5C8727;background-color:#5C8727;border-width:thin;font-family:Arial;color:white;font-weight:bold;padding:5px;}
.linkButton a:hover,.control_green_button:hover{text-decoration:none;color:white;}
img{max-width:none;}
#no_thanks{text-decoration:underline;}
h1{font-family:Georgia,"Times New Roman",Times,serif;font-style:italic;line-height:30pt;font-size:42px;color:#cf451f;margin:0 0 45px 0;padding:0;font-weight:100;}
h2{font-family:Georgia;font-style:italic;line-height:19pt;font-size:19px;color:#cf4520;font-weight:200;padding:0 0 0 1px;margin:6px 0 8px 0;}
h2:first-child{margin-top:0;}
h3{font-family:Arial;font-weight:bold;font-size:large;color:#000;}
h4{font-family:Georgia;font-style:italic;line-height:19pt;font-size:19px;font-weight:200;color:#717073;margin:6px 0 30px 0;}
a{color:#5c8727;text-decoration:none;}
a:hover{text-decoration:underline;}
a:visited{text-decoration:none;}
a:active{text-decoration:none;}
a.green{color:#5c8727;text-decoration:none;}
a.orange{color:#cf4520;text-decoration:none;}
a.black{color:#000;}
hr{border:0;height:2px;margin:0;padding:0;}
hr.light-gray{color:#ddd;background-color:#ddd;}
hr.green{color:#5c8727;background-color:#5c8727;}
hr.gray-dotted{border-color:#000;border-style:dotted;border-top-width:1px;height:0;margin-bottom:20px;}
hr.orange-solid{border-color:#cf4520;border-style:solid;border-top-width:1px;height:0;margin-bottom:20px;}
hr.orange-solid-thick{border-color:#cf4520;border-style:solid;border-top-width:3px;height:0;margin-bottom:20px;}
.green{color:#5c8727;}
.orange{color:#cf4520;}
.caps{text-transform:uppercase;}
.align-text-right{text-align:right;}
.font_press_release_list{font-family:Arial;line-height:16pt;font-size:12px;color:#000;text-decoration:none;}
.font_press_release_list:hover{color:#000;text-decoration:underline;}
#header{margin-top:10px;}
#header hr{margin-bottom:28px;margin-top:2px;}
#header .quicklinks{padding-bottom:6px;}
#header .quicklinks.hdr-links3{padding-bottom:0;}
#header .quicklinks a{display:block;clear:both;}
#header .quicklinks a:hover{text-decoration:underline;}
#header .becomecustomer{padding-bottom:6px;}
#header .socialsharing{padding-bottom:5px;}
.control_text_input{margin-bottom:3px;border-style:solid;border-color:#ddd;border-width:1px;font-family:Arial,sans-serif;line-height:11pt;font-size:11px;color:#5c8727;height:14px;padding:0 0 0 5px;vertical-align:middle;}
.control_text_input:focus{outline:#5c8727;}
#navigation{margin-left:144px;width:820px;height:35px;margin-top:35px;z-index:400;position:relative;}
.nav_main{list-style-type:none;padding:0;height:35px;margin:10px 0 0 0;}
.nav_main>li{float:left;margin-left:20px;width:144px;height:35px;padding-bottom:5px;border-bottom:2px solid #EEE;}
.nav_main>li.firstNav{margin:0;}
.nav_main>li>a{display:block;padding-top:20px;text-decoration:none;}
.nav_main>li>a.break{margin-top:-20px;line-height:18px;}
.nav_main>li>a:hover{color:#CF4520!important;}
.nav_main>li:hover{visibility:visible;}
.nav_main>li:hover ul{opacity:1;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;-ms-transition:all .2s linear;transition:all .2s linear;visibility:visible;}
.nav_main .nav_main_sub{opacity:0;visibility:hidden;margin-left:0;background-color:#FFF;list-style-type:none;border:8pt solid #E7E7E7;padding:20px;width:100%;position:relative;z-index:10000;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;-ms-transition:all .2s linear;transition:all .2s linear;}
.nav_main .nav_main_sub>li{border-bottom:2px solid #EEE;width:100%;background-color:#FFF;padding:2px 0 1px 0;}
.nav_main .nav_main_sub>li:hover a{text-decoration:none;color:#cf4520;}
.nav_main .nav_main_sub .nav_sub_black{font-family:Arial;font-size:13px!important;line-height:11pt;letter-spacing:1px;color:#000;}
.nav_main .nav_main_sub .nav_sub_selected{color:#cf4520!important;}
.nav_main .nav_main_black{text-transform:uppercase;font-family:Arial;font-weight:bold;font-size:14px!important;line-height:11pt;letter-spacing:1px;color:#404040;padding-bottom:4px;}
.nav_main .nav_main_selected{color:#CF4520!important;}
.breadcrumb{margin-top:10px;margin-bottom:15px;}
.breadcrumb .breadcrumb_separator{font-family:Georgia;font-style:italic;font-size:13px;margin-left:5px;margin-right:5px;}
.breadcrumb .breadcrumb_node{font-family:Georgia;font-style:italic;font-size:13px;text-decoration:none;color:#5C8727;}
.breadcrumb .breadcrumb_node_current{font-family:Georgia;font-style:italic;font-size:13px;color:#717073;}
.breadcrumb hr.green.search{margin-top:5px;}
.left_nav_container{margin-top:86px;}
.left_nav_container a{font-weight:100;}
.left_nav_container .gray-bold{font-weight:900;color:#717073;}
.left_nav_container ul li{list-style:none;}
.left_nav_container ul li ul{margin-left:15px;}
.left_nav_container ul li ul li a{display:block;overflow:hidden;line-height:14px;margin-top:3px;}
.left_nav_container ul li ul li a:hover{text-decoration:underline;}
.left_nav_container ul.left_navlist_main{padding:0;margin:0;}
.left_nav_container ul.left_navlist_main>li{border-style:dotted;border-width:1px;border-bottom:none;border-left:none;border-right:none;padding:5px 0;}
.left_nav_container ul.left_navlist_main>li>a{max-width:124px;line-height:1.2em;display:block;}
.left_nav_container ul.left_navlist_main>li>a:hover{text-decoration:underline;}
.left_nav_container ul.left_navlist_main>li>img{border-width:0;position:absolute;margin:-12px 0 0 125px;}
.left_nav_container ul.left_navlist_main>li.last_list_item{border-bottom:none;}
#footer .span6{border-color:black;border-style:dotted;border-width:1px;border-left:none;border-right:none;margin-bottom:10px;margin-top:30px;}
#footer .last-quicklink{width:144px;min-height:20px;}
#footer #footer_links .socialLinks .social_media_icon{float:left;margin-left:10px;height:32px;overflow:hidden;}
#footer #footer_links .socialLinks .social_media_icon img{margin-top:-32px;}
#footer #footer_links .socialLinks .social_media_icon img:hover{margin-top:0;}
#footer #footer_links .quicklinks a{clear:both;display:block;}
#footer .font_footer_grey{font-family:Arial;line-height:16pt;font-size:12px;color:#717073;width:144px;height:80px;float:left;}
#footer .font_footer_grey .text p{margin-top:0;}
.main-section-landing-page #middle .span6{border-top:1px dotted black;padding-top:35px;margin-top:20px;margin-bottom:20px;}
.main-section-landing-page #middle .span3.first{margin-left:0;}
.main-section-landing-page #bottom .span3{border-top:2px solid #CF4520;padding-top:10px;}
.main-section-landing-page #bottom .span3 h2{padding-top:20px;}
.main-section-landing-page #bottom .rich-image.pull-right{padding-left:15px;}
.main-section-landing-page #bottom .rich-image.pull-left{padding-right:15px;}
.single-content-page .linkButton{margin-bottom:15px;margin-top:10px;}
.single-content-page h1{margin-bottom:45px;}
.single-content-page .twoColumn{margin-left:-20px;}
.single-content-page .twoColumn.fifty-fifty{margin-bottom:10px;}
.single-content-page .richtextimage.textoverlay{height:382px;clear:both;margin-bottom:0;}
.single-content-page .richtextimage.textoverlay .rich-image.textoverlay.pull-right+.rich-text.textoverlay{position:absolute;width:400px;}
.single-content-page .richtextimage.textoverlay .rich-image.textoverlay.pull-right+.rich-text.textoverlay h4{margin-top:-6px;}
.single-content-page .search_container .result_container a h3:hover{text-decoration:underline;}
.division-page .map_canvas{margin-top:30px;}
.richtextimage{margin-bottom:20px;}
.rich-image.pull-right{padding-left:15px;}
.rich-image.pull-left{padding-right:15px;}
.richtextimage .rich-text{overflow:hidden;display:block;}
#CQrte h2{font-family:Georgia;font-style:italic;line-height:19pt;font-size:19px;color:#CF4520!important;font-weight:200;padding:0 0 0 1px;margin:6px 0 8px 0;}
.homepage #top{margin-top:30px;}
.homepage #top #slideshow a{position:absolute;}
.homepage #top #slideshow_controls a{padding:2px;}
.homepage #middle .span2{padding-top:10px;border-top:1px solid #cf4520;}
.homepage #middle .span2 .richtextimage{margin-bottom:10px;}
.homepage #bottom .span4{padding-top:13px;border-top:1px solid #cf4520;}
.fiveColumn>[class*="fiveColumn-c"]:first-child{margin-left:0;}
.fiveColumn>[class*="fiveColumn-c"]{float:left;width:144px;margin-left:20px;}
.threeColumn [class*="ten-fortyfive-fortyfive-"]{float:left;margin-left:20px;}
.threeColumn .ten-fortyfive-fortyfive-c0{width:144px;margin-left:0;}
.threeColumn .ten-fortyfive-fortyfive-c1{padding-left:50px;padding-right:50px;width:208px;}
.threeColumn .ten-fortyfive-fortyfive-c2{width:308px;}
.threeColumn [class*="thirty-three-thirty-three-thirty-three-"]{float:left;margin-left:10px;width:260px;}
.threeColumn [class*="thirty-three-thirty-three-thirty-three-"] h2{text-align:center;}
.threeColumn [class*="thirty-three-thirty-three-thirty-three-"]:first-child{margin-left:0;}
.twoColumn{margin-left:-20px;}
.twoColumn.seventy-thirty>*{margin-top:20px;}
.twoColumn.seventy-thirty .seventy-thirty-c0{width:472px;float:left;margin-left:20px;}
.twoColumn.seventy-thirty .seventy-thirty-c1{width:308px;float:left;margin-left:20px;}
.twoColumn.fifty-fifty{margin-bottom:10px;*zoom:1;}
.twoColumn.fifty-fifty:before{display:table;content:"";line-height:0;}
.twoColumn.fifty-fifty:after{display:table;content:"";line-height:0;clear:both;}
.twoColumn.fifty-fifty .fifty-fifty-c0{width:390px;float:left;margin-left:20px;}
.twoColumn.fifty-fifty .fifty-fifty-c1{width:390px;float:left;margin-left:20px;}
.full-page .twoColumn.fifty-fifty{margin-bottom:10px;*zoom:1;}
.full-page .twoColumn.fifty-fifty:before{display:table;content:"";line-height:0;}
.full-page .twoColumn.fifty-fifty:after{display:table;content:"";line-height:0;clear:both;}
.full-page .twoColumn.fifty-fifty .fifty-fifty-c0{width:472px;float:left;margin-left:20px;}
.full-page .twoColumn.fifty-fifty .fifty-fifty-c1{width:472px;float:left;margin-left:20px;}
.tab-content a{display:block;}
.ad-thumb-list img{height:80px;}
.span5 #slideshow a{position:absolute;}
.span5 #slideshow_controls a{padding:2px;}
.dynamictabs .ui-tabs{position:relative;padding:.2em;zoom:1;}
.dynamictabs .ui-tabs .ui-tabs-nav{margin:0;padding:.2em 0 0 0;border-bottom:2px solid #cf4520;background-image:none;}
.dynamictabs .ui-tabs .ui-tabs-nav.ui-widget-header{background:none;border:none;border-bottom:2px solid #cf4520;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.dynamictabs .ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;top:1px;margin:0 .2em 1px 0;border:none!important;padding:0;white-space:nowrap;background:none;font:bold 13px Arial;color:#5c8727;margin-right:3px;padding-top:0;text-decoration:none;outline:none;background-color:#5c8727;}
.dynamictabs .ui-tabs .ui-tabs-nav li a{float:left;padding:.5em 1em;text-decoration:none!important;color:#fff;}
.dynamictabs .ui-tabs .ui-tabs-nav li.ui-tabs-active{margin-bottom:0;background-color:#cf4520;}
.dynamictabs .ui-tabs .ui-tabs-nav li.ui-tabs-active a{cursor:pointer;color:#fff;}
.dynamictabs .ui-tabs .ui-tabs-nav li.ui-state-disabled a{cursor:text;}
.dynamictabs .ui-tabs .ui-tabs-nav li.ui-state-processing a{cursor:text;}
.dynamictabs .ui-tabs .ui-tabs-panel{display:block;border-width:0;padding:1em 1.4em;background:none;}
.dynamictabs .ui-tabs .ui-tabs-hide{display:none!important;}
.dynamictabs .ui-tabs-panel{clear:both;}
.dynamictabs a:focus,.dynamictabs li:focus{outline:none;}
.modal{z-index:60001;width:883px;background:inherit;left:40%;position:fixed;}
@media screen and(max-width:1000px){.modal{left:34%;}
}
@media screen and(max-width:1200px){.modal{left:36%;}
}
@media screen and(min-width:1800px){.modal{left:42%;}
}
.modal .modal-header{background-color:#5c8727;border-bottom:#333 1px solid;border-top-left-radius:5px;border-top-right-radius:5px;}
.modal .modal-header a{color:#eee;position:absolute;right:15px;top:15px;font-weight:bolder;cursor:pointer;font-size:1.5em;text-decoration:none;}
.modal .modal-header h3{color:#eee;}
.modal .modal-body{background:white;max-height:900px;height:485px;}
.modal .modal-footer{text-align:left;}
.modal-backdrop{z-index:60000;}
.ui-dialog-titlebar{background-color:#5c8727;background-image:none;border-color:#5c8727;}
.generic-page{font-family:arial,sans-serif;font-size:14px;margin-top:30px;}
.generic-page b{font-size:1.3em;}
.inputCon{margin:10px 0 10px 0;}
.inputCon .errorBox{display:none;}
.inputCon label{width:20%;float:left;margin-top:10px;}
.inputCon input{border:1px solid #eee;width:70%;padding:10px 0 10px 5px;float:left;margin-bottom:10px;}
.inputCon input:focus{outline:none;border-color:#5c8727;}
.inputCon input.control_green_button{width:30%;float:right;margin-right:8%;}
.inputCon.error input{border:2px solid #b94a48;background-color:#f2dede;margin-bottom:0;color:#b94a48;}
.inputCon.error .errorBox{margin-left:21%;display:block;float:left;text-align:center;width:69.7%;background:#f2dede;margin-bottom:10px;color:#b94a48;font-weight:bold;}
.search_container .result_container{margin-top:10px;margin-bottom:10px;}
.search_container .result_container hr{margin-bottom:10px;}
.search_container .result_container h3{color:#5c8727;margin-bottom:0;float:left;line-height:1em;margin-top:5px;}
.search_container .result_container .date{float:left;margin:5px 0 0 5px;color:#999;font-size:.9em;}
.search_container .result_container .url{color:#999;}
.search_container .pagination ul>li>a,.search_container .pagination ul>li>span{padding:0 8px;}
a.green-underline-hover{color:#5c8727;text-decoration:none;}
a.green-underline-hover:hover{text-decoration:underline;}
.ui-accordion .ui-accordion-icons{padding-left:0;}