.NewsList
{
}

/* ------------------------------------------------
   List-style news list: 
   ------------------------------------------------ */
   
.NewsList .Item
{
	padding-top: 12px;
}

.NewsList .Item .Date
{
}

.NewsList .Item .Headline
{
	font-weight: bold;
	text-decoration: none;
}

/* ------------------------------------------------
   Table-style news list: 
   ------------------------------------------------ */

.NewsList table tr td.DateCell
{
	vertical-align: top;
	white-space: nowrap;
	padding-right: 12px;
	padding-bottom: 12px;
}

.NewsList table tr td.HeadlineCell
{
	padding-bottom: 12px;
	vertical-align: top;
	font-weight: bold;
	text-decoration: none;
}

.NewsList table tr td.HeadlineCell a,
.NewsList table tr td.DateCell a,
.NewsList .Item .Date a,
.NewsList .Item .Headline a
{
	color: Black;
	cursor: pointer;
	text-decoration: none;
}

.NewsList table tr td.HeadlineCell a:link,
.NewsList table tr td.DateCell a:link,
.NewsList .Item .Date a,
.NewsList .Item .Headline a
{
	color: Black;
	text-decoration: none;
}

.NewsList table tr td.HeadlineCell a:visited,
.NewsList table tr td.DateCell a:visited,
.NewsList .Item .Date a,
.NewsList .Item .Headline a
{
	color: Black;
	text-decoration: none;
}

.NewsList table tr td.HeadlineCell a:hover,
.NewsList table tr td.DateCell a:hover,
.NewsList .Item .Date a,
.NewsList .Item .Headline a
{
	color: Red;
	text-decoration: none;
}

.NewsList table tr td.HeadlineCell a:active,
.NewsList table tr td.DateCell a:active,
.NewsList .Item .Date a,
.NewsList .Item .Headline a
{
	color: Black;
	text-decoration: none;
}

/* ------------------------------------------------
   Container for news list in spotlight block
   ------------------------------------------------ */

.SpotlightNewsBlock
{
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
}