/*@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=03715cf4-3023-4c6c-a0eb-6f45065e7ab3");*/
/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/

/* Neue Helvetica® 47 Condensed Light */

@font-face{
    font-family:"HelveticaNeueCnLt";
    src:url("../../../common/fonts/corporate/7de6b03f-1298-4bc2-89af-9d9da594008d.eot-iefix")/*tpa=http://www.starwoodhotels.com/common/fonts/corporate/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?iefix*/ format("eot");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"HelveticaNeueCnLt";
    src:url("../../../common/fonts/corporate/7de6b03f-1298-4bc2-89af-9d9da594008d.eot-iefix")/*tpa=http://www.starwoodhotels.com/common/fonts/corporate/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?iefix*/;
    src:url('../../../woff/render_woff.do-font=corporate-42aacb2f-222e-46f5-a95a-1c22948ee0d1.woff')/*tpa=http://www.starwoodhotels.com/woff/render_woff.do?font=corporate/42aacb2f-222e-46f5-a95a-1c22948ee0d1.woff*/ format('woff'),
    url("../../../common/fonts/corporate/5405647d-099e-47f7-9d4a-f8692e57a206.svg#5405647d-099e-47f7-9d4a-f8692e57a206")/*tpa=http://www.starwoodhotels.com/common/fonts/corporate/5405647d-099e-47f7-9d4a-f8692e57a206.svg#5405647d-099e-47f7-9d4a-f8692e57a206*/ format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Neue Helvetica® 57 Condensed */

@font-face{
    font-family:"HelveticaNeueCn";
    src:url("../../../common/fonts/corporate/ecaa98fe-425a-42de-846b-c235f0dbc449.eot-iefix")/*tpa=http://www.starwoodhotels.com/common/fonts/corporate/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?iefix*/ format("eot");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"HelveticaNeueCn";
    src:url("../../../common/fonts/corporate/ecaa98fe-425a-42de-846b-c235f0dbc449.eot-iefix")/*tpa=http://www.starwoodhotels.com/common/fonts/corporate/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?iefix*/;
    src:url('../../../woff/render_woff.do-font=corporate-842088d0-1ae2-40d0-8561-3c95761ba7a6.woff')/*tpa=http://www.starwoodhotels.com/woff/render_woff.do?font=corporate/842088d0-1ae2-40d0-8561-3c95761ba7a6.woff*/ format('woff'),
        url("../../../common/fonts/corporate/6cd480d1-47d0-48b4-86bd-283db2cb9235.svg#6cd480d1-47d0-48b4-86bd-283db2cb9235")/*tpa=http://www.starwoodhotels.com/common/fonts/corporate/6cd480d1-47d0-48b4-86bd-283db2cb9235.svg#6cd480d1-47d0-48b4-86bd-283db2cb9235*/ format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Neue Helvetica® 67 Condensed Medium */

@font-face{
    font-family:"HelveticaNeueCnMd";
    src:url("../../../common/fonts/corporate/3a605871-b94d-4161-a394-bb2cfc975df7.eot-iefix")/*tpa=http://www.starwoodhotels.com/common/fonts/corporate/3a605871-b94d-4161-a394-bb2cfc975df7.eot?iefix*/ format("eot");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"HelveticaNeueCnMd";
    src:url("../../../common/fonts/corporate/3a605871-b94d-4161-a394-bb2cfc975df7.eot-iefix")/*tpa=http://www.starwoodhotels.com/common/fonts/corporate/3a605871-b94d-4161-a394-bb2cfc975df7.eot?iefix*/;
    src:url('../../../woff/render_woff.do-font=corporate-aef05e22-e1d4-4e59-bc2e-a71c13c26cca.woff')/*tpa=http://www.starwoodhotels.com/woff/render_woff.do?font=corporate/aef05e22-e1d4-4e59-bc2e-a71c13c26cca.woff*/ format('woff'),
        url("../../../common/fonts/corporate/5ab0c585-fb4b-43d9-abb0-b92f452b1284.svg#5ab0c585-fb4b-43d9-abb0-b92f452b1284")/*tpa=http://www.starwoodhotels.com/common/fonts/corporate/5ab0c585-fb4b-43d9-abb0-b92f452b1284.svg#5ab0c585-fb4b-43d9-abb0-b92f452b1284*/ format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Neue Helvetica® 77 Condensed Bold */

@font-face{
    font-family:"HelveticaNeueCnBd";
    src:url("../../../common/fonts/corporate/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot-iefix")/*tpa=http://www.starwoodhotels.com/common/fonts/corporate/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?iefix*/ format("eot");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"HelveticaNeueCnBd";
    src:url("../../../common/fonts/corporate/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot-iefix")/*tpa=http://www.starwoodhotels.com/common/fonts/corporate/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?iefix*/;
    src:url('../../../woff/render_woff.do-font=corporate-102ab74c-0e84-4fe5-a17a-b20fb643591a.woff')/*tpa=http://www.starwoodhotels.com/woff/render_woff.do?font=corporate/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff*/ format('woff'),
        url("../../../common/fonts/corporate/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22")/*tpa=http://www.starwoodhotels.com/common/fonts/corporate/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22*/ format("svg");
    font-weight: normal;
    font-style: normal;
}