div.datepicker{position:absolute;text-align:center;border:1px
#C4D5E3 solid;font-family:arial;background:#FFF;font-size:10px;padding:0px}div.datepicker
table{font-size:10px;margin:0px;padding:0px;text-align:center;width:180px}div.datepicker table thead tr
th{font-size:12px;font-weight:bold;background:#e9eff4;border-bottom:1px solid #c4d5e3;padding:0px;margin:0px}div.datepicker table tbody
tr{border:1px
white solid;margin:0px;padding:0px}div.datepicker table tbody tr
td{border:1px
#eaeaea solid;margin:0px;padding:0px;text-align:center}div.datepicker table tbody tr td:hover,
div.datepicker table tbody tr td.outbound:hover,
div.datepicker table tbody tr td.today:hover{border:1px
#c4d5e3 solid;background:#e9eff4;cursor:pointer}div.datepicker table tbody tr
td.wday{border:1px
#fff solid;background:#fff;cursor:text}div.datepicker table tbody tr
td.outbound{background:#e8e4e4}div.datepicker table tbody tr
td.today{border:1px
#16518e solid;background:#c4d5e3}div.datepicker table tbody tr td.nclick,
div.datepicker table tbody tr td.nclick_outbound,
div.datepicker table tbody tr
td.nclick_today{cursor:default;color:#aaa}div.datepicker table tbody tr
td.nclick_outbound{background:#E8E4E4}div.datepicker table tbody tr
td.nclick_today{background:#c4d5e3}div.datepicker table tbody tr td.nclick:hover,
div.datepicker table tbody tr td.nclick_outbound:hover,
div.datepicker table tbody tr td.nclick_today:hover{border:1px
#eaeaea solid;background:#FFF}div.datepicker table tbody tr td.nclick_outbound:hover{background:#E8E4E4}div.datepicker table tbody tr td.nclick_today:hover{background:#c4d5e3}div.datepicker table tfoot tr
td{font-size:10px;background:#e9eff4;border-top:1px solid #c4d5e3;cursor:pointer;text-align:center;padding:0px}.jSticky-large{background:transparent url(../../../images/stickynote/stickynote-large.png)/*tpa=http://www.precast.com/web/images/stickynote/stickynote-large.png*/ no-repeat top left;width:225px;height:228px;position:absolute;z-index:999999}.jSticky-medium{background:transparent url(../../../images/stickynote/stickynote-medium.png)/*tpa=http://www.precast.com/web/images/stickynote/stickynote-medium.png*/ no-repeat top left;width:160px;height:162px;position:absolute;z-index:999999}.jSticky-delete{background:transparent url(../../../images/stickynote/delete.png)/*tpa=http://www.precast.com/web/images/stickynote/delete.png*/ no-repeat top left;height:14px;width:14px;position:absolute;cursor:pointer}.jSticky-medium .jStickyNote textarea, .jSticky-medium .jStickyNote
p{font-size:14px;font-weight:bold;height:115px}.jSticky-large .jStickyNote textarea, .jSticky-large .jStickyNote
p{height:160px;font-size:16px}.jStickyNote
textarea{width:75%;background-color:transparent;border:none;font-family:'Comic Sans MS',Textile,cursive;font-size:16px;overflow:hidden;color:#999;padding:0px;margin:15px
0px 0px 24px;float:left;resize:none}.jStickyNote
p{font-family:'Comic Sans MS',Textile,cursive;color:#444;margin:15px
0px 0px 24px;overflow:hidden;width:75%;float:left}.jSticky-large .jSticky-create{float:right;width:14px;height:14px;background:transparent url(../../../images/stickynote/ok.png)/*tpa=http://www.precast.com/web/images/stickynote/ok.png*/ no-repeat top left;margin-right:1px;margin-top:185px;cursor:pointer}.jSticky-medium .jSticky-create{float:right;width:14px;height:14px;background:transparent url(../../../images/stickynote/ok.png)/*tpa=http://www.precast.com/web/images/stickynote/ok.png*/ no-repeat top left;margin-right:1px;margin-top:80%;cursor:pointer}body{margin:0;padding:0;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,verdana,sans-serif;font-size:11px;line-height:14px;color:#000;background:#515252 url(../../../images/corp/pcc_bg_diag.gif)/*tpa=http://www.precast.com/web/images/corp/pcc_bg_diag.gif*/ 0 0 repeat}table{margin:0;border:none;border-collapse:collapse;border-spacing:0}td{vertical-align:top;padding:0;text-align:left;font-size:11px;line-height:14px;border:none}p{margin:0px}ol{margin:0;padding-left:15px;font-size:11px}ul{margin:0;padding-left:0px;list-style-type:none;font-weight:normal}li{margin:0;padding-left:0px;font-size:11px;line-height:14px}img{display:block;border:none;margin:0;padding:0}img.inline{display:inline}.hide{display:none}div{margin:0;padding:0}form{margin:0}h1{margin:0;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,verdana,sans-serif;font-size:17px}h2{margin:0;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,verdana,sans-serif;font-size:13px;text-transform:uppercase}h3{margin:0;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,verdana,sans-serif;font-size:13px;text-transform:normal}h4{margin:0;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,verdana,sans-serif;font-size:11px;text-transform:uppercase;clear:left}h5{margin:0;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,verdana,sans-serif;font-size:10px}h6{margin:0;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,verdana,sans-serif;font-size:10px;text-transform:uppercase}.content_subtitle{background-color:#e7e7e7;padding:5px
3px}.content_subtitle_two_col_top{background-color:#e7e7e7;padding:5px
3px;clear:none;margin-left:230px !important}.contentWrap{width:1022px;width:1050px;margin:auto}.pageFrame{float:left;margin:0
0px 0 0px;padding-left:28px;background:url(../../../images/corp/pcc_bg_shdw2.png)/*tpa=http://www.precast.com/web/images/corp/pcc_bg_shdw2.png*/ 0 0 repeat-y}#header{position:relative;float:left;height:101px;width:698px;overflow:hidden;background:#FFF}#header h1, div#header
div.logo_link{float:left;margin:24px
0 0 0px}#header h1 a, div#header div.logo_link
a{display:block;width:304px;height:43px;text-indent: -2000px;background:url(../../../images/pcc_logo.png)/*tpa=http://www.precast.com/web/images/pcc_logo.png*/ 0 0 no-repeat}#header
h2{position:absolute;bottom:8px;left:0px;font-size:9px;line-height:22px;letter-spacing:0.25em;font-weight:normal;color:#1B1C1C}#nav{clear:left;float:left;width:750px;margin-left: -26px;background:#06183F;border-bottom:solid 2px #979898;border-top:solid 2px #6e6f6f}#nav
li{position:relative;z-index:19990;float:left;font-size:9px;line-height:22px;text-transform:uppercase;letter-spacing:1.5px;width:120px}#nav
li.overviewfinancialresults{width:149px}#nav
li.operationshome{width:117px}#nav
li.investorshome{width:146px}#nav
li.investors{width:146px}#nav
li.career{width:75px}#nav
li.locations{width:95px}#nav
li.faqs{width:64px}#nav
li.contactus{width:103px}#nav
li.cmsdashboard{width:123px}#nav
li.cmsselectwebsite{width:203px}#nav
li.cmspages{width:83px}#nav
li.cmscomponents{width:143px}#nav
li.cmsprofile{width:143px}#nav
li.go_to_homepage{width:173px}#nav
li.cmslogout{width:85px}#nav li
a{display:block;color:#FFF;text-decoration:none;text-align:center;background:url(../../../images/corp/nav_bg.jpg)/*tpa=http://www.precast.com/web/images/corp/nav_bg.jpg*/ 0 0 repeat-x}#nav li a:hover, .nav li a:focus{color:#FFF;text-decoration:none;background:url(../../../images/corp/nav_bg.jpg)/*tpa=http://www.precast.com/web/images/corp/nav_bg.jpg*/ 0 -26px repeat-x}#nav li
a.onPageHighlight{color:#FFF;background-position:0 -26px}#nav li
ul{display:none;position:absolute;left:0;top:22px;z-index:1000;border-top:2px solid #979898;border-left:solid 1px #BABCBE;border-right:solid 2px #06183F;border-bottom:solid 2px #06183F;background:url(../../../images/corp/nav_grey_bg_90.png)/*tpa=http://www.precast.com/web/images/corp/nav_grey_bg_90.png*/ 0 0 repeat}#nav li:hover
ul{display:block}#nav li ul
ul{position:relative;top:0;background:transparent;border:none}#nav li ul
li{float:none;display:block;width:205px;font-size:9px;line-height:13px;letter-spacing:0}#nav li ul li
a{padding:3px
20px 3px 10px;color:#1B1C1C;font-weight:normal;text-align:left;background:transparent;border-top:solid 1px transparent;border-bottom:solid 1px transparent}#nav li ul li a:hover{background:#00209F url(../../../images/corp/gfx_arws.gif)/*tpa=http://www.precast.com/web/images/corp/gfx_arws.gif*/ right -75px no-repeat;border-top:solid 1px #7F8FCF;border-bottom:solid 1px #06183F}#nav li ul li li
a{padding-left:22px;font-weight:normal}#mainCol{position:relative;float:left;padding:0
26px 15px 26px;width:698px;background:#FFF}#mainCol
.imgWrap{float:left;margin-left:0px;width:455px;overflow:hidden}#mainCol .imgWrap
img{width:100% !important}#mainCol .imgWrap
.caption{padding-top:10px;padding-bottom:15px;float:right;font-size:12px;line-height:17px;font-family:Arial,helvetica,verdana,sans-serif;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,helvetica,verdana,sans-serif;color:#525353;border-bottom:solid 2px #BABCBE}#mainCol
.subCol{position:relative;float:left;margin:0px
27px 0 0;width:214px;overflow:visible}#mainCol
.flushRight{margin-right:0}#mainCol
#col1{margin-left:0px;width:204px;margin-right:37px}#mainCol
#col3{margin-right:0px}#mainCol .subCol
h2{margin:20px
0 16px 0;font-size:12px;line-height:16px}#mainCol .subCol h2
a{color:#000;text-decoration:none}#mainCol .subCol h2 a:hover{text-decoration:underline}#mainCol #col1
h2{margin-bottom:5px;font-size:17px;line-height:19px;color:#720007;color:#00209F}#mainCol #col1
h4{margin:0
0 8px 0;text-transform:uppercase;font-weight:normal;color:#720007}#mainCol .subCol
p{margin-bottom:16px;font-size:11px;line-height:17px;color:#525353}#mainCol .subCol
p.collapsed{margin-bottom:0;padding:0}#mainCol .subCol span
a{color:#00209F;font-weight:bold}#mainCol .subCol a.more, #mainCol .subCol
.moreSeg{margin-right:10px;padding-right:15px;font-size:11px;line-height:17px;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;font-family:Arial,Helvetica,Verdana,sans-serif;font-weight:bold;color:#1B1C1C}#mainCol .subCol
.moreSeg{float:right}#mainCol .subCol .moreSeg:hover{background-position:right -23px}.segment #mainCol .subCol
.moreSeg{margin-right:0}div#col2 h3.smaller, div#col3
h3.smaller{font-size:.85em;padding-right:25px;margin-bottom:12px;margin-top:0}#rightCol{float:left;margin-right: -20px;padding-bottom:30px;width:244px;overflow:hidden}#rightCol
div.job_listing{color:#fff;margin:7px
4px 15px 4px}#rightCol
table.financial_data{width:100%;border:0;color:#fff;background:#525353 url(../../../images/corp/rt_col_gry_shdw.jpg)/*tpa=http://www.precast.com/web/images/corp/rt_col_gry_shdw.jpg*/ 0 0 repeat-y}#rightCol table.financial_data tr td
a{color:#e7d307;text-decoration:underline}#rightCol table.financial_data tr
td{color:#fff;padding:4px
8px 8px 18px}#rightCol table.financial_data tr
td.financial_data_value{text-align:right;padding-right:15px}#rightCol table.financial_data tr
td.financial_data_label{text-align:left;width:70% !important}#rightCol table.financial_data tr
td.financial_data_sublabel{text-align:left;padding-left:10%}#rightCol #sideNav
h3{color:#FFF}#rightCol ul, #rightCol
div.jobList{margin:0
0 0px 0;padding:10px
16px;background:#525353 url(../../../images/corp/rt_col_gry_shdw.jpg)/*tpa=http://www.precast.com/web/images/corp/rt_col_gry_shdw.jpg*/ 0 0 repeat-y;border-bottom:solid 2px #6E6F6F}#rightCol #sideNav
ul{background:#720007 url(../../../images/corp/rt_col_red_shdw.jpg)/*tpa=http://www.precast.com/web/images/corp/rt_col_red_shdw.jpg*/ 0 0 repeat-y;padding-bottom:20px}#rightCol
li{font-size:11px;line-height:18px;text-transform:uppercase;letter-spacing:0.1em;color:#FFF}#rightCol
a{font-size:11px;font-weight:normal;color:#FFF}#rightCol
h3{margin:0
0 0px 0px;padding:5px
0 4px 16px;font-size:10px;line-height:13px;font-weight:normal;letter-spacing:0.7px;color:#FFF;text-transform:uppercase;background:#06183F url(../../../images/corp/rt_col_blu_shdw.jpg)/*tpa=http://www.precast.com/web/images/corp/rt_col_blu_shdw.jpg*/ 0 0 no-repeat;border-bottom:solid 2px #979898}#rightCol
h4{margin:0
0 10px 16px;color:#FFF}#rightCol
p{margin:0
0 10px 16px;font-size:11px;line-height:16px;color:#525353}p.more{margin: -5px 5px 10px 0;font-weight:bold;text-align:right}p.more
a{color:#00209F}#searchWrap{position:relative;height:103px;background:#525353 url(../../../images/corp/rt_col_gry_shdw.jpg)/*tpa=http://www.precast.com/web/images/corp/rt_col_gry_shdw.jpg*/ 0 0 repeat-y}#searchWrap p
label{display:block;padding-top:10px;font-size:11px;line-height:14px;text-transform:uppercase;font-weight:bold;letter-spacing:0.5px;color:#FFF}#searchWrap
div{float:left;height:27px;margin-right:5px;padding-right:10px;font-size:10px;line-height:15px;text-transform:uppercase;color:#BABCBE;border-right:solid 1px #BABCBE}#searchWrap
div.filters{position:absolute;top:65px;left:0;z-index:20;width:97px}#searchWrap
div.all{position:absolute;top:65px;left:115px;z-index:20;width:72px}#searchWrap
.goBtn{position:absolute;top:65px;left:195px;z-index:20}#searchWrap div
label{float:right;letter-spacing: .5px;letter-spacing:1px}#searchWrap div.all
label{margin-right:4px}#searchWrap div
input{margin: -3px 5px 0 0}#searchWrap input#keywords, #searchWrap input#location-search{margin-top:5px;height:24px;width:200px;padding:0
5px 0 5px;font-size:14px;color:#FFF;background:#868787;border:solid 1px #BABCBE}#searchWrap
input#processes{margin-left:14px}#searchWrap
input#materials{margin-left:14px}#searchWrap
input#allPCC{margin-top:7px;margin-left:1px}#searchWrap
div.all{padding-right:7px;margin-right:4px}#searchWrap div.all
label{padding-top:7px}#searchWrap
.goBtn{display:block;float:left;width:36px;width:32px;height:15px;margin:6px
0 0 6px;font-size:12px;line-height:15px;text-transform:uppercase;font-weight:bold;color:#FFF;background:#525353 url(../../../images/corp/srch_arw.gif)/*tpa=http://www.precast.com/web/images/corp/srch_arw.gif*/ 26px 4px no-repeat;background:#525353 url(../../../images/corp/srch_arw2.gif)/*tpa=http://www.precast.com/web/images/corp/srch_arw2.gif*/ 0px 4px no-repeat;border:none;cursor:pointer}#searchWrap .goBtn:hover{text-decoration:underline;background-position:28px -9px;background-position:0px -9px}#rightCol #currentNumbers ul
ul{padding-right:0;background:none;border-bottom:none}#rightCol #currentNumbers
li{margin-bottom:10px;font-weight:bold;letter-spacing:0;text-transform:none;line-height:13px}#rightCol #currentNumbers li
li{margin-bottom:5px;font-weight:bold;letter-spacing:0;line-height:13px}#currentNumbers li
span{float:right;font-weight:normal}#currentNumbers li.quarter span, #currentNumbers li.nextDate
span{float:none;display:block}#currentNumbers li.quarter
span{text-transform:none}#rightCol #currentNumbers li
p{margin:15px
0 0 0;color:#FFF;text-transform:none}#rightCol #currentNumbers li p
a{text-decoration:underline}a.gfxBtn,input.gfxBtn,button.gfxBtn{display:block;width:102px;font-size:12px;line-height:23px;height:23px;text-transform:uppercase;letter-spacing:0.1em;font-weight:normal;text-align:center;color:#000;border:none;background:url(../../../images/corp/btn_jobSearch101.gif)/*tpa=http://www.precast.com/web/images/corp/btn_jobSearch101.gif*/ 0 0 no-repeat;cursor:pointer}a.gfxBtn:hover,input.gfxBtn:hover,button.gfxBtn:hover{text-decoration:underline;background-position:0 -27px}.home
.playSlides{display:none;position:absolute;top:190px;left:360px;z-index:100;height:70px;width:45px;background:url(../../../images/corp/playSlides.png)/*tpa=http://www.precast.com/web/images/corp/playSlides.png*/ 0 0 no-repeat;background:url(../../../images/corp/pauseSlides.png)/*tpa=http://www.precast.com/web/images/corp/pauseSlides.png*/ 0 0 no-repeat}#stockChart{background:#525353 url(../../../images/corp/rt_col_gry_shdw.jpg)/*tpa=http://www.precast.com/web/images/corp/rt_col_gry_shdw.jpg*/ 0 0 repeat-y}.home #mainCol
.imgWrap{float:left;width:750px;height:214px;margin-left: -26px;overflow:hidden;border:solid #FFF 2px;border-top:none;border-left:none;border-right:none}.home #mainCol
.statement{width:750px;margin-right: -26px;margin-bottom:0;border:none}.home #mainCol .statement
p{padding:12px
26px;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,verdana,sans-serif;font-size:1.2em;line-height:21px;font-weight:normal;letter-spacing: -0.02em;color:#FFF}.blue_statement{margin-bottom:10px;width:455px;color:#FFF;border-top:solid 2px #FFF;border-bottom:solid 2px #DCDDDE;background:#06183F url(../../../images/corp/pcc_hm_blu_bg.jpg)/*tpa=http://www.precast.com/web/images/corp/pcc_hm_blu_bg.jpg*/ 0 0 repeat-x}#mainCol
.statement{float:right;margin-bottom:10px;width:455px;color:#FFF;border-top:solid 2px #FFF;border-bottom:solid 2px #DCDDDE;background:#06183F url(../../../images/corp/pcc_hm_blu_bg.jpg)/*tpa=http://www.precast.com/web/images/corp/pcc_hm_blu_bg.jpg*/ 0 0 repeat-x}#mainCol .statement
ul{float:right}#mainCol .statement
li{float:left;line-height:20px}#mainCol .statement li
a{color:#BABCBE;padding:3px
5px;text-decoration:none}#mainCol .statement li a:hover,
#mainCol .statement li.onTab
a{color:#FFF;background:#720007}#mainCol .statement
h3{margin:0;padding:20px
15px 0 15px}#mainCol .statement
p{margin:0;padding:5px
15px 12px 15px;font-size:12px;line-height:15px}#mainCol .statement p
a{color:#FFF}.home #mainCol
.subCol{position:relative;width:210px;margin:18px
32px 0 0;min-height:400px}.home #mainCol .subCol
h2{margin:0px
0 5px 0}.home #mainCol .subCol h2
a{color:#00209F}.home #mainCol .subCol h2 a:hover{text-decoration:underline}.home #mainCol .subCol
img{margin-bottom:8px}.home #mainCol .subCol
p{width:195px;margin:0
0 0 0;font-size:11px;line-height:17px;color:#525353}.home #mainCol #col1
h2{font-size:12px;line-height:16px;color:#000}.home #mainCol #col1 h2 a:hover{text-decoration:underline}.home #mainCol .subCol
div.wrap{display:block;position:relative;width:210px;padding-bottom:0px;border-bottom:solid 3px #BABCBE}.home #mainCol .subCol div.wrap
p{width:190px;margin-bottom:10px}#mainCol .subCol
p.moreSegment{min-height:18px;padding-right:20px !important;background:url(../../../images/corp/gfx_arws_blu2.gif)/*tpa=http://www.precast.com/web/images/corp/gfx_arws_blu2.gif*/ 195px 50% no-repeat}#mainCol .subCol p.moreSegment:hover{background:url(../../../images/corp/gfx_arws_blu2_over.gif)/*tpa=http://www.precast.com/web/images/corp/gfx_arws_blu2_over.gif*/ 195px 50% no-repeat;cursor:pointer}#mainCol .subCol
.moreSeg{display:block;float:none;margin:11px
0px 0 0px;font-size:9px;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,verdana,sans-serif;text-transform:uppercase;font-weight:normal;letter-spacing:2px;text-align:left;color:#720007}#mainCol .subCol
a.down{background-position:right -11px}#mainCol .subCol
.subSeg{position:relative}#mainCol .subCol .subSeg
h3{margin:14px
0 7px 0;font-size:13px;line-height:13px}#mainCol .subCol .subSeg h3
a{color:#00209F}#mainCol .subCol .subSeg
p{width:180px;font-size:10px;line-height:13px;color:#1B1C1C}#mainCol .subCol .subSeg
a.moreSub{float:right;clear:both;display:block;width:15px;padding:15px
0 15px 0;margin:0;background:url(../../../images/corp/gfx_arws_blu2.gif)/*tpa=http://www.precast.com/web/images/corp/gfx_arws_blu2.gif*/ 6px 0px no-repeat}#mainCol .subCol .subSeg a.moreSub:hover,
#mainCol .subCol .subSeg
a.over{background-position: -11px 0px}#rightCol
#worldMap{height:150px;background:#525353 url(../../../images/corp/hm_loc_map.gif)/*tpa=http://www.precast.com/web/images/corp/hm_loc_map.gif*/ 0 0 no-repeat;border-bottom:solid 2px #6A6B6B}#rightCol #worldMap
select{margin:120px
0 0 16px;width:200px}#rightCol #jobList
div.more{margin-top:4px;text-align:right}#rightCol #jobList div.more
a{color:#E8D408}#rightCol #jobList
li{text-transform:none;margin-bottom:8px;letter-spacing:normal}#stockChart{float:left;margin:0
0px 5px 0;padding:18px
20px 8px 0px;color:#FFF;border-bottom:solid 2px #6E6F6F}.invest
#stockChart{background:#720007 url(../../../images/corp/rt_col_red_shdw.jpg)/*tpa=http://www.precast.com/web/images/corp/rt_col_red_shdw.jpg*/ 0 0 repeat-y}.invest #stockChart
h4{color:#fff}#stockChart
h4{float:left;margin-right:20px;color:#FFF !important;font-size:12px;line-height:10px}#stockChart h4
span{display:block;margin-top:2px;font-size:9px;font-family:Arial,Helvetica,Verdana,sans-serif;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;font-weight:normal;color:#FFF;text-transform:none}#rightCol #stockChart
ul{margin: -5px 0 0 0;padding:0;background:none;border:none;float:right}#rightCol #stockChart
li{width:96px;font-size:10px;line-height:19px;text-transform:uppercase;text-align:right;color:#FFF;border-top:solid 1px #BABCBE}#stockChart li
span{float:left;font-weight:bold}#stockChart
li.top{border:none}#stockChart
span.change{float:left;margin:15px
0 0 15px;font-size:22px;line-height:22px;font-weight:bold;color:#E8D408}.home #stockChart
span.change{margin-top:5px}.invest #col1 p, .career #col1 p, .contact #col1
p{font-size:12px;line-height:17px}.leftnav{margin:0px
0 25px 0}.leftnav
li{float:none;width:220px;margin-bottom:3px;font-size:10px;line-height:14px;letter-spacing:0.5px}.leftnav li
a{display:block;padding:2px
10px 2px 13px;font-size:11px;line-height:13px;letter-spacing:0.5px;font-weight:bold;color:#1B1B1C;border-right:solid 1px transparent;border-bottom:solid 1px transparent;background:none}.leftnav li a:hover{text-decoration:none;color:#FFF;border-right:solid 1px #06183F;border-bottom:solid 1px #06183F;background:#00209F url(../../../images/corp/gfx_arws.gif)/*tpa=http://www.precast.com/web/images/corp/gfx_arws.gif*/ right -75px no-repeat}#newsCol{float:right;width:455px;margin:0
0 5px 0;font-family:Arial,Helvetica,Verdana,sans-serif;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;border-bottom:solid 2px #BABCBE}#newsCol
h3{margin:10px
0 5px 0;font-size:10px;line-height:14px;font-weight:normal;text-transform:uppercase;letter-spacing:0.05em;color:#720007}#newsCol
h4{margin:0px
0 5px 0;font-size:16px;line-height:17px;text-transform:none}#newsCol h4
a{color:#06183F;color:#000}#newsCol h4 a:hover{color:#06183F}#newsCol
p{margin:0px
0 3px 0;font-size:12px;line-height:16px}#newsCol
p.more{margin-top: -5px;font-size:11px}#mainCol
p.visitLink{clear:right;padding:4px
0 15px 0;text-align:right;font-weight:bold;letter-spacing:0.1em;text-transform:uppercase;color:#525353}#mainCol p.visitLink
a{color:#00209F}.invest #col2, .invest #col3, .career #col2, .career
#col3{font-family:Arial,Helvetica,Verdana,sans-serif;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif}.invest #col2 h4, .invest #col3 h4, .career #col2 h4, .career #col3
h4{margin:0
0 10px 0;font-size:12px;line-height:14px;font-family:Arial,Helvetica,Verdana,sans-serif;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;text-transform:none}.invest #col2 p, .invest #col3 p, .career #col2 p, .career #col3
p{margin:0
0 10px 0;font-size:11px;line-height:16px}.career .subCol
img{margin-bottom:10px}.career
#newsCol{border-bottom:none}#rightCol
.jobSearch{margin:0
0px 0px 0px;padding:10px
10px 0px 26px;background:#720007 url(../../../images/corp/rt_col_red_shdw.jpg)/*tpa=http://www.precast.com/web/images/corp/rt_col_red_shdw.jpg*/ 0 0 repeat-y;border-bottom:solid 2px #6A6B6B}#rightCol .jobSearch
p{margin:0
0px 10px 0px}#rightCol .jobSearch
label{display:block;margin:0
0 3px 0;font-size:11px;line-height:13px;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,verdana,sans-serif;font-weight:bold;text-transform:uppercase;color:#FFF}#rightCol .jobSearch input,
#rightCol .jobSearch
select{width:190px}#rightCol .jobSearch
.gfxBtn{margin:0
0 0 90px;width:101px;background-image:url(../../../images/corp/btn_jobSearch101.gif)/*tpa=http://www.precast.com/web/images/corp/btn_jobSearch101.gif*/}#rightCol
h4{margin:0
0 15px 15px;font-size:13px;line-height:13px;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,verdana,sans-serif;text-transform:uppercase;letter-spacing:0.05em;color:#720007}#rightCol
.login{float:left;margin-right:10px;margin-bottom:10px;width:81px;background-image:url(../../../images/corp/btn_login81.gif)/*tpa=http://www.precast.com/web/images/corp/btn_login81.gif*/}#rightCol .signIn
h3.noRule{border:none}#rightCol .signIn
div{background:#525353 url(../../../images/corp/rt_col_gry_shdw.jpg)/*tpa=http://www.precast.com/web/images/corp/rt_col_gry_shdw.jpg*/ 0 0 repeat-y;border-bottom:solid 2px #6A6B6B}#rightCol
.spacer{border-bottom:solid 2px #6A6B6B}#rightCol .signIn
p{padding-top:5px;color:#FFF}#rightCol
div.jobList{margin:0
0 0 0px}#rightCol
div.jobList{margin-bottom:10px;font-size:11px;line-height:13px;text-transform:none}#rightCol div.jobList
a{text-transform:capitalize;color:#E8D408}#rightCol
ul.quickLinks{background:#720007 url(../../../images/corp/rt_col_red_shdw.jpg)/*tpa=http://www.precast.com/web/images/corp/rt_col_red_shdw.jpg*/ 0 0 repeat-y}.segment #mainCol #col1
h2{color:#720007}.segment
#newsCol{padding-top:20px;border-bottom:none}.segment #newsCol
h2{font-size:11px;line-height:17px;font-weight:normal;letter-spacing:2px;color:#525353}.segment #newsCol
h3{font-size:12px;line-height:17px;font-weight:bold;letter-spacing:1px}.segment #newsCol h3
a{color:#000}.segment #newsCol
div.wrap{float:right}.segment #newsCol
.subCol{float:left}.segment #newsCol
.subCol{padding-top:10px;margin-bottom:5px;border-top:solid 3px #BABCBE}.segment #newsCol .top
.subCol{border-top:none}.component #mainCol #col1
h2{color:#00209F}.component #mainCol #col1 .leftNav li
a{background:#edc}.component #mainCol
.imgWrap{}.component #mainCol
#col2{color:#720007}.component #mainCol
#col2{color:#720007}.component #mainCol .subCol h2,
.component #mainCol .subCol
h3{color:#00209F}.component #mainCol .subCol
h2{font-size:13px}.component #mainCol
#col2{width:285px}.component #mainCol
#col3{float:right;width:140px;padding-top:10px;margin-right:0}.component #mainCol #col3
h3{padding:10px;letter-spacing:0.5px;color:#FFF;background:#720007}#rightCol ul.info
li{margin:0
0 10px 10px;font-size:11px;line-height:17px;font-weight:bold;text-transform:uppercase;color:#e7d307}#rightCol ul.info li
span{display:block;text-transform:none;font-weight:normal;color:#fff}.component #rightCol .jobList li h6
a{}#formsCol{float:left;width:455px;margin:0
0 15px 0}.formsWrap{padding-bottom:10px;width:456px;border-bottom:solid 2px #BABCBE}#formsCol
h4{margin:5px
0 0px 0;padding:0
0px 0 10px;font-size:12px;line-height:18px;text-transform:uppercase;letter-spacing:0.05em;color:#720007}#formsCol h4
a{display:block;color:#720007}#formsCol
p.formInfo{width:auto;margin-right:0;padding-right:0}#formsCol
h4.expanded{background:#F1F2F2;border:solid 1px #BABCBE;border-bottom:none}#formsCol
p.expanded{background:#F1F2F2;border:solid 1px #BABCBE;border-top:none;border-bottom:none}#formsCol
form{display:none;margin:0;padding:0
20px 0px 10px;background:#F1F2F2;border:solid 1px #BABCBE;border-top:none}#formsCol
form.expanded{display:block}#formsCol form
p{margin-bottom:3px;width:393px;overflow:hidden}#formsCol p label
span{display:block;float:left;width:10px;margin:0px
0 0 0;font-weight:bold;color:#720007}#formsCol
p.subText{font-size:11px;font-weight:bold;color:#720007}#formsCol .formsWrap
p.subText{float:left}#formsCol
input{float:left}#formsCol input.firstName,
#formsCol
input.lastName{width:295px}#formsCol
input.email{width:275px}#formsCol
input.phone{width:106px;margin:0
70px 0 0px}#formsCol
input.fax{width:106px;margin:0
0px 0 0px}#formsCol
input.bizName{width:275px}#formsCol
input.street{width:170px}#formsCol
input.city{width:155px;margin-right:20px}#formsCol
input.state{width:40px}#formsCol
input.zip{width:100px}#formsCol
select.country{width:194px}#formsCol
.formBox{clear:both;margin:0
-21px 0 -11px;padding-top:15px;background:url(../../../images/corp/formBox_rule.gif)/*tpa=http://www.precast.com/web/images/corp/formBox_rule.gif*/ 0 0 repeat-x}#formsCol
h5{clear:left;font-weight:normal;text-transform:uppercase;color:#06183F}#formsCol .formBox
h5{padding:0
0 5px 10px;width:445px}#formsCol .formBox h5
label{margin:5px
0}#formsCol .formBox
ul{width:445px}#formsCol .formBox ul
input{margin:0
0 0px 0px}#formsCol .formBox ul
label{margin: -5px 0 0px 5px;text-align:left}#formsCol .formBox ul
li{float:left;width:210px;padding:0;margin:0
0 0 20px}#formsCol .formBox ul
li.right{float:right;margin-left: -10px}#formsCol
textarea{display:block;float:none;margin:5px
0 5px 20px}#formsCol
textarea#comments{width:400px;height:160px}#formsCol
input.submitBtn{clear:both}#formsCol
a.gfxBtn{float:right;width:131px;margin:0
0 0px 280px;margin:0
-20px 0px 280px;background-image:url(../../../images/corp/btn_request131.gif)/*tpa=http://www.precast.com/web/images/corp/btn_request131.gif*/ !important}.location #mainCol
.subCol{margin:0
10px 0 0;width:226px}.location #mainCol .subCol
h3{padding:15px
0 0 0px;font-size:10px;line-height:19px;font-family:Arial,Helvetica,Verdana,sans-serif;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;text-transform:none;color:#FFF;background:url(../../../images/corp/vert_rule.gif)/*tpa=http://www.precast.com/web/images/corp/vert_rule.gif*/ 107px 0 no-repeat}.location #mainCol .subCol h3
a{display:block;padding-left:9px;line-height:19px;color:#FFF;background:#00209F}.location #mainCol #col1 h3
a{background:#00209F}.location #mainCol #col2 h3
a{background:#720007}.location #mainCol #col3 h3
a{background:#98621E}.location #mainCol .subCol
ul{float:left;width:113px;padding-top:18px;background:url(../../../images/corp/vert_rule.gif)/*tpa=http://www.precast.com/web/images/corp/vert_rule.gif*/ 55px 0 no-repeat}.location #mainCol .subCol
li{padding:0
15px 7px 9px;font-size:9px;line-height:11px}.location #mainCol .subCol li
h4{margin:5px
-15px 10px -9px;padding-left:9px;padding-bottom:5px;font-size:10px;line-height:11px;text-transform:none;border-bottom:solid 1px #1B1C1C}#footer{clear:both;margin:auto;width:765px;padding:2px
285px 0px 0;background:url(../../../images/corp/ftr_bg_shdw.png)/*tpa=http://www.precast.com/web/images/corp/ftr_bg_shdw.png*/ 13px 0 no-repeat;text-align:right;color:#FFF}#footer
p{margin:0
-17px 10px 0}#footer p
a{color:#FFF}#footer p a:hover{color:#FFF}a{text-decoration:none;color:#000}a:link{}a:visited{}a:hover{text-decoration:underline;color:#600}a:active{}#textCol{float:left;width:456px;font-size:11px;line-height:16px;color:#1B1C1C}#textCol h3, #formsCol
h3{margin:18px
20px 15px 0;font-size:13px;line-height:16px;font-weight:normal;letter-spacing:1px;color:#06183F}#textCol h3 span, #formsCol h3
span{color:#525353}#textCol
h3.pressFilter{margin-right:0;padding-bottom:10px;border-bottom:solid 2px #BABCBE}#textCol h3.pressFilter
span{color:#720007}#textCol
h4{margin:0px
20px 15px 0;font-size:10px;line-height:16px;font-weight:bold;letter-spacing:0;color:#06183F}#textCol
h6{margin-bottom:12px;line-height:13px;font-weight:normal;color:#720007;letter-spacing:0.5px}#textCol p, #formsCol
p{margin:0
20px 15px 0;width:auto}#textCol
p{margin:0
0px 15px 0}#textCol p
a{color:#00209F}#textCol
img.alignR{float:right;margin:5px
0 15px 18px}#textCol
img.alignL{float:left;margin:5px
18px 15px 0}#textCol
blockquote{margin:0
40px 16px 50px;padding:10px
15px;border-top:solid 1px #06183F;border-bottom:solid 1px #06183F;background:#EEEEEF}#textCol ul, #textCol
ol{margin:0
40px 16px 50px}#textCol
li{margin:0
0px 5px -15px;padding-left:15px}#textCol ul
li{background:url(../../../images/corp/list_dot.gif)/*tpa=http://www.precast.com/web/images/corp/list_dot.gif*/ 0px 6px no-repeat}#textCol ol
li{padding-left:0}#textCol
ul.archivesList{margin:0
0 16px 0}#textCol ul.archivesList
li{margin:0
25px 13px 0;padding-left:72px;background-image:none}#textCol ul.archivesList li
span{float:left;margin-left: -72px}#textCol ul.archivesList li
a{text-transform:uppercase;color:#00209F}#textCol
.boxWrap{margin:0
20px 16px 0;padding:16px
13px 1px 23px;background:#EEEEEF}#textCol .boxWrap
p{margin-right:0}#textCol
p.webcast{padding-left:32px;min-height:27px;font-size:10px;background:url(../../../images/corp/icon_webcast.gif)/*tpa=http://www.precast.com/web/images/corp/icon_webcast.gif*/ 0 4px no-repeat}#textCol p.webcast
a{font-size:10px;font-weight:bold;text-transform:uppercase;text-decoration:none;color:#06183F}#textCol p.webcast a:hover{text-decoration:underline}#textCol p.pdf, #rightCol
p.pdf{padding-left:32px;min-height:27px;background:url(../../../images/corp/icon_pdf.gif)/*tpa=http://www.precast.com/web/images/corp/icon_pdf.gif*/ 0 6px no-repeat}#textCol p.pdf a, #rightCol p.pdf
a{text-decoration:underline}#mainCol #col1 h4
a{font-size:9px;line-height:12px;font-weight:bold;letter-spacing:0.5px;color:#720007}#rightCol
ul.pressList{margin:0
0 0 0px;padding-bottom:0}#rightCol ul.pressList
li{padding:0
0 10px 55px;font-size:11px;line-height:15px;text-transform:none;letter-spacing:0}#rightCol ul.pressList li
span{float:left;margin-left: -55px}#rightCol ul.pressList li
a{font-weight:normal;color:#FFF}#rightCol
.downloadPDF{padding:10px
20px 5px 0;background:#525353 url(Unknown_83_filename)/*tpa=http://www.precast.com/web/media/rt_col_gry_shdw.jpg*/ 0 0 repeat-y}#rightCol .downloadPDF
p{font-size:11px;line-height:15px;color:#FFF}#textCol
blockquote.quote_list_item{margin-left:0 !important;margin-right:0;margin-bottom:17px;border-top:solid 1px #06183F;border-bottom:solid 1px #06183F;width:auto}ul.leftnav
li.outside_link{display:block;text-align:left;background-color:#e7e7e7;padding:0}ul.leftnav li.outside_link
a{padding-top:3px;padding-bottom:3px}#newsCol div.subCol
h3{font-weight:normal}div#mainCol div#textCol
table.listSEC{width:100%}div#mainCol div#textCol table.listSEC tbody
tr{background-color:#DCDDDE}div#mainCol div#textCol table.listSEC thead tr
td{font-weight:normal;text-align:left;background-color:#dcddde;padding:3px;white-space:nowrap}div#mainCol div#textCol table.listSEC tbody tr
td{text-align:right;padding:3px;font-weight:normal}div#mainCol div#textCol table.listSEC tbody
tr.Odd{background-color:#fff;text-align:left}div.error{background-color:#720007;color:#fff;padding:12px;text-align:left;font-weight:bolder;font-size:larger}h3.job_link, h3.job_link a, h3.job_category_link, h3.job_category_link
a{color:#00209f;font-size:.80em;margin-bottom:0 !important;text-transform:none}#textCol
#recent_jobs_container{width:50%;float:left}#textCol
div.job_listing{margin-bottom:9px;letter-spacing:normal}#textCol #recent_jobs_container h2, #textCol #job_category_container
h2{color:#0d173b !important;margin-bottom:5px;font-size:.99em}#textCol
#job_category_container{width:45%;margin-left:5px;float:left}h3.job_link,h3.job_category_link{padding-left:4%;margin-top:0 !important;letter-spacing:normal !important}h3.job_category_link{margin-bottom:10px !important}p.job_location{font-size:.83em;margin:0
!important;margin-bottom:3px !important;margin-left:4% !important}div.search_form p
label{display:block;width:105px;text-align:right;text-transform:uppercase;float:left;font-size:1.2em;clear:left;margin-bottom:29px}div.search_form p select, div.search_form p
input{display:block;float:left;width:250px;font-size:1.5em;margin-left:10px}div.search_form p
button{clear:left;display:block;margin-left:115px}.faqs div.formsWrap p.formInfo a, .faqs div.formsWrap p
a{text-decoration:none;color:#011b8c}.faqs div.formsWrap p.formInfo a:hover, .faqs div.formsWrap p a:hover{text-decoration:underline;color:#011b8c}div#changeFontSize{float:left;width:60px;font-size:1.5em;margin-left:27px;padding-top:4px}div#changeFontSize
a{border:solid 1px #fff;width:15px;height:15px;line-height:15px;display:block;padding:3px;text-align:center;float:left;margin-right:2px}div.download_file{padding:0px;padding-left:25px;border-top:dotted 1px #ccc;background:url(../../../user_content/sps/images/srch_arw_gold.png)/*tpa=http://www.precast.com/web/user_content/sps/images/srch_arw_gold.png*/ no-repeat 0 50% #fff;font-weight:bolder;margin-bottom:5px}div.download_file
a{display:block;padding:8px;font-size:larger}div.download_file a:hover{background-color:#FFC}div#a_pcc_company{display:none;font-style:italic;position:absolute;width:250px;color:#868787;font-size:20px;font-weight:normal;right:0px;bottom:10px;text-align:right;text-transform:uppercase;line-height:.95em}div.stacked_parent{position:relative;width:100% !important;bottom:0}li.pcc_video_callout{background-color:#FF0	}.clb{clear:both}.home #mainCol
.imgWrap{border-left:none;border-right:none}div#pcc_addresses{background-color:#720007;padding:15px;color:#fff}div#pcc_addresses
address{font-style:normal;margin-bottom:18px}div#pcc_addresses address
a{color:#E7D307}#footer
a{color:#fff}li.nav_subheader{margin:20px
0 8px 0;text-transform:uppercase;font-weight:normal;color:#720007}li.nav_subheader
a{font-weight:normal;color:#720007;margin:0
0 0 -12px;font-size:.95em}#mainCol ul.leftnav li.bold_red a, #mainCol ul.leftnav
li.bold_red{margin-left:0;padding-left:0;font-weight:bolder;color:#720007;font-size:smaller;margin-top:15px}#mainCol ul.leftnav li.bold_red a:hover, #mainCol ul.leftnav li.bold_red:hover{background:#fff;border:0;text-decoration:underline}.home #mainCol #imgWrap
img{width:100%;height:214px}.home #mainCol div#alt_segment_container
.subCol{height:740px}ul.status_message{clear:left;background-color:#900;color:#fff;padding:0;margin:10px
0;padding:8px;list-style-type:square !important}ul.status_message
li{margin:0;padding:5px;font-weight:bolder;list-style-type:square;margin-left:20px;font-size:larger}ul.status_message
a{color:#fff}.myform{margin:2px
0;width:665px;padding:14px}#stylized{border:solid 2px #b7ddf2;background:#ebf4fb;width:97%}#stylized
h1{font-size:14px;font-weight:bold;margin-bottom:8px}#stylized
p{font-size:11px;color:#666;margin-bottom:20px;border-bottom:solid 1px #b7ddf2;padding-bottom:10px}#stylized
label{display:block;font-weight:bold;text-align:right;width:170px;float:left;clear:left}#stylized
.small{color:#666;display:block;font-size:11px;font-weight:normal;text-align:right;width:170px}#stylized
sup{color:#f00}#stylized input, #stylized
select{float:left;font-size:12px;padding:4px
2px;border:solid 1px #aacfe4;width:270px;margin:2px
0 20px 10px}#stylized input[type=checkbox]{width:auto}#stylized
textarea{float:left;font-size:12px;padding:4px
2px;border:solid 1px #aacfe4;width:270px;height:60px;margin:2px
0 20px 10px}#stylized button,input[type=submit].stylized{clear:both;margin:0;padding:5px
10px;background:#061840;color:#FFF;font-size:1.45em;font-weight:bold}#stylized
div.submit{text-align:center;margin:0}.cms
h2{clear:both;color:#900;font-size:1.5em;padding-top:10px}.cms
#breadcrumb{color:#006;margin:4px
0;padding-bottom:4px;font-style:italic;border-bottom:solid 1px #e7e7e7}.cms
ul.sitemap{margin:auto;margin-left:0;margin-top:10px;margin-bottom:10px;padding:auto}.cms ul.sitemap
ul{margin-left:5%;margin-bottom:10px;list-style-type:circle}.cms ul.sitemap
li{font-size:12px;margin-bottom:5px !important}.cms ul.sitemap li
a{display:inline;padding:0;margin:0}.cms ul.sitemap li
a.allowed{color:#900}ul.bulleted{list-style-type:circle;padding-left:25px}ul.bulleted
li{margin-bottom:14px}.cms_column{margin-top:15px;border:dotted 1px #eee;float:left;width:47%;padding:5px;margin-right:3px}.cms_column
h3{background-color:#e7e7e7;text-align:center;padding:4px}.cms_column h3
span{display:block;font-size:smaller;font-weight:normal;font-style:italic}.cms table.formLayout tr td
select{width:450px !important}.notice{background-color:#FFC;color:#000;font-weight:bolder;padding:5px;margin:10px
0;border:dotted 1px #e7e7e7}div.notice
a{color:#000}table.tablekit{width:100%;border-collapse:collapse;table-layout:fixed;font-size:smaller;margin-bottom:10px}table.tablekit td, table.tablekit
th{padding:0.5em;border:1px
solid #CCC}table.tablekit thead, table.tablekit
tfoot{background-color:#ccc;color:#000}table.tablekit tr td
a{color:#039}table.tablekit
tr.roweven{background-color:#e7e7e7}table.tablekit
.sortcol{cursor:pointer;padding-right:20px;background-repeat:no-repeat;background-position:right center}table.tablekit
.sortasc{background-color:#DDFFAC;background-image:url(Unknown_83_filename)/*tpa=http://www.precast.com/web/css/up.gif*/}table.tablekit
.sortdesc{background-color:#B9DDFF;background-image:url(Unknown_83_filename)/*tpa=http://www.precast.com/web/css/down.gif*/}table.tablekit
.nosort{cursor:default}table.tablekit th.resize-handle-active{cursor:e-resize}div.resize-handle{cursor:e-resize;width:2px;border-right:1px dashed #1E90FF;position:absolute;top:0;left:0}table.formLayout{width:100%;margin:15px
0;background-color:#ebf4fb;border:solid 2px #b7ddf2}table.formLayout tr
td{padding:9px}table.formLayout tr
td.label{width:30%;min-width:150px;text-align:right;font-weight:bolder}table.formLayout input[type=submit], table.formLayout input[type=button]{clear:both;margin:0;padding:5px
10px;background:#061840;color:#FFF;font-size:1.45em;font-weight:bold}ul.sidebar_sitemap li, ul.sidebar_sitemap li
ul{background:#525353 !important;border:0
!important;margin-right:0 !important;padding-right:0 !important}.cms
h2{margin:8px
0}.cms
p{margin-bottom:10px}.locations
#location_map_object{position:relative;margin-left: -26px}#location_details_content{background:#EEEEF0 url(Unknown_83_filename)/*tpa=http://www.precast.com/web/images/corp/rt_col_wht_shdw.jpg*/ 0 0 repeat-y;color:#061840 !important;padding:20px}#location_details_content
address{font-style:normal;margin:15px
0}#location_details_content h1, #location_details_content h2, #location_details_content
h3{color:#720107;font-size:1.0em;line-height:1.2em;margin:0;padding:0;text-transform:uppercase;border:0;font-weight:normal;background:transparent}#location_details_content
h3{font-size:1.3em;font-weight:bolder;margin:3px
0}#location_details_content
h2{font-size:1.2em;font-weight:normal;margin:3px
0}#location_details_content
h1{color:#333}#rightCol div#location_details_content
p.details{margin:10px
0;padding:0;color:#061840 !important}#location_details_content p.details
a{color:#07173B}#location_segments_nav{margin-top:10px;border-top:solid 3px #bbbbbd;background-color:#061840;color:#fff;min-height:50px;padding:10px
20px;margin-bottom:10px;margin-left: -26px;width:710px}div#rightCol
div.locationDetails{height:414px;border-bottom:solid 3px #bbbbbd;overflow:hidden;background:#EEEEF0 url(Unknown_83_filename)/*tpa=http://www.precast.com/web/images/corp/rt_col_wht_shdw.jpg*/ 0 0 repeat-y}#stylized
div.form_control_container{position:relative;display:block;float:left;text-align:right;width:450px;padding-left:15px}#stylized div.form_control_container label, #stylized div.form_control_container input, #stylized div.form_control_container
select{float:left;position:relative;display:inline;margin:0;width:auto;text-align:left;font-weight:normal;margin-bottom:15px}#stylized div.form_control_container
label{width:75px;text-align:right;margin-right:5px}#stylized div.form_control_container input[type=checkbox]{margin-right:8px;margin-top:5px;padding:0;border:0}.subCol
h3{margin:14px
0;background:url(../../../images/corp/gfx_arws_blu2.gif)/*tpa=http://www.precast.com/web/images/corp/gfx_arws_blu2.gif*/ no-repeat right}.subCol h3:hover{background:url(../../../images/corp/gfx_arws_blu2_over.gif)/*tpa=http://www.precast.com/web/images/corp/gfx_arws_blu2_over.gif*/ no-repeat right}div#newsCol div.subCol
h3{background-position:200px;width:210px}div#mainCol ul.press_releases
li{padding:0;list-style-type:none;background:none}div#mainCol ul.press_releases li
span{display:block;float:left;clear:left;width:80px;font-weight:bolder;border-top:dotted 1px #999;padding-top:3px}div#mainCol
ul.press_releases{margin:0;padding:0}div#mainCol ul.press_releases li
a{display:block;float:left;padding-bottom:20px;width:385px;border-top:dotted 1px #999;padding-top:3px}div#rightCol ul.press_releases
li{padding:0;list-style-type:none}div#rightCol ul.press_releases li
span{display:block;border-bottom:dotted 1px #999;font-weight:bolder;font-size:smaller}div#rightCol ul.press_releases li
a{display:block;font-size:smaller;padding-bottom:15px}.careers_image_rotator{height:190px;overflow:hidden;color:#444;line-height:1.6em}.careers_image_rotator
h4{display:block;clear:none;margin:0
!important}.careers_image_rotator
img{float:left;width:125px;border:0;margin-right:15px}.careers_image_rotator
div.statement{margin-top:5px}.careers_image_rotator div.statement
p{padding:5px
!important;font-weight:bolder;margin:0}div#textCol
ul.intern_program_list{margin:0
0 0 17px;padding:0;list-style-type:none !important;list-style:none}div#mainCol div#textCol ul.intern_program_list
li{list-style-type:none !important;list-style:none;display:block;border:solid 1px #ccc;padding:6px;padding-bottom:0;margin-bottom:4px;background:none}div#textCol ul.intern_program_list
blockquote{padding:2px
0;text-align:right;background-color:#fff;border-top:dotted 1px #e7e7e7;border-bottom:0;margin-top:2px;width:100%;margin-bottom:0}div#textCol
h4.intern_heading{width:451px;margin-bottom:2px}#textCol
h3{text-transform:uppercase}div.subCol
h3{text-transform:capitalize !important}#textCol
form.search_form{width:443px;background:#F1F2F2;border:solid 1px #BABCBE;padding-top:15px}#textCol form.contact_us
label{float:left;width:145px;font-weight:normal;clear:both;padding:8px
0}#textCol form.contact_us
span.required{color:#000;display:inline}#textCol form.contact_us
h4{color:#333 !important;diplay:block;position:relative;padding:0
!important;margin:8px
0;width:100% !important;min-width:auto}#textCol form.contact_us
p.subText{clear:both;margin:12px
0 !important;margin-left:110px !important;width:200px !important;padding:0}#textCol form.contact_us
span.small{font-style:italic;margin-left:116px;font-size:smaller;display:block;clear:left}#textCol form.contact_us input, #textCol form.contact_us
select{float:left;width:200px;border:solid 1px #ccc;margin:8px
0}div.landing_page_subcol
p{min-height:160px;width:100%}#location_segments_nav
.pcc_segment{float:left;width:33%;padding:0}#location_segments_nav .pcc_segment ul
li{font-weight:bolder}#location_segments_nav .pcc_segment ul
ul{margin-left:10%;margin-top:4px}#location_segments_nav .pcc_segment ul ul
li{font-weight:normal}div.search_result{border-bottom:dotted 1px #e7e7e7;margin-bottom:13px}div#textCol div.search_result
h3{margin-bottom:0 !important}div.search_result
a{text-decoration:underline}div.search_result
div.url{color:#900;font-size:.95em}table.overview{border:0}table.overview tr
th{background-color:#ccc}table.overview tr td ul li, table.overview tr td
ul{margin:0
!important;margin-left:5% !important;padding:0;padding-left:10%;list-style-type:square}div#slideWrap .subCol ul
li{padding:2px
0 !important}div#slideWrap .subCol ul li ul
li{margin-left:5% !important;font-style:italic}div.press_release
h2{margin-bottom:15px;margin-top:19px}div.formsWrap
form.development_program{width:434px}div.formsWrap form.development_program h4
a{font-weight:bolder}div.formsWrap table.development_program tr td ul, div.formsWrap table.development_program tr td ul
li{margin:0
!important;padding:0;word-wrap:break-word;font-size:10px}div.formsWrap table.development_program tr td.h1, div.formsWrap table.development_program tr td.h2, div.formsWrap table.development_program tr
td.h3{font-weight:bolder;text-align:center;background-color:#CCC}div.formsWrap table.development_program tr
td.h2{background-color:#e7e7e7}div.formsWrap table.development_program tr
td.h3{background-color:#eee;color:#720007}div#textCol div.formsWrap
form.development_program{padding:10px}div#textCol div.formsWrap
h4{background:url(../../../images/blue_arrow_right.png)/*tpa=http://www.precast.com/web/images/blue_arrow_right.png*/ right no-repeat}div#textCol div.formsWrap
h4.expanded{background:url(../../../images/blue_arrow_down.png)/*tpa=http://www.precast.com/web/images/blue_arrow_down.png*/ right no-repeat #f1f2f2}div#formsCol div.formsWrap form.contact_us
h4{background:none;!important}div#textCol div.formsWrap form.development_program p, div#textCol div.formsWrap form.development_program h4.expanded, div#textCol div.formsWrap form.development_program h4.expanded
a{margin:0;margin-bottom:10px;width:auto;padding:0}div#col1 h2
a.page_label{color:#011d98}div.pause_image_rotator{position:absolute;background:url(../../../images/pause-icon.png)/*tpa=http://www.precast.com/web/images/pause-icon.png*/ no-repeat;cursor:pointer;margin-top:2px;right:3px;width:20px;height:20px}div.pause_image_rotator:hover{background:url(../../../images/pause-icon-over.png)/*tpa=http://www.precast.com/web/images/pause-icon-over.png*/ no-repeat}div.paused{background:url(../../../images/play-icon.png)/*tpa=http://www.precast.com/web/images/play-icon.png*/ no-repeat}div.paused:hover{background:url(../../../images/play-icon-over.png)/*tpa=http://www.precast.com/web/images/play-icon-over.png*/ no-repeat}div.website{border:dotted 1px #e7e7e7;margin:5px
12px;padding:10px;padding-left:78px;font-size:1.3em;min-height:44px;background:url(../../../images/website.png)/*tpa=http://www.precast.com/web/images/website.png*/ no-repeat 5px #eee;cursor:pointer}div.website
p{font-weight:normal !important;margin:10px
0}h4.intern_heading{background:url(../../../images/blue_arrow_right.png)/*tpa=http://www.precast.com/web/images/blue_arrow_right.png*/ no-repeat 440px 50% #ccc;padding:5px;margin-bottom:25px !important;border:dotted 1px #e7e7e7;cursor:pointer}h4.intern_heading_expanded{background:url(../../../images/blue_arrow_down.png)/*tpa=http://www.precast.com/web/images/blue_arrow_down.png*/ no-repeat 440px 50% #ccc;margin-bottom:5px;padding:5px}#eu_consent_notice{border-bottom:solid 2px #f00;padding:9px;font-weight:bolder;background-color:#fff;color:#000;line-height:normal}#eu_consent_notice
a{color:#f00;text-decoration:underline}a.eu_cookie_accept{text-transform:uppercase;background-color:#FF9}div.location_search_result{padding:5px;border:dotted 1px #ccc;margin-top:9px}div.location_search_result:hover{cursor:pointer;background-color:#e7e7e7}h3.search_reesult_title{font-size:.8em !important}div.file_manager_type{border:dotted 1px #ccc;padding:15px;font-size:larger;margin:10px
0}div.file_manager_type
a{font-weight:bolder;font-size:larger;text-decoration:underline;color:#900}div.file_manager_type
p{font-style:italic;padding:5px
10px}td.label
em{font-weight:normal}div.jwplayer_video{width:auto;margin:auto}div.slave{padding:10px;border:dotted 1px #ccc;margin:10px
0}div.slave
label{font-size:1.7em;margin-left:15px;font-weight:bolder}div.slave
h3{padding:4px;line-height:normal;margin-bottom:6px;vertical-align:bottom}ul#console_tabs{list-style-type:none;width:100%;display:block;height:24px;margin:0;padding:0;border-top:solid 2px #000;position:fixed}ul#console_tabs
li{float:left;display:block;width:130px;background-color:#eee;color:#900;padding:0;margin:0;border-right:dotted 2px #ccc}ul#console_tabs li
a{text-align:center;display:block;padding:5px}ul#console_tabs li:hover{background-color:#e1e1e1}p.cms_current_site{background-color:yellow;padding:5px;font-weight:bold;font-size:1.5em;line-height:25px;margin-top:105px}.slideNav{margin:3px
0 14px 0;padding:0
10px;height:20px;font-size:9px;line-height:20px;font-weight:bold;text-transform:uppercase;background:url(../../../user_content/images/pcc_overview/NextPrevBarTile.jpg)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/NextPrevBarTile.jpg*/ 0 0 repeat-x}.slideNav
a{float:left;color:#06183F}.slideNav a:hover{color:#06183F}.slideNav
a.next{float:right}#textCol #slideWrap h3, #textCol #slideWrap
h4{margin:0
0 0 0;font-size:15px;line-height:18px;text-align:center;letter-spacing:0.5px}#textCol #slideWrap
h4{margin-bottom:30px}#textCol #slideWrap
h6{text-align:center}#slideWrap
.data{margin-bottom:20px;width:456px;border-bottom:solid 2px #BABCBE;border-collapse:separate}#slideWrap .data
th{padding-top:15px;padding-bottom:5px;height:22px;font-size:10px;line-height:12px
font-weight: bold;vertical-align:top;text-transform:uppercase;color:#06183F;border-bottom:solid 2px #BABCBE;background:url(../../../user_content/images/pcc_overview/slide_hd_bg.jpg)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/slide_hd_bg.jpg*/ 0 0 repeat-x}#slideWrap .data
th.lineItem{width:172px;padding-left:6px;text-align:left}#slideWrap .data
th.stat{padding-right:16px;width:88px;width:72px;text-align:right}#slideWrap .data
th.rtEnd{padding-right:40px;width:112px;width:72px}#slideWrap .data
td{font-size:10px
line-height: 13px;text-align:right;border-top:solid 8px #FFF;border-bottom:solid 8px #FFF;<!--[if IE]>
background-color: transparent}#slideWrap .data
td.lineItem{width:182px;padding-left:6px;text-align:left}#slideWrap .data
td.stat{width:72px;padding-right:16px;background:url(Unknown_83_filename)/*tpa=http://www.precast.com/web/media/slide_td_bdr.gif*/ 0 0 repeat-y}#slideWrap .data
td.rtEnd{width:72px;padding-right:40px}#slideWrap .data
tr{display:block}#slideWrap .data tr.altrow
td{border-color:#F5F5F5;background-color:#F5F5F5}#slideWrap .data
tr.altrow{border-top:solid 1px #DCDDDE;border-bottom:solid 1px #DCDDDE;background:#F5F5F5}#mainCol #slideWrap
.subCol{margin-left:6px;width:190px}#textCol #slideWrap
li{margin:0;padding:0;text-indent:0;background-image:none}#textCol #slideWrap .orgChart
h4{margin:auto;height:25px;width:222px;font-size:12px;line-height:25px;color:#FFF;background:#06183F}#textCol #slideWrap .orgChart
ul{width:222px;margin:auto;margin-top:5px}#textCol #slideWrap .orgChart
li{font-size:10px;line-height:12px;text-align:center}#slideWrap
.segChart{margin-top: -5px;padding-top:34px;background:url(../../../user_content/images/pcc_overview/slide_org_3branch.gif)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/slide_org_3branch.gif*/ center 0 no-repeat}#mainCol #slideWrap .segChart
.subCol{width:138px;margin-right:20px;margin-left:0}#mainCol #slideWrap .segChart
#seg3.subCol{margin-right:0px}#textCol .segChart .subCol
h5{margin:0
0 0 0;padding:5px
0;width:138px;height:28px;font-size:12px;line-height:14px;text-align:center;background:url(../../../user_content/images/pcc_overview/OrganizationCategoryBar.jpg)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/OrganizationCategoryBar.jpg*/ 0 0 no-repeat}#textCol #slideWrap .orgChart .segChart
ul{margin:5px
0 0 0}#textCol #slideWrap .orgChart .segChart
p{margin:0
0 0 0;font-size:10px;line-height:14px;text-align:center}#textCol #slideWrap .orgChart .segChart
ul{margin:5px
0 0 0;padding:1px
0 0 0;width:138px;background:url(../../../user_content/images/pcc_overview/slide_td_bdr.gif)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/slide_td_bdr.gif*/ center 0 repeat-y}#textCol #slideWrap .orgChart .segChart
li{width:138px;margin:23px
0 0 0;padding:6px
0;font-size:10px;line-height:13px;text-align:center;text-indent:0;color:#1B1C1C;background:url(../../../user_content/images/pcc_overview/OrganizationBarBack.jpg)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/OrganizationBarBack.jpg*/ 0 0 repeat-y}.pieChart{position:relative;padding-top:10px;margin-bottom:50px}.pieChart
img{margin:auto;margin-bottom:5px}.pieChart
span{display:block;text-align:center}.pieChart
.share{position:absolute;top:40px;left:100px;width:75px;font-size:11px;line-height:11px;font-weight:bold;text-transform:uppercase;color:#1B1C1C1}.pieChart .share
span{font-size:20px;line-height:20px;letter-spacing: -1px;text-align:left;color:#BABCBE}.pieChart
#power.share{top:0px;left:120px}.pieChart
#aero.share{top:90px;left:325px}.pieChart
#indust.share{top:140px;left:65px;text-align:right}.pieChart #power.share
span{color:#720007}.pieChart #aero.share
span{color:#06183F}.pieChart #indust.share
span{color:#BABCBE;text-align:right}#mainCol #powerList.subCol, #mainCol #industList.subCol, #mainCol
#aeroList.subCol{width:133px;margin:0
10px 0 0}#mainCol
#aeroList.subCol{margin-left:20px}#mainCol
#industList.subCol{margin-right: -10PX}#textCol .subCol
h6{padding-bottom:5px;margin-bottom:5px;font-size:11px;line-height:11px;font-weight:bold;text-transform:uppercase;color:#1B1C1C;border-bottom:solid 5px #720007}#textCol #powerList.subCol
h6{border-color:#720007}#textCol #industList.subCol
h6{margin-top: -11px;border-color:#BABCBE}#textCol #aeroList.subCol
h6{border-color:#06183F}#textCol #slideWrap .subCol
ul{margin:0}#textCol #slideWrap .subCol
li{line-height:15px}#slideWrap
.vertBarChart{position:relative}#slideWrap .vertBarChart
.leftAxis{position:relative;float:left;padding-right:4px;text-align:left;z-index:20;border-right:solid 2px #BABCBE}#slideWrap .vertBarChart .leftAxis
ul{position:relative;margin:0;padding:0
0 0 0;width:40px;margin-top: -5px}#slideWrap .vertBarChart .leftAxis
li{float:left;margin:0px
3px 0 0;padding:0;width:37px;height:34px;font-size:12px;color:#1B1C1C}#slideWrap .vertBarChart .leftAxis
li.btmEnd{height:12px;text-align:right}#slideWrap .vertBarChart
.barWrap{position:relative;display:block;float:left;width:394px;height:308px;padding-left:8px;left:0px;background:url(../../../user_content/images/pcc_overview/chart_vert_bg.gif)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/chart_vert_bg.gif*/ 0 0 repeat-y}#slideWrap .vertBarChart .barWrap
div{position:relative;display:block;float:left;width:49px;height:308px}#slideWrap .vertBarChart .barWrap div
span{position:absolute;display:block;width:17px;bottom:0px;z-index:80;background:#01209E url(../../../user_content/images/pcc_overview/bar_vrt_blu.jpg)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/bar_vrt_blu.jpg*/ 0 0 no-repeat}#slideWrap .vertBarChart .barWrap div
span.bar1{background-image:url(../../../user_content/images/pcc_overview/bar_vrt_blu.jpg)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/bar_vrt_blu.jpg*/}#slideWrap .vertBarChart .barWrap div
span.bar2{left:20px;background-image:url(../../../user_content/images/pcc_overview/bar_vrt_gry.jpg)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/bar_vrt_gry.jpg*/;background-color:#ADADAD}#textCol #slideWrap .vertBarChart
.btmAxis{position:relative;z-index:60;float:left;margin: -2px 0 0 0px;padding-top:5px;width:402px;background:#FFF;border-top:solid 2px #BABCBE}#slideWrap .vertBarChart .btmAxis
ul{width:400px;margin:0;padding:0}#slideWrap .vertBarChart .btmAxis
li{display:block;float:left;width:49px;padding-left:8px;text-align:center}#slideWrap .vertBarChart
h6{clear:left;padding-top:15px;padding-left:45px;font-size:12px;font-weight:bold;color:#1B1C1C;text-align:center;letter-spacing:1px}#slideWrap .vertBarChart
ul.key{float:left;margin:0px
0 0 45px}#slideWrap .vertBarChart ul.key
li{clear:left;font-size:12px;line-height:25px;font-weight:bold;letter-spacing:1px;color:#1B1C1C;text-transform:uppercase}#slideWrap .vertBarChart ul.key li
img{float:left;margin:4px
10px 0 0}#mainCol #slideWrap .vertBarChart
h6.leftAxisLabel{float:left;margin:90px
-135px 0px -135px;padding-right:30px;height:40px;width:230px;text-align:center;-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-o-transform:rotate(270deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3)}#slideWrap
.wideVertChart{margin-top:50px}#slideWrap .wideVertChart
.leftAxis{width:20px}#slideWrap .wideVertChart .leftAxis
li{height:61px;width:22px;text-align:right}#slideWrap .wideVertChart
.barWrap{width:390px;height:250px;margin-left:0px;margin-right: -0px;padding-left:0;left:0;background-image:url(../../../user_content/images/pcc_overview/chart_tall_vert_bg.gif)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/chart_tall_vert_bg.gif*/}#textCol #slideWrap .wideVertChart
.btmAxis{margin-top: -7px;width:390px;margin-left:61px}#slideWrap .wideVertChart .btmAxis
ul{float:left;width:400px;margin: -7px 0 0 0;padding:0}#textCol #slideWrap .wideVertChart .btmAxis
li{width:129px;padding-left:0px;padding-top:5px;font-size:12px;line-height:14px;text-align:center;text-transform:uppercase;background:url(../../../user_content/images/pcc_overview/vert_rule_gry.gif)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/vert_rule_gry.gif*/ right -7px no-repeat}#slideWrap .wideVertChart .barWrap
div{position:relative;display:block;float:left;width:130px;height:244px}#slideWrap .wideVertChart .barWrap div
span{position:absolute;display:block;width:125px;bottom:0px;z-index:80;background:#01209E url(../../../user_content/images/pcc_overview/bar_vrt_wide_blu.jpg)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/bar_vrt_wide_blu.jpg*/ 0 0 no-repeat}#slideWrap .wideVertChart .barWrap div span
span{background:transparent}#slideWrap .wideVertChart .barWrap div
span.barInfo{position:relative;display:block;top: -62px;width:130px;font-size:10px;line-height:13px;text-align:center}#slideWrap .wideVertChart .barWrap div span.barInfo
span{position:static;display:block;margin-bottom:3px;margin-left: -3px;width:130px}#slideWrap .wideVertChart .barWrap
span.blue{color:#00209F}#slideWrap .wideVertChart .barWrap div
span.bar1{background-image:url(../../../user_content/images/pcc_overview/bar_vrt_wide_blu.jpg)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/bar_vrt_wide_blu.jpg*/}#slideWrap .wideVertChart
ul.regionList{float:left;margin:0px
-50px 0 60px}#slideWrap .wideVertChart ul.regionList
li{float:none;width:72px;font-size:10px;line-height:15px;color:#1B1C1C}#textCol #slideWrap .wideVertChart ul.regionList
li.head{margin-bottom:2px;padding-bottom:2px;font-size:11px;font-weight:bold;color:#1B1C1C;border-bottom:solid 1px #BABCBE}#slideWrap .hrzBarChart
.hrzBar{float:left;clear:left;padding-top:2px;padding-bottom:8px;padding-right:30px;background:url(../../../user_content/images/pcc_overview/icon_airplane.gif)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/icon_airplane.gif*/ right 0px no-repeat}#slideWrap .hrzBarChart .hrzBar
div{text-align:right;color:#FFF;line-height:20px;background:#00209F url(../../../user_content/images/pcc_overview/bar_hrz_blue.jpg)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/bar_hrz_blue.jpg*/ right 2px no-repeat}#slideWrap .hrzBarChart .hrzBar div
span{padding-right:10px}#slideWrap .hrzBarChart
.btmAxis{display:block;float:left;padding-top:10px;margin-bottom:10px}#textCol #slideWrap .hrzBarChart .btmAxis
ul{margin:0;padding:0;width:440px;border-top:solid 2px #BABCBE}#textCol #slideWrap .hrzBarChart .btmAxis
li{float:left;width:55px;margin: -2px 0 0 0;padding:10px
0 0 0;text-indent: -7px;background:url(../../../user_content/images/pcc_overview/vert_rule_gry.gif)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/vert_rule_gry.gif*/ 0 -8px no-repeat}#textCol #slideWrap .hrzBarChart .btmAxis
li.rtEnd{margin-right: -55px}#textCol .hrzBarChart
h6{clear:left;margin:auto;padding-top:15px;padding-left:20px;font-size:12px;line-height:14px;font-weight:bold;text-align:center;color:#1B1C1C}#textCol .hrzBarChart
p{padding-left:20px;font-size:12px;line-height:14px;text-align:center;color:#525353}#slideWrap .graphicSlide
h5{margin-bottom:10px;font-size:12px;line-height:13px;text-transform:uppercase;text-align:center;letter-spacing:1px}#slideWrap .graphicSlide h5
span{display:block;font-size:10px;text-transform:none;letter-spacing:0}#slideWrap .graphicSlide h5.slideLeft,
#slideWrap .graphicSlide
h5.slideRight{float:left;margin-top:95px;width:105px}#slideWrap .graphicSlide
h5.slideBtm{clear:both;padding-top:20px;margin-bottom:20px}#slideWrap .graphicSlide
.graphicWrap{position:relative;float:left}#textCol #slideWrap .graphicSlide .graphicWrap
h6{position:absolute;top:55px;width:100%;font-size:10px;font-weight:bold;color:#1B1C1C;text-align:center}#textCol #slideWrap .graphicSlide .graphicWrap
ul{position:absolute;top:75px;margin:0
50px 0px 49px}#textCol #slideWrap .graphicSlide .graphicWrap ul
li{width:147px;margin-bottom:5px;font-size:10px;line-height:13px;color:#525353;text-align:center}#formsCol{float:left;width:456px;margin:0
0 15px 0}#formsCol
.formsWrap{float:left;padding-bottom:10px;border-bottom:solid 2px #BABCBE}#formsCol
h4{margin:5px
0 0px 0;padding:0
0px 0 10px;width:446px;font-size:12px;line-height:18px;text-transform:uppercase;letter-spacing:0.05em;color:#720007}#formsCol h4 a, #formsCol h4 a:visited, #formsCol h4 a:active{display:block;margin-right:5px;color:#720007;background:url(Unknown_83_filename)/*tpa=http://www.precast.com/web/css/web/images/corp/gfx_arws.gif*/ right -36px no-repeat;font-weight:bold}#formsCol h4 a:hover{}#formsCol
p{margin:0px
0 0px 0;padding:0
20px 5px 10px;width:444px;font-size:12px;line-height:15px}#formsCol
p.formInfo{width:444px;margin-right:0;padding-right:0}#formsCol
h4.expanded{width:444px;background:#F1F2F2;border:solid 1px #BABCBE;border-bottom:none}#formsCol h4.expanded
a{background-position:right -10px}#formsCol
p.expanded{background:#F1F2F2;border:solid 1px #BABCBE;border-top:none;border-bottom:none}#formsCol
form{display:none;float:left;margin:0;padding:0
20px 0px 10px;background:#F1F2F2;border:solid 1px #BABCBE;border-top:none}#formsCol
form.expanded{display:block}#formsCol form
p{float:left;margin-bottom:3px;width:393px;overflow:hidden}#formsCol
label{display:block;float:left;margin:0
10px 0 0;font-size:11px;line-height:21px;text-transform:uppercase}#formsCol p label
span{display:block;float:left;width:10px;margin:0px
0 0 0;font-weight:bold;color:#720007}#formsCol
p.subText{font-size:11px;font-weight:bold;color:#720007}#formsCol .formsWrap
p.subText{float:left}#formsCol
input{float:left}#formsCol input.firstName,
#formsCol
input.lastName{width:295px}#formsCol
input.email{width:275px}#formsCol
input.phone{width:106px;margin:0
70px 0 0px}#formsCol
input.fax{width:106px;margin:0
0px 0 0px}#formsCol
input.bizName{width:275px}#formsCol
input.street{width:170px}#formsCol
input.city{width:155px;margin-right:20px}#formsCol
input.state{width:40px}#formsCol
input.zip{width:100px}#formsCol
select.country{width:194px}#formsCol
.formBox{clear:both;margin:0
-21px 0 -11px;padding-top:15px;background:url(Unknown_83_filename)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/formBox_rule.gif*/ 0 0 repeat-x}#formsCol
h5{clear:left;font-weight:normal;text-transform:uppercase;color:#06183F}#formsCol .formBox
h5{padding:0
0 5px 10px;width:446px}#formsCol .formBox h5
label{margin:5px
0}#formsCol .formBox
ul{width:445px}#formsCol .formBox ul
input{margin:0
0 0px 0px}#formsCol .formBox ul
label{margin: -5px 0 0px 5px;text-align:left}#formsCol .formBox ul
li{float:left;width:210px;padding:0;margin:0
0 0 20px}#formsCol .formBox ul
li.right{float:right;margin-left: -10px}#formsCol
textarea{display:block;float:none;margin:5px
0 5px 20px}#formsCol
textarea#comments{width:400px;height:160px}#formsCol
input.submitBtn{clear:both}#formsCol
a.gfxBtn{float:right;width:131px;margin:0
0 0px 280px;margin:0
-20px 0px 280px;background-image:url(Unknown_83_filename)/*tpa=http://www.precast.com/web/user_content/images/pcc_overview/btn_request131.gif*/;