
/*
Theme Name: CHS
Author: Titus Bartos, Locomotion Creative
Author URI: http://locomotioncreative.com
Description: Custom theme for CHS by Locomotion Creative
Version: 1.0
*/


/**
 * 1.0 Reset
 *
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * @see http://git.io/normalize
 * ----------------------------------------------------------------------------
 */
 
 /* LR Panels */


.left-white, .right-white {
	background: #fff;
	opacity: 0.2;
	filter: alpha(opacity=20); /* For IE8 and earlier */
	z-index: 1000;
	position: fixed;
	width: 15%;
	top: 0;
	bottom: 0;
	min-height: 100%;
	display: block;
	overflow: hidden;
}

.left-white { left: 0px; }

.right-white { right: 0; }

/* ====== NOT USED OFTEN ====== */


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) {
	display: none;
	height: 0;
}
 [hidden] {
display: none;
}

address {
	font-style: italic;
	margin: 0 0 24px;
}

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

mark {
	background: #ff0;
	color: #000;
}

code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 14px;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre {
	background: #f5f5f5;
	color: #666;
	font-family: monospace;
	font-size: 14px;
	margin: 20px 0;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: keep-all;
}

blockquote, q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}

blockquote {
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	margin: 24px 40px;
}

blockquote blockquote { margin-right: 0; }

blockquote cite, blockquote small {
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}

blockquote em, blockquote i {
	font-style: normal;
	font-weight: 300;
}

blockquote strong, blockquote b { font-weight: 400; }

small { font-size: smaller; }

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl { margin: 0 20px; }

dt { font-weight: bold; }

dd { margin: 0 0 20px; }

svg:not(:root) { overflow: hidden; }

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

table {
	border-bottom: 1px solid #ededed;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	line-height: 2;
	margin: 0 0 20px;
	width: 100%;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

caption {
	font-size: 16px;
	margin: 20px 0;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}

del { color: #333; }

ins {
	background: #fff9c0;
	text-decoration: none;
}

figure { margin: 0; }

.genericon:before, .menu-toggle:after, .featured-post:before, .date a:before, .entry-meta .author a:before, .format-audio .entry-content:before, .comments-link a:before, .tags-links a:first-child:before, .categories-links a:first-child:before, .edit-link a:before, .attachment .entry-title:before, .attachment-meta:before, .attachment-meta a:before, .comment-awaiting-moderation:before, .comment-reply-link:before, .comment-reply-login:before, .comment-reply-title small a:before, .bypostauthor > .comment-body .fn:before, .error404 .page-title:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	vertical-align: text-bottom;
}

/* Clearing floats */

.clear:after, .attachment .entry-header:after, .site-footer .widget-area:after, .entry-content:after, .page-content:after, .navigation:after, .nav-links:after, .gallery:after, .comment-form-author:after, .comment-form-email:after, .comment-form-url:after, .comment-body:after { clear: both; }

.clear:before, .clear:after, .attachment .entry-header:before, .attachment .entry-header:after, .site-footer .widget-area:before, .site-footer .widget-area:after, .entry-content:before, .entry-content:after, .page-content:before, .page-content:after, .navigation:before, .navigation:after, .nav-links:before, .nav-links:after, .gallery:before, .gallery:after, .comment-form-author:before, .comment-form-author:after, .comment-form-email:before, .comment-form-email:after, .comment-form-url:before, .comment-form-url:after, .comment-body:before, .comment-body:after {
	content: "";
	display: table;
}

/* Assistive text */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	width: auto;
	z-index: 100000;/* Above WP toolbar */
}

/* ============================================ START ============================================ */


html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased; /* Looks pretty much the same than Windows */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
	width: 100%;
}

html, button, input, select, textarea {
	/*	font-family: "Lato", Helvetica, sans-serif; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 300;
	-ms-word-break: keep-all;
	word-break: keep-all;
	word-break: keep-word;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
}

body {
	color: #333;
	line-height: 1.5;
	margin: 0;
	font-weight: 300;
	background: #5B5B5B;
}

a {
	color: #D68438;
	text-decoration: none;
}

a:visited { color: #D68438; }

a:focus { outline: thin dotted; }

a:active, a:hover {
	color: #222;
	outline: 0;
}

a:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { line-height: 1.3; }

h1 {
	font-size: 48px;
	margin: 33px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #597b7c;
}

h2 {
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 25px 0;
}

h3 {
	font-size: 22px;
	margin: 18px 0;
	color: #597b7c;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

h4 {
	font-size: 20px;
	margin: 25px 0;
}

h5 {
	font-size: 13px;
	margin: 20px 0 5px 0;
	color: #333;
}

h6 {
	font-size: 11px;
	margin: 5px 0;
	font-weight: normal;
}

p { margin: 0 0 13px; }

menu, ol, ul {
	margin: 16px 0;
	padding: 0 0 0 40px;
}

ul { list-style-type: none; }

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}

li > ul, li > ol { margin: 0; }

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
}

hr {
	background: url(images/dotted-line.png)/*tpa=http://www.chs.net/wp-content/themes/twentythirteen/images/dotted-line.png*/ repeat center top;
	background-size: 4px 4px;
	border: 0;
	height: 1px;
	margin: 0 0 24px;
}

/* ===== FORMS & BUTTONS ====== */



form { margin: 0; }

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

input[type="checkbox"], input[type="radio"] { padding: 0; }

input[type="search"] {
	-webkit-appearance: textfield;
	padding-right: 2px; /* Don't cut off the webkit search cancel button */
	width: 270px;
}
 input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

button, input, textarea {
	border: 2px solid #d4d0ba;
	font-family: inherit;
	padding: 5px;
}

input, textarea { color: #141412; }

input:focus, textarea:focus {
	border: 2px solid #c3c0ab;
	outline: 0;
}

button, input[type="submit"], input[type="button"], input[type="reset"] {
	background: #e05d22; /* Old browsers */
	background: -webkit-linear-gradient(top, #e05d22 0%, #d94412 100%); /* Chrome 10+, Safari 5.1+ */
	background: linear-gradient(to bottom, #e05d22 0%, #d94412 100%); /* W3C */
	border: none;
	border-bottom: 3px solid #b93207;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	padding: 11px 24px 10px;
	text-decoration: none;
}

button:hover, button:focus, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus {
	background: #ed6a31; /* Old browsers */
	background: -webkit-linear-gradient(top, #ed6a31 0%, #e55627 100%); /* Chrome 10+, Safari 5.1+ */
	background: linear-gradient(to bottom, #ed6a31 0%, #e55627 100%); /* W3C */
	outline: none;
}

button:active, input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active {
	background: #d94412; /* Old browsers */
	background: -webkit-linear-gradient(top, #d94412 0%, #e05d22 100%); /* Chrome 10+, Safari 5.1+ */
	background: linear-gradient(to bottom, #d94412 0%, #e05d22 100%); /* W3C */
	border: none;
	border-top: 3px solid #b93207;
	padding: 10px 24px 11px;
}

button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}

button, input { line-height: normal; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], input[disabled] { cursor: default; }
 button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}

.post-password-required input[type="submit"] {
	padding: 7px 24px 4px;
	vertical-align: bottom;
}

.post-password-required input[type="submit"]:active { padding: 5px 24px 6px; }
/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
color: #7d7b6d;
}
:-moz-placeholder {
color: #7d7b6d;
}
::-moz-placeholder {
color: #7d7b6d;
}
:-ms-input-placeholder {
color: #7d7b6d;
}

/* ============= IMAGES ============= */


.entry-content img, .entry-summary img, .comment-content img, .widget img, .wp-caption { max-width: 100%; }

.entry-content img, .entry-summary img, .comment-content img[height], img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] { height: auto; }

img.size-full, img.size-large, img.wp-post-image {
	height: auto;
	max-width: 100%;
}

embed, iframe, object, video { max-width: 100%; }

.entry-content .twitter-tweet-rendered { max-width: 100% !important; }

.alignleft { float: left; }

.alignright { float: right; }

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft { margin: 5px 20px 5px 0; }

.wp-caption.alignleft { margin: 5px 10px 5px 0; }

img.alignright { margin: 5px 0 5px 20px; }

.wp-caption.alignright { margin: 5px 0 5px 10px; }

img.aligncenter { margin: 5px auto; }

img.alignnone { margin: 5px 0; }

.wp-caption .wp-caption-text, .entry-caption, .gallery-caption {
	color: #220e10;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
}

img.wp-smiley, .rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption.alignleft + ul, .wp-caption.alignleft + ol { list-style-position: inside; }

/**
 * 3.0 Basic Structure
 * ----------------------------------------------------------------------------
 */
 

#page { background: #5B5B5B; }

.site {
	background-color: #5B5B5B;
	margin: 0;
	width: 100%;
	padding: 0;
}

.site-main { position: relative; }

.wrap {
	width: 100%;
	padding: 0;
	margin: 0;
	float: left;
	clear: both;
	z-index: -1;
}

/**
 * 4.0 Header
 * ----------------------------------------------------------------------------
 */

/**
 * 4.1 Site Header
 * ----------------------------------------------------------------------------
 */


.site-header {
	background: #fff;
	width: 100%;
	float: left;
	z-index: 5!important;
	padding-bottom: 0px;
	position: relative;
}

#inner-header, .home, .regular, #footer {
	margin: 0px auto;
	width: 70%;
	padding: 0 40px;
}

.top-menu {
	float: right;
	display: block;
	width: 50%;
	margin-bottom: 10px;
}

.top-menu a {
	float: right;
	padding: 11px 10px 9px 10px;
	line-height: 100%;
	color: #333;
	text-transform: uppercase;
	font-size: 12px;
}

.top-menu a:hover {
	background: #F6891E;
	color: #fff;
}

.site-header .search-form {
	float: right;
	width: 230px;
}

.site-header .search-field {
	background-color: #f6f6f6;
	background-image: url(images/search-icon.png)/*tpa=http://www.chs.net/wp-content/themes/twentythirteen/images/search-icon.png*/;
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	border: none;
	float: right;
	cursor: pointer;
	height: 32px;
	margin: 0px 0;
	padding: 0 0 0 34px;
	position: relative;
	width: 230px;
}

.site-header .search-field:focus {
	background-color: #fff;
	border: 1px solid #c3c0ab;
	cursor: text;
	outline: 0;
	width: 230px;
}

.logo {
	float: left;
	max-width: 269px;
	width: 30%;
	margin: 0;
	padding: 40px 0 15px 0;
}

img.logo a, .logo a { border: 0; }

/**
 * 4.2 Navigation
 * ----------------------------------------------------------------------------
 */


.main-navigation {
	margin: 0 auto;
	width: 70%;
	padding: 10px 0 0 0;
	float: right;
}

ul.nav-menu, div.nav-menu > ul {
	margin: 0;
	float: right;
	padding: 0;
}

.nav-menu li {
	float: left;
	position: relative;
	text-align: center;
}

.nav-menu li a {
	color: #141412;
	display: block;
	font-size: 12px;
	line-height: 1;
	padding: 15px 15px;
	text-decoration: none;
	border-bottom: 5px solid #fff;
	text-align: center;
	width: 100%;
}

.nav-menu li a:hover { border-bottom: 5px solid #84938E; }

.nav-menu li li a:hover, .nav-menu li li a { border-bottom: 1px; }

.nav-menu li li a {
	text-align: left;
	padding-left: 10px;
	border-bottom: 1px solid #ddd
}

.nav-menu li:hover > a, .nav-menu li a:hover { background-color: #fff; }

.nav-menu .sub-menu, .nav-menu .children {
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	border-top: 0;
	display: none;
	padding: 0;
	position: absolute;
	left: -2px;
	z-index: 99999;
}

.nav-menu .sub-menu ul, .nav-menu .children ul {
	border-left: 0;
	left: 100%;
	top: 0;
}

ul.nav-menu ul a, .nav-menu ul ul a {
	margin: 0;
	width: 200px;
}

ul.nav-menu ul a:hover, .nav-menu ul ul a:hover {
	background-color: #F6891E;
	color: #fff;
	border-bottom: 1px solid #fff;
}

ul.nav-menu li:hover > ul, .nav-menu ul li:hover > ul { display: block; }

.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a { font-weight: bold; }

.menu-toggle { display: none; }

.contact-us { display: none; }

/* Navbar */

.navbar { }

/* ================ SLIDER ================= */


/* ================= HOME =================== */



.home {
	background: #849794;
	margin: 0px auto;
	color: #fff;
}

.home img { box-shadow: 0px 1px 3px #4e5c5a; }

img.home-image {
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	max-width: 200px;
	max-height: 200px;
}

.home p:first-of-type {
	padding: 0;
	margin: 0;
}

p.home-p { padding-top: 65px; }

.home h2 {
	font-weight: 300;
	font-size: 25px;
	background: none;
	clear: none;
	margin: 0;
	padding: 0 0 20px 0;
	line-height: 42px;
}

.hwrap {
	background: #849794 url(images/hwrap-bk.png)/*tpa=http://www.chs.net/wp-content/themes/twentythirteen/images/hwrap-bk.png*/ repeat-x;
	background-repeat: repeat-x;
	padding-bottom: 50px;
}

.home strong {
	padding-bottom: 3px;
	padding-right: 10px;
	border-bottom: 1px dotted #ccc;
	font-weight: 300;
	line-height: 250%;
	font-size: 18px;
}

ul.home-menu {
	float: right;
	width: 300px;
	margin-top: 60px;
	padding-left: 40px;
}

ul.home-menu a { color: #fff; }

ul.home-menu a:hover { color: #F5A120; }

ul.home-menu li {
	border-bottom: 2px solid #6a7a77;
	padding: 6px 0 6px 15px;
	font-weight: 300;
}

ul.home-menu li:last-child { border-bottom: none; }

span.col1, span.col2, span.col3 {
	float: left;
	width: 33%;
	padding-top: 30px;
	margin: 0;
	border-top: 1px dotted #6a7a77;
}

a.home-col {
	background: #6a7a77;
	padding: 5px 7px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff !important;
	margin-top: 20px;
	float: left;
}

span.col1 {
	clear: both;
	padding-right: 25px;
	font-weight: 300;
}

span.col1 img {
	margin-bottom: 30px;
	width: 150px !important;
}

span.col2 {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 40px;
}

span.col3 {
	padding-left: 25px;
	padding-top: 30px;
}

article {
	width: 100%;
	height: 100%;
	position: relative;
}

/**
 * 5.0 Content
 * ----------------------------------------------------------------------------
 */


.hentry {
	padding: 0;
	margin: 0px auto;
	float: left;
	width: 100%;
}

.entry-header, .entry-content, .entry-summary, .entry-meta {
	margin: 0 auto;
	width: 100%;
}

/* ==================== PAGE =================== */


.pwrap {
	background: #849794 url(images/header-shadow.png)/*tpa=http://www.chs.net/wp-content/themes/twentythirteen/images/header-shadow.png*/ repeat-x;
	background-position: top;
	/*box-shadow:inset 0px 2px 2px #333;*/
	padding-bottom: 0px;
	z-index: -1;
}

.regular {
	background: #fff url(images/header-shadow.png)/*tpa=http://www.chs.net/wp-content/themes/twentythirteen/images/header-shadow.png*/ repeat-x;
	background-position: top;
	color: #333;
	padding: 0;
	position: relative;
}

.white {
	background: #fff url(images/header-shadow.png)/*tpa=http://www.chs.net/wp-content/themes/twentythirteen/images/header-shadow.png*/ repeat-x;
	background-position: top;
	margin: 0px 0 0 0;
	display: block;
	float: left;
	width: 100%;
	/*box-shadow:inset 0px 2px 2px #666;*/
	z-index: -1;
}

.page-content {
	float: right;
	width: 73%;
	background: none;
	padding: 0;
	margin: 0;
}

.cwrap {
	padding: 30px 7% 50px 7%;
	width: 100%;
	margin: 0;
	float: left;
}

.cwrap li {
	padding-bottom: 8px;
	list-style: disc;
	float: left;
	width: 100%;
}

.cwrap ul { padding-bottom: 20px; }

.regular h2 {
	font-weight: 100;
	font-size: 25px;
	background: none;
	clear: none;
	margin: 0;
	padding: 0 0 20px 0;
	line-height: 42px;
}

img.regular-image {
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.shadow { box-shadow: 0 3px 3px #222; }

/* ==================== IFRAMES ============== */


.fluidMedia {
	position: relative;
	padding-bottom: 66.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.fluidMedia iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mwrap {
	width: 100%;
	height: 100%;
	padding: 5px 0 0 0;
	margin: 0;
}

/* ===================== JS NOTICE =============== */


/*.ex a:before {content:"•"!important;}*/

/*.ex a {font-style:italic;}*/
/*
.pdf a:after {
	content:"PDF"!important;
	color:#bbb;
	font-size:8px;
	letter-spacing:-1px;
	position:relative;
	right:-2px;
	top:-4px;
	line-height:100%;
	margin:0;
	padding:0;
}*/


#custom-blackout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #514004;
}

#custom-messageHolder {
	position: fixed;
	top: 100px;
	left: 0;
	width: 100%;
}

#custom-messageBox a#ln-cancelLink {
	background-color: #666;
	color: #fff;
}

.exnotice {
	font-size: 13px;
	text-align: left;
}

.setoff a {
	color: #FFF;
	font-weight: 500;
	line-height: 100%;
	font-size: 15px;
	width: 100%;
	float: left;
	padding: 7px 0;
	text-align: center;
	background: #f49f1e;
	margin: 20px auto 10px auto;
}

#ln-blackout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 99999;
}

#ln-messageHolder {
	position: fixed;
	top: 100px;
	left: 0;
	width: 100%;
	z-index: 99999;
}

#ln-messageBox {
	width: 500px;
	margin: 0 auto;
	min-height: 200px;
	background-color: #fff;
	border: 5px solid #e6e6e6;
	-moz-box-shadow: 0 0 20px 10px #666;
	-webkit-box-shadow: 0 0 20px #666;
	text-align: center;
	padding: 20px;
	font-size: 12px;
}

/* This style is applied to the link that closes the dialog. */

a#ln-cancelLink {
	font-weight: normal;
	padding: 3px;
	color: #666;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
}

/* This style is for the box that holds the section that says where the user is being directed to. */

.setoff { }

.setoff a:hover { background: #000; }

/* ===================== SIDEBAR  ================== */


.page-sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	display: block;
	float: left;
	width: 27%;
	margin-right: 0;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 20px;
	display: block;
	background: #F6F6F6 url(images/header-shadow.png)/*tpa=http://www.chs.net/wp-content/themes/twentythirteen/images/header-shadow.png*/ repeat-x;
}

li.mother-page a {
	text-transform: uppercase;
	margin-bottom: 10px;
}

li.mother-page li a { text-transform: none; }

.page-sidebar ul {
	list-style-type: none;
	margin: 0;
	float: left;
	padding: 20px 0;
	width: auto;
	background: #transparent;
}

.page-sidebar ul ul { padding: 0; }

.page-sidebar li {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

.page-sidebar li a, li.mother-page li a {
	padding: 4px 0 4px 10px;
	float: left;
	margin: 0;
	color: #D68438;
	width: 100%;
	float: left;
	border-bottom: 1px dotted #dadada;
}

.page-sidebar.current-menu-item { font-weight: bold; }

.page-sidebar li a:hover {
	background: #eaeaea;
	font-weight: 400;
}

.page-sidebar li li:last-child { border-bottom: none; }

.page-sidebar .children li:last-child { padding-bottom: 0; }

.page-sidebar li > ul, .page-sidebar li > ol { margin-left: 20px; }

ul li.current_page_item a, ul li ul li.current_page_item a, ul li.current_page_item a:hover, ul li ul li.current_page_item a:hover { font-weight: bold; }

ul li.current_page_item li a, ul li ul li.current_page_item li a { font-weight: 300; }

/*ul li ul li.current_page_item a {font-weight:bold;}*/

/* Search widget */

.search-form .search-submit { display: none; }

/* RSS Widget */

.widget_rss .rss-date { display: block; }

.widget_rss .rss-date, .widget_rss li > cite { color: #a2a2a2; }

/**
 * 5.1 Entry Header
 * ----------------------------------------------------------------------------
 */


.entry-thumbnail img {
	display: block;
	padding: 25px 25px 0 25px;
	width: 100%;
	height: auto;
	box-shadow: none;
}

.entry-header { margin-bottom: 30px; }

h1.entry-title {
	font-size: 32px;
	margin: 0 0 15px 0;
	padding: 0;
}

.entry-title {
	font-weight: normal;
	margin: 0 0 5px;
}

.entry-title a { color: #141412; }

.entry-title a:hover { color: #ea9629; }

/**
 * 5.2 Entry Meta
 * ----------------------------------------------------------------------------
 */


.entry-meta {
	clear: both;
	font-size: 14px;
}

.entry-meta a { color: #D68438; }

.entry-meta a:hover { color: #D68438; }

.entry-meta > span { margin-right: 20px; }

.entry-meta > span:last-child { margin-right: 0; }

.featured-post:before {
	content: "\f308";
	margin-right: 2px;
}

.entry-meta .date a:before { content: "\f303"; }

.comments-link a:before {
	content: "\f300";
	margin-right: 2px;
	position: relative;
	top: -1px;
}

.entry-meta .author a:before {
	content: "\f304";
	position: relative;
	top: -1px;
}

.categories-links a:first-child:before { content: "\f301"; }

.tags-links a:first-child:before {
	content: "\f302";
	position: relative;
	top: -1px;
}

.edit-link a:before {
	content: "\f411";
	position: relative;
	top: -1px;
}

.single-author .entry-meta .author, .sticky.format-standard .entry-meta .date, .sticky.format-audio .entry-meta .date, .sticky.format-chat .entry-meta .date, .sticky.format-image .entry-meta .date, .sticky.format-gallery .entry-meta .date { display: none; }

/**
 * 5.3 Entry Content
 * ----------------------------------------------------------------------------
 */


.entry-content {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	word-wrap: keep-all;
	position: relative;
}

.entry-content a { color: #D68438; }

.entry-content a:hover { color: #222; }

.entry-content h2 {
	font-size: 24px;
	padding: 15px 0;
	margin: 0;
	float: left;
	width: 100%;
	font-weight: 600;
}

.entry-content h3 {
	padding: 0;
	margin: 10px 0 10px 0;
	font-size: 20px;
	float: left;
	width: 100%;
}

h2.box-link {
	padding: 0;
	margin: 0;
	line-height: 100%;
	float: left;
	width: 100%;
	border-bottom: 1px dotted #ddd;
	padding: 15px;
	font-weight: 300;
	color: #ccc;
	font-size: 14px;
}

h2.box-link a {
	font-size: 18px;
	font-weight: 300;
	padding-right: 10px;
	margin: 0px;
	color: #C76000;
	line-height: 100%;
}

h2.box-link:first-of-type {
	border-top: 1px dotted #ddd;
	margin-top: 20px;
}

h2.box-link:hover { background: #f6f6f6; }

.entry-content blockquote { font-size: 24px; }

.entry-content blockquote cite, .entry-content blockquote small { font-size: 16px; }

footer.entry-meta { margin-top: 24px; }

.format-standard footer.entry-meta { margin-top: 0; }

/* ============ CALLOUT =========== */


.callout {
	float: right;
	width: 40%;
	padding: 20px;
	background: #f6f6f6;
	border-left: 10px solid #F6891E;
	margin: 0px 0px 20px 20px;
}

/* Page links */

.page-links {
	clear: both;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	line-height: 2.2;
	margin: 20px 0;
	text-transform: uppercase;
}

.page-links a, .page-links > span {
	background: #fff;
	border: 1px solid #fff;
	padding: 5px 10px;
	text-decoration: none;
}

.format-status .entry-content .page-links a, .format-gallery .entry-content .page-links a, .format-chat .entry-content .page-links a, .format-quote .entry-content .page-links a, .page-links a {
	background: #e63f2a;
	border: 1px solid #e63f2a;
	color: #fff;
}

.format-gallery .entry-content .page-links a:hover, .format-audio .entry-content .page-links a:hover, .format-status .entry-content .page-links a:hover, .format-video .entry-content .page-links a:hover, .format-chat .entry-content .page-links a:hover, .format-quote .entry-content .page-links a:hover, .page-links a:hover {
	background: #fff;
	color: #e63f2a;
}

.format-status .entry-content .page-links > span, .format-quote .entry-content .page-links > span { background: none; }

.page-links .page-links-title {
	background: transparent;
	border: none;
	margin-right: 20px;
	padding: 0;
}

/* ================================= SHORTCODES =============================== */


.one-half, .two-half {
	float: left;
	width: 50%;
	padding-right: 5%;
}

/* Leadership */


/* wayne */

.wayne-bio {
	padding-top:120px;
	width:Auto;
}

p.wayne-name {margin-top:40px;}
.wayne-img {width:auto;}


img.main-leader {
	margin-right: 5%;
	width: 35%;
	height: auto;
	margin-bottom: 30px;
}

.chs-leader {
	width: 50%;
	float: left;
}

span.leader-name {
	font-size: 18px;
	float: left;
	line-height: 100%;
	padding: 25px 20px 8px 0px;
	border-bottom: 1px dotted #ddd;
}

span.leader-title {
	padding-top: 5px;
	width: 60%;
	float: left;
}

/* Board Members */


.board {
	float: left;
	width: 25%;
	padding-top: 10px;
	height:300px;
}

.board img {
	padding: 0;
	margin: 0;
	float: left;
}

.board a, .board-title {
	float: left;
	padding-left: 15px;
	padding-right: 0;
	margin-right: 0;
	width: 100%;
}

.board-title { font-size: 11px; }

/* Company Facts */


h2.company-facts { font-size: 22px; }

.cf-1, .cf-2, .cf-3 {
	color: #fff;
	padding: 5px 8px;
	font-weight: 300;
}

.cf-1 {
	background: #F5A200;
	margin-left: 5px;
}

.cf-2 { background: #5A7B7C; }

.cf-3 { background: #4D4D4D; }

/* Investor Tools */


ul.it-box {
	list-style: none;
	width: 100%;
	float: left;
	padding: 0;
	margin: 10px 0 50px 0;
}

.it-box li {
	width: 25%;
	list-style: none;
	float: left;
	text-align: center;
	border-right: 2px solid #fff;
	font-size: 13px;
	font-weight: 400;
	background: #f6f6f6;
	color: #fff;
	padding: 15px 0;
	line-height: 130%;
}

.it-box li:last-child { border-right: none; }

.it-box li a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	color: #fff;
}

li.inv-1 { background: #D68438; }

li.inv-2 { background: #555; }

li.inv-2 a:hover { color: #D68438; }

li.inv-3 { background: #619c9c }

li.inv-4 { background: #D68438; }

/* Analyst Coverage */


ul.ac-list {
	padding: 0;
	margin: 0;
	border-bottom: 1px dotted #ddd;
	float: left;
	width: 100%;
}

ul.ac-list:hover { background: #f6f6f6; }

ul.ac-list li {
	list-style: none;
	float: left;
	padding: 5px 0 5px 10px;
}

ul.ac-title li {
	background: #5A7B7C;
	color: #fff;
	border-right: 1px solid #fff;
}

ul.ac-title {
	border-bottom: none;
	font-weight: 400;
}

li.ac-1 { width: 50%; }

li.ac-2 {
	width: 25%;
	text-align: left;
}

li.ac-3 {
	width: 25%;
	text-align: left;
}

ul.ac-last { margin-bottom: 50px; }

/* Careers */


ul.career-box {
	width: 50%;
	padding: 10px 0 0px 0;
	margin-bottom: 0px;
	float: left;
}

.career-box img {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}

.career-box li {
	width: 100%;
	padding: 0;
	margin: 0;
	float: left;
	list-style: none;
	text-align: left;
	position: relative;
	border-right: 2px solid #fff;
}

.career-box li a {
	text-align: center;
	float: left;
	width: 100%;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
}

li.career-1-link a { background: #F49F1E; }

li.career-2-link a { background: #9CABA9; }

li.career-text {
	padding-right: 30px;
	padding-top: 10px;
}

/* Physician Recruitment */


h3.pr-links {
	width: 30%;
	font-weight: 400;
	font-size: 14px;
	margin: 10px 0 0 0;
	padding: 25px 0 0 20px;
	border-top: 1px dotted #ddd;
	text-transform: uppercase;
	border-bottom: none;
}

ul.pr-links {
	width: 70%;
	float: left;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	border-top: 1px dotted #ddd;
}

.pr-links li {
	list-style: none;
	width: 50%;
}

/* Corporate Governance */


ul.rside {
	float: right;
	list-style: none;
	width: 40%;
	padding: 0 0 30px 20px;
	margin: 0;
}

.rside li a {
	font-size: 12px;
	float: left;
	width: 100%;
	padding: 3px 10px;
	border-bottom: 1px dotted #ddd;
}

.rside li {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Mediaelements */

.hentry .mejs-mediaelement, .hentry .mejs-container .mejs-controls { background: #220e10; }

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded, .hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current { background: #fff; }

.hentry .mejs-controls .mejs-time-rail .mejs-time-current { background: #ea9629; }

.hentry .mejs-controls .mejs-time-rail .mejs-time-total, .hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total { background: #595959; }

.hentry .mejs-controls .mejs-time-rail span, .hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total, .hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current { border-radius: 0; }

/**
 * 5.5 Post Formats
 * ----------------------------------------------------------------------------
 */

/* Quote */


.format-quote h1 {
	font-size: 16px;
	margin-bottom: 20px;
	float: left;
	width: 100%;
}

.leader-thumb { }

.leader-thumb img {
	float: left;
	width: 166px;
	height: auto;
	margin: 0 30px 30px 0;
	padding: 0;
}

.single-content {
	padding: 0px 50px 50px 50px;
	float: right;
	width: 73%;
}

/**
 * 5.6 Attachments
 * ----------------------------------------------------------------------------
 */


.attachment .hentry {
	background-color: #e8e5ce;
	margin: 0;
	padding: 0;
}

.attachment .entry-header {
	margin-bottom: 0;
	padding: 30px 0;
}

.attachment .entry-title {
	display: inline-block;
	float: left;
	font: 300 italic 30px "Source Sans Pro", Helvetica, sans-serif;
	margin: 0;
}

.attachment .entry-title:before {
	content: "\f416";
	font-size: 32px;
	margin-right: 10px;
}

.attachment .entry-meta {
	clear: none;
	color: inherit;
	float: right;
	max-width: 604px;
	padding: 9px 0 0;
	text-align: right;
}

.hentry.attachment:not(.image-attachment) .entry-meta { max-width: 104px; }

.attachment footer.entry-meta { display: none; }

.attachment-meta:before { content: "\f307"; }

.full-size-link a:before { content: "\f402"; }

.full-size-link:before { content: none; }

.attachment .entry-meta a, .attachment .entry-meta .edit-link:before, .attachment .full-size-link:before { color: #ca3c08; }

.attachment .entry-content {
	background-color: #fff;
	max-width: 100%;
	padding: 40px 0;
}

.image-navigation {
	margin: 0 auto;
	position: relative;
}

.image-navigation a:hover { text-decoration: none; }

.image-navigation .nav-previous, .image-navigation .nav-next {
	position: absolute;
	top: 50px;
}

.image-navigation .nav-previous { left: 0; }

.image-navigation .nav-next { right: 0; }

.image-navigation .meta-nav {
	font-size: 32px;
	font-weight: 300;
	vertical-align: -4px;
}

.attachment .entry-attachment, .attachment .type-attachment p {
	margin: 0 auto;
	max-width: 724px;
	text-align: center;
}

.attachment .entry-attachment .attachment { display: inline-block; }

.attachment .entry-caption { text-align: left; }

.attachment .entry-description {
	margin: 20px auto 0;
	max-width: 604px;
}

.attachment .entry-caption p:last-child, .attachment .entry-description p:last-child { margin: 0; }

.attachment .site-main .sidebar-container { display: none; }

/**
 * 5.7 Post/Paging Navigation
 * ----------------------------------------------------------------------------
 */


.navigation .nav-previous { float: left; }

.navigation .nav-next { float: right; }

.navigation a { color: #D68438; }

.navigation a:hover {
	color: #ea9629;
	text-decoration: none;
}

.paging-navigation {
	float: left;
	width: 100%;
	padding: 40px 0;
}

.paging-navigation .nav-links {
	margin: 0 auto;
	max-width: 604px;
	width: 100%;
}

.sidebar .paging-navigation .nav-links { padding: 0 376px 0 60px; }

.paging-navigation .nav-next { padding: 13px 0; }

.paging-navigation a {
	font-size: 22px;
	font-style: italic;
	font-weight: 300;
}

.paging-navigation .meta-nav {
	background-color: #849794;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 26px;
	padding: 3px 0 8px;
	text-align: center;
	width: 50px;
}

.paging-navigation .nav-previous .meta-nav {
	margin-right: 10px;
	padding: 17px 0 23px;
	width: 80px;
}

.paging-navigation .nav-next .meta-nav { margin-left: 10px; }

.paging-navigation a:hover .meta-nav {
	background-color: #F6891E;
	text-decoration: none;
}

.post-navigation {
	background-color: #fff;
	color: #ca3c08;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	padding: 20px 0;
}

.post-navigation .nav-links { margin: 0 auto; }

.sidebar .post-navigation .nav-links { padding: 0 376px 0 60px; }

.post-navigation a[rel="next"] {
	float: right;
	text-align: right;
}

/**
 * 5.9 Archives
 * ----------------------------------------------------------------------------
 */
 

.archive {
	width: 100%;
	padding: 30px 0;
}

.archive-header {
	width: 100%;
	padding: 0;
	margin: 0 0 30px 0;
	float: left;
}

.search-title {
	border: none;
	padding: 0;
	float: left;
	background: #f6f6f6;
	border-right: 10px solid #F6891E;
}

.paging {
	float: right;
	color: #ccc;
}

.search-title, .paging {
	line-height: 32px;
	padding: 20px 40px;
	font-size: 26px;
}

.archive-entry {
	border-top: 1px dotted #ccc;
	float: left;
	width: 100%;
	padding: 10px 40px;
}

.archive h2 {
	font-size: 18px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.archive h2 a { color: #000; }

.archive h2 a:hover { color: #F6891E; }

/**
 * 5.10 Search Results/No posts
 * ----------------------------------------------------------------------------
 */


.page-header { background-color: #e8e5ce; }

.page-title {
	font: 300 italic 30px "Source Sans Pro", Helvetica, sans-serif;
	margin: 0 auto;
	padding: 30px 0;
	width: 100%;
}

/**
 * 5.11 404
 * ----------------------------------------------------------------------------
 */


.error404 .page-header { background-color: #fff; }

.error404 .page-title {
	line-height: 0.6;
	margin: 0;
	padding: 300px;
	position: relative;
	text-align: center;
	width: auto;
}

.error404 .page-title:before {
	color: #e8e5ce;
	content: "\f423";
	font-size: 964px;
	line-height: 0.6;
	overflow: hidden;
	position: absolute;
	left: 7px;
	top: 28px;
}

.error404 .page-wrapper { background-color: #e8e5ce; }

.error404 .page-header, .error404 .page-content {
	margin: 0 auto;
	padding-bottom: 40px;
	width: 100%;
}

/**
 * 5.13 Multisite
 * ----------------------------------------------------------------------------
 */


.site-main .mu_register {
	margin: 0 auto;
	max-width: 604px;
	width: 100%;
}

.mu_alert { margin-top: 25px; }

.site-main .mu_register input[type="submit"], .site-main .mu_register #blog_title, .site-main .mu_register #user_email, .site-main .mu_register #blogname, .site-main .mu_register #user_name {
	font-size: inherit;
	width: 270px;
}

.site-main .mu_register input[type="submit"] { width: auto; }

/**
 * 7.0 Footer
 * ----------------------------------------------------------------------------
 */


.site-footer {
	background-color: #e8e5ce;
	color: #686758;
	font-size: 12px;
	text-align: center;
}

.site-footer .widget-area, .sidebar .site-footer { text-align: left; }

.site-footer a { color: #686758; }

.site-footer .sidebar-container {
	background-color: #220e10;
	padding: 20px 0;
}

.site-footer .widget-area {
	margin: 0 auto;
	width: 100%;
}

.sidebar .site-footer .widget-area {
	max-width: 724px;
	position: relative;
	left: -158px;
}

.site-footer .widget {
	background: transparent;
	color: #fff;
	float: left;
	margin-right: 20px;
	width: 245px;
}

.sidebar .site-footer .widget { width: 228px; }

.sidebar .site-footer .widget:nth-of-type(4), .sidebar .site-footer .widget:nth-of-type(3) { margin-right: 0; }

.site-footer .widget a { color: #e6402a; }

.site-footer .widget-title, .site-footer .widget-title a, .site-footer .wp-caption-text { color: #fff; }

.site-info {
	margin: 0 auto;
	padding: 30px 0;
	width: 100%;
}

#wpstats {
	display: block;
	margin: -10px auto 0;
}

.fwrap {
	background: #333;
	box-shadow: inset 0px 1px 3px #000;
}

#footer {
	background: #333;
	display: block;
	padding-top: 50px;
}

#footer a, #footer a:visited { color: #619c9c; }

#footer a:hover { color: #F6891E; }

img.map-image {
	width: 80%;
	text-align: center;
	height: auto;
	padding-bottom: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	border-bottom: 1px solid #444;
}

.copy-notice {
	width: 25%;
	float: right;
	padding-left: 4%;
	margin-left: 4%;
	margin-bottom: 30px;
	color: #999;
	border-left: 1px solid #444;
	font-size: 11px;
	line-height: 130%;
	font-weight: 300;
	text-align: left;
}

.bottom-menu {
	width: 71%;
	float: left;
}

.footer-menu {
	width: 33.3%;
	float: left;
	padding: 0px 40px;
	margin: 0px;
	font-size: 13px;
}

.footer-menu:last-of-type { padding-right: 0; }

.footer-menu:first-of-type { padding-left: 20px; }

.footer-menu li ul {
	padding: 0px 0px 10px 10px;
	list-style: none;
	margin: 0;
	border: none;
}

.footer-menu ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

.footer-menu li { font-weight: 400; }

.footer-menu li li { font-weight: 300; }



/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */

@media (max-width: 1599px) {

.site { border: 0; }
}
 @media (max-width:1500px) {

.left-white, .right-white { width: 10%; }

#inner-header, .home, .regular, #footer { width: 80%; }

.nav-menu li a { padding: 15px 13px; }
}
 @media (max-width:1400px) {

.left-white, .right-white { width: 10%; }

#inner-header, .home, .regular, #footer { width: 80%; }
}
 @media (max-width:1270px) {

.left-white, .right-white { width: 5%; }

#inner-header, .home, .regular, #footer { width: 90%; }

img.home-image {
	width: 200px !important;
	height: 200px!important;
}

.page-sidebar li a { padding: 3px 0 2px 3px; }
}
 @media (max-width:1150px) {

.left-white, .right-white {
	display: none;
	position: relative;
	width: 0;
	z-index: -99999;
}

#inner-header, .home, .regular, #footer {
	width: 90%;
	padding-right: 20px;
	padding-left: 20px;
}

.nav-menu li a { padding: 15px 10px; }

.wayne-bio {padding-top:50px;}
.it-box li a {font-size:14px;}
.board {height:250px;}

}
 @media (max-width:1075px) {

.nav-menu li a { padding: 15px 7px; }

.logo img {
	width: 200px;
	height: auto;
}

.logo { padding-top: 50px; }

ul.home-menu { width: 250px; }

img.home-image {
	width: 175px;
	height: 175px;
	margin-bottom: 25px;
	margin-top: 50px;
}

span.col1 {
	width: 90%;
	padding-bottom: 30px;
}

.col1 img { margin-right: 40px; }

span.col2 {
	float: right;
	padding-top: 20px;
}

span.col3 {
	width: 60%;
	padding-top: 20px;
}
}
 @media (max-width:990px) {

.board a { font-size: 11px; }
.it-box li a {font-size:12px;}
}
 @media (max-width:950px) {

#inner-header, .home, .regular, #footer {
	width: 100%;
	padding-right: 30px;
	padding-left: 30px;
}

.nav-menu li {
	width: 20%;
	margin: 0px auto;
}

.nav-menu li a { padding-top: 0; }

.nav-menu li li a {
	padding-top: 10px;
	text-align: left;
	padding-left: 10px;
}

.nav-menu li li { width: 100%; }

ul.home-menu { width: 225px; }

li.menu-item-63, li.menu-item-58 { padding-top: 8px; }

li.menu-item-63 a, li.menu-item-58 a { padding-bottom: 22px; }

.bottom-menu { width: 100%; }

.copy-notice {
	width: 100%;
	padding: 30px 30px 0 30px;
	border-left: 0;
	border-top: 1px solid #444;
	margin-top: 30px;
	margin-bottom: 0;
}

.it-box li {
	width: 50%;
	margin-bottom: 2px;
}

.it-box li a { font-size: 13px; }

span.leader-name {
	font-size: 16px;
	padding: 15px 10px 4px 0;
}

span.leader-title { font-size: 11px; }
.board {height:225px;}
}
 @media (max-width:877px) {

#inner-header, .home, .regular, #footer { width: 100%; }

img.home-image {
	width: 150px!important;
	height: 150px!important;
	margin-top: 30px;
}

ul.home-menu {
	width: 100%;
	padding: 5px 0 0 0;
	margin: 0;
	float: left;
}

ul.home-menu li {
	width: 25%;
	padding: 0;
	margin: 0;
	float: left;
	border: 0;
	text-align: center;
}

span.col1 {
	width: 40%;
	padding-right: 0px;
}

span.col1 strong {
	line-height: 150%;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 0;
}

span.col1 img {
	margin-right: 20px;
	padding-right: 0;
	width: 100px;
	height: 100px;
	margin-bottom: 60px;
}

span.col2 {
	width: 30%;
	padding-left: 10px;
	margin-left: 0;
	padding-right: 0;
	padding-top: 40px;
}

span.col3 {
	width: 30%;
	padding-top: 20px;
	margin-top: 0;
}

span.col1 a.home-col {
	margin: 0;
	line-height: 100%;
	text-underline: none;
}

.wayne-img {width:30%;padding-bottom:20px;}

.board { width: 33%;height:250px; }

h3.pr-links {
	width: 100%;
	padding-left: 0px;
	margin: 0;
	border-top: 0px;
	border-bottom: 1px dotted #ddd;
}

ul.pr-links {
	width: 100%;
	border-top: 0px;
}

ul.rside { width: 45%; }

span.leader-name {
	padding-top: 10px;
	padding-right: 5px;
}

ul.career-box li a { font-size: 18px; }

.fluidMedia {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
}
 @media (max-width:765px) {

/* Small menu */

#inner-header, .home, .regular {
	width: 100%;
	padding: 0;
}

#footer { width: 100%; }

.hwrap {
	padding: 0px 30px 30px 30px;
	width: 100%;
	float: left;
}

.logo {
	width: 100%;
	padding: 20px 0 20px 20px;
	float: left;
	clear: both;
}

.top-menu {
	float: right;
	height: 34px;
	width: 70%;
	padding: 0;
	margin: 0;
}

a.top-menu-contact { display: none; }

.main-navigation {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}

.menu-toggle {
	cursor: pointer;
	display: inline-block;
	font: bold 16px/1.3 "Source Sans Pro", Helvetica, sans-serif;
	margin-top: -38px;
	padding: 12px 0 12px 20px;
	float: left;
}

h3.menu-toggle {
	margin: 0;
	margin-top: -25px;
	padding: 0 0 5px 10px;
	line-height: 1;
}

/* mobile menu */

.nav-menu { display: none; }

.nav-menu .sub-menu {
	border: 0;
	float: left;
	width: 100%;
	display: none;
}

.toggled-on .nav-menu {
	display: block;
	margin: 0;
	padding: 5px 0;
	width: 100%;
	background: #849794;
	color: #fff;
}

.nav-menu li {
	width: 100%;
	float: left;
}

.nav-menu li a {
	color: #fff;
	padding: 4px 10px;
	border: none;
	text-align: left;
}

.nav-menu .sub-menu,  .nav-menu .children {
	display: block;
	position: relative;
	background-color: transparent;
	border: none;
	padding: 5px 0 5px 40px;
	position: relative;
	left: 0px;
}

.nav-menu li li a {
	border: 0;
	padding: 2px 0;
}

.nav-menu .sub-menu .sub-menu,  .nav-menu .children .children { display: none; }

/*hover*/

.nav-menu li a:hover, .nav-menu li li a:hover {
	background: transparent;
	color: #f6891e;
	border: none;
}

.nav-menu li:hover > a,  .nav-menu li:hover, .nav-menu li li:hover {
	color: #fff;
	background: transparent;
}

li.menu-item-63, li.menu-item-58 { padding: 0; }

.contact-us { display: block; }

/* iframes */
	

.fluidMedia { min-height: 500px; }

/* page-content */

.cwrap {
	padding-top: 0px;
	padding-bottom: 20px;
}

.cwrap ul {
	padding-left: 0;
	margin-left: 0px;
}

.entry-thumbnail img {
	padding: 0;
	margin: 0;
}

h1.entry-title {
	font-size: 24px;
	line-height: 100%;
	margin: 15px 0;
	padding: 0;
}

.callout {
	width: 90%;
	margin-left: 10%;
}

/*shortcodes */
	

h2.company-facts { font-size: 22px; }

.cf-1, .cf-2, .cf-3 {
	width: 100%;
	float: left;
	margin: 0;
	text-align: center;
}

span.leader-name {
	margin: 0;
	float: left;
	margin-top: 5px;
}

h2.box-link {
	padding: 10px 0;
	font-size: 14px;
}

h2.box-link a { font-size: 18px; }

h2.box-link:first-of-type { margin-top: 10px; }

.it-box li {
	width: 100%;
	margin-bottom: 2px;
}

.it-box li a { font-size: 13px; }

ul.ac-list li {
	padding-left: 0;
	padding-right: 0;
	font-size: 90%;
	text-align: center;
}

li.ac-1 { width: 34%; }

li.ac-2 { width: 34%; }

li.ac-3 { width: 32%; }

ul.career-box { padding-bottom: 20px; }

.career-box li {
	width: 100%;
	margin-bottom: 2px;
}

.career-box li a { font-size: 22px; }

ul.pr-links {
	margin-left: 0px;
	padding: 0;
}

/*sidebar */
	

.page-sidebar {
	width: 100%;
	float: right;
	position: relative;
	padding: 0;
	background-image: none;
	border-top: 1px solid #f0f0f0;
	padding-bottom: 30px;
}

.page-sidebar ul { padding: 20px 40px; }

.page-content {
	float: left;
	width: 100%;
}

.ls-wp-fullwidth-container { display: none; }

.home-image {
	width: 50%;
	float: left;
	padding: 0;
	margin: 0;
}

img.home-image {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-top: 0;
	float: left;
}

ul.home-menu {
	width: 100%;
	margin: 0px 0 40px 0;
}

span.col1 {
	width: 100%;
	padding: 30px 0;
	margin: 30px 0 0 0;
}

span.col1 a.home-col { margin-top: 20px; }

span.col3 {
	width: 100%;
	padding: 0;
	margin: 0;
}

span.col2 {
	width: 100%;
	padding: 30px 0;
	margin: 0;
}

.board {
	height:275px;
}
}
 @media (max-width:700px) {

ul.home-menu {
	margin: 50px 0 18px 0;
	float: right;
	width: 50%;
	margin-right: 0%;
}

ul.home-menu li {
	float: left;
	text-align: left;
	clear: both;
	margin: 0;
	border-bottom: 2px solid #6a7a77;
	padding: 6px 0 6px 15px;
	font-weight: 300;
	width: 100%;
}

img.home-image {
	width: 40%;
	float: left;
	margin-top: 0px;
}

p.home-p {
	float: left;
	padding: 0;
	margin: 0;
}
}
 @media (max-width:599px) {

.footer-menu { width: 50%; }

.footer-menu ul, ul.footer-menu { padding-left: 20px; }

.copy-notice {
	padding-right: 0;
	padding-left: 0;
}

.bottom-menu { width: 100%; }
}
 @media (max-width:525px) {

ul.home-menu { width: 100%; }

.pr-links li { width: 100%; }

ul.career-box li a { font-size: 16px; }
}
 @media (max-width:450px) {

#ln-messageBox {
	width:95%;
	height:100%;
	font-size:9px!important;
	top:0px!important;
	margin-top:0;
	border:0;
}

#custom-messageHolder {
	top:5px;
}

#ln-messageHolder {
	top:5px;
}

.exnotice {font-size:11px;line-height:120%;}

.setoff a {font-size:12px;}

.footer-menu { width: 100%; }

.board { width: 50%; }

ul.rside { width: 50%; }

ul.career-box { width: 100%; }

}
 @media (max-width:420px) {

ul.home-menu { width: 100%; }

img.home-image {
	width: auto;
	float: left;
	margin: 0 0 20px 0;
}
}
 @media (max-width:370px) {

.home strong { }

span.col1 img {
	width: 100%;
	margin-bottom: 20px;
}
.board {height:230px;}
}


/**
 * 9.0 Print
 * ----------------------------------------------------------------------------
 */

/* Retina-specific styles. */
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
 .site-header .search-field {
 background-image: url(images/search-icon-2x.png)/*tpa=http://www.chs.net/wp-content/themes/twentythirteen/images/search-icon-2x.png*/;
}
 .format-audio .audio-content, .format-status .entry-content:before, .format-status .entry-meta:before, .comment-list > li:after, .comment-list .children > li:before {
 background-image: url(images/dotted-line-2x.png)/*tpa=http://www.chs.net/wp-content/themes/twentythirteen/images/dotted-line-2x.png*/;
}
}
 @media print {

body {
	background: none !important;
	color: #000;
	font-size: 10pt;
}

footer a[rel="bookmark"]:link:after,  footer a[rel="bookmark"]:visited:after { content: " [" attr(href) "] "; /* Show URLs */ }

.site { max-width: 98%; }

.site-header { background-image: none !important; }

.site-header .home-link {
	max-width: none;
	min-height: 0;
}

.site-title {
	color: #000;
	font-size: 21pt;
}

.site-description { font-size: 10pt; }

.author-avatar,  .site-footer,  .comment-respond,  .comments-area .comment-edit-link,  .comments-area .reply,  .comments-link,  .entry-meta .edit-link,  .page-links,  .site-content nav,  .widget-area,  .main-navigation,  .navbar,  .more-link { display: none; }

.entry-header,  .entry-content,  .entry-summary,  .entry-meta {
	margin: 0;
	width: 100%;
}

.page-title,  .entry-title { font-size: 21pt; }

.entry-meta,  .entry-meta a {
	color: #444;
	font-size: 10pt;
}

.entry-content img.alignleft,  .entry-content .wp-caption.alignleft { margin-left: 0; }

.entry-content img.alignright,  .entry-content .wp-caption.alignright { margin-right: 0; }

.format-image .entry-content .size-full { margin: 0; }

/* Remove colors from post formats */

.hentry { background-color: #fff; }
}
