/* Background Gradient */
.background_gradient {
	background-image:url(../_images/frameset/bg_texture.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/bg_texture.png*/;
	background-position: top center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-color:#fff;
	z-index:0;
	position:relative;
}
/* Top Bar */
#top_nav {   /*IMPT NOTE for IE: use this for border radius... border-radius: 5px 10px 15px 20px; (top-left, top-right, bottom-right, bottom-left)*/
	float:right;
	margin-right:0px;
	margin-top:10px;
	height:70px;
	background-image:url(../_images/frameset/nav/top_nav_bg1.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/nav/top_nav_bg1.png*/;
	background-repeat:repeat-x;
	position:relative;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-radius: 0px 0px 10px 10px;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	padding-left:17px;
	padding-right:17px;
	padding-bottom:3px;
}
#top_nav_middle {
	font-size: 12px;
	margin-top:-7px;
	margin-left:40px;
	width:460px;/*450*/
}
.top_nav_site_name {
	font-size:20px;
	font-weight:500;
	padding-left: 10px;
	padding-right:0px;
	color:#333;
	white-space:nowrap;
	float:left;
	padding-top:3px;
	font-family:arial, sans-serif;
}
/* Drop Down - Language */
.dd .ddTitle span.arrow {
	background:url(../_images/icons/dd_arrow.png)/*tpa=http://www.rrdonnelley.com/_images/icons/dd_arrow.png*/ no-repeat 0 0;
	float:right;
	display:inline-block;
	width:16px;
	height:16px;
	cursor:pointer;
}
/* TOP PANELS */
/* BANNER IMAGES */
.rrd-home-page #rrd-GTSwearables {
	background: url(../_images/home/hp_banner_wearables_a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/hp_banner_wearables_a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-Customwave {
	background: url(../_images/home/hp_banner_rrdCustomwave.gif)/*tpa=http://www.rrdonnelley.com/_images/home/hp_banner_rrdCustomwave.gif*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-Courier {
	background: url(../_images/home/hp_banner_courier_a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/hp_banner_courier_a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-OurActionsMatter {
	background: url(../_images/home/hp_banner_OurActionsMatter_a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/hp_banner_OurActionsMatter_a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-WorldEarthDay2015 {
	background: url(../_images/home/hp_banner_WorldEarthDay2015_a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/hp_banner_WorldEarthDay2015_a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-RFIDJournalLive {
	background: url(../_images/home/hp_banner_RFID_JournalLive_a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/hp_banner_RFID_JournalLive_a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-GlobalShop {
	background: url(../_images/home/hp_banner_globalshop_a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/hp_banner_globalshop_a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-Relevance {
	background: url(../_images/home/hp_banner_relevance.gif)/*tpa=http://www.rrdonnelley.com/_images/home/hp_banner_relevance.gif*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-HealthcareComm {
	background: url(../_images/home/hp_banner_healthcarecomm_a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/hp_banner_healthcarecomm_a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-HealthcareMember {
	background: url(../_images/home/hp_banner_healthcaremember_a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/hp_banner_healthcaremember_a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
} 
.rrd-home-page #rrd-LifeSciences {
	background: url(../_images/home/hp_banner_lifesciences_a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/hp_banner_lifesciences_a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
} 
.rrd-home-page #rrd-LangSolns {
	background: url(../_images/home/hp_banner_langsolns_a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/hp_banner_langsolns_a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
} 
.rrd-home-page #rrd-150thNasdaq {
	background: url(../_images/150th/homepage_banner150thNasdaq_a.jpg)/*tpa=http://www.rrdonnelley.com/_images/150th/homepage_banner150thNasdaq_a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-150th {
	background: url(../_images/150th/homepage_banner150tha.jpg)/*tpa=http://www.rrdonnelley.com/_images/150th/homepage_banner150tha.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-150thIntegrity {
	background: url(../_images/150th/homepage_banner150thIntegritya.jpg)/*tpa=http://www.rrdonnelley.com/_images/150th/homepage_banner150thIntegritya.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-150thDedication {
	background: url(../_images/150th/homepage_banner150thDedicationa.jpg)/*tpa=http://www.rrdonnelley.com/_images/150th/homepage_banner150thDedicationa.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-150thIntegration {
	background: url(../_images/150th/homepage_banner150thIntegrationa.jpg)/*tpa=http://www.rrdonnelley.com/_images/150th/homepage_banner150thIntegrationa.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-150thInnovation {
	background: url(../_images/150th/homepage_banner150thInnovationa.jpg)/*tpa=http://www.rrdonnelley.com/_images/150th/homepage_banner150thInnovationa.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-150thSustainability {
	background: url(../_images/150th/homepage_banner150thSustainabilitya.jpg)/*tpa=http://www.rrdonnelley.com/_images/150th/homepage_banner150thSustainabilitya.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-Holidays {
	background: url(../_images/home/homepage_banner_holiday.gif)/*tpa=http://www.rrdonnelley.com/_images/home/homepage_banner_holiday.gif*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-ShopperExpo {
	/*background: url(../_images/home/homepage_banner_shoppershow.gif) no-repeat 50% 0px;*/
	/*background-color:#85b4d7;*/
	height:319px;
	background-image: url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/home/homepage_banner_shoppershow.gif*/, linear-gradient(to bottom, #6d9ed3, #496d92);
	background-repeat: no-repeat;
	background-position: center;
	width:100%;
}
.rrd-home-page #rrd-ShopperExpo2 {
	height:319px;
	background-image: url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/home/homepage_banner_shoppershow2.gif*/, linear-gradient(to bottom, #6d9ed3, #496d92);
	background-repeat: no-repeat;
	background-position: center;
	background-color:#85b4d7;
	width:100%;
}
.rrd-home-page #rrd-0 {
	background: url(../_images/home/homepage_banner0a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/homepage_banner0a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-1 {
	background: url(../_images/home/homepage_banner1a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/homepage_banner1a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-2 {
	background: url(../_images/home/homepage_banner2a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/homepage_banner2a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-3 {
	background: url(../_images/home/homepage_banner3a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/homepage_banner3a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-4 {
	background: url(../_images/home/homepage_banner4a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/homepage_banner4a.jpg*/ repeat-x 50% 0px;
	height:319px;
	width:100%;
}
.rrd-home-page #rrd-5 {
	background: url(../_images/home/homepage_banner5a.jpg)/*tpa=http://www.rrdonnelley.com/_images/home/homepage_banner5a.jpg*/ no-repeat 50% 0px;
	height:319px;
	width:100%;
}
.frameset_banner {
	background-image:url(../_images/home/homepg_banner_nav_shadow.png)/*tpa=http://www.rrdonnelley.com/_images/home/homepg_banner_nav_shadow.png*/;
	height:370px;
	border-bottom:1px solid #ddd;
}
.banner_panel {
	height:319px;
	border-bottom:1px solid #ddd;
	z-index:4;
}
.banner_margin {
	margin-bottom:20px;
	margin-top:10px;
	z-index:3;
}
.banner_header {
	font-family:Arial;
	font-weight:bold;
	padding-bottom:0px;
	line-height:26px;
	margin-bottom:20px;
	color:#fff; 
	font-size:48px;
	padding-left:9px;
	line-height:47px;
	margin-top:41px;
	letter-spacing:-1px;
}
.banner_header_LS {
	font-family:Arial, Helvetica, sans-serif;
	width: 500px; 
	color:#fff; 
	font-size:38px;
	padding-right:45px;
	line-height:38px;
	margin-top:50px;
	letter-spacing:-1px;
	float:right;
}
.banner_subheader_LS {
	float:right; 
	font-family:Arial, Helvetica, sans-serif;
	display:block; width: 500px; 
	font-weight:bold; 
	color:#8dc23f; 
	text-transform:uppercase;
	font-size:16px; 
	padding-right:45px;
	line-height:20px;
	margin-top:-10px;
}
.banner_subheader {
	margin-top:-10px;
	font-weight:bold; 
	color:#fff; 
	font-size:16px; 
	padding-left:12px;
	line-height:19px;
}
.banner_button {
	float:left; 
	margin:0px 240px 240px 8px;
}
.banner_button_indent {
	float:right; 
	margin:0px 305px 240px 8px;
}
/* Share this page*/
.share_header {
	font-family:Arial;
	font-size:20px;
	color:#609d0c;
	font-weight:bold;
	margin-bottom:20px;
	margin-top:15px;
	padding-bottom:0px;
	line-height:26px;
}
/* VIDEO */
.video_header {
	font-family:Arial;
	font-size:20px;
	color:#609d0c;
	font-weight:bold;
	margin-bottom:20px;
	margin-top:15px;
	padding-bottom:0px;
	line-height:26px;
}
/* SLIDERKIT PANEL - JQUERY HOMEPAGE BANNER */
.sliderkit {
	display:none;
	overflow:hidden;
	text-align:left;
}
.sliderkit a {
	text-decoration:none;
}
.sliderkit a:hover {
	text-decoration:none;
}
.sliderkit a:focus {
	outline:none;
	text-decoration:underline;
}
.sliderkit img {
	border:0px solid #000;
	margin-top:-310px;
}
.sliderkit .sliderkit-nav {
	z-index:10;
	position:absolute;
	text-align:left;
}
.sliderkit .sliderkit-nav-clip {
	position:relative;
	overflow:hidden;
	margin:0 auto;
}
.sliderkit .sliderkit-nav-clip ul {
	position:relative;
	list-style:none;
	margin:0;
	padding:0;
}
.sliderkit .sliderkit-nav-clip ul li {
	float:left;
}
.sliderkit .sliderkit-nav-clip ul li a {
	display:block;
}
.sliderkit .sliderkit-btn {
	z-index:10;
}
.sliderkit .sliderkit-panel {
	z-index:6;
	margin:0 auto;
	position:absolute;
	overflow:hidden;
	background:#fff;
}
.sliderkit .sliderkit-panel-active {
	z-index:5;
}
.sliderkit .sliderkit-panel-old {
	z-index:4;
}
.photoslider-bullets {
	height:319px;
}
.sliderkit .sliderkit-panel h2 {
	left:10px;
	position:relative;
	color:#609d0c;
	font-size:20px;
	font-weight:normal;
	line-height:1.15em;
}
.sliderkit .sliderkit-panel a {
	text-decoration:none;
}
.sliderkit .sliderkit-panel a:hover {
	text-decoration:underline;
}
.sliderkit .sliderkit-panel a:active {
	text-decoration:underline;
}
.sliderkit .sliderkit-panel a:focus {
	text-decoration:underline;
}
/* NAVIGATION - thumbnails */
.photoslider-bullets .sliderkit-nav {
	width:960px;
	margin:0 auto;
	margin-top:319px;
	height:45px!important;
}
.photoslider-bullets .sliderkit-nav-clip {
	margin-left:-9px
}
.photoslider-bullets .sliderkit-nav-clip ul li {
	margin:0;
	height: 45px!important;
}
.photoslider-bullets .sliderkit-nav-clip ul li img {
	margin:0;
	width:50px;
	height:42px;
	float:left;
}
.photoslider-bullets .sliderkit-nav-clip ul li object {
	margin:0;
	width:80px;
	float:left;
	padding:8px 0 0 5px;/*padding:8px 0 0 8px;*/
	text-transform:normal;
}
.photoslider-bullets .sliderkit-nav-clip ul li a {
	padding-left:8px;
	padding-top:4px;
	width:150px; /*width:130px;*/
	height:46px!important;
	background:url(../_images/home/homepg_thumb_grey.png)/*tpa=http://www.rrdonnelley.com/_images/home/homepg_thumb_grey.png*/ no-repeat 8px 4px;
	color:#666666;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	border-left:0px solid #dddddd;
	font-size:11.25px;
	text-transform:normal;
	line-height:1.15em;
	text-decoration:none;
}
.photoslider-bullets .sliderkit-nav-clip ul li a:focus {
	outline:1px dotted #145f8d;
	width:149px; /*width:129px;*/
	height:45px!important;
}
.photoslider-bullets .sliderkit-nav-clip ul li.sliderkit-selected a {
	padding-left:8px;
	padding-top:4px;
	width:150px;/*width:130px;*/
	height:46px!important;
	font-weight:bold;
	background:url(../_images/home/homepg_thumb_blue.png)/*tpa=http://www.rrdonnelley.com/_images/home/homepg_thumb_blue.png*/ no-repeat 8px 4px;
	color:#1a94e1;
	font-size:11.25px;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	border-left:0px solid #dddddd;
	text-transform:normal;
	/*letter-spacing:-.99px;*/
}
.photoslider-bullets .sliderkit-nav-clip ul li.sliderkit-selected a:focus {
	outline:1px dotted #145f8d;
	width:149px;/*width:129px;*/
	height:45px!important;
}
.photosgallery-captions {
	width:auto;
	height:319px;
	margin-left: auto;
	margin-right: auto;
	border:0px solid #cc0000
}
/* Breadcrumbs */
.breadCrumb ul li.last a {
	color: #609D0C;
	font-weight:normal;
	text-decoration:none;
	font-weight:bold;
}
.breadCrumb ul li.last a:focus {
	text-decoration:underline;
}
.breadCrumb ul li.last {
	color: #609D0C;
	font-weight:normal;
	text-decoration:none;
	font-weight:bold
}
/* HOMEPAGE LAYOUT */
.frameset_homepg {
	padding-top:10px;
}
/* LEFT SIDE */
#homepg_leftside {
	display: table-cell;
	margin:0;
	width:295px;
	float:left;
}
#homepg_leftside_top_border {
	/*width:660px;*/
	background-image:url(../_images/home/border_top_1.png)/*tpa=http://www.rrdonnelley.com/_images/home/border_top_1.png*/;
	background-repeat:no-repeat;
	background-position:left;
}
/* RIGHT SIDE */ 
#homepg_right_frame {
	display: table-cell;
	margin:0;
	/*width:665px;*/
}
#homepg_rightside {
	display: table-cell;
	margin:0;
	/*width:660px;
	height:200px;*/
	border-bottom:0px solid #ccc;
	border-left:1px solid #ccc;
	width:335px;
}
#homepg_rightside h1 {
	font-family:Arial;
	font-size:20px;
	font-weight: bold;
	margin:8px 0 10px 25px;
	color:#0272be;
}
#homepg_rightside p {
	margin:5px 10px 10px 25px;
}

/************150th styles************/
#homepg_right150 {
	display: table-cell;
	margin:0;
	border-bottom:0px solid #ccc;
	border-left:1px solid #ccc;
	width:440px;
}
#homepg_right150 h1 {
	font-family:Arial;
	font-size:20px;
	font-weight: bold;
	margin:8px 0 10px 25px;
	color:#0272be;
}
#homepg_right150 p {
	margin:5px 10px 10px 25px;
}
/************END 150th styles************/


.homepg_rightside_divide {
	width:175px;
	background-image:url(../_images/home/border_btm_1.png)/*tpa=http://www.rrdonnelley.com/_images/home/border_btm_1.png*/;
	background-repeat:no-repeat;
	background-position:left;
}

.contact_table {
	padding:0;
	margin:0;
}
/* BOTTOM SECTION */
.homepg_btm_section_divide {
	display: table-cell;
	margin:0;
	width:500px;
	border-left:1px solid #ccc;
	padding:0px 8px 0 15px;
}
.homepg_btm_section {
	display: table-cell;
	margin:0;
	width:500px;
	border-left:1px solid #ccc;
	padding:0px 8px 0 15px;
}
.homepg_btm_section p {
	padding:0px 8px 0px 7px;
	/*margin-top:-8px;*/
}
.demo1 {
	float:left;
	z-index:2999;
}
/* JQUERY - NEWS TABS */
#scroller-body {
	width:277px;
	padding:0 18px 10px 0;
}
#scroller-body h3 {
	color:#0272be;
}
#scroller-header {
	width:260px;/*width:270px;*/
	height:30px;
	padding:20px 0 0 15px;
	font-weight:700;
	border-bottom:2px solid #999;
	background-image:url(../_images/home/border_top.png)/*tpa=http://www.rrdonnelley.com/_images/home/border_top.png*/ no-repeat 0 10px;
}
#scroller-header a {
	background-image:url(../_images/home/background_tab.png)/*tpa=http://www.rrdonnelley.com/_images/home/background_tab.png*/;
	
	position:relative;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-radius: 10px 10px 0 0;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	padding-left:17px;
	padding-right:17px;
	padding-top:5px;
	text-decoration:none;
	color:#fff;
	font-weight:700;
}
#scroller-header a:hover, #scroller-header a:focus {
	background-image:url(../_images/home/background_tab_active.png)/*tpa=http://www.rrdonnelley.com/_images/home/background_tab_active.png*/;
	
	/*width:89px;*/
	height:43px;
	position:relative;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-radius: 10px 10px 0 0;
	border-top:1px solid #1a94e1;
	border-right:1px solid #1a94e1;
	border-left:1px solid #1a94e1;
	padding-left:17px;
	padding-right:17px;
	padding-top:3px;
	text-decoration:underline;
	color:#fff;
	font-weight:700;
}
#scroller-header a.selected {
	background-image:url(../_images/home/background_tab_active.png)/*tpa=http://www.rrdonnelley.com/_images/home/background_tab_active.png*/;
	
	/*width:89px!important;*/
	height:43px!important;
	position:relative;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-radius: 10px 10px 0 0;
	border-top:1px solid #1a94e1!important;
	border-right:1px solid #1a94e1!important;
	border-left:1px solid #1a94e1!important;
	padding-left:17px;
	padding-right:17px;
	padding-top:3px;
!important;
	text-decoration:underline!important;
	color:#fff!important;
	font-weight:700!important;
}

#mask {
	overflow:hidden;
	margin:0 auto;
}
#panel {
}
#panel div {
	float:left;
}
#panel ul {
	list-style:none;
	margin:0 5px;
	padding:0;
}
#panel ul li.last {
	border-bottom:none!important;
}
#panel ul li a {
	color:#145F8D;;
	text-decoration:none;
}
#panel ul li a:hover {
	color:#666;
	text-decoration:underline;
}
#panel ul li a:focus {
	color:#666;
	text-decoration:underline;
}
#panel-1, #panel-2, #panel-3 {}
#panel-1a, #panel-2a, #panel-3a {}
#panel-1b, #panel-2b, #panel-3b {}
.page-break  { display: none; }

#scroller-frameset_col2{
width:530px;margin: 0 auto;position:relative;padding:0;
}
#scroller-frameset_col3{
width:730px;margin: 0 auto;position:relative;padding:0;
}

/* JQUERY ANIMATION - ADS */
.ic_container {
	vertical-align:baseline;
	margin:10px;
	position:relative;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	-moz-box-shadow: 0 1px 3px #888;
	-webkit-box-shadow: 0 1px 3px #888;
}
.overlay {
	-ms-filter: alpha(opacity=60);
	-ms-opacity:0.6;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	opacity:0.6;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	cursor:pointer;
	display:none;
}
.ic_caption {
	position:absolute;
	-ms-filter: alpha(opacity=60);
	-ms-opacity:0.6;
	overflow:hidden;
	margin:0px;
	padding:0px;
	left:0px;
	right:0px;
	cursor:default;
	opacity:0.9;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	cursor:pointer;
}
.ic_category {
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:3px;
	padding:5px;
	margin:0px;
	cursor:pointer;
}
.ic_caption h3 {
	padding:2px 5px 2px 5px;
	margin:0px;
	font-size:14px;
	font-weight:600;
	line-height:1.2em;
	text-transform:none;
	color:#609d0c;
}
.ic_text {
	padding:5px;
	margin:0px;
	text-align:left;
	font-size:12px;
	line-height:1.25em;
}
.plus_circle {
	background: url(../_images/cta/plus_circle.png)/*tpa=http://www.rrdonnelley.com/_images/cta/plus_circle.png*/ no-repeat 98% 0;
	z-index:7;
}
.plus_circle_white {
	background: url(../_images/cta/plus_circle_white.png)/*tpa=http://www.rrdonnelley.com/_images/cta/plus_circle_white.png*/ no-repeat 98% -1px;
}
/* BUTTONS */
/* CTA BUTTONS */
.button {
	text-transform: uppercase;
	clear:both;
	display:block;
	float:right;
	font-weight:600;
	padding:7px 50px 7px 20px;
	margin:0 -7px 0 0;
	text-decoration:none;
	font-family: Arial, Tahoma, sans-serif;
	font-size:14px;
	line-height:14px;
	text-align:center;
	color:#fff;
	cursor:pointer;
	border:1px solid #0272be;
	background: #0272be url(../_images/cta/cta_arrow_rov2.png)/*tpa=http://www.rrdonnelley.com/_images/cta/cta_arrow_rov2.png*/ no-repeat 165px 5px; /* for non-css3 browsers */
	/*background: url(../_images/cta/cta_arrow_rov2.png) no-repeat 165px 5px, -webkit-gradient(linear, left top, left bottom, from(#1a94e1), to(#0272be));
	background: url(../_images/cta/cta_arrow_rov2.png) no-repeat  165px 5px, -moz-linear-gradient(top, #1a94e1, #0272be);*/
	-webkit-border-radius: 20px 20px;
	-moz-border-radius: 20px 20px;
	border-radius: 20px 20px;
}
.button:hover {
	text-decoration:underline;
}
a.button2 {
	text-transform: uppercase;
	color:#FFFFFF;
	clear:both;
	display:block;
	float:right;
	font-weight:400;
	padding:8px 40px 8px 20px;
	margin:0;
	text-decoration:none;
	font-family: Arial;
	font-size:14px;
	line-height:15px;
	text-align:center;
	cursor:pointer;
	background:#145f8d url(../_images/cta/cta_arrow_rov.png)/*tpa=http://www.rrdonnelley.com/_images/cta/cta_arrow_rov.png*/ no-repeat 115px 6px;
	-webkit-border-radius: 10px 10px;
	-moz-border-radius: 10px 10px;
	border-radius: 10px 10px;
}
a.button2 span {
	color:#FFFFFF;
}
a.button2:hover {
	color:#FFFFFF;
	background:#145f8d url(../_images/cta/cta_arrow_rov.png)/*tpa=http://www.rrdonnelley.com/_images/cta/cta_arrow_rov.png*/ no-repeat 115px 6px;
	text-decoration:underline;
}
/* HOME PAGE */
a.button3 {
	background: transparent url(../_images/cta/bg_button_cta.png)/*tpa=http://www.rrdonnelley.com/_images/cta/bg_button_cta.png*/ no-repeat scroll top right;
	display: block;
	float: left;
	height: 30px;
	margin-right: 6px;
	padding-right: 38px;
	color: #fff;
	font-size:14px;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
}
a.button3:hover {
	text-decoration: underline;
	cursor:pointer;
}
a.button3 span {
	font-family:Verdana, Geneva, sans-serif;
	cursor:pointer;
	font-weight:bold;
	text-decoration: none;
	color: #fff;
	background: transparent url(../_images/cta/bg_button_span_cta.png)/*tpa=http://www.rrdonnelley.com/_images/cta/bg_button_span_cta.png*/ no-repeat;
	display: block;
	line-height: 18px;
	padding: 7px 5px 5px 25px;
}
a.button3:hover span {
	text-decoration:underline;
}
/* The next button were created for a Variation Page for A/B testing. The first one is nicer but doesn't work in IE, so the 2nd one was created: www.rrdonnelley.com/print-solutions/labels/healthcare-labels/equipment-labels-and-tags2.aspx */

.ctabuttonie {
	padding: 40px 0;
	text-align: center;
	width: 170px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: #666 0px 2px 5px;
	-moz-box-shadow: #666 0px 2px 5px;
	box-shadow: #666 0px 2px 5px;
	background: #F1A626;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F1A626), to(#ff6e01));
	background: -webkit-linear-gradient(#F1A626, #ff6e01);
	background: -moz-linear-gradient(#F1A626, #ff6e01);
	background: -ms-linear-gradient(#F1A626, #ff6e01);
	background: -o-linear-gradient(#F1A626, #ff6e01);
	background: linear-gradient(#F1A626, #ff6e01);
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;	
	color:#ffffff!important; 
	font-family:Arial!important;
	font-size:16px!important;
	font-style:normal!important;
	height:auto!important;
	line-height:18px!important;
	text-decoration:none!important;
	text-align:center!important;
	text-shadow:1px 1px 0px #cc9f52;
	padding:7px 2px 8px 3px;	
}
.ctabuttonie:hover {
	border:1px solid #eeb44f;
	background-color:#F1A626;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff6e01), to(#F1A626));
	background: -webkit-linear-gradient(#ff6e01, #F1A626);
	background: -moz-linear-gradient(#ff6e01, #F1A626);
	background: -ms-linear-gradient(#ff6e01, #F1A626);
	background: -o-linear-gradient(#ff6e01, #F1A626);
	background: linear-gradient(#ff6e01, #F1A626);
}
.ctabuttonie:active {
	position:relative;
	top:1px;
}

/* END - buttons .ctabuttonie (for IE specifically) */

/* HOMEPAGE BTM BUTTON */
a.button4 {
	background: transparent url(../_images/cta/bg_button_cta_blue.png)/*tpa=http://www.rrdonnelley.com/_images/cta/bg_button_cta_blue.png*/ no-repeat scroll top right;
	display: block;
	float: left;
	height: 30px;
	margin-right: 6px;
	padding-right: 38px;
	color: #fff;
	font-size:14px;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
}
a.button4:hover {
	text-decoration: underline;
	cursor:pointer;
}
a.button4:focus {
	color:#fff;
	text-decoration: underline;
	cursor:pointer;
}
a.button4 span {
	font-family:Verdana, Geneva, sans-serif;
	cursor:pointer;
	font-weight:bold;
	text-decoration: none;
	color: #fff;
	background: transparent url(../_images/cta/bg_button_span_cta_blue.png)/*tpa=http://www.rrdonnelley.com/_images/cta/bg_button_span_cta_blue.png*/ no-repeat;
	display: block;
	line-height: 18px;
	padding: 7px 5px 5px 25px;
}
a.button4:hover span {
	text-decoration:underline;
	cursor:pointer;
}

a.button150th {
	margin-top:20px;
	color: #c6cc46 !important;
	border-top: 4px solid #c6cc46 !important;
	display:block !important;
	width: 210px !important;
	text-transform:uppercase !important;
	font-size:22px !important;
	font-weight:bold !important;
	text-decoration: none !important;
	cursor:pointer !important;
}
a.button150th:hover {
	color: #ff9439 !important;
	border-top: 4px solid #ff9439 !important;
	cursor:pointer !important;
}

/* HOMEPAGE BANNER CTA BUTTON */
a.button5 {
	background: transparent url(../_images/cta/bg_button_cta_green.png)/*tpa=http://www.rrdonnelley.com/_images/cta/bg_button_cta_green.png*/ no-repeat scroll top right;
	display: block;
	float: left;
	height: 37px;
	margin-right: 6px;
	padding-right: 45px;
	color: #fff;
	font-size:19px;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
}
a.button5:hover {
	text-decoration: underline;
	cursor:pointer;
}
a.button5 span {
	font-family:Arial;
	cursor:pointer;
	font-weight:bold;
	text-decoration: none;
	color: #fff;
	background: transparent url(../_images/cta/bg_button_span_cta_green.png)/*tpa=http://www.rrdonnelley.com/_images/cta/bg_button_span_cta_green.png*/ no-repeat;
	display: block;
	line-height: 24px;
	padding: 7px 35px 7px 30px;
}
a.button5:hover span {
	text-decoration:underline;
	cursor:pointer;
}
a.button5:focus span {
	text-decoration:underline;
}
/* EXPAND/COLLAPSE PANELS */
* {
	margin:0;
	padding:0
}
h6 a, h7 a {
	font-weight:700;
	padding:3px 10px
}
h6, h7 {
	font-size:1em;
	font-weight:700;
}
#mainLoc h2 {
	background-color:#fff
}
#mainLoc {
	position:relative;
	min-height:0
}
.js #mainLoc .accordion {
	visibility:hidden
}
.accordion {
	margin:0;
	padding:0;
}
.accordion li {
	list-style-type:none
}
.accordion li.last-child {
	margin-left:19px;
	list-style-type:disc
}
.accordion .outer {
}
.accordion .inner {
	margin-bottom:0px;
	position:relative;
	overflow:hidden
}
.accordion .inner .inner {
	padding-bottom:0;
}
.accordion .h {
	/*padding-top:.3em*/
}
.accordion p {
	margin:0
}
.accordion .spacing{
	margin-top:10px
}
a.trigger {
	padding:0 20px 0 20px;
	background-image: url(../_images/frameset/plus.jpg)/*tpa=http://www.rrdonnelley.com/_images/frameset/plus.jpg*/;
	background-repeat: no-repeat;
	background-position: 4px 50%;
	font-weight:700
}
a.trigger.open {
	background-image: url(../_images/frameset/minus.jpg)/*tpa=http://www.rrdonnelley.com/_images/frameset/minus.jpg*/
}
.last-child a.trigger {
	padding-left:1px;
	background-image:none;
	font-weight:700
}
#mainLoc a.trigger {
	background-color:#f0f0f0
}
#mainLoc a.trigger.open {
	background-color:#e7e7e7
}
#mainLoc a:hover.trigger.open, #mainLoc a:focus.trigger.open, #mainLoc a:active.trigger.open {
	border-color:#bcd
}
/* MISC */
hr {
	border:1px solid #76b4e3;
	margin-bottom:10px;
}
.locations_table {
	margin:0;
	padding:0;
}
.locations_container {
	display: table;
	width: 100%;
}
.locations_row {
	display: table-row;
}
.locations_col {
	display: table-cell;
}
.investors{
	border:1px dotted #666;
	background:#ccc;
	margin-left:5px;
	margin-top:5px;
	margin-right:22px;
	padding:5px 10px 6px 10px; 
	border-radius:10px;
}
/* SLIDE OUT AD */
.slide-out-div {
	padding: 10px 20px;
	width: 200px;
	background: #f2f2f2;
	border: 2px solid #5f9d0c;
}
.slide-out-div p {
	line-height:1.2em;
	color:#666666;
	font-size:16px;
}
.slide-out-div h1 {
	line-height:1.2em;
	color:#000;
	font-size:16px;
	font-weight:bold;
}
.slide-out-div a:link {
	line-height:1.2em;
	color:#5f9d0c;
	font-size:16px;
	text-decoration:none;
}
.slide-out-div a:hover, .slide-out-div a:focus, .slide-out-div a:visited {
	line-height:1.2em;
	color:#5f9d0c;
	font-size:16px;
	text-decoration:underline;
}
/* FOOTER */
.f_row {
	background-color:#5f9d0c;
	margin-top:300px;
	height:50px;
}
#footer_row_bg {
	background:#609d0c;
}

#copyright{
	text-align:center;
	color:#060;
	padding:5px;
	padding-top:10px;
	line-height:+1.25
}

/* BUTTONS - bigger - word continue */
.button_c {
	text-transform: uppercase;
	clear:both;
	display:block;
	float:right;
	font-weight:600;
	padding:7px 40px 7px 20px;
	margin:0 -7px 0 0;
	text-decoration:none;
	font-family: Arial, Tahoma, sans-serif;
	font-size:14px;
	line-height:14px;
	text-align:center;
	color:#fff;
	cursor:pointer;
	border:1px solid #0272be;
	background: #0272be url(../_images/cta/cta_arrow_rov2.png)/*tpa=http://www.rrdonnelley.com/_images/cta/cta_arrow_rov2.png*/ no-repeat 85px 5px; /* for non-css3 browsers */
	/*background: url(../_images/cta/cta_arrow_rov2.png) no-repeat 105px 5px, -webkit-gradient(linear, left top, left bottom, from(#1a94e1), to(#0272be));
	background: url(../_images/cta/cta_arrow_rov2.png) no-repeat 105px 5px, -moz-linear-gradient(top, #1a94e1, #0272be);*/
	-webkit-border-radius: 20px 20px;
	-moz-border-radius: 20px 20px;
	border-radius: 20px 20px;
}
.button_c:hover {
	text-decoration:underline;
}


/* BUTTONS - CONTACT US PAGE */
.button_a {
	text-transform: uppercase;
	clear:both;
	display:block;
	float:right;
	font-weight:600;
	padding:7px 40px 7px 20px;
	margin:0 -7px 0 0;
	text-decoration:none;
	font-family: Arial, Tahoma, sans-serif;
	font-size:14px;
	line-height:14px;
	text-align:center;
	color:#fff;
	cursor:pointer;
	border:1px solid #0272be;
	background: #0272be url(../_images/cta/cta_arrow_rov2.png)/*tpa=http://www.rrdonnelley.com/_images/cta/cta_arrow_rov2.png*/ no-repeat 85px 5px; /* for non-css3 browsers */
	/*background: url(../_images/cta/cta_arrow_rov2.png) no-repeat 85px 5px, -webkit-gradient(linear, left top, left bottom, from(#1a94e1), to(#0272be));
	background: url(../_images/cta/cta_arrow_rov2.png) no-repeat 85px 5px, -moz-linear-gradient(top, #1a94e1, #0272be);*/
	-webkit-border-radius: 20px 20px;
	-moz-border-radius: 20px 20px;
	border-radius: 20px 20px;
}
.button_a:hover {
	text-decoration:underline;
}
/* Smaller buttons - ie:send */
.button_b {
	text-transform: uppercase;
	clear:both;
	display:block;
	float:right;
	font-weight:600;
	padding:7px 40px 7px 20px;
	margin:0 -7px 0 0;
	text-decoration:none;
	font-family: Arial, Tahoma, sans-serif;
	font-size:14px;
	line-height:14px;
	text-align:center;
	color:#fff;
	cursor:pointer;
	border:1px solid #0272be;
	background: #0272be url(../_images/cta/cta_arrow_rov2.png)/*tpa=http://www.rrdonnelley.com/_images/cta/cta_arrow_rov2.png*/ no-repeat 78px 5px; /* for non-css3 browsers */
	/*background: url(../_images/cta/cta_arrow_rov2.png) no-repeat 78px 5px, -webkit-gradient(linear, left top, left bottom, from(#1a94e1), to(#0272be));
	background: url(../_images/cta/cta_arrow_rov2.png) no-repeat 78px 5px, -moz-linear-gradient(top, #1a94e1, #0272be);*/
	-webkit-border-radius: 20px 20px;
	-moz-border-radius: 20px 20px;
	border-radius: 20px 20px;
}
.button_b:hover {
	text-decoration:underline;
}

.button_d {
	text-transform: uppercase;
	clear:both;
	display:block;
	float:right;
	font-weight:600;
	padding:7px 40px 7px 20px;
	margin:0 -7px 0 0;
	text-decoration:none;
	font-family: Arial, Tahoma, sans-serif;
	font-size:14px;
	line-height:14px;
	text-align:center;
	color:#fff;
	cursor:pointer;
	border:1px solid #0272be;
	background: #0272be url(../_images/cta/cta_arrow_rov2.png)/*tpa=http://www.rrdonnelley.com/_images/cta/cta_arrow_rov2.png*/ no-repeat 74px 5px; /* for non-css3 browsers */
	/*background: url(../_images/cta/cta_arrow_rov2.png) no-repeat 78px 5px, -webkit-gradient(linear, left top, left bottom, from(#1a94e1), to(#0272be));
	background: url(../_images/cta/cta_arrow_rov2.png) no-repeat 78px 5px, -moz-linear-gradient(top, #1a94e1, #0272be);*/
	-webkit-border-radius: 20px 20px;
	-moz-border-radius: 20px 20px;
	border-radius: 20px 20px;
}
.button_d:hover {
	text-decoration:underline;
}

.button_calculate {
	text-transform: uppercase;
	clear:both;
	display:block;
	float:right;
	font-weight:600;
	padding:7px 40px 7px 20px;
	margin:0 -7px 0 0;
	text-decoration:none;
	font-family: Arial, Tahoma, sans-serif;
	font-size:14px;
	line-height:14px;
	text-align:center;
	color:#fff;
	cursor:pointer;
	border:1px solid #0272be;
	background: #0272be url(../_images/cta/cta_arrow_rov2.png)/*tpa=http://www.rrdonnelley.com/_images/cta/cta_arrow_rov2.png*/ no-repeat 115px 5px; /* for non-css3 browsers */
	/*background: url(../_images/cta/cta_arrow_rov2.png) no-repeat 115px 5px, -webkit-gradient(linear, left top, left bottom, from(#1a94e1), to(#0272be));
	background: url(../_images/cta/cta_arrow_rov2.png) no-repeat 115px 5px, -moz-linear-gradient(top, #1a94e1, #0272be);*/
	-webkit-border-radius: 20px 20px;
	-moz-border-radius: 20px 20px;
	border-radius: 20px 20px;
}

.button_calculate:hover {
	text-decoration:underline;
}

/* Arrows - Webform */
.left_arrow_btn {
	cursor:pointer;
	background-color:transparent;
	border:1px solid transparent;
	background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/left_arrow.png*/ no-repeat -1px 0px;
	width:40px;
	height:30px;
}
.right_arrow_btn {
	cursor:pointer;
	background-color:transparent;
	border:1px solid transparent;
	background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/rt_arrow.png*/ no-repeat -1px 0px;
	width:40px;
	height:30px;
}
/* STEPS for Webform */
/* 3 STEPS */
#step3list{position:relative;}
#step3list li{margin:0;padding:0;list-style:none;}
#step3list li, #step3list a{width:530px; height:40px;display:block; overflow:hidden;}

.step3_on{font-family:Arial, Helvetica, sans-serif;color:#fff;font-weight:bold;text-transform:uppercase;line-height:1em;padding:6px 0px 0px 40px; font-size:12px;}

.step3_off{font-family:Arial, Helvetica, sans-serif;color:#000;font-weight:bold;text-transform:uppercase;line-height:1em;padding:6px 0px 0px 40px; font-size:12px;}

.step3_1{
height:40px;
width:530px;
background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/sprite_3steps.png*/ -1px 0px no-repeat;}

.step3_2{
height:40px;
width:530px;
background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/sprite_3steps.png*/ -1px -40px no-repeat;
}

.step3_3{
height:40px;
width:530px;
background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/sprite_3steps.png*/ -1px -80px no-repeat;
}

/* 4 STEPS */
#step4list{position:relative;}
#step4list li{margin:0;padding:0;list-style:none;}
#step4list li, #step4list a{width:600px; height:40px;display:block; overflow:hidden;}

.step4_on{font-family:Arial, Helvetica, sans-serif;color:#fff; font-weight:bold;text-transform:uppercase;line-height:1em;padding:6px 0px 0px 45px; font-size:12px;}

.step4_off{font-family:Arial, Helvetica, sans-serif;color:#000; font-weight:bold;text-transform:uppercase;line-height:1em;padding:6px 0px 0px 45px; font-size:12px;}

.step4_1{
height:40px;
width:600px;
background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/sprite_4steps.png*/ -1px 0px no-repeat;}

.step4_2{
height:40px;
width:600px;
background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/sprite_4steps.png*/ -1px -40px no-repeat;
}

.step4_3{
height:40px;
width:600px;
background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/sprite_4steps.png*/ -1px -80px no-repeat;
}

.step4_4{
height:40px;
width:600px;
background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/sprite_4steps.png*/ -1px -120px no-repeat;
}

/* 5 STEPS */
#step5list{position:relative;}
#step5list li{margin:0;padding:0;list-style:none;}
#step5list li, #step5list a{width:740px; height:40px;display:block; overflow:hidden;}

.step5_on{font-family:Arial, Helvetica, sans-serif;color:#fff; font-weight:bold;text-transform:uppercase;line-height:1em;padding:6px 0px 0px 45px; font-size:12px;}

.step5_off{font-family:Arial, Helvetica, sans-serif;color:#000; font-weight:bold;text-transform:uppercase;line-height:1em;padding:6px 0px 0px 45px; font-size:12px;}

.step5_1{
height:40px;
width:740px;
background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/sprite_5steps.png*/ -1px 0px no-repeat;}

.step5_2{
height:40px;
width:740px;
background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/sprite_5steps.png*/ -1px -40px no-repeat;
}

.step5_3{
height:40px;
width:740px;
background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/sprite_5steps.png*/ -1px -80px no-repeat;
}

.step5_4{
height:40px;
width:740px;
background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/sprite_5steps.png*/ -1px -120px no-repeat;
}

.step5_5{
height:40px;
width:740px;
background:url(Unknown_83_filename)/*tpa=http://www.rrdonnelley.com/_images/icons/sprite_5steps.png*/ -1px -160px no-repeat;
}

/* opacity - dropdown menu */
.opacity {
	margin:0;
	font-size:11px;
	font-family:Arial;
	border:0px solid #ccc;
	outline:none;
	background-color:transparent;
	filter:alpha(opacity=60);
	opacity:0.6;
	color:#000;
	width:160px;
}
/* FAQs */
dl {
	font-size:13px;
	margin-bottom:10px
}
dl, dt, dd {
	padding:0;
	margin:0;
}
.faqs {
	padding-top:10px;
	width:530px;
}
.faqs title {
	font-size:15px
}
.faqs dt {
	color:#145F8D;
	font-weight:bold;
	background:url(../_images/icons/question.png)/*tpa=http://www.rrdonnelley.com/_images/icons/question.png*/ 0 3px no-repeat;
	padding:3px 0 15px 28px;
	position:relative;
	font-size:14px;
}
.faqs dt a, .faqs dt a:link{text-decoration:none;color:#145F8D;}
.faqs dt a:hover {text-decoration:underline;color:#666;}
.faqs dt a:focus {text-decoration:underline;color:#666;}
.faqs dt:hover {
	cursor:pointer
}
.faqs dd {
	background:url(../_images/icons/answer.png)/*tpa=http://www.rrdonnelley.com/_images/icons/answer.png*/ 0 1px no-repeat;
	padding:0 0 10px 28px;
	position:relative;
	color:#000;
}
.faqs .hover {
	color:#666;
	text-decoration:underline
}
.faqs .focus {
	color:#666;
	text-decoration:underline
}
/* QUOTES */
#wrapper {
	/*padding-top:10px;*/
	width: 178px;
	margin: 0 auto;
}
#description {
	margin-bottom: 40px;
	padding-bottom: 10px;
}
#description p {
	margin-bottom: 10px;
}
blockquote {
	font-style:italic;
	width: 125px; /* required */
	margin: 0 auto;
	font-weight:500;
	color:#333;
}
blockquote p {
	margin-bottom: 10px;
	font-style: italic;
}
.contentquote {
	font-family: arial,san-serif;
	font-style: italic;
	line-height:1.75em;
}
blockquote cite {
	display: block;
	text-align: right;
	/*text-transform: uppercase;*/
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 1px;
}
#quote_wrap {
	background:#efefef url(../_images/home/quote-mark.png)/*tpa=http://www.rrdonnelley.com/_images/home/quote-mark.png*/ no-repeat 20px 20px;
	margin:0;
	padding: 20px;
	border: 1px solid #D2D2D2;
	/*margin-left:-8px;*/
	-moz-border-radius: 10px;
	border-radius:10px;
}
.contentquote {
	padding: 16px;
	background-color: #efefef;
	border-top: 1px solid #D2D2D2;
	border-bottom: 1px solid #D2D2D2;
	background-image: url(../_images/icons/quote-mark-margin.png)/*tpa=http://www.rrdonnelley.com/_images/icons/quote-mark-margin.png*/;
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 23px;line-height:1.75em  !important;
  }
.contentquote span {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic !important;
  	}
.fact {
	padding: 16px;
	background-color: #efefef;
	border: 1px solid #D2D2D2;
	/*background-image: url(../_images/icons/quote-mark-margin.png);
	background-position: top left;
	background-repeat: no-repeat;*/
	-moz-border-radius: 10px;
	border-radius:10px;
	
  }
.fact span {
	display: block;
	width: 95%;
	margin-top: 6px;
	margin-bottom: 5px;
	font-style: italic; !important
  	}
.quote_static {
	background:#efefef url(../_images/home/quote-mark.png)/*tpa=http://www.rrdonnelley.com/_images/home/quote-mark.png*/ no-repeat 20px 20px;
	margin:0;
	padding: 20px;
	margin-left:-3px;
	border: 1px solid #D2D2D2;
	-moz-border-radius: 10px;
	border-radius:10px;
	width:135px;
	margin: 0 auto;
  }
.quote_static span {
	display: block;
	width: 95%;
	margin-top: 6px;
	margin-bottom: 5px;
	font-style: italic; !important
	width: 125px; /* required */
	margin: 0 auto;
	font-weight:500;
	color:#333;
  	}
.quote_static cite {
	display: block;
	text-align: right;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 1px;
}
.learnmore {
	padding: 16px;
	background-color: #f1f09b;
	/*background-color: #edf4fa;*/
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align:center;
	Font-weight:bold;
  }
.learnmore span a {
	color: #457405;
  	}

/* IMAGES */
	
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 4px solid #888;
	margin:-4px;	/* Set this to minus the border thickness. */
	background-color:#fff;
	cursor:move;
}
/* This is for the title text. */
.cloud-zoom-title {
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;
	font-weight:bold;
	font-size:10px;
	top:0px;
}
/* This is the zoom window. */
.cloud-zoom-big {
	border:4px solid #ccc;
	overflow:hidden;
}
/* This is the loading message. */
.cloud-zoom-loading {
	color:white;
	background:#222;
	padding:3px;
	border:1px solid #000;
}
/* animated - slideshow banners */
div#slideshow {
	position: relative;
	display: block;
	width: 533px;
	height: 89px;
	overflow: hidden;
}
div#slideshow br {
	display: none;
}

/* zoom - images */
.zitem {
	width:125px;
	height:125px;	
	border:1px solid #ccc;	
	margin:5px 5px 5px 0;
	
	/* required to hide the image after resized */
	overflow:hidden;
	
	/* for child absolute position */
	position:relative;
	
	/* display div in line */
	float:left;
}

.zitem .caption {
	width:125px;
	height:30px;
	background:#000;
	color:#fff;
	font-weight:bold;
		
	/* fix it at the bottom */
	position:absolute;
	bottom:-1px; /* fix IE issue */
	left:0;

	/* hide it by default */
	display:none;

	/* opacity setting */
	filter:alpha(opacity=70);    /* ie  */
	-moz-opacity:0.7;    /* old mozilla browser like netscape  */
	-khtml-opacity: 0.7;    /* for really really old safari */  
	opacity: 0.7;    /* css standard, currently it works in most modern browsers like firefox,  */

}

.zitem .caption a {
	text-decoration:none;
	color:#fff;
	font-size:12px;	
	
	/* add spacing and make the whole row clickable*/
	padding:5px;
	display:block;
}

/*TOOLTIP for when wrapping around TEXT - CSS ONLY*/
a.tooltip{
    position:relative; /*this is the key*/
    z-index:24;
	/*border-bottom: dotted 1px #107fab;*/
	color:#145F8D;
	cursor: hand;
	}
a.tooltip:hover{
	z-index:25; 
	/*border-bottom: dotted 1px #ff6600;*/
	color: #666;
	}
a.tooltip span{display: none;color:#000000;}
a.tooltip:hover span{ /*the span will display just on :hover state*/
	
	display: block;
    position:absolute;
     left:8em; width:auto;
    border:1px solid #1b7cc5;
	background:#e7f5ff;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
    text-align:left;
	padding: .5em;
	font-size:11px;
	font-weight:normal;
	padding:10px;
	z-index:250000;
	}
/*NEW TOOLTIP 03/01/2013*/
#screenshot{
	position:absolute;
	border:1px solid #145f8d;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	background:#1b7cc5;
	padding:3px;
	display:none;
	color:#fff;
	}
pre{
	display:block;
	padding:10px;	
	margin:.5em 0;
	overflow:auto;
	width:800px;
}
div.panel { /*for the contact us page - description box*/
	width:270px;
	background:#edf4fa;
	border:solid 1px #5d5e62;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#5d5e62;
	text-align:center;
	padding:15px;
	position:absolute;
}

/* End-To-End Solutions Animation */
.circleBig{
    position:absolute;
    top:0px;
    left:0px;
    width:275px;
    height:275px;
}
.menu{
    position:absolute;
    width:275px;
    height:275px;
    top:0px;
    left:0px;
    /*z-index:999;*/
}
a.print, a.digital, a.supply{
    float:left;
    clear:both;
    height:275px;
    width:275px;
    text-indent:-2000000px;
    /*opacity:0.8;*/
    background:transparent url(../_images/home/menu_new.png)/*tpa=http://www.rrdonnelley.com/_images/home/menu_new.png*/ no-repeat top left;
	border:0px solid #336699;
}
a.print{
	margin-left:20px;
	margin-top:50px;
	background-position:-20px -50px;
    width:45px;
	height:78px;
	border:0px solid #000;
}
a.digital{
	margin-top:-60px;
	margin-left:178px;
    width:40px;
	height:78px;
    background-position:-180px -70px;
	border:0px solid #000;
}
a.supply{
	margin-left:35px;
	margin-top:43px;
    width:140px;
	height:45px;
    background-position:-35px -190px;
	border:0px solid #000;
}
a.print:hover, a.digital:hover, a.supply:hover{
    opacity:1.0;
}
a.print:focus, a.digital:focus, a.supply:focus{
	outline:1px dotted #145f8d;
}
.circle{
    margin-top:-28px;
    margin-left:-38px;
    width:125px;
    height:125px;
    position:absolute;
    background:transparent url(../_images/home/circle.png)/*tpa=http://www.rrdonnelley.com/_images/home/circle.png*/ no-repeat top left;
    z-index:10;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.description{
	margin-left:5px;
	margin-top:5px;
    width:100px;
    height:100px;
	padding:6px ;
    text-align:center;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    font-size:13px;
}
.description ul{
	padding-top:15px;
    list-style:none;
    text-align:center;
}
.description ul a{
    line-height:1.15em;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    font-size:13px;
	cursor:pointer;
}
.description ul a:hover{
    color:#f0f0f0;
	text-decoration:underline;
}
.description ul a:focus{
    color:#f0f0f0;
	text-decoration:underline;
}
.description li{
	text-decoration:none;
	padding-top:5px;
}
.clickable {
   cursor: pointer;
}
.clickable:hover {
	margin-left:5px;
	margin-top:5px;
	display:block;
	border-radius:60px;
	-moz-border-radius:60px;
	-webkit-border-radius:60px;
	-khtml-border-radius:60px;
	background:transparent #609D0C;
	border:0px solid #000;
}

/* MAP - POP UP */
#wrap2 {
	width: 800px;
	margin: 0 auto;
}
#mapcontainer {
	width: 600px;
	height: 320px;
}
#map_canvas {
	width: 100%;
	height: 100%;
}
/* NAV - column width */
.level2_megamenu {
	float:left;
	width:185px;
}

/* News and Events Table */
.theader{
	color: white;
	height: 25px;
	background: #3B80DE;
	font-size: 15px;
	font-weight: 600;
	padding-left: 10px;
	padding-top: 3px;
	padding-right: 8px;
	border-top: 1px #3B80DE solid;
	border-left: 1px #3B80DE solid;
	border-right: 1px #3B80DE solid;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px
	}
.tdate{display:block; width:70px; float:left; height: 20px; padding: 10px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;border-bottom-right-radius: 8px; margin-right:13px;  margin-top: 1px; margin-bottom: 5px; margin-left:1px; box-shadow: 3px 3px 5px #e3e3e3 }
.teven{display:block; border:1px solid #ccc; padding:10px;}
.teven p{ margin-top: 0px}
.todd{display:block; border-left:1px solid #ccc; border-right:1px solid #ccc; padding:10px; background-color:#efefef}
.todd p{ margin-top: 0px}	 
.tfooter {color: white;
	height: 15px;
	background: #666;
	font-size: 11px;
	font-weight: 600;
	padding-left: 10px;
	padding-top: 3px;
	padding-right: 8px;
	border-left: 1px #666 solid;
	border-right: 1px #666 solid;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;}
	
.double_border_box {border-width:3px; border-style:double; border-color:#999; padding:10px 15px 0px 15px;}

/* jquery sorting */
ul#results {margin-top:30px;list-style-type: none;}
ul#results li {margin-bottom:20px;}

/* Dropdown control */
.selectBox-dropdown {
	width: 210px; /* width = (desired width) - padding-right */
	padding-right: 40px;
	position: relative;
	border: solid 1px #BBB;
	line-height: 1.5;
	text-decoration: none;
	color: #000;
	outline: none;
	vertical-align: middle;
	background: #F2F2F2;
	background: -moz-linear-gradient(top, #F8F8F8 1%, #E1E1E1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #F8F8F8), color-stop(100%, #E1E1E1));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	cursor: default;
}

.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
	border-color: #666;
}

.selectBox-dropdown.selectBox-menuShowing {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.selectBox-dropdown .selectBox-label {
	width: 100%;
	padding: .2em .3em;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}

.selectBox-dropdown .selectBox-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 23px;
	height: 100%;
	background: url(../_images/frameset/selectBox-arrow.gif)/*tpa=http://www.rrdonnelley.com/_images/frameset/selectBox-arrow.gif*/ 50% center no-repeat;
	border-left: solid 1px #BBB;
}


/* Dropdown menu */
.selectBox-dropdown-menu {
	position: absolute;
	z-index: 99999;
	max-height: 200px;
	border: solid 1px #BBB; /* should be the same border width as .selectBox-dropdown */
	background: #FFF;
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	overflow: auto;
}


/* Inline control */
.selectBox-inline {
	width: 250px;
	outline: none;
	border: solid 1px #BBB;
	background: #FFF;
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow: auto;
}

.selectBox-inline:focus {
	border-color: #666;
}


/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
	list-style: none;
	display: block;
	cursor: default;
	padding: 0;
	margin: 0;
}

.selectBox-options LI A {
	line-height: 1.5;
	padding: 0 .5em;
	white-space: nowrap;
	overflow: hidden;
	background: 6px center no-repeat;
}

.selectBox-options LI.selectBox-hover A {
	background-color: #EEE;
}

.selectBox-options LI.selectBox-disabled A {
	color: #888;
	background-color: transparent;
}

.selectBox-options LI.selectBox-selected A {
	background-color: #C8DEF4;
}

.selectBox-options .selectBox-optgroup {
	color: #666;
	background: #EEE;
	font-weight: bold;
	line-height: 1.5;
	padding: 0 .3em;
	white-space: nowrap;
}
.multi-language {
	margin-top:-40px;
	/*padding-top:21px;*/
	padding-left:23px;
	background-image:url(../_images/frameset/multi-language_button3.png)/*tpa=http://www.rrdonnelley.com/_images/frameset/multi-language_button3.png*/;
	background-repeat:no-repeat; 
	width:160px; 
	height:50px; 
	float:right;
	text-align:center;
	line-height:2em;
	margin-right:-15px;
	text-decoration:none;
	font-size:10px;
	color:#ffffff;
}

/*NEW TOOLTIP 03/01/2013*/
#screenshot{
	position:absolute;
	border: 1px solid #1b7cc5;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	background: #e7f5ff;
	padding:8px;
	display:none;
	color:#333;
	font-size: 0.9em;
	text-align: center;		}
pre{
	display:block;
	padding:10px;	
	margin:.5em 0;
	overflow:auto;
	width:800px;
}