.hide-force
{
    display:none !important;
}

.expander{
    font-weight: bolder; 
    color: black; 
    color: black; 
}
.expandable{ 
    color: white;
}


.expanded{
    background: url(Unknown_83_filename)/*tpa=http://www.conocophillips.com/_layouts/COP/Resources/img/reduce.png*/ no-repeat;
    width: 23px;
    height: 23px;
    float: right;
}
.collapsed{
    background: url(Unknown_83_filename)/*tpa=http://www.conocophillips.com/_layouts/COP/Resources/img/expand.png*/ no-repeat;
    width: 23px;
    height: 23px;
    float: right;
}
 
.inner-wide-wrap .investor-slide, 
.inner-wide-wrap .investor-slide ul,
.inner-wide-wrap .investor-slide ul li { 
    width: 100%; 
}
.inner-wide-wrap .investor-slide ul li .inner .mask
{
/*    min-width: 100px;*/
/*    max-width: 195px;*/
/*    width: 60%;*/
}

.inner-wide-wrap .investor-slide { 
height: 100%; 
}

.inner-wide-wrap .investor-slide .controls { 
bottom: 10px; 
}

.inner-wide-wrap .investor-financialreports .learn-more a {
    margin-left: 27px;
}

.cop-right-position{
    right: 0px;    
}
.cop-left-position{
    left: 0px;
}
/**NewsRoom **/

.newsroomh2{
    line-height: 25px;
}
.newsroombody{ color: Black;}

.news-releases span.cop-news-summary{
    font-family: 'ProximaNova-Regular', arial, sans-serif;
    font-size: 14px;
    color: #646464;
}
/**START- investor images size****/
.inner-wide-wrap .investor-financialreports .preview img
{
    width: 120px;
}

.inner-wide-wrap .investor-financialreports .row-fluid+.row-fluid .preview {
    width: auto;
}
.inner-wide-wrap .investor-financialreports .preview img {
    max-width: 130px;
    max-height: 160px;
    width: 110px;
    height: auto;
}

.investor-financialreports div.span7.detail{
   width: 105px;
}
    
.investor-financialreports div[id*=Repeater]{
    width: auto;
}


.inner-wide-wrap .investor-confcalls,
.inner-wide-wrap .investor-financialreports {
    height: 375px;
}

.inner-wide-wrap .investor-confcalls .row-fluid { 
    padding: 15px 0;
    line-height: 30px;
}
/**END - investor images size**/

/**START: COLLAPSIBLE TABLE***/
 .cop-collapsible-table
{ 
}
.cop-collapsible-header-static
{ 
} 
.cop-collapsible-header
{  
}
.cop-collapsible-header th,
.cop-collapsible-header td
{  
    position: relative;
}
 
.cop-{
    float:right; font-weight: bold; font-size: 15px; font-family: cursive; 
}
.cop-triangle-red
{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #e32020 transparent transparent transparent;
}    
.cop-triangle-right
{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent #e32020;
}

.cop-triangle-bottom{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #e32020 transparent transparent transparent;
}
.cop-triangle-right-gray{ border-color: transparent transparent transparent #221E1F; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-gray{ border-color: #221E1F transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}
.cop-triangle-right-red{ border-color: transparent transparent transparent #C32032; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-red{ border-color: #C32032 transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}
.cop-triangle-right-white{ border-color: transparent transparent transparent #ffffff; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-white{ border-color: #ffffff transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}

.cop-triangle-right-DarkGray{ border-color: transparent transparent transparent #5c6670; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-DarkGray{ border-color: #5c6670 transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}
.cop-triangle-right-MediumGray{ border-color: transparent transparent transparent #a4a9ad; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-MediumGray{ border-color: #a4a9ad transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}
.cop-triangle-right-LightGray{ border-color: transparent transparent transparent #d1d3d3; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-LightGray{ border-color: #d1d3d3 transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}
.cop-triangle-right-DarkRed{ border-color: transparent transparent transparent #9d162e; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-DarkRed{ border-color: #9d162e transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}
.cop-triangle-right-Purple{ border-color: transparent transparent transparent #662e6b; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-Purple{ border-color: #662e6b transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}
.cop-triangle-right-Orange{ border-color: transparent transparent transparent #ef7622; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-Orange{ border-color: #ef7622 transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}
.cop-triangle-right-Yellow{ border-color: transparent transparent transparent #ffc700; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-Yellow{ border-color: #ffc700 transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}
.cop-triangle-right-DarkBlue{ border-color: transparent transparent transparent #005487; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-DarkBlue{ border-color: #005487 transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}
.cop-triangle-right-lightblue{ border-color: transparent transparent transparent #009bde; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-lightblue{ border-color: #009bde transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}
.cop-triangle-right-DarkGreen{ border-color: transparent transparent transparent #026937; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-DarkGreen{ border-color: #026937 transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}
.cop-triangle-right-LightGreen{ border-color: transparent transparent transparent #63a70a; border-width: 7.5px 0 7.5px 10px;}
.cop-triangle-bottom-LightGreen{ border-color: #63a70a transparent transparent transparent; border-width: 10px 7.5px 0 7.5px;}
                                                                                                                                                                                                                                                                                        

 
.cop-expander-object
{
        width: 0px;
    height: 0px;
    border-style: solid;
    float:right; font-weight: bold; font-size: 15px; font-family: cursive; 
}

.cop-center-container{
    display: table;
    width: 20px;
    height: 20px; 
    position: absolute;
    margin: auto;
    top: 50%;
    margin-top: -5px;
    margin-right: 0px;
    right: 10px;
}
.cop-center-box{position:relative;}
/**END: COLLAPSIBLE TABLE***/

/**START: Download feature button***/
.download-as-pdf-button
{
    color: #646464;
    width: auto;
    background-color: transparent;
    border: none;
    
    padding: 0px 15px;
    border: 1px solid #ccc;
    font-family: ProximaNova-Semibold,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin-left: 5px;
    height: 26px;
    margin-top: -3px;    
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    -ms-transition: .25s ease-out;
    transition: .25s ease-out;
}
.download-as-pdf-button:hover
{
    text-decoration: underline;
    background-color: #f9f8f8;

    border: 1px solid #aeaeae;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.25);
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    background-color: #f9f8f8;
    text-shadow: 0 1px 1px #fff;
	
}
/**END: Download feature button***/

/**START: Best Bets***/
.srch-BB-Result > .srch-Title
{
    display: block;
}
.srch-BB-Result .srch-BB-URL2,
.srch-BB-Result .srch-BBTitle a
{
    color: #f00000 !important;
}
.srch-BB-Result > .srch-BB-Description2
{
    color: #2e2e2e;
}
.srch-BB-Result > .srch-BB-Description2,
.srch-BB-Result > .srch-BB-URL3 {
	display: inline;
}
.srch-BB-Result .srch-BB-URL2{
    font-size: 12px;
    font-family: ProximaNova-Bold,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.srch-BB-Result a.go {
    font-size: 12px;
    font-family: ProximaNova-Bold,'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    color: #f00000; 
    text-decoration: none;
    width: 30px;
    -webkit-transition: .2s cubic-bezier(0.48,.07,.52,.9);
    -moz-transition: .2s cubic-bezier(0.48,.07,.52,.9);
    -o-transition: .2s cubic-bezier(0.48,.07,.52,.9);
    -ms-transition: .2s cubic-bezier(0.48,.07,.52,.9);
    transition: .2s cubic-bezier(0.48,.07,.52,.9);
}
.srch-BB-Result a.go i {
    width: 6px;
}

.result p {word-break:break-all; }
.srch-BB-Result .srch-BB-Description2
{
    display: inherit;
    width: 550px;
}
div.srch-BB-Result {
    padding-left: 16px;
}


/**END: Best Bets***/
/***Start: Styling for checkboxes on Request report form***/

.checkboxStyle label{
	font-family: ProximaNova-Semibold,'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #2e2e2e;
    display:inline;
    padding-left: 5px !important;
    padding-top: 5px;
}

/***END: Styling for checkboxes on Request report form***/

/***START: Styling for Pull Quote Play button***/
.feature .play {
    display: none;
    width: 64px;
    height: 63px;
    display: block;
    position: absolute;
    z-index: 5;
    bottom: 30px;
    right: 10px;
    background: url(../img/pods/Video-playbutton_template.png)/*tpa=http://www.conocophillips.com/_layouts/COP/Resources/img/pods/Video-playbutton_template.png*/ no-repeat center center;
    background-size: 64px 63px;
}
/***END: Styling for Pull Quote Play button***/
/*START: Publish dialog box*/
/*.ms-dlgContent, ms-dlgBorder
{
    min-height: 255px;	
}
.ms-dlgFrameContainer {
	min-height: 230px;	
}*/
/*END: Publish dialog box*/

@media print 
{
    tr, img {
        page-break-inside: auto;
        page-break-after: auto;
        page-break-before: auto;
    }
}


#worldwideSelector .map-container .dot.corp {
  top: 273px;
    left: 271px
}

#worldwideSelector .map-container .detail.corp {
    top: 279px;
    left: 15px;
}

.download-frame
{
    visibility: :hidden;
}
 
.current-page
{
    font-size: 1.1em;
    background: url("../../../images/selbg.png")/*tpa=http://www.conocophillips.com/_layouts/images/selbg.png*/ repeat-x left top;
    font-weight: normal;
    background-color: #f00000;
    border: 1px solid #8f1a20;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.35);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    padding: 4px 7.5px 2px;
}

/*******START: EDIT MODE********/
.edit-metadata{ display: none;}
.edit-description{ height: 45px; width: 97%;}
/*******END: EDIT MODE********/



/*** START: INVESTOR RELATIONS ***/


.ir-event-date,
.ir-event-title,
.ir-event-datetitle,
.ir-event-newsrelease,
.ir-event-webcast,
.ir-event-slides,
.ir-event-transcript,
.ir-event-supplemental{ min-width:20px;  display:table-cell; border: 1px solid; font-size: 12px;text-align: center;  vertical-align: middle; }
.ir-event-item-container:not(.ir-event-header) span{ text-decoration: none; }
.ir-event-container { width: 100%;}

.ir-event-newsrelease,
.ir-event-webcast,
.ir-event-slides,
.ir-event-transcript{ width:60px; max-width:150px;}

.ir-event-header { background: black; color: White; border-top: 2px solid black;}

.table-right-border{ border-right-color: black;}
.table-left-border{ border-left-color: black;}

.ir-event-header .ir-event-date { border-left-color: black;} 
.ir-event-header .ir-event-supplemental{ border-right-color: black;} 
.ir-event-header span{ text-decoration: none;}
.ir-event-item { padding: 10px;  word-wrap: break-word;  }
.ir-event-item-container { display:table-row; min-height: 60px; height: 73px;}
.ir-event-container { display:table;}
.ir-icon-display { margin:auto; }

.no-top-boder { border-top: none;  }
.no-bottom-boder { border-bottom: none;}

.no-horizontal-boder {border-top: none; border-bottom: none;}

.no-vertical-boder {border-left: none; border-right: none;}

.no-left-border{ border-left: none;}
.no-right-border{ border-right: none;}

/******** END: EDIT MODE *********/

/******** START: Social YouTube ****/
#footer .container .redcopy
{
    width: 58% !important;
}
#footer .container .social a.youtube {
background-position: -109px 50%;
}
#footer .container .social
{
    width: 126px !important;
}
/********END: Social YouTube ****/
#worldwideSelector .map-container .dot.colombia {
  top: 363px;
  left: 305px;
}

#worldwideSelector .map-container .detail.colombia {
  top: 369px;
  left: 50px;
}