.top-navigation-area
{
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	background-image:url(../Images/main_nav_bg_img.jpg)/*tpa=http://www.entergy.com/Global/Images/main_nav_bg_img.jpg*/;
}

.top-navigation-area a, .top-navigation-area a:visited, .top-navigation-area a:hover 
{
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
	background-color: Transparent;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
}

.top-navigation-area td
{
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 0px 5px 0px;
	text-align:center;
	vertical-align:middle;
}

.top-navigation-juris-area
{
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
	background-color: #3e7eb9;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	background-image:url(../Images/main_nav_bg_img.jpg)/*tpa=http://www.entergy.com/Global/Images/main_nav_bg_img.jpg*/;
}

.top-navigation-juris-area a, .top-navigation-juris-area a:visited, .top-navigation-juris-area a:hover 
{
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
	background-color: Transparent;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
}

.top-navigation-juris-area td
{
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	padding: 0px 0px 5px 0px;
	text-align:center;
	vertical-align:middle;
}

#left-navigation
{
	padding: 0px 0px 0px 20px;
}

#left-navigation-menu
{
    background-image: url(../images/interior_left_nav_bottom_bg_image.jpg)/*tpa=http://www.entergy.com/Global/images/interior_left_nav_bottom_bg_image.jpg*/;
    background-repeat: no-repeat;
	padding: 0px 10px 0px 10px;
}

#left-navigation-menu table
{
	width: 212px;
}

#left-navigation span
{
	padding-left:10px;
	text-align: right;
}

#left-navigation img
{
	padding: 0px;
	margin: 0px;
}

a.left-navigation-item, a.left-navigation-item:visited
{
	font-size:12px;
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
	font-weight: bold;
	text-decoration: none;
	background-color: transparent;
	color: #2f2a24;
	padding: 5px 5px 5px 20px;
	display: block;
}

a.left-navigation-item:hover
{
	font-size:12px;
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
	font-weight: bold;
	text-decoration: none;
	background-color: #3e7eb9;
	color: #ffffff;
	padding: 5px 5px 5px 20px;
	display: block;
}

a.left-navigation-subitem, a.left-navigation-subitem:visited
{
	font-size:12px;
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
	font-weight: bold;
	text-decoration: none;
	color: #2f2a24;
	padding: 5px 0px 5px 20px;
	display: block;
}

a.left-navigation-item-selected, a.left-navigation-subitem:hover
{
	font-size:12px;
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
	font-weight: bold;
	text-decoration: none;
	background-color: #3e7eb9;
	color: #ffffff;
	padding: 5px 0px 5px 20px;
	display: block;
}

#left-navigation-juris
{
	padding: 0px 0px 0px 20px;
}

#left-navigation-juris-menu
{
    background-image: url(../images/interior_left_nav_bottom_bg_image.jpg)/*tpa=http://www.entergy.com/Global/images/interior_left_nav_bottom_bg_image.jpg*/;
    background-repeat: no-repeat;
	padding: 0px 10px 0px 10px;
}

#left-navigation-juris-menu table
{
	width: 212px;
}

#left-navigation-juris table
{
	width: 212px;
}

#left-navigation-juris span
{
	padding-left:10px;
	text-align: right;
}

#left-navigation-juris img
{
	padding: 0px;
	margin: 0px;
}

a.left-navigation-juris-item, a.left-navigation-juris-item:visited
{
	font-size:12px;
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
	font-weight: bold;
	text-decoration: none;
	background-color: transparent;
	color: #2f2a24;
	padding: 5px 0px 5px 20px;
	display: block;
}

a.left-navigation-juris-item:hover
{
	font-size:12px;
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
	font-weight: bold;
	text-decoration: none;
	background-color: #3e7eb9;
	color: #ffffff;
	padding: 5px 0px 5px 20px;
	display: block;
}

a.left-navigation-juris-subitem, a.left-navigation-juris-subitem:visited
{
	font-size:12px;
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
	font-weight: bold;
	text-decoration: none;
	/*background-color: #e4edf5;*/
	color: #2f2a24;
	padding: 5px 0px 5px 20px;
	display: block;
}

a.left-navigation-juris-item-selected, a.left-navigation-juris-subitem:hover
{
	font-size:12px;
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
	font-weight: bold;
	text-decoration: none;
	background-color: #3e7eb9;
	color: #ffffff;
	padding: 5px 0px 5px 20px;
	display: block;
}

/* 
#left-navigation
{
    vertical-align: top;
	padding-top: 18px;
    font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
    font-size: 12px;
    font-weight: bold;
    background-image: url(/Global/images/interior_left_nav_bottom_bg_image.jpg);
}

#left-navigation-selected
{
	color: #ffffff;
	background-color: #3e7eb9;
    font-size: 12px;
    font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}

#left-navigation div ul a, #left-navigation div ul a:visited
{
	color: #2f2a24;
    font-size: 12px;
    font-weight: bold;
	width: 100%;
	text-decoration: none;
	padding: 5px 20px 5px 20px;
	line-height: 18px;
}

#left-navigation div ul a:hover
{
	color: #ffffff;
    font-size: 12px;
    font-weight: bold;
	width: 100%;
	text-decoration: none;
	padding: 5px 20px 5px 20px;
	line-height: 18px;
}

#left-navigation div ul ul a, #left-navigation div ul ul a:visited
{
	color:  #3e7eb9;
    font-size: 12px;
    font-weight: bold;
	padding: 5px 20px 5px 40px;
}

#left-navigation div ul ul a:hover
{
	color:  #ffffff;
    font-size: 12px;
    font-weight: bold;
	padding: 5px 20px 5px 40px;
}

#left-navigation div
{
	width: 212px;
}

#left-navigation ul
{  
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
}

#left-navigation div a:visited
{  
	text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

#left-navigation div a:hover
{  
	color: #ffffff;
	background-color: #3e7eb9;
	text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

#left-navigation div ul li
{
	background-color: #e4edf5;
	width: 212px;
}

#left-navigation div ul ul
{
	margin: 0px 0px 0px 0px;
	color: #3e7eb9;
	line-height: 22px;
}

#left-navigation img
{
	margin-left: 20px;
}


#left-navigation-juris
{
    vertical-align: top;
	padding-top: 18px;
    font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
    font-size: 12px;
    font-weight: bold;
    width:240px;
}


#left-navigation-juris-selected
{
	color: #ffffff;
	background-color: #d6a94b;
    font-size: 12px;
    font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}


#left-navigation-juris div ul a, #left-navigation div ul a:visited
{
	color: #2f2a24;
    font-size: 12px;
    font-weight: bold;
	width: 100%;
	text-decoration: none;
	padding: 5px 20px 5px 20px;
	line-height: 18px;
}

#left-navigation-juris div ul a:hover
{
	color: #ffffff;
    font-size: 12px;
    font-weight: bold;
	width: 100%;
	text-decoration: none;
	padding: 5px 20px 5px 20px;
	line-height: 18px;
}

#left-navigation-juris div ul ul a, #left-navigation-juris div ul ul a:visited
{
	color:  #3e7eb9;
    font-size: 12px;
    font-weight: bold;
	padding: 5px 20px 5px 40px;
}

#left-navigation-juris div ul ul a:hover
{
	color:  #ffffff;
    font-size: 12px;
    font-weight: bold;
	padding: 5px 20px 5px 40px;
}

#left-navigation-juris div
{
	width: 212px;
}

#left-navigation-juris ul
{  
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
}

#left-navigation-juris div a:visited
{  
	text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

#left-navigation-juris div a:hover
{  
	color: #ffffff;
	background-color: #d6a94b;
	text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

#left-navigation-juris div ul li
{
	background-color: #f7eedb;
	width: 212px;
}

#left-navigation-juris div ul ul
{
	margin: 0px 0px 0px 0px;
	color: #3e7eb9;
	line-height: 22px;
}

#left-navigation-juris img
{
	margin-left: 20px;
}
*/