@media
only screen and (-webkit-min-device-pixel-ratio: 1.8),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.8),
only screen and (min-device-pixel-ratio: 1.8){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}

.sf_cols
{
	display: block !important;
}

html 
{
 overflow-y: scroll;
}

img
{
	border: 0;
}

h4 {
font-size: 12px;
margin: 13px 0px 0px 0px;
padding: 0px;
color: black;
line-height: 17px;
}

.sfContentBlock 
{
	font-size: 12px;
}

.rightCol { font-size: 11px;}
.rightCol .sfContentBlock { font-size: 11px !important; }
.rightCol h2 { color: #5E5E5E !important; }

.whiteSprite
{
	background-image: url(../images/bx-core/sprite_wt1-new.png)/*tpa=http://www.blackstone.com/images/bx-core/sprite_wt1-new.png*/;
}
.facebookSprite
{
	background-image: url(../images/bx-core/facebook_wt1-new.png)/*tpa=http://www.blackstone.com/images/bx-core/facebook_wt1-new.png*/;
}
.instagramSprite
{
    background-image: url(../images/bx-core/instagram_wt1-new.png)/*tpa=http://www.blackstone.com/images/bx-core/instagram_wt1-new.png*/;
}

body
{
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	color: #5E5E5E;
	background-color: #F2F2F2;
	padding: 0px;
	margin: 0px;
	line-height: 17px;
}

.italicText {
	font-style: italic;
	font-weight: normal !important;
	color: black;
}

#mainWrapper
{
	width: 960px;
	padding-bottom: 20px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#header
{
	padding: 20px 0 0 0;
	margin: 0;
	background: #2b2b2b;
}

#headerWrapper
{
	/*padding-left: 20px;*/
	
height: 108px;

}

.headerBg 
{
	position: absolute;
top: 0px;
left: 0px;
width: 100%;
min-width: 960px;
height: 91px;
background-color: #2b2b2b;
z-index: -100;
border-bottom: 40px solid #666;
}

/**Begin: Framework**/

#header .topBand {
    margin: 0 0 0 2px;
    padding: 0 0 0 0;
    height: 77px;
}
.searchArea {
    margin-top: 15px;
    text-align: right;
}

.floatRight {
    float: right;
    height : 45px;
    margin-left: 0px;
    width: 332px;
}

.lpLoginDropdown
{
	color: white;
	float: left;
	margin-right: 5px;
    margin-top: 0px;
	height: 22px;
	width: 73px;
	cursor: pointer;
	text-align: left;
	background-position: 0px -60px;
	background: #0098c3;
}
.lpLogin {
	position: relative;
	padding: 0px 5px 0px 7px;
	line-height: 23px;
}
.lpLoginLink 
{
	cursor: pointer;
	float: left;
}

.lpLoginDropdown:hover 
{
	background-position: -130px -60px;
}
.loginText
{
	float: left;
	font-family: arial;
   font-size: 14px;
}
.loginText2
{
	margin-left: 13px;
}

.button-sep
{
	width: 1px;
	height:17px;
	margin-top: 2px;
	float:right;
	margin-right: 3px;
	background-color: #FFF;
}

a, a:active, a:link, a:visited {
    color: #5E5E5E;
    text-decoration: none;
}

.buttonwrapperViewAll p.ovalbutton span a {
    color: #FFFFFF;
    text-decoration: none !important;
}

.sliderPos {
    left: 20px;
    position: absolute;
    top: 20px;
    z-index: 1;
}
.recentNewsSmall {
    background-color: #000000;
    color: #FFFFFF;
    margin: 2px 0 0;
    padding: 0 10px 25px;
    width: 237px;
}

.recentNewsSmall h3 {
    font-size: 11px;
    margin: 0;
    padding: 12px 0 4px;
}
.recentNewsSmall p {
    color: #CCCCCC;
    font-size: 11px;
    margin: 0 0 2px;
    padding: 0;
}
.recentNewsSmall a {
    color: #CCCCCC !important;
}
.recentNewsSmall a:hover {
    text-decoration: underline;
}
.recentNewsSmall img {
    margin: 4px 0 0 2px;
}
.recentNewsSmall .pagination {
    float: right;
}
.recentNewsSmall .topSpacer {
    font-size: 10px;
    padding-top: 8px;
}
.recentNewsSmall h3.whiteText a {
    color: #FFFFFF !important;
}
.mCommentrySmall h3 {
    margin: -4px 0 0;
}

#header .goImage {
    background: url("../images/bx-core/sprite_WT1-new.png-v=3.png")/*tpa=http://www.blackstone.com/images/bx-core/sprite_WT1-new.png?v=3*/ no-repeat scroll 0 -90px transparent;
    border: medium none;
    height: 24px;
    width: 23px;
}

#header .goImage {
    border: medium none;
    cursor: pointer;
    height: 23px;
    width: 23px;
}

.sfsearchBox
{
	margin: 0px;
	text-align: left;
}

.sfsearchTxt 
{
	border: 1px solid #BFBFBF !important;
	padding: 3px;
	background-color: white;
font-size: 14px;
font-family: arial;
color: #BFBFBF;
width: 160px;
}

.ie9SearchFix
{
   padding-top:4px; 
}

.ieSearchFix
{
   padding-top:2px; 
}

.ffSearchFix
{
    padding-bottom:2px;
}

.ie9SearchFix
{
   padding-top:4px; 
}

.macSearchFix
{
   padding-top:1px; 
}

.ffMacSearchFix
{
   padding-top:0px; 
}

input.sfsearchSubmit 
{
cursor: pointer;
background: url('../images/bx-core/sprite_wt1-new.png')/*tpa=http://www.blackstone.com/images/bx-core/sprite_wt1-new.png*/ no-repeat -0px -90px white;
color: transparent;
text-indent: 20px;
width: 22px;
height: 20px;
border-left: 1px solid #BFBFBF !important;
position: absolute;
top: 1px;
right: 86px;
border: none;
}
input.sfsearchSubmit:hover
{
	background-position: -130px -90px; 
}
        
#header .logo
{ 
    background:url("../images/bx-core/sprite_wt1-new.png")/*tpa=http://www.blackstone.com/images/bx-core/sprite_wt1-new.png*/ 0px 0px no-repeat;
    height:46px;
    width:115px;
    float:left; 
    cursor: pointer; 
    border: 1px solid white;
    margin-top: 1px;
    }
#header .loginBtn{background:url('../images/bx-core/sprite_wt1-new-1.png-v=3.png')/*tpa=http://www.blackstone.com/images/bx-core/sprite_wt1-new.png?v=3*/ no-repeat 0px -60px; border:none;width:66px;height: 24px;}
   
#header .goImage{background:url('../images/bx-core/sprite_wt1-new-1.png-v=3.png')/*tpa=http://www.blackstone.com/images/bx-core/sprite_wt1-new.png?v=3*/ no-repeat -0px -90px; border:none;width:23px;height:24px;}
a.ovalbutton:hover span{text-decoration:underline;}
.buttonwrapperViewAll { height: 30px; }
.buttonwrapperViewAll p.ovalbutton {display: block;float: left;padding-left: 5px;font-size:11px;color:#fff;font-weight:normal;    background-color: transparent;background-image: url('../images/bx-core/oval-gray-left.gif')/*tpa=http://www.blackstone.com/images/bx-core/oval-gray-left.gif*/;background-repeat: no-repeat;    background-position: left -21px;margin-top:10px;}
.buttonwrapperViewAll p.ovalbutton span {
display: block;
padding: 2px 8px 3px 0px;
background-color: transparent;
background-image: url(../images/bx-core/blackButtonRight.gif)/*tpa=http://www.blackstone.com/images/bx-core/blackButtonRight.gif*/;
background-repeat: no-repeat;
background-position: right 0px;
}
.buttonwrapperViewAll p.ovalbutton span a{color:#fff;text-decoration:none !important;}
.buttonwrapperViewAll p.ovalbutton span a:hover{color:#fff !important; text-decoration:underline !important;}
        
 .asofDate {
    font-size: 12px;
    margin-bottom: 7px;
}
.pressRelease select {
    margin-bottom: 7px !important;
}
* + html .pressRelease select {
    margin-bottom: 7px !important;
}
.pressReleaseNews {
    padding-top: 7px;
    width: 515px;
}
.pressReleaseNews a {
    font-size: 12px !important;
}
.pressRelease .date, .pressReleaseNews .date, .recentnewsPr .date {
    font-size: 12px;
    margin: 2px 0 0;
}
.pressRelease a {
    font-size: 12px;
    text-decoration: underline !important;
}
.pressRelease form {
    margin: 0;
}
.pressReleaseNews p {
    margin-bottom: 11px;
    margin-top: 0 !important;
    padding: 0;
}
.pressReleaseNews .date {
    font-size: 12px;
}
.border1pxnewPr {
    border-top: 1px solid #ABABBA;
    height: 1px;
    margin: 8px 0;
}
.newsPrInd p {
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 14px;
    margin-top: 0;
}
.newsPrInd h3 {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 13px;
}
.spacerBottomPR {
    float: left;
    margin: 13px 0 0;
}  
#searchResults {
    font-size: 12px;
}
#searchResults #pagination {
    margin: 9px 0 8px !important;
}
#searchResults .searchTitle a {
    color: #000000 !important;
}
#searchResults .topBorder {
    padding-top: 5px;
}
#searchResults p {
    margin: 0;
    padding: 0;
}
#searchResults p.url {
    margin: 7px 0 0;
    padding: 0;
}
#searchResults p.url a {
    color: #5E5E5E;
    text-decoration: none;
}
#searchResults p.url a:hover {
    text-decoration: underline;
}
#searchResults .searchItem {
    margin-bottom: 14px;
}
#searchResults .results {
    font-size: 11px !important;
}

.selectBtnDeactive {
    background: url('../images/bx-core/sprite_wt1-new-1.png-v=3.png')/*tpa=http://www.blackstone.com/images/bx-core/sprite_wt1-new.png?v=3*/ no-repeat scroll 0 -223px transparent;
    border: medium none;
    cursor: default;
    height: 20px;
    margin-top: -2px;
    width: 66px;
}

.selectBtnActive {
    background: url('../images/bx-core/sprite_wt1-new-1.png-v=3.png')/*tpa=http://www.blackstone.com/images/bx-core/sprite_wt1-new.png?v=3*/ no-repeat scroll 0 -250px transparent;
    border: medium none;
    cursor: pointer;
    height: 20px;
    margin-top: -2px;
    width: 66px;
}


/* Overwriting Sitefinity CSS */
.searchTxt2 { float: left; }
.searchTxt2 .sfsearchBox {border:none;margin: 0;padding: 0;}
.searchTxt2 .sfsearchTxt {border:1px solid #ABABBA;height:14px;margin-top:0px;}

#fancybox-close{  
  background-image: url(../images/bx/lightbox_close_button.png)/*tpa=http://www.blackstone.com/images/bx/lightbox_close_button.png*/; 
  Z-INDEX: 1102;
  height: 20px;
  width: 20px;
  top: 3px;
  right: 18px;
 }

/**End: Framework**/
#menuBar
{
	height: 37px;
	margin-top: -6px;
}

#tmb
{
height: 40px;
margin-bottom: 30px;
position: relative;
z-index: 1001;
background: #666;
}

#footer2
{
	clear:both;
	font-family: arial;
	font-size: 10px;
	margin: 20px auto 40px auto;
	text-align: left;
	width: 942px;
    
}
#footer2 a, #footer2 a:link, #footer2 a:visited, #footer2 a:active
{
	color: #5e5e5e;
	text-decoration: none;
	margin-right: 9px;
}
#footer2 a:hover
{
	text-decoration: underline;
}
#footer2 p
{
	margin: 0 -10px 0 -10px;
	border-top: 1px solid darkGray;
	padding-top: 4px;
    padding-left: 10px !important;
}
#footer2 p span 
{
	background-color: #F2F2F2 !important;
	padding: 0px 5px 5px 5px;
}

#footer
{
	background-color: White;
	margin-left: 20px;
}

.homePageContent
{
	position: relative;
	margin-left: -20px;
}

.homePageMovie
{
	position: absolute;
	top: 100px;
	left: 20px;
	z-index: 100;
}


.contentArea
{
	margin: 0px 25px 0px 25px;
}

.sfnewsContainer
{
	margin-bottom: 10px;
}

.blackText
{
	color: black;
}

#adSection
{
	padding: 11px 10px 29px 10px;
	background-color: #F2F2F2;
}

.rtsLink
{
	text-align: left !important;
}

.rtsSelected
{
	background-image: none !important;
}

.leftNavOptions
{
	margin-top: 25px;
}

.leftNavOptions a
{
	text-decoration: none;
}

#leftNavPrint
{
	height: 21px;
	background: url(../images/bx-core/print.png)/*tpa=http://www.blackstone.com/images/bx-core/print.png*/ top left no-repeat;
	padding-left: 25px;
	padding-top: 3px;
	text-decoration: none;
}

#T56AEE9A1003_Col01
{
	padding-right: 20px;
}

.searchTitle a
{
	color: black !important;
}

.topBorder
{
	padding-top: 5px;
	border-top: 1px solid #5E5E5E;
	font-size: 12px;
}

.rtsUL
{
	margin: 0px;
	padding: 2px 0px 0px 0px;
}
.rtsUL ul
{
	margin: 0px;
	padding: 0px;
}
.rtsUL li
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.bxNav_menu
{
	margin: 0;
	padding: 0;
}

.bxNav_shim
{
	cursor: default !important;
}

.bxNav_shim .bxNav_headertext
{
	cursor: default !important;
}

#bxNav_menu_bg 
{
	
	display: none;
}

.bxNav_menu li
{
	float: left;
	list-style: none;
	font-size: 14px;
	font-family: Arial, sans-serif;
	color: #5e5e5e;
}

.bxNav_menu > li 
{
	width: 137px;

}


.bxNav_menu li a
{
	text-decoration: none;
}

.bxNav_menu li li a:hover
{
	text-decoration: underline;
}

.bxNav_headertext
{padding: 8px 0px 12px 0px;
	cursor: pointer;
	text-align: center;
	color: white;
	height:16px;
	
	
	background:#666;
}

.topNavBtnOn
{
 background: #333333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
  filter: alpha(opacity=98);
  opacity: 0.98;   
}

.bxNav_border_hover
{
	 background: #333333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
  filter: alpha(opacity=98);
  opacity: 0.98;  
	height:16px;
}

.bxNav_text, .bxNav_subtext
{
	width: auto !important;
}

.bxNav_text
{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.bxNav_subtext 
{
	margin-left: 8px;
	margin-bottom: 10px;
}

.bxNav_text a
{
	display: list-item;
	/*font-family: Arial, Helvetica, sans-serif !important;*/
	padding: 4px 5px 4px 0px;
	color: white;
}

.investLogin
{
  position: absolute;
padding: 10px 9px;
background: #666;
font-weight: bold;
font-size: 12px !important;
right: 18px;
bottom: 20px;  
text-align: center;
width: 172px;
}


.bxNav_border
{
	height: 4px;
	cursor: pointer;
	width: 136px;
display:none;
}

.bxNav_menu li ul
{
	float: left;
    min-width: 158px;
}

.bxNav_submenu
{
	visibility: hidden;
	position: absolute;
margin-top: -1px;
	white-space: normal;
	z-index: 100;
	background: #333333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
  filter: alpha(opacity=98);
  opacity: 0.98;
	color: White;
}

.bxNav_submenu a:link {color:#fff;}     
.bxNav_submenu a:visited {color:#fff;}
.bxNav_submenu a:hover {color:#fff;}
.bxNav_submenu a:active {color:#fff;}  

.submenuRight
{
   right:0px; 
  min-width: 240px;

}

.bxNav_submenu ul
{
padding: 0px 20px;
margin: 20px 0px;
}


.addLine
{
padding-right: 0px !important;
background: url("../images/bx-core/nav-divider-new.jpg")/*tpa=http://www.blackstone.com/images/bx-core/nav-divider-new.jpg*/;
background-position: right;
background-repeat: repeat-y;
}

.addLine li {
padding-right: 20px;
}

.noLine ul
{
background: none;
}

.bxNav_menu li ul li
{
	float: none;
}

.widthFix{
max-width: 168px;
}

.widthFixie9{
max-width: 182px;
}

.bxNav_submenu li a
{
	color: White;
}

.bxNav_tab_0
{
	border-top:4px solid #00767F !important;
}
.bxNav_tab_1
{
	border-top:4px solid #8E9900 !important;
}
.bxNav_tab_2
{
	border-top:4px solid #66105E !important;
}
.bxNav_tab_3
{
	border-top:4px solid #00665E !important;
}
.bxNav_tab_4
{
	border-top:4px solid #660036 !important;
}
.bxNav_tab_5
{
	border-top:4px solid #00677F !important;
}

.bxNav_tab_6
{
	border-top:4px solid #00767F !important;
}

.bxNav_tab_0_hov
{
	border-top:4px solid #00B0CA !important;
    background:#333;
}

.bxNav_tab_1_hov
{
	border-top:4px solid #BED600 !important;
    background:#333;
}
.bxNav_tab_2_hov
{
	border-top:4px solid #9B1889 !important;
    background:#333;
}
.bxNav_tab_3_hov
{
	border-top:4px solid #00B2A9 !important;
    background:#333;
}
.bxNav_tab_4_hov
{
	border-top:4px solid #A30050 !important;
	background:#333;
}
.bxNav_tab_5_hov
{
	border-top:4px solid #0098C3 !important;
    background:#333;
}

.bxNav_tab_6_hov
{
	border-top:4px solid #00B0CA !important;
    background:#333;
}

.bxNav_tab_0:hover
{
	border-top:4px solid #00B0CA !important;
    background:#333;
}
.bxNav_tab_1:hover
{
	border-top:4px solid #BED600 !important;
    background:#333;
}
.bxNav_tab_2:hover
{
	border-top:4px solid #9B1889 !important;
    background:#333;
}
.bxNav_tab_3:hover
{
	border-top:4px solid #00B2A9 !important;
    background:#333;
}
.bxNav_tab_4:hover
{
	border-top:4px solid #A30050 !important;
    background:#333;
}
.bxNav_tab_5:hover
{
	border-top:4px solid #0098C3 !important;
    background:#333;
}

.bxNav_tab_6:hover
{
	border-top:4px solid #00B0CA !important;
    background:#333;
}

.inSec_0
{
    border-top:4px solid #00B0CA !important;
    background:#333;
}
.inSec_1
{
	border-top:4px solid #BED600 !important;
    background:#333;
}
.inSec_2
{
	border-top:4px solid #9B1889 !important;
    background:#333;
}
.inSec_3
{
	border-top:4px solid #00B2A9 !important;
    background:#333;
}
.inSec_4
{
	border-top:4px solid #A30050 !important;
    background:#333;
}
.inSec_5
{
	border-top:4px solid #0098C3 !important;  
    background:#333;
}

.inSec_6
{
	border-top:4px solid #00B0CA !important;
	background:#333;
}

.bxLeftNav_menu
{
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-size: 14px;
	line-height: 23px;
	color: #5E5E5E;
}

a.bxLeftNav_level1
{
	color: Black;
}

.bxLeftNav_menu li a
{
	text-decoration: none;
}

.bxLeftNav_menu li a:hover
{
	text-decoration: underline;
}

.bxLeftNav_menu li
{
	list-style-type: none;
	margin: 4px 0px 5px 0px;
}

.bxLeftNav_submenu
{
	border: 0px;
	list-style-type: none;
	margin: 4px 0px 4px 0px;
	padding-left: 10px;
}

.bxLeftNav_submenu_ob
{
	border: 0px;
	list-style-type: none;
	margin: 4px 0px 4px 0px;
	padding-left: 0px;
}

.bxLeftNav_submenu_ob .bxLeftNav_text a
{
	color: Black !important;
}

a.bxLeftNav_seltext
{
	color: Black !important;
}

.bxNav_submenu_inverse li a
{
	color: #5E5E5E !important;
}

.bxLeftNav_selected
{
	font-weight: bold;
}

.bxLeftNav_sel_item_bg 
{
	width: 8px;
	height: 20px;
	float: left;
	margin-left: -16px;
	margin-right: 8px;
}

.bxLeftNav_submenu .bxLeftNav_sel_item_bg
{
	margin-left: -26px;
}

.subContentDetail
{
	margin-top: 25px;
}

.subContentDetail p
{
	margin: 0px 0px 15px 0px;
	padding: 0px;
	line-height: 17px;
}

.headerDesc h4
{
	color: Black;
	font-weight: bold !important;
}

.headerDesc p {
	margin: 0px 0px 0px 0px !important;
	line-height: 17px;
}

.headerBottomSpace
{
	padding: 0px 0px 34px 0px;
	margin: 0px;
}

.headerBottomSpaceText
{
	padding: 0px 0px 29px 0px;
	margin: 0px;
}

.innerContent
{
	line-height: 17px;
	font-size: 12px;
}

.imagePlaceHolder
{
	margin-bottom: 17px;
}

.subContentDetail
{
	width: 515px;
	line-height: 17px;
}

.portfolioContainer
{
	clear:both;	
}

.portfolioWrapper
{
	background-color: white;
	width: 192px;
	margin: 3px 4px 1px 0px;
	padding: 35px 7px 19px 10px;
	float: left;
	height: 450px;
	white-space: normal;
	word-wrap: break-word;
	color: #5E5E5E;
}

.portfolioList
{
	padding-left: 0px;
}

.portfolioList li
{
	display: inline;
	list-style-type: none;
}

.portfolioWrapper label
{
	font-weight: 700;
	color: black;
	font-size: 11px !important;
}

.portfolioWrapper p
{
	margin-top: .25em;
	margin-bottom: .25em;
	-webkit-margin-before: .25em;
	-webkit-margin-after: .25em;
}

table.bios {margin-bottom:7px; margin-top:3px;}
.bios th{background-color:#000; padding:0px 0px 0px 5px !important;color:#fff; margin:0px 0px 8px 0px; height:25px; font-size:11px !important; vertical-align: middle;font-weight:normal;}/* 9 Oct*/
.bios th a{color:#fff !important; text-decoration:none !important; cursor:pointer;}
.bios th a:hover{color:#fff !important; text-decoration:underline !important;}
.bios th a img{margin-right:5px !important; margin-top:1px !important;}
*html .bios th a img{margin-right:8px !important;}
.bios td{padding:4px 0px 5px 5px; vertical-align:top; line-height:15px;}
.bios td a{text-decoration:underline !important; color:#000 !important;}
.biosDetail{margin:0px 0px 17px 0px; width:517px; font-size:12px; line-height:17px; height:126px;}
.biosDetail td{padding:0px 0px 0px 0px;}
.biosDetail .biosDetailContent{background-color:#000; padding:8px 0px 0px 10px; vertical-align:top; color:#fff; }
.biosDetail .biosDetailContent .personName{font-weight:700;}
p.officelocation{text-decoration:underline; margin-top:12px !important; padding:0px;}
p.officelocation a{color: White !important; }/* 12 Oct*/
.biosParaSpace p{margin:15px 0px 0px 0px !important;padding:0px;line-height:17px; font-size: 12px;}

.rgMasterTable { padding-right: 20px; }
.RadGrid:focus { outline: none; }

.homePageWrapper
{
	position: relative;
    margin-left: -20px;
}

div.pager { margin-bottom: 5px; margin-top: 5px; }	
.pager img { margin-right: 5px; }
.pager span { margin-right: 5px; }

.bios td a {
	text-decoration: underline !important;
	color: black !important;
}

#conent
{
	background: #ffffff;
	padding: 23px 0 20px 20px;
	margin-top: 20px;
}

#conent h2
{
	font-weight: bold;
	padding: 0px;
	color: black;
	line-height: 17px;
	margin: 0px;
	font-size: 12px;
}

.borderTop {
	border-top: 1px solid #5E5E5E;
}
.subcontent {
	clear: both;
	padding: 8px 0px 0px 0px;
	margin-top: 8px !important;
}

#Body_T687B4377001_Col01 a {
color: black;
}
#Body_T687B4377001_Col01 p, #Body_T687B4377001_Col01 h2, #Body_T687B4377001_Col01 a {
font-size: 14px;
}
#Body_T687B4377001_Col01 a {
text-decoration: underline;
}

.t-border{
	margin-top: 15px;
	margin-bottom: 15px;
    font-size: 14px;
}

.blogPost
{
	margin-bottom: 10px;
	font-size: 12px;
}

h3.sfpostTitle {
	margin: 0px 0px 13px 0px;
	font-size: 14px;
	color: black;
	font-weight: 700;
}

div.sfpostContent
{
	width: 515px;
}

.leftNavCol
{
	width: 215px !important;
}

.rightContentCol
{
	width: 695px !important;
	text-align: left;
	margin-right: 20px !important;
}

.contentFloatLeft
{
	float: left;
}

.yearDropDown
{
	float: right;
}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 4px 0px 4px 0px;
	padding: 0px;
	line-height: 15px;
	color: #5E5E5E;
}

.expander .expandHeader
{
	background-color: Black;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 10px;
	padding-top: 5px;
	cursor: pointer;
	float: left;
	clear: right;


}

.expander { width: 515px; margin-bottom: 10px; clear: left;}
.expander .expandHeader { width: 100%; padding-left: 3px; }
.expander .expandHeader span { color: White; float:left; }
.expander .expandHeader .expandImg { float: right; margin-right: 3px; }
.expander .expandContent { display: none; padding: 0px 0px 7px 0px; border-bottom: 1px solid black; }


.newsViewsItem
{
	margin-bottom: 15px;
	border-bottom: 1px solid black;
	font-size: 12px;
	line-height: 17px;
}

.newsViewsItem .nvSummary img 
{
	float: left;
	padding: 10px 20px 10px 0px;
}

.nvTitle
{
	font-family:Georgia , Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.nvSummary
{
	margin-top: 15px;
	padding-bottom: 15px;
}

.hpNewsAndBlog
{
	margin-top: 3px;
	padding: 5px 5px 15px 5px;
	background-color: Black; 
	width: 247px;
	color: White;
}

.hpNewsAndBlog a 
{
	color: White;
}

.hpTitle
{
	float: left;
	font-weight: bold;
}

.hpNewsTitleWrapper
{
	margin-bottom: 3px;
}

.hpNewsPager
{
	float: right;
}

.hpNewsItemHidden
{
	display: none;
	visibility: hidden;
	clear: both;
}

.hpNewsItemVisible
{
	margin-top: 8px;
	clear: both;
}

.hpNewsTitle a
{
	color: #ccc !important;
}

.hpBlogLink a
{
}

.archiveControl
{
	float: right;
	margin-bottom: 5px;
}

.archiveControl select
{
	margin-bottom: 5px;
}

.transactionContainer
{
	margin-top: 5px;
}

.transactionWrapper
{
	cursor: pointer;
	background-color:#fff; 
	width:200px; 
	margin:0px 4px 4px 0px; 
	padding: 0px; 
	float:left;
	height:176px; 
	line-height:normal;
	padding:0px;
}

.transactionImage
{
	margin-top: 50px;
}

.transactionToolTipTop
{
	position:absolute; 
	background:url('../images/bx-core/tooltip_shadow.png')/*tpa=http://www.blackstone.com/images/bx-core/tooltip_shadow.png*/ no-repeat;
	color:#5E5E5E;
	width:214px; 
	background-position: left top; 
	height:3px;
	padding-top:3px;
	margin-top:-3px;
	margin-left:-4px; 
	z-index:1000 !important;
}

.toolTipMiddle {background:url('../images/bx-core/tooltip_shadow.png')/*tpa=http://www.blackstone.com/images/bx-core/tooltip_shadow.png*/;background-position:left bottom;Z-index:1 !important;}
.toolTipMiddle .wrapper {padding:10px 20px 28px 13px;Z-index:1;}

.personGridHeader th {background-color:#000; padding:0px 0px 0px 5px !important;color:#fff; margin:0px 0px 8px 0px; height:25px; font-size:11px !important; vertical-align: middle;font-weight:normal;}/* 9 Oct*/
.personGridHeader th a { color: White !important; text-decoration: none !important; }

.personGrid tr.odd { background-color: #F2F2F2; }
.personGrid td  
{
	padding: 4px 0px 5px 5px;
	vertical-align: top;
	line-height: 15px; 
}

th.personName { width: 160px; }
th.personTitle { width: 178px; }
th.personLocation { width: 115px; }

/*.personGrid th a { vertical-align: top; }*/
.personGrid .sortImg { margin-right: 5px; margin-top: 1px; }

.officeBusinesses
{
	padding: 11px 10px 29px 10px; 
	background-color: #F2F2F2; 
	padding-bottom: 22px
}

.officeBusinesses p 
{
	margin: 0px 0px 7px 0px !important;
}
.officeBusinesses p a 
{
	font-size: 11px !important;
}

p.ovalbutton {display: block;float: left;padding:0px 4px 1px 9px;font-size:11px;color:#fff;font-weight:normal;    background-color: transparent;background-image: url(../images/bx-core/blackButtonLeft.gif)/*tpa=http://www.blackstone.com/images/bx-core/blackButtonLeft.gif*/;background-repeat: no-repeat;    background-position: left 0px; margin-top:10px;}
/*p.ovalbutton {display: block;float: left;padding:0px 9px 0px 9px;font-size:11px;color:#fff;font-weight:normal;    background-color: transparent;background-image: url(/images/bx-core/blackButtonLeft.gif);background-repeat: no-repeat;    background-position: left 0px; margin-top:0px;}*/
p.ovalbutton span {display: block;padding: 2px 8px 4px 0px;background-color: transparent;background-image: url(../images/bx-core/blackButtonRight.gif)/*tpa=http://www.blackstone.com/images/bx-core/blackButtonRight.gif*/;background-repeat: no-repeat;background-position: right 0px !important;}
/*p.ovalbutton span {display: block;padding: 1px 8px 3px 0px;background-color: transparent;background-image: url(/images/bx-core/blackButtonRight.gif);background-repeat: no-repeat;background-position: right 0px !important;}*/
p.ovalbutton span a { color: White !important;}

.alignCenter
{
	text-align: center;
}

.bcfTitle
{
	font-family:Georgia , Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px !important;
}

.bcfTitle a
{
	font-size: 16px !important;
}

.bcfItem
{
	margin-bottom: 15px;
	font-size: 12px;
	line-height: 17px;
}

.clearBoth { clear: both; }

.transactionGrid { margin-top: 5px; } 
.transactionGrid td { padding-top: 11px; padding-bottom: 11px; }

.transactionDate { width: 93px; }
.transactionValue { width: 77px; }
.transactionClient { width: 130px; }

.transactionFilters { width: 170px; }
.transactionFilters select { margin: 2px 0 0 0 !important; }

#tt {position:absolute; display:block; background:url(../images/bx-core/tt_left.gif)/*tpa=http://www.blackstone.com/images/bx-core/tt_left.gif*/ top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(../images/bx-core/tt_top.gif)/*tpa=http://www.blackstone.com/images/bx-core/tt_top.gif*/ top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(../images/bx-core/tt_bottom.gif)/*tpa=http://www.blackstone.com/images/bx-core/tt_bottom.gif*/ top right no-repeat; overflow:hidden}


/*confirm box */
#modalContainer {
    background-color:transparent; 
    position:absolute;
    width:1px;
    height:30%;
    top:30%;
margin-top:-25%;
left:0;
    z-index:10000;
}
#alertBox {
        width:600px;
    text-align:center;
clear:both;
position:relative;     
    margin: 360px auto;
    min-height:100px;
padding-bottom:20px;
    border:2px solid #000;
    color:#000;
    background-color:#eee;
    background-repeat:no-repeat;
    background-position:20px 30px;}
#modalContainer > #alertBox {
/*position:fixed;*/
    }
#alertBox h1,#xBtn {
    margin:0;
    font-size:12px;
    background-color:#000;
    color:#FFF;
    border-bottom:1px solid #000;
    padding:2px 0 2px 5px;
}
#alertBox p {
   
    height:40px;
    padding-left:5px;
    padding-right:5px;
    margin-left:5px;
    text-align:left;
}
#alertBox #yesBtn
{
    padding-left:20px;
    padding-right:20px;
    
    }
#alertBox #closeBtn,#yesBtn {
    
    position:relative;
    margin:5px 3px;
    padding:5px 10px;
    border:1px solid #000;
    width:90px;
    
    text-align:center;
    color:#FFF;
    background-color:#000;
    text-decoration:none;
}

.personImagePopup 
{
	text-align: center;
	width: 110px;
	height: 149px;
	background-repeat: no-repeat;
	position: absolute;
	padding: 7px 11px 6px 0px;
	background-image: url(../images/bx-core/thumbnailWrapper.png)/*tpa=http://www.blackstone.com/images/bx-core/thumbnailWrapper.png*/;
}

.RadSocialShare_Default 
{
	border: 0px;
}

.tagcloud 
{
	text-align: justify
}

.tagcloud a 
{
	text-decoration :none !important;
	color: gray !important;
	margin-right: 3px;
}
.tagcloud a:hover
{
	color: #2BA2BB;
	border-bottom: 1px dotted #2BA2BB;
}
a.sfCloudSize1
{
	font-size: 8px !important;
}

a.sfCloudSize2 
{
	font-size: 10px !important;
}

a.sfCloudSize3 
{
	font-size: 12px !important;
}

a.sfCloudSize4 
{
	font-size: 14px !important;
}

a.sfCloudSize5 
{
	font-size: 20px !important;
}

a.sfCloudSize6 
{
	font-size: 24px !important;
}

.imgPagerHidden
{
	display: none;
	visibility: hidden;
}

.greyBgGlante 
{
	background-color: #F2F2F2;
	padding: 6px 4px 0px 6px;
}

.leftNavPrintImg,.leftNavEmailImg 
{
	width: 21px;
	height: 21px;
	display: inline;
	float: left;
	vertical-align: middle;
}

.leftNavPrintImg 
{
	background: url("../images/bx-core/sprite_WT1-new.png-v=3.png")/*tpa=http://www.blackstone.com/images/bx-core/sprite_WT1-new.png?v=3*/ 0px -120px no-repeat;
}

.leftNavPrint:hover .leftNavPrintImg
{
	background-position: -130px -120px;
}

.leftNavPrint:hover span,.leftNavEmail:hover span 
{
	text-decoration: underline;
}

.leftNavEmailImg 
{
	background: url("../images/bx-core/sprite_WT1-new.png-v=3.png")/*tpa=http://www.blackstone.com/images/bx-core/sprite_WT1-new.png?v=3*/ 0px -150px no-repeat;
}

.leftNavEmail:hover .leftNavEmailImg
{
	background-position: -130px -150px;
}

.leftNavEmail 
{
	clear: both;
	margin-top: 10px;
}

.leftNavPrint 
{
	margin-bottom: 5px;
}

.portfolioWrapper p a 
{
	color: Black !important;
}

.noCursor 
{
	cursor: default !important;
}

.bxpager
{
	clear: both;
}

.popupContent 
{
	display: none;
}

.normalContent 
{
	cursor: pointer;
}

.twtr-timeline
{
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.twtr-doc 
{
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.twtr-ft { display: none; }

.twtr-doc { background-color: White !important; }

.dropshadow-imp
{
	-moz-box-shadow: 3px 3px 4px #BBB;
	-webkit-box-shadow: 3px 3px 4px #BBB;
	box-shadow: 3px 3px 4px #BBB;
}

.pageTitle 
{
	font-size: 22pt;
	color: black;
	line-height: normal;
	font-weight: 600;
	font-family: Georgia;
}

.vidfont {
  color: #ffffff;
  font-size: 14px;
  font-family: georgia;
  text-align:left;
  line-height: 19px;
  }

.vidtext-border {padding:10px 40px 10px 40px;
   }

.vidheading{
  font-size: 25px !important;
  color: #0091c1;
  font-family: georgia;
  font-weight:600 !important;
  line-height: 29px !important;
  text-align:left;
    }

.vidbox {padding:26px 20px 20px 20px;
     width: 710px;
     background-color:#000000 }
     
.vid-discfont {
  color: #ffffff;
  font-size: 12px;
  font-family: georgia;
  text-align:left;
  font-style:italic;
  line-height: 19px;
}
#fancybox-close:hover
{
	background-image: url(../images/bx-core/lightbox_close_button_hover.png)/*tpa=http://www.blackstone.com/images/bx-core/lightbox_close_button_hover.png*/;
}
     
/* for legacy pages */
.subContainer 
{
	margin-top: 30px !important;
}

.leftNavigation
{
	margin-top: 20px !important;
}

#col1Detail 
{
	border-top: 0px !important;
}
/* ------- */

.twitterHover
{
	background-position: -130px -280px;
}

.twitterImage
{
	display: block;
	margin-left: 10px;
	margin-top: 0px;
	height: 22px;
	width: 22px;
	background-position: 0px -280px;

}

.twitterImageLink, .facebookImageLink, .instagramImageLink{ float: left; }

.facebookHover
{
   
	background-position: -21px 0px;
}

.facebookImage
{
	display: block;
	margin-left: 5px;
	margin-top: 0px;
	height: 21px;
	width: 21px;
   
	background-position: 0px 0px;

}

.instagramHover
{
    background-position: -21px 0px;
}

.instagramImage
{
	display: block;
	margin-left: 5px;
	margin-top: 0px;
	height: 21px;
	width: 21px;
    /* TODO: update */
	background-position: 0px 0px;

}

.vidhover-out { position: relative; }
.vidhover-in 
{
	display: none;
	position: absolute; width: 67px; height: 67px; background: url('../images/bx-core/sprite_WT1-new.png-v=3.png')/*tpa=http://www.blackstone.com/images/bx-core/sprite_WT1-new.png?v=3*/ no-repeat -130px -190px;   
	margin: 0 auto;
}
.vidhover-out:hover .vidhover-in
{
	display: block;
}
/* If in a popup content block, show the hover any time the content block is hovered */
.normalContent:hover .vidhover-in
{
	display: block;
}

.printtitle { display: none; }

body.smartling-ja span.bxNav_item_2 div.bxNav_headertext 
{
	padding-left: 0px;
	font-size: 12px;
}


.lang-dropdown{
	width: 85px;
	overflow: visible;
	float: right;
	margin-left: 5px;
	margin-top: 1px;
	text-align: left;
}
.lang-dropdown-button {
	color: #5E5E5E;
	background: url(../images/bx-core/lang-bg-default.png)/*tpa=http://www.blackstone.com/images/bx-core/lang-bg-default.png*/ no-repeat;
	overflow: visible;
	cursor: pointer;
	height: 21px;
	line-height: 21px;
	position: relative;
	padding: 0px 5px 0px 7px;
	position: relative;
}
.lang-dropdown-button #sep{
	width: 1px;
	height:17px;
	margin-top: 2px;
	float:right;
	margin-right: 3px;
}
.lang-dropdown-button #lang{
	float:left;
}
.lang-dropdown > ul {

	box-shadow: 0 0 20px #746a6a;
	-moz-box-shadow: 0 0 20px #746a6a;
	-webkit-box-shadow: 0 0 20px #746a6a;

	color: #5e5e5e;
	display: none;
	background-color: purple;
	list-style-type: none;
	padding: 0px;
	overflow: visible;
	/* required for z-index */
	position: relative;
	z-index: 10000;
}
.lang-dropdown > ul > li {
	height: 18px;
	line-height: 18px;
	padding: 1px 1px 1px 6px;
	background-color: #FFF;
	border: solid #000;
	border-width: 1px 1px 0 1px;
}
.lang-dropdown > ul > li[bottom-most='true'] {
	border-width: 1px 1px 1px 1px;
	height: 18px;
}
.lang-dropdown > ul > li > a > div:hover {
	color: #0092bf;
}
.lang-dropdown a:link,
.lang-dropdown a:active,
.lang-dropdown a:visited {
	text-decoration: none;
}
.lang-dropdown > ul > li > a > div {				
	color: #7E7E7E;
}
.lang-dropdown > ul > li[sel='true'] > a > div {
	color: #0092bf;
}

.lang-dropdown-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	float:right;
	margin-top:9px;
	margin-right: 0px;
}

.lang-dropdown-button:hover {
	background: url(../images/bx-core/lang-bg-hover.png)/*tpa=http://www.blackstone.com/images/bx-core/lang-bg-hover.png*/ no-repeat;
	color: #FFF !important;
}
.lang-dropdown-button-down {
	background: url(../images/bx-core/lang-bg-pressed.png)/*tpa=http://www.blackstone.com/images/bx-core/lang-bg-pressed.png*/ no-repeat !important;
	color: #FFF !important;
}
.lang-dropdown-button #sep{
	background-color: #FFF;
}

.lang-dropdown-arrow-down {
	border-top: 6px solid #FFF;
}
.lang-dropdown > ul 
{
	margin: 0;
}

.hideMeAux{display:none;}

.loginBox
{
	position: absolute;
	background-color: white;
	width: 490px;
	height: 328px;
	z-index: 2000;
	top: 23px;
	left: -417px;
	text-align: left;
}

	.loginBox input[type="password"], .loginBox input[type="text"]
	{
		width: 345px;
		margin-top: 10px;
		padding: 2px 5px 2px 5px;
	}

.appButtons
{
	position: absolute;
	width: 100px;
	height: 100%;
	background-color: black;
}

#appButtonTable tr
{
	height: 34%;
	vertical-align: middle;
}

	#appButtonTable tr td
	{
		vertical-align: middle !important;
		cursor: pointer;
		background-image: url(../images/bx-core/login-button-bg.png)/*tpa=http://www.blackstone.com/images/bx-core/login-button-bg.png*/;
	}

.appButton
{
	font-size: 16px;
	font-family: Georgia, sans-serif;
	color: white;
	text-align: center;
	vertical-align: middle;
}

.btnSelectedLogin
{
	background-image: url(../images/bx-core/arrow-left.png)/*tpa=http://www.blackstone.com/images/bx-core/arrow-left.png*/ !important;
	background-repeat: no-repeat;
	background-position: 90px 48px;
}

.buttonLogin_BXAccess
{
	border-left: 4px solid #0091c1;
}

.buttonSelectedLogin_BXAccess
{
	border-left: 4px solid #0091c1;
	background-color: #0091C1;
}

.buttonLogin_BX
{
	border-left: 4px solid #9b1889;
}

.buttonSelectedLogin_BX
{
	border-left: 4px solid #9b1889;
	background-color: #9b1889;
}

.buttonLogin_CXO
{
	border-left: 4px solid #00b2a9;
}

.buttonSelectedLogin_CXO
{
	border-left: 4px solid #00b2a9;
	background-color: #00b2a9;
}

.buttonLogin_Alumni
{
	border-left: 4px solid #bed600;
}

.buttonSelectedLogin_Alumni
{
	border-left: 4px solid #bed600;
	background-color: #bed600;
}


.loginForms
{
	margin-left: 100px;
	width: 360px;
	font-family: Arial;
	padding: 15px;
	font-size: 12px;
	color: #5e5e5e;
}

.loginForm
{
	display: none;
}

.loginForms a
{
	color: #199BC7;
}

.loginFormSelected
{
	display: block;
}

.loginBanner
{
	margin-bottom: 5px;
}

.loginHeader
{
	font-family: Georgia, sans-serif;
	font-size: 18px;
	color: #5e5e5e;
	/*margin-bottom: 10px;*/
}

.loginSpacer
{
	margin-top: 10px;
}

.passwordPlaceholder
{
    position:absolute;
    top:14px;
    left:5px;
	color: #AAA;
	display:none;
	visibility: hidden;
}

.hasPlaceholder
{
	color: #AAA;
}

/*.bxLoginHelpText
{
	background-color: #f2f1f2;
	padding: 10px;
}*/

.loginButtonLine
{
	margin-top: 10px;
	height: 23px;
}

	.loginButtonLine input
	{
		float: right;
	}

	.loginButtonLine .lpLoginDropdown
	{
		float: right;
	}

#outerLoginBox
{
	display: none;
}

.loginShadow
{
	background: url(../images/bx-core/login-box-shadow.png)/*tpa=http://www.blackstone.com/images/bx-core/login-box-shadow.png*/ no-repeat;
	position: absolute;
	height: 335px;
	width: 490px;
	top: 26px;
	left: -409px;
	z-index: 1999;
}

.loginForms ul li
{
	margin-bottom: 5px;
}