/* Top navigation link color */
.twc-top-nav .smartLink a, .twc-top-nav li a {
	color: #d4d5d6;
}

@media (max-width: 48em) {
	.twc-sub-navigation { display: none; }
	.share-social, .printComponent { display: none; }
}