/*HERO MEDIA QUERY*/
.mobile-only { display: none; }

/* shows a smaller image when on mobile device */
@media only screen and (max-width: 640px) 
{ 
.desktop-only { display: none; } 
.mobile-only { display: block; }
}