body { background: none; }

#nav,
#top,
#main-top,
#main-bottom,
#interior-left,
.breadcrumbs,
#footer { display: none; }

#header { border-bottom: 5px solid #40406B; margin: 0 0 15px 0; }

#interior-right { float: none; margin: auto; }

#banner { }

#main,
.interior-content { background: none; }

#content { color: #000000; }

a.doc,
a.txt,
a.xls,
a.rss,
a.pps,
a.pdf,
a.zip,
a.image,
a.video,
a.audio,
a.email,
a.flash { padding: 0; background: none; }