/*
  PIE.htc: is a behavior file for IE, the path to this file is relative to the
  HTML file being viewed, not the CSS file it is called from.
*/

@charset "UTF-8";
/* CSS Document */
.webform-client-form {
  float: left;
  margin: 0px 0px 30px 0px;
}
div label {
  color: #333333;
  font-size: 11px;
  font-weight: bold;
}
div label,
div input {
  margin: 0 10px 0px 0;
}
input,
textarea,
select {
  font: 12px/12px Verdana,Arial,Helvetica,sans-serif;
}
.form-required {
  color: #333333;
}
#webform-component-textfield,
#webform-component-email,
#webform-component-required-date label,
#webform-component-container--other-textfield,
.webform-component-select
{
  display: block !important;
  float: left;
}
.webform-datepicker,
.webform-datepicker .form-item {
  display: block;
  width: 100%;
}
#webform-component-textfield label {
  float: left;
}
.webform-component-textarea,
#webform-component-list,
#webform-component-container--other-list {
  clear:both;
}
.webform-component,
.webform-component-textarea label {
  display: block;
  float: none;
}
#webform-component-textarea input {
  width: 608px;
  height: 118px;
}
fieldset.webform-component-fieldset {
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  margin: 20px auto;
  padding: 10px;
  position: relative;
}
fieldset.webform-component-fieldset legend {
  background: #2D2D2D !important;
  border-radius: 5px;
  clear: both;
  color: #FFFFFF;
  padding: 2px 10px;
}
#webform-component-container--other-list .form-checkboxes label,
#webform-component-list #edit-submitted-list label {
  color:#555555;
}

.webform-component-radios{
  margin-bottom: 10px;
  overflow: hidden;
}

.webform-component-checkboxes {
  margin-bottom: 10px;
  overflow: hidden;
}

.webform-component-radios label,
.webform-component-radios .form-radio {
  margin-top: 5px\9 !important;
  float:left;
  margin-top: 4px;
}

.webform-component-checkboxes .form-checkboxes,
{
  margin-top: 5px\9 !important;
  float:left;
  margin-top: 4px;
}

.become-a-client-webform .webform-component-checkboxes,
.become-a-client-webform .webform-component-radios .form-radios,
.become-a-client-webform .webform-component-radios .form-checkboxes {
  clear: both;
}

.webform-component-radios .form-type-radio {
  float: left;
  margin-top: -1px !important;
  margin-top: 0px\9;
  width: 180px;
}

.webform-component-checkboxes .form-checkboxes .form-item
{
  float: left;
  margin-top: -3px !important;
  margin-top: 0px\9;
  width: 180px;
}

.webform-component-column .webform-component-checkboxes .form-checkboxes .form-item,
.webform-component-column .webform-component-radios .form-type-radio {
  width: 165px;
}
.webform-component-checkboxes .form-checkboxes .form-item input {
  float:left;
  margin: 5px;
  margin-top: 7px;
  margin-top: 6px\9;
}
.webform-component-radios .form-radio {
  margin: 3px 5px 2px 5px\9 !important;
  margin: 5px 5px 2px 5px;
}
.webform-component-column .webform-component-column input {
  width: 120px !important;
}
#webform-component-required-date .form-required {
  float:left;
}
.webform-datepicker .form-item {
  margin-right:10px;
}
.webform-datepicker select {
  border-radius: 2px;
  border: 1px solid #CCCCCC;
  width: 75px;
  color: #555555;
}

.form-submit {
  background: #2D2D2D;
  border-radius: 3px;
  border: 2px solid #CCCCCC;
  color: #FFFFFF;
  display: block;
  width: auto;
  position: relative;
  float: right;
  padding: 2px 10px;
  cursor: pointer;
}
.form-submit:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #2D2D2D;
    margin: 1px 11px 1px 0px;
    *margin: 0px 10px 0px 0px; /*IE7 fix*/
    border-radius: 3px;
    color: #2D2D2D;
}

.with-reset {
  float: right;
}

.form-reset,
.form-reset:hover {
  margin-left: 10px;
}

/*----Grid-----*/
#webform-component-container--grid label {
  float:none;
}
.webform-grid {
  border-collapse: collapse;
}
.element-invisible {
  margin: 0 10px 15px 0;
}
.webform-grid th {
  background-color: #ccc;
  color: #005BD8;
}
.webform-grid tr.odd td {
  background-color: #F9F9F9;
}
.webform-grid tr.even td {
  background-color: transparent;
}
.webform-grid td.webform-grid-question {
  padding: 0 10px;
}

.webform-grid td.checkbox {
  padding: 10px 10px 0;
}
/*---- Became a client webform -----*/
.become-a-client-webform .webform-client-form {
  width:1000px;
}
.become-a-client-webform .webform-component-leftcol,
.become-a-client-webform .webform-component-rightcol {
  width: 49%;
}
.become-a-client-webform .webform-client-form .step-indicator {
  float:left;
  width: 200px;
}
.become-a-client-webform .webform-client-form .form-step {
  float: left;
  background: #F4F4F4;
  margin: 2px 0 0;
  min-height: 297px;
  padding: 20px;
  position: relative;
  width: 760px;
}
.become-a-client-webform .webform-client-form .step-indicator table tr {
  margin: 5px 0;
  padding: 0;
}
.become-a-client-webform .webform-client-form .step-indicator table tr.even,
.become-a-client-webform .webform-client-form .step-indicator table tr.odd {
  background:transparent;
  border:none;
}
.become-a-client-webform .webform-client-form .step-indicator table td {
   background: #1B4384;
   border: 1px solid #D3D3D3;
   border-radius: 5px 0 0 5px;
   color: #FFFFFF;
   display: block;
   padding: 5px 10px;
   position: relative;
   margin: 2px 0;
}
.become-a-client-webform .webform-client-form .step-indicator table tr.current-step td {
  background:#F4F4F4;
  border: 1px solid #F4F4F4;
  border-radius: 5px 0 0 5px;
  color: #212121;
  padding: 5px 10px;
}
.become-a-client-webform .webform-client-form .step-indicator table tr.previous-step td {
  background:#999;
  border: 1px solid #F4F4F4;
  border-radius: 5px 0 0 5px;
  color: #212121;
  padding: 5px 10px;
}
.become-a-client-webform .webform-client-form .step-indicator table tr a {
  color: #FFF;
}
.become-a-client-webform .webform-client-form .step-indicator table tr input {
  display: none;
  visibility: hidden;
}
.become-a-client-webform .webform-client-form .step-description {
 display: block;
 font-size: 14px;
 font-weight: bold;
 text-align: center;
}
.become-a-client-webform .webform-client-form fieldset {
  margin: 0px 10px 25px 0px;
}
.become-a-client-webform input.form-text {
  margin: 0 10px 10px 0;
  width: 285px;
}
.become-a-client-webform .form-actions {
  float: right;
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 100%;
  *width: auto !important;
  *position: relative;
}
.become-a-client-webform #edit-previous {
  float: left;
  margin-left: 30px;
}
.become-a-client-webform #edit-submit,
.become-a-client-webform #edit-next {
  float: right;
  margin-right: 20px;
}
.become-a-client-webform .form-reset {
  margin-left: 0px;
  margin-bottom: 1em;
  margin-top: 1em;
  position: absolute;
  bottom: 0px;
  *position: relative;
}
.become-a-client-webform input[type='submit']:hover {
  border: 1px solid #000000;
  padding: 2px 11px 2px 10px;
}
.become-a-client-webform .webform-client-form .step-indicator table tr input[type='submit']:hover {
  border: 1px;
  padding: 0px;
  color: #000;
}
.become-a-client-webform .webform-component-column .webform-component-checkboxes .form-checkboxes .form-type-checkbox,
.become-a-client-webform .webform-component-column .webform-component-radios .form-radios .form-type-radio {
  float: left;
  max-width: 49%;
}
.become-a-client-webform .webform-component-column .webform-component-checkboxes .form-checkboxes .form-type-checkbox label,
.become-a-client-webform .webform-component-column .webform-component-radios .form-radios .form-type-radio label {
  margin-right: 0px;
}
.become-a-client-webform .webform-component-checkboxes .form-checkboxes .form-type-checkbox,
.become-a-client-webform .webform-component-radios .form-radios .form-type-radio {
  float: left;
  max-width: 22%;
}
.become-a-client-webform .webform-component-checkboxes .form-checkboxes,
.become-a-client-webform .webform-component-radios .form-radios {
  display: block;
  width: 100%;
}
.become-a-client-webform .form-item.form-type-checkbox.form-item-submitted-step-2-billing-address---same-as-company-1 {
  max-width: 100% !important;
}
/*--------- Became a client webform step 2 -----------*/
div#webform-component-step-2--billing-address---same-as-company.form-item div#edit-submitted-step-2-billing-address-same-as-company--2.form-checkboxes div.form-item,
div#webform-component-step-2--billing-address---same-as-company div#edit-submitted-step-2-billing-address-same-as-company.form-checkboxes div.form-item {
  width: 300px;
}
div#webform-component-step-2--billing-address---same-as-company.form-item div#edit-submitted-step-2-billing-address-same-as-company--2.form-checkboxes div.form-item label,
div#webform-component-step-2--billing-address---same-as-company div#edit-submitted-step-2-billing-address-same-as-company.form-checkboxes div.form-item label {
  *padding-top: 6px;
  *display: block;
}
/*--------- Became a client webform step 3 -----------*/
div#webform-component-step-5--step-5-column-1--aircraft-1.form-item h3,
div#webform-component-step-5--step-5-column-2--aircraft-2.form-item h3,
div#webform-component-step-5--step-5-column-3--aircraft-3.form-item h3,
div#webform-component-step-3--step-3-column-primary--primary-label.form-item h3,
div#webform-component-step-3--step-3-column-accounting--accounting-label.form-item h3,
div#webform-component-step-3--step-3-column-chief-pilot--chief-pilot-label.form-item h3,
div#webform-component-step-3--step-3-column-optional--optional-label.form-item h3 {
  color: #FFFFFF;
  font-size: 1em;
  margin: 0px;
  display: inline;
  vertical-align: baseline;
}
div#webform-component-step-5--step-5-column-1--aircraft-1.form-item,
div#webform-component-step-5--step-5-column-2--aircraft-2.form-item,
div#webform-component-step-5--step-5-column-3--aircraft-3.form-item,
div#webform-component-step-3--step-3-column-primary.webform-component-column div#webform-component-step-3--step-3-column-primary--primary-label.form-item,
div#webform-component-step-3--step-3-column-accounting.webform-component-column div#webform-component-step-3--step-3-column-accounting--accounting-label.form-item,
div#webform-component-step-3--step-3-column-chief-pilot.webform-component-column div#webform-component-step-3--step-3-column-chief-pilot--chief-pilot-label.form-item,
div#webform-component-step-3--step-3-column-optional.webform-component-column div#webform-component-step-3--step-3-column-optional--optional-label.form-item {
  background: none repeat scroll 0 0 #333333;
  color: #FFFFFF !important;
  margin-top: -25px;
  position: absolute;
  display: inline;
  border-radius: 5px 5px 5px 5px;
  padding: 2px 10px;
  *width: auto;
}
.become-a-client-webform .form-step #webform-component-step-5--step-5-column-1,
.become-a-client-webform .form-step #webform-component-step-5--step-5-column-2,
.become-a-client-webform .form-step #webform-component-step-5--step-5-column-3,
.become-a-client-webform .form-step #webform-component-step-3--step-3-column-primary,
.become-a-client-webform .form-step #webform-component-step-3--step-3-column-accounting,
.become-a-client-webform .form-step #webform-component-step-3--step-3-column-chief-pilot,
.become-a-client-webform .form-step #webform-component-step-3--step-3-column-optional {
  border: 1px solid #CCCCCC !important;
  margin-top: 20px;
  width: 47%;
  padding-left: 10px;
  padding-top: 15px;
  border-radius: 5px !important;

}

/* Fix IE7*/
.become-a-client-webform .form-item, .become-a-client-webform .form-actions {
  *margin-bottom: 0.5em;
  *margin-top: 0.5em;
}
/* END Fix IE7*/

#webform-component-step-1 label,
#webform-component-step-2 label,
#webform-component-step-3 label,
#webform-component-financial-information label,
#webform-component-step-5 label,
#webform-component-step-6 label,
#webform-component-step-7 label,
#webform-component-step-8-additional-information label,
#webform-component-form-submission label{
	font-weight: normal;
}

fieldset#webform-component-step-1--column--zipcode-container {
	border: none;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}
fieldset#webform-component-step-1--column--zipcode-container legend {
	display: none;
}
#webform-component-step-1--column--zipcode-container--state, #webform-component-step-2--step-2-state{
    width: 150px;
	float: left;
	margin: 0px;
}
#webform-component-step-1--column--zipcode-container--state input,
#webform-component-step-1--column--zipcode-container--zip input,
#webform-component-step-1--column--zipcode-container--country input,
#webform-component-step-2--step-2-state input,
#webform-component-step-2--step-2-zip input,
#webform-component-step-2--step-2-country input{
	width: 140px;
}
#webform-component-step-1--column--zipcode-container--zip, #webform-component-step-2--step-2-zip{
	float: left;
	padding-top:16px;
	margin: 0px;
}
#webform-component-step-1--column--zipcode-container--country, #webform-component-step-2--step-2-country{
	width: 100%;
	float:left;
}
#webform-component-report-a-lost-or-stolen-card .webform-container-inline label,
#webform-component-report-a-lost-or-stolen-card .webform-component-textfield .webform-container-inline label {
  display: block !important;
  float: left !important;
  text-align: right !important;
  width: 155px !important;
}
#webform-component-report-a-lost-or-stolen-card .webform-container-inline .form-checkboxes label,
#webform-component-report-a-lost-or-stolen-card .webform-container-inline .form-radios label {
  width: auto !important;
}

#webform-component-report-a-lost-or-stolen-card .form-type-radio {
  width: auto;
  margin-left: 3px;
}

#webform-component-report-a-lost-or-stolen-card .webform-component-column .webform-container-inline input.form-text {
  width: 160px;
}

/**hide the field used to avoid spam**/
div#jml-field {
  display: none;
  visibility: hidden;
}
#webform-component-step-2 .field-suffix {
  display:none;
  visibility: hidden;
}

/** Calendars **/
.view-content .fullcalendar {
  background: #E5E5E5;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
table.fc-header {
  background: #C1B8C4;
  background-image: linear-gradient(bottom, rgb(106,105,125) 16%, rgb(193,184,196) 87%);
  background-image: -o-linear-gradient(bottom, rgb(106,105,125) 16%, rgb(193,184,196) 87%);
  background-image: -moz-linear-gradient(bottom, rgb(106,105,125) 16%, rgb(193,184,196) 87%);
  background-image: -webkit-linear-gradient(bottom, rgb(106,105,125) 16%, rgb(193,184,196) 87%);
  background-image: -ms-linear-gradient(bottom, rgb(106,105,125) 16%, rgb(193,184,196) 87%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.16, rgb(106,105,125)),
    color-stop(0.87, rgb(193,184,196))
  );

  height: 45px;
  margin: 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.view-upcoming-events {
  padding-top: 20px;
  border-top: 2px #000 solid;
}
.view-upcoming-events .view-header span {
  padding-top: 10px;
  font-size: 1.5em;
  color: #0072C6;
}
.view-upcoming-events .view-header strong {
  color: #999;
}

.view-calendar-for-events .view-content {
  width: 210px;
  font-size: 10px;
  float: left;
}
.fc-header-title  {
  clear: both;
  display: inline;
}
.fc-header-title h2 {
  font-size: .9em;
  white-space: normal !important;
}
.fc-view-month .fc-event, .fc-view-agendaWeek .fc-event {
  font-size: 0;
  overflow: hidden;
  height: 4px;
}
.fc-view-agendaWeek .fc-event-vert {
  font-size: 0;
  overflow: hidden;
  width: 2px !important;
}
.fc-agenda-axis {
  width: 20px !important;
  font-size: .7em;
}

.fc-button-content {
  padding: 0;
}
.fc-button-today,
.fc-header-left,
.fc-header-right {
  background: #ECECEC !important;
}

.fc-header-left,
.fc-header-right {
  display: none;
}
.fc-button-prev {
  margin-left: 5px;
  float: left;
  background: #ECECEC;
}
.fc-button-today {
  padding: 0 61px;
  opacity: 1;
  filter: none;
  background-color: #ECECEC;
  color: #222;
  float: left;
}
.fc-button-next {
  background: #ECECEC;
  float: left;
}
.fc-header-title h2 {
  color: #FFFFFF;
  font-size: 1.3em;
  margin: 2px !important;
  padding: 0 !important;
  font-weight: bold;
}
.fc-event {
  display: none;
}

.view-calendar-for-events td.with-event {
  cursor: pointer;
}

.view-calendar-for-events .view-header .calendar-categories {
  margin-bottom: 5px;
  float: left;
}

.view-calendar-for-events .view-header .calendar-categories select {
  width: 200px;
}

body.no-sidebars .view-calendar-for-events .view-header .calendar-categories,
body.one-sidebar .view-calendar-for-events .view-header .calendar-categories {
  width: 700px;
}
body.two-sidebars .view-calendar-for-events .view-header .calendar-categories {
  width: 520px;
}
.view-calendar-for-events .view-events-for-day {
  float: right;
}

.view-events-for-day .view-empty strong,
.view-events-for-day .view-header strong{
  color: #999;
}

#calendar-category-wrapper,
#calendar-subcategory-wrapper {
  float: left !important;
  margin-right: 10px;
}

.view-header strike {
  display: none;
}
body.two-sidebars .view-calendar-for-events {
  width: 540px;
}
body.one-sidebar .view-calendar-for-events {
  width: 740px;
}
body.no-sidebars .view-calendar-for-events {
  width: 940px;
}
body.no-sidebars .view-calendar-for-events {
  margin: auto;
}
.view-calendar-for-events .view-footer {
  clear: both;
}

body.two-sidebars .view-events-for-day {
  width: 270px;
}
body.one-sidebar .view-events-for-day {
  width: 450px;
}
.view-events-for-day .view-header span {
  font-size: 1.5em;
}

.fc-view thead .ui-widget-header {
  background: #E5E5E5;
  color: #1B4384;
}
.fc-today {
  font-weight: bolder;
  border-color: #1B4384;
}
.fc-view td {
  background: #E5E5E5;
}
.fc-border-separate th, .fc-border-separate td {
  border: 1px #E5E5E5 solid;
  color: #6A697B;
}
.fc-grid .fc-day-content {
  display: none;
}
.fc-grid .fc-day-number {
  margin: 0;
  height: 27px;
  text-align: center;
  font-size: 13px;
}
#calendar-subcategory-wrapper {
  margin-left: 80px;
}
.view-upcoming-events .views-row {
  margin-top: 10px;
}
.view-events-for-day a.more-link {
  display: block;
  text-align: left;
}

.webform-container-inline div.description {
  padding-right: 10px;
}

.webform-component-fieldset .form-checkboxes .form-item,
.webform-component-fieldset .form-radios .form-item {
 margin-top: 0px;
}

.form-item-submitted-data-protection-acknowledgement-I-have-read-and-hereby-agree-to-accept-the-World-Fuel-Services-Corporation-terms-and-conditions{
width: 700px !important;
}

/* Flight Department Credit Application Form */

#webform-client-form-1816 .webform-component-column .webform-container-inline input.form-text {
	width: 100%;
}

#webform-client-form-1816 .webform-progressbar{
	width: 90%;
	margin: 0px auto;
	text-align: center;
	padding-bottom: 10px;
}

#webform-client-form-1816 .webform-progressbar-page,
#webform-client-form-1816 .webform-progressbar-outer{
	border: 1px solid #0054a4;
}

#webform-client-form-1816 .webform-progressbar-page.current,
#webform-client-form-1816 .webform-progressbar-inner,
#webform-client-form-1816 .webform-progressbar-page.completed{
	background-color: #0054a4;
}

#webform-client-form-1816 fieldset.webform-component-fieldset {
	margin: 20px auto;
	padding: 10px;
	position: relative;
	background-color: #f5f5f5;
}

#webform-client-form-1816 fieldset.webform-component-fieldset legend {
  background: #0054a4 !important;
  border-radius: 5px;
  clear: both;
  color: #fff;
  padding: 6px 10px;
  font-weight: bold;
}

#webform-client-form-1816 .content-checkbox-textfield .form-type-checkbox label {
	color: #000;
}

#webform-client-form-1816 .webform-component-checkboxes .form-checkboxes .form-item input {
	float: none;
	margin: 5px;
	margin-top: 7px;	
}

#webform-client-form-1816 .webform-component-radios .form-type-radio {
	float: left;
}

#webform-client-form-1816 .form-submit {
	background: #0054a4;
	height: 30px;
}

#webform-client-form-1816 .form-submit:hover {
	color: #fff;
}

#webform-client-form-1816 .webform-previous.form-submit {
	float: left;
}

/* Billing Address section */
#webform-client-form-1816 .form-item.form-type-checkbox.form-item-submitted-billing-address-same-as-company-1 {
	width: 232px;
}

/* Additional Information section */
#webform-client-form-1816 .form-item.form-type-checkbox.form-item-submitted-additional-information-how-did-you-hear-about-us-select-2,
#webform-client-form-1816 .form-item.form-type-checkbox.form-item-submitted-additional-information-how-did-you-hear-about-us-select-Tradeshow,
#webform-client-form-1816 .form-item.form-type-checkbox.form-item-submitted-additional-information-how-did-you-hear-about-us-select-Sales {
	float: left;
}

/* Additional Services section */
#webform-client-form-1816 .form-item.form-type-checkbox.form-item-submitted-product-request-additional-services-additional-services-Regular-Services {
	width: 240px;
}

/* Credit Request section */
#webform-client-form-1816 .form-item.form-type-checkbox.form-item-submitted-credit-request-billing-currency-select-USD,
#webform-client-form-1816 .form-item.form-type-checkbox.form-item-submitted-credit-request-billing-currency-select-CAD{
	float: left;
}

#webform-client-form-1816 .form-item.form-type-checkbox.form-item-submitted-additional-information-how-did-you-hear-about-us-select-1,
#webform-client-form-1816 .form-item.form-type-checkbox.form-item-submitted-additional-information-how-did-you-hear-about-us-select-FBO,
#webform-client-form-1816 .form-item.form-type-checkbox.form-item-submitted-additional-information-how-did-you-hear-about-us-select-3 {
	padding-left: 150px;
}

/* ----------------------------------------------------- */
/* Bulk Credit Application Form */

#webform-client-form-1817 .webform-component-column .webform-container-inline input.form-text {
	width: 100%;
}

#webform-client-form-1817 .webform-progressbar{
	width: 90%;
	margin: 0px auto;
	text-align: center;
	padding-bottom: 10px;
}

#webform-client-form-1817 .webform-progressbar-page,
#webform-client-form-1817 .webform-progressbar-outer{
	border: 1px solid #0054a4;
}

#webform-client-form-1817 .webform-progressbar-page.current,
#webform-client-form-1817 .webform-progressbar-inner,
#webform-client-form-1817 .webform-progressbar-page.completed{
	background-color: #0054a4;
}

#webform-client-form-1817 fieldset.webform-component-fieldset {
	margin: 20px auto;
	padding: 10px;
	position: relative;
	background-color: #f5f5f5;
}

#webform-client-form-1817 fieldset.webform-component-fieldset legend {
  background: #0054a4 !important;
  border-radius: 5px;
  clear: both;
  color: #fff;
  padding: 6px 10px;
  font-weight: bold;
}

#webform-client-form-1817 .content-checkbox-textfield .form-type-checkbox label {
	color: #000;
}

#webform-client-form-1817 .webform-component-checkboxes .form-checkboxes .form-item input {
	float: none;
	margin: 5px;
	margin-top: 7px;	
}

#webform-client-form-1817 .webform-component-radios .form-type-radio {
	float: left;
}

#webform-client-form-1817 .form-submit {
	background: #0054a4;
	height: 30px;
}

#webform-client-form-1817 .form-submit:hover {
	color: #fff;
}

#webform-client-form-1817 .webform-previous.form-submit {
	float: left;
}

/* Bulk Credit "How did you hear about us?" section */
#webform-client-form-1817 .form-item.form-type-checkbox.form-item-submitted-how-did-you-hear-about-us-lead-source-select-1,
#webform-client-form-1817 .form-item.form-type-checkbox.form-item-submitted-how-did-you-hear-about-us-lead-source-select-3,
#webform-client-form-1817 .form-item.form-type-checkbox.form-item-submitted-how-did-you-hear-about-us-lead-source-select-5 {
    float: left;
}

#webform-client-form-1817 .form-item.form-type-checkbox.form-item-submitted-how-did-you-hear-about-us-lead-source-select-2,
#webform-client-form-1817 .form-item.form-type-checkbox.form-item-submitted-how-did-you-hear-about-us-lead-source-select-4,
#webform-client-form-1817 .form-item.form-type-checkbox.form-item-submitted-how-did-you-hear-about-us-lead-source-select-select-or-other {
    padding-left: 150px;
}

/* Bulk Credit "Customer Preference" Monthly Vol Fields */
#webform-client-form-1817 #edit-submitted-customer-preferences-custpreflb1-monthly-vol-usg,
#webform-client-form-1817 #edit-submitted-customer-preferences-custpreflb2-monthly-vol-usg-2,
#webform-client-form-1817 #edit-submitted-customer-preferences-custprefb3-monthly-vol-usg-3,
#webform-client-form-1817 #edit-submitted-customer-preferences-custpreflb4-monthly-vol-usg-4 {
	width: 100%;
}

#webform-client-form-1817 .form-item.form-type-checkbox.form-item-submitted-customer-preferences-invoicing-preferences-select-1,
#webform-client-form-1817 .form-item.form-type-checkbox.form-item-submitted-customer-preferences-invoicing-preferences-select-3 {
	float: left;
}

/* Billing Address section */
#webform-client-form-1817 .form-item.form-type-checkbox.form-item-submitted-billing-information-billing-address---same-as-company-1 {
	width: 232px;
}

/* Below are the CSS changes for the PROD variation */
/* Flight Department Credit Application Form */

#webform-client-form-1740 .webform-component-column .webform-container-inline input.form-text {
	width: 100%;
}

#webform-client-form-1740 .webform-progressbar{
	width: 90%;
	margin: 0px auto;
	text-align: center;
	padding-bottom: 10px;
}

#webform-client-form-1740 .webform-progressbar-page,
#webform-client-form-1740 .webform-progressbar-outer{
	border: 1px solid #0054a4;
}

#webform-client-form-1740 .webform-progressbar-page.current,
#webform-client-form-1740 .webform-progressbar-inner,
#webform-client-form-1740 .webform-progressbar-page.completed{
	background-color: #0054a4;
}

#webform-client-form-1740 fieldset.webform-component-fieldset {
	margin: 20px auto;
	padding: 10px;
	position: relative;
	background-color: #f5f5f5;
}

#webform-client-form-1740 fieldset.webform-component-fieldset legend {
  background: #0054a4 !important;
  border-radius: 5px;
  clear: both;
  color: #fff;
  padding: 6px 10px;
  font-weight: bold;
}

#webform-client-form-1740 .content-checkbox-textfield .form-type-checkbox label {
	color: #000;
}

#webform-client-form-1740 .webform-component-checkboxes .form-checkboxes .form-item input {
	float: none;
	margin: 5px;
	margin-top: 7px;	
}

#webform-client-form-1740 .webform-component-radios .form-type-radio {
	float: left;
}

#webform-client-form-1740 .form-submit {
	background: #0054a4;
	height: 30px;
}

#webform-client-form-1740 .form-submit:hover {
	color: #fff;
}

#webform-client-form-1740 .webform-previous.form-submit {
	float: left;
}

/* Billing Address section */
#webform-client-form-1740 .form-item.form-type-checkbox.form-item-submitted-billing-address-same-as-company-1 {
	width: 232px;
}

/* Additional Information section */
#webform-client-form-1740 .form-item.form-type-checkbox.form-item-submitted-additional-information-how-did-you-hear-about-us-select-2,
#webform-client-form-1740 .form-item.form-type-checkbox.form-item-submitted-additional-information-how-did-you-hear-about-us-select-Tradeshow,
#webform-client-form-1740 .form-item.form-type-checkbox.form-item-submitted-additional-information-how-did-you-hear-about-us-select-Sales {
	float: left;
}

/* Additional Services section */
#webform-client-form-1740 .form-item.form-type-checkbox.form-item-submitted-product-request-additional-services-additional-services-Regular-Services {
	width: 240px;
}

/* Credit Request section */
#webform-client-form-1740 .form-item.form-type-checkbox.form-item-submitted-credit-request-billing-currency-select-USD,
#webform-client-form-1740 .form-item.form-type-checkbox.form-item-submitted-credit-request-billing-currency-select-CAD{
	float: left;
}

#webform-client-form-1740 .form-item.form-type-checkbox.form-item-submitted-additional-information-how-did-you-hear-about-us-select-1,
#webform-client-form-1740 .form-item.form-type-checkbox.form-item-submitted-additional-information-how-did-you-hear-about-us-select-FBO,
#webform-client-form-1740 .form-item.form-type-checkbox.form-item-submitted-additional-information-how-did-you-hear-about-us-select-3 {
	padding-left: 150px;
}

/* ----------------------------------------------------- */
/* Bulk Credit Application Form */

#webform-client-form-1739 .webform-component-column .webform-container-inline input.form-text {
	width: 100%;
}

#webform-client-form-1739 .webform-progressbar{
	width: 90%;
	margin: 0px auto;
	text-align: center;
	padding-bottom: 10px;
}

#webform-client-form-1739 .webform-progressbar-page,
#webform-client-form-1739 .webform-progressbar-outer{
	border: 1px solid #0054a4;
}

#webform-client-form-1739 .webform-progressbar-page.current,
#webform-client-form-1739 .webform-progressbar-inner,
#webform-client-form-1739 .webform-progressbar-page.completed{
	background-color: #0054a4;
}

#webform-client-form-1739 fieldset.webform-component-fieldset {
	margin: 20px auto;
	padding: 10px;
	position: relative;
	background-color: #f5f5f5;
}

#webform-client-form-1739 fieldset.webform-component-fieldset legend {
  background: #0054a4 !important;
  border-radius: 5px;
  clear: both;
  color: #fff;
  padding: 6px 10px;
  font-weight: bold;
}

#webform-client-form-1739 .content-checkbox-textfield .form-type-checkbox label {
	color: #000;
}

#webform-client-form-1739 .webform-component-checkboxes .form-checkboxes .form-item input {
	float: none;
	margin: 5px;
	margin-top: 7px;	
}

#webform-client-form-1739 .webform-component-radios .form-type-radio {
	float: left;
}

#webform-client-form-1739 .form-submit {
	background: #0054a4;
	height: 30px;
}

#webform-client-form-1739 .form-submit:hover {
	color: #fff;
}

#webform-client-form-1739 .webform-previous.form-submit {
	float: left;
}

/* Bulk Credit "How did you hear about us?" section */
#webform-client-form-1739 .form-item.form-type-checkbox.form-item-submitted-how-did-you-hear-about-us-lead-source-select-1,
#webform-client-form-1739 .form-item.form-type-checkbox.form-item-submitted-how-did-you-hear-about-us-lead-source-select-3,
#webform-client-form-1739 .form-item.form-type-checkbox.form-item-submitted-how-did-you-hear-about-us-lead-source-select-5 {
    float: left;
}

#webform-client-form-1739 .form-item.form-type-checkbox.form-item-submitted-how-did-you-hear-about-us-lead-source-select-2,
#webform-client-form-1739 .form-item.form-type-checkbox.form-item-submitted-how-did-you-hear-about-us-lead-source-select-4,
#webform-client-form-1739 .form-item.form-type-checkbox.form-item-submitted-how-did-you-hear-about-us-lead-source-select-select-or-other {
    padding-left: 150px;
}

/* Bulk Credit "Customer Preference" Monthly Vol Fields */
#webform-client-form-1739 #edit-submitted-customer-preferences-custpreflb1-monthly-vol-usg,
#webform-client-form-1739 #edit-submitted-customer-preferences-custpreflb2-monthly-vol-usg-2,
#webform-client-form-1739 #edit-submitted-customer-preferences-custprefb3-monthly-vol-usg-3,
#webform-client-form-1739 #edit-submitted-customer-preferences-custpreflb4-monthly-vol-usg-4 {
	width: 100%;
}

#webform-client-form-1739 .form-item.form-type-checkbox.form-item-submitted-customer-preferences-invoicing-preferences-select-1,
#webform-client-form-1739 .form-item.form-type-checkbox.form-item-submitted-customer-preferences-invoicing-preferences-select-3 {
	float: left;
}

/* Billing Address section */
#webform-client-form-1739 .form-item.form-type-checkbox.form-item-submitted-billing-information-billing-address---same-as-company-1 {
	width: 232px;
}