@charset "UTF-8";

/* 

	Reliance Steel & Aluminum Co.								
	
	Custom Font CSS


*/




/* @license
 * MyFonts Webfont Build ID 2531935, 2013-04-16T13:35:02-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Avenir 65 Medium by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/65-medium/
 * 
 * Webfont: Avenir 55 Roman by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/55-roman/
 * 
 * Webfont: Avenir 35 Light by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/35-light/
 * 
 * Webfont: Avenir 85 Heavy by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/85-heavy/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2531935
 * Webfonts copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 1981 - 2007 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be repro
 * 
 * © 2013 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("../../hello.myfonts.net/count/26a25f.css")/*tpa=http://hello.myfonts.net/count/26a25f*/;

  
@font-face {font-family: 'Avenir-Medium';src: url('webfonts/26A25F_0_0.eot')/*tpa=http://www.rsac.com/css/webfonts/26A25F_0_0.eot*/;src: url('webfonts/26A25F_0_0.eot-#iefix')/*tpa=http://www.rsac.com/css/webfonts/26A25F_0_0.eot?#iefix*/ format('embedded-opentype'),url('webfonts/26A25F_0_0.woff')/*tpa=http://www.rsac.com/css/webfonts/26A25F_0_0.woff*/ format('woff'),url('webfonts/26A25F_0_0.ttf')/*tpa=http://www.rsac.com/css/webfonts/26A25F_0_0.ttf*/ format('truetype');}
 
  
@font-face {font-family: 'Avenir';src: url('webfonts/26A25F_1_0.eot')/*tpa=http://www.rsac.com/css/webfonts/26A25F_1_0.eot*/;src: url('webfonts/26A25F_1_0.eot-#iefix')/*tpa=http://www.rsac.com/css/webfonts/26A25F_1_0.eot?#iefix*/ format('embedded-opentype'),url('webfonts/26A25F_1_0.woff')/*tpa=http://www.rsac.com/css/webfonts/26A25F_1_0.woff*/ format('woff'),url('webfonts/26A25F_1_0.ttf')/*tpa=http://www.rsac.com/css/webfonts/26A25F_1_0.ttf*/ format('truetype');}
 
  
@font-face {font-family: 'Avenir-Light';src: url('webfonts/26A25F_2_0.eot')/*tpa=http://www.rsac.com/css/webfonts/26A25F_2_0.eot*/;src: url('webfonts/26A25F_2_0.eot-#iefix')/*tpa=http://www.rsac.com/css/webfonts/26A25F_2_0.eot?#iefix*/ format('embedded-opentype'),url('webfonts/26A25F_2_0.woff')/*tpa=http://www.rsac.com/css/webfonts/26A25F_2_0.woff*/ format('woff'),url('webfonts/26A25F_2_0.ttf')/*tpa=http://www.rsac.com/css/webfonts/26A25F_2_0.ttf*/ format('truetype');}
 
  
@font-face {font-family: 'Avenir-Heavy';src: url('webfonts/26A25F_3_0.eot')/*tpa=http://www.rsac.com/css/webfonts/26A25F_3_0.eot*/;src: url('webfonts/26A25F_3_0.eot-#iefix')/*tpa=http://www.rsac.com/css/webfonts/26A25F_3_0.eot?#iefix*/ format('embedded-opentype'),url('webfonts/26A25F_3_0.woff')/*tpa=http://www.rsac.com/css/webfonts/26A25F_3_0.woff*/ format('woff'),url('webfonts/26A25F_3_0.ttf')/*tpa=http://www.rsac.com/css/webfonts/26A25F_3_0.ttf*/ format('truetype');}
 