.lt-ie9 body {	position: relative;overflow-x: hidden; color: #666; background: url('../img/home-background.png')/*tpa=http://www.rsac.com/img/home-background.png*/ no-repeat center top #000 !important; }

/* The Grid ---------------------- */
.lt-ie9 .row { width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column, 
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }

.lt-ie9 .column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }

.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }

.lt-ie9 .large-1, 
.lt-ie9 .row .large-1 { width: 8.33333%; }

.lt-ie9 .large-2, 
.lt-ie9 .row .large-2 { width: 16.66667%; }
.lt-ie9 .row .large-2-interior { position: relative; width: 23%; }
.lt-ie9 .row .large-2-products { position: relative; width: 25%; }

	

.lt-ie9 .large-3, 
.lt-ie9 .row .large-3 { width: 25%; }

.lt-ie9 .large-4, 
.lt-ie9 .row .large-4 { width: 33.33333%; }

.lt-ie9 .large-5, 
.lt-ie9 .row .large-5 { width: 41.66667%; }

.lt-ie9 .large-6, 
.lt-ie9 .row .large-6 { width: 50%; }

.lt-ie9 .large-7, 
.lt-ie9 .row .large-7 { width: 58.33333%; }

.lt-ie9 .large-8, 
.lt-ie9 .row .large-8 { width: 66.66667%; }

.lt-ie9 .large-9, 
.lt-ie9 .row .large-9 { width: 75%; }

.lt-ie9 .large-10, 
.lt-ie9 .row .large-10 { width: 83.33333%; }

.lt-ie9 .large-11, 
.lt-ie9 .row .large-11 { width: 91.66667%; }

.lt-ie9 .large-12,
.lt-ie9 .row .large-12 { width: 100%; }

.lt-ie9 .row .large-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .large-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .large-offset-3 { margin-left: 25%; }
.lt-ie9 .row .large-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .large-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .large-offset-6 { margin-left: 50%; }
.lt-ie9 .row .large-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .large-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .large-offset-9 { margin-left: 75%; }
.lt-ie9 .row .large-offset-10 { margin-left: 83.33333%; }

.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }

.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }

.lt-ie9 .show-for-small		{ display: none !important; }
.lt-ie9 .show-for-medium, .lt-ie9 .show-for-medium-up, .lt-ie9 .show-for-large, .lt-ie9 .show-for-large-up, .lt-ie9 .show-for-xlarge, .lt-ie9 .hide-for-small	{ display: inherit !important;}
	

/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }



/* block grid outside of media queries 	*/


.lt-ie9 .large-block-grid-1 > li {	width: 100%; padding: 0 10px 10px; 	}
.lt-ie9 .large-block-grid-1 > li:nth-of-type(1n+1) {	clear: both; }

.lt-ie9 .large-block-grid-2 > li { width: 50%; padding: 0 10px 10px; }
.lt-ie9 .large-block-grid-2 > li:nth-of-type(2n+1) { clear: both; }

.lt-ie9 .large-block-grid-3 > li {width: 33.33333%;padding: 0 10px 10px; float:left;}
.lt-ie9 .large-block-grid-3 > li:nth-of-type(3n+1) {clear: both; }

.lt-ie9 .large-block-grid-4 > li {width: 25%;padding: 0 10px 10px; float:left; }
.lt-ie9 .large-block-grid-4 > li:nth-of-type(4n+1) {clear: both; }

.lt-ie9 .large-block-grid-5 {margin: 0; padding: 0; width: 100%;}

.lt-ie9 .large-block-grid-5 > li {width: 20%; padding: 0 5px 10px 0; }
.lt-ie9 .large-block-grid-5 > li:nth-of-type(5n+1) {clear: both; }
.lt-ie9 .large-block-grid-5 p {white-space: nowrap;}
	  
.lt-ie9 .large-block-grid-5a > li {	width: 20%; padding: 0 10px 10px; }
.lt-ie9 .large-block-grid-5 > #prd {margin-left: 5.5%;} /* CENTERING HACK */
.lt-ie9 .large-block-grid-5a > li:first-child + li +li {clear:both;}

 
.lt-ie9 .large-block-grid-6 > li { width: 16.66667%; padding: 0 10px 10px; }
.large-block-grid-6 > li:nth-of-type(6n+1) {clear: both; }

.lt-ie9 .large-block-grid-7 > li { width: 14.28571%;padding: 0 10px 10px; }
.lt-ie9 .large-block-grid-7 > li:nth-of-type(7n+1) {clear: both; }

.lt-ie9 .large-block-grid-8 > li { width: 12.5%;padding: 0 10px 10px; }
.lt-ie9 .large-block-grid-8 > li:nth-of-type(8n+1) {clear: both; }

.lt-ie9 .large-block-grid-9 > li { width: 11.11111%;padding: 0 10px 10px; }
.lt-ie9 .large-block-grid-9 > li:nth-of-type(9n+1) { clear: both; }

.lt-ie9 .large-block-grid-10 > li { width: 10%;padding: 0 10px 10px; }
.lt-ie9 .large-block-grid-10 > li:nth-of-type(10n+1) {clear: both; }

.lt-ie9 .large-block-grid-11 > li { width: 9.09091%;padding: 0 10px 10px; }
.lt-ie9 .large-block-grid-11 > li:nth-of-type(11n+1) {clear: both; }

.lt-ie9 .large-block-grid-12 > li { width: 8.33333%;padding: 0 10px 10px; }
.lt-ie9 .large-block-grid-12 > li:nth-of-type(12n+1) {clear: both; }

.lt-ie9 [class*="small-block-grid-"] > li { clear: none !important; }






/* Reliance Specific IE8 Styles */


.lt-ie9 .top-square  { overflow: auto; width: 100%;}
.lt-ie9 .clear 		 { clear: both; line-height: 1px; }
 
.lt-ie9 #leadership-photos li 						{ list-style: none;}
.lt-ie9 #leadership-photos li .full-link:hover 		{ width: 80%; z-index: 2000;}
.lt-ie9 #leadership-photos li .full-link:hover img  { position: relative; z-index: 199;}


.lt-ie9 #process-types.process-types li .full-link:hover {width: 200px; height: 200px; z-index: 2000;}
.lt-ie9 #product-types li img {z-index: 2;}

/* .lt-ie9 .board-of-directors .reveal-modal {min-width: 700px; position: absolute; left: 20px; top: -850px !important; margin: 0 auto;} */
 
 .lt-ie9 .board-of-directors .reveal-modal    {top: 50px !important;}
 .lt-ie9 .executive-management .reveal-modal    {top: 50px !important;}
  .lt-ie9 .contact .reveal-modal    {top: 50px !important;}
 
.lt-ie9 #form-tabs .tab .tab-title 			{color: rgb(50, 112, 89); background-color: rgb(224, 234, 230); z-index: 2;}
.lt-ie9 #form-tabs .tab.init .tab-title 	{color: rgb(0, 82, 127); background-color: rgb(202, 219, 212); z-index: 2;}

/*
.lt-ie9 #contact-form-window input,
 .lt-ie9 #contact-form-window select,
 .lt-ie9 #contact-form-window textarea 			{ width: auto !important; }
.lt-ie9 #contact-form-window #contact-confirm   { margin-left: -10%; width: 55% !important; }
.lt-ie9 #contact-form-window h3 				{ width: 87%; }
.lt-ie9 #contact-form-window .row .row			{ width: 86%; }
*/

.lt-ie9 .quote-inquiry input, .lt-ie9 .quote-inquiry select, .lt-ie9 .quote-inquiry textarea { width: 80% !important; }
.lt-ie9 .quote-inquiry #chk-same-address { width: auto !important;} 


.lt-ie9 #quote-inquiry-window-2 #info-left		{ width: 44%; margin-right: 1%; }
.lt-ie9 #quote-inquiry-window-2 #info-right		{ width: 47%; } 

.lt-ie9 .products .reveal-modal.large 			{ min-width: 800px; }

.lt-ie9 #flip 				{ margin-left: 225px;}

.lt-ie9	#sub-nav li			{ display: inline; top: 4px; padding-top: 111px !important; padding-bottom: 26px !important;  }
.lt-ie9	#sub-nav li	a		{ display: inline-block; width: 19% !important; padding-top: 19px;  }

.lt-ie9 #sitemap										{	margin-left: 10px; }
.lt-ie9 #sitemap.sitemap li  							{	list-style-type: none; margin: 0 0 5px 0; padding: 0;	}
.lt-ie9 #sitemap h3										{ 	margin-bottom: 0.3em;  }
.lt-ie9 #sitemap h4										{ 	margin-top: 0;  }
.lt-ie9 #sitemap.sitemap li ul							{	margin: 0 0 15px 10px; padding: 0;}
.lt-ie9 #sitemap.sitemap li ul li 						{   list-style-type: none; padding-left: 0.035em; text-indent: -.7em; line-height: 1.35em;margin-bottom:0; padding-top:0;padding-bottom:0;}
.lt-ie9 #sitemap.sitemap li ul li:before 				{   content: "• "; color: #96b7ac;  }
.lt-ie9 #sitemap.sitemap a 								{	display: inline; color: inherit; font-size: inherit; text-decoration: none;}
