/* ==========================================================================
    CSS Styles for Reliance - Locations & Contact Page
    By Eddie Lopez

    ===[MENU]===
        1. Tabs
        2: Helper Classes

   ========================================================================== */

/*=========================================[1: Tabs ]*/

#form-tabs .tabs                                                {position: relative;min-height:54px;}
#form-tabs .tab                                                 {float: left;width:32.6%;}
#form-tabs .tab label                                           {text-align: center;color:#327059;font-size:14px;background-color: #E0EAE6;padding: 20px 10px;margin-left: -1px;margin-right: 2px;position: relative;left: 1px; font-family: 'Avenir-Light', arial;}
#form-tabs .tab:nth-child(3) label   							{width: 100%;}
#form-tabs .tab [type=radio]                                    {display: none;}
#form-tabs .tab-content                                         {width: 97.6%;left: 0;background-color:#CADBD4;padding:19px 0;height:70px;z-index: 1;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;}

.tab-content p  					{font-size: 12px; margin: 0 0 -5px 0; padding: 0; line-height: 0.5em;}
.tab-content input					{top: 10px; margin-bottom: 0;} 
 .tab-content select				{top: 8px; margin-bottom: 0;}
.tab-content a.btn-search 			{top: 1px; margin-bottom: 0; padding: 9px 2px 10px 2px !important;}

/* #form-tabs .tab-content .btn-search                             {margin-top: 0;} */
#form-tabs .content .large-9                                    {padding-left:0;}
#form-tabs .content .large-3                                    {padding-right: 0;padding-left: 0;}
#form-tabs [type=radio]:checked ~ label                         {color: #00527F;background-color:#CADBD4;z-index: 2;}
#form-tabs label.checked										{color: #00527F;background-color:#CADBD4;z-index: 2;}
#form-tabs [type=radio]:checked ~ label ~ .content              {background-color:#CADBD4;z-index: 1;}
#form-tabs form.custom .custom.dropdown                         {top: 10px;}
#form-tabs .tab-content-item                                    {display: none;}
#view-all-locations                                             {background: #E0EAE6; padding: 18px 28px 27px 28px !important; border-radius: 10px;}
#view-all-locations h5                                          {font-family: 'Avenir-Light', arial; font-weight: normal; margin-top: 0;}
#view-all-locations  a.btn-search								{top: 8px; padding: 9px 2px 10px 2px !important; }

/*=========================================[2: Helper Classes ]*/
.border-right                                {border-right: 1px solid #e4e4e9; padding-left: 0; padding-right: 0;}
.border-left                                 {border-left: 1px solid #e4e4e9; padding-left: 0; padding-right: 0;}
.border-top                                  {border-top: 1px solid #e4e4e9; padding-left: 0; padding-right: 0;}
.border-bottom                               {border-bottom: 1px solid #e4e4e9; padding-left: 0; padding-right: 0;}


@media only screen and (min-width: 48em){    #tab-content-1 .large-3,#tab-content-2 .large-3, #tab-content-3 .large-3{padding-left: 0;}#view-all-locations {background: #E0EAE6;padding: 20px 16px}}
@media only screen and (max-width: 767px) {
    #form-tabs  {margin: 20px 0;}
    #form-tabs .tab-content {height: 133px;}
    #form-tabs #tab-content-3 .large-12 {padding-top: 30px;}

    #form-tabs .content .btn-search{
        width: 100%;
    }

}
