input:focus::-webkit-input-placeholder, #ask_question:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder, #ask_question:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder, #ask_question:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder, #ask_question:focus:-ms-input-placeholder {
    color: transparent;
}

#subscription_services_container .col-sm-8 {
    min-height: 310px;
}



.myresource_manage_account {
    background-image: url(../../publishingimages/Republic_Services_account.jpg)/*tpa=http://www.republicservices.com/publishingimages/Republic_Services_account.jpg*/ !important;
}


.legal-content {
    background-color: #eee;
    height: 355px;
    margin-bottom: 15px;
    overflow-y: scroll;
    padding: 15px 20px;
}

/*allows the product detail image to be correctly sized*/
#detail_image {
    text-align: center !important;
}

    #detail_image .tmb {
        width: auto !important;
    }

/*temp fix for HOA*/
.hoa-icon-fix {
    height: 420px !important;
}

    .hoa-icon-fix h4 {
        min-height: 60px !important;
    }

@media (min-width: 325px) {
    .hoa-icon-fix {
        height: 330px !important;
    }

        .hoa-icon-fix h4 {
            min-height: 45px !important;
        }
}

@media (min-width: 400px) {
    .hoa-icon-fix {
        height: 310px !important;
    }

        .hoa-icon-fix h4 {
            min-height: 45px !important;
        }

    .municipalities .service_offerings .transparent_box {
        min-height: 295px !important;
        margin-bottom: 20px;
    }
}

@media (min-width: 988px) {
    .hoa-icon-fix {
        height: 250px !important;
    }

        .hoa-icon-fix h4 {
            min-height: 45px !important;
        }
}

@media (min-width: 768px) {
    .hoa-icon-fix {
        height: 200px !important;
    }

        .hoa-icon-fix h4 {
            min-height: 25px !important;
        }
}

/*ironing out pagers for biz verticals*/
.businesses_child #local_1 .row {
    min-height: 135px;
}

.businesses_child #local_2 .row {
    min-height: 135px;
}

.businesses_child #service_offerings_1 .row {
    min-height: 240px;
}

.businesses_child #service_offerings_2 .row {
    min-height: 240px;
}

.community_child #local_1 .row {
    min-height: 135px;
}

.community_child #local_2 .row {
    min-height: 135px;
}

.community_child #service_offerings_1 .row {
    min-height: 240px;
}

.community_child #service_offerings_2 .row {
    min-height: 240px;
}

.municipalities .service_offerings .transparent_box {
    min-height: 375px;
    margin-bottom: 20px;
}

/*for keeping slide shows the same height*/
.retail .flat_top .cycle-slideshow, .retail .industrial_rectangle .cycle-slideshow, .retail .industrial_curve .cycle-slideshow, .retail .slanted_top .cycle-slideshow {
    min-height: 170px !important;
}

#rental_options {
    padding-bottom: 50px;
}

/*for checkout form*/
#service_info_form .col-md-6 {
    width: 98% !important;
}
/*adding in for addressvalidator until we get the 9/12 build worked in*/
.radio_w input[type=radio] {
    float: left;
    margin-top: 5px;
}

.retail #select_address_local, .retail #select_address_regional, .retail #response_local, .retail #response_regional {
    display: none;
}

#select_address {
    display: none;
    text-align: center;
    margin-top: 50px;
}

#searching_for_services {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-style: none;
    display: none;
}

.search-tip-text {
    display: block;
    position: relative;
    color: #004a7c;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    padding-bottom: 5px;
}

/*miscellaneous for 9/5 LT build*/
#residentialAdditionalInfo {
    margin-top: 0px !important;
    padding-top: 30px !important;
    border-bottom-style: none !important;
}

#residentialServiceHours a {
    line-height: 60px !important;
}

.ask .ask-form {
    margin-top: 30px;
    margin-bottom: 29px;
    color: #76787a;
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
}

    .ask .ask-form input[type=text] {
        background: transparent;
        height: auto;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #00b1ed;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        border-top: 0px;
        /* Firefox 18- */
        /* Firefox 19+ */
    }
        /* line 875, /app/source/assets/css/_utility.scss */
        .ask .ask-form input[type=text]::-webkit-input-placeholder {
            color: #00b1ed;
        }
        /* line 876, /app/source/assets/css/_utility.scss */
        .ask .ask-form input[type=text]:-moz-placeholder {
            color: #00b1ed;
        }
        /* line 877, /app/source/assets/css/_utility.scss */
        .ask .ask-form input[type=text]::-moz-placeholder {
            color: #00b1ed;
        }
        /* line 878, /app/source/assets/css/_utility.scss */
        .ask .ask-form input[type=text]:-ms-input-placeholder {
            color: #00b1ed;
        }
/*end miscellaneous overrides */
/*override for sticky shopping cart bar*/
#shoppingCartBar {
    display: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}
/*temporary css for forms*/
div.inputdata {
    width: 600px;
    padding: 0.1em;
    margin: 0.1em;
}

    div.inputdata label {
        float: left;
        margin-right: 10px;
        padding: 5px 0;
        color: gray;
    }

    div.inputdata span {
        display: block;
        overflow: hidden;
        float: right;
        width: 75%;
    }

    div.inputdata input {
        padding-top: 6px;
        border: thin solid gray;
        background: none;
        width: 98%;
    }

.clear {
    clear: both;
}

div.inputdata textarea {
    margin-top: 10px;
    padding-top: 6px;
    border: thin solid gray;
    background: none;
    width: 98%;
}

.textarea-div {
    float: right;
    width: 75%;
}

.radiobutton-div {
    width: 87%;
    float: right;
    padding-top: 2px;
}

.checkbox-div {
    float: left;
    width: 25px !important;
}

div.radiobutton label {
    float: left;
    margin-right: 10px;
    padding: 5px 0;
    color: gray;
}

div.radiobutton input {
    vertical-align: baseline !important;
    margin-right: 5px;
}
/*end temporary css for forms*/


/* Common Override Existing CSS Classes*/
body {
    overflow: inherit;
}

.custom-select, .custom-select select {
    padding-right: 0px;
}

    .custom-select select {
        background-image: url(../../PublishingImages/arw-select-down-1.png)/*tpa=http://www.republicservices.com/PublishingImages/arw-select-down.png*/;
        background-repeat: no-repeat;
        background-size: 37px 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        line-height: 22px !important;
        border: none;
        width: 106% !important;
        background-position: 96% center;
    }

        .custom-select select::-ms-expand {
            display: none;
        }

.custom-select {
    border: 1px solid #C6C8CA;
    overflow: hidden;
    max-height: 46px;
}

.has-error .custom-select {
    border: 1px solid #a94442;
}

.custom-select option {
    width: 90%;
    max-width: 95%;
    padding: 0px;
    margin: 0px;
}

select {
    padding-right: 0px !important;
}

/*Global Search Textbox Styles*/

.search_dropdown #global-search {
    max-width: 210px;
    width: 210px !important;
}

@media (min-width: 768px) {
    .search_dropdown #global-search {
        max-width: 500px;
        width: 220px !important;
    }
}

@media (min-width: 988px) {
    .search_dropdown #global-search {
        max-width: 800px;
        width: 220px !important;
    }
}

/*Global Search Textbox Styles - END*/



.ctbcommercial .custom-select {
    width: 300px;
}

.ms-vb a:visited, .ms-vb2 a:visited, .ms-vb-user a:visited {
    color: #004a7c;
    text-decoration: none !important;
}

.ms-vb a:hover, .ms-vb2 a:hover, .ms-vb-user a:hover {
    color: #004a7c;
    text-decoration: none;
}

.ms-vb a:visited:hover, .ms-vb2 a:visited:hover, .ms-vb-user a:visited:hover {
    color: #00335e;
    text-decoration: none;
}

a {
    color: #00335e;
    text-decoration: none;
}

    a:visited {
        color: #00b1ed;
        text-decoration: none;
    }

input[type=button], input[type=reset], input[type=submit], button {
    color: #00b1ed;
    font-size: 16px;
    border: 2px solid #00b1ed;
    font-family: 'Open Sans', sans-serif;
}

.ms-rtestate-field h2, h2.ms-rteElement-H2 {
    line-height: 30px !important;
    color: #004a7c;
}

.ms-rtestate-field h1, h1.ms-rteElement-H1 {
    line-height: 36px;
    color: #004a7c;
}

.ms-rtestate-field h3, h3.ms-rteElement-H3 {
    line-height: 22px !important;
}

.hero .container h1 {
    line-height: 36px !important;
}

.page_heading {
    line-height: 1px !important;
}

p {
    margin: 0px 0px 1em 0px !important;
    line-height: 22px !important;
}

.hero, .hero p {
    line-height: 16px !important;
}

input, select, label, textarea, button, option {
    vertical-align: inherit;
}

.businesses_child h1 {
    line-height: 36px !important;
}

.icn_txt h4, .font_med {
    color: #575a5b !important;
}

a.font_med {
    color: #00b1ed !important;
}

#detail_info .small_blue_btn label {
    padding: 12px 18px 12px 17px !important;
}

.nav-tabs.pagination li {
    margin: 0px 23px 0px 22px !important;
}

@media (min-width: 768px) {
    .hero .container h1 {
        line-height: 66px !important;
    }

    .ms-rtestate-field h2, h2.ms-rteElement-H2 {
        line-height: 46px !important;
    }

    .ms-rtestate-field h3, h3.ms-rteElement-H3 {
        line-height: 30px !important;
    }

    .case-study-section .container .row .case-study h3 {
        line-height: 32px !important;
    }

    h2.sml {
        font-size: 40px;
        line-height: 40px !important;
    }

    .customer_support .hero_cont .container .mod p {
        line-height: 30px !important;
    }

    .ms-rtestate-field h1, h1.ms-rteElement-H1 {
        line-height: 66px;
    }

    .hero, .hero p {
        line-height: 26px !important;
    }

    input[type=button], input[type=reset], input[type=submit], button {
        font-size: 18px;
    }

    .businesses_child h1 {
        line-height: 66px !important;
    }

    .nav-tabs.pagination li {
        margin: 0px 10px 0px 9px !important;
    }
}

.stats .stat h3 {
    line-height: 52px !important;
}

.hero .container h1 {
    color: white;
}

.ms-vb2 {
    padding: 0px !important;
}

.padding-top-12 {
    padding-top: 12px;
}

.businesses .service_offerings .centered_select select {
    padding-right: 0px !important;
}

.padding_top {
    padding-top: 30px;
}

@media (min-width: 768px) {
    .padding_top {
        padding-top: 40px;
    }
}


/* Common Override Existing CSS Classes - END*/


/*Global Navigation */
.utility-nav li a {
    color: #fff !important;
    text-decoration: none;
}

    .utility-nav li a:hover, .utility-nav li a:visited {
        color: #fff;
        text-decoration: none;
    }


/*Global Navigation - END */

/*Main Menu Styles*/
#divMenu a.active {
    border-bottom: 1px solid #004a7c;
}

/*Main Menu Styles*/


/*Footer Menu Styles*/
@media (min-width: 768px) {
    #footer2 footer[role="contentinfo"] {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }

    .retail .container_type {
        margin-bottom: 40px !important;
    }
}

@media (min-width: 988px) {
    .retail .container_type {
        margin-bottom: 0px !important;
    }
}




#footer2 .footer_menu {
    float: left;
}
/*Footer Menu Styles - END*/

/*Business Page Styles*/

.centered_select {
    height: 54px;
}

/*Business Page Styles - END*/


/*Communities L3 Pages*/
.nav-tabs.pagination {
    font-size: 18px !important;
    line-height: 18px !important;
}
/*Communities L3 Pages - END*/

/* Facilities Page Styles*/

@media screen and (min-width: 768px) {
    .facilities #residentialContactInfo {
        text-align: left;
    }
}

/* Facilities Page Styles - END*/

/*Global Pages Styles*/
.nav-tabs.centered.steps li {
    margin-left: 0px !important;
}
/*Global Pages Styles - END*/


/*Communities - community-involvement Styles*/
.community_child #amgPeople_1 {
    background-image: url(../../publishingimages/img-story-john-smith-saves-a-life.jpg)/*tpa=http://www.republicservices.com/publishingimages/img-story-john-smith-saves-a-life.jpg*/;
}

.community_child #amgPeople_2 {
    background-image: url(../../publishingimages/img-story-helping-after-a-huricane.jpg)/*tpa=http://www.republicservices.com/publishingimages/img-story-helping-after-a-huricane.jpg*/;
}

.community_child #amgPeople_3 {
    background-image: url(../../publishingimages/img-story-digging-neighbors-out-of-the-snow.jpg)/*tpa=http://www.republicservices.com/publishingimages/img-story-digging-neighbors-out-of-the-snow.jpg*/;
}


.community_child #sharingStories_1 {
    background-image: url(../../publishingimages/img-story-celebrating-earth-day.jpg)/*tpa=http://www.republicservices.com/publishingimages/img-story-celebrating-earth-day.jpg*/;
}

.community_child #sharingStories_2 {
    background-image: url(../../publishingimages/img-story-recycling-relay-for-life.jpg)/*tpa=http://www.republicservices.com/publishingimages/img-story-recycling-relay-for-life.jpg*/;
}

.community_child #sharingStories_3 {
    background-image: url(../../publishingimages/img-story-cool-home-innovation-event.jpg)/*tpa=http://www.republicservices.com/publishingimages/img-story-cool-home-innovation-event.jpg*/;
}

.community_child #sharingStories_4 {
    background-image: url(../../publishingimages/img-story-rock-for-the-kids.jpg)/*tpa=http://www.republicservices.com/publishingimages/img-story-rock-for-the-kids.jpg*/;
}

.community_child #sharingStories_5 {
    background-image: url(../../publishingimages/img-story-environmental-student-awards.jpg)/*tpa=http://www.republicservices.com/publishingimages/img-story-environmental-student-awards.jpg*/;
}

.community_child #sharingStories_6 {
    background-image: url(../../publishingimages/img-story-supporting-the-american-legion.jpg)/*tpa=http://www.republicservices.com/publishingimages/img-story-supporting-the-american-legion.jpg*/;
}

.community_child #sharingStories_7 {
    background-image: url(../../publishingimages/img-story-caring-for-stray-animals.jpg)/*tpa=http://www.republicservices.com/publishingimages/img-story-caring-for-stray-animals.jpg*/;
}

.community_child #sharingStories_8 {
    background-image: url(../../publishingimages/img-story-race-for-life.jpg)/*tpa=http://www.republicservices.com/publishingimages/img-story-race-for-life.jpg*/;
}

#representative_search {
    text-align: center;
}

input[type=text] {
    color: #555555;
}

/*Communities - community-involvement Styles End*/


/*C2b Residential Page Styles*/

#c2bresimaindiv #formContainer select, .procurement #formContainer select {
    /*display: table-cell;*/
    background-color: transparent;
    background-image: url(../../PublishingImages/arw-select-down-1.png)/*tpa=http://www.republicservices.com/PublishingImages/arw-select-down.png*/;
    background-repeat: no-repeat;
    background-size: 37px 10px;
    width: 100%;
    height: 46px;
    padding: 0px !important;
    color: #003660;
    font-size: 14px;
    -webkit-appearance: none;
    outline: 0;
    overflow: hidden;
}

#c2bresimaindiv #formContainer .custom-select select {
    width: 103% !important;
}

/*C2b Residential Page Styles - END*/

/*Customer Support Page Styles*/
@media {
    .customer_support .hero_cont .pic {
        z-index: inherit !important;
    }
    /*Customer Support Page Styles - END*/
    .additional_resources .resource_link, .ask .wrapper a {
        color: #00335e !important;
    }

        .additional_resources .resource_link, .ask .wrapper a:hover {
            color: #075ba1 !important;
        }
}

.camera-link:hover {
    color: #428bca !important;
}

/*Contact Us Styles*/
.nationalAccount {
    text-align: center !important;
}

    .nationalAccount p {
        font-weight: 300;
        font-size: 24px;
    }

/*Contact Us Styles*/

/*Site Alerts Styles*/

.rs_alert .close {
    min-width: 0px !important;
}

.rs_alert .cont p {
    line-height: 30px !important;
}

/*Site Alerts Styles*/


/*C2B Residential Styles*/

#c2bresimaindiv #divTrashRecycle .panel, #c2bresimaindiv #divTrash .panel {
    min-height: 360px;
}

/*C2B Residential Styles - END*/

/*Validation Message Styles*/

.search-box .search_field_w .form-group .help-block {
    top: 38px;
}

/*Validation Message Styles - END*/


/*.ms-rtestate-field a {
    color: #fff;
}*/
.underline:hover {
    color: #075ba1 !important;
}
/*.col-md-3 a {
    color: #00335e !important;
}*/
.service_pagination li.active a, .service_pagination li a:hover {
    color: #004a7c !important;
}

.service_pagination li a {
    color: #76787a !important;
}
/*Search Box Styles*/
.search-box .search-field {
    background-color: #fff;
}
/*Search Box Styles End*/
/*Heading Styles Override*/
.blue-light {
    color: #00b1ed !important;
}

.blue-brand {
    color: #00335e !important;
}

.page_heading {
    color: #00b1ed !important;
    line-height: .1em !important;
}
/*Heading Styles Override -End*/

/*Campaign pages Styles*/
.campaign .btn + .btn {
    margin-top: 0px;
    margin-left: 20px;
}

.campaign .btn_close_custom {
    min-width: 200px !important;
    margin-bottom: 10px;
    width: 40%;
    margin-left: 0px;
}

.campaign input[type=text] {
    padding-left: 8px;
}

.campaign hr {
    margin-top: 0px;
}

.campaign .mod {
    margin-bottom: 40px;
    height: auto;
}

.campaign .padding-bottom {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .campaign .mod {
        text-align: center;
        margin-left: 150px;
        height: auto;
    }
}


/*Campaign pages Styles - END*/



/*Global Navigation style override*/
.ms-vb2 {
    padding: 0px !important;
}
/*L2 Menu Style override*/
/*
	Jeff:07/30/2014
	These are the new style overrides for icons 
*/
.businesses .category_nav ul {
    width: 1230px;
}

.community .category_nav ul {
    width: 620px;
}

.category_nav ul li div :last-child {
    border-right-style: none !important;
}

.residents .category_nav ul {
    width: 900px !important;
}

.contact_map h4 {
    color: #333333;
}
/*
	End Jeff:07/30/2014 Changes
*/
/*L2 Menu Style override - END*/
#ms-help a span {
    width: 30px !important;
    height: 30px !important;
}

.ms-siteactions-root > span > a.ms-core-menu-root {
    width: inherit !important;
    height: inherit !important;
}

.business_body .content h1, .businesses .business_services h1, .businesses .manage-account h1, .solid_waste .content-section h1 {
    line-height: 1.1 !important;
}

.scalibility h1 {
    line-height: 1.1 !important;
}
/* line 55, /Users/Terralever/localhost/Republic-Services/source/assets/css/_utility.scss */
.gray-5 {
    color: #76797b !important;
}
/* line 83, /Users/Terralever/localhost/Republic-Services/source/assets/css/_residential.scss */
.ask-form {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2em;
    font-weight: 300;
    color: #76797b;
}

.business_body .service-description {
    line-height: 22px !important;
}
/*Paragraph Styles END*/
.learn_more_cta {
    color: #00b1ed !important;
}

    .learn_more_cta:hover {
        color: #2a6496 !important;
    }

.white {
    color: white !important;
}

.service-offerings .tab-content a {
    color: #00335e;
}

    .service-offerings .tab-content a:hover {
        color: #2a6496;
    }
/*Right side menu styles */
#s4-workspace {
    overflow-y: hidden;
    position: static;
}

/*Right side menu styles - END*/
/*.service_hours a {
    color: #075ba1;
}

    .service_hours a:hover {
        color: #2a6496;
    }*/

.address-zip {
    margin-bottom: 0px !important;
}

    .address-zip .btn-search:hover {
        background-color: #00335e;
    }
/*Businesses L3-Retail page styles*/
.businesses_child .retail .retail-solutions img {
    width: 100% !important;
}

@media {
    .retail .carousel .slide img {
        width: 200px !important;
        max-width: 100% !important;
        height: 100px;
    }
}

input[type=button] {
    min-width: inherit !important;
}

.careers .responsible_disposal h1 {
    font-size: 4.286em;
}

.providing_care img {
    width: 100% !important;
}

.providing_care h4 {
    color: #333333;
}
/*Businesses L3-Retail page styles-END*/
@media {
    .sidebar-nav .btn-search {
        padding: 17px 15px;
        background: url(../../publishingimages/blue-header-sprite.png)/*tpa=http://www.republicservices.com/publishingimages/blue-header-sprite.png*/ -25px 4px no-repeat;
        border: none;
        width: 28px;
        height: 28px;
        background-size: 800%;
        right: 4px;
    }
}

.sidebar-tools a {
    color: #00335e;
}
/*Level-3 Right side navigation styles*/
.sidebar-nav .search-box {
    width: 240px !important;
}

.sidebar-nav .sidebar-nav-close {
    margin: 22px 16px 0px 0px;
}

.sidebar-nav .btn-search {
    min-width: 0px;
    right: -4px !important;
}

.sidebar-nav #section-search {
    margin: 22px 0px 16px 9px;
}

.solid_waste li a.solid-waste, .yard_waste li a.yard-waste {
    background: none;
}

.sidebar-menu a.active {
    background-color: #e5eff5 !important;
}
/*Level-3 Right side navigation styles - END*/


/*L3-Pages Styles*/
.residents_child .yard_waste img {
    width: 100%;
}

.residents_child .yard_waste h1, .businesses_child .retail h1 {
    line-height: 1.1;
}

.residents_child .yard_waste .scalibility h4 {
    color: #fff;
}

.residents_child .solid_waste .white .underline {
    color: #fff !important;
}

.businesses_child .retail .small_containers img, .businesses_child .retail .large_containers img {
    width: 100% !important;
}

.businesses_child .retail .row h4 {
    line-height: 1.1;
}


.community_child.municipalities .tab-content .icon-tile h4, .community_child.k12 .icon-tile h4, .community_child.community_involvement .icon-tile h4 {
    color: #333333;
}


.community_child.k12 .icon-tile img, .community_child.k12 img, .community_child.community_involvement img {
    width: 100%;
}

.community_child.k12 .accordion-tabs .nav-tabs li a {
    color: #00335e;
}

    .community_child.k12 .accordion-tabs .nav-tabs li a:hover {
        color: #075ba1;
    }

.community_child.community_involvement a.download_doc {
    color: #00335e;
}

    .community_child.community_involvement a.download_doc:hover {
        color: #075ba1;
    }
/*L3-Pages Styles - END*/
.businesses_child .retail .retail_nav ul li.active a, .businesses_child .retail .retail_nav ul li.active a:hover {
    color: #555555;
}

.businesses_child .retail .retail_nav ul li a {
    color: #00335e;
}

    .businesses_child .retail .retail_nav ul li a:hover {
        color: #075ba1;
    }

@media {
    .retail .retail_nav .nav-tabs > li {
        margin: 0 27px;
    }
}
/*Global navigation styles */
.customer_support_body h1 {
    line-height: 1.1;
}

.customer_support_body img {
    width: 100%;
}

.customer_support_body .our_facilities a {
    color: #00335e;
}

    .customer_support_body .our_facilities a:hover {
        color: #075ba1;
    }

.careers p.teaser {
    font-size: 1.286em;
}

.search-box .search_btn_w .small_blue_btn {
    border-width: 1px !important;
}
/*Global navigation styles - END */
/*Business Page Address and zip code Input styles*/
.address-zip #reg_address {
    width: 55%;
}

.address-zip #reg_zip-code {
    width: 40%;
}

@media {
    .address-zip #reg_address {
        width: 480px;
    }

    .address-zip #reg_zip-code {
        width: 150px;
    }
}
/*Business Page Address and zip code Input styles - END*/
/*Dynamic Form Styles*/
.dynamic-form {
    padding-top: 0px;
}
/*Dynamic Form Styles - END*/
/*Our Company Styles*/
.our_company img {
    width: 100%;
}
/*Our Company Styles* - END*/
.has-error:after {
    content: "" !important;
}
/*Temp  CSS dynamic form styles*/
.sm_blue_btn {
    background: transparent !important;
    border: 2px solid #00b1ed !important;
    color: #00b1ed !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600 !important;
    text-decoration: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

    .sm_blue_btn:hover {
        background: #00b1ed !important;
        color: white !important;
    }

.sm_blue_btn {
    padding: 16px 39px !important;
    margin: 15px 0 !important;
    font-size: 18px !important;
    line-height: 18px !important;
}

#divCustomerRequest #thanquMessage, #dynamicFormLocal, #dynamicFormRegional, #reg_thanquMessage, .additional_resources {
    border-bottom: 1px solid #dedede;
    margin: 10px;
}
/*Temp */
/*Icon images on tab for Energy page*/
@media (min-width: 768px) {
    .EandP {
        background-image: url(../../publishingimages/exploration_line.png)/*tpa=http://www.republicservices.com/publishingimages/exploration_line.png*/ !important;
        background-size: 42px auto !important;
        background-position: 11px 5px !important;
    }
}
/*End icon images on tab for Energy page*/

.mobile_subnav li.active a.dumpster_rental:before, .mobile_subnav li a:hover.dumpster_rental:before {
    background-position: -475px -62px;
}

.mobile_subnav li a.dumpster_rental:before {
    background-position: -475px 5px;
}

.mobile_subnav li.active a.dumpster-rental:before, .mobile_subnav li a:hover.dumpster-rental:before {
    background-position: -475px -62px;
}

.mobile_subnav li a.dumpster-rental:before {
    background-position: -475px 5px;
}

.category_nav .container .nav_carousel ul li a.exploration-production {
    background-position: 30px -1117px !important;
}

    .category_nav .container .nav_carousel ul li a.exploration-production:hover {
        background-position: -75px -1117px !important;
    }

.category_nav .container .nav_carousel ul li a.municipalities {
    background-position: 15px 10px !important;
}

    .category_nav .container .nav_carousel ul li a.municipalities:hover {
        background-position: -75px 10px !important;
    }

.category_nav .container .nav_carousel ul li a.public_private_partnerships {
    background-position: 22px -215px !important;
}

    .category_nav .container .nav_carousel ul li a.public_private_partnerships:hover {
        background-position: -70px -215px !important;
    }

.category_nav .container .nav_carousel ul li a.k12 {
    background-position: 3px -664px !important;
}

    .category_nav .container .nav_carousel ul li a.k12:hover {
        background-position: -87px -664px !important;
    }

.category_nav .container .nav_carousel ul li a.special_events {
    background-position: 15px -1112px !important;
}

    .category_nav .container .nav_carousel ul li a.special_events:hover {
        background-position: -75px -1112px !important;
    }

.mobile_subnav li a.public-private-partnerships:before {
    background-position: -65px 2px !important;
}

.mobile_subnav li.active a.public-private-partnerships:before, .mobile_subnav li a:hover.public-private-partnerships:before {
    background-position: -65px -72px !important;
}

.has-message .message:before {
    background-position: -500px -500px;
}

.customer_service .customer_type small, .contact_us .customer_type small {
    font-size: 60% !important;
    font-weight: 400 !important;
}


/*New User Popup Styles*/
#divNewUserPopup .small_blue_btn {
    padding: 9px 20px !important;
}

@media (min-width: 480px) {
    #divNewUserPopup .small_blue_btn {
        padding: 9px 39px !important;
    }
}


.modal .modal-dialog .modal-content .modal-body .close, .modal .modal-dialog .modal-content .modal-body .close:hover, .modal .modal-dialog .modal-content .modal-body .close:active,
.modal .modal-dialog .modal-content .modal-body .close:visited {
    min-width: 0px !important;
    display: block;
    position: absolute;
    right: 0px;
    top: -20px;
    z-index: 1;
    background-color: #fff;
    background-image: url(../../publishingimages/btn-close-blue-light.png)/*tpa=http://www.republicservices.com/publishingimages/btn-close-blue-light.png*/ !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 11px 11px !important;
    width: 25px;
    height: 25px;
    border: 2px solid #00b1ed;
    border-radius: 25px;
    text-indent: -10000px;
    opacity: 1;
    padding: 0px;
}

.modal-close, .modal-close:hover, .modal-close:active, .modal-close:visited {
    min-width: 0px !important;
    display: block;
    position: absolute;
    right: 0px !important;
    top: -20px !important;
    z-index: 1;
    background-color: white !important;
    background-image: url(../../publishingimages/btn-close-blue-light.png)/*tpa=http://www.republicservices.com/publishingimages/btn-close-blue-light.png*/ !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 11px 11px !important;
    width: 25px !important;
    height: 25px !important;
    border: 2px solid #00b1ed;
    border-radius: 25px;
    text-indent: -10000px;
    opacity: 1;
    padding: 0px !important;
}

.fancybox-close {
    min-width: 0px !important;
    display: block;
    position: absolute;
    right: 0px;
    top: -20px;
    z-index: 1;
    background-color: white !important;
    background-image: url(../../publishingimages/btn-close-blue-light.png)/*tpa=http://www.republicservices.com/publishingimages/btn-close-blue-light.png*/ !important;
    background-repeat: no-repeat !important;
    background-position: center center;
    background-size: 11px 11px !important;
    width: 25px !important;
    height: 25px !important;
    border: 2px solid #00b1ed;
    border-radius: 25px;
    text-indent: -10000px;
    opacity: 1;
    padding: 0px !important;
}

a.font_med:hover {
    color: #2a6496 !important;
}

.dynamic-form .form-control, .dynamic-form .form-control:focus, #formContainer .form-control {
    padding: 10px 10px !important;
}

#ask_answer {
    line-height: 22px;
}

.modal-open {
    overflow: hidden !important;
}

.modal {
    overflow-y: scroll !important;
}

.modal-body .detail_scroller {
    min-height: 275px;
    overflow-y: auto;
    margin-bottom: 20px;
}

@media (min-width: 480px) {
    .modal-body .detail_scroller {
        overflow-y: auto;
        min-height: 0px;
        margin-bottom: 0px;
    }
}

.modal .modal-dialog .modal-content {
    padding-bottom: 10px !important;
}


/*New User Popup Styles - END*/

/*Business Solid Waste image */
.community_child.k12 .icn.illus.solid_waste_disposal, .community_child.k12 .icn.illus.solid_waste, .community_child.k12 .icn.illus.curbside_solid_waste,
.community_child.special_events .icn.illus.solid_waste_disposal, .community_child.special_events .icn.illus.solid_waste, .community_child.special_events .icn.illus.curbside_solid_waste,
.businesses_child .icn.illus.solid_waste_disposal, .businesses_child .icn.illus.solid_waste, .businesses_child .icn.illus.curbside_solid_waste,
.businesses .icn.illus.solid_waste_disposal, .businesses .icn.illus.solid_waste, .businesses .icn.illus.curbside_solid_waste {
    background-image: url(../../publishingimages/128px/commercial-solidwaste.png)/*tpa=http://www.republicservices.com/publishingimages/128px/commercial-solidwaste.png*/;
}

.icn.illus.commercial_solid_waste_disposal, .icn.illus.commercial_solid_waste, .icn.illus.commercial_curbside_solid_waste {
    background-image: url(../../publishingimages/128px/commercial-solidwaste.png)/*tpa=http://www.republicservices.com/publishingimages/128px/commercial-solidwaste.png*/;
}

/*Business Solid Waste image - END*/

/*Request Services products view fix for ipad*/
@media (min-width: 885px) {
    .services .tab-content .icn_txt h3 {
        height: 60px !important;
    }
}

@media (min-width: 768px) and (max-width:885px) {
    .services .tab-content .icn_txt h3 {
        height: 85px !important;
    }
}

/*Request Services products view fix for ipad - END*/

/*Add distingwish line between address and zipcode*/

#global_service_search .col-sm-10.search_field_w {
    padding-top: 0px;
    padding-bottom: 0px;
}

#global_service_search #search-address {
    border-right: 1.5px solid #aaaaaa !important;
    height: 52px;
}

#global_service_search #search-zip {
    height: 52px;
}

#global_service_search .search-box .search_field_w .form-group .help-block {
    top: 47px;
}

@media (min-width: 768px) {
    #global_service_search .search-box .search_field_w .form-group .help-block {
        top: 51px;
    }
}

/*Add distingwish line between address and zipcode - END*/

/*Fix for mobile Hamburger menu font size*/
.mobile_subnav li a {
    font-size: 13px !important;
}

@media (min-width: 480px) {
    .mobile_subnav li a {
        font-size: 14px !important;
    }
}
/*Fix for mobile Hamburger menu font size - END*/

/*Customer Type Radio Button Changes*/

.customer_type span {
    font-weight: 300;
}

.customer_type li.resident {
    background-position: -23px 13px !important;
    padding-left: 94px;
}

.customer_type li.business {
    background-position: -34px -265px !important;
    padding-left: 72px;
}

.customer_type li.community, .customer_type li.municipality {
    background-position: -30px -520px !important;
    padding-left: 78px;
}

/*.customer_type li {
    min-width: 260px;
}*/

.customer_type .divResident {
    text-align: center !important;
}

.customer_type .divBusiness {
    text-align: center !important;
    padding-left: 16px;
}

    .customer_type .divBusiness li.businesss {
        background-position: 10px -265px;
    }


@media (min-width: 768px) {
    .customer_type .divResident {
        text-align: right !important;
    }

    .customer_type .divBusiness {
        text-align: left !important;
        padding-left: 80px;
    }
}

@media (max-width: 830px) {

    .customer_type li.resident, .customer_type li.business, .customer_type li.community, .customer_type li.municipality {
        padding-left: 90px;
    }
}

.microsite_locations #residentialAdditionalInfo {
    margin-top: -50px;
    margin-bottom: -50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #a4a6a8;
    border-bottom: 1px solid #a4a6a8;
}

#divBreadcrumb ol.breadcrumb {
    text-transform: capitalize;
}

/*.customer_type label {
    padding-left: 0px;
    margin: 0px;
    display: inline;
}

@media (min-width: 420px) {
    .customer_type label {
        padding-left: 20px;
        display: block;
    }
}

@media (min-width: 768px) {
    .customer_type label:first-child {
        padding-left: 15px !important;
    }

    .customer_type label {
        padding-left: 15px;        
    }
}

@media (min-width: 900px) {
    .customer_type label:first-child {
        padding-left: 10px !important;
    }

    .customer_type label {
        padding-left: 60px;        
    }
}

@media (min-width: 1000px) {
    .customer_type label:first-child {
        padding-left: 0px !important;
    }

    .customer_type label {
        padding-left: 110px;
        
    }
}

label .padding-left {
    padding-left: 10px;
}*/



/*Customer Type Radio Button Changes - END*/


/*Browser Style Hacks - Always to appear last in code*/
.business_development .hero .container h1 {
    color: #004a7C\9\0 !important; /*Only works in IE9*/
}

.category_nav .container .nav_carousel ul li a.public_private_partnerships {
    background-position: 15px -215px\9\0 !important; /*Only works in IE9*/
}

    .category_nav .container .nav_carousel ul li a.public_private_partnerships:hover {
        background-position: -77px -215px\9\0 !important; /*Only works in IE9*/
    }

.category_nav .container .nav_carousel ul li a.community_impact {
    background-position: 8px -894px\9\0 !important; /*Only works in IE9*/
}

    .category_nav .container .nav_carousel ul li a.community_impact:hover {
        background-position: -82px -894px\9\0 !important; /*Only works in IE9*/
    }

.category_nav .container .nav_carousel ul li a.special_events {
    background-position: 8px -1112px\9\0 !important; /*Only works in IE9*/
}

    .category_nav .container .nav_carousel ul li a.special_events:hover {
        background-position: -82px -1112px\9\0 !important; /*Only works in IE9*/
    }

/*Browser Style Hacks - END*/
