/*
div {
    border: 1px solid red;
}
div div {
    border: 1px solid green;
}
div div div {
    border: 1px solid blue;
}
*/
.anythingSlider {
    width: 670px;
    height: 260px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #dadada;
    -moz-box-shadow: 1px 1px 3px #969696;
    -webkit-box-shadow: 1px 1px 3px #969696;
    box-shadow: 1px 1px 3px #969696;
    /* ie code */
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=2);
}
.anythingSlider .wrapper {
    width: 670px;
    overflow: auto;
    height: 260px;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
}
/* Width below is max for Opera */
.anythingSlider .wrapper ul {
    width: 32700px;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    margin: 0;
    padding: 0px;
}
.anythingSlider ul li {
    display: block;
    float: left;
    padding: 0;
    height: 317px;
    width: 680px;
    margin: 0;
}
.anythingSlider .arrow {
    display: block;
    height: 200px;
    width: 67px;
    background: url() no-repeat 0 0;
    text-indent: -9999px;
    position: absolute;
    top: 225px;
    left: 635px;
    cursor: pointer;
}
.anythingSlider .forward {
    height: 27px;
    width: 27px;
    background: url(../structural-images/bg_slidenext_off.png)/*tpa=http://www.sysco.com/structural-images/bg_slidenext_off.png*/ no-repeat;
}
.anythingSlider .back {
    display: none;
    background-position: -67px 0; left: -20px;
}
.anythingSlider .forward:hover {
        background: url(../structural-images/bg_slidenext_on.png)/*tpa=http://www.sysco.com/structural-images/bg_slidenext_on.png*/ no-repeat;
}
.anythingSlider .back:hover {
    background-position: -67px -200px;
}
#thumbNav    {
    position: absolute;
    top: 225px;
    left: 476px;
    text-align: center;
}
#thumbNav a                             {
    color: #fff;
    font: normal 16px/27px Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
/*    padding: 2px 8px;    */
    height: 27px;
    width: 27px;
    margin: 0 5px 0 0;
    background: url(../structural-images/bg_slidenum_off.png)/*tpa=http://www.sysco.com/structural-images/bg_slidenum_off.png*/ no-repeat;
    text-align: center;
}
#thumbNav a:hover {
    background: url(../structural-images/bg_slidenum_on.png)/*tpa=http://www.sysco.com/structural-images/bg_slidenum_on.png*/ no-repeat;
}
#thumbNav a.cur {
    background: url(../structural-images/bg_slidenum_on.png)/*tpa=http://www.sysco.com/structural-images/bg_slidenum_on.png*/ no-repeat;
}
#start-stop {
    display: none;
}
.messaging_box {
    position: absolute;
    z-index: 100px;
    margin-top: 15px;
    margin-left: 460px;
    padding: 10px;
    width: 180px;
/*    height: 170px;*/
    background: url(../structural-images/transparent_pixel.png)/*tpa=http://www.sysco.com/structural-images/transparent_pixel.png*/;
    /*background-color:white;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.messaging_box_left {
    margin-left: 10px;
}

.messaging_box h2 { 
    margin: 0px 0px 8px 0px;
    padding: 0px;
    font: normal 15px Arial, Helvetica, sans-serif;
    color: #ff6600;
}
.messaging_box p {
    margin: 0px 0px 8px 0px;
    padding: 0px;
    font: normal 11px/15px Arial, Helvetica, sans-serif;
    color: #000;
}
a.button {
    display: block;
    background-color: none;
    border: none;
    background: url(../structural-images/button_submit.png)/*tpa=http://www.sysco.com/structural-images/button_submit.png*/ bottom left no-repeat;
    width: 93px;
    height: 28px;
    padding: 0px;
    font: 10px/28px Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0px 10px 0px -4px; 
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}
a.button:hover {
    background: url(../structural-images/button_submit_on.png)/*tpa=http://www.sysco.com/structural-images/button_submit_on.png*/ bottom left no-repeat;
}
/*
  Prevents
*/
.anythingSlider .wrapper ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSlider .wrapper ul ul li       { float: none; height: auto; width: auto; background: none; }