/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxx   TOOL STYLES   xxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.copyAndDisclaim a {font-size:0.83em;color:#666666;text-decoration:none;}
.ccbnGovernance ol li {list-style-type: decimal ! important;margin-left:10px;}


.ccbnGovernance p {margin-bottom:8px;}

.ccbnPadInput .txtInput input{width:90px;vertical-align:top;}

.ccbnVerticalAlignTop {padding:2px;vertical-align:top;}

.ccbnTxt .searchTip {padding-right:0px!important;}
.searchTip .ccbnLnk {padding-right:15px;}

.ccbnImagePad img {margin-left:15px;}

.ccbnImagePad     {float:right;}

#contentNoBg {margin:6px 19px;
width:750px;}

#contentBodyWide {float:left;width:710px;padding-left:23px;
padding-right:23px;}

.ccbnError {font-size:1em;
line-height:130%;}

.ccbnCalendarHelp td {text-align:left!important;border:none!important;}

.dataTable tr.ccbnNoBg td {background-color:#FFFFFF!important;}

#thomson .sideboxSearchFields input {width:181px!important;}

#thomson .sideboxSearchFields input.ccbnSubmit {width:54px!important;}
.ccbnBgInput table td {padding:2px;}

#thomson ol {padding-left:18px;}

.forecastTable tr.ccbnBgTblSubTtl td.first {border-left:1px solid #6EB8DC;
                        text-align:left;}

.forecastTable tr.ccbnBgTblSubTtl td.last {border-right:1px solid #6EB8DC;}

td.ccbnNoPad {padding:0px;}
td.ccbnAlignCenter {text-align:center; border: 0px !important;}

tr.ccbnBgNav td span{font-size:0.83em;
padding-top:3px;
text-align:right;}



td.ccbnTblSubTtl a{color:#FFFFFF!important;
                  font-size:0.9em!important;
                  font-weight:bold;
                  
                  }

td.ccbnTblSubTtl {background-color:#6EB8DC;
                 border-bottom:1px solid #FFFFFF;
                 border-right:1px solid #FFFFFF;
                 text-align:center;
                 vertical-align:bottom;padding:4px 3px;}


.sideboxSearchFields input.ccbnSubmit {width:54px;}
.stockInfoHeader {color:#3399CC;font-weight:bold;}

tr.ccbnBgInputMedium .control_SearchBox {vertical-align:top!important;}

td.ccbnAlignMiddle {vertical-align:top;padding-top:10px;line-height:120%;}

.reportFilingTable .c1Title {border-bottom:2px solid #FFFFFF;
border-right:2px solid #FFFFFF;
width:100px;background-color:#6EB8DC;
color:#FFFFFF;
font-weight:bold;
height:22px;
padding-left:10px;
text-align:left;
vertical-align:middle;}

.reportFilingTable .c2Title {border-bottom:2px solid #FFFFFF;
border-right:2px solid #FFFFFF;
width:60px;background-color:#6EB8DC;
color:#FFFFFF;
font-weight:bold;
height:22px;
padding-left:10px;
text-align:left;
vertical-align:middle;}

.reportFilingTable .c3Title {border-bottom:2px solid #FFFFFF;
border-right:2px solid #FFFFFF;
width:110px;background-color:#6EB8DC;
color:#FFFFFF;
font-weight:bold;
height:22px;
padding-left:10px;
text-align:left;
vertical-align:middle;}

.reportFilingTable .c4Title {border-bottom:2px solid #FFFFFF;background-color:#6EB8DC;
color:#FFFFFF;
font-weight:bold;
height:22px;
padding-left:10px;
text-align:left;
vertical-align:middle;}

.txtInput input {background-color:#FFFFFF;
border:1px solid #7F9DB9;
height:20px;
margin:0;
padding:0;}

.sideBoxForm table td.txtInput {padding:0px;}

.ccbnBgInputSmall input{width:90px;}
.ccbnBgInputMedium .control_SearchBox {width:125px;}
.ccbnBgInputMedium td {height:20px;}

.ccbnBgInputSmall input#submitButton {width:49px!important;height:22px;}
.ccbnBgInputSmall img, .ccbnBgInputMedium img{width:54px!important;}

.ccbnTxtSmallLabel {font-size:0.9em;}

.ccbnTxtSmall {font-size:0.83em;
font-style:italic;}

.ccbnItalic {font-style:italic;}

.sidebox td {line-height:120%;}

.ccbnPad td {padding:2px;vertical-align:top;line-height:120%;}
.ccbnPadMore td {padding:10px;vertical-align:top;line-height:120%;}

.ccbnNewsArticle td {padding:2px;vertical-align:top;}
.ccbnNewsArticle p {font-size:1em;line-height:130%;margin:8px 0;}

td.ccbnPadLeftRight {padding-left:16px;padding-right:5px;}
.ccbnPadLeft {padding-left:20px;text-align:left;}
.ccbnPadRight {padding-right:15px;text-align:right;}

td.PadRight {padding-right:10px;}


.dataTable td.ccbnTblTtl{background-color:#6EB8DC;
border-bottom:2px solid #FFFFFF;
border-right:2px solid #FFFFFF;
color:#FFFFFF;
font-weight:bold;
padding:5px 10px;
text-align:center;
vertical-align:middle;}

.forecastTable tr.ccbnBgTblSubTtl td {background-color:#6EB8DC;
border-bottom:1px solid #FFFFFF;
border-right:1px solid #FFFFFF;
color:#FFFFFF;
font-size:0.83em;
font-weight:bold;
padding:4px 3px;
text-align:center;
vertical-align:bottom;}

td.ccbnAlignCenter {text-align:center!important;}
td.ccbnAlignRight {text-align:right!important;}

.ccbnCalendar td {padding:0px!important;}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* x             Page Styles - General Txt/Bg             x */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

   .ccbnTblTtl                   {}

   .ccbnBgTblTtl                 {}

   .ccbnTblSubTtl                {}

   .ccbnBgTblSubTtl              {height:25px;}

   .ccbnTblOdd                   {}

   .ccbnBgTblOdd                 {}

   .ccbnTblEven                  {}

   .ccbnBgTblEven                {}

   .ccbnTblTxt                   {}

   .ccbnBgTblTxt                 {height: 25px; background: none;}

   .ccbnTblTxtBold               {font-weight:bold;}

   .ccbnBgTblTxtBold             {}

   .ccbnTblHighlight             {font-weight:bold;}

   .ccbnBgTblHighlight           {}

   .ccbnTblSubTxt                {font-size:1em;
line-height:120%;}

   .ccbnBgTblSubTxt              {}

   .ccbnTblLnk                   {}

   .ccbnBgTblLnk                 {}

   .ccbnTblHighlightLnk          {}

   .ccbnBgTblHighlightLnk        {}

   .ccbnTblLabelLnk              {font-weight:bold;}

   .ccbnBgTblLabelLnk            {}

   .ccbnTtl                      {color:#3399CC;
                                 font-family:Helvetica Neue,Arial,sans-serif;
                                 font-size:1.17em;
                                 font-weight:bold;}

   .ccbnBgTtl                    {}

   .ccbnSubTtl                   {}

   .ccbnBgSubTtl                 {}

   .ccbnTxt                      {}

   .ccbnBgTxt                  td  {line-height:130%;}

   .ccbnTxtBold                  {font-weight:bold;}

   .ccbnBgTxtBold                {}
   
   .ccbnTxtBoldSub               {font-weight:bold;}

   .ccbnBgTxtBoldSub             {}

   .ccbnSubTxt                   {font-size:1em;
line-height:120%;}

   .ccbnBgSubTxt                 {}

   .ccbnRequired                 {color:#993300;}

   .ccbnBgRequired               {}

   .ccbnError                    {color:#993300;}

   .ccbnBgError                  {}

   .ccbnConfirmBold              {}

   .ccbnBgConfirmBold            {}

   .ccbnNeg                      {color:#993300;}

   .ccbnBgNeg                    {}

   .ccbnPos                      {color:#336600;}

   .ccbnBgPos                    {}

   .ccbnPrice                    {font-weight:bold;}

   .ccbnBgPrice                  {}

   .ccbnLnk                      {}

   .ccbnBgLnk                    {}

   .ccbnSubLnk                   {}

   .ccbnBgSubLnk                 {}

   .ccbnTblSubLnk                {font-size:1em;
line-height:120%;}

   .ccbnBgTblSubLnk              {}

   .modDisclaimer                {font-size:0.83em;
line-height:120%;
margin:12px 0 16px;}

   .ccbnDisclaimer               {font-size:0.83em;
line-height:120%;
margin:12px 0 16px;}

   .ccbnBgDisclaimer             {}

   .ccbnLabel                    {font-weight:bold;}

   .ccbnBgLabel                  {}

   .ccbnTblLabelLeft             {font-weight:bold;}

   .ccbnBgTblLabelLeft           {}

   .ccbnTblLabelTop              {font-weight:bold;}

   .ccbnBgTblLabelTop            {height: 20px;}

 td.navigationLinks  .ccbnNav                      {font-size:1em;}
 td.navigationLinks  .ccbnNav                   a  {font-size:1em;}

   .ccbnSelect                   {}

   .ccbnBgSelect                 {}

   .ccbnInput                    {}

   .ccbnBgInput                  {}

   .ccbnButton                   {}

   .ccbnBgButton                 {}
   
   .ccbnOutline                  {}

   .ccbnOutlineChart             {}

   .ccbnOutlineQuote             {}

   .ccbnBgChart                  {}

   .ccbnBgLine                   {}

   .ccbnBgSpacer                 {}
   
   .ccbnNextPrev					{color: #444444 !important;}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* x            SEC  - keyword search results             x */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

   #CCBNSECRes		             {}
  
   
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* x                 Enumerate Backgrounds                x */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

   .ccbnEnumBodyBg               {}

   .ccbnEnumBg                   {background-color: #CCCCCC;}

   .ccbnEnumBgLogo               {background-color: #FFFFFF;}

   .ccbnEnumHighlightLt          {background-color: #FFFFFF;}

   .ccbnEnumHighlight            {background-color: #EFEFEF;}

   .ccbnEnumShadow               {background-color: #999999;}

   .ccbnEnumShadowDk             {background-color: #666666;}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* x                    Enumerate Links                   x */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

   .ccbnEnumTabLnk               {font-family: arial, helvetica, sans-serif;
                                  font-size: 10px;
                                  color: #000000;
                                  text-transform: uppercase;}

   a.ccbnEnumTabLnk:link         {font-family: arial, helvetica, sans-serif;
                                  font-size: 10px;
                                  color: #000000;
                                  text-transform: uppercase;
                                  text-decoration: underline;}

   a.ccbnEnumTabLnk:hover        {text-decoration: none;}

   a.ccbnEnumTabLnk:active       {text-decoration: none;}

   a.ccbnEnumTabLnk:visited      {font-family: arial, helvetica, sans-serif;
                                  font-size: 10px;
                                  color: #000000;
                                  text-transform: uppercase;
                                  text-decoration: underline;}

   .ccbnEnumPeerListLnk          {font-size: 11px;}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* x                    Enumerate Rows                    x */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

   .ccbnEnumTxtEven              {font-family: arial, verdana, helvetica, sans-serif;
                                  font-size: 11px;}

   .ccbnEnumTxtOdd               {font-family: arial, verdana, helvetica, sans-serif;
                                  font-size: 11px;}

   .ccbnBgEnumTblEven            {background-color: #EFEFEF;}

   .ccbnBgEnumTblOdd             {background-color: #FFFFFF;}
   
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* x            Mouse Over Styles                         x */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */ 

   /* global class applied to all divs that peform hovering functions 
      all global settings should be applied here                          */   
        .ccbnPopover             {position:absolute; visibility:hidden; overflow:auto; 
                                  width:300px; height:auto; background:#ffffff; 
                                  text-align:left; border:1px solid #000;padding:2px;}   
   
   /* all hovers will inherit styles from ccbnPopover but you can overwrite those styles 
      by using the selectors below if you would like to customize a HOVER style or add new 
      styles specific to a hover type, add them here */
         .ccbnDefinitionHover    {}
         .ccbnEventHeaderHover   {}
         .ccbnBioHover           {}
         .ccbnNewsHover          {}
         
   /* table rows beneath a table that has a class of ccbnRowHoverTbl will change color
      when hovered over - set your own color or other styles for the row here*/
         .ccbnRowHoverTbl tr:hover td, .ccbnRowHoverTbl tr.ccbnIE6Over td{}

   /* we do not want the rows that are titles to change color, this is the fix
      the styles of this should be the same as the value of ccbnBgTblTtl */
         .ccbnRowHoverTbl tr.ccbnBgTblTtl:hover td{}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* x            Scrolling Module                          x */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */ 

   /* this class is applied to all divs that will scroll as well as the scroll container the 
      container also has an ID which can be referenced in this stylesheet if necessary  */   
         .ccbnScroll             { position:relative; overflow:hidden; height:190px; }   
   
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* x            Company Calendar Styles                   x */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */ 

   /* HOVER COLOR - background color for when a user hovers over one of the day cells
      This should be changed to reflect the clients color scheme */
       .ccbnCalendarTable tbody td.ccbnEvent:hover, .ccbnCalendarTable tbody td.ccbnIE6Over{}

   /* HOVER COLOR - background color for when a user hovers over one of the header cells
      This should be changed to reflect the clients color scheme */
       .ccbnCalendarTable thead td.ccbnCalButton:hover, .ccbnCalendarTable thead td.ccbnCalButton.ccbnIE6Over {background:#CCCCCC;}

   /* all hovers will inherit styles from ccbnPopover but you can overwrite those styles
      by using the selectors below if you would like to customize a HOVER style or add new 
      styles specific to a hover type, add them here */
       .ccbnCalendarDiv        {height:auto; max-height:100px; 
                                height:expression(this.scrollHeight>100?"100px":"auto");}
       .ccbnCalendarHelpDiv    {height:400px;}

   /* the mouse click version of the module uses this style for the div where 
      the event information appears after a mouse click of a date */
       .ccbnCalendarDivClick   {overflow:auto;}

   /* styles for days that are weekends 
      This should be changed to reflect the clients color scheme */
         .ccbnWeekend            {}
   
   /* styles for the table cell which represents todays date 
      This should be changed to reflect the clients color scheme */
         .ccbnToday              {border:1px solid #000;}
     
   /* styles for days that have events
      This should be changed to reflect the clients color scheme */
         .ccbnEvent              {background:#3399CC!important;color:#ffffff!important;text-decoration:underline!important;}

         .ccbnCalButton          {}

         .ccbnDay                {}
   
         .ccbnName               {}

        .ccbnCalendar            {cursor:default; overflow: hidden; background-color: #efefef;padding: 10px; border-radius:5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
.ccbnCalendar td {text-align:center; color: #cdcdcd;}

        .ccbnCalendarTable       {}
   
   /* since the month / year title row also has the ? cell, text-align center is not
      sufficient to center the text, this is a fix for that problem */   
        .ccbnCalCenterTitle      {text-align:center; height: 25px;color: #444444 !important;border-right: 0px !important; border-bottom: 1px solid #c2c2c2;}
.ccbnCalCenterTitle      {background: none !important;}

   /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
   /* xxx              Calendar Icons                                    xxx */
   /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
         .ccbnCalIconAnalyst           {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_am.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_am.gif*/ no-repeat;}
         .ccbnCalIconConference        {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_cf.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_cf.gif*/ no-repeat;}
         .ccbnCalIconConferencePres    {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_cp.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_cp.gif*/ no-repeat;}
         .ccbnCalIconConferenceCall    {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_cc-ne.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_cc-ne.gif*/ no-repeat;}
         .ccbnCalIconCustom            {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_custom.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_custom.gif*/ no-repeat;}
         .ccbnCalIconEarningsConfCall  {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_cc-er.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_cc-er.gif*/ no-repeat;}
         .ccbnCalIconEarnings          {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_er.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_er.gif*/ no-repeat;}
         .ccbnCalIconReports           {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_fin_rpt.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_fin_rpt.gif*/ no-repeat;}
         .ccbnCalIconMA                {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_ma.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_ma.gif*/ no-repeat;}
         .ccbnCalIconGuidance          {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_ga.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_ga.gif*/ no-repeat;}
         .ccbnCalIconOther             {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_oc.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_oc.gif*/ no-repeat;}
         .ccbnCalIconSalesCall         {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_sc.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_sc.gif*/ no-repeat;}
         .ccbnCalIconSalesRelease      {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_sar.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_sar.gif*/ no-repeat;}
         .ccbnCalIconShareholders      {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_sm.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_sm.gif*/ no-repeat;}
         .ccbnCalIconNewsRelease       {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_news.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_news.gif*/ no-repeat;}
         .ccbnCalIconSEC               {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_sec.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_sec.gif*/ no-repeat;}
         .ccbnCalIconPresentations     {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_pres.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_pres.gif*/ no-repeat;}
         .ccbnCalIcon52WeekHigh        {background:url(../../media.corporate-ir.net/media_files/irol/global_images/icon_52wkh.gif)/*tpa=http://media.corporate-ir.net/media_files/irol/global_images/icon_52wkh.gif*/ no-repeat;}
   
   /* Icons Padding  */
   .ccbnCalIconAnalyst, .ccbnCalIconConference, .ccbnCalIconConferencePres, .ccbnCalIconConferenceCall, .ccbnCalIconCustom, .ccbnCalIconEarningsConfCall, .ccbnCalIconEarnings, .ccbnCalIconReports, .ccbnCalIconMA, .ccbnCalIconGuidance, .ccbnCalIconOther, .ccbnCalIconSalesCall, .ccbnCalIconSalesRelease, .ccbnCalIconShareholders, .ccbnCalIconNewsRelease, .ccbnCalIconSEC, .ccbnCalIconPresentations, .ccbnCalIcon52WeekHigh        {padding-left:20px;}

   /* DO NOT EDIT - hides the leading and trailing days of each month  */
         .ccbnEmpty              {}

   /* DO NOT EDIT - make the hidden section visible when a user hovers over the help cell */
         td.ccbnCalButton:hover div.ccbnCalendarHelpDiv, .ccbnCalendarTable thead td.ccbnIE6Over div.ccbnCalendarHelpDiv{visibility:visible; z-index:100;}

   /* DO NOT EDIT - make the hidden section visible when a user hovers over the event cell */
         td.ccbnEvent:hover div.ccbnCalendarDiv, .ccbnCalendarTable tbody td.ccbnIE6Over div.ccbnCalendarDiv{visibility:visible; z-index:100;} 
		 
		 .bwcellpaddingbottom1 {padding-bottom: 2.0px; font: 100% arial }
.bwcellpaddingbottom3 {padding-bottom: 4.0px; font: 100% arial }
.bwcellpaddingleft0 {padding-left: 0.0px; font: 100% arial }
.bwcellpaddingleft3 {padding-left: 15.0px; font: 100% arial }
.bwcellpaddingleft4 {padding-left: 20.0px; font: 100% arial }
.bwcellpaddingleft6 {padding-left: 30.0px; font: 100% arial }
.bwcellpaddingright0 {padding-right: 0.0px; font: 100% arial }
.bwcellparagraphmargin {margin-bottom: 0px; margin-top: 0px; font: 100% arial }
.bwdoublebottomborder {border-bottom: double black 2.25pt; font: 100% arial }
.bwlistitemmarginbottom {margin-bottom: 10.0px; font: 100% arial }
.bwsinglebottomborder {border-bottom: solid black 1.0pt; font: 100% arial }
.bwtablebottommargin {margin-bottom: 10.0px; font: 100% arial }
.bwtextaligncenter {text-align: center; font: 100% arial }
.bwtextalignleft {text-align: left; font: 100% arial }
.bwtextalignright {text-align: right; font: 100% arial }
.bwverticalalignbottom {vertical-align: bottom; font: 100% arial }
.bwverticalalignmiddle {vertical-align: middle; font: 100% arial }
.bwwhitespacenowrap {white-space: nowrap; font: 100% arial }
  
