/* Begin classes for common SPIN elements */

/* force image width to better align release items */

.wd_newsfeed_releases .spintable td img {
	max-width: 144px;
}

/* hide extimages */
.wd_newsfeed_releases-detail .wd_extimagetable {
	display: none;
}

body {
font: normal 12px Helvetica, Arial, sans-serif;
color: #333333;
}

.page_header {
border-bottom: dotted 1px #b2b2b2;
padding: 0 0 7px 0;
width: 100%;
border-bottom: dotted 1px #b2b2b2;
padding: 0 0 7px 0;
font-size: 22px;
color: #444444;
}

.page_header a, .page_header a:link {

}

page_header a:hover {

}

.breadcrumb {
	padding: 0;
}

.breadcrumb li {
    font-size: 11px;
	display: inline;
	list-style: none;
}

.item {
    margin: 0px 0px 10px 0px;
    overflow: hidden;
}

p {
margin: 10px 0;
}

/* BEGIN items for Press Release Summary */
.item_with_slider {
	padding: 0px 0px 0px 20px;
}

.slider_control_closed 
{
	position: absolute;
	left: -20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(../images/slider_open.png.gif)/*tpa=http://newsroom.united.com/images/slider_open.png*/ no-repeat right center;
}

.slider_control_open 
{
	position: absolute;
	left: -20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(../images/slider_close.png.gif)/*tpa=http://newsroom.united.com/images/slider_close.png*/ no-repeat right center;
}
/* END items for Press Release Summary */

.item_name {
	font-size: 1em;
	font-weight: bold;
	position: relative;
}

.item_date {
    font-size: 1em;
    font-weight: bold;
}

.item_summary {
	font-size: 1em;
	margin: 5px 0;
}

/* START slider and tooltip style for Press Release Summary */
.item_slider {
	margin: 20px 0px 20px 0px;
	padding: 10px 10px 10px 10px;
	background-color: #FEFDE1;
}

.item_more {
	margin: 20px 0px 0px 0px;
}

.item_tooltip 
{
	width: 500px;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
}

.item_tooltip_contents {
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	background-color: #FEFDE1;
	border: 2px solid #a5a5a5;
}
/* END slider and tooltip style for Press Release Summary */

.detail_header {
  color: #444444;
font-size: 16px;
font-weight: bold;
margin-bottom: 10px;
}

.detail_subheader {
font: bold 12px Helvetica, Arial, sans-serif;
color: #333333;

}

.category_intro {
    border-bottom: 1px solid #e1e1e1;
	margin-bottom: 10px;
	clear: both;
}

.category_name {
    font-size: 1.1em;
    font-weight: bold;
}

.category_header {
    font-size: 1.4em;
    font-weight: bold;
    color: #999999;
    padding-bottom: 15px;
}

ul.categories.categories-horizontal {
	clear: both;
}

ul.categories.categories-horizontal li {
	height: 180px;
	overflow: hidden;
	width: 180px;
}

table.wd_imagetable {

}

td.imagecaption {
    font-size: .8em;
    font-style: italic;
    text-align: left;
    padding: 3px 5px 3px 5px;
}

td.imagecaption p {
    font-size: .9em;
    font-style: italic;
}

div.wd_page_toolbar {
    border-top: 1px dotted #999999;
    border-bottom: 1px dotted #999999;
    margin: 35px 0px 15px 0px;
    padding: 5px;
}

/* Begin classes for individual PCTs
   (enter amendments to the above declatations, ex:
   div.wd_standard .category_name {
    [styles]
   }
*/

div.wd_standard {

}

div.wd_events {

}

div.wd_gallery {

}

.wd_videos table td {
	padding: 20px 0px;
}

.wd_videos table td .item_name {
	margin-bottom: 20px;
}

.wd_gallery table .item_name {
	padding: 10px;
}

.wd_gallery table .item_summary {
	position: relative;
	padding: 0px 15px 15px;
}

.wd_gallery table .item_summary ul.hi_res-links {
	position: absolute;
	bottom: 0px;
	left: 25px;
	margin: 30px 0 10px 0px;
}

div.wd_gallery span.filesize {
    font-weight: normal;
}

/* Begin FormBuilder styles */

div.wd_formbuilder {
/* This is the container for all formbuilder forms on this build*/

}

table.wd_formbuilder td {
	padding: 5px 2px;
}

input.wd_formbuilder_submit {

}

table.wd_formbuilder p {
    margin: 0px;
}

/* Begin Calendar styles */

table.wd_calendar_header
{
    background-color: #7d8dac;
    color: #ffffff;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    border-style: none none dotted none;
    border-width: 0 0 thin 0;
}

table.wd_calendar_header a,
table.wd_calendar_header a:visited,
table.wd_calendar_header a:active,
table.wd_calendar_header a:link {
    color: #ffffff;
}

td.wd_calendar_header_label {
    text-align: center;
    font-weight: bold;
}

td.wd_calendar_header_prev {
    text-align: left;
}

td.wd_calendar_header_next {
    text-align: right;
}

table.wd_calendar {
    background-color: #ffffff;
    table-layout: fixed;
}

th.wd_calendar_dayofweek_header {
    background-color: #ffffff;
    text-transform: lowercase;
    font-size: .90em;
}

td.wd_calendar_day {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    width: 14%;
    vertical-align: top;
}

html>body td.wd_calendar_day {
    padding: 0px 2px 0px 2px;   /* account for event padding+border where width = content only */
}

td.wd_calendar_this_month {
    background-color: #eeeeee;
    border-top: 1px #eeeeee solid;
    font-size: .85em;
}

td.wd_calendar_prev_month,
td.wd_calendar_next_month {
    background-color: #c6cede;
    border-top: 1px #c6cede solid;
    font-size: .85em;
}

td.wd_calendar_today
{
    background-color: #FF9;
    border: 1px #000000 solid;
}

div.wd_calendar_day_header {
    text-align: right;
    color: #000000;
    font-weight: bold;
    padding: 3px;
}

td.wd_calendar_prev_month div.wd_calendar_day_header,
td.wd_calendar_next_month div.wd_calendar_day_header
{
    color: #7d8dac;
}

div.wd_calendar_no_event {
    margin: 1px 0px 1px 0px;
    padding: 2px;
}

div.wd_calendar_event {
    width: 100%;
    margin: 1px 0px 1px 0px;
    padding: 2px;
    position: relative;
    left: 0px;
    white-space: nowrap;
    overflow: hidden;
    background-color: #77ccff;
}

html>body div.wd_calendar_event {
    left: -2px; /* account for padding+border where width = content only */
}

div.wd_event_tip_header
{
    background-color: #ffcc77;
    border-bottom: #F70;
    margin: 0px 0px 0px 0px;
    padding: 5px;
    border-width: 0 0 1px 0;
    border-style: none none dotted none;
}

div.wd_event_tip_info
{
    background-color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 5px;
}

div.wd_event_tip_info p {
    margin: 2px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
}

div.wd_event_tip_title {
    font-size: 1.2em;
    font-weight: bold;
}

div.wd_event_tip_time, div.wd_event_tip_location_name {
    font-weight: bold;
}

div.calendar_subscribe_links img {
    margin-right: 5px;
}

div.calendar_subscribe_links a {
    text-decoration: none;
}

/* Popup Fader */
div#wdFadeBackground {
    background-color: #555555;
    border: 5px;
    margin: 0px;
    padding: 0px;
}

div#wdFadePopup {
    background-color: #333333;
    padding: 2px;
}

td#wdFadeContent {
    background-color: #ffffff;
}

td#wdFadeClose {
    text-align: right;
}

p.search_result {
}

span.search_mime {
    font-size: 0.9em;
}

span.search_url {
}

.wd_newsfeed_releases-teaser .tools {
    font-size: 10px;
    text-decoration: none;
    margin-bottom: 12px;
}

.tools img {
    vertical-align: middle;
}

div.wd_featurebox_title {
    font-weight: bold;
    font-size: 1.2em;
    background-color: #666666;
    color: #ffffff;
    padding: 4px 8px;
    border: 1px solid #000;
}

div.wd_featurebox {
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    padding: 8px;
    margin-bottom: 10px;    
    overflow: auto;     
}

div.wd_featurebox p, div.wd_featurebox div {
    font-size: 11px;
}

div.wd_featurebox a.itemlink, .item_date {
    font-weight: normal;
    line-height: 1.5em;
}

/*----------------------------------------------------------------------------------*/


div.wd_featureboxes_top {
    margin: 15px 0px;
	clear: both;
}
/*
div.wd_featureboxes_top .wd_featurebox_container {
padding: 9px 0 9px 10px;
background: #efefef;
-moz-box-shadow: 2px 2px 2px #888;
-webkit-box-shadow: 2px 2px 2px #888;
box-shadow: 2px 2px 2px #888;
-moz-border-radius: 0px 9px 9px 0;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-webkit-border-bottom-left-radius: 9px;
}

div.wd_featureboxes_top div.wd_featurebox_title {
    border: 0px;
}

div.wd_featureboxes_top div.wd_featurebox {
    margin-top: 15px;
    overflow: visible;
    border: none;
}
*/
div.wd_featureboxes_top .wd_imagetable {
	float: none;
}

/*----------------------------------------------------------------------------------*/


div.wd_featureboxes_left {
    margin-top: 15px;
	clear: both;
}

div.wd_featureboxes_left div.wd_featurebox_title {
    border: 0px;
}

div.wd_featureboxes_left div.wd_featurebox {
    margin-top: 15px;
    overflow: visible;
    border: none;
}

div.wd_featureboxes_left .wd_imagetable {
	float: none;
}

/*----------------------------------------------------------------------------------*/


div.wd_featureboxes_right {
    margin-top: 15px;
	clear: both;
}

div.wd_featureboxes_right div.wd_featurebox_title {
   font-size: 16px;
color: #444444;
border: none; 
background: none;
}

div.wd_featureboxes_right div.wd_featurebox {
    overflow: hidden;
    border: none;
	border-bottom: dotted 1px #b2b2b2
	font-size: 12px;
	line-height: 18px;
	color: #333333;
	padding: 0px 8px;
}

div.wd_featureboxes_right .wd_imagetable {
	float: none;
}

/*----------------------------------------------------------------------------------*/


div.wd_featureboxes_middle {
}

div.wd_featureboxes_middle div.wd_featurebox_title {
}

div.wd_featureboxes_middle div.wd_featurebox {
}

/*----------------------------------------------------------------------------------*/

.wd_featureboxes_socialhub .wd_tabs_wrapper {
    background: 0 none;
    padding: 5px;
}

.wd_featureboxes_socialhub .wd_tab {
    margin: 1px;
    padding: 4px;
    border: 0px;
    background-color: transparent;
}

.wd_featureboxes_socialhub .wd_tab-active {
    padding: 3px;
    background-color: #dddddd;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

/*----------------------------------------------------------------------------------*/

.wd_featureboxes_tabbed {
	border-bottom: dotted 1px #b2b2b2;
	padding-bottom: 15px;
}

.wd_featureboxes_tabbed .wd_tab-active {
	background: #eee;
	font: bold 13px Helvetica, Arial, sans-serif;
	color: #444 !important;
}

.wd_featureboxes_tabbed .wd_featurebox {
	border: none;
	background: #FFF;
	border-radius: 9px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	width: 605px;
}

.wd_featureboxes_tabbed .wd_featurebox .item {
	border-bottom: solid 1px #bbb;
	padding: 6px 0 6px 8px;
}

.wd_featureboxes_tabbed .wd_featurebox .item_name a {
	text-decoration: none;
	font: bold 12px Helvetica, Arial,sans-serif;
	color: #00389A;
	text-decoration: none;
}

.wd_featureboxes_tabbed .wd_featurebox .item_name a:hover {
	color: #176ead;
	text-decoration: none;
}

.wd_featureboxes_tabbed .wd_featurebox .item_date {
	padding: 2px 0 0 0px;
	width: 109px;
	font: bold 12px Helvetica, Arial,sans-serif;
	color: #444444;
	float: left;
}

.wd_featureboxes_tabbed .wd_featurebox .more,
.wd_featureboxes_tabbed .wd_featurebox .more a {
	text-align: right;
	text-decoration: none;
	font: bold 12px Helvetica, Arial,sans-serif;
	color: #444;
	text-decoration: none;
	padding-top: 10px;
}

.wd_featureboxes_tabbed .wd_featurebox .more a:hover {
	color: #a0a0a0;
	text-decoration: none;
}


.wd_featureboxes_tabbed .wd_featurebox_container {
padding: 9px 0 9px 10px;
background: #efefef;
-moz-box-shadow: 2px 2px 2px #888;
-webkit-box-shadow: 2px 2px 2px #888;
box-shadow: 2px 2px 2px #888;
-moz-border-radius: 0px 9px 9px 0;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-webkit-border-bottom-left-radius: 9px;
}

.wd_featureboxes_tabbed .wd_tabs_wrapper {
    background: 0 none !important;
    border: 0 none !important;
}

.wd_featureboxes_tabbed .wd_tab {
    margin: 0 0.3em 0 0;
    padding: 0.5em;
	font: bold 13px Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #a0a0a0;
    border: 1px solid #eee;
    border-bottom-width: 0px;
    border-top-left-radius: 0.5em; -moz-border-radius-topleft: 0.5em; -webkit-border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em; -moz-border-radius-topright: 0.5em; -webkit-border-top-right-radius: 0.5em;
}

.wd_featureboxes_tabbed .wd_tab-inactive {
    background-color: #eeeeee;
}

.wd_featureboxes_tabbed .wd_tab-inactive:hover {
    background-color: #dddddd;
    border-color: #aaaaaa;
}

div.wd_rssfeeds_item {
    margin-bottom: 10px;
}

/* BEGIN shadows for Press Release Summary */
.shadowTR {
    margin: 0px;
    border: 0px;
    padding: 8px 0px 0px 0px;
    background: transparent url(../images/shadowTR.png)/*tpa=http://newsroom.united.com/images/shadowTR.png*/ no-repeat top right;
}

.shadowBL {
    margin: 0px;
    border: 0px;
    padding: 0px 0px 0px 8px;
    background: transparent url(../images/shadowBL.png)/*tpa=http://newsroom.united.com/images/shadowBL.png*/ no-repeat bottom left;
}

.shadowBR {
    margin: 0px;
    border: 0px;
    padding: 0px 8px 0px 0px;
    background: transparent url(../images/shadowBR.png)/*tpa=http://newsroom.united.com/images/shadowBR.png*/ no-repeat bottom right;
}

.shadowB {
    margin: 0px;
    border: 0px;
    padding: 0px 1px 8px 0px;
    background: transparent url(../images/shadowB.png)/*tpa=http://newsroom.united.com/images/shadowB.png*/ repeat-x bottom center;
}

.shadowR {
    margin: 0px -9px 0px 0px;
    border: 0px;
    padding: 1px 8px 1px 1px;
    background: transparent url(../images/shadowR.png)/*tpa=http://newsroom.united.com/images/shadowR.png*/ repeat-y center right;
}

.shadow-content {
    margin: -9px 0px -1px -9px;
    border: 0px;
    padding: 0px;
    background: transparent;
}
/* END shadows for Press Release Summary */

/* begin sponsorbar */
div.wd_sponsors {
	padding: 0 15px 10px 15px;
}

div.wd_sponsors p {
	background: #CCCCCC;
	margin: 0 0 5px 0;
	padding: 5px;
}

div.wd_sponsors img {
	padding: 10px;
}
/* end sponsorbar */

/* hi-res link for gallery */

ul.hi_res-links {
    padding: 5px 0px;
    margin: 10px 0;
    list-style: none;
}

ul.hi_res-links li {
    display: inline; /*For ignore double margin in IE6*/
    margin: 50px 0px;
    padding: 6px;
}

ul.hi_res-links li a, ul.hi_res-links li a:hover, ul.hi_res-links li a:link, ul.hi_res-links li a:visited {
    color: #FFF;
}

ul.hi_res-links li a {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

ul.hi_res-links li a span {
    margin: 0;
    padding: 2px 10px;
    position: relative; /*To fix IE6 problem (not displaying)*/
    font: bold 10px arial;
    background: #666 url(../images/webdriver/gradient_bg.gif)/*tpa=http://newsroom.united.com/images/webdriver/gradient_bg.gif*/ repeat-x top;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 1px 1px 5px #888;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* hi-res link for gallery */

/* override font size set in feed releases */
.wd_newsfeed_releases-detail .news_body p.prnews_p {
    font-family: inherit;
    font-size: 100%;
    color: inherit;

}

#subnav-drop {
	position: relative;
	z-index: 1000;
}

.ddsmoothmenu ul li ul li a {
	border-left: none;
	border-right: none;
}

.ddsmoothmenu ul li {
	top: 2px;
}
.ddsmoothmenu ul li a:hover {
	background: url('../images/menu_bg.jpg')/*tpa=http://newsroom.united.com/images/menu_bg.jpg*/ 0 -31px repeat-x;
}


.ddsmoothmenu ul li a {
	/* padding: 9px 15px; */
	padding: 7px 15px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	border-right: 1px solid #14426f;
	border-left: 1px solid #002040;
	font-family: Arial, serif;
	/* background: url('../images/menu_bg.jpg') 0 0 repeat-x; */
}

.wd_gallery img,
.wd_videos img,
.wd_standard .item img,
.wd_standard-detail img {
-webkit-box-shadow: 0 0 5px #888;
box-shadow: 0 0 5px #888;
}

 a.btn_download {
margin: 0 0 0 61px;
width: 133px;
height: 31px;
background: url(../images/btn_download.png)/*tpa=http://newsroom.united.com/images/btn_download.png*/ 0 0 no-repeat;
display: block;
}

a.btn_download:hover {
	background-position:0 -31px;	
}

ul.nav-bar {padding-left:0;}

ul.nav-bar, ul.nav-bar li {
list-style-type: none;

} 

.wd_featureboxes_top .wd_featurebox_container{
border-right: 1px dotted #9b9b9b;
border-left: 1px dotted #9b9b9b;
border-bottom: 1px dotted #9b9b9b;
border-top: 5px solid #f1c328;
}

.wd_featureboxes_top .wd_featurebox {
background: -moz-linear-gradient(top, rgba(241,195,40,1) 0%, rgba(252,243,212,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,195,40,1)), color-stop(100%,rgba(252,243,212,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(241,195,40,1) 0%,rgba(252,243,212,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(241,195,40,1) 0%,rgba(252,243,212,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(241,195,40,1) 0%,rgba(252,243,212,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(241,195,40,1) 0%,rgba(252,243,212,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1c328', endColorstr='#FCF3D4',GradientType=0 ); /* IE6-9 */
}

.wd_featureboxes_top .wd_featurebox_title {
	background: transparent;
	color: #000;
	border: none;
	border-bottom: 1px dotted #9b9b9b;

}

.wd_featureboxes_middle .wd_featurebox {
	border: none;

}


.wd_newsfeed_releases .spintable td {
	vertical-align: top;
	padding-bottom: 20px;
}

table.alternate tr td {
	padding: 3px 2px;
}

table.alternate tr {
	background: #ccc;
}


table.alternate tr.odd {
	background: #FFF
}

.blue_title {
	font-size: 16px;
	color: #003399;
}

.blue_button {
	background: #005dab; /* Old browsers */
	background: -moz-linear-gradient(top, #649dcc 140%, #005dab 40%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#649dcc), color-stop(40%,#005dab)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #649dcc 14%,#005dab 40%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #649dcc 14%,#005dab 40%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #649dcc 14%,#005dab 40%); /* IE10+ */
	background: linear-gradient(to bottom, #649dcc 14%,#005dab 40%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#649dcc', endColorstr='#005dab',GradientType=0 ); /* IE6-9 */
	padding: 0px 10px;
	line-height: 30px;
	color: #FFF;
	text-decoration: none;
	border: 1px solid #005dab;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;	
	border-radius: 7px;
	width: 133px;
	display: block;
	text-align: center;
	font-size: 13px;
}

.blue_button:hover {
	color: #FFF;
	background: #649dcc; /* Old browsers */
	background: -moz-linear-gradient(top, #005dab -7%, #649dcc 40%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(-7%,#005dab), color-stop(40%,#649dcc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #005dab -7%,#649dcc 40%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #005dab -7%,#649dcc 40%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #005dab -7%,#649dcc 40%); /* IE10+ */
	background: linear-gradient(to bottom, #005dab -7%,#649dcc 40%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005dab', endColorstr='#649dcc',GradientType=0 ); /* IE6-9 */	
}

.wd_newsfeed_releases .spintable tbody td {
	border-bottom: 1px dotted #B2B2B2;
	padding: 20px 0px;
}

sup {
	vertical-align: super;
	font-size: smaller;
}
