body {
		margin-left:0px;
		margin-right:0px;
		font-family: arial;
	}
	a:link, a:visited {
		text-decoration: none;
		color:#ffffff;
	}
	a img {
		border: 0px;
	}
	#main-content-container, #header, #footer {
		margin: auto;
		border-spacing: 15px 0px;
	}
	#main-content-container {
		padding-top:54px;
		padding-bottom:82px;
	}
	.image-container {
		background-repeat: no-repeat;
		height: 332px;
		width: 294px;
		padding: 0;
		max-width: 294px;
		min-width: 294px;
		vertical-align: bottom;
	}	
	#newshop-image.image-container {
		background-image: url("../supplierimages/gbc/HomeGB/newshop-orig.jpg")/*tpa=http://www.graybar.com/supplierimages/gbc/HomeGB/newshop-orig.jpg*/;
		position: relative;
		display: block;
	}
	#oldshop-image.image-container {
		background-image: url("../supplierimages/gbc/HomeGB/oldshop-orig.jpg")/*tpa=http://www.graybar.com/supplierimages/gbc/HomeGB/oldshop-orig.jpg*/;			
		position: relative;
		display: block;
	}
	#corp-image.image-container {
		background-image: url("../supplierimages/gbc/HomeGB/corp-orig.jpg")/*tpa=http://www.graybar.com/supplierimages/gbc/HomeGB/corp-orig.jpg*/;
		position: relative;
		display: block;
	}
	#newshop-moreinfo, #oldshop-moreinfo, #corp-moreinfo {
		display: inline-block;
		font-size: 12px;
		color: white;
		margin: 284px 0 0 0;
		padding: 16px;
	}
	#newshop-moreinfo img, #oldshop-moreinfo img, #corp-moreinfo img {
		vertical-align: bottom;
		margin-right: 4px;
	}
	#newshop-moreinfo.inactive, #oldshop-moreinfo.inactive, #corp-moreinfo.inactive {
		display: none;
	}
	#newshop-moreinfo-bullets, #oldshop-moreinfo-bullets, #corp-moreinfo-bullets {
		display: none;
		font-size: 12px;
	}
	#newshop-moreinfo-bullets ul, #oldshop-moreinfo-bullets ul, #corp-moreinfo-bullets ul {
		list-style-type: none;
		padding-left: 25px;
		padding-right: 25px;
	}
	#newshop-moreinfo-bullets ul li, #oldshop-moreinfo-bullets ul li, #corp-moreinfo-bullets ul li {
		margin-bottom: 6px;
	}
	#newshop-moreinfo-bullets.active, #oldshop-moreinfo-bullets.active, #corp-moreinfo-bullets.active {
		display: inline-block;
		width: 100%;
		background-color: rgb(255,255,255);
		background-color: rgba(255,255, 255, .8);
		border-radius: 60% 60% 0 0 / 30% 30% 0 0;
		padding-top: 15px;
		position: relative;
		color: black;
		bottom: -220px;
	}
	#newshop-lessinfo, #oldshop-lessinfo, #corp-lessinfo {
		display: inline-block;
		position: absolute;
		padding: 12px;
		top: 18px;
		right: 3px;
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		font-size: 20px;
	}
	#previous-visit-newshop, #previous-visit-oldshop, #previous-visit-corp {
		display: none;
	}
	#previous-visit-newshop.active, #previous-visit-oldshop.active, #previous-visit-corp.active {
		display: block;
		position: absolute;
		top: 18px;
		left: -10px;
	}
	.previous-visit {
		color: white;
		font-size: 11px;
		padding: 2px 3px 2px 10px;
		background: rgb(218,44,40);
		height: 12px;
	}
	.previous-visit:after {
		content: " ";
		font-size: 11px;
		background: url("../supplierimages/gbc/HomeGB/previous-visit-flag-orig.png")/*tpa=http://www.graybar.com/supplierimages/gbc/HomeGB/previous-visit-flag-orig.png*/ no-repeat;
		position: absolute;
		width:11px;
		height:16px;
		margin:-2px 0 0 2px;
	}
	.destination-container {
		padding-bottom: 6px;
		color: #585858;
		height: 24px;
		vertical-align: top;
	}
	.destination-container img {
		margin-top: -6px;
		vertical-align: top;			
	}
	#newshop-destination-text {
		display: inline;
	}
	#destination-text-emphasized {
		font-style: italic;
		font-weight: bold;
		color: #3399cc;
	}
	.cta-container {
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		background-color: #3399cc;
		text-align: center;
	}
	#new-shop-link-secondary, #old-shop-link-secondary, #visit-corp-link-secondary {
		font-size:14px;
		font-weight: normal;
		font-style: italic;
		padding-top: 2px;
		text-transform: none;
	}
	.cta-link {
		margin: 0px auto;
		height:100%;
		padding: 14px 0px;
	}
	td {
		padding: 0px;
	}
	td.col {
		vertical-align: top;
	}
	#links-bar {
		font-size: 12px;
		text-align: right;
	}
	#links-bar ul {
		margin: 8px 0 0 0;
		padding: 0;
		list-style: none;
	}
	#links-bar li {
		display: inline;
	}
	#links-bar ul li a {
		color: #999999;
		margin: 0 3px;
		padding: 0 0 0 8px;
		text-decoration: none;
		border-left: 1px solid #999999;
	}
	#links-bar li:first-child a {
		border: none;
	}
	#links-bar ul li:hover a, #links-bar ul li a:hover {
		text-decoration: underline;
	}
	#logo-image {
		vertical-align: text-bottom;
		width:150px;
		margin-bottom: -8px;			
	}
	#welcome-message {
		display: inline;
		margin-left: 16px;
		font-size: 15px;
		font-style: italic;
		color: #999999;
	}
	#header, #footer {
		width: 954px;
	}
	#header {
		margin-bottom: 18px;
	}
	#footer {
		margin-top: 18px;
		font-size: 12px;
		font-style: italic;
		color: #999999;
	}
	#main-content-background-container {
		background: 				
		url(
			data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHklEQVQIW2P89OnTfwYoYARx3r9/zyAoKMgA5sBkAEmmDoNwIy9DAAAAAElFTkSuQmCC
			);
		background: 				
		url("../supplierimages/gbc/HomeGB/bg-fade-orig.png")/*tpa=http://www.graybar.com/supplierimages/gbc/HomeGB/bg-fade-orig.png*/,
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHklEQVQIW2P89OnTfwYoYARx3r9/zyAoKMgA5sBkAEmmDoNwIy9DAAAAAElFTkSuQmCC);
		background-position: bottom, top;
		background-repeat: repeat-x, repeat;
	}	
	.ribbon-triangle {
		display: block;			
	}
	@media screen and (min-width: 701px) and (max-width: 980px){
		#main-content-container, #header, #footer {
			margin: auto;
			border-spacing: 8px 0px;
		}
		.image-container {
			background-size: 218px 246px;
			height: 246px;
			width: 218px;
			padding: 0;
			max-width: 218px;
			min-width: 218px;
		}
		.cta-link {
			padding: 14px 0px;
		}
		#newshop-moreinfo, #oldshop-moreinfo, #corp-moreinfo {
			display: inline-block;
			font-size: 12px;
			color: white;
			margin: 200px 0 0 0;
			padding: 16px;
		}
		#newshop-moreinfo-bullets.active, #oldshop-moreinfo-bullets.active, #corp-moreinfo-bullets.active {
			display: inline-block;
			width: 100%;
			height: 50%;
			background-color: rgb(238,238,238);
			background-color: rgba(255,255, 255, .8);
			border-radius: 60% 60% 0 0 / 30% 30% 0 0;
			padding-top: 15px;
			position: relative;
			color: black;
			bottom: -110px
		}
		#header, #footer {
			width: 698px;
		}
		#header {
			margin-bottom: 18px;
		}
		#footer {
			margin-top: 18px;
		}
		#links-bar {
			font-size: 13px;
		}
		#links-bar ul {
			margin: 12px 0 0 0;
		}
		#links-bar ul li a {
			padding: 0 0 0 12px;
		}
		.destination-container {
			height: 22px;
			font-size: 14px;
			padding-bottom:2px;
		}
		#previous-visit-newshop.active, #previous-visit-oldshop.active, #previous-visit-corp.active {
			top: 10px;
		}
		.cta-container {
			font-size: 15px;
		}
		#new-shop-link-secondary, #old-shop-link-secondary, #visit-corp-link-secondary {
			font-size:12px;
		}
	}
	@media screen and (max-width: 700px){
		#main-content-container, #header, #footer {
			border-spacing: 0px;
		}
		.image-container {
			/* background-size: cover; */
			height: 150px;
			width: 294px;
			margin: 0 auto;
		}
		#newshop-moreinfo, #oldshop-moreinfo, #corp-moreinfo {
			display: inline-block;
			font-size: 12px;
			color: white;
			margin: 102px 0 0 0;
			padding: 16px;
		}
		#newshop-moreinfo-bullets.active, #oldshop-moreinfo-bullets.active, #corp-moreinfo-bullets.active {
			display: inline-block;
			width: 100%;
			background-color: rgb(238,238,238);
			background-color: rgba(255,255, 255, .8);
			border-radius: 60% 60% 0 0 / 30% 30% 0 0;
			padding-top: 15px;
			position: relative;
			color: black;
			bottom: -40px
		}
		#newshop-image.image-container {
			background-image: url("../supplierimages/gbc/HomeGB/newshop-mobile-orig.jpg")/*tpa=http://www.graybar.com/supplierimages/gbc/HomeGB/newshop-mobile-orig.jpg*/;
			display: block;
		}
		#oldshop-image.image-container {
			background-image: url("../supplierimages/gbc/HomeGB/oldshop-mobile-orig.jpg")/*tpa=http://www.graybar.com/supplierimages/gbc/HomeGB/oldshop-mobile-orig.jpg*/;
			display: block;
		}
		#corp-image.image-container {
			background-image: url("../supplierimages/gbc/HomeGB/corp-mobile-orig.jpg")/*tpa=http://www.graybar.com/supplierimages/gbc/HomeGB/corp-mobile-orig.jpg*/;
			display: block;
		}
		.col {
			display: block;
			margin-bottom: 14px;
		}
		.cta-link {
			padding: 10px 0px;
		}
		#header, #footer {
			width: 298px;
		}
		#links-bar {
			font-size: 15px;
			}#links-bar ul {
				margin: 12px 0 0 0;
			}
			#links-bar li:not(:first-child) {
				display: none;
			}
			#welcome-message {
				display: block;
				margin-left: 0px;
				margin-top: 10px;
			}
			#main-content-container {
				padding-top: 22px;
				padding-bottom:12px;
			}
			.destination-container {
				height: 22px;
				font-size: 14px;
				padding-bottom:0px;
			}
			#main-content-background-container {
				/* background: 				
					url(
						data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHklEQVQIW2P89OnTfwYoYARx3r9/zyAoKMgA5sBkAEmmDoNwIy9DAAAAAElFTkSuQmCC
					);
				background-position: initial;
				background-repeat: initial; */
				background-size: 100% 150%, auto;
			}
			#previous-visit-newshop.active, #previous-visit-oldshop.active, #previous-visit-corp.active {
				top: 10px;
			}
		}
