@charset "utf-8";
/* Generic new LP template 6/30/2014*/



h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-style:normal;
    font-family:Arial, Helvetica, sans-serif !important;
}
p {
    font-family:Arial, Helvetica, sans-serif !important;
}

.clearfix:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
}

/* new Grey full width bar */
.no-grey-bg {
    width:100%;
    overflow:hidden; 
    padding:100px 0;
    margin:100px 0;
}
.light-grey-bg {
    width:100%;
    background-color:#F2F2F2; 
    overflow:hidden; 
    padding:100px 0;
    margin:100px 0;
}
/* 3 col layout */
.three-block-0 { 
    width: 272px; 
    margin-right: 20px; 
    float:left; 
}

.three-block-1 { 
    width: 272px; 
    padding-left: 21px; 
    padding-right: 21px; 
    float:left; 
}

.three-block-2 { 
    width: 272px; 
    margin-left: 20px; 
    float:left; 
}

/* 4 col layout */
.block-0 {
    width: 215px;
    margin-right: 10px;
    float: left;
}

.block-1 {
    width: 215px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.block-2 {
    width: 215px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.block-3 {
    width: 215px;
    margin-left: 10px;
    float: left;
}

.col{
    width: 940px;
    margin: 0 auto;
}


#sub-nav { display:block; padding:5px 0 9px 10px; border-bottom:1px solid #ddd;}
#sub-nav ul {text-decoration:none; margin:0 0 0 10px; padding:0;}
#sub-nav ul li {margin:0 0 0 20px !important; display:inline-block; padding:10px;border-bottom: 2px solid #fff;}
#sub-nav ul li:hover {
border-bottom: 2px solid #0073B0;
}
#sub-nav ul li a { text-decoration:none; color:#333; font-weight:normal !important;padding:10px 0;}
.active { color:#0073b0 !important;}
.demo-btn{width: 200px; padding:15px; background-color:#8CC600;color:#fff; float:right;margin: 13px 0;}
a.demo-btn-link {}
#demo-btn {text-decoration:none; cursor:pointer;}
.center-block {margin: 0 auto; width: 450px;}
#main-top-text li{
line-height:22px !important;
}
.demo-btn:hover {background-color:#333} 


#one-action:hover #account-creation {
background-color: #333;
text-decoration:none;
color:#fff !important;
}

#md-link {
    text-decoration:none;
}
#md-link:hover h2 {
    color:#FF5300;
}
.nav-1 { background-color:#00A0B1;padding: 23px 18px;color: #fff;font-size:16px !important;}
.nav-2 { background-color:#7030A0;padding: 23px 18px;color: #fff;font-size:16px !important;}
.nav-3 { background-color:#FFBE00;padding: 23px 18px;color: #fff;font-size:16px !important;}
.nav-4 { background-color:#BF1E4B;padding: 23px 18px;color: #fff;font-size:16px !important;}
.nav-5 { background-color:#FF5300;padding: 23px 18px;color: #fff;font-size:16px !important;}
.nav-1:hover { background-color:#008299;color: #fff;}
.nav-2:hover { background-color:#8C0095;color: #fff;}
.nav-3:hover { background-color:#FF981D;color: #fff;}
.nav-4:hover { background-color:#AC193D;color: #fff;}
.nav-5:hover { background-color:#D24726;color: #fff;}




.orange { background-color:#FF5300;}
.off-orange{ background-color:#FF8A00;}
.yellow{ background-color: #FFBE00;}
.light-blue  { background-color: #00AEEF;}
.purple  { background-color: #7030A0;}
.green { background-color: #00A600;}
.light-green { background-color:#8CC600;}
.blue  { background-color: #0071BC;}
.grey  { background-color: #5E5E5E;}
.light-grey { background-color: #A6A6A6;}



#demo-btn a{outline:none; border:none; text-decoration: none; color:#fff;}

#com-banner { background-image:url(../../dam/insight/bgimages/insight-home-logo.gif)/*tpa=http://www.insight.com/content/dam/insight/bgimages/insight-home-logo.gif*/; border-bottom:1px solid #ddd; background-repeat:no-repeat; width:940px; height:75px; z-index:0; display:block; overflow:hidden; margin:0 0 20px; }

#ips-banner { background-image:url(../../dam/insight/bgimages/insight-home-ips-logo.gif)/*tpa=http://www.insight.com/content/dam/insight/bgimages/insight-home-ips-logo.gif*/; border-bottom:1px solid #ddd; background-repeat:no-repeat; width:940px; height:75px; z-index:0; display:block; overflow:hidden; margin:0 0 20px; }

#com-banner #home-link, #ips-banner #home-link { display:block; width:200px; height:75px; }

#featured-partner-logo { position:absolute; right:20px; }

.call-us { position:absolute; top:55px; right:20px; font-weight:bold; width:200px; padding:10px 20px; background-color:#eee; text-align:center; font-size:11px; }

b { color:#444; }

#point { color:#444; font-size:16px; text-align:center; margin-bottom:10px; }

.bold-me { font-weight:bold; }

#color-444 { color:#444; }

.font-16 {font-size: 16px !important; line-height:26px !important; margin: 10px 0;}

.font-16 a, .font-16 a:visited {font-size:16px;}

#font-14 { font-size:14px; line-height:24px; }

#super { font-size:9px; vertical-align:super; line-height:9px; }

#font-14 a, #font-14 a:visited { font-size:14px; }

.margin-side-20 {margin: 0 20px !important;}

#white-text { color:#fff; }

#color-blue { color:#0073b0; }

#centered-title-text { text-align:center; font-size:48px; line-height:54px; color:#222; margin:0px; }

#centered-title-text-36 { text-align:center; font-size:36px; line-height:42px; color:#222; margin:0px; }

#centered-supporting-announcement-32 { text-align:center; font-size:32px; line-height:38px; color:#666; margin-bottom:15px; font-weight: normal; font-style:normal;}

#centered-supporting-announcement-24 { text-align:center; font-size:24px; line-height:30px; color:#666; margin-bottom:15px; }

#centered-supporting-announcement-22 { text-align:center; font-size:22px; line-height:26px; color:#666; margin-bottom:15px; }

#centered-supporting-announcement-16 { text-align:center; font-size:16px; line-height:22px; color:#666; margin-bottom:10px; }

#centered-intro-text { font-size:14px; line-height:21px; text-align:center; padding:20px 90px; }

#next-section-title { text-align:center; font-size:28px; line-height:32px; color:#333; margin:20px 0; }

.border-me { border:1px solid #ddd; padding:20px; margin:0 0 20px 0; }

.outside-border { border:1px solid #ccc; padding:0px; margin:0 0 20px 0; }

.inside-border { border:5px solid #fff; padding:20px; }

.center-me { text-align:center; }

.left-me { text-align:left; }

#clear-all-display-none { clear:both; display:none; }

#section-heading { font-size:28px; line-height:34px; color:#111; margin-bottom:50px; }


/* RESOURCE SECTION */


.resource-downloads { list-style-image:none; list-style-type:none; margin-left:15px; }

.resource-downloads li { list-style-image:none;  margin-bottom:15px; }

#pdf-red { background-image:url(../../dam/insight/bgimages/pdf-icon-20x20.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/pdf-icon-20x20.png*/; background-repeat:no-repeat; padding-left:35px; display:block; min-height:25px; }


/* PRODUCT SECTION */

#product-focus { display:block; text-decoration:none; height:400px; }
#product-focus h3 { border-bottom:1px solid #ddd; color:#333; font-size:12px; padding:10px; text-align:center; margin-bottom:15px; }
#product-focus img { display:block; width:290px; height:150px; background-color:#ddd; }
#product-focus h2 { color:#0073b0; }
#product-focus #mfr-part { font-size:11px; color:#666; font-weight:bold; }
#product-focus #product-info { font-size:12px; color:#666; height:100px; }
#product-focus #price { font-size:16px; color:#61b3d5; font-weight:bold; } 
#product-focus #price span { color:#222; } 

#product-focus:hover img, #product-focus:hover #mfr-part, #product-focus:hover #product-info { opacity:0.9; filter:alpha(opacity=90); } 
#product-focus:hover h3 { color:#666; }
#product-focus:hover h2 { color:#61b3d5; text-decoration:underline; } 
#product-focus:hover #price { color:#cc0000; }
#product-focus:hover #price span { text-decoration:underline; } 


/* CASE STUDY SECTION */

#case-study { border:1px solid #666; display:block; padding:20px; background-color:#f8f8f8; }
#case-study h2 { line-height:24px; }






/* BOTTOM CALL TO ACTIONS */


.one-action { display:block; padding:25px; text-align:center; text-decoration:none !important; }

.call-to-action, .call-to-action:visited  { display:block !important; padding:25px !important; text-align:center !important; text-decoration:none !important;  }

#main-action-title { color:#444; }


#contact { text-align:center; color:#999; }

.call-to-action #contact-image { margin:10px auto !important; }


#main-call { background-color:#56b146; border:1px solid #fff; display:block; padding:10px; width:155px; margin:0 auto; color:#fff; font-weight:bold; font-size:12px; }
#main-call:hover { background-color:#333; text-decoration:none; }

#account-creation { background-color:#ddd; display:block; padding:10px; width:125px; margin:0 auto; color:#666; border:1px solid #fff; }
#account-creation:hover { background-color:#f7f7f7; text-decoration:none; border:1px solid #ddd; }


#expert-callout { text-align:center; color:#888; }
#expert-calltoaction-text { text-align:center; color:#999; }
#expert-calltoaction { font-size:16px; display:block; }

#expert-calltoaction a, #expert-calltoaction a:visited { font-size:16px !important; display:block; text-align:center; color:#999 !important; font-weight:bold; text-decoration:none !important; }
.call-to-action:hover #expert-calltoaction { color:#61b3d5 !important; text-decoration:underline !important; }


#share-me-top { text-align:center; width:165px; margin:0 auto; padding:0; }
#share-me-bottom { text-align:center; width:110px; margin:0 auto; padding:0; }

#email-contact { display:block; width:150px; background-color:#e2e2e2; border:1px solid #ddd; margin:0 auto; padding:10px 0; color:#666; text-decoration:none; }
#email-contact:hover { background-color:#666; color:#fff; }

#one-action { display:block; text-align:center; padding:25px; text-decoration:none; }
#one-action #one-action-title { color:#444; }
#one-action #two-action-title { color:#999; }
#one-action #action-image { margin:10px auto; }
#one-action #action-expert { text-align:center; color:#666666; margin:0 0 10px; }
#one-action #expert-call-text { text-align:center; color:#999; }
#one-action:hover #main-call { background-color:#333; text-decoration:none; }

.pop-action { display:block; text-align:center; padding:25px; text-decoration:none !important; }
.pop-action #one-action-title { color:#444; }
.pop-action #action-image { margin:10px auto; }
.pop-action #action-expert { text-align:center; color:#666666; margin:0 0 10px; }
.pop-action #expert-call-text { text-align:center; color:#999; }
.pop-action:hover #main-call { background-color:#333; text-decoration:none; }

/* GENERIC FORM 300 */   
   

.supporting-form-content { float:left; width:575px; background-repeat:none; display:block; position:relative; left:10px; }

.right-form { 
    float:right; 
    width:280px;
    margin:5px 25px 20px 0px; 
    padding:25px 15px 25px 15px; 

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.right-form  #form-callout { width:247px; margin:0 0 0 15px; border-bottom:none; font-size:16px; font-weight:bold; text-align:left; }

.right-form  #callout-subhead { width:247px; margin:0 0 0 15px; }

.form-inputs { width:247px; list-style-image:none; list-style-type:none; padding:0; margin:0; }

#title-of-field { width:247px; list-style-image:none; vertical-align:top; list-style-type:none; margin:10px 0 2px; padding:0; float:left; text-size:14px; font-weight:bold; color:#222; text-align:left; }

.field-type { width:247px; list-style-image:none; height:20px; display:block; border:1px solid #ccc; margin:6px 0 0 0; }

.txt-area-input {  width:247px; list-style-image:none; display:block; border:1px solid #ccc; margin:6px 0 0 0; }

.field-type:hover, .txt-area-input:hover { border:1px solid #002e5f; }

#privacy-section { width:247px; list-style-image:none; list-style-type:none; vertical-align:baseline; margin:10px 0; padding:0; float:left; font-size:9px; line-height:12px; text-align:left; }



/* GENERIC FORM */   
   

.form-back{ position:relative; width:940px; padding:20px 0 margin-bottom:10px; }

.form-content-support { float:left; width:415px; background-repeat:none; display:block; position:relative; left:30px; }

.form-right { 
    float:right; 
    width:416px; 
    margin:5px 10px 20px 0px; 
    padding:25px 15px 15px 15px; 

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#form-callout { margin:0 0 0 15px; border-bottom:none; font-size:16px; font-weight:bold; text-align:left; }

#callout-subhead { margin:0 0 0 15px; }

.header-form { width:385px; list-style-image:none; list-style-type:none; padding:0; margin:0; display:inline-block; }

#field-title { width:385px; list-style-image:none; vertical-align:top; list-style-type:none; margin:10px 0; padding:0; float:left; text-size:14px; font-weight:bold; color:#222; text-align:left; display:inline-block; }

.input-field { width:270px; list-style-image:none; height:20px; float:right; border:1px solid #ccc; margin:0; }

.input-text { width:270px; list-style-image:none; float:right; border:1px solid #ccc; margin:0; }

.input-field:hover, .input-text:hover { border:1px solid #002e5f; }

#table-field { width:270px; float:right; }

#privacy-policy { width:385px; list-style-image:none; list-style-type:none; /* vertical-align:baseline; */ margin:10px 0; padding:0; float:left; font-size:9px; text-align:left; }


/* COLORED BACKGROUND */


#back-grey { background-color:#ddd; }

#back-grey-gradient { background-image:url(../../dam/insight/bgimages/background-grey-form-gradient.jpg)/*tpa=http://www.insight.com/content/dam/insight/bgimages/background-grey-form-gradient.jpg*/; background-repeat:no-repeat; }

#back-grey-gradient #title-of-field, #back-grey-gradient #privacy-section, #back-grey-gradient #field-title, #back-grey-gradient #form-callout, #back-grey-gradient #callout-subhead, #back-grey-gradient #privacy-policy, #back-grey-gradient #privacy { color:#111; }

#back-light-grey { background-color:#f7f7f7; }

#back-black { background-color:#111; }

#back-black #title-of-field, #back-black #privacy-section, #back-black #field-title, #back-black #form-callout, #back-black #callout-subhead, #back-black #privacy-policy, #back-black #privacy { color:#fff; }

#back-black .form_button_submit:hover { background-color:#808080; }

#back-black-gradient { background-image:url(../../dam/insight/bgimages/background-black-form-gradient.jpg)/*tpa=http://www.insight.com/content/dam/insight/bgimages/background-black-form-gradient.jpg*/; background-repeat:no-repeat; }

#back-black-gradient #title-of-field, #back-black-gradient #privacy-section, #back-black-gradient #field-title, #back-black-gradient #form-callout, #back-black-gradient #callout-subhead, #back-black-gradient #privacy-policy, #back-black-gradient #privacy { color:#fff; }

#back-black-gradient .form_button_submit:hover { background-color:#808080; }

#back-blue-gradient { background-image:url(../../dam/insight/bgimages/background-blue-form-gradient.jpg)/*tpa=http://www.insight.com/content/dam/insight/bgimages/background-blue-form-gradient.jpg*/; background-repeat:no-repeat; }

#back-blue-gradient #title-of-field, #back-blue-gradient #privacy-section, #back-blue-gradient #field-title, #back-blue-gradient #form-callout, #back-blue-gradient #callout-subhead, #back-blue-gradient #privacy-policy, #back-blue-gradient #privacy { color:#fff; }

#back-blue { background-color:#0073b0; }

#back-blue #title-of-field, #back-blue #privacy-section, #back-blue #field-title, #back-blue #form-callout, #back-blue #callout-subhead, #back-blue #privacy-policy, #back-blue #privacy { color:#fff; }

#back-light-blue { background-color:#61b3d5; }

#back-white { background-color:#fff; }

#back-orange { background-color:#fcb53e; }

#back-red { background-color:#cc0000; }

#back-red #title-of-field, #back-red #privacy-section, #back-red #field-title, #back-red #form-callout, #back-red #callout-subhead, #back-red #privacy-policy, #back-red #privacy { color:#fff; }

#back-red-gradient { background-image:url(../../dam/insight/bgimages/background-red-form-gradient.jpg)/*tpa=http://www.insight.com/content/dam/insight/bgimages/background-red-form-gradient.jpg*/; background-repeat:no-repeat; }

#back-red-gradient #title-of-field, #back-red-gradient #privacy-section, #back-red-gradient #field-title, #back-red-gradient #form-callout, #back-red-gradient #callout-subhead, #back-red-gradient #privacy-policy, #back-red-gradient #privacy { color:#fff; }



/* SHARED FORM CLASSES */


#privacy { 
    font-size:9px; 
    font-weight:normal; 
    color:#222; 
    }

.form_button_submit { 
    background-color:#56b146; 
    display:block; 
    padding:8px 20px; 
    text-align:center; 
    width:200px; 
    height:40px; 
    color:#fff; 
    font-weight:bold; 
    font-size:14px; 
    float:right; 
    border:none; 
    background-image:none; 
    text-transform:none; 
    margin:0; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }

.form_button_submit:hover { 
    background-color:#333; 
    }

.btn-open-lightbox, .btn-open-lightbox:visited {
    background-color: #56B146;
    background-image: none;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-size:14px !important;
    font-weight: bold;
    margin: 0;
    padding:15px !important;
margin:0px 0 8px;
    text-align: center;
    min-width:80%;
text-decoration:none;
}

.btn-open-lightbox:hover {
    background-color: #333;
color:#fff; 
text-decoration:none;
}


/* CONTINUE VIDEO FORM */

.form-continue-video {  
    width:416px; 
    height:335px; 
    margin:20px;
    padding:25px 15px 15px 15px; 
    -webkit-border-radius:8px;
    -moz-border-radius: 8px;
    border-radius: 8px; 
    background-color:#ddd;
    }
 
#form-video-callout { 
    margin:0 0 0 15px; 
    border-bottom:none; 
    font-size:16px; 
    font-weight:bold; 
    text-align:left; 
    }
    
#callout-video-subhead {
    margin:0 0 0 15px; 
    }
    
.header-video-form { 
    width:385px; 
    list-style-image:none; 
    list-style-type:none; 
    padding:0; 
    margin:0; 
    }
    
#field-video-title { 
    width:385px; 
    list-style-image:none; 
    list-style-type:none; 
    vertical-align:baseline; 
    margin:10px 0; 
    padding:0; 
    float:left; 
    font-size:14px; 
    color:#222; 
    text-align:left; 
    }
    
.input-video-field { 
    width:270px; 
    list-style-image:none; 
    height:20px; 
    float:right;
    border:1px solid #ccc; 
    }

#privacy-video-policy { 
    width:385px; 
    list-style-image:none; 
    list-style-type:none; 
    vertical-align:baseline; 
    margin:10px 0; 
    padding:0; 
    float:left; 
    font-size:9px; 
    line-height:13px;
    color:#666; 
    text-align:left; 
    }
    
    
/* =============================================================================
   Topscroll
============================================================================= */

#top { 
    position: fixed;
    right: 10px;
    bottom: 50px;
    margin: 0;
    z-index: 9999;
 }

#top a {
    width: 80px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#top a:hover {
    color: #fff;
}

/* arrow icon (span tag) */
#top span {
    width: 80px;
    height: 80px;
    display: block;
    margin-bottom: 7px;
    background: url(../../dam/insight/bgimages/up-arrow-icon.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/up-arrow-icon.png*/ no-repeat center center;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#top a:hover span {
    background: url(../../dam/insight/bgimages/up-arrow-icon-b.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/up-arrow-icon-b.png*/ no-repeat center center;
}    
    
    
    
/* =============================================================================
   Marketo 
============================================================================= */    
    
.mktoForm .mktoLabel { margin-bottom: 7px; }
.mktoButtonWrap  { margin:0 !important; }
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton, .mktoForm .mktoButtonWrap.mktoRound button.mktoButton { background-color:#56b146; font-size: 14px; padding: 10px 15px; border:none !important; border-radius:0 !important; }
.mktoForm .mktoButtonWrap.mktoRound button.mktoButton:hover { background-color:#333; border:none !important; border-radius:0 !important; }
.mktoForm .mktoOffset { width:0px !important; }  
.placeholder { display:hidden !important; }

/* =============================================================================
   Marketo lightbox
============================================================================= */ 
.mktoModal .mktoModalContent {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 5px;
}
.mktoModal .mktoModalMain {
width: 251px;
padding: 15px 10px;
background-color: #e2e2e2;
color: #fff;
}


/* =============================================================================
   SLide Out Contact
============================================================================= */ 

.slide-out-div { padding: 0px; width: 300px; height:675px; background-color:#222; 

-webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    
     }  

.slide-form { 
    float:right; 
    width:280px;
    height:630px;
    margin:0px; 
    padding:25px 15px 25px 15px; 

    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
}

.slide-form  #slide-form-callout { width:247px; margin:0 0 0 15px; padding-left:5px; border-bottom:none; font-size:24px; font-weight:normal; text-align:left; color:#fff; }

.slide-form  #slide-callout-subhead { width:247px; margin:0 0 0 15px; padding-left:5px; color:#fff; }

#slide-inputs { width:247px; list-style-image:none; vertical-align:top; list-style-type:none; margin:10px 0 2px; padding:0; float:left; text-size:14px; font-weight:bold; color:#fff; text-align:left; }

.slide-form-inputs { width:247px; list-style-image:none; list-style-type:none; padding:0; margin:0 0 0 20px; }

#slide-back #privacy-section { width:247px; list-style-image:none; vertical-align:top; list-style-type:none; margin:10px 0 2px; padding:0; float:left; color:#fff; font-size:9px; line-height:12px; text-align:left; }

#slide-back #privacy-policy, #slide-back #privacy { color:#fff; font-size:9px; line-height:12px; }

#slide-back .mktoForm .mktoLabel { color:#fff; }


