/* VALUE PROP */

.insight-value { 
    border:1px solid #ddd; display:block; width:690px; height:302px; float:left; background-color:#f8f8f8; margin:0 0 20px 0; overflow:hidden; 
    }

.solutions-value { 
    border:1px solid #ddd; display:block; width:230px; height:140px; float:right; background-color:#f8f8f8; margin:0 0 10px 10px; overflow:hidden;
    }

.services-value { 
    border:1px solid #ddd; display:block; width:230px; height:140px; float:right; background-color:#f8f8f8; margin:10px 0 20px 10px; overflow:hidden;
    }

.insight-value .insight-value-prop {
    width:690px; height:296px; border-bottom:8px solid #cc0000; display:block; 
    }
    
.solutions-value .solutions-value-prop, .services-value .services-value-prop { 
    width:222px; height:140px; border-right:8px solid #cc0000; display:block;
    }



/* NEWS */

.recent-news { width:940px; height:75px; background-color:#cc0000; margin:20px 0 10px 0px; overflow:hidden; }
        
.recent-news #recent-title { color:#fff; float:left; margin:23px 15px; font-size:16px; font-weight:bold; text-transform:uppercase; width:50px; }
        
.recent-news .news-carousel { float:right; background-color:#cc0000; width: 840px; }
            
.recent-news .news-carousel ul.magazine { margin: 0; padding: 0; list-style: none; display: block; }
            
.recent-news .news-carousel li#news-page { font-size: 11px; color: #666; text-align:left; background-color:#fff; border-left:1px solid #dedede; border-right:1px solid #fff; background-image:url(../../dam/insight/bgimages/news-background.png)/*tpa=https://www.insight.com/content/dam/insight/bgimages/news-background.png*/; background-position:0px -65px; width: 200px; height: 75px; padding: 0; margin:0; display: block; overflow:hidden; float: left; }
            
.recent-news .news-carousel li#news-page #news-story { text-decoration:none; width: 175px; height: 45px; padding:15px 15px; display: block; }
            
#news-date { font-size:11px; color:#cc0000; font-weight:normal; display:block; }
            
#news-headline { font-size:11px; line-height:15px; color:#666; font-weight:normal; margin:0; padding:0px; }
            
/* .recent-news .news-carousel li#news-page #news-story:hover #news-date {  opacity:0.7; filter:alpha(opacity=70); } */
.recent-news .news-carousel li#news-page #news-story:hover #news-headline {  text-decoration:none; color:#222; }
            
.news-prev { float: left; margin-left: 10px; }
            
.news-next { float: right; margin-top:-45px; margin-right:5px; background-image:url(../../dam/insight/bgimages/news-background.png)/*tpa=https://www.insight.com/content/dam/insight/bgimages/news-background.png*/; background-repeat:no-repeat; background-position:0px 0px; height:19px; width:20px; display:block; }
            
.news-next:hover { background-position:0px -32px; }



/* DEALS */

.top-tech-deals { float:left; display:block; width:940px; margin:15px 0 15px; }

.deals-top { display:block; width:940px; height:35px; overflow:hidden; }

#deals-title { float:left; width:300px; font-size:21px; font-weight:bold; color:#cc0000; text-transform:uppercase; }

#see-deals, #see-deals:visited { position:relative; top:4px; left:265px; font-size:12px; color:#0073b0; text-decoration:underline; }
#see-top-tech, #see-top-tech:visited { position:relative; top:4px; left:285px;font-size:12px; color:#0073b0; text-decoration:underline; }
#see-products, #see-products:visited { position:relative; top:4px; left:304px; font-size:12px; color:#0073b0; text-decoration:underline; }
#see-products:hover, #see-deals:hover, #see-top-tech:hover { color:#61b3d5; }

#product-deal-1 { float:left; display:block; width:233px; height:295px; border:1px solid #ddd; text-decoration:none; overflow:hidden; }
#product-deal-2 { float:left; display:block; width:234px; height:295px; border-top:1px solid #ddd; text-decoration:none; overflow:hidden; border-bottom:1px solid #ddd; border-right:1px solid #ddd; }
#product-deal-3 { float:left; display:block; width:234px; height:295px; border-top:1px solid #ddd; text-decoration:none; overflow:hidden; border-bottom:1px solid #ddd; }

#product-deal-1 #product-image, #product-deal-2 #product-image, #product-deal-3 #product-image { width:232px; height:135px; display:block; background-color:#f8f8f8; margin:0; }
#product-deal-1 #product-title, #product-deal-2 #product-title, #product-deal-3 #product-title { font-weight:bold; font-size:14px; line-height:20px; color:#333; margin:0 10px; height:40px; padding-bottom:5px; }
#product-deal-1 #product-description, #product-deal-2 #product-description, #product-deal-3 #product-description { font-size:12px; line-height:18px; height:70px; overflow:hidden; color:#666; margin:10px; }

#product-deal-1 #product-callout, #product-deal-2 #product-callout, #product-deal-3 #product-callout { position:relative; top:0px; float:right; font-size:10px; color:#fff; font-weight:bold; padding:5px 12px 5px 0px; text-align:right; min-width:75px; max-width:230px; background-color:#cc0000; text-transform:uppercase; }

#product-deal-1:hover #product-image, #product-deal-2:hover #product-image, #product-deal-3:hover #product-image { opacity:0.9; filter:alpha(opacity=90); }
#product-deal-1:hover #product-title, #product-deal-2:hover #product-title, #product-deal-3:hover #product-title { color:#cc0000; }
#product-deal-1:hover #product-description, #product-deal-2:hover #product-description, #product-deal-3:hover #product-description { opacity:0.7; filter:alpha(opacity=70); }


#deals-ad { float:right; display:block; width:215px; height:235px; background-color:#f8f8f8; border:1px solid #ddd; }



/* RESOURCE CENTER */


.resource-center { width:940px; height:60px; overflow:hidden; background-color:#e9e9e9; margin:0 0 15px; /* background-image:url(https://www.insight.com/content/dam/insight/bgimages/news-background.png); */ background-position:0px -65px; }

.resource-section, .resource-section:visited { width:156px; height:40px; display:block; float:left; border-right:1px solid #dedede; border-left:1px solid #fff; padding:20px 0 0 30px; text-decoration:none; color:#888; font-size:12px !important; font-weight:bold; text-transform:uppercase; }
.resource-section:hover { background-color:#f7f7f7; color:#cc0000; text-decoration:none;  }

#webinar { border-left:none; background-image:url(../../dam/insight/bgimages/hub-icons-sprite.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/hub-icons-sprite.png*/; background-repeat:no-repeat; background-position:0px 0px; }
#ebooks { background-image:url(../../dam/insight/bgimages/hub-icons-sprite.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/hub-icons-sprite.png*/; background-repeat:no-repeat; background-position:-188px 0px; }
#whitepapers { background-image:url(../../dam/insight/bgimages/hub-icons-sprite.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/hub-icons-sprite.png*/; background-repeat:no-repeat; background-position:-376px 0px; }
#case-studies { background-image:url(../../dam/insight/bgimages/hub-icons-sprite.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/hub-icons-sprite.png*/; background-repeat:no-repeat; background-position:-564px 0px; }
#blog { border-right:none; background-image:url(../../dam/insight/bgimages/hub-icons-sprite.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/hub-icons-sprite.png*/; background-repeat:no-repeat; background-position:-752px 0px; }

#webinar:hover { background-position:0px -79px; }
#ebooks:hover { background-position:-188px -79px; }
#whitepapers:hover { background-position:-376px -79px; }
#case-studies:hover { background-position:-564px -79px; }
#blog:hover { background-position:-752px -79px; }


/* BELLY */

#vertical-ad { float:left; display:block; width:298px; margin:10px 0 10px 0; height:325px; border:1px solid #ddd; overflow:hidden; text-decoration:none; }
#vertical-ad-off { float:left; display:block; width:298px; margin:10px 0 10px 0; height:325px; border:1px solid #ddd; overflow:hidden; text-decoration:none; }
#vertical-ad-2 { float:left; display:block; width:298px; margin:10px 20px 10px 20px; height:325px; border:1px solid #ddd; overflow:hidden; text-decoration:none; }
#vertical-ad-2-off { float:left; display:block; width:298px; margin:10px 20px 10px 20px; height:325px; border:1px solid #ddd; overflow:hidden; text-decoration:none; }
#vertical-ad-full { float:right; display:block; width:298px; margin:10px 0px 10px 0px; height:672px; border:1px solid #ddd; overflow:hidden; text-decoration:none; }
#vertical-ad-full-off { float:right; display:block; width:298px; margin:10px 0px 10px 0px; height:672px; border:1px solid #ddd; overflow:hidden; text-decoration:none; }

#vertical-ad #trial-image, #vertical-ad-2 #trial-image, #vertical-ad-full #trial-image, #vertical-ad-off #trial-image, #vertical-ad-2-off #trial-image, #vertical-ad-full-off #trial-image { width:298px; height:190px; display:block; border-bottom:1px solid #ddd; background-color:#f8f8f8; margin:0 0 20px 0; }
#vertical-ad #trial-title, #vertical-ad-2 #trial-title, #vertical-ad-full #trial-title, #vertical-ad-off #trial-title, #vertical-ad-2-off #trial-title, #vertical-ad-full-off #trial-title { font-weight:bold; font-size:14px; line-height:20px; color:#333; margin:0 10px; padding-bottom:5px; }
#vertical-ad #trial-description, #vertical-ad-2 #trial-description, #vertical-ad-off #trial-description, #vertical-ad-2-off #trial-description, #vertical-ad-full #trial-description, #vertical-ad-full-off #trial-description { font-size:12px; color:#666; margin:10px; }

#vertical-ad-off #trial-link-add, #vertical-ad-2-off #trial-link-add, #vertical-ad-full-off #trial-link-add  { font-weight:bold; font-size:12px; line-height:18px; color:#0073b0; }
#vertical-ad-off #trial-link-add:hover, #vertical-ad-2-off #trial-link-add:hover, #vertical-ad-full-off #trial-link-add:hover  { color:#61b3d5; }
#vertical-ad-off #tradeshows { width:2988px; height:35px; font-size:18px; color:#fff; font-weight:bold; background-color:#cc0000; margin:0 0 15px; }

#vertical-ad:hover #trial-image, #vertical-ad-2:hover #trial-image, #vertical-ad-full:hover #trial-image { opacity:0.9; filter:alpha(opacity=90); }
#vertical-ad:hover #trial-title, #vertical-ad-2:hover #trial-title, #vertical-ad-full:hover #trial-title { color:#cc0000; }
#vertical-ad:hover #trial-description, #vertical-ad-2:hover #trial-description, #vertical-ad-full:hover #trial-description { opacity:0.7; filter:alpha(opacity=70); }

#vertical-table { margin:15px 10px; width:94%; border:2px solid #ddd; font-size:11px; color:#222; }
#vertical-table #odd { width:65%; padding:5px; background-color:#f9f9f9; font-weight:bold; }
#vertical-table #odd-2 { width:35%; padding:5px; background-color:#f9f9f9; }
#vertical-table #even { width:65%; padding:5px; background-color:#e9e9e9; font-weight:bold; }
#vertical-table #even-2 { width:35%; padding:5px; background-color:#e9e9e9; }


/* SLIDER SIZE */

.fullWidth { margin-bottom:20px; }

#full-width-slider { width:940px; height:350px; font-family:Arial, Helvetica, sans-serif; }

.coloredBlock { padding: 12px; background: rgba(255,0,0,0.6); color: #FFF; width: 200px; left: 20%; top: 5%; }

.infoBlock { position: absolute; left:auto; padding:0px; margin:0px; z-index:100; overflow: hidden; }

.infoBlockLeftBlack { color: #FFF; left: 15px; right: auto; }

.infoBlockBottom { position: absolute; top: 70px; right: 220px; left: auto; padding-bottom: 0; overflow: hidden; padding:20px; }

.infoBlockRight { position: absolute; top: 158px; right: -20px; left: auto; padding-bottom: 0; overflow: hidden; padding: 20px; }

.infoBlock h1 { margin:0; padding:0px; color:#333; }

.infoBlock h1 #red { color:#cc0000; }

.infoBlock h1 #grey { color:#666; }

.infoBlock p { font-size: 14px; margin: 4px 0 0; }
  
.infoBlock a { color: #FFF; text-decoration: underline; }

p#banner-lead { background-image: url(../../dam/insight/en_US/homepage/rotating-banner/parts/white-arrow-go.png)/*tpa=http://www.insight.com/content/dam/insight/en_US/homepage/rotating-banner/parts/white-arrow-go.png*/; background-repeat: no-repeat; background-position: right 50%; border:#none; padding:6px 12px 6px 15px; background-color:#cc0000; display:block; float:left; color:#fff; font-size: 14px; font-weight: bold; }

p#banner-lead-blue { background-image: url(../../dam/insight/en_US/homepage/rotating-banner/parts/white-arrow-go.png)/*tpa=http://www.insight.com/content/dam/insight/en_US/homepage/rotating-banner/parts/white-arrow-go.png*/; background-repeat: no-repeat; background-position: right 50%; border:#none; padding:6px 12px 6px 15px; background-color:#0073b0; display:block; float:left; color:#fff; font-size: 14px; font-weight: bold; }
     
p#banner-lead-red { background-image: url(../../dam/insight/en_US/homepage/rotating-banner/parts/white-arrow-go.png)/*tpa=http://www.insight.com/content/dam/insight/en_US/homepage/rotating-banner/parts/white-arrow-go.png*/; background-repeat: no-repeat; background-position: right 50%; border:#none; padding:6px 12px 6px 15px; background-color:#cc0000; display:block; float:left; color:#fff; font-size: 14px; font-weight: bold; }

p#banner-lead-green { background-image: url(../../dam/insight/en_US/homepage/rotating-banner/parts/white-arrow-go.png)/*tpa=http://www.insight.com/content/dam/insight/en_US/homepage/rotating-banner/parts/white-arrow-go.png*/; background-repeat: no-repeat; background-position: right 50%; border:#none; padding:6px 12px 6px 15px; background-color:#56b146; display:block; float:left; color:#fff; font-size: 14px; font-weight: bold; }

p#banner-lead-blue:hover, p#banner-lead-red:hover, p#banner-lead-green:hover, p#banner-lead:hover { background-color:#666; }

#tech-feature-banner { padding:0px; margin:0px; top:25px; left:0px; background-image:url(../../dam/insight/en_US/homepage/rotating-banner/parts/featured-solution-background-arrow.png)/*tpa=http://www.insight.com/content/dam/insight/en_US/homepage/rotating-banner/parts/featured-solution-background-arrow.png*/; background-position:right; background-repeat:no-repeat; height:35px; }

#tech-feature-banner h1#tech-feature-title { text-transform:uppercase; margin:0 0 0 20px; padding:11px 0 0 0; color:#fff; font-size:10px; font-weight:bold; }

/* Insight ON Feature */

.on-cloud { position:relative; top:4px; font-size:12px; color:#0073b0; text-decoration:underline; left:355px !important; }
.on-ed { position:relative; top:4px; font-size:12px; color:#0073b0; text-decoration:underline; left:375px !important; }
.on-health { position:relative; top:4px; font-size:12px; color:#0073b0; text-decoration:underline; left:395px !important; }
.on-tech { position:relative; top:4px; font-size:12px; color:#0073b0; text-decoration:underline; left:410px !important; }

.on-feature, .on-feature:visited { float:left; width:618px; height:340px; overflow:hidden; border-top:1px solid #ddd; border-right:1px solid #ddd; border-left:1px solid #ddd; border-bottom:5px solid #cc0000; margin-right:20px; text-decoration:none !important; }

.on-feature .full-img { width:618px; height:180px; display:block; overflow:hidden; background-color:#ddd; border-bottom:1px solid #ddd; }
#on-vertical { font-size:11px; text-transform:uppercase; color:#cc0000; margin-bottom:0 !important; margin-left:20px !important; margin-right:20px !important; font-weight:bold; }
.margin-top-20 { margin-top:20px !important; }
.margin-top-15 { margin-top:15px !important; }
#on-feature-title { margin:10px 20px 0 !important; font-size:21px; line-height:24px; color:#333; font-weight:bold; }
#on-author { font-size:11px; margin:10px 20px; }
#on-side-title { margin:10px 20px 10px 0; font-size:15px; color:#333; font-weight:bold; }
#on-vertical-icon { float:left; with:80px; height:80px; display:block; margin:20px 10px 20px 5px; background-color:#ddd;}
#on-side-artical, #on-side-artical:visited { float:left; width:293px; height:157px; overflow:hidden; border-top:1px solid #ddd; border-right:1px solid #ddd; border-left:1px solid #ddd; border-bottom:5px solid #cc0000; text-decoration:none; }

.on-feature:hover .full-img { opacity: 0.9; }
#on-side-artical:hover #on-vertical-icon { opacity:0.8; }

.on-feature:hover, #on-side-artical:hover { border-bottom:5px solid #666; }
.on-feature:hover #on-feature-title, #on-side-artical:hover #on-side-title { color:#cc0000; }
.on-feature:hover #on-vertical, #on-side-artical:hover #on-vertical { color:#333; }
.on-feature:hover #trial-description { opacity:0.7; }

.on-feature:hover #read-more { color:#0073b0; }



/* Social Icons */

.news-social { text-align:center; padding:30px 0 0 0; margin:-15px 0 10px 0; border-top:0px solid #ddd; }

.news-social .follow-us { width:295px; margin:10px auto; }

.news-social .follow-us a.blog-rss { 
    margin:0 5px;
    padding:0px;
    display:block;
    font-size:11px; 
    text-decoration:none;
    width:32px;
    height:32px;
    border:none;
    text-indent:-9999px;
    overflow:hidden;
    float:left;
    background-image:url(../../dam/insight/bgimages/social/32x32/social-icon-insight-blog.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/social/32x32/social-icon-insight-blog.png*/;
    background-position:0px 0px;
    background-repeat:no-repeat;
}

.news-social .follow-us a.linkedin { 
    margin:0 5px;
    padding:0px;
    display:block;
    font-size:11px; 
    text-decoration:none;
    width:32px;
    height:32px;
    border:none;
    text-indent:-9999px;
    overflow:hidden;
    float:left;
    background-image:url(../../dam/insight/bgimages/social/32x32/social-icon-linked-in.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/social/32x32/social-icon-linked-in.png*/;
    background-position:0px 0px;
    background-repeat:no-repeat;
}

.news-social .follow-us a.youtube { 
    margin:0 5px;
    padding:0px;
    display:block;
    font-size:11px; 
    text-decoration:none;
    width:32px;
    height:32px;
    border:none;
    text-indent:-9999px;
    overflow:hidden;
    float:left;
    background-image:url(../../dam/insight/bgimages/social/32x32/social-icon-youtube.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/social/32x32/social-icon-youtube.png*/;
    background-position:0px 0px;
    background-repeat:no-repeat;
}

.news-social .follow-us a.facebook { 
    margin:0 5px;
    padding:0px;
    display:block;
    font-size:11px; 
    text-decoration:none;
    width:32px;
    height:32px;
    border:none;
    text-indent:-9999px;
    overflow:hidden;
    float:left;
    background-image:url(../../dam/insight/bgimages/social/32x32/social-icon-facebook.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/social/32x32/social-icon-facebook.png*/;
    background-position:0px 0px;
    background-repeat:no-repeat;
}


.news-social .follow-us a.twitter { 
    margin:0 5px;
    padding:0px;
    display:block;
    font-size:11px; 
    text-decoration:none;
    width:32px;
    height:32px;
    border:none;
    text-indent:-9999px;
    overflow:hidden;
    float:left;
    background-image:url(../../dam/insight/bgimages/social/32x32/social-icon-twitter.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/social/32x32/social-icon-twitter.png*/;
    background-position:0px 0px;
    background-repeat:no-repeat;
}

.news-social .follow-us a.spiceworks { 
    margin:0 5px;
    padding:0px;
    display:block;
    font-size:11px; 
    text-decoration:none;
    width:32px;
    height:32px;
    border:none;
    text-indent:-9999px;
    overflow:hidden;
    float:left;
    background-image:url(../../dam/insight/bgimages/social/32x32/social-icon-spiceworks.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/social/32x32/social-icon-spiceworks.png*/;
    background-position:0px 0px;
    background-repeat:no-repeat;
}

.news-social .follow-us a.google { 
    margin:0 5px;
    padding:0px;
    display:block;
    font-size:11px; 
    text-decoration:none;
    width:32px;
    height:32px;
    border:none;
    text-indent:-9999px;
    overflow:hidden;
    float:left;
    background-image:url(../../dam/insight/bgimages/social/32x32/social-icon-google-plus.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/social/32x32/social-icon-google-plus.png*/;
    background-position:0px 0px;
    background-repeat:no-repeat;
}

.news-social .follow-us a.blog-rss:hover, .news-social .follow-us a.linkedin:hover, .news-social .follow-us a.youtube:hover, .news-social .follow-us a.facebook:hover, .news-social .follow-us a.twitter:hover, .news-social .follow-us a.spiceworks:hover, .news-social .follow-us a.google:hover { opacity:0.8; filter:alpha(opacity=80); }
