
/* ==========================================================================
    Klinic Slab
   ========================================================================== */
@font-face {
  font-family: "klinic-slab";
  src: url("../../dam/insight/en_US/media/fonts/klinik/klinicslabbook-webfont.eot")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslabbook-webfont.eot*/;
  src: url("../../dam/insight/en_US/media/fonts/klinik/klinicslabbook-webfont.eot-#iefix")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslabbook-webfont.eot?#iefix*/ format("embedded-opentype"), url("../../dam/insight/en_US/media/fonts/klinik/klinicslabbook-webfont.woff")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslabbook-webfont.woff*/ format("woff"), url("../../dam/insight/en_US/media/fonts/klinik/klinicslabbook-webfont.ttf")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslabbook-webfont.ttf*/ format("truetype"), url("Unknown_83_filename#klinic-slab")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslabbook-webfont.svg#klinic-slab*/ format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "klinic-slab";
  src: url("../../dam/insight/en_US/media/fonts/klinik/klinicslabbookit-webfont.eot")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslabbookit-webfont.eot*/;
  src: url("../../dam/insight/en_US/media/fonts/klinik/klinicslabbookit-webfont.eot-#iefix")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslabbookit-webfont.eot?#iefix*/ format("embedded-opentype"), url("../../dam/insight/en_US/media/fonts/klinik/klinicslabbookit-webfont.woff")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslabbookit-webfont.woff*/ format("woff"), url("../../dam/insight/en_US/media/fonts/klinik/klinicslabbookit-webfont.ttf")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslabbookit-webfont.ttf*/ format("truetype"), url("Unknown_83_filename#klinic-slab")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslabbookit-webfont.svg#klinic-slab*/ format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "klinic-slab";
  src: url("../../dam/insight/en_US/media/fonts/klinik/klinicslablight-webfont.eot")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslablight-webfont.eot*/;
  src: url("../../dam/insight/en_US/media/fonts/klinik/klinicslablight-webfont.eot-#iefix")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslablight-webfont.eot?#iefix*/ format("embedded-opentype"), url("../../dam/insight/en_US/media/fonts/klinik/klinicslablight-webfont.woff")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslablight-webfont.woff*/ format("woff"), url("../../dam/insight/en_US/media/fonts/klinik/klinicslablight-webfont.ttf")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslablight-webfont.ttf*/ format("truetype"), url("Unknown_83_filename#klinic-slab")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslablight-webfont.svg#klinic-slab*/ format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "klinic-slab";
  src: url("../../dam/insight/en_US/media/fonts/klinik/klinicslablightit-webfont.eot")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslablightit-webfont.eot*/;
  src: url("../../dam/insight/en_US/media/fonts/klinik/klinicslablightit-webfont.eot-#iefix")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslablightit-webfont.eot?#iefix*/ format("embedded-opentype"), url("../../dam/insight/en_US/media/fonts/klinik/klinicslablightit-webfont.woff")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslablightit-webfont.woff*/ format("woff"), url("../../dam/insight/en_US/media/fonts/klinik/klinicslablightit-webfont.ttf")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslablightit-webfont.ttf*/ format("truetype"), url("Unknown_83_filename#klinic-slab")/*tpa=http://www.insight.com/content/dam/insight/en_US/media/fonts/klinik/klinicslablightit-webfont.svg#klinic-slab*/ format("svg");
  font-weight: 100;
  font-style: italic;
}

.klinik { font-family: "klinic-slab" !important; }


/* ===========================================================
    Marketo Form 
    ========================================================== */
    
#back-new { background-color:#d5d0ca; }

#back-new #title-of-field, #back-new #privacy-section, #back-new #field-title, #back-new #form-callout, #back-new #callout-subhead, #back-new #privacy-policy, #back-new #privacy { color:#554741; }

#back-new .mktoForm .mktoButtonWrap.mktoSimple .mktoButton, .mktoForm .mktoButtonWrap.mktoRound button.mktoButton { background-color:#d30b54 !important; font-size: 14px; padding: 10px 15px; border:none !important; border-radius:0 !important; }

#back-new .mktoForm .mktoButtonWrap.mktoRound button.mktoButton:hover { background-color:#90193a !important; border:none !important; border-radius:0 !important; }

#form-callout { font-size:28px !important; }

#main-call { background-color:#d30b54 !important; }

#one-action:hover #main-call { background-color:#90193a !important; } 



.btn-open-lightbox, .btn-open-lightbox:visited, .btn-open-lightbox:active {
    background-color: #d30854 !important;
    background-image: none;
    border: medium none;
    border-radius:0;
    color: #ffffff;
    display: block;
    font-size: 14px !important;
    font-weight: bold;
    margin: 0 0 8px;
    min-width: 80%;
    padding: 10px 15px !important;
    text-align: center;
    text-decoration: none;
}

.btn-open-lightbox:hover {
    background-color: #90193a !important;
    color: #fff;
    text-decoration: none;
}

.prod-box #prod-block {
    background-color: #fff !important;
    border: 1px solid #a49e99 !important;
    color: #d30b54 !important;
    padding: 5px !important;
font-weight:normal !important;
}
.prod-box:hover #prod-block {
     background-color:#d0d0d0 !important; text-decoration:none !important; color:#7d716d !important; } 
}

