@font-face {
	font-family: 'BedBathIcons';
	src:url('BedBathIcons.eot-5knnh8')/*tpa=http://www.bedbathandbeyond.com/_assets/bus/fonts/BedBathIcons.eot?5knnh8*/;
	src:url('BedBathIcons.eot-#iefix5knnh8')/*tpa=http://www.bedbathandbeyond.com/_assets/bus/fonts/BedBathIcons.eot?#iefix5knnh8*/ format('embedded-opentype'),
		url('BedBathIcons.woff-5knnh8')/*tpa=http://www.bedbathandbeyond.com/_assets/bus/fonts/BedBathIcons.woff?5knnh8*/ format('woff'),
		url('BedBathIcons.ttf-5knnh8')/*tpa=http://www.bedbathandbeyond.com/_assets/bus/fonts/BedBathIcons.ttf?5knnh8*/ format('truetype'),
		url('BedBathIcons.svg-5knnh8#BedBathIcons')/*tpa=http://www.bedbathandbeyond.com/_assets/bus/fonts/BedBathIcons.svg?5knnh8#BedBathIcons*/ format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'BedBathIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fallback-text .icon {
	display: inline-block;
}
.icon-fallback-text .icon-text {
	clip: rect(0 0 0 0);
	overflow: hidden;
	position: absolute;
	height: 1px;
	width: 1px;
}

.icon-barcode:before {
	content: "\62";
}
.icon-cart:before {
	content: "\63";
}
.icon-phone:before {
	content: "\64";
}
.icon-calendar:before {
	content: "\66";
}
.icon-quotes-left:before {
	content: "\22";
}
.icon-clock:before {
	content: "\69";
}
.icon-bubbles:before {
	content: "\6b";
}
.icon-user:before {
	content: "\75";
}
.icon-users:before {
	content: "\55";
}
.icon-cog:before {
	content: "\61";
}
.icon-dashboard:before {
	content: "\44";
}
.icon-gift:before {
	content: "\67";
}
.icon-thumbs-up:before {
	content: "\4a";
}
.icon-thumbs-up2:before {
	content: "\4b";
}
.icon-link:before {
	content: "\68";
}
.icon-facebook:before {
	content: "\46";
}
.icon-instagram:before {
	content: "\49";
}
.icon-googleplus:before {
	content: "\47";
}
.icon-twitter:before {
	content: "\54";
}
.icon-pinterest:before {
	content: "\50";
}
.icon-checkmark:before {
	content: "\48";
}
.icon-paypal:before {
	content: "\6d";
}
.icon-search:before {
	content: "\73";
}
.icon-zoomin:before {
	content: "\6e";
}
.icon-zoomout:before {
	content: "\6f";
}
.icon-add:before {
	content: "\71";
}
.icon-subtract:before {
	content: "\72";
}
.icon-out:before {
	content: "\74";
}
.icon-menu:before {
	content: "\41";
}
.icon-user2:before {
	content: "\4e";
}
.icon-bbbylogo:before {
	content: "\42";
}
.icon-times:before {
	content: "\78";
}
.icon-plus:before {
	content: "\2b";
}
.icon-minus:before {
	content: "\2d";
}
.icon-chevron-up:before {
	content: "\ab";
}
.icon-chevron-down:before {
	content: "\bb";
}
.icon-chevron-left:before {
	content: "\3c";
}
.icon-chevron-right:before {
	content: "\3e";
}
.icon-envelope:before {
	content: "\65";
}
.icon-print:before {
	content: "\70";
}
.icon-pencil:before {
	content: "\51";
}
.icon-trash-o:before {
	content: "\52";
}
.icon-rotate-right:before {
	content: "\56";
}
.icon-video-camera:before {
	content: "\76";
}
.icon-check-circle:before {
	content: "\31";
}
.icon-question-circle:before {
	content: "\32";
}
.icon-info-circle:before {
	content: "\33";
}
.icon-exclamation-circle:before {
	content: "\34";
}
.icon-warning:before {
	content: "\35";
}
.icon-crosshairs:before {
	content: "\36";
}
.icon-credit-card:before {
	content: "\24";
}
.icon-bullhorn:before {
	content: "\57";
}
.icon-cut:before {
	content: "\58";
}
.icon-save:before {
	content: "\59";
}
.icon-truck:before {
	content: "\37";
}
.icon-rotate-left:before {
	content: "\77";
}
.icon-lightbulb-o:before {
	content: "\79";
}
.icon-file-text-o:before {
	content: "\7a";
}
.icon-ellipsis-v:before {
	content: "\21";
}
.icon-institution:before {
	content: "\6a";
}
.icon-mortar-board:before {
	content: "\2a";
}
.icon-recycle:before {
	content: "\28";
}
.icon-file-pdf-o:before {
	content: "\29";
}
.icon-file-photo-o:before {
	content: "\5f";
}
.icon-file-zip-o:before {
	content: "\5a";
}
.icon-file-code-o:before {
	content: "\2044";
}
.icon-share-alt:before {
	content: "\4c";
}
.icon-code:before {
	content: "\3f";
}
.icon-desktop:before {
	content: "\2013";
}
.icon-laptop:before {
	content: "\3d";
}
.icon-tablet:before {
	content: "\2264";
}
.icon-mobile-phone:before {
	content: "\2265";
}
.icon-bbbylogo2:before {
	content: "\4f";
}
.icon-camera:before {
	content: "\5d";
}
.icon-pictures:before {
	content: "\30";
}
.icon-picture:before {
	content: "\5b";
}
.icon-grid:before {
	content: "\38";
}
.icon-grid2:before {
	content: "\39";
}
.icon-list2:before {
	content: "\6c";
}
.icon-expand2:before {
	content: "\7b";
}
.icon-collapse:before {
	content: "\7d";
}
.icon-location:before {
	content: "\7c";
}
.icon-tag:before {
	content: "\53";
}
.icon-reg-book:before {
	content: "\23";
}
.icon-reg-ampersand:before {
	content: "\26";
}
.icon-reg-logo:before {
	content: "\27";
}
.icon-cpwm_logo:before {
	content: "\2c";
}
.icon-reg-checklist:before {
	content: "\2e";
}
.icon-CTS_AndThat_Logo:before {
	content: "\2f";
}
.icon-baby_logo_part:before {
	content: "\3a";
}
.icon-buybuy_logo_part:before {
	content: "\3b";
}
.icon-bbbylogo_inline:before {
	content: "\40";
}
.icon-bbby-blog:before {
	content: "\43";
}
.icon-locator-pin:before {
	content: "\45";
}
.icon-store-icon:before {
	content: "\4d";
}
