@charset "utf-8";
/* CSS Document */
img
{
	border:0;
	outline:0 none;
	
}
.imgAligneMiddel
{
	vertical-align:middle;
}

.bgrtTopLeftCorner {
	 BACKGROUND-IMAGE: url(images/HoverCart/rtTopLeftCorner.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtTopLeftCorner.png*/;
	background-repeat: no-repeat;
	height: 21px;
	width: 17px;
	text-align:left;
	vertical-align:top;
	
}
.bgrtTopStrip {
	BACKGROUND-IMAGE: url(images/HoverCart/rtTopStrip.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtTopStrip.png*/;
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	
	
	
}
.bgrtTopRightCorner {
	BACKGROUND-IMAGE: url(images/HoverCart/rtTopRightCorner.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtTopRightCorner.png*/;
	background-repeat: no-repeat;
	height: 21px;
	width: 20px;
}
.bgrtLeftStrip {
	BACKGROUND-IMAGE: url(images/HoverCart/rtLeftStrip315.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtLeftStrip315.png*/;
	background-repeat: no-repeat;
	vertical-align:top;
	
	width:17px;
}
.bgrtLeftStrip195 {
	BACKGROUND-IMAGE: url(images/HoverCart/rtLeftStrip195.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtLeftStrip195.png*/;
	background-repeat: no-repeat;
	vertical-align:top;
	height:204px;
	width:17px;
}
.bgrtLeftStrip img
{
	height:283px;
	width:17px;
	margin:0;
	padding:0;
}
.bgrtBGStrip {
	BACKGROUND-IMAGE: url(images/HoverCart/rtBGStrip315.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtBGStrip315.png*/;
	background-repeat: repeat-x;
	color: #404040;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left:2px;
	display:block;
	height:317px;
	background-color:#cacaca;
	
}
.bgrtBGStrip195 {
	BACKGROUND-IMAGE: url(images/HoverCart/rtBGStrip195.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtBGStrip195.png*/;
	background-repeat: repeat-x;
	color: #404040;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left:2px;
	display:block;
	height:204px;
	background-color:#cacaca;
	
}

.bgrtRightStrip {
	BACKGROUND-IMAGE: url(images/HoverCart/rtRightStrip315.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtRightStrip315.png*/;
	background-repeat: no-repeat;
	text-align:left;
	vertical-align:top;
	height:311px;
	width:20px;
}
.bgrtRightStrip195 {
	BACKGROUND-IMAGE: url(images/HoverCart/rtRightStrip195.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtRightStrip195.png*/;
	background-repeat: no-repeat;
	text-align:left;
	vertical-align:top;
	height:204px;
	width:20px;
}

.bgrtRightStrip img
{
	height:283px;
	width:20px;
}
#rtTitel {
	font-size:14px;
	float:left;
	margin-top:2px;
	height:22px;
	margin-bottom:0px;
	margin-left:6px;
}
#rtClose {
	font-size:12px;
	float:right;
	color:#b5b5b5;
	text-decoration:none;
}
.bgrtBottomLeftCorner {
	BACKGROUND-IMAGE: url(images/HoverCart/rtBottomLeftCorner.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtBottomLeftCorner.png*/;
	background-repeat: no-repeat;
	height: 21px;
	width: 17px;
	vertical-align:top;
	text-align:left;
}
.bgrtBottomStrip {
	BACKGROUND-IMAGE: url(images/HoverCart/rtBottomStrip.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtBottomStrip.png*/;
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	
}
.bgrtBottomRightCorner {
	BACKGROUND-IMAGE: url(images/HoverCart/rtBottomRightCorner.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtBottomRightCorner.png*/;
	background-repeat: no-repeat;
	height: 21px;
	width: 20px;
	
}

.bgrtTopLeftCornerDT {
	
	background: url(images/HoverCart/rtTopLeftCornerDT.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtTopLeftCornerDT.png*/ no-repeat 0 0;
	height: 33px;
	width: 10px;
	
}
.bgrtTopStripDT {
	BACKGROUND-IMAGE: url(images/HoverCart/rtTopStripDT.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtTopStripDT.png*/;
	background-repeat: repeat-x;
	color: #34373f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align:middle;
	padding-left:5px;
	
}
.bgrtTopRightCornerDT {
	BACKGROUND-IMAGE: url(images/HoverCart/rtTopRightCornerDT.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtTopRightCornerDT.png*/;
	background-repeat: no-repeat;
	height: 32px;
	width: 9px;
}
.bgrtBottomLeftCornerDT {
	BACKGROUND-IMAGE: url(images/HoverCart/rtBottomLeftCornerDT.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtBottomLeftCornerDT.png*/;
	background-repeat: no-repeat;
	height: 12px;
	width: 10px;
}
.bgrtBottomStripDT {
	BACKGROUND-IMAGE: url(images/HoverCart/rtBottomStripDT.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtBottomStripDT.png*/;
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	
}
.bgrtBottomRightCornerDT{
	
BACKGROUND-IMAGE: url(images/HoverCart/rtBottomRightCornerDT.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtBottomRightCornerDT.png*/;
background-repeat: no-repeat;
	width: 9px;
	height:12px;
}
.bgrtLeftStripDT {
	BACKGROUND-IMAGE: url(images/HoverCart/rtLeftStripDT.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtLeftStripDT.png*/;
	background-repeat: repeat-y;
	height: 1px;
	width: 10px;
}
.bgrtBGStripDT {
	BACKGROUND-IMAGE: url(images/HoverCart/rtBGStripDT.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtBGStripDT.png*/;
	background-repeat:repeat;
	color: #020202;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align:top;
}

.bgrtRightStripDT {
	BACKGROUND-IMAGE: url(images/HoverCart/rtRightStripDT.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/rtRightStripDT.png*/;
	background-repeat: repeat-y;
	height: 1px;
	width: 9px;
}
#rtTitle
{
    margin:0 0 6px;
    padding:0;
    float:left;
}
.DataTableHeader

{
	height:21px;
	border-right:1px solid #9da3b3;
	padding-top:6px;
	padding-left: 5px;
}
.PartNo
{
	margin-top:5px;
	margin-bottom:0px;
}
.prodName
{
	font-size:12px;
	margin-bottom:0px;
	
}
.prodDesc
{
	font-size:12px;
	font-weight:normal;
	margin-bottom:3px;
	
}

.bgrtBGStripDT p
{
	margin-top:3px;
	vertical-align:top;
	padding-left:5px;
}

.QCBottoms
{
	display:block;
	float:left;
	width:512px;
	margin-top:12px;
	 margin-left: -11px;
}
.QCBottomBtBg
{
	float:left;
	background:url(images/HoverCart/BtnBG_N.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/BtnBG_N.png*/ no-repeat 0 0;
	height:25px;
	width:138px;
	text-align:center;
}

.QCBottomBtBg:hover
{
	background:url(images/HoverCart/BtnBG_H.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/BtnBG_H.png*/ no-repeat 0 0;
	cursor:pointer;
}
.QCBottomBtBg p
{
	margin-top:5px;
	color:#515151;
	margin-bottom:0;
}


#GO_TO_CARTbt
{
	margin-left:5px;
}
#QCSubTotal
{
	float:right;
	
}
#QCSubTotal p
{
	margin-top:5px;
	margin-bottom:0;
}
.PartImgNo
{
    height:77px;
	margin-top:5px; 
	text-align:center;
	vertical-align:middle;
	margin-left: auto;   
    margin-right: auto;
}
#QCpopup
{
	width:553px;
	border-collapse:collapse; 
    border-spacing:0; 
    margin: 0;  
    padding: 0;
    position:relative;
	
	
}
#QCpopup th, #QCpopup td
{
	margin: 0;  
    padding: 0;
	border:0;
	
}
.TechDataColWidth
{
	width:77px;
}
.DescriptionColWidth
{
	width:220px;
}
.ExcPriceColWidth
{
	width:72px;
    text-align:right;
}
.QtyColWidth
{
	width:30px;
    text-align:right;
}
.ExtPriceColWidth
{
    text-align:right;	
}
.TextAlignCenter
{
	text-align:center;
}
.PaddingLeft5
{
	padding-left:5px;	
}

table#table-body, table#table-header, table#table-footer
{
border-spacing:0;
border-collapse:collapse;
table-layout:fixed;

}


table#table-body td, table#table-header td, table#table-footer td
{

	border: 0 none;
    margin: 0;
    padding: 0;
	overflow:hidden;
/*white-space:nowrap;	*/
}

div#header-container, div#footer-container
{
	overflow:hidden;
}

div#scroll
{
	width:512px;
	overflow:hidden;
	max-height:213px;
	overflow-y:auto;
	padding-left:1px;
	margin:0 0 0 2px;
	text-align:center;
	float:left;
	background:url(images/HoverCart/DivBG.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/DivBG.png*/ repeat ;
	border-right:1px solid #e9e9e9;
	


}
.imgBG
{
    background:url(images/HoverCart/DivBG.png)/*tpa=http://www.techdata.com/App_Themes/Default/images/HoverCart/DivBG.png*/ repeat ;
}
#NewHoverCart
{
     margin-left: 11px;
     width:492px;
}
div#NewHoverCartDataTable
{
	
	overflow:hidden;
	position:relative;
	float:left;
	width:516px;
    margin: 0 0 0 -13px;
	
}
div#header-container
{
	padding:1px 1px 0 1px;
	
	float:left;
}

div#footer-container
{
	padding:0 1px;
	
	float:left;
}
#table-header{
	width: 516px;
    margin-left: 10px;
	border-collapse:collapse; 
    border-spacing:0; 
    margin: 0 auto;  
    padding: 0;
	height:95%;
	
	
}
#table-body{
	width:114%;	
	border-collapse:collapse; 
    border-spacing:0; 
    margin: 0 auto 0 -1px;  
    padding: 0;
	height:95%;
}
#table-footer
{
	width: 516px;
    margin: 0 auto 0 10px;
	border-collapse:collapse; 
    border-spacing:0; 
    margin: 0 auto;  
    padding: 0;
	height:95%;
}

#table-header th, #table-footer td{
	
	margin: 0;  
    padding: 0;
	border:0;	
}

#QCNodata
{
    float:left;
    margin-top:67px;
    text-align:center;
    width:100%;
}

#FooterTR
{
    margin-top: -1px;
    position: absolute;
}