/* Template 616 css fg01  blue_white*/
/* =grid
---------------------------------------------*/
#region1 {background: transparent url(../images/blue_white/region1-bg.png-001.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/region1-bg.png?001*/ no-repeat 0 0;}
#region1 .group4 h3 {color: #990000;}
#region1 .group4 .unit {background: transparent url(../images/blue_white/sb-divider.png-001.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/sb-divider.png?001*/ no-repeat 100% 10px;}
#region1 .group4 .last, #region1 .group4 .unit .unit {background: transparent none;}
/* =smartbrowse
---------------------------------------------*/
/*html totals when flash disabled*/
.totals span.total {border-color: #505D77;}
.totals span.total span, #region1 .group4 .totals .last {color: #fff; background: transparent url(../images/blue_white/odometer-number-bg-1.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/odometer-number-bg-1.png*/ no-repeat 0 0;}
/* =price slider
---------------------------------------------*/
.ui-slider {background: transparent url(../images/blue_white/slider-bg.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/slider-bg.png*/ no-repeat 0 -44px;}
#contentWrap .ui-slider-range  {background: transparent url(../images/blue_white/slider-bg.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/slider-bg.png*/ no-repeat 0 -130px;}
.ui-slider .min   {background: transparent url(../images/blue_white/slider-left.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/slider-left.png*/ no-repeat 0 -145px;}
.ui-slider .min:hover {background-position: 0 -45px;}
.ui-slider .max {background: transparent url(../images/blue_white/slider-right.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/slider-right.png*/ no-repeat 0 -145px;}
.ui-slider .max:hover {background-position: 0 -45px;}
.priceSliderVerbiage {color: #002b7f;}
.sliderMin , .sliderMax {color: #002b7f;}
* html .ui-slider .min   {background-image: url(../images/blue_white/ie-slider-left.gif)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/ie-slider-left.gif*/ ;}
* html .ui-slider .max   {background-image: url(../images/blue_white/ie-slider-right.gif)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/ie-slider-right.gif*/ ;}
* html .ui-slider {background: transparent url(../images/blue_white/ie-slider-bg.gif)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/ie-slider-bg.gif*/ no-repeat 0 -44px;}
* html #contentWrap .ui-slider-range  {background: transparent url(../images/blue_white/ie-slider-bg.gif)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/ie-slider-bg.gif*/ no-repeat 0 -130px;}
/* =search by payment
---------------------------------------------*/
#purchaseCalc .widgetWrap, #purchaseCalc, #purchaseCalc h3, #purchaseCalc h3 span {background-image: none; text-shadow: none;}
#purchaseCalc h3 span {color: #990000;}
/* =search by bodystyle
---------------------------------------------*/
.bodyStyleCoupe a {background: transparent url(../images/blue_white/coupe.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/coupe.png*/ no-repeat 0 0;}
.bodyStyleSedan a {background: transparent url(../images/blue_white/sedan.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/sedan.png*/ no-repeat 0 0;}
.bodyStyleHatchback a {background: transparent url(../images/blue_white/hatchback.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/hatchback.png*/ no-repeat 0 0;}
.bodyStyleWagon a {background: transparent url(../images/blue_white/wagon.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/wagon.png*/ no-repeat 0 0;}
.bodyStyleSUV a {background: transparent url(../images/blue_white/suv.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/suv.png*/ no-repeat 0 0;}
.bodyStyleTruck a {background: transparent url(../images/blue_white/truck.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/truck.png*/ no-repeat 0 0;}
.bodyStyleVan a {background: transparent url(../images/blue_white/van.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/van.png*/ no-repeat 0 0;}
.bodyStyleConvertible a {background: transparent url(../images/blue_white/convertible.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/convertible.png*/ no-repeat 0 0;}
.bodyStyleSedan a {background: transparent url(../images/blue_white/sedan.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/sedan.png*/ no-repeat 0 0;}
* html .bodyStyleCoupe a {background: transparent url(../images/blue_white/ie-coupe.gif)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/ie-coupe.gif*/ no-repeat 0 0;}
* html .bodyStyleHatchback a {background: transparent url(../images/blue_white/ie-hatchback.gif)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/ie-hatchback.gif*/ no-repeat 0 0;}
* html .bodyStyleSedan a {background: transparent url(../images/blue_white/ie-sedan.gif)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/ie-sedan.gif*/ no-repeat 0 0;}
* html .bodyStyleWagon a {background: transparent url(../images/blue_white/ie-wagon.gif)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/ie-wagon.gif*/ no-repeat 0 0;}
* html .bodyStyleSUV a {background: transparent url(../images/blue_white/ie-suv.gif)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/ie-suv.gif*/ no-repeat 0 0;}
* html .bodyStyleTruck a {background: transparent url(../images/blue_white/ie-truck.gif)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/ie-truck.gif*/ no-repeat 0 0;}
* html .bodyStyleVan a {background: transparent url(../images/blue_white/ie-van.gif)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/ie-van.gif*/ no-repeat 0 0;}
* html .bodyStyleConvertible a {background: transparent url(../images/blue_white/ie-convertible.gif)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/ie-convertible.gif*/ no-repeat 0 0;}
/* =slideshow2
---------------------------------------------*/
#region1 .slideShow .widgetWrap {background: transparent url(../images/blue_white/slideshow2-bg.png)/*tpa=http://static.dealer.com/v8/templates/616/fg01/images/blue_white/slideshow2-bg.png*/ no-repeat 0 0;}