body{min-width:1024px;}
.thinGreenBar { background-color: #007161; height: 5px; width: 100%;}
.width960 { width: 960px; margin-left: auto; margin-right: auto;}
.width940 { width: 960px; margin-left: auto; margin-right: auto;}
.headerHR { margin-top: 10px;margin-bottom:10px;}
#siteNameArea{ clear: right; display: block; float: right; text-align: right; padding-top: 20px; width:100%;padding-bottom:15px;}
#siteName { font-size:22px; color: #4c4c4c;}
#siteTagLine { font-size:14px; color: #4c4c4c;}
#leftHeaderContent { width: 35%; text-align: left; padding-top: 30px; padding-bottom: 30px; float: left;}
#rightHeaderContent { padding-top: 10px; float: right;}
.clear { clear: both;}
.shadow {-moz-box-shadow: 3px 3px 4px #bbb;	-webkit-box-shadow: 3px 3px 4px #bbb; box-shadow: 3px 3px 4px #bbb;	/* For IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#bbbbbb')";	/* For IE 5.5 - 7 */filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#bbbbbb');}


#quickRegionSelection { float: right; text-align: right; padding-left:35px;}
#quickRegionSelection > div > a { cursor: pointer; color: #007161; font-weight: bold; }
#quickRegionSelectionClickOff { display: none; z-index: 9; position: fixed;top: 0; left:0; width:100%; height: 100%; background-color: #FFFFFF; filter: alpha(Opacity=00); opacity:0.0; }
#quickRegionSelectionDropdownLine { display:none; z-index: 20; background-image: url('../../images/global/dropdown_bar.gif')/*tpa=http://www.sjm.com/images/global/dropdown_bar.gif*/; position:absolute; background-position: top center; background-repeat: no-repeat; height:14px; width:264px; margin-left:-112px;}
#quickRegionSelectionPopUp { display: none; z-index: 10; width: 235px; padding: 14px; margin-top:14px; position: absolute; background-color: white; text-align: left; margin-left:-112px; border: 1px solid #bbb;  }
#quickRegionSelectionIntro {font-weight: bold; }
#quickRegionSelectionBold {font-family:"Trade Gothic"; color: #000; padding-bottom: 10px}
#quickRegionSelectionCheckBox { font-style:italic; padding-left:30px; padding-top: 10px; }
#quickRegionSelectionSubmitButton {text-align:center; padding-top: 10px;}


#GlobalNav { float: right; text-align: right;}
#GlobalNav > div > a { cursor: pointer; color: #586067; text-decoration:none;}
#GlobalNav > div > a:hover { cursor: pointer; color: #F47A20; text-decoration:none;}
#SJMWorldWideClickOff { display: none; z-index: 9; position: fixed;top: 0; left:0; width:100%; height: 100%; background-color: #FFFFFF; filter: alpha(Opacity=00); opacity:0.0; }
#SJMWorldWideDropdownLine { display:none; z-index: 20; background-image: url('../../images/global/dropdown_bar.gif')/*tpa=http://www.sjm.com/images/global/dropdown_bar.gif*/; position:absolute; background-position: top center; background-repeat: no-repeat; height:14px; width:264px; margin-left:-90px;}
#SJMWorldWidePopUp { display: none; z-index: 10; width: 235px; padding: 14px; margin-top:14px; position: absolute; background-color: white; text-align: left; margin-left:-90px; border: 1px solid #bbb;  }
#SJMWorldWideHeader {line-height:17px;font-size: 14px; color:#586067; font-weight:bold;}
#SJMWorldWideIntro {line-height:17px; font-size: 13px; color:#586067; font-weight:bold;}
#GlobalNav > div > .GlobalNavLink { color: #586067; }
#GlobalNav > div > .GlobalNavLink:hover { color: #F47A20; }

#PatientsClickOff { display: none; z-index: 9; position: fixed;top: 0; left:0; width:100%; height: 100%; background-color: #FFFFFF; filter: alpha(Opacity=00); opacity:0.0; }
#PatientsDropdownLine { display:none; z-index: 20; background-image: url('../../images/global/dropdown_bar.gif')/*tpa=http://www.sjm.com/images/global/dropdown_bar.gif*/; position:absolute; background-position: top center; background-repeat: no-repeat; height:14px; width:264px; margin-left:95px;}
#PatientsPopUp { display: none; z-index: 10; width: 235px; padding: 14px; margin-top:14px; position: absolute; background-color: white; text-align: left; margin-left:95px; border: 1px solid #bbb;  }
#PatientsHeader {line-height:17px;font-size: 14px; color:#586067; font-weight:bold;}
#PatientsIntro {line-height:17px; font-size: 13px; color:#586067; font-weight:bold;}
#GlobalNav > div > .PatientsLink:link { color: #586067; }
#GlobalNav > div > .PatientsLink:hover { color: #F47A20; }


#ProfessionalsClickOff { display: none; z-index: 9; position: fixed;top: 0; left:0; width:100%; height: 100%; background-color: #FFFFFF; filter: alpha(Opacity=00); opacity:0.0; }
#ProfessionalsDropdownLine { display:none; z-index: 20; background-image: url('../../images/global/dropdown_bar.gif')/*tpa=http://www.sjm.com/images/global/dropdown_bar.gif*/; position:absolute; background-position: top center; background-repeat: no-repeat; height:14px; width:264px; margin-left:10px;}
#ProfessionalsPopUp { display: none; z-index: 10; width: 235px; padding: 14px; margin-top:14px; position: absolute; background-color: white; text-align: left; margin-left:10px; border: 1px solid #bbb;  }
#ProfessionalsHeader {line-height:17px;font-size: 14px; color:#586067; font-weight:bold;}
#ProfessionalsIntro {line-height:17px; font-size: 13px; color:#586067; font-weight:bold;}
.ProfessionalsLink:link { color: #586067; }
.ProfessionalsLink:hover { color: #F47A20; }

#MenuBar{background-image:url('../../images/SJM/top-line.gif')/*tpa=http://www.sjm.com/images/SJM/top-line.gif*/; background-repeat:repeat-x; background-position: center bottom; height:45px;}
