/**
 * Squeeze Template
 * @version		$Id: style.css 484 2010-01-22 03:53:17Z happynoodleboy $
 * @package		JCE MediaBox
 * @copyright	Copyright (C) 2009 - 2010 Ryan Demmer. All rights reserved.
 * @license		GNU/GPL
 * This version may have been modified pursuant
 * to the GNU General Public License, and as distributed it includes or
 * is derivative of works licensed under the GNU General Public License or
 * other free or open source software licenses.
 */

#jcemediabox-popup-frame {
	padding: 20px;
}
#jcemediabox-popup-container {
	background-color: #ffffff;
}
#jcemediabox-popup-loader {
	background: url(../img/loader.gif)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/themes/squeeze/img/loader.gif*/ no-repeat center center;
}
#jcemediabox-popup-content {
	padding: 0 10px;
}
.jcemediabox-popup-corner-tl {
	background: url(../../standard/img/corner-tl.png)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/themes/standard/img/corner-tl.png*/ no-repeat left top;
	clear: both;
	height: 10px;
}
.jcemediabox-popup-corner-tr {
	background: url(../../standard/img/corner-tr.png)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/themes/standard/img/corner-tr.png*/ no-repeat right top;
	height: 10px;
}
.jcemediabox-popup-corner-tc {
	background-color: #ffffff;
	height: 10px;
	margin: 0 10px;
	width: auto;
}
#jcemediabox-popup-info-bottom {
	padding-top: 10px;
	margin-top: -20px;
}
.jcemediabox-popup-corner-bl {
	background: url(../../standard/img/corner-bl.png)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/themes/standard/img/corner-bl.png*/ no-repeat left bottom;
	clear: both;
	height: 10px;
}
.jcemediabox-popup-corner-br {
	background: url(../../standard/img/corner-br.png)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/themes/standard/img/corner-br.png*/ no-repeat right bottom;
	height: 10px;
}
.jcemediabox-popup-corner-bc {
	background-color: #ffffff;
	height: 10px;
	margin: 0 10px;
	width: auto;
}
#jcemediabox-popup-closelink {
	width: 30px;
	height: 30px;
	background: url(../img/close.png)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/themes/squeeze/img/close.png*/ no-repeat;
	top: -15px;
	right: -15px;
	position: absolute;
	border: none;
}
#jcemediabox-popup-nav {
	line-height: 20px;
	padding: 10px;
	background-color: #ffffff;
}
#jcemediabox-popup-prev, #jcemediabox-popup-next {
	width: 30px;
	height: 30px;
	position: absolute;
	border: none;
	background-repeat: no-repeat;
	bottom: 5px;
}
#jcemediabox-popup-prev{
	background-image: url(../img/prev.png)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/themes/squeeze/img/prev.png*/;
	left: 5px;
}
#jcemediabox-popup-next {
	background-image: url(../img/next.png)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/themes/squeeze/img/next.png*/;
	right: 5px;
}
span#jcemediabox-popup-numbers {
	text-align:center;
	display: block;
}
span#jcemediabox-popup-numbers a {
	border: none;
	display: inline-block;
	margin: 0px 1px;
	width: 20px;
	height: 20px;
}
span#jcemediabox-popup-numbers a:active, span#jcemediabox-popup-numbers a:visited, span#jcemediabox-popup-numbers a:link, span#jcemediabox-popup-numbers a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
span#jcemediabox-popup-numbers a:hover {
	font-size: 1.2em;
}
span#jcemediabox-popup-numbers a.active {
	cursor: default;
	font-size: 1.2em;
}
#jcemediabox-popup-caption {
	padding: 10px 10px 0;
	min-height: 5px;
	background-color: #ffffff;
}
#jcemediabox-popup-caption h4 a:active, #jcemediabox-popup-caption p a:active, 
#jcemediabox-popup-caption h4 a:hover, #jcemediabox-popup-caption p a:hover, 
#jcemediabox-popup-caption h4 a:visited, #jcemediabox-popup-caption p a:visited,
#jcemediabox-popup-caption h4 a, #jcemediabox-popup-caption p a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
} 

#jcemediabox-popup-caption h4 {}
#jcemediabox-popup-caption p {}
div.jcemediabox-tooltip {
	color: #000000;
	border: 0;
	background: none;
}
div.jcemediabox-tooltip h4 {
	color: #000000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-top-left {
	background: url(../../standard/img/tip-tl.png)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/themes/standard/img/tip-tl.png*/ no-repeat top left;
	clear: both;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-top-right {
	background: url(../../standard/img/tip-tr.png)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/themes/standard/img/tip-tr.png*/ no-repeat top right;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-top-center {
	background-color: #ffffff;
	height: 4px !important;
	margin: 0 4px;
	overflow: hidden;
	border-top: 1px solid #000000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-middle-left {
	clear:both;
	background-color: #ffffff;
	border-left: 1px solid #000000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-middle-right {
	background-color: #ffffff;
	border-right: 1px solid #000000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-middle-center {
	margin: 0 4px;
	background-color: #ffffff;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-left {
	background: transparent url(../../standard/img/tip-bl.png)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/themes/standard/img/tip-bl.png*/ no-repeat bottom left;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-center {
	background-color: #ffffff;
	height: 4px !important;
	margin: 0 4px;
	overflow: hidden;
	border-bottom: 1px solid #000000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-right {
	background: transparent url(../../standard/img/tip-br.png)/*tpa=http://www.l-3com.com/plugins/system/jcemediabox/themes/standard/img/tip-br.png*/ no-repeat bottom right;
}

body.contentpane h1 { display: none; }