body, div, td, span, h1, h2, h3, h4, li
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	line-height: 1.2em;
}
div, a{overflow:hidden;}
a img{border:0;}
a, a:visited{
	text-decoration:none;
	color:#666;
	outline:none;
	cursor: pointer;
}

a:hover
{
	text-decoration:underline;
	color: #00853F;
}
a:active{
	color:#00853F;
}
h1{
	font-size:28px;
	margin-bottom:10px;
}
h2{
	font-size:22px;
	color:#00853F;
	margin-bottom:10px;
}
h2 a{
	font-size:22px;
	color:#00853F;
	margin-bottom:10px;
}
h3{
	font-size:18px;
}
h4{
	font-weight:bold;
}
sup{
	font-size:smaller;
	vertical-align: baseline;
	position: relative;
	bottom: 0.3em;
}
sub {
	font-size: smaller;
	vertical-align: baseline;
	position: relative;
	bottom: -0.25em;
}
ul{
	list-style-type:disc;
	padding-left:20px;
	margin:10px auto 10px auto;
}
ul li{
	margin-bottom:7px;
}
ul.no-bullets{
	list-style-type:none;
	padding-left:0;
	margin:10px auto 10px auto;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.disclaimer{
	color:#666;
	font-size:10px;
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.vertical-top{
	vertical-align:top;
}
.border-right{
	border-right: 1px solid #CCC;
	padding-right: 30px;
}
strong, .bold
{
	font-weight: bold;
}
.last{ margin-right:0}
.price{
	color:#00853F;
	font-size:22px;
	text-align:center;
	margin:auto;
	font-weight:bold;
}
.price-large{
	color:#00853F;
	font-size:44px;
	text-align:center;
	margin:auto;
	font-weight:bold;
	height:44px;
}
.price-large sup{
	bottom: 0.5em;
	font-size:.6em;
}
.mboxDefault{height:0;}
/*------------------------Buttons----------------------*/
.button{
	font-size:0;
	display:block;
	background:url('../images/sprites/template.png')/*tpa=http://www.centurylink.com/assets/images/sprites/template.png*/ no-repeat;
	float:left;
	margin:auto 5px auto 5px;
}
.btn-quick-billpay{
	background-position:-751px -1087px;
	width:123px;
	height:59px;
}
.btn-myaccount-signin{
	background-position:0 -533px;
	height:28px;
	width:170px;
}
.btn-myaccount-signin:hover{
	background-position:0 -563px;
}
.btn-learn-more{
	background-position:-174px -533px;
	height:28px;
	width:98px;
}
.btn-learn-more:hover{
	background-position:-174px -563px;
}
.btn-arrow{
	background: url("../images/sprites/global-header.png")/*tpa=http://www.centurylink.com/assets/images/sprites/global-header.png*/ no-repeat scroll -198px -356px transparent;
	width:27px;
	height:27px;
}
.btn-bundle{
	background-position:-279px -533px;
	height:28px;
	width:130px;
}
.btn-bundle:hover{
	background-position:-279px -563px;
}
.btn-start-now{
	background-position:-414px -533px;
	height:28px;
	width:88px;
}
.btn-start-now:hover{
	background-position:-414px -563px;
}
.btn-continue{
	background-position:-507px -533px;
	height:28px;
	width:88px;
}
.btn-continue:hover{
	background-position:-507px -563px;
}
.btn-check-avail{
	background-position:-602px -533px;
	height:28px;
	width:139px;
}
.btn-check-avail:hover{
	background-position:-602px -563px;
}
.btn-start-here{
	background-position:-745px -533px;
	height:28px;
	width:88px;
}
.btn-start-here:hover{
	background-position:-745px -563px;
}
.btn-get-started{
	background-position:-840px -533px;
	height:28px;
	width:98px;
}
.btn-get-started:hover{
	background-position:-840px -563px;
}
.btn-green-arrow{
	background-position:-307px -602px;
	height:20px;
	width:18px;
}
.btn-go-to-offer{
	background-position:0 -630px;
	height:28px;
	width:88px;
}
.btn-go-to-offer:hover{
	background-position:0 -663px;
}
.btn-search{
	background-position:-94px -630px;
	height:28px;
	width:88px;
}
.btn-search:hover{
	background-position:-94px -663px;
}
.btn-c2c{
	background-position:-188px -630px;
	height:28px;
	width:132px;
}
.btn-c2c:hover{
	background-position:-188px -663px;
}
.btn-start-over{
	background-position:-326px -630px;
	height:28px;
	width:88px;
}
.btn-start-over:hover{
	background-position:-326px -663px;
}
.btn-add-to-cart{
	background-position:-418px -630px;
	height:28px;
	width:98px;
}
.btn-add-to-cart:hover{
	background-position:-418px -663px;
}
.btn-select{
	background-position:-522px -630px;
	height:28px;
	width:88px;
}
.btn-select:hover{
	background-position:-522px -663px;
}
.btn-twitter-icon{
	background-position:-407px -488px;
	height:25px;
	width:26px;
}
.btn-facebook-icon{
	background-position:-317px -489px;
	height:25px;
	width:25px;
}
.btn-youtube-icon{
	background-position:-346px -488px;
	height:24px;
	width:58px;
}
.btn-feedback-icon{
	background-position:-491px -487px;
	height:32px;
	width:102px;
}
.btn-get-atease{
	background-position:-618px -630px;
	height:33px;
	width:230px;
}
.btn-get-atease:hover{
	background-position:-618px -663px;
}

.learn-more
{
	color: #00853F;
	position: relative;
	padding-left: 20px;
	padding-top: 2px;
}
.learn-more:before
{
	position: absolute;
	left: 0;
	top: 0;
	height: 17px;
	width: 17px;
	content: ' ';
	background: url('../images/sprites/template.png')/*tpa=http://www.centurylink.com/assets/images/sprites/template.png*/ no-repeat -470px -488px;
}

/*------------------------End Buttons------------------*/

/*------------------Navigation Bar Styles-------------------*/
.nav-bar{
	height:26px;
	width:964px;
	background:url('../images/sprites/template.png')/*tpa=http://www.centurylink.com/assets/images/sprites/template.png*/ no-repeat 0 -422px;
	margin-bottom:0;
	z-index:999;
	position:relative;
	clear:both;
}
.nav-bar a,
.nav-bar a:visited,
.nav-bar a:active
{
	color:#666;
	display:block;
	float:left;
}

.nav-bar a:hover
{
	color:#00853F;
}

.business-group-nav
{
	height:20px;
	margin:0px;
	z-index:999;
}

/*** ESSENTIAL STYLES ***/
.sf-menu
{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	margin-bottom: 1em;
}

.sf-menu li,
.sf-menu a
{
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu ul
{
	position:		absolute;
	top:			-999em;
	width:			100%;
}

.sf-menu a
{
	padding-top: .15em;
	display: block;
	position: relative;
	float: left;
}

.sf-menu li {
	float:			left;
	position:		relative;
}

.sf-menu li:hover ul
{
	left:			0;
	top:			2em;
	z-index:		99;
}

.business-group-nav li li
{
	margin-left:10px;
}
.business-group-nav .heading
{
	font-weight:bold;
	margin-left:0;
	color:#666;
	margin-top:10px;
}

.nav-bar,
.nav-bar div,
.nav-bar ul,
.nav-bar li
{
	overflow: visible;
}

.business-group-nav li a
{
	width:auto;
	color:#666;
	line-height:20px;
	text-align:left;
}
.business-group-nav li a:hover
{
	text-decoration: underline;
}
.business-group-nav li a
{
	font-size: 15px;
	text-decoration: none;
	margin: 0 10px 0 10px;
	font-weight: normal;
}

#tpl_nav-smb
{
	width: 125px;
}

#tpl_nav-smb li
{
	margin-left: 0;
}

#tpl_nav-res a
{
	margin-left: 28px;
	margin-right: 40px;
	font-weight: bold;
	color: #00853F;
	text-decoration: none;
}

/*--------------------RES Subnav----------------------*/
.subnav-bar
{
	margin-top:0;
	height:35px;
	width:964px;
	background:url('../images/sprites/template.png')/*tpa=http://www.centurylink.com/assets/images/sprites/template.png*/ no-repeat 0 -448px;
	position:relative;
	z-index:998;
	margin-bottom:15px;
}

.subnav-bar,
.subnav-bar div,
.subnav-bar ul,
.subnav-bar li
{
	overflow: visible;
}

.level1-nav-links
{
	float: left;
	width: 675px;
	height: auto;
	padding: 6px;
	z-index: 999;
}

.level1-nav-links .subnav-current a { color: #00853F; font-weight: bold; }
.level1-nav-links .subnav-current li a { font-weight: normal; }

.level1-nav-links ul ul
{
	width: 236px;
	padding-bottom: 12px;
	min-height: 30px;
	margin-top: -12px;
	margin-left: -1px;
	z-index: 999;
}
.level1-nav-links ul ul:after
{
	position: absolute;
	content: " ";
	bottom: 0;
	left: -1px;
	height: 30px;
	width: 235px;
	display: block;
	z-index: 999;
	background: transparent url('../images/sprites/global-header.png')/*tpa=http://www.centurylink.com/assets/images/sprites/global-header.png*/ 0 -440px no-repeat;
}

.level1-nav-links ul ul a
{
	border: 0;
	color: #00853F;
	padding-left: 25px;
	z-index: 9999;
}

.level1-nav-links ul ul li
{
	background: transparent url('../images/templates/subnav-dd-bg-mid.png')/*tpa=http://www.centurylink.com/assets/images/templates/subnav-dd-bg-mid.png*/ -1px 0 repeat-y;
	width: 236px;
	border: 0;
	margin: 0;
	padding-bottom: 3px;
	padding-top: 5px;
	min-height: 15px;
	clear: both;
}
.level1-nav-links ul ul .first
{
	padding-top:25px;
}

.level1-nav-links a
{
	border-right: 1px solid gray;
	margin-top: -4px !important;
	padding: 0 10px 0 10px;
	line-height: 16px;
	color: #666;
	z-index: 1;
	float: left;
	font-weight: normal;
}

.level1-nav-links li
{
	padding-bottom: 5px;
}

.level1-nav-links .last
{
	border-right: 0;
}

.sf-menu a.level2-nav-links:before
{
	position: absolute;
	content: " ";
	left: 11px;
	top: 3px;
	width: 6px;
	height: 10px;
	z-index:9999;
	background: url('../images/sprites/global-header.png')/*tpa=http://www.centurylink.com/assets/images/sprites/global-header.png*/ -3px -383px no-repeat;
}

.nav-bar-billpay2
{
	background: url('../images/sprites/global-header.png')/*tpa=http://www.centurylink.com/assets/images/sprites/global-header.png*/ no-repeat -93px -238px;
	width: 125px;
	display: block;
	float: left;
	color: #00853F;
	font-size: 14px;
	font-weight: bold;
	margin: -1px -100px auto;
	padding: 2px 6px;
}
/*-----------------End Sub-Navigation--------------------------*/

/*--------   Header  ----------*/
.main-container
{
	width: 960px;
	margin: auto;
	padding-top: 10px;
	margin-top: 0;
}

.logo
{
	height: 42px;
	width: 203px;
	float: left;
	margin: 25px auto 25px 10px;
	background:url('../images/sprites/global-header.png')/*tpa=http://www.centurylink.com/assets/images/sprites/global-header.png*/ no-repeat -8px -298px;
	display: block;
}

.global-above-logo-nav
{
	color: #666;
	font-size: 12px;
	float: left;
	text-align: left;
	width: 285px;
	white-space: nowrap;
}
.global-above-logo-nav a
{
	color:#666;
	padding: 0 5px;
}

.global-above-logo-nav .current a
{
	color: #00853F;
	font-weight: bold;
	text-decoration: none;
}

.global-above-logo-nav span
{
	float: left;
	margin-right: 0;
}

#lbiz
{
	float: left;
	background: none;
	display: block;
	height: 43px;
	width: 108px;
	margin-left: 0;
	position: relative;
}
#lbiz:hover
{
	background: url("../images/sprites/global-header.png")/*tpa=http://www.centurylink.com/assets/images/sprites/global-header.png*/ no-repeat -60px -388px;
}

#lbiz-drop
{
	height: 20px;
	width: 10px;
	float: right;
	background: url("../images/sprites/global-header.png")/*tpa=http://www.centurylink.com/assets/images/sprites/global-header.png*/ no-repeat -18px -380px;
}
.lbiz-dropped #lbiz-drop
{
	background-position: -33px -380px;
}

#lbiz-link
{
	display: none;
	padding: 9px 0 0 1px;
}
.lbiz-dropped #lbiz-link
{
	display: block;
}


.global-nav
{
	color:#666;
	font-size:11px;
	float:right;
	width:450px;
	text-align:right;
	padding-bottom: 5px;
}
.global-nav a
{
	color:#666;
}


.header-contact{
	color:#666;
	float:right;
	clear:right;
}
.header-contact td {vertical-align:middle}

#dynamic-800-number{color:#666;}
.phone-icon{
	float:left;
	background:url('../images/sprites/template.png')/*tpa=http://www.centurylink.com/assets/images/sprites/template.png*/ no-repeat -906px -487px;
	width:16px;
	height:28px;
	vertical-align:bottom;
	margin-top: 6px;
}
.chat-icon{
	float:left;
	background:url('../images/sprites/template.png')/*tpa=http://www.centurylink.com/assets/images/sprites/template.png*/ no-repeat -923px -486px;
	width:23px;
	height:18px;
	clear:both;
	margin-top: 3px;
	margin-left: 9px;
}

.gheader-emailus-icon
{
	float: left;
	background: url('../images/sprites/global-header.png')/*tpa=http://www.centurylink.com/assets/images/sprites/global-header.png*/ no-repeat -90px -190px;
	display: block;
	width: 16px;
	height: 11px;
	clear: both;
	margin-top: 0;
	margin-left: 14px;
	margin-right: 4px;
}
.noscript
{
	background: #660000;
	color: #FFFFFF;
	padding:30px;
	min-width:300px;
}
.noscript a, .noscript a:visited{
	color: #FEFFD3;
	font-weight:bold;
}

/*-----------------Search Styles---------------------------*/
.search-form
{
	float: right;
}

#tpl_search-input
{
	position: relative;
	top: -3px;
	width: 175px;
	background: url('../images/sprites/global-header.png')/*tpa=http://www.centurylink.com/assets/images/sprites/global-header.png*/ no-repeat -3px -358px;
	height: 18px;
	padding-left: 20px;
	padding-top: 3px;
	margin: 0;
	border: 0;
	float: left;
	font-size: 12px;
}

.search-submit
{
	margin: 0 6px 0 2px;
	position: relative;
	top: -5px;
}

.watermark
{
	color:#666;
}
/*-----------------End Search------------------------------*/

.page-content-top{
	width:960px;
	height:170px;
	background:url('../images/sprites/template.png')/*tpa=http://www.centurylink.com/assets/images/sprites/template.png*/ no-repeat 0 0;
	z-index:-1;
}

#top-left-h1
{
	float: left;
	position: relative;
	z-index: 4;
	color: #00853F;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 0;
}

.h1wrapper
{
	margin-left: 22px;
	margin-top: 8px;
}

.page-content{
	border-right:1px solid #CACCCD;
	border-left:1px solid #CACCCD;
	margin-top: -165px;
	padding:15px 20px 15px 20px;
	min-height:250px;
	position:relative;
}
.page-content-bottom
{
	width:960px;
	height:131px;
	background: url('../images/sprites/template.png')/*tpa=http://www.centurylink.com/assets/images/sprites/template.png*/ no-repeat 0 -287px;
	margin-top:-125px;
	z-index:-1;
}
.page-centered
{
	margin: 15px auto 0 20px;
}

/*------------------------Footer Styles----------------*/
.footer{
	text-align:center;
	margin-bottom:10px;
	padding:10px;
}

.footer, .footer a
{
	color: #666;
	font-size: 11px;
	line-height: 1.6em;
}
/*----------------------End Footer---------------*/


/*----------------------Modal Window Styles---------------*/
.modal
{
	width:406px;
	min-height:100px;
	padding:0;
}
.modal .modal-top
{
	background:transparent url('../images/sprites/modal_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ no-repeat -7px -2px;
	height:17px;
	width:386px;
	padding:10px;
	text-align:center;
	font-weight:bold;
}
.modal .modal-bottom{
	background:transparent url('../images/sprites/modal_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ no-repeat -7px -80px;
	width:406px;
	height:52px;
}
.modal .modal-content
{
	width:366px;
	padding:20px;
	background:transparent url('../images/templates/modal_bg.png')/*tpa=http://www.centurylink.com/assets/images/templates/modal_bg.png*/ repeat-y 0 0;
	overflow:visible;
}
.modal .modal-close-btn{
	background:transparent url('../images/sprites/modal_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ no-repeat -378px -168px;
	height:16px;
	width:16px;
	display:block;
	float:right;
	vertical-align:bottom;
}

.modal .modal-close
{
	float: right;
	width: 100px;
	line-height: 15px;
	text-align: right;
}
.zam_close, .ctam_close, .mam_close{float:left;}
#zam_close-button,#ctam_close-button,#mam_close-button{float:left; margin-left:5px;}
.modal .modal-close a{
	font-size:11px;
	color:green;
}
.modal .modal-block-top{
	margin-top:10px;
	background:transparent url('../images/sprites/modal_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ no-repeat -9px -136px;
	height:10px;
	width:356px;
}
.modal .modal-block-bottom{
	background:transparent url('../images/sprites/modal_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ no-repeat -9px -168px;
	height:12px;
	width:356px;
}
.modal .modal-block{
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
	background-color:#E7E7E7;
	min-height:10px;
	width:354px;
}
.modal-block-title{
	background: url('../images/sprites/modal_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ no-repeat -378px -188px;
	padding-left:20px;
	margin-left:10px;
}
.modal-block-title{
	background: url('../images/sprites/modal_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ no-repeat -378px -188px;
	padding-left:20px;
	margin-left:10px;
}
.modal-block-expanded, .modal-block-expanded_lvl2{
	display:none;
}
.modal-block-expanded_lvl2{
	margin:10px;
}
.modal form{
	margin:10px;
	background:white;
	padding:10px;

}
.modal form input{

}
.modal form label{
	display:block;
	font-size:11px;
}

.address-block{
	float:left;
	margin:auto 10px 7px auto;
}
.remember-me{
	margin-left:20px;
}
.link-protect-info{
	background:transparent url('../images/sprites/modal_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ no-repeat -378px -138px;
	padding-left:20px;
	margin-left:20px;
	display:block;
	line-height:20px;
}
.modal-button{
	font-size:0;
	display:block;
	background:url('../images/sprites/modal_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ no-repeat;
}
.btn-modal-show-options{
	background-position:-10px -185px;
	height:26px;
	width:131px;
}

.btn-modal-show-options:hover{
	background-position:-10px -215px;
}
/*----------------------End Modal---------------*/


/*----------------------PopUp Window Styles---------------*/
.popup{
	width:406px;
	min-height:100px;
	padding:0;
}
.popup .popup-top{
	background:transparent url('../images/sprites/modal_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ no-repeat -7px -2px;
	height:17px;
	width:386px;
	padding:10px;
	text-align:center;
	font-weight:bold;
}
.popup .popup-bottom{
	background:transparent url('../images/sprites/modal_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ no-repeat -7px -80px;
	width:406px;
	height:52px;
}
.popup .popup-content{
	width:366px;
	padding:20px;
	background:transparent url('../images/templates/modal_bg.png')/*tpa=http://www.centurylink.com/assets/images/templates/modal_bg.png*/ repeat-y 0px 0px;
	overflow:visible;
}
.popup-content p{
	margin-bottom: 16px;
}
.popup .popup-close-btn{
	background:transparent url('../images/sprites/modal_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ no-repeat -378px -168px;
	height:16px;
	width:16px;
	display: block;
	vertical-align: bottom;
}
.popup-close-link {
	float: left;
}
.popup .popup-close{
	width:90px;
	line-height:15px;
	text-align:right;
	float:right;
}
.popup .popup-close a{
	font-size:11px;
	color:green;
}

/*----------------------End Pop Up---------------*/

/*----------------Backwards compatibility issues for old templated pages-------------------*/
.legal_left_nav{
	float:left;
	width:200px;
}
.legal_main_content{
	float:right;
	width:700px;
}
.left-navigation{
	float:left;
	width:200px;
}
.content-with-left-nav{
	float:right;
	width:700px;
}
.lpButtonStyleDiv a{
	vertical-align:middle;
	padding-top:5px;
	color:#666;
	line-height:23px;
}
.lpButtonStyleDiv a:hover {
	color:#00853F;
}

#tpl_logo
{
	float:none;
	margin-top: 28px;
	margin-bottom: 26px;
}

#ol_static_footer_feedback_wrapper
{
	float: right;
	width: 70px;
	position: relative;
}

/*------------- global disclaimer links definitions us1478 ----------------*/
div.global-disclaimer-links-border-container {
	Border:1px solid #aaa;
	border-top-left-radius0;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:0;
	width : 230px;
	margin : 0 0 0 -21px;
	padding : 5px 15px 5px 20px;
	color : #00853f;
	background-color : #fff;
}

.global-disclaimer-links-border-container .promo-details-link-wrapper {
	margin : 0 8px 0 0;
}
.global-disclaimer-links-border-container .product-details-link-wrapper {
	margin : 0 0 0 8px;
}

.global-disclaimer-links-border-container a.details-link,
.global-disclaimer-links-border-container a.details-link:hover,
.global-disclaimer-links-border-container a.details-link:visited {
		color : #00853f;
}

/*------------- header callus definitions  US4250 ----------------*/
.callus-popup-content-wrapper {
	padding:10px 20px 20px 50px;
}

image.callus-popup-corp-logo-image {
	text-align : center;
}

.callus-popup-element-heading {
	font-size: 18px;
	color: #000;
	margin : 0 0 3px 0;
	font-weight : normal;
}

.callus-popup-element-tn {
	font-size : 14px;
	margin : 0 0 15px 0;
}

a.callus-popup-element-link,
a.callus-popup-element-link:hover,
a.callus-popup-element-link:visited {
	color:#00853F;
	text-decoration : underline;
}
