/* General */
.modal-content .page {display:none;}
.modal-content .page.initial {display:block;}

/* ZipCode Authentication Modal */
#zam_needed-content {display:none;}
#tam_needed-content {display:none;}
#zip-error {display:none;}

#ctam_new-customer-expanded {display:none;}
#ctam_ec-myaccount {display:none;}
#ctam_current-customer-expanded {display:none;}
#ctam_ec-zip {display:none;}
#ctam_ec-zip-on-file {display:none;}
#zam_zip-on-file {display:none;}
#ctam_nc-overlap {display:none;}
#ctam_ec-phonenum{display:none;}
#ctam_nc-go {margin-left:0px;}
#ctam_ec-go {margin-bottom:0px;}

#ctam_modal .modal-block-expanded
{
	margin-left: 30px;
}
#ctam_modal .modal-block-expanded p
{
	padding-right: 16px;
}

#mam_ec-zip-on-file {display:none;}
#mam_qwest-ma-container, #mam_ctl-ma-container {display:none;}
#ctam_ec-phone-or-account {margin-left:14px;}
#ctam_phone-explanation{margin-left:15px;}
#ctam_ec-zip,#ctam_ec-zip-on-file,#ctam_current-customer-expanded #ctam_ec-myaccount,#ctam_ec-submit-tools{margin-left:20px;}
#ctam_ec-submit-tools .modal-button-go {margin-left:0px;}
#interstitial {height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index: 3999; background-color:#FFF; display:none;}
#interstitial .badge {position: fixed;top: 50%;left: 50%;margin-left: -190px;margin-top:-87px; color: #333; width:381px; height:175px;}


.interstitial-text{
	clear:both;
	text-align:center;
	margin:10px;
	min-height:50px;
}
#interstitial-logo{
	margin-left:89px;
}
span.partc{display:none;}
#interstitial-badge-image{margin-left:10px;}


.error,.modal-errors{display:none; color:#ff0000; font-weight:bold; margin-bottom:.1em;}
.modal-error-icon {background: url("../images/sprites/modal_sprite.png")/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ repeat scroll 90px -562px transparent;float: left;height: 20px;width: 20px; margin-right:5px;}
.error-text {position:relative; top:2px; color:#FF0000; font-weight:bold;}


.modal-button-go {background:url('../images/sprites/go_button_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/go_button_sprite.png*/; display:inline-block; width:80px; height:28px; margin-left:10px;margin-bottom:-9px;}
.modal-button-go:hover {background: url('../images/sprites/go_button_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/go_button_sprite.png*/ 0px -30px}

.modal-button-signin {background:url('../images/sprites/signin_button_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/signin_button_sprite.png*/; display:inline-block; width:80px; height:28px; float:left;}
.modal-button-signin:hover {background: url('../images/sprites/signin_button_sprite.png')/*tpa=http://www.centurylink.com/assets/images/sprites/signin_button_sprite.png*/ 0px -30px}

.modal form {background:transparent;margin: 10px 10px 10px 0px;padding: 0;}

#zam-modal  form {
	margin-left:0px;
	padding-left:0px;
}

.address-block {
    float: left;
    margin: auto 5px 7px auto;
}

.modal-block-expanded_lvl2 {margin:0px;}
.modal .link-protect-info {margin-left:0px;}

#mam_qwest-links,#mam_ctl-links {display:none;}
#mam_company-links,#mam_standard-buttons {float:left;width:50%;}
#mam_company-links{text-align:right;}
.modal .remember-me {margin:0px;}

#ctam_current-customer-expanded > input {margin-left:-0px;}
#ctam_current-customer-expanded .modal-block-expanded_lvl2{margin-left:3px;}
#ctam_ec-phone-remember-me {margin-left:14px;}

#ctam_ec-zip-code {margin-bottom:5px;}
#ctam_modal{top:5%;}
.ctam-active-block{background:url("../images/sprites/modal_sprite.png")/*tpa=http://www.centurylink.com/assets/images/sprites/modal_sprite.png*/ no-repeat scroll -377px -205px transparent}
.company-selector-container {display:none;}
#ctam_mya-instructions {display:none;}
#ctam_mya-instructions .ctam_instructions {display:none;}
#ctam_mya-instructions .enter-info{display:block;}

.company-selector-container>div {float:left; width:49%;}

#ctam_new-customer-expanded p {margin-right:20px;}
#ctam_nc-unit-number {width:30px;}


.input-hidden
{
	border: none;
	width: 0;
	height: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
}

#CTAM_Dynamic_Msg
{
	margin-left:20px;
	margin-top:2px;
	display:none; 
	
}

#CTAM_Dynamic_Msg p
{
	color:#333333;	
	font-family:Arial;
	font-size:8px;
	line-height:10px;
	width:90%;
}

div.modal-content a.modal-button-go
{
	line-height: 28px;
}

a.tam_close
{
	float: left;
}

a#tam_close-button
{
	float: left;
	margin-left: 5px;
}

.ui-widget-disclaimer {background-color: #eee; border: 1px solid #888; border-radius: 5px 5px 5px 5px !important; padding: 18px 18px 5px 18px;}
.ui-widget-disclaimer .ui-widget-header {background-color: #ccc !important; border: 1px solid #888 !important; border-radius: 5px 5px 0 0 !important; margin: -19px -19px 0; padding: 15px 25px; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ddd), color-stop(1, #bbb) ) !important;/* Chrome 1-9 and Safari 4-5 */
	/* @alternate */background:-moz-linear-gradient( center top, #ddd 5%, #bbb 100% ) !important; /* Mozilla 16 and lower */
	/* @alternate */ background: -ms-linear-gradient(top, #ddd, #bbb) !important; /* IE9+ */
	/* @alternate */background:-webkit-linear-gradient(top, #ddd, #bbb) !important; /* Chrome 10+ and Safari 5.1 */
	/* @alternate */background:-o-linear-gradient(top, #ddd, #bbb) !important; /* Opera 11 and lower */
	-pie-background:linear-gradient(#ddd , #bbb) !important; /* IE 9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dddddd', endColorstr='#bbbbbb') !important;/*For IE7-8-9*/

    
}
.ui-widget-disclaimer h3 {font-weight: bold; margin: 0 0 8px; font-family: Arial, Helvetica, sans-serif; font-size: 1.2em;}
.ui-widget-disclaimer p {font-family: Arial, Helvetica, sans-serif; padding-bottom: 15px;}
.ui-widget-disclaimer th {font-weight: bold; padding: 7px;}
.ui-widget-disclaimer td {padding: 7px;}
.ui-widget-disclaimer table {border-collapse: collapse;}
.ui-widget-disclaimer tbody {border: 1px solid #999}
.ui-widget-disclaimer iframe{width: 615px; height: 260px; margin:auto;}
.ui-widget-disclaimer  .ui-dialog-titlebar-close{width:84px;height: 24px;}
.ui-widget-disclaimer  .ui-dialog-titlebar-close:hover{background:none;border:0;}
.ui-widget-disclaimer .ui-widget-header .ui-icon{

  position: absolute;
  right: 15px;
  top: 0px;
  padding: 3px 0 0 19px;
  height: 22px;
  width: 66px;
  background: url(../images/sprites/disclaimer_sprite.png)/*tpa=http://www.centurylink.com/assets/images/sprites/disclaimer_sprite.png*/ no-repeat 55px -5px;
  overflow: hidden;
  text-indent:0;
  font-size:14px;
  color:#00853F;
}


#dialogButton {width: 90px;margin: 13px auto;display:block;padding: 4px;font-size: 14px;cursor: pointer;}
.disclaimerContent {background-color: #fff; border: 1px solid #999; border-radius: 5px 5px 0 0; padding: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 1.1em;}
.ui-dialog .ui-dialog-title {font-family: Arial, Helvetica, sans-serif; font-size: 1.7em;font-weight: bold;padding-left: 3px;}
.grayButton:link, .grayButton:visited {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ddd), color-stop(1, #999) ) !important; /* Chrome 1-9 and Safari 4-5 */
	/* @alternate */background:-moz-linear-gradient( center top, #ddd 5%, #999 100% ) !important; /* Mozilla 16 and lower */
	/* @alternate */background:-webkit-linear-gradient(top, #ddd, #999) !important;     /* Chrome 10+ and Safari 5.1 */
	/* @alternate */background:-o-linear-gradient(top, #ddd, #999) !important;     /* Opera 11 and lower */
	/* @alternate */background: -ms-linear-gradient(top, #ddd, #999) !important;/*IE9+ */
	-pie-background:linear-gradient(#ddd, #999) !important; /* IE 9 */
	background-color:#ddd !important;
	color: #fff !important;}
.grayButton:hover, .grayButton:active {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ccc), color-stop(1, #888) ) !important;/* Chrome 1-9 and Safari 4-5 */
	/* @alternate */background:-moz-linear-gradient( center top, #ccc 5%, #888 100% ) !important; /* Mozilla 16 and lower */
	/* @alternate */ background: -ms-linear-gradient(top, #ccc, #888) !important; /* IE9+ */
	/* @alternate */background:-webkit-linear-gradient(top, #ccc, #888) !important; /* Chrome 10+ and Safari 5.1 */
	/* @alternate */background:-o-linear-gradient(top, #ccc, #888) !important; /* Opera 11 and lower */
	-pie-background:linear-gradient(#ccc , #888) !important; /* IE 9 */
	background-color:#ccc !important;
	color: #ddd !important;
}

/* styles added for GAMUT:PROD503 changes */
.ui-widget-disclaimer-fixed-popup {
    height: 426px !important;
    position: fixed !important;
    top: 100px !important;
    left: 50% !important;
    margin: 0 0 0 -335px !important;
	}