/*
	Mosaic - Sliding Boxes and Captions jQuery Plugin
	Version 1.0.1
	www.buildinternet.com/project/mosaic
	
	By Sam Dunn / One Mighty Roar (www.onemightyroar.com)
	Released under MIT License / GPL License
*/

* {
	margin:0;
	padding:0;
	border:none;
	outline:none;
}

/*General Mosaic Styles*/
.mosaic-block {
	float:left;
	position:relative;
	overflow:hidden;
	/*width: 201px;*/
	width: 100%;
	height: 141px;
	background:#fff url(../images/progress.gif)/*tpa=http://www.merck.com/images/progress.gif*/ no-repeat center center;
	border:1px solid #fff;
	/*margin-left: 30px;*/
	margin-bottom: 10px;
}
.mosaic-block.last {
	
}
.mosaic-block.stories_section {
	float:left;
	position:relative;
	overflow:hidden;
	width: 270px;
	height: 83px;
	background:#111 url(../images/progress.gif)/*tpa=http://www.merck.com/images/progress.gif*/ no-repeat center center;
	border:1px solid #fff;
}

	.mosaic-backdrop {
		display:none;
		position:absolute;
		top:0;
		height:100%;
		width:100%;
		/*background: #111;*/
		background:#fff;
	}
	
	.mosaic-overlay {
		display:none;
		z-index:5;
		position:absolute;
		width:100%;
		height:100%;
		background:#111;
		color: #fff !important;
		text-decoration: none;
	}
	.mosaic-overlay:hover {
		color: #fff;	
		text-decoration: none;
	}
	.mosaic-block .mosaic_title {
		display: table;
		vertical-align: middle;
		height: 40px;
	}
	.details {
		/*padding: 10px 5px 5px 5px;*/
		padding: 12px 5px 5px;
	}
		.details h4 {
			color: #fff;
			margin: 0;	
			font-size: 12px;
			line-height: 12px;
		}
		.details p {
			margin-bottom: 0;
			font-size: 0.9em;
			line-height: 1.2em;
		}
		.details a {
				
		}
		/*** Custom Animation Styles (You can remove/add any styles below) ***/
		.circle .mosaic-overlay {
			background:url(Unknown_83_filename)/*tpa=http://www.merck.com/images/hover-magnify.png*/ no-repeat center center;
			opacity:0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
			filter:alpha(opacity=00);
			display:none;
		}
		
		.fade .mosaic-overlay {
			opacity:0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
			filter:alpha(opacity=00);
			background:url(Unknown_83_filename)/*tpa=http://www.merck.com/images/bg-black.png*/;
		}
		
		.bar .mosaic-overlay {
			bottom:-100px;
			height:100px;
			background:url(Unknown_83_filename)/*tpa=http://www.merck.com/images/bg-black.png*/;
		}
		
		.bar2 .mosaic-overlay {
			bottom:-100px;
			height:150px;
			
			opacity:0.8;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
			filter:alpha(opacity=80);
		}
		
			.bar2 .mosaic-overlay:hover {
				opacity:0.8;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
				filter:alpha(opacity=80);
			}
		
		.bar3 .mosaic-overlay {
			top:-100px;
			height:100px;
			background:url(Unknown_83_filename)/*tpa=http://www.merck.com/images/bg-black.png*/;
		}
		/*** End Animation Styles ***/
		@media (max-width: 1024px){
			.details { padding: 14px 5px 5px; }
		}
		@media (max-width: 768px){
			.details h4 { line-height: 1.0em !important; }
		}
		@media (max-width: 480px){
			.details { padding: 14px 5px 5px; }
		}