/* ---------------------------------------------------------------------
Target Browsers: All
Media Type: Screen, Projection
Width: Max-Width 649px
------------------------------------------------------------------------ */
/* should it be #f0f2f4 or #f1f3f4  */
/* cahnged from #333333 to #353637 (match headings) */
/* 24px / 15px = 1.6 */
/* ---------------------------------------------------------------------
Elements
------------------------------------------------------------------------ */
a:hover {
  color: #f68d2d; }

/* ---------------------------------------------------------------------
Header
------------------------------------------------------------------------ */
.header-bd {
  position: relative;
  margin: 0; }

.header-bd-logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 15px; }

.header-bd-nav {
  position: relative;
  z-index: 0; }

.header-hd {
  display: none; }

.header-ft {
  display: none; }

/* ---------------------------------------------------------------------
Footer
------------------------------------------------------------------------ */
.footerComp {
  -webkit-filter: invert(100%);
  background: url("../media/images/comps/footer_sm.png")/*tpa=https://www.tenethealth.com/assets/media/images/comps/footer_sm.png*/ no-repeat 50% 0;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
  z-index: 99999999; }

.footer-zone_contact {
  border-bottom: 1px solid #18466a;
  padding-top: 14px;
  line-height: 20px;
  min-height: 146px; }

.footer-zone_logo {
  padding-top: 33px;
  line-height: 16px;
  width: 101px;
  float: right; }

.footer-zone_scndNav {
  padding-top: 7px;
  font-weight: 300;
  float: left;
  clear: left; }

.footer-zone_nav {
  float: left;
  padding-top: 30px; }

.footer-zone_copyright {
  clear: both;
  padding-top: 26px;
  font-size: 11px;
  line-height: 16px; }

.footer-zone-list {
  font-size: 16px; }
  .footer-zone-list > * + * {
    margin-top: 7px; }

.footer-zone-vList_contact > * + * {
  margin-top: 10px; }

.footer-zone-vList_contact > * + * + * {
  margin-top: 13px; }

.footer-zone-vList_logo > * + * {
  margin-top: 18px; }

.sticky-bd {
  margin-bottom: -704px; }

.sticky-ft, .sticky-bd:after {
  height: 704px; }

/* ---------------------------------------------------------------------
Sitefinity Grid Overrides
------------------------------------------------------------------------ */
/* SITEFINITY OVERRIDES */
/* All column grids move to single column layout */
.sf_cols > [class*="sf_2cols"], .sf_cols > [class*="sf_3cols"] {
  margin-bottom: 15px; }

/* 3 Columns (2/3, 1/3) */
.sf_2cols_1_33, .sf_2cols_2_67 {
  width: 100%; }

.sf_2cols_2_67 .sf_2cols_2in_67 {
  margin-left: 0; }

.sf_2cols_1_67, .sf_2cols_2_33 {
  width: 100%; }

.sf_2cols_2_33 .sf_2cols_2in_33 {
  margin-left: 0; }

/* 3 Columns (1/3, 1/3, 1/3) */
.sf_3cols_1_33, .sf_3cols_2_34, .sf_3cols_3_33 {
  width: 100%; }

.sf_3cols_2_34 .sf_3cols_2in_34, .sf_3cols_3_33 .sf_3cols_3in_33 {
  margin-left: 0; }

/* 2 Columns (1/2, 1/2) */
.sf_2cols_1_50, .sf_2cols_2_50 {
  width: 100%; }

.sf_2cols_2_50 .sf_2cols_2in_50 {
  margin-left: 0; }

/* ---------------------------------------------------------------------
Tab
------------------------------------------------------------------------ */
.tab {
  bottom: 99%;
  margin-left: 0; }

.tab_r {
  margin-right: 0; }

/* ---------------------------------------------------------------------
Article
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
Pipped
------------------------------------------------------------------------ */
.pipped {
  padding: 0 0 15px; }

.pipped > * {
  display: block;
  padding: 0 40px; }

.pipped > * + * {
  border-width: 1px 0 0 0; }

/* ---------------------------------------------------------------------
Grid
------------------------------------------------------------------------ */
.grid-col {
  margin: 0 0 15px; }

.mix-grid_divideHalf:before {
  width: 0;
  height: 0;
  background-color: transparent; }

/* ---------------------------------------------------------------------
Media
------------------------------------------------------------------------ */
.media-img {
  max-width: 40%;
  margin: 0 14px 0 0;
  text-align: center;
  /* centering smaller images */ }

.media-img_r {
  margin: 0 0 0 14px; }

/* media mixins */
.mix-media-img_smFull {
  float: none;
  width: 100%;
  max-width: 100%;
  margin: 0 0 24px 0; }

.mix-media-img_smFull img {
  max-width: 100%; }

/**
Sitefinity Overrides:

The Sitefinity grid classes have to be placed on wrapping elements in order
to place content in them and they are attached to grid styling
(floats, clears, etc).
*/
[class*="sf_"].media-img {
  margin: 0 14px 0 0; }

[class*="sf_"].media-img_r {
  margin: 0 0 0 14px; }

[class*="sf_"].mix-media-img_smFull {
  float: none;
  width: 100%;
  margin: 0 0 24px 0; }

/* ---------------------------------------------------------------------
Banner
------------------------------------------------------------------------ */
.banner > img {
  width: auto;
  min-width: 100%; }

/* ---------------------------------------------------------------------
Contact Info
------------------------------------------------------------------------ */
.contactInfo-text {
  display: inline-block;
  padding-left: 0;
  font-size: 18px;
  word-wrap: break-word; }

.contactInfo-icon {
  display: none; }

/* ---------------------------------------------------------------------
Hidden
------------------------------------------------------------------------ */
.hidden_sm {
  display: none; }

/* ---------------------------------------------------------------------
Horizontal List
------------------------------------------------------------------------ */
.mix-hList_smStack > * {
  float: none;
  display: block;
  margin: 0 0 18px; }

/* ---------------------------------------------------------------------
Vertical List
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
Blocks
------------------------------------------------------------------------ */
/* for centering blocks on mobile devices only */
.blocks_center {
  margin: 0; }

.blocks_center > * {
  width: auto;
  margin-right: 0.74%;
  margin-left: 0.74%; }

/* for small screen size only */
.blocks_sm1up > * {
  display: inline-block;
  width: 99.8%;
  vertical-align: top; }

.blocks_sm1up > :nth-child(n) {
  clear: none; }

.blocks_sm1up > :nth-child(1n+1) {
  clear: both; }

.blocks_sm2up > * {
  display: inline-block;
  width: 49.8%;
  vertical-align: top; }

.blocks_sm2up > :nth-child(n) {
  clear: none; }

.blocks_sm2up > :nth-child(2n+1) {
  clear: both; }

.blocks_sm3up > * {
  display: inline-block;
  width: 33.13333%;
  vertical-align: top; }

.blocks_sm3up > :nth-child(n) {
  clear: none; }

.blocks_sm3up > :nth-child(3n+1) {
  clear: both; }

.blocks_sm4up > * {
  display: inline-block;
  width: 24.8%;
  vertical-align: top; }

.blocks_sm4up > :nth-child(n) {
  clear: none; }

.blocks_sm4up > :nth-child(4n+1) {
  clear: both; }

.blocks_sm5up > * {
  display: inline-block;
  width: 19.8%;
  vertical-align: top; }

.blocks_sm5up > :nth-child(n) {
  clear: none; }

.blocks_sm5up > :nth-child(5n+1) {
  clear: both; }

.blocks_sm6up > * {
  display: inline-block;
  width: 16.46667%;
  vertical-align: top; }

.blocks_sm6up > :nth-child(n) {
  clear: none; }

.blocks_sm6up > :nth-child(6n+1) {
  clear: both; }

.blocks_sm7up > * {
  display: inline-block;
  width: 14.08571%;
  vertical-align: top; }

.blocks_sm7up > :nth-child(n) {
  clear: none; }

.blocks_sm7up > :nth-child(7n+1) {
  clear: both; }

.blocks_sm8up > * {
  display: inline-block;
  width: 12.3%;
  vertical-align: top; }

.blocks_sm8up > :nth-child(n) {
  clear: none; }

.blocks_sm8up > :nth-child(8n+1) {
  clear: both; }

/* ---------------------------------------------------------------------
Piped Blocks
------------------------------------------------------------------------ */
.pipedBlocks {
  display: block;
  padding: 26px 0; }

.pipedBlocks-cell {
  display: block;
  padding: 10px 20px 0;
  margin-bottom: 10px;
  border-top: 1px solid #c7c3b5; }

.pipedBlocks-cell:first-child {
  border-top: 0 none; }

.pipedBlocks-cell-hd {
  font-size: 18px; }

.pipedBlocks-cell-bd {
  font-size: 16px; }

.pipedBlocks-cell-sub {
  font-size: 14px; }

/* ---------------------------------------------------------------------
Site Navigation
------------------------------------------------------------------------ */
.siteNav {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.siteNav-bd {
  position: absolute;
  z-index: -1;
  top: 92px;
  left: 0;
  width: 100%;
  border-top: 1px solid #d7d7d7;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-backface-visibility: hidden; }

.mix-siteNav-bd_isAnimated {
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.siteNav-bd_isActive {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.mix-siteNav-bd_showSub {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%); }

.siteNav-sub {
  position: absolute;
  z-index: 0;
  top: -1px;
  right: 100%;
  visibility: hidden;
  width: 100%;
  -webkit-transition: all 0 0.5s;
  transition: all 0 0.5s; }

.siteNav-sub_isActive {
  z-index: 1;
  visibility: visible;
  -webkit-transition: all 0 0;
  transition: all 0 0; }

/* ---------------------------------------------------------------------
Headings
------------------------------------------------------------------------ */
/* heading sizes */
.hdg_1 {
  font-size: 30px; }

.hdg_2 {
  font-size: 23px; }

.hdg_3 {
  font-size: 25px; }

.hdg_4 {
  font-size: 24px; }

.hdg_5 {
  font-size: 22px; }

.hdg_6 {
  font-size: 20px; }

.hdg_7 {
  font-size: 16px; }

/* ---------------------------------------------------------------------
Sitefinity Download List
------------------------------------------------------------------------ */
.sfdownloadTitle {
  word-wrap: break-word; }

.link:hover {
  text-decoration: none; }

.field > input {
  font-size: 8px; }

/* ---------------------------------------------------------------------
Logo
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
Site Nav Button
------------------------------------------------------------------------ */
/**
 * Pseudo selectors :link, :active, and :visited have been
 * added in order to override Sitefinity base styling for <a>.
 *
 * a, a:link, a:visited, a:hover, a:active {
 *     color: #105CB6;
 *     text-decoration: none;
 * }
 */
.siteNavBtn {
  padding: 11px 26px 10px;
  text-align: right;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #d7d7d7;
  background: #f0f2f4;
  font-size: 22px;
  line-height: 1.136; }

/* Sitefinity Override */
.siteNavBtn_back, .siteNavBtn_back:link, .siteNavBtn_back:active, .siteNavBtn_back:visited {
  color: #717576; }

.siteNavBtn_back {
  padding: 19px 26px 12px;
  text-transform: uppercase;
  border-top: 0;
  background: #e1e1e1;
  font-size: 15px;
  line-height: 1; }
  .siteNavBtn_back:after {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 6px;
    height: 14px;
    margin-left: 17px;
    content: '';
    background: url(../media/images/nav-icon-arrow-r.png)/*tpa=https://www.tenethealth.com/assets/media/images/nav-icon-arrow-r.png*/ no-repeat 0 50%; }
  .siteNavBtn_back:hover {
    color: #717576; }

.siteNavBtn_section:before {
  display: inline-block;
  width: 8px;
  height: 19px;
  margin-top: 2px;
  margin-right: 30px;
  content: '';
  background: url(../media/images/nav-icon-arrow-l.png)/*tpa=https://www.tenethealth.com/assets/media/images/nav-icon-arrow-l.png*/ no-repeat 0 50%; }

/* Sitefinity Override */
.siteNavBtn_menu, .siteNavBtn_menu:link, .siteNavBtn_menu:active, .siteNavBtn_menu:visited {
  color: #717576; }

.siteNavBtn_menu {
  display: inline-block;
  width: 105px;
  height: 92px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  background: #f0f2f4;
  font-size: 16px;
  font-weight: bold;
  line-height: 92px; }

.mix-siteNavBtn_light {
  font-weight: 300; }

/* ---------------------------------------------------------------------
Secondary Nav Button
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
Button
------------------------------------------------------------------------ */
.mix-btn_lg {
  font-size: 18px; }

/* ---------------------------------------------------------------------
Search
------------------------------------------------------------------------ */
.search {
  height: 45px; }

.search-field {
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  padding-right: 60px;
  text-align: right;
  font-size: 20px; }

.search-btn {
  z-index: 2;
  margin: 0;
  border: 0;
  background: #d2d6d9 url(../media/images/icon-search.png)/*tpa=https://www.tenethealth.com/assets/media/images/icon-search.png*/ no-repeat center center;
  text-align: left;
  text-indent: -9999px;
  font-size: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 44px; }

/* ---------------------------------------------------------------------
Slider
------------------------------------------------------------------------ */
.slider, .slider-cont {
  height: 330px; }

.slider-next, .slider-prev {
  width: 26px; }

/* for the fully responsive solution (214px / 320px) * 100% */
.slider-cont-slide {
  width: 214px; }

/* for the fully responsive solution ((214px * 3) / 320px) * 100% */
.slider-cont-slide_tiles {
  width: 642px;
  /* triple standard slide width for modile layout */ }

.slider-video {
  padding-top: 32px; }

.slider-video-close {
  top: 0;
  right: 0;
  height: 32px; }

/* ---------------------------------------------------------------------
Slide Block
------------------------------------------------------------------------ */
.slideBlock-img > img {
  margin-left: -30%; }

.slideBlock-bd {
  top: 20px;
  left: 38px;
  width: 170px; }

.slideBlock-bd-hdg {
  margin-bottom: 140px;
  font-size: 32px; }

.slideBlock-bd-text {
  display: none; }

/* ---------------------------------------------------------------------
Slide Tile
------------------------------------------------------------------------ */
/* slide width for tile slides is 3 times the normal slide width */
.slideTile {
  width: 214px;
  height: 165px; }

.slideTile-img > img {
  max-width: none;
  max-height: 100%; }

.slideTile-bd {
  left: 20px;
  width: 85%; }

/* narrow tile: has hdg, bd, and btn */
.slideTile-bd_std {
  top: 20px; }

/* narrow tile: has bd and btn */
.slideTile-bd_copyOnly {
  top: 30px;
  width: 70%; }

/* form tile: has search input */
.slideTile-bd_form {
  top: 40px;
  width: 80%; }

/* download tile: has doc icon, hdg, and bd */
.slideTile-bd_icon {
  top: 40px;
  padding-left: 0;
  /* left spacing for icon */ }

/* video tile: has play icon, hdg, and bd*/
.slideTile-bd_video {
  top: 40px; }

.slideTile-bd-text {
  margin-bottom: 18px;
  line-height: 1.2; }

.slideTile-bd-icon {
  position: relative;
  float: left;
  width: 26px;
  height: 34px;
  margin: 0 6px 4px 0; }

.slideTile-bd-play {
  width: 44px;
  height: 44px; }

/* background color */
.mix-slideTile_darkBlue {
  background-color: #164871; }

/* play button situated to the right */
.mix-slideTile-bd-play_r {
  margin-right: 0px;
  margin-top: 10px; }

.finder-map {
  display: none; }

.finder {
  height: auto; }

.finder > * {
  width: auto;
  float: none;
  position: static;
  height: auto; }

.slideshow {
  margin-left: -26px;
  margin-right: -26px; }

.slideshow-cont-slide {
  padding-left: 26px;
  padding-right: 26px; }

.slideshow-next {
  right: 0; }

.slideshow-prev {
  left: 0; }

.slideshow-next, .slideshow-prev {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9); }

.collapsible-ft_bio {
  margin-left: 0; }
