/* ---------------------------------------------------------------------
Target Browsers: All
Media Type: Screen, Projection
Width: Min-Width 1050px
------------------------------------------------------------------------ */
/* should it be #f0f2f4 or #f1f3f4  */
/* cahnged from #333333 to #353637 (match headings) */
/* 24px / 15px = 1.6 */
/* create a context reference for JS to read */
body:after {
  content: "lg"; }

/* ---------------------------------------------------------------------
Header
------------------------------------------------------------------------ */

.header-bd {
  width: 980px;
  margin: auto; }

/* ---------------------------------------------------------------------
Footer
------------------------------------------------------------------------ */
.footerComp {
  -webkit-filter: invert(100%);
  background: url("../media/images/comps/footer_lg.png")/*tpa=https://www.tenethealth.com/assets/media/images/comps/footer_lg.png*/ no-repeat 50% 0;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
  z-index: 99999999; }

.footer {
  margin-top: 20px;
  padding-right: 150px;
  padding-left: 306px;
  height: 300px;
  font-size: 15px; }

.footer-zone {
  padding-left: 49px;
  padding-right: 49px; }

.mix-footer-zone_wingL:before, .mix-footer-zone_wingR:before {
  height: 130px; }

.mix-footer-zone_wingL {
  padding-left: 0;
  width: 306px; }

.mix-footer-zone_wingR {
  padding-right: 0;
  width: 150px; }

.mix-footer-zone_wingR:before, .mix-footer-zone_wingL:before {
  top: 10px; }

.footer-zone_contact {
  padding-left: 0;
  padding-top: 12px;
  font-size: 15px;
  line-height: 20px; }

.footer-zone_logo {
  padding-right: 0;
  font-size: 15px;
  line-height: 17px;
  padding-top: 7px; }

.footer-zone_nav {
  padding-top: 5px; }

.footer-zone_scndNav {
  padding-top: 0; }

.footer-zone_copyright {
  top: 190px;
  font-size: 12px;
  padding-left: 0; }

.footer-zone-list > * {
  font-size: 12px; }

.footer-zone-vList_contact > * + * {
  margin-top: 10px; }

.footer-zone-vList_contact > * + * + * {
  margin-top: 3px; }

.footer-zone-vList_logo > * + * {
  margin-top: 30px; }

.sticky-bd {
  margin-bottom: -365px; }

.sticky-ft, .sticky-bd:after {
  height: 365px; }

/* ---------------------------------------------------------------------
Sitefinity Grid Overrides
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
Area
------------------------------------------------------------------------ */
.area-tab {
  left: 50%;
  padding: 20px 30px 0;
  margin: 0 -520px; }

.area-tab_r {
  left: auto;
  right: 50%; }

.area-bd {
  width: 980px;
  margin: auto; }

.mix-area-bd_wide {
  width: 1120px; }

.mix-area-bd_fillH {
  margin-left: 0;
  margin-right: 0;
  width: auto; }

.area-bd_full {
  width: auto; }

/* patterned area used for title */
.mix-area-bd_title {
  padding-top: 104px;
  padding-bottom: 54px; }

.area-ft {
  right: 50%;
  margin-right: -490px; }

/* ---------------------------------------------------------------------
Article
------------------------------------------------------------------------ */
.article-hd {
  margin-bottom: 30px; }

.article-bd {
  margin-bottom: 20px; }

.article-ft {
  margin-bottom: 0px; }

.article-hd_sm {
  margin-bottom: 5px; }

/* ---------------------------------------------------------------------
Box
------------------------------------------------------------------------ */
.box {
  padding: 16px 24px; }

/* removes padding from the left side of the box*/
.mix-box_flushL {
  padding-left: 0; }

/* ---------------------------------------------------------------------
Grid
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
Media
------------------------------------------------------------------------ */
.media-img {
  margin: 0 22px 0 0; }

.media-img_r {
  margin: 0 0 0 22px; }

/* media mixins */
.mix-media-img_mdFull {
  float: left;
  width: auto; }

/**
Sitefinity Overrides:

The Sitefinity grid classes have to be placed on wrapping elements in order
to place content in them and they are attached to grid styling
(floats, clears, etc).
*/
[class*="sf_"].media-img {
  margin: 0 22px 0 0; }

[class*="sf_"].media-img_r {
  margin: 0 0 0 22px; }

/* ---------------------------------------------------------------------
Pipped
------------------------------------------------------------------------ */
.pipped > * {
  padding: 0 40px; }

/* ---------------------------------------------------------------------
Headings
------------------------------------------------------------------------ */
/**
 * Header 2 headline:
 * Clearing lineheight that was set for sm and
 * md breakpoints.
 */
.hdg.hdg_2.mix-hdg_blue.mix-hdg_bold {
  line-height: 1;
  /* 38 / 28 replicating line-height for Overview headline */ }

/* ---------------------------------------------------------------------
Sitefinity Download List
------------------------------------------------------------------------ */
.sfdownloadTitle {
  word-wrap: normal; }

/* ---------------------------------------------------------------------
Blocks
------------------------------------------------------------------------ */
.blocks_lg1up > * {
  display: inline-block;
  width: 99.8%;
  vertical-align: top; }

.blocks_lg1up > :nth-child(n) {
  clear: none; }

.blocks_lg1up > :nth-child(1n+1) {
  clear: both; }

.blocks_lg2up > * {
  display: inline-block;
  width: 49.8%;
  vertical-align: top; }

.blocks_lg2up > :nth-child(n) {
  clear: none; }

.blocks_lg2up > :nth-child(2n+1) {
  clear: both; }

.blocks_lg3up > * {
  display: inline-block;
  width: 33.13333%;
  vertical-align: top; }

.blocks_lg3up > :nth-child(n) {
  clear: none; }

.blocks_lg3up > :nth-child(3n+1) {
  clear: both; }

.blocks_lg4up > * {
  display: inline-block;
  width: 24.8%;
  vertical-align: top; }

.blocks_lg4up > :nth-child(n) {
  clear: none; }

.blocks_lg4up > :nth-child(4n+1) {
  clear: both; }

.blocks_lg5up > * {
  display: inline-block;
  width: 19.8%;
  vertical-align: top; }

.blocks_lg5up > :nth-child(n) {
  clear: none; }

.blocks_lg5up > :nth-child(5n+1) {
  clear: both; }

.blocks_lg6up > * {
  display: inline-block;
  width: 16.46667%;
  vertical-align: top; }

.blocks_lg6up > :nth-child(n) {
  clear: none; }

.blocks_lg6up > :nth-child(6n+1) {
  clear: both; }

.blocks_lg7up > * {
  display: inline-block;
  width: 14.08571%;
  vertical-align: top; }

.blocks_lg7up > :nth-child(n) {
  clear: none; }

.blocks_lg7up > :nth-child(7n+1) {
  clear: both; }

.blocks_lg8up > * {
  display: inline-block;
  width: 12.3%;
  vertical-align: top; }

.blocks_lg8up > :nth-child(n) {
  clear: none; }

.blocks_lg8up > :nth-child(8n+1) {
  clear: both; }

/* ---------------------------------------------------------------------
Horizontal List
------------------------------------------------------------------------ */
.hList_tight > * + * {
  margin-left: 8px; }

.hList_std > * + * {
  margin-left: 18px; }

.hList_loose > * + * {
  margin-left: 24px; }

/* adds vertical pipes between list elements */
.hList_divided > * + * {
  margin-left: 18px;
  padding-left: 18px; }

/* ---------------------------------------------------------------------
Vertical List
------------------------------------------------------------------------ */
.vList_tight > * {
  margin-bottom: 12px; }

.vList_std > * {
  margin-bottom: 14px; }

.vList_loose > * {
  margin-bottom: 24px; }

.vList_tight > .vList-hd {
  margin-bottom: 19px; }

.vList_std > .vList-hd {
  margin-bottom: 21px; }

.vList_loose > .vList-hd {
  margin-bottom: 31px; }

/* ---------------------------------------------------------------------
Site Navigation
------------------------------------------------------------------------ */
.siteNav > * + * {
  margin-left: 13px; }

/* ---------------------------------------------------------------------
Section Navigation
------------------------------------------------------------------------ */
.sectionNav {
  width: 81.66667%; }

/* ---------------------------------------------------------------------
Skip Link
------------------------------------------------------------------------ */
.skipLink {
  top: -44px;
  height: 44px;
  line-height: 44px;
  font-size: 16px; }

/* ---------------------------------------------------------------------
Logo
------------------------------------------------------------------------ */
.logo {
  width: 130px;
  height: 120px; }

/* Logo mixins */
.logo_mono {
  width: 101px;
  height: 53px; }

/* ---------------------------------------------------------------------
Site Nav Button
------------------------------------------------------------------------ */
.siteNavBtn {
  display: block;
  height: 120px;
  padding: 0 14px;
  font-size: 20px;
  line-height: 120px; }

/* ---------------------------------------------------------------------
Section Nav Button
------------------------------------------------------------------------ */
.sectionNavBtn {
  height: 50px; }

.sectionNavBtn-txt {
  padding: 0 20px;
  font-size: 20px; }

/**
 * mixin for item count
 * this class is being set using JS "subNavLayout.js"
 */
/* items numbering 4 or less */
.mix-sectionNavBtn_count4 {
  max-width: 300px; }

.mix-sectionNavBtn_count5 {
  max-width: 280px; }

.mix-sectionNavBtn_count6 {
  max-width: 250px; }

/* specifically to override tablet style */
.mix-sectionNavBtn_count6 .sectionNavBtn-txt {
  font-size: 20px; }

/* ---------------------------------------------------------------------
Secondary Nav Button
------------------------------------------------------------------------ */
.scndNavBtn {
  height: 44px;
  padding: 0 25px;
  font-size: 16px;
  line-height: 44px; }

/* ---------------------------------------------------------------------
Button
------------------------------------------------------------------------ */
.mix-btn_lg {
  padding: 16px 18px;
  font-size: 20px; }

/* ---------------------------------------------------------------------
Search
------------------------------------------------------------------------ */
.search {
  height: 44px; }
  .search > * {
    line-height: 34px; }

.search-field {
  width: 180px; }

.search-icon {
  width: 44px; }

.search-btn {
  width: 40px; }

/* ---------------------------------------------------------------------
Slider
------------------------------------------------------------------------ */
.slider, .slider-cont {
  height: 573px; }

.slider-next, .slider-prev {
  width: 52px; }

/* for the fully Responsive solution (588px / 1200px) * 100% */
.slider-cont-slide, .slider-cont-slide_tiles {
  width: 588px; }

.slider-video {
  padding: 0; }

.slider-video-close {
  top: 48px;
  right: 88px; }

/* ---------------------------------------------------------------------
Slide Block
------------------------------------------------------------------------ */
/* dark bar at the base of the tile */
.slideBlock:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 16px;
  background: transparent;
  background: rgba(0, 0, 0, 0.15); }

.slideBlock-bd {
  position: absolute;
  top: 48px;
  left: 60px;
  width: 254px; }

.slideBlock-bd-hdg {
  margin-bottom: 30px;
  font-size: 40px; }

.slideBlock-bd-text {
  margin-bottom: 30px;
  font-size: 16px; }

/* ---------------------------------------------------------------------
Slide Tile
------------------------------------------------------------------------ */
.slideTile {
  width: 392px;
  /* desktop 2/3 the overall slide width */
  height: 191px; }

/* dark bar at the base of the tile */
.slideTile:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 16px;
  background: transparent;
  background: rgba(0, 0, 0, 0.15); }

/* .slideTile_narrow is being replaced with .slideTile:nth-child(4n+1) */
.slideTile:nth-child(4n+1), .slideTile:nth-child(4n+4) {
  width: 196px;
  /* desktop 1/3 the width of the slide */ }

/* .slideTile_narrow is being replaced with .slideTile:nth-child(4n+1) */
.slideTile:nth-child(4n+1) .slideTile-img > *, .slideTile:nth-child(4n+4) .slideTile-img > * {
  max-width: none;
  max-height: 100%; }

.slideTile-bd {
  left: 26px; }

/* narrow tile: has hdg, bd, and btn */
.slideTile-bd_std {
  top: 25px;
  width: 82%; }

/* narrow tile: has bd and btn */
.slideTile-bd_copyOnly {
  top: 34px;
  width: 140px; }

/* form tile: has search input */
.slideTile-bd_form {
  top: 54px;
  width: 56%; }

/* download tile: has doc icon, hdg, and bd */
/* removed 48px left padding because icon is being removed */
.slideTile-bd_icon {
  top: 76px;
  left: 30px; }

/* video tile: has play icon, hdg, and bd*/
.slideTile-bd_video {
  top: 40px;
  left: 30px; }

.slideTile-bd-hdg {
  font-size: 22px; }

.slideTile-bd-text {
  margin-bottom: 15px; }

.slideTile-bd_copyOnly .slideTile-bd-text {
  margin-bottom: 25px; }

.slideTile-bd-icon {
  width: 32px;
  height: 42px; }

.slideTile-bd-play {
  width: 64px;
  height: 64px; }

/* play button situated to the right */
.mix-slideTile-bd-play_r {
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 0; }

/* mixin for play btn on the right */
.mix-slideTile-bd-play_c {
  margin-top: 15px; }

/**
* Sitefinity Layout overrides for the editing view inside of Sitefinity.
*/
.RadDock .slideTile {
  width: 67%;
  /* desktop 2/3 the width of the slide */ }

.RadDock .slideTile:nth-child(4n+1), .RadDock .slideTile:nth-child(4n+4) {
  width: 33%;
  /* desktop 1/3 the width of the slide */ }

.filter-field {
  overflow: hidden; }

.filter-field_type {
  float: none;
  width: auto; }

.collapsible-ft_bio {
  margin-left: 166px; }
