/*
Sitefinity loads all css in it's Global folder, but that folder is the only
way to control load order and get our styles to load after the CMS styles. So
we're using an import statement in that Global folder to load up this file,
which then loads the breakpoints. Yay, Sitefinity!
 */

@import "screen.css"/*tpa=https://www.tenethealth.com/assets/styles/screen.css*/ screen;
@import "screen_sm.css"/*tpa=https://www.tenethealth.com/assets/styles/screen_sm.css*/ screen and (max-width:767px);
@import "screen_md.css"/*tpa=https://www.tenethealth.com/assets/styles/screen_md.css*/ screen and (min-width:768px);
@import "screen_lg.css"/*tpa=https://www.tenethealth.com/assets/styles/screen_lg.css*/ screen and (min-width:1200px);
@import "print.css"/*tpa=https://www.tenethealth.com/assets/styles/print.css*/ print;
