/* _lcid="1033" _version="15.0.4535"
_LocalBinding */
.slm-layout-main{
overflow:hidden;
width:100%;
padding:0px;
margin:0px;
border:0px;
}
.slm-edit-ecb{
float:left;
width:40px;
clear:both;
}
.slm-edit-ecb div{
vertical-align:middle;
padding:2px 0px 0px 2px;
}
.slm-edit-link{
vertical-align:top;
padding:1px 0px 0px 1px;
}
.slm-display-link{
vertical-align:top;
padding:0px;
}
.presence-status-icon{
float:left;
padding-top:1px;
padding-right:5px;
padding-left:0px;
height:12px;
width:12px;
}
.wp-content{
margin-bottom:6px;
margin-top:6px;
margin-left:4px;
margin-right:0px;
}
.cbq-layout-main{
width:100%;
padding:0;
margin:0;
border:0;
}
.toc-layout-main .dfwp-list
{
clear:both;
}
.toc-layout-main{
width:100%;
padding:0;
margin:0;
border:0;
}
.dfwp-list,.dfwp-column
{
-moz-box-sizing:border-box;
box-sizing:border-box;
}
.dfwp-list
{
list-style:none;
margin:0;
padding:0;
}
.dfwp-column
{
float:left;
padding-left:.5em;
}
.item{
padding-bottom:6px;
padding-top:6px;
padding-left:4px;
padding-right:0px;
clear:both;
}
.slm-dragdrop-source .item
{
clear:none;
}
.slm-dragdrop-source .groupheader
{
clear:none;
}
.centered{
text-align:center;
}
.link-item-large,.link-item-large a,.link-item-large a:link{
font-size:18pt;
}
.image-area-left{
float:left;
padding-right:5px;
padding-left:0px;
}
.image-area-right{
float:right;
padding-left:5px;
padding-right:0px;
vertical-align:top;
}
.image-area-top{
padding-bottom:5px;
}
.image{
border:0;
}
.image-fixed-width{
border:0;
width:90px;
}
.bullet{
border-style:none;
border-color:inherit;
border-width:0;
vertical-align:top;
background-image:url("../../../../_layouts/images/lstbulet.gif")/*tpa=http://www.amd.com/_layouts/images/lstbulet.gif*/;
background-repeat:no-repeat;
background-position:left;
padding-left:10px;
padding-right:0px;
}
.groupheader{
text-align:left;
margin-bottom:5px;
font-size:10pt;
font-weight:bold;
clear:both;
}
.band{
background-color:#E4E8F0;
padding:2px 0px 2px 3px;
}
.large{
font-size:18pt;
}
.small{
font-size:8pt;
}
.medium{
font-size:10pt;
}
.centered{
text-align:center;
}
.separator{
border:1px #333333 solid;
clear:both;
}
.whitespace{
margin:0;
padding:0 0 10px 0;
clear:both;
}
.level-header{
padding:2px 0px 2px 0px;
}
.level-band{
background-color:#E4E8F0;
padding:2px 0px 2px 3px;
margin-right:3px;
margin-left:0px;
}
.level-description-padding{
padding-left:15px;
padding-right:0px;
padding-bottom:1px;
}
.level-item-pos{
margin:2px 3px 2px 3px;
padding:1px 0px 1px 0px;
}
.level-section{
margin-bottom:6px;
clear:both;
}
.level-section>ul>li{
margin-left:2em;
margin-right:2em;
}
.level-bullet{
border-style:none;
border-color:inherit;
border-width:0;
vertical-align:top;
background-image:url("../../../../_layouts/images/lstbulet.gif")/*tpa=http://www.amd.com/_layouts/images/lstbulet.gif*/;
background-repeat:no-repeat;
background-position:left;
padding-left:10px;
padding-right:0px;
}
.level-separator{
min-width:20px;
vertical-align:middle;
text-align:center;
font-size:larger;
line-height:2em;
}
.headertitle,.headertitle a,.headertitle a:link{
font-size:10pt;
font-weight:bold;
}
.headertitle-large,.headertitle-large a,.headertitle-large a:link{
font-size:12pt;
font-weight:bold;
}
.headertitle-small,.headertitle-small a,.headertitle-small a:link{
font-size:8pt;
font-weight:bold;
}
.headertitle-band,.headertitle-band a,.headertitle-band a:link{
font-size:10pt;
font-weight:bold;
}
.cqfeed
{
text-align:right;
}
.ms-slDlg-BodyContainer
{
width:100%;
height:100%;
}
.ms-slDlg-FieldLabel
{
padding-top:10px;
padding-bottom:2px;
}
.ms-slDlg-IndentedFieldLabel
{
padding-left:10px;
padding-top:5px;
padding-bottom:2px;
}
.ms-slDlg-FieldDescription
{
color:gray;
}
.ms-slDlg-BrowseButton
{
margin-left:10px;
margin-right:5px;
}
.ms-slLinkDlg-InputField
{
width:275px;
}
.ms-slLinkDlg-FirstPanel
{
text-align:left;
padding-top:10px;
padding-left:50px;
padding-right:20px;
}
.ms-slLinkDlg-Panel
{
text-align:left;
padding-top:0px;
padding-left:50px;
padding-right:20px;
}
.ms-slLinkDlg-PeoplePanel
{
text-align:left;
background-color:#d6e8ff;
padding-top:0px;
padding-left:50px;
padding-bottom:10px;
padding-right:20px;
margin-top:5px;
}
.ms-slDlg-ActionText
{
padding-left:5px;
}
.ms-slGroupDlg-InputField
{
width:362px;
}
.ms-slGroupDlg-Panel
{
text-align:left;
padding-top:5px;
padding-left:50px;
padding-right:20px;
}
.ms-slViewDlg-InputField
{
width:362px;
}
.ms-slViewDlg-Panel
{
text-align:left;
padding-top:5px;
padding-left:50px;
padding-right:20px;
}
.ms-slViewDlg-FirstPanel
{
text-align:left;
padding-top:20px;
padding-left:50px;
padding-right:20px;
}
.ms-slSortDlg-Panel
{
text-align:left;
padding-top:0px;
padding-left:0px;
padding-right:0px;
}
.listItem div.callOut a
{
color:#ffffff;
}
.title-With-Background
{
background-color:#83B0EC;
margin-top:5px;
padding:4px;
}
div.title-With-Background a,div.title-With-Background a:link,div.title-With-Background a:hover,div.title-With-Background a:visited,div.title-With-Background a:active
{
font-size:12pt;
color:#ffffff;
}
img.media-preview
{
border:none;
}
span.media-title
{
display:block;
}
.mediaPlayerContainer
{
position:relative;
float:left;
background-color:#000000;
cursor:default !important;
}
.mediaPlayerVideoObject
{
vertical-align:bottom;
}
.mediaPlayerTitleOverlay
{
position:absolute;
top:0px;
left:0px;
z-index:1;
height:20px;
background-color:#505050;
opacity:0.7;
width:100%;
}
.mediaPlayerTitleOverlay,.mediaPlayerTitleOverlay a
{
color:#FFFFFF;
}
.mediaPlayerFullScreenEsc
{
display:none;
position:absolute;
z-index:1003;
left:40%;
top:50%;
padding:.5em;
text-align:center;
color:#FFFF00;
background-color:#505050;
opacity:0.9;
border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;
}
.mediaPlayerLoadingIndicator
{
display:block;
position:absolute;
z-index:1;
left:50%;
top:50%;
border:0px;
}
div.mediaPlayerInitialPlayButton
{
position:absolute;
bottom:15px;
right:15px;
width:47px;
height:47px;
/* [ReplaceColor(themeColor:"TileBackgroundOverlay")] */ background-color:rgba( 0,0,0,0.6 );
border:3.5px solid #FFFFFF;
border-radius:28px;
}
div.mediaPlayerInitialPlayButton:hover
{
background-color:#000;
}
div.mediaPlayerInitialPlayButton a span
{
display:block;
border-bottom:11px solid transparent;
border-left:16px solid #FFFFFF;
border-top:11px solid transparent;
margin-top:12px;
margin-left:19px;
}
ul.mediaPlayerAdditionalControls
{
position:absolute;
top:15px;
right:15px;
z-index:1;
list-style-type:none;
list-style-position:outside;
list-style-image:none;
}
ul.mediaPlayerAdditionalControls li a img
{
border:0px;
}
ul.mediaPlayerEncodingMenu
{
position:absolute;
bottom:1px;
right:3em;
z-index:2;
width:8em;
padding:2px;
list-style-type:none;
list-style-position:outside;
list-style-image:none;
opacity:0.85;
background-color:#505050;
color:#FFFFFF;
border-radius:5px;
}
ul.mediaPlayerEncodingMenu li
{
width:8em;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
}
ul.mediaPlayerEncodingMenu li:hover
{
color:#800000;
}
ul.mediaPlayerEncodingMenu li a:link,ul.mediaPlayerEncodingMenu li a:visited
{
color:inherit;
text-decoration:none;
}
.mediaPlayerEncodingMenu-active
{
color:#FFFF00;
}
.mediaPlayerFullScreen.mediaPlayerContainer
{
position:fixed;
width:100%;
height:100%;
z-index:1000;
top:0px;
bottom:0px;
left:0px;
right:0px;
overflow:hidden;
}
.mediaPlayerFullScreen.mediaPlayerContainer video
{
position:absolute;
width:100%;
height:100%;
z-index:1001;
left:0px;
top:0px;
overflow:hidden;
}
.mediaPlayerFullScreen.mediaPlayerContainer ul.mediaPlayerAdditionalControls,.mediaPlayerFullScreen.mediaPlayerContainer .mediaPlayerTitleOverlay,.mediaPlayerFullScreen.mediaPlayerContainer div.mediaPlayerInitialPlayButton,.mediaPlayerFullScreen.mediaPlayerLoadingIndicator
{
z-index:1002;
}
div#ECM_Shared_MediaPlayer_Background
{
position:fixed;
width:100%;
height:100%;
top:0px;
left:0px;
z-index:500;
opacity:0.33;
background-color:#000000;
}
.mediaPlayerOverlay.mediaPlayerContainer
{
position:fixed;
width:70%;
height:70%;
z-index:500;
left:15%;
top:15%;
overflow:hidden;
}
.mediaPlayerOverlay.mediaPlayerContainer video
{
position:absolute;
width:100%;
height:100%;
z-index:501;
overflow:hidden;
}
.mediaPlayerOverlay.mediaPlayerContainer ul.mediaPlayerAdditionalControls,.mediaPlayerOverlay.mediaPlayerContainer .mediaPlayerTitleOverlay,.mediaPlayerOverlay.mediaPlayerContainer .mediaPlayerLoadingIndicator
{
z-index:502;
}
.mediaPlayerDisabledControl,.mediaPlayerControl
{
margin-bottom:5px;
}
.mediaPlayerControl
{
/* [ReplaceColor(themeColor:"CommandLinks")] */ background-color:#666;
height:32px;
}
.mediaPlayerControl:hover
{
/* [ReplaceColor(themeColor:"SelectionBackground")] */ background-color:rgba( 156,206,240,0.5 );
}
.mediaPlayerDisabledControl
{
/* [ReplaceColor(themeColor:"CommandLinksDisabled")] */ background-color:#b1b1b1;
}
.ms-select{
float:left;
margin-right:2em;
}
.ms-select h2,.ms-select li{
cursor:pointer;
}
.ms-select h2:hover,.ms-select li:hover,a.ms-accentText2:hover{
color:#b95f00;
}
.ms-select h2 img{
margin-left:.3em;
}
.ms-select ul{
overflow:hidden;
list-style-type:none;
margin:0;
padding:0;
background-color:#fff;
background-color:rgba(255,255,255,0.7);
box-shadow:-4px 2px 12px rgba(0,0,0,0.21);
-moz-box-shadow:-4px 2px 12px rgba(0,0,0,0.21);
-webkit-box-shadow:-4px 2px 12px rgba(0,0,0,0.21);
}
.ms-select li{
margin:.7em .7em .7em .7em;
}
