.btn-blue{
	width: 100%;
	padding: 9px 16px 8px 14px;
	border: medium none;
	margin: 0px;
	color: #FFF;
	font-size: 17px;
	background: none repeat scroll 0% 0% #0078AE;
}
.boostrap-alert {
    width: 100%;
    background: none repeat scroll 0% 0% transparent;
    margin: 20px 0px 0px;
	padding: 0px;
    font-size: 14px;
    border-top: 0px solid #CACACA;
    border-bottom: 0px solid #CACACA;
}
@media (min-width: 480px){
	.carouselItem img{
		min-height: 180px;
	}
}
@media (min-width: 768px){
	.carouselItem img{
		min-height: 288px;
	}
}
@media (min-width: 991px){
	.carouselItem img{
		min-height: 372px;
	}
}
@media (min-width: 1199px){
	.carouselItem img{
		min-height: 450px;
	}
}

@-moz-document url-prefix() {
.caroufredsel_wrapper{
	max-height: 450px;
}
@media (max-width: 991px){
	.caroufredsel_wrapper{
		max-height: 372px;
	}
}
@media (max-width: 768px){
	.caroufredsel_wrapper{
		max-height: 288px;
	}
}
@media (max-width: 480px){
	.caroufredsel_wrapper{
		max-height: 180px;
	}
}
}

div#header-container{
	\9position:relative !important\9;
}

