/**
 * Will only render for IE8 and below. As of 2014 Genworth no longer supports IE7.
 * IE condition statement is placed in: /apps/genworth-twelve-column/components/pages/base/head.jsp
 * iherrador
 */
.modal-dialog{
    width: 550px;
    margin: 17% auto;
}

.carousel-hero.carousel-hero-bg{
    filter: alpha(opacity=90);
}