.navArrow {position:relative;left:-8px;padding-bottom:1px;display:none;visibility:hidden;}

.storeArrow {position:relative;display:inline;visibility:hidden;padding-bottom:1px;margin-right:4px;}

.navGrayBorders {padding:7px 0 7px 0;margin-bottom:15px;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;}
.navGrayBorders b {margin-left:12px;}

.navigation {width:100%;}
.navigation ul {margin:0 auto;}


 .navigation ul li {
	display: inline;
	list-style-type:none;
 }

 .navigation ul a:link,.navigation ul a:visited {
	float:left;
	font-size:90%;
	line-height:14px;
	font-weight:bold;
	text-decoration:none;
	color:#333;
}

.navigation ul.top a:link,.navigation ul.top a:visited {padding: 0 8px 6px 8px;}
.navigation ul.bottom a:link,.navigation ul.bottom a:visited {padding: 6px 8px 0 8px;}

.navigation ul.top li a:link.active,.navigation ul.top li a:visited.active,.navigation ul.top li a:hover {
	color:#900;
	background:url(../images/arrows/topnav_red.gif)/*tpa=http://www.cablevision.com/images/arrows/topnav_red.gif*/ no-repeat bottom center;
}

.navigation ul.bottom li a:link.active,.navigation ul.bottom li a:visited.active,.navigation ul.bottom li a:hover {
	color:#900;
	background:url(../images/arrows/topnav_red2.gif)/*tpa=http://www.cablevision.com/images/arrows/topnav_red2.gif*/ no-repeat top center;
}

.topNavOn {background: url(../images/arrows/topnav_red.gif)/*tpa=http://www.cablevision.com/images/arrows/topnav_red.gif*/ no-repeat bottom center;}

.topNavOn2 {background: url(../images/arrows/topnav_red2.gif)/*tpa=http://www.cablevision.com/images/arrows/topnav_red2.gif*/ no-repeat top center;}

ul.nav {
	list-style-type:none;
}

ul.nav li {
	margin-top:15px;
}

ul.nav li a {
	font-size:105%;
}


div.navBox ul.pNav {margin-left:16px;}
div.navBox ul.pNav li {margin:0 0 4px 0;list-style-type:none;}
div.navBox ul.pNav li a {font-size:95%;font-weight:700;}

li.arrowOn {list-style-image: url(../images/arrows/red.gif)/*tpa=http://www.cablevision.com/images/arrows/red.gif*/;list-style-image:url(../images/arrows/red_ie.gif)/*tpa=http://www.cablevision.com/images/arrows/red_ie.gif*/ !ie;}
.arrowOn a {color:#900;}

ul.subDir {margin:3px 0 0 8px;}
ul.subDir li img a {font-weight:normal;}

.arrowOff {list-style-image:none;}
.arrowOff a {color:#0175ac;}

ul.subnav {margin-left:10px;list-style-type:none;}
ul.subnavstore {margin-left:5px;list-style-type:none;}

ul.subnav li {margin-top:10px;}

ul.subnavstore li {margin-top:5px;}

ul.subnav li a,
ul.subnavstore li a {font-size:90%;font-weight:normal;}


