.searchBox {margin:0 auto;position:relative}

.searchBox .hdGradient .c,
.searchBox .ftGradient .c,
.navBox .topNavCorner {
font-size:1px; /* ensure minimum height */
height:5px;
}


.searchBox .ftGradient .c,
.navBox .bottomNavCorner {
 height:5px;
}

.searchBox .hdGradient {background:transparent url(../images/corners/ltgradient.gif)/*tpa=http://www.cablevision.com/images/corners/ltgradient.gif*/ no-repeat 0 0;}
.searchBox .hdGradient .c {background:transparent url(../images/corners/rtgradient.gif)/*tpa=http://www.cablevision.com/images/corners/rtgradient.gif*/ no-repeat right 0;}

.searchBox .bdGradient {background:transparent url(../images/corners/lmgradient.gif)/*tpa=http://www.cablevision.com/images/corners/lmgradient.gif*/ repeat-y 0 0;}
.searchBox .bdGradient .c {background:transparent url(../images/corners/rmgradient.gif)/*tpa=http://www.cablevision.com/images/corners/rmgradient.gif*/ repeat-y right 0;}

 .searchBox .bdGradient .c {
	padding:5px 5px 0 5px;
	height:33px;
}



.searchBox .ftGradient {background:transparent url(../images/corners/lbgradient.gif)/*tpa=http://www.cablevision.com/images/corners/lbgradient.gif*/ no-repeat 0 0;}
.searchBox .ftGradient .c {background:transparent url(../images/corners/rbgradient.gif)/*tpa=http://www.cablevision.com/images/corners/rbgradient.gif*/ no-repeat right 0;}



.searchBox p {
	font-size:11px;
	margin:0 0 0 6px;
}

/*left nav box*/

.navBox {margin:0;padding:0;z-index:5;position:relative;left:-18px;top:0;width:141px;margin:0 -19px -3px 0 !ie;}

.navBox .bdWhite {background:transparent url(../images/corners/lmw.gif)/*tpa=http://www.cablevision.com/images/corners/lmw.gif*/ repeat-y 0 0;}

.navBox .bdWhite a {font-size:90%;font-weight:700;}

.navBox p {margin-bottom:5px;}

.navBox .bdWhite .c .subDir a {font-weight:normal;}

/* end left nav box */