body
{
	color: #e8e8e9;
	background: #717275;
	font: 14px/20px Helvetica, sans-serif;
}
a:link, a:visited 
{
	color: #e8e8e9;
	text-decoration: none;
}
a:hover 
{
	color: #fefefe;
	text-decoration: none;
}
a:active 
{
	color: #e8e8e9;
	text-decoration: none;
}

/* HOME Wraps */
#header_wrap 
{
	background: #030303;
}
#head_bar 
{
    	background: #717275;
	height: 60px;
	width: 100%;
}
#head_links
{
	background: #000;
	position: relative;
	font-style: italic;
	white-space: nowrap;
	overflow: hidden;
}
#head_links ul
{
	position: relative;
	float:left;  
/* right:50%; */
	bottom: auto;
}
#head_links ul li
{
	position: relative;
	float:left;
	/* left:10%; */
	display: block;
	margin: 0px 10px;
}
#head_links a 
{
	color: #ccc; display: block;
	font-weight: bold;line-height: 50px;
}
#home_banner
{
	height: 123px;
	background: transparent url(Unknown_83_filename)/*tpa=http://www.wnr.com/Images/Homepage_LogoBanner.png*/ no-repeat center top scroll;
	margin-bottom:20px;
	padding: 32px 0;
}
#home_logo
{
	height: 123px;
	width: 551px;
	display: block;
	background: transparent url(Unknown_83_filename)/*tpa=http://www.wnr.com/Images/Homepage_WesternLogo_2.png*/ no-repeat center center scroll;
	margin: auto;
}
#home .thin_line
{
	height: 4px;
	background:  transparent url(../Images/Homepage_YellowThinBanner.png)/*tpa=http://www.wnr.com/Images/Homepage_YellowThinBanner.png*/ no-repeat center center scroll;
}
#content_wrap 
{
	background: #030303;
	padding-bottom: 20px;
	padding-top: 20px;
}
#page 
{
    border:0px solid red;
    width: 100%; 
    margin:auto;
    padding:0;
}
#home .department_links 
{
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: Helvetica;
	font-size: 20px;
}
#home .department_links ul 
{
	position: relative;
	/* float:left; */
	/* right:50%; */
	list-style: none;
	padding-left: 0;
}
#home .department_links ul li 
{
	position: relative;
	/* float: left; */
	/* left: 50%; */
	/* margin-right: 40px; */
	height: 35px;
	line-height: 35px;
	font-weight: bold;
}
#home .area_button
{
	display:none;
	width: 35px;
	height: 35px;
	float: left;
	margin-right:15px;
}
#home .area_button.refining 
{
	background: transparent url(../Images/Homepage_RefiningBtn.png)/*tpa=http://www.wnr.com/Images/Homepage_RefiningBtn.png*/ no-repeat center center scroll;
}
#home .area_button.wholesale 
{
	background: transparent url(../Images/Homepage_WholesaleBtn.png)/*tpa=http://www.wnr.com/Images/Homepage_WholesaleBtn.png*/ no-repeat center center scroll;
}
#home .area_button.retail 
{
	background: transparent url(../Images/Homepage_RetailBtn.png)/*tpa=http://www.wnr.com/Images/Homepage_RetailBtn.png*/ no-repeat center center scroll;
}
.home_photo_banner 
{
	height: 157px;
	background: transparent url(../Images/WNR_Homepage_Photobanner_3.jpg)/*tpa=http://www.wnr.com/Images/WNR_Homepage_Photobanner_3.jpg*/ no-repeat right center scroll;
	position: relative;
}
.tagline_wrap
{
	position: relative;
	margin: auto;
	width: 1000px;
	height: 157px;
}
.tagline  
{
	display: block;
	font-family: Helvetica;
	font-size: 28px;
	position: absolute;
	right: 150px;
	top: 60px;
}
.custom_list2 > *
{
	height:25px;
	display:block;
	padding-left: 40px;
	margin: 8px 0 8px 20px;
	background: transparent url(../Images/homepage_btn_black.png)/*tpa=http://www.wnr.com/Images/homepage_btn_black.png*/ no-repeat left top scroll;
}
.custom_list2 > *:hover
{
	height:25px;
	background: transparent url(../Images/homepage_btn_yellow.png)/*tpa=http://www.wnr.com/Images/homepage_btn_yellow.png*/ no-repeat left top scroll;
}
#footer_wrap 
{
	background: #717275;
	padding-top:45px;
}
#footer 
{
	font-style: italic;
	text-align: center;
	padding: 10px 0;
}
#footer .foot_links
{
	background: #8a8c8e;
	color:#ffffff;
	padding: 8px 0;
}
#homeSideBar1 
{
	width: 1000px;
	height: 90px;
	background-color: #000000;
}
#home1_content 
{
	font-family: Helvetica;
}
/* Header */
#header 
{
}
#logo 
{
}
/* Content */
#content 
{
}
/* Footer */
#footer 
{
}
