/* ALLERGAN */

a:hover, 
a:active	{ color: #0078cf; }
a:visited	{ color: #0e4268; }


div#subnav #subnavlist li p,
div#subnav #subnavlist li a:link, 
div#subnav #subnavlist li a:visited { font-weight: bold; color: #0e4268; }

div#subnav #subnavlist li li p,
div#subnav #subnavlist li li a:link, 
div#subnav #subnavlist li li a:visited { font-weight: normal; color: #666; }

div#subnav #subnavlist li.on li p { color: #000; }

#content { height:400px;}

.press_release { display: inline; }  
	.date { display: inline; float: left; width: 97px; color: #0e4268;}
	.press_release p { display: inline; float: left; width: 380px; }
	* html .press_release { width: 496px; }
