/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/

#colorbox, #cboxContent, #cboxLoadedContent{-moz-box-sizing:content-box!important; -webkit-box-sizing:content-box!important; box-sizing:content-box!important;}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9990; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; border-radius:5px}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
/*  User Style */
#cboxOverlay{background:#000;}
#colorbox{}
    #cboxTopLeft{width:25px; height:25px; background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/border1.png*/ no-repeat 0 0;}
    #cboxTopCenter{height:25px; background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/border1.png*/ repeat-x 0 -50px;}
    #cboxTopRight{width:25px; height:25px; background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/border1.png*/ no-repeat -25px 0;}
    #cboxBottomLeft{width:25px; height:25px; background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/border1.png*/ no-repeat 0 -25px;}
    #cboxBottomCenter{height:25px; background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/border1.png*/ repeat-x 0 -75px;}
    #cboxBottomRight{width:25px; height:25px; background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/border1.png*/ no-repeat -25px -25px;}
    #cboxMiddleLeft{width:25px; background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/border2.png*/ repeat-y 0 0;}
    #cboxMiddleRight{width:25px; background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/border2.png*/ repeat-y -25px 0;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
		#cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #cboxLoadingOverlay{background:#fff url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/loading.gif*/ no-repeat 5px 5px;}
#cboxClose{border:0;position:absolute; top:10px; right:10px; background:url(../../60139833-1d05-46ab-879b-461ea51c1efd/controls.png-MOD=AJPERES&CACHEID=60139833-1d05-46ab-879b-461ea51c1efd.png)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/60139833-1d05-46ab-879b-461ea51c1efd/controls.png?MOD=AJPERES&CACHEID=60139833-1d05-46ab-879b-461ea51c1efd*/ no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}
        

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000,endColorstr=#FF000000);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/ie6/borderTopLeft.png*/;}
.cboxIE6 #cboxTopCenter{background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/ie6/borderTopCenter.png*/;}
.cboxIE6 #cboxTopRight{background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/ie6/borderTopRight.png*/;}
.cboxIE6 #cboxBottomLeft{background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/ie6/borderBottomLeft.png*/;}
.cboxIE6 #cboxBottomCenter{background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/ie6/borderBottomCenter.png*/;}
.cboxIE6 #cboxBottomRight{background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/ie6/borderBottomRight.png*/;}
.cboxIE6 #cboxMiddleLeft{background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/ie6/borderMiddleLeft.png*/;}
.cboxIE6 #cboxMiddleRight{background:url(Unknown_83_filename)/*tpa=http://www.manpowergroup.com/wps/wcm/connect/manpowergroup-common/img/ie6/borderMiddleRight.png*/;}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

div#colorbox, div#colorbox:focus, div#colorbox a:focus{outline:0!important;}