div#dropDownNav {margin: 30px 0 40px 0;}

div#dropDownNav ul#navMpg {margin: 0;padding: 0;line-height: 100%;display:table; width:100%; max-width:1140px;}

div#dropDownNav #navMpg li a, 
div#dropDownNav #navMpg li > label, 
ul#navMpg li ul li a {

background:none;background:rgba(0,0,0,0);

-webkit-transition: background 40ms linear;
-moz-transition: background 40ms linear;
-ms-transition: background 40ms linear;
-o-transition: background 40ms linear;
transition: background 40ms linear;

}

/* 
div#dropDownNav #navMpg li {margin: 0 35px 0 0; padding: 0 0 8px; float: left;	 position: relative; list-style: none;}
*/
div#dropDownNav ul#navMpg li {margin:0; float:none; text-align:left; list-style:none; position:relative;}
div#dropDownNav ul#navMpg > li {display:table-cell!important; margin:0!important; text-align:center; padding:0 4px; list-style:none; position:relative!important;}      

div#dropDownNav ul#navMpg {line-height:1.3!important;}

div#dropDownNav #navMpg a, div#dropDownNav #navMpg label 
{
font-weight: 600;
color: #6390C6;
font-size:13px;
text-decoration: none;
display: block;
padding: 6px 10px;
margin: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius:4px;
text-shadow: 0 1px 0px rgba(255, 255, 255, .3); 
}

/* main level link hover */
div#dropDownNav #navMpg .current a, div#dropDownNav #navMpg li:hover > a, div#dropDownNav #navMpg li:hover > label, div#dropDownNav #navMpg li a.current, div#dropDownNav #navMpg li.active > label  
{background: #466ea5; 
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
color:#fff;
box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
/*
-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
-moz-text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
*/
}

div#dropDownNav > ul#navMpg > li.active > a
{
font-weight: 600;
font-size:13px;
text-decoration: none;
display: block;
padding: 6px 10px;
margin: 0 1px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius:4px;
background: #466ea5; 
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
color:#fff;
box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
-moz-text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
text-shadow: 0 1px 0 rgba(0, 0, 0, .3);

}

/* sub levels link hover */
div#dropDownNav #navMpg ul li:first-child {border-top:none;}
div#dropDownNav #navMpg ul li {border-top:1px solid #fafafa;}
div#dropDownNav #navMpg ul li:hover a, div#dropDownNav #navMpg li:hover li a {
background: none;background:rgba(0,0,0,0);
border: none;
color: #444;
font-size:12px!important;
font-weight:bold!important;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow:none;

}
div#dropDownNav #navMpg ul a:hover {
background: #466ea5 !important; 
color: #fff !important;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius:0;
text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
/* level 2 list */
div#dropDownNav #navMpg ul 
{
background: #ddd;
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee'); 
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eeeeee)); 
background: -moz-linear-gradient(top,  #fff,  #eeeeee);
display: none;
margin: 0;
padding: 0;
width: 192px;
position: absolute;
z-index:300;
overflow:visible!important;
-webkit-border-radius: 0 4px 4px 4px;
-moz-border-radius: 0 4px 4px 4px;
border-radius: 0 4px 4px 4px;
-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .5);
-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .5);
box-shadow: 0 2px 6px rgba(0, 0, 0, .5);
opacity:0.98; 

}

/* dropdown */

div#dropDownNav #navMpg li:hover > ul 
{display: block;}

div#dropDownNav #navMpg ul li {float: none; margin: 0; padding: 0;}
div#dropDownNav #navMpg ul a {font-weight: normal; text-shadow: 0 1px 1px rgba(255, 255, 255, .5); padding:10px;}

/* level 3+ list */
div#dropDownNav #navMpg ul ul {
margin-left: 181px;
margin-top: -3px;
}

/* rounded corners for first and last child */
div#dropDownNav #navMpg ul li:first-child > a {
-webkit-border-top-left-radius: 0px;
-moz-border-radius-topleft: 0px;
border-radius-topleft: 0px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-radius-topright: 4px;
border-radius:0 4px 0 0;
}
div#dropDownNav #navMpg ul li:last-child > a {
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomleft: 3px;
border-radius-bottomleft: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-bottomright: 3px;
border-radius-bottomright: 3px;
border-radius: 0 0 3px 3px;
}
/* clearfix */
div#dropDownNav #navMpg:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

div#dropDownNav #navMpg {
display: inline-block;
}

html[xmlns] div#dropDownNav #navMpg {
display: block;
}
* html div#dropDownNav #navMpg {
	height: 1%;
}