@charset "utf-8";
/*
SanDisk.com
Title: Global CSS
Date: April 2012
Website:  http://www.sandisk.com/
*/

/* Usage    

All common styles, that are used across the site will go here

*/
/*----------------- DEFAULT -----------------*/

/*.png          { _behavior: url(/css/iepngfix.htc); }
.FLeft      { float: left; }
.FRight     { float: right; }*/
.cleaner      { clear: both; _font-size: 1%;}
/*.clear5      { clear: both; height: 5px; _font-size: 1%; }*/
.clear10      { clear: both; height: 5px; _font-size: 1%; }
/*.tabClear      { clear: both; height: 5px; _font-size: 1%; }*/
.clearall    { clear: both; }
.clearFix    { clear: both; }
.clearance {
    clear: both;
}

/*----------------- GLOBALS -----------------*/
html{padding: 0; margin: 0; background: #cccccc url(images/bodycolor.jpg)/*tpa=http://www.sandisk.com/css/images/bodycolor.jpg*/ repeat-y center top;
  width: 100%;}

body  { margin: 0; padding: 0; font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #454444; background:#666666;  }

h1    { margin: 0 0 12px 0; padding: 0; color: #000; font-size: 24px;  }
h2    { margin: 0 0 7px 0; padding: 0;  font-style:  bold; font-size:22px; color:#575757; position:relative;}
/**+html h2{margin-left:-8px}*/
/*h2.red{ color: #de0000; margin-bottom: 0; }*/
h3    { padding: 0; color: #5a5657; font-size: 18px; font-weight: bold; }
h4    { margin: 0; padding: 0; color: #5a5657; font-weight: bold; font-size: 14px; }
h5    { margin: 0; padding: 0; color: #777777; font-weight: bold; font-size: 12px; }
h6    { margin: 0; padding: 0; color: #777777; font-weight: bold; font-size: 10px;text-transform:uppercase; }
p      {margin:0px 0px 7px 0px;line-height:13pt;  }
/*ul.bullet li{font-size:12px !important;}*/
/*----------------- FONTS -----------------*/
@font-face {
 font-family: "Open Sans Light";
 src: url("../fonts/OpenSans-Light.eot")/*tpa=http://www.sandisk.com/fonts/OpenSans-Light.eot*/ /* EOT file for IE */
}
@font-face {
 font-family: "Open Sans Light";
 src: url("../fonts/OpenSans-Light.ttf")/*tpa=http://www.sandisk.com/fonts/OpenSans-Light.ttf*/ /* TTF file for CSS3 browsers */
}

/* EOT file for IE */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:url(Unknown_83_filename)/*tpa=http://www.sandisk.com/fonts/OpenSans-Regular.eot*/;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(Unknown_83_filename)/*tpa=http://www.sandisk.com/fonts/OpenSans-Regular.ttf*/;
}
/* EOT file for IE */
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src:url(Unknown_83_filename)/*tpa=http://www.sandisk.com/fonts/OpenSans-Semibold.eot*/ ;
}

@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(Unknown_83_filename)/*tpa=http://www.sandisk.com/fonts/OpenSans-Semibold.ttf*/ ;
}

/* EOT file for IE */
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src:url(Unknown_83_filename)/*tpa=http://www.sandisk.com/fonts/OpenSans-Bold.eot*/;
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(Unknown_83_filename)/*tpa=http://www.sandisk.com/fonts/OpenSans-Bold.ttf*/;
}
@font-face {
  font-family: 'Open Sans Extrabold';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(Unknown_83_filename)/*tpa=http://www.sandisk.com/fonts/OpenSans-ExtraBold.ttf*/;
}


.Open-Sans-normal-400 {
  font-family: 'Open Sans' !important;
  font-style:  normal;
  font-weight: 400;
  font-size:20px !important;
}

.Open-Sans-normal-600 {
  font-family: 'Open Sans Semibold' !important;
  font-style:  normal;
  font-weight: 600;
  font-size:20px !important;
}

.Open-Sans-normal-700 {
  font-family: 'Open Sans Bold' !important;
  font-style:  normal;
  font-weight: 700;
  font-size:20px !important;
}

.Open-Sans-normal-800 {
  font-family: 'Open Sans Extrabold' !important;
  font-style:  normal;
  font-weight: 800;
  font-size:20px !important;
}

/***********************Lato Fonts**************************/
@font-face {
 font-family: "Lato Light";
 src: url("../fonts/Lato/Lato-Light.eot")/*tpa=http://www.sandisk.com/fonts/Lato/Lato-Light.eot*/ /* EOT file for IE */
}
@font-face {
 font-family: "Lato Light";
 src: url("../fonts/Lato/Lato-Light.ttf")/*tpa=http://www.sandisk.com/fonts/Lato/Lato-Light.ttf*/ /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: "Lato Regular";
 src: url("../fonts/Lato/Lato-Regular.eot")/*tpa=http://www.sandisk.com/fonts/Lato/Lato-Regular.eot*/ /* EOT file for IE */
}
@font-face {
 font-family: "Lato Regular";
 src: url("../fonts/Lato/Lato-Regular.ttf")/*tpa=http://www.sandisk.com/fonts/Lato/Lato-Regular.ttf*/ /* TTF file for CSS3 browsers */
}

/*#one,#two{
font-family: arial;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;    
}
#one{    background: #000; color:#FFF;    }
#two{    text-shadow:  0 0 5px #000;color: black;line-height: 70px;    }

#change{
    font-family: GothamLightRegular;
    font-size: 30px;
}
*/
#container  {
  width: 990px;
  margin:0 auto;  
  padding:0;
  position:relavite;
}

/*----------------- HEADER -----------------*/
#headerWrap      { width: 990px;  height: 100px; position: relative; z-index:2000;}
.headerWrap-bg {background: url(images/header-trans-bg.png)/*tpa=http://www.sandisk.com/css/images/header-trans-bg.png*/ no-repeat top left}
#headerWrap .logo  { position: relative; top: 32px; left: 0px; float: left; margin-left:15px}
#headerWrap .toolbar      { position: relative; top: 7px; color: #fff; text-align:right; font-size: 11px; margin-right:11px; padding: 2px 0; }
#headerWrap .toolbar a      { text-decoration: none; color: #fff; padding: 0 4px }
#headerWrap .toolbar a:hover  { text-decoration: underline; }
#headerWrap .searchWrap    { float: right; height: 19px; background: url(images/bg-sitesearch.png)/*tpa=http://www.sandisk.com/css/images/bg-sitesearch.png*/ no-repeat right 3px; *background: url(images/bg-sitesearch.png)/*tpa=http://www.sandisk.com/css/images/bg-sitesearch.png*/ no-repeat 110px 3px; margin-top: 13px; margin-right: 15px; }
#headerWrap .searchWrap input  { background-color: transparent; border: 1px solid #fff; padding-top: 3px; width: 125px; height: 16px; padding-left: 5px; color: #fff; font-size: 10px;}
#regionalLanguage{width:416px; float: left; padding:12px 12px 12px 15px; margin-top: -10px; display: none; background:url(images/SanDisk_Homepage_CountrySelector.png)/*tpa=http://www.sandisk.com/css/images/SanDisk_Homepage_CountrySelector.png*/ no-repeat top left ;}

#five-coloum-header-block{height:auto; position:inherit;}
#five-coloum-header-block div.left-top-header{float: left; height: 423px; height:411px\9 !important; *height:423px !important; width: 990px; cursor:pointer;}
/*
#five-coloum-header-block div.left-top-header{float: left;height: auto;margin-top: 25px;margin-left:10px; min-height: 160px;width: 930px;}
#five-coloum-header-block div.left-top-header{height:auto; min-height:160px; width:470px;float:left}
#five-coloum-header-block div.left-top-header{float: left;height: auto;margin-top: 25px;margin-left:10px; height: 428px;width: 930px;}*/
#five-coloum-header-block div.right-top-header{height:auto; min-height:160px; width:470px;float:right;}
#five-coloum-header-block div.left-bottom-header{height:auto; min-height:160px; width:700px;float:left; margin-top:132px;padding-left:10px;}
#five-coloum-header-block div.right-bottom-header{height:auto; min-height:160px; width:470px;float:right; margin-top:150px;  }
#five-coloum-header-block div.cen-col-header{height:auto; min-height:160px; width:450px; margin:0 auto;}
/*.left-top-header h1,
.left-bottom-header h1,
.right-top-header h1,
.right-bottom-header h1,
.cen-col-header h1{ font-size:60px; font-family:'Open Sans Light'; color:#fff; font-weight: normal;}*/
.left-top-header h1,
.left-bottom-header h1,
.right-top-header h1,
.right-bottom-header h1,
.cen-col-header h1{ font-size:43px; font-family:'Open Sans Light'; color:#000; font-weight: normal;}
.left-top-header h1 p,
.left-bottom-header h1 p,
.right-top-header h1 p,
.right-bottom-header h1 p,
.cen-col-header h1 p{line-height:32pt !important}

#bannerheader-cont{line-height: 17pt !important;}

/*.homapage-caption{margin-top: 52px; margin-left: 170px; padding: 0px;}*/
.homapage-caption{ margin-left: 0;margin-top: 15px;padding: 0;}
*+html .homapage-caption{margin-top: 15px; margin-left: 0px; padding: 0px;}
.innerpage-header-title{font-size:24px; font-smooth: always; font-family: 'Open Sans Light'; color:#fff; font-weight: normal;/*margin-left:105px;*/}

/*.innerpage-header-title-oem{font-size:24px;  font-smooth: always; font-family: 'Open Sans Light'; color:#ED1F27  !important; font-weight: normal; margin-left: -3px !important;}*/

/**************************************************************************
New Home Page Caption Styles Starts
***************************************************************************/
.floatingtxt {margin:20px 20px 0px;}
.floatingtxt h1{ font-size:33px; font-family:'Open Sans Light'; color:#fff; font-weight: normal; line-height:29pt}
.floatingtxt h3{ font-size:21px; font-family:'Open Sans Light'; color:#fff; font-weight: normal;}
.floatingtxt-learnmore {margin:30px 20px 20px;}
.floatingtxt-learnmore a {font-size:22px; color:#DE0000; font-family:'Open Sans Light'; font-weight: bold}
.floatingtxt-learnmore a:hover{text-decoration:none}
/**************************************************************************
New Home Page Caption Styles End
***************************************************************************/

/*----------------- MAIN MENU -----------------*/
#menuWrap  { width: 650px; clear: both; margin-left:175px; margin-bottom: 6px; }
#menu { width: 650px; float: left; padding: 0; margin:0; position:relative }
  
#menu, #menu ul   { padding:3px 0 0 0; margin:-5px 0 0 0; list-style: none; font-family:'Open Sans Light';  }
#menu ul li       { float: left;  position: relative; }
#menu ul li a       { display: block; text-decoration: none; padding: 5px 15px; font-family:'Open Sans Light'; font-weight: bold; font-size: 13px; color: #FFF;  }
#menu ul li a:hover, #menu ul li div.subMenu  { background:#3f3f41; z-index:1000; }
#menu ul li:hover > a, #menu ul li div.subMenu  { background:#3f3f41; }
#menu ul li a:hover   { background:rgb(63,63,65)\9; }
color:
#menu ul li ul { padding-top: 11px; position: absolute; padding-bottom: 10px;}

#menu ul li:hover div.subMenu{ display: block;}

#menu ul li:hover div.lastMenu{ display: block;}
/*#menu .homeLink {
background:transparent url(/css/images/bg-menu-home.gif) no-repeat scroll center center;
display:block;
height:31px;
padding:4px 5px 0;
width:31px;
}*/

/***** Submenu styles *****/
#menu ul li div.subMenu {
  width: 570px;
  display: none;
  padding:0px 0px 0px 20px;
  background:url(images/submenu-bg.jpg)/*tpa=http://www.sandisk.com/css/images/submenu-bg.jpg*/ repeat-x left top;
  -khtml-opacity: .95 !important;
  -moz-opacity: .95 !important;
  opacity: .95 !important;
  filter: alpha(opacity=95);  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
  position:absolute;
  margin-top:0px;
  z-index:4000;
}
#menu ul li div.subMenu div.col1,
#menu ul li div.subMenu div.col2{float: left; width: 162px; padding-right: 30px;}
#menu ul li div.subMenu div.col3 {float: left; width: 170px; padding-right: 0px;}
#menu ul li div.subMenu ul{ display: block; background: none; position: relative;padding:0;}
#menu ul li div.subMenu ul li { background: url(images/icon_right_arrow_black.png)/*tpa=http://www.sandisk.com/css/images/icon_right_arrow_black.png*/ no-repeat scroll 1px 7px transparent;   float: none; }
#menu ul li div.subMenu ul li:hover { background: url(images/icon_right_arrow_red.png)/*tpa=http://www.sandisk.com/css/images/icon_right_arrow_red.png*/ no-repeat scroll 1px 7px transparent;   }
#menu ul li div.subMenu ul li a{background:none; color: #fff; font-weight:normal; font-size: 12px; line-height: 14px;  display: block; padding: 3px 10px; width: 155px;}
#menu ul li div.subMenu ul li a:hover{}
.category a  {
  color: #fff;
  font-family:'Open Sans Light';
  font-weight:bold !important;
  font-size: 13px;
  border-bottom: #999 2px solid;
  padding: 0;
  margin: 10px 0 3px 0;  
  line-height: 18px;
  float: none;
  width:100%;
  background: none !important;
}

div.subMenu div.col3 .promoBlock {padding: 15px 0px; display: block; width: 149px; height: 130px; }
div.subMenu div.col3 .promoBlock a{ background:none}
div.subMenu div.col3 .promoBlock a:hover { background:none !important}
div.subMenu div.col3 .promoBlock .promoImg:hover {background:blue}
div.subMenu div.col3 .promoBlock .promoImg {border: #c21b35 4px solid; margin-left:-15px; }
div.subMenu div.col3 .promoBlock .promoCaption { background: url(images/icon_right_arrow_black.png)/*tpa=http://www.sandisk.com/css/images/icon_right_arrow_black.png*/ no-repeat scroll 1px 3px transparent; padding-left: 10px; margin: 3px 0; color:#fff; font-size:11px; line-height: 13pt !important;}
.subMenuBottom {width: 590px;height: 15px; float: left; background: transparent url(images/menu-bottom.jpg)/*tpa=http://www.sandisk.com/css/images/menu-bottom.jpg*/ repeat-x left bottom; margin-left:-20px}

#menu ul li div.lastMenu {
  width: 160px;
  display: none;
  padding:0px 20px;
   background:url(images/submenu-bg.jpg)/*tpa=http://www.sandisk.com/css/images/submenu-bg.jpg*/ repeat-x left top;
  -khtml-opacity: .95 !important;
  -moz-opacity: .95 !important;
  opacity: .95 !important;
  position:absolute;
  margin-top:0px;
  z-index:1000
}
/*#menu ul li div.lastMenu div.col4{float: left; width: 160px; padding-right: 40px; margin-top:20px}*/
#menu ul li div.lastMenu ul li { background: url(images/icon_right_arrow_black.png)/*tpa=http://www.sandisk.com/css/images/icon_right_arrow_black.png*/ no-repeat scroll 1px 7px transparent;   float: none; }
#menu ul li div.lastMenu ul li:hover { background: url(images/icon_right_arrow_red.png)/*tpa=http://www.sandisk.com/css/images/icon_right_arrow_red.png*/ no-repeat scroll 1px 7px transparent;   }
#menu ul li div.lastMenu ul li a{background:none; color: #fff; font-weight:normal; font-size: 12px; line-height: 14px;  display: block; padding: 3px 10px; width: 130px;}
#menu ul li div.lastMenu ul li.category {color: #fff; font-size: 12px; border-bottom: #999 2px solid; padding: 0; margin: 10px 0 3px 0; font-weight:bold; line-height: 18px; float: none;width:100%; background: none !important;}
.lastMenuBottom {width: 200px;height: 15px; float: left; background: transparent url(images/menu-bottom.jpg)/*tpa=http://www.sandisk.com/css/images/menu-bottom.jpg*/ repeat-x left bottom; margin-left:-20px}
.lastMenuTop{margin-top:8px}
/***** Submenu styles end*****/



/*----------------- Breadcrumbs -----------------*/
.breadcrumbs{ color:#fff; margin-left: 10px;}
.breadcrumbs a{ color:#fff; text-decoration:none}
.breadcrumbs a:hover{ color:#fff; text-decoration:underline}

/*----------------- Search -----------------*/

/*background: url(/css/images/bg-sitesearch.gif) no-repeat;*/

/*----------------- FOOTER -----------------*/
#footerWrap          { bottom:40px; margin-left:45px; position:absolute; width: 945px; color: #c9c9c9; }
#footerWrap a    {color: #c9c9c9;  }
/*#footerWrap a a:hover { color: #c9c9c9; text-decoration: underline; }*/
#footerWrap div.copyright{width: 745px; float: left;}
/*#footerWrap div.social-links{width: 170px; float: right; text-align:right; margin-right:30px;}
#footerWrap div.social-links a{padding:0px 2px}*/

.four-col-teaser{
  background:url(images/four-col-bg.jpg)/*tpa=http://www.sandisk.com/css/images/four-col-bg.jpg*/ left top scroll no-repeat;
  height:260px;
  position:relative;
  padding-top:10px;
  font-size:11px;
  font-family: Arial, Helvetica, sans-serif;
}

.four-col-teaser ul {
  float:none;
  color:#c9c9c9;
  list-style: none;
    margin: 0;
    padding:0 10px;
}

.four-col-teaser ul li {
  float: left;  
  padding: 5px;  
}

.four-col-teaser ul li div.col1,
.four-col-teaser ul li div.col2,
.four-col-teaser ul li div.col3,
.four-col-teaser ul li div.col4 {
  float: left;
  width: 180px;
  padding:0 20px;
}

.four-col-teaser h3{
  font-size:16px;
  font-weight:bold;
  color:#fff;
  margin-bottom:10px;
}
.four-col-teaser ul li ul li{
  width: 160px;
  border-bottom:1px dotted #666666;
}
.four-col-teaser ul li ul li a{
  color:#c9c9c9;
  text-decoration:none;
  background:url(images/footer-arrow.png)/*tpa=http://www.sandisk.com/css/images/footer-arrow.png*/ left no-repeat;
  padding-left:10px;
  
}

.four-col-teaser ul li a:hover{
  color:#fff;

}

div.social-media {
  padding:9px 0px;

}
 div.social-media a{
  background:none !important;
  padding-left:0px !important;

}





/****************************TABS******************************/
.familytabs{ border-bottom:1px solid #d6d6d6; height:26px; padding-left:0px; }
.family-tabs { position: relative; padding: .2em;  } /*  position: relative prevents IE scroll bug (element with position:  relative inside container with overflow: auto appear as "fixed") */
.family-tabs .family-tabs-nav { margin: 0; padding-bottom:1px ; }
.family-tabs .family-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; background:#999999 ; }
.family-tabs .family-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; font-weight:bold; color:#fff}
.family-tabs .family-tabs-nav li.family-tabs-selected { margin-bottom: 0;  background:red; }
.family-tabs .family-tabs-nav li.family-tabs-selected a, .family-tabs .family-tabs-nav li.ui-state-disabled a, .family-tabs .family-tabs-nav li.ui-state-processing a { cursor: text; color:#fff; }
.family-tabs .family-tabs-nav li a, .family-tabs.family-tabs-collapsible .family-tabs-nav li.family-tabs-selected a { cursor: pointer;  }
.family-tabs .family-tabs-panel { display: block; border-width: 0;  background: none; }
.family-tabs .family-tabs-hide { display: none !important; }
.filterpane{float:left; width: 720px;}
.microSD-landing-page.filterpane{width: 980px;}
.pctpane{float:right; width:238px;}
.business-content{width:700px}

/**********************business-content***END TABS******************************/


/********Social Media**************/


/*.social-media ul{}
.social-media li{ list-style:none; display:inline; width:100%}*/

/*-----------------------------------------------------
Mobile Footer
-------------------------------------------------------*/
.mob-mobile-view {
    float: right;
    position: relative;
    right: 150px;
    top: 24px;
}

.mob-mobile-view a {
  color:#C9C9C9;
  text-decoration:none;
  font-size:11px;font-weight:bold;
}
/*-------------------------------------------------------*/












/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
