.header {
  display: none; }

#sectionNav {
  display: none; }

#footer-bar .footer-links, .shop-links {
  display: none; }

#footer-bar .footnote {
  margin-top: 20px; }

#printLogo {
  width: 174px;
  display: block;
  margin: 25px auto 0; }

#page-content td {
  border: 1px solid #ebebeb; }

#page-content {
  width: 940px; }

#page-content .fixed-block {
  position: relative;
  float: left;
  top: 0; }

#page-content .callout-bar {
  width: 940px; }

#page-content .callout-bar .title {
  width: 235px; }

#page-content .callout-bar .title .holder {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px; }

#page-content .callout-bar .title p {
  font-size: 26px;
  line-height: 28px;
  color: #e01a2b; }

#page-content .callout-bar .callout {
  float: left;
  width: 705px;
  font-size: 14px;
  color: #e01a2b; }

#page-content .callout-bar .callout .holder {
  margin: 15px 0; }

#page-content .callout-bar .callout p, #page-content .callout-bar .callout a {
  font-size: 14px;
  color: #e01a2b;
  text-decoration: none; }

#page-content .body .copy {
  width: 893px; }

#page-content .body .promo {
  display: none; }

#page-content .bodyContainer {
  margin: 0;
  float: left;
  width: 940px; }

#page-content .bodyContainerFull .content {
  margin: 0;
  width: 940px; }

.title-bar {
  top: 0;
  margin: 0; }
