#webcastFloat {
  position: absolute;
  width: 236px;
  top: 156px;
  left: 0; }
  @media (max-width: 480px) {
    #webcastFloat {
      width: 100%;
      position: relative;
      top: 0;
      clear: both;
      display: none; } }
  @media (min-width: 481px) and (max-width: 767px) {
    #webcastFloat {
      top: 373px;
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 979px) {
    #webcastFloat {
      top: 198px;
      width: 724px; } }

#pageHeader_pnlWebcast {
  position: relative;
  top: 0; }

.webcast {
  min-height: 42px;
  background-color: #ededed;
  border: 1px solid gray;
  padding: 10px; }
  @media (max-width: 480px) {
    .webcast {
      background-color: #ededed; } }
  @media (min-width: 481px) and (max-width: 767px) {
    .webcast {
      background-color: #ededed; } }
  .webcast a:hover {
    text-decoration: none; }
  .webcast hr {
    margin: 8px 0;
    border-top: gray 1px solid;
    border-bottom: 1px solid transparent; }
  .webcast .title {
    display: block;
    margin: 5px 0px;
    font-size: 16px;
    color: black;
    line-height: 16px; }
    @media (max-width: 979px) {
      .webcast .title {
        display: inline;
        font-size: 14px; } }
    .webcast .title p {
      font-size: 16px;
      color: black;
      line-height: 18px;
      margin: 0;
      padding: 0;
      display: block; }
      @media (max-width: 979px) {
        .webcast .title p {
          display: inline;
          font-size: 14px; }
          .webcast .title p:after {
            content: " "; } }
  .webcast .info {
    display: block;
    margin: 5px 0;
    font-size: 13px;
    color: #e11a2b;
    line-height: 20px;
    font-weight: bold;
    padding: 0; }
    .webcast .info p {
      font-size: 13px;
      line-height: 20px;
      margin: 0;
      padding: 0; }
      @media (max-width: 979px) {
        .webcast .info p {
          display: inline;
          line-height: 13px;
          font-size: 12px; } }
      .webcast .info p.inline {
        padding: 0;
        margin: 0;
        display: none; }
        @media (max-width: 979px) {
          .webcast .info p.inline {
            display: inline; } }
    @media (max-width: 979px) {
      .webcast .info {
        margin: 0;
        font-size: 11px; } }

