.megamenu{
position: absolute;
left: 0;
top: 0;
background: #FAFAFA;
border: 1px solid #cc0000;
font-family:Arial, Helvetica, sans-serif;
font-size:10px; 
line-height:14px;
color:#333333;
z-index: 100;
overflow: hidden;
float: right;
max-width: 1800px;
display:none;
/* background-image: url(/assets/en_US/ccms_img/insight-home-top-drop-back-2011.png); */
background-repeat: repeat-x;
background-color: #f7f7f7;
padding: 10px;
overflow:visible;
}

.megamenu    a                   { 
  font-family:Arial, Helvetica, sans-serif;
  font-size:10px; 
  line-height:14px;
  color:#333333;
  text-decoration:none;
  border:0px;
 }
 
.megamenu    a:visited           { 
  font-family:Arial, Helvetica, sans-serif;
  font-size:10px; 
  line-height:14px;
  color:#333333; 
  font-weight:normal;
}
.megamenu    a:hover             { 
  font-family:Arial, Helvetica, sans-serif;
  font-size:10px; 
  line-height:14px;
  text-decoration:underline;
  color:#CC0000;
 }
.megamenu    a:active            { 
  font-family:Arial, Helvetica, sans-serif;
  font-size:10px; 
  line-height:14px;
  color:#333333;
  font-weight:normal;
 }
 
.headerContent .megaanchor a:visited    {
    font-weight:normal;
} 
 
 
 .megamenuServices a{
   font-size: 12px !important;
 }
 .megamenuServices .column{
   padding-left:20px !important;
   width: 200px !important;
 }
 .column a img{
    border:0;
 }
 .megamenu .alternate a {
   color: #555555;
 }
 
 .megamenu .alternate a:visited {
   color:#555555;
 }
 
 .megamenu .alternate a:hover {
   color:#CC0000;
 }
 
 .megamenu .alternate a:active {
   color:#555555;
 }
.megamenu .column{
float: left;
width: 215px; /* auto / width of each menu column*/
padding-top: 0px;
padding-bottom: 0px;
padding-right: 0px;
border: 0px;
min-height: 190px;
}

.megamenu .brand-column {
display: block;
float:left;
border: 0px;
height:50px;
margin:10px;
}

.megamenu .brand-column img
{
    border: 0 none  
}

.megamenu .wideColumn{
float: left;
width: 250px; /*width of each menu column*/
padding-left: 10px;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 0px;
}

.megamenu .narrowColumn{
width: 150px !important; /*width of each menu column*/
}

.megamenu .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.megamenu .column ul li{
padding-bottom: 2px;
margin:0;
}

.megamenu h1, .megamenu h2, .megamenu h3, .megamenu h4, .megamenu h5, .megamenu h6 {
    text-align: left;
}

.megamenu .column h3{
font: bold 13px Arial;
margin: 0 0 5px 0;
}

.megamenu .wideColumn ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.megamenu .wideColumn ul li{
padding-bottom: 2px;
}

.megamenu .wideColumn h3{
font: bold 13px Arial;
margin: 0 0 5px 0;
}

.menuHeader {
font-weight:bold;
color:#333333;
padding-bottom:5px; 
border-bottom:1px solid #e5e5e5;
margin-bottom:5px;
width: 120px; /*width of each menu column*/
}

.menuHeader a{
  font-size:12px !important;
  font-weight:bold;
}

.megaanchor a{
font-family: Arial, Helvetica, sans-serif;
font-Size: 16px; 
color:#333333;
text-decoration: none;
height:50px;
padding-bottom: 0px;
line-height:25px;
}

.megaanchor a:link{
font-family: Arial, Helvetica, sans-serif;
font-Size: 16px; 
color:#333333;
}

.megaanchor a:visited{
font-family: Arial, Helvetica, sans-serif;
font-Size: 16px; 
color:#333333;
}

.megaanchor a:hover{
font-family: Arial, Helvetica, sans-serif;
font-Size: 16px; 
color:#333333;
text-decoration: none;
white-space: nowrap;
border-bottom: 2px solid #cc0000;
}

.megaanchor a:active{
font-family: Arial, Helvetica, sans-serif;
font-Size: 16px; 
color:#333333;
}

.megamenu .tabsContent .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 ; }

.megamenu .ui-tabs { width: 940px; padding: 0; zoom: 0; }
.megamenu .ui-tabs .ui-tabs-nav { margin: 0; padding: 0; }
.megamenu .ui-tabs .ui-tabs-nav li { list-style: none; float: left; top: 1px; border-bottom: 0px !important; padding: 0; white-space: nowrap; }
.megamenu .ui-tabs .ui-tabs-nav li a { float: left; padding: 12px 0em; border-bottom: 0px !important; text-decoration: none; }
.megamenu .ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 0px; }
.megamenu .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .megamenu .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .megamenu .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.megamenu .ui-tabs .ui-tabs-nav li a, .megamenu .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.megamenu .ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 0; background: none; }
.megamenu .ui-tabs .ui-tabs-hide { display: none;}


.megamenu .ui-state-default, .megamenu .ui-widget-content .ui-state-default, .megamenu .ui-widget-header .ui-state-default {
font-family:Arial, Helvetica, sans-serif;
font-size:14px; 
font-weight: normal;
font-color: #000000;
text-align:center;
background-color:#cc0000;
background-image: url(../assets/en_US/ccms_img/insight-home-product-drop-btn-2011a.gif)/*tpa=http://www.insight.com/assets/en_US/ccms_img/insight-home-product-drop-btn-2011a.gif*/;
border-left:1px solid #cc0000;
border-right:1px solid #cc0000;
}

.megamenu .ui-state-default a, .megamenu .ui-state-default a:link, .megamenu .ui-state-default a:visited {
font-family:Arial, Helvetica, sans-serif;
font-size:14px; 
font-weight: normal;
color:#fff;
font-color: #000000;
background-image: url(../assets/en_US/ccms_img/insight-home-product-drop-btn-2011a.gif)/*tpa=http://www.insight.com/assets/en_US/ccms_img/insight-home-product-drop-btn-2011a.gif*/;
border-left:1px solid #cc0000;
border-right:1px solid #cc0000;
border-bottom: 0px;
}

.megamenu .ui-state-hover a, .megamenu .ui-state-hover a:hover {
font-family:Arial, Helvetica, sans-serif;
font-size:14px; 
font-weight: normal;
color:#fff;
font-color: #000000;
background-color:#cc0000;
background-image: url(../assets/en_US/ccms_img/insight-home-product-drop-btn-2011b.gif)/*tpa=http://www.insight.com/assets/en_US/ccms_img/insight-home-product-drop-btn-2011b.gif*/;
}

.megamenu .ui-state-active, .megamenu .ui-widget-content .ui-state-active, .megamenu .ui-widget-header .ui-state-active {
background: #FFFFFF  repeat-x;
font-weight: normal;
font-size:14px; 
font-color: #000000;
text-align:center;
border-left:1px solid #cc0000;
border-right:1px solid #cc0000;
}

.megamenu .ui-state-active a, .megamenu .ui-state-active a:link, .megamenu .ui-state-active a:visited {
color: #000000;
background: #FFFFFF  repeat-x;
font-size:14px; 
font-weight: normal;
text-align:center;
border-left:1px solid #cc0000;
border-right:1px solid #cc0000;
}
.megamenu {padding:0;}
.megamenu .ui-tabs-panel {margin:3px}
.megamenu .ui-state-default {margin:0 !important;border-top:solid 1px #CC0000}
.megamenu .ui-tabs-selected {border:0;border-top:solid 1px #CC0000}
.megamenu .ui-widget-content { border: none; background:none;}
.megamenu .ui-corner-top { -moz-border-radius: 0;}
.megamenu .ui-widget-header { background: none; border:0;width:940px}

.megamenu #shopBrandTemplateDiv
{
    background: none;
}
.megamenu .topTechBuysInfo {
    font-size: 10px;
}

.grayMenu {
    border: 1px solid #666666;
}
.megamenu #products-tabs, .megamenu #products-tabs .fragments {height:450px;}


/* flyout css */

ul div.primary {
    width: auto;
     display: none;
     position: absolute;
     top: 100%;
     left: 0;
     border: 1px solid #cc0000;
    /* background-image: url("/assets/en_US/ccms_img/insight-home-top-drop-back-2011.png"); */
     
 }  

.productsList div.primary{
     left: 100%;
     top: -1px;
     width: auto;
     height: auto;
     min-width:400px;
     position: absolute;
     padding:10px;
     color: black;
     background-color: #fff;
 }
 
.auMenu .column {
     margin: 0px;
     padding-left: 0px;
     height: auto;
 } 

.megamenu .productsList  a , .megamenu .productsList a:visited, .megamenu .productsList a:hover, .productsList .megemenu li:hover , .megamenu .productsList a:active {
    font-size: 12px;
    text-decoration: none;
    
} 
 .productsList li.catagories:hover {
  /*  background-color:#fff; */
    font-weight:normal;
 /*   background-image:url(/content/dam/insight/bgimages/insight-link-rollover-arrow.png); 
    background-repeat:no-repeat; 
    background-position:105px -34px; */
}
.megamenu {
   border: 1px solid #cc0000;
}
.catagories {
    padding:5px 0px 5px 5px !important
}
.productsList .catagories a:first-child {
   
    font-weight:normal;
    color: #333;
}

/* 88888888888888888888 */ 


#solutions-menu { width:190px; padding:0px; }
#solutions-menu .column { width:100%;  padding:10px 0; }
#solutions-menu .column .productsList .catagories.hover { 
    background-image:url(../content/dam/insight/bgimages/insight-link-rollover-arrow.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/insight-link-rollover-arrow.png*/; 
    background-repeat:no-repeat; 
    background-position:180px -34px;
    background-color:#fff;
    }

#services-menu { width:165px; padding:0px; }
#services-menu .column { width:100%;  padding:10px 0; }
#services-menu .column .productsList .catagories.hover { 
    background-image:url(../content/dam/insight/bgimages/insight-link-rollover-arrow.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/insight-link-rollover-arrow.png*/; 
    background-repeat:no-repeat; 
    background-position:150px -34px;
    background-color:#fff;
}

#productsMenu {width:156px; padding:0px; }
#productsMenu .productsList { width:100%;  padding:10px 0; }
#productsMenu .productsList .catagories.hover { 
    background-image:url(../content/dam/insight/bgimages/insight-link-rollover-arrow.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/insight-link-rollover-arrow.png*/; 
    background-repeat:no-repeat; 
    background-position:143px -34px;
    background-color:#fff;
}

#why-insight-menu { width:165px; padding:0px; }
#why-insight-menu .column { width:100%;  padding:10px 0; }
#why-insight-menu .column .productsList .catagories.hover { 
    background-image:url(../content/dam/insight/bgimages/insight-link-rollover-arrow.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/insight-link-rollover-arrow.png*/; 
    background-repeat:no-repeat; 
    background-position:150px -34px;
    background-color:#fff;
}

#resources-menu { width:140px; padding:0px; }
#resources-menu .column { width:100%;  padding:10px 0; }
#resources-menu .column .productsList .catagories.hover { 
    background-image:url(../content/dam/insight/bgimages/insight-link-rollover-arrow.png)/*tpa=http://www.insight.com/content/dam/insight/bgimages/insight-link-rollover-arrow.png*/; 
    background-repeat:no-repeat; 
    background-position:100px -34px;
    background-color:#fff;
}


ul #brandsContent,ul #dealsContent{
     .min-width:450px;
    width:auto !important;
}
 
.flyOut {
    overflow:hidden; 
}

ul .flyOut { 
    visibility: hidden; 
    position: absolute; 
    left: 100%; 
    border: 1px solid #cc0000;  
    /*background-image: url(/assets/en_US/ccms_img/insight-home-top-drop-back-2011.png);*/
    background-color:#F5F5F5;
    top: -1px; 
    padding: 10px;
    min-width:180px;
    max-width:450px
}
 
ul  li.brands { 
    padding-top:20px;
}
.subCategoryList {
    padding: 10px; 
    font-size: 12px; 
    float: left;
    width: auto;
}
.megamenu .productsList  a, .megamenu .productsList a:visited {
    font-size: 12px;
    display:block;
    padding:0 5px;   
}

.megamenu .productsList a:hover { 
    font-size: 12px;
    font-weight:bold;
    color:#cc0000;
 }
 .productsList .megemenu li:hover {
    font-size: 12px;
 }
.megamenu .productsList a:active { 
    font-size: 12px;
 }

/* begin Brands specific styles */
.hover
{
  /* background-color: #D0D0D0; 
    background-image:url(/content/dam/insight/bgimages/insight-link-rollover-arrow.png); 
    background-repeat:no-repeat; 
    background-position:105px -34px; */
    
} 

/*.sbbIndex_allBrands
{
  margin-right:160px;   
}*/

.viewAllBrands{
    text-decoration:underline !important;
    color:#0073B0 !important;
}

.marketingPlaceHolder{
    width:100%;
    height:142px;
    overflow:hidden;
}

.leftBrandList{
    float:left;
}

.rightBrandList{
    float:right;
}

.sbbIndex_brandLogos{
    height:250px;
    overflow:hidden;
}

/* end Brands specific styles */

/* begin deals specific styles */

#dealsContent h3
{
    margin-bottom:20px;
    font-size:20px;
}

#dealsContent h4
{
    font:bold 16px Arial;
}

.leftDealsList{
    float:left;
}
.rightDealsList
{
  float:right;  
}
.dealsListDiv
{
    font-size:14px;
    float:left;
    width:auto;
    margin-bottom:15px;
}
/* end deals specific styles */

#subCategories ul:first-child li
{
    margin:8px 0px 8px 0px;
}

#subCategories ul:first-child li a
{
    font-weight:bold;
    color:#666666;
}

#flyoutTitle
{   
    font-size:1.5em;
    font-weight:normal;
    color:#444444;
    margin:5px 5px 10px 5px;
    line-height:1.3em;
}

hr.hrBrands2 {
    border-top: 1px solid #DDDDDD;
    
}

a.parentLabel{
    color:#CC0000;
    font-weight:bold;
}
         

.brandsTitle
{
  width: auto;
  margin-bottom:35px;
}
.brandsTitle li
{
 text-decoration: none;
 vertical-align: middle;
 width: 33.33%;
 }
ul li
{
    line-height: 1.2em !important;
}
ul li.column1
{ 
margin-left: 0em !important;
}
ul li.column2
{
margin-left: 13em !important;

}
ul li.column3
{ 
margin-left: 25em !important;

}

ul.brandsTitle li a
{
  width: 11em !important;
}
.column2.reset
{
  margin-top: -21.7em !important;
}
.column3.reset
{
  margin-top: -21.7em !important;
}
.column4.reset {
    margin-left: 38em !important;
    margin-top: -24.3em !important;
}
.megamenu .column ul li {
    padding-bottom: 4px !important;
}
.sbbIndex_wrapper {
    padding: 0px 0px 10px 0px !important;
}
/*#menuPageNavPosition .indexAlphabet a {
    width:19px !important;
}*/
*.indexAlphabet a {
    width:18px !important;
}
*#pg0-9 .pg-normal{
    width:18px !important;
}

.sbbIndex_allBrands {
    margin-top: -34px !important;
}
.sbbIndex_brandLogos {
    height: 283px !important;
}
#menuPageNavPosition a:hover{
    background-color:#CC0000 !important;
    color:#FFFFFF !important;
    text-decoration: none !important;
}