@font-face {
	font-family: DIN;
	src: url('../../includes/fonts/DINWeb.eot')/*tpa=http://www.pge.com/includes/fonts/DINWeb.eot*/; /* IE9 Compat Modes */
	src: url('../../includes/fonts/DINWeb.eot-#iefix')/*tpa=http://www.pge.com/includes/fonts/DINWeb.eot?#iefix*/ format('embedded-opentype'); /* IE6-IE8 */
}
@font-face {
	font-family: 'DIN Medium';
	src: url('../../includes/fonts/DINWeb-Medium.eot')/*tpa=http://www.pge.com/includes/fonts/DINWeb-Medium.eot*/; /* IE9 Compat Modes */
	src: url('../../includes/fonts/DINWeb-Medium.eot-#iefix')/*tpa=http://www.pge.com/includes/fonts/DINWeb-Medium.eot?#iefix*/ format('embedded-opentype'); /* IE6-IE8 */
}
@font-face {
	font-family: 'DIN Bold';
	src: url('../../includes/fonts/DINWeb-Bold.eot')/*tpa=http://www.pge.com/includes/fonts/DINWeb-Bold.eot*/; /* IE9 Compat Modes */
	src: url('../../includes/fonts/DINWeb-Bold.eot-#iefix')/*tpa=http://www.pge.com/includes/fonts/DINWeb-Bold.eot?#iefix*/ format('embedded-opentype'); /* IE6-IE8 */
}
@font-face {
	font-family: 'DIN Black';
	src: url('../../includes/fonts/DINWeb-Black.eot')/*tpa=http://www.pge.com/includes/fonts/DINWeb-Black.eot*/; /* IE9 Compat Modes */
	src: url('Unknown_83_filename#iefix')/*tpa=http://www.pge.com/includes/fonts/DINWeb-Black?#iefix*/ format('embedded-opentype'); /* IE6-IE8 */
}
@font-face {
	font-family: 'DIN Italic';
	src: url('../../includes/fonts/DINWeb-Ita.eot')/*tpa=http://www.pge.com/includes/fonts/DINWeb-Ita.eot*/; /* IE9 Compat Modes */
	src: url('../../includes/fonts/DINWeb-Ita.eot-#iefix')/*tpa=http://www.pge.com/includes/fonts/DINWeb-Ita.eot?#iefix*/ format('embedded-opentype'); /* IE6-IE8 */
}
@font-face {
	font-family: 'DIN Bold Italic';
	src: url('../../includes/fonts/DINWeb-BoldIta.eot')/*tpa=http://www.pge.com/includes/fonts/DINWeb-BoldIta.eot*/; /* IE9 Compat Modes */
	src: url('../../includes/fonts/DINWeb-BoldIta.eot-#iefix')/*tpa=http://www.pge.com/includes/fonts/DINWeb-BoldIta.eot?#iefix*/ format('embedded-opentype'); /* IE6-IE8 */
}
@font-face {
	font-family: 'DIN Medium Italic';
	src: url('Unknown_83_filename')/*tpa=http://www.pge.com/includes/fonts/DINWeb-MediumIta.eot*/; /* IE9 Compat Modes */
	src: url('Unknown_83_filename#iefix')/*tpa=http://www.pge.com/includes/fonts/DINWeb-MediumIta.eot?#iefix*/ format('embedded-opentype'); /* IE6-IE8 */
}
@font-face {
	font-family: 'DIN Black Italic';
	src: url('../../includes/fonts/DINWeb-BlackIta.eot')/*tpa=http://www.pge.com/includes/fonts/DINWeb-BlackIta.eot*/; /* IE9 Compat Modes */
	src: url('../../includes/fonts/DINWeb-BlackIta.eot-#iefix')/*tpa=http://www.pge.com/includes/fonts/DINWeb-BlackIta.eot?#iefix*/ format('embedded-opentype'); /* IE6-IE8 */
}

.pge_myhome #an_c2-glb-hdr-primary-nav #tab-menu {
	top: 9px!important;
}

.pge_myhome  .tab-menu-last-item {
	background-image: none!important;
}

/* This is to center the Alert on Homepage in IE
#pge_level0 .level0-alerts {
	margin-left: 183px;
}
*/

#pge_level0 #tab-menu-item-selected,
#pge_level0 .tab-menu-item,
.pge_safety  .tab-menu-item,
.pge_myhome #tab-menu-item-selected,
.pge_myhome .tab-menu-item {
	padding-top: 5px!important;
	padding-bottom: 5px!important;
	padding-left: 10px!important;
	padding-right: 10px!important;
}

#pge_level0 .an_c46-l0-input-hint {
	padding-top: 3px;
}

#pge_level0 .an_homep_login_username_label,
#pge_level0 .an_homep_login_password_label {
	padding-left: 5px;
}

#pge_level0  .an_c2-tab-nav a {
	padding-bottom: 2px;
	padding-top: 7px;
}

.pge_safety  #an_c2-glb-hdr-primary-nav {
	right: 405px;
}

.level2.safety #an_c2-glb-hdr-tab-nav #tab-menu {
	top: 5px!important;
}

.pge_myhome  #pge_tab-top-nav #an_c2-glb-hdr-primary-nav  #tab-menu {
	top: 5px!important;
}

.pge_l0-glb-wrapper #pge_tab-top-nav #an_c2-glb-hdr-primary-nav  #tab-menu {
	top: 6px!important;
}

.ie8 a.btn_pgeBlue, button.btn_pgeBlue, input.btn_pgeBlue {
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#44C8F5', endColorstr='#0089C4');
}

.ie8 a.btn_pgeBlue:hover, button.btn_pgeBlue:hover, input.btn_pgeBlue:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2DADE2', endColorstr='#0064A0');
}