@font-face {
  font-family: "DIN";
  src: url("../../includes/fonts/DINWeb.woff")/*tpa=http://www.pge.com/includes/fonts/DINWeb.woff*/ format("woff");
}

@font-face {
  font-family: "DIN";
  font-weight: 600;
  src: url("../../includes/fonts/DINWeb-Medium.woff")/*tpa=http://www.pge.com/includes/fonts/DINWeb-Medium.woff*/ format("woff");
}

@font-face {
  font-family: "DIN";
  font-weight: 700;
  src: url("../../includes/fonts/DINWeb-Bold.woff")/*tpa=http://www.pge.com/includes/fonts/DINWeb-Bold.woff*/ format("woff");
}

@font-face {
  font-family: "DIN";
  font-weight: 900;
  src: url("../../includes/fonts/DINWeb-Black.woff")/*tpa=http://www.pge.com/includes/fonts/DINWeb-Black.woff*/ format("woff");
}

@font-face {
  font-family: "DIN";
  font-style: italic;
  src: url("../../includes/fonts/DINWeb-Ita.woff")/*tpa=http://www.pge.com/includes/fonts/DINWeb-Ita.woff*/ format("woff");
}

@font-face {
  font-family: "DIN";
  font-style: italic;
  font-weight: 700;
  src: url("../../includes/fonts/DINWeb-BoldIta.woff")/*tpa=http://www.pge.com/includes/fonts/DINWeb-BoldIta.woff*/ format("woff");
}

@font-face {
  font-family: "DIN";
  font-style: italic;
  font-weight: 900;
  src: url("../../includes/fonts/DINWeb-BlackIta.woff")/*tpa=http://www.pge.com/includes/fonts/DINWeb-BlackIta.woff*/ format("woff");
}

.an_homep_outage h2 {
     color: white;
     font-size: 30px;
}

.myhome .an_homep_outage {
     background-color: #808080;
     display: none;
     height: 155px;
     margin-top: 29px;
     opacity: 0.8;
     padding-left: 20px;
     padding-top: 20px;
     position: absolute;
     width: 204px;
     z-index: 400;
}

.safety .an_homep_outage {
     background-color: #808080;
     display: none;
     height: 155px;
     margin-left: 0px;
     margin-top: 29px;
     opacity: 0.8;
     padding-left: 20px;
     padding-top: 20px;
     position: absolute;
     width: 204px;
     z-index: 400;
}

div.level0-hero-login-disabled {
     background: none repeat scroll 0px 0px #000000;
     color: #FFFFFF;
     font-size: 16px;
     height: 175px;
     line-height: 22px;
     margin-left: -20px;
     margin-top: -20px;
     opacity: 0.85;
     padding: 10px;
     top: 0px;
     width: 204px;
     z-index: 501;
}

.pge_l0-glb-wrapper, .pge_homepage-glb-wrapper {
     font-family: DIN;
}

#pge_level0 #pge_glb-search-container form .pge_input-button {
     margin-left: -3px;
     margin-top: 2px;
}

.an_level0-top-nav-login-container, .an_level0-glb-hdr-container {
     margin: auto;
     width: 986px;
}

.an_level0-top-nav-login-container {
     margin-top: -20px ! important;
}

#ls-row-2 .an_level0-top-nav {
     float: left;
     margin-left: 67px ! important;
     width: 67% ! important;
}

#ls-row-2 .an_level0-login {
     width: 22% ! important;
}

a.an_c46-logo {
     background: url("../images/an_home/pgelogo_withreg.jpg")/*tpa=http://www.pge.com/resources/images/an_home/pgelogo_withreg.jpg*/ no-repeat scroll 0px 0px transparent;
     display: block;
     float: left;
     height: 62px;
     margin: 19px 0px 0px 3px;
     width: 60px;
}

#pge_l0-landing {
     border-top: 6px solid #D8D8D8;
     height: 280px;
     margin: auto auto 10px;
     width: 980px;
}

#pge_l0-image-hero-with-links {
     padding-left: 14px;
     padding-top: 16px;
}

.pge_links a {
     color: #0089C4;
     display: inline-block;
     font-size: 18px;
     font-weight: 600;
     height: 22px;
     text-decoration: underline;
     width: 300px;
}

.pge_links a:hover {
     color: #FFA100 ! important;
}

.pge_links a:visited {
     color: #0089C4;
     text-decoration: underline;
}

.pge_l0-image-hero-heading {
     width: 600px;
}

.pge_l0-image-hero-heading h1 {
     color: #0089C4;
     font-size: 33px;
     font-weight: 600;
     line-height: 40px;
     margin-top: 0px;
     padding-left: 20px;
     white-space: nowrap;
}

.pge_l0-image-hero-heading p {
     color: #0089C4;
     font-size: 16px;
     font-weight: 600;
     padding: 0px 25px 7px;
     width: 300px;
}

.pge_links-module-body {
     padding: 5px 25px 25px;
     width: 300px;
}

.an_c6-social-media_icons {
     margin-right: -42px;
}

.level2 .an_c6-social-media_icons {
     margin-right: -35px;
}

.an_c6-social-media_icons a {
     margin-left: 11px;
     margin-right: 14px;
     text-decoration: none;
}

.pge_footer #ls-row-4-col-1 {
     float: right;
     margin-top: 15px;
     width: 196px;
}

.pge_glb-hdr-first-nav {
     font-weight: bold;
}

.pge_glb-hdr-vert-line {
     background: url("../images/an_c2-tab-top-nav/vertical-line-1x10-bbbbbb.gif")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/vertical-line-1x10-bbbbbb.gif*/ no-repeat scroll 100% 50% transparent;
}

#an_c46-glb-hdr-primary-nav li a:active, #an_c46-active-nav-item a {
     color: #BBBBBB ! important;
     font-size: 12px;
     font-weight: bold;
}

#an_c46-glb-hdr-toolbar a:link, #an_c46-glb-hdr-toolbar a:visited {
     color: #A8A8A8;
     font-size: 12px;
     margin-top: 1px;
}

#an_c46-glb-hdr-toolbar a:hover {
     color: #FFA100;
}

#pge_glb-search-container form {
     padding: 0px;
}

#pge_glb-search-container form .pge_input-item {
     border: 1px solid #D8D8D8;
     height: 14px;
     margin-top: 2px ! important;
     padding-left: 3px;
     width: 157px;
}

#pge_glb-search-container form .pge_input-button {
     background: none repeat scroll 0% 0% #0098C4;
     border: medium none;
     color: #FFFFFF;
     font-size: 10px;
     font-weight: bold;
     height: 16px;
     padding-bottom: 2px;
     width: 32px;
}

#pge_glb-search-container form .an_c46-l0-input-hint {
     color: #BBBBBB;
     font-size: 11px;
     font-style: italic;
     padding-top: 1px;
     position: absolute;
     width: 40px;
}

.safety #pge_glb-search-container form .an_c46-l0-input-hint {
     padding-left: 6px;
     padding-top: 3px;
}

.level2 #pge_glb-search-container form .an_c46-l0-input-hint {
     padding-left: 0px;
     padding-top: 3px;
}

.myhome #pge_glb-search-container form .an_c46-l0-input-hint {
     padding-left: 6px;
     padding-top: 2px;
}

.pge_footer {
     margin: auto;
     width: 980px;
}

#pge_copyright {
     color: #0089C4;
     font-size: 12px;
     margin: auto;
     text-align: center;
     width: 980px;
}

.an_pge-level0-footer .an_c47-glb-ftr li {
     background: url("../images/an_c2-tab-top-nav/vertical-line-1x10-666666.gif")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/vertical-line-1x10-666666.gif*/ no-repeat scroll 100% 30% transparent;
     display: inline;
     padding: 0px 14px 0px 9px;
}

.an_pge-level0-footer .pge_glb-ftr-vert-line {
     background: none repeat scroll 0% 0% rgba(0, 0, 0, 0) ! important;
}

.an_pge-level0-footer .an_c47-glb-ftr {
     height: 45px;
     text-align: center;
}

.an_pge-level0-footer .an_c47-glb-ftr a {
     color: #666666;
     font-size: 12px;
}

.an_pge-level0-footer .an_c47-glb-ftr a:hover {
     color: #FFA100;
     text-decoration: none;
}

.an_pge-level0-footer .an_c47-glb-ftr ul {
     margin-bottom: 0px;
     padding-left: 0px;
     padding-top: 25px;
}

#an_c46-l0-glb-search-container {
     height: 16px;
}

.an_c46-l0-input-button {
     width: 32px;
}

.an_c46-l0-input-button input {
     background: none repeat scroll 0% 0% #0089C4;
     border: medium none;
     color: #FFFFFF;
     font-size: 11px;
     font-weight: bold;
     width: 32px;
}

.an_c46-l0-input-item #global-l0-search {
     border: 1px solid #D8D8D8;
     font-size: 11px;
     font-style: italic;
     width: 162px;
}

#an_c2-glb-hdr-tab-nav {
     list-style-type: none;
     margin-top: -3px;
     position: absolute;
     top: 40px;
}

#an_c2-glb-hdr-tab-nav #tab-menu {
     font-size: 12px;
     height: 24px;
     position: relative;
     top: 6px;
}

.level2.safety #an_c2-glb-hdr-tab-nav #tab-menu, .level3.safety #an_c2-glb-hdr-tab-nav #tab-menu {
     top: 7px;
}

.myhome #an_c2-glb-hdr-tab-nav li:hover {
     cursor: pointer;
}

#an_c2-glb-hdr-tab-nav #tab-menu-item-selected {
     -moz-border-bottom-colors: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: #D8D8D8 #D8D8D8 #FFFFFF;
     border-image: none;
     border-style: solid;
     border-width: 1px;
     display: inline;
     height: 12px;
     margin-right: 4px;
     padding: 2px 10px;
}

#pge_level0 #an_c2-glb-hdr-tab-nav #tab-menu-item-selected {
     border-width: 1px;
}

.safety #an_c2-glb-hdr-tab-nav .tab-menu-item {
     margin-right: 1px;
}

.level2 #an_c2-glb-hdr-tab-nav .tab-menu-item {
     margin-right: 4px;
}

#an_c2-glb-hdr-tab-nav .tab-menu-item {
     background: none repeat scroll 0% 0% #EBEBEB;
     border-left: 1px solid #D8D8D8;
     border-right: 1px solid #D8D8D8;
     border-top: 1px solid #D8D8D8;
     display: inline;
     height: 12px;
     margin-right: 4px;
     padding: 2px 10px;
}

#an_c2-glb-hdr-tab-nav .tab-menu-first-item {
     border-left: 1px solid #D8D8D8;
}

#an_c2-glb-hdr-tab-nav .tab-menu-last-item {
     border-right: 1px solid #D8D8D8;
}

#an_c2-glb-hdr-tab-nav .tab-menu-item a:hover {
     color: #FFA100;
}

#an_c2-glb-hdr-tab-nav .tab-menu-item a {
     background: none repeat scroll 0% 0% #EBEBEB;
     color: #666666;
     float: none;
     font-size: 12px;
}

.safety #an_c2-glb-hdr-tab-nav .an_c2-tab-nav a {
     height: 19px;
     padding: 5px 10px;
}

#an_c2-glb-hdr-tab-nav .an_c2-tab-nav a {
     color: #666666;
     height: 28px;
     padding: 4px 10px 2px;
}

#an_c2-glb-hdr-tab-nav .safety-2 a, #an_c2-glb-hdr-tab-nav .safety-3 a, #an_c2-glb-hdr-tab-nav .safety-4 a {
     color: #0089C4;
     padding: 0px 40px;
}

#an_c2-glb-hdr-tab-nav ul, li, .language-tab ul, li {
     list-style: none outside none;
     margin: 0px;
     padding: 0px;
}

.level2 #an_c2-glb-hdr-tab-nav li {
     height: 27px;
}

#an_c2-glb-hdr-tab-nav li {
     border-top: 1px solid #D8D8D8;
     float: left;
     padding-top: 0px;
}

#pge_level0 #an_c2-glb-hdr-tab-nav li {
     line-height: 27px;
}

#an_c2-glb-hdr-tab-nav a {
     background: url("../images/an_c2-tab-top-nav/vertical-line-1x12-666666.gif")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/vertical-line-1x12-666666.gif*/ no-repeat scroll 100% 45% transparent;
     cursor: pointer;
     float: left;
     font-size: 13px;
     font-weight: normal;
     text-align: center;
     text-decoration: none;
}

.level2 #an_c46-glb-hdr-toolbar {
     padding-top: 12px;
}

#an_c46-glb-hdr-toolbar {
     float: right;
     height: 50px;
     line-height: 30px;
     margin-right: -4px;
     overflow: visible;
     padding-top: 4px;
     position: static;
     right: 0px;
     top: 0px;
     z-index: 105;
}

.safety #an_c46-glb-hdr-toolbar {
     float: right;
     height: 50px;
     line-height: 30px;
     margin-right: -4px;
     overflow: visible;
     padding-top: 12px;
     position: static;
     right: 0px;
     top: 0px;
     z-index: 105;
}

#an_c2-glb-hdr-tab-nav .tab-menu-last-item a {
     background: none repeat scroll 0% 0% transparent;
}

.safety #an_c2-glb-hdr-tab-nav li a:hover {
     background-color: #888888 ! important;
}

#an_c2-glb-hdr-tab-nav li a:hover {
     background-color: #888888;
     background-repeat: no-repeat;
     color: #FFFFFF ! important;
}

.ie6 #an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav, .ie7 #an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav {
     margin: 1px 0px 0px;
}

#an_c2-glb-hdr-tab-nav .over .an_c2-tertiary-tab-nav {
     display: block;
}

#an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav ul {
     background: none repeat scroll 0% 0% #FFFFFF;
     border-bottom: 1px solid #D8D8D8;
     border-left: 1px solid #D8D8D8;
     border-right: 1px solid #D8D8D8;
     float: none;
     margin-left: 2px;
     margin-top: 15px;
}

#an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav li {
     border: medium none;
     float: none;
     white-space: normal ! important;
}

#an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav li a {
     background: none repeat scroll 0% 0% transparent;
     color: #666666;
     display: block;
     float: none;
     font-size: 12px ! important;
     font-weight: normal;
     height: auto;
     line-height: 14px;
     padding: 10px 12px 0px;
     text-align: left;
     text-indent: 0px;
     width: 155px ! important;
}

#an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav li a:hover {
     background: url("../images/an_c2-primary-top-nav/glb-hdr-bg-tertiary-dropdown-item.png")/*tpa=http://www.pge.com/resources/images/an_c2-primary-top-nav/glb-hdr-bg-tertiary-dropdown-item.png*/ repeat-x scroll center bottom #FFFFFF ! important;
     color: #0089C4 ! important;
}

.pge_myhome #an_c2-glb-hdr-primary-nav li:hover {
     background-color: #888888;
}

.ie6 #an_c2-glb-hdr-secondary-tab-nav .an_c2-tertiary-tab-nav, .ie6 #an_c2-glb-hdr-secondary-tab-nav .an_c2-tertiary-tab-nav ul {
    
}

.ie6 #an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav {
     background: none repeat scroll 0% 0% transparent;
     padding: 0px 0px 24px;
}

.ie6 #an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav .an_c2-ie6bg {
     bottom: -17px;
     height: 24px;
     position: absolute;
     width: 100%;
}

.bottom-img {
     background-image: url("Unknown_83_filename")/*tpa=http://www.pge.com/iwov-resources/assets/images/horizontal-div.JPG*/;
     background-position: center bottom;
     background-repeat: repeat-x;
}

#an_c2-glb-hdr-tab-nav .nav a {
     color: #0089C4;
}

#an_c2-glb-hdr-tab-nav #an_c2-active-tab-nav-item a:hover {
     background-color: #FFA100;
     background-repeat: no-repeat;
}

#an_c2-glb-hdr-tab-nav li a:active, #an_c2-active-tab-nav-item a {
     background-color: #FFA100;
     background-repeat: no-repeat;
     color: #FFFFFF ! important;
}

.an_pge_2_col #an_c2-glb-hdr-tab-nav li.an_c2-tab-nav:last-child, .an_pge_3_col #an_c2-glb-hdr-tab-nav li.an_c2-tab-nav:last-child {
     border-right: 1px solid #E3E3E3;
}

.ie6 #an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav, .ie7 #an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav {
     margin: 1px 0px 0px;
}

#an_c2-glb-hdr-tab-nav .over .an_c2-tertiary-tab-nav {
     display: block;
}

#an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav li {
     float: none;
     white-space: normal ! important;
}

.ie6 #an_c2-glb-hdr-secondary-tab-nav .an_c2-tertiary-tab-nav, .ie6 #an_c2-glb-hdr-secondary-tab-nav .an_c2-tertiary-tab-nav ul {
    
}

.ie6 #an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav {
     background: none repeat scroll 0% 0% transparent;
     padding: 0px 0px 24px;
}

.ie6 #an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav .an_c2-ie6bg {
     bottom: -17px;
     height: 24px;
     position: absolute;
     width: 100%;
}

.js #an_c2-glb-hdr-tab-nav .myhome-5 .an_c2-tertiary-tab-nav, .js #an_c2-glb-hdr-tab-nav .mybusiness-5 .an_c2-tertiary-tab-nav {
     margin-left: -4px ! important;
}

.js #an_c2-glb-hdr-tab-nav .about-5 .an_c2-tertiary-tab-nav {
     margin-left: -54px ! important;
}

.js #an_c2-glb-hdr-tab-nav .b2b-5 .an_c2-tertiary-tab-nav {
     margin-left: -69px ! important;
}

.ie6 #an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav li a:hover, .ie7 #an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav li a:hover {
     margin-right: 20px;
}

.js #an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav {
     display: none;
     overflow: hidden;
}

.myhome-1 a, .mybusiness-1 a {
     width: 177px;
}

.myhome-2 a, .mybusiness-2 a {
     width: 165px;
}

.myhome-3 a, .mybusiness-3 a {
     width: 194px;
}

.myhome-4 a, .mybusiness-4 a {
     width: 127px;
}

.myhome-5 a, .mybusiness-5 a {
     width: 178px;
}

.ie6 #an_c2-glb-hdr-tab-nav .myhome-1 .an_c2-tertiary-tab-nav, .ie6 #an_c2-glb-hdr-tab-nav .mybusiness-1 .an_c2-tertiary-tab-nav, .ie7 #an_c2-glb-hdr-tab-nav .myhome-1 .an_c2-tertiary-tab-nav, .ie7 #an_c2-glb-hdr-tab-nav .mybusiness-1 .an_c2-tertiary-tab-nav {
     left: -3px ! important;
}

.ie6 #an_c2-glb-hdr-tab-nav .myhome-2 .an_c2-tertiary-tab-nav, .ie6 #an_c2-glb-hdr-tab-nav .mybusiness-2 .an_c2-tertiary-tab-nav, .ie7 #an_c2-glb-hdr-tab-nav .myhome-2 .an_c2-tertiary-tab-nav, .ie7 #an_c2-glb-hdr-tab-nav .mybusiness-2 .an_c2-tertiary-tab-nav {
     left: 174px ! important;
}

.ie6 #an_c2-glb-hdr-tab-nav .myhome-3 .an_c2-tertiary-tab-nav, .ie6 #an_c2-glb-hdr-tab-nav .mybusiness-3 .an_c2-tertiary-tab-nav, .ie7 #an_c2-glb-hdr-tab-nav .myhome-3 .an_c2-tertiary-tab-nav, .ie7 #an_c2-glb-hdr-tab-nav .mybusiness-3 .an_c2-tertiary-tab-nav {
     left: 340px ! important;
}

.ie6 #an_c2-glb-hdr-tab-nav .myhome-4 .an_c2-tertiary-tab-nav, .ie6 #an_c2-glb-hdr-tab-nav .mybusiness-4.an_c2-tertiary-tab-nav, .ie7 #an_c2-glb-hdr-tab-nav .myhome-4 .an_c2-tertiary-tab-nav, .ie7 #an_c2-glb-hdr-tab-nav .mybusiness-4 .an_c2-tertiary-tab-nav {
     left: 534px ! important;
}

.ie6 #an_c2-glb-hdr-tab-nav .myhome-5 .an_c2-tertiary-tab-nav, .ie6 #an_c2-glb-hdr-tab-nav .mybusiness-5 .an_c2-tertiary-tab-nav, .ie7 #an_c2-glb-hdr-tab-nav .myhome-5 .an_c2-tertiary-tab-nav, .ie7 #an_c2-glb-hdr-tab-nav .mybusiness-5 .an_c2-tertiary-tab-nav {
     left: 663px ! important;
}

.js #an_c2-glb-hdr-tab-nav .myhome-5 .an_c2-tertiary-tab-nav, .js #an_c2-glb-hdr-tab-nav .mybusiness-5 .an_c2-tertiary-tab-nav {
     margin-left: -4px ! important;
}

.js #an_c2-glb-hdr-tab-nav .about-5 .an_c2-tertiary-tab-nav {
     margin-left: -54px ! important;
}

.js #an_c2-glb-hdr-tab-nav .b2b-5 .an_c2-tertiary-tab-nav {
     margin-left: -69px ! important;
}

.an_c2-tertiary-tab-nav {
     display: none;
     margin-left: -3px;
     position: absolute ! important;
     top: 35px ! important;
     z-index: 99999;
}

#an_c2-glb-hdr-tab-nav .over .an_c2-tertiary-tab-nav {
     display: block ! important;
}

#an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav li a:hover, #an_c2-glb-hdr-tab-nav .an_c2-tertiary-tab-nav li a:focus {
     background: url("../images/an_c1-global-header/bg-language-option-hover.png")/*tpa=http://www.pge.com/resources/images/an_c1-global-header/bg-language-option-hover.png*/ repeat-x scroll center bottom rgba(0, 0, 0, 0) ! important;
     color: #FFFFFF ! important;
}

.pge_link_666666 {
     color: #666666;
}

#login-tab-top-nav {
     float: right;
     width: 224px;
}

#login-header-tab-top-nav {
     background: none repeat scroll 0% 0% #FEBF51;
     float: right;
     height: 27px;
     left: 966px ! important;
     margin-top: 2px;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 0px;
     width: 124px;
}

#pge_level0 #login-form-tab-top-nav, .level2 #login-form-tab-top-nav, .safety #login-form-tab-top-nav, .myhome #login-form-tab-top-nav {
     top: 90px;
}

#login-form-tab-top-nav {
     background: url("../images/an_c2-tab-top-nav/login-orange-grad.jpg")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/login-orange-grad.jpg*/ repeat scroll 0% 0% transparent;
     display: block;
     height: 175px;
     position: absolute;
     top: 89px;
     width: 224px;
     z-index: 200;
}

#login-form-tab-top-nav form fieldset {
     height: 27px;
     margin-bottom: 8px;
     margin-top: 0px;
}

#login-form-tab-top-nav form .an_c55_submit-btn {
     background: url("../images/an_c2-tab-top-nav/login-button-blue-grad.jpg")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/login-button-blue-grad.jpg*/ repeat scroll 0px 0px transparent;
     border: medium none;
     color: #FFFFFF ! important;
     cursor: pointer;
     display: inline;
     float: right;
     font-family: 'ff-din-web-n4','ff-din-web',Arial ! important;
     font-size: 16px;
     font-weight: 400;
     height: 32px;
     margin-left: 6px;
     margin-top: 0px;
     outline: medium none;
     text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2), 1px 1px 0px rgba(255, 255, 255, 0.2);
     width: 75px;
}

#login-form-tab-top-nav form .an_c55_submit-btn-disable {
     background: none repeat scroll 0px 0px grey;
     border-radius: 5px 5px 5px 5px;
     border: medium none;
     color: #FFFFFF ! important;
     cursor: wait;
     display: inline;
     float: right;
     font-family: 'ff-din-web-n4','ff-din-web',Arial ! important;
     font-size: 16px;
     font-weight: 400;
     height: 32px;
     margin-left: 6px;
     margin-top: 0px;
     outline: medium none;
     text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2), 1px 1px 0px rgba(255, 255, 255, 0.2);
     width: 75px;
}

#login-form-tab-top-nav form input.an_c55_submit-btn:hover {
     background: url("../images/an_c2-tab-top-nav/login-button-blue-grad-hover.jpg")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/login-button-blue-grad-hover.jpg*/ repeat scroll 0px 0px transparent;
     border: medium none;
     color: #FFFFFF ! important;
     font-family: 'ff-din-web-n4','ff-din-web',Arial ! important;
     font-size: 17px;
     font-weight: 400;
     padding: 4px 8px;
}

#login-form-tab-top-nav form .an_forgot {
     padding-bottom: 0px;
}

#login-header-tab-top-nav a, #login-header-tab-top-nav a:hover {
     color: #FFFFFF ! important;
     text-decoration: none;
}

#login-header-tab-top-nav a {
     background: url("../images/an_c2-tab-top-nav/arrow-up-white.gif")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/arrow-up-white.gif*/ no-repeat scroll 100% 50% transparent;
     font-size: 18px;
     font-weight: normal;
     line-height: 29px;
     padding-right: 30px;
     text-shadow: 1px 1px #A8A8A8;
}

#login-header-tab-top-nav .up-arrow {
     background: url("../images/an_c2-tab-top-nav/arrow-down-white.gif")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/arrow-down-white.gif*/ no-repeat scroll 100% 50% transparent;
}

#login-tab-top-nav .collapse {
     display: none;
}

#login-tab-top-nav .collapse a {
     background: url("../images/an_c2-tab-top-nav/arrow-up-white.gif")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/arrow-up-white.gif*/ no-repeat scroll 100% 50% transparent;
}

#login-form-tab-top-nav .an_forgot a:hover {
     color: #0089C4 ! important;
}

#login-form-tab-top-nav form fieldset input {
     border: 1px solid #DBDBDB;
     height: 25px;
     padding-left: 3px;
     width: 100%;
}

#login-form-tab-top-nav .an_homep_login_password_label {
     color: #BBBBBB;
     font-size: 11px;
     font-style: italic;
     font-weight: normal;
     left: -149px;
     position: absolute;
     top: 62px;
     z-index: 400;
}

#login-form-tab-top-nav .an_homep_login_username_label {
     color: #BBBBBB;
     font-size: 11px;
     font-style: italic;
     font-weight: normal;
     left: -148px;
     position: absolute;
     top: 28px;
     z-index: 400;
}

div, dl, dt, dd, ul, ol, li, pre, hr, form, fieldset, input, p, th, td {
     margin: 0px;
     padding: 0px;
}

.ls-canvas .ls-col {
     overflow: hidden;
}

.ls-canvas .ls-col {
     overflow: hidden;
}

.ls-canvas .ls-col-body {
     overflow: hidden;
}

.ls-canvas .ls-area {
     overflow: hidden;
}

.ls-canvas .ls-area-body {
     overflow: visible;
}

.ls-canvas .ls-area .ls-1st {
     margin-top: 0px ! important;
}

.ls-canvas .ls-cmp-wrap {
     padding: 1px 0px;
}

.ls-canvas .iw_component {
     margin: -1px 0px;
}

a, a:visited {
     color: #0089C4;
     outline: 0px none;
     text-decoration: none;
}

.an_c46-global-hdr-nav-outer {
     font-size: 1.1em;
}

.an_c46-global-hdr-nav-outer {
     float: left;
}

#an_c46-glb-hdr-primary-nav {
     list-style-type: none;
     right: 0px;
     top: 84px;
}

#an_c46-glb-hdr-primary-nav li {
     float: left;
     line-height: 40px;
}

#an_c46-glb-hdr-primary-nav a {
     cursor: pointer;
     float: left;
     font-size: 0.96em;
     padding: 0px 12px;
     text-align: center;
     text-decoration: none;
}

form fieldset {
     clear: both;
}

form legend {
     color: #0089C4;
     font-size: 1.16em;
     padding: 0px 0px 0.3em;
}

img, input, select, label {
     vertical-align: middle;
}

input {
     margin: 0px;
     padding: 0px;
}

#an_c46-glb-hdr-toolbar .an_c46-heading {
     -moz-user-select: none;
     background: url("../images/an_c2-tab-top-nav/language-arrow-grey.gif")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/language-arrow-grey.gif*/ no-repeat scroll 100% 40% transparent;
     cursor: pointer;
     margin-right: 19px;
     padding-right: 15px;
}

#an_c46-glb-hdr-primary-nav .an_c46-tertiary-nav {
     display: none;
     margin-left: -3px;
     min-width: 70px;
     padding: 0px 0px 25px;
     position: absolute;
     top: 12px;
     width: auto;
}

#an_c46-glb-hdr-toolbar .an_c46-tertiary-nav ul {
     background: none repeat scroll 0px 0px #FFFFFF;
     border: 1px solid #CCCCCC;
     left: 10px;
     line-height: 140%;
     margin-top: 22px;
     position: relative;
     right: 0px;
     width: auto;
     z-index: 2000;
}

#an_c46-glb-hdr-toolbar .an_c46-tertiary-nav ul, #an_c46-glb-hdr-toolbar .salutation .open ul {
     display: block;
}

#an_c46-glb-hdr-primary-nav .an_c46-tertiary-nav ul {
     background: url("Unknown_83_filename")/*tpa=http://www.pge.com/iwov-resources/assets/images/an_c1-globalheader/glb-hdr-tertiary-dropdown-top.png*/ no-repeat scroll 0px 0px transparent;
     float: none;
     padding-top: 3px;
     width: 200px;
}

#an_c46-glb-hdr-primary-nav .an_c46-tertiary-nav li {
     float: none;
     white-space: normal ! important;
}

#an_c46-glb-hdr-toolbar .an_c46-tertiary-nav li a {
     background: none repeat scroll 0px 0px #FFFFFF;
     color: #0089C4 ! important;
     display: block;
     padding: 5px 8px;
     text-align: left;
     white-space: nowrap;
}

#an_c46-glb-hdr-primary-nav .an_c46-tertiary-nav li a {
     background: none repeat scroll 0px 0px transparent;
     color: #FFFFFF;
     display: block;
     float: none;
     font-size: 11px ! important;
     font-weight: normal;
     height: auto;
     line-height: 14px;
     margin: 0px;
     padding: 10px 12px;
     text-indent: 0px;
}

#an_c46-glb-hdr-toolbar .an_c46-tertiary-nav ul {
     background: none repeat scroll 0px 0px #FFFFFF;
     border: 1px solid #CCCCCC;
     left: 10px;
     line-height: 140%;
     margin-top: 22px;
     position: relative;
     right: 0px;
     width: auto;
     z-index: 2000;
}

#an_c46-glb-hdr-toolbar .an_c46-tertiary-nav ul, #an_c46-glb-hdr-toolbar .salutation .open ul {
     display: block;
}

#an_c46-glb-hdr-primary-nav .over .an_c46-tertiary-nav {
     display: block;
}

#an_c46-glb-hdr-toolbar .an_c46-tertiary-nav li a:hover {
     background: url("../images/an_c1-global-header/bg-language-option-hover.png")/*tpa=http://www.pge.com/resources/images/an_c1-global-header/bg-language-option-hover.png*/ repeat-x scroll 0px 0px #0089C4 ! important;
     color: #FFFFFF ! important;
     text-decoration: none;
}

#an_c46-glb-hdr-primary-nav .an_c46-tertiary-nav li a:hover {
     background: url("Unknown_83_filename")/*tpa=http://www.pge.com/iwov-resources/assets/images/an_c1-globalheader/glb-hdr-bg-tertiary-dropdown-item.png*/ repeat-x scroll center bottom #FFFFFF ! important;
     color: #0089C4 ! important;
}

#an_c46-glb-hdr-toolbar .an_c46-tertiary-nav li a {
     background: none repeat scroll 0px 0px #FFFFFF;
     color: #0089C4 ! important;
     display: block;
     padding: 5px 8px;
     text-align: left;
     white-space: nowrap;
}

#an_c46-glb-hdr-primary-nav .an_c46-tertiary-nav li a {
     background: none repeat scroll 0px 0px transparent;
     color: #FFFFFF;
     display: block;
     float: none;
     font-size: 11px ! important;
     font-weight: normal;
     height: auto;
     line-height: 14px;
     margin: 0px;
     padding: 10px 12px;
     text-indent: 0px;
}

#an_c46-glb-hdr-toolbar .an_c46-tertiary-nav li a:hover {
     background: url("../images/an_c1-global-header/bg-language-option-hover.png")/*tpa=http://www.pge.com/resources/images/an_c1-global-header/bg-language-option-hover.png*/ repeat-x scroll 0px 0px #0089C4 ! important;
     color: #FFFFFF ! important;
     text-decoration: none;
}

.ls-canvas .ls-row .ls-row-clr {
     clear: both;
}

#ls-row-2-col-1 {
     margin: auto ! important;
     padding-top: 10px;
}

#ls-row-2-col-1 {
     margin: 0px ! important;
}

#ls-row-2-col-1 {
     margin-left: 20px;
     margin-top: 30px;
     width: 980px;
}

.ls-canvas .ls-col {
     overflow: hidden;
}

.ls-canvas .ls-col {
     overflow: hidden;
}

.ls-canvas .ls-col-body {
     overflow: hidden;
}

#ls-gen7-ls-fxr {
     margin: 0px auto;
}

.ls-canvas .ls-area {
     overflow: hidden;
}

.ls-canvas .ls-area-body {
     overflow: visible;
}

.ls-canvas .ls-area .ls-1st {
     margin-top: 0px ! important;
}

.ls-canvas .ls-cmp-wrap {
     padding: 1px 0px;
}

.ls-canvas .iw_component {
     margin: -1px 0px;
}

.ls-canvas .ls-row .ls-row-clr {
     clear: both;
}

.ls-canvas .ls-col {
     overflow: hidden;
}

.ls-canvas .ls-col-body {
     overflow: hidden;
}

.ls-canvas .ls-area {
     overflow: hidden;
}

.ls-canvas .ls-area-body {
     overflow: visible;
}

.ls-canvas .ls-area .ls-1st {
     margin-top: 0px ! important;
}

.ls-canvas .ls-cmp-wrap {
     padding: 1px 0px;
}

.ls-canvas .iw_component {
     margin: -1px 0px;
}

form {
     padding: 20px;
}

fieldset, img {
     border: 0px none;
     padding: 0px;
}

p {
     line-height: 1.55em;
     padding-bottom: 1.5em;
}

p {
     font-size: 1.2em;
     line-height: 1.55em;
     padding-bottom: 1.5em;
}

form p {
     padding: 0px 0px 1em;
     position: relative;
}

.ls-canvas .ls-col {
     overflow: hidden;
}

#banner {
     display: none;
}

.small {
    
}

#content {
     background: url("Unknown_83_filename")/*tpa=http://www.pge.com/resources/css/white*/ repeat-x scroll center top transparent;
     border-top: 6px solid #D8D8D8;
     width: 980px;
}

#login-header-tab-top-nav {
     background: none repeat scroll 0px 0px #FEBF51;
     float: right;
     height: 27px;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 0px;
     width: 125px;
}

.myhome #pge_glb-search-container form .pge_input-button, .home #pge_glb-search-container form .pge_input-button, .safety #pge_glb-search-container form .pge_input-button {
     margin-left: -3px;
}

.safety #pge_glb-search-container form .pge_input-button {
     margin-top: 1px;
}

.myhome #an_c2-glb-hdr-tab-nav #tab-menu, .home #an_c2-glb-hdr-tab-nav #tab-menu {
     top: 5px;
}

.myhome .pge_active-nav-item, .home .pge_active-nav-item {
     background-color: #FFA100 ! important;
     background-image: none ! important;
     color: #FFFFFF ! important;
     display: block;
     height: 20px ! important;
}

#ls-canvas {
     margin: 0px auto;
}

#banner {
     display: none;
}

.small {
     display: none;
}

#sidebar_navigation ul {
     list-style-type: none;
     margin: 0px;
     padding: 0px;
}

#pge_ts-footer {
     font-family: DIN,Arial,Helvetica,Sans-serif;
     margin-top: 25px;
     width: 100%;
}

#pge_ts-footer .an_c6-social-media_icons {
     float: right;
     margin-top: 10px;
}

#pge_ts-footer #an_c47-global-footer {
     height: 30px;
}

#pge_ts-footer .an_pge-level0-footer {
     margin: auto;
}

#pge_ts-footer .an_pge-level0-footer .an_c47-glb-ftr {
     text-align: center;
}

#pge_ts-footer .an_pge-level0-footer, #pge_ts-footer #pge_copyright {
     width: 400px;
}

#pge_ts-footer .an_pge-level0-footer .an_c47-glb-ftr ul {
     margin-bottom: 0px;
     padding-left: 0px;
     padding-top: 10px;
}

#sidebar_navigation ul li a {
     background: none repeat scroll 0px 0px #F7F7F7;
     color: #666666;
     font-size: 13px;
}

#sidebar_navigation ul li {
     border-color: #BBBBBB;
}

#sidebar_navigation ul li.active ul li a {
     background: none repeat scroll 0px 0px #DBDBDB;
     color: #666666;
}

#sidebar_navigation {
     border-bottom: 12px solid #BBBBBB;
     font-family: DIN,Arial,Helvetica,Sans-serif;
}

#sidebar_navigation ul li.with_children a {
     background: url("../images/an_c2-tab-top-nav/leftnav_rdquo_active_gray.gif")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/leftnav_rdquo_active_gray.gif*/ no-repeat scroll 9px 9px #F7F7F7;
     color: #666666;
}

#sidebar_navigation ul li.active ul li.with_children a {
     background: url("../images/an_c2-tab-top-nav/leftnav_rdquo_active_gray.gif")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/leftnav_rdquo_active_gray.gif*/ no-repeat scroll 19px center #DBDBDB;
}

#sidebar_navigation ul li.active ul li.active ul li a {
     background: none repeat scroll 0px 0px #888888;
     color: #FFFFFF;
}

#sidebar_navigation ul li.active ul li a:hover {
     background: url("../images/an_c2-tab-top-nav/leftnav_rdquo_gray.gif")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/leftnav_rdquo_gray.gif*/ no-repeat scroll 16px 9px #DBDBDB;
}

#sidebar_navigation ul li a:hover {
     background: url("../images/an_c2-tab-top-nav/leftnav_rdquo_gray.gif")/*tpa=http://www.pge.com/resources/images/an_c2-tab-top-nav/leftnav_rdquo_gray.gif*/ no-repeat scroll 9px 9px #F7F7F7;
     color: #666666 ! important;
}

.safety.level2 #hero-left .careers-block {
     margin-right: 10px;
     width: 150px;
}

.safety.level2 #hero-left .careers-block a.careers-link {
     font-size: 1.1em;
}

.safety #an_c46-glb-hdr-primary-nav li {
     line-height: 21px;
}

.safety .pge_glb-hdr-vert-line {
     background: none repeat scroll 0% 0% transparent;
}
