/* !Base Styles */

p {line-height: 1.7em;}

.wrapper {padding-bottom:1em;}

.ie7 .ieclear {display:inline-block;}

.ie8 .main  {margin-top:1em;}

.ie7 .main  {margin-top:1em;}

.ie6 .main  {margin-top:1em;}

a:link {color:#7C96a1;}

a:visited{color:#7C96a1;}

a:hover {color:#ce1126;}

a:active {color:#ce1126;}

.home-banner img {
width:100%!important; 
margin:0px; 
max-width:none!important;}


.ie6 .home-photo, .ie7 .home-photo, .ie8 .home-photo {margin-top:.5em;}

.subFeatures {
margin-top: 2em;
margin-bottom:1em;
border-top:1px solid #cccccc;
padding-top:.8em!important;}

.feature .abstract {font-size:.8em;}

.home-photo a:link {color:#000000;}

.home-photo a:visited {color:#000000;}

.home-photo a:hover {color:#000000;}




/* small features */
.subFeatures {
width:100%; 
padding:0.5em 0; 
margin-left:0;}

.subFeatures a:link {
color:#000000; 
text-decoration:none;}

.subFeatures a:visited {color:#000000;}

.subFeatures a:hover{color:#ce1126;}

.subFeatures img {width:100%;}

.subFeatures .feature {
width:100%; 
float:left; 
padding-bottom:.75em; 
margin-bottom:.25em;}

.subFeatures .feature:last-child  {
margin:0;  
border:none;}

.subFeatures .feature p 
{margin:0; 
line-height:115%; 
max-width:100%;}

.feature img {
border:1px solid #eee;
width:99.9%;}

.ie8 .main  img {
border:1px solid #eee;
width:99.9%!important;}

.ie7 .main  img {
border:1px solid #eee;
width:99.9%!important;}

.ie6 .main  img {
border:1px solid #eee;
width:99.9%!important;}

.subFeatures span {font-size:.8em;}

.subFeatures .join {
text-transform:uppercase; 
color:#666; 
font-size:.9em;}

h6, .subFeatures span {
font-size:.62em; 
line-height:100%; 
margin:.7em 0 0; 
color:#666; 
text-transform:uppercase; 
font-weight:normal;}


.ie8 h6, .subFeatures span {font-size:.8em;}
.ie7 h6, .subFeatures span {font-size:.8em;}
.ie6 h6, .subFeatures span {font-size:.8em;}

.bottomBanner p, .subFeatures p, {
margin:0; 
font-size:.85em;}

.subFeatures, .socialStream {padding-bottom:2%;}

/* social stream */
.socialStream {width:100%;}
.socialStream  a:link {color: #000000; text-decoration:none;}
.socialStream  a:visited {color: #000000;}
.socialStream  a:hover {color: #ce1126;}

.ie8 #social-stream a:link {color:#000000;}
.ie7 #social-stream a:link {color:#000000;}
.ie6 #social-stream a:link {color:#000000;}

#social-stream {
width: 100%; 
float:left;
max-height:52px; 
overflow: hidden; 
margin-top:4px; 
margin-bottom:2em}

.ie8 #social-stream {
width: 100%; 
max-height:23px; 
overflow: hidden; 
margin-top:4px; 
margin-bottom:2em;}

.ie7 #social-stream {
width: 100%; 
max-height:23px; 
overflow: hidden; 
margin-top:4px; 
margin-bottom:2em}

.ie6 #social-stream {
width: 100%; 
max-height:23px; 
overflow: hidden; 
margin-top:4px; 
margin-bottom:2em}

 ul.stream{
margin:2px 0 0;
font-family:arial, helvetica, sans-serif; 
font-size:.8em; 
padding:0; 
line-height:120%;}

.socialStream h4 {
color:#000; 
font-family: "BebasNeueRegular", arial, helvetica, sans-serif; 
font-size:1.4em; 
line-height:100%;
text-transform:uppercase; 
font-weight:normal; 
width:100%;
float:left; 
margin:10px 0 0;}

.socialStream .inner {
min-height:72px; 
max-height:72px; 
line-height:125%;}

.socialStream .connect { float:left;}

.socialStream .connect h4 {
color:#000; 
width:100%; 
margin:5px 0 0; 
line-height:100%; 
font-size:1em;}

.socialStream .connect img {
max-width:75px; 
margin-top:-3px;}

.socialStream .section-user {display:none;}

.socialStream .section-intro {font-size:.7em;}

.socialStream .section-intro .icon {
max-width:17px; 
margin-top:-5px;}

.socialStream .inner img {max-width:17px;}

/* bottom ad space */
.home-ad a:link {display:block; clear:both;}

.home-ad {text-decoration:none;}

.bottomBanner {
border:1px solid #bbb; 
margin-top:.5em;
border-bottom:10px solid #ce1126; 
width:100%; 
display:block; 
clear:both;
background-color:#cccccc;}

.bottomBanner .adContent {
width:90%; 
margin:7% 5%;}

.bottomBanner h5 {
font-size:2.3em;
line-height:100%;
margin:0 0 .15em;
font-family: "open_sanscondensed_light", arial, helvetica, sans-serif; 
font-weight:normal;
text-transform:uppercase;
color:#000000;}

.bottomBanner p {
font-size:.75em; 
color: #333;
font-family:  arial, helvetica, sans-serif; 
font-weight:normal;
line-height:120%;}

.hero-text h2 a:link {text-decoration:none;}

/* News Feed */	
.home-news-feed {
width:100%; 
display:block; 
padding-top: 0.5em; 
margin-top: 2em;
border-bottom: 1px solid #000000!important;
clear:both;}

.home-news-feed p {line-height:normal;}

.home-news-feed .story-title {margin-top:-.8em;}

.home-news-feed .date {
font-size:.8em; 
color:#666666;}

.home-news-feed h4 {
padding-right:2%;
margin-top:10px;
border-bottom:1px solid #000000;
margin-bottom:1em;
font-size:1em;
padding-bottom:.3em;
color: #000000;
line-height: 100%;
text-transform: uppercase;
font-weight: normal;
width: 100%;
float: left;
}

.home-news-feed a:link {color:#000000; text-decoration:none;} 
.home-news-feed a:visited {color:#000000;} 
.home-news-feed a:hover {color:#ce1126;} 


.home-social {
width:100%; 
float:none; 
margin-top:.5em}
	
.home-social p {
width:7%; 
float:left; 
display:inline-block; 
margin-right:1em;}


/* !Media Queries================================================*/

@media only screen and (max-width: 220px) {



}

@media only screen and (min-width: 320px) {
	
.home-social {
width:100%; 
float:none; 
margin-top:.5em}
	
.home-social p {
width:18%; 
float:left; 
display:inline-block; 
margin-right:1em;}
	
.home-banner {margin-bottom:-1em;}

.home-banner img {width:100%;}
	
.home-photo{
margin-top:1em;
margin-bottom:1em;}

/* social stream */
#social-stream {
width: 100%;
max-height:72px;
margin-bottom:0px;}

.socialStream .connect {
height:72px;
width:30%; 
float:right;
border-left:1px solid #ccc;
padding-left:4%;}

.socialStream  {margin-top:1em;}

/* bottom ad space */
.bottomBanner h5 {font-size:1.8em; }

.bottomBanner .adContent { margin:4% 5%;}

.hero-text h2 {font-size:1.66em;}

.hero-text p {font-size:.78em;}

.home-news-feed h4 {
font-family: "BebasNeueRegular", arial, helvetica, sans-serif; 
font-size:1.4em; }

.feature .abstract {display:none;}

}





@media only screen and (min-width: 480px) {
	
.home-social p {width:12%; }	
	
hero-text h2 {font-size:1.8em; text-decoration:none;}
	
/* Sub Features */
.feature img {
width:60%; 
display:inline-block; 
float:left; 
margin-right:.8em;}
	
.subFeatures .feature {
border-bottom:1px solid #ccc;
margin-bottom:.75em;}

h6 {
margin-bottom:.2em; 
margin-top:0px;}

.subFeatures .feature:last-child {
border:none; margin:0;}

/* social stream */
#social-stream {

height:52px; 
width:100%;
margin-bottom:1em;}

.socialStream {margin-bottom:1em}

	
}

@media only screen and (min-width:520px){
	
/* Sub Features */
h6 {margin-bottom:.1em;}

/* social stream */
ul.stream{background: none;}

.socialStream .inner {
min-height:32px; 
max-height:32px; 
padding:0;}

#social-stream {
width: 100%;
max-height:32px;}

.socialStream {margin-bottom:10%}

.socialStream h4 {margin-top:5px;}

/* bottom ad space */
.bottomBanner .adContent {
width:92%; 
margin:3%;}

.bottomBanner {border-bottom:8px solid #ce1126;  clear:both; margin-top:1em;}

.bottomBanner h5 {font-size:2.25em; }

}


@media only screen and (min-width: 600px) {
	

.hero-text h2 {
font-size:1.9em; 
text-decoration:none;}

.hero-text p {font-size:.92em;}
}


@media only screen and (min-width:700px){
	 
/* Sub Features */	 

.subFeatures .feature img {
width:100%; 
float:none;}
	 
.subFeatures .feature{
border:none;
width:29.86%; 
margin-right:1.9%; 
float:left; 
padding-bottom:0;}

.home-social {
width:4.5%;
float:left; 
margin-top:0; 
color:#ffffff;}

.home-social p {
width:100%; 
margin-top:0px;
margin-bottom:.6em; 
float:none;}

/* bottom ad space */
.bottomBanner h5 {
font-size:2.5em; 
width:auto;
float:left; 
margin:0;}

.bottomBanner p {
width:35%; 
float:right;
margin-top:0px;}

.bottomBanner .adContent { 
margin:2.5%; 
width:95%; 
min-height:3em; }
.socialStream {margin-bottom:1em;}
.subFeatures .feature h6 {margin-top:1em}

.subFeatures .feature p {line-height:normal; margin-top:.5em}

}

@media only screen and (min-width: 768px) {
	
/* Features */	
.subFeatures { border-top:none; 
margin-top:2;}

 h6  {
font-family:'FrutigerLTW01-47LightCn', Arial, sans-serif;
font-weight:normal;
border-left:3px solid #ce1125;
color:#666666;
padding-left:.3em;
font-size:1em;
margin-top:1em;
height: .83em;
line-height: .89em;}

.feature p {
font-family:'FrutigerLTW01-67BoldCn', Arial, sans-serif;
font-weight:normal;
text-transform:uppercase;
font-size:1.5em;
margin-top:.5em!important;}

.feature .abstract {
display:block;
font-family:'FrutigerLTW01-57Condens', Arial, sans-serif; 
text-transform:none; 
color:#333; 
line-height:1.5em!important;}



/* social stream */	
#social-stream {
width: 100%;
max-height:200px;
min-height:200px;
clear:both;
margin-bottom:0px;}

.socialStream .inner {
min-height: 72px;
max-height: 72px;
line-height: normal; 
font-family:'FrutigerLTW01-57Condens', Arial, sans-serif;
font-size:1.2em;}

.socialStream {
padding-top:.5em;
margin-top:2em;  
float:right; 
display:inline-block; 
width:48.5%;
border-bottom:1px solid #000000; }

.socialStream h4{
padding-right:2%;
margin-top:10px;
border-bottom:1px solid #000000;
margin-bottom:.4em;
font-family:'FrutigerLTW01-77BlackCn', Arial, sans-serif; font-style:normal;
font-size:1em;
padding-bottom:.3em}


/* Ad Banner Feed */	
.bottomBanner .adContent { 
margin:1em; 
width:95%; 
min-height:5em; }

.bottomBanner {text-align:center;}

.bottomBanner h5 {
width:100%; 
margin-top:0px; }

.bottomBanner p {
width:100%; 
margin-top:1em; }

/* News Feed */	
.home-news-feed {
width:48.5%; 
float:left; 
display:inline-block; 
padding-top: 0.5em; 
font-family:'FrutigerLTW01-57Condens', Arial, sans-serif;
margin-top: 2em;
border-bottom: 1px solid #000000;
min-height:266px; 
overflow:hidden;}

.home-news-feed p {line-height:normal;}

.home-news-feed .story-title {margin-top:-.8em;}

.home-news-feed .date {
font-size:.8em; 
color:#666666;}

.home-news-feed h4 {
padding-right:2%;
margin-top:10px;
border-bottom:1px solid #000000;
margin-bottom:1em;
font-family:'FrutigerLTW01-77BlackCn', Arial, sans-serif; font-style:normal;
font-size:1em;
padding-bottom:.3em;
color: #000000;
line-height: 100%;
text-transform: uppercase;
font-weight: normal;
width: 100%;
float: left;
}



/* Top Banner */	

.home-photo{margin-top:0em; }
	
.hero-text {font-size:.75em;  }

.hero-text p:first-of-type {
max-height:4.8em; 
overflow:hidden;}
	
.home-photo h2 {
color:#ffffff; 
font-family:'FrutigerLTW01-57Condens', Arial, sans-serif; 
text-transform:uppercase;}
	
.home-photo p { 
color:#ffffff; 
font-family:'FrutigerLTW01-57Condens', Arial, sans-serif;}
	
.home-photo h2 a:link { 
color:#ffffff; 
text-decoration:none;}

.home-photo h2 a:visited { 
color:#ffffff; 
text-decoration:none;}
	
.home-photo h2 a:hover { 
color:#ffffff;
text-decoration:none;}

.read {
background-color:#ce1126; 
padding-top:.3em; 
padding-bottom:.3em;
padding-left:.5em;
padding-right:.5em; 
float:left;
clear:both;
text-transform:uppercase;
display:block; 
font-family:'FrutigerLTW01-57Condens', Arial, sans-serif;
margin-top:0px;}

.read a:link {
color:#ffffff; 
text-decoration:none;}

.read a:visited{color:#ffffff; }

.read a:hover {color:#000000;}

/* Top-Left */	
.hero-text-topleft{
display:block;
width:50%; 
position:absolute; 
top:.75em; 
left:0; 
z-index:3; 
padding-top:0em; 
padding-left:1em; 
padding-right:1em;
background: rgba(0, 0, 0); /* Fallback */
background-color: rgba(0, 0, 0, 0.6);
color:#ffffff;
min-height:11.2em;
max-height:11.3em;
overflow:hidden;}

/* Bottom Left*/	
.hero-text-bottomleft{
display:block;
width:50%; 
position:absolute; 
bottom:.75em; 
left:0; 
z-index:3; 
padding-top:0em;
padding-left:1em; 
padding-right:1em;
background: rgba(0, 0, 0); /* Fallback */
background-color: rgba(0, 0, 0, 0.6);
color:#ffffff;
min-height:11.2em;
max-height:11.3em;
overflow:hidden;}

/* Top-Right */	
.hero-text-topright{
display:block;
width:50%; 
position:absolute; 
top:.75em; 
right:0; 
z-index:3; 
padding-top:0em;
padding-left:1em; 
padding-right:1em;
background: rgba(0, 0, 0); /* Fallback */
background-color: rgba(0, 0, 0, 0.6);
color:#ffffff;
min-height: 9.5em;

max-height: 9.5em;
overflow:hidden;}

/* Bottom Right*/	
.hero-text-bottomright {
display:block;
width:50%; 
position:absolute; 

right:0; 
z-index:3; 
padding-top:0em; 
padding-left:1em; 
padding-right:1em;
background: rgba(0, 0, 0); /* Fallback */
background-color: rgba(0, 0, 0, 0.6);
color:#ffffff;
min-height: 9.5em;
bottom: 2.8em;
max-height: 9.5em;
overflow:hidden;}

.wrapper {
max-width:1024px;
margin:0px auto;
width:98%;
margin-top:-.2em;}

/* !Product Banner*/	
.home-photo{
display:block;
clear:both;
width:100%;
background:#666666;
margin-bottom:0px;
position:relative;}

.home-banner img {
max-width:1024px!important;
width:100%;
margin: 0px auto;
padding:0px;
display:block;}

.home-banner-wide img {
max-width:1920px!important;
width:100%;
display:block;
margin:0px auto;
text-align:center;
}

.home-banner {margin-bottom:0px; }
	
h2 {
font-size:2em; 
margin-top:.5em;}	

h4 {font-size:1em}

h5 {font-size:1em}

}

@media only screen and (min-width: 800px) {
	
.subFeatures {padding:1em 0 }

.subFeatures .feature {margin-bottom:0;}

.socialStream .connect {width:16%;}

.home-news-feed {min-height:268px;}
}


@media only screen and (min-width: 900px) {
/* Top-Left */	
.hero-text-topleft{
top:.75em; 
min-height:13.5em;
max-height:13.6em;
overflow:hidden;}

/* Bottom-Left */	
.hero-text-bottomleft{
bottom:.75em; 
min-height:13.5em;
max-height:13.6em;
overflow:hidden;}

/* Top-Right */	
.hero-text-topright{
top:.1em; 
min-height: 12.5em;
max-height: 12.5em;
overflow:hidden;}

/* Bottom-Right */	
.hero-text-bottomright{
bottom: 2.6em;
min-height: 12.5em;
max-height: 12.5em;
overflow:hidden;}

.hero-text {font-size:1em; margin-top:-.5em}

.hero-text h2 {font-size:1.8em;}

.hero-text p {font-size:.9em;}

.home-news-feed {min-height:269px;}

.socialStream .inner {font-size:1.4em;}

.home-social {width: 3.5%;}

}

@media only screen and (min-width: 1024px) {


.home-photo .topstory{
max-width:1024px!important;
display:block;
width:50%}

/*Fixed height wide styles

.home-photo{
display:block;
width:100%;
background:#666666;
margin-bottom:0px;
min-height:521px;
overflow:hidden;
position:relative;
}
	
.home-banner img {
max-width:1024px!important;
width:100%;
margin: 0px auto;
padding:0px;
display:block;}

.home-banner-wide img {
max-width:1920px!important;
width:100%;
display:block;
min-width:1920px;
position: absolute;
top: -9999px;
bottom: -9999px;
left: -9999px;
right: -9999px;
 margin: auto;
}
*/


.home-news-feed {

min-height:272px; 
;}


/* Top-Right */	
.hero-text-topright{
top:.75em; 
min-height: 12.5em;
max-height: 12.5em;
overflow:hidden;}

/* Bottom-Right */	
.hero-text-bottomright{
bottom: 2.9em;
min-height: 12.5em;
max-height: 12.5em;
overflow:hidden;}
}

@media only screen and (min-width: 1050px) {

.hero-text-topleft .hero-text{
max-width:495px; 
min-width:495px; 
float:right;}

.hero-text-bottomleft .hero-text{
max-width:495px; 
min-width:495px; 
float:right;}


.hero-text-topright .hero-text{
max-width:495px; 
min-width:495px; 
float:left;}

.hero-text-bottomright .hero-text{
max-width:495px; 
min-width:495px; 
float:left;}


}


@media only screen and (min-width: 1300px) {
	
.hero-text p {font-size:1em;}

.hero-text h2 {font-size:2.3em;}

/* Top-Left */	
.hero-text-topleft{
top:.75em; 
min-height:15em;
max-height:16.6em;
overflow:hidden;}

/* Bottom-Left */	
.hero-text-bottomleft{
bottom:.75em; 
min-height:15em;
max-height:16.6em;
overflow:hidden;}

/* Top-right */	
.hero-text-topright{
top:.75em; 
min-height:15em;
max-height:16.6em;
overflow:hidden;}

/* Bottom-Right */	
.hero-text-bottomright{
bottom:3.1em; 
min-height:15em;
max-height:16.6em;
overflow:hidden;}



}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection {
ul.MenuBarHorizontal li.MenuBarItemIE {display: inline;float: left;}

}

/* HACK FOR Chrome: to smooth font on PC's */
@media screen and (-webkit-min-device-pixel-ratio:0) {

  
@font-face {
font-family:'BebasNeueRegular';
src:url(bebasneue-webfont-svg.svg)/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/bebasneue-webfont-svg.svg*/ format('svg');
font-weight:400;
font-style:normal;}
}