/*! normalize.css v1.1.0 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
/* !Boilerplate========================================================================== */

html,button,input,select,textarea {color:#000;}

html {background-color:#fff;}

body {
font-size:1em;
line-height:1.4;
max-width:1024px;
margin: 0px auto;
width:95%;
font:16px/26px Arial, Helvetica,Helvetica Neue;}

.ie6 body {max-width:800px;}
.ie7 body {max-width:800px;}
.ie8 body {max-width:800px;}

::-moz-selection {
background:#ccc;
text-shadow:none;}

::selection {
background: #ccc;
text-shadow: none;}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #ccc;
margin:1em 0;
padding:0;}

img {
vertical-align:middle;
max-width:100%;}

.ie6 img {
vertical-align:middle;
max-width:100%;}

fieldset {
border:0;
margin:0;
padding:0;}

textarea {resize:vertical;}

p { line-height:normal;}

.chromeframe {
margin:.2em 0;
background:#ccc;
color:#000;
padding:.2em 0;}

*,:before,:after {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;}

/*!Table style from:
 * Bootstrap v3.1.1 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

table {
max-width: 100%;
background-color: transparent;
font-size:.8em;}

th {text-align: left;}

.table {
width: 100%;
margin-bottom: 20px;}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
padding: 8px;
line-height: 1.42857143;
vertical-align: top;
border-top: 1px solid #ddd;}

.table > thead > tr > th {
vertical-align: bottom;
border-bottom: 2px solid #ddd;}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {border-top: 0;}

.table > tbody + tbody {border-top: 2px solid #ddd;}

.table .table {background-color: #fff;}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {padding: 5px;}

.table-bordered {border: 1px solid #ddd;}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {border: 1px solid #ddd;}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {border-bottom-width: 2px;}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {background-color: #f9f9f9;}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {background-color: #f5f5f5;}

table col[class*="col-"] {
position: static;
display: table-column;
float: none;}

table td[class*="col-"],
table th[class*="col-"] {
position: static;
display: table-cell;
float: none;}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {background-color: #f5f5f5;}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr.active:hover > th {background-color: #e8e8e8;}

/* !Layout========================================================================== */

.header-container,.main aside {background:#fff;}

.footer-container {
margin-left:0;
margin-bottom:0px;
clear:both;
background-color:#cccccc;
margin-top:1em;}

.ie8 .footer-container {
margin-left:0;
margin-bottom:0px;
clear:both;}

.ie7 .footer-container {
margin-left:0;
margin-bottom:0px;
clear:both;
background-color:#cccccc;}

.ie6 .footer-container {
margin-left:0;
margin-bottom:0px;
clear:both;
background-color:#cccccc;}

footer {color:#000000;}

footer a:link {color:#000000;}
.ie6 .footer-container a:link {color:#000000;}
.ie7 .footer-container a:link {color:#000000;}

footer a:visited {color:#000000;}

footer a:hover {color:#ce1126; text-underline:none;}

.footer-container footer {padding:20px;}
.ie6 .footer-container{padding:20px;}
.ie7 .footer-container{padding:20px;}
.ie8 .footer-container{padding:20px;}

.ie8 .footer-container a:link {color:#000000;}
.ie6 .footer-container .sitemap{display:none!important;}
.ie7 .footer-container .sitemap{display:none!important;}
.ie8 .footer-container .sitemap{display:none!important;}
.ie6 footer .footer-globalpresence img {display:none;}
.ie7 footer .footer-globalpresence img {display:none;}
.ie8 footer .footer-globalpresence img {display:none;}
.ie6 .stockquote {list-style:none; margin-left:0px; padding-left:0px;}
.ie7 .stockquote {list-style:none; margin-left:0px; padding-left:0px;}
.ie8 .footer-container  .stockquote {list-style:none; margin-left:0px; padding-left:0px;}
.ie6 .email {margin-left:5px;}
.ie7 .email {margin-left:5px;}
.ie8 .email {margin-left:5px;}

.contact {
padding-left:0;
padding-right:%;
padding-top:.7em;
padding-bottom:1em;}

.ie6 .contact h3 {padding-bottom:.7em;}
.ie7 .contact h3 {padding-bottom:.7em;}
.ie8 .contact h3 {padding-bottom:.7em;}

.ie6 .footer-globalpresence h3 {padding-bottom:.3em;}
.ie7 .footer-globalpresence h3 {padding-bottom:.3em;}
.ie8 .footer-globalpresence h3 {padding-bottom:.3em;}

.legal {
padding-left:0;
padding-right:0;
font-size:.8em;
margin-top:1em;}

.main {padding:0;}

/* !Type & Icons========================================================================== */
h1 {
font-size: 2.8em;
margin: 0;}

h2 {
font-size: 2.5em;
font-family: 'BebasNeueRegular';
line-height: normal;
font-weight: 400;
margin-bottom: -.5em;}

h3 {
text-transform: uppercase;
margin-bottom: -.8em;}

h4 {
text-transform: uppercase;


color: #ce1126;

font-size: 1em;}

h5 {
text-transform: uppercase;
color: #666465;
font-size: .8em;}

h6 {
text-transform: none;
color: #b5b5b5;
font-size: .8em;}

.title {
color: #ce1126;
float: left;
text-indent: -9999px;
display:none;}

footer h3 {margin-bottom: .5em;}

.legal p.top {
font-size: 1.3em;
margin-top: -.5em;}


/* !blockquote================= */

blockquote { 
font-style: italic;
font-weight:200;
margin: 1.5em 3px 1.8em;
padding: 0.94em 0px 1em;
quotes: "\201C""\201D""\2018""\2019";
border-top: 1px solid #000;
border-bottom: 1px solid #000;
line-height:2.2em}

.ie6 blockquote { 
font-style: italic;
font-weight:200;
margin: 1.5em 3px 1.8em;
padding: 0.94em 0px 1em;
quotes: "\201C""\201D""\2018""\2019";
border-top: 1px solid #000;
border-bottom: 1px solid #000;
line-height:2.2em}

.ie7 blockquote { 
font-style: italic;
font-weight:200;
margin: 1.5em 3px 1.8em;
padding: 0.94em 0px 1em;
quotes: "\201C""\201D""\2018""\2019";
border-top: 1px solid #000;
border-bottom: 1px solid #000;
line-height:2.2em}

.ie8 blockquote { 
font-size:1.2em;}

blockquote:after {
color: rgb(102, 102, 102);
content: close-quote;
font-size: 4em;
line-height: 0em;
margin-left: 0.1em;
vertical-align: -0.54em;}

blockquote:before {
content: open-quote;
color: rgb(102, 102, 102);
font-size: 4em;
line-height: 0em;
margin-right: 0.25em;
vertical-align: -0.54em;}
 
blockquote p {display: inline;}

/* !Icons================= */
.fb-icon {
background-color: #3b5998;
padding: .8em 1.3em;
color: #fff;}

.twitter-icon {
background-color: #00aced;
padding: .8em 1em;
color: #fff;}

.linkedin-icon {
background-color: #007bb6;
padding: .8em 1em;
color: #fff;}

.google-icon {
background-color: #dd4b39;
padding: .8em 1em;
color: #fff;}

.email-icon {
background-color: #333;
padding: .8em 1em;
color: #fff;}

.no-fontface .icon-facebook:before{content:"Facebook"}

.no-fontface .icon-twitter:before{content:"Twitter"}

.no-fontface .icon-google-plus:before{content:"Google Plus"}

.no-fontface .icon-linkedin:before{content:"LinkedIn"}

.no-fontface .icon-envelope-alt:before{content:"E-Mail"}

.no-fontface .icon-share:before{content:""}

.no-fontface .icon-rss:before{content:"RSS"}

.no-fontface .icon-arrow-up:before{content:""}

.ie6 .icon-arrow-up {display:none;}

.no-fontface .addthis_toolbox a {
margin-right: .5em;
display:inline-block;
float:left;
line-height:normal;
margin-top:2em;}

.icon-rss {padding-right:.3em;}

aside .icon-envelope-alt {padding-right:.3em;}

.ie8 .icon-rss {padding-right:.7em;}

.ie8 aside .icon-envelope-alt {padding-right:.7em;}

.ie7 .icon-rss {padding-right:.7em;}

.ie7 aside .icon-envelope-alt {padding-right:.7em;}

.addthis_toolbox.addthis_32x32_style span {line-height: 3.6em!important}

.ie7 .addthis_button_facebook {text-decoration:none;}

.ie7 .addthis_button_twitter {text-decoration:none;}

.ie7 .addthis_button_google_plusone_share {text-decoration:none;}

.ie7 .addthis_button_linkedin {text-decoration:none;}

.ie7 .addthis_button_email {text-decoration:none;}

.ie6 .addthis_button_facebook {text-decoration:none;}

.ie6 .addthis_button_twitter {text-decoration:none;}

.ie6 .addthis_button_google_plusone_share {text-decoration:none;}

.ie6 .addthis_button_linkedin {text-decoration:none;}

.ie6 .addthis_button_email {text-decoration:none;}

.ie7 .fb-icon {text-decoration:none;}

.ie7 .twitter-icon {text-decoration:none;}

.ie8 .fb-icon {text-decoration:none;}

.ie8 .twitter-icon {text-decoration:none;}

.share-buttons-desktop {
margin-left:2%;
margin-bottom:5em;}

.ie8 .share-buttons-desktop {
margin-left:0%;
margin-bottom:4em;
clear:both;}

.ie7 .share-buttons-desktop {
margin-left:0%;
margin-bottom:4em;
clear:both;}

.ie7 #social-links {margin:.6em 0 1em 0;}

.ie8 #social-links {margin:.6em 0 1em 0;}

#social-links {margin:0 0 .5em 0;}

dt {font-weight:bold; margin-bottom:.5em}
 
dd {margin-left:0px; margin-bottom:1.5em}


/* !fonts================= */

@font-face {
font-family:'BebasNeueRegular';
src:url(bebasneue-webfont-eot.eot)/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/bebasneue-webfont-eot.eot*/;
src:url(bebasneue-webfont-eot.eot-#iefix)/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/bebasneue-webfont-eot.eot?#iefix*/ format("embedded-opentype"),url(bebasneue-webfont-woff.woff)/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/bebasneue-webfont-woff.woff*/ format("woff"),url(bebasneue-webfont-ttf.ttf)/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/bebasneue-webfont-ttf.ttf*/ format("truetype"),url(bebasneue-webfont-svg.svg#BebasNeueRegular)/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/bebasneue-webfont-svg.svg#BebasNeueRegular*/ format("svg");
font-weight:400;
font-style:normal;}

/* !Images & Video========================================================================== */

.ie6 figure {width:100%}

.ie6 figure img {width:100%}	
	
figure {
border-bottom: 1px solid #000;
padding-bottom: .8em;
margin-top:1.5em}

figure img {border: 1px solid #000; width:100%;}

figcaption {
font-size: .8em;
font-style: italic;
line-height: 1.1em;
margin-top: 1em;}

.logo {
width: 60%;
margin: 1.5em 0 .75em;
float: left;}

.top {
margin-top: 2em;
margin-bottom: 1em;
clear:both;}

.top .icon-arrow-up {text-decoration:none;}


/* !Navigation========================================================================== */


nav ul {
margin: 0;
padding: 0;}

nav a {
display: block;
margin-bottom: 0;
padding: 9px 0;
text-align: center;
text-decoration: none;
font-weight: 400;
color: #fff;
background: #2f2727;}

nav a:hover, nav a:visited {color: #fff;}

nav a:hover {text-decoration: underline;}

nav[role=navigation] {
clear: both;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
margin-top: -1.7em;}

.js nav[role=navigation] {
overflow: hidden;
max-height: 0;
margin-top: -1.8em;}

nav[role=navigation].active {
max-height: 90em;
border-top: 1px solid #ccc;}

nav[role=navigation] ul {
margin: 0;
padding-top: .09em;
font-size: 1.3em;
font-style: normal;
font-family: 'BebasNeueRegular', Arial, sans-serif;
width: 100%;}

nav[role=navigation] li a {
width: 50%;
display: inline-block;
float: left;
padding: .7em 0;
font-size: .9em;
text-align: center;
font-weight: 400;
line-height: 1em;
border-bottom: 1px solid #ccc;
color: #fff;}


.ie6 #menu li a {
width: 100%;
display: inline-block;
float: left;
padding: .7em 0;
font-size: .9em;
text-align: center;
font-weight: 400;
line-height: 1em;
border-bottom: 1px solid #ccc;
color: #fff;}

.ie7 nav[role=navigation] li a {width: 100%;}

nav[role=navigation] li a:hover {
background-color: #666;
text-decoration: none;}

nav[role=navigation] li a:active {
background-color: #ccc;
text-decoration: none;}

nav[role=navigation] li a:visited {text-decoration: none;}

nav[role=navigation] li.search {
width: 100%;
background-color: #2d2727;
display: block;
float: left;
text-align: center;
display: inline-block;
border-bottom: 1px solid #ccc;
display: block;
text-transform: uppercase;
font-size: .9em;
line-height: 1em;
padding: .6em 0;}

a.menu-link {
float: right;
clear: none;
display: block;
margin-top: .5em;
margin-right:0;
font-size: 1.5em;
color: #000;
background-color: #fff;
text-decoration: none;
max-width:50px; }

a.menu-link img {max-width:50px; }

.ie6 a.menu-link img {width:50px; }

a.menu-link:hover  {opacity:.7;}

.btn img.search_icon {max-width:31px;}

.ie6 .btn img.search_icon {width:31px;}

#header_bottom {display: none;}

#header_right {display: none;}



nav[role="navigation"] li:last-of-type a {text-decoration: none;}

.topConnect {display:none;}

/* !Fixed Nav================= */

.fixed-nav {
display: block;
width: 100%;
clear: both;
font-family: 'BebasNeueRegular', Arial, sans-serif;
font-size: 1.7em;
margin-bottom: 1px;
height:2.3em;}

.fixed-nav ul {
padding: 0;
margin-left: 0;
width: 100%;
background-color: #2d2727;
overflow: hidden;}

.ie7 .fixed-nav ul {margin:0;}

.fixed-nav li {
display: inline-block;
width: 28%;
background-color: #2d2727;
margin: 0;
float: left;
border-right: 1px solid #fff;}

.fixed-nav li:nth-child(2) {width:44%;}


.ie6 .fixed-nav li {width:33%;}
.ie7 .fixed-nav li {width:33%;}
.ie8 .fixed-nav li {width:33.33%;}

.fixed-nav li:nth-child(3) { 
border-right: none;
margin-right: 0px;}

.fixed-nav li a {
padding: .3em;
display: block;
color: #fff;
text-decoration: none;
margin: 0;
font-size: .65em;
text-align: center;
letter-spacing: .02em;}

.fixed-nav li a:hover {
background-color: #666;
text-decoration: none;}

.fixed-nav .fixed-border {border-right: none;}


/* !Other Nav links================= */

.investors a {border-right: 1px solid #ccc;}

.news {display: none;}

.capabilities {display: none;}

.ourcompany a {border-right: 1px solid #ccc;}

nav .contact {padding: inherit;}

.contact a {border-right: 1px solid #ccc;}

nav .diversity a {border-right: 1px solid #ccc;}

.top {
margin-top: 1em;
margin-bottom: 1em;
clear:both;}

.top .icon-arrow-up {text-decoration:none;}


/* Desktop Header Styles ----------------------------------------------------------------------------------- */

#header_bottom {
display: inline-block;
width: 100%;
padding-top: 0px;
}

.desktopNav {display:none;}

.searchText {
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
color: #666;
border: 1px solid #666;
padding-left: 2px;
margin-left: 1px;}

.searchButton {
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
color: #666;
background-color: #efefef;
border: 1px solid #666;
padding: 0 0 1px 0;
height: 17px;
width: 42px;
cursor: pointer;
margin-left: -3px;}

.logo a[href="http://www.raytheon.com"]  img { padding-bottom:10px; }


/* !Forms & Buttons ========================================================================== */
::-webkit-input-placeholder {
font-size:1em;
font-family:'BebasNeueRegular', Arial, sans-serif;}

:-moz-placeholder {
/* Firefox 18- */
font-size:1em;
font-family:'BebasNeueRegular', Arial, sans-serif;}

::-moz-placeholder {
/* Firefox 19+ */
font-size:1em;
font-family:'BebasNeueRegular', Arial, sans-serif;}

:-ms-input-placeholder {
font-size:1em;
font-family:'BebasNeueRegular', Arial, sans-serif;}

.btn {border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);}

.btn {
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
text-align: center;
vertical-align: middle;
cursor: pointer;
color: #333;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
background-color: #f5f5f5;
background-image: linear-gradient(to bottom, #fff, #e6e6e6);
background-repeat: repeat-x;
border-width: 1px;
border-style: solid;
border-color: #bbb #bbb #a2a2a2;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
border-radius: 4px 4px 4px 4px;
box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 1px 2px rgba(0,0,0,0.05);
height:30px;}

input, button, select, textarea {font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;}

label, input, button, select, textarea {
font-size: 14px;
font-weight: 400;
line-height: 20px;}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], 

input[type="checkbox"] {
cursor: pointer;}

button, html input[type="button"], input[type="reset"], input[type="submit"] {

cursor: pointer;}

button, input {line-height: normal;}

button, input, select, textarea {
margin: 0;
font-size: 100%;}

.search input {
width:65%;
margin-right:3px;
font-size:.9em;
padding:.1em .3em;
height:30px;}

.share span {
font-size:1.2em;
padding: .35em .5em 1.6em .5em;}

.ie6 .share span {
font-size:1.2em;
padding: .35em .5em .1em .5em;}

.ie7 .share span {
font-size:1.2em;
padding: .35em .5em .1em .5em;}

.share span a:link {
color:#000000;
text-decoration:none;}

.share span a:hover {color:#ce1126;}
	
.share span a:visited {color:#000000;}

.share .icon-share {font-size:1.2em;}

.share {margin-top:1.7em;}

.addthis_toolbox a {
margin-right: .5em;
display:inline-block;
float:left;
line-height:normal;}


/* Left-Nav Drop Downs Select Menu*/

.nav-dropdown {
position: relative;
display:block;
width: 100%;
clear:both;
background: #fff;
border-radius: 5px;
cursor: pointer;
border:1px solid #666;
transition: all 0.3s ease-out;
padding:.7em 0 .7em .5em;
}
 
.nav-dropdown:after { /* Little arrow */
content: "";
width: 0;
height: 0;
position: absolute;
top: 50%;
right: 15px;
margin-top: -3px;
border-width: 6px 6px 0 6px;
border-style: solid;
border-color: #666666 transparent;
}

.nav-dropdown .dropdown {
position: absolute;
top: 100%;
left: -1px;
right: -1px;
 background: #fff;
border-radius: 0 0 5px 5px;
border: 1px solid #666666;
border-top: none;
border-bottom: none;
list-style: none;
transition: all 0.3s ease-out;
margin-top:0px;
z-index:100;
max-height: 0;
overflow: hidden;
padding-left:0px;;
}

.ie6 .nav-dropdown .dropdown {
position: relative;
top:0;
left:0;
background: #fff;
clear:both;
margin-left:0px;
list-style: none;
margin-top:0px;
overflow: hidden;
padding-left:0px;
border:none;
}
.nav-dropdown .dropdown li {margin-left:0px ;}
 
.nav-dropdown .dropdown li a {
display: block;
text-decoration: none;
color: #333;
padding: .7em 0 .7em .5em;
margin-left:0em;
width:100%;
transition: all 0.3s ease-out;
border-bottom: 1px solid #666666;}

.dropdown .current {
display: block;
text-decoration: none;
color: #ce1126;
padding: .7em 0 .7em .5em;
margin-left:2em;
width:100%;
transition: all 0.3s ease-out;
}
 
.nav-dropdown .dropdown li:last-of-type a {border: none;}
 
/* Hover state */
 .nav-dropdown .dropdown li:hover a {
color: #ce1126;}

/* Active state */
 .nav-dropdown.active {
border-radius: 5px 5px 0 0;
background: #cccccc;
box-shadow: none;
border-bottom: none;
color: #000000;
}
 
.nav-dropdown.active:after {border-color: #666666 transparent;}
 
.nav-dropdown.active .dropdown {
border-bottom: 1px solid #666666;
max-height: 900px;}

//* !Media Queries================================================*/

@media only screen and (max-width: 220px) {
.fixed-nav li a {font-size:.55em;}

nav[role="navigation"] li a {font-size:.7em;}
 	
}

@media only screen and (min-width: 320px) {
.logo, .logo img {max-width: 153px;}

.fixed-nav li, .fixed-nav li:nth-child(2) {width: 33.333333%;}

.fixed-nav {margin-bottom: 4px;}

.fixed-nav li a {padding: .48em .3em .3em .3em;}

.search input {width:200px;}

a.menu-link {
margin-top: .35em;
font-size: 2em;}

.share-buttons-desktop {
margin-left:0%;
margin-bottom:2.4em;
margin-top:1em;}

#social-links {margin:0 0 .5em 0;}

.sitemap {display:none;}

.footer-container footer {
width:100%;
padding:0px;}

.footer-container {width:100%;}

.contact {
padding-left: 5%;
padding-right: 5%;
padding-top: .7em;
padding-bottom: 1em;
background-color: #ccc;}

.legal {
padding-left: 5%;
padding-right: 5%;
background-color: #ffffff;
font-size: .8em;
padding-top: .5em;
}

.legal p {
line-height:1.5em;
}

.footer-globalpresence{
padding-left: 5%;
padding-right: 5%;
}

.stock {list-style:none;
padding-left:0px;
display:none;
}

.stockquote{
list-style:none;
padding-left:5%;
margin-left:0px;}

.email {margin-left:.3em;}


}

@media only screen and (min-width: 480px) {

nav a:hover {
background-color: #000;
text-shadow: 1.5px 1.5px 0 #666;}

nav a:visited {color: #fff;}

nav ul li {display: inline;}

.oldie nav a {margin: 0 .7%;}

.menu {float: right;}

.ie7 nav[role=navigation] li a {width: 49.85%;}

}

@media only screen and (min-width: 600px) {

.ie7 nav[role=navigation] li a {width: 49.9%;}
}

@media only screen and (min-width: 768px) {

body {
width:100%;
max-width:100%;}

/* Desktop Nav Styles--------------------------------------------*/

header {
width:100%!important; 
background-color:#ffffff; 
border-bottom:5px solid #ce1126; 
display:block; 
height:5em;
-webkit-box-shadow: 0px 2px 6px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 6px -3px rgba(0,0,0,0.75);
box-shadow: 0px 2px 6px -3px rgba(0,0,0,0.75);
z-index: 100;
position: relative;}

.masthead {
max-width:1024px; 
width:98%; 
margin:0px auto; 
background-color:#ffffff; 
position:relative;
display:block; 
text-align:center;}

.desktopNav {display:block;}

#header_bottom {
border:none;
display:inline-block;
float:right;
width:74%;
margin-top:1.5em;
background-color:#ffffff;
-webkit-padding-start: 0px;
}

/* Drop Down CSS */

ul.MenuBarHorizontal  {
list-style:none;
margin:0;
padding:0;
text-align:center; 
font-size:.75em;
text-transform:uppercase;
float:right;
-webkit-padding-start: 0px;
font-family:'FrutigerLTW01-57Condens', Arial, sans-serif;
cursor: default;
}

ul.MenuBarHorizontal ul {
margin: 10 0 0 0;
padding: 0;
list-style-type: none;
font-size: 100%;
z-index: 1020;
cursor: default;
position: absolute;
left: -1000em;}

/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to auto so it comes onto the screen below its 

parent menu item */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible {left: auto;}
	
ul.MenuBarHorizontal li  {
display:inline;
border-left:1px solid #cccccc;
-webkit-padding-start: 0px;
margin: 0em 0em 0em 0em;
padding: 0;
list-style-type: none;
position: relative;
cursor: pointer;
float: left;}

ul.MenuBarHorizontal li:last-of-type {
display:inline;
border-right:1px solid #cccccc;
}

ul.MenuBarHorizontal li a:link{
display:inline-block;
padding-left:.5em;
padding-right:.5em;
transition: all 0.3s ease-out;
}


ul.MenuBarHorizontal li ul li:last-of-type {
display:inline;
border-right:none;
}

ul.MenuBarHorizontal li ul li a {
display: block;
cursor: pointer;
background-color: #fff;
padding: .7em .2em .7em .2em;
color: #000000;
text-decoration: none;
width: 99%;
line-height: normal;
border:none;
text-align:left;
text-transform:none;}


ul.MenuBarHorizontal a {
display: block;
cursor: pointer;
color: #000000;
text-decoration: none;
}

/* Menu items that have mouse over or focus have a blue background and white text */
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus {color: #ce1126 !important;}

/* -------Drop Downs------------ */

/* What We Do*/

#dd_ourcompany {
margin-top:0px;
margin-left: -1px;
width: 170px;
background-color:#ffffff;
border-left:1px solid #cccccc;
border-right:1px solid #cccccc;
border-bottom:1px solid #cccccc;
padding-top:.5em;}

#dd_ourcompany li {
width:100%;
text-align:left;
border-left:none;
}

/* Who We Are*/

#dd_capabilities {
margin-top:0px;
margin-left: -1px;
width: 170px;
background-color:#ffffff;
border-left:1px solid #cccccc;
border-right:1px solid #cccccc;
border-bottom:1px solid #cccccc;
padding-top:.5em;}

#dd_capabilities li {
width: 100%;
text-align:left;
border-left:none;}

/* Global*/

#dd_global {
margin-top:0px;
margin-left: -1px;
width: 170px;
background-color:#ffffff;
border-left:1px solid #cccccc;
border-right:1px solid #cccccc;
border-bottom:1px solid #cccccc;
padding-top:.5em;}

#dd_global li {
width: 100%;
text-align:left;
border-left:none;}	

/* News*/

#dd_newsroom {
margin-top:0px;
margin-left: -1px;
width: 170px;
background-color:#ffffff;
border-left:1px solid #cccccc;
border-right:1px solid #cccccc;
border-bottom:1px solid #cccccc;
padding-top:.5em;}

#dd_newsroom li {
width: 100%;
text-align:left;
border-left:none;}	
	
/* Search Drop Down */

.nav-search {
border-right:none!important; 
margin-right:0px!important; 
Padding-right:0px!important; 
}

.search-icon {
color:#ffffff; 
background-color:#666666; 
padding-top:.4em; 
padding-bottom:.5em; 
padding-left:.7em;
padding-right:.7em; 
font-size:1em;
margin-left:.4em; 
}

#dd_search {
margin-left: -230px;
width: 272px;
background-color:#ffffff;
padding:0em;
margin-right:0px;
border-left:solid 1px #cccccc;
border-right:solid 1px #cccccc;
border-bottom:1px solid #cccccc;
margin-top:0px;
margin-top:.1em;
}

#dd_search  input::-webkit-input-placeholder {
color: #000000;
text-transform: uppercase;
font-family:Arial, Helvetica, sans-serif;
font-size:1.1em;
}

#dd_search input::-moz-placeholder {
color: #666666;
text-transform: uppercase;
font-family:Arial, Helvetica, sans-serif;
font-size:1.1em;
padding-top:100px;
line-height:normal;
}

#dd_search  input:-moz-placeholder {   /* Older versions of Firefox */
color: #666666;
text-transform: uppercase;
font-family:Arial, Helvetica, sans-serif;
font-size:1.1em;
padding-top:100px;
}

#dd_search  input:-ms-input-placeholder { 
color: #666666;
text-transform: uppercase;
font-family:Arial, Helvetica, sans-serif;
font-size:1.1em;
padding-top:100px;
}

#dd_search li {
padding-top:1em;
padding-bottom:.3em;
padding-left:1.2em;
padding-right:.3em;
width:100%;
border:none;
}

#dd_search  input[type="search"] {
padding:.8em;
display: inline-block;
margin-bottom: 0.75em;
vertical-align: middle;
border-radius: 4px 4px 4px 4px;
margin-left:-1em;
width:60%;}

#dd_search  input[type="submit"]  {
margin-left:.5em;
padding-top: .6em;
padding-bottom:1.8em;
padding-left:0em;
padding-right:0em;
text-align:center;
width:25%;
font-size:1em;
text-transform:uppercase;
display: inline-block;
margin-bottom: 0.75em;
vertical-align: top;
background-color:#666666;
color:#ffffff;
font-family:'FrutigerLTW01-57Condens', Arial, sans-serif;
}


/* Cyber toggle*/
	
.MenuBarHorizontal .cyber-toggle {
border:none; 
margin-right:1em;}

.cyberbutton  {background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#dfdede));
background-image: -webkit-linear-gradient(top, #ffffff, #dfdede); 
background-image:    -moz-linear-gradient(top, #ffffff, #dfdede);
background-image:     -ms-linear-gradient(top, #ffffff, #dfdede);
background-image:      -o-linear-gradient(top, #ffffff, #dfdede);  
display:inline-block; 
text-transform:uppercase; 
border:1px solid #666666; 
border-radius: 5px;
margin-left:.7em;
line-height: normal;
padding-top: 0.3em;
padding-bottom: 0.43em;}
	

/* Desktop Footer Styles ----------------------------------------------------------------------------------- */

footer a:link {color:#ffffff; text-decoration:none;}
footer a:hover{color:#ffffff; text-decoration:underline;}
footer a:visited {color:#ffffff; text-decoration:none;}

.footer-container {
background-color:#666666;
width:100%;
}

.footer-container footer {
background-color:#666666;
color:#ffffff;
width:98%; margin:0px auto;
padding-bottom:1em;
max-width:1024px;
border-top:0px;
}

.footer-primary {
width:33%;
display:inline-block;
vertical-align:top;
}

footer .contact {
float: left;
background:#666666;
font-size: .7em;
line-height: normal;
color: #ffffff;
text-align: left;
margin-left: 0px;
padding: 0px;
width:100%;
margin-bottom:1em;
font-family:'FrutigerLTW01-57Condens', Arial, sans-serif;}

footer .contact .vcard {
margin-left:0px;
width:100%;
margin-bottom:0px;
padding-bottom:0px;
font-size:1.1em;
}
footer .contact .email {
font-size:1.5em;
color:#ffffff;
text-transform:uppercase;
border:none;
margin-top:1em;
margin-bottom:1em;
display:block;
font-family:'FrutigerLTW01-57Condens', Arial, sans-serif;;
}

.contact .icon-envelope {
font-size:1.9em; 
display:inline-block; 
float:left; 
vertical-align:top;
margin-right:.5em; 
line-height:.75em;
}

footer .contact h3 {
background-color: #666666;
color: #FFFFFF;
text-transform: uppercase;
font-size:1.8em;
font-family:'FrutigerLTW01-67BoldCn', Arial, sans-serif;
font-weight:normal;
}

footer .org {display:inline-block;}

footer .org:after {content:" | ";}

footer .street-address:after {content:" | ";}

.adr span {display:inline-block;}

footer .adr {display:inline-block;}

.footer-globalpresence {
display:block;
margin-top:9em;
border-top:1px solid #ffffff;
padding: 0px;
}

.footer-globalpresence p {
margin-bottom:1em;
display:block;
font-size:.9em;
font-family:'FrutigerLTW01-57Condens', Arial, sans-serif;}

.footer-globalpresence h3 {
font-family:'FrutigerLTW01-67BoldCn', Arial, sans-serif;
font-weight:normal;}

.footer-globalpresence:after{background: url('world_graphic.png' )/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/world_graphic.png*/;
background-repeat: no-repeat;
display: inline-block;
width: 80%;
height: 7.2em;
float:none;
content: "";
background-size: 100%;
}
	
.sitemap {
display:inline-block;
width:66%;
}
	
.sitemap ul{
font-size:.75em;
list-style:none;
margin-left:0px;
padding:0px;
margin-top:-.5em;
}
	
.sitemap li{
margin-left:0px;
dsiplay:block;
word-wrap:normal;
line-height:1.3em;
margin-top:1em;
font-family:'FrutigerLTW01-57Condens', Arial, sans-serif;
}
	
.col {
display:inline-block;
width:15.8%; 
margin-left:1em;
vertical-align:top;
}

footer h4 {
color:#ffffff;
font-size:.8em;
font-family:'FrutigerLTW01-77BlackCn', Arial, sans-serif;
font-weight:normal;
margin-bottom:0px;
}

.stockquote {
float:right; 
clear:Both;
display:block;
background:#666666;
}

.stock {
background:#666666;
font-size:1.2em;
color:#ffffff;
list-style:none;
display:block;
}

.stock img {
width:24px;

height:15px;
display:inline-block;
}

footer .stock a {
color:#ffffff!important;
text-decoration:underline;
margin-left:0px;
padding-left:0px;
}




footer .legal a:link{ 
color:#666666;
text-decoration:underline;}

footer .legal {
float: none;
display:block;
width: 100%;
font-size: .7em;
line-height: normal;
color: #ffffff;
padding-left: 0%;
padding-right: 0%;
margin-right: 0px;
padding-top:1em;
text-align:left;
clear:both;
background:#666666;
border-top:1px solid #ffffff;}

.legal p {
margin-top:.-2em;
margin-right: 0px;
padding: 0px;}

.legal .top a:link {
color: #ffffff;!important;
text-decoration: underline;
float:right; vertical-align:top;
margin-top:-4em;}
	
footer .legal a:link {
color: #ffffff!important;
text-decoration: underline;
}

.ie6 footer .contact .email {
border:none;
padding:0px;
margin-left:10px;
margin-top:-10px;
float:left;}

/* Desktop Styles ----------------------------------------------------------------------------------- */

.i6 body {max-width:760px;}

.fixed-nav {display: none;}

a.menu-link {display: none;}

.js nav[role=navigation] {
max-height: none;
overflow: visible;}

.ie7 .js nav[role=navigation] {
max-height: none;
overflow: visible;}

.ie8 .js nav[role=navigation] {
max-height: none;
overflow: visible;}

nav[role=navigation] {
width: 100%;
display: none;}

.ie7 nav[role=navigation] {
width: 100%;
display: none;}

.ie8 nav[role=navigation] {
width: 100%;
display: none;}

.topConnect {display:none;}

.share-buttons-desktop {margin-left:0%;
margin-bottom:4em;
margin-top:1em;
clear:both;}

#social-links {margin:0 0 .5em -.1em;}

.MenuBarHorizontal .nav-search  a:link{
display:inline-block;
padding-left:0em!important;
padding-right:0em!important;
margin-left:.5em;
}


}

@media (max-width: 767px) {
  
.table-responsive {
width: 100%;
margin-bottom: 15px;
overflow-x: scroll;
overflow-y: hidden;
-webkit-overflow-scrolling: touch;
-ms-overflow-style: -ms-autohiding-scrollbar;
border: 1px solid #ddd;}

.table-responsive > .table {margin-bottom: 0;}

.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {white-space: nowrap;}
  
.table-responsive > .table-bordered { border: 0;}

.table-responsive > .table-bordered > thead > tr > th:first-child,
.table-responsive > .table-bordered > tbody > tr > th:first-child,
.table-responsive > .table-bordered > tfoot > tr > th:first-child,
.table-responsive > .table-bordered > thead > tr > td:first-child,
.table-responsive > .table-bordered > tbody > tr > td:first-child,
.table-responsive > .table-bordered > tfoot > tr > td:first-child {border-left: 0;}

.table-responsive > .table-bordered > thead > tr > th:last-child,
.table-responsive > .table-bordered > tbody > tr > th:last-child,
.table-responsive > .table-bordered > tfoot > tr > th:last-child,
.table-responsive > .table-bordered > thead > tr > td:last-child,
.table-responsive > .table-bordered > tbody > tr > td:last-child,
.table-responsive > .table-bordered > tfoot > tr > td:last-child {border-right: 0;}

.table-responsive > .table-bordered > tbody > tr:last-child > th,
.table-responsive > .table-bordered > tfoot > tr:last-child > th,
.table-responsive > .table-bordered > tbody > tr:last-child > td,
.table-responsive > .table-bordered > tfoot > tr:last-child > td {border-bottom: 0;}

}

@media only screen and (min-width: 800px) {
.wrapper {
width: 90%;
margin: 0 5%;
max-width: 1024px;}

/* Desktop Nav Styles */

#header_bottom {width:78%;}

ul.MenuBarHorizontal li a:link{
display:inline-block;
padding-left:.8em;
padding-right:.8em;
}






}

@media only screen and (min-width: 918px) {
	
.footer-globalpresence {margin-top:8.2em;}
.footer-globalpresence:after{height: 8.2em;}
}


@media only screen and (min-width: 1024px) {
	
.logo {
width: 153px;
margin: 24px 0px 17px 0px;}

.wrapper {
z-index:5; 
position:relative;}

header {
height:79px; 
z-index:6;
position:relative;}	

#header_bottom {margin-top:1.4em;}

ul.MenuBarHorizontal {font-size:.9em; }

ul.MenuBarHorizontal li {margin-right:0em;}

ul.MenuBarHorizontal li ul li a {padding: .5em .2em .5em .2em;}

ul.MenuBarHorizontal li  {
display:inline;
padding-top:.1em;
padding-bottom:0em;
}

.cyberbutton {  
padding-top: .5em;
padding-bottom: .5em;
margin-top: -0.5em;
}

.nav-search {height:2em;}

.search-icon {
padding: 0.48em 0.59em 0.5em;
font-size: .9em;
line-height: 2em;
}

#dd_search li {
padding-top:1em;
padding-bottom:.3em;
padding-left:1.2em;
padding-right:.3em;
width:100%;
border:none;
}

#dd_search {
margin-left: -248px;
width: 292px;
}

#dd_search input[type="submit"] {
margin-left: 0.5em;
padding: 0.4em 0em 1.8em;
text-align: center;
width: 25%;
font-size: .9em;
text-transform: uppercase;
display: inline-block;
margin-bottom: 0.75em;
vertical-align: top;
background-color: #666;
color: #FFF;
font-family:'FrutigerLTW01-57Condens', Arial, sans-serif;
}

/* -------Drop Downs------------ */

/* What We Do*/
#dd_ourcompany {
margin-top:0px;
margin-left: -1px;
width: 200px;
padding-top:1em;}

/* Who We Are*/
#dd_capabilities {
margin-top:0px;
margin-left: -1px;
width: 200px;
padding-top:1em;
}

/* Global*/
#dd_global {
margin-top:0px;
margin-left: -1px;
width: 200px;
padding-top:1em;
}

/* News*/
#dd_newsroom {
margin-top:0px;
margin-left: -1px;
width: 200px;
padding-top:1em;
}

	 
/* -------Footer------------ */

.footer-container footer {padding-bottom:2em;}

.footer-primary {width: 40%;}

footer .contact .vcard {font-size: 1.3em;}

.footer-globalpresence img {
float:right;
width:50%;
margin-top:-10em;
display:inline-block;
}

.footer-globalpresence:after{background: url('world_graphic.png' )/*tpa=http://www.raytheon.com/rtnwcm/groups/secure/documents/site/world_graphic.png*/;
background-repeat: no-repeat;
display: inline-block;
max-width: 59%;
height: 8em;
float:right;
margin-top:-10.5em;
content: "";
background-size: 100%;
}

footer .sitemap {width:59%}	
	
.sitemap ul{
font-size:.9em;
margin-top:-.2em;
}

footer .col {width: 16.3%}

.sitemap li {margin-top: .5em;}

footer h4 {
font-size:1em;
font-weight:normal;
font-family:'FrutigerLTW01-77BlackCn', Arial, sans-serif;
}


	

	
}



/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection {
ul.MenuBarHorizontal li.MenuBarItemIE {display: inline;float: left;}

}
/* !Helper classes ========================================================================== */
.ir {
background-color: transparent;
border: 0;
overflow: hidden;
*text-indent:-9999px;}

.ir:before {
content: "";
display: block;
width: 0;
height: 150%;}

.hidden {
display: none!important;
visibility: hidden;}

.visuallyhidden {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
clip: auto;
height: auto;
margin: 0;
overflow: visible;
position: static;
width: auto;}

.invisible {visibility: hidden;}

.clearfix:before, .clearfix:after {
content: " ";
display: table;}

.clearfix:after {clear: both;}

.clearfix {*zoom:1;}

.screen-reader-text {
/* Reusable, toolbox kind of class */
position: absolute;
top: -9999px;
left: -9999px;}

/* !Print styles========================================================================== */
@media print {
* {
background: transparent!important;
color: #000!important;
box-shadow: none!important;
text-shadow: none!important;}

a, a:visited {text-decoration: underline;}
/*
 * Don't show links for images, or javascript/internal links
 */
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content: "";}

pre, blockquote {
border: 1px solid #999;
page-break-inside: avoid;}

thead {display: table-header-group;/* h5bp.com/t */}
	
tr, img {page-break-inside: avoid;}
	
img {
width:auto;
max-width: 100%!important;}

@page {margin:.5cm;}

p, h2, h3 {
orphans: 3;
widows: 3;}

h2, h3 {page-break-after: avoid;}

.desktopNav, .fixed-nav, #menu, a.menu-link {display:none;}

.logo {width:153px;}

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  .replace-2x {
	font-size: 1px;
}
}




