@charset "utf-8";    

/* 	Master Brand eWebeditPro Support Stylesheet Footer Only
	This is for all non-template generated styles.
----------------------------------------------------*/


/* 	Links: 3 Columns
----------------------------------------------------*/
#linksectionwrapper,#footerwrapper{font-family:Arial,Helvetica,sans-serif;font-size:13px;margin:0 auto;overflow:hidden;padding:0;width:1000px}
#linksectionwrapper *,#footerwrapper *{outline:medium none}
#linksectionwrapper a,#footerwrapper a{text-decoration:none}
#linksection{background:#00538A;color:#fff;overflow:hidden;padding:0 0 15px 7px;position:relative;width:993px}
#linksection a{color:#fff}
.flinkgroup{float:left;margin-top:20px;min-height:630px;overflow:hidden;position:relative;width:334px}
.flinkgroup2{width:322px}
.flinksection{border:0px solid red;overflow:hidden;padding:0 0 5px 15px;position:relative}
.flinksection2{background:url(http://www.prudential.com/media/system/cda/public/bg-flinkgroup.jpg) bottom left no-repeat;padding-left:20px}
.flinksection3{background:url(http://www.prudential.com/media/system/cda/public/bg-flinkgroup3.jpg) bottom left no-repeat;margin-top:0;width:335px}
#linksection .linkgtitle{font-size:14px;font-weight:600;margin-top:0px;padding-bottom:5px;text-transform:uppercase}
.flinksection p{font-weight:600;margin:20px 0 10px}
#linksection .flinksection p a:hover{color:#B8D3E5}
#linksection .firstlgtitle{border-right:1px solid #0D5B8F}
ul.borderedsection,.flinksection ul{display:block;list-style-type:none;margin:0;overflow:hidden;padding:0}
ul.borderedsection li,.flinksection ul li,ul.mediasites li{display:block;font-size:12px;line-height:13px;margin:0px 0 8px;padding: 0}
#linksection ul.borderedsection li a:hover,#linksection .flinksection ul li a:hover{background:url(http://www.prudential.com/media/system/cda/public/arrow-blue.jpg) center right no-repeat;color:#B8D3E5;padding-right:10px}
ul.borderedsection{border-bottom:1px solid #003E67;padding:20px 15px}
.proflogin{background:url(http://www.prudential.com/media/system/cda/public/bg-proflogin.jpg) repeat-y;color:#FFD200;margin:0;padding:20px 0;text-align:center}
#linksection .proflogin a{background:url(http://www.prudential.com/media/system/cda/public/arrow-yellow.png) right center no-repeat;color:#FFD200;font-size:12px;font-weight:600;margin:0;padding:0;padding-right:10px;text-decoration:none;text-transform:uppercase}
* html #linksection .proflogin a{font-size:11px}

/* Lower Right Logo */
#linksection a.bringchallenges{bottom:115px;cursor:pointer;display:block;height:90px;position:absolute;right:100px;width:210px;z-index:200}

/* Social Media Icon Area */
.linksectionbottom{bottom:10px;position:absolute;right:15px;width:245px}
p.followus{color:#fff;float:left;font-family:PrudentialModern;font-size:1.5em}
ul.mediasites{display:block;float:left;list-style-type:none;margin:18px 0 0;overflow:hidden;padding:0}
ul.mediasites li{float:left;margin-left:5px}
ul.mediasites lI a{margin:0px}
ul.mediasites lI a img {margin:0;padding:0;border:none}


/* 	Legal
----------------------------------------------------*/
#footer{background-color:#002346;clear:both;color:#FFF;overflow:hidden;padding:10px 20px 20px;width:960px}
#footerlinks{margin-bottom:10px}
#footerlinks ul{clear:both;display:block;float:left;list-style-type:none;margin:0;overflow:hidden;padding:0;width:100%}
#footerlinks ul li{border-left:1px solid #0B618C;display:block;float:left;margin-right:10px;padding-left:10px}
#footerlinks ul li.firstlistitem{border:0;padding:0}
#footerlinks ul li a{color:#007BCF}
#footer{color:#93B3C8;font-size:12px;overflow:hidden;padding:20px 20px 20px 10px;width:970px}
#footer a{color:#fff}
.roundfooter{overflow:hidden}
.footertxt p{margin-left:10px}
.footertxt p.roundedtitle{margin-bottom:0.5em}
.footertxt p.roundedtext{background:#002850;border:1px solid #103354;border-radius:10px;float:left;line-height:25px;margin-left:0;margin-top:0;-moz-border-radius:10px}
.footertxt p.roundedtext span{padding:0 10px}
.flinkgroup{*min-height:660px;_height:670px}
.flinksection p{*margin-top:1em}
#linksection .proflogin a{_background:url(http://www.prudential.com/media/system/cda/public/arrow-yellow.jpg) right center no-repeat}
.linksectionbottom{_width:300px}
.footertxt p.roundedtext{background:url(http://www.prudential.com/media/system/cda/public/bg-footer-round.jpg) top left no-repeat\9;border-width:0\9}
ul.mediasites{*margin-top:0}
@media screen and (-webkit-min-device-pixel-ratio:0) {  #linksection .proflogin a {  font-size:11px;  }  #linksection .proflogin {  padding-left:12px;  }  }

#linksectionwrapper a:focus{
	outline:#fff dotted 1px !important;
}

#footerwrapper a:focus{
	outline:#fff dotted 1px !important;
}