/* Master Brand Screen Stylesheet
   Comments: Leaving uncompressed until last stage move for easy modification
   ----------------------------------------------------*/

/* = Typography
 ----------------------------------------------------*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
	background: #e1e1e1 url(/media/system/cda/public/background.jpg) top center no-repeat;
}
#print-logo {
	display: none;
	visiblity: hidden
}
* {
	outline: medium none;
	/*zoom: 1;*/
}
a {
	color: #069ED3;
	text-decoration: none;
}
a:hover {
	color: #0261a0;
}
img {
	border: 0px;
}
sup {
	font: Verdana, Geneva, sans-serif;
	font-size: x-small;
	vertical-align: top;
}
sub {
	font: Verdana, Geneva, sans-serif;
	font-size: x-small;
	vertical-align: bottom;
}
small {
	font: 9px Verdana, Geneva, sans-serif;
	vertical-align: top;
}
.clear {
	clear: both;
}
blockquote {
	padding: 15px;
}
ul {
	list-style: square outside none;
	margin: 16px 0;
	marker-offset: auto;
	padding: 0 0 0 40px;
	vertical-align: baseline;
}
ol {
	list-style: decimal outside none;
	margin: 16px 0;
	marker-offset: auto;
	padding: 0 0 0 40px;
	vertical-align: top;
}
li {
	display: list-item;
	list-style-image: none;
	list-style-position: outside;
	margin: 5px 0;
	marker-offset: auto;
	padding: 0 0 0 5px;
	vertical-align: top;
}
/* = Secondary Headers
   ----------------------------------------------------*/

.sectiontitle, h2 {
	display: block;
	color: #595959;
	font-size: 18px;
	font-weight: normal;
	padding: 0;
	margin: 0 0 12px 0
}
/* = Tertiary Headers
   ----------------------------------------------------*/
   	   
#content p.subsectiontitle, #content-wide p.subsectiontitle {
	margin: 0;
	padding: 0;
}
#main .subsectiontitle .promo-headline, #main .promo-headline, #main .header, #main .title_hdr, #main .titleHdr {
	color: #595959;
	font-size: 15px;
	font-weight: 600;
	line-height: 19px;
	margin: 0;
	padding: 0;
}
#main .subsectiontitle a.promo-headline, #main a.promo-headline, #main .header a {
	color: #069ED3;
	text-decoration: none;
}
#main .subsectiontitle a.promo-headline:hover, #main a.promo-headline:hover #main .header a:hover {
	color: #0261a0;
}
.promo-blurb {
	margin: 0 0 30px 0;
}
/* = General Layout
   ----------------------------------------------------*/

#topwrapper, #contentwrapper, #interiorcontentwrapper, #homecontentwrapper, #linksectionwrapper, #footerwrapper, #contentholder, #innerwrapper, #legal-statements {
	clear: both;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
#topwrapper, #contentwrapper, #interiorcontentwrapper, #homecontentwrapper, #linksectionwrapper, #footerwrapper, #innerwrapper {
	min-width: 1000px;
}
#contentholder, #innerwrapper {
	width: 1000px;
}
#contentholder, #legal-statements {
	overflow: hidden;
}
/* = Masthead
   ----------------------------------------------------*/
#topwrapper {
	background: url(/media/system/cda/public/bg-wrapper.gif) repeat-x top left;
}
#topcontent {
	min-height: 89px;
	padding-top: 16px;
}
.pageheader {
	background: url(/media/system/cda/public/pruheaderlogo.png) no-repeat;
	float: left;
	height: 49px;
	width: 209px;
}
.headerlinks {
	float: right;
	overflow: hidden;
	text-transform: uppercase;
	width: 240px;
}
.headerlinks a {
	color: #9ED9FB;
	cursor: pointer;
	display: block;
	float: right;
	font-size: 0.8em;
	margin: 6px 22px 0 0;
	text-decoration: none;
}
.searchbox {
	background: url(/media/system/cda/public/bg-searchbox.gif) no-repeat scroll left top transparent;
	float: right;
	height: 30px;
	margin-right: 8px;
	margin-top: 2px;
	overflow: hidden;
	padding: 2px 0 0 3px;
	width: 147px;
}
.searchinputtext {
	float: left;
}
.gsa-term {
	border: 0 none;
	color: #5E727D;
	float: left;
	font-size: 12px;
	padding: 0px 0 0px 5px;
	width: 115px;
	position:absolute;
	z-index:10000;
}
.gsa-go {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 27px;
	margin-top: -2px;
	text-decoration: none;
	width: 34px;
	position:absolute;
	left:15px;
	z-index:1000;
	/* IE6, IE7, IE8 */
	background: #666\9;
	filter: alpha(opacity=0);
	
}
/* IE9 */
:root .gsa-go {  
	background: #666\9;
	filter: alpha(opacity=0);
}

.headerdropdownbox {
	float: right;
	height: 24px;
	margin: 0;
	padding: 2px;
	position: relative;
	width: 252px;
}
select.headerdropdown {
	background-color: #FFD200;
	margin-left: 3px;
	width: 250px;
}
/* = Navigation: First-Level 
   ----------------------------------------------------*/
   
.topnav {
	float: right;
	height: 27px;
	margin: 9px 0 0 47px;
	overflow: visible;
	position: relative;
	width: 952px;
}
.opennav {
	background-position: bottom left;
}
.navitem {
	background: transparent url(/media/system/cda/public/bg-menu.jpg) no-repeat;
	background-position: 0 0;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 0px;
	height: 27px;
	padding: 0 13px 0 15px;
}
.navitem a {
	display: block;
	height: 27px;
	text-decoration: none;
}
.navitem1 {
	background-position: 0 0;
	width: 83px;
}
.products {
	background-position: -111px 0;
	/*width: 131px;*/
}
.navitem3 {
	background-position: -270px 0;
	width: 158px;
}
.navitem4 {
	background-position: -456px 0;
	width: 124px;
}
.navitem5 {
	background-position: -608px 0;
	width: 145px;
}
.navitem6 {
	background-position: -781px 0;
	width: 66px;
}
.navitem7 {
	background-position: -875px 0;
	margin-right: 0;
	padding-right: 0;
	width: 52px;
}
/* = Navigation: Second-Level 
   ----------------------------------------------------*/
   
/* changes done for color contrast issue for tabs anchor added new classes */   
.primarycategories {
	/*background: #fff url(/media/system/cda/public/bg-menupanel-innerps-5.jpg) no-repeat;*/
	background-position: top left;
	height: 60px;
	overflow: hidden;
	position: relative;
	width: 98%;
}
/* IBM: Pushed carrot 23 pixels to the left to center it under products & services */
.top-border{
background:url("/media/system/cda/public/bg-menu-top.jpg") no-repeat -23px 0px;
height:14px;
}
.tabtxt{
color:#0261A0;
font-size:15px;
font-weight:bold;
}
.currenttab{
background:#fff;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
}
.pcindactive {
	background-position: 0 0px;
}
.pcbusactive {
	background-position: 0 -60px;
}
.primarycategories a {
	display: block;
	float: left;
	height: 26px;
	margin: 15px 13px 0 12px;
}
.primarycategories a.pcindividual {
	width: 247px;
	height: 32px;/* added for color contrast */
    padding-left: 14px;/* added for color contrast */
}
.primarycategories a.pcindividual:hover {
	/*background: url(/media/system/cda/public/bg-btn-menu-border-11.png) no-repeat;*/
	background: url("/media/system/cda/public/bg-btn11.png") no-repeat;
}
.pcindactive a.pcindividual:hover {
	background: #fff; /* changed for color contrast */
}
/* changed below class style for color contrast */
.primarycategories a.pcbusiness {
	width: 405px;
	height: 32px;
	margin-left: -12px;
    padding-left: 20px;
}
.primarycategories a.pcbusiness:hover {
	/*background: url(/media/system/cda/public/bg-btn-menu-border-12.png) no-repeat;*/
	background: url("/media/system/cda/public/bg-btn22.png") no-repeat;
}
.pcbusactive a.pcbusiness:hover {
	background: #fff;/* changed for color contrast */
}
.fullexposure {
	overflow: hidden;
}
.menupanel, .menuitems {
	clear: both;
	color: #012348;
	display: none;
	height: 264px;
	overflow: hidden;
	position: relative;
}
.menupanel {
	background: #fff url(/media/system/cda/public/bg-menupanel-5.jpg) repeat-x;
}
.menuitems {
	display: block;
	height: 244px;
	margin: 0 auto;
	overflow: hidden;
	width: 1000px;
}
.menusection {
	display: none;
	float: left;
	margin-top: 20px;
	overflow: hidden;
	width: 1000px;
}
.activems {
	display: block;
}
.menuitems h2 {
	font-size: 16px;
	margin: 34px 0 0 0;
	text-transform: uppercase;
}
.menuitems .links {
	border-right: 1px solid #DADADA;
	float: left;
	height: 140px;
	min-width: 174px;
	padding: 0 12px 0 10px;
}
.width217 {
	width: 217px;
}
.menuitems .lastlinks {
	border: 0;
}
.menuitems .firstlinks {
	padding-left: 25px;
}
.menuitems .links a, .menuitems .links h3 {
	color: #012348;
	font-size: 13px;
}
.menuitems .links p.linkstitle {
	color: #0261A0;
	font-size: 1em;
	font-weight: 600;
	margin-bottom: 0.3em;
	margin-top: 0;
}
.menuitems .links p.linkstitle a {
	color: #0261A0;
}
/* IBM: Added focus underline to menu items to increase visibility and removed outline on focus (the focus outlines overlapped) */
.menuitems .links p.linkstitle a:hover {
	color: #069ED3;
}
.menuitems .links p {
	margin: 10px 0 20px;
}
.menuitems .links ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menuitems .links ul li {
	line-height: 13px;
	*line-height: 15px;
	margin: 8px 0;
	padding: 0;
	width: 155px;
}
.menuitems .links ul li a {
	color: #069ED3;
	font-size: 12px;
	padding-right: 10px;
}
/* IBM: Added focus underline to menu items to increase visibility and removed outline on focus (the focus outlines overlapped)*/
.menuitems .links ul li a:hover, .menuitems .links ul li a:focus{
	background: url(/media/system/cda/public/bg-menuitemhover.png) right 5px no-repeat;
	color: #0261A0;
	*float:left; /*added to fix IE7 issue*/
}
.menuitemsbottom {
	clear: both;
	display: block;
	float: left;
	margin-top: 12px;
	width: 100%;
}
.menuitemsbottom ul {
	clear: both;
	display: block;
	float: left;
	list-style-type: none;
	margin: 0px 0 5px 30px;
	overflow: hidden;
	padding: 0;
	width: 950px;
}
.menuitemsbottom ul li {
	cursor: pointer;
	display: block;
	float: left;
	margin-right: 10px;
	padding-left: 10px;
}
.menuitemsbottom ul li.title {
	cursor: default;
	font-weight: 600;
	padding-left: 0px;
}
.menuitemsbottom ul li a {
	color: #012348;
	text-decoration: none;
}
.menuitemsbottom ul li a:hover {
	text-decoration: underline;
}
.closemenu {
	background: #00538A url(/media/system/cda/public/menu-close.jpg) center center no-repeat;
	border: 1px solid #5E92B5;
	border-width: 1px 0;
	clear: both;
	cursor: pointer;
	float: left;
	font-size: 1px;
	height: 18px;
	position: relative;
	width: 100%;
}
/*code to add focus to closemenu- Vinod*/
.closemenu:focus {
	outline:1px dotted;
}
/* = Content Area: Below Navigation, Above Legal
   ----------------------------------------------------*/
   
#contentholder {
	background-color: #fff;
}
#contentwrapper, #interiorcontentwrapper {
	background: url(/media/system/cda/public/bg-content.gif) repeat-x;
	overflow: hidden;
}
#interiorcontentwrapper {
	background: url(/media/system/cda/public/bg-interior-content.gif) repeat-x;
}
#interiorcontentwrapper #contentholder {
	border: 1px solid #b7b7b7;
	border-bottom: 0px;
	width: 998px;
}
/* = Utilities  
.breadcrumb -> #utilities  
.crumb  -> #breadcrumb  
->#tools  
   ----------------------------------------------------*/
   
h1#page-title {
	background-color: #F5F5F5;
	color: #002346;
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 5px 0;
	padding: 50px 20px 10px;
	text-transform: uppercase;
}
#move-banner, #bannerholder {
	margin: 0;
	padding: 0;
}
#utilities, #no-breadcrumb {
	overflow: hidden;
	height: 53px;
	margin: 0;
	padding: 0 10px 0 20px;
}
#breadcrumb {
	float: left;
	margin: 20px 0 0 0;
	padding: 0;
	width: 695px;
}
span#active-breadcrumb, span.active-breadcrumb {
	margin: 0;
	padding: 0;
}
#tools {
	display: block;
	float: right;
	height: 20px;
	margin: 20px 0 0 0;
	overflow: hidden;
}
.printicon {
	background: url(/media/system/cda/public/icon-print.png) no-repeat;
	cursor: pointer;
	display: block;
	height: 20px;
	width: 55px;
}
/* = CONTENT AREA / ONE-TWO COLUMN LAYOUT  
Added existing structure id/classes to MB Redesign style rules.  
#interiorcontentwrapper = New  
.content = #main 
.contentleft = #content  
.contentright = #sidebar  
.fullpagearticle = #content-wide  
   ----------------------------------------------------*/
#interiorcontentwrapper #main, #interiorcontentwrapper .content {
	padding: 0 5px 0 20px;
}
#interiorcontentwrapper #main {
	overflow: hidden;
	padding-bottom: 75px;
}
#main, .content {
	clear: both;
	float: left;
	overflow: hidden;
	padding: 0 12px;
	position: relative;
}
#content, #sidebar, .contentleft, .contentright {
	float: left;
	min-height: 50px;
	overflow: hidden;
}
#content, .contentleft {
	margin: 0 51px 0 0;
	width: 650px;
}
#sidebar, .contentright {
	width: 272px;
}
.fullpagearticle, #content-wide {
	width: 969px;
}
.fullsection, .articlesection {
	margin-bottom: 100px;
	width: 100%;
}
#content ul, #content-wide ul {
	margin: 0.5em 0;
	padding-left: 15px;
}
#content ul li, #content-wide ul li {
	background: url('/media/system/cda/public/bullet-bluegrey.jpg') no-repeat left 7px;
	line-height: 18px;
	list-style-type: none;
	padding-left: 10px;
}
#content p, #content-wide p {
	line-height: 18px;
	margin: 0;
	padding: 0 0 8px 0;
}
/* = Call To Action (Top/Bottom)   
   ----------------------------------------------------*/
#cta_top, #cta_btm {
	background-color: #F2F2F2;
	border-bottom: 1px solid #CECECE;
	border-top: 1px solid #CECECE;
	margin: 0;
	padding: 8px 10px 5px 5px;
}
#cta_top {
	margin: 20px 0;
}
#cta_btm {
	margin: 20px 0;
}
#cta_top ul, #cta_btm ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#cta_top li, #cta_btm li {
	background-image: url(/media/system/cda/public/icon_bullet.gif);
	background-position: 0 .2em;
	background-repeat: no-repeat;
	display: block;
	line-height: 15px;
	margin: 0 0 3px 0;
	padding: .2em 0 .2em .8em;
	vertical-align: middle;
}
#cta_top li a, #cta_btm li a {
	margin: 0;
	padding: 0;
}
#floater {
	margin: 0 0 10px 0;
	padding: 0;
	overflow: hidden;
}
/* = Related Products And Services 
   ----------------------------------------------------*/
#related-products-and-services {
	clear: both;
	float: left;
	font-size: 1.2em;
	font-weight: 600;
	margin: 20px 0 20px 0;
	width: 100%
}
#related-products-and-services .col {
	float: left;
	margin: 0;
	padding: 0 20px 0 0;
	width: 230px;
}
#related-products-and-services h4 {
	border-bottom: 1px solid #C1C1C1;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0 0 5px 0;
	text-indent: 4px;
	color: #595959;
	font-size: 14px
}
#content #related-products-and-services ul, #content-wide #related-products-and-services ul {
	margin: 0.5em 0;
	padding: 5px 0 0 5px
}
#content #related-products-and-services ul li, #content-wide #related-products-and-services ul li {
	background: url('/media/system/cda/public/bullet-bluegrey.jpg') no-repeat left 7px;
	line-height: 18px;
	list-style-type: none;
	padding-left: 12px
}
#related-products-and-services .col ul li a {
	font-size: 13px;
	font-weight: normal
}
#related-products-and-services .col ul li a img {
	padding: 0 0 0 5px
}
/* = Listing Of Pages
   ----------------------------------------------------*/
.listingPages .tab_body {
	padding: 8px
}
.listingPages #lop-content {
	float: left;
	width: 650px;
}
.listingPages #lop-sidebar {
	float: right;
	margin: 0;
	width: 272px;
}
.listingPages #td1, .listingPages #td2, .listingPages #td3, .listingPages #td4, .listingPages #td5, .listingPages #td6, .listingPages #td7, .listingPages #td8, .listingPages #td9, .listingPages #td10, .listingPages #td11, .listingPages #td12, .listingPages #td13, .listingPages #td14, .listingPages #td15, .listingPages #td15 {
	cursor: pointer;
	height: 26px;
}
.listingPages .tab_off1, .listingPages .tab_off2, .listingPages .tab_off3, .listingPages .tab_off4, .listingPages .tab_off5, .listingPages .tab_off6, .listingPages .tab_off7, .listingPages .tab_off8, .listingPages .tab_off9, .listingPages .tab_off10, .listingPages .tab_off11, .listingPages .tab_off12, .listingPages .tab_off13, .listingPages .tab_off14, .listingPages .tab_off15 {
	background-color: #FFF;
	border-bottom: 1px solid #D1E1F3;
	padding: 2px 8px;
	text-align: center;
}
.listingPages .tab_off {
	background-color: #FFF;
	border: 1px solid #D1E1F3;
	font: bold 12px/17px Verdana, Arial, Helvetica, sans-serif;
	height: 25px;
	padding: 2px 8px;
	text-align: center;
}
.listingPages .tab_hover {
	background-color: #AFCEF2;
	background-repeat: repeat-x;
	border: 1px solid #D1E1F3;
	font: bold 12px/17px Verdana, Arial, Helvetica, sans-serif;
	height: 25px;
	padding: 2px 8px;
	text-align: center;
}
.listingPages .tab_on {
	background-color: #F9FBFD;
	background-image: url("/media/system/cda/public/bg_tab.gif");
	background-repeat: repeat-x;
	border-left: 1px solid #D1E1F3;
	border-right: 1px solid #D1E1F3;
	border-top: 1px solid #D1E1F3;
	font: bold 12px/17px Verdana, Arial, Helvetica, sans-serif;
	height: 30px;
	padding: 2px 8px;
	text-align: center;
}
.listingPages .tab_spacer {
	background-color: #FFF;
	border-bottom: 1px solid #D1E1F3;
	width: 5px;
}
.listingPages a.tab_off_link:visited, .listingPages a.tab_off_link {
	color: #316DB8;
	font: bold 12px/17px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.listingPages a.tab_off_link:hover {
	color: #FFF;
	font: bold 12px/17px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.listingPages .tab_body {
	background-color: #F9FBFD;
	border-bottom: 1px solid #D1E1F3;
	border-left: 1px solid #D1E1F3;
	border-right: 1px solid #D1E1F3;
}
/* = Overview 2
   ----------------------------------------------------*/
.overview2 table tr {
	margin: 0;
	padding: 0
}
.overview2 .promo-blurb {
	margin: 0;
	padding: 0 0 30px 0
}
.overview2 #content .promo-blurb p, .overview2 #content-wide .promo-blurb p {
	margin: 0;
	padding: 0
}
/* = Simple Article: Tutorial Support
   ----------------------------------------------------*/
#tutorial-navigator {
	padding: 0 0 15px 0
}
#tutorial-navigator form, #tutorial-navigator select {
	margin: 0;
	padding: 0
}
/* = Next Steps
   ----------------------------------------------------*/

#next-steps {
	clear: both;
	overflow: hidden;
	padding: 0 0 15px 0;
}
/* = Related Link Box
   ----------------------------------------------------*/
#sidebar .sidebar-gradient {
	background: url(/media/system/cda/public/bg-rtcs-1.gif) repeat-x scroll 0 34px #FFF;/*34pxtoknockthestartpointdownpasttheblueheader.*/
	margin-bottom: 40px;
	overflow: hidden
}
.related-link-box {
	clear: both;
	overflow: hidden
}
.related-link-box h3 {
	background: #5A799C url(/media/system/cda/public/bg-rtcstitle.jpg) no-repeat scroll 0 0;
	color: #FFF;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	padding: 9px 21px
}
.related-link-box h3 span {
	display: block;
	margin: 0;
	padding: 0
}
div.related-link-box.first h3 {
	background: #5A799C url(/media/system/cda/public/bg-rtsectop.jpg) no-repeat scroll 0 0;
	color: #FFF;
	font-weight: normal;
	margin: 0
}
.related-link-box .inner {
	border: 1px solid #EBEBEB;
	margin: 0;
	overflow: hidden;
	padding: 15px 0 15px 21px
}
p.eWebEditPro {
	color: #595959;
	margin: 0 22px 0 0
}
.related-link-box ul {
	list-style-type: none;
	margin: 10px 0 0 0;
	padding: 0
}
.related-link-box ul li {
	margin: 0 0 8px 0;
	padding: 0;
	width: 235px
}
.related-link-box ul li a {
	margin: 0;
	padding: 0;
	line-height: 18px
}
.related-link-box ul li a:hover {
	color: #0261A0
}
.related-link-box ul li a img {
	padding: 0;
	margin: 0;
	outline: none
}
a.more {
	background: url(/media/system/cda/public/arrow.png) no-repeat scroll right 6px transparent;
	display: block;
	height: 18px;
	text-align: top;
	width: 42px;
	margin: 0 0 5px 0;
}
/* = Product Info Box   
	----------------------------------------------------*/  
.product-info-group {
	clear: both
}
.product-info-group h3 {
	background: #5A799C url(/media/system/cda/public/bg-rtcstitle.jpg) no-repeat scroll 0 0;
	color: #FFF;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	padding: 9px 21px
}
.product-info-group h3 span {
	display: block;
	margin: 0;
	padding: 0
}
.product-info-group.first h3 {
	background: #5A799C url(/media/system/cda/public/bg-rtsectop.jpg) no-repeat scroll 0 0;
	color: #FFF;
	font-weight: normal;
	margin: 0
}
.product-info-group {
	margin: 15px 0 0 0
}
.product-info-group .inner {
	border: 1px solid #EBEBEB;
	margin: 0;
	overflow: hidden;
	padding: 15px 0 30px 21px
}
.product-info-group .related-link-box {
	overflow: hidden;
	margin: 0 0 5px 0
}
.product-info-group .related-link-box h2 {
	font-size: 1.2em;
	font-weight: normal;
	margin: 10px 0 0 0;
	padding: 0
}
.product-info-group .related-link-box .inner {
	border: none;
	margin: 0;
	overflow: hidden;
	padding: 2px 0 0 0
}
/* = Footer: Master Brand 
	(All MB style footers should use LS Type "Footer Bar" footer-bar)
   ----------------------------------------------------*/
#legal-statements {
	width: 998px;
	background: #fff;
	border-left: 1px solid #B7B7B7;
	border-right: 1px solid #B7B7B7;
	clear: both;
	margin: 0 auto;
	padding: 0;
}
/* = Footer: Old Footer Styles 
	(Other Styles available via the CMA)
   ----------------------------------------------------*/
.footnotes0, .tier00, .tier21, .tier02, .AMS_Disclaimer, .Footer_Bar_Mobile, .Footenote_Mobile {
	margin: 0 20px;
	padding: 0 0 10px 0;
}
/*  FAQ
----------------------------------------------- */ 
#titleHdr {
	background-color: #E2EDF9;
	border: 1px solid #E2EDF9;
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 20px;
	padding: 3px 5px 3px 10px;
}
element.style {
	border-bottom: 1px dotted #CCCCCC;
}
.arrow_link_orange {
	color: #FF6600;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	padding-right: 3px;
}
.FAQ table, .FAQ table tr {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
.FAQ table td {
	vertical-align: top;
}
.FAQ table td a p {
	margin: 0;
	padding: 0;
}
/* = Misc.
   ----------------------------------------------------*/

.rtcontentsecbody {
	padding: 15px 0 30px 13px;
	overflow: hidden;
	border: 1px solid #ebebeb;
	border-width: 0 1px;
}
.rtcontentsecbody .subgrouptitle, .rtcontentsecbody .subgroupdesc {
	margin: 0;
}
.rtcontentsecbody .subgrouptitle {
	margin-top: 15px;
	font-size: 1.2em;
}
.rtcontentsecbody .subgroupdesc {
	color: #595959;
	margin-bottom: 10px;
}
.lastrtcs {
	border-bottom-width: 1px;
	padding-bottom: 35px;
	min-height: 100px;
}
.rtcontentsecbody a {
	width: 90%;
	margin-bottom: 5px;
}
p.topcontentsectiontitle {
	background: url(/media/system/cda/public/bg-rtsectop.jpg) no-repeat;
	margin: 0;
	color: #fff;
	font-size: 15px;
	height: 14px;
	padding: 10px 21px;
}
div.rtcsholder {
	overflow: hidden;
	background: #fff url(/media/system/cda/public/bg-rtcs-1.gif) repeat-x;
	margin-bottom: 60px;
}
p.contentsectiontitle {
	color: #fff;
	background: url(/media/system/cda/public/bg-rtcstitle.jpg) no-repeat;
	height: 15px;
	margin: 0;
	padding: 9px 21px;
	font-size: 15px;
	margin: 0;
}
.rightcontentsection ul.relatedlinklist {
}
.rightcontentsection ul.relatedlinklist li {
	width: 90%;
	margin-bottom: 5px;
}
p.sectionsubtitle {
	font-size: 1.2em;
	font-weight: 600;
	margin-top: 35px;
}
/*  Fixes: IE
----------------------------------------------- */ 

.pageheader {
	_background: url(/media/system/cda/public/pruheaderlogo.jpg) no-repeat;
}
.printicon {
	_background: url(/media/system/cda/public/icon-print.gif) no-repeat;
}
.contactus, .rightcontentsection, .btnlink {
*clear:none;
}
.breadcrumb, p.leadingp {
*margin-top:1em;
}
.leftcontentsection {
*margin-top:40px;
}
.rtcontentsecbody {
*padding-bottom:10px;
}
.vlinks a {
*white-space:nowrap;
}
.vlinks {
	_width: 160px;
}
.menuleftsection, .menurightsection {
	_width: 450px;
	_padding: 0;
}
.menuitems .links {
 *height:155px;
	_height: 160px;
	_width: 165px;
}
.menuitems .firstlinks {
	_width: 135px;
}
.menupanelfullopen {
	_height: 254px;
}
.menuitemsfullopen {
	_height: 234px;
}
.fullexposure {
	_height: 174px;
}
.menusection {
	_margin-top: 20px;
}
.menuitems {
	_margin-top: 0;
}
.menuitems h2 {
*margin-bottom:20px;
*margin-top:24px;
}
.menuitemsbottom {
*margin-top:2px;
}
.menuitems .links p {
*margin-bottom:12px;
}
.navitem {
	_font-size: 1px;
}
body div.menupanel {
	_border: 0px solid yellow;
	_margin-left: 0px;
}
#linksection {
	_padding-top: 20px;
}
.footerprulogo {
*margin-bottom:20px;
}
.navitem {
	_border: 0px solid red;
	height: 20px;
}
.navitem1 {
	_width: 80px;
}
.searchtext {
	_padding: 2px 0 0 5px;
}
.articlesection {
*padding-bottom:100px;
}
/* PHP Pages
----------------------------------------------------*/
.phpAssociateList #main {
	clear: both
}
.phpAssociateList #associates .odd {
	background: #FFF
}
.phpAssociateList #associates .even {
	background: #EDF4FB
}
.php-video {
	padding: 8px 0 0;
	margin: 0;
	text-align: center;
	width: 230px;
}
.php-video a {
	margin: 0;
	padding: 0;
}
.php-video img {
	margin: 0;
	padding: 8px 0 0 0;
}
#market-watch-iframe {
	height: 174px;
	width: 182px;
	border: none;
	padding: 0 0 0 22px;
	margin: 0 auto;
}
#php-producer-info .colmask {
	clear: both;
	float: left;
	overflow: hidden;
	position: relative;
	width: 620px;
}
#php-producer-info .colright, #php-producer-info .colmid, #php-producer-info .colleft {
	float: left;
	position: relative;
	width: 100%;
}
#php-producer-info .col1, #php-producer-info .col2, #php-producer-info .col3 {
	float: left;
	overflow: hidden;
	padding: 0 0 1em 0;
	position: relative;
}
#php-producer-info .threecol {
}
#php-producer-info .threecol .colmid {
	right: 25%;
}
#php-producer-info .threecol .colleft {
	right: 50%;
}
#php-producer-info .threecol .col1 {
	left: 97%;
	margin: 4px 0 0 0;
	width: 45%;
}
#php-producer-info .threecol .col2 {
	left: 31%;
	margin: 10px 0 0 0;
	width: 20%;
}
#php-producer-info .threecol .col3 {
	left: 79%;
	width: 31%;
}
#php-producer-info .twocol {
}
#php-producer-info .twocol .colmid {
	right: 0;
}
#php-producer-info .twocol .colleft {
	right: 75%;
}
#php-producer-info .twocol .col1 {
	left: 97%;
	margin: 4px 0 0 0;
	width: 100%;
}
#php-producer-info .twocol .col2 {
	left: 31%;
	margin: 10px 0 0 0;
	width: 19%;
}
#php-producer-info #image-map {
	clear: both;
	text-align: center;
	padding: 15px 0 0 0;
	width: 100%;
}
/* Outer block that hold end-cap graphic
----------------------------------------------------*/
#php-outer {
	margin: 0;
	padding: 0;
	position: relative;
	width: 630px;
}
/* Inner block that holds content below
----------------------------------------------------*/
#php-inner {
	border: 1px solid #999;
	width: 100%;
}
/* Padding for content boxes
----------------------------------------------------*/
.text-wrap {
	padding: 0 10px;
}
/* Branch Info
----------------------------------------------------*/
#php-branch-info, #php-producer-info {
	background: #fff url(/media/system/cda/public/php_cell_image_bg.gif) repeat-x 0 0;
	margin: 0;
	padding: 0;
	width: 100%;
}
#php-branch-info #info1 {
	float: left;
	margin: 5px 0 0 5px;
	padding: 0;
	width: 210px;
}
#php-branch-info #info1 img {
	border: 1px solid #000;
	margin: 0 0 10px 0;
	padding: 0;
}
#php-branch-info #info2 {
	float: left;
	margin: 0 0 0 15px;
	text-align: left;
	padding: 0;
	width: 210px;
}
#php-branch-info #info2 .branch-name {
	display: block;
	line-height: 25px;
	font-weight: bold;
}
#php-branch-info #info2 p {
	line-height: 17px;
}
#php-branch-info #info3 {
	float: left;
	margin: 30px 0 0 15px;
	width: 210px;
}
#php-branch-info #info3p {
	line-height: 17px;
}
#php-branch-info #info4 {
	clear: both;
	padding: 0;
	margin: 0;
	text-align: left;
	width: 100%;
}
#php-branch-info #info5 {
}
#php-branch-info #info6 {
	float: left;
	margin: 0 0 0 70px;
	padding: 0;
	width: 400px;
}
/* Image Map
----------------------------------------------------*/
#php-image-map {
	margin: 10px 0;
	padding: 0;
	text-align: center;
}
/* Message
----------------------------------------------------*/
#php-message {
	margin: 10px 0;
	padding: 0;
	text-align: left;
}
/* Languages
----------------------------------------------------*/
#php-languages {
	margin: 10px 0;
	padding: 0;
	text-align: left;
}
/* Footnote
----------------------------------------------------*/
.php-footnote {
	background: #e9e9e9;
	border: 1px solid #999;
	margin: 10px 0;
	padding: 3px;
	text-align: left;
	width: 624px;
}
/* Fix for bad content */
.php-footnote div.php-footnote {
	background: none;
	border: 0;
	margin: 0;
	padding: 5px 0;
	text-align: left;
	width: 100%;
}
.phpBranch #breadcrumb, .phpProducer #breadcrumb, .phpSitemap #breadcrumb, .phpTeam #breadcrumb {
	text-align: left;
}
.phpBranch #content, .phpProducer #content, .phpSitemap #content, .phpTeam #content {
	text-align: left;
}
/* Newsletters
----------------------------------------------------*/
#php-newsletters {
	margin: 10px 0;
	padding: 0;
	text-align: left;
	width: 100%;
}
#php-newsletters h3 {
	background: #EEE;
	margin: 0 0 10px 0;
	padding: 4px 0;
	text-indent: 4px;
	width: 100%;
	color: #000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
/* Next Steps
----------------------------------------------------*/
#php-next-steps {
	margin: 10px 0;
	padding: 0;
	text-align: left;
	width: 100%;
}
#php-next-steps h3 {
	background: #EEE;
	margin: 0 0 10px 0;
	padding: 4px 0;
	text-indent: 4px;
	width: 100%;
	color: #000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
/* Our Team
----------------------------------------------------*/
#php-our-team {
	margin: 10px 0;
	padding: 0;
	text-align: left;
}
#php-our-team h3 {
	background: #EEE;
	margin: 0 0 10px 0;
	padding: 4px 0;
	text-indent: 4px;
	width: 100%;
	color: #000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
/* Profile
----------------------------------------------------*/
#php-profile {
	margin: 10px 0;
	padding: 0;
	text-align: left;
}
#php-profile h3 {
	background: #EEE;
	margin: 0 0 10px 0;
	padding: 4px 0;
	text-indent: 4px;
	width: 100%;
	color: #000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
/*  End graphic on top of container (upper right) 
----------------------------------------------------*/	
.php-endcap {
	background: #FFF url(/media/system/cda/public/row_end.gif);
	border: none;
	display: block;
	height: 25px;
	outline: none;
	position: absolute;
	right: -2px;
	_right: 0;
	top: 0;
	width: 24px;
}
/* ClearFix */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix {
	display: inline-table;
}
/* Hides from IE-mac \*/
.clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */

/* New styles for Accessibility by IBM */

.h2-new {
	display: block;
	color: #595959;
	font-size: 18px;
	font-weight: normal;
	padding: 0;
	margin: 0 0 12px 0
}

.product-info-group .related-link-box .h2-new {
	font-size: 1.2em;
	font-weight: normal;
	margin: 10px 0 0 0;
	padding: 0;
	color: #595959;
}



.product-info-group.first .h3-new {
	background: #5A799C url(/media/system/cda/public/bg-rtsectop.jpg) no-repeat scroll 0 0;
	color: #FFF;
	font-weight: normal;
	margin: 0
}

.product-info-group .h3-new {
	background: #5A799C url(/media/system/cda/public/bg-rtcstitle.jpg) no-repeat scroll 0 0;
	color: #FFF;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	padding: 9px 21px
}

.related-link-box .h3-new {
	background: #5A799C url(/media/system/cda/public/bg-rtcstitle.jpg) no-repeat scroll 0 0;
	color: #FFF;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	padding: 9px 21px
}


div.related-link-box.first .h3-new {
	background: #5A799C url(/media/system/cda/public/bg-rtsectop.jpg) no-repeat scroll 0 0;
	color: #FFF;
	font-weight: normal;
	margin: 0
}

#related-products-and-services .h4-new {
	border-bottom: 1px solid #C1C1C1;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0 0 5px 0;
	text-indent: 4px;
	color: #595959;
	font-size: 14px
}

a:focus{
	outline:1px dotted;
}
#linksectionwrapper a:focus{
	outline:#fff dotted 1px;
}
.screen-reader{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
table caption span {
	position:absolute;
	left:-9999px;
}
.tableborder.screen-reader{
line-height:0;
}
.pageheader-new {
	float: left;
	height: 49px;
	width: 209px;
}
.pageheader-new {
	_background: none;
}
.headerlinks-new {
	float: left;
	overflow: hidden;
	text-transform: uppercase;
	margin-left: 189px;
}
.headerlinks-new a {
	color: #9ED9FB;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 0.8em;
	margin: 6px 22px 0 0;
	text-decoration: none;
}
.searchbox-new {
	/*background: url(/media/system/cda/public/bg-searchbox.gif) no-repeat scroll left top transparent;*/
	float: left;
	height: 30px;
	margin-right: 8px;
	margin-top: 2px;
	overflow: hidden;
	padding: 2px 0 0 3px;
	width: 147px;
}
.headerdropdownbox-new {
	float: left;
	height: 24px;
	margin: 0;
	padding: 0px;
	position: relative;
	width: 252px;
}
.topnav-new {
	float: left;
	margin: 14px 0 0 14px;
	overflow: visible;
	position: relative;
	width: 980px;
}
.navitem-new {
	border-left: 1px solid #0F91C5;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    padding: 0 10px;
}
.topnav-new .navitem-new:first-child {
	border-left: 0;
	padding: 0 10px 0 0;
}
.topnav-new .navitem-new:last-child {
	padding: 0 0 0 10px;
}
.navitem-new a {
	display: block;
	text-decoration: none;
	color: #FEF6F4 !important;
}
.navitem-new-not-iOS a:hover{
	color: #FFD200 !important;
}

#topcontent-new {
	height: 93px;
	padding-top: 16px;
}

.printicon-new {
	cursor: pointer;
	display: block;
	/*height: 20px; removed height as focu was not displaying though focus was present qc 3338*/
	width: 55px;
}

div.navitem-new:focus
{
	outline:1px dotted;
}

div.navitem-new
{
	color: #FEF6F4;
}

div.navitem-new:hover
{
	color: #FFD200;
}

/*fix for pru.com homepage header*/
.navitem.products {
width: 131px;
}

.removeOutline:focus {
    outline: none!important;
}

html>body #topcontent-new {height: auto; min-height: 89px; padding-top: 16px;}

/*New styles added for homepage remediation by IBM- Start*/

.topnav-hp {
	float: left;
	margin: 14px 0 0 14px;
	overflow: visible;
	position: relative;
	width: 980px;
}
.navitem-hp {
	border-left: 1px solid #0F91C5;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    padding: 0 10px;
}
.topnav-hp .navitem-hp:first-child {
	border-left: 0;
	padding: 0 10px 0 0;
}
.topnav-hp .navitem-hp:last-child {
	padding: 0 0 0 10px;
}
.navitem-hp a {
	display: block;
	text-decoration: none;
	color: #FEF6F4 !important;
}
.navitem-hp a:hover {
	color: #FFD200 !important;
}
div.navitem-hp:focus
{
	outline:1px dotted;
}

div.navitem-hp
{
	color: #FEF6F4;
}

div.navitem-hp:hover
{
	color: #FFD200;
}

html>body #topcontent-hp {height: auto; min-height: 89px; padding-top: 16px;}

#topcontent-hp {
	height: 93px;
	padding-top: 16px;
}
.pageheader-hp {
	float: left;
	height: 49px;
	width: 209px;
}
.pageheader-hp {
	_background: none;
}
.headerlinks-hp {
	float: left;
	overflow: hidden;
	text-transform: uppercase;
	margin-left: 189px;
}
.headerlinks-hp a {
	color: #9ED9FB;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 0.8em;
	margin: 6px 22px 0 0;
	text-decoration: none;
}
.searchbox-hp {
	/*background: url(/media/system/cda/public/bg-searchbox.gif) no-repeat scroll left top transparent;*/
	float: left;
	height: 30px;
	margin-right: 8px;
	margin-top: 2px;
	overflow: hidden;
	padding: 2px 0 0 3px;
	width: 147px;
}
.headerdropdownbox-hp {
	float: left;
	height: 24px;
	margin: 0;
	padding: 2px;
	position: relative;
	width: 252px;
}

.productsActive  a{
	color: #FFD200!important;
}
/*New styles added for homepage remediation by IBM- End*/

/*New styles to fix background images issue- IBM start*/
.searchimgdiv{
    display: block;
    height: 27px;
    margin-left: 105px;
    margin-top: -2px;
    overflow: visible;
    position: absolute;
    width: 12px;
}
.nwsearchimg{
    height: 21px;
    left: -108px;
    position: absolute;
    width: 147px;
}

/*New styles to fix background images issue- IBM start*/

/*  Fixes: Google Chrome & Safari
----------------------------------------------- */ 

@media screen and (-webkit-min-device-pixel-ratio:0) {
.headerdropdownbox {
	padding: 0 2px;
}
#topnav {
	margin-right: 50px;
}
.menuitems .links {
	padding: 0 7px 0 10px;
}

/*  Fixes: Opera
----------------------------------------------- */ 

@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
.navitem {
font-size:0px;
}
}


/*  Fixes: iPad
----------------------------------------------- */ 

@media only screen and (device-width: 768px) {
/* For general iPad layouts */
}

