/*************************************************************************************************************/
/*   DO NOT USE THIS STYLE IN CODE.    THIS IS ONLY TO BE USED IN THE EPHOX WIDGET IN THE CONTENT INSTANCE   */
/*                                                                                                           */
/*This is a class to override the list style when used inside the EPHOX tool.   User must specify            */
/*         class="style name">   on the tag                                                                  */
/*************************************************************************************************************/
ul.ephoxCustomUL{list-style-position:outside!important;list-style-type:disc!important;margin:0 0 15px 12px !important};
table.ephoxCustomTable{border:1px solid!important}table.ephoxCustomTable td{border:1px solid!important}li.gen{margin-left:25px;list-style-type:disc}li.dash{margin-left:45px;list-style-type:circle}