.clearfix { zoom: 1; }

#logo { margin: 60px 0 0 65px; }
#mNav ul li a { padding-top: 11px; padding-bottom: 10px; overflow: hidden; }
#mNav ul li a.on { background-position-y: top; }
#mNav div.ddCntnr { overflow: hidden; height: 403px; }
#mNav div.ddContactRegarding, #mNav div.ddContactLocation { overflow: hidden; height: 300px; }
#mNav div.ddAboutCntnr { height: 160px; }
/*#searchPQF { top: 94px; }*/
#searchPQF li.ui-state-default a { display: inline-block; }
#searchPQF #search .watermark, #iFooter div.emailSubscribe .watermark, div.pqfCntnr div.calloutBox .watermark,
    div.searchResultBox .searchResultsSearchBox { padding-top: 5px; height: 21px; }
#searchPQF #search #btnSearch, #iFooter div.emailSubscribe #btnSubscribe, 
    div.pqfCntnr div.calloutBox #btnPQFSearch, div.searchResultBox #btnResultsSearch { font-size: 0; display: block; line-height: 0; }
#searchPQF #productQFinder div.letterLinks a { margin-right: -1px; }
.cycleGroup { background-color: transparent !important; }
#iHmContent div.hmRight #cycleNext { margin-left: 0; background-image: url(../images/bg_cycle_arrow_next_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/bg_cycle_arrow_next_ie6.png*/; }
#iHmContent div.hmRight #cyclePrevious { background-image: url(../images/bg_cycle_arrow_prev_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/bg_cycle_arrow_prev_ie6.png*/; }
#iHmContent div.hmRight div.cycleItem strong { background: transparent; }
#iHmContent div.hmRight div.cycleItem a { background: transparent; }
#iHmContent div.hmRight div.latestNews { clear: none; margin-top: 200px; }
#iHmContent div.hmRight div.latestNews li div { background-image: url(../images/bg_hm_date_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/bg_hm_date_ie6.png*/; }
#oFooter { background-image: url(../images/bg_ofooter_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/bg_ofooter_ie6.png*/; }
#iFooter div.distrib { background-image: url(../images/bg_btn_distrib_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_distrib_ie6.png*/; width: 174px; padding-top: 10px; height: 40px; }
#iFooter div.distrib a:hover { text-decoration: none; }
#mNav div.ddSolutionsQF div.mNavQFby { padding-bottom: 40px; }
#mNav div.ddContactRegarding { padding-right: 5px; }
#mNav div.ddContactLocation img { margin-right: 0; }
#mNav div.ddContactLocation div.regionCountry { width: 225px; overflow: hidden; }
div.solutions div.headerTop { overflow: hidden; }
#iContent div.toolbar a.toolPrint, #iContent div.toolbarNarrow a.toolPrint { background-image: url(../images/ico_print_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/ico_print_ie6.png*/; }
#contentCntnr div.hasBanner p.intro { margin-right: 0; }
#content { padding-top: 0; }
#lnav ul ul li { margin: 0; height: 1em; }
div.bannerContact { overflow: hidden; }
div.bannerContact a { background-image: url(../images/bg_btn_contact_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/bg_btn_contact_ie6.png*/; margin-top: -2px; }
div.bannerContact p { margin: 0; line-height: 1em; }
div.submarketsContent { position: relative; top: -1px; }
div.bannerFeaturedProduct { background-image: url(../images/bg_featured_product_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/bg_featured_product_ie6.png*/; }
div.bannerDownload { background-image: url(../images/ico_download_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/ico_download_ie6.png*/; }
div.productCallOuts div.productDownload { background-image: url(../images/ico_download_ie6_2.png)/*tpa=http://www.ashland.com/Ashland/images/ico_download_ie6_2.png*/; }
h2.trigger a { line-height: 14px; margin-top: 2px; }
div.contact div.headerTop { overflow: hidden; }
#contentWithRghtCol div.leftCol { overflow: hidden; }
#contentWithRghtCol div.contentLeft { overflow: hidden; }
div.rightBanner { overflow: hidden; }
div.rightBanner div.right { margin-left: 30px; }
div.contactTypeHdr li { height: 1em; display: inline; padding-bottom: 3px; }
div.rightBanner div.worldwideBanner { height: 100px; }
div.distrib div.headerTop { overflow: hidden; }
div.pqfCntnr { position: relative; top: -16px; }
div.productQuickFinderCntnr div.pqfCntnr { top: -1px; }
div.pqfTabs ul.tabs li a, div.country div.countryTabs ul.tabs li.ui-state-default a { margin-top: 3px; }
div.pqfTabs ul.tabs li.ui-tabs-selected a, div.country div.countryTabs ul.tabs li.ui-tabs-selected a { margin-top: 0; }
div.pqfCntnr { padding-top: 20px; }
#iHmContent div.distibHmRight div.distribFeature { background-image: url(../images/bg_banner_distrib_hm_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/bg_banner_distrib_hm_ie6.png*/; overflow: hidden; padding: 20px 0 20px 15px; }
#iHmContent div.distibHmRight div.cycleItem { background: transparent !important; }
#iHmContent div.distibHmRight div.cycleItem strong { background: transparent; }
#iHmContent div.distibHmRight div.cycleItem a { background: transparent; }
#iHmContent div.distibHmRight #cyclePrevious { background-image: url(../images/bg_cycle_arrow_prev_ie6_2.png)/*tpa=http://www.ashland.com/Ashland/images/bg_cycle_arrow_prev_ie6_2.png*/; width: 9px; height: 14px; }
#iHmContent div.distibHmRight #cycleNext { background-image: url(../images/bg_cycle_arrow_next_ie6_2.png)/*tpa=http://www.ashland.com/Ashland/images/bg_cycle_arrow_next_ie6_2.png*/; width: 9px; height: 14px; }
#iHmContent div.distibHmRight div.latestNews li div { background-image: url(../images/bg_hm_date_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/bg_hm_date_ie6.png*/; margin-bottom: 30px; }
div.countryTabs ul.tabs { margin-bottom: -1px; }
div.country div.countryTabs ul.tabs li { margin-top: 3px; }
div.country div.countryTabs div.printTools { background-image: url(../images/ico_print_ie6_2.png)/*tpa=http://www.ashland.com/Ashland/images/ico_print_ie6_2.png*/; background-position: left 14px; }
#contentNarrow .index2ColContent p { float: left; }
div.index2ColItem div.index2ColContent a.trigger { height: 11px; }
div.pqf div.headerTop { overflow: hidden; }
#contentCntnr { overflow: hidden; }
div.index2ColItem div.index2ColContent p { font-size: 0.85em; }
div.solutions div.solutionsIndexContent div.index2ColItem div.index2ColContent { height: 320px; }
div.filter .newList li a { line-height: 1.2em; }
.cluetip-default #cluetip-outer { background: url(../images/bg_tooltip_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/bg_tooltip_ie6.png*/ no-repeat; }
div.pqfTabs {position: relative; z-index: 1}
ul.seamlessTabs2 {position: relative; z-index: 1; margin-bottom: 15px;}
ul.seamlessTabs2 li a:hover {text-decoration: none;}
#searchPQF li.ui-state-default a#tabPQF {padding-top: 9px;}
#searchPQF li.ui-state-active a#tabPQF {padding-top: 9px;}
/* carousels */
div.solutions .indexHdr #itemSelector a.activeSlide {top: 0; height: 41px; padding-top: 0px; background: transparent url(../images/solutions/feature_active_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/solutions/feature_active_ie6.png*/ no-repeat;}
.history .timeline a.activeSlide {position: relative; padding-top: 19px; height: 33px; top: 0; z-index: 50; background: transparent url(../images/history_heritage/timeline_active_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/history_heritage/timeline_active_ie6.png*/ no-repeat;}
.carouselNextPrev #carouselPrev {background: transparent url(../images/carousel_arrow_left_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/carousel_arrow_left_ie6.png*/ no-repeat;}
.carouselNextPrev #carouselNext {background: transparent url(../images/carousel_arrow_right_ie6.png)/*tpa=http://www.ashland.com/Ashland/images/carousel_arrow_right_ie6.png*/ no-repeat;}
/* PQF Indexing: Pages with carousels */
body {position: relative;}
#productQFinder {position: relative; z-index: 71;}
#searchPQF {z-index: 72;}
#header {z-index: 73;}
/* END PQF Layering */
.newList li {line-height: 12px;}