@charset "UTF-8";
/* CSS Document */

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 60%;
	background-color: #243D03;
	text-align: center;
	margin: 24px 12px;
	padding: 0;
}
#pageblock {
	text-align: left;
	width: 800px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	background-color: #FFFFFF;
}
#header {
	height: 122px;
	width: 800px;
	margin: 0;
	padding: 0;
	background-image: url(images/iface_top.jpg)/*tpa=http://www.cfindustries.com/images/iface_top.jpg*/;
	background-repeat: no-repeat;
}
#logo {
	position: absolute;
	height: 27px;
	width: 266px;
	left: 30px;
	top: 73px;
}
#header_invrel {
	width: 417px;
	border-left: 1px solid #F59300;
	font-size: 9px;
	color: #0957A4;
	padding: 12px 0 0 6px;
	line-height: 14px;
	font-weight: bold;
	margin: 0 0 0 30px;
}
#header_invrel a:link {
	color: #0957A4;
	text-decoration: none;
}
#header_invrel a:visited {
	color: #0957A4;
	text-decoration: none;
}
#header_invrel a:hover {
	color: #7FC41C;
	text-decoration: none;
}
#subheader {
	background-repeat: no-repeat;
	height: 52px;
	width: 800px;
	margin: 0;
	padding: 0;
	position: relative;
	background-image: url(images/iface_subtop.gif)/*tpa=http://www.cfindustries.com/images/iface_subtop.gif*/;
}
#subheader_txt {
	position: absolute;
	width: 341px;
	left: 446px;
	top: 29px;
	height: 18px;
	font-size: 9px;
	line-height: 12px;
	color: #FFFFFF;
	font-weight: bold;
}
.stockquote {
	font-weight: normal;
}
#midblock {
	width: 800px;
	margin: 0;
	background-image: url(images/iface_midblock_bg.gif)/*tpa=http://www.cfindustries.com/images/iface_midblock_bg.gif*/;
	padding: 0;
}
#navblock {
	float: left;
	width: 210px;
	margin: 0;
	padding: 0;
}
#contentblock {
	float: right;
	width: 590px;
	margin: 0;
	padding: 0;
	background-image: url(images/iface_midcurve.gif)/*tpa=http://www.cfindustries.com/images/iface_midcurve.gif*/;
	background-repeat: no-repeat;
	background-position: top left;
}
#content_footer {
	float: right;
	height: 19px;
	width: 590px;
	margin: 6px 0 48px 0;
}
#content {
	padding: 12px 18px 12px 12px;
}
#midblock_clearer {
	clear: both;
	height: 6px;
	width: 800px;
	font-size: 1px;
	line-height: 1px;
	background-color: #FFFFFF;
}
#footer {
	font-size: 9px;
	color: #666666;
	text-align: center;
	padding: 9px;
	border-top: 1px solid #666666;
}
#nav {
	width: 164px;
	margin: 0 0 0 31px;
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	background-color: #E6E2C1;
}
.AccordionPanelContent p {
	margin: 4px 0 0 6px;
	padding: 0;
	font-size: 11px;
}
#nav a:link {
	color:#F59300;
	text-decoration:none;
	}
#nav a:visited {
	color:#F59300;
	text-decoration:none;
	}
#nav a:hover {
	color:#0957A4;
	text-decoration:none;
	}
#nav .AccordionPanelContent a:link {
	color: #0957A4;
}
#nav .AccordionPanelContent a:visited {
	color: #0957A4;
}
#nav .AccordionPanelContent a:hover {
	color: #F59300;
}
#nav .AccordionPanelOpen .AccordionPanelTab a:link {
	color: #0957A4;
}
#nav .AccordionPanelContent ul {
	margin: 0 0 6px 18px;
	padding: 0;
}
#nav .AccordionPanelContent li {
	margin: 4px 0;
	padding: 0;
	list-style:none;
	font-size: 10px;
}
#sidebar {
	float: right;
	border-left: 1px solid #CCCCCC;
	margin: 0 0 0 18px;
	padding: 0;
	width: 192px;
}
#sidebar_txt {
	padding: 0 12px;
	font-weight: bold;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #F59300;
}
#sidebar a:link, #sidebar a:visited {
	color:#0957A4;
}
#sidebar a:hover, #sidebar a:active {
	color:#F59300;
}
#content h1 {
	font-size: 1.8em;
	color: #7FC41C;
}
#content p {
	font-size: 1.1em;
	line-height: 1.5em;
}
#content li, #content blockquote {
	font-size: 10.5px;
	line-height: 1.4;
}
#content blockquote {
	padding: 0;
	margin: 6px;
}
#content ul blockquote {
	margin: 6px 0;
}
#content h2 {
	color: #F59300;
	margin-bottom: 0em;
	font-size: 1.4em;
}
#content a:link, #footer a:link {
	color:#0957A4;
}
#content a:visited, #footer a:visited {
	color:#0957A4;
}
#content a:hover, #footer a:hover {
	color:#F59300;
}	
#content a:active, #footer a:active {
	color:#0957A4;
}
#content table {
	background-color: #f7f4de;
	margin-top: 1.5em;
}
#content table tr td {
	border-bottom: 2px solid #f5b351;
}
#content table tr th {
	background-color: #f5b351;
}
.production_note {
	background-color: #F00;
	color: #FF0;
}
#sidebar_txt p {
	margin-top: 2px;
	margin-bottom: 12px;
}
#content ul li ul li {
	margin: 4px 0px 4px 0px;
}
.asterisk_text {
	color:#f59300;
	font-weight:bold;
}
#content ul li {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
#content ul {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
#content h3 {
	font-size: 1.2em;
	margin-bottom: 0.5em;
}
#content li p {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-size: inherit;
}
#content #content_home a {
	color: #F59300;
}
#content #content_home a:visited {
	color: #F59300;
}
#content #content_home a:hover {
	color: #0957A4;
}

/* Recognition Items */
ul.recognition img {
	width: 150px;
	float: left;
	text-align: center;
	margin: 0 12px 12px 0;
	border: 1px solid #CCC;
}
ul.recognition {
	margin: 0;
	padding: 0;
}
#content ul.recognition li {
	font-size: 1.4em;
	list-style-type: none;
	margin: 0;
	clear: both;
	padding: 6px 0 18px 0;
	border-top: 2px dotted #BBB;
} 

/* Careers with TalentLink */
#tlntlnk {
	width: 560px;
	height: 560px;
	border: none;
}
.talentlink input, .talentlink select {
	margin-top: 3px;
	margin-bottom: 6px;
}
.talentlink fieldset {
	border: none;
}
.talentlink legend {
	font-weight: bold;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#content ul li h3 {
	margin: 0px;
}
.button {
	background-color: #0957A4;
	border-radius: 6px;
	display: block;
	font-size: 12px;
	line-height: 14px;
	margin-top: 9px;
	padding: 6px;
	text-align: center;
}
#sidebar a.button:link, #sidebar a.button:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#sidebar a.button:hover, #sidebar a.button:active {
	color: #F59300;
	text-decoration: none;
}
.inline-sidebar {
	border: 1px solid #999999;
	background: #ededed;
	padding: 9px;
	margin: 9px 0;
}
.inline-sidebar .AccordionPanelTab {
	margin-top: 0;
}
.inline-sidebar .AccordionPanelTab > img {
	float: left;
}
.inline-sidebar .AccordionPanelTab > h3, .inline-sidebar .AccordionPanelTab > p {
	float: left;
    padding-left: 9px;
    width: 432px;
}
#content .inline-sidebar .AccordionPanelTab > p {
	font-style: italic;
	margin-top: 0;
}
.inline-sidebar .AccordionPanelContent p, #Accordion3 .AccordionPanelContent p {
	margin: 1em 0;
}
