/* @override 
	http://ball.local/themes/site_themes/ball_com/css/style.css
	http://ball.moxiesozo.com/themes/site_themes/ball_com/css/style.css
	http://ball.moxiesozo.com/themes/site_themes/ball_com/css/style.css
*/

@import url(../../../../../fonts.googleapis.com/css-family=Ubuntu-300,400,500,700,300italic,400italic,500italic,700italic&v2.css)/*tpa=http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&v2*/;




/**

Global Styles – (body, paragraphs, lists, etc)
Header
Footer
Page Structure
Headings
Text Styles
Navigation
Forms
Comments
Extras


	COLORS			HEX			RGB
	
	BRIGHT TEAL		color:#00A8C9		  0,168,201 color:rgba(0,168,201,1);
	MEDIUM TEAL		color:#A9CEDF      169,206,223	color:rgba(169,206,223,1);
    LIGHT TEAL	    color:#009EC0        0,158,192 color:rgba(0,158,192,1);
	
	DARK GREY		color:#565A5D		 86, 90, 93 color:rgba(086,090,093,1);
	MEDIUM GREY		color:#808080		128,128,128 color:rgba(086,090,093,.7);
	LIGHT GREY		color:#CCCCCC		204,204,204 color:rgba(086,090,093,.3);
	
	A4C9DA
	
**/


/* -----------------------------------*/
/* ------>>> GLOBAL STYLES <<<--------*/
/* -----------------------------------*/


body{
	margin-top: 10px;
	background:url(../images/body_bk.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/body_bk.png*/ no-repeat center top #e4e4e4;
	color:#404040;
	font: 10px 'Arial', 'Helvetica', sans-serif;
	
}



a:link, a:visited{	
	color:#00A8C9;
	text-decoration:none;	
	-webkit-transition: color .1s ease-in-out ;  
   	-moz-transition: color .1s ease-in-out ;  
   	-o-transition: color .1s ease-in-out ;  
   	transition: color .1s ease-in-out ;  
}

a:hover,a.active{
	color:#404040;

}
a:active, a:focus{ 
    border: none;
    outline: none;
}
#content-body{
	position: relative;
}
#content-body ul,
#content-body dl{
	list-style:disc outside none;
	padding:0px 22px;
	line-height: 18px;
	font-size: 13px;
	margin: 10px 0px;
	
}

#content-body ol{
	padding:0px 82px;
	line-height: 18px;
	font-size: 13px;
	margin: 10px 0px 22px;
}


#content-body li,
#content-body dd{
	
	margin: 3px 0px;

}
#content-body dt{
	
	text-transform: uppercase;
}


p{
	font-size: 13px;
	margin: 0px 0px 10px;
}




.hide{
	display: none;
}
blockquote{
	
	font-family: 'ff-enzo-web',sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 300%;
	color:#00A8C9;
	padding:15px 19px;
	margin: 20px 1px 30px;

	border-top:2px dotted #cccccc;
	border-bottom:2px dotted #ccccccc;


	}

h1.page-title{
	letter-spacing: 2px;
}

/** Utilities  **/

.clear_{
	clear: both;
	color:blue;
	display:block;
	background:red;
	
}

hr.horizontal_divider{
	border: 0px !important;
	outline: 0px !important;
	
	background:url(../images/horizontal_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/horizontal_divider.png*/ no-repeat center bottom transparent;
	height: 19px;
}

div.horizontal_divider{
	border: 0px !important;
	outline: 0px !important;
	background:url(../images/horizontal_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/horizontal_divider.png*/ no-repeat center bottom transparent;
	height: 19px;
}

#content hr{
	background-color:#00A8C9;
	height:1px;
	width: 100%;
	margin: 18px 0px;
}



.click_item{
	cursor: pointer;
}


/* -----------------------------------*/
/* ------>>> PAGE STRUCTURE <<<-------*/
/* -----------------------------------*/

#content{
	min-height:500px;
	padding-bottom: 15px;
}

.content_section {
	
	padding: 18px 40px 0px 0px;

}



#tabbed-content.content_section {
	padding: 0px 40px 0px 0px;

}


#footer{

margin-top: 0px;
float: left;
}

#footer_nav {
	padding-top: 10px;
}

#footer_nav_right {
	padding-top: 10px;
}
/* ----->>> Table style <<<-----*/
table{
	border-collapse:collapse;
	font-size: 13px;
}
td{
	padding:15px;
	vertical-align: middle;
}
th{
	padding:15px 10px;
	font-weight: bold;
}

a.product-link {
	padding: 10px 0px 5px;
	display: block;
}

table.product-compare td,
table.product-compare th {
	width: 80px;
	padding:7px 10px;
	vertical-align: middle;
	white-space:wrap;
}
table.product-compare{
	border-collapse:none;
}
table,th, td{
	border: 1px solid #ccc;
}
/* ------>>> Tabbed Navigation <<<-------*/
ol#toc {
    
    list-style: none;
    margin: 0px 0px 0px;
    padding: 0px 0 10px;
    background: transparent;
  background: url(../images/dot_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_divider.png*/ repeat-x left bottom transparent;	width: 676px;
}

.ui-tabs-panel h2 {
	margin-top: 0px;
	margin-bottom: 10px;
}

div.tab-content {
	clear:both;
	padding-right: 40px;
}

#content .lang-switcher-box{
	margin-top: 13px;
	color: #A9CEDF;
}

#content .lang-switcher-box label{
	color: #00A8C9;
}

#content #bbr_language_switcher {
	display: block;
	
}

ol#toc li {
    float: left;
    margin: 0 1px 0 0;
   line-height: 18px;
   height: 40px;}

ol#toc a {
	color:#009EC0;
    display: block;
    float: left;
   
    margin-top: 0px;
    margin-right: 25px;
    text-decoration: none;
 
   
   }
  

ol#toc li.current {
    
}

ol#toc li.current a {
	color:#808080;
    
}

div.tab-contents {
    border: #48f solid 3px;
    clear: left;
    padding: 1em;
}
/* ----->>> Managed List Page <<<-----*/


 #list-content{
	background:url(../images/gradient_shadow_top.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/gradient_shadow_top.png*/ no-repeat left top transparent;
	padding-top: 20px;
}

#list-content hr{
		border-bottom:2px dotted #ccccccc;
		background: none;
		padding: 0px;
}


#filter_nav {
	background: url(../images/dot_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_divider.png*/ repeat-x left top transparent;
	height: 64px;
	line-height: 64px;
	margin: 0px;
	
}

#filter_nav select{
	height: 64px;
	margin-top: 22px;
}


/* -----------------------------------*/
/* ---------->>> HEADER <<<-----------*/
/* -----------------------------------*/

#header div.utility_nav {
	margin: 15px 0px;

}
div.utility_nav {
	
	line-height: 20px;
	float: right;

}
div.utility_nav a {
	float: right;
	margin:0px 13px;
	-webkit-transition: color .2s ease-in;  
   	-moz-transition: color .2s ease-in;  
   	-o-transition: color .2s ease-in;  
   	transition: color .2s ease-in; 
   	color: #00A8C9;
}
div.utility_nav a:hover {
	color:#A9CEDF;

}



div.utility_nav a:hover img {
	opacity: .6;
	
}

div.utility_nav a.alpha {
	margin-left: 0px;
}
div.utility_nav a.omega {
	margin-right: 0px;
}

#logo{


	float: left;
}
#tagline h4{
	color:#00A8C9;
	margin-top: 22px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size: 12px;
}



#header_nav{
	border-top: 1px solid #00A8C9;/*bright teal*/
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 25px;
}

#language_switcher select.control {
	float: right;
}

#nav_categories li a {
		color:#00A8C9;

}
#nav_categories li a:hover {
		color:#A9CEDF;

}
/* ---------->>> Search <<<-----------*/
#search{
	float: right;
}
#search input#keywords{
	padding: 0px;
	width: 84%;
	border: 0px;
	float: left;
	margin: 0px;
	border: none;
	height: 26px;
	outline: 0px;
}


#search input.submit{
	padding: 0px;
	width: 26px;
	float: right;
	margin: 0px;
	border: none;
	height: 26px;
	background:url(../images/search.jpg)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/search.jpg*/ no-repeat center center #ffffff;
	border: none;
}

#faq-search.instant_search input#faq-keywords {
	padding: 0px;
	width: 50%;
	border: none;
	margin: 0px 0px 20px;
	border: none;
	height: 26px;
	border: 1px solid #dadada;
		background:url(../images/search.jpg)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/search.jpg*/ no-repeat 98%  #ffffff;

}


#faq-search.instant_search .submit {
	padding: 0px;
	width: 15%;
	float: right;
margin: 0px;
margin-left: -100px;
border: none;
	height: 26px;
	
	background:url(../images/search.jpg)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/search.jpg*/ no-repeat center center #ffffff;
	border: none;
	
}



#sidebar_nav h2 { margin: 12px 0px;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
}
#sidebar_nav h2 a{ margin: 12px 0px;
	text-transform: uppercase;
	font-size: 13px;
	color:#404040;

}

#header #search form{
	border: none;
margin: 0px;
padding: 0px;
background: #ffffff;
float: left;
width: 100%;

}
#language_switcher{
	float: right;
}



span#current-region {
		color:#00A8C9;

}

a#region-selector-trigger{
	color:#565A5D;

	margin-left:5px
}



#region-selector ul li {
	float: left;
	background: #c5e0eb; /* Old browsers */
	background: -moz-linear-gradient(top, rgb(197,224,235) 0%, rgb(149,201,224) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(197,224,235)), color-stop(100%,rgb(149,201,224))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(197,224,235) 0%,rgb(149,201,224) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(197,224,235) 0%,rgb(149,201,224) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgb(197,224,235) 0%,rgb(149,201,224) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5e0eb', endColorstr='#95c9e0',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgb(197,224,235) 0%,rgb(149,201,224) 100%); /* W3C */	
	margin: 15px;
    zoom: 1; /* hasLayout-Push for IE6 */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -vendor-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    
	font-size: 17px;
	font-weight: bold;
	
	list-style: none;
}

#cboxLoadedContent {
	background: #ffffff;
	padding: 12px;
}
#ie7 #cboxLoadedContent,
#ie8 #cboxLoadedContent,
#ie9 #cboxLoadedContent {
	padding: 0px;
}
#region-selector ul li a{
	padding: 15px;
	line-height: 54px;
	color: #ffffff;
	zoom:1;
}
#region-selector ul li a:hover{
		color:#565A5D;/*dark grey*/
	
}
div#nav_regions{
	padding: 7px 0px;
	text-align: right;
	font-family: Arial;
	display:none;
}
html#ie7 div#nav_regions{
	margin-top: 8px;

}

#language_select {

	padding: 24px 0px;
	
}

/* -----------------------------------*/
/* ---------->>> FOOTER <<<-----------*/
/* -----------------------------------*/

#footer_nav ul{
	list-style: none;
}




#footer_nav a,
#footer_nav .bold-caps a{
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	font-size: 130%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color:#404040;
	padding-left:0px;
	margin: 0px !important;
	padding: 10px 0px;
	display: block;
}

html#ie7 #footer_nav a.top{
	margin-left: -18px !important;
}

#ajax-loader {
	position: absolute;
	top: 45%;
	left: 45%;
	width: 9%;
	display: none;
	
}
#stockquote div.hide {
	display: none;
}


#footer_nav ul ul li a{
	font-family:'Arial','Helvetica',sans-sarif;
	font-size: 110%;
	text-transform: none;
	padding: 0px;
	font-weight: 400;
	letter-spacing: 0px;
	line-height: 18px;
}

#footer-links {
	margin-bottom: 35px;
	margin-top: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
		color:#00A8C9;

	border-top: 1px solid #00A8C9;/*bright teal*/

}
#footer #footer-links a:hover{
	color:#A9CEDF;/*medium teal*/
}

#footer a:hover,
#footer a:active
{	color:#808080;/* dark grey */
}
/* -----------------------------------*/
/* --------->>> HEADINGS <<<----------*/
/* -----------------------------------*/

h1{
	font-size:28px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 700;
	
	margin: 0px;
	line-height: 70px;
		color:#00A8C9;/*bright teal*/
	
}

h1.page-title.71-title {/* faq page title */

	
}

h2{
	font-size:18px;
	font-family: 'Ubuntu', sans-serif;	
	font-weight: 500;
	margin: 10px 0px 20px;

}

.content_section h2 {
	margin-top: 2px;
}




h3{
	font-size:14px;
	text-transform: uppercase;
}



h4{
	font-size:13px;

}
h5{
	font-size:12px;

}
h6{
	font-size:15px;

}


/* -----------------------------------*/
/* -------->>> Text Styles <<<--------*/
/* -----------------------------------*/

#home-news h2 {
	line-height: 105%;
}
.tiny-text{
	font-size: 11px;
}

#stockquote h2.bright-blue{
		color:#00A8C9;/*bright teal*/
}




/* Green: #80AC41 <<<----------------------------------*/
/*span.green-copy,*/
div.green-copy p,
p.green-copy,
p.green-copy a,
span.green-copy,
span.green-copy a,
span.green-copy a,
span.green-copy blockquote	{color:#80AC41;				}
#content span.green-copy hr	{background-color:#80AC41;	}

/* Red: #DD5528 <<<------------------------------------*/
/*span.red-copy,*/
div.red-copy p,
p.red-copy,
p.red-copy a,
span.red-copy,
span.red-copy a,
span.red-copy blockquote	{color:#DD5528;				}	
#content span.red-copy hr	{background-color:#DD5528;	}


/* Yellow: #F4CA0C <<<---------------------------------*/
/*span.yellow-copy,*/
span.yellow-copy a,
span.yellow-copy blockquote	{color:#F4CA0C;				}
#content span.yellow-copy hr{background-color:#F4CA0C;	}


/* Orange: #E19518 <<<---------------------------------*/
/*span.orange-copy,*/
span.orange-copy a,
span.orange-copy blockquote	{color:#E19518;				}
#content span.orange-copy hr{background-color:#E19518;	}






/* -----------------------------------*/
/* -------->>> Navigation <<<---------*/
/* -----------------------------------*/
ul.dropdown a:link, ul.dropdown a:visited {
	color:#404040;
    text-decoration: none;
    
}
#header ul.dropdown li a {
	font-weight: 600;
}

ul.dropdown li a {
    display: block;
    padding: 7px 0px;
    font-size: 20px;
}
ul.dropdown {
 font-weight: 400;
 background-color: transparent;
}

	ul.dropdown li {
	 padding: 0px 28px 7px 0px;
	 border: none;
	 background-color: transparent;
	}

	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 background-color: transparent;
	}



	ul.dropdown a:link,
	ul.dropdown a:visited	{ 	color:#404040;/*medium grey*/ text-decoration: none; }
	ul.dropdown a:hover		{	color:#808080;/*dark grey*/}

	
	ul.dropdown a:active	{ 	color:#565A5D;/*dark grey*/ }


	/* -- level mark -- */

	ul.dropdown ul {
	 	min-width: 125px;
	 	margin-top: 0px;
	 	background-color: #ffffff;
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.6))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.6) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.6) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#99ffffff',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.6) 100%); /* W3C */	 	padding:8px 0px;
	 	left: -12px;
	
	}
		ul.dropdown ul li{
			padding: 0px 12.5px;
		}
		ul.dropdown ul li:hover{
			 background-color: #ffffff;
		}
		ul.dropdown ul li a{
		 font-weight: 300;
		 font-family: 'Arial','Helvetica',sans-sarif;
		 font-size: 110%;
		 line-height: 120%;
		 	color:#808080;/*medium grey*/
		}


#footer_nav_right {
	list-style: none;
}

#footer_nav_right li a {
	font-size: 30px;
	color:#404040;

font-family: ff-enzo-web,sans-serif;
font-style: normal;
font-weight: 100;

}





/* -----------------------------------*/
/* ----------->>> Forms <<<-----------*/
/* -----------------------------------*/

legend {
	font-size:180%;
	font-family: 'Ubuntu',sans-serif;
	font-weight: 500;
	padding: 5px 0px;
		color:#565A5D;

	color:rgba(086,090,093,1);
}
label{	
	font-size: 130% !important;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color:#565A5D;

	color:rgba(086,090,093,1);
	margin: 5px 0px;}


.submit_button input {
	background: transparent;
	border: none;
	font-size:200%;
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	padding: 10px 0px;
		color:#00A8C9;/*bright teal*/
}

div.field_contain{
	padding: 5px 5px ;
}

fieldset {
	margin: 10px 0px;
	border: 1px solid  #dadada;
	padding: 10px;
   -moz-box-shadow:inset 0 0 20px #000000;
   -webkit-box-shadow:inset 0 0 20px #000000;
   box-shadow:inset 0 0 20px #eaeaea;
   background:rgba(255, 255, 255, .8);
}
div.field_contain.textinput input,
div.field_contain.textarea textarea {
	width: 100%;
}

div.field_contain.textarea label,
div.field_contain.textinput label {
	display: block;
	width: 100%;
	font-size: 150%;
	
}
.textinput input,
.textarea textarea{
	border:1px solid #DADADA;
	margin: -2px;
	padding: 0px;
	line-height: 26px;min-height: 26px;
    }
.textinput input{
	
}


fieldset div.radio-group {
	width: 90%;
	padding: 10px;
	float: left;
	border-bottom: 1px solid #dadada;	
}

fieldset div.radio-group .radio-group-label {
	font-size: 14px;	
	font-weight: bold;
	color:#404040;
}


fieldset div.radio-group .radio-group-item{
	display: block;
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
}
fieldset div.radio-group .radio-group-item input{
	float: left;
	text-align: left;
	height: 20px;
}

fieldset div.radio-group .radio-group-item label{
	float: left;
	text-align: left;
	height: 20px;
	font-weight: normal;
	font-size: 11px !important;
	line-height: 14px;
}







/* -----------------------------------*/
/* ------->>> Page Content <<<--------*/
/* -----------------------------------*/

#hero_image {
	background: url(../images/hero_img_bottom_gradient.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/hero_img_bottom_gradient.png*/ no-repeat left bottom transparent;	
	padding: 0px 0px 26px;
	
	overflow: hidden;
}

/* -----------------------------------*/
/* ------->>> Sidebar Right <<<-------*/
/* -----------------------------------*/
#sidebar_nav{
	min-height: 243px;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	margin-bottom: 20px;
}

#sidebar_nav ul li a{
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;	
	font-weight: 500;
}
#sidebar_nav ul{
	list-style: none;
	line-height: 25px;
	margin: 0px 0px 21px;
	font-size: 17px;
	padding: 15px 0px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	background: url(../images/dot_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_divider.png*/ repeat-x left top transparent;}

#sidebar_nav h3 {
	line-height: 45px;
	padding-bottom: 2px;
	background: url(../images/dot_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_divider.png*/ repeat-x left bottom transparent;
	font-family: 'ff-enzo-web',sans-serif;
	font-style: normal;
	
}

#sidebar_nav ul.level_2{
	padding: 5px 0px;
	margin: 0px;
	background: none;
}

#sidebar_nav li.level_2{
	padding:0px;
	margin: 0px;
	font-size: 90%;
	padding-left: 20px;
}
#sidebar_nav li.level_2 a{
	font-weight: normal;
}

/* -----------------------------------*/
/* --------->>> Homepage <<<----------*/
/* -----------------------------------*/
#stockquote {
	background-color: #CAE6EE;
	padding: 15px 18px 20px;
	position: relative;
	
}
#stockquote h2{
	color:#565A5D;
	margin: 0px;
	position: relative;
}
#stockquote hr{
	margin: 10px 0px;
}

#stockquote span.arrow{
	height: 22px;
	width: 16px;
	position: absolute;
	right: 0;
	
}
#stockquote span.arrow.up{
	background: url(../images/arrow.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/arrow.png*/ no-repeat left center transparent;	
}
#stockquote span.arrow.down{
	background: url(../images/arrow_down.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/arrow_down.png*/ no-repeat left center transparent;	
}


#stockquote h4.tiny-text {
	padding: 5px 0px 22px;
	
}
#stockquote span.Change{
	margin-left: 12px;	
}

#slideshow{
position: relative;
height: 360px;
width: 960px;
/* background: blue; */
background: url(../images/ajax-loader.gif)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/ajax-loader.gif*/ no-repeat center center;
}


#slideshow .border-left{
	width: 30px;
	height: 360px;
	position: absolute;
	left: -22px;
	background: url(../images/slideshow_bk_left.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/slideshow_bk_left.png*/ no-repeat center center transparent;	
}
#slideshow .border-right{
	width: 30px;
	height: 360px;
	position: absolute;
	right: -22px;
	background: url(../images/slideshow_bk_right.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/slideshow_bk_right.png*/ no-repeat center center transparent;
}
.border-below-slideshow{
	width: 100%;
	height: 22px;
	background: url(../images/slideshow_bk_bottom.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/slideshow_bk_bottom.png*/ no-repeat 0px -9px transparent;
	margin-bottom: 22px;	
}

/* --------->>> Region Popup <<<----------*/
#inline_example1 ul li a {
	line-height: 55px;
	display: inline-block;
	padding: 0px 15px ;
}
#inline_example1 ul li{
	float: left;
	
}
/* -----------------------------------*/
/* --------->>> Comments <<<----------*/
/* -----------------------------------*/




/* -----------------------------------*/
/* ---------->>> Extras <<<-----------*/
/* -----------------------------------*/

.grid_test{
		background: rgba(0,0,255,.2);
}


/* -----------------------------------*/
/* ---------->>> Galleria <<<-----------*/
/* -----------------------------------*/

.galleria-container{position:relative;overflow:hidden;
width:960px;}


.galleria-thumbnails-container{height:8px;width:90%;bottom:30px;position:absolute;left:0;z-index:2; margin: 0 auto;}


.galleria-thumbnails-list{text-align:center;float: right;}

.galleria-thumbnails .galleria-image{
	display:inline-block;
	zoom:1; 
	*display: inline;
	width:10px !important;
	height: 10px !important;
	background:url(../images/dot.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot.png*/ no-repeat center center transparent !important;
	margin-right:5px;
	cursor:pointer;
	border: none !important;
	opacity: .7;
}
.galleria-thumbnails .galleria-image.active{
	background:url(../images/dot_hover.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_hover.png*/ no-repeat center center transparent !important;

}




.galleria-thumbnails .galleria-image:hover{opacity:1!important;}

.galleria-info{color:#666;z-index:3;text-align:center;font:italic 14px/1.4 georgia,serif;padding-top:10px;}

.notouch .galleria-image-nav-left:hover{
	background:url(../images/slideshow_back.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/slideshow_back.png*/ no-repeat left center transparent;
}
.galleria-image-nav-left{
	background:url(../images/slideshow_back.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/slideshow_back.png*/ no-repeat left center  transparent;
	opacity: .6;
	left:0px;
}
.notouch .galleria-image-nav-right:hover{
	background:url(../images/slideshow_forward.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/slideshow_forward.png*/ no-repeat right center transparent;
}
.galleria-image-nav-right{
	background:url(../images/slideshow_forward.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/slideshow_forward.png*/ no-repeat right center transparent;
	opacity: .6;
}

/* -----------------------------------------*/
/* ---------->>> Page Widgets <<<-----------*/
/* -----------------------------------------*/

#sidebar_right .widget{

	background: #ccc;
	margin: 0px 0px 20px;
	padding: 0px 0px 20px;
	 background: url(../images/dot_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_divider.png*/ repeat-x left bottom transparent;
	
}
.widget{
	position: relative;
}
div.widget.youtube img{
	height: 137px;
	max-width: 226px;
}


div.video_overlay {
	top: 0px;
	right: 0px;
	left: 0px;
	height: 137px;
	position: absolute;
	 background: url(../images/widget_play_btn_ovr.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/widget_play_btn_ovr.png*/ no-repeat center center transparent;
	}
div.video_overlay:hover {	
	 background: url(../images/widget_play_btn.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/widget_play_btn.png*/ no-repeat center center transparent;
	 cursor:pointer;
	}
.widget h2{
	margin-bottom: 15px;
	clear: both;
}
.widget .body{
	
}
a.inline-block-link {
	display: inline-block;
}


/** For Overflow issue **/
#cboxLoadedContent{
	overflow: hidden !important;
}





/* -----------------------------------------*/
/* ---------->>> ACCORDION <<<-----------*/
/* -----------------------------------------*/


ul#accordion, ul#accordion ul {
     list-style: none outside none;
     margin: 0pt;
     padding: 0px;
}

ul#accordion {
         padding-top: 30px;
     background: url(../images/dot_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_divider.png*/ repeat-x left top transparent;

}
#faq_questions ul#accordion {
     padding-top: 30px;
     background:url(../images/gradient_shadow_top.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/gradient_shadow_top.png*/ no-repeat left top transparent;

}
div.gradient_shadow{
	background:url(../images/gradient_shadow_top.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/gradient_shadow_top.png*/ no-repeat left bottom transparent;
	display: block;
	width: 100%;
	height: 9px;
	margin-bottom: opx;
}


#accordion li {

 }

#accordion ul li {
     color: #999999;
     padding: 5px 10px;
}

#accordion ul li:last-child {
    }

#accordion a.heading {
     font-size: 20px;
	font-family: 'ff-enzo-web',sans-serif;
	font-style: normal;
	min-height: 26px;
	font-weight: 600;
	letter-spacing: -1px;
}

#accordion a.heading:hover {
	background: url(../images/accordian_arrow_down.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/accordian_arrow_down.png*/ no-repeat right top transparent;

}

#accordion li.current a.heading, ul#accordion li.current a.heading {
     background: none repeat scroll 0% 0% #025185;
     color: #FFFFFF;
}

#accordion .current a.heading{
	
	background: url(../images/accordian_arrow.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/accordian_arrow.png*/ no-repeat right top transparent;

}

#accordion li ul a {
    
     
     text-decoration: none;
}

#accordion li ul a:hover {
     border-bottom: medium none;
}

#accordion li ul .date {
     padding-right: 10px;
}

#accordion li ul .count {
     padding-left: 10px;
}

body#customAccordion ul#accordion li ul {
     display: none;
}

body#customAccordion ul#accordion li.current ul {
     display: block;
}
#accordion hr{
	background: url(../images/dot_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_divider.png*/ repeat-x left center transparent;
	padding: 2px 0px;
	margin-top: 9px;
}

#accordion p.division {
	color:#565A5D;

	font-size: 15px;

}
#content-body ul#accordion li .answer p{
	margin-bottom: 0px;
}

/* -----------------------------------------*/
/* ---------->>> PRODUCT CATALOG <<<--------*/

/* #product_catalog.content_section {
	padding: 0px;
}
*/
/* ---------->>> PRODUCT CATALOG:general <<<--------*/
a.show-category {
	position: absolute;
	top: -50px;
	z-index: 50;
	right: 120px;
	font-size: 15px;
		color:#808080;

	font-weight:bold;
	text-transform: capitalize;
	}


a.show-category:hover {
		color:#565A5D;

}

#product_catalog {
	padding:14px 0px 10px;
	position: relative;
}


/* ---------->>> PRODUCT CATALOG:product page <<<--------*/
#content-body dl.product-size{
	padding: 0px;
	margin-bottom: 20px;	
}
#content-body dl.product-size dt{
	float: left;
}
#content-body dl.product-size dd {
    margin:2px 0;
    padding:5px 0;
}

#content-body dl.product-size dd ul {
	list-style:disc inside none;
	padding:0px 0px;
	line-height: 18px;
	font-size: 13px;
	margin: 0px 0px;
	float: right;
	width: 380px;
}
#content-body dl.product-size dd ul li{
	margin:0;
    padding:0;
    width: 50%;
    
}

#product_catalog div.field_contain.select {
	padding: 5px 0px 0px;
}

div.product-sizes label {
	margin: 0px;
}
#content-body dl.product-size dt{
	font-weight: bold;
	margin-right: 10px;
	padding:5px;
}


select.category-product-size-select {
	margin: 0px 10px;
	
}

#product-sidebar ul {
	padding: 0 0 0 25px;
}
.product-size-div h2 {
	background: url(../images/dot_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_divider.png*/ repeat-x 0 bottom;
	margin: 10px 0;
	padding-bottom: 6px;
}
.product-desc {
	margin-bottom: 20px;
}


/* ---------->>> PRODUCT CATALOG:category grid page <<<--------*/

#product_catalog.category_main li.product-category span.product-category-regions {
	left: 0;
	bottom: 42px;
	position:absolute;
	
	
	right: 25px;
	background:transparent;
	

		
	
}
#product_catalog.category_main li.product-category span.product-category-regions span{
	display: none;

	padding:3px 25px;
	margin: 2px;
	background:#fff;
	opacity:.8;

}
#product_catalog.category_main li.product-category:hover span.product-category-regions span{
	display: block;
	
}

ul#product-categories.all-category-select {
	background: url(../images/hero_img_bottom_gradient.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/hero_img_bottom_gradient.png*/ no-repeat left bottom transparent;
	margin-top: 0px;
	margin-right: 25px;
	padding-bottom: 25px;
	padding-left: 20px;
}





/* ---------->>> PRODUCT CATALOG:Specific category page <<<--------*/
#product-categories.all-category-select li.product-category a {
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 18px;
	font-weight: bold;
	width: 30%;
}


p.product-category-regions {
	display: none;
	position: absolute;
	left: 40%;
	top: 0px;
	
}
p.product-category-regions span{
	font-weight: bold;
	
}





#product-categories li.product-category {
	position: relative;
	
}



li.product-category:hover p.product-category-regions {
	display: block;
}
ul#product-categories {
	list-style: none;
	padding: 0px 0px;
		
}



.category_main #product-categories li{
	
	margin: 0px 7px 0px 8px;
	background: url(../images/dot_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_divider.png*/ repeat-y right top transparent;
	
}
#product-categories li.alpha{
		margin-left: 0px;
}
#product-categories li.omega{
padding-right: 0px;
background: none;
	margin-right: 0px;
}
#product-categories{
	display: block;
}

#product-categories li h6 {
	
	margin: 6px 26px 0px 0px;
	padding: 6px 0px 12px 0px;
	font-size: 17px;
}
#product_catalog hr {
	background: url(../images/dot_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_divider.png*/ repeat-x right center transparent;
	height: 4px;
	display: block;
	float: left;
	width: 680px;
	margin-right: 25px;

}


#product_catalog h2.product-category-title {
	font-size: 26px;
	padding: 0px 0px 0px;
	
	width: 100%;
	display: block;
	margin-bottom: 2px;
}
#product_catalog div.products-list {
	padding: 15px 25px 15px 0px;
}

#product_catalog #accordion a.heading {
	   font-size: 13px;
	font-family: 'Arial', 'Helvetiva',sans-serif;
	font-style: normal;
	min-height: 26px;
	font-weight: 600;
	letter-spacing: 0px;

}

#product_catalog h3 {
	margin-bottom: 15px;
}

div.product-summary{
	margin: 0px 0px 0px;
	position: relative;
}

div.product-full {
	display: none;
	position: absolute;
	bottom: 0px;
	
}

div.product-exerpt {
	margin-bottom: 30px;
}


div.product_wrap:hover div.product-full{	
	display: block;
}

div.product_wrap:hover{
	cursor: pointer;
	background: #ffffff;
	-moz-box-shadow: 0px 0px 9px #666666;
	-webkit-box-shadow: 0px 0px 9px #666666;
	box-shadow: 0px 0px 9px #666666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=0, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=0, Color='#666666');


}
div.product_wrap:hover a.product-file img{
	visibility: visible;}
div.product_wrap{
	margin:0px -10px 0px -10px;
	padding:10px;
}


a.product-file {
	display: inline-block;
	}
a.product-file  img{
	visibility: hidden;
	padding: 7px 10px;
	margin: 5px 0px;
	
	background: #ffffff;

}


/* -----------BLOG------------------------------*/

#posts div.post span.entry_date {
	padding: 10px 0px;
	display: inline-block;
font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
		color:#00A8C9;

}
#posts div.post h2 {
	font-size: 24px;
	margin-bottom: 18px;
}
.post_body img{
	margin: 10px 0px;
}

#posts div.embed_media {
	display: inline-block;
	margin: 5px 0px;

}

a.more {
	font-size: 13px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;

}
.post{
	padding: 10px 0px 5px 0px;
		background:url(../images/gradient_shadow_top.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/gradient_shadow_top.png*/ no-repeat left bottom transparent;

}

.post_body {
	background: url(../images/dot_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_divider.png*/ repeat-x right top transparent;

	padding: 30px 0px 25px 130px;
}

a.view-all-posts {
	position: absolute;
	top: -50px;
	right: 120px;
	font-size: 15px;
	font-weight:bold;
	text-transform: capitalize;


}
.content_section{
	position: relative;
}


a.view-all-posts:hover {
		color:#565A5D;

}
div#posts.content_section {
	position: relative;
}
#blog_category_list{
	
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	margin-bottom: 20px;
}
#blog_category_list ul li a{
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;	
	font-weight: 500;
}
#blog_category_list ul{
	list-style: none;
	line-height: 25px;
	margin: 0px 0px 0px;
	font-size: 17px;
	padding: 15px 0px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	background: url(../images/dot_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_divider.png*/ repeat-x left top transparent;
}
#blog_category_list h2 { margin: 12px 0px;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
}
h2.blog-cat-title {
	display: inline-block;
	
}

/**    FIlters **/

.inner-filter{
	list-style: none;
	line-height: 25px;
	margin: 0px 0px 21px;
	font-size: 14px;
	padding: 15px 0px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	background: url(../images/dot_divider.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/dot_divider.png*/ repeat-x left bottom transparent;
	margin-top: -20px;
}



/** Strategic Appraoch **/
#progress-key tr, #progress-key td{
	border: 0px;
}




/** CK Editor Styles **/
span.bright-teal{
	color:#00A8C9;
}

span.medium-teal{
	color:#A9CEDF

}

span.light-teal{
	color:#009EC0 

}

span.dark-grey{
	color:#565A5D

}

span.medium-grey{
	color:#808080

}

span.light-grey{
	color:#CCCCCC

}

span.oversized{
	font-size: 125%
}


span.really-oversized{
	font-size: 175%
}


.perspective						{padding:0px 20px; margin-top: 20px; width: 635px; margin-bottom: 20px; height: 100%; overflow: hidden;}

.perspective.ourapproach			{background-color: #bfbfbf;}
.perspective.innovation				{background-color: #f7f2d2;}
.perspective.operations				{background-color: #bfe6ed;}
.perspective.talentmanagement		{background-color: #fae6ce;}
.perspective.recycling				{background-color: #ddebd2;}
.perspective.supplychain			{background-color: #bfbfbf;}
.perspective.community				{background-color: #d9ccde;}

.perspective h2						{padding: 10px 0px; margin: 20px 0px; border-top: solid #000000 1px; font-size: 15px; font-weight: normal;}
.perspective h3						{text-transform: none; margin-bottom: 12px; font-size: 12px;}
.perspective p						{margin: 0px 0px 20px 0px; color: #666; font-style: italic; line-height:18px; font-size: 12px;}

#headshot							{margin-left: 12px; width: 150px; float: right;}
#headshot p							{width: 150px;}
#headshot .name						{color: #000; font-style: normal; font-weight:bold;}
#headshot .title					{font-style:italic;}

.ball-breadcrumbs{
	font-size:11px;
	font-weight:normal;
	margin-bottom:0;
	margin-top:24px;
	color:#999;
}
.ball-breadcrumbs a{
	font-weight:normal;
	color:#999;
}
.ball-breadcrumbs a:hover{
	color:#00A8C9;
}
h1.bread-head {
	line-height:40px;
	margin-bottom:20px;
}

/* -----------------------------------------*/
/* --------->>> SUSTAINABILITY <<<----------*/
/* -----------------------------------------*/

/* COLORS */
.sus-teal{ background-color:#009aba; }
.sus-red{ background-color:#e35527; }
.sus-green{ background-color:#82b240; }
.sus-maroon{ background-color:#9e1d53; }
.sus-grey{ background-color:#818181; }
.sus-yellow{ background-color:#f7d400; }
.sus-purple{ background-color:#633284; }
.sus-orange{ background-color:#ec9c18; }		
		
/* SUSTAINABILITY GRID */
h1.sus-main{
	font-family: "ff-enzo-web", sans-serif;
	font-weight:700;
	line-height:28px;
	margin-bottom:15px;
}
.sus-grid-item{
	position:relative;
	display:block;
	float:left;
	width:225px;
	height:225px;
	margin-right:10px;
	margin-bottom:10px;
	background:#fff;
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.sus-grid-item:nth-of-type(3n+0){
	margin-right:0;
}
.sus-grid-item img{
	max-height:100%;
	min-width:100%;	
}
.sus-mask{
	width:225px;
	height:225px;
	position:absolute;
	top:0;
	left:0;
	display:block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;	
	opacity: 0.5;		
}
.sus-mask{
/* 	display: none\9; */
}
.sus-hover{
	width:205px;
	height:205px;
	padding:10px;
	position:absolute;	
	top:185px;
	left:0;	
	-webkit-transition: all .3s ease;	
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
.sus-hover h1{
	color:#fff;
	font-size:16px;
	line-height:20px;
	margin:0;
	margin-bottom:16px;
}
.sus-hover h1 span{
	float:right;
}
.sus-hover p{
	color:#fff;
}
.sus-hover a{
	color:#fff;
	text-transform:uppercase;
	font-size:12px;
	display:block;
	position:absolute;
	bottom:10px;
	left:10px;
}
.sus-hover a:hover{
	color:#404040;		
}
.sus-grid-item:hover .sus-hover{
	top:0;
}
	
		
h1.sus-title{
	font-size:;
}
#hero_image.sus-image{
	padding-bottom:0;
}
h1.tab{
	color:#fff;
	line-height:40px;
	height:50px;
	width:680px;
	display:block;
	background-image:url(../images/color-tab-wide.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/color-tab-wide.png*/;
	background-position:0 0;
	background-repeat:no-repeat;
	margin-left:-20px;
	padding-left:20px;
	font-weight:300;
	font-size:22px;
}
h1.tab.tab-teal{
	background-position: right 0;
}
h1.tab.tab-yellow{
	background-position: right -50px;
}
h1.tab.tab-green{
	background-position: right -100px;
}
h1.tab.tab-red{
	background-position: right -150px;
}
h1.tab.tab-orange{
	background-position: right -200px;
}
h1.tab.tab-grey{
	background-position: right -250px;
}
h1.tab.tab-purple{
	background-position: right -300px;
}
h1.tab.tab-maroon{
	background-position: right -350px;
}
h1.tab.tab-perspective{
	margin-left:0;
	width:658px;
	font-size:17px;
	font-weight:600;
}
h1.tab.tab-short{
	background-image:url(../images/color-tab.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/color-tab.png*/;	
}
h1.tab{
	background-image:url(../images/color-tab-wide.png)/*tpa=http://www.ball.com/themes/site_themes/ball_com/images/color-tab-wide.png*/\9;
}		
		
.sus-perspective{
	padding-top:20px;
	height:auto;
	margin-bottom:0;
}
.sus-perspective.perspective-teal{
	background-color:#e5f4f8;
	border-top:3px solid #009aba;
}
.sus-perspective.perspective-yellow{
	background-color:#e5f4f8;
	border-top:3px solid #f7d400;
}
.sus-perspective.perspective-green{
	background-color:#ecf3e2;
	border-top:3px solid #82b240;
}
.sus-perspective.perspective-red{
	background-color:#e5f4f8;
	border-top:3px solid #e35527;
}
.sus-perspective.perspective-orange{
	background-color:#fdf5e7;
	border-top:3px solid #ec9c18;
}
.sus-perspective.perspective-grey{
	background-color:#ececec;
	border-top:3px solid #818181;
}
.sus-perspective.perspective-purple{
	background-color:#efeaf2;
	border-top:3px solid #633284;
}
.sus-perspective.perspective-maroon{
	background-color:#e5f4f8;
	border-top:3px solid #9e1d53;
}
.sus-perspective.perspective-teal h3,
.sus-perspective.perspective-teal #headshot .name{
	color: #009aba;
}
.sus-perspective.perspective-yellow h3,
.sus-perspective.perspective-yellow #headshot .name{
	color: #f7d400;
}
.sus-perspective.perspective-green h3,
.sus-perspective.perspective-green #headshot .name{
	color: #82b240;
}
.sus-perspective.perspective-red h3,
.sus-perspective.perspective-red #headshot .name{
	color: #e35527;
}
.sus-perspective.perspective-orange h3,
.sus-perspective.perspective-orange #headshot .name{
	color: #ec9c18;
}
.sus-perspective.perspective-grey h3,
.sus-perspective.perspective-grey #headshot .name{
	color: #818181;
}
.sus-perspective.perspective-purple h3,
.sus-perspective.perspective-purple #headshot .name{
	color: #633284;
}
.sus-perspective.perspective-maroon h3,
.sus-perspective.perspective-maroon #headshot .name{
	color: #9e1d53;
}
.sus-perspective #headshot{
	float:left;
	margin-left:0;
	margin-right:18px;
	width:auto;
}
.sus-perspective h3{
	font-size:16px;			
}
.sus-perspective .name{
	font-size:16px;			
}
.perspective.sus-perspective p{
	margin:0 0 12px 0;
}
table{
	margin-bottom:10px;
}
table td{
	vertical-align:top;
}
.ui-widget{
	font-family:'Arial', 'Helvetica', sans-serif;
}
#content-body ul{
	line-height:15px;
}
#content-body li{
	margin:10px 0px;
}