@charset "utf-8";
/* CSS Document 
Modified - 04-11-2014: class created for '.container h4 a'
*/

h1{
	margin: 0;
	padding: 0;
	font-size: 2.75em;
	font-weight: normal;
	color: #000;
	}
#titleDiv {
/*	border-bottom: 1px solid #9d9fa2;*/
	margin-bottom: 24px;
}

h1.withUnderline {
	border-bottom: 1px solid #9d9fa2;
	padding-bottom: .2em;
	margin-top: 50px;
	margin-bottom: 4px;
}
h1.noBreadCrumb {
	margin-top: 0;
	padding-top: 0;
}
#storiesHome h1 {
	padding-bottom: 12px;
}

h2{
	margin: 0;
	padding: 0;
	font-size:1.4em;
	color: #000;
	}
h2.withUnderline {
	border-bottom: 1px solid #9d9fa2;
	padding-bottom: .2em;
	margin-bottom: 4px;
	color: #00b5e5;
}
h2.withUnderline a:link,
h2.withUnderline a:visited,
h2.withUnderline a:hover,
h2.withUnderline a:active {
	color: #00b5e5;
	text-decoration: none;
}
h3{
	margin: 0;
	padding: 0;
	font-size:1.25em;
	color: #000;
	}
.financial h3 {
	margin-bottom: 1em;
}
.resourceCenter h3 {
	margin-top: 1em;
	margin-bottom: .5em;
}

h4{
	margin: 0;
	padding: 0;
	font-size:1.1em;
	color: #000;
}
.financialNav h4 {
	margin-bottom: 1em;
	text-transform: uppercase;
}
.financialNav h4.noMargin {
	margin-bottom: .2em;
}
h5{
	margin: 0;
	padding: 0;
	font-size:1em;
	font-size:100%;
	padding-bottom: .1em;
	color: #000;
}
.financialNav h5 {
	margin-bottom: .5em;
	text-transform: uppercase;
}
.printHead {
	display: none;
}
/*BEGIN Random styles =============================================*/
p {
	margin: .5em 0 1em;
}


.jump, #comics .videoPreview, .videoPreviewBtn {
	display: block;
	font-size: .95em;
	/*padding-top:.3em;*/
		padding-top:1.0em;
/*	padding-left: .8em;*/
/*	background: url(../images/bluearrow.gif) no-repeat left .5em;*/
}


.applink {
	background: url(../images/bluearrow.gif)/*tpa=http://www.aecom.com/internet1/images/bluearrow.gif*/ no-repeat left .4em;
	padding-left: 1em;
}

.dateline {
	font-size: .95em;
}
#sidebar2 span.dateline {
	font-size: 0.95em;
	font-weight: bold;
}
#sidebar2 p {
	margin-bottom: 0.5em;
}
#sidebar2 .jump {
	display: block;
	font-size: .95em;
	margin: 0.5em 0 1em;
	padding: 0 0 0 1px;
}

span.dateline {
	font-size: .95em;
	padding-right: 1em;
}
.normal {
	font-weight: normal;
}

/*END Random styles =============================================*/
/*BEGIN leadership bio  =============================================*/

h2.leadership {
	margin: 2em 0 .5em;
	font-weight: normal;
	font-size: 2em;
}

.leadership h4 {
	margin: .7em 0 .2em 0;
	padding: 0;
}

.leadership p {
	margin: 0 0 .5em 0;
	padding: 0;
	font-size: .98em;
}

/*END leadership bio  =============================================*/

.textPadding {
	margin-left: 200px;
}

.withRule {
	border-top: 1px solid #9d9fa2;
	margin: 1.5em 0;
	clear:both;
}
.withRuleBelow {
	border-bottom: 1px solid #9d9fa2;
	margin-bottom: 2em;
}

/*#contentLeft .graphicbox img {
	width: 540px;
	height: 200px;
}*/
#contentLeft .videobox img {
	width: 540px;
	height: 350px;
}

.sidebarImg img {
	width: 178px;
	height: 200px;
}
.sidebarImg p {
	margin: .5em 0;
	padding: 0 0 .5em 0;
	font-size: .95em;
/*	border-bottom: 1px solid #9d9fa2;*/
}
/* breadcrumbs style starts here */

.sort {
	margin: 10px 0;
	padding:0;
/*	height: 28px;*/
	font-size: 11px;
}
.sort ul {
	margin: 0;
	padding: 0;
/*	color:#144588;*/
}

.sort li {
	display: inline;
	padding: 0 3px;
}
.sort li.first {
	padding-left: 0;
}
.sort li.first {
	padding-left: 0;
	font-weight: bold;
	color: #000;
}
.sort li.last {
	padding-right: 0;
}
.sort a.selected {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}	
.sort li.siabseparator {
	padding: 0;
}

.sort input.srchBtn {
	color: #fff;
	background-color:#000;
	border-style: none;
	width: auto;
	height: auto;
	margin: 0;
	padding: 4px;
	/*font-size: 11px;*/
	line-height: normal;
	font-weight: bold;
}

/* breadcrumbs style ends here */

/*#siabcontentbody .graphicbox {
	margin-bottom: 18px;
}	*/
.graphicbox1 {
	/*padding-bottom: 30px;  altered: 05-27-2011*/
/*	padding-bottom: 6px;*/
	margin-bottom: 30px;
	height: 465px;
	border-bottom: 1px solid #9D9FA2; /* color altered: 05-31-2011*/
}
.graphicbox2 {
/*	height: 355px;*/
	margin-bottom: 30px;
}
.graphicbox3 {
	margin-bottom: 30px;
	border-bottom: 1px solid #9D9FA2;
}
/*.graphicbox3 h2 {
	margin-top: 0.3em;
}*/
.graphicbox3 div.caption {
	position: relative;
	margin: 0.3em 0 1em;
}
.graphicbox3 div.attribution {
	top: 5px;
	color: #000;
}
.graphicbox p {
	font-size: .95em;
}
/*BEGIN callout styling ========================================================================*/
.marginBtm {
	margin-bottom: 1.5em;
}

.featuredProjects, .caseStudies {
	padding-bottom: 10px;
}
.featuredProjects img, .caseStudies img {
	padding-bottom: 10px;
}

div.siabcalloutone {
	margin:5px;
	text-align: justify;
	padding:5px;
	border:1px solid #9d9fa2;
	width: 178px;
	}

div.siabcallouttwo {
	margin:5px;
	padding:10px;
	border:1px solid #9d9fa2;
	background-color:#F7F7F7;
}

div.siabcalloutthree {
	margin:5px 5px 5px 5px;
	padding:5px;
	text-align: justify;
	background-color:#F7F7F7;
	}
div.siabcalloutfour {
	margin:5px 5px 5px 5px;
	padding:5px;
	text-align: justify;
	border:1px solid #9d9fa2;
}
/*END callout styling =======================================================================*/
/*BEGIN link list styling ============================================================================*/

/*#sidebar h4 {
	margin-bottom: 1.5em;
}*/
#sidebar2 h4, #sidebar h4 {
	margin-bottom: 0.5em;
	font-size:1.3em;
}
#sidebar2 h5 {
	font-size:1.0em;
}
#sidebar2 strong {
	/*color: #000;*/
	font-size:1.0em;
	font-weight: bold;
}
#sidebar2 a {
	text-decoration: none;
}
#sidebar2 img {
	border:none;
}
ul {
	margin: 0;
	padding: 0;
}
ul h4 {
	margin: 0;
	padding: 0;
}
ul p {
	margin: 0;
	padding: 0;
}
ul.linkList {
	list-style:none;
	margin: 0 .5em 1em 0;
	line-height: 1.2em;
}
ul.linkList li {
	margin: 0 0 .75em 0;
}
/*#sidebar2 ul.linkList li {
	margin: 0 0 .5em 0;
	color: #000;
}*/
/*#sideBar2 ul.linkList li {
	padding: 0 .5em 1em 1em;	
}*/
ul.linkList_1 {
	list-style:square outside;
	margin: 0 0 1em 18px;
/*	border: 1px solid #FF0000;*/
}
ul.linkList_1 li {
	list-style:square outside;
	margin-bottom: .3em;
/*	border: 1px solid #FF0000;*/
}
/*ol.linkLists_1 {
	padding: 0;
	margin: 0 0 1em 32px;
}
ol.linkLists_1 li {
	padding: 0;
	margin-bottom: .3em;
}
*/
/* added: 11-19-09 */
ol {
	padding: 0;
	margin: .5em 0 1em 36px;
}
ol li {
	padding: 0;
	margin-bottom: .3em;
}

ul.linkList_2 {
	list-style:none;
	margin: 0 0 1.5em 0;
	line-height: 1.2em;
}
ul.linkList_2 li {
	margin: 0 0 .5em 0;
}
ul.contactInfo {
	padding-bottom: 1em;
}
ul.contactInfo li {
	color: #000;
	margin: 0 0 .3em 0;
}
ul.contactInfo li.formerOpco {
	color: #000;
	margin: 1em 0 .3em 0;
}
ul.linkList_3 {
	list-style: none;
}
ul.linkList_3 li {
	margin-bottom: 1.7em;
	/*line-height: 20px;*/
	line-height: 1.2em;
	padding-left: 36px;
}
ul.linkList_3 li a {
	padding: 10px 0 12px 0px;
	position: relative;
}
ul.linkList_3 li a img.icon {
	position: absolute;
	top: 6px;
	left: -36px;
	border: 0px;
}
ul.linkList_3 a.pdf {
	background: url(../images/icons/icn_pdf.gif)/*tpa=http://www.aecom.com/internet1/images/icons/icn_pdf.gif*/ no-repeat left 6px;
}
ul.linkList_3 a.whitePaper {
	background: url(../images/icons/icn_whitePaper.gif)/*tpa=http://www.aecom.com/internet1/images/icons/icn_whitePaper.gif*/ no-repeat left 6px;
}
ul.linkList_3 a.email {
	background: url(../images/icons/icn_email_lg.gif)/*tpa=http://www.aecom.com/internet1/images/icons/icn_email_lg.gif*/ no-repeat left 6px
}
ul.linkList_3 a.print {
	background: url(../images/icons/icn_print_lg.gif)/*tpa=http://www.aecom.com/internet1/images/icons/icn_print_lg.gif*/ no-repeat left 6px
}
ul.linkList_3 a.rss {
	background: url(../images/icons/icn_rss_lg.gif)/*tpa=http://www.aecom.com/internet1/images/icons/icn_rss_lg.gif*/ no-repeat left 6px
}
ul.linkList_3 a.alerts {
	background: url(../images/icons/icn_email_alerts_lg.gif)/*tpa=http://www.aecom.com/internet1/images/icons/icn_email_alerts_lg.gif*/ no-repeat left 6px
}
ul.linkList_3 a.contacts {
	background: url(../images/icons/icn_contacts_lg.gif)/*tpa=http://www.aecom.com/internet1/images/icons/icn_contacts_lg.gif*/ no-repeat left 6px
}
ul.linkList_3 a.word {
	background: url(../images/icons/msword.gif)/*tpa=http://www.aecom.com/internet1/images/icons/msword.gif*/ no-repeat left 6px;
}
ul.linkList_3 a.excel {
	background: url(../images/icons/icn_excel.gif)/*tpa=http://www.aecom.com/internet1/images/icons/icn_excel.gif*/ no-repeat left 6px;
}
ul.linkList_3 a.powerpoint {
	background: url(../images/icons/icn_powerpoint.gif)/*tpa=http://www.aecom.com/internet1/images/icons/icn_powerpoint.gif*/ no-repeat left 6px;
}
/*ul.linkList_3 img {
	float: left;
	margin: .2em 0 0 -26px;
	border: none;
}*/
ul.linkList_4 {
	list-style:none;
	margin: 0 .5em 1em 0;
	line-height: 1.3em;
}
ul.linkList_4 li {
	list-style:square outside;
	margin: 0 .5em .5em 3em;
}
ul.linkList_5 {
	/*margin-left: 90px;*/
	list-style: none;
}
ul.linkList_5 li {
	position: relative;
	padding-left: 110px;
	margin-bottom: .5em;
}
ul.linkList_5 div {
	/*float: left;*/
	position: absolute;
/*	margin: 0 0 0 -90px;*/
	top: .1em;
	left: 0;
	border: none;
	font-size: .95em;
}
/* hack to position date div in IE 6  */
* html ul.linkList_5 div {
	left: -110px;
}
ul.rss {
	list-style:none;
	margin: 0 .5em 0 0;
	line-height: 1.5em;
}
ul.rss li {
	margin: 0 0 .5em 0;
}
ul.rss a {
	background: url(../images/icons/icn_rss.gif)/*tpa=http://www.aecom.com/internet1/images/icons/icn_rss.gif*/ no-repeat left 0;
	padding-left: 24px;
}

.archives a {
	padding-left: .8em;
	background: url(../images/bluearrow.gif)/*tpa=http://www.aecom.com/internet1/images/bluearrow.gif*/ no-repeat left .25em;
}

ul.searchResults {
	list-style:none;
/*	margin: 0 22px;*/
	line-height: 1.3;
}
ul.searchResults li {
	list-style: none;
	margin-bottom: 14px;
}
ul.searchResults a {
	display: block;
	padding-top: .5em;
}
ul.simple a {
	display: block;
	padding-top: 0;
}
/*END link list styling ===============================================================================*/



/* rule delineated content using divs for overview pages ============================================= */

.calloutcontainer {
/*	border-top: 1px solid #949494;*/
	padding-top: 0;
	clear: both;
	margin: 0 auto;
}

#callout3col.calloutcontainer img, #callout4col.calloutcontainer img, #callout5col.calloutcontainer img {
	display: block;
	float: none;
	margin-bottom: 8px;
}
#callout2col {
	width: 100%;
}
#callout2col .floatRight {
	width: 222px;
}

.itemInstance {
	margin:0 21px 0 0;
	/*border: 1px solid #949494;*/
	padding: 11px;
	float: left;
}

#callout2col .itemInstance {
	width:446px;
	margin: 0;
	padding: 0;
}
#callout3col {
	margin: 0px auto 0px;
}
#callout3col .box {
	padding: 10px;
	background: #EEEEEE;
}
#callout3col .itemInstance {
	width: 193px;
	display: inline;
}
#callout3col .itemInstance img {
	width:258px;
	height: 180px;
	border: none;
}
/*#callout4col .calloutcontainer {
	margin: 0;
	padding: 0;
}*/

#callout4col {
	background: url(../images/callout4col_tile.gif)/*tpa=http://www.aecom.com/internet1/images/callout4col_tile.gif*/ repeat-y;
	margin: 10px auto 0;
}
#callout4col h3 {
	padding: 0 0 .1em 0;
	margin: 0 0 .7em 0;
	border-bottom: 1px solid #9d9fa2;
}
#callout4col .itemInstance {
	width:190px;
	margin-top: 0;
	margin-right: 18px;
	padding: 16px;
	float: left;
}
#callout5col .itemInstance {
	width:164px;
	margin-top: 0;
	margin-right: 10px;
	padding: 7px;
	float: left;
}

#callout5col.calloutcontainer {
	padding-bottom: 0;
	padding-left: 0;
/*	padding-left: 23px;*/
}

/* class "rightItems" container for instances in right 'column' of 2-column formats */
#callout2col .last, #callout3col .last, #callout4col .last, #callout5col .last {
	margin-right: 0;
}

/* BEGIN columns for information page ===============================================*/
div.information {
	background: url(../images/callout3col_tile.gif)/*tpa=http://www.aecom.com/internet1/images/callout3col_tile.gif*/ repeat-y center;
	padding: 0 22px;
	margin-bottom: 22px;
}
.box2 {
	padding: 0 22px 10px;
}
#threeCol_twoColLeft {
	width: 621px;
	float: left;
}
#threeCol_oneColRight {
	width: 300px;
	float: right;
}

#threeCol_twoColLeft .box, #threeCol_oneColRight .box {
	padding: 0 10px;
	margin: 10px 0;
	/*background: #EEEEEE;*/
}

#threeCol_twoColLeft .itemInstance, #threeCol_oneColRight .itemInstance {
	width: 300px;
	margin: 0 21px 0 0;
	padding: 0;
}
#threeCol_twoColLeft .itemInstance.last, #threeCol_oneColRight .itemInstance.last {
	margin-right: 0;
}
#threeCol_twoColLeft .itemInstance img, #threeCol_oneColRight .itemInstance img {
/*	
	width:280px;
	height: 180px;
*/
	border: none;
	margin-bottom: 8px;
}
.newsFeature {
	background: #FFFFFF;
	padding-bottom: 10px;
}

/* END columns for information page ===============================================*/


/* rule delineated content using divs: 03-13-09 ============================================= */
/* class "container" is global 'row' container that defines top and bottom padding */
/*.thumbLinks {
	width: 540px;
}*/

.thumbLinks, .partners {
	border-top: 1px solid #9d9fa2;
	padding: 14px 0 0;
	margin: 30px 0 0;
}
.thumbLinks .sidebarUtility {
	float: right;
}
.thumbLinks ul.sidebarUtility li {
	list-style: none;
}
.thumbLinks img {
	border: none;
}
.thumbLinks h2 {
/*	padding-bottom: .8em;*/
	display: inline;
	float: left;
}
.partners h2 {
	padding-bottom: 1em;
}
.listHead {
	height: 34px;
}
.homeLinks h3 {
	border-bottom: none;
	padding-bottom: .1em;
	margin: 0 0 .5em;
}
.thumbLinks p, .homeLinks p {
	margin-top: 0;
}
.container {
/*	border-top: 1px solid #9d9fa2;*/
/*	padding-top: 12px;*/
	padding-bottom: 12px;
}
.thumbLinks .container, .thumbLinks .linkList_2 {
	clear: both;
}
.container h4 {
	margin: 0;
	padding: 0;
}
.container h4 a:link, .container h4 a:visited {
    color: #808285;
    text-decoration: none;
}
.container h4 a:hover, .container h4 a:active {
    color: #A51681;
    text-decoration: none;
}
.container img {
	border: 0;
	float:left;
}
/*.container p {
	margin: 0;
	padding: 0;
}*/

.floatRight_one {
	width: 338px;
	float: right;
}
.floatRight_two {
	width: 270px;
	float: right;
}
.floatRight_three {
	width: 370px;
	float: right;
}
.floatRight_four {
	width: 420px;
	float: right;
}
.floatRight_five {
	width: 280px; /*updated 09-22-2009*/
	float: right;
}
.floatRight_one p {
	margin-top: 0;
}
.floatRight_feature {
	width: 380px;
	float: right;
}
#newsHead {
	height: 64px;
	position: relative;
}
#newsHead h1 {
	font-size: 2em;
}
/*added: 05-27-2011*/
.AECOMnews {
	position: relative;
	/*border-bottom: solid 1px #9D9FA2;*/
	margin-bottom: 1.5em;
}
/*.AECOMnews h1 {
	font-size: 2em;
}*/

/*#newsHead h1 {
	width: 300px;
}*/
#newsHead #util {
	position: absolute;
	top: 0;
	right: -10px;
}
#newsHead #util li {
	padding-left: 10px;
}

#newsHead #util select {
	width:182px;
}

.AECOMnewsTable {
	border-collapse: collapse;
	width: 502px;
}
.AECOMnewsTable a.videoGalleryThumbs {
	display: block;
	position: relative;
	width: 156px;
	height: 80px;
	overflow: hidden;
}
.AECOMnewsTable a.videoGalleryThumbs img.play {
	position: absolute;
	top: -160px;
	left: 0;
}
.AECOMnewsTable a.videoGalleryThumbs img.nowPlaying {
	position: absolute;
	top: -80px;
	left: 0;
}
.AECOMnewsTable img {
	border: none;
}
.AECOMnewsTable td {
	padding: 0 17px 8px 0;
	vertical-align: top;
	width: 30%;
}
.AECOMnewsTable tr.title td {
	padding-bottom: 24px;
}


/* END rule delineated content using divs: 03-13-09 ============================================= */
/* BEGIN overview grids: 03-11-09 ============================================= */
#overviewGrid {
	border-collapse:collapse;
	margin: 10px auto;
}
/*.overviewGrid td {
	padding: 0;
}*/
#overviewGrid td {
	padding: 0 8px 8px 0;
	vertical-align: top;
}
#overviewGrid td.right, #overviewGrid th.right table.AECOMnewsTable td.right {
	padding-right: 0;
}
#overviewGrid tr.lastRow td {
	padding-bottom: 0;
}
#overviewGrid img {
	/*width: 302px;
	height: 156px;*/ /*updated 09-22-2009*/
	border: 0;
}
#overviewGrid td .div1 {
	position: relative;
	width: 302px;
	height: 156px;
	z-index: 100;
}
#overviewGrid td .div2 {
	position: absolute;
	top: 106px;
	left: 0;
	width: 302px;
	height: 50px;
	color: #fff;
	background: #000;
	filter:alpha(opacity=60);
	opacity: 0.6;
/*	background: rgba(0, 0, 0, 0.5);*/
	z-index: 200;
}
/*#overviewGrid td .box {
	padding: 8px;
	margin: 0;
}*/
#overviewGrid td .div3 {
	position: absolute;
	top: 106px;
	left: 0;
	width: 292px;
	height: 30px;
	color: #fff;
	z-index: 300;
	margin: 10px;
	font-size: 12px;
	overflow: hidden;
}

#overviewGrid td .div4 {
	position: absolute;
	top: 0;
	left: 0;
	width: 302px;
	height: 156px;
	background: #9d9fa2;
	display: none;
	z-index: 400;
}
#overviewGrid td .div4 div {
	margin: 15px;
	font-size: 12px;
	width: 272px;
	height: 126px;
	overflow: hidden;
}
#overviewGrid td .div4 h3, #overviewGrid td .div4 p {
	color: #fff;
	margin: 0;
	padding: 0 0 4px 0;
}
#overviewGrid td .div4 a {
	font-size: .95em;
}
#overviewGrid td .div4 a:link, #overviewGrid td .div4 a:active, #overviewGrid td .div4 a:visited {
	color: #fff;
}

#overviewGrid td .div4 a:hover {
	color: #a51681;
}
#overviewGrid td:hover .div4, #overviewGrid td.over .div4 {
	display: block;
}
/* END overview grid: ============================================= */

/* BEGIN site map grid: ============================================= */
#siteMapGrid {
	border-collapse:collapse;
	width: 100%;
}
#siteMapGrid td {
	padding: 0 8px 8px 0;
	vertical-align: top;
	width: 25%;
}
#siteMapGrid tr.lastRow td {
	padding-bottom: 0;
}
#siteMapGrid td.right {
	padding-right: 0;
}
#siteMapGrid h4 {
margin-top: 1em;
}
/* END site map grid ============================================= */
/* site map navigation ===========================================================================================*/

.sitemap {
	font: 10px Arial, Helvetica, sans-serif;
	line-height: 13px;
	list-style: none;/*	position: relative; */
}
.sm_section h4 {
margin-top: 1em;
}
.sitemap ul, .sitemap li {
	list-style: none;/*	position: relative; */
}

.sitemap li {
	margin-top: .5em;
}
.sitemap ul {
	margin-left:.75em;
}
.sitemap a:link, .sitemap a:visited, .sitemap a:active {
	color: #666;
	text-decoration: underline;
}

.sitemap a {
	display: block;
	height: 1%; /* kluge: removes large gaps in IE/Win *//*	border-right: 1px solid #0377cc;  */
}

.sitemap a:hover {
	color: #a51681;
}

.hideSubNav {
	display: none;
}
.sitemap li a {
	padding-left: 18px;
}

/*.sitemap ul li .highLightLink {
	border-bottom: 1px solid #a6a6a6;
	border-right: 4px solid #a6a6a6;
}
.sitemap ul li .highLightLink:hover {
	background: #a6a6a6;
	color: #11568C;
}*/
.sitemap li {
	position: relative;
}
/* END sitemap navigation =================================================================================*/
/* BEGIN content area anchor formatting ======================================================================================== */

a:link, a:visited {
	color: #808285;
	text-decoration: underline;
}
a:hover, a:active {
/*	color: #016aff; */
	color: #a51681;
}
a { outline: none; }
a:focus { -moz-outline-style: none; }

/* Data table formatting =======================================================*/

table.standard, table.financialCal, table.eventCal {
	margin: 0;
	padding: 0;
	background: #fff;
	border-collapse:collapse;
	border: 1px solid #9d9fa2;  
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
table.standard th, table.financialCal th, table.eventCal th {
	padding: 6px 6px;
	background:#7fbb42;
	color: #fff;
	text-align: left; 
	border-left: 1px solid #9d9fa2;  
}
table.eventCal th {
	border-left: none;
}
table.eventCal th {
	padding: 6px 4px;
	background:#808285;
	text-align: center; 
}
table.standard .centerAlign {
	text-align: center; 
}
table.standard img, table.financialCal img {
	border: none; 
}
table.standard th a:link, table.standard th a:visited, table.standard th a:active,
table.eventCal th a:link, table.eventCal th a:visited, table.eventCal th a:active {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
table.standard th a:hover,
table.eventCal th a:hover {
	text-decoration: underline;
}
table.standard td, table.financialCal td, table.eventCal td {
	padding: 6px 8px;
	border-left: 1px solid #9d9fa2;
	vertical-align: top;
}
table.eventCal td {
	padding: 6px 0;
	background: #f0f0f0;
	font-size: 10px;
	width: 14%;
}

table.financialCal td, table.eventCal td {
	text-align: center; 
	border-bottom: 1px solid #9d9fa2;
}
table.financialCal td.noDate {
  background-color: #f0f0f0;
}
table.financialCal td.eventDate {
  background-color: #000;
  color: #fff;
}
table.eventCal td.eventDate {
  background-color: #7fbb42;
  color: #fff;
}
table.eventCal td.selectDate {
  background-color: #00b5e5;
  color: #fff;
}
table.financialCal a:link, table.financialCal a:visited, table.financialCal a:active,
table.eventCal a:link, table.eventCal a:visited, table.eventCal a:active {
  color: #fff;
  text-decoration: none;
}
table.financialCal a:hover,
table.eventCal a:hover {
	text-decoration: underline;
}
table.eventDetail {
	margin-bottom: 1em;
	/*width: 100%;*/
}
table.eventDetail td {
	vertical-align: top;
	padding-right: 20px;
}
/*table.standard #spacerRow td {
	height: 1px;
	padding: 0;
	border-bottom: none;
	background: #fff;
}*/
/*table.standard caption {
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #11568C;
	text-align: left;
	padding-bottom: .25em;
}*/
/*table.standard tr.lastrow td {
	border-bottom: 1px solid #9d9fa2;
}
table.standard td.lastcolumn {
	border-right: 1px solid #9d9fa2;
}*/


tr.odd td {
  background-color: #f0f0f0;
}
tr.highlight td {
  background-color: #d9eaf7;
}
.change {
	color: #f00;
}
table.projectInfo {
	border-collapse:collapse;
	width: 100%;
	margin-bottom: 22px;
}
table.projectInfo td {
	padding: 0 0 .2em .2em;
}


table.searchResults {
	width: 718px;
	border-collapse: separate;
/*    border-spacing: 14px;*/
	margin: -14px 0 0 -14px;
}
table.searchResults th {
	padding: 4px 6px;
	color: #fff;
	background:#11568c;
	border-bottom: 4px solid #FFFFFF;
	text-align: left;
	font-weight: bold;
}
table.searchResults td {
	padding: 10px;
	background: #9d9fa2;
	color: #fff;
/*	border-right: 14px solid white;
	border-bottom: 14px solid white;*/
	width: 33%;
	vertical-align: top;
}
/*altered: 11-04-09*/
table.searchResults td.nobackground {
	background: none;
	color: #000;
}
table.searchResults li {
	list-style: none;
	margin: 0;
	line-height: 1.5em;
}
/*added: 11-04-09*/
table.searchResults td.nobackground a:link, 
table.searchResults td.nobackground a:active, 
table.searchResults td.nobackground a:visited {
	color: #808285;
}
/*added: 11-04-09*/
table.searchResults td.nobackground a:hover {
	color: #a51681;
}
table.searchResults a:link, table.searchResults a:active, table.searchResults a:visited {
	color: #fff;
}


table.searchResults a:hover {
	color: #a51681;
}
/* BEGIN information table formatting =====================================================================================================*/

table.info {
	border-collapse: collapse;	
}
table.info th {
	padding: 4px 6px;
	color: #fff;
	background:#11568c;
	border-bottom: 4px solid #FFFFFF;
	text-align: left;
	font-weight: bold;
}
table.info td {
	padding: 10px;
	background: #ededed;
	border-right: 26px solid #FFFFFF;
	border-bottom: 26px solid #FFFFFF;
	vertical-align: top;
}
table.info img {
	width: 268px;
	height: 150px;
}
table.info td.right {
	border-right: none;
}
table.info li {
	list-style: none;
	margin: 0;
	line-height: 1.5em;
}




/* END table formatting =====================================================================================================*/

/* BEGIN generic display styles =======================================================================================*/
.displayBlock {
	display: block;
}
.emphasis {
	font-style: italic;
}

/* class "floatRight" is global text style for each instance of all right-aligned text blocks */
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
/* END generic display styles =======================================================================================*/
/* BEGIN search results styling =================================================================================== */
.matches {
	font-size: .75em;
	font-weight: normal;
}

.resultIndex * {
	font: 11px Arial, Helvetica, sans-serif;
}
.resultIndex  {
	border-collapse: collapse;
	margin-left: -4px;
}
.resultIndex td {
	padding: 0 4px;
	color: #808285;
}

#pageNo {
	width: 20px;
	color: #fff;
	background: #808285;
	border: none;
	padding: 4px;
}
/* END search results styling =================================================================================== */

.dividerRule {
	height: 2em;
	border-top: 1px solid #9d9fa2;
	margin-top: 2em;
}
#sidebar2 .dividerRule {
	height: 1em;
	border-top: 1px solid #9d9fa2;
	margin-top: 1.5em;
}
.withRuleBelow {
	border-bottom: 1px solid #9d9fa2;
	margin-bottom: 1em;
	padding-bottom: 8px;
}

/* BEGIN form presentation =====================================*/
fieldset {
	/*background: #EEEEEE;*/
	/*	border: 2px solid #efcb87; */
	border: solid 0 transparent;
	margin-bottom: 1em;
	padding: 0;
	color: #000;
}
fieldset.nav {
	padding: 0 8px;
}
fieldset p {
	padding-top: .2em;
	padding-bottom: .6em;
	margin: 0;
/*	font-size: .75em;*/
}
#officeLocator select {
	width: 205px;/*	width: 100%; */
}
#officeLocator .wide {
	width: 200px;
}
#officeLocator ul {
	list-style: none;
}
	
#officeLocator li {
	display: inline;
	margin: 10px 22px 10px 0;
}
#officeLocator label {
	display: none;
}

/* BRGIN forms presentation =====================================*/
#careers {
	margin-top: 30px;
}
.box {
	margin: 28px 0;
	clear: both;
}
.searchSidebar ul,
.careers ul,
.financial ul,
.contactForm ul,
.emailForm ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.searchSidebar li {
/*	margin: 0 0 14px 0;*/
	height: 35px;
}
.searchSidebar li.last, 
.careers li.last, 
.financial li.last,
.contactForm li.last {
/*	margin: 0 0 14px 0;*/
	height: 1%;
}
.emailForm li.last {
/*	margin: 0 0 14px 0;*/
	padding-bottom: 0;
}
.searchSidebar label {
	display: none;
}
.searchSidebar select {
	width: 100%;
}
.searchSidebar .searchtext {
	width: 98%;
}
fieldset.careers {
	width: 200px;
}
fieldset.contactForm {
	width: 380px;
}
fieldset.careers ul,
fieldset.contactForm ul,
fieldset.emailForm ul {
	padding-bottom: 18px;
}
fieldset.financial {
	width: 260px;
}
.careers select,
.contactForm select {
	width: 200px;
}
.emailForm select {
	width: 234px;
}

input.checkbox {
	width: 14px;
	height: 14px;
/*	border: 1px solid #F00;*/
}
.financial select {
	width: 260px;
}
.careers .searchtext,
.contactForm .searchtext {
	width: 196px;
}
.emailForm .searchtext {
	width: 230px;
}
.financial .searchtext {
	width: 256px;
}
fieldset.careers li, 
fieldset.financial li,
fieldset.contactForm li
 {
	height: 56px;
}
fieldset.emailForm li {
	padding-bottom: 16px;
}

.careers label,
.financial label,
.contactForm label,
.emailForm label {
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 4px;	
}
.emailForm table {
	border-collapse: collapse;
}
.emailForm table td {
	padding-bottom: 0;
	vertical-align: middle;
}
.emailForm table td label {
	padding-left: 4px;
	padding-bottom: 0;
}
.tips {
	font-size: 11px;
	font-weight: normal;
	padding-left: 8px;
	line-height: normal;
}
.disclaimer {
	font-size: 11px;
	font-weight: normal;
	line-height: normal;
	padding-top: 6px;
	border-top: 1px solid #9d9fa2;
}
.emailForm .tips {
	padding-left: 0;
}
.searchSidebar .srchBtn, 
.careers .srchBtn, 
.financial .srchBtn,
.contactForm .srchBtn,
.emailForm .srchBtn {
	float: right;
	background-color:#000;
}
.careers table.utility,
.financial table.utility,
.contactForm table.utility,
.emailForm table.utility
  {
	float: right;
}
.careers table.utility td,
.financial table.utility td,
.contactForm table.utility td,
.emailForm table.utility td {
	padding-left: 6px;
}
.contactForm textarea {
	width: 380px;
}
.emailForm textarea {
	width: 100%;
}
#eventsListing ul.linkList_2 {
	list-style:none;
	margin: 0 .5em 1em 0;
	line-height: 1.5em;
	font-size: .95em;
}
/* END form presentation =====================================*/

/*BEGIN styles for Bio index page/tabbed thumbnail panels ============================================*/
/* rule delineated content ============================================= */
.thumbnail {
	border-collapse: collapse;
}
.thumbnail p {
	padding: 0;
	margin: 0;
}
.thumbnail td {
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: top;
/*	border-top: 1px solid #9d9fa2;*/
}

.thumbnail tr.noRule td {
	border-top: none;
	padding-top: 0;
}

.thumbnail img {
	margin-right: 10px;
/*	border: 1px solid #9d9fa2;*/
}

.thumbnail p.archives {
	padding-top: .8em;
	text-align: right;
	display: block;
}
.archives a {
	padding-left: .8em;
	background: url(../images/bluearrow.gif)/*tpa=http://www.aecom.com/internet1/images/bluearrow.gif*/ no-repeat left .25em;
}
/*END table formatting ===========================================*/
#controls {
	text-align: center;
	font: bold 10px Arial, Helvetica, sans-serif;
	background: #FFF;
	/*	border-top: 2px solid #0066CC;*/
	/*z-index: 30;*/
}
#controls ul {
	list-style: none;
	margin-bottom: 0;
	margin-left: 12px;
}
#controls li {
	float: left;
	margin-bottom: -1px;
}
#controls a {
	display: block;
	padding: 3px 10px;/*	background: #E2E2E2;  */
	font-weight: bold;
	cursor: auto;
	font-size: 11px;
}
.active {
/*	background: #fff;*/
	border-bottom: 1px solid #fff;
}
.inActive {
	/*background: #f00;*/
	border-bottom: 1px solid #9d9fa2;
}
#holder {
	/*position:relative;*/
	/*	background: #CCCCCC;
	border-bottom: 2px solid #0066CC;*/
	text-align: left;

}
.panel {
	padding: 12px;
	padding-bottom: 0;
}

#comics .panel {
	padding: 0;
}

#btn2, #btn1 {
	border-top: 1px solid #9d9fa2;
	border-right: 1px solid #9d9fa2;
	border-left: 1px solid #9d9fa2;
}
#panel2, #panel1 {
	border-top: 1px solid #9d9fa2;
}

/* BEGIN sidebar navigation ===========================================================================================*/
#sidenavContainer {
	width: 204px;
}
#sidenavContainer .box {
	padding: 0 10px;
	margin: 0;
}
#sidenavContainer h1 {
	color: #000;
	padding: 0 10px;
	font-size: 2em;
	font-weight: normal;
	text-transform: uppercase;
	padding-bottom: 24px;
}
#sidenavContainer h1 a
{
	text-decoration: none;
	color: #000;
}
#sidenavContainer h2 {
	color: #000;
	padding: 0 0 0 10px;
	font-size: 12px;
}
#sideNav.eventsDetail ul {
	margin: 1em 0;
}
/*BEGIN show/hide side menu sub-nav ======================================================*/


.sitemap img {
	position: absolute;
	top: 3px;
	left: 0px;
	width: 10px !important;
	height: 10px !important;
}
a.expandIcon {
	padding: 0;
	margin: 0;
	border: none;	
}
a.expandIcon img {
	border: none;	
}
.show {
	display: block;
}
.hide {
	display: none;
}
.collapsed {
	/*background: url(../images/plus.gif) no-repeat 0 0.5em;*/
}
.sitemap .displayed {
	/*background: url(../images/minus.gif) no-repeat 0 0.5em;*/		
}
/*.sitemap .displayed a.selected {
	color: #fff;		
}*/

div.selected {
	padding: .2em 18px .3em 16px;
	margin-right: 20px;
}



/* thumbnail scroller ===============================================*/
#controller, #controller2 {
	float: left;
	padding-bottom: 16px;
}
#controller li, #controller2 li {
	list-style:none;
	float: left;
}
#controller a, #controller2 a {
	padding: 0 1em;
}
#controller h2, #controller2 h2 {
	padding-right: 38px;;
}
#scrollThumbs, #scrollThumbs2 {
	position: absolute;
	left: 0px;
	top: 0px;
}
#scrollThumbs, #scrollThumbs2 {
	width: 513px;
	height: 1000px
}

/*#scrollThumbs li {
	float: left;
}
#scrollThumbs a {
	display: block;
	margin: 2px 6px;
	text-decoration: none;
}
#scrollThumbs a:hover {
	text-decoration: none;
	margin: 0 4px;
	border: 2px solid #F49034;
}*/
#contentLeft #scrollWrapper {
/*	position: relative;  */
	width: 513px;
	height: 306px;
	position: relative;
	overflow: hidden;
/*	float: left; */
}
#contentRight #scrollWrapper {
/*	position: relative;  */
	width: 380px;
	height: 306px;
	position: relative;
	overflow: hidden;
/*	float: left; */
}
/* breadcrumbs style starts here */

#siabbreadcrumb {
	border-collapse: collapse;
	margin-bottom: 26px;
}
#siabbreadcrumb a {
	text-decoration: none;
	font-size: 10px;
	color: #fff;
	padding: 0 6px;
}

#siabbreadcrumb a:hover {
	text-decoration: underline;	
}
#siabbreadcrumb td.previous {
	background: #000;	
}
#siabbreadcrumb td.current {
	background: #00b5e5;	
}
/*FIX for breadcrumb list: 06-08-09 ===============================*/
/*.widthFix {
	width: 540px;
}
#siabbreadcrumb ul {
	margin: 0;
	padding: 0;
}

#siabbreadcrumb li {
	display:inline;
	padding: 0 3px;
}
#siabbreadcrumb li.first {
	padding-left: 0;
}
#siabbreadcrumb li.last {
	padding-right: 0;
}	
#siabbreadcrumb li.siabseparator {
	padding: 0;
}*/
/* breadcrumbs style ends here */

/*BEGIN financial rules ===============================*/

.webCast {
	margin-bottom: 2em;
}
.disclaimer {
	font-size: 10px;
}
/*BEGIN carousel rules ===============================*/

div.pencil {
	position: absolute;
	top: 10px;
	left: 10px;
}
/* commented out 07-15-2011. conflicts with named region "carousel"

#carousel .panel {
	padding: 0;
	position: relative;
}

#carousel .panel-overlay {
	position: absolute;
	top: 235px;
	left: 0;
	width: 690px;
	height: 120px;
	background: #000;
	filter:alpha(opacity=60);
	opacity: 0.6;
	z-index: 200;
}
#carousel .overlay {
	position: absolute;
	top: 235px;
	left: 0;
	width: 650px;
	height: 80px;
	padding: 20px;
	color: #fff;
	z-index: 300;
	overflow: hidden;
}

#carousel table.videoLink {
	position: absolute;
	font-size: 10px;
	top: 22px;
	right: 22px;
	border-collapse: collapse;
}
#carousel table.videoLink td {
	padding-left: 6px;
}
#carousel a:link,
#carousel a:visited,
#carousel a:active {
	color: #00b5e5;
	text-decoration: none;
	display: block;
}
#carousel a:hover {
	text-decoration: underline;
	display: block;
}
#carousel table.videoLink img {
	border: 0;
}

*/

.overlay h2,
.overlay p
{
	margin: .3em 0;
	color: #fff;
	position: relative;
/*	border: 1px solid #FF0000;*/
}
.overlay a.jump {
	margin: .3em 0;
}

.overlay p {
	line-height: 1.2em;
}
ul.thumbnailPanel li {
	float: left;
	list-style:none;
}
.thumbnailPanel {
	padding-top: 10px;
}
.thumbnailPanel img {
	padding-right: 10px;
	border: 0;
}
.thumbnailPanel img.arrow, .thumbnailPanel img.last {
	padding-right: 0;
}
.attribution {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 9px;
	color: #FFFFFF;
}

.galleryCap {
	font-size: 11px;
	font-weight: normal;
	/*padding-left: 10px;*/
}
/*BEGIN lightbox rules =============================================================================*/
#lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1600px;
/*	background: rgba(0, 0, 0, 0.5);*/
	z-index: 50000;
}
#tintLayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter:alpha(opacity=60);
	opacity: 0.6;
	z-index: 100;
}
#emailFriend {
	position: absolute;
	top: 80px;
	left: 300px; 
	width: 550px;
	height: auto;
	background: #fff;
	z-index: 200;
}
#emailFriend h2 {
	padding-top: 12px;
	padding-bottom: 24px;
}
#emailFriend .box {
	padding: 30px;
	margin: 0;
/*	border: 1px solid #FF0000;*/
}
.closeBox {
	border: 1px solid #000000;
	text-align: center;
	width: 60px;
	position: absolute;
	top: 10px;
	right: 20px;
}
.closeBox a {
	padding: 2px 0;
	border: 1px solid #000000;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	display: block;
}
/*  BEGIN stories =======================================================================================*/
/*#slideContainer {
	margin-bottom: 20px;
	width: 801px;
	height: 360px;
	overflow: hidden;
}
.storiesCarousel {
	width: 3471px;
}
.storiesCarousel li {
	list-style: none;
	float: left;
}
.picWrapper {
	position: relative;
}
#storiesControl {
	padding-bottom: 20px;
	text-align: center;
	position: relative;
	width: 801px;
}
#storiesControl ul {
	margin: 0 auto;
	padding-top: 2px;
}
#storiesControl li {
	display: inline;
	padding: 2px 0;
}
#storiesControl li a:link,
#storiesControl li a:visited,
#storiesControl li a:active {
	padding: 1px 6px;
	background: #fff;
	color: #808285;
	border: 1px solid #000000;
	text-decoration: none;
}
#storiesControl li a:hover {
	background: #ccc;
	color: #808285;
}
#storiesControl li a.selected {
	background: #ccc;
}
#arrowLeft {
	position: absolute;
	top: 2px;
	left: 0;
}
#arrowRight {
	position: absolute;
	top: 2px;
	right: 0;
}
#arrowLeft a,
#arrowRight a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
*/
/*BEGIN stories detail page ===================================================================*/
#picHolder {
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
}
#textHolder {
	position: absolute;
	top: 0;
	right: 0;
	width: 261px;
	height: 438px;
	padding: 20px 20px 0px;
	background: #FFFFFF;
}

#textHolder h3 {
	margin: 0;
	padding: 0;
}

#caption {
	position: absolute;
	bottom: 57px;
	width: 260px;
	border-top: 1px solid #808285;
	border-bottom: 1px solid #808285;
	padding: 5px 0;
	font-size: .95em;
}
#moreStories {
	position: absolute;
	width: 260px;
	bottom: 0;
	font-size: 10px;
}

#storiesNav {
	position: absolute;
	width: 260px;
/*	bottom: 22px;*/
	bottom: 30px;
	border-collapse: collapse;
}
#storiesNav a {
	text-decoration: none;
}
#storiesNav a.selected {
	background: #ccc;
}
#navLeft,
#navRight {
	font-size: 10px;
	width: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 6px;
}
.selectBox {
	padding: 1px;

}
.selectBox a:link,
.selectBox a:visited,
.selectBox a:active {
	background: #FFFFFF;
	border: 1px solid #9d9fa2;
	display: block;
	height: 4px;
}
.selectBox a:hover {
	background: #ccc;
	border: 1px solid #9d9fa2;
	display: block;
	height: 4px;
}
.selectBox a {
	color: #FFFFFF;
	border: 1px solid #9d9fa2;
	display: block;
	height: 4px;
	line-height: 6px;
}
.storyNums td {
	font-size: 8px;
	line-height: 10px;
	padding-left: 1px;
}

/*BEGIN picture overlay text ===================================================================*/

#storiesHome #overlayTitle {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 60px;
}
#storiesDetail #overlayTitle {
	position: absolute;
	top: 30px;
	right: 0;
	width: 200px;
	height: 60px;
}
#storiesDetail div.hide {
	position: static;
}
#tint {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 60px;
	background: #fff;
	filter:alpha(opacity=70);
	opacity: 0.7;
	z-index: 200;
}
#overlayText {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 300;
}
#overlayText a {
	text-decoration: none;	
}
/*END picture overlay text ===================================================================*/
/*BEGIN wysiwyg color rules ================================================================*/
span.highlightBlue {
	color: #00b5e5;
}
span.highlightGreen {
	color: #7fbb42;
}
span.highlightOrange {
	color: #f68b1f;
}
span.highlightPurple {
	color: #a51681;
}
span.highlightMedGray {
	color: #808285;
}
span.highlightLightGray {
	color: #9d9fa2;
}

/* END color styling================================================================= */

/* Data table formatting. Creation date: 01/27/10 
Create rules for tables within Ephox editor =======================================================*/

/* testing default table styles. Creation date: 01/27/10   */
#wysiwygBody table {
	margin: .5em 0 2em;
	background: #fff;
	border-collapse: collapse;
	border: 1px solid #9d9fa2;
	width: 100%;
	font: 11px Arial, Helvetica, sans-serif;
	color: #666;
}
#wysiwygBody table th {
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	font-size: 1.2em;
	border: 1px solid #9d9fa2;
}
#wysiwygBody table td {
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
	border: 1px solid #9d9fa2;
}

#wysiwygBody table.basic {
	border: none;
}
#wysiwygBody table.basic th {
	border: none;
	border-bottom: 1px solid #9d9fa2;
}
#wysiwygBody table.basic td {
	border: none;
}

#wysiwygBody table.standard {
	background: #fff;
	border-collapse:collapse;
	border: 1px solid #9d9fa2;
}
#wysiwygBody table.standard th {
	padding: 6px 6px;
	background:#7fbb42;
	color: #fff;
	text-align: left; 
	border-left: 1px solid #9d9fa2;  
}

#wysiwygBody table.standard td {
	padding: 6px 8px;
	border-left: 1px solid #9d9fa2;
	vertical-align: top;
}


#wysiwygBody table.tableWithPics {
	border-collapse: collapse;
	border: none;
}
#wysiwygBody table.tableWithPics th {
	border: none;
	border-bottom: 1px solid #9d9fa2;
}
#wysiwygBody table.tableWithPics td {
	padding: 6px 8px;
	border: none;
	border-top: 1px solid #9d9fa2;
}

#wysiwygBody table.tableWithPics img {
/*	margin-right: 10px;*/
	border: 1px solid #9d9fa2;
}
/* unordered list formatting. Creation date: 01/27/10 
Create rules for unordered within Ephox editor =======================================================*/
#wysiwygBody ul {
	list-style:square outside;
	margin: .5em 0 1em 18px;
}
#wysiwygBody ul li {
/*	list-style:square outside;*/
	margin-bottom: .3em;
}

/*END testing wysiwyg styles ================================= */

marquee {
	display: none;
}
blink {
	display: none;
}
#csrFilter {
	border-top: 1px solid #9d9fa2;
	border-bottom: 1px solid #9d9fa2;
}
/*#csrFilter table {
	margin: 0 auto;
}*/
#csrFilter fieldset {
	margin: 0;
}
#csrFilter td {
	padding: 10px 20px 10px 0;
}
#csrFilter td.separator {
	border-left: 1px solid #9d9fa2;
}
#csrFilter td.separator input.srchBtn {
	width: 130px;
}
#csrFilter option {
	padding: 0 4px;
}
#mapPort {
	border: 1px solid #9d9fa2;	
}
#mapBtn img {
	border: 0;
}
#mapBtn {
	text-align: center;
}
#mapBtn h4 {
	margin-bottom: .5em;
}
#mapBtn p {
	margin-top: 0;
}

/* hr formatting. Creation date: 05/19/2011 
Create horizontal rules within Ephox editor =======================================================*/
hr {
    background-color: #9D9FA2;
    border: 0 none;
    color: #9D9FA2;
    left: 0;
    margin: 10px 0;
    position: relative !important;
    width: 100%;
	height: 1px;
}
ol {
    list-style: decimal outside !important;
	padding: 0;
	margin-top: .5em;
	margin-bottom: 1em;
}
ol li {
	padding: 0;
	margin-bottom: .3em;
}


/*.VCM-component {
	border: solid 1px #f00;
}
.VCM-region {
	border: solid 1px #00f;
}*/

.previewGallery {
/*	font-weight: bold;*/
	/*height: 440px;*/
	height: 500px;
	/*width: 876px;*/
	overflow: hidden;
}
.previewThumbs {
	width: 179px;
	/*height: 440px;*/
	height: 500px;
	float: left;
/*	margin:  0 0 0 2px;*/
	border-right: solid 1px #9d9fa2;
	overflow: auto;
}
.previewThumbs ul {
	width: 156px;
}
.previewGallery li {
	padding: 0 0 10px 0;
	float: left;
}
.previewGallery li.last {
	padding-bottom: 0;
}
.previewGallery li a {
/*	float: left;*/
	text-decoration: none;
	font-size: .95em;
}
.previewThumbs img, .previewImg img {
	border: none;
}
.previewThumbs img {
/*	padding-bottom: 2px;
	display: block;*/
}
.item {
	float: right;
	width: 690px;
}
.previewGallery div.caption {
	height:88px;
	padding-top: 8px;
}
#popupGallery div.attribution {
	color: #000;
	top: 2px;
	right: 20px;
}
.paraContainer {
	/*height:54px;*/
	height:98px;
	overflow: auto;
	margin-left: 12px;
	margin-bottom: 2px;
	position: relative;
	/*border: solid 1px #f00;*/
}
.paraContainer p {
	/*margin: 0.5em 0 0 0;*/
	padding-right: 8px;
}
#popupGallery a.jump {
	padding-left: 12px;
}