	body {
		background-color: #2A2C2B;
	}

	a {
		outline: none;
	}

	.parentDiv{
		min-width: 950px;
		width: expression(document.body.clientWidth < 950 ? "950px" : "auto");
	}

	.alignCenter {
		text-align:-moz-center;
		text-align:-webkit-center;
		//text-align: center;
		margin-left:auto;
		margin-right:auto;
	}
	.alignRight {
		text-align:-moz-right;
		text-align:right; 
		margin-left: auto;
		margin-right:0;
	}
	.alignLeft {
		text-align:-moz-left;
		text-align:left;
		margin-left:0;
		margin-right:auto;
	}

	.menuItem, .menuItem a:visited  {
		text-align: left;
		padding-left: 10px;
		font-size: 12px;
		color: white;
		margin-top: 8px;
		text-decoration: none;
		font-family: Trebuchet MS,Arial,Helvetica;
		height:16px;
		line-height:16px;
		cursor: pointer;
	}
	
	.menuItem img{
		border: 0;
		margin-top: 2px;
	}
	
	.menuItemTitle {
		float: left;
		width: 100px;
	}
	
	.homeLeftMenu{
		padding-left: 5px; 
		padding-right: 5px;
		font-weight: bold;
	}

	.homeLeftMenu a{
		text-decoration: none !important;
	}
	
	.homeLeftMenu a:hover, a:hover .menuItem{
		background: #4F0000;
		color: #FFCC00;
		cursor: pointer;
	}

	.menuItemSelected{
		background: #4F0000 !important;
		color: #FFCC00 !important;
	}
	.subitemContainerLevel1 {
		padding-left: 26px;
		font-family: Arial,Helvetica;
		font-weight: bold;
		
	}
	.subitemContainerLevel1Expandable {
		font-family: Arial,Helvetica;
		font-weight: bold;
		
	}
	.subitemContainerLevel2 {
		padding-left: 44px;
		font-family: Arial,Helvetica;
		font-weight: bold;
	}
	.hidden {
		visibility: hidden;
		display: none;
	}

	<!--BOTOM CONTENT-->
	.fontArial12 {
		font-family: Arial;
		font-size: 12px;
		color: #999999;
		text-align: left;
	}

	.fontTrebuchetMS12 {
		font-family: Trebuchet MS,Arial,Helvetica;
		font-size: 12px;
		color: #ffffff;
		text-align: left;
	}

	.fontTrebuchetMSGray12 {
		font-family: Trebuchet MS,Arial,Helvetica;
		font-size: 12px;
		color: #999999;
		text-align: left;
	}

	.fontTrebuchetMS12A a, .fontTrebuchetMS12A a:visited {
		font-family: Trebuchet MS,Arial,Helvetica;
		font-size: 12px;
		color: #ffffff;
		text-align: left;	
  		text-decoration: none;
	}

	.fontTrebuchetMS14 {
		font-family: Trebuchet MS,Arial,Helvetica;
		font-size: 14px;
		color: #ffffff;
		text-align: left;
	}

	#divBottomContent {
		background: black; 
		color: white;
	} 

	#divBottomCenterContent {
		width: 940px;
		padding-top: 5px;
	}

	#homeBottomLeftBrands {
		width: 640px;
		height: 150px; 
		float:left;
		background-image: url(images/penske_footer_background.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_footer_background.jpg*/;
		background-repeat: repeat-x;
	}

	#penskeBrandsLabel {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 27px;
		width: 218px;
		font-weight: bold;
	}

	#divBottomContact {
		width: 295px;
		height: 150px; 
		float: right;
		text-align: left;
 		background-image: url(images/penske_footer_background.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_footer_background.jpg*/;
		background-repeat: repeat-x;
	}

	#divBottomContactText {
		margin-left: 20px;
		margin-top: 15px;
		font-weight: bold;
	}

	#divBottomColumn1 {
		float: left;
		padding-left: 27px;
		width: 118px;
	}

	#divBottomColumn1 a {
		text-decoration: none;
	}

	#divBottomColumn2 {
		float: left;
		width: 118px;
	}

	#divBottomColumn3 {
		float: left;
		width: 118px;
	}

	#divBottomColumn4 {
		float: left;
		width: 118px;
	}

	#divBottomColumn5 {
		float: left;
		width: 118px;
	}

	#divRightsReserved {
	   margin-top: 155px;
	   padding-bottom: 80px;
	   //margin-top: 120px;
	   text-align: center;
	}


	.homeBottomLeftColumn {
	   clear: both;
	}

	.paddingmargin0 {
		padding: 0;
		margin: 0;
	}

	.topBackground{
		width:100%; 
		background-image: url(images/penske_backgroud4000.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_backgroud4000.jpg*/; 
		background-repeat:repeat-x;
	}

	.flashHeight{
		height:91px;
	}

	.topTableRow1Width { width:5px; }
	.topTableRow2Width { width:10px; }
	.topTableRow3Width { width:190px; }
	.topTableRow4Width { width:10px; }
	.topTableRow5Width { width:730px; }
	.topTableRow6Width { width:5px; }

	.topTableTopRow1 { background-image: url(images/penske_gradient_right_top.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_gradient_right_top.jpg*/; }
	.topTableTopRow2 { background-image: url(images/penske_menu_border_logo.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_menu_border_logo.jpg*/; }
	.topTableTopRow3 { background-image: url(images/penske_logo.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_logo.jpg*/; }
	.topTableTopRow4 { background-image: url(images/penske_menu_border_logo.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_menu_border_logo.jpg*/; }
	.topTableTopRow5 {  background-color: #999999; vertical-align:top; }
	.topTableTopRow6 { background-image: url(images/penske_gradient_right_top.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_gradient_right_top.jpg*/; }

	.topTableBottomRow1 { background-image: url(images/penske_gradient_left.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_gradient_left.jpg*/;
						 background-repeat: repeat-x;
						 background-color: #2A2C2B;}
	.topTableBottomRow1Long { background-image: url(images/penske_gradient_left_bottom.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_gradient_left_bottom.jpg*/;
						 background-repeat: repeat-y;}
	.topTableBottomRow2 { background-image: url(images/penske_menu_border.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_menu_border.jpg*/; 
						 background-repeat: repeat-x;
						 background-color: #980000;}
	.topTableBottomRow3 { background-image: url(images/penske_menu_background.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_menu_background.jpg*/; vertical-align:top; 
						 background-repeat: repeat-x;
						 background-color: #7A0000;}
	.topTableBottomRow4 { background-image: url(images/penske_menu_border.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_menu_border.jpg*/; 
						 background-repeat: repeat-x;
						 background-color: #980000;}
	.topTableBottomRow5 {}
	.topTableBottomRow6 { background-image: url(images/panske_gradient_right.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/panske_gradient_right.jpg*/; 
						 background-repeat: repeat-x;
						 background-color: #2A2C2B;}
	.topTableBottomRow6Long { background-image: url(images/panske_gradient_right_bottom.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/panske_gradient_right_bottom.jpg*/; 
						 background-repeat: repeat-y;}

	.flashWraper{ height:90px; width:100%; background-color:Black; }

	.shareholderWraperLeft{ width:10px; }
	.shareholderWraperCenter{ width:715px; }
	.shareholderWraperRight{ width:5px; }

	.shareholderWraperTop{ height:10px; }
	.shareholderWraperBody{ height:527px; }

	.shareholderWraperTopLeft{ background-image: url(images/shareholder_wraper_top_left.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/shareholder_wraper_top_left.jpg*/; }
	.shareholderWraperTopCenter{ background-image: url(images/shareholder_wraper_top.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/shareholder_wraper_top.jpg*/; }
	.shareholderWraperTopRight{ background-image: url(images/shareholder_wraper_top_right.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/shareholder_wraper_top_right.jpg*/; }

	.shareholderWraperBodyLeft{ background-image: url(images/shareholder_wraper_left.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/shareholder_wraper_left.jpg*/; }
	.shareholderWraperBodyCenter{ background-color:white; }
	.shareholderWraperBodyRight{ background-color:#2D2D2D; }

	.shareholderWroperBottom{
		width:100%; 
		height:10px;  
		background-image: url(images/penske_bottom_gradient_background.jpg)/*tpa=http://images.ebizautos.com/penskecorporatesite/images/penske_bottom_gradient_background.jpg*/; 
		border-bottom:1px solid #999999; 
	}

	.breadCrumb {
		font-family: Arial;
		font-size: 11px;
		height:30px; 
		line-height:30px; 
		text-align:left; 
		background-color:#D9D9D9;
		padding-left: 13px;
	}

	.breadCrumb a {
		color: #980000;
	}

	.pageContent h1, .homePageContent h1 {
		font-family: Trebuchet MS,Arial,Helvetica;
		font-size: 18px;
		font-weight:bold;
		color: #980000;
		margin: 10px 0px 10px 13px;
	}
	.pageContent {
		width: 704px !important;
	}
