/* ------------------------------ Start of Document: fShadedContainer --------------------------- */
/* 9 slice
-------------------------------*/
.upperLeft{
	background-repeat: no-repeat;
	height:7px;
	width: 7px;
	float:left;
}
.upperMid {
	background-repeat: repeat-x;
	height:7px;
	margin-left:7px;
	margin-right:7px;
}
.upperRight {
	background-repeat: no-repeat;
	height:7px;
	width:7px;
	float:right;
} 
.midLeft {
	background-repeat: repeat-y;
	background-position: left;
} 
.midRight {
	background-repeat: repeat-y;
	background-position: right;
}
.midMid {
	background-repeat: repeat;
	margin-left:7px;
	margin-right:7px;
}
.lowerLeft {
	background-repeat: no-repeat;
	height:7px;
	width: 7px;
	float:left;
}
.lowerMid {
	background-repeat: repeat-x;
	margin-left:7px;
	margin-right:7px;
	height:7px;
}
.lowerRight {
	background-repeat: no-repeat;
	height:7px;
	width:7px;
	float:right;
}

/* 9 slice 70% opacity
-------------------------------*/
.upperLeft.opacity70{
	background-image: url(../images/upperLeft70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperLeft70.png*/;
}
.upperMid.opacity70{
	background-image: url(../images/upperMid70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperMid70.png*/;
}
.upperRight.opacity70{
	background-image: url(../images/upperRight70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperRight70.png*/;
}
.midLeft.opacity70{
	background-image: url(../images/midLeft70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midLeft70.png*/;
}
.midMid.opacity70{
	background-image: url(../images/midMid70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midMid70.png*/;
}
.midRight.opacity70{
	background-image: url(../images/midRight70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midRight70.png*/;
}
.lowerLeft.opacity70{
	background-image: url(../images/lowerLeft70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerLeft70.png*/;
}
.lowerMid.opacity70{
	background-image: url(../images/lowerMid70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerMid70.png*/;
}
.lowerRight.opacity70{
	background-image: url(../images/lowerRight70.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerRight70.png*/;
}

/* 9 slice 90% opacity
-------------------------------*/
.upperLeft.opacity90{
	background-image: url(../images/upperLeft90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperLeft90.png*/;
}
.upperMid.opacity90{
	background-image: url(../images/upperMid90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperMid90.png*/;
}
.upperRight.opacity90{
	background-image: url(../images/upperRight90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperRight90.png*/;
}
.midLeft.opacity90{
	background-image: url(../images/midLeft90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midLeft90.png*/;
}
.midMid.opacity90{
	background-image: url(../images/midMid90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midMid90.png*/;
}
.midRight.opacity90{
	background-image: url(../images/midRight90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midRight90.png*/;
}
.lowerLeft.opacity90{
	background-image: url(../images/lowerLeft90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerLeft90.png*/;
}
.lowerMid.opacity90{
	background-image: url(../images/lowerMid90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerMid90.png*/;
}
.lowerRight.opacity90{
	background-image: url(../images/lowerRight90.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerRight90.png*/;
}
/* 9 slice 95% opacity
-------------------------------*/
.upperLeft.opacity95{
	background-image: url(../images/upperLeft95.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperLeft95.png*/;
}
.upperMid.opacity95{
	background-image: url(../images/upperMid95.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperMid95.png*/;
}
.upperRight.opacity95{
	background-image: url(../images/upperRight95.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/upperRight95.png*/;
}
.midLeft.opacity95{
	background-image: url(../images/midLeft95.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midLeft95.png*/;
}
.midMid.opacity95{
	background-image: url(../images/midMid95.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midMid95.png*/;
}
.midRight.opacity95{
	background-image: url(../images/midRight95.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/midRight95.png*/;
}
.lowerLeft.opacity95{
	background-image: url(../images/lowerLeft95.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerLeft95.png*/;
}
.lowerMid.opacity95{
	background-image: url(../images/lowerMid95.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerMid95.png*/;
}
.lowerRight.opacity95{
	background-image: url(../images/lowerRight95.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/lowerRight95.png*/;
}
.clearfix {
	clear:both;
}

/*example of offer
-------------------------------*/
.shadedContainer {
	width: 950px;
	margin: 0 auto;
	padding: 100px 0;
}

#content > .shadedContainer{
  min-width:1040px;
}

/*#privacyStatement .shadedContainer,
#user_guidelines .shadedContainer,
#archive .shadedContainer,
#creation .shadedContainer,
#acceleration .shadedContainer,
#emotion .shadedContainer,
#revolution .shadedContainer,
#globalization .shadedContainer,
#innovation_challenges .shadedContainer,
#rebirth .shadedContainer,
#emerging_technology .shadedContainer,
#faqs .shadedContainer{
	padding:100px 0;
}
*/
.ipad .submitted .shadedContainer {
	padding: 100px 0 400px;
}



/*#corporate_responsiblity .shadedContainer {
	width: 950px;
	margin: 0 auto;
	padding: 100px 0;
}*/
#corporate_responsiblity .shadedContainer .par.parsys{
	margin: 40px;
}
/* End of Document: fShadedContainer */




/* -------------------------------------------- Start of Document: fCallToAction ------------------------------- */
/* [START] button styling  */
a.button {
	background: url("../images/fBtnLeftEnd.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/fBtnLeftEnd.png*/ no-repeat scroll 0 7px transparent;
	color: #FFFFFF;
	float: left;
	margin-right: 5px;
	padding-left: 1px;
	padding-right: 5px;
	text-decoration: none;
}
a .genBtn {
	text-decoration: none;
}
a:visited.button, a:active.button, a:link.button, a:focus.button {
	color:#00b1e9;  /* dark blue */
	text-decoration:none;
}
a:focus.button {
	outline:none;
}
a.button .highlightLinkColor{
	color:#fff;
}
a:hover.button, a:hover.button .highlightLinkColor {
	color:#9ed6e8;
}

.inlineButton {
	padding-left: 10px;
	position: relative;
	top: -6px;
}
.genBtn {
	background: url("../images/fBtnBg.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/fBtnBg.png*/ repeat-x scroll left top transparent;
	border: medium none;
	display: block;
	float: left;
	font-size:.85em;
	font-weight: 900;
	height: 20px;
	margin: 7px 0 0 9px;
	padding: 2px 0 0;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.4em;
    cursor: pointer;
}
.gotham-bold-dynamic {
	padding-bottom: 3px;
}
.actionContainer {
	background: url("../images/fBtnRtEnd.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/fBtnRtEnd.png*/ no-repeat scroll right 7px transparent;
	display: block;
	float: left;
	margin-top: 5px;
	position: relative;
}
span.btnLeftEnd {
	/*background: url("../images/fBtnLeftEnd.png") no-repeat scroll left top transparent;*/
	clear: both;
	display: block;
	float: left;
	height: 20px;
	position: relative;
	top: 7px;
	width: 5px;
}
.otherContent {
	float: left;
	clear: both;
	padding-left: 5px;
width: 252px;
}

/* [START] containers to separate the content for this example only (add and customize a new container as needed, naming the new class according to size) */
.buttonAdjust120 {
	height: 22px;
	margin: 0 auto;
	width: 120px;
	padding-bottom: 10px;
}
.buttonAdjust170 {
	height: 22px;
	margin: 0 auto;
	width: 170px;
	padding-bottom: 10px;
}
.buttonAdjust230 {
	height: 22px;
	margin: 0 auto;
	width: 230px;
	padding-bottom: 10px;
}
.buttonAdjust240 {
	height: 22px;
	margin: 0 auto;
	width: 240px;
	padding-bottom: 10px;
}
/* [END] containers to separate the content for this example only (add and customize a new container as needed, naming the new class according to size) */
/* End of Document: fCallToAction */




/* ------------------------------------------ Start of Document: fFlexibleContent -------------------------------- */
body.visionconfigpage div.cq-colctrl-lt0-c1,
body.visionconfigpage div.cq-colctrl-lt1-c1,
body.contentpagetwocolumn div.cq-colctrl-lt0-c1{
	padding-top: 50px;
}
body.contentpagetwocolumn div.flexRightContent{
	padding: 40px 0;
}
body.contentpagetwocolumn#ownertestimonials div.flexRightContent {
	padding: 41px 0;
}
body.visionconfigpage div.cq-colctrl-lt1-c0{
	padding: 50px 0;
}
body.peoplepage div.aa_print, body.peoplepage a[name="par_aa_print"],
body.contentpage div.aa_print, div.contentpage a[name="par_aa_print"],
body.contentpagetwocolumn div.aa_print, body.contentpagetwocolumn a[name="par_aa_print"],
body.visionconfigpage div.aa_print, div.visionconfigpage a[name="par_aa_print"]{
	float: right;
}
body#article div.add_this,
body.peoplepage div.add_this,
body.contentpage div.add_this,
body.contentpagetwocolumn div.add_this,
body.visionconfigpage div.add_this{
	float: left;
}

body.contentpage div.add_this + a + div,
body.contentpagetwocolumn div.add_this + a + div,
body.visionconfigpage div.add_this + a + div{
	clear: both;
	margin: 35px 0 0;
}
body#article.contentpagetwocolumn div.add_this + a + div{
	clear: none;
	margin: 0;
}
body.contentpagetwocolumn div.title ul{
	margin: 10px 0;
}
body.contentpagetwocolumn div.text ul{
	font-weight: normal;
	list-style: disc;
	padding: 0 0 0 40px;
}
body.peoplepage div.flexLeftContent,
body.peoplepage div.flexRightContent{
	margin-top: 0px;
}
body.peoplepage div.add_this + div,
body.peoplepage div.add_this + a + div,
body#article div.aa_print + a + h3{
	clear: both;
	margin-top: 35px;
}
.flexLeftContent, .cq-colctrl-lt0-c0 {
	clear:both;
	float: left;
	margin: 0 75px;
	padding: 40px 0;
	position:relative;
	width: 460px !important;
}
  html.ipad body.visionconfigpage div.midMid div.parsys_column > .parsys_column{
    margin-left:20px !important;
    margin-right:20px !important;
  }
  html.ipad body.visionconfigpage div.midMid div.parsys_column > .parsys_column + .parsys_column{
    margin-right:30px !important;
    float:right !important;
  }

#international_salesproductiondetailpage .flexLeftContent, .cq-colctrl-lt0-c0 {
	width: 460px !important;
}
#international_salesproductiondetailpage .contentFit {
	min-width:1080px;
}
#bottomTabContainer .cq-colctrl-lt0-c0 {
	margin: 0px 0px 0px 10px;
}
#bottomTabContainer .cq-colctrl-lt0-c1 {
	margin: 0px 0px 0px 30px;
}
#bottomTabContainer .cta_shaded_container .cq-colctrl-lt0-c0{
	width: 360px;
}
#bottomTabContainer .cta_shaded_container .cq-colctrl-lt0-c1{
	width: 300px;
}
#bottomTabContainer > ul > li > * {
	margin: 0px 63px;
}

#bottomTabContainer > ul > li > *:first-child {
	margin-top: 0px;
}
.section.text p, .section.title p, .section.gallery p, .section.relatedResources p {
	margin: 10px 0 0 2px;
	font-weight:normal;
	line-height: 1.6em;
}

/*global update */
sup{
	vertical-align: baseline;
    font-size: 0.8em;
    position: relative;
    top: -0.4em;
}

body#corporate_responsiblity #content .shadedContainer .section.text p {
	margin-top:-15px;
}
#cq-gen19 .tabpage #content .parsys_column.cq-colctrl-lt0 .parsys_column.cq-colctrl-lt1-c0 .cta_shaded_container.parbase .parsys.cta .parbase.table.section  table tbody tr td
{
	font-weight:normal;
}
.section .printCTA, .section .resetText, .section .enlargeText {
	margin: 5px 0 0 5px;
	float: right;
	font-size: 18px; /* this needs to be exact for the font sizer */
}
.section .printCTA, .section .resetText{
	padding: 3px 0 0;
	font-size: 12px; /* this needs to be exact for the font sizer and set to the default faunt size*/
}
.section .printCTA {
	float:right;
	margin: 5px 0 0 15px;
}
.section .enlargeText a, .section .resetText a{
	text-decoration: none;
}
.section.text a img, .section.title a img, .section.gallery a img, .section.relatedResources a img {
	display: block;
	float: left;
}
.section.text h2, .section.title h2, .section.gallery h2, .section.relatedResources h2 {
	clear: both;
	/*padding-top: 30px;
	margin-top: 20px;*/
}
.section.text h2 .highLightColor, .section.title h2 .highLightColor, .section.gallery h2 .highLightColor, .section.relatedResources h2 .highLightColor {
	color: #00b1e9;
	text-decoration: none;
	margin-right: 5px;
}
.flexRightContent, .cq-colctrl-lt0-c1 {
	float: left;
	padding: 40px 0 0;
	position:relative;
	width:433px;
}
body#energy_efficiency.peoplepage div.flexRightContent,
body#waste_reduction_.peoplepage div.flexRightContent,
body#resource_preservation.peoplepage div.flexRightContent{
	padding: 70px 0 0;
}
.section .openContent {
	width: 433px;
	margin-bottom: 35px;
}

.section.title img, .section.title img, .section.gallery img, .section.relatedResources img {
	margin-bottom: 30px;
}



/* Owner Benefits: Warranty - Container & CTA */
body.tabpage > div#content > div.text.parbase{
	height: 20px;
	left: 305px;
	line-height: 1.6em;
	position: absolute;
	top: 675px;
}
body.tabpage > div#content > div.text.parbase div.text, body.tabpage > div#content > div.text.parbase div.text p{
	height: 100%;
}










/* Global Careers: Containers */
body.tabpage ul.content > li[title="North America"] div.cta_shaded_container .parsys.cta,
body.tabpage ul.content > li[title="South America"] div.cta_shaded_container .parsys.cta,
body.tabpage ul.content > li[title="Europe"] div.cta_shaded_container .parsys.cta,
body.tabpage ul.content > li[title="Asia/Middle East"] div.cta_shaded_container .parsys.cta,
body.tabpage ul.content > li[title="Africa"] div.cta_shaded_container .parsys.cta,
body.tabpage ul.content > li[title="Australia/Oceania"] div.cta_shaded_container .parsys.cta
{
	padding: 20px 40px 40px 40px;
	line-height: 30px;
}
body.tabpage ul.content > li[title="South America"] div.cta_shaded_container .parsys.cta .parbase.table.section td,
body.tabpage ul.content > li[title="Asia/Middle East"] div.cta_shaded_container .parsys.cta .parbase.table.section td
{
	padding-right: 40px;
	line-height:26px;
}

/* End of Containers */






.section #addThis_container {
	float: left;
	font-size: 12px; /* this needs to be exact for the font sizer */
	margin-top: 0px;
}
.tableCells {
	width: 158px;
	line-height: 1.8em;
	padding-bottom: 15px;
}
.tableLeftCol {
	float: left;
	margin-right: 50px;
}
.tableRightCol {
	float: left;
}
.highLightColor {
	color: #00b1e9;
	text-decoration: none;
}
.horzTimeline {
	clear: both;
}
.horzTimeline a {
	padding-left: 8px;
}
.section .wrapperAC {
	margin-bottom: 80px;
	margin-left: 2px;
}
.section .bodyList {
	clear: both;
}
.section .bodyList .arrowList {
	list-style-position: outside;
	list-style-type: circle;
	line-height: 25px;
}
.section .bodyList ol {
	line-height: 25px;
	list-style-position: outside;
}
#content .shadedContainer .par.parsys{
	padding-bottom:50px;
	/*overflow:hidden;*/
}
#sitemap #content .shadedContainer .par.parsys{
	float:none;
}

body.visionpage .shadedContainer .par.parsys{
	padding:0;
	float:none;
}
#privacyStatement #content .shadedContainer .par.parsys{
	margin-top:40px;
	margin-left:60px;
	width:840px;
	padding-bottom:50px;
}
#historyAndHeritage #content .par.parsys{
	padding-bottom:100px;
	float:left;
}
#privacyStatement #content .shadedContainer .par.parsys .text.parbase.section .text p b{
	margin-top:50px;
}

#privacyStatement #content .shadedContainer .par.parsys .tableOfContent{
	margin: 0 auto;
	padding: 0px;
	width:100%;
}
#privacyStatement #content .shadedContainer .par.parsys .aa_print
{
	margin-top: -35px;
}
#privacyStatement
{
	background-image:url("../images/expandCollapse/small_blue_arrow.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/expandCollapse/small_blue_arrow.png*/;
	background-repeat:no-repeat;
	background-position:left 3px;
	padding-left:15px;
	text-decoration:none;
}

#copyrightTrademark .midMid,
#user_guidelines .midMid{
	padding: 20px;
}
#user_guidelines .text.parbase.section .text ul{
	font-weight: normal;
	list-style: disc outside none;
	padding: 0 0 0 20px;
}
/* End of Document: fFlexibleContent */




/* ----------------------------------------- Start of Document: fMenubar -------------------------------------- */
.menuBarWrapper {
	height:260px;
	left: 0;
	position: absolute;
	width:100%;
}
.menuBarFill {
	float:left;
	height:100%;
	background:transparent url('../images/menuBar/bg_80.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/bg_80.png*/;
}
.menuContentWrapper {
	float:left;
	margin:0;
	padding:0;
	height:100%;
	width:985px;
}
.contentOne {
	float:left;
	height:100%;
	width:390px;
	margin:0 0 0 1px;
}
.chooseBrand {
	height: 52px;
	margin:0 0 1px;
	background:transparent url('../images/menuBar/bg_80.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/bg_80.png*/;
	width:389px;
}
.chooseBrand p {
	float:left;
	text-transform:uppercase;
	font-weight:900;
	margin:17px 0 0 15px;
}
select.brandOptions {
	display: none;
}
.brandOptions {
	/*float:left;
	padding: 14px 0 0 40px;
	color:#fff;*/
}
.brandOptions a:link {
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:900;
}
.brandOptions a:visited, .brandOptions a:active {

	text-decoration: none;
}
.brandOptions a:hover {

	text-decoration: underline;
}
.brandOptions option a {
	text-decoration: none;
}
.brandContent {
	height:80%;
	width:390px;
	background:transparent url('../images/menuBar/bg_80.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/bg_80.png*/;
	overflow:hidden;
}
.brandContent ul {
	margin:0 0 0;
	padding:0;
	list-style:none;
}
.brandContent li {
	height:139px;
	margin:0;
	padding:8px 45px 0 28px;
}
.brandContent h2 {
	height:40px;
	width:250px;
	margin:0px 0 0px 0;
	padding:0;
}
.brandContent p {
	margin:0;
	padding:2px 0 12px;
}
.brandContent .actionContainer{
	position: absolute;
}







		  .chooseBrand{
			position:absolute;
			bottom:0;
		  }
		  .brandLogos ul {
			margin:0;
		  }
		  .brandLogos li {
			width:194px;
			padding:0;
			margin:0 1px 1px 1px;
			float:left;
		  }
		  .brandLogos li {
			margin:0 1px 1px 0;
		  }
		  .brandLogos li + li{
			margin:0 0 1px 0;
		  }
		  .brandLogos li + li + li{
			margin:0 1px 0 0;
		  }
		  .brandLogos li + li + li + li{
			margin:0 0 0 0;
		  }
		  .chooseBrand {
			margin:1px 0 0;
		  }
		  .brandContent {
			background:none;
		  }
		  .brandLogos li a{
			display:block;
			width:194px;
			height:103px;
			overflow:hidden;
		  }
		  .brandLogos li a img{
			display:block;
		  }
		  .brandLogos li a img:hover{
			margin-top:-104px;
		  }




.learnMoreBtn {
	display:block;
	height:17px;
	width:140px;
	padding:3px 0 0;
	background:#000;
	border:solid 1px #fff;
	-moz-border-radius:5px 5px 5px 5px; /* rounded corners for firefox */
	-webkit-border-radius:5px 5px 5px 5px;
	font-weight:900;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
.contentTwo {
	float:left;
	width:593px;
	height:100%;
	margin:0 1px 0 0;
	padding:0;
	position: relative;
	background:transparent url('../images/menuBar/bg_80.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/bg_80.png*/;
	overflow:hidden;
}
.feedWrapper {
	list-style:none;
	height: 100%;
	margin:0 0 0;
	padding:0;
}
.contentTwo li {
	height:100%;
	margin:0;
	padding:0;
}
.contentTwo h3 {
	float:left;
	clear:left;
	margin:15px 0 0 72px;
	padding:0;
	text-transform:uppercase;
}
.contentSlideNo {
	background-color: #000;
	float:right;
	clear:right;
	margin:12px 72px 0 0;
	padding:0 0 2px 0;
}
ul li .contentSlideNo a {
	font-weight:bold;
	color:#fff;
	text-decoration:underline;
	margin:0 2px 0;
}
.slideHolder {
	float:left;
	clear:none;
	width:448px;
	height:62%;
	margin:20px 0 0;
}
.slideHolder ul{
	height: 100%;
}
.slideHolder ul li{
	height: 100%;
}
.slideLeft {
	float:left;
	clear:left;
	margin:50px 40px 0 21px;
	display:block;
	height:18px;
	width:11px;
	background:url('../images/menuBar/left_blue_arrow_lg.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/left_blue_arrow_lg.png*/ top left no-repeat;
}
.slideLeft:hover {
	background:url('../images/menuBar/left_blue_arrow_lg_hover.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/left_blue_arrow_lg_hover.png*/ top left no-repeat;
}
.slideRight {
	float:left;
	clear:right;
	margin:49px 0 0 40px;
	display:block;
	height:18px;
	width:11px;
	background:url('../images/menuBar/right_blue_arrow_lg.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/right_blue_arrow_lg.png*/ top left no-repeat;
}
.slideRight:hover {
	background:url('../images/menuBar/right_blue_arrow_lg_hover.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/right_blue_arrow_lg_hover.png*/ top left no-repeat;
}
.contentTwo p {
	color: #FFF;
	float:left;
	clear:left;
	margin:5px 0 0 72px;
	font-weight:900;
	position:relative;
}
.social {
	clear: none;
    float: left;
    margin: -14px 0 0;
    width: 100%;
}
.facebookBtn {
	float:left;
	clear:none;
	margin:3px 0 0 6px;
	height:21px;
	width:21px;
	background: url('../images/menuBar/facebook.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/facebook.png*/ top left no-repeat;
}
.facebookBtn:hover {
	background: url('../images/menuBar/facebookHover.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/facebookHover.png*/ top left no-repeat;
}
.twitterBtn {
	float:left;
	clear:none;
	margin:3px 0 0 6px;
	height:21px;
	width:21px;
	background: url('../images/menuBar/twitter.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/twitter.png*/ top left no-repeat;
}
.twitterBtn:hover {
	background: url('../images/menuBar/twitterHover.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/twitterHover.png*/ top left no-repeat;
}
.youtubeBtn {
	float:left;
	clear:none;
	margin:3px 0 0 6px;
	height:21px;
	width:21px;
	background: url('../images/menuBar/youtube.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/youtube.png*/ top left no-repeat;
}
.youtubeBtn:hover {
	background: url('../images/menuBar/youtubeHover.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/youtubeHover.png*/ top left no-repeat;
}
.googleplusBtn {
	float:left;
	clear:none;
	margin:3px 0 0 6px;
	height:21px;
	width:21px;
	background: url('../images/menuBar/googlePlus.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/googlePlus.png*/ top left no-repeat;
}
.googleplusBtn:hover {
	background: url('../images/menuBar/googlePlusHover.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/googlePlusHover.png*/ top left no-repeat;
}
.socialIconBtn {
	float:left;
	clear:none;
	margin: 3px 0 0 9px;
	height:24px;
	width:24px;
}
.socialIconBtn:hover {
	background-position: 0 -24px !important;
}
.hide {
	display:none;
}

/* styles for drop down menu */
span.value {
	display:none;
}
a.brandTarget {
	background: url("../images/menuBar/choose_brand.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/choose_brand.png*/ no-repeat scroll left 3px transparent;
	border: medium none;
	color: #FFF;
	clear: none;
	display: block;
	float: left;
	font-weight: 900;
	height: 1.6667em;
	margin: -25px 0 0 180px;
	padding: 3px 0 0;
	text-align: center;
	text-transform: uppercase;
	width: 197px;
}
a:link.brandTarget, a:active.brandTarget, a:hover.brandTarget, a:visited.brandTarget {
	text-decoration:none;
	color:#FFF;
}
.menuHolder {
	background-color: #000000;
	border: 1px solid #FFFFFF;
	display: none;
	height: 125px;
	padding: 10px 0 0 30px;
	position: relative;
	top: 84px;
	left: 182px;
	width: 219px;
	z-index: 1000;
}
html.ie7 .menuHolder{display:block !important;
	margin-left: 30px;
	padding-left: 0;
	top:-174px;
	left:152px;
}
html.ie7 .menuHolder .externalLinks{
	padding-left: 30px;
	margin-left:0;
	margin-top:10px;
}
html.ie7 .menuHolder .externalLinks.two{
	padding-left: 0;
	margin-left:0;


}
.brandDropOptions {
	/*height: 100%;*/
	left: 30px;
	list-style-image: url("../images/menuBar/small_blue_arrow.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/menuBar/small_blue_arrow.png*/ !important;
	margin: 0 0 0 5px;
	padding: 0;
	position: absolute;
	top:15px;
}
.brandDropOptions li {
	margin:0 0 2px;
}
.brandDropOptions li a:link, .brandDropOptions li a:active, .brandDropOptions li a:visited {
	color: #fff;
	text-decoration:none;
}
.brandDropOptions li a:hover {
	color: #00B1E9;
}
.menuDivider {
	background: none repeat scroll 0 0 #FFFFFF;
	height: 100px;
	left: 130px;
	margin: 6px 0 0 25px;
	position: absolute;
	top: 12px;
	width: 1px;
}
.externalLinks {
	color: #00B1E9;
	font-weight: 900;
/*	left: 170px;
*/	line-height: 1.3333em;
	list-style: none outside none;
	padding: 0;
	position: absolute;
	text-decoration: underline;
	text-transform: uppercase;
	top: 0;
}
.externalLinks.two{
	 left: 147px;
}
.externalLinks li a:link, .externalLinks li a:active, .externalLinks li a:visited, .externalLinks li a:hover {
	text-decoration:underline;
}
.externalLinks li a:link, .externalLinks li a:active, .externalLinks li a:visited {
color: #00B1E9;
}
.externalLinks li a:hover {
	color:#9ed6e8;
}
.externalLinks li {
	padding:0;
	margin:0 0 7px;
}
/*ul li > a:link, ul li > a:active, ul li > a:visited {
	color:#00B1E9;
	text-decoration:underline;
}
.contentSlideNo a:hover, .brandDropOptions a:hover, .slideNoActive {
	color:#01a7dc !important;
}*/

.contentSlideNo a:hover{
	color:#9ED6E8;
}
ul li .contentSlideNo a.slideNoActive {
	text-decoration:none;
}
ul li .contentSlideNo a:hover.slideNoActive {
	color: #FFF;
}
/* styles for feed content */
.slideHolder ul {
	list-style:none;
	padding:0;
	margin:0 0 0 -10px;
	width:2440px;
}
.slideHolder li {
	float:left;
	margin:0;
	padding:0;
	height:100px;
	width:468px;
	overflow:hidden;
}
.slideHolder h4 {
	padding:0 0 10px;
	margin:0 0 0 10px;
}
.slideHolder p {
	font-weight:100;
	margin:0 0 0 10px !important;
}
.slideHolder ul .button {
	margin-left:10px;
}
/* End of Document: fMenubar */




/* --------------------------------------------------- Start of Document: fForms ------------------------------------- */
/*  [START] Form structure styles  */
textarea {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.hidden {
	display: block;
	height: 0;
	overflow: hidden;
	width: 0;
}
ul {
	list-style: none;
	text-align: left;
	color: #fff;
	padding:0;
}
li {
	padding: 0;
}
/*  [END] Form structure styles  */

/*  [START] Form component styles  */
.checkbox, .selection {
/*float: left;
	position: relative;*/
}
input .largeCheck {
	border: 0;
}
/*  [END] Form component styles  */

/* [START] Form Required Fields and Error-Success-Warning indicator styling */
.formIndicator {
	text-align: left;
	padding-left: 10px;
}
.errorDescription {
	background: url("../images/formComponents/form_error_indicator.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/formComponents/form_error_indicator.png*/ no-repeat scroll -6px -7px transparent;
	color: #FD1201;
}
.warningDescription {
}
.successDescription {
}
.formIndicatorContainer {  /* serves as container for the required field asterisk and the error indicator - necessary for consistent spacing in the event of both or one indicator being present */
	display: inline-block;
	height: 14px;
	padding-left: 3px;
	/*width: 11px;*/
}
span.errorIndicator { /* must live inside .formIndicatorContainer */
	background: url("../images/formComponents/form_error_indicator.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/formComponents/form_error_indicator.png*/ no-repeat scroll -6px -3px transparent;
	color: #FD1201;
	float: right;
	height: 18px;
	width: 10px;
}
span.reqField {  /* must live inside .formIndicatorContainer */
	color: #fff;
	height: 18px;
	width: 10px;
	padding-top: 3px;
	float: left;
}
/* [END] Form Required Fields and Error-Success-Warning indicator styling */


/*  form - from checkboxes */
.formContainer {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
	border: 1px solid #666;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto;
	width: 615px;
}
.formContainer fieldset {
	border: medium none;
	clear: both;
	float: none;
	padding: 1.5em 0 0;
}
.formContainer fieldset.radioGrouping { /*  adjust spacing for groups of radio-button choices */
	padding: 0.5em 0 0;
	width: 510px;
}

.formContainer:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
.formContainer h3 {
	float: left;
	font-size: 1.5em;
	line-height: 2.2em;
	text-transform: uppercase;
}
.formContainer a:focus {
	outline:none;
}
.formContent {
	float: left;
	margin: 0 0 0 10px;
	padding: 0 35px 25px;
	width: 530px;
}
.inlineFormText {
/*float: left;*/
}
.legend {
	float:left;
	clear:both;
	margin: 5px 0 0;
}
.formInstructions {  /*  instructions at the top of a form  */
	margin-bottom: 35px;
}
.formSelectCategories { /*  category headers for forms with a series of radio-button choices  */
	margin-bottom: 15px;
}
form {
	font-weight:900;
}
form textarea {
	width:100%;
	height:75px;
}
.messageSpace {
	margin-bottom:15px;
	width:400px;
}
form p {
	/*float:left;
	height:22px;*/
	clear:both;
	margin:1px 0 6px;
}
p.formInstructions {
	/*float: left;
	height: auto;*/
	display: block;
}
form fieldset .radioGrouping p {
/*float:left;
	clear:both;
	margin:1px 0 6px;
	*/
}
form ul, form ol {
	margin: 0;
	padding: 0;
	float: left;
}
form li {
	float:left;
	clear:both;
	margin:1px 0 6px;
	list-style: none;
}
form dl {
	float: left;
	width: 540px;
}
form dt.input {
	clear: both;
	float: left;
	height: 22px;
	width: 18px;
}
form dd.label {
	clear: none;
	float: left;
	left: -20px;
	margin: 0;
	padding-left: 5px;
	width: 490px;
}
.formBtn {
	font-size:0.875em;
	font-weight:900;
	color:#01a7dc;
	text-transform:uppercase;
	padding:6px 0;
	margin:10px 10px 0 0;
	width:100px;
	background:#000;
	border:solid 1px #fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.submitButtonContainer {
	clear: left;
	float: left;
	padding: 0;
}
.nestedSubmit {
	padding-left: 20px;
}
.countdown {
	float:right !important;
	clear:right;
	margin:2px 0 0;
	padding:0;
}
fieldset {
}
fieldset legend {
	color: #fff;
}
input, textarea {
	border: 1px solid #5e5e5e;
	background:url('../images/formComponents/boxBg.jpg')/*tpa=http://www.gm.com/etc/designs/gmcom/images/formComponents/boxBg.jpg*/ no-repeat left top;
}
input[type="checkbox"] {
	border: 0;
}
input[type="text"] {
	height:20px;
	padding-left: 3px;
	text-transform: capitalize;
}
label {
	font-size: 0.8em;
	font-weight: normal;
}
/* *********** [START] Select solution ************** */
pre {
	display:block;
	font:12px "Courier New", Courier, monospace;
	padding:10px;
	margin:.5em 0;
	width:500px;
}
.clear {
	clear:both;
}
img {
	border:none;
}
/* */

/* all form DIVs have position property set to relative so we can easily position newly created SPAN */
form div {
	position:relative;
}
/* setting the width and height of the SELECT element to match the replacing graphics */

select.select {
	position:relative;
	z-index:10;
	width:200px !important;
	height:20px !important;
	line-height:1.7em;
	background-color: #000000;
	color: #FFFFFF;
	height: 20px !important;
	position: relative;
	width: 197px !important;
	cursor: pointer;
	left: -1px;
}
dd select.select {
	position:relative;
	z-index:10;
	width: 200px !important;
	height:20px !important;
	line-height:1.7em;
	background-color: #000000;
	color: #FFFFFF;
	height: 20px !important;
	position: relative;
	width: 198px !important;
	cursor: pointer;
	left: 0;
}
.optionContainer dd select.select {
	width: 199px;
}
/* dynamically created SPAN, placed below the SELECT */
.select {
	position:relative;
	bottom:0;
	float:left;
	left:0;
	width:200px;
	height:20px;
	line-height:1.7em;
	text-indent:10px;
	background:url(../images/formComponents/dropdown.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/formComponents/dropdown.png*/ no-repeat 0 0;
	cursor:default;
	z-index:1;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
span.select {
	left: -199px;
}
.formContent select.select {
	display:inline-block;
	height:20px;
	position:relative;
width: 197px;
}
fieldset.inlineSelectForm {
	padding: 0 0 15px 10px;
}
fieldset.inlineSelectForm legend {
	padding-bottom: 10px;
}
fieldset.inlineSelectForm select.select {
	display:inline-block;
	height:20px;
	position:relative;
}
fieldset.inlineSelectForm span.select {
	position: relative;
	display: inline-block;
	left: 0;
	top: -19px;
}
fieldset.inlineSelectForm option {
	border-right: 1px solid #ccc;
}
fieldset.inlineSelectForm .optionContainer option {
	border-right: 1px solid #ccc;
}
.labelContinued {
	float: left;
	font-size: 0.85em;
	font-weight: normal;
	height: 20px !important;
	line-height: 2em;
	padding-left: 2px;
	position: relative;
	top: -17px;/*width: 100%;*/
	font-family:arial;
	font-size:1.1em;
	font-weight:normal;
}
.optionContainer {
	float: left;
	padding-left: 5px;
}
/* ************** [END] Select solution ********************* */

.stateSelect {
	float:left;
	clear:both;
	z-index:1;
	position:relative;
}
.state {
	z-index:0;
	position:relative;
}
.newStateSelect {
	float:left;
}
.newStateSelect ul {
	float:left;
	display:none;
	padding:0 0 5px 8px;
	margin:21px 0 0 -196px;
	list-style:none;
	border:solid 1px #fff;
	width:186px;
	border-top:none;
	background:#000;
	overflow:auto;
	height:150px;
	z-index:100;
}
.newStateSelect ul li a {
	display:block;
	width:100%;
}
.newStateSelect a {
	color:#fff;
	text-transform:uppercase;
	font-size:small;
	font-weight:900;
	text-decoration:none;
}
.newStateSelect ul a:hover {
	color:#01a7dc;
}
span.value {
	display:none;
	visibility:hidden;
}
/* [END] Form field styling */

.multiColumnForm {
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
.multiColumnForm:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
.popUpWindowAction {
	float: right;
	padding: 3px 3px 0 0;
	text-decoration: none;
	clear: left;
}
/* [START] Checkbox styling */
input[type="checkbox"], input[type="radio"] {
	display:none;
}
label {
	float:left;
	text-align:left;
	padding-top:3px;
}
/*input {
	clear:left;
	float:left;
}*/
label.ui-radio-state-disabled, label.ui-checkbox-state-disabled {
	color: #999;
}
span.ui-checkbox, span.ui-radio {
	clear:left;
	float: left;
	width: 18px;
	height: 21px;
	padding-right: 3px;
	background: url(../images/formComponents/icon_checkbox_lite.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/formComponents/icon_checkbox_lite.png*/ 0 -41px no-repeat;
	zoom:1; /* triggers hasLayout */
	display:block; /* resets display for IE/Win */
}
span.ui-radio {
	background-position: -20px -41px;
}
span.ui-helper-hidden {
	display: none;
}
span.ui-checkbox-state-hover {
	background-position: 0 -115px;
}
span.ui-radio-state-hover {
	background-position: -20px -115px;
}
span.ui-checkbox-state-checked-disabled-hover, span.ui-checkbox-state-checked-disabled, span.ui-checkbox-state-checked {
	background-position: 0 -2px;
}
span.ui-checkbox-state-checked-hover {
	background-position: 0 -76px;
}
span.ui-radio-state-checked-disabled-hover, span.ui-radio-state-checked-disabled, span.ui-radio-state-checked {
	background-position: -20px -2px;
}
span.ui-radio-state-checked-hover {
	background-position: -20px -76px;
}
/* [END] Checkbox styling  */

.multiColumnForm label {
    line-height: 1.2em;
	padding-top: 6px;
	height: 1.2em;
}
.multiColumnForm input {
	clear:left;
	border: 0;/*float:left;
	 display:block;*/
}
.formContainer label {
	height: 20px;
	padding: 7px 5px 0 0;
	padding-right: 5px;
	top: 3px;
	font-family:arial;
	font-weight:normal;
	font-size: 1.1em;
	line-height: 1.4em;
}

/*  [START] Tooltip Styling  */
.tTip {
	float: left;
	display:block;
}
.tip {
	width:240px;
	padding: 20px;
	display: none;
	position: absolute;
	background: transparent url(../images/formComponents/fTooltipGradient.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/formComponents/fTooltipGradient.png*/ no-repeat top left;
	border: 1px solid #999;
	color: #fff;
	border: 1px solid #ccc;
	z-index:1000;
	box-shadow: 3px 3px 4px #000;
}
.tip ul{
	font-weight: 400;
	list-style: disc outside none;
	padding: 0 0 0 15px;
}
.tTipAnchor {
	background:transparent url(../images/formComponents/fToolTipIcon.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/formComponents/fToolTipIcon.png*/ top left no-repeat;
	height:11px;
	width:12px;
	display:block;
	cursor:pointer;
}
.tTipAnchorHover {
	background:transparent url(../images/formComponents/fToolTipIcon_hover.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/formComponents/fToolTipIcon_hover.png*/ top left no-repeat;
}
/*  [END] Tooltip Styling   */

/* [START] Contact Us form styling */
.mds-cmp-contact_form {
	width: 550px;
}
fieldset {
	border: none;
}
label {
	font-weight: bold;
}
input[type="text"] {
    clear: left;
    float: left;
    height: 20px;
}
form textarea {
   clear: left;
   float: left;
   width: 350px;
}
form select {
	clear: left;
   float: left;
}
p.countdown	{
	bottom: -19px;
    clear: none;
    display: inline-block;
    float: right;
    padding-right: 48px;
    position: relative;
}
ul.formList {
	float: left;
	clear: both;
}
.errorMessages li {
	float: left;
	clear: right;
}
ul.radiobutton-group li {
	float: left;
	clear: right;
	padding-right: 15px;
}
.hidden {
	display: none;
}
.telephonenumber-details fieldset legend {
	display: none:
}
.telephonenumber-details fieldset ul {
	float: left;
}

/* [END] Contact Us form styling */

/* [START] Contact Us mini shaded containers styling */
#contactUs #content .shadedContainer .parsys_column.cq-colctrl-lt1 .parsys_column.cq-colctrl-lt1-c1 .cta_shaded_container{
	width:100%;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1 .parsys_column.cq-colctrl-lt1-c0{
	float:left;
	padding-right:33px;
	width: 450px;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1 .parsys_column.cq-colctrl-lt1-c1{
	width:50%;
}
.gecko #contactUs #content .shadedContainer .cq-colctrl-lt1 .parsys_column.cq-colctrl-lt1-c1{
	width:482px;
}

#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container{
	margin-bottom:20px;
	width:100%;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt9,
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2,
#contactUs #content .shadedContainer .cq-colctrl-lt1-c1 .cta_shaded_container .parsys.cta
{
	padding:15px;
	font-weight:bold;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt9 .cq-colctrl-lt9-c0 .text.parbase.section .text p
{
	padding-right:10px;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .cq-colctrl-lt2-c0 .text.parbase.section .text
{
	width:170px;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt1-c0 .text.parbase.section
{
	width:230px;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .cq-colctrl-lt2-c0 .text.parbase.section .text
{
	width:170px;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c0,
#contactUs #content .shadedContainer .cq-colctrl-lt1-c1 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c0
{
	width:210px;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c0 .parbase.table.section table,
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c1 .parbase.table.section table
{
	width:190px;
	margin-bottom:7px;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c0 .parbase.table.section table a,
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c1 .parbase.table.section table a,
#contactUs #content .shadedContainer .cq-colctrl-lt1-c1 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c0 .parbase.table.section table a,
#contactUs #content .shadedContainer .cq-colctrl-lt1-c1 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c1 .parbase.table.section table a
{
	background-image:url("../images/expandCollapse/small_blue_arrow.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/expandCollapse/small_blue_arrow.png*/;
	background-repeat:no-repeat;
	background-position:left 3px;
	padding-left:15px;
	line-height:1.4em;
	text-decoration: none;
	font-weight:bold;
	color:#fff;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c0 .parbase.table.section table a:hover,
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c1 .parbase.table.section table a:hover,
#contactUs #content .shadedContainer .cq-colctrl-lt1-c1 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c0 .parbase.table.section table a:hover,
#contactUs #content .shadedContainer .cq-colctrl-lt1-c1 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c1 .parbase.table.section table a:hover{
	color: #9ED6E8;
	text-decoration: none;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt9 .cq-colctrl-lt9-c0 : first-child,
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt9 .cq-colctrl-lt9-c1 : first-child,
#contactUs #content .shadedContainer .cq-colctrl-lt1 .parsys_column.cq-colctrl-lt1-c1 .cta_shaded_container .parsys.cta : first-child,
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2 p
{
	font-weight:bold;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c1 .text.parbase.section .text
{
	width:190px;
}

body#contactUs.contentpage #content .shadedContainer .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c1
{
	margin-top:31px;
	padding: 0;
	width: 210px;
}
.cq-colctrl-lt2-c1


#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c1 .text.parbase.section .text + #contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt2 .parsys_column.cq-colctrl-lt2-c1 .text.parbase.section .text
{
	margin-top:-35px;
}
{
	width:190px;
	margin-top:35px;
}

.ie7 #contactUs #content .shadedContainer .parsys_column .cq-colctrl-lt1-c1 .cta_shaded_container .upperRow .upperMid {
	width:469px;
}
.ie7 #contactUs #content .shadedContainer .parsys_column .cq-colctrl-lt1-c1 .cta_shaded_container .cta {
	width:440px;
}
.ie7 #contactUs #content .shadedContainer .parsys_column .cq-colctrl-lt1-c1 .cta_shaded_container .lowerRow .lowerMid {
	width:469px;
}



#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt9-c0{
  margin-top:20px;
}
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt9-c1 div.parbase.live_chat.section{
  height:20px;
  position: relative;
  right: -25px;
  top:-8px
}
#contactUs #content .shadedContainer .cq-colctrl-lt1-c0 .cta_shaded_container .parsys_column.cq-colctrl-lt9-c1 div.parbase.live_chat.section #liveChatWrap{
  position:absolute;
  right:0;
  top:0;
}
/* [END] Contact Us mini shaded containers styling */
/* End of Document: fForms */




/* ------------------------------------------------ Start of Document: fAddThis ------------------------------------- */
#addThis_container
{
    position:relative;
    /*z-index: 9999;*/
}
body.peoplepage #addThis_container{
	float:none;
}
#addThis_custom_link{
	background: url("../images/addthis/addthis-icons.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/addthis/addthis-icons.png*/ no-repeat scroll 60px -148px transparent;
    display: block;
    height: 20px;
	width:80px;
    /*padding-top: 7px;*/
	text-decoration:none;
	color: #fff;
	margin-top:7px;
}
#addThis_custom_link a {
	color: #ffffff;
	text-decoration:none;
}
.addthis_toolbox
{
    background: transparent url("../images/addthis/addthis_bg.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/addthis/addthis_bg.png*/ no-repeat;
    height: 52px;
    width:80px;
    padding: 10px;
    position: absolute;
}
.addthis_toolbox a
{
    margin-bottom: 5px;
    cursor: pointer;
}
.addthis_toolbox br
{
    clear: both;
}
.addthis_toolbox a span{
    background:transparent url("../images/addthis/addthis-icons.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/addthis/addthis-icons.png*/ no-repeat;
    height: 24px;
    width: 24px;
    display: inline-block;
}
.addthis_toolbox .addthis_button_facebook span
{
    background-position: 0 -96px;
}
.addthis_toolbox .addthis_button_twitter span
{
    background-position: 0 0;
}
.addthis_toolbox .addthis_button_blogger span
{
    background-position: 0 -120px;
}
.addthis_toolbox .addthis_button_google span
{
    background-position: 0 -72px;
}
.addthis_toolbox .addthis_button_myspace span
{
    background-position: 0 -48px;
}
.addthis_toolbox .addthis_button_tumblr span
{
    background-position: 0 -24px;
}

html.ie7 div.videoCaptionWrap .addthis_toolbox{
  top:-48px !important;
}
/* End of "fAddThis" style */




/* ---------------------------------------------- Start of Document: fModal ----------------------------------------- */
.wrapActionContainer {
	float:right;
	clear:right;
	margin: -3px 1px 10px 0;
}
body.tabpage .wrapActionContainer{
	margin: 5px;
}

.shadedContainerPop {
	z-index:5001;
}
#contactUs .shadedContainerPop {
	z-index:998;
}
.modalOffClick {
	background: url("../images/centerClear.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/centerClear.png*/ repeat;
	left:0;
	top: 0;
	width:100%;
	height:100%;
	z-index:5000;
	position:fixed;
}
#contactUs .modalOffClick {
	z-index:997;
}

div#image1Large{
	width: 100%;
}
div#image2Large{
	width:100%;
}
body.homepage object {
	position: static;
}
/* End of Document: fModal */




/* -------------------------------------------------- Start of Document: fgallery --------------------------------------- */
div.galleryWraper{
	width: 433px;
	padding-top: 1px;
	padding-bottom: 20px;
	position: relative;
}
div.galleryWraper h2.header {
	color:#00B1E9;
	font-size: 1.5em;
	line-height: 2.2em;
}
ul.gallery{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 0;
}
ul.gallery li {
	position: absolute;
	top: 0;
	left: 0;
}
div.galleryPrev{
	background-image: url("../images/left_arrow.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/left_arrow.png*/;
	cursor: pointer;
	height: 65px;
	overflow: hidden;
	position: absolute;
	text-indent: -99px;
	width: 55px;
}
div:hover.galleryPrev{
	background-image: url("../images/left_arrow_hover.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/left_arrow_hover.png*/;
}
div.galleryNext{
	background-image: url("../images/right_arrow.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/right_arrow.png*/;
	cursor: pointer;
	height: 65px;
	overflow: hidden;
	position: absolute;
	text-indent: -99px;
	width: 55px;
}
div:hover.galleryNext{
	background-image: url("../images/right_arrow_hover.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/right_arrow_hover.png*/;
}
div.shadedContainerPop div.controlNav {
	margin:9px 0 0;
}
a.enlargeLink{
	bottom: 15%;
	position: absolute;
	right: 5%;
	z-index: 2;
}

/* Begin styles for caption on regular sized gallery */
div.captionBody {
	background: url('../images/captionBg.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/captionBg.png*/ repeat left top;
	bottom: 7px;
	left: 2px;
	position: absolute;
}
div.captionCont {
	width: auto;
	margin: 0 5px;
}
div.capLeftCorn {
	background: url('../images/captionBgCorners.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/captionBgCorners.png*/ no-repeat -5px bottom;
	bottom: 2px;
	height: 5px;
	left: 2px;
	position: absolute;
}
div.capRightCorn {
	background: url('../images/captionBgCorners.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/captionBgCorners.png*/ no-repeat 424px bottom;
	height: 5px;
	padding: 0 5px;
	width: auto;
}
div.capMiddle {
	background:url('../images/captionBg.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/captionBg.png*/ repeat left top;
	height:5px;
	width:auto;
}
div.shadedContainerPop div.captionBody {
	font-size: 1.5em;
	line-height:2.2em;
	padding-top: 5px;
}
div.shadedContainerPop div.capRightCorn {
	background-position:605px bottom;
}
div.shadedContainerPop div.controlNav {
	margin:9px 0 0;
}
/* End styles for large sized gallery */

/* These are the 4 original rules of this file */
div#addThis_container{
	float: right;
	margin-top: 13px;
}
a.printLink{
	float: right;
	line-height: 2.3em;
	margin-top: 13px;
	margin-right: 6px;
}
.gallery .actionContainer{
	z-index: 2;
	float:right !important;
	margin-right:20px !important;
}
img.playImage{
	left: 157px;
	position: absolute;
	top: 107px;
	z-index: 10;
}
div.modalPopOutContent{
	display: inline-block;
	margin: 0 33px 33px;
	width: 770px;
}
body.tabpage div.modalPopOutContent h3{
	margin: 0 0 10px;
}

.visionpage .text {
	width:480px;
}
/* End of Document: fgallery */




/* ---------------------------------------------- Start of Document: fRelatedResources ----------------------------------- */
.relatedResources {
	width: 433px;
}
.relatedResources h3{
	font-size: 1.3em;
	line-height: 2em;
}

.relatedResources .content a{
	margin-left: 8px;
}

.ipad #our_commitment .relatedResources .content a{
	margin-left: 24px;
}
.relatedResources .content{
	background: url("../images/background85.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/background85.png*/ repeat scroll 0 0 transparent;
	border-top: 1px solid #5E5E5E;
	border-left: 1px solid #5E5E5E;
	border-right: 1px solid #5E5E5E;
	/*margin-left: -1px;*/
	margin-top: 0;
	width: 433px;

}
body#gms_commitment_tosafety.visionconfigpage div#content div.shadedContainer div.midRow div.midLeft div.midRight div.midMid div.par div.parsys_column div.parsys_column div.relatedResources div.background div.relatedResources ul.content {
/*	width: 433px;
*/}
body#greener_vehicles.visionconfigpage div#content div.shadedContainer div.midRow div.midLeft div.midRight div.midMid div.par div.parsys_column div.parsys_column div.relatedResources div.background div.relatedResources ul.content {
/*	width: 433px;
*/}
.background .relatedResources .content li{
	list-style-image: url(../images/LeftArrowIcon2.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/LeftArrowIcon2.png*/;
	list-style-position: inside;
	list-style-type: none;
}

.ipad #our_commitment .background .relatedResources .content li{
	background: url(../images/LeftArrowIcon2.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/LeftArrowIcon2.png*/ no-repeat 0 50%;
	list-style-image: none;
	list-style-position: inside;
	list-style-type: none;
}

.ie7 .background .relatedResources .content li{
	list-style-image:none;
	background:url(../images/LeftArrowIcon2.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/LeftArrowIcon2.png*/ no-repeat 0 6px;

}

.ie7 .background .relatedResources .content li a{
		position:relative;
		top:-2px;
}
.ie7 #earning-releases .background .relatedResources .content li{
	list-style-image:none;
	background:url(../images/LeftArrowIcon2.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/LeftArrowIcon2.png*/ no-repeat 0 10px;

}
.ie7 #earning-releases .background .relatedResources .content li.headline h4{
	position:relative;
	top:4px;

}
.relatedResources .content li  {
	border-bottom: 1px solid #5E5E5E;
	list-style-image: url(../images/LeftArrowIcon2.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/LeftArrowIcon2.png*/;
	list-style-position: inside;
	list-style-type: none;
	padding-top:4px;
	padding-bottom:4px;
}
.relatedResources .label {
	margin-right: 100px;
	margin-left: -20px;
}
.relatedResources  .select {
	color: #E5E5E5;
	font-size: 1.1em;
	margin-left: 170px;
	margin-top: -57px;
	width: 145px !important;
}
.select {
	background: url("../images/formComponents/dropdown145x20.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/formComponents/dropdown145x20.png*/ no-repeat transparent -1px 0;
	float:left;
	width:145px;
	height:20px;
	font-weight: bold;
	left: 0px !important;
}
.relatedResources  h3{
	background: url("../images/roundedCornerheader.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/roundedCornerheader.png*/ no-repeat scroll 0 0 transparent;
	color: #E5E5E5;
	margin: 0;
	overflow: hidden;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: center;
	width: 302px;
}
.relatedResources  dd {
	margin-left: -17px;
}
.relatedResources b{
	margin-top: 2px;
	margin-left: 13px;
	line-height: 2.4em;
}
.labelContinued {
	font-size: 0.85em;
	font-weight: normal;
	height: 12px !important;
	line-height: 1em;
	position: relative;
	top: -2px;
	left: 10px;
	width:150px;
}
.optionContainer {
	float: left;
	padding-left: 5px;
}
.relatedResources .actionContainer {
	top: -33px;
	margin-left: 320px;
}
/* [START] button styling  */
/*.highlightLinkColor {  / *  accommodates a constant highlight color * /
	color:#fff;
}*/
.inlineButton {
	padding-left: 10px;
	position: relative;
	top: -6px;
}
.actionContainer {
	display: block;
	float: left;
	margin-right: 5px;
	position: relative;
}
span.btnLeftEnd {
	/*background: url("../images/fBtnLeftEnd.png") no-repeat scroll left top transparent;*/
	clear: both;
	display: block;
	float: left;
	height: 20px;
	position: relative;
	top: 7px;
	width: 5px;
}
.relatedResources ul {
	font-weight: normal;
}
.relatedResources .content .actionContainer .button.gotham-bold .genBtn {
	padding-top: 5px;
}
.relatedResources .content .selectHeader h4{
	width:150px;
	height:5px;
	margin-top:5px;
	margin-left:12px;
}
.relatedResources .content .selectHeader {
}
.relatedResources .content .headerContent {
	height: 100px;
}
/* End of Document: fRelatedResources */




/* ---------------------------------------------- Start of Document: fRelatedResourcesOpt --------------------------------- */
/*
.relatedResources .content{
	background: url("../images/background85.png") repeat scroll 0 0 transparent;
	border-top: 1px solid #5E5E5E;
	border-left: 1px solid #5E5E5E;
	border-right: 1px solid #5E5E5E;
	margin-top: 0;
}
*/
/* End of Document: fRelatedResourcesOpt */




/* ----------------------------------------------- Start of Document: fPromoTile ------------------------------------------- */
.promoTile {
	height: 190px;
	width: 436px;
	padding-bottom:40px;
	position:relative;
}
.promoTile ul {
	width: 230px;
	margin-top: -132px;
	margin-left: -15px;
	margin-bottom:-5px;
}
.promoTile li {
	margin-bottom: 8px;
}
.promoTile ul li img{
	margin-right: 10px;
}
.promoTile ul .arrow {
	list-style-position: inside;
	list-style-image: url(../images/thumbSwitchLeftArrowIcon.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/thumbSwitchLeftArrowIcon.png*/;
}
/* End of Document: fPromoTile */




/* --------------------------------------------- Start of Document: fPromoTileGallery -------------------------------------- */
.galleryContainer {
	height: 130px;
	width: 436px;
}
.galleryContainer #slideshow4 {
	display: block;
	position: relative;
}
.wrapperAC  {
	float:left;
	margin-left:190px;
}
.galleryContent .acWrapper {
	float: left;
	margin-left: 40px;
}
.galleryContent {
	position: absolute;
	z-index: 2;
	margin-top: 5px;
}
li .galleryContent ul li {
	display: block;
}
.galleryContent ul {
	height: 65px;
}
ul.gallery li{
	position: relative;
	width: 360px;
}
/* End of Document: fPromoTileGallery */


body#gm_global_aid0 div.flexLeftContent ul{
	font-weight: normal;
	list-style: disc outside none;
	padding: 0 0 0 15px;
}

/* -------------------------------------------------Start of Document: fPageTeaser ------------------------------------------ */
#teaserContainer {
	width: 400px;
}
#teaserRow {
	float: left;
	width: 385px;
	height:100px;
}
 #teaserCol {
	float: left;
	width: 300px;
	clear:both;
}
.teaserRowList, .teaserColList, .teaserContainerList {
	margin-bottom: 50px;
}
.teaserRow .teaserRowList .teaserRowItems, .teaserColList, .teaserContainerList, .teaserContainerListItems {
	list-style-type: none;
	list-style-image: none;
	float:left;
}
.teaserRowList li img,.teaserColItems img, .teaserColList li img, .teaserContainerList li img, .teaserContainerListItems img,
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumns .teaserColumn1 .teaserRowItems div,
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumns .teaserColumn2 .teaserRowItems div,
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumns .teaserColumn3 .teaserRowItems div,
#board_of_directors0.peoplepage_summary #content .teaserColumns .teaserColumn1 .teaserRowItems div,
#board_of_directors0.peoplepage_summary #content .teaserColumns .teaserColumn2 .teaserRowItems div,
#board_of_directors0.peoplepage_summary #content .teaserColumns .teaserColumn3 .teaserRowItems div {
	float: left;
	margin-right: 10px;
	width: 75px;
}
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumns .teaserColumn1 .teaserRowItems div.clearfix,
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumns .teaserColumn2 .teaserRowItems div.clearfix,
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumns .teaserColumn3 .teaserRowItems div.clearfix,
#board_of_directors0.peoplepage_summary #content .teaserColumns .teaserColumn1 .teaserRowItems div.clearfix,
#board_of_directors0.peoplepage_summary #content .teaserColumns .teaserColumn2 .teaserRowItems div.clearfix,
#board_of_directors0.peoplepage_summary #content .teaserColumns .teaserColumn3 .teaserRowItems div.clearfix {
	float: none;
}
.teaserRowItems h2, .teaserColItems h2, .teaserContainerListItems h2{
	font-family: arial;
	font-size:1.3333em;
	font-weight: bold;
	line-height: 1.25em;
	width:270px;
	margin-left:10px;
}
.teaserRowBodyCopy {
	margin:-5px 0px 0px 0px;
	width:385px;
}
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumns .teaserColumn1 .teaserRowItems div.teaserRowBodyCopy,
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumns .teaserColumn2 .teaserRowItems div.teaserRowBodyCopy,
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumns .teaserColumn3 .teaserRowItems div.teaserRowBodyCopy,
#board_of_directors0.peoplepage_summary #content .teaserColumns .teaserColumn1 .teaserRowItems div.teaserRowBodyCopy,
#board_of_directors0.peoplepage_summary #content .teaserColumns .teaserColumn2 .teaserRowItems div.teaserRowBodyCopy,
#board_of_directors0.peoplepage_summary #content .teaserColumns .teaserColumn3 .teaserRowItems div .teaserRowBodyCopy{
	margin: 0 0 0 10px;
	width:183px;
}
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumns .teaserColumn1 .teaserRowItems div.teaserRowBodyCopy p,
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumns .teaserColumn2 .teaserRowItems div.teaserRowBodyCopy p,
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumns .teaserColumn3 .teaserRowItems div.teaserRowBodyCopy p,
#board_of_directors0.peoplepage_summary #content .teaserColumns .teaserColumn1 .teaserRowItems div.teaserRowBodyCopy p,
#board_of_directors0.peoplepage_summary #content .teaserColumns .teaserColumn2 .teaserRowItems div.teaserRowBodyCopy p,
#board_of_directors0.peoplepage_summary #content .teaserColumns .teaserColumn3 .teaserRowItems div .teaserRowBodyCopy p{
	margin: 5px 0 0 0;
}
.teaserColBodyCopy, .teaserContainerBodyCopy {
	margin: 0px 0px 0px 90px;
	width:228px;
}
.teaserColBodyCopy
{
	font-weight:normal;
}
.teaserColBodyCopy p{
	margin: 0;
}
.teaserRowReadMore, .teaserColReadMore, .teaserContainerReadMore {
	padding: 0px 15px 0px 0px;
}
.teaserRowWatchLink, .teaserColWatchLink, .teaserContainerWatchLink {
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
}
.teaserRowVideoLink, .teaserColVideoLink, .teaserContainerVideoLink {
	background-image: url(../images/icon_video.jpg)/*tpa=http://www.gm.com/etc/designs/gmcom/images/icon_video.jpg*/;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 22px;
}
.teaserRowVideoLink:hover,.teaserColVideoLink:hover, .teaserContainerVideoLink:hover {
	background-image: url(../images/icon_videoHover.jpg)/*tpa=http://www.gm.com/etc/designs/gmcom/images/icon_videoHover.jpg*/;
	background-repeat: no -repeat;
}
.teaserColLearnMore, .teaserColReportLink, .teaserColRecentLink, .teaserContainerLearnMore {
	padding-right:15px;
}
.footer {
	margin: 6px 0px 15px 117px;
}
.noWrapCTA {
	/*margin-left:117px;
	float: left;*/
	width: 385px;
}
#GM_Corporate_Officers.peoplepage_summary #content #teaserContainer,
#board_of_directors0.peoplepage_summary #content #teaserContainer
{
	width:900px;
	margin:15px;
}
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumn1 .teaserRowItems,
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumn2 .teaserRowItems,
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumn3 .teaserRowItems,
#board_of_directors0.peoplepage_summary #content .teaserColumn1 .teaserRowItems,
#board_of_directors0.peoplepage_summary #content .teaserColumn2 .teaserRowItems,
#board_of_directors0.peoplepage_summary #content .teaserColumn3 .teaserRowItems
{
	clear:both;
	height:175px;
	margin-bottom:25px;
}
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumn1,
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumn2,
#GM_Corporate_Officers.peoplepage_summary #content .teaserColumn3,
#board_of_directors0.peoplepage_summary #content .teaserColumn1,
#board_of_directors0.peoplepage_summary #content .teaserColumn2,
#board_of_directors0.peoplepage_summary #content .teaserColumn3
{
	float:left;
	width:300px;
}
/* End of Document: fPageTeaser */




/* ---------------------------------------------- Start of Document: fCoLandingPage -------------------------------------- */
.clpContent {
    clear: both;
    float: left;
    margin: 0 75px;
    position: relative;
    width:980px;
}
.clpContent div.cq-colctrl-lt2{
	width: 900px;
}
.clpContent h2 {
    clear: both;
    padding-top: 30px;
    margin-top: 120px;
}
body#aboutGM .clpContent h2,
body#gm_experience .clpContent h2,
body#historyAndHeritage .clpContent h2 {
	margin: 0;
	padding:100px 0 0;
}
.clpContent p {
    width:645px;
}
body.newsarchivepage .clpContent p {
    width: 350px;
}
.clpContent .scWrapper {
    float: left;
    width:260px;
    margin:0px 0px 0px 0px;
}
.clpContent .scNarrowWrapper {
    float: left;
    width:260px;
    margin:0px 0px 0px 0px;
    width:600px;
}
.scWrapper .shadedContainer {
	width:275px;
	float:left;
    margin: 0px 20px 20px 0px;
    padding-bottom:20px;
    display: block;
    float: left;
	height: 195px;
}
body#aboutGM .scWrapper .shadedContainer,
body#gm_experience .scWrapper .shadedContainer,
body#historyAndHeritage .scWrapper .shadedContainer {
	margin: 0px;
	padding: 10px 20px 10px 0;
}
body#aboutGM .cq-colctrl-lt2-c0,
body#gm_experience .cq-colctrl-lt2-c0,
body#historyAndHeritage .cq-colctrl-lt2-c0{
	padding-bottom: 40px;
}
body#historyAndHeritage .cq-colctrl-lt2-c0,
body#historyAndHeritage .cq-colctrl-lt2-c1,
body#historyAndHeritage .cq-colctrl-lt2-c2{
	overflow: hidden;
}
.scContent{
    width:275px;
    height:180px;
}
body#aboutGM .scContent,
body#gm_experience .scContent{
	height: 175px;
}
.lastRow{
    margin-bottom:50px;
}
.scContent .scDetailLinks {
	float: left;
	overflow:hidden;
	/*margin-top: -5px;*/
	padding: 0 15px;
	width: 230px;
}
.scContent .scDetailLinks li p {
	width: 230px;
	font-weight:normal;
	min-height: 102px;
	margin: 0;
}
.scContent .scDetailLinks li p  + p{
	min-height: 30px;
}
body#historyAndHeritage .scContent .scDetailLinks li p{
	margin: -3px 0 0;
}
.scContent .scDetailLinks > a{
	position: absolute;
	top: 145px;
}

.clpLink {
    margin:0 0 0 15px;
}
li h3 {
	margin-top: 1em;
    margin-bottom: 3px;
	font-size: 1.333em;
	line-height: 1.25em;
}
/* arrow-bulleted list items*/
li .arrow {
    list-style-position: outside;
    list-style-image: url(../images/arrow.png)/*tpa=http://www.gm.com/etc/designs/gmcom/images/arrow.png*/;
}
/* end */
.scContent .scDetailLinks li a {
	color: #00B1E9;
	text-decoration: underline;
}
.linkCTA {
	margin: 10px 0px 10px 0px;
}
/* End of Document: fCoLandingPage */


/* Careers Overview */
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0{
	margin: 15px 75px;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c0{
	margin: -15px 0 0;
	width: 440px;
}

body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c0 div.cta_shaded_container_0{
	margin: -65px 0 0;
}

body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c0 div.cta_shaded_container{
	margin: 15px 0 0;
}

body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c0 div.cta_shaded_container div.parsys.cta{
	margin: 10px
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c0 div.cta_shaded_container table tbody tr th{
	font-size: 1.5em;
	line-height: 2.2em;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c0 div.cta_shaded_container table tbody tr + tr > td:first-child{
	padding: 0 20px 0 0;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c0 div.cta_shaded_container div.text.parbase.section p{
	margin: 0px;
	padding: 10px 0 0;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c0 div.cta_shaded_container a:link,
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c0 div.cta_shaded_container a:active,
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c0 div.cta_shaded_container a:visited{
	color: #00B1E9;
	text-decoration: underline;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c0 div.cta_shaded_container a:hover,
body.tabpage div#bottomTabContainer > ul.content > li[title="North America"] div.cta_shaded_container a:hover,
body.tabpage div#bottomTabContainer > ul.content > li[title="South America"] div.cta_shaded_container a:hover,
body.tabpage div#bottomTabContainer > ul.content > li[title="Europe"] div.cta_shaded_container a:hover,
body.tabpage div#bottomTabContainer > ul.content > li[title="Asia/Middle East"] div.cta_shaded_container a:hover,
body.tabpage div#bottomTabContainer > ul.content > li[title="Africa"] div.cta_shaded_container a:hover,
body.tabpage div#bottomTabContainer > ul.content > li[title="Australia/Oceania"] div.cta_shaded_container a:hover{
	color: #9ED6E8;
	text-decoration: underline;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c1{
	margin: 0 0 0 15px;
	width: 315px;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c1 div.galleryWraper{
	height: 240px;
	width: 315px;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c1 div.galleryWraper h2.header{
	display: none;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c1 div.galleryWraper img:first-child{
	height: 100%;
	width: 100%;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c1 div.galleryWraper img.playImage{
	left: 98px;
	top: 61px;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c1 div.galleryWraper div.capRightCorn{
	background: url("../images/captionBgCorners.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/captionBgCorners.png*/ no-repeat scroll 306px bottom transparent;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c1 div.callToAction{
	margin: -15px 0 0;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c1 div.callToAction + div.brandpage_social{
	clear: both;
}
body.tabpage div#bottomTabContainer > ul.content > li[title="Overview"] div.cq-colctrl-lt0-c1 div.brandpage_social{
	float: left;
	margin: -3px 0 0;
}
div.modalPopOutContentGallery div.shadedContainer.videoWraper{
	clear: both;
	padding: 0;
	width: 615px;
}
div.modalPopOutContentGallery div.shadedContainer.videoWraper div.videoCaptionWrap{
	background: #000;
	margin: 0 auto;
	width: 585px;
}
/*Careers Tabs*/
.tabpage .content li[title="North America"] .cta_shaded_container .midMid,
.tabpage .content li[title="South America"] .cta_shaded_container .midMid,
.tabpage .content li[title="Europe"] .cta_shaded_container .midMid,
.tabpage .content li[title="Asia/Middle East"] .cta_shaded_container .midMid,
.tabpage .content li[title="Africa"] .cta_shaded_container .midMid,
.tabpage .content li[title="Australia/Oceania"] .cta_shaded_container .midMid {
	height: 240px;
}

/*Dealers and Suppliers Resources Tab */
.tabpage #bottomTabContainer > ul > li[title="Resources"] .cta_shaded_container.parbase {
	margin-top: 35px;
}
.tabpage .content li[title="Resources"] .parbase.textimage.section .image {
	width: 100px;
	float: left;
}
.tabpage .content li[title="Resources"] .parbase.textimage.section .text {
	margin: 0 0 0 10px;
	float: left;
	width: 260px;
}
.tabpage .content li[title="Resources"] .parbase.textimage.section .text p {
	margin: 0px 0px 10px 0px;
}
.tabpage .content li[title="Resources"] .parbase.textimage.section .text b {
	font-size: 1.3em;
}
.tabpage .content li[title="Resources"] .parbase.textimage.section {
	width: 370px;
	margin: 5px;
	float: left;
}

/*Current Offers: Spring Savings*/
body.tabpage div#bottomTabContainer > ul.content > li[title~="Savings"] > :first-child{
	margin: 100px 195px 0;
}
body.tabpage div#bottomTabContainer > ul.content > li[title~="Savings"] div.actionContainer{
	margin: 7px 8px 7px 10px;
	width: 182px;
}
body#current_offers #bottomTabContainer .cta_shaded_container_0 .callToAction .actionContainer a.button {
	margin-right:0px;
	padding-left:0;
	padding-right:0;
}
body.tabpage div#bottomTabContainer > ul.content > li[title~="Savings"] div.actionContainer a span{
	padding-top: 2px;
	text-align: center;
	width: 160px;
}
body#current_offers div#bottomTabContainer ul.content li .cta_shaded_container_0 .callToAction .actionContainer a.button span.genBtn {
	margin:7px 0 0 10px;
}

.ie8 body#current_offers div#bottomTabContainer ul.content li .callToAction .actionContainer a.button span.genBtn .highlightLinkColor { padding-top:1px;}

/*Current Offers: GM Family First & GM Supplier Discount*/


body.tabpage div.shadedContainerToolTip{
	bottom: auto;
	left: auto;
	right: 200px;
	top: 250px;
}

/*Copywrite Trademark*/
body#copywriteTrademark div.par.parsys {
	margin: 36px 75px 75px;
}

/* ---------------------------------------------- Start of Document: fSlideMenu -------------------------------------- */
#slideMenu {
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 220px;
	height: 180px;
	margin-left: -158px;
	z-index: 88;
}

#slideMenu img {
	border: 0;
}

#slideMenuContent {
	left: 16px;
	line-height: 2em;
	float: left;
	width: 200px;
}

#slideMenuContent ul {
	padding: 0 0 0 15px;
}
#slideMenuContent li {
	list-style-image: url('../images/arrow.png')/*tpa=http://www.gm.com/etc/designs/gmcom/images/arrow.png*/;
}

#slideMenu .shadedContainer {
	margin-top: -2px;
	margin-left: -5px;
	width: 220px;
}

#header {
	margin: 0 auto;
	width: 600px;
	height: 200px;
	padding: 10px;
}

#openCloseWrap {
	float: left;
	font-size:1.1em;
	font-weight:bold;
	margin: 4px 0 0 0;
}
#openCloseIdentifier {
	display: none;
}

/* ************** [END] fSlideMenu ********************* */

/* ************** contactUsPopup *********************** */

#contactUs form dt.input,
#contactUsPopup form dt.input  {
	margin-bottom: 15px;
}

#contactUs .formContainer label,
#contactUsPopup .formContainer label  {
	padding: 0;
	line-height: 2.1em;
}

#contactUs .formContainer label.ui-radio,
#contactUsPopup .formContainer label.ui-radio  {
	height: auto !important;
}

#contactUs fieldset.inlineSelectForm select.select,
#contactUsPopup fieldset.inlineSelectForm select.select {
	clear: none;
    float: none;
	display: inline;
	width: 143px !important;
	height: 20px;
	position: relative;
}

#contactUs fieldset.inlineSelectForm span.select,
#contactUsPopup fieldset.inlineSelectForm span.select {
    clear: none;
	float: none;
	display: inline-block;
    left: -143px !important;
	margin-right: -143px;
    position: relative;
    top: 0px;
}

#contactUs .formContainer {
	background: none;
	border: none;
}

#contactUs #help-me-find-form {
	display: none;
}

#contactUs div.modalPopOutContent {
	/*display: inline;
	width: 400px;*/
}

#contactUs .formContent {
    /*float: none;*/
    margin: 0;
    padding: 0;
	width: 400px;
}

#contactUs #tel-area {
	float: none;
}

#contactUs #general-form,
#contactUs #help-me-find-form {
	width: 400px;
}

#contactUs fieldset {
	margin: 0;
	padding: 0;
}

#contactUs select.select {
	width: 143px !important;
}

#contactUs li.state select.select {
	clear:left;
	float:left !important;
}

#contactUs li.state span.select {
	position: absolute;
}

/* ************** [END] contactUsPopup ***************** */

/* History & Heritage */
body#gm_sustainability.contentpage div.cq-colctrl-lt1,
body#creation.contentpage div.cq-colctrl-lt1,
body#acceleration.contentpage div.cq-colctrl-lt1,
body#emotion.contentpage div.cq-colctrl-lt1,
body#revolution.contentpage div.cq-colctrl-lt1,
body#globalization.contentpage div.cq-colctrl-lt1,
body#innovation_challenges.contentpage div.cq-colctrl-lt1,
body#rebirth.contentpage div.cq-colctrl-lt1,
body#diversity.contentpage div.cq-colctrl-lt1,
body#focus_areas.contentpage div.cq-colctrl-lt1,
body#employee_resource_groups.contentpage div.cq-colctrl-lt1,
body#awards_and_conferences.contentpage div.cq-colctrl-lt1,
body#supporting_our_troops.contentpage div.cq-colctrl-lt1,
body#Martin_Luther_King_Jr.contentpage div.cq-colctrl-lt1,
body#GM_and_the_LGBT.contentpage div.cq-colctrl-lt1,
body#designing_for_physically_challenged.contentpage div.cq-colctrl-lt1,
body#building_bridgeswiththeindialeagueofamerica.contentpage div.cq-colctrl-lt1,
body#gm_foundation.contentpage div.cq-colctrl-lt1,
body#message_from_the_president.contentpage div.cq-colctrl-lt1,
body#safe_kids_usa_partnership.contentpage div.cq-colctrl-lt1,
body#united_way_partnership.contentpage div.cq-colctrl-lt1,
body#buick_achievers_partnership.contentpage div.cq-colctrl-lt1,
body#education.contentpage div.cq-colctrl-lt1,
body#health_human_services.contentpage div.cq-colctrl-lt1,
body#environment_energy.contentpage div.cq-colctrl-lt1,
body#community_development.contentpage div.cq-colctrl-lt1,
body#gm_foundation_press_releases.contentpage div.cq-colctrl-lt1{
	margin: 50px 0;
}
body#gm_sustainability.contentpage div.cq-colctrl-lt1-c0,
body#creation.contentpage div.cq-colctrl-lt1-c0,
body#acceleration.contentpage div.cq-colctrl-lt1-c0,
body#emotion.contentpage div.cq-colctrl-lt1-c0,
body#revolution.contentpage div.cq-colctrl-lt1-c0,
body#globalization.contentpage div.cq-colctrl-lt1-c0,
body#innovation_challenges.contentpage div.cq-colctrl-lt1-c0,
body#rebirth.contentpage div.cq-colctrl-lt1-c0,
body#diversity.contentpage div.cq-colctrl-lt1-c0,
body#focus_areas.contentpage div.cq-colctrl-lt1-c0,
body#employee_resource_groups.contentpage div.cq-colctrl-lt1-c0,
body#awards_and_conferences.contentpage div.cq-colctrl-lt1-c0,
body#supporting_our_troops.contentpage div.cq-colctrl-lt1-c0,
body#Martin_Luther_King_Jr.contentpage div.cq-colctrl-lt1-c0,
body#GM_and_the_LGBT.contentpage div.cq-colctrl-lt1-c0,
body#designing_for_physically_challenged.contentpage div.cq-colctrl-lt1-c0,
body#building_bridgeswiththeindialeagueofamerica.contentpage div.cq-colctrl-lt1-c0,
body#gm_foundation.contentpage div.cq-colctrl-lt1-c0,
body#message_from_the_president.contentpage div.cq-colctrl-lt1-c0,
body#safe_kids_usa_partnership.contentpage div.cq-colctrl-lt1-c0,
body#united_way_partnership.contentpage div.cq-colctrl-lt1-c0,
body#buick_achievers_partnership.contentpage div.cq-colctrl-lt1-c0,
body#education.contentpage div.cq-colctrl-lt1-c0,
body#health_human_services.contentpage div.cq-colctrl-lt1-c0,
body#environment_energy.contentpage div.cq-colctrl-lt1-c0,
body#community_development.contentpage div.cq-colctrl-lt1-c0,
body#gm_foundation_press_releases.contentpage div.cq-colctrl-lt1-c0{
	margin:	0 75px 0;
	padding: 0 0 50px;
}
body#gm_sustainability.contentpage div.cq-colctrl-lt1-c1,
body#creation.contentpage div.cq-colctrl-lt1-c1,
body#acceleration.contentpage div.cq-colctrl-lt1-c1,
body#emotion.contentpage div.cq-colctrl-lt1-c1,
body#revolution.contentpage div.cq-colctrl-lt1-c1,
body#globalization.contentpage div.cq-colctrl-lt1-c1,
body#innovation_challenges.contentpage div.cq-colctrl-lt1-c1,
body#rebirth.contentpage div.cq-colctrl-lt1-c1,
body#diversity.contentpage div.cq-colctrl-lt1-c1,
body#focus_areas.contentpage div.cq-colctrl-lt1-c1,
body#employee_resource_groups.contentpage div.cq-colctrl-lt1-c1,
body#awards_and_conferences.contentpage div.cq-colctrl-lt1-c1,
body#supporting_our_troops.contentpage div.cq-colctrl-lt1-c1,
body#Martin_Luther_King_Jr.contentpage div.cq-colctrl-lt1-c1,
body#GM_and_the_LGBT.contentpage div.cq-colctrl-lt1-c1,
body#designing_for_physically_challenged.contentpage div.cq-colctrl-lt1-c1,
body#building_bridgeswiththeindialeagueofamerica.contentpage div.cq-colctrl-lt1-c1,
body#gm_foundation.contentpage div.cq-colctrl-lt1-c1,
body#message_from_the_president.contentpage div.cq-colctrl-lt1-c1,
body#safe_kids_usa_partnership.contentpage div.cq-colctrl-lt1-c1,
body#united_way_partnership.contentpage div.cq-colctrl-lt1-c1,
body#buick_achievers_partnership.contentpage div.cq-colctrl-lt1-c1,
body#education.contentpage div.cq-colctrl-lt1-c1,
body#health_human_services.contentpage div.cq-colctrl-lt1-c1,
body#environment_energy.contentpage div.cq-colctrl-lt1-c1,
body#community_development.contentpage div.cq-colctrl-lt1-c1,
body#gm_foundation_press_releases.contentpage div.cq-colctrl-lt1-c1{
	width: 433px;
}
body#gm_sustainability.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#creation.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#acceleration.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#emotion.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#revolution.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#globalization.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#innovation_challenges.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#rebirth.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#diversity.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#focus_areas.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#employee_resource_groups.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#awards_and_conferences.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#supporting_our_troops.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#Martin_Luther_King_Jr.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#GM_and_the_LGBT.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#designing_for_physically_challenged.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#building_bridgeswiththeindialeagueofamerica.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#gm_foundation.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#message_from_the_president.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#safe_kids_usa_partnership.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#united_way_partnership.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#buick_achievers_partnership.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#education.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#health_human_services.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#environment_energy.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#community_development.contentpage div.cq-colctrl-lt1-c1 div.relatedResources,
body#gm_foundation_press_releases.contentpage div.cq-colctrl-lt1-c1 div.relatedResources{
	margin: 20px 0 0;
	padding-bottom: 10px;
}

body#gm_sustainability.contentpage span.genBtn,
body#diversity.contentpage span.genBtn,
body#employee_profiles.contentpage span.genBtn,
body#focus_areas.contentpage span.genBtn,
body#employee_resource_groups.contentpage span.genBtn,
body#awards_and_conferences.contentpage span.genBtn,
body#supporting_our_troops.contentpage span.genBtn,
body#Martin_Luther_King_Jr.contentpage span.genBtn,
body#GM_and_the_LGBT.contentpage span.genBtn,
body#designing_for_physically_challenged.contentpage span.genBtn,
body#building_bridgeswiththeindialeagueofamerica.contentpage span.genBtn,
body#message_from_the_president.contentpage span.genBtn,
body#safe_kids_usa_partnership.contentpage span.genBtn,
body#united_way_partnership.contentpage span.genBtn,
body#buick_achievers_partnership.contentpage span.genBtn,
body#education.contentpage span.genBtn,
body#health_human_services.contentpage span.genBtn,
body#environment_energy.contentpage span.genBtn,
body#community_development.contentpage span.genBtn,
body#gm_foundation_press_releases.contentpage span.genBtn{
	padding: 1px 0 0 0;
}

html.ie1 body#employee_profiles.contentpage span.genBtn,
html.ie9 body#employee_profiles.contentpage span.genBtn{
	padding: 3px 0 0 0 !important;
}

body.visionconfigpage div#content div.shadedContainer div.midRow div.midLeft div.midRight div.midMid div.par div.parsys_column div.parsys_column div.text div.text ul {
	font-weight: normal;
	list-style: disc outside none;
    padding: 0 0 0 40px;
}
body#board_of_directors0.peoplepage_summary div.title{
	padding: 15px 0 0 15px;
}
body#board_of_directors0.peoplepage_summary #content .shadedContainer .com_gm_peoplepage_committees{
	margin:30px;
}

body.tabpage ul.content > li[title="Resources"] .cta_shaded_container .parsys.cta .cq-colctrl-lt11 .cq-colctrl-lt11-c0
{
	margin-bottom:20px;
}
body#corporate_responsiblity #content .shadedContainer .par.parsys .text.parbase.section {
	margin-bottom:40px;
}

body#focus_areas div.cq-colctrl-lt1-c0 ul{
	font-weight: normal;
	list-style: disc outside none;
	padding: 0 0 0 40px;
}
/* Browse By */
div.browseByBrandWrapper > h2,
div.browseByBrandWrapper > h3,
div.browseByTypeWrapper > h2,
div.browseByTypeWrapper > h3{
	margin: 20px 0 0 20px;
}

div.browseByBrandForm.shadedContainer,
div.browseByTypeForm.shadedContainer{
	padding: 5px 0;
	width: 900px;
}
.ipad div.browseByBrandForm.shadedContainer,
.ipad div.browseByTypeForm.shadedContainer {
	width: 810px;
}

div.browseByBrandForm.shadedContainer div.lineOne,
div.browseByTypeForm.shadedContainer div.lineOne{
	left: 2px;
	position: absolute;
	top: 35px;
	width: 5px;
}
div.browseByBrandForm.shadedContainer div.lineOneRight,
div.browseByTypeForm.shadedContainer div.lineOneRight{
	right: 2px;
	position: absolute;
	top: 35px;
	width: 5px;
}
div.browseByBrandForm.shadedContainer div.lineTwo,
div.browseByTypeForm.shadedContainer div.lineTwo{
	left: 2px;
	position: absolute;
	top: 76px;
	width: 5px;
}
div.browseByBrandForm.shadedContainer div.lineTwoRight,
div.browseByTypeForm.shadedContainer div.lineTwoRight{
	right: 2px;
	position: absolute;
	top: 76px;
	width: 5px;
}
div.browseByBrandForm.shadedContainer div.lineThree,
div.browseByTypeForm.shadedContainer div.lineThree{
	left: 2px;
	position: absolute;
	top: 276px;
	width: 5px;
}
div.browseByBrandForm.shadedContainer div.lineThreeRight,
div.browseByTypeForm.shadedContainer div.lineThreeRight{
	right: 2px;
	position: absolute;
	top: 117px;
	width: 5px;
}
div.browseByBrandForm.shadedContainer div.lineFourRight,
div.browseByTypeForm.shadedContainer div.lineFourRight{
	right: 2px;
	position: absolute;
	top: 204px;
	width: 5px;
}
div.browseByBrandForm.shadedContainer div.lineFiveRight,
div.browseByTypeForm.shadedContainer div.lineFiveRight{
	right: 2px;
	position: absolute;
	top: 276px;
	width: 5px;
}
body.browsebybrand_flash div.roundedCornerFormSet > ul{
	width: 100%;
}
body.browsebybrand_flash div.roundedCornerFormSet > ul > li{
	width: 100%;
}
div.divider, li.divider, dt.divider{
	border-bottom: 1px solid #5E5E5E;
}
li.filterDescription{
	height: 30px;
	margin: 0;
	padding: 5px 0 0 10px;
}
li.topRow{
	margin: 0;
}
li.topRow > ul{
	height: 230px;
}
li.topRow > ul.col02{
	width: 90px;
}
.ipad body#browseByBrand ul.divider.col02,
.ipad body#browseByType ul.divider.col02{display:none !important;}

ul.divider, dl.divider{
	border-right: 1px solid #5E5E5E;
}
ul.divider, ul.noDivider{
	padding: 10px 0 0;
}
li.criteriaTitle{
	margin: 0;
	padding: 0 0 10px;
	text-align: center;
	width: 100%;
}
li.brand{
	margin: 5px 8px 0;
}
li > ul > li.type{
	margin: 5px 0 0 8px;
}
li > ul + ul > li.type{
	margin: 5px 8px 0;
}
div.browseByBrandForm.shadedContainer ul li.topRow ul.divider.col03 li.criteriaTitle.divider + li,
div.browseByTypeForm.shadedContainer ul li.topRow ul.divider.col01 li.criteriaTitle.divider + li{
	height: 190px;
	margin: 0;
}
div.browseByBrandForm.shadedContainer ul li.topRow ul.divider.col03 li ul.divider,
div.browseByBrandForm.shadedContainer ul li.topRow ul.divider.col03 li ul.noDivider,
div.browseByTypeForm.shadedContainer ul li.topRow ul.divider.col01 li ul.divider,
div.browseByTypeForm.shadedContainer ul li.topRow ul.divider.col01 li ul.noDivider{
	height: 100%;
	width: 148px;
}
ul.multiColFormWrapper li.rowOne{
	margin: 0;
}
ul.multiColFormWrapper li.rowOne ul li{
	margin: 0;
}
ul.multiColFormWrapper li.rowOne ul li dl{
	padding: 10px 0;
}
ul.multiColFormWrapper li.rowOne ul li dl dt{
	padding: 0 0 10px;
	text-align: center;
}
ul.multiColFormWrapper li.rowOne ul li dl dd{
	margin: 5px 8px 0;
}
ul.multiColFormWrapper li.rowOne ul li dl dd label{
	float: none;
}
ul.multiColFormWrapper li.rowTwo{
	margin: 10px 0 0 0;
	width: 100%;
}
ul.multiColFormWrapper li.rowTwo h3{
	text-align:center;
}
body#browseByBrand dl,
body#browseByType dl{
	width: 100px;
}
li.brand label, li.type label{
	float: none;
}
span.filterInstructions{
	float: left;
	padding: 20px 0 0 20px;
}
span.filterAction{
	float: left;
	padding: 9px 0 0 10px;
}
li.bottomRow p{
	margin: 10px 0 0 10px;
}
.browseByBrandForm div#priceSlider,
.browseByTypeForm div#priceSlider{
	background: url( '../images/background1070.png' )/*tpa=http://www.gm.com/etc/designs/gmcom/images/background1070.png*/ repeat 0 0;
	border: 1px solid #5E5E5E;
	height: 120px;
	/*margin: 10px 13px 0;*/
	margin: 0 13px 0;
	top: 10px;
	width: 63px;

}
.browseByBrandForm div#priceSlider ul,
.browseByTypeForm div#priceSlider ul{
	border-right: 2px solid #FFF;
	height: 104px;
	margin: 8px 0 0;
	width: 75%;
}
.browseByBrandForm div#priceSlider li,
.browseByTypeForm div#priceSlider li{
	background: url( "../images/priceSliderSprite.png" )/*tpa=http://www.gm.com/etc/designs/gmcom/images/priceSliderSprite.png*/ no-repeat scroll 0 0 transparent;
	height: 9px;
	margin: 2px 0 2px 10px;
	overflow: hidden;
	position:relative;
	text-indent: -99px;
	width: 28px;
}
.browseByBrandForm div#priceSlider li#price08,
.browseByTypeForm div#priceSlider li#price08{
	background-position: -3px -3px;
}
.browseByBrandForm div#priceSlider li#price08.selected,
.browseByTypeForm div#priceSlider li#price08.selected{
	background-position: -43px -3px;
}
.browseByBrandForm div#priceSlider li#price07,
.browseByTypeForm div#priceSlider li#price07{
	background-position: -3px -3px;
}
.browseByBrandForm div#priceSlider li#price07.selected,
.browseByTypeForm div#priceSlider li#price07.selected{
	background-position: -43px -3px;
}
.browseByBrandForm div#priceSlider li#price06,
.browseByTypeForm div#priceSlider li#price06{
	background-position: -3px -17px;
}
.browseByBrandForm div#priceSlider li#price06.selected,
.browseByTypeForm div#priceSlider li#price06.selected{
	background-position: -43px -17px;
}
.browseByBrandForm div#priceSlider li#price05,
.browseByTypeForm div#priceSlider li#price05{
	background-position: -3px -30px;
}
.browseByBrandForm div#priceSlider li#price05.selected,
.browseByTypeForm div#priceSlider li#price05.selected{
	background-position: -43px -30px;
}
.browseByBrandForm div#priceSlider li#price04,
.browseByTypeForm div#priceSlider li#price04{
	background-position: -3px -44px;
}
.browseByBrandForm div#priceSlider li#price04.selected,
.browseByTypeForm div#priceSlider li#price04.selected{
	background-position: -43px -44px;
}
.browseByBrandForm div#priceSlider li#price03,
.browseByTypeForm div#priceSlider li#price03{
	background-position: -3px -57px;
}
.browseByBrandForm div#priceSlider li#price03.selected,
.browseByTypeForm div#priceSlider li#price03.selected{
	background-position: -43px -57px;
}
.browseByBrandForm div#priceSlider li#price02,
.browseByTypeForm div#priceSlider li#price02{
	background-position: -3px -70px;
}
.browseByBrandForm div#priceSlider li#price02.selected,
.browseByTypeForm div#priceSlider li#price02.selected{
	background-position: -43px -70px;
}
.browseByBrandForm div#priceSlider li#price01,
.browseByTypeForm div#priceSlider li#price01{
	background-position: -3px -83px;
}
.browseByBrandForm div#priceSlider li#price01.selected,
.browseByTypeForm div#priceSlider li#price01.selected{
	background-position: -43px -83px;
}
.browseByBrandForm div#priceSlider div#priceSliderScrubber,
.browseByTypeForm div#priceSlider div#priceSliderScrubber{
	background: url("../images/priceSliderScrubber.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/priceSliderScrubber.png*/ no-repeat scroll -1px -3px transparent;
	height: 14px;
	left: 38px;
	position: absolute;
	top: 87px;
	width: 17px;
}
.browseByBrandForm div#priceText,
.browseByTypeForm div#priceText{
	margin: 10px auto 0;
	text-align: center;
	width: 63px;
}

body#404_error_page .genBtn {
	padding: 1px 0 0;
}

body#article .mediaFeed h3.mediaFeedArticleTitle {
	clear: both;
}

/* allGMSites */
.ie7 #allGMSites .cq-colctrl-lt195 div .branding_call_to_action .shadedContainer .upperRow .upperMid{
	width:181px;
	position:relative;
}
.ie7 #allGMSites .cq-colctrl-lt195 div .branding_call_to_action .shadedContainer .midRow .midLeft .midRight .midMid {
	width: 181px;
}
.ie7 #allGMSites .cq-colctrl-lt195 div .branding_call_to_action .shadedContainer .lowerRow .lowerMid{
	width:181px;
	position:relative;
}





















.shadedContainer.logoContainer ul li a img:hover{margin-top:-72px;}

html.ie .shadedContainer.logoContainer{margin-top:10px;}
.shadedContainer.logoContainer{
  width:900px;
  padding:0px;
  z-index:9999;
								}
.shadedContainer.logoContainer .midMid{
			margin:0 2px;
			overflow:visible;
}
.shadedContainer.logoContainer .logoheader{
		  border-bottom: 1px solid #737373;
		  text-align: center;
		  text-transform:uppercase;
}
.shadedContainer.logoContainer .logocontainer{
	height:74px;
	overflow:visible;
}
.shadedContainer.logoContainer ul{
  margin:0 0 -3px;
  overflow:visible;
}
.shadedContainer.logoContainer ul li{
  clear:none;
  margin:0 0 -3px;
  border-right:1px #737373 solid;
  padding:0 0 3px 0;
  padding:0 0 3px;
}

.shadedContainer.logoContainer ul li a{
	  display:block;
	  overflow:hidden;
	  width:223px;
	  height:72px;
	  text-align:center;
}
.shadedContainer.logoContainer ul li + li + li + li{
	  border-right:0;
}
.shadedContainer.logoContainer .lowerRow{
	  z-index:-10;
}





/*browse by brand referral*/

.brandLogosContent ul li a img:hover{margin-top:-72px;}

html.ie .brandLogosContainer{margin-top:10px;}

.brandLogosContainer{
  width:900px;
  padding:0px;
  z-index:0;
  margin:0 auto;
}
.brandLogosContainer .shadedContainer{
  width:900px !important;
  margin:0;
  padding:0;
}
.brandLogosContainer .midMid{
			margin:0 2px;
			overflow:visible;
			height:85px;
}
.brandLogosTitle{
		  border-bottom: 1px solid #737373;
		  text-align: center;
		  text-transform:uppercase;
}
.brandLogosContent{
	overflow:visible;
}
.brandLogosContent ul#brandLogos{
  margin:0 0 -3px;
  overflow:visible;
}
.brandLogosContent ul#brandLogos li{
  clear:none;
  margin:0 0 -3px;
  border-right:1px #737373 solid;
  padding:0;
  height:74px;
  float:left;
  position:relative;
  z-index:2;
}

html.ie .brandLogosContent ul#brandLogos li{
  height:71px;
  margin-top:3px;
}
html.ie7 .brandLogosContent ul#brandLogos li{
  margin-top:0;
}
html.ie7 .brandLogosContainer{
  position:relative;
}
html.ie7 .brandLogosContainer div.midRow{
  z-index:99999;
}

.brandLogosContent ul#brandLogos li a{
	  display:block;
	  overflow:hidden;
	  width:223.2px;
	  height:72px;
	  text-align:center;
}
.brandLogosContent ul#brandLogos li + li + li + li{
	  border-right:0;
}
.brandLogosContainer .lowerRow{
	  z-index:-10;
	  margin-top:-4px;
}
html.ie .brandLogosContainer .lowerRow{
  z-index:0;
}
html.ie7 .brandLogosContainer .midRow{
  height:89px;
}


body#browseByBrand div.shadedContainerToolTip,
body#browseByType div.shadedContainerToolTip{
  	width:1024px;
  	margin:0;
	left:0 !important;
  	position: relative;
  	margin-top: -171px;
}
body#browseByBrand div.shadedContainerToolTip div#upperRow,
body#browseByBrand div.shadedContainerToolTip div.midRow,
body#browseByBrand div.shadedContainerToolTip div.lowerRow,
body#browseByType div.shadedContainerToolTip div#upperRow,
body#browseByType div.shadedContainerToolTip div.midRow,
body#browseByType div.shadedContainerToolTip div.lowerRow
{
  	width:340px !important;

}

body#browseByBrand div.rollOverDetails.disclaimer_embedded,
body#browseByType div.rollOverDetails.disclaimer_embedded{
  width:auto;
}

html.ie body#browseByBrand div#noFlashContainer form.formComponentsExample + div.shadedContainer,
html.ie body#browseByType div#noFlashContainer form.formComponentsExample + div.shadedContainer{
  padding-top:0;
}


/*social hub*/


body#social_hub div.flexLeftContent{
	margin-top:36px;
	padding-top:0;
}
body#social_hub div.flexRightContent{
	padding-top:0;
	margin-top:137px;
}
body#social_hub  div.add_this + a + div, body.contentpagetwocolumn div.add_this + a + div, body.visionconfigpage div.add_this + a + div {
    clear: both;
    margin: 45px 0 0;
}

body#social_hub div.flexLeftContent > .par.parsys > .parbase.image.section{
	margin-top:31px;
}
body#social_hub .parsys .parsys_column{
  margin-top:9px;
  margin-bottom:-10px;
}
body#social_hub .parsys .parsys_column > .parbase.image.section{
  margin-top:-10px;
}
body#social_hub div.text.parbase.section{
  margin-top:-15px;
}
body#social_hub div.parbase.add_this.section{
  margin-bottom:20px;
}
body#social_hub div.parbase.add_this.section + a[name="par_text"] + div.text.parbase.section{

}
body#social_hub div.text.parbase.section div.text p a{
  display:block;
  margin-bottom:4px;
}

body#social_hub div.flexLeftContent > .par.parsys > .parbase.textimage.flex_promo_tile.section #promoTileMedium {
    padding: 0 0 21px;
}
body#social_hub div.flexLeftContent > .par.parsys > .parbase.textimage.flex_promo_tile.section{

}
body#social_hub div.flexLeftContent > .par.parsys > .parbase.textimage.flex_promo_tile.section +  .parbase.textimage.flex_promo_tile.section +  .parbase.textimage.flex_promo_tile.section #promoTileMedium{
	padding-bottom:14px;
}


body#social_hub div.flexRightContent div.parsys.rightpar > div.parbase.image.section{
	margin-top:51px;
}







p#close-btn:hover, p#close-btn:visited, p#close-btn:active, p#close-btn:link, p#close-btn:focus, p#close-btn:hover {
    color: #9ed6e8;
    text-decoration: none;
}

p#close-btn {
    background: url("../images/fBtnLeftEnd.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/fBtnLeftEnd.png*/ no-repeat scroll 0 7px transparent;
    color: #00B1E9;
    float: left;
	margin:0;
	padding:0;
    margin-right: 5px;
    padding-left: 1px;
    padding-right: 5px;
    text-decoration: none;
}
.mediaFeed.parbase.section ul{
	padding-left:30px;
	list-style: disc;
}
.mediaFeed.parbase.section ul li{
	margin-bottom: 4px;
	font-weight: normal;
}
/*.mediaFeed.parbase.section ul li b{
	font-weight: normal;
}*/
#investors .flexRightContent{
	width: 478px !important;
}