.link_to_brand_container {
	width: 270px;
}
.link_to_brand_container ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.link_to_brand_container ul li{
	float: left;
	margin: 0 5px 5px 0;
}
.link_to_brand_container ul li a{
	display: block;
	width: 130px;
	height: 90px;
	overflow: hidden;
}
.link_to_brand_container ul li a img:hover{
	margin-top: -90px;
}