div#primaryNavigation {
	display: block;
	height: 45px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index:999;
}

div#primaryNavigation > ul {
}
div#primaryNavigation > ul {
	display: block;
	list-style:none; 
	margin:0; 
	padding:0;
	height:45px;	
}


div#primaryNavigation > ul > li {
	background: url("../images/background1085.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/background1085.png*/ repeat scroll 0 0 transparent;
	display: block;
	float: left;
	height: 45px;
}
div#primaryNavigation li#blackFill {
	background: url("../images/blackFill.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/blackFill.png*/ top right repeat-y;
/*   position: absolute;
    right: 270px;
    width: 545px;
*/    z-index: -1;
	
	display: inline;
    float: left !important;
    margin-left: 625px;
    margin-top: -45px;
    width: 100% !important;

}

div#primaryNavigation > ul > li.active {
	/*background: url("../images/background1095.png") repeat scroll 0 0 transparent;*/
}

div#primaryNavigation li#GMLogo {
	cursor: pointer;
	margin: 0 1px 0 0;
	text-indent: -999px;
	width: 264px;
}

div#primaryNavigation li#GMLogo span{
	background: url("../images/primaryNavigationGMLogo.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/primaryNavigationGMLogo.png*/ no-repeat scroll -15px 2px transparent;
	display: block;
	height: 100%;
	width: 100%;
}

div#primaryNavigation li#vehicles, div#primaryNavigation li#vision, div#primaryNavigation li#company{
	margin: 0;
	width:120px;
}

div#primaryNavigation li#allGMSites{
	width: 120px;	
	background: transparent;
}

div#primaryNavigation li#contactUs {
	margin: 0 0 0 1px;
	width: 100px;
}

div#primaryNavigation li#allGMSites a:hover, div#primaryNavigation li#contactUs  a:hover{
	color: #AAA;
}

div#primaryNavigation li#allGMSites a.active, div#primaryNavigation li#contactUs  a.active{
	color: #00B1E9;
}

div#primaryNavigation li#vehicles h2, div#primaryNavigation li#vision h2, div#primaryNavigation li#company h2{
	font-size: 0.9167em;
	line-height: 1.5em;
	margin: 14px auto 0;
	text-align: center;
	width: 100px;
}
/*
body#contactUsForm div#primaryNavigation li#vehicles h2, body#contactUsForm div#primaryNavigation li#vision h2, body#contactUsForm div#primaryNavigation li#company h2{
	margin: 18px auto 0;
}
*/
div#primaryNavigation li#vision h2{
	width: 110px;
}

div#primaryNavigation li#contactUs h2, div#primaryNavigation li#allGMSites h2{
	font-size: 0.75em;
	line-height: 2.2222em;
	margin: 14px auto;
	width: 9em;
}

div#primaryNavigation li#allGMSites {
	position: relative;
}
.ipad div#primaryNavigation li#allGMSites {
	position: absolute;
}
div#primaryNavigation li#allGMSites h2 {
    border-right: 1px solid #777;
    margin-left: -12px;
    padding-right: 14px;
    width: 105px;
}
div#primaryNavigation li#allGMSites h2 img{
	float: right;
}
div#primaryNavigation ul li h2{
	text-decoration: none;
}

div#primaryNavigation ul li h2 a {
	color: #FFF;
	letter-spacing: 1px;
	font-wight: bold;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	text-transform: uppercase;
}

div#primaryNavigation ul li.active h2 a, div#primaryNavigation ul li h2 a.active {
	color: #00B1E9;
}

div#primaryNavigation ul li a span.arrow {
	background: url("../images/arrow.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/arrow.png*/ no-repeat scroll 2px 5px transparent;
    display: inline-block;
    width: 10px;
}

div#primaryNavigation ul li.active a span.arrow, div#primaryNavigation ul li a.active span.arrow {
	background: url("../images/arrowdown.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/arrowdown.png*/ no-repeat scroll 0px 7px transparent;
}

div#primaryNavigation li#search, div#primaryNavigation li#allGMSites, div#primaryNavigation li#contactUs, div#primaryNavigation li#blackFill {
	float:right;
	/**/
	/*background: #000101;*/
}
div#primaryNavigation li#allGMSites.active, div#primaryNavigation li#contactUs.active{
	background: url("../images/background1085.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/background1085.png*/ repeat scroll 0 0 transparent;
}

div#primaryNavigation li#search, div#primaryNavigation li#search form, div#primaryNavigation li#search form div{
	height: 45px;
	margin: 0;
	width: 150px;
}
div#primaryNavigation li#search form a#searchAction {
	background: url("../images/primaryNavigationSearchButton.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/primaryNavigationSearchButton.png*/ no-repeat #666;  
	display: block;
	float: right;
	height: 18px;
	margin: 15px 18px 3px 0;
	position: relative;
	width: 18px;
	cursor:default;
}
div#primaryNavigation li#search{background: transparent;}
div#primaryNavigation li#search form a#searchAction.on {
	background-color: #fff;
	cursor:pointer;
}

div#primaryNavigation li#search form a#searchAction span {
	display: none; 
}

div#primaryNavigation li#search form input {
    color: #000000;
    float: right;
    font-size: 9px;
    height: 16px;
    line-height: 16px;
    margin: 15px 0 0;
    padding: 0 0 0 2px;
    position: relative;
    width: 106px;
    z-index: 2;
    border:1px #ccc solid;
    border-right:0;
    background: transparent;
    border-radius:0; /* ipad */
}

div#primaryNavigation li#search form span.searchprompt {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
    font: italic 12px Arial;
    height: 14px;
    margin: 15px 0 0 6px;
    padding: 2px 0 2px 2px;
    position: absolute;
    width: 106px;
    z-index: 0;
}
html.ie div#primaryNavigation li#search form{
	position: relative;
	z-index:10;
}
div#primaryNavigation ul li ul{
	list-style: none outside none;
/*	margin: 0;
*/	padding: 1px 0 0;
	position: absolute;
	top: -999px;
	/*top: 46px;*/
	z-index: 9999;
	background: url("../images/background1085-t.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/background1085-t.png*/ repeat scroll 0 0 transparent;
}

div#primaryNavigation ul li ul li {
	background: url("../images/background1085.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/background1085.png*/ repeat scroll 0 0 transparent;
	display: block;
	float: left;
	font-size: .8333em;
	line-height: 1.5em;
	height: 77px;
	margin: 0 1px 0 0;
	padding: 6px 2px;
	text-align: center;
	width: 160px;
}

div#primaryNavigation ul li ul li.active {
	background: url("../images/background1095.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/background1095.png*/ repeat scroll 0 0 transparent;
}

div#primaryNavigation ul li ul a {
	display: block;
	color:#ffffff; 
	text-decoration:none;
	text-transform: uppercase;
}

div#primaryNavigation ul li ul a:hover {
	color: #00B1E9;
}
/*html.ie div#primaryNavigation ul li ul{
	margin: 0 !important;
	padding: 0 !important;
}
html.ie div#primaryNavigation ul li ul li{
	margin: 0 !important;
	padding: 6px 0 !important;
}
*/
html.mac.safari li#blackFill{
	width:100% !important;
	/*right:0 !important;
	float: none !important;
	right: auto !important;
	left: auto !important;
	margin-right: 0 !important;
	width: 100% !important;
	position: relative;*/	
	display:inline;
	float:left !important;
	margin-left:625px;
	margin-top:-45px;
	background:url("../images/background1085.png")/*tpa=http://www.gm.com/etc/designs/gmcom/images/background1085.png*/ repeat left top !important;
	/*background: url("../images/blackFill.png") top right repeat-x;*/
}

/*Add Abrahan*/
@-ms-viewport {
  width: device-width;
}
@media (min-width: 768px) and (max-width: 979px) {	
  	div#primaryNavigation li#GMLogo {
		cursor: pointer;
		margin: 0 1px 0 0;
		text-indent: -999px;
		/*width: 264px;*/
		width: 245px;
	}
	div#primaryNavigation li#vehicles, div#primaryNavigation li#vision, div#primaryNavigation li#company 
	{	
		width: 103px; /*max 103*/
	}
	div#primaryNavigation li#vehicles h2, div#primaryNavigation li#vision h2, div#primaryNavigation li#company h2 {
		font-size: 0.9167em;/*Reducir tamaño letra*/
		line-height: 1.5em;		
		width: 90px;

		height: 69%;		
	}
}

@media (max-width: 768px) {	
  div#primaryNavigation li#GMLogo {
		cursor: pointer;
		margin: 0 1px 0 0;
		text-indent: -999px;
		/*width: 264px;*/
		width: 245px;
	}
	div#primaryNavigation li#vehicles, div#primaryNavigation li#vision, div#primaryNavigation li#company 
	{	
		width: 103px; /*max 103*/
	}
	div#primaryNavigation li#vehicles h2, div#primaryNavigation li#vision h2, div#primaryNavigation li#company h2 {
		font-size: 0.9167em;/*Reducir tamaño letra*/
		line-height: 1.5em;		
		width: 105px;
		height: 69%;		
	}
}

html.ipad div#primaryNavigation li#GMLogo {
		cursor: pointer;
		margin: 0 1px 0 -15px;
		text-indent: -999px;
		/*width: 264px;*/
		width: 245px;
}
html.ipad div#primaryNavigation li#vehicles,html.ipad div#primaryNavigation li#vision,html.ipad div#primaryNavigation li#company 
{
	width: 103px !important; /*max 103*/	
}
html.ipad	div#primaryNavigation li#vehicles h2,html.ipad div#primaryNavigation li#vision h2,html.ipad div#primaryNavigation li#company h2 {
	font-size: 0.9167em;/*Reducir tamaño letra*/
	line-height: 1.5em;		
	width: 103px;
	height: 69%;
}
html.ipad div#primaryNavigation li#blackFill{/*background: red !important;*/}