@charset "utf-8";
/****************************/
/* Page Wide Default Styles */
/****************************/

body
{
	margin: 0;
	padding: 0;
	background: url('../images/background-body.gif')/*tpa=http://www.textron.com/assets/images/background-body.gif*/ repeat;
}


img
{
	display: block;
	margin: 0;
	border-style: none;
	padding: 0;
}


/********************************/
/* End Page Wide Default Styles */
/********************************/

/***********************/
/* Site Wrapper Styles */
/***********************/

#shadowBoxTop
{
	margin: 35px auto 0 auto;
	width: 910px;
	height: 5px;
	font-size: 1px;
	background: url('../images/shadow-bg-top.gif')/*tpa=http://www.textron.com/assets/images/shadow-bg-top.gif*/ no-repeat -3px 0;
}

#shadowBoxBottom
{
	margin: 0 auto 35px auto;
	width: 910px;
	height: 5px;
	background: url('../images/shadow-bg-bottom.gif')/*tpa=http://www.textron.com/assets/images/shadow-bg-bottom.gif*/ no-repeat 0 0;
}

#shadowBoxHorizontal
{
	margin: 0 auto;
	width: 910px;
	background: url('../images/shadow-bg-h1.gif')/*tpa=http://www.textron.com/assets/images/shadow-bg-h1.gif*/ repeat-y 0 -1px;
}

#wrapper
{
	margin: 0 auto;
	width: 900px;
	background-color: #FFFFFF;
}

/***************************/
/* End Site Wrapper Styles */
/***************************/

/*****************/
/* Header Styles */
/*****************/

#header
{
	height: 65px;
	background-color: #F0F0F0;
}

	#header .logo
	{
		float: left;
		padding: 20px 0 0 70px;
	}

	#header .map
	{
		float: left;
		margin: 10px 0 0 140px;
	}

	
	/* Utility Navigation Placement and Styles */
	#utilityNav
	{
		float: right;
		margin: 20px 30px 0 0;
		font: 11px Arial, Helvetica, sans-serif;
		letter-spacing: 1px;
		color: #002C5F;
		width: 480px;
	}
		#utilityNav ul 
		{
			list-style: none;
		}
		#utilityNav ul li 
		{
			float: left; 
			padding: 0px 4px;
		}
	
		#utilityNav a, #utilityNav a:link, #utilityNav a:visited
		{
			color: #002C5F;
			text-decoration: none;
		}
		
		#utilityNav a:hover
		{
			text-decoration: underline;
		}
		
		#utilityNav img
		{
			display: inline;
			margin: 0 5px 0 5px;
		}

		#searchBox 
		{ 
			border: 1px solid #a7b2b1;	
			padding: 1px; 
			height: 12px;	
			margin: 0; 
			width: 100px; 
			font-size: 13px; 
		}
		 #searchButton 
		{	
			position: absolute;	
		}

	/* End Utility Navigation Placement and Styles */

	/* Primary Navigation Placement, Styles, and Drop-Down Controls */
	#primaryNav
	{
		width: 900px;
		height: 35px;
		font: 11px Verdana, Arial, Helvetica, sans-serif;
		color: #616265;
		background: #F0F0F0 url('../images/background-primary-nav.gif')/*tpa=http://www.textron.com/assets/images/background-primary-nav.gif*/ repeat-x bottom;
	}
	
	#primaryNav a
	{
		color: #002C5F;
		text-decoration: none;
	}
	
		/*  Root Menu Styles */
		#primaryNav ul
		{
			float: left;
			margin: 0;
			padding: 0;
			list-style: none;
			line-height: 14px;
			z-index: 10;
		}
		
		#primaryNav ul a
		{
			float: none !important; /*For Opera*/
			float: left; /*For IE*/
			display: block;
			height: auto !important;
			height: 1%;
			margin: 0;
			padding: 8px 15px 3px 15px;
			color: #002C5F;
		}
				
		#primaryNav ul a:hover,
		#primaryNav ul li:hover a,
		#primaryNav ul li.iehover a
		{
	color: #C1C1C1;
		}
			
			#primaryNav ul a.about.state,		
			#primaryNav ul a:hover.about,
			#primaryNav ul li:hover a.about,
			#primaryNav ul li.iehover a.about
			{
				background: url('../images/background-primary-nav-tab-roll-about-textron.gif')/*tpa=http://www.textron.com/assets/images/background-primary-nav-tab-roll-about-textron.gif*/ no-repeat;
			}

			#primaryNav ul a.textron.state,
			#primaryNav ul a:hover.textron,
			#primaryNav ul li:hover a.textron,
			#primaryNav ul li.iehover a.textron
			{
				background: url('../images/background-primary-nav-tab-roll-textron-businesses.gif')/*tpa=http://www.textron.com/assets/images/background-primary-nav-tab-roll-textron-businesses.gif*/ no-repeat;
			}

			#primaryNav ul a.newsroom.state,
			#primaryNav ul a:hover.newsroom,
			#primaryNav ul li:hover a.newsroom,
			#primaryNav ul li.iehover a.newsroom
			{
				background: url('../images/background-primary-nav-tab-roll-newsroom.gif')/*tpa=http://www.textron.com/assets/images/background-primary-nav-tab-roll-newsroom.gif*/ no-repeat;
			}

			#primaryNav ul a.investor.state,
			#primaryNav ul a:hover.investor,
			#primaryNav ul li:hover a.investor,
			#primaryNav ul li.iehover a.investor
			{
				background: url('../images/background-primary-nav-tab-roll-investor-relations.gif')/*tpa=http://www.textron.com/assets/images/background-primary-nav-tab-roll-investor-relations.gif*/ no-repeat;
			}
			
			#primaryNav ul a.careers.state,
			#primaryNav ul a:hover.careers,
			#primaryNav ul li:hover a.careers,
			#primaryNav ul li.iehover a.careers
			{
				background: url('../images/background-primary-nav-tab-roll-careers.gif')/*tpa=http://www.textron.com/assets/images/background-primary-nav-tab-roll-careers.gif*/ no-repeat;
			}

			#primaryNav ul li
			{
				float: left; /*For Gecko*/
				position: relative;
				display: inline;
				margin: 0;
				padding: 0;
				z-index: 10;
			}
			
			#primaryNav ul li a:hover
			{
				color: #002C5F;
			}

				/*  2nd Menu Styles */
				#primaryNav ul li ul
				{
					display: none;
					position: absolute;
					width: 170px;
					top: 25px;
					left: 0;
					border-top: 1px solid #929D9E;
					border-bottom: 3px solid #929D9E;
				}

					#primaryNav ul li ul li
					{
						float: none; /*For Gecko*/
						display: block !important;
						display: inline; /*For IE*/
						z-index: 10;
					}

					#primaryNav ul li:hover ul li a,
					#primaryNav ul li.iehover ul li a
					{
						float: none;
						margin: 0;
						padding: 4px 5px 4px 15px;
						color: #616265;
						background: #CFDEDD none;
						zoom: 1;
					}
	
					/*  2nd Menu Hover Styles */
					#primaryNav ul li:hover ul li a:hover,
					#primaryNav ul li:hover ul li:hover a,
					#primaryNav ul li.iehover ul li a:hover,
					#primaryNav ul li.iehover ul li.iehover a
					{
						background: #B7C9CB none;
						color: #002C5F;
					}

				/*  3rd Menu Styles */
				#primaryNav ul li ul li ul
				{
					display: none;
					position: absolute;
					width: 170px;
					top: -1px;
					left: 170px;
					border-top: 1px solid #B7C9CB;
					border-bottom-style: none;
				}
					
					#primaryNav ul li:hover li:hover li a, 
					#primaryNav ul li.iehover li.iehover li a
					{
						float: none;
						margin: 0;
						color: #616265;
						zoom: 1;
					}

					/*  3rd Menu Hover Styles */
					#primaryNav ul li ul li:hover ul li a:hover,
					#primaryNav ul li ul li:hover ul li:hover a,
					#primaryNav ul li ul li.iehover ul li a:hover,
					#primaryNav ul li ul li.iehover ul li.iehover a
					{
						background: #CFDEDD none;
						color: #002C5F;
					}
				#primaryNav ul li:hover ul ul,
				#primaryNav ul li:hover ul ul ul,
				#primaryNav ul li.iehover ul ul,
				#primaryNav ul li.iehover ul ul ul
				{
					display: none;
				}
				
				#primaryNav ul li:hover ul,
				#primaryNav ul li ul li:hover ul,
				#primaryNav ul li ul li ul li:hover ul,
				#primaryNav ul li.iehover ul,
				#primaryNav ul li ul li.iehover ul,
				#primaryNav ul li ul li ul li.iehover ul
				{
					display: block;
				}
				
				#primaryNav ul li
				{
					behavior: url(../js/IEmen.htc)/*tpa=http://www.textron.com/assets/js/IEmen.htc*/
				}

	#primaryNav #stockTicker
	{
		float: right;
		margin-top: 8px;
		margin-right: 35px;
	}
	
	#primaryNav .separator
	{
		float: left;
		width: 31px;
		padding-top: 12px;
	}
	
		#primaryNav .separator img
		{
			margin: 0 auto;
		}

	#primaryNavDetail
	{
		width: 900px;
		height: 5px;
		border-bottom: 1px solid #929D9F;
	}


	/* End Primary Navigation Placement, Styles, and Drop-Down Controls */

/*********************/
/* End Header Styles */
/*********************/

/***************/
/* Body Styles */
/***************/

#body
{
	clear: both;
	padding-bottom: 15px;
	background: #FFFFFF url('../images/background-content.gif')/*tpa=http://www.textron.com/assets/images/background-content.gif*/ repeat-y right;
}

	#body #controlPanel
	{
		width: 865px;
		height: 16px;
		margin-right: 30px;
		font: 9px Arial, Helvetica, sans-serif;
		text-align: right;
	}
		
		#body #controlPanel a
		{
			color: #002C5F;	
			text-decoration: none;
		}
		
		#body #controlPanel a:hover
		{
			color: #616265;
			text-decoration: underline;
		}
		
		#body #controlPanel #cp-print-trigger 
		{
			display: none;
		}

	#body .flashContainer{
		text-align:center;
		padding-top:5px;
	}
	
	#body #controlPanel img
	{
		display: inline;
		margin-top: 4px;
		margin-left: 3px;
	}

	/* Home Page Styles */
	
	#body .homeContent a, #body .homeContent a:link, #body h2 .homeContent a:visited
	{
	color: #366;
	text-decoration: none;
	font-weight: bold;
	}
	
	#body .homeContent a:hover
	{
		text-decoration: underline;
	}
	
	#body .homeContent h2 a, #body .homeContent h2 a:link, #body .homeContent h2 a:visited{
		color: #002c5f;
		text-decoration: none;
	}

	#body .homeContent h2 a:hover
	{
		text-decoration: underline;
	}
	
	#body.home
	{
		/*background: #FFFFFF url('../images/background-content.gif') repeat-y right;*/
		background: #fff url('../images/background-home-boilerplate.gif')/*tpa=http://www.textron.com/assets/images/background-home-boilerplate.gif*/ repeat-x top;
		border: 1px solid #FFFFFF;
		padding-bottom: 1px;
	}
	
		#body.home h1
		{
			font: 16px Verdana, Arial, Helvetica, sans-serif;
			color: #002C5F;
		}

		#body.home h2
		{
			padding-top: 8px;
			margin-bottom: 0;
			font: 14px Verdana, Arial, Helvetica, sans-serif;
			color: #002C5F;
		}

		#body.home p
		{
			margin-top: 0;
			font: 12px Verdana, Arial, Helvetica, sans-serif;
			color: #373A3F;
		}
	
		#body #boilerplate
		{
			border: 1px solid #FFFFFF;;
			
		}

			#body #boilerplate img
			{
				margin: auto;
			}
			
		#body .tabsPosition{
			padding-left:5px;
		}
		#body .tabsHome
		{
			height: 31px; 
			text-decoration: none;
			text-align: center;
			border: 0px solid black;
		}
		#body .tabsHome a
		{
			text-decoration: none;
			text-align: center;
		}

			#body .tab
			{
				float: left;
				width: 193px;
				margin-right: 1px;
				padding: 12px 0px 6px 0px;
				font: 11px Verdana, Arial, Helvetica, sans-serif;
			}
			
			#body .tab:hover
			{
				text-decoration: none;
			}
			
			#body .tabOn-left
			{
				color: #002C5F;
				background: url('../images/content-tabs.png')/*tpa=http://www.textron.com/assets/images/content-tabs.png*/ no-repeat;
				background-position: right -96px;
			}

			#body .tabOff-left
			{
				color: #FFFFFF;
				background: url('../images/content-tabs.png')/*tpa=http://www.textron.com/assets/images/content-tabs.png*/ no-repeat;
				padding-right: 0px; 
				background-position: right 0px;
			}
			#body .tabOff-left:hover
			{
				background-position: right -96px;
				color: #002C5F;
			}
			
			#body .tabOn-right
			{
				color: #002C5F;
				background: url('../images/content-tabs.png')/*tpa=http://www.textron.com/assets/images/content-tabs.png*/ no-repeat;
				padding-right: 24px; 
				background-position: right -64px;
			}


			#body .tabOff-right
			{
				color: #FFFFFF;
				background: url('../images/content-tabs.png')/*tpa=http://www.textron.com/assets/images/content-tabs.png*/ no-repeat;
				padding-right: 24px; 
				background-position: right -32px;
			}
			#body .tabOff-right:hover
			{
				background-position: right -64px;
				color: #002C5F;
			}	
		#body .homeContent
		{
	margin-left: 18px;
	clear: both;
	font-family: Verdana, Arial, Helvetica, sans-serif;
		}
		.homeWhite{
	background-color: #F93;
	}
		#body #homeContentLeft
		{
			float: left;
			width: 408px;
			margin-left: 18px;
			margin-bottom: 15px;
			/*background-image:url(../images/content-background.png);*/
			background-image:url(../images/hp_scroll/hp_left_content_bg.png)/*tpa=http://www.textron.com/assets/images/hp_scroll/hp_left_content_bg.png*/;
			background-position: right 5px; 
			background-repeat: no-repeat;
			/*border: 0px solid black; */	
					
			color:#003a69;
			font-size:11px;
			line-height:16px;
		}
		#body #homeContentLeft p
		{
			
			font-family: Verdana, Arial, Helvetica, sans-serif;
			
			color:#003a69;
			font-size:11px;
			line-height:16px;
		}
		#body #homeContentLeft .homeContent #left-content-1 
		{ 
			margin-right: 24px; 
		} 
		#body #homeContentLeft #homeContentLeftFooter {
			/*border: 0px solid black;*/
			height: 46px;
			width: 408px; 
			/*background: #FFFFFF url('../images/mh-detail.gif') no-repeat bottom;*/
			background: #FFFFFF url('../images/hp_scroll/hp_left_detail.png')/*tpa=http://www.textron.com/assets/images/hp_scroll/hp_left_detail.png*/ no-repeat bottom;
			margin-left: -18px;
		}
		#body #highlights a {
	color: #336;
	text-decoration: none;
	font-weight: bold;
	font-size: smaller;
		} 
		
		#body #highlights a:hover { text-decoration:underline;}
		#body #highlights h2 { 
			margin-bottom: 8px;
		}
		#body #highlights p.content { 
			min-height: 120px;
			font-size:11px;
			line-height:16px;
			color:#6b6b6e;
		}
		
		#body #homeContentInvestorEvents
		{
			float: left;
			width: 335px;
			margin-left: 18px;
			background-color: #FFFFFF;
		}

		#body #homeContentRightContainer{
			float: left;
			width: 435px;
			margin-right: 0px;
			margin-bottom: 15px;
			background-color: #FFFFFF;
			margin-left:20px;
		}
		
		#body #homeContentRight
		{
			
			background-image:url(../images/hp_scroll/hp_right_content_bg_dark.png)/*tpa=http://www.textron.com/assets/images/hp_scroll/hp_right_content_bg_dark.png*/;
			/*background-position: right 32px; */
			background-repeat: no-repeat;
		}

		#body #homeContentRight .homeContent 
		{ 
			margin-left: 0px;
		}
		#body .dark 
		{
			padding: 4px 12px;
			margin: 0px 10px 0px 5px;
			font-size:10px;
		}	
		#body  .dark h2 { 
			margin-bottom: 8px;
			font-size:12px;
		}
		
		#body #homeContentRight .homeContent .light 
		{
			padding: 4px 8px;
			background-color:#fff;
			margin: 0px 10px 0px 5px;
			font-size:10px;
		}	
		#body #homeContentRight .homeContent .light h2 { 
			margin-bottom: 8px;
			font-size:12px;
		}
		#body #homeContentRight .homeContent img 
		{ 
			margin-right: 8px; 
		}
		
		#body #homeContentFeaturedProduct
		{
			float: left;
			width: 493px;
			margin-left: 20px;
			background-color: #FFFFFF;
		}
		#body #homeContentRight #homeContentRightFooter {
			/*border: 0px solid black;*/
			height: 46px;
			width: 435px; 
			/*background: #FFFFFF url('../images/mh-detail.gif') no-repeat bottom;*/
			background: #FFFFFF url('../images/hp_scroll/hp_right_detail_dark.png')/*tpa=http://www.textron.com/assets/images/hp_scroll/hp_right_detail_dark.png*/ no-repeat bottom;
		}
		
#body #socialPanel
	{
		width: 865px;
		height: 20px;
		margin-right: 30px;
		font: 9px Arial, Helvetica, sans-serif;
		text-align: right;
	}
		
		#body #socialPanel a
		{
			color: #002C5F;	
			text-decoration: none;
		}
		
		#body #socialPanel a:hover
		{
			color: #616265;
			text-decoration: underline;
		}
		
		#body #socialPanel #cp-print-trigger 
		{
			display: none;
		}		
	
		/* Left Column, Secondary Nav Placement and Styles */
		#leftColumn { float: left; width: 168px; }
		#leftColumn ul { margin: 0; padding: 0; list-style: none; }
		#leftColumn ul li { margin: 0; padding: 0; }
		
		/* Secondary Navigation Placement, Styles, and Controls */
		#leftColumn #secondaryNav { width: 128px; font: 12px Helvetica, Arial, sans-serif; color: #333333; margin-left: 5px; }
		#leftColumn #secondaryNav a { color: #002C5F; text-decoration: none; }
		#leftColumn #secondaryNav a:hover { color: #333333; text-decoration: underline; }
		#leftColumn #secondaryNav li { margin-bottom: 10px; padding-left: 10px; background: url('../images/bullet-16.gif')/*tpa=http://www.textron.com/assets/images/bullet-16.gif*/ no-repeat 0 4px; }
		#leftColumn #secondaryNav li.state { color: #333333; background: url('../images/bullet-16-red.gif')/*tpa=http://www.textron.com/assets/images/bullet-16-red.gif*/ no-repeat 0 4px; }		
		#leftColumn #secondaryNav ul li { font-size: 10px; margin: 4px 0 4px 10px; padding: 0; background: none; }
		#leftColumn #secondaryNav ul li.state, #leftColumn #secondaryNav ul li.state a { color: #333333; text-decoration: underline; background: none; }
		#leftColumn #secondaryNav ul li ul li { margin-left: 5px; }
		#leftColumn #secondaryNav ul li ul li.state, #leftColumn #secondaryNav ul li ul li.state a { color: #717f81; }
		
			
		/* End Secondary Navigation Placement, Styles, and Controls */
		/* End Left Column, Secondary Nav Placement and Styles */
		
		/* Right Column and Callouts Placement and Styles */
		#rightColumn{ float:right; width:158px; /*background: url('../images/background-right-column.gif') no-repeat right 20px;*/}
		#rightColumn a,
		#rightColumn a:link,
		#rightColumn a:visited { color:#336; text-decoration:none; font-weight: bold;}
		#rightColumn a:hover { text-decoration:underline;}
		#rightColumn h3 { margin:0; padding:0; font:12px Verdana, Arial, Helvetica, sans-serif; color:#002C5F;}	
		
		.callout {width:125px; margin-right:15px; margin-top:10px; border:1px solid #FFFFFF; border-top:  0px; font:11px Verdana, Arial, Helvetica, sans-serif; color:#373A3F;}
		.callout .rightLogo { margin-top:19px; border-top:1px solid #FFFFFF;}
		.callout .fastFacts { padding:8px; background-color:#CFDDDD; border-top:1px solid #FFFFFF;}
		.callout .fastFacts p { margin:8px 0 0 0;}
		.callout .fastFacts img { margin:0}
		.callout .fastFacts ul { margin:0; padding:0; font-family: Verdana, Arial, Helvetica, sans-serif; list-style:none;}
		.callout .fastFacts ul li { margin:8px 0; padding:0 0 0 8px; background:url('../images/bullet-cross.gif')/*tpa=http://www.textron.com/assets/images/bullet-cross.gif*/ no-repeat 0 3px;}
		.callout .contactInfo{ padding:8px; background-color: #DCE6E7; border-top:1px solid #FFFFFF;}
		/* End Right Column and Callouts Placement and Styles */
		
		.center { text-align:center;}
		
		/* Center Column, Breadcrumb and Content Area Placement and Styles */
		#centerColumn{}
		#centerColumn .four{ margin: 0 0px 0 158px;}
		#centerColumn .three{ margin: 0 158px 0 158px;}
		#centerColumn .peoplesoft{ margin: 0 10px 0 158px;}
		#centerColumn .vurv{ margin: 0 10px 0 158px;}
		#centerColumn.one { margin: 0 20px 0 20px; }
		#content #searchResults { list-style-type: none; padding: 0px;}
		#content #searchResults li { padding: 10px 0px; } 
		
		#content .box-top {background-image:url(../images/structural/box-top.png)/*tpa=http://www.textron.com/assets/images/structural/box-top.png*/; background-repeat: no-repeat; height: 4px; width: 554px}
		#content .box-middle { border-left: 1px solid #ccc; border-right: 1px solid #ccc; width: 532px; padding: 10px 10px; padding-top: 10px;  }
		#content .box-middle h2 { margin-top: 0px; padding-top: 0px; }
		#content .box-divider { width: 522px; border-top: 1px solid #ccc; margin: 10px 0px; } 
		#content .box-bottom { background-image:url(../images/structural/box-bottom.png)/*tpa=http://www.textron.com/assets/images/structural/box-bottom.png*/; background-repeat: no-repeat; height: 4px; width: 554px}
		
		#featured { }
		#featured td { padding: 10px; vertical-align: top;  }
		#featured td.image { width: 112px; }
		#featured img {  border:1px solid black; height: 100px; margin-top: 4px; }
		#featured p.date { margin-top:0px; padding:0px;}
		#featured .title-main { font-size:14px; font-weight:bold; padding-bottom:10px; display:block}

		#selected-products { list-style:none; margin:0px; padding:0px;}
		#selected-products li { border:0px solid blue; padding: 10px 0px; }
		#selected-products li h2 { margin-bottom: 8px; } 
		#selected-products img { float:left; margin-right:10px; border:1px solid black;}
		#selected-products p.contact { color: #002C5F; font-weight: bold; font-size: 12px;  } 
		#selected-products .callout { width: 100%; } 
		#selected-products .callout .fastFacts h3 { color:#002C5F; font:12px Verdana,Arial,Helvetica,sans-serif; margin:0; margin-bottom: 4px; padding:0; }
		#selected-products .callout .fastFacts { background: #f0f0f0 url("../images/bullet-cross.gif")/*tpa=http://www.textron.com/assets/images/bullet-cross.gif*/;  background-repeat: no-repeat; background-position: 6px 12px; padding-left: 20px; } 		

 		#content #caption { float:right; margin-left:20px;}
		#content #caption img { border:1px solid #002C5F}
		#content #caption p { width:250px; font-size: 10px; margin-top:5px; font-size:10px; line-height:12px; font-weight:bold;}


		#board-of-directors li { padding: 8px 0px; } 

		
		/* Breadcrumb Placement and Styles */
		#breadcrumb { font: 10px Verdana, Arial, Helvetica, sans-serif; color: #373A3F; margin-left: 10px;  }
		#breadcrumb a { color: #373A3F; text-decoration: none; }
		#breadcrumb a:hover { text-decoration: underline; }
		/* End Breadcrumb Placement and Styles*/
		#boilerContent {margin: 8px 158px 0 168px;height: 125px; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; border-left: 1px solid #FFFFFF; background-color: #CBCFB4;}
		#boilerContent img { float: left; margin-left: 12px; margin-right: 20px; border-left: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF;}
		#boilerContent p { padding: 12px; font: 12px Helvetica, Arial, sans-serif; line-height: 18px; color: #002C5F; }

		/* Content Area Placement and Styles */
		#content { padding: 1px 20px 0 10px; /*background: url('../images/content-boilerplate-shadow.gif') no-repeat top right; */}
		
			#content a, #content a:link, #content a:visited
			{
	color: #336;
	text-decoration: none;
	font-weight: bold;
			}
			
			#content a:hover
			{
				text-decoration: underline;
			}

				#content h1
				{
					font: 18px Verdana, Arial, Helvetica, sans-serif;
					color: #002C5F;
				}

				#content h2
				{
					padding-top: 8px;
					margin-bottom: 0;
					font: 14px Verdana, Arial, Helvetica, sans-serif;
					color: #002C5F;
					font-weight: bold;
				}
			#content h3
				{
	padding-top: 8px;
	margin-bottom: 0;
	color: #002C5F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
				}

				#content p, td
				{
					margin-top: 0;
					font: 12px Verdana, Arial, Helvetica, sans-serif;
					color: #373A3F;
					line-height: 16px;
				}
				
				#content ul, #content ol
				{
					font: 12px Verdana, Arial, Helvetica, sans-serif;
					color: #373A3F;
				}
				
				#content hr
				{
					display: block;
					margin: 0 10px 10px 0;
					padding: 0;
					color: none;
					background-color: none;
					height: 1px;
					border-style: none;
					border-bottom: 1px dotted #373A3F;
					font-size: 1px;
				}
				
				#content .footnote
				{
					color: #7C99AB;
				}
				
				.matrixtable { border-left:1px solid #CDCDCD; border-right:1px solid #CDCDCD; border-style:none solid; border-width:0 1px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:7pt;}
				#content .matrixtable h2 { margin-top: 0px; padding-top: 0px; margin-bottom: 8px;  } 
				#content .matrixtable p.contentheader { color: #002C5F; } 


		/* Content Area Placement and Styles */
	/* End Center Column, Breadcrumb and Content Area Placement and Styles */

/*******************/
/* End Body Styles */
/*******************/

/*****************/
/* Footer Styles */
/*****************/

#footer
{
	clear: both;
	border-top: 4px solid #A8BBC6;
	padding: 4px;
	font: 9px Verdana, Arial, Helvetica, sans-serif;
	line-height: 14px;
	color: #373A3F;
	text-align: center;
	background-color: #F0F0F0;
}

#footer a
{
	color: #373A3F;
	text-decoration: none;
}

#footer a:hover
{
	text-decoration: underline;
}

.caption {font-size: 9px; font-style: strong;}


/*********************/
/* End Footer Styles */
/*********************/

/*****************************/
/* Button Graphics and Treatment */
/*****************************/
.button1 {
		background-image:url('../images/careers/textron-button-1.png')/*tpa=http://www.textron.com/assets/images/careers/textron-button-1.png*/; 
		background-repeat: none;
		background-position: 0px 0px;
		border:0px;
		color:#fff;
		height:35px;
		width:107px;
		text-align: center; 
		padding-top: 4px;
		overflow:hidden;
		font-size: 14px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		display: block;
		text-decoration:none
	}
	.button1:hover {
		background-position: 0px -39px;
		cursor: pointer;
	}
	
	.button1 a {
		color: #fff !important;
		text-decoration:none !important;
	}
	
	.button2 a {
		color: #fff !important;
		text-decoration:none !important;
	}
	
	.button2 {
		background-image:url('../images/careers/textron-button-2.png')/*tpa=http://www.textron.com/assets/images/careers/textron-button-2.png*/; 
		background-repeat: none;
		background-position: 0px 0px;
		border:0px;
		color:#fff;
		height:58px;
		padding-top: 6px;
		width:176px;
		overflow:hidden;
		font-size: 23px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-decoration:none;
		display: block;
		text-align: center;
	}
	.button2:hover {
		background-position: 0px -64px;
		cursor: pointer;
	}

/*********************/
/* End Button Graphics and Treatment */
/*********************/

/*****************************/
/* Site Wide Utility Classes */
/*****************************/

.smallText
{

}
.clear 
{	
	clear: both; 
}

.greenText
{
	color: #339933;
}

.redText
{
	color: #993333;
}

.borderBlueDotted
{
	border-bottom: 1px dotted #02B2EB
}

.floatLeft
{
	float: left;
	margin-right: 8px;
}

.floatRight
{
	float:right;
	margin-left: 8px;
}
/*********************************/
/* End Site Wide Utility Classes */
/*********************************/

.contentForm 	{
					margin-top: 0;
					font: 11px Verdana, Arial, Helvetica, sans-serif;
					color: #373A3F;
					line-height: 16px;
				}
textarea#contentForm
				{
					border:1px solid;
					font: 11px Verdana, Arial, Helvetica, sans-serif;
					color: #000000;
				}
input#contentForm
				{
					border:1px solid;
					font: 11px Verdana, Arial, Helvetica, sans-serif;
					color: #000000;
				}				

#emailForm {width:500px;}
#emailForm td { font-size: 12px; color: #373A3F} 
#emailForm td.required { color: #ff0000; }
#emailForm td textarea { font-size: 11px; width: 370px; }

#feedForm {width:700px;}
#feedForm td { font-size: 12px; color: #373A3F} 
#feedForm td.required { color: #ff0000; }
#feedForm td textarea { font-size: 11px; width: 370px; }

.currentPage {border: 1px red; text-decoration:underline;}
.inline { display: inline; } 

.hpmorelink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bold;
	color: #336;
	margin-top: 2px;
	margin-right: 25px;
	margin-bottom: 4px;
	margin-left: 0px;
	text-align: right;


}
.legal { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 5pt; text-align: left; color: #333333; }
}
.legal2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-style : italic; font-size: 8pt; text-align: left; color: #333333; }

/*********************************/
/* Supplier Gateway - added March 2011 */
/*********************************/

.p-headers {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	font-weight: bold;
	color: #003;
}
.s-bg {
	background-color: #d7dfeb;
	padding: 2px;
}
.s-h2 {
	font-size: 14px;
	font-weight: bolder;
	color: #003;
}
#supplier1 {
	width: 180px;
	background-color: #cfd6e3;
	border: 1px solid #fff;
	float: left;
	margin: 1px;
	padding: 1px;
	height: 150px;
	font-size: 11px;
	line-height: 12px;
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
}
#supplier2 {
	width: 178px;
	background-color: #cfd6e3;
	border: 1px solid #fff;
	left: 534px;
	position: absolute;
	margin: 1px;
	padding: 1px;
	height: 150px;
	font-size: 11px;
	line-height: 12px;
	color: #000;
	font-family: Verdana, Geneva, sans-serif;

}
#supplier3 {
	width: 178px;
	background-color: #cfd6e3;
	border: 1px solid #fff;
	float:  right;
	margin: 1px;
	padding: 1px;
	height: 150px;
	font-size: 11px;
	line-height: 12px;
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
	}
.s-footnote {
	font-size: 9px;
	margin-top: 36px;
	font-family: Verdana, Geneva, sans-serif;
	color: #333;
}
.s-a-name {
	font-size: 9px;
	font-weight: normal;
}
/***************/
/* Image Treatment Style */
/***************/
.whiteborder {
	border: 1px solid white;
}

/**
 *  Additional home page changes
 *  @author Exnihilo Inc.
 *  @date July 18, 2014
 */
.home-bottom-column {
	width:48%;
	float:left;
	background:none repeat scroll 0 0 #f9f9f9;
	margin-bottom:20px;
}
#home-bottom-left {
	margin-right:2%;
}
.home-bottom-column:last-child:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;		
}
.home-bottom-column h2 {
    color: #002c5f;
    margin-bottom: 0;
    padding-top: 8px;
    background: none repeat scroll 0 0 #e1e6e6;
    color: #323232 !important;
    font-family: 'Verdana';
    font-size: 18px !important;
    font-weight: normal !important;
    padding: 7px 0 !important;
    text-indent: 26px;  
    margin-top:0;  	
}
.home-bottom-column .bottom-top-content {
    float: left;
    padding: 17px;	 
    min-height:265px;  
}
.home-bottom-column .top-content-link {
	float:left;
	color:#fff;
	font-family:'Verdana';
	margin-right:19px;	
}
.home-bottom-column .top-content-link-text {
    background: none repeat scroll 0 0 #929d9e;
    color: #fff;
    float: left;
    font-family: verdana;
    font-weight: normal;
    line-height: 12px;
    padding: 4px 7px 5px;
    width: 146px;
}
.home-bottom-column .top-content-link-arrow {
    background: url("../images/hp_scroll/bu-arrows.png")/*tpa=http://www.textron.com/assets/images/hp_scroll/bu-arrows.png*/ no-repeat scroll -24px center #727f81;
    display: block;
    float: left;
    height: 33px;
    width: 33px;
}
.home-bottom-column p,
.home-bottom-column a,
.home-bottom-column td {
	font-size:11px!important;
	color:#333;
}
.home-bottom-column td {
	padding:0 10px;
}
.home-bottom-column a {
	font-weight:bold;
	text-decoration:none;
}
.home-bottom-column {}

.home-bottom-column .bottom-bottom-content {
	clear:both;
	padding:10px 20px;
}
.home-bottom-column h3 {
    color: #002c5f;    
    color: #323232 !important;
    font-family: 'Verdana';
    font-size: 18px !important;
    font-weight: normal !important;
    padding: 7px 0 0 !important;
    margin-top:0;  	
}
.bottom-column-hr {
	background:#dfdfdf;
	clear:both;
	float:left;
	width:100%;
	height:1px;
}



#controlPanel2
	{
		width: 135px;
		height: 45px;
		margin-right: 0px;
		margin-left: 2px;
		font: 9px Arial, Helvetica, sans-serif;
		text-align: left;
	}
		
		 #controlPanel2 a
		{
			color: #002C5F;	
			text-decoration: none;
		}
		
		 #controlPanel2 a:hover
		{
			color: #616265;
			text-decoration: underline;
		}
		
		 #controlPanel2 #cp-print-trigger 
		{
			display: none;
		}

	
	
	 #controlPanel2 img
	{
		display: inline;
		margin-top: 4px;
		margin-left: 3px;
	}







