/*Baseline Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { background: transparent; border: 0; font-size: 100%; margin: 0; padding: 0; outline: 0; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; } /* remember to define focus styles! */
ins { text-decoration: none; }/* remember to highlight inserts somehow! */
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }/* tables still need 'cellspacing="0"' in the markup */

/*Text Definition*/
/**Basic HTML*/
body { font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; }
a:focus { outline: 1px dotted invert; }
hr { border: 0 #ccc solid; border-top-width: 1px; clear: both; height: 0; }
/**Headings*/
h1 { font-size: 25px; }
h2 { font-size: 23px; }
h3 { font-size: 21px; }
h4 { font-size: 19px; }
h5 { font-size: 17px; }
h6 { font-size: 15px; }
/*Spacing*/
ol { list-style: decimal; }
ul { list-style: square; }
li { margin-left: 30px; }
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset { margin-bottom: 20px; }
sub, sup { font-size: 9px; position: relative; }
sub { top: 3px; }
sup { bottom: 4px; }

/*Design*/
body { background: #333333; }
/*Header Section*/
#Header { background: #000000; float: left; text-align: center; width: 100%; }
#Header .Layer#HL01 { margin: 0 auto; position: relative; width: 947px; }
#Header .Layer#HL02 { background: #000000 url(../../../Images/Design/Screen/Header-Border-Bottom.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Header-Border-Bottom.png*/ no-repeat bottom left; float: left; width: 947px; }
#Header p.skip { display: none; }
/* Branding */
#Branding { float: left; height: 72px; padding-left: 44px; width: 100px; }
#Branding a { background: url(../../../Images/Design/Screen/KBR-Logo-Red-on-Black.png)/*tpa=http://www.kbr.com/Images/Design/Screen/KBR-Logo-Red-on-Black.png*/ no-repeat; float: left; height: 24px; margin-top: 24px; width: 100px; }
#Branding img { display: none; }
/* Search */
#Search { float: left; height: 46px; padding-right: 44px; width: 759px }
#Search .Form { float: right; height: 15px; margin-top: 13px; padding: 0; width: 176px; }
#Search .Form input.SingleTextEntry#Search-Box { font-size: 10px; height: 13px; border-top: 1px solid #ffffff; border-right: 0; border-bottom: 1px solid #ffffff; border-right: 2px solid #ffffff; border-left: 2px solid #ffffff; float: left; margin: 0; padding: 0; width: 153px; }
#Search .Form button { background: #d71921 url(../../../Images/Design/Screen/Search-Button.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Search-Button.png*/ no-repeat; float: left; height: 15px; border: none; margin: 0; padding: 0; cursor: default; text-indent: -9999px; width: 19px; }
#Search .Form button:hover { cursor: pointer; }
/* Navigation-Header */
ul#Navigation-Header { background: transparent url(../../../Images/Design/Screen/Navigation-Header-20150101.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Header-20150101.png*/ top left no-repeat; float: left; height: 26px; list-style: none; margin: 0 0 0 18px; padding: 0; position: relative; text-align: left; width: 753px; }
ul#Navigation-Header li { list-style: none; margin: 0; padding: 0; }
ul#Navigation-Header li.GNT01, ul#Navigation-Header li.GNT01 a.GNT01L { display: block; }
ul#Navigation-Header li.GNT01 a.GNT01L { height: 26px; overflow: hidden; text-decoration: none; text-indent: -9999px }
ul#Navigation-Header li#GNI01 { left: 207px; position: absolute; top: 0; width: 68px;}
ul#Navigation-Header li#GNI02 { left: 276px; position: absolute; top: 0; width: 71px;}
ul#Navigation-Header li#GNI03 { left: 348px; position: absolute; top: 0; width: 97px;}
ul#Navigation-Header li#GNI04 { left: 239px; position: absolute; top: 0; width: 65px;}
ul#Navigation-Header li#GNI05 { left: 446px; position: absolute; top: 0; width: 82px;}
ul#Navigation-Header li#GNI06 { left: 529px; position: absolute; top: 0; width: 82px;}
ul#Navigation-Header li#GN-Investors-LI { left: 612px; position: absolute; top: 0; width: 73px;}
ul#Navigation-Header li#GNI07 { left: 547px; position: absolute; top: 0; width: 138px;}
ul#Navigation-Header li#GNI08 { left: 686px; position: absolute; top: 0; width: 72px;}
ul#Navigation-Header li#GNI01 a:hover#GNI01L { background: transparent url(../../../Images/Design/Screen/Navigation-Header-20150101.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Header-20150101.png*/ 207px -26px no-repeat;}
ul#Navigation-Header li#GNI02 a:hover#GNI02L { background: transparent url(../../../Images/Design/Screen/Navigation-Header-20150101.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Header-20150101.png*/ -276px -26px no-repeat;}
ul#Navigation-Header li#GNI03 a:hover#GNI03L { background: transparent url(../../../Images/Design/Screen/Navigation-Header-20150101.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Header-20150101.png*/ -348px -26px no-repeat;}
ul#Navigation-Header li#GNI04 a:hover#GNI04L { background: transparent url(../../../Images/Design/Screen/Navigation-Header-20150101.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Header-20150101.png*/ -239px -26px no-repeat;}
ul#Navigation-Header li#GNI05 a:hover#GNI05L { background: transparent url(../../../Images/Design/Screen/Navigation-Header-20150101.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Header-20150101.png*/ -446px -26px no-repeat;}
ul#Navigation-Header li#GNI06 a:hover#GNI06L { background: transparent url(../../../Images/Design/Screen/Navigation-Header-20150101.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Header-20150101.png*/ -529px -26px no-repeat;}
ul#Navigation-Header li#GN-Investors-LI a:hover#GN-Investors-A { background: transparent url(../../../Images/Design/Screen/Navigation-Header-20150101.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Header-20150101.png*/ -612px -26px no-repeat;}
ul#Navigation-Header li#GNI07 a:hover#GNI07L { background: transparent url(../../../Images/Design/Screen/Navigation-Header-20150101.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Header-20150101.png*/ -547px -26px no-repeat;}
ul#Navigation-Header li#GNI08 a:hover#GNI08L { background: transparent url(../../../Images/Design/Screen/Navigation-Header-20150101.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Header-20150101.png*/ -686px -26px no-repeat;}
#Navigation-Header li { cursor: default; margin: 0; padding: 0; position: relative; }
#Navigation-Header li a { color: #fff; margin: 0; text-decoration: none; }
#Navigation-Header li a:hover { color: #ecac00; margin: 0; }
#Navigation-Header li ul { background-color: #eee; display: none; margin: 0; padding: 10px 0 0 0; position: absolute; left: 10px; width: 214px; border-top: 1px solid #cc0000; }
#Navigation-Header li li { float: left; font-size: 12px; line-height: 14px; }
#Navigation-Header li li a { color: #000000; display: block; margin-bottom: 7px; padding: 0 5px; width: 204px; }
#Navigation-Header li li span { color: #d71921; display: block; margin-bottom: 7px; padding: 0 5px; width: 204px; }
#Navigation-Header li li a:hover { color: #d71921; margin-bottom: 7px; padding: 0 5px; width: 204px; }

#Navigation-Header li:hover ul, #Navigation-Header li.over ul { display: block;  z-index:3;}

/*Introduction*/
#Introduction { background: #ffffff url(../../../Images/Design/Screen/Gradient-Horizontal-Black-to-White.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Gradient-Horizontal-Black-to-White.png*/ repeat-x top center; float: left; text-align: center; width: 100%; }
#Introduction .Layer { margin: 0 auto; width: 947px; }
/*Billboard*/
.Billboard {float:left; height:550px;	width:947px}
#Billboard-Home {float:left; height:550px; width:947px}
.Billboard h1, .Billboard h2, .Billboard p, .Billboard img { display: none;}
/*Special*/
#Special { clear: left; float: left; text-align: center; width: 100%; }
#Special .Layer#SL01 { margin: 0 auto; width: 947px; }
#Special .Layer#SL02 { float: left; margin-top: -40px; width: 947px; }
#Special .Layer#SL03 { background: url(../../../Images/Design/Screen/Red-Bar.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Red-Bar.png*/ no-repeat center top; height: 40px; margin: 0 44px; position: relative; text-align: left; top: -232px; width: 859px; }
#Stock {  }
/*Breadcrumb*/
#Breadcrumb { color: #ffffff; font-size: 9px; padding: 5px 22px; }
#Breadcrumb a { color: #ffffff; margin: 0 3px; text-decoration: none; }
/*Main*/
#Main { background: #ffffff; clear: left; float: left; position: relative; text-align: center; width: 100%; }
#Main .Layer#ML01 { margin: 0 auto; width: 947px; }
#Main .Layer#ML02 { background: url(../../../Images/Design/Screen/Outer-Shadow-Middle.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Outer-Shadow-Middle.png*/ repeat-y center top; float: left; margin: 0; padding: 0; width: 947px; }
#Main .Layer#ML03 { background: url(../../../Images/Design/Screen/Outer-Shadow-Bottom.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Outer-Shadow-Bottom.png*/ no-repeat center bottom; float: left; padding: 0 44px 75px 44px; width: 859px; }
#Main .Layer#ML04 { float: left; margin-bottom: -263px; position: relative; top: -243px; }
#Main .Layer#ML05 { float: left; }
#Main .Layer#ML06 { float: left; padding: 0 0 53px 0; }
/*Primary Column*/
.Column#Primary { float: left; text-align: left; }
.Content#Feature { padding: 10px 22px; }
#Feature h1, #Feature h2, #Feature h3, #Feature h4, #Feature h5, #Feature h6 { color: #3e3e3e; margin-bottom: 10px; }
#Feature h1 { border-bottom: 1px solid #d81920; font-size: 18px; padding-bottom: 10px; }
#Feature h2, .Interactive h2, #Featured-Projects h2, #Project-Finder h2 { border-bottom: 1px solid #cccccc; font-size: 17px; padding-bottom: 5px; }
.Interactive h2 { margin-bottom: 10px; }
#Feature h3 { font-size: 16px; padding-bottom: 0; }
#Feature h4 { font-size: 15px; padding-bottom: 0; }
#Feature h5 { font-size: 14px; padding-bottom: 0; }
#Feature h6 { font-size: 13px; padding-bottom: 0; }
#Feature p { font-size: 12px; line-height: 20px; }
#Feature a { color: #d71921; }
#Feature a:hover { color: #828a8f; }
#Feature li { margin-bottom: 5px; }
#Feature li p { margin-bottom: 20px; }
#Feature .Art { background: #c3cbd0; border: 1px solid #58595b; float: right; margin: 0 0 20px 20px; padding: 0; width: 230px; }
#Feature .Art .Photo { float: left; margin: 0; padding: 15px; position: relative; }
#Feature .Art .Landscape { background: url(../../../Images/Design/Screen/Art-Thumbnail.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Art-Thumbnail.png*/ left top no-repeat; height:200px; width: 200px; }
#Feature .Art .Square { background: url(../../../Images/Design/Screen/Art-Canvas-Square-Thumbnail.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Art-Canvas-Square-Thumbnail.png*/ left top no-repeat; height:200px; width: 200px; }
#Feature .Art .Landscape-New { background: url(../../../Images/Design/Screen/Art-Canvas-Landscape-Thumbnail.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Art-Canvas-Landscape-Thumbnail.png*/ left top no-repeat; height:150px; width: 200px; }
#Feature .Art .Portrait { background: url(../../../Images/Design/Screen/Art-Canvas-Portrait-Thumbnail.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Art-Canvas-Portrait-Thumbnail.png*/ left top no-repeat; height:250px; width: 200px; }
#Feature .Art .Stack { background: url(Unknown_83_filename)/*tpa=http://www.kbr.com/Images/Design/Screen/Art-Canvas-Stack-Thumbnail.png*/ left top no-repeat; height:292px; width: 200px; }
#Feature .Art .Small { background: url(Unknown_83_filename)/*tpa=http://www.kbr.com/Images/Design/Screen/Art-Canvas-Small-Thumbnail.png*/ left top no-repeat; height:108px; width: 200px; }
#Feature .Art .Photo a.Enlarge-Photo { background: url(../../../Images/Design/Screen/Enlarge-Photo.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Enlarge-Photo.png*/ no-repeat; float: right; height: 23px; position: absolute; right: 10px; text-indent: -9999px; top: 10px; width: 24px; }
#Feature .Art .Photo a.Hyperlink { background: url(../../../Images/Design/Screen/Hyperlink.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Hyperlink.png*/ no-repeat; float: right; height: 23px; position: absolute; right: 10px; text-indent: -9999px; top: 10px; width: 24px; }
#Feature .Art p.Art-Caption { font-size: 11px; line-height: 12px; margin: 0; padding: 0 15px 10px 15px; }

/* !table styles */
#Feature table {border:none;float:left;margin:0 0 40px;padding:0;text-align:left;}
#Feature caption {background:#828a8f;color:#fff;font-weight:700;padding:2px 9px;text-align:left;}
#Feature tr {margin:0;padding:0;}
#Feature th, #Feature td {padding-right:9px;padding-left:9px;text-align:left;}
#Feature th {padding-top:10px;padding-bottom:2px;}
#Feature td {border-top:1px solid #ccc;padding-top:2px;padding-bottom:2px;}

#Feature table.eventsTable {border:none;float:left;display:none;font-size:12px;line-height:18px;margin:0 0 40px;padding:0;text-align:left;width:570px;}
#Feature table.eventsTable caption {background-color:transparent;color:#111;font-size:17px;padding:2px 0 15px}
#Feature table.eventsTable tbody tr:hover {background-color:#eee}
#Feature table.eventsTable tbody {}

#Feature table.eventsTable tr {margin:0;padding:0;}
#Feature table.eventsTable td {border-top:none; border-bottom:1px solid #ccc;width:355px;}

#Feature table.eventsTable tr > th {background-color:#eee;border-bottom:1px solid #6c6c6c;margin:0;padding:10px 0 2px}
#Feature table.eventsTable tr > th.first {padding-left:15px}
#Feature table.eventsTable tr > td {background-color:transparent;height:62px;margin:0;padding:10px 0 0}

#Feature table.eventsTable td.dates {background:transparent url(../../../Images/Design/Screen/calendar.jpg)/*tpa=http://www.kbr.com/Images/Design/Screen/calendar.jpg*/ no-repeat 14% 13px; color:#333; font-size:14px; font-weight:bold; padding:0 30px 0 0; text-align:center; width:60px}
#Feature table.eventsTable td.location {padding-right:25px;width:145px}
#Feature table.eventsTable .calendar {}
#Feature table.eventsTable .eventInfo {margin-bottom:5px;}

#Feature table.eventsTable span {color:#fff; display:block; font-size:10px; font-weight:bold; margin-bottom:3px; padding-top:5px; text-transform: uppercase}

.Dateline {font-size:12px;line-height:16px;padding-bottom:10px;}
.Headline .Dateline {font-size: 11px;padding-bottom:0;}

#Locations { display: block; float: left; }
#Locations .Country { display: block; float: left; }
#Locations .Country h2 { background: #828a8f; color: #ffffff; font-size: 16px; padding: 1px 0 1px 5px; }
#Locations .Office { float: left; height: 190px; margin: 10px; }
#Locations .Office h3 { border-bottom: 1px solid #cccccc; font-size: 14px; }
#Locations address { font-style: normal; }

/* global settings needed for thickbox */
*{ padding: 0; margin: 0;}

/* thickbox specific link and font settings */
#TB_window { font: 12px Arial, Helvetica, sans-serif; color: #333; }
#TB_secondLine { font: 10px Arial, Helvetica, sans-serif; color:#666; }
#TB_window a:link {color: #666;}
#TB_window a:visited {color: #666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666;}
#TB_window a:focus{color: #666;}

/* thickbox settings */
#TB_overlay { position: fixed; z-index:100; top: 0px; left: 0px; height:100%; width:100%; }
.TB_overlayBG { background-color:#000; filter:alpha(opacity=75); -moz-opacity: 0.75; opacity: 0.75; }
* html #TB_overlay { /* ie6 hack */ position: absolute; height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); }
#TB_window { position: fixed; background: #ffffff; z-index: 102; color:#000000; display:none; border: 4px solid #525252; text-align:left; top:50%; left:50%; }
* html #TB_window { /* ie6 hack */ position: absolute; margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); }
#TB_window img#TB_Image { display:block; margin: 15px 0 0 15px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-top: 1px solid #666; border-left: 1px solid #666; }
#TB_caption { height:25px; padding:7px 30px 10px 25px; float:left; }
#TB_closeWindow { height:25px; padding:11px 25px 10px 0; float:right; }
#TB_closeAjaxWindow { padding:7px 10px 5px 0; margin-bottom:1px; text-align:right; float:right; }
#TB_ajaxWindowTitle { float:left; padding:7px 0 5px 10px; margin-bottom:1px; }
#TB_title { background-color:#e8e8e8; height:27px; }
#TB_ajaxContent { clear:both; padding:2px 15px 15px 15px; overflow:auto; text-align:left; line-height:1.4em; }
#TB_ajaxContent.TB_modal { padding:15px; }
#TB_ajaxContent p { padding:5px 0px 5px 0px; }
#TB_load { position: fixed; display:none; height:13px; width:208px; z-index:103; top: 50%; left: 50%; margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */ }
* html #TB_load { /* ie6 hack */ position: absolute; margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); }
#TB_HideSelect { z-index:99; position:fixed; top: 0; left: 0; background-color:#fff; border:none; filter:alpha(opacity=0); -moz-opacity: 0; opacity: 0; height:100%; width:100%; }
* html #TB_HideSelect { /* ie6 hack */ position: absolute; height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); }
#TB_iframeContent { clear:both; border:none; margin-bottom:-1px; margin-top:1px; _margin-bottom:1px; }

.Interactive { margin: 10px 22px; }
.Content#Extra { background: url(../../../Images/Design/Screen/Extra-Background.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Extra-Background.gif*/ repeat-y; float: left; }
#Extra .Layer#CEL01 { background: url(../../../Images/Design/Screen/Extra-Divider.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Extra-Divider.gif*/ repeat-y; float: left; }
#Extra .Layer#CEL02 { background: url(../../../Images/Design/Screen/Extra-Border.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Extra-Border.gif*/ no-repeat top; float: left; }
#Extra .Layer#CEL03 { background: url(../../../Images/Design/Screen/Extra-Border.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Extra-Border.gif*/ no-repeat bottom; float: left; }
.Extra .Headline { margin: 10px 0 13px 0; }
/*Secondary Column*/
.Column#Secondary { float: right; text-align: left; }
.Navigation#Secondary-Navigation { background: url(../../../Images/Design/Screen/Navigation-Secondary.png)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary.png*/ no-repeat bottom left; float: left; margin: 0 0 2px 0; padding-top: 10px; padding-bottom: 64px; }
.Navigation#Secondary-Navigation ul, .Navigation#Secondary-Navigation li { margin: 0; padding: 0; }
.Navigation#Secondary-Navigation h2 { color: #d71921; float: left; font-size: 13px; margin: 0; padding: 5px 10px; }
.Navigation#Secondary-Navigation h2.Linked { color: #d71921; float: left; font-size: 13px; margin: 0; padding: 0; }
.Navigation#Secondary-Navigation h2.Linked a { color: #d71921; float: left; padding: 5px 10px; text-decoration: none; }
.Navigation#Secondary-Navigation h2.Linked a:hover { color: #d71921; }
.Navigation#Secondary-Navigation h2 span { color: #d71921; float: left; padding: 5px 10px; text-decoration: none; }
.Navigation#Secondary-Navigation ul { background: url(../../../Images/Design/Screen/Navigation-Secondary-Ul.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Ul.gif*/ no-repeat bottom left; float: left; font-size: 11px; list-style: none; padding-bottom: 1px; }
.Navigation#Secondary-Navigation ul ul { background: none; float: left; padding-bottom: 0; }
.Navigation#Secondary-Navigation ul ul.sidebarSubnav { display:none; }
.Navigation#Secondary-Navigation ul li { float: left; }
.Navigation#Secondary-Navigation li a { background: url(../../../Images/Design/Screen/Navigation-Secondary-Li-Active.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Li-Active.gif*/ no-repeat top left; color: #828a8f; float: left; font-weight: bold; padding: 3px 3px 3px 33px; text-decoration: none; }
.Navigation#Secondary-Navigation li span { background: url(../../../Images/Design/Screen/Navigation-Secondary-Li-Active.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Li-Active.gif*/ no-repeat top left; color: #d71921; float: left; font-weight: bold; padding: 3px 3px 3px 33px; text-decoration: none; }
.Navigation#Secondary-Navigation li span.Inactive { background: url(../../../Images/Design/Screen/Navigation-Secondary-Li-Active.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Li-Active.gif*/ no-repeat top left; color: #828a8f; float: left; font-weight: bold; padding: 3px 3px 3px 33px; text-decoration: none; }
.Navigation#Secondary-Navigation li a:hover { background: url(../../../Images/Design/Screen/Navigation-Secondary-Li-Hover.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Li-Hover.gif*/ no-repeat top left; color: #d71921; }
.Navigation#Secondary-Navigation li li a { background: url(../../../Images/Design/Screen/Navigation-Secondary-Li-Li-Active.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Li-Li-Active.gif*/ no-repeat top left; float: left; padding-left: 43px; }
.Navigation#Secondary-Navigation li li span { background: url(../../../Images/Design/Screen/Navigation-Secondary-Li-Li-Active.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Li-Li-Active.gif*/ no-repeat top left; float: left; padding-left: 43px; }
.Navigation#Secondary-Navigation li li a:hover { background: url(../../../Images/Design/Screen/Navigation-Secondary-Li-Li-Hover.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Li-Li-Hover.gif*/ no-repeat top left; color: #d71921; }
.Navigation#Secondary-Navigation li li li a { background: url(../../../Images/Design/Screen/Navigation-Secondary-Li-Li-Li-Active.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Li-Li-Li-Active.gif*/ no-repeat top left; float: left; font-weight: normal; padding-left: 53px; }
.Navigation#Secondary-Navigation li li li span { background: url(../../../Images/Design/Screen/Navigation-Secondary-Li-Li-Li-Active.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Li-Li-Li-Active.gif*/ no-repeat top left; float: left; font-weight: normal; padding-left: 53px; }
.Navigation#Secondary-Navigation li li li a:hover { background: url(../../../Images/Design/Screen/Navigation-Secondary-Li-Li-Li-Hover.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Li-Li-Li-Hover.gif*/ no-repeat top left; color: #d71921; }
.Navigation#Secondary-Navigation li li li li a { background: url(../../../Images/Design/Screen/Navigation-Secondary-Li-Li-Li-Li-Active.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Li-Li-Li-Li-Active.gif*/ no-repeat top left; float: left; font-weight: normal; padding-left: 63px; }
.Navigation#Secondary-Navigation li li li li span { background: url(../../../Images/Design/Screen/Navigation-Secondary-Li-Li-Li-Li-Active.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Li-Li-Li-Li-Active.gif*/ no-repeat top left; float: left; font-weight: normal; padding-left: 63px; }
.Navigation#Secondary-Navigation li li li li a:hover { background: url(../../../Images/Design/Screen/Navigation-Secondary-Li-Li-Li-Li-Hover.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Navigation-Secondary-Li-Li-Li-Li-Hover.gif*/ no-repeat top left; color: #d71921; }
.Navigation#Secondary-Navigation h2 a:link, .Navigation#Secondary-Navigation h2 a:visited {color:#d71921; text-decoration:none;}
.Navigation#Secondary-Navigation h2 a:hover {text-decoration:underline}
.Navigation#Secondary-Navigation h2 a:active {}

#Secondary .Advertisement { background: #fff; float: left; height: 91px; margin: 0; }
#Secondary .Advertisement h2, #Secondary .Advertisement a { float: left; height: 91px; margin: 0; padding: 0; }
#Secondary .Advertisement h2 a { overflow: hidden; position: absolute; text-decoration: none; text-indent: -9999px; }

.Related { background: url(../../../Images/Design/Screen/Related-Background.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Related-Background.gif*/ no-repeat bottom left; float: left; margin: 0; position: relative; }
.Related h2 { color: #d71921; font-size: 13px; margin: 0; padding: 5px 13px; }
.Related p { float: left; font-size: 11px; margin: 0; padding: 0 18px 10px 13px; }
.Related a { color: #d71921; }
.Related a:hover { color: #666666; }

.Related#Headlines { float: left; margin: 0; padding-top: 10px; }
.Related ul, .Related li, .Related li h3 { list-style: none; margin: 0; padding: 0; }
.Related .Headline { float: left; font-size: 10px; padding-bottom: 13px; padding-left: 14px; }
.Related .Headline h3, .Related .Headline p { float: left; line-height: 13px; margin: 0; padding: 0; }
.Related .Headline h3 { background: url(../../../Images/Design/Screen/Related-Bullet.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Related-Bullet.gif*/ no-repeat; font-size: 10px; padding: 0 0 0 9px; }
.Related .Headline p { font-size: 9px; padding: 0 0 0 9px; }
.Related ul { float: left; padding-left: 14px; }
.Related li { background: url(../../../Images/Design/Screen/Related-Bullet.gif)/*tpa=http://www.kbr.com/Images/Design/Screen/Related-Bullet.gif*/ no-repeat; float: left; font-size: 10px; margin: 0; padding: 0 0 13px 9px; }
.Related li h3, .Related li p { float: left; line-height: 13px; }
.Related li h3 { font-size: 10px; }
.Related li p { font-size: 9px; margin: 0; padding: 0; }
.Related li h3 a { color: #d71921; float: left; }
.Related li h3 a:hover { color: #666666; }
.Related address  { margin: 0; padding: 0 0 0 5px; }
.Related address h3 { color: #000000; font-size: 12px; margin: 0; padding: 5px 13px 1px 13px; }

/* Footer Section */
#Footer { background: #333333; float: left; position: relative; text-align: center; width: 100%; }
#Footer .Layer#FL01 { margin: 0 auto; padding: 0; width: 947px; }
#Footer .Layer#FL02 { padding-left: 27px; text-align: left; width: 920px; }
#Navigation-Footer { float: left; padding: 20px 17px 70px 17px; width: 859px; }
.FooterLinks { float: left; width: 280px; }
.FooterLinks h2 { color: #ffffff; font-size: 12px; margin: 0 0 5px 0; padding: 0; }
.FooterLinks a { color: #999999; text-decoration: none; }
.FooterLinks ul { list-style: none; }
.FooterLinks ul, .FooterLinks li { margin: 0; padding: 0; }
.FooterLinks li { font-size: 10px; }
.Footer#Legal { background: url(../../../Images/Design/Screen/KBR-Logo-White-on-Dark-Grey.png)/*tpa=http://www.kbr.com/Images/Design/Screen/KBR-Logo-White-on-Dark-Grey.png*/ no-repeat 753px 14px; float: left; border-top: 1px solid #4f5153; padding-bottom: 20px; margin-top: 20px; width: 859px; }
ul.Navigation#LegalLinks { float: left; list-style: none; width: 859px; }
ul.Navigation#LegalLinks, ul.Navigation#LegalLinks li { margin: 0; padding: 0; }
ul.Navigation#LegalLinks li { float: left; font-size: 11px; padding-right: 25px; }
ul.Navigation#LegalLinks a { color: #ffffff; text-decoration: none; }
p#Copyright { color: #ffffff; font-size: 10px; float: left; width: 859px; }