#topNav{display: table;font-size: 9pt; line-height: 11pt; width: 970px; margin: 0px auto;}

#topNav > div {display: table-cell;margin: 0px;padding: 0px;border: 0px;*float:left;}
#topNav > div > a{margin: 1px;text-decoration: none;color: #ffffff;text-transform: uppercase;display: block;font-size: 9pt; font-weight: 600;height: 33px;line-height: 33px;cursor: default;padding: 0px 20px; text-align: center;}
#topNav > div > a > strong{padding: 0px 2px;}
#topNav > div:hover > a{margin: 0px;background: #2b292a; border-top-left-radius: 4px;border-top-right-radius: 4px;position: relative;z-index: 101;cursor: default;border: 1px solid #ffffff; border-bottom: 2px solid #2b292a; box-shadow: 0px 2px 0 #2b292a;}
#topNav > div:hover > a:before,#topNav > div:hover > a:after { border: 1px solid #ffffff;position: absolute;bottom: -1px;width: 4px;height: 4px;content: " ";}
#topNav > div:hover > a:before  {left: -5px;border-bottom-right-radius: 4px;border-width: 0px 1px 1px 0px; box-shadow: 2px 2px 0 #2b292a;}
#topNav > div:hover > a:after {right: -5px;border-bottom-left-radius: 4px;border-width: 0px 0px 1px 1px;box-shadow: -2px 2px 0 #2b292a;}
#topNav > div.noSub:hover > a:before, #topNav > div.noSub:hover > a:after {border: 0px !important; box-shadow: none !important;}
#topNav > div.noSub > a{background: transparent !important; border: 0px !important; margin: -1px; border-radius: 0px; box-shadow: 0px 0px 0px 0px #000 !important; cursor: pointer !important;*padding-top:3px;}
#topNav > div.noSub > a:hover {text-decoration: underline;}
#topNav  .DropDown{position: absolute;left: 50%;top: 90px;display: none;background: #2b292a;border: 1px solid #ffffff;border-radius: 5px;box-shadow: 0px 0px 2px #000;padding: 0px 0px 0px 0px; }
#topNav > div:hover .DropDown{display: table; *display: block; width: 970px; margin-left: -495px;z-index: 100; padding: 10px;}
#topNav .DropDown > div{display: table; width: 100%; *display: block; *float:left;}
#topNav .DropDown > div > a{border-radius: 5px; color: #ffffff; text-decoration: none; display: table-cell;text-transform:uppercase; font-size: 8pt; height: 100%; line-height: 11pt; position: relative; color: #ffffff; text-align: center; padding: 10px 0px;*float:left;*width:93px;*height: 100px;*padding: 10px 2px;*letter-spacing: -1px; *font-size: 7pt;}
#topNav .DropDown > div  > a > img{display: block; margin: 0px auto 0px auto;}
#topNav .DropDown > div > a:hover{ background: #111011; }
#topNav .DropDown > div > a.activeTab{ cursor: default;background: #ffffff; color: #252525; }
#topNav .DropDown > .MenuContent{display: none;background: #ffffff; border-radius: 5px; position: relative; top: -6px; width: 970px;}
#topNav .DropDown > .activeContent{display: block; margin-bottom: -6px; }

#topNav .divider{background: #ffffff; width: 1px !important;}
#topNav .DropDown > div.BusinessGroups > a:hover{ background: none; border-radius: 0px; }
#topNav .DropDown > div.BusinessGroups > a#RF{width: 270px;*width: 186px;*height: 20px;}
#topNav .DropDown > div.BusinessGroups > a#GCS{width: 290px;*width: 279px;*height: 20px; }
#topNav .DropDown > div.BusinessGroups > a#INS{width: 415px;*height: 20px;}

#topNav .MenuContentWrapper{padding: 10px; clear:both;}

.MenuLinksList {clear:both; }
.MenuLinksList > div{display: table-cell; margin-left: 10px; vertical-align: top;*float:left;}
.MenuLinksList > div > h4{font-size: 12pt; color: #454545 !important; font-weight: normal !important; white-space: nowrap; padding: 0px 0px 3px 0px; margin: 5px !important; border-bottom: 1px solid}
.MenuLinksList > div:first-child{display: table-cell; margin-left: 0px;}
.MenuLinksList > div > span{font-size: 9pt; display: block; padding: 0px; border-bottom: 1px dashed #d1d1d1; margin: 0px 5px; position:relative;}
.MenuLinksList > div > span:first-child{ border-top: 1px dashed #d1d1d1;}
.MenuLinksList > div  > span > a {display: block; padding: 4px 15px; text-decoration: none; background:url('ha-right.gif')/*tpa=http://harris.com/wrapper/2012/css/topNav/ha-right.gif*/ no-repeat left 6px;}
.MenuLinksList > div  > span > a:hover{color: #454545;}

#topNav  .MenuLinksList .ToolTip  span > div {display: none;}
#topNav  .MenuLinksList .ToolTip span:hover > div{display: block; position: absolute; border: 1px solid #454545; background: #ffffff; margin-left: 20px; padding: 5px 14px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; box-shadow: 0px 0px 6px rgba(0, 0, 0, .7); -webkit-box-shadow: -0px 0px 6px rgba(0, 0, 0, .7); -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, .7); z-index: 1000; top: -15px; left: 90%; min-width:550px;zoom: 1;*display: none;}
#topNav  .MenuLinksList .ToolTip span:hover > div:before{content: ' '; display: block; position: absolute; left: -8px; top: 15px; width: 14px; height: 14px; border-color: #454545; border-width: 1px; border-style: none none solid solid; background-color: #fff; box-shadow: -2px 2px 3.5px rgba(0, 0, 0, .5); -webkit-box-shadow: -2px 2px 3.5px rgba(0, 0, 0, .5); -moz-box-shadow: -2px 2px 3.5px rgba(0, 0, 0, .5); -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000');-moz-transform: rotate(45deg);  /* FF3.5+ */ -o-transform: rotate(45deg);  /* Opera 10.5 */ -webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */ -ms-transform: rotate(45deg);  /* IE9 */ transform: rotate(45deg); filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */ -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */zoom: 1; z-index: 101;}
@media \0screen {#topNav  .MenuLinksList .ToolTip span:hover > div:before{border: 0px;background: transparent url('hoverArrow.png')/*tpa=http://harris.com/wrapper/2012/css/topNav/hoverArrow.png*/ no-repeat left top;height: 23px;width: 11px;left: -11px;top: 13px;}}
#topNav  .MenuLinksList .ToolTip span:hover > div.bullet a:last-child{border: 0px;}
#topNav  .MenuLinksList .W500  span > div{min-width:500px !important;}
#topNav  .MenuLinksList .W450  span > div{min-width:450px !important;}
#topNav  .MenuLinksList .W400  span > div{min-width:400px !important;}
#topNav  .MenuLinksList .W350  span > div{min-width:350px !important;}
#topNav  .MenuLinksList .W300  span > div{min-width:300px !important;}