a img { border: none; }

textarea { overflow: auto; }

.chicletsRow { overflow: auto; }

.chiclet { width: 239px; padding-top: 5px; padding-bottom: 5px; margin-right: 28px; display: none; }

.chicletImageWrapper {  float: left; margin-right: 10px; }

.chicletImage { position: absolute; top: -2px; left: -4px; width: 79px; height: 77px; overflow: hidden; /*z-index: 200;*/ visibility: hidden; }

.chicletContentWrapper { float: left; width: 150px; }

.chicletTitle { font-weight: bold; font-size: 14px; color: #000; font-family: Arial, Sans-Serif; }

.chicletText { font-size: 12px; color: #666666; font-family: Arial, Sans-Serif; }

.chicletText a { color: #24933C; text-decoration: none; }

.chicletText a:hover { color: #24933C; text-decoration: underline; }

.chicletImage .modalPlayBtn img { display: none; }

.chiclet2Column { min-width: 200px; }
.chiclet2Column .chiclet { width: 200px; }
.chiclet2Column .chicletContentWrapper { width: 110px; }
.chiclet2Column .chicletTitle { width: 125px; }
.chiclet2Column .chicletText { width: 125px; }


.chiclet2ColumnFullWidth { min-width: 340px; }
.chiclet2ColumnFullWidth .chicletItem { width: 340px; }
.chiclet2ColumnFullWidth .chiclet { width: 340px; }
.chiclet2ColumnFullWidth .chicletContentWrapper { width: 150px; }
.chiclet2ColumnFullWidth .chicletTitle { width: 250px; }
.chiclet2ColumnFullWidth .chicletText { width: 235px; }


.chiclet3Column { min-width: 230px; }
.chiclet3Column .chiclet { width: 230px; margin-right: 0px; }
.chiclet3Column .chicletContentWrapper { width: 140px; }

.ui-dialog-buttonpane button { font-size: 12px; }

.videoLink { padding-top: 10px; }

.pnlSocialMediaShareLinks { padding-top: 10px; color: rgb(128,128,128); }

.socialMediaShareLink { margin-right: 3px; }

.questions { font-size: 14px; }

.qa { padding-top: 10px; }

.qaAnswer { padding: 5px 0 0 0px; display: none; color: rgb(102, 102, 102); }

#pageContent .qaQuestionLink,#pageContent .qaQuestionLink:link, 
#pageContent .qaQuestionLink:visited { text-decoration: none; color: rgb(102, 102, 102); font-weight: bold;  }

.qaQuestionLink:hover { color: rgb(102, 102, 102); text-decoration: underline; }

li.qaImgClosed { cursor: pointer; list-style-image: url('Unknown_83_filename')/*tpa=https://q9u5x5a2.ssl.hwcdn.net/_layouts/AmerenPublishing/qaMaximized.png*/; }

li.qaImgOpen { cursor: pointer; list-style-image: url('Unknown_83_filename')/*tpa=https://q9u5x5a2.ssl.hwcdn.net/_layouts/AmerenPublishing/qaMinimized.png*/; }