.bannerImage
{
	margin-bottom:20px;
}

.floatingItem
{
	float:right;
	padding: 0px 0px 15px 30px;
}

.imageCaption
{
	font-size: 12px;
	line-height: 14px;
	font-family: Arial, Sans-Serif;
	color: #000000;
	margin: 10px 0px 0px 0px;
}

#pageContent 
{ 
	margin-left:0px;
	margin-top:0px;
}

.pageTitle
{
	margin-bottom: 0;
}