body, h1, h2, h3, h4, p, a{
	background:transparent none;
	border-style:none;
	color:#000;
}

#navtop, #footer{
	display:none;
}

#subfooter{
	text-align:left;
}

#container{
	border-style:none;
}

.accordion table, .accordion div{
	display:block;
	height:auto;
}