/* fonts */
@import url("../fonts/fastfonts.css")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/fastfonts.css*/;

/* border box to all */
*{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin: 0 padding: 0;}


/* clearfix */
.clear{clear:both; height:0; overflow:hidden}
.clearfix:after{content:""; display:table; clear:both}
.clear-gray{clear:both;height:0;overflow:hidden;border-bottom:1px solid #b2b2b2;}


/* some resets */
h1,h2,h3,p{margin-top:0;}
nav ul{list-style:none;margin:0;padding:0;}

.agency { font-family:AgencyFB,sans-serif; }
.museo { font-family: MuseoSans,Arial,Helvetica,sans-serif; }


/* Basic Typography */
html,button,input,select,textarea {
  color: #231f20;
  font-family: MuseoSans,Arial,Helvetica,sans-serif;
}

.mobile,
.mobile-inline{ display: none; }
.image-placeholder { visibility: hidden; }

html,body{
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#wrapper{
  min-height:100%;
  /*margin-bottom:-30px;*/
  background-color:#f6f7fb;
  padding-top:59px;
  position:relative;
  /*min-width:980px*/
  width: 100%;
}
#wrapper:after{
  content: "";
  display: block;
  height:30px;
}

body {
  font-size: 14px;
  line-height: 1.2;
}
a {
  color: #231f20;
  text-decoration:none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}

h1,h2,h3 {
  font-family: MuseoSans,Arial,Helvetica,sans-serif;
  font-weight: 700;
}


/* === BASE === */
html {
  background: #fff;
}
/* wrap */
.wrap {
  position: relative;
  margin: 0 70px 0 60px;
}
.wrap:after {
  content:""; display:table; clear:both
}

.vertical-aligner { 
    display: inline-block;   
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.right { float: right; }
#fancybox-close { top: 15px !important; right: 15px !important; background: url(../img/x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/x.png*/ no-repeat !important; width: 30px !important; height: 30px !important; background-size: 30px 30px !important; }

#exposeMask { max-width: 100% !important; }

/* more button */
.more,
.less{
  font-family:MuseoSans,sans-serif;
  color:#000;
  font-style:normal;
  font-size:12px;
  border-bottom:1px solid #000;
  font-weight:700;
}
.more:hover,
.less:hover{
  font-style:italic;
}

/* === HEADER === */
#header {
  background: url(../img/header.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/header.png*/ repeat-x;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position:fixed;
  width:100%;
  height:59px;
  top:0px;
  left:0px;
  z-index:999;
}
#header h1 {
  position:relative;
  z-index:2;
  margin: 0;
  margin-right:150px;
}
#header h1 a{
  display:inline-block;
  background: url(../img/header-logo.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/header-logo.png*/ no-repeat;
  width: 175px;
  height: 59px;
  text-indent: -999em;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body.home #header h1 > div {display:none;}
/*#header:hover {*/
#header.hover {
  background-position:0 100%;
}
/*#header:hover h1 a{*/
#header.hover h1 a{
  background-position:0 100%;
}

/* header nav */
#header-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  height:100%;
  background-color:transparent;
  pointer-events:none;
}

#header-nav > * {
  pointer-events:auto;
}

/*#header-nav .bg{*/
/*  position: fixed;*/
/*  top: 0;*/
/*  right: 0;*/
/*  width:100%;*/
/*  width:218px;*/
/*  height:0;*/
/*  z-index:2;*/
/*  background: url(../img/header.png) 0 100% repeat-x;*/
/*  -moz-transition: 0.2s;*/
/*  -webkit-transition: 0.2s;*/
/*  transition: 0.2s;*/
/*}*/
#header-nav .bg{
  position: fixed;
  top: 0;
  right: 0;
  width:0px;
  height:59px;
  z-index:2;
  background: black;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*#header-nav .bg .logo{*/
/*  position:absolute;*/
/*  left:0px;*/
/*  top:0;*/
/*  z-index:9;*/
/*  display:none;*/
/*  background: url(../img/header-logo.png) no-repeat;*/
/*  width: 175px;*/
/*  height: 0;*/
/*  -moz-transition: 0.2s;*/
/*  -webkit-transition: 0.2s;*/
/*  transition: 0.2s;*/
/*}*/
/*body.home #header-nav .bg .logo {display:none;}*/
#header-nav:hover .bg {
  width:244px;
}
/*#header-nav:hover .bg .logo {*/
/*  height:59px;*/
/*}*/

/* button */
#header-nav .menu-button {
  position: absolute;
  width: 120px;
  top: 0;
  right: 0;
  z-index:3;
  color: #a3b1c0;
  width:120px;
  height: 59px;
  font-size: 10px;
  line-height: 20px;
  padding:20px 0 0 32px;
  cursor: pointer;
  font-weight: 500;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#header-nav:hover .menu-button {
  width:244px;
  padding-left:17px;
}
#header-nav .menu-button b {
  display:inline-block;
  margin-right:17px;
  vertical-align:top;
  width:20px;
  height:20px;
  background: url(../img/nav-btn-3.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/nav-btn-3.png*/ no-repeat;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#header-nav:hover .menu-button b {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
}

/* header nav wrapers */
#header-nav .wrapper {
  background: white;
  height: 100%;
  width: 0;
  overflow: hidden;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#header-nav:hover .wrapper {
  width: 244px;
}
#header-nav .inner {
  width: 180px;
  background: #d6dbe3;
  padding-top: 59px;
  height: 100%;
}

/* header nav list */
#header-nav ul {
  padding-top: 25px;
}
#header-nav ul a {
  display: block;
  text-align: right;
  font-size: 14px;
  font-family:MuseoSans,sans-serif;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  padding: 0 13px;
}
#header-nav ul a:hover {
  text-decoration: underline;
}
#header-nav ul ul {
  padding: 0;
  display: none;
}
#header-nav ul ul a {
  color: #a3b1c0;
}

/* === FOOTER === */
#footer {
    position: fixed;
    z-index: 9;
    height: 40px;
    border-top: 1px solid #000;
    bottom: 0px;
    font-size: 11px;
    left: 0px;
    width: 100%;
    background-color:white;
}
#footer .copyright {
  float: right;
  margin-right: 10px;
  line-height: 15px;
  font-weight: 100;
  padding:5px 0px;
  margin-bottom:0px;
  text-align:right;
}
#footer .copyright a {
    text-decoration: underline;    
}
#footer nav {
  margin-left: 10px;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
}
#footer nav li {
  float: left;
  margin-right: 25px;
  line-height: 40px;
}
#footer nav a {
  text-decoration: none;
  text-transform: uppercase;
}
#footer nav a:hover {
  border-bottom:1px solid #231f20;
}


/* === ASIDE BRANDS === */
#aside-brands{
  position:fixed;
  right:20px;
  top:88px;
  z-index:1000;
}
#aside-brands.with-bg{
  right:0;
  top:60px;
  padding:45px 17px 20px;
  background:#fff;
}
.brands-nav{
  list-style:none;
  margin:0;
  padding:0;
}
.brands-nav li{
  padding:0 0 8px;
}
.brands-nav li > a{
  display:block;
  width:32px;
  height:32px;
  background:url(../img/aside-brands7.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/aside-brands7.png*/ no-repeat;
  text-indent:-999em;
  overflow:hidden;
  border-radius: 5px;
}

#menu-brands.brands-nav .current-menu-item a,
#menu-brands.brands-nav .open a,
#menu-brands.brands-nav li > a:hover{
  /*-webkit-box-shadow:0 0 9px rgba(163,177,182,.75);*/
  /*        box-shadow:0 0 9px rgba(163,177,182,.75);*/
}
#menu-brands.brands-nav li:last-child a,
#menu-brands.brands-nav li:last-child a:hover { box-shadow: none; }

.brands-nav .booking > a{
  background-position:0 0;
  border-radius: 5px 5px 5px 0;
}
.brands-nav .priceline > a{
  background-position:0 -43px;
}
.brands-nav .agoda > a{
  background-position:0 -86px;
}
.brands-nav .kayak > a{
  background-position:0 -129px;
}
.brands-nav .rentalcars > a{
  background-position:0 -172px;
}
.brands-nav .opentable > a{
  background-position:0 -215px;
}
.brands-nav .map > a{
  background-position:0 -256px;
}

.brands-nav .booking.current-menu-item > a,
.brands-nav .booking > a:hover{
  background-position:-33px 0;
}

.brands-nav .priceline.current-menu-item > a,
.brands-nav .priceline > a:hover{
  background-position:-33px -43px;
}

.brands-nav .agoda.current-menu-item > a,
.brands-nav .agoda > a:hover{
  background-position:-33px -86px;
}
.brands-nav .kayak.current-menu-item > a,
.brands-nav .kayak > a:hover{
  background-position:-33px -129px;
}
.brands-nav .rentalcars.current-menu-item > a,
.brands-nav .rentalcars > a:hover{
  background-position:-33px -172px;
}
.brands-nav .opentable.current-menu-item > a,
.brands-nav .opentable > a:hover{
  background-position:-33px -215px;
}
.brands-nav .map > a:hover{
  background-position:-33px -256px;
}

#brands-map-nav .brands-nav li > a{
  width:25px;
  height:25px;
  background:url(../img/aside-brands8.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/aside-brands8.png*/ no-repeat;
  background-color: transparent !important;
}

#brands-map-nav .brands-nav .booking > a{
  background-position:0 0;
}
#brands-map-nav .brands-nav .priceline > a{
  background-position:0 -25px;
}
#brands-map-nav .brands-nav .agoda > a{
  background-position:0 -51px;
  height: 23px;
}
#brands-map-nav .brands-nav .kayak > a{
  background-position:0 -76px;
  height: 24px;
}
#brands-map-nav .brands-nav .rentalcars > a{
  background-position:0 -101px;
  height: 24px;
}

#brands-map-nav .brands-nav .opentable > a{
  background-position:0 -126px;
  height: 24px;
}

#brands-map-nav .brands-nav .map > a{
  background-position:0 -151px;
}

#brands-map-nav .brands-nav:hover a { overflow: visible; }

 #brands-map-nav .brands-nav .booking.current-menu-item > a,
 #brands-map-nav .brands-nav .booking.open > a,
.desktop-display #brands-map-nav .brands-nav .booking > a:hover{
   background-position:-26px 0;
 }

 #brands-map-nav .brands-nav .priceline.current-menu-item > a,
 #brands-map-nav .brands-nav .priceline.open > a,
.desktop-display #brands-map-nav .brands-nav .priceline > a:hover{
   background-position:-26px -25px;
 }

 #brands-map-nav .brands-nav .agoda.current-menu-item > a,
 #brands-map-nav .brands-nav .agoda.open > a,
.desktop-display #brands-map-nav .brands-nav .agoda > a:hover{
   background-position:-25px -51px;
 }
 #brands-map-nav .brands-nav .kayak.current-menu-item > a,
 #brands-map-nav .brands-nav .kayak.open > a,
.desktop-display #brands-map-nav .brands-nav .kayak > a:hover{
   background-position:-25px -76px;
 }
 #brands-map-nav .brands-nav .rentalcars.current-menu-item > a,
 #brands-map-nav .brands-nav .rentalcars.open > a,
.desktop-display #brands-map-nav .brands-nav .rentalcars > a:hover{
   background-position:-25px -101px;
 }
 
 #brands-map-nav .brands-nav .opentable.current-menu-item > a,
 #brands-map-nav .brands-nav .opentable.open > a,
.desktop-display #brands-map-nav .brands-nav .opentable > a:hover{
   background-position:-25px -126px;
 }


.brands-nav .map{
  margin-top:15px;
}
.brands-nav .map a:hover{
  -webkit-box-shadow:none;
          box-shadow:none;
}



/* === MAIN === */
#main{
  position:relative;
  background:#f6f7fa;
  padding:0 0 15px;
}
#main .anchor {position:relative;z-index:-1;top:-30px;}


/* === PAGE === */
.page-top-body{
  position:relative;
  z-index:2;
}

.page-home .page-top .page-top-body { padding-bottom: 140px; }

.page-top-bg{
  position:absolute;
  left:0;
  top:0;
  color:#fff;
  font-size:380px;  
  line-height:305px;
  z-index:1;
  line-height:.9;
  text-align:left;
}
.page-top header{
  position:relative;
  z-index:2;
  text-align:left;
  font-family:MuseoSans,Arial,Helvetica,sans-serif;
  padding:75px 0 50px;
}
.page-top header h1{
  font-size:36px;
  font-weight:200;
  margin:0;
}
.page-top header h1 span{
  font-size:12px;
  font-weight:400;
}
.page-content{
  position:relative;
  z-index:3;
  font-family:Arial,sans-serif;
  font-size:14px;
  line-height:20px;
  color:#000;
  margin:0 0 25px;
}

.page-about .page-content{margin-bottom:0px;}

.page-content .wrap{
  padding:35px;
  background:#fff;
}

.page-content .page-copy p a{text-decoration:underline;}


/* === PAGE: tabs === */
.page-tabs{
  margin-top:50px;
  position:relative;
  z-index:3;
  margin:50px 0 25px;
  background:#fff;
}
.page-tabs-bo-ng{
  background:transparent;
}
.tabs-nav{
  position:absolute;
  top:-50px;
  left:0;
  z-index:9;
  width: 100%;
}
.tabs-nav li{
  float:left;
  text-align: center;
}

.tabs-nav .leadership-tab-link { padding: 0 15px; }
.tabs-nav li .tab-link { width: 100%; text-align: center; }

.tabs-nav #all-tab { width: 5%; }
.tabs-nav #corporate-tab { width: 15%; }
.tabs-nav #booking-tab { width: 16%; }
.tabs-nav #priceline-tab { width: 13%; }
.tabs-nav #agoda-tab { width: 14%; }
.tabs-nav #kayak-tab { width: 8%; }
.tabs-nav #rentalcars-tab { width: 17%; }
.tabs-nav #opentable-tab { width: 12%; }



/*.tabs-nav li:last-child {*/
/*    float: right;*/
/*}*/

/*.tabs-nav li:last-child a { */
/*    padding: 0 32px;   */
/*}*/

.tabs-nav a{
  display:block;
  /*padding:0 30px;*/
  line-height:50px;
  font-weight:700;
  color:#a3b1c0;
  text-transform: uppercase;
}
.tabs-nav a:hover{
  color:#000;
}
.tabs-nav a.selected{
  background:#fff;
  color:#000;
}
.tab{
  padding:60px 0px 30px;
}


/* page: HOME */

.page-home .wrap { text-align: center; }
.page-home .page-top .page-top-body p { position: absolute; left: 50%; margin-left: 25px; z-index: 3;}

.page-home .page-top-body .home-animation { position: absolute; opacity: 0;  text-align: center; width: 100%; height: 100%;   
    -moz-transition: 1.0s;
    -webkit-transition: 1.0s;
    transition: 1.0s;
    z-index: 1;
}

.p-wrapper { width: 100%; max-width: 413px; height: 100%; display: inline-block;  } 
.p-wrapper img { max-width: 46%; max-height: 413px; margin: 12% 0; }

.animation-speciall { position: relative; z-index:2; max-width: 413px; }

.page-home .page-top-body .home-animation.current-animation { opacity: 1;  visibility: visible;}

.page-home .page-top{
  padding:100px 0 0px;
  text-align:center;
  width: 980px;
  max-width: 100%;
  display: inline-block;
}

.home-page-top-bg{
    height: 100%;
    overflow: hidden;
    width: 100%;    
}
.home-page-top-bg img{
    height: 100%;
    padding: 59px 0px 40px;
}
.page-home .page-top p{
  font-size: 26px;
  line-height:30px;
  font-weight:100;
  text-align:right;
  margin:-150px 36px 0 0;
}

.page-home .page-top p span { display: block; }

.page-home .page-top .callout-link {
    display: inline-block;
    padding: 0 10px;
    color: #000101;
    font-size: 12px;
    font-weight: 700;
    margin-top: 1em;
    background:url(../img/btn-homepage.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/btn-homepage.png*/ repeat-x center -1px;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    line-height:24px;
    position: relative;
    z-index: 3;
}

.page-home .page-top .callout-link:hover {
    background-position: center bottom;
    color:#fff 
}

/* happening-now */
#happening-now{
  position:fixed;
  right:0;
  bottom:40px;
  width:145px;
  height:36px;
  overflow:hidden;
     -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
          transition: 0.4s;
  font-weight:700;
  color:#fff;
  z-index:2;
}
#happening-now a{
  color:#fff;
}
#happening-now h2{
  width:146px;
  height:36px;
  background:#000 url(../img/clock.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/clock.png*/ no-repeat;
  padding-left:35px;
  color: #fff;
  font-weight:700;
  font-size: 10px;
  line-height:36px;
  text-transform:uppercase;
  margin:0;
}

#happening-now.show-happening,
#happening-now:hover{
  z-index:9999;
  width:100%;
  height:192px;
  background:#050808;
}
#happening-now:hover h2{
  opacity:0.4;
}

#happening-now .happening-wrapper{width:100%;margin:0 auto;}

#happening-now .close{
  display:none;
  position:absolute;
  right:9px;
  top:9px;
  width:26px;
  height:25px;
  text-indent:-999em;
  overflow:hidden;
  background:url(../img/close.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/close.png*/ no-repeat;
}
#happening-now:hover .close{
  display:block;
}
#happening-now h3{
  font-size:12px;
  font-weight:700;
  text-transform:uppercase;
}
#happening-now section{
  margin-top:3px;
}
#happening-now article{margin-bottom:4px;}
#happening-now p{
  font-weight:100;
  font-style:normal;
  font-size:12px;
  line-height:15px;
  margin:0;
}

#happening-now time{
  display:block;
  text-align:right;
  font-size:10px;
}
#happening-now .news{
  float:left;
  width:20%;
  min-height: 120px;
  padding:0 20px;
  border-right:1px solid #929393;
}
#happening-now .news a{display:inline-block;}
#happening-now .social{
  float:left;
  width:60%;
}
#happening-now .social h3{
  margin-left:20px;
}
#happening-now .social article{
  float:left;
  width:30%;
  height: 100px;
  margin-left:20px;
  position:relative;
  padding-left:32px;
}
#happening-now .social img{
  position:absolute;
  left:0;
  top:2px;
  width:25px;
  height:25px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;  
}

#happening-now .social #tweets-slider{width:100%;height:100px;overflow:hidden;position:relative;}
#happening-now .social .slider-container{position:absolute;top:0;left:0;}
#happening-now .social .tweets-slide{height:100px;}

/* page: ABOUT */
.page-copy.about p { background: url("../img/privacy_bg.png")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/privacy_bg.png*/ no-repeat scroll -9999px -9999px rgba(0, 0, 0, 0); }

.page-about .page-top-body .about-logo {display:inline-block;}
.page-about .page-top-body .about-logo .animation {display:block; width: 176px; height: 175px;}
.page-about .page-top-body .about-logo .text {display:block;margin-top:6px; width: 176px; height: 34px;}
.page-about .page-top-body{
  padding:65px 0;
  text-align:center;
  height:445px;
  position: relative;
}
.page-about .page-top-body p{
  /*margin:-130px 0 0 600px;*/
  position: absolute;
  top: 153px;
  left: 50%;
  margin-left: 110px;
  font-weight:100;
  font-size:36px;
  text-align:left;
}
.page-about .page-top-bg{
  /*font-size:414px;*/
  
    font-size: 0px;
    text-indent: -1000px;
    background: url(../img/text-bg-about.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/text-bg-about.png*/ no-repeat;
    height: 317px;
    width: 553px;
    top: 100px;
    overflow: hidden;
}
.page-child .page-about .page-top-bg{
    top:18px;
    height:300px;
}
/* about-nav */
.about-nav article{
  position:relative;
  float:left;
  width:46%;
  margin:0 0 40px;
  padding:25px 20px 0 95px;
  background:#edeff2 url(../img/about-nav1.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/about-nav1.png*/ no-repeat;
}
.about-nav article:nth-child(2n){
  float:right;
  margin-right:15px;
}
.about-nav article .about-placeholder { float: left; height: 75px; width: 0;}  
.about-nav article p { margin-bottom: 0; padding-bottom: 25px;}

.about-nav .history{
    background-image: url(../img/about-nav2.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/about-nav2.png*/ ;
  /*background-position:0 -100px;*/
}
.about-nav .locations{
    background-image: url(../img/about-nav3.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/about-nav3.png*/ ;
  /*background-position:0 -200px;*/
}
.about-nav .contact{
    background-image: url(../img/about-nav4.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/about-nav4.png*/ ;
  /*background-position:0 -300px;*/
}
.about-nav article h2{
  font-size:14px;
  font-weight:900;
  margin:0 0 5px;
}
.about-nav p{
  font-size:12px;
  line-height:14px;
}

.about-nav a.more-link{
  position:absolute;
  right:-17px;
  bottom:-17px;
  display:inline-block;
  width:140px;
  height:26px;
  color:#fff;
  font-style:italic;
  font-weight:100;
  text-transform:uppercase;
  line-height:26px;
  padding-left:22px;
  background:url(../img/btn-map.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/btn-map.png*/ repeat-x;
     -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}

.about-nav strong{
  font-weight:900;
  font-style:normal;
}
.about-nav span{
  margin-left:3px;
}
.about-nav a.more-link:hover{
  color:#000;
  background-position:0 100%;
}


/* page: ABOUT Leadership */
.news-group{
  /*border-bottom:1px solid #b2b2b2;*/
  margin:0 0 35px;
  overflow:hidden;
}
.news-group h2{
  border-bottom:1px solid #b2b2b2;
  font-weight:100;
  font-size:26px;
  padding:0 15px 15px;
  margin:0;
  background: url("../img/privacy_bg.png")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/privacy_bg.png*/ no-repeat scroll -9999px -9999px rgba(0, 0, 0, 0); 
}
.news-col{
  float:right;
  width:49%;
}
.news-col:nth-child(2n){
  float:left;
}
.news-col article{
  position:relative;
  border-bottom:1px solid #e3e7ec;
  padding:15px 15px 30px 30px;
}
.news-col article:last-child{
  border:none;
}
.news-col header{
  font-family: MuseoSans, Arial, Helvetica, sans-serif;
  font-size:12px;
  line-height:18px;
  font-style:italic;
  font-weight:400;
}
.news-col header h3{
  color:#a3b1c0;
  font-size:14px;
  font-weight:500;
  font-style:normal;
  margin:0 0 3px;
}
.news-col header h3 b{
  color:#000;
}
.news-col header p{
  margin:0;
  font-size:14px;
}
.news-col .more-text{
  display:none;
}
.news-col .more,
.news-col .less{
  position:absolute;
  right:0px;
  bottom:15px;
}
.news-col .more-text{
  font-size:14px;
  line-height:20px;
  font-family:Arial,sans-serif;
  color:#000;
  padding:1em 0;
}


/*.news-col{*/
/*  float:left;*/
/*  width:475px;*/
/*  border-top:1px solid #e3e7ec;*/
/*}*/
/*.news-col:nth-child(2n){*/
/*  float:right;*/
/*}*/
/*.news-col article{*/
/*  position:relative;*/
/*  border-bottom:1px solid #e3e7ec;*/
/*  padding:15px 15px 15px 30px;*/
/*}*/
/*.news-col header{*/
/*  font-family:Gotham,sans-serif;*/
/*  font-size:12px;*/
/*  line-height:18px;*/
/*  font-style:italic;*/
/*  font-weight:400;*/
/*}*/
/*.news-col header h2{*/
/*  color:#a3b1c0;*/
/*  font-size:14px;*/
/*  font-weight:500;*/
/*  font-style:normal;*/
/*  margin:0 0 3px;*/
/*}*/
/*.news-col header p{*/
/*  margin:0;*/
/*}*/
/*.news-col .more-text{*/
/*  display:none;*/
/*}*/
/*.news-col .more,*/
/*.news-col .less{*/
/*  position:absolute;*/
/*  right:0px;*/
/*  bottom:15px;*/
/*}*/
/*.news-col .more-text{*/
/*  font-size:14px;*/
/*  line-height:20px;*/
/*  font-family:Arial,sans-serif;*/
/*  color:#000;*/
/*  padding:1em 0;*/
/*}*/


/* page: ABOUT History */

.history h2 {
    font-weight: 100;
    font-size: 26px;
    /*line-height:30px;*/
}
.timeline{
  position:relative;
  margin:40px 0 0;
  border-top:1px solid #e3e7ec;
  height:310px;
}
.timeline .year{position:absolute;left:0px;top:-8px;}
.timeline .date{
  left:0px;
  top:0px;
  cursor:pointer;
  overflow:hidden;
  padding:3px;
  float:left;
  position:relative;
}
.timeline .date .dot{
    background:#000;
    width:9px;
    height:9px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
.timeline .date-on{
  overflow:visible;
}
.timeline .date-1{
  left:20px;  
}
.timeline .date-2{
  left:100px;  
}
.timeline .date-3{
  left:280px;  
}
.timeline .date-4{
  left:500px;  
}
.timeline .date:hover{
  overflow:visible;
}
.timeline .date-pop{
  position:absolute;
  top:31px;
  left:-120px;
  white-space: nowrap;
  font-size:0px;
}
.timeline .date:after{
  content:'';
  position:absolute;
  left:-10px;
  top:15px;
  width:0;
  height:0;
  z-index:2;
  border-bottom:17px solid #000;
  border-left:17px solid transparent;
  border-right:17px solid transparent;
}
.timeline .date-body{
  /*float:left;*/
  position:relative;
  width:240px;
  height:280px;
  background:#000;
  color:#fff;
  padding:20px;
  font-size:12px;
  line-height:15px;
  display:inline-block;
  vertical-align:middle;
}
.timeline .date-body h2{
  font-family:AgencyFB,sans-serif;
  font-size:100px;
  line-height:100px;
  margin:10px 0 5px;
}
.timeline .date-body p{
  white-space:normal;  
}

.timeline .date-image{height:280px;background:#000;padding-right:18px;vertical-align:middle;display:inline-block;}

.timeline .date-image span{height:100%;vertical-align:middle;display:inline-block;}
.timeline .date-image img{vertical-align:middle;display:inline;}

/* page: ABOUT Contact */

.locs .clear3 { display: block; }
.locs .clear2 { display: none; }

article.loc{
  position:relative;
  float:left;
  width:33%;
  margin-bottom: 20px;
}

article.loc:last-child{
  margin-right:0;
}
article.loc h2{
  font-size:14px;
  line-height:18px;
  margin:0;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  font-weight:500;
}
article.loc p{
  float:left;
  width:325px;
  font-size:12px;
  line-height:18px;
  color:#000;
  font-weight:300;
  margin:0;
  font-style:normal!important;
}
article.loc em{
  font-weight: 500;
  font-style: normal;
  color:#a3b1c0;
}
article.loc a{
  font-style:italic;
  /*text-decoration:underline;*/
}
article.loc a:hover{
  text-decoration:underline;
}
article.loc a.visit{
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  font-size:12px;
  color:#000;
  border-bottom:1px solid #000;
  font-weight:500;
  font-style:normal;
  display:inline-block;
  line-height:15px;
  text-decoration:none;
}
article.loc a.visit:hover{
  font-style:italic;
  text-decoration:none;
}
.locs{
  overflow:hidden;
  margin-right:-50px;
}

.about-locations .wrap{
  padding:25px 35px 0;
}
.about-locations h2{
  border-top:1px solid #d8dde4;
  font-size:14px;
  line-height:18px;
  margin:0;
  padding:25px 0;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  font-weight:500;
  width: 100%;
  background: url("../img/privacy_bg.png")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/privacy_bg.png*/ no-repeat scroll -9999px -9999px rgba(0, 0, 0, 0); 
}
.about-locations h3{
  font-size:40px;
  font-weight:100;
  padding:35px 0 0 360px;
}
.about-locations .loc{
  margin-bottom:40px;
}
.about-locations .locs{
  overflow:visible;
}
.about-locations .map-box{
  width:340px;
  float:left;
  margin-left:-20px;
}
.map-box{
  position:relative;
  background: url("../img/about-map@2x.png")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/about-map@2x.png*/ no-repeat left top; 
  background-size: cover;
  -ms-behavior: url(backgroundsize.min.htc)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/css/backgroundsize.min.htc*/;
}
.map-box img { width: 100%; visibility: hidden; }

.map-box a{
  position:absolute;
  left:50%;
  top:50%;
  margin:-6px 0 0 -60px;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  font-size:14px;
  color:#fff;
  font-weight:400;
  display:inline-block;
  width:120px;
  height:26px;
  text-align:center;
  line-height:26px;
  background:url(../img/btn-map.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/btn-map.png*/ repeat-x;
     -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}
.map-box a:hover{
  background-position:0 100%;
  color:#000;
}
.about-brands .loc{
  margin-bottom:30px;
}

.about-brands .loc img {display: block; width: 180px; height: 40px; }

.about-brands h2{
  font-size:14px;
  line-height:18px;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  font-weight:500;
  margin:0 0 5px;
}
.about-brands .locs{
  margin-bottom:40px;
}


/* page: PRIVACY POLICY */
.page-privacy .page-top-bg {
    background: url(../img/privacy_bg.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/privacy_bg.png*/ no-repeat left 18px;
    height: 314px;
    width: 709px;
}

.page-privacy .page-top header { padding-bottom: 40px; }
.page-privacy .page-content { font-family: MuseoSans,​Arial,​Helvetica,​sans-serif; }
.page-privacy .page-content h2 { font-weight: 100; }
.page-privacy .page-content p { margin-bottom: 20px; line-height: 18px; min-width: 100%; background: url("../img/privacy_bg.png")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/privacy_bg.png*/ no-repeat scroll -9999px -9999px rgba(0, 0, 0, 0);}



/* page:  CAREERS  */
.page-careers .page-top-bg {
    background: url(../img/career_bg.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/career_bg.png*/ no-repeat left 18px;
    height: 293px;
    width: 735px;
}

.page-careers .page-top p { z-index: 2; position: relative; padding: 0 5px;}
.page-careers .career-links { list-style: none; padding-left: 0; z-index: 2; position: relative; margin: 0 70px 0 60px;}

.page-careers .career-links li { float: left; width: 33.33%; height: 200px; background: url('../img/career_btn_bg.png')/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/career_btn_bg.png*/ no-repeat left top; background-size: 100% 203%;  
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    
    
    margin-bottom: 2px;
    border-right: 2px solid transparent;
    
}
.page-careers .career-links li:hover { background-position: left bottom; }
.page-careers .career-links li:hover  .img-holder-inner { background-position: left bottom !important;  }

.page-careers .career-links li a { height: 100%; width: 100%; display: block; padding: 0 10%; text-align: center;}
.page-careers .career-links li a .c-logo{ vertical-align: middle;  display: inline-block;  max-width: 70%; max-height: 200px; position: relative; }
.page-careers .career-links li a .c-arrow { vertical-align: middle;  display: inline-block;  position: relative; max-width: 18px; margin-left: 5%; }
.page-careers .career-links li a .c-arrow img { visibility: hidden; display: block;  }
.page-careers .career-links li a .c-arrow .img-holder-inner { background: url('../img/c_arrow.png')/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/c_arrow.png*/ no-repeat left top; } 
.page-careers .career-links li a .c-logo img { max-width: 100%; max-height: 200px; visibility: hidden; display: block;}
.page-careers .career-links li a .img-holder { display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%;  }
.page-careers .career-links li a .img-holder .img-holder-inner { display: inline-block; vertical-align: middle; height: 50%; width: 100%; background-size: 100% auto !important; overflow: hidden;} 
.page-careers .career-links li a .img-holder .img-holder-inner img { width: 100%; visibility: visible; border: none; outline: none; }


/*.page-careers .career-links li.c-booking .img-holder-inner { background: url('../img/c_booking_btn.png') no-repeat left top; }*/
/*.page-careers .career-links li.c-priceline .img-holder-inner { background: url('../img/c_priceline_btn.png') no-repeat left top; }*/
/*.page-careers .career-links li.c-agoda .img-holder-inner { background: url('../img/c_agoda_btn.png') no-repeat left top; }*/
/*.page-careers .career-links li.c-kayak .img-holder-inner { background: url('../img/c_kayak_btn.png') no-repeat left top; }*/
/*.page-careers .career-links li.c-rentalcars .img-holder-inner { background: url('../img/c_rental_btn.png') no-repeat left top; }*/

 



/* page: MEDIA ROOM */
.page-media-room .page-top-bg{
    width: 454px;
    top:16px;
    left:16px;
    background: url(../img/text-bg-media.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/text-bg-media.png*/ no-repeat;
    height: 292px;
    text-indent: -2000px;
    overflow: hidden;
}
/*.page-media-room .tabs-nav a{padding:0px 28px;}*/
.page-media-room .tab-media { display:none; }
.page-media-room.page-press-release .tab-media { display: block; }

body.single .page-media-room .tab-media {display:block;}
.tab-media{
  padding:0;
}
.media{
  position:relative;
  padding:30px 20px 1px;
}
.media.active{
  background:#fff;
  margin:0 0 35px;
}

.search-form { float: right; position: relative; width: 280px; }
.search-form form { display: inline-block; width: 100%; display: block;}
.search-form fieldset { padding: 0; display: inline-block; border: none; width: 100%;}
.search-form #search  { width: 100%; padding: 0 10px 0 25px; line-height: 25px; background-color: #f6f7fa; border: none; display: block; height: 25px; outline: none;}
.search-form #search-submit { position: absolute; left: 0; top: 0; width: 25px; height: 25px;}

.page-media-search .wrap > header { padding-bottom: 30px; }
.page-media-search .page-tabs { margin-top: 0; }

#category-filter + div { overflow: visible !important; }

.media h2{
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  color:#000;
  font-size:14px;
  font-weight:500;
  text-indent:20px;
  text-transform:uppercase;
  line-height: 25px;
  margin:0;
  border-bottom:1px solid #000;
  padding:0 0 10px;
  background: url("../img/privacy_bg.png")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/privacy_bg.png*/ no-repeat scroll -9999px -9999px rgba(0, 0, 0, 0); 
}
.media .sort_by{
  position:absolute;
  right:30px;
  top:35px;
  font-size:10px;
  color:#a3b1c0;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  font-weight:500;
}
.media .sort_by:hover{
  color:#191b1e;
}
.media .articles{
  overflow:hidden;
}
.media .articles-col{
  float:left;
  width:49%;
}
.media .articles-col-2{
  width:49%;
  float:right;
}
.media article{
  position:relative;
  padding:25px 20px;
  border-bottom:1px solid #e3e7ec;
  overflow:hidden;
  color:#000;
  min-height: 109px;
}

.media > div > div:last-of-type .articles-col article:last-child,
.media > div > div:last-of-type .articles-col-2 article:last-child{ border: none; }


/*.media article:last-child{border:0;}*/
.media article .pic{
  float:left;
  margin-right:15px;
}
.media article .pic img { 
    width: 100%; 
    max-width: 200px;
}

.media article time{
  font-size:11px;
  color:#a3b1c0;
  font-weight:500;
  display:block;
  margin:0 0 10px;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
}
.media article h3{
  font-size:14px;
  line-height:18px;
  font-weight:500;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  margin:0;
}
.media article p{
  margin:0;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  font-size:12px;
  line-height:18px;
  font-style:italic;
  margin:0 0 2em;
}
.media article .more{
  position:absolute;
  right:20px;
  bottom:25px;
}

.media .nav{
  position:relative;
  text-align:center;
  border-top:1px solid #000;
  padding:25px 0 20px;
}

.page-template-templatest_media_room-php .media .nav{
  /*position:absolute;*/
  /*border-top:none;*/
  /*top:17px;*/
  /*right:20px;*/
  padding:15px 0 10px;
  text-align: center;
}
.media .nav a[rel=prev],
.media .nav a[rel=next],
.media .nav a.prev,
.media .nav a.next{
    font-family:MuseoSans, Arial, Helvetica,sans-serif;
  font-size:14px;
  color:#fff;
  font-weight:900;
  display:inline-block;
  padding:0 20px;
  height:26px;
  text-align:center;
  line-height:26px;
  background:url(../img/btn-map.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/btn-map.png*/ repeat-x;
     -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
          transition: 0.4s;
  
}

.media .nav a.next span{  
  font-weight: 100;
  font-style: italic; 
}

.media .nav a.next b  {
    font-weight: 100;
}

.media .nav a[rel=prev],
.media .nav a.prev{
  background-position:0 0;
}
.media .nav a[rel=prev]:hover,
.media .nav a.prev:hover{
  background-position:0 100%;
  color: #000;
}
.media .nav a[rel=next],
.media .nav a.next{
  background-position:100% 0;
}
.media .nav a[rel=next]:hover,
.media .nav a.next:hover{
  background-position:100% 100%;
  color: #000;
}
.media .download{
  float:left;
  width:275px;
  margin-right:50px;
  margin-bottom:25px;
  border:0;
}
.media .download:nth-child(3n){
  margin-right:0px;
}
.media .download .file-btn{
  float:left;
  width:70px;
  margin-right:10px;
  height:55px;
  padding:20px 12px 0 0;
  text-align:center;
  font-size:14px;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;  
  text-transform:uppercase;
  color:#fff;
  background:url(../img/file-btn.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/file-btn.png*/ no-repeat;
}
.media .download .file-btn:hover{
  background-position:0 100%;
}

.media .download p a,
.media .download p{
  font-size:11px;
  color:#a3b1c0;
  font-weight:500;
  display:block;
  margin:0 0 10px;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  font-style:normal;
  margin:10px 0 0;
}
/* article full */
.media article.full{
  border:0;
}
.media article.full .pic{
  margin-right:30px;
}
.media article.full time{
  margin-top:10px;
}
.media article.full h3{
  font-weight:200;
  font-size:26px;
  line-height:26px;
  margin:0 0 10px;
}
.media article.full .pdf-link{background:url(../img/icon-pdf.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/icon-pdf.png*/ no-repeat top center;width:69px;height:55px;display:block;float:right;text-indent:-99999px;}
.media article.full .pdf-link:hover{background-position:bottom center;}
.media article.full p{
  margin:0 0 1em;
}

.media article.full .body ul li{font-family:Arial,sans-serif;font-size:14px;line-height:21px;font-style:normal;}
.media article.full .body ul ul {padding-left:30px;}
.media article.full .body p{
  font-family:Arial,sans-serif;
  font-size:14px;
  line-height:21px;
  font-style:normal;
  margin:0 0 2em;
}

.media article.full .body p a{text-decoration:underline;}

.media .nav-share{
  border-top:0;
  border-bottom:1px solid #000;
  margin:0 0 30px;
}
.media .share{
  position:absolute;
  left:15px;
  top:35px;
  text-align:left;
}
.media .share > a{
  float:left;
  line-height:25px;
  font-size:11px;
  color:#000;
  font-weight:500;
  display:block;
  margin:0 10px 0 0;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
}
.media .share .btns{
  float:left;
  height:25px;
  overflow:hidden;
  width:100px;
}
.media .share .btns a{
  float:left;
  height:25px;
  width:25px;
  background:url(../img/social-icons.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/social-icons.png*/ no-repeat;
  text-indent:-9999px;
  overflow:hidden;
  margin-right:5px;
}
.media .share .btns a.twitter{
  background-position:-29px 0;
}
.media .share .btns a.email{
  background-position:-59px 0;
}




/* page: BRANDS */
#main.page-brands{padding-bottom:0;}

.page-brands .wrap{
  /*width:960px;*/
}
.page-brands .page-top .logo{
  padding:50px 40px 0;
  position:relative;
  z-index:2;
  height:160px;
  
}

.page-brands .page-top .logo img { width: 435px; max-width: 80%; }


/*.page-brands .page-top .logo img { width: 40%; max-width: 435px; }*/
.page-brands .page-top-bg{
  left:auto;
  right:0;
  top:30px;
  font-size:300px;
  max-width: 100%;
}
.page-brands .page-top-bg img{display:block; max-height: 230px; max-width: 100%;}
.brand-info{
  overflow:hidden;
  position:relative;
  z-index:2;
}
.brand-info .details{
  position:relative;
  float:left;
  width:59%;
  padding:30px 40px 0;
  background:#fff;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  padding-bottom: 30px;
}

.brand-info .details .attachment-post-thumbnail{margin-top:40px; width: 100%; }

.brand-info .details h1{
  font-weight:100;
  font-size:36px;
  line-height:38px;
}
.brand-info .thumbnail {position:relative;}
.brand-info .link{
    position:absolute;
    bottom:15%;
    left:76%;
    display:inline-block;
    margin-top: -14px;
    padding:0 2px;
    min-width:130px;
    line-height:28px;
    text-transform:uppercase;
    text-align:center;
    color:#fff;
    font-size:14px;
    font-family:MuseoSans,sans-serif;
    font-weight:700;
    background: url(../img/btn-black-white-28.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/btn-black-white-28.png*/ repeat-x;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;  
}
.page-id-80 .brand-info .link {padding: 0 8px;right: auto;min-width: 154px;}
.opentable .brand-info .link {bottom: 19%;left: 74%;}
.priceline .brand-info .link {bottom: 19%;left: 74%;}
.brand-info .link:hover{
  color:#000;
  background-position: 0 100%;
}
.brand-info .latest-news{
  margin-top:140px;
  width:35%;
  float:right;
  margin-right:10px;
  padding-bottom: 30px;
}
.brand-info .latest-news h2{
  font-size:14px;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  padding:30px 20px 20px;
  margin:10px 0 0;
  text-transform:uppercase;
  font-weight:500;
  border-top:1px solid #000;
}
.brand-info .latest-news p{
  font-family: MuseoSans, Arial, Helvetica,sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  margin: 0 0 2em;
}
.brand-info .latest-news article{
  margin:0 20px 20px;
  position: relative;
  padding-bottom:5px;
}
.brand-info .latest-news time{
  font-size:11px;
  color:#a3b1c0;
  font-weight:500;
  display:block;
  margin:0 0 6px;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
}
.brand-info .latest-news h3{
font-size: 14px;
line-height: 18px;
font-weight: 500;
font-family: MuseoSans, Arial, Helvetica,sans-serif;
margin: 0;
}

.brand-info .latest-news article .more{
position: absolute;
right: 20px;
bottom: 0px;
}

.brand-info .latest-news > .more{
  font-size:14px;
  display:inline-block;
  margin-top:20px;
  margin-bottom: 25px;
}
.brand-stats{
  /*background:#fff;*/
  padding:30px 0 0;
}
.brand-pic{
  background-attachment: fixed;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center bottom;
  position:relative;
  margin:-40px 0 0;
  text-align:center;
  line-height:0;
  overflow: hidden;
  max-height: 100%;
}
.brand-pic img { visibility: hidden; }
.brand-pic a{

  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  font-size:14px;
  color:#fff;
  font-weight:900;
  display:inline-block;
  padding:0 20px;
  height:26px;
  text-align:center;
  line-height:26px;
  background:url(../img/btn-map.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/btn-map.png*/ repeat-x;
     -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
          transition: 0.4s;
  /*border: 1px solid #fff;*/
}

.brand-pic .glamour-img-wrapper { 
      position:absolute;
      left:0;
      top:50%;    
      width: 100%;
      margin-top: -25px;
      text-align: center;
}


.cdv-slide-next,
.cdv-slide-prev{ position: absolute; height: 56px; margin-top: -28px; top: 50%; display: none; width: 68px;}
.cdv-slide-next { right: 0; }
.cdv-slide-prev { left: 0; }
.cdv-slide-next span,
.cdv-slide-prev span { width: 38px; height: 56px; display: block; position: absolute; top: 0;  left: 50%; margin-left: -19px; text-indent: -9999px;}

.cdv-slide-next span { background:url(../img/arrow-right.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/arrow-right.png*/ no-repeat left top; }
.cdv-slide-prev span { background:url(../img/arrow-left.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/arrow-left.png*/ no-repeat left top; }

.glamour-slider { position: relative; margin-top: -30px;}
.glamour-slider .cdv-slide-next,
.glamour-slider .cdv-slide-prev { display: block;  }
.glamour-slider .brand-pic img { width: 100%; max-height: 100%; }
.glamour-slider .brand-pic { margin-top: 0; background-attachment: initial;}


.glamour-slider .brand-pic .glamour-img-wrapper  {
    top: 50% !important;
    margin-top: -13px !important;
}

.cdv-slide-next:hover span,
.cdv-slide-prev:hover span { background-position: left bottom; }

.brand-pic a span{
  font-weight:100;
  font-style:italic;
}
.brand-pic a b{
  font-weight:300;
}
.brand-pic a:hover{
  background-position:0 100%;
  color:#000;
}
.brand-data{
  position:relative;
  z-index:2;
  overflow:hidden;
  width: 96%;
  margin: 0 auto;
}
.brand-data a{
  position:relative;
  z-index:2;
  overflow:hidden;
  border-bottom:1px solid #ccc;
}

.brand-data article{
  float:left;
  width:25%;
  height:265px;
  padding:20px;
  border-left:1px solid #fff;
  background:url(../img/brand-data_.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/brand-data_.png*/ repeat-x;
     -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
          transition: 0.4s;
  color:#fff;
}
.brand-data article p { font-size: 13px; line-height: 16px;}
.brand-data article:first-child{
  border:0;
}
.brand-data article.see:hover{
  background-position:0 100%;
  color:#000;
}
.brand-data article:hover a{
  color:#000;
}
.brand-data h2{
  border-bottom:1px solid #585858;
  height:139px;
  font-size:17px;
  font-style:italic;
  font-family:MuseoSans,sans-serif;
  text-align:center;
  margin:10px 0 15px;
  font-weight:normal;
}
.brand-data h2 strong{
  display:block;
  margin:0 0 0;
  font-size:115px;
  line-height:115px;
  font-weight:normal;
  font-family:AgencyFB,sans-serif;
  font-style:normal;
  letter-spacing: -4.5px;
}
.brand-data h2 span{
  color:#444;
}
.brand-data h2 strong span{
  font-family:AgencyFB,sans-serif;
}
.brand-data p{
  font-size:16px;
  line-height:18px;
  text-align:left;
}
.brand-data .see{
  text-align:center;
  padding-top:100px;
}
.brand-data .see p{
  font-style:italic;
  font-weight:100;
  font-size:20px;
  text-align:center;
  margin:0 0 20px;
}
.brand-data .see a{
  font-style:italic;
  font-weight:900;
  font-size:20px;
  text-transform:uppercase;
  color:#fff;
  font-style:normal;
}



/* === MAP === */
.overlay{
  position:fixed;
  top:30px;
  left:0;
  width:100%;
  height:100%;
  z-index:9999999;
  background:rgba(0,0,0,0.7);
  display:none;
}


#fancybox-content{
    background-color: #000;
    border: 0 !important;
}

#brands-map{
  display:none;
  margin:0 auto 0;
  background:#000;
  z-index:9999999;
  width: 100%;
  top: 30px;
  padding-top: 60px;
}
#brands-map{ -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; }

#map-spanner { width: 100%; }

/*.jvectormap-container {  height:100% !important; width: 100% !important;  } */
#brands-map .map-area,
#brands-map #markers-wrapper { position: absolute; top:0; left: 0px; width: 100%; height: 100%;  } 

#brands-map #markers-wrapper {  z-index: 1; pointer-events: none}
#brands-map #markers-wrapper .markers {overflow: hidden; width: 100%; height: 100%; position: relative; top: 0; left: 0; display: none; }
#brands-map #markers-wrapper .markers .marker { pointer-events: auto; position: absolute; width: 15px; height: 15px; overflow: visible; margin-left: -8px; margin-top: -7px; cursor: pointer; z-index: 1; }
#brands-map #markers-wrapper .markers .marker.marker-info-above  { z-index: 4 !important; }
#brands-map #markers-wrapper .markers .marker .marker-icon {  }
#brands-map #markers-wrapper .markers .marker:hover .marker-icon { transform:scale(1.5); -webkit-transform:scale(1.3); -moz-transform:scale(1.5); -o-transform:scale(1.5); }
/*#brands-map #markers-wrapper .markers .marker:hover * { transform:scale(0.66); -webkit-transform:scale(0.66); -moz-transform:scale(0.66); -o-transform:scale(0.66); }*/

#brands-map #markers-wrapper .markers .marker.marker-headquarter { width: 26px; height: 27px; margin-left: -13px; margin-top: -13px; z-index: 3;}
#brands-map #markers-wrapper .markers .marker.marker-headquarter .marker-icon {width: 27px; height: 26px;  background-size: 100%; background-image: url(../img/hq_icon.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/hq_icon.png*/; }
#brands-map #markers-wrapper .markers .marker.marker-office { z-index: 2; }
#brands-map #markers-wrapper .markers .marker.marker-office .marker-icon{ width: 9px; height: 8px;  background-size: 100%; background-image: url(../img/i_o.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/i_o.png*/;}
#brands-map #markers-wrapper .markers .marker.marker-call_center { z-index: 1; }
#brands-map #markers-wrapper .markers .marker.marker-call_center .marker-icon{ background-position: center -60px; width: 100%; height: 100%; background-image: url(../img/map-icons1.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/map-icons1.png*/; background-size: 16px 96px;}

#brands-map #markers-wrapper .markers .marker .marker-info { position: absolute; left: -24px; top: -142px; }
#brands-map #markers-wrapper .markers .marker .marker-info .marker-desc { 
    font-family: Gotham, sans-serif; 
    padding: 15px; 
    min-width: 164px; 
    height: 100%; 
    border-width: 1px; 
    border-color: #219ed9; 
    border-style: solid; 
    color: #fff;
    padding-left: 90px;    
    background: url(../img/hq_text.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/hq_text.png*/ no-repeat 15px center #000;
    height: 120px;
    box-shadow: 0px 0px 1px #333;
} 

#brands-map #markers-wrapper #booking-markers .marker .marker-info .marker-desc { border-color: #223c7c; }
#brands-map #markers-wrapper #agoda-markers .marker .marker-info .marker-desc { border-color: #21ae5c; }
#brands-map #markers-wrapper #kayak-markers  .marker .marker-info .marker-desc { border-color: #f18321; }
#brands-map #markers-wrapper #rentalcars-markers .marker .marker-info .marker-desc { border-color: #249fd9; }
#brands-map #markers-wrapper #opentable-markers .marker .marker-info .marker-desc { border-color: #ee2430; }



.marker-arrows-wrapper { position: relative; height: 20px; margin-left: 20px; margin-top: -1px; }

.marker-arrow1 {
	width: 0; 
	height: 0; 
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-top: 20px solid #219ed9;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 20px;
	height: 20px;
}

#booking-markers .marker-arrow1 { border-top-color: #223c7c; }
#agoda-markers .marker-arrow1 { border-top-color: #21ae5c; }
#kayak-markers .marker-arrow1 { border-top-color: #f18321; }
#rentalcars-markers .marker-arrow1 { border-top-color: #249fd9; }
#opentable-markers .marker-arrow1 { border-top-color: #ee2430; }


.marker-arrow2 {
    width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 18px solid #000;
	margin-left: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 20px;
	height: 20px;
}

.marker-desc-content { display: inline-block; vertical-align: middle; }

#brands-map #markers-wrapper .markers .marker.marker-lines0 .marker-icon { transform: none; -webkit-transform:none; -moz-transform:none; -o-transform:none ; }
/*#brands-map #markers-wrapper .markers .marker .marker-info .marker-arrow { padding: 0 2px; width: 164px; height: 9px; background: url(../img/marker-arrow.png) no-repeat; }*/

.jvectormap-container { overflow: visible !important; }
#brands-map #markers-wrapper .markers .marker  h4 { margin: 0 0 3px; padding: 0; font-size: 11px; font-weight: normal; white-space: nowrap;}
#brands-map #markers-wrapper .markers .marker  p { font-size: 11px; margin: 0; padding: 0; white-space: nowrap; }

#brands-map .jvectormap-zoomin, #brands-map .jvectormap-zoomout { right: 40px; width: 22px; height: 22px; background-color: #000; background-size: 22px 44px; text-indent: -9999px; }

#brands-map .booking-area .jvectormap-zoomin, 
#brands-map .booking-area .jvectormap-zoomout { background-image: url(../img/zoom_booking.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/zoom_booking.png*/; }
#brands-map .priceline-area .jvectormap-zoomin, 
#brands-map .priceline-area .jvectormap-zoomout { background-image: url(../img/zoom_priceline.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/zoom_priceline.png*/; }
#brands-map .agoda-area .jvectormap-zoomin, 
#brands-map .agoda-area .jvectormap-zoomout { background-image: url(../img/zoom_agoda.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/zoom_agoda.png*/; }
#brands-map .kayak-area .jvectormap-zoomin, 
#brands-map .kayak-area .jvectormap-zoomout { background-image: url(../img/zoom_kayak.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/zoom_kayak.png*/; }
#brands-map .rentalcars-area .jvectormap-zoomin, 
#brands-map .rentalcars-area .jvectormap-zoomout { background-image: url(../img/zoom_rental.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/zoom_rental.png*/; }
#brands-map .opentable-area .jvectormap-zoomin, 
#brands-map .opentable-area .jvectormap-zoomout { background-image: url(../img/zoom_opentable.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/zoom_opentable.png*/; }

#brands-map .jvectormap-zoomin {
    bottom: 50px;
    background-position: center top;
}

#brands-map .jvectormap-zoomout {
    bottom: 20px;
    background-position: center bottom;
}


#brands-map h1{
  position:relative;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  font-size:36px;
  color:#000;
  font-weight:200;
  height:70px;
  margin:0;
}
#brands-map h1{
  position:absolute;
  top: 10px;
  left: 10px;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  font-size:36px;
  color:#fff;
  font-weight:200;
  height:70px;
  margin:0;
  z-index: 4;
}
#brands-map-nav{
  position:absolute;
  left:15px;
  bottom: 1%;
  width:126px;
  padding:30px 0 0;
  z-index: 3;
}
#brands-map-nav li{
  position:relative;
}
#brands-map-nav .icons-wrap{
  position:absolute;
  left:25px;
  top:4px;
  width:0;
  overflow:hidden;
}
#brands-map-nav .icons{
  float:right;
  font-family:MuseoSans, Arial, Helvetica,sans-serif;
  font-weight:700;
  font-size:11px;
  line-height:16px;
  color:#a3b1c0;
  padding-left:10px;
  padding-top: 2px;
  white-space: nowrap;
  vertical-align: middle;
}

#brands-map-nav .icons > * { 
    display: inline-block;
    vertical-align: middle;
}

#brands-map-nav .icons p { margin-bottom: 0; margin-right: 5px;}

#brands-map-nav span{
  padding: 2px 0 0 20px;
  display:inline-block;
  line-height:16px;
  background:url(../img/map-icons1.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/map-icons1.png*/ no-repeat left center;
  vertical-align: middle;
}

#brands-map-nav .ico-x { background-position: left bottom; }
/*#brands-map-nav .ico-x.web-presence-on,*/
/*#brands-map-nav .ico-x.office-on { background-position: left top; }*/

/*.web-presence-label { cursor:pointer; }*/
/*.office-label {cursor:pointer; }*/

#brands-map-nav .ico-x{
  color:#000;
}
#brands-map-nav .ico-h{
  background-position:0 -20px;
}
#brands-map-nav .ico-o{
  background-position:0 -40px;
}
#brands-map-nav .ico-c{
  background-position:0 -60px;
}

#share-wrapper.home-share { width:56px;  -moz-transition: all 0.2s ease 0s;  -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }
#share-wrapper span.share-span { padding-right: 6px; line-height: 16px; border-right: 1px solid #a5b1c0; color: #a5b1c0; font-family:MuseoSans,Arial,Helvetica,sans-serif; font-size: 12px; margin: 10px 0; } 
#share-wrapper:hover span.share-span { color: #949fac; border-color: #949fac; }

#share-links-wrapper { display: inline-block; height: 36px; }
#share-wrapper.home-share #share-links-wrapper {  width:120px; position:absolute; display:block; top:0px;  left:60px; }
/*#share-links-wrapper { height: 36px; width:200px; position:absolute; display:block; top:0px;  left:60px; }*/

#share-wrapper a, #share-wrapper span { display: inline-block; vertical-align: middle; }
#share-wrapper a { background: url("../img/share.png")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/share.png*/ no-repeat;  background-size: 81px 51px; text-indent: -9999px; line-height: 36px; overflow: hidden; }
#share-wrapper .facebook-share { width: 25px; height: 36px; background-position: 8px 9px;} 
#share-wrapper .facebook-share:hover { background-position: 8px -25px;} 
#share-wrapper .twitter-share { width: 25px; height: 36px; background-position: -13px 9px;} 
#share-wrapper .twitter-share:hover { background-position: -13px -25px;} 
#share-wrapper .email-share { width: 25px; height: 36px; background-position: -37px 9px; margin-left: 3px;} 
#share-wrapper .email-share:hover { background-position: -37px -25px;} 
#share-wrapper .google-share { width: 25px; height: 36px; background-position: -62px 9px; margin-left: 3px;} 
#share-wrapper .google-share:hover { background-position: -62px -25px;} 

#share-wrapper.home-share { position: fixed;   right: 155px;   bottom: 40px; z-index: 2; margin-bottom : 0; padding-left: 10px; }
/*#share-wrapper.home-share #share-links-wrapper { hidden; -moz-transition: all 0.2s ease 0s; -webkit-transition:all 0.2s ease 0s; transition:all 0.2s ease 0s;}*/
#share-wrapper.home-share.show-share-icons,
#share-wrapper.home-share:hover { width: 180px; }

#share-wrapper.brand-site { position: relative; z-index: 2;}
#share-wrapper.page-bottom-share { margin-left: 60px; padding-bottom: 30px; position: relative;}
#share-wrapper.media-room-share { margin-left: 80px; padding-bottom: 30px; position: relative;}
#share-wrapper.share-media-article { margin-left: 20px;  text-align: left; position: relative;}


/* page: 404 */
.page-404 .page-content{
  padding:80px 0;
}
.page-404 .wrap{
  width:460px;
}
.page-404 h1{
  font-family:MuseoSans,Arial,Helvetica,sans-serif;
  font-size:36px;
  font-weight:100;
  padding:60px 0;
  margin:0;
  text-align:center;
}
.page-404 a{
  position:absolute;
  left:-14px;
  bottom:-14px;
  display:inline-block;
  line-height:26px;
  height:26px;
  background:#000;
  padding:0 10px;
  font-family:MuseoSans,Arial,Helvetica,sans-serif;
  font-weight:100;
  font-style:italic;
  color:#fff;
     -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
          transition: 0.4s;
  background:url(../img/btn-map.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/btn-map.png*/ repeat-x;
}
.page-404 a b{
  font-style:normal;
  font-weight:900;
}
.page-404 a:hover{
  color:#000;
  background-position:0 100%;
}

/* MOBILE NAVIGATION AND FOOTER*/
@media (max-width: 1200px) {
    .page-home .page-top .page-top-body p br { display: none; }
    .timeline .date { padding: 3px 2px; }
    .about-locations h3 { font-size: 30px; }
    .brand-data h2 { font-size:13px; margin-top: 0; height:108px;}
    .brand-data h2 strong { font-size: 80px; line-height: 85px;  }
    .brand-data .see a,
    .brand-data .see p { font-size: 13px; }
    
    #happening-now .news{ width:24%; }
    #happening-now .social{ width:52%; }
    #happening-now .social article{ width:45%; }
}


@media (max-width: 1024px)  {
    .page-home .page-top { padding-top: 20px; }   
}


@media (max-width: 980px) {
    .timeline .date { padding: 3px 1px; }
    .about-locations h3 { font-size: 24px; padding-top: 20px;}
    .about-contact .loc { margin-bottom: 20px; width: 320px;}
    .brand-data h2 { height:100px; }
    .brand-data h2 strong { font-size: 60px; line-height: 80px;}
    .brand-data article p { font-size: 11px; line-height: 14px; }
    .brand-data article { padding: 20px 15px 20px; height: 260px; }
    .media article .pic { width: 40%; }
    .media.active article .pic + time + h3,
    .media.active article .pic + time + h3 + p { padding-left: 47%; }
    .media.active article time { margin-bottom: 0; }
    
    #happening-now .news{ width:31%; }
    #happening-now .social{ width:38%; }
    #happening-now .social article{ width:88%; }
    
    .map-box{ background-image: url("../img/about-map.png")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/about-map.png*/; background-color: #F6F7FA; background-size: 90%; background-position: center center;}
    
    .tabs-nav a { font-size: 12px; }
    
    /* CAREERS */
    .page-careers .career-links li { width: 50%; }
 
}

@media (max-width: 770px) { 
    .locs .clear3 { display: none; }
    .locs .clear2 { display: block; }
    .about-brands .loc { min-height: 155px; width: 260px;}
    .brand-data h2 { margin-bottom: 5px; height: 120px;}
    .brand-data h2 strong { line-height: 80px; }
    .brand-data .see a,
    .brand-data .see p { font-size: 11px; }
    .tabs-nav li .tab-link { font-size: 11px; }
}



@media all and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
    #header-nav .menu-button b { background-image: url(../img/nav-btn-3@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/nav-btn-3@2x.png*/; background-size: 20px 20px; }
    #header h1 a{ background-image: url(../img/header-logo@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/header-logo@2x.png*/; background-size: 174px 120px; }
    #happening-now h2{background-image:url(../img/clock@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/clock@2x.png*/; background-size: 36px 36px; }
    .brands-nav li > a{ background-image:url(../img/aside-brands7@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/aside-brands7@2x.png*/; background-size: 66px 287px;}
    
    .about-nav article{ background-image:url(../img/about-nav1@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/about-nav1@2x.png*/; background-size: 100px 100px; }
    .about-nav .history{ background-image: url(../img/about-nav2@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/about-nav2@2x.png*/; background-size: 100px 100px; }
    .about-nav .locations{ background-image: url(../img/about-nav3@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/about-nav3@2x.png*/; background-size: 100px 100px; }
    .about-nav .contact{ background-image: url(../img/about-nav4@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/about-nav4@2x.png*/; background-size: 100px 100px; }

    .map-box{ background-image: url("../img/about-map@2x.png")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/about-map@2x.png*/; }

    #brands-map-nav span{ background-image:url(../img/map-icons1@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/map-icons1@2x.png*/; background-size: 16px 96px; }
    #brands-map #markers-wrapper .markers .marker .marker-icon{ background-image:url(../img/map-icons1@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/map-icons1@2x.png*/; }

    #brands-map-nav .brands-nav li > a{ background-image:url(../img/aside-brands8@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/aside-brands8@2x.png*/; background-size: 50px 177px; }
    #fancybox-close { background-image: url(../img/x@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/x@2x.png*/ !important; }
    
    .page-about .page-top-bg{ background-image: url(../img/text-bg-about@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/text-bg-about@2x.png*/; background-size: 553px 317px; }
    .page-media-room .page-top-bg{ background-image: url(../img/text-bg-media@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/text-bg-media@2x.png*/; background-size: 454px 292px; }
    
    .media .download .file-btn{ background-image: url(../img/file-btn@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/file-btn@2x.png*/; background-size: 69px 110px; }
    
    .page-privacy .page-top-bg { background-image: url(../img/privacy_bg@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/privacy_bg@2x.png*/; background-size: 701px 314px; }
    .page-careers .page-top-bg { background-image: url(../img/career_bg@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/career_bg@2x.png*/; background-size: 735px 293px; }
    
    #share-wrapper a { background-image: url("../img/share@2x.png")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/share@2x.png*/ }
    #brands-map #markers-wrapper .markers .marker .marker-info .marker-desc { background-image: url(../img/hq_text@2x.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/hq_text@2x.png*/; background-size: 57px 78px; }
    
}


@media (max-width: 767px) { 
    .mobile { display: block; }
    .mobile-inline{ display: inline-block; }
    .hide-mobile { display: none; }
    
    body > #wrapper { padding-bottom: 100px; 
    overflow-x: hidden;
    }
    body.home > #wrapper { padding-bottom: 100px; }
    body > #wrapper .wrap { margin: 0; padding: 0 22px; width: 100%;}
    body:not(.page-template-templatest_about_leadership-php) #main.page-about { background-color: #fff; }
    body:not(.home) #aside-brands { display: none; }
    #main { padding-bottom: 0; }
    
    .page-home .page-top .page-top-body { padding-bottom: 0; }
    
    #share-wrapper.page-bottom-share { margin-left: 20px; margin-top: 15px; padding-bottom:70px;}
    #share-wrapper.home-share.show-share-icons,
    #share-wrapper.home-share:hover { width: 260px; }
    #share-wrapper.home-share { width: 260px; bottom: 80px; left: 20px !important; right: auto !important; position: absolute;  margin-left: 0;}
    #share-wrapper.home-share #share-links-wrapper,
    #share-wrapper.home-share:hover  #share-links-wrapper{ width: auto; }
    #share-wrapper #share-links-wrapper { padding-left: 10px; }
    #share-wrapper #share-links-wrapper a { margin-right: 15px; }
    
    
    .home.page #footer { display: none; }
    
    #header { background-image: none; background-color: #000; height: 70px; position: absolute; }
    #header h1 a { background-image: none !important; height: 70px; }
    #header h1 a img{ max-height: 70px;  }   
    
    #header-nav { position: absolute; left: 0; height:70px; width: 100%; overflow: visible; }
    #header-nav { position: absolute; left: 0; height:70px; width: 100%; overflow: visible; }
  
    #header-nav .menu-button { height: auto; width: 90px; padding: 0 0 0 15px;  }
    #header-nav .menu-button b {
      width: 70px;
      height: 70px;
      background: url(../img/mobile/nav-btn-3-mob.png)/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/mobile/nav-btn-3-mob.png*/ no-repeat;
      background-size: 36px 30px;
      background-position: center center;
      margin-right: 15px;
    }
    #header-nav ul a { font-weight: 100; }
    
    #header-nav:hover .bg { display: none; }
    #header-nav:hover .menu-button { width:90px; padding-left: 15px; }
    #header-nav:hover .menu-button b { 
          -webkit-transform:rotate(0deg);
          -moz-transform:rotate(0deg);
          -o-transform:rotate(0deg);
          transform:rotate(0deg);    
    }
    #header-nav .wrapper { position: absolute; right: 0; top: 70px; height: 100%; }
    #header-nav.nav-active .wrapper { width: 100% !important; height: auto;} 
    #header-nav.nav-active .menu-button b{ 
          -webkit-transform:rotate(90deg) !important;
          -moz-transform:rotate(90deg) !important;
          -o-transform:rotate(90deg) !important;
          transform:rotate(90deg) !important;
    } 
    #header-nav:hover .wrapper { width: 0; }
    #header-nav .inner { padding-top: 0; height: auto; width: 100%; }
    #header-nav ul { padding-right: 15px; padding-top: 20px; padding-bottom: 30px;}
    #header-nav ul li a { font-size: 20px; line-height: 35px; }
    
    #footer { height: auto; width: 100%; position: absolute;  }
    #footer p.copyright { float: none; clear: both; text-align: left; margin: 0; padding: 15px 22px;}
    #footer nav { margin: 15px 0 0; }
    #footer nav ul { width: 100%; padding: 0 10px;}
    #footer nav ul li {  margin-right: 0; line-height: 20px; border-left: 1px solid; margin-bottom: 5px;}
    #footer nav ul li:first-child,
    #footer nav ul li.no-border { border-left: none; }
    #footer nav ul li a {  padding: 0 12px; font-size: 16px; }
    #footer nav ul li a:hover { border-bottom: none; }
    
    #happening-now { display: none; }
    
    #aside-brands { position: absolute; width: 100%; bottom: 0; left: 0; top: auto; background-color: #fff; padding: 10px 22px;}
    #aside-brands #menu-brands { width: 100%; }
    #aside-brands #menu-brands li { float: left; display: inline-block; width: 14%; text-align: left;}
    #aside-brands #menu-brands li:last-child { width: 17%; }
    #aside-brands #menu-brands li a { display: inline-block; }
    #aside-brands #menu-brands .map { margin-top: 0; text-align: right; }
    #aside-brands #menu-brands .map a{ text-indent: 9999px; }
    
    
    .page-top header { padding: 35px 0 10px; }
    .page-top header h1 { font-size: 22px; }
    .page-top header h1 span { font-size: 16px; font-weight: 100;}
    
    
    /* MAP */
    #brands-map { width: 100%; padding-top: 0;}
    #brands-map h1 { font-size: 26px ; height: auto; }
    #brands-map .map-area,
    #brands-map #markers-wrapper { position: absolute; top:0; left: 0; width: 100%; height: 100%;  } 
    
    #brands-map-nav { width: 100%; z-index: 10;}
    #brands-map-nav li { float: left; margin-right: 10px; overflow: hidden !important; }
    #brands-map-nav .icons-wrap { display: none; }
    #brands-map .jvectormap-zoomin, #brands-map .jvectormap-zoomout { right: 15px; z-index: 11; }
    
    /*#brands-map-nav .brands-nav li > a { width: 25px; height: 25px; transform:rotate(90deg); -ms-transform:rotate(90deg); -webkit-transform:rotate(90deg); }*/
    
    
     /*  HOME */
    .page-home .page-top { width: 100%; padding-top: 60px;}
    .home-page-top-bg img { display: none; }
    .home-animation .p-wrapper { max-width: 85%; }
    .animation-speciall { max-width: 85%; }
    
    /*.page-home .page-top-body img  { width: 85%; }*/
    .page-top .page-top-body p {  margin: 0; position: static;  margin: 5px 0 20px; font-size: 20px; padding-left: 38%; text-align: right;}
    .page-home .page-top .page-top-body p { text-align: right;  margin: 0; position: static;  margin-top: 15px; padding: 0; font-size: 26px;}
    .page-home .page-top .page-top-body p span { text-align: left;  }
    .page-top .page-top-body p br { display: none;  }
    .page-top .page-top-body p strong { display: block; background: none; margin-top: 0; text-align: right;}
    .page-top .page-top-body p strong:hover a{ color: #000; }
    
    /* ABOUT */
    .page-about .page-top-bg { display: none;}
    .page-about .page-top-body { padding: 0; height: auto;}
    .page-about .page-copy.about { padding-right: 3%; }
    .about-nav article { width: 98%; float: none !important; margin-right: 0 !important;}
    
    
    /* ABOUT - LEADERSHIP */
    .page-tabs { margin-bottom: 0; padding-bottom: 25px; }
    body #wrapper .page-tabs .wrap { padding: 0; }
    .tabs-nav ul li:first-child { width: 40%; }
    .tabs-nav ul li:last-child { width: 60%; }
    .tabs-nav ul li a { display: inline-block; width: 100%; text-align: center; }
    .tab { padding-top: 30px; padding-bottom: 0; }
    .tab .news-col { width: 100%; float: none;}
    .tab .news-col article { min-height: auto !important; width: auto; padding: 15px 22px 15px;}
    .news-col article:last-child { border-bottom: 1px solid #e3e7ec; }
    .tab .news-group .news-col:last-child article:last-child { border-bottom: none; }
    .news-group h2 { font-size: 25px; }
    .news-col header h3 b { font-size: 18px; font-weight: 500; color: #a3b1c0; }
    .news-col header p, 
    .news-col .more-text { padding-right: 60px; }
    .news-col .more-text { padding-top: 15px; padding-bottom: 15px; position: relative;}
    .news-col .more-text p { margin-bottom: 0; }
    .news-col .more { bottom: 15px; right: 22px;}
    
    /*  ABOUT - HISTORY  */
    .history h2 { line-height: 28px; }
    .timeline { border-left: 1px solid #E3E7EC; border-top: none; height: auto; padding: 8px 0 0; width: 260px; margin-left: auto; }
    .timeline .year { position: relative; display: block; left: 0 !important; margin-left: 0 !important; margin: 30px 0 30px -7px !important; padding-top: 8px; width: 12px; }
    .timeline .year:first-child { margin-top: 0 !important; }
    .timeline .year .date { float: none; padding: 0; width: 12px; height: 12px; margin-bottom: 8px;}
    .timeline .year .date:after { display: none; }
    .timeline .year .dot { width: 12px; height: 12px; border-radius: 6px;}
    .timeline .date .dot:after{
      content:'';
      position:absolute;
      left:15px;
      top:-13px;
      width:0;
      height:0;
      z-index:2;
      border-bottom:17px solid transparent;
      border-top:17px solid transparent;
      border-right:17px solid #000;
    }
    
    .timeline .date-pop {
        left: 31px !important;
        top: -140px !important;
    }
    
    .timeline .date-pop .date-body { height: auto; }
    .timeline .date-pop .date-image { display: block; text-align: center; height: auto; padding: 0 0 20px; }
    
    /* ABOUT - CONTACT */
    .about-locations .wrap { background-color: #f6f6fa; }
    .about-locations .map-box { width: 90%; margin : 0 auto; float: none;}
    .about-locations h3 { width: 100%; padding: 0; font-size: 25px; font-weight: 100;}
    .about-locations h2 { font-size: 20px; font-weight: 300; }
    .about-brands { padding-top: 20px }
    .about-brands .locs { margin-bottom: 10px; max-width: 100%;}
    .about-brands .loc { min-height: 100%; max-width: 100%;}
    .about-contact .loc { max-width: 100%; }
    .about-contact b,
    .about-brands b { color: #a3b1c0; }
    article.loc p {max-width: 100%;}
    
    
     /* BRAND PAGES */
    .page-template-templatest_brand-php #wrapper,
    .page-template-templatest_brand-php #wrapper #main { background-color: #fff; }
    .page-brands .page-top-bg { display: none; }
    .page-brands .page-top .logo { padding: 30px 0  20px; height: auto;}
    .brand-info .details { width: 100%; padding: 0; font-size: 16px; float: none;}
    .brand-info .details h1 { font-size: 22px; line-height: 26px; }
    .brand-info .link { display: none; }
    .brand-info .latest-news { float: none; margin: 30px auto 0; width: 100%; padding-bottom: 10px; }
    /*.brand-info .latest-news .map-box { background-color: #f6f7fa; }*/
    .brand-info .latest-news h2 { padding: 20px 0; }
    .brand-info .latest-news p { padding-bottom: 0; }
    .brand-info .latest-news article { margin: 0; }
    .brand-info .latest-news article .more,
    .brand-info .latest-news > .more { display: none; }
    .brand-stats { padding: 0; }
    .brand-data { width: 100%; }
    .brand-data article { width: 50%; margin-bottom: 1px; height: auto;}
    .brand-data article:nth-child(odd) { border-left: none; }
    .brand-data h2 { height: auto; padding-bottom: 5px;}
    .brand-data h2 strong { line-height: 60px;  }
    .brand-data .see { padding-top: 80px; }
    .brand-data .see p { font-size: 14px; }
    .brand-pic  { margin: -30px 0 0; }
    
    .map-box{ background-image: url("../img/about-map@2x.png")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/img/about-map@2x.png*/ }
    
     /*  MEDIA ROOM  */
     
     .search-form { float: none; position: relative; width: 100%;}
     .search-wrapper { margin: 10px 22px 0; }
     h2.search-phrase { padding: 15px 0 0;}
     h2 .search-form { width: auto; margin: 10px 22px 0; }
     
    .page-media-room .page-top-bg { max-width: 90%; background-size: 100%; }
    .page-media-room .page-tabs { margin-top: 10px; background-color: #fff; }
    #category-filter { font-weight: 300; padding: 15px 22px 0; background-color: #fff; line-height: 25px;}
    #category-filter span { text-transform: uppercase;}

    #media-tab-nav { position: static; width: 100%; display: none;}
    #media-tab-nav li { width: 100% !important; display: block; float: none;}
    #media-tab-nav .tab-link { background-color: #d6dbe3; text-transform: capitalize; font-size: 20px; font-weight: 100; color: #000; line-height: 40px;}
    #media-tab-nav .tab-link.selected { background-color: #fff;}
    
    #fancybox-wrap { width: 100% !important; padding: 0 !important; left: 0 !important;}
    #fancybox-content { width: 100% !important; border: none !important; }
    
    .page-media-room .tab { padding-top: 0; }    
    .media { padding: 0 0 1px;  }
    .tab-media .media h2 { display: none; }
    /*.media .nav { display: none; }*/
    
    .media h2 { border-bottom: none; }
    .media .articles-col-2,
    .media .articles-col { width: 100%;}
    .media article:last-child,
    .media > div > div:last-of-type .articles-col article:last-child,
    .media article { border-bottom: 1px solid #999695; position: relative; padding: 25px 32px 5px;}
    .media article h3,
    .media article .pic { margin-top: 20px; }
    .media article time { position: absolute; left: 32px; top : 25px; font-size: 13px;}
    .media article .more { bottom: 10px; }
    
    #media-pr h2 { font-size: 12px; font-weight: 700; }
    #media-materials { padding-top: 30px; }
    #media-materials h2 { padding-bottom: 0; }
    #media-materials.media  article.download { padding-top: 10px; padding-bottom: 15px;  width: 100%; margin-right: 0; min-height: 0; margin-bottom: 15px;}
    #media-materials article.download h3 { margin-top: 0; }
    .media .download p a, .media .download p { margin-top: 5px; }
    .media article.loc { width: 100%; padding: 0 22px; margin-bottom: 90px; min-height: 0;}
    #media-inquiries h2 { padding-bottom: 4px; }
    
    #brands-map-nav .icons-wrap.mobile { width: 100%;  display: block; position: static; margin-bottom: 2px;}
    #brands-map-nav .icons-wrap.mobile .icons { float: none; padding-left: 0; width: 95%;  white-space: normal;}
    #brands-map-nav .icons-wrap.mobile .icons span { line-height: 15px; margin-right: 2px; }
    #brands-map-nav span.map-name { background: 0; padding: 2px 0; text-transform: uppercase; }
    
    #brands-map-nav .ico-h{ background-position:2px -22px; }
    #brands-map-nav .ico-o{ background-position:2px -42px; }
    #brands-map-nav .ico-c{ background-position:2px -62px; }
    
    /* CAREERS */
    .page-careers .career-links { margin: 0 30px; }
    .page-careers .career-links li { height: 160px; width: 100%; }
    .page-careers .career-links li a .c-logo,
    .page-careers .career-links li a .c-logo img{ max-height: 160px; }
    
}

@media (min-width: 420px) { 
    #brands-map-nav .icons-wrap.mobile .icons br { display: none; }
}



@media (max-width: 980px),(max-height: 320px) {
/*    #header,*/
/*    #header {position:static;}*/
/*    #wrapper,*/
/*    #wrapper{padding-top:0px;margin-bottom:-40px;}*/
/*    .page-home .page-top-body{padding-bottom:40px;}*/
/*    #wrapper:after,*/
/*    #wrapper:after{height:40px;}*/
/*    #happening-now,*/
/*    #happening-now {position:absolute;bottom:40px;}*/
/*    #aside-brands,*/
/*    #aside-brands{position:absolute;}*/
/*    #header-nav,*/
/*    #header-nav {position: absolute}*/
/*    #header-nav .bg,*/
/*    #header-nav .bg{position: static;}*/
/*    #footer,*/
/*    #footer {position: relative;min-width:980px;}   */
/*}*/
}


/* ABOUT - FACTSHEET */

    .table-wrapper { width: 100%; display: table;   }
    .table-wrapper-fixed { width: 100%; display: table; table-layout: fixed;  }
    .tc { display: table-cell; }
    .vtop { vertical-align: top; }
    .vbottom { vertical-align: bottom; }
    .vmiddle { vertical-align: middle;}

    .page-factsheet .row { width: 100%; font-size: 32px;  border-bottom: 2px solid #221f1f; padding: 50px 40px; color: #231f20; line-height: 100%; }
    .page-factsheet .row p { line-height: 100%;  }
    .page-factsheet .row p.small-header { font-size: 14px; margin-bottom: 50px; font-weight: 500; line-height: 18px; }
    .page-factsheet .row:after { clear: both; content: ''; display: block;}
    .page-factsheet .row.first-row { padding: 0; }
    .page-factsheet .row.first-row .tc { padding: 40px 0; border-top: 2px solid #221f1f; }
    
    .page-factsheet .row.first-row .intro { font-size: 152%; line-height: 100%; font-weight: 100; padding-right: 30px; border-top-color: #fff; }
    .page-factsheet .magazine { padding-left: 30px; }
    .page-factsheet .magazine-inner { width: 100%; padding: 0 25px 0;}
    .page-factsheet .magazine-row { display: table; width: 100%; margin-bottom: 3%; }
    .page-factsheet .magazine-inner p,
    .page-factsheet .magazine-inner h1 { display: table-cell; vertical-align: middle; font-weight: 400; }
    .page-factsheet .magazine-inner h1 { font-size: 280%; line-height:100%; }
    .page-factsheet .magazine-inner p { text-align: center; font-weight: 300; font-size: 48%; line-height: 125%; padding-left: 28px;}
        
    .page-factsheet .second-row {  width: 100%; }
    .page-factsheet .second-row img { max-width: 100%; display: block; }
    .page-factsheet .second-row .column { position: relative; display: table-cell; vertical-align: top; float: none; }
    .page-factsheet .second-row .map { background-color: #000; background-size: contain; background-repeat: no-repeat; background-position: top center; }
    .page-factsheet .second-row .hotels { max-width: 100%; height: 100%; padding-left: 30px; }
    .page-factsheet .second-row .map-inner { padding: 100px 50px 80px; }
    .page-factsheet .second-row .map-inner .header-row { visibility: hidden; }
    .page-factsheet .second-row .hotels-inner { background-color: #eceef1;  padding: 100px 50px; height: 100%; left: 30px; top: 0; }
    .page-factsheet .second-row .header-row { font-size: 112%; font-weight: 100; text-align: center; border-bottom: 2px solid #221f1f; padding-bottom: 70px; line-height: 120%; }
    .page-factsheet .second-row .map-inner .header-row { padding-right: 30px; }
    .page-factsheet .second-row .numbers-row { font-size: 360%; font-weight: 400; text-align: center; color: #fff; line-height: 100%; padding-top: 20px;}    
    .page-factsheet .second-row .numbers-row p { font-size: 11%; padding-right: 14%; padding-top: 15px; font-weight: 100; }
    .page-factsheet .second-row .hotels .numbers-row { color: #000; padding-top: 60px; }
    
    .page-factsheet .third-row .chart { width: 60%; position: relative;  }
    .page-factsheet .third-row .stat { padding: 15px 0 40px 70px; text-align: center; }
    .page-factsheet .third-row .stat-inner { padding: 66px 16% 50px; background-color: #000; color: #fff; }
    .page-factsheet .third-row .number { font-size: 360%; line-height: 100%; }
    .page-factsheet .third-row .stat-inner span { font-size: 60%; line-height: 100%; display: inline-block; padding-bottom: 20px;  }
    .page-factsheet .third-row .stat-inner p { font-size: 80%; line-height: 100%; font-weight: 100; }
    
        
    .page-factsheet .fourth-row .chart-2-header { padding-top: 50px; }        
    .page-factsheet .fourth-row .table-wrapper-fixed { background-color: #a2b0c0; }        
    .page-factsheet .fourth-row .table-wrapper-fixed.chart-wrapper-2 { background-color: #eceef1; }        
    
    .page-factsheet .fourth-row .chart { position: relative; padding-left: 40px; }
    .page-factsheet .fourth-row .divchart { padding-left: 80px; }
    .page-factsheet .fourth-row .stat { width: 47%; padding: 100px 80px; text-align: center; }    
    .page-factsheet .fourth-row .stat img { width: 88px; }
    .page-factsheet .fourth-row .stat img.img-bed { width: 96px; }
    .page-factsheet .fourth-row .stat p { font-size: 56%; line-height: 100%; font-weight: 300; padding-top: 45px; margin-bottom: 0; }
    .page-factsheet .fourth-row .stat .number { font-size: 340%; line-height: 100%;  }
    .page-factsheet .fourth-row .stat hr { margin: 45px 0; border-style: solid; border-color: #000;}
    
    .page-factsheet .fifth-row { border-bottom: none; padding-bottom: 80px;}
    .page-factsheet .fifth-row .tc { width: 50%; position: relative; font-size: 116%; font-weight: 100; text-align: center; line-height: 140%;  }
    .page-factsheet .fifth-row .tc:first-child { padding-right: 10%; }
    .page-factsheet .fifth-row .tc:last-child { padding-left: 10%; }
    .page-factsheet .fifth-row .arrow-top { position: absolute; right: 0; margin-right: -49px; top: 50%; margin-top: -49px; }
    .page-factsheet .fifth-row .arrow-top img { width: 98px; }
    
    .page-factsheet .divchart { width: 100%; position: absolute; left: 0; top: 0; bottom: 40px; }
            
    
    @media (max-width: 1600px) {
        /*.page-factsheet .row { font-size: 40px;}*/        
    }
    
    @media (max-width: 1400px) {
        /*.page-factsheet .row { font-size: 32px;}*/        
        .page-factsheet .second-row .map-inner,
        .page-factsheet .second-row .hotels-inner {  padding: 80px 20px; }
    }
    
    @media (max-width: 1200px) {
        .page-factsheet .row { font-size: 26px;}
        .page-factsheet .fourth-row .stat { padding: 100px 50px; }
    }
    
    @media (max-width: 1024px) {
        .page-factsheet .row { font-size: 20px;}        
        .page-factsheet .magazine-inner h1 { font-size: 230%;  }
        .page-factsheet .second-row .numbers-row { font-size: 250%; }    
        .page-factsheet .second-row .numbers-row p { font-size: 30%; }
        .page-factsheet .third-row .stat { padding-left: 40px; text-align: center; }
        .page-factsheet .fifth-row .arrow-top { margin-right: -25px; margin-top: -25px; }
        .page-factsheet .fifth-row .arrow-top img { width: 49px; }
    }
    
    @media (max-width: 768px) {
        
        .page-factsheet .row { font-size: 26px; padding-bottom: 40px; padding-left:0; padding-right: 0;}
        .page-factsheet .column { float: none; width: 100%; }        
        .page-factsheet .row p.small-header { font-size: 28px; font-weight: 400; line-height: 100%; }
        .page-factsheet .row.first-row .tc { display: block; width: 100%; }
        .page-factsheet .row.first-row .tc.intro { display: block; width: 100%; padding-top: 0; padding-right: 0; }
        .page-factsheet .magazine { padding-left: 0; }
        .page-factsheet .magazine-inner h1 { font-size: 450%;  }
        .page-factsheet .magazine-inner p { font-size: 70%; }
        
        .page-factsheet .second-row .column { display: block; margin-bottom: 30px; }
        .page-factsheet .second-row .hotels { padding-left: 0; }
        .page-factsheet .second-row .header-row { font-size: 170%; padding: 0 5% 40px;  }
        .page-factsheet .second-row .numbers-row { font-size: 600%; }
        .page-factsheet .second-row .numbers-row p { font-size: 15%; }
        
        .page-factsheet .third-row .divchart { position: static; padding-left: 0; height: 100%; width: 100%; }
        .page-factsheet .third-row .chart { height: 450px; margin-bottom: 60px; }
        .page-factsheet .third-row .chart,
        .page-factsheet .third-row .stat { display: block; width: 100%; padding: 0; }        
        .page-factsheet .third-row .stat .number { font-size: 600%; }
        .page-factsheet .third-row .stat p { font-size: 150%;  }
        .page-factsheet .third-row .stat span { font-size: 120%; padding-top: 15px;  }
        
        .page-factsheet .fourth-row .divchart { position: static; padding-left: 0; height: 100%; width: 100%; }
        .page-factsheet .fourth-row .chart { height: 450px; }
        .page-factsheet .fourth-row .chart,
        .page-factsheet .fourth-row .stat { display: block; width: 100%; padding: 40px; }
        .page-factsheet .fourth-row .stat .number { font-size: 500%; }
        .page-factsheet .fourth-row .stat p { font-size: 90%;  }
        
        .page-factsheet .fifth-row .tc {  display: block; width: 100%; font-size: 200%; }
        .page-factsheet .fifth-row .tc:first-child { padding: 0 0 70px 0; }
        .page-factsheet .fifth-row .tc:last-child { padding: 0 0 40px 0; }
        .page-factsheet .fifth-row .arrow-top { display: none; }
        
    }
    
    @media (max-width: 600px) {
        .page-factsheet .row { font-size: 22px;}
        
    }
    
    @media (max-width: 500px) {
        .page-factsheet .row { font-size: 18px;}
        .page-factsheet .magazine-inner h1 { font-size: 250%;  }
        .page-factsheet .second-row .header-row { font-size: 150%;  }
        .page-factsheet .second-row .numbers-row { font-size: 360%; }
        .page-factsheet .fourth-row .stat .number { font-size: 360%; }
        /*.page-factsheet .second-row .numbers-row p { font-size: 10%; }*/
    }