.touts .views-row {
  position: relative;
  line-height: 0;
}

.touts .tout-image {
  overflow: hidden;
}

.touts .tout-image img {
  width: 100%;
}

.touts .belt {
  bottom: 0;
  position: absolute;
}

.touts .Text-Bottom .belt {
  width: 100%;
  min-height: 30%;
}

.touts .Text-Left .belt {
  top: 0;
  left: 0;
  width: 47%;
  height: 100%;
}

.touts .belt .alpha {
  background: #000;
  opacity: .6;
  filter: alpha(opacity=60);
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.touts .views-row:hover .Text-Bottom .belt .alpha {
  background: #0a87a4;
  opacity: 1;
  filter: alpha(opacity=100);
}

.touts .belt .content {
  position: relative;
  overflow: hidden;
  height: 100%;
  zoom: 1;
}

.touts .belt .content p {
  color: #fff;
  margin: 0;
}

.touts .Text-Bottom .belt .content p {
  padding: 5px 10px;
  font-size: 1.286em;
}

.touts .Text-Left .belt .content h2 {
  font-size: 26px;
  font-weight: normal;
  padding: 0 20px;
  color: #fff;
  line-height: 30px;
}

.touts .Text-Left .belt .content p {
  padding: 0 20px 15px;
  font-size: 14px;
  line-height: 18px;
}

.touts a {
  text-decoration: none;
}