.mainContent{float:left;display:inline-block;vertical-align:top;min-height:350px;min-width:640px;max-width:700px;width:58%;margin-right:55px;text-align:left;position:relative;margin-left:8px;}
.singleColumn{margin-left:220px;margin-right:220px}
.sideContent{display:block;width:220px;padding-left:20px;float:left}

div.results_sort a:first-child {margin-right:1px}

@media screen and (max-width: 1280px) {
	.mainContent{margin-left:114px;margin-right:40px;}
	.sideContent{margin-left:-92px !important;}
    div.site div.sidebar{width:148px !important;}
}

@media screen and (max-width: 1024px) {
	.mainContent{margin-left:16px;margin-right:40px;}
    div.site div.sidebar{width:247px !important;}
	div.site div.sidebar div.sideContent{padding-left:119px !important;}
}

@media screen and (max-width: 1280px) {
.singleColumn{margin-left:196px !important;}
}

@media screen and (max-width: 1024px) {
.singleColumn{margin-left:98px !important;}
}

//Carousel Resolution FIx
@media all and (min-width:1600px) and (max-width:1700px){
    .subBanner3{padding-left:50px !important;}
     #carousel_next{margin-left:84% !important;}
}
@media only screen 
and (min-device-width:768px) 
and (max-device-width:1024px){
    .subBanner3 .carousel_inner .carousel_box .bannerRight{right:7% !important;}
    .subBanner3 .carousel_inner .carousel_box .banner{background-position: 25% !important;}
}