/* #left-nav li.selected {
    padding: 5px 0 1px 2px;
} */
/* #left-nav li {
    height: 22px;
} */
#header ul#main-nav {
    width: 912px;
    margin-top: 10px;
}
#header ul#main-nav li {
    background-position: 0 0;
    height: 19px;
}
#left-nav li.selected {
    padding: 4px 0 4px 2px;
}
#main-content .two-column-left input.go-button {
    position: relative;
    top: -4px;
}
