/* @override 
	http://tru.mdwebserver.dev/assets/css/trucorp.css
	http://tru.mdwebserver.com/assets/css/trucorp.css
*/

/*
Site:           toysrusinc.com
File:           trucorp.css
Last Modified:  Jun 25 2010
-----------------------------------------------------------
=========================================================== */
html,body {margin:0;padding:0;font-family: Arial, sans-serif;}
* {margin: 0;padding: 0;}
img {border: 0;}
body {text-align:center;}
.clearfloat {clear: both;}
div#container {width:1000px;margin:0 auto; }
p {font-family: Verdana, sans-serif;}

a {outline: none;}
a img {border: 0;}

/*-------- General Classes --------*/
.float-left, {float: left;display: inline;}
.float-right {float: right;display: inline;}
ul.no-style {
	list-style: none;
}

/*-------- Header --------*/
div#header {height: 130px;
width: 990px;
padding-left: 10px;
}
div#header img#logo {
    height:130px;
    width: 66px;
    float: left;
}
div#top-nav {
    float: left;
    margin: 24px 0px 13px 10px; 
    width: 900px;
}
div#container {
    text-align:left;
}
#wrapper {
    clear: both;
}
#header ul {
    list-style-type: none;
}
#header ul#top-top {
    float: right;
}
#header ul#top-top li {
    margin-left: 29px;
    list-style-type: none;
    float: right;
}


#header #top-top .input-wrap,
#search-contentarea .input-wrap
 {
    background: transparent url('../images/site/search_bg.png')/*tpa=http://www.toysrusinc.com/assets/images/site/search_bg.png*/ no-repeat 0 0;
    height: 20px;
    width: 145px;
    padding: 3px 9px 3px 18px;
    display: block;
   }

#header #top-top input,
#search-contentarea input
 {
    
  border: 0;
        font-size: 11px;
        padding: 3px 0px 4px 0px;
        width: 140px;
  background: transparent;
    color: #939598;
    outline-width:0;
}




#header ul#main-nav {
    margin-top: 13px;
    clear: right;
    float: left;
    margin-left: 9px;
}
#header ul#main-nav li.first {
    padding: 0;
    background-image: none;
}
#header ul#main-nav li {
    list-style-type: none;
    float: left;
    background: transparent url('../images/site/star_divider.png')/*tpa=http://www.toysrusinc.com/assets/images/site/star_divider.png*/ no-repeat 0 0;
    padding-left: 54px;
    height: 14px;
    line-height: 14px;
}

/*-------- Left Nav --------*/
div#left-nav {
    float:left;
    width:235px;
    
}
#left-nav .divider {
    background: transparent url('../images/site/left_nav_divider.png')/*tpa=http://www.toysrusinc.com/assets/images/site/left_nav_divider.png*/ repeat-x 0 0;
    height: 3px;
    margin: 0 0 10px 0;
}
#left-nav ul {list-style-type: none;margin-bottom: 13px;}
#left-nav li {font-size: 12px;text-transform: uppercase;padding: 7px 0;}
#left-nav li.category {font-weight: bold;font-size: 13px;}
#left-nav li.selected {padding: 5px 0 5px 2px;margin: 2px 0;background-color: #514e85;}
#left-nav li.selected a {color: #fff;}
#left-nav li a {text-decoration: none;color: #0f4dbc;}

/*-------- Footer --------*/

div#footer {
    color: #939598;
    clear:both;
    font-size: 11px;
    width: 100%;
    text-align: center;
    margin-bottom: 31px;
}
div#footer ul {
    list-style: none;
    margin-bottom: 7px;
}
div#footer ul.external-links li {
    margin: 9px;
}
div#footer ul li {
    display: inline;
    margin: 13px;
}
div#footer li a {
    color: #939598;
    text-decoration: none;
}



#slcontainer {
	overflow: hidden;
	min-height: 815px;
  }

body#locator #main-content {
	padding-bottom: 24px;
  }


/*-------- Main Content ---------*/

#main-content {
    padding: 0 0 48px 24px;
    float:left;
	display: inline;
	overflow: hidden;
    width:695px;
	font-size: 11px;
	font-family: Verdana, Arial, sans-serif;
}


body.wide #main-content {
  width: 980px;
  padding: 0 0 24px 0px;
  }

#main-content #full-width-flash {
    background-color: #ddd;
    width: 695px;
    /*height: 294px;*/
    margin-bottom: 15px;
    float: left;
}
#main-content .breadcrumbs {
    list-style: none;
    /*margin: 23px 0 12px 0;*/
    margin: 0px 0 12px 0;
    height: 15px;
	font-family: Arial, sans-serif;
	
	float: left;
	display: block;
	width: 100%;
	clear: both;
	
}
#main-content .breadcrumbs li {
    float: left;
    padding-left: 16px;
    text-transform: uppercase;
    color: #939598;
    font-size: 10px;
    background: transparent url('../images/site/triangle_light.png')/*tpa=http://www.toysrusinc.com/assets/images/site/triangle_light.png*/ no-repeat 0 0;
	margin-left: 0;
}
#main-content .breadcrumbs li.first {
    padding-left: 0;
    background-image: none;
}
#main-content .breadcrumbs li a {
    text-decoration: none;
    color: #939598;
}
#main-content .two-column img {
    /*width: 454px;
    height: 364px;*/
}
#main-content .two-column a {
    color: #00f;
}
#main-content .two-column-left {
    clear: both;
    float: left;
    width: 452px;
    margin-right: 42px;
   
    overflow: hidden;  
}

h1 {
    color: #0f4dbc;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 15px;
    margin: 0 0 23px 0;
    font-weight: lighter;
}
h2 {
	margin: 13px 0;
}
p {
    font-size: 11px;
    margin: 15px 15px 15px 0;
}

#main-content ul, #main-content ol {margin: 12px 0;}
#main-content li {margin-left: 18px; margin-bottom: 4px;line-height: 1.4;}
#main-content ul ul {margin-top: 5px;margin-bottom: 5px;}

#main-content ul.faq-list li {
  margin-left: 0;
  }

#main-content ul.recall-links {
  clear: both;
  list-style: none;
  float: left;
  width: 100%;
  margin-top: 0;
  }

#main-content ul.recall-links li {
  margin: 0;
  padding: 0;
  display: inline;
  }

#main-content ul.recall-links li.lang-es a,
#main-content ul.recall-links li.lang-en a
 {
  background: transparent url(../images/site/espanol.gif)/*tpa=http://www.toysrusinc.com/assets/images/site/espanol.gif*/ 0 1px no-repeat;
  display: inline;
  float: left;
  height: 30px;
  width: 73px;
  text-indent: -9999px;
  }

#main-content ul.recall-links li.lang-en a
 {
  background: transparent url(../images/site/english.gif)/*tpa=http://www.toysrusinc.com/assets/images/site/english.gif*/ 0 1px no-repeat;
  width: 71px;
  }

#main-content ul.recall-links li.pdf-en a,
#main-content ul.recall-links li.pdf-es a {
  background: transparent url(../images/site/print_this_page.gif)/*tpa=http://www.toysrusinc.com/assets/images/site/print_this_page.gif*/ 0 0 no-repeat;
  display: inline;
  float: right;
  height: 30px;
  width: 150px;
  text-indent: -9999px;
  }

#main-content ul.recall-links li.pdf-es a {
  background: transparent url(../images/site/print_this_page_sp.gif)/*tpa=http://www.toysrusinc.com/assets/images/site/print_this_page_sp.gif*/ 0 0 no-repeat;
  width: 195px;
  }



#main-content img.left {float: left; margin: 0 10px 10px 0;}
#main-content img.right {float: right; margin: 0 0px 10px 10px;}

#main-content .exec-block {margin: 20px 0 40px;}
#main-content .exec-block h3 {margin: 0;}
#main-content p.exec-info {margin: 5px 0;}

#main-content .two-column-right {
    float: left;
    width: 201px;
    

}
#main-content .two-column-right .captioned-image img {
    /*border: 1px solid #c0c0c0;
    padding: 6px;
    width: 186px;
    height: 88px;*/
    margin-bottom: 10px;
}
#main-content .two-column-right .captioned-image {
    color: #939598;
    margin-bottom: 41px;
}
#main-content .two-column-right .captioned-image h4 {
    font-size: 10px;
    text-transform: uppercase;
}
#main-content .two-column-right .captioned-image p {
    margin: 10px 0;   
}
#main-content .two-column-right .captioned-image .link a {
    text-decoration: none;
    color: #939598;
}
#main-content .two-column-right .captioned-image .link .link-wrapper {
    padding-right: 16px;
    background: transparent url('../images/site/triangle_dark.png')/*tpa=http://www.toysrusinc.com/assets/images/site/triangle_dark.png*/ no-repeat right;
}
#main-content .two-column .article-float-left {
    float: left;
    height: 160px;
    width: 160px;
    margin: 0 13px 10px 0;
}
#main-content .two-column p.profile {
    margin: 2px 0;
}
/* Commenting out the following line because it sets a fixed size on variably sized images. */
/*#main-content .full-width-image {
    width: 533px;
    height: 110px;
}*/
#main-content .full-width-image {
	margin: 0 0 15px 0;
}
#main-content .pdf-link {
    padding: 14px 0 3px 40px;
    background: transparent url('../images/site/pdf_link.png')/*tpa=http://www.toysrusinc.com/assets/images/site/pdf_link.png*/ no-repeat 0 0;
}
h2, #main-content h2 {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: lighter;
    /*margin-top: -6px;*/
}

#main-content .rss-site {
    margin-right: 26px;
}
#main-content .rss-link {
    margin-top: -15px 0 16px 0;
}
#main-content .hr {
    margin: 20px 0;
    background: transparent url('../images/site/rss_divider.png')/*tpa=http://www.toysrusinc.com/assets/images/site/rss_divider.png*/ repeat-x 0 0;
    height: 1px;
}
#main-content select {
    border: 1px solid #7f7f7f;
    padding: 1px;
    color: #939598;
    font-size: 11px;
    height: 26px;
    margin-right: 7px;
    position: relative;
    top: -9px;
}
#main-content option {
    margin: 7px;
}
#main-content h2.pages-right {
    float: right;
}
#main-content h2.pages-right a {
    color: #939598;
}
#main-content .two-column-right .pressroom-links {
    margin-bottom: 26px;
}
h3, #main-content h3 {
	color: #939598;
    font-size: 14px;
    font-weight: lighter;
    margin: 0 0 5px 0;
}
#main-content .two-column-left h3 {
    margin-bottom: -15px;
}
#main-content .two-column-right h3 {
    color: #8a8b8c;
}
#main-content .two-column-left input.go-button {
    position: relative;
    top: 3px;
}
#main-content .two-column-right .pressroom-links .link {
    margin: 0 0 5px 0;
    color: #8a8b8c;
    padding-left: 26px;
    background: transparent url('../images/site/triangle_dark.png')/*tpa=http://www.toysrusinc.com/assets/images/site/triangle_dark.png*/ no-repeat 0 0;
}
#main-content .two-column-right .pressroom-links .link a {
    color: #8a8b8c;
    text-decoration: none;
}
#main-content .two-column-right .rss-right .rss-link {
    background: transparent url('../images/site/rss_icon.png')/*tpa=http://www.toysrusinc.com/assets/images/site/rss_icon.png*/ no-repeat 0 0;
    padding-left: 20px;
}
#main-content .two-column-right .rss-right a {
    color: #939598;
    text-decoration: none;
}
#main-content .two-column-right .rss-right p {
    margin: 0;
}
#main-content .two-column-right .rss-right div.hr {
    margin: 20px 0 12px 0;
}
#main-content .two-column-left #half-width-flash {
    background-color: #dddddd;
    /*height: 300px;*/
    width: 450px;
    margin-bottom: 20px;
}
#main-content h5 {
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: -15px;
}
#main-content .two-column-right .image-right {
    margin-bottom: 41px;
}
#main-content .two-column-right .image-right img {
    width: 200px;
    height: 156px;
}

/* Image and Video Libraries */
#main-content .gallery {list-style: none;color: #8a8b8c;float: left;width: 695px;margin: 0;}
#main-content .gallery li {float: left; overflow: hidden; margin: 0 0 36px 0; width: 695px;}
#main-content .gallery li div {float: left;margin: 0 60px 0 0;width: 128px;}
#main-content .gallery li div.last {margin-right:0;}
#main-content .gallery img {margin-bottom: 13px;}
#main-content .gallery h6 {color: #000;font-size: 11px;}
#main-content .gallery p {margin: 0;}


/* Two-column content blocks (image in column on left, no wrapping). */
#main-content .content-col-2block {
    margin-bottom: 33px;
    float: left;
    display: inline;
    clear: both;
	width: 100%;
	}

#main-content .content-col-2block .img-left-wrap {
    width: 160px;
    float: left;
    margin-right: 10px;
	}

#main-content .content-col-2block div.content-right {
	overflow: hidden;
 	}
#main-content .content-col-2block div.content-right h2 {
  margin-bottom: 0;
  margin-top: 0;
  }
#main-content .content-col-2block div.content-right h3,
#main-content .content-col-2block div.content-right h4,
#main-content .content-col-2block div.content-right h5
	{margin-bottom: 0;}


/*-------- Home Page --------*/
#home-main-content {
    margin: 0 0 48px 0;
    width: 1000px;
}
#home-main-content #home-flash {
    width: 980px;
    height: 300px;
    margin-left: 10px;
}
#home-main-content #home-links {
    width: 1000px;
    margin-top: 3px;
}
#home-main-content #home-links #top-cap {
    float: left;
    background: transparent url('../images/site/home_links_top_cap.png')/*tpa=http://www.toysrusinc.com/assets/images/site/home_links_top_cap.png*/ no-repeat 0 0;
    width: 1000px;
    height: 20px;
}
#home-main-content #home-links #left-cap {
    clear: left;
    float: left;
    background: transparent url('../images/site/home_links_left_cap.png')/*tpa=http://www.toysrusinc.com/assets/images/site/home_links_left_cap.png*/ no-repeat 0 0;
    width: 18px;
    height: 35px;
}
#home-main-content #home-links #right-cap {
    float: left;
    background: transparent url('../images/site/home_links_right_cap.png')/*tpa=http://www.toysrusinc.com/assets/images/site/home_links_right_cap.png*/ no-repeat 0 0;
    width: 19px;
    height: 35px;
}
#home-main-content #home-links #bottom-cap {
    clear: left;
    float: left;
    background: transparent url('../images/site/home_links_bottom_cap.png')/*tpa=http://www.toysrusinc.com/assets/images/site/home_links_bottom_cap.png*/ no-repeat 0 0;
    width: 1000px;
    height: 24px;
}
#home-main-content #home-links img {
    float: left;
}


/* Home Featured area, below Flash splash */
#home-main-content #home-featured-wrap {
    margin: 7px 0 0 7px;
    background: transparent url('../images/site/vertical_divider.png')/*tpa=http://www.toysrusinc.com/assets/images/site/vertical_divider.png*/ repeat-y 983px 0;
}
#home-main-content .home-featured {
    float: left;
    width: 237px;
    height: 108px;
    background: transparent url('../images/site/vertical_divider.png')/*tpa=http://www.toysrusinc.com/assets/images/site/vertical_divider.png*/ repeat-y 0 0;
    padding-left: 9px;
    color: #2769DF;
}
#home-main-content .home-featured img {
    width: 83px;
    height: 100%;
    margin-right: 7px;
    float: left;
}
#home-main-content .home-featured .copy {
    margin-top: 15px;
    float: left;
    width: 142px;
}



#home-main-content h4 {
    font-size: 13px;
    text-transform: uppercase;
}
#home-main-content .home-featured p {
	margin-top: 0;
    font-size: 11px;
}
#home-main-content .home-featured a {
    background: transparent none no-repeat 0 0;
    padding-left: 13px;
    padding-top: 2px;
	text-decoration: none;
	color: #156ae2; /* default */
}
#home-main-content .pink {color: #f42f71;}
#home-main-content .pink a {
    color: #f42f71;
    text-decoration: none;
    background-image: url('../images/site/triangle_pink.png')/*tpa=http://www.toysrusinc.com/assets/images/site/triangle_pink.png*/;
}
#home-main-content .purple {color: #7d60bf;}
#home-main-content .purple a {
    color: #7d60bf;
    text-decoration: none;
    background-image: url('../images/site/triangle_purple.png')/*tpa=http://www.toysrusinc.com/assets/images/site/triangle_purple.png*/;
}
#home-main-content .dark-blue {color: #2769df;}
#home-main-content .dark-blue a {
    color: #2769df;
    text-decoration: none;
    background-image: url('../images/site/triangle_dark_blue.png')/*tpa=http://www.toysrusinc.com/assets/images/site/triangle_dark_blue.png*/;
}
#home-main-content .light-blue {color: #14bcf3;}
#home-main-content .light-blue a {
    color: #14bcf3;
    text-decoration: none;
    background-image: url('../images/site/triangle_light_blue.png')/*tpa=http://www.toysrusinc.com/assets/images/site/triangle_light_blue.png*/;
}

/*-------- Executive Committee --------*/
#main-content.executive-committee img {
	float: left;
	display: inline;
	padding: 0 5px 5px 0;
}
#main-content.executive-committee div {
	margin: 0 0 35px 0;
}

/*-------- Corporate Governance --------*/
#main-content.corporate-governance ul.governance-list li {
	list-style-image: url(../images/site/pdf_link.png)/*tpa=http://www.toysrusinc.com/assets/images/site/pdf_link.png*/;
	margin: 10px 0 0 30px;
}
#main-content.corporate-governance ul.governance-list li a {
	margin: 0 0 5px 0;
}

/*-------- Careers FAQ --------*/
#main-content.careers-faq li {
	list-style: none;
	margin: 0;
}
#main-content.careers-faq li h2 {
	margin: 0;
}
#main-content.careers-faq li p {
	margin: 6px 0 15px 0;
}

/*-------- Recalls --------*/
#main-content #recalls-list {
	border-spacing: 0;
}
#main-content #recalls-list tr th {
	padding: 3px 3px 3px 10px;
}
#main-content #recalls-list tr td {
	border-bottom: 1px #aaaaaa solid;
	padding: 10px;
	margin: 0;
	vertical-align: top;
}
#main-content #recalls-list tr td.manufacturer a {
	color: #000;
}
#main-content #recalls-list tr td a {
	text-decoration: none;
}
#main-content #recalls-list tr.first td {
	border-top: 1px #aaaaaa solid;
}
#main-content #recalls-list th.date {
	width: 130px;
}


/* small list of releases on Press Release main page, table cells are a bit compressed */
body#press-room #main-content #recalls-list td.date {
  width: 100px;
  padding-right: 0;
  }


/*-------- Safety FAQ --------*/
#main-content.safety-faq ol.categories {
	list-style-type: lower-alpha;
}

/*-------- Student Events --------*/

#main-content ul.states {
    list-style-type: none;
    margin-top: 13px;
	overflow: hidden;
}
#main-content .states li {
    float: left;
    font-size: 14px;
    width: 173px;
    line-height: 26px;
    color: #0F4DBC;
	margin-left: 0;
}
#main-content .states li a {
    color: #939598;
}
#main-content ul#recruitment-events {
    list-style-type: none;
}
#main-content ul#recruitment-events li.location {
    margin-bottom: 15px;
	margin-left: 0;
}
#main-content ul#recruitment-events ul {
    margin-top: 15px;
    list-style-type: none;
}
#main-content ul#recruitment-events li.location li {
    margin: 0 0 15px 133px;
}
#main-content ul#recruitment-events ul p {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    color: #939598;
}
#main-content ul#recruitment-events ul p.event {
    color: #000000;
}

/*-------- International Locations --------*/
#main-content ul#international-locations {
	list-style-type: none;
}
#main-content ul#international-locations li {
	display: inline;
}

#main-content ul#nations {
    list-style-type: none;
}
#main-content ul#nations li.nation {
    margin-bottom: 15px;
	margin-left: 0;
	overflow: hidden;
	float: left;
	clear: left;
}
#main-content ul#nations ul {
    margin-top: 15px;
    list-style-type: none;
	overflow: hidden;
}
#main-content ul#nations li.nation li {
	float: left;
	display: inline;
	overflow: hidden;
	margin: 0 0 20px 0;
	width: 695px;
}
#main-content ul#nations li.nation li div {
    margin: 0 0 0 32px;
    float: left;
	display: inline;
    width: 174px;
	overflow: hidden;
}
#main-content ul#nations ul p {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    color: #666;
}



.result {

  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #514e85;
  
  }

.result h2 {
  margin-top: 0;
  margin-bottom: 2px;
  }

.result .entry-date {
	font-size: 11px;
	font-style: italic;
	color: #666;
  margin-top: 0;
  margin-bottom: 5px;
  }


#formUserName {
  padding-left: 10px;
  float: left;
  }

#formUserName div {
  float: left;
  clear: left;
  margin-bottom: 10px;
  }

#formUserName div label {
     color: #0f4dbc;
    font-size: 16px;
    line-height: 1.5;
  }

#formUserName div label .required {
  color: #b00b00;
  }

#formUserName div input {

display: block;
  border: 1px solid #808080;
  padding: 5px;
  color: #939598;
  }

#formUserName div #submit {
  border: 1px solid #134dbb;
  padding: 3px 8px;
  background: #4b7acd;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  }

#formUserName div #submit:hover {
  cursor: pointer;
  background: #134dbb;
  }

  
  