/* CSS for Site Refresh LPB */
#z_mfpb {
    width: 940px;
    height: 300px;
    position: relative; }
#z_mfpb #z_nav {
    text-align: center;
    z-index: 1;
    position: absolute;
    bottom: 20px;
    width: 120px;
    margin-left: 410px;}
#z_mfpb #z_nav img {
    padding: 0px 4px 0px 0px; }
#z_mfpb #z_prev, #z_mfpb #z_next {
    width: 31px;
    height: 62px;
    position: absolute;
    z-index: 1;
    top: 120px;
    cursor: pointer; }
#z_mfpb #z_prev {
    background: url("images/left.png")/*tpa=http://www.staples.com/sbd/cre/_lib/css/images/left.png*/;
    left: 0px; }
#z_mfpb #z_next {
    background: url("images/right.png")/*tpa=http://www.staples.com/sbd/cre/_lib/css/images/right.png*/;
    right: 0px; }
#z_mfpb #z_container {
    clear: both;
    float: none;
    height: 300px;
    width: 940px;
    overflow: hidden;
    position: relative; }
#z_mfpb #z_container #z_slider {
    left: 0px;
    overflow: visible;
    position: absolute;
    top: 0px; }
#z_mfpb #z_container #z_slider div {
    float: left;
    position: relative;
    width: 940px; }
#z_mfpb #z_container #z_slider div.z_sliderimage {
    clear: none;
    float: left;
    height: 300px;
    margin: 0px;
    padding: 0px; }
#z_mfpb #z_container #z_slider div img {
    display: block; }

#bmj img {
    width: auto; }