/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#cboxOverlay, #cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	
}
#colorbox {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
}
#cboxOverlay {
	position:fixed;
	width:100%;
	height:100%;
}
#cboxMiddleLeft, #cboxBottomLeft { clear:left; }
#cboxContent { position:relative; }
#cboxLoadedContent { overflow:auto; }
#cboxTitle { margin:0; }
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor:pointer; }
.cboxPhoto {
	float:left;
	margin:auto;
	border:0;
	display:block;
}
.cboxIframe {
	width:100%;
	height:100%;
	display:block;
	border:0;
}
/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
	background-color:#000;
	background: rgba(0, 0, 0, 0.5);
}
#colorbox { }
#cboxContent { margin-top:20px; }
.cboxIframe { background:#373737; }
#cboxError {
	padding:50px;
	border:1px solid #ccc;
}
#cboxLoadedContent {
	border:7px solid #abaaaa;
	background:#373737;
}
#cboxTitle {
	bottom: 31px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	left: 150px;
	position: absolute;
	text-align: left;
	width: 80%;
}
#cboxCurrent {
	position:absolute;
	bottom:17px;
	right:25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#fff;
}
#cboxSlideshow {
	position:absolute;
	top:-20px;
	right:90px;
	color:#fff;
}
#cboxPrevious {
	position:absolute;
	top:50%;
	left:40px;
	margin-top:-32px;
	background:url(../../../images/version-3/sprites/products/lightbox-controls.png)/*tpa=http://www.symantec.com/images/version-3/sprites/products/lightbox-controls.png*/ no-repeat top left;
	width:38px;
	height:48px;
	text-indent:-9999px;
}
#cboxPrevious:hover { background-position:bottom left; }
#cboxNext {
	position:absolute;
	top:50%;
	right:40px;
	margin-top:-32px;
	background:url(../../../images/version-3/sprites/products/lightbox-controls.png)/*tpa=http://www.symantec.com/images/version-3/sprites/products/lightbox-controls.png*/ no-repeat top right;
	width:38px;
	height:48px;
	text-indent:-9999px;
}
#cboxNext:hover { background-position:bottom right; }
#cboxLoadingOverlay { background:#373737; }
#cboxLoadingGraphic { background:url(../../../images/version-3/overlay/sym-loading-icon.gif)/*tpa=http://www.symantec.com/images/version-3/overlay/sym-loading-icon.gif*/ no-repeat center center; }
#cboxClose {
	position:absolute;
	top:-15px;
	right:-10px;
	display:block;
	background:url(../../../images/version-3/sprites/products/lightbox-controls.png)/*tpa=http://www.symantec.com/images/version-3/sprites/products/lightbox-controls.png*/ no-repeat bottom center;
	width:26px;
	height:26px;
	text-indent:-9999px;
}
/*#cboxClose:hover { background-position:bottom center; }*/
