

.megaArea {
    position: absolute !important;
    top: 10px;
    right: 10px;
}

.numcols4   {width: 958px;}
.numcols4.extrawidth   {width: 750px;}
.numcols3   {width: 718px;}
.numcols2   {width: 600px;}
.numcols1   {width: 240px;}

.column {margin-right: 10px;}
.extrawidth {padding-right: 190px !important;}