body
{
	background:none;
}

#outer_wrap
{
	width:100%;
}


#checkout_wrap div.grayHead.grayULine {
    background-color: #fff !important;
        margin: 0 !important;
        padding: 0 !important;
    }

#body_wrap
{
	width:100%;
}

#checkout_wrap
{
	padding-left:0;
	padding-right:0;
}

body.hasLeftNav div#body_wrap
	{
	width:78%;
	}

body.hasLeftNav div#leftnav_wrap
	{
	width:20%;
	}

#header_wrap
{
	background:none;
	height:auto;
}

#content_wrap
{
	background:none;
	padding-left:0;
	padding-right:0;
}

.dont-print,
#header_mid,
#header_top ul,
#header_bot,
#footer_wrap,
#checkoutTrail
{
	display:none;
}

body#receipt div.content_top_left,
body#receipt #checkout_head_left
	{
	width:62%;
	}

body#receipt div.content_top_right,
body#receipt #checkout_head_right
	{
	width:37%;
	}

body#receipt div.order_wrap div.content_top_right
	{
	width:50%; /*subtotal display inside of each order summary */
	}

body#receipt div.button_row
	{
	padding:10px;
	}

.noprint {display: none;}




body #outer_wrap_bg, body#cart #outer_wrap_bg, body#receipt.checkout #outer_wrap_bg {
    background: none;
}


.universalTopContentArea {display:none;}

div#universalTabWrapper {
    display: none;

}

div#headerSearch {display: none;}

div#sub_footer {display: none;}

div.order_summary_wrap {
    border: 0px solid;
    width: 200px;
}



div#header_top #global_header {display: none;}

div#footer_cms {
    display: none;
}