ul.product-list-simple {
    list-style: none outside none;
    margin: 0 0 15px 25px;
}

div.one-third h7 {
    font-size: 16px;
}

/* Bug NOVUT-3534 */
.side-bar .shadowbox.alt h4{font-weight: 300;}

/*text color for SharedBanner*/
.feature .white-fg h2, .feature .white-fg h3 {
	color:#FFFFFF;
}
.feature .black-fg h2, .feature .black-fg h3 {
	color:#000000;
}

/*ProductIndex Links need to be reset to black*/
.product-list-simple li a {
    color: black;
}


/*extra line due to widget li*/

.side-bar li {
    border-bottom: 0px;
}

/* Careers - this was removed in phase 2 but still needed
------------------------------------------------------------ */
.careers-col { width: 47.9166666666%;}

