/* Global CSS style sheet */
body
{
	background-position: center top;
	background-repeat: repeat-x;
	background-color: #ebebeb;
	background-image: url(  '../images/ADMworldBackgroundGradient.jpg' )/*tpa=http://www.adm.com/_layouts/ADMworld/images/ADMworldBackgroundGradient.jpg*/;
	color: #7d7d7d;
	font-family: Verdana;
	font-size: 14px; /*height: 100%;*/
}

a:link, a:visited, a:active
{
	color: #0b2777;
	text-decoration: none;
}

a:hover
{
	color: #0b2777;
	text-decoration: underline;
}

/* Set position, dimensions, and border for main area */
#MainContentArea
{
	width: 950px;
	height: 100%;
	margin: 0 auto;
	background-color: White;
	border-color: #a1a1a1;
	border-width: 0 2px 2px;
	border-style: solid;
}

/* Style for ADMtopNav area */
#AdmTopNav a, #AdmTopNav a:link, #AdmTopNav a:visited, #AdmTopNav a:active
{
	font-size: 11px;
	color: #9a9a9a;
	text-decoration: none;
	cursor: pointer;
}

#AdmTopNav a:hover
{
	text-decoration: underline;
}

#AdmTopNav #ctl00_explicitLogout_ExplicitLogin
{
	padding-right: 11px;
	margin-left: 880px;
	width: 59px;
	text-align: right;
}

/* Styles for Site Actions */
#AdmTopNav .ms-siteaction
{
	float: right;
}

#AdmTopNav .ms-siteaction, #AdmTopNav .ms-siteaction a
{
	font: 11px verdana;
	color: #7d7d7d;
}

#AdmTopNav .ms-siteactionsmenu div div div
{
	background-image: none;
	border-style: none;
	background: transparent;
}

/* Styles for 'welcome name' */
#AdmTopNav .ms-SpLinkButtonInActive, #AdmTopNav .ms-SpLinkButtonActive
{
	padding: 0 0 3px 0;
	margin: 1px 0 0 0;
	float: right;
}

#AdmTopNav .ms-SPLink a
{
	font: 11px verdana;
	color: #7d7d7d;
	text-decoration: none;
}

#AdmTopNav .ms-SPLink a:hover
{
	text-decoration: underline;
}

/* Remove orange highlight from 'welcome name' hover */
#AdmTopNav .ms-HoverCellActive, #AdmTopNav .ms-SpLinkButtonActive, #AdmTopNav .ms-HoverCellActiveDark
{
	border: none;
	background-color: Transparent;
	background-image: none;
}

.ms-MenuUIPopupBody, .ms-MenuUIPopupBody div
{
	height: auto;
	overflow: visible !important;
	display: block !important;
}

/* Style for the company logo and site name link at top of page */
#AdmTopNav a.companyLogoLink
{
	margin-left: 52px;
	padding: 15px 0;
	display: inline;
	float: left;
}

/* Styles for static menu items in header */
#AdmTopNav #TopRightNavControl
{
	float: right;
	clear: right;
	margin: 24px 0 0 0;
	padding-right: 11px;
	font-size: 11px;
	color: #9a9a9a;
}

#AdmTopNav #TopRightNavControl a, #AdmTopNav #TopRightNavControl a:link, #AdmTopNav #TopRightNavControl a:visited, #AdmTopNav #TopRightNavControl a:active
{
	text-decoration: none;
	position: relative;
}

#AdmTopNav #TopRightNavControl a:hover
{
	text-decoration: underline;
}

#AdmTopNav .AdmSearchControl
{
	float: right;
	margin-top: 35px;
	clear: right;
	padding-right: 11px;
	position: relative;
}

#AdmTopNav .AdmSearchControl a
{
	font: bold 13px verdana;
	border: solid 1px #a1a1a1;
	text-decoration: none;
	color: #3e546e;
	width: 24px;
	display: block;
	text-align: center;
	float: left;
	margin-left: 6px;
	padding: 0 2px;
}

#AdmTopNav input.AdmSearchBox
{
	border: none;
	border: solid #a1a1a1;
	border-width: 1px 1px 1px 0;
	float: left;
	width: 171px;
	padding-left: 2px;
}

#AdmTopNav input.AdmSearchWatermarked
{
	border: none;
	border: solid #a1a1a1;
	border-width: 1px 1px 1px 0;
	float: left;
	width: 171px;
	padding-left: 2px;
	color: #a1a1a1;
}

#AdmTopNav .AdmSearchControl img
{
	border: solid #a1a1a1;
	border-width: 1px 0 1px 1px;
	position: absolute;
	left: -19px;
	padding: 2px 3px 1px 2px;
}

/* Styles for page footer */
#AdmFooter
{
	margin: 18px 11px 0;
	padding: 15px 0 30px 0;
	border-top: solid 1px #a1a1a1;
	font-size: 11px;
	color: #3e546e;
}

#AdmFooter a, #AdmFooter a:link, #AdmFooter a:visited, #AdmFooter a:active
{
	color: #9a9a9a;
	text-decoration: none;
}

#AdmFooter a:hover
{
	color: #9a9a9a;
	text-decoration: underline;
}

#AdmFooter #AdmFooterControl div
{
	display: inline;
}

/* Default Page Layout Styles */
.AdmPageLayout .AdmTopBanner
{
	line-height: 0;
}

.AdmPageLayout .AdmTopBanner img
{
	display: block;
	margin: 0 auto;
}

.AdmPageLayout .AdmBreadcrumb
{
	font-size: 11px;
	color: #7d7d7d;
	margin: 5px 0 18px 11px;
}

.AdmPageLayout .AdmBreadcrumb a, .AdmPageLayout .AdmBreadcrumb a:link, .AdmPageLayout .AdmBreadcrumb a:visited, .AdmPageLayout .AdmBreadcrumb a:active
{
	text-decoration: none;
	color: #7d7d7d;
}

.AdmPageLayout .AdmBreadcrumb a:hover
{
	color: #0b2777;
	text-decoration: underline;
}

.AdmPageLayout .AdmBreadcrumb span.breadcrumbCurrent
{
	color: #0b2777;
	font-weight: normal;
}

.AdmPageLayout .AdmBreadcrumb a.breadcrumbCurrent
{
	font-weight: normal;
}

.AdmPageLayout .AdmLeftNavWrapper
{
    margin: 0px;
    float: left;
    width: 215px;
    display: inline;
}


.AdmPageLayout .AdmLeftNav
{
	margin: 0 11px 0px 10px;
	padding: 0 11px 11px 11px;
	width: 168px;
	float: left;
	display: inline;
	border: solid 1px #a1a1a1;
	line-height: 1.2;
}


.AdmPageLayout .AdmLeftNav .AdmLeftNavTier1
{
	font-size: 16px;
}

.AdmPageLayout .AdmLeftNav .AdmLeftNavTier1 a
{
	color: #3e546e;
	text-decoration: none;
}

.AdmPageLayout .AdmLeftNav .AdmLeftNavTier2, .AdmPageLayout .AdmLeftNav .AdmLeftNavTier3
{
	font-size: 11px;
	color: #7d7d7d;
}

.AdmPageLayout .AdmLeftNav .AdmLeftNavTier2 a
{
	text-decoration: none;
}

.AdmPageLayout .AdmLeftNav .AdmLeftNavTier3 a
{
	text-decoration: none;
}

.AdmPageLayout .AdmLeftNav .AdmLeftNavTier1 td,
.AdmPageLayout .AdmLeftNav .AdmLeftNavTier2 td,
.AdmPageLayout .AdmLeftNav .AdmLeftNavTier3 td
{
	padding-top: 9px;
}

.AdmPageLayout .AdmLeftNav .AdmLeftNavTier3 td
{
	padding-left: 10px;
}

.AdmPageLayout .AdmLeftNav .AdmLeftNavSelected
{
	color: #0b2777;
}

.AdmPageLayout .AdmLeftNav .AdmLeftNavTier1 a:hover, .AdmPageLayout .AdmLeftNav .AdmLeftNavTier2 a:hover, .AdmPageLayout .AdmLeftNav .AdmLeftNavTier3 a:hover
{
	text-decoration: underline;
}

.AdmPageLayout .AdmLeftNav .AdmLeftNavTier2 a:active, .AdmPageLayout .AdmLeftNav .AdmLeftNavTier3 a:active
{
	color: #0b2777;
}

.AdmPageLayout .AdmPageContent
{
	float: left;
	margin: 0px 10px 0px 10px;
	width: 472px;
	min-height:50px;
	display: inline; /* IE 6 double margin fix */
	font-size: 12px;
	color: #7d7d7d;
	line-height: 1.5;
}

/*  ADM Webpart Widths
    All Possible web part zones that could contain an AdmWebpart 
    Set their width to auto in order for the web part code to function
    properly.
*/
.AdmPageLayout #MiddleWebParts #LeftBodyText .AdmWebpart
.AdmPageLayout #MiddleWebParts #RightBodyText .AdmWebpart
.AdmPageLayout #TopWebPart .AdmWebpart
.AdmPageLayout .AdmBannerToolkits .AdmWebpart
.AdmPageLayout .AdmColumnedContent .AdmEqualColumnPageContent .AdmWebpart
.AdmPageLayout .AdmColumnedContent .AdmNarrowColumnPageContent .AdmWebpart
.AdmPageLayout .AdmColumnedContent .AdmPageContent .AdmWebpart
.AdmPageLayout .AdmColumnedContent .AdmPageRightToolkits .AdmWebpart
.AdmPageLayout .AdmColumnedContent .AdmTopPageContent .AdmWebpart
.AdmPageLayout .AdmColumnedContent .AdmWideColumnPageContent .AdmWebpart
.AdmPageLayout .AdmColumnedContentNoLeftNav .AdmPageContent .AdmWebpart
.AdmPageLayout .AdmColumnedContentNoLeftNav .AdmPageRightToolkits .AdmWebpart
.AdmPageLayout .AdmLeftNavWrapper .AdmLeftNavBottom .AdmWebpart
.AdmPageLayout .AdmLeftNavWrapper .AdmLeftNavTop .AdmWebpart
.AdmPageLayout .AdmPageContent .AdmPageToolkits #LeftWebPart .AdmWebpart
.AdmPageLayout .AdmPageContent .AdmPageToolkits #RightWebPart .AdmWebpart
.AdmPageLayout .AdmPageContent .AdmPageToolkits .AdmWebpart
{
    width:auto;
}
/* See ADM Webpart Widths 
.AdmPageLayout .AdmPageContent .AdmWebpart
{
    width:715px;
}
*/


.AdmPageLayout .AdmColumnedContent
{
	float: left;
	margin: 0px;
	width: 724px;
	display: inline; /* IE 6 double margin fix */
	font-size: 12px;
	color: #7d7d7d;
	line-height: 1.5;
}

.AdmPageLayout .AdmColumnedContentNoLeftNav
{
	float: left;
	margin: 0px;
	width: 950px;
	display: inline; /* IE 6 double margin fix */
	font-size: 12px;
	color: #7d7d7d;
	line-height: 1.5;
}

#MSO_tblPageBody .AdmPageLayout
{
	width:950px !important;
}

.AdmPageLayout .AdmTopPageContent
{
	float: left;
	margin: 0px 0px 0px 10px;
	width: 714px;
	display: inline; /* IE 6 double margin fix */
	font-size: 12px;
	color: #7d7d7d;
	line-height: 1.5;
}

.AdmPageLayout .AdmEqualColumnPageContent
{
	float: left;
	margin: 0px 10px 0px 10px;
	width: 347px;
	display: inline; /* IE 6 double margin fix */
	font-size: 12px;
	color: #7d7d7d;
	line-height: 1.5;
}

/* See ADM Webpart Widths 
.AdmPageLayout .AdmEqualColumnPageContent .AdmWebpart
{
	width:323px;
}
*/

.AdmPageLayout .AdmWideColumnPageContent
{
	float: left;
	width: 382px;
	margin: 0px 10px 0px 10px;
	display: inline;
	font-size: 12px;
	color: #7d7d7d;
	line-height: 1.5;
}

/* See ADM Webpart Widths 
.AdmPageLayout .AdmWideColumnPageContent .AdmWebpart
{
    width: 358px;
}
*/

.AdmPageLayout .AdmNarrowColumnPageContent
{
	float: left;
	width: 312px;
	margin: 0 0px;
	display: inline;
	font-size: 12px;
	color: #7d7d7d;
	line-height: 1.5;
}

/* See ADM Webpart Widths 
.AdmPageLayout .AdmNarrowColumnPageContent .AdmWebpart
{
    width: 288px;
}
*/

.AdmPageLayout .AdmPageContent p,
.AdmPageLayout .AdmColumnedContent p,
.AdmPageLayout .AdmTopPageContent p,
.AdmPageLayout .AdmEqualColumnPageContent p,
.AdmPageLayout .AdmWideColumnPageContent p,
.AdmPageLayout .AdmNarrowColumnPageContent p
{
	margin-bottom: 11px;
}

.AdmPageLayout .AdmPageContent .ReleaseContent .pageText,
.AdmPageLayout .AdmColumnedContent .ReleaseContent .pageText,
.AdmPageLayout .AdmTopPageContent .ReleaseContent .pageText,
.AdmPageLayout .AdmEqualColumnPageContent .ReleaseContent .pageText,
.AdmPageLayout .AdmWideColumnPageContent .ReleaseContent .pageText,
.AdmPageLayout .AdmNarrowColumnPageContent .ReleaseContent .pageText
{
	margin-bottom: 0px;
}

.AdmPageLayout .AdmPageContent .Boilerplate .pageText,
.AdmPageLayout .AdmColumnedContent .Boilerplate .pageText,
.AdmPageLayout .AdmTopPageContent .Boilerplate .pageText,
.AdmPageLayout .AdmEqualColumnPageContent .Boilerplate .pageText,
.AdmPageLayout .AdmWideColumnPageContent .Boilerplate .pageText,
.AdmPageLayout .AdmNarrowColumnPageContent .Boilerplate .pageText
{
	margin-top: 0px;
}

.AdmPageLayout .AdmPageContent h1,
.AdmPageLayout .AdmColumnedContent h1,
.AdmPageLayout .AdmTopPageContent h1,
.AdmPageLayout .AdmEqualColumnPageContent h1,
.AdmPageLayout .AdmWideColumnPageContent h1,
.AdmPageLayout .AdmNarrowColumnPageContent h1
{
	font: 20px verdana;
	color: #3e546e;
	line-height: 1.5;
	padding-bottom: 5px;
}

.AdmPageLayout .AdmPageContent a, .AdmPageLayout .AdmPageContent a:link, .AdmPageLayout .AdmPageContent a:visited, .AdmPageLayout .AdmPageContent a:active,
.AdmPageLayout .AdmColumnedContent a, .AdmPageLayout .AdmColumnedContent a:link, .AdmPageLayout .AdmColumnedContent a:visited, .AdmPageLayout .AdmColumnedContent a:active,
.AdmPageLayout .AdmTopPageContent a, .AdmPageLayout .AdmTopPageContent a:link, .AdmPageLayout .AdmTopPageContent a:visited, .AdmPageLayout .AdmTopPageContent a:active,
.AdmPageLayout .AdmEqualColumnPageContent a, .AdmPageLayout .AdmEqualColumnPageContent a:link, .AdmPageLayout .AdmEqualColumnPageContent a:visited, .AdmPageLayout .AdmEqualColumnPageContent a:active,
.AdmPageLayout .AdmWideColumnPageContent a, .AdmPageLayout .AdmWideColumnPageContent a:link, .AdmPageLayout .AdmWideColumnPageContent a:visited, .AdmPageLayout .AdmWideColumnPageContent a:active,
.AdmPageLayout .AdmNarrowColumnPageContent a, .AdmPageLayout .AdmNarrowColumnPageContent a:link, .AdmPageLayout .AdmNarrowColumnPageContent a:visited, .AdmPageLayout .AdmNarrowColumnPageContent a:active
{
	/*color: #0b2777;*/
	text-decoration: none;
}

.AdmPageLayout .AdmPageContent a:hover,
.AdmPageLayout .AdmColumnedContent a:hover,
.AdmPageLayout .AdmTopPageContent a:hover,
.AdmPageLayout .AdmEqualColumnPageContent a:hover,
.AdmPageLayout .AdmWideColumnPageContent a:hover,
.AdmPageLayout .AdmNarrowColumnPageContent a:hover
{
	color: #0b2777;
	text-decoration: underline;
}

.AdmPageLayout .AdmPageContent .AdmPageTitle,
.AdmPageLayout .AdmColumnedContent .AdmPageTitle,
.AdmPageLayout .AdmTopPageContent .AdmPageTitle,
.AdmPageLayout .AdmEqualColumnPageContent .AdmPageTitle,
.AdmPageLayout .AdmWideColumnPageContent .AdmPageTitle,
.AdmPageLayout .AdmNarrowColumnPageContent .AdmPageTitle
{
	font-size: 20px;
	color: #3e546e;
	line-height: 2;
}

.AdmPageLayout .AdmPageContent .AdmPageTitle .AdmPressReleaseDetailTitle,
.AdmPageLayout .AdmColumnedContent .AdmPageTitle .AdmPressReleaseDetailTitle,
.AdmPageLayout .AdmTopPageContent .AdmPageTitle .AdmPressReleaseDetailTitle,
.AdmPageLayout .AdmEqualColumnPageContent .AdmPageTitle .AdmPressReleaseDetailTitle,
.AdmPageLayout .AdmWideColumnPageContent .AdmPageTitle .AdmPressReleaseDetailTitle,
.AdmPageLayout .AdmNarrowColumnPageContent .AdmPageTitle .AdmPressReleaseDetailTitle,
.AdmPageLayout .AdmPageContent .AdmPageTitle .AdmRecipeTitle
{
	line-height: 1.5;
}

.AdmPageLayout .AdmPageContent .PressReleaseLinkContainer .MoreLink
{
	padding-top: 10px;
}

.AdmPageLayout .AdmPageRightToolkits
{
	float: left;
	width: 222px;
	margin: 0px 0px 0px 10px;
	display: inline;
}

.AdmPageLayout .AdmWebpart
{
	/* See ADM Webpart Widths 
    width: 198px;
    */
	border: solid 1px #a1a1a1;
	padding: 0 11px 11px 11px;
	line-height: 1;
	color: #7d7d7d;
	font-size: 11px;
	margin-bottom: 10px;
}

.AdmPageLayout .ms-PartSpacingVertical
{
    padding:0px;
    margin:0px;
}

.AdmPageLayout .AdmLeftNavTop
{
    clear: both; 
    width:auto;
/* Removed to make div invisible when no web parts are created in the div */
/*    float: left;  */
/*    margin: 0px 0px 0px 0px; */
/*    width: 192px; */
/*     display: inline;  */
}

.AdmPageLayout .AdmLeftNavBottom
{
    clear: both; 
    width:auto;
/* Removed to make div invisible when no web parts are created in the div */
/*    float: left;  */
/*    margin: 10px 0px 0px 0px; */
/*    width: 192px; */
/*     display: inline;  */
}

/* See ADM Webpart Widths 
.AdmPageLayout .AdmPageRightToolkits .AdmWebpart
{
    width:auto;
}
*/

.AdmPageLayout .AdmLeftNavTop .ms-WPBody
{
/* See ADM Webpart Widths 
    width:auto;
*/
    /*width:190px; */
    margin: 0px 13px 11px 10px;
}


.AdmPageLayout .AdmLeftNavTop .AdmWebpart
{
    margin: 0px 0px 11px 0px;
}

.AdmPageLayout .AdmLeftNavBottom .ms-WPBody
{
/* See ADM Webpart Widths 
    width:auto;
*/
/*    width:190px;*/
    margin: 11px 13px 0px 10px;
}

.AdmPageLayout .AdmLeftNavBottom .AdmWebpart
{
/* See ADM Webpart Widths 
    width:auto;
*/
/*    width:190px;*/
    margin: 11px 0px 0px 0px;
}

.AdmPageLayout .AdmColumnedContent .AdmTopPageContent
{
    margin-bottom:0px;
}

.AdmPageLayout .AdmColumnedContent .AdmTopPageContent .AdmWebpart
{
/* See ADM Webpart Widths 
    margin-bottom: 10px; 
*/
    /*width: 714px;*/
    width:auto;
}

.AdmPageLayout .AdmColumnedContent .AdmPageContent .AdmWebpart
{
    margin-bottom: 10px; 
/* See ADM Webpart Widths 
    width:auto;
*/
    /*width: 470px;*/
}

.AdmPageLayout .AdmWebpart h1
{
	color: #0b2777;
	font-size: 16px;
}

.AdmPageLayout .AdmWebpart .AdmWebpartMoreLess
{
	margin: 0px;
}

.AdmPageLayout .AdmWebpart .AdmCountryWebpartMoreLess
{
	margin-left: 36px;
	margin-right: 6px;
	margin-top: 6px;
	margin-bottom: 3px;
}

.AdmPageLayout .AdmWebpart .AdmProductsAndServicesWebpartMoreLess
{
	margin-left: 3px;
	margin-right: 6px;
	margin-top: 6px;
	margin-bottom: 3px;
}

.AdmPageLayout .AdmWebpart .AdmRelatedItemsWebpartMoreLess
{
	margin-left: 25px;
	margin-right: 6px;
	margin-top: 6px;
	margin-bottom: 3px;
}

.AdmPageLayout .AdmWebpart .AdmWebpartTitle
{
	font: 16px verdana;
	color: #3e546e;
	line-height: 2;
	text-decoration: none;
}

.AdmPageLayout .AdmWebpart .AdmWebpartTitle2
{
	font: 11px verdana;
	color: #3e546e;
	line-height: 1.2;
	text-decoration: none;
	padding-top: 11px;
	padding-bottom: 11px;
}

.AdmPageLayout .AdmWebpart .PressReleaseDate
{
	white-space: nowrap;
}

.AdmPageLayout .AdmWebpart a, .AdmPageLayout .AdmWebpart a:link, .AdmPageLayout .AdmWebpart a:visited, .AdmPageLayout .AdmWebpart a:active
{
	font-size: 11px;
	text-decoration: none;
	color: #0b2777;
}

.AdmPageLayout .AdmWebpart a:hover
{
	text-decoration: underline;
}

.AdmPageLayout .AdmWebpart td
{
	padding: 3px;
}

.AdmPageLayout .AdmWebpart .RelatedRecipeTitle, 
.AdmPageLayout .AdmWebpart .RelatedRecipeTitle td
{
	padding-top: 6px;
}

.LayoutPageContent
{
	float: left;
	margin: 0 11px;
	width: 95%;
	display: inline; /* IE 6 double margin fix */
	font-size: 12px;
	color: #7d7d7d;
	line-height: 1.5;
}

.LayoutPageContent p
{
	margin-bottom: 11px;
}

.LayoutPageContent h1
{
	font: 20px verdana;
	color: #3e546e;
	line-height: 2;
}

.LayoutPageContent a,
.LayoutPageContent a:link,
.LayoutPageContent a:visited,
.LayoutPageContent a:active
{
	/*color: #0b2777;*/
	text-decoration: none;
}

.LayoutPageContent a:hover
{
	color: #0b2777;
	text-decoration: underline;
}

.LayoutPageContent .AdmPageTitle
{
	font-size: 20px;
	color: #3e546e;
	line-height: 2;
}

/* Home Page Layout */
#AdmHomePage
{
	padding: 17px 24px;
}

#AdmHomePage h1
{
	font-size: 16px;
	color: #3e546e;
	line-height: 2;
	font-weight: normal;
	text-decoration: none;
}

#AdmHomePage p, #AdmHomePage span
{
	font-size: 11px;
	color: #7d7d7d;
	line-height: 1.5;
}

#AdmHomePage span.ms-formvalidation
{
	color: #ff0000;
}

#AdmHomePage #CenterWebPart .AdmHomePageArrow
{
	vertical-align: top;
	padding-top: 8px;
}

#AdmHomePage #CenterWebPart .AdmHomePageMiddleWebPart
{
	padding-left: 9px;
}

#AdmHomePage a, #AdmHomePage a:link, #AdmHomePage a:visited, #AdmHomePage a:active
{
	font-size: 11px;
	color: #0b2777;
	text-decoration: none;
}

#AdmHomePage a:hover
{
	text-decoration: underline;
}

#AdmHomePage .AdmWebpart
{
	border: none;
	padding: 0;
/* See ADM Webpart Widths 
	width: auto;
*/
}

#AdmHomePage .AdmWebpart td
{
	padding: 0 0 5px 0;
}

#AdmHomePage .AdmWebpart td.PressReleaseTitle
{
	padding-left: 11px;
}


#AdmHomePage #RightBodyText a
{
	line-height: 1.5;
}

#AdmHomePage #LeftBodyText
{
	padding: 0 26px 0 23px;
	margin-top: 22px;
	width: 243px;
	overflow: hidden;
}

#AdmHomePage #CenterWebPart
{
	border: solid #a1a1a1;
	border-width: 0 1px 0 1px;
	width: 266px;
	padding: 0 21px 0 22px;
	/* fix for ie 6 min-height issue */
	min-height: 175px;
	height: auto !important;
	height: 175px;
}

#AdmHomePage #RightBodyText
{
	padding: 0 23px 0 38px;
	width: 215px;
	overflow: hidden;
}

#AdmHomePage #RightBodyText li
{
	list-style-type: disc;
}

#AdmHomePage #LeftBodyText, #AdmHomePage #CenterWebPart, #AdmHomePage #RightBodyText
{
	margin-top: 22px;
	float: left;
}

#AdmHomePage #BottomWebPart
{
	margin-top: 11px;
}

#AdmHomePage #SmallStockQuote
{
	margin-bottom: 11px;
}

/* DetailL2 Page Layout */
#AdmDetailL2Page .AdmPageContent, #AdmLandingPage .AdmPageContent,
#AdmContactUs .AdmPageContent, #SiteMapPage .AdmPageContent,
#AdmPressReleaseListPage .AdmPageContent
{
	width: 684px;
}

#AdmSplashPage .AdmPageContent
{
	width: auto;
}

#AdmSplashPage #LeftWebPart
{
	width: 459px;
	margin-right: 10px;
	float: left;
	display: inline;
}

#AdmSplashPage #RightWebPart
{
	width: 459px;
	float: left;
}

/* Search Results and Search Results Pager */
#AdmSearchResults .AdmPageContent
{
	width: 714px;
}

tr.AdmSearchResult td
{
	padding-bottom: 11px;
}

tr.AdmSearchResult td img
{
	padding-right: 9px;
}

.AdmPageLayout .AdmPageContent .SearchAbstract
{
	padding-left: 25px;
	margin-bottom: 11px;
}

ul.PagerNum
{
	list-style-type: none;
}

.AdmPageLayout ul.PagerNum a, .AdmPageLayout ul.PagerNum a:link, .AdmPageLayout ul.PagerNum a:visited, .AdmPageLayout ul.PagerNum a:active
{
	font-size: 11px;
	text-decoration: none;
}

.AdmPageLayout ul.PagerNum a:hover
{
	color: #7d7d7d;
}

ul.PagerNum li
{
	display: inline;
	margin-right: 5px;
}

/* Contact Us Page */
.AdmContactUsList table
{
	width: 100%;
	margin-bottom: 22px
}

.AdmContactUsInfo
{
	margin-bottom: 11px;
}

.AdmContactUsInfo p
{
	float: left;
	clear: both;
}

.AdmPageLayout .AdmPageContent .AdmContactUsInfo p
{
	float: left;
	clear: both;
	margin: 0px;
}


.AdmContactUsInfo span
{
	float: left;
	display: block;
	margin-right: 11px;
}

.AdmContactUsInfo span.AdmContactUsLinkColumn
{
	
}

.AdmPageLayout .AdmContactUsList table a, .AdmContactUsList table a:link, .AdmContactUsList table a:visited, .AdmContactUsList table a:active
{
	text-decoration: none;
}

.AdmPageLayout .AdmContactUsList table a:hover
{
	text-decoration: underline;
}

.AdmContactUsList td
{
	padding: 3px 0;
}

.AdmContactUsList tr.ContactUsGroup
{
	margin-top: 22px;
}

.AdmContactUsList tr.ContactUsGroup td
{
	padding-left: 25px;
	color: #000000;
	background-color: #a1a1a1;
}

.AdmContactUsList tr.ContactUsItem td
{
	border-bottom: solid 1px #a1a1a1;
}

.AdmContactUsList tr.ContactUsItem td img
{
	float: left;
	margin-right: 5px;
}

.AdmContactUsList tr.ContactUsItem td.ContactTitle
{
	padding-left: 25px;
	width: 245px;
}

.AdmContactUsList tr.ContactUsItem td.ContactWebsite
{
	width: 137px;
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

/* Contact Us Overlay */
.ContactUsOverlay, 
.FeedbackFormOverlay,
.ReviewFormOverlay,
.PREmailSubscriptionFormOverlay,
.PasswordChangeOverlay,
.PasswordForgotOverlay,
.DistributorOverlay,
.FlexFormOverlay
{
	background-color: #ffffff;
	width: 434px;
	padding: 20px 14px 28px 3px;
	border: solid 1px #000000;
	font-size: 11px;
	line-height: 1.5;
	z-index:5;
}

.FlexForm,
.FlexFormTransparent
{
	font-size: 11px;
	line-height: 1.5;
}

.ContactUsOverlay .CloseButton, 
.FeedbackFormOverlay .CloseButton,
.ReviewFormOverlay .CloseButton,
.PREmailSubscriptionFormOverlay .CloseButton,
.PasswordChangeOverlay .CloseButton,
.PasswordForgotOverlay .CloseButton,
.DistributorOverlay .CloseButton,
.FlexFormOverlay .CloseButton
{
	position: absolute;
	top: 6px;
	right: 6px;
}

.ContactUsOverlay .CloseButton a, .ContactUsOverlay .CloseButton a:link, .ContactUsOverlay .CloseButton a:visited, .ContactUsOverlay .CloseButton a:active,
.EventsOverlay  .CloseButton a, .EventsOverlay  .CloseButton a:link, .EventsOverlay  .CloseButton a:visited, .EventsOverlay  .CloseButton a:active,
.FeedbackFormOverlay  .CloseButton a, .FeedbackFormOverlay  .CloseButton a:link, .FeedbackFormOverlay  .CloseButton a:visited, .FeedbackFormOverlay  .CloseButton a:active,
.ReviewFormOverlay  .CloseButton a, .ReviewFormOverlay  .CloseButton a:link, .ReviewFormOverlay  .CloseButton a:visited, .ReviewFormOverlay  .CloseButton a:active,
.PREmailSubscriptionFormOverlay  .CloseButton a, .PREmailSubscriptionFormOverlay  .CloseButton a:link, .PREmailSubscriptionFormOverlay  .CloseButton a:visited, .PREmailSubscriptionFormOverlay  .CloseButton a:active,
.PasswordChangeOverlay  .CloseButton a, .PasswordChangeOverlay  .CloseButton a:link, .PasswordChangeOverlay  .CloseButton a:visited, .PasswordChangeOverlay  .CloseButton a:active,
.PasswordForgotOverlay  .CloseButton a, .PasswordForgotOverlay  .CloseButton a:link, .PasswordForgotOverlay  .CloseButton a:visited, .PasswordForgotOverlay  .CloseButton a:active,
.DistributorOverlay  .CloseButton a, .DistributorOverlay  .CloseButton a:link, .DistributorOverlay  .CloseButton a:visited, .DistributorOverlay  .CloseButton a:active,
.FlexFormOverlay  .CloseButton a, .FlexFormOverlay  .CloseButton a:link, .FlexFormOverlay  .CloseButton a:visited, .FlexFormOverlay  .CloseButton a:active
{
	text-decoration: none;
	color: #7d7d7d;
	
}

.ContactUsOverlay .CloseButton input,
.FeedbackFormOverlay .CloseButton input,
.ReviewFormOverlay .CloseButton input,
.PREmailSubscriptionFormOverlay .CloseButton input,
.PasswordChangeOverlay .CloseButton input,
.PasswordForgotOverlay .CloseButton input,
.DistributorOverlay .CloseButton input,
.FlexFormOverlay .CloseButton input
{
	vertical-align: -5px;
}

.ContactUsOverlay h2.ModalTitle,
.FeedbackFormOverlay h2.ModalTitle,
.ReviewFormOverlay h2.ModalTitle,
.PREmailSubscriptionFormOverlay h2.ModalTitle,
.PasswordChangeOverlay h2.ModalTitle,
.PasswordForgotOverlay h2.ModalTitle,
.DistributorOverlay h2.ModalTitle,
.FlexFormOverlay h2.ModalTitle,
.FlexForm h2.ModalTitle,
.FlexFormTransparent h2.ModalTitle
{
	font-size: 16px;
	color: #3e546e;
	clear: both;
	font-weight: normal;
	margin-bottom: 10px;
}

.ContactUsOverlay h2.ModalTitle, .ContactUsOverlay .AddressSection,
.FeedbackFormOverlay h2.ModalTitle,
.ReviewFormOverlay h2.ModalTitle,
.PREmailSubscriptionFormOverlay h2.ModalTitle,
.PasswordChangeOverlay h2.ModalTitle,
.PasswordForgotOverlay h2.ModalTitle,
.DistributorOverlay h2.ModalTitle, .DistributorOverlay .AddressSection,
.FlexFormOverlay h2.ModalTitle
{
	padding-left: 11px;
}

.FlexForm h2.ModalTitle,
.FlexFormTransparent h2.ModalTitle
{
	padding-left: 0px;
	padding-top: 5px;
}

.FlexFormOverlay div.Description,
.FlexForm div.Description,
.FlexFormTransparent div.Description
{
	padding-bottom: 11px;
}

.FlexFormOverlay div.Description
{
	padding-left: 11px;
}

.ContactUsOverlay table,
.FeedbackFormOverlay table,
.ReviewFormOverlay table,
.PREmailSubscriptionFormOverlay table,
.PasswordChangeOverlay table,
.PasswordForgotOverlay table,
.DistributorOverlay table,
.FlexFormOverlay table,
.FlexForm table,
.FlexFormTransparent table
{
	
}

.ContactUsOverlay tr.InputRow td.TextInput, .ContactUsOverlay .ValidationSummary,
.FeedbackFormOverlay tr.InputRow td.TextInput, .FeedbackFormOverlay .ValidationSummary,
.ReviewFormOverlay tr.InputRow td.TextInput, .ReviewFormOverlay .ValidationSummary,
.PREmailSubscriptionFormOverlay tr.InputRow td.TextInput, .PREmailSubscriptionFormOverlay .ValidationSummary,
.PasswordChangeOverlay tr.InputRow td.TextInput, .PasswordChangeOverlay .ValidationSummary,
.PasswordForgotOverlay tr.InputRow td.TextInput, .PasswordForgotOverlay .ValidationSummary,
.DistributorOverlay tr.InputRow td.TextInput, .DistributorOverlay .ValidationSummary,
.FlexFormOverlay .ValidationSummary,
.FlexForm .ValidationSummary,
.FlexFormTransparent .ValidationSummary
{
	text-align: right;
}

.FlexFormOverlay tr.InputRow td.TextInput
{
	text-align: left;
}

.FlexForm tr.InputRow td.TextInput
{
	text-align: left;
	/*color: rgba(0, 0, 0, 0.7);*/
}

.ReviewFormOverlay tr.InputRow td.TextInput2
{
	text-align: left;
}

/*
.ReviewFormOverlay tr.InputRow td.FuzzyLabel
{
	width: 300px;
}
*/

.PREmailSubscriptionFormOverlay tr.InputRow td.DropDownInput
{
	padding: 0px 0px 0px 3px;
}

.ContactUsOverlay tr.InputRow td.TextInput input,
.FeedbackFormOverlay tr.InputRow td.TextInput input,
.ReviewFormOverlay tr.InputRow td.TextInput input,
.PREmailSubscriptionFormOverlay tr.InputRow td.TextInput input,
.PasswordChangeOverlay tr.InputRow td.TextInput input,
.PasswordForgotOverlay tr.InputRow td.TextInput input,
.DistributorOverlay tr.InputRow td.TextInput input
{
	width: 200px;
	height: 20px;
	border: solid 1px #7d7d7d;
}

.FlexFormOverlay tr.InputRow td.TextInput input,
.FlexForm tr.InputRow td.TextInput input
{
	width: 300px;
	height: 20px;
	border: solid 1px #7d7d7d;
}

.FlexFormTransparent tr.InputRow td.TextInput input
{
	width: 300px;
	height: 20px;
	border: solid 1px #7d7d7d;
	background-color: transparent;
}

.FlexFormTransparent tr.InputRow td.DropDownInput select,
.FlexFormTransparent tr.InputRow td.DropDownInput textarea,
.FlexFormTransparent td textarea
{
	background-color: transparent;
}

.ReviewFormOverlay tr.InputRow td.TextInput2 input
{
	width: 200px;
	height: 20px;
	border: solid 1px #7d7d7d;
}

.PREmailSubscriptionFormOverlay tr.InputRow td.DropDownInput select
{
	width: 204px;
}

.ContactUsOverlay td textarea,
.FeedbackFormOverlay td textarea,
.ReviewFormOverlay td textarea,
.PREmailSubscriptionFormOverlay td textarea,
.PasswordChangeOverlay td textarea,
.PasswordForgotOverlay td textarea,
.DistributorOverlay td textarea
{
	width: 400px;
}

.FlexFormOverlay td textarea,
.FlexForm td textarea,
.FlexFormTransparent td textarea
{
	width: 300px;
}

.ContactUsOverlay td,
.FeedbackFormOverlay td,
.ReviewFormOverlay td,
.PREmailSubscriptionFormOverlay td,
.PasswordChangeOverlay td,
.PasswordForgotOverlay td,
.DistributorOverlay td,
.FlexFormOverlay td,
.FlexForm td,
.FlexFormTransparent td
{
	padding: 2px 0 2px 0;
	font-size: 11px;
}

.ContactUsOverlay td .HiddenValidator,
.FeedbackFormOverlay td .HiddenValidator,
.ReviewFormOverlay td .HiddenValidator,
.PREmailSubscriptionFormOverlay td .HiddenValidator,
.PasswordChangeOverlay td .HiddenValidator,
.PasswordForgotOverlay td .HiddenValidator,
.DistributorOverlay td .HiddenValidator,
.FlexFormOverlay td .HiddenValidator,
.FlexForm td .HiddenValidator,
.FlexFormTransparent td .HiddenValidator
{
	/* position: absolute; */
	left: 6px;
}

.ContactUsOverlay td textarea,
.FeedbackFormOverlay td textarea,
.ReviewFormOverlay td textarea,
.PREmailSubscriptionFormOverlay td textarea,
.PasswordChangeOverlay td textarea,
.PasswordForgotOverlay td textarea,
.DistributorOverlay td textarea,
.FlexFormOverlay td textarea,
.FlexForm td textarea,
.FlexFormTransparent td textarea
{
	vertical-align: top;
	border: solid 1px #7d7d7d;
}

.ContactUsOverlay td.CaptchaColumn,
.FeedbackFormOverlay td.CaptchaColumn,
.ReviewFormOverlay td.CaptchaColumn,
.PREmailSubscriptionFormOverlay td.CaptchaColumn,
.DistributorOverlay td.CaptchaColumn,
.FlexFormOverlay td.CaptchaColumn,
.FlexForm td.CaptchaColumn,
.FlexFormTransparent td.CaptchaColumn
{
	padding: 10px 0;
}

.ContactUsOverlay td.CaptchaColumn input,
.FeedbackFormOverlay td.CaptchaColumn input,
.ReviewFormOverlay td.CaptchaColumn input,
.PREmailSubscriptionFormOverlay td.CaptchaColumn input,
.DistributorOverlay td.CaptchaColumn input,
.FlexFormOverlay td.CaptchaColumn input,
.FlexForm td.CaptchaColumn input
{
	width: 126px;
	height: 20px;
	border: solid 1px #7d7d7d;
}

.FlexFormTransparent td.CaptchaColumn input
{
	width: 126px;
	height: 20px;
	border: solid 1px #7d7d7d;
	background-color: transparent;
}

.ContactUsOverlay table.Phone td.Label,
.DistributorOverlay table.Phone td.Label
{
	width: 45px;
}
.ContactUsOverlay table.Phone tr,
.DistributorOverlay table.Phone tr
{
	vertical-align:top;
}

.ContactUsOverlay #SubmitButton
{
	padding: 0 0 0 11px;
}


.FeedbackFormOverlay #SubmitButton,
.ReviewFormOverlay #SubmitButton,
.PREmailSubscriptionFormOverlay #SubmitButton,
.DistributorOverlay #SubmitButton,
.FlexFormOverlay #SubmitButton,
.FlexForm #SubmitButton,
.FlexFormTransparent #SubmitButton
{
	padding: 11px 0 0 11px;
}

.ContactUsOverlay .ValidationSummary li,
.FeedbackFormOverlay .ValidationSummary li,
.ReviewFormOverlay .ValidationSummary li,
.PREmailSubscriptionFormOverlay .ValidationSummary li,
.DistributorOverlay .ValidationSummary li,
.FlexFormOverlay .ValidationSummary li,
.FlexForm .ValidationSummary li,
.FlexFormTransparent .ValidationSummary li
{
	list-style: none;
}

.ContactUsOverlay #SubmitButton a,
.FeedbackFormOverlay #SubmitButton a,
.ReviewFormOverlay #SubmitButton a,
.PREmailSubscriptionFormOverlay #SubmitButton a,
.DistributorOverlay #SubmitButton a,
.FlexFormOverlay #SubmitButton a,
.FlexForm #SubmitButton a,
.FlexFormTransparent #SubmitButton a
{
	font-weight: bold;
	color: #7d7d7d;
	border: solid 1px #a1a1a1;
	text-decoration: none;
	padding: 1px 0px 2px;
	display: block;
	float: left;
	width: 71px;
	text-align: center;
}

.CaptchaInput img,
.FeedbackFormOverlay img,
.ReviewFormOverlay img,
.PREmailSubscriptionFormOverlay img,
.PasswordChangeOverlay img,
.PasswordForgotOverlay img,
.FlexFormOverlay img,
.FlexForm img,
.FlexFormTransparent img
{
	margin-right: 5px;
	vertical-align: bottom;
}

div.CaptchaInput 
{
	margin-top: 3px;
	margin-left: 11px;
}

.ContactUsOverlay td.CaptchaColumn span.requiredFieldIndicator, td.requiredFieldIndicator, td.Phone,
.FeedbackFormOverlay td.CaptchaColumn span.requiredFieldIndicator,
.ReviewFormOverlay td.CaptchaColumn span.requiredFieldIndicator,
.PREmailSubscriptionFormOverlay td.CaptchaColumn span.requiredFieldIndicator,
.PasswordChangeOverlay td.CaptchaColumn span.requiredFieldIndicator,
.PasswordForgotOverlay td.CaptchaColumn span.requiredFieldIndicator,
.DistributorOverlay td.CaptchaColumn span.requiredFieldIndicator,
.FlexFormOverlay td.CaptchaColumn span.requiredFieldIndicator,
.FlexForm td.CaptchaColumn span.requiredFieldIndicator,
.FlexFormTransparent td.CaptchaColumn span.requiredFieldIndicator
{
	padding-right: 4px;
}

.ContactUsOverlay td.requiredFieldIndicator,
.FeedbackFormOverlay td.requiredFieldIndicator,
.ReviewFormOverlay td.requiredFieldIndicator,
.PREmailSubscriptionFormOverlay td.requiredFieldIndicator,
.PasswordChangeOverlay td.requiredFieldIndicator,
.PasswordForgotOverlay td.requiredFieldIndicator,
.DistributorOverlay td.requiredFieldIndicator,
.FlexFormOverlay td.requiredFieldIndicator, .FlexFormOverlay td.inputLabel,
.FlexForm td.requiredFieldIndicator, .FlexForm td.inputLabel,
.FlexFormTransparent td.requiredFieldIndicator, .FlexFormTransparent td.inputLabel
{
	vertical-align: top;
}

/* Events Overlay */
.EventsOverlay
{
	background-color: #ffffff;
	width: 445px;
	padding: 20px 14px 28px;
	border: solid 1px #000000;
}
.EventsOverlay .CloseButton
{
	position: absolute;
	top: 6px;
	right: 6px;
}

.EventsOverlay .CloseButton input
{
	vertical-align: -5px;
}

.EventsOverlay h2.ModalTitle
{
	font-size: 16px;
	color: #3e546e;
	clear: both;
	font-weight: normal;
}

.EventsOverlay p.EventDetails
{
	margin-bottom: 0px;
	margin-top: 10px;
	line-height: 2;
}

.EventsOverlay table
{
	margin-top: 10px;
}

.EventsOverlay table td
{
	padding: 0 5px 5px 0;
}

/* Styles for Site Map */
ul.SiteMapList li
{
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 10px;
	font-size: 14px;
	margin-left: 20px;
}

ul.SiteMapList li a, ul.SiteMapList li a:link, ul.SiteMapList li a:visited, ul.SiteMapList li a:active
{
	text-decoration: none;
	color: #0B2777;
	
}

ul.SiteMapList li a:hover
{
	text-decoration: underline;
	color: #0B2777;
}

ul.SiteMapList li li
{
	list-style-image: none;
	list-style-type: none;
	margin-bottom: 0px;
	font-size: 12px;
	margin-left: 0px;
}

ul.SiteMapList li li a, ul.SiteMapList li li a:link, ul.SiteMapList li li a:visited, ul.SiteMapList li li a:active
{
	color: #9a9a9a;
}

ul.SiteMapList
{
	float:left;
	list-style:none;
	margin-right:20px;
}



/* Styles for Events */
div.EventDetailForm h2.EventTitle
{
	font-weight: bold;
}

.ArchiveSearchControls
{
	padding-top: 10px;
}

/* Styles for Press Release */
#AdmPressReleaseDetail div.ReleaseDate
{
	text-align: left;
	margin-bottom: 20px;
}

#AdmPressReleaseDetail .ReleaseContent
{
	margin-bottom: 1px;
}

#AdmPressReleaseDetail .Boilerplate
{
	padding-top: 1px;
}

#AdmPressReleaseListPage .AdmPageContent .PressReleaseListEntry
{
	padding-bottom: 11px;
}

#AdmPressReleaseListPage .AdmPageContent .PressReleaseListEntry .PressReleaseListReleaseDate
{
	font-weight: bold;
}

/* Rich Text Editor Styles */
.ms-rteCustom-AdmToolitTitle, .AdmToolkitTitle
{
	display: block;
	font: 16px verdana;
	color: #3e546e;
	line-height: 2;
}

.ms-rteCustom-AdmPageTitle, .AdmPageTitle
{
	display: block;
	font: 20px verdana;
	color: #3e546e;
	line-height: 2;
}

.ms-rteCustom-AdmNormalText, .AdmNormalText
{
	display: inline;
	font: 12px verdana;
	color: #7d7d7d;
	line-height: 1.5;
}

.ms-rteCustom-AdmToolkitText, .AdmToolkitText
{
	display: inline;
	font: 11px verdana;
	color: #7d7d7d;
	line-height: 1;
}
/*
.AdmRichText ul ul
{
	margin-left: 11px;
}

.AdmRichText ul, .AdmRichText ol
{
	list-style-position: inside;
	line-height: 1.5;
}

.AdmRichText ul
{
	list-style-type: disc;
	margin-bottom: 11px;
}*/

/* Misc: Fixes  -------------------------------- */
/* BEGIN Clearfix: Allows clearing of floats without structural markup. 
   More info: http://tinyurl.com/dh352 */
.clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix
{
	display: inline-block;
}

/* Holly Hack targets IE Win only \*/
* html .clearfix
{
	height: 1%;
}
.clearfix
{
	display: block;
}
/* Holly Hack targets IE Win only \*/
/* END Clearfix */

/* Investor Relations Styles */
.gridRow
{
	background-color: White;
	border-color: #a1a1a1;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	padding: 3px;
}

.irGrid
{
	border-color: #a1a1a1;
	border-style: solid;
	border-width: 1px;
	padding: 3px;
}

.gridEvenRow
{
	background-color: White;
	text-align: center;
	padding: 3px;
}

.gridOddRow
{
	background-color: White;
	text-align: center;
	padding: 3px;
}

.gridHeaderColumn
{
	font-weight: bold;
	font-size: 14px;
	color: White;
	background-color: #3e546e;
	text-align: center;
	padding: 3px;
	border-color: #a1a1a1;
	border-style: solid;
	border-width: 1px;
}

.gridDataColumn
{
	background-color: White;
	text-align: center;
	padding: 3px;
	border-color: #a1a1a1;
	border-style: solid;
	border-width: 1px;
}

.gridHeader
{
	font-weight: bold;
	font-size: 14px;
	color: White;
	background-color: #3e546e;
	border-color: #a1a1a1;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	padding: 5px;
}

.gridHeader td
{
	border-width: 1px;
	border-color: White;
	padding: 3px;
}

.legalText
{
    font-size: 10px;
}

.irHeading
{
	font-weight: bold;
}

/* Job posting webpart */
#JobPostingWebpart
{
	margin-bottom: 11px;
	font-size: 12px;
}

#JobPostingWebpart  td
{
	padding: 3px;
}

#JobPostingWebpart td.JobPostingGroup
{
	font-weight: bold;
	padding: 11px 0;
	color: #3E546E;
}

/* Product Database */

.reflectionLeadText
{
	font-weight: bold;
}

.reflectionSpecialText
{
	font-style: italic;
}

.rubricInText
{
	font-weight: bold;
}

#ProductDatabaseSearch input.AdmSearchBox
{
	border: 1px solid #a1a1a1;
	float: left;
}

#SearchUpdatePanel input.AdmSearchBox
{
	border: 1px solid #a1a1a1;
	float: left;
}

#ProductDatabaseSearch input.AdmSearchWatermarked
{
	border: 1px solid #a1a1a1;
	float: left;
	color: #a1a1a1;
}

#SearchUpdatePanel input.AdmSearchWatermarked
{
	border: 1px solid #a1a1a1;
	float: left;
	color: #a1a1a1;
}

.dropdownTable td 
{
	padding-bottom: 20px;
}

    
.AlphabetControlTable td
{
	width: 18px;
	text-align: center;
	border-left: 1px #FFFFFF solid;
	border-right: 1px #FFFFFF solid;
}

.AlphabetControlTable td.normal
{
	background-color: #696880;
}

.AlphabetControlTable td.current
{
	background-color: #FFFFFF;
	border: 1px #696880 solid;
}
.AlphabetControlTable a,
.AlphabetControlTable a:link,
.AlphabetControlTable a:active,
.AlphabetControlTable a:visited,
.AlphabetControlTable a:hover
{
	font-weight: bold;
	text-decoration: none;
}

.AlphabetControlTable a.alphaLink,
.AlphabetControlTable a.alphaLink:link,
.AlphabetControlTable a.alphaLink:active,
.AlphabetControlTable a.alphaLink:visited,
.AlphabetControlTable a.alphaLink:hover
{
	color: #FFFFFF;
	text-decoration: none;
}

.AlphabetControlTable a.alphaLinkCurrent,
.AlphabetControlTable a.alphaLinkCurrent:link,
.AlphabetControlTable a.alphaLinkCurrent:active,
.AlphabetControlTable a.alphaLinkCurrent:visited,
.AlphabetControlTable a.alphaLinkCurrent:hover
{
	color: #696880;
	text-decoration: none;
}
    
/* End Product Database */

.requiredFieldIndicator, 
#AdmTaxonomyEditor .requiredFieldIndicator
{
	color: #FF0000;
}

.requiredFieldLabel
{
	
}

.invalid
{
	color: #FF0000;
}

.DistributorResults table
{
	width: 100%;
}

.DistributorResults tr
{
	width: 100%;
}
.DistributorResults tr.TitleRow
{
	width: 100%;
}

.DistributorResults tr.TitleRow td
{
	width: 100%;
	/*
	border: solid #a1a1a1;
	border-width: 1px 0 0 0;
	*/
	padding-top: 10px;
}

.DistributorResults tr.TopTitleRow td
{
	width: 100%;
	border: solid #a1a1a1;
	border-width: 1px 0 0 0;
	padding-top: 10px;
}

.DistributorResults td
{
	width: 100%;
}

.RecipeListResults 
{
	font-size:11px;
}

.RecipeListResults td.RecipeTitle
{
	color:#3e546e;
	/*font-weight: bold;*/
}

.RecipeListResults td.ReviewCell
{
	text-align: right;
	vertical-align: top;
	width: 115px;
	padding-left: 3px;
}

.RecipeReviewLink
{
	color:#3e546e;
	font-weight: bold;
}

/* Recipe Detail */

.RecipeDetailHeading
{
	font-weight: bold;
}

.RecipeDetailHeadingTextSameLine
{
	padding-left: 5px;
	padding-bottom: 4px;
}

.RecipeDetailText, .RecipeDetailTable td
{
	line-height: 1;
	display: inline;
	font-family: Verdana;
	color: #7d7d7d;
	padding-bottom: 4px;
}

.RecipeDetailTable, .RecipeDetailTable td
{
	vertical-align: top;
}

.ReviewLaunchLink
{
	font-size: 11px;
	color: #0b2777;
}

.RecipeDetailReviewLastRow, .RecipeDetailReviewLastRow td
{
	padding-bottom: 4px;
}

.RecipeDetailReviewRate, .RecipeDetailReviewRate td
{
	padding-right: 15px;
}

.RecipeDetailReviewName, .RecipeDetailReviewName td
{
	font-weight: bold;
}


.PendingReviewTable, .PendingReviewTable td
{
	font-size: 11px;
	vertical-align: top;
}

.PendingReviewTable td
{
	padding: 4px 4px 4px 4px;
	border-style: solid; 
	border-color:Gray; 
	border-width:thin;
}

.PrendingReviewTableOddRow
{
	background-color: #ffffff;
}

.PrendingReviewTableEvenRow
{
	background-color: #ccffff;
}

.ArchiveSearchControls a,
.ArchiveSearchControls a:active,
.ArchiveSearchControls a:visited
{
	font: bold 13px verdana;
	border: solid 1px #a1a1a1;
	text-decoration: none;
	color: #3e546e;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin-left: 1px;
	padding: 0 2px;
}
