.foo {} /* W3C CSS validator likes CSS files to start with a class rather than a comment. Soooooo.... */

/* This style sheet is intended to contain RARELY CHANGED rules used when the Menu control adapter is enabled. */
/* These rules correspond to the "pure CSS menu" technique that have been evolving over the past several years. */ 
/* See WhitePaper.aspx for details. */


ul.AspNet-Menu
{
	margin: 0px;
	padding: 0px;
}

ul.AspNet-Menu li
{
	list-style-type: none;
	padding: 0px;

	background-position: bottom left;
	background-repeat: repeat-x;
	background-image: url(../images/topnavgradient.gif)/*tpa=http://www.adm.com/_layouts/admworld/images/topnavgradient.gif*/;
	
	border-top: 1px solid #A1A1A1;
	border-right: none;
	border-bottom: 1px solid #A1A1A1;
	border-left: none;
}

ul.AspNet-Menu li li
{
	background-image: none;
	background-color: white;
	border: none;
}

ul.AspNet-Menu li a 
{
	display: block;
}

ul.AspNet-Menu li li a:hover
{
	display: block;
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren 
{
	float: left;

	/* Put extra padding on the sides to be removed when the borders are added so nothing moves */	
	padding: 0px 1px 0px 1px;
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren,
ul.AspNet-Menu li.AspNet-Menu-WithChildren-Hover,
ul.AspNet-Menu li.AspNet-Menu-Leaf,
ul.AspNet-Menu li.AspNet-Menu-Leaf-Hover
{
	line-height: 32px;
}

ul.AspNet-Menu li li.AspNet-Menu-Leaf,
ul.AspNet-Menu li li.AspNet-Menu-Leaf-Hover
{
	line-height: 20px;
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren a
{
	/* these pixels will vary with the font size */
	/* padding: 8px 19px 8px 19px; */
	padding: 0px 19px;
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren li.AspNet-Menu-Leaf
{
	padding: 0px;
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren:hover,
ul.AspNet-Menu li.AspNet-Menu-WithChildren-Hover
{
	float: left;
	
	/* 
		Remove the extra pixel from each side to make horizontal room for the border. 
		Add a pixel to the bottom so there's no break between the li border and the div border.
	*/
	padding: 0px 0px 1px 0px;
	
	background-image: none;
	background-color: #FFFFFF;
	
	border-right: 1px solid #A1A1A1;
	/* if you override border-bottom with none or 0, firefox still displays inherited settings */
	border-bottom-style: none;
	border-left: 1px solid #A1A1A1;
}


ul.AspNet-Menu li.AspNet-Menu-WithChildren div 
{
	display: none;
	
	border-top: none;
	border-right: 1px solid #A1A1A1;
	border-bottom: 1px solid #A1A1A1;
	border-left: 1px solid #A1A1A1;
	
	background-color: white;
	margin: 1px 0px 0px -1px; /* to account for the 1px border so the line is unbroken */
	position: absolute;
	
	padding: 5px 10px 12px 0px;
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren:hover div,
ul.AspNet-Menu li.AspNet-Menu-WithChildren-Hover div
{
	display: block;
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren ul 
{
	float: left;
	margin: 0px 6px 0px 16px;
	padding: 0px;
}

ul.AspNet-Menu li.AspNet-Menu-Leaf img
{
	border: 0;
	vertical-align: middle; 	
	padding: 0px 0px 0px 2px;
	/* height: 26px; */
}

ul.AspNet-Menu li a 
{
	font-family: verdana;
	font-size: 14px;
	color: #7D7D7D;
	text-decoration: none;
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren li a
{
	font-size: 11px;
	color: #7D7D7D;
	padding: 0px;
}

ul.AspNet-Menu li.AspNet-Menu-WithChildren li a:hover
{
	padding: 0px;
}

ul.AspNet-Menu li.AspNet-Menu-Current a 
{
	font-size: 11px;
	color: #0B2777;
	padding: 0px;
}

ul.AspNet-Menu li li.AspNet-Menu-Leaf a:hover,
ul.AspNet-Menu li li.AspNet-Menu-Leaf-Hover a:hover,
ul.AspNet-Menu li li.AspNet-Menu-Leaf a.AspNet-Menu-Link:hover
{
	color: #0B2777;
	text-decoration: underline;
}
