/* _lcid="1033" _version="14.0.6107"
_LocalBinding */

.ms-WPBody a:visited{
color:#3966bf;
text-decoration:none;
}
.ms-WPBody a:hover{
text-decoration:underline;
}
.ms-WPBody a:active{
text-decoration:underline;
}
.ms-WPBody a{
text-decoration:none;
}

.psrch-PopupPanel{
visibility:hidden;
display:none;
overflow:hidden;
text-overflow:ellipsis;
margin-top:5px;
position:absolute;
z-index:1000;
line-height:13px;
}
.psrch-PopupContainer{
/* [ReplaceColor(themeColor:"Light1")] */ background:#FFF url("../../../images/recent_doc_gradient.png")/*tpa=http://www.lilly.com/_layouts/images/recent_doc_gradient.png*/ repeat-x;
/* [ReplaceColor(themeColor:"Light1-Darker")] */ border-bottom:2px solid #BEC2C7;
height:193px;
width:502px;
}
.psrch-PopupContainer #TabList{
/* [ReplaceColor(themeColor:"Light1-Darker")] */ border-bottom:1px solid #BEC2C7;
/* [ReplaceColor(themeColor:"Light1-Lighter")] */ border-left:1px solid #E6E9ED;
/* [ReplaceColor(themeColor:"Light1-Lighter")] */ border-right:1px solid #E6E9ED;
height:22px;
margin:0 !important;
}
.psrch-PopupContainer #TabList li{
border-bottom:1px solid transparent;
border-left:1px solid transparent;
border-right:1px solid transparent;
/* [ReplaceColor(themeColor:"Light1-Lighter")] */ border-top:1px solid #E6E9ED;
float:left;
max-width:200px;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
position:relative;
}
.psrch-PopupContainer #TabKeywordRelated,.psrch-PopupContainer #TabRecentlyUpdated{
padding:4px 10px !important;
left:-1px;
}
.psrch-PopupContainer #Close{
border:0 none !important;
float:right !important;
padding:3px 2px 0 0 !important;
}
.psrch-PopupContainer #Close img{
border:0 none;
padding:0;
cursor:pointer !important;
}
.psrch-PopupContainer #TabList li a{
text-decoration:none;
}
.psrch-TabSelected{
/* [ReplaceColor(themeColor:"Light1-Darker")] */ border-top:1px solid #BEC2C7 !important;
/* [ReplaceColor(themeColor:"Light1-Darker")] */ border-left:1px solid #BEC2C7 !important;
/* [ReplaceColor(themeColor:"Light1-Darker")] */ border-right:1px solid #BEC2C7 !important;
/* [ReplaceColor(themeColor:"Light1")] */ border-bottom:1px solid #FFF !important;
}
.psrch-TabSelected a{
/* [ReplaceColor(themeColor:"Dark2")] */ color:#676767 !important;
}
.psrch-ResultWrapper{
/* [ReplaceColor(themeColor:"Light1-Darker")] */ border-left:1px solid #BEC2C7;
/* [ReplaceColor(themeColor:"Light1-Darker")] */ border-right:1px solid #BEC2C7;
padding:11px 0 0;
height:135px;
}
.psrch-PopupContainer #NoResult{
margin:0 0 0 11px;
}
.psrch-PopupContainer #PopupResults{
margin:0 !important
}
.psrch-PopupContainer #PopupResults li{
height:27px;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
}
.psrch-PopupContainer #LinkImg{
border:0;
cursor:pointer !important;
vertical-align:middle;
margin:0 11px;
}
.psrch-PopupContainer #MoreLink{
float:right;
padding:0 11px 0 0;
/* [ReplaceColor(themeColor:"Light1-Darker")] */ border-right:1px solid #BEC2C7;
height:24px;
}
.psrch-PopupContainer #PopupFooter{
/* [ReplaceColor(themeColor:"Light1-Darker")] */ border-left:1px solid #BEC2C7;
height:24px;
}
.psrch-PopupContainer #Progress{
/* [ReplaceColor(themeColor:"Light1")] */ background:#FFF;
/* [ReplaceColor(themeColor:"Light1-Lighter")] */ border:1px solid #E6E9ED;
left:88px;
padding:11px;
top:-85px;
position:relative;
z-index:2000;
width:300px;
white-space:nowrap;
display:block;
text-align:center;
}
.psrch-UpdateGraphics{
vertical-align:middle;
padding-right:11px;
}

.psrch-FullResult{
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ border-top:1px dashed #ccc;
min-height:1px;
margin:0;
padding:11px 0 0;
}
.psrch-FirstFullResult{
min-height:1px;
margin:0;
padding:0;
}
.psrch-TextSeparator{
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ color:#ccc;
margin:-4px;
}
.psrch-results{
padding:0 24px;
}
.psrch-Main{
margin:0;
padding:0;
}
.psrch-Main a:link,.psrch-Main a:visited,.psrch-Main a:hover{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072BC;
}
.psrch-Main a:hover{
text-decoration:underline;
}
.psrch-Main ul{
margin:0;
padding:0;
list-style:none;
}
.psrch-Main #UserPhoto{
float:left;
overflow:hidden;
text-overflow:ellipsis;
margin:0 0 11px;
padding:0;
width:102px;
}
.psrch-Main #UserPhoto img{
max-height:96px;
max-width:96px;
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ border:1px solid #ccc;
padding:2px;
display:block;
margin-left:auto;
margin-right:auto;
}
.psrch-Main #ColleagueField{
text-align:center;
}
.psrch-Main #JBean{
float:left;
margin:3px 4px 0 11px;
}
.psrch-Main #ContactInfo{
float:left;
width:232px;
overflow:hidden;
text-overflow:ellipsis;
margin:0 11px 0 0;
padding:0;
}
.psrch-Main #ContactInfo ul{
margin:0 0 11px;
}
.psrch-Main #ContactInfo li{
margin:0;
padding:0;
}
.psrch-Main #MoreInfo{
overflow:hidden;
text-overflow:ellipsis;
padding:0;
margin:0 0 0 372px;
max-width:530px;
}
.psrch-Main #MoreInfo li{
margin:0 0 11px 11px;
padding:0;
}
.psrch-Main #FieldTitle{
display:block;
font-size:1.1em;
/* [ReplaceColor(themeColor:"Dark2")] */ color:#3B4F65;
}
.psrch-Main #SelfSrchHeading{
float:left;
overflow:hidden;
text-overflow:ellipsis;
margin:0;
padding:0;
/* [ReplaceColor(themeColor:"Accent1",themeTint:"0.35")] */ background:#E0EEF8;
/* [ReplaceColor(themeColor:"Accent1")] */ border-top:1px solid #0072BC;
/* [ReplaceColor(themeColor:"Accent1")] */ border-right:1px solid #92C3E7;
/* [ReplaceColor(themeColor:"Accent1")] */ border-bottom:1px solid #0072BC;
/* [ReplaceColor(themeColor:"Accent1")] */ border-left:1px solid #0072BC;
}
.psrch-Main #SelfSrchHeading table{
table-layout:fixed;
height:100px;
width:100px;
text-align:center;
}
.psrch-Main #SelfSrchHeading td{
padding:11px;
}
.psrch-Main #SelfSrchFreq{
float:left;
width:248px;
height:78px;
overflow:hidden;
text-overflow:ellipsis;
margin:0;
padding:11px;
/* [ReplaceColor(themeColor:"Accent1")] */ border-top:1px solid #0072BC;
/* [ReplaceColor(themeColor:"Accent1")] */ border-bottom:1px solid #0072BC;
}
.psrch-Main #SelfSrchFreq span{
font-weight:bold;
}
.psrch-Main #SelfSrchFreq li,.psrch-Main #SelfSrchTermsContent{
margin-left:11px;
font-style:italic;
}
.psrch-Main #SelfSrchFreqTitle,.psrch-Main #SelfSrchTermsTitle{
margin-top:11px;
}
.psrch-Main #SelfSrchTerms{
height:78px;
overflow:hidden;
text-overflow:ellipsis;
margin:0 0 0 372px;
padding:11px 10px;
/* [ReplaceColor(themeColor:"Accent1")] */ border-top:1px solid #0072BC;
/* [ReplaceColor(themeColor:"Accent1")] */ border-right:1px solid #0072BC;
/* [ReplaceColor(themeColor:"Accent1")] */ border-bottom:1px solid #0072BC;
/* [ReplaceColor(themeColor:"Light2-Lightest")] */ border-left:1px dashed #BCBCBC;
max-width:507px;
min-width:248px;
display:table;
table-layout:fixed;
}
.psrch-Main #ContactInfo #NameField a{
font-size:1.3em;
}
.psrch-Main #JobTitleField,.psrch-Main #DepartmentField,.psrch-Main #PhoneField,.psrch-Main #OfficeField{
/* [ReplaceColor(themeColor:"Dark2")] */ color:#3B4F65;
}
.psrch-Main #HotHH:hover a:link,.psrch-Main #HotHH:hover a:visited{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072BC;
}
.psrch-Main #HotHH a:link,.psrch-Main #HotHH a:visited{
/* [ReplaceColor(themeColor:"Dark2")] */ color:#676767;
}
.psrch-Main #HotHH a:hover{
color:#0072BC;
text-decoration:underline;
}
.psrch-Main #Clear{
margin:0;
padding:0;
border:0;
width:0;
height:0;
clear:both;
}
.psrch-Main #Clear2{
margin:0;
padding:0;
border:0;
width:0;
height:11px;
clear:both;
}

.psrch-FirstSummaryResult{
min-height:1px;
margin:0;
padding:0;
}
.psrch-SummaryResult{
min-height:1px;
margin:0;
padding:6px 0 0;
}
.ms-searchsummarymain #UserPhoto{
float:left;
overflow:hidden;
text-overflow:ellipsis;
margin:2px 0 11px;
padding:0;
height:48px;
width:48px;
}
.ms-searchsummarymain #UserPhoto img{
max-height:42px;
max-width:42px;
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ border:1px solid #ccc;
padding:2px;
display:block;
margin-left:auto;
margin-right:auto;
}
.ms-searchsummarymain #ContactInfo ul{
margin:0 0 11px;
padding:0;
}
.ms-searchsummarymain #ContactInfo li{
margin:0;
padding:0;
}
.ms-searchsummarymain #JBean{
float:left;
margin:2px 3px 0 5px;
}
.ms-searchsummarymain #ContactInfo{
overflow:hidden;
text-overflow:ellipsis;
margin:0;
padding:0;
}
.ms-searchsummarymain #JobTitleField,.ms-searchsummarymain #DepartmentField{
color:#3B4F65;
}
.ms-searchsummarymain #Clear{
margin:0;
padding:0;
border:0;
width:0;
height:0;
clear:both;
}

.psrch-OptionsOuterContainer{
margin:3px 0 0 0;
padding:0;
position:absolute;
z-index:1000;
}
.psrch-OptionsContainer{
border-left:#D0D0D0 1px solid;
border-right:#D0D0D0 1px solid;
border-top:#D0D0D0 1px solid;
border-bottom:#D0D0D0 2px solid;
background:#FFF url("../../../images/recent_doc_gradient.png")/*tpa=http://www.lilly.com/_layouts/images/recent_doc_gradient.png*/ repeat-x scroll center bottom;
padding:3px 5px;
}
.psrch-OptionsLayoutTable{
border:0;
width:100%;
}
.psrch-OptionsTitle{
white-space:nowrap;
font-size:12px;
text-align:left;
}
.psrch-OptionsClose{
text-align:right;
}
.psrch-OptionsClose img{
border:0;
cursor:pointer !important;
}
.psrch-OptionsLabelField{
padding:4px 25px 0 0;
white-space:nowrap;
text-align:left;
}
.psrch-OptionsValueField{
padding:4px 7px 0 0;
width:100%;
text-align:left;
}
.psrch-OptionsValueField input{
width:100%;
}
.psrch-OptionsValueField div{
width:inherit !important;
}
.ms-ptabnt{
text-align:left;
}

.srch-AutoCompContainer{
/* [ReplaceColor(themeColor:"Light2-Lighter")] */ border-bottom:1px solid #B6BABF;
/* [ReplaceColor(themeColor:"Light2-Lighter")] */ border-left:1px solid #B6BABF;
/* [ReplaceColor(themeColor:"Light2-Lighter")] */ border-right:1px solid #B6BABF;
padding:5px 0;
margin:0;
visibility:hidden;
/* [ReplaceColor(themeColor:"Light1")] */ background:#FFF;
position:absolute;
z-index:1000;
}
.srch-AutoCompDropImg{
background:transparent url("../../../images/querysuggest.gif")/*tpa=http://www.lilly.com/_layouts/images/querysuggest.gif*/ no-repeat;
height:8px;
left:14px;
position:absolute;
top:-1px;
width:16px;
}
.srch-AutoCompList{
cursor:pointer;
font-size:1.3em;
margin:0;
overflow:hidden;
padding:0;
white-space:nowrap;
text-overflow:ellipsis;
text-align:left;
font-family:verdana,tahoma,sans-serif;__LCfssFF(srchAutoCompList)
}
.srch-AutoCompListItem{
/* [ReplaceColor(themeColor:"Light1")] */ background:#FFF;
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072bc;
margin:0;
padding:4px 2px 4px 11px;
}
.srch-AutoCompHListItem{
/* [RecolorImage(themeColor:"Light1")] */ background:url("../../../images/hover_tab_gradient.png")/*tpa=http://www.lilly.com/_layouts/images/hover_tab_gradient.png*/ repeat-x;
/* [ReplaceColor(themeColor:"Accent1",themeTint:"0.35")] */ background-color:#ccebff;
/* [ReplaceColor(themeColor:"Accent1",themeShade:"0.20")] */ color:#003759;
margin:0;
padding:3px 2px 3px 11px;
/* [ReplaceColor(themeColor:"Accent1-Lightest")] */ border-top:solid 1px #c6e5f8;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-bottom:1px solid #91CDF2;
}

.srch-SocDistTitle{
margin-bottom:5px;
font-family:tahoma;
font-size:1.2em;
font-weight:bold;
color:#333;
border-bottom:#d6e8ff 1px solid;
Width:100%;
padding-bottom:2px;
}
.psrch-Description{
margin-left:0;
color:#333;
font-family:Tahoma;
font-size:1em;
padding-bottom:2px;
}
.psrch-Description b{
font-weight:bold;
color:#333;
}
.psrch-PropLabel{
color:#333;
font-family:Tahoma;
font-size:1em;
}
.psrch-PropValue{
color:#080;
font-family:Tahoma;
font-size:1em;
}
.psrch-Title{
font-size:1.2em;
font-family:Tahoma;
}
.psrch-Title A:link,.psrch-Title A:visited{
text-decoration:none;
color:#039;
padding-left:4px;
FONT-FAMILY:Tahoma;
}
.psrch-Title a:hover{
text-decoration:underline;
color:red;
}
.psrch-Metadata{
font-size:1em;
margin:0 0 25px;COLOR:#333;
font-family:Tahoma;
}
.psrch-Action A:link,.psrch-Action A:visited{
color:#039;
}
.psrch-profimg{
table-layout:fixed;
border:1px solid #e0ded5;
background:#ececec;
}
.psrch-result{
padding-bottom:16px;
}
.psrch-propcell{
padding-left:8px;
}
.psrch-Icon{
margin-left:10;
float:left;
position:relative;
top:2px
}

.srchctr_leftcell{
vertical-align:top;
width:175px;
}
.srch-maintop{
clear:both;
padding:8px 0 40px;
max-width:670px;
}
.srch-maintoppeople{
clear:both;
padding:8px 0 40px;
max-width:970px;
}
.srch-mainbottom{
padding-bottom:50px;
}
.srch-maintopright{
float:right;
width:49%;
}
.srch-maintopleft{
float:left;
width:50%;
clear:both;
}
.srchctr_mainleftcell{
vertical-align:top;
padding-top:2px;
}
.srchctr_rightcell{
vertical-align:top;
}
.srch-maintop2{
clear:both;
padding-right:24px;
}
.srch-maintoppeople2{
clear:both;
}
.srch-federationarea{
/* [ReplaceColor(themeColor:"Light2")] */ background:#fcfcfc;
/* [ReplaceColor(themeColor:"Light2-Lightest")] */ border:solid #dbddde;
border-top-width:0;
border-right-width:0;
border-bottom-width:1px;
border-left-width:1px;
padding:0 0 5px;
float:right;
}

.srch-refinearea{
min-height:300px;
}
.ms-searchref-taxapply{
align:right;
border:1px solid gray;
}
.ms-searchref-main{
width:175px;
height:100%;
font-size:1em;
font-family:verdana,tahoma,sans-serif !important;
padding:7px 0 5px;
margin:0;
/* [ReplaceColor(themeColor:"Light2")] */ background-color:#fcfcfc;
/* [ReplaceColor(themeColor:"Light2-Lightest")] */ border:1px solid #dbddde;
border-width:0 0 1px;
/* [RecolorImage(themeColor:"Light2-Lighter")] */ background-image:url("../../../images/vertical_refinement_gradient.png")/*tpa=http://www.lilly.com/_layouts/images/vertical_refinement_gradient.png*/;
background-repeat:repeat-y;
background-position:right;
}
.ms-searchref-caption{
padding:10px 0 8px 10px;
vertical-align:middle;
/* [ReplaceColor(themeColor:"Dark1")] */ color:#000 !important;
}
ul.ms-searchref-filters{
list-style-type:none;
margin:0;
padding-left:0;
height:100%;
}
.ms-searchref-categoryname{
padding:1px 3px 7px 11px;
/* [ReplaceColor(themeColor:"Dark2")] */ COLOR:#3b4f65;
font-size:1.1em;
height:10px;
}
.ms-searchref-catseparator{
height:25px;
}
li.ms-searchref-filter,li.ms-searchref-filtermsg{
padding:4px 20px 4px 5px;
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072bc;
margin:1px 0 1px 6px;
}
li.ms-searchref-selected,li.ms-searchref-filtermsg{
/* [ReplaceColor(themeColor:"Light1")] */ background:#fff;
/* [ReplaceColor(themeColor:"Light2-Lightest")] */ border-top:#dbddde 1px solid;
/* [ReplaceColor(themeColor:"Light2-Lightest")] */ border-bottom:#dbddde 1px solid;
/* [ReplaceColor(themeColor:"Light2-Lightest")] */ border-left:#dbddde 1px solid;
}
.ms-searchref-indenticon{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#8c8c8c;
}
.ms-searchref-subsite{
margin-left:10px !important;
}
.ms-searchref-filterlink{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072bc !important;
text-decoration:none !important;
}
.ms-searchref-filterlink:hover{
/* [ReplaceColor(themeColor:"Accent1-Darker")] */ color:#44aff6 !important;
text-decoration:underline !important;
}
.ms-searchref-count{
font-size:0.9em;
color:#87b4d0 !important;
}
.ms-searchref-more{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072bc !important;
text-align:left;
text-decoration:none !important;
}
.ms-searchref-morelink{
padding:5px 0 3px 12px;
}
.ms-searchref-moreicon{
border:0;
vertical-align:middle;
}

.srch-HighConfidence{
background:#f7f3cd;
}
.srch-HCMain{
border-bottom:1px solid #6F9DD9;
margin:5px 0 10px;
padding:0;
width:100%;
}
.srch-BestBets{
width:100%;
max-width:630px;
}
div.srch-BB-Result{
padding-bottom:20px;
padding-left:24px;
}
div.srch-BestBetsBottom{
margin-left:143px;
margin-top:5px;
margin-bottom:15px;
}
div.srch-BestBetsBottom2{
/* [ReplaceColor(themeColor:"Light2-Lightest")] */ border-bottom:solid 1px #dbddde;
width:330px;
}
div.srch-BestBetsBottom2 img{
display:none;
}
div.ms-topanswerseperation{
margin-left:123px;
margin-top:5px;
}
div.ms-topanswerseperation{
/* [ReplaceColor(themeColor:"Light2-Lightest")] */ border-bottom:solid 1px #dbddde;
width:330px;
}
div.ms-topanswerseperation img{
display:none;
}
span.srch-BB-URL2{
max-width:575px;
word-wrap:break-word;
margin:0 0 4px;
font-size:1em;
/* [ReplaceColor(themeColor:"Accent3")] */ color:#008000;
font-family:verdana,tahoma,sans-serif;;
}
.srch-BB-URL3{
margin-left:24px;
overflow:hidden;
}
span.srch-BB-URL{
width:100%;
margin:0 0 4px 2px;
}
.srch-BB-URL A:link,.srch-BB-URL A:visited{
color:#080 !important;
}
.srch-BB-URL a:hover{
color:#080 !important;
text-decoration:underline;
}
.srch-BestBetsTitle{
font-size:1.2em;
margin:0 0 4px;color:#03d;
font-family:tahoma,verdana,sans-serif;
}
.srch-BestBetsTitle A:link,.srch-BestBetsTitle A:visited{
text-decoration:none;
color:#039;
}
.srch-BestBetsTitle a:hover{
color:red;
}
span.srch-BestBetsTitle img{
margin-right:4px;
vertical-align:middle;
}
.srch-BB-Description2{
font-size:1em;
margin:0 0 2px 24px;
font-family:verdana,tahoma,sans-serif;
/* [ReplaceColor(themeColor:"Dark1")] */ color:#000;
max-width:575px;
word-wrap:break-word;
}
.srch-BB-Description{
font-size:1em;
margin:0 0 4px 2px;COLOR:#333;
font-family:tahoma,verdana,sans-serif;
width:100%;
}
.srch-BB-Description2 b{
font-weight:bold;
/* [ReplaceColor(themeColor:"Dark1")] */ color:#000;
}
.srch-BB-Description b{
font-weight:bold;
color:#333;
}
div.srch-BB-SpecialTerm{
font-size:1em !important;
color:#333 !important;
font-family:verdana,tahoma,sans-serif;
width:100%;
padding-bottom:10px;
}
div.srch-BB-SpecialTerm div{
font-size:1em !important;
color:#333 !important;
font-family:verdana,tahoma,sans-serif;
}
span.srch-BB-SpecialTerm{
margin:0 0 4px;
}
span.srch-BB-SpecialTerm img{
margin-right:4px;
vertical-align:middle;
}
.srch-BB-SpecialTerm b{
font-size:1.2em;
font-weight:bold;
color:#333;
}
.srch-InputText{
margin:0;
font-family:verdana,tahoma,sans-serif;
font-size:10pt;
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ color:#666;
}
.srch-groupbar{
color:#000;
background:#ebf3ff;
}
.ms-navitem a:hover{
color:#000
text-decoration:underline;
}
.ms-navitem a:visited{
color:#3966bf;
text-decoration:none;
}
.ms-navitem a:active{
color:#000
text-decoration:underline;
}
.ms-navitem a{
color:#039
text-decoration:none;
}
td.ms-vb{
font-size:8pt;
font-family:tahoma,verdana,arial,helvetica,sans-serif;
}
th.ms-vh{
font-size:8pt;
font-family:tahoma,verdana,arial,helvetica,sans-serif;
text-decoration:none;
vertical-align:top;
}
.ms-vb a:visited{
color:#3966bf;
text-decoration:none;
}
.ms-vb a:hover{
color:#000;
text-decoration:underline;
}
.ms-vb a:active{
color:#000;
text-decoration:underline;
}
.ms-vb a{
color:#039;
text-decoration:none;
}
.ms-WPHeader a:visited{
color:#3966bf;
text-decoration:none;
}
.ms-WPHeader a:active{
color:#000;
text-decoration:underline;
}
.ms-WPHeader a{
color:#039
text-decoration:none;
}
.ms-WPHeader a:hover{
color:#000;
text-decoration:underline;
}
.ms-srchAlignTop{
padding-top:0;
padding-bottom:0;
}
.srch-advancedtable{
margin:40px auto;
/* [ReplaceColor(themeColor:"Light2-Lightest")] */ border:1px solid #dbddde;
/* [ReplaceColor(themeColor:"Light2")] */ background:#fcfcfc;
padding:0 25px 25px;
}
.ms-advsrchbutton{
text-align:right;
}
.ms-advsrch-img{
border:none;
vertical-align:middle;
margin-right:5px;
padding:4px 0 5px 0;
}
.ms-advsrchtips{
padding-top:25px;
}
.ms-advsrchText-v2box{
width:200px;
/* [ReplaceColor(themeColor:"Light2-Medium")] */ border:1px solid #abadb3;
height:15px;
font-size:1em;
font-family:verdana,tahoma,sans-serif;
}
h3.ms-advsrchHeadingText{
margin:1em;
}
td.ms-advsrchHeadingText{
font-size:1.3em;
/* [ReplaceColor(themeColor:"Dark1")] */ color:#003759;
font-weight:normal !important;
}
td.ms-advsrchText-v1{
padding-right:4px;
text-align:right;
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ color:#5d6878;
}
td.ms-advsrchText-v2{
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ color:#5d6878;
vertical-align:middle;
}
td.ms-advsrchText-v2 select{
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ color:#5d6878;
vertical-align:bottom;
width:120px;
}
select.ms-advsrchPropertyDDL{
font-size:8pt;
font-family:verdana,tahoma,sans-serif;
margin-right:5px;
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ color:#5d6878;
vertical-align:bottom;
width:120px;
height:20px;
}
select.ms-advsrchOperatorDDL{
font-size:8pt;
font-family:verdana,tahoma,sans-serif;
margin-right:5px;
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ color:#5d6878;
width:120px;
vertical-align:bottom;
width:120px;
height:20px;
}
.ms-advsrchPropValue{
font-size:8pt;
font-family:verdana,tahoma,sans-serif;
margin-right:5px;
/* [ReplaceColor(themeColor:"Light2-Medium")] */ border:1px solid #abadb3;
vertical-align:top;
vertical-align:bottom;
width:200px;
height:15px;
}
select.ms-advsrchAndOrDDL{
font-size:8pt;
font-family:verdana,tahoma,sans-serif;
margin-right:5px;
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ color:#5d6878;
height:20px;
}
.ms-redirectControl{
color:#5b5b5b;
font-size:8pt;
font-family:tahoma;
}
.ms-redirectControl a{
color:#039;
text-decoration:none;
FONT-FAMILY:Tahoma,Verdana;
}
.ms-diffchange{
background:#ff0;
}
.ms-searchsummaryUrl{
/* [ReplaceColor(themeColor:"Accent3")] */ color:#008000 !important;
font-size:1em;
text-decoration:none;
FONT-FAMILY:verdana,tahoma,sans-serif !important;
text-overflow:ellipsis;
}
div.ms-searchsummarydescouter{
padding:0;
padding-right:4px;
margin-bottom:10px;
display:block;
}
div.ms-searchsummarydesc{
/* [ReplaceColor(themeColor:"Dark2")] */ color:#3b4f65;
font-size:1em;
font-family:verdana,tahoma,sans-serif !important;
text-decoration:none;
padding:0;
overflow:hidden;
width:180px;
}
.ms-searchsummarydesc img{
width:120px;
height:160px;
}
.ms-searchsummarydesc div{
position:static !important;
float:none !important;
height:100% !important;
margin:0 !important;
}
.ms-searchsummarydesc div div{
position:static !important;
padding:0 !important;
border:0 !important;
}
.ms-searchsummarydesc div div embed{
height:180px !important;
width:240px !important;
align:0;
position:static !important;
}
.ms-searchsummarydesc font{
color:#333333 !important;
font-size:10pt !important;
text-decoration:none;
FONT-FAMILY:verdana,tahoma,sans-serif !important;
padding-left:2px;
}
.ms-searchsummarymain{
width:190px;
padding:0 10px 0 0;
margin:0;
margin-bottom:25px;
}
.ms-searchsummarymain a:link,.ms-searchsummarymain a:visited{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072BC !important;
}
.ms-searchsummarymain a:hover{
/* [ReplaceColor(themeColor:"Accent1-Darker")] */ color:#44AFF6 !important;
text-decoration:underline !important;
}
div.ms-searchsummarybody{
left:0;
padding-left:10px;
position:relative;
}
*:first-child+html div.ms-searchsummarybody{
width:180px;
}
div.ms-searchChannelTitle{
left:0;
margin:0;
padding:4px 0 5px;
position:relative;
}
.ms-searchChannelTitle span{
/* [ReplaceColor(themeColor:"Dark2")] */ color:#3b4f65 !important;
font-size:1.1em;
text-decoration:none;
FONT-FAMILY:verdana,tahoma,sans-serif !important;
margin-left:10px;
}
.ms-searchChannelTitle span img{
border:0;
margin-right:3px;
vertical-align:top;
}
.ms-searchsummarymorelink{
font-size:1em;
padding:0 0 0 10px;
}
.ms-searchsummarymorelink a:link,.ms-searchsummarymorelink a:visited{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072bc;
text-decoration:none;
}
.ms-searchsummarymorelink a:hover{
/* [ReplaceColor(themeColor:"Accent1-Darker")] */ color:#44aff6;
text-decoration:underline;
}
.ms-searchtaTitle A:link,.ms-searchtaTitle A:visited,.ms-searchtaTitle A:hover{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072bc !important;
font-size:1.3em;
text-decoration:underline !important;
margin:0 5px;
margin-left:8px;
}
.ms-searchtaTitle img{
width:16px;
vertical-align:bottom;
}
.ms-searchtaUrl{
/* [ReplaceColor(themeColor:"Accent3")] */ color:#008000 !important;
font-size:1em;
text-decoration:none;
margin-left:24px;
}
div.ms-searchtadescouter{
padding:0;
padding-bottom:0;
padding-right:4px;
display:block;
}
.ms-searchtadesc img{
width:120px;
height:160px;
}
.ms-searchtadesc div{
position:static !important;
float:none !important;
height:100% !important;
margin:0 !important;
font-family:verdana,tahoma,sans-serif !important;
}
.ms-searchtadesc div div{
position:static !important;
padding:0 !important;
border:0 !important;
}
.ms-searchtadesc div div embed{
height:180px !important;
width:240px !important;
align:0;
position:static !important;
}
.ms-searchtadesc font{
color:#595959 !important;
font-size:8pt !important;
text-decoration:none;
FONT-FAMILY:verdana,tahoma,sans-serif !important;
padding-left:2px;
}
div.ms-searchtadesc{
font-size:1em;
font-family:verdana,tahoma,sans-serif !important;
/* [ReplaceColor(themeColor:"Dark1")] */ color:#000;
margin:2px 0;
margin-left:24px;
max-width:575px;
}
.ms-searchtadesc b{
/* [ReplaceColor(themeColor:"Dark1")] */ color:#000;
font-size:1.1em;
font-weight:700;
margin:2px;
}
.ms-searchtamain{
padding-left:24px;
padding-bottom:15px;
max-width:630px;
}
div.ms-searchtabody{
overflow:hidden;
position:relative;
left:0;
padding-bottom:15px;
}
div.ms-searchtaChannelTitle{
background:url("Unknown_83_filename")/*tpa=http://www.lilly.com/_layouts/images/checkmark.gif*/;
background-repeat:no-repeat;
background-position:center left;
padding:0;
margin:0;
margin-bottom:10px;
padding-top:4px;
padding-bottom:4px;
}
.ms-searchtaChannelTitle span{
color:#525252 !important;
font-size:10pt !important;
text-decoration:none;
font-weight:bold;
FONT-FAMILY:verdana,tahoma,sans-serif !important;
margin-left:3px;
}
.ms-searchtaChannelTitle span img{
border:0;
margin-right:3px;
margin-left:16px;
}
.srch-Metadata{
border-top:0 none !important;
margin:2px 0 20px !important;
color:#8c8c8c;
}
.srch-Metadata1{
width:100%;
padding-left:5px
border-top:0 none !important;
margin:2px 0 20px 24px;
max-width:575px;
}
.ms-srchresultstop{
background:#fff;
}
.srch-stats{
background:#fff !important;
white-space:normal !important;
font-family:verdana,tahoma,sans-serif !important;
/* [ReplaceColor(themeColor:"Dark2")] */ color:#3b4f65;
margin-left:10px;
}
.srch-HCSocDistTitle{
background:url("Unknown_83_filename")/*tpa=http://www.lilly.com/_layouts/images/checkmark.gif*/;
background-repeat:no-repeat;
background-position:top left;
padding-left:19px;
color:#525252 !important;
font-family:Tahoma,Verdana !important;
font-size:10pt !important;
font-weight:bold;
width:100%;
}
.psrch-HCresult{
padding:4px 0 10px 2px;
}

td.ms-sbscopes select{
display:block;
margin:0;
padding:5px 5px 6px 10px;
}

.ms-sbtable{
/* [ReplaceColor(themeColor:"Dark1")] */ color:#000;
font-family:verdana,tahoma,sans-serif;
font-style:normal;
font-weight:normal;
}
.ms-sbtablealt{
/* [ReplaceColor(themeColor:"Dark1")] */ color:#000;
font-family:verdana,tahoma,sans-serif;
font-size:0.7em;
font-style:normal;
font-weight:normal;
}
.ms-sbtable-ex{
border-collapse:collapse;
float:left;
}
td.ms-sbcellnoborder{
padding-right:2px;
white-space:nowrap;
border:0;
}
.ms-sbtext{
font-family:verdana,tahoma,sans-serif;
font-size:1em;
/* [ReplaceColor(themeColor:"Dark2")] */ color:#3b4f65;
white-space:nowrap;
padding-right:5px;
}
.ms-sbplain{
/* [ReplaceColor(themeColor:"Light2-Lighter")] */ border:solid 1px #b6babf !important;
border-right:none !important;
border-collapse:collapse;
font-size:10.5pt;
padding:6px 2px 7px 10px;
font-family:verdana,tahoma,sans-serif;
background:url("../../../images/bgximg.png")/*tpa=http://www.lilly.com/_layouts/images/bgximg.png*/ repeat-x -0px -511px;
/* [ReplaceColor(themeColor:"Light1")] */ background-color:#fff;
height:17px;
display:block;
}
.ms-sbplainwithborder{
font-family:Tahoma;
font-size:8pt;
}
td.ms-sblink{
border:none;
text-align:left;
}
.ms-sblink a:link,.ms-sblink a:visited{
font-size:8pt;
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072bc;
margin-left:15px;
text-decoration:none;
}
.ms-sblink a:hover{
font-size:8pt;
/* [ReplaceColor(themeColor:"Accent1-Darker")] */ color:#44aff6;
text-decoration:underline;
margin-left:15px;
}
td.ms-sbgo img{
vertical-align:bottom;
/* [ReplaceColor(themeColor:"Light2-Lighter")] */ border:1px solid #b6babf !important;
border-left:none !important;
}
.ms-sbLastCell{
padding-right:10px;
}
td.ms-sbscopes{
border:none !important;
padding-right:10px;
}
select.ms-sbscopes{
font-family:verdana,tahoma,sans-serif;
font-size:1.3em;
width:170px;
/* [ReplaceColor(themeColor:"Light2-Lightest")] */ border:thin solid #dbddde;
vertical-align:middle;
}

.srch-WPBody{
margin:0;
font-family:verdana,tahoma,sans-serif;
font-size:1em;
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ color:#666;
}
.srch-wperror{
padding:0 8px 8px 8px;
}
.srch-results{
padding-left:24px;
max-width:630px;
}
.srch-sort{
color:#333;
font-size:1em;
}
.srch-sort A:link,.srch-sort A:visited{
text-decoration:none;
color:#039;
}
.srch-sort a:hover{
color:#1D71B6;
text-decoration:underline;
}
.srch-sort-right2{
/* [ReplaceColor(themeColor:"Dark2")] */ color:#3b4f65;
padding-right:10px;
float:right;
}
.srch-sort-right{
float:right;
color:#333;
font-size:1em;
padding-bottom:4px;
font-family:tahoma,verdana,sans-serif;
}
.srch-sort-right2 a
{
vertical-align:bottom;
}
.srch-sort-right2 A:link,.srch-sort-right2 A:visited{
color:#1D71B6;
text-decoration:none;
}
.srch-sort-right a:link,.srch-sort-right a:visited{
color:#039;
font-size:1em;
text-decoration:none;
}
.srch-sort-right a:hover{
color:red;
}
.srch-Summary{
/* [ReplaceColor(themeColor:"Dark2")] */ color:#3b4f65;
font-size:1em;
font-family:Verdana,Tahoma;
margin-top:4px;
padding-left:2px;
}
.srch-Summary A:link,.srch-Summary A:visited{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072bc;
text-decoration:underline;
font-style:italic;
font-weight:bold;
}
.srch-stats A:hover{
text-decoration:underline;
/* [ReplaceColor(themeColor:"Accent1-Darker")] */ color:#44aff6;
}
.srch-stats a:hover{
color:red;
}
.srch-picture{
max-width:92px;
max-height:92px;
vertical-align:middle;
padding:2px;
border:1px solid #ccc;
}
.srch-picture1{
float:left;
width:16px;
padding-right:8px;
}
.srch-picture2{
float:left;
height:102px;
width:102px;
margin-right:10px;
text-align:center;
}
.srch-picturetext{
list-style:none;
margin:0;
}
.srch-Description2{
font-size:1em;
/* [ReplaceColor(themeColor:"Dark1")] */ color:#000;
margin-left:24px;
max-width:575px;
}
.srch-Description2 img{
display:none;
}
.srch-Description2 a:link{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072bc;
text-decoration:underline;
}
.srch-definition{
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ color:#666;
margin-left:10px;
}
.srch-definition2{
margin-top:10px;
}
.srch-definition a:link{
text-decoration:underline;
}
.srch-Description2 b{
/* [ReplaceColor(themeColor:"Dark1")] */ color:#000;
font-size:1em;
font-weight:700;
margin:2px;
}
.srch-Description{
color:#333;
font-family:tahoma,verdana,sans-serif;
font-size:1em;
margin:0 0 4px;
}
.srch-alertme a:link,.srch-alertme A:visited{
margin:0;
}
.srch-alertme a:hover{
margin:0;
}
.srch-alertme a img{
margin-left:3px !important;
}
.srch-Title img{
width:16px;
vertical-align:bottom;
}
.srch-Title A:link,.srch-Title A:visited{
color:#039;
font-size:1.2em;
font-family:tahoma,verdana,sans-serif;
margin-left:4px;
}
.srch-Title3{
padding-left:24px;
}
.srch-Title a:hover{
color:red;
text-decoration:underline;
}
.srch-Title2 a:link,.srch-Title2 a:visited,.srch-Title2 a:hover{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072bc !important;
font-size:1.3em;
text-decoration:underline !important;
}
.srch-Title5{
margin-bottom:3px;
}
.srch-BBTitle a:link,.srch-BBTitle a:visited,.srch-BBTitle a:hover{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072bc !important;
font-size:1em;
text-decoration:underline !important;
margin-left:0 !important;
font-family:verdana,tahoma,sans-serif !important;
}
.srch-BBTitle{
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ color:#3b4f65 !important;
font-size:1.3em !important;
padding-left:8px !important;
margin-left:0 !important;
font-family:verdana,tahoma,sans-serif !important;
}
.srch-urllink{
display:inline-block;
margin-right:8px;
}
.srch-URL2{
/* [ReplaceColor(themeColor:"Accent3")] */ color:#008000 !important;
max-width:575px;
word-wrap:break-word;
margin-right:8px;
}
span.srch-urllink a:link,.srch-urllink a:visited{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072bc;
font-size:1em;
}
span.srch-urllink a:hover{
/* [ReplaceColor(themeColor:"Accent1-Darker")] */ color:#44aff6;
text-decoration:underline;
}
.srch-URL a:link,.srch-URL a:visited,.srch-URL a:hover{
color:#080 !important;
}
.srch-URL a:hover:{
text-decoration:underline;
}
.srch-Metadata2{
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ color:#666;
margin-left:24px;
}
.srch-Page{
/* [ReplaceColor(themeColor:"Dark1-Medium")] */ color:#666;
font-size:1em;
font-family:verdana,tahoma,sans-serif;
padding:0.7em 0 7em 48px;
clear:both;
}
.srch-Page A:link,.srch-Page A:visited{
border:1px solid transparent;
color:#1D71B6 !important;
font-size:1.1em;
font-weight:normal;
margin:0 3px;
padding:4px 7.5px;
text-decoration:none;
float:left;
display:block;
}
.srch-Page a:hover{
/* [ReplaceColor(themeColor:"Accent1-Lightest")] */ border-top:solid 1px #c6e5f8;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-right:solid 1px #91cdf2;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-left:solid 1px #91cdf2;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-bottom:solid 1px #91cdf2;
text-decoration:none !important;
float:left;
display:block;
}
.srch-Page-img a:link,.srch-Page-img a:visited{
border:none;
padding-left:4px;
padding-right:4px;
background:none;
border-top:1px solid transparent;
}
.srch-Page-img a:hover{
/* [ReplaceColor(themeColor:"Accent1-Lightest")] */ border-top:solid 1px #c6e5f8;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-right:solid 1px #91cdf2;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-left:solid 1px #91cdf2;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-bottom:solid 1px #91cdf2;
padding-left:3px;
padding-right:3px;
padding-bottom:2px;
text-decoration:none;
}
.srch-Page a:link img,.srch-Page a:visited img{
vertical-align:bottom;
}
.srch-Page STRONG{
/* [ReplaceColor(themeColor:"Accent1-Lightest")] */ border-top:solid 1px #c6e5f8;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-right:solid 1px #91cdf2;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-left:solid 1px #91cdf2;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-bottom:solid 1px #91cdf2;
font-size:1.1em;
margin:0 3px;
padding:4px 7.5px;
/* [RecolorImage(themeColor:"Light1")] */ background:url("../../../images/selbg.png")/*tpa=http://www.lilly.com/_layouts/images/selbg.png*/ repeat-x left top;
/* [ReplaceColor(themeColor:"Accent1",themeTint:"0.35")] */ background-color:#ccebff;
text-decoration:none;
float:left;
display:block;
font-weight:normal;
}
.srch-dup A:link,.srch-dup A:visited{
color:#517acc
}
.srch-Icon img{
width:16px;
float:left;
vertical-align:bottom;
}
.ms-searchresultsareaSeparator{
background:#d6e8ff;
padding:0;
}
.ms-sctabarea{
margin-top:0;
}
.ms-sctabcn{
font-family:verdana,tahoma,sans-serif;
font-size:1em;
padding:0 10px;
font-style:normal;
font-weight:normal;
vertical-align:middle;
/* [ReplaceColor(themeColor:"Accent1",themeShade:"0.20")] */ color:#003759;
/* [RecolorImage(themeColor:"Light1")] */ background:url("../../../images/selbg.png")/*tpa=http://www.lilly.com/_layouts/images/selbg.png*/ repeat-x left top;
/* [ReplaceColor(themeColor:"Accent1",themeTint:"0.35")] */ background-color:#ccebff;
/* [ReplaceColor(themeColor:"Accent1-Lightest")] */ border-top:solid 1px #c6e5f8;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-right:solid 1px #91cdf2;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-left:solid 1px #91cdf2;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-bottom:solid 1px #91cdf2;
height:23px;
}
.ms-sctabcnhover{
font-family:verdana,tahoma,sans-serif;
font-size:1.0em;
padding:0px 10px;
vertical-align:middle;
/* [ReplaceColor(themeColor:"Accent1",themeShade:"0.20")] */ color:#003759;
/* [RecolorImage(themeColor:"Light1")] */ background:url("../../../images/selbg.png")/*tpa=http://www.lilly.com/_layouts/images/selbg.png*/ repeat-x left top;
/* [ReplaceColor(themeColor:"Accent1",themeTint:"0.35")] */ background-color:#ccebff;
/* [ReplaceColor(themeColor:"Accent1-Lightest")] */ border-top:solid 1px #c6e5f8;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-right:solid 1px #91cdf2;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-left:solid 1px #91cdf2;
/* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border-bottom:solid 1px #91cdf2;
background-repeat:repeat-x;
height:23px;
font-style:normal;
font-weight:normal;
}
.ms-sctabcfhover{
font-family:verdana,tahoma,sans-serif;
font-size:1.0em;
font-style:normal;
font-weight:normal;
padding:0px 10px;
vertical-align:middle;
}
.ms-sctabcf A:link,.ms-sctabcf A:visited,.ms-sctabcfhover A:link,.ms-sctabcfhover A:visited{
/* [ReplaceColor(themeColor:"Accent1")] */ color:#0072bc;
text-decoration:none;
font-family:verdana,tahoma,sans-serif;
font-style:normal;
}
.ms-sctabcfhover A:hover{
text-decoration:none;
font-family:verdana,tahoma,sans-serif;
text-decoration:underline;
font-style:normal;
/* [ReplaceColor(themeColor:"Accent1-Darker")] */ color:#44aff6;
}
.ms-sctabnt{
padding:3px 0 3px 7px;
}
.ms-sctabnt A:link,.ms-sctabnt A:visited{
text-decoration:none;
font-family:verdana,tahoma,sans-serif;
color:#003399;
font-style:normal;__LCssFS
font-size:8pt;
}
.ms-sctabcf{
font-family:verdana,tahoma,sans-serif;
font-size:1em;
padding:0 10px;vertical-align:middle;
font-style:normal;
font-weight:normal;
}
.ms-sctabrx{
width:100%;
padding:2px 4px;
color:#7A7A7A;
vertical-align:middle;
text-align:left;
}
.ms-sctabcnb{
padding-bottom:0;
}
.ms-sctabcnb img{
display:none;
}
.ms-sctabcfb img{
display:none;
}
.ms-sctabcfb{
padding-bottom:0;
}
.srch-dropdown{
color:#595959;
font-size:1.1em;
margin-left:5px;
}
.srch-gosearchimg{
height:30px;
background:#fff url("../../../images/bgximg.png")/*tpa=http://www.lilly.com/_layouts/images/bgximg.png*/ repeat-x -0px -511px;
}
.srch-clear{
clear:both;
padding-top:10px;
}
.srch-sb-main{
height:100%;
width:100%;
padding-top:150px;
padding-bottom:10px;
}
.srch-maincontent-seperator{
/* [ReplaceColor(themeColor:"Light2-Lighter")] */ border-color:#b6babf;
border-style:solid;
border-width:0 0 1px;
height:1px;
width:100%;
}
.srch-sb-results4{
width:420px;
margin:auto;
}
.srch-sb-results6{
padding-top:10px;
width:420px;
margin:auto;
}
.srch-sb-results7{
width:100%;
margin-top:150px;
}
.srch-sb-results{
/* [ReplaceColor(themeColor:"Light2")] */ background:#fcfcfc;
height:100%;
width:100%;
padding-top:7px;
padding-bottom:2px;
}
.srch-sb-results1{
padding-left:175px;
}
.srch-sb-results2{
padding-left:175px;
padding-top:8px;
}
.srch-sitesearchmaintop{
margin-top:10px;
}
div.srch-BestBetsWPTitle{
background:url("Unknown_83_filename")/*tpa=http://www.lilly.com/_layouts/images/checkmark.gif*/;
background-repeat:no-repeat;
background-position:top left;
position:relative;
padding-bottom:10px;
}
span.srch-BestBetsWPTitle{
font-size:1.2em;
font-family:tahoma,verdana,sans-serif;
color:#525252;
font-weight:bold;
padding-left:20px;
}
.s4-search table{
width:212px;
float:left;
margin-right:17px;
}
.s4-search .ms-sbtable-ex{
float:right;
margin-right:2px;
margin-top:2px;
}
.s4-searchbox .ms-sbtable-ex{
float:left !important;
}
input.s4-searchbox-QueryPrompt{
font-style:italic;
}
.s4-search select.ms-sbscopes,.s4-search input.ms-sbplain{
border:1px solid #e3e3e3 !important;
color:#476382;
margin-top:0;
}
.s4-search select.ms-sbscopes{
padding:0 0 2px;
}
.s4-search input.ms-sbplain{
font-size:1.1em;
border-right:0 !important;
width:191px !important;
background:url("../../../images/bgximg.png")/*tpa=http://www.lilly.com/_layouts/images/bgximg.png*/ repeat-x -0px -511px;
border:1px solid #e3e3e3 !important;
background-color:#fff;
height:17px;
padding:2px 3px 0;
}
.s4-search .srch-gosearchimg{
background:url("../../../images/bgximg.png")/*tpa=http://www.lilly.com/_layouts/images/bgximg.png*/ repeat-x -0px -511px;
border:1px solid #e3e3e3 !important;
border-left:none !important;
background-color:#fff;
height:19px;
padding:0 !important;
}

.ms-osssearch-SearchAreaTd{
padding-bottom:4px;
padding-top:6px;
/* [ReplaceColor(themeColor:"Light2")] */ background:#fcfcfc;
/* [ReplaceColor(themeColor:"Light2-Lighter")] */ border-bottom:1px solid #b6babf;
}
.ms-osssearch-NotificationDiv{
padding-top:4px;
padding-bottom:4px;
float:left;
/* [ReplaceColor(themeColor:"Dark2")] */ text-color:#3b4f65;
}
.ms-osssearch-NotificationDiv a:link,.ms-osssearch-NotificationDiv a:visited,.ms-osssearch-NotificationDiv a:active{
color:#0072BC;
text-decoration:none;
}
.ms-osssearch-NotificationDiv a:hover{
color:#44AFF6;
text-decoration:underline;
}
.s4-searchbox{
width:100%
}

h3.ms-advsearch-header{
font-size:1em;
color:#525252;
margin:0;
}
div.ms-advsearch-header{
margin-top:25px;
margin-bottom:5px;
}

.srch-ext-action-margin{
margin-right:10px;
}
.srch-ext-table{
border-collapse:collapse;
}
.srch-ext-detail-table-docpreview{
margin-left:24px;
}
.srch-ext-docpreview{
margin-left:0;
}
.src-ext-tablevaligntop{
vertical-align:top;
padding:0;
}
.srch-ext-previewContainer{
position:relative;
}
.srch-ext-doc-prev-btn{
width:24px;
}
.srch-ext-visualbestbet{
position:relative;
left:40px;
width:90%;
overflow:hidden;
border:0;
margin:0;
}
.srch-ext-previewcloseicon{
left:0;
top:0;
position:absolute;
display:none;
z-index:1;
height:18px;
width:18px;
cursor:pointer;
border:1px solid silver;
}
.srch-ext-spanleft{
width:22px;
display:none;
user-select:none;
font-size:24px;
width:22px;
cursor:pointer;
text-align:center;
color:#666;
}
.srch-ext-spanleft:hover{
border:1px solid #D0D0D0;
width:20px;
line-height:160px;
}
.srch-ext-spanleftdis{
display:none;
line-height:162px;
user-select:none;
font-size:24px;
width:22px;
cursor:pointer;
text-align:center;
color:#CCC;
}
.srch-ext-spanright{
user-select:none;
display:none;
line-height:162px;
font-size:24px;
width:22px;
margin-left:2px;
cursor:pointer;
text-align:center;
color:#666;
}
.srch-ext-spanright:hover{
border:1px solid #D0D0D0;
width:20px;
line-height:160px;
}
.srch-ext-spanrightdis{
user-select:none;
display:none;
line-height:162px;
font-size:24px;
width:22px;
cursor:pointer;
text-align:center;
color:#ccc;
}
a.srch-ext-previewLinksDis,a.srch-ext-previewLinksDis:link,a.srch-ext-previewLinksDis:active,a.srch-ext-previewLinksDis:hover{
text-decoration:none !important;
color:#666;
cursor:arrow;
}
.srch-ext-Metadata{
margin:0 0 0 24px !important;
border-top:0 none !important;
}
.srch-ext-title{
margin-top:20px;
margin-bottom:10px;
}
.srch-ext-result{
clear:both;
}
.srch-ext-previewThumbnailDiv{
position:relative;
margin:2px 10px 16px 0;
}
.srch-ext-previewIconDocImg{
border:1px solid #D0D0D0;
}
.srch-ext-previewIconPptImg{
cursor:pointer;
border:1px solid #D0D0D0;
}
.srch-ext-mgnfier{
cursor:pointer;
position:absolute;
z-index:2;
right:0;
bottom:-10px;
}
.srch-ext-prev-error{
cursor:pointer;
position:absolute;
z-index:2;
right:0;
bottom:0;
}
.srch-ext-previewDivDocImg{
border:1px solid silver;
margin-left:0;
margin-right:2px;
padding:8px;
}
.srch-ext-previewDivDocImgLast{
border:1px solid silver;
margin-left:0;
margin-right:0;
padding:8px;
}
.srch-ext-previewDivPptImg{
border:1px solid silver;
margin-left:0;
margin-right:2px;
}
.srch-ext-previewDivPptImgLast{

cursor:pointer;
border:1px solid silver;
margin-left:0;
margin-right:0;
}
.srch-ext-fullViewCenter{
margin:10px
}
.srch-ext-fullViewTable{
opacity:0.95;
filter:alpha(opacity=95);
border:1px solid #000;
background:#EEE;
}
.srch-ext-fullViewTr{
text-align:right
}
.srch-ext-fullViewClose{
background:#DDD;
cursor:pointer;
width:0;
font-weight:bold;
font-size:10pt;
border:1px solid #000
}
.srch-ext-fullViewTableTd{
text-align:center
}
.srch-ext-fullViewImg{
border:1px solid #000
}
.srch-ext-findSimilarLink{
color:#039;
font-size:9pt;
font-family:arial;
}
.srch-ext-previewWindow{
float:left;
display:none;
width:600px;
height:166px;
overflow:hidden;
margin-left:0;
margin-bottom:20px;
}
.srch-ext-previewDiv{
width:3350px;
padding:0;
cursor:pointer;
overflow:hidden;
margin:0;
}
.srch-ext-duplicate-count{
font-size:0.9em;
color:#87b4d0 !important;
}
.ms-qrblinks a:visited{
color:#3966bf;
text-decoration:none;
}
.ms-qrblinks a:active{
color:#000
text-decoration:underline;
}
.ms-qrblinks a{
color:#039
text-decoration:none;
}
.ms-qrblinks a:hover{
color:#000
text-decoration:underline;
}

