/*
	CH Robinson Stylesheet for print media
	Last Updated: 19 May 2009
*/
body { background:#FFFFFF; }

table { float: none; width: 575px; }
a.print { display: none; }

fieldset { float: none; }

ul#navigation { display: none; }
ul#subnavigation { display: none; }

div#sidebar { display: none; }

div#header { float: none; height: auto; }
div#header a img { float: none; }
div#header form { display: none; }
div#header p { float: none; display: none; }
div#header p.help { width: 150px; margin: 20px 0 0 0; display: block; text-align: left; }
div#header p.help1 { width: 150px; margin: 20px 0 0 0; display: block; text-align: left; }
div#header p.help2 { width: 150px; margin: 10px 0 20px 0; display: block; text-align: left; }

div#content p.breadcrumbs { margin: 20px 0 10px 0; }

div#main { float: none; background: none; margin: 0; }
div#content { float: none; background: none; width: auto; }
div#content-left { float: none; background: none; }
div#content-wide { float: none; background: none; }

div.raq-content { height: auto !important; }
div.wp-content { height: auto !important; }
div.expert-content { height: auto !important; }
div.rfp-content { height: auto !important; }
div.moreinfo-content { height: auto !important; }
div.email-content { height: auto !important; }
div.findbranch-content { height: auto !important; }
div.branchsearch-content { height: auto !important; }

form.branchsearch { display: none; }
div#navigation-branch { display: none; }
div.additional { display: none }

div#footer { clear: left; }
div#footer p { float: none; }
div#footer p.links { display: none; }