/*THIS FILE CONTAINS CSS HACKS FOR WHEN JAVASCRIPT IS DISABLED*/
#findAgentMod, #managePolicyMod, #getQuoteMod{
	display: none;
}
#module_getYourQuote, #module_manageYourPolicy, #module_findAnAgent{
	height: 78px !important;
}