@media only screen and (min-width: 1200px) {
  .visible-large {
    display: inherit !important;
  }
  .hidden-large {
    display: none !important;
  }
  .visible-desktop {
    display: inherit !important;
  }
  .hidden-desktop {
    display: none !important;
  }
  body .fp-roksprocket-features .sprocket-features-content {
    width: 56%;
  }
  body .fp-roksprocket-features .feature-promo2 {
    font-size: 1.8em;
    margin-bottom: 20px;
  }
  body .fp-roksprocket-features .feature-promo3 {
    font-size: 1.8em;
  }
  body .sprocket-features-title {
    font-size: 4.3em;
  }
  body .sprocket-features-title .rt-feature-bubble {
    width: 90px;
    height: 90px;
  }
  body .sprocket-features-title .rt-feature-bubble:after {
    width: 70px;
    height: 70px;
  }
  body .sprocket-features-desc p {
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .fp-tab1 .rt-image img,
  .fp-tab3 .rt-image img {
    width: 359px;
    height: 230px;
    background: url(../../../images/rocketlauncher/frontpage/roksprocket-tabs/img1.jpg)/*tpa=http://www.calumetspecialty.com/images/rocketlauncher/frontpage/roksprocket-tabs/img1.jpg*/ no-repeat scroll 0 0 transparent;
  }
  .fp-tab2 .rt-image img,
  .fp-tab4 .rt-image img {
    width: 359px;
    height: 230px;
    background: url(../../../images/rocketlauncher/frontpage/roksprocket-tabs/img2.jpg)/*tpa=http://www.calumetspecialty.com/images/rocketlauncher/frontpage/roksprocket-tabs/img2.jpg*/ no-repeat scroll 0 0 transparent;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .visible-large {
    display: none !important;
  }
  .hidden-large {
    display: inherit !important;
  }
  .visible-desktop {
    display: inherit !important;
  }
  .hidden-desktop {
    display: none !important;
  }
  .promo h1 {
    font-size: 3.7em;
  }
  .promo p {
    font-size: 1.3em;
  }
  .promo-image {
    width: 40%;
  }
  .promo-image img {
    max-width: 100%;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-container {
    height: 409px;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-img-container img {
    width: 600px;
    height: 409px;
  }
  body .fp-roksprocket-features .sprocket-features-title {
    font-size: 3.3em;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-arrows {
    left: 77px;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-pagination {
    left: 177px;
  }
  body .fp-roksprocket-features .title5 {
    margin-left: -2px;
  }
  .fp-tab1 .rt-image img,
  .fp-tab3 .rt-image img {
    width: 279px;
    height: 230px;
    background: url(../../../images/rocketlauncher/frontpage/roksprocket-tabs/img1-desktop.jpg)/*tpa=http://www.calumetspecialty.com/images/rocketlauncher/frontpage/roksprocket-tabs/img1-desktop.jpg*/ no-repeat scroll 0 0 transparent;
  }
  .fp-tab2 .rt-image img,
  .fp-tab4 .rt-image img {
    width: 279px;
    height: 230px;
    background: url(../../../images/rocketlauncher/frontpage/roksprocket-tabs/img2-desktop.jpg)/*tpa=http://www.calumetspecialty.com/images/rocketlauncher/frontpage/roksprocket-tabs/img2-desktop.jpg*/ no-repeat scroll 0 0 transparent;
  }
  body .title .rt-bubble.rt-big-bubble {
    width: 60px;
    height: 60px;
  }
  body .title .rt-bubble.rt-big-bubble:before {
    top: 5px;
    left: -2px;
    font-size: 1.3em;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-large {
    display: none !important;
  }
  .hidden-large {
    display: inherit !important;
  }
  body #rt-logo a {
    width: 115px;
    background-size: 115px;
  }
  body .component-content h1,
  body .component-content h2,
  body .component-content h3 {
    font-size: 170%;
  }
  body .module-title .title {
    font-size: 1.6em;
  }
  body .rt-grid-3 .fp-search {
    width: 130px;
    margin-left: 0;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-container {
    height: 327px;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-img-container img {
    width: 480px;
    height: 327px;
  }
  body .fp-roksprocket-features .sprocket-features-title {
    font-size: 3.2em;
  }
  body .fp-roksprocket-features .sprocket-features-title,
  body .fp-roksprocket-features .feature-promo2 {
    padding-left: 0;
  }
  body .fp-roksprocket-features .feature-promo2 {
    display: none;
  }
  body .fp-roksprocket-features .title5 {
    margin-left: -15px;
    margin-top: 10px;
  }
  body .fp-roksprocket-features .title5 .largemarginright {
    margin-right: 8px !important;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-arrows {
    left: -12px;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-pagination {
    left: 85px;
  }
  body #k2Container h2,
  body #k2Container h2 a,
  body #k2Container h3,
  body #k2Container h3 a {
    font-size: 1.3em !important;
  }
  body #k2Container h2 span.itemEditLink a {
    font-size: 11px !important;
  }
  body #k2Container .subCategoryContainer,
  body #k2Container .itemContainer,
  body #k2Container .latestItemsContainer {
    width: 100% !important;
    float: none;
  }
  body #k2Container.itemListView .itemListCategory h2,
  body #k2Container.latestView .latestItemsCategory h2 {
    margin: 10px 0;
  }
  body #k2Container.itemListView .itemListSubCategories .subCategory h2 {
    margin: 10px 0;
  }
  body #k2Container.itemListView .itemListSubCategories .subCategory {
    margin-bottom: 5px !important;
  }
  body #k2Container.itemView .itemToolbar,
  body #k2Container.itemView .itemRatingBlock,
  body #k2Container.itemView .itemAuthorLatest,
  body #k2Container.itemView .itemRelated {
    width: 100% !important;
    float: none;
  }
  body table.calendar tr td,
  body table.calendar tr td.calendarDayName {
    padding: 0;
    font-size: 0.7em;
  }
  body div.k2TagCloudBlock {
    font-size: 0.8em;
    padding: 0;
  }
  .fp-tab1 .rt-image img,
  .fp-tab3 .rt-image img {
    width: 215px;
    height: 278px;
    background: url(../../../images/rocketlauncher/frontpage/roksprocket-tabs/img1-tablet.jpg)/*tpa=http://www.calumetspecialty.com/images/rocketlauncher/frontpage/roksprocket-tabs/img1-tablet.jpg*/ no-repeat scroll 0 0 transparent;
  }
  .fp-tab2 .rt-image img,
  .fp-tab4 .rt-image img {
    width: 215px;
    height: 278px;
    background: url(../../../images/rocketlauncher/frontpage/roksprocket-tabs/img2-tablet.jpg)/*tpa=http://www.calumetspecialty.com/images/rocketlauncher/frontpage/roksprocket-tabs/img2-tablet.jpg*/ no-repeat scroll 0 0 transparent;
  }
  body .title .rt-bubble.rt-big-bubble {
    width: 50px;
    height: 50px;
  }
  body .title .rt-bubble.rt-big-bubble:before {
    top: -1px;
    left: -3px;
    font-size: 1em;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .hidden-large {
    display: inherit !important;
  }
  .visible-large {
    display: none !important;
  }
  #rt-logo {
    margin: 0 auto;
  }
  body .component-content h1,
  body .component-content h2,
  body .component-content h3 {
    font-size: 160%;
  }
  body .component-content .column-1,
  body .component-content .column-2,
  body .component-content .column-3 {
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
  }
  body #gantry-totop {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  body #rt-copyright {
    text-align: center;
  }
  body .fp-featured-title h2.title {
    font-size: 170%;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-container {
    height: 400px;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-img-container {
    bottom: 0;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-img-container img {
    width: 300px;
    height: 205px;
  }
  body .fp-roksprocket-features .sprocket-features-content {
    width: 100%;
  }
  body .fp-roksprocket-features .sprocket-features-title {
    font-size: 2em;
    text-align: center;
    padding-left: 0;
  }
  body .fp-roksprocket-features .sprocket-features-title .title-1,
  body .fp-roksprocket-features .sprocket-features-title .title-2 {
    display: inline-block;
    padding: 0 5px;
  }
  body .fp-roksprocket-features .rt-feature-bubble {
    display: none;
  }
  body .fp-roksprocket-features .feature-promo2 {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
    padding-left: 0;
    text-align: center;
  }
  body .fp-roksprocket-features .title5 {
    margin: 20px 10px;
    text-align: center;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-arrows {
    left: 25px;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-pagination {
    display: none;
  }
  body .sprocket-mosaic .sprocket-mosaic-header .sprocket-mosaic-filter,
  body .sprocket-mosaic .sprocket-mosaic-header .sprocket-mosaic-order {
    text-align: center;
    float: none;
  }
  body .sprocket-mosaic .sprocket-mosaic-header .sprocket-mosaic-filter {
    margin-bottom: 10px;
  }
  body .rokajaxsearch .inputbox {
    margin-bottom: 8px;
  }
  .gantry-width-20,
  .gantry-width-25,
  .gantry-width-30,
  .gantry-width-33,
  .gantry-width-40,
  .gantry-width-50,
  .gantry-width-60,
  .gantry-width-66,
  .gantry-width-70,
  .gantry-width-75,
  .gantry-width-80 {
    width: 100%;
  }
  .gantry-width-spacer {
    margin: 5px;
  }
  .row {
    margin: 0;
    display: block;
  }
  .row .cell {
    display: block;
    width: 100%;
  }
  .form-horizontal .control-group .control-label {
    float: none;
    width: auto;
    text-align: left;
  }
  .form-horizontal .control-group .controls {
    margin-left: 0;
  }
  select {
    width: 100%;
  }
  body #k2Container h2,
  body #k2Container h2 a,
  body #k2Container h3,
  body #k2Container h3 a {
    font-size: 1.2em !important;
  }
  body #k2Container .subCategoryContainer,
  body #k2Container .itemContainer,
  body #k2Container .latestItemsContainer {
    width: 100% !important;
    float: none;
  }
  body #k2Container.itemListView .itemListCategory h2,
  body #k2Container.latestView .latestItemsCategory h2 {
    margin: 5px 0;
  }
  body #k2Container.itemListView .itemListSubCategories .subCategory h2 {
    margin: 5px 0;
  }
  body #k2Container.itemListView .itemListSubCategories .subCategory {
    margin-bottom: 5px !important;
  }
  body #k2Container.itemView .itemToolbar,
  body #k2Container.itemView .itemRatingBlock,
  body #k2Container.itemView .itemAuthorLatest,
  body #k2Container.itemView .itemRelated {
    width: 100% !important;
    float: none;
  }
  body #k2Container a.modal {
    position: static;
    font-size: 11px !important;
  }
  body .fp-tab1 .rt-image img,
  body .fp-tab2 .rt-image img,
  body .fp-tab3 .rt-image img,
  body .fp-tab4 .rt-image img {
    background: none;
  }
  body .gantry-width-block.rt-block {
    margin: 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .promo2 {
    display: inline-block;
    font-size: 2em;
    line-height: 1.3em;
    margin-bottom: 15px;
  }
  .promo3 {
    font-size: 1em;
    line-height: 1.5em;
  }
  body .title .rt-bubble.rt-big-bubble {
    width: 50px;
    height: 50px;
  }
  body .title .rt-bubble.rt-big-bubble:before {
    top: -1px;
    left: -3px;
    font-size: 1em;
  }
  .fp-maintop h5.title {
    padding-left: 25px !important;
  }
  .gantry-width-mobile-20,
  .gantry-width-mobile-80 {
    float: left;
  }
  .gantry-width-mobile-20 {
    width: 20%;
  }
  .gantry-width-mobile-80 {
    width: 80%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  body .component-content h1,
  body .component-content h2,
  body .component-content h3 {
    font-size: 150%;
  }
  body #gantry-totop {
    padding: 4px 0;
    margin-bottom: 15px;
  }
  .featuretitle .title {
    font-size: 2.5em;
  }
  .fp-maintop h5.title {
    padding-left: 25px !important;
  }
  body .sprocket-tabs-panels {
    border-radius: 0;
  }
  #roksearch_search_str {
    width: 97%;
  }
  .promo-image {
    width: 48%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .promo-image img {
    max-width: 100%;
  }
  .promo h1 {
    font-size: 2.2em;
  }
  .promo p {
    font-size: 1em;
  }
  .promo-desc {
    padding-top: 0;
  }
}
@media only screen and (max-width: 480px) {
  body .gantry-width-block {
    float: none;
  }
  body .component-content h1,
  body .component-content h2,
  body .component-content h3,
  body .component-content .title {
    font-size: 100%;
  }
  body .module-title .title {
    font-size: 1.6em;
  }
  #rt-logo {
    background-size: 80%;
    background-position: 50% 0;
  }
  body #gantry-totop {
    padding: 4px 0;
    margin-bottom: 15px;
  }
  .featuretitle .title {
    font-size: 2em;
  }
  body .title .rt-bubble.rt-big-bubble {
    width: 50px;
    height: 50px;
  }
  body .title .rt-bubble.rt-big-bubble:before {
    top: 5px;
    left: -1px;
    font-size: 1em;
  }
  body .fp-roksprocket-features.rt-block {
    padding: 0;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-container {
    height: 400px;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-img-container {
    bottom: 0;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-img-container img {
    width: 260px;
    height: 177px;
  }
  body .fp-roksprocket-features .layout-showcase .sprocket-features-arrows {
    left: 15px;
  }
  body .sprocket-mosaic-loadmore {
    margin: 0;
  }
  body .sprocket-tabs .sprocket-tabs-nav li {
    width: 100%;
    margin-bottom: -2px;
  }
  body .sprocket-tabs .sprocket-tabs-nav li:last-child {
    margin-bottom: -1px;
  }
  body .sprocket-tabs .sprocket-tabs-nav .sprocket-tabs-inner {
    font-size: 0.9em;
    margin-right: 0;
  }
  body .sprocket-tabs .sprocket-tabs-panels {
    border-radius: 0;
  }
  body #roksearch_results {
    width: 90%;
    left: 15px !important;
  }
  body #roksearch_search_str {
    width: 96%;
  }
  .promo-image {
    margin: 0 auto;
    width: 100%;
    float: none;
    text-align: center;
  }
  .promo-image img {
    max-width: 50%;
  }
  .promo h1 {
    font-size: 2.2em;
  }
  .promo p {
    font-size: 0.9em;
  }
  .promo-desc {
    padding-top: 0;
  }
  .promo2 {
    display: inline-block;
    font-size: 2em;
    line-height: 1.3em;
    margin-bottom: 15px;
  }
  .promo3 {
    font-size: 1em;
    line-height: 1.5em;
  }
  body #k2Container h2,
  body #k2Container h2 a,
  body #k2Container h3,
  body #k2Container h3 a {
    font-size: 1.0em !important;
  }
  body #k2Container .subCategoryContainer,
  body #k2Container .itemContainer,
  body #k2Container .latestItemsContainer {
    width: 100% !important;
    float: none;
  }
  body #k2Container.itemListView .itemListCategory h2,
  body #k2Container.latestView .latestItemsCategory h2 {
    margin: 5px 0;
  }
  body #k2Container.itemListView .itemListSubCategories .subCategory h2 {
    margin: 5px 0;
  }
  body #k2Container.itemListView .itemListSubCategories .subCategory {
    margin-bottom: 5px !important;
  }
  body #k2Container.itemView .itemToolbar,
  body #k2Container.itemView .itemRatingBlock,
  body #k2Container.itemView .itemAuthorLatest,
  body #k2Container.itemView .itemRelated {
    width: 100% !important;
    float: none;
  }
  body #k2Container a.modal {
    position: static;
    font-size: 11px !important;
  }
  body .fp-tab1 .rt-image img,
  body .fp-tab2 .rt-image img,
  body .fp-tab3 .rt-image img,
  body .fp-tab4 .rt-image img {
    background: none;
  }
  .fp-maintop h5.title {
    padding-left: 0 !important;
    margin-top: 0;
  }
  .fp-maintop h5.title .rt-bubble:before {
    padding: 15px 14px;
  }
  .gantry-width-mobile-20,
  .gantry-width-mobile-80 {
    float: left;
  }
  .gantry-width-mobile-20 {
    width: 20%;
  }
  .gantry-width-mobile-80 {
    width: 80%;
  }
  .gantry-width-mobile-80 h3 {
    margin-top: 0;
  }
}
