@font-face {
  font-family: 'ExoRegular';
  src: url('../fonts/exo-regular-webfont.eot')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.eot*/;
  src: url('../fonts/exo-regular-webfont.eot-#iefix')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.eot?#iefix*/ format('embedded-opentype'), url('../fonts/exo-regular-webfont.woff')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.woff*/ format('woff'), url('../fonts/exo-regular-webfont.ttf')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.ttf*/ format('truetype'), url('../fonts/exo-regular-webfont.svg#ExoRegular')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.svg#ExoRegular*/ format('svg');
  font-weight: normal;
  font-style: normal;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rok-left {
  float: left;
}
.rok-right {
  float: right;
}
.rok-dropdown-group,
.rok-dropdown {
  position: relative;
}
.rok-dropdown-open .rok-dropdown {
  display: block;
}
.rok-popover-group,
.rok-popover {
  position: relative;
}
.rok-popover-open .rok-popover {
  display: block;
}
@font-face {
  font-family: 'ExoRegular';
  src: url('../fonts/exo-regular-webfont.eot')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.eot*/;
  src: url('../fonts/exo-regular-webfont.eot-#iefix')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.eot?#iefix*/ format('embedded-opentype'), url('../fonts/exo-regular-webfont.woff')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.woff*/ format('woff'), url('../fonts/exo-regular-webfont.ttf')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.ttf*/ format('truetype'), url('../fonts/exo-regular-webfont.svg#ExoRegular')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.svg#ExoRegular*/ format('svg');
  font-weight: normal;
  font-style: normal;
}
.sprocket-lists li {
  border-top: 1px solid #ffffff;
}
.sprocket-tabs-nav .sprocket-tabs-inner {
  -webkit-box-shadow: inset 0 1px 1px #ffffff;
  -moz-box-shadow: inset 0 1px 1px #ffffff;
  box-shadow: inset 0 1px 1px #ffffff;
  border: 1px solid #E0E0E0;
}
.gf-menu {
  margin: 0 auto;
  list-style: none;
}
.gf-menu:after {
  display: table;
  content: '';
  clear: both;
}
.gf-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.gf-menu .item {
  font-family: 'ExoRegular', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 21px;
  color: #6E6E70;
  text-shadow: 1px 1px 1px #ffffff;
  padding: 4px 18px;
  text-align: left;
  text-decoration: none;
  display: block;
  outline: 0;
  cursor: pointer;
}
.gf-menu .item i {
  font-style: normal;
}
.gf-menu .item.subtext {
  padding-top: 1px;
  padding-bottom: 4px;
}
.gf-menu .item.subtext > em {
  display: block;
  font-size: 9px;
  line-height: 9px;
  color: #555556;
  text-align: left;
  font-style: normal;
}
.gf-menu .item.icon [class^="icon-"],
.gf-menu .item.icon [class*= " icon-"] {
  background-image: none !important;
  width: auto;
}
.gf-menu .item.icon [class^="icon-"]:before,
.gf-menu .item.icon [class*= " icon-"]:before {
  text-indent: 0;
  margin-right: 5px;
}
.gf-menu .item .menu-image {
  max-width: inherit;
  vertical-align: text-top;
  margin-top: -2px;
  margin-left: -2px;
}
.gf-menu.l1 > li.active > .item {
  color: #000000;
}
.gf-menu.l1 > li {
  background: url(../images/light/menu-separator.png)/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/images/light/menu-separator.png*/ no-repeat 0 6px;
}
.gf-menu.l1 > li:last-child:before {
  background: url(../images/light/menu-separator.png)/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/images/light/menu-separator.png*/ no-repeat 0 6px;
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  width: 2px;
}
.gf-menu.l1 > li > .item {
  font-size: 12px;
  line-height: 24px;
  padding-top: 18px;
  padding-bottom: 19px;
  position: relative;
  margin: 0 -1px 0 2px;
  text-transform: uppercase;
}
.gf-menu.l1 > li > .item.subtext {
  padding-top: 12px;
  padding-bottom: 15px;
}
.gf-menu.l1 > li > .item .menu-image {
  margin-top: 0;
}
.gf-menu.l1 > li.active {
  margin-bottom: -10px;
}
.gf-menu.l1 > li.active > .item {
  padding-bottom: 25px;
  background-color: #ededef;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#D8D8DA),color-stop(30%,#EDEDEF),to(#EDEEF0));
  background-image: -webkit-linear-gradient(#D8D8DA,#EDEDEF 30%,#EDEEF0);
  background-image: -moz-linear-gradient(top,#D8D8DA,#EDEDEF 30%,#EDEEF0);
  background-image: -o-linear-gradient(#D8D8DA,#EDEDEF 30%,#EDEEF0);
  background-image: linear-gradient(#D8D8DA,#EDEDEF 30%,#EDEEF0);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd8d8da', endColorstr='#ffedeef0', GradientType=0);
  border-bottom: 1px solid #ffffff;
  z-index: 1;
  position: relative;
}
.gf-menu.l1 > li.active > .item .rt-item-border {
  height: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 -1px;
  background: #1798d4;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
}
.gf-menu.l1 > li.active > .item:before {
  content: '';
  position: absolute;
  width: 42px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: url(../images/main/menu-shadow.png)/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/images/main/menu-shadow.png*/ no-repeat -28px -8px;
}
.gf-menu.l1 > li.active > .item:after {
  content: '';
  position: absolute;
  width: 42px;
  height: 100%;
  right: 0;
  top: 16px;
  line-height: 62px;
  text-align: right;
  margin-top: -16px;
  letter-spacing: 15px;
  z-index: 2;
  background: url(../images/main/menu-shadow.png)/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/images/main/menu-shadow.png*/ no-repeat 20px -120px;
}
.gf-menu.l1 > li.active.parent > .item:after {
  content: '\f078';
}
.gf-menu.l1 > li.active .rt-item-shadow {
  height: 8px;
  bottom: 0;
  left: 2px;
  right: -1px;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
.gf-menu li {
  float: left;
  display: block;
  text-align: center;
  position: relative;
  padding: 0;
  border: none;
}
.gf-menu li.parent > .item {
  position: relative;
  padding-right: 30px;
}
.gf-menu li.parent > .item:after {
  color: #3b3b3d;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -12px;
  font-family: FontAwesome;
  content: "\f078";
  font-size: 11px;
}
.gf-menu .dropdown {
  margin: -5px auto 0;
  padding: 10px 0;
  position: absolute;
  opacity: 0;
  left: -999em;
  text-align: left;
  border-top: 0;
  background: #eaebed;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  border-radius: 0 0 8px 8px;
  z-index: 100000;
  -webkit-box-shadow: 0 4px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 3px rgba(0,0,0,0.2);
  box-shadow: 0 4px 3px rgba(0,0,0,0.2);
}
.gf-menu .dropdown .flyout {
  display: block;
}
.gf-menu .dropdown ul li {
  display: block;
  float: none;
  margin-right: 0;
  padding: 0 5px;
  border: 0;
  background: url(../images/light/dropdown-separator.png)/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/images/light/dropdown-separator.png*/ no-repeat;
}
.gf-menu .dropdown ul li:first-child {
  background: none;
}
.gf-menu .dropdown ul li.active > .item {
  color: #000000;
}
.gf-menu .dropdown ul li .item {
  padding: 8px;
}
.gf-menu .dropdown ul li.parent > .item:after {
  margin-top: -10px;
  font-family: FontAwesome;
  content: "\f054";
  font-size: 11px;
}
.gf-menu .dropdown .grouped.parent > .item .border-fixer {
  display: none;
}
.gf-menu .dropdown .grouped.parent > .item:after {
  font-family: FontAwesome;
  content: "\f078";
  font-size: 11px;
}
.gf-menu .dropdown .grouped ol {
  border-radius: 4px;
  background: #dcdee1;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #C7C7C7;
  margin: 6px 0px;
  padding: 3px 0;
}
.gf-menu .dropdown .grouped ol > li {
  background: none;
}
.gf-menu .dropdown .grouped ol > li > .item {
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.gf-menu .dropdown .modules {
  text-align: left;
  color: #555556;
}
.gf-menu .dropdown .modules .module-content {
  padding: 0 10px;
}
.gf-menu .dropdown .modules .module-content h1,
.gf-menu .dropdown .modules .module-content h2,
.gf-menu .dropdown .modules .module-content h3,
.gf-menu .dropdown .modules .module-content h4,
.gf-menu .dropdown .modules .module-content h5 {
  color: #87878a;
}
.gf-menu .dropdown .modules .module-content p {
  margin: 0 0 10px 0;
  font-size: 12px;
  line-height: 18px;
}
.gf-menu .flyout {
  border-top: 1px solid rgba(0,0,0,0.2);
}
.gf-menu .column {
  float: left;
  position: relative;
}
.gf-menu .position-left {
  float: left;
  margin-right: 15px;
}
.gf-menu .position-right {
  float: right;
  margin-left: 15px;
}
.gf-menu.gf-splitmenu li.parent:hover {
  border-radius: 4px;
}
.gf-menu-toggle {
  padding: 7px 10px;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: 0;
  border-radius: 4px;
  background-color: #ccced3;
  background-image: -moz-linear-gradient(top,#dcdee1,#b3b7be);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#dcdee1),to(#b3b7be));
  background-image: -webkit-linear-gradient(top,#dcdee1,#b3b7be);
  background-image: -o-linear-gradient(top,#dcdee1,#b3b7be);
  background-image: linear-gradient(to bottom,#dcdee1,#b3b7be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdcdde1', endColorstr='#ffb3b6bd', GradientType=0);
  -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(0,0,0,0.1), 0px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(0,0,0,0.1), 0px 1px 1px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(0,0,0,0.1), 0px 1px 1px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 12000;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.gf-menu-toggle.active {
  border: 1px solid #555555;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) inset;
  background-color: #bec1c7;
  background-image: -moz-linear-gradient(top,#cfd1d5,#a5aab2);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#cfd1d5),to(#a5aab2));
  background-image: -webkit-linear-gradient(top,#cfd1d5,#a5aab2);
  background-image: -o-linear-gradient(top,#cfd1d5,#a5aab2);
  background-image: linear-gradient(to bottom,#cfd1d5,#a5aab2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffced0d5', endColorstr='#ffa5a9b2', GradientType=0);
}
.gf-menu-toggle .icon-bar {
  background-color: #6E6E70;
  border-radius: 1px 1px 1px 1px;
  display: block;
  height: 2px;
  width: 18px;
}
.gf-menu-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}
@media (min-width: 768px) and (max-width: 959px) {
  .layout-mode-responsive .gf-menu.l1 > li.parent > .item {
    padding-right: 20px;
  }
  .layout-mode-responsive .gf-menu.l1 > li.parent > .item:after {
    right: 8px;
  }
  .layout-mode-responsive .gf-menu.l1 > li.active > .item:after {
    letter-spacing: 5px;
    right: 0;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item {
    padding-left: 8px;
    padding-right: 8px;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item.subtext {
    padding-top: 18px;
    padding-bottom: 19px;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item.subtext em {
    display: none;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item.image img {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  @font-face {
    font-family: 'ExoRegular';
    src: url('../fonts/exo-regular-webfont.eot')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.eot*/;
    src: url('../fonts/exo-regular-webfont.eot-#iefix')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.eot?#iefix*/ format('embedded-opentype'), url('../fonts/exo-regular-webfont.woff')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.woff*/ format('woff'), url('../fonts/exo-regular-webfont.ttf')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.ttf*/ format('truetype'), url('../fonts/exo-regular-webfont.svg#ExoRegular')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.svg#ExoRegular*/ format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .clearfix {
    *zoom: 1;
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .clearfix:after {
    clear: both;
  }
  .hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  .input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .rok-left {
    float: left;
  }
  .rok-right {
    float: right;
  }
  .rok-dropdown-group,
  .rok-dropdown {
    position: relative;
  }
  .rok-dropdown-open .rok-dropdown {
    display: block;
  }
  .rok-popover-group,
  .rok-popover {
    position: relative;
  }
  .rok-popover-open .rok-popover {
    display: block;
  }
  @font-face {
    font-family: 'ExoRegular';
    src: url('../fonts/exo-regular-webfont.eot')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.eot*/;
    src: url('../fonts/exo-regular-webfont.eot-#iefix')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.eot?#iefix*/ format('embedded-opentype'), url('../fonts/exo-regular-webfont.woff')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.woff*/ format('woff'), url('../fonts/exo-regular-webfont.ttf')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.ttf*/ format('truetype'), url('../fonts/exo-regular-webfont.svg#ExoRegular')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.svg#ExoRegular*/ format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .gf-menu.l1 > li:hover .rt-menu-border {
    background: #203d8c;
    border-bottom: 1px solid #15275a;
    border-left: 1px solid #12224e;
    border-right: 1px solid #12224e;
    height: 5px;
    position: absolute;
    left: 1px;
    right: -2px;
  }
  .gf-menu.l1 > li:hover:last-child .rt-menu-border {
    right: 0;
  }
  .gf-menu.l1 > li:hover.active .rt-menu-border {
    display: none;
  }
  .gf-menu li:hover,
  .gf-menu li.active:hover {
    border-top: 0;
  }
  .gf-menu li:hover > .dropdown,
  .gf-menu li.active:hover > .dropdown {
    left: 2px;
    top: auto;
    opacity: 1;
  }
  .gf-menu li:hover > .item {
    color: #203d8c !important;
  }
  .gf-menu li.parent.active:hover .dropdown {
    margin-top: -15px;
  }
  .gf-menu .dropdown ul li:hover {
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .gf-menu .dropdown ul li:hover > .item {
    border-radius: 4px;
    border-top: 0;
  }
  .gf-menu .dropdown ul li:hover > .item .border-fixer {
    display: block;
    position: absolute;
    height: 100%;
    width: 2px;
    right: -1px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(0,0,0,0.1);
    top: 0px;
    background: #eaebed;
    z-index: 1001;
  }
  .gf-menu .dropdown ul li.parent:hover > .item {
    border-radius: 4px 0 0 4px;
  }
  .gf-menu .dropdown .grouped.parent:hover > .item {
    border-radius: 4px;
  }
  .gf-menu .dropdown .modules:hover,
  .gf-menu .dropdown .modules ul li:hover {
    padding-top: 0 !important;
  }
  .gf-menu .dropdown li:hover > .flyout {
    left: 100%;
    top: 1px;
    margin-left: -6px;
    border-top: 0;
    border-radius: 5px;
  }
  body.rtl li:hover > .dropdown,
  body.rtl li.active:hover > .dropdown {
    left: inherit;
    right: -1px;
  }
  body.rtl .dropdown ul li:hover > .flyout {
    left: inherit;
    right: 100%;
    border-radius: 5px 0 5px 5px;
    margin-left: auto;
    margin-right: -6px;
  }
  body.rtl .dropdown ul li:hover > .item .border-fixer {
    right: inherit;
    left: -1px;
  }
  body.rtl .dropdown ul li.parent:hover > .item {
    border-radius: 0 4px 4px 0;
  }
}
@font-face {
  font-family: 'ExoRegular';
  src: url('../fonts/exo-regular-webfont.eot')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.eot*/;
  src: url('../fonts/exo-regular-webfont.eot-#iefix')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.eot?#iefix*/ format('embedded-opentype'), url('../fonts/exo-regular-webfont.woff')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.woff*/ format('woff'), url('../fonts/exo-regular-webfont.ttf')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.ttf*/ format('truetype'), url('../fonts/exo-regular-webfont.svg#ExoRegular')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.svg#ExoRegular*/ format('svg');
  font-weight: normal;
  font-style: normal;
}
.layout-mode-960fixed .clearfix,
.layout-mode-1200fixed .clearfix {
  *zoom: 1;
}
.layout-mode-960fixed .clearfix:before,
.layout-mode-960fixed .clearfix:after,
.layout-mode-1200fixed .clearfix:before,
.layout-mode-1200fixed .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.layout-mode-960fixed .clearfix:after,
.layout-mode-1200fixed .clearfix:after {
  clear: both;
}
.layout-mode-960fixed .hide-text,
.layout-mode-1200fixed .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.layout-mode-960fixed .input-block-level,
.layout-mode-1200fixed .input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.layout-mode-960fixed .rok-left,
.layout-mode-1200fixed .rok-left {
  float: left;
}
.layout-mode-960fixed .rok-right,
.layout-mode-1200fixed .rok-right {
  float: right;
}
.layout-mode-960fixed .rok-dropdown-group,
.layout-mode-960fixed .rok-dropdown,
.layout-mode-1200fixed .rok-dropdown-group,
.layout-mode-1200fixed .rok-dropdown {
  position: relative;
}
.layout-mode-960fixed .rok-dropdown-open .rok-dropdown,
.layout-mode-1200fixed .rok-dropdown-open .rok-dropdown {
  display: block;
}
.layout-mode-960fixed .rok-popover-group,
.layout-mode-960fixed .rok-popover,
.layout-mode-1200fixed .rok-popover-group,
.layout-mode-1200fixed .rok-popover {
  position: relative;
}
.layout-mode-960fixed .rok-popover-open .rok-popover,
.layout-mode-1200fixed .rok-popover-open .rok-popover {
  display: block;
}
@font-face {
  font-family: 'ExoRegular';
  src: url('../fonts/exo-regular-webfont.eot')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.eot*/;
  src: url('../fonts/exo-regular-webfont.eot-#iefix')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.eot?#iefix*/ format('embedded-opentype'), url('../fonts/exo-regular-webfont.woff')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.woff*/ format('woff'), url('../fonts/exo-regular-webfont.ttf')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.ttf*/ format('truetype'), url('../fonts/exo-regular-webfont.svg#ExoRegular')/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/fonts/exo-regular-webfont.svg#ExoRegular*/ format('svg');
  font-weight: normal;
  font-style: normal;
}
.layout-mode-960fixed .gf-menu.l1 > li:hover .rt-menu-border,
.layout-mode-1200fixed .gf-menu.l1 > li:hover .rt-menu-border {
  background: #203d8c;
  border-bottom: 1px solid #15275a;
  border-left: 1px solid #12224e;
  border-right: 1px solid #12224e;
  height: 5px;
  position: absolute;
  left: 1px;
  right: -2px;
}
.layout-mode-960fixed .gf-menu.l1 > li:hover:last-child .rt-menu-border,
.layout-mode-1200fixed .gf-menu.l1 > li:hover:last-child .rt-menu-border {
  right: 0;
}
.layout-mode-960fixed .gf-menu.l1 > li:hover.active .rt-menu-border,
.layout-mode-1200fixed .gf-menu.l1 > li:hover.active .rt-menu-border {
  display: none;
}
.layout-mode-960fixed .gf-menu li:hover,
.layout-mode-960fixed .gf-menu li.active:hover,
.layout-mode-1200fixed .gf-menu li:hover,
.layout-mode-1200fixed .gf-menu li.active:hover {
  border-top: 0;
}
.layout-mode-960fixed .gf-menu li:hover > .dropdown,
.layout-mode-960fixed .gf-menu li.active:hover > .dropdown,
.layout-mode-1200fixed .gf-menu li:hover > .dropdown,
.layout-mode-1200fixed .gf-menu li.active:hover > .dropdown {
  left: 2px;
  top: auto;
  opacity: 1;
}
.layout-mode-960fixed .gf-menu li:hover > .item,
.layout-mode-1200fixed .gf-menu li:hover > .item {
  color: #203d8c !important;
}
.layout-mode-960fixed .gf-menu li.parent.active:hover .dropdown,
.layout-mode-1200fixed .gf-menu li.parent.active:hover .dropdown {
  margin-top: -15px;
}
.layout-mode-960fixed .gf-menu .dropdown ul li:hover,
.layout-mode-1200fixed .gf-menu .dropdown ul li:hover {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.layout-mode-960fixed .gf-menu .dropdown ul li:hover > .item,
.layout-mode-1200fixed .gf-menu .dropdown ul li:hover > .item {
  border-radius: 4px;
  border-top: 0;
}
.layout-mode-960fixed .gf-menu .dropdown ul li:hover > .item .border-fixer,
.layout-mode-1200fixed .gf-menu .dropdown ul li:hover > .item .border-fixer {
  display: block;
  position: absolute;
  height: 100%;
  width: 2px;
  right: -1px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(0,0,0,0.1);
  top: 0px;
  background: #eaebed;
  z-index: 1001;
}
.layout-mode-960fixed .gf-menu .dropdown ul li.parent:hover > .item,
.layout-mode-1200fixed .gf-menu .dropdown ul li.parent:hover > .item {
  border-radius: 4px 0 0 4px;
}
.layout-mode-960fixed .gf-menu .dropdown .grouped.parent:hover > .item,
.layout-mode-1200fixed .gf-menu .dropdown .grouped.parent:hover > .item {
  border-radius: 4px;
}
.layout-mode-960fixed .gf-menu .dropdown .modules:hover,
.layout-mode-960fixed .gf-menu .dropdown .modules ul li:hover,
.layout-mode-1200fixed .gf-menu .dropdown .modules:hover,
.layout-mode-1200fixed .gf-menu .dropdown .modules ul li:hover {
  padding-top: 0 !important;
}
.layout-mode-960fixed .gf-menu .dropdown li:hover > .flyout,
.layout-mode-1200fixed .gf-menu .dropdown li:hover > .flyout {
  left: 100%;
  top: 1px;
  margin-left: -6px;
  border-top: 0;
  border-radius: 5px;
}
.layout-mode-960fixed body.rtl li:hover > .dropdown,
.layout-mode-960fixed body.rtl li.active:hover > .dropdown,
.layout-mode-1200fixed body.rtl li:hover > .dropdown,
.layout-mode-1200fixed body.rtl li.active:hover > .dropdown {
  left: inherit;
  right: -1px;
}
.layout-mode-960fixed body.rtl .dropdown ul li:hover > .flyout,
.layout-mode-1200fixed body.rtl .dropdown ul li:hover > .flyout {
  left: inherit;
  right: 100%;
  border-radius: 5px 0 5px 5px;
  margin-left: auto;
  margin-right: -6px;
}
.layout-mode-960fixed body.rtl .dropdown ul li:hover > .item .border-fixer,
.layout-mode-1200fixed body.rtl .dropdown ul li:hover > .item .border-fixer {
  right: inherit;
  left: -1px;
}
.layout-mode-960fixed body.rtl .dropdown ul li.parent:hover > .item,
.layout-mode-1200fixed body.rtl .dropdown ul li.parent:hover > .item {
  border-radius: 0 4px 4px 0;
}
@media (max-width: 767px) {
  .layout-mode-responsive .gf-menu-device-wrapper {
    margin-bottom: 15px !important;
  }
  .layout-mode-responsive .gf-menu-device-container {
    background: #ffffff;
    border: 1px solid #E0E0E0;
    border-top: 0;
    -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 5px;
  }
  .layout-mode-responsive .gf-menu-device-container select {
    margin-bottom: 0;
    width: 100%;
  }
  .layout-mode-responsive .gf-menu {
    border-top: 15px solid #ffffff;
    background-clip: content-box;
    -webkit-background-clip: content-box;
    background: #ffffff url(../images/menu/tree-main.png)/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/images/menu/tree-main.png*/ repeat-y !important;
  }
  .layout-mode-responsive .gf-menu ul,
  .layout-mode-responsive .gf-menu ol {
    background: #ffffff url(../images/menu/tree-main.png)/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/images/menu/tree-main.png*/ repeat-y !important;
  }
  .layout-mode-responsive .gf-menu.l1 > li {
    padding-bottom: 10px;
  }
  .layout-mode-responsive .gf-menu li {
    background: url(../images/menu/tree-node.png)/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/images/menu/tree-node.png*/ no-repeat !important;
    padding-left: 20px !important;
    margin-right: 0 !important;
  }
  .layout-mode-responsive .gf-menu li.active.last {
    background: url(../images/menu/tree-node.png)/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/images/menu/tree-node.png*/ no-repeat !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .layout-mode-responsive .gf-menu li.active.last > .item {
    background: transparent;
    border: 1px solid #555555 !important;
    border-radius: 4px;
  }
  .layout-mode-responsive .gf-menu li.active.last > .item:before,
  .layout-mode-responsive .gf-menu li.active.last > .item:after,
  .layout-mode-responsive .gf-menu li.active.last > .item .rt-item-border {
    display: none;
  }
  .layout-mode-responsive .gf-menu li.active.last .rt-item-shadow {
    display: none;
  }
  .layout-mode-responsive .gf-menu li .columns-1 > .col1 > ul > li:last-child,
  .layout-mode-responsive .gf-menu li .columns-2 > .col2 > ul > li:last-child,
  .layout-mode-responsive .gf-menu li .columns-3 > .col3 > ul > li:last-child,
  .layout-mode-responsive .gf-menu li .columns-4 > .col4 > ul > li:last-child {
    background: #ffffff url(../images/menu/tree-node-last.png)/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/images/menu/tree-node-last.png*/ 0 -2px no-repeat !important;
  }
  .layout-mode-responsive .gf-menu li ol > li:last-child {
    background: #ffffff url(../images/menu/tree-node-last.png)/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/images/menu/tree-node-last.png*/ 0 -2px no-repeat !important;
  }
  .layout-mode-responsive .gf-menu li:hover > .item {
    color: #000000 !important;
  }
  .layout-mode-responsive .gf-menu li .item {
    padding: 2px 5px !important;
  }
  .layout-mode-responsive .gf-menu li .item.subtext em {
    display: none;
  }
  .layout-mode-responsive .gf-menu li .item:after {
    content: '' !important;
  }
  .layout-mode-responsive .gf-menu > li:first-child,
  .layout-mode-responsive .gf-menu > li:first-child.active {
    margin-top: -15px;
    background: url(../images/menu/tree-node-first.png)/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/images/menu/tree-node-first.png*/ no-repeat !important;
  }
  .layout-mode-responsive .gf-menu > li:last-child,
  .layout-mode-responsive .gf-menu li.active.last:last-child {
    background: #ffffff url(../images/menu/tree-node-last.png)/*tpa=http://www.calumetspecialty.com/templates/rt_chapelco/images/menu/tree-node-last.png*/ 0 -2px no-repeat !important;
  }
  .layout-mode-responsive .gf-menu > li.active:last-child .dropdown li:last-child {
    margin-bottom: 20px;
  }
  .layout-mode-responsive .gf-menu .dropdown {
    width: 100% !important;
    border: 0 !important;
    margin: 0 auto;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    position: relative;
    left: inherit;
    top: inherit;
    opacity: 1;
    *zoom: 1;
  }
  .layout-mode-responsive .gf-menu .dropdown:before,
  .layout-mode-responsive .gf-menu .dropdown:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .layout-mode-responsive .gf-menu .dropdown:after {
    clear: both;
  }
  .layout-mode-responsive .gf-menu .dropdown .flyout {
    display: block;
  }
  .layout-mode-responsive .gf-menu .dropdown .column {
    width: 100% !important;
  }
  .layout-mode-responsive .gf-menu .dropdown .grouped ol {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .layout-mode-responsive .gf-menu .dropdown .modules {
    display: none;
  }
  .layout-mode-responsive .gf-menu.l1 > li {
    float: none;
  }
  .layout-mode-responsive .gf-menu.l1 > li.active {
    margin-left: 0px;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
  }
  .layout-mode-responsive .gf-menu.l1 > li.active > .item {
    background: none;
    border-bottom: none;
  }
  .layout-mode-responsive .gf-menu.l1 > li.active > .item:before,
  .layout-mode-responsive .gf-menu.l1 > li.active > .item:after,
  .layout-mode-responsive .gf-menu.l1 > li.active > .item .rt-item-border {
    display: none;
  }
  .layout-mode-responsive .gf-menu.l1 > li.active .rt-item-shadow {
    display: none;
  }
  .layout-mode-responsive .gf-menu.l1 > li:before {
    display: none;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item {
    font-size: 14px;
  }
}
body.rtl .gf-menu.l1 > li {
  float: right;
}
body.rtl .gf-menu li .item {
  text-align: right;
}
body.rtl .gf-menu li.parent > .item {
  padding-right: 8px;
  padding-left: 25px;
}
body.rtl .gf-menu li.parent > .item:after {
  right: inherit;
  left: 6px;
}
body.rtl .gf-menu-toggle {
  left: inherit;
  right: 10px;
}
body.rtl .dropdown {
  border-radius: 5px 0 5px 5px;
}
body.rtl .dropdown ul li.parent > .item:after {
  content: "\f053";
  font-size: 11px;
}
@media (max-width: 767px) {
  .layout-mode-responsive.rtl .gf-menu.l1 > li {
    float: none;
  }
  .layout-mode-responsive.rtl .gf-menu li .item {
    text-align: left;
  }
}
