.blackbold{
	color:#000000; 
	font-family: Verdana,Arial; 
	font-size: 12px; 
	text-decoration: none;
	padding-right: 0px;
	font-weight: bold;
}

.homebodytext{
	color:#666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	padding-right: 0px;
	font-weight: bold;
	}
.bodytext{
	color:#666666; 
	font-family: Verdana,Arial; 
	font-size: 10px; 
	text-decoration: none;
	padding-right: 0px;
}
.bodytextbold{
	color:#666666; 
	font-family: Verdana,Arial; 
	font-size: 10px; 
	text-decoration: none;
	padding-right: 0px;
	font-weight: bold;
}
.tblfooter {
	font-family: Verdana, Arial;
	font-size: 9px;
	font-style: normal;
	color: #666666;
	text-decoration: none;
	text-align: center;
	border: 0px none;
}

.tblfooternoalign {
	font-family: Verdana, Arial;
	font-size: 9px;
	font-style: normal;
	color: #666666;
	text-decoration: none;	
	border: 0px none;
}
.contentheader-red {
	font-family: Verdana, Arial;
	font-size: 12px;
	font-weight: bold;
	color: #9C1B17;
	text-decoration: none;
}
.sectionhead-red {
	font-family: Verdana, Arial;
	font-size: 10px;
	font-weight: bold;
	color:#9C1B17;
	text-decoration: none;
}
.sectionhead-green {
	font-family: Verdana, Arial;
	font-size: 12px;
	font-weight: bold;
	color: #339933;
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: #9C1B17;
}
a:visited {
	text-decoration: none;
	color:#9C1B17;
}

a:active {
	text-decoration: none;
	color: #006600;
}

.MenuLinkAll a:active
{
	color: #DA251C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align:center !important;
    display: block !important;
}

.MenuLinkAll a:link
{
	color: #DA251C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px !imporant;
	font-weight: bold;
	text-align:center !important;
    display: block !important;
}
.MenuLinkAll a:visited
{
	color: #DA251C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align:center;
    display: block !important;
}

.MenuLink a:active
{
	text-decoration: none;
	color: White;
	font-size: 13px;
	font-weight: bold;
	text-align:center !important;
    display: block !important;
}

.MenuLink a:link 
{
	text-decoration: none;
	color: White;
	font-size: 13px !important;
	font-weight: bold;
	text-align:center !important;
    display: block !important;
}

.MenuLink a:visited 
{
	text-decoration: none;
	color: White;
	font-size: 13px;
	font-weight: bold;
	text-align:center !important;
    display: block !important;
}
.checkbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7px;
	color: #666666;
	text-decoration: none;
	width: 42px;
}
.leftNav {
	font-family:Verdana;
	font-size:x-small;
	color:#DA251C;
	 font-weight:bold;
	 border-bottom-style:solid;
	 border-bottom-color:Black;
	 border-bottom-width:thin;
	 
}
.TemplateBottomBorder 
{
	border-bottom-style:solid;
	border-bottom-width:thin; 
	border-bottom-color:Black
}
.NoPad
{
     padding: 0px;
     border-spacing: 0px;
}
.Rating:hover
{
    background-color: #FFFC90;
}	
.MenuHover
{
    color: White !important;
    background-color: #7C6F57 !important;
    display: block !important;
    text-align: center !important;
}
.MenuBlock
{
    font-size: 13px !important;  
    display: block !important;  
    text-align: left !important;    
    font-family: Arial, Helvetica, sans-serif !important;
}
.MenuBlockSmall
{
    font-size: X-Small !important;  
    font-weight: bold;
    display: block !important;  
    text-align: left !important;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: thin solid black !important;
    font-family: Verdana;
    color: #9c1b17 !important;
}
