* {
	margin: 0;
	padding: 0;
}
#bluenav {
	width: 944px;
	height: 40px;
	background-color: #0a4885;
	margin: 0 40px;
	z-index: 50;
	position: relative;
}
.qmclear {
	font-size: 1px;
	height: 0px;
	width: 0px;
	clear: left;
	line-height: 0px;
	display: block;
	float: none !important;
}
.qmmc {
	position: relative;
	zoom: 1;
	z-index: 10;
}
.qmmc a, .qmmc li {
	float: left;
	display: block;
	white-space: nowrap;
	position: relative;
	z-index: 1;
}
.qmmc div a, .qmmc ul a, .qmmc ul li {
	float: none;
}
.qmsh div a {
	float: left;
}
.qmmc div {
	visibility: hidden;
	position: absolute;
}
.qmmc .qmcbox {
	cursor: default;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.qmmc .qmcbox a {
	display: inline;
}
.qmmc .qmcbox div {
	float: none;
	position: static;
	visibility: inherit;
	left: auto;
}
.qmmc li {
	z-index: auto;
}
.qmmc ul {
	left: -10000px;
	position: absolute;
	z-index: 10;
}
.qmmc, .qmmc ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.qmmc li a {
	float: none;
}
.qmmc li:hover > ul {
	left: auto;
}
#qm0 ul {
	top: 100%;
}
#qm0 ul li:hover > ul {
	top: 0px;
	left: 100%;
}
/*"""""""" (MAIN) Container""""""""*/
#qm0 {
	float: left;
	width: 634px;
	height: 40px;
}
/*"""""""" (MAIN) Items""""""""*/
#qm0 a {
	border-left: 1px solid #125291;
	border-right: 1px solid #074077;
	padding: 12px 12px 10px 12px;
	margin: 0px 0px 0px 0px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	text-align: center;
	/*min-width:50px;*/
}
#qm0 a img{padding:0 0 2px 5px;}
#qm0 #qmfirst {
	border-left: #0a4885 solid 1px;
}
#qm0 #qmfirst:hover, #qm0 a.qmparent:hover {
	border-left: #07366e solid 1px;
}
#qm0 a#qmlast {
	border-right: none;
}
/*"""""""" (MAIN) Hover State""""""""*/
#qm0 a:hover {
	text-decoration: none;
	background: #09417c url('../images/bg_search.jpg')/*tpa=http://www.huntingtoningalls.com/images/bg_search.jpg*/ repeat-x;
	border-left: transparent solid 1px;
}
/*"""""""" (MAIN) Hover State - (duplicated for pure CSS)""""""""*/
#qm0 li:hover > a {
	text-decoration: none;
	background: #09417c url('../images/bg_search.jpg')/*tpa=http://www.huntingtoningalls.com/images/bg_search.jpg*/ repeat-x;
	border-left: #09417c solid 1px;
}
/*"""""""" (MAIN) Active State""""""""*/
#bluenav #qm0 .qmactive, #bluenav #qm0 .qmactive:hover {
	text-decoration: none;
	background: #09417c url('../images/bg_search.jpg')/*tpa=http://www.huntingtoningalls.com/images/bg_search.jpg*/ repeat-x;
	border-left: #09417c solid 1px;
}
/*"""""""" (SUB) Container""""""""*/
#qm0 div, #qm0 ul {
	background-color: #09417c;
	border-right: 1px #09417c solid;
	border-left:  1px #09417c solid;
	border-bottom: none;
	margin:0;
	border-collapse: collapse;
}
/*"""""""" (SUB) Items""""""""*/
#qm0 div a, #qm0 li ul li a {
	padding: 8px 10px;
	color: #FFFFFF;
	border-bottom: 1px #073c74 dotted;
	border-left: none;
	border-right: none;
	border-top: none;
	font-size: 12px;
	margin: 0;
	border-collapse: collapse;
	min-width:200px;
	text-align:left;
}
/*"""""""" (SUB) Hover State""""""""*/
#qm0 div a:hover {
	color: #FFFFFF;
	background-color: #073c74; /*#073c74*/
	background-image:none;
	border-bottom: 1px #0d4785 solid;
	border-left: none;
}
/*"""""""" (SUB) Hover State - (duplicated for pure CSS)""""""""*/
#qm0 ul li:hover > a {
	color: #FFFFFF;
	background-color: #073c74; /*#073c74*/
	background-image:none;
	border-bottom: 1px #0d4785 solid;
	border-left: none;
}
/*"""""""" (SUB) Active State""""""""*/
body #qm0 div .qmactive, body #qm0 div .qmactive:hover {
	color: #004b8d;
}
/*Add-On Core Code (Remove when not using any add-on's) -->*/
.qmfv {
	visibility: visible !important;
}
.qmfh {
	visibility: hidden !important;
}
input#text {
	background: #004b8d url('../images/bg_search.jpg')/*tpa=http://www.huntingtoningalls.com/images/bg_search.jpg*/ repeat-x;
	color: #fff;
	padding: 12px 11px 11px 15px;
	/*font-family: Verdana;*/
	border-style: none;
	margin-left: 0px;
	margin-right: 0px;
	vertical-align: top;
	position:relative;
	z-index:50;
}
input#button {
	width: 40px;
	height: 40px;
	background-color: #004b8d;
	background-image: url('../images/search_icon.jpg')/*tpa=http://www.huntingtoningalls.com/images/search_icon.jpg*/;
	background-repeat: no-repeat;
	background-position: center top;
	border: none;
	margin-left: -5px;
	cursor: pointer;
}
input#button:hover {
	background-position: center -40px;
}
