   
.theme-default #slider {
    margin:-40px auto 0 auto;
    width:1024px; /* Make sure your images are the same size */
    height:500px; /* Make sure your images are the same size */

}

.theme-product #slider {
    margin:-40px auto 0 auto;
    width:1024px; /* Make sure your images are the same size */
    height:350px; /* Make sure your images are the same size */

}

.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
    margin-top:150px;
}

/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.theme-default .nivoSlider, .theme-product .nivoSlider {
	position:relative;
	background:#222 url(../images/ajax-loader.gif)/*tpa=http://www.huntingtoningalls.com/images/ajax-loader.gif*/ no-repeat 50% 50%;
    margin-bottom:0px;
	/*
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;*/
	
}
.theme-default .nivoSlider img, .theme-product .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a, .theme-product .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav, .theme-product .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-42px;
    margin-left:-40px; /* Tweak this to center bullets */
}
.theme-default .nivo-controlNav a, .theme-product .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(Unknown_83_filename)/*tpa=http://www.huntingtoningalls.com/css/bullets.png*/ no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-default .nivo-controlNav a.active, .theme-product .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:40px;
	height:75px;
	background: url(../images/arrows-slidernav.png)/*tpa=http://www.huntingtoningalls.com/images/arrows-slidernav.png*/ no-repeat;
	text-indent:-9999px;
	border:0;
	margin-top:200px;
}

.theme-product .nivo-directionNav a {
	display:block;
	width:40px;
	height:75px;
	background: url(../images/arrows-slidernav.png)/*tpa=http://www.huntingtoningalls.com/images/arrows-slidernav.png*/ no-repeat;
	text-indent:-9999px;
	border:0;
	margin-top:117px;
}

.theme-default a.nivo-nextNav, .theme-product a.nivo-nextNav {
	background-position:-87px 0px;
	right:0px;
	border-left:1px solid #333;
	margin-left:0;
}

.theme-default a.nivo-nextNav:hover, .theme-product a.nivo-nextNav:hover {
	background-position:-87px -75px;
}

.theme-default a.nivo-prevNav, .theme-product a.nivo-prevNav {
	left:0px;
	background-position:-2px 0px;
	border-right:1px solid #333;
}

.theme-default a.nivo-prevNav:hover, .theme-product a.nivo-prevNav:hover {
	background-position:-2px -75px;
}
.theme-default .nivo-caption, .theme-product .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a, .theme-product .nivo-caption a {
    color:#fff;
}
.theme-default .nivo-caption a:hover, .theme-product .nivo-caption a:hover {
    color:#fff;
}
.cta {
	background:url(../images/action_button_slider.jpg)/*tpa=http://www.huntingtoningalls.com/images/action_button_slider.jpg*/;
	background-repeat:no-repeat;
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
	float:right;
	display:block;
	width:170px;
	height:38px;
	position:relative;
	top:-25px;
	margin-right:45px;
}

/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */

.nivo-caption{
	position:absolute;
	background:url(../images/capBack.png)/*tpa=http://www.huntingtoningalls.com/images/capBack.png*/ repeat-x;
	height:75px;
	bottom:0px;
	color:#fff;
	width:902px;
	z-index:8 !important;
	padding:0px 61px;
}
.nivo-caption p {
	padding:3px 0 0;
	margin:0;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
p.capHeading{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	padding-top:18px;
}
.nivo-caption a {
	float:right;
	display:block;
	position:relative;
	margin-right:0px;
	margin-top: -40px;
	padding:10px 45px 10px 15px;
	font-weight:bold;
	color:#FFFFFF !important;
	background:#004b8d url(../img/action_arrow.png)/*tpa=http://www.huntingtoningalls.com/img/action_arrow.png*/ no-repeat 95% center;
}

.nivo-caption a:hover { background-color:#0159a7; text-decoration:none;}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
