/*********************

author: ggao

IE 8.0 hacks

*********************/

span.button input {padding-top:4px;}
button {outline:0;zoom:1;}
input.cancel {vertical-align:baseline;}

/*used for anchors on core pages*/

ul.anchor {padding:0;list-style:none;}

#sellingStrat {margin-left:19px;}





 