/*********************
author: ggao

IE 6.0 hacks
*********************/
.shade-tl .con,ul.links li,#faMyClients,#clientBar,.sh-msg,#commLandList ul li,#commAll,#closeFund h1,#orderlitSearch .f,.orderlit .details,#wep .related .team,wep .related .team .members li,#priNavBlock ul.priNav li.dropTrigger ul.secNavDropDwn,.con-block,.orderlit .chartTable
	{
	zoom: 1;
}

#masthead h1 img {display:none;}

#tagline {
	left: -1px;
}

#userSideNav {margin:0 21px 0 0;}

h1 {
	margin-bottom: 15px;
}

div.contentTwoCol #mainContent,#sideBar {
	margin-right: -3px;
}

#sideBar {
	width: 221px;
}

th.headerSortUp span,th.headerSortDown span {
	margin-bottom: 3px;
}

#glbNavBlock {
	margin-bottom: 19px;
}

* html #floated-image {
	margin: 0 -3px;
	ma\rgin: 0;
}

#sideNav ul.terLevel li.focused {
	border-bottom: 1px solid #ddd;
	zoom: 1;
}

#sideNav li b {
	zoom: 1;
}

#sideNav ul.quatLevel li#currentLink {
	padding-bottom: 0;
}

#sideNav ul.secLevel li#currentLink span {display:inline-block;}

#sideNav ul.secLevel li a {display:inline-block;width:200px;}
#sideNav ul.terLevel li a {display:inline-block;width:196px;}
#sideNav ul.quatLevel li a {display:inline-block;width:175px;}


#capGains .asOf {
	margin-bottom: 6px;
}

button span {

}

button {
	padding-right: 10px;
}

button span {
	position: relative;
	top: 0px;
}

button {
	outline: 0;
	zoom: 1;
}

#priNavBlock {
	position: relative;
	top: -1px;
}

#fa-billboard {
	height: 177px;
}

#spotlightFlash {
	left: 0;
}

#spotlight img {
	margin-bottom: 10px;
}

#spotlight {
	width: 711px;
}

#spotlight .content {
	width: 711px;
}

.tertImage {
	width: 350px;
}

#terContent {
	width: 350px;
}

/* Spotlight changes */
.custom_image {
	width: 711px;
}

.custom_flash {
	width: 711px;
}

#quickLink ul a {
	padding: 8px 9px;
}

#siteSearch input.go {
	margin-left: 7px;
}

input.go {
	background: url('../img/common/bg-btn-ie.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-btn-ie.png*/ 0 -158px no-repeat
		transparent;
	margin-top: 1px;
}

input.inactivego {
	background: url('../img/common/bg-btn-ie.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-btn-ie.png*/ -24px -158px no-repeat
		transparent;
}

button.btn {
	background: url('../img/common/bg-btn-ie.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-btn-ie.png*/ right -79px no-repeat
		transparent;
	height: 22px;
}

button.btn span {
	background: url('../img/common/bg-btn-ie.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-btn-ie.png*/ 0 0 no-repeat transparent
		;
	height: 22px;
}

button.inactiveBtn {
	background: url('../img/common/bg-btn-ie.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-btn-ie.png*/ right -135px no-repeat
		transparent;
}

button.inactiveBtn span {
	background: url('../img/common/bg-btn-ie.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-btn-ie.png*/ 0 -56px no-repeat
		transparent;
}

span.btn,a.btn {
	background: url('../img/common/bg-btn-ie.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-btn-ie.png*/ right -79px no-repeat
		transparent;
	margin-top: 4px;
	height: 22px;
}

span.btn input,a.btn span,a.btn:hover span {
	background: url('../img/common/bg-btn-ie.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-btn-ie.png*/ 0 0 no-repeat transparent
		;
	margin-bottom: 1px;
}

span.inactivebtn,a.inactivebtn {
	background: url('../img/common/bg-btn-ie.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-btn-ie.png*/ right -135px no-repeat
		transparent;
}

span.inactivebtn input,a.inactivebtn span {
	background: url('../img/common/bg-btn-ie.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-btn-ie.png*/ 0 -56px no-repeat
		transparent;
}

span.btn input,a.btn span,a.btn:hover span,span.inactivebtn input,a.inactivebtn span
	{
	overflow: visible;
	display: inline-block;
}

#login input.go {
	margin-top: 1px;
}

#fundFilters input.txt {
	margin-top: -2px;
}

#fundFilters input.go {
	margin-top: -2px;
}

#faMyClients input.go {
	padding: 1px 0 0;
	height: 23px;
	background: url('../img/common/bg-btn-ie.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-btn-ie.png*/ 0 -157px no-repeat
		transparent;
	zoom: 1;
	vertical-align: middle;
}

#faMyClients input.inactivego {
	padding: 1px 0 0;
	height: 23px;
	background: url('../img/common/bg-btn-ie.png')/*tpa=http://www.franklinresources.com/corp/img/common/bg-btn-ie.png*/ -24px -157px no-repeat
		transparent;
	zoom: 1;
	vertical-align: middle;
}

select,input.txt,button {
	zoom: 1;
	vertical-align: middle;
}

.cancel {
	margin: 0 10px;
	vertical-align: middle;
	zoom: 1;
	outline: 0;
}

#fundDetail .expContent .tabCon {
	position: relative;
	zoom: 1;
}

table.fundperf thead th.fundCol {
	text-align: left;
	border-left: 0;
	width: 270px;
}

#priNavBlock {
	margin-bottom: -1px
}

div.myComm {
	height: 230px;
}

#faMyFunds #fundList tbody td a.alert {
	display: inline-block;
}

#searchExp #results ul li {
	margin-top: -3px;
}

#searchExp #results ul {
	margin-top: 6px;
}

table.fundperf thead th.attr div.contain .head {
	zoom: 1;
	left: 0;
	bottom: -34px;
	left: -2px;
}

table.fundperf tbody tr.mornrating td div.fc p.lc {
	padding-top: 3px;
}

#faeClient .chartTable p {
	_margin-top: 5px;
}

#closeFund h2 {
	margin-bottom: 4px;
}

.sh-msg {
	margin: -20px 10px 0;
}

#addClient a.btn {

}

#addClient a.btn span {
	height: 23px;
}

#advisorbar a.advclicked span {
	width: 220px;
}

#mos-feature {
	margin-top: -3px;
}

#campaignsList li,#campaignsList li div,#campaignsList li div.active {
	zoom: 1;
}

#stratList b.id,#campaignsList b.id {
	bottom: auto;
	top: 80px;
}

#campaigns .jcarousel-clip {
	_width: 940px;
}

#campaigns .jcarousel-list {
	_margin-left: 22px;
}

#campaigns .jcarousel-prev {
	position: absolute;
	left: 0;
	top: 0;
}

#campaigns .jcarousel-next {
	position: absolute;
	right: 0;
	top: 0;
}

.expContainer .expItem a span.arrow {
	color: #369;
	margin-right: 5px;
	font: 20px arial;
}

div.footnote ol {
	margin-left: 23px;
}

div.footnote ul {
	margin-left: 15px;
}

#sellingStrat .jcarousel-clip {
	_width: 710px;
}

#sellingStrat .jcarousel-list {
	_left: 19px;
	zoom: 1;
}

#sellingStrat .jcarousel-prev {
	position: absolute;
	left: 0;
	top: 0;
}

#sellingStrat .jcarousel-next {
	position: absolute;
	right: 0;
	top: 0;
}

div.fundMessage {
	text-align: left;
}

#siteSearchResult .previewAll .section ol li p {
	margin-left: 16px;
}

/* I.E compatibility for XHTML files */ /*Global changes */
#mainContent {
	width: 466px;
}

div.contentOneCol #mainContent {
	width: 980px;
}

div.contentTwoCol #mainContent {
	width: 711px;
}

#siteWrapper {
	width: 995px;
}

.secLandPaageDatGrid {
	width: 630px;
}

.proxyStyle {
	margin: 10px 0px 10px 25px;
}

#userNav {
	width: 194px;
	padding: 0px;
}

#footer .con {
	padding: 17px 20px;
}

#priNavBlock {
	margin-left: -15px;
	padding-left: 31px;
	padding-right: 16px;
}

#footer {
	background: transparent url(../img/common/footer.png)/*tpa=http://www.franklinresources.com/corp/img/common/footer.png*/ no-repeat;
}



#spaces .equal {
	width: 180px;
	float: left;
	padding-top: 5px;
}