@import url(reset_portal.css)/*tpa=http://www.franklinresources.com/corp/css/reset_portal.css*/;
@import url(global_portal.css)/*tpa=http://www.franklinresources.com/corp/css/global_portal.css*/;
@import url(country_portal.css)/*tpa=http://www.franklinresources.com/corp/css/country_portal.css*/;
@import url(jq_elements_portal.css)/*tpa=http://www.franklinresources.com/corp/css/jq_elements_portal.css*/;
 