#licenseViewLeftSide {   
    border-right: 1px solid #FFFFFF;    
    width: 100%;
}

#licenseViewRightSide {    
    width:100%;
}
.licenseViewFull
{   
   height:auto;
   padding:10px;
}
#twoColDiv
{
   width:100%;
   height:auto;
   color:#333333;
}
#col1
{
   float:left;	 
   width:50%;
   height:auto;
  
}
#col2
{
   float:left;	
   width:50%;
   height:auto;
  
}
.hAuto
{
 	height:auto;
}