

a.productInfo_leasePrice, a.productInfo_leasePrice:visited {
    /* color: #EEAF30; */
    color:#666666;
    font-family: Arial,Helvetica,"Microsoft Sans Serif","Trebuchet MS",san-serif;
    font-size: 11px;
    text-decoration: none;
}
.pppMainDiv {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    position: relative;
    width: 940px;
}

	.pppNavigationStyle {
		float: left;
		height: 20px;
		margin-bottom: 4px;
		margin-top: 0;
		width: 100%;
	}
		.pppProdNavLeft {
			float: left;
		}
		
		.pppProdNavRight {
			float: right;
		}
		
	.pppLhsSection_part {
		float: left;
		padding-bottom: 10px;
		width: 758px;
	}
		.productBarDiv {
			background-color: #EEEEEE;
			border-color: #EEEEEE;
			border-style: solid;
			border-width: 1px;
			float: left;
			width: 756px;
		}
			.productTitleDiv {
				float: left;
				min-height: 78px;
				overflow: hidden;
				padding: 0;
				width: 756px;
			}
				.pppBrandLogo {
					background: none repeat scroll 0 0 #FFFFFF;
					float: left;
					min-height: 78px;
					overflow: hidden;
					padding: 0;
					text-align: center;
					width: 182px;
				}
					.pppBrandImage {
						height: 76px;
					}
				
				.pppTitleProductDetails {
					float: right;
					min-height: 55px;
					overflow: hidden;
					padding: 5px;
					width: 554px;
				}
						.popup_productDescription {
							float: left;
							overflow: hidden;
							padding: 0 0 5px;
							width: 555px;
						}
						#logo {
							    float: right;
							    padding: 10px;
							    text-align: center;
							    width: 100px;
							}
						
						.mfrUnspscDiv {
							float: left;
							margin: 0 0 5px;
							overflow: hidden;
							width: 100%;
						}
						
						/*flaggedItemDiv*/
								.preferredItemImageDiv {
									float: left;
									padding: 0;
								}
								
								.preferredItemTextiv {
									float: left;
									margin: 0 0 0 5px;
									width: 175px;
								}
				
				.popupdiv {
					left: 20px;
					line-height: 14px;
					position: absolute;
					text-align: left;
					top: 60px;
					visibility: hidden;
					z-index: 1000;
				}
				
			.mainProdDetailsDiv {
				float: left;
				width: 100%;
			}
					.productImageAreaDiv {
						float: left;
						overflow: hidden;
						width: 242px;
					}
					
						.mainProductImageDiv {
							float: left;
							overflow: hidden;
							padding: 5px;
							text-align: center;
							width: 232px;
						}
						
						.productTourDiv {
							float: left;
							overflow: hidden;
							padding: 5px;
							text-align: center;
							width: 232px;
						}
					/*padding-top:3px*/	
						.pppOrderInfoMainDiv {
							/* border: 1px solid #EEEEEE; */
							float: left;
							margin-top: 3px;
							overflow: hidden;
							width: 514px;
						}
						
							.toolsIppMainDiv {
								/* border-bottom: 1px solid #EEEEEE; */
								height: 24px;
								padding-bottom: 10px;
								padding-top: 10px;
								width: 515px;
							}
							
								.toolsSingleRowStyle {
									float: left;
									padding-left: 10px;
									padding-right: 10px;
								}
								
									
									.ppptoolTextdiv {
										float: left;
										margin: 0 0 0 5px;
									}
							
							.availabilityIppMainDiv {
								float: left;
								padding-bottom: 10px;
								padding-left: 10px;
								padding-top: 10px;
								width: 215px;
							}
								
								.pppAvailabilityDiv {
									float: left;
									padding: 0;
									width: 100%;
								}
									.priceLabelClass {
										float: left;
										text-align: left;
										width: 100px;
									}
									.priceValueClass {
										float: left;
										text-align: right;
										width: 100px;
									}
									
									.currencyLarge {
										font-size: 12px;
										font-style: italic;
									}
									
									.yourPriceLarge {
										font-size: 14px;
										font-weight: bold;
									}
								
								.pppPriceMainDiv {
									float: left;
									margin: 10px 0;
									width: 215px;
								}
								
									.priceClass {
										height: 12px;
										padding: 0 0 2px;
										width: 200px;
									}
								
								.pppMainQuantityAdd {
									float: left;
									width: 215px;
								}
								
								.pppMainQuantityAdd .buttons {white-space:nowrap;} 
								
									.pppMainQuantity {
										float: left;
										padding-right: 5px;
									}
									
									.pppMainProdAddBtn {
										float: left;
									}
								
							
							.leaseClass_border {
								border: 1px solid #EEEEEE;
								/* border-left: 1px solid #EEEEEE; */
								float: right;
								padding: 8px;
								width: 270px;
								margin-top: 10px;
							}
								.priceSectionIconClass {
									float: left;
									padding: 4px 0 0;
									text-align: center;
									width: 24px;
								}
									.image_on_a_line {
										vertical-align: middle;
										height: 16px;
										width: 16px;
									}
								
								.leaseTextClass {
									float: left;
									padding: 0 0 0 5px;
									/* width: 145px; */
								}
								
							.toolsMainDiv_border {
								border-left: 1px solid #EEEEEE;
								float: right;
								padding: 8px;
								width: 272px;
							}
								.toolsMultiRowStyle{
									padding-bottom:10px;
									width:100%;
									float:left;
								} 
							
							.warrantiesMainDiv_border {
								border: 1px solid #EEEEEE;
								background-color:#F7F7F7;
								float: right;
								padding: 8px;
								width: 270px;
							}f
								.pppWarrantyOptionsHeader {
									float: left;
									width: 100%;
								}
								.protectionPlanClass{
									/* float:left; */
									/* padding-top:8px; */
									padding-left:0px;
									color: #333333;
									font-family: Arial,Helvetica,"Microsoft Sans Serif","Trebuchet MS",san-serif;
									font-size: 12px;
									text-align:left;
									
								}
								.pppWarrantyOptionsBody {
									float: left;
									/* height: 73px; */
									padding-left: 10px;
									padding-top: 4px;
									width: 100%;
								}
									.pppWarrantyLinkDescStyle {
										color: #0073B0;
										font-size: 11px;
										text-decoration: none;
									}
					
					#pppTabsDiv {
						float: left;
						left:-6px;
						width: 756px;
					}
						.tabButtonStyle {
							float: left;
							height: 35px;
							overflow: hidden;
							padding: 0;
						}
						
						.tabImageStyle {
							cursor: pointer;
							height: 35px;
						}
						
						
						.tabDivContainer {
							background: none repeat scroll 0 0 #FFFFFF;
							float: left;
							padding: 8px;
							width: 740px;
						}
							.tabClass {
								float: left;
								width: 100%;
							}
								#descriptionSection {
									float: left;
									padding: 8px;
									width: 75%;
								}
									.pppBullets {
										list-style-image: url("../../ccms_img/ul_bullet.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/ul_bullet.png*/;
										margin: 10px 0 10px 20px;
										padding: 0;
									}
									
									.overviewDescriptionElemsSpacing {
										padding-bottom: 10px;
										text-align: justify;
									}
									
								#logo {
									float: right;
									padding: 10px;
									text-align: center;
									width: 84px;
								}
								
									.overviewLogo {
										border: 1px solid #EEEEEE;
									}
							.pppCategoryProductDiv {
								color: black;
								float: right;
								font-family: Arial;
								font-size: 12px;
								margin-bottom: 0px;
								width: 100%;
							}
							
							.categorySectionSpace{
								float: right;
								margin-bottom: 20px;
								width: 100%;
							}
							
							.pppCategoryImageDiv {
								float: left;
								width: 75px;
							}

								.pppCategoryImage {
									border: 0px solid #CCCCCC;
								}

							.pppCategoryProductsDiv {
								float: right;
								margin-bottom: 15px;
								padding-left: 10px;
								width: 740px;
							}			
						.pppCategoryLabelDiv {
							background: none repeat scroll 0 0 #D9D9D9;
							color: black;
							font-family: Arial;
							font-size: 12px;
							font-weight: bold;
							height: 18px;
							padding-top: 5px;
							width: 100%;
						}
						.pppCategoryLabelDivNew {
							background: none repeat scroll 0 0 #D9D9D9;
							font-family: Arial;
							font-size: 12px;
							font-weight: bold;
							height: 18px;
							padding-top: 5px;
							width: 100%;
						}

						.pppCategoryIndividualProductDiv {
							margin-top: 5px;
							width: 100%;
							
						}
						
						.pppCategoryProductTitleCell {
							float:left;
							background: none repeat scroll 0 0 #F2F2F2;
							height: 25px;							
							padding: 0px;							
							
						}
						
						.pppCategoryProductRow{
							float:right;
							border-bottom: 1px solid #BFBFBF;
							position: relative;
							padding: 0px;
						}
						
						.pppCategoryProductCell {
							float: left;
							padding-bottom: 2px;
							padding-left: 8px;
							padding-top: 2px;
						}

						.pppCategoryProductLeftCell {
							float:left;
							background-color:#FFF;
							padding-bottom: 2px;
							padding-left: 0px;
							padding-top: 2px;
							padding-right:10px;
							width:250px;
														
						}
						.pppCategoryProductMidCell {
							background-color:#FFF;
							padding-bottom: 1px;
							padding-left: 0px;
							padding-top: 1px;
														
						}
						.pppCategoryProductRightCell {
							float:left;
							background-color:#FFF;
							padding-bottom: 2px;
							padding-left: 15px;
							padding-top: 2px;
						}
						
						.image_on_a_line {
							vertical-align: middle;
						}

					
					#rebateDisclaimer {
						color: #666666;
						font-family: Arial;
						font-size: 12px;
						width: 100%;
					}
					
					#rebateTitle {

						background: none repeat scroll 0 0 #D9D9D9;
						color: black;
						font-family: Arial;
						font-size: 12px;
						height: 20px;
						padding-top: 7px;
						width: 100%;
					}	
					
					#rebateDetails {
						color: black;
						float: left;
						font-family: Arial;
						font-size: 12px;
						font-style: normal;

						width: 50%;
					}


				
					#rebatePrice {
						background: none repeat scroll 0 0 #D9D9D9;
						color: black;
						float: right;
						font-family: Arial;
						font-size: 12px;
						font-style: normal;
						width: 40%;
					}
					
					.rebatePriceLarge {
						color: red;
						font-size: 14px;
						font-weight: bold;
						
					}
				
					.priceClass {
						height: 12px;
						padding: 0 0 2px;
						width: 200px;
					}
					
					.finalPriceClass {
						border-top: 1px solid #BFBFBF;
						float: left;
						height: 15px;
						margin-top: 5px;
						padding: 5px 0 0;
						width: 200px;
					}
					
					#rebateUrls {
						float: left;
						padding-top: 10px;
						width: 100%;
					}
				
					#rebateFileUrl {
						float: left;
						margin-top: 8px;
						width: 25%;
					}
					
					#adobeLogo {
						float: left;
						width: 45%;
					}
					
					
					/*Warranties Tab Styles*/
					#ippWarrantySection
					 {
						color: black;
						font-family: Arial;
						font-size: 12px;
						padding: 10px 0 0;
						width: 100%;
					}

					#ippWarrantyTitleSection {
						color: black;
						float: left;
						padding: 0;
						width: 100%;
					}

					#ippWarrantyBigImage {
						float: left;
						width: 5%;
					}

					#ippWarrantyTitleDiv {
						background: none repeat scroll 0 0 #D9D9D9;
						color: black;
						float: left;
						font-family: Arial;
						font-size: 12px;
						font-weight: bold;
						height: 18px;
						width: 95%;
					}

					.warrantyTitleDiv {
						background: none repeat scroll 0 0 #D9D9D9;
						color: black;
						float: left;
						font-family: Arial;
						font-size: 12px;
						font-weight: bold;
						height: 18px;
						padding-left: 15px;
						padding-top: 5px;
						width: 98%;
					}
					#warrantySpace{
						float: left;
						width: 724px;
						display:block; 
						padding-bottom: 15px;
					}
					#ippWarrantyDetails {
						float: right;
						margin-top: 5px;
						margin-bottom: 15px;
						width: 100%;
					}
					#ippWarrantyproductsDiv {
						 display: block; 
						 float: left; 
						 border-bottom: 1px solid #BFBFBF; 
						 padding-top: 10px;
						 padding-bottom: 10px;
						 width: 100%;
					}
					
					#warrantyRadio{
						float: left; 
						width: 32px; 
						display: inline; 
						text-align: right;
					}
					
					#oemWarrantyDetails {
						float: left;
						margin-top: 10px;
						margin-bottom: 15px;
						width: 100%;
					}

					#oemWarrantyProductsDiv {
						float: left;
						padding-top: 10px;
						width: 100%;
					}

					.oemWarrantyTitleDiv {
						background: none repeat scroll 0 0 #D9D9D9;
						color: black;
						float: left;
						font-family: Arial;
						font-size: 12px;
						font-weight: bold;
						height: 18px;
						padding-left: 15px;
						padding-top: 4px;
						width: 724px;
					}


					.oemWarrantyProductRow{
						float:left;
						border-bottom: 1px solid #BFBFBF;
						position: relative;
						padding-left: 5px;
						width: 100%;
						display: block;
					}
							
					.oemWarrantyProductNameCell {
						float: left;
						text-align:left; 
						width: 454px;
						padding-bottom: 2px;
						padding-left: 4px;
						padding-top: 2px;
						padding-right: 10px;
					}

					.oemWarrantyProductPriceCell {
						float: left;
						text-align:center; 
						width: 82px;
						padding-bottom: 2px;
						padding-left: 8px;
						padding-top: 2px;
					}

					.oemWarrantyProductQuantityCell {
						float: left;
						text-align: center; 
						width: 174px;
						padding-bottom: 2px;
						padding-left: 4px;
						padding-top: 2px;
					}
					/*Warranties Tab Styles*/
					
					


	/* PURCHASING TOOLS STYLE */
	#purchasingToolsDiv {
		float: left;
		width: 100%;
	}
	.purchasingToolsTitle {		
		background: url("../../ccms_img/hdr_narrowYourResults_blk.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/hdr_narrowYourResults_blk.png*/ no-repeat scroll center top transparent;
		font-weight: bold;
		height: 52px;
		padding-top: 0;
		text-align: center;	
		width: 177px;
	}
    .purchasingToolsTitle h1, .purchasingToolsTitle h2, .purchasingToolsTitle h3, .purchasingToolsTitle h4{
	    color:#FFFFFF;	    
	    line-height: 52px;
	}
		
	
		.purchasingToolsItemClass {
			float: left;
			padding: 5px;			
			width:157px;			
		}
		
			.purchasingToolsItemIcon {
				float: left;
				width: 24px;
			}
			
				.purchasingToolsItemTitle {
					float: right;
					width: 133px;
				}
				
				.bubble {
					font-size: 11px;
					height: 57px;
					padding: 6px;
					position: absolute;
				}
				.bubble {
					background: url("../../ccms_img/ico_toolTip.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/ico_toolTip.png*/ no-repeat scroll left top transparent;
					width: 90px;
				}
				
		.font-size:11px;		
		
	/*END PURCHASING TOOLS STYLE */
	
	/*Recommended Products Style*/

	#topMostrecommendedProductsDiv {
		float: left;
		padding-bottom: 10px;
		width: 100%;
	}

	.pppRhsSection {
		float: right;
		width: 177px;
		color: #FFFFFF;
		padding-left: 5px;
		background-color: #FFFFFF;
	}

	.rhsProductDetailsDiv {
		float: right;
		width: 120px;
	}
	
	.rhsProductDetailsDiv .callForPrice
	{
		font-size: 11px;
	}

	.rhsProductsDiv {
		float: left;
		margin: 5px 0 0;
		width: 177px;
		color: #FFFFFF;
	}

	.rhsDescriptionDiv {
		float: left;
		width: 128px;
	}

	.image_div {
		float: left;
		height: 50px;
		width: 50px;
	}

	.currency {
		color: #999999;
		font-size: 11px;
		font-style: italic;
	}

	.yourPrice {
		color: #666666;
		font-size: 13px;
		font-weight: bold;
	}
	
	.yourPriceSmall {
		color: #666666;
		font-size: 11px;
		font-weight: bold;
	}
	
	.ppptools {
		float: left;
		padding: 0;
		color: #666;
	}

	.float {
		float: left;
		position: relative;
	}

	/*tooltip*/
	.bubble_rec {
		display: none;
		font-size: 11px;
		padding: 6px;
		position: absolute;
		z-index: 3000;
	}

/*Recently Viewed Products Style*/
	.recProdrecentViewProdTitle {
		color: #FFFFFF;
		font-size: 11px;		
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		text-transform: uppercase;
		width: 177px;
		background-color:#0A87BC;
		font-weight:bold;
			
	}

    .recProdrecentViewProdTitle h1, .recProdrecentViewProdTitle h2, .recProdrecentViewProdTitle h3, .recProdrecentViewProdTitle h4{
	    color:#FFFFFF;	    
	    line-height: 18px;
	}
	
	#recentlyViewed {
    float: left;
    width: 100%;
	}
/*Recently Viewed Products Style*/

/*5px space filling div class*/
.fivePXSpace{
	float: right;
	margin-bottom: 5px;
	width: 100%;
}	
/*10px space filling div class*/
.tenPXSpace{
	float: right;
	margin-bottom: 10px;
	width: 100%;
}
/*10px space filling div class*/
.twentyPXSpace{
	float: right;
	margin-bottom: 20px;
	width: 100%;
}


/* product center success msg styles */

#prodCenterSuccessMsgPopUpDiv{
	border: 2px solid #000000;
    height: auto;
    width: 330px;
    background-color: #FFFFFF;
}

#prodCenterSuccessMsgPopUpDiv #headerDiv{
	padding-top: 3px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

#prodCenterSuccessMsgPopUpDiv #headerDiv #prodCenterImg{
	float: left;
    width: auto;
}

#prodCenterSuccessMsgPopUpDiv #headerDiv #title{
	color: #688037;
    float: left;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 3px;
    width: 273px;
}

#prodCenterSuccessMsgPopUpDiv #headerDiv #closeBtn{
	float: left;
	width: auto;
}

#prodCenterSuccessMsgPopUpDiv #bodyDiv {
	float: left;
	margin-left: 35px;
	margin-top: 10px;
}

#prodCenterSuccessMsgPopUpDiv #bodyDiv #goToProductCenter{
	margin-top: 10px;
	margin-bottom: 10px;
}

#productInfoPopUpDiv{
	display: none;
}

#selectedWarrantyDetailsDiv{
	display: none;
	/* text-align: center; */
	font-size: 11px;
}
#selectedIppWarrID{
	display:none;
}
#selectedWarrantyDetailsDiv .currency{
	color: #999999;
    font-size: 11px;
    font-style: italic;
}

#main_prod_warranty_price_div, #main_prod_final_price_div{
	display: none;
}

#main_prod_warranty_price_id{
	color: green;
    font-size: 13px;
    font-weight: bold;
}


#contractPricingTemplatePopUpDiv{
	background-color: #F2F2F2;
    padding: 10px;
}

#contractPricingTemplatePopUpDiv .contractPrice .contractPriceRadioBtns{
	float: left;

}

#contractPricingTemplatePopUpDiv .contractPrice .contractPriceRadioBtns input{
	vertical-align: middle;
}

#contractPricingTemplatePopUpDiv .contractPrice .contractPriceAmt{
	float: left;
	font-weight: bold;
}

#contractPricingTemplatePopUpDiv .contractPriceAddToOrderDiv .contractPriceQtyDiv{
	float: left;
}

#contractPricingTemplatePopUpDiv .contractPriceAddToOrderDiv .contractPriceQtyDiv input{
	vertical-align: middle;
	padding-right: 5px;
}

#contractPricingTemplatePopUpDiv .contractPriceAddToOrderDiv .contractPriceAddBtn{
	float: left;
}

#contractPricingTemplatePopUpDiv .contractPriceAddToOrderDiv .contractPriceAddBtn input{
	vertical-align: middle;
	padding-left: 5px;
}

#contractPricingTemplatePopUpDiv .contractPriceAddToOrderDiv{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 180px;
}

/*Compatibility Popup Styles*/
.bd{
	background-color: #F2F2F2;
}


td.tableInfo {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
    padding: 5px;
}

td.tableContent {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
    padding: 5px;
}

.textBold {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}

.text {
    color: #333333;
    font-size: 12px;
}

.miniPPPFullDetailsIcon {
    float: left;
    padding: 4px 0 0;
    text-align: center;
    width: 24px;
}

.miniPPPFullDetailsLink {
    float: left;
    margin-bottom: 20px;
    padding: 5px 0 0 5px;
    text-align: left;
    width: 150px;
}
/*End of Compatibility Popup Styles */

/* product Info Inline Styles */

.ProductInfoMainDiv{
	height: auto; 
	width: 940px; 
	background: #FFFFFF;
	padding-left: 10px; 
	padding-top: 10px; 
	padding-right: 10px;
}

.ProductInfoInsight{
	font-family:verdana,sans-serif;
	font-size:16px; color:#444444;
	text-align:right;
	font-weight:bold;
	float:right;
}

.ProductInfoInsightContact{
	font-family:verdana,sans-serif; 
	font-size:16px; color:#444444; 
	font-weight:bold;
}
.PIPrinterLabel{
	font-family:verdana,sans-serif; 
	font-size:16px; 
	text-decoration:none;	
}
a.PIPrinterLabel:hover{
	text-decoration:none;
}
.inventoryBlowOutInlineStyle{
	padding:5px;
	margin: 10px;
	margin-left:30px;
	background-color:#666666;
	color:#FFFFFF;
	font-weight: bold;
	float:left;
	display:block;
	min-width:200px;
	text-align:center;
}

.softwareAgreementStyle{
	padding:5px;
	margin: 10px;
	margin-left:30px;
	color:#009900;
	font-weight: bold;
	float:left;
	display:block;
	min-width:200px;
	text-align:center;
}

.pppCategoryInlineStyle{
	width:724px;
	float:left; 
	border-bottom: 1px solid #BFBFBF;
	background-color:#FFFFFF;
}

.warrantyRadioInlineStyle{
	float: left; 
	width: 32px; 
	display: inline; 
	text-align: right;
}

.warrantyDescriptionInline{
	float:left; 
	width: 432px; 
	display: inline; 
	padding-left: 18px;
}

.pppCategoryTitleInline{
	text-align:left; 
	vertical-align: middle; 
	width: 454px; 
	padding-left: 4px; 
	padding-right: 10px;
}

.pppCategoryTitleInline1{
	text-align:center; 
	width: 82px; 
	padding-left: 8px;
}

.pppCategoryTitleInline2{
	text-align: center; 
	width: 174px; 
	padding-left: 4px;
}
.categoryProductInline{
	text-align:center; 
	vertical-align: middle;
}
.categoryProductInlineItem{
	text-align:left; 
	vertical-align: middle;
}

.categoryProductInlineQty{
	text-align:right; 
	vertical-align: right;
	padding-right: 5px;
}

.purchasingToolsInline{
	width:177px; 
	height:52px;
	background-color:#000000;
	color:#FFFFFF;
	font-weight:bold;
}

.recProdrecentViewInline{
	width:177px; 	
	background-color:#0A87BC;
	font-weight:bold;
	clear:both;
}

.bubble_recInline{
	display: none;
	position: absolute;
}

.topLeftCornerInline{
	bgcolor:#FFFFFF; 
	height:20px;
}

.bottomLeftInline{
	bgcolor:#FFFFFF; 
	height:10px;
}

.compatibilityInline{
	margin-bottom: 5px; 
	padding: 0px 5px 5px 5px; 
	border-bottom: 1px dotted #444444;
}

.PICenterDiv{
	width:960px; 
	background:#FFFFFF;
	height: auto
}

.PIPrinterHeader{
	display:none; 
	float:left; 
	width:756px
}

.TopMostWarrantyOptionClass{
	width:100%; 
	float:left; 
	padding:0;
}

.PIRecProducts{
	top: 247px; 
	left: 501px; 
	display: none;
}

.PIWarrantyClass{
	width:200px;
	height:25px;
	float:left; 
	padding:0px;
}

.PIWarrantyImage{
	float:left; 
	padding:0px; 
	text-align:center;
}

.PICategoryIndividual{
	text-align:left; 
	vertical-align: middle;
	width: 232px;
}

.PIRecommendedProducts{
	float: left; 
	width: 167px; 
	text-align: right; 
	padding-right: 10px;
	margin-bottom:10px;
}



/* End of product Info Inline Styles */



/*product info License Tab*/
.LicenseProdInfo{
	padding-top:10px;
}
.LicenseProdLevel{
	padding-bottom:20px;
	padding-top:10px;
}

.callToOrder {
	/*float:right;*/
	text-align:center;
}

.callToOrder span {
	color: #0073B0;
}
.warrArea{
	width:550px;
	margin-left: 25px;

}
.WarrLogo{
	margin-top: -15px;	
}
.oemLogo{
	margin-top: -10px;	
}
.warrDesc{
	text-overflow: ellipsis;
	max-width:390px;
	min-width:390px;
	white-space: nowrap; 
	overflow: hidden;
		
}
#oemWarrantyDetails .callForPrice{
	display: inline;
}
.itemSelectedBtn, .removeWarrBtn{
	display: none;
}


/*new warr scroll css */
/* #ippWarrScrollDiv{
	margin: 10px;
	padding: 10px 0px 10px 0px;
}

#ippWarrScrollContainer #ippWarrScrollDiv{
	width: 720px;
}
#ippWarrScrollContainer .touchcarousel-item,#ippWarrScrollContainer .touchcarousel.grey-blue .arrow-holder.right,#ippWarrScrollContainer .touchcarousel.grey-blue .arrow-holder.left{
	border: none;
	width: auto;
	padding: 0px;
}
#ippWarrScrollContainer .touchcarousel.grey-blue .arrow-holder.left{
	left: -18px;
    top: -12px;
}
#ippWarrScrollContainer .touchcarousel.grey-blue .arrow-holder.right{
	right: 6px;
    top: -12px;
} */
/* .ippWarrScrollItem{
	width:200px;	 
}
#ippWarrScrollContainer .touchcarousel{	
	width: 600px;		
}
 #ippWarrScrollContainer.touchcarousel.touchcarousel-wrapper{	
	width: 620px;		
} */

/*isolated styles for touch scrolling*/

.touchcarousel .touchcarousel-container {
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.touchcarousel .touchcarousel-item {
    float: left;
    margin: 0;
    padding: 0;
}
.touchcarousel .touchcarousel-item.last {
    margin-right: 0 !important;
}
.touchcarousel #fifth {
    border-color: -moz-use-text-color;
    border-style: none;
    border-width: medium;
    padding: 12px 15px 12px 13px;
}
.touchcarousel .arrow-holder {
    cursor: pointer;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 45px;
    z-index: 25;
}
.touchcarousel .arrow-holder.left {
    left: 0;
}
.touchcarousel .arrow-holder.right {
    right: 0;
}
.touchcarousel .arrow-icon {
    cursor: pointer;
    height: 90px;
    margin-top: -45px;
    position: absolute;
    top: 50%;
    width: 20px;
}
.touchcarousel .arrow-icon.left {
}
.touchcarousel .arrow-icon.right {
}
.touchcarousel .arrow-holder:hover .arrow-icon {
}
.touchcarousel .arrow-holder.disabled {
    cursor: default;
}
.touchcarousel .arrow-holder.disabled .arrow-icon {
    cursor: default;
}
.touchcarousel .tc-paging-container {
    margin-top: -242px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 25;
}
.touchcarousel .tc-paging-centerer {
    float: left;
    left: 435px;
    position: relative;
}
.touchcarousel .tc-paging-centerer-inside {
    float: left;
    left: 435px;
    position: relative;
}
.touchcarousel .tc-paging-item {
    cursor: pointer;
    display: block;
    float: left;
    position: relative;
    text-indent: -9999px;
}
.touchcarousel .tc-paging-item.current {
}
.touchcarousel .tc-paging-item:hover {
}
.touchcarousel .scrollbar-holder {
    bottom: 5px;
    height: 4px;
    left: 6px;
    overflow: hidden;
    position: absolute;
    right: 6px;
    z-index: 30;
}
.touchcarousel .scrollbar {
    bottom: 0;
    height: 4px;
    left: 0;
    position: absolute;
}
.touchcarousel .scrollbar.dark {
    background-color: rgba(0, 0, 0, 0.5);
}
.touchcarousel .scrollbar.light {
    background-color: rgba(255, 255, 255, 0.5);
}
.touchcarousel.grey-blue .arrow-icon {
    background-image: url("../../ccms_img/insight-carousel-sprite.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/insight-carousel-sprite.png*/;
    background-repeat: no-repeat;
    height: 19px;
    margin-top: -9px;
    width: 11px;
}
.touchcarousel.grey-blue .arrow-holder {
    height: 100%;
    opacity: 1;
    width: 15px;
}
.touchcarousel.grey-blue .arrow-holder.left {
    background-color: #FFFFFF;
    border-right: 1px solid #DDDDDD;
    left: -18px;
    top: 10px;
}
.touchcarousel.grey-blue .arrow-holder.right {
    background-color: #FFFFFF;
    border-left: 1px solid #DDDDDD;
    right: -16px;
    top: 10px;
}
.touchcarousel.grey-blue .arrow-icon.left {
    background-position: -6px -15px;
    left: 0;
}
.touchcarousel.grey-blue .arrow-icon.right {
    background-position: -186px -15px;
    right: 0;
}
.touchcarousel.grey-blue .arrow-holder:hover .arrow-icon.left {
    background-position: -36px -15px;
}
.touchcarousel.grey-blue .arrow-holder:hover .arrow-icon.right {
    background-position: -156px -15px;
}
.touchcarousel.grey-blue .arrow-holder.disabled .arrow-icon.left {
    background-position: -66px -15px;
}
.touchcarousel.grey-blue .arrow-holder.disabled .arrow-icon.right {
    background-position: -126px -15px;
}
.touchcarousel.grey-blue .arrow-holder:hover {
    opacity: 1;
}
.touchcarousel.grey-blue .arrow-holder:active .arrow-icon {
    margin-top: -8px;
}
.touchcarousel.grey-blue .arrow-holder.disabled {
    opacity: 1;
}
.touchcarousel.grey-blue .tc-paging-item {
    background: url("../../ccms_img/insight-carousel-sprite.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/insight-carousel-sprite.png*/ no-repeat scroll -95px -22px transparent;  
    height: 16px;
    opacity: 0.8;
    width: 16px;
}
.touchcarousel.grey-blue .tc-paging-item.current {
    background: url("../../ccms_img/insight-carousel-sprite.png")/*tpa=http://www.insight.com/insightweb/assets/en_US/ccms_img/insight-carousel-sprite.png*/ no-repeat scroll -95px -4px transparent;
}
.touchcarousel.grey-blue .tc-paging-item:hover {
    opacity: 1;
}
#ippWarrScrollContainer .touchcarousel {
    height: 240px;
    overflow: hidden;
    position: relative;
    width: 730px;
}
#ippWarrScrollContainer  .touchcarousel .touchcarousel-wrapper {
    height: 100%;
    margin-left: 20px;/*over ridden*/
    margin-top: 0px;/*over ridden*/
    overflow: hidden;
    position: relative;
    width: 725px;
}
#ippWarrScrollContainer .touchcarousel.grey-blue .arrow-holder.left{
	border-right: none;
	left: -6px;
	top: -12px;
}
#ippWarrScrollContainer .touchcarousel.grey-blue .arrow-holder.right{
	top: -12px;
	border-left: none;
}
#ippWarrScrollDiv{
   width:735px;
}
.ippWarrScrollItem{
    height: 240px;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;	
}
.ippWarrScrollHdr, .oemWarrScrollHdr{
	background-color: #EEEEEE;
	padding:5px;
	
}
.ippWarrScrollItemDesc, .oemWarrScrollItemDesc, .icsWarrScrollItemDesc{
	height: 40px;
	overflow: hidden;
}
.oemWarrScrollItemPrice,.ippWarrScrollItemPrice{
	margin-bottom: 10px;
}



#oemWarrScrollContainer .touchcarousel {
    height: 240px;
    overflow: hidden;
    position: relative;
    width: 730px;
}
#oemWarrScrollContainer  .touchcarousel .touchcarousel-wrapper {
    height: 100%;
    margin-left: 20px;/*over ridden*/
    margin-top: 0px;/*over ridden*/
    overflow: hidden;
    position: relative;
    width: 725px;
}
#oemWarrScrollContainer .touchcarousel.grey-blue .arrow-holder.left{
	border-right: none;
	left: -6px;
	top: -12px;
}
#oemWarrScrollContainer .touchcarousel.grey-blue .arrow-holder.right{
	top: -12px;
	border-left: none;
}
#oemWarrScrollDiv{
   width:735px;
}
.oemWarrScrollItem{
    height: 240px;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;	
}

.icsWarrScrollItem{
	width: 160px;
	padding: 10px;
	/* height: auto ; */
	min-height:190px;
}


/*scroller in dialog css*/
#icsWarrScrollContainer .touchcarousel {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 550px;
}
#icsWarrScrollContainer .touchcarousel .touchcarousel-wrapper {
    height: 100%;
    margin-left: 20px;/*over ridden*/
    margin-top: 0px;/*over ridden*/
    overflow: hidden;
    position: relative;
    width: 545px;
}
#icsWarrScrollContainer .touchcarousel.grey-blue .arrow-holder.left{
	border-right: none;
	left: -6px;
	top: -12px;
}
#icsWarrScrollContainer .touchcarousel.grey-blue .arrow-holder.right{
	top: -12px;
	border-left: none;
}
#icsWarrScrollDiv{
   width:540px;   
}

