@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
.topbanner ol, .subnav ol, #navigation ol, #skip ol, #skip ul {
list-style:none;
}
body, div {
color:#000000;
}
#container {
width:985px;
background-color:#FFFFFF;
margin:0 auto;

}
.topbanner {

height:166px;
width:100%;
float:left;
}
.topbanner {
background:url(../images/photobanner.jpg)/*tpa=http://www.kohlscorporation.com/media/images/photobanner.jpg*/ no-repeat;
}
.topbanner img {
	margin: 51px 0 0 40px;
	float:left;
}

.persistentlinks {
background-color:#3f90c6;
border: 1px #c0c0c0 solid;
width:260px;
height:25px;
float:right;
display:inline;

}
.persistentlinks ol {
padding:5px 10px 0 10px;
width:250px;
}
.persistentlinks li {
padding:0 5px 0 5px;
list-style-type:none;
display:inline;
font: 1.32em  Georgia, "Times New Roman", Times, serif;
color:#202020;
}
.persistentlinks li a {
color:#ffffff;
}
.persistentlinks li a:hover {
color:#464646;
}
.clear {
clear:both;
}

/*-------------Accessibility Toolbar-----------------*/


#skip-float{
	width: 1000px;
	margin: 0 auto;
}
#skip li{
	float: left; /*display:inline;*/
}
#skip li a:link,
#skip li a:visited{
}
#skip ul{
	float: right;
	padding-right:20px;
}
#skip{
	padding: 5px 0 8px; /*margin:0 0 5px;*/
	overflow: auto;
	background: #F1F1F1;
	border-bottom: 1px solid #CCCCCC;
}
#skip a{
	float: left;
	padding-left:25px;
	font:.8em 'lucida grande', helvetica, verdana, arial, sans-serif;;
}

#skip a:link,
#skip a:visited{
	padding-right: 10px;
	border-color: #FFFFFF;
	color: #666666;
	background: url(Unknown_83_filename)/*tpa=http://www.kohlscorporation.com/media/images/arrow-skip.gif*/ no-repeat 100% 60%;
	font-weight: normal;
}
#skip li.css-switch a:visited, #skip li.css-switch a:link{
	background: none;
	padding: 0;
	margin: 0 10px 0 0;
}
#skip  li.css-switch a:focus,
#skip li.css-switch a:active,
#skip li.css-switch a:hover{
	/*color: #464646;
	background-color: #FFFFCC;
	padding:0;*/
	text-decoration: underline;
}
p a:focus, p a:active, p a:hover, .persistentlinks li a:focus, .persistentlinks li a:hover, .persistentlinks li a:active {
	color: #464646;
	background-color: #FFFFCC;
	text-decoration: underline;
}
p a:visited, .persistentlinks li a:visited {
padding:0 0 0 0;
}
#skip a:focus,
#skip a:active,
#skip a:hover,
a:focus,
a:active,
a:hover, #header li a:focus, #header li a:active, #header li a:hover{
	/*color: #464646;
	background-color: #FFFFCC;*/
	text-decoration: underline;		
}

/*-------------Top Navigation-----------------*/
#homepage #navigation {
position:relative;
top:-40px

}
#interiorpagenews #navigation {
position:relative;
top:-40px

}
#interiorpageinvrelations #navigation {
position:relative;
top:-40px
}
#interiorpagesuppliers #navigation {
position:relative;
top:-40px

}
#interiorpagekcharge #navigation {
position:relative;
top:-40px

}
#interiorpagecommunity #navigation {
position:relative;
top:-40px
}
#interiorpagecorpcard #navigation {
position:relative;
top:-40px;

}
#navigation ol {
padding:10px;
text-align:center
}
#navigation li {
list-style-type:none;
display:inline;
font: 1.3em 'lucida grande', helvetica, verdana, arial, sans-serif;
/*text-decoration:none;*/
padding:0 12px 0 12px;
}
#navigation li a {
color:#333333;
font-weight:normal;
text-decoration:none;
}
#navigation .current  {
font-weight:bold;
color:#FFFFFF;
}
#navigation .navnews .current  {

background:#52bcc8 url(../images/pointer.png)/*tpa=http://www.kohlscorporation.com/media/images/pointer.png*/ no-repeat;
background-position: bottom center;
padding:13px 14px 25px 14px;
color:#333333;
}
#navigation .navinvest .current  {
background:#f7ab1a url(../images/pointer.png)/*tpa=http://www.kohlscorporation.com/media/images/pointer.png*/ no-repeat;
background-position: bottom center;
padding:13px 14px 25px 14px;
color:#333333;
}
#navigation .navcommunity .current  {
background:#ac1d4b url(../images/pointer.png)/*tpa=http://www.kohlscorporation.com/media/images/pointer.png*/ no-repeat;
background-position: bottom center;
padding:13px 14px 25px 14px;
}
#navigation .navsuppliers .current  {
background:#5a5b5b url(../images/pointer.png)/*tpa=http://www.kohlscorporation.com/media/images/pointer.png*/ no-repeat;
background-position: bottom center;
padding:13px 14px 25px 14px;
}
#navigation .navkcharge .current  {
background:#a2a4a4 url(../images/pointer.png)/*tpa=http://www.kohlscorporation.com/media/images/pointer.png*/ no-repeat;
background-position: bottom center;
padding:13px 14px 25px 14px;
color:#333333;
}
#navigation .navcorpgc .current  {
background:#afd044 url(../images/pointer.png)/*tpa=http://www.kohlscorporation.com/media/images/pointer.png*/ no-repeat;
background-position: bottom center;
padding:13px 14px 25px 14px;
color:#333333;
}

/*-------------Sub Navigation-----------------*/

.subnav {
width:145px;

float:left;
}

.subnav li {
list-style-type:none;
padding:15px 0 0 5px;
font: 1.1em  'lucida grande', helvetica, verdana, arial, sans-serif;
color:#333333;
text-decoration:none;
}
.subnav li a {
font: 1.1em  'lucida grande', helvetica, verdana, arial, sans-serif;
color:#333333;
text-decoration:none;
padding:0 2px 0 3px;
}
.subnav ol {
padding-bottom:15px;
}
.subnav_head {
background: transparent url(../images/subnav_01.gif)/*tpa=http://www.kohlscorporation.com/media/images/subnav_01.gif*/ no-repeat;
width:141px;
height:15px;
} 
.subnav_body {
background: transparent url(../images/subnav_02.gif)/*tpa=http://www.kohlscorporation.com/media/images/subnav_02.gif*/ repeat-y;
}
.subnav_bottom {
background: transparent url(../images/subnav_03.gif)/*tpa=http://www.kohlscorporation.com/media/images/subnav_03.gif*/ no-repeat;
width:141px;
height:15px;
}
.subnav .linetwo {
font: 1.0em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding:0 2px 0 3px;
margin:0;
font-weight:normal;
}
.subnav .current {
/*font-weight:bold;*/
color:#FFFFFF;
text-decoration:none;
background:#5a5b5b repeat-y right;
padding:5px 0 5px 9px;
margin-left:-3px;
width:129px;
display:block;
}
.subnav .current .linetwo {
padding:0 0 0 0;
}
.subnav a.current a:hover {
background:#5a5b5b repeat-y right;
}

.undernavequity {
width:145px;
float:left;
clear:left;
padding:15px 0 0 2px;
}

/*-------------Sub Sub Nav-----------------*/

li.subsubnav {
padding:5px 0 5px 10px;
margin-left:3px;
width:126px;
background:#ccc repeat-y right;
font: .9em  'lucida grande', helvetica, verdana, arial, sans-serif;
}
#interiorpagecommunity .subsubnav .currentssn {
font-weight:bold;
text-decoration:none;
background-color:#f9e1e8;
padding:5px 0 5px 15px;
margin-left:-12px;
width:124px;
display:block;
}
#interiorpagenews .subsubnav .currentssn {
font-weight:bold;
text-decoration:none;
background-color:#b8e0e5;
padding:5px 0 5px 15px;
margin-left:-12px;
width:124px;
display:block;
}
.subsubnav .linetwossn {
font: 1.0em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding:0 0 0 5px;
margin:0;
font-weight:normal;
}
a.linetwossn {
padding:0 0 0 0;
margin:0 0 0 0;
}
.currentssn .linetwossn {
font-weight:bold;
padding:0 0 0 0;
}

/*-------------Main Content Area-----------------*/
.belowthenav {

height:auto;
background-color:#ebeae5;
background-position:left;
}
.column2 {
width:550px;
padding:20px 20px 50px 20px;
float:left;
display:inline;
overflow:hidden;
}
#interiorpagenews .column3 .boxtrick_head {
background: transparent url(../images/news-recentarticles_01.jpg)/*tpa=http://www.kohlscorporation.com/media/images/news-recentarticles_01.jpg*/ no-repeat;
} 
#interiorpagenews .column3 .boxtrick_body {
background: transparent url(../images/news-recentarticles_02.jpg)/*tpa=http://www.kohlscorporation.com/media/images/news-recentarticles_02.jpg*/ repeat-y;
}
#interiorpagenews .column3 .boxtrick_bottom {
background: transparent url(../images/news-recentarticles_03.jpg)/*tpa=http://www.kohlscorporation.com/media/images/news-recentarticles_03.jpg*/ no-repeat;
width:227px;
height:16px;
}
#interiorpagekcharge .column3 .boxtrick_head {
background: transparent url(../images/kcharge_ap_01.gif)/*tpa=http://www.kohlscorporation.com/media/images/kcharge_ap_01.gif*/ no-repeat;
} 
#interiorpagekcharge .column3 .boxtrick_body {
background: transparent url(../images/kcharge_ap_02.gif)/*tpa=http://www.kohlscorporation.com/media/images/kcharge_ap_02.gif*/ repeat-y;
}
#interiorpagekcharge .column3 .boxtrick_bottom {
background: transparent url(../images/kcharge_ap_03.gif)/*tpa=http://www.kohlscorporation.com/media/images/kcharge_ap_03.gif*/ no-repeat;
width:227px;
height:16px;
}
#interiorpagecorpcard .column3 .boxtrick_head {
background: transparent url(../images/corpgc_01.gif)/*tpa=http://www.kohlscorporation.com/media/images/corpgc_01.gif*/ no-repeat;
} 

#interiorpagecorpcard .column3 .boxtrick_body {
background: transparent url(../images/corpgc_02.gif)/*tpa=http://www.kohlscorporation.com/media/images/corpgc_02.gif*/ repeat-y;
}
#interiorpagecorpcard .column3 .boxtrick_bottom {
background: transparent url(../images/corpgc_03.gif)/*tpa=http://www.kohlscorporation.com/media/images/corpgc_03.gif*/ no-repeat;
width:227px;
height:16px;
}
#interiorpagecommunity .column3 .boxtrick_head {
background: transparent url(Unknown_83_filename)/*tpa=http://www.kohlscorporation.com/media/images/crelations_03_01.jpg*/ no-repeat;
height:222px;
} 
#interiorpagecommunity .column3 .boxtrick_head2 {
background: transparent url(Unknown_83_filename)/*tpa=http://www.kohlscorporation.com/media/images/crelations_04_01.gif*/ no-repeat;
height:154px;
} 
#interiorpagecommunity .column3 .boxtrick_head3 {
background: transparent url(../images/crelations_06B_01.gif)/*tpa=http://www.kohlscorporation.com/media/images/crelations_06B_01.gif*/ no-repeat;
height:146px;
} 
#interiorpagecommunity .column3 .boxtrick_head4 {
background: transparent url(../images/crelations_04B_01.gif)/*tpa=http://www.kohlscorporation.com/media/images/crelations_04B_01.gif*/ no-repeat;
height:34px;
} 

#interiorpagecommunity .column3 .boxtrick_body {
background: transparent url(../images/crelations_02.gif)/*tpa=http://www.kohlscorporation.com/media/images/crelations_02.gif*/ repeat-y;
}
#interiorpagecommunity .column3 .boxtrick_body img {
padding-left:18px;
}
#interiorpagecommunity .column3 .boxtrick_bottom {
background: transparent url(../images/crelations_03.gif)/*tpa=http://www.kohlscorporation.com/media/images/crelations_03.gif*/ no-repeat;
width:220px;
height:17px;
}
#interiorpagecommunity .column3 .boxtrick_body p {
padding:10px 15px 10px 25px;
color:#333333;
font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
line-height:18px;
}
#interiorpagecommunity .column3 p {
padding:10px 10px 10px 10px;
color:#333333;
line-height:18px;
}
#interiorpagenews .column3 li a {
color:#333333;
}
#interiorpagekcharge .column3 {
width:220px;

padding-bottom:30px;
float:right;
height:457px;
}
#interiorpagenews .column3 {
width:220px;

padding-bottom:30px;
float:right;
height:500px;
}
#interiorpagecorpcard .column3 {
width:220px;

padding-bottom:30px;
float:right;
height:257px;
}

#interiorpagesuppliers .column3 {
width:220px;

padding-bottom:50px;
float:right;
height:457px;
}
#interiorpagecommunity .column3 {
width:220px;

padding-bottom:50px;
float:right;
height:auto;
}
.fltright label, .fltright textarea, .fltright input {
float:right;
clear:right;
}

#interiorpagekcharge .column3 .boxtrick_body img {
padding:5px 0 0 13px;
}
#interiorpagecorpcard .column3 .boxtrick_body img {
margin:5px 0 5px 20px;
/*border:1px solid #FFFFFF;*/
}

#interiorpagekcharge .column3 h2 {
padding:10px 0 0 15px;
}
.column3 p, .column3 ol {
font: 1.0em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding:0 0 0 40px;
}
.column3 li, .column3 li a {
list-style-image:url(../images/arrow_d.gif)/*tpa=http://www.kohlscorporation.com/media/images/arrow_d.gif*/;
font: 1.1em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding:2px 0 0 0;
color:#525252;
}
.column2form {
width:820px;
padding:20px 0 50px 20px;
float:left;
display:inline;
overflow:hidden;
}
.column2form p {
width:600px;
line-height:18px;
}
.column2full {
width:820px;
padding:20px 0 120px 20px;
float:left;
display:inline;
overflow:hidden;
}
.column2invest {
width:650px;
padding:5px 0 120px 0;
float:left;
display:inline;
overflow:hidden;
}
.column2form p, .column2full p {
width:800px;
line-height:18px;
}
#interiorpagekcharge .column3 p, #interiorpagecorpcard .column3 p {
padding:5px 15px 10px 15px;
font: 1.3em  'lucida grande', helvetica, verdana, arial, sans-serif;
color:#FFFFFF;
line-height:18px;
}
#interiorpagekcharge .column3 p a, #interiorpagecorpcard .column3 p a {
color:#FFFFFF;
text-decoration:underline;
font-weight:bold;
}
#interiorpagecorpcard .column3 p, #interiorpagecorpcard .column3 p a {
color:#333333;
}
p {
padding: 10px 0 5px 0;
font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
color:#333333;
line-height:18px;
}

p a {
padding: 15px 0 0 0;
font: 1.0em  'lucida grande', helvetica, verdana, arial, sans-serif;
color:#9B1943;
}
p a:hover, h2 a:hover {
padding: 0 0 0 0;
}
#interiorpagecorpcard .column3 p a:hover, #interiorpagekcharge .column3 p a:hover {
color:#333333;
}
h1 {
font: 1.6em  Georgia, "Times New Roman", Times, serif;
font-weight:bold;
color:#525252;
}
h2 {
font: 1.6em  'lucida grande', helvetica, verdana, arial, sans-serif;
font-weight:bold;
color:#5a5b5b;
padding: 15px 0 5px 0;
}


h2 a {
font-weight:bold;
color:#007785;
padding: 15px 0 5px 0;
}
.column3 h2 {
font: 1.3em  'lucida grande', helvetica, verdana, arial, sans-serif;
font-weight:bold;
color:#5a5b5b;
padding:20px 20px 0 20px;
}
.calltoaction {
color:#9B1943;
font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
}
a:hover.calltoaction, #maincontent li a:hover {
background-color:#FFFFCC;
color:#333333;
}
.disclaimer {
font: .9em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding:13px 0 3px 0;
}
#interiorpagekcharge #maincontent ol, #interiorpagesuppliers #maincontent ol, #interiorpagecorpcard #maincontent ol, #interiorpagenews #maincontent .column2 ol, #interiorpagecommunity #maincontent ol {
padding:10px 0 10px 20px;
}
#maincontent ul {
padding:10px 10px 10px 30px;
}
#maincontent li {
font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding: 5px 0 5px 0;
}
#maincontent li a {
font: 1.0em  'lucida grande', helvetica, verdana, arial, sans-serif;
color:#9B1943;
}
.chartheader {
font: 1.0em  'lucida grande', helvetica, verdana, arial, sans-serif;
font-weight:bold;
color:#333333;
padding:15px 50px 0 0;
width:80px;
}
.data {
font: 1.0em  'lucida grande', helvetica, verdana, arial, sans-serif;
}
.addresswhole {
padding:15px 0 5px 0;
}
.addressindent {
clear:both;
display: block;
padding:0 0 0 0px;
line-height:18px;
}
/*----------FAQ dropdown-----------*/


#submission p {
padding: 5px 0 5px 0;
font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
color:#333333;
line-height:18px;
}
#submission p strong {
padding: 5px 0 5px 0;
font: 1.4em  'lucida grande', helvetica, verdana, arial, sans-serif;
color:#9B1943;
font-weight:bold;
}
#submission p a {
padding: 15px 0 0 0;
font: 1.0em  'lucida grande', helvetica, verdana, arial, sans-serif;
color:#9B1943;
}
#submission p a:hover, h2 a:hover {
padding: 0 0 0 0;
}

h5 {
color:#9B1943;
text-decoration:underline;
cursor:pointer;
padding: 10px 0 10px 0;
}

/*----Section Customization----*/

#interiorpagesuppliers #maincontent li {
font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding:7px 0 7px 0;
}
li.nobullets {
list-style-type:none;
font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding:7px 0 7px 0;
}
#interiorpagecommunity #maincontent li.nobullets {
list-style-type:none;
font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding:7px 0 7px 0;
}
#interiorpagesuppliers #maincontent li a {
color:#9B1943;
padding:2px 0 2px 0;
}
#interiorpagesuppliers #maincontent ul {
padding: 10px 0 0 30px;
}
#interiorpagesuppliers .buywrapper {
width:500px;
padding-top:10px;
}
#interiorpagesuppliers .buy_leftside {
float:left;
width:120px;
margin-top:10px;
}
#interiorpagesuppliers .buy_rightside {
float:left;
width:350px;
border-left: 1px #52bcc8 solid;
border-right: 1px #52bcc8 solid;
border-bottom: 1px #52bcc8 solid;
border-top: 1px #52bcc8 solid;
margin-top:10px;
}
#interiorpagesuppliers .buy_leftside h2 {
font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
font-weight:bold;
background-color:#007785;
color:#FFFFFF;
padding:5px 0 5px 5px;
}
li.buy_rightside {
list-style-type:circle;
font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding:0 0 15px 0;
}
#interiorpagekcharge #maincontent h2, #interiorpagenews #maincontent h2 {
color:#007785;
}
#interiorpagecommunity h2 {
font: 1.6em  'lucida grande', helvetica, verdana, arial, sans-serif;
font-weight:bold;
color:#007785;
padding: 15px 0 5px 0;
}

/*----Suppliers Form----*/

fieldset {
	width:600px;
}
.form-div-container label {
	padding:5px 0 5px 0;
}
.form-div-container div{
clear:right;
display:block;
padding:4px 0 4px 0;
float:right;
}
.form-div-container div p {
text-align:right;
width:600px;
line-height:18px;
}
.form-div-container {
border-top: 3px #52bcc8 solid;
}

legend{
	font: 1.5em  'lucida grande', helvetica, verdana, arial, sans-serif;
	font-weight:bold;
	color:#007785;
	padding:15px 0 5px 0;
}
label{
	font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
}
.submitbutton {
padding:10px 0 0 220px;
}
.hacked {
width:600px;
text-align:right;
}
.subnav li a:focus,
.subnav li a:active,
.subnav li a:hover {
	text-decoration:underline;
}
a:focus .current,
a:active .current,
a:hover .current {
	text-decoration:underline;
}  

li.subsubnav a:focus,
li.subsubnav a:active,
li.subsubnav a:hover {
text-decoration:underline;
}
#navigation li a:focus,
#navigation li a:active, 
#navigation li a:hover {
text-decoration:underline;
}

/*----Footer----*/

#footer {
padding:20px 0 0 0;
}

.footertopcorners {
background:url(../images/footerbackground.gif)/*tpa=http://www.kohlscorporation.com/media/images/footerbackground.gif*/ no-repeat bottom left;
height:12px;
padding:0;
border:0;
margin:0;
}
.footermain {
background-color:#e0e0e0;
background-repeat: repeat-x;
width:985px;
overflow:auto;
border:0;
padding:0;
}
.leftfooter {
width:620px;
padding: 0 0 10px 80px;
float:left;
position:relative;
}
.leftfooter p {
font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding-top:5px;
color:#534b40;
line-height:18px;
}
.leftfooter a {
font: 1.0em  'lucida grande', helvetica, verdana, arial, sans-serif;
text-decoration:underline;
color:#534b40;
}
.rightfooter {
float:right;
padding: 0 80px 0 0;
}
.rightfooter a {
color:#444444;
}
.rightfooter p {
font: 1.6em  Georgia, "Times New Roman", Times, serif;
line-height:18px;
}


.emphasis {
font: 1.0em 'lucida grande', helvetica, verdana, arial, sans-serif;
color:#333333;
font-weight:bold;
}
.emphasis2 {
font: 1.0em 'lucida grande', helvetica, verdana, arial, sans-serif;
color:#9B1943;
font-weight:bold;
display:block;
clear:right;
}
.emphasis3 {
font: 1.0em 'lucida grande', helvetica, verdana, arial, sans-serif;
color:#333333;
font-style:italic;
}
h3 {
font: .9em 'lucida grande', helvetica, verdana, arial, sans-serif;
color:#333333;
clear:both;
}
#interiorpagesuppliers h3 {
font: 1.35em  'lucida grande', helvetica, verdana, arial, sans-serif;
font-weight:bold;
color:#9B1943;
padding: 10px 0 10px 0;
}
#interiorpagecommunity h3 {
font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
font-weight:bold;
color:#333333;
padding: 5px 0 5px 0;
}

#interiorpagecommunity h2.news {
font: 1.6em 'lucida grande', helvetica, verdana, arial, sans-serif;
color:#007785;
font-weight:bold;
}
p.testimonial {
text-align:right;
clear:both;
padding: 2px 10px 2px 0;
}
.secondlist {
margin-left: 20px;
list-style-type:circle;
padding:3px 0 3px 0;
font: .9em  'lucida grande', helvetica, verdana, arial, sans-serif;
}
#interiorpagenews .column3 .boxtrick_body ol {
padding:0 10px 0 40px;
}

/*----------Community 02 CSS Trick------------*/

.equityrow {
padding:30px 15px 50px 0;
}
#maincontent ul.equities {
cursor: default;
list-style: none;
padding:5px 0 0 10px;
}


.equities a {
cursor: default;
}

.equities a .preview {
display: none;
}

.equities a:hover .preview {
display: block;
position: absolute;
top: -25px;
left: -28px;
z-index: 1;
}

.equities img {
background: #fff;
border-color: #aaa #ccc #ddd #bbb;
border-style: solid;
border-width: 1px;
color: inherit;
vertical-align: top;
width: 180px;
height: 180px;
margin:0 2px 0 0;
}

.equities li {
color: inherit;
display: inline;
float: left;
position: relative;
}

.equities .preview {
border-color: #000;
width: 290px;
height: 290px;
}

/*----------Photo Library------------*/

.equityrow2, .equityrow3 {
padding:15px 15px 70px 0;
}
.equityrow {
padding:30px 15px 50px 0;
}
.equities {
cursor: default;
list-style: none;
padding-top:50px;
}
.equities2 {
padding-left:40px;
}

.equities a {
cursor: default;
}

.equities a .preview {
display: none;
}

.equities a:hover .preview {
display: block;
position: absolute;
top: -25px;
left: -28px;
z-index: 1;
}

.equities img {
background: #fff;
border-color: #aaa #ccc #ddd #bbb;
border-style: solid;
border-width: 1px;
color: inherit;
vertical-align: top;
width: 180px;
height: 180px;
margin:0 2px 0 0;
}
.equities2 img {
background: #fff;
border-color: #aaa #ccc #ddd #bbb;
border-style: solid;
border-width: 1px;
color: inherit;
vertical-align: top;
width: 200px;
height: 103px;
float:left;
}
.equities3 img {
background: #fff;
border-color: #aaa #ccc #ddd #bbb;
border-style: solid;
border-width: 1px;
color: inherit;
vertical-align: top;
width: 162px;
height: 162px;
float:left;
}
.description {
float:left;
display:block;
}
.equitycontainer {
width:200px;
padding:0 30px 0 0;
height:170px;
float:left;
display:inline;
}
.equitycontainer h3 {
font: 1.3em  'lucida grande', helvetica, verdana, arial, sans-serif;
font-weight:bold;
color:#333333;
display:block;
float:left;
width:200px;
padding:5px 0 0 0;
}
.download {
font: 1.0em  'lucida grande', helvetica, verdana, arial, sans-serif;
color:#333333;
float:left;
display:inline;
padding:5px 60px 0 0;
}
.equitycontainer .download a {
font: 1.3em  'lucida grande', helvetica, verdana, arial, sans-serif;
color:#9B1943;
text-decoration:underline;
}

.equities li {
color: inherit;
display: inline;
float: left;
position: relative;
}
.equities li {
color: inherit;
display: inline;
float: left;
position: relative;
}

.equities .preview {
border-color: #000;
width: 290px;
height: 290px;
}


.undernavequity img {
display:block;
}
li p {
font: 1.0em  'lucida grande', helvetica, verdana, arial, sans-serif;
line-height:18px;
}
#flashcontent {
padding-top:15px;
}

/*----Store Locator Customization----*/
#storelocator {
width:790px;
height:auto;
}
#storelocator .subnav {
width:145px;
padding:10px 0 15px 10px;
float:left;
list-style:none;
}
#storelocator .column2 {
width:600px;
padding:15px 10px 50px 10px;
float:left;
display:inline;
overflow:hidden;
}
#storelocator #container {
width:790px;
background-color:#FFFFFF;
overflow:hidden;
/*ie expanding box bug fix*/
word-wrap: break-word;
}
#storelocator .hidden {
display:none;
}
#storelocator .locate {
padding-top:15px;
width:390px;
}
#storelocator .locate div {
padding:3px 0 2px 0;
width:390px;
}
#storelocator .locate img {
padding:20px 0 0 95px;

}
#storelocator label{
	font: 1.2em  'lucida grande', helvetica, verdana, arial, sans-serif;
	padding-left:50px;
}
#storelocator .indentlabel {
padding-left:56px;
}
#storelocator .indentlabel2 {
padding-left:59px;
}
#storelocator .column2 ol {
font: 1.0em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding:0 0 0 40px;
width:560px;
}
#storelocator .column2 li, #storelocator .column2 li a {
list-style-image:url(../images/arrow_d.gif)/*tpa=http://www.kohlscorporation.com/media/images/arrow_d.gif*/;
font: 1.1em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding:2px 0 0 0;
color:#525252;
}
/*----HomePage----*/
.abovefold {
float:left;
padding:15px 15px 15px 30px;
height:289px;
display:inline;

}
.navduplication {
float:left;
height:235px;
padding:15px;
display:inline;
padding-left:31px;
}
.textequities {
float:left;
display:inline;
overflow:hidden;
width:985px;
}
.introduction {
float:left;
width:497px;
}
.heroimage {
float:left;
}

.abovefold ol {
padding:10px 20px 10px 30px;
}
.navduplication li {
list-style:none;
display:inline;
}
.navduplication img {
float:left;
padding-right:9px;
}
.hp_link {
padding-top:70px;
padding-left:100px;
width:90px;
}
#homepage .introduction ol {
padding:10px 20px 10px 30px;
}

#homepage .introduction li {
list-style:url(Unknown_83_filename)/*tpa=http://www.kohlscorporation.com/media/images/arrow_d2.gif*/;
margin:0 10px 0 10px;
}
#homepage #maincontent li a {
color:#333333;
}
#homepage .textequities .col1 ol {
padding-left:40px;
padding-bottom:15px;
}
#homepage .textequities .col2 ol, #homepage .textequities .col3 ol, #homepage .textequities .col4 ol {
padding-left:20px;
}
#homepage .textequities li {
list-style:url(Unknown_83_filename)/*tpa=http://www.kohlscorporation.com/media/images/arrow_d2.gif*/;
font: 1.1em  'lucida grande', helvetica, verdana, arial, sans-serif;
padding:0 0 3px 0;
}
#homepage .textequities li a {
text-decoration:none;
}

#homepage .textequities p {
padding:0 0 0 24px;
line-height:18px;
}

.col1, .col2, .col3, .col4 {
width:230px;
float:left;
}
.col1 {
padding-left:40px;
}
#homepage .newstickercontainer {
background:url(../images/hp_news_01.gif)/*tpa=http://www.kohlscorporation.com/media/images/hp_news_01.gif*/ no-repeat;
width:196px;
height:190px;
float:left;
}
#homepage #maincontent ul.newsticker {
	list-style-type: none;
	background: #afd044;
	padding: 3px;
	margin:15px;
	cursor:pointer;
}
#homepage #maincontent ul.newsticker li {
font: 1.25em  sans-serif;
color:#333333;
}
#homepage .newsdata {
width:196px;
height:235px;
float:left;
padding-right:9px;
}
#homepage .emphasis {
display:block;
color:#333333;
font-weight:600;
}
.full {
	width:500px;
	float:left;
}
#list1 {
	width: 522px;
	font-family: verdana;
	margin:  0px;
	padding: 0 15px 0 15px;
}
#list1 p {
	/*margin-bottom: 10px;*/
	width:490px;
	border: none;
	color: #464646;
	font-size: 11px;
	margin:0 10px 10px 10px;
	line-height:18px;
}
#list1 h2 {
	cursor:pointer;
	display:block;
	padding:5px;
	margin: 0;
	font-weight: bold;
	font-size: 13px;
	color: #52bcc8;
	background-color: none;
	border-bottom:#52bcc8 1px solid;
}
#list1 h2:hover {
	color: #333333;
	background: #B8E0E5;
	text-decoration:underline;
}
#list1 h2.selected {
	color: #333333;
	background-color: #B8E0E5;
	border-bottom: 1px solid black;
}
.container {
	overflow:auto;
	width:520px;
	border:none;
}
#interiorpagenews .column2 p, #interiorpagenews .column2 p.addressindent, #interiorpagenews .column2 div.addresswhole {
	width:490px;
}
#interiorpagenews .column2 p.addressindent {
padding:0;
margin:0 0 0 10px; 
}
#interiorpagenews .column2 div.addresswhole {
padding:20px 0 20px 0;}
#interiorpagenews .container .emphasis {
display:block;
}
.CRletter {
border:1px solid #333333;
}
.CRletter p {
padding:10px 15px 10px 15px;
line-height:18px;
}
.LM_sign {
padding:15px 0 0 15px;
}
.textequities li a:hover {
background-color:#FFFFCC;
color:#333333;
}
.topimage {
padding-bottom:20px;
}
/*----------------------Print modifications------------------------------*/


.container {
	/*overflow:auto;*/
	width:500px;
	border:none;
	display: block !important;
	visibility:visible;
}
.column2, #maincontent .column2 p, .column2full, .column2form, .column3 {
width:100%;
float:none;
}
#maincontent .column3 , #maincontent .column3 img {
padding-left:0;
float:none;
clear:both;
}
#maincontent .column3 {
background:none;
}
#maincontent .column3 p, #maincontent .column3 p a, #maincontent .column3 li, #maincontent .column3 li a {
color:black;
clear:both;
}
#container {
width:100%;
background-color:#FFFFFF;
overflow:visible;
/*ie expanding box bug fix*/
word-wrap: break-word;
float:none;
}
#skip, .topbanner, #navigation, .subnav, .footertopcorners {
display:none;
}
.leftfooter, .leftfooter p {
padding-left:0;
}
.footermain {
background:none;
}



