/* Harborside Claims Search */
/* @font-face {
        font-family: 'aig_futuraregular';
    src: url('/fonts/pt-aigfutura-book-webfont.eot');
    src: url('/fonts/pt-aigfutura-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt-aigfutura-book-webfont.woff') format('woff'),
         url('/fonts/pt-aigfutura-book-webfont.ttf') format('truetype'),
         url('/fonts/pt-aigfutura-book-webfont.svg#aig_futuraregular') format('svg');
}
@font-face {
        font-family: 'aig_futurabold';
    src: url('/fonts/pt-aigfutura-bold-webfont.eot');
    src: url('/fonts/pt-aigfutura-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt-aigfutura-bold-webfont.woff') format('woff'),
         url('/fonts/pt-aigfutura-bold-webfont.ttf') format('truetype'),
         url('/fonts/pt-aigfutura-bold-webfont.svg#aig_futurabold') format('svg');
}
@font-face {
        font-family: 'aig_futura_italic';
    src: url('/fonts/pt-aigfutura-bookitalic-webfont.eot');
    src: url('/fonts/pt-aigfutura-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt-aigfutura-bookitalic-webfont.woff') format('woff'),
         url('/fonts/pt-aigfutura-bookitalic-webfont.ttf') format('truetype'),
         url('/fonts/pt-aigfutura-bookitalic-webfont.svg#aig_futura_italic') format('svg');
}
@font-face {
        font-family: 'aig_futura_medregular';
    src: url('/fonts/pt-aigfutura-medium-webfont.eot');
    src: url('/fonts/pt-aigfutura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt-aigfutura-medium-webfont.woff') format('woff'),
         url('/fonts/pt-aigfutura-medium-webfont.ttf') format('truetype'),
         url('/fonts/pt-aigfutura-medium-webfont.svg#aig_futura_medregular') format('svg');
}
@font-face {
        font-family: 'aig_futura_lightitalic';
    src: url('/fonts/pt-aigfutura-lightitalic-webfont.eot');
    src: url('/fonts/pt-aigfutura-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt-aigfutura-lightitalic-webfont.woff') format('woff'),
         url('/fonts/pt-aigfutura-lightitalic-webfont.ttf') format('truetype'),
         url('/fonts/pt-aigfutura-lightitalic-webfont.svg#aig_futura_lightitalic') format('svg');
}
@font-face {
        font-family: 'aig_futura_medium_italic';
    src: url('/fonts/pt-aigfutura-mediumitalic-webfont.eot');
    src: url('/fonts/pt-aigfutura-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt-aigfutura-mediumitalic-webfont.woff') format('woff'),
         url('/fonts/pt-aigfutura-mediumitalic-webfont.ttf') format('truetype'),
         url('/fonts/pt-aigfutura-mediumitalic-webfont.svg#aig_futura_medium_italic') format('svg');
}
 */

.centerModule .customClass .customClass1 { margin-right: 15px; }

#claimsArchive {
    clear: both;
    font-family: 'aig_futura_medregular',Arial,Helvetica,sans-serif;
	font-size: 14px;
	margin-top: -25px;
}
/*For IE7	*/
*:first-child+html #claimsArchive {
	margin-bottom: 50px;
	}
#caContainer {
	clear: both;
	margin: 15px 0;
}
	#caContainer a {
		color: #00A4E4;
	}
.casearchtitle {
	font-weight: bold;
	color: #6d6e71;
	margin: 10px 0 0 0;
	overflow: hidden;
}
	.caSearchTitle .searchResults {
		margin: 0;
		float: left;
		font-size: 10pt;
	}

.caNewSearch{
	text-align: right;
}
#caSubmit {
	width: 125px;
	text-aligh: left;
	margin-left: 27px;
}
#caRightRail {
	float: left;
	width: 78%;
}
#caRightRail > h2 {
    color: #6D6E71;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 15px;
}
#caLineofBusiness, #caIndustry{
	float: left;
}
#caLineofBusiness{
	margin: 0 50px 0 0;
}
#caIndustry{
	margin: 10px 0 5px;
}
*:first-child+html #caIndustry{
	margin: 5px 0 0 0;
}
#caLineofBusiness, #caIndustry, #caSubmit{
	display: none;
}
#caLineofBusiness label, #caIndustry label{
	display: block;
	clear:both;
	padding:5px 0;
}
#caLineBus, #caIndus, #caBusinessIndustry{
	width: 15px;
}
#caDetail p{
	margin: 0
}
#caDetail ul{
	margin: 0;
	padding: 15px 0;
}
#caDetail li{
	list-style: none;
}
#caDetail h2{
	display: inline-block;
    margin: 0;
}
#caDetail #printPdf{
	float: right;
}
.newSearch,.backResults{
	padding-right: 15px;
}
#socialMedia {
    float: right;
    width: 335px;
	position:relative;
	right:0px;
	top:-30px;
	*top:-368px;
}

#printTop p:before, #printBot p:before{
	color: #645C5C;
	content: "[";
}
* html #printTop p a.before,*html #printBot p a.before{
	background:url('before_tcm3171-526501.png')/*tpa=http://www.aig.com/Chartis/internet/US/en/before_tcm3171-526501.png*/ no-repeat left 3px;
	padding-left: 5px;
}
.printCenter p:after{
	color: #645C5C;
	content: "]";
}
*html .printCenter p{
	background:url('after_tcm3171-526502.png')/*tpa=http://www.aig.com/Chartis/internet/US/en/after_tcm3171-526502.png*/ no-repeat right 3px;
}
#printTop a:first-child, #printBot a:first-child {
    border-left: medium none;
    margin-right: 3px;
    padding: 0;
}
#printTop p a, #printBot p a {
    border-left: 1px solid #645C5C;
    color: #0073AE;
    margin-right: 0;
    padding-left: 5px;
    text-decoration: underline;
}
.socialTitle {
	color: #00a4e4;
	float: left;
	font-family: 'aig_futura_medregular',Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
	padding-top: 3px;
}
.socialImage a {
	border: 0;
}
.sortClick{
	background: url("Sortarrow_tcm3171-526487.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/Sortarrow_tcm3171-526487.png*/ no-repeat scroll 95px center transparent !important;
}
.dscSortClick{
	background: url("SortArrowDown_tcm3171-526488.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/SortArrowDown_tcm3171-526488.png*/ no-repeat scroll 95px center transparent !important;
}
.ascSortClick{
	background: url("SortArrowUp_tcm3171-526489.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/SortArrowUp_tcm3171-526489.png*/ no-repeat scroll 95px center transparent !important;
}
.sortClick a, .dscSortClick a, .ascSortClick a {
    display: inline-block;
    width: 88px;
}
.caForm {
    background: none repeat scroll 0 0 #E5F6FC;
    border: 1px solid #0494D0;
    color: #0073AE;
    margin-top: 15px;
    padding: 15px;
    width: 500px;
    font-family:'aig_futura_medregular',Arial, Helvetica, sans-serif;
}
.caForm select {
    border: 1px solid #00A4E4;
    height: 21px;
    width: 200px;
}
.caForm select option {
    min-width: 200px;
}
.caForm ul {
	margin: 0;
	padding: 0;
}
.caForm li{
	margin: 5px 0;
	list-style: none;
}
.caForm input{
	width: 165px;
}
#caSubmit {
    background: none repeat scroll 0 0 #00A4E4;
    border: medium none;
    color: #FFFFFF;
    padding: 10px 0;
    width: 200px;
    margin:10px 0;
	font-size: 10pt;
}
#caLineofBusiness li#caProductLine {
    float: left;
    margin-left: 0 !important;
}
#caLeftRail {
    border-right: 1px solid #babcbe;
    float: left;
    padding-right: 15px;
    width: 17%;
    margin:0 15px 0 0;
}
#caLeftRail label {
    color: #6D6E71;
    display: block;
    padding: 5px 0;
}
#caLeftRail #caLineofBusiness, #caLeftRail #caIndustry{
	float: none !important;
	margin: 0 !important;
}
#claimsArchive input, #claimsArchive select, #claimsArchive textarea{
	font-family:'aig_futura_medregular',Arial, Helvetica, sans-serif;
	border: 1px solid #00A4E4;
}
*:first-child+html #claimsArchive select{
	font-family: arial;
	font-size: 12px;
}
#claimsArchive select{
	font-family: arial\0/;
	}
#caLeftRail #caSubmit {
    background: none repeat scroll 0 0 #00A4E4;
    border: medium none;
    color: #FFFFFF;
    padding: 10px 0;
    width: 165px;
    margin:10px 0;
    height:auto;
}
#caLeftRail .caForm select{
	width:167px;
}
#caLeftRail .caForm input{
	width:165px;
}
#caLeftRail .caForm {
    background: none;
    border: none;
    color: #0073AE;
    margin-top: 15px;
	padding:0;
    font-family:'aig_futura_medregular',Arial, Helvetica, sans-serif;
}
#caLeftRail #caLineofBusiness li {
    float: none;
    margin-left: 0;
}
.caResults{
	clear: left;
    table-layout: fixed;
	width:100%;
}
.caResults td{
	word-wrap:break-word;
	vertical-align: top;
}
.caResults th {
    background: none;
	padding: 5px 20px 5px 5px;
	text-align: left;
	width:305px;
}
td.cTitle {
    word-break: normal !important;
}
td.cTitle a {
    text-decoration: underline;
	font-weight: bold;
}
th.cTitle a {
    width: 258px !important;
}
.pagination a, #caContainer a {
    color: #0073AE;
	font-family:'aig_futuraregular',Arial, Helvetica, sans-serif;
}
#caSearchBtn{
	clear: both;
}
*:first-child+html #caSearchBtn{
	display: none;
}
.caWelcomeTxt p {
    margin: 0 0 15px;
}
.caForm input[type="radio"] {
    border: 0 none;
}
.caWelcomeTxt > div {
    margin: 0 0 10px;
}
#claimsArchive .clear {
    display: none;
}
#claimsArchive #helpLayer {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid black;
    position: absolute;
	left: 0px;
	width:510px;
}
*:first-child+html #claimsArchive #helpLayer {
    position: relative;
	left: 0px;
}
#caClose {
    border: 1px solid black;
    float: right;
    padding: 0 2px;
    cursor: pointer;
}
.searchHelpText {
    clear: both;
    margin-left: 15px;
    margin-top: 10px;
}
.caNewSearch a{
	font-family: 'aig_futura_medregular',Arial,Helvetica,sans-serif !important;
}
/*End*/
/*Claims search Internal Detail Page*/
.backResults, .newSearch{
   background: none repeat scroll 0 0 #00A4E4;
    border: medium none;
    color: #FFFFFF !important;
    height: auto;
    margin: 10px 0;
    padding: 10px 15px;
    width: 137px;
	text-decoration: none !important;
	display: inline-block;
	}
#internalDetail p {
    clear: both;
    margin: 20px 0;
}
#internalDetail ul {
    clear: both;
}
#internalDetail h2 {
    float: left;
    padding: 20px 0;
}
.printCenter p {
    float: none;
}
#printTop p a, #printBot p a{
    margin: 0;
	color: #0073AE;
}
#printTop, #printBot {
    float: none;
    margin: 0;
    padding-top: 0;
    width: 140px;
}
#printBot{
	margin: 10px 0 20px;
}
#printTop {
    float: left;
	padding: 0px 10px;
}
*:first-child+html #gridTop #pageBanner {
    margin-bottom: 15px;
}
.sortClick.sortArr1{
	background: url("Sortarrow_tcm3171-526487.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/Sortarrow_tcm3171-526487.png*/ no-repeat scroll 70px center transparent !important;
	width:75px;
}
.sortClick.sortArr2{
	width:94px;
	background: url("Sortarrow_tcm3171-526487.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/Sortarrow_tcm3171-526487.png*/ no-repeat scroll 100px center transparent !important;
}
.sortClick.sortArr2 a{
	width:94px;
}
.dscSortClick.sortArr2{
	width:94px;
}
.ascSortClick.sortArr2{
	width:94px;
}
.sortClick.sortArr3{
	background: url("Sortarrow_tcm3171-526487.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/Sortarrow_tcm3171-526487.png*/ no-repeat scroll 115px center transparent !important;
	width:105px;
}
.sortClick.sortArr3 a{
	width:105px;
}
.dscSortClick.sortArr4{
	width:85px;
}
.ascSortClick.sortArr4{
	width:85px;
}
.sortClick.sortArr4{
	width:85px;
}
.sortClick.sortArr4{
	background:url("Sortarrow_tcm3171-526487.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/Sortarrow_tcm3171-526487.png*/ no-repeat scroll 55px center transparent !important;
}
.sortArr1.dscSortClick {
    background: url("SortArrowDown_tcm3171-526488.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/SortArrowDown_tcm3171-526488.png*/ no-repeat scroll 70px center transparent !important;
    width: 75px;
}	
.sortArr3.dscSortClick {
    background: url("SortArrowDown_tcm3171-526488.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/SortArrowDown_tcm3171-526488.png*/ no-repeat scroll 115px center transparent !important;
    width: 105px;
}
.sortArr1.ascSortClick {
    background: url("SortArrowUp_tcm3171-526489.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/SortArrowUp_tcm3171-526489.png*/ no-repeat scroll 70px center transparent !important;
    width: 75px;
}	
.sortArr3.ascSortClick {
    background: url("SortArrowUp_tcm3171-526489.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/SortArrowUp_tcm3171-526489.png*/ no-repeat scroll 115px center transparent !important;
    width: 105px;
}
.sortArr4.dscSortClick {
    background: url("SortArrowDown_tcm3171-526488.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/SortArrowDown_tcm3171-526488.png*/ no-repeat scroll 55px center transparent !important;
    width: 75px;
}
.sortArr4.ascSortClick {
    background: url("SortArrowUp_tcm3171-526489.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/SortArrowUp_tcm3171-526489.png*/ no-repeat scroll 55px center transparent !important;
    width: 75px;
}
.sortArr2.dscSortClick {
    background: url("SortArrowDown_tcm3171-526488.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/SortArrowDown_tcm3171-526488.png*/ no-repeat scroll 100px center transparent !important;
    width: 94px;
}
.sortArr2.dscSortClick a{
width:94px;
}
.sortArr2.ascSortClick a{
width:94px;
}
.sortArr2.ascSortClick {
    background: url("SortArrowUp_tcm3171-526489.png")/*tpa=http://www.aig.com/Chartis/internet/US/en/SortArrowUp_tcm3171-526489.png*/ no-repeat scroll 100px center transparent !important;
    width: 94px;
}
.sortArr3.dscSortClick a{
	width:105px;
}
.sortArr3.ascSortClick a{
	width:105px;
}
.sortArr4.dscSortClick a{
	width:85px;
}
.sortArr4.ascSortClick a{
	width:85px;
}
* +html #topLinks{
	float: none;
	left: auto;
	right: -460px;
}
#topLinks ul{
	overflow: hidden;
}
#topLinks ul li{
	margin-left: -1px;
}
#claimsArchive input[type="radio"], #claimsArchive input[type="checkbox"]{
	border: 0 !important;
}

/* End*/
.detModDesc table td .Custom_Italic { font-size:10px; font-style:normal; line-height:14px; display:block; }
#gridLeft .leftModule.leftNonBulleted .nonBulleted ul.customClass
{
    list-style-position: outside;
    list-style-type: disc;
    padding:7px 0 0 25px;
}
/* Gens Form styles starts here */
	#contactUsFrom { padding-bottom:30px; }
	#contactUsFrom ul li { list-style-type:none; padding:0; margin:0; clear:both; padding: 8px 0px 0 0; }
	#contactUsFrom ul li label { float: left; padding: 6px 6px 0 0; width: 150px; }
	#contactUsFrom ul li input { width:200px;  font-size:13px; }
	#contactUsFrom ul li select {width:206px; color:#645C5C; font-size:13px; }
	#contactUsFrom ul li textarea { width:201px; color:#645C5C; font-size:13px; }
	#contactUsFrom ul li .req { color:#FF0000; }
	#contactUsFrom ul li .error { color:#FF0000; display:none; font-size:11px;margin-left:156px; }	
	#contactUsFrom ul li#btn { margin-left:156px; }
	#contactUsFrom ul li .submitBtn {
			border: medium none;
			cursor: pointer;
			background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.2)), color-stop(100%, rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33000000', GradientType=0 ); /* IE6-9 */
			background-color: #E36F1E;
			color: #FFFFFF !important;
			display: inline-block;
			font-size: 14px; font-weight:bold;
			padding: 6px 10px !important;
			text-decoration: none;
			font-family: 'aig_futurabold', Helvetica, Arial, sans-serif;/*Global Font*/
			border-radius:6px;
			text-transform: uppercase;
			text-align:center;
			text-shadow:none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			width:auto;
	}
	#contactUsFrom ul li .submitBtn:hover {
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.2)), color-stop(100%, rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33000000', GradientType=0 ); /* IE6-9 */
		background-color: #c85c11;
		transition: background-color 0.25s ease 0s;
		-webkit-transition: background-color 0.25s ease 0s;		
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		text-decoration: none;
	}
	#contactUsFrom ul li .submitBtn:active {
		background-color: #b44a01;
		border:1px solid #983e00;		
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin: -1px;
	}
/* Gens Form styles enda here */
/* START => Multimedia Content related styles 
----------------------------------------------- */
.multiMediaCont {
	float: right;
	display: inline;
	margin: 0 0 20px 20px;
}
#overLayBg {
	position:absolute;
	z-index: 99;
	width: 100%;
	display: none;
	height: 100%;
	left: 0;
	top: 0;
	bottom:0;
	background: #666;
	opacity:0.4;
	filter:alpha(opacity=40);
	layer-background-color: #666;
	margin:0;
	overflow:visible;
}
#overLayBlock {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	text-align: center;
	overflow: visible;
	z-index: 100;
}
#overLayContent {
	background: #fff;
	font-size: 12px;
	font-family: 'aig_futuraregular', Arial, Helvetica, sans-serif;
	color: #407921;
	width: 150px;
	height: 150px;
	margin: 0 auto 0 auto;
	text-align: left;
}
.closeLayer {
	height: 18px;
	width: 18px;
	display: block;
	position: relative;
	margin-top: -18px;
	float:right;
	background: #fff url('../../uk/eni/chartis_lightbox_closebtn_tcm2538-409597.gif')/*tpa=http://www.aig.com/chartis/internet/uk/eni/chartis_lightbox_closebtn_tcm2538-409597.gif*/ no-repeat;
	cursor: pointer;
}
/* END => Multimedia Content related styles 
----------------------------------------------- */
#footerSection #footerSecDetails .thumbholder .thumblist { width:336px; }
.indusProduct{ background-image: none; border: 0;}

/* careers - Link blue background */
#gridLeft .leftModule.leftNonBulleted ul.nonBulleted li a.AIGLightBlue, a.AIGLightBlue {
    background: none repeat scroll 0 0 #6fc6ee;
    color: #fff;
    line-height: 26px;
    padding: 1px 8px;
    position: relative;
    top: 1px;
}
a.AIGDarkBlue{
    background: none repeat scroll 0 0 #0494d0;
    color: #fff;
    display: inline-block;
    line-height: 20px;
    padding: 1px 8px;
    position: relative;
    top: 1px;
    width: 624px;
    margin-bottom: 5px;
}

/* Footer styles for new home page */
#footerSection{ position: relative; }
#footerSection .copyrightTxt{ top: 60px;}
#logobanner2, #logobanner3, #logobanner4, #logobanner5, #logobanner6, #logobanner7{ float: none; position: static; margin-left: 0; display: inline; vertical-align:top;}
#socialIcons{ position: absolute; top: 19px; left: 10px; color: #fff; font: normal 15px/1 "aig_futurabold",Arial,Helvetica,sans-serif;}
#socialIcons img{ margin-top: -4px;}