
@font-face {
        font-family: "Gotham Light";
        src: url('Unknown_83_filename')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/378387452-gotham-light-webfont.eot*/;
        src: url('Unknown_83_filename#iefix')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/378387452-gotham-light-webfont.eot?#iefix*/ format('embedded-opentype'),
        url('fonts/378387452-gotham-light-webfont.svg#Gotham Light')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/378387452-gotham-light-webfont.svg#Gotham Light*/ format('svg'),
        url('Unknown_83_filename')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/378387452-gotham-light-webfont.woff*/ format('woff'),
        url('fonts/378387452-gotham-light-webfont.ttf')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/378387452-gotham-light-webfont.ttf*/ format('truetype');
        font-weight: normal;
        font-style: normal;
    }
@font-face {
        font-family: "Gotham Book";
        src: url('Unknown_83_filename')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/438232422-gotham-book-webfont.eot*/;
        src: url('Unknown_83_filename#iefix')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/438232422-gotham-book-webfont.eot?#iefix*/ format('embedded-opentype'),
        url('fonts/438232422-gotham-book-webfont.svg#Gotham Book')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/438232422-gotham-book-webfont.svg#Gotham Book*/ format('svg'),
        url('Unknown_83_filename')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/438232422-gotham-book-webfont.woff*/ format('woff'),
        url('fonts/438232422-gotham-book-webfont.ttf')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/438232422-gotham-book-webfont.ttf*/ format('truetype');
        font-weight: normal;
        font-style: normal;
    }
@font-face {
        font-family: "Gotham Medium";
        src: url('Unknown_83_filename')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/575195313-gotham-medium-webfont.eot*/;
        src: url('Unknown_83_filename#iefix')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/575195313-gotham-medium-webfont.eot?#iefix*/ format('embedded-opentype'),
        url('fonts/575195313-gotham-medium-webfont.svg#Gotham Medium')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/575195313-gotham-medium-webfont.svg#Gotham Medium*/ format('svg'),
        url('Unknown_83_filename')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/575195313-gotham-medium-webfont.woff*/ format('woff'),
        url('fonts/575195313-gotham-medium-webfont.ttf')/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts/575195313-gotham-medium-webfont.ttf*/ format('truetype');
        font-weight: normal;
        font-style: normal;
    }
