/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */


@import "normalize.css"/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/normalize.css*/;

/* Layout rules */
/* @import "layouts/responsive.css"; */

/* Component (SMACSS module) rules */
@import "components/misc.css"/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/components/misc.css*/;
/* Optionally, add your own components here. */
@import "print.css"/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/print.css*/;

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

@import "fonts.css"/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/fonts.css*/;
@import "site.css"/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/site.css*/;
@import "mediaquery.css"/*tpa=http://www.core-mark.com/sites/all/themes/coremark/css/mediaquery.css*/;