
@font-face {
    font-family: 'Bliss ExtraBold';
    src: url('http://f.fontdeck.com/f/1/YXVZTks3MEEABUryY0jApRv88jxvrf+EAaelI0HfshzfJDmFLmSoKptXNyLoUPa2ez5ucMDEjRTO+5wo7XlGQua8575AlaeRyY5R79UGF/l5zH9fg1dzT6uM0nXFoiu+GQBqTc1OPypv/Xl9ouLJ+jlGNH6p14IhvBgJ0uQQT+yrlg.eot');
    src: url('http://f.fontdeck.com/f/1/YXVZTks3MEEABUryY0jApRv88jxvrf+EAaelI0HfshzfJDmFLmSoKptXNyLoUPa2ez5ucMDEjRTO+5wo7XlGQua8575AlaeRyY5R79UGF/l5zH9fg1dzT6uM0nXFoiu+GQBqTc1OPypv/Xl9ouLJ+jlGNH6p14IhvBgJ0uQQT+yrlg.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/YXVZTks3MEEABUryY0jApRv88jxvrf+EAaelI0HfshzfJDmFLmSoKptXNyLoUPa2ez5ucMDEjRTO+5wo7XlGQua8575AlaeRyY5R79UGF/l5zH9fg1dzT6uM0nXFoiu+GQBqTc1OPypv/Xl9ouLJ+jlGNH6p14IhvBgJ0uQQT+yrlg.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/YXVZTks3MEEABUryY0jApRv88jxvrf+EAaelI0HfshzfJDmFLmSoKptXNyLoUPa2ez5ucMDEjRTO+5wo7XlGQua8575AlaeRyY5R79UGF/l5zH9fg1dzT6uM0nXFoiu+GQBqTc1OPypv/Xl9ouLJ+jlGNH6p14IhvBgJ0uQQT+yrlg.ttf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Bold';
    src: url('http://f.fontdeck.com/f/1/SDh5a3l6WWsABeVQyHiyKJ+ZKFv4HdVv0LUj9A+lqLIDfPMZ+F+yFaSZM5THVqEn4PYkZJFQA/Cx6Uz6pfU/cafuVz7ya9UIhbUl4Zmacw/3lJPo8xi/wg5pZJ+avgxr9b33eiU9hleIoZ2d6LFw42NZr16jBrVtXYnmW+OTawkHag.eot');
    src: url('http://f.fontdeck.com/f/1/SDh5a3l6WWsABeVQyHiyKJ+ZKFv4HdVv0LUj9A+lqLIDfPMZ+F+yFaSZM5THVqEn4PYkZJFQA/Cx6Uz6pfU/cafuVz7ya9UIhbUl4Zmacw/3lJPo8xi/wg5pZJ+avgxr9b33eiU9hleIoZ2d6LFw42NZr16jBrVtXYnmW+OTawkHag.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/SDh5a3l6WWsABeVQyHiyKJ+ZKFv4HdVv0LUj9A+lqLIDfPMZ+F+yFaSZM5THVqEn4PYkZJFQA/Cx6Uz6pfU/cafuVz7ya9UIhbUl4Zmacw/3lJPo8xi/wg5pZJ+avgxr9b33eiU9hleIoZ2d6LFw42NZr16jBrVtXYnmW+OTawkHag.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/SDh5a3l6WWsABeVQyHiyKJ+ZKFv4HdVv0LUj9A+lqLIDfPMZ+F+yFaSZM5THVqEn4PYkZJFQA/Cx6Uz6pfU/cafuVz7ya9UIhbUl4Zmacw/3lJPo8xi/wg5pZJ+avgxr9b33eiU9hleIoZ2d6LFw42NZr16jBrVtXYnmW+OTawkHag.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Italic';
    src: url('http://f.fontdeck.com/f/1/SVJjMlZ4RmwABVk9qCCAOpQctdtwgxw2V+cMlGyup1wsFwVSV3IXYAId0HPy6znUMtiDMp7Zg4ZyOqRJvOHabCPM9wRZQpRwWWBL0XyI8utvCnZtMg/uGEHTPq1WvyrW+n3XhRA5EB+B/cs48VoIdc10tuJocHUFbDNNs3geZriSjA.eot');
    src: url('http://f.fontdeck.com/f/1/SVJjMlZ4RmwABVk9qCCAOpQctdtwgxw2V+cMlGyup1wsFwVSV3IXYAId0HPy6znUMtiDMp7Zg4ZyOqRJvOHabCPM9wRZQpRwWWBL0XyI8utvCnZtMg/uGEHTPq1WvyrW+n3XhRA5EB+B/cs48VoIdc10tuJocHUFbDNNs3geZriSjA.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/SVJjMlZ4RmwABVk9qCCAOpQctdtwgxw2V+cMlGyup1wsFwVSV3IXYAId0HPy6znUMtiDMp7Zg4ZyOqRJvOHabCPM9wRZQpRwWWBL0XyI8utvCnZtMg/uGEHTPq1WvyrW+n3XhRA5EB+B/cs48VoIdc10tuJocHUFbDNNs3geZriSjA.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/SVJjMlZ4RmwABVk9qCCAOpQctdtwgxw2V+cMlGyup1wsFwVSV3IXYAId0HPy6znUMtiDMp7Zg4ZyOqRJvOHabCPM9wRZQpRwWWBL0XyI8utvCnZtMg/uGEHTPq1WvyrW+n3XhRA5EB+B/cs48VoIdc10tuJocHUFbDNNs3geZriSjA.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bliss Medium';
    src: url('http://f.fontdeck.com/f/1/Tjc3ZU1fTlQABeWXs8GydGWj50KXLcvrzeuRBxUgT+aZReCGZsM7l138gAhSRvawsskVMQUlm7RrTXvPpGoi6KxHGgPNZ5OvKhU7DOzW4R3FbM/r+R0DtNfz1lYnnB0to4Bu1VHwoUMljUxlOLCkXO2L3QLrFokXI9muHknHy8dVhQ.eot');
    src: url('http://f.fontdeck.com/f/1/Tjc3ZU1fTlQABeWXs8GydGWj50KXLcvrzeuRBxUgT+aZReCGZsM7l138gAhSRvawsskVMQUlm7RrTXvPpGoi6KxHGgPNZ5OvKhU7DOzW4R3FbM/r+R0DtNfz1lYnnB0to4Bu1VHwoUMljUxlOLCkXO2L3QLrFokXI9muHknHy8dVhQ.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/Tjc3ZU1fTlQABeWXs8GydGWj50KXLcvrzeuRBxUgT+aZReCGZsM7l138gAhSRvawsskVMQUlm7RrTXvPpGoi6KxHGgPNZ5OvKhU7DOzW4R3FbM/r+R0DtNfz1lYnnB0to4Bu1VHwoUMljUxlOLCkXO2L3QLrFokXI9muHknHy8dVhQ.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/Tjc3ZU1fTlQABeWXs8GydGWj50KXLcvrzeuRBxUgT+aZReCGZsM7l138gAhSRvawsskVMQUlm7RrTXvPpGoi6KxHGgPNZ5OvKhU7DOzW4R3FbM/r+R0DtNfz1lYnnB0to4Bu1VHwoUMljUxlOLCkXO2L3QLrFokXI9muHknHy8dVhQ.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Heavy';
    src: url('http://f.fontdeck.com/f/1/b3dyUXo0WkMABSi1fWff0lR68pUwSiUzuXa9BwXpgq4pv0kioEzwYmsz2rNzQ9SmAHkO2Y3NwX5ptYQPaDuUKymK/gwR2rSuu97vJZvjSOC+nYg5rjhmvpr9+ZNfGDV1IYldnd3Al6W/biKpB+TGwhph/HBxSHYZFcvhhbwSTDDHNg.eot');
    src: url('http://f.fontdeck.com/f/1/b3dyUXo0WkMABSi1fWff0lR68pUwSiUzuXa9BwXpgq4pv0kioEzwYmsz2rNzQ9SmAHkO2Y3NwX5ptYQPaDuUKymK/gwR2rSuu97vJZvjSOC+nYg5rjhmvpr9+ZNfGDV1IYldnd3Al6W/biKpB+TGwhph/HBxSHYZFcvhhbwSTDDHNg.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/b3dyUXo0WkMABSi1fWff0lR68pUwSiUzuXa9BwXpgq4pv0kioEzwYmsz2rNzQ9SmAHkO2Y3NwX5ptYQPaDuUKymK/gwR2rSuu97vJZvjSOC+nYg5rjhmvpr9+ZNfGDV1IYldnd3Al6W/biKpB+TGwhph/HBxSHYZFcvhhbwSTDDHNg.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/b3dyUXo0WkMABSi1fWff0lR68pUwSiUzuXa9BwXpgq4pv0kioEzwYmsz2rNzQ9SmAHkO2Y3NwX5ptYQPaDuUKymK/gwR2rSuu97vJZvjSOC+nYg5rjhmvpr9+ZNfGDV1IYldnd3Al6W/biKpB+TGwhph/HBxSHYZFcvhhbwSTDDHNg.ttf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
