@charset "UTF-8";

@font-face {
	font-family: 'Oswald-Bold';
	src: url('fonts/Oswald-Bold.eot')/*tpa=http://www.smuckers.com/assets/css/fonts/Oswald-Bold.eot*/;
	src: url('fonts/Oswald-Bold.eot-#iefix')/*tpa=http://www.smuckers.com/assets/css/fonts/Oswald-Bold.eot?#iefix*/ format('embedded-opentype'),
		 url('fonts/Oswald-Bold.woff')/*tpa=http://www.smuckers.com/assets/css/fonts/Oswald-Bold.woff*/ format('woff'),
		 url('fonts/Oswald-Bold.ttf')/*tpa=http://www.smuckers.com/assets/css/fonts/Oswald-Bold.ttf*/ format('truetype'),
		 url('fonts/Oswald-Bold.svg#Oswald-Bold')/*tpa=http://www.smuckers.com/assets/css/fonts/Oswald-Bold.svg#Oswald-Bold*/ format('svg');
	font-weight: normal;
	font-style: normal;
}


html {
    background: rgb(255,255,255);
    font-family: arial;
    font-size: 100%;
    height: 100%;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

#content-left,
#header-container,
#footer-container,
#nav-container,
#violator,
.reviews-container,
#recipe-rating,
.pinitbutton,
.fb-like,
#recipe-social-buttons,
#overlay-container,
#recipe-detail-video,
#recipe-related > a,
#pairings-share,
#pairing-social-buttons,
#pairing-detail-video,
.skip_to_main,
#button-nav {
    display: none !important;
}

#logo {
    display: block;
    top:0;
    position: relative;
}

#content-container {
    width: auto;
    margin:0;
}

.pairings-ingredients-list > div.item .pairing-product-image a {
    background-image: none !important;
}

.pairings-ingredients-list > div.item .pairing-product-image img {
    display: inline-block;
}

.pairings-detail h1.headline {
    text-transform: uppercase; 
    vertical-align: bottom;
    font-family: 'Oswald-Bold', sans-serif;
    text-align: center;
}

.pairings-detail #content-right {
   width: 100%;
   display: block;
   margin-top: -30px;
}
    .pairings-detail #content-left {
        width: 49%;
        position: relative; 
        display: inline-block !important;
        top: 120px;
        text-align: center;
        background-image: none !important;
        float: left;
    }

    .pairings-detail #content-left img { 
        display: block !important; 
        width: auto;
        max-width: 97%;
    }

.pairings-detail #content-right header {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}


.pairings-detail #pairings-ingredients {
    display: inline-block;
    position: relative;
    top: 120px;
    float: right;
    width: 50%;
    text-align: center;
}

.pairings-detail #pairings-ingredients:after {
        content: "";
        display:block;
        width: 100%;
        height: 2px;
        clear: both;
}

.pairings-detail #pairings-ingredients .item { 
    width: 108px;
    padding: 1px;
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    vertical-align: top;
    text-align: center;
    position: relative;

}
    .pairings-detail #pairings-ingredients .item:after {
        content: "+";
        font-size: 26px;
        color:rgb(75,165,47);
        display: block;
        position: absolute;
        right: -.75em;
        top: 40px;
    }
    .pairings-detail #pairings-ingredients .item:last-child::after {
        content: "";
        display: none;
    }
    
    .pairings-detail #pairings-ingredients .item img {
        max-width: 100px;
        max-height: 100px;
        border: 1px solid gray;
    }
    .pairings-detail #pairings-ingredients .item img.pairing-spacer {
        position: absolute;
        top: 0;
        width: 100px;
        height: auto;
        left: 1px;
        border: 1px solid gray;
    }
        .pairings-detail #pairings-ingredients .item img.pairing-spacer+a img {
            border: none;
        }

   
.pairings-detail #description {
    display: inline-block;
    position: relative;
    top: 120px;
    margin-top: 0;    
    width: 100%;
    float: none;
    clear: both;
    line-height: 1.5em;
}

.pairings-detail #description strong {
    margin-right: .75em;
}
.pairings-detail #description sup {
    position: absolute;
    margin-left: -.66em
}
.pairings-detail #header-container {
    display: block !important;
    width: 100%;

}
.pairings-detail #header-container #logo, .pairings-detail #header-container #logo svg {
    width: 200px;
    margin: -20px auto;
}

