.nav li.careers a {
	width:170px;
	background: transparent url(../Images/righttopnav-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/righttopnav.png*/ no-repeat right top;	
	border-right:0;
	padding-right:20px; 
}
.nav li.careers a:hover {
	width:170px;
	background: transparent url(../Images/righttopnavhover-1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/righttopnavhover.png*/ no-repeat right top;	
}

.nav div.pop-nav a, .nav div.pop-nav a.wrapper { 
	color: #ffffff;
	font-weight:400; 
	display: block; 
	text-decoration: none; 
	line-height: 1.8em;
	margin-bottom: .5em; 
	background-image:none; 
	padding:0; 
	margin:0; 
	border: 0; 
	height:auto; 
	font-family: 'PT Sans Caption', Arial, Helvetica, sans-serif;  
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	background-image:none;
}

.nav div.pop-nav .wrapper a:hover,
.nav div.pop-nav .wrapper a:active { 
	color: #f9993d; 
	text-decoration: none; 
	background-image:none !important;  
}

.nav li.company div.pop {
	left:4px
}

.nav li div.pop { 
	background: transparent url(../Images/dropdown.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/dropdown.png*/ no-repeat top left; 
	color: #316B21; 
	display: none; 
	height: 207px; 
	left: 0px; 
	font-size: 14px; /* padding: 58px 140px 13px 40px; */ 
	position: absolute; 
	text-align: left; 
	letter-spacing: 0; 
	text-transform: none; 
	top: 61px; 
	width: 280px; 
	z-index: 1000;
}

.nav li.company div.pop {
	left:4px
}

.section2_rightcolumn_top, .section2_rightcolumn_bottom {
	width:288px;
	height:118px;
	overflow:hidden;
	margin: 10px 0px 10px 18px;
}

.nav li.company .wrapper { 
	background: transparent url(../Images/dropdowncompany.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/dropdowncompany.png*/ no-repeat 192px 2px; 
}

.nav li.news-events .wrapper { 
	background: transparent url(../Images/dropdownsocial.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/dropdownsocial.png*/ no-repeat 194px 2px; 
}

.nav li.sustainability .wrapper { 
	background: transparent url(../Images/dropdownnews.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/dropdownnews.png*/ no-repeat 192px 2px; 
}

.nav li.products-services .wrapper { 
	background: transparent url(../Images/dropdownproducts.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/dropdownproducts.png*/ no-repeat 197px 2px; 
}

.nav li.careers .wrapper { 
	background: transparent url(../Images/dropdowncareers1.png)/*tpa=https://www.unfi.com/_LAYOUTS/UNFIWebsite/Images/dropdowncareers1.png*/ no-repeat 192px 2px; 
}

