.mobile-menu {
	position: absolute;
	width: 100%;
	z-index: 100;
	max-height: 0;
	overflow: hidden;
}
@media only screen and (max-width: 767px) {
	.btn-mobile-menu {
		display: block;
	}

	.btn-mobile-menu .content ul,
	.btn-mobile-menu .content li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.mobile-menu {
		background-color: #0097c5;
	}
	.mobile-menu.active {
		max-height: none;
	}

	.mobile-menu ul ul {
		padding-left: 20px;
		background-color: #e8eae9
	}

	.mobile-menu ul {
		padding: 0;
		margin: 0;
		position: relative;
	}

	.mobile-menu ul li {
		margin: 0;
		padding: 0;
		list-style: none;
		text-transform: uppercase;
	}

	.mobile-menu.active,
	.mobile-menu ul ul.active {
		display: block;
		max-height: 1000em;
	}

	.mobile-menu li,
	.mobile-menu > ul > li {
		display: block;
	}

	.mobile-menu ul li > a,
	.mobile-menu ul > li > span {
		padding: 10px 10px;
		display: block;
		text-decoration: none;
		color: #fff;
	}

	.mobile-menu ul li.expanded span {
		position: relative;
		cursor: pointer;
	}

	.mobile-menu ul ul > li {
		border-bottom: none;
	}

	.mobile-menu ul ul > li a {
		font-size: 1em;
		color: #000;
	}

	.mobile-menu ul ul,.mobile-menu ul ul ul {
		display: inherit;
		position: relative;
		left: auto;
		top: auto;
		box-shadow: none;
		border: none;
	}

	.mobile-menu ul ul.active {
		background: #e8eae9;
	}

	.mobile-menu .content ul ul li,
	.mobile-menu ul li a,
	.mobile-menu ul li.expanded span,
	.mobile-menu ul li .nolink {
		margin: 0 auto;
		width: 420px;
	}

	.mobile-menu .slicknav_parent > a > a {
		padding-left: 0;
	}

	.mobile-menu .slicknav_parent > a > .slicknav_arrow {
		margin-left: 5px;
	}

	.mobile-menu ul li a > a,
	.mobile-menu .slicknav_arrow {
		display: inline !important;
	}

	.mobile-menu .slicknav_arrow {
		padding: 5px 0;
		margin-left: -15px;
	}

	.mobile-menu .slicknav_nav > li.slicknav_open ul .slicknav_arrow {
		color: #000000;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.mobile-menu .content ul ul li,
	.mobile-menu ul li a,
	.mobile-menu ul li.expanded span,
	.mobile-menu ul li .nolink {
		width: 300px;
	}
}
