/* _lcid="1033" _version="14.0.4762"
_LocalBinding */
.ms-formtoolbar{
font-family:verdana;
font-size:8pt;
text-decoration:none;
/* [ReplaceColor(themeColor:"Hyperlink")] */ color:#003399;
}
.ms-formtoolbar{
margin-bottom:7px;
}
.ms-formtoolbar td{
padding:0px;
vertical-align:top;
}
.ms-rtetoolbarmenu
{
background-color:#f3f3f3;
color:#000000;
border:#c4c4c4;
font-family:verdana;
font-size:8pt;
}
.ms-separator
{
color:#c4c4c4;
font-size:10pt;
}
td.ms-rtetoolbarunsel{
padding:3px;
}
td.ms-rtetoolbarsel{
padding:2px;
border:solid 1px #89724f;
background-image:url("../../../images/rtebnsel.gif")/*tpa=http://www.elcompanies.com/_layouts/images/rtebnsel.gif*/;
background-repeat:repeat-x;
}
.ms-rtetoolbardis,.ms-rtetoolbardis img{
filter:alpha(opacity=25);-ms-filter:"alpha(opacity=25)";opacity:0.25;
cursor:default;
}
a.ms-rtetoolbardis{
cursor:default;
}
td.ms-rtetoolbarhov
{
padding:2px;
border:solid 1px #d2b47a;
background-image:url("../../../images/rtebnhov.gif")/*tpa=http://www.elcompanies.com/_layouts/images/rtebnhov.gif*/;
background-repeat:repeat-x;
background-color:#fff699;
cursor:pointer;
color:#000000;
}
.ms-gridT1
{
font-family:verdana;
text-align:left;
font-size:1em;
/* [ReplaceColor(themeColor:"Dark1-Darker")] */ color:#262626;
width:190px;
}
.ms-gridCol{
font-family:verdana;
text-align:center;
font-size:1em;
/* [ReplaceColor(themeColor:"Dark1-Lightest")] */ color:#7f7f7f;
width:90px;
}
.ms-formdescription a{
/* [ReplaceColor(themeColor:"Hyperlink")] */ color:#003399;
text-decoration:none;
}
.ms-formvalidation{
color:#0072bc;
font-family:verdana;
font-size:8pt;
}
.ms-informationbar{
background-color:#fff9de;
border:1px solid #ffdf88;
}
.ms-informationbar a:link{
color:#0072BC;
}
.ms-informationbar td{
font-family:tahoma;
font-size:8pt;
color:#000000;
}
.ms-radiotext{
cursor:default;
text-align:left;
font-family:verdana;
font-size:8pt;
height:19px;
}
.ms-gridtext{
cursor:default;
text-align:right;
font-family:verdana;
font-size:8pt;
height:19px;
}
.ms-formbody{
vertical-align:top;
/* [ReplaceColor(themeColor:"Light2",themeTint:"0.45")] */ background:#f6f6f6;
/* [ReplaceColor(themeColor:"Light1-Darker")] */ border-top:1px solid #d8d8d8;
padding:3px 6px 4px 6px;
}
.ms-formbodysurvey{
font-family:verdana;
font-size:1em;
vertical-align:top;
background:none;
border-top:none;
padding:5px 8px 15px 8px;
}
.ms-formbody font{
line-height:normal
}
.ms-formline{
/* [ReplaceColor(themeColor:"Light1-Darker")] */ border-top:1px solid #c4c4c4;
padding-right:8px;
padding-left:8px;
}
.ms-formdescription
{
font-family:verdana;
font-size:8pt;
/* [ReplaceColor(themeColor:"Dark1-Lightest")] */ color:#7f7f7f;
}
.ms-formfieldcontainer
{
}
.ms-formfieldlabelcontainer
{
margin:4px 4px 0px 4px;
}
div.ms-formfieldlabelcontainer span.ms-formfieldlabel
{
font-family:tahoma;
font-size:8pt;
font-weight:normal;
text-align:left;
color:#777777;
padding:1px 4px 1px 4px;
border-top:1px solid #cccccc;
border-left:1px solid #cccccc;
border-right:1px solid #cccccc;
background-image:url("../../../images/globgrad.gif")/*tpa=http://www.elcompanies.com/_layouts/images/globgrad.gif*/;
background-repeat:repeat-x;
background-color:#efebef;
height:18px;
}
.ms-formfieldvaluecontainer
{
border:1px solid #cccccc;
margin-left:4px;
margin-right:4px;
margin-bottom:4px;
padding:5px;
}
.ms-formrecurrence{
font-family:verdana;
font-size:8pt;
font-weight:normal;
text-align:left;
vertical-align:top;
}
.ms-fileinput{
font-size:8pt;
font-family:Verdana,sans-serif;
}
.ms-longfileinput{
font-size:8pt;
font-family:Verdana,sans-serif;
width:386px;
}
.ms-longer{
width:411px;
}
.ms-rtelong{
width:384px;
}
.ms-rtelonger{
width:409px;
}
.ms-rtefield{
background-color:#FFFFFF;
color:#676767;
min-width:384px;
padding:2px 2px 2px 2px;
}
.ms-formbody .ms-rtefield
{
border:1px inset #BBBBBB;
}
.ms-rtefield2{
background-color:#FFFFFF;
color:#676767;
padding:2px 2px 2px 2px;
}
.ms-rtelong,.ms-longer,.ms-rtelonger,.ms-radiotext,.ms-rtedropdown,.ms-lookuptypeintextbox,.ms-rtefield{
font-size:8pt;
font-family:Verdana,sans-serif;
}
.ms-rtelong,.ms-rtelonger{
/* [ReplaceColor(themeColor:"Light1-Darker")] */ border:1px solid #a5a5a5;
}
.ms-lookuptypeindropdown
{
width:20em;
}
.ms-lookuptypeintextbox
{
width:20em;
vertical-align:middle;
}
.ms-attachUploadButtons
{
text-align:right;
}
img.ms-button{
cursor:pointer;
}
.ms-ppCellContainerErr
{
border-style:dashed;
border-width:1px;
border-color:#ff0000;
}
.ms-ppCellContainer
{
border-style:none;
}
.ms-inputuserfield{
font-size:8pt;
font-family:Verdana,sans-serif;
/* [ReplaceColor(themeColor:"Light2-Lighter")] */ border:1px solid #828790;
}
div.ms-inputuserfield a
{
/* [ReplaceColor(themeColor:"Dark1")] */ color:#000000;
text-decoration:none;
font-weight:normal;
font-style:normal;
}
div.ms-inputuserfield
{
padding-left:1px;
padding-top:2px;
}
.ms-entity-resolved{
color:#000000;
text-decoration:underline;
}
.ms-entity-unresolved{
color:#000000;
cursor:pointer;
background-image:url("../../../images/squiggle.gif")/*tpa=http://www.elcompanies.com/_layouts/images/squiggle.gif*/;
background-repeat:repeat;
background-position:left bottom;
padding-bottom:2px;
vertical-align:text-top;
font-style:italic;
}
.ms-dtinput,.ms-dttimeinput{
vertical-align:middle;
padding-top:0px;
padding-bottom:0px;
padding-right:4px;
padding-left:0px;
font-size:0px;
}
.ms-dttimeinput{
direction:ltr;
}
.ms-formlabel{
text-align:left;
font-family:verdana;
/* [ReplaceColor(themeColor:"Light1-Darker")] */ border-top:1px solid #d8d8d8;
padding-top:3px;
padding-right:8px;
padding-bottom:6px;
/* [ReplaceColor(themeColor:"Dark1")] */ color:#525252;
font-weight:bold;
}
.ms-detailsview{
/* [ReplaceColor(themeColor:"Dark1-Lightest")] */ border:1px solid #d8d8d8;
text-align:left;
}
.ms-detailsview td{
padding:4px;
}
.ms-long{
width:386px;
font-size:8pt;
font-family:Verdana,sans-serif;
}
.ms-usereditor{
width:386px;
}
.ms-usereditorinline{
width:186px;
}
.clip16x16
{
position:relative;
overflow:hidden;
width:16px;
height:16px;
}
.clip13x13
{
position:relative;
overflow:hidden;
width:13px;
height:13px;
}
.clip16x16 img,.clip16x16 input,.clip13x13 img,.clip13x13 input
{
position:absolute;
}
.ms-rtebold
{
top:0px;
left:0px;
}
.ms-rtecopy
{
top:0px;
left:-16px;
}
.ms-rtecut
{
top:-16px;
left:0px;
}
.ms-rtedrow
{
top:-16px;
left:-16px;
}
.ms-rtefntsz
{
top:0px;
left:-32px;
}
.ms-rteicol
{
top:-16px;
left:-32px;
}
.ms-rteimg
{
top:-32px;
left:0px;
}
.ms-rteital
{
top:-32px;
left:-16px;
}
.ms-rtelnk
{
top:-32px;
left:-32px;
}
.ms-rteltr
{
top:0px;
left:-48px;
}
.ms-rtenlst
{
top:-16px;
left:-48px;
}
.ms-rtertal
{
top:-32px;
left:-48px;
}
.ms-rtescell
{
top:-48px;
left:0px;
}
.ms-rtetxclr
{
top:-48px;
left:-16px;
}
.ms-rteundl
{
top:-48px;
left:-32px;
}
.ms-rteuidt
{
top:-48px;
left:-48px;
}
.ms-rtesrced
{
top:0px;
left:-64px;
}
.ms-rtertl
{
top:-16px;
left:-64px;
}
.ms-rtepaste
{
top:-32px;
left:-64px;
}
.ms-rtemcell
{
top:-48px;
left:-64px;
}
.ms-rteltal
{
top:-64px;
left:0px;
}
.ms-rteitbl
{
top:-64px;
left:-16px;
}
.ms-rteirow
{
top:-64px;
left:-32px;
}
.ms-rteidt
{
top:-64px;
left:-48px;
}
.ms-rteicell
{
top:-64px;
left:-64px;
}
.ms-rtefnt
{
top:0px;
left:-80px;
}
.ms-rtectral
{
top:-16px;
left:-80px;
}
.ms-rteclear
{
top:-32px;
left:-80px;
}
.ms-rteblst
{
top:-48px;
left:-80px;
}
.ms-rtebkclr
{
top:-64px;
left:-80px;
}
.ms-rtednar
{
top:-80px;
left:0px;
}
