* {
	margin: 0;
	padding: 0;
}

body {
	background: #d3d9d6;
/*	font: normal 12px Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;*/
	font-size: 13px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
}

table
{
margin:0 0 10px 13px; 
font-size:12px;
}

.bold 
{
font-weight: bold;
}
.color-black {
color:#000;
}
/*#header h2{
	padding-top: 5px;
	font-size: 14px;
	color: #fff;	
}*/
#header-links{
float:right;
font-weight:bold;
margin-top:2px;
margin-right:10px;
color:#fff;
font-size:11px;
}
#header-links a, #header-links a:visited {
color:#fff;
text-decoration:none;
font-size:11px;
}
#header-links a:hover {
color: #fff;
text-decoration: underline;
font-size:11px;
}
#header-overlay
{
z-index:100;
float:left;
margin-left:0px
 }
#header {
	width: 975px;
	height: 50px;
	/*background: #cc0000 url("../images/images_app/art-header.jpg") no-repeat;*/
/*	background:#000 url("../images/logo-flinc-blackbg.gif") no-repeat;*/
	padding-top: 15px;
	padding-left: 15px;
	color: #FFF;
	background-color:#000000;
	
} 
#searchbox {
padding-left:830px;
	margin-top:60px;
	margin-right:5px;
}
#masthead {
	float:right;
	font-size: 11px;
	color: #fff;
	margin: -17px 5px 0 0;
	text-align:right;
}
/* ------------ start page components rules --------------- */
#container {
	width: 990px;
	background: #000;
/*	border: solid 1px #cc0000;*/
	margin: 0 auto;
	text-align: left;
	color: #cceeee;
}
#container1 {
	width: 990px;
	background: #fff;
/*	border: solid 1px #000000;*/
	margin: 0 auto;
	text-align: left;
	color: #000;
}
#container-intro {
	width: 990px;
/*	background: #333333  repeat-y right;
	border: solid 1px #fff;*/
	margin: 0 auto;
	text-align: left;
	color: #cecece;
}
#centered-div {
 text-align:center;
}
#left-column {
	color: #000;
	width: 164px;
	background-color:transparent;
	float: left;
	padding: 1px 0px 0px 0px;
/*	margin-right:9px;*/
	clear:both;

}

/* ---- start left nav rules ---*/
#left-nav {
	width: 164px;
/*	border-right: 1px solid #000;*/
	padding: 0 0 0 0;
/*	margin-bottom: 1em;*/
	margin-top:-1px;
	font-family:Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
	/*background-color: #cc0000;*/
	color: #fff;
	float:left;
	}
#left-nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
		margin-left: -15px;
		border: none;
		}
		
#left-nav li {
		list-style: none;
		border-bottom: 1px solid #000;
		margin: 0;
		padding:0;
		width: 100%;
		}
#left-nav li a {
		display: block;
		padding: 3px 2px 3px 0.5em;
		border-left: 6px solid #888888;
		border-right: 4px solid #B1B1B1;
		background-color: #666;
		color: #fff;
		text-decoration: none;
		width: 100%;
		margin-left:0px;
		font-size:11px;
		}

html>body #left-nav li a {
		width: auto;
		}

#left-nav li a:hover {
		border-left: 6px solid #FF7777;
		border-right: 4px solid #FFA4A4;
		background-color: #999;
		color: #fff;
		}
		
/* ---- end left nav rules ----*/
		
#content {
	float: left;
/*	background: url("../images/images_app/bg-content1000.gif");
	background-position:left top;
	background-repeat:repeat-y;*/
	width: 990px;
/*	margin: 0px 0px 0px 0px;*/
	background-color:#fff;
	margin: 0 auto;
	border:0;
/*	border-top: 0;
	border-right: 1px solid #b7b7b7;
	border-bottom: 0;
	border-left: 1px solid #b7b7b7;*/
}
#content-vsm{
	float: left;
	width: 100%;
/*	margin: 0px 0px 0px 0px;*/
	background-color:#fff;
	margin: 0;
	border-top: 0;
	border-right: 1px solid #b7b7b7;
	border-bottom: 0;
	border-left: 1px solid #b7b7b7;
}
#content-full {
	float: left;
/*	background: url("../images/images_app/bg-content1000_full.gif");
	background-position:left top;
	background-repeat:repeat-y;*/
	width: 990px;
	margin: 0px 0px 0px 0px;
	background-color:#fff;
}

.index-rhn {
	margin-top:10px;
}

.index-news {
	border-bottom: solid 1px;
	width:205px;
	float:right;
	margin-bottom:10px;
}

.index-company-info {
	border-top: solid 1px;
	width:205px;
	float:right;
	font-size:10px;
	padding-bottom:10px;
}

#disclaimer
{
width: 990px;
height:30px;
margin:5px auto;
font-family:Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;;
font-size:9px;
text-align:center;
}
#main-content
{
width:980px;
float:left;
padding:0 0px 10px 10px;
}
#main-content-index
{
width:600px;
float:left;
padding:10px;
}
#page_content {
width:100%;
padding:0;
margin:0;
clear:both;
}
#page_content_vsm {
width:100%;
background-color:#fff;
padding:0;
margin:0;
/*clear:both;*/
}
.style2 {
	line-height: 150%;
}
.style3 {
	font-size: medium;
}
.style3 a, .style3 a:visited {
font-size:medium;
color:#036;
}
.style4 {
	text-align: center;
}


#column_l {
	width: 680px;
	margin: 0;
	padding:15px;
	background-color: #FFFFFF;
	float:left;
}
#column_l p {
width:600px;
}
#column_l_flip {
	width: 200px;
	max-width:250px;
	margin: 0;
	float: left;
	padding: 4px 4px 4px 10px;
	background-color: #a9a9a9;
	position: relative;
}
/*#column_l_flip_vsm {
	width: 200px;
	max-width:250px;
	margin: 0;
	float: left;
	padding: 4px 4px 4px 10px;
	background-color: #000;
	position: relative;
}*/
#column_r {
	width: 250px;
	margin: 0;
	float: right;
	padding: 4px;
	background-color: #a9a9a9;
	position: relative;
}
#column_r p {
	font-size: 11px;
	margin: 7px;
}
#column_r_inner {
	width: 250px;
	margin: 0;
	float: right;
	padding: 4px 4px 4px 10px;
	background-color: #a9a9a9;
	position: relative;
}
#column_r_inner_flip {
	width: 730px;
	margin: 0;
	padding:15px;
	background-color: #FFFFFF;
	float:right;
}
#column_r_inner_flip p {
width:600px;
}
/*#column_r_inner_flip_vsm {
	width: 730px;
	margin: 0;
	padding:15px;
	background-color: #FFFFFF;
	float:right;
}
#column_r_inner_flip_vsm p {
width:600px;
}*/

.vsm_header {
background-color:#fff;
}
.vsm_left_nav {
background-color:#000;
}
.vsm_content {
background-color:#fff;
padding-left:10px;
padding-right:20px;
}
.vsm_footer {
background-color:#000;
}

/* ------------ end page components rules --------------- */
#content ul {
list-style-type: disc;
padding-left: 15px;
}
#content-full ul {
list-style-type: disc;
padding-left: 15px;
}
#content h2{
	font-size: 20px;
	font-weight: bold;
	color: #000;
	margin-bottom: 5px;

}

.black {
	color: #000;
}

/*p {
margin-bottom: 20px;
padding-left: 14px;

}*/

.img-rh {
padding:1px 2px 0 2px;
border-top:1px #fff solid;
text-align:center;
}

.art-plussign
{
vertical-align:middle;
border:none;
}

input.text {
	width: 70px;	
	border: 1px solid #ccc;
	font-size:10px;
}


input.button {
	color: #fff;
	padding-left: 0px;
	font-size: 11px;	
	border: none;
	background: none;
	}

#footer {
	color: #fff;
	background: #cc0000;
/*	background: url("../images/images_app/bg-footer-black995.jpg");
	background-position:left bottom;
	background-repeat: no-repeat;*/
	clear: both;
	width: 990px;
	margin-left: 0px;
	margin-right:0px;
	height: 60px;
	padding: 0px;
/*	border-top: 1px solid #000;*/
	font-size:11px;
	text-align:center;
}

/*#footer a, a:link, a:visited{
	color: #ccc;
}

#footer a:hover {
	color: #808080;
}*/

#footer-links
{
color: #fff;
float: left;
padding-top: 5px;
/*margin-left: 85px;*/
width:990px;
text-align:center;
line-height:18px;


}

#footer-links a, #footer-links a:visited
{
	color: #fff;
	text-decoration:none;
}
#footer-links a:hover
{
	color: #fff;
	text-decoration:underline;
}
#copyright
{
/*width:130px;*/
margin-top: 5px;
padding-right: 3px;
height:15px;
float:right;
font-size:11px;
position:relative;
color:#000;
}
#copyright a, #copyright a:visited
{
	color: #000;
	text-decoration:none;
	font-size:11px;
}
#copyright a:hover
{
	color: #000;
	text-decoration:underline;
	font-size:11px;
}
img
{
border:0px;
}
.tinytext
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:8px;
}
.littletext
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
}

/* ---- pagination rules ----*/
.paging
{
	padding-left:8px;
	margin-left:8px;
	padding-bottom:0px;
	margin-bottom:0px;
	height:12px;
	max-height:12px;
	width:250px;
}
.paging-current
{
	font-weight:bold;
	color:#c00;
	font-size:12px;
}
.paging-current a
{ 
text-decoration:none;
color:#ccc;
}
.paging-current a:hover
{
text-decoration:underline;
color:#ccc;
}
.paging-nextlast
{
	text-decoration:none;
	color:#ccc;
	font-size:11px;
}

.paging-nextlast a:hover
{
text-decoration:underline;
color:#ccc;
}
/* ----- end pagination rules ----*/
/* ----- table styles ------- */
.tbl-data {
/*	border: 1px solid #000000;*/
}
.tbl-data-row-title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	background-color: #000000;
	text-align: left;
}
.tbl-data-row-content {
text-align:right;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px;
color:#000;
}
.tbl-data-row-content  td {
/*border-bottom: 1px #000 solid;*/
vertical-align:bottom;
}
.tbl-td-left
{
text-align:left;
}
.tbl-td-center
{
text-align:center;
}
.tbl-td-right
{
text-align:right;
}

/* ------ end table styles ------ */
/* ----- Drop-down menu styles ---- */


/* P1 - black ----- Drop-down menu styles ---- */
/* Add a margin and a relative position with a high z-index to make it appear over any element below */
#menu-container1 {margin:0px 0px 0px 0px; position:relative; width:990px; height:30px; z-index:100; /*border:1px solid #000; border-width:0px 0px 1px 0px;*/ background-color:#545454;/* background-image:url('../images/images_app/bg-gradient-black995.jpg'); background-repeat:no-repeat;*/}

/*#menu-spacer1 {width:0px;display:block;float:left;}*/

/* Get rid of the margin, padding and bullets in the unordered lists */
#pmenu1, #pmenu1 ul {padding:0; margin-left:0; list-style-type: none; z-index:100;}

/* Set up the link size, color and borders */
#pmenu1 a, #pmenu1 a:visited {display:block;/*width:80px;*/ /*font-size:11px;*/ /*font-weight: bold; */ color:#fff; height:27px; line-height:24px; text-decoration:none; text-indent:0px; border:1px solid #c9c9c9; border-width:1px 0 1px 1px; text-align:center; z-index:100; margin-top:1px; padding-right:9px; padding-left:9px;}


/* Set up the sub level borders */
#pmenu1 li ul li a, #pmenu1 li ul li a:visited {border-width:0 1px 1px 1px; z-index:100;}
#pmenu1 li a.enclose, #pmenu1 li a.enclose:visited {border-width:1px 1px 1px 1px; z-index:100;}
#pmenu1 li a.unclose, #pmenu1 li a.unclose:visited {border-width:1px 0px 1px 0px; z-index:100;}

/* Set up the list items background:#c00;*/
#pmenu1 li {float:left; z-index:100; height:25px;}

/* For Non-IE browsers and IE7 */
#pmenu1 li:hover {position:relative; z-index:100;}
/* Make the hovered list color persist */
#pmenu1 li:hover > a { /*background-image:url('../images/images_app/bg-nav-rollover-gray.jpg'); background-repeat:no-repeat;*/ color:#000; background-color:#a9a9a9; z-index:100; border:1px solid #a9a9a9; border-width:1px 0 0px 1px; height:28px;}
#pmenu1 li:hover > a.unclose { /*background-image:url('../images/images_app/bg-nav-rollover-gray.jpg'); background-repeat:no-repeat;*/ color:#000; background-color:#a9a9a9; z-index:100; border:1px solid #a9a9a9; border-width:0px 0 1px 0px; height:28px;}
/* Set up the sublevel lists with a position absolute for flyouts and overrun padding. The transparent gif is for IE to work */
#pmenu1 li ul {display:none; z-index:100;}
/* For Non-IE and IE7 make the sublevels visible on list hover. This is all it needs  */
#pmenu1 li:hover > ul {display:block; position:absolute; top:-10px; left:80px; padding:10px 10px 10px 10px; background:transparent url(Unknown_83_filename)/*tpa=http://www.footlocker-inc.com/images/*/; z-index:100;}
/* Position the first sub level beneath the top level links*/
#pmenu1 > li:hover > ul {left:-10px; top:17px; z-index:100;}
/* Size the sub level links*/
#pmenu1 > li:hover > ul li{width:164px; z-index:100;}
/* Make the hovered sub level color persist */
#pmenu1 li:hover > ul li:hover a {background:#fff; color:#000; width:159px; text-align:left; z-index:100;}

/* make the borders work on the sub level */
#sub li a {width:164px; text-align:left; padding-left:3px; z-index:100;}


/* get rid of the table */
#pmenu1 table {position:absolute; border-collapse:collapse; top:0; left:0; z-index:100; font-size:1em;}

/* For IE5.5 and IE6 give the hovered links a position relative and a change of background and foreground color. This is needed to trigger IE to show the sub levels */
* html #pmenu1 li a:hover {position:relative; color:#fff; z-index:100/*; background-image:url('../images/images_app/bg-nav-rollover-gray.jpg'); background-repeat:no-repeat;*/}

/* For accessibility of the top level menu when tabbing */
#pmenu1 li a:active, #pmenu1 li a:focus {/* background-image:url('../images/images_app/bg-nav-rollover-gray.jpg'); background-repeat:no-repeat;*/color:#fff; z-index:100;}

/* Set up the pointers for the sub level indication
#pmenu li.fly {background:#c00 url(http://www.cssplay.co.uk/menus/fly.gif) no-repeat right center;}
#pmenu li.drop {background:#c00 url(http://www.cssplay.co.uk/menus/drop.gif) no-repeat right center;} */


/* This lot is for IE5.5 and IE6 ONLY and is necessary to make the sublevels appear */

/* change the drop down levels from display:none; to visibility:hidden; */
* html #pmenu1 li ul {visibility:hidden; display:block; position:absolute; top:-11px; left:80px; padding:10px 30px 30px 30px; background:transparent url(Unknown_83_filename)/*tpa=http://www.footlocker-inc.com/images/*/; z-index:100;}

/* keep the third level+ hidden when you hover on first level link */
#pmenu1 li a:hover ul ul{
visibility:hidden; z-index:100;
}
/* keep the fourth level+ hidden when you hover on second level link */
#pmenu1 li a:hover ul a:hover ul ul{
visibility:hidden; z-index:100;
}
/* keep the fifth level hidden when you hover on third level link */
#pmenu1 li a:hover ul a:hover ul a:hover ul ul{
visibility:hidden; z-index:100;
}
/* keep the sixth level hidden when you hover on fourth level link */
#pmenu1 li a:hover ul a:hover ul a:hover ul a:hover ul ul {
visibility:hidden; z-index:100;
}

/* make the second level visible when hover on first level link and position it */
#pmenu1 li a:hover ul {
visibility:visible; left:-30px; top:14px; lef\t:-31px; to\p:15px; z-index:100;
}
/* ---- end Drop-down menu styles ----- */



/* ----- start product display styles ---- */

div#product-list {
    position:relative;
    float:left;
    width:790px;
    margin:0;
    padding:0 0 0 3px;
    margin-top:5px;
    padding-bottom:30px;    
    vertical-align:top;
    }	

div#product-list-holder { /* controls the holder of all product images */
    margin:0 0 0 8px;
    padding:0px;
    width:790px;
    vertical-align: middle;
/*	overflow:hidden;*/
	float:left;
/*	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;*/
    }	
	
.product-holder {
	position:relative;
	float:left;
	margin:0px 0px 0px 0;
	width:120px;
	height:175px;
	border:1px solid #cccccc;
	}
.product-notex
 { 
	width:122px;
	text-align: center;
	top: 0px; 
	height:16px;
	height:auto !important; 
	min-height:16px; 
	max-height:16px;
	margin: 0px auto;
	}

.product-wrap {
	position:relative;
	float: none;
	text-align: center;
	padding: 2px;
	z-index:2;
	}
.product-wrap-slot {
	position:relative;
	float: none;
	text-align: center;
	padding: 7px 2px 2px 2px;
	z-index:2;
	}
.product-outerwrap {
	/*position:relative;*/
	float:left;
	margin:18px 8px 15px 0;
	width:120px;
	height:175px;
	text-align:center;
}
.product-name-link {
	position:relative;
	float: left;
	text-align: left;
	padding: 3px;
	font-size:11px;
	color:#fff;
	}
	.product-name-link a {
	text-decoration:none;
	}
.product-name {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#fff;
	text-align:right;
	}
#search-results-sorry
{
	width:400px;
	padding:8px 0 0 8px;
	margin:8px 0 0 8px;
}
/* ---- end product display styles ---->


/* ---- start general form styling rules ----- */

.cssform p{
width: 300px;
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 155px; /*width of left column containing the label elements*/
border-top: 1px dashed gray;
height: 1%;
}

.cssform label{
font-weight: bold;
float: left;
margin-left: -155px; /*width of left column*/
width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.cssform input[type="text"]{ /*width of text boxes. IE6 does not understand this attribute*/
width: 180px;
}

.cssform textarea{
width: 250px;
height: 150px;
}

/*.threepxfix class below:
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents.
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html
*/

* html .threepxfix{
margin-left: 3px;
}

/* ---- end general form styling rules ----*/

/* ------ start general form rules ----- */


.form label
{
width: 200px;
float: left;
text-align: right;
margin-right: 0.5em;
display: block;
/*font-weight:bold;*/
font-size:95%;
}
.form .note{
font-size:90%;
}
.form input
{
color: #000;
background: #EFEFEF;
border: 1px solid #000;
}
.form textarea
{
color: #000;
background: #EFEFEF;
border: 1px solid #000;
}
.form select
{
color: #000;
background: #EFEFEF;
border: 1px solid #000;
}
.form .submit input
{
color: #fff;
font-weight:bold;
background: #999;
border: 1px solid #000;
margin-left: 250px;
}
.form fieldset
{
border: 1px solid #000;
width: 750px;
font-family:Arial, Helvetica, sans-serif;
font-size:1em;
color:#000;
background-color:#fff;
/*background: url("../images/images_app/bg-gradient-asc-tall.jpg"); /*no-repeat 0 0*/
background-repeat: repeat-x;
background-position:bottom;*/
padding:.2em 0 .1em .4em;
/*margin: 1.5em 0 0 0;*/
float: left;  
/*clear: both; */ 
margin: 0 0 1.5em 0; 
}
.form fieldset ul li{
list-style:none;
padding: 2px 0 2px 0;

}
.form legend
{
color: #fff;
background: #666;
border: 1px solid #000;
padding: 2px 6px;
font-weight:bold;
margin-left: 11em;
}
.form #text
{
width: 750px;
font-family:Arial, Helvetica, sans-serif;
font-size:1em;
}
.form {
padding-left: 12px;
}
.form .req-note {
float: right;
padding-right:.4em;
font-family: inherit;
color:#CC0000;
font-weight:bold;
}
.form .req-mark {
color:#CC0000;
font-weight:bold;
font-size:130%;
}

.form .link {
color:#000;
text-decoration:underline;
}
/* ------ end general form rules ----- */

/* ----- style for lists -----*/
.press-release-list li {
line-height:20px;
padding-bottom:10px;
}
.pr_title {
text-transform:uppercase;
}
.list
{
list-style:none;
padding: 2px 0 2px 0;
}
ul
{
line-height:18px;
padding: 2px 0 2px 0px;
margin-left:5px;
}
ol
{
line-height:18px;
padding: 2px 0 2px 8px;
}

/* ---- list link rules ---- */
ul li a, ul li a:visited
{
color: #036;
text-decoration:none;
}
ul li a:hover
{
color: #036;
text-decoration:underline;
}
ol li a, ol li a:visited
{
color: #036;
text-decoration:none;
}
ol li a:hover
{
color: #036;
text-decoration:underline;
}
/* ------ paragraph links rules ----- */
p a, p a:visited
{
color: #036;
text-decoration:none;
/*font-weight:bold;*/
}
p a:hover
{
color: #036;
text-decoration:underline;
/*font-weight:bold;*/
}
/* ------ div links rules ----- */
div a, div a:visited
{
color: #036;
text-decoration:none;
}
div a:hover
{
color: #036;
text-decoration:underline;
}


/* clear divs */
.clearfix:after {
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}
.clearfix {
    display:inline-block;
}
.clearfix {
    display:block;
}
* html .clearfix {
    height:1px;
}
#cleardiv
{
clear: both;
height: 1px;
}
/* ----- brands ------ */
#brands-holder 
{
float:left;
}
.colPR1 {
	width: 153px;
	margin: 0;
	float: left;
	margin-left: 2px;
	margin-bottom: 15px;
}

.colPR2{
	width: 100px;
	float: left;
	margin: 0;
	margin-bottom: 15px;
}

.colPR3 {
	width: 400px;
	float: left;
	margin-right: 2px;
	margin-bottom: 15px;
}

div.rowPR {
	clear: both;
	width: 670px; 
}

.colName {
	border: 1px dashed #cecece;
	padding-left:35px;
	padding-right:35px;
	padding-bottom:0px;
	font-weight: bold;
	background: #666;
	color: #ccc;
}

/* ---[ Common Elements ]-------
-------------- */

div {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	}
p {
	font-size: 100%;
	margin: 0;
	padding: 8px 0 8px 0;
	}
/*P P {
	font-size: 100%;
	}

h2 {
	font-size: 140%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	line-height: 1em;
/*	color:#cecece;
	}*/
h1 {
font-size:xx-large;
	}

h3 {
	font-size: 130%;
	margin: 0;
	padding: 0;
	padding-bottom: 3px;	
	line-height: 1.15em;
	}
ol {
	margin: 0 10%;
	}
h4, h5 {
	font-size: 110%;
	font-weight: bold;	
	margin: 0;
	padding:0;	
	line-height: 1em;
	}
/*
ol {
	font-size: 90%;	
	margin: 10px 0 10px 10px;
	}*/
/*ul {
	font-size: 90%;	
	margin: 10px 0 10px 35px;
	}
li {
	margin: 0 0 5px 0;
	}*/		

/*table {
	font-size: 90%;	
	}*/
table p { 
	font-size: 13px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	}
code {
	color: #7B9905;
	font-size: 110%;
	line-height: 1.2em;
	text-align: left;
	}
code strong {
	color: #4E6200;
	}
abbr, acronym, .popup {
	font-style: normal;
	border-bottom: 1px dotted #999;
	cursor: help;
	}
em {
	font-style: italic;
	}
strong {
	font-weight: bold;
	}
strike, del {
	text-decoration: line-through;
	}
ins {
	text-decoration: none;
	font-style: italic;
	}
address {
	margin: 0;
	padding: 3px 0 3px 0;
	font-style: normal;
	font-size: 90%;
	}
address p {
	font-size: 100%;
	padding: 1px 0 1px 0;
	}
sup {
	font-size: 90%;
	}
dl {
	position: relative;
	margin: 0;
	padding: 0;
	}
pre {
	font-family: arial, helvetica, sans-serif;
	font-size: 90%;
	margin: 0;
	padding: 3px 0 3px 0;	
	}	
.center {
text-align:center;
}
/* imported styles */
