/* Internet Explorer 7
 * Stylesheet for IE7 styling bug fixes
 */
#brandMenu{
	height: 100px !important;
}
#brandMenu ul{
	float: none !important;
}
#breadcrumb{
	height: 40px !important;
}
#board-of-directors #contentMain, 
#investor-relations .hero {
	position: relative;
	z-index: 2;
}
.columnSidebar {
	position: relative;
	left: 2.8%;
	margin: 0;
	width: 31%;
}
.investorInfo h3 {
	font-size: 1.17em;
}
#board-of-directors #contentSide,
#investor-relations #content {
	position: relative;
}
#rssFeeds li {
	margin-top: 20px;
	border-bottom: 1px dotted #D5D5D5;
	list-style-image: url('../img/theme/icons/icon_rssFeed28x28.png')/*tpa=http://masco.com/img/theme/icons/icon_rssFeed28x28.png*/;
	list-style-position: inside;
	padding: 20px 0;
}
#rssFeeds li a {
	position: relative;
	top: -10px;
	left: 10px;
}
#career-development #contentMain h1 {
	margin: 1em 0;
	font-size: 1.5em;
}
#terms-of-use h1,
#privacy-policy h1,
#rss-feed h1 {
	font-size: 2em;
}
#privacy-policy h2 {
	font-size: 1.5em;
}
#pageTimeline .era .left h2 {
	margin: 20px 0;
}
