.noprint {display:none !important;}
.onlyprint {display:block;}
.fullprint {width:50%;}

#header { position:relative !important; height:auto !important;}
#container { position:relative !important; }
#main_content.fixed_header { padding-top:0 !important; }
#main_content.fixed_footer { padding-bottom:0 !important; }
#footer { position:relative !important; height:auto !important; }