@charset "utf-8";
/* CSS Document */
.tableTop {
    background: url("../images/templates/td-middle.jpg")/*tpa=http://www.pacificlife.com/corp/images/templates/td-middle.jpg*/ repeat-x scroll 0 0 white;
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    vertical-align: middle;
}
.tableTop span {
    font-size: 0.8em;
}
.tableTopRight {
    background: url("../images/templates/td-right.jpg")/*tpa=http://www.pacificlife.com/corp/images/templates/td-right.jpg*/ no-repeat scroll 0 0 white;
    height: 30px;
    padding: 0;
    width: 9px;
}
.tableTopLeft {
    background: url("../images/templates/td-left.jpg")/*tpa=http://www.pacificlife.com/corp/images/templates/td-left.jpg*/ no-repeat scroll 0 0 white;
    height: 30px;
    padding: 0;
    width: 9px;
}
.TableaHeaderLeft {
    background: url("../images/templates/td-left.jpg")/*tpa=http://www.pacificlife.com/corp/images/templates/td-left.jpg*/ no-repeat scroll 0 0 white;
    border-bottom: 1px solid #B3C6D2;
    height: 30px;
    padding: 0;
    width: 9px;
}
.TablebHeader {
    background: url("../images/templates/td-middle.jpg")/*tpa=http://www.pacificlife.com/corp/images/templates/td-middle.jpg*/ repeat-x scroll 0 0 white;
    border-bottom: 1px solid #B3C6D2;
    color: #FFFFFF;
    font-family: Arial,Helvetica;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 5px;
    vertical-align: middle;
}
.TablecHeaderTextInCenter {
    background: url("../images/templates/td-middle.jpg")/*tpa=http://www.pacificlife.com/corp/images/templates/td-middle.jpg*/ repeat-x scroll 0 0 white;
    border-bottom: 1px solid #B3C6D2;
    color: #FFFFFF;
    font-family: Arial,Helvetica;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.TabledHeaderRight {
    background: url("../images/templates/td-right.jpg")/*tpa=http://www.pacificlife.com/corp/images/templates/td-right.jpg*/ no-repeat scroll 0 0 white;
    border-bottom: 1px solid #B3C6D2;
    height: 30px;
    padding: 0;
    width: 9px;
}
.TableeSubHeaderLeft {
    background: url("../images/templates/td-lt-blue-left.jpg")/*tpa=http://www.pacificlife.com/corp/images/templates/td-lt-blue-left.jpg*/ repeat-x scroll 0 0 white;
    border-bottom: 1px solid #B3C6D2;
    height: 30px;
    padding: 0;
    width: 9px;
}
.TablefSubHeaderNoGridLines {
    background: url("../images/templates/td-lt-blue.jpg")/*tpa=http://www.pacificlife.com/corp/images/templates/td-lt-blue.jpg*/ repeat scroll 0 0 white;
    border-bottom: 1px solid #B3C6D2;
    color: #003366;
    font-family: Arial,Helvetica;
    font-size: 1em;
    font-weight: bold;
    padding: 4px 0 4px 5px;
    vertical-align: middle;
}
.TablegSubHeaderWithGridLines {
    background: url("../images/templates/td-lt-blue.jpg")/*tpa=http://www.pacificlife.com/corp/images/templates/td-lt-blue.jpg*/ repeat scroll 0 0 white;
    border-bottom: 1px solid #B3C6D2;
    border-left: 1px solid #B3C6D2;
    color: #003366;
    font-family: Arial,Helvetica;
    font-size: 1em;
    font-weight: bold;
    padding-left: 5px;
    vertical-align: middle;
}
.TablehSubHeaderRight {
    background: url("../images/templates/td-lt-blue-right.jpg")/*tpa=http://www.pacificlife.com/corp/images/templates/td-lt-blue-right.jpg*/ repeat-x scroll 0 0 white;
    border-bottom: 1px solid #B3C6D2;
    height: 30px;
    padding: 0;
    width: 9px;
}
/* see IE hack at bottom */
.TableiContentLeft {
    border-bottom: 1px solid #C6DAE7;
    border-left: 2px solid #C6DAE7;
	vertical-align: middle;
}
.TableiaContentLeftNoGridLine {
    border-left: 1px solid #C6DAE7;
    vertical-align: middle;
}
.TableiabContentNoBottomGridline {
    font-family: Arial,Helvetica;
    font-size: 1em;
    padding: 4px 0 4px 5px;
    vertical-align: middle;
}
.TablejContentWithBottomGridline {
    border-bottom: 1px solid #C6DAE7;
    font-family: Arial,Helvetica;
    font-size: 1em;
    padding: 4px 0 4px 5px;
    vertical-align: top;
}
.TablekContentWithBottomGridlineTextInCenter {
    border-bottom: 1px solid #C6DAE7;
    font-family: Arial,Helvetica;
    font-size: 1em;
    padding: 4px 0;
    text-align: center;
    vertical-align: top;
}
.TablelContentWithBottomLeftGridline {
    border-bottom: 1px solid #C6DAE7;
    border-left: 1px solid #C6DAE7;
    font-family: Arial,Helvetica;
    font-size: 1em;
    padding: 4px 0 4px 5px;
    vertical-align: middle;
}
.TablemontentwithBottomLeftGridlineTextInCenter {
    border-bottom: 1px solid #C6DAE7;
    font-family: Arial,Helvetica;
    font-size: 1em;
    padding: 4px 0;
    text-align: center;
    vertical-align: middle;
}
/* see IE hack at bottom */
.TablenContentRight {
    border-bottom: 1px solid #C6DAE7;
    border-right: 1px solid #C6DAE7;
    vertical-align: middle;
}
.TablenaContentRightNoGridLine {
    border-right: 1px solid #C6DAE7;
    vertical-align: middle;
}
table.TableWithHorizontalGridlines {
    border-collapse: collapse;
    margin: 30px 0 25px;
    width: 100%;
}
.TableWithHorizontalGridlines td {
    border-bottom: 1px solid #C3E0F2;
    font-size: 1em;
    padding: 4px 0 4px 5px;
    vertical-align: top;
}
.TableWithHorizontalGridlines td p {
    font-size: 1em;
    margin: 0 0 15px;
}
.TableWithHorizontalGridlines td p a {
    font-size: 1em;
}

/* .TableWithAllGridlines */
table.TableWithAllGridlines {
    border-collapse: collapse;
    margin: 30px 0 25px;
    width: 100%;
}
.TableWithAllGridlines td {
    border: 1px solid #C3E0F2;
    font-size: 1em;
    padding: 4px 0 4px 5px;
    vertical-align: top;
}
.TableWithAllGridlines td p {
    font-size: 1em;
    margin: 0 0 15px;
}
.TableWithAllGridlines td p a {
    font-size: 1em;
}

/* .TableWithAllGridlinesNoWidth */
table.TableWithAllGridlinesNoWidth {
    border-collapse: collapse;
    margin: 30px 0 25px;
}
.TableWithAllGridlinesNoWidth td {
    border: 1px solid #C3E0F2;
    font-size: 1em;
    padding: 4px 0 4px 5px;
    vertical-align: top;
}
.TableWithAllGridlinesNoWidth td p {
    font-size: 1em;
    margin: 0 0 15px;
}
.TableWithAllGridlinesNoWidth td p a {
    font-size: 1em;
}


.TableaHeaderLeftHigh {
    background: url("../../crp/images/td-left_50.jpg")/*tpa=http://www.pacificlife.com/crp/images/td-left_50.jpg*/ no-repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #B3C6D2;
    height: 50px;
    padding: 0;
    width: 9px;
}

.TablecHeaderTextInCenterHigh {
    background: url("../../crp/images/td-middle_50.jpg")/*tpa=http://www.pacificlife.com/crp/images/td-middle_50.jpg*/ repeat-x scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #B3C6D2;
    color: #FFFFFF;
    font-family: Arial,Helvetica;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.TabledHeaderRightHigh {
    background: url("../../crp/images/td-right_50.jpg")/*tpa=http://www.pacificlife.com/crp/images/td-right_50.jpg*/ no-repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #B3C6D2;
    height: 50px;
    padding: 0;
    width: 9px;
}

.TablehSubHeaderRightHigh {
    background: url("../../crp/images/td-lt-blue-right_50.jpg")/*tpa=http://www.pacificlife.com/crp/images/td-lt-blue-right_50.jpg*/ repeat-x scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #B3C6D2;
    height: 30px;
    padding: 0;
    width: 9px;
}

td.TableeSubHeaderLeftHigh {
    background: url("../../crp/images/td-lt-blue-left_50.jpg")/*tpa=http://www.pacificlife.com/crp/images/td-lt-blue-left_50.jpg*/ repeat-x scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #B3C6D2;
    height: 50px;
    padding: 0;
    width: 9px;
}

.TablefSubHeaderNoGridLinesHigh {
    background: url("../../crp/images/td-lt-blue_50.jpg")/*tpa=http://www.pacificlife.com/crp/images/td-lt-blue_50.jpg*/ repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #B3C6D2;
    color: #003366;
    font-family: Arial,Helvetica;
    font-size: 1em;
    font-weight: bold;
    padding: 4px 0 4px 5px;
    vertical-align: middle;
}

.TableHeaderText th, .TableHeaderText td {
    background: url("../../crp/images/td-lt-blue.jpg")/*tpa=http://www.pacificlife.com/crp/images/td-lt-blue.jpg*/ repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #003366;
	font-weight: bold;
	/*border-bottom: 1px solid #B3C6D2;
    border-top: medium none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    padding-bottom: 0;
    padding-left: 10px;
    padding-top: 0;
    vertical-align: middle;*/
}

.BlueBackground {
	background-color: #3681B5;
}

.BlueBackgroundWhiteText {
	background-color: #3681B5;
	color: #ffffff;
}



.col1cell { border-right: 1px solid #C6DAE7; }

.col1cell {}

tr.oddrow td { background-color: #FFFFFF; }

tr.evenrow td { background-color: #F5F3E7; }

/** table class **/

.TableTop td,  .TableTop th{ vertical-align: top; }
.TableMiddle td, .TableMiddle th { vertical-align: middle; }
.TableBottom td, .TableBottom th { vertical-align: bottom; }


/** List Table View **/

.pressrelease {}

.pressrelease #datecol, .pressrelease #titlecol { cursor: pointer; }

.pressrelease #datecol { width: 15%; }

.pressrelease thead th { text-align: left; }

.pressrelease tr.odd td { background-color: #ffffff; }

.pressrelease tr.even td { background-color: #f5f3e7; }



/* IE 6/7/8/9/10 */
/* see IE hack at bottom */
.TableiContentLeft {
	border-left-width/*\**/: 2px\9;
}
.TablenContentRight {
	border-right-width/*\**/: 1px\9;
}
