@font-face {
  font-family: "LeagueGothic";
  src: url("../fonts/League_Gothic.oet");
  src: url("../fonts/League_Gothic.eot?#iefix") format("embedded-opentype"), url("../fonts/League_Gothic.woff") format("woff"), url("../fonts/League_Gothic.ttf") format("truetype"), url("../fonts/League_Gothic.svg") format("svg");
}
@font-face {
  font-family: "ywfthannahnarrow";
  src: url("../fonts/hannah-narrow-semibold.eot");
  src: url("../fonts/hannah-narrow-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/hannah-narrow-semibold.woff") format("woff"), url("../fonts/hannah-narrow-semibold.ttf") format("truetype"), url("../fonts/hannah-narrow-semibold.svg") format("svg");
}
.view-brand-camp-list .views-row article {
  visibility: visible;
}
.view-brand-camp-list .views-row .curtain {
  visibility: hidden;
}
