
/* ----------------------------------------------------------------------------------------------*/
/* Changes to the css may impact Third Party site pages such as Thomson Reuters and Resumeware   */
/*  They link to our css with the html provided 03/10 for the templates                          */
/* ----------------------------------------------------------------------------------------------*/

body {
    /* Issues Log #29 (AA header shift) - MC */
    /*background:#fff url(/styles/SJM/Site/header_bg.jpg) no-repeat center top;*/
    background:#fff;
}

#GlobalContainer
{
    background:#fff;
}

.HeaderLarge {
    /* Issues Log #29 (AA header shift) - MC height */
    background:#fff url(Unknown_83_filename)/*tpa=http://www.sjm.com/styles/SJM/Site/header_bg.jpg*/ no-repeat top center;
    /*height:222px;*/
}

.HeaderNavigation {
    height:33px;
    border-bottom:solid 1px #dbd7d1
}

.largeImage {
height:304px;
margin:0 -99px;
}

.SiteRootHeadlines {
height:220px;
padding:0 15px 0 25px;
margin:0 -15px;
background:url(Unknown_83_filename)/*tpa=http://www.sjm.com/styles/SJM/Site/homebox_bg.jpg*/ no-repeat;
overflow:auto;
}
.LeftColumn, .MiddleColumn, .RightColumn {
float:left;
position:relative;
width:307px;
height:190px;
margin-right:10px;
}

div.Divider {
height:25px;
background:url(Unknown_83_filename)/*tpa=http://www.sjm.com/styles/SJM/Site/divider.jpg*/ no-repeat top left;
}
p.Divider {
height:5px;
background:url(Unknown_83_filename)/*tpa=http://www.sjm.com/styles/SJM/Site/divider.jpg*/ no-repeat top left;
}
span.Divider {
display:block;
height:25px;
background:url(Unknown_83_filename)/*tpa=http://www.sjm.com/styles/SJM/Site/divider.jpg*/ no-repeat top left;
}
