@font-face {
font-family: "ITCLubalinGraphRegular";

src: url('lubalgradem-webfont.eot-')/*tpa=http://www.sanmina.com/css/lubalgradem-webfont.eot?*/ format('eot'),url('lubalgradem-webfont.woff')/*tpa=http://www.sanmina.com/css/lubalgradem-webfont.woff*/ format('woff'),url('lubalgradem-webfont.ttf')/*tpa=http://www.sanmina.com/css/lubalgradem-webfont.ttf*/ format('truetype'),url('lubalgradem-webfont.svg#webfontB7QacXX3')/*tpa=http://www.sanmina.com/css/lubalgradem-webfont.svg#webfontB7QacXX3*/ format('svg');

font-weight: normal;
font-style: normal;
}




#menuwrapper {
  height: 28px;
}

/*================================================================
Element Styling
=================================================================*/
html {
  min-height: 100%;
  height: 100%;
}
body {
  background-color:#2FFFFFF; 
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
  font-size: 13px;
  color: #414042;
  padding:0;
  margin:0;
  line-height: 15px;
}
img {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
a {
  color: #E91C3A;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/*================================================================
Styles
=================================================================*/

.footer-text {
  font-size: 12px;
  color: #5F4267 !important; 
}

.footer-text a {
  color: #E91C3A !important; 
}

.subtitle {
  font-family: 'ITCLubalinGraphRegular';
  font-size: 15px; 
  color: #A0410D;
}
.bullet {
  font-size: 12px;
  color: #F47920;
}

.page_title {
  font-family: 'ITCLubalinGraphRegular';
  font-size: 18px;
  color: #000000;
  line-height: 25px;
}

.footer-text a {
  font-weight: bold;
}
/*================================================================
Layout
================================================================*/
#mother {
  width: 926px;
  padding-top:20px;
  padding-left:40px;
  margin: 0 auto;
}

#mothertwo {
  width: 915px;
  padding-top:20px;
  padding-left:40px;
}

#header {
  width: 915px;
  height: 119px;
  padding-left: 2px;
}

#logo {
  float: left;
  height: 103px;
  margin-top: 10px;
  width: 179px;  
}

#bottombar {
  float:right;
}

//#bottombar2 {
    //bottom: 10px;
    //height: 20px;
    //position: fixed;
//}

//#bottombar2 {
  //width:915px;
  //margin-top: 20px;
//}

#footer {
  float:right;
}

#content {
  width: 450px;
}

#flash { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
 }
 
/*================================================================
Download PDF And Document Links
================================================================*/ 
li.redarrow {
  list-style-image: url('../images/redarrow.gif')/*tpa=http://www.sanmina.com/images/redarrow.gif*/;
}

ul.someindent {
  margin: 0;
  padding: 0 0 0 25px;
}

ul.someident li {
  list-type: none;
  margin: 0;
  padding: 5px 0 5px 0;
}

ul.noindent {
  margin: 0 0 0 14px;
  padding: 0;
}

ul.noident li {
  list-type: none;
  margin: 0;
  padding: 5px 0 5px 0;
}

/*================================================================
Main Nav
================================================================*/
#menubar {
  float: left;
  width:683px;
  height:28px;
  margin-left: 50px;
}
#menu_item_industries {
  float: left;
  height: 28px;
  width:122px;
}
#menu_item_services {
  float: left;
  height: 28px;
  width:186px;
}
#menu_item_components {
  float: left;
  height: 28px;
  width:128px;
}
#menu_item_solutions {
  float: left;
  height: 28px;
  width:113px;
}
#menu_item_global {
  float: left;
  height: 28px;
  width:134px;
}

#menu_item_search_v2 {
  float: left;
  height: 25px;
  width:109px;
  background-image:url('../images/menu_search_v2.gif')/*tpa=http://www.sanmina.com/images/menu_search_v2.gif*/;
  margin-left: 6px;
}
#menu_item_go_v2 {
  float: left;
  height: 25px;
  width:25px;
}
#contact-area-v2 {
  float: left;
  height: 28px;
  width: 90px;
  padding-top: 3px;
  padding-left: 10px;
  border: none;
}
#contact-area-v2 input {
  height: 14px;
  width: 100px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 2px 0px 5px 0px;
  border: none;
}

/*================================================================
Sebmenu Nav
================================================================*/

  .submenutitle {
    color: #000000;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 11px;
    white-space: nowrap;
  }
  .submenuseperator {
    color: #CCCCCC;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 11px;
    white-space: nowrap;
  }
  #submenu_v2 {
    float: left;
    width:681px;
    height:25px;
    margin-top: 5px !important;
    margin-left: 52px !important;
    margin-bottom: 10px;
  }
  #submenu_item_home_v2 {
    float: left;
    height: 20px;
    width:32px;
    text-align: center;
    padding-top: 3px;
  }
  #submenu_item_profile_v2 {
    float: left;
    height: 20px;
    width:90px;
    text-align: center;
    padding-left: 8px;
    padding-top: 3px;
  }
  #submenu_item_relations_v2 {
    float: left;
    height: 20px;
    width:100px;
    text-align: center;
    padding-left: 14px;
    padding-top: 3px;
  }
  #submenu_item_media_v2 {
    float: left;
    height: 20px;
    width:70px;
    text-align: center;
    padding-left: 14px;
    padding-top: 3px;
  }
  #submenu_item_access_v2 {
    float: left;
    height: 20px;
    width:82px;
    text-align: center;
    padding-left: 13px;
    padding-top: 3px;
  }
  #submenu_item_careers_v2 {
    float: left;
    height: 20px;
    width:39px;
    text-align: center;
    padding-left: 15px;
    padding-top: 3px;
  }
  #submenu_item_contact_v2 {
    float: left;
    height: 20px;
    width:39px;
    text-align: center;
    padding-left: 14px;
    padding-right: 10px;
    padding-top: 3px;
  }
  .submenu {
    font-size: 9px;
    color: #FFFFFF;
  }

  #submenu_item_home_v3 {
    float: left;
    height: 20px;
    width:32px;
    text-align: center;
    padding-top: 3px;
  }
  #submenu_item_profile_v3 {
    float: left;
    height: 20px;
    width:45px;
    text-align: center;
    padding-left: 8px;
    padding-top: 3px;
  }
  #submenu_item_socialresp_v3 {
    float: left;
    height: 20px;
    width:105px;
    text-align: center;
    padding-left: 10px;
    padding-top: 3px;
  }
  #submenu_item_relations_v3 {
    float: left;
    height: 20px;
    width:70px;
    text-align: center;
    padding-left: 23px;
    padding-top: 3px;
  }
  #submenu_item_media_v3 {
    float: left;
    height: 20px;
    width:70px;
    text-align: center;
    padding-top: 3px;
  }
  #submenu_item_access_v3 {
    float: left;
    height: 20px;
    width:41px;
    text-align: center;
    padding-left: 15px;
    padding-top: 3px;
  }
  #submenu_item_careers_v3 {
    float: left;
    height: 20px;
    width:39px;
    text-align: center;
    padding-left: 18px;
    padding-top: 3px;
  }
  #submenu_item_contact_v3 {
    float: left;
    height: 20px;
    width:39px;
    text-align: center;
    padding-left: 14px;
    padding-right: 10px;
    padding-top: 3px;
  }

/*================================================================
Left Nav
================================================================*/

#left_menu {
  float: left;
  width: 216px;
  padding-top: 10px;
}
.left_menu_seperator {
  width: 215px;
  height: 1px;
  margin-top: 4px;
  margin-bottom: 4px;  
  background-color: #AAAAAA;
  font-size: 1px;
}
/*--------------------------*/
/* LEVEL TWO                */
/*--------------------------*/
.leveltwo_lmenu_link {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #660000;
  text-decoration: none;
}
.leveltwo_lmenu_link_on {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #000000;
  text-decoration: none;
}
.leveltwo_lmenu_link:hover, .leveltwo_lmenu_link_on:hover {
  color: #e91c3a;
  text-decoration: underline;
}


/*--------------------------*/
/* LEVEL THREE LEFT MENU    */
/*--------------------------*/
.levelthree_left_menu_item {
  padding-left: 8px;
  padding-bottom: 2px;
}
.levelthree_left_menu_item_on {
  padding-left: 8px;
  background-color:#EEEEEE;
}
.levelthree_lmenu_link {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #660000;
  text-decoration: none;
}
.levelthree_lmenu_link_on {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #000000;
  text-decoration: none;
}
.levelthree_lmenu_link:hover, .levelthree_lmenu_link_on:hover {
  color: #e91c3a;
  text-decoration: underline;
}

/*--------------------------*/
/* LEVEL FOUR LEFT MENU    */
/*--------------------------*/

.levelfour_left_menu_item {
  padding-left: 18px;
  padding-bottom: 2px;  
  font-size: 7px;
  list-style-type: disc;
  text-indent: -3px;
}
.levelfour_left_menu_item_on {
  padding-left: 18px;
  font-size: 7px;
  list-style-type: disc;
  text-indent: -3px;
  background-color:#EEEEEE;
}
.levelfour_lmenu_link {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #A61329;
  text-decoration: none;
}
.levelfour_lmenu_link_on {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #000000;
  text-decoration: none;
}
.levelfour_lmenu_link:hover, .levelfour_lmenu_link_on:hover {
  color: #e91c3a;
  text-decoration: underline;
}

/*--------------------------*/
/* LEVEL FIVE LEFT MENU    */
/*--------------------------*/
.levelfive_left_menu_item {
  padding-left: 25px;
  padding-bottom: 2px;  
  font-size: 4px;
  color: #999999;
  list-style-type: disc;
  text-indent: -3px;
}
.levelfive_left_menu_item_on {
  padding-left: 25px;
  font-size: 4px;
  color: #999999;
  list-style-type: disc;
  text-indent: -3px;
  background-color:#EEEEEE;
}
.levelfive_lmenu_link {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #A61329;
  text-decoration: none;
}
.levelfive_lmenu_link_on {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #000000;
  text-decoration: none;
}
.levelfive_lmenu_link:hover, .levelfive_lmenu_link_on:hover {
  color: #e91c3a;
  text-decoration: underline;
}



/*================================================================
Well Assets
================================================================*/
.well_bullet_correction {
  padding-top:3px !important;
  padding-right:3px !important;  
}
.well_home_resources {
  padding-top:5px !important;
  padding-left:15px !important;
  padding-right:5px !important;
}
.well_home_collaborations {
  padding-top:5px !important;
  padding-left:15px !important;
  padding-right:5px !important;
}
.well_home_casestudiesvideos {
  padding-top:5px !important;
  padding-left:15px !important;
  padding-right:5px !important;
}
.well_list {
  padding-top:15px;
  padding-left:15px;
}
.well_title {
  font-family: 'ITCLubalinGraphRegular';
  font-size: 15px;
  color: #000000;
  text-transform: uppercase;
  line-height: 17px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.well_item {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #A61329;
  font-weight:bold;
}
#well1 {
  //position: absolute;
  //top: 460px;
  width:239px;
  height:155px !important;
  border:solid 2px #FFFFFF;
  outline:solid 1px #EAE6E0;
  background-image:url('../images/well_bg_new.gif')/*tpa=http://www.sanmina.com/images/well_bg_new.gif*/;
  background-repeat:repeat-x; 
  //background-size: 1px 155px !important;
}
#well2 {
  //position: absolute;
  //top: 460px;
  //left: 460px;
  margin-left: 80px;
  width:239px;
  height:155px !important;
  border:solid 2px #FFFFFF;
  outline:solid 1px #EAE6E0;
  background-image:url('../images/well_bg_new.gif')/*tpa=http://www.sanmina.com/images/well_bg_new.gif*/;
  background-repeat:repeat-x;
  //background-size: 1px 155px !important;
}
#well3 {
  //position: absolute;
  //top: 460px;
  //left: 780px;
  margin-left: 80px;
  width:259px;
  height:155px !important;  
  border:solid 2px #FFFFFF;
  outline:solid 1px #EAE6E0;
  background-image:url('../images/well_bg_new.gif')/*tpa=http://www.sanmina.com/images/well_bg_new.gif*/;
  background-repeat:repeat-x; 
  //background-size: 1px 155px !important;
}
#well3_casestudiesvideos {
  //position: absolute;
  //top: 460px;
  //left: 780px;
  margin-left: 80px;
  width:239px;
  height:155px !important;  
  border:solid 2px #FFFFFF;
  outline:solid 1px #EAE6E0;
  background-image:url('../images/well_bg_new.gif')/*tpa=http://www.sanmina.com/images/well_bg_new.gif*/;
  background-repeat:repeat-x; 
  //background-size: 1px 155px !important;
}

/*================================================================
Right Nav
================================================================*/
#rightcol {
  float: left;
  margin-left: 27px;
  width:200px;
}

.right_well{
  width:200px;
  border:solid 2px #FFFFFF;
  outline:solid 1px #EAE6E0;
  background-color:#F2EFEB; 
}
.right_list {
  padding-top:10px;
  padding-left:12px;
}
.rightnav_desc {
  font-size: 10px;
  color: #000000;
}
.right_title {
  font-family: 'Rokkitt', serif;
  font-size: 18px;
  color: #000000;
  line-height: 18px;
}

/*================================================================
Home Page
================================================================*/

#header_home {
  //height: 439px !important;
  height: 289px !important;
  position: relative !important;
  width: 915px !important;  
}

#bottombar_home {
  position: absolute;
  top: 655px;
  left: 40px;
  width:239px; 
}
#footer_home {
  position: absolute;
  top: 10px;
  left: 752px; 
  width:170px;
  height:18px; 
}

.home_title {
  font-family: 'Rokkitt', serif;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  line-height: 17px;
  height:20px;
  margin-top: 10px;
  vertical-align:middle;
}


/*================================================================
Level 2 Page
================================================================*/
#level2bg {

  background-repeat:no-repeat;
}

#level2page_flash {
  width: 988px;
  height: 331px;
  margin-left:-40px;
}

#level2page {
  width: 918px;
  padding-top:20px;
  margin-left: -5px;
}

.level2grid {
  height:170px;
}

.level2_well {
  float:left;
  width:448px;
  margin: 5px;
}

.level2_well:hover {
  background-color:#fffad9;
}
.level2_well_left {
  float:left;
  width:159px;
}

.level2_well_right {
  float:right;
  width:268px;
  border-top:thin solid #990000;
  padding-left:5px;
  padding-right:5px;
}


/*================================================================
Level 3 Page
================================================================*/
#level3page {
  float: left;
  width: 680px;
  margin-left: 15px;
}
.level3_well {
  width:450px;;
}

.level3_well:hover {
  background-color:#fffad9;
}
#level3_left {
  float:left; 
  width:400px;
}

#level3_right {
  float:right; 
  width:205px;
}



/*================================================================
Level 4 Page
================================================================*/
#level4page {
  float: left;
  width: 670px;
  margin-left: 15px;  
}

#level4grid {
  width: 650px;
}

.level4_title {
  font-family: 'ITCLubalinGraphRegular';
  height: 35px;
  font-size: 15px;
  color: #000000;
  text-transform: uppercase;
  line-height: 17px;
  padding-bottom: 5px;
  padding-top: 10px;
}
.level4_well {
  font-size:11px;
  float:left;
  width:215px;
  margin-right:2px;
  border-top: solid 1px #A61329;
  padding-bottom:35px;
}  
.level4_copy {
  padding-right:10px;
}

.level4_well:hover {
  background-color:#fffad9;
}

/*================================================================
Level 5 Page
================================================================*/
#level5page {
  float: left;
  width: 650px;
  margin-left: 15px;  
}

#level5grid {
  width: 650px;
}

.level5_well {
  float:left;
  width:160px;
  margin-right:2px;
}

.level5_well:hover {
  background-color:#fffad9;
}

/*================================================================
Level 6 Page
================================================================*/
#level6page {
  float: left;
  width: 450px;
  margin-left: 15px;  
}
.level6_subtitle {
  font-family: 'ITCLubalinGraphRegular';
  font-size: 14px;
  color: #000000;
}
.level6_intro {
  font-family: 'ITCLubalinGraphRegular';
  font-size: 16px;
  line-height: 20px;
  color: #737373;
}
.level6_well {
  width:450px;;
}
.level6_left {
  float:left; 
  width:170px;
  height:162px;
}
.level6_right {
  width:280;
  height:162px;
}
.level6_well:hover {
  background-color:#fffad9;
}
/*============================================
Extra Style
==============================================*/

#choose_service_container {
  padding-bottom: 10px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
  font-size: 12px;
  color: #414042;
  line-height: 15px;
}

#choose_service {
  width: 180px;
  font-size: 11px;
  outline: 0;
  overflow: hidden;
  height: 24px;
  background: #FFFFFF;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
  font-size: 12px;
  color: #414042;
  line-height: 15px;
  border:#dddddd;
  border-width: 1px;
  border-style: solid;
  padding:3px 3px 5px 5px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:10px;
}

#choose_location_container {
  padding-bottom: 10px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
  font-size: 12px;
  color: #414042;
  line-height: 15px;  
}

#choose_location {
  width: 180px;
  font-size: 11px;
  outline: 0;
  overflow: hidden;
  height: 24px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
  font-size: 12px;
  color: #414042;
  line-height: 15px;
  border:#dddddd;
  border-width: 1px;
  border-style: solid;
  padding:3px 3px 5px 5px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:10px;
}


#services_need_help {
  padding-bottom: 10px;
}

.location_link {
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.location_title {
  color: #414042;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: bold
  line-height: 14px;
}


/*============================================
Top Red Menu Bar
==============================================*/

.clearit {
  clear: both;
  height: 0;
  line-height: 0.0;
  font-size: 0;
}
#p7menubar {
/* width: 36em; */
}
#p7menubar, #p7menubar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#p7menubar a {
  display: block;
}
#p7menubar li {
  float: left;
}

#p7menubar li {position: relative;}

/* hide from IE mac \*/
#p7menubar li {position: static; width: auto;}
/* end hiding from IE5 mac */

#p7menubar li ul, #p7menubar ul li {
  width: 239px;
  padding:5px 0 5px 0;
}
#p7menubar ul li a {
  color: #A61329;
  font-size: 12px;
  font-weight:bold;
  padding: 2px 5px 2px 10px;
}
#p7menubar li ul {
  position: absolute;
  margin-top:-2px;
  display: none;
  width:239px;
//  min-height:89px;
  border:solid 2px #FFFFFF;
  outline:solid 1px #EAE6E0;
  background-color:#FFFFFF;
  background-image:url('../images/dropdown_bg.gif')/*tpa=http://www.sanmina.com/images/dropdown_bg.gif*/;
  background-repeat: repeat-x;
  z-index:5000;
}

#p7menubar li:hover a, #p7menubar a:focus,
#p7menubar a:active, #p7menubar li.p7hvr a {
  color: #e91c3a;
}
#p7menubar li:hover ul, #p7menubar li.p7hvr ul {
  display: block;
}
#p7menubar li:hover ul a, #p7menubar li.p7hvr ul a {
  color: #A61329;
  background-color: transparent;
}
#p7menubar ul a:hover {
  color: #e91c3a !important;
}
#p7menubar ul a:active {
  background-color: #EEEEEE!important;
  color: #A61329 !important;
}

/*============================================
Contact Form
==============================================*/
#contactform {
  width:420px;
  height:500px;
  border-top: solid 1px #A3A2A0;
  background-color:#f2efeb;
  padding:15px;
  padding-top:15px;
}
 
.contactform_label {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
}
 
.inputfield{
  border-top: solid 1px #A61329;
  border-left: solid 1px #F2EFEB;
  border-right: solid 1px #F2EFEB;
  border-bottom: solid 1px #F2EFEB;
}
 
.f_req{
  border-top: solid 1px #A61329;
  border-left: solid 1px #F2EFEB;
  border-right: solid 1px #F2EFEB;
  border-bottom: solid 1px #F2EFEB;
} 
 
#login-form {
  width:430px; 
}
#login-email, #login-password {
  margin-bottom:10px; 
  width:212px; 
  float:left;
}
#login-button{
  width:116px; 
  height:14px; 
  background-image:url('../images/submitform.gif')/*tpa=http://www.sanmina.com/images/submitform.gif*/;  
}

#endtoend_solutions {
  outline: 0;
  overflow: hidden;
  background: #FFFFFF;
  color:#222222;
  border:#dddddd;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:10px;
}

#markets_served {
  outline: 0;
  overflow: hidden;
  background: #FFFFFF;
  color:#222222;
  border:#dddddd;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:10px;
}



/*============================================
End-to-End
==============================================*/

#endtoend_header {
  width: 955px;
  height: 330px;
  background-image:url('../images/endtoend/endtoend_header.jpg')/*tpa=http://www.sanmina.com/images/endtoend/endtoend_header.jpg*/;
}

#endmenu {
  position:relative;
  left:70px;
  top:144px;
  vertical-align:middle;
}

.end_menu {
  font-family: 'ITCLubalinGraphRegular';
  font-size: 12px;   
  color: #A61329;
  float:left;
  padding-right:10px;
}

.end_arrow {
  float:left;
  padding-right:10px;
}


.end_menu:hover {
  font-family: 'ITCLubalinGraphRegular';
  color: #E91C3A;
}

.end_menu_link:hover {
  font-family: 'ITCLubalinGraphRegular';
  color: #FF0000;
  text-decoration: none;
}

.end_menu_link {
  font-family: 'ITCLubalinGraphRegular';
  color: #A61329;
  text-decoration: none;  
}


#end_dropboxa {
  display: none;
  position:relative;
  left:60px;
  top:176px;
  width:200px;
  min-height:70px;
  max-height:140px;
  background-color:#FFFFFF;
  border-top:2px solid #E91C3A;
}

#end_dropboxb {
  display: none;
  position:relative;
  left:140px;
  top:176px;
  width:200px;
  min-height:70px;
  max-height:140px;
  background-color:#FFFFFF;
  border-top:2px solid #E91C3A;
}

#end_dropboxc {
  display: none;
  position:relative;
  left:300px;
  top:176px;
  width:200px;
  min-height:70px;
  max-height:140px;
  background-color:#FFFFFF;
  border-top:2px solid #E91C3A;
}

#end_dropboxd {
  display: none;
  position:relative;
  left:385px;
  top:176px;
  width:200px;
  min-height:70px;
  max-height:140px;
  background-color:#FFFFFF;
  border-top:2px solid #E91C3A;
}

#end_dropboxe {
  display: none;
  position:relative;
  left:503px;
  top:176px;
  width:200px;
  min-height:70px;
  max-height:140px;
  background-color:#FFFFFF;
  border-top:2px solid #E91C3A;
}

#end_dropboxf {
  display: none;
  position:relative;
  left:597px;
  top:176px;
  width:200px;
  min-height:70px;
  max-height:140px;
  background-color:#FFFFFF;
  border-top:2px solid #E91C3A;
}

.end_dropdown {
  font-family: 'Trebuchet MS';
  font-size: 11px; 
  color: #000000;
  padding: 10px;
}


/*============================================
Press Release
==============================================*/

.press_title_link {
  font-weight: bold;
}

.press_title {
  font-weight: bold;
}

/*==================================================
Global Services Menu (Solutions -> Global Services
====================================================*/

#sgs_mother {
  position: absolute;
  overflow: hidden !important;
  width: 682px;
  height: 330px;
  background-image:url('../images/sgs/sgs_home_bkgnd.jpg')/*tpa=http://www.sanmina.com/images/sgs/sgs_home_bkgnd.jpg*/;       
  background-repeat: no-repeat;
  z-index: 0;
}

#sgs_spacer {
  width: 682px;
  height: 30px;
}

#sgs_product_bar {
  position: absolute;
  overflow: hidden !important;
  top: 30px;
  width: 603px;
  height: 32px;
  padding-left: 37px;
  margin-top: 160px;
  z-index: 1000;
  background-image:url('../images/sgs/sgs_red_product_bar.png')/*tpa=http://www.sanmina.com/images/sgs/sgs_red_product_bar.png*/;        
  background-repeat: no-repeat;
  background-position: 37px 10px;
}

#sgs_product_bar_wrapper {
  padding-top: 10px;
}

.transparent {
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

#sgs_thumbs_bar {
  width: 642px;
  position: absolute;
  overflow: hidden !important;
  top: 202px;
  overflow: hidden;
  height: 128px;
  padding-left: 40px;
  margin-top: 21px;
  background-image:url('../images/sgs/sgs_vertical_thumbs_grad.png')/*tpa=http://www.sanmina.com/images/sgs/sgs_vertical_thumbs_grad.png*/;
  background-repeat: repeat-x;
  background-position: 0px -10px;
  z-index: 1001;
}

#sgs_thumb {
  float: left;
  width: 96px;
  height: 64px;
  padding-right: 4px;
  z-index: 1002;
}

#sgs_thumb_link1, #sgs_thumb_link2, #sgs_thumb_link3
#sgs_thumb_link4, #sgs_thumb_link5, #sgs_thumb_link6 {
  width: 96px;
  height: 64px;
  z-index: 1003;
}

.sgs_link {
  text-decoration: none;
  border: 0;
}

#sgs_thumb_title1 {
  padding-top: 5px;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #FFFFFF;
  line-height: 14px;
  z-index: 1004;
}

#sgs_thumb_title2 {
  padding-top: 5px;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #FFFFFF;
  line-height: 14px;
  z-index: 1004;
}

#sgs_thumb_title3 {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #FFFFFF;
  line-height: 14px;
  z-index: 1004;
}

#sgs_thumb_title4 {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #FFFFFF;
  line-height: 14px;
  z-index: 1004;
}

#sgs_thumb_title5 {
  padding-top: 5px;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #FFFFFF;
  line-height: 14px;
  z-index: 1004;
}

#sgs_thumb_title6 {
  padding-top: 5px;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #FFFFFF;
  line-height: 14px;
  z-index: 1004;
}

#sgs_message_box1 {
  width: 289px;
  height: 200px;
  display: none;
  background-color: #FFFFFF;
  opacity: 0.9;
  margin-left: 20px;
  z-index: 1;
}

#sgs_message_box2 {
  width: 289px;
  height: 200px;
  display: none;
  background-color: #FFFFFF;
  opacity: 0.9;
  margin-left: 20px;
  z-index: 1;
}

#sgs_message_box3 {
  width: 289px;
  height: 210px;
  display: none;
  background-color: #FFFFFF;
  opacity: 0.9;
  margin-left: 20px;
  z-index: 1;
}

#sgs_message_box4 {
  width: 289px;
  height: 155px;
  display: none;
  background-color: #FFFFFF;
  opacity: 0.9;
  margin-left: 20px;
  z-index: 1;
}

#sgs_message_box5 {
  width: 289px;
  height: 225px;
  display: none;
  background-color: #FFFFFF;
  opacity: 0.9;
  margin-left: 20px;
  z-index: 1;
}

#sgs_message_box6 {
  width: 289px;
  height: 225px;
  display: none;
  background-color: #FFFFFF;
  opacity: 0.9;
  margin-left: 20px;
  z-index: 1;
}

#sgs_message_box_wrapper {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  z-index: 2;
}

#sgs_message_title {
  font-family: 'ITCLubalinGraphRegular';
  font-size: 15px;
  padding-top: 0px;
  z-index: 3;
}

#sgs_message_body {
  padding-top: 10px;
  text-align: left;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #000000;
  z-index: 4;
  line-height: 1.2em;
}

#sgs_thumb_link1_image, #sgs_thumb_link2_image, #sgs_thumb_link3_image,
#sgs_thumb_link4_image, #sgs_thumb_link5_image, #sgs_thumb_link6_image {
  z-index: 1005;
  border: 0;
  text-decoration: none;
}

#sgs_message_button {
  padding-top: 10px;
}

.sgs_message_body_red {
  color: #9F1B32;
  font-weight: bold;
}

#sgs_close_button {
  border: 0;
}

.sgs_close_button_link {
  border: 0;
  text-decoration: none;
  cursor: pointer;
}