/* Company: Honeywell Description : Apply for IE 6 Issues */
.hw-mnu-nav ul {
	width: 50px;
}
.hw-mnu-nav li {
	margin-bottom: -0.99em;
}
.hw-mnu-nav ul li a {
	margin-bottom: -0.99em;
	height: 37px;
}
.hw-mnu-nav #hw-nav-products{ padding-top:15px !important;}
.webparts-title {
	font: bold 11px Arial;
	color: #a9a9a9;
	height: 30px;
	line-height: 30px;
}
.hw-webparts-head {
	font: bold 12px Arial;
	color: #EE3124;
	position: relative;
	top: -6px;
}
.hw-sitemap_main_div {
	clear: both;
	border-bottom: 1px solid #b3b3b3;
	height: 25px;
}
#hw-footer {
	font: normal 11px Arial;
	color: #919191;
	line-height: 30px;
	height: 30px;
}
/*table.gsc-completion-container                  { position:relative;  left:885px !important;  top:-720px!important;}*/
.cse .gsc-control-cse div, .gsc-control-cse div {
	border-color: transparent !important;
	background-color: #ffffff;
	border: 0px !important;
}
.gs-pormotion.gs-result {
	background-color: purple;
	border-color: #336699;
}
.hw-mnu-img {
	height: 105px;
	margin-top: -6px;
}
.spacethirtypix {
	height: 30px;
}
.hw-mnu-active-page a:link, .hw-mnu-active-page a:visited, .hw-mnu-active-page a:active {
	color: #ffffff;
	background: url('../Images/menubg_active.jpg')/*tpa=http://honeywell.com/_layouts/InternetFramework/Images/menubg_active.jpg*/;
	background-repeat: repeat-x;
	font: bold 11px/37px Arial;
}
.hw-parent-mnu-item.hw-mnu-active-page a {
color: #ffffff;
}
.hw-mnu-active-page a:hover {
	color: #EE3124 !important;
	font: bold 11px/37px Arial;
}

.hw-mnu-active-fc,#hw-mnu-active-fc {
color: #ffffff;		
}
a.btnSearchButton
{
     margin-top: 1px !important;
}

#hw-internet-footer .hw-sitemap_main_div .spacetenpix {
margin-top: -3px !important;
}
.hw-sitemap-space { font-size:0px}
.hw-section-overview #updateButton {padding-top:2px;}
.hw-backto-index img {margin-top:-1px;}
.hw-backto-index {padding-top:8px;}

.hw-press-td1 img {margin-top:-1px;}
.hw-press-td1 {padding-top:8px;}
.searchbox #searchBox{ height:15px;}
#hw-mnu-image-drpdown .hw-mnu-img .hw-mnu-txt-1{  height:30px !important;}
.hw-mnu-image-drpdown{padding-bottom:8px !important;}
.hw-mnu-nav #hw-mnu-image-drpdown .hw-mnu-txt-1 a {padding-top:9px; height:30px !important;padding-bottom:3px !important;}

.hw-nav-products{ padding-bottom:30px !important;}
input#txtSearchButton { vertical-align:text-bottom !important;}
.hw-nav-products-td1 .hw-nav-products-div a.hw-nav-products-link { vertical-align:top; }
.hw-nav-products-td2 .hw-nav-products-div a.hw-nav-products-link { vertical-align:top;}
#hw-nav-products .hw-nav-products-div{ padding-bottom:7px !important;padding-top:7px !important;}
#hw-nav-products .hw-nav-products-div .hw-nav-products-link{ line-height:14px !important; }
#hw-nav-products table .hw-nav-products-div{  padding-bottom:10px !important;}
.hw-lft-nav-link .TreeView table td img{vertical-align: top;}
.hw-lft-nav-link .TreeView div table td img{vertical-align: middle;}
#hw-nav-products a.hw-nav-products-link{ height:auto !important;}
.hw-content-txt .hw-awards-div a:hover{*color:#EE3124 !important; font-size:11px; font-weight:bold; text-decoration:none;}







