.tdp-container .thoughtstarter-teaser-container .thoughtstarter-teaser{clear:both}
.homepage-tout-container .btn-gray a,.thoughtstarter-teaser-container .btn-gray a{margin:0}
.homepage-tout-container .touts{padding-bottom:10px}
.tout-container-parsys{padding-bottom:10px;overflow:hidden;background:#fff}
.thoughtstarter-teaser-container .content-inner{overflow:hidden}
.thoughtstarter-teaser{padding:10px;background:url(../img/tout_item_shadow_mobile.png)/*tpa=https://www.pnc.com/etc/designs/pnc-com/img/tout_item_shadow_mobile.png*/ no-repeat bottom center;background-size:70% 10px}
.thoughtstarter-teaser .content-inner{height:100%}
.thoughtstarter-teaser h1,.thoughtstarter-teaser h3{font-family:"PNC Sans Bold",Arial;font-size:16px;line-height:18px;margin:0;color:#484848;padding-bottom:10px}
.thoughtstarter-teaser h4{font-size:10px;margin:0 0 10px;text-align:left}
.thoughtstarter-teaser p{font-family:Arial;font-size:12px;color:#484848;line-height:14px;margin:0;padding:0 0 10px 0}
.thoughtstarter-teaser .content-wrapper{height:100%;position:relative}
.thoughtstarter-teaser-container .hero-thoughtstarter-teaser .content-inner{width:auto;height:100%}
.thoughtstarter-teaser .left-justified{text-align:left}
.thoughtstarter-teaser .left-centered{text-align:center;width:62.5%}
.thoughtstarter-teaser .centered{text-align:center}
.thoughtstarter-teaser .right-centered{text-align:center;width:62.5%;margin-left:37.5%}
.thoughtstarter-teaser .right-justified{text-align:right}
.thoughtstarter-standard,.thoughtstarter-hero{height:178px;position:relative;margin:0 auto;padding:20px 20px 40px;border:1px solid #ddd}
.mobile-hero .thoughtstarter-minimal,.mobile-standard .thoughtstarter-minimal{width:268px;height:188px;position:relative;margin:0 auto;padding:15px 15px 35px;border:1px solid #ddd}
.mobile-hero .minimal-tout-bg,.mobile-standard .minimal-tout-bg{background:url('../img/MINIMAL_TS_BG_default.jpg')/*tpa=https://www.pnc.com/etc/designs/pnc-com/img/MINIMAL_TS_BG_default.jpg*/ left top no-repeat;width:300px;margin:0 auto}
.thoughtstarter-minimal{width:80%;margin:auto;text-align:center;padding:20px;height:auto;border:0;background:0}
.thoughtstarter-hero .btn-wrapper,.thoughtstarter-standard .btn-wrapper,.mobile-hero .thoughtstarter-minimal .btn-wrapper,.mobile-standard .thoughtstarter-minimal .btn-wrapper{position:absolute;bottom:0;left:0;box-sizing:border-box;width:100%;padding:0}
.tag-bar a{margin:0 0 0 5px;color:#f58025}
.mobile-hero .thoughtstarter-minimal .tag-bar,.mobile-standard .thoughtstarter-minimal .tag-bar,.tag-bar{margin:0 0 0 -15px;height:20px;width:288px;text-align:left;bottom:0;position:absolute;padding:0 5px;background:url(../img/tagbar_bg.png)/*tpa=https://www.pnc.com/etc/designs/pnc-com/img/tagbar_bg.png*/ top left repeat;color:#333;font:10px/20px Arial}
.tag-bar{margin:0 0 0 -20px}
.thoughtstarter-minimal .tag-bar{margin:10px 0 0 0;text-align:center;position:relative;width:auto}
.mobile-hero,.mobile-standard{display:block}
.hero-container,.standard-container{display:none}
.mobile-minimal .thoughtstarter-minimal{background:left -500px no-repeat}
@media only screen and (max-width:980px){.minimal-tout-bg h3,.minimal-tout-bg p{color:#484848!important}
}
@media only screen and (min-width:600px){.minimal-tout-bg{background:0}
.thoughtstarter-teaser-container .content-inner{width:600px;margin:0 auto}
.thoughtstarter-teaser .thoughtstarter-hero h1,.thoughtstarter-teaser .thoughtstarter-standard h3{font-size:24px;line-height:28px;padding-bottom:12px;margin:0}
.thoughtstarter-teaser .thoughtstarter-hero p,.thoughtstarter-teaser .thoughtstarter-standard p{margin:0 0 10px;font:14px/18px Arial,Helvetica,sans-serif}
.thoughtstarter-description{line-height:18px}
.thoughtstarter-teaser{position:relative;border-top:0}
.thoughtstarter-teaser-container .section-3{margin-right:0}
.thoughtstarter-teaser .hp-tout-inner{width:158px;height:216px;position:absolute;top:20px;z-index:2;padding:15px 10px 0 10px;left:3px}
.thoughtstarter-teaser .description{display:block}
.thoughtstarter-teaser .tout-bg{display:block;position:absolute;overflow:hidden;width:178px;height:225px;top:21px;z-index:1;left:3px}
.thoughtstarter-hero,.thoughtstarter-standard{width:578px}
.homepage-tout-container{width:640px;margin:0 auto}
.homepage-tout-container .section-3{margin-right:0}
.thoughtstarter-hero .tag-bar,.thoughtstarter-standard .tag-bar{width:608px}
.mobile-hero,.mobile-standard{display:none}
.hero-container,.standard-container{display:block}
}
@media only screen and (min-width:980px){.mobile-minimal .thoughtstarter-minimal{background:left top}
.minimal-tout-bg{background:url('../img/MINIMAL_TS_BG_default.jpg')/*tpa=https://www.pnc.com/etc/designs/pnc-com/img/MINIMAL_TS_BG_default.jpg*/ left top no-repeat}
.thoughtstarter-minimal{width:268px;height:188px;position:relative;margin:0 auto;padding:15px 15px 35px;border:1px solid #ddd}
.thoughtstarter-minimal .btn-wrapper{position:absolute;bottom:0;left:0;box-sizing:border-box;width:100%;padding:0}
.homepage-tout-container{width:960px}
.thoughtstarter-teaser-container .content-inner{width:960px}
.thoughtstarter-teaser .hp-tout-inner{width:278px;height:223px}
.thoughtstarter-teaser .tout-bg{width:298px;height:238px}
.thoughtstarter-teaser{min-width:300px;height:240px;float:left}
.thoughtstarter-standard{width:418px}
.thoughtstarter-teaser .thoughtstarter-standard h3{font-size:20px;line-height:22px;padding-bottom:10px;margin:0}
.thoughtstarter-teaser .thoughtstarter-standard p{margin:0 0 18px;font:13px/16px Arial,Helvetica,sans-serif}
.thoughtstarter-hero{width:578px}
.thoughtstarter-minimal .tag-bar{width:288px;margin:0 0 0 -15px;text-align:left;bottom:0;position:absolute}
.thoughtstarter-standard .tag-bar{width:448px}
}