.accordion-parsys{background:#fff}
.accordion{padding:35px 5px 30px;margin:0 auto}
.accordion-element,.accordion-reusable,.accordion-interactive,.sitemap{border-bottom:1px solid #e2e2e2;background:#fff;margin:0 auto}
.accordion .heading,.accordion .heading h2{font:bold 20px/24px "PNC Sans Medium",Arial,sans-serif;color:#f58832;margin:0 15px 16px 0}
.accordion .heading p{margin:0;padding:0}
.accordion .subheading{font:bold 14px/16px Arial,sans-serif;color:#f58832;position:relative;padding:15px 15px 14px;margin:0}
.accordion .subheading{padding-left:49px;cursor:pointer}
.accordion .toggle{position:absolute;top:11px;left:15px;width:24px;height:23px;background:url(../img/accordion_toggle_icons.png)/*tpa=https://www.pnc.com/etc/designs/pnc-com/img/accordion_toggle_icons.png*/ 0 -23px no-repeat}
.collapsed .toggle{background-position:0 0}
.accordion-content{font-size:12px;line-height:20px;color:#636363;padding:10px}
.collapsed .accordion-content{display:none}
.accordion-element .subheading,.accordion-reusable .subheading,.accordion-interactive .subheading,.sitemap .subheading{color:#fff;background:#b9c7d4}
.accordion-element.collapsed .subheading,.accordion-reusable.collapsed .subheading,.accordion-interactive.collapsed .subheading{background:#fff;color:#484848}
.accordion-content ol{padding-left:20px}
.csp-container .faq-filter .accordion{display:none}
.csp-container .faq-filter .accordion.active{display:block}
.cq-wcm-edit .csp-container .accordion{display:block}
.accordion p,.accordion ul li{color:#636363;line-height:2.0em}
.accordion ul{padding:0;margin:10px 0}
.accordion ul li{color:#6d6e71;margin-left:2em}
.accordion ul li a{color:#f58025}
.accordion ul li a:focus,.accordion ul li a:hover,.accordion ul li a:active{text-decoration:underline}
.accordion h2{margin:0 0 10px 0;font:bold 18px/22px "PNC Sans Bold",Arial,sans-serif;color:#484848}
.accordion h4{margin:0 0 7px 0;font:bold 12px/16px "PNC Sans Bold",Arial,sans-serif;color:#484848}
.accordion b{margin:0 0 7px 0;font-weight:bold;color:#484848}
.accordion img{border:3px solid #d7d7d7;margin-right:20px}
@media only screen and (min-width:600px){.accordion{width:580px;margin:auto}
.accordion .accordion-content{overflow:hidden}
.accordion .accordion-content .column{float:left;display:block}
.accordion .accordion-content .column{padding-left:0}
.accordion .accordion-content .two-columns .column{width:49%;padding-left:1%}
.accordion .accordion-content .two-columns .column:first-child{padding-left:0}
.accordion .accordion-content .three-columns .column{width:31%;padding-left:1%}
.accordion .accordion-content .three-columns .column:first-child{padding-left:0}
.accordion .accordion-content .two-columns+p,.accordion .accordion-content .three-columns+p{clear:both}
}
@media screen and (min-width:980px){.accordion{width:940px}
}