/*Top Sections B-C*/
#dgc_home_1 {
  position: relative;
}
.bSpot {
  width:239px;
  margin-right: 10px;
  height:564px;
  float:left;
}
.CspotBanner {
  float:left;
  clear: right;
  width:714px;
}
.cSpot {
  background:url(../../../PublishingImages/cSpotBkgd.png)/*tpa=http://www2.dollargeneral.com/PublishingImages/cSpotBkgd.png*/ no-repeat center 3px;
  color: #000;
  display: block;
  font-family: sans-serif;
  height: 524px;
  margin-left:5px;
  overflow:hidden;
  position:relative;
}
.cSpot a .h3{
  color:#000;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin: 5px 50px 0 0;
}
.cSpot a {
  text-decoration: none;
  width:100%;
  float:left;
}
.cSpot img {
    float:left;
    margin-right:4px;
}
.cat-grid {
    width:335px;
    height:140px;
}
.cat-section{
  float: left;
  height: 165px;
  overflow: hidden;
}

.partnerContent ul.grid{
  float:left !important;
  list-style-type: none !important;
  margin: 15px 0;
  padding: 0 0 0 3px;
  width:135px;
}
.partnerContent ul.grid li a{
  color: #000;
  display: block;
  font-size: 14px;
  padding: 2px;
  text-decoration: none;
  width: 180px;
  word-wrap:break-word;
  margin-bottom: 6px;
}
.partnerContent ul.grid li a:hover{
  background-color: yellow;
}

.odd {
     margin-left:0px;
}
.even {
     padding-left:39px;
}

/*Main Grid Area*/

.gridArea {
    background:url(../../../PublishingImages/gridSpotBkgd.png.jpg)/*tpa=http://www2.dollargeneral.com/PublishingImages/gridSpotBkgd.png*/ no-repeat center;
    font-family: sans-serif;
    height:484px;
    display: inline-block;
    float: left;
    overflow: hidden;
    width:960px;
}

.gridSpot {
    color:#000;
    float:left;
    height:235px;
    margin:5px 8px;
    width:225px;
}
.badge{
    width:86px;
    height:20px;
    float: left;
}
h2.price{
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 48px;
    line-height: 50px;
    margin:0;
    font-style: normal;
    font-weight: bold;
    text-transform: inherit;
    letter-spacing: -2.2px;
    text-transform: uppercase;
    width: 86px;
    float: left;
}
h5.wasprice {
    font-family: arial;
    font-size: 13px;
    font-weight: 300 !important;
    margin: 0;
    padding: 0;
}
sup.dlr, sup.cnts {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight:bold;
    
}
sup.dlr {
    margin-right: 2px;
    top:-1em;
    top:-1.25em\9;
}

sup.cnts {
    margin-left: 2px;
    top:-1em;
    top:-1.25em\9;
    letter-spacing: 0.025em;

}
.product-right{
  overflow: hidden;
  width: 137px;
  float:left;
  padding-top:55px;
}
  .product-right img {
    float:right;
    width: auto;
    height: 100%;

  }
.product-left {
  
  width: 88px;
  float:left;
}
.desc{
    float:left;
    font-size:13px;
    font-weight:300;
    text-transform: capitalize;
    width:88px;
    padding-top:5px;
    word-wrap:break-word;
}
.desc p{
  margin:0;
  padding:0;
}
.size{
  display:block;

}
.prodImg{
    float:left;
    height:129px;
    width:139px;
}
.shopBtn{
    float:right;
    height:39px;
    width:105px;
}

#home_rr .last {
    margin-right: 0px;
    margin-left: 10px;
}
#home_rr {
  clear:both;
}
.p_grid{
  float: left;
  margin-top:10px;
}
/*fix*/
.ie7blanklink{
    *display: block;
    *z-index: 9999;
    *background-image: url(Unknown_83_filename)/*tpa=http://www2.dollargeneral.com/In-Store-Now/Pages/css/no-image.gif*/;
}