.bodyText {
	color: #666666 !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 12px !important;
	line-height: 15pt !important;
	width: 560px;
}

.leftNav a {
    color: #5288BA !important;
    text-decoration: none;
}

.leftNav a:visited {
    color: #5288BA !important;
    text-decoration: none;
}

.leftNav a:hover {
    color: #5288BA !important;
    text-decoration: underline;
}

.leftNav a:active {
    color: #5288BA !important;
    text-decoration: none;
}

.lotusBanner ul.lotusLinks li.lotusSelected a {
    text-decoration: none !important;
}

.moreLinks {
 	line-height: 30px;
}

.menuLinks {
 	font-weight: normal;
	font-size: 12px;
	color: #6699CC;
	font-family: Arial, Helvetica, sans-serif;
}

.menuLinks a{
 	font-weight: normal;
	font-size: 12px;
	color: #6699CC;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.menuLinks a:hover{
 	font-weight: normal;
	font-size: 12px;
	color: #6699CC;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

.menuLinks a:visited{
 	font-weight: normal;
	font-size: 12px;
	color: #6699CC;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.menuLinks a:visited:hover{
 	font-weight: normal;
	font-size: 12px;
	color: #6699CC;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.leftNav {
	width: 178px;
 	display: table;
	padding-left: 9px;
	float:left;
}
.navHdr {
	height: 22px;
	display: table-row;
	color: #00326B !important;
    font-size: 10px  !important;
    font-weight: bold;
   	padding-bottom: 4px;;
}

.navHdr a{
 	font-weight: bold !important;
    font-size: 10px  !important;
	color: #00326B  !important;
	text-decoration: none !important;
}

.navHdr a:hover{
 	font-weight: bold !important;
    font-size: 10px  !important;
	color: #00326B !important;
	text-decoration: none !important;
}

.navHdr a:visited{
 	font-weight: bold !important;
    font-size: 10px  !important;
	color: #00326B !important;
	text-decoration: none !important;
}

.navHdr a:visited:hover{
 	font-weight: bold !important;
   	font-size: 10px  !important;
	color: #00326B  !important;
	text-decoration: none !important;
}



#vertLineRight {
	float: left;
    margin-top: 78px;
    vertical-align: top;
	padding-left: 8px;
}

#menuDiv {
    float: left;
}

#wrapper {
    float: left;
    width: 560px;
}

#lowerContainer{
	
}

.navLinks {
 	font-weight: normal;
	font-size: 10px;
	color: #6699CC;
	font-family: Arial, Helvetica, sans-serif;
	height: 28px;
	display: table-row;
	vertical-align: middle;
}

.navLinks a{
 	font-weight: normal;
	font-size: 10px;
	color: #6699CC;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	display: table-row;
	vertical-align: middle;
}

.navLinks a:hover{
 	font-weight: normal;
	font-size: 10px;
	color: #6699CC;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

.navLinks a:visited{
 	font-weight: normal;
	font-size: 10px;
	color: #6699CC;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.navLinks a:visited:hover{
 	font-weight: normal;
	font-size: 10px;
	color: #6699CC;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

#navLevel1 {
	display: none;
}

#navLevel2 {
	display: none;
}

#navLevel3 {
	display: none;
}

.headline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #8F8F8F;
	font-weight: bold;
}

.headline a{
 	font-weight: bold;
	font-size: 14px;
	color: #6699CC;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.headline a:hover{
 	font-weight: bold;
	font-size: 14px;
	color: #6699CC;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

.headline a:visited:hover{
 	font-weight: bold;
	font-size: 14px;
	color: #6699CC;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.menuHeading {
 	font-weight: bold;
	font-size: 13px;
	color: #003366;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom : 6px;
}

.title {
    color: #003D6B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24pt;
	position: relative;
}

.subTitle {
	color: #A5A586;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
	position: relative;
}

.subTitleTwo {
   	color: #999999;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    line-height: 15pt;
	position: relative;
}

.featureImage {
	padding-top: 5px;
}

.ussTitle {
   	color: #003D6B;
	font-family: Arial,Helvetica,sans-serif;
   	font-size: 18px;
   	font-weight: bold;
   	line-height: 24pt;
   	margin-top: 10pt;
   	padding-bottom: 20px;
}

.companyNews {
    color: #074678;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.8px;
    padding-bottom: 2px;
}

.investorNews {
    color: #074678;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.8px;
    padding-bottom: 2px;
}

.investorDate {
	margin-left:auto;
	margin-right:auto;
	padding-left: 11px;
}

.menuBlock a:link {
    color: #5288BA !important;
    text-decoration: none;
}

.menuBlock a:visited {
    color: #5288BA !important;
    text-decoration: none;
}
.menuBlock a:hover {
   	color: #5288BA !important;
    text-decoration: underline;
}

.navBlock a:link {
    color: #5288BA !important;
    text-decoration: none;
}

.navBlock a:visited {
    color: #5288BA !important;
    text-decoration: none;
}
.navBlock a:hover {
    color: #5288BA !important;
    text-decoration: underline;
}


.newsItem {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 16px;
}

.menuBlock {
	padding-bottom: 10px; 	
}

.menuMore {
	clear: both;
	float: right;
}

.date {
    color: #A8A386;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#flashContainer {
	text-align:center;
}

#companyNewsMenu {
	float: left;
	width: 265px;
}

#investorNewsMenu {
	float: left;
	width: 310px;
}
#vertLine {
	width: 40px;
	float: left !important;
}
#homeBtmRight {
	width: 265px;
	float: left !important;
}

#ussMoreContent {
	width: 100%;
	padding: 10px;
}

#ussMoreMain {
 	width: 100%;
}

#mainContainer {
 	width: 980px !important;
}

#centerContainer {
	width: 390px !important;
}

#contentContainer {
 	width: 603px !important;
	margin-top: -15px;
}

.outerGutter {
	float: left;
    width: 30px;
}
.innerGutter {
	float: left;
	width: 40px;
}

.component-control {
    padding: 0 !important;
}

.lotusOverflowAuto {
    overflow: visible !important;
}
.component-control {
    width: 100% !important;
}

.ibmLayoutContainers {
    padding: 0 !important;
}

.layoutRow {
    width: 100% !important;
}

#homeAuthTool {
	padding-left: 20px;
}

#breadcrumbNav {
 	float: right !important;
 	padding-right: 14px;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
	color: #999999;
	width: 498px;
	text-align: right;
	z-index: 1;
}

#breadcrumbNav a:link {
    color: #5288BA;
    text-decoration: none;
}

#breadcrumbNav a:visited {
    color: #5288BA !important;
    text-decoration: none;
}
#breadcrumbNav a:hover {
    color: #5288BA !important;
    text-decoration: underline;
}

.para-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #52596D;
	line-height: 10pt;
}
.para-heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #486179;
	line-height: 15pt;
}
.parahdbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 15pt;
	font-weight: bold;
	color: #486179;
}
.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #A5A586;
	padding-bottom: 5px;
	margin-bottom: 20px;
	line-height: normal;
	padding-top: 6px;
}
.subtitle2 {
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	color: #999999;
	line-height: 15pt
}


.relatedContentContainer {
    background-color: #F8F8F2;
    color: #546579 !important;
    display: none;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 11px !important;
    margin-left: 11px;
    margin-right: 11px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
}
.stockportlet_container {
    background-color: #F8F8F2;
    float: left;
    margin-left: 11px !important;
    margin-top: 10px !important;
    width: 170px !important;
}
.thomsonReutersContainer {
	background-color: #F8F8F2;
	padding: 5px 10px 5px 10px;
	font-family: Arial, Helvetica, sans-serif !important;
	color: #546579 !important;
	font-size: 11px !important;
	margin-left: 11px;
    margin-right: 11px;
	width: 150px;
}
.contactUsContainer {
    margin-left: 11px;
    margin-right: 11px;
	margin-bottom: 10px;
	background-color: #F8F8F2;
	padding-bottom: 5px;
    padding-left: 11px;
	font-family: Arial, Helvetica, sans-serif !important;
	color: #546579 !important;
	font-size: 11px !important;
}
.contactUsContainer  a:link{
    color: #5288BA;
    text-decoration: none;
}
.companyNewsMenu {
	clear: both;
	float: left;
	padding-left: 4px;
}

.pressReleasesOverviewMenu {
	clear: both;
    float: left;
	width: 100%;
	padding-left: 4px;
}

.companyNewsOverviewMenu {
	clear: both;
	float: left;
	padding-left: 4px;
}
.newsRoomTitle {
    color: #074678;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.8px;
    line-height: 30pt;
}

.newsOverviewTitle {
    color: #52596D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 10pt;
	line-height: 30pt;
}

.newsOverviewDate {
    color: #93926F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 12pt;
    margin-left: 5px;
    margin-right: 19px;
}
.generalDate {
    color: #93926F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 12pt;
    margin-left: 5px;
    margin-right: 19px;
}
#ussPrint {
    border: medium none !important;
    cursor: pointer;
    height: 12px;
    width: 20px;
}
#ussEmail {
    border: medium none !important;
    cursor: pointer;
    height: 12px;
    width: 20px;
}
#ussLinkToPage {
    border: medium none !important;
    cursor: pointer;
    height: 12px;
    width: 20px;
}
#ussAuthTool {
	float: left;
	width: 200px;
}
#ussPrintContainer {
	float: right;
}

#ussEmailContainer {
	float:right;
	display: none;
}
#ussLinkToPageContainer {
	float: right;
	display: none;
}
#emailAndPrint {
    float: left;
    width: 560px;
	padding: 40px 0px 10px 0px; 
}

#investorsTables td {
   padding-left: 10px;
}

#investorsTables p {
   margin-bottom: 5px;
}

#investorsTables td p {
   margin: 0px 0px 0px 0px !important;
}


.imageCaption {
	color: #807A57;
    font-family: Arial,Helvetica,sans-serif;
	background-color: #F8F8F2;
	font-weight: bold;
	font-size: 12px;
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#555555;
  display:none;
}
  
#boxes .contactUsWindow {
  position: fixed;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes  #contactUsDialog {
  width:621px; 
  height:200px;
  padding:0;
  background-color:#ffffff;
  position: absolute;
}

#boxes  #contactUsInlineDialog {
  width:621px; 
  height:200px;
  padding:0;
  background-color:#ffffff;
  position: absolute;
}

.contactUsBody {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.contactUsHeading {
	color: #486179;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 15pt;
	margin-top: 10px;
}

.contactUsTitle {
	color: #52596D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 10pt;
}

.contactUsBodyList {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.contactUsRequired {
    color: #B73C00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}
.contactUsSpacer {
	line-height: 6px;
}
#contactUsClose {
	width: 17px;
	height: 17px;
	border: medium none !important;
	cursor: pointer;
	margin-right: 10px;
}

.contactUsFooter {
	width:621px; 
	height:20px;
	background-color: #F5F2F2;
}

#contactUsSuccess {
    position: relative;
    top: 20px;
}
.ibmPortalHiddenText {
	display: none!































































}
#ussJobOpp {
	border: medium none #FFFFFF;
    height: 1200px;
    overflow-x: hidden;
    width: 980px;
}
#modelPopUp .modelPopUpWindow {
  position: fixed;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#modelPopUp #modelPopUpDialog {
  width:621px; 
  height:200px;
  padding:0px;
  background-color:#ffffff;
  position: absolute;
}

#modelPopUpClose {
	width: 17px;
	height: 17px;
	border: medium none !important;
	cursor: pointer;
	margin-right: 10px;
}


.modelPopUpFooter {
	width:600px; 
	height:20px;
	background-color: #F5F2F2;
}
#modelPopUpMask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#555555;
  display:none;
}

#modelPopUpContentFooter {
    background-color: #f5f2f2;
	height: 17px;
    padding: 1px 0px 1px 0px; 
}
#modelPopUpContentFooterLMenus{
   float: left;
}
#modelPopUpContentFooterRMenus{
   float: right;
}