#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;

}

#facebox .content {
  display:table;
  width: 670px;
  padding: 10px;
  background: #fff;
  border: 3px solid #f2f2f2;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox p {margin: 10px 0px 10px 0px; font-size:12px;}
#facebox h1 {font-size:16px; font-weight:bold; margin: 10px 0px -15px 0px; padding:0; color:#509629;}
#facebox h1.hdp {font-size:16px; font-weight:bold; margin: 10px 0px -15px 0px; padding:0; color:#509629;}
#facebox h2 {padding-top:25px; font-size:18px; font-weight:bold; margin: 10px 0px 10px 0px; padding-bottom:5px; color:#000000; border-bottom:1px solid #000000; width:670px;}
#facebox img {margin-top: 5px;}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  background:#fff;
}
#facebox .close img{
  opacity:1;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}