html{color:#000;background:#FFF;font-family:arial,helvetica,clean,sans-serif;}body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}

address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}


 /*--------------------------------------------------------------
--------------------------------------------------------------
  Top Nav
--------------------------------------------------------------
 ---------------------------------------------------------------*/

/*** ESSENTIAL STYLES ***/

#toplinks ul,li {margin:0;padding:0;}


#toplinks {
	line-height:	1.0;
	z-index: 88;
	margin-top:2px;
}

#toplinks ul.sub1 { /* submenu width */
	z-index: 88;
	position:		absolute;
	top:			-999em;
	width:			423px;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
	background-image: url(../images/layout/rolltop.png)/*tpa=http://www.tenneco.com/cms/images/layout/rolltop.png*/;
}
#toplinks ul.sub1 li{ /* submenu width */
	width:			100%; /* left offset of submenus need to match (see below) */
	float: none;
	height: 100%;
	display: block;
	line-height: 1.3;
	font-size: 11px;
	position: relative;
	margin: 0px;
	padding: 0px;
}
#toplinks ul.sub2 { /* submenu width */
	z-index: 88;
	position:		absolute;
	top:			-999em;
	width:			423px;
	background-image: url(../images/layout/rolltop2.png)/*tpa=http://www.tenneco.com/cms/images/layout/rolltop2.png*/;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
}
#toplinks ul.sub2 li{ /* submenu width */
	width:			100%; /* left offset of submenus need to match (see below) */
	float: none;
	height: 100%;
	display: block;
	line-height: 1.3;
	font-size: 11px;
}
#toplinks ul.sub3 { /* submenu width */
	z-index: 88;
	position:		absolute;
	top:			-999em;
	width:			423px;
	background-image: url(../images/layout/rolltop3.png)/*tpa=http://www.tenneco.com/cms/images/layout/rolltop3.png*/;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
}
#toplinks ul.sub3 li{ /* submenu width */
	width:			100%; /* left offset of submenus need to match (see below) */
	float: none;
	height: 100%;
	display: block;
	line-height: 1.3;
	font-size: 11px;
}
#toplinks ul.sub4 { /* submenu width */
	z-index: 88;
	position:		absolute;
	top:			-999em;
	width:			423px;
	background-image: url(../images/layout/rolltop4.png)/*tpa=http://www.tenneco.com/cms/images/layout/rolltop4.png*/;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
}
#toplinks ul.sub4 li{ /* submenu width */
	width:			100%; /* left offset of submenus need to match (see below) */
	float: none;
	height: 100%;
	display: block;
	line-height: 1.3;
	font-size: 11px;
}
#toplinks ul.sub5 { /* submenu width */
	z-index: 88;
	position:		absolute;
	top:			-999em;
	width:			423px;
	background-image: url(../images/layout/rolltop5.png)/*tpa=http://www.tenneco.com/cms/images/layout/rolltop5.png*/;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
}
#toplinks ul.sub5 li{ /* submenu width */
	width:			100%; /* left offset of submenus need to match (see below) */
	float: none;
	height: 100%;
	display: block;
	line-height: 1.3;
	font-size: 11px;
}
#toplinks ul.sub6 { /* submenu width */
	z-index: 88;
	position:		absolute;
	top:			-999em;
	width:			423px;
	background-image: url(../images/layout/rolltop4.png)/*tpa=http://www.tenneco.com/cms/images/layout/rolltop4.png*/;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
}
#toplinks ul.sub6 li{ /* submenu width */
	width:			100%; /* left offset of submenus need to match (see below) */
	float: none;
	height: 100%;
	display: block;
	line-height: 1.3;
	font-size: 11px;
}
#toplinks  li:hover  ul,
#toplinks  li.sfHover  ul.sub1 {
	left:			0px;
	top:			26px; /* match top ul list item height */
	z-index: 88;
}
#toplinks  li:hover  ul, #toplinks  li.sfHover  ul.sub2 {
	top:			26px; /* match top ul list item height */
	z-index: 88;
	left: 0px;
}
#toplinks li:hover ul, #toplinks li.sfHover ul.sub3 {
	z-index: 88;
	top: 26px;
	left: -368px;
}
#toplinks li:hover ul, #toplinks li.sfHover ul.sub4 {
	z-index: 88;
	top: 26px;
	left: -353px;
}
#toplinks li:hover ul, #toplinks li.sfHover ul.sub5 {
	z-index: 88;
	top: 26px;
	left: -285px;
}
#toplinks li:hover ul, #toplinks li.sfHover ul.sub6 {
	z-index: 88;
	top: 26px;
	left: -353px;
}







/*------------------------------------------------ */
ul#toplinks {
	list-style-type: none;
	text-align: center;
	display: block;
	position: absolute;
	right: 11px;
	z-index: 88;
	top: 2px;
	height: 26px;
}
ul#toplinks li {
	display: inline;
	float: left;
	font-weight: normal;
	font-size: 77%;
	color: #000000;
	position: relative;
	margin: 0px;
	padding: 0px;
	z-index: 88;
}

ul#toplinks li a {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	position: relative;
	z-index: 88;
	width: 90px;
	height: 26px;
	line-height: 27px;
	overflow: hidden;
	text-align: center;
}
ul#toplinks li a:hover {
	color: #000000;
	text-decoration: none;
}
ul#toplinks   li.tab-1  a  {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	position: relative;
	z-index: 88;
	width: 80px;
	height: 26px;
	line-height: 27px;
	overflow: hidden;
	background-image: url(../images/layout/divider.gif)/*tpa=http://www.tenneco.com/cms/images/layout/divider.gif*/;
	background-repeat: no-repeat;
	background-position: right center;
	
}

ul#toplinks   li.tab-2  a  {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	position: relative;
	z-index: 88;
	width: 95px;
	height: 26px;
	line-height: 27px;
	overflow: hidden;
		background-image: url(../images/layout/divider.gif)/*tpa=http://www.tenneco.com/cms/images/layout/divider.gif*/;
	background-repeat: no-repeat;
	background-position: right center;
}
ul#toplinks   li.tab-3  a  {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	position: relative;
	z-index: 88;
	width: 55px;
	height: 26px;
	line-height: 27px;
	overflow: hidden;
		background-image: url(../images/layout/divider.gif)/*tpa=http://www.tenneco.com/cms/images/layout/divider.gif*/;
	background-repeat: no-repeat;
	background-position: right center;
}
ul#toplinks   li.tab-4  a  {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	position: relative;
	z-index: 88;
	width: 70px;
	height: 26px;
	line-height: 27px;
	overflow: hidden;
			background-image: url(../images/layout/divider.gif)/*tpa=http://www.tenneco.com/cms/images/layout/divider.gif*/;
	background-repeat: no-repeat;
	background-position: right center;
}
ul#toplinks   li.tab-5  a  {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	position: relative;
	z-index: 88;
	width: 138px;
	height: 26px;
	line-height: 27px;
	overflow: hidden;
			background-image: url(../images/layout/divider.gif)/*tpa=http://www.tenneco.com/cms/images/layout/divider.gif*/;
	background-repeat: no-repeat;
	background-position: right center;
}
ul#toplinks   li.tab-6  a  {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	position: relative;
	z-index: 88;
	width: 70px;
	height: 26px;
	line-height: 27px;
	overflow: hidden;
}
ul#toplinks li.sfHover a:hover           {
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url(../images/layout/gov-right.gif)/*tpa=http://www.tenneco.com/cms/images/layout/gov-right.gif*/;
}
ul#toplinks li.sfHover a:hover span     {
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../images/layout/gov-left.gif)/*tpa=http://www.tenneco.com/cms/images/layout/gov-left.gif*/;
	display: block;
}
ul#toplinks li.sfHover a         {
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url(../images/layout/gov-right.gif)/*tpa=http://www.tenneco.com/cms/images/layout/gov-right.gif*/;
}
ul#toplinks li.sfHover a span     {
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../images/layout/gov-left.gif)/*tpa=http://www.tenneco.com/cms/images/layout/gov-left.gif*/;
	display: block;
}
div.roll-right {
	background-image: url(../images/layout/rollright.png)/*tpa=http://www.tenneco.com/cms/images/layout/rollright.png*/;
	background-repeat: repeat-y;
	background-position: right 0px;
	padding-right: 7px;
	display: block;
	text-align: left;
	position: relative;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
div.roll-left {
	background-image: url(../images/layout/rollleft.png)/*tpa=http://www.tenneco.com/cms/images/layout/rollleft.png*/;
	background-repeat: repeat-y;
	background-position: left top;
	display: block;
	text-align: left;
	padding-left: 4px;
	position: relative;
}


 /*--------------------------------------------------------------
--------------------------------------------------------------
  Tenneco sites
--------------------------------------------------------------
 ---------------------------------------------------------------*/

/*** ESSENTIAL STYLES ***/
#sites {
	line-height:	1.0;
	z-index: 80;
}

#sites ul,li {margin:0;padding:0;list-style:none;}


#sites ul.sub4 { /* submenu width */
	z-index: 80;
	position:		absolute;
	top:			-999em;
	width:			423px;
	background-image: url(../images/layout/rolltop4.png)/*tpa=http://www.tenneco.com/cms/images/layout/rolltop4.png*/;
	background-repeat: no-repeat;
	background-position: right top;
	padding-top: 8px;
}
#sites ul.sub4 li{ /* submenu width */
	width:			100%; /* left offset of submenus need to match (see below) */
	float: none;
	height: 100%;
	display: block;
	line-height: 1.3;
	font-size: 11px;
}
#sites ul.sub5 { /* submenu width */
	z-index: 80;
	position:		absolute;
	top:			-999em;
	width:			423px;
	background-image: url(Unknown_83_filename)/*tpa=http://www.tenneco.com/cms/images/layout/rolltop6.png*/;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
}
#sites ul.sub5 li{ /* submenu width */
	width:			100%; /* left offset of submenus need to match (see below) */
	float: none;
	height: 100%;
	display: block;
	line-height: 1.3;
	font-size: 11px;
}
#sites ul.sub7 { /* submenu width */
	z-index: 80;
	position:		absolute;
	top:			-999em;
	width:			423px;
	background-image: url(../images/layout/rolltop7.png)/*tpa=http://www.tenneco.com/cms/images/layout/rolltop7.png*/;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
}
#sites ul.sub7 li{ /* submenu width */
	width:			100%; /* left offset of submenus need to match (see below) */
	float: none;
	height: 100%;
	display: block;
	line-height: 1.3;
	font-size: 12px;
}

#sites li:hover ul, #sites li.sfHover ul.sub4 {
	z-index: 80;
	top: 26px;
	left: -353px;
}
#sites li:hover ul, #sites li.sfHover ul.sub5 {
	z-index: 80;
	top: 26px;
	left: -343px;
}
#sites li:hover ul, #sites li.sfHover ul.sub7 {
	z-index: 80;
	top: 26px;
	left: -235px;
}

/*------------------------------------------------ */
ul#sites {
	list-style-type: none;
	text-align: center;
	display: none;
	position: absolute;
	right: 12px;
	z-index: 10;
	top: 58px;
	height: 26px;
}
ul#sites li {
	display: inline;
	float: left;
	font-weight: normal;
	font-size: 77%;
	color: #000000;
	position: relative;
	margin: 0px;
	padding: 0px;
	z-index: 10;
}

ul#sites li a {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	display: block;
	position: relative;
	z-index: 10;
	width: 90px;
	height: 26px;
	line-height: 27px;
	overflow: hidden;
	text-align: center;
}
ul#sites li a:hover {
	color: #000000;
	text-decoration: none;
}
ul#sites   li.tab-4  a  {
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	text-decoration: none;
	display: block;
	position: relative;
	z-index: 10;
	width: 70px;
	height: 26px;
	line-height: 27px;
	overflow: hidden;
	background-image: url(../images/layout/divider.gif)/*tpa=http://www.tenneco.com/cms/images/layout/divider.gif*/;
	background-repeat: no-repeat;
	background-position: right center;
}
ul#sites   li.tab-5  a  {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	display: block;
	position: relative;
	z-index: 10;
	width: 80px;
	height: 26px;
	line-height: 27px;
	overflow: hidden;
}
ul#sites   li.tab-7  a  {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	display: block;
	position: relative;
	z-index: 10;
	width: 188px;
	height: 26px;
	line-height: 27px;
	overflow: hidden;
}

ul#sites li.sfHover a:hover           {
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url(../images/layout/gov-right.gif)/*tpa=http://www.tenneco.com/cms/images/layout/gov-right.gif*/;
}
ul#sites li.sfHover a:hover span     {
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../images/layout/gov-left.gif)/*tpa=http://www.tenneco.com/cms/images/layout/gov-left.gif*/;
	display: block;
}
ul#sites li.sfHover a         {
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url(../images/layout/gov-right.gif)/*tpa=http://www.tenneco.com/cms/images/layout/gov-right.gif*/;
}
ul#sites li.sfHover a span     {
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../images/layout/gov-left.gif)/*tpa=http://www.tenneco.com/cms/images/layout/gov-left.gif*/;
	display: block;
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('Unknown_83_filename')/*tpa=http://www.tenneco.com/cms/images/layout/shadow.png*/ no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
div.roll-right2 {
	background-image: url(../images/layout/rollright.png)/*tpa=http://www.tenneco.com/cms/images/layout/rollright.png*/;
	background-repeat: repeat-y;
	background-position: right 0px;
	padding-right: 7px;
	display: block;
	text-align: left;
	position: relative;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.roll-background div img { background: transparent; z-index:50;display:block;}
.roll-background {
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #FFFFFF;
	background-image: url(../images/layout/rollback.gif)/*tpa=http://www.tenneco.com/cms/images/layout/rollback.gif*/;
	position: relative;
	font-size: 13px !important;
	padding: 7px !important;
	font-weight: normal !important;
}
div.roll-background  p {
	padding-right: 7px;
	padding-left: 9px;
	padding-top: 4px;
	position: relative;
	margin: 0px;
	padding-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}



.roll-background ul li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px !important;
}
.roll-background ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px !important;
	background: transparent !important;
	width: auto !important;
	margin: 0px !important;
	padding: 0px !important;
	text-align: left !important;
	text-transform: none !important;
	text-decoration: underline !important;
	color: #666 !important;
}
.roll-background ul li a:active { color: #666 !important;}
.roll-background ul li a:visited { color: #666 !important;}
.roll-background p a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px !important;
	background: transparent !important;
	width: auto !important;
	margin: 0px !important;
	padding: 0px !important;
	text-align: left !important;
	text-transform: none !important;
	text-decoration: underline !important;
	color: #666 !important;
}
.roll-background p a:active { color: #666 !important; }
.roll-background p a:visited { color: #666 !important; }
li.sfHover ul li div div div.roll-background a {	text-decoration: underline !important;color: #666 !important;	line-height: 20px !important; height: 20px !important; font-family: Arial, Helvetica, sans-serif;	font-size: 13px !important;	background: transparent !important;	width: auto !important;	margin: 0px !important;	padding: 0px !important;	text-align: left !important;	text-transform: none !important;margin-left: 10px !important;}
li ul li div div div.roll-background a {	text-decoration: underline !important;color: #666 !important;line-height: 20px !important; height: 20px !important; font-family: Arial, Helvetica, sans-serif;	font-size: 13px !important;	background: transparent !important;	width: auto !important;	margin: 0px !important;	padding: 0px !important;	text-align: left !important;	text-transform: none !important;margin-left: 10px !important;}
li.sfHover ul li div div div.roll-background span.brand2 a:link {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px !important;	color: #0066CC !important;	font-weight: bold !important;	line-height: 17px !important;	text-decoration: none !important}


li.sfHover ul li div div div.roll-background span.brand2 a:hover {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px !important;	font-weight: bold !important;	color: #666666 !important; 	line-height: 17px !important;	text-decoration: underline !important}

li.sfHover ul li div div div.roll-background span.brand2 a:active {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px !important;	color: #0066CC !important;	font-weight: bold !important;	line-height: 17px !important;	text-decoration: none !important}

li.sfHover ul li div div div.roll-background span.brand2 a:visited {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px !important;	color: #0066CC !important;	font-weight: bold !important;	line-height: 17px !important;	text-decoration: none !important}

li.sfHover ul li div div div.roll-background span.region1 a:link {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px !important;	font-weight: bold !important;	color: #509629 !important;	line-height: 17px !important;	text-decoration: none !important}
li.sfHover ul li div div div.roll-background span.region1 a:hover {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px !important;	font-weight: bold !important;	color: #666666 !important;	line-height: 17px !important;	text-decoration: underline !important}


li.sfHover ul li div div div.roll-background span.region1 a:active {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px !important;	font-weight: bold !important;	color: #509629 !important;	line-height: 17px !important;	text-decoration: none !important}

li.sfHover ul li div div div.roll-background span.region1 a:visited {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px !important;	font-weight: bold !important;	color: #509629 !important;	line-height: 17px !important;	text-decoration: none !important}


