/* CSS Document for IE 6*/
.mod-hero .thumbnails li { margin-top:4px; }
.transitionSmall { bottom:-15px; }
.ss-gac-m { display:none; }
.landingConWidgetTitle { position: relative; }
.collateral span { display: inline-block; }
.mod-dropdownBasic {
	z-index:11 /*for IE 6&7*/
}

.mod-dropdownBasic li ul {
	left:0 /*for IE 6&7*/
}
.imageAppCarousel .text-item a  {
	padding-top:30px;
	display:block;
}

ul#flyout .flyoutConnect{

height:20px;background:#8c8c8c;
background:rgba(140, 140, 140, 0.5);position:absolute;top:125px}

ul#flyout li .flyoutContent {
	top:20px;
    display: block;
	padding-top:25px;
    position: relative;
    width: 950px;
    z-index: 1000;
	
}
