/* STYLESHEET FOR BROWSERS OTHER THAN IE */

		/*  insert this HTML comment:		
		<!--[if !IE]><!-->
			<link rel="stylesheet" type="text/css" href="/_layouts/1033/styles/themable/borgwarner/bwcorev4other.css" />
		<!--<![endif]-->
		*/

/* position BW logo */
.s4-titlelogo IMG {
	PADDING-RIGHT: -9px;
}

/* position blue top nav */
#topSubWraper {
	WIDTH: 961px; 
	
}
#blueSeperator {
	WIDTH: 961px;
}

/* position green vertical nav*/
#subnavigation {
	MARGIN-TOP: -16px;
}

/* position homepage jquery animation */
.ms-WPBody #slideshow {
	MARGIN-TOP: -72px /* correct for Firefox and Safari; a little squished in Chrome */
}


/* chrome drop-downs over flash banner */


#ctl00_bwSiteBanner_lblbanner object 
{
 display: block;   
}