body {
	background-color: #fff;
	background-image: url(img/bg-body.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-body.gif*/;
	background-repeat: repeat;
	background-position: left top;
	padding: 0 0 20px;
	color: #000000;
	font-family: arial,helvetica,verdana,sans-serif; 
    font-size: 13px;
    font-weight: normal;
}

.ms-WPBody TD
{
	font-family: arial,helvetica,verdana,sans-serif; 
    font-size: 13px;
    font-weight: normal;
}

body #s4-leftpanel-content{
padding:0px 0px 5px;
/* [ReplaceColor(themeColor:"Light2")] */ background-color:#fcfcfc;
/* [ReplaceColor(themeColor:"Light2-Lightest")] */ border:1px solid #dbddde;
border-top-width:0px;
border-right-width:1px;
border-bottom-width:1px;
border-left-width:0px;
visibility:hidden;
}
.corporateLink
{
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	vertical-align:middle;
	text-align:left;
}
.s4-title{
padding:0px 0px 0px 10px;
margin:0px;
min-height:64px;
word-wrap:break-word;
-ms-word-wrap:break-word;

}
body #s4-topheader2{
/* [RecolorImage(themeColor:"Light1")] */ background:url("../../../../images/selbg.png")/*tpa=http://www.borgwarner.com/_layouts/images/selbg.png*/ repeat-x left top;
/* [ReplaceColor(themeColor:"Light2")] */ background-color:#f6f6f6;
vertical-align:middle;
min-height:25px;
/* [ReplaceColor(themeColor:"Light2-Lightest")] */ border-top:1px solid #e0e0e0;
/* [ReplaceColor(themeColor:"Light2-Lighter")] */ border-bottom:1px solid #b8babd;
visibility:visible;
}

#topWraper
{
	margin-left:auto;
	margin-right:auto;
	width:100%;background-color:#ffffff;
}
#topSubWraper
{
	margin-left:auto;
	margin-right:auto;
	width:960px;
	background-color:#ffffff;
	padding-right:15px;
}
#mainWraper
{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	background-color:#ffffff;
}

body #s4-bodyContainer{
	width:962px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
#contentWraper
{
	width:100%;
	/*background-image: url(/_layouts/1033/styles/themable/borgwarner/img/bg-body.gif);*/
}
#div-site-header
{
	z-index=-1;
	background-image:url(Unknown_83_filename)/*tpa=http://www.borgwarner.com/SiteCollectionImages/img-header-home.jpg*/;
	background-repeat:no-repeat;
	width:950px;
	height:125px;
	background-color:#00309C;
}
body #s4-mainarea{
float:none;
clear:both;
}

.s4-widecontentarea{
	width:950px;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	background-color:#00309C;
}
.s4-ca{
/* [ReplaceColor(themeColor:"Light1")] */ background:#fff;
margin-left:0px;
margin-right:0px;
margin-top:0px;
min-height:324px;
}

#blueSeperator
{
	background-image: url(img/bg-header2.jpg)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-header2.jpg*/;
	height:20px;
	width:960px;
	margin-left:auto;
	margin-right:auto;
	background-repeat:no-repeat;
	background-position:right bottom;
	background-color:#00309C;
	text-align:right;
}

#div body #s4-workspaceNew{
width:950px;background-color:#00309C;padding-left:10px;padding-top:0px;padding-bottom:10px;padding-right:0px;border-right:1px silver solid;
margin-left:auto;
margin-right:auto;
}

.s4-titlelogo{
text-align:right;
vertical-align:middle;
}

.s4-search{
padding:0px !important;
}

body #s4-leftpanel{
width:155px;
height:1px;
float:left;
display:none;
visibility:hidden;
}

#newsDiv
{
padding-top:97px;
vertical-align:bottom;
}
#latestNews, .latestNews
{
	background-image:url(img/bg-left-header.png)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-left-header.png*/;
	

	width: 190px;
	height: 28px;
	color: #fff;
	font-weight: bold;
	background-color: transparent;
	background-position: left;
	background-repeat: no-repeat;
	line-height: 28px;
	z-index:2;
	position: relative;
	padding: 0 5px 0 10px;
	/*font-size: 11px;	*/
	margin-top: -28px;
	vertical-align:bottom;
}
.s4-lp
{
text-align:left; 
background-color:white;
width:950px;	
}
.s4-app{
margin-top:3px;
visibility:hidden;
}

.s4-status-s1{
background:#c9d7e6 url("../../../../images/bgximg.png")/*tpa=http://www.borgwarner.com/_layouts/images/bgximg.png*/ repeat-x -0px -209px;
color:#3b4652;
border-color:#aaafbe;
width:950px;
visibility:hidden
}

body #pageStatusBar{
display:none;
border-style:solid;
border-width:1px 0px;
padding:4px 5px 5px 10px;
/*font-family:verdana; <--previous*/
font-family: arial,helvetica,clean,sans-serif;
font-size:1em;
width:950px;
visibility:hidden;
}

body #s4-topheader2{
vertical-align:middle;
width:950px;padding:0px;border:5px;
}
/* For nav menu Start*/
.s4-toplinks{
padding:0px;
border:0px #fff solid;
}
.s4-tn-Wraper
{
    background-color:#00309C;
	background-image: url("img/bg-topnavigation-first-active.gif")/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-topnavigation-first-active.gif*/;
	background-repeat:no-repeat;
	background-position:left top;
	padding-left:5px;
	width:95%;
	margin-left:0px;
	vertical-align:baseline;
	border:0px;
}
.s4-tn{
padding:0px;
margin:0px;
background-color:#fff;
border:1px;
width:100%;
}
.s4-tn ul.static{
white-space:nowrap;
}
/* This is the main text for the bar */ 
.s4-tn li.static > .menu-item{
/* [ReplaceColor(themeColor:"Dark2")] */ color:#3b4f65;
white-space:nowrap;
border-right:1px solid silver;
border-top:1px solid silver;
border-bottom:0px solid silver;
padding: 4px 5px 0px 5px;
display:inline-block;
height:20px;
vertical-align:middle;
text-decoration:none;
font-weight:bold;
}
/* This is the hover color for the entire dropdown section D9D9D9 */
.s4-tn ul.dynamic{
 background-color:white;
border-right:1px solid #cecece;
border-top:1px solid #ffffff;
border-bottom:1px solid #cecece;
border-left:1px solid #cecece;
text-decoration:none;
font-weight:bold;
}
/* This is the normal color for the itesm in the dropdown section */
.s4-tn li.dynamic > .menu-item{
z-index:2;
display:inline-block;
white-space:nowrap;
font-weight:normal;
text-decoration:none;
border-right:1px solid #ffffff;
border-top:1px solid #cecece;
border-bottom:1px solid #ffffff;
border-left:1px solid #ffffff;
}
/* This is the hover color for the menu items in the bar silver */
.s4-tn li.dynamic > a:hover{
font-weight:normal;
 background-color:#f1f1f1;
 border:1px solid #00309C;
}
/* This is the hover color for the itesm in the dropdown section */
.s4-tn li.static > a:hover
{
 color:#ffffff;background-color:#3b4f65;
text-decoration:none;
}
.s4-toplinks .s4-tn a.selected{
background-color:#00309C;
color:#ffffff;
margin:0px;
border-bottom:0px solid silver;
background-image:none;
border-left:0px;
text-decoration:none;
font-weight:bold;
border-top:1px solid #00309C;
}
.s4-toplinks .s4-tn a.selected:hover{
 color:#ffffff;
}


/* For nav menu End*/

.ms-bodyareacell{
vertical-align:top;
margin:0px;
padding:0px;
}
#MSO_ContentDiv
{
	width:950px;
	margin-left:0px;
}

#footer-menu
{
	height:15px;text-align:center;background-color:#00309C;vertical-align:bottom;color:white;padding-top:15px;padding-bottom:15px;
}
#footer-bottom
{
	width:960px;
	height:50px;
	text-align:center;background-color:#00309C;vertical-align:bottom;color:#fff;
	background-image: url(img/bg-footer.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-footer.gif*/;
	margin-left:auto;
	margin-right:auto;
}

h4
{
	border-bottom:1px silver solid;
	color:#666666;

}


/* Markup Styles */
H1.ms-rteElement-H1
{
-ms-name:"Heading 1 - Main Title";
/*text-decoration: none; 
color: #003399; 
font-size:150%;
font-weight:bold;
line-height:23px;  <--end original style*/

text-decoration: none; 
color: #082D7E;
font-family: arial,helvetica,clean,sans-serif; 
font-size: 24px;
font-weight: bold;
line-height: 120%; 
}



H2.ms-rteElement-H2
{
-ms-name:"Heading 2 - Main Subtitle";
/*text-decoration: none; 
color: #003399; 
font-size: 18px;
font-weight:bold;
line-height:16px; <--end original style*/

text-decoration: none; 
color: #082D7E;
font-family: arial,helvetica,clean,sans-serif; 
font-size: 17px;
font-weight: bold;
line-height: 140%; 
}

H3.ms-rteElement-H3
{
-ms-name:"Heading 3 - Major Title";
/*color: #999999; 
font-size:23px; 
font-weight:bold;
line-height:23px; <--end original style*/

color: #082D7E;
font: bold 13px/1.231 arial,helvetica,clean,sans-serif;
font-size: 130%;
line-height: 140%;
text-decoration: none;
}

H4.ms-rteElement-H4
{
-ms-name:"Heading 4 - BU Title";
/* color: #666666; 
font-size:18px; 
font-weight:bold;
line-height: 44px; <--end original style*/

border-bottom: 1px solid #CBCCCE;
color: #636466; 
font-size:13px; 

line-height: 140%; 
padding-bottom: 2px;
font: bold 13px/1.231 arial,helvetica,clean,sans-serif;
font-style: normal;
}

H5.ms-rteElement-H5
{
-ms-name:"Heading 5 - Product Subtitle";

font-family: arial,helvetica,clean,sans-serif;
color: #000000; 
font-size:13px; 
font-weight: bold;
line-height: 140%; 

/*text-decoration: none; 
font-size:20px;
line-height:22px;
font-weight:bold;  <--end original style*/
}


H6.ms-rteElement-H6
{
-ms-name:"Separated Links";
/*color: #3366CC; 
font-size:16px; 
font-weight:bold; <-- removing original markup font */ 

font-family: arial,helvetica,clean,sans-serif; 
font-size: 12px;
font-weight: bold;
color: #0f3688;
border-bottom: 1px solid #dadadc;
line-height: 11px;
padding-bottom: 8px; 
margin-top: 8px;
margin-bottom: 0px ; 
margin-left: 15px;

}

H6.ms-rteElement-H6 IMG
{
    border: none;
    position: relative;
    float: left;
    bottom: 5px;
    padding-top: -8px;
}    


/*
H7.ms-rteElement-H7
{
-ms-name:"Heading 7 - Product Subtitle3";
color: #3366CC; 
font-size:14px; 
font-weight:bold;
}  <-- removing original markup font
*/


/*
HR.ms-rteElement-Hr
{
-ms-name:"Horizontal Rule";
text-decoration: none; 
color:#cecece; 
font-weight: normal;
height:1px;
}   <-- removing original markup font
*/


P.ms-rteElement-Default
{
-ms-name:"Default";
/*
color: #cc0000; 
font-weight: bold;  <-- end original style*/

color: #000000;
font: 13px/1.231 arial,helvetica,clean,sans-serif;
}


/*
DIV.ms-rteElement-CalloutText1
{
-ms-name:"Callout Text 1";
color:#94BA39;
font-weight:bold;
font-size:12px;
}

DIV.ms-rteElement-CalloutText2
{
-ms-name:"Callout Text 2";
background-color: #ffffff; 
text-decoration: none; 
font-size: 16px;
line-height: 22px;
color: #888888;
}

DIV.ms-rteElement-CalloutText3
{
-ms-name:"Callout Text 3";
text-decoration: none; 
color: #003399; 
font-size: 12px;
font-weight:bold;
line-height:16px;
}  <-- removing original markup fonts

*/ 

DIV.ms-rteElement-Box1 li
{
-ms-name:"Box 1";
background-color: #003399;
color: #ffffff; 
padding: .5em .5em; 
text-decoration: none; 
border-top:1px solid #cecece;
line-height: 18px
}



/* IFL Styles */
#IFLItem
{
	width: 98%;
	margin-left: auto;
	margin-right: auto;	
	padding: .3em .3em; 
	border-top: 1px solid #cecece;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	border-left: 1px solid #cecece;
	background-color: #F2F3F7;
}


#IFLItem:hover {
   border-top: 1px solid #888888;
	border-right: 1px solid #888888;
	border-bottom: 1px solid #888888;
	border-left: 1px solid #888888;
}

#IFLTitle
{
    font-size:16px;
	 line-height:24px;
    font-family:Arial;
    color:#003399;
    font-weight:bold;
    text-align:center;
}
#IFLImage
{
    width:400px;
    height:250px;
    margin-left:auto;
    margin-right:auto;
}

#IFLCaption
{
    font-size:12px;
    font-style:italic;
    color:#000000;
    text-align:center;
	 margin-bottom:15px;
}
#IFLBody
{
    font-size:14px;
    color:#000000;
    margin:5px;
}


/* Jamar Override to make white bg */

IFRAME * #IFLItem{
	border: 0px;
	background-color: #fff;
}


/*Left Nav Tree View */
#subnavigation {
	width: 190px;
	margin: 0 0 20px;
	padding: 0 0 10px 0;
	background-image: url(img/bg-subnavigation-bottom.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-subnavigation-bottom.gif*/;
	background-position: left bottom;
	background-repeat: no-repeat;
	overflow:hidden;
	font-size:12px;
	font-family:Arial;
    	position:relative;
}

.mlevel1 {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 190px;
	background: none;
	line-height: 120%;
	overflow:hidden;
}
.mlevel2 {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 190px;
	background: none;
	line-height: 100%;
	overflow:hidden;
}
.mlevel3 {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 190px;
	background: none;
	line-height: 100%;
	overflow:hidden;
}
/* subnav level 1 */

.mlevel1 a:link,
.mlevel1 a:visited,
.mlevel1 a:active,
.mlevel1 a:focus,
.mlevel1 a:hover {
	color: #0F3688;
	text-decoration: none;
	display: block;
	padding: 7px 5px 9px 10px;
	font-weight: bold;
	background-image: url(img/bg-subnavigation-1.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-subnavigation-1.gif*/;
	background-position: left bottom;
	background-repeat: no-repeat;
}

.mlevel1 a:hover {
	color: #0F3688;
	text-decoration: none;
	background-image: url(img/bg-subnavigation-1-active.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-subnavigation-1-active.gif*/;
}

.mlevel1-selected {
	color: #0F3688;
	background-image: url(img/bg-subnavigation-1-active.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-subnavigation-1-active.gif*/;
}

/* subnav level 2 */

.mlevel2 a:link,
.mlevel2 a:visited,
.mlevel2 a:active,
.mlevel2 a:focus,
.mlevel2 a:hover {
	color: #0F3688;
	text-decoration: none;
	display: block;
	padding: 7px 5px 9px 25px;
	font-weight: normal;
	background-image: url(img/bg-subnavigation-2.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-subnavigation-2.gif*/;
	background-position: left bottom;
	background-repeat: no-repeat;
}

.mlevel2 a:hover {
	color: #0F3688;
	text-decoration: none;
	background-image: url(img/bg-subnavigation-2-hover.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-subnavigation-2-hover.gif*/;
}

.mlevel2 a.active:link,
.mlevel2 a.active:visited,
.mlevel2 a.active:active,
.mlevel2 a.active:focus,
.mlevel2 a.active:hover {
	color: #0F3688;
	background-image: url(img/bg-subnavigation-2-active.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-subnavigation-2-active.gif*/;
}

/* subnav level 3 */

.mlevel3 a:link,
.mlevel3 a:visited,
.mlevel3 a:active,
.mlevel3 a:focus,
.mlevel3 a:hover {
	color: #0F3688;
	text-decoration: none;
	display: block;
	padding: 7px 5px 9px 40px;
	font-weight: normal;
	background-image: url(img/bg-subnavigation-2.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-subnavigation-2.gif*/;
	background-position: left bottom;
	background-repeat: no-repeat;
}

.mlevel3 a:hover {
	color: #0F3688;
	text-decoration: none;
	background-image: url(img/bg-subnavigation-2-hover.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-subnavigation-2-hover.gif*/;
}

.mlevel3 a.active:link,
.mlevel3 a.active:visited,
.mlevel3 a.active:active,
.mlevel3 a.active:focus,
.mlevel3 a.active:hover {
	color: #0F3688;
	background-image: url(img/bg-subnavigation-3-active.gif)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/bg-subnavigation-3-active.gif*/;
}


/* IFL Archived Styles */
#IFALItem
{
	width: 98%;
	margin-left: auto;
	margin-right: auto;	
	padding: .3em .3em; 
	border-top: 1px solid #cecece;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	border-left: 1px solid #cecece;
	background-color: #F2F3F7;
}
#IFLAItem:hover {
   border-top: 1px solid #888888;
	border-right: 1px solid #888888;
	border-bottom: 1px solid #888888;
	border-left: 1px solid #888888;
}
#IFALItem a:hover
{
    text-decoration:none;
}
#IFLATitle a
{
    font-size:16px;
	 line-height:24px;
    font-family:Arial;
    color:#003399;
    font-weight:bold;
    text-align:left;
    text-decoration:none;
}
#IFLATitle a:hover
{
    text-decoration:none;
}
#IFLAImage
{
    width:400px;
    height:250px;
    margin-left:auto;
    margin-right:auto;
}

#IFLACaption
{
    font-size:12px;
    font-style:italic;
    color:Gray;
    text-align:center;
	margin-bottom:15px;
}
#IFLAPublishedDate
{
    font-size:12px;
    font-style:italic;
    color:Gray;
    text-align:left;
	margin-bottom:15px;
}
#IFLABody
{
    font-size:14px;
    color:#777777;
    margin:5px;
}

/* text link for View Archive Items */
#IFLArchive 
{
    font-size:10px;
    text-align:right;
    margin-top:10px;
	 color: #036fc3;
}
#IFLArchive a
{
    font-size:10px;
    text-align:right;
    margin-top:10px;
	 color: #036fc3;
}
#nav
{
    width:100px;
    margin-left:auto;
    margin-top:10px;
	 line-height: 195%;
	 Margin-right:15px;
}
#nav a
{
    border: 1px solid #ccc;
    background: #F2F3F7;
    text-decoration: none;
    margin: 0 2px;
    padding: 3px 5px;
    color: #000000;
}
#nav a.activeSlide
{
    background: #333399;
    color: #FFFFFF;
}
#nav a:focus { outline: none; }

.ms-WPTitle,.ms-WPTitle a{
/* [ReplaceColor(themeColor:"Hyperlink") 636466] */ 
	color:#636466;
}
a:link{
/* [ReplaceColor(themeColor:"Hyperlink")  #0072BC] */ color:#003399;
text-decoration:none;
}
a:visited{
/* [ReplaceColor(themeColor:"FollowedHyperlink")  #b10069  #939ba1] */ color:#003399;
text-decoration:none;
}
.ms-WPTitle a:link,.ms-WPTitle a:visited
{
text-decoration:none;
color:#003399;
}
.ms-WPBody a:link
{
/* [ReplaceColor(themeColor:"Hyperlink")#0072bc] */ color:#003399;
text-decoration:none;
}
.ms-WPBody a:visited{
/* [ReplaceColor(themeColor:"FollowedHyperlink")#b10069] */ color:#003399;
text-decoration:none;
}


.v4master .s4-breadcrumbNode,.v4master .s4-breadcrumbCurrentNode,.v4master .s4-breadcrumbRootNode {
/* [ReplaceColor(themeColor:"Dark2")original #3b4f65] */ color:#003399;
padding-top:1px;
padding-bottom:1px;
}

.s4-breadcrumbNode > a,.s4-breadcrumbCurrentNode > a,.s4-breadcrumbRootNode > a,span.s4-breadcrumbCurrentNode,span.s4-breadcrumbRootNode{
display:inline-block;
margin-left:2px;

}
/* Current Page/Site */
.v4master .s4-breadcrumbCurrentNode{
	 color:#003399;
}
ul.s4-breadcrumbNode{
margin-left:2px;
}
ul.s4-breadcrumbRootNode{
margin-left:2px;
}
span.s4-breadcrumb{
margin-top:1px;
margin-right:-2px;
}

.s4-breadcrumbNode {
/* [ReplaceColor(themeColor:"Dark2")original #3b4f65] */ color:#003399;
margin-top:1px;
margin-bottom:1px;
}

.ms-pagebreadcrumb 
{
color:#003399;
padding-top:1px;
padding-bottom:2px;
}
a.ms-sitemapdirectional
{
color:#003399;
padding-top:5px;
padding-bottom:2px;
}
.ms-WPBorder,.ms-WPBorderBorderOnly
{
/* [ReplaceColor(themeColor:"Accent3-Medium")] */ border-color:#003399;
border-width:1px;
border-style:solid;
}
.ms-WPTitle
{
font-weight:normal;
/*font-family:Verdana,Tahoma,sans-serif; <--previous*/
font-family: arial,helvetica,clean,sans-serif;
padding-left:0px;
padding-right:4px;
padding-top:10px;
padding-bottom:2px;
font-size:10pt;
color:#444444;
}
.ms-WPTitle a:link,.ms-WPTitle a:visited
{
color:#003399;
text-decoration:none;
}
.s4-wpActive .s4-wpTopTable,.s4-wpActive .ms-WPSelected{
/* [ReplaceColor(themeColor:"Accent1-Medium")] */ border:1px solid #ffffff;
}

.ms-WPHeader{
/* [ReplaceColor(themeColor:"Light1")] */ background-color:#FFFFFF;
color: #444444;
}
.ms-WPHeader td,.ms-fakewptitle{
/* [ReplaceColor(themeColor:"Dark2",themeTint:"0.17")#EBEBEB] */ border-bottom:1px solid #cecece;
border-collapse:collapse;
padding-bottom: 8px;
}
.ms-WPHeader .ms-wpTdSpace{
width:5px;
border-bottom:1px solid transparent;
}
.s4-wpcell:hover .ms-WPHeader .ms-wpTdSpace{
border-bottom:1px solid transparent;
}

.s4-wpcell:hover .ms-WPHeader td,.s4-wpActive .ms-WPHeader td,.s4-wpcell .ms-WPSelected .ms-WPHeader td{
/* [ReplaceColor(themeColor:"Accent1-Medium")#44AFF6] */ border-bottom:1px solid #cecece;
}

/* Dialog box styles */

.ms-dlgBorder
{
/* [ReplaceColor(themeColor:"Accent1")] #0072bc    border:1px solid #ffffff;*/ 
border:1px solid #B5B5B5;
}

.ms-dlgContent
{
/* [ReplaceColor(themeColor:"Accent1")] #0072bc    border:1px solid #ffffff;*/ 
border-right: #B5B5B5; 
border-left: #B5B5B5; 
border-top: #B5B5B5; 
border-bottom: #B5B5B5;
background-color: #B5B5B5;
}

.ms-dlgTitle
{
/* [RecolorImage(themeColor:"Light2",includeRectangle:{x:0,y:51,width:1,height:21})]  background:url("/_layouts/images/bgximg.png") repeat-x -0px -51px; */
/* [ReplaceColor(themeColor:"Dark2",themeShade:"0.90")] #21374c /_layouts/1033/styles/themable/borgwarner/img/DLG-Header.jpg*/  
height:25px;
white-space:nowrap;
cursor:default;
overflow:hidden;
background:url(img/DLG-Header.jpg)/*tpa=http://www.borgwarner.com/_layouts/1033/styles/themable/borgwarner/img/DLG-Header.jpg*/;
background-color:#003399;
border-bottom: #ffffff 1px solid
}
.ms-dlgTitleText
{
/*font-family:Verdana; <--previous*/
font-family: arial,helvetica,clean,sans-serif;
font-size:1.3em;
line-height:1.2;
font-weight:normal;
padding-left:10px;
padding-top:4px;
/* [ReplaceColor(themeColor:"Light1",themeTint:"0.9")] */ color:#000000;
float:left;
overflow:hidden;
text-overflow:ellipsis;
}
.ms-dlgTitleBtns
{
float:right;
padding-top:2px;
padding-right:2px;
}
.ms-dlgFrameContainer
{
overflow:auto;
background-color: transparent;
}
.ms-dlgFrame
{
width:100%;
height:100%;
border:none;
}
.ms-dlgCloseBtn span
{
cursor:pointer;
border:1px solid transparent;
}
.ms-dlgOverlay
{
filter: alpha(opacity=70); /* was 20 */
BACKGROUND-COLOR: #003399; /* was #f1f1f1 */
}
.ms-dlgCloseBtnImg
{
border:0px;
}
.ms-dlgCloseBtn span:hover
{
/* [ReplaceColor(themeColor:"Dark2-Lighter")] #8b929a */ border-color:#000000;
/* [RecolorImage(themeColor:"Dark2-Lightest",method:"Filling",includeRectangle:{x:0,y:489,width:1,height:11})] */ background:url("../../../../images/bgximg.png")/*tpa=http://www.borgwarner.com/_layouts/images/bgximg.png*/ repeat-x -0px -489px;
}
.ms-dlgErrList  
{
list-style-type:none;
margin-left:0px;
}
.ms-dlgErrItem
{
display:inline;
padding-right:10px;
}
.ms-dlgLoadingText
{
text-align:left;
font-size:1em;
padding-left:5px;
width:100%;
/* [ReplaceColor(V4_THEMING_COLOR_DAR2)] */ color:#3b4f65;
}


/* for Product Search page */
#searchResultItem
{
     float:left;
}
.srch-picture-product
{
    float:left;
height:128px;
width:128px;
margin-right:10px;
text-align:center;
vertical-align:middle;
}

.s4-wpcell .ms-WPTitle,.s4-wpActive .ms-WPTitle{
cursor:text;
}

.additional-background { /* adjust menu titles */
	margin-TOP:0;
}


/* POSITIONING BLUE TOP NAV */
#topSubWraper {
	WIDTH: 962px;
}
#blueSeperator {
	WIDTH: 962px;
}

/* positioning top BW logo */
.s4-titlelogo img{
	padding-right: 30px;
}

/* spacing in the LanguageSection */

/*
#corporatelink {
	MARGIN-LEFT: -5px
}
#corporate-separator {
	MARGIN-LEFT: -2px
} 
*/

/* quicklinks and arrow bullets */
#WebPartWPQ3 P IMG {
	VERTICAL-ALIGN: middle
}
#WebPartWPQ3 {
	PADDING-TOP: 0px
}
.ms-WPHeader TD {
	PADDING-BOTTOM: 0px
}

/* remove ie horizontal scrollbar */
#topWraper {
    width:auto;
    
}
#topSubWraper 
{
    padding-right: 0px;
    padding-left: 2px;

}

/* remove ie horizontal scrollbar */
.srch-Page
{
	padding-bottom :3em; 
}



/*Added by Jamar on 11/9/2010 to stop some TDs from aligning in the middle */
td {
vertical-align:top;
}

