html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display: block; }
ol,ul										{ list-style: none; }
blockquote,q								{ quotes: none; }
blockquote:before,blockquote:after,q:before,q:after { content: none; }
table										{ border-collapse: collapse; border-spacing: 0; }

/*
@font-face 									{ font-family: 'OpenSansRegular'; src: url('/inc/fnt/OpenSans-Regular-webfont.eot'); src: url('/inc/fnt/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/inc/fnt/OpenSans-Regular-webfont.woff') format('woff'), url('/inc/fnt/OpenSans-Regular-webfont.ttf') format('truetype'), url('/inc/fnt/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg'); font-weight: normal; font-style: normal; }
@font-face 									{ font-family: 'OpenSansBold'; src: url('/inc/fnt/OpenSans-Bold-webfont.eot'); src: url('/inc/fnt/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/inc/fnt/OpenSans-Bold-webfont.woff') format('woff'), url('/inc/fnt/OpenSans-Bold-webfont.ttf') format('truetype'), url('/inc/fnt/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg'); font-weight: normal; font-style: normal; }
*/

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section		{ display: block; }
audio[controls], canvas, video 				{ display: inline-block; *display: inline; *zoom: 1; }

html, body									{ -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; width: 100%; height: 100%; }
body										{ background: #182a1e url("../../img/bg.png")/*tpa=http://www.nucor.com/img/bg.png*/; color: #3a3a3a; font: 400 100% "franklin-gothic-urw", Arial, Verdana, sans-serif; line-height: 1; -moz-font-feature-settings:"pnum" 1, "kern" 1; -moz-font-feature-settings:"pnum=1, kern=1"; -ms-font-feature-settings:"pnum" 1, "kern" 1; -o-font-feature-settings:"pnum" 1, "kern" 1; -webkit-font-feature-settings:"pnum" 1, "kern" 1; font-feature-settings:"pnum" 1, "kern" 1; }

html.wf-loading div.datetime-ticker, html.wf-loading header, html.wf-loading div.content, html.wf-loading footer, html.wf-loading div.copyright { display: none; }

img											{ display: block; border: 0; }

a											{ text-decoration: none; font-weight: 700; color: #878372; /*#35b55c*/ }
a:hover										{ text-decoration: underline; }

sup, sub									{ height: 0; line-height: 1; vertical-align: baseline; _vertical-align: bottom; position: relative; font-size: .75em; }
sup											{ bottom: 1ex; }
sub											{ top: .5ex; }

/*p											{ margin: 0; padding: 0 2.1875em 0.9375em; font-size: 0.6875em; line-height: 0.9375em; }*/
p											{ margin: 0; padding: 0 0 0.9375em; font-size: 0.6875em; line-height: 0.9375em; }

h1											{ font: bold 1.25em/1.875em Times, "Times New Roman", serif; margin-bottom: 0.9375em; }
h2											{ font: 400 0.9375em/0.9375em "franklin-gothic-urw", sans-serif; margin-bottom: 0.9375em; }
h3											{ font: 700 0.6875em/0.9375em "franklin-gothic-urw", sans-serif; }

::-webkit-input-placeholder 				{ color: #666; font-size: 12px; }
:-moz-placeholder 							{ color: #666; font-size: 12px; }
::-moz-placeholder 							{ color: #666; font-size: 12px; }
:-ms-input-placeholder		 				{ color: #666; font-size: 12px; }
::input-placeholder							{ color: #666; font-size: 12px; }

.center										{ text-align: center; margin-right: auto; margin-left: auto; }
.no-clear									{ clear: none !important; }
.clear										{ clear: both; }

div.datetime-ticker							{ width: 800px;	margin: 0.3125em auto 0; font-size: 0.6875em; line-height: 1.625em; height: 1.5em; }
div.datetime, .datetime-ticker aside		{ float: left; text-align: left; color: #687e6f; letter-spacing: 0.1em; }
div.ticker, .datetime-ticker section		{ float: right;	position: relative; width: 506px; height: 16px; font-size: 1em; color: #1b6233; text-transform: uppercase; overflow: hidden; }
.ticker div, .datetime-ticker section div	{ position: absolute; left: 6em; }
.ticker a, .datetime-ticker section a		{ font-weight: 500; text-decoration: none; color: #687e6f; text-transform: none; }
.ticker a:hover, .datetime-ticker section a:hover { color: #fff; }
.ticker div.h1, .datetime-ticker section div.h1 { position: absolute; top: 0; }
.ticker div.h2,	.datetime-ticker section div.h2	{ position: absolute; top: 20px; }

header										{ width: 834px; height: 92px; margin: 0 auto; background: url("../../img/bg-head.png")/*tpa=http://www.nucor.com/img/bg-head.png*/ no-repeat; position: relative; }

div.wrapper									{ width: 834px;	margin: 0 auto; background: url("../../img/bg-body.png")/*tpa=http://www.nucor.com/img/bg-body.png*/ repeat-y; clear: both; position: relative; }
div.main									{ width: 804px; margin: 0 auto; background: #b0ab97; }

div.content									{ width: 804px; padding: 0; position: relative; overflow: hidden; }
.home div.content							{ padding: 0; }

header ul.links								{ color: #000; font-size: 0.675em; line-height: 1em; font-family: "franklin-gothic-urw"; font-weight: 500; position: absolute; left: 34px; top: 21px; }
ul.links li									{ float: left; padding-right: 0.5em; }
header .links a								{ text-transform: uppercase; color: #000; margin-right: 0.5em; font-weight: inherit; }
header .links a:hover						{ color: #fff; text-decoration: none; }

header div.search							{ position: absolute; right: 10px; top: 13px; width: 200px; }
header .search span							{ position: relative; }
header .search input[type=text]				{ font: 100 normal 13px/13px "franklin-gothic-urw"; color: #000; padding: 2px 20px 2px 10px; width: 150px; border: 0; background: rgba(255,255,255,.3) url(../../img/icon-search.png)/*tpa=http://www.nucor.com/img/icon-search.png*/ no-repeat 160px 3px; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; outline: none; }
header .search input[type=submit]			{ width: 20px; height: 20px; border: none; position: absolute; top: 1px; right: 4px; background: transparent; overflow: hidden; text-indent: 200%; white-space: nowrap; cursor: pointer; opacity: 0; filter:"alpha(opacity=0)"; -ms-filter:"alpha(opacity=0)"; }

.lt-ie9 header .search span					{ z-index: 1; }
.lt-ie9 header .search input[type=text]		{ padding: 4px 20px 0 10px; background: url(../../img/icon-search-ie.png)/*tpa=http://www.nucor.com/img/icon-search-ie.png*/ no-repeat 100% 50%; }
.lt-ie9 header .search input[type=submit]	{ z-index: 10; top: -3px; right: 2px; background: #000; opacity: 0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); }

header nav									{ width: 804px; height: 46px; position: absolute; top: 41px; left: 14px; }
header nav ul li							{ float: left; }
header nav a								{ display: block; height: 46px; background-position: 0 0; background-repeat: no-repeat; text-indent: -9999px; font-size: 1px; /* fixes a weird rendering bug in IE */ }
header nav a:hover, header nav a.on			{ background-position: 0 -46px; }
header nav a.on								{ cursor: default; }

.hm a										{ width: 140px; background-image: url("../../img/nav-hm.jpg")/*tpa=http://www.nucor.com/img/nav-hm.jpg*/; }
.os a										{ width: 58px; background-image: url("../../img/nav-os.jpg")/*tpa=http://www.nucor.com/img/nav-os.jpg*/; }
.or a										{ width: 111px; background-image: url("../../img/nav-or.jpg")/*tpa=http://www.nucor.com/img/nav-or.jpg*/; }
.ir a										{ width: 86px; background-image: url("../../img/nav-ir.jpg")/*tpa=http://www.nucor.com/img/nav-ir.jpg*/; }
.gv a										{ width: 100px; background-image: url("../../img/nav-gv.jpg")/*tpa=http://www.nucor.com/img/nav-gv.jpg*/; }
.pl a										{ width: 93px; background-image: url("../../img/nav-pl.jpg")/*tpa=http://www.nucor.com/img/nav-pl.jpg*/; }
.cc a										{ width: 110px; background-image: url("../../img/nav-cc.jpg")/*tpa=http://www.nucor.com/img/nav-cc.jpg*/; }
.vi a										{ width: 106px; background-image: url("../../img/nav-vi.jpg")/*tpa=http://www.nucor.com/img/nav-vi.jpg*/; }

footer										{ width: 834px; height: 50px; margin: 0 auto; background: url("../../img/bg-foot.png")/*tpa=http://www.nucor.com/img/bg-foot.png*/ no-repeat; clear: both; position: relative; }
footer p									{ position: absolute; left: 30px; top: 11px; color: #000; font-size: 0.6875em; font-family: "franklin-gothic-urw"; font-weight: 500; text-transform: uppercase; }
footer ul.menu								{ position: absolute; left: 120px; top: 11px; }
footer .menu li								{ float: left; font-size: 0.6875em; font-family: "franklin-gothic-urw"; font-weight: 700; text-transform: uppercase; display: inline-block; padding-left: 40px; }
footer .menu li a							{ color: #000; font-weight: inherit; }
footer .menu li a:hover						{ color: #fff; text-decoration: none; }

footer div.panel-wrapper					{ width: 203px; position: absolute; top: 0; height: 0; overflow: hidden; z-index: 99999; }
footer div.w1								{ left: 120px; }
footer div.w2								{ left: 265px; }
footer div.w3								{ left: 400px; }
footer div.w4								{ left: 525px; }
footer div.panel							{ width: 203px; position: relative; background: url("../../img/bg-foot-popup.png")/*tpa=http://www.nucor.com/img/bg-foot-popup.png*/ no-repeat; padding-bottom: 20px; }
.panel div									{ position: absolute; top: 14px; right: 18px; color: #000; font-size: 0.6875em; }
.panel div a								{ font-weight: 700; font-size: 1em; font-family: "franklin-gothic-urw"; color: #000; text-transform: uppercase; text-decoration: none; }
.panel div a:hover							{ color: #fff; }
.panel h4									{ font-weight: 700; font-size: 0.6875em; font-family: "franklin-gothic-urw"; color: #000; text-transform: uppercase; padding-left: 20px; padding-top: 14px; }
.panel h3									{ position: relative; font-size: 0.6875em; font-family: "franklin-gothic-urw"; font-weight: 700; color: #fff; text-transform: uppercase; background: url("../../img/bg-foot-links-h3.gif")/*tpa=http://www.nucor.com/img/bg-foot-links-h3.gif*/ no-repeat 0 100%; margin: 7px 0 6px 10px; padding-left: 10px; line-height: 24px; padding-bottom: 6px; }
.panel h3 a									{ font-weight: 500; color: #fff; text-decoration: none; }
.panel h3 a:hover							{ color: #ccc; }
.panel ul									{ padding-left: 20px; list-style-type: none; font-size: 0.6875em; line-height: 1.3em; color: #878372; }
.panel ul a									{ font-weight: 500 !important; }
.panel ul a:hover							{ text-decoration: none; color: #fff; }
.panel ul li								{ text-transform: uppercase; }
.panel ul li ul								{ padding-left: 10px; font-size: 1em; }
.panel ul li ul li							{ text-transform: none; }

div.tagline									{ width: 142px; height: 50px; margin: 0 auto; text-indent: 100%; white-space: nowrap; overflow: hidden; background: url(../../img/logo-itsinournature.png)/*tpa=http://www.nucor.com/img/logo-itsinournature.png*/ no-repeat 50% 50%; }

div.copyright								{ width: 834px; margin: 0 auto; text-align: center; color: #687e6f; letter-spacing: 0.1em; font-size: 0.6875em; position: relative; }
.copyright ul								{ position: absolute; left: 245px; line-height: 1em; }
.copyright ul li							{ float: left; padding: 0 0 0 0.5em; }
.copyright a								{ color: #687e6f; font-weight: 500; margin-right: 0.5em; }
.copyright a:hover							{ color: #7e9f81; text-decoration: none; }

object, embed								{ display: block; }
.flash p									{ text-align: center; text-transform: uppercase; margin: 0; padding: 1.125em 0; }
noscript									{ text-align: center; }
.flash img									{ width: 100%; }


.content nav.sub							{ height: 40px; width: 100%; background-color: #9f9b8c; background-color: rgba(159,155,140,.8); position: relative; margin: 0; z-index: 99999; top: -40px; font-family: "franklin-gothic-urw-cond", sans-serif; font-weight: 700; font-size: 12px; line-height: 2; color: #9f9b8c; text-transform: uppercase; letter-spacing: normal; }
.content nav.fixed							{ position: fixed; top: 0; width: 804px; }
.content nav.sub ul							{ -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .2); -moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .2); -o-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .2); -ms-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .2); box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .2); }
.content nav.sub ul li						{ float: left; height: 40px; }
.content nav.sub ul li a					{ display: block; height: 32px; padding: 8px 0 0; text-align: center; font-weight: 500; line-height: 10px; color: #fff; text-decoration: none; cursor: pointer; letter-spacing: 0.1em; }
.content nav.sub ul li:hover a				{ color: #000; }
.content nav.sub ul li.on					{ background: url("../../img/subnav-highlight.png")/*tpa=http://www.nucor.com/img/subnav-highlight.png*/ no-repeat 50% 0; }
.content nav.sub ul li.on a					{ cursor: default; color: #000; }
.content nav.sub ul li a span				{ display: block; font-weight: 700; line-height: 12px; }

.content nav.sub ul li ul					{ position: absolute; left: 0; top: 40px; width: 100%; background-color: #ccc7b6; background-color: rgba(204,199,182,.9); display: none; }
.content nav.sub ul li ul li				{ height: 27px; display: inline-block; padding-top: 3px; text-align: center; position: relative; font-weight: 500; line-height: 2; }
.content nav.sub ul li:hover ul li a		{ color: #817e72; display: inline-block; height: 20px; }
.content nav.sub ul li:hover ul li a:hover	{ color: #000; }
.content nav.sub ul li.on ul li a			{ cursor: pointer; }
.content nav.sub ul li ul li.on a			{ color: #000; cursor: default; }
.content nav.sub ul li ul li a.external		{ padding-right: 16px; background: url("../../img/icon-link-external.gif")/*tpa=http://www.nucor.com/img/icon-link-external.gif*/ no-repeat 100% 6px; }
.content nav.sub ul li.more	a:after			{ content: '\00A0\00A0\25BC'; color: #fff; font-size: 8px; position: relative; top: -.2em; right: 0; }
.content nav.sub ul li.more:hover a:after, .content nav.sub ul li.more a:hover, .content nav.sub ul li.more:hover a:hover:after, .content nav.sub ul li.on a:after { color: #000 !important; }
.content nav.sub ul li.more	ul li a:after	{ content: ''; font-size: 10px; top: 0; }

.content nav.sub ul li ul li ul				{ position: absolute; left: 0; top: 100%; min-width: 100%; background-color: #eae5d3; background-color: rgba(234,229,211,.95); display: none; }
.content nav.sub ul li ul li ul li			{ height: auto; display: block; min-width: 100%; text-align: center; border-bottom: 1px #ccc7b6 solid; float: none; clear: left; }
.content nav.sub ul li ul li ul li:last-child { border-bottom: none; }
.content nav.sub ul li ul li:hover ul li a	{ color: #817e72; cursor: pointer; }
.content nav.sub ul li ul li:hover ul li a:hover { color: #000; }
.content nav.sub ul li ul li ul li a		{ display: block; width: 100%; height: 20px; letter-spacing: normal; }
.content nav.sub ul li ul li ul li a.external { padding-right: 0; background-position: 98% 6px; }
.content nav.sub ul li.ore ul li.more a:after { content: '\00A0\00A0\25BC'; color: #817e72 !important; font-size: 8px; position: relative; top: -.2em; right: 0; }
.content nav.sub ul li ul li.more:hover a:after, .content nav.sub ul li ul li.more a:hover:after { color: #000 !important; }
.content nav.sub ul li ul li.more ul li a:after	{ content: ''; font-size: 10px; top: 0; }







.clearfix:before, .clearfix:after 			{ content: ""; display: table; }
.clearfix:after 							{ clear: both; }
.clearfix 									{ zoom: 1; }


/* ==========================================================================
   CUSTOM SCROLLBAR
   ========================================================================== */

/* vertical scrollbar */
.mCSB_container{ width:auto; /*margin-right:30px;*/ overflow:hidden; }
.mCSB_container.mCS_no_scrollbar		{ margin-right:0; }
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{ margin-right:30px; }
.mCustomScrollBox>.mCSB_scrollTools		{ width: 16px; top: 0; bottom: 0; right: 6px; }
.mCSB_scrollTools .mCSB_draggerContainer{ position:absolute; top:0; left:0; bottom:0; right:0; height:auto; }
.mCSB_scrollTools a+.mCSB_draggerContainer{ margin: 12px 0; }
.mCSB_scrollTools .mCSB_draggerRail		{ width: 2px; height:100%; margin:0 auto; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; }
.mCSB_scrollTools .mCSB_dragger			{ cursor:pointer; width:100%; height:30px; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ width:4px; height:100%; margin:0 auto; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; text-align:center; }
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown		{ display: block; position: absolute; top: 0; left: 3px; height: 12px; width: 9px; overflow: hidden; margin: 0 auto; cursor: pointer; background: #444; /* rgba fallback */ background: rgba(160,160,160,.6); }
.mCSB_scrollTools .mCSB_buttonDown		{ top: auto; bottom: 0; }

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox>.mCSB_scrollTools		{ opacity:0.75; filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */ }
.mCustomScrollBox:hover>.mCSB_scrollTools{ opacity:1; filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; /* old ie */ }
.mCSB_scrollTools .mCSB_draggerRail		{ background:#000; /* rgba fallback */ background:rgba(0,0,0,1); filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; /* old ie */ }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background:#fff; /* rgba fallback */	background:rgba(255,255,255,0.75); filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */ }
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background:rgba(255,255,255,0.85); filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */ }
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background:rgba(255,255,255,0.9); filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */ }
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight		{ background-image:url(../../img/mCSB_buttons.png)/*tpa=http://www.nucor.com/img/mCSB_buttons.png*/; background-repeat:no-repeat; opacity:0.6; filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */ }
.mCSB_scrollTools .mCSB_buttonUp		{ background-position:0 0; /* sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) */ }
.mCSB_scrollTools .mCSB_buttonDown		{ background-position:0 -20px; /* sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) */ }
.mCSB_scrollTools .mCSB_buttonLeft		{ background-position:0 -40px; /* sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) */ }
.mCSB_scrollTools .mCSB_buttonRight		{ background-position:0 -56px; /* sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) */ }
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{ opacity:0.75; filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */ }
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{ opacity:0.9; filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */ }

.mCS-light-thick>.mCSB_scrollTools .mCSB_draggerRail{ width: 9px; background: #3d3d3d; /* rgba fallback */ background: rgba(100,100,100,.6); -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ width: 5px; background: #ccc; /* rgba fallback */ background: rgba(255,255,255,0.66); -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{ width:100%; height:4px; margin:6px 0; }
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ width:100%; height:6px; margin:5px auto; }
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background:rgba(255,255,255,0.85); }
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-light-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background:rgba(255,255,255,0.9); }
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonUp{ background-position:-19px -4px; }
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonDown{ background-position:-19px -24px; }



/* ==========================================================================
   SPECIAL PRODUCT LINK PAGE - may live anywhere, so styles go here
   ========================================================================== */
   
/*
.links_home div.product-links						{ min-height: 745px; background: url(/img/bg-products-links.jpg) no-repeat; text-align: center; position: relative; }
.links_home .product-links h1						{ font: 400 32px/1 "franklin-gothic-urw-cond", Arial, Verdana, sans-serif; margin: 0; text-transform: uppercase; color: #00a75f; position: absolute; top:20px; left:30px; }
.links_home .product-links div.links				{ background: #fff url(/img/bg-metal-grate.jpg) no-repeat; background-position: right top; display: block; position: absolute; top: 532px; padding: 50px 0 30px; text-align: left; width: 100%; }
.links_home .product-links ul						{ font: 400 17px/1 "franklin-gothic-urw-cond", Arial, Verdana, sans-serif; text-transform: uppercase; width: 28%; min-height: 150px; float: left; padding-left: 30px; padding-top: 20px; }
.links_home .product-links ul.one			        { width:17%; }
.links_home .product-links ul:last-child			{ width:33%; padding-left: 20px; }
.links_home .product-links li						{ margin-bottom: .5em; }
.links_home .product-links li a						{ color: #040707; font-weight: normal; }
.links_home .product-links li a:hover				{ color: #00a75f; text-decoration: none; }  
*/ 
   
   

/*
div.product-links						{ height: 421px; background: url(/img/bg-products-links.jpg) no-repeat; text-align: center; position: relative; }
.product-links h1						{ font: 400 80px/1 "franklin-gothic-urw-cond", Arial, Verdana, sans-serif; margin: 0; text-transform: uppercase; color: #fff; text-align: center; display: inline-block; padding: 0 2px 10px; margin: 50px auto 0; border-bottom: 4px #fff solid; }
.product-links div.links				{ background: rgba(255,255,255,.8); display: block; position: absolute; bottom: 0; padding: 30px 40px; text-align: left; width: 100%; }
.product-links ul						{ font: 400 17px/1 "franklin-gothic-urw-cond", Arial, Verdana, sans-serif; text-transform: uppercase; width: 32%; min-height: 150px; float: left; border-right: 1px #b4b7bc solid; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 30px; }
.product-links ul:first-child			{ padding-left: 0; }
.product-links ul:last-child			{ border: none; padding-right: 10px; }
.product-links li						{ margin-bottom: .5em; }
.product-links li a						{ color: #5d5d5d; font-weight: normal; }
.product-links li a:hover				{ color: #007b3d; text-decoration: none; }
*/