/* Share Basket */
#block-sharebasket-sharebasket-block{
  padding-top:30px;
}

.block-sharebasket p {
  font-size: 0.75em;
  color:#636363;
  line-height: 23px;
  margin:0;
}
.block-sharebasket p strong {
  color: black;
}
.block-sharebasket a.viewReport,
.block-sharebasket a.addToReport {
  float:left;
  background: #f6090a;
  color: white;
  font-size: 0.688em;
  padding: 4px 10px;
  margin-right: 7px;
  font-weight: bold;
}

/* Share Basket */
body.page-sharebasket{
  background:none !important;
  overflow:auto;
}

body.page-sharebasket div#header{
  margin:2% 0;
}

/* Table Settings */
table.sharebasket-list,
table.sharebasket-list tr th{
  border:0;
}

table.sharebasket-list{
  border:1px solid #999;
  width:90%;
  font-size:0.75em;
}

table.sharebasket-list thead{
  border:1px solid #999;
}

table.sharebasket-list tr th,
table.sharebasket-list tr td{
  padding:5px;
  border-left:1px solid #999;
}

table.sharebasket-list tr.odd{
  background:#eee;
  border-bottom:1px solid #999;
}
table.sharebasket-list tr.even{
  background:#ccc;
  border-bottom:1px solid #999;
}

table.sharebasket-list td.url a{
  white-space:pre-wrap !important;
  word-break:break-all !important;
}

form#sharebasket-view-form,
form#sharebasket-thank-you-form{
  margin:0 5%;
  padding-bottom:10%;
}

form#sharebasket-thank-you-form #body p{
  color: #0E8BA6;
  font: bold 1em Arial;
  margin: 10px 0;
}

form#sharebasket-view-form div.error{
  background:none;
  color:#ff0000;
}

form#sharebasket-view-form .form-item input{
  width:90%;
}

form#sharebasket-view-form .form-submit,
form#sharebasket-thank-you-form .form-submit{
  background:#f6090a;
  clear: both;
  color:#fff;
  display: block;
  font-weight: normal;
  margin: 0 0 20px;
  padding: 3px 10px 3px 7px;
  text-decoration: none;
  width: auto;  
}

form#sharebasket-view-form div#pages-list{
  margin-bottom:20px;
}

form#sharebasket-view-form .remove a{
  background:url('../images/icn_error.png') no-repeat center center;
  text-indent:-1000em;
  overflow:hidden;  
  float:left;
  width:25px;
  height:22px;
}