
/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	padding:15px;
	width:auto;
	min-height:200px;
	border:1px solid #666;		
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(Unknown_83_filename)/*tpa=http://www.hdsupply.com/images/close.png*/;
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}
