/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body { position: static !important; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
.vzr { font-family: arial, sans-serif; margin: 0px auto; background: #fff; font-size: 87.5%; line-height: 1.2em; color: #333; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; min-width: 320px; }
.vzr .wrap:after { content: "."; display: block; clear: both; visibility: hidden; height: 0; }
.vzr html[xmlns] .wrap { display: block; }
.vzr * html .wrap { height: 1%; }
/******************** APEX FONTS ********************/

/* Apex Fonts */
@font-face {
  font-family: 'Apex-Light';
  src: url("../../../../../resources/fonts/VerizonApex-Light.eot")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-Light.eot*/;
  src: url("../../../../../resources/fonts/VerizonApex-Light.eot-#iefix")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-Light.eot?#iefix*/ format("embedded-opentype"), url("../../../../../resources/fonts/VerizonApex-Light.woff")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-Light.woff*/ format("woff"), url("../../../../../resources/fonts/VerizonApex-Light.ttf")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-Light.ttf*/ format("truetype"), url("../../../../../resources/fonts/VerizonApex-Light.svg#Apex-Light")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-Light.svg#Apex-Light*/ format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-Light-Italic';
  src: url("../../../../../resources/fonts/VerizonApex-LightItalic.eot")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-LightItalic.eot*/;
  src: url("../../../../../resources/fonts/VerizonApex-LightItalic.eot-#iefix")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-LightItalic.eot?#iefix*/ format("embedded-opentype"), url("../../../../../resources/fonts/VerizonApex-LightItalic.woff")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-LightItalic.woff*/ format("woff"), url("../../../../../resources/fonts/VerizonApex-LightItalic.ttf")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-LightItalic.ttf*/ format("truetype"), url("../../../../../resources/fonts/VerizonApex-LightItalic.svg#Apex-Light-Italic")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-LightItalic.svg#Apex-Light-Italic*/ format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Apex-Book';
  src: url("../../../../../resources/fonts/apex-book-webfont.eot")/*tpa=http://www.verizon.com/resources/fonts/apex-book-webfont.eot*/;
  src: url("../../../../../resources/fonts/apex-book-webfont.eot-#iefix")/*tpa=http://www.verizon.com/resources/fonts/apex-book-webfont.eot?#iefix*/ format("embedded-opentype"), url("../../../../../resources/fonts/apex-book-webfont.woff")/*tpa=http://www.verizon.com/resources/fonts/apex-book-webfont.woff*/ format("woff"), url("../../../../../resources/fonts/apex-book-webfont.ttf")/*tpa=http://www.verizon.com/resources/fonts/apex-book-webfont.ttf*/ format("truetype"), url("../../../../../resources/fonts/apex-book-webfont.svg#Apex-Book")/*tpa=http://www.verizon.com/resources/fonts/apex-book-webfont.svg#Apex-Book*/ format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-Book-Italic';
  src: url("../../../../../resources/fonts/VerizonApex-BookItalic.eot")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-BookItalic.eot*/;
  src: url("../../../../../resources/fonts/VerizonApex-BookItalic.eot-#iefix")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-BookItalic.eot?#iefix*/ format("embedded-opentype"), url("../../../../../resources/fonts/VerizonApex-BookItalic.woff")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-BookItalic.woff*/ format("woff"), url("../../../../../resources/fonts/VerizonApex-BookItalic.ttf")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-BookItalic.ttf*/ format("truetype"), url("../../../../../resources/fonts/VerizonApex-BookItalic.svg#Apex-Book-Italic")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-BookItalic.svg#Apex-Book-Italic*/ format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Apex-Medium';
  src: url("../../../../../resources/fonts/apex-medium-webfont.eot")/*tpa=http://www.verizon.com/resources/fonts/apex-medium-webfont.eot*/;
  src: url("../../../../../resources/fonts/apex-medium-webfont.eot-#iefix")/*tpa=http://www.verizon.com/resources/fonts/apex-medium-webfont.eot?#iefix*/ format("embedded-opentype"), url("../../../../../resources/fonts/apex-medium-webfont.woff")/*tpa=http://www.verizon.com/resources/fonts/apex-medium-webfont.woff*/ format("woff"), url("../../../../../resources/fonts/apex-medium-webfont.ttf")/*tpa=http://www.verizon.com/resources/fonts/apex-medium-webfont.ttf*/ format("truetype"), url("../../../../../resources/fonts/apex-medium-webfont.svg#Apex-Medium")/*tpa=http://www.verizon.com/resources/fonts/apex-medium-webfont.svg#Apex-Medium*/ format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-Medium-Italic';
  src: url("../../../../../resources/fonts/VerizonApex-MediumItalic.eot")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-MediumItalic.eot*/;
  src: url("../../../../../resources/fonts/VerizonApex-MediumItalic.eot-#iefix")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-MediumItalic.eot?#iefix*/ format("embedded-opentype"), url("../../../../../resources/fonts/VerizonApex-MediumItalic.woff")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-MediumItalic.woff*/ format("woff"), url("../../../../../resources/fonts/VerizonApex-MediumItalic.ttf")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-MediumItalic.ttf*/ format("truetype"), url("../../../../../resources/fonts/VerizonApex-MediumItalic.svg#Apex-Medium-Italic")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-MediumItalic.svg#Apex-Medium-Italic*/ format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Apex-Bold';
  src: url("../../../../../resources/fonts/apex-bold-webfont.eot")/*tpa=http://www.verizon.com/resources/fonts/apex-bold-webfont.eot*/;
  src: url("../../../../../resources/fonts/apex-bold-webfont.eot-#iefix")/*tpa=http://www.verizon.com/resources/fonts/apex-bold-webfont.eot?#iefix*/ format("embedded-opentype"), url("../../../../../resources/fonts/apex-bold-webfont.woff")/*tpa=http://www.verizon.com/resources/fonts/apex-bold-webfont.woff*/ format("woff"), url("../../../../../resources/fonts/apex-bold-webfont.ttf")/*tpa=http://www.verizon.com/resources/fonts/apex-bold-webfont.ttf*/ format("truetype"), url("../../../../../resources/fonts/apex-bold-webfont.svg#Apex-Bold")/*tpa=http://www.verizon.com/resources/fonts/apex-bold-webfont.svg#Apex-Bold*/ format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-Bold-Italic';
  src: url("../../../../../resources/fonts/VerizonApex-BoldItalic.eot")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-BoldItalic.eot*/;
  src: url("../../../../../resources/fonts/VerizonApex-BoldItalic.eot-#iefix")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-BoldItalic.eot?#iefix*/ format("embedded-opentype"), url("../../../../../resources/fonts/VerizonApex-BoldItalic.woff")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-BoldItalic.woff*/ format("woff"), url("../../../../../resources/fonts/VerizonApex-BoldItalic.ttf")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-BoldItalic.ttf*/ format("truetype"), url("../../../../../resources/fonts/VerizonApex-BoldItalic.svg#Apex-Bold-Italic")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-BoldItalic.svg#Apex-Bold-Italic*/ format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Apex-ExtraBold';
  src: url("../../../../../resources/fonts/VerizonApex-Extrabold.eot")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-Extrabold.eot*/;
  src: url("../../../../../resources/fonts/VerizonApex-Extrabold.eot-#iefix")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-Extrabold.eot?#iefix*/ format("embedded-opentype"), url("../../../../../resources/fonts/VerizonApex-Extrabold.woff")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-Extrabold.woff*/ format("woff"), url("../../../../../resources/fonts/VerizonApex-Extrabold.ttf")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-Extrabold.ttf*/ format("truetype"), url("../../../../../resources/fonts/VerizonApex-Extrabold.svg#Apex-ExtraBold")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-Extrabold.svg#Apex-ExtraBold*/ format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-ExtraBold-Italic';
  src: url("../../../../../resources/fonts/VerizonApex-ExtraboldItalic.eot")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-ExtraboldItalic.eot*/;
  src: url("../../../../../resources/fonts/VerizonApex-ExtraboldItalic.eot-#iefix")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-ExtraboldItalic.eot?#iefix*/ format("embedded-opentype"), url("../../../../../resources/fonts/VerizonApex-ExtraboldItalic.woff")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-ExtraboldItalic.woff*/ format("woff"), url("../../../../../resources/fonts/VerizonApex-ExtraboldItalic.ttf")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-ExtraboldItalic.ttf*/ format("truetype"), url("../../../../../resources/fonts/VerizonApex-ExtraboldItalic.svg#Apex-ExtraBold-Italic")/*tpa=http://www.verizon.com/resources/fonts/VerizonApex-ExtraboldItalic.svg#Apex-ExtraBold-Italic*/ format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'vzicons';
  src: url("../../../../../resources/fonts/vzicons.eot")/*tpa=http://www.verizon.com/resources/fonts/vzicons.eot*/;
  src: url("../../../../../resources/fonts/vzicons.eot-#iefix")/*tpa=http://www.verizon.com/resources/fonts/vzicons.eot?#iefix*/ format("embedded-opentype"), url("../../../../../resources/fonts/vzicons.woff")/*tpa=http://www.verizon.com/resources/fonts/vzicons.woff*/ format("woff"), url("../../../../../resources/fonts/vzicons.ttf")/*tpa=http://www.verizon.com/resources/fonts/vzicons.ttf*/ format("truetype"), url("../../../../../resources/fonts/vzicons.svg#Apex-ExtraBold-Italic")/*tpa=http://www.verizon.com/resources/fonts/vzicons.svg#Apex-ExtraBold-Italic*/ format("svg");
  font-weight: normal;
  font-style: normal;
}

.vzr .apex_light { font-family: Apex-Light, sans-serif !important; }
.vzr .apex_light_italic { font-family: Apex-Light-Italic, sans-serif !important; }
.vzr .apex_book { font-family: Apex-Book, sans-serif !important; }
.vzr .apex_book_italic { font-family: Apex-Book-Italic, sans-serif !important; }
.vzr .apex_med { font-family: Apex-Medium, sans-serif !important; }
.vzr .apex_med_italic { font-family: Apex-Medium-Italic, sans-serif !important; }
.vzr .apex_bold { font-family: Apex-Bold, sans-serif !important; }
.vzr .apex_bold_italic { font-family: Apex-Bold-Italic, sans-serif !important; }
.vzr .apex_extrabold { font-family: Apex-ExtraBold, sans-serif !important; }
.vzr .apex_extrabold_italic { font-family: Apex-ExtraBold-Italic, sans-serif !important; }
/* Headers & Titles */
.vzr h1 { margin: 0; padding: 0; font-size: inherit; line-height: inherit; letter-spacing: normal; font-weight: inherit; }
.vzr h2 { font-family: Apex-Medium, sans-serif; font-size: 2.6em; line-height: 1em; letter-spacing: normal; margin: 0 0 .4em 0; padding: 0; font-weight: normal; }
.vzr h3 { font-family: Apex-Medium, sans-serif; font-size: 2.1em; line-height: 1.2em; letter-spacing: normal; margin: 0 0 .4em 0; padding: 0; font-weight: normal; }
.vzr h4 { font-family: Apex-Medium, sans-serif; font-size: 1.6em; line-height: 1.2em; letter-spacing: normal; margin: 0 0 .4em 0; padding: 0; font-weight: normal; }
.vzr h5 { font-family: Apex-Medium, sans-serif; font-size: 1.3em; line-height: 1.1em; letter-spacing: normal; margin: 0 0 .4em 0; padding: 0; font-weight: normal; }
.vzr h6 { font-family: Apex-Book, sans-serif; font-size: 1.1em; line-height: 1.1em; letter-spacing: normal; margin: 0 0 .4em 0; padding: 0; font-weight: normal; }
.vzr .h2 { font-family: Apex-Medium, sans-serif; font-size: 2.6em; line-height: 1em; letter-spacing: normal; margin: 0 0 .4em 0; padding: 0; font-weight: normal; display: block; }
.vzr .h3 { font-family: Apex-Medium, sans-serif; font-size: 2.1em; line-height: 1.2em; letter-spacing: normal; margin: 0 0 .4em 0; padding: 0; font-weight: normal; display: block; }
.vzr .h4 { font-family: Apex-Medium, sans-serif; font-size: 1.6em; line-height: 1.2em; letter-spacing: normal; margin: 0 0 .4em 0; padding: 0; font-weight: normal; display: block; }
.vzr .h5 { font-family: Apex-Medium, sans-serif; font-size: 1.3em; line-height: 1.1em; letter-spacing: normal; margin: 0 0 .4em 0; padding: 0; font-weight: normal; display: block; }
.vzr .h6 { font-family: Apex-Book, sans-serif; font-size: 1.1em; line-height: 1.1em; letter-spacing: normal; margin: 0 0 .4em 0; padding: 0; font-weight: normal; display: block; }
/* Apex Italics inherit */
.vzr h5 i, .vzr h5 em, .vzr .h5 i, .vzr .h5 em, .vzr h4 i, .vzr h4 em, .vzr .h4 i, .vzr .h4 em, .vzr h3 i, .vzr h3 em, .vzr .h3 i, .vzr .h3 em, .vzr h2 i, .vzr h2 em, .vzr .h2 i, .vzr .h2 em {font-family: Apex-Medium-Italic, sans-serif;font-style:normal;}
.vzr h6 i, .vzr h6 em, .vzr .h6 i, .vzr .h6 em {font-family: Apex-Book-Italic, sans-serif;font-style:normal;}
.vzr .apex_light i, .vzr .apex_light em { font-family: Apex-Light-Italic, sans-serif; font-style:normal;}
.vzr .apex_light_italic i, .vzr .apex_light_italic em { font-family: Apex-Light-Italic, sans-serif; font-style:normal;}
.vzr .apex_book i, .vzr .apex_book em { font-family: Apex-Book-Italic, sans-serif; font-style:normal;}
.vzr .apex_book_italic i, .vzr .apex_book_italic em { font-family: Apex-Book-Italic, sans-serif; font-style:normal;}
.vzr .apex_med i, .vzr .apex_med em { font-family: Apex-Medium-Italic, sans-serif; font-style:normal;}
.vzr .apex_med_italic i, .vzr .apex_med_italic em { font-family: Apex-Medium-Italic, sans-serif; font-style:normal;}
.vzr .apex_bold i, .vzr .apex_bold em { font-family: Apex-Bold-Italic, sans-serif; font-style:normal;}
.vzr .apex_bold_italic i, .vzr .apex_bold_italic em { font-family: Apex-Bold-Italic, sans-serif; font-style:normal;}
.vzr .apex_extrabold i, .vzr .apexextrabold em { font-family: Apex-ExtraBold-Italic, sans-serif; font-style:normal;}
.vzr .apex_extrabold_italic i, .vzr .apexextrabold_italic em { font-family: Apex-ExtraBold-Italic, sans-serif; font-style:normal;}
/* Apex Bold inherit */
.vzr h5 b, .vzr h5 strong, .vzr h4 b, .vzr h4 strong, .vzr h3 b, .vzr h3 strong, .vzr h2 b, .vzr h2 strong {font-family: Apex-Bold, sans-serif;font-weight:normal;}
.vzr h6 b, .vzr h6 strong {font-family: Apex-Bold, sans-serif;font-weight:normal;}
.vzr .apex_light b, .vzr .apex_light strong { font-family: Apex-Book, sans-serif; font-weight:normal;}
.vzr .apex_book b, .vzr .apex_book strong { font-family: Apex-Medium, sans-serif; font-weight:normal;}
.vzr .apex_med b, .vzr .apex_med strong { font-family: Apex-Bold, sans-serif; font-weight:normal;}
.vzr .apex_bold b, .vzr .apex_bold strong { font-family: Apex-ExtraBold, sans-serif; font-weight:normal;}
.vzr .apex_extrabold b, .vzr .apex_extrabold strong { font-family: Apex-ExtraBold, sans-serif; font-weight:normal;}
/* Apex Bold & Italics inherit */
.vzr .apex_light_italic b, .vzr .apex_light_italic strong { font-family: Apex-Book-Italic, sans-serif; }
.vzr .apex_book_italic b, .vzr .apex_book_italic strong { font-family: Apex-Medium-Italic, sans-serif; }
.vzr .apex_med_italic b, .vzr .apex_med_italic strong { font-family: Apex-Bold-Italic, sans-serif; }
.vzr .apex_bold_italic b, .vzr .apex_bold_italic strong { font-family: Apex-ExtraBold-Italic, sans-serif; }
.vzr .apex_extrabold_italic b, .vzr .apex_extrabold_italic strong { font-family: Apex-ExtraBold-Italic, sans-serif; }



/******************** FONTS ********************/
.vzr .italics { font-style: italic !important; }
.vzr .bold { font-weight: bold !important; }
.vzr .normal { font-weight: normal !important; }
/* Font Size */
.vzr .title_sm { font-size: 1em; font-weight: bold; }
/* Colors */
.vzr .fred { color: #ED1C24 !important; }
.vzr .fblack { color: #333 !important; }
.vzr .fgraydark { color: #444 !important; }
.vzr .fgray { color: #666 !important; }
.vzr .fgraylight { color: #dbdbdb !important; }
.vzr .fgreen { color: #39B54A !important; }
.vzr .fblue { color: #3b73b0 !important; }
.vzr .fwhite { color: #fff !important; }
.vzr .fpurple { color: #7F3483 !important; }

/* Backgrounds */
.vzr .bgred { background-color: #ED1C24 !important; }
.vzr .bgblack { background-color: #333 !important; }
.vzr .bggraydark { background-color: #444 !important; }
.vzr .bggray { background-color: #666 !important; }
.vzr .bggraymed { background-color: #d2d3d4 !important; }
.vzr .bggraylight { background-color: #ededef !important; }
.vzr .bggreen { background-color: #39B54A !important; }
.vzr .bgblue { background-color: #3b73b0 !important; }
.vzr .bgwhite { background-color: #fff !important; }
.vzr .bgpurple { background-color: #7F3483 !important; }
/* Borders */
.vzr .borblack { box-shadow:1px 0 0 0 #333, 0 1px 0 0 #333, 1px 1px 0 0 #333, 1px 0 0 0 #333 inset, 0 1px 0 0 #333 inset;}
.vzr .borgraylight { box-shadow:1px 0 0 0 #ededef, 0 1px 0 0 #ededef, 1px 1px 0 0 #ededef, 1px 0 0 0 #ededef inset, 0 1px 0 0 #ededef inset;}
.vzr .borgraymed { box-shadow:1px 0 0 0 #d2d3d4, 0 1px 0 0 #d2d3d4, 1px 1px 0 0 #d2d3d4, 1px 0 0 0 #d2d3d4 inset, 0 1px 0 0 #d2d3d4 inset;}
/* Misc */
.vzr sup { font-size: .8em; vertical-align: 0.4em; }
.vzr ol, .vzr ul { margin: .2em 0 1em 1.4em; }
.vzr ol li, .vzr ul li { margin: 0 0 .3em 0; }
.vzr p { margin: 0 0 1em 0; }
.vzr a:link, .vzr a:visited { color: #3b73b0; text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
.vzr a:hover, .vzr a:active { }
.vzr .fl { float: left !important; }
.vzr .fr { float: right !important; }
.vzr .fixer { display: block; clear: both; overflow: hidden; width: auto; height: 1px; line-height: 1px; font-size: 1px; }
.vzr .centered { margin: auto !important; }
.vzr .hidden { position: absolute !important; left: -9000em !important; top: -9000em !important; width: 0; height: 0; overflow: hidden; }
.vzr .pos { position: relative; }
.vzr .t_center { text-align: center !important; }
.vzr .t_right { text-align: right !important; }
.vzr .t_left { text-align: left !important; }
.vzr img.flex { max-width: 100%; display: block; }
.vzr img.flex_med { max-width: 80%; display: block; }
.vzr img.flex_sm { max-width: 50%; display: block; }
.vzr .legal { font-family: arial, sans-serif; font-size: .8em; line-height: 1.1em; clear: both; }
.vzr hr { width: 100%; height: 1px; background-color: #d2d3d4; color: #d2d3d4; border: 0 none; margin: 5px auto; }
.vzr hr.dark { width: 100%; height: 1px; background-color: #333; color: #333; border: 0 none; margin: 5px auto; }

.vzr .vert_align { display: flex !important; align-items: center; justify-content: left; }
.vzr .block { display: block; }
.vzr .inline { display: inline; }
.vzr .anchor_block { display: block; height: 100%; }


/* Lists */
.vzr ul.check_details { list-style-type: none; margin: 0; font-family: Apex-bold, sans-serif; font-size: 1.1em; }
.vzr ul.check_details li { padding: 0 0 .5em 1.8em; background-image: url(mobileftv_redcheck.png)/*tpa=http://www.verizon.com/cs/groups/public/documents/adacct/mobileftv_redcheck.png*/; background-size: 19px 15px; background-position: left top; background-repeat: no-repeat; }
.vzr ul.check_extras { list-style-type: none; margin: 0; font-size: 1em; }
.vzr ul.check_extras li { padding: 0 0 .5em 1.8em; background-image: url(mobile_redbullet.png)/*tpa=http://www.verizon.com/cs/groups/public/documents/adacct/mobile_redbullet.png*/; background-size: 16px 16px; background-position: left top; background-repeat: no-repeat; }

/* Basic Table */
.vzr .basicsertable { width: 100%; margin: 0; padding: 0; border-collapse: collapse; }
.vzr .basicsertable tr { }
.vzr .basicsertable tr:nth-child(odd) { background-color: #fff; }
.vzr .basicsertable tr td { padding: 8px }
.vzr .basicsertable tr td:last-child { width: 30%; font-family: Apex-Bold, sans-serif; text-align: center; border-left: 1px solid #cccccc; }
/* Spacing */
.vzr .content { padding: 6px 8px; }
.vzr .content.pad { padding: 6px 20px; }
.vzr .snug { padding: 0 !important; margin: 0 !important; }
.vzr .pad_top_10 { padding-top: 10px !important; }
.vzr .pad_top_20 { padding-top: 20px !important; }
.vzr .pad_vert_10 { padding-top: 10px !important; padding-bottom: 10px !important; }
.vzr .pad_vert_20 { padding-top: 20px !important; padding-bottom: 20px !important; }
.vzr .pad_left_10 { padding-left: 10px !important; }
.vzr .pad_left_20 { padding-left: 20px !important; }
.vzr .margin_top_10 { margin-top: 10px !important; }
.vzr .margin_top_20 { margin-top: 20px !important; }
.vzr .margin_vert_10 { margin-top: 10px !important; margin-bottom: 10px !important; }
.vzr .margin_vert_20 { margin-top: 20px !important; margin-bottom: 20px !important; }
.vzr .margin_left_10 { margin-left: 10px !important; }
.vzr .margin_left_20 { margin-left: 20px !important; }



/******************** Routing Page Specific ********************/
.vzr .btn, .vzr a.btn { text-decoration: none; min-width: 100px; height: 45px; display: inline-block; padding: 0px 7px; margin-bottom: 0; font-size: 1.143em; font-weight: normal; font-family: Apex-Book, sans-serif; line-height: 45px; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background: #777; border-radius: 3px; color: #fff; }
.vzr .btn.full, .vzr a.btn.full { display: block; }
.vzr .btn.red, .vzr a.btn.red { color: #fff; background: #ED1C24; }
.vzr .btn.red:hover, .vzr .btn.red:focus { background: #D40100; }
.vzr .btn.red:active, .vzr a.btn.red:active { background: #D40100; }
.vzr .btn.disabled, .vzr .btn[disabled], .vzr fieldset[disabled] .btn { pointer-events: none; cursor: not-allowed; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; opacity: .65; }
.vzr .header { height: 131px; }
.vzr .header .content { width: 985px; margin: 0 auto; position: relative; }
.vzr .header a.espanol { position: absolute; right: 80px; top: 20px; }
.vzr .lob_bg { border-top: 1px solid #e6e6e6; }
.vzr .lob_bg.wireless { background: #F4F4F4; }
.vzr .lob_bg.residential { background: #fff; }
.vzr .lob_bg.business { background: #F8F8F8;border-bottom: 1px solid #e6e6e6;}
.vzr .lob { cursor: pointer; cursor: hand; min-width: 985px; max-width: 1100px; height: 185px; padding-top: 30px; text-align: center; margin: 0 auto; position:relative;}
.vzr .lob .content { position: absolute; width: 980px; left: 50%; margin-left: -490px; top:10%;padding:0;}
.vzr .lob .btn.red { width: 224px;}
.vzr .footer {font-size:.873em;color:#595a5d;margin:2em 0;}
.vzr .footer .content {width: 825px;margin: 0 auto;}
.vzr .footer a {font-size:.9em;color:#595a5d; margin-right:.8em;}
.vzr .footer .loc {font-weight:bold;float:left;font-size:.952em;}

.vzr .lob h2 {margin:0 0 .33em 0;} 
.vzr .lob h5 {margin:0 0 1.1em 0;}
.vzr .header .content .logo { background: url(vzlogo_badge.png)/*tpa=http://www.verizon.com/cs/groups/public/documents/adacct/vzlogo_badge.png*/ no-repeat 0 0; height: 110px; left: 80px; position: absolute; top: 0; width: 110px; text-indent: -9999em; }



@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
.vzr .header .content .logo {background: url(vzlogo_badge_lg.png)/*tpa=http://www.verizon.com/cs/groups/public/documents/adacct/vzlogo_badge_lg.png*/ no-repeat 0 0 / cover;}
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : portrait) {
.vzr .lob {height:265px;background-size:cover;}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : landscape) {
.vzr .lob {height:185px;background-size:cover;}
}
@media only screen and (min-device-pixel-ratio: 1.25) and (orientation : portrait),
(-webkit-min-device-pixel-ratio: 1.25) and (orientation : portrait)  {
.vzr .lob {height:265px;background-size:cover;}
}
@media only screen and (min-device-pixel-ratio: 1.25) and (orientation : landscape),
(-webkit-min-device-pixel-ratio: 1.25) and (orientation : landscape)  {
.vzr .lob {height:185px;background-size:cover;}
}




/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : portrait) {
.vzr { min-width: 1100px;min-height:1400px;}
.vzr .lob {height:265px;background-size:cover;}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : landscape) {
.vzr { min-width: 1100px;min-height:800px;}
.vzr .lob {height:185px;background-size:cover;}
}



@media only screen and (min-device-pixel-ratio: 1.25) and (orientation : portrait),
(-webkit-min-device-pixel-ratio: 1.25) and (orientation : portrait)  {
.vzr { min-width: 1100px;min-height:1400px;}
.vzr .lob {height:265px;background-size:cover;}
}

@media only screen and (min-device-pixel-ratio: 1.25) and (orientation : landscape),
(-webkit-min-device-pixel-ratio: 1.25) and (orientation : landscape)  {
.vzr { min-width: 1100px;min-height:800px;}
.vzr .lob {height:185px;background-size:cover;}
}










/******************** Bootstrap Custom ********************/
.vzr .fade { opacity: 0; -webkit-transition: opacity .15s linear; transition: opacity .15s linear; }
.fade.in { opacity: 1; }
.vzr .collapse { display: none; }
.vzr .collapse.in { display: block; }
.vzr .collapsing { position: relative; height: 0; overflow: hidden; -webkit-transition: height .35s ease; transition: height .35s ease; }
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after { display: table; content: " "; }
.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after { clear: both; }



/******************** COLUMNS ********************/
/* Flex Template Columns */
.vzr .col3, .vzr .col4, .vzr .col6, .vzr .col8, .vzr .col9, .vzr .col12, .vzr .one_forth, .vzr .one_fourth, .vzr .one_third, .vzr .one_half, .vzr .two_third, .vzr .three_forth, .vzr .three_fourth { float: left; display: inline; box-sizing: border-box; }
/* Use these classes to set the width of a column. */
.vzr .col3, .vzr .one_forth, .vzr .one_fourth { width: 25%; }
.vzr .col4, .vzr .one_third { width: 33.3%; }
.vzr .col6, .vzr .one_half { width: 50%; }
.vzr .col8, .vzr .two_third { width: 66.6%; }
.vzr .col9, .vzr .three_forth, .vzr .three_fourth { width: 75%; }
.vzr .col12 { width: 100%; }
/* Author Defined Columns */
.vzr div.col1_xsm, .vzr div.col1_sm, .vzr div.col1_med, .vzr div.col1_lg, .vzr div.col1_all, .vzr div.col2_xsm .vzr div.col2_sm, .vzr div.col2_med, .vzr div.col2_lg, .vzr div.col2_all, .vzr div.col3_xsm, .vzr div.col3_sm, .vzr div.col3_med, .vzr div.col3_lg, .vzr div.col3_all, .vzr div.col4_xsm, .vzr div.col4_sm, .vzr div.col4_med, .vzr div.col4_lg, .vzr div.col4_all, .vzr div.col5_xsm, .vzr div.col5_sm, .vzr div.col5_med, .vzr div.col5_lg, .vzr div.col5_all, .vzr div.col6_xsm, .vzr div.col6_sm, .vzr div.col6_med, .vzr div.col6_lg, .vzr div.col6_all, .vzr div.col7_xsm, .vzr div.col7_sm, .vzr div.col7_med, .vzr div.col7_lg, .vzr div.col7_all, .vzr div.col8_xsm, .vzr div.col8_sm, .vzr div.col8_med, .vzr div.col8_lg, .vzr div.col8_all, .vzr div.col9_xsm, .vzr div.col9_sm, .vzr div.col9_med, .vzr div.col9_lg, .vzr div.col9_all, .vzr div.col10_xsm, .vzr div.col10_sm, .vzr div.col10_med, .vzr div.col10_lg, .vzr div.col10_all, .vzr div.col11_xsm, .vzr div.col11_sm, .vzr div.col11_med, .vzr div.col11_lg, .vzr div.col11_all, .vzr div.col12_xsm, .vzr div.col12_sm, .vzr div.col12_med, .vzr div.col12_lg, .vzr div.col12_all { float: left; display: inline; box-sizing: border-box; }
.vzr div.col12_xsm, .vzr div.col12_sm, .vzr div.col12_med, .vzr div.col12_lg, .vzr div.col12_all { border-width: 0; box-sizing: border-box; }
.vzr div.col1_all { width: 8.33333333%; }
.vzr div.col2_all { width: 16.66666667%; }
.vzr div.col3_all { width: 25%; }
.vzr div.col4_all { width: 33.33333333%; }
.vzr div.col5_all { width: 41.66666667%; }
.vzr div.col6_all { width: 50%; }
.vzr div.col7_all { width: 58.33333333%; }
.vzr div.col8_all { width: 66.66666667%; }
.vzr div.col9_all { width: 75%; }
.vzr div.col10_all { width: 83.33333333%; }
.vzr div.col11_all { width: 91.66666667%; }
.vzr div.col12_all { width: 100%; }
.vzr .visible_xsm, .vzr .visible_sm, .vzr .visible_med, .vzr .visible_lg { display: none !important; }







/******************** MEDIA QUERIES ********************/
 @media only screen and (max-device-width: 480px) {
/* iPhone 4 & 4s CSS rules here -- only if absolutely necessary */	
}
@media (max-width: 473px) {
/* SMALL MOBILE */

.vzr div.col1_xsm { width: 8.33333333%; }
.vzr div.col2_xsm { width: 16.66666667%; }
.vzr div.col3_xsm { width: 25%; }
.vzr div.col4_xsm { width: 33.33333333%; }
.vzr div.col5_xsm { width: 41.66666667%; }
.vzr div.col6_xsm { width: 50%; }
.vzr div.col7_xsm { width: 58.33333333%; }
.vzr div.col8_xsm { width: 66.66666667%; }
.vzr div.col9_xsm { width: 75%; }
.vzr div.col10_xsm { width: 83.33333333%; }
.vzr div.col11_xsm { width: 91.66666667%; }
.vzr div.col12_xsm { width: 100%; }
}
 @media (min-width: 474px) {
/* LARGE MOBILE */
.vzr div.col1_sm { width: 8.33333333%; }
.vzr div.col2_sm { width: 16.66666667%; }
.vzr div.col3_sm { width: 25%; }
.vzr div.col4_sm { width: 33.33333333%; }
.vzr div.col5_sm { width: 41.66666667%; }
.vzr div.col6_sm { width: 50%; }
.vzr div.col7_sm { width: 58.33333333%; }
.vzr div.col8_sm { width: 66.66666667%; }
.vzr div.col9_sm { width: 75%; }
.vzr div.col10_sm { width: 83.33333333%; }
.vzr div.col11_sm { width: 91.66666667%; }
.vzr div.col12_sm { width: 100%; }
}
 @media (min-width: 768px) {
/* MEDIUM */
.vzr div.col1_med { width: 8.33333333%; }
.vzr div.col2_med { width: 16.66666667%; }
.vzr div.col3_med { width: 25%; }
.vzr div.col4_med { width: 33.33333333%; }
.vzr div.col5_med { width: 41.66666667%; }
.vzr div.col6_med { width: 50%; }
.vzr div.col7_med { width: 58.33333333%; }
.vzr div.col8_med { width: 66.66666667%; }
.vzr div.col9_med { width: 75%; }
.vzr div.col10_med { width: 83.33333333%; }
.vzr div.col11_med { width: 91.66666667%; }
.vzr div.col12_med { width: 100%; }
}
 @media (min-width: 1024px) {
/* LARGE */
.vzr div.col1_lg { width: 8.33333333%; }
.vzr div.col2_lg { width: 16.66666667%; }
.vzr div.col3_lg { width: 25%; }
.vzr div.col4_lg { width: 33.33333333%; }
.vzr div.col5_lg { width: 41.66666667%; }
.vzr div.col6_lg { width: 50%; }
.vzr div.col7_lg { width: 58.33333333%; }
.vzr div.col8_lg { width: 66.66666667%; }
.vzr div.col9_lg { width: 75%; }
.vzr div.col10_lg { width: 83.33333333%; }
.vzr div.col11_lg { width: 91.66666667%; }
.vzr div.col12_lg { width: 100%; }
}
@media (min-width: 1280px) {
.vzr .container { max-width: 1280px; margin: 0 auto; }
}





/* Responsive Breaks */
@media (max-width:473px) {
.vzr .visible_xsm { display: block !important; }
}
 @media (min-width: 474px) and (max-width:767px) {
.vzr .visible_sm { display: block !important; }
}
 @media (min-width:768px) and (max-width:1023px) {
.vzr .visible_med { display: block !important; }
}
 @media (min-width:1024px) {
.vzr .visible_lg { display: block !important; }
}
