body { font-family:Helvetica,Arial,sans-serif; font-size:62.5%; color:#000; }

img { border:none; }

h1 { font-size:2em; }
h2 { font-size: 1.6em; }
h4 { font-size:14px; margin-bottom:20px; }

#nav_bottom, .search_wrap, .top_nav, #left_col, #footer-inner, .gf, #ad_alert_text, .ad_alert, .flow_item, #carousel_next, #carousel_prev { display:none; }

.popupTitle, .topBar-content, .info { display:block !important; }
.popupTitle { font-weight:bold; margin-top:20px; font-size:1.4em; }
.topBar-content { border:1px solid #999; float:left; height:240px; margin:10px; padding:10px 20px; width:150px; }

#investor_information { border:1px solid #999; float:left; height:240px; margin:10px; padding:10px 20px; width:150px; background-color:#e9e9e9; }

.logo { font-size:2.5em; text-transform:uppercase; }
.logo a { text-decoration:none; color:#59281A; }

#our_brands { clear:left; }

#stock_quote { font-size:1.6em; }
.stock_price { font-weight:bold; font-size:1.7em; }


#brand_carousel { width:500px; }
#brand_carousel ul { list-style:none; }
#brand_carousel li { float:left; margin:10px; height:100px; }

.hersheycompany-home #careers, #row_two { clear:both; }

#news_highlights, #partner, #visit_hershey { margin:30px 15px 0 0; border: solid 1px #ccc; padding:10px 20px; width:150px; float:left; height:175px; }

.prod { margin-top:35px; }
