.upop-link {
  cursor: pointer;
}
.video-play-hover {
  margin-left: -50px;
  margin-top: -10px;
}

.field-name-field-youtube-video iframe {
  width: 100%;
}
#colorbox, #cboxOverlay, #cboxWrapper, #cboxContent {
  overflow: visible !important;
}
#cboxClose {
  display: none !important;
}
.cboxCustomClose {
  position: absolute;
  background: url("/sites/all/themes/ebayinc/images/sprite1.png") no-repeat scroll -158px 0 transparent;
  height: 50px;
  width: 50px;
  z-index: 9999;
  right: -23px;
  top: -25px;
  cursor: pointer;
}

