.bookerWrapper {
  width: 618px;
  height: 321px;
  float: right;
  background: #f1f5f8;
  padding: 10px;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  /*
	 * Styling to fix the re-sizing from inline errors
	 */
}
.bookerWrapper a {
  color: #4d90cd;
  font-size: 11px;
}
.bookerWrapper a:hover {
  color: #004990;
}
.bookerWrapper a:visited:after {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.bookerWrapper h2 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
  line-height: 1em;
  color: #004990;
  font-weight: 900;
}
.bookerWrapper input[type="text"]:focus,
.bookerWrapper select:focus,
.bookerWrapper a[href]:focus {
  outline: #004990 auto 5px;
}
.bookerWrapper input[type="radio"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.bookerWrapper input[type="radio"] + label.fir {
  background: #fff;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  display: inline-block;
}
.bookerWrapper input[type="radio"] + label:focus,
.bookerWrapper input[type="radio"]:focus + label,
.bookerWrapper input[type="radio"]:focus + label + label {
  text-decoration: underline;
}
.bookerWrapper input[type="radio"]:checked + label.fir {
  background: orange;
}
.bookerWrapper input[type="radio"] + label + label {
  margin-right: 10px;
}
.bookerWrapper input[type="submit"]:hover,
.bookerWrapper input[type="submit"]:focus {
  text-decoration: underline;
}
.bookerWrapper .nav {
  float: right;
}
.bookerWrapper .nav button,
.bookerWrapper .nav input[type=button],
.bookerWrapper .nav a.button {
  font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: inline-block;
  color: #4d90cd;
  font-weight: 700;
  border: none;
  box-shadow: 1px 1px 1px #ccc;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
  /* IE6-9 */
  -webkit-appearance: none;
  margin-right: 1em;
}
.bookerWrapper .nav button:hover,
.bookerWrapper .nav input[type=button]:hover,
.bookerWrapper .nav a.button:hover,
.bookerWrapper .nav button:focus,
.bookerWrapper .nav input[type=button]:focus,
.bookerWrapper .nav a.button:focus {
  color: #004990;
  cursor: pointer;
  text-decoration: underline;
}
.bookerWrapper .nav button:focus,
.bookerWrapper .nav input[type=button]:focus,
.bookerWrapper .nav a.button:focus {
  outline: #004990 auto 5px;
}
.bookerWrapper .nav.close button {
  height: 30px;
  width: 30px;
  background: transparent url(../../../../../img/context-switcher-btn-sp.png)/*tpa=http://www.jetblue.com/img/context-switcher-btn-sp.png*/ 0 -58px no-repeat;
  border: none;
  text-indent: 100%;
  word-wrap: break-word;
  font-size: 0;
  box-shadow: none;
  filter: none;
}
.bookerWrapper .nav.close button:hover {
  background-position: 0 -221px;
}
.bookerWrapper ::selection {
  background: #0099FF;
}
.bookerWrapper .jbFlightStatus .formcontrol.flight_status_datepicker {
  margin-right: 15px;
}
.bookerWrapper .jbFlightStatus .errors-wrapper {
  margin: -8px;
  margin-top: -60px;
  height: 300px;
}
.bookerWrapper .specialAssistance {
  *display: table-cell;
}
.bookerWrapper .faq {
  *display: table-cell;
}
.bookerWrapper .baggagePolicy {
  *display: table-cell;
}
.bookerWrapper .form_errors_overlay {
  margin: -10px;
  margin-top: -60px;
  margin-bottom: -13px;
}
.bookerWrapper .checkinIcon,
.bookerWrapper .flightstatusIcon {
  background-image: url('../../src/assets/context-switcher-btn-sp.png')/*tpa=http://www.jetblue.com/includes/modules/booker_refresh/src/assets/context-switcher-btn-sp.png*/;
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 24px;
  margin-right: 6px;
  margin-bottom: -7px;
}
.bookerWrapper .checkinIcon {
  background-position: -3px -1px;
}
.bookerWrapper .flightstatusIcon {
  background-position: -3px -30px;
}
.bookerWrapper .checkin,
.bookerWrapper .flightStatus {
  padding-right: 14px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 8px;
  width: auto;
}
.bookerWrapper .checkin:hover .checkinIcon,
.bookerWrapper .flightStatus:hover .checkinIcon,
.bookerWrapper .checkin:focus .checkinIcon,
.bookerWrapper .flightStatus:focus .checkinIcon {
  background-position: -3px -163px;
}
.bookerWrapper .checkin:hover .flightstatusIcon,
.bookerWrapper .flightStatus:hover .flightstatusIcon,
.bookerWrapper .checkin:focus .flightstatusIcon,
.bookerWrapper .flightStatus:focus .flightstatusIcon {
  background-position: -3px -192px;
}
.bookerWrapper .jbCheckin .errors-wrapper {
  top: -52px;
  margin: -8px;
  margin-bottom: -20px;
}
.bookerWrapper #faq-modal {
  overflow: auto;
}
.bookerWrapper .jbBooker fieldset.flexsearch {
  padding: 10px 0;
}
.bookerWrapper .jbBooker .originDestinationSelect,
.bookerWrapper .jbBooker fieldset.additionalInfo,
.bookerWrapper .jbBooker fieldset.additionalInfo ul,
.bookerWrapper .jbBooker .clndr.formcontrol,
.bookerWrapper .jbBooker fieldset.currencySelect {
  margin-top: 0px;
  margin-bottom: 0px;
}
.bookerWrapper .jbBooker fieldset.currencySelect.noFlex {
  margin-top: 10px;
  paddding-left: 10px;
}
.bookerWrapper .jbBooker fieldset.passengerSelect {
  padding-bottom: 9px;
}
.bookerWrapper .jbBooker .inline_error {
  display: block !important;
}
.bookerWrapper .jbBooker .calendar_wrapper {
  padding: 0 5px;
}
.bookerWrapper .jbBooker input[type=submit] {
  margin-top: -10px;
  margin-right: 10px;
}
.bookerWrapper .autocomplete input {
  width: 233px;
}
.bookerWrapper .clndr.formcontrol {
  width: 293px;
}
.bookerWrapper .dropdown-menu {
  width: 305px;
}
.bookerWrapper .suggestions_wrapper {
  width: 295px;
}
.bookerWrapper .dropdown-menu li[ng-transclude],
.bookerWrapper .dropdown-menu .onsale {
  width: 303px;
}
.bookerWrapper .clndr .form-control {
  display: inline;
  border: 0;
  color: #4d90cd;
  width: 230px;
}
.bookerWrapper .additionalInfo {
  margin-top: 7px !important;
}
.bookerWrapper .cal_active .inline_error {
  visibility: hidden;
}
/* helper classes */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.din {
  font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
}
.bold {
  font-weight: 700;
}
.nav .checkin {
  background: transparent url(../../../../../img/context-switcher-btn-sp.png)/*tpa=http://www.jetblue.com/img/context-switcher-btn-sp.png*/ 0 0 no-repeat;
}
/* IE8 Fixes */
html.no-boxshadow button.checkin,
html.no-boxshadow button.flightStatus {
  border: 1px solid #ddd;
}
/*  */
.bookerWrapper .jbCheckin .autocomplete input {
  width: 223px;
}
/* HOT FIX TO HIDE INLINE MESSAGES */
.jbBooker .inline_error {
  display: block !important;
  visibility: hidden !Important;
  opacity: 0 !Important;
}
.jbFlightStatus .inline_error,
.jbCheckin .inline_error {
  display: none !important;
  visibility: hidden !Important;
  opacity: 0 !Important;
}
.jbFlightStatus .lookupDays {
  padding-top: 7px;
}
.form_errors_overlay .error_close_button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: white;
  border-radius: 100px;
  line-height: 31px !important;
  font-size: 36px;
  text-align: center;
  color: #0076be;
  text-decoration: none;
}
.ie8 .form_errors_overlay .error_close_button,
.ie9 .form_errors_overlay .error_close_button,
.ie10 .form_errors_overlay .error_close_button {
  line-height: 32px !important;
}
