@charset "UTF-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:#FFF;
}

h1 {
	font-family: 'robotobold_italic';
	font-size: 20px;
	color: #0b4376;
	margin:10px 23px 0 23px;
}

h2 {
	font-family: 'robotobold_italic';
	font-size: 18px;
	color: #0b4376;
	margin:10px 0 0 0;
}

h3 {
	font-family: 'robotobold_italic';
	font-size: 20px;
	color: #0b4376;
	margin:40px 23px 0 0;
}

h4 {
	font-family: 'robotobold_italic';
	font-size: 16px;
	color: #555555;
	margin:15px 0 0 25px;
}

h5 {
	font-family: 'robotobold_italic';
	font-size: 16px;
	color: #555555;
	margin:0px;
}

h6 {
	font-family: 'robotobold_italic';
	font-size: 20px;
	color: #0b4376;
	margin:40px 0 0 25px;
}

h7 {
	font-family: 'roboto_condensedbold';
	font-size: 14px;
	color: #0b4376;
	}

#cssmenu {
  position: relative;
  height: 44px;
  background: #333333;
  width: auto;
  margin:0px auto 0px auto;
}
#cssmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#cssmenu > ul {
  position: relative;
  display: block;
  background: #333333;
  width: 100%;
  z-index: 500;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu > ul > li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu > ul > #menu-button {
  display: none;
}
#cssmenu ul li a {
  display: block;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 32px;
}
#cssmenu > ul > li:hover > a {
  color: #fdb826;
}
#cssmenu li.has-sub::after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
#cssmenu > ul > li.has-sub::after {
  right: 10px;
  top: 20px;
  border: 5px solid transparent;
  border-top-color: #7a8189;
}
#cssmenu > ul > li:hover::after {
  border-top-color: #ffffff;
}
#indicatorContainer {
  position: absolute;
  height: 12px;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  z-index: -1;
}
#pIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  z-index: -2;
  -webkit-transition: left .25s ease;
  -moz-transition: left .25s ease;
  -ms-transition: left .25s ease;
  -o-transition: left .25s ease;
  transition: left .25s ease;
}
#cIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  top: -12px;
  right: 100%;
  z-index: -2;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 70px;
  opacity: 0;
  -webkit-transition: opacity .3s ease, top .25s ease;
  -moz-transition: opacity .3s ease, top .25s ease;
  -ms-transition: opacity .3s ease, top .25s ease;
  -o-transition: opacity .3s ease, top .25s ease;
  transition: opacity .3s ease, top .25s ease;
  z-index: 1000;
}
#cssmenu ul ul ul {
  top: 37px;
  padding-left: 5px;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu > ul > li:hover > ul {
  left: auto;
  top: 44px;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
  opacity: 1;
}
#cssmenu ul ul li:hover > ul {
  left: 170px;
  top: 0;
  opacity: 1;
}
#cssmenu.align-right ul ul li:hover > ul {
  left: auto;
  right: 170px;
  top: 0;
  opacity: 1;
  padding-right: 5px;
}
#cssmenu ul ul li a {
  width: 130px;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 10px;
  font-size: 12px;
  color: #666666;
  background: #ffffff;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}
#cssmenu.align-right ul ul li a {
  text-align: center;
}
#cssmenu ul ul li:hover > a {
  background: #f2f2f2;
  color: #333333;
  text-decoration:underline;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul::after {
  content: '';
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #ffffff;
  position: absolute;
  top: -12px;
  left: 30px;
}
#cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 30px;
}
#cssmenu ul ul li.has-sub::after {
  border: 4px solid transparent;
  border-left-color: #9ea2a5;
  right: 10px;
  top: 12px;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub::after {
  border-left-color: transparent;
  border-right-color: #9ea2a5;
  right: auto;
  left: 10px;
}
#cssmenu ul ul li.has-sub:hover::after {
  border-left-color: #ffffff;
  right: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#cssmenu.align-right ul ul li.has-sub:hover::after {
  border-right-color: #ffffff;
  border-left-color: transparent;
  left: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.logo {
  position: absolute;
  left: 50%;
  margin: -55px 0 0 -55px;
  z-index:999;
}

/* Make Header Sticky */
#header_container { height:29px; left:0; position:fixed; width:100%; top:0; background-image:url(imgwgc/header_bkgd.gif)/*tpa=http://www.genpt.com/imgwgc/header_bkgd.gif*/; z-index:1000}
#header{ line-height:29px; margin:0 auto; width:900px; text-align:center; z-index:1000}
 
#container { height:220px; margin:29px 0 0 0; overflow:auto; width:100%; text-align:center; z-index:-1000;}
#content{ width:auto; height:220px; text-align:center; z-index:-1000; background-image:url(imgwgc/content_bkgd.gif)/*tpa=http://www.genpt.com/imgwgc/content_bkgd.gif*/; overflow:auto; z-index:-1000;}

#info { margin:0 auto; overflow:auto; width:100%; z-index:800}
#info_content{width:900; margin:0 auto; text-align:center; z-index:800}

.class1	A:link {
	text-decoration:none;
	color:#FFF;
}
	
.class1	A:visited {
	text-decoration:none;
	color:#FFF;
}

.class1	A:active {
	text-decoration:none;
	color:#FFF;
}

.class1	A:hover {
	text-decoration:underline;
	color:#fdb826;
}

.class2	A:link {
	text-decoration:none;
	color:#666;
}
	
.class2	A:visited {
	text-decoration:none;
	color:#666;
}

.class2	A:active {
	text-decoration:none;
	color:#666;
}

.class2	A:hover {
	text-decoration:underline;
	color:#333;
}

.class3	A:link {
	text-decoration:underline;
	color:#0054a4;
}
	
.class3	A:visited {
	text-decoration:underline;
	color:#0054a4;
}

.class3	A:active {
	text-decoration:underline;
	color:#0054a4;
}

.class3	A:hover {
	text-decoration:underline;
	color:#666666;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('Roboto-BoldItalic-webfont.eot')/*tpa=http://www.genpt.com/Roboto-BoldItalic-webfont.eot*/;
    src: url('Roboto-BoldItalic-webfont.eot-#iefix')/*tpa=http://www.genpt.com/Roboto-BoldItalic-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('Roboto-BoldItalic-webfont.woff')/*tpa=http://www.genpt.com/Roboto-BoldItalic-webfont.woff*/ format('woff'),
         url('Roboto-BoldItalic-webfont.ttf')/*tpa=http://www.genpt.com/Roboto-BoldItalic-webfont.ttf*/ format('truetype'),
         url('Roboto-BoldItalic-webfont.svg#robotobold_italic')/*tpa=http://www.genpt.com/Roboto-BoldItalic-webfont.svg#robotobold_italic*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot')/*tpa=http://www.genpt.com/Roboto-Regular-webfont.eot*/;
    src: url('Roboto-Regular-webfont.eot-#iefix')/*tpa=http://www.genpt.com/Roboto-Regular-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff')/*tpa=http://www.genpt.com/Roboto-Regular-webfont.woff*/ format('woff'),
         url('Roboto-Regular-webfont.ttf')/*tpa=http://www.genpt.com/Roboto-Regular-webfont.ttf*/ format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular')/*tpa=http://www.genpt.com/Roboto-Regular-webfont.svg#robotoregular*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('RobotoCondensed-Regular-webfont.eot')/*tpa=http://www.genpt.com/RobotoCondensed-Regular-webfont.eot*/;
    src: url('RobotoCondensed-Regular-webfont.eot-#iefix')/*tpa=http://www.genpt.com/RobotoCondensed-Regular-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('RobotoCondensed-Regular-webfont.woff')/*tpa=http://www.genpt.com/RobotoCondensed-Regular-webfont.woff*/ format('woff'),
         url('RobotoCondensed-Regular-webfont.ttf')/*tpa=http://www.genpt.com/RobotoCondensed-Regular-webfont.ttf*/ format('truetype'),
         url('RobotoCondensed-Regular-webfont.svg#roboto_condensedregular')/*tpa=http://www.genpt.com/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('RobotoCondensed-Bold-webfont.eot')/*tpa=http://www.genpt.com/RobotoCondensed-Bold-webfont.eot*/;
    src: url('RobotoCondensed-Bold-webfont.eot-#iefix')/*tpa=http://www.genpt.com/RobotoCondensed-Bold-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('RobotoCondensed-Bold-webfont.woff')/*tpa=http://www.genpt.com/RobotoCondensed-Bold-webfont.woff*/ format('woff'),
         url('RobotoCondensed-Bold-webfont.ttf')/*tpa=http://www.genpt.com/RobotoCondensed-Bold-webfont.ttf*/ format('truetype'),
         url('RobotoCondensed-Bold-webfont.svg#roboto_condensedbold')/*tpa=http://www.genpt.com/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('Roboto-Medium-webfont.eot')/*tpa=http://www.genpt.com/Roboto-Medium-webfont.eot*/;
    src: url('Roboto-Medium-webfont.eot-#iefix')/*tpa=http://www.genpt.com/Roboto-Medium-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('Roboto-Medium-webfont.woff')/*tpa=http://www.genpt.com/Roboto-Medium-webfont.woff*/ format('woff'),
         url('Roboto-Medium-webfont.ttf')/*tpa=http://www.genpt.com/Roboto-Medium-webfont.ttf*/ format('truetype'),
         url('Roboto-Medium-webfont.svg#robotomedium')/*tpa=http://www.genpt.com/Roboto-Medium-webfont.svg#robotomedium*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('Roboto-Bold-webfont.eot')/*tpa=http://www.genpt.com/Roboto-Bold-webfont.eot*/;
    src: url('Roboto-Bold-webfont.eot-#iefix')/*tpa=http://www.genpt.com/Roboto-Bold-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('Roboto-Bold-webfont.woff')/*tpa=http://www.genpt.com/Roboto-Bold-webfont.woff*/ format('woff'),
         url('Roboto-Bold-webfont.ttf')/*tpa=http://www.genpt.com/Roboto-Bold-webfont.ttf*/ format('truetype'),
         url('Roboto-Bold-webfont.svg#robotobold')/*tpa=http://www.genpt.com/Roboto-Bold-webfont.svg#robotobold*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoitalic';
    src: url('Roboto-Italic-webfont.eot')/*tpa=http://www.genpt.com/Roboto-Italic-webfont.eot*/;
    src: url('Roboto-Italic-webfont.eot-#iefix')/*tpa=http://www.genpt.com/Roboto-Italic-webfont.eot?#iefix*/ format('embedded-opentype'),
         url('Roboto-Italic-webfont.woff')/*tpa=http://www.genpt.com/Roboto-Italic-webfont.woff*/ format('woff'),
         url('Roboto-Italic-webfont.ttf')/*tpa=http://www.genpt.com/Roboto-Italic-webfont.ttf*/ format('truetype'),
         url('Roboto-Italic-webfont.svg#robotoitalic')/*tpa=http://www.genpt.com/Roboto-Italic-webfont.svg#robotoitalic*/ format('svg');
    font-weight: normal;
    font-style: normal;

}

.site_button {
	-moz-box-shadow: 0px 1px 5px 0px #575757;
	-webkit-box-shadow: 0px 1px 5px 0px #575757;
	box-shadow: 0px 1px 5px 0px #575757;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0055a4), color-stop(1, #0b4276) );
	background:-moz-linear-gradient( center top, #0055a4 5%, #0b4276 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0055a4', endColorstr='#0b4276');
	background-color:#0055a4;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:2px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
	height:40px;
	line-height:40px;
	width:215px;
	text-decoration:none;
	text-align:center;
	margin-bottom:40px;
}
.site_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #555555), color-stop(1, #333333) );
	background:-moz-linear-gradient( center top, #555555 5%, #333333 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333');
	background-color:#555555;
}.site_button:active {
	position:relative;
	top:1px;
}

.site_button2 {
	-moz-box-shadow: 0px 1px 5px 0px #575757;
	-webkit-box-shadow: 0px 1px 5px 0px #575757;
	box-shadow: 0px 1px 5px 0px #575757;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0055a4), color-stop(1, #0b4276) );
	background:-moz-linear-gradient( center top, #0055a4 5%, #0b4276 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0055a4', endColorstr='#0b4276');
	background-color:#0055a4;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:2px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	font-style:italic;
	height:30px;
	line-height:30px;
	width:185px;
	text-decoration:none;
	text-align:center;
	margin-top:4px;
}
.site_button2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #555555), color-stop(1, #333333) );
	background:-moz-linear-gradient( center top, #555555 5%, #333333 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333');
	background-color:#555555;
}.site_button2:active {
	position:relative;
	top:1px;
}

.arrow-down {
	width: 0px; 
	height: 0px; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #ff0000;
}

span.dropt {border-bottom: thin dotted;}
span.dropt:hover {text-decoration: none; background: #ffffff; z-index: 6; }
span.dropt span {position: absolute;
  margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
  border-style:solid; border-color:black; border-width:1px; z-index: 6;}
span.dropt:hover span {left: 2%; background: #ffffff;} 
span.dropt span {position: absolute; left: -9999px;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; 
  border-style:solid; border-color:black; border-width:1px;}
span.dropt:hover span {margin: 20px 0 0 170px; background: #ffffff; z-index:6;}

#list { 
	padding:0; 
	margin:0;
	
} 
#list li { 
	list-style-type:none;
	font-family:'roboto_condensedregular';
	font-size:14px;
	list-style-type: disc;
	list-style-position:inside;
	margin:4px 25px 0 45px;
	text-indent:-15px;
	color:#333333;
} 

.wd_widget {
	font-family:'roboto_condensedbold';
	font-size:13px;
	margin:10px 10px 10px 25px;
	color:#333333;
	width:325px;
}

div.wd_quote div.wd_main {
display: inline-block;
text-align: left;
margin: 0;
padding: 0;
}

div.wd_quote {
width: auto;
overflow: auto;
box-sizing: border-box;
-moz-box-sizing: border-box;
margin: 0;
padding: 6px;
border: 1px solid #d4d4d4;
border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
-khtml-border-radius: 0;
}
