/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
/*caption, th, td {
	font-weight: normal;
	text-align: left;
}
*/blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


/* =Structure
----------------------------------------------- */

body {
	padding: 0 2em;
}
#page {
	margin: 1em auto;
	width: 1024px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
}
#branding hgroup {
	margin: 0 7.6%;
}
#access div {
	margin: 0 7.6%;
}
#primary_nav {
	
}
#primary {
	float: left;
	margin: 0 -26.4% 0 0;
	width: 100%;
}
#content {
	margin: 0 34% 0 7.6%;
	width: 58.4%;
}
#secondary {
	float: right;
	margin-right: 7.6%;
	width: 18.8%;
}

/* Singular */
.singular #primary {
	margin: 0;
}
.singular #content,
.left-sidebar.singular #content {
	margin: 0 7.6%;
	position: relative;
	width: auto;
}
.singular .entry-header,
.singular .entry-content,
.singular footer.entry-meta {
	margin: 0 auto;
	width: 68.9%;
}

/* Attachments */
.singular .image-attachment .entry-content {
	margin: 0 auto;
	width: auto;
}
.singular .image-attachment .entry-description {
	margin: 0 auto;
	width: 68.9%;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.25em;
	border: 0 !important;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
	margin-bottom: 0;
	border: 0 !important;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Right Content */
.left-sidebar #primary {
	float: right;
	margin: 0 0 0 -27%;
	width: 100%;
}
.left-sidebar #content, .left-sidebar #branding {
	margin: 0 0 0 29.5%;
	width: 70%;
}
.left-sidebar #secondary {
	float: left;
	margin-left: 2.25%;
	margin-right: 0;
	width: 24.5%;
}

/* One column */
.one-column #content {
	margin: 3.5% 3.5% 0;
	width: auto;
}
.one-column #nav-below {
	border-bottom: 1px solid #ddd;
	margin-bottom: 1.625em;
}
.one-column .post-header {
	background: url('Unknown_83_filename')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_content_wide_head.jpg*/ no-repeat;
}
.one-column .post-body {
	background: url('Unknown_83_filename')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_content_wide.jpg*/ repeat-y;
}

.one-column .five-column .post-body {
	padding-right: .1;
	background: url('Unknown_83_filename')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_content_wide_c5.jpg*/ repeat-y !important;
}

.one-column .five-column h1 {
	width: 90%;
	padding-bottom: .8em;
	background: #ffffff;
}

.one-column .five-column .entry-content {
	margin: 0;
	padding: 0;
	overflow: auto;
}

.one-column .five-column .c1,
.one-column .five-column .c2,
.one-column .five-column .c3,
.one-column .five-column .c4,
.one-column .five-column .c5 {
	margin-right: 30px;
	width: 160px;
	float: left;
}

.one-column .five-column .c1 {
	margin-right: 25px;
	width: 150px;
}

.one-column .five-column .c5 {
	margin-right: 0;
	width: 155px;
}


/* Remove the margin on singular articles */
.one-column.singular .entry-header,
.one-column.singular .entry-content,
.one-column.singular footer.entry-meta {
	width: 100%;
}
.one-column.singular .entry-meta .edit-link a {
	position: absolute;
	left: 0;
	top: 40px;
}

/* =Global
----------------------------------------------- */

body, input, textarea, th, td {
	color: #333333;
	font: 15px "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
	font-weight: 300;
	line-height: 1.625;
}
body {
	background: #f5f4ed;
}
#page {
	background: #fff;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
}

/* Text elements */
p {
	margin-bottom: .75em;
}
ul, ol {
	margin: 0 0 1em 2em;
}
ul {
	list-style: square;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 1.625em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.625em;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Forms */
input[type=text],
input[type=password],
textarea {
	background: #fafafa;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #ddd;
	color: #888;
}
input[type=text]:focus,
textarea:focus {
	color: #373737;
}
textarea {
	padding-left: 3px;
	width: 98%;
}
input[type=text] {
	padding: 3px;
}
input#s {
	background: url(../images/icons/search.png)/*tpa=http://www.reynoldsamerican.com/images/icons/search.png*/ no-repeat 5px 6px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	height: 22px;
	line-height: 1.2em;
	padding: 4px 10px 4px 28px;
}
input#searchsubmit {
	display: none;
}

/* Links */
a {
	color: #d96b16;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	color: #1982d1;
	text-decoration: underline;
}

/* =Menu
----------------------------------------------- */
#access .hmenu {
	margin: 0 50px 12px 0;
	float: right;
	font: 14px/0.8em "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
}
#access .hmenu a {
	color: #7d7d7d;
}
#access .hmenu a:hover, #access .hmenu li.active a {
	color: #d66220;
	text-decoration: none;
}

/* Assistive text */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #1982d1;
	clip: auto !important;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 7.6%;
}


/* =Hero
----------------------------------------------- */
#hero_flash, #hero {
	float: right;
}
#hero_tablet, #hero_mobile {
	display: none;
}
#hero_tablet_row_1 {
	width: 109px;
	height: 23px;
	background: url('../images/heros/tablet_row_1.png')/*tpa=http://www.reynoldsamerican.com/images/heros/tablet_row_1.png*/ no-repeat;
	z-index: 110;
}
#hero_tablet_row_2 {
	width: 247px;
	height: 38px;
	background: url('../images/heros/tablet_row_2.png')/*tpa=http://www.reynoldsamerican.com/images/heros/tablet_row_2.png*/ no-repeat;
	z-index: 105;
}
#hero_tablet_row_3 {
	width: 353px;
	height: 194px;
	background: url('../images/heros/tablet_row_3.png')/*tpa=http://www.reynoldsamerican.com/images/heros/tablet_row_3.png*/ no-repeat;
	z-index: 100;
}

/* =Header
----------------------------------------------- */

#branding {
	padding-bottom: 10px;
	position: relative;
	z-index: 2;
	float: right;
}
#site-title {
	margin-right: 270px;
	padding: 3.65625em 0 0;
}
#site-title a {
	color: #111;
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	text-decoration: none;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color: #1982d1;
}
#site-description {
	color: #7a7a7a;
	font-size: 14px;
	margin: 0 270px 3.65625em 0;
}
#branding img {
	height: auto;
	margin-bottom: -7px;
	width: 100%;
}

/* Search Form */
#header_widgets #searchform div {
	margin: 0;
}
#header_widgets #s {
	float: right;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
	width: 72px;
}
#header_widgets #s:focus {
	background-color: #f9f9f9;
	width: 196px;
}
#header_widgets #searchsubmit {
	display: none;
}

/* =Content
----------------------------------------------- */

#main {
	clear: both;
	padding: 1em 0 0;
}
/* Post wrappers */
.post-header {
	height: 16px;
	background: url('../images/layout/bg_content_head.jpg')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_content_head.jpg*/ no-repeat;
	clear: both;
}
.post-body {
	padding: 0 1.7em;
	background: url('../images/layout/bg_content.jpg')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_content.jpg*/ repeat-y;
}
.post-footer {
	background: url('../images/layout/bg_content_tail.jpg')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_content_tail.jpg*/ 0 2px no-repeat;
	height: 3px;
}
.page-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	margin: 0 0 2.6em;
	text-transform: uppercase;
}
.page-title a {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;
}
.hentry {
	/*border-bottom: 1px solid #ddd;*/
	margin: 0 0 1em 10px;
	position: relative;
}
.hentry:last-child {
	border-bottom: none;
}
.blog .sticky .entry-header .entry-meta {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.entry-title,
.entry-header .entry-meta {
	padding-right: 76px;
}
.entry-title {
	clear: both;
	padding-bottom: .1em;
	font: 24px/1.2em Verdana, Geneva, sans-serif;
}
.entry-title,
.entry-title a {
	color: #d96b16;
	text-decoration: none;
}
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
	color: #1982d1;
}
.entry-meta {
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a {
	font-weight: bold;
}
.entry-content,
.entry-summary {
	padding: 0.4em .5em 0 0;
}
.entry-content h1 {
	color: #d96b16;
	margin: 0 0 .4em;
	font: 24px/1.2em "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;

}
.entry-content h2 {
	color: #000;
	font-weight: bold;
	margin: 0 0 .8125em;
}
.entry-content h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #007aab;
}
.entry-content h4 {
	font-size: 12px;
	font-weight: bold;
	line-height: 2.6em;
	color: #d96b16;
}
.entry-content table {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1.625em;
	width: 100%;
}
.entry-content th {
	padding-bottom: .25em;
	color: #d96b16;
	letter-spacing: 0;
	font: 12px/1em "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.entry-content td {
	border-top: 1px solid #ddd;
	padding: 5px 3px;
	color: #666666;
	font: 12px/1em "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.entry-content .total td {
	padding: 7px 3px 15px;
	color: #106ca5;
}
.entry-content p {
	font: 11px/1.4em Verdana, Geneva, sans-serif;
	padding-left: 0px;
}
.entry-content #s {
	width: 75%;
}
.entry-divider {
	background: url('../images/layout/bg_content_tail.jpg')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_content_tail.jpg*/ 0 0 no-repeat;
	height: 1px;
	padding-left: 0px;
	margin-left: 0px;
	clear: both;
}
.entry-title-permalink {
	color: #007aab;
	font: bold 12px "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
}
.learn-more-permalink, .view-all-link {
	color: #d96b16;
	white-space: nowrap;
	font: 10px Verdana, Geneva, sans-serif;
}
.view-all-link {
	text-decoration: underline;
}
.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.625em;
}
.page-link a {
	background: #eee;
	color: #373737;
	margin: 0;
	padding: 2px 3px;
	text-decoration: none;
}
.page-link a:hover {
	background: #888;
	color: #fff;
	font-weight: bold;
}
.page-link span {
	margin-right: 6px;
}
.entry-meta .edit-link a {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	float: right;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: 300;
	text-decoration: none;
	padding: 0 8px;
}
.entry-meta .edit-link a:hover {
	background: #888;
	color: #fff;
}
.entry-content .edit-link {
	clear: both;
	display: block;
}

/* Images */
.entry-content img,
.widget img {
	max-width: 97.5%; /* Fluid images */
}
img[class*="align"] {
	height: auto; /* Make sure images with height and width attributes are scaled correctly */
}
img.size-full {
	max-width: 97.5%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}

img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: .1em;
}
p img {
	margin-top: 0.4em;
}
/* Image borders */
img[class*="align"] {/* Add fancy borders */
	border: 1px solid #ddd;
	padding: 6px;
}
a:focus img[class*="align"],
a:hover img[class*="align"],
a:active img[class*="align"] {/* Add some useful style to those fancy borders for linked images ... */
	background: #eee;
	border-color: #bbb;
}

/*
Post Formats Headings
To hide the headings, display: none the ".entry-header .entry-format" selector,
and remove the padding rules below.
*/
.entry-header .entry-format {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	position: absolute;
	text-transform: uppercase;
	top: -5px;
}
.entry-header hgroup .entry-title {
	padding-top: 15px;
}
article.format-aside .entry-content,
article.format-link .entry-content,
article.format-status .entry-content {
	padding: 20px 0 0;
}
.recent-posts .entry-header .entry-format {
	display: none;
}
.recent-posts .entry-header hgroup .entry-title {
	padding-top: 0;
}

/* Singular content styles for Posts and Pages */
.singular .hentry {
	border-bottom: none;
	padding: 4.875em 0 0;
	position: relative;
}
.singular.page .hentry {
	padding: 3.5em 0 0;
}
.singular .entry-title {
	color: #000;
	font-size: 36px;
	font-weight: bold;
	line-height: 48px;
}
.singular .entry-title,
.singular .entry-header .entry-meta {
	padding-right: 0;
}
.singular .entry-header .entry-meta {
	position: absolute;
	top: 0;
	left: 0;
}
.singular .entry-meta .edit-link a {
	bottom: auto;
	left: 50px;
	position: absolute;
	right: auto;
	top: 80px;
}





/* =Navigation
-------------------------------------------------------------- */

/* horizontal menu styles */
.hmenu {
	
}
.hmenu li {
	float: left;
	list-style: none;
}
.hmenu li a, .hmenu li span {
	display: block;
	padding: .35em .9em;
}
.hmenu li a:hover {
	text-decoration: underline;
}


/* vertical menu styles */
.vmenu {
	padding-top: 0.5em;
}
.vmenu li {
	list-style: none;
}
.vmenu li:first-child a {

}
.vmenu li:last-child {
	padding-bottom: 0;
}
.vmenu li a, .vmenu li span {
	display: block;
	padding: .2em;
	color: #4d4d4d;
	font-weight: bold;
}
.vmenu li a:hover {
	color: #d96b16;
	text-decoration: none;
}
.vmenu li li a, .vmenu li li span {
	font-weight: normal;
}
#leadership_menu .vmenu li a,
#responsibility_menu .vmenu li a,
#newsroom_menu .vmenu li a,
#investors_menu .vmenu li a,
#governance_menu .vmenu li a {
	border-bottom: 1px dashed #c6c6c6;
	margin: 0 0 0 .65em;
}
#leadership_menu .vmenu li li:last-child a,
#responsibility_menu .vmenu li li:last-child a,
#newsroom_menu .vmenu li li:last-child a,
#investors_menu .vmenu li li:last-child a,
#governance_menu .vmenu li li:last-child a {
	margin: 0 0 0 -0.65em;
	padding: 0.2em 0 0.2em 1.65em;
	border-bottom: 1px dashed #c6c6c6;
}
#leadership_menu .vmenu ul li a,
#responsibility_menu .vmenu ul li a,
#newsroom_menu .vmenu ul li a,
#investors_menu .vmenu ul li a,
#governance_menu .vmenu ul li a {
	border-bottom: 0;
}
#leadership_menu .vmenu li:hover,
#leadership_menu .vmenu li.active,
#responsibility_menu .vmenu li:hover,
#responsibility_menu .vmenu li.active,
#newsroom_menu .vmenu li:hover,
#newsroom_menu .vmenu li.active,
#investors_menu .vmenu li:hover,
#investors_menu .vmenu li.active,
#governance_menu .vmenu li:hover,
#governance_menu .vmenu li.active {
	background: url('../images/layout/arrow_orange_right.png')/*tpa=http://www.reynoldsamerican.com/images/layout/arrow_orange_right.png*/ 0 7px no-repeat;
}
#leadership_menu .vmenu li.active a,
#responsibility_menu .vmenu li.active a,
#newsroom_menu .vmenu li.active a,
#investors_menu .vmenu li.active a, #governance_menu .vmenu li.active a {
	color: #d96b16;
}

/* .five-column .vmenu */
.five-column .vmenu {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.five-column .vmenu a {
	margin: 0;
	padding: 0 0 .25em 0;
}
.five-column .vmenu ul {
	margin-left: 1em;
}

#content nav {
	clear: both;
	overflow: hidden;
	padding: 0 0 1.625em;
}
#content nav a {
	font-size: 12px;
	font-weight: bold;
	line-height: 2.2em;
}
#nav-above {
	padding: 0 0 1.625em;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#content nav .meta-nav {
	font-weight: normal;
}

/* Singular navigation */
#nav-single {
	float: right;
	position: relative;
	top: -0.3em;
	text-align: right;
	width: 100%;
	z-index: 1;
}
#nav-single .nav-previous,
#nav-single .nav-next {
	float: none;
	width: auto;
}
#nav-single .nav-next {
	padding-left: .5em;
}


/* =Widgets
----------------------------------------------- */
#header_widgets {
	float: right;
	height: 40px;
}

#header_widgets .widget {
	margin: 0;
	float: right;
	width: 150px;
	clear: none;
}

#header_widgets .searchbar {
	padding: 6px 0 0 0;
	float: right;
	width: 182px;
	clear: none;
}

.widget-area {
	font-size: 12px;
}
.widget {
	clear: both;
	margin: 0 0 2.2em;
}
.widget-header {
	padding: 0 1.5em;
	background: url('../images/layout/bg_sidebar_head.png')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_sidebar_head.png*/ no-repeat;
	height: 37px;
}
.widget-body {
	padding: 0 1.3em 0 1.4em;
	background: url('../images/layout/bg_sidebar.png')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_sidebar.png*/ repeat-y;
}
.widget-footer {
	background: url('../images/layout/bg_sidebar_tail.png')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_sidebar_tail.png*/ no-repeat;
	height: 22px;
}
.widget-title {
	color: #fff;
	text-align: center;
	font: bold 16px/2.5em "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
}
.widget ul {
	font-size: 12px;
	margin: 0 0 0 0;
}
.widget ul ul {
	margin-left: 0.65em;
}
.widget ul li {
	color: #777;
	font-size: 11px;
}
.widget a {
	text-decoration: none;
}
.widget a:hover,
.widget a:focus,
.widget a:active {
	text-decoration: underline;
}

/* Glass Widget */
.glass-widget {
	margin-top: 50px;
	margin-bottom: 50px;
}
.glass-widget .widget-header {
	background: url('../images/layout/bg_sidebar_glass_head.png')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_sidebar_glass_head.png*/ no-repeat;
	height: 17px;
}
.glass-widget .widget-body {
	background: url('../images/layout/bg_sidebar_glass.png')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_sidebar_glass.png*/ repeat-y;
}
.glass-widget .widget-footer {
	background: url('../images/layout/bg_sidebar_glass_tail.png')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_sidebar_glass_tail.png*/ no-repeat;
	height: 17px;
}

.glass-widget .widget-title, .glass-widget dl {
	font-size: 10px;
	line-height: 1.2em;
}

.glass-widget .widget-title {
	margin-bottom: 1em;
	color: #666;
	font-weight: normal;
	letter-spacing: auto;
	text-align: left;
	font-family: "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
}

.glass-widget dl {
	margin: 0;
}

.glass-widget dt, .glass-widget dt a {
	color: #d96b16;
	font-family: "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
}

.glass-widget dt {
	margin-bottom: .3em;
}

.glass-widget dt a {
	text-decoration: none;
}

.glass-widget dd {
	margin-bottom: 1.5em;
	overflow: auto;
	font: 9px Verdana, Geneva, sans-serif;
}

.glass-widget dd img {
	margin: 0 3px 0 0;
	float: left;
}

.glass-widget dd p {
	margin-left: 50px;
}

.glass-widget dl dd:last-child {
	margin-bottom: 0;
}

/* Micro Post Widget */
#micro_post_widget {
	margin: 15px 0 25px 1em;
	padding: 0 0 0 0px;
	overflow: auto;
	width: 62%;
}
#micro_post_widget .entry-title {
	padding-bottom: .25em;
	color: #d96b16;
	letter-spacing: 0;
	font: 14px/1.25em "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
}
#micro_post_widget .entry-content {
	padding-top: 0;
}

/* News Widget */
#news_widget {
	margin: 15px 30px 25px 2%;
	padding: 0 1em;
	float: right;
	width: 28%;
	background: url('../images/layout/bg_content.jpg')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_content.jpg*/ repeat-y;
	overflow: auto;
	clip: rect(auto,auto,auto,1em);
}
#news_widget .widget-header {
	padding: 0;
	background: transparent;
	height: auto;
}
#news_widget .widget-title {
	padding-bottom: .25em;
	color: #d96b16;
	letter-spacing: 0;
	text-align: left;
	font: normal 14px/1em "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
}
#news_widget ul {
	margin: 0;
}
#news_widget ul li {
	margin: 0 0 .4em 0;
	list-style-type: none;
}
#news_widget .entry-title, #news_widget .entry-date {
	color: #363636;
	font: 10px/1.4em "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
}
#news_widget .entry-title {
	width: 70%;
	letter-spacing: 0;
	clear: left;
}
#news_widget .entry-date {
	float: right;
	font-weight: bold;
}

/* Quick Links Widget */
.quick-links {
	width: 35%;
}
.quick-links ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.quick-links ul li {
	list-style-type: none;
}
.quick-links ul li h3 {
	color: #007aab;
	margin-top: 3px;
	font: normal 14px/1.2em "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
}
.quick-links ul li p {
	margin-bottom: 3px;
	font: 11px/1.4em Verdana, Geneva, sans-serif;
}
.quick-links .entry-divider {
	height: 1px;
}

/* Image Widget */
.image-widget {
	text-align: center;
}

/* Search Widget */
.widget_search form {
	margin: 0 0 1.625em;
}
.widget_search #s {
	width: 77%;
}
.widget_search #searchsubmit {
	background: #ddd;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	color: #888;
	font-size: 13px;
	line-height: 25px;
	position: relative;
	top: -2px;
}
.widget_search #searchsubmit:active {
	background: #1982d1;
	border-color: #0861a5;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	color: #bfddf3;
}

/* Shareholder Menu */
#shareholder_menu a {
	padding-left: 2em;
}
#shareholder_menu .briefcase a {
	background: url('../images/icons/briefcase.jpg')/*tpa=http://www.reynoldsamerican.com/images/icons/briefcase.jpg*/ 0 2px no-repeat;
}
#shareholder_menu .investor-kit a {
	background: url('../images/icons/investor_kit.jpg')/*tpa=http://www.reynoldsamerican.com/images/icons/investor_kit.jpg*/ 0 4px no-repeat;
}
#shareholder_menu .emails a {
	background: url('../images/icons/emails.jpg')/*tpa=http://www.reynoldsamerican.com/images/icons/emails.jpg*/ 0 5px no-repeat;
}
#shareholder_menu .downloads a {
	background: url('../images/icons/downloads.jpg')/*tpa=http://www.reynoldsamerican.com/images/icons/downloads.jpg*/ 0 4px no-repeat;
}
#shareholder_menu .rss a {
	background: url('../images/icons/rss.jpg')/*tpa=http://www.reynoldsamerican.com/images/icons/rss.jpg*/ 0 5px no-repeat;
}
#shareholder_menu .email a {
	background: url('../images/icons/email.jpg')/*tpa=http://www.reynoldsamerican.com/images/icons/email.jpg*/ 0 3px no-repeat;
}
#shareholder_menu .print a {
	background: url('../images/icons/print.jpg')/*tpa=http://www.reynoldsamerican.com/images/icons/print.jpg*/ 0 5px no-repeat;
}

/* Philanthropy Menu */
#philanthropy_menu li a {
	line-height: 1.2em;
}

/* =Footer
----------------------------------------------- */

#colophon {
	clear: both;
}

/* Site Generator Line */
#site-generator {
	background: url('../images/layout/bg_footer_gradient.jpg')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_footer_gradient.jpg*/ top repeat-x #d76421;
	border-top: 1px solid #ddd;
	color: #fff;
	text-align: center;
	overflow: auto;
	height: auto;
	font: 10px/2.8em Verdana, Geneva, sans-serif;
}
#site-generator a {
	color: #fff;
}
#site-generator .sep {
	background: url(Unknown_83_filename)/*tpa=http://www.reynoldsamerican.com/styles/images/generator.png*/ center left no-repeat;
	color: transparent;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	margin: 0 7px;
	width: 16px;
}
#site-generator .hmenu li:last-child {
	float: right;
}

/* =Interior Overrides
----------------------------------------------- */

.interior #logo {
	margin-top: 20px;
}

.interior .entry-content .entry-divider {
	margin-right: 50px;
	height: 10px;
}

.interior .quick-links .entry-divider {
	height: 1px;
}

.interior #content {
	margin-bottom: 50px;
}

.interior .stock-ticker {
	margin: 0 0 .1em 45px;
	float: right;
}


/* ReynoldsAmerican.com Overrides
----------------------------------------------- */
.wsh_expCol_Content, .entry-content li {
	margin-bottom: .75em;
	font: 11px/1.4em Verdana, Geneva, sans-serif;
}
.entry-content h5, .vmenu #spotlight h5 {
	padding-bottom: 0.5em;
	color: #d96b16;
	letter-spacing: 0;
	font: 14px/1em "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-top: .5em;
}
label {
	padding-bottom: .25em;
	color: #666666;
	font: 12px/1em "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
}
.entry-content .objectives h2 {
	padding-bottom: .25em;
	color: #666;
	letter-spacing: 0;
	font: normal 14px/1.5em "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
}
.entry-content .objectives #csrcol1 h4,
.entry-content .objectives #csrcol2 h4 {
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 2em;
}
.vmenu #spotlight,.vmenu #spotlight li {
	margin-bottom: .75em;
	font: 11px/1.4em Verdana, Geneva, sans-serif;
	list-style: disc;
}
.entry-content .objectives h1.extra {
font: 18px/1.4em Verdana, Geneva, sans-serif;
color: #007aab;
}
.entry-dividercsr {
	background: url('../images/layout/bg_content_tail.jpg')/*tpa=http://www.reynoldsamerican.com/images/layout/bg_content_tail.jpg*/ 0 0 no-repeat;
	height: 1px;
	padding-left: 0px;
	margin-left: 0px;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}
#csrcol2 h4, #csrcol1 h4 {
    margin: 0 0 10px;
    padding: 0;
}

#csrcol1 {
	float:right;
    padding: 0;
    width: 270px;
	padding:0 25px;
}
#csrcol2 {
	float: right;
	padding: 0;
	width: 270px;
	padding:0 25px;
}

