/* Reset
----------------------------------------------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; outline:0; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
*:focus {outline: none;}
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

body, input { font:12px/1.231 Arial, sans-serif; *font-size:small;  } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #333; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:visited {text-decoration:none;}
a:hover, a:active { outline: none; text-decoration:none; }
a, a:active { color: #45bdff; text-decoration:none;}
a:hover { color: #036;  }

ul, ol { margin-left: 1.8em; }

ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.ajax-loader { border:none; }

/* Custom Fonts
----------------------------------------------------------------------------------------------------*/

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 25, 2011 */
@font-face {
	font-family: 'MuseoSans700';
	src: url('fonts/museosans_700-webfont.eot')/*tpa=http://www.interpublic.com/css/www2011/fonts/museosans_700-webfont.eot*/;
	src: local('☺'), url('fonts/museosans_700-webfont.woff')/*tpa=http://www.interpublic.com/css/www2011/fonts/museosans_700-webfont.woff*/ format('woff'), url('fonts/museosans_700-webfont.ttf')/*tpa=http://www.interpublic.com/css/www2011/fonts/museosans_700-webfont.ttf*/ format('truetype'), url('fonts/museosans_700-webfont.svg#webfontKMQzsnDE')/*tpa=http://www.interpublic.com/css/www2011/fonts/museosans_700-webfont.svg#webfontKMQzsnDE*/ format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSans900';
	src: url('fonts/museosans_900-webfont.eot')/*tpa=http://www.interpublic.com/css/www2011/fonts/museosans_900-webfont.eot*/;
	src: local('☺'), url('fonts/museosans_900-webfont.woff')/*tpa=http://www.interpublic.com/css/www2011/fonts/museosans_900-webfont.woff*/ format('woff'), url('fonts/museosans_900-webfont.ttf')/*tpa=http://www.interpublic.com/css/www2011/fonts/museosans_900-webfont.ttf*/ format('truetype'), url('fonts/museosans_900-webfont.svg#webfonturhfVLvD')/*tpa=http://www.interpublic.com/css/www2011/fonts/museosans_900-webfont.svg#webfonturhfVLvD*/ format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSans100';
	src: url('fonts/museosans_100-webfont.eot')/*tpa=http://www.interpublic.com/css/www2011/fonts/museosans_100-webfont.eot*/;
	src: local('☺'), url('fonts/museosans_100-webfont.woff')/*tpa=http://www.interpublic.com/css/www2011/fonts/museosans_100-webfont.woff*/ format('woff'), url('fonts/museosans_100-webfont.ttf')/*tpa=http://www.interpublic.com/css/www2011/fonts/museosans_100-webfont.ttf*/ format('truetype'), url('fonts/museosans_100-webfont.svg#webfonturhfVLvD')/*tpa=http://www.interpublic.com/css/www2011/fonts/museosans_100-webfont.svg#webfonturhfVLvD*/ format('svg');
	font-weight: normal;
	font-style: normal;
}

	
/* Print Styles - see the rest in print.css
----------------------------------------------------------------------------------------------------*/
.print-only {
	display: none;
}

/* Global Formatting
----------------------------------------------------------------------------------------------------*/
.blue {
	color:#79bee9;
}

.red {
	color: #f30;
}

.pdf-grey {
	color: #666;
	font-size: 9px;
	text-transform: uppercase;
}

.left {
	float:left;
}

.right {
	float:right;
}

.margin-top-40 {
	margin-top:40px;
}

.margin-left-30 {
	margin-left:30px;
}

.margin-bottom-10 {
	margin-bottom:10px;
}

.margin-bottom-40 {
	margin-bottom:40px;
}

.margin-top-80 {
	margin-top:80px;
}

.image-caption {
	display:block;
}

/* Link Styles
----------------------------------------------------------------------------------------------------*/
a.download {
	background: url("../../images/www2011/download.png")/*tpa=http://www.interpublic.com/images/www2011/download.png*/ no-repeat 0 0;
	padding-left:17px;
}

a.view-all {
	display: block;
	float: left;
	padding-right: 17px;
	background: url("../../images/www2011/more-arrows.png")/*tpa=http://www.interpublic.com/images/www2011/more-arrows.png*/ no-repeat 100% -79px;
}

a span.arrow div.last,
a.arrow div.last {
	display: inline;
	padding-right: 15px;
	background: url("../../images/www2011/more-arrows.png")/*tpa=http://www.interpublic.com/images/www2011/more-arrows.png*/ no-repeat 100% -77px;
}

a.arrow {
	text-decoration: none;
}

a.arrow:hover span.first {
	text-decoration: underline;
}

a.arrow:hover div.last {
	text-decoration: none;
}

/* Forms
----------------------------------------------------------------------------------------------------*/
select {
	font-size: 13px;
	margin: 0 10px;
	padding: 4px 0;
}

div.our-agencies form#filter select option {
	margin: 3px;
}

/* Bullets
----------------------------------------------------------------------------------------------------*/
ul.orange-bullet {
	list-style-image : url(../../images/www2011/bullet-orange.png)/*tpa=http://www.interpublic.com/images/www2011/bullet-orange.png*/;
	padding: 0;
	margin: 0px 0px 0px 15px;
	list-style-type: disc;
}


ul.orange-bullet li {
	margin: 0px 0px 4px 0px;
	padding: 0;
	line-height: 18px;
}

/* Header
----------------------------------------------------------------------------------------------------*/
#header {
	background-color:#f1f8fd;
	height:120px;
	border-bottom:1px solid #e5e5e5;
	position:relative;
	z-index:200;
}

#header .content {
	width:980px;
	margin:0 auto;
	height:120px;
	background:url("../../images/www2011/bg-header-grey.png")/*tpa=http://www.interpublic.com/images/www2011/bg-header-grey.png*/ no-repeat 0 bottom;
}

#header .logo {
	float:left;
	margin:40px 0 0 20px;
}

.ie6 #header .logo {
	margin-left:15px;
}

/* Global Search
----------------------------------------------------------------------------------------------------*/
.global-search {
    background: url("../../images/www2011/bg-global-search.png")/*tpa=http://www.interpublic.com/images/www2011/bg-global-search.png*/ no-repeat 0 0;
	display: inline;
    width:180px;
	float:right;
	height:36px;	
	position: relative;
	float:right;
	top:-45px;
}

.global-search .search-field {
    background-color: transparent;
    border: medium none;
    color: #363636;
    float: left;
    font-size: 12px;
    height: 15px;
    margin: 10px 5px 0 15px;
    position: relative;
    width:125px;
}

.global-search .submit-query {
	background: url("../../images/www2011/bg-global-search.png")/*tpa=http://www.interpublic.com/images/www2011/bg-global-search.png*/ no-repeat right 0;
    border: 0 none;
    display: block;
	position: absolute;
	right: 0;
	line-height: 1000px;
    overflow: hidden;
    text-indent: -9999px;
    height: 36px;
    width: 26px;
	cursor:pointer;
}

.ie6 .global-search .submit-query {
	position:absolute;
	top:0px;
}


.logo a {
	display:block;
	text-indent: -9999px;
	background: url("../../images/www2011/logo.png")/*tpa=http://www.interpublic.com/images/www2011/logo.png*/ no-repeat 0 0;
	width:100px;
	height:52px;
}

/* Global Navigation
----------------------------------------------------------------------------------------------------*/
#global-nav {
	float: left;
	margin-top: 76px;
}

#global-nav, 
#global-nav ul { 
	list-style: none; 
	padding:0;
  margin-left: 10px;
}

#global-nav li.headlink { 
	float:left;
	margin-right:20px;
	position:relative;
}

#global-nav li.headlink a { 
	font-family: 'MuseoSans700', Arial, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#003366;
	display: block;
}

#global-nav li.headlink a.active {
	color:#79bde9;
}

#global-nav li.headlink a:hover {
	color:#79bee9;
}

#global-nav li.headlink:hover ul { 
	display: block; 
}

#global-nav li.headlink-about{
  margin-right: 7px;
}
#global-nav li.headlink-news {
  margin-right: 7px;
}
#global-nav li.headlink-investor-relations,
#global-nav li.headlink-careers {
	margin-right:0;
}

#global-nav li.headlink ul { 
	display: none;
	position: absolute;
	padding:10px 20px 10px 20px;
	margin:0;
	width:150px;
	left:-2px;
	top:20px;
	z-index: 9999;
}

#global-nav li.headlink ul li {
	padding:7px 0 7px 0;
	border-bottom:1px solid #1f507a;
}

#global-nav li.headlink ul li.last {
	border:none;
}

#global-nav li.headlink ul li a {
	color:#fff;
}

/* Global Navigation About Dropdown
----------------------------------------------------------------------------------------------------*/
#global-nav li.headlink-about ul { 
	background: url("../../images/www2011/bg-navi-about.png")/*tpa=http://www.interpublic.com/images/www2011/bg-navi-about.png*/ no-repeat;	
	height:190px;
}

.about-hover {
	background: url("../../images/www2011/bg-navi-about-active.png")/*tpa=http://www.interpublic.com/images/www2011/bg-navi-about-active.png*/ no-repeat -2px 0  !important;
	display:block;
	width:60px;
	height:15px;
	font-size:14px;
	padding:10px 8px 10px 15px;
	color:#79bee9 !important;
}

#nav-about {
	width:60px;
	height:15px;
	font-size:14px;
	padding:10px 5px 10px 15px;
	position:relative;
	top:-10px;
	background: url("../../images/www2011/about-arrow.png")/*tpa=http://www.interpublic.com/images/www2011/about-arrow.png*/ no-repeat 61px 16px;
}

/* Global Navigation Our Agencies Dropdown
----------------------------------------------------------------------------------------------------*/
#global-nav li.headlink-our-agencies ul { 
	background: url("../../images/www2011/bg-navi-investor.png")/*tpa=http://www.interpublic.com/images/www2011/bg-navi-investor.png*/ no-repeat;	
	height:60px;
}

#nav-our-agencies {
	width:105px;
	height:15px;
	font-size:14px;
	padding:10px 5px 10px 15px;
	position:relative;
	top:-10px;
	background: url("../../images/www2011/about-arrow.png")/*tpa=http://www.interpublic.com/images/www2011/about-arrow.png*/ no-repeat 107px 16px;
}
.our-agencies-hover {
	background: url("../../images/www2011/bg-navi-our-agencies-active.png")/*tpa=http://www.interpublic.com/images/www2011/bg-navi-our-agencies-active.png*/ no-repeat -2px 0  !important;
	display:block;
	width:105px;
	height:15px;
	font-size:14px;
	padding:10px 8px 10px 15px;
	color:#79bee9 !important;
}

/* Global Navigation Investor Relations Dropdown
----------------------------------------------------------------------------------------------------*/
#global-nav li.headlink-investor-relations ul { 
	background: url("../../images/www2011/bg-navi-investor.png")/*tpa=http://www.interpublic.com/images/www2011/bg-navi-investor.png*/ no-repeat;	
	height:190px;
}

#nav-investor-relations {
	width:135px;
	height:15px;
	font-size:14px;
	padding:10px 8px 10px 15px;
	position:relative;
	top:-10px;
	background: url("../../images/www2011/about-arrow.png")/*tpa=http://www.interpublic.com/images/www2011/about-arrow.png*/ no-repeat 136px 16px;
}
.investor-relations-hover {
	background: url("../../images/www2011/bg-navi-investor-active.png")/*tpa=http://www.interpublic.com/images/www2011/bg-navi-investor-active.png*/ no-repeat -2px 0  !important;
	display:block;
	width:135px;
	height:15px;
	font-size:14px;
	padding:10px 8px 10px 15px;
	color:#79bee9 !important;
}

/* Global Navigation Careers Dropdown
----------------------------------------------------------------------------------------------------*/
#global-nav li.headlink-careers ul { 
	background: url("../../images/www2011/bg-navi-about.png")/*tpa=http://www.interpublic.com/images/www2011/bg-navi-about.png*/ no-repeat;	
	height:155px;
}

#nav-careers {
	width:65px;
	height:15px;
	font-size:14px;
	padding:10px 8px 10px 15px;
	position:relative;
	top:-10px;
	background: url("../../images/www2011/about-arrow.png")/*tpa=http://www.interpublic.com/images/www2011/about-arrow.png*/ no-repeat 68px 16px;
}
.careers-hover {
	background: url("../../images/www2011/bg-navi-careers-active.png")/*tpa=http://www.interpublic.com/images/www2011/bg-navi-careers-active.png*/ no-repeat -2px 0  !important;
	display:block;
	width:65px;
	height:15px;
	font-size:14px;
	padding:10px 8px 10px 15px;
	color:#79bee9 !important;
}

/* Global Navigation Diversity Dropdown
----------------------------------------------------------------------------------------------------*/
#global-nav li.headlink-diversity ul { 
	background: url("../../images/www2011/bg-navi-investor.png")/*tpa=http://www.interpublic.com/images/www2011/bg-navi-investor.png*/ no-repeat;	
	height:170px;
}

#nav-diversity {
	width:75px;
	height:15px;
	font-size:14px;
	padding:10px 8px 10px 15px;
	position:relative;
	top:-10px;
	background: url("../../images/www2011/about-arrow.png")/*tpa=http://www.interpublic.com/images/www2011/about-arrow.png*/ no-repeat 76px 16px;
}
.diversity-hover {
	background: url("../../images/www2011/bg-navi-diversity-active.png")/*tpa=http://www.interpublic.com/images/www2011/bg-navi-diversity-active.png*/ no-repeat -2px 0  !important;
	display:block;
	width:130px;
	height:15px;
	font-size:14px;
	padding:10px 8px 10px 15px;
	color:#79bee9 !important;
}

/* Breadcrumbs
----------------------------------------------------------------------------------------------------*/
#breadcrumbs {
	padding:30px 0 0 0;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:8px;
}

#breadcrumbs ul {
	list-style-type: none;
}

#breadcrumbs ul li {
	float:left;
	color:#999;
	font-family: 'MuseoSans700', Arial, sans-serif;
	font-size:13px;
	display: inline;
    
}

#breadcrumbs a {
	color:#003366;
	padding-right:18px;
	background: url("../../images/www2011/icons.png")/*tpa=http://www.interpublic.com/images/www2011/icons.png*/ no-repeat right -16px;
}

/* Footer
----------------------------------------------------------------------------------------------------*/
#footer {	
	clear:both;
	bottom:0;
	background-color:#fff;
	padding-bottom:30px;
	border-top:1px solid #ccc;
	padding-top:20px;
	width:980px;
	margin:0 auto;
}

#footer a {
	text-decoration: none;
}

#footer .logo a {
	display:block;
	text-indent: -9999px;
	background: url("../../images/www2011/logo.png")/*tpa=http://www.interpublic.com/images/www2011/logo.png*/ no-repeat 0 bottom;
	width:57px;
	height:30px;
	margin:0 auto;	
}

#footer .logo img {
	margin:0 auto;
	display:block;
}

#footer ul {
	list-style-type: none;
	margin:10px auto;
	width:800px;
}

#footer li {
	float:left;
	color:#999;
	font-size:11px;
	
}

#footer li a {
	display:block;
	border-right:1px solid #a7a7a7;
	padding:0 10px 0 10px;
	font-size:11px;
	color:#999;
}

#footer li a.first {
	border-left:1px solid #a7a7a7;
	margin-left:10px;
}

#footer li a.last {
	border:none;
}

#footer li a:active, footer li a:visited {
	color:#999;
}

#footer li a:hover {
	text-decoration:underline;
}

#footer.sticky {
	position:fixed;
	bottom:0px;
	opacity:0.9;
	padding-bottom:10px;
	left: 50%;
	margin-left: -490px;
}

/* Headers
----------------------------------------------------------------------------------------------------*/
h1 {
	font-family: 'MuseoSans900', Arial, sans-serif;
	font-size:53px;
	font-weight: normal;
	letter-spacing: -2px;
	line-height: 1.0em;
	text-align:center;
	margin:45px auto 10px;
  width: 600px;
  padding-bottom: 5px;
}

/* for older browsers */
.no-fontface h1,
.no-fontface h2,
.no-fontface h3,
.no-fontface h4 {
	font-weight:bold;
}


h2 {
	font-family: 'MuseoSans900', Arial, sans-serif;
	font-size:19px;
	font-weight:normal;
}

h2.title-more {
	text-align: center;
}

h3 {
	font-family: 'MuseoSans900', Arial, sans-serif;
	font-size:19px;
	font-weight:normal;
}

h4 {
	font-family: 'MuseoSans900', Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	margin-bottom:5px;
}

/* Content Block Module
----------------------------------------------------------------------------------------------------*/
.content-block {
	width:250px;
	background-color:#afd7f2;
	padding:80px 30px 10px 40px;
	position:relative;
}

.content-block-header {
	width:135px;
	height:65px;
	background-color:#539fdd;
	opacity:0.8;
	position:absolute;
	top:-12px;
	left:12px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.content-block h3 {
	font-size:14px;
}

.content-block-header h3 {
	color:#fff;
	padding: 40px 0 0 16px;
}

.content-block-content h3 {
	padding-bottom: 8px;
}

.content-block-content p {
	padding-bottom: 20px;
}

/* Share Module
----------------------------------------------------------------------------------------------------*/
#share iframe {
	margin-top:3px;
}

#share .addthis_toolbox, #share .print {
	float:left;
	margin-right:10px;
}

#share .print {
	cursor:pointer;
	margin-right:10px;
}



/* Main Content Styles
----------------------------------------------------------------------------------------------------*/
div#main {
	width:980px;
	margin:0 auto;
	position:relative;
}

div#main p {
	line-height:19px;
}

div#main .intro {
	font-family: Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	text-align:center;
	margin:0 auto;
	padding-bottom: 10px;
  width: 480px;
}

div#main .intro p {
	padding-bottom: 10px;
}

div#content {
	width:980px;
	margin:38px 0 30px 0;
}

div#content.divider {
	border-top: 3px solid #E5E5E5;
	margin-top: 40px;
	padding-top: 26px;
}

div#content div.section {
	width: 940px;
	padding: 0 20px 40px;
	border-bottom: 3px solid #e5e5e5;
	margin-bottom: 40px;
}

div#content div.section h2 {
	text-align: center;
}


/* Two Column Layout
----------------------------------------------------------------------------------------------------*/

div#content div.two-columns {
	margin: 0px 20px 50px;
	background: url("../../images/www2011/bg-two-column.png")/*tpa=http://www.interpublic.com/images/www2011/bg-two-column.png*/ repeat-y 0px 0px;
}

div#content div.two-columns div.left-column,
div#content div.two-columns div.right-column {
	float: left;
	width: 425px;
}

div#content div.two-columns div.left-column {
	padding-right: 45px;
}

div#content div.two-columns div.right-column {
	padding-left: 45px;
}


/* About Module
----------------------------------------------------------------------------------------------------*/
div#about {
	width: 220px;
}

div#about #panel-header {
	display: block;
	height: 45px;
	border-top: 1px solid #e4f2fb;
	border-bottom: 1px solid #a1c5dd;
	background: url("../../images/www2011/about/bg-panel-header.png")/*tpa=http://www.interpublic.com/images/www2011/about/bg-panel-header.png*/ no-repeat;
	overflow:hidden;
}

div#about .active {
	background: url("../../images/www2011/about/bg-panel-header.png")/*tpa=http://www.interpublic.com/images/www2011/about/bg-panel-header.png*/ no-repeat 0 -48px !important;
}

.agency-landing div#about #panel-header {
	background: url("../../images/www2011/about/bg-panel-header-no-arrow.png")/*tpa=http://www.interpublic.com/images/www2011/about/bg-panel-header-no-arrow.png*/ no-repeat;
}

div#about #panel-header h3 {
	padding: 10px 30px 0px 20px;
	font-size: 11px;
	font-family: 'MuseoSans700',Arial,sans-serif;
	color:#fff;
	cursor:pointer;
	
}

div#about#panel-header h3 .panel-toggle {
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	right:8px;
	top:10px;
}

div#about #panel-header h3 a {
	color: #fff !important;
}

div#about div#module-content {
	padding: 20px 20px 30px 20px;
	background: #e5f5ff;
	-moz-box-shadow: 0px 2px 5px #ccc;
	-webkit-box-shadow: 0px 2px 5px #ccc;
	box-shadow: 0px 2px 5px #ccc;
}

div#about div#module-content a.visit-site {
	display: block;
	width: 110px;
	height: 32px;
	margin: 14px auto 20px auto;
	background: url("../../images/www2011/btn-view-site.png")/*tpa=http://www.interpublic.com/images/www2011/btn-view-site.png*/ no-repeat 0px 0px;
	text-indent: -10000px;
}

div#about div#module-content div.share {
	width: 180px;
	margin-bottom: 25px;
	overflow: hidden;
}

div#about div#module-content div.share ul {
	width: 188px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#about div#module-content div.share ul li {
	float: left;
	width: 86px;
	margin: 0 8px 10px 0;
	border-bottom: 1px solid #cedce5;
	font-size: 12px;
}

div#about div#module-content div.share ul li.last {
	margin: 0 0 10px 0;
}

div#about div#module-content div.share ul li a {
	display: block;
	padding: 0px 0px 8px 0px;
	color: #036;
}

div#about div#module-content div.list {
	margin-bottom: 25px;
}

div#about div#module-content div.list ul {
	padding: 0;
	margin: 0px 0px 0px 15px;
}

div#about div#module-content div.list ul li {
	margin: 0px 0px 4px 0px;
	padding: 0;
}

div#about div#module-content div.list a.more {
	margin-top: 2px;
}

div#about div#module-content div.cta a.view-all {
	font-size: 14px;
	background: url("../../images/www2011/more-arrows.png")/*tpa=http://www.interpublic.com/images/www2011/more-arrows.png*/ no-repeat 100% -77px;
}


/* View More Module
----------------------------------------------------------------------------------------------------*/
div.more-content div.more-inner-content {
	display: none;
}

a.more {
	padding-right: 17px;
	background: url("../../images/www2011/more-arrows.png")/*tpa=http://www.interpublic.com/images/www2011/more-arrows.png*/ no-repeat 100% 2px;
}

/* Locations Page
----------------------------------------------------------------------------------------------------*/
div#locations h2 {
	width: 980px;
	margin-left: -20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

div#locations ul.viewing {
	list-style-type: none;
	margin: 14px 0 12px 0;
	padding: 0;
}

div#locations ul.viewing li.hdr {
	float: left;
  margin-left: 30px;
	margin-right: 10px;
	padding: 4px 15px 5px 0;
	font-size: 13px;
	color: #4c4c4c;
	font-family: 'MuseoSans700', Arial, sans-serif;
}
div#locations ul.viewing li.first {
  margin-left: 0px;
}

div#locations ul.viewing li {
	float: left;
	margin-right: 15px;
	font-size: 11px;
}

div#locations ul.viewing li a {
	display: block;
	padding: 6px 15px;
	color: #042243;
}

div#locations ul.viewing li.selected {
	background: url(../../images/www2011/locations/viewing-selected-bg.png)/*tpa=http://www.interpublic.com/images/www2011/locations/viewing-selected-bg.png*/ no-repeat 0 0;
}

div#locations ul li.selected a {
	background: url(../../images/www2011/locations/viewing-selected-end.png)/*tpa=http://www.interpublic.com/images/www2011/locations/viewing-selected-end.png*/ no-repeat 100% 0;
	color: #fff;
}

div#locations ul li.selected a:hover {
	color: #fff;
	text-decoration: none;
}
	
div#locations div#map-canvas {
	width: 940px;
	height: 420px;
}

div#locations ul.addresses {
	list-style-type: none;
	width: 940px;
	margin: 0;
	padding: 0;
}

div#locations ul.addresses li {
	float: left;
	width: 185px;
	padding: 0 20px 0 40px;
	margin-top: 40px;
	font-size: 13px;
	font-family: Arial, sans-serif;
	line-height: 18px;
	border-left: 1px solid #d2d2d2;
}

div#locations ul.addresses li span.red {
	font-weight:bold;
}

div#locations ul.addresses li.first {
	width: 185px;
	padding: 0 20px 0 0;
	border-left: 0;
}

div#locations ul.addresses li.last {
	width: 179px;
	padding: 0 0 0 40px;
}

div.info-box {
	width: 350px;
	padding: 5px;
	overflow:hidden; 
}

div.info-box h3 {
	font-family: 'MuseoSans700', Arial, sans-serif;
	font-size: 13px;
	margin: 0 0 10px 0;
	text-align: center;
}

div.info-box div.form-row {
	width: 300px;
	margin-bottom: 10px;
}

div.info-box label {
	float: left;
	width: 100px;
	font-family: 'MuseoSans700', Arial, sans-serif;
	font-size: 13px;
}

div.info-box div.input-box {
	float: left;
	width: 200px;
	color: #666;
}

div.info-box div.input-box input {
	width: 200px;
}

/* More Case Studies Module
----------------------------------------------------------------------------------------------------*/
#more-content {
	border-top:1px solid #ccc;
	clear: both;
	padding-top:40px;
	margin-bottom: 50px;
}

div#content .more-case-studies p {
	font-size:12px;
	line-height: normal;
	padding-bottom:0;
}

.more-case-studies h2 {
	border-bottom:1px solid #ccc;
	padding-bottom:12px;
}

.more-case-studies ul {
	background:#ebf5fc;
	margin:0;
	padding:14px 0;
}

.more-case-studies li {
	float:left;
	list-style:none;
	padding-left:40px;
	width:430px;
}

.more-case-studies .case-thumb {
	float:left;
	margin:0 10px 10px 0;
}

.more-case-studies .nav {
	color:#666;
	display:block;
	font-size:10px;
	font-weight: bold;
}

.more-case-studies .case {
	font-family: 'MuseoSans900',Arial,sans-serif;
	font-size:14px;
	color:#003366;
	display:block;
}

.more-case-studies a {
	text-decoration:none !important;
	display:block;
}

.more-case-studies a:hover .case {
	text-decoration:underline;
}

.more-case-studies .type {
	font-size:10px;
	color:#666;
}

.more-case-studies .agency {
	font-size:12px;
	color:#666;
}

/* Tooltip
----------------------------------------------------------------------------------------------------*/
div.tooltip {
	display: none;
	position: absolute;
	width: 373px;
	z-index: 1000;
}

div.tooltip div.tooltip-inner {
	padding: 20px 20px 25px 20px;
	background: url(../../images/www2011/tooltip-bg.png)/*tpa=http://www.interpublic.com/images/www2011/tooltip-bg.png*/ repeat-y;
	text-align: center;
}


/* Scroll To Top
----------------------------------------------------------------------------------------------------*/
.scroll-top {
	padding-right:15px;
	background:url("../../images/www2011/scroll-top.png")/*tpa=http://www.interpublic.com/images/www2011/scroll-top.png*/ no-repeat right 2px;
}

/* Assets Module
----------------------------------------------------------------------------------------------------*/
.assets h3 {
	text-align:left;
	border:none;
	padding:0;
	margin:0 0 30px 0;
}

.assets h4 {
	padding:10px 10px 0 15px !important;
	margin-bottom:0px;
}

.assets strong {
	font-size:12px;
}

.assets a,
.assets span {
	color:#003366;
	font-family: 'MuseoSans700', Arial, sans-serif;
}

.assets ul {
	list-style-type:none;
	background-color:#e5f5ff;
	padding:10px 10px 10px 15px !important;
	width:220px;
	margin-left:0;
}

.assets ul li {
	padding:10px 10px 10px 0 !important;
	border-bottom:1px solid #d8e0e5;
	border-right:none;
	margin:0;
	height:auto;
	float:none !important;
}

.assets li.download {
	background: url("../../images/www2011/download.png")/*tpa=http://www.interpublic.com/images/www2011/download.png*/ no-repeat 0 1px;
	margin:15px 0 0 0 !important;
	padding:0 0 10px 20px !important;
	line-height:1.5em;
}

.assets li.first {
	margin-top:0;
	padding-top:0 !important;
}

.assets li.last {
	border-bottom:none !important;
}

.assets li.download a:hover {
	text-decoration:none !important;
}

.assets li.download a:hover span.caption {
	text-decoration:underline;
}

.assets li.download span.file-type {
	color:#333333;
}

.assets li.asset-subtitle {
	border-bottom:none !important;
	
}

.assets ul li.last {
	border-bottom:none;
	margin-bottom:15px !important;
}

/* Additional Information Module
----------------------------------------------------------------------------------------------------*/
#mod-additional-information  {
	border-top:none;
	padding-top:0;
  padding-bottom: 30px;
	width: 680px;
	margin: 0px 20px 0 0;
}

#mod-additional-information h3 {
	margin-bottom:10px;
}

#mod-additional-information ul {
	list-style-type:none;
	margin:0;
}

#mod-additional-information li {
	padding:5px 0 10px 0;
	border-bottom:1px solid #e5e5e5;
}

#mod-additional-information li.last {
	border:none;
}

#mod-additional-information a {
	font-family: Arial, sans-serif;
	font-size:14px;
	padding-right: 15px;
}

#mod-additional-information h3 {
	 font-size:16px;
	 text-align:left;
}

#mod-additional-information ul li img {
  float: left;
  margin-right: 15px;
}

#mod-additional-information span.magazine,
#mod-additional-information span.category {
	font-family: Arial, sans-serif;
	font-weight:bold;
	color:#f73f30;
	text-transform:uppercase;
	font-size:10px;
	display:block;
}

#mod-additional-information span.date {
	display:block;
	color:#666;
	font-family: Arial, sans-serif;
}

/* Content Block Table Module
----------------------------------------------------------------------------------------------------*/ 
div#content .content-block {
	float:left;
	width:280px;
	margin: 12px 60px 20px 0;
}

div#content .content-block.right {
	float:right;
	margin: 12px 0 20px 60px;
}

div#content .content-block .content-block-inner h2 {
	font: 46px/0.8 'MuseoSans100', 'HelveticaNeue-UltraLight','Helvetica Neue UltraLight','Helvetica Neue',Arial,Helvetica,sans-serif;
	font-weight:100;
	text-align: right;
	margin: 0px 26px 0px 0px;
}

div#content .content-block .content-block-inner table {
	margin:0;
	padding: 0;
}
	
div#content .content-block .content-block-inner table tr td  {
	list-style:none;
	padding: 0px 0px 26px 0px;
}

div#content .content-block .content-block-inner p {
	font-size:12px;
	padding-bottom:0;
}

span.dyn_confirm {
  color: red;
  font-size: smaller;
}

/* www2011 admin dynamic content 
----------------------------------------------------------------------------------------------------*/ 
input.input_dyn_text {
font-size: 12px;
}
input.save_dyn_text {
font-size: 12px;
}
textarea.input_dyn_mtext {
width: 250px;
height: 100px;
}
#dyn_content_menu {
width: 90%;
display: none;
}
#dyn_content_menu a.hidden {
display: none;
}
#dyn_content_menu a {
color: #003366;
font-family: 'MuseoSans700',Arial,sans-serif;
font-size: 14px;
}
span.dyn_pub a.dyn_publication {
  font-family: Arial, sans-serif;
  font-size: 12px;
}