/* Homepage Template
----------------------------------------------------------------------------------------------------*/
body, #header {
	background:none;
}

#main {
	margin-top:100px;
	margin-bottom:40px;
}

#header .content {
	background:url("../../images/www2011/bg-header-white.png")/*tpa=http://www.interpublic.com/images/www2011/bg-header-white.png*/ no-repeat 0 bottom;
}

#header .global-search {
	background:url("../../images/www2011/bg-global-search-hp.png")/*tpa=http://www.interpublic.com/images/www2011/bg-global-search-hp.png*/ no-repeat;
}

#header .global-search .submit-query {
	background:url("../../images/www2011/bg-global-search-hp.png")/*tpa=http://www.interpublic.com/images/www2011/bg-global-search-hp.png*/ no-repeat right 0;
}

.logo img {
	top:-1px;
	position:relative;

}

#header .logo a {
	background-image: url("../../images/www2011/logo-home.png")/*tpa=http://www.interpublic.com/images/www2011/logo-home.png*/;
}

div#main {
	width: 100%;
}

#footer {
	padding-top: 30px;
}


/* Main Content
----------------------------------------------------------------------------------------------------*/
div#content {
	width: 100%;
	margin: 0px;
}

p {
	font-size: 16px;
	line-height: 16px;
	width: 560px;
	display: block;
	margin: auto;
}

.logo-huge {
	position: relative;
	top: 90px;
}

.announcements {
	width: 100%;
	text-align: center;
  margin: 0;
}

.announcements-list {
	text-align: left;
	margin: 0 auto;
	width: 980px;
	clear: both;
	overflow: hidden;
	padding: 25px 0 30px;
}

.announcement {
	width: 300px;
	margin-left: 20px;
	float: left;
}

.announcement:first-child {
	margin-left: 0px;
}

.announcement p {
	width: 100%;
  margin: 0px;
  padding: 0px;
}

.announcement .title {
	font-size: 11px;
	font-weight: bold;
	color: #232323;
	font-family: 'MuseoSans700', Arial, sans-serif;
	margin-bottom: 5px;
}

.announcement .description {
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 5px;
	color: #646464;
}

.announcement .description p {
  font-size: 14px;
}

.announcement .post-date {
	font-size: 11px;
	color: #848484;
}

.see-all-news {
	display: block;
	font-family: 'MuseoSans700', Arial, sans-serif;
	background:url("../../images/www2011/homepage-sprite.png")/*tpa=http://www.interpublic.com/images/www2011/homepage-sprite.png*/ no-repeat left -140px transparent;
	width: 195px;
	height: 45px;
	line-height: 42px;
	font-size: 16px;
	color: #959B9E;
	text-align: center;
	margin: 0 auto;
	margin-bottom: -25px;
	cursor: pointer;
}

.see-all-news:hover {
	color: #959B9E;
}


/* Carousel Styles
------------------------------------------------------------------------------ */

.carousel {
	height: 427px;
	margin: 0 auto;
  min-width: 980px;
	max-width: 1280px;
	/*overflow: hidden;*/
	position: relative;
}

.blue-background {
	background-color: #007cc0;
	width: 100%;
	height: 100%;
	position: absolute;
}

#scroll-pane { 
	position:absolute;
	overflow: hidden;
	width: 100%; 
	height:427px; 
	background:none; 
}

#scroll-content { 
	height:427px; 
	position:absolute;
}

.scroll-item { 
	position: relative;
	width: 1280px; 
	height: 427px; 
	float: left;
	background:none;
	line-height:1;
  overflow: hidden;
}

.scroll-item .semi-transparent {
	opacity: .55;
	filter:alpha(opacity=55);
}

.scroll-item .carousel-text, .scroll-item .agency-logo {
	position: relative;
	text-align: center;
	color: white;
}

.scroll-item .agency-logo {
	height: 200px;
	top: -368px;
}

.scroll-item h2 {
	font-size: 90px;
	line-height: 95px;
	letter-spacing: -1px;
	position: relative;
	top: 85px;
}

.scroll-item .carousel-text {
	top: -368px;
  font-weight: bold;
}

.scroll-item .carousel-text p {
  font-size: 14px;
}

.scroll-item a.arrow-link {
	background:url("../../images/www2011/homepage-sprite.png")/*tpa=http://www.interpublic.com/images/www2011/homepage-sprite.png*/ no-repeat right -102px transparent;
	padding: 0px 15px 0 0;
	color: white;
	font-size: 16px;
	line-height: 18px;
	display: inline-block;
	text-align: right;
	width: auto;
	margin: 18px auto 0px;
}

#slider-navigation {
	z-index: 2;
}

#slider-navigation .next, #slider-navigation .prev  {
	top: 185px;
	height: 60px;
	width: 60px;
	opacity: .8;
} 

#slider-navigation .next {
  position: absolute;
	right: 0px;
	background:url("../../images/www2011/homepage-sprite.png")/*tpa=http://www.interpublic.com/images/www2011/homepage-sprite.png*/ no-repeat 27px -38px #003967;
}

#slider-navigation .prev {
  position: absolute;
	left: 0px;
	background:url("../../images/www2011/homepage-sprite.png")/*tpa=http://www.interpublic.com/images/www2011/homepage-sprite.png*/ no-repeat 20px 13px #003967;
}


