@charset "utf-8";
/* CSS Document */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    line-height: 18px;
    background-image: url(../images/bkg_home.jpg)/*tpa=http://www.mosaicco.com/images/bkg_home.jpg*/;
    background-position: center top;
    background-color: #FFFFFF;
}
div.content {
    background-image: url(../images/billboard_bkg.png)/*tpa=http://www.mosaicco.com/images/billboard_bkg.png*/;
    background-repeat: no-repeat;
    width: 980px;
    background-position: left top;
    float: left;
    margin: 0px;
    padding-top: 0px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-left: 12px;
}
h2 {
    color:#00544D;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
}
div.home-intro p{
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
}
div.home-intro a.video{
    background-image: url(../images/btn_video.png)/*tpa=http://www.mosaicco.com/images/btn_video.png*/;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 96px;
    width: 238px;
    text-indent: -9999px;
    display: block;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
}
div.home-intro a.video:hover{
    background-position: 0px -96px;
}
.billboard{
    width: 659px;
    height: 384px;
    margin: 0px;
    padding: 0px;
    float: left;
}
div.home-stockquote {
    width: 249px;
    margin-top: 0px;
    padding-top: 9px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font-size: 12px;
    height: 24px;
    float: left;
    margin-left: 250px;
    margin-right: 20px;
    color: #4d4f53;
}
div.home-stockquote span.stock{
    font-weight: bold;
}
div.home-stockquote img{
    margin-left: 5px;
}
div.home-stockquote div.line {
    width: 120px;
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 5px 0px;
    border-bottom: solid 1px #dad188;
}
.social-media{
    background-image: url(../images/social_media_bkg.gif)/*tpa=http://www.mosaicco.com/images/social_media_bkg.gif*/;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 980px;
    clear: left;
    float: left;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 19px;
}
.social-media-icons{
    float: left;
    height: 35px;
    padding-top: 3px;
}
.social-media-icons img{
    float: left;
    margin-right: 10px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    margin-top: 0px;
}
div.footer {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#7a746a;
    display: block;
    width: 980px;
    float: left;
    margin: 0px;
    clear: left;
    height: 27px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-left: 12px;
    background-image: none;
}