/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully Masterminded by ZURB */
/* 
 * Jared Utley - Base.css built on fundamentals from Foundation by ZURB, 
 * but grid modified to fit aep.com, and many items removed or repurposed 
 */

/*	-------------------------------------------------- 
 Table of Contents
-----------------------------------------------------
:: Web Fonts
:: Reset & Standards
:: Body
:: Links
:: Lists
:: Tables
:: Misc
:: Typography
:: Grid
:: Navigation
:: Block grids
:: Buttons
:: Tabs

:: Tablet Grid
:: Mobile Grid
*/
/*	--------------------------------------------------
	:: Web Fonts
	-------------------------------------------------- */
/* 
5/7/2012 - Generated from fonts.com
5/8/2012 - Updated to use the Fontspring @font-face syntax: http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax
*/
@font-face {
	font-family: 'Avenir LT W01 35 Light';
	src:	url('../../fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot-#iefix')/*tpa=http://www.aep.com/lib/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix*/ format('embedded-opentype'), 
			url('../../fonts/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff')/*tpa=http://www.aep.com/lib/fonts/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff*/ format('woff'), 
			url('../../fonts/3e419b5b-c789-488d-84cf-a64009cc308e.ttf')/*tpa=http://www.aep.com/lib/fonts/3e419b5b-c789-488d-84cf-a64009cc308e.ttf*/ format('truetype');
}
@font-face {
	font-family: 'Avenir LT W01 55 Roman';
	src:	url('../../fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot-#iefix')/*tpa=http://www.aep.com/lib/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix*/ format('embedded-opentype'), 
			url('../../fonts/b9ebb19d-88c1-4cbd-9baf-cf51972422ec.woff')/*tpa=http://www.aep.com/lib/fonts/b9ebb19d-88c1-4cbd-9baf-cf51972422ec.woff*/ format('woff'), 
			url('../../fonts/5ed4f98e-9044-4810-88ff-74d412c1351f.ttf')/*tpa=http://www.aep.com/lib/fonts/5ed4f98e-9044-4810-88ff-74d412c1351f.ttf*/ format('truetype');
}
@font-face {
	font-family: 'Avenir LT W01 85 Heavy';
	src:	url('../../fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot-#iefix')/*tpa=http://www.aep.com/lib/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix*/ format('embedded-opentype'), 
			url('../../fonts/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff')/*tpa=http://www.aep.com/lib/fonts/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff*/ format('woff'), 
			url('../../fonts/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf')/*tpa=http://www.aep.com/lib/fonts/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf*/ format('truetype');
}

/*	--------------------------------------------------
	:: Global Reset & Standards
	-------------------------------------------------- */
	/* 
		Eric Meyer's CSS Reset
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
   		License: none (public domain)
	*/
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
	}
	html {
		font-size: 62.5%; 
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	sub {vertical-align: sub;}
	sup {vertical-align: super;}
	
/*	--------------------------------------------------
	:: Body
	-------------------------------------------------- */	
	body { 
		background: #fff; 
		font-family: "Avenir LT W01 55 Roman", Arial, Helvetica, sans-serif; 
		font-size: 14px; font-size: 1.4rem; 
		line-height: 18px; 
		color: #000; 
		position: relative; 
		-webkit-font-smoothing: antialiased; 
	}
	
/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */
	a { color: #007eff; text-decoration: none; line-height: inherit; }
	a:hover { }
	a:focus { outline: none; }
	p a, p a:visited { line-height: inherit; }	

/*	--------------------------------------------------
	:: Lists
	-------------------------------------------------- */
	ul, ol { margin-bottom: 18px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	li { margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	ul.flush-li li { margin-bottom: 0; }

/*	--------------------------------------------------
	:: Tables
	-------------------------------------------------- */
	

/*	-------------------------------------------------- 
	:: Misc
	---------------------------------------------------*/
	.left        { float: left; }
	.right, .column.right, .columns.right { float: right; }
	.text-left   { text-align: left; }
	.text-right  { text-align: right; }
	.text-center { text-align: center; }
	.hide        { display: none; }
	.highlight   { background: #ff0; }
		
	#googlemap img, object, embed { max-width: none; }

	#map_canvas embed { max-width: none; }
	#map_canvas img { max-width: none; }
	#map_canvas object { max-width: none; }
	
	
/*	--------------------------------------------------
    :: Typography
	-------------------------------------------------- */
	/* Use of rem units based on html 65.5%   */
	h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.25; color: #394a59; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

	p { font-size: 14px; font-size: 1.4rem; line-height: 1.25; margin: 0 0 18px; }
	p img { margin: 0; }
	/*p.lead { font-size: 18px; font-size: 1.8rem; line-height: 1.5;  }*/
	
	em, i { font-style: italic; line-height: inherit; }
	strong, b { font-weight: bold; line-height: inherit; }
	small { font-size: 85%; line-height: inherit; }
	
	h1 small, h2 small, h3 small, h4 small, h5 small { color: #777; }
	
	/*	Blockquotes  */
	blockquote, blockquote p { line-height: 20px; color: #777; }
	blockquote { margin: 0 0 18px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; font-size: 1.2rem; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited { color: #555; }
	
	/* Horizontal Rule */
	hr { border: solid #dbdbdb; border-width: 1px 0 0; clear: both; margin: 12px 0 18px; height: 0; }
	
	abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222; border-bottom: 1px solid #ddd; cursor: help; }
	abbr { text-transform: none; }
	
/*	--------------------------------------------------
    :: Print
		Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
		Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
	-------------------------------------------------- */
	.print-only { display: none !important; }
	@media print {
		* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
		-ms-filter: none !important; } /!* Black prints faster: sanbeiji.com/archives/953 *!/
		p a, p a:visited { color: #444 !important; text-decoration: underline; }
		/*p a[href]:after { content: " (" attr(href) ")"; }*/
		abbr[title]:after { content: " (" attr(title) ")"; }
		.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /!* Don't show links for images, or javascript/internal links *!/
		pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
		thead { display: table-header-group; } /!* css-discuss.incutio.com/wiki/Printing_Tables *!/
		tr, img { page-break-inside: avoid; }
		@page { margin: 0.5cm; }
		p, h2, h3 { orphans: 3; widows: 3; }
		h2, h3{ page-break-after: avoid; }
		.hide-on-print { display: none !important; }
		.print-only { display: block !important; }
	}
	
/*	--------------------------------------------------
    :: Grid
	-------------------------------------------------- */
	.container { padding: 0; }
	
	.row { width: 100%; max-width: 930px; min-width: 401px; margin: 0 auto; }
	/* To fix the grid into a certain size, set max-width to width */
	.row .row { min-width: 0; }
	
	.column, .columns { float: left; min-height: 1px; position: relative; }	/* 30 / 930 ~= 3.2% */
	.column:first-child, .columns:first-child { margin-left: 0; }
	[class*="column"] + [class*="column"]:last-child { float: right; margin-left:0; }
	[class*="column"] + [class*="column"].end { float: left; }
	
	.column, .columns { margin-left: 3.2258064516129032258064516129032%; }	/* 30 / 930 ~= 3.2% */
	.row .one 		{ width: 5.3763440860215053763440860215054%; }	/* 1*50+0*30   =  50 / 930 ~=   5.4% */
	.row .two 		{ width: 13.978494623655913978494623655914%; }	/* 2*50+1*30   = 130 / 930 ~=  14.0% */	
	.row .three 	{ width: 22.580645161290322580645161290323%; }	/* 3*50+2*30   = 210 / 930 ~=  22.6% */	
	.row .four 		{ width: 31.182795698924731182795698924731%; }	/* 4*50+3*30   = 290 / 930 ~=  31.2% */	
	.row .five 		{ width: 39.78494623655913978494623655914%; }	/* 5*50+4*30   = 370 / 930 ~=  39.8% */	
	.row .six 		{ width: 48.387096774193548387096774193548%; }	/* 6*50+5*30   = 450 / 930 ~=  48.4% */	
	.row .seven 	{ width: 56.989247311827956989247311827957%; }	/* 7*50+6*30   = 530 / 930 ~=  57.0% */	
	.row .eight 	{ width: 65.591397849462365591397849462366%; }	/* 8*50+7*30   = 610 / 930 ~=  65.6% */	
	.row .nine 		{ width: 74.193548387096774193548387096774%; }	/* 9*50+8*30   = 690 / 930 ~=  74.2% */	
	.row .ten 		{ width: 82.795698924731182795698924731183%; }	/* 10*50+9*30  = 770 / 930 ~=  82.8% */	
	.row .eleven 	{ width: 91.397849462365591397849462365591%; }	/* 11*50+10*30 = 850 / 930 ~=  91.4% */
	.row .twelve 	{ width: 100%; }								/* 12*50+11*30 = 930 / 930  = 100.0% */
	
	
	.content .column,.content  .columns { margin-left: 4.34782608695652173913043478260872%; } /* 30 / 690 ~= 4.3% */
	.content .column:first-child,.content .columns:first-child { margin-left: 0; }
	
	.content .row .one 		{ width: 4.34782608695652173913043478260872%; }	/* 1*30+0*30   =  30 / 690 ~=   4.3% */
	.content .row .two 		{ width: 13.043478260869565217391304347826%; }	/* 2*30+1*30   =  90 / 690 ~=   % */
	.content .row .three 	{ width: 21.739130434782608695652173913043%; }	/* 3*30+2*30   = 150 / 690 ~=   % */
	.content .row .four 	{ width: 30.434782608695652173913043478261%; }	/* 4*30+3*30   = 210 / 690 ~=   % */
	.content .row .five 	{ width: 39.130434782608695652173913043478%; }	/* 5*30+4*30   = 270 / 690 ~=   % */
	.content .row .six 		{ width: 47.826086956521739130434782608696%; }	/* 6*30+5*30   = 330 / 690 ~=   % */
	.content .row .seven 	{ width: 56.521739130434782608695652173913%; }	/* 7*30+6*30   = 390 / 690 ~=   % */
	.content .row .eight 	{ width: 65.21739130434782608695652173913%; }	/* 8*30+7*30   = 450 / 690 ~=   % */
	.content .row .nine 	{ width: 73.913043478260869565217391304348%; }	/* 9*30+8*30   = 510 / 690 ~=   % */
	.content .row .ten 		{ width: 82.608695652173913043478260869565%; }	/* 10*30+9*30  = 570 / 690 ~=   % */
	.content .row .eleven 	{ width: 91.304347826086956521739130434783%; }	/* 11*30+10*30 = 630 / 690 ~=   % */
	.content .row .twelve 	{ width: 100%; }								/* 12*30+11*30 = 690 / 690 ~=  100% */	

	
	.row .centered { float: none; margin: 0 auto; }

	img, object, embed { max-width: 100%; height: auto; }
	img { -ms-interpolation-mode: bicubic; }
	#map_canvas img, .map_canvas img {max-width: none!important;}
	 
	/* Nicolas Gallagher's micro clearfix */
	.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
	.row:after, .clearfix:after { clear: both; }
	.row, .clearfix { zoom: 1; }


		
/*  --------------------------------------------------
    :: Mobile Grid
    -------------------------------------------------- */
	@media only screen and (max-width: 480px) {
		body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
		.container { min-width: 0; margin-left: 0; margin-right: 0; }
		.row, .content .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
		.row .row .column, .row .row .columns { padding: 0; }
		.column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
		.column:last-child, .columns:last-child { margin-right: 0; float: none; }
		[class*="column"] + [class*="column"]:last-child { float: none; }
		.column:before, .columns:before, .column:after, .columns:after { content:""; display:table; }
		.column:after, .columns:after { clear: both; }				
	}
	 
/*	------------------------------------------------
	:: Navigation
	------------------------------------------------ */

	 
/*	--------------------------------------------------
	:: Block grids
	
	These are 2-up, 3-up, 4-up and 5-up ULs, suited for repeating blocks of content. 
	Add 'mobile' to them to switch them just like the layout grid (one item per line) on phones
	
	For IE7/8 compatibility block-grid items need to be the same height. 
	You can optionally uncomment the lines below to support arbitrary height, but know that IE7/8 do not support :nth-child.
	-------------------------------------------------- */
	
	.block-grid { display: block; overflow: hidden; }
	.block-grid>li { display: block; height: auto; float: left; }
	
	.block-grid.two-up { margin-left: -4% }
	.block-grid.two-up>li { margin-left: 4%; width: 46%; margin-bottom: 4%;}
 	.block-grid.two-up>li:nth-child(2n+1) {clear: left;} 
	
	.block-grid.three-up { margin-left: -2% }
	.block-grid.three-up>li { margin-left: 2%; width: 31.3%; margin-bottom: 2%;}
 	.block-grid.three-up>li:nth-child(3n+1) {clear: left;} 
	
	.block-grid.four-up { margin-left: -2% }
	.block-grid.four-up>li { margin-left: 2%; width: 23%; margin-bottom: 2%;}
 	.block-grid.four-up>li:nth-child(4n+1) {clear: left;} 
	
	.block-grid.five-up { margin-left: -1.5% }
	.block-grid.five-up>li { margin-left: 1.5%; width: 18.5%; margin-bottom: 1.5%;}
	
	
/*	--------------------------------------------------
	:: Buttons
	-------------------------------------------------- */

	.button {
		background: #d4e4f2;
		display: inline-block;
		text-align: center;
		padding: 14px 34px 13px;
		color: #007eff;
		text-decoration: none;
		font-size: 13px; font-size: 1.3rem;
		line-height: 1;
		font-family: "Avenir LT W01 85 Heavy", Arial, Verdana, sans-serif;
		position: relative;
		cursor: pointer;
		border: none;
		outline: none;
		margin: 0;
	}
	
  	/* Don't use native buttons on iOS */
	input[type=submit].button, button.button { -webkit-appearance: none; }
	
	/* Hide inner focus effect in Firefox */
	button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
		border: none;
	}
	
	.button:hover, .button:focus { }
	.button:active { 
		-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
		-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
		box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
	}
	
	.button.disabled, .button[disabled] { opacity: 0.6; cursor: default; }
	.button.full-width { width: 100%; padding-left: 0 !important; padding-right: 0 !important; text-align: center; }
	.button.left-align { text-align: left; text-indent: 12px; }
	
	/* Correct FF button padding */
	@-moz-document url-prefix("http://") {
		input[type=submit].button::-moz-focus-inner, button.button::-moz-focus-inner { border: 0; padding: 0; }
	}

/*  --------------------------------------------------
    :: Tabs
    -------------------------------------------------- */


	

/* -------------------------------------------------- 
	:: Mobile Visibility Affordances
	---------------------------------------------------*/
	
	.show-on-phones { display: none !important; }	
	.show-on-tablets { display: none !important; }
	.show-on-desktops { display: block !important; }
	
	.hide-on-phones { display: block !important; }	
	.hide-on-tablets { display: block !important; }
	.hide-on-desktops { display: none !important; }
	
	
	/* Modernizr-enabled tablet targeting */
	@media only screen and (min-width: 481px) and (max-width: 1280px) {
		.touch .hide-on-phones { display: block !important; }
		.touch .hide-on-tablets { display: none !important; }
		.touch .hide-on-desktops { display: block !important; }
		
		.touch .show-on-phones { display: none !important; }
		.touch .show-on-tablets { display: block !important; }
		.touch .show-on-desktops { display: none !important; }
	}
	
		
	@media only screen and (max-width: 480px) {
		.hide-on-phones { display: none !important; }
		.hide-on-tablets { display: block !important; }
		.hide-on-desktops { display: block !important; }
		
		.show-on-phones { display: block !important; }
		.show-on-tablets { display: none !important; }
		.show-on-desktops { display: none !important; }
	}


/*	--------------------------------------------------
	:: Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		z-index: 40;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #eee url(../../../images/skin/foundation/modal-gloss.png)/*tpa=http://www.aep.com/images/skin/foundation/modal-gloss.png*/ no-repeat -200px -80px;
		position: absolute;
		z-index: 41;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	
	.reveal-modal .row {
		min-width: 0;
	}
	
	/* Mobile */
	@media handheld, only screen and (max-width: 1023px) {
		/*.reveal-modal-bg { position: absolute; }*/
			
		.reveal-modal,
		.reveal-modal.small,
		.reveal-modal.medium,
		.reveal-modal.large,
		.reveal-modal.xlarge { width: 60%; top: 60px; left: 15%; margin-left: 0; padding: 20px; height: auto; }
	}
		
	@media handheld, only screen and (max-width: 767px) {
		/*.reveal-modal-bg { position: absolute; }*/
			
		.reveal-modal,
		.reveal-modal.small,
		.reveal-modal.medium,
		.reveal-modal.large,
		.reveal-modal.xlarge { width: 80%; top: 15px; left: 5%; margin-left: 0; padding: 20px; height: auto; }
	}


