/* Some overrides for IE6
*/

#clickstreamcloud {
    /*IE6 does not support position: fixed */
    position: absolute;
    top: expression(400 + documentElement.scrollTop + body.scrollTop);
    
    width: 300px;
}

#clickstreamcloud .ccl-header {
    width: 300px;
}

#clickstreamcloud .ccl-sectioncontent {
    margin-top: 5px;
}

#clickstreamcloud .cloud {
    margin-top: 5px;
}
