/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,del,dfn,em,font,img,ins,kbd,q,s,samp,acronym,address,big,cite,code,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { font-size:100%; font-family:inherit; vertical-align:baseline; border:0; outline:0; font-weight:inherit; font-style:inherit; margin:0; padding:0; }
caption,th,td { text-align:left; font-weight:400; }
table { border-collapse:separate; border-spacing:0; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
* { margin:0; padding:0; }
/* END RESET */

/* GENERAL */
body { font: normal 12px/16px Arial, Helvetica, sans-serif; text-align: center; }

a { color: #0093d0; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: #003D79; }
a.jump, .jump a { color:#0093D0 !important; font-style:italic !important; }
span.jump { margin: .5em 0; display: block; }
h1 .jump, h2 .jump, h3 .jump, h4 .jump, h5 .jump, h6 .jump { font-size: .7em; float: right; }

abbr,
acronym {cursor: help;}

sup {font-size: 12px; position: relative; bottom: 1ex;}
sub {font-size: 12px; position: relative; top: 1ex;}

small { font-size: 10px; }
strong { font-weight: bold; }
em { font-style: italic; }

h1 { color: #faaf40; font: 2em/1.2em Arial, Helvetica, sans-serif; margin-bottom: 10px; }
	h1 a, h1 a:visited { color: #faaf40; text-decoration: none; }
	h1 a:hover { color: #faaf40; text-decoration: underline; }
h2 { color: #6cb33f; font: 1.8em/1.4em Arial, Helvetica, sans-serif; margin-bottom: 10px; }
h3 { color: #003D79; font: 1.6em/1.4em Arial, Helvetica, sans-serif; margin-bottom: 10px; }
h4 { color: #003D79; font: 1.4em/1.4em Arial, Helvetica, sans-serif; margin-bottom: 10px; }
h5 { color: #003D79; font: 1.2em/1.4em Arial, Helvetica, sans-serif; margin-bottom: 10px; }
h6 { color: #003D79; font: 1.0em/1.4em Arial, Helvetica, sans-serif; margin-bottom: 10px; }
p { margin-bottom: 10px; line-height: 1.5em }

div.info, p.infoBox { border:1px solid #E0E0E0; background:#f5f5f5; color:#1A1A1A; margin-bottom:10px; padding:10px 10px 10px 30px; background-image: url(../images/icons/16x16/icon_tools_safetytips16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_tools_safetytips16x16.gif*/; background-repeat: no-repeat; background-position: 10px 10px; }
div.info_more , p.info_moreBox{ border-top: solid 1px #e0e0e0; border-bottom: solid 1px #e0e0e0; }
div.warning, p.warningBox { border: solid 1px #CC4E1C; background: #faede8; padding: 10px; margin-bottom: 10px; }
div.alert, p.alertBox { border: solid 1px #FAAF40; background: #fef7ec; padding: 10px; margin-bottom: 10px; }
div.success, p.successBox { border: solid 1px #6CB33F; background: #f0f7eb; padding: 10px; margin-bottom: 10px; }
div.notice, p.noticeBox { border:1px solid #E0E0E0; background:#F2FAFE; color:#1A1A1A; margin-bottom:10px; padding:10px; }
div.warning strong, p.warningBox strong, div.alert strong, p.alertBox strong, div.success strong, p.successBox strong, div.notice strong, p.noticeBox strong { color: #003d79; }
div.warning a, p.warningBox a, div.alert a, p.alertBox a, div.success a, p.successBox a, div.notice a, p.noticeBox a { color:#0093D0; font-style:italic; }
div.warning p, p.warningBox p, div.alert p, p.alertBox p, div.success p, p.successBox p, div.notice p, p.noticeBox p { color:#0093D0; font-style:italic; }

p.warning, span.warning { color: #CC4E1C; font-style: italic; }
p.alert, span.alert { color: #f2a13a; font-style: italic; }
p.success, span.success { color: #6CB33F; font-style: italic; }

.column { float: left; display: inline;}
.columnright { float: right !important; display: inline; margin-right:34px; }

.colright { float: right !important; display: inline; }

.alignLeft { float: left; margin: 0 10px 10px 0; }
.alignRight { float: right; margin: 0 0 10px 10px; }

.group { width: 100%; border-bottom: solid 1px #dfdfdf; float: left; padding-bottom: 5px; padding-top: 5px; }
.group .pullout { margin-bottom: 0px !important; }

/* END GENERAL */

/* LAYOUT */
#wrap { text-align: left; }
/* END LAYOUT */

/* COLOR BUTTONS */
.btnRed { border: none; font: normal 11px/13px Arial, Helvetica, sans-serif; color: #FFFFFF !important; text-decoration: none !important; padding: 4px 12px; background: #CC4E1C; text-transform: uppercase;  }
.btnRed:hover, .btnRedHover { background: #8A281D !important; cursor: hand; }
.btnYellow { border: none; font: normal 11px/13px Arial, Helvetica, sans-serif; color: #FFFFFF !important; text-decoration: none !important; padding: 4px 12px; background: #FAAF40; text-transform: uppercase; }
.btnYellow:hover, .btnYellowHover { background: #EC751B !important; cursor: hand; }
.btnGreen { border: none; font: normal 11px/13px Arial, Helvetica, sans-serif; color: #FFFFFF !important; text-decoration: none !important; padding: 4px 12px; background: #6CB33F; text-transform: uppercase; }
.btnGreen:hover, .btnGreenHover { background: #39692E; cursor: hand; }
/* END COLOR BUTTONS */

/* CONTEXT NAV */
#contextNav h2 { color: #0093d0; font-size: .8em; text-transform: uppercase; line-height: 1.8em; }
#contextNav ul { list-style-type: none; font-size: .9em; padding: 0; }
#contextNav ul li { padding-bottom: 5px; }
#contextNav ul li a { background: url(../images/bullet_arrow_gray.gif)/*tpa=http://www.oneok.com/images/bullet_arrow_gray.gif*/ no-repeat top left; color: #1a1a1a; padding: 0 0 0 20px; display: block; margin-bottom: 2px; }
#contextNav li.current_page_item a { background: url(../images/bullet_arrow_navy.gif)/*tpa=http://www.oneok.com/images/bullet_arrow_navy.gif*/ no-repeat top left; color: #003D79;}
/* END CONTEXT NAV */

/* BREADCRUMB */
#contentHeader { float:right; border-bottom: solid 1px #dfdfdf; margin-bottom: 10px; padding-bottom: 10px; }
#breadcrumb { float:left; color: #0093d0; font-size: .8em; text-transform: uppercase; width:489px  }
body.home #breadcrumb { display: none; }
#breadcrumb ul { list-style-type: none; padding: 0; }
#breadcrumb li { display: inline; margin-right: .5em;}
/* END BREADCRUMB */
	
/* PAGE CONTENT */
#pageContent ul { padding-left: 1em; margin-bottom: 1em; } 
#pageContent ol { padding-left: 1.5em; margin-bottom: 1em; }
#pageContent li { margin-bottom: .5em; }
#pageContent ul li { list-style-type: square; }
/* END PAGE CONTENT */

/* EXTRA FEATURES */
#extraFeatures { font-size: large; font-size: .85em; }
#extraFeatures h2 { font-size: 1.25em; }
#extraFeatures p, #extraFeatures table, #extraFeatures ul, #extraFeatures h1, #extraFeatures h2, #extraFeatures h3, #extraFeatures h4, #extraFeatures h5, #extraFeatures h6 { margin-bottom: 8px; }
#extraFeatures p { line-height: 1.3em; }
#extraFeatures .feature { margin-bottom: 8px; }
#extraFeatures ul { list-style-type: square; }
#extraFeatures hr { border: 0; color: #bfbfbf; background-color: #bfbfbf; height: 1px; margin: 5px 0; }
.extraFeatures { background: #f2fafe; }
/* END EXTRA FEATURES */

/* STOCK TICKER */
#stockTicker { margin-bottom:10px; padding:10px 0pt 10px 10px; }
/* END STOCK TICKER */

/* ICONS */
.icon, a.icon, p.icon, span.icon, div.icon { display:inline-block; min-height:16px; padding:0 0 0 24px !important; background-repeat: no-repeat; background-position: center left; }
.icon-32, a.icon-32, p.icon-32, span.icon-32, div.icon-32 { display: block !important; min-height:32px; padding:0 0 0 40px !important; background-repeat: no-repeat; background-position: center left; }
a.icon, a:visited.icon, a.icon-32, a:visited.icon-32 { color: #0093d0; }
.serviceoptions-16 { background-image: url(../images/icons/16x16/icon_tools_serviceoptions16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_tools_serviceoptions16x16.gif*/; }
.safetytips-16 { background-image: url(../images/icons/16x16/icon_tools_safetytips16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_tools_safetytips16x16.gif*/; }
.accountoptions-16 { background-image: url(../images/icons/16x16/icon_tools_accountoptions16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_tools_accountoptions16x16.gif*/; }
.businesslinks-16 { background-image: url(../images/icons/16x16/icon_tools_businesslinks16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_tools_businesslinks16x16.gif*/; }
.reportpayment-16 { background-image: url(../images/icons/16x16/icon_pay_reportpayment16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_pay_reportpayment16x16.gif*/; }
.phone-16 { background-image: url(../images/icons/16x16/icon_pay_phone16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_pay_phone16x16.gif*/; }
.findstation-16 { background-image: url(../images/icons/16x16/icon_pay_findstation16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_pay_findstation16x16.gif*/; }
.creditcard-16 { background-image: url(../images/icons/16x16/icon_pay_creditcard16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_pay_creditcard16x16.gif*/; }
.check-16 { background-image: url(../images/icons/16x16/icon_pay_check16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_pay_check16x16.gif*/; }
.avgplan-16 { background-image: url(../images/icons/16x16/icon_pay_avgplan16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_pay_avgplan16x16.gif*/; }
.autodraft-16 { background-image: url(../images/icons/16x16/icon_pay_autodraft16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_pay_autodraft16x16.gif*/; }
.arrangements-16 { background-image: url(../images/icons/16x16/icon_pay_arrangements16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_pay_arrangements16x16.gif*/; }
.phone-16 { background-image: url(../images/icons/16x16/icon_custserv_phone_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_custserv_phone_16x16.gif*/; }
.email-16 { background-image: url(../images/icons/16x16/icon_custserv_email_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_custserv_email_16x16.gif*/; }
.eightoneone-16 { background-image: url(../images/icons/16x16/icon_custserv_811_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_custserv_811_16x16.gif*/; }
.switchaccount-16 { background-image: url(../images/icons/16x16/icon_switchuser_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_switchuser_16x16.gif*/; }
.gas-16 { background-image: url(../images/icons/16x16/icon_gas16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_gas16x16.gif*/; }
.investors-16 { background-image: url(../images/icons/16x16/icon_investors16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_investors16x16.gif*/; }
.financialnews-16 { background-image: url(Unknown_83_filename)/*tpa=http://www.oneok.com/images/icons/16x16/icon_financialnews16x16.gif*/; }
.careers-16 { background-image: url(../images/icons/16x16/icon_careers16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_careers16x16.gif*/; }
.account-help-16 { background-image: url(../images/icons/16x16/icon_account-help_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_account-help_16x16.gif*/; }
.bill-history-16 { background-image: url(../images/icons/16x16/icon_bill-history_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_bill-history_16x16.gif*/; }
.bill-inserts-16 { background-image: url(../images/icons/16x16/icon_bill-inserts_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_bill-inserts_16x16.gif*/; }
.customer-service-16 { background-image: url(../images/icons/16x16/icon_customer-service_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_customer-service_16x16.gif*/; }
.financial-info-16 { background-image: url(../images/icons/16x16/icon_financial-info_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_financial-info_16x16.gif*/; }
.forward-looking-statement-16 { background-image: url(../images/icons/16x16/icon_forward-looking-statement_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_forward-looking-statement_16x16.gif*/; }
.industrial-services-16 { background-image: url(../images/icons/16x16/icon_industrial-services_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_industrial-services_16x16.gif*/; }
.meter-reading-16 { background-image: url(../images/icons/16x16/icon_meter-reading_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_meter-reading_16x16.gif*/; }
.moving-16 { background-image: url(../images/icons/16x16/icon_moving_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_moving_16x16.gif*/; }
.news-16 { background-image: url(../images/icons/16x16/icon_news_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_news_16x16.gif*/; }
.newsletter-16 { background-image: url(../images/icons/16x16/icon_newsletter_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_newsletter_16x16.gif*/; }
.pay-history-16 { background-image: url(../images/icons/16x16/icon_pay-history_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_pay-history_16x16.gif*/; }
.pay-stations-16 { background-image: url(../images/icons/16x16/icon_pay-stations_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_pay-stations_16x16.gif*/; }
.shareholder-services-16 { background-image: url(../images/icons/16x16/icon_shareholder-services_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_shareholder-services_16x16.gif*/; }
.statement-16 { background-image: url(../images/icons/16x16/icon_statement_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_statement_16x16.gif*/; }
.stock-info-16 { background-image: url(../images/icons/16x16/icon_stock-info_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_stock-info_16x16.gif*/; }
.your-bill-16 { background-image: url(../images/icons/16x16/icon_your-bill_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_your-bill_16x16.gif*/; }
.plus-16 { background-image: url(../images/icons/16x16/icon_plus16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_plus16x16.gif*/; }
.refresh-16 { background-image: url(../images/icons/16x16/icon_refresh_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_refresh_16x16.gif*/; }
.arrow-16 { background-image: url(../images/icons/16x16/icon_arrow_16x16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_arrow_16x16.gif*/; }
.print-16 { background-image: url(../images/icons/16x16/icon_print_16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_print_16.gif*/; }
.audio-16 { background-image: url(../images/icons/16x16/icon_audio_16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_audio_16.gif*/; }
.audio-16 { background-image: url(../images/icons/16x16/icon_audio_16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_audio_16.gif*/; }
.doc-16 { background-image: url(../images/icons/16x16/icon_doc_16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_doc_16.gif*/; }
.gendownload-16 { background-image: url(../images/icons/16x16/icon_gendownload_16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_gendownload_16.gif*/; }
.html-16 { background-image: url(../images/icons/16x16/icon_html_16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_html_16.gif*/; }
.movie-16 { background-image: url(Unknown_83_filename)/*tpa=http://www.oneok.com/images/icons/16x16/icon_movie_16.gif*/; }
.pdf-16 { background-image: url(../images/icons/16x16/icon_pdf_16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_pdf_16.gif*/; }
.photo-16 { background-image: url(../images/icons/16x16/icon_photo_16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_photo_16.gif*/; }
.ppt-16 { background-image: url(../images/icons/16x16/icon_ppt_16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_ppt_16.gif*/; }
.print-16 { background-image: url(../images/icons/16x16/icon_print_16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_print_16.gif*/; }
.xls-16 { background-image: url(../images/icons/16x16/icon_xls_16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_xls_16.gif*/; }
.zip-16 { background-image: url(../images/icons/16x16/icon_zip_16.gif)/*tpa=http://www.oneok.com/images/icons/16x16/icon_zip_16.gif*/; }

.serviceoptions-32 { background-image: url(../images/icons/32x32/icon_tools_serviceoptions32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_tools_serviceoptions32x32.gif*/; }
.safetytips-32 { background-image: url(../images/icons/32x32/icon_tools_safetytips32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_tools_safetytips32x32.gif*/; }
.accountoptions-32 { background-image: url(../images/icons/32x32/icon_tools_accountoptions32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_tools_accountoptions32x32.gif*/; }
.businesslinks-32 { background-image: url(../images/icons/32x32/icon_tools_businesslinks32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_tools_businesslinks32x32.gif*/; }
.reportpayment-32 { background-image: url(../images/icons/32x32/icon_pay_reportpayment32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_pay_reportpayment32x32.gif*/; }
.phone-32 { background-image: url(../images/icons/32x32/icon_pay_phone32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_pay_phone32x32.gif*/; }
.findstation-32 { background-image: url(../images/icons/32x32/icon_pay_findstation32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_pay_findstation32x32.gif*/; }
.creditcard-32 { background-image: url(../images/icons/32x32/icon_pay_creditcard32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_pay_creditcard32x32.gif*/; }
.check-32 { background-image: url(../images/icons/32x32/icon_pay_check32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_pay_check32x32.gif*/; }
.avgplan-32 { background-image: url(../images/icons/32x32/icon_pay_avgplan32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_pay_avgplan32x32.gif*/; }
.autodraft-32 { background-image: url(../images/icons/32x32/icon_pay_autodraft32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_pay_autodraft32x32.gif*/; }
.arrangements-32 { background-image: url(../images/icons/32x32/icon_pay_arrangements32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_pay_arrangements32x32.gif*/; }
.phone-32 { background-image: url(../images/icons/32x32/icon_custserv_phone_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_custserv_phone_32x32.gif*/; }
.email-32 { background-image: url(../images/icons/32x32/icon_custserv_email_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_custserv_email_32x32.gif*/; }
.eightoneone-32 { background-image: url(../images/icons/32x32/icon_custserv_811_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_custserv_811_32x32.gif*/; }
.gas-32 { background-image: url(../images/icons/32x32/icon_gas32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_gas32x32.gif*/; }
.investors-32 { background-image: url(../images/icons/32x32/icon_investors32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_investors32x32.gif*/; }
.financialnews-32 { background-image: url(../images/icons/32x32/icon_financialnews32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_financialnews32x32.gif*/; }
.careers-32 { background-image: url(../images/icons/32x32/icon_careers32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_careers32x32.gif*/; }
.account-help-32 { background-image: url(../images/icons/32x32/icon_account-help_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_account-help_32x32.gif*/; }
.bill-history-32 { background-image: url(../images/icons/32x32/icon_bill-history_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_bill-history_32x32.gif*/; }
.bill-inserts-32 { background-image: url(../images/icons/32x32/icon_bill-inserts_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_bill-inserts_32x32.gif*/; }
.customer-service-32 { background-image: url(../images/icons/32x32/icon_customer-service_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_customer-service_32x32.gif*/; }
.financial-info-32 { background-image: url(../images/icons/32x32/icon_financial-info_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_financial-info_32x32.gif*/; }
.forward-looking-statement-32 { background-image: url(../images/icons/32x32/icon_forward-looking-statement_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_forward-looking-statement_32x32.gif*/; }
.industrial-services-32 { background-image: url(../images/icons/32x32/icon_industrial-services_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_industrial-services_32x32.gif*/; }
.meter-reading-32 { background-image: url(../images/icons/32x32/icon_meter-reading_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_meter-reading_32x32.gif*/; }
.moving-32 { background-image: url(../images/icons/32x32/icon_moving_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_moving_32x32.gif*/; }
.news-32 { background-image: url(../images/icons/32x32/icon_news_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_news_32x32.gif*/; }
.newsletter-32 { background-image: url(../images/icons/32x32/icon_newsletter_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_newsletter_32x32.gif*/; }
.pay-history-32 { background-image: url(../images/icons/32x32/icon_pay-history_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_pay-history_32x32.gif*/; }
.pay-stations-32 { background-image: url(../images/icons/32x32/icon_pay-stations_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_pay-stations_32x32.gif*/; }
.shareholder-services-32 { background-image: url(../images/icons/32x32/icon_shareholder-services_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_shareholder-services_32x32.gif*/; }
.statement-32 { background-image: url(../images/icons/32x32/icon_statement_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_statement_32x32.gif*/; }
.stock-info-32 { background-image: url(../images/icons/32x32/icon_stock-info_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_stock-info_32x32.gif*/; }
.your-bill-32 { background-image: url(../images/icons/32x32/icon_your-bill_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_your-bill_32x32.gif*/; }
.plus-32 { background-image: url(../images/icons/32x32/icon_plus32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_plus32x32.gif*/; }
.refresh-32 { background-image: url(../images/icons/32x32/icon_refresh_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_refresh_32x32.gif*/; }
.arrow-32 { background-image: url(../images/icons/32x32/icon_arrow_32x32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_arrow_32x32.gif*/; }
.audio-32 { background-image: url(../images/icons/32x32/icon_audio_32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_audio_32.gif*/; }
.audio-32 { background-image: url(../images/icons/32x32/icon_audio_32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_audio_32.gif*/; }
.doc-32 { background-image: url(../images/icons/32x32/icon_doc_32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_doc_32.gif*/; }
.gendownload-32 { background-image: url(../images/icons/32x32/icon_gendownload_32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_gendownload_32.gif*/; }
.html-32 { background-image: url(../images/icons/32x32/icon_html_32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_html_32.gif*/; }
.movie-32 { background-image: url(../images/icons/32x32/icon_movie_32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_movie_32.gif*/; }
.pdf-32 { background-image: url(../images/icons/32x32/icon_pdf_32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_pdf_32.gif*/; }
.photo-32 { background-image: url(../images/icons/32x32/icon_photo_32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_photo_32.gif*/; }
.ppt-32 { background-image: url(../images/icons/32x32/icon_ppt_32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_ppt_32.gif*/; }
.print-32 { background-image: url(../images/icons/32x32/icon_print_32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_print_32.gif*/; }
.xls-32 { background-image: url(../images/icons/32x32/icon_xls_32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_xls_32.gif*/; }
.zip-32 { background-image: url(../images/icons/32x32/icon_zip_32.gif)/*tpa=http://www.oneok.com/images/icons/32x32/icon_zip_32.gif*/; }
/* END ICONS */

/* INLINE ICONS */
.inlineIcon, a.inlineIcon, p.inlineIcon, span.inlineIcon, div.inlineIcon { display:inline-block; min-height:16px; padding:0 0 0 12px !important; background-repeat: no-repeat; background-position: center left; }
a.inlineIcon, a:visited.inlineIcon { color: #0093d0; font-style: italic; }
.stockup-16 { background-image: url(../images/icons/8x16/icon_stock_up_8x16.gif)/*tpa=http://www.oneok.com/images/icons/8x16/icon_stock_up_8x16.gif*/; }
.stockdown-16 { background-image: url(../images/icons/8x16/icon_stock_down_8x16.gif)/*tpa=http://www.oneok.com/images/icons/8x16/icon_stock_down_8x16.gif*/; }
/* END INLINE ICONS */

/* PULLOUTS */
.pullouts { float: left; width: 100%; }
.pullout img { float: left !important; display: inline !important; margin-right: 10px; }
/* END PULLOUTS */

/* TABLES & RAD GRIDS */
#pageContent table.dataTable, #pageContent table.rgMasterTable { width: 100%; }
#pageContent table.dataTable tr, #pageContent table.rgMasterTable tr {  }
#pageContent table.dataTable th, #pageContent table.rgMasterTable th { border-bottom: solid 2px #bfbfbf; color:#0093D0; font-size:0.8em; line-height:1.8em; text-transform:uppercase; white-space:nowrap; }
#pageContent table.dataTable td, #pageContent table.rgMasterTable td { padding: 5px 5px 5px 0; border-top: solid 1px #bfbfbf; }
#pageContent table.topMargin { margin-top: 10px;}

#pageContent table.twoColumn td { width:50%; }

#pageContent table.dataTable td, #pageContent table.rgMasterTable th.rgHeader { vertical-align:bottom; }

.RadGrid .rgAltRow td, #pageContent tab tr.alt td { background: #F2FAFE; }
tr.rgCommandRow td { border-top: none !important; text-align: right; }
tr.rgCommandRow table { width: auto !important; float: right !important; }
tr.rgCommandRow table { width: auto !important; }
tr.rgGroupHeader, tr.rgGroupHeader td, tr.rgGroupHeader p { font-weight: bold; color: #003D79; font-size: 1.05em; }
tr.rgGroupHeader td p { margin-bottom: 0 !important; }
tr.rgFilterRow input.search_input { color: #808080; border: solid 1px #dfdfdf; background-image: none !important; width: 100px; height: 18px; padding: 5px 5px 0 5px; font: normal 11px/13px Arial, Helvetica, sans-serif; }
	/* Overrides for validator extender tables */
	table.ajax__validatorcallout_callout_table td, td.ajax__validatorcallout_callout_cell { padding:8px 0px 0px 0px !important; }
	.ajax__validatorcallout_icon_cell { padding: 5px !important; }
	/* End overrides */
/* END TABLES & RAD GRIDS */

/* FORMS */
label { font-size: .9em; }

.input { color: #808080; border: solid 1px #dfdfdf; height: 18px; font: normal 11px/13px Arial, Helvetica, sans-serif; }

#nav #search input.search_input { color: #808080; border: solid 1px #dfdfdf; font: normal 11px/13px Arial, Helvetica, sans-serif; }

fieldset { border-bottom: solid 1px #dfdfdf; padding-bottom: 5px; margin-bottom: 5px;}
fieldset legend { font-weight: bold; margin-bottom: 5px; line-height: 1.2em; }
fieldset span { display: block; }
fieldset label { float: none !important; line-height: 2em; font-weight: normal !important; margin-bottom: 5px; }
fieldset input { margin-right: 5px; }
fieldset .column p, fieldset .column fieldset, fieldset .column .telerikContainer { border-bottom: none !important; }
/* END FORMS */

/* CSSFORMS & WIZARDS */
.Wizard {  }
.Wizard-SideBar { Vertical-Align: top; border-right: solid 1px #dfdfdf;  }
.Wizard-SideBar .CurrentItem a { color: #003D79; font-weight: bold; }
.Wizard-SideBar span { margin-bottom: 5px; display: block; padding: 0 10px 0 5px; text-align: right; }
.Wizard-SideBar span span { padding: 0px; }
.Wizard-SideBar .CurrentItem { padding: 10px 0; display: block; border-bottom: solid 1px #dfdfdf; border-top: solid 1px #dfdfdf; }
.Wizard-Step { padding-left: 10px; }
.Wizard-Step label { padding-top:2px; font-weight: bold; }
.Wizard-Step input.text, .Wizard-Step textarea, .Wizard .riTextBox { margin-right: 5px; }
.Wizard-Step select {  }
.Wizard-Step p { border-bottom: solid 1px #dfdfdf; padding-bottom: 5px; margin-bottom: 5px; float: left; width: 100%; }
.Wizard-Step fieldset { float: left; width: 100%; }
.Wizard-Step .btnGreen, .Wizard-Step .btnYellow, .Wizard-Step .btnRed, .Wizard-Step .button { width: inherit !important; margin-bottom: 1em; margin-top: 1em; }
.Wizard .StepNavigation { padding-left: 10px; }
.Wizard .telerikContainer { border-bottom: solid 1px #dfdfdf; padding-bottom: 5px; margin-bottom: 5px; float: left; width: 100%; }
/* END CSSFORMS & WIZARDS */

/* SEARCH RESULTS */
.searchResult { margin-bottom: 15px; }
.searchResult h2, .searchResult h2 a { color: #6CB33F !important; text-decoration: none; margin-bottom: 5px !important; font-size: 1.2em;}
.searchResult h2 a:hover { color: #6CB33F; text-decoration: underline; }
.searchResult p { margin-bottom: 5px; }
#pageContent #search { margin-bottom: 15px; }
/* END SEARCH RESULTS */

/* FOOTER */
#footer { text-align: right; color: #808080; font-size: 11px; padding: 10px; }
/* END FOOTER */

/* SELF CLEARING */
.clear { clear:both; }
.column:after, .columnright:after, .colright:after, .pullouts:after, .pullout:after, #wrap:after, #header:after, #tools:after, #main:after, #nav:after, #nav ul:after, #content:after, #contextNav:after, #pageContent:after, #featuredStories:after, #extraFeatures:after, #featurebar:after, #footer:after, div.warning:after, div.alert:after, div.success:after, div.notice:after, #stockTicker:after, .group:after, .CSSForm label:after, .Wizard-Step label:after, .CSSForm p:after, .Wizard-Step p:after, .CSSForm fieldset:after, .Wizard-Step fieldset:after, .pullout:after, .pullout img:after, .CSSForm:after, .CSSForm div.info:after, .CSSForm div.warning:after, .CSSForm div.alert:after, .CSSForm div.success:after, .CSSForm div.notice:after, .FormFieldSet:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
/* SELF CLEARING */