/* .ajax__validatorcallout_popup_table { width: 180px !important; margin-bottom:auto !important; text-align:right; vertical-align:top; } */
.ajax__validatorcallout_error_message_cell { vertical-align: top; padding-top:7px; }
.highlight { background-color:lemonchiffon; }

#pageContent TABLE.alignTop TD { vertical-align:text-top !important; }

/* Changes to Walsh CSS */
#pageContent .pullout, #pageContent a.pullout, #pageContent p.pullout, #pageContent span.pullout, #pageContent div.pullout { width: 260px; min-height: 5.5em; margin: 0 0px 10px 0px; float: left; background-repeat: no-repeat; background-position: top left; padding-left: 0px; padding-right: 5px; }
body.wide #pageContent .pullout, home.wide #pageContent a.pullout, body.wide #pageContent p.pullout, body.wide #pageContent span.pullout, body.wide #pageContent div.pullout { width: 340px; min-height: 5.5em; margin: 0 0px 10px 0px; float: left; background-repeat: no-repeat; background-position: top left; padding-left: 0px; padding-right: 5px; }
body.wide #breadcrumb { width: 680px; }
.pullout img { float: left; margin-right: 10px; }
#pageContent .pullout .column { width: 190px;}
/* for Internet Explorer */
		/*\*/
		* html #pageContent .pullout {
		height: 5.5em;
		}
		/**/
#featurebar  .pullout .column { width: 130px; margin: 0px; }
#featurebar .pullout img { margin-right: 5px; }

/* TOOLBAR */
#featurebar .column { width: 173px; margin: 10px; }
#featurebar .pullout, #featurebar a.pullout, #featurebar p.pullout, #featurebar span.pullout, #featurebar div.pullout { width: 173px !important; margin: 0 10px 10px 10px !important; float: left; display: inline; background-repeat: no-repeat; background-position: top left; padding-left: 0px; padding-top: 5px; }
#featurebar .pullout h2 { padding-left: 0px; vertical-align:middle; padding-bottom:5px }
#featurebar .pullout h2 img { float:left; padding-right:3px; }
#featurebar ul { list-style-type: none; font-size: 11px; line-height: 20px; padding-left: 0px; margin-left: 17px; }
#featurebar ul li { display: inline; }
#featurebar ul li a { background-image: url(../images/bullet_arrow_gray.gif)/*tpa=http://www.oneok.com/images/bullet_arrow_gray.gif*/; background-repeat: no-repeat; background-position:left 3px; color: #1a1a1a; padding: 0 0 0 22px; display: block;  }
#featurebar li.current_page_item a { background: url(../images/bullet_arrow_navy.gif)/*tpa=http://www.oneok.com/images/bullet_arrow_navy.gif*/ no-repeat top left; color: #003D79; }
#featurebar li.noImage a { background: none; color: #003D79; }
#featurebar li img { float:left; padding-right:3px; }
#featurebar ul li a { padding-bottom:2px; }

.pullouts { padding-bottom:5px; }

.nowrap { white-space:nowrap; }
.padright { padding-right:10px; }

#pageContent table.dataTable th, #pageContent table.rgMasterTable th { padding: 0 15px 0 0; }

.BioTable td {padding: 0 10px 14px 0; width: 185px;}

p.warning, span.warning { color: #CC4E1C; font-style:normal !important; font-weight:800 !important; }
p.alert, span.alert { color: #f2a13a; font-style:normal !important; }
p.success, span.success { color: #6CB33F; font-style:normal !important; }

#breadcrumb ul { padding-left: 0em; margin-bottom: 0em; } 

#featurebar p.warning { font-size:1em; }

.CSSForm .btnGreen, .CSSForm .btnYellow, .CSSForm .btnRed, .CSSForm .button { margin-bottom: 1em; margin-top: 0em; }
/*
.TransparentBlackBackground 
{
	position: fixed;
	top: 0;
	left: 0;
	background-color:Black;
	filter:alpha(opacity=70);
	opacity:0.6;
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	z-index:1000;
	
}

.UpdateProgress
{
	background-color:#FFFFFF;
	color:#000000;
	width: 15%;
	height: 51px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 35%;
	left: 43%;
	z-index:1001;
}
*/

.overlay {
        position: fixed;
        z-index: 1000;
        top: 0px;
        left: 0px;
        background-color:Black;
        width: 100%;
        height: 100%;
        filter: Alpha(Opacity=60);
        opacity: 0.60;
        -moz-opacity: 0.60;
    }
    * html .overlay {
        position: absolute;
        height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
        width: expression(document.body.scrollWidth > document.body.offsetWidth ? document.body.scrollWidth : document.body.offsetWidth + 'px');
    }
    .loader {
        z-index: 1001;
        position: fixed;
        width: 15%;
		height: 51px;
        margin-left: -60px;
        top: 50%;
        left: 50%;
        background-color:#FFFFFF;
    }
    * html .loader {
        position: absolute;
        margin-top: expression((document.body.scrollHeight / 4) + (0 - parseInt(this.offsetParent.clientHeight / 2) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)) + 'px');
    }

/* No Nav */
body.nonav #main { background: #fff repeat-y left top !important; }
body.nonav #pageContent { width:920px !important; }

/* No Left Nav */
body.noleftnav #main { background: #fff url(../images/bgd_content_2colright.jpg)/*tpa=http://www.oneok.com/images/bgd_content_2colright.jpg*/ repeat-y left top; }
body.noleftnav #pageContent { width: 720px; }
body.noleftnav #contextNav { display: none; }
body.noleftnav #breadcrumb { width: 669px; }

/* Video Tag */
video { width: 100%; }

/* Telerik date selector width problem */
.riTextBox { width:160px !important; }
.rcTable  { width:285px !important; }
.rcInputCell  { width:165px !important; }

.FormFieldSet
{ 
	border-bottom: #dfdfdf 1px solid !important;
}
.FormFieldSet .column div
{ 
width:260px;
font-size: 12px;
}

.FormFieldSet .column div p label, .FormFieldSet .column div p input
{
    align:left;
    text-align:middle;
    line-height:18px;
}
.FormFieldSet .column div p label sup
{
    font-size:10px;
}

/* iFrame styles */
.autoHeightiFrame { width:540px;}
body.wide .autoHeightiFrame  { width: 750px !important; }
.regiFrame { width:540px;}
body.wide .regiFrame  { width: 750px !important; }
.autoHeightiFrameSideBar { width:160px !important;}
.regiFrameSideBar { width:160px !important;}
/* End iFrame styles */

.energy-market-rotator { width: 745px; height: 285px; position: relative; overflow: hidden; }
/*.energy-market-rotator li { position: absolute; top: 0; left: 0; }*/

.energy-market-subrotator { display:none; background: #f39524 url(../images/bgd_orng-sub-rotator-bar.gif)/*tpa=http://www.oneok.com/images/bgd_orng-sub-rotator-bar.gif*/ left top repeat-x; padding: 0 20px; min-height: 50px; }
.energy-market-subrotator table { padding: 0; margin: 0; }
.energy-market-subrotator td { vertical-align: middle; padding-right: 15px ; }
.energy-market-subrotator strong { font-size: 18px; color: #000; font-weight: normal; line-height: 50px; }

/* EXTRA FEATURES Mod for TR*/
.extraFeatures { background: #f4f9fd; }
/* END EXTRA FEATURES */