body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;}
/* Base Fonts */body{font:16px arial,helvetica,clean,sans-serif;} /* Do NOT touch - set font family, size, etc on child elements */
table{font-size:inherit;font:100%;}select, input, textarea{font:99% arial,helvetica,clean,sans-serif;}pre, code{font:115% monospace;}body *{line-height:1.22em;}label{cursor:pointer;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
/*--------- Defining Fonts ------------- */ 
/*------------------------------------------
COLOR THEMES (default)cyan:#00aeef;black:#231f20;green:#439539;magenta:#ec008c;orange:#ff4800;red:#ef3e42;violet:#333092;yellow:#ffd200;*/
/* General fonts */
html, body{font-family:Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6{font-family:'Effra W01 Regular', Arial, Helvetica,sans-serif;margin:0;font-weight:normal;line-height:1;}
h1,.h1{font-size:160%;font-family:'Effra W01 Regular', Arial, Helvetica,sans-serif;border-bottom:2px solid #00aeef;margin-bottom:16px;padding-bottom:10px;}
.black h1,.black .h1{border-bottom:2px solid #231f20;}
.green h1,.green .h1{border-bottom:2px solid #439539;}		
.magenta h1,.magenta .h1{border-bottom:2px solid #ec008c;}
.orange h1,.orange .h1{border-bottom:2px solid #ff4800;}
.red h1,.red .h1{border-bottom:2px solid #ef3e42;}
.violet h1,.violet .h1{border-bottom:2px solid #333092;}
.yellow h1,.yellow .h1{border-bottom:2px solid #ffd200;}
h1.intro{font-size:144%;color:#333192;margin-bottom:0;}
h2,.h2{font-size:122%;font-family:'Effra W01 Regular', Arial, Helvetica,sans-serif;margin-bottom:14px;border-bottom:0 solid #00aeef;padding-bottom:0;}
h3,.h3{font-size:110%;font-family:'Effra W01 Medium', Arial, Helvetica,sans-serif;font-weight:normal;border-bottom:0 solid #00aeef;padding-bottom:0;}
h4,.h4{font-size:102%;font-family:'Effra W01 Medium', Arial, Helvetica,sans-serif;font-weight:normal;}
h5,.h5{font-size:104%;font-family:'Effra W01 Regular', Arial, Helvetica,sans-serif;}
h6,.h6{font-size:102%;font-family:'Effra W01 Regular', Arial, Helvetica,sans-serif;}
.ie h3, .ie .h3, .ie h4, .ie .h4{font-weight:bold;}
p, li, dt, dd, th, td, address, blockquote, pre, input, textarea, select, label{font-size:100%;}

p p, p li, p dt, p dd, p th, p td, p address, p blockquote, p pre, p input, p textarea, p select,
li p, li li, li dt, li dd, li th, li td, li address, li blockquote, li pre, li input, li textarea, li select,
dt p, dt li, dt dt, dt dd, dt th, dt td, dt address, dt blockquote, dt pre, dt input, dt textarea, dt select,
dd p, dd li, dd dt, dd dd, dd th, dd td, dd address, dd blockquote, dd pre, dd input, dd textarea, dd select,
th p, th li, th dt, th dd, th th, th td, th address, th blockquote, th pre, th input, th textarea, th select,
td p, td li, td dt, td dd, td th, td td, td address, td blockquote, td pre, td input, td textarea, td select,
address p, address li, address dt, address dd, address th, address td, address address, address blockquote, address pre, address input, address textarea, address select,
blockquote p, blockquote li, blockquote dt, blockquote dd, blockquote th, blockquote td, blockquote address, blockquote blockquote, blockquote pre, blockquote input, blockquote textarea, blockquote select, pre p, pre li, pre dt, pre dd, pre th, pre td, pre address, pre blockquote, pre pre, pre input, pre textarea, pre select,
input p, input li, input dt, input dd, input th, input td, input address, input blockquote, input pre, input input, input textarea, input select,
textarea p, textarea li, textarea dt, textarea dd, textarea th, textarea td, textarea address, textarea blockquote, textarea pre, textarea input, textarea textarea, textarea select, select p, select li, select dt, select dd, select th, select td, select address, select blockquote, select pre, select input, select textarea, select select
{font-size:104%;}
/* Basics */
a{color:#009ddb}
a:hover{text-decoration:none;}
abbr, 
acronym{border-bottom:0 dotted #666;}
blockquote,.blockquote{margin:1.5em;}
code{color:#000099}
del{color:#666;}
dfn{font-style:italic;font-weight:bold;}
em,i{font-style:italic;}
hr{color:#ccc;height:1px;border:0;background-color:#ccc;margin:0 0 1.7em 0;}
p,address{margin:0 0 24px 0;}
pre,code{margin:1.5em 0;overflow:auto;white-space:pre;}
pre,code,tt{font:1em 'andale mono', 'monotype.com', 'lucida console', monospace;line-height:1.5em;}
strong,b{font-weight:bold;}
sub{font-size:0.58em;vertical-align:sub;line-height:0;}
sup{font-size:0.58em;vertical-align:super;line-height:0;}
tt{display:block;margin:1.5em 0;line-height:1.5em;}
.content dl{margin:0 0 1.5em 0;}
.content dl dt{font-weight:bold;}
.content dd{margin-left:1.5em;}
.content ul, 
.content ol{margin:0 1.5em 24px 10px;}
.content ol{margin-left:30px;}
.content ul ul,
.content ol ul{margin:0 0 8px 17px;}
.content ol ul ul{margin:0 0 0 17px;}
.content ol ul ul{margin:0 0 0 17px;}
.content ul{list-style-type:none;}
.content ol{list-style-type:decimal;}
.content ol.upper-alpha{list-style:upper-alpha;}
.content ol.lower-alpha{list-style:lower-alpha;}
.content ol.lower-roman{list-style:lower-roman;}
.content ol.decimal{list-style:decimal;}
.content ul li{background-image:url(../img/branding/bg-cyan-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-cyan-horizontal.png*/;background-repeat:no-repeat;background-position:2px 7px;background-attachment:scroll;margin-bottom:7px;padding:2px 0 0 18px;}
.content ol li{padding-bottom:7px;}
.black .content ul li{background-image:url(../img/branding/bg-black-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-black-horizontal.png*/;}
.green .content ul li{background-image:url(../img/branding/bg-green-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-green-horizontal.png*/;}
.magenta .content ul li{background-image:url(../img/branding/bg-magenta-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-magenta-horizontal.png*/;}
.orange .content ul li{background-image:url(../img/branding/bg-orange-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-orange-horizontal.png*/;}
.red .content ul li{background-image:url(../img/branding/bg-red-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-red-horizontal.png*/;}
.violet .content ul li{background-image:url(../img/branding/bg-violet-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-violet-horizontal.png*/;}
.yellow .content ul li{background-image:url(../img/branding/bg-yellow-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-yellow-horizontal.png*/;}
.content ul li p,
.content ul li address,
.content ol li p,
.content ol li address{margin:0 0 20px 0;}
.content ul.list{margin-left:0;list-style:none;}
.content ul.list li{background-image:none!important;padding-left:0!important}
/* Noscript */
.disabled{background:#fffcdf;border:1px solid #ef3e42;margin-bottom:24px;padding:10px 10px 0 10px;}
noscript p{margin-bottom:10px;font-size:90%;}
/* END Noscript */
/* Reuse classes */
.absolute{position:absolute;}.right0{right:0;}.bottom0{bottom:0;}
.alignBotom{vertical-align:bottom;}
.alignCenter{text-align:center;}
.alignLeft{text-align:left;}
.alignMiddle{vertical-align:middle;}
.alignRight{text-align:right;}
.alignTop{vertical-align:top;}
.block{display:block;}
.bold{font-weight:bold}
.border{border:1px solid #ccc;padding-bottom:10px;}
.border.pad{padding:10px;}
.border-bottom{border-bottom:1px solid #ccc;padding-bottom:19px;margin-bottom:20px;}
.center{margin-left:auto;margin-right:auto;}
.color000,.colorBlack{color:#000!important;}
.colorF00{color:#F00!important;}
.colorCyan{color:#00aeef!important;}
.colorGreen{color:#439539!important;}
.colorGray{color:#777!important;}
.colorMagenta{color:#ec008c!important;}
.colorOrange{color:#ff4800!important;}
.colorRed{color:#ef3e42!important;}
.colorViolet{color:#333092!important;}
.colorYellow{color:#ffd200!important;}
.colorFFF,.colorWhite{color:#fff!important;}
.effra{font-family:'Effra W01 Regular', Arial, Helvetica,sans-serif!important;}
.effraMedium{font-family:'Effra W01 Medium', Arial, Helvetica,sans-serif!important;}
.effraLight{font-family:'Effra W01 Light', Arial, Helvetica,sans-serif!important;}
.effraHeavy{font-family:'Effra W01 Heavy', Arial, Helvetica,sans-serif!important;}
.hidden{height:0!important;visibility:hidden!important;}
.indent{text-indent:24px;}
.inline{display:inline;}
.inline-block{display:inline-block;}
.margin-bottom{margin-bottom:1.5em!important;}
.margin-bottom0{margin-bottom:0!important;}
.margin0{margin:0!important;}
#twocol-left .max-width{max-width:637px;}
.overflow-auto{overflow:auto;}
.padding-bottom{padding-bottom:1.5em!important;}
.padding-top0{padding-top:0!important;}
.padding-bottom0{padding-bottom:0!important;}
.padding0{padding:0!important;}
.relative{position:relative}
img.res{width:100%;height:auto;}
#twocol-left #pri .res{max-width:625px;}
.transparent{background-color:transparent;}
.underline{text-decoration:underline;}
.uppercase{text-transform:uppercase}
/* END Reuse classes */
.ie pre, 
.ie code{font-size:100%;}
/* Accessibility */
.skip, 
#pri .skip{/* Hide content off-screen without hiding from screen-readers. N.B. This is not suited to RTL languages */
display:block;float:left;height:1px;position:absolute;left:-99999px;width:1px;overflow:hidden;}
a.skip:active, a.skip:focus{width:auto;height:auto;left:20px;top:40px;padding:4px;background:yellow;color:#000;z-index:100;}
a:focus img{outline:1px dotted #000;} 
/* Accessibility */
/* Primary content */
img.intro{display:block;border:4px solid rgba(255, 255, 255, 0.5);box-shadow:5px 5px 5px rgba(0, 0, 0, 0.25);border-bottom-width:0;height:auto;width:100%;max-width:952px;}
.ie img.intro{border:4px solid #f8f5f1;border-bottom-width:0;}
#pri .content .content p{margin-bottom:8px;}
footer.legal,footer.disclaimer{border-top:1px solid #ccc;padding:1.7em 0 10px  0;}
body .legal,.disclaimer{color:#777777;font-size:75%;text-align:justify;}
.tagline{color:#777777;font-size:75%;}
h1 .tagline{display:block;font-size:12px;line-height:16px;text-align:left;}
body .legal p,.disclaimer p{margin-bottom:10px;}
body .legal ul,.disclaimer ul{list-style:disc inside none;}
body .legal ul li,.disclaimer ul li{background-image:none!important;padding-left:0!important;}
.more{background-image:url(../img/branding/bg-btn.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-btn.png*/;background-repeat:no-repeat;background-position:right -638px;background-attachment:scroll;display:inline-block;line-height:18px;padding:0 20px 0 0;text-decoration:none;}
.black .more{background-position:right -574px;}
.green .more{background-position:right -702px;}
.magenta .more{background-position:right -766px;}
.orange .more{background-position:right -830px;}
.red .more{background-position:right -958px;}
.violet .more{background-position:right -894px;}
.white .more{background-position:right -1022px;}
.yellow .more{background-position:right -1086px;}
.cyan .more{background-position:right -638px;}
.more:hover,.more:focus,
.black .more:hover,
.green .more:hover,
.magenta .more:hover,
.orange .more:hover,
.red .more:hover,
.violet .more:hover,
.yellow .more:hover{background-position:right -574px;text-decoration:underline;}
.back{background-image:url(../img/branding/bg-btn.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-btn.png*/;background-repeat:no-repeat;background-position:left -1214px;background-attachment:scroll;display:inline-block;line-height:18px;padding:0 0 0 20px;text-decoration:none;}
.black .back{background-position:left -1150px;}
.green .back{background-position:left -1278px;}
.magenta .back{background-position:left -1342px;}
.orange .back{background-position:left -1406px;}
.red .back{background-position:left -1534px;}
.violet .back{background-position:left -1470px;}
.yellow .back{background-position:left -1662px;}
.back:hover,.back:focus,
.black .back:hover,
.green .back:hover,
.magenta .back:hover,
.orange .back:hover,
.red .back:hover,
.violet .back:hover,
.yellow .back:hover{background-position:left -1150px;text-decoration:underline;}
a.tel{color:#231f20;cursor:default;text-decoration:none;}
a.pdf,.content ul li.pdf,.black .content ul li.pdf,.green .content ul li.pdf,.magenta .content ul li.pdf,.orange .content ul li.pdf,.red .content ul li.pdf,.violet .content ul li.pdf,.yellow .content ul li.pdf{background-image:url(../img/branding/bg-cyan-horizontal.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-cyan-horizontal.png*/;background-repeat:no-repeat;background-position:-3001px 3px;background-attachment:scroll;}
a.pdf{display:inline-block;padding:0 0 0 18px;background-position:-3001px 2px;}
/* END General fonts */
/* Tabs  */
ul.tabNav{border-top:1px solid #e5e5e5;border-bottom:1px solid #c2c2c2;display:table;list-style:none!important;margin:0 0 20px 0!important;padding:0!important;width:100%;}
ul.tabNav li,
.content ul.tabNav li{background-color:#fff;background-image:none!important;border-right:1px solid #e5e5e5;display:table-cell;margin:0!important;padding:0!important;list-style:none!important;vertical-align:middle;}
ul.tabNav li:first-child,
.content ul.tabNav li:first-child{border-left:1px solid #e5e5e5;}
ul.tabNav li a{color:#231F20;display:table-cell;border-bottom:2px solid #f5f5f5;font-size:12px;padding:0 10px;text-align:center;text-decoration:none;vertical-align:middle;width:10%;height:44px;}
ul.tabNav.small li a{font-size:11px;}
ul.tabNav li a:hover{background-color:#f0f0f1!important;text-decoration:none;}
ul.tabNav li a.current,
ul.tabNav li a:hover.current{border-bottom:2px solid #00aeef;cursor:default;}
ul.tabNav.two li{width:50%;}ul.tabNav.three li{width:33%;width:33.3%;}ul.tabNav.four li{width:25%;}ul.tabNav.five li{width:20%;}ul.tabNav.six li{width:16%;width:16.6%;}.tabNav.seven li{width:14%;width:14.2%;}
.hide{position:absolute;top:-9999px;left:-9999px;}
.list-wrap{padding-bottom:30px;}
.list-wrap .pad{}
/* END Tabs  */
/* iFrames */
#iFrame{min-height:200px;overflow:hidden;}
#i-wrap{padding:0}
/* END iFrames */
/* Boxes */
.box{background-color:#00aeef;background-repeat:no-repeat;background-position:14px 76px;color:#fff;padding:0;}
.box.black{background-color:#231f20;}
.box.green{background-color:#439539;}
.box.gray{background-color:#e8e8e8;color:#231f20;}
.box.magenta{background-color:#ec008c;}
.box.orange{background-color:#ff4800;}
.box.red{background-color:#ef3e42;}
.box.violet{background-color:#333092;}
.box.yellow{background-color:#ffd200;color:#231f20;}
.box.white{background-color:#fff;color:#231f20;}
.box .pad{padding:20px 14px;}
.box .more{color:#fff;}
.box.gray .more,.box.yellow .more,.box.white .more{color:#231f20;}
.box h2{border-bottom:1px solid #fff;color:#fff;margin-bottom:10px;padding-bottom:10px;}
.box.gray h2{border-bottom:0 solid #fff;color:#231f20;margin-bottom:10px;padding-bottom:0;}
.box.yellow h2,.box.white h2{color:#231f20;}
.box .h1{border: 0 none!important;padding:0!important;}
.box p.white{margin-bottom:0;}
.box .cyan .more{color:#00aeef;}
.promobox{border: 1px solid #ccc;padding:15px 17px 4px 15px;}
.promobox table th{font-weight:bold;width:40%}
.promobox table th,.promobox table td{padding-top:4px;padding-bottom:4px;}
.top-right{border-top-right-radius:50px;}
.top-left{border-top-left-radius:50px;}
.top-right25{border-top-right-radius:25px;}
.top-left25{border-top-left-radius:25px;}
.bottom-right{border-bottom-right-radius:50px;}
.bottom-left{border-bottom-left-radius:50px;}
.bottom-right25{border-bottom-right-radius:25px;}
.bottom-left25{border-bottom-left-radius:25px;}
/* END Boxes */
/* Old IE */
.old-ie{padding:0 60px;}
.old-ie h2{background:url(../img/branding/bg-browsers.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-browsers.png*/ no-repeat center -240px scroll;font-size:220%;margin-bottom:4px;padding-top:85px;}
.old-ie p{margin-bottom:12px;}
.old-ie li{text-align:center;width:33%;}
.old-ie li span{background:url(../img/branding/bg-browsers.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-browsers.png*/ no-repeat 0 0 scroll;display:block; margin:0 auto;height:80px;width:80px;}
.old-ie li.firefox span{ background-position:0 -80px}
.old-ie li.internet-explorer span{ background-position:0 -160px}
/* END Old IE */
/* Grid */
/* Floats */
.float1{float:left;height:1px;width:1%;}.float2{float:left;height:1px;width:2%;}.float3{float:left;height:1px;width:3%;}.float4{float:left;height:1px;width:4%;}.float5{float:left;height:1px;width:5%;}.float10{float:left;height:1px;width:10%;}.float15{float:left;width:15%;}.float20{float:left;width:20%;}.float22{float:left;width:22%;}.float23{float:left;width:23%;}.float24{float:left;width:24%;}.float25{float:left;width:25%;}.float26{float:left;width:26%;}.float30{float:left;width:30%;}.float32{float:left;width:32%;}.float33{float:left;width:33%;}.float34{float:left;width:34%;}.float35{float:left;width:35%;}.float36{float:left;width:36%;}.float37{float:left;width:37%;}.float38{float:left;width:38%;}.float40{float:left;width:40%;}.float42{float:left;width:42%;}.float43{float:left;width:43%;}.float44{float:left;width:44%;}.float45{float:left;width:45%;}.float46{float:left;width:46%;}.float48{float:left;width:48%;}.float49{float:left;width:49%;}.float50{float:left;width:50%;}.float52{float:left;width:52%;}.float54{float:left;width:54%;}.float55{float:left;width:55%;}.float56{float:left;width:56%;}.float57{float:left;width:57%;}.float58{float:left;width:58%;}.float60{float:left;width:60%;}.float62{float:left;width:62%;}.float63{float:left;width:63%;}.float64{float:left;width:64%;}.float65{float:left;width:65%;}.float66{float:left;width:66%;}.float67{float:left;width:67%;}.float68{float:left;width:68%;}.float70{float:left;width:70%;}.float72{float:left;width:72%;}.float73{float:left;width:73%;}.float74{float:left;width:74%;}.float75{float:left;width:75%;}.float80{float:left;width:80%;}.float85{float:left;width:85%;}.left,.floatleft,.floatLeft{float:left;}.right,.floatright,.flaotRight{float:right;}
img.left{margin:0 14px 4px 0;}
img.right{margin:0 0  4px 14px;}
/* END Floats */
/* Width */
.width2{height:1px;width:2%;}.width3{height:1px;width:3%;}.width4{height:1px;width:4%;}.width5{height:1px;width:5%;}.width20{width:20%;}.width25{width:25%;}.width30{width:30%;}.width32{width:32%;}.width33{width:33%;}.width34{width:34%;}.width35{width:35%;}.width36{width:36%;}.width37{width:37%;}.width40{width:40%;}.width45{width:45%;}.width48{width:48%;}.width50{width:50%;}.width55{width:55%;}.width60{width:60%;}.width63{width:63%;}.width64{width:64%;}.width65{width:65%;}.width66{width:66%;}.width67{width:67%;}.width68{width:68%;}.width70{width:70%;}.width72{width:72%;}.width73{width:73%;}.width74{width:74%;}.width75{width:75%;}.width80{width:80%;}.width85{width:85%;}.width90{width:90%;}.width95{width:95%;}.width96{width:96%;}.width97{width:97%;}.width98{width:98%;}.width99,.width99 input, .width99 select{width:99%;}.width100{width:100%;}
/* END Width */
/* END Grid */
/* Forms */
.iframe .clearfix{min-height:70px;padding-top:5px;}
.iframe .clearfix:first-child{padding-top:0;min-height:73px;}
.iframe .clearfix .clearfix{min-height:1px!important;}
.iframe .clearfix.checkboxes .clearfix{padding-top:8px;}
.iframe .error input,
.iframe .errors input{background-color:#ffc6c6;} 
form{margin-bottom:30px;}
form p{margin:0}
/*form label{font-weight:bold;}*/
form select,
form textarea{border:1px solid #ccc;box-shadow:0 0 8px #ddd inset;padding:4px 0;}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"], 
form input[type="file"]{border:1px solid #ccc;box-shadow:0 0 8px #ddd inset;padding:5px 1px;}
form input[type="file"],  x:-moz-any-link, x:default{padding:0;}
/*.required{color:#ef3e42;}*/
p#required{font-weight:normal;font-size:12px;margin-bottom:16px!important;}
form label.required,
.rqrd.errors{color:#ef3e42;font-weight:normal;}
label.required,
.iframe label.error{font-size: 90%;}
form .margin-bottom{margin:0 0 1.5em 0;}
#div_city{width:116px;padding-right:5px;}
#div_state{width:100px;padding-right:5px;}
#div_zip{width:60px;}
.es #div_zip{width:87px;}
.es #lbl_zip{font-size:12px;}
.checkboxes label{margin-left:20px;display:block}
.thankyou .clearfix{padding-bottom:20px;}
.btn{background-color:#00aeef;background-image:url(../img/branding/bg-btn.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-btn.png*/;background-repeat:no-repeat;background-position:right -440px;background-attachment:scroll;border:1px solid #00aeef;border-radius:8px;color:#fff;cursor:pointer;display:inline-block;font-family:'Effra W01 Medium', Arial, Helvetica, sans-serif;height:40px;line-height:40px;padding:0 40px 0 20px;text-decoration:none;}
.btn:hover,.btn:focus{background-color:#fff;background-position:right -54px;color:#00aeef;text-decoration:none;}
.ie .btn{font-weight:bold}
.black .btn{background-color:#231f20;border:1px solid #231f20;}		
.green .btn{background-color:#439539;border:1px solid #439539;}		
.magenta .btn{background-color:#ec008c;border:1px solid #ec008c;}		
.orange .btn{background-color:#ff4800;border:1px solid #ff4800;}			
.red .btn{background-color:#ef3e42;border:1px solid #ef3e42;}		
.violet .btn{background-color:#333092;border:1px solid #333092;}		
.yellow	.btn{background-color:#ffd200;background-position:right 10px;border:1px solid #ffd200;color:#000;}
.black .btn:hover,.black .btn:focus{background-color:#fff;background-position:right 10px;color:#231f20;}		
.green .btn:hover,.green .btn:focus{background-color:#fff;background-position:right -118px;color:#439539;}		
.magenta .btn:hover,magenta .btn:focus{background-color:#fff;background-position:right -183px;color:#ec008c;}		
.orange .btn:hover,.orange .btn:focus{background-color:#fff;background-position:right -247px;color:#ff4800;}		
.red .btn:hover,.red a.btn:focus{background-color:#fff;background-position:right -375px;color:#ef3e42;}		
.violet .btn:hover,.violet .btn:focus{background-color:#fff;background-position:right -311px;color:#333092;}		
.yellow .btn:hover,.yellow .btn:focus{background-color:#fff;background-position:right 10px;color:#231f20;}	
.btn.prime{background-color:#eee;background-image:url(../img/branding/bg-btn.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-btn.png*/;background-repeat:no-repeat;background-position:right -52px;background-attachment:scroll;border:1px solid #ccc;border-radius:8px;color:#444;cursor:pointer;display:inline-block;font-family:'Effra W01 Medium', Arial, Helvetica, sans-serif;line-height:44px;height:44px;padding:0 40px 0 20px;text-decoration:none;}
.btn.prime:hover,.btn.prime:focus{background-color:#e3e3e3;background-image:url(../img/branding/bg-btn.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-btn.png*/;background-repeat:no-repeat;background-position:right -52px;background-attachment:scroll;color:#444;text-decoration:none;}
.btn.back{background-image:none;padding-right:20px;}
a.caption{font-size:80%;text-decoration:none;}
a.caption:hover{text-decoration:underline;}
a.caption.left{margin:0 14px 4px 0;}
a.caption.right{margin:0 0  4px 14px;}
/* END Forms */
/* Data Tables */
table.data{background-color:#fff;border-collapse:collapse;color:#231F20;font-size:14px;line-height:1.4em;}
table.data th{background-color:#f5f5f5;background:linear-gradient(top, #f5f5f5 0%, #c9c9c9 100%);background:-moz-linear-gradient(top, #f5f5f5 0%, #c9c9c9 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #c9c9c9));background:-webkit-linear-gradient(top, #f5f5f5 0%, #c9c9c9 100%);background:-o-linear-gradient(top, #f5f5f5 0%, #c9c9c9 100%);background:-ms-linear-gradient(top, #f5f5f5 0%, #c9c9c9 100%);background:linear-gradient(top, #f5f5f5 0%, #c9c9c9 100%);border-bottom:1px dotted #231F20;height:35px;line-height:1;padding:0 6px;vertical-align:middle;}
table.data th:first-child{text-align:left;}
table.data td{height:22px;padding:4px 6px;vertical-align:middle;}
table.data td:first-child{text-align:left;}
.ie table.data .odd td{background-color:#f5f5f5;}
/*table.data tbody tr:nth-child(odd){background-color:#fff;}*/
table.data tbody tr:nth-child(even){background-color:#f5f5f5;}
/* END Data Tables */
#inner .breadcrumb{margin:-10px 0 0 0;padding:0 0 20px 0;}
#inner .breadcrumb ul{display:inline-block;color:#787878;list-style:none outside none;margin:0 auto 0 auto;padding:0;}
#inner .breadcrumb ul li{background:none;display:inline-block;font-size:72%;list-style:none outside none;margin:0 0 0 0;padding:0 2px 0 0;}
#inner .paginate{text-align:center;margin:0 0 24px 0;}
#inner .paginate ul{display:inline-block;list-style:none outside none;margin:0 auto 0 auto;padding:0;text-align:center;}
#inner .paginate ul li{background:none;display:inline-block;font-size:82%;list-style:none outside none;margin:0 10px;padding:0;}
/* END Primary content */
/*---!!!! TURN OFF RESPONSIVE BY DELETING THE CSS BELOW !!!!---*/
@media screen and (max-width:959px){
img.intro{display:block;border:0 solid rgba(255, 255, 255, 0.5);box-shadow:0 0 0 rgba(0, 0, 0, 0.25);height:auto;}
h1{margin-bottom:24px;}
h2,h2.h1{font-size:122%;font-family:'Effra W01 Regular',Arial,sans-serif;font-weight:normal;border:0;line-height:1;margin:0 0 20px 0;padding:0;}
h3.h2{font-size:107%;font-family:'Effra W01 Medium',Arial,sans-serif;font-weight:normal;margin:0 0 4px 0;}
.panel{background-color:#e8e8e8;}.bgcolor000,.bgcolorBlack{background-color:#000;}.bgcolorF00{background-color:#f00;}.bgcolorCyan{background-color:#00aeef;}.bgcolorGreen{background-color:#439539;}.bgcolorGray{background-color:#777;}.bgcolorMagenta{background-color:#ec008c;}.bgcolorOrange{background-color:#ff4800;}.bgcolorRed{background-color:#ef3e42;}.bgcolorViolet{background-color:#333092;}.bgcolorYellow{background-color:#ffd200;}.bgcolorFFF,.bgcolorWhite{background-color:#fff!important;}.transparent{background-color:transparent!important}
#inner .breadcrumb{margin:0;padding:10px 0 20px 0;}
/*img.block.center{height:auto;width:100%;}*/
#twocol-left #pri .res{max-width:none;}
#div_city{width:44%;padding-right:2%;}
.es #div_city{width:30%;}
#div_state{width:30%;padding-right:2%;}
#div_zip{width:12%;min-width: 53px;}
/* Tabs  */
ul.tabNav{border-bottom:0 solid #c2c2c2;}
ul.tabNav li,
.content ul.tabNav li{background-color:#999;border-color:#fff;}
ul.tabNav li a{border:0 solid #fff;color:#fff;height:50px;}
ul.tabNav li:first-child a{border-left-width:0;}
ul.tabNav.small li a{font-size:11px;}
ul.tabNav li a:hover{background-color:#ec008c!important;text-decoration:none;}
ul.tabNav li a.current,
ul.tabNav li a:hover.current{background-color:#009ddb!important;border-bottom:0 solid #fff;}
/* END Tabs  */
}
@media screen and (max-width:699px){
/* Grid */
.float1,.float2,.float3,.float4,.float5,.float10{display:none}
.float15,.float20,.float22,.float23,.float24,.float25,.float26,.float30,.float32,.float33,.float34,.float35,.float36,.float37,.float38,.float40,.float42,.float43,.float44,.float45,.float46,.float48,.float49,.float50,.float52,.float54,.float55,.float56,.float57,.float58,.float60,.float62,.float63,.float64,.float65,.float66,.float67,.float68,.float70,.float72,.float73,.float74,.float75,.float80,.float85{float:none;width:100%;}
form.iframe .float48,form.iframe .float45{min-height:60px;padding-top:5px;}
form.iframe .float48:first-child,form.iframe .float45:first-child{min-height:70px;padding-top:0;}
/* END Grid */
/* Forms */
form{max-width:none;}
legend{margin-bottom:20px;}
form.iframe .clearfix{padding-top:10px;}
form.iframe .clearfix:first-child{padding-top:0;}
/* END Forms */
#twocol-left .clearfix .float60 p{margin-bottom:10px;}
#twocol-left .clearfix .float60{border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:1.7em;}
div.icon p,div.icon .margin-left{margin-left:61px;}
div.thumb .margin-left{margin-left:90px;}
div.thumb img{max-width:80px;}
/* Tabs  */
ul.tabNav li a{font-size:11px;}
/* END Tabs  */
}
@media screen and (max-width:599px){
#pri a.caption{display:block;float:none;margin-bottom:24px;}
/* Tabs  */
ul.tabNav.five,ul.tabNav.six,ul.tabNav.seven{border-bottom:2px solid #00aeef;}
.content ul.tabNav.four li,.content ul.tabNav.five li,.content ul.tabNav.six li,.content ul.tabNav.seven li{float:none;border-bottom:#fff solid 1px; border-left:0;}
ul.tabNav.five li,ul.tabNav.six li,.tabNav.seven li{background-color:transparent;display:block;width:auto; margin-bottom:4px!important;}
ul.tabNav.five li a,ul.tabNav.six li a,.tabNav.seven li a{background-color:transparent;border:0;color:#00aeef;font-size:100%;height:auto;background-attachment: scroll;background-image:url(../img/branding/bg-btn.png)/*tpa=http://www.nrg.com/assets/img/branding/bg-btn.png*/;background-position:right -638px;background-repeat:no-repeat;display:inline-block;line-height:18px;padding:0 20px 0 0;
width:auto;}
ul.tabNav.five li a:hover,ul.tabNav.six li a:hover,.tabNav.seven li a:hover{background-color:transparent!important;}
ul.tabNav.five li a.current,ul.tabNav.six li a.current,ul.tabNav.seven li a.current{background-color:transparent!important;background-image:none;color:#231F20;text-align:left;}
/* END Tabs  */