	
/* Header Slider Module */

.ctl-slideshow-bg{position:relative; z-index:0; margin:0; text-align:center;}
.ctl-slideshow-bg img.slide{display:block; position:relative; top:0; margin:0 auto;}
.ctl-slideshow-bg b.slide{display:block; position:absolute; top:0; bottom:0; left:0; right:0; background:transparent no-repeat top;}
.ctl-header.size-by-content .ctl-slideshow-bg{position:absolute; top:0; bottom:0; left:0; right:0;}


#mboxSlideData{display:none;}
.cms2SlideshowModule{position:static;}
.cms2SlideshowModule.short-header{height:0;}
.cms2SlideshowModule.short-header #program_title_module{bottom:50px;}
.cms2SlideshowModule.short-header #header_slide_legal{bottom:24px;}
.ctm-slider{position:relative; width:214px; /* height:270px; padding-bottom:32px; */}
	#ctl_bg{position:absolute; left:0; top:0;}
	#ctl_bg .slide{width:980px;}
	.ctm-slider .slider-bg{position:absolute; display:block; width:214px; height:270px; z-index:0; box-shadow:0 1px 3px #000; -moz-box-shadow:0 1px 5px rgba(0,0,0,0.5); -webkit-box-shadow:0 1px 5px rgba(0,0,0,0.5); border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
	.ctm-slider .slider-chrome-tup{position:absolute; display:block; width:214px; height:270px; overflow:hidden; z-index:2;}
	.ctm-slider .slider-chrome-tup b{position:absolute; display:block; background:url(/images/content/slider/slider_chrome.png) no-repeat; cursor:pointer; z-index:1;}
	.ctm-slider .slider-chrome-tup b.slider-chrome{background-position:0 0; width:214px; height:270px; cursor:default;}
	.ctm-slider .slider-chrome-tup b.slider-up{background-position:-9999px; left:92px; top:3px; width:32px; height:32px;}
	.ctm-slider .slider-chrome-tup b.slider-down{background-position:-9999px; left:92px; top:55px; width:32px; height:32px;}
	.ctm-slider .slider-chrome-tup b.slider-up:hover{background-position:-734px -3px}
	.ctm-slider .slider-chrome-tup b.slider-down:hover{background-position:-734px -235px;}
	.ctm-slider .slider-chrome-tup b.slider-hotspot-1{background-position:-214px 0; left:0; top:0; width:214px; height:90px; }
	.ctm-slider .slider-chrome-tup b.slider-hotspot-2{background-position:-214px bottom; left:0; bottom:0; width:214px; height:90px;}
	.ctm-slider .slider-chrome-tup b.slider-hotspot-1:hover{background-position:-428px 0; }
	.ctm-slider .slider-chrome-tup b.slider-hotspot-2:hover{background-position:-428px bottom; }
	.ctm-slider .slider-chrome-tup b.slider-lid,
	.ctm-slider .slider-chrome-tup b.slider-foot{display:none;}
	.ctm-slider .slider-chrome-tup b:hover{}
	.ctm-slider .slider-thumbs-tup{position:absolute; top:2px; left:2px; z-index:1; width:210px; height:266px; overflow:hidden;}
		.ctm-slider .slider-thumbs{position:absolute; top:0;}
		.ctm-slider .slider-thumbs li{position:relative; width:210px; height:89px; overflow:hidden; background:#000; line-height:0; font-size:0;}
		.ctm-slider .slider-thumbs li img{position:absolute; top:-1px; left:-2px; display:block; width:214px;}
		.ctm-slider .slider-thumbs ol{position:absolute;}
	.ctm-slider-2{}
	.ctm-slider-2 .slider-thumbs-tup{top:1px; height:180px;}
	.ctm-slider-2 .slider-chrome-tup{height:182px; top:0;}	
	.ctm-slider-2 .slider-chrome-tup b.slider-chrome{background:none; top:2px; height:178px; overflow:hidden;}
	.ctm-slider-2 .slider-chrome-tup b.slider-lid{display:block; top:0; left:0; background-position:0 0; width:214px; height:2px; z-index:0; cursor:default;}
	.ctm-slider-2 .slider-chrome-tup b.slider-foot{display:block; top:180px; left:0; background-position:0 100%; width:214px; height:2px; z-index:0; cursor:default;}
	.ctm-slider-2 .slider-chrome-tup b.slider-hotspot-1{}
	.ctm-slider-2 .slider-chrome-tup b.slider-hotspot-2{}
	.ctm-slider-2 .slider-chrome-tup b.slider-hotspot-1:hover{background-position:-9999px;}
	.ctm-slider-2 .slider-chrome-tup b.slider-hotspot-2:hover{background-position:-9999px;}	
	.ctm-slider-2 .slider-chrome-tup b.slider-indicator{left:0; top:-90px; background-position:0 0; width:214px; height:270px; cursor:default;}
	.ctm-slider-2 .slider-chrome-tup b.slider-up{display:none}
	.ctm-slider-2 .slider-chrome-tup b.slider-down{display:none}
	.ctm-slider-2 .slider-chrome-tup b.active{display:none;}
	.ctm-slider-2 .slider-bg{height:180px;}

	.ctm-slider-2 .slider-thumbs li.slide-0{height:90px;}
	.ctm-slider-2 .slider-thumbs li.slide-1{height:90px;}

	.ctm-slider-1{display:none;}	

#header_slide_overlay_container {position:absolute;top:0;left:0;}
#header_slide_overlay {position:relative;}
.short-header #header_slide_overlay{height:150px;}