.js-lazy-styles.in-page-gallery{visibility:hidden;}
/* Photo Carousel Lightbox */
#lb_photo_carousel {
	-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;
	}
#lb_photo_carousel .activeWindow{border:1px solid #282828;}
#lb_photo_carousel .lightbox-tup{padding:0px; margin:0px;background: #222;}
#lb_photo_carousel a.lb-close{display:block; position:absolute; float:none; z-index:3; top:-11px; right:-11px; left:auto; width:23px; height:22px; overflow:hidden; text-indent:-9999px; text-decoration:none; background:url(/images/global/lightbox/lb_vid_btn_close.png) no-repeat 0 0;}
#lb_photo_carousel a.lb-close:hover{text-decoration:none; background-position:0 -22px;}
#lb_photo_carousel .lightbox-tup .lightbox-bg{background:none; border:none; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
#lb_photo_carousel h4.lb-header{display:none;}
#lb_photo_carousel .lb-sbcontent{}
#lb_photo_carousel.lightbox-tup a.btn-spinner, #lb_video_player .lightbox-tup a.btn-spinner.disabled, .#lb_video_player lightbox-tup a.btn-spinner.disabled:hover{background-image:url(/images/global/ajax/loading_16px.dark.gif);}
#lb_photo_carousel .photo-head {margin: 14px 30px 30px 30px;display:block;height: 85px;}
#lb_photo_carousel .photo-title span {font-family: "Trebuchet MS"; font-weight: bold;font-size: 24px;color: #aaa;line-height:1em;}
#lb_photo_carousel .photo-caption {float:left;margin-top: 24px;width: 80%;}
#lb_photo_carousel .photo-caption span {font-family: Arial; font-size: 12px;color: #b3b3b3;z-index:3;}
#lb_photo_carousel .photo-counter {float:right;text-align: right;position: relative;top: 25px;}
#lb_photo_carousel .photo-counter span {font-family: Arial; font-weight: bold;font-size: 20px;color: #b3b3b3;z-index:3;line-height:1em;}
#lb_photo_carousel .photo-container {height:271px;position: relative;margin: 30px}
#lb_photo_carousel .photo-container .left-arrow {z-index: 3;height: 100%;width:70%;position:absolute;top:0;left:0;background-image: url('/images/carousel/photo_gallery/trans.png');}
#lb_photo_carousel .photo-container .disabled:hover{cursor: default !important;}
#lb_photo_carousel .photo-container  .left-arrow:hover {cursor: pointer;}
#lb_photo_carousel .photo-container .left-arrow a{position:absolute;display:block;height:55px;width: 46px;background-image: url('/images/carousel/photo_gallery/media_module.png');background-position: -10px -20px;background-repeat: no-repeat;text-align:left;}
#lb_photo_carousel .photo-container .left-arrow a:hover{text-align: left;}
#lb_photo_carousel .photo-container .left-arrow .mouseover{background-position: -200px -20px;text-decoration:none;display:inline;}
#lb_photo_carousel .photo-container .right-arrow {z-index: 3;height: 100%;width:50%;position:absolute;top:0;left:50%;background-image: url('/images/carousel/photo_gallery/trans.png');}
#lb_photo_carousel .photo-container .right-arrow:hover {cursor: pointer;}
#lb_photo_carousel .photo-container .right-arrow a{display:block;height:55px;width: 46px;background-image: url('/images/carousel/photo_gallery/media_module.png');background-position: -136px -20px;background-repeat: no-repeat;text-align:right;margin-right:0;}
#lb_photo_carousel .photo-container .right-arrow .mouseover{background-position: -326px -20px;text-decoration:none;display:inline;}
#lb_photo_carousel .photo-container .photo-image{text-align: center;}
#lb_photo_carousel .photo-carousel-lb {width: 100%;position:relative;height: 112px;background:#1a1a1a;}
#lb_photo_carousel .photo-carousel-lb img{height: 72px;padding: 2px;}
#lb_photo_carousel .photo-carousel-lb .ep-carousel-prev{float: left;height: 72px;left:25px;position:relative;top:-22px;width:20px;}
#lb_photo_carousel .photo-carousel-lb .carousel-list {width: 741px;height: 96px;left:38px;overflow:hidden;position:relative;}
#lb_photo_carousel .photo-carousel-lb .carousel-list ul {width: 300%;}
#lb_photo_carousel .photo-carousel-lb .carousel-container {padding-top: 20px;}
#lb_photo_carousel .photo-carousel-lb .carousel-container .carousel-list li {margin-right: 6px;}
#lb_photo_carousel .photo-carousel-lb .carousel-container .carousel-list img.active {border: 2px solid #fff;padding: 0px;}
#lb_photo_carousel .photo-carousel-lb .carousel-container .carousel-list img:hover {border: 2px solid #00ace5;padding: 0px;}
#lb_photo_carousel .photo-carousel-lb .ep-carousel-next{float: right;height: 72px;margin-right:29px;position:relative;top:-117px;width:20px;}
#lb_photo_carousel .photo-container .photo-image {position:relative;z-index: 0;}
#lb_photo_carousel .photo-container .photo-image img{position:relative;z-index: 1;}
#lb_photo_carousel .lb-caption{background-color: #222;border-color: #222;}
#lb_photo_carousel .lb-btn-wrap {display: none;}
#lb_photo_carousel .lightbox-tup:after{content:""; display:block; height:0; clear:none; visibility:hidden; zoom:1;}
.breaker {background-image: url('/images/content/carousel/carousel_end_marker_dark.png');background-position: -97px 0;background-repeat: repeat-y;}
/* eportal carousel */


/* photo-carousel styles */
.photo-carousel{height: 194px;font-family: "Trebuchet MS";font-weight: bold;color: #333;position: relative;}
.photo-carousel .ep-carousel-prev{position: relative;float: left;left: 21px;width: 20px;top: 38px;height: 72px;}
.photo-carousel .ep-carousel-prev.disabled:hover  {left:21px;}
.photo-carousel .ep-carousel-next{position: relative;float: right;margin-right: 25px;width:20px;top: -58px;height: 72px;}
.photo-carousel .column { height: 113px; position: relative; font-size: 14px;}
.colspan-4 .photo-carousel {background: url('/images/content/carousel/background4Column.png') no-repeat;}
.colspan-3 .photo-carousel {background: url('/images/content/carousel/background3Column.png') no-repeat;}
.colspan-2 .photo-carousel {background: url('/images/content/carousel/background2Column.png') no-repeat;}
.colspan-2 .photo-carousel .column{width: 444px;}
.colspan-3 .photo-carousel .column{width: 674px;}
.colspan-4 .photo-carousel .column { width: 904px;}
.photo-carousel .carousel-container span {padding-left:24px;margin:0px;padding-top: 16px;width:400px;position:absolute;left:0;}
.photo-carousel .carousel-container .carousel-list {position: relative;top: 60px;left: 25px;height: 96px;overflow: hidden;}
.colspan-2 .photo-carousel .carousel-container .carousel-list {width: 352px;}
.colspan-3 .photo-carousel .carousel-container .carousel-list {width: 582px;}
.colspan-4 .photo-carousel .carousel-container .carousel-list {width: 819px;}
.carousel-container .carousel-list ul{margin: 0;padding: 0;list-style-type: none;position: relative;width: 1000px;}
.carousel-container .carousel-list li a img{padding: 2px;}
.carousel-container .carousel-list li a:hover img{border: 2px solid #0099cc;padding: 0;}
.carousel-container .carousel-list li a span{display: none; background-image: url('/images/carousel/photo_gallery/media_module.png'); background-position: 0px -90px;background-repeat: no-repeat; position: absolute; left: 0px; top: 33px;width:30px;height: 30px;}
.carousel-container .carousel-list li a:hover span{display: block;}
.carousel-list img{height: 72px;width: 96px;}
.carousel-list .portrait{width: 54px;}

/* photo-carousel end */

/* photo-carousel */
.dark-theme .photo-carousel{color: #fff;}
.dark-theme .photo-gallery{color: #fff;}
.dark-theme .photo-gallery .h-rule{background-position: 1px -8px;}
.dark-theme .photo-gallery .gallery-footer{color: #b3b3b3;}
.dark-theme .photo-gallery .gallery-pagination{color: #b3b3b3;}
.dark-theme .carousel-container .carousel-list li a:hover img{border: 2px solid #00ace3;}
.dark-theme .colspan-4 .photo-carousel {background: url('/images/content/carousel/background4Column-dark.png') no-repeat;}
.dark-theme .colspan-3 .photo-carousel {background: url('/images/content/carousel/background3Column-dark.png') no-repeat;}
.dark-theme .colspan-2 .photo-carousel {background: url('/images/content/carousel/background2Column-dark.png') no-repeat;}
/* End of photo-carousel */

/*in-page-carousel*/
.dark-theme .in-page-gallery .title{color:#fff;}
.dark-theme .in-page-gallery .gallery-footer{color: #b3b3b3}
.dark-theme .colspan-2 .in-page-gallery .title {background-position: -7px -237px;}
.dark-theme .colspan-3 .in-page-gallery .title {background-position: -7px -265px;}
.dark-theme .colspan-4 .in-page-gallery .title {background-position: -7px -293px;}
/* End */

