.content h4[data-toggle="collapse"] {
	cursor: pointer;
	background: #ececec none !important;
	border-radius: 2px;
	border: 1px solid #ddd;
	line-height: 32px;
	color: #000 !important;
	padding: 2px 0 2px 6px !important;
	display: block !important;
}

.content h4[data-toggle="collapse"].on .icon-plus-grey {
	background-position: right 1571px !important;
}

.content.addSpace {
	padding: 0 15px;
}

.collapse {
	display: none;
	padding: 10px 0;
}

.in {
	display: block;
	padding-bottom: 15px;
}

.icon-plus-grey {
	background: #ececec url("/static/images/halflings.png") !important;
	float: right;
	background-position: right 1546px ! important;
	margin: 8px !important;
}