        li.store:nth-child(odd) {
  /* background: #ddd; */
  padding-left: 35px;
  background-image: url(https://arcowebsite.files.wordpress.com/2014/12/location-drop.png);
  background-repeat: no-repeat;
  background-position: 5px 6px;
}

li.store:nth-child(even) {
  background: #fff;
  padding-left: 35px;
  background-image: url(https://arcowebsite.files.wordpress.com/2014/12/location-drop.png);
  background-repeat: no-repeat;
  background-position: 5px 6px;
}


.gm-style .title {
  color: #0052cf;
  font-size: 1em;
  font-weight: 700;
}

.gm-style .title {
  font-size: 15px !important;
}

.gm-style .address {
  /* font-size: .85em; */
  color: #000;
  border: 0;
  background-color: #fff;
}