/*
-----------------------------------------------------
CSS file for Main Realogy Site
FileName:    realogy.css
Version:     2006.04.25
-----------------------------------------------------

-----------------------------------------------------
Colours/Fonts
=============
Green     = #237767     | BreadCrumb   = Arial 11
Dk GREEN  = #004837     | Site Info    = Arial 10
Yellow    = #E9BB2E     | Left Nav.    = Arial 11
DK Beige  = #999669     | Main Content = Arial 10
LT Beige  = #D2D1BD     | Headers      = Arial 13 Bold
DK Gray   = #333333     | Right Nav.   = Arial 11
LT Gray   = #666        |
Black     = #000 

-----------------------------------------------------
*/

/* MAIN ELEMENTS                                      */
/* -------------------------------------------------- */

/* Layout Definitions */

@import url("MainPage_2012.css")/*tpa=https://www.realogy.com/css/MainPage_2012.css*/;
@import url("MainLayout_2012.css")/*tpa=https://www.realogy.com/css/MainLayout_2012.css*/;
@import url("TopNav_2012.css")/*tpa=https://www.realogy.com/css/TopNav_2012.css*/;
@import url("LeftNav_2012.css")/*tpa=https://www.realogy.com/css/LeftNav_2012.css*/;
@import url("Content_2012.css")/*tpa=https://www.realogy.com/css/Content_2012.css*/;
@import url("FormElements_2012.css")/*tpa=https://www.realogy.com/css/FormElements_2012.css*/;

/* EOF */
