/*
-----------------------------------------------------
MENU & BREADCRUMB Definitions
-----------------------------------------------------
FileName:    TopNav.css
Version:     2006.05.01
-----------------------------------------------------
*/

/* HEADERS */
/* -------------------------------------------------- */
.HeaderLogo {
	position         : absolute;
	left             : 25px;
	padding-top      : 15px;
}

/* TOP NAV                         */
/* ------------------------------- */
#topnav {
	position         : absolute;
 	list-style       : none;
	width            : 960px;
	height           : 25px;
	left             : 0px;
	top              : -1px;
	border-bottom	 : 1px solid #143733;
	background-color : #005847;
	margin:0px;
	padding:0px;
}
#topnav li {
 	margin           : 0px;
	margin-top       : 0px;
	padding          : 0px;
	float            : left;
	display          : block;
	height:25px;
	display:block;
	border-left:     1px solid #4d7664;
}

#topnav li.first {
	margin-left:56px;
}


#topnav li.last {
	border-right:     1px solid #4d7664;
}

#topnav li a {
	display          : block;
 	margin           : 0px;
	padding          : 0px;
	overflow         : hidden;
	height           : 25px;
	padding:0px 12px;
	line-height: 25px;
	font-size:12px;
	color:white;
	text-shadow: 1px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    font-weight:bold;
    text-decoration:none;
}

#topnav li a:hover {
	background:transparent url(../images/nav-bg-hover.gif)/*tpa=https://www.realogy.com/images/nav-bg-hover.gif*/ repeat-x scroll 0 0;
	color:black;
	text-shadow: 1px 1px 0px #f6e1a3;
    filter: dropshadow(color=#f6e1a3, offx=1, offy=1);
}

#topnav li a.active {
	background:transparent url(../images/nav-bg-hover.gif)/*tpa=https://www.realogy.com/images/nav-bg-hover.gif*/ repeat-x scroll 0 0;
	color:black;
	text-shadow: 1px 1px 0px #f6e1a3;
    filter: dropshadow(color=#f6e1a3, offx=1, offy=1);
}


/* THIS IS USED TO PRE-LOAD MOUSEOVER LINKS */
.hiddenPic {
	display          :none;
}


/* BREADCRUMBS                     */
/* ------------------------------- */
.BreadCrumbSiteInfo {
	position         : relative;
	left             : 15px;
	top              : 3px;
	font-family      : Verdana, Arial, Tahoma, sans-serif;
	font-size        : 90%;
}
.BreadCrumbSearch {
	position         : relative;
	left             : 15px;
	top              : 5px;
	font-family      : Verdana, Arial, Tahoma, sans-serif;
	font-size        : 90%;
}
#breadcrumbs {
	position         : relative;
	top              : 0px;
	font-size        : 90%;
	text-align       : left;
	list-style       : none;
}
#breadcrumbs ul {
	display          : inline;
}
#breadcrumbs li {
	margin-left      : 3px;
	float            : left;
}
#breadcrumbs li a {
	color            : #000;
	text-decoration  : none;
}
#breadcrumbs li a:hover {
	color            : #000;
	text-decoration  : underline;
}
#breadcrumbs li.last a {
	color            : #000;
}
#breadcrumbs li.last a:hover {
	color            : #000;
	text-decoration  : underline;
}
