/* HTML5 Boilerplate */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, button, input, select, textarea { color: #4d4d4d; outline: none; }
select, select:hover, select:focus, select:active { outline: none; }
body { font-size: 1em; }
a { color: #4d4d4d; }
a:hover { color: #4d4d4d; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }

/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/* Remove the gap between images and the bottom of their containers: h5bp.com/i/440 */

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/* Remove default fieldset styles. */
fieldset { border: 0; margin: 0; padding: 0; }

/* Allow only vertical resizing of textareas. */
textarea { resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.750em; /* change base size from 1em to .75em */
    line-height: 1em;
    background: #111522;
    /*-webkit-text-size-adjust:none;*/ /*prevent iphone font scaling*/
}

p {
    font-size: 1em;
    line-height: 1.250em;
    padding: 0;
    margin: 0 0 1.250em 0;
}

h1 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.750em;
    line-height: 1.125em;
    padding: 0 0 0.250em 0;
    margin: 0 0 0.750em 0;
}

h2 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.750em;
    line-height: 1.125em;
    padding: 0 0 0 0;
    margin: 0 0 0.625em 0;
	z-index:502;
}

.three-column h2, .three-column h2 { border-bottom: solid 1px #3e3e3e; }

h3 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 1.500em;
    line-height: 1.750em;
    font-weight: normal;
    margin: 0em 0 0.313em 0;
}

h4 {
    font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
    font-size: 1.167em;
    font-weight: bold;
    margin: 0em 0 0.167em 0;
}

h4.subhead {
	font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
	font-size: 1.167em;
	font-weight: bold;
	margin: 0em 0 1.250em 0;
}

h4.subheadNoBottomMargin {
	font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
	font-size: 1.167em;
	font-weight: bold;
	margin: 0em 0 0 0;
}

h4.subheadStatus {
	font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
	font-size: 1.167em;
	font-weight: bold;
    font-style: italic;
	margin: 0em 0 1.250em 0;
}

div.planHomeType {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: .5em 0 1.250em 0;
    font-size: .95em;
    color: #9b9b9b;
}

div.planHomeTypeNoTabName {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: -0.3em 0 1.250em 0;
    font-size: .95em;
    color: #9b9b9b;
}

h4.price { font-size: 1.500em; line-height: 1em; font-weight: normal; }

ul.bullets, .col1 ul, .col2 ul, .col3 ul {
    padding: 0;
    margin: 0em 0 1.250em 0em;
    list-style: none;
    display: block;
}

ul.bullets li, .col1 ul li, .col2 ul li, .col3 ul li {
	line-height: 1.250em;
	padding: 0 0 0 0.750em;
	margin: 0 0 0 0.313em;
	list-style: none;
	background: url(../images/bullet.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/bullet.gif*/ no-repeat left 5px;
}

.col1 ol li, .col2 ol li, .col3 ol li {
	line-height: 1.250em;
	padding: 0 0 0 0.1em;
	margin: 0 0 0 0.2em;
	list-style: decimal;
}
.col1 ol ol, .col2 ol ol, .col3 ol ol { margin-top:0.4em; margin-bottom:0.6em; }
.col1 ol li li, .col2 ol li li, .col3 ol li li {
	list-style: lower-alpha;
}

.col1 .bx-wrapper li, .col2 .bx-wrapper li, .col3 .bx-wrapper li { padding: 0 0 0 0em; margin: 0 0 0 0em; background-image:none; }
.col1 .selectboxit-container li, .col2 .selectboxit-container li {
	padding: 0 0 0 0em;
	margin: 0 0 0 0em;
	background: #eeeeee url(gray/images/ui-bg_highlight-hard_100_eeeeee_1x100-1.png)/*tpa=http://www.drhorton.com/sites/com/design/css/gray/images/ui-bg_highlight-hard_100_eeeeee_1x100.png*/ 50% 50% repeat-x;
}
.col1 .selectboxit-container li:hover, .col2 .selectboxit-container li:hover {
	padding: 0 0 0 0em;
	margin: 0 0 0 0em;
	background: #dadada url(gray/images/ui-bg_inset-soft_100_dadada_1x100-1.png)/*tpa=http://www.drhorton.com/sites/com/design/css/gray/images/ui-bg_inset-soft_100_dadada_1x100.png*/ 50% 50% repeat-x;
}

/***** Layout styling *****/
#header, #nav, #page, #footer {
    width: 100%;
    min-width: 980px;
    display: block;
}

#page {
    background: url(../images/page.jpg)/*tpa=http://www.drhorton.com/sites/com/design/images/page.jpg*/ repeat 0px 0px;
    min-height: 400px;
    display: block;
}
.topdisclaimer {
    background: url(../images/page.jpg)/*tpa=http://www.drhorton.com/sites/com/design/images/page.jpg*/ repeat 0px 0px;
    display: block;
    font-family: arial;
    font-size: 0.917em;
    color: #9b9b9b;
    padding: 1em 0 1em 0;
}
.footerbrands {
    background: url(../images/page.jpg)/*tpa=http://www.drhorton.com/sites/com/design/images/page.jpg*/ repeat 0px 0px;
    display: block;
    font-family: arial;
    font-size: 0.917em;
    color: #9b9b9b;
    padding: 1em 0 1em 0;
}

#request {
	cursor:pointer;
    margin-bottom:12px;
}
#request:hover {
  color:#544d4d
}

#siderequest {
	cursor:pointer;
	text-indent:-9999px;
	background:url(../images/request_info.png)/*tpa=http://www.drhorton.com/sites/com/design/images/request_info.png*/ no-repeat 0px 0px;
	width:33px;
	height:154px;
	position:fixed;
	top:35%;
	right:0px;
    z-index:400;
}
#siderequest:hover {
	background:url(../images/request_info_hover.png)/*tpa=http://www.drhorton.com/sites/com/design/images/request_info_hover.png*/ no-repeat 0px 0px;
}

.buttonRed {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.167em;
    text-transform: uppercase;
    line-height: 1em;
    padding: 0.833em;
    margin: 0 0 0.625em 0;
    background: #e32421;
    display: block;
}

div.container {
    min-width: 960px;
    max-width: 1150px;
    padding: 0 10px;
    margin: 0 auto;
    display: block;
}
#header div.container{position:relative;}

header, #header {
    text-align: center;
    background: #FFF url(../images/header.png)/*tpa=http://www.drhorton.com/sites/com/design/images/header.png*/ repeat-x 0px 0px;
    height: 69px;
}

#header a.logo {
	/*background:url(../images/logo.png) no-repeat 0px 0px;
	text-indent:-9999px;*/
	width: 179px;
	height: 69px;
	margin: 0;
	display: block;
	float: left;
}

#header a.banner-ad {
	text-align: center;
	width: auto;
	height: 69px;
	margin: 0 auto 0 auto;
	display: block;
}
#header #nationalPromotionsBannerSlider {
    width: 615px;
    display: inline-block;
    position: relative;
    left: -75px;
    height:70px;
}

#header #nationalPromotionsBannerSlider  ul
{
	padding-top:0px;
	margin-top:0px;
	margin-left:0px;
	padding-left:0px;
}

#header #nationalPromotionsBannerSlider  ul li
{
margin-top:0px;
padding-top:0px;
	margin-left:0px;
	padding-left:0px;
}


#header .fb-like{position:absolute;top:23px;right:10px;width:auto !important;}

nav, #nav {
    text-align: center;
    background: #fff url(../images/nav.png)/*tpa=http://www.drhorton.com/sites/com/design/images/nav.png*/ repeat 0px 0px;
    width: 100%; /*added for ipad*/
    padding: 0;
    margin: 0;
    border-top: solid 1px #303030;
    border-bottom: solid 1px #ee2e24;
}

nav ul, #nav ul
{
	text-align: center;
	width: auto;
	padding: 0;
	margin: 0 auto;
	display: block;
}

nav li, #nav li
{
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
	*display: inline; /* IE7 Hack */
}

nav li a, #nav li a
{
	color: #d4d4d4;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	text-transform: uppercase;
	text-decoration: none;
	width: auto;
	padding: 8px 0 8px 0;
	margin: 0 30px;
	list-style: none;
	display: inline-block;
}

nav li a:hover, #nav li a:hover { color: #FFF; }
nav li a.selected, #nav li a.selected { padding-bottom: 5px; border-bottom: solid 3px #ee2e24; }

.sec-content ul li { list-style: disc;}
.main-content ul  li { list-style: disc;}
/***** layout styling *****/
.breadcrumb
{
    font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
    font-size: 1.167em;
    min-height: 30px;
    display: block;
    padding: 6px 0;
    margin: 0 0 12px 0;
}

.breadcrumb .crumb { font-weight: normal; padding: 7px 0; float: left; }
.breadcrumb .crumb a { color: #224476; text-decoration: none; }
.breadcrumb .crumb a:hover { text-decoration: underline; }

.breadcrumb .share { text-align:right; width:220px; display:block; float:right; }
.breadcrumb .share b { padding:1px 0 0 0; }
.breadcrumb .share ul { width:auto; display:inline; padding:0; margin: 0 0 0 2px; }
.breadcrumb .share li { width:30px; display:inline; padding:0; margin: 0 0 0 1px; }

/***** Columns *****/
.col1, .col2, .col3 { background: none; display:block; float:left; padding:0; margin:0; }
.col1, .one-column .col1 { width: 100%; }
.two-column .col1, .three-column .col1 { width: 17%; min-height: 620px; }  /* width 163.2 px (17%) */
.two-column .col2 { width: 81%; margin: 0 0 0 2%; } /* 777.6 ÷ 960 (81%) Gutter between columns = about 19.2 px or (2%) */
.three-column .col2 { width: 56%; margin: 0 2%; } /* 537.6 ÷ 960 = (56%) Gutter between columns = about 19.2 px or (2%) */
.three-column .col3 { width: 23%; }/* 220.8 ÷ 960 = (23%) */
.three-column .contentWrap { width:83%; float:left; display:inline-block; } 
.three-column .contentWrap .col2  { width:67%; margin: 0 2.5%; } /* 537.6 ÷ 796.8 = (67.46987951807229) */
.three-column .contentWrap .col3  { width:28%; }
.one-column-with-right .col1 { width:75%; margin: 0 2% 0 0; }
.one-column-with-right .col2 { width: 23%; }

h1.pagetitle, .one-column-with-right .col1 h1 { border-bottom: 1px solid #3e3e3e; }
.one-column-with-right .col1 h2 { border-bottom: 1px solid #3e3e3e; }
.one-column-with-right .col1 h4 { font-size: 1.250em; }

/***** Footer *****/
footer, #footer {
    color: #5372a6;
    background: #1d2337 url(../images/footer.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/footer.gif*/ repeat 0px 0px;
    padding: 1.625em 0 0 0;
    display: block;
    border-top: solid 4px #58617c;
}

footer a, #footer a { color: #a3c5ff; text-decoration: none; }
footer a, #footer a:hover { text-decoration: underline; }

footer h3, #footer h3 {
	color: #85a5cc;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0em 0 0.313em 0;
}

footer .column, #footer .column {
    width: 38%;
	display: block;
    margin-bottom: 10px;
	float: left;
}

footer .column-last, #footer .column-last {
	width: 35%;
	display: block;
	float: right;
	clear: right;
}

footer .outer-left-column, #footer .outer-left-column {
    float: left; 
    width: 65%;
}

footer .brand-container, #footer .brand-container {
	margin-bottom:10px;
    margin-left: 0px;
    white-space: nowrap;
	margin-top:-7px;
}

footer .brand-container .brand, #footer .brand-container .brand {
    /*float: left;*/
    text-align: center;
    display: inline-block;

}

footer .brand-container .brand-family, #footer .brand-container .brand-family {
    /*float: left;*/
    width: 17%;
    min-width: 120px;
    display: inline-block;
	position:relative;
	top:3px;
	
}

footer .brand-container .brand-family-separator, #footer .brand-container .brand-family-separator {
    /*float: left;*/
    width: 2%;
    display: inline-block;

}
.brand-family h3 {
    color: #85a5cc;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0em 0 0.313em 0;
    font-size: 1.5em;
    line-height: 1.75em;
}

footer div.divider, #footer div.divider {
	background: url(../images/footer_divider.jpg)/*tpa=http://www.drhorton.com/sites/com/design/images/footer_divider.jpg*/ no-repeat center top;
	background: -moz-linear-gradient(left, rgba(47,59,82,0.01) 0%, rgba(47,59,82,1) 20%, rgba(47,59,82,1) 80%, rgba(47,59,82,0.01) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(47,59,82,0.01)), color-stop(20%,rgba(47,59,82,1)), color-stop(80%,rgba(47,59,82,1)), color-stop(100%,rgba(47,59,82,0.01))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(47,59,82,0.01) 0%,rgba(47,59,82,1) 20%,rgba(47,59,82,1) 80%,rgba(47,59,82,0.01) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(47,59,82,0.01) 0%,rgba(47,59,82,1) 20%,rgba(47,59,82,1) 80%,rgba(47,59,82,0.01) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(47,59,82,0.01) 0%,rgba(47,59,82,1) 20%,rgba(47,59,82,1) 80%,rgba(47,59,82,0.01) 100%);  /*IE10+*/ 
	background: linear-gradient(to right, rgba(47,59,82,0.01) 0%,rgba(47,59,82,1) 20%,rgba(47,59,82,1) 80%,rgba(47,59,82,0.01) 100%); /* W3C */
	width: 100%;
	height: 1px;
    margin: 0 0 10px 0;
	display: block;
	clear: both;
    border-bottom: solid 1px #414964;
    border-collapse: collapse;
}

footer div.disclaimer, #footer div.disclaimer { font-size:0.917em; display:block; }
footer ul, #footer ul { list-style:none; padding:0; margin:0; }
footer li, #footer li { background:none; font-size:1em; list-style:none; padding:0; margin:0; }

footer ul.links li, #footer ul.links li { line-height: 1.500em; }
footer li a, #footer li a { color: #5372a6; }

#footer .foot {
	/*color: #5372a6;*/
    color: #fff;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	/*font-weight:bold;*/
	font-size: 0.917em;
	text-transform: uppercase;
	line-height: 28px;
	background: #111522;
	height: 29px;
	padding: 5px 0;
	display: block;
}

#footer .foot img { margin: 0 8px 0 0; float: left; }
#footer .foot a {color: #fff; /*color: #5372a6;*/ }
#footer .foot .copyright { font-size: 1.167em; }

footer div.social, #footer div.social {
	min-height: 30px;
    padding: 0 0 0 0;
    margin: 0em 0 .02em 48px;
}

footer div.social h3, #footer div.social h3 {
	width: auto;
	padding: 0em 0 0 0;
	margin: 0em 10px 0.313em 0;
	display: block;
	float: left;
}

footer div.social ul, #footer div.social ul {
	margin: -0.125em 0 0 0;
	float: left;
}

footer div.social li, #footer div.social li {
	width: auto;
	padding: 0;
	margin: 0 10px 0 0;
	display: block;
	float: left;
}

/********* Forms *********/

label.small { font-size: 1em; margin-right: 4px; }

input.fieldSmall
{
    font-size: 0.917em;
    line-height: 17px;
    height: 17px;
    background: url(../images/textfield_sm.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/textfield_sm.gif*/ repeat-x 0px 0px;
    padding: 0px 4px;
    margin: 0 4px 5px 0;
    border: none;
    outline: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .4);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .4);
}

input.fieldSmall:hover, input.fieldSmall:focus, input.fieldSmall:active
{
	background-position: 0px -18px;
	-moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .4), 0px 1px 1px 0px rgba(255, 255, 255, .4);
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .4), 0px 1px 1px 0px rgba(255, 255, 255, .4);
	box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .4), 0px 1px 1px 0px rgba(255, 255, 255, .4);
}

.labelRight { clear: left; }

/********* Home Page *********/

#wrap { width:100%; display:block; position:absolute; top:0; z-index:11000; left:0; right:0; }
#wrap nav, #wrap #nav, #wrap header, #wrap #header { background-color:transparent; }
#billboard { width:100%; display:block; }
#billboard .container { min-width:980px; max-width:1170px; padding:0 0px; }
#billboard .bx-wrapper .bx-prev { display: none; }
#billboard .bx-wrapper .bx-next { display: none; }

#lookup {
    color: #FFF;
    width: 413px;
    margin: 0 0 0 2%;
    display: block;
    position: absolute;
    top: 174px;
    /*z-index: 99999;*/
	z-index:9000;
}
#lookup h1 {
	color: #FFF;
	font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
	font-weight: normal;
	background: url(../images/lookup_head.png)/*tpa=http://www.drhorton.com/sites/com/design/images/lookup_head.png*/ repeat 0px 0px;
	font-size: 3.333em;
	margin: 0em 0;
	padding: 5px 16px;
}
#lookup .searchbox { background: url(../images/lookup_searchbox.png)/*tpa=http://www.drhorton.com/sites/com/design/images/lookup_searchbox.png*/ repeat-x 0px 0px; padding: 10px 10px 10px 10px; display: block; }
#lookup .search {
	background: url(../images/lookup_searchfield.png)/*tpa=http://www.drhorton.com/sites/com/design/images/lookup_searchfield.png*/ repeat 0px 0px;
	height: 30px;
	margin: 5px 0 10px 0;
	display: block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, .4), 0px 1px 1px 0px rgba(255, 255, 255, .4);
	-webkit-box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, .4), 0px 1px 1px 0px rgba(255, 255, 255, .4);
	box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, .4), 0px 1px 1px 0px rgba(255, 255, 255, .4);
}

#lookup .searchField { color:#B9CEE7; font-size:1.083em; background:none; border:none; width:336px; padding:8px 8px; margin:0; float:left; }
#lookup .searchField { position:absolute; }
#lookup .searchField:focus { outline:none; }

#lookup .ui-autocomplete-loading { background:url(../images/search_loading.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/search_loading.gif*/ right center no-repeat; }
#lookup .ui-helper-hidden-accessible { font-size:11px; margin:-14px 0 0 6px; position:absolute; }
#lookup .searchBtn { background: url(../images/lookup_searchbtn.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/lookup_searchbtn.gif*/ no-repeat 0px 0px; width:33px; height:30px; border:none; outline:none; padding:0; margin:0; float:right; }
#lookup .searchBtn:hover, #lookup .searchBtn:focus { background-position:0px -30px; }
#lookup p { font-size: 0.750em; }
#lookup a.viewmap { color:#FFF; text-decoration:none; background:url(../images/icon_view_map.png)/*tpa=http://www.drhorton.com/sites/com/design/images/icon_view_map.png*/ no-repeat right 2px; padding:0 20px 3px 0; margin:3px 0; *margin:-20px 0 0 0; float:right; clear:left; }
#lookup a.viewmap:hover { color:#ccc; background-position:right -14px; }
#lookup input.fieldSmall { text-align:center; width:50px; }

#homeSlider {
    width: 86%;
    padding: 0 7%;
}

#homeSlider li
{
	background: none;
}

#homeSlider h2
{
	color: #000;
	text-align: center;
	margin: 0.625em 0 0.313em 0;
}

#homeSlider p
{
	font-size: 1.083em;
	line-height: 1.250em;
	padding: 0;
	margin: 0 0 10px 0;
}

#homeSlider .bx-wrapper { /*max-width: 1150px;*/ width: 100%; margin: 0 auto 20px auto; }

#homeSlider .bx-wrapper img
{
	width: auto;
	max-width: 100%;
	margin: 0 auto;
}

#homeSlider .bx-wrapper .bx-prev
{
	left: 0px;
	margin-left: -5%;
}

#homeSlider .bx-wrapper .bx-next
{
	right: 0px;
	margin-right: -5%;
}

#homeSlider .bx-wrapper .bx-pager.bx-default-pager
{
	display: none;
}
#nationalPromotionsBannerSlider .bx-prev{
    margin-left:-26px;
     background-position-x: 0px;
    background-position-y: -124px;
    width: 10px;
    height: 22px;
	margin-top:-7px;
}

#nationalPromotionsBannerSlider .bx-prev:hover{
    background-position: 0px -148px;
}



#nationalPromotionsBannerSlider .bx-next{
    margin-right:-26px;
    background-position-x: -20px;
    background-position-y: -124px;
    width: 10px;
    height: 22px;
	margin-top:-7px;
}
#nationalPromotionsBannerSlider .bx-next:hover{
    background-position: -20px -148px;
}

/**** jTweets ****/

#tweets {
    color: #fff;
    background: url(../images/tweet.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/tweet.gif*/ no-repeat left bottom;
    padding: 0px 0px 0px 48px;
    margin: 0 0 12px 0;
    display: block;
    position: relative;
}

#tweets .timeline-header {
	background: #323e56;
}

/*
#tweets .jta-tweet-list {
	background: #323e56;
	padding: 0;
	margin: 0 0 10px 0;
	list-style: none;
	overflow: visible;
	display: block;
}
.jta-tweet-profile-image { width: 48px; display: inline; float: left; }
.jta-tweet-profile-image img { width: 48px; height: 48px; }
.jta-tweet-body { padding: 8px 0; margin: 0 8px; border-bottom: 1px solid #1d2337; }
.jta-tweet-text { font-size: 1.083em; line-height: 1.250em; text-shadow: 0px 1px 2px #000000; }
.jta-tweet-user-name{ display: block; }
.jta-tweet-user-screen-name { color: #85a5cc; font-weight: bold; }

#tweets .jta-tweet-user-screen-name-link,
#tweets .jta-tweet-a,
#tweets .twitter-anywhere-user { color: #85a5cc; text-decoration: none; }

.jta-tweet-user-screen-name-link:hover,
.jta-tweet-a:hover,
.twitter-anywhere-user:hover { text-decoration: underline; }
.jta-tweet-user-full-name-link { text-decoration: none; }
.jta-tweet-user-full-name-link:hover { text-decoration: underline; }
#tweets .jta-tweet-attributes, .jta-tweet-attributes {
    display: block;
    color: #858990;
    font-size: 11px;
    margin-top: 3px;
}
.jta-tweet-twitter-bird-icon { display: none; }
.jta-tweet-twitter-bird-icon:hover { display: none; }
footer #tweets .jta-tweet-timestamp a, #footer #tweets .jta-tweet-timestamp a, .jta-tweet-timestamp a { color: #858990; }
.jta-tweet-timestamp-link, .jta-tweet-source-link a, .jta-tweet-inreplyto-link,
.jta-tweet-location-link, .jta-tweet-retweeter-link { color: #858990; text-decoration: none; }
.jta-tweet-timestamp-link:hover, .jta-tweet-source-link a:hover, .jta-tweet-inreplyto-link:hover, .jta-tweet-location-link:hover,
.jta-tweet-retweeter-link:hover { text-decoration: underline; }
.jta-tweet-actions { display: block; margin-top: 3px; }
.jta-tweet-action-reply, .jta-tweet-action-retweet, .jta-tweet-action-favorite { padding-right: 1em; }
.jta-tweet-action-reply a, .jta-tweet-action-retweet a, .jta-tweet-action-favorite a {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 19px;
	padding-top: 3px;
	text-decoration: none;
}
.jta-tweet-action-reply a:hover, .jta-tweet-action-retweet a:hover, .jta-tweet-action-favorite a:hover { text-decoration: underline; }
.jta-tweet-list-controls {
    height: auto;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    display: block;
    clear: both;
}

.jta-tweet-list-controls-button {
    color: #FFF;
    font-size: 13px;
    background: #2789bb;
    padding: 5px 8px;
    margin: 5px 0 10px 0px;
    text-align: center;
    text-transform: uppercase;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .4);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .4);
}
.jta-tweet-list-controls-button:hover { color: #FFF; background: #1d2337; cursor: pointer; }
.jta-tweet-list-controls-button-more { margin-top: 10px; }
.jta-tweet-list-autorefresh-trigger {
    padding: 8px 0px 8px 0px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #999;
}
.jta-tweet-list-autorefresh-trigger:hover { color:black; background-color: #999; cursor: pointer; }
.jta-login-info-profile-image { width: 48px; display: inline; float: left; }
.jta-login-info-profile-image img { display: none; }
.jta-login-info-block { margin-left: 58px; }
.jta-login-info-sign-out {
    width: 97px;
    margin-top: 2px;
    padding: 1px;
    text-align: center;
    border: 1px solid #999;
}
.jta-login-info-sign-out:hover { color: black; background-color: #999; cursor: pointer; }
.jta-loading { margin: 0; padding: 8px 0px 8px 0px; }
.jta-error { margin:0; padding:8px; color:#000; background-color:#f00; }
.jta-nodata { margin:0; padding-top:8px; padding-bottom:8px; }
.jta-clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
*/

/**** jScrollPane ****/
#tweetScroll {
    background: #323e56;
    height: 180px;
	padding:0 0 0 10px;
    border: solid 2px #323e56;
    display: block;
    /*width: 337px;*/
}
#tweetScrollEdit {
    background: #323e56;
    height: 180px;
	padding:0 0 0 10px;
    border: solid 2px #323e56;
    display: block;
    width: 337px;
}
#tweetScroll:hover, #tweetScroll:focus { outline: none; }
.jspContainer {
    display: block;
    overflow: hidden;
    position: relative;
    /*position:absolute;*/
}
.jspPane {
    /*width:200px;*/
    height: auto;
    display: block;
    position: absolute;
}
.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: #171d29;
}
.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #171d29;
}

.jspVerticalBar *,
.jspHorizontalBar * { margin:0; padding:0; }
.jspCap { display:none; }
.jspHorizontalBar .jspCap { float:left; }
.jspTrack { background:#171d29; position:relative; }
.jspDrag { background:#2788bb; position:relative; top:0; left:0; cursor:pointer; }
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float:left; height:100%; }
.jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}
.jspArrow.jspDisabled { cursor:default; background:#80808d; }
.jspVerticalBar .jspArrow { height:16px; }
.jspHorizontalBar .jspArrow { width:16px; float:left; height:100%; }
.jspVerticalBar .jspArrow:focus { outline:none; }
.jspCorner { background:#eeeef4; float:left; height:100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner { margin: 0 -3px 0 0; }

/********* Buttons **********/
.buttonBlue {
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.167em;
    text-transform: uppercase;
    line-height: 1em;
    padding: 0.833em;
    margin: 0 0 0.625em 0;
    background: #71b0cd;
    display: block;
}


.smbtnBlue {
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 0.875em;
    width: auto;
    min-width: 112px;
    padding: 0.313em;
    margin: 0 0.313em 0.625em 0;
    background: #71b0cd;
    display: block;
    float: left;
}

.buttonOrange, .buttonSearch {
    color: #5f391c;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 2px #e7ae65;
    font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.083em;
    line-height: 1em;
    text-transform: uppercase;
    background: #e4a838 url(../images/button_orange.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/button_orange.gif*/ repeat-x 0px 0px;
    padding: 0.417em;
    display: block;
}

.buttonSearch { width:auto; float:right; }

.buttonOrange:hover, .buttonSearch:hover { background-position: 0px -26px; }

/****** Subpage classes ***********/
.sectionHead {
    background: #FFF;
    border-top: #dd892f solid 2px;
    padding: 0 1px 0 5px;
    margin: 0 0 15px 0;
    display: block;
    clear: both;
}

.sectionHead h2 {
	line-height: 1.500em;
	width: auto;
	float: left;
	border-bottom: none;
	padding: 0px 10px 1px 0;
	margin: 0 10px 0 0;
}

.sectionHead h4 {
	padding: 10px 6px 0 0;
	margin: 0;
	width: auto;
	float: left;
}

.sectionHead .picker { margin:10px 0 0px 0; float:left; }
.sectionHead #quick { *float:left; *margin-top:10px; } /* IE7 hack */
/*.sectionHead label { padding:10px 6px 0 0; float:left; }*/

#sort {
    width: 114px;
    padding: 0;
    margin: 4px 6px 0 0;
    display: block;
    float: right;
}

#sort .selectboxit-container .selectboxit { width: 114px; }
#sort .selectboxit-container .selectboxit-options { width: 114px; }
#sort .selectboxit-text { font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif; font-weight: bold; }

#sort .selectboxit-container .selectboxit {
	-moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .2);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .2);
}

.divider {
    background: #bebebe;
    height: 1px;
    border-bottom: solid 1px #f9f9f9;
    margin: 0 0 20px 0;
    display: block;
    clear: both;
}

.callout { display: block; margin: 0 0 10px 0; vertical-align: top; }
.callout .map {
	width: 100%;
	height: 264px;
	display: block;
	overflow: hidden;
	border: solid 1px #c1c1c1;
}
.callout .map iframe { /*border:solid 1px #c1c1c1;*/ }
div.callout img { padding: 0; margin: 0 0 5px 0; vertical-align: top; }
.callout a.large {
    color: #224476;
    text-align: center;
    font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
    font-size: 1.500em;
    line-height: 1.750em;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    display: block;
}


#narrowSearch h4 { margin-bottom:7px; }

#selectFull { min-width:155px; width:100%; margin-bottom:4px; }
#selectFull .selectboxit-container .selectboxit { min-width:155px; width:100%; }
#selectFull .selectboxit-container .selectboxit-options { width:100%; max-width:195px; } /* max-width set for iPad */
#selectHalf { min-width:155px; width:100%; margin-bottom:4px; }
#selectHalf .selectboxit-container { width:48%; *float:left; }  /* for IE7 */
#selectHalf .selectboxit-container .selectboxit-options { width:100%; }
#selectHalf #selectRightSelectBoxItContainer { margin-left:1.5%; float:right; }
fieldset.check { padding-top:5px; }
.rangeSliders { width:100%; margin:10px 0px 15px 0px; display:block; }
.rangeSliders label {
	font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
	font-size: 1.167em;
	font-weight: bold;
	margin: 0em 0 0.313em 0;
}
.rangeSliders .ui-state-default,
.rangeSliders .ui-widget-content .ui-state-default,
.rangeSliders .ui-widget-header .ui-state-default {
	border: 1px solid #aa9b96;
	background: #d8cdcb url(../images/sliders_grip.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/sliders_grip.gif*/ no-repeat 0px 0px;
	font-weight: normal;
	color: #4d4d4d;
}

.rangeSliders .ui-state-hover, .rangeSliders .ui-widget-content .ui-state-hover,
.rangeSliders .ui-widget-header .ui-state-hover, .rangeSliders .ui-state-focus,
.rangeSliders .ui-widget-content .ui-state-focus,
.rangeSliders .ui-widget-header .ui-state-focus { background-position: 0px -14px; }

.rangeSliders input[type="text"]:disabled, input.range:disabled, .rangeSliders input.range,
.rangeSliders .ui-state-disabled, .rangeSliders .ui-widget-content .ui-state-disabled,
.rangeSliders .ui-widget-header .ui-state-disabled { opacity: 1.0; filter: Alpha(Opacity=100); color: #4d4d4d; }

input.range {
    background: none;
    margin: 0px 0px 5px 0px;
    border: none;
    width: 78px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a.reset { padding:0.417em 0 0 0; display:block; float:left; }

.floorPlan {
    text-align: center;
    /*width: 29.85%;*/
	width: 29.34782608695652%; /* 189 ÷ 644 = 0.2934782608695652 */
    /*padding: 0 1.74%;*/
	padding:0 1.99275362318841%;
	*padding:0 1.9%;
    margin: 0;
    position: relative;
    float: left;
	/*overflow:hidden;*/
}
.floorPlan a.imageWrap { height:auto; max-width:189px; max-height:107px; margin:0 0 4px 0; display:block; overflow:hidden; }

.floorPlan img {
	width:100%;
	height:auto;
	min-width:158px;
	max-width:189px;
}
.floorPlan h3 {
	color: #224476;
	text-align: center;
	line-height: 1.250em;
	margin: 0em 0 0.250em 0;
}

.floorPlan h3 a { color: #224476; text-decoration: none; }
.floorPlan h3 a:hover { color: #224476; text-decoration: underline; }

.floorPlan h3 .price
{
	color: #4d4d4d;
	font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.250em;
	font-weight: normal;
}

#content { display: block; }
.loading { text-align: center; display: block; }
.loading img { margin: 0 auto 20px auto; }

.quickMove, a.quickMove {
    color: #FFF;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .6px;
    background: #89c306;
    border: solid 1px #5b9301;
    width:55%;
    height: auto;
    padding: 2px 1px;
    margin: 0;
    display: block;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}

.csstransforms .quickMove {
	max-width:103px;
	right: -94px; 
    /* Rotate from top left corner (not default) */
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.no-csstransforms .quickMove {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* IE6,IE7 */
	line-height:14px;
	height:14px;
    right: -76px;
    *right: 5%; /* IE7 hack */
    z-index: 200;
}

.no-csstransforms .floorPlan a.imageWrap { height:107px; }
.no-csstransforms .floorPlan img { width:189px; height:107px; }
.no-csstransforms .quickMove { width:103px; min-width:103px; }
.sideLike { color:#3b5998; margin: 0 0 20px 0; display:block; }
.sideLike p { line-height: 1.125em; margin: 0 0 10px 0; }
.sideLike span.subhead { font-size: 1.167em; font-weight: bold; }

/********* QMI Tabs *********/
#qmiTabs { padding:0; margin:0; border:0; border-radius:0px; }
#qmiTabs .ui-corner-all { border-radius:0px; }
#qmiTabs .ui-widget-header { background:#fff url(../images/qmi_tabs.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/qmi_tabs.gif*/ repeat-x 0px 0px; color:#4d4d4d; font-weight:bold; border:none; border-bottom:1px solid #ccc; }
#qmiTabs.ui-widget-content { background:none; }
#qmiTabs.ui-tabs { padding:0em; }
#qmiTabs .ui-tabs-nav { padding:0em 0em 0; width:100%; }
#qmiTabs .ui-tabs-nav li { margin:2px 0em -1px 0; border-radius:0px; border:none; border-right:1px solid #cfcfcf; }
#qmiTabs .ui-tabs-nav li a { padding:.1em .4em; }
#qmiTabs li.ui-state-default, #qmiTabs .ui-widget-header li.ui-state-default {
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-size: 1.750em;
	line-height: 1.313em;
	background-image: none;
	background: #fff;
	font-weight: normal;
	color: #787878;
}
#qmiTabs .ui-state-default a, #qmiTabs .ui-state-default a:link, #qmiTabs .ui-state-default a:visited { color: #787878; }
#qmiTabs .ui-tabs-nav li.ui-tabs-active { margin-bottom:-1px; padding-bottom:1px; }
#qmiTabs li.ui-state-active, #qmiTabs .ui-state-active, #qmiTabs .ui-widget-header li.ui-state-active {
	border-top: 2px solid #71b0cd;
	border-right: 1px solid #ccc;
	border-left: none;
	border-bottom: 1px solid #efefef;
	background: #eaeaea url(../images/page.jpg)/*tpa=http://www.drhorton.com/sites/com/design/images/page.jpg*/ 50% 50% repeat-x;
	font-weight: normal;
	color: #3e3e3e;
	margin: 0px 0em -1px 0;
}
#qmiTabs .ui-state-active a, #qmiTabs .ui-state-active a:link, #qmiTabs .ui-state-active a:visited { color:#3e3e3e; }
#qmiTabs .ui-tabs-panel { padding:1em 0em; }
#qmiTabs #sort { margin:6px 6px 2px 0; *margin-top:7px; *position:absolute; *right:10px; }
#qmiTabs #sort .ui-state-default { font-family:'Archivo Narrow', Arial, Helvetica, sans-serif; font-weight:bold; font-size:1em; }

/********* QMI Panel *********/
.qmiPanel {
    width: 333.3%;
    background: #FFF;
    padding: 16px 0 5px 0;
    display: block;
    clear: both;
    border-top: solid 1px #bebebe;
    position: relative;
}

.qmiPanel.panel1 { margin:0 -5%; }
.qmiPanel.panel2 { margin:0 0 0 -117%; }
.qmiPanel.panel3 { margin:0 0 0 -228%; }
.qmiPanel .arrow {
	width: 100%;
	height: 8px;
	padding: 0px 0px 0px 0px;
	margin: -24px 0 0 0;
	position: relative;
}
.qmiPanel.panel1 .arrow { background:url(../images/qmi_arrow.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/qmi_arrow.gif*/ no-repeat 15% 0px; }
.qmiPanel.panel2 .arrow { background:url(../images/qmi_arrow.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/qmi_arrow.gif*/ no-repeat 50% 0px; }
.qmiPanel.panel3 .arrow { background: url(../images/qmi_arrow.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/qmi_arrow.gif*/ no-repeat 85% 0px; }
.collapse {
    text-align: right;
    background: url(../images/icon_collapse.png)/*tpa=http://www.drhorton.com/sites/com/design/images/icon_collapse.png*/ no-repeat right 0px;
    height: 13px;
    padding: 0px;
    margin: 5px;
    *margin: -10px 5px 5px 0px;
    display: block;
    clear: both;
    cursor: pointer;
}
.collapse:hover { background-position:right -15px; }
.qmiPanel .bx-wrapper { margin:0 16px 0px 16px; }
.qmiPanel .bx-wrapper .bx-controls-direction a { margin-top:-75px; width:10px; height:22px; }
.qmiPanel .bx-prev { left:0px; margin-left:-14px; background-position:0px -124px; }
.qmiPanel .bx-next { right:0px; margin-right:-14px; background-position:-20px -124px; }
.qmiPanel .bx-wrapper .bx-pager.bx-default-pager { display:none; }
.qmiPanel .bx-prev:hover { background-position:0px -148px; }
.qmiPanel .bx-next:hover { background-position:-20px -148px; }

.flagAvailable, .flagPending
{
    text-indent: -9999px;
    width: 62px;
    height: 64px;
    padding: 0;
    margin: 0 5.5% 0px 0;
    display: block;
    position: absolute;
    right: 0px;
}

.flagAvailable { background:url(../images/flag_available.png)/*tpa=http://www.drhorton.com/sites/com/design/images/flag_available.png*/ no-repeat 0px 0px; }
.flagPending { background:url(../images/flag_pending.png)/*tpa=http://www.drhorton.com/sites/com/design/images/flag_pending.png*/ no-repeat 0px 0px; }
.bx-wrapper .flagAvailable, .bx-wrapper .flagPending { margin:0 0% 0 0; }
#tabs .flagAvailable, #tabsTop  .flagAvailable{
    background: url(../images/flag_available_lg.png)/*tpa=http://www.drhorton.com/sites/com/design/images/flag_available_lg.png*/ no-repeat 0px 0px;
    text-indent: -9999px;
    width: 122px;
    height: 123px;
    padding: 0;
    margin: -6px -5px 0px 0;
    display: block;
    position: absolute;
    right: 0px;
    overflow: visible;
}

/********* Tabs **********/
#tabs { background:none; width:81%; padding:0em; margin:0 0 15px 2%; float: left; border:none; }
#tabs h1 { font-weight:normal; font-size:1.750em; line-height:1.125em; padding:0 0 0.250em 0; margin:0 0 0em 0; width:28.39506172839506%; float:right; }
#tabs .ui-tabs  { background:none; padding:0em; }
#tabs .ui-widget-content { border:none; background:none; color: #4d4d4d; }
#tabs, #tabs .ui-corner-all, #tabs .ui-corner-bottom { border-radius:0px; }
#tabs .ui-widget-header { width:100%; padding:5px 0 0 0; border:none; background:none; color: #4d4d4d; font-weight: bold; float:left; }
#tabs .tabs-spacer { float: left; }
.tabs-bottom .ui-tabs-nav { width:100%; float:left; clear: left; padding: 0; }
.tabs-bottom .ui-tabs-nav li { text-align:center; top:auto; bottom:0; width:13.3%; padding:0 0 0 0; margin: 0 0.4% 0px 0; border:solid 1px #d7d7d7; }
.tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top:0px; padding-top: 1px; }
#tabs .ui-tabs-nav li a { /*font-size:0.958em;*/ text-transform:uppercase; text-align:center; text-transform:uppercase; padding:.5em .5%; margin:0 auto; float:none; display:block; }
#tabs .ui-tabs-panel { padding: 0em 0em; }
#tabs .main-content { width: 69.1358024691358%; min-height:304px; max-height:366px;
padding: 0; margin: 0 2.46913580246914% 0 0; float: left; overflow: hidden; } /* 537.6 ÷ 777.6 =  width */
#tabs .sec-content { width: 28.39506172839506%;  height: 282px; float: left;position: relative;} /* 220.8 ÷ 777.6 =  width */
#tabs .sec-content h3 { color:#224476; font-size:1.333em; line-height:1.125em; margin:0em 0 0.625em 0; }
#tabs .sec-content ul { list-style: disc;}
#tabs .bx-wrapper, #alpha .bx-wrapper { margin: 0 0 0px 0; }
#tabs .view:hover, #alpha .view:hover { background-position:0px -29px; }
#tabs ul.imageSlider li  { max-height:302px; overflow:hidden; }
#tabs .bx-wrapper .bx-prev, #alpha .bx-wrapper .bx-prev { left:auto; right:121px; background:url(../images/controls.png)/*tpa=http://www.drhorton.com/sites/com/design/images/controls.png*/ no-repeat 0px -64px; }
#tabs .bx-wrapper .bx-next, #alpha .bx-wrapper .bx-next { right:91px; background:url(../images/controls.png)/*tpa=http://www.drhorton.com/sites/com/design/images/controls.png*/ no-repeat -46px -64px; }
#tabs .bx-wrapper .bx-prev:hover, #alpha .bx-wrapper .bx-prev:hover { background-position:0px -93px; }
#tabs .bx-wrapper .bx-next:hover, #alpha .bx-wrapper .bx-next:hover { background-position:-46px -93px; }
#tabs .bx-wrapper .bx-controls-direction a, #alpha .bx-wrapper .bx-controls-direction a { top:auto; bottom:0px; width:30px; height:29px; margin-top:0px; }
#tabs .view, #alpha .view, #tabsTop .view { color:#FFF; font-family:'Archivo Narrow', Arial, Helvetica, sans-serif; text-transform:uppercase;
text-decoration:none; font-weight:normal; line-height:15px; background:url(../images/view_larger.png)/*tpa=http://www.drhorton.com/sites/com/design/images/view_larger.png*/ repeat-x 0px 0px;
width:84px; height:15px; padding:7px 0px 7px 7px; margin:-29px 0 0 0; display:block; position:relative; float:right; z-index:500; cursor:pointer; }
#tabs .view:hover, #alpha .view:hover, #tabsTop .view:hover { background-position: 0px -29px; }




/* Video Wrap */
.videoWrap {z-index:200;position:relative; padding-bottom:56.25%;height:0;overflow:hidden;}
.videoWrap iframe, .videoWrap video, .videoWrap img, .videoWrap object{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
}
.videoWrap iframe, .videoWrap embed, .videoWrap object, .videoWrap #mediaspace_wrapper { margin:0 auto; }
 .videoWrap #mediaspace_wrapper{ width: auto !important;height: auto !important;position: static !important;}
.videoWrap #player { z-index:201; }
.videoWrap video, .videoWrap embed { z-index:200;}

/********* Non Alphavision Tabs Top **********/
#tabsTop { background:none; width:81%; padding:0em; margin:0 0 15px 2%; float: left; border:none; border-radius:0px; }
.contentWrap #tabsTop { width:97.5%; padding:0em; margin:0 0 15px 2.5%; }
#tabsTop h1 { font-weight:normal; font-size:1.750em; line-height:1.125em; padding:0.250em 0 0 0; margin:0 0 0em 0; width:28.39506172839506%; float:right; }
#tabsTop.ui-widget-content { border:none; }
#tabsTop .ui-widget-header { width:69.1358024691358%; padding:0; margin:0 0 4px 0; border:none; background:none; color:#4d4d4d; float:left; }
#tabsTop.ui-tabs  { background:none; padding:0em; }
#tabsTop .ui-tabs-nav li { text-align:center; width:18.83%; padding:0; margin: 1px 1% 0 0; border-bottom:1px solid #d7d7d7; }
#tabsTop .ui-tabs-nav li.last { margin: 1px 0% 0 0; }
#tabsTop li.ui-state-active { border-bottom:1px solid #224476; margin-bottom:0px; }
#tabsTop .ui-tabs-nav li a { text-transform:uppercase; text-align:center; text-transform:uppercase; padding:.5em 0 .5em 0; margin:0 auto; float:none; display:block; }
#tabsTop .ui-tabs-panel { padding:0em 0em; border:none; }
#tabsTop .ui-corner-all, #tabsTop .ui-corner-top, #tabsTop .ui-corner-bottom { border-radius:0px; }
#tabsTop .ui-widget-content { border:none; background:none; color: #4d4d4d; }
#tabsTop .main-content { width:69.1358024691358%; /*height:302px;*/ min-height:302px; padding:0; margin:0 2.46913580246914% 0 0; float:left; /*overflow:hidden;*/ }
#tabsTop .sec-content { width:28.39506172839506%; float:left; }
#tabsTop h3 { color:#224476; font-size:1.500em; line-height:1.125em; font-weight: normal; padding:0em 0em 0em 0em; margin:0em 0 0.313em 0; }
/* #tabsTop slideshow (NEXT / PREV) */
#tabsTop .bx-wrapper { margin:0 0 0px 0; }
#tabsTop .bx-wrapper .bx-prev { left:auto; right:121px; background:url(../images/controls.png)/*tpa=http://www.drhorton.com/sites/com/design/images/controls.png*/ no-repeat 0px -64px; }
#tabsTop .bx-wrapper .bx-next { right:91px; background: url(../images/controls.png)/*tpa=http://www.drhorton.com/sites/com/design/images/controls.png*/ no-repeat -46px -64px; }
#tabsTop .bx-wrapper .bx-prev:hover { background-position: 0px -93px; }
#tabsTop .bx-wrapper .bx-next:hover { background-position: -46px -93px; }
#tabsTop .bx-wrapper .bx-controls-direction a { top:0px; width:30px; height:29px; margin:0px 0 -29px 0; }
/*
#tabsTop a.view { color:#FFF; font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif; text-transform:uppercase; text-decoration:none;
font-weight:normal; line-height:15px; background:url(../images/view_larger.png) repeat-x 0px 0px; width:84px; height:15px;
padding:7px 0px 7px 7px; margin:0px 0 -29px 0; display:block; position:relative; top:0px; float:right; z-index:500; }
#tabsTop a.view:hover, #alpha a.view:hover { background-position:0px -29px; }
*/
#tabsTop .view { margin-top:0px; position:absolute; right:0px; float:none; }



#tabsTop .buttonsOnBottom .bx-wrapper .bx-prev  { left:auto; right:121px; background:url(../images/controls.png)/*tpa=http://www.drhorton.com/sites/com/design/images/controls.png*/ no-repeat 0px -64px; }
#tabsTop .buttonsOnBottom .bx-wrapper .bx-next { right:91px;background: url(../images/controls.png)/*tpa=http://www.drhorton.com/sites/com/design/images/controls.png*/ no-repeat -46px  -64px; }
#tabsTop .buttonsOnBottom .bx-wrapper .bx-prev:hover { background-position:0px 0px; }
#tabsTop .buttonsOnBottom .bx-wrapper .bx-next:hover  { background-position:-46px -93px; }
#tabsTop .buttonsOnBottom .bx-wrapper .bx-controls-direction a { top:auto; bottom: 0px;  width:30px; height:29px; margin:0px 0 0 0; }
#tabsTop .buttonsOnBottom .view  { color:#FFF; font-family:'Archivo Narrow', Arial, Helvetica, sans-serif; text-transform:uppercase;
text-decoration:none; font-weight:normal; line-height:15px; background:url(../images/view_larger.png)/*tpa=http://www.drhorton.com/sites/com/design/images/view_larger.png*/ repeat-x 0px 0px;
width:84px; height:15px; padding:7px 0px 7px 7px; margin:-29px 0 0 0; display:block; position:relative; float:right; z-index:500; cursor:pointer; }
#tabsTop .buttonsOnBottom .view:hover  { background-position: 0px -29px; }



/********* Alphavision Tabs **********/
#alpha { background:none; margin:0 0 15px 0; border-radius:0px; border:none; }
#alpha.ui-widget-content { border:none; }
#alpha .ui-widget-header { width:56%; min-width:540px; padding:0; margin:0 0 4px 19%; background:none; border:none; color:#4d4d4d; font-weight:bold; float:left; }
#alpha h1 { font-weight:normal; font-size:1.750em; line-height:1.125em; padding:0.250em 0 0 0; margin:0 0 0em 0; width:23%; float:right; clear:left; }
#alpha.ui-tabs  { background:none; padding:0em; }
#alpha .ui-tabs-nav li { text-align:center; width:18.83%; padding:0; margin:1px 1% 0 0em; border-bottom:1px solid #d7d7d7; }
#alpha .ui-tabs-nav li.last { margin: 1px 0% 0 0; }
#alpha li.ui-state-active { border-bottom:1px solid #224476; margin-bottom:0px; }
#alpha .ui-tabs-nav li a { text-transform:uppercase; text-align:center; text-transform:uppercase; padding:.5em 0 .5em 0em; margin:0 auto; float:none; display:block; }
#alpha .ui-tabs-panel { padding:0em 0em; border:none; }
#alpha .ui-corner-all, #alpha .ui-corner-top, #alpha .ui-corner-bottom { border-radius:0px; }
#alpha .ui-widget-content { border:none; background:none; color: #4d4d4d; }
#alpha .left-content { width:17%; min-height:180px; float:left; background:none; } /* width 160 px (17%) */
#alpha .main-content { width:56%; margin:0 2%; *margin:0 0 0 2%; float:left; background:none; border:none; min-height:302px;/*height:302px;*/ overflow:hidden; } /* 537.6 ÷ 960 = (56%) Gutter between columns = about 19.2 px or (2%) */
#alpha .alphavision { text-align:center; background:#FFF; }
#alpha .sec-content { width:23%; float:right; background:none; }  /* 220.8 ÷ 960 = (23%) */
#alpha h3 { color:#224476; font-size:1.500em; line-height:1.125em; font-weight: normal; padding:0em 0em 0em 0em; margin:0em 0 0.313em 0em; }
#alpha iframe { width:75%; border:none; } /* added */
 #alpha .videoWrap iframe { width:100%; border:none; } /* added */
/********* Subpage Slider **********/
#subpageSlider { padding:0 16px; margin:0 0 15px 0; }
#subpageSlider .bx-wrapper { /*margin:0 auto;*/ }
#subpageSlider .bx-wrapper .bx-controls-direction a { top:0px; }
#subpageSlider .bx-wrapper .bx-controls-direction a { margin-top:51px; /*margin-top:8.4%;*/ width:10px; height:22px; }
#subpageSlider .bx-prev { left:0px; margin-left:-16px; background-position: 0px -124px; }
#subpageSlider .bx-next { right:0px; margin-right:-16px; background-position: -20px -124px; }
#subpageSlider .bx-wrapper .bx-pager.bx-default-pager { display:none; }
#subpageSlider .bx-prev:hover { background-position: 0px -148px; }
#subpageSlider .bx-next:hover { background-position: -20px -148px; }
#subpageSlider li { text-align:center; background-image:none; list-style:none; max-width:189px; }
#subpageSlider li img { margin:0 0 6px 0; max-width:189px; max-height:107px; }
#subpageSlider h3 { font-size:1.333em; }
.bx-wrapper h3 { color:#224476; line-height:1.250em; text-align:center; margin:0em 0 0.250em 0; }
.bx-wrapper h3 a { color:#224476; text-decoration:none; }
.bx-wrapper h3 a:hover { color:#224476; text-decoration:underline; }
.bx-wrapper h3 .price  { color:#4d4d4d; font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif; font-size:1.167em; line-height:1.125em; font-weight:normal; }

/********* Subpage Slider **********/
#calloutSlider { background:#f5eede; padding:2px 15px 0px 15px; margin:0 0 20px 0; }
#calloutSlider h2 { border-bottom:none; font-size:1.833em; line-height:1.500em; margin: 0 0 0.313em 0; }
#calloutSlider .bx-wrapper { margin:0 auto; }
#calloutSlider .bx-wrapper .bx-controls-direction a {top: 50%;margin-top:-39px;margin-right: -13px;margin-left: -13px; width:10px; height:22px; }
#calloutSlider .bx-wrapper .bx-prev { left:0px; margin-left:-13px; background:url(../images/controls.png)/*tpa=http://www.drhorton.com/sites/com/design/images/controls.png*/ no-repeat 0px -124px; }
#calloutSlider .bx-wrapper .bx-prev:hover { left:0px; margin-left:-13px; background:url(../images/controls.png)/*tpa=http://www.drhorton.com/sites/com/design/images/controls.png*/ no-repeat 0px -124px; }
#calloutSlider .bx-wrapper .bx-next { right:0px; margin-right:-13px; background: url(../images/controls.png)/*tpa=http://www.drhorton.com/sites/com/design/images/controls.png*/ no-repeat -20px -124px; }
#calloutSlider .bx-wrapper .bx-next:hover { right:0px; margin-right:-13px; background: url(../images/controls.png)/*tpa=http://www.drhorton.com/sites/com/design/images/controls.png*/ no-repeat -20px -124px; }
#calloutSlider h3 { color:#224476; font-size:1.333em; line-height:1.250em; margin:0em 0 0.250em 0; }
#calloutSlider h3 a { color:#224476; text-decoration:none; }
#calloutSlider h3 a:hover { color:#224476; text-decoration:underline; }
#calloutSlider a.border { border:solid 1px #b0a796; display:block; margin:0 0 4px 0; }

/********* Callout Promotion Slider **********/
/*#calloutPromoSlider { padding:2px 15px 0px 15px; margin:0 0 20px 0; }*/
#calloutPromoSlider h2 { border-bottom:none; font-size:1.833em; line-height:1.500em; margin: 0 0 0.313em 0; }
#calloutPromoSlider .bx-wrapper { margin:0 auto; }
#calloutPromoSlider .bx-wrapper .bx-controls-direction a { margin-top:-39px; width:10px; height:22px; }
#calloutPromoSlider .bx-prev { left:0px; margin-left:-13px; background-position: 0px -124px; }
#calloutPromoSlider .bx-next { right:0px; margin-right:-13px; background-position: -20px -124px; }
#calloutPromoSlider .bx-wrapper .bx-pager { position: static; padding-top: 10px}


#calloutPromoSlider  .bx-wrapper .bx-pager .bx-pager-item {
	width:12px;
	height:12px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	text-align:center;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	margin-right:5px;
}
#calloutPromoSlider  .bx-wrapper .bx-pager .bx-pager-item.active1 {
	border:solid 1px #a1a0a0;
}

#calloutPromoSlider .bx-wrapper .bx-pager.bx-default-pager a{
    background: transparent;
    text-indent: -9999px;
    display: block;
    width: 7px;
    height: 7px;
    outline: 0;
	border:solid 1px #a1a0a0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
	margin: 2px;
}

#calloutPromoSlider .bx-wrapper .bx-pager.bx-default-pager a:hover, 
#calloutPromoSlider .bx-wrapper .bx-pager.bx-default-pager a.active {
	width:6px;
	height:6px;
	background-color: #969696;
}

#calloutPromoSlider .PromotionBrandImages {
   text-align:center;
}
#calloutPromoSlider .PromotionBrandImages img {
    width: 35%;
    display: inline;
	margin:3%;
}

#calloutPromoSlider {margin-bottom: 19px;}

/*#calloutPromoSlider h3 { color:#224476; font-size:1.333em; line-height:1.250em; margin:0em 0 0.250em 0; }
#calloutPromoSlider h3 a { color:#224476; text-decoration:none; }
#calloutPromoSlider h3 a:hover { color:#224476; text-decoration:underline; }*/

#calloutPromoSlider h3 {
    color: #224476;
    text-align: center;
    font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
    font-size: 1.500em;
    line-height: 1.350em;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
#calloutPromoSlider a.border { border:solid 1px #b0a796; display:block; margin:0 0 4px 0; }

#calloutPromoSlider .pagerNav {height: 10px;}

.PromoImagecontainer {text-align: center;  max-width: 265px; max-height: 150px;}

.PromoImageresize {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

a.promolarge {
    /*color: #224476;*/
    text-align: center;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-size: 1.500em;
    line-height: 1.750em;
    text-decoration: none;
    padding-top: 6px;
    display: block; 
    /*margin-top: -11px;*/
    margin-top: 12px;
    padding-bottom: 5px;
}

a.promolargeViewAll {
    text-align: center;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-size: 1.500em;
    line-height: 1.750em;
    text-decoration: none;
    padding-top: 6px;
    display: block; 
    margin-top: -30px;
}

#promosideSlider p {text-align: center}

/********* Metro and City Page **********/
.adspace { background:none; width:81%; padding:0; margin:0 0 20px 2%; display:block; float:left; } /* 777.6 ÷ 960 (81%) Gutter between columns = about 19.2 px or (2%) */
.adspace a.first { width:49.25%; display:block; float:left; }
.adspace a.single { display:block; float:left; }
.adspace a.second { width:49.25%; display:block; float:right; }
.adspace a img { width:100%; }
.cityMap { width:81%; padding:0; margin:0 0 10px 2%; display:block; float:left; }
.cityMap h1 { font-weight:normal; font-size:1.8em; line-height:1.125em; padding:0 0 0.250em 0; margin:0 0 0em 0; }
.cityMap .mapwrap { display:block; border:solid 1px #cfcfcf; overflow:hidden; }
.cityMap iframe { height:310px; margin:0 -1px; display:block; overflow:hidden; }
.cityListing { padding:5px 0; /*margin:5px 0;*/ display: block; }
.cityListing .imagesWrap { width:317px; margin:4px 25px 10px 0; display:block; position:relative; float:left; }
.cityListing .brandedimagesWrap { margin:4px 25px 10px 0; display:block; position:relative; float:left; }

.cityListing .imagesWrap img { float: left; }
.cityListing .imagesWrap img.thumb { margin:0 0 6px 6px; display:block; float:right; clear:right; }
.cityListing h3 { color:#224476; line-height:1.375em; margin:-1px 0 0em 0; *margin:0px 0 0em 0; }
.cityListing h3 a { color:#224476; text-decoration:none; }
.cityListing h3 a:hover { color: #224476; text-decoration: underline; }
.cityListing p { margin:0 0 0.875em 0; }

.cityListing div.icons { height:20px; margin:-4px 0 5px 0; display:block; }
.cityListing .icon { background:#6caac5; width:20px; height:20px; margin:0 5px 0px 0; display:block; float:left; }


.brandedcityListing .imagesWrap { width:317px; margin:4px 25px 10px 0; display:block; position:relative; float:left; }
.brandedcityListing .brandedimagesWrap { margin:4px 25px 10px 0; display:block; position:relative; float:left; }
/*.brandedcityListing .brandedContent{float:left;}*/

.brandedcityListing .imagesWrap img { float: left; }
.brandedcityListing .imagesWrap img.thumb { margin:0 0 6px 6px; display:block; float:right; clear:right; }
.brandedcityListing h3 { color:#224476; line-height:1.375em; margin:-1px 0 0em 0; *margin:0px 0 0em 0; }
.brandedcityListing h3 a { color:#224476; text-decoration:none; }
.brandedcityListing a { color:#224476; }
.brandedcityListing h3 a:hover { color: #224476; text-decoration: underline; }
.brandedcityListing p { margin:0 0 0.735em 0; }

.brandedcityListing div.icons { height:20px; margin:10px 0 5px 0; display:block; }
.brandedcityListing .icon { background:#6caac5; width:20px; height:20px; margin:0 5px 0px 0; display:block; float:left; }

#brandLandingList {
    line-height: 20px; 
    text-decoration: none;
    margin-left: 37px;
    margin-top: 25px;
    clear: both;
}

#brandLandingList h3 {
    line-height: 22px;
}

#brandLandingList .noresultsCol ul {
    width: 90%;
    margin-left: 29px;
}

#brandLandingList ul.bullets li, .col1 ul li, .col2 ul li, .col3 ul li {
    background: none;
    list-style-type: none;
    margin: 0 30px 0 0;
    padding: 0 0 0 0;
}

#brandLandingList a {
    text-decoration: none;
}

#brandLandingList .circle {
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    font-size: 11px; 
    color: #fff; 
    line-height: 20px; 
    text-align: center; 
    margin-right: 10px; 
    float: left;
}

.brandLandingTopDivider {
    clear: both; 
    width: 100%;
    margin-top: 23px;
    margin-bottom: 23px;
    border-top-width: thin;
    border-top-style: dotted;
    border-top-color: #b9b9b9
}

/* Promotion State Metro List */

#promo-statemetro-list {
    line-height: 20px; 
    text-decoration: none;
    margin-left: 0px;
    margin-top: 50px;
    clear: both;
    border-top-width: thin;
    border-top-style: solid;
    border-top-color: #b9b9b9
}

#promo-statemetro-list h3 {
    line-height: 22px;
}

#promo-statemetro-list h3 a {
    text-decoration: none;
    color: #224476;
}

#promo-statemetro-list .noresultsCol {
    margin-top: 15px;
}

#promo-statemetro-list .noresultsCol ul {
    width: 90%;
    margin-left: 0px;
}

#promo-statemetro-list ul.bullets li, .col1 ul li, .col2 ul li, .col3 ul li {
    background: none;
    list-style-type: none;
    margin: 0 30px 0 0;
    padding: 0 0 0 0;
}

#promo-statemetro-list a {
    /*text-decoration: none;*/
}

#promo-statemetro-list .circle {
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    font-size: 11px; 
    color: #fff; 
    line-height: 20px; 
    text-align: center; 
    margin-right: 10px; 
    float: left;
}

.featuredCom {background:#f5eede; margin:-5px 0 15px 0; clear:both; *zoom:1;background: url(../images/featured-background.png)/*tpa=http://www.drhorton.com/sites/com/design/images/featured-background.png*/;background-attachment: scroll;background-repeat: repeat;background-position-x: 0px;background-position-y: 0px;background-size: auto;background-origin: padding-box;background-clip: border-box;background-color: transparent;} 
.featuredCom .brandedimagesWrap { margin:15px 25px 15px 15px; display:block; position:relative; float:left; }
.featuredCom h3{padding-top: 15px; padding-right: 15px; padding-bottom: 0px; padding-left: 0px;}
.featuredCom .flagFeatured {
	background:url(../images/flag_featured.png)/*tpa=http://www.drhorton.com/sites/com/design/images/flag_featured.png*/ no-repeat right 0px;
    text-indent: -9999px;
    width: 101px;
    height: 23px;
    padding: 0;
    /*margin: 0 25.38461538461538% 0px 0;*/
	margin: 0 24.76190476190476% 0px 0;
    display: block;
    position: absolute;
    right: 0px;
} /* added */

  .featuredCom .brandedflagFeatured {
	background:url(../images/flag_featured.png)/*tpa=http://www.drhorton.com/sites/com/design/images/flag_featured.png*/ no-repeat right 0px;
    text-indent: -9999px;
    width: 101px;
    height: 23px;
    padding: 0;
    /*margin: 0 25.38461538461538% 0px 0;*/
	margin: 0px 245px 0px 0;
    display: block;
    position: absolute;
    right: 0px;
} /* added */

/********* State Page **********/
.stateMap { width:48.19444444444444%; margin:0 3.0555555555555% 10px 0; float:left; }
.stateMap img { border:solid 1px #606060; float:left; }
 

.cityCol { width:13.9%; padding:0; margin:0; display:block; float:left; }
.cityCol ul { padding:0 0 0 0px; margin:0 0 10px 0; }
.cityCol ul li { padding:0 0 4px 0; margin:0 0 0px 0;background-image: none; }
.cityCol ul { list-style: none;}

.contentLeft { width:48%; display:block; float:left; }
.contentLeft ul.bullets li a { text-decoration:none; }
.contentLeft ul.bullets li a:hover { text-decoration:underline; }

/********* No Results Found Page **********/
.suggestions { width: 22%; float: left; margin: 0 3% 0 0;min-height: 75px; }
.newSearch { text-align:center; background:#71b0cd; width:75%; padding:16px 0 16px 0; *padding:14px 0 13px 0; margin:0; float:left; }
.search-wrap { width:96%; height:auto; padding:0px 0px; margin:0 auto; display:block; }
.newSearch label { color:#FFF; font-family:'Oswald', Arial, Helvetica, sans-serif; font-weight:normal;
font-size:1.750em; line-height:1.125em; *line-height:1.5em; width:auto; padding:0px 0px 2px 0px; margin:0px 1.5% 0 0; display:inline-block; vertical-align:middle; }
.newSearch .searchField {
	font-size:1em; line-height:14px; text-shadow:0px 1px 2px #ffffff;
	background:#FFF url(../images/new_search_field.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/new_search_field.gif*/ repeat-x left bottom;
	width:54%;
	height:14px;
	padding:5px;
	margin:0px 10px 0px 0; *margin-top:-1px;
	display:inline-block;
	border:solid 1px #bbc0c3; border-bottom:solid 1px #f8f8f8;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-moz-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, .2);
	-webkit-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, .2);
	box-shadow:0px 1px 3px 0px rgba(0, 0, 0, .2);
}
.newSearch .buttonOrange { width:auto; padding:0.500em; margin:1px 0 0 0; vertical-align:middle;
display:inline-block; *display:inline; }
.noresultsCol { width:19%; margin:5px 1% 0 0; float:left; }
.noresultsCol h2 { font-size: 1.583em; }
.noresultsCol h2, .noresultsCol h2 a { font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif; font-weight: bold;
color:#224476; text-decoration:none; margin:0 0 0.313em 0; }
.noresultsCol ul { padding: 0 0 0 0; margin: 0 0 1.250em 0; }
.noresultsCol li { padding: 0 0 0 0; margin: 0 0 0.313em 0; }

/********* View All Promotions Page **********/
.promotions {
    text-align: center;
    width: 29.85%;
    padding: 0 1.74%;
    margin: 0;
    position: relative;
    float: left;
}
/*.promotions img { margin: 0 0 10px 0; }*/
.promotions img { margin: 0 0 10px 0;width: 158px;height: 90px }
.promotions a { color: #cc0000; }

.promotions h3 {
	color: #224476;
	font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
	font-size: 1.333em;
	text-align: center;
	line-height: 1.125em;
	padding: 0 0 0 0;
    margin: 0 0 0.188em 0;
}
.promotions h3 a { color:#224476; }

div.promotionSummaryArea
{
    background-color: #FFFFCC; 
    margin-top: 5px; 
    margin-bottom: 15px; 
    border: 1px solid #cccccc; 
    padding: 5px;
}

div.promotionSummaryAreaList
{
    background-color: #FFFFCC; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    border: 1px solid #cccccc; 
    padding: 5px;
    text-align: left;
}

div.promotionSummaryAreaList div.space
{
    margin-bottom: 1px;
    font-size: .9em;
    text-indent: -.8em;
    padding-left: .8em;
}


table.promotionSummaryTable
{
    float:left;
    max-width: 85%;
}

table.promotionSummaryTable tr td
{
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    vertical-align: top;
}

div.promotionSummaryAreaList span.label, div.promotionSummaryArea span.label
{
    /*font-weight: bold;*/
    /*color: #6B6B6B;*/
    /*padding-right: 5px;*/
}

div.promotionSummaryAreaList a.edit, div.promotionSummaryArea a.edit
{
    text-decoration: underline;
    cursor: pointer;
}


table.promotionSummaryTable tr td.first
{
    width: 75px;
}

/***************************

****** Request Info */
#requestInfo { background:none; width:442px; padding:0px 0px; margin:0 auto; display:block; }
#requestInfo .column1 { width:210px; margin:0 22px 0 0; display:block; float:left; }
#requestInfo .column2 { width:204px; margin:0; display:block; float:left; }

#requestInfo .inputBorder {
	background:#e6e6e6; padding:5px; *padding:4px 5px; margin:0 0 10px 0; display:block; clear:both;
	-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;
	-moz-box-shadow:inset 0px 0px 3px  rgba(0, 0, 0, .2);
	-webkit-box-shadow:inset 0px 0px 3px  rgba(0, 0, 0, .2);
    box-shadow:inset 0px 0px 3px  rgba(0, 0, 0, .2);
}

#requestInfo input, #requestInfo textarea {
	color:#969696; background:#FFF url(../images/rfi_input.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/rfi_input.gif*/ repeat-x 0px 0px; border:solid 1px #dcdcdc; padding:6px; margin:0;
	-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}

#requestInfo input {width:186px;}
#requestInfo textarea.message { color:#969696; width:418px; height:70px; display:block; clear:both; }
/*.inputBorder .selectboxit-container { max-width:198px; }*/
.inputBorder .selectboxit-container .selectboxit { width:188px; }
.inputBorder .selectboxit-container .selectboxit-options { width:100%; max-width:198px; max-height:300px; } /* max-width set for iPad */
#requestInfo .rangeSliders { width:94%; margin:10px 0px 15px 0px; *margin:5px 0px 10px 0px; display:block; }
#requestInfo input.range { background:none; margin:0px 0px 5px 0px; border:none; width:78px; text-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; }
#requestInfo label.left { font-weight:bold; padding:0 2px 0 0; float:left; }
#requestInfo .picker-radio { margin:0 7px 0 0; float:left; }
p.disclaimer { color:#646464; font-size:0.833em; }
#requestInfo h1 { text-align:center; font-size:2.750em; line-height:1.125em; background:none; padding:5px; margin:20px auto; display:block; }
#requestInfo h1 img { padding:0px 10px 3px 0; margin:-5px 0 0 0; display:inline; }
#requestInfo p.disclaimer a { color:#224476; text-decoration:none; }
#requestInfo p.disclaimer a:hover { text-decoration:underline; }
#requestInfo #send { cursor:pointer; text-indent:-9999px; background:url(../images/rfi_btn_send.png)/*tpa=http://www.drhorton.com/sites/com/design/images/rfi_btn_send.png*/ no-repeat 0px 0px; width:82px; height:78px; margin:-5px 0 0 0; display:block; position:absolute; top:336px; left:180px; }
#requestInfo #send:hover { background-position:0px -78px; }
#requestInfo p.large { font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif; font-size:1.333em;
line-height:1.250em; background:none; padding:0px; margin:60px 0 80px 0; }
#requestInfo #rfiBack { background:none; }
#requestInfo #rfiBack { color:#FFF; font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif; font-size:1.833em; text-transform:uppercase;
line-height:31px; background:url(../images/rfi_back_btn.png)/*tpa=http://www.drhorton.com/sites/com/design/images/rfi_back_btn.png*/ no-repeat 0px 0px; width:208px; height:41px; padding:0px; margin:0 auto; display:block; cursor:pointer; }
#requestInfo #rfiBack:hover { background-position:0px -43px; }
#requestInfo input[type="text"]:disabled { color:#4D4D4D; opacity: 1.0; filter:Alpha(Opacity=100); }
.ui-widget-overlay, .ui-front { z-index:500; }

/********* View All Promotions Page **********/
.ui-dialog.ui-widget-content.rfiDialog { color:#4d4d4d; padding:0 31px 0 18px; margin:0 58px 0 0; background:url(../images/rfi_bg.png)/*tpa=http://www.drhorton.com/sites/com/design/images/rfi_bg.png*/ no-repeat 0px 0px; border:none;z-index: 9999; }
.ui-dialog.rfiDialog .ui-dialog-content { padding:3px 0em; background:none; overflow:hidden; }
.ui-dialog.rfiDialog .ui-dialog-titlebar { background:none; border:none; }
.ui-dialog.rfiDialog .ui-dialog-title { margin:0em 0; }
.ui-dialog.rfiDialog .ui-dialog-titlebar-close {
	background:url(../images/rfi_close.png)/*tpa=http://www.drhorton.com/sites/com/design/images/rfi_close.png*/ no-repeat 0px 0px; border:none; position: absolute; left:-28px; top:-15px; width:30px; height:30px; padding: 1px; margin:0px 0 0 0; z-index:100;	
}
.ui-dialog.rfiDialog .ui-dialog-titlebar-close:hover { background-position:0px -32px; }
.rfiDialog .ui-widget-header .ui-state-default .ui-icon { background-image: url(gray/images/ui-icons_ffffff_256x240-1.png)/*tpa=http://www.drhorton.com/sites/com/design/css/gray/images/ui-icons_ffffff_256x240.png*/; }
.validateTip { color:#FFF; background:#cc0001; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; border:none;z-index: 99999;}
.validateTip .arrow { width:7px; height:13px; background:url(../images/validate_arrow.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/validate_arrow.gif*/ no-repeat 0px 0px; position:absolute; top:7px; right:-7px; }
.validateTip .arrowDown { width:15px; height:7px; background:url(../images/validate_arrow_down.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/validate_arrow_down.gif*/ no-repeat 0px 0px; position:absolute; top:28px; right:40px; }
/*
.ui-dialog.rfiDialog .ui-dialog-content { padding:3px 0em; background:#e8e8e8 url(../images/rfi_content_bg.gif) repeat-x 0px 0px; overflow:hidden; }
.ui-dialog.rfiDialog .ui-dialog-titlebar { padding:0em 0em; background:#f8f8f8; border:none; border-radius:0px; position:absolute; z-index:100; }
.ui-dialog.rfiDialog .ui-dialog-titlebar-close {
	background:url(../images/rfi_close.png) no-repeat 0px 0px; border:none; position: absolute; left:-15px; top:-20px; width:30px; height:30px; padding: 1px; margin:0px 0 0 0; z-index:100;	
}
.rfiDialog .ui-resizable-n { background:url(../images/rfi_bg_n.png) repeat-x 0px 0px; height:10px; top:-5px; left:0; }
.rfiDialog .ui-resizable-e { background:url(../images/rfi_bg_e.png) no-repeat 0px 5px; width:24px; right:-24px; top:0px;}
.rfiDialog .ui-resizable-s { background:url(../images/rfi_bg_s.png) no-repeat 5px 0px; height:10px; left:0px; bottom:-10px; }
.rfiDialog .ui-resizable-w { background:url(../images/rfi_bg_w.png) repeat-y 0px 0px; width:10px; }
.ui-dialog.rfiDialog .ui-resizable-se { background:url(../images/rfi_bg_se.png) no-repeat 0px 0px; width:10px; height:10px; right:-10px; bottom:-10px; }
.rfiDialog .ui-resizable-sw { background:url(../images/rfi_bg_sw.png) no-repeat 0px 0px; width:10px; height:10px; left:-5px; bottom:-10px; }
.rfiDialog .ui-resizable-ne { background:url(../images/rfi_bg_ne.png) repeat-x 0px 0px; width:10px; height:10px; top:-5px; right:-10px; }
.rfiDialog .ui-resizable-nw { background:url(../images/rfi_bg_nw.png) repeat-x 0px 0px; width:10px; height:10px; top:-5px; left:-5px; }
*/

/****** Refine Search ******/
.three-column .col1 h2 { border-bottom:none; margin-bottom:6px; }
#narrowSearch .section {
	background:url(../images/search_section_border.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/search_section_border.gif*/ repeat-x 0px 0px;
	padding:8px 0 3px 0;
}
#narrowSearch h4.toggler { margin-bottom:5px; }
h4.toggler { font-size:16px; line-height:16px; }
.toggler { background:url(../images/toggle_arrow.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/toggle_arrow.gif*/ no-repeat right 0px; }
.expanded { background-position:right -60px; }
.togglePanel {
	display:block;
	clear:both;
}
#narrowSearch .section .picker { margin: 0 0 5px 0; }
#narrowSearch .section p { margin: 0 0 5px 0; }
#narrowSearch .section a.blue { text-decoration:none; }
#narrowSearch .section a.blue:hover { text-decoration:underline; }
.section span.results { color:#9b9b9b; }

/******* Simple Search Modal *******/
.simpleSearch {
    color: #FFF;
    width: 400px;
    margin:0 auto;
    display:block;
}
.simpleSearch h1 {
	color: #FFF;
	font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
	font-weight: normal;
	background: url(../images/lookup_head.png)/*tpa=http://www.drhorton.com/sites/com/design/images/lookup_head.png*/ repeat 0px 0px;
	font-size: 3.333em;
	margin: 0em 0;
	padding: 5px 16px;
}
.simpleSearch .searchbox { background: url(../images/lookup_searchbox.png)/*tpa=http://www.drhorton.com/sites/com/design/images/lookup_searchbox.png*/ repeat-x 0px 0px; padding: 10px 10px 10px 10px; display: block; }
.simpleSearch .search {
	background: url(../images/lookup_searchfield.png)/*tpa=http://www.drhorton.com/sites/com/design/images/lookup_searchfield.png*/ repeat 0px 0px;
	height: 30px;
	margin: 5px 0 10px 0;
	display: block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, .4), 0px 1px 1px 0px rgba(255, 255, 255, .4);
	-webkit-box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, .4), 0px 1px 1px 0px rgba(255, 255, 255, .4);
	box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, .4), 0px 1px 1px 0px rgba(255, 255, 255, .4);
}

.simpleSearch .searchField { color:#FFF; font-size:1.333em; background:none; border:none; width:323px; padding:6px 8px; margin:0; float:left; }
.simpleSearch .ui-autocomplete-loading { background:url(../images/search_loading.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/search_loading.gif*/ right center no-repeat; }
.simpleSearch .searchField:focus { outline:none; }
.simpleSearch .searchBtn { background: url(../images/lookup_searchbtn.gif)/*tpa=http://www.drhorton.com/sites/com/design/images/lookup_searchbtn.gif*/ no-repeat 0px 0px; width:33px; height:30px; border:none; outline:none; padding:0; margin:0; float:right; }
.simpleSearch .searchBtn:hover, .simpleSearch .searchBtn:focus { background-position:0px -30px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */

a.red { color:#cc0000; text-decoration:none; }
a.red:hover { text-decoration:underline; }

a.blue { color:#224476; }
a.lightBlue { color: #71b0cd; }

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* .hidden is causing bing map controls to be hidden */
/*.hidden {
    display: none !important;
    visibility: hidden;
}*/
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

/* Clearfix: contain floats
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after { clear: both; }
/* For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
.clearfix { *zoom: 1; }
.clear { clear:both; height:0; line-height:0; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (device-width: 768px) {
	/* For general iPad layouts */
	#fancybox-overlay { min-width:980px; }
	/*
	#fancybox-outer { min-width:900px; }
	#fancybox-content { min-width:880px; }
	#fancybox-content { max-width:840px; }
	#content { max-width:840px; }
	*/
		#subpageSlider .bx-wrapper .bx-controls-direction a { margin-top:40px; }
	.ui-dialog.ui-widget-content.rfiDialog { margin:0 -170px 0 0; }
}

@media (min-width: 768px) and (max-width: 979px) {
	#tabsTop .main-content { min-height:255px; }
	#alpha .main-content { min-height:255px; }
	.ui-widget-overlay { min-width:980px; }
}
@media (max-width: 979px) {
	.floorPlan img { max-width:158px; max-height:90px; }
	.csstransforms .quickMove, a.quickMove { max-width:86px; }
	.csstransforms .quickMove { right: -79px; }
}


@media (min-width: 980px) {
	#tabs .main-content { height:366px;}
	.floorPlan a.imageWrap { max-width:189px; max-height:107px; }
	.floorPlan img { width:189px; height:107px; }
	.csstransforms .quickMove, .csstransforms a.quickMove { width:103px; }
}
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited { text-decoration: underline; }
	/*
    a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	*/
	
    /* Don't show links for images, or javascript/internal links */
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display:table-header-group; /* h5bp.com/t */}
    tr, img { page-break-inside:avoid; }
    img { max-width:100% !important; }
    @page { margin:0.5cm; }
    p, h2, h3 { orphans:3; widows:3; }
    h2, h3 { page-break-after: avoid; }

    .fb-like, #nav, a.directions, #footer .column, #footer .column-last, .col1 .buttonBlue, .col1 h2, #narrowSearch,
    #loading, .share { display:none; visibility:hidden; }

    #footer .disclaimer, #footer .disclaimer p { display:block; clear:both; }
	
}
.wherewebuild {
    
}
.homefeature {
    text-decoration: none;
    color: black;
}
.homefeature:hover {

    text-decoration: underline;
    color: black;
}
#noresultsfound {
    width: 650px;
}
#resultCount {
    line-height:14px;
    font-size:11px;
    color: #9b9b9b;
    margin-left: 5px;
}

.MapPushpinBase img
{
    cursor:pointer;
}
.ui-menu
{
overflow:auto;
max-height:450px;
}
.communitystatustext {
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4d4d;
    font-size: 1em;
    line-height: 1.22em;
}
.brandimage {
    max-height: 32px;
    max-width: 195px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.brandimageNonList img{
    max-height: 32px;
    max-width: 195px;
    margin-bottom: 15px;
}
.promotionsHeader {
    margin-top:6px;
    margin-bottom: 10px;
}

.ui-autocomplete.ui-front { z-index:11000; }
.ui-autocomplete.ui-front { z-index:11000 !important; }

/* Tooltip */

.tooltip {
	display: inline;
	position: relative;
	z-index: 999;
}

.tooltip-item::after {
	content: '';
	position: absolute;
	width: 0px;
	height: 20px;
	bottom: 100%;
	left: 50%;
	pointer-events: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
    display: none;
}

.tooltip:hover .tooltip-item::after {
	pointer-events: auto;
    display: block;
	width:20px;
	height:40px;
}

.tooltip-content {
	position: absolute;
	z-index: 9999;
	width: 150px;
	left: 50%;
	margin: 0 0 24px -76px;
	bottom: 100%;
	text-align: left;
	font-size: 0.765em;
	line-height: 1.4;
    background: rgba(255, 255, 255, .82);
    border-radius: 5px;
	opacity: 0;
	cursor: default;
	pointer-events: none;
    white-space: normal;
    display: none;
}

.tooltip-effect .tooltip-content {
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}


.tooltip:hover .tooltip-content {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
	transform: translate3d(0,0,0) rotate3d(0,0,0,0);
    display: block;
}

.tooltip.tooltip-effect-2:hover .tooltip-content {
	
	-webkit-transform: perspective(1000px) rotate3d(1,0,0,0deg);
	transform: perspective(1000px) rotate3d(1,0,0,0deg);
}

.tooltip-content::after {
	content: '';
	top: 100%;
	left: 43%;
	border: solid transparent;
	height: 30px;
	width: 20px;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-width: 0px;
	background-image: url('../images/tooltip-arrow.png')/*tpa=http://www.drhorton.com/sites/com/design/images/tooltip-arrow.png*/;
	background-repeat: no-repeat;
    background-position: 0px 0px; 
}

.tooltip-content.footer-brand-structured:after {
    /*background-position: 0px 0px;*/ 
}

.tooltip-text {
    font-size: 1.28em;
	line-height: 1.35;
	display: block;
	padding: 1.31em 1.21em 1.21em 0;
	color: #000;
	padding: 15px;
}