.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-101-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-101-inside {
  padding-right: 0px;
}

.panels-flexible-101 {
  width: auto;
}

.panels-flexible-region-101-marquee {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-column-101-2 {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-news_and_events_section_head {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-3-inside {
  padding-right: 0px;
}

.panels-flexible-column-101-5 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-column-101-6 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-101-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-news___event_image_callout {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-7-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-news___event_callout {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-8-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-news___event_callout_ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-9-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-parallax {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-10-inside {
  padding-right: 0px;
}

.panels-flexible-column-101-12 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-column-101-13 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-101-11-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-we_are_leidos {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-14-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-stock_ticker {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-15-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-mission_statement {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-16-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-parallax_ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-17-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-featured_stories {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-18-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-parallax__ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-19-inside {
  padding-right: 0px;
}

.panels-flexible-column-101-21 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-column-101-22 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-101-20-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-contact_us {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-23-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-full_form_text {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-24-inside {
  padding-right: 0px;
}

.panels-flexible-region-101-careers_ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-101-25-inside {
  padding-right: 0px;
}

