#shortcuts,
#skip_nav,
#main_navigation,
#sub_navigation, .sub_navigation,
#content_header img,
#ctl00_bdyBody .breadcrumb,
#ctl00_bdyBody #footer,
#ctl00_bdyBody #printfooter #links #rss,
#ctl00_bdyBody #printfooter #links #legal a,
#ctl00_bdyBody.content #content_header #banner,
#section_links.more {
	display: none !important;
}

#printstamp,
#printfooter,
#section_1,
#content_header.noImage img {
	display: block !important;
}
	#content_header.noImage img {
		width: 417px !important;
		height: 250px !important;
	}
	#printfooter {
		padding-top: 30px;
	}

#ctl00_bdyBody.content,
#ctl00_bdyBody.content #header,
#ctl00_bdyBody.content #page,
#ctl00_bdyBody.content #body {
	background: none;
}

#ctl00_bdyBody #body,
#ctl00_bdyBody #page,
#ctl00_bdyBody #footer,
#ctl00_bdyBody #footer #links,
#ctl00_bdyBody.content #body #content_wrapper,
#ctl00_bdyBody.content #body #wide_content_wrapper {
	float: none;
	width: 625px !important;
}

#ctl00_bdyBody #footer #links {
	background: none;
	color: #797979;
	font: bold 10px Arial, Helvetica, sans-serif;
	padding: 3px 0;
}

#ctl00_bdyBody #content_header h1 {
	margin-top: 0;
}

#ctl00_bdyBody #body #content_main {
	float: left;
	padding-bottom: 40px;
	width: 427px;
}
#ctl00_bdyBody #body #content_aside {
	padding-bottom: 0;
}
* html #ctl00_bdyBody #body #content_aside {
	width: 178px;
}

#ctl00_bdyBody #header {
	height: 67px;
}
#ctl00_bdyBody.content #footer {
	height: auto;
	margin: 0 auto;
	position: static;
}
#ctl00_bdyBody #footer #links {
	position: static;
	height: auto;
}

#ctl00_bdyBody.content #content_main .inline_aside {
	left: 455px;
	top: auto;
}
#ctl00_bdyBody .map_frame {
	width: 427px;
}	
#ctl00_bdyBody .map_frame .inner {
	width: 413px;
}
#ctl00_bdyBody #map_power_plants,
#ctl00_bdyBody #map_delivery_area {
	height: 260px !important;
	width: 413px !important;
}
#ctl00_bdyBody .map_frame .map_shadow_inner_t {
	width: 413px !important;
}
#ctl00_bdyBody .map_frame .map_shadow_inner_l {
	height: 260px !important;
}

.newsroom .pagination,
#ctl00_bdyBody #content_main.wide .pagination {
	margin-bottom: 40px;
}

#ctl00_bdyBody #body #content_main.wide {
	padding-left: 0;
	width: 427px;
}
#ctl00_bdyBody #content_main .result {
	width: 399px;
}
#ctl00_bdyBody.content #content_main .inline_aside_bottom {
	bottom: 0;
}

#ctl00_bdyBody.content #content_main div.download p,
#ctl00_bdyBody.content #content_main .toggle div.download p {
	width: 300px !important;
}

.largeSpaced {
	page-break-before: always;
}
#ctl00_bdyBody #content_aside .module .powerPlantInfo {
    height: 222px;
}
#ctl00_bdyBody #content_main ul.gallery li {
	margin: 0 25px 25px 0;
}

iframe {
	width: 427px !important;
}
#ctl00_bdyBody.content #content_main .tabs li {
	padding-bottom: 6px;
}
#content_main td.description,
#content_main th.description {
	width: 100px;
}

#iFrameContent {
	display: block !important;
}
#investorsFrame {
	display: none;
}

#ctl00_bdyBody #body #content_header.wide {
	padding-left: 0;
	width: 625px;
}
#ctl00_bdyBody.contact #body #content_main #address #address-text-bottom {
	bottom: auto;
	position: static;
	left: auto;
	padding-top: 10px;
}
#ctl00_bdyBody .toggle dt {
	background-position: 0 -55px !important;
}
.JS-active #ctl00_bdyBody .toggle dd {
	display: block !important;
}
#ctl00_bdyBody #content_main dl.toggle dd .contact_info {
	float: none;
	width: 100%;
}
#ctl00_bdyBody.form #page,
#ctl00_bdyBody.form #content_wrapper,
#ctl00_bdyBody.form #content_header,
#ctl00_bdyBody.form #content_main {
	width: 600px !important;
	float: none !important;
}

/*------------------------------------------------
IE6 print adjustments
------------------------------------------------*/

* html #ctl00_bdyBody #body,
* html #ctl00_bdyBody #page,
* html #ctl00_bdyBody #footer,
* html #ctl00_bdyBody #footer #links,
* html #ctl00_bdyBody.content #body #content_wrapper,
* html #ctl00_bdyBody.content #body #wide_content_wrapper {
	float: none;
	width: 600px !important;
}
* html #content_header.noImage img {
	width: 392px !important;
	height: 250px !important;
}
* html #ctl00_bdyBody #body #content_main {
	float: left;
	padding-bottom: 40px;
	width: 402px;
}
* html #ctl00_bdyBody.content #content_main .inline_aside {
	left: 430px;
	top: auto;
}
* html #ctl00_bdyBody .map_frame {
	width: 402px;
}	
* html #ctl00_bdyBody .map_frame .inner {
	width: 388px;
}
* html #ctl00_bdyBody #map_power_plants,
* html #ctl00_bdyBody #map_delivery_area {
	height: 260px !important;
	width: 388px !important;
}
* html #ctl00_bdyBody .map_frame .map_shadow_inner_t {
	width: 388px !important;
}
* html #ctl00_bdyBody #body #content_main.wide {
	padding-left: 0;
	width: 402px;
}
* html #ctl00_bdyBody #content_main .result {
	width: 374px;
}
* html #ctl00_bdyBody.content #content_main div.download p,
* html #ctl00_bdyBody.content #content_main .toggle div.download p {
	width: 275px !important;
}
* html #ctl00_bdyBody #content_main ul.gallery li {
	margin: 0 16px 16px 0;
}
* html iframe {
	width: 402px !important;
}
* html #content_main td.description,
* html #content_main th.description {
	width: 75px;
}
* html #ctl00_bdyBody #body #content_header.wide {
	padding-left: 0;
	width: 600px;
}
* html #ctl00_bdyBody #body .home-tab {
	display: none !important;
}
#ctl00_bdyBody #content_main .tabbed_content {
	width: 388px;
	position: static;
	padding: 0;
	margin: 10px 0 0;
	background: #FFF none;
}

	#ctl00_bdyBody #content_main .tabbed_content dt.tab {
		width: 388px;
		float: left;
		clear: none;
		border-top: none;
		border-right: none;
		position: static;
		z-index: auto;
	}
		#ctl00_bdyBody #content_main .tabbed_content dt.tab a {
			display: none;
			width: auto;
			height: auto;
			padding: 0;
			font-size: 1.6em;
			text-decoration: none;
			font-family: Verdana, Arial, sans-serif;
			background: none;
		}
		
		#ctl00_bdyBody #content_main .tabbed_content dt.tab a.active {
			color: #000;
			display: block;
		}
	#ctl00_bdyBody .tabbed_content dd.tab_body {
		padding: 0;
		clear: none;
		position: static;
		z-index: auto;
	}
	#ctl00_bdyBody .tabbed_content dd.hidden {
		display: block;
	}
		#ctl00_bdyBody #content_main .tabbed_content dd.tab_body h3 {
			font-weight: normal;
			font-size: 1.6em;
			line-height: 1.125em;
			letter-spacing: 0.02em;
			font-weight: normal;
			font-family: Verdana, Arial, sans-serif;
			padding: 0 0 15px;
		}
	#ctl00_bdyBody .tabbed_content dd.tab_bottom {
		display: none;
	}

#ctl00_bdyBody #content_main .photo-carousel {
	background: transparent none !important;
}

#ctl00_bdyBody #content_main .photo-carousel .carousel-wrapper {
	height: auto;
	overflow: visible;
	width: 100%;
}

#ctl00_bdyBody #content_main .photo-carousel .carousel-photos {
	background-color: transparent;
	margin-right: 0;
	margin-left: 0;
}
#ctl00_bdyBody #content_main .photo-carousel .carousel-caption,
#ctl00_bdyBody #content_main .photo-carousel .carousel-triggers {
	display: none;
}

* html #ctl00_bdyBody #content_main ul.gallery {
	width: 534px;
}
* html #ctl00_bdyBody #content_main fieldset.three_col {
	float: none;
	width: 100%;
}

#ctl00_bdyBody.home #shortcuts,
#ctl00_bdyBody.home #footer,
#ctl00_bdyBody.home #printfooter #links #rss,
#ctl00_bdyBody.home #printfooter #links #legal a  {
	display: block !important;
}
#ctl00_bdyBody.home #body {
	min-height: 540px;
}
#ctl00_bdyBody.home #footer {
	margin-left: 10px !important;
	margin-right: 10px !important;
}
#ctl00_bdyBody.home #footer #links {
	background-color: #1418D1;
	width: 960px !important;
}
#ctl00_bdyBody.home #printstamp,
#ctl00_bdyBody.home #printfooter {
	display: none !important;
}
