/*Moving inline styles to stylesheet (added class 'inline' so hopefully won't override styles on other pages*/
/*restrict screen width for ie8 and earlier*/
.oldie body { min-width:960px; }

.subLeftCol.about { margin-top:-7px; }
.subLeftCol.about.coreValues { min-height:1300px; }
.subLeftCol.jobs { margin-top:-30px; }
.subLeftCol.aboutSust { margin-top:-27px; }
.subLeftCol.inline {
	margin-top:0px\9;
}

.subRightCol.inline { 
	position:relative;
	float:left;
	padding-left:57px;
	width:420px;
	z-index:1;
}
.subRightCol.aboutCoreVal { top:-15px; }
.subRightCol.aboutEthics { padding-left:164px; }
.subRightCol.aboutSust { padding-left:140px; top:-27px; top:0px\9; }
.subRightCol.aboutOurHist { top:-30px;top:-25px\9; }

.subRightCol .innerDiv1 {
	position:relative; 
	z-index:1;
}
.subRightCol.innerDiv2 {
	width:420px;
}

.subRightCol.jobsWorkingHere .subQuote { position:relative; top:60px;}
.subRightCol.aboutEthics .subQuote { 
	display:block;
	margin: 19px 0 0 12px;
	max-width:320px;
}

.aboutContact#subContactUsBG { min-height:1100px; }
.aboutContact#subContactUsBG #ContactUs { margin-top:-84px; }
.aboutContact#subContactUsBG .subBreadCrumbTrailBlue { 
	/*position:absolute; 
	left:238px; */
	text-align:right;
}
.aboutContact#subContactUsBG .contactForm { min-height:928px; }
.aboutContact#subContactUsBG .contactForm  h1 { 
	width:800px;
	padding:15px;
}
.aboutContact#subContactUsBG .contactForm  .subAllCol { 
	position:relative;
	top:-32px;
	top:-19px\9;
	padding:15px; 
}


.filterClear { text-align:left; }

.jobsWhyJacobsTabsContent h6 { margin-bottom:0 !important; }

.jobsWhyJacobsTabsContent .bx-wrapper .bx-controls-direction a,
.jobsWhyJacobsTabsContent_mobile .bx-wrapper .bx-controls-direction a {
	position: absolute;
	z-index: 9999;
	top: 50%;
	margin-top: -28px;
	width: 56px;
	height: 56px;
}
.jobsWhyJacobsTabsContent .bx-wrapper .bx-prev,
.jobsWhyJacobsTabsContent_mobile .bx-wrapper .bx-prev {
	background: url(../../images/carouselLeft.png)/*tpa=http://www.jacobs.com/images/carouselLeft.png*/;
	left: -30px;
}
.jobsWhyJacobsTabsContent .bx-wrapper .bx-next,
.jobsWhyJacobsTabsContent_mobile .bx-wrapper .bx-next {
	background: url(../../images/carouselRight.png)/*tpa=http://www.jacobs.com/images/carouselRight.png*/;
	right: -30px;
}
.jobsWhyJacobsTabsContent .bx-wrapper .bx-prev:hover,
.jobsWhyJacobsTabsContent .bx-wrapper .bx-next:hover,
.jobsWhyJacobsTabsContent_mobile .bx-wrapper .bx-prev:hover,
.jobsWhyJacobsTabsContent_mobile .bx-wrapper .bx-next:hover {
	background-position: 0 0;
}

/* Hide mobile content for desktop */
@media screen and (min-width: 568px) {
	.jobsHotJobsTabsContent_mobile,
	.jobsWhyJacobsTabsContent_mobile,
	.jobsApplyForAJobTabsContent_mobile { display:none !important; }
}
/* For older browsers */
.oldie .jobsHotJobsTabsContent_mobile,
.oldie .jobsWhyJacobsTabsContent_mobile,
.oldie .jobsApplyForAJobTabsContent_mobile { display:none !important; }



/***** MOBILE *****/
@media screen and (min-width: 1px) and (max-width: 567px) {
	.mobileHide { display:none !important; }	
	.mobileNoMargin { margin:0 !important; }
	.leftNav { display:none; }

	.subSection { min-height:0 !important; overflow:hidden; }
	.subBreadCrumbTrail { cursor:pointer; }
	.subBreadCrumbTrail + div { margin-bottom:20px; display:none; }
	
	.videoWrapper { 
		height: 0;
		padding-bottom: 56%;
		position: relative;	
	}
	.videoWrapper  #ytplayer {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
	}
	
	.gridContainer.mobile .leftNav { margin-top: -60px; }

	.subRightCol.inline {
		width:auto;
		float:none;
		padding:10px;
	}
	.subRightCol.aboutCoreVal,
	.subRightCol.aboutSust,
	.subRightCol.aboutOurHist { top:0; }

	.subRightCol img { max-width:100%; }
	.subRightCol .innerDiv2 {
		width:auto;
	}
	
	.subRightCol.aboutEthics .subQuote { 
		margin-left:0;
		max-width:none;
	}
	.aboutContact#subContactUsBG,
	.aboutContact#subContactUsBG .contactForm { min-height:0; }
	
	.aboutContact#subContactUsBG #ContactUs { margin-top:0; }
	.aboutContact#subContactUsBG .subBreadCrumbTrailBlue { 
		position:relative; 
		left:inherit; 
		left:initial; 
	}
	.aboutContact#subContactUsBG .contactForm  h1 { 
		width:auto;
		padding:15px;
	}
	.aboutContact#subContactUsBG .contactForm  .subAllCol { 
		position:relative;
		top:0;
		padding:15px; 
	}
	
	.aboutContact#subContactUsBG .contactForm  input,
	.aboutContact#subContactUsBG .contactForm  textarea { max-width:100% !important; }
	.aboutContact#subContactUsBG   #ContactUs1_radiobuttonlistTopics td { width:100%; display:block; }
	#ContactUs1_radiobuttonlistTopics input[type=radio] { float:left; margin:4px 3px 0 0; }
	#ContactUs1_radiobuttonlistTopics label { padding-left: 16px; display: block; }
	
	.recaptchatable .recaptcha_r1_c1, .recaptchatable .recaptcha_r2_c1, .recaptchatable .recaptcha_r2_c2, .recaptchatable .recaptcha_r3_c1, .recaptchatable .recaptcha_r3_c3, .recaptchatable .recaptcha_r4_c1, .recaptchatable .recaptcha_r4_c2, .recaptchatable .recaptcha_r4_c4, .recaptchatable .recaptcha_r3_c2, .recaptchatable .recaptcha_r7_c1, .recaptchatable .recaptcha_r8_c1, .recaptchatable .recaptcha_image_cell { background: none !important; }
	
	.recaptcha_r2_c1,.recaptcha_r2_c2,.recaptcha_r3_c1,.recaptcha_r3_c2,.recaptcha_r3_c3 { display:none; }
	
	div#recaptcha_area { width:auto !important; }
	table#recaptcha_table {
		max-width: 300px;
		width: 100% !important;
		background: rgb(230, 230, 230);
		margin:10px auto !important;
		display:table;
	}
	#recaptcha_table tr { display:table-row; }
	#recaptcha_table td  { display:table-cell; }
	.recaptchatable #recaptcha_image {
		margin: 0 !important;
		width:auto !important;
		max-width: 100%;
		padding:0 3px;
		text-align:left;
	}
	#recaptcha_challenge_image{ max-width: 100%; height: auto; }

	#map-canvas { display:none; } 

	/*JOBS PAGE STYLES*/
	#subWorkingHereBanner + .subBreadCrumbTrail + div .subLeftCol .bulletlist { padding-left: 10px; font-size: 16px; }

	.applyTable,
	.applyTable tbody, 
	.applyTable tr,
	.applyTable td { display:block; float:none; width:auto; }
	.subAllCol .applyTable { margin-bottom:0 !important;}
	.applyTable td  div[align=center] { text-align:left; }
	.applyTable td { border-right:none !important; border-bottom: 2px solid #b8b8b8 !important;  }

	.applyTable td #subSectionTitleB { float:none; padding-bottom:0; }
	.applyTable td #subSectionTitleB.staffSectionTitle { padding-top:0; }
	.applyTable td #subSectionTitleB.craftSectionTitle {  }
	.applyTable td #subSectionTitleB.aeroSectionTitle { padding-bottom:40px; }
	.applyTable td .ddlCraft { font-size:20px; top:0 !important; padding: 17px 25px !important; }
	.applyTable td .applyBtn { height:44px; margin-bottom:20px; }
	.applyTable td .applyBtn img { top: 50% !important; margin-top: -38px; left: 0 !important; }
	#applyCraftSelectText_Canada,
	#applyCraftSelectText_UK,
	#applyCraftSelectText_USA { top:0 !important; margin:0 10px 20px; }

	.jobsWorkingHere div[align=right] { text-align:left; margin-top:20px; }

	#jobsApplyForAJobTabs { padding-left: 0 !important; }
	#JobEvents_UpdatePanel1 .JobEventsFilter { padding: 10px 0; margin-top:10px; }

	.filterClear { text-align:left; }

	.jobsHotJobsTabsContent,
	.jobsWhyJacobsTabsContent,
	.jobsApplyForAJobTabsContent { display:none !important; }

	.jobsHotJobsTabsContent_mobile,
	.jobsWhyJacobsTabsContent_mobile,
	.jobsApplyForAJobTabsContent_mobile { display:none; }
	.jobsWhyJacobsTabsContent_mobile { padding: 10px; margin-bottom:0; }

	.jobsWhyJacobsTabsContent_mobile h6 { margin-bottom:0 !important; margin-right:0 !important; }
	.jobsWhyJacobsTabsContent_mobile h6 .subCarouselHoriz { padding-right:15px; }

	/*Homepage*/
	#jcbsPrssRlTbl_mobile {
	    border: 0 none;
	    border-spacing: 0;
	    border-collapse: collapse;
	    font-size: 14px;
	}
	#jcbsPrssRlTbl_mobile tr {
	    vertical-align: top;
	}
	#jcbsPrssRlTbl_mobile td,
	#jcbsPrssRlTbl_mobile td a {
	    padding-bottom: 10px;
	    font-size: 14px;
		line-height: 1.4em !important;
	}
	#jcbsPrssRlTbl_mobile td.prDate {
	    width: 70px;
	    padding-right: 10px;
	}

}
