sub@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}
/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/	
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	min-width: 1210px;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#globalNav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main {
	clear: both;
	margin-left: 0;
	width: 100%;
	display: block;
}
#mainSub {
	clear: both;
	margin-left: 0;
	width: 100%;
	display: block;
}
.clear {
	clear:both;
}
h1 {
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 30px;
	background-color: #f2f2f2;
	line-height: 36px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	margin-top: 30px;
	margin-left:10px;
	margin-right:10px;
}
h2 {
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 40px;
	font-weight: normal;
	line-height: 58px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	margin-top: 24px;
	margin-left:10px;
	margin-right:10px;
}
h6 {
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	margin-left:10px;
	margin-right:10px;
}
#globalFooter {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.subSection {
	background-color: #f2f2f2;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	height: 100%;
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
	clear: both;
}
.subAllCol {
	display: block;
	font-size: 21px;
	line-height: 26px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	margin-left:10px;
	margin-right:10px;
	background-color:#f2f2f2;
}

#mobile_showimage {
	display:none;
}
#mobile_showinline {
 display:inline-block;
}
.subBanner {
	width: 100%;
	height: 100px;
	background-size:auto;
}
#mobilealert {
	display:block;
}
/* FEATURES SECTION */
	
	.subLeftColFeatures {
	display: block;
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
	font-size: 21px;
	line-height: 26px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	margin-left:10px;
	margin-right:10px;
	margin-top:0px\9;
	width:auto;
}
.subRightColFeatures {
	display: block;
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
	font-size: 21px;
	line-height: 26px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	width: 100%;
	vertical-align: top;
	overflow: visible;
margin-left:0px; z-index:1
}
#FeatureProjectTabs_styleover {
	background-color:transparent;
	padding-bottom:20px;
}
#FeatureProjectTabs_styleover .bx-wrapper .bx-viewport {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	border: none;
	left: 0px;
	background:none;
}
.subRightColFeaturesRotator {
	width:100%;
}
#clientstories_rotator_title {
	display: block;
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 18px;
	padding-top:5px;
}
/*#ResultsClientstoriesFeaturesContent_1 { 
		display: inline-block;
	}
	*/
	#ResultsClientstoriesFeaturesContent_2 {
	display: none;
}
#ResultsClientstoriesFeaturesContent_3 {
	display: none;
}
#ResultsClientstoriesFeaturesContent_4 {
	display: none;
}
#ResultsClientstoriesFeaturesContent_5 {
	display: none;
}
#ResultsClientstoriesFeaturesContent_6 {
	display: none;
}
#ResultsClientstoriesFeaturesContent_7 {
	display: none;
}
.seeourresults_clientrotators_internal_next {
	position:relative;
	top:-190px;
	float:right;
	margin-right:5px;
	z-index:3;
}
.seeourresults_clientrotators_internal_previous {
	position:relative;
	top:-190px;
	float:left;
	margin-left:5px;
	z-index:3;
}
.seeourresults_clientrotators_master_next {
	position:absolute;
	top:50px;
	left:98%;
	z-index:3;
}
.seeourresults_clientrotators_master_previous {
	position:absolute;
	top:50px;
	left:-40px;
	z-index:3;
}
#FeatureProjectTabsMobile {
	max-width:100%;
}
#FeatureProjectTabsMobile ul {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
	margin-top:0px;
	padding-top:0px;
}
#FeatureProjectTabsMobile ul li {
	background-image:url(../../images/Mobile_features_tab.png)/*tpa=http://www.jacobs.com/images/Mobile_features_tab.png*/;
	background-repeat:repeat-x;
	padding-top:7px;
	padding-bottom:7px;
	display:block;
	width:100%;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	clear:both;
	cursor:pointer;
}
#FeatureProjectTabsMobile ul li img {
	width:100px;
	height:auto;
	margin-right:15px;
	margin-left:10px;
	display:inline-block;
}
#FeatureProjectTabsMobile ul li .projecttitle {
	display:inline-block;
	text-wrap:normal;
	vertical-align:middle;
	width:60%;
	color:#FFF;
	font-size:15px;
}
#FeatureProjectTabsMobile ul li .returntotop {
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	width:100%;
	color:#FFF;
	font-size:15px;
}
#FeatureProjectTabs, subCarouselHoriz, FeatureProjectTabs_styleover, slider_projects {
	display:none;
}
/* END MOBILE FEATURES SECTION */

/* START MOBILE TESTIMONIALS SECTION */

#seeourresults_testimonials_leftcolumn {
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
}
#seeourresults_testimonials_rightcolumn {
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
}
.seeourresults_testimonials_image_horizontal img {
	width:100%;
	height:auto;
	margin-bottom:20px;
}
.seeourresults_testimonials_titleblock {
	display: inline-block;
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 15px;
	line-height: 18px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	padding-top:15px;
	width:95%;
}
.seeourresults_testimonials_companyblock {
	display: inline-block;
	font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
	font-size: 15px;
	line-height: 19px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	padding-top:5px;
	width:95%;
}
.subCol_Testimonials {
	display:inline-block;
	width:100%;
	margin-bottom:50px;
}
.seeourresults_testimonials_text {
	margin-left:7px;
}
.seeourresults_testimonials_text_quote {
	margin-left:-7px;
	float:left;
}

/* END MOBILE TESTIMONIALS SECTION */


/* Desktop Layout: 481px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
/* changing this to 567 to accomodate landscape mobile */
@media only screen and (min-width: 568px) {
 body {
 -webkit-font-smoothing: antialiased;
 font: 1.0em 'Helvetica Neue',sans-serif;
}
#mobile_showimage {
 display:block;
}
#mobile_showinline {
 display:none;
}
 a, a:visited {
 color: #00338d;
 text-decoration: none;
}
a:hover {
 color: #00338d;
 text-decoration: underline;
}
a.linksHomeWelcome {
 color: #000;
 text-decoration: underline;
}
a.linksFooterFeatures {
 color: #000;
 text-decoration: none;
}
a.linksFooterFeatures:hover {
 color: #00338d;
}
a.navLinks {
 text-decoration: none;
 color: #000;
}
a.navLinks:hover {
 color: #00338d;
}
a.globalFooterLinks {
 color: #898989;
 text-decoration: none;
}
a.globalFooterLinks:hover {
 color: #00338d;
 text-decoration: none;
}
 a.jobsCareersOnTheMoveLink {
 color: #3c3c3c;
 text-decoration: none;
 cursor:pointer;
 font-size: 31px;
 line-height:24px color:#fff
}
 a.jobsCareersOnTheMoveLink:hover {
 color: #fff;
 text-decoration: none;
}
 a.jobsCareersOnTheMoveLink:active {
 color: #fff;
 text-decoration: none;
}
 a.aliasLink {
 color: #00338D;
 text-decoration: none;
 cursor:pointer;
}
a.aliasLink:hover {
 color: #00338D;
 text-decoration: underline;
}
 a.aliasLink:active {
 color: #000;
 text-decoration: none;
}
 a.awardsLink {
 color: #fff;
 text-decoration: underline;
 cursor:pointer;
}
 a.awardsLink:hover {
 color: #B8B8B8;
 text-decoration: underline;
 cursor:pointer;
}
 .gridContainer {
 width: 88.2%;
 max-width: 1210px;
 padding-left: 0.9%;
 padding-right: 0.9%;
 margin: auto;
}
 br {
 line-height: 1.5em;
}
#mobileNav {
 display:none;
}
#globalNav {
 clear: both;
 float: left;
 margin-left: 0;
 height: 83px;
 width: 100%;
 display: block;
 background-color: #efefef;
 border-bottom: 1px solid #dddddd;
 position: fixed;
 left: 0px;
 z-index: 60;
}
#globalNavExpanded {
 clear: both;
 float: left;
 margin-left: 0;
 display: none;
 background-color: #f9fafd;
 opacity: .95;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
 filter: alpha(opacity=95);
 width: 100%;
 min-width: 1210px;
 min-height: 230px;
 max-height: 230px;
 line-height: 34px;
 z-index: 100;
 position: absolute;
 top: 84px;
 left: 0px;
}
ul.navWorkWithUsList {
 list-style-type: none;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 position: absolute;
 top: 0px;
 left: 407px;
 min-width:130px;
}
ul.navWorkForUsList {
 list-style-type: none;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 position: absolute;
 top: 0px;
 left: 322px;
}
 ul.navSeeOurResultsList {
 list-style-type: none;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 position: absolute;
 top: 0px;
 left: 545px;
 min-width:128px;
}
ul.navSubListCol1 {
 list-style-type: none;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
	/*width: 620px;*/
	overflow: hidden;
 float: left;
 display: inline;
 position: absolute;
 top: 3px;
 left: 406px;
}
ul.navSubList3Col1 {
 list-style-type: none;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
	/*width: 620px;*/
	overflow: hidden;
 float: left;
 display: inline;
 position: absolute;
 top: 7px;
 left: 715px;
}
ul.navSubList4Col1 {
 list-style-type: none;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
	/*width: 620px;*/
	overflow: hidden;
 float: left;
 display: inline;
 position: absolute;
 top: 3px;
 left: 700px;
}
ul.navSubList3Col2 {
 list-style-type: none;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
	/*width: 620px;*/
	overflow: hidden;
 float: left;
 display: inline;
 position: absolute;
 top: 7px;
 left: 883px;
}
ul.navSubListCareersCol2 {
 list-style-type: none;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
	/*width: 620px;*/
	overflow: hidden;
 float: left;
 display: inline;
 position: absolute;
 top: 7px;
 left: 530px;
 z-index:102px;
}
ul.navSubListCol2 {
 list-style-type: none;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
	/*width: 620px;*/
	overflow: hidden;
 float: left;
 display: inline;
 position: absolute;
 top: 7px;
 left: 581px;
 z-index:102px;
}
#navThirdLayerBG {
 background-image:url(../../images/nav_calloutbg.png)/*tpa=http://www.jacobs.com/images/nav_calloutbg.png*/;
 background-repeat:repeat-y;
 overflow:hidden;
 width:100%;
 height:230px;
 z-index:101;
}
ul.navSubListCol3 {
 list-style-type: none;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
	/*width: 620px;*/
	overflow: hidden;
 float: left;
 display: inline;
 position: absolute;
 top: 7px;
 left: 749px;
}
ul.navSubListCol4 {
 list-style-type: none;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
	/*width: 620px;*/
	overflow: hidden;
 float: left;
 display: inline;
 position: absolute;
 top: 7px;
 left: 984px;
}
 ul.bulletlist {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px; /*CDH, 19 Dec 2014 - Revised font size to 21px to match font size in left column of page content. Previously = 16px*/  
 list-style-image: url(../../images/bullet.png)/*tpa=http://www.jacobs.com/images/bullet.png*/;
 list-style-image: url(../../images/bulletIE.png)/*tpa=http://www.jacobs.com/images/bulletIE.png*/\9;
 list-style-type: none;
 vertical-align: middle;
 margin-left: -40px; /*CDH, 19 Dec 2014 - Added margin-left property to left align the bulleted list with text in left column of page content.  Previously there was no margin-left property set for this selector (ul.bulletlist).*/  
}
 ul.bulletlist li {
 vertical-align:text-top;
 position: relative;
 top: -3px;
 vertical-align: middle;
 line-height: 26px;
 margin-bottom: 8px\0/; /*CDH, 20 Dec 2014 - Added margin-bottom property to add space between list items in IE (IE is not reading the properties in "ul.bulletlist li:after").  Previously there was no margin-bottom property set for this selector (ul.bulletlist li).*/
}
 ul.bulletlist li:after {
 display: block;
 line-height:8px;
 content:"\a";
 white-space:pre;
}
 ul.bulletlist_smltxt {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size:16px;
 margin-left:-30px;
 list-style-image: url(../../images/bullet.png)/*tpa=http://www.jacobs.com/images/bullet.png*/;
 list-style-image: url(../../images/bulletIE.png)/*tpa=http://www.jacobs.com/images/bulletIE.png*/\9;
 list-style-type: none;
}
 ul.bulletlistNoIndent {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size:21px;
 margin-left:-20px;
 list-style-image: url(../../images/bullet.png)/*tpa=http://www.jacobs.com/images/bullet.png*/;
 list-style-image: url(../../images/bulletIE.png)/*tpa=http://www.jacobs.com/images/bulletIE.png*/\9;
 list-style-type: none;
 vertical-align: middle;
}
 ul.bulletlistNoIndent li:after {
 display: block;
 line-height:8px;
 content:"\a";
 white-space:pre;
}
 #navWorkWithUsExpanded {
 clear:both;
 float: left;
 margin-left: 0;
}
#navOurApproachSub {
 display: none;
 z-index:2px;
}
 #navIndustriesWeServeSub {
 display: none;
}
#navServicesWeProvideSub {
 display: none;
}
#navProductsSub {
 display: none;
}
#navAboutSub {
 display: none;
}
#navJobsSub {
 display: none;
}
#navClientStoriesSub {
 display: none;
}
#navNewsSub {
 display: none;
}
#navInvestorsSub {
 display: none;
}
 #wrapper {
 float: left;
 display:inline-block;
 background-color: #fff;
 width: 784px;
 height: 83px;
 z-index: 6;
}
#logo {
 float: left;
 width: 167px;
 margin-top: 29px;
 margin-left: 105px;
}
#navHead1 {
 display: inline-block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 width: 75px;
 position:absolute;
 top: 37px;
 left: 363px;
}
#navHead2 {
 display: inline-block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 width: 115px;
 position:absolute;
 top: 37px;
 left: 448px;
}
#navHead3 {
 display: inline-block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 width: 115px;
 position:absolute;
 top: 37px;
 left: 584px;
}
#navHead4 {
 display: inline-block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 width: 115px;
 position:absolute;
 top: 37px;
 left: 719px;
}
#navDiag {
 display: inline-block;
 position: absolute;
 top: 0px;
 left: 784px;
 z-index: 5;
}
#navUtil {
 background-color: #efefef;
 height: 83px;
 width: 402px;
 border-bottom: 1px solid #dddddd;
 position: absolute;
 left: 850px;
 top: 0px;
}
#navUtilHead1 {
 display: inline-block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
 position: absolute;
 z-index: 6;
 top: 41px;
		/*left: 739px;*/
		left: -26px;
}
#navUtilHead2 {
 display: inline-block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
 position: absolute;
 top: 41px;
		/*left: 813px;*/
		left: 47px;
}
#navUtilHead3 {
 display: inline-block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
 position: absolute;
 top: 41px;
		/*left: 885px;*/
		left: 148px;
}
 #navUtilHead4 {
 display: inline-block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
 position: absolute;
 top: 41px;
		/*left: 885px;*/
		left: 222px;
}
 #navUtilSearch {
 margin-left: 0;
 width: 129px;
 height: 33px;
 display: block;
 background-color: #e6e6e6;
 background-repeat: no-repeat;
 background-position: right;
 border-style: solid;
 border-left-color: #d6d6d6;
 border-left-width: 2px;
 border-top-color: #d0d0d0;
 border-top-width: 2px;
 border-right-color: #fafafa;
 border-right-width: 1px;
 border-bottom-color: #fafafa;
 border-bottom-width: 1px;
 position: absolute;
 top: 31px;
 left: 126px;
}
 .navSearchBox {
 background-color: #e6e6e6;
 border: none;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
 width: 95px;
 margin-left: 5px;
 position: relative;
 top: 7px;
}
.navSearchSubmit {
 position: absolute;
 top: 10px;
 left: 105px;
}
 #main {
 clear: both;
 float: left;
 margin-left: 0;
 width: 100%;
 display: block;
}
#mainSub {
 clear: both;
 float: left;
 margin-left: 0;
 width: 100%;
 display: block;
 position: absolute;
 top: 84px;
 left: 0px;
}
 #homeWelcome {
 float: left;
 display: block;
 width: 540px;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 50px;
 position: absolute;
 top: 131px;
 left: 105px;
 z-index: 2;
 color: #000;
}
#homeWelcomeText {
 float: left;
 display: block;
 width: 525px;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 26px;
 position: absolute;
 top: 201px;
 left: 105px;
 z-index: 2;
 color: #000;
}
#homeStoryArrow {
 float: left;
 margin-left: 0;
 display: none;
 width: 12px;
 position: absolute;
 top: 316px;
 left: 69px;
}
 .homeStoryTransBox {
 background-color:rgba(255, 255, 255, .60);
 background-color:rgb(255,255,255)\9;
 padding:8px;
}
 #homeStory1 {
 float: left;
 display: none;
 width: 540px;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 20px;
 color: #000;
 position: absolute;
 top: 313px;
 left: 105px;
}
#homeStory2 {
 float: left;
 display: none;
 width: 540px;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 20px;
 color: #000;
 position: absolute;
 top: 313px;
 left: 105px;
}
#homeStory3 {
 float: left;
 display: none;
 width: 540px;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 20px;
 color: #000;
 position: absolute;
 top: 313px;
 left: 105px;
}
 #globalFooter {
 clear: both;
 bottom: 0px;
 left: 0px;
 position: fixed;
 top: auto !important;
 width: 100%;
 min-width: 1210px;
 background-color: #fff;
 height: 56px;
 border-color: #dddddd;
 border-style: solid;
 border-top-width: 1px;
 border-left-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
}
#globalFooterSub {
 clear: both;
 display: block;
 float: left;
 width: 100%;
 min-width: 1210px;
 background-color: #fff;
 height: 56px;
 border-color: #dddddd;
 border-style: solid;
 border-top-width: 1px;
 border-left-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
}
 #homeFooterFeatures {
 position: relative;
 background-color: #fff;
 height: 55px;
 width: 639px;
 z-index: 10;
	/*-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;*/
	border-top-right-radius: 10px;
}
#homeFooterArrow {
 float: left;
 background-color: #e6e7ed;
 width: 119px;
 height: 55px;
}
#homeFooterFeature1 {
 display: inline-block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 position: absolute;
 top: 18px;
 left: 142px;
 white-space: nowrap;
}
#homeFooterFeature2 {
 display: inline-block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 position: absolute;
 top: 18px;
 left: 304px;
 white-space: nowrap
}
#homeFooterFeature3 {
 display: inline-block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 position: absolute;
 top: 18px;
 left: 466px;
 white-space: nowrap;
}
#homeFooterFeature1Expanded {
 display: none;
 background-color: #fff;
 height: 155px;
 width: 615px;
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 24px;
 padding-bottom: 12px;
 background-image:url("../../images/bgFeature1.jpg")/*tpa=http://www.jacobs.com/images/bgFeature1.jpg*/;
 background-position:center;
 background-repeat: no-repeat;
 border-color: #dddddd;
 border-right-width: 1px;
 border-right-style: solid;
 position: absolute;
 top: 55px;
 left: 0px;
}
#homeFooterFeature2Expanded {
 display: none;
 background-color: #fff;
 height: 155px;
 width: 615px;
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 24px;
 padding-bottom: 12px;
 background-image:url("../../images/bgFeatureSafety.jpg")/*tpa=http://www.jacobs.com/images/bgFeatureSafety.jpg*/;
 background-position:center;
 background-repeat: no-repeat;
 border-color: #dddddd;
 border-right-width: 1px;
 border-right-style: solid;
 position: absolute;
 top: 55px;
 left: 0px;
}
#homeFooterFeature3Expanded {
 display: none;
 background-color: #fff;
 height: 155px;
 width: 615px;
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 24px;
 padding-bottom: 12px;
 background-image:url("../../images/bgFeature3.jpg")/*tpa=http://www.jacobs.com/images/bgFeature3.jpg*/;
 background-position:center;
 background-repeat: no-repeat;
 border-color: #dddddd;
 border-right-width: 1px;
 border-right-style: solid;
 position: absolute;
 top: 55px;
 left: 0px;
}
#homeFooterFeature1Content {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 20px;
 width: 206px;
 position:absolute;
 top: 43px;
 left: 56px;
}
#homeFooterFeature2Content {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 20px;
 width: 320px;
 position:absolute;
 left: 25px;
}
#homeFooterFeature3Content {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 20px;
 width: 465px;
 position:absolute;
 left: 152px;
}
 #globalFooterNav {
 display: inline-block;
 float: right;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 12px;
 line-height: 1.0;
 color: #898989;
 background-color: #fff;
 height: 55px;
 z-index: 15;
 padding-left: 100px;
 position: absolute;
		/*left: 735px;*/
		left: 635px;
 top: 0px;
/*left: 635px;  future - for iPad landscape*/		
}



/* mst - global subsection styles */
.anchor {
 display: block;
 position: relative;
 padding-top: 84px; /* anchor offset */
 visibility:hidden;
}
 .anchortop {
 display: block;
 position: absolute;
 top: -84px;
}
 .leftNav {
 position: fixed;
 left: 0;
 top: 354px;
 border-width: 4px 4px 4px 0;
 border-style: solid;
 border-color: #ebebeb;
 box-shadow: 0 0 5px #000000;
 background-color: #ffffff;
 overflow: hidden;
 z-index: 60;
 max-width:230px;

}
 .subSection {
 background-color: #f2f2f2;
 width: 100%;
 min-width: 1210px;
 height: 100%;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 clear: both;
 float: left;
}
 .subBanner {
 width: 100%;
 min-width: 1210px;
 height: 200px;
 background-size:cover;
}
 .subClosingBanner {
 width: 100%;
 min-width: 1210px;
 height: 4px;
 background-size:cover;
}
 .subBreadCrumbTrail {
 height: 30px;
 width: 100%;
 background-color: #fff;
 display: inline-block;
}
 .subSectionTitle {
	 display:none;
 }
 .subBreadCrumbTrailBlue {
 float: left;
 height: 30px;
 width: 239px;
 background-color: #00338d;
}
.subBreadCrumbTrailText {
 display: inline-block;
 font-family: "HelveticaNeueW01-77BdCn 692722", Helvetica, Verdana, sans-serif;
 font-size: 17px;
 padding-left: 25px;
 margin-top: 6px;
 background-color: #fff;
 max-width: 100%;
 line-height: 18px;
 word-spacing: 0.1em;
 letter-spacing: 0.00em;
}
 .subAllCol {
 display: inline-block;
 float: left;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 width: 800px;
 margin-left: 265px;
 background-color:#f2f2f2;
}

.globalTabJobs {
 display: inline-block;
 float: left;
 width: 740px;
 margin-left: 265px;
background-color:#fff;
padding:15px;
top:-30px;
top:35px\9;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 color: #00338d;
 line-height: 30px;
 word-spacing: 0em;
 letter-spacing: 0.015em;

}
/*.globalTabContracts {
	display: block;
	font-size: 21px;
	line-height: 26px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	margin-left:10px;
	margin-right:10px;
	min-width:740px;
	max-width:740px;
	background-color:#fff;
	padding:15px;
	top:-30px;
	top:35px\9;
}
*/ .subLeftCol {
 display: inline-block;
 float: left;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 width: 360px;
 margin-left: 265px;
}
 .subRightCol {
 display: inline-block;
 float:right;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 width: 360px;
 vertical-align: top;
 overflow: visible;
}
.subQuote {
 font-family:'HelveticaNeueW01-67MdCn 692710', 'HelveticaNeueW01-67MdCn', Helvetica, Verdana, sans-serif;
 font-size:24px;
 line-height:28px;
 letter-spacing:0.02em;
 margin-left:-12px;
 overflow:visible;
}
 .subQuoteAttribution {
 font-size:21px;
 line-height:28px;
 word-spacing:0.01em;
 letter-spacing:0.015em;
}
 .subSeeAlsoBox {
 width:300px;
 background-color:white;
 padding:10px;
}
 .subSeeAlsoBoxHoriz {
 width:400px;
 background-color:white;
 padding:10px;
}
 .subSeeAlsoBoxVert {
 width:320px;
 background-color:white;
 padding:10px;
}
 .subSeeAlsoContracts {
 list-style-type: none;
 font-size: 16px;
 position: relative;
 }
 .subCarouselHoriz {
 display: block;
 clear: both;
 background-color: #f2f2f2;
 max-width: 840px;
 height: 100%;
 margin-left:265px;
}
 
 .subCarouselHorizFeatures {
 display: block;
 clear: both;
 max-width: 840px;
 height: 100%;
 background-color:transparent;
 padding-left:15px;
 padding-bottom:15px;
 position:relative;
 top:3px;
 top:10px\9;
 left:5px\9;
 margin-left: 0px;
}
#FeatureProjectTabs_styleover {
 background-color:transparent;
padding-bottom:20px;
position:relative;
top:3px;
top:10px\9;
left:5px\9;
 margin-left:0px;
}
 #FeatureProjectTabs_styleover .bx-wrapper .bx-viewport {
 -moz-box-shadow:none;
 -webkit-box-shadow:none;
 box-shadow:none;
 border: none;
 left: -5px;
 background:none;
}
 .subCarouselPrev {
 clear:both;
 float: left;
 display: inline-block;
}
.subCarouselNext {
 display: inline-block;
}
 .subCarouselPrev2 {
 clear:both;
 float: left;
 display: inline-block;
}
.subCarouselNext2 {
 display: inline-block;
}

/* end global subsection styles */



h1 {
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 48px;
 background-color: #f2f2f2;
 line-height: 54px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 margin-left: 265px;
 margin-top: 30px;
}
 h2 {
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 40px;
 font-weight: normal;
 line-height: 58px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 margin-left: 265px;
 margin-top: 24px;
}
 h3 {
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 30px;
 font-weight: normal;
 line-height: 58px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 margin-left: 265px;
 margin-top: 24px;
}
 h6 {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 16px;
 font-weight: normal;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 .jobsWhyJacobsTab1 {
 max-width:119px;
 display:inline-block;
 line-height: 1.1em;
 line-height:1.35em\9;
}
 .jobsWhyJacobsTab2 {
 max-width:173px;
 display:inline-block;
 line-height:.75em;
}
 .jobsWhyJacobsTab3 {
 max-width:145px;
 display:inline-block;
 line-height:.75em;
}
 .jobsWhyJacobsTab4 {
 max-width:182px;
 display:inline-block;
 line-height:.75em;
}
 .jobsWhyJacobsTab5 {
 max-width:150px;
 display:inline-block;
 line-height:.75em;
}
 .jobsWhyJacobsTab6 {
 max-width:150px;
 display:inline-block;
 line-height:.75em;
}
 #subSectionTitle {
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 50px;
 line-height: 58px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 margin-left: 265px;
 margin-top: 24px;
}
#subSectionTitleB {
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 30px;
 max-width: 760px;
 line-height: 30px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #subSectionContent {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 margin-left: 265px;
 margin-top: 0px;
 width: 800px;
 color: #363636;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #subLeftCol {
 display: inline-block;
 float: left;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 width: 360px;
}
 #subMidCol {
 display: inline-block;
 float:none;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 24px;
 width: 270px;
 line-height: 30px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #subRightCol {
 display: inline-block;
 float:right;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 width: 360px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 vertical-align: top;
 overflow: visible;
}
 #subQuote {
 font-family:'HelveticaNeueW01-67MdCn 692710', 'HelveticaNeueW01-67MdCn', Helvetica, Verdana, sans-serif;
 font-size:24px;
 line-height:28px;
 letter-spacing:0.02em;
 margin-left:-12px;
 overflow:visible;
}
 #subQuoteAttribution {
 font-family:'HelveticaNeueW01-57Cn', Helvetica, Verdana, sans-serif;
 font-size:21px;
 line-height:28px;
 word-spacing:0.01em;
 letter-spacing:0.015em;
}
 #subCarousel {
 clear: both;
 background-color: #f2f2f2;
 width: 100%;
 height: 100%;
}
#subCarouselPrev {
 clear:both;
 float: left;
 display: inline-block;
}
#subCarouselNext {
 display: inline-block;
}
 #subCarouselPrev2 {
 clear:both;
 float: left;
 display: inline-block;
}
#subCarouselNext2 {
 display: inline-block;
}
 .disabled {
 display: none;
}
 #subFooter {
 display: inline-block;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 12px;
 color: #898989;
 min-height: 30px;
 width: 100%;
 line-height: 15px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 .selectBoxBlue {
 width: 212px;
 height: 43px;
 overflow: hidden;
 background: url("../../images/selectBoxArrow.png")/*tpa=http://www.jacobs.com/images/selectBoxArrow.png*/ no-repeat right transparent;
 background: transparent\9; /* for IE7 & IE8 */
 position: relative;
 left: -4px;
}
 .selectBoxBlue select {
 background: transparent;
 background-image: url("../../images/selectBoxBlue.png")/*tpa=http://www.jacobs.com/images/selectBoxBlue.png*/;
 width: 225px;
 width: 200px; /* for IE7 & IE8 */
 height: 43px;
 padding: 5px;
 padding-left: 15px;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-weight: normal;
 font-size: 18px;
 color: #ffffff;
 color: #000\9;  /* for IE7 & IE8 */
 line-height: 25px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 border: 0;
 border-radius: 0;
 -webkit-appearance: none;
}
 .selectBoxBlue option {
 background-color: #f2f2f2;
 color: #000;
}
 .leftNav > .showNav {
 padding:10px 15px 35px 15px;
 display:inline-block;
 z-index:999;
 background:transparent url(../../images/navBars.png)/*tpa=http://www.jacobs.com/images/navBars.png*/ scroll center 40px no-repeat;
}
 .leftNav > .showNav.open {
 background:transparent none;
 display:block;
 text-align:right;
 padding-right:5px;
 padding-top:10px;
}
 .leftNav .arrow {
 background:transparent url(../../images/leftNav.jpg)/*tpa=http://www.jacobs.com/images/leftNav.jpg*/ scroll center -20px no-repeat;
 display:inline-block;
 width:20px;
 height:20px;
}
 .leftNav .open .arrow {
 background:transparent url(../../images/leftNav.jpg)/*tpa=http://www.jacobs.com/images/leftNav.jpg*/ scroll center 0px no-repeat;
}
 .leftNav > div.showNav:hover {
 cursor:pointer;
}
 .leftNav .more {
 position:relative;
  display:block;
 top:0px;
 white-space:normal;
 margin-top:-30px!important;
 background-color:#ffffff;
}
 .leftNav ul {
 display:inline-block;
 vertical-align:top;
 margin:0px;
 padding:0px 0 10px 0;
 width:160px;
}
 .leftNav ul li {
 list-style:none;
 line-height:16px;
 margin-top: 3px;
 padding:2px 0px 2px 0px;
}
 .leftNav ul li a {
 color:#898989;
 font-family:"HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 text-decoration:none;
 font-size:14px;
 display:block;
 letter-spacing:0.065em;
 width:150px;
 padding-right:5px;
 padding-left:5px;
}
 .leftNav ul li a.active, .leftNav ul li a:hover {
 color:#ffffff;
 background-color:#00338d;
}
 .leftNavTitle {
 color: rgb(137, 137, 137);
 font-family:"HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size:14px;
 display:block;
 letter-spacing:0.065em;
 width:145px;
 padding-right:10px;
 padding-left:5px;
}
 .leftNavTitle a {
 color: rgb(137, 137, 137);
 text-decoration:none;
}
 .NParrows {
 display:inline-block;
 vertical-align:top;
 padding-left:10px;
 padding-right:10px;
 float:left;
}
 .NParrows a {
 display:block;
 width:37px;
 height:37px;
 background:transparent url(../../images/leftNavNewArrows.png)/*tpa=http://www.jacobs.com/images/leftNavNewArrows.png*/ scroll 0 0 no-repeat;
 margin-bottom:0px;
}
 .NParrows a.down {
 background:transparent url(../../images/leftNavNewArrows.png)/*tpa=http://www.jacobs.com/images/leftNavNewArrows.png*/ scroll 0 bottom no-repeat;
}
 .subSectionMain {
 background-color: #f2f2f2;
 width: 100%;
 min-width: 1210px;
 min-height: 100%;
}
 .headerImage {
 width: 100%;
 height: 320px;
 overflow: hidden;
}
 #jobsWorkingHereBanner {
 background-image:url("../../images/WorkForUs/Jobs/jobsWorkingHereBanner.jpg")/*tpa=http://www.jacobs.com/images/WorkForUs/Jobs/jobsWorkingHereBanner.jpg*/;
 background-repeat:no-repeat;
 background-size:cover;
 width: 100%;
 height: 320px;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/WorkForUs/Jobs/jobsBanner.jpg', sizingMethod='scale');
 -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/WorkForUs/Jobs/jobsBanner.jpg', sizingMethod='scale')";
}
 #subMain {
 background-color: #f2f2f2;
 width: 100%;
 max-width: 1210px;
 min-height: 100%;
}
 #subContentGray {
 background-color: #f2f2f2;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 24px;
 width: 100%;
 margin-left: 265px;
 width: 855px;
 line-height: 30px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}


/*  subsection - careers on the move */
#jobsCareersOnTheMoveMainMobile.mobile {
  display: none;
}
#jobsCareersOnTheMoveContentBox {
 background-color: rgba(0, 0, 0, 0.8);
 background-color: #000\9;  /* for IE7 & IE8 */
 width: 922px;
 height: 550px;
 margin-left: 225px;
 position: relative;
 top: 36px;
}
 #jobsCareersOnTheMoveContentBoxLeft {
 font-size: 21px;
 color: #fffefe;
 padding-left: 37px;
 padding-top: 31px;
 width: 415px;
 float: left;
}
 #jobsCareersOnTheMoveApplyNowBox {
 background-color: rgba(0, 0, 0, 0.8);
 background-color: #000\9;  /* for IE7 & IE8 */
 max-width: 886px;
 height: 60px;
 margin-left: 225px;
 padding-left: 36px;
 padding-right: 36px;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 24px;
 color: #fffefe;
 position: relative;
 top: 36px;
 line-height: 27px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #jobsCareersOnTheMoveContentBoxRight {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 24px;
 color: #fffefe;
 padding-left: 37px;
 padding-top: 31px;
 width: 430px;
 float: right;
 line-height: 30px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #jobsCareersOnTheMove_Employee2 {
 display: none;
}
 #jobsCareersOnTheMove_Employee3 {
 display: none;
}
 #jobsCareersOnTheMove_Employee4 {
 display: none;
}
 #jobsCareersOnTheMove_Employee5 {
 display: none;
}
 #jacobsCareersOnTheMoveImage_Flo {
 opacity:1.0;
}
 #jobsCareersOnTheMoveContentTabs {
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 31px;
 color: #fff;
 line-height: 30px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 margin-top: -10px;
}
 #jobsCareersOnTheMoveTabSelected {
 position:relative;
 top:0px;
 width: 35px;
 left:0px;
 height:6px;
 top:-47px\9; /* for IE7 & IE8 */
}

/* end careers on the move*/


#subSmallText {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 16px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 .subFinePrint {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 14px;
 line-height: 18px;
 word-spacing: 0em;
 letter-spacing: 0em;
 color:#898989;
}
 #globalTab {
 background-color: #ffffff;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 color: #00338d;
 width: 230px;
 display: inline-block;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 position:relative;
 top:15px\9; /* for IE7 & IE8 */
}
 #globalTab1 {
 background-color: #ffffff;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 color: #00338d;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 position:relative;
 width:125px;
display:inline-block;
line-height:1.1em;
top:-3px\9;
}
 #globalTab2 {
 background-color: #ffffff;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 color: #00338d;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 position:relative;
 width:160px;
display:inline-block;
line-height:1.1em;
top:-3px\9;
}
 #globalTab3 {
 background-color: #ffffff;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 color: #00338d;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 position:relative;
 width:80px;
display:inline-block;
line-height:1.1em;
top:-3px\9;
}
 #globalTab4 {
 background-color: #ffffff;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 color: #00338d;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 position:relative;
 width:80px;
display:inline-block;
line-height:1.1em;
top:-3px\9;
}
 #globalTab5 {
 background-color: #ffffff;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 color: #00338d;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 position:relative;
 width:150px;
display:inline-block;
line-height:1.1em;
top:-3px\9;
}
 #globalTabSlash {
 position:relative;
 top:-15px;
 top:-5px\9; /* for IE7 & IE8 */
 margin:1px;
}
 #tabcontentCoreValues1 {
 display: block;
}
 #tabcontentCoreValues2 {
 display: block;
}
 #tabcontentCoreValues3 {
 display: block;
}
 #tabcontentTechnologies1 {
 display: none;
}
 #tabcontentTechnologies2 {
 display: none;
}
 #tabcontentTechnologies3 {
 display: none;
}
 #tabcontentTechnologies4 {
 display: none;
}
 #tabcontentTechnologies5 {
 display: none;
}
 #tabcontentTechnologies6 {
 display: none;
}
 #tabcontentTechnologies7 {
 display: none;
}
 #tabcontentTechnologies8 {
 display: none;
}
 #tabcontentTechnologies9 {
 display: none;
}
 #tabcontentTechnologies10 {
 display: none;
}
 #tabcontentTechnologies11 {
 display: none;
}
 #tabcontentTechnologies12 {
 display: none;
}
 #tabcontentTechnologies13 {
 display: none;
}
 #tabcontentSpentAcid1 {
 display: none;
}
 #tabcontentSpentAcid2 {
 display: none;
}
 #tabcontentSpentAcid3 {
 display: none;
}
 #tabcontentSpentAcid4 {
 display: none;
}
 #tabcontentSpentAcid5 {
 display: none;
}
 #tabcontentSpentAcid6 {
 display: none;
}
 #tabcontentSpentAcid7 {
 display: none;
}
 #tabcontentSpentAcid8 {
 display: none;
}
 #tabcontentEquipment1 {
 display: none;
}
 #tabcontentEquipment2 {
 display: none;
}
 #tabcontentEquipment3 {
 display: none;
}
 #tabcontentEquipment4 {
 display: none;
}
 #tabcontentEquipment5 {
 display: none;
}
 #tabcontentEquipment6 {
 display: none;
}
 #tabcontentEquipment7 {
 display: none;
}

 #tabcontentOtherMinerals1 {
 display: inline-block;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentOtherMinerals2 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentOtherMinerals3 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentOtherMinerals4 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentOtherMinerals5 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentBridgesTunnels1 {
 display: inline-block;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentBridgesTunnels2 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentSpaceSystems1 {
 display: inline-block;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentSpaceSystems2 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentGeneration1 {
 display: inline-block;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentGeneration2 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentGeneration3 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentGeneration4 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentGeneration5 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentPulpPaper1 {
 display: inline-block;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentPulpPaper2 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentContracts1 {
 display: inline-block;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentContracts2 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentContracts3 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentContracts4 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentContracts5 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}

 #tabcontentSulfuricAcidTech1 {
 display: inline-block;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentSulfuricAcidTech2 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentSulfuricAcidTech3 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentSulfuricAcidTech4 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentOnshore1 {
 display: inline-block;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentOnshore2 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentOnshore3 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentBenefits1 {
 display: inline-block;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentBenefits2 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentBenefits3 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #tabcontentBenefits4 {
 display: none;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #jobsCareersOnTheMoveContentQuoteText {
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 30px;
 color: #fff;
 line-height: 33px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 margin-left: -14px;
}
 #jobsWhyJacobsBanner {
 background-image:url("../../images/WorkForUs/Jobs/jobsWhyJacobsBanner.jpg")/*tpa=http://www.jacobs.com/images/WorkForUs/Jobs/jobsWhyJacobsBanner.jpg*/;
 background-repeat:no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size:cover;
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/WorkForUs/Jobs/jobsWhyJacobsBanner.jpg', sizingMethod='scale');
 -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/WorkForUs/Jobs/jobsWhyJacobsBanner.jpg', sizingMethod='scale')";
 width: 100%;
 height: 320px;
}
#jobsWhyJacobsMain {
 background-color: #f2f2f2;
 width: 100%;
 min-width: 1210px;
 min-height: 100%;
}
#jobsWhyJacobsContent {
 background-color: #f2f2f2;
}
 #jobsWhyJacobsTabs {
 background-color: #ffffff;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 color: #00338d;
 line-height: 30px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 padding: 15px;
 padding-left: 30px;
 padding-right: 5px; 
 margin-left: 265px;
 width: 845px;

}
 #jobsWhyJacobsTabsContent_1 {
 display: none;
 width: 100%;
}
 #jobsWhyJacobsTabsContent_2 {
 display: none;
 width: 100%;
}
#jobsWhyJacobsTabsContent_3 {
 display: none;
 width: 100%;
}
#jobsWhyJacobsTabsContent_4 {
 display: none;
 width: 100%;
}
#jobsWhyJacobsTabsContent_5 {
 display: inline-block;
 width: 100%;
}
#jobsWhyJacobsTabsContent_5_mobile {
 display: block;
}
#jobsWhyJacobsTabsContent_6 {
 display: none;
 width: 100%;
}
 #jobsApplyForAJobBanner {
 background-image:url("../../images/WorkForUs/Jobs/jobsApplyForAJobBanner.jpg")/*tpa=http://www.jacobs.com/images/WorkForUs/Jobs/jobsApplyForAJobBanner.jpg*/;
 background-repeat:no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size:cover;
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/WorkForUs/Jobs/jobsApplyForAJobBanner.jpg', sizingMethod='scale');
 -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/WorkForUs/Jobs/jobsApplyForAJobBanner.jpg', sizingMethod='scale')";
 width: 100%;
 height: 320px;
}
 #jobsApplyForAJobTabs {
 display: block;
 float: left;
 background-color: #f2f2f2;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 22px;
 color: #00338d;
 line-height: 30px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
#jobsApplyForAJobTabsContent_1 {
 display: none;
 float: left;
 
}
#jobsApplyForAJobTabsContent_2 {
 display: none;
 float: left;
 
}
#jobsApplyForAJobTabsContent_3 {
 display: none;
 float: left;
 
}
#jobsApplyForAJobTabsContent_4 {
 display: none;
 float: left;
 
}
#jobsApplyForAJobTabsContent {

  padding: 15px;
  margin: 15px 0;
}

 #jobsEventsBanner {
 background-image:url("../../images/WorkForUs/Jobs/jobsEventsBanner.jpg")/*tpa=http://www.jacobs.com/images/WorkForUs/Jobs/jobsEventsBanner.jpg*/;
 background-repeat:no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size:cover;
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/WorkForUs/Jobs/jobsEventsBanner.jpg', sizingMethod='scale');
 -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/WorkForUs/Jobs/jobsEventsBanner.jpg', sizingMethod='scale')";
 width: 100%;
 height: 320px;
}
#jobsEventsCalendar {
 background-color: #f2f2f2;
}
 #jobsHotJobs {
 background-color: #f2f2f2;
}
#jobsHotJobsBanner {
 background-image:url("../../images/WorkForUs/Jobs/jobsHotJobsBanner.jpg")/*tpa=http://www.jacobs.com/images/WorkForUs/Jobs/jobsHotJobsBanner.jpg*/;
 background-repeat:no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size:cover;
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/WorkForUs/Jobs/jobsHotJobsBanner.jpg', sizingMethod='scale');
 -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/WorkForUs/Jobs/jobsHotJobsBanner.jpg', sizingMethod='scale')";
 width: 100%;
 height: 320px;
}
 #jobsHotJobsContent {
 margin-left: 265px;
 width: 700px;
 padding: 15px;
 background-color: #ffffff;
}
 #jobsHotJobsTab {
 background-color: #ffffff;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 color: #00338d;
 width: 230px;
 display: inline-block;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 position:relative;
 top:15px\9; /* for IE7 & IE8 */
}
 #jobsHotJobsTabSlash {
 position:relative;
 top:-15px;
 top:-5px\9; /* for IE7 & IE8 */
 margin:1px;
}
 #jobsHotJobsLocation {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 16px;
 color: #000000;
 line-height: 30px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #jobsHotJobsTabsContent_1 {
 display: inline-block;
 background-color: #fff;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #jobsHotJobsTabsContent_2 {
 display: none;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #jobsHotJobsTabsContent_3 {
 display: none;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 #jobsHotJobsTabsContent_4 {
 display: none;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
}
 span.DatePicker, span.ddlCraft, span.ddlCraftLocations {
 position: relative;
 display: inline-block;
 border-radius:5px;
 clear:both;
}
.DatePicker, .ddlCraft, .ddlCraftLocations {
-moz-font-feature-settings: inherit;
-moz-font-language-override: inherit;
/*background-image: url("../../images/selectListDrop_Blue.png"); */
border: 0 none;
color: #000000;
cursor: pointer;
display: inline-block;
font-family: inherit;
font-size: inherit;
font-size-adjust: inherit;
font-stretch: inherit;
font-style: inherit;
font-variant: inherit;
font-weight: inherit;
line-height: 1.3;
margin: 5px 0 0;
outline: medium none;
padding: 10px;
width: 110px;
/*background-position:  -370px 0;*/
/*background-repeat: no-repeat;*/
clear:both;
}
 .ddlCraftLocations {
width: 330px;
background-position:  -150px 0;
}
 ul.ddlCraftList, ul.ddlCraftLocationsList {
background-color: #FFFFFF;
border: 1px solid #CCCCCC;
display: block;
list-style: none outside none;
margin-top: -1px;
/*position: absolute;*/
/*width: 85px;*/
z-index: 2;
clear:left;
}
ul.ddlCraftLocationsList {
width:270px;
}
 .ddlCraftList > li, .ddlCraftLocationsList > li {
margin-left:-40px;
text-indent: 5px;
}
 .ddlCraftList > li:hover, .ddlCraftLocationsList > li:hover {
background-color: #F2F2F2;
}
 .ddlCraftLocationsList a, .ddlCraftList a {
display:block;
}
.ddlCraftLocationsList a:hover, .ddlCraftList a:hover {
text-decoration: none;
}
	/* FEATURES SECTION */
	
	.subLeftColFeatures {
 display: inline-block;
 float: left;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 width: 360px;
 margin-left: 265px;
 position:relative;
 top:-25px;
 margin-top:0px\9;
}
 .subRightColFeatures {
 display: inline-block;
 float:left;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 vertical-align: top;
 overflow: visible;
 position:relative;
 padding-left:42px;
 width:420px;
 z-index:1
}
 .subRightColFeaturesRotator {
 width:420px;
 height:375px;
}
 #clientstories_rotator_title {
 display: block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 18px;
 padding-top:5px;
}
	/*#ResultsClientstoriesFeaturesContent_1 { 
		display: inline-block;
	}
	*/
	#ResultsClientstoriesFeaturesContent_2 {
 display: inline-block;
}
 #ResultsClientstoriesFeaturesContent_3 {
 display: none;
}
 #ResultsClientstoriesFeaturesContent_4 {
 display: none;
}
 #ResultsClientstoriesFeaturesContent_5 {
 display: none;
}
 #ResultsClientstoriesFeaturesContent_6 {
 display: none;
}
 #ResultsClientstoriesFeaturesContent_7 {
 display: none;
}
 .seeourresults_clientrotators_internal_next {
 position:absolute;
top:160px;
left:447px;
z-index:3;
}
 .seeourresults_clientrotators_internal_previous {
 position:absolute;
top:160px;
left:25px;
z-index:3;
}
 .seeourresults_clientrotators_master_next {
 position:absolute;
top:50px;
left:98%;
z-index:3;
}
 .seeourresults_clientrotators_master_previous {
 position:absolute;
top:50px;
left:-40px;
z-index:3;
}
#FeatureProjectTabs {
max-width:100%;
height:170px;
margin-top:30px;
display:block;
margin-left:260px;
}
 #FeatureProjectTabsMobile {
display:none;
}

/* End Client Features */

/* Testimonials */

#seeourresults_testimonials_leftcolumn {
 width:350px;
 float:left;
 display:inline-block;
}
 #seeourresults_testimonials_rightcolumn {
 width:350px;
 float:right;
 display:inline-block;
}
 .seeourresults_testimonials_titleblock {
display: inline-block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 15px;
 line-height: 18px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 padding-top:15px;
width:95%;
}
.seeourresults_testimonials_companyblock {
display: inline-block;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 font-size: 15px;
 line-height: 19px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 padding-bottom:30px;
width:95%;
}
 .subCol_Testimonials {
 display:block;
 width:100%;
 margin-bottom:50px;
}
.seeourresults_testimonials_image_horizontal {
 width: 100%;
 display: inline-block;
 margin-bottom:20px;
}
.seeourresults_testimonials_image_vertical_left {
 width: 160px;
 float:left;
 margin-right:30px;
 margin-bottom:20px;
}
.seeourresults_testimonials_image_vertical_right {
 width: 160px;
 float:right;
 margin-left:30px;
 margin-bottom:20px;
}
.seeourresults_testimonials_text {
margin-left:7px;
}
.seeourresults_testimonials_text_quote {
 margin-left:-7px;
 float:left;
}
/* End Testimonials */


#homeMobileFooter {
 display:none;
}
#homeFooterFeatures {
 display:block;
}

/* START AB OUR APPROACH */
					 .subLeftCol_globalnet {
 display: inline-block;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 width: 360px;
 margin-top:-27px;
margin-top:0px\9;
 float:left;
 margin-left:265px;
 margin-right:0px;
}
 .subLeftCol_globalnet ul {
/* list-style:circle;
*/}
 .subRightCol_globalnet {
 display: inline-block;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 vertical-align: top;
 overflow: visible;
 width:360px;
 position:relative;
float:left;
padding-left:144px;
width:420px;
z-index:1;
}
 .subRightCol_globalnet .registertoday {
 width:148px;
}
 #mobilealert {
 display:none;
}
/* END AB OUR APPROACH */

}



/***** MOBILE *****/
@media screen and (min-width: 1px) and (max-width: 567px) {
 body {
 background-color: #C7D8EA;
}
a {
 cursor:pointer;
 color:#00338D;
}
a:hover {
text-decoration: underline;
}
#homeFooterFeatures {
 display:none;
}
#homeMobileFooter {
 display:block;
}
.gridContainer {
 margin: 0;
 padding: 0;
 width:100%;
 min-width:100%;
}
 .gridContainer.mobile {
 min-width: 100%;
 width:100% !important;
}
.mobileNav #logo {
 padding: 20px 10px;
}
.mobileNav #logo {
 padding: 20px 10px;
 background-color:#fff;
}
.mobileNav #logo img {
 height: 20px;
}
 #globalNav {
 display:none;
}
.mobile div.leftNav div.more ul {
 padding-left:0px;
}
.mobile.interior .leftNav {
 margin-top: -60px;
}
 .mobileNav #navHead1, .mobileNav #navHead2, .mobileNav #navHead3, .mobileNav #navHead4, .mobile div.leftNav div.more ul li {
 display:none;
 padding:10px;
 background-image: url("../../images/mobile-menubg.png")/*tpa=http://www.jacobs.com/images/mobile-menubg.png*/;
 border-top: 1px solid #ccc;
}
.interior #navHead1, .interior #navHead2, .interior #navHead3, .interior #navHead4 {
 display:none;
}
 .mobile div.leftNav div.more ul li a, .mobile div.leftNav div.more ul span.leftNavTitle a {
color: #606060 !important;
display: block;
font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
font-size: 16px;
position: relative;
text-decoration: none;
}
.mobileNav #navHead1 ul, .mobileNav #navHead2 ul, .mobileNav #navHead3 ul, .mobileNav #navHead4 ul {
 list-style:none;
 margin-left:-40px;
 display:none;
}
 .mobileNav #navHead1 ul li ul li:before, .mobileNav #navHead2 ul li ul li:before, .mobileNav #navHead3 ul li ul li:before, .mobileNav #navHead4 ul li ul li:before {
 content:"";
}
 .linksFooterFeatures {
 position: relative;
 text-decoration: none;
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 color:#606060 !important;
 font-size: 16px;
 display:block;
}
 .linksFooterFeatures.active, .navLinks.active {
 color: #00338D!important;
}
 .mobileNav {
/*margin-left: -6px;*/
z-index: 1;
position: relative;
}
 .mobileNavUL, .mobileNavUL ul {
 list-style: none;
 display: block;
 margin: 0 0 0 -40px;
}
.mobileNavUL a {
 text-decoration: none;
 color: #606060 !important;
display: block;
font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
font-size: 16px;
position: relative;
text-decoration: none;
text-indent:10px;
}
a.active {
 color: #00338D !important;
}
.mobileNavUL ul li a {
 padding:10px 0;
}
.mobileNavUL ul li a:before {
 content: "/ ";
}
.mobileNavUL li ul li ul li a:before {
 content: "";
}
 .mobileNavUL > li {
 background-image: url("../../images/mobile-menubg.png")/*tpa=http://www.jacobs.com/images/mobile-menubg.png*/;
 border-top: 1px solid #CCCCCC;
 padding:10px;
}
.mobileNavUL li ul {
 margin-top:20px;
}
.mobileNavUL ul {
 display: none;
}
 .mobileNav #globalNavExpanded {
 display:none;
}
.mobileNav #navDiag {
 right: 130px;
 position: absolute;
 top: 0;
 background-color:#efefef;
}
.mobileNav #navDiag > img {
 height: 60px;
}
.mobileNav #navUtil {
background-color: #efefef;
/*left: 179px;*/
right:0px;
position: absolute;
top: 0;
padding-right:10px;
}
 .mobileNav #navUtilHead0 {
 cursor: pointer;
 background-image: url("../../images/mobile-menu.png")/*tpa=http://www.jacobs.com/images/mobile-menu.png*/;
}
 .mobileNav #navUtilHead3 {
 cursor: pointer;
 background-image: url("../../images/mobile-search.png")/*tpa=http://www.jacobs.com/images/mobile-search.png*/;
}
 .mobileNav #navUtilHead1 {
 cursor: pointer;
 background-image: url("../../images/mobile-locations.png")/*tpa=http://www.jacobs.com/images/mobile-locations.png*/;/*old image*/
 
background: url("../../images/newPin.png")/*tpa=http://www.jacobs.com/images/newPin.png*/ no-repeat 18px 20px;/*new image - blue version*/
background: url("../../images/newPin.png")/*tpa=http://www.jacobs.com/images/newPin.png*/ no-repeat 18px -70px;/*new image - gray version*/
background-size: 50%;
}
.mobileNav #navUtilHead0, .mobileNav #navUtilHead1, .mobileNav #navUtilHead2, .mobileNav #navUtilHead3 {
 float: left;
 width: 40px;
 height:60px;
 display:block;
 cursor:pointer;
}
 .mobileNav #navUtilHead1 > a, .mobileNav #navUtilHead2 > a, .mobileNav #navUtilHead3 > a {
display: block;
float: left;
font-size: 0;
height: 100%;
width: 100%;
left: 0;
top: 0;
}
 .mobileNav #navHead1.show, .mobileNav #navHead2.show, .mobileNav #navHead3.show {
 height:200px;
}
 .mobileNav #navUtilSearch {
display: none;
float: left;
position:relative;
background-color: #fff;
border: 10px solid #fff;
opacity:.8;
position:relative;
}
.mobileNav #searchBox {
 background-color:#E6E6E6;
border: 1px solid #AAAAAA;
box-shadow: 2px 2px 2px 0 #DDDDDD inset;
font-size: 20px;
height: 40px;
overflow: auto;
padding: 7px 10px;
width: 93%;
box-sizing: border-box;
}
 .mobileNav #searchSubmit {
height: 24px;
position: absolute;
right: 20px;
width: 24px;
top: 50%;
margin-top: -10px;
}
.mobileNav .NavSearchBox {
 padding: 10px;
}
.mobileNav .NavSearchSubmit {
 position: relative;
 left: -30px;
 top: 3px;
}
#homeStory1, #homeStory2, #homeStory3 {
 display: none;
}
 .navWorkWithUsList, .navWorkForUsList, .navSeeOurResultsList {
 list-style: none outside none;
 margin-left: -20px;
 margin-top: 30px;
 display:none;
}
 .navWorkWithUsList li, .navWorkForUsList li, .navSeeOurResultsList li {
 padding: 10px 0;
}
.navWorkWithUsList li a, .navWorkForUsList li a, .navSeeOurResultsList li a {
color: #606060;
font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
font-size: 16px;
position: relative;
text-decoration: none;
display:block;
}
 #globalNav2Expanded ul li {
 line-height: 40px;
}
#globalNav2Expanded ul li a {
 color: #606060 !important;
}
#globalNav2Expanded ul:nth-child(2) {
 margin-top: -14px !important;
}
.navWorkWithUsList li a:before, .navWorkForUsList li a:before, .navSeeOurResultsList li a:before, #globalNav2Expanded ul li a:before {
 content: "/ ";
}
.navWorkWithUsList li ul li a:before, .navWorkForUsList li ul li a:before, .navSeeOurResultsList li ul li a:before {
content:"";
}
.mobileNav div div a.linksFooterFeatures div ul li a.navLinks div {
 display:none;
}
.mobileNav div div a.linksFooterFeatures div#navInvestorsSub ul {
 display:none;
}
#mobileNav div div ul li ul li a {
 margin-left: 10px;
}
 .navSubListCol1 {
 list-style: none outside none;
 margin-left: -60px;
 margin-top:0px;
}
 ul.navWorkWithUsList li a#navOurApproachLink.navLinks div#navOurApproachSub ul.navSubListCol1 li a {
 font-size:11px;
}
 #main {
 font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
 color: #FFFFFF;
 font-size: 42px;
 padding: 10px;
 position: relative;
 top: 100px;
 width:300px;
 color: #FFFFFF;
font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
text-shadow: 2px 2px 2px #000000;
}
#homeWelcomeText, #homeStoryArrow {
 display:none;
}
 #globalFooter {
 top:100px;
 position:relative;
}
#homeFooterFeature1, #homeFooterFeature2, #homeFooterFeature3 {
}
 #homeFooterFeature1Expanded, #homeFooterFeature2Expanded, #homeFooterFeature3Expanded {
 display: none;
}
#homeFooterFeature1Expanded {
background-color: #FFFFFF;
background-image: url("../../images/bgFeature1.jpg")/*tpa=http://www.jacobs.com/images/bgFeature1.jpg*/;
background-position: center center;
height: 100px;
padding: 24px 12px 12px;
width: 115%;
 margin:5px 0 0 -10px;
}
 #homeFooterFeature2Expanded {
background-color: #FFFFFF;
background-image: url("../../images/bgFeature2.jpg")/*tpa=http://www.jacobs.com/images/bgFeature2.jpg*/;
background-position: center center;
background-size: 275% auto;
height: 250px;
margin: 5px 0 0 -10px;
padding: 24px 12px 12px;
width: 115%;
}
 #homeFooterFeature3Expanded {
 background-color: #FFFFFF;
 background-image: url("../../images/bgFeature3.jpg")/*tpa=http://www.jacobs.com/images/bgFeature3.jpg*/;
background-position: left center;
height: 130px;
padding: 24px 12px 12px;
width: 115%;
 margin:5px 0 0 -10px;
}
 #homeFooterFeature3Content > div {
 left: 0 !important;
 margin-top: -16px !important;
 height: 160px;
}
#linkFooterFeature1, #linkFooterFeature2, #linkFooterFeature3 {
background-image: url("../../images/mobile-footerbg.png")/*tpa=http://www.jacobs.com/images/mobile-footerbg.png*/;
border-bottom: 1px solid #000000;
color: #FFFFFF !important;
float: left;
font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
width: 100%;
padding: 10px;
}
 #homeFooterFeature1Expanded > div {
 color: #666;
 width: 44%;
}
#homeFooterFeature2Expanded > div {
 color: #666;
 width: 50%;
}
#linkFooterFeature1 > img, #linkFooterFeature2 > img, #linkFooterFeature3 > img {
 right: 50px;
 position: absolute;
}
#homeFooterArrow img {
 display:none;
}
#globalFooter div#globalFooterNav span {
}
#globalFooterNav {
 background-color: #FFFFFF;
}
 #mobileNav div div ul li ul {
 display: none;
}
 #mHomeFooterFeature1Expanded, #mHomeFooterFeature2Expanded, #mHomeFooterFeature3Expanded {
 background-color: #FFFFFF;
display: none;
height: 150px;
padding: 10px;
position: relative;
}
 #mHomeFooterFeature1Expanded {
 background-image: url("../../images/bgFeature1.jpg")/*tpa=http://www.jacobs.com/images/bgFeature1.jpg*/;
 background-position: right bottom;
 background-repeat: no-repeat;
 margin-bottom: 40px;
 top: 40px;
}
 #mHomeFooterFeature1Expanded > div {
 width:250px;
}
 #mHomeFooterFeature2Expanded {
 background-image: url("../../images/bgFeature2.jpg")/*tpa=http://www.jacobs.com/images/bgFeature2.jpg*/;
 background-position: right bottom;
 background-repeat: no-repeat;
 top: 80px;
 margin-bottom:80px;
}
 #mHomeFooterFeature2Expanded > div {
 position: relative;
 top: -50px;
 width:250px;
}
 #mHomeFooterFeature3Expanded {
 top: 120px;
 margin-bottom:120px;
 background-image: url("../../images/bgFeature3.jpg")/*tpa=http://www.jacobs.com/images/bgFeature3.jpg*/;
 background-position: right bottom;
 background-repeat: no-repeat;
}
 #mHomeFooterFeature3Expanded > div {
 position: relative;
 top: -100px;
 width:250px;
}
 .subBreadCrumbTrail {
	padding-top:8px;
	padding-bottom:8px;
	width: 100%;
	background-color:#606060;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	color: #FFF;	 
/*	 background-image:url(../../images/SelectFilterBG.png);
 background-repeat:repeat-x;*/


}
 .subSectionTitle {
	padding-top:8px;
	padding-bottom:8px;
	width: 100%;
	background-color:#002E8A;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	color: #FFF;	 
/*	 background-image:url(../../images/SelectFilterBG.png);
 background-repeat:repeat-x;*/


}
 .subSectionTitle a {
	 color:#FFFFFF;
	 text-decoration:none;
 }
 .subSectionTitle a:visited {
	 color:#FFFFFF;
	 text-decoration:none;
 }


 .subBreadCrumbTrailBlue {
display:none;
}
.subBreadCrumbTrailText {
 font-family: "HelveticaNeueW01-77BdCn 692722", Helvetica, Verdana, sans-serif;
 font-size: 17px;
 padding-left: 10px;
 max-width: 100%;
 line-height: 18px;
 word-spacing: 0.1em;
 letter-spacing: 0.00em;
}
 #homeMobileFooter {
background-image: url("../../images/mobile-footerbg.png")/*tpa=http://www.jacobs.com/images/mobile-footerbg.png*/;
border-bottom: 1px solid #000000;
color: #FFFFFF !important;
font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-67MdCn", Helvetica, Verdana, sans-serif;
width: 100%;
font-size: 18px;
}
#homeMobileFooter > div {
 color: #FFFFFF;
 /*padding: 10px;*/
 border-bottom: 1px solid #000000;
}
 #homeMobileFooter a {
 color: #fff;
 text-decoration: none;
 font-size: 18px;
}
 #homeMobileFooter td:first-child { line-height:22px; } 
 #homeMobileFooter td { padding-bottom:10px; } 
 #homeMobileFooter td a { 
	font-size: 16px;
}
#homeMobileFooter > div > a { padding:10px; display:block; }
#homeMobileFooter img {
 clear: both;
 float: right;
}
#homeMobileFooter > div > div {
 display:none;
}
#homeMobileFooter .open div {
 color: #666;
 /*margin: 10px -10px*/;
 padding: 10px;
 width:50%
}
#homeMobileFooter .open div a {
 color:#666;
}
 #homeMobileFooter > div > div {
 background-position: 40% center;
 background-size: 235% auto;
 /*margin: 10px -10px;*/
 padding: 10px;
 color:#666;
}
#homeMobileFooter > div + div > div { background: #f0f0f0 !important; }
#homeMobileFooter div div a {
 color:#00338D;
}
#homeMobileFooter div div a:hover {
 text-decoration:underline;
}
#homeMobileFooter div div div {
 width: 50%;
}
#homeMobileFooter > div + div > div > div { width:auto; }
#homeMobileFooter div div div span a img {
 float:none;
 clear:none;
}
#homeMobileFooter table {
 background-color: #fff;
 width: 100%;
 opacity: .8;
}
.gridContainer.mobile #globalFooterNav {
 min-height:100px;
 padding:10px;
}
.gridContainer.mobile #globalFooterNav > span:first-child {
 display:none;
}
.gridContainer.mobile #globalFooterNav span {
 position:relative !important;
}
.copy {
color: #666666;
display: block;
padding-top: 10px;
font-size:12px;
}
 .gridContainer.mobile #globalFooterNav span .globalFooterLinks {
color: #666666;
text-decoration: none;
border-bottom: dotted 1px;
font-size:12px;
}
.gridContainer.mobile #globalFooterNav span .globalFooterLinks:nth-child(2){
 display:none;
}


/* start interior pages */
#mainSub {
 position:relative;
 top:0px;
}
.gridContainer.jobs .leftNav .more ul .leftNavTitle a {
background-image: url("../../images/WorkForUs/Jobs/jobsWorkingHereBanner.jpg")/*tpa=http://www.jacobs.com/images/WorkForUs/Jobs/jobsWorkingHereBanner.jpg*/;
background-repeat: repeat-x;
color: #FFFFFF !important;
font-size: 48px;
height: 200px;
line-height: 700%;
margin-top: 60px;
padding-bottom: 8px;
padding-left: 10px;
width: 100%;
background-position: center center;
text-shadow: 1px 1px 10px #000;
}

.gridContainer.about .leftNav .more ul .leftNavTitle a {
background-image: url("../../images/WorkForUs/About/aboutCoreValuesBanner.jpg")/*tpa=http://www.jacobs.com/images/WorkForUs/About/aboutCoreValuesBanner.jpg*/;
background-repeat: repeat-x;
color: #FFFFFF !important;
font-size: 48px;
height: 200px;
line-height: 700%;
margin-top: 60px;
padding-bottom: 8px;
padding-left: 10px;
width: 100%;
background-position: center center;
text-shadow: 1px 1px 10px #000;
}

.gridContainer.mobile .leftNav .more ul hr {
 display:none !important;
}
.subLeftCol,
.subRightCol {
 padding: 10px;
}

.subLeftCol,
.subRightCol,
.subAllCol { 
		display: block;
	font-size: 21px;
	line-height: 26px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	margin-left:10px;
	margin-right:10px;
	background-color:#f2f2f2;
	top:0px !important}
/*
#ytplayer {
 height: 200px !important;
 width:96% !important;
 display:block;
 margin:auto;
}
*/
.subQuote {
 margin-bottom:15px;
 display:block;
}
.subQuote.inline {
 top: 20px;
}
 #jobsCareersOnTheMoveApplyNowBox {
 /*height: 90px !important;*/
padding: 10px;
}
.mobile.interior div#mainSub div.subSection div#jobsCareersOnTheMoveMain {
 width:100% !important;
 min-width:100% !important;
}
.mobile.interior div#mainSub div.subSection div#jobsCareersOnTheMoveMain div#jobsCareersOnTheMoveContentTabs {
 width:100% !important;
}
#jobsCareersOnTheMoveApplyNowBox > div {
 color: #fff;
 width: 100% !important;
  font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 24px;
}
#mobileJobsCareersOnTheMoveContentTabs1 > a,
#mobileJobsCareersOnTheMoveContentTabs2 > a,
#mobileJobsCareersOnTheMoveContentTabs3 > a,
#mobileJobsCareersOnTheMoveContentTabs4 > a,
#mobileJobsCareersOnTheMoveContentTabs5 > a {
 clear: both;
color: #FFFFFF;
display: block;
font-size: 30px;
width: 100%;

background: url("../../images/mJobsBg.jpg")/*tpa=http://www.jacobs.com/images/mJobsBg.jpg*/;
line-height: 60px;
padding-left: 5px;
}
.jobCareersContainer {
 
}
.jobsCareersOnTheMoveLink.mobile > img {
  height: 60px;
}
#jobsCareersOnTheMoveContentTabs a div{
	background-color:#212121;


}
.jobCareersContainer .headshot {
  height: 150px;
  width: 100%;
  text-align: center;
  background-color: #000 !important;
}
.jobCareersContainer .headshot > img {
  height: 100%;
}
.jobCareersContainer .bio {
  font-size: 15px;
  line-height: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 10px 15px 10px 10px;
	color:#fff;  
}

.jobCareersContainer .timeline{
	min-height:200px;
}
.jobCareersContainer .year {
  font-size: 36px;
}
.jobCareersContainer .description {
  font-size: 16px;
}
/* #jobsCareersOnTheMoveContentTabs a:before {
 content: url("/images/mFlo.jpg");
height: 60px;
vertical-align: sub;
}
*/
#jobsCareersOnTheMoveContentTabs > span {
 display: none;
}
#swiffycontainerFlo, #swiffycontainerShan, #swiffycontainerRachel {
 display:none;
 width: 360px !important;
 clear: both;
}
.globalTabContracts #globalTabSlash {
 display: none;
}
 #jobsHotJobsTab {
 clear: both;
cursor: pointer;
display: block !important;
line-height: 40px !important;
max-width: 100% !important;
width: 100% !important;
text-indent: 20px;
 background-image: url("../../images/SelectFilterBG.png")/*tpa=http://www.jacobs.com/images/SelectFilterBG.png*/;
background-repeat: repeat-x;
}
 #jobsHotJobsTab a { display:block; text-align:left; cursor: pointer; }
#jobsHotJobsTabLine, .subAllCol span .jobsCareersOnTheMoveLink {
 display:none;
}
#jobsHotJobsTabsContent_1, #jobsHotJobsTabsContent_2, #jobsHotJobsTabsContent_3, #jobsHotJobsTabsContent_4 {
 display:none;
}
.mobile.interior div#mainSub div.subSection div div.subAllCol {
 /*width:100% !important;
 min-width: 100% !important;*/
}
#jobsHotJobsTabSelected {
 display: none !important;
}
#jobsWhyJacobsTabs span > a {
 clear: both;
cursor: pointer;
display: block;
line-height: 40px !important;
 max-width: 100% !important;
width: 100% !important;
 background-image: url("../../images/SelectFilterBG.png")/*tpa=http://www.jacobs.com/images/SelectFilterBG.png*/;
background-repeat: repeat-x;
padding-left:20px;
}
 #jobsWhyJacobsTabs span img {
display:none;
}
/*#jobsWhyJacobsTabsContent_1, #jobsWhyJacobsTabsContent_2, #jobsWhyJacobsTabsContent_3, #jobsWhyJacobsTabsContent_4, #jobsWhyJacobsTabsContent_5, #jobsWhyJacobsTabsContent_6 {
 display:none;
}*/
#jobsWhyJacobsTabs .jobsCareersOnTheMoveLink {
 display:none;
}
#jobsWhyJacobsTabs > img, #jobsWhyJacobsTabSelected {
 display: none;
}
.subAllCol table:not('#recaptcha_table') td {
 clear: both;
 float: left;
 border-right:none !important;
 width:35%;
}
#jobsApplyForAJobTabs span a {
 cursor:pointer;
}
#jobsApplyForAJobTabs > span {
 max-width: 100% !important;
 clear: both;
 display: block;
 width: 100%;
}
#jobsApplyForAJobTabsContent_1, #jobsApplyForAJobTabsContent_2, #jobsApplyForAJobTabsContent_3, #jobsApplyForAJobTabsContent_4 {
 display:none;
}
#jobsApplyForAJobTabsContent {
  margin-top: 20px;
}
img#jobsApplyForAJobTabSelected {
  display: none !important;
}
#jobsApplyForAJobTabsContent #jobsApplyForAJobTabs span a {
  padding-left: 30px;
}
div.JobEventsFilter div.filters div.row div {
 margin-left:-25px;
}
div.JobEventsFilter div.filters div.row .filterClear {
text-align: left;
margin-top:0;
}
.row .date {
 margin-left: 0;
 width: inherit;
}
#jobsHotJobsTab table {
 width: 100%;
}
#jobsHotJobsTab table td {
border-right: medium none !important;
clear: both;
float: none;
width: 0 !important;
vertical-align: text-top;
}
#jobsHotJobsTab a div div div img {
 display:none;
}
div#jobsWhyJacobsTabs span a div h6 div {
 margin-bottom:50px;
}
#jobsWhyJacobsTabSelected {
 display: none !important
}
div.JobEventsFilter div.filters div.row div {
 margin-left: inherit !important;
 width: inherit !important;
 padding-left: 0px !important;
}
div.JobEventsFilter div.filters div.row > div {
float: left;
clear:both;
display: block;
}

#jobsCareersOnTheMoveMain.desktop {
  display: none;
}
#jobsCareersOnTheMoveMainMobile.mobile {
	background-color:#212121;
	
}

#subFooter {
  width: 100%;
  font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
	font-size: 13px;
	color: #898989;
	line-height: 15px;
	word-spacing: 0em;
	letter-spacing: 0.015em;
	text-align:center;
}
#subFooter > span:first-child { margin-bottom:10px; }
#subFooter > span,
#subFooter span.globalFooterLinks {
  width: 100%;
  left: 0 !important;
  display: block;
}
#subFooter span.globalFooterLinks { margin-top:5px; }


/* end interior pages */


/* START AB OUR APPROACH */
 .subLeftCol_globalnet {
 display: block;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 margin-left:10px;
 margin-right:10px;
 width:auto;
}
 .subLeftCol_globalnet ul {
/* list-style:none;
*/ list-style-type:none;
 margin-left:0px;
 padding-left:0px;
}
 .subRightCol_globalnet ul {
 list-style:none;
 list-style-type:none;
 margin-left:0px;
 padding-left:0px;
 font-size: 18px;
}
 .subRightCol_globalnet ul li:before {
 content:"- ";
}
 .subRightCol_globalnet {
 display: block;
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size: 21px;
 line-height: 26px;
 word-spacing: 0em;
 letter-spacing: 0.015em;
 vertical-align: top;
 overflow: visible;
 margin-left:10px;
 margin-right:10px;
 margin-bottom:10px;
 z-index:1;
 width:auto;
}
 .subRightCol_globalnet img {
 width:100%;
}
 .subRightCol_globalnet .registertoday {
 width:148px;
 text-align:center;
}
							 
/* END AB OUR APPROACH */

.subSeeAlsoBoxHoriz,
.subSeeAlsoBoxVert {
 background-color:white;
 padding:10px;
 top: 0 !important;
 min-width:93%;
}
 /*ul.bulletlist {
 font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, sans-serif;
 font-size:21px;
 list-style-image: url(../../images/bullet.png);
 list-style-image: url(../../images/bulletIE.png)\9;
 list-style-type: none;
 vertical-align: middle;
}*/
/*ul.bulletlist li {
	vertical-align:text-top;
	position: relative;
	top: -3px;
	vertical-align: middle;
}*/