    /*"""""""" (MAIN) Container""""""""*/
    #nav-menu
    {
        display:table-row;
    }


    /*"""""""" (MAIN) Items""""""""*/
    #nav-menu .parent {
        white-space:nowrap;
        text-align: left;
        display:table-cell;
        height: 43px;
        position:relative;
        vertical-align: middle;
        border-right: 2px solid #FFF;
        background: #ededed; /* Old browsers */
        background: -moz-linear-gradient(top,  #ededed 4%, #ededed 47%, #cdcdcd 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ededed), color-stop(47%,#ededed), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ededed 4%,#ededed 47%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ededed 4%,#ededed 47%,#cdcdcd 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ededed 4%,#ededed 47%,#cdcdcd 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ededed 4%,#ededed 47%,#cdcdcd 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
        *float: left;
        *display: block;
        line-height: 13px !important;
    }
    #nav-menu .parent.active,
    #nav-menu .parent:hover {
        background: -moz-linear-gradient(top,  #e7e7e7 0%, #b1b0b0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#b1b0b0));
        background: -webkit-linear-gradient(top,  #e7e7e7 0%,#b1b0b0 100%);
        background: -o-linear-gradient(top,  #e7e7e7 0%,#b1b0b0 100%);
        background: -ms-linear-gradient(top,  #e7e7e7 0%,#b1b0b0 100%);
        background: linear-gradient(to bottom,  #e7e7e7 0%,#b1b0b0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#b1b0b0',GradientType=0 );
    }
    #nav-menu .parent.bkgdPatch {
        background: #ededed; /* Old browsers */
        background: -moz-linear-gradient(top,  #ededed 4%, #ededed 47%, #cdcdcd 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ededed), color-stop(47%,#ededed), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ededed 4%,#ededed 47%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ededed 4%,#ededed 47%,#cdcdcd 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ededed 4%,#ededed 47%,#cdcdcd 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ededed 4%,#ededed 47%,#cdcdcd 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
    }
    #nav-menu .parent.dark {
        border-right: 0 solid #FFF;
        background: -moz-linear-gradient(top,  #3d79aa 0%, #285877 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d79aa), color-stop(100%,#285877)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #3d79aa 0%,#285877 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #3d79aa 0%,#285877 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #3d79aa 0%,#285877 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #3d79aa 0%,#285877 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d79aa', endColorstr='#285877',GradientType=0 ); /* IE6-9 */
    }
    #nav-menu .parent.dark:hover {
        background: #3d79aa; /* Old browsers */
        background: -moz-linear-gradient(top,  #3d79aa 0%, #285877 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d79aa), color-stop(100%,#285877)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #3d79aa 0%,#285877 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #3d79aa 0%,#285877 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #3d79aa 0%,#285877 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #3d79aa 0%,#285877 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d79aa', endColorstr='#285877',GradientType=0 ); /* IE6-9 */
    }
    #nav-menu .parent > a {
        font-family: Arial;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        color: #000;
        display: table-cell;
        vertical-align: middle;
        padding: 0 12px;
        height: inherit;
        line-height: 13px !important;
    }
    #nav-menu .parent.dark:hover a,
    #nav-menu .parent.dark a
    {
        color: #FFF;
    }
    #nav-menu .submenu-wrapper
    {
        width:978px;
        padding:0px;
        margin: 0;
        left: 0;
        top: 0;
    }
    #nav-menu .submenu-wrapper {
        top: 43px;
        background-color: #f9f9f9;
        border: 1px solid #D7D7D7;
        border-top:none;
        position: absolute;
    }
    #nav-menu .submenu-table {
        display: table;
        width: inherit;
        height: 100%;
    }
    #nav-menu ul.submenu {
        width: inherit;
    }


    /*"""""""" (SUB) Items""""""""*/
    #nav-menu ul li
    {
        padding:3px 5px 3px 10px;
        margin:0px;
        line-height:20px;
        display: block;
        -webkit-transition: margin-left 0.1s ease-in-out;
        -moz-transition: margin-left 0.1s ease-in-out;
        -o-transition: margin-left 0.1s ease-in-out;
        -ms-transition: margin-left 0.1s ease-in-out;
        transition: margin-left 0.1s ease-in-out;
    }
    /*"""""""" (SUB) Items""""""""*/
    #nav-menu ul li > a
    {
        font-weight: normal;
        color:#636363;
        font-family:Arial;
        font-size:11px;
        text-decoration:none;
    }
    /*"""""""" (SUB) Hover State """"""""*/
    #nav-menu ul li:hover>a
    {
        text-decoration:underline;
    }

    /*"""""""" Individual Titles""""""""*/
    #nav-menu .title
    {
        margin:2px 0px 5px 0px;
        color:#222222;
        font-family:Arial;
        font-size:11px;
        font-weight:bold;
    }
    #nav-menu .submenu-wrapper {
        display: none;
        white-space: normal;
        font-size: 13px;
        line-height: 23px;
    }
    #nav-menu .submenu-wrapper .submenu-padding {
        padding: 30px 0;
    }
    #nav-menu .submenu-wrapper .submenu-padding {
        width: 100%;
    }
    #nav-menu .submenu-wrapper.show-side-bar .submenu-padding {
        width: 799px;
        float: left;
    }
    #nav-menu .submenu-wrapper.show-side-bar .side-bar {
        position: relative;
        right: 0;
        top: 0;
        float: right;
        height: 100%;
        width: 178px;
        border-left: 1px solid #D7D7D7;
        background-color: #dbdbdb;
    }
    #nav-menu .submenu-wrapper.show-side-bar .side-bar .top-half {
        height: auto;
        overflow: hidden;
        width: inherit;
        background: #fff;
    }
    #nav-menu .submenu-wrapper.show-side-bar .side-bar .bottom-half {
        height: auto;
        overflow: hidden;
        width: inherit;
        background: #f2f2f2; /* Old browsers */
        background: -moz-linear-gradient(top,  #f2f2f2 0%, #dbdbdb 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #f2f2f2 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #f2f2f2 0%,#dbdbdb 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #f2f2f2 0%,#dbdbdb 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #f2f2f2 0%,#dbdbdb 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
    }
    #nav-menu .submenu-wrapper.show-side-bar .side-bar .bar-padding  {
        padding: 30px 20px 10px;
        margin:0;
    }
    #nav-menu .submenu-wrapper.show-side-bar .side-bar .bottom-half .bar-padding  {
        padding-top: 10px;
    }
    #nav-menu .submenu-wrapper.show-side-bar .side-bar h1 {
        margin-bottom:10px;
    }
    #nav-menu .submenu-wrapper.show-side-bar .side-bar ul li {
        padding:0;
    }
    #nav-menu .submenu-wrapper .submenu {
        display: table-row;
        padding: 30px 0;
    }
    #nav-menu .submenu-wrapper .group-menu {
        display: table-cell;
        vertical-align: top;
        border-left: 1px solid #c6c6c6;
        padding: 0 20px;
    }
    #nav-menu .submenu-wrapper .group-menu:first-child {
        border-left: none;
    }
    #nav-menu .submenu-wrapper .group-menu h1 {
        color: #000;
        margin: 0;
    }
    #nav-menu .submenu-wrapper .group-menu h3 {
        padding: 30px 0 8px;
    }
    #nav-menu .submenu-wrapper .group-menu h3:first-child {
        padding: 0 0 8px;
    }
    #nav-menu .submenu-wrapper .group-menu h2 a,
    #nav-menu .submenu-wrapper .group-menu h3 a {
        color: #000;
    }
    #nav-menu .submenu-wrapper .group-menu li a {
        font-size: 13px;
    }
    .bar-padding h3 a {
        color: #000;
    }
    .actions {
        width: 100%;
        height: auto;
        text-align:center;
    }
    .actions a.button,
    ul.row li.cell a.button {
        font-size: 13px;
        padding: 12px 15px;
        background-color: #0069a3;
        color: #fff;
    }
    a.button.green {
        background-color: #5ca544;
    }
    .actions a.button.thin {
        color: #fff !important;
        padding: 9px 15px;
        float: left;
        margin: 10px 0;
    }
    div.info div.actions a.button.thin,
    div.info_v2 div.actions a.button.thin {
        color: #fff !important;
        padding: 9px 15px;
        position: relative;
        float: left;
        margin: 10px 0;
    }
    div.info_v2 div.actions a.button.thin { border-radius: 10px; }
    div.info div.actions a.button.thin div.caret {
        top:50%;
        margin-top: -5px;
        right: -6px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 5px 0 5px 6px;
        border-color: transparent transparent transparent #0066a1;
        position: absolute;
    }
    div.info_v2 div.actions a.button.thin.green div.caret {
        top:50%;
        margin-top: -5px;
        left: -6px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 5px 6px 5px 0;
        border-color: transparent #5ca544 transparent transparent;
        position: absolute;
    }
