
/*=======================================================*/
.pagetitle
{
    line-height: 20pt;
    font-weight: bold;
    font-size: 16pt;
    color: #333333;
}
.pagetitle22
{
    line-height: 20pt;
    font-weight: bold;
    font-size: 22pt;
    color: #333333;
}
.pagetitle14
{
    line-height: 20pt;
    font-weight: bold;
    font-size: 14pt;
    color: #333333;
}
.pagetitle12
{
    line-height: 20pt;
    font-weight: bold;
    font-size: 12pt;
    color: #333333;
}
.compatibilitytitle
{
    font-weight: bold;
    font-size: 10pt;
    color: #333333;
}
.pagetitleinvestor
{
    line-height: 15pt;
    font-weight: normal;
    font-size: 14pt;
    color: #999999;
}
.pagesubtitleinvestor
{
    line-height: 13pt;
    font-weight: bold;
    font-size: 10pt;
    color: #000066;
}
.menufontinvestor
{
    line-height: 10pt;
    font-weight: normal;
    font-size: 9pt;
    color: #333333;
}
.menuheaderinvestor
{
    line-height: 13pt;
    font-weight: bold;
    font-size: 9pt;
    color: #000066;
}
.menuheaderTKinvestor
{
    line-height: 13pt;
    font-weight: normal;
    font-size: 9pt;
    color: #000066;
}
.pageheadingtitleinvestor
{
    line-height: 14pt;
    font-weight: normal;
    font-size: 10pt;
    color: #000000;
}
.tablecattitle
{
    font-weight:bold;
    font-size: 12pt;
}
.pagesubtitle
{
    line-height: 15pt;
    font-weight: normal;
    font-size: 12pt;
    color: #999999;
}
.pagesubtitleblk
{
    line-height: 15pt;
    font-weight: normal;
    font-size: 12pt;
    color: #000000;
}
.onlineservicessubtitle
{
    line-height: 15pt;
    font-weight: normal;
    font-size: 12pt;
    color: #4d4c4c;
}

.homepagetitle, .homepagetitle a
{
    line-height: 16pt;
    font-weight: bold;
    font-size: 13pt;
    color: #333333;
    padding-top:20px;
    padding-bottom:20px;
    letter-spacing: -0.5px;
}
.homepagetitlewhite
{
    line-height: 20pt;
    font-weight: normal;
    font-size: 15pt;
    color: #ffffff;
    letter-spacing: -0.5px;
    padding-bottom:20px;
}
.homepagesubtitle, .homepagesubtitle a
{
    font-weight: bold;
    font-size: 9pt;
    color: #333333;
    line-height: 10pt;
    padding-top:10px;
}
.homepagesubtitlenp, .homepagesubtitlenp a
{
    font-weight: bold;
    font-size: 9pt;
    color: #333333;
}
.homepagetext, .homepagetext a
{
    font-weight: normal;
    font-size: 9pt;
    color: #666666;
    line-height: 12pt;
}
.homepagehr
{
    padding: 10pt 0 10pt 0;
}
.prodpagetitle
{
    line-height: 30pt;
    font-size: 26pt;
    color: #333333;
    font-family: Arial,Helvetica, sans-serif;
    padding: 0 15px 0 15px;
    letter-spacing: -1px;
    text-decoration: none;
}
.prodpagescattitle
{
    line-height: 14pt;
    font-weight: normal;
    font-size: 13pt;
    color: #4e4e4e;
    text-decoration: none;
    padding: 0 15px 0 15px;
}
.prodpagetitlewht
{
    line-height: 30pt;
    font-size: 26pt;
    color: #ffffff;
    font-family: Arial,Helvetica, sans-serif;
    padding: 0 15px 0 15px;
    letter-spacing: -1px;
    text-decoration: none;
}
.prodpagescattitlewht
{
    line-height: 14pt;
    font-weight: normal;
    font-size: 13pt;
    color: #ffffff;
    padding: 0 15px 0 15px;
}
.prodtabtitletext
{
    line-height: 20pt;
    font-weight: bold;
    font-size: 9pt;
    margin: 0px;
    padding: 0px;
    padding: 0 15px 0 15px;
}
.prodtabtitletextselected
{
    line-height: 20pt;
    font-weight: bold;
    font-size: 9pt;
    color:#0065a4;
    margin: 0px;
    padding: 0px;
}
.bodytext
{
    line-height: 15pt;
    font-weight: normal;
    font-size: 10pt;
    color: #666666;
    margin: 0px;
    padding: 0px;
}
.bodytextsmall
{
    line-height: 15pt;
    font-weight: normal;
    font-size: 8pt;
    color: #666666;
    margin: 0px;
    padding: 0px;

}
.bodytextbold
{
    line-height: 15pt;
    font-weight: bold;
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
}
.bodytextboldNP
{
    font-weight: bold;
    font-size: 10pt;
}
.bodytextblue
{
    line-height: 15pt;
    font-size: 10pt;
    color:#0065a4;
    margin: 0px;
    padding: 0px;
}
.titletextbluebold
{
    line-height: 15pt;
    font-size: 14pt;
    font-weight: bold;
    color:#0065a4;
    margin: 0px;
    padding: 0px;
}
.OVlinktitletext
{
    line-height: 10pt;
    font-weight: bold;
    font-size: 9pt;
}
.bodytextbluebold
{
    line-height: 15pt;
    font-size: 10pt;
    font-weight: bold;
    color:#0065a4;
    margin: 0px;
    padding: 0px;
}
.bodytextblueboldsmall
{
    line-height: 15pt;
    font-size: 8pt;
    font-weight: bold;
    color:#0065a4;
    margin: 0px;
    padding: 0px;
}
.bodytextwhitebold
{
    line-height: 15pt;
    font-size: 10pt;
    font-weight: bold;
    color:#ffffff;
    margin: 0px;
    padding: 0px;
}
.bodytextgreybold
{
    line-height: 8pt;
    font-size: 8pt;
    font-weight: bold;
    color:#7a7a7a;
    margin: 0px;
    padding: 0px;
}
.disclaimer
{
    line-height: 10pt;
    font-size: 8pt;
    color:#666666;
    margin: 0px;
    padding: 0px;
}
.trademark
{
    font-size: 8pt;
    vertical-align:text-top;
}
.supscript
{
    position: relative;
    top: -1.0em;
    font-size: 50%;
    padding-right: 4px;
}
.DYKimage v
{
    /* looks like pasting issue, with the stray "v"  --JD note */
}
.howtotext
{
    width:800px;
    line-height: 16px;
    font-weight: bold;
    font-size: 10pt;
    color: #333333;
    font-family: "Lucida Grande","Lucida Sans Unicode",  sans-serif;
    letter-spacing: -0.5px;
    text-align:left;
}
.howtorow
{
    padding-bottom:10px;
    padding-top:10px;
    text-align:center;
}
.onlineservicetitle
{
    font-weight: bold;
    font-size: 12pt;
    color: #333333;
    font-family: "Lucida Grande","Lucida Sans Unicode",  sans-serif;
    letter-spacing: -0.5px;
}
.columntitle
{
    line-height: 20px;
    font-weight: bold;
    font-size: 12pt;
    color: #333333;
    font-family: "Lucida Grande","Lucida Sans Unicode",  sans-serif;
    padding-bottom:10px;
    padding-top:10px;
    letter-spacing: -0.5px;
}
.columntitleAD
{
    font-weight: bold;
    font-size: 12pt;
    color: #333333;
    font-family: "Lucida Grande","Lucida Sans Unicode",  sans-serif;
    padding-bottom:10px;
    padding-top:10px;
    letter-spacing: -0.5px;
    text-align:center;
}
.columnfeaturepadding
{
    padding-bottom:30px;
}
.columnhighlightspadding
{
    padding: 0 10px 0 10px;
}
.highlightsbody
{
    height:auto;
    padding-top:8px;
    padding-bottom:8px;
}
.bluebtn
{
    background-image: url(../images/arrow_more.png)/*tpa=http://www.wdc.com/images/arrow_more.png*/;
    text-decoration:none;
    background-repeat: no-repeat;
    color:#0065a4;
    margin: 0px;
    padding: 0 0 0 20px;
 }
.bluebtnnoborder {
    background-image: url(../global/images/arrows/arrow_bluright.gif)/*tpa=http://www.wdc.com/global/images/arrows/arrow_bluright.gif*/;
    text-decoration:none;
    background-repeat: no-repeat;
    color:#0065a4;
    margin: 0px;
    padding: 0 0 0 10px !important;
    cursor: pointer;
 }
 .whtbtnnoborder
{
    background-image: url(../global/images/arrows/arrow_whtright.png)/*tpa=http://www.wdc.com/global/images/arrows/arrow_whtright.png*/;
    text-decoration:none;
    background-repeat: no-repeat;
    color:#ffffff;
    margin: 0px;
    padding: 0 0 0 10px !important;
 }
.menubottomborder
{
    padding-left: 16px;
    border-bottom: 1px dotted #dcdbdb;
}
.menuTXT
{
    font-size: 8pt;
    text-decoration: none;
}
.menuTXTblu
{
    font-size: 8pt;
    color:#01598e;
    text-decoration: none;
}

.submenuTXT
{
    font-size: 7pt;
    text-decoration: none;
}
.menusubblck
{
    font-weight: bold;
    font-size: 8pt;
    color: #4d4d4d;
    line-height: normal;
 }
 .navBox
 {
    float: right;
    width: 150px;
    background-color: #e6e6e6;
    padding: 3px;
    border: 1px solid #ccc;
 }
.outterBox
{
    float: right; width: 165px;
}
.smText, a.smText, a:hover.smText
{
    font-size: 8px;
}
.title_bold10g
{
    font-weight: bold;
    font-size: 11pt;
    color: #878787; /* was ffffff */
    text-decoration: none
}
.title_bold11
{
    font-weight: bold;
    font-size: 11pt;
    color: #4d4d4d;
    text-decoration: none
}
.title_bold10
{
    font-weight: bold;
    font-size: 10pt;
    color: #4d4d4d;
    text-decoration: none;
}
.title_boldgreen
{
    font-weight: bold;
    color: #999933;
    text-decoration: none
}
.borderbottomdotted
{
    border-bottom: #dcdbdb 1px dotted;
}
.borderrightbottomdotted
{
    border-right: #dcdbdb 1px dotted;
    border-bottom: #dcdbdb 1px dotted;

}
.borderframesoft
{
    border-right: #dcdbdb 1px solid;
    border-top: #dcdbdb 1px solid;
    border-left: #dcdbdb 1px solid;
    border-bottom: #dcdbdb 1px solid;
}
.borderrightbottom
{
    border-right: #dcdbdb 1px solid;
    border-top: medium none;
    border-left: medium none;
    border-bottom: #dcdbdb 1px solid;
}
.borderbottom
{
    border-right: medium none;
    border-top: medium none;
    border-left: medium none;
    border-bottom: #dcdbdb 1px solid;
}
.borderright
{
    border-right: #dcdbdb 1px solid;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none;
}
.gpsubtitlegry
{
    font-weight: normal;
    font-size: 13pt;
    color: #999999;
}

.driveheader
{
    font-weight: bold;
    font-size: 9pt;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.linecardtitle
{
    line-height: 20px;
    font-weight: bold;
    font-size: 13pt;
    color: #333333;
    font-family: "Lucida Grande","Lucida Sans Unicode",  sans-serif;
    padding-bottom:10px;
    padding-top:10px;
}
.distititle
{
    font-weight: bold;
    font-size: 13pt;
    color: #333333;
    font-family: "Lucida Grande","Lucida Sans Unicode",  sans-serif;
}

/*============================================================================*/
/* Press release styles*/
/*============================================================================*/
.WDtitle
{
    font-weight: bold;
    font-size: 12px;
    color: #294594;
    font-family: Helvetica, Arial, sans-serif;
}
.WDitalicsB
{
    font-weight: bold;
    font-size: 11px;
    color: #004080;
    /*font-style: italic;*/
    font-family: Arial, Helvetica, sans-serif;
}
.WDsmalltext
{
    line-height: 16px;
    font-weight: normal;
    font-size: 10px;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}
/*============================================================================*/
/* Tool Tip Style*/
/*============================================================================*/
.WIHtooltip
{
    font-size: 10pt;
    line-height: 12pt;
    color: #333333;
    font-family: "Lucida Grande","Lucida Sans Unicode",  sans-serif;
}
/*============================================================================*/
/* Investor styles */
/*============================================================================*/
.inv_tickertitle
{
    font-weight: bold;
    font-size: 10pt;
    color: #333333;
}
.inv_tickersubtitle
{
    font-weight: bold;
    font-size: 9pt;
    color: #333333;
    padding-bottom:8px;
}
.inv_tickerNum
{
    font-weight: bold;
    font-size: 24pt;
    color: #0065a4;
}
.inv_tickerDiff
{
    font-weight: bold;
    font-size: 14pt;
    color: #ff0006;
}
.inv_tickerDiffplus
{
    font-weight: bold;
    font-size: 14pt;
    color: #076d0e;
}

.inv_tickerDate
{
    padding-top : 8px;
    padding-bottom: 8px;
}
.inv_toolkitwrapper
{
    padding: 0 0 5px 7px;

}
.inv_emailalert
{
    background-image: url(../global/images/investor/toolkit_alert_t.gif)/*tpa=http://www.wdc.com/global/images/investor/toolkit_alert_t.gif*/;
    text-decoration:none;
    background-repeat: no-repeat;
    color:#0065a4;
    margin: 0px;
    padding: 0 0 0 25px;
    font-size: 7pt;

}
.inv_contact
{
    background-image: url(../global/images/investor/toolkit_contact_t.gif)/*tpa=http://www.wdc.com/global/images/investor/toolkit_contact_t.gif*/;
    text-decoration:none;
    background-repeat: no-repeat;
    color:#0065a4;
    margin: 0px;
    padding: 0 0 0 25px;
    font-size: 7pt;
}
.inv_email
{
    background-image: url(../global/images/investor/toolkit_emailPg_t.gif)/*tpa=http://www.wdc.com/global/images/investor/toolkit_emailPg_t.gif*/;
    text-decoration:none;
    background-repeat: no-repeat;
    color:#0065a4;
    margin: 0px;
    padding: 0 0 0 25px;
    font-size: 7pt;
}
.inv_print
{
    background-image: url(../global/images/investor/toolkit_print_t.gif)/*tpa=http://www.wdc.com/global/images/investor/toolkit_print_t.gif*/;
    text-decoration:none;
    background-repeat: no-repeat;
    color:#0065a4;
    margin: 0px;
    padding: 0 0 0 25px;
    font-size: 7pt;
}
.inv_rss
{
    background-image: url(../global/images/investor/toolkit_rss_t.gif)/*tpa=http://www.wdc.com/global/images/investor/toolkit_rss_t.gif*/;
    text-decoration:none;
    background-repeat: no-repeat;
    color:#0065a4;
    margin: 0px;
    padding: 0 0 0 25px;
    font-size: 7pt;
}
.inv_tear
{
    background-image: url(../global/images/investor/toolkit_tearSht_t.gif)/*tpa=http://www.wdc.com/global/images/investor/toolkit_tearSht_t.gif*/;
    text-decoration:none;
    background-repeat: no-repeat;
    color:#0065a4;
    margin: 0px;
    padding: 0 0 0 25px;
    font-size: 7pt;
}
.inv_bullet
{
    margin-left: 12pt;
    padding-left: 0;
}
/*============================================================================*/
/* PR pages styles */
/*============================================================================*/
.PR_year_nav span { padding-right: 35px; font-weight: bold; color:gray; }
.PR_month_nav a { padding-right: 20px; }

/*============================================================================*/
/* Arkeia product pages */
/*============================================================================*/

.arkeia_contact
{
    background-image: url(../global/images/buttons/btn_akcontact.png)/*tpa=http://www.wdc.com/global/images/buttons/btn_akcontact.png*/;
    text-decoration:none;
    background-repeat: no-repeat;
    color:#0065a4;
    margin: 0px;
    padding: 10px 0 0 35px;
    font-weight: bold;
    font-size: 12px;
    height:37px;

 }
 .arkeia_download
{
    background-image: url(../global/images/buttons/btn_akdownload.png)/*tpa=http://www.wdc.com/global/images/buttons/btn_akdownload.png*/;
    text-decoration:none;
    background-repeat: no-repeat;
    color:#0065a4;
    margin: 0px;
    padding: 10px 0 0 35px;
    font-weight: bold;
    font-size: 12px;
    height:37px;

 }
 .arkeia_quote
{
    background-image: url(../global/images/buttons/btn_akquote.png)/*tpa=http://www.wdc.com/global/images/buttons/btn_akquote.png*/;
    text-decoration:none;
    background-repeat: no-repeat;
    color:#0065a4;
    margin: 0px;
    padding: 10px 0 0 35px;
    font-weight: bold;
    font-size: 12px;
    height:37px;

 }
  .arkeia_generic
{
    background-image: url(../global/images/buttons/btn_akblank.png)/*tpa=http://www.wdc.com/global/images/buttons/btn_akblank.png*/;
    text-decoration:none;
    background-repeat: no-repeat;
    color:#0065a4;
    margin: 0px;
    padding: 10px 0 0 35px;
    font-weight: bold;
    font-size: 12px;
    height:37px;

 }
