div#search fieldset
        {
            margin: 0;
            border: 0px; /* NOTE: clears styles for fieldsets in the search area */
            margin-top: 0px;
            padding:0px;
        }

div#search .sfsearchSubmit 
        {
            top: 5px;
        }