
.dashboard{
	height: 100%;
    position: absolute;
    right: 0;
	bottom:0;
	z-index: 2000;
	/*overflow: hidden;*/
}
.dashboard .dashboard-header{
	height:92px;
	text-align: right;
	position:relative;
}
.dashboard .dashboard-header a.log-out {
	color:#325682;
}

.dashboard.show{
	/*background:url(../images/dashboard-bg.png) -10px 0 repeat-y transparent;*/
	background:#f0efef;
	
}
.dashboard .section-block .select {
    padding: 10px 0;
	background: none repeat scroll 0 0 white;
}

.dashboard .close{
    background: url("../images/dashboard-close.png")/*tpa=https://www.charter.com/browse/static/images/dashboard-close.png*/ no-repeat  scroll 0 0 transparent;
    float: right;
    height: 21px;
    margin-top: 50px;
    position: absolute;
    right: 0;
    width: 21px;
}

.dashboard .dashboard-inner{
	width:0px;
    padding: 0px;	
	}

.dashboard.show .dashboard-inner{
	background-color:#f0efef;
    width: 295px;
    padding: 20px 36px 20px 30px;	
	margin-right: -375px;
}


.dashboard .dashboard-tab{
	display:block;
	position:absolute;
	width:50px;
	height:45px;
	left:-50px;
	top:126px;
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
}
.dashboard .dashboard-tab a{
	background:url(../images/dashboard-tab.png)/*tpa=https://www.charter.com/browse/static/images/dashboard-tab.png*/ 0  0 repeat-y transparent;
	height:100%;
	width:100%;
	display: block;
}
.dashboard .dashboard-tab a:hover{
	background:url(../images/dashboard-tab-hover.png)/*tpa=https://www.charter.com/browse/static/images/dashboard-tab-hover.png*/ 0  0 repeat-y transparent;
}
.dashboard fieldset {
	margin: 0 0 20px 0;
}

.dashboard  h1 {
	font-size:1.6em;
	color: #075784;
	margin-top: 22px;
}

.dashboard h2 {
    color: #999999;
    font-size: 1em;
    font-weight: bold;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

.dashboard fieldset a {
	display:block;
 	text-align: right;	
	color:#999;
	margin-top:4px;
	font-size: 0.8em;
}

.dashboard  a {
	color:#333;
}
.dashboard .block-list-text a:hover, .dashboard .row a:hover, .dashboard fieldset a:hover {
	color:#8ec740;
}
.dashboard hr.h-sep {
    background: url("../images/h-sep.gif")/*tpa=https://www.charter.com/browse/static/images/h-sep.gif*/ repeat-x scroll 0 0 transparent;
    border: 0 none;
    height: 2px;
	margin: 40px 0;
}
.dashboard div.button-group{
	margin-top:40px;
	width: 275px;
}

.dashboard div.button{
	float:right;
}

.dashboard input[type="text"],.dashboard input[type="password"]{
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border:solid 1px #E4E4E4;
}


.dashboard input[type="text"], .dashboard input[type="password"]  {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    color: #333;
    display: inline-block;
    font-size: 1em;
    height: 20px;
    line-height: 20px;
    padding: 8px 8% 8px 6px;
    vertical-align: middle;
	width: 90%;
	margin-top: 20px;

}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
}

.dashboard .btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    -webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;

    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
	float: right;
}

/*--------- ERROR VALIDATION ---------*/
.dashboard .error-txt  {
	font-weight: bold;
    margin-top: 10px;
	margin-left: 15px;
	font-size: 0.8em;
}
/*
.dashboard .error input[type="text"]{
    border: 1px solid #990000;
}
*/
/*------ END OF ERROR VALIDATION ------*/

.row {
	color:#cc;
	font-size: 0.9em;
    line-height: 16px;
	color: #666666;
}
.row a {
	color:#8ec740;
}
.dashboard .section-block ul{
}


.dashboard .section-block {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
    color: #333333;
    font-size: 1em;
    line-height: 20px;
	border: 1px solid #CCCCCC;
	min-height:50px;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.24);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.24);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.24);	
	background: white;
	padding-bottom: 20px;
	overflow: hidden;
	margin-bottom: 25px;
}
.dashboard .section-block ul li a {
    margin: 0 10px 5px 22px;
}
.dashboard .green-small-point-right{
	float:right;
	margin-top: -5px;
}
.dashboard .section-block.list{
	/*background: url(../images/dashboard-list-bg.png) 0 0 repeat white;*/
}
.dashboard .section-block.list  li:nth-child(2n){
    background-color: #f0f0f0;
}
.dashboard .section-block.list #topFaqs li:nth-child(2n+1){
    background-color: #f0f0f0;
}
.dashboard .section-block.list #topFaqs  li:nth-child(2n){
    background-color: #fff;
}


.dashboard .section-block.list .dropdown-menu li:nth-child(2n){
    background-color: #fff;
}
.dashboard .section-block.list .dropdown-menu li{
	border-top:solid #EFEFEF 1px;
}
.dashboard .section-block.list .dropdown-menu li:first-child{
	border-top:solid transparent 0px;
}
.dashboard .dropdown-block .dropdown-style li:nth-child(2n+1){
    background-color: #fff;
}




.dashboard .section-block.list.faq{
	padding: 0 0 20px;
	background-position: 0 42px;
	overflow: visible;	
}

.dashboard .section-block ul li {
	line-height:24.5px;
}

.dashboard .section-block .thumbnail {
	width:70px;
	height:70px;
	border: 1px solid #666;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
	-moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 1);
	box-shadow:         1px 1px 2px rgba(50, 50, 50, 1);
}
.dashboard .section-block .block-list{
	padding: 10px 15px 15px 17px;
}
.dashboard .section-block hr{
	border:0;
	border-bottom:1px solid #ccc;
	height:15px;
	background: url(../images/section-block-sep.png)/*tpa=https://www.charter.com/browse/static/images/section-block-sep.png*/ 0 100% no-repeat white;
}
.dashboard .section-block .block-list:first-child{
	border-top:none;
	padding-top: 18px;
	padding-bottom: 10px;
}
.dashboard .section-block .block-list-text{
	display:inline-block;
	vertical-align: top;
	margin-left: 15px;
	width: 170px;
}
.dashboard .section-block .block-list-text p{
	color: #999999;
	line-height: 1.3em;
	font-size: 0.9em;
	margin-bottom: 5px;
}
.dashboard .section-block .block-list h3 a{
	color: #325680;
    font-size: 1.5em;
    font-weight: bold;
	text-decoration:none;
	margin-bottom: 5px;
	display:block;
}
.dashboard .section-block .block-list h3 a:hover{
	text-decoration:underline;
	
}
.dashboard .section-block .dropdown-block ul {
    margin: 0 10px 5px 0;
	min-width: 269px;
}
.dashboard .section-block .dropdown-block ul li a {
    margin: 0;
}
.dashboard .section-block .dropdown-block {
    margin: 12px 0;
    padding: 5px 11px 8px;
}
.dashboard .error-box {
    margin:20px 0 0;
}
.dashboard  input[type="checkbox"] {
    margin-right: 5px;
}


