@charset "utf-8";

/*Styles for Global Header*/
input[type=text] {
    -webkit-appearance: none ;
    -webkit-border-radius:0 ; 
    border-radius:0 ;
}
.homeBody {
    margin: 0;
    padding: 0;
}
.homeBody ul{
	margin:0;
	padding: 0;
}

.homeHeader {
	background-color: #0085D5;
	background: rgba(0,133, 213,0.9);
	/*line-height: 1.42857;*/
	/*opacity: 0.9;*/
	position: absolute;
	z-index: 1000 !important;
	min-width: 100%;
	width:1200px;
}
.homeHeaderWraper {
	margin: 0 auto;
	width: 1024px;
}
.homeContainer {
	width:1200px;
	margin:0 auto;
}
.homewraper {
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
       
}
.highlightsWraper{
	margin: 0 auto;
	width: 1024px;
	overflow: hidden;
	margin-bottom:30px;
       
}
.homeLogoAgilent {
	margin-top:2.2%;
	margin-left:0.4%;
	float:left;
}
.homeLogo, .homeLogoTxt {
	float:left;
	margin-top:1%;
}
a {
	outline:none !important;
}
.homeBrandTxt {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	margin-top: 1.5%;
	width: 210px;
}
.topRtNav {
    float: left;
	margin-left: 106px;
	width: 460px;
}
.topRtNav ul{
	padding:0;
}
#topRtNav1 a{
padding-left:4px;
} 
#topRtNav2 a, #topRtNav3 a, #topRtNav4 a {
	padding-left:10px;
}
#topRtNav2 a{
	padding-right:10px;
 }
#topRtNav{
	padding-right: 5px !important;
}
#topRtNav a{
padding-left: 5px !important;
}

.topRtNav ul li {
	display: inline;
	float: left;
	font-size: 11px;
	list-style: none outside none;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 18px;
	margin-left: 14px\9;
}
 .noMarginTn{
	margin-left:0px !important;
 }
.topRtNav a, .topRtNav a:hover {
	text-decoration:none !important;
	color:#333333 !important;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-transform:uppercase;
}
.activeTopNav {
	background-color:#EEEEEE !important;
	color:#000 !important;
}
.homeSearch {
	margin-left:1%;
}
.homeSearchImg {
    float: left;
    margin-left: 10px;
    margin-top: 6px;

}
.homeSearchBox {
	background-color: #FFFFFF !important;
	border: 1px solid #828282;
	color: #666666;
	float: left;
	height: 25px;
	margin-top: 0.5%;
	width: 320px;
	padding-left: 10px;
}
.homeSearchTxt {
	color: #FFF;
	font-weight: bold;
	margin-top: 1%;
	float: left;
	font-size: 14px;
	/*text-transform:uppercase;*/
	text-transform:none;
}
.selectedCountry {
	/*text-transform:uppercase;*/
	text-transform: none;
	font-weight:bold;
	color: #333333 !important;
	padding-left:5px;
}
.homeMainNav {
	/*background-color: #0085D5;*/
	box-sizing: initial !important;
	float: left;
	margin-top: 10px;
	padding-left: 38px;
	width: 1024px;
}
#homeHeaderDiv * ,#homeMainNavFix *{
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
.homeMainNav ul{
      margin:0;
      padding:0;
	  margin-left: -4px;
}
.mainMenuSpacing {
	padding-left:13px;
}
.homeMainNav ul li {
	display: inline;
	float: left;
	font-size: 16px;
	list-style: none outside none;
	margin-left: 11px;
	padding: 14px 11px 11px 0;
}
.homeMainNavRussia ul li {
	display: inline;
	float: left;
	font-size: 16px;
	list-style: none outside none;
	margin-left: 2px;
	padding: 14px 0px 11px 0;
}
.homeMainNav a {
	color:#F2F2F2 !important;
	text-decoration:none !important;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	text-transform:uppercase;
}
.activeSubLink {
	background-color:#eeeeee !important;
	color:#333333 !important;
}
.activeSubLink a {
	color:#333333 !important;
}
.activeSubLinkFix {
	background-color:#eeeeee !important;
}
.activeSubLinkFix a {
	color:#333333 !important;
}
#homeMainNavFix {
	min-width: 100%;
	width:1200px;
	background-color: #0085D5;
	background: rgba(0,133, 213,0.9);
	position:fixed;
	z-index:1000 !important;
	display:none;
	font-size:14px;
	line-height: 1.42857143;
	margin-top:0 !important;
	padding-left:5px !important;	
}
#homeMainNavFix ul li {
	font-size: 12px !important;
    	padding-top: 20px;
	margin-left: 4px !important;
}
#homeMainNav1Fix {
	margin-left:0 !important;
}
#homeMainNavFix ul {
	margin-top:0%;
}

.agilentFixedLogo {
	float: left;
	margin-bottom: 4px;
	margin-top: 7px;
	/*margin-right: 7px;*/ 
}
.seperatorBuy {
	margin-left: 3 !important;
	margin-right: 3 !important;
}
.cartNum {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 8px;
	text-align: center;
	margin:0 !important;
}
.displayNone {
	display:none;
}
.buyImg {
	margin-left: 0 !important;
	padding: 0.7% 0 0 1% !important;
	vertical-align: top;
}
.buyImgFix {
	margin-left: 0 !important;
	padding: 13px 0 0 10px !important;
	vertical-align: top;
}
/*.buy {
	padding-right:1% !important;
}*/
.topNavSubLink {
	background-color: #EEE;
	border: medium none #FFF;
	position: absolute;
	z-index: 4;
	width: 145px;
	box-shadow: 0px 3px 2px 1px rgba(136, 136, 136, 0.5);
	float: left;
	top: 30px !important;
	color: #0085d5 !important;
	clear:both !important;
	padding: 13px 25px 10px 0px !important;
}
#topRtNav1Links, #topRtNav3Links, #topRtNav4Links {
	display:none;
}
#topRtNav1Links li a, #topRtNav3Links li a, #topRtNav4Links li a {
	/*padding-left:6px !important;*/
}
.topRtNav4Links {
	width: 170px;
}
.topNavSubLink li {
	width:93%;
	padding-top:0px !important;
	padding-bottom:0px !important;
}
.topNavSubLink li a{
	padding-left:4px !important;
	margin-left:0px !important;
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	color: #0085d5 !important;
	line-height:15px;
	text-transform:none !important;
	 margin-bottom: 10px;
}
.topNavSubLink li a:hover,.topNavSubLink li a:active{
	color: #0085D5 !important;
	text-decoration:underline !important;
	font-weight:normal !important;
	font-size: 12px;
}
.topNavSubLink li a:visited{
	color:#672069 !important;
	font-weight:normal !important;
	font-size: 12px;
}
	#topRtNav3Links{ 
    width: 135px; 
	}
	.topNavSpain .topRtNav4SubLinks a
{
	margin-left:15px !important;
}
	.topNavRU .topRtNav4SubLinks a
{
	margin-left:15px !important;
}
	.topNavFR .topRtNav4SubLinks a

{
	margin-left:15px !important;
}
.name a, .name a:hover {
	color:#000 !important;
	font-weight:bold !important;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
 	color:#0085d5 !important;
 	text-transform: none !important;
}
.name{
	margin-bottom: 7px !important;
	margin-left: 9px;
	margin-top: 5px;
    	float: left;
}
.topRtNav4SubLinks {
	margin-left: 7px;
}
.topNavSubLink a{
display:inline-block;
}
.paddingTop{
	padding-top:5px !important;	
}
.moreButton {
    	margin-bottom: 10px;
    	margin-left: 20px !important;
   	margin-top: 15px;
	background-image:url("../cs/home_images/btn_more_EN_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_EN_normal.png*/;
	background-repeat:no-repeat;
	width:68px !important;
	height:36px;
	cursor:pointer;
	float:left;
}
.moreButton:hover {
	background-image:url("../cs/home_images/btn_more_EN_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_EN_hover.png*/;
	background-repeat:no-repeat;
}
.moreButton a{
	width:68px;
	height:36px;
}
.noBottomMargin {
	margin-bottom:0px;
}
.dropDownTriangle {
	background-image: url("../cs/home_images/header_arrow_dropdown.png")/*tpa=http://www.agilent.com/cs/home_images/header_arrow_dropdown.png*/;
       cursor: pointer;
	float: right;
	margin-left: 3px;
	margin-top: 3px;
	width: 9px;
	height: 5px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.noMargin {
	margin-left:7px !important;
}
.homeMainNav1SubMenu {
    background-color: #EEEEEE;
    border: medium none #FFFFFF;
    box-shadow: 0px 3px 2px 1px rgba(136, 136, 136, 0.5);
    float: left;
    margin-top: 10px;
    padding-bottom: 1%;
    padding-top: 1.5%;
    position: absolute;
    width: 880px;
    z-index:1000 !important;
}
.homeMainNav8SubMenu {
	width: 560px;
	padding-bottom: 34px;
	background-color:#eeeeee;
	border: medium none #FFF;
	position: absolute;
	z-index: 1000 !important;
	box-shadow: 0px 3px 2px 1px rgba(136, 136, 136, 0.5);
	float: left;
	margin-top: 10px;
	padding-top: 1%;
}

.homeMainNav8ItemsTpMargin{
	margin-top:58px !important;
}

.homeMainNav8ItemsTpMarginFix{
	margin-top:55px !important;
}

.homeMainNav8li {
	margin-left: 5px !important;
	/* margin-bottom: 4px; */
	margin-top: 10px;
}

.homeMainNav8liFix {
	margin-left: 0 !important;
	margin-bottom: 8px;
	margin-top: 10px;
}
.homeMainNav2SubMenu {
	width: 510px;
	padding-bottom: 1%;
	background-color:#eeeeee;
	border: medium none #FFF;
	position: absolute;
	z-index: 1000 !important;
	box-shadow: 0px 3px 2px 1px rgba(136, 136, 136, 0.5);
	float: left;
	margin-top: 10px;
	padding-top: 1%;
}
.homeMainNav4SubMenu {
	width: 256px;
	padding-bottom: 1%;
	background-color:#eeeeee;
	border: medium none #FFF;
	position: absolute;
	z-index:1000 !important;
	box-shadow: 0px 3px 2px 1px rgba(136, 136, 136, 0.5);
	float: left;
	margin-top: 10px;
	padding-top: 1%;
}
.homeMainNav6SubMenu {
	width: 190px;
	padding-bottom: 1%;
	background-color:#eeeeee;
	border: medium none #FFF;
	position: absolute;
	z-index: 1000 !important;
	box-shadow: 0px 3px 2px 1px rgba(136, 136, 136, 0.5);
	float: left;
	margin-top: 10px;
	padding-top: 1%;
}
.homeMainNav6Items li {
	margin-left:8% !important;
}
.homeMainNav6Items p {
	margin-bottom: 0;
    	margin-left: 5%;
    	margin-top: 0;
    	padding-top: 0;
}
#homeMainNav1Links, #homeMainNav2Links, #homeMainNav3Links, #homeMainNav4Links, #homeMainNav5Links, #homeMainNav6Links,#homeMainNav8Links {
	display:none;
}
.homeMainNav1Items {
   	float: left;
    	margin-left: 10px !important;
    	margin-right: 25px !important;
	margin-bottom:10px !important;
   	width: 250px;
}
.homeMainNav1Items li, .homeMainNav2Items li, .homeMainNav3Items li, .homeMainNav4Items li, .homeMainNav5Items li, .homeMainNav6Items li, .homeMainNav8Items li {
	width:100% !important;
	margin-left: 12px;
	padding-bottom: 0px !important;
	padding-left: 3px !important;
	padding-top: 0px !important;
}
.homeMainNav8Items {
		float: left;
    	margin-left: 5px !important;
    	margin-right: 15px !important;
		margin-bottom:10px !important;
    	width: 250px;
}

.homeMainNav8ItemsTopMargin{
		float: left;
    	margin-left: 5px !important;
    	margin-right: 15px !important;
		margin-bottom:10px !important;
    	width: 210px;
		margin-top:50px !important;
}
.homeMainNav2Items {
	float: left;
    	margin-left: 5px !important;
    	margin-right: 15px !important;
	margin-bottom:10px !important;
    	width: 210px;
}
.homeMainNav3Items {
    	float: left;
    	font-weight: normal;
    	margin-bottom: 10px !important;
    	margin-left: 15px !important;
    	margin-right: 15px !important;
    	width: 210px;
}
.homeMainNav4Items, .homeMainNav5Items {
	float: left;
	margin-left: 10px;
	margin-bottom:10px !important;
	font-weight:bold;
}
.homeMainNav6Items {
    float: left;
    margin-bottom: 5px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.homeMainNav4Items li, .homeMainNav5Items li, .homeMainNav6Items li {
	width: 90% !important;
}
.homeMainNav2Items li a,.homeMainNav4Items li a,.homeMainNav5Items li a,homeMainNav8Items li a {
	font-weight:bold;
}
.columnsSample {
	width:30%;
	float:left;
}
.productServicesLinks {
	margin-left:2%;
	margin-top: 1%;
	margin-bottom:1%;
}
.homeMainNav1Items a, .homeMainNav2Items a, .homeMainNav3Items a, .homeMainNav4Items a, .homeMainNav5Items a, .homeMainNav6Items a, .homeMainNav8Items a, .homeMainNav1Items1 a {
	color:#0085d5!important;
	font-size:12px !important;
	text-transform:capitalize;
	text-transform:none;
	line-height: 15px !important;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	display:inline-block;
	margin:3px 0px;
}
.homeMainNav1Items a:hover, .homeMainNav2Items a:hover, .homeMainNav3Items a:hover, .homeMainNav4Items a:hover, .homeMainNav5Items a:hover, .homeMainNav6Items a:hover, .homeMainNav8Items a:hover,.homeMainNav1Items1 a:hover{
	color:#0085D5 !important;
	text-decoration:underline !important;
}
.homeMainNav1Items a:active, .homeMainNav2Items a:active, .homeMainNav3Items a:active, .homeMainNav4Items a:active, .homeMainNav5Items a:active, .homeMainNav6Items a:active,.homeMainNav8Items a:active,.homeMainNav1Items1 a:active{
	color:#0085D5!important;
	text-decoration:underline !important;
}
.homeMainNav1Items a:visited, .homeMainNav2Items a:visited, .homeMainNav3Items a:visited, .homeMainNav4Items a:visited, .homeMainNav5Items a:visited, .homeMainNav6Items a:visited,.homeMainNav8Items a:visited, .homeMainNav1Items1 a:visited{
	color:#672069 !important;
}
.homeMainNav6Items a, .homeMainNav4Items a {
	text-transform:none !important;
}
.mainSubMenuHr {
	color: #4C4C4C !important; 
	background-color:#4C4C4C !important; 
	border:none !important; 
	height:1px !important;
	float: left;
	margin-left: 10px;
	width: 94%;
	margin-top:10px !important;
	margin-bottom:10px !important;
}
.highlightHr {
	float: left;
    	margin-top: 0%;
	margin-bottom: 20px;
	width: 100%;
    	color: #CFCFCF !important;
	background-color:#cfcfcf !important;
	border:none !important;
	height: 1px !important; 
}
.homeAutoSearch {
	background-color:#EEEEEE;
	box-shadow: 3px 3px 3px #888888;
	color: #666;
	float: left;
	margin-top: 1.8%;
	position: absolute;
	width: 22.87%;
	z-index: 4;
	font-weight:normal;
	font-size:12px;
	line-height:1;
	display:none;
}
.homeAutoSearch li {
	width:96%;
	border-bottom: 0.5px solid #CCC;
	padding-left: 1% !important;
}
#homeMainNav1LinksFix ul li a,#homeMainNav3LinksFix ul li a,#homeMainNav6LinksFix ul li a,#homeMainNav8LinksFix ul li a {
    margin-left: 18px;
}
#homeMainNav1Links ul li a,#homeMainNav3Links ul li a,#homeMainNav6Links ul li a,#homeMainNav8Links ul li a {
    margin-left: 8px;
}
.title a {
	font-weight:bold !important;
	color:#0085d5 !important;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px !important;
	margin-left: 10px !important;
}
#homeMainNav2LinksFix ul,#homeMainNav4LinksFix ul,#homeMainNav5LinksFix ul{
	margin-left: 18px !important;
}

/*Styles for Highlights*/
.homeHighlightsDiv {
	margin-top: 2%;
	width: 738px;
	float:left;
	margin-bottom: 2%;
	margin-right: 42px;
}
.homeHightlight {
	color: #333333 !important;
	text-transform: uppercase;
	font-size: 29px !important;
	margin-top: 0px;
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: normal;
	font-style:normal;
       margin-bottom: 10px;
}
img.hightlightImgIP:hover{
 	-moz-box-shadow: 0px 0px 5px #666; 
	-webkit-box-shadow: 0px 0px 5px #666; 
	box-shadow: 0px 0px 5px #666; 
}
.findMore {
       margin-top: 0px !important;
}
.highlightOne {
	float: left;
       margin-right: 42px;
       text-decoration: none;
       width: 218px;
}
.noRtMargin {
	margin-right:0 !important;
}
.highlightsTopic {
    color: #414141;
    font-family:  Zurich,Arial,Helvetica,sans-serif !important;
    font-size: 19px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 0;
    margin-top: 25px;
    text-transform: uppercase;
    width: 100%;
}
.highlightsText {
	color: #808080;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 15px;
    width: 100%;
}
.findMore a {
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: bold;
	font-style:normal;
	color: #008FD5;
	font-size: 14px;
	margin-top: 1%;
	text-transform: uppercase;
	width: 100%;
	text-decoration:none;
	font-weight:bold;
}
.findMore a:hover,.findMore a:active{
       color:#0085D5;
	text-decoration:underline;
}
.findMore a:visited{
       color:#672069;
}
.highlightContent {
	font-weight: normal;
}
.homeNewsDiv {
	float: left;
	margin-top: 2%;
	width: 242px;
}
.homeNewsDiv ul li {
	float: left;
	list-style: none outside none;
	margin-bottom: 2%;
	margin-top: 1%;
	text-decoration: none;
}
.newsTxt a, .newsTxt {
	color:#0085d5;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration:none;
}
.newsTxt a:hover,.newsTxt a:active{
	color:#0085d5;
	text-decoration:underline;
}
.newsTxt a:visited{
	color:#672069 !important;
}
.newsDate {
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
	font-weight:normal;
	font-size:12px;
	float: left;
	width: 100%;
	color:#808080;
}
.betterWorld {
	margin-top:10px !important;
}
.highlightsNewsDiv {
	width:100%;
	float:left;
}
/*End of Highlights*/
/*Styles for Featured Events*/
.featuredEventDiv {
	background-color: #EEEEEE;
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	width: 1200px;
	padding-bottom: 30px;
}
.homeFeaturedEvents {
	background-color: #EEEEEE;
	color: #414141;
	margin-top: 1%;
	width: 1024px;
	padding: 2% 0;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
}
.homeFeaturedEvents a {
	color: #0085d5;
	text-decoration:none;
}
.homeFeaturedEventsLt {
	float:left;
	width:512px;
}
.month {
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: bold;
	font-style:normal;
	float:left;
	color: #0085d5;
	font-size: 25px !important;
	/*text-transform: uppercase;*/
	text-transform: none;
}
.evnetNo {
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: normal;
	font-style:normal;
	clear: both;
	color: #0085D5;
	float: left;
	font-size: 167px !important;
	line-height: 77%;
	width: 90%;
	margin-top: 10px;
}
.eventTitle {
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: bold;
	font-style:normal;
	line-height: 33px;
	color: #0085D5;
	float: left;
	font-size: 25px;
	/*text-transform: uppercase;*/
	text-transform: none;
	width: 100%;
	margin-top: 15px;
}
.eventLoc {
	color: #414141;
	float: left;
	font-style: italic;
	/*text-transform: capitalize;*/
	text-transform: none;
	width: 100%;
	margin-top: 0;
}
.leftSection{
	font-size:19px !important;  /*Add this class to the HTML template*/
}
.eventLocation {
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: bold;
	font-style:italic;
	margin-left:2%;
	font-size: 19px;
	color:#414141;
}
.eventDetails {
	color: #808080;
    	float: left;
    	font-size: 12px;
    	width: 86%;
    	font-family:Arial,Helvetica,sans-serif;
    	margin-top: 5px;
    	line-height: 18px;
}
.eventsReadMore {
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: bold;
	font-style:normal;
	float: left;
	width:100%;
	color:#0085d5;
	text-transform:uppercase;
	margin-top: 1%;
	font-size: 14px;
}
.homeFeaturedEventsRt {
	float: left;
	width: 512px;
	margin-top: 0.5%;
}
.upComingEvents {
	float: left;
	text-align: center;
	width: 105px;
}
.upEventMonth {
	color: #0085D5;
	font-size: 14px;
	text-transform: uppercase;
	width: 100%;
	float:left;
}
.upEventMonth a {
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: bold;
	font-style:normal;
	font-size:14px;
}
.upEventNo {
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: normal;
	font-style:normal;
	font-size:54px;
	color: #0085D5;
	line-height: 51px;
}
.eventsSeperator {
	float:left;
	margin-top: 1%;
}
.comingEvents {
	float: left;
	margin-left: 24px;
	width: 368px;
}
.comingEventsTitle {
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: bold;
	font-style:normal;
	line-height:25px;
	color: #0085D5;
	float: left;
	font-size: 18px;
	text-transform: uppercase;
	width: 100%;
	margin-bottom: 0.5%;
}
.comingEventsLoc {
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: bold;
	font-style:italic;
	color: #414141;
	font-style: italic;
	/*text-transform: capitalize;*/
	text-transform: none;
	margin-left:1%;
	float:left;
	font-size: 14px;
}
.flag {
	float:left;
	margin-top:2px;
}
.comingEventsDetails {
	color: #808080;
    	float: left;
    	font-size: 12px;
    	width: 100%;
    	font-family: Arial,Helvetica,sans-serif;
    	margin-top: 10px;
    	line-height: 18px;
}
.homeUpComingEvents {
	float: left;
	margin-bottom: 2%;
}
.eventMoreButton{
    cursor: pointer;
    float: left;
    height: 36px;
    margin-bottom: 10px;
    margin-left: 130px !important;
    margin-top: 5px;
    width: 68px;
}
.eventMoreButtonEN{
    background-image: url("../cs/home_images/btn_more_EN_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_EN_normal.png*/;
    background-repeat: no-repeat;
}
.eventMoreButtonEN:hover{
	background-image: url("../cs/home_images/btn_more_EN_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_EN_hover.png*/;
}
.eventMoreButtonDE{
    background-image: url("../cs/home_images/btn_more_DE_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_DE_normal.png*/;
    background-repeat: no-repeat;
}
.eventMoreButtonDE:hover{
	background-image: url("../cs/home_images/btn_more_DE_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_DE_hover.png*/;
}
.eventMoreButtonES{
    background-image: url("../cs/home_images/btn_more_ES_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_ES_normal.png*/;
    background-repeat: no-repeat;
}
.eventMoreButtonES:hover{
	background-image: url("../cs/home_images/btn_more_ES_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_ES_hover.png*/;
}
.eventMoreButtonFR{
    background-image: url("../cs/home_images/btn_more_FR_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_FR_normal.png*/;
    background-repeat: no-repeat;
}
.eventMoreButtonFR:hover{
	background-image: url("../cs/home_images/btn_more_FR_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_FR_hover.png*/;
}
.eventMoreButtonCH{
    background-image: url("../cs/home_images/btn_more_CH_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_CH_normal.png*/;
    background-repeat: no-repeat;
}
.eventMoreButtonCH:hover{
	background-image: url("../cs/home_images/btn_more_CH_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_CH_hover.png*/;
}
.eventMoreButtonJP{
    background-image: url("../cs/home_images/btn_more_JP_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_JP_normal.png*/;
    background-repeat: no-repeat;
    width:88px;
}
.eventMoreButtonJP:hover{
	background-image: url("../cs/home_images/btn_more_JP_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_JP_hover.png*/;
}
.eventMoreButtonKR{
    background-image: url("../cs/home_images/btn_more_KR_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_KR_normal.png*/;
    background-repeat: no-repeat;
    width:88px;
}
.eventMoreButtonKR:hover{
	background-image: url("../cs/home_images/btn_more_KR_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_KR_hover.png*/;
}
.eventMoreButtonVT{
    background-image: url("../cs/home_images/btn_more_VT_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_VT_normal.png*/;
    background-repeat: no-repeat;
}
.eventMoreButtonVT:hover{
	background-image: url("../cs/home_images/btn_more_VT_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_VT_hover.png*/;
}
.eventMoreButtonBR{
    background-image: url("../cs/home_images/btn_more_PT-BR_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_PT-BR_normal.png*/;
    background-repeat: no-repeat;
}
.eventMoreButtonBR:hover{
	background-image: url("../cs/home_images/btn_more_PT-BR_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_PT-BR_hover.png*/;
}
.eventMoreButtonRU{
    background-image: url("../cs/home_images/btn_more_RU_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_RU_normal.png*/;
    background-repeat: no-repeat;
}
.eventMoreButtonRU:hover{
	background-image: url("../cs/home_images/btn_more_RU_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_RU_hover.png*/;
}
.eventMoreButtonIT{
    background-image: url("../cs/home_images/btn_more_IT_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_IT_normal.png*/;
    background-repeat: no-repeat;
}
.eventMoreButtonIT:hover{
	background-image: url("../cs/home_images/btn_more_IT_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_IT_hover.png*/;
}
.eventMoreButtonTW{
    background-image: url("../cs/home_images/btn_more_TW_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_TW_normal.png*/;
    background-repeat: no-repeat;
}
.eventMoreButtonTW:hover{
	background-image: url("../cs/home_images/btn_more_TW_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_TW_hover.png*/;
}


.homeFeaturedEvents a:hover,.homeFeaturedEvents a:active,.month a:hover,.month a:active{
	color: #0085d5;
	text-decoration:underline;
}
.evnetNo a{
	text-decoration:none !important;
}
.homeFeaturedEvents a:visited{
	color:#672069 !important;
}
/*End of Featured Events*/


/*Styles for SocialBar*/
.homesocialBarDiv {
	min-width: 100%;
	width:1200px;
	clear:both;
	background-color:#0085d5;
	margin:0 auto;
	overflow:hidden;
	height:58px;
}
.homeSocialBar {
	background-color: #0085D5;
	margin: 0 auto;
	overflow: hidden;
	width: 1024px;
}
.homeSocialBar ul{
padding:0;
margin:0px;
}
.homeSocialBar ul li {
	list-style:none;
	display:inline;
	float:left;
}

.homeSocialBar ul li:first-child img
{
position:relative;
top:2.5px;
}
/*End*/

/*Style for footer*/
.homeFooter {
	clear: both;
	min-width: 100%;
	width:1200px;
	overflow: hidden;
	background-color:#333333 !important;
	padding-bottom: 20px;
}
.homeFooter ul{
       padding:0;
}
.footerContent {
	width:1024px;
	margin:0 auto;
	padding-top:30px;
	padding-bottom:20px;
}
.aboutAglientDiv, .resourseDiv {
	float:left;
	width:17%;
}
.shoppingTools {
	float:left;
	width: 16%;
}
.aboutAglientDiv ul li, .resourseDiv ul li, .shoppingTools ul li {
	list-style:none;
	width:100%;
	float:left;
}
.aboutAglientDiv span, .resourseDiv span, .shoppingTools span {
	color:#aaaaaa;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;
	float:left;
    margin-bottom: 13px;
}
.aboutAglientDiv a, .resourseDiv a, .shoppingTools a {
	color: #FFFFFF !important;
	float: left;
	line-height: 15px;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	color:#FFFFFF;
	margin:3px 0px;
}
.aboutAglientDiv a:hover, .resourseDiv a:hover, .shoppingTools a:hover,.aboutAglientDiv a:active, .resourseDiv a:active, .shoppingTools a:active{
	text-decoration:underline;
}
/*.aboutAglientDiv a:visited, .resourseDiv a:visited, .shoppingTools a:visited{
	color:#FFFFFF !important;
}*/
.aboutAglientLine, .resoursesLine, .shoppingLine, .supportLine {
   	color: #CFCFCF !important;
	background-color:#cfcfcf !important;
	border:none !important;
	height: 1px !important; 
   	float: left;
   	margin-bottom: 8px;
    	margin-top: 5px !important;
    	width: 100%;
}
.addressDiv {
	border-left: 2px dotted #CFCFCF;
    	float: left;
    	margin-left: 4%;
    	padding-left: 1.5%;
    	width: 20%;
}
.seperatorLine {
 	color: #cfcfcf !important; 
	background-color:#cfcfcf !important; 
	border:none !important; 
	float: left; 
	height: 1px !important; 
	width: 70%;
}
.keysightTxt {
	color: #999999;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px !important;
	width: 84%;
}
.divClear {
	clear:both;
}
.LogoFot {
	margin-left:10%;
}
.headQuatresAdd {
	color: #999;
    	float: left;
    	font-size: 13px;
   	 margin-left: 19%;
    	margin-top: 10px;
}
.otherSite a {
	color:#0085d5;
	text-decoration:none;
}
.otherSite a:hover,.otherSite a:active{
	text-decoration:underline;
}
.otherSite a:visited{
	color:#0085d5 !important;
}

.contactUs {
	margin-top:10%;
	margin-bottom:10%;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	color:#999999;
}
.mailImg {
	float: left;
	margin-top: 7px;
}
.locationImg {
	float: left;
	margin-top: 3px;
}
.mailTxt {
	
	margin-left: 39px;
	width: 91%;
	color:#0085d5;
	/*white-space:nowrap;*/
}
.mailTxt a
{
	color: #0085d5 !important;
	text-decoration:none;
}
.mailTxt a:hover,.mailTxt a:active
{
	text-decoration:underline !important;
}
.phoneImg {
	float: left;
	margin-top: 4px;
}
.phoneTxt {
	margin-left: 39px;
	width: 157px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	color:#999999;
}
.phoneTxt p {
	margin-bottom:0 !important;
	margin-top:0px;
	white-space:nowrap;
}
.phoneTxtBlue a{
	color:#0085d5 !important;
	text-decoration:none;
}
.phoneTxtBlue a:hover,.phoneTxtBlue a:active{
	color:#0085d5 !important;
	text-decoration:underline;
}
.legal {
	float: left;
	margin-top: 4%;
	width: 100%;
}
.legal ul {
	width:50%;
}
.legal ul li {
	list-style:none;
	display: inline;
}
.legal a {
	color: #999999 !important;
	text-decoration:none;
	font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}
.legal a:hover,.legal a:active{
	color: #999999 !important;
}
.legal ul li a:visited{
	color: #999999 !important;
}
.copyRight {
	float:right;
	color: #999999 !important;
	font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}
/*End*/

/*Style for privacy page*/
.privacyStatement {
	color: #444444;
	line-height: 1.3;
	padding-top: 10%;
	position: relative;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:12px;
	width: 1024px;
	margin:0 auto;
}
.privacyStatement a {
	color: #428BCA;
	text-decoration:none;
}
div#groupheading {
	border-bottom: 1px solid #B5B0AD;
	clear: both;
	margin-bottom: 15px;
	padding-bottom: 5px;
	margin-top: 10px;
}
div#groupheading span {
	color: #B5B0AD;
	font-size: 210%;
	margin: 0;
}
.extpop:after {
	background-position: -14px -151px;
	height: 10px;
	margin-top: 2px;
	width: 10px;
}
.intpop:after, .extpop:after {
	background: url("../cs/home_images/sprite.png")/*tpa=http://www.agilent.com/cs/home_images/sprite.png*/ no-repeat scroll -27px -151px rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	height: 8px;
	margin-top: 4px;
	position: absolute;
	width: 8px;
}
.intpop, .extpop {
	padding-right: 13px;
}
.privacyAreaList {
	margin-bottom:1%;
}
.privacyAreaList ul {
	list-style-type: disc;
}
.privacyAreaList ul li {
	margin-left:3%;
	margin-top:1%;
}
.notice {
	font-size: 130%;
	width:100%;
	float:left;
	font-weight:bold;
	margin: 1.25em 0 0.5em;
}
.noticeText {
	font-size: 120%;
	width:100%;
	float:left;
	font-weight:bold;
	margin: 1.25em 0 0.5em;
}
/*End of privacyStatement And terms of use*/

/*styles for select country*/

#countryselect td {
	padding: 0 2em 0 0;
	vertical-align: top;
	width: 25%;
}
.intro p, #intro p {
	margin: 0 0 1em;
}
#intro {
	margin: 0.75em 0;
}
.countryarea {
	font-size: 130%;
	line-height: 2px;
	margin-bottom: 8%;
	margin-top: 10%;
}
#countryselect ul {
	list-style-type: none;
	margin-left: 0;
	padding-bottom: 16px;
	padding-left: 0;
}
#countryselect li {
	line-height: 20px;
}
#countryselect a {
	color: #0085D5;
	cursor: pointer;
	text-decoration: none;
}
/*End of select country*/
/*Style for Hero banner*/
.heroBox {
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: normal;
	font-style: normal;
	font-size: 40px;
    line-height: 43px;
	left: 0px;
	color: #FFF;
	overflow: hidden;
	margin-bottom: 20px;
	opacity: 0.7;
	filter:alpha(opacity=60); /* For IE8 and earlier */
	position: absolute;
	text-transform: uppercase;
	padding-top: 40px;
	padding-left: 88px;
	background-color: #222222; 
	padding-right: 28px; 
	width: 484px; 
	margin-top: 218px; 
	max-height:230px;
}
.heroBox:hover {
	background-color: #222222;
	opacity:0.85;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
.heroBox div
{
	padding: 0;
	margin: 0;
	width: 100%;
	max-height:172px;
	overflow:hidden;
}
.heroBoxRU
{
	font-size: 28px;
   	line-height:35px;
}
.heroBoxJP
{
	font-size: 36px;
}
.heroBoxVN
{
	font-size: 36px;
}
.readMore {
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: bold;
	font-style:normal;
	color: #F2F2F2;
	float: left;
	font-size: 16px !important;
	text-transform: uppercase;
	width: 100%;
    	padding-left: 4px;
	top:7px;
	position:relative;
}
.bx-pager-item a {
	background: #333333;
	border:1px solid #FFF;
}
.defaultPagination ul li a.active, .bx-pager-link:hover {
	background-color:#0085d5 !important;
}
.bx-controls-direction {
	display:none;
}
.bx-controls {
	z-index:666;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom:188px !important;
	position: absolute !important;
	width: 13em !important;
	margin-left: 28px;
}
.bx-wrapper img {
max-width: 100%;
display: block;
height: 680px !important;
}

.navigationThumbnail {
    margin-bottom: 45px;
    margin-left: 87px;
    margin-top: 536px;
    position: absolute;
    width: 1024px;
    z-index: 1;
}
.navigationThumbnail ul li {
	background-color: #222222;
	display: inline;
	float: left;
	font-size: 16px;
	font-size: 14px\9;
	height: 110px;
	list-style: none outside none;
	text-transform: uppercase;
	width: 142px;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	cursor:pointer;
	text-align:center;
}
.navigationThumbnail ul li a {
	color:#FFF !important;
	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
	font-weight: bold;
	font-style:normal;
	font-size:17px;
	line-height:142px;
	text-decoration:none;
}
.lorem a{
	line-height:21px!important;
}
.navigationThumbnail ul li:hover {
	background-color:#0085d5;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}
.thumnailSeperator {
	float:left;
}
.lorem{
	margin-left:9px;
	line-height: 100px;
}
.lorem span{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#bx-pager a.active{
    background-color:#0085d5 !important;
  }
  
.navigationThumbnail ul a.active li  {
    background-color:#0085d5 !important;
    opacity:0.9;
    filter:alpha(opacity=90);
  }
 .navigationThumbnail ul a {
     	color: #FFFFFF !important;
    	font-family:  Zurich,Arial,Helvetica,sans-serif !important;
    	font-size: 17px;
    	font-style: normal;
   	font-weight: bold;
    	text-decoration: none;
	line-height: 142px;
}

.defaultPagination{
    margin-left: 82px;
    margin-top: 506px;
    position: absolute;
    z-index: 1;
}
.defaultPagination ul li{
                display: inline;
                float: left;
                list-style: none outside none;
                cursor:pointer;
                margin-left:5px;
}
.defaultPagination ul li a{
                background-color: #333;
                border: 1px solid #d1d1d1;
                text-decoration:none !important;
                moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                outline:0;
                text-indent: -9999px !important;
                float:left;
                width:10px;
                height:10px;
}

.homeLogo a img,.agilentFixedLogo a img,.buyImg a img,.buyImgFix a img,.homeSocialBar a img,.homeSearchImg a img,#newsMoreBtn img,.LogoFot a img{
	outline: none; !important;
	border:none !important;
}
img{
	outline: none; !important;
	border:none !important;
}

/*End for hero banner*/
/* Share Point Fixes */
#mainWrapper{
margin:auto;
background: #F6F6F6 !important;
	 
}
.galleryArea ul li {
    height: 200px;
}

/* End of Share Point Fixes */

/* ATG Fixes */
/* ATG fix*/
.noPrint .breadcrumb-bg {
    padding: 8px 27px !important;
}
.mrginBT10 .breadcrumb-bg {
    padding: 8px 27px !important;
}
/* Search Fix*/
.mbot20 .breadcrumb-bg {
    padding: 8px 5px 8px 25px !important;
}
/*
#bin{
padding-top:131px;
}

#container{
  padding-top:131px;
}
*/
/*.wrapper{
	/*padding-top:131px;*/
	padding-left:120px;
}*/
/* End of ATG Fixes */

/*Styles for localization*/
/*vietnam*/
.topNavVietnam{
width:470px !important;
}
/*.homeMainNavVN ul li{
margin-left: 0px !important;
}*/

.mainMenuSpacingVN {
padding-left: 11px !important;
}
.agilentFixedLogoVN {

margin-right: 19px !important;
}

.homeMainNavVN{

padding-left: 47px !important;
}

.seperatorLineVN {

width: 100% !important;

}

.phoneTxtVN
{
width:175px !important;
}

/*End*/





/*Brasil*/
/*header*/
.homeMainNavBR ul li{
margin-left: -3px !important;
}

.mainMenuSpacingBRNav5 {
    width: 98px !important;
}
.mainMenuSpacingBR
{
height:45px;
}
.homeMainNav1SubMenuBR ul li
{
margin-left: 12px !important;
}
.homeMainNav8SubMenuBR ul li
{
margin-left: 12px !important;
}.homeMainNav2SubMenuBR ul li
{
margin-left: 12px !important;
}
.homeMainNav3SubMenuBR ul li
{
margin-left: 12px !important;
}
.homeMainNav4SubMenuBR ul li
{
margin-left: 12px !important;
}
.homeMainNav5SubMenuBR ul li
{
margin-left: 12px !important;
}
.homeMainNav6SubMenuBR ul li
{
margin-left: 12px !important;
}

.agilentFixedLogoBR
{
/*margin-right:10px !important;*/
}

 

/*footer*/
.aboutAglientDivBR {
    width: 17%;
    margin-right: 10px;
}
.resourseDivBR {
    width: 14% !important;
    margin-left: 10px !important;
}
.shoppingToolsBR {
    width: 16% !important;
    margin-right: 10px;
}
.addressDivBR
{
width:15% !important;
}
.otherSiteBR
{
margin-right: 10px !important;

}


/*End*/
.heroBoxSP{
width: 490px;
}
.mainMenuSpacingSPNav
{
height:45px;
}

.mainMenuSPNav1
{
width:114px;

}
.mainMenuSPNav5
{
width:108px;

}
mainMenuSpacingSP
{
height: 45px;
}
.agilentFixedLogoSP
{
margin-right:16px !important;
}
/*footer*/
.aboutAglientDivSP {
    width: 17% !important;
    margin-right: 10px !important;
}
.resourseDivSP, .shoppingToolsSP {
    width: 15% !important;
    margin-right: 15px !important;
}
.addressDivSP
{
width:12% !important;
}
/*End*/

/*Russian*/
/*header*/

.homeMainNavFix1RU
{
width:102px;
}
.homeMainNav1RU{
	
	width:95px !important;

	
}

.homeMainNav3RU
{
	width: 124px !important;
}
.homeMainNav5RU
{
	width: 185px !important;
}
.homeMainNavRU{
	height: 40px;
}

.seperatorLineRU{

width: 100% !important;

}
/*footer:*/
.agilentDivRU {
    width: 17% !important;
    margin-right: 10px !important;
}
.resourceDivRU {
    width: 17% !important;
    margin-right: 10px !important;
}
.shopping1DivRU {
    width: 15% !important;
    margin-right: 10px !important;
}
.addressDivRU, .shopping2DivRU {
    width: 15% !important;
}

.phoneTxtRU{
width: 250px !important;
}
/*End*/

/*China*/

/*header:*/
.topNavCH ul li
{
padding-right:12% !important;
}
.homeMainNavCH{
margin-right: 50px !important;
}
/*Footer:*/
.seperatorLineCH
{
width:100% !important;
}
/*End*/
/*Japan*/
.seperatorLineJP
{
width:100% !important;
}

.topRtNavJP ul li {
padding-right: 4%;
}

.homeMainNavJP ul li
{
	margin-left: 7px !important;	
   	padding-left: 14px 20px 11px 0px !important;

}

.homeMainNavSubMenuJP ul li a{
	margin-left:11px !important;
}
.agilentDivJP, .shoppingDivJP {
    width: 16% !important;
    margin-right: 10px;
}
.resourceDivJP {
    width: 14% !important;
    margin-right: 10px;
}
.addressDivJP
{
width:19% !important;
}

/*End*/
/*Korean*/

/*header:*/
.topNavKR ul li
{
padding-right:12% !important;
}
.homeMainNavKR{
margin-right: 24px ;
}
/*Footer:*/
.seperatorLineKR
{
width:100% !important;
}
/*End*/

/*France*/
/*header*/
.homeMainNavFR ul li
{
 margin-left: 0px !important;
padding: 14px 8px 11px 0px !important;
}

.mainMenuNav1FR
{
width: 111px !important;
}
.mainMenuNav5FR
{
width: 124px !important;
}
.mainMenuNav2FR,.mainMenuNav3FR,.mainMenuNav4FR
{
height:45px !important;
}

.heroBoxFR{
width: 565px;
}

.seperatorLineFR
{

width: 100% !important;
}

/*End*/
/*header*/

.mainMenunav1IT,.mainMenunav5IT,.mainMenunav1ITFix,.mainMenunav5ITFix,.mainMenunav2IT,.mainMenunav3IT,.mainMenunav4IT

{
padding-left:8px !important;
}

/*body*/
.heroBoxIT{ width:572px;}

/* footer*/
.seperatorLineIT
{
width: 100% !important;
}
.abtAgilentDivIT {
    width: 17% !important;
}
.resourseDivIT {
    width: 17% !important;
	
}
.shopping1DivIT {
	margin-right: 40px !important; 
       width: 11.5% !important; 
}
.shopping2DivIT {
    width: 17% !important;
}
.addressDivIT
{
width: 19% !important; 
}

/*End*/

/*End*/

/*HeroBanner Start */


.thumbnailTxt {
    float: left;
    margin-top: -42px;
    width: 100%;
}
.tt-dropdown-menu {
    width: 328px !important;
    border: 1px solid #dce4ec;
    left: 1px;
    top: 31px !important;
    background: #f2f6f9;
    position: absolute !important;
    text-align: left;
}
/*End*/

/*search dropdown li BG-color on hover*/
.tt-is-under-cursor {
background: #dedede;
}
/*End*/

/* sight bar center alignment*/
.homeKeySight {
margin: 0 auto;
/*width: 1202px;*/
width: 1208px;
}

/*End*/

/* Added New Class on 22-Jun-2014:05:5 PM IST */
img.keySightImg {
margin-bottom: -4px;
}

/*Deutschland*/
.heroBoxDE{
width: 490px;
}
/*header*/

.mainMenunav1DE{
width: 125px !important;
margin-right: 20px !important;
padding-right:6px;
}
.mainMenunav5DE
{
width:130px !important;
margin-right: 20px !important;
padding-right:6px;
}
.mainMenunav1DEFix
{
width: 130px !important;
margin-right: 15px !important;
padding-right: 10px;
}
.mainMenunav3DE
{
width: 79px !important;
}
.mainMenunav5DEFix
{
width: 143px  !important;
margin-right: 10px !important;
}
.mainMenunav2DE,.mainMenunav4DE
{
height:45px !important;
}
/*footer*/
.seperatorLineDE
{
width:100% !important;
}

.phoneTxtDE
{
width:205px !important;
}



.agilentDivDE {
    margin-right: 9px;
    width: 16% !important;
}
.resourceDivDE {
    width: 18% !important;
    margin-rihgt:10px;
}
.shoppingDivDE {
    margin-left: 8px;
    width: 15% !important;
}
.addressDivDE
{
width: 20% !important;
}

.lastHighlight{
margin-right:0 !important;
}

/* Even More Button  */

.moreButtonEV a
{
	display: block;
	height: 100%;
	width: 100%;
}

/*

/* Select Country MorButton -- Germany Start */


.moreButtonDE {
    	margin-bottom: 10px;
    	margin-left: 20px !important;
   	margin-top: 15px;
	background-image:url("../cs/home_images/btn_more_DE_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_DE_normal.png*/;
	background-repeat:no-repeat;
	width:68px !important;
	height:36px;
	cursor:pointer;
	float:left;
}
.moreButtonDE:hover {
	background-image:url("../cs/home_images/btn_more_DE_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_DE_hover.png*/;
	background-repeat:no-repeat;
	float:left;
}
.moreButtonDE a{
	width:68px;
	height:36px;
}

/* Select Country MorButton -- Germany End */

/* Select Country MorButton  -- Spain Start */

.moreButtonES {
    	margin-bottom: 10px;
    	margin-left: 20px !important;
   	margin-top: 15px;
	background-image:url("../cs/home_images/btn_more_ES_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_ES_normal.png*/;
	background-repeat:no-repeat;
	width:68px !important;
	height:36px;
	cursor:pointer;
	float:left;
}
.moreButtonES:hover {
	background-image:url("../cs/home_images/btn_more_ES_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_ES_hover.png*/;
	background-repeat:no-repeat;
	float:left;
}
.moreButtonES a{
	width:68px;
	height:36px;
}

/* Select Country MorButton  -- Spain End */

/* Select Country MorButton  -- France Start */

.moreButtonFR {
    	margin-bottom: 10px;
    	margin-left: 20px !important;
   	margin-top: 15px;
	background-image:url("../cs/home_images/btn_more_FR_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_FR_normal.png*/;
	background-repeat:no-repeat;
	width:68px !important;
	height:36px;
	cursor:pointer;
	float:left;
}
.moreButtonFR:hover {
	background-image:url("../cs/home_images/btn_more_FR_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_FR_hover.png*/;
	background-repeat:no-repeat;
	float:left;
}
.moreButtonFR a{
	width:68px;
	height:36px;
}

/* Select Country MorButton  -- France End */

/* Select Country MorButton  -- China Start */

.moreButtonCH {
    	margin-bottom: 10px;
    	margin-left: 20px !important;
   	margin-top: 15px;
	background-image:url("../cs/home_images/btn_more_CH_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_CH_normal.png*/;
	background-repeat:no-repeat;
	width:68px !important;
	height:36px;
	cursor:pointer;
	float:left;
}
.moreButtonCH:hover {
	background-image:url("../cs/home_images/btn_more_CH_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_CH_hover.png*/;
	background-repeat:no-repeat;
	float:left;
}
.moreButtonCH a{
	width:68px;
	height:36px;
}

/* Select Country MorButton  -- china End */

/* Select Country MorButton  -- Japan Start */

.moreButtonJP {
    	margin-bottom: 10px;
    	margin-left: 20px !important;
   	margin-top: 15px;
	background-image:url("../cs/home_images/btn_more_JP_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_JP_normal.png*/;
	background-repeat:no-repeat;
	width:88px !important;
	height:36px;
	cursor:pointer;
	float:left;
}
.moreButtonJP:hover {
	background-image:url("../cs/home_images/btn_more_JP_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_JP_hover.png*/;
	background-repeat:no-repeat;
	float:left;
}
.moreButtonJP a{
	width:68px;
	height:36px;
}

/* Select Country MorButton  -- Japan End */

/* Select Country MorButton  -- Korea Start */

.moreButtonKR {
    	margin-bottom: 10px;
    	margin-left: 20px !important;
   	margin-top: 15px;
	background-image:url("../cs/home_images/btn_more_KR_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_KR_normal.png*/;
	background-repeat:no-repeat;
	width:88px !important;
	height:36px;
	cursor:pointer;
	float:left;
}
.moreButtonKR:hover {
	background-image:url("../cs/home_images/btn_more_KR_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_KR_hover.png*/;
	background-repeat:no-repeat;
	float:left;
}
.moreButtonKR a{
	width:68px;
	height:36px;
}

/* Select Country MorButton  -- Korea End */

/* Select Country MorButton  -- Vietnam Start */

.moreButtonVI {
    	margin-bottom: 10px;
    	margin-left: 20px !important;
   	margin-top: 15px;
	background-image:url("../cs/home_images/btn_more_VT_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_VT_normal.png*/;
	background-repeat:no-repeat;
	width:68px !important;
	height:36px;
	cursor:pointer;
	float:left;
}
.moreButtonVI:hover {
	background-image:url("../cs/home_images/btn_more_VT_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_VT_hover.png*/;
	background-repeat:no-repeat;
	float:left;
}
.moreButtonVI a{
	width:68px;
	height:36px;
}

/* Select Country MorButton  -- Vietnam End */

/* Select Country MorButton  -- Brasil Start */

.moreButtonPT {
    	margin-bottom: 10px;
    	margin-left: 20px !important;
   	margin-top: 15px;
	background-image:url("../cs/home_images/btn_more_PT-BR_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_PT-BR_normal.png*/;
	background-repeat:no-repeat;
	width:68px !important;
	height:36px;
	cursor:pointer;
	float:left;
}
.moreButtonPT:hover {
	background-image:url("../cs/home_images/btn_more_PT-BR_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_PT-BR_hover.png*/;
	background-repeat:no-repeat;
	float:left;
}
.moreButtonPT a{
	width:68px;
	height:36px;
}

/* Select Country MorButton  -- Brasil End */

/* Select Country MorButton  -- Russia Start */

.moreButtonRU {
    	margin-bottom: 10px;
    	margin-left: 20px !important;
   	margin-top: 15px;
	background-image:url("../cs/home_images/btn_more_RU_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_RU_normal.png*/;
	background-repeat:no-repeat;
	width:68px !important;
	height:36px;
	cursor:pointer;
	float:left;
}
.moreButtonRU:hover {
	background-image:url("../cs/home_images/btn_more_RU_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_RU_hover.png*/;
	background-repeat:no-repeat;
	float:left;
}
.moreButtonRU a{
	width:68px;
	height:36px;
}

/* Select Country MorButton  -- Russia End */

/* Select Country MorButton  -- Italy Start */

.moreButtonIT {
       margin-bottom: 10px;
    	margin-left: 20px !important;
   	margin-top: 15px;	background-image:url("../cs/home_images/btn_more_IT_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_IT_normal.png*/;
	background-repeat:no-repeat;
	width:68px !important;
	height:36px;
	cursor:pointer;
	float:left;
}
.moreButtonIT:hover {
	background-image:url("../cs/home_images/btn_more_IT_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_IT_hover.png*/;
	background-repeat:no-repeat;
	float:left;
}
.moreButtonIT a{
	width:68px;
	height:36px;
}

/* Select Country MorButton  -- Italy End */


/* Select Country MorButton  -- Taiwan Start */

.moreButtonTW {
    	margin-bottom: 10px;
    	margin-left: 20px !important;
   	margin-top: 15px;
	background-image:url("../cs/home_images/btn_more_TW_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_TW_normal.png*/;
	background-repeat:no-repeat;
	width:68px !important;
	height:36px;
	cursor:pointer;
	float:left;
}
.moreButtonTW:hover {
	background-image:url("../cs/home_images/btn_more_TW_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_TW_hover.png*/;
	background-repeat:no-repeat;
	float:left;
}
.moreButtonTW a{
	width:68px;
	height:36px;
}

/* Select Country MorButton  -- Taiwan End */

/*Top Right Navigation for vietnam*/
.topRtNavVN {
    float: left;
    margin-left: 35px;
    width: 477px;
}
.topNavSubLinkVN{
width: 157px;
}

/*Top right Navigation for brazil*/
.topRtNavBR {
    float: left;
    margin-left: 72px;
    width: 449px;
}

/*Top right Navigation for Russia*/

.topNavRU{
    margin-left: 49px;
    width: 471px;
}
.topNavRU ul li {
    	margin-left: 4px ;
}
.topNavSubLinkRU{
    padding-left: 18px !important;
    width: 163px !important;
    
}

/*Top right Navigation for DutchLand*/

.homeMainNavDE ul li {
    margin-left: 10px;
}
/*Top right Navigation for France*/
.topRtNavFR {
    float: left;
    margin-left: 34px !important;
    width: 474px;
}
.topRtNavFR ul li {
    	margin-left: 9px;
}
.topNavSubLink3FR li{
padding-left: 10px !important;
}

/*Top right Navigation for Spain*/
.topNavSpain {
    margin-left: 23px;
    width: 484px !important;
}
.topNavSpain ul li {
    margin-left: 0;
}
.topNavSubLinkFR{
padding-left: 15px !important;
}
.topNavSubLink3SP li
{
padding-left: 20px !important;
}
/*Top right Navigation for Italia*/

.topRtNavIT {
    float: left;
    margin-left: 102px;
    width: 449px;
}
.arrowImg{
	background-image: url("../cs/home_images/21body_CTA_carrot.png")/*tpa=http://www.agilent.com/cs/home_images/21body_CTA_carrot.png*/;
    background-position: 2px 4px;
    background-repeat: no-repeat;
    height: 12px;
    padding-left: 77px;
    width: 11px;
}
.moreBtnNews{
	background-image: url("../cs/home_images/btn_more_EN_normal.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_EN_normal.png*/;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 36px;
    margin-bottom: 5px;
    width: 68px;
}
.moreBtnNews:hover{
	background-image: url("../cs/home_images/btn_more_EN_hover.png")/*tpa=http://www.agilent.com/cs/home_images/btn_more_EN_hover.png*/;
	cursor: pointer;
	height: 36px;
    	margin-bottom: 5px;
    	width: 68px;
}
.thumbnailSpan span{
	margin-top: 64px;
	line-height: 18px;
	font-size: 15px;
	display:block;
}

.title{
	margin-left:3px !important;
}
.title + li
{
margin-top:10px !important;

}

.homeGlobalHeader {
    background-color: #0085D5; 
    background: rgba(0,133, 213,0.9);
    min-width: 100%;
    width: 1200px;
    display: inline-block;
}
.homeGlobalMainNavFix {
   top: 0 !important;
    /*position: fixed !important;*/
}
#topRtNav0,#topRtNav3,#topRtNav{
display:none;
}
/*Start of code changes for Sapphire CR*/ 	 	
.countryLanguageList li { 	 	
	list-style-type: disc; 	 	
} 	 	 	 	
.countryLanguageList { 	 	
	padding-bottom: 5px ! important; 	 	
	padding-left: 22px ! important; 	 	
} 	
/*End of code changes for Sapphire CR*/
