/* Typeahead */

.tt-dropdown-menu {
    background: #f2f6f9;
    border: 2px solid #dce4ec;
    width: 295px;
    /*right: -48px !important;*/
    position: absolute !important;
    top: 29px !important;    
    text-align: left;
}

.Explorer8 .tt-dropdown-menu {
    background: none repeat scroll 0 0 #F2F6F9;
    border: 2px solid #DCE4EC;
    width: 350px;
}
.browserIE .tt-dropdown-menu {
    right: -52px !important;
}
.tt-dropdown-menu h3 {
    padding: 5px 10px 2px 10px;
    margin: 0;
    font-size: 18px;
}

.tt-suggestions {
}

.tt-suggestion {
    padding: 5px 10px 2px 15px;
    margin: 0;
    border-bottom: 1px solid #dce4ec;
}

.tt-is-under-cursor {
    background: lightblue;
}

.tt-dropdown-menu div {
    float: none;
}

.tt-hint {
    display:none;
}

*:focus {outline: 0}
