/*
|
| TITLE:	CBS Corporate Location Bar
| DESC:		Includes the left bar global styles
| AUTHOR:	Alex Baillargeon
|			
| EMPLOYED:	PDG Creative, http://www.pdgcreative.com 	
| 
| CREATED:	January 20, 2009
| MODIFIED: 
|
*/

	#locCont{
		float:left;
		width:250px;
		padding-right:20px;
	}
	
		#locCont h2{
			font-size:18px;
			color:#004289;
			font-weight:normal;
		}
	
		#localNavCont{
			padding:11px 0;
			
		}
		
			#localNavCont select{
				border:1px solid #CCCCCC;
				margin-left:2px;
				padding:2px;
				width:143px;				
			}
		
			#localNavCont ul{
				list-style-type:none;
			}
			
				#localNavCont ul li{
					padding:4px 0;
				}
					#localNavCont ul ul {
						margin:0px 0 0px 10px;
					}
					
					#localNavCont ul li a{
						/*color:#002446;*/
						font-size:14px;
					}
						#localNavCont ul ul li a {
							font-size:12px;
						}
						#localNavCont ul li a:hover {
							text-decoration: underline;
							border: none;
						}
						
						ul.map ul li a small {
							font-size:12px;
						}
		
		#picLinksCont{
			border-top:1px solid #00346e;
			margin-right:73px;
			padding:6px 0;
		}
		
			#picLinksCont div.picLink{
				float:left;
				width:100%;
				padding:9px 0;
			}
			
				#picLinksCont div.picLink img{
					border:1px solid #adadaf;
					margin:1px 5px 1px 1px;
				
					float:left;
				}
			
				#picLinksCont div.picLink h4{
					font-weight:normal;
					font-size:14px;
					height:50px;
				}
				
					#picLinksCont div.picLink h4 a{
						color:#002446;
						line-height:50px;
					}
			
				
		
		#contactInfoCont{
			border-top:1px solid #004289;
			margin-right:73px;
			padding:6px 0;
		}
		
			#contactInfoCont h3{
				font-size:18px;
				color:#004289;
				padding:4px 0;
				font-weight:normal;
			}

			#contactInfoCont p{
				font-size:12px;
				color:#333333;
				padding:4px 0;
				line-height:150%;
			}	
			
			
			
		#signupButtons{
			border-top:1px solid #00346e;
			margin-right:73px;
			padding:6px 0;
		}
