.ie-menu-fix {
	height:100%;
	width:5px;
	padding-left:3px;
	display:block;
	float:right;
}
.menu li {
	display:block;
    position:relative;
	float:left;
    padding:4px 12px;
    width:94px;
    z-index:100;
}
.menu li a:hover {
	text-decoration:none;
}
#topNav .menu li {
    width:80px;
	padding-left:0px;
}
.menu li.menu-1 {
	width:114px;
}
.menu li.menu-2 {
	width:180px;
}
.menu li.menu-3 {
	width:90px;
}
.menu li.menu-4 {
	width:70px;
}
.menu li.menu-5 {
	width:80px;
}
.menu li.menu-6 {
	width:80px;
}
#topNav .menu li {
	z-index:110;
}
.ie-menu-fix {
	float:none;
	position:absolute;
	top:0px;
	right:0px;
}
#logo {
	margin-top:0px;
}
.menu li ul li {
	float:none;
    padding:0;
    width:auto;
}

#topNav .menu ul.expanded li {
	width:100%;
}
#mainNav {
	padding-bottom:25px;
    width:755px;
}
input, select, option {
	color:#a5bcda;
}
#header input#header-search {
	background:url(../images/universal/bkg_input.png)/*tpa=http://www.sempra.com/images/universal/bkg_input.png*/ no-repeat left top;
	height:14px;
    width:100px;
	padding:10px 10px 4px 20px;
    text-indent:0;
	float:left;
    cursor:auto;
    font-size:12px;
    line-height:auto;
}
#header input {
	background:url(../images/universal/btn_submit-arrow.png)/*tpa=http://www.sempra.com/images/universal/btn_submit-arrow.png*/ no-repeat;
	width:28px;
	height:22px;
	border:none;
	text-indent:-999px;
	overflow:hidden;
	cursor:pointer;
	font-size: 0; 
	display:block; 
	line-height: 0;
}
.dd-container ul li {
    margin:0 !important;
}
.dd-container
.dd-container ul a {
    margin:0 !important;
	color:#fff !important;
}
.dd-container ul a:hover {
	color:#19528F !important;
}
#mainNav .menu .dd-container ul a:hover, #mainNav .menu li.active .dd-container ul a:hover {
	background:#fff url(../images/menu/mainmenu/bkg_ro.jpg)/*tpa=http://www.sempra.com/images/menu/mainmenu/bkg_ro.jpg*/ repeat-y !important;
}
.dd-section {
	margin-left:5px;
	padding-right:28px;
}
#mainNav .menu li a.dd-more {
	width:76px;
}
.homepage .right-section .feed {
	padding-left:15px;
	padding-right:14px;
}
.homepage .double {
	padding-top:10px !important;
	padding-bottom:0px !important;
}
.subpage #side-nav div.expanded a {
	background:url(../images/menu/submenu/plus.png)/*tpa=http://www.sempra.com/images/menu/submenu/plus.png*/ no-repeat 208px center;
}
.subpage #side-nav .active-trail div.expanded a {
	background-image:url(../images/menu/submenu/minus.png)/*tpa=http://www.sempra.com/images/menu/submenu/minus.png*/;
}
.subpage #side-nav div.expanded li a, .subpage #side-nav .active-trail div.expanded li a {
	background-image:none;
} 
.subpage #side-nav li.active-trail div a, .subpage #side-nav li div a:hover {
	color:#039;
}
.subpage #side-nav div a {
	color:#fff;
}
.subpage #side-nav div a:hover {
	background:url(../images/menu/submenu/menu_bkg-active.jpg)/*tpa=http://www.sempra.com/images/menu/submenu/menu_bkg-active.jpg*/ repeat-y scroll 0 0 transparent
}
.subpage #side-nav li ul {
	overflow:hidden;
}
.subpage #side-nav li ul a {
	color:#555;
	font-size:.9em;
	padding-top:10px;
	padding-bottom:10px;
}
.subpage #side-nav li ul a.active, .subpage #side-nav li ul a:hover {
	color:#0193d5;
}
.subpage #side-nav li ul a.active {
	background:url(../images/menu/submenu/arrow.png)/*tpa=http://www.sempra.com/images/menu/submenu/arrow.png*/ no-repeat 15px 13px;
}
.subpage #side-nav li ul a.pdf:hover {
	background:url(../images/menu/submenu/arrow-pdf.png)/*tpa=http://www.sempra.com/images/menu/submenu/arrow-pdf.png*/ no-repeat 0px 12px;
}
.subpage #side-nav li {
	background:url(../images/menu/submenu/divide.jpg)/*tpa=http://www.sempra.com/images/menu/submenu/divide.jpg*/ no-repeat left bottom;
	padding-bottom:2px;
	height:35px;
	position:relative;
}
.subpage #side-nav li li {
	padding-bottom:0;
    background-image:none;
}
#content h1 {
	clear:left;
}
#mainNav {
	padding-bottom:8px;
    width:750px;
	position:relative;
	right:-24px;
	z-index:20;
}
#main {
	clear:both;
	z-index:5;
}
#main aside {
	position:relative;
	z-index:10;
	overflow:hidden;
}
.dd-container {
	overflow:visible;
	z-index:19;
}
.dd-container ul {
	float:none;
    overflow:visible;
	height:364px;
}
.dd-container .dd-bkg {
	height:540px;
}
.homepage .right-section .feed {
	line-height:100%;
	z-index:5;
	position:relative;
}
.homepage #main form select, .homepage #main form {
	z-index:5;
	position:relative;
	display:block;
}
.homepage #main .hide-select form {
	display:none;
}
#breadcrumbs {
	padding-bottom:0;
}
#footer {
	padding-top:10px;
	clear:both;
	position:relative;
	z-index:10;
}
div.anythingSlider .arrow {
	top: 35% !important;
}

div.anythingSlider .arrow a {
	margin: 0 !important;
}