#navigation,nav,.alerts,#main-content,img,.pagination,.action-buttons,.sidebar,.cmcst-video-container,.cta,.play-video,.large,.playable,.tags,.anchor-links,.list-links,.related-posts,.blog-sidebar,#disqus_thread,noscript,.dsq-brlink,.news-info-filters,.filter-group,.img-overlay .label,.file-type,.file-thumb,.load-more,.lead-image,.download-icon,.addthis_toolbox,#more-content{display:none !important;}
*{width:auto;border:0;padding:0;float:none !important;background:transparent;}
a:link:after{content:" <" attr(href) "> ";font-size:90%;}
a:link{color:#00aeef;text-decoration:none;}
body a[href^="/"]:after{content:" (http://corporate.comcast.com" attr(href) ") ";}
a[href^="#"]:after{content:"";}
body:before{content:url(../img/logo.png)/*tpa=http://corporate.comcast.com/img/logo.png*/;}
footer section:first-child{display:none;}
footer .bottom{font-size:0;}
footer #copyright-line{display:block;font-size:9pt;border-top:1px solid #ccc;padding-top:.5em;margin-top:3em;}
body{font:11pt/1.35em "ff-din-web-n4","ff-din-web",sans-serif;color:#111;}
h1{font-size:27pt;}
h2{font-size:23pt;}
h3{font-size:20pt;}
h4{font-size:17pt;}
h5{font-size:14pt;}
h6{font-size:11pt;}
h1,h2,h3,h4,h5,h6{page-break-after:avoid;margin:.5em 0;padding:0;line-height:1.15em;}
.story-module{height:auto !important;}
.blog-post-list h1,.vision-header h1,.accordion-group h1,.grid-view h1,.content h1,.inner-content h1{font-size:1.55em;margin-top:1em;}
.blog-post-list h2,.vision-header h2,.accordion-group h2,.grid-view h2,.content h2,.inner-content h2,.cmcst-badge-group h5{font-size:1.45em;margin-top:1em;}
.blog-post-list h3,.vision-header h3,.accordion-group h3,.grid-view h3,.content h3,.inner-content h3{font-size:1.35em;}
.blog-post-list h4,.vision-header h4,.accordion-group h4,.grid-view h4,.content h4,.inner-content h4{font-size:1.25em;}
.blog-post-list h5,.vision-header h5,.accordion-group h5,.grid-view h5,.content h5,.inner-content h5{font-size:1.15em;margin-top:1em;}
.blog-post-list h6,.vision-header h6,.accordion-group h6,.grid-view h6,.content h6,.inner-content h6{font-size:1.05em;}
.table-view .date,.taxonomies{margin-top:1em;font-weight:bold;}
.vision-header{margin-bottom:2em;font-style:italic;}
.vision-header h1{margin-bottom:0;}
.vision-header h2{margin-top:0;}
@page {margin:2cm;}
