
.atlas-text {
	font-size: 16px;
	line-height: 16px;
	color: #3e4db1;
	text-transform: uppercase;
}
.atlas-text .atlas-viewalltext {
	font-size: 9px;
	color: #333;
}


.carousel {
  margin-bottom: 60px;
}
.carousel.nopad {
  margin-bottom: 0;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 300px;
}
#heroCarousel.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}
#heroCarousel .carousel-inner {
	height: 560px;
}
.carousel-inner .item section {
	padding-top: 120px;
}
.carousel-inner .item section h1 {
	color: #FFF;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
}
.carousel-inner .item section h1 a {
	color: #FFF;
	font-weight: normal;
}
.carousel-inner .item section h3 {
	color: #FFF;
	font-size: 24px;
	text-shadow: 1px 1px 1px #000;
	line-height: 30px;
	font-family: "ff-din-web-n3","ff-din-web",sans-serif;
}
.carousel-inner .item section .center {
	width: 200px;
	margin: 20px auto 0 auto;
	text-shadow: 1px 1px 1px #000;
}
.carousel-inner .item section .center .cta {
	color: #FFF;
	font-size: 18px;
}

/* mobile updates for Hero Carousel */
@media only screen and (device-width: 768px) and (orientation: portrait) {
	.touch #heroCarousel .carousel-inner section {
		padding-top: 60px;
	}
}
.touch #heroCarousel .carousel-inner .item section h1
, .touch #heroCarousel .carousel-inner .item section h3 {
	margin-left: 50px;
	margin-right: 50px;
}


.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 960px;
}
.jcarousel-prev-disabled, .jcarousel-next-disabled {
	display: none !important;
}

.media-center-carousel li {
	position: relative;
	overflow: hidden;
}
.carousel-item-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 221px;
	height: 124px;
	padding: 15px;
	opacity: 0;
	text-align: left;
}
.carousel-item-mask {
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	width: 221px;
	height: 124px;
	opacity: 0.5;
	z-index: 1999;
}
.carousel-item-headline {
	z-index: 2000;
	color: #FFF;
	font-size: 16px;
	font-weight: 600;
	position: relative;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
}



.media-center-container.view-all .jcarousel-clip-horizontal {
	height: auto;
}
.media-center-container.view-all .jcarousel-item {
	display: inline-block;
	float: none;
}
.media-center-container.view-all .media-center-carousel {
	width: auto !important;
}
.media-center-container.view-all .jcarousel-prev, .media-center-container.view-all .jcarousel-next {
	display: none !important;
}
.btn-view-all, .btn-view-highlights {
	margin-left: 10px;
	display: inline-block;
}
.btn-view-highlights, .media-center-container.view-all .btn-view-all {
	display: none;
}
.media-center-container.view-all .btn-view-highlights {
	display: inline-block;
}
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
	.btn-view-all, .btn-view-highlights {
		display: none !important;
	}
}

.touch .jcarousel-clip {
	height: auto;
}
.touch .media-center-carousel {
	
}
.touch .media-center-carousel li {
	float: none;
	clear: both;
}



<!-- C&T Nav Style -->

.no-touch .locknav,
.locknav {
	width: 100%;
}

.no-touch #navigation #nav-search-field {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #dfdfdf;
	overflow: hidden;
	position: relative;
}

.no-touch #navigation #nav-search-field .clear_search {
	width: 30px;
	height: 16px;
	/*background: url('/img/nav/close_icon.png') no-repeat 0 0;*/
	display: block;
	float: right;
	top: 22px;
	right: 12px;
	position: absolute;
	cursor: pointer;
	color: #999;
	font-family: "ff-din-web-n4", "ff-din-web",sans-serif;
	text-transform: uppercase;
}

.touch #navigation #nav-search-field .clear_search {
	display: none;
}

.no-touch #navigation #nav-search-field-container {
	margin-top: 0;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #dfdfdf;
	background-color: #FFF;
	display: none;

	/* It fixes a Chrome glitch on scroll. The behind content will clip the content of the text field, sliding over it */ 
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}

.no-touch #navigation .search-icon-desktop {
	float: right;
	line-height: 70px;
}

.no-touch #navigation .search-icon-desktop a {
	padding-top: 24px;
	padding-right: 14px;
	display: block;
	line-height: 70px;
	height: 70px;
}

.no-touch #navigation .search-icon-desktop img.search {display: block;}
.no-touch #navigation .search-icon-desktop img.arrow {display: none; margin-top: 6px;}

.no-touch #navigation .search-icon-desktop.open img.search {display: none;}
.no-touch #navigation .search-icon-desktop.open img.arrow {display: block;}

.touch .search-icon-desktop {
	display: none;
}

.no-touch #navigation .search-icon {
	display: none !important;
}

.no-touch #navigation #___gcse_0 {
	margin-top: 15px;
}

.no-touch #navigation #___gcse_0 .gsc-input input {
	width: 850px !important;
	padding-left: 0 !important;
}
.no-touch #navigation .gsc-input-box {
	background-color: #fff !important;
}

.no-touch #navigation .gstl_50 {
	width: 100% !important;
	left: 0 !important;
	/*top: 130px !important;*/
}

.no-touch #navigation .gstl_50.gssb_c {
	margin-top: 15px;
}

.no-touch #navigation .gsc-completion-container {
	border: none !important;
	background-color: #f6f6f6;
}

.no-touch #navigation .gsc-completion-container tr.gsc-completion-selected {
	background-color: #00b0eb !important;
	color: #fff;
}

.no-touch #navigation .gsc-completion-container td.gssb_a,
.no-touch #navigation .gsc-completion-container .gsq_a {
	cursor: pointer;
	padding: 0 !important;
}

.no-touch #navigation .gsc-completion-container td.gssb_a table tr td {
	display: block;
	margin: 0;
	padding: 15px 0px !important;
}

.no-touch #navigation .gsc-completion-container td.gssb_a table {
	display: block;
	margin: 0 auto !important;
	border-bottom: 1px solid #dfdfdf !important;
	width: 940px !important;
}

.no-touch #navigation .gsc-completion-container tr.gsc-completion-selected td.gssb_a table {
	border-bottom: 1px solid #00b0eb !important;
}

.no-touch #navigation .gsc-completion-container td.gssb_a table td.gsc-completion-icon-cell {
	border-bottom: none !important;
}
.no-touch #navigation .gsc-completion-container td.gssb_a table td.gsc-completion-icon-cell img {
	margin: 0 !important;
	border: none !important;
	width: 160px;
	height: auto;
}

.no-touch #navigation .gssb_l,
.no-touch #navigation .gsc-completion-snippet {
	display: none;
}

.no-touch #navigation .gsc-completion-title {
	margin-top: 25px;
	margin-left: 20px;
	width: 350px;
	color: #999;
}

.no-touch #navigation .gsc-completion-container .gsc-completion-promotion-table {
	margin: 0 !important;
}

.no-touch #navigation table.gsc-completion-container .gssb_a * {
	padding: 0 !important;
	font-size: 16px;
}

.no-touch #navigation .gsc-completion-promotion-table td {
	display: table-cell !important;
}

.no-touch #navigation .gsc-completion-container td.gssb_a table td span {
	color: #00b0eb;
	font-weight: bold;
}

.no-touch #navigation .gsc-completion-container td.gssb_a table td span b,
.no-touch #navigation .gsc-completion-container td.gssb_a table td .gsc-completion-title,
.no-touch #navigation .gsc-completion-container td.gssb_a table td .gsc-completion-snippet {
	color: #999999;
	font-weight: normal;
}

.no-touch #navigation .gsc-completion-container .gsc-completion-selected td.gssb_a table td {
	color: #ffffff;
	font-weight: bold;
}

.no-touch #navigation .gsc-completion-container .gsc-completion-selected td.gssb_a table td b,
.no-touch #navigation .gsc-completion-container .gsc-completion-selected td.gssb_a table td .gsc-completion-title,
.no-touch #navigation .gsc-completion-container .gsc-completion-selected td.gssb_a table td .gsc-completion-snippet  {
	color: #e9e9e9;
	font-weight: normal;
}

.no-touch #navigation .gsc-completion-container .gsc-completion-promotion-table .gsc-completion-icon-cell {
	min-width: 160px;
}

input#gsc-i-id1.gsc-input { 
	/* prevents on mobile displaying the google logo because it overlay the placeholder text */
	background: #fff !important;
}