@CHARSET "UTF-8";
.home-subhead { padding: 0; margin-bottom: 30px; }
.home-subhead p.intro { margin-top: 0.6em; padding-right: 50px; }

@media (max-width: 640px) { 
	.home-subhead { padding: 0 0 0 0; }
    .home-subhead p.intro { padding: 0; margin: 0 10px 40px 10px; font: 18px/26px "SimpleSans", Arial, sans-serif; text-align: center; }
}
