body { font-family:Times New Roman, Times, serif; font-size:12pt; color:black;background:white;margin-top:20px;}
a:link, a:visited { color:#999999; background:transparent; font-weight:bold; text-decoration:underline; }

/*.containerGC { -moz-display:block; -moz-position:absolute; -moz-top:0; -moz-left:0; display:block; }
.centerPage { -moz-display:block; -moz-position:absolute; -moz-top:0; -moz-left:0; display:block; }
* html .centerPage { width:750px; }
*:first-child+html .centerPage { width:800px; }*/

/* TURNS OFF NAVS */
#wrapper { -moz-display:none; display:none; }
#leftNavTitle { -moz-display:none; display:none; }
.leftDynaMenu { -moz-display:none; display:none; }/*width of Dynamic menu*/
#footer { -moz-display:none; display:none; }


#wrapper { -moz-display:none; display:none; }
#leftNavTitle { -moz-display:none; display:none; }
.leftDynaMenu { -moz-display:none; display:none; }/*width of Dynamic menu*/
#footer { -moz-display:none; display:none; }
span.shareLinks { text-align:right; padding:3px 4px 0 0; color:#000000; float:right; }

body { font-family:Verdana; font-size:12px; color:#000000; }
.containerGC { -moz-display:block; -moz-position:absolute; -moz-top:0; -moz-left:0; display:block; }
.centerPage { -moz-display:block; -moz-position:absolute; -moz-top:0; -moz-left:0; display:block; width:750px; text-align:left; }

/* CSS Document */



#groupContent { /*position:relative;*/ left:0px; padding:0 4px; }
* html #groupContent { margin-top:0px; }

#pageContent { width:775px; float:left; }
#careerContent { width:650px; float:left; }
#bannerRight { float:right; }

#invRelFrame { margin:-10px 0 15px -10px; }
#invRelFrameLinks { margin:-10px 0px 15px -10px; *margin:-15px 0px 15px -10px; }

td #colOne { padding-right:5px; }
/*td #groupPage { width:650px; }*/
img { border:0; }
img.border { border:1px solid #ccc; padding:2px; }

img.floatLeft { float:left; margin:0px 8px 8px 0px; }
img.floatRight { float:right; margin:0px 8px 8px 0px; }

a, a:visited { color:#999999; text-decoration:none; }
a:hover { text-decoration:underline; }		

h1, h2, h3, h4 { font-family:Verdana; font-weight:bold; }
h1.mainPage { font-size:20px; color:#666666; margin-top:0; }
span.mainPage { font-size:20px; color:#666666; font-weight:bold; margin-left:5px; }
h1 { font-size:20px; color:#252525; margin-top:0; }
h2 { font-size:13px; color:#999999; }
h3 { font-size:12px; color:#999999; }
h4 { font-size:11px; color:#252525; }
li, td, ul { font-family:Verdana; font-size:12px; text-align:left; }
ol, li { font-family:Verdana; font-size:12px; text-align:left; }
p { font-family:Verdana; font-size:12px; color:#252525; }		

/* COMMON */
.learnMore { display:block; padding:0px 5px 0px 20px; background:url("../../webtest.nexteraenergy.com/images/icon_plus.gif")/*tpa=http://webtest.nexteraenergy.com/images/icon_plus.gif*/ no-repeat 6px 2px; font-size:11px; }
.learnMoreAnchor { background:url("../../webtest.nexteraenergy.com/images/icon_plus.gif")/*tpa=http://webtest.nexteraenergy.com/images/icon_plus.gif*/ no-repeat 5px 2px; float:left; height:15px; position:absolute; left:15px; bottom:0; *bottom:10px; padding:0px 5px 15px 20px; font-size:11px; }
.learnMoreAnchorRight { background:url("../../webtest.nexteraenergy.com/images/icon_plus.gif")/*tpa=http://webtest.nexteraenergy.com/images/icon_plus.gif*/ no-repeat 2px 2px; float:left; height:15px; position:absolute; left:15px; bottom:0; padding:0px 5px 15px 20px; font-size:11px; margin-left:170px; }
.goBack { display:block; padding:0px 5px 0px 20px; background:url("../../webtest.nexteraenergy.com/images/icon_plus_white.gif")/*tpa=http://webtest.nexteraenergy.com/images/icon_plus_white.gif*/ no-repeat 2px 2px; font-size:12px; }
.download { display:block; padding:1px 5px 2px 20px; background:url("../../webtest.nexteraenergy.com/images/icon_page.gif")/*tpa=http://webtest.nexteraenergy.com/images/icon_page.gif*/ no-repeat 0px 2px; font-size:11px; }
.listen { display:block; padding:1px 15px 1px 20px; background:url("../../webtest.nexteraenergy.com/images/icon_listen.gif")/*tpa=http://webtest.nexteraenergy.com/images/icon_listen.gif*/ no-repeat 0px 2px; font-size:11px; }
.viewClip  { display:block; padding:1px 15px 2px 20px; background:url("../../webtest.nexteraenergy.com/images/icon_video.gif")/*tpa=http://webtest.nexteraenergy.com/images/icon_video.gif*/ no-repeat 0px 2px; font-size:11px; }
.print { display:block; padding:1px 15px 1px 20px; background:url("../../webtest.nexteraenergy.com/images/icon_print.gif")/*tpa=http://webtest.nexteraenergy.com/images/icon_print.gif*/ no-repeat 0px 2px; font-size:11px; }
.date { display:block; padding:2px 5px 2px 0px; font-size:10px; color:#cccccc; font-weight:bold; }
.time { display:block; padding:1px 15px 2px 15px; font-size:10px; color:#848484; }
.linkTitle { display:block; padding:2px 5px 2px 0px; font-size:11px; color:#252525; font-weight:bold; }
.blueArrow { display:block; padding:2px 5px 2px 15px; background:url("../../webtest.nexteraenergy.com/images/icon_arrow_blue.gif")/*tpa=http://webtest.nexteraenergy.com/images/icon_arrow_blue.gif*/ no-repeat 0px 4px; font-family:Verdana; font-size:12px; font-weight:bold; color:#999999; }
.whiteArrow { display:block; padding:2px 5px 2px 15px; background:url("../../webtest.nexteraenergy.com/images/icon_arrow_white.gif")/*tpa=http://webtest.nexteraenergy.com/images/icon_arrow_white.gif*/ no-repeat 0px 4px; font-family:Verdana; font-size:12px; font-weight:bold; color:#FFFFFF; }

.linkCol { float:left; margin-top:5px; }

/* LINES & SPACE */
.vertical { background-image:url("../../webtest.nexteraenergy.com/images/vertical.gif")/*tpa=http://webtest.nexteraenergy.com/images/vertical.gif*/; background-repeat:repeat-y; background-position:right; }
.spacer_v15 { width:100%; height:15px; }
hr.dotted_b { margin:0; border:0; background-image:url("../../webtest.nexteraenergy.com/images/hr_whiteDots.gif")/*tpa=http://webtest.nexteraenergy.com/images/hr_whiteDots.gif*/; background-repeat:repeat-x; background-position:bottom; }
hr.line_w { margin:4px 0; *margin:0px; border:0; border-bottom:1px solid #FFFFFF; width:300px; }

/* NEWS */
.latestNews { background-image:url("../../webtest.nexteraenergy.com/images/HP_newsBG.jpg")/*tpa=http://webtest.nexteraenergy.com/images/HP_newsBG.jpg*/; background-repeat:no-repeat; width:983px; height:30px; }
.latestNews h2 { padding:6px 15px; }

/* GROUPS */
.groups { float:left; width:305px; margin-top:10px; padding:0 10px; }
.groups img { float:left; }
.groups p { margin:0 0 10px 100px; font-size:11px; color:#666666; }
.groups a { margin:0 0 10px 100px; font-size:11px; }
.groups .learnMore { margin:20px 0 10px 94px; }

/* ROTATEGROUPS */
.rotateGroups { float:left; width:305px; margin-top:10px; *margin-top:20px; padding:0 10px; }
.rotateGroups img { float:left; }
.rotateGroups p { margin:0 0 10px 0; font-size:11px; color:#666666; }
.rotateGroups a { margin:0 0 10px 0; font-size:11px; color:#999999; }
.rotateGroups #rotateGroupsLeft { float:left; }
.rotateGroups #rotateGroupsRight_78 { float:left; margin-left:5px; width:200px; }
.rotateGroups .learnMore { margin:20px 0 10px -5px; }
.rotateGroups #rotateGroupsLeft #coLogo_78 { float:none; height:63px; }
.rotateGroups #rotateGroupsLeft #prevNext_78 { float:none; height:25px; padding-left:4px; }
.rotateGroups #rotateGroupsLeft #logoTitle { font-size:12px; font-weight:bold; color:#999999; width:150px; }


/* SPOTLIGHT */
.spotlight { float:left; width:286px; padding:0 10px; }
.spotlight img { float:left; }
.spotlight p { margin:0 0 10px 100px; font-size:11px; color:#666666; }
.spotlight a { margin:0 0 10px 100px; font-size:11px; color:#999999; }
.spotlight .learnMore { margin:20px 0 10px 94px; }
/*.spotlight #coLogo { float:none; height:72px; }
.spotlight #prevNext { float:none; height:25px; padding-left:24px; }
.spotlight #logoTitle { float:right; font-size:12px; font-weight:bold; color:#999999; width:150px; }*/

/* ROTATESPOT */
.rotateSpot { float:left; width:286px; *margin-top:10px; padding:0 10px; }
.rotateSpot img { float:left; }
.rotateSpot p { margin:0 0 10px 0; font-size:11px; color:#666666; }
.rotateSpot a { margin:0 0 10px 0; font-size:11px; color:#999999; }
.rotateSpot #rotateSpotLeft { float:left; }
.rotateSpot #rotateSpotRight { float:left; margin-left:5px; width:150px; }
.rotateSpot #rotateSpotRight_75 { float:left; margin-left:5px; width:190px; }
.rotateSpot #rotateSpotRight_78 { float:left; margin-left:5px; width:187px; }
.rotateSpot .learnMore { margin:20px 0 10px -5px; }
.rotateSpot #rotateSpotLeft #coLogo { float:none; width:125px; }
.rotateSpot #rotateSpotLeft #coLogo_75 { float:none; height:75px; }
.rotateSpot #rotateSpotLeft #coLogo_78 { float:none; height:63px; }
.rotateSpot #rotateSpotLeft #prevNext { float:none; height:25px; padding-left:24px; }
.rotateSpot #rotateSpotLeft #prevNext_75 { float:none; height:25px; padding-left:2px; }
.rotateSpot #rotateSpotLeft #prevNext_78 { float:none; height:25px; padding-left:4px; }
.rotateSpot #rotateSpotLeft #logoTitle { font-size:12px; font-weight:bold; color:#999999; width:150px; }

/* COLUMN */
.colSmIcon { float:left; width:286px; padding:0 10px; }
.colSmIcon img { float:left; }
.colSmIcon h2 { margin:5px 0; }
.colSmIcon h4 { margin:0 0 0 45px; padding-top:5px; }
.colSmIcon p { margin:0 0 10px 45px; font-size:11px; color:#666666; }
.colSmIcon a { margin:0 0 15px 45px; font-size:11px; color:#999999; }
.colSmIcon .date { margin-top:10px; }
.colSmIcon .viewClip { width:auto; float:left; }
.colSmIcon .listen { width:auto; float:left; }
.colSmIcon .time { width:auto; float:left; }
.colSmIcon .download { width:auto; }
.colSmIcon .learnMore { margin-top:20px; }
.colSmIcon .blueArrow { margin:0; font-size:12px; }

/* COLUMN ALIGN LEFT */
.colAlLeft { float:left; width:305px; padding:0 10px; }
.colAlLeft h2 { margin:5px 0; }
.colAlLeft h4 { margin:0; }
.colAlLeft p { margin:0 0 10px 0; font-size:11px; color:#666666; }
.colAlLeft a { margin:0 0 15px 0; font-size:11px; color:#999999; }
.colAlLeft .date { margin-top:10px; }
.colAlLeft .viewClip { width:auto; float:left; }
.colAlLeft .listen { width:auto; float:left; }
.colAlLeft .time { width:auto; margin-bottom:15px; }
.colAlLeft .download { width:auto; }
.colAlLeft .learnMore { margin-top:20px; }
.colAlLeft .blueArrow { margin:0; font-size:12px; }

/* GOVERNANCE */
.governColumn { float:left; width:286px; padding:0 10px; }
.governColumn img { float:left; }
.governColumn h2 { margin:5px 0; }
.governColumn h4 { margin:0 0 0 5px; }
.governColumn p { margin:0 0 10px 5px; font-size:11px; color:#666666; }
.governColumn a { margin:0 0 15px 5px; font-size:11px; color:#999999; }
.governColumn .date { margin-top:10px; }
.governColumn .viewClip { width:auto; float:left; }
.governColumn .listen { width:auto; float:left; }
.governColumn .time { width:auto; }
.governColumn .download { width:auto; }
.governColumn .learnMore { margin-top:20px; }
.governColumn .blueArrow { margin:0; font-size:11px; font-weight:normal; }

/* CAREERSPOTS */
.careerSpots { float:left; width:225px; height:180px; margin-top:10px; padding:0 10px; }
.careerSpots img { float:left; }
.careerSpots h2 { margin:5px 0; }
.careerSpots h4 { margin:0 0 0 5px; }
.careerSpots p { margin:0 0 10px 0; font-size:11px; color:#666666; }
.careerSpots a { margin:0 0 10px 0; font-size:11px; color:#999999; }
.careerSpots .date { margin-top:10px; }
.careerSpots .viewClip { width:auto; float:left; }
.careerSpots .listen { width:auto; float:left; }
.careerSpots .time { width:auto; }
.careerSpots .download { width:auto; }
.careerSpots .learnMore { margin:20px 0 0 -5px; }
.careerSpots .blueArrow { margin:0; font-size:11px; font-weight:normal; }
.jobSearch { background-image:url("../../webtest.nexteraenergy.com/images/careerSearch_BG.gif")/*tpa=http://webtest.nexteraenergy.com/images/careerSearch_BG.gif*/; background-repeat:no-repeat; width:975px; height:62px; margin-left:6px; margin-top:10px; }
.jobSearch h2 { margin:0px; padding:5px 6px; }
.jobSearch form { margin:0px; }
.jobSearch table { padding:0px 0px 0px 5px; *margin-left:8px; }

/* NEWS TABS*/
.news {}
.news h2 {}
.news .date { margin-top:10px; }
.news .viewClip { width:auto; float:left; }
.news .listen { width:auto; float:left; }
.news .time { width:auto; }
.news .download { width:auto; }
.news .learnMore { margin-top:20px; }

/* NEWSEVENTS */
.newsEvents { }
.newsEvents h2 { margin:20px 0 0 0; }
.newsEvents .date { margin-top:15px; }
.newsEvents .viewClip { width:auto; float:left; }
.newsEvents .listen { width:auto; float:left; }
.newsEvents .time { width:auto; }
.newsEvents .learnMore { margin-top:20px; margin-left:-5px; }

/* REPORTS */
.reports { }
.reports img { float:left; }
.reports h2 { margin:5px 0; }
.reports h4 { margin:0 0 0 45px; padding:5px 0 2px 0; }
.reports p { margin:0 0 10px 45px; font-size:11px; color:#666666; }
.reports a { margin:0 0 15px 45px; font-size:11px; color:#999999; }
.reports .date { margin-top:15px; }
.reports .viewClip { width:auto; float:left; margin:0 0 10px 45px; }
.reports .listen { width:auto; float:left; }
.reports .time { width:auto; }
.reports .download { width:auto; margin:0px 0px 10px 45px; }
.reports .print { width:auto; margin:0 0 10px 45px;}
.reports .learnMore { margin-top:10px; margin-left:-5px; padding-bottom:5px; }

/* DOCUMENTS */
.documents { }
.documents img { float:left; }
.documents h2 { margin:5px 0; }
.documents p { margin:0 0 10px 45px; font-size:11px; color:#666666; }
.documents a { font-size:11px; color:#999999; }
.documents .date { margin-top:15px; }
.documents .viewClip { width:auto; float:left; margin:0 0 10px 80px; }
.documents .listen { width:auto; float:left; }
.documents .time { width:auto; }
.documents .download { width:auto; margin:0 0 10px 80px; }
.documents .print { width:auto; margin:0 0 10px 80px;}
.documents .learnMore { margin-top:20px; }

/* QUICKLINKS */
.quickBlockTop { margin:0; padding:5px 0 0 0px; *padding:0px; background:url("../../webtest.nexteraenergy.com/images/quickLinks_top.gif")/*tpa=http://webtest.nexteraenergy.com/images/quickLinks_top.gif*/ no-repeat bottom left; width:343px; *height:auto; }
.quickBlock { width:343px; height:250px; margin-top:0; background:#666666; }
.quickBlockAuto { width:343px; height:auto; margin-top:0; padding:0px 0 5px 0; background:#666666;  }
.quickBlockMid { margin:0 10px; font-size:12px; font-weight:bold; color:#FFFFFF; float:left; }

.quickBlockMid h2 { margin:10px 0 5px 0; /**margin:0;*/ color:#dddddd; font-size:13px; }
.quickBlockMid h3 { margin:10px 0 5px 0; /**margin:0;*/ color:#FFFFFF; font-size:13px; }
.quickBlockMid .linkCol { width:150px; color:#FFFFFF; }
.quickBlockMid .linkCol_1 { width:300px; color:#FFFFFF; }
.quickBlockMid a.whiteArrow { font-size:11px; font-weight:normal; color:#FFFFFF; line-height:11px; }

.quickBlockMid a.goBack { color:#FFFFFF; font-weight:bold; }
.quickBlockMid .linkCol { float:left; width:150px; color:#FFFFFF; }
.quickBlockBot { margin:0 0 20px 0; padding:0px 0px 6px 0px; background:url("../../webtest.nexteraenergy.com/images/quickLinks_bot.gif")/*tpa=http://webtest.nexteraenergy.com/images/quickLinks_bot.gif*/ no-repeat top left; width:343px; }

/* VIDEO AREA */
.videoContainer { position:relative; width:612px; height:233px; background-image:url("../../webtest.nexteraenergy.com/images/videoBG.gif")/*tpa=http://webtest.nexteraenergy.com/images/videoBG.gif*/; background-repeat:no-repeat; margin-bottom:25px; *margin:5px 0px 0px 0px; }
.videoArea { margin-top:0; overflow:hidden; }
.video { padding:20px; height:203px; }
.video .clip { float:right; width:300px; height:195px; margin-left:40px; }
.video h2 { margin:0 0 4px 0; color:#000000; font-size:12px;}
.video h3 { margin:0 0 4px 0; color:#999999; font-size:12px;}
.video a { margin:0 0 10px 0; font-size:10px; }
.video p { margin:0; }

/* STOCKS AREA */
.stockTop { margin:0; background-image:url("../../webtest.nexteraenergy.com/images/bigStock_BG_top.gif")/*tpa=http://webtest.nexteraenergy.com/images/bigStock_BG_top.gif*/; background-repeat:no-repeat; background-position:top left; width:612px; height:6px; }
.stockArea { margin:0; *margin-top:-6px; background-image:url("../../webtest.nexteraenergy.com/images/bigStock_BG_mid.gif")/*tpa=http://webtest.nexteraenergy.com/images/bigStock_BG_mid.gif*/; background-repeat:no-repeat; background-position:top left; width:572px; height:164px; padding:20px; }

#currentStock { float:left; width:180px; margin-top:15px; margin-left:15px; }
#currentStock h1 { margin:0 5px; color:#000000; }
#currentStock h2 { margin:0px; font-size:16px; font-weight:bold; color:#252525; }
#currentStock .date { font-size:12px; }
#chart img { float:left; margin-left:35px; }
#currentStock #flux { font-size:16px; }
#currentStock .linkTitle img { padding:0 5px 4px 0; }

.stockBot { margin:0; *margin-top:-1px; background-image:url("../../webtest.nexteraenergy.com/images/bigStock_BG_bot.gif")/*tpa=http://webtest.nexteraenergy.com/images/bigStock_BG_bot.gif*/; background-repeat:no-repeat; width:612px; height:53px; }
.stockBot h2 { float:left; width:auto; margin:15px 20px; font-size:14px; }
.stockBot .linkCol { width:100px; }
.stockBot .linkCol .blueArrow { font-size:11px; font-weight:normal; }

#one { width:180px; height:30px; padding:15px 0 5px 0; }
#one h1 { float:left; }
#one span { margin:3px 10px; float:left; }
#two { width:90px; float:left; }
#two span { margin:5px 0px; text-align:center; }
#three { width:90px; float:left; }
#three span { margin:5px 0px; text-align:center; }

/* MEDIA AREA */
.mediaContainer { position:relative; width:343px; height:320px; background-image:url("../../webtest.nexteraenergy.com/images/mediaCenterBG.gif")/*tpa=http://webtest.nexteraenergy.com/images/mediaCenterBG.gif*/; background-repeat:no-repeat; margin-bottom:20px; }
.mediaArea { margin-top:0; overflow:hidden; }
.media  { padding:20px; height:290px; }
.media h4 { margin:4px 0; }
.media p { margin:8px 0; font-size:11px; }
.media .linkCol { width:150px; }
.media .linkCol .blueArrow { font-size:11px; font-weight:normal; }
.mediaLinkRow { float:left; width:150px; margin-bottom:30px; }
.mediaContent img { float:left; }
.mediaContent h4 { margin:0 0 0 80px; }
.mediaContent p, .mediaContent a { margin:0 0 10px 80px; font-size:10px; }

/* RIGHT LINK LIST */
#rightGreyBorder { float:right; width:200px; border:1px solid #CCCCCC; margin:0 0 10px 10px; padding:0 10px 10px 10px; }
.rightLinks {  }
.rightLinks h3 { font-size:12px; color:#252525; }
.rightLinks a { font-size:11px; font-weight:normal; }

/*NEW CONTENT PAGES*/
.speechTitle { -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; display:block; font-size:14px; font-weight:bold; margin-top:-4px; }
.presenter { -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; display:block; font-size:11px; color:#848484; padding:1px 15px 2px 0px; }

/* MEDIA CENTER - VIDEO PANELS */
#videoPanel img { padding:5px 5px 40px 5px; }
#videoPanel h2 { margin:0 5px; }
#videoPanel p { margin:5px; }
#videoPanel a { margin:0 5px; float:left; }
#videoPanel span.time { margin-top:10px; }

/* VIDEO PLAYER */
#player{ width:300px; height:193px; float:left; margin-right:10px; }
.clips { float:left; width:120px; margin:0 0 20px 10px; color:#666666; font-size:11px; font-family:Verdana; }
.clips h5 { color:black;  font-weight:bold;  font-size:12px;  margin:10 0 0px 0; }          
.clips p { color:#666666; font-size:11px; font-family:Verdana; margin-top:0; }
.clips img{ width:120px; }

.SpryHiddenRegion { visibility:hidden; }

/* TABBED PANELS */
.TabbedPanels { margin-top:10px; float:left; background:url("../images/back.gif")/*tpa=http://www.nexteraenergy.com/images/back.gif*/ repeat-x top left; width:612px; *width:600px; line-height:17px; }
.TabbedPanelsTabGroup { margin:0px; padding:0px; list-style:none; }
.TabbedPanelsTab { display:block; float:left; background:url("../images/tabs.gif")/*tpa=http://www.nexteraenergy.com/images/tabs.gif*/ no-repeat left top; position:inherit; top:1px; margin:0; padding:0 0 0 9px; color:#cccccc; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.TabbedPanelsTabHover { float:left; background:url("../images/tabs.gif")/*tpa=http://www.nexteraenergy.com/images/tabs.gif*/ no-repeat left -27px; margin:0; padding:0 0 0 9px; color:#cccccc; }
.TabbedPanelsTab a { display:-moz-inline-block; display:inline-block; background:url("../images/tabs.gif")/*tpa=http://www.nexteraenergy.com/images/tabs.gif*/ no-repeat right top; padding:5px 20px 5px 6px; text-transform:uppercase; text-decoration:none; font-weight:bold; color:#cccccc; }
.TabbedPanelsTab a:hover { background:url("../images/tabs.gif")/*tpa=http://www.nexteraenergy.com/images/tabs.gif*/ no-repeat right -27px; color:#cccccc; }
.TabbedPanelsTabSelected { background:url("../images/tabs.gif")/*tpa=http://www.nexteraenergy.com/images/tabs.gif*/ no-repeat left -27px; }
.TabbedPanelsTabSelected a { background:url("../images/tabs.gif")/*tpa=http://www.nexteraenergy.com/images/tabs.gif*/ no-repeat right -27px; color:#cccccc; }
.TabbedPanelsContentGroup { clear:both; border-left:solid 1px #cccccc; border-bottom:solid 1px #cccccc; border-right:solid 1px #cccccc; margin:12px 0; *margin:0; background-color:#FFFFFF; color:#525252; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.TabbedPanelsContent { padding:5px 15px; *padding:5px; }
.TabbedPanelsContentVisible { }

