
body #modal-wrap .header h1 {
	background: none;
	padding-left: 0px;
}

body #modal-wrap .header .description {
	margin-bottom: 0px;
	font: 18px/18px 'TradeGothic-CnBold','Arial Narrow', sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
}

body #modal-wrap .figcaption.bottom {
	top: auto;
	bottom: 0px;
	padding-bottom: 88px;
	padding-top: 10px;
	background: url('../../images/common/gallery/img-overlay-bgopacity.png') repeat scroll 0 0 transparent;
}

body #modal-wrap .videogallery .stage-wrap {
	padding: 10px 27px 14px 27px;
}

#modal-wrap .videogallery .playlist {
 	overflow: hidden;
	margin-left: 50px;
  	padding: 0px;
  	width: 600px;
  	min-height: 90px;
  	position: relative;
  	height: auto;
}

#modal-wrap .videogallery .playlist-wrap {
	position: relative;
	bottom: auto;
	left: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#modal-wrap .videogallery a.next, #modal-wrap .videogallery a.previous.next {
  background-position: -11px -19px;
  height: 36px;
  top: 25%;
}
#modal-wrap .videogallery a.next.previous, #modal-wrap .videogallery a.previous.previous {
  background-position: 7px -88px;
  height: 36px;
  top: 25%;
  left: 0px;
}
#modal-wrap .videogallery .playlist .active .active {
  display: block;
}
#modal-wrap .videogallery .playlist .active .idle {
  display: none;
}

#modal-wrap .videogallery .playlist ul {
	height: auto;
}
#modal-wrap .videogallery .playlist li {
  list-style: none;
  float: left;
  display: inline;
  margin-right: 11px;
  position: relative;
	width: auto;
	height: auto;
}

#modal-wrap .videogallery .playlist li.last {
	margin-right: 0px;
}

#modal-wrap .videogallery .playlist li .thumb {
  display: block;
  width: 145px;
  overflow: hidden;
  outline: none;
  text-decoration: none;
  position: relative;
  z-index: 10000;
}
#modal-wrap .videogallery .playlist li img {
  display: block;
  width: 145px;
  height: 70px;
  border: none;
}
#modal-wrap .videogallery .playlist li span.title {
  display: block;
  color: #CDCDCD;
  font: normal 10px/12px Arial, sans-serif;
  text-align: center;
  margin-top: 6px;
  text-indent: 0;
}
#modal-wrap .videogallery .playlist li .idle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 145px;
  height: 70px;
  background: url(/etc/designs/h-d/clientlibs.common/images/common/site-chrome/texture-gradient-bg_bbbbbb_2x2.png) repeat 0px 0px;
  display: block;
}
#modal-wrap .videogallery .playlist li .idle .playbutton {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  border: 0px;
  background: url(/etc/designs/h-d/clientlibs.common/images/common/videogallery-playlist-play-cta.png) repeat scroll 0 0 transparent;
}
#modal-wrap .videogallery .playlist li:hover .idle {
  background: none;
}
#modal-wrap .videogallery .playlist li:hover .idle .playbutton {
    background: url(/etc/designs/h-d/clientlibs.common/images/common/videogallery-playlist-play-cta.png) repeat scroll 0 0 transparent;
}
#modal-wrap .playlist li .active {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  height: 70px;
  width: 145px;
  text-align: center;
  background: url(/etc/designs/h-d/clientlibs.common/images/common/site-chrome/texture-solid_464747_10x10.png) repeat 0px 0px;
}
#modal-wrap .videogallery .playlist li .active span {
  display: block;
	padding: 4px;
	margin: 24px auto;
	width: 72px;
	background-color: #222;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
    position: relative;
    z-index: 2;
    color: #FFF;
    font: normal 9px/14px Arial, sans-serif;
    text-indent: 0;
}

#modal-wrap .videogallery .playlist li.active .title {
	color: #2c2c2c;
	text-indent: 0;
}

#modal-wrap .videogallery #videoPlayerContainer {
	height: 360px;
	width: 750px;
}
/* #modal-wrap .content .header .description{ color:#ff6600;} */
#modal-wrap .container.overlaygallery .figure .figcaption.bottom{ padding-bottom:49px;position:absolute;width:100% !important; bottom:0px;}