@charset "UTF-8";
/* CSS Document */

#simplemodal-container a.modalCloseImg {
background: url("Unknown_83_filename")/*tpa=http://www.dovercorporation.com/Image%20%Library/DoverCorpImages/img/fancy_close.png*/ no-repeat;
width: 29px;
height: 29px;
display: inline;
z-index: 3200;
position: absolute;
top: -15px;
right: -18px;
cursor: pointer;
}