.ContaintAlignAboutTop
    {
        display: block;
        left: 50%;
        margin-left: -479px;
        margin-top: 40px;
        position: relative;
        clear: left;
        padding-top: 20px;
    }
    .TabContent
    {
        display: block;
        left: 50%;
        margin-bottom: 22px;
        margin-left: -479px;
        position: relative;
        clear: left;
    }
    .Aroundworld
    {
        display: block;
        left: 50%;
        margin-bottom: 22px;
        margin-left: -479px;
        margin-top: 40px;
        position: relative;
        clear: left;
        padding-top: 20px;
    }
	.VideoImageBox
{
    display:none;
}
#backgroundPopupVideo
{  
	display:none;  
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6*/  
	height:100%;  
	width:100%;  
	top:0;  
	left:0;  
	background-color:#000000;  
	border:1px solid #cecece;  
	z-index:1;  
}
.VideoLinkForYoutube
{
    display:none;
}
#YoutubePopupVideoClose
{  
	font-size:14px;  
	line-height:14px;  
	right:-6px;  
	top:-8px;  
	position:absolute; 
	cursor:pointer; 
	color:inherit;  
	font-weight:700;  
	display:block;
	background-image:url(../../Image Library/DoverCorpImages/img/fancy_close.png)/*tpa=http://www.dovercorporation.com/Image%20Library/DoverCorpImages/img/fancy_close.png*/;
	height:24px;
	width:30px;
}
#YoutubePopupVideoPlayer
{  
	display:none;
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6*/  
	/*height:264px;  
	width:418px;
	width:400px\9;  */
	z-index:2;  
	padding:12px;  
	font-size:13px;  
}
.vedio
{
    padding-left:15px;
    width:221px;
    vertical-align:top;
}
.TabContent td
{
    vertical-align:top;
}
.VideoTitle
{
    font-weight:bold;
    cursor:pointer;
	color: #005a81;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}
.VideoTitle:hover
{
	text-decoration:underline;
}
.Videoimg
{
    cursor:pointer;
	margin-bottom: 15px;
}
#Videocontentdiv
{
    padding-top:15px;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",helvetica,arial,sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    margin-bottom: 14px;
    font-weight: 300;
}