/*---------- STYLE FOR COMPARE MODAL ----------*/
.compare-tv-content { padding: 0 25px 25px 25px;}
#compare h1 
{
	color: #333333;
    font-family: 'Open Sans CondLight', Arial, sans-serif; 
	font-size: 1.87em;
}
#compare a { color: #005781; text-decoration: underline;}
#compare a:hover { color: #0087B1;}
#compare .footer 
{
    color: #666666;
    font: 0.865em Arial, sans-serif;
    margin-top: 20px;
}

/* table content styles*/
.table-wrapper
{ 
	clear: left;
    border: 1px solid #DADADA;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
    overflow: hidden;
}
.table-wrapper table 
{
	table-layout: fixed;
	border:0; 
	border-color:#e5eff5; 
	padding:0px; 
	width:100%; 
	font: 1.1em 'Open Sans Regular', Arial, sans-serif; 
	color: #333;
}
.table-wrapper .checkmark { vertical-align: -3px;}
.table-wrapper .info { margin-left: 3px;}
th{padding:15px 0px 15px 5px;height:20px;font-weight:normal;}
td { width: 15%;padding: 10px 0; vertical-align:middle; }
td:first-child { width: 53%; padding-left: 2%; text-align: left;}
th,td{overflow: hidden;}
th a.more{color:#999999;font-size:14px;}
.td-small-font {font-size:10px;}
.td-num {text-align:center; vertical-align:middle; font-size:16px;}
tr:nth-child(1n),
thead tr { margin:20px 0px 0px 15px;}
.channel-logo-box { padding:0px 0px 0px 0;}
.chart-logo-wrapper {float:left; margin: 0 0 5px 30px;}
tr>td:first-child .chart-logo-wrapper{margin-left:5px;}
.chart-logo-container{ font-weight:bold;}
.chart-logo-wrapper .image-container{height:30px;}
.lineup-titles h3:first-child { margin-left: 55%; }
.lineup-titles h3 { width: 15%; float: left; padding: 10px 0; font: 2em 'Open Sans CondBold', Arial, sans-serif; text-align: center; color: #005781;}
.chart-logo-wrapper .num{font-size:15px;display:inline-block;margin-right:3px;}
.chart-logo-wrapper .symbol{vertical-align:top;}
#compare th{height:1px; line-height:1px; visibility: hidden;}
#compare td{text-align:center;}
#compare td:first-child,th:first-child {text-align:left;}

/* COMPARE TV HEADER NAV */
.compare-tv-header 
{ 
	background: url("../images/bg-content-header-repeat.png")/*tpa=https://www.charter.com/browse/html_buyflow/assets/images/bg-content-header-repeat.png*/ left top repeat-x;
	height: 22px;
	border-radius: 10px 10px 0 0;
	margin-bottom: 20px;
	padding: 24px 45px 0 15px;
	font-size: 1em;
}
.compare-tv-header a,
.compare-tv-header p
{
	font-family: "Open Sans CondBold", arial, sans-serif;
}
.compare-tv-header li { display: inline-block; float: left; margin-right: 5px;}
.compare-tv-header a { color: #666666;}
.compare-tv-header .selected 
{
	font-size: 1.41em;
	position: relative;
	top: -21px;
}
#compare .compare-tv-header .selected a
{
	background: url("../images/compare-selected-tab-middle.png")/*tpa=https://www.charter.com/browse/html_buyflow/assets/images/compare-selected-tab-middle.png*/ repeat-x; 
	height: 23px;
	display: inline-block; 
	text-decoration: none; 
	padding: 18px 0 2px 0;
}
.compare-tv-header .selected .left-tab 
{ 
	background: url("../images/compare-selected-tab-left.png")/*tpa=https://www.charter.com/browse/html_buyflow/assets/images/compare-selected-tab-left.png*/ no-repeat; 
	float: left;
	display: inline-block;
	width: 19px;
	height: 43px;
}
.compare-tv-header .selected .right-tab 
{ 
	background: url("../images/compare-selected-tab-right.png")/*tpa=https://www.charter.com/browse/html_buyflow/assets/images/compare-selected-tab-right.png*/ no-repeat; 
	float: right;
	display: inline-block;
	width: 19px;
	height: 43px;
}
.compare-tv-header p { color: #666666;}

/* END OF COMPARE TV HEADER NAV */

/*--------------- END OF STYLE FOR COMPARE MODAL ---------------*/


/*------------- RESTYLING OF LOX FOR COMPARE MODAL -------------*/
.lox-content.compare-tv-modal 
{ 
	padding: 0;
	background: url("../images/sprite-waves-h.png")/*tpa=https://www.charter.com/browse/html_buyflow/assets/images/sprite-waves-h.png*/ no-repeat 0 40px #FFFFFF;
}
/*---------- END OF RESTYLING OF LOX FOR COMPARE MODAL ---------*/
