#lox { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 1300;}
.lox-overlay { width: 100%; height: 100%; /*position: fixed;*/ position: absolute; left: 0; top: 0; background: rgba(153, 153, 153, 0.5); opacity: 0; filter: alpha(opacity=0); z-index: 9000; }
.lox-content-wrapper { /*position: fixed;*/ position: absolute; z-index: 9001; opacity: 0; filter: alpha(opacity=0); }
.lox-content { /*position: fixed;*/ max-width: 90%; position: absolute; z-index: 9001; opacity: 0; filter: alpha(opacity=0); padding: 25px; background: url(../images/sprite-waves-h.png)/*tpa=https://www.charter.com/browse/html_buyflow/assets/images/sprite-waves-h.png*/ #fff 0 0 no-repeat; border: 0px solid #fff; visibility: hidden;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
}
.lox-close { width: 50px; height: 50px; display: block; position: absolute; right: -9px; top: -9px; background: url(../images/lox-close.png)/*tpa=https://www.charter.com/browse/html_buyflow/assets/images/lox-close.png*/ 0 0 no-repeat; z-index: 9002; outline: none; cursor: pointer; }
.lox-close:hover { opacity: 1; filter: alpha(opacity=100); }
.off-screen { position: absolute !important; left: -9999px !important; top: -9999px !important; }
