BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.clear {
	CLEAR: both
}
.line-dots-h {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px;  PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 429px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 17px
}
#main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 990px; PADDING-TOP: 0px; POSITION: relative
}
#shadow-btm {
	 HEIGHT: 30px
}
#header {
	MARGIN: 0px auto; WIDTH: 990px; POSITION: relative; HEIGHT: 75px
}
#header .logo {
	LEFT: 0px; WIDTH: 194px; POSITION: absolute; TOP: 11px; HEIGHT: 63px
}
#login {
	PADDING: 0px 0px 0px 9px; RIGHT: 7px; MARGIN: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 34px; TEXT-ALIGN: right;
}
#login .closed {
	DISPLAY: inline; FLOAT: left; POSITION: relative; HEIGHT: 27px; PADDING: 6px 9px 0px 0px; TEXT-ALIGN: left;
}
#login .fields {
	DISPLAY: inline; FLOAT: left; POSITION: relative; HEIGHT: 17px; PADDING-TOP: 6px
}
#login .buttons {
	DISPLAY: inline; FLOAT: left; POSITION: relative; HEIGHT: 27px;
}
#login .buttons IMG {
	DISPLAY: block; FLOAT: left; VERTICAL-ALIGN: middle; POSITION: relative
}
#login .inputField {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 12px;  PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; WIDTH: 161px; COLOR: #907736; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; HEIGHT: 15px; BORDER-BOTTOM-STYLE: none
}
#login .selectField {
	BORDER-RIGHT: #a89668 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #a89668 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #f9f4db; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 0px 0px; BORDER-LEFT: #a89668 1px solid; WIDTH: 150px; COLOR: #907736; PADDING-TOP: 0px; BORDER-BOTTOM: #a89668 1px solid; POSITION: relative
}
#login A.loginBtn {
	DISPLAY: block; FLOAT: left; MARGIN: 0px; POSITION: relative
}
#login A.loginBtn:visited {
	DISPLAY: block; FLOAT: left; MARGIN: 0px; POSITION: relative
}
#search {
	RIGHT: 15px; WIDTH: 314px; POSITION: absolute; TOP: 45px; HEIGHT: 20px
}
#search IMG {
	VERTICAL-ALIGN: top
}
#search .inputField {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; WIDTH: 219px; COLOR: #464648; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; HEIGHT: 15px; BORDER-BOTTOM-STYLE: none
}
#nav {
	Z-INDEX: 2; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 971px; POSITION: absolute; TOP: 0px; HEIGHT: 53px
}
#nav .feat-nav-ul {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
#nav .shadow-btm {
	FONT-SIZE: 3px; LINE-HEIGHT: 1px; HEIGHT: 7px
}
#nav-healthcare_providers {
	DISPLAY: none; Z-INDEX: 3; WIDTH: 815px; POSITION: absolute; TOP: 45px
}
#nav-pharmacies {
	DISPLAY: none; Z-INDEX: 3; WIDTH: 815px; POSITION: absolute; TOP: 45px
}
#nav-suppliers {
	DISPLAY: none; Z-INDEX: 3; WIDTH: 815px; POSITION: absolute; TOP: 45px
}
#nav-healthcare_providers {
	LEFT: -23px
}
#nav-pharmacies {
	LEFT: -252px
}
#nav-suppliers {
	LEFT: -398px
}
.btn-off {
	CURSOR: pointer
}
.btn-on {
	POSITION: relative
}
#healthcare_providers .btn-on {
	DISPLAY: none; LEFT: -2px; POSITION: absolute; TOP: 2px
}
#pharmacies .btn-on {
	DISPLAY: none; LEFT: 2px; POSITION: absolute; TOP: 2px
}
#suppliers .btn-on {
	DISPLAY: none; LEFT: 0px; POSITION: absolute; TOP: 2px
}
.nav-arrow {
	FLOAT: left; POSITION: relative
}
.feat-nav {
	FLOAT: left; POSITION: relative
}
.feat-nav-on {
	WIDTH: 815px; font-size: 14px;
}
.feat-nav-on .feat-container {
	
}
.feat-nav-on .top {
	PADDING-RIGHT: 29px; PADDING-LEFT: 29px; BACKGROUND: #ffffff; PADDING-BOTTOM: 23px; MARGIN: 0px 0px 0px 24px; WIDTH: 709px; PADDING-TOP: 20px; POSITION: relative
}
.feat-nav-on .top H2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: -2px 0px 5px; COLOR: #92d3e1; LINE-HEIGHT: 28px; PADDING-TOP: 0px
}
.feat-nav-on .top H3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 14px; COLOR: #2e2e2f; PADDING-TOP: 0px
}
.feat-nav-on .top H3 A {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; COLOR: #346170; PADDING-TOP: 3px; FONT-STYLE: normal; BACKGROUND-COLOR: #fce17c; TEXT-DECORATION: none
}
.feat-nav-on .top H3 A:visited {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; COLOR: #346170; PADDING-TOP: 3px; FONT-STYLE: normal; BACKGROUND-COLOR: #fce17c; TEXT-DECORATION: none
}
.feat-nav-on .top H3 A:hover {
	BACKGROUND: #e41f35; COLOR: #fff
}
.feat-nav-on .top .links {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; COLOR: #939393; PADDING-TOP: 8px
}
.feat-nav-on .top .links A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FONT-WEIGHT: bold;  PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 19px; COLOR: #e41f35; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.feat-nav-on .top .links A:visited {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FONT-WEIGHT: bold;  PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 19px; COLOR: #e41f35; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.feat-nav-on .top .links A:hover {
	 COLOR: #2e2e2f
}
.feat-nav-on .btm {
	PADDING-RIGHT: 0px; PADDING-LEFT: 29px;  PADDING-BOTTOM: 20px; MARGIN: 0px 0px 0px 24px; WIDTH: 738px; COLOR: #fff; LINE-HEIGHT: 15px; PADDING-TOP: 0px; POSITION: relative
}
.feat-nav-on .btm A.header {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 18px 0px 3px; COLOR: #750404; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.feat-nav-on .btm A.header:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 18px 0px 3px; COLOR: #750404; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.feat-nav-on .btm A.hover {
	COLOR: #fcda5a
}
.feat-nav-on .btm A {
	FONT-WEIGHT: normal; COLOR: #fff; TEXT-DECORATION: none
}
.feat-nav-on .btm A:visited {
	FONT-WEIGHT: normal; COLOR: #fff; TEXT-DECORATION: none
}
.feat-nav-on .btm A:hover {
	COLOR: #fcda5a
}
.feat-nav-on .btm UL.col {
	FLOAT: left; MARGIN: 0px 20px 0px -40px; WIDTH: 226px; LIST-STYLE-TYPE: none; POSITION: relative
}
.feat-nav-on .feat-shadow-btm {
	 WIDTH: 815px; HEIGHT: 48px
}
#middle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 19px; PADDING-BOTTOM: 0px; MARGIN: 34px 0px 0px; WIDTH: 971px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 750px
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 971px; PADDING-TOP: 46px; POSITION: relative
}
#featureDiv {
	MARGIN: 0px 0px 0px 14px; WIDTH: 941px; HEIGHT: 331px
}
.h_line {
	FONT-SIZE: 3px;  WIDTH: 971px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
#btmContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1;  PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; WIDTH: 971px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 333px
}
#newsFlashDiv {
	MARGIN: 0px 0px 0px 17px; WIDTH: 938px; POSITION: relative; HEIGHT: 36px
}
#toutsContent {
	BACKGROUND: #fff; MARGIN: 0px 0px 0px 7px; OVERFLOW: hidden; WIDTH: 959px; POSITION: relative; HEIGHT: 306px
}
#sectionNavShadow {
	FONT-SIZE: 3px; Z-INDEX: 1; LEFT: 0px; WIDTH: 232px; LINE-HEIGHT: 1px; POSITION: absolute; TOP: 0px; HEIGHT: 300px
}
#sectionNavShadow .shadow {
	DISPLAY: inline;  LEFT: 0px; WIDTH: 232px; POSITION: absolute; TOP: 1px; HEIGHT: 116px
}
#sectionNavShadow .shadow2 {
	DISPLAY: none;  LEFT: 0px; WIDTH: 232px; BOTTOM: 0px; POSITION: absolute; HEIGHT: 77px
}
#sectionNav {
	FONT-SIZE: 3px; Z-INDEX: 3; BACKGROUND: none transparent scroll repeat 0% 0%; LEFT: 0px; WIDTH: 229px; LINE-HEIGHT: 1px; POSITION: absolute; TOP: 0px; HEIGHT: 297px
}
#sectionNav .section-nav {
	CURSOR: pointer
}
#sections {
	LEFT: 0px; WIDTH: 633px; POSITION: absolute; TOP: 0px; HEIGHT: 297px
}
#sections .section {
	DISPLAY: none; BACKGROUND: #e41f35; LEFT: 232px; WIDTH: 418px; POSITION: absolute; TOP: 11px; HEIGHT: 281px
}
#sections .first {
	DISPLAY: inline
}
#sections .section .img {
	Z-INDEX: 1; LEFT: 0px; POSITION: absolute; TOP: 0px
}
#sections .section .txt {
	FONT-SIZE: 16px; Z-INDEX: 2; LEFT: 20px; WIDTH: 340px; COLOR: #fff; LINE-HEIGHT: 18px; POSITION: absolute; TOP: 145px
}
#sections .section .txt A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #fcda5a; PADDING-BOTTOM: 0px; MARGIN: 4px 0px; COLOR: #346170; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#sections .section .txt A:visited {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #fcda5a; PADDING-BOTTOM: 0px; MARGIN: 4px 0px; COLOR: #346170; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#sections .section .txt A:hover {
	BACKGROUND: #fff; COLOR: #e41f35
}
#touts {
	FONT-SIZE: 17px;  LEFT: 666px; WIDTH: 279px; COLOR: #fff; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Tahoma, sans-serif; POSITION: absolute; TOP: 0px; HEIGHT: 297px
}
#touts H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-TOP: 0px
}
#touts .toutTop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 29px; BACKGROUND: #9bc787; PADDING-BOTTOM: 0px; MARGIN: 11px 0px 2px 13px; WIDTH: 237px; PADDING-TOP: 24px; HEIGHT: 113px
}
#touts .toutBtm {
	PADDING-RIGHT: 0px; PADDING-LEFT: 29px; BACKGROUND: #536970; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px 13px; WIDTH: 237px; PADDING-TOP: 35px; HEIGHT: 107px
}
#touts .selectBox {
	MARGIN: 8px 0px 0px; WIDTH: 200px
}
.overview#main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 25px; PADDING-TOP: 0px
}
#sidebar {
	BACKGROUND: #fff; FLOAT: left; MARGIN: 72px 0px 60px 3px; WIDTH: 292px; POSITION: relative
}
#sidebar .nav {
	FONT-SIZE: 2px; BACKGROUND: #fff; MARGIN: 0px 0px 13px 34px; WIDTH: 221px
}
#sidebar .nav IMG {
	VERTICAL-ALIGN: top
}
#sidebar .nav UL.buttons {
	MARGIN: 0px 0px 0px -40px; LIST-STYLE-TYPE: none
}
#sidebar .nav UL.buttons LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 1px
}
#sidebar .nav A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 13px;  PADDING-BOTTOM: 4px; WIDTH: 213px; COLOR: #346170; PADDING-TOP: 4px; TEXT-DECORATION: none
}
#sidebar .nav A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 13px;  PADDING-BOTTOM: 4px; WIDTH: 213px; COLOR: #346170; PADDING-TOP: 4px; TEXT-DECORATION: none
}
#sidebar .nav A:hover {
	TEXT-DECORATION: underline
}
#sidebar .nav A.selected {
	 COLOR: #2e2e2f
}
#sidebar .nav A.selected:visited {
	 COLOR: #2e2e2f
}
#sidebar .nav A.sub {
	FONT-WEIGHT: normal; BACKGROUND: #fff; COLOR: #346170; TEXT-DECORATION: none
}
#sidebar .nav A.sub:visited {
	FONT-WEIGHT: normal; BACKGROUND: #fff; COLOR: #346170; TEXT-DECORATION: none
}
#sidebar .nav A.sub:hover {
	TEXT-DECORATION: underline
}
#sidebar .sectionNav {
	MARGIN: 0px 0px 22px 20px; WIDTH: 256px
}
#sidebar .sectionNav UL.buttons {
	FONT-SIZE: 3px; MARGIN: 0px 0px 0px -20px; LINE-HEIGHT: 0; LIST-STYLE-TYPE: none
}
#footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 17px; BACKGROUND: #e41f35; PADDING-BOTTOM: 20px; MARGIN: -40px 0px 0px; PADDING-TOP: 30px
}
#footer H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 13px 0px 2px; COLOR: #750404; PADDING-TOP: 0px
}
#footer H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2px; COLOR: #750404; PADDING-TOP: 0px
}
#footer A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px; COLOR: #fff; LINE-HEIGHT: 12px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#footer A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px; COLOR: #fff; LINE-HEIGHT: 12px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#footer A:hover {
	COLOR: #fcda5a
}
#footer .col {
	BORDER-TOP: #d71d33 4px solid; FLOAT: left; MARGIN: 0px 0px 0px 16px; WIDTH: 140px; LINE-HEIGHT: 15px; POSITION: relative; TEXT-ALIGN: left
}
#footer .col UL {
	LIST-STYLE-TYPE: none
}
#footer .first {
	MARGIN: 0px; WIDTH: 140px
}
#footer .col-int {
	FLOAT: left; WIDTH: 140px; LINE-HEIGHT: 15px; POSITION: relative
}
#footer .first {
	MARGIN: 0px 20px 0px 0px
}
#footer-links {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #e41f35; PADDING-BOTTOM: 15px; WIDTH: 941px; PADDING-TOP: 0px; BORDER-BOTTOM: #d71d33 4px solid
}
#footer-legal {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: #e41f35; PADDING-BOTTOM: 22px; WIDTH: 941px; COLOR: #750404; PADDING-TOP: 19px; BORDER-BOTTOM: #d71d33 2px solid; TEXT-ALIGN: left
}
#footer-legal H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#footer-legal .sizer {
	FLOAT: left; MARGIN: 5px 0px 0px; POSITION: relative
}
#footer-legal .sizer A {
	DISPLAY: inline; MARGIN: 0px 4px 0px 0px; COLOR: #fcda5a;
}
#footer-legal .sizer A:visited {
	DISPLAY: inline; MARGIN: 0px 4px 0px 0px; COLOR: #fcda5a;
}
#footer-legal .sizer A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}

#footer-legal .sizer A.sm {
	font-weight: normal;
}
#footer-legal .sizer A.md {
	font-weight: normal;
}
#footer-legal .sizer A.lg {
	font-weight: bold;
}

#footer-legal .links {
	FLOAT: left; MARGIN: 7px 0px 0px; POSITION: relative
}
#footer-legal .links A {
	DISPLAY: inline; FONT-SIZE: 11px; MARGIN: 0px 0px 0px 18px; COLOR: #fff; TEXT-DECORATION: none
}
#footer-legal .links A:visited {
	DISPLAY: inline; FONT-SIZE: 11px; MARGIN: 0px 0px 0px 18px; COLOR: #fff; TEXT-DECORATION: none
}
#footer-legal .links A:hover {
	COLOR: #fcda5a
}
.search-btn {
	 WIDTH: 64px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 27px; BORDER-BOTTOM-STYLE: none
}
.search-btn:visited {
	 WIDTH: 64px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 27px; BORDER-BOTTOM-STYLE: none
}
.search-btn:hover {
	
}
.find-btn {
	 WIDTH: 47px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 27px; BORDER-BOTTOM-STYLE: none
}
.find-btn:visited {
	 WIDTH: 47px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 27px; BORDER-BOTTOM-STYLE: none
}
.find-btn:hover {
	
}

