#bundles .squeezebox .display-price .clarifier {
	color: #333;
	font-family: 'Open Sans Regular', Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 1em;
}
#bundles .squeezebox .display-price {
	color: #005781;
	float: right;
	margin: 0 10px;
	min-height: 51px;
	min-width: 145px;
	opacity: 0;
}
#bundles .squeezebox .display-price sup {
	display: block;
	font-family: 'Open Sans Bold', Arial, sans-serif;
	font-size: 20px;
	margin-top: 6px;
	vertical-align: bottom;
}
#bundles .squeezebox .display-price {
	display: inline-block;
	float: none;
	opacity: 1;
	right: auto;
	top: auto;
}
#bundles .squeezebox .clear-after:after, #bundles .squeezebox .package-list:after, #bundles .squeezebox .display-price:after {
	clear: both;
	color: #f00;
	content: ".";
	display: block;
	font-weight: bold;
	height: 0;
	line-height: 0;
	overflow: hidden;
	width: 0;
}
#bundles .squeezebox .feature-list li {
	text-shadow: 1px 1px 1px #000000;
}
#bundles .full-content .green-medium-point-right:after {
	box-shadow: none;
}
#bundles .grey-large-point-right, #bundles .green-large-point-right, #bundles .green-medium-point-right, #bundles .green-small-point-right, #bundles .black-small-point-up, #bundles .black-small-point-down {
	box-shadow: none;
}
#bundles .squeezebox h3 {
	color: #FFFFFF;
	font-family: 'Open Sans CondBold', Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
	margin-top: 30px;
	text-transform: uppercase;
}
#bundles .squeezebox.expanded h3 {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 600;
	left: -3px;
	margin-top: 0;
	position: relative;
	text-transform: uppercase;
	top:-12px;
}
#bundles .squeezebox.expanded > li.expanded h3 {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 600;
	left: 100px;
	margin-top: 0;
	position: relative;
	text-transform: uppercase;
	top: -9px;
}
#bundles .squeezebox ul {
	color: #999999;
	font-family: 'Open Sans BoldCondLight', Arial, sans-serif;
	font-size: 12px;
	font-weight: 600;
	list-style: disc outside none;
}
/* Chrome Only Update */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#bundles .squeezebox ul { 
		font-size: 11px;   
	}
	#bundles .squeezebox.expanded ul {
		font-size: 12px;
	}
}
/* IE Only Update */
#bundles .squeezebox ul {
	font-size: 11px\9;
}
/* IE Only Update */
#bundles .squeezebox.expanded u {
	font-size: 12px\9;
}
#bundles .squeezebox .preview .feature-list ul {
	color: #999999;
	font-family: 'Open Sans BoldCondLight', Arial, sans-serif;
	font-size: 12px;
	font-weight: 600;
	list-style: disc outside none;
	position: relative;
	top: -16px;
	width: 220px;
}
#bundles .squeezebox > li {
	background: none #ffffff transparent;
	background: rgba(0, 0, 0, 0 ) none repeat scroll 0 0;
	box-shadow: 0 0 0 #000000;
	box-shadow: rgba(0, 0, 0, 0) 0 0 0;
	margin-bottom: 10px;
}
#bundles .squeezebox.expanded > li {
	background: none #ffffff transparent;
	background: rgba(0, 0, 0, 0 ) none repeat scroll 0 0;
	box-shadow: rgba(0, 0, 0, 0.34) 0 0 10px;
}
#bundles .squeezebox.expanded > li.expanded .trigger {
	background: none #ffffff transparent;
	background: rgba(0, 0, 0, 0) url("../../../buyflow/static/assets/images/collapse-arrow.png")/*tpa=https://www.charter.com/buyflow/static/assets/images/collapse-arrow.png*/ no-repeat scroll 0 0;
	display: block;
	height: 75px;
	overflow: hidden;
	width: 39px;
	font-size: 1px;
	position: absolute;
	right: 0;
	text-indent: -300em;
	top: 45%;
}
#bundles .squeezebox.expanded > li .trigger {
	color: #FFFFFF;
	cursor: pointer;
	font-size: 10px;
	font-weight: 600;
	position: relative;
}
#bundles .squeezebox .trigger {
	color: #FFFFFF;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
}
#bundles .squeezebox.expanded > li > div .spectrum_logo_white {
	background: none #ffffff transparent;
	background: rgba(0, 0, 0, 0) url("../../../buyflow/static/assets/images/spectrum_logo_small.png")/*tpa=https://www.charter.com/buyflow/static/assets/images/spectrum_logo_small.png*/ repeat scroll 0 0;
}
#bundles .squeezebox .feature-list {
	color: #FFFFFF;
	list-style: none outside none;
}
#bundles .squeezebox .feature-list li:before {
	color: #333333;
	content: "";
	list-style: none outside none;
}
#bundles .squeezebox.expanded .feature-list li:before {
	color: #333333;
	content: "•";
	left: -9px;
	position: absolute;
	top: 0;
}
#bundles .squeezebox.expanded .feature-list li {
	color: #333333;
	line-height: 18px;
	position: relative;
	text-shadow:none;
}
#bundles .squeezebox .display-price {
	text-shadow: 1px 1px 1px #000000;
}
#bundles .squeezebox .display-price .dollars {
	color: #FFFFFF;
	font-family: 'Open Sans Semibold', Arial, sans-serif;;
	font-size: 59px;
}
#bundles .squeezebox .display-price .dollar-sign {
	color: #FFFFFF;
	font-family: 'Open Sans CondBold', Arial, sans-serif;
	font-size: 19px;
	font-weight: normal;
	line-height: 1em;
}
#bundles .squeezebox .dollar-sign-silver {
	color: #FFFFFF;
	font-family: 'Open Sans CondBold', Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 1em;
}
#bundles .squeezebox .dollar-sign-gold {
	color: #FFFFFF;
	font-family: 'Open Sans CondBold', Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 1em;
}
#bundles .squeezebox .display-price .clarifier {
	color: #FFFFFF;
}
#bundles .squeezebox .display-price sup {
	color: #FFFFFF;
	font-family: 'Open Sans Regular', Arial, sans-serif;;
	margin-top: 0;
}
#bundles .squeezebox .display-price .right-group {
	line-height: inherit;
	display: inline-block;
	left: 3px;
	position: relative;
	vertical-align: top;
}
#bundles .squeezebox .starting-text {
	color: #FFFFFF;
	font-family: 'Open Sans Regular', Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	line-height: 1em;
}
#bundles .squeezebox .feature-list b {
	color: #FFFFFF !important;
}
#bundles .squeezebox .section.select-bundle .trigger.add-utag {
	position: relative;
	top: 2px;
}
#bundles .squeezebox.expanded .section.select-bundle .trigger.add-utag {
	top: 0;
}
#bundles .full-content .chooseBundleBtn {
	height: 32px;
	height: 35px\9;
	width:115px;
}
#bundles .specLongDiscUL {
	margin-top: 150px;
	list-style: none outside none;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
#bundles .specLongDiscLI1 {
	font-family: 'Open Sans Semibold', Arial, sans-serif;
	font-size: 30px;
	left: 5px;
	list-style: none outside none !important;
	text-shadow: 1px 1px 1px #000000;
	top: -15px;
}
#bundles .specLongDiscLI2 {
	font-family: 'Open Sans Semibold', Arial, sans-serif;
	font-size: 13px;
	left: 10px;
	list-style: none outside none !important;
	text-align: center;
	top: -20px;
	width: 200px;
}
#bundles .specLongDiscLI3 {
	font-family: 'Open Sans Semibold', Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	list-style: none outside none !important;
	margin: 10px 0 0;
	text-align: center;
	top: -15px;
}
#bundles .specLongDiscLI4 {
	font-family: 'Open Sans Semibold', Arial, sans-serif;
	font-size: 13px;
	list-style: none outside none !important;
	margin-top: 40px;
	position: relative !important;
	text-align: center;
	top: -15px;
}
#bundles .specLongDiscMBPS1 {
	float: left;
	text-decoration: line-through;
}
#bundles .specLongDiscMBPS2 {
	float: right;
}
#bundles .squeezebox > li.select-bundle, #bundles .squeezebox > li.silver-bundle, #bundles .squeezebox > li.gold-bundle { /* Bundles Page Update  */
	background-position: 0 center;
}
#bundles .squeezebox > li.select-bundle .preview, #bundles .squeezebox > li.silver-bundle .preview, #bundles .squeezebox > li.gold-bundle .preview, #bundles .squeezebox .add-info, #bundles .squeezebox .price .footnote { /* Bundles Page Update  */
	color:#ffffff;
}
#bundles .hr-text b { /* Bundles Page Update  */
	background: none repeat scroll 0 0 #145bb3;
}
#additionalOfferAreaList .display-price {
	color: #005781;
}
/*************************************
SQB Testing CSS
**************************************/
#bundles li .section {
	background-color: #01162d;
}
/*  lighter blue 011A3A  */
#bundles .squeezebox > li {
	background: url("../../../buyflow/static/assets/images/Charter_Spectrum_bkd.png")/*tpa=https://www.charter.com/buyflow/static/assets/images/Charter_Spectrum_bkd.png*/ no-repeat scroll 0 0 #01162d;
	box-shadow: rgba(0, 0, 0, 0.34) 0 0 10px;
}
#bundles .squeezebox.expanded > li.expanded {
	background: url("../../../buyflow/static/assets/images/spectrum-bundles-bg.png")/*tpa=https://www.charter.com/buyflow/static/assets/images/spectrum-bundles-bg.png*/ no-repeat scroll 0 0 #01162d;
}
#bundles .squeezebox.expanded > li {
	background: url("../../../buyflow/static/assets/images/Charter_Spectrum_bkd.png")/*tpa=https://www.charter.com/buyflow/static/assets/images/Charter_Spectrum_bkd.png*/ no-repeat scroll 0 0 #01162d;
}
#bundles .squeezebox.expanded > li {
	background: url("../../../buyflow/static/assets/images/spectrum-bundles-bg.png")/*tpa=https://www.charter.com/buyflow/static/assets/images/spectrum-bundles-bg.png*/ no-repeat scroll 0 0 #01162d;
}
#bundles .squeezebox .gfx {
    height: 105px;
    left: 10px;
    margin: 30px auto 10px;
    position: relative;
    top: -40px;
    width: 300px;
}
#bundles .squeezebox .gfx img {
    width: 250px;
}
#bundles .squeezebox .price {
	color: #FFFFFF;
}
#bundles .specLongDiscLI2 {
	margin-left: 10px;
	margin-top: 5px;
}
#bundles .squeezebox h4 {
	color:#ffffff;
}
#bundles .squeezebox.expanded > li.expanded .copy-area {
	margin-right: 20px;
	max-width: 380px;
	padding: 40px 0;
}
#bundles .select-bundle li.specLongDiscLI3 {
	margin-top: 27px;
}
#bundles .select-bundle .specLongDiscLI4 {
	margin-top: 56px;
}
#featured_offers li.section {
	min-height: 450px;
}
#bundles .squeezebox .trigger {
	line-height: 15px;
	margin-top: 0px;
}
#bundles .money-sign-fo {
	left: -12px;
	position: absolute;
	top: 0;
}
#bundles .clarifier.startAt {
	left: -60px;
	position: absolute;
	top: 30px;
}
#bundles .clarifier.silverPlus {
	left: -55px;
	position: absolute;
	top: 30px;
}
#bundles .clarifier.goldPlus {
	left: -50px;
	position: absolute;
	top: 30px;
}
#bundles .expanded .clarifier.startAt, #bundles .expanded .clarifier.silverPlus, #bundles .expanded .clarifier.goldPlus {
	left: -10px;
	top: -13px;
}
#bundles .squeezebox .display-price {
	left: 40px;
	position: relative;
	text-shadow: 1px 1px 1px #000000;
	top: 5px;
}
#bundles .clarifier.when-bundle-copy {
	font-size: 10px;
	line-height: 6px;
}
#bundles .package-list .buttons button .black-small-point-up, #bundles .package-list .buttons .black-small-point-down a, #bundles .package-list .buttons .black-small-point-down input {
	width: 125% !important;
}
#bundles .toggle.black-small-point-down {
	width: 155px !important;
}
#bundles .toggle.black-small-point-up {
	width: 155px !important;
}
#bundles .mozilla .toggle.black-small-point-down {
	width: 165px !important;
}
#bundles .mozilla .toggle.black-small-point-up {
	width: 165px !important;
}
#bundles .price-block.preview.full-content {
	left: 65px;
}
#bundles .package-list .summary > li {
	margin-right: 0px;
}
#bundles .package-list .detail .slide-margin {
	margin: 40px 10px 10px 20px;
}
/*************************************
Additional Style CSS
**************************************/
#bundles .squeezebox.expanded > li .trigger {
	background: url("../../../buyflow/static/assets/images/Charter_Spectrum_Expand_Trigger_2.png")/*tpa=https://www.charter.com/buyflow/static/assets/images/Charter_Spectrum_Expand_Trigger_2.png*/ no-repeat scroll 0 0 transparent;
	margin-left: 0;
	margin-top: 10px;
	margin-right: 3px;
	height:25px;
	width:55px
}
/* Safe Position CSS */
#bundles .desc {
	left: 49px;
	position: relative;
}
#bundles .package-list .desc {
	font-size: 32px;
}
#bundles .squeezebox.expanded > li.expanded .price-block {
	left: -30px;
	position: relative;
	top: 10px;
}
#bundles .squeezebox.expanded > li.expanded .price-block .chooseBundleBtn {
	left: 20px;
	position: relative;
	top: -50px;
}
#bundles .squeezebox.expanded > li.expanded .price-block .btn-choose {
	left: 40px;
	position: relative;
	top: -43px;
}
#bundles .storeFront .squeezebox .btn-choose {
	width: 90px;
}
#bundles .squeezebox.expanded .display-price .dollars {
	font-family: 'Open Sans Bold', Arial, sans-serif;
	font-size: 65px;
	font-weight: 600;
}
#bundles .squeezebox.expanded .display-price .cents {
	font-family: 'Open Sans Bold', Arial, sans-serif;;
}
#bundles .squeezebox.expanded li.expanded .CBO-md-copy h4 {
	color: #489cd3;
}
#bundles .squeezebox.expanded li.expanded .CBO-md-copy {
	color: #FFFFFF;
}
#bundles li.price .display-price.clear-after.addOfferOpOne:last-child {
	float: right;
	position: relative;
	top: 0;
	left: 10px;
}
/*************************************
White Box
**************************************/
#bundles .squeezebox.expanded li.expanded .expanded-white-bg {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 0 10px 10px 0;
	height: 99%;
	left: 277px;
	position: absolute;
	top: 4px;
	width: 445px;
}
#bundles .squeezebox.expanded li.expanded .expanded-blue-border {
	background: transparent;
	border: 6px solid #489cd3;
	width: 98.6%;
	height: 98.6%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
}
#bundles .squeezebox.expanded li.expanded .expanded-blue-border {
	display:none\9;
}
#bundles .squeezebox.expanded li.expanded .expanded-header-bg {
	background: #489cd3;
	width: 100%;
	height: 35px;
	position: absolute;
	top: 0;
	left: 0;
	top: 4px\9;
	left: 4px\9;
	border-radius: 10px 10px 0 0;
}
#bundles .squeezebox.expanded li.expanded .expanded-header-logo {
	background: url("../../../buyflow/static/assets/images/Charter_Spectrum_logo_white-sm.png")/*tpa=https://www.charter.com/buyflow/static/assets/images/Charter_Spectrum_logo_white-sm.png*/ no-repeat scroll 0 0 transparent;
	height: 22px;
	left: 10px;
	position: absolute;
	top: 8px;
	width: 85px;
}
#bundles .squeezebox.expanded > li .minified-blue-block {
	display: block;
	background: #489cd3;
	width: 100%;
	height: 35px;
	position: absolute;
	top: 0;
	left: 0;
	top: 4px\9;
	left: 4px\9;
	border-radius: 10px 10px 0 0;
}
#bundles .squeezebox.expanded > li.expanded .preview .minified-blue-block, #bundles .squeezebox.expanded > li.expanded .minified-blue-block {
	display: none;
}
#bundles .squeezebox.expanded li.expanded .gfx {
    left: 10px;
    top: -30px;
}
#bundle .CBO-moredetails-block .CompleteDisp-Yes {
	color:#ffffff !important;
}
#bundles .squeezebox.expanded li.expanded h4 {
	color: #0075ac;
	position: relative;
}
#bundles .squeezebox .trigger:before {
	margin-left: 75px !important;
}