/*Fixes the vertical positioning of the text in the search box */
#header #header_search input[type*="text"]{  height:18px; padding-top:4px; }

/*Fixes the vewrtical positioning of the text in the find an agency textbox*/
.aoi_form .form_tb_agency{ height:23px; padding-top:5px; }
.accordion_panel .content .search_input{ height:23px; padding-top:5px; }