body {
	font-size:11px;
	font-family: Verdana, Arial, Sans-Serif;
	/*background: #ffffff;*/
	color: #333;
	/*text-align: left;*/
	}
a:link { text-decoration : none; color: #000000; font-weight:normal;} 
a:active { text-decoration : underline; color: #000000; font-weight:normal;} 
a:visited { text-decoration : none; color: #000000; font-weight:normal; } 
a:hover { text-decoration : underline; color: #039dc2; font-weight:normal;} 

#captioncontainer { border:none; position:absolute; z-index:10000; color:#fff; font-family:Verdana, Geneva, sans-serif; padding: 15px; font-size:16px; line-height: 24px; display:none; font-weight:bold; }

#jqb_object img{ 
	border: none;
}

#jqb_object { 
	position:relative;
	width:850px; height:380px; 
	overflow:hidden;
}


#jqb_object .jqb_bar{
	position:absolute;
	width:850px; height: 30px;
	left:0px;
	bottom:0px;
	background:#000000;
	opacity:0.7;
	filter:alpha(opacity=20);
	
	color: #ffffff;
	font-family: Arial, Verdana, Sans-Serif;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0px;
}

#jqb_object .jqb_slide{
	position:absolute;
	width:850px; height:380px; 
	font-family: Arial, Verdana, Sans-Serif;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0px;
	text-align: left;
}

#jqb_object .jqb_info{
	position:absolute;
	padding: 2px 10px 2px 10px;
	float: left;
}

#jqb_object .jqb_btn{
	width: 15px; height: 14px;
	margin: 10px 5px 2px 2px;
	float: right;
}
#jqb_object .jqb_btn_next{
	background-image:url(img/btn_next.gif)/*tpa=http://www.fcx.com/jqbanner/img/btn_next.gif*/;
}
#jqb_object .jqb_btn_prev{
	background-image:url(img/btn_prev.gif)/*tpa=http://www.fcx.com/jqbanner/img/btn_prev.gif*/;
}
#jqb_object .jqb_btn_pause{
	background-image:url(img/btn_stop.gif)/*tpa=http://www.fcx.com/jqbanner/img/btn_stop.gif*/;
}
#jqb_object .jqb_btn_play{
	background-image:url(img/btn_play.gif)/*tpa=http://www.fcx.com/jqbanner/img/btn_play.gif*/;
}



