#navigation li.top{
	float: left;
	
}
#navigation li.top ul li{
	clear: left;
}
#navigation li.top ul li a{
	width:190px;
}
#social li{
	float: left;
	width: 60px;
	
}
#home #module2 h3.long-text, #home #module3 h3.long-text,#home #module2 h3, #home #module3 h3{
		margin-bottom: 0px !important;
}

#ie-warning { text-align:center; padding:5px; font-size:10px; position:relative; padding-right:200px;}
#ie-warning .close { color:red; text-decoration:underline; position:absolute; top:5px; right:20px; cursor:pointer;  }

