/* ==========================================================================
   Print styles
   ========================================================================== */
@import url(../../fonts.googleapis.com/css-family=Open+Sans-300,400,700.css)/*tpa=http://fonts.googleapis.com/css?family=Open+Sans:300,400,700*/;

@font-face {
    font-family: "UniversLTW01-67BoldCn";
    src: url("web-fonts/Fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot-iefix")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?iefix*/ format("embedded-opentype");
}
@font-face {
    font-family: "UniversLTW01-67BoldCn";
    src: url("web-fonts/Fonts/21decb60-b395-4de2-bd04-e38eb2a56d2f.woff")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/21decb60-b395-4de2-bd04-e38eb2a56d2f.woff*/ format("woff"), url("web-fonts/Fonts/091058d4-36b2-43f6-80d3-16c88e098061.ttf")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/091058d4-36b2-43f6-80d3-16c88e098061.ttf*/ format("truetype"), url("web-fonts/Fonts/827d22bc-e38b-4ccf-8a21-1f9aaa76e402.svg#827d22bc-e38b-4ccf-8a21-1f9aaa76e402")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/827d22bc-e38b-4ccf-8a21-1f9aaa76e402.svg#827d22bc-e38b-4ccf-8a21-1f9aaa76e402*/ format("svg");
}
@font-face {
    font-family: "UniversLTW01-57Condense 723821";
    src: url("web-fonts/Fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot-iefix")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?iefix*/ format("embedded-opentype");
}
@font-face {
    font-family: "UniversLTW01-57Condense 723821";
    src: url("web-fonts/Fonts/1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff*/ format("woff"), url("web-fonts/Fonts/9b913baf-b1f0-47d2-8c76-42f59650058f.ttf")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/9b913baf-b1f0-47d2-8c76-42f59650058f.ttf*/ format("truetype"), url("web-fonts/Fonts/0abcce12-2274-4ee7-b6d5-0066b5f5f670.svg#0abcce12-2274-4ee7-b6d5-0066b5f5f670")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/0abcce12-2274-4ee7-b6d5-0066b5f5f670.svg#0abcce12-2274-4ee7-b6d5-0066b5f5f670*/ format("svg");
}
@font-face {
    font-family: "UniversLTW01-47LightCn";
    src: url("web-fonts/Fonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot-iefix")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot?iefix*/ format("embedded-opentype");
}
@font-face {
    font-family: "UniversLTW01-47LightCn";
    src: url("web-fonts/Fonts/609beecf-8d23-4a8c-bbf5-d22ee8db2fc9.woff")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/609beecf-8d23-4a8c-bbf5-d22ee8db2fc9.woff*/ format("woff"), url("web-fonts/Fonts/a6595b8d-d4a3-4f01-bf21-0b53617d4b1c.ttf")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/a6595b8d-d4a3-4f01-bf21-0b53617d4b1c.ttf*/ format("truetype"), url("web-fonts/Fonts/1cd9ef2f-b358-4d39-8628-6481d9e1c8ce.svg#1cd9ef2f-b358-4d39-8628-6481d9e1c8ce")/*tpa=http://www.southerncompany.com/css/web-fonts/Fonts/1cd9ef2f-b358-4d39-8628-6481d9e1c8ce.svg#1cd9ef2f-b358-4d39-8628-6481d9e1c8ce*/ format("svg");
}

@page { margin: 0.5cm; }

* { background: transparent !important; color: #000 !important; /* Black prints faster: h5bp.com/s */ box-shadow: none !important; text-shadow: none !important; }

body h1 { font-family: 'UniversLTW01-67BoldCn',sans-serif; font-size: 20px; line-height: 18px; }
body h2 { font-family: 'UniversLTW01-47LightCn',sans-serif; font-size: 18px; line-height: 14px; }
body h3 { font-family: 'UniversLTW01-47LightCn',sans-serif; font-size: 16px; line-height: 14px; }
body h4 { font-family: 'UniversLTW01-57Condense 723821',sans-serif; font-size: 16px; line-height: 16px; }
body h5 { font-family: 'UniversLTW01-57Condense 723821',sans-serif; font-size: 16px; line-height: 16px; }

#banner, #facebook-like, #social-twitter, .flexslider, .navigation, .simple-overlay, .hide, #mobile-menu, #drawer, .module .button, .learn-more { display: none; }
.slider-content-print{ display: block; }
.module { height: auto !important; margin-bottom: 15px; display: table; }

.header-container{ margin: 40px; padding-bottom: 40px;  border-bottom: 1px solid #ccc; }
.header-container a[href]:after { content: ""; }	

.main-container{ margin-left: 40px; margin-right: 40px; }
.main-container img { display: none; }
.main-container .slider-content-print  ul{ margin: 0px; padding: 0px; list-style: none; };
.main-container .slider-content-print  ul li{ margin: 0px; padding: 0px; }  

.footer-container{ margin-left: 40px; margin-right: 40px; }
  
    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
      /*  content: " ( " attr(href) " )"; */
    }

    abbr[title]:after {
        content: " (" attr(title) " )";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

   
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
	
	ul { margin: 0px; padding: 0px; list-style: none;}
	ul li { margin: 0px; margin-bottom: 10px; padding: 0px;  }
	

