/* Header Styles */
#header a			{ text-decoration: none; color: #7d7d7d; }
#header a:visited	{ color: #7d7d7d; }
#header a:hover 	{ color: #0E487F; }
#quicksearch		{ display: inline; padding: 0 0 0 0; margin: 0 0 0 0; }
#quicksearch input	{ background-color: #f7f7f7; border: 0; background-repeat: no-repeat; background-image: url('../images/searchbox.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/searchbox.png*/; width: 153px; height: 19px; padding: 2px 0px 0px 6px; font-size: 10px; }
.logoSpot			{ position: absolute; width: 242px; height: 49px; top: 15px; left: 0px; }
.quickbar			{ position: absolute; width: 654px; height: 27px;  top: 15px; left: 286px; padding: 5px 0px 0px 5px; top: 0px; right: 0px; color: #7d7d7d; background: url('../images/quickbar_left.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/quickbar_left.png*/ bottom left no-repeat #f7f7f7; font-size: 10px; }
.quickbar div 		{ background: url('../images/quickbar_right.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/quickbar_right.png*/ bottom right no-repeat; height: 100%; }
.quickbar span 		{ white-space: nowrap; }
.primeNav			{ position: absolute; top: 50px; right: -20px; z-index: 500; }

/* Template Styles */ 
IMG					{ border: 0; }
.linedSides			{ border-left: 1px solid #E8E8E8; border-right: 1px solid #E8E8E8; }
.linedLeft			{ border-left: 1px solid #E8E8E8; }
.linedRight			{ border-right: 1px solid #E8E8E8; }
.linedTop			{ border-top: 1px solid #E8E8E8; }
.linedBottom		{ border-bottom: 1px solid #E8E8E8; }
.mainflash			{ }
.pageTitle			{ font-size: 15px !important; color: #0E487F !important; font-weight: bold !important; margin: 0 0 28px 0; }
P					{ font-size: 12px; color: #464646; margin: 0 0 0 0; }
#primary p			{ padding-bottom: 20px; margin: 0 0 0 0; }
.sidebar p 			{ padding-bottom: 8px; }

/* Template A */
	#content_a			{ width: 951px !important; position: relative; background-color: White; margin: auto;
							/* padding: t r b l; */
							padding: 19px 29px 17px 10px !important;
						}
	#left_a 			{ float: left; width: 323px; padding-right: 16px; padding-left: 0px; }
	#primary_a			{ float: left; width: 323px; padding-right: 17px; padding-left: 16px; }
	#right_a 			{ float: right; width: 210px; padding-right: 0px; padding-left: 17px; }
	#promoSlotA			{ width: 100%; height: 375px; margin: 0 auto; padding: 0 0 0 0; text-align: center; z-index: 1; }
	#promoSlotA p		{ margin-bottom: 0 !important; }
	#promoSlotA img		{ margin: 0 0 0 0 !important; padding: 0 0 0 0 !important; }
	.mainHomeA			{ margin: auto; margin-left: 10px; margin-right: 10px; }
	.mainHomeA p		{ padding-bottom: 20px; }

/* Template B */
	#content_b			{ width: 951px !important; position: relative; background-color: White; margin: auto;
							/* padding: t r b l; */
							padding: 0 0 17px 0 !important; min-height: 100%;
						}
	#left_b 			{ float: left; width: 196px; margin: 10px 0 0 0; padding: 0 0 0 0;  min-height: 0; }
	#primary_b			{ float: left; width: 451px; margin: 0 0 0 0; padding: 0 0 0 42px; min-height: 100%; }
	#primary_b p		{ padding-bottom: 20px; margin: 0 0 0 0; }
	#primary_b ul		{ margin: 0 0 30px -25px; }
	#primary_b ol		{ margin: 0 0 30px -25px; }

	#right_b 			{ float: right; width: 220px; margin: 0 0 0 0; padding: 0 0 0 0; min-height: 100%; right: 0; }
	#promoSlotB			{ position: relative; width: 100%; margin: 0 0 0 0; padding: 0 0 0 0; z-index: 1; }
	#promoSlotB p		{ margin-bottom: 0 !important; }
	#promoSlotB img		{ margin: 0 0 0 0 !important; padding: 0 0 0 0 !important; }
	.mainBoxB			{ float: right; width: 755px !important; margin-left: 0px; margin-right: 0px; }
	.mainHomeB			{ position: relaive; width: 100%; min-height: 100%; margin: 0 0 0 0; padding: 25px 0 0 0; }

/* Template D */
	#content_d			{ width: 951px !important; position: relative; background-color: White; margin: auto;
							/* padding: t r b l; */
							padding: 0 0 17px 0 !important; min-height: 100%;
						}
	#left_d 			{ float: left; width: 196px; margin: 10px 0 0 0; padding: 0 0 0 0;  min-height: 0; }
	#primary_d			{ float: left; width: 451px; margin: 0 0 0 0; padding: 0 0 0 42px; min-height: 100%; }
	#primary_d p		{ padding-bottom: 20px; margin: 0 0 0 0; }
	#primary_d ul		{ margin: 0 0 30px -25px; }
	#primary_d ol		{ margin: 0 0 30px -25px; }
	#right_d 			{ float: right; width: 220px; margin: 0 0 0 0; padding: 0 0 0 0; min-height: 100%; right: 0; }
	#promoSlotD			{ position: relative; width: 100%; margin: 0 0 0 0; padding: 0 0 0 0; z-index: 1; }
	#promoSlotD p		{ margin-bottom: 0 !important; }
	#promoSlotD img		{ margin: 0 0 0 0 !important; padding: 0 0 0 0 !important; }
	.mainBoxD			{ float: right; width: 755px !important; margin-left: 0px; margin-right: 0px; }
	.mainHomeD			{ position: relaive; width: 100%; min-height: 100%; margin: 0 0 0 0; padding: 25px 0 0 0; }

/* Template H */
	#content_h			{ width: 951px !important; position: relative; background-color: White; margin: auto;
							/* padding: t r b l; */
							padding: 0 0 17px 0 !important; min-height: 100%;
						}
	#left_h 			{ float: left; width: 196px; margin: 10px 0 0 0; padding: 0 0 0 0;  min-height: 0; }
	#bodyCopy_h			{ width: 620px; }
	#primary_h			{ float: left; width: 720px; margin: 0 0 0 0; padding: 35px 0 0 42px; min-height: 100%; }
	#primary_h p		{ padding-bottom: 20px; margin: 0 0 0 0; }
	#primary_h ul		{ margin: 0 0 30px -25px; }
	#primary_h ol		{ margin: 0 0 30px -25px; }


/*	#right_h 			{ float: right; width: 220px; margin: 0 0 0 0; padding: 0 0 0 0; min-height: 100%; right: 0; } */
	#promoSlotH			{ position: relative; width: 100%; margin: 0 0 0 0; padding:  0 0 0; z-index: 1; }
	#promoSlotH p		{ margin-bottom: 0 !important; padding-bottom: 0 !important; float: left; }
	#promoSlotH img		{ margin: 0 0 0 0 !important; padding: 0 25px 0 0 !important; }
	.mainBoxH			{ float: right; width: 755px !important; margin-left: 0px; margin-right: 0px; }
	.mainHomeH			{ position: relaive; width: 100%; min-height: 100%; margin: 0 0 0 0; padding: 25px 0 0 0; }

/* Hero Slide Show */

#heroShow { position: relative; cursor: pointer; min-width: 951px; overflow-x: hidden; }
#heroShow .cycle-slide { width: 100%; }
#heroShow .cycle-slide img { visibility: hidden; }

#heroShow #showControls {
    position: absolute;
    z-index: 200;
    top: 170px;
    width: 100%;
    height: 1px;
    /*
    pointer-events: none;
    background-color: rgba(0,0,0,.5);
        */
}
#heroShow #showControls div {
    position: relative;
    width: 990px;
    height: 1px;
    margin: auto;
    padding: 0px;
}

#heroShow .cycle-next {
    position: absolute;
    top: 0px;
    right: -10px;
    z-index: 210;
    height: 30px;
    width: 35px;
    background: transparent url(../images/hero/arrow_right.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/hero/arrow_right.png*/ no-repeat top left;
}
#heroShow .cycle-next:hover {
    background: transparent url(../images/hero/arrow_right_hover.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/hero/arrow_right_hover.png*/ no-repeat top left;
}
#heroShow .cycle-prev {
    position: absolute;
    top: 0px;
    left: -30px;
    z-index: 210;
    height: 30px;
    width: 35px;
    background: transparent url(../images/hero/arrow_left.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/hero/arrow_left.png*/ no-repeat top left;
}
#heroShow .cycle-prev:hover {
    background: transparent url(../images/hero/arrow_left_hover.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/hero/arrow_left_hover.png*/ no-repeat top left;
}

#heroShow button { 
    padding: 0;
    border: 0;
    cursor: pointer;
    text-align: auto;
    color: #464646;
    background-image: none;
    font: bold 12px Helvetica, Arial, sans-serif;;
    overflow: hidden;
    outline: none;
    border: none;
}
#heroShow button::-moz-focus-inner {
    padding: 0;
    border: none;
    outline: none;
}
#heroShow button:hover {
    background-position: left;
    color: White;
    outline: none;
    border: none;
}
#heroShow button:focus {
    outline: none;
    border: none;
}

#heroShowsmall { position: relative; cursor: pointer; width: 755px; }
#heroShowsmall .cycle-slide { width: 100%; }
#heroShowsmall .cycle-slide img { visibility: hidden; }

#heroShowsmall .pagerNum {
    position: absolute;
    bottom: 0;
    right: 15px;
    z-index: 500;
}
#heroShowsmall .pagerNum a {
    font-family: Helvetica, Verdana;
    display: block;
    float: left;
    padding: 5px 9px;
    margin: 0px 2px 1px 2px;
    background-color: rgb(232,232,232);
    background-color: rgba(232,232,232,.5);
    color: #434343;
    text-decoration: none;
}
#heroShowsmall .pagerNum a:hover {
    background-color: rgb(14,73,128);
    background-color: rgba(14,73,128,.5);
    color: white;
}
#heroShowsmall .cycle-pager-active a {
    background-color: rgb(14,73,128);
    background-color: rgba(14,73,128,.5);
    color: white; 
}

/* Footer Styles */
#shoeBox 			{ width: 926px !important; height: 86px !important; border-top: 1px solid #E8E8E8; padding-top: 27px; margin: 0 auto; }
#shoeQuick			{ float: left; }
#shoeQuick ul li	{ font-size: 11px; margin-bottom: 3px; }
#shoeQuick ul li a 				{ color: #7D7D7D !important; }
#shoeQuick ul li a:hover		{ color: #0E487F !important; }
#shoeQuick ul li.shoeTitle		{ color: #464646 !important; font-size: 12px; font-weight: bold; margin-bottom: 5px; }
.shoeLinks			{ float: left; 	margin: 0; padding: 0 25px 0 25px; list-style: none; }
/*
.shoeShare			{ float: left; 	margin: 0; padding: 0 0 0 50px; list-style: none; }
.shoeShare li		{ padding-bottom: 5px; }
*/
#shoeCred			{ float: right;  width: 225px; padding-right: 5px; }
#shoeCred ul li		{ margin: 0; list-style: none; font-size: 11px; margin-bottom: 3px; text-align: right; }
#shoeCred ul li a 			{ color: #7D7D7D !important; text-decoration: underline; }
#shoeCred ul li a:hover		{ color: #0E487F !important; text-decoration: underline; }

#footer a			{ text-decoration: none; color: #7d7d7d; }
#footer a:visited	{ color: #7d7d7d; }
#footer a:hover 	{ color: #0E487F; }

#footer {
    POSITION: relative;
    PADDING-BOTTOM: 44px;
    CLEAR: both;
    MARGIN: 0px auto;
}
#footer P {
    FONT-SIZE: 0.9em; 
    /*FLOAT: right;*/
    COLOR: #999
}
#shoeBox {
    BORDER-TOP: #e8e8e8 1px solid;
    HEIGHT: 86px !important;
    PADDING-TOP: 27px;
    MARGIN: 0px auto;
    WIDTH: 926px !important
}
#shoeQuick {
    /*FLOAT: left*/
}
#shoeCred {
    /*FLOAT: right;
    PADDING-RIGHT: 5px;
    WIDTH: 220px;*/
    padding-right: 50px;
    margin-top: -12px;
}
.shoeLinks {
    LIST-STYLE-TYPE: none;
    FLOAT: left;
    LIST-STYLE-IMAGE: none;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 50px;
    MARGIN: 0px;
    PADDING-RIGHT: 18px
}
#shoeShare {
    margin: 33px auto;
    display: table;
}
#social_Facebook {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 7px;
    background-image: url(../images/social/icon_facebook.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/social/icon_facebook.png*/;
}
#social_Twitter {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 7px;
    background-image: url(../images/social/icon_twitter.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/social/icon_twitter.png*/;
}
#social_YouTube {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 7px;
    background-image:  url(../images/social/icon_youtube.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/social/icon_youtube.png*/;
}
#social_LinkedIn {
    width: 31px;
    height: 24px;
    float: left;
    margin-right: 7px;
    background-image: url(../images/social/icon_linkedin.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/social/icon_linkedin.png*/;
}
#social_Instagram {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 7px;
    background-image: url(../images/social/icon_instagram.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/social/icon_instagram.png*/;
}
#social_GooglePlus {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 7px;
    background-image: url(../images/social/icon_gplus.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/social/icon_gplus.png*/;
}





/* Search Results */
	/* padding: t r b l; */
#svSearchResults .top		{ border-bottom: 2px solid #E8E8E8; padding-bottom: 15px; }
#svSearchResults .bottom	{ border-top: 2px solid #E8E8E8; padding-top: 15px; padding-bottom: 20px; }
.csxResults					{} 
.csxResults ul				{ overflow: hidden; margin: 0 0 0 0 !important; padding: 0 0 0 0; }
.csxResults li				{ display: inline; list-style: none; border-right: 1px solid #919191; }
.csxResults li.disabled		{ color: #E8E8E8; }
.csxResults li.resultsFound { padding-right: 10px; padding: 0 15px 0 0; }
.csxResults li.navNext 		{ border-right: 0; padding: 0 15px 0 15px; }
.csxResults li.navPrev 		{ border-right: 0; padding: 0 15px 0 15px; }
.csxResults li a			{ padding: 0; }
.csxResults li a:visited	{ color: #0E487F; }
.csxIndex dt				{ padding: 5px 0 5px 5px; display: block; }
.csxIndex dt.odd			{ background-color: White; }
.csxIndex dt.even			{ background-color: #E8E8E8; }

/* Feed Styles */
.csxNews dl				{ margin: 0 0 0 0;  padding: 2px 0 2px 5px; }
.csxNews dl.odd			{ background-color: White; }
.csxNews dl.even		{ background-color: #E8E8E8; }
.csxNews dt.releaseDate	{ display: block; width: 68px; }
.csxNews dt 			{ display: block; float: left; padding-right: 5px; width: 500px; }
.moreResults dt 		{ width: auto; }
.csxNews dd				{ padding-top: 4px; }
.csxNews li a:visited	{ color: #0E487F; }
.csxNews li.last		{ border-right: 0px; }
.csxNews li.first		{  }
.csxNews li.disabled	{ color: #E8E8E8; }
.csxNews li.navNext 	{ border-right: 0; padding: 0 15px 0 15px; }
.csxNews li.navPrev 	{ border-right: 0; padding: 0 15px 0 15px; }

/* Tabbed News Styles*/
#tabnewsdiv { display:inline; padding-bottom: 5px; }
#tabnewsdiv .csxNews dt { width: 358px; }
#tabnewsdiv .csxNews dt.releaseDate	{ width: 68px; }
#tabnewsdiv .moreResults dt 		{ width: auto; }

.tabnewswrapper{ 
	overflow: hidden;
	padding-bottom: 6px;
	border-bottom: 1px #EDEDED solid;
}

.tabnews {
	background: transparent url('../images/newstabs.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/newstabs.png*/ no-repeat top left;
	display: block;
	float: left;
	line-height: 26px;
	margin: 0 10px 0 0;
	padding: 0 0 0 5px;
	line-height: 26px;
	color: White;
	text-decoration: none;
}

.tabnews span{
	background: transparent url('../images/newstabs.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/newstabs.png*/ no-repeat top right;
	display: inline;
	height: 26px;
	float: left;
	padding: 0 14px 0 0;
	margin: 0 0 0 10px;
}
/*End of Tabbed News Styles*/


/* fckEditor Styles */

/* 	fckEditor Style applied to named anchors. 
	This should keep named anchors on headers from having 
	the wrong color and hover effect. */
.FCK__AnchorC			{ text-decoration: none; color: inherit; }
.FCK__AnchorC:hover 	{ text-decoration: none; color: inherit; }
.FCK__AnchorC:visited 	{ text-decoration: none; color: inherit; }

/* fckEditor column templates
		HTML example:	<div class="columns2">
							<div class="col"></div>
							<div class="col"></div>
						</div>	*/
.col 			{ float: left; margin-right: 1.5%; display: inline; /* ie6 double-margin float fix */ }
.columns2 .col 	{ width: 48%; float: left; }
.columns2 .colR { width: 48%; float: left; padding-left: 10px; }
.columns3 .col 	{ width: 31%; float: left; }
.columns3 .colC { width: 31%; float: left; padding-left: 10px; }
.columns3 .colR { width: 31%; float: left; padding-left: 10px; }
.columns4 .col 	{ width: 23%; float: left; }
.columns5 .col 	{ width: 18%; float: left; }
.columns6 .col 	{ width: 14%; float: left; }
.columns7 .col 	{ width: 12%; float: left; }
.columns8 .col 	{ width: 10%; float: left; }

/* fckEditor Table Templates
	HTML example:	<TABLE CELLSPACING="0" CELLPADDING="0" CLASS="gridTBL">
					<TR CLASS="gridTRCOL">
						<TH CLASS="gridTHL"></TH><TH></TH><TH CLASS="gridTHR"></TH>
					</TR>
					<TR CLASS="gridTR1 firstRow">
						<TD CLASS="gridTDL"></TD><TD></TD><TD CLASS="gridTDR"></TD>
					</TR>
					<TR CLASS="gridTR2">
						<TD CLASS="gridTDL"></TD><TD></TD><TD CLASS="gridTDR"></TD>
					</TR>
					</TABLE> 	*/
.gridTBL		{ margin: 0 0 0 0; padding: 0 0 0 0; border-bottom: 1px solid #E8E8E8; }
.gridTBL TH, 
.promoTBL TH	{ font-size: 12px; color: White; font-weight: bold; padding: 6px 14px 4px 14px; border-right: 1px solid #E8E8E8; border-top: 0px; border-bottom: 0px; border-left: 0px; margin: 0; }
.gridTBL TD		{ font-size: 12px; color: #464646; border-right: 1px solid #E8E8E8; padding: 8px 14px 8px 14px; border-top: 0px; border-bottom: 0px; border-left: 0px; }
.firstRow TD	{ }
.lastRow TD		{ padding-bottom: 15px; }
.gridTRCOL		{ background: #0E4980 url('../images/table_back.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/table_back.png*/ repeat-x top; }
.gridTHL		{ background: #0E4980 url('../images/table_back_left.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/table_back_left.png*/ no-repeat left top; }
.gridTHR		{ background: #0E4980 url('../images/table_back_right.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/table_back_right.png*/ no-repeat right top; line-height: normal; }
.gridTR1		{ background-color: White; }
.gridTR2		{ background-color: #F0F0F0; }
.gridTDL		{ border-left: 1px solid #E8E8E8 !important; }
.gridTDR		{ }
/* used for holding elements which have no lines */
.gridnolines td, .gridnolines th { border: 0px; }
.gridnolines td.gridTDR { border-right: 1px solid #E8E8E8; }
.gridnolinebottom 		{ border-bottom:0; }
/* special grey background promo tile */
.promoTBL						{ margin: 0 0 0 0; padding: 0 0 0 0; border: 0 !important; background-color: #E8E8E8; width: 220px !important; }
.promoTBL TH					{ padding-left: 5px; padding-right: 5px; }
.promoTBL TD					{ border: 0 !important; }
.promoTBL .lastRow td			{  }
.promoTBL .firstRow td			{ padding-top: 10px; }
.promoTBL .lastRow td.gridTDL	{ background: url('../images/promo_bottom_left.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/promo_bottom_left.png*/ no-repeat left bottom; border: 0; margin: 0; }
.promoTBL .lastRow td.gridTDR	{ background: url('../images/promo_bottom_right.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/promo_bottom_right.png*/ no-repeat right bottom; border: 0; margin: 0; }
.promoTBL th.promoTitle			{ padding-left: 0px; padding-right: 0px; }
.promoTBL td.h5_inline			{ padding-bottom: 0px; padding-left: 10px; }
.promoTBL td p					{ float: none !important; padding: 0 0 0 0 !important; line-height: 17px; }
.promoTBL .jNiceSelectWrapper .jNiceSelectText {
	background: transparent url('../images/form_select_text-grey.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/form_select_text-grey.png*/ no-repeat left top;
}
.promoTBL .jNiceSelectWrapper .jNiceSelectOpen {
	background: transparent url('../images/form_select_arrow-grey.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/form_select_arrow-grey.png*/ no-repeat left top;
}

/* Subhead1 - Primary Header */
.h3		{ margin: 0 0 0 0; padding-bottom: 28px !important; font-size: 15px; color: #0E487f; font-weight: Bold; }
/* Subhead2 - Secondary Header */
.h4		{ margin: 0 0 0 0; padding-bottom: 15px !important; font-size: 13px; color: #464646; font-weight: Bold; }
/* Subhead3 - Tertiary Header */
.h5		{ margin: 0 0 0 0; padding-bottom: 18px !important; font-size: 12px; color: #464646; font-weight: Bold; }
/* Subhead4 - Alert/Error */
.h6		{ font-size: 12px; color: #EF6F12; font-weight: Bold; }

.h3_inline	{ font-size: 15px; color: #0E487f; font-weight: Bold; }
.h4_inline	{ font-size: 13px; color: #464646; font-weight: Bold; }
.h5_inline	{ font-size: 12px; color: #464646; font-weight: Bold; }
.h6_inline	{ font-size: 12px; color: #EF6F12; font-weight: Bold; }
.copy		{ font-size: 12px; color: #464646; }
/* padding: t r b l; */
.hide		{ display: none !important; }
.novis 		{ visibility: hidden; }
.vis		{ visibility: visible; }
.left		{ float: left !important; }
.right		{ float: right !important; }
img.left	{ margin: 66px 66px 66px 0; }
img.right	{ margin: 66px 0 66px 66px; }
img.center	{ display: block; margin: 66px auto 66px auto; }
p.center	{ text-align: center; }
p.skinny	{ padding-left: 26px; padding-right: 26px; }

.clearfix:after, .svIndex dl:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix, * html .svIndex dl { zoom: 1; } /* IE6 */
*:first-child+html .clearfix, *:first-child+html .svIndex dl { zoom: 1; } /* IE7 */


/* CSX Specific Form Styles */
.frmLabel			{ font-size: 12px; color: #464646; font-weight: bold; padding-right: 27px; }
.frmText, label		{ font-size: 12px; color: #464646; padding-left: 5px; }
.frmError			{ display: -moz-inline-box; display: inline-block; font-size: 11px; color: #EF6F12; font-weight: bold; padding-right: 24px; height: 20px; line-height: 20px; overflow: visible; background: transparent url('../images/icon_alert.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/icon_alert.png*/ no-repeat right top; }
.trErrorHide		{ display: none; }
.trError			{  }
.frmButton			{ padding-left: 13px; outline: transparent none 0px !important; }

/* xf (xmlform) styles */
.xfCheck			{ padding: 0 0 0 0; margin: 0 0 0 0 !important; }
.xfCheck .xfInput	{ padding: 0 0 0 0; margin: 0 0 0 0; }
.xfCheck .xfLabel	{ padding: 7px 11px 0 0; margin: 0 0 0 0; }

.xfRadio			{ padding: 0 0 0 0; margin: 0 0 0 0 !important; }
.xfRadio .xfInput	{ padding: 2px 0 0 0; margin: 0 0 0 0; }
.xfRadio .xfLabel	{ padding: 0 11px 0 0; margin: 0 0 0 0; }

.xfHide				{ display: none; }

.xfAutoFill			{ background-color: White; padding: 0 0 0 0; margin: 0 0 0 0; border: 2px solid #E8E8E8; position: absolute; width: 250px; left: 0; top: 0; z-index: 499; }
.xfAutoFillClose	{ font-size: 10px; float: right; text-decoration: underline; cursor: pointer; }
.xfAutoFillTitle	{ font-size: 11px; padding: 4px; background-color: #E8E8E8; font-weight: bold; }
.xfAutoFillBody		{ }
.tellcsxTBL          { width: 350px !important; }

/* jQuery jNice Form Styling */
FORM.jNice			{ margin: 0 0 0 0; padding: 0 0 0 0; }
.jNice TD, .frmRow	{ padding-bottom: 10px; }

button { 
	padding: 0 15px 0 0;
	height: 19px;
	border: 0;
	cursor: pointer;
	text-align: center;
	color: #464646;
	background: transparent url('../images/form_button.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/form_button.png*/ no-repeat right top;
	font: bold 12px Helvetica, Arial, sans-serif;;
	overflow: visible;
	outline: transparent none 0px !important;
	border: transparent none 0px;
}
/* *:first-child+html button[type]{width:1;} IE7 */
/* fixing default firefox padding */
button::-moz-focus-inner {
	padding: 0;
	border: transparent none 0px;
	outline: transparent none 0px !important;
}
button span {
	display: block;
	padding: 0 0 0 15px;
	height: 19px;
	line-height: 19px;
	white-space: nowrap;
	background: transparent url('../images/form_button.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/form_button.png*/ no-repeat left -19px;
	outline: transparent none 0px !important;
	border: transparent none 0px;
}

button:hover {
	background-position: right -38px;
	color: White;
	outline: transparent none 0px !important;
	border: transparent none 0px;
}

button:hover span {
	background-position: left -57px;
	outline: transparent none 0px !important;
	border: transparent none 0px;
}

button:focus {
/*	margin-top: 1px; */
	outline: transparent none 0px !important;
	border: transparent none 0px;
}

/* -------------
 * Inputs
 * ------------- */

input[type=text] { 
	width: 100%;
	border-top: 1px solid #7C7C7C;
	border-right: 1px solid #C3C3C3;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #C3C3C3;
}

input[type=file] { 
	width: 100%;
	padding-right: 10px;
	border-top: 1px solid #7C7C7C;
	border-right: 1px solid #C3C3C3;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #C3C3C3;
}

input[type=password] { 
	width: 100%;
	border-top: 1px solid #7C7C7C;
	border-right: 1px solid #C3C3C3;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #C3C3C3;
}

TEXTAREA { 
	width: 368px;
	border-top: 1px solid #7C7C7C;
	border-right: 1px solid #C3C3C3;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #C3C3C3;
	scrollbar-base-color: #6a6a6a;
	scrollbar-arrow-color: #cfcfcf;
	scrollbar-shadow-color: #434343;
	scrollbar-highlight-color: #666666;
	scrollbar-3dlight-color: #6a6a6a;
	scrollbar-track-color: #eaeaea; 
	scrollbar-darkshadow-color: #6a6a6a;
}

/* Lets not be so complicated; especially since Textarea is not supported
.jNiceInputWrapper {
	background: transparent url(../images/jnice/input.gif) no-repeat left top;
	float:left;
}

.jNiceInputInner {
	background: transparent url(../images/jnice/input.gif) no-repeat right top;
	padding: 2px 4px 2px 0;
	margin: 0 0 0 4px;
}

.jNiceInputInner input {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#404040;	
	line-height: 17px;
	height: 17px;
	*line-height: 15px;
	*height: 15px;
	vertical-align:middle;padding:0;margin:0;background:none;border:none;outline:none;
}

.jNiceInputWrapper_hover { background-position: left bottom; }
.jNiceInputWrapper_hover .jNiceInputInner { background-position: right bottom; }
*/


/* -------------
 * Input File
 * ------------- */
/* padding: t r b l; */
.jNiceFileWrapper {
	float:left;
	width: 368px;
	position: relative;
}

.jNiceFileInner {
/*	padding: 2px 4px 2px 0; */
	border-top: 1px solid #7C7C7C;
	border-right: 1px solid #C3C3C3;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #C3C3C3;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 19px;
	width: 284px;
	z-index: 1;
	position: absolute;
	top: 0; left: 0;
}

.jNiceFileraw {
	background: transparent;
	border-top: 0px !important;
	border-right: 0px !important;
	border-bottom: 0px !important;
	border-left: 0px !important;
}

.jNiceFile {
	width: 100%;
	position: relative;
	filter: alpha(opacity: 0);
	opacity: 0;
	-moz-opacity: 0;
	z-index: 2;
	text-align: right;
	line-height: 17px;
	height: 17px;
	vertical-align: middle; padding: 0 0 0 4px; margin: 0; background: none; border: none; outline: none;
}
.jNiceFileButton {
	background: white url('../images/form_file_button.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/form_file_button.png*/ no-repeat top center;
	height: 19px;
	width: 82px;
	z-index: 1;
	position: absolute; right: 0; top: 0; cursor: pointer; vertical-align: middle;
}
.jNiceFileButtonOver { background-position: bottom center; }

.jNiceFileWrapper_hover {  }
.jNiceFileWrapper_hover .jNiceFileInner {  }


/* -------------
 * Radios
 * ------------- */
.jRadioWrapper { float: left; z-index: 2; }
.jNiceRadio {
	background: transparent url('../images/form_radio.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/form_radio.png*/ no-repeat center top;
	height: 17px;
	width: 18px;
	position: absolute; left: 0px; top: 0px; cursor: pointer; vertical-align: middle;
}


/* -------------
 * Checkboxes
 * ------------- */
.jNiceCheckbox {
	background: transparent url('../images/form_checkbox.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/form_checkbox.png*/ no-repeat center top;
	height: 18px;
	width: 18px;
	position: absolute; left: 0px; top: 0px; z-index: 2; cursor: pointer;
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
.jNiceChecked { background-position: center bottom;}

/* -------------
 * Selects
 * ------------- */
/* padding: t r b l; */
.jNiceWrapper select { 
	border: none; 
	margin: 0; 
	padding: 0;
	width: 100%; 
}

.jNiceSelectWrapper {
	height: 22px;
	left: 0px; 
	top: 0px; 
	z-index: 3; 
	position: absolute;
}

.jNiceWrapper iframe { position: absolute; z-index: 1; width: 100%; left: 0px; top: 0px;  }

.jNiceSelectWrapper .jNiceSelectText {
	background: transparent url('../images/form_select_text.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/form_select_text.png*/ no-repeat left top;
	height: 22px;
	line-height: 22px;
	padding: 0px 3px 0 10px;
	border: none;
	overflow: hidden; float: none; position: absolute; z-index: 100;
}

.jNiceSelectWrapper .jNiceSelectOpen {
	width: 28px;
	height: 22px;
	background: transparent url('../images/form_select_arrow.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/form_select_arrow.png*/ no-repeat left top;
	z-index: 100; display: block; position: absolute; right: 0px;
}

.jNiceSelectWrapper ul {
	top: 21px;
	background: #f9f9f9;
	border: none;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	max-height: 155px;
	scrollbar-base-color: #6a6a6a;
	scrollbar-arrow-color: #cfcfcf;
	scrollbar-shadow-color: #434343;
	scrollbar-highlight-color: #666666;
	scrollbar-3dlight-color: #6a6a6a;
	scrollbar-track-color: #eaeaea; 
	scrollbar-darkshadow-color: #6a6a6a;
/* reverse 
	scrollbar-base-color: #cfcfcf;
	scrollbar-arrow-color: #6a6a6a;
	scrollbar-shadow-color: #cfcfcf;
	scrollbar-highlight-color: #cfcfcf;
	scrollbar-3dlight-color: #cfcfcf;
	scrollbar-track-color: #6a6a6a;
	scrollbar-darkshadow-color: #cfcfcf;
*/
	position: absolute; left: 2px; list-style: none; display: none; margin: 0 0 0 0 !important; padding: 0; overflow-y: auto; z-index: 100; width: 98%;
/*
	margin-bottom: 10px;
	background: #f9f9f9 url('../images/form_select_background.png') no-repeat bottom left;
*/
}

.jNiceSelectWrapper ul a {
	color: Black;
	display: block; padding: 5px; text-decoration: none;
}

.jNiceSelectWrapper ul a:hover { background: #F0F0F0; }
.jNiceSelectWrapper ul a.selected { background: #F0F0F0; }

.jNiceFocus { border: dotted 1px #666666; }

.jNiceHidden {opacity:0;z-index:-1;position:relative;}
.jNiceWrapper {position:relative;vertical-align:top;}
.jNiceWrapper input {outline:none;moz-outline:none;}

/* MURA FORMBUILDER */

.mura-form-textfield label {
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px;
    position: relative;
    display: block;
}
.mura-form-textfield ins {
visibility: hidden;
word-spacing:-999px;
letter-spacing: -999px;
    text-decoration: none;
}
.mura-form-textfield ins:after {
    content: '*';
    color: #EF6F12;
    font-size: .8em;
    font-weight: Bold;
    vertical-align: top;
visibility: visible;
word-spacing:normal;
letter-spacing:normal;
}
.mura-form-textfield input {
    margin-left: 5px;
}
.form-actions {
    margin-top: 10px;    
}
.form-actions input {
    background-color: #0E4980 !important;    
}
.form-actions input:hover {
    background-color: #0080c0 !important;    
}
p.success {
    display: block;
    padding-top: 16px;
    background-color: #b9ffb9;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}
