/* 	CSX Technology
	CSX.com

	created: 07/28/2010 	*/

/* @group GLOBALS
===================================== */

@import url(csx.css)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/css/csx.css*/;

body {
	font-family: Helvetica,Arial,sans-serif; /*font-size: 62.5%;*/
	color: #434343 !important;
	font-size: 12px;
	margin: 0 0 0 0;
}
	
* { -moz-outline: 0; }

ul 	{ 	list-style-type: disc; }

ol 	{ 	}

hr {
	clear: both;
	height: 0;
	margin: 2em 0;
	border: 1px solid #E8E8E8;
	border-width: 1px 0 0;
	}

a { color: #0E487F; }
/* a:hover { color: #D1D1D1; } */
a:visited { color: #919191; }

p.intro {
	color: #666;
	line-height: 1.4em;
	margin-bottom: 1.25em;
	}


/* @group Globals - Tables
===================================== */

.content table {
	width: 100%;
/*	margin-top: 30px; */
	}

th {
	}

td {
	}

tr.alt td { background: #eee; }  

/*Move*/ 
/* @end Globals - Tables
-------------------------------- */


/* @group Globals - Forms
===================================== */

#primary form {
	padding: 2em;
	background: #e9f3f7;
	overflow: hidden;
	max-width: 504px; /*width of #primary in three column layout*/
	}

#primary #svSearchResults form {
/*	max-width: 100%; */
}

#primary fieldset {
	border: none;
	padding: 0;
	}


#primary legend {
	font-size: 1.4em;
	font-weight: bold;
	margin: 0;
	padding: 0;
	}

#primary label {
	padding-top: .5em;
	line-height: 1;
	color: #0c2846;
	}

.submit, .buttons input {
	float: right;
	height: 2em;
	line-height: 2.1em;
	border: none;
	padding: 0 1em;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #F7F7F7;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-align: center;
	}

/* @group Globals - Forms - Search
===================================== */

#searchForm {
	position: absolute;
	top: 30%;
	right: 0;
	margin: 0;
	padding: 0;
	}

#searchForm fieldset {
	padding: 0;
	border: 0;
	}

#searchForm input.text {
	float: left;
	width: 160px;
	margin: 0 .75em 0 0;
	font-style: italic;
		padding: 1px;
	}

#searchForm .submit {
	float: right;
	}

/* @end Globals - Forms - Search
-------------------------------- */


/* @group Globals - Forms - Login
===================================== */

/* @group Globals - Forms - Login
===================================== */

#login {
	padding-bottom: 1em !important;
	}

#login ol {
	padding-top: 0;
	}

#svLoginContainer input.text {
	width: 99%;
	}

#svLoginContainer p.required {
	float: none;
	clear: both;
	}

#sendLogin fieldset {
	margin-top: -.5em;
	padding-top: .25em;
	}

/* @end Globals - Forms - Login
-------------------------------- */

.sidebar #login {
	padding: 0;
	}

/* @end Globals - Forms - Login
-------------------------------- */


/* @group Globals - Forms - Comments
===================================== */

#svComments {
	border-top: 2px solid #ccc;
	margin-top: 3em;
	padding-top: 2em;
	}

#svComments dl {
	border-bottom: 1px dotted #ccc;
	}



/* @end Globals - Forms - Comments
-------------------------------- */

/* @end Globals - Forms
-------------------------------- */

/* @end GLOBALS
-------------------------------- */



/* @group HELPER CLASSES
===================================== */

.clearfix:after {
	content: " "; /* Avoid extra space */
	}

/* @end HELPER CLASSES
-------------------------------- */



/* @group LAYOUT
===================================== */

#container {
	margin: 0 auto;
}

#content {
	width: 951px !important;
/* padding: t r b l; */
	padding: 19px 29px 17px 10px !important;
	position: relative;
	background-color: White;
	margin: auto;
	}

.home #content {
	margin-top: 0;
	}
.home #primary {
	width: 687px;
	}
.twoColSL #primary {
	float: right;
	width: 707px;
	}

.twoColSR #primary {
	float: left;
	width: 707px;
	}

	
.threeCol #primary {
	width: 323px;
	margin-left: 17px;
	margin-right: 16px;
}

#primary {
	float: left;
	width: 100%;
	color: #464646;
	}
	
.content #primary {
	width: 1000px;
	
	}

.content #primary_as {
	width: 451px;
	float: left;	
	}
	
.content #primary_i {
	width: 755px;
	background-color: Blue;
}
	
.containerbox #containerbox_b {
	float: right;
	width: 755px;
	}

.sidebar #right_i {
	min-height: 100%; /*Fixes odd no-content disappearing bug.*/
        width: 100px;
	float: right;	
	
	}
	
.sidebar #subright_b {
	/*min-height: 100%; Fixes odd no-content disappearing bug.*/
	min-height: 40px;
	float: right;
/*	width: 330px;*/
	width: 196px;
	margin-right: 16px;
	margin-left: 0px
	
	}
.sidebar #innerleft_a {
	/*min-height: 100%; Fixes odd no-content disappearing bug.*/
	min-height: 40px;
	float: left;
/*	width: 330px;*/
	width: 196px;
	margin-right: 16px;
	margin-left: 0px
	
	}

.content,
.sidebar {
	min-height: 40px; /*Fixes odd no-content disappearing bug.*/
	}

#left {
	float: left;
width: 333px;
/*	width: 196px;*/
	margin-right: 16px;
	margin-left: 0px
}

#left_b {
	float: left;
	width: 196px;
	margin-right: 0px;
	margin-left: 0px
}

#left_i {
	float: left;
/*	width: 330px;*/
	width: 196px;
	margin-right: 0px;
	margin-left: 0px
}
.home #left {
	width: 687px;
	padding: 0;
	}

#right {
	float: right;
	width: 210px;

}

#subright_b {
	float: right;
	width: 220px;
	margin: 0 0px 0 0px;
}
#subleft_b {
	float: left;
	width: 451px;
	margin: 0 42px 0 42px;

}

.home #right {
	width: 213px;
	margin: -40px 0 0;
	padding: 0;
	}

.threeColSR {
	width: 167px;
	}



.sidebar {}
#left.sidebar {}
#right.sidebar {}


/* @group Layout - Header
===================================== */

#header {
	width: 951px;
	margin: 0 auto;
	position: relative;
	background-color: White;
	height: 83px;
	}

h1 a {
	display: block;
	width: 102px;
	height: 32px;
	margin: 0 0 10px;
	text-indent: -9999px;
	background: url(Unknown_83_filename)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/logo.gif*/ no-repeat;
	}

#header .navUtility {
	position: absolute;
	top: 32%;
	right: 225px;
	}

/* @end Layout - Header
-------------------------------- */


/* @group Layout - Right
===================================== */

#right {
/*	background: #f2f2f2; */
	}

/* @end Layout - Right
-------------------------------- */


/* @group Layout - Footer
===================================== */

#footer {
	clear: both;
	position: relative;
	margin: 0 auto;
	padding-bottom: 44px;
	}

#footer p {
	float: right;
	font-size: .9em;
	color: #999;
	}

/* @end Layout - Footer
-------------------------------- */

/* @end LAYOUT
-------------------------------- */



/* @group NAVIGATION/UI
===================================== */

/* @group Nav - Breadcrumb
===================================== */

#crumbList {
	margin: 0 0 1.5em;
	}

#crumbList li {
	font-size: 1.1em;
	}

#crumbList li a:hover {
	text-decoration: underline;
	}

/* @end Nav - Breadcrumb
-------------------------------- */

/* @group Nav - Utility
===================================== */

.navUtility {
	overflow: hidden;
	margin: 0;
	padding: 0;
	}

.navUtility li {
	display: inline;
	margin: 0 .5em 0 -0.5em;
	padding: 0 10px;
	list-style: none;
	font-size: 1em !important;
	}

#footer .navUtility {
	float: left;
	}

#footer .navUtility li {
	padding: 0 5px;
	border-left: 1px solid #cfcfcf;
	}

#header .navUtility li {
	border-left: 1px solid #959595;
	}

#footer .navUtility li a {
	font-size: .9em !important;
	color: #999;
	}

/* @end Nav - Primary
-------------------------------- */


/* @group Nav - Primary
===================================== */
#navPrimary { 
	height: 26px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
/*
	font-weight: bold;
*/
	color: #7D7D7D;
	background: White;
	font-family: Verdana, Arial;
}

#navPrimary a { color: #7D7D7D; text-decoration: none !important; }

#navPrimary li.first {
/*	margin-left: 15px; */
	}
	/* padding: t r b l; */
#navPrimary li {
	background: transparent url('../images/primary_nav_button.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/primary_nav_button.png*/ no-repeat left top;
	list-style: none;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 0 0 0 5px;
	line-height: 26px;
	color: #7D7D7D;
	text-decoration: none;
	}

#navPrimary li span {
	background: transparent url('../images/primary_nav_button.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/primary_nav_button.png*/ no-repeat right top;
	display: inline;
	height: 26px;
	float: left;
	padding: 0 15px 0 0;
	margin-left: 10px;
	}

#navPrimary li.current {
	background: transparent url('../images/primary_nav_button_active.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/primary_nav_button_active.png*/ no-repeat left top;
	list-style: none;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 0 0 0 5px;
	line-height: 26px;
	color: #7D7D7D;
	text-decoration: none;
	}

#navPrimary li.current span {
	background: transparent url('../images/primary_nav_button_active.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/primary_nav_button_active.png*/ no-repeat right top;
	display: inline;
	height: 26px;
	float: left;
	padding: 0 15px 0 0;
	margin-left: 10px;
	}
/*
#navPrimary li a:hover, 
*/
#navPrimary li.current a {
	color: White;
	}

#navPrimary li.current, #navPrimary li:hover, #navPrimary li.sfhover {
	background-position: left bottom; 
	color: White;
	}

#navPrimary li a:hover span, #navPrimary li.current a span, #navPrimary li:hover span, #navPrimary li.sfhover span {
	background-position: right bottom;
	}


#navPrimary li:hover a, #navPrimary li li:hover a:hover, #navPrimary li.sfhover a:hover {
	color: White;
	}

#navPrimary li li a:hover {
	color: #fff;
	text-decoration: underline;
	}

/* @group Nav - Primary - Dropdown
===================================== */
/* http://www.htmldog.com/articles/suckerfish/dropdowns/ */

#navPrimaryDropdown {
	line-height: normal !important;
	padding-top: 10px;
	font-family: Verdana, Arial;
	width: 255px;
/* 
	width: 450px;
	url('../images/primary_nav_drop_back.png') repeat-x bottom */
	background: White !important;
	border-right: 2px solid #e5e5e5; border-bottom: 2px solid #e5e5e5;
	border-left: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5;
	float: none;
	}

#navPrimaryDropdown li {
/*
	line-height: normal !important;
	padding-bottom: 12px !important;
	margin-left: 12px !important;
	margin-right: -12px !important;
	margin-bottom: -10px !important;
*/
	float: none;
	}

#navPrimaryDropdown li a {
	line-height: normal !important;
	color: #7D7D7D !important;
/*	width: 200px; */
	padding: 0 0 0 0 !important;
	}

#navPrimaryDropdown li a span {
	line-height: 14px !important;
	font-size: 12px !important;
	width: 255px;
	}


#navPrimaryDropdown li a:hover,
#navPrimaryDropdown li:hover  {
	color: #0E487F !important;
	text-decoration: none !important;
	}

#navPrimaryDropdown li.current,
#navPrimaryDropdown a.current {
	color: #0E487F !important;
	font-weight: bold;
	}


#navPrimary li ul { /* second-level lists */
	position: absolute;
	left: -9999px;
	top: 26px;
	z-index: 100;
	margin: 0;
	padding-left: 0;
	list-style: none;
	}

#navPrimary li li,
#navPrimary li.current li { /* all list items */
	background-image: none;
/*	float: left; */
	margin: 0 !important;
	}
#navPrimary li li a,
#navPrimary li.current li a {
	background-image: none;
	display: block;
/*
	padding: .5em;
	line-height: 1;
*/
	text-transform: none;
	}

#navPrimary li li a span,
#navPrimary li.current li a span {
	background-image: none;
	}

#navPrimary ul li.first,
#navPrimary ul li li.first { /* all list items */
	border: 0;
	}

#navPrimary li ul ul { /* third-and-above-level lists */
	margin: -1.95em 0 0 12em;
	}

#navPrimary li:hover ul ul,
#navPrimary li:hover ul ul ul,
#navPrimary li.sfhover ul ul,
#navPrimary li.sfhover ul ul ul {
	left: -9999px;
		z-index: 1001;
	}

#navPrimary li:hover ul,
#navPrimary li li:hover ul,
#navPrimary li li li:hover ul,
#navPrimary li.sfhover ul,
#navPrimary li li.sfhover ul,
#navPrimary li li li.sfhover ul  /* lists nested under hovered list items */
	{ left: auto; }

/* 
#navPrimary li.almostlast:hover ul,
#navPrimary li li.almostlast:hover ul,
#navPrimary li li li.almostlast:hover ul
	{ left: 80px; }
*/
#navPrimary li.last:hover ul,
#navPrimary li li.last:hover ul,
#navPrimary li li li.last:hover ul
	{ left: 416px; /* left: 216px; */ }

/* @end Nav - Primary - Dropdown
-------------------------------- */
/* @end Nav - Primary
-------------------------------- */


/* @group Nav - Secondary
===================================== */

#navSecondary {
	margin: 0 0 0 0;
/*  padding: t r b l; */
	padding: 10px 0 0 0;
	list-style: none;
	font-color: #7D7D7D;
}

#navSecondary a { text-decoration: none !important; }

#navSecondary li {
	margin: 0 0 0 0;
	padding: 0 0 16px 0;
	line-height: 11px;
	font-size: 11px !important;
	}

#navSecondary li.firstandlast {
	padding: 0 0 0 0;
	}

#navSecondary .last {
	border: 0;
	padding-bottom: 0;
	}

#navSecondary li ul {
	margin: 0 0 0 0;
	padding: 16px 0 5px 29px;
	list-style: none;
	overflow: hidden;
	}

#navSecondary li.delta_open,
#navSecondary li li.delta_open,
#navSecondary li li li.delta_open,
#navSecondary li li li li.delta_open,
#navSecondary li li li li li.delta_open,
#navSecondary li li li li li li.delta_open 

	{ list-style-image: url('../images/icon_delta_active_open.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/icon_delta_active_open.png*/ !important; }

#navSecondary li.delta_close,
#navSecondary li li.delta_close,
#navSecondary li li li.delta_close,
#navSecondary li li li li.delta_close,
#navSecondary li li li li li.delta_close,
#navSecondary li li li li li li.delta_close
	{ list-style-image: url('../images/icon_delta_closed.png')/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/icon_delta_closed.png*/ !important; }

#navSecondary li a {
	display: block;
	color: #7D7D7D;
	}
#navSecondary li a:hover {
	color: #0E487F;
	text-decoration: none;
}

#navSecondary li.current a {
	}


#navSecondary li a.current {
/*	font-weight: bold;	*/
	color: #0E487F;
	}


/* @group Nav - Secondary - Second Level
===================================== */
/*
#navSecondary li.current ul {
	}

#navSecondary li li {
	margin: 0 0 7px 0;
	padding: 0;
	list-style: none;
	line-height: 11px;
	}

#navSecondary li.current li a {
	font-weight: normal;
	color: #434343;
	}
*/
/* @end Nav - Secondary - Second Level
-------------------------------- */
/* @end Nav - Secondary
-------------------------------- */



/* @group Nav - More Results
===================================== */

.moreResults {
	border-top: 2px solid #e6e6e6;
	padding-top: 1.5em;
}

/*.moreResults dt {
	float: left;
	margin-right: .5em;
	}*/

.moreResults ul {
	/*float: right;*/
	overflow: hidden;
	margin: 0;
	padding: 0;
	}

.moreResults li {
	display: inline;
	padding: 0 .25em;
	list-style: none;
	border-right: 1px solid #b6b6b6;
	}
	
.moreResults li.resultsFound {
	padding-right: .5em;
}
	
.moreResults li.navNext {
	border-right: 0;
	}
	
.moreResults li.navPrev {
	border-right: 0;
	}

.moreResults li a {
	padding: 0;
	}

/* @end Nav - More Results
-------------------------------- */

/* @end NAVIGATION/UI
-------------------------------- */



/* @group MODULES
===================================== */

/* @group Galleries
===================================== */
/*Optimized Grid for 80px Thumbnails*/

#svGallery {
	border-top: 2px solid #e6e6e6;
	padding-top: 1.8em;
}

#svGallery li a {
	border: 0px solid #ccc; /* Add the the total number of pixels added by borders and padding here to includes/display_objects/gallery/htmlhead/gallery.cfm
	}


/* @end
-------------------------------- */

/* @group Calendar
===================================== */

.svCalendar table {
	margin-top: 0;
	}

.svCalendar th {
	background: #0c2846;
	vertical-align: middle;
	}

.svCalendar th a, .svCalendar th a:hover {
	background: #0c2846;
	}

.svCalendar th a:hover {
	color: #2e7aa7;
	}


.svCalendar tr.dayofweek td {
	background: #2e7aa7;
	color: #fff;
	}

.svCalendar th,
.svCalendar td {
	border: 1px solid #fff;
	}

.svCalendar td {
		background: #e9f3f7;
	}


/* @end Calendar
-------------------------------- */

/* @group Dragable Feeds */

#svRSSFeeds form {
	background: transparent;
	}

li.boxItemHeader { /* Link of items inside dragable boxes */
	color: #2e7aa7;
	padding-left: 10px;
	background: url(Unknown_83_filename)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/pointer_red_sm.gif*/ no-repeat left .25em;
	}

a.boxItemHeader { /* Link of items inside dragable boxes */
	color: #2e7aa7;
	}

#svAddNewFeed {
	padding: 0 !important;
	background: transparent !important;
	}

#svAddNewFeed button { /* !important used to override dragable_feeds.css */
	background: #2e7aa7 !important;
	font-size: 11px !important;
	}

/* @end */



/* @group Features
===================================== */

#features {
	overflow: hidden;
	}

#features dl {
	float: left;
	clear: none;
	width: 213px;
	margin: 0 16px 0 0;
	}

#features dt {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -0.025em;
	}

#features dt a {
	color: #232323;
	}

#features dt a:hover {
	text-decoration: none;
	}

#features dd {
	font-size: 1.1em;
	}

#features dd p {
	margin: -3px 0 8px;
	line-height: 15px;
	}

#features dd a {
	font-weight: bold;
	}

#features dd.image {
	float: none;
	margin: 0 0 1.7em;
	}

#features dd.image img {
	/* recommended size: */
	/*width: 213px;*/
	/*height: 120px;*/
	}


/* @end Features
-------------------------------- */


/* @group Home Feeds
===================================== */

.home .sidebar .svIndex h3 {
	display: block;
	padding: 0 1em;
	margin-bottom: 1em;
	line-height: 40px;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #fff;
	background: #ff3405;
	}

.home .sidebar .svIndex dl {
	margin: 0 1.5em 1em;
	padding: 0 0 .5em;
	border-bottom: 1px solid #d6d6d6;
	}

.home .sidebar .svIndex dl.last, .home .sidebar .svIndex dl:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	}

.home .sidebar .svIndex dt {
	margin: 0 0 .5em;
	padding: 0;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.3;
	}

.home .sidebar .svIndex dt.releaseDate {
	margin: 0 0 3px;
	font-size: 1em;
	text-transform: uppercase;
	color: #979797;
	}

.home .sidebar .svIndex dd {
	margin: 0 0 .25em;
	padding: 0;
	font-size: 1.1em;
	color: #434343;
	}

.home .sidebar .svIndex dd.summary {
	margin: 0 0 .5em;
	}

/*
.home .sidebar .credits,
.home .sidebar .tags,
.home .sidebar .ratings,
.home .sidebar .credits {
	color: #999 !important;
	}
*/

.home .sidebar .svIndex dl.hasImage .image {
	margin: 0 .5em 0em 0;
	}

.home .sidebar .svIndex dl.hasImage .image img {
	width: 50px;
	}

.home .sidebar .svIndex dd p {
	margin: 0;
	padding: 0;
	line-height: inherit;
	}

.home .sidebar .svIndex span.readMore a {
	display: none;
	}

/* @end Home Promo Feeds
-------------------------------- */

/* @group Indexes
===================================== */

.svIndex dl {
	padding-bottom: 1em;
	border-bottom: 1px dotted #ccc;
	}

.sidebar .svIndex dl {
	margin: .5em 0;
	padding: .5em 0 .5em;
	}

.svIndex dl.hasImage {
		/*padding-left: 90px;
		min-height: 90px; Both set dynamically in dsp_feed.cfm & dsp_portal.cfm*/
		position: relative;
		}

.sidebar .svIndex dl.hasImage {
	min-height: 0;
	padding-left: 0;
	}

.svIndex dl.hasImage .image {
		float: none;
		}

.sidebar .svIndex dl.hasImage .image {
	display: none;
	}

.content .svIndex {
	margin-top: 2em;
	}

.content .svIndex dt {
	font-size: 1.6em;
	margin-bottom: .5em;
	}

.svIndex dt.releaseDate {
	text-transform: uppercase;
	color: #777;
	margin-bottom: .5em;
	font-size: 1em !important;
	}

.svIndex dd {
	line-height: 1.2;
	}

.svIndex dd.image {
	position: absolute;
	top: 0;
	left: 0;
	}

/* @group Ratings */

.content .svIndex dd.credits,
.content .svIndex  dd.comments,
.content .svIndex  dd.tags,
.content .svIndex  dd.rating {
	line-height: 20px; /* acommodate height of stars */
	}

div.stars a {
	width: 14px;
	height: 13px;
	background: transparent url(../images/rater/stars.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/rater/stars.png*/ no-repeat;
}

.zero { background-image: url(../images/rater/star_zero.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/rater/star_zero.png*/; }
.one { background-image: url(../images/rater/star_one.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/rater/star_one.png*/; }
.onehalf { background-image: url(../images/rater/star_onehalf.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/rater/star_onehalf.png*/; }
.two { background-image: url(../images/rater/star_two.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/rater/star_two.png*/; }
.twohalf { background-image: url(../images/rater/star_twohalf.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/rater/star_twohalf.png*/; }
.three { background-image: url(../images/rater/star_three.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/rater/star_three.png*/; }
.threehalf { background-image: url(../images/rater/star_threehalf.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/rater/star_threehalf.png*/; }
.four { background-image: url(../images/rater/star_four.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/rater/star_four.png*/; }
.fourhalf { background-image: url(../images/rater/star_fourhalf.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/rater/star_fourhalf.png*/; }
.five { background-image: url(../images/rater/star_five.png)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/rater/star_five.png*/; }

/* @end */

/* @group Slideshow
===================================== */

.svSlides dl {
	border: 0;
	margin: 0;
	}
	
.svSlides dl.hasImage { /* padding-left & min-height set dynamically in /display_ojects/feedslideshow/htmlhead/slideshow.jquery.cfm */
	position: relative;
	}
	
.home .svSlideshow {
	position: relative;
	width: 627px;
	overflow: hidden;
	padding: 30px 30px 10px;
	margin: 0 0 2.2em;
	color: #b4dffa;
	background: #102e50 url(Unknown_83_filename)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/bg-hero.jpg*/ no-repeat !important;
	border: 0;
	}

.home .svSlides {
	position: relative;
	border: 0;
	z-index: 1;
	padding: 0;
	margin: 0 !important;
	/* min-height set dynamically in /display_ojects/feedslideshow/htmlhead/slideshow.jquery.cfm */
	}

.home .svSlides dl {
	/* Height set dynamically in /display_ojects/feedslideshow/htmlhead/slideshow.jquery.cfm */
	/*position is set by jquery.slidshow plugin */
	width: auto !important;
	padding-bottom: 0;
	margin-right: 0;
	border: 0;
	font-size: 1em;
	background: transparent !important; /*for IE 6/7*/
	}

.home .svSlides dt {
	margin-bottom: .35em !important;
	font-size: 2.6em !important;
	font-weight: bold;
	letter-spacing: -0.025em;
	line-height: 1;
	color: #fff;
	}

.home .svSlides dt.releaseDate {
	color: #abdffa;
	font-size: 12px !important;
	font-weight: normal;
	margin-bottom: .5em !important;
	}

.home .svSlides dt a {
	color: #fff;
	}

.home .svSlides dd {
	margin-bottom: 1.1em;
	letter-spacing: -0.025em;
	font-size: 1.4em !important;
	line-height: 1.2em;
	padding: 0;
	}

.home .svSlides dd.image { 
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	float: none;
	padding: 0;
	border: 3px solid #1c5981;
	}

.home .svSlides dd.image img {
	display: block;
	}

.home .svSlides .readMore {
	float: left;
	}

.home .svSlides .readMore a {
	font-size: 12px !important;
	font-weight: bold;
	color: #fff;
	height: 2.1em;
	line-height: 2.1em;
	border: none;
	padding: 0 1em;
	display: block;
	width: 60px;
	text-align: left;
	padding-right: 22px;
	margin-top: .75em;
	background: #2e7aa7 url(Unknown_83_filename)/*tpa=http://www.csx.com/wwwcsx_mura/includes/themes/wwwcsx/images/arrows_white.gif*/ no-repeat 6.8em 50%;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	}

.svPager {
	text-align: center;
	line-height: 2;
	}

.home ol.svPager { /* width set dynamically in /display_ojects/feedslideshow/htmlhead/slideshow.jquery.cfm */
	/* width: #pagerWidth#; */
	position: relative;
	z-index: 2;
	text-align: center;
	margin: 10px 0;
	padding: 0;
	list-style: none;
	}

ol.svPager li {

	}

ol.svPager a {
	color: #fff;
	background: #0c243a;
	outline: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}

ol.svPager li.activeLI a,
ol.svPager a:hover {
	background: #ff3405;
		text-decoration: none;
	}



/* @end Slideshow
-------------------------------- */

/* @end Indexes
-------------------------------- */


/* @group Session Tools
===================================== */

#svSessionTools p#welcome {
	font-weight: bold;
	color: #ff3405;
	}

/* @end Session Tools
-------------------------------- */


/* @group User Tools - Categories
===================================== */

#svCategories li {
	margin: 0;
	padding: 0;
	}

#svCategories li a {
	margin: 0;
	padding: 0;
	}

/* @end User Tools - Categories
-------------------------------- */


/* @group User Tools - Favorites
===================================== */

#favoriteList li {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	}

#favoriteList li a {
	margin: 0;
	padding: 0;
	}

/* @end User Tools - Favorites
-------------------------------- */

/* @end MODULES
-------------------------------- */


/* EOF */