/* This file is part of Mura CMS.

	Mura CMS is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, Version 2 of the License.

	Mura CMS is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with Mura CMS.  If not, see <http://www.gnu.org/licenses/>.

	However, as a special exception, the copyright holders of Mura CMS grant you permission
	to combine Mura CMS with programs or libraries that are released under the GNU Lesser General Public License version 2.1.

	In addition, as a special exception,  the copyright holders of Mura CMS grant you permission
	to combine Mura CMS  with independent software modules that communicate with Mura CMS solely
	through modules packaged as Mura CMS plugins and deployed through the Mura CMS plugin installation API,
	provided that these modules (a) may only modify the  /trunk/www/plugins/ directory through the Mura CMS
	plugin installation API, (b) must not alter any default objects in the Mura CMS database
	and (c) must not alter any files in the following directories except in cases where the code contains
	a separately distributed license.

	/trunk/www/admin/
	/trunk/www/tasks/
	/trunk/www/config/
	/trunk/www/requirements/mura/

	You may copy and distribute such a combined work under the terms of GPL for Mura CMS, provided that you include
	the source code of that other code when and as the GNU GPL requires distribution of source code.

	For clarity, if you create a modified version of Mura CMS, you are not obligated to grant this special exception
	for your modified version; it is your choice whether to do so, or to make such modified version available under
	the GNU General Public License version 2  without this exception.  You may, if you choose, apply this exception
	to your own modified versions of Mura CMS. */

/*
	typography.css
	These styles control type styles on the front-end of a site as well as in the editor on the back-end,
	allowing consistent typographic display in both places and elimintaing the need to edit 2 stylesheets.

	If you prefer to have a single .css file (and not use this file),
	just comment out or remove the '@import url(typography.css);' line in style.css
	and add your type styles into your preferred stylesheet (usually 'site.css').
*/

/*	Some styles, ideas, and concepts derived from:

	Eric Meyer Reset - http://meyerweb.com/eric/tools/css/reset/index.html
	BlueprintCSS - http://code.google.com/p/blueprintcss/
	YUI - http://developer.yahoo.com/yui/
*/



/* @group General Text Elements
===================================== */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;	
	}

p, ul, ol, table, blockquote {
	line-height: 1.5;
	}

p, li, dt, dd, table {  }

p.intro { font-size: 1.5em; }

/*
li *, dt *, dd *, td *, th * { font-size: 1em !important; }
*/

blockquote, q { padding: 0 4em; quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
blockquote p {} /* Reminder to always include blockquote content in a <p> */
blockquote div cite { font-style: italic; }

strong, b { font-weight: bold; }
em, i { font-style: italic; }

ins { color: green; }
del { text-decoration: line-through; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

pre, code { margin: 1.5em 0; white-space: pre; }
pre, code, tt { font-size: 1em; font-family: 'andale mono', 'lucida console', monospace; line-height: 1.5; }

/* @end General Text Elements
-------------------------------- */


/* @group Headings (H1-H6)
===================================== */

h1 {
	font-size: 14px;
	color: #8E487f;
	}
h1 a {
	display: block;
	}
h1 img {
	display: none;  /* hide for screen. Show for printing in print.css */
	}

h2, h3, h4, h5, h6 {
	}

h2 {
	margin: 0 0 .5em;
		font-size: 14px;
	color: #0E487f;
	font-weight: Bold;
	}
	
/* CSX Guidelines

Primary Header
	Font: Helvetica Bold
	Size: 14 pixels
	Color: #0E487F

Secondary Header
	Font: Helvetica Bold
	Size: 13 pixels
	Color: #464646

Tertiary Header
	Font: Helvetica Bold
	Size: 12 pixels
	Color: #464646

Alert/Error
	Font: Helvetica Bold
	Size: 11 pixels
	Color: #EF6F12
*/
/* Subhead1 - Primary Header */
h2 {
	margin: 0 0 28px 0;
	font-size: 15px;
	color: #0E487f;
	font-weight: Bold;
	}
.sidebar h2 { }

h3 {
	margin: 0 0 28px 0;
	font-size: 15px;
	color: #0E487f;
	font-weight: Bold;
	}
.sidebar h3 {

	}
/* Subhead2 - Secondary Header */
h4 {
	margin: 0 0 15px 0;
	font-size: 13px;
	color: #464646;
	font-weight: Bold;
	}
.sidebar h4 {

	}
/* Subhead3 - Tertiary Header */
h5 {
	margin: 0 0 18px 0;
	font-size: 12px;
	color: #464646;
	font-weight: Bold;
	}
.sidebar h5 {

	}
/* Subhead4 - Alert/Error */
h6 {
	font-size: 12px;
	color: #EF6F12;
	font-weight: Bold;
	}
.sidebar h6 {

	}

/* extra top margin for headings preceded by other text-based elements.
If you use these styles, keep in mind they will not work in IE6. */
/*
p + h3, ul + h3, ol + h3, dl + h3, table + h3, blockquote + h3, hr + h3 { margin-top: 1em; }
p + h4, ul + h4, ol + h4, dl + h4, table + h4, blockquote + h4, hr + h4 { margin-top: 1.2em; }
p + h5, ul + h5, ol + h5, dl + h5, table + h5, blockquote + h5, hr + h5 { margin-top: 1.4em; }
p + h6, ul + h6, ol + h6, dl + h6, table + h6, blockquote + h6, hr + h6 { margin-top: 1.8em; }
*/

/* @end Headings (H1-H6)
-------------------------------- */


/* EOF */