/*
******************************************************************
    7. Button Rules 
******************************************************************
*/

.btn{
    display:inline-block;
    margin:0 7px 0 0;
    float:left;
	cursor: pointer;
	white-space: nowrap;
}
.btn div{
    display:inline-block;
    height:26px; 
}
#rightCol .box .btn 
{
    margin: -1px 0 0 0; vertical-align:top; float:right;
}
#rightCol .box .btn.alignLeft {
    float: left;
}
.btn div img{
    width:7px; height:26px; 
}
.btn button, .btn a {
	display:inline;
	border: none;
	border-width: 0px;
	background: none;
	font-size:11px;
	height: 25px;
	line-height:22px;
	font-weight:bold;
	color:#000000;
	padding:0px 1px 0 0; margin:0;
	overflow:visible;
	cursor:pointer;
	float:left;
	text-decoration:none;
}

@-moz-document url-prefix() { .btn button { padding-bottom:1px; } } /* Target Firefox */

.btn .btnLeft, .btn .btnMid, .btn .btnRight, .btn.icoSubmit .btnIco{
    background-image:url(../images/btn-yellow.png)/*tpa=http://www.firstam.com/assets/images/btn-yellow.png*/;
}
/* myFirstam Landing Page */
#emailUpdatesPromo .btn .btnLeft, #emailUpdatesPromo .btn .btnMid, #emailUpdatesPromo .btn .btnRight, #emailUpdatesPromo .btn.icoSubmit .btnIco{
    background-image:url(../images/btn-yellow.png)/*tpa=http://www.firstam.com/assets/images/btn-yellow.png*/;
}

.btn .btnLeft{
    display:inline-block;
    width:7px; height:26px; 
	background-position: 0px 0px;/* Button Left */
	background-repeat: no-repeat;
	
    float:left;
}
.btn .btnMid{
    _position:static;
    display:block;
    /*display:inline-block;*/
    height:26px;
	background-position: 0px -50px;/* Button Middle */
	background-repeat: repeat-x;
    float:left;
}
.btn .btnRight{
    display:inline-block;
    width:7px; height:26px;
	background-position: 0px -100px;/* Button Right */
	background-repeat: no-repeat;
    float:left;
}
.btn .btnIco{
    background:none;
    float:left;
}
.icoSubmit .btnIco{
    height:26px;
	background-position: right -150px;/* Button Icon */
	background-repeat: no-repeat;
}
.icoSubmit button{
    padding-right:13px;
}
/* Button Hover */
#rightCol .box .item .btn.over, #content .box .btn.over, body .modalWin .btn.over{
    background:none;
}
.btn.over button, .btn.submitOver button{
    color:#000000;
}
.btn.over .btnLeft, .btn.submitOver .btnLeft{
	background-position: 0px -200px; /* Left */
	background-repeat: no-repeat;
    float:left;
}
.btn.over .btnMid, .btn.submitOver .btnMid{
	background-position: 0px -250px; /* Middle */
	background-repeat: repeat-x;
    float:left;
}
.btn.over .btnRight, .btn.submitOver .btnRight{
	background-position: 0px -300px; /* Right */
	background-repeat: no-repeat;
    float:left;
}
.icoSubmit.submitOver .btnIco{
	background-position: right -350px; /* Icon */
	background-repeat: no-repeat;
}
.btn.over .btnIco{
    background:none;
}
/* Small */

.btn.small .btnLeft, .btn.small .btnMid, .btn.small .btnRight, .btn.small.icoSubmit .btnIco{
    background-image:url(../images/btn2.png)/*tpa=http://www.firstam.com/assets/images/btn2.png*/;
}

.btn.small button{
    padding: 1px 0 0;
    font-size:10px;
    line-height:18px;
    height: 21px;
    float:left;
}
.btn.small div img{
    height:22px; 
}
@-moz-document url-prefix() { .btn.small button { padding-top:0px; padding-bottom:1px; } } /* Target Firefox */

.small .btnLeft{
    height:22px; 
	background-position: 0px -400px; /* Left */
	background-repeat: no-repeat;
}
.small .btnMid{
    height:22px; 
	background-position: 0px -450px; /* Middle */
	background-repeat: repeat-x;
}
.small .btnRight{
    height:22px; 
	background-position: 0px -500px; /* Right */
	background-repeat: no-repeat;
}
.icoSubmit.small .btnIco{
    height:22px; 
	background-position: right -550px; /* Icon */
	background-repeat: no-repeat;
}
.icoSubmit.small .btnIco button{
    padding-right:11px;
}
.small .btnIco, .small .btnIco button{
    background: none;
    padding-right: 1px;
}
/* Small Button Hover */
.btn.smallOver button, .btn.smallSubmitOver button{
    color:#ffffff;
}
.btn.smallOver .btnLeft, .btn.smallSubmitOver .btnLeft{
	background-position: 0px -600px; /* Left */
	background-repeat: no-repeat;
}
.btn.smallOver .btnMid, .btn.smallSubmitOver .btnMid{
	background-position: 0px -650px; /* Middle */
	background-repeat: repeat-x;
}
.btn.smallOver .btnRight, .btn.smallSubmitOver .btnRight{
	background-position: 0px -700px; /* Right */
	background-repeat: no-repeat;
}
.btn.icoSubmit.smallSubmitOver .btnIco{
	background-position: right -750px; /* Icon */
	background-repeat: no-repeat;
}
.btn.smallOver .btnIco, .btn.smallSubmitOver .btnIco{
    background:none;
    padding-right:1px;
}

/* IE6 Overrides */
.box .small{
	_background-image: none;
}