/* Small Fonts */
body, p, td, input{
font-size:10px;
}
#content{
line-height:15px;
}
p.leadIn{
font-size:14px;
line-height:18px;
}
p.first{
font-size:11px;
line-height:16px;
}
#breadcrumb{
font-size:10px;
}
.overview .list td {
font-size:10px;
line-height:12px;
}
#rightCol .box {
font-size:10px;
}
#rightCol .box .item.quote {
font-size:11px;
}
.list a {
font-size:10px;
line-height:11px;
}
.person .detail{
font-size:10px;
line-height:11px;
}