form{
	display:inline;
	clear:both;
}
input.btn{
	height:auto;
}
select .selectInstuction{
	color:#959595;
}
.modalWin select{
	visibility:hidden;
}
.modalWin.show select{
	visibility:visible;
}
.modalWin fieldset label{
	display:inline-block;
	font-size:12px;
	padding:0 10px 4px 0;
}
label.error, .modalWin label.error {
	font-size: 11px;
	padding: 0px 0 2px 0;
}
label.confirm {
	color:#013A6F;
}
label em { 
	color:#cf291c;
	font-weight: bold; 
	padding-right: 1em; 
	vertical-align: top; 
}
input.txt, input[type="text"], textarea{
	color:#959595;
	font-size: 12px;
	padding: 3px;
	border: 1px solid #CCC;
}
input.txt, input[type="text"]{
	height: 16px;
}
.modalWin input.txt, input[type="text"], textarea {
    color: #464646;
}
textarea{
	width:339px;
}
#contentTable input.zip, #contentTable input.proximity{
	color:#959595;
	border:1px solid #CCCCCC;
	width:45px;
	font-size:11px;
	height:14px;
	padding:0 3px 2px 2px; margin-right:10px;
}
#contentTable input.proximity{
	width:183px;
	margin: 0 0 5px 0;
}
/* This rule was messing up the borders of Share Flyout 6-18-2010
#contentTable form table td{
	padding:5px;
}
*/
#contentTable .findOffice .box select.radius{
	width:60px;
	margin:0; 
	height:18px;
}
.search2{
	width:70px; height:26px;
	background: url(../images/btn-search-lrg.png)/*tpa=http://www.firstam.com/assets/images/btn-search-lrg.png*/;
}

/*
**************************************
2. Content Form
**************************************
*/
#content form.box{
	display:block;
	padding:0;
	margin:4px 0 30px 0;
}
#content form .hr{
	margin:5px 0;
}
#content fieldset{
	border-bottom:1px solid #C6C6C6;
	padding:13px;
}
#content fieldset.last{
	border-bottom:none;
}
#content .fieldRow{
	padding:0 0 5px 0;
	clear:both;
}
#content label{
	display:block;
	padding:0 0 3px 0px;
	line-height:normal;
	font-size:11px;
}
#content .buttons, .buttonBar{
	background:#cccccc;
	font-size:11px;
	padding:10px 8px 10px;
}
#content .formCol{
	float:left;
	padding:5px 20px 0 0;
}
#content .formCol.last{
	padding-right:0px;
}
#content .formCol input.txt{
	width:100px;
	height:14px;
}
#content .formCol.sm input.txt{
	width:45px;
}
#content .formCol.med input.txt{
	width:135px;
}
#content .formCol.lrg input.txt{
	width:170px;
}

#content label em { 
	color:#cf291c;
	font-weight: normal; 
	padding-right: 0; 
	vertical-align: top; 
}
#content form h3 .small { 
	font-weight:normal;
}
#content input.btn{
	height:25px;
	cursor:pointer;
}

/* Keep this style last please */
select{
color:#464646;
font-size: 11px;
visibility:visible;
}