body, #centerPage{
background:none;
}
#centerPage{
padding:0;
}
#pageWrapper{
padding:94px 0 0 0;
width:100%;
}
#logoPrint{
position: absolute;
top:0px; left:0px;
display: block;
}
#logoPrint img{
width:295px; height:81px;
}
#contentTable{
background:none;
}
#content{
padding:0;
}
#footer{
	padding-left:0px;
}
h1{
padding-bottom:10px;
}
#fat-home #content{
padding:0;
}

#content li{
	background:none;
	list-style-type:disc;
	padding-left:0px;
	margin-left:16px;
}
.linkDesc a{
padding-left:0px;
}
.linkDesc .thumb{
display:none;
}

.print{
display:block;
}
.noPrint, #logo, #sysNav, #stockTicker, #shadowTopLeft, #shadowTopLeftInner, #shadowTop, #shadowTopRightInner, #shadowTopRight, .shadowLeft, .shadowRight, #leftCol, #header, #contentRight, #utilNav, #rightCol, #pageSurvey, #footer .breadcrumb, #footer ul, #footer .footerNav, #shadowBotLeft, #shadowBot, #shadowBotRight{
display:none;
}