/*CATEGORY LISTS*/

#category-lists-wrapper {
    border-bottom:none;
    box-shadow:0 0 10px #FFF;
    background-color:#FFF;
    clear:both;
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
    left:-2px;
    line-height:17px;
    margin:auto;
    padding:0;
    text-align:center;
    width:992px;
    height:210px;
}

#category-lists-wrapper h2.category-lists-header {
    line-height:32px;
    top:10px;
    left:0;
    height:20px;
    border-bottom:1px solid #CCC;
    font-family:'Stymie W01 Black 710771';
    font-size:30px;
    text-transform:uppercase;
    margin-bottom:20px;
    padding-bottom:20px;
    padding-top:5px;
}

#category-lists-wrapper ul.new-column {
    float:left;
    width:215px;
    list-style:none;
    text-align:left;
    color:#000000;
    padding-left:33px;
}

#category-lists-wrapper a.category-lists-plain-link {
    text-decoration:none;
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
    margin:0;
    padding:0;
    width:100%;
    height:20px;
    color:#000000;
    line-height:28px;
}

#category-lists-wrapper img.caret-padding {
    padding-right:2px;
}