@charset "UTF-8";
/* CSS Document */

/* buttons */
a.apply-now { display:block; width:95px; height:35px; border:none; background:transparent url('../images/buttons/btn-apply-now.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-apply-now.png*/ 0 0 no-repeat; }
a.apply-now span { display:none; }
a.apply-now:hover { background:transparent url('../images/buttons/btn-apply-now.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-apply-now.png*/ 0 -35px no-repeat; }

input.btn, a.btn { cursor:pointer; display:block; height:34px; border:none; }
input.btn, a.btn img { background-color:transparent; }
a.btn span.label { display:none; }
a.btn:hover { text-decoration:none; /*border:none;*/ }
input.btn:hover, a.btn:hover img, a.btn:hover { background-position:0 -34px; }
a.btn.disabled { background-position:0 -68px; }

input.btn-cal {cursor:pointer; display:block; height:32px; border:none; background-color:transparent;}
input.btn-cal:hover { background-position:0 -40px; }

input.btn-gray, a.btn-gray { cursor:pointer; display:block; height:25px; border:none; }
input.btn-gray, a.btn-gray img { background-color:transparent; }
a.btn-gray span.label { display:none; }
a.btn-gray:hover { text-decoration:none; border:none; }
input.btn-gray:hover, a.btn-gray:hover img, a.btn-gray:hover { background-position:0 -25px; }
a.btn-gray.disabled { background-position:0 -50px; }


input.btn-lg, a.btn-lg { cursor:pointer; display:block; height:40px; background-position:0 -102px; border:none; }
input.btn-lg, a.btn-lg img { background-color:transparent; }
a.btn-lg span.label { display:none; }
a.btn-lg:hover { text-decoration:none; border:none; }
input.btn-lg:hover, a.btn-lg:hover img, a.btn-lg:hover { background-position:0 -142px; }

td.disabled input { background-position:0 -68px; cursor:default; }
td.disabled input.btn-lg { background-position:0 -182px; cursor:default; }
input.form-submit, input.form_submit { border:none; }

input.view-plans-and-rates { width:148px; background-image:url('../images/buttons/btn-view-plans-and-rates.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-view-plans-and-rates.png*/; }

input.go { width:45px; background-image:url('../images/buttons/btn-go.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-go.png*/; }
input.go-attached { width:36px; background-image:url('../images/buttons/btn-go-attached.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-go-attached.png*/; }
input.get-forms { width:92px; background-image:url('../images/buttons/btn-get-forms.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-get-forms.png*/; }
input.sign-in { float:left; width:70px; margin:0 6px; background-image:url('../images/buttons/btn-sign-in.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-sign-in.png*/; }

input.update-plans-and-rates.btn-lg { width:198px; background-image:url('../images/buttons/btn-update-plans-and-rates.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-update-plans-and-rates.png*/; margin-right:30px; }

a.sign-in { width:70px; margin-bottom:10px; background-image:url('../images/buttons/btn-sign-in.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-sign-in.png*/; }
a.sign-in span { display:none; }

a.search-form { width:70px; margin:5px 0; background-image:url('../images/buttons/btn-search-form.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-search-form.png*/; }
a.search-form.btn-lg { width:86px; background-image:url('../images/buttons/btn-search-form.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-search-form.png*/; }
a.search-form span { display:none; }

a.view-all.btn { width:74px; height: 34px; border:none; margin:5px 0; background-image:url('../images/buttons/btn-view-all.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-view-all.png*/; }
a.view-all.btn-lg { width:92px; background-image:url('../images/buttons/btn-view-all.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-view-all.png*/; }
a.view-all.btn span { display:none; }

a.learn-more { width:99px; background-image:url('../images/buttons/btn-learn-more.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-learn-more.png*/; }
a.learn-more span { display:none; }

a.buy-online { width:96px; background-image:url('../images/buttons/btn-buy-online.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-buy-online.png*/; }
a.buy-online span { display:none; }

a.view-pdf { width:86px; background-image:url('../images/buttons/btn-view-pdf.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-view-pdf.png*/; }
a.view-pdf span { display:none; }

a.buy-online-green { width:96px; background-image:url('../images/buttons/btn-buy-online-green.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-buy-online-green.png*/; }
a.buy-online-green span { display:none; }

a.buy-online.btn-lg { width:117px; background-image:url('../images/buttons/btn-buy-online.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-buy-online.png*/; }
a.buy-online span.btn-lg { display:none; }

a.get-a-quote-and-buy-online-green { /*width:182px; background-image:url('/images/buttons/btn-get-a-quote-and-buy-online-green.png');*/ }
a.get-a-quote-and-buy-online-green span { /*display:none;*/ }

a.get-a-quote-green { width:99px; background-image:url('../images/buttons/btn-get-a-quote-green.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-get-a-quote-green.png*/; }
a.get-a-quote-green span { display:none; }

a.get-a-quote-green.btn-lg { width:125px; background-image:url('../images/buttons/btn-get-a-quote-green.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-get-a-quote-green.png*/; }
a.get-a-quote-green.btn-lg span { display:none; }

a.complete-request { width:143px; background-image:url('../images/buttons/btn-complete-request.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-complete-request.png*/; }
a.complete-request span { display:none; }
input.complete-request { margin-right:10px; width:143px; background-image:url('../images/buttons/btn-complete-request.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-complete-request.png*/; }

a.complete-request-lg { width:174px; background-image:url('../images/buttons/btn-complete-request.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-complete-request.png*/; }
a.complete-request-lg span { display:none; }
input.complete-request.btn-lg { margin-right:10px; width:174px; background-image:url('../images/buttons/btn-complete-request.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-complete-request.png*/; }

a.get-a-quote-and-buy-online-green.btn-lg { width:226px; background-image:url('../images/buttons/btn-get-a-quote-and-buy-online-green.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-get-a-quote-and-buy-online-green.png*/; }
a.get-a-quote-and-buy-online-green span.btn-lg { display:none; }

a.find-a-sales-office { width:145px; background-image:url('../images/buttons/btn-find-a-sales-office.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-find-a-sales-office.png*/; display:block; margin:15px auto; }
a.find-a-sales-office span { display:none; }

a.find-a-sales-office.btn-lg { width:176px; background-image:url('../images/buttons/btn-find-a-sales-office.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-find-a-sales-office.png*/; }
a.find-a-sales-office span { display:none; }

a.save { width:57px; background-image:url('../images/buttons/btn-save.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-save.png*/; background-repeat: no-repeat; height: 34px; display:block;}
a.save:hover{background-position: 0px -34px;}
a.save span {display: none; }

a.yes { width:57px; background-image:url('../images/buttons/btn-yes.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-yes.png*/; background-repeat: no-repeat; height: 34px; display:block;}
a.yes:hover{background-position: 0px -34px;}
a.yes span {display: none; }

a.pay-now { width:83px; background-image:url('../images/buttons/btn-pay-now.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-pay-now.png*/; background-repeat: no-repeat; height: 34px; display:block;}
a.pay-now:hover{background-position: 0px -34px;}
a.pay-now span {display: none; }

a.continue { width:83px; background-image:url('../images/buttons/btn-continue.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-continue.png*/; background-repeat: no-repeat; height: 34px; display:block;}
a.continue:hover{background-position: 0px -34px;}
a.continue span {display: none; }

a.sign-up { width:75px; background-image:url('../images/buttons/btn-sign-up.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-sign-up.png*/; background-repeat: no-repeat; height: 34px; display:block;}
a.sign-up:hover{background-position: 0px -34px;}
a.sign-up span {display: none; }

a.confirm { width:75px; background-image:url('../images/buttons/btn-confirm.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-confirm.png*/; background-repeat: no-repeat; height: 34px; display:block;}
a.confirm:hover{background-position: 0px -34px;}
a.confirm span {display: none; }

a.map { /*width:53px; background-image:url('/images/buttons/btn-map.png'); background-repeat: no-repeat;*/ height: 34px; display:block; }

a.email-us { /*width:82px; background-image:url('/images/buttons/btn-email-us.png'); background-repeat: no-repeat;*/ height: 34px; display:block; }

input.next { width:56px; background-image:url('../images/buttons/btn-next.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-next.png*/; }
input.calculate.btn-lg { width:104px; background-image:url('../images/buttons/btn-calculate.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-calculate.png*/; }
input.sign-up.btn-lg { width:104px; background-image:url('../images/buttons/btn-sign-up.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-sign-up.png*/; }
input.sign-up { width:75px; background-image:url('../images/buttons/btn-sign-up.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-sign-up.png*/; }
input.confirm-btn { width:75px; background-image:url('../images/buttons/btn-confirm.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-confirm.png*/; }
input.complete-request { width:75px; background-image:url('../images/buttons/btn-sign-up.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-sign-up.png*/; }
input.submit { width:71px; background-image:url('../images/buttons/btn-submit.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-submit.png*/; }
input.submit.btn-lg { width:88px; background-image:url('../images/buttons/btn-submit.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-submit.png*/; }
input.view-results.btn-lg { width:129px; background-image:url('../images/buttons/btn-view-results.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-view-results.png*/; }
input.view-rates.btn-lg { width:96px; background-image:url('../images/buttons/btn-view-rates.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-view-rates.png*/; }
input.view-rates.btn-lg { width:118px; background-image:url('../images/buttons/btn-view-rates.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-view-rates.png*/; }
input.update-rates { width:112px; background-image:url('../images/buttons/btn-update-rates.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-update-rates.png*/; }
input.update-rates.btn-lg { width:137px; background-image:url('../images/buttons/btn-update-rates.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-update-rates.png*/; }
input.update { width:77px; background-image:url('../images/buttons/btn-update.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-update.png*/; }
input.update.btn-lg { width:102px; background-image:url('../images/buttons/btn-update.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-update.png*/; }
input.add { width:55px; background-image:url('../images/buttons/btn-add.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-add.png*/; }
input.add.btn-lg { width:74px; background-image:url('../images/buttons/btn-add.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-add.png*/; }
input.get-connected { width:121px; background-image:url('../images/buttons/btn-get-connected.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-get-connected.png*/; margin-right:10px; }
input.get-connected.btn-lg { width:148px; background-image:url('../images/buttons/btn-get-connected.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-get-connected.png*/; margin-right:10px; }
input.get-connected.btn-lg { width:148px; background-image:url('../images/buttons/btn-get-connected.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-get-connected.png*/; margin-right:10px; }
input.register { width:80px; background-image:url('../images/buttons/btn-register.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-register.png*/; margin-right:10px; }
input.register.btn-lg { width:98px; background-image:url('../images/buttons/btn-register.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-register.png*/; margin-right:10px; }
input.save { width:57px; background-image:url('../images/buttons/btn-save.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-save.png*/; }
input.pay-now { width:83px; background-image:url('../images/buttons/btn-pay-now.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-pay-now.png*/; }
input.reset-password { width:133px; background-image:url('../images/buttons/btn-reset-password.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-reset-password.png*/; }
input.view-catalog { width:115px; background-image:url('../images/buttons/btn-view-catalog.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-view-catalog.png*/; }
input.take-number { width:115px; background-image:url('Unknown_83_filename')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-take-number.png*/; }
input.get-url { width:85px; background-image:url('Unknown_83_filename')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-get-url.png*/; }

input.send.btn-lg { width:73px; background-image:url('../images/buttons/btn-master-send.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-master-send.png*/; }
input.send-key.btn-lg { width:104px; background-image:url('../images/buttons/btn-master-send-key.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-master-send-key.png*/; }
input.download.btn-lg { width:112px; background-image:url('../images/buttons/btn-master-download.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-master-download.png*/; }
input.reset.btn-lg { width:76px; background-image:url('../images/buttons/btn-master-reset.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-master-reset.png*/; }
input.save.btn-lg { width:70px; background-image:url('../images/buttons/btn-master-save.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-master-save.png*/; }
input.search.btn-lg { width:87px; background-image:url('../images/buttons/btn-master-search.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-master-search.png*/; }
input.login.btn-lg { width:76px; background-image:url('../images/buttons/btn-master-login.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-master-login.png*/; }
input.user-setup.btn-lg { width:117px; background-image:url('../images/buttons/btn-master-user-setup.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-master-user-setup.png*/; }
input.manage-cases.btn-lg { width:124px; height:34px; background-image:url('../images/buttons/btn-manage-cases.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-manage-cases.png*/; background-position:0px 0px; }
input.manage-cases.btn-lg:hover { width:124px; height:34px; background-image:url('../images/buttons/btn-manage-cases.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-manage-cases.png*/; background-position:0px -34px; }
input.cancel.btn-lg { width:76px; background-image:url('../images/buttons/btn-master-cancel.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-master-cancel.png*/; }
input.continue.btn-lg { width:105px; background-image:url('../images/buttons/btn-master-continue.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-master-continue.png*/; }

input.submit-question {	float:left; width:131px; background-image:url('../images/buttons/btn-submit-question.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-submit-question.png*/; }
input.send-request { float:left; width:131px; background-image:url('../images/buttons/btn-send-request.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-send-request.png*/; }

a.connect-with-a-producer-green { float:left; /*width:179px;*/ background-image:url('../images/buttons/btn-connect-with-a-producer-green.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-connect-with-a-producer-green.png*/; }
a.connect-with-a-producer-green span { display:none; }

a.connect-with-a-producer.btn-lg { width:223px; background-image:url('../images/buttons/btn-connect-with-a-producer-green.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-connect-with-a-producer-green.png*/; }
a.connect-with-a-producer.btn-lg span { display:none; }

a.connect-with-an-agent-green { float:left; /*width:166px;*/ background-image:url('../images/buttons/btn-connect-with-an-agent-green.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-connect-with-an-agent-green.png*/; }
a.connect-with-an-agent-green span { display:none; }

a.connect-with-an-agent { width:170px; background-image:url('../images/buttons/btn-connect-with-an-agent.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-connect-with-an-agent.png*/; }
a.connect-with-an-agent span { display:none; }

a.connect-with-an-agent.btn-lg { width:206px; background-image:url('../images/buttons/btn-connect-with-an-agent.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-connect-with-an-agent.png*/; }
a.connect-with-an-agent.btn-lg span { display:none; }

a.get-a-quote { }

a.get-a-quote.btn-lg { float:left; width:125px; background-image:url('../images/buttons/btn-get-a-quote.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-get-a-quote.png*/; }
a.get-a-quote.btn-lg span { display:none; }

a.start.btn-lg { width:71px; background-image:url('../images/buttons/btn-large-start.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-large-start.png*/; }
a.start.btn-lg span { display:none; }

a.connect { display:block; width:724px; height:58px; margin-bottom:15px; padding:19px 3px 4px 18px; font-size:12px; color:#444; background:transparent url('../images/layout/presentation/presentation-btm-bg.png')/*tpa=http://www.mutualofomaha.com/images/layout/presentation/presentation-btm-bg.png*/ top left no-repeat; border:none; }
a.connect.round { display:block; width:724px; height:53px; margin-bottom:15px; padding:16px 3px 4px 18px; font-size:12px; color:#444; background:transparent url('../images/layout/call-to-action-round-bg.png')/*tpa=http://www.mutualofomaha.com/images/layout/call-to-action-round-bg.png*/ top left no-repeat; border:none; }
a.connect:hover { text-decoration:none; }
a.connect span { float:left; }
a.connect span.intro { width:225px; padding-top:2px; }
a.connect span.phone { width:235px; padding-top:2px; padding-left:5px; font-size:32px; line-height:35px; font-weight:bold; }
a.connect span.or { width:20px; padding-top:9px; padding-right:8px; }
a.connect span.action { }
a.connect span.action .label { }
a.connect span.action img {  }
a.connect span.action.buy-online { width:116px; height:40px; background:url('../images/buttons/btn-buy-online-green.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-buy-online-green.png*/ 0 -102px; }

a.connect-dtc { display:block; width:724px; height:58px; margin-bottom:15px; padding:19px 3px 4px 18px; font-size:12px; color:#444; background:transparent url('../images/layout/presentation/presentation-btm-bg.png')/*tpa=http://www.mutualofomaha.com/images/layout/presentation/presentation-btm-bg.png*/ top left no-repeat; border:none; }
.connect-dtc.round { display:block; width:724px; height:53px; margin-bottom:15px; padding:16px 3px 4px 18px; font-size:12px; color:#444; background:transparent url('../images/layout/call-to-action-round-bg.png')/*tpa=http://www.mutualofomaha.com/images/layout/call-to-action-round-bg.png*/ top left no-repeat; border:none; }
.connect-dtc:hover { text-decoration:none; }
.connect-dtc span { float:left; }
.connect-dtc span.intro { width:225px; padding-top:2px; }
.connect-dtc span.phone { width:235px; padding-top:2px; padding-left:5px; font-size:32px; line-height:35px; font-weight:bold; }
.connect-dtc span.or { width:20px; padding-top:9px; padding-right:10px; }
.connect-dtc span.action .label { display:none; }
.connect-dtc span.action img { }
.connect-dtc span.action.get-a-quote-and-buy-online { width:226px; height:40px; margin-left:10px; background:url('../images/buttons/btn-get-a-quote-and-buy-online-green.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-get-a-quote-and-buy-online-green.png*/ 0 -102px; }
a.connect-dtc span.action.buy-online { width:116px; height:40px; background:url('../images/buttons/btn-buy-online-green.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-buy-online-green.png*/ 0 -102px; }
a.connect-dtc span.action.get-a-quote { width:125px; height:40px; background:url('../images/buttons/btn-get-a-quote-green.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-get-a-quote-green.png*/ 0 -102px; }
.connect-dtc:hover span.action { background-position:0 -142px; }

a.connect.producer { width:728px; padding:19px 3px 4px 15px; }
a.connect.producer span.intro { width:225px; }
a.connect.producer span.phone { width:238px; padding-left:0; }
a.connect.producer span.or { width:17px; }
a.connect.producer span.action { /*padding-left:13px*/ }
a.connect.producer span.action { /*width:223px; height:40px; background:url('/images/buttons/btn-connect-with-a-producer-green.png') 0 -102px;*/ }

a.send-me-a-booklet.btn-lg { width:173px; background-image:url('Unknown_83_filename')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-send-me-a-booklet.png*/; }
a.send-me-a-booklet span { display:none; }

/* Dynamic CSS Button - full compatability in Chrome & Safari. Mostly compatible in Firefox 4+. Pretty plain in IE 7 and 8. */
a.css-btn {
	padding:10px;
	color:#FFF;
	background:#EE8327 url('../images/testimonials/gradient-button.png')/*tpa=http://www.mutualofomaha.com/images/testimonials/gradient-button.png*/ center repeat-x;
	border:2px solid #ddd;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size:14px;
	cursor:pointer;
	text-shadow: 0px -1px 1px #bb6325;
}

a.css-btn:hover {
	text-decoration:none;
	background:url('../images/testimonials/gradient-button-hover.png')/*tpa=http://www.mutualofomaha.com/images/testimonials/gradient-button-hover.png*/ center repeat-x;
}

a.css-btn:active {
	text-decoration:none;
	background:url('../images/testimonials/gradient-button-hover.png')/*tpa=http://www.mutualofomaha.com/images/testimonials/gradient-button-hover.png*/ center repeat-x;
	opacity:.75;
}

a.btn,
a.connect span.action {
	height: auto;
	display: block;
	float: left;
	margin: 0 3px 1px 0;
	padding: 0;
	background: none;
	border: 2px solid #D5D5D5;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	
	-moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

a.btn.large,
a.connect span.action.large {
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

a.btn span,
a.connect span.action .label {
	display: block;
	overflow: visible;
	padding: 8px;
	*padding: 5px 8px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	line-height: 13px;
	font-weight: normal;
	letter-spacing: 0;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 0 #d85b01;
	background: #EE8327 url("../images/buttons/bg-btn-primary.png")/*tpa=http://www.mutualofomaha.com/images/buttons/bg-btn-primary.png*/ 0 0 repeat-x;
	border-width: 1px;
	border-style: solid;
	border-color: #f69834 #e47001 #d85b01;
	outline-color: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	-moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

a.btn.large span,
a.connect span.action.large .label {
	padding: 9px 12px 11px !important;
	*padding: 10px 12px !important;
	font-size: 15px;
	line-height: 16px;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

a.btn span:hover,
a.connect:hover span.action .label {
	background-position: 0 -60px;
	border-width: 1px;
	border-style: solid;
	border-color: #f69834 #e47001 #d85b01;
}

a.btn.green,
a.connect span.action.large.green {
	border: 2px solid #a6d558;
}

a.btn.green span,
a.connect span.action.green .label {
	background-color: #7bad37;
	background-position: 0 -120px;
	border-color: #8ab73f #4e8821 #3a6b15;
	text-shadow: 0 -1px 0 #3a6b15;
}

a.btn.green span:hover,
a.connect:hover span.action.green .label {
	background-position: 0 -180px;
	border-width: 1px;
	border-style: solid;
	border-color: #8ab73f #4e8821 #3a6b15;
}

a.btn.blue,
a.connect span.action.large.blue {
	border-width: 0px;
	border-style: none;
}

a.btn.blue span,
a.connect span.action.blue .label {
	background: #4C9FE8;
	border-width: 0px;
	border-style: none;
	text-shadow: none;
}

a.btn.blue span:hover,
a.connect:hover span.action.blue .label {
	background: #4086c4;
}

a.btn.blue span:active {

}

a.btn.disabled span, 
td.disabled a.btn span {
	background-position: 0 -60px;
	cursor: default;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.4;
}

a.btn:active,
a.connect:active span.action { 
	margin: 1px 3px 0 0;
}

a.btn.secondary {
	border: 1px solid #D5D5D5;
}

a.btn.secondary span {
	padding: 5px 8px 7px;
	*padding: 6px 8px;
	color: #2389dd;
	text-shadow: 0 1px 0 #fff;
	background: #fff url("../images/buttons/bg-btn-secondary.png")/*tpa=http://www.mutualofomaha.com/images/buttons/bg-btn-secondary.png*/ 0 0 repeat-x;
	border: none !important;
}

a.btn.large.secondary .btn-label {
	padding: 10px 13px 12px !important;
	*padding: 11px 12px !important;
}

a.btn.secondary:hover span,
a.btn.secondary:focus span {
	color: #00346e;
	background-position: 0 -60px;
	border: none !important;
}

a.btn.disabled.secondary {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1.0;
}

a.btn.disabled.secondary span {
	color: #000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.4;
}

.input-hidden
{
  border: none;
  width: 0;
  height: 0;
  line-height: 0;
  padding:0;
  margin: 0;
}

a.update-plans-and-rates { margin-right:30px; }
a.view-plans-and-rates { margin-right:30px; }

/* END Dynamic CSS Button */

/*Provider Access override*/
#survey-yes
{
	border: none;
	height: 35px;
}

/* button base / orange */
.css-btn, .css-btn-small, .css-btn-gray{
	background: #f8b65e; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8b65e 0%, #e58f3b 40%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8b65e), color-stop(40%,#e58f3b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8b65e 0%,#e58f3b 40%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8b65e 0%,#e58f3b 40%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8b65e 0%,#e58f3b 40%); /* IE10+ */
	background: linear-gradient(top,  #f8b65e 0%,#e58f3b 40%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b65e', endColorstr='#e58f3b',GradientType=0 ); /* IE6-9 */

	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border:2px solid #ddd;
	
	width:auto;
	overflow:visible;
	margin:0;

	
	padding:6px 15px;
	color:white;
	text-shadow: 0 -1px 0px #c6682a;
	
	font-size:14px;
	font-weight:500;
	font-family: "ff-meta-web-pro","Arial";
	
	/*
	-webkit-box-shadow: 0 2px 5px 0 #623c17;
	-moz-box-shadow: 0 2px 5px 0 #623c17;
	box-shadow: 0 2px 5px 0 #623c17;
	*/
	display: inline;
}

input.css-btn:hover, input.css-btn-small:hover, input.css-btn-gray:hover{
	background: #ed9f4a;
	filter:none;
	cursor:pointer;
}

input.css-btn:active, input.css-btn:focus, input.css-btn-small:active, input.css-btn-small:focus, input.css-btn-gray:active, input.css-btn-gray.focus{
	background: #f8b65e;
	filter:none;
	outline:none;
	
	-webkit-box-shadow: inset 0 2px 1px 0 #e47d19;
	-moz-box-shadow: inset 0 2px 1px 0 #e47d19;
	box-shadow: inset 0 2px 1px 0 #e47d19;	
}

.css-btn.disabled, .css-btn.disabled:hover, .css-btn.disabled:active, .css-btn.disabled:focus, .css-btn-small.disabled:active, .css-btn-small.disabled:focus, .css-btn-small.disabled:hover {
	background: #ed9f4a;
	cursor: default;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.4;
}

.css-btn-small{
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	font-size:12px;
}

/* button gray */
.css-btn-gray{
	background: #e7e7e7; /* Old browsers */
	background: -moz-linear-gradient(top,  #e7e7e7 0%, #d5d5d5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#d5d5d5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e7e7e7 0%,#d5d5d5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e7e7e7 0%,#d5d5d5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e7e7e7 0%,#d5d5d5 100%); /* IE10+ */
	background: linear-gradient(top,  #e7e7e7 0%,#d5d5d5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#d5d5d5',GradientType=0 ); /* IE6-9 */
	
	text-shadow: 0 -1px 0px #eee;
	
	color:#333;
}

input.css-btn-gray:hover, a.css-btn-gray:hover{
	background: #e7e7e7;
}

input.css-btn-gray:active, input.css-btn-gray:focus, a.css-btn-gray:active, a.css-btn-gray:focus{
	background: #d5d5d5;
	
	-webkit-box-shadow: inset 0 2px 1px 0 #ddd;
	-moz-box-shadow: inset 0 2px 1px 0 #ddd;
	box-shadow: inset 0 2px 1px 0 #ddd;	
}

.ie9 .btn, .ie9 .css-btn{
	filter:none;
}

