@charset "UTF-8";

/*/////
calculator.css
Mutual of Omaha Insurance Company
Corporate Site - mutualofomaha.com
/////*/


/*///// Calculator elements /////*/
/* Sliders */
#presentation .ui-slider { position:relative; height:3px; width:350px; margin:20px 0 40px 10px; text-align:left; background:#e7e7e7; border:0px dashed #333; text-decoration: none !important; }
#presentation .ui-slider .ui-slider-handle { position:absolute; width:17px; height:40px; top:-20px; margin-left:-8px; background:transparent url('Unknown_83_filename')/*tpa=http://www.mutualofomaha.com/images/slider/slider-handle.png*/ no-repeat; cursor:pointer; z-index:2; overflow: visible !important; }
#presentation .ui-slider .ui-slider-range { position:absolute; display:block; font-size:14px; border: 0; z-index:1; width:50%; }

/* Toggles */
#presentation ul.marital-status-toggle li { float:left; padding:0; margin:0 0 20px 0; background:none; cursor:pointer; }
#presentation ul.marital-status-toggle li.single { display:block; width:89px; height:46px; background:transparent url('../images/buttons/btn-married-single-toggle.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-married-single-toggle.png*/ no-repeat; }
#presentation ul.marital-status-toggle li.single:hover { background-position: 0 -46px; }
#presentation ul.marital-status-toggle li.single:active, #presentation ul.marital-status-toggle li.single.enabled { background-position: 0 -92px; }
#presentation ul.marital-status-toggle li.single.enabled { cursor:default; }
#presentation ul.marital-status-toggle li.single span { display:none; }
#presentation ul.marital-status-toggle li.married { display:block; width:89px; height:46px; background:transparent url('../images/buttons/btn-married-single-toggle.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-married-single-toggle.png*/ -89px 0 no-repeat; }
#presentation ul.marital-status-toggle li.married:hover { background-position: -89px -46px; }
#presentation ul.marital-status-toggle li.married:active, #presentation ul.marital-status-toggle li.married.enabled { background-position: -89px -92px; }
#presentation ul.marital-status-toggle li.married.enabled { cursor:default; }
#presentation ul.marital-status-toggle li.married span { display:none; }
#presentation div.show-spouse-info { display:none; clear:both; }

/* Centered Calculator tables */
#content .main .content-copy .calculator-centered-table { width:100%; margin-top:5px; border-right:1px #E7E7E7 solid; border-left:1px #E7E7E7 solid; border-bottom:1px #E7E7E7 solid; }
#content .main .content-copy .calculator-centered-table small { font-size:12px; font-weight:normal; }
#content .main .content-copy .calculator-centered-table th { padding:7px 10px; font-size:12px; line-height:15px; font-weight:bold; text-align:center; background:transparent url('../images/layout/table-header-contact.jpg')/*tpa=http://www.mutualofomaha.com/images/layout/table-header-contact.jpg*/ repeat-x; border-bottom:1px #E7E7E7 solid; border-top:1px #E7E7E7 solid; }
#content .main .content-copy .calculator-centered-table td { padding:5px; }
#content .main .content-copy .calculator-centered-table td.right-align { text-align:right; }
#content .main .content-copy .calculator-centered-table td.number {padding:15px 25px 5px 25px;}
#content .main .content-copy .calculator-centered-table td.multi {padding:0px 0px 15px 35px;}
#content .main .content-copy .calculator-centered-table th, #content .main .content-copy .calculator-centered-table td { vertical-align:middle; }