@charset "UTF-8";
/* CSS Document */

#homepage hr { margin:10px 0; padding:0; height:1px; border-color:#e7e7e7; }
/*#homepage #login hr { border-width:2px; }*/

/*///// Banner /////*/
	#banner { width:980px; height:330px; overflow:hidden; background:#093157 url("../images/layout/shadow-banner.png")/*tpa=http://www.mutualofomaha.com/images/layout/shadow-banner.png*/ top left repeat-x; border:0px dashed #333; }
		#login { 
			position: relative;
			width:294px; 
			height:304px; 
			margin:13px; 
			padding:0; 
			float:left; 
			background:white; 
			
			border:0px dashed #333;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		}
		#login div.header { 
			overflow: visible;
			position: relative;
			display:block; 
			width:270px; 
			margin:0;
			padding:10px 12px; 
			font-size:22px; 
			line-height:28px; 
			color:#676767; /*#01213e;*/ 
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.27) 42%, rgba(231,231,231,0.65) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(42%,rgba(255,255,255,0.27)), color-stop(100%,rgba(231,231,231,0.65))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.27) 42%,rgba(231,231,231,0.65) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.27) 42%,rgba(231,231,231,0.65) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.27) 42%,rgba(231,231,231,0.65) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.27) 42%,rgba(231,231,231,0.65) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6e7e7e7',GradientType=0 ); /* IE6-9 */

			border-bottom:1px solid #e7e7e7;
			-webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-topright: 10px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			
			cursor: pointer;
		}
		#login div.header span {
			display: block;
			margin: 0;
			padding: 2px 18px 0 9px;
			font-size: 12px;
			color: #676767;
			line-height: 14px;
			background: transparent url('../images/icons/lock-grey.png')/*tpa=http://www.mutualofomaha.com/images/icons/lock-grey.png*/ 52% 1px no-repeat;
			border: 0px dashed #333;
			/*padding: 0 35px 0 0;
			border:0px dashed #333;*/
		}
		#login div.header b.caret {
			float: right;
			margin: 10px 0 0 0;
			border-top: 8px solid #888;
			border-right: 8px solid transparent;
			border-left: 8px solid transparent;
		}
		#login div.account-dropdown {
			overflow:hidden;
			margin: 7px 0 0 0;
			padding: 4px 7px;

			border:1px solid #d9d9d9;
			-webkit-border-radius: 6px;
			-moz-border-radius-topleft: 6px;
			border-radius: 6px;
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.27) 42%, rgba(231,231,231,0.65) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(42%,rgba(255,255,255,0.27)), color-stop(100%,rgba(231,231,231,0.65))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.27) 42%,rgba(231,231,231,0.65) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.27) 42%,rgba(231,231,231,0.65) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.27) 42%,rgba(231,231,231,0.65) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.27) 42%,rgba(231,231,231,0.65) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6e7e7e7',GradientType=0 ); /* IE6-9 */

		}
		#login div.account-dropdown:hover {
			background: white;
			border-color: #ccc;
		}
		#login h2 {
			float:left;
			width:220px;
		}
		#login div.plan-members-login {
			margin:15px 0 0 0;
		}
		#login div.plan-members-login small {
			display:block;
			margin: 3px 0 0 0;
			font-size: 12px;
			line-height: 15px;
		}
		
		#login form { padding:20px 20px 0 20px; background:none; }
		#login form label { padding:0 0 2px 0; font-size:12px; color:#777; letter-spacing:.02em; }
		#login form input { width:100px; height:16px; margin:8px 0 10px 0; padding:5px 7px 5px 7px; font-size:13px; color:#555; border:2px solid #ddd; }
			#action { border:0px dashed #333; }
				#login form #sign-in { float:left; height:34px; display:block; margin:6px 0; width:70px; border:none; background-image:url('../images/buttons/btn-sign-in.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-sign-in.png*/; }
				#login form #sign-in:hover { background-position:0 -34px; }
				#register { float:left; margin:6px 0; padding:10px 0 0 0; font-size:13px; letter-spacing:.02em; border:0px dashed #333; }
			#login-assist { display:block; clear:both; padding:10px 20px 25px 0; font-size:12px; letter-spacing:.02em; border:0px dashed #333; }
			#subaction { padding:13px 20px 10px 20px; font-size:16px; font-weight:bold; letter-spacing:.02em; }
			#subaction a { margin:0; padding:0; }
		
		#login div.btn-container { padding: 15px 20px 0 0; font-size: 16px; background: none; }
		#login div.btn-container a.btn { display: block; width: 140px; margin: 8px 0; clear:both; text-decoration: none; }
		#login ul { display: block; margin: 0; padding: 2px 0 0; list-style: none; }
		#login div.btn-container p { margin: 10px 0 8px 18px; } 
		#login ul li { margin:0 0 0 18px; padding:0; background:transparent url('../images/arrows/arrow-gray.gif')/*tpa=http://www.mutualofomaha.com/images/arrows/arrow-gray.gif*/ 0 5px no-repeat; }
		#login ul li a { display: block; margin:7px 0 10px 0; padding: 2px 12px; text-decoration: none; /*border-bottom:1px solid #e7e7e7;*/ }
		#login ul li a.last { border-bottom:none; }
		#login ul li a:hover { text-decoration: underline;/*background:transparent url('/images/arrows/arrow-gray.gif') 240px 15px no-repeat;*/ }
		
#ad-carousel { display:inline; position:relative; width:660px; height:330px; float:left; background:none; }
#ad-carousel .ads { /*position:relative; padding:0 0 0 15px; zoom:1;*/ border:0px dashed #333; }
#ad-carousel #ad-carousel-tab-arrow { position:absolute; z-index:5999; margin-top:230px; padding:0; width:20px; height:10px; background:transparent url('../images/arrows/arrow-ad-carousel-home.gif')/*tpa=http://www.mutualofomaha.com/images/arrows/arrow-ad-carousel-home.gif*/ top left no-repeat; }
#ad-carousel .tab-1-arrow-position { margin-left:99px; }
#ad-carousel .tab-2-arrow-position { margin-left:320px; }
#ad-carousel .tab-3-arrow-position { margin-left:540px; }

#ad-carousel-tabs li { display:inline; }
#ad-carousel-tabs li a { float:left; padding:16px 20px 0 19px; cursor:pointer; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; line-height:16px; text-decoration:none; background:transparent url("../images/ads/tab-ad-carousel-home.png")/*tpa=http://www.mutualofomaha.com/images/ads/tab-ad-carousel-home.png*/ top left no-repeat; border-top:2px solid #fff; border-bottom:none; }
#ad-carousel-tabs li a strong { display:block; margin-bottom:6px; font-size:16px; font-weight:normal; color:#01213e; }
#ad-carousel-tabs li a span { display:block; }
#ad-carousel-tabs li a.tab-1 { width:180px; height:74px; border-right:2px solid #fff; }
#ad-carousel-tabs li a.tab-2 {  width:179px; height:74px; border-right:2px solid #fff; }
#ad-carousel-tabs li a.tab-3 { width:180px; height:74px; }
#ad-carousel-tabs li a.active { cursor:default; color:#fff; background-position:0 -90px; }
#ad-carousel-tabs li a.active strong { color:#fff; }


/* Content Home */
#homepage #content { padding:5px 0; background:none; }
#homepage #content .sidebar-home { float:left; width:320px; height:340px; margin:0; padding:0; background:none; border:0px dashed #333; }

/*///// sidebar Menu /////*/
#homepage #content .sidebar-home .accordion { display:block; }
#homepage #content .sidebar-home .accordion a { border-bottom:none; }
#homepage #content .sidebar-home .accordion a:hover { text-decoration:none; }
#homepage #content .sidebar-home .accordion li { display:block; }
#homepage #content .sidebar-home .accordion li h2 { width:222px; height:35px; margin:0; padding:15px 80px 0 18px; background:url('../images/sidebar/tab-accordion-home.png')/*tpa=http://www.mutualofomaha.com/images/sidebar/tab-accordion-home.png*/ top left no-repeat; border:0px dashed #333; cursor:pointer; }
#homepage #content .sidebar-home .accordion li h2.ui-state-active { background:url('../images/sidebar/tab-accordion-home-active.png')/*tpa=http://www.mutualofomaha.com/images/sidebar/tab-accordion-home-active.png*/ top left no-repeat; cursor:default; }
#homepage #content .sidebar-home .accordion li h2 a { font-size:18px; color:#FFF; }

#homepage #content .sidebar-home .accordion li .tab-content { width:312px; height:190px; margin:0; padding:0 4px; background:url('../images/sidebar/bg-accordion-tab-content-home.png')/*tpa=http://www.mutualofomaha.com/images/sidebar/bg-accordion-tab-content-home.png*/ bottom left no-repeat; overflow:hidden; }
#homepage #content .sidebar-home .accordion li .tab-content a:hover { text-decoration:underline; }
#homepage #content .sidebar-home .accordion li .tab-content a.send-request { display:block; width:121px; height:34px; margin:0 0 10px 14px; border:none; background:transparent url('../images/buttons/btn-get-connected.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-get-connected.png*/ 0 0 no-repeat; }
#homepage #content .sidebar-home .accordion li .tab-content a.send-request span { display:none; } 
#homepage #content .sidebar-home .accordion li .tab-content a.send-request:hover { background:transparent url('../images/buttons/btn-get-connected.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-get-connected.png*/ 0 -34px no-repeat; }
#homepage #content .sidebar-home .accordion li .tab-content p { margin:0; padding:9px 20px 10px 14px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#676767; line-height:19px }
#homepage #content .sidebar-home .accordion li .tab-content span { padding-left:5px; font-size:12px; }
#homepage #content .sidebar-home .accordion li .tab-content span.error { color:#C42828; }
#homepage #content .sidebar-home .accordion li .tab-content form { padding:10px 0 0 15px; background:none; }
#homepage #content .sidebar-home .accordion li .tab-content form table { float:left; margin:0; padding:0; border:0px dashed #333; }
#homepage #content .sidebar-home .accordion li .tab-content form table tr { margin:0; padding:0; border:0px dashed #333; }
#homepage #content .sidebar-home .accordion li .tab-content form table td { margin:0; padding:0; border:0px dashed #333; }
#homepage #content .sidebar-home .accordion li .tab-content form label { padding:0 0 2px 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#777; letter-spacing:.02em; }
#homepage #content .sidebar-home .accordion li .tab-content form input.agent-lookup { float:left; width:160px; padding:5px 4px; margin:2px 0 6px 0; font-size:13px; color:#777; background-color:#FFF; border-top:2px solid #dddddd; border-bottom:2px solid #dddddd; border-left:2px solid #dddddd; border-right:0px solid #dddddd; }
#homepage #content .sidebar-home .accordion li .tab-content form input.agent-lookup.focus { color:#333; background-color:#FFF; border-top:2px solid #D5D5D5; border-bottom:2px solid #D5D5D5; border-left:2px solid #D5D5D5; border-right:0px solid #D5D5D5; }
#homepage #content .sidebar-home .accordion li .tab-content form select { display:block; width:180px; margin:5px 0; padding:3px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#444; letter-spacing:.02em; border:2px solid #ddd; }
#homepage #content .sidebar-home .accordion li .tab-content form input.btn { display:block; float:left; margin:18px 0 0 36px; padding:0; width:45px; height:34px; cursor:pointer; background:transparent url('../images/buttons/btn-go.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-go.png*/ 0 0 no-repeat; border:0px dashed #333; }
#homepage #content .sidebar-home .accordion li .tab-content form input.btn:hover { background-position:0 -34px; }
/* agent */
#homepage #content .sidebar-home .accordion li .tab-content #agent-accordion { margin:0; padding-top:0; }
#homepage #content .sidebar-home .accordion li .tab-content form input { width:222px; height:16px; margin:5px 0; padding:5px 7px 5px 7px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#444; letter-spacing:.02em; border:2px solid #ddd; }
#homepage #content .sidebar-home .accordion li .tab-content form tr.short { height:15px; }
#homepage #content .sidebar-home .accordion li .tab-content form #agent-go-accordion { display:block; float:left; margin:0; padding:0; width:36px/*45px*/; height:34px; cursor:pointer; background:transparent url('../images/buttons/btn-go-attached.png')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-go-attached.png*/ 0 0 no-repeat; border:0px dashed #333; }
#homepage #content .sidebar-home .accordion li .tab-content form #agent-go-accordion:hover { background-position:0 -34px; }

#homepage #content .sidebar-home .accordion .accordion-tab div.find p.locate { padding-top:0px;padding-bottom:2px; }
#homepage #content .sidebar-home .accordion .accordion-tab div.find table tr.short td a { font-size:13px; line-height:15px; }


#homepage #content .sidebar-home .accordion li .buyonline { background-color:#DDD; }
#homepage #content .sidebar-home .accordion li .buyonline ul { margin:0; padding:0; }
#homepage #content .sidebar-home .accordion li .buyonline ul li { border-top:1px solid #DDD; border-bottom:none; }
#homepage #content .sidebar-home .accordion li .buyonline ul li.first-child { border-top:none; }
#homepage #content .sidebar-home .accordion li .buyonline ul li.last-child { height:38px; background-color:#DDD; }
#homepage #content .sidebar-home .accordion li .buyonline ul li a { display:block; height:14px; padding:11px 15px; background:transparent url('../images/arrows/arrow-gray-accordion.gif')/*tpa=http://www.mutualofomaha.com/images/arrows/arrow-gray-accordion.gif*/ 290px 49% no-repeat; }
#homepage #content .sidebar-home .accordion li .buyonline ul li a:hover { display:block; background:#DD8728 url('../images/arrows/arrow-gray-accordion-sel.gif')/*tpa=http://www.mutualofomaha.com/images/arrows/arrow-gray-accordion-sel.gif*/ 290px 50% no-repeat; color:#fff; text-decoration:none; }
#homepage #content .sidebar-home .accordion li .buyonline ul li h3 { padding:10px 0 11px 11px; font-size:14px; font-weight:normal; }
#homepage #content .sidebar-home .accordion li .buyonline ul li.first-child a:hover { }

#homepage #content .sidebar-home .accordion li .find ul { clear:both; padding-top:20px; }
#homepage #content .sidebar-home .accordion li .find ul li { border-top:1px solid #dddddd; border-bottom:none; }
#homepage #content .sidebar-home .accordion li .find ul li.first-child { border-top:1px solid #dddddd; border-bottom:none; }
#homepage #content .sidebar-home .accordion li .find ul li a { display:block; height:14px; padding:10px 15px; background:transparent url('../images/arrows/arrow-gray-accordion.gif')/*tpa=http://www.mutualofomaha.com/images/arrows/arrow-gray-accordion.gif*/ 290px 49% no-repeat; }
#homepage #content .sidebar-home .accordion li .find ul li a:hover { display:block; background:#DD8728 url('../images/arrows/arrow-gray-accordion-sel.gif')/*tpa=http://www.mutualofomaha.com/images/arrows/arrow-gray-accordion-sel.gif*/ 290px 50% no-repeat; color:#fff; }


#homepage #content .main { float:left; width:660px; margin:0; padding:0; background:none; border:0px dashed #333; }
#homepage #content .main .columns { margin:0; overflow:hidden; background:none; border:0px dashed #333; }
#homepage #content .main .columns .column { float:left; width:294px; height:178px; padding:17px 18px 0 18px; background:none; }
#homepage #content .main .columns .left { width:293px; border-right:1px solid #e7e7e7; }
#homepage #content .main .columns .column h2 { margin:0; padding:0 0 10px 0; font-family:Arial, Helvetica, sans-serif; font-size:26px; color:#054f8c; letter-spacing:.02em; background:none; border:0px dashed #333; }
#homepage #content .main .columns .column ul { margin:0; padding:0 0 0 2px; background:none; }
#homepage #content .main .columns .column ul li { margin:0; padding:0 10px 13px 11px; font-family:Arial, Helvetica, sans-serif; font-size:14px; letter-spacing:.02em; background:transparent url('../images/arrows/arrow-gray.gif')/*tpa=http://www.mutualofomaha.com/images/arrows/arrow-gray.gif*/ 0 4px no-repeat; border:0px dashed #333; }
#homepage #content .main .columns .column ul li.last { margin:0; padding:2px 10px 0 0; font-size:12px; background:none; border:0px dashed #333; }

#homepage #content .main .ad-row { clear:both; width:653px; height:138px; margin:5px 5px 0 5px; padding:1px; background:transparent url('../images/layout/box-ad-row-home.png')/*tpa=http://www.mutualofomaha.com/images/layout/box-ad-row-home.png*/ top left no-repeat; border:0px dashed #333; }
#homepage #content .main .ad-row li { display:inline; float:left; margin:0 1px 0 0; padding:0; background:none; border:0px dashed #333; }
#homepage #content .main .ad-row li.last { margin:0; }
#homepage #content .main .ad-row li a { float:left; width:217px; height:42px; padding:88px 0 0 0; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#054f8c; line-height:19px; text-align:center; background:#ff0; border:0px dashed #333; }
#homepage #content .main .ad-row li a.ad-1 { background:transparent url('../images/thumbs/thumb-compass-1.png')/*tpa=http://www.mutualofomaha.com/images/thumbs/thumb-compass-1.png*/ 66px 8px no-repeat; }
#homepage #content .main .ad-row li a.ad-2 { background:transparent url('../images/thumbs/thumb-grocery-sack-1.png')/*tpa=http://www.mutualofomaha.com/images/thumbs/thumb-grocery-sack-1.png*/ 42px 9px no-repeat; }
#homepage #content .main .ad-row li a.ad-3 { background:transparent url('../images/thumbs/thumb-aha-button.png')/*tpa=http://www.mutualofomaha.com/images/thumbs/thumb-aha-button.png*/ 13px 7px no-repeat; }
/* #homepage #content .main .ad-row li a.ad-3 { background:transparent url('/images/thumbs/thumb-aha-vote-2.png') 0px 13px no-repeat; }
#homepage #content .main .ad-row li a.ad-3 { background:transparent url('/images/thumbs/thumb-aha-photos-1.png') 13px 22px no-repeat; }
#homepage #content .main .ad-row li a.ad-3 { background:transparent url('/images/thumbs/thumb-aha-airstream-1.png') 42px 15px no-repeat; }*/


/** Secondary Carousel **/
#why_mutual table td { vertical-align:middle; }
#why_mutual table td.company { border-right:1px solid #CCC; border-bottom:1px solid #CCC; }
#why_mutual table td.company-last { border-right:1px solid #CCC; }
#why_mutual table td.rating { border-bottom:1px solid #CCC; text-align:center; }
#why_mutual table td.rating-last { text-align:center; }


/*///// extras /////*/
#homepage #extras { clear:both; margin:0; padding:0; background:none; overflow:hidden; }
#homepage #extras h2 { margin:0; padding:0 0 10px 0; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#054f8c; letter-spacing:.02em; background:#ff0; border:0px dashed #333; }
#homepage #extras small { font-size:12px; }
#homepage #extras #quick-links { float:left; width:284px; height:170px; margin:0; padding:15px 18px 4px 18px; background:transparent url('../images/layout/box-extras-left.png')/*tpa=http://www.mutualofomaha.com/images/layout/box-extras-left.png*/ top left no-repeat; }
#homepage #extras #quick-links h2 { margin:0; padding:0 0 25px 0; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#01213e; letter-spacing:.02em; background:none; border:0px dashed #333; }
#homepage #extras #quick-links ul { margin:0; padding:0 0 0 2px; background:none; }
#homepage #extras #quick-links ul li { margin:0; padding:0 10px 10px 11px; font-family:Arial, Helvetica, sans-serif; font-size:14px; letter-spacing:.02em; background:transparent url('../images/arrows/arrow-gray.gif')/*tpa=http://www.mutualofomaha.com/images/arrows/arrow-gray.gif*/ 0 4px no-repeat; border:0px dashed #333; }

#extras #main_feed { width:375px; border:1px dashed #333; }
#extras #main_feed p { padding-bottom:.4em; }
#extras #main_feed ul { }
#extras #main_feed li a { padding-bottom:3px; }
#extras #main_feed li p { padding:0 15px 10px 0; line-height:16px; }
#extras #main_feed table td { padding:5px 3px 3px 8px; }
#extras #main_feed p a { font-size:13px; color:#2A5E90; border:none; }
#extras #main_feed p a:hover { text-decoration:underline; }

/* Extras tabs */
#homepage #extras #xxx { float:left; width:657px; height:183px; margin:0 0 4px 0; padding:2px 3px 4px 0; background:transparent url('../images/layout/box-extras-right.png')/*tpa=http://www.mutualofomaha.com/images/layout/box-extras-right.png*/ top left no-repeat; }
#homepage #extras #xxx #xxx-tab-content { float:left; overflow:hidden; width:385px; padding:10px 15px 0 15px; line-height:18px; background:none; }
#homepage #extras #xxx #xxx-tab-content p { padding-bottom:3px; }
#homepage #extras #xxx #xxx-tab-content table {  }
#homepage #extras #xxx #xxx-tab-content td { padding:6px; }
#homepage #extras #xxx #xxx-tab-content .more { font-size:12px; }

	#xxx-tab-content form { margin-top:10px; line-height:16px; }
	#xxx-tab-content form tr.tall { height:50px; }
	#xxx-tab-content form tr.short { height:20px; }
	#xxx-tab-content .date { font-size:12px; }
	#xxx-tab-content ul { }
	#xxx-tab-content li { margin:0; padding-left:11px; background:transparent url('../images/arrows/arrow-gray.gif')/*tpa=http://www.mutualofomaha.com/images/arrows/arrow-gray.gif*/ 0 5px no-repeat; border:0px dashed #333; }
	#xxx-tab-content li { padding-bottom:10px; }
	#xxx-tab-content form li { padding-bottom:5px; }
	#xxx-tab-content form .sales-career-zip { float:left; width:57px; padding:5px 4px; margin:2px 0 0 0; font-size:13px; color:#777; background-color:#FFF; border-top:2px solid #dddddd; border-bottom:2px solid #dddddd; border-left:2px solid #dddddd; border-right:0px solid #dddddd; }
	#xxx-tab-content ul.horiz { margin:5px 0 8px 0; }
	#xxx-tab-content ul.horiz li { display:inline; padding:1px 6px 1px 14px; background:transparent url('../images/layout/thin-arrow-bullets.gif')/*tpa=http://www.mutualofomaha.com/images/layout/thin-arrow-bullets.gif*/ no-repeat; }
	#xxx-tab-content #news_feed ul { height:149px; }
	
		#xxx-tab-content ul.two-col { float:left; width:170px; height:149px; padding-left:10px; border-right:1px solid #E7E7E7; }
		#xxx-tab-content ul.two-col.last { border:none; }
		#xxx-tab-content ul.two-col li { padding-left:17px; padding-bottom:5px; margin:0; font-size:14px; line-height:18px; background:transparent url('../images/layout/thin-arrow-bullets.gif')/*tpa=http://www.mutualofomaha.com/images/layout/thin-arrow-bullets.gif*/ no-repeat; }
		#xxx-tab-content ul.two-col li.header { padding-left:0; font-size:16px; color:#054F8C; background:none; }
	
#xxx ul.ui-tabs { float:left; width:242px; margin:0; padding:0; background:none; }
#xxx div.content-copy ul.ui-tabs { margin:0; padding:0; background:transparent url('../images/layout/page-title-bg.gif')/*tpa=http://www.mutualofomaha.com/images/layout/page-title-bg.gif*/ bottom left repeat-x; }
#xxx ul.ui-tabs li { background:none; padding:0; line-height:normal; }
#xxx ul.ui-tabs li a { cursor:pointer; display:block; width:223px; height:32px; padding:13px 0 0 18px; overflow:hidden; font-size:18px; color:#676767; background:transparent url("../images/layout/tabs-xxx-disabled.png")/*tpa=http://www.mutualofomaha.com/images/layout/tabs-xxx-disabled.png*/ top left no-repeat; border-left:1px solid #dadada; border-bottom:1px solid #dadada; }
#xxx ul.ui-tabs li a:hover { color:#444; text-decoration:none; }
#xxx ul.ui-tabs li.top a { background-position:0 0; }
#xxx ul.ui-tabs li.top a:hover { background-position:0 -137px; }
#xxx ul.ui-tabs li.mid a { background-position:0 -46px; }
#xxx ul.ui-tabs li.mid a:hover { background-position:0 -183px; }
#xxx ul.ui-tabs li.btm a { background-position:0 -92px; border-bottom:none; }
#xxx ul.ui-tabs li.btm a:hover { background-position:0 -229px; }
#xxx ul.ui-tabs li.ui-tabs-selected { cursor:default; color:#01213e; background:none; }
#xxx ul.ui-tabs li.ui-tabs-selected a { color:#2A5E90; background:none; border-left:1px solid #FFF; }
#xxx ul.ui-tabs li.ui-tabs-selected a, ul.ui-tabs li.ui-state-disabled a, ul.ui-tabs li.ui-state-processing a { cursor:default; }
#xxx ul.ui-tabs li a, #content .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } 
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
#xxx .ui-tabs-panel { background:none; }
#xxx .ui-tabs-hide { display:none !important; }

.dropup,
.dropdown {
  position: relative;
}

.dropup,
.dropdown ul {
  position: relative;
}

.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

.caret {
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

#login ul.dropdown-menu {
  position: absolute;
  top: 30px;
  left: 11px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 270px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

#login .dropdown-menu li {
	margin: 0;
	padding: 0;
	background: none;
}

.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

#login .dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
#login .dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999999;
}

.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open {
  *z-index: 1000;
}

.open > .dropdown-menu {
  display: block;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
     -moz-border-radius: 0 6px 6px 6px;
          border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
     -moz-border-radius: 5px 5px 5px 0;
          border-radius: 5px 5px 5px 0;
}

.dropdown-submenu > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: transparent;
  border-left-color: #cccccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
     -moz-border-radius: 6px 0 6px 6px;
          border-radius: 6px 0 6px 6px;
}

.dropdown .dropdown-menu .nav-header {
  padding-right: 20px;
  padding-left: 20px;
}