@charset "UTF-8";

/*/////
ie6.css
Mutual of Omaha Insurance Company
Corporate Site - mutualofomaha.com
/////*/

/* PNG Filter for IE6: { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="filename.png", sizingMethod="image"); } */
/* Header/Utilities /Search */
#search #search-btn { background:url("../images/buttons/btn-search.gif")/*tpa=http://www.mutualofomaha.com/images/buttons/btn-search.gif*/ top left no-repeat; }
#search a { background:url("../images/buttons/btn-search.gif")/*tpa=http://www.mutualofomaha.com/images/buttons/btn-search.gif*/ top left no-repeat; }
#utilities .links li a { background:transparent url('../images/layout/bullets-box.gif')/*tpa=http://www.mutualofomaha.com/images/layout/bullets-box.gif*/ no-repeat; }
		#find-bg { margin-top:0; background:transparent url('../images/layout/find-bg.gif')/*tpa=http://www.mutualofomaha.com/images/layout/find-bg.gif*/ no-repeat; }


/* Title/Banner Bar */
#title-bar { background:url("../images/layout/titlebar-shade-gradient.gif")/*tpa=http://www.mutualofomaha.com/images/layout/titlebar-shade-gradient.gif*/ top left repeat-x; }
#homepage #banner { margin:0; padding:0; background:#093157 url("../images/layout/titlebar-shade-gradient.gif")/*tpa=http://www.mutualofomaha.com/images/layout/titlebar-shade-gradient.gif*/ top left repeat-x; }
#homepage #login { position:relative; top:13px; left:13px; margin:0; background:transparent url('../images/layout/box-login-home.gif')/*tpa=http://www.mutualofomaha.com/images/layout/box-login-home.gif*/ no-repeat; }
#homepage #login form #sign-in { background:#FFF url('../images/buttons/btn-sign-in.gif')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-sign-in.gif*/ no-repeat; }
#homepage #register { line-height:16px; }
#homepage #login-assist { padding:3px 20px 3px 20px; }
#homepage #login-assist a { line-height:14px; }
#homepage #subaction { padding:0 20px; }
#homepage #ad-carousel { float:right; }
#product-index #banner { margin-top:0; }
#title-bar div.utilities li.account a { background:transparent url("../images/icons/lock-white.gif")/*tpa=http://www.mutualofomaha.com/images/icons/lock-white.gif*/ top left no-repeat; }

/* Homepage Index */
#homepage #content { margin-bottom:10px; }
#homepage #content .main .ad-row { background:transparent url('../images/layout/box-ad-row-home.gif')/*tpa=http://www.mutualofomaha.com/images/layout/box-ad-row-home.gif*/ top left no-repeat; }
#homepage #content .main .ad-row li a.ad-1 { background:transparent url('../images/thumbs/thumb-compass-1.gif')/*tpa=http://www.mutualofomaha.com/images/thumbs/thumb-compass-1.gif*/ 66px 8px no-repeat; }
#homepage #content .main .ad-row li a.ad-2 { background:transparent url('../images/thumbs/thumb-grocery-sack-1.gif')/*tpa=http://www.mutualofomaha.com/images/thumbs/thumb-grocery-sack-1.gif*/ 42px 9px no-repeat; }
#homepage #content .main .ad-row li a.ad-3 { background:transparent url('../images/thumbs/thumb-aha-vote-1.gif')/*tpa=http://www.mutualofomaha.com/images/thumbs/thumb-aha-vote-1.gif*/ 31px 24px no-repeat; }
/* #homepage #content .main .ad-row li a.ad-3 { background:transparent url('/images/thumbs/thumb-aha-airstream-1.gif') 42px 15px no-repeat; } */
#homepage #extras #quick-links { background:transparent url('../images/layout/box-extras-left.gif')/*tpa=http://www.mutualofomaha.com/images/layout/box-extras-left.gif*/ top left no-repeat; }
#homepage #extras #xxx { background:transparent url('../images/layout/box-extras-right.gif')/*tpa=http://www.mutualofomaha.com/images/layout/box-extras-right.gif*/ top left no-repeat; }
#xxx ul.ui-tabs li a { background:transparent url("../images/layout/tabs-xxx-disabled.gif")/*tpa=http://www.mutualofomaha.com/images/layout/tabs-xxx-disabled.gif*/ top left no-repeat; }

/* Homepage Accordion */
#homepage #content .sidebar-home .accordion li .buyonline ul li.last-child { height:34px; }
#homepage #content .sidebar-home .accordion li .tab-content p { padding:5px 20px 5px 14px; font-size:14px; line-height:19px }

/* Product Index */
#product-index #get-started .body { background:transparent url('../images/sidebar/submenu-item-top-shadow.gif')/*tpa=http://www.mutualofomaha.com/images/sidebar/submenu-item-top-shadow.gif*/ top left repeat-x; }
#product-index #get-started .toll-free span { font-size:16px; }
#product-index #content .main .columns .quote  { background:#fff url('../images/layout/box-200x160.gif')/*tpa=http://www.mutualofomaha.com/images/layout/box-200x160.gif*/ top right no-repeat; }

/* Landing Index */
#landing #banner { width:980px; height:330px; position:relative; background:#093157; background-image:none; overflow:hidden; }
#landing .banner-ad .shadow { position:absolute; width:660px; height:60px; padding:0; margin:0; background:none; }
#landing .banner-action-box { width:280px; height:292px; margin:13px; padding:14px 6px 0 8px; float:left; background:transparent url('../images/layout/landing/banner-box-action.gif')/*tpa=http://www.mutualofomaha.com/images/layout/landing/banner-box-action.gif*/ no-repeat; border:0px dashed #333; }

/* Presentation */
#content .main .content-copy #presentation { background:transparent url('../images/layout/presentation/presentation-top-bg.gif')/*tpa=http://www.mutualofomaha.com/images/layout/presentation/presentation-top-bg.gif*/ top left no-repeat; }
#content .main .content-copy #presentation #presentation-wrapper { background:transparent url('../images/layout/presentation/presentation-mid-bg.gif')/*tpa=http://www.mutualofomaha.com/images/layout/presentation/presentation-mid-bg.gif*/ top left repeat-y; }
#content .main .content-copy #presentation ul.ui-tabs-nav li.top a { background:transparent url('../images/layout/presentation/presentation-nav-top.gif')/*tpa=http://www.mutualofomaha.com/images/layout/presentation/presentation-nav-top.gif*/ top left no-repeat; }
#content .main .content-copy #presentation #presentation-content a.toggle-link { background:transparent url('../images/layout/presentation/show-hide.gif')/*tpa=http://www.mutualofomaha.com/images/layout/presentation/show-hide.gif*/ 98% 0 no-repeat; }
	
/* Sidebar */
#content .sidebar a.ad .action.btn .label { display:block; background:url('../images/buttons/bg-btn.png')/*tpa=http://www.mutualofomaha.com/images/buttons/bg-btn.png*/ 0 0 repeat-x; }
#content .sidebar a.ad:hover .action.btn .label { background:url('../images/buttons/bg-btn-hover.png')/*tpa=http://www.mutualofomaha.com/images/buttons/bg-btn-hover.png*/ 0 0 repeat-x; }
#content .sidebar a.ad .action.btn.photo .label { border-color:#fff; }
#content .sidebar a.ad .action.btn img { display:none; }

/* Content Util bar */
#content .utilities #print_util { background:transparent url('../images/layout/site-utils.gif')/*tpa=http://www.mutualofomaha.com/images/layout/site-utils.gif*/ 0 0 no-repeat; }
#content .utilities #email_util { background:transparent url('../images/layout/site-utils.gif')/*tpa=http://www.mutualofomaha.com/images/layout/site-utils.gif*/ 0 -30px no-repeat; }
#content .utilities #share_util { background:transparent url('../images/layout/site-utils.gif')/*tpa=http://www.mutualofomaha.com/images/layout/site-utils.gif*/ 0 -60px no-repeat; }
.email-util-model h4 { height:35px; padding:19px 0 0 73px; background:transparent url('../images/layout/email-util-top-bg.gif')/*tpa=http://www.mutualofomaha.com/images/layout/email-util-top-bg.gif*/ no-repeat; }
.email-util-model h4 em { padding:7px 14px 8px 25px; background:transparent url('../images/layout/site-utils.gif')/*tpa=http://www.mutualofomaha.com/images/layout/site-utils.gif*/ 0 -30px no-repeat; }
.email-util-model h5 { background:transparent url('../images/layout/email-util-btm-bg.gif')/*tpa=http://www.mutualofomaha.com/images/layout/email-util-btm-bg.gif*/ no-repeat; }
#emailFriend { background:transparent url('../images/layout/email-util-mid-bg.gif')/*tpa=http://www.mutualofomaha.com/images/layout/email-util-mid-bg.gif*/ repeat-y; }
.share-util-model h4 { height:35px; padding:19px 0 0 58px; background:transparent url('../images/layout/share-util-top-bg.gif')/*tpa=http://www.mutualofomaha.com/images/layout/share-util-top-bg.gif*/ no-repeat; }
.share-util-model h4 em { background:transparent url('../images/layout/site-utils.gif')/*tpa=http://www.mutualofomaha.com/images/layout/site-utils.gif*/ 0 -60px no-repeat; }
.share-util-model h5 { background:transparent url('../images/layout/share-util-btm-bg.gif')/*tpa=http://www.mutualofomaha.com/images/layout/share-util-btm-bg.gif*/ no-repeat; }
.share-util-model .mid { background:transparent url('../images/layout/share-util-mid-bg.gif')/*tpa=http://www.mutualofomaha.com/images/layout/share-util-mid-bg.gif*/ repeat-y; }

/* Subnav */
#content .subnav div.subnav-bg { background:transparent url('../images/layout/subnav-bg.gif')/*tpa=http://www.mutualofomaha.com/images/layout/subnav-bg.gif*/ top right repeat-y; }
#content .subnav ul li a { padding:8px 15px 0 10px; }
#content .subnav ul li ul { padding:6px 0; }
#content .subnav ul li ul li { margin:0; padding:0; font-size:13px; line-height:14px; }
#content .subnav ul li ul li a { margin:0; padding:0 0 0 10px; line-height:14px; }
#content .subnav ul li ul li ul { padding:3px 0 5px 0; }
#content .subnav ul li ul li ul li { line-height:13px; }
#content .subnav ul li ul li ul a { padding:2px 0 0 10px; line-height:13px; }
#content div.subnav-end { background:url('../images/layout/subnav-bg-btm.gif')/*tpa=http://www.mutualofomaha.com/images/layout/subnav-bg-btm.gif*/ no-repeat; }

.sitemap_arrow { position:absolute; margin:48px 0 0 125px; z-index:20; }


/* Buttons */
input.calculate { width:104px; background-image:url('../images/buttons/btn-calculate.gif')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-calculate.gif*/; }
input.view-plans-and-rates { width:178px; background-image:url('../images/buttons/btn-view-plans-and-rates.gif')/*tpa=http://www.mutualofomaha.com/images/buttons/btn-view-plans-and-rates.gif*/; margin-right:30px; }