/*///// Navigation /////*/
#nav { height:50px; margin-top:15px; background:transparent url("../images/layout/nav/nav-bg.jpg")/*tpa=http://www.mutualofomaha.com/images/layout/nav/nav-bg.jpg*/ top left no-repeat; background-position:0px -150px; }
/*
#navigation { padding:0 10px; clear:both; }
#navigation h1, #navigation h2 { float:left; overflow:hidden; width:401px; height:42px; background-position:0px -126px; }
#navigation h1 span, #navigation h2 span, #navigation ul li a span { display:none; }
*/
#nav ul {  }
#nav ul li { display:block; float:left; }
#nav ul li a { height:0; padding-top:50px; float:left; overflow:hidden; border:none; background:transparent url("../images/layout/nav/nav-bg.jpg")/*tpa=http://www.mutualofomaha.com/images/layout/nav/nav-bg.jpg*/ 0 0 no-repeat; }
#nav ul li#nav_home a { width:61px; }
#nav ul li#nav_home a:hover { background-position:0 -50px; }
#nav ul li#nav_home a:active { background-position:0 -100px; }
#nav ul li#nav_home.on a { background-position:0 -100px; }
#nav ul li#nav_products a { width:113px; background-position:-61px 0; }
#nav ul li#nav_products a:hover { background-position:-61px -50px; }
#nav ul li#nav_products a:active { background-position:-61px -100px; }
#nav ul li#nav_products.on a { background-position:-61px -100px; }
#nav ul li#nav_learn a { width:152px; background-position:-174px 0; }
#nav ul li#nav_learn a:hover { background-position:-174px -50px; }
#nav ul li#nav_learn a:active { background-position:-174px -100px; }
#nav ul li#nav_learn.on a { background-position:-174px -100px; }
#nav ul li#nav_service a { width:167px; background-position:-326px 0; }
#nav ul li#nav_service a:hover { background-position:-326px -50px; }
#nav ul li#nav_service a:active { background-position:-326px -100px; }
#nav ul li#nav_service.on a { background-position:-326px -100px; }
#nav ul li#nav_about a { width:117px; background-position:-493px 0; }
#nav ul li#nav_about a:hover { background-position:-493px -50px; }
#nav ul li#nav_about a:active { background-position:-493px -100px; }
#nav ul li#nav_about.on a { background-position:-493px -100px; }
#nav ul li.on a { cursor:default }
#nav ul li.on a.selected { cursor:pointer; }


#nav ul li#nav_account { float:right; padding:0 14px 0 0; }
#nav ul li#nav_account a { display:block; height:30px; padding:20px 0 0 19px; font-size:12px; color:#FFF; background:transparent url("../images/icons/lock-white.png")/*tpa=http://www.mutualofomaha.com/images/icons/lock-white.png*/ 0 18px no-repeat; border:none; }
#nav ul li#nav_account a:hover { text-decoration:underline; }

/*///// Navigation /////*/
#nav-html {
    background: transparent url("../images/nav-bg.jpg")/*tpa=http://www.mutualofomaha.com/images/nav-bg.jpg*/ top left no-repeat;
    width: 980px;
    height: 50px;
    margin: 15px auto 0;
    clear: both;
    overflow: hidden;
}

#nav-html > ul {
    background: transparent;
    width: 980px;
    margin: 1px auto 0;
}

#nav-html > ul li {
    display:block;
    float:left;
}

#nav-html > ul li.last {
    height: 49px;
    border-left: 1px solid #1c609F;
}

#nav-html > ul li a {
    padding: 0 1.5em;
    line-height: 49px;
    display: block;
    border-bottom: 0px solid #02213e;
    border-left: 1px solid #1c609F;
    border-right: 1px solid #17467b;
    /*background: #1E5690;*/

    /** text */
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 #0a376e;
}

#nav-html > ul #nav_home a {
    background: transparent url('../agent_division_web/resources/images/icons/home.png')/*tpa=http://www.mutualofomaha.com/agent_division_web/resources/images/icons/home.png*/ center center no-repeat;
    width: 20px;
    height: 49px;
    padding: 0 1.5em;
    border-radius: 8px 0px 0px 0px;
    -moz-border-radius: 8px 0px 0px 0px;
    -webkit-border-radius: 8px 0px 0px 0px;
}

#nav-html > ul li a span {
    display: none;
}

#nav-html > ul li:hover {
    background: #1c609F;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,0.1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0.1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0.1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0.1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0.1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1affffff',GradientType=0 ); /* IE6-9 */
}

#nav-html > ul li a:hover {
    text-decoration: none;
    border-bottom: 0px solid #02213e;
}

#nav-html > ul li.selected a {
    background-color: #02213e !important;
    border-left: 1px solid #02213e;
    border-bottom: 1px solid #02213e;
}

#nav-html > ul #nav_account {
    float:right;
    padding:0 14px 0 0;
    border: none;
}

#nav-html > ul #nav_account a {
    display:block;
    height:30px;
    padding:2px 0 0 19px;
    font-size:12px;
    color:#FFF;
    background:transparent url("../images/icons/lock-white.png")/*tpa=http://www.mutualofomaha.com/images/icons/lock-white.png*/ 0 18px no-repeat;
    border:none;
}

#nav-html > ul #nav_account a:hover {
    text-decoration: underline;
}

#nav-html > ul #nav_account {
    background: none;
}

/*#nav { height:50px; margin-top:15px; background:transparent url("/images/layout/nav/nav-bg.jpg") top left no-repeat; background-position:0px -150px; }
#nav ul li { display:block; float:left; }
#nav ul li a { height:0; padding-top:50px; float:left; overflow:hidden; border:none; background:transparent url("/images/layout/nav/nav-bg.jpg") 0 0 no-repeat; }
#nav_home a { width:61px; }
#nav_home a:hover { background-position:0 -50px; }
#nav_home a:active { background-position:0 -100px; }
#nav_home.on a { background-position:0 -100px; }
#nav_products a { width:113px; background-position:-61px 0; }
#nav_products a:hover { background-position:-61px -50px; }
#nav_products a:active { background-position:-61px -100px; }
#nav_products.on a { background-position:-61px -100px; }
#nav_learn a { width:152px; background-position:-174px 0; }
#nav_learn a:hover { background-position:-174px -50px; }
#nav_learn a:active { background-position:-174px -100px; }
#nav_learn.on a { background-position:-174px -100px; }
#nav_service a { width:167px; background-position:-326px 0; }
#nav_service a:hover { background-position:-326px -50px; }
#nav_service a:active { background-position:-326px -100px; }
#nav_service.on a { background-position:-326px -100px; }
#nav_about a { width:117px; background-position:-493px 0; }
#nav_about a:hover { background-position:-493px -50px; }
#nav_about a:active { background-position:-493px -100px; }
#nav_about.on a { background-position:-493px -100px; }*/
#nav-html ul li.on a { cursor:default }
#nav-html ul li.on a.selected { cursor:pointer; }

/*#nav_account { float:right; padding:0 14px 0 0; }
#nav_account a { display:block; height:30px; padding:20px 0 0 19px; font-size:12px; color:#FFF; background:transparent url("/images/icons/lock-white.png") 0 18px no-repeat; border:none; }
#nav_account a:hover { text-decoration:underline; }*/