.nav-utility{margin-right:-7px;}
.nav-utility li,.content-tools li{display:inline;}
#Masthead .search{width:231px;margin-bottom:20px;}
.search-tools .search{width:130px;}
.search-tools .search input{width:79px;}
.productGroup>div>a{margin-top:-4px;}
.productGroup .productSetLink,.productGroup.open input{display:inline;}
.product-set .btn-clear{top:6px;}