#vdo .submit a span{display:block;}

/* DNA1712536 ddcdrewc */
#sonicautomotive2_contest label {margin:7px 0px;}

/* ddcdannyd DNA2419095 */
#region0 .proximity .search form label.regionField{left:177px;}
#region0 .proximity .search form h4 {left:360px;}
#region0 .proximity .search form label.rangeField{left:460px;}
#region0 .proximity .search form label.postalCodeField{left:680px;}

/* DNA2786067 ddcdrewc */
.results .description span {white-space:normal;}
.vig3 .u2 {width:43%;float:right;}
.vig3 .last .contactInfo {margin-left:30px;margin-top:7px;}
.vig3 .last .contactInfo h3 {display:none;}
.vig3 .last .contactInfo #tel {display:none;}

/* DNA3022621 ddccbrosky */
#region0 .group1 .unit.u2 #locationList thead th:last-child,
#region0 .group1 .unit.u2 #locationList tbody td:last-child {display: none;}

/* DNA3569186 ddcryanp */
#header .taglinev8 {display:none;}

/* ddcbthyng */
#overview .price dt, #overview .price dd {font-size: 185%; line-height: 1.3;}

/* DNA3817137 ddcdrewc */
.fg01 #region1 .group2a .first {width:550px;}
.fg01 #region1 .group2a .last {height:auto;width:370px;}

/* DNA3920817 ddcrandyh */
.widget.proximity option[value="MI"] { display: none; }

