body {
	min-width: 100%
}
.wrapper {
	max-width: 940px;
	margin: 0 auto;
	width: 100%
}
.hdr-wrapper {
	max-width: 970px;
	width: 100%;
	margin: 0 auto
}
.code-rul-rgt {
	width: 77%;
	float: right
}
.code-rul-lft {
	width: 23%;
	float: left
}
.margin-none {
	margin: 0
}
.mob-our-apprch ul li.teaser-item+.teaser-item {
	margin-left: 0
}
.teaser-item:nth-child(3), .teaser-item:nth-child(4), .teaser-item:nth-child(5), .teaser-item:nth-child(6) {
	margin-top: 1em
}
.fin-ser-spect.consol-links {
	list-style-type: none
}
.widget-cont ul li .realstateimg-in-threimg {
	height: 9.51em;
	padding: 4.33333% 16.6667% 0 4.33333%;
	width: 79%;
	position: relative;
	float: left
}
.widget-cont ul li .realstateimg-in-threimg p.small {
	bottom: .3em;
	font-size: 1.21em;
	line-height: 1.1em;
	width: 76.9394%
}
.mob-our-apprch .teaser-block .teaser-item:nth-child(2), .mob-our-apprch .teaser-block .teaser-item:nth-child(4), .mob-our-apprch .teaser-block .teaser-item:nth-child(6) {
	margin-left: 2em
}
.banner-img4, .banner-img11, .banner-img10, .banner-img9, .banner-img12, .banner-img7 {
	background-size: cover;
	height: auto;
	padding-top: 2.31%
}
.hm-ban-more.hm-ban-more-4, .hm-ban-more.hm-ban-more-7, .hm-ban-more.hm-ban-more-9, .hm-ban-more.hm-ban-more-10, .hm-ban-more.hm-ban-more-11, .hm-ban-more.hm-ban-more-12 {
	left: 14.8%;
	position: absolute
}
.hm-ban-more.hm-ban-more-4 {
	top: 44%;
	color: #fff;
	left: 14.8%;
	position: absolute
}
.hm-ban-more.hm-ban-more-9 {
	top: 60%
}
.hm-ban-more.hm-ban-more-7 {
	top: 75%
}
.fcolor-1 {
	color: #000
}
.fcolor-2 {
	color: #fff
}
.font-1 {
	font-family: ProximaNova-Regular;
	font-size: 2.3em;
	word-spacing: 5px;
	line-height: 116%
}
.font-2 {
	font-family: ProximaNova-Regular;
	font-size: 1.55em;
	margin-top: 6px
}
.font-3 {
	font-family: ProximaNova-Regular;
	font-size: 1.1em;
	margin-top: 10px;
	line-height: 115%
}
.wfont-1 {
	width: 55%
}
.wfont-2 {
	width: 40%
}
.wfont-3 {
	width: 36%
}
.wfont-4 {
	width: 30%
}
.nw-res .span11.wd {
	width: 56.25%
}
.nw-res .span5.wd {
	width: 43.75%
}
.cog-hdr.fix {
	position: fixed;
	top: 0;
	width: 100%;
	background: #FFF;
	z-index: 100
}
#slidediv-srch.fix {
	position: fixed;
	top: 44px
}
#slidediv-mm.fix {
	position: fixed;
	top: 44px
}
.crm-rwd-chipcont {
	padding: 2px 27px 22px
}
span.crm-rwd-head {
	font-weight: bold
}
.teaser-item.mob-bpm-link {
	float: left;
	clear: both
}
.teaser-copy.ci {
	margin-bottom: 1.5em
}
.inv-tools-lft.wid-maxfast {
	width: 58em
}
.overview-para.font53.color4.paralife-fnt {
	font-size: 18px
}
.overview-lft.overview-lft-cont.lifecont-maxwid {
	width: auto
}
.inv-tools-lft.overpar-maxwid {
	width: auto
}
.vet-sec {
	float: left;
	background-color: #333;
	width: 100%;
	font-family: ProximaNova-Bold;
	margin-bottom: 24px
}
.al-div {
	margin: auto;
	text-align: left;
	padding-left: 0
}
.pr-bg {
	background-color: #fcefe5;
	width: 100%
}
.hm-ban-txt {
	position: absolute;
	top: 11%;
	left: 14.9%;
	display: none
}
.font-1 {
	font-family: ProximaNova-Regular;
	font-size: 2.3em;
	word-spacing: 1px;
	line-height: 104%;
	text-transform: uppercase
}
.font-3 {
	font-family: ProximaNova-Regular;
	font-size: 1.1em;
	margin-top: 1.1em;
	line-height: 140%
}
.busnsbnnr-firstprh {
	width: 80%
}
.block.copy-content.ev.fow-cr.cw h2, .block.copy-content.ev.fow-cr.cw h3 {
	color: #fff;
	font-size: 16pt;
	font-family: ProximaNova-Bold;
	text-transform: uppercase
}
div.messages-warning, div.warning {
	background: url("../../dotcom-images/icon-warning.png")/*tpa=http://www.cognizant.com/dotcom-images/icon-warning.png*/ no-repeat scroll 7px 10px #ffefd8;
	border: 1px solid #f6b861
}
div.ec-messages {
	color: #4a4a4a;
	font-family: Arial, sans-serif;
	font-size: .9em;
	line-height: 1em;
	margin-bottom: 15px;
	margin-left: 206px;
	margin-top: 3px;
	min-height: 1em;
	padding: 1em 1em 1em 3em;
	position: relative;
	width: 67%
}
div.messages-warning a.dismiss-messages {
	background: url("../../dotcom-images/close-warning.png")/*tpa=http://www.cognizant.com/dotcom-images/close-warning.png*/ no-repeat scroll 0 0 #f6b861
}
div.messages a, div.messages-warning a {
	text-decoration: underline
}
a.dismiss-messages {
	float: right;
	height: 13px;
	position: absolute;
	right: 0;
	top: 0;
	width: 12px
}
.msgIfrmWapper {
	height: 6.99em;
	left: 500px;
	position: fixed;
	top: 277.5px;
	width: 34.5%;
	display: none;
	overflow: hidden;
	z-index: 10
}
.widget-cont .indushgt li {
	margin: .2em 0 0
}
.msg-info textarea {
	padding: .5em .2em .5em .3em
}
.selectboxcustom span {
	line-height: 2.8em
}
div.na-note {
	display: block;
	font-family: ProximaNova-light;
	font-size: .9em;
	margin-top: 1em;
	width: 100%
}
.blue-bulets li {
	margin: 0 0 .3em
}
.business-cloud-img {
	margin-top: -1px
}
.loct-addrs h4 {
	font-family: proximanova-regular;
	line-height: 33px;
	margin: 0;
	padding: 0;
}

/*.headsection.fix {
	height: auto
}*/
.kc-hide-rwd, .abt-cog-rwd .relatesolt-cont .row-fluid ul.dsk {
	display: block
}
.disp-dsk {
	display: block !important;
}
.mega-menu-icon, .search-rwd, .search-mob, .mob-header, .bubble-cont, .on-mob, #download-app-mob, #playImgdiv_cRule-mob, div#fow-vid-cr-mob, #tabnav-mob, .news-rwd, .compover-rwd-invrel-h2, .compover-rwd-invp, .cur-pers-bg .onipad, .approuch-ac-vid-mob, .contact-us-rwd .mob-con-loc, .hmban, .contact-wdgt, .rwd-home-news, .kc-show-rwd, .concact-us-icon, .lat-think-bantxtw, div.avail-app-str.marg-appimg, .ldrs-desig, .events-mob, .ww-faq-rwd, .country-select .fj-rwd, div.cur-persp.p-nc-a .pers-ipad, .lat-think-rwd .cur-pers .cog-rwd-latest, .our-culture, .fj-list-rwd, div.block.copy-content.ev.fow-cr.cw p a.cod-rul-lrnmre, #playImgdiv_mob.business-cloud-img, .abt-cog-rwd .relatesolt-cont .row-fluid ul.mbl {
	display: none
}
.disp-mob {
	display: none !important;
}

@media screen and (min-width:1024px) {
.contact-us-rwd .msgIfrmWapper {
	left: 37%
}
}
@media(max-width:1024px) {
body {
	min-width: 1003px
}
.megamenu-videowrp {
	width: 970px
}
.meganav-wrapper {
	width: 970px
}
.linkedinbar .hdr-wrapper {
	width: 970px
}
.linkedinbar .row-fluid .login-wrap {
	width: 25.9%
}
.linkedinbar .row-fluid .conectnwrap {
	width: 19.49773345421578%
}
.linkedinbar .row-fluid .convrsewrap {
	width: 43.80054397098821%
}
.linkedinbar .logout-wrap {
	width: 10.79229374433364%
}
.linkedinbar .dimension {
	padding: .625em .938em
}
.linkedinbar .logout-wrap .dimension {
	float: right;
	padding: .625em 0
}
.linkedinbar .row-fluid .logout-wrap .icnwrp {
	width: 30.523809523809524%;
	margin-left: 0
}
.linkedinbar .row-fluid .logout-wrap .cont-dmnsn {
	width: 55.04761904761905%
}
.wrapper-100 {
	max-width: 1000px;
	width: 100%
}
#offering .carslwrp {
	width: 1000px
}
.latest-thinkwrp .carslwrp {
	max-width: 1000px;
	width: 100%
}
.linkedIn-wrp .carslwrp {
	width: 1000px
}
.key-service {
	width: 1000px
}
.appeal {
	width: 1000px
}
.our-appro {
	width: 1000px
}
.approach .slide-container {
	margin: 0 0 0 2em;
	width: auto
}
.newsevnts-carslwrp {
	width: 1003px
}
.newsevnts-carslwrp .prev-linkednews {
	width: 2em
}
.newsevnts-carslwrp .next-linkednews {
	width: 2em
}
.bx-wrapper .bx-prev {
	left: -30px
}
.carsl-pager-wrp .bx-wrapper .bx-next {
	right: -30px
}
.block-style-2 .next-button {
	right: -25px
}
.block-style-2 .prev-button {
	left: -25px
}
.who-we-r .appeal-cont {
	margin-left: 4em
}
#hm-ban .bx-wrapper {
	width: 1007px;
	margin: 0 auto
}
#products .linkwrp .submenuhead .second {
	margin-left: 2%
}
.megamenu-subnav .linkwrp ul.second.prod {
	margin-left: 4%
}
.widget-cont {
	margin: 3.25em 0 4.063em
}
.widget-cont .banner-manufactr ul.meetus li {
	float: left;
	margin-right: 2.6%;
	text-align: center;
	width: 31.52%
}
.hme-thumb-img {
	background-repeat: no-repeat;
	display: block;
	height: 10.3125em;
	position: relative;
	width: 100%
}
.bx-wrapper .bx-next {
	right: -4px
}
.all-slider {
	margin-left: 0
}
.bx-wrapper .hm-fol-us .bx-prev {
	left: -79px
}
.bx-wrapper .bx-controls-direction a {
	right: -30px
}
.widget-cont .banner-manufactr ul.meetus li.third {
	margin-right: 0
}
.banner-img4 {
	width: 1006px
}
.shift-lft {
	padding-left: 1em
}
.shift-rtf {
	margin-left: .6em
}
.megamenu-subnav #products .linkwrp ul.first, .megamenu-subnav #products .linkwrp .submenuhead .first {
	width: 29%
}
.hm-keep-chal {
	height: 0;
	background-size: cover;
	padding-top: 35%;
	position: relative
}
.hm-keep-chal .globl-wrkspce {
	position: absolute;
	top: 0
}
.hm-keep-chal .wrkplce-head {
	font-size: 1.8em
}
.font-1 {
	font-size: 1.75em
}
.font-2 {
	font-size: 1.2em
}
.font-3 {
	font-size: 1em
}
.hm-ban-more.hm-ban-more-11 {
	top: 60%
}
.hm-ban-more.hm-ban-more-10 {
	top: 62%
}
.hm-ban-more.hm-ban-more-9 {
	top: 70%
}
.hm-ban-more.hm-ban-more-12 {
	top: 55%
}
#hm-ban .bx-controls {
	margin: -1em 0 0 1.5em
}
#hm-ban .bx-wrapper .bx-pager {
	bottom: 1.5em
}
.hm-ban-txt, .hm-ban-more.hm-ban-more-4, .hm-ban-more.hm-ban-more-7, .hm-ban-more.hm-ban-more-9, .hm-ban-more.hm-ban-more-10, .hm-ban-more.hm-ban-more-11, .hm-ban-more.hm-ban-more-12 {
	left: 3.6%
}
}
@media screen and (min-width:1024px) and (max-width:1024px) {
.item.banner-img4 {
	width: 1024px
}
}
@media screen and (min-width:1280px) and (max-width:1280px) {
.item.banner-img4 {
	width: 1280px
}
}
@media screen and (min-width:1366px) and (max-width:1366px) {
.item.banner-img4 {
	width: 1366px
}
}
@media screen and (min-width:768px) {
.social-icons.si-cr {
	width: auto
}
.watch-video {
	width: auto
}
.triangle-links-block .triangle-links+.triangle-links {
	padding-left: 45px
}
.contact-us-rwd .msgIfrmWapper {
	left: 34%
}
}
@media screen and (min-width:768px) and (max-width:1024px) {
.nw-res-bg .span11 {
	width: auto
}
#twitter_id .bx-wrapper .bx-viewport {
	margin-left: .3em
}
.appeal-cont.entp-mobility {
	margin: 0;
	padding: 1em 0;
}
.triangle-links-block .triangle-links+.triangle-links.final {
	padding-left: 0;
}
.indus1-placehold.ind-pay-desorp {
	margin: 0 auto;
	max-width: 940px;
	width: 100%;
}
.banner-future-work1 .key-nav {
	width: 75%;
	margin: auto;
}
.banner-future-work1 .key-nav li {
	width: 15em;
}
.smac-bnnr {
	background-size: auto 90%;
}
.banner-bps-lndpage {
	background-position: -5em center;
	background-size: contain;
	min-height: 11em;
}
.cog-pers {
	background-color: #397C2D;
	background-position: -3em center;
	background-size: contain;
	height: 11em;
}
.app-logo {
	top: 8em
}
#download.cog-pers .app-link {
	left: 53%;
	top: 5em;
	width: 15em;
}
}
@media screen and (min-width:768px) and (max-width:768px) {
#hm-ban.hm-ban-ht div.bx-wrapper {
	width: 1024px
}
}
@media screen and (max-width:768px) {
.widget-cont .banner-manufactr ul.meetus li {
	margin-right: 2%;
	width: 32%
}
.watch-video {
	font-family: ProximaNova-Bold;
	font-weight: normal;
	font-size: 1.2em
}
}
@media screen and (min-width:641px) and (max-width:960px) {
.home-carous .bx-wrapper .item p.nws {
	font-size: 1.3em
}
.home-carous .bx-wrapper .item a.rdmr {
	font-size: .85em
}
.vet-img {
	padding-left: 0;
	width: 25%
}
}
@media screen and (min-width:641px) {
#indus-sol .vertical.fin-ser-spect {
	list-style-type: none
}
div.msgIfrmWapper {
	height: 5.5em;
	width: 20em
}
.our-culture {
	display: block
}
.lat-think-bantxt, .mob-seg-serv .wrapper ul li img, .plus-symbol, .cbs-mob-version, .our-culture.car-dtp, .ldr-sph-mob {
	display: none
}
}
@media screen and (max-width:640px) {
body {
	min-width: 100%
}
.cog-hdr .mainnav, .cog-hdr .staticnav, .cog-hdr .staticnav .dsktp-tblet {
	display: none
}
.mega-menu-icon, .search-rwd {
	cursor: pointer;
	float: right;
	display: block
}
.mob-header, .search-mob {
	width: 250px;
	position: absolute;
	z-index: 99;
	right: 0;
	display: none
}
.mob-header {
	background: #00728f
}
.logn-search-mob {
	position: absolute;
	min-height: 40px;
	width: 250px;
	background: #3a3a3a url(../../dotcom-images/search-rwd-bg.png)/*tpa=http://www.cognizant.com/dotcom-images/search-rwd-bg.png*/ repeat-x center top;
	padding-top: .55em
}
.row-fluid .span14 {
	width: 96%;
	height: 1.9em
}
.search-box {
	height: 30px;
	background-color: #fff;
	padding: 0 2% 0 3%;
	width: 91%;
	font-family: ProximaNova-Regular;
	line-height: 2.65em;
	font-size: .85em;
	color: #333;
	font-weight: normal;
	margin-left: 10px
}
.mob-header ul {
	padding: 0;
	width: 100%;
	background: #00728f url(../../dotcom-images/menu-rwd-bg.png)/*tpa=http://www.cognizant.com/dotcom-images/menu-rwd-bg.png*/ repeat-x top center;
	float: left
}
.mob-header ul li {
	float: none;
	border-bottom: 1px solid #fff;
	padding: 7px 0 6px 0;
	cursor: pointer
}
.mob-header ul li a {
	font-family: ProximaNova-Regular;
	font-size: 14px;
	color: #fff;
	padding-left: 10px;
	text-transform: uppercase
}
.mob-header ul li a.down-arrow {
	background: url(../../dotcom-images/left-arr.png)/*tpa=http://www.cognizant.com/dotcom-images/left-arr.png*/ no-repeat right 1px;
	font-family: ProximaNova-Regular;
	padding-right: 15px
}
.mob-header ul li a.up-arrow {
	background: url(../../dotcom-images/dn-arr.png)/*tpa=http://www.cognizant.com/dotcom-images/dn-arr.png*/ no-repeat right 1px;
	font-family: ProximaNova-Regular;
	padding-right: 15px
}
.mob-header ul ul {
	margin: 10px 0;
	display: none;
	background: 0
}
.mob-header ul.mob-main-mn>li li:last-child {
	border-bottom: 2px solid #88bdcb
}
.mob-header ul ul li {
	padding-left: 10px;
	text-align: left
}
.mob-header ul ul ul li:after {
	color: #fff;
	font-family: ProximaNova-Regular
}
.mob-header ul li.rt-arr:after {
	content: '>'
}
.mob-header ul ul ul {
	margin: 8px 0 8px -10px;
	display: none;
	padding-right: 5px
}
.mob-header ul ul ul li {
	width: 96%;
	padding-left: 14px;
	padding-right: 5px
}
.mob-header ul ul ul li a {
	background: 0;
	font-size: .95em;
	padding-right: 5px;
	margin-left: 5px;
	display: table
}
.mob-header ul ul ul li a:hover {
	background: 0
}
.search-btn {
	background: url(../../dotcom-images/search-icon-rwd.png)/*tpa=http://www.cognizant.com/dotcom-images/search-icon-rwd.png*/ no-repeat 10px transparent;
	width: 15px;
	height: 15px;
	border: 0;
	position: absolute;
	top: 8px;
	right: 12px;
	padding: 15px
}
#slidediv-mm {
	display: none;
	text-align: justify;
	box-shadow: -5px 0 20px #6d6d6d
}
#slidediv-srch {
	display: none;
	text-align: justify;
	min-height: 368px
}
.search-res-mob {
	color: #fff;
	width: auto;
	position: relative;
	margin-top: 3em;
	word-spacing: -1px
}
.mob-res {
	border-bottom: 2px solid #fff;
	padding: 10px
}
.mob-res span.head-mob {
	font-family: ProximaNova-Bold;
	font-size: 13px;
	display: table
}
.mob-res span.head-mob a {
	color: #fff
}
.mob-res span.subhead-mob {
	font-family: ProximaNova-Regular;
	font-size: 13px;
	display: table
}
.mob-res span.subhead-mob a {
	color: #fff
}
.mob-res p {
	font-family: ProximaNova-Regular;
	font-size: 10px;
	text-align: left
}
.mob-header ul li.last-link {
	border-bottom: 0
}
.auto-res {
	right: 10px;
	left: auto !important;
	width: 240px !important;
	z-index: 99;
	border: 0
}
.ac_results.auto-res .ac_even, .ac_results.auto-res .ac_odd {
	background: none repeat scroll 0 center #3a3a3a;
	color: #fff;
	padding: 2.5% 3.2% 2.5% 8%;
	font-size: .9em
}
.ac_results.auto-res .ac_even:hover, .ac_results.auto-res .ac_odd:hover {
	background-color: #000;
	cursor: pointer
}
.mob-main-mn li.dummyli {
	display: none
}
.widget-cont .banner-manufactr ul.hm-meet {
	margin-left: 2%;
	width: auto
}
.widget-cont .banner-manufactr ul.meetus li {
	float: none;
	margin-right: 0;
	height: 10.5em;
	width: auto;
	padding-right: 1%
}
.hme-thumb-img.code-rul, .hme-thumb-img.smac, .hme-thumb-img.fut-of-wrk {
	width: 35%;
	background-size: cover;
	height: auto;
	padding-top: 20%;
	float: left;
	margin-right: 2%
}
.widget-cont .banner-manufactr ul.meetus li p {
	width: auto
}
.hm-keep-chal .globl-wrkspce-cont {
	min-height: 5em;
	padding: 1.5em 0
}
.contact-us-rwd .contact-cogn-cont .msg-info {
	background-color: #404040;
	border-radius: 0;
	padding: 1em 1.125em .5em
}
.contact-us-rwd .contact-cogn-cont .contact-submit-btn {
	border: 0;
	background-color: #00728f;
	color: #fff;
	font-size: .8em;
	font-family: ProximaNova-Bold;
	padding: 2% 4%;
	font-weight: normal
}
.contact-us-rwd .contact-cogn-cont .contact-submit {
	text-align: left;
	margin: 3% 0 0
}
.contact-us-rwd .cogni-busi-wrap h2 {
	font-size: 1.2em;
	color: #fff;
	font-family: ProximaNova-Bold;
	margin: 0;
	background-color: #333;
	padding: 3% 5% 3% 2%;
	cursor: pointer
}
.contact-us-rwd .span9 {
	width: 100%
}
.contact-us-rwd .wrapper {
	width: auto !important
}
.bubble-cont {
	display: block
}
section.banner-explore-view.banner-lt, .banner-BFS, .banner-Comm, .banner-manufacture, .banner-edu, .banner-eu, .banner-hlth, .banner-BIS, .banner-insu, .banner-life-science, .banner-manu, .banner-media, .banner-retail, .banner-tech, .banner-transport-logistics, .banner-travel, .banner-meet-cogni, .bnr-anlytcs, .bnnr-applandg, .banner-bps-lndpage, .bnnr-cloudlandg, .banner-business-consulting, .banner-crm-lndpage, .banner-digi-serv, .banner-digital-security-privacy, .banner-ems-lndpage, .banner-interactive-goals, .banner-itislandg, .banner-mobility, .banner-portals-content-management, .banner-testing-services, .bnr-social, .banner-supply-chain-management, .bnr-bod, .banner-careers-36, .bnr-exec-led, .bnr-code-rules, .banner-business-cloud, .banner-explore-view.banner-lt, .banner-sep.banner-explore-view, .banner-lifeengage, .banner-assetserv, .banner-lifeengage, .banner-explore-view,.bnnr-dig-erss,.banner-orderserv,.banner-mres,.banner-skuview,.banner-claimsphere,.banner-geolocus{
	background-image: none;
	background: rgba(68,152,165,1);
	background: -moz-linear-gradient(left, rgba(68,152,165,1) 0, rgba(51,144,156,1) 9%, rgba(66,152,157,1) 18%, rgba(86,163,155,1) 27%, rgba(103,172,158,1) 37%, rgba(122,186,157,1) 48%, rgba(134,194,160,1) 59%, rgba(136,197,163,1) 70%, rgba(135,197,169,1) 80%, rgba(132,198,177,1) 91%, rgba(137,201,189,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0, rgba(68,152,165,1)), color-stop(9%, rgba(51,144,156,1)), color-stop(18%, rgba(66,152,157,1)), color-stop(27%, rgba(86,163,155,1)), color-stop(37%, rgba(103,172,158,1)), color-stop(48%, rgba(122,186,157,1)), color-stop(59%, rgba(134,194,160,1)), color-stop(70%, rgba(136,197,163,1)), color-stop(80%, rgba(135,197,169,1)), color-stop(91%, rgba(132,198,177,1)), color-stop(100%, rgba(137,201,189,1)));
	background: -webkit-linear-gradient(left, rgba(68,152,165,1) 0, rgba(51,144,156,1) 9%, rgba(66,152,157,1) 18%, rgba(86,163,155,1) 27%, rgba(103,172,158,1) 37%, rgba(122,186,157,1) 48%, rgba(134,194,160,1) 59%, rgba(136,197,163,1) 70%, rgba(135,197,169,1) 80%, rgba(132,198,177,1) 91%, rgba(137,201,189,1) 100%);
	background: -o-linear-gradient(left, rgba(68,152,165,1) 0, rgba(51,144,156,1) 9%, rgba(66,152,157,1) 18%, rgba(86,163,155,1) 27%, rgba(103,172,158,1) 37%, rgba(122,186,157,1) 48%, rgba(134,194,160,1) 59%, rgba(136,197,163,1) 70%, rgba(135,197,169,1) 80%, rgba(132,198,177,1) 91%, rgba(137,201,189,1) 100%);
	background: -ms-linear-gradient(left, rgba(68,152,165,1) 0, rgba(51,144,156,1) 9%, rgba(66,152,157,1) 18%, rgba(86,163,155,1) 27%, rgba(103,172,158,1) 37%, rgba(122,186,157,1) 48%, rgba(134,194,160,1) 59%, rgba(136,197,163,1) 70%, rgba(135,197,169,1) 80%, rgba(132,198,177,1) 91%, rgba(137,201,189,1) 100%);
	background: linear-gradient(to right, rgba(68,152,165,1) 0, rgba(51,144,156,1) 9%, rgba(66,152,157,1) 18%, rgba(86,163,155,1) 27%, rgba(103,172,158,1) 37%, rgba(122,186,157,1) 48%, rgba(134,194,160,1) 59%, rgba(136,197,163,1) 70%, rgba(135,197,169,1) 80%, rgba(132,198,177,1) 91%, rgba(137,201,189,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4498a5', endColorstr='#89c9bd', GradientType=1);
	min-height: 3.7em
}
.lat-think-rwd .can-do-att-cognizanti {
	min-height: 100%;
	padding: 8% 0
}
.lat-think-rwd .bg-grad h2 {
	font-size: 1.5em;
	margin-bottom: 2%
}
.lat-think-rwd .bg-grad.can-do-att-cognizanti h3 {
	font-size: 1.2em
}
.lat-think-rwd #cognizanti-sectn .wrapper {
	width: 100%
}
.on-ipad {
	color: #056b86;
	display: inline-block;
	width: 100%;
	display: block
}
.lat-think-rwd .cur-pers h2 {
	font-family: ProximaNova-Bold;
	font-size: 1.2em;
	margin-bottom: 0;
	color: #fff;
	text-transform: uppercase
}
.lat-think-rwd .wrapper {
	width: auto
}
.segments-we-serve {
	background: #333
}
.widget-cont ul li .realstateimg .food-beverage-spot {
	background: #00728f;
	padding: .7em 0 1em 1em;
	width: 100%;
	cursor: pointer
}
.segments-we-serve h2 {
	color: #fff
}
.segments-we-serve .widget-cont ul.widget-img li .tooltip .tooltipinwrp {
	padding: 0
}
.segments-we-serve .widget-cont ul li {
	min-height: 2.7em;
	display: block;
	width: 100%;
	cursor: pointer
}
.lat-think-rwd .cur-persp.p-nc-a a {
	background: 0;
	float: left;
	padding-right: 0
}
.lat-think-rwd .strgicgoals-wrap h2 {
	margin-bottom: 1%
}
.lat-think-rwd .indussoltn-wrp .smac-txt p {
	font-size: 1.2em;
	line-height: 1em;
	width: 100%;
	margin-bottom: .25em
}
.strgicgoals-wrap.lat-think-rwd {
	background: #fff;
	display: none
}
.strgicgoals-wrap.lat-think-rwd h2 {
	font-size: 1.3em;
	color: #333
}
.strgicgoals-wrap.lat-think-rwd .indussoltn-wrp .smac-txt p {
	color: #333;
	font-family: ProximaNova-Light;
	font-size: 1.1em
}
.strgicgoals-wrap.lat-think-rwd .indussoltn-wrp .smac-txt a {
	color: #333
}
.lat-think-rwd.explore-rules-playbook {
	background: #00728f;
	min-height: 100%
}
.bg-grad.can-do-att-cognizanti .getingpartnew h3 {
	font-size: 1.3em
}
.consulting-solutions.page-block:before, .four-box-consol.page-block:before {
	background: none repeat scroll 0 0 #fff
}
.consulting-solutions .delimiter {
	background: none repeat scroll 0 0 #fff
}
.consulting-solutions .delimiter .color2 {
	color: #00728f
}
.consulting-solutions .chip-block.chip-block-v4 {
	background: none repeat scroll 0 0 transparent
}
.block-style-1:after {
	background: none repeat scroll 0 0 transparent
}
.consulting-solutions .wrapper .triangle-links li a {
	text-decoration: underline;
	display: inline-block;
	vertical-align: bottom
}
.mob-our-apprch {
	background: none scroll center top #333;
	width: auto
}
.mob-our-apprch h3, .mob-our-apprch .teaser-block .teaser-item h4.teaser-header {
	background-color: #00728f;
	color: #fff;
	padding: 0 1.4em .2em .4em;
	position: relative;
	cursor: pointer
}
.mob-our-apprch h3 a {
	text-decoration: none
}
.mob-our-apprch .teaser-block li {
	width: 100%;
	clear: both
}
.mob-our-apprch .teaser-block li>div {
	display: none;
	background: none repeat scroll 0 0 #0e8aa9;
	color: #fff;
	padding: .5em;
	font-size: 1em;
	font-family: proximanova-light
}
.mob-accor-secitem {
	margin-top: 1em
}
.mob-seg-serv {
	background: none scroll #333
}
.widget-cont ul.busnsgoalw li, .widget-cont ul.manufactw li {
	min-height: 1em;
	padding: 0;
	margin-right: 0;
	background: #00728f;
	width: 100%;
	cursor: pointer
}
.widget-cont ul li .realstateimg .asset-wealth-spot, .widget-cont ul li .realstateimg .consumer-lending-spot, .widget-cont ul li .realstateimg .cards-payment-spot, .widget-cont ul li .realstateimg .governance-spot, .widget-cont ul li .realstateimg .investment-spot, .widget-cont ul li .realstateimg .whle-sle-bnk, .widget-cont ul li .realstateimg .secur-servcs, .widget-cont ul li .realstateimg .svs-highr-edu, .widget-cont ul li .realstateimg .svs-asses-onl, .widget-cont ul li .realstateimg .svs-prof-ass, .widget-cont ul li .realstateimg .svs-lead-educ, .widget-cont ul li .realstateimg .food-beverage-spot, .widget-cont ul li .realstateimg .home-personal-spot, .widget-cont ul li .realstateimg .consumer-durables-spot, .widget-cont ul li .realstateimg .consumer-electronics-spot, .widget-cont ul li .realstateimg .footwear-app-spot, .widget-cont ul li .realstateimg .cable-spot, .widget-cont ul li .realstateimg .integrated-comm-spot, .widget-cont ul li .realstateimg .network-equip-spot, .widget-cont ul li .realstateimg .wireless-spot, .widget-cont ul li .realstateimg .oil-gas-spot, .widget-cont ul li .realstateimg .utils-spot, .widget-cont ul li .realstateimg .prayers-spot, .widget-cont ul li .realstateimg .providers-spot, .widget-cont ul li .realstateimg .gov-pub-spot, .widget-cont ul li .realstateimg .phar-benef-spot {
	background: 0
}
.widget-cont ul li .realstateimg .life-science-pharma, .widget-cont ul li .realstateimg, .widget-cont ul li .realstateimg .automo-spot, .widget-cont ul li .realstateimg .indust-spot, .widget-cont ul li .realstateimg .life-ins-spot, .widget-cont ul li .realstateimg .prop-casu-spot, .widget-cont ul li .realstateimg .info-comp-3g, .widget-cont ul li .realstateimg .mark-rsh-3g, .widget-cont ul li .realstateimg .svs-lead-edu, .widget-cont ul li .realstateimg .advrsing-spot, .widget-cont ul li .realstateimg .brdcast-spot, .widget-cont ul li .realstateimg .flm-entr-spot, .widget-cont ul li .realstateimg .music-spot, .widget-cont ul li .realstateimg .prnt-pub-spot, .widget-cont ul li .realstateimg .dept-stor-spot, .widget-cont ul li .realstateimg .disco-stor-spot, .widget-cont ul li .realstateimg .grocer-spot, .widget-cont ul li .realstateimg .splty-ret-spot, .widget-cont ul li .realstateimg .onln-comp-spot, .widget-cont ul li .realstateimg .sft-vend-spot, .widget-cont ul li .realstateimg .hgh-tec-manu-spot, .widget-cont ul li .realstateimg .transportation-spot, .widget-cont ul li .realstateimg .warehousing-spot, .widget-cont ul li .realstateimg .cmplx-ntwrk-spot, .widget-cont ul li .realstateimg .hotl-prop-spot, .widget-cont ul li .realstateimg .rest-fd-serv-spot, .widget-cont ul li .realstateimg .trav-intr-spot, .widget-cont ul li .realstateimg .trav-prov-spot {
	background: 0
}
.widget-cont ul li .realstateimg .automo-spot, .widget-cont ul li .realstateimg .indust-spot, .widget-cont ul li .realstateimg .proces-spot, .widget-cont ul li .realstateimg .life-science-medical, .widget-cont ul li .realstateimg .life-science-pharma {
	background: 0
}
.widget-cont ul li .realstateimg-in-threimg {
	height: auto;
	width: 100%;
	padding: 0
}
.widget-cont ul li .realstateimg-in-threimg p.small {
	width: 86%;
	bottom: 0;
	line-height: normal;
	font-size: 1em;
	position: relative;
	padding-left: .5em;
	font-family: proximanova-bold;
	text-transform: inherit
}
.mob-seg-serv h2 {
	color: #fff;
	font-size: 1.2em
}
.widget-cont ul li .realstateimg {
	position: relative;
	padding-top: .5em
}
.mob-seg-serv .wrapper ul li img {
	position: absolute;
	right: 1em;
	top: .7em
}
.lat-think-rwd.can-do-att-cognizanti .getingpartnew {
	float: left;
	width: 100%
}
.lat-think-rwd .row-fluid .span10, .lat-think-rwd .row-fluid .pans10 {
	width: 100%
}
.ms-rtestate-field .bg-grad h2 {
	font-size: 1.2em;
	margin-bottom: 2%
}
.ms-rtestate-field .bg-grad.can-do-att-cognizanti .getingpartnew h3 {
	font-size: 1.1em
}
.lat-think-rwd.can-do-att-cognizanti .ecom-p {
	color: #fff;
	font-family: proximanova-regular;
	font-size: 1.1em;
	margin-top: 2%
}
.cog-hdr {
	margin: 0;
	padding: 0
}
.cog-hdr .logo {
	padding: 0;
	width: 120px;
	margin-left: 5px
}
.strgicgoals-wrap.hpg {
	background: #fff
}
.strgicgoals-wrap h2.hp {
	color: #00728f
}
.linkedIn-wrp .carslwrp {
	width: auto
}
.follow-us .lknd-in-conetn .slider-container .slides {
	background: #00728f
}
.follow-us .slides .email {
	color: #333
}
.follow-us.hm-fol-us .lknd-in-conetn .slider-container .slides.f-us-car {
	width: 96%
}
.widget-cont ul.widget-img li .tooltip {
	position: relative;
	border-radius: 0;
	background: #0e8aa9
}
.cur-pers-bg {
	background: url(../../dotcom-images/lat-cog-pres.png)/*tpa=http://www.cognizant.com/dotcom-images/lat-cog-pres.png*/ no-repeat #333
}
.lat-think-rwd .cur-pers .cur-pers-bg {
	background: #252525;
	background: url(../../dotcom-images/lat-cog-pres.png)/*tpa=http://www.cognizant.com/dotcom-images/lat-cog-pres.png*/ no-repeat -61px #333;
	padding-left: 60%
}
.cur-pers-bg {
	background: url(../../dotcom-images/perspective-rwd.jpg)/*tpa=http://www.cognizant.com/dotcom-images/perspective-rwd.jpg*/ no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 8%;
	background-position: 18% center;
	height: 1.8em;
	padding-top: 12%
}
#contactushtml .widget-cont {
	margin: 0
}
.slide panel .media-block .block.copy-content.ev.fow-cr.cw h2 {
	color: #fff;
	font-size: 1em;
	font-family: ProximaNova-Bold
}
.strgicgoals-wrap.lat-think-rwd .goalscont-postn {
	margin: 5% 0
}
.can-do-att-cognizanti.lat-think-rwd {
	min-height: 100%;
	padding: 5% 0;
	color: #fff;
	display: none
}
.widget-cont .banner-manufactr ul.meetus li {
	height: 6.5em
}
.hme-thumb-txt {
	top: .5em;
	font-size: 1em;
	line-height: 1em
}
.widget-cont .banner-manufactr ul.meetus li h4 {
	font-size: 1.1em;
	margin-left: .4em
}
.hme-thumb-img.code-rul, .hme-thumb-img.smac, .hme-thumb-img.fut-of-wrk {
	padding-top: 15%;
	width: 28%
}
.contact-us-rwd {
	display: block
}
div.block.copy-content.ev.fow-cr.cw h2 {
	color: #fff;
	font-family: ProximaNova-Bold;
	font-size: 13pt;
	text-transform: none
}
#download-app-mob {
	display: block
}
#playImgdiv_cRule-mob {
	display: block
}
.exp-cod-halo-think .widget-cont .flt {
	width: 100%
}
.exp-cod-halo-think .widget-cont h1 {
	font-size: 1.1em;
	font-family: ProximaNova-Bold;
	color: #000
}
#download-app-mob.exp-cod-halo-think {
	background: #FFF;
	padding: 4%
}
.fow-cr.cw h2.titl {
	padding-top: 1em;
	padding-bottom: .5em
}
.lat-think-rwd.reltv {
	background: #00718f
}
div.icon-play-video {
	background-image: url("../../dotcom-images/TemplateImages/icon_button_play.png")/*tpa=http://www.cognizant.com/dotcom-images/TemplateImages/icon_button_play.png*/;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	height: 41px;
	margin-top: 4.6em;
	width: 38px
}
div#fow-vid-cr-mob {
	display: block;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-image: url("../../dotcom-images/CR-videothumb.jpg")/*tpa=http://www.cognizant.com/dotcom-images/CR-videothumb.jpg*/;
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: no-repeat
}
div.content.code-rules-head {
	width: auto;
	padding-top: 0
}
#fow-vid-cr-mob.video-poster {
	background-color: #000;
	background-position: 50% center;
	background-size: cover;
	display: block;
	height: 193px;
	text-align: center;
	width: 100%
}
div.ev.fow-cr.cw {
	display: table-row
}
div.block.copy-content.ev.fow-cr.cw p {
	padding-bottom: 1.5em;
	font-size: .9em
}
section.lat-think-rwd.reltv {
	min-height: 0
}
/*RWD issues changes*/

.triangle-links.vertical.fin-ser-spect.final {
	float: none;
}
.chip-block-v2.insu-rance .chip-item,.chip-block-v5.analytics .chip-item,.chip-block-v5 .chip-item{
	background: none;
	height: auto;
}
.nw-res-bg .indussoltn-cont .tab-nav li.ppt1 {
	padding-top: 2.25em;
}
#our-approach .content-style-1 .block-title {
	margin-bottom: 0.5em;
}
#our-approach .chip-block.chip-block-v2.marg {
	margin-top: 0.8em;
}
.prod-sec .banner-lifeengage.banner-explore-view {
	min-height: inherit;
}
.nw-res-bg .indussoltn-cont .tab-nav li {
	width: 33.5%;
}
#resu2 .bx-controls-direction {
    display: none;
}
/*RWD issues changes end*/
.bridecrump-wrp {
	background: #87a59d;
	background: -moz-linear-gradient(top, #87a59d 0, #9cbdb6 10%, #a0c3bc 14%, #a9d1c9 24%, #aed1cb 28%, #aad3cb 52%, #aad1ce 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #87a59d), color-stop(10%, #9cbdb6), color-stop(14%, #a0c3bc), color-stop(24%, #a9d1c9), color-stop(28%, #aed1cb), color-stop(52%, #aad3cb), color-stop(100%, #aad1ce));
	background: -webkit-linear-gradient(top, #87a59d 0, #9cbdb6 10%, #a0c3bc 14%, #a9d1c9 24%, #aed1cb 28%, #aad3cb 52%, #aad1ce 100%);
	background: -o-linear-gradient(top, #87a59d 0, #9cbdb6 10%, #a0c3bc 14%, #a9d1c9 24%, #aed1cb 28%, #aad3cb 52%, #aad1ce 100%);
	background: -ms-linear-gradient(top, #87a59d 0, #9cbdb6 10%, #a0c3bc 14%, #a9d1c9 24%, #aed1cb 28%, #aad3cb 52%, #aad1ce 100%);
	background: linear-gradient(to bottom, #87a59d 0, #9cbdb6 10%, #a0c3bc 14%, #a9d1c9 24%, #aed1cb 28%, #aad3cb 52%, #aad1ce 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#87a59d', endColorstr='#aad1ce', GradientType=0);
	height: 30px
}
.teaser-block ~ .teaser-block {
	margin-top: 1em
}
.mob-our-apprch .teaser-block li:nth-child(2) {
	margin-left: 0;
	margin-top: 1em
}
.padding-640 {
	padding: 4%
}
.mob-our-apprch ul li h3 img {
	position: absolute;
	right: 1em;
	top: .5em
}
.mob-our-apprch ul li h3 a {
	font-family: proximanova-regular;
	font-size: .64em;
	text-transform: uppercase
}
.compover-wrap.wrapper {
	width: auto;
	padding: 1em
}
.compover-rwd-wrap.wrapper {
	width: inherit
}
.compover-inv-rwd {
	background: #00728f
}
.compover-inv-rwd.strgicgoals-wrap .goalscont-postn.relatedcntnt {
	margin-top: 0
}
.compover-inv-rwd.strgicgoals-wrap .goalscont-postn {
	margin: 0
}
.compover-inv-rwd.strgicgoals-wrap p {
	width: auto;
	font-size: .982em
}
.compover-inv-rwd.strgicgoals-wrap p a {
	display: block
}
.compover-inv-rwd .compover-rwd-invrel-h2 {
	display: block;
	font-size: 1em
}
.compover-inv-rwd.strgicgoals-wrap .compover-rwd-invp {
	font-style: normal;
	font-weight: 600;
	display: block
}
.compover-app-rwd .text-p {
	font-size: .979em;
	width: auto
}
.compover-abt-rwd .about-cognizant-descplholdr {
	font-size: .873em;
	padding: 0
}
.compover-app-rwd .banner-future-work {
	min-height: 21em
}
.compover-app-rwd .analyticsOverviewBI {
	padding: 0
}
.compover-app-rwd .first-head {
	font-size: .9em;
	width: auto
}
.compover-abt-rwd {
	background: #333;
	min-height: 7em
}
.compover-app-rwd.appeal.passion-fcs {
	background: 0;
	min-height: 22em
}
.compover-app-rwd.appeal {
	width: auto
}
.banner-about-us-3 {
	background: #36909d;
	background: -moz-linear-gradient(left, rgba(54,144,157,1) 1%, rgba(86,163,156,1) 37%, rgba(139,199,160,1) 74%);
	background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgba(54,144,157,1)), color-stop(37%, rgba(86,163,156,1)), color-stop(74%, rgba(139,199,160,1)));
	background: -webkit-linear-gradient(left, rgba(54,144,157,1) 1%, rgba(86,163,156,1) 37%, rgba(139,199,160,1) 74%);
	background: -o-linear-gradient(left, rgba(54,144,157,1) 1%, rgba(86,163,156,1) 37%, rgba(139,199,160,1) 74%);
	background: -ms-linear-gradient(left, rgba(54,144,157,1) 1%, rgba(86,163,156,1) 37%, rgba(139,199,160,1) 74%);
	background: linear-gradient(to right, rgba(54,144,157,1) 1%, rgba(86,163,156,1) 37%, rgba(139,199,160,1) 74%);
	min-height: 3.7em
}
#results1.nw-res-bg .indussoltn-cont #tabnav-mob.tab-nav li#goalattrres1 {
	background-color: #fff;
	color: #000;
	margin-right: 2%;
	padding: 0;
	width: 49%;
	height: auto
}
#results1.nw-res-bg .indussoltn-cont #tabnav-mob.tab-nav li#goalattrres2 {
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	width: 49%;
	height: auto
}
ul#tabnav-mob {
	display: block
}
#goalattrres1-txt .row-fluid .span11, .strgicgoals-wrap .nw-res p {
	width: auto
}
#results1 .row-fluid .span5 {
	display: block;
	width: 94%
}
div.widget-cont {
	margin: 1.3em 4% 2.3em
}
section.strgicgoals-wrap.nw-res-bg {
	background: #00718f
}
#results1 section {
	background: #FFF;
	padding: .5em;
	margin: .5em 0 .5em 0
}
section.latest-thinkwrp .nw-res h3 {
	font-size: 1.1em;
	color: #00718f;
	font-family: ProximaNova-Bold
}
#results1.strgicgoals-wrap .nw-res p {
	color: #000;
	font-size: 1em;
	width: auto
}
ul.nw-res-ul li {
	color: #000;
	margin-bottom: .1em;
	font-size: 1em
}
ul.nw-res-ul {
	background: #FFF;
	padding: 0 .5em .5em 1.1em
}
#results1.nw-res-bg .indussoltn-cont .tab-nav li {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
	height: auto
}
#results1.nw-res-bg .indussoltn-cont .tab-nav li div.txt {
	font-family: ProximaNova-Regular;
	font-size: .8em;
	padding: 1em
}
#results1.nw-res-bg .indussoltn-cont .tab-nav li.active div.txt {
	color: #00718f;
	font-family: ProximaNova-Bold;
	font-size: .8em;
	padding: .8em .5em
}
.page-header-dropdown .dropdown-trigger {
	background: 0;
	font-size: 18px;
	margin-top: 9px;
	padding: 0 0 0 1%;
	height: auto
}
.abt-cog-rwd .abtcog-abtus {
	background: #fff;
	min-height: 100%
}
.abt-cog-rwd .about-us-cont {
	font-size: 10px
}
.abt-cog-rwd #about-us .relatesolt-cont {
	width: 100%
}
.upcomg-evnt {
	background-color: #00728f
}
.upcomg-evnt.cont-wrap .evnts-rht {
	float: left;
	width: 78%;
	padding: 0
}
.upcomg-evnt.cont-wrap .evnt-lft {
	float: left;
	width: 20%;
	padding-left: 2%
}
.upcomg-evnt.cont-wrap .evnt-info {
	font-size: 1em;
	width: 88%;
	padding-left: 6%;
	color: #000
}
.upcomg-evnt.cont-wrap a.learn-more-blue {
	color: #00728f;
	font-family: ProximaNova-Light;
	padding-left: 6%
}
.news-rwd {
	display: block;
	background-color: #00728f;
	font-family: ProximaNova-Light;
	color: #fff
}
.news-rwd h3 {
	color: #fff;
	font-size: 1.2em;
	font-family: ProximaNova-Bold
}
.upcomg-evnt.cont-wrap {
	background-color: #fff;
	padding: 4%;
	font-size: 13px
}
.teaser-item+.teaser-item.margin-none {
	margin-left: 0;
	margin-top: 1em
}
.compover-app-rwd .appeal-cont {
	width: auto;
	margin: 0 auto 0
}
.mob-our-apprch .teaser-block li:last-child {
	margin-left: 0;
	margin-top: 1em
}
.content {
	width: auto
}
.prod-sec .upcomg-evnt.cont-wrap .evnt-lft {
	float: left;
	width: 20%;
	padding-left: 0
}
.prod-sec .inv-tools-lft,.prod-sec. os-overview-lft{
	float: left;
    margin-right: 0;
    width: 100%;
}
.prod-sec .os-overview.overview-lft.overview-lft-cont {
    width: 100% !important;
}
.overview-lft.overview-lft-cont-new.mres-cont {
    color: #fff;
    width: 100%;
}
.os-overview-lft {
    float: none;
    margin-right: 0;
    width: 100%;
}
.chal-wch-wid.config-admin,.config-admin,.awards-claim {
    display: none;
}
.mres-cont .overview-para-second {
    color: #fff;
    font-size: 1em;
}
.prod-sec .overview-lft.overview-lft-cont {
	width: 100%
}
.prod-sec p.bcloud-white {
	width: 100%;
	color: #00728f
}
.consulting-solutions .triangle-links-block {
	padding-top: 0
}
.prod-sec .overview-lft h3.bcloud-grey {
	color: #fff;
	font-size: 1em;
	font-family: ProximaNova-Bold;
	padding-bottom: 1em
}
.prod-sec .overview-lft .overview-para {
	font-size: 1em;
	color: #fff;
	font-family: ProximaNova-Light
}
.prod-sec h2.bcloud-grey {
	color: #fff;
	margin-bottom: 1em;
	font-size: 1.1em
}
.prod-sec .widget-wrap {
	background: #333
}
.prod-sec .wrapper.indussoltn-wrp {
	font-size: 11px
}
.interactive-stock-chart-bg {
	background: #fff
}
.prod-sec h3.bcloud-white {
	color: #428aa1;
	font-size: 1.5em;
	font-family: ProximaNova-Bold;
	margin-bottom: 5%;
    margin-top: 3%;
}
.prod-sec h2.bcloud-white {
	color: #428aa1;
	font-size: 1.5em;
	font-family: ProximaNova-Bold;
}
.cur-pers-bg h2.mobile {
	color: #fff;
	float: right;
	top: .5em;
	position: absolute;
	right: 3em;
}
.cur-pers-bg .onipad {
	color: #00728f;
	font-family: ProximaNova-Regular;
	font-size: 1.1em;
	position: absolute;
	top: 2.2em;
	right: 14.25em;
	display: block;
}
.cur-pers-bg .onipad .applogo {
	top: 1.9em;
	position: absolute;
	right: -13em;
}
.abt-cog-rwd .headsection h1 .dropdown-trigger {
	background-position: 10em 32%;
	display: block;
	height: 1.13em;
	padding-left: 0
}
.abt-cog-rwd .bridecrump-wrp {
	margin-top: 0
}
.joinus {
	display: block;
	font-weight: bold;
	font-size: 1em;
	font-family: proximanova-regular;
	color: #00728f
}
.prod-sec .font12 {
	font-size: 24px;
}
.bridecrump-wrp h1.head {
	margin-top: -0.1em
}
.bridecrmp-busnspostn {
	margin: 0
}
.hm-keep-chal .globl-wrkspce h2 {
	font-size: 1.1em
}
.hm-keep-chal .wrkplce-head {
	font-size: 1em;
	width: 47%;
	line-height: 1em
}
.watch-video {
	font-size: .9em;
	font-family: ProximaNova-Bold
}
.approuch-ac-vid-mob.video-poster {
	background: url("../../dotcom-images/cognizant-difference-megamenu.png")/*tpa=http://www.cognizant.com/dotcom-images/cognizant-difference-megamenu.png*/ no-repeat scroll 0 0 / cover transparent;
	background-image: url("../../dotcom-images/cognizant-difference-megamenu.png")/*tpa=http://www.cognizant.com/dotcom-images/cognizant-difference-megamenu.png*/;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: cover;
	display: block;
	height: 193px;
	text-align: center;
	width: 100%
}
.four-box-consol h2 {
	font-size: 1.05em
}
.four-box-consol .chip-item.margn-lt {
	margin-left: 0
}
.four-box-consol .chip-item .chip-header, .four-box-consol .chip-item .chip-copy, .four-box-consol .chip-item .chip-header a,
.chip-block-v5.analytics .chip-item .chip-header,.chip-block-v5 .chip-item .chip-header{
	color: #00728f;
	font-size: 1.2em;
	padding: 0 0 0 1em
}
.four-box-consol .chip-item .chip-header a {
	text-decoration: underline;
	font-size: 1em;
	padding-left: 0
}
.four-box-consol .chip-item.margn-tp {
	margin: 0 0 .5em 0
}
.four-box-consol .chip-item {
	height: auto;
	width: 100%;
	min-height: 1em;
	margin-bottom: .5em
}
.four-box-consol .content-style-1 {
	padding: 0
}
.four-box-consol .chip-item.chip-ind-sols {
	height: auto
}
.contact-us-rwd ul.address-list.flt li {
	color: #00728f
}
.contact-us-rwd .loct-addrs a {
	color: #00728f;
	font-size: .8em
}
.contact-us-rwd .directory .loct-addrs {
	color: #333;
	font-family: proximanova-regular;
	font-size: 1.4em;
	margin-top: 0;
	width: 90%;
	font-size: 14px;
	padding: 5%
}
.contact-us-rwd .mob-con-loc {
	background-color: #00728f;
	padding: 4%;
	color: #fff;
	display: block
}
.contact-us-rwd div.widget-cont {
	margin: 0
}
.contact-us-rwd .widget-cont h2.locations {
	color: #fff;
	font-family: ProximaNova-Bold;
	font-size: 1.1em;
	margin-bottom: 0;
	background-color: #095c71;
	padding: 2%
}
.contact-us-rwd .mob-con-loc p {
	padding-bottom: 2%
}
.contact-us-rwd .mob-con-loc select {
	padding: 1% 0 0 1%;
	width: 77%;
	font-size: 1em
}
.contact-us-rwd .search-directory {
	margin-top: 0
}
.mob-seg-serv .realstateimg.clearfix .realstateimg-in-threimg {
	padding: 0 0 .5em
}
.mob-seg-serv .wrapper ul li .realstateimg.clearfix .realstateimg-in-threimg img {
	position: absolute;
	right: 1em;
	top: 26%
}
.hm-keep-chal .vid-btn {
	top: 45%
}
.widget-cont.hme-learn {
	margin: 1.3em 0
}
ul.res-ul {
	margin: 0 0 0 1em
}
ul.res-ul li {
	color: #000;
	font-family: ProximaNova-Regular;
	font-size: .9em;
	list-style-type: disc;
	margin-bottom: .1em
}
.globl-wrkspce {
	height: auto
}
.hm-keep-chal .globl-wrkspce {
	min-height: 13.7em;
	padding: 0 2%;
	width: auto
}
.shift-rtf {
	margin-left: 0
}
.shift-lft {
	padding-left: 0
}
div.row-fluid .span11 {
	width: 100%
}
.mob-our-apprch .teaser-block .teaser-item:nth-child(2), .mob-our-apprch .teaser-block .teaser-item:nth-child(4), .mob-our-apprch .teaser-block .teaser-item:nth-child(6) {
	margin-left: 0
}
#twitter_id .item-parentwrp {
	background: #00728f
}
#twitter_id.hm-fol-us {
	background: #fff;
	padding: 0 2%
}
.rwd-home-news {
	display: block;
	background: #00728f;
	padding: 3% 2%;
	color: #fff;
	font-family: ProximaNova-Regular;
	font-size: .95em;
	width: auto
}
.rwd-home-news h2 {
	font-size: 1.1em;
	font-family: ProximaNova-Bold;
	line-height: 2.5em
}
.rwd-home-news .item a.rdmr {
	color: #fff;
	font-family: ProximaNova-Bold
}
.fin-ser-spect.consol-links {
	list-style-type: disc
}
.fin-ser-spect.consol-links li a {
	display: inline;
	width: auto;
	height: auto;
	white-space: inherit
}
.linkedIn-wrp .carslwrp h2.blue-rwd {
	color: #00728f;
	font-size: 1.1em
}
.strgicgoals-wrap .goalscont-postn {
	margin: 1.5em 0 1em 0;
	padding: 0
}
.page-header-dropdown .font12 {
	font-size: 18px;
	margin-top: 9px;
	display: table;
	padding: 0 2%
}
.contact-us-rwd .msgIfrmWapper {
	height: auto;
	left: 13%;
	position: fixed;
	top: 20%;
	width: 80.5%;
	display: none;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 10
}
.confirm-msg {
	font-size: 11px;
	border: 0
}
.consulting-solutions .single-link-sol {
	padding: 0
}
.single-link-sol .teaser-header a {
	font-size: .5em
}
.single-link-sol .teaser-header {
	background: url(../../dotcom-images/bg-dot.png)/*tpa=http://www.cognizant.com/dotcom-images/bg-dot.png*/ no-repeat .1em .7em;
	padding-left: .5em
}
.module-24 {
	min-height: 1em
}
.consulting-solutions {
	padding: 0
}
#twitter_id .bx-wrapper .bx-viewport {
	margin-left: 0
}
.mob-our-apprch .chip-block .chip-item img {
	position: absolute;
	right: 1em;
	top: 1em
}
.mob-our-apprch .chip-item .chip-copy {
	display: none;
	background-color: #0e8aa9
}
.mob-our-apprch .chip-item {
	height: auto;
	width: 100%;
	background-color: transparent;
	margin-bottom: 1em
}
.mob-our-apprch .chip-item.margn-lt {
	margin-left: 0
}
.mob-our-apprch .chip-header {
	background-color: #00728f;
	font-size: 1em;
	text-transform: uppercase;
	padding: .3em 0 .3em .5em;
	position: relative;
	cursor: pointer
}
.mob-our-apprch .content {
	padding: 1em .5em
}
.mob-seg-serv .widget-cont {
	margin: 0;
	padding: 1em .5em
}
.consulting-solutions .content, .four-box-consol .content {
	padding: 1.3em .5em
}
.mob-our-apprch .content-style-1 .block-title {
	color: #fff;
	font-size: 1.2em
}
.mob-our-apprch .block-prompt {
	margin: 0
	color:#fff;
}
.msgIfrm {
	border-radius: 8px;
	overflow: hidden;
	height: 99px;
	border: 1px solid;
	width: 90%
}
.popup-submit {
	overflow: hidden;
	background-color: #dff2bf;
	color: #4f8a10;
	float: left
}
.nw-res .span11.wd {
	width: 100%
}
.nw-res .span5.wd {
	width: 100%
}
ul.nw-res-ul h4.blck-clr {
	color: #000
}
a.common-anc.anch-white {
	color: #000
}
.mob-our-apprch ul li h3 span {
	font-family: proximanova-regular;
	font-size: .64em;
	text-transform: uppercase
}
div.hm-keep-chal {
	background-position: 70% 100%;
	background-size: cover;
	height: 13.5em;
	padding-top: 0
}
.ply-btn-wrp {
	margin: 0 auto;
	height: 50px;
	width: 100%;
	position: absolute;
	top: -0.5em
}
.consulting-solutions .triangle-links-block .icon-triangles-v1:after {
	width: auto
}
.consulting-solutions .content .chip-copy {
	padding: 0
}
#our-approach.mob-our-apprch {
	background: none repeat scroll center top #333;
	width: auto;
	height: auto;
	min-height: inherit
}
.mob-our-apprch .supchn-mgmt li:nth-child(2) {
	margin-top: 0
}
.mob-our-apprch .teaser-block li>div.invi-blck {
	display: block;
	background-color: transparent
}
.supchn-mgmt .line-spacing {
	margin-bottom: 0
}
.font-1 {
	font-size: 1em
}
.font-2 {
	font-size: .75em
}
.font-3 {
	font-size: .75em
}
.wfont-2 {
	width: 35%
}
.wfont-3 {
	width: 30%
}
.wfont-4 {
	width: 22%
}
.hm-ban-txt {
	left: 2%; 
display: block; 
width: 100%;
}
.banner-img4, .banner-img11, .banner-img10, .banner-img9, .banner-img12, .banner-img7 {
	background-position-x: 112%
}
.hm-ban-more.hm-ban-more-4, .hm-ban-more.hm-ban-more-7, .hm-ban-more.hm-ban-more-9, .hm-ban-more.hm-ban-more-10, .hm-ban-more.hm-ban-more-11, .hm-ban-more.hm-ban-more-12 {
	left: 2%;
	font-size: .8em
}
.hm-ban-more.hm-ban-more-11, .hm-ban-more.hm-ban-more-12 {
	top: 65%
}
.hm-ban-more.hm-ban-more-10 {
	top: 75%
}
.hm-ban-more.hm-ban-more-9 {
	top: 84%
}
section.headsection h1 {
	width: auto
}
section.headsection img {
	cursor: pointer;
	margin-right: 5px;
	margin-top: -19px;
	right: 9px;
	width: 1.7em
}
.widget-cont ul.widget-img li .tooltip, .widget-cont ul.widget-img li .tooltip .tooltipinmin, .widget-cont ul.widget-img li .tooltip .tooltipinwrp {
	height: auto
}
.mob-our-apprch .teaser-block .teaser-item h4.teaser-header {
	padding: .6em 1.4em .2em .4em;
	font-size: .95em;
	font-family: proximanova-regular;
	text-transform: uppercase
}
.mob-our-apprch ul li h4 img {
	position: absolute;
	right: 1em;
	top: .7em
}
.four-box-consol .chip-item .chip-header,.chip-block-v5.analytics .chip-item .chip-header,.chip-block-v5 .chip-item .chip-header {
	background: url(../../dotcom-images/bg-dot.png)/*tpa=http://www.cognizant.com/dotcom-images/bg-dot.png*/ no-repeat left .6em #fff;
	line-height: 1.1em;
	font-size: 1.1em
}
div.concact-us-icon {
	display: block;
	cursor: pointer;
	height: auto;
	position: fixed;
	right: .7em;
	top: 5em;
	width: auto;
	z-index: 9
}
.hme-learn .banner-manufactr {
	margin-top: 0 !important
}
.four-box-consol .crm-rwd-chipcont {
	padding: 2px 0 2px 0
}
.crm-rwd-chipcont .crm-rwd-head {
	color: #00728f;
	font-size: 1.03em;
	font-weight: normal;
	font-family: proximanova-regular;
	background: url(../../Pages/404.aspx)/*tpa=http://www.cognizant.com/dotcom-images/dot-bg.png*/ no-repeat left .3em #fff;
	padding: 0 0 0 1em
}
.four-box-consol .chip-block-v2 .chip-item:nth-child(2n) {
	margin-left: 0
}
.mob-seg-serv .widget-img .imgnav:last-child {
	margin-bottom: 0
}
.mob-our-apprch .chip-block-v2 .chip-item .chip-copy {
	padding: .5em
}
.digi-strat-cont1 {
	padding: 1.5em .2em 1.5em 1em
}
.digi-strat-cont1 h2 {
	color: #fff;
	font-size: 1.2em
}
.digi-strat-cont1 p {
	font-size: .95em;
	line-height: 1.5em;
	font-family: proximanova-regular
}
.chip-item.crm-item-bl {
	background-color: #fff
}
#slidediv-mm.mob-header, #slidediv-srch.search-mob {
	height: 360px;
	overflow-x: auto
}
.widget-cont ul.widget-img li .tooltip .tooltipin {
	height: auto
}
sup {
	top: -0.6em
}
.or-au-app {
	color: #fff;
	padding: 0 1.5em 0 0
}
.mob-our-apprch .supchn-mgmt li .or-au-app li {
	margin-left: 7%
}
.chip-block-v2 div.chip-item:last-child {
	margin-bottom: 0
}
.dig-business .features {
	width: 100%;
	text-align: left
}
.dig-business .indus-spotlgts {
	margin-top: 0;
	font-size: 10px
}
.dig-business .indus-spotlgts .features a {
	background: 0;
	color: #fff;
	font-family: proximanova-regular;
	font-size: 1.2em;
	overflow: hidden;
	padding: 1.2em .75em;
	text-decoration: underline
}
.dig-business .digi-strat-bg {
	font-size: 15px;
	background-color: #333
}
.four-box-consol .chip-item .crm-chip-hdr {
	line-height: 1.6em
}
.chip-item.crm-chip-item {
	margin-bottom: .2em
}
.mob-seg-serv .wrapper ul li .realstateimg.clearfix .realstateimg-in-threimg img.real-est {
	top: 35%
}
.dig-business .sl-contents {
	padding-left: 0;
	width: 100%
}
.dig-business .digi-strat-cont1 p {
	font-size: .98em;
	line-height: 1.2em;
	font-family: proximanova-regular;
	color: #fff;
	padding-bottom: 0
}
.dig-business .digi-opr-bg {
	background-color: #0e8aa9;
	color: #fff
}
.dig-business #dig-vid1 {
	height: 200px;
	width: 97%
}
.dig-business #dig-vid2 {
	height: 200px;
	width: 97%
}
.dig-business #dig-vid3 {
	height: 200px;
	width: 100%
}
.dig-business #dig-vid4 {
	height: 200px;
	width: 100%
}
.dig-business .video-wrapper {
	width: 100%
}
.dig-business .digi-markt-cont {
	color: #00728f;
	padding: 3%;
	font-size: 11px
}
.dig-business .globl-wrkspce-cont {
	padding: 0;
	position: relative;
	min-height: 10em
}
.over-sep .overview-lft.overview-lft-cont-small {
	width: auto
}
.over-zdlc .overview-lft.overview-lft-cont-small {
	width: auto
}
.over-carsrv .overview-lft.overview-lft-cont-small {
	width: auto
}
div.indus-bg.kc-show-rwd {
	background: url("../../dotcom-images/social-video-thumb.jpg")/*tpa=http://www.cognizant.com/dotcom-images/social-video-thumb.jpg*/ no-repeat scroll 50% 50% transparent
}
ul.bcloud-white {
	color: #428aa1;
	font-size: 1.3em
}
.teaser-copy.ci {
	margin-bottom: 0
}
.mob-our-apprch img.real-est {
	top: 1.1em
}
.module-88 .content-style-1 {
	padding: 1em .75em
}
.overview-lft.overview-lft-cont {
	width: auto
}
.inv-tools-lft {
	width: auto
}
.prod-sec .inv-tools-lft {
    margin-right: 0;
}
.prod-sec .inv-tools-lft.wid-maxfast {
    width: 100%;
}
.mad-wrp {
    display: none;
}
#investor-tools .content-style-1 .bl.block-title {
	color: #fff
}
.bannertext>p.lat-think-bantxtw {
	color: #000;
	font-family: proximanova-light;
	font-size: .95em;
	padding: 1em .5em;
	display: block
}
div.avail-app-str.marg-appimg {
	margin-right: 10px;
	display: block
}
.fet-and-bet span {
	font-family: ProximaNova-Bold;
	font-size: 1.2em
}
h3.hm-twt {
	margin-left: 0
}
.abt-bod .about-cognizant-descplholdr {
	color: #333;
	font-size: .95em;
	padding: 1em .5em
}
.cognizant-aboutus-allpgs.abt-bod {
	background: #fff;
	min-height: 1em
}
.diver-rwd.core-value-ci-bg {
	background: 0;
	min-height: 22em
}
.diver-rwd.appeal {
	width: auto
}
.diver-rwd.sustainblty-effort .appeal-cont.wrapper {
	width: auto;
	padding: 1em;
	margin: 0 auto 0
}
.diver-rwd .appeal-cont h2 {
	font-size: 1em
}
.diver-rwd .blue-bulets.diver-width {
	width: auto
}
.diver-rwd .blue-bulets li {
	color: #00728f
}
.diver-rwd .blue-buletsp-diversity {
	width: auto;
	color: #00728f;
	font-size: .875em
}
.diver-rwd .blue-bulets {
	margin: 0;
	margin-top: 0
}
.sustain-banner .diversity-banr-bg.banner-about-us-3 {
	background: #36909d;
	background: -moz-linear-gradient(left, rgba(54,144,157,1) 1%, rgba(86,163,156,1) 37%, rgba(139,199,160,1) 74%);
	background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgba(54,144,157,1)), color-stop(37%, rgba(86,163,156,1)), color-stop(74%, rgba(139,199,160,1)));
	background: -webkit-linear-gradient(left, rgba(54,144,157,1) 1%, rgba(86,163,156,1) 37%, rgba(139,199,160,1) 74%);
	background: -o-linear-gradient(left, rgba(54,144,157,1) 1%, rgba(86,163,156,1) 37%, rgba(139,199,160,1) 74%);
	background: -ms-linear-gradient(left, rgba(54,144,157,1) 1%, rgba(86,163,156,1) 37%, rgba(139,199,160,1) 74%);
	background: linear-gradient(to right, rgba(54,144,157,1) 1%, rgba(86,163,156,1) 37%, rgba(139,199,160,1) 74%);
	min-height: 3.7em
}
.abt-cog-rwd .relatesolt-cont.fow-live ul li {
	display: inline-block
}
.abt-cog-rwd .relatesolt-cont.fow-live ul li a {
	background: 0;
	color: #000;
	text-decoration: underline;
	font-size: 1.125em
}
.btm-pdng {
	padding: 0
}
#about-us.about-ue-wrp {
	background-color: #fff;
	padding-left: 3%
}
.leader-spchs {
	background: #fff
}
.appeal-cont.ldrs-bdo {
	margin: 0 .5em;
	width: auto
}
.appeal {
	width: auto
}
.appeal .relatesolt-cont-bod {
	margin: 0
}
.appeal .relatesolt-cont-bod .span5, .appeal .relatesolt-cont-bod .span7, .appeal .relatesolt-cont-bod .span4 {
	width: 100%
}
.leaders-sph ul li span {
	color: #fff;
	text-transform: capitalize
}
.leaders-sph.directors ul li {
	background: #00728f;
	margin-bottom: .5em;
	padding: .5em;
	position: relative;
	cursor: pointer
}
.more-eve {
	color: #fff;
	font-family: ProximaNova-bold;
	padding-bottom: .3em;
	padding-top: .8em;
	font-size: .91em;
	height: 1.6em;
	background-color: #00718f;
	cursor: pointer
}
.event .disc-txt {
	color: #FFF;
	font-family: ProximaNova-Regular;
	font-size: .9em
}
.event .date {
	color: #fff;
	font-family: ProximaNova-bold;
	padding-bottom: .3em;
	padding-top: .3em;
	font-size: .91em
}
.events-mob .event {
	height: auto;
	padding-bottom: 1em
}
.event .disc {
	background-color: #0f8aa9;
	padding-bottom: .5em;
	padding-left: 1em;
	padding-right: 0.5em;
	padding-top: 1em;
	height: auto
}
.event .head {
	padding-bottom: .3em;
	padding-top: .3em;
	padding-left: 1em;
	background-color: #00718f;
	font-family: ProximaNova-bold;
	color: #fff;
	font-size: .95em
}
section.events-mob {
	background: #333;
	height: auto;
	width: auto;
	display: block;
	padding-top: 1em
}
.events-mob .mhead {
	display: block;
	height: .71em;
	margin-bottom: .6em;
	padding-top: .5em;
	padding-left: 1em;
	padding-bottom: .6em;
	font-size: 1.05em;
	color: #03708f;
	font-family: ProximaNova-Regular;
	background: url('../../Pages/404.aspx')/*tpa=http://www.cognizant.com/dotcom-images/top-grey-bg-strip-rwd.jpg*/ repeat
}
.bridecrmp-busnspostn h1.head {
	font-size: 18px;
	margin: 7px 10px;
	width: 90%
}
div.bridecrmp-busnspostn h1.head {
	font-size: 18px;
	margin: 7px 10px;
	width: 90%
}
.findjobs {
	background: #333
}
.findjobs .head {
	margin: 1em 0 .5em 0;
	font-size: 1.2em
}
.findjobs p {
	font-size: 1.1em;
	padding: 0 .5em
}
.featrdjobs .head {
	font-size: 1.2em;
	color: #fff;
	padding: 1em .52em;
	background: #095c71;
	display: block;
	margin: 0
}
.featrdjobs p {
	padding: 0 .5em;
	width: auto;
	float: none
}
.careesselect {
	width: auto;
	float: none;
	clear: both;
	padding: 1em .5em
}
.al-div {
	padding-left: 3%;
	padding-right: 3%;
	width: 94%
}
.pr-bg, .rec-disclmr {
	background-color: #333
}
.rec-disclmr {
	padding: 1em .75em;
	width: auto;
	margin: 0 auto
}
.rec-disclmr a {
	font-family: ProximaNova-Regular;
	text-decoration: underline
}
.rec-disclmr h3, .rec-disclmr p, .rec-disclmr a {
	color: #fff
}
.rec-disclmr h3 {
	font-size: 1.2em
}
.leaders-sph ul li img {
	position: absolute;
	right: 1em;
	top: 39%
}
#think-1, #think-2, #think-3, #think-4, #think-5, #think-6, #think-7, #think-8, #think-9, #think-10 {
	display: block
}
#think-1, #think-2, #think-3, #think-4, #think-5, #think-6, #think-7, #think-8, #think-9, #think-10:hover {
	text-decoration: none
}
.ldrs-desig {
	font-family: proximanova-light
}
.country-select .selectboxcustom, .country-select .selectboxcustom span {
	background: #fff url(../../dotcom-images/search-carrers-rwd.png)/*tpa=http://www.cognizant.com/dotcom-images/search-carrers-rwd.png*/ no-repeat 99% center;
	color: #333
}
.country-select {
	background: #00728f
}
.item.bod-title, .bod-title .bod-info {
	width: auto;
	margin-bottom: .25em;
	margin-top: -0.5em
}
.events-mob .wrapper {
	width: 90%
}
.directors ul li span:hover {
	text-decoration: none
}
.bod-title .bod-info {
	background-color: #0e8aa9;
	margin-top: 0;
	padding: 1em .5em
}
.bod-info p {
	color: #fff
}
.ww-faq-rwd {
	background: #fff;
	margin: 0 0 .5em 0;
	padding: 0;
	display: block
}
.ww-faq-rwd ul {
	margin: 0 auto;
	padding: 0;
	width: 96%;
	display: none
}
.ww-faq-rwd ul li {
	background: #00728f;
	margin: 2% auto 0 auto;
	list-style-type: none;
	color: #fff;
	font-family: ProximaNova-Regular;
	cursor: pointer
}
.ww-faq-rwd ul li p.show-me {
	background: #0e8aa9;
	margin: 0;
	padding: 1% 2%;
	display: none;
	color: #fff;
	cursor: default
}
.ww-faq-rwd ul li span.plus {
	background: url(../../dotcom-images/plus-ww-faq.png)/*tpa=http://www.cognizant.com/dotcom-images/plus-ww-faq.png*/ no-repeat 98% center;
	display: inline-block;
	width: 96%;
	padding: 1% 2%
}
.ww-faq-rwd ul li span.minus {
	background: url(../../dotcom-images/minus-ww-faq.png)/*tpa=http://www.cognizant.com/dotcom-images/minus-ww-faq.png*/ no-repeat 98% center;
	display: inline-block;
	width: 96%;
	padding: 1% 2%
}
.country-select .fj-rwd {
	margin: 0 0 1em;
	padding: 0;
	color: #fff;
	font-size: 1em;
	display: block
}
.ww-faq-rwd h3 {
	font-family: ProximaNova-Bold;
	font-size: 1.2em;
	color: #333;
	padding: 2% 0 0 2.1%;
	cursor: pointer
}
.featrdjobs p.reslt {
	width: auto;
	font-size: 1.2em;
	margin-top: .5em;
	margin-bottom: 1em
}
aside.refrl-links {
	margin-right: 1em;
	width: auto
}
.ex-ledshp {
	margin-top: .5em
}
.ldrs-bdo.clearfix.banner-future-work {
	min-height: 1em
}
.w28 {
	width: 28%
}
.w26 {
	width: 26%;
}
.w30 {
	width: 30%
}
.w32 {
	width: 41%
}
.w35 {
	width: 35%
}
.w38 {
	width: 38%
}
div.banner-img13 {
	background: url("../../dotcom-images/COG_Q4_MARQUEE_1029_Retail_640.jpg")/*tpa=http://www.cognizant.com/dotcom-images/COG_Q4_MARQUEE_1029_Retail_640.jpg*/ no-repeat;
	background-position: 96% center;
	background-size: cover;
}
div.banner-img14 {
	background: url("../../dotcom-images/COG_Q4_MARQUEE_1029_IoT_640.jpg")/*tpa=http://www.cognizant.com/dotcom-images/COG_Q4_MARQUEE_1029_IoT_640.jpg*/ no-repeat;
	background-position: 66% center;
	background-size: cover;
}
div.banner-img15 {
	background: url("../../dotcom-images/New-Robot-RWD.jpg")/*tpa=http://www.cognizant.com/dotcom-images/New-Robot-RWD.jpg*/ no-repeat;
	background-position: 66% center;
	background-size: cover;
}
div.banner-img16 {
	background: url("../../dotcom-images/COG_Q4_MARQUEE_1029_ITIS_640.jpg")/*tpa=http://www.cognizant.com/dotcom-images/COG_Q4_MARQUEE_1029_ITIS_640.jpg*/ no-repeat;
	background-position: 96% center;
	background-size: cover;
}
div.banner-img17 {
	background: url("../../Pages/404.aspx")/*tpa=http://www.cognizant.com/dotcom-images/New-Travel-RWD.jpg*/ no-repeat;
	background-position: 96% center;
	background-size: cover;
}
div.banner-img18 {
	background: url("../../dotcom-images/code-halo-640.jpg")/*tpa=http://www.cognizant.com/dotcom-images/code-halo-640.jpg*/ no-repeat;
	background-position: 96% center;
	background-size: cover;
}
div.banner-img19 {
	background: url("../../dotcom-images/TZ_homepage-640.jpg")/*tpa=http://www.cognizant.com/dotcom-images/TZ_homepage-640.jpg*/ no-repeat;
	background-position: 96% center;
	background-size: cover;
}
.lat-think-rwd .cur-persp.p-nc-a .pers-ipad {
	display: block;
	font-family: ProximaNova-Regular;
	padding-top: 10px;
	font-size: 1.3em
}
.ww-faq-rwd ul li p a {
	color: #fff;
	text-decoration: underline
}
.busnsbnnr-firstprh {
	width: 100%
}
.latestrwd-coderules {
	text-transform: lowercase
}
.white-lnkrwd.blu-lnk {
	color: #fff;
	text-decoration: underline
}
.vertical.fin-ser-spect {
	text-transform: initial;
	font-family: proximanova-regular;
	font-size: 1em
}
.exp-cod-halo-think .widget-cont p sup {
	font-size: 1.2em
}
.our-cul-mob .item .getingpart p.culture-profile-comment {
	color: #fff;
	font-family: ProximaNova-Regular;
	font-size: .9em;
	padding-top: 5px
}
.cul-desc {
	width: 100%
}
.our-culture {
	padding: 1em .5em
}
.our-cul-tit {
	width: 96%;
	margin-bottom: .8em
}
.our-cul-tit h2 {
	color: #fff;
	font-family: ProximaNova-Bold
}
section#our-culture {
	background-color: #00728f
}
section.carousel-parentwrap {
	background-color: #00728f;
	border: 0
}
section.our-cul-mob .bx-next {
	background: url("../../dotcom-images/320_careers-right-arrow.png")/*tpa=http://www.cognizant.com/dotcom-images/320_careers-right-arrow.png*/ no-repeat
}
section.our-cul-mob .bx-prev {
	background: url("../../dotcom-images/320_careers-left-arrow.png")/*tpa=http://www.cognizant.com/dotcom-images/320_careers-left-arrow.png*/ no-repeat scroll 0 0 transparent
}
.leaders-sph ul li span.ldrs-desig {
	font-family: proximanova-regular;
	padding-top: .4em
}
div.msgIfrmWapper {
	height: auto;
	position: fixed;
	top: 25%;
	width: auto
}
.cur-pers-bg h2.mobile.per {
	display: block;
	font-family: ProximaNova-Regular;
	font-size: .9em;
	top: 24%
}
div.na-note {
	display: block;
	width: 96%;
	color: #00728f;
	font-family: ProximaNova-Regular
}
div.na-note b {
	font-weight: 400
}
.fj-list-rwd {
	margin: 0;
	padding: 1em .75em;
	padding: 1em .75em .3em;
	display: block;
	background: #fff
}
.fj-list-rwd tr.top-gap {
	padding: 1em 0 0 0;
	display: table
}
.fj-list-rwd td {
	margin: .1em 0;
	color: #00728f;
	display: table;
	font-family: ProximaNova-Regular;
	font-size: 1em
}
.fj-list-rwd td span.thead-b {
	font-family: ProximaNova-Bold;
	float: left;
	margin-right: .2em
}
.directors ul li {
	text-transform: inherit
}
.dg-serv-apprchbg {
	color: white;
	background: #00728f
}
.hvr-mob {
	text-decoration: underline !important
}
.digibg-lst {
	background: url(../../dotcom-images/bg-dotwhite.png)/*tpa=http://www.cognizant.com/dotcom-images/bg-dotwhite.png*/ no-repeat 0 .4em
}
div.block.copy-content.ev.fow-cr.cw p a.cod-rul-lrnmre {
	color: #fff;
	display: block;
	font-family: ProximaNova-Semibold;
	margin-top: .5em;
	text-decoration: underline
}
.dig-business .indus-spotlgts .features .mark-contents .hvr {
	color: #00728f;
	background: url(../../dotcom-images/bg-dot.png)/*tpa=http://www.cognizant.com/dotcom-images/bg-dot.png*/ no-repeat .1em .7em;
	display: inline;
	padding: .5em 0 0 1em
}
.dig-business .indus-spotlgts .wrap-ems {
	margin-top: 2em
}
.page-header-dropdown .font12.ch {
	padding-left: 6%
}
div.selectboxcustom .selectboxindex {
	top: 1px
}
div.selectboxcustom select.selectboxindex option {
	font-family: ProximaNova-Regular;
	font-size: 1.4em;
	font-weight: normal;
	padding-top: .6em
}
.msg-info .second-cont textarea {
	font-family: ProximaNova-Regular;
	font-size: 85%;
	width: 97.8%
}
div.contact-cogn-cont .selectboxcustom span {
	background: none repeat scroll 0 0 transparent;
	font-family: ProximaNova-Regular;
	font-size: 1.2em;
	height: 2.3em
}
.contact-cogn-cont input.busi-info-txt {
	font-family: ProximaNova-Regular;
	margin: 0 0 .625em;
	width: 97.8%
}
#dig-vid1 div.icon-play-video, #dig-vid2 div.icon-play-video, #dig-vid3 div.icon-play-video, #dig-vid4 div.icon-play-video {
	margin-top: 8em
}
.widget-cont.portf-rwd .indus-li.indushgt.span8.marg-rwd-li {
	margin-left: 2em
}
.widget-cont.portf-rwd .bcloud-apro-hd {
	color: #00728f;
	font-size: .873em
}
.widget-cont.portf-rwd .indus-list {
	margin-left: 0;
	width: auto
}
.widget-cont.portf-rwd .indus-li li .landing-thumb {
	display: none
}
.widget-cont.portf-rwd .indus-list p {
	display: none
}
.widget-cont.portf-rwd .indushgt li {
	height: 1.2em
}
.widget-cont.portf-rwd .indus-li.indushgt.span8 {
	width: auto
}
.widget-cont.portf-rwd .indus-list h3 a {
	font-size: .9em;
	text-decoration: underline;
	font-family: ProximaNova-Regular;
	color: #00728f;
	background: url(../../dotcom-images/bg-dot.png)/*tpa=http://www.cognizant.com/dotcom-images/bg-dot.png*/ no-repeat .1em .7em;
	display: inline;
	padding: .3em 0 0 1em
}
.strgicgoals-wrap p a.clr-lnkrwd.lnk-bcs {
	color: #000;
	font-family: ProximaNova-Regular;
	font-size: 1em
}
.hm-keep-chal div.vid-btn.dig {
	left: 45%;
	top: 51%
}
.leaders-sph ul li img.bod-plus-sym {
	position: absolute;
	right: 1em;
	top: 46%
}
.cbs-mob-version {
	background: #333;
	color: #fff;
	padding: 1em .5em;
	display: block
}
.cbs-mob-version h2 {
	font-family: proximanova-bold;
	margin-bottom: .5em
}
.cbs-mob-version li {
	margin-bottom: 1em;
	cursor: pointer
}
.cbs-mob-version ul li img {
	position: absolute;
	top: 37%;
	right: .7em
}
.acc-title {
	background: #00728f;
	padding: .3em;
	font-family: proximanova-bold;
	font-size: .95em;
	position: relative
}
.acc-desc {
	background: #0e8aa9;
	padding: 1em .5em;
	font-family: proximanova-regular
}
.acc-desc ul {
	list-style-type: disc;
	margin-left: 1em
}
.acc-desc ul li {
	margin-bottom: 0
}
.acc-desc p:nth-child(2) {
	margin-top: 1em
}
.vid-btn.cld-video {
	top: 7%
}
span.watch-video {
	font-family: ProximaNova-Regular;
	margin-top: .2em
}
.cld p.wrkplce-head-mob {
	font-size: 1em;
	font-family: ProximaNova-Regular;
	color: #FFF
}
.globl-wrkspce-cont.cld {
	padding: 1em
}
div.business-cloud-img {
	background-size: cover;
	background-position: 54% 100%;
	height: 200px
}
div.globl-wrkspce-cont.cld h2 {
	font-size: 1em
}
div.globl-wrkspce-cont.cld h2 span {
	color: #FFF
}
span.careers-commenter-name {
	font-size: .9em
}
.abt-cog-rwd .about-us-cont.wrapper {
	padding: 1em .5em;
	width: auto
}
.fj-list-rwd td a {
	color: #00728f
}
.fj-list-rwd tr.bot-pad {
	padding-bottom: .75em;
	display: block
}
.carrwd-fea {
	background: #fff
}
.seemore.carre a {
	background: 0;
	padding-right: 1.3em;
	margin: 2.1% 2% 7% 3%;
	color: #00728f;
	font-family: ProximaNova-Bold;
	font-size: 1em;
	float: left
}
.up {
	background: #fff url(../../dotcom-images/search-carrersup-rwd.png)/*tpa=http://www.cognizant.com/dotcom-images/search-carrersup-rwd.png*/ no-repeat 92% 71%
}
.down {
	background: #fff url(../../dotcom-images/search-carrers-rwd.png)/*tpa=http://www.cognizant.com/dotcom-images/search-carrers-rwd.png*/ no-repeat 92% 71%
}
.contact-us-rwd .cogni-busi-wrap h2.cntrwd-car {
	font-size: 1.2em;
	color: #fff;
	font-family: ProximaNova-Bold;
	margin: 0;
	background-color: #333;
	padding: 3% 5% 3% 2.1%;
	cursor: pointer
}
div.search-cont {
	font-family: ProximaNova-Regular;
	margin: 1em auto 1em
}
div.search-lft {
	float: left;
	margin-left: 3%;
	width: 91%;
	word-wrap: break-word
}
.page-header-dropdown .dropdown-trigger.dpdwn-lnd-anc {
	background: 0;
	margin: -2px 0 0 -2%
}
.loc-down-ar.andr {
	background: url("../../dotcom-images/search-carrers-rwd.png")/*tpa=http://www.cognizant.com/dotcom-images/search-carrers-rwd.png*/ no-repeat scroll 99% center #FFFFFF;
}
.four-box-consol .chip-item.crm-chip-item .chip-header {
	background: url("../../Pages/404.aspx")/*tpa=http://www.cognizant.com/dotcom-images/dot-bg.png*/ no-repeat scroll left 0.7em #FFFFFF;
}
.consulting-solutions .wrapper .triangle-links.communi-cation li a {
	display: block;
}
.bod-info .frst-desc {
	margin-top: 0;
}
.leaders-sph ul li .ldr-sph-mob {
	font-family: ProximaNova-Regular;
}
.overview-lft ul.ov-li li {
	font-family: ProximaNova-Light;
	font-size: .9em;
	color: #FFF;
}
.follow-us .hm-fol-us, .approuch-ac-vid-mob, .contact-wdgt, .kc-show-rwd, .mob-our-apprch .teaser-block .teaser-item .teaser-header img.plus-symbol, .abt-cog-rwd .relatesolt-cont .row-fluid ul, .ldrs-desig, .lat-think-rwd .cur-pers .cog-rwd-latest, section.our-culture, #playImgdiv_mob.business-cloud-img, .abt-cog-rwd .relatesolt-cont .row-fluid ul.mbl {
	display: block
}
.disp-mob {
	display: block !important;
}
.contact-us-rwd .contact-cogn-cont .msg-head, .contact-us-rwd .contact-html, .cog-ftr, .contact-us-rwd .pagemenuwrp, .contact-us-rwd .cogn-careers, .lat-think-rwd .sidebar.dsktp-tblet, .lat-think-rwd .wrapper.shift-lft, .segments-we-serve .widget-cont ul.widget-img li .tooltip .tooltipinmin, .lat-think-rwd .can-do-att-cognizanti .our-lst-thnkg-pdf, .dndmob, .lat-think-rwd .goalscont-postn .vid-desc span6, .search-tot-bg.lat-think-rwd, .lat-think-rwd .row-fluid .row-fluid .vid-desc.span6, .lat-think-rwd .thoughts .item .our-lst-thnkg-pdf {
	display: none
}
.consulting-solutions>div .block-prompt, .consulting-solutions>div .chip-block .consol-leftcont, .consulting-solutions .delimiter .color2 .consol-head-txt, .consulting-solutions .wrapper .chip-block.chip-block-v4 .chip-item:first-child, .widget-cont ul li .realstateimg .callto-arrow, .hm-nws-bar, .widget-cont ul.widget-img li .tooltip .tooltipinwrp .learnmorewrp, .contact-wdgt #contactushtml .row-fluid, .widget-cont .banner-manufactr ul.meetus li p a.learn, #our-latest-thinking, .pagemenuwrp, div.fow-cr-social, div.join-convrsatn, .code-rules-titl, .video-poster#fow-vid-cr, .fow-bg.fow-cr-list {
	display: none
}
.compover-inv-rwd .tab-nav, .compover-inv-rwd .invdesk-head, .compover-abt-rwd .line-br, .compover-app-rwd .corpo-blue-a.cor-btm-links, .banner-about-us-3 .wrapper-100, .sidbrprnt-contct, .s-share-icon, .bridecrump-wrp ul.subhead, .abt-cog-rwd .cogni-innovation, .abt-cog-rwd .partnership-wrp, .abt-cog-rwd .upcomg-evnt h2, .abt-cog-rwd .hm-newswrp, .strgicgoals-wrap .hm-newswrp, .upcomg-evnt.cont-wrap h2, .codhalo-vid-desk, .prod-sec .inv-tools-rt, .cur-pers-mob .wrapper.shift-lft, .upcomg-evnt .read-more-white,.os-overview-rt{
	display: none
}
.prod-sec .workport-info, .approuch-vid-desk, .four-box-consol .block-prompt, .four-box-consol .chip-item .chip-copy, ul.social-icons, .contact-us-rwd .ulnav.clearfix, .contact-us-rwd .abtus-contus-loc.clearfix, .home-carous .item .social-icons, .cont-desktop, .consulting-solutions .more-link, .linkedIn-wrp .carslwrp h2.blue-rwd a.hide-rwd, .mob-our-apprch .block-prompt div, .kc-hide-rwd, .consulting-solutions .media, .one-sol-txt, .indus-expt, .stategic-cap, .mob-our-apprch .teaser-block .teaser-item .teaser-header img, .resources, .four-box-consol .ind-txt, .crm-rwd-chipcont .crm-rwd-maincont {
	display: none
}
.dig-business .indus-spotlgts.clearfix img, .dig-business .indus-spotlgts.clearfix div p, .dig-business .no-disp-640-below, .dig-business .video-desc, section#Industry-Solutions, .overview-lft-cont img, .cont-wrap.evnt-lst, .events-mob, #ourcomp-txt, .featrdjobs p.hide-p, #companymap .tab-nav, .findjobs p a.see-all-car, .vet-sec, .thoughts.ex-le, .bod-title h2, .jobtable, .thoughts .ecom-h2, .thoughts .learn-latest-rwd, .indussoltn-wrp .read-latest-rwd, .lat-think-rwd .cur-persp.p-nc-a .see-all, .ldr-img-cont, .lat-think-rwd .cur-pers .current-desk, .cbs-ourapp, .cld p.wrkplce-head {
	display: none
}
.abt-cog-rwd .relatesolt-cont .row-fluid ul.dsk, div.all-pers-wrp, div.search-rt, div.na-note.mob-na {
	display: none
}
#e-community-sectn.widget-wrap, .lat-think-rwd#futureofwork, .lat-think-rwd #manufact-menu, section#e-community-sectn, #exec-view, #thebook, #download-app, #tabnav-desk, #goalattrres3, #goalattrres4, #goalattrres5, #results1.nw-res-bg .indussoltn-cont .tab-nav li .arrow, .prod-sec #resources, section#resources, #partner-serv, #twitter_id .bx-wrapper .bx-controls-direction a.bx-prev, #twitter_id .bx-wrapper .bx-controls-direction a.bx-next, #cognews, #hm-ban .bx-wrapper .bx-controls, #investor-tools .vid-contr, #banner_image.banner-events-page, #playImgdiv.our-approach-video, #playImgdiv.business-cloud-img, #webcast {
	display: none
}
.disp-dsk {
	display: none !important;
}
.module-74.swiss .chip-block.chip-block-v2 .chip-item {
	background: #fff;
	margin: 0;
}
.module-74.swiss .chip-block.chip-block-v2 .chip-item .chip-copy {
	display: none;
}
.module-74.swiss a {
	font-family: proximanova-regular;
	font-weight: normal;
	text-transform: initial;
}
.module-74.swiss .chip-block.chip-block-v2 .chip-item .chip-header {
	background: url("../../Pages/404.aspx")/*tpa=http://www.cognizant.com/dotcom-images/blue-big-dot.png*/ no-repeat scroll 0.2em 0.6em #fff;
	color: #00728f;
	font-size: 1.2em;
	margin: 0;
	padding: 0 0 0 19px;
}
}
@media only screen and (min-width:601px) and (max-width:851px) {
.mob-our-apprch .teaser-header img.real-est {
	top: .5em
}
.widget-cont ul.widget-img li .tooltip .tooltipinwrp {
	padding: 1.5em .8em
}
.chip-block-v2 .chip-item.chip-ind-sols {
	border: 0
}
.auto-res {
	right: 10px;
	left: auto !important;
	width: 240px !important;
	z-index: 99;
	border: 0
}
.ac_results.auto-res .ac_even, .ac_results.auto-res .ac_odd {
	background: none repeat scroll 0 center #3a3a3a;
	color: #fff;
	padding: 2.5% 3.2% 2.5% 8%;
	font-size: .9em
}
.ac_results.auto-res .ac_even:hover, .ac_results.auto-res .ac_odd:hover {
	background-color: #000;
	cursor: pointer
}
}
@media screen and (max-width:540px) {
.vet-sec .vet-container {
	margin-left: 0
}
.vet-container .vet-img {
	float: none;
	padding-left: 0
}
.vet-container .vet-content {
	float: none;
	margin-left: 0;
	width: auto
}
}
@media screen and (min-width:481px) and (max-width:640px) {
.bannertext>p.lat-think-bantxt {
	color: #000;
	font-family: proximanova-light;
	font-size: 1.2em;
	padding: 1em .5em
}
.consulting-solutions .chip-copy.font55 {
	padding-left: 0
}
.vertical.fin-ser-spect {
	width: 40%
}
.compover-app-rwd .appeal-cont h2 {
	font-size: 1.3em
}
div.msgIfrmWapper {
	left: 30%
}
.upcomg-evnt.cont-wrap .evnt-lft {
	float: left;
	padding-left: 2%;
	width: 15%
}
.upcomg-evnt.cont-wrap .evnt-lft {
	width: 15%
}
}
@media screen and (min-width:480px) and (max-width:640px) {
.exp-code-txt {
	display: block
}
.exp-cod-halo-think .widget-cont p.lrn {
	width: 63%;
	display: none
}
.exp-cod-halo-think .widget-cont p.lrn2 {
	display: none
}
.exp-cod-halo-think .widget-cont .frt {
	background: url("../../dotcom-images/ipad-small.png")/*tpa=http://www.cognizant.com/dotcom-images/ipad-small.png*/ no-repeat scroll center top / 100% 100% transparent;
	height: 120px;
	margin-left: 0;
	margin-top: .5em;
	width: 9.5em
}
.exp-cod-halo-think .widget-cont p {
	color: #000;
	float: left;
	font-family: ProximaNova-Regular;
	font-size: .95em;
	padding-top: .6em;
	width: 63%
}
div.avail-app-str {
	float: left;
	height: 2em;
	margin-top: .3em;
	width: 4.6em
}
.contact-us-rwd .msg-info {
	float: left
}
.contact-us-rwd .second-cont {
	float: left;
	width: 50%;
	margin-left: 3%
}
.contact-us-rwd .first-cont {
	width: 46%;
	float: left
}
.contact-us-rwd .contact-cogn-cont .contact-submit {
	float: left;
	width: 100%
}
.contact-us-rwd .contact-cogn-cont .contact-submit-btn {
	width: 100%
}
.contact-us-rwd .msg-info textarea {
	width: 98%;
	resize: none;
	height: 175px
}
.font-3.w35 {
	font-size: .8em;
	width: 59%
}
h2.font-1 {
	font-size: 1em;
	width: 45%
}
.hm-ban-more{
	margin:1em auto;
}
div.hm-ban-more.hm-ban-more-12, div.hm-ban-more.hm-ban-more-13, div.hm-ban-more.hm-ban-more-14, div.hm-ban-more.hm-ban-more-15, div.hm-ban-more.hm-ban-more-16, div.hm-ban-more.hm-ban-more-17,div.hm-ban-more.hm-ban-more-19 {
	font-family: ProximaNova-Bold;
	font-size: .82em;
	/*left: 2%;
	top: 85%*/
}
.widget-cont.portf-rwd .indus-li.indushgt.span8.marg-rwd-li {
	margin-left: 2em
}
}
@media screen and (max-width:480px) {
.bannertext>p.lat-think-bantxt {
	color: #000;
	font-family: proximanova-light;
	font-size: .95em;
	padding: 1em .5em
}
.bannertext>p.lat-think-bantxtw {
	color: #000;
	font-family: proximanova-light;
	font-size: .95em;
	padding: 1em .5em
}
.lat-think-rwd .cur-pers h2 {
	font-size: 1em
}
.consulting-solutions .chip-copy.font55 {
	padding-left: 0
}
.consulting-solutions h2 {
	font-size: 1.2em
}
.vertical.fin-ser-spect {
	width: 97%
}
.consulting-solutions .triangle-links-block .triangle-links+.triangle-links {
	padding-left: 0;
	margin-top: .5em
}
.exp-cod-halo-think .widget-cont .frt {
	background: url("../../dotcom-images/ipad-small.png")/*tpa=http://www.cognizant.com/dotcom-images/ipad-small.png*/ no-repeat scroll center top / 100% 100% transparent;
	height: 75px;
	margin-left: 0;
	margin-top: .5em;
	width: 6em
}
div.avail-app-str {
	float: right;
	height: 2em;
	margin-top: .3em;
	width: 4.6em
}
.exp-cod-halo-think .widget-cont p {
	float: left;
	font-family: ProximaNova-Regular;
	font-size: .95em;
	color: #000;
	padding-top: .6em;
	width: 64%
}
.exp-cod-halo-think .widget-cont p.lrn {
	width: 100%;
	display: block
}
.compover-app-rwd .appeal-cont h2 {
	font-size: .9em
}
.widget-cont .banner-manufactr ul.hm-meet {
	margin-left: 0
}
.widget-cont .banner-manufactr ul.meetus li {
	height: auto;
	margin-bottom: 1em
}
.cur-pers-bg h2.mobile {
	right: 1em;
	width: 25%;
	font-size: 1em
}
.cur-pers-bg .onipad {
	right: 9%;
	top: 43%;
	font-size: 1em
}
.cur-pers-bg .onipad .applogo {
	right: -1%;
	top: 2em
}
.hm-keep-chal .globl-wrkspce h2 {
	margin-bottom: .4em
}
.hm-keep-chal .wrkplce-head {
	line-height: 1.1em
}
.hm-keep-chal .vid-btn {
	top: 35%;
	left: 42%
}
.contact-us-rwd .address-list {
	width: 100%
}
.confirm-success-Close {
	padding: 13px
}
.msgIfrm {
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid;
	width: 90%
}
.contact-us-rwd .contact-cogn-cont .contact-submit {
	text-align: left;
	margin: 3% 0 0;
	width: 100%
}
.contact-us-rwd .contact-cogn-cont .contact-submit-btn {
	border: 0;
	background-color: #00728f;
	color: #fff;
	font-size: .8em;
	font-family: ProximaNova-Bold;
	padding: 2% 4%;
	font-weight: normal;
	width: 100%
}
.hm-ban-more.hm-ban-more-11, .hm-ban-more.hm-ban-more-12, .hm-ban-more.hm-ban-more-10, .hm-ban-more.hm-ban-more-9 {
	top: 40%
}
.hm-ban-more.hm-ban-more-7 {
	top: 50%
}
.hm-ban-more.hm-ban-more-9 {
	top: 50%
}
.hm-ban-more.hm-ban-more-4 {
	top: 38%
}
.wfont-2 {
	width: 60%
}
.wfont-3 {
	width: 55%
}
.wfont-4 {
	width: 55%
}
.bridecrump-wrp.pg-title-480 {
	height: 48px
}
.diver-rwd .appeal-cont h2 {
	font-size: .773em
}
.exp-cod-halo-think .widget-cont p.lrn2 {
	display: block
}
.exp-code-txt, .hme-thumb-img.code-rul, .hme-thumb-img.smac, .hme-thumb-img.fut-of-wrk, .hmban .hmban-p, .hm-ban-txt p.font-3, .hm-ban-txt p.font-2 {
	display: none
}
.widget-cont.portf-rwd .indus-li.indushgt.span8 {
	float: none;
	margin-top: .2em
}
.widget-cont.portf-rwd .indus-li.indushgt.span8.marg-rwd-li {
	margin-left: 0
}
.four-box-consol .chip-item .chip-header,.chip-block-v5.analytics .chip-item .chip-header,.chip-block-v5 .chip-item .chip-header {
	background: url(../../dotcom-images/bg-dot.png)/*tpa=http://www.cognizant.com/dotcom-images/bg-dot.png*/ no-repeat left .6em #fff;
}
.strgicgoals-wrap .span11 p a.pd-down {
	color: #000000;
}
/*.page-header-dropdown .dropdown-content {
	display: none !important;
}*/
}
@media screen and (max-width:479px) {
h2.font-1 {
	font-size: .75em
}
.hm-ban-more{
	margin:1em auto;
}
div.hm-ban-more.hm-ban-more-12, div.hm-ban-more.hm-ban-more-13, div.hm-ban-more.hm-ban-more-14, div.hm-ban-more.hm-ban-more-15, div.hm-ban-more.hm-ban-more-16, div.hm-ban-more.hm-ban-more-17,div.hm-ban-more.hm-ban-more-18,div.hm-ban-more.hm-ban-more-19 {
	/*top: 63%;
	left: .5em;*/
	font-size: .75em;
	font-family: ProximaNova-Bold
}
}
@media screen and (max-width:440px) {
.selectboxcustom {
	width: 101%
}
}
@media screen and (min-width:371px) and (max-width:480px) {
div.msgIfrmWapper {
	left: 22%
}
}
@media screen and (max-width:370px) {
div.msgIfrmWapper {
	left: 10%
}
}
@media screen and (min-width:366px) and (max-width:640px) {
div.indus-bg.kc-show-rwd.mob {
	background: url("../../dotcom-images/mobility-rwd.jpg")/*tpa=http://www.cognizant.com/dotcom-images/mobility-rwd.jpg*/ no-repeat scroll 50% 30% / cover transparent;
	height: 180px
}
div.indus-bg.kc-show-rwd.soc {
	background: url("../../dotcom-images/social-rwd.jpg")/*tpa=http://www.cognizant.com/dotcom-images/social-rwd.jpg*/ no-repeat scroll 50% 30% / cover transparent;
	height: 180px
}
}
@media screen and (max-width:365px) {
div.indus-bg.kc-show-rwd.mob {
	background: url("../../dotcom-images/mobility-rwd-340.jpg")/*tpa=http://www.cognizant.com/dotcom-images/mobility-rwd-340.jpg*/ no-repeat scroll 50% 30% / cover transparent;
	height: 180px
}
div.indus-bg.kc-show-rwd.soc {
	background: url("../../dotcom-images/social-rwd-340.jpg")/*tpa=http://www.cognizant.com/dotcom-images/social-rwd-340.jpg*/ no-repeat scroll 50% 30% / cover transparent;
	height: 180px
}
}
@media only screen and (min-width: 340px) and (max-width: 640px) {
.mob-our-apprch img.real-est {
	top: 0.5em;
}
}
@media screen and (min-width:320px) and (max-width:640px) {

 #hm-ban .bx-wrapper .bx-pager{display:none;}
.close-vid{width:30px; height:30px;right:10%}


.over-zdlc .inv-tools-lft{
	width:auto;
}
.offering .caplits-wrp-left {
    float: none;
    width: 100%;
}
.offering .caplits-wrp-rgt {
    float: none;
    margin-left: 0;
    width: 100%;
}
.block-prompt.ers-approach > p {
    color: #fff;
    font-size: 0.8em;
    line-height: 1.2em;
}
.block-prompt.ers-approach > p:first-child {
	Margin-top:0;
}
section#annual-report {
    height: auto;
}
section#annual-report div.widget-cont {
    margin-bottom: 0.8em;
}	
.strgicgoals-wrap p a{
/*	color:#00718f;*/ 
 }	
.content-style-1 .cloud-our-app {
    padding-bottom: 0;
}	
.edu-rwd{
	display:none;
}
.hm-ban-more.hm-ban-more-19 a{
	margin-top:2em;
	display:block;
}
.globl-wrkspce-cont {
    min-height: 6em;
}
.line-spacing {
    margin-bottom: 0.5em;
}
.vid-btn {
    left: 40.2%;
    top: 32.2%;
}	
div.globl-wrkspce-res.asst-serv{
	background: url("../../Pages/404.aspx")/*tpa=http://www.cognizant.com/dotcom-images/assetSERV-vid-thumb.jpg*/ no-repeat scroll center top #1f1d20;
}
div.globl-wrkspce-res.asst-serv.security-sol {
    background: url("../../dotcom-images/ERSS-video-thumb.jpg")/*tpa=http://www.cognizant.com/dotcom-images/ERSS-video-thumb.jpg*/ no-repeat scroll center top #1f1d20;
}
	.triangle-links li {
    line-height: 15px;
    padding-top: 10px;
}
#iot-nav .imgcentr.bannertext {
    padding-top: 3em;
	width:20em;
}
.contact-us-rwd{
	margin-top:-1px;
}
#our-approach.mob-our-apprch img.real-est {
    top: 0.5em;
}
.chip-block-v5 .chip-item {
    /*background-color: #10c2eb;
    height: 283px;*/
    overflow: hidden;
    width: auto;
}
.chip-block-v5 .chip-copy {
    display: none;
    padding: 14px 24px 22px;
}
.chip-block-v5 .chip-item:nth-child(2n) {
    margin-left: 0px;
}
.chip-block-v5 .chip-item:nth-child(n+3) {
    margin-top: 10px;
}
.module-80 .block-prompt {
    margin-bottom: 15px;
}
 
 
.hp-perspective-bg {
    background-position: 50% 0%;
    background-size: cover !important;
    height: 148px;
    padding-top: 0px;
    background-color: transparent;
    background-image: url('../../../uat.cognizant.com/dotcom-images/rwd-HP-perspectives-banner.jpg')/*tpa=http://uat.cognizant.com/dotcom-images/rwd-HP-perspectives-banner.jpg*/;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    width: 100%;
    min-height:unset;
    display: none;
}
 
 .dk-banner-hd{
    font-size: 1em;
    color: #021e2a;
    width: 100%;
    position: relative;
    top: 28px;
    text-transform: uppercase;
    text-align: center;
font-family:ProximaNova-Regular;
display:block;}
 
.oldhero-but {
    width: 110px;
    padding: 9px 12px 7px;
    margin-top: 15px;
    background: url('../../dotcom-images/nav-arrow-m.png')/*tpa=http://www.cognizant.com/dotcom-images/nav-arrow-m.png*/ no-repeat scroll 90% 9px #3B99BE;
    font-size: 10px;
    text-transform: uppercase;
    position: unset;
    top: 0px;
    height: auto;
    float: left;
    text-decoration:none !important;
}
 
.oldhero-but1 {
    padding: 9px 19px 7px 12px;
    margin-top: 15px;
    margin-left: 12px;
    background: url('../../dotcom-images/nav-arrow-m.png')/*tpa=http://www.cognizant.com/dotcom-images/nav-arrow-m.png*/ no-repeat scroll 90% 9px #3B99BE;
    text-align: left;
    font-family: ProximaNova-Bold;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    width: 110px;
    float: left;
     text-decoration:none !important;
}
 
.oldhero-iot {
    padding: 9px 19px 7px 12px;
    text-decoration: none !important;
    margin-top: 15px;
    margin-left: 12px;
    background: url('../../dotcom-images/nav-arrow-m.png')/*tpa=http://www.cognizant.com/dotcom-images/nav-arrow-m.png*/ no-repeat scroll 91% 9px #3B99BE;
    text-align: left;
    font-family: ProximaNova-Bold;
    color: #FFF;
    font-size: 10px;
    float: left;
    text-transform: uppercase!important;
    width: 114px;
      
}
.dsk-appstor {
    margin-top: 12px;
    margin-right: 10px;
}
.dsk-appstor ul li a img{display:none;}
.dsk-appstor ul li:first-child a {
   width: 116px;
    height: 30px;
    background: none; 
    color: rgb(40, 150, 195); 
    text-decoration: underline;
    font-family: ProximaNova-Bold,arial;
    font-size: 0.5em; 
    line-height: 11px;
}
.dsk-appstor ul li a {
       background: url('../../../uat.cognizant.com/dotcom-images/rwd-download-icon.png')/*tpa=http://uat.cognizant.com/dotcom-images/rwd-download-icon.png*/ no-repeat scroll 8px 0px transparent;
    width: 116px;
    height: 30px;
}

}
 @media screen and (min-width:320px) and (max-width:480px) {
.module-24 .block-title.indus-try {
    margin-bottom: 0;
}
.realstateimg .customer-exp-mgmnt {
    background: none;
} 
div.globl-wrkspce-res.life-engage {
    background: url("../../Pages/404.aspx")/*tpa=http://www.cognizant.com/dotcom-images/lifeengage-thumb.jpg*/ no-repeat scroll center top #1f1d20;
}	 
.mob-seg-serv .wrapper ul li .realstateimg.clearfix .twoline-plus > img {
    top: 14%;
}
.sm-life {
    font-size: 20px;
}
.margn-top{
	 margin-top: 10px;	
}	 
.hm-keep-chal.digt-bg.kc-show-rwd {
	background: url("../../dotcom-images/640_digital_business_service.jpg")/*tpa=http://www.cognizant.com/dotcom-images/640_digital_business_service.jpg*/ no-repeat scroll center top transparent;
	height: 200px
}
.consulting-solutions .triangle-links-block .triangle-links + .triangle-links.wid {
	padding-left: 0;
}
.dsk-appstor {
    margin-right: 10px;
    width:384px;
    position: relative;
    margin-top: 60px;
}
.dk-banner-hd{font-size:.72em;}
.dsk-appstor ul{
    position: absolute;
    top: 35px;
    right:0;
}
.dsk-appstor ul li:first-child {
    text-align: center;
    float: left;
    margin-right: 42px;
    width: 116px;
    margin-bottom: 0px;

}
.dsk-appstor ul li {
    float: left;
    width: 30%;
}

}
 @media screen and (min-width:481px) and (max-width:640px) {
	.consulting-solutions .triangle-links-block .triangle-links + .triangle-links.wid {
	padding-left: 2em;
}
.hm-keep-chal.digt-bg.kc-show-rwd {
	background: url("../../dotcom-images/640_digital_business_service.jpg")/*tpa=http://www.cognizant.com/dotcom-images/640_digital_business_service.jpg*/ no-repeat scroll center top transparent;
	height: 200px
}
.imgcentr.bannertext h2,.digi-iot a.learn-mr{
	padding-left:0.313em;
}
.dsk-appstor ul li:first-child{width:auto;}
}
@media screen and (min-width:320px) {
.imgcentr.bannertext h2,.digi-iot a.learn-mr{
	padding-left:0.313em;
}

}
@media screen and (max-width:320px) {
.hm-keep-chal {
	padding-top: 42%
}
.hm-keep-chal .globl-wrkspce-cont {
	padding: .5em 0
}
.hm-keep-chal .globl-wrkspce h2 {
	font-size: 1em
}
.hm-keep-chal .wrkplce-head {
	font-size: .75em;
	width: 44%;
	line-height: 1.25em
}
.cur-pers-bg h2.mobile {
	right: 3em
}
.cur-pers-bg .onipad {
	right: 11%;
	top: 54%;
	font-size: .9em
}
.hmban .hmban-h {
	font-size: .9em
}
.hmban a.hmban-lm {
	font-size: .7em
}
.bridecrump-wrp.pg-title-320 {
	height: auto
}
.msgIfrm {
	height: 115px
}
.font-1 {
	font-size: .65em
}
.hm-keep-chal .vid-btn {
	left: 45%
}
.hm-keep-chal .globl-wrkspce {
	min-height: 8em
}
.hm-ban-more.hm-ban-more-4, .hm-ban-more.hm-ban-more-7, .hm-ban-more.hm-ban-more-9, .hm-ban-more.hm-ban-more-10, .hm-ban-more.hm-ban-more-11, .hm-ban-more.hm-ban-more-12 {
	font-size: .5em
}
#results1.nw-res-bg .indussoltn-cont .tab-nav li div.txt, #results1.nw-res-bg .indussoltn-cont .tab-nav li.active div.txt {
	font-size: .65em;
	padding: 1em .5em;
	line-height: 1.2em
}
.findjobs p {
	font-size: 1em
}
.country-select .fj-rwd {
	font-size: .9em
}
.abt-cog-rwd .relatesolt-cont.fow-live ul li a {
	font-size: 1em
}
.page-header-dropdown .font12 {
	padding-left: 3%
}
.ww-faq-rwd ul li span.plus, .ww-faq-rwd ul li span.minus {
	padding: 1% 10% 1% 2%;
	width: 86%
}
.widget-cont.portf-rwd .indus-li.indushgt.span8 {
	float: none;
	margin-top: .2em
}
.widget-cont.portf-rwd .indus-li.indushgt.span8.marg-rwd-li {
	margin-left: 0
}
.hm-keep-chal.digt-bg.kc-show-rwd {
	background: url("../../dotcom-images/320_digital_business_service.jpg")/*tpa=http://www.cognizant.com/dotcom-images/320_digital_business_service.jpg*/ no-repeat scroll center top transparent;
	height: 200px
}
.our-cul-tit {
	width: 92%
}
div.widget-cont {
	margin: 1.3em 4% 1.5em
}
}
@media screen and (min-width:640px) {
	
	}
p.font-3 {
	margin-top: .5em;
	line-height: 1.1em;
}
div.hm-ban-txt {
	display: block;
	margin-left: 0.5em;
	width: 34em;
}
.hm-ban-txt p { 
width: 91%; 
}

 @media screen and (min-width:980px) and (max-width:1200px){
 	#hm-ban .bx-wrapper div.bx-pager{
		margin-left:2.7%;
	}
 }


@media screen and (min-width:320px) and (max-width:640px){
.sidbrprnt-contct{display:none !important;}
}

 