.node-type-article .pane-node-created .pane-title {
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
	display: inline-block;
}

.node-type-article .pane-node-created .pane-content {
	display: inline-block;
}

.node-type-article .pane-node-created {
	margin-bottom: 0;
}

.node-type-article .pane-node-body p {
	line-height: 18px;
	color: #000;
}

.node-type-article .pane-node-body ul li {
	color: #000;
}

.node-type-article .view-articles .excerpt-block {
	height: auto;
}

.node-type-article .view-articles .excerpt-block img {
	display: none;
}

.node-type-article .view-articles .excerpt-block section {
	width: auto;
	margin-left: 0;
}

.node-type-article .view-articles .excerpt-block section h4 {
	margin-bottom: 5px;
}

.node-type-article ul li {
	line-height: 18px;
}

.pane-cvs-ui-cvs-ui-article-np {
  width: 50%;
  float: left;
}

.node-type-article .stats, .node-type-featured-hiring-access .stats {
  float: left;
  width: 50%;
  margin-top: 52px;
}

.count .shares, .count .views {
  font-family: "HelveticaNeueW01-75Bold";
}

.count span {
  color: #000;
  font-size: 13px;
}