.grid-3 .btn {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.grid-3.views-row-4 {
	margin-right: 0;
}

.block .views-field-field-block-image {
  margin-bottom: 15px;
}

.block .views-field-title {
  color: #000;
  font-size: 15px;
  font-family: "HelveticaNeueW01-75Bold";
  margin-bottom: 15px;
}

.block .views-field-edit-node a {
	color: #CC0000;
	text-decoration: none;
}

.header-cta {
    background-image:url(../img/dotborder.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/dotborder.png*/;
    background-repeat:repeat-x;
    margin-bottom: 60px;
}
.header-cta p {
  display: none;
}
.header-cta .btn {
  margin: 0 auto
}

.header-cta .grid-3 {
  margin-right: 0;
  float: right;
}

#block-quicktabs-careers-header {
  background: #CC0000;
  padding: 20px;
}

#block-quicktabs-careers-header:after {
  content: '';
  clear: both;
  display: table;
}

#block-quicktabs-careers-header p {
  color: #fff;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: "HelveticaNeueW01-75Bold";
  line-height: 26px;
}

#block-quicktabs-careers-header .btn {
  border-color: #fff;
  color: #FFF;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#block-quicktabs-careers-header .btn:hover {
  color: #CC0000;
  background: #fff;
}

#block-quicktabs-careers-header .item-list a {
  border: 3px solid #fff;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  float: left;
  padding: 20px 25px;
  display: block;
  font-family: "HelveticaNeueW01-75Bold";
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#block-quicktabs-careers-header .item-list a:hover {
  background: #fff;
}

#block-quicktabs-careers-header .item-list li.active a {
  background: #fff;
  color: #CC0000;
  position: relative;
}

#block-quicktabs-careers-header .item-list li.active a:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #cc0000 transparent;
  position: absolute;
  left: 47%;
  bottom: -5px;
}

.view-who-we-are, .view-our-businesses {
  width: 100%;
  float: left;
  margin-bottom: 80px;
}

.view-who-we-are {
  margin-bottom: 30px;
}

.view-who-we-are .block {
  margin-bottom: 40px;
}

.view-our-businesses {
  background: #f3f3f3;
  padding: 30px 320px;
  margin: 0 -320px 80px -320px;
}

.pane-2 .grid-3 {
  margin-right: 0;
}

.pane-2 .copy {
  font-size: 18px;
  line-height: 30px;
  font-family: "HelveticaNeueW01-75Bold";
}

.view-who-we-are img {
  width: 100%;
  height: auto;
}

#block-block-70 {
  margin-top: 25px;
}

#block-block-70 h2 {
  font-size: 38px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

#block-block-70 .copy {
  margin-bottom: 25px;
}

.pane-featured-hiring-access {
  float: left;
  width: 100%;
  margin-bottom: 60px;
}

.pane-featured-hiring-access .views-field-field-image {
  margin-bottom: 15px;
}

#node-2342 h2, #node-2343 h2 {
  display: none;  
}

#quicktabs-careers_header .quicktabs-tabs {
  margin-top: -8px;
}

@media screen and (min-width: 910px) {

  .grid-3.views-row-last {
    margin-right: 0;
  }

  .grid-3 .btn {
    width: 100%;
  }

  .sticky-wrapper .stuck {
    position: fixed;
    top: 0;
  }

  .fixed-sidebar-menu.static ul {
    position: relative;
  }

  .fixed-sidebar-menu ul a {
    color: #000;
  }

  .fixed-sidebar-menu ul a.active {
    color: #cc0000;
  }

  #block-quicktabs-careers-header {
    padding: 40px 2000px;
    margin: 0 -2000px 60px -2000px;
  }

  #block-quicktabs-careers-header .btn {
    width: auto;
  }

  #block-quicktabs-careers-header .item-list {
    float: right;
    width: 224px;
  }

  #block-quicktabs-careers-header .quicktabs-tabpage {
    width: 712px;
    float: left;
  }

  #block-quicktabs-careers-header .item-list li.active a:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #cc0000;
    float: left;
    margin-left: -5px;
    position: absolute;
    left: 0;
    bottom: 10px;
  }
  
  .view-who-we-are img {
    width: auto;
  }
}