.front .divider-bottom {
	border-bottom: none;
}

#block-views-our-businesses-block .contextual-links-region {
	position: static;
}

.front #block-views-our-businesses-block .row {
	margin-bottom: 15px;
}

.view-our-businesses .views-row {
	padding-top: 10px;
}

.tweets-pulled-listing .tweet-author a {
  font-size: 16px;
}

#node-60 .content {
	display: none;
}

@media only screen and (max-width: 909px) {
	.front .navbar-primary.divider-bottom {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.front #block-views-our-businesses-block>h2 {
		text-align: center;
	}
	
	/*.front .view-our-businesses .views-row img {
		display: block;
		margin: 0 auto;
	}*/
	
	.front .view-our-businesses .views-row {
		float: none;
		margin: 0 auto;
	}
	
	.front .view-our-businesses .view-footer {
		text-align: center;
	}
	
	#block-views-featured-posts-block .carousel-controls .carousel-direction-nav {
		margin-right: -50px;
	}
}
