#health-research .field-name-body h2 {
  margin-bottom: 15px;
}

#health-research .large-text p {
  margin-top: 0;
  margin-bottom: 60px;
}

#health-research .large-text p.help-text {
  margin-bottom: 30px;
}

.pane-node-body p.help-text {
	margin-bottom: 30px;
	color: #000;
	font-size: 18px;
}

.view-research-by-category {
	background: #EEEEEE;
	padding: 0 2000px;
	margin: 0 -2000px;
}

.view-research-by-category .view-title {
	font-size: 26px;
	font-weight: bold;
	margin: 60px 0;
}

.view-research-by-category #edit-field-research-tags-tid-wrapper,
.view-research-by-category .views-widget-sort-by {
	border: none !important;
	background-color: inherit;
	font-size: 12px;
}

.view-research-by-category .close-button {
	background: url(../img/research-close.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/research-close.png*/ no-repeat;
	width: 30px;
	height: 35px;
	background-size: 18px 21px;
	float: right;
	margin-top: 60px;
	cursor: pointer;
	display: none;
}

.view-research-by-category .view-header .view-title {
	float: left;
}

.view-research-by-category p {
  line-height: 18px;
}

.view-research-by-category .views-widget-sort-by {
	padding-bottom: 40px;
}

.view-research-by-category #edit-field-research-tags-tid-wrapper .views-widget,
.view-research-by-category .bef-select-as-links {
	display: inline-block;
}

.view-research-by-category #edit-field-research-tags-tid-wrapper .views-widget .form-item,
.view-research-by-category .bef-select-as-links .form-item {
	background-image: none;
	display: inline-block;
	padding: 0 5px;
}

.view-research-by-category #edit-field-research-tags-tid-wrapper .views-widget .form-item a,
.view-research-by-category .bef-select-as-links .form-item a {
	color: #CC0000;
	/*font-weight: bold;*/
	text-decoration: none;
}

.view-research-by-category .views-widget-filter-field_research_tags_tid label,
.view-research-by-category .views-widget-sort-by label {
	background-color: inherit;
	border: none;
	color: #646464;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	padding: 0;
}

.view-research-by-category .views-submit-button {
	display: none;
}

.view-research-by-category .views-row {
	display: inline-block;
	vertical-align: top;
}

.view-research-by-category .views-row img {
	width: 224px;
	height: 200px;
}

.view-research-by-category .views-row {
	width: 224px;
}

.view-research-by-category .views-row .views-field-title h4 {
	margin-top: 15px;
}

.view-research-by-category .views-row .views-field-title h4 {
	color: #CC0000 !important;
	text-decoration: none !important;
}

.view-research-by-category .view-content {
	padding-bottom: 60px;
	padding-top: 40px;
	border-top: 1px #a4a6a8 solid;
}

.view-research-by-category .pager-item a,
.view-research-by-category .pager-current {
	width: 11px;
	height: 11px;
	display: block;
	background: none;
	border: 2px solid #CC0000;
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 20px;
}

.view-research-by-category .pager-current {
	background: #CC0000;
}

.view-research-by-category .item-list {
	text-align: center;
}

.view-research-by-category .pager {
	display: inline-block;
	float: none;
	margin-bottom: 60px;
}

.view-research-by-category .prev-btn {
	background: url(../img/flex-nav-arrow.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/flex-nav-arrow.png*/ no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	width: 40px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-position: 15px -20px;
}

.view-research-by-category .prev-btn.disabled {
	background-position: 15px -51px;
}

.view-research-by-category .next-btn {
	background: url(../img/flex-nav-arrow.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/flex-nav-arrow.png*/ no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	width: 40px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-position: -15px -20px;
}



.view-research-by-category .next-btn.disabled {
	background-position: -15px -51px;
}

.view-research-by-category .nav-btns {
	clear: both;
	float: right;
	margin-bottom: -40px;
	position: relative;
	z-index: 100;
}

.view-research-by-category .item-list .pager li.pager-next,
.view-research-by-category .item-list .pager li.pager-last,
.view-research-by-category .item-list .pager li.pager-previous,
.view-research-by-category .item-list .pager li.pager-first {
	display: none;
}

.view-research-by-category .views-row-1,
.view-research-by-category .views-row-2,
.view-research-by-category .views-row-3 {
	padding-right: 16px;
}

.view-research-by-category .views-field-field-cvs-research-image {
	height: 200px;
}

#health-research ul.quicktabs-tabs li {
	white-space: inherit;
	float: left;
	background: #CC0000;
}

#quicktabs-research_categories ul.quicktabs-tabs li.active {
	background: #EEEEEE;
}

#health-research ul.quicktabs-tabs li a,
#health-research ul.quicktabs-tabs li a:hover {
	color: #fff !important;
}

#health-research ul.quicktabs-tabs li.active a {
	color: #000 !important;
}

#health-research ul.quicktabs-tabs a {
	text-decoration: none;
	display: table-cell;
	font-size: 26px;
	text-align: center;
	width: 224px;
	height: 200px;
	vertical-align: middle;
	font-family:'HelveticaNeueW01-75Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 26px;
	/*position: relative;
	top: 50%;
	transform: translateY(-50%);*/
}

#health-research ul.quicktabs-tabs a:hover {
	color: #000 !important;
}

#health-research ul.quicktabs-tabs li {
	margin-left: 14px;
	margin-bottom: 60px;
}

#health-research ul.quicktabs-tabs li.first {
	margin-left: 0;
}

#quicktabs-research_categories ul.quicktabs-tabs li.active:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 15px 15px;
	border-color: transparent transparent #EEEEEE transparent;
	padding-bottom: 62px;
	margin-left: 95px;
	position: absolute;
}

#block-menu-menu-research-insights {
	clear: both;
}

#block-menu-menu-research-insights h2 {
	font-size: 38px;
	line-height: 34px;
}

.research-body h2 {
	margin-top: 60px;
	margin-bottom: 0;
	font-size: 32px;
	font-family: "HelveticaNeueW01-Bold75", sans-serif;
}

.research-body p {
	margin: 0;
	color: #313131;
}

.research-body .help-text {
	margin-top: 60px;
}

.view-cvs-insights.view-display-id-panel_pane_1 .views-field-title {
	margin-bottom: 0;
	font-size: 16px;
}

.view-cvs-insights.view-display-id-panel_pane_1 .views-field-field-display-name,
.view-cvs-insights.view-display-id-panel_pane_1 .views-field-created,
.view-cvs-insights.view-display-id-panel_pane_1 .views-field-body p {
	font-size: 14px;
	font-family: "HelveticaNeueW01-Regular75", sans-serif;
	line-height: 24px;
	color: #313131;
	margin: 0;
}

.view-cvs-insights.view-display-id-panel_pane_1 .views-field-created {
	font-family: "HelveticaNeueW01-Oblique75", sans-serif;
	font-style: none;
	line-height: 20px;
}

.view-cvs-insights.view-display-id-panel_pane_1 .views-field-body p {
	margin-top: 5px;
	line-height: 16px;
}

#quicktabs-medical_adherence_mobile ul.quicktabs-tabs a,
#quicktabs-cost_access ul.quicktabs-tabs a,
#quicktabs-quality_delivery_mobile ul.quicktabs-tabs a,
#quicktabs-specialty_medication_mobile ul.quicktabs-tabs a {
	width: 300px;
}

.mobile .close-button {
	margin-top: 20px;
}

.mobile .view-header .view-title {
	float: none;
	clear: both;
	display: table;
	margin: 0 auto;
	text-align: center;
}

.mobile ul.quicktabs-tabs li.active {
	display: none;
}

.mobile ul.quicktabs-tabs li {
	margin-bottom: 0 !important;
}

.mobile .nav-btns {
	float: none;
	margin-bottom: 15px;
	margin-left: 75px;
}
.mobile .views-widget-sort-by {
	float: none;
	clear: left;
	padding-top: 40px;
}

.mobile .view-content {
	width: 300px;
	float: none;
	clear: left;
	padding-top: 20px;
}

.mobile .view-content {
	padding-bottom: 40px;
}

.mobile .view-research-by-category {
	width: 300px;
}

.mobile .form-item-sort-by label,
.mobile .quicktabs-wrapper {
	display: table;
	margin: 0 auto;
}

.mobile .bef-select-as-links {
	display: block;
}

.mobile .bef-select-as-links > .form-item {
	margin: 0 auto;
	display: table;
}

.mobile .views-field-field-cvs-research-image {
    display: none;
}

.mobile .pager {
	display: none;
}

.mobile {
	display: none;
}

.mobile .quicktabs_main {
	padding-bottom: 20px;
}



#quicktabs-container-research_categories .carousel-control-paging {
  display: none;
}

#quicktabs-container-research_categories a {
  text-decoration: none !important;
}

#quicktabs-container-research_categories a h4 {
  color: #CC0000 !important;
  text-decoration: none !important;
  font-size: 15px !important;
}

#quicktabs-container-research_categories .views-slideshow-controls-text-pause {
  display: none;
}

#quicktabs-container-research_categories .views-slideshow-controls-text {
  float: right;
}

#quicktabs-container-research_categories .views_slideshow_controls_text_next {
  background: url(../img/flex-nav-arrow.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/flex-nav-arrow.png*/ no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: -15px -20px;
}

#quicktabs-container-research_categories .carousel-next.carousel-disabled,  .carousel-next.carousel-disabled {
  background: url(../img/flex-nav-arrow.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/flex-nav-arrow.png*/ no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: -12px -51px;
}

#quicktabs-container-research_categories .views_slideshow_controls_text_previous {
  background: url(../img/flex-nav-arrow.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/flex-nav-arrow.png*/ no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 15px -20px;
}

#quicktabs-container-research_categories .carousel-prev {
  background: url(../img/flex-nav-arrow.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/flex-nav-arrow.png*/ no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 15px -22px;
}

#quicktabs-container-research_categories .carousel-prev.carousel-disabled ,  .carousel-prev.carousel-disabled {
  background: url(../img/flex-nav-arrow.png)/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/flex-nav-arrow.png*/ no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 15px -51px;
}

#quicktabs-container-research_categories .views-slideshow-controls-text {
  display: none;
}

#quicktabs-container-research_categories .flexslider {
  position: relative;
}

#quicktabs-container-research_categories .carousel-direction-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -60px;
}

@media only screen and (max-width: 819px) {
	.mobile {
		display: block;
	}
	#quicktabs-research_categories {
		display: none;
	}
	.view-research-by-category .close-button {
  	display: block;
	}
    .view-research-by-category .views-row-1,
    .view-research-by-category .views-row-2,
    .view-research-by-category .views-row-3 {
        padding-right: 0;
        margin: 0 auto;
        display: block;
    }
}


/*@media only screen and (max-width: 768px) {

	.node-type-article .pane-node-body {
		float: none;
		margin: 0;
		max-width: 100%;
		display: block;
	}
}*/

@media only screen and (max-width: 360px) {	

	div#sidr-left {
		width: 100%;
	}

	.sidr label {
		padding-left: 40px;
	}

	div#sidr-left li {
		padding-left: 40px;
	}

	input#sidr-id-edit-search-block-form--2 {
		padding-right: -30px;
	}
}

@media only screen and (max-width: 909px) {

	.gutter .primary {
  		width: 100% !important;
	}

	.node-type-article .pane-node-body {
		width: 100%;
		display: block;
	}

@media only screen and (max-width: 1127px) {
	.node-type-article .research-insights.block-menu .menu {
		display: none;
	}
}



