/**
 * @file
 *
 * Overriding stylesheet for LTE IE 8
 */

.tweets-pulled-listing .grid_1 {
    width: 219px !important;
}

.views-exposed-form .views-exposed-widget {
    background: none !important;
    border: none !important;
}

.views-exposed-form LABEL {
    color: #000 !important;
}

.view-newsroom-press-releases .views-submit-button .btn {
    margin-top: 0px !important;
}

#edit-submit-newsroom-press-releases {
    margin-top: 0px;
}

.hero-slider .banner-slide.image-left .slide-content {
    position: relative;
    padding-top: 0;
}

.hero-slider .banner-slide.image-right .slide-content {
    position: relative;
    padding-top: 0;
}

.banner-slide.image-left .field {
  float: right;
}

.banner-slide.image-right .field {
  float: left;
}
