.view-newsroom-press-releases .view-empty {
  margin-bottom: 90px;
}

/* testing */
/*.node-type-press-release img#prnejpgad28left {
	position: absolute;
	top: 200px;
}

.node-type-press-release .field.field-name-body.field-type-text-with-summary.field-label-hidden {
	margin-top: 90px;
}*/

.view-newsroom-press-releases  .views-row {
	margin-bottom: 20px;
	min-height: 90px;
}
.view-newsroom-press-releases .view-content {
	padding-top: 30px;
	border-top: solid 1px #646464;
	margin-top: 30px;
}

.node-type-bio div#block-menu-block-1 li.first.leaf.has-children.active-trail.menu-mlid-519:after {
	display: none!important;
}

.view-newsroom-press-releases  .views-row {
	margin-bottom: 20px;
	min-height: 0;
}

.view-newsroom-press-releases .views-field-field-press-release-category {
	float: left;
	clear: left;
	margin-bottom: 20px;
	margin-right: 20px;
    display: none;
}

ul#category-selector {
	padding-right: 10px;
}

.view-newsroom-press-releases #edit-field-press-release-category-tid-wrapper option {
	color: #CC0000;
	font-size: 14px;
	font-family: "HelveticaNeueW01-75Bold";
}

.view-newsroom-press-releases .views-field-field-press-release-date {
	width: auto;
	float: none;
}

.view-newsroom-press-releases .views-field-field-press-release-date span {
	color: #313131;
	font-size: 14px;
	font-family: "Helvectica Neue", sans-serif;
}

.view-newsroom-press-releases .views-field-field-press-release-category-1 div,
.view-newsroom-press-releases .views-field-field-press-release-category-1 span {
	display: inline-block;
	color: #313131;
	font-size: 14px;
	line-height: 18px;
	font-family: "HelveticaNeueW01-Oblique75", sans-serif;
	font-style: oblique;
}

.view-newsroom-press-releases .views-field-title {
	margin: 0;
}

.view-newsroom-press-releases .views-field-title a {
	text-decoration: none;
	color: #CC0000;
	font-size: 16px;
	line-height: 18px;
	font-family: "HelveticaNeueW01-75Bold";
	margin-bottom: 10px;
	display: block;
}

.view-newsroom-press-releases  .views-row-last {
	margin-bottom: 60px;
}

.view-newsroom-press-releases .views-widget-filter-title label {
	display: none;
}

.view-newsroom-press-releases #edit-field-press-release-category-tid-wrapper label {
	display: none;
}

.view-newsroom-press-releases .views-widget-filter-title,
.view-newsroom-press-releases #edit-field-press-release-category-tid-wrapper {
	width: auto;
	border: none;
}

.view-newsroom-press-releases .views-widget-filter-title #edit-title {
	margin: 0 20px 0 0;
	background: url(../img/magnifying-glass.png) no-repeat;
	background-position: 230px 20px;
	padding: 20px 10px;
}

.view-newsroom-press-releases input::-webkit-input-placeholder {
  color: #000;
  font-family: "HelveticaNeueW01-75Bold";
  font-size: 14px;
}

.view-newsroom-press-releases input::-moz-placeholder {
  color: #000;
  font-family: "HelveticaNeueW01-75Bold";
  font-size: 14px;
}

.view-newsroom-press-releases input:-moz-placeholder {
  color: #000;
  font-family: "HelveticaNeueW01-75Bold";
  font-size: 14px;
}

.view-newsroom-press-releases input::-ms-input-placeholder {
  color: #000;
  font-family: "HelveticaNeueW01-75Bold";
  font-size: 14px;
}

.view-newsroom-press-releases #edit-field-press-release-category-tid-wrapper select {
	height: 41px;
	font-size: 14px;
	line-height: 20px;
}

.view-newsroom-press-releases .views-submit-button {
    border: none;
    float: left;
    width: auto;
    margin: 0 0 0 20px;
}

.view-newsroom-press-releases .views-submit-button .btn {
	padding: 14px 20px;
	margin-top: 0;
	font-family: "HelveticaNeueW01-75Bold";
}

.view-newsroom-press-releases .press-release-header {
	font-size: 28px;
  font-family: "HelveticaNeueW01-75Bold";
  display: block;
  color: #000;
}

.view-newsroom-press-releases .press-release-header.filter {
	display: none;
}

.view-newsroom-press-releases .press-release-body {
	font-size: 18px;
	font-family: "HelveticaNeueW01-75Bold";
	line-height: 30px;
	color: #313131;
}

.view-newsroom-press-releases .view-header {
	padding-bottom: 60px;
	margin-bottom: 20px;
	border-bottom: solid 1px #646464;
}

.view-newsroom-press-releases .view-header p {
	margin: 0;
}

.view-newsroom-press-releases .form-item-field-press-release-category-tid .description {
	display: none;
}

.select-header {
  width: 210px;
  line-height: 23px;
  font-size: 14px;
  font-family: "HelveticaNeueW01-75Bold";
  padding: 18px 10px;
  cursor: pointer;
  border: 1px solid #bfbfbf;
  border-radius: 0;
  background: url(../img/black-arrow-down.png) no-repeat;
  background-position: 190px 20px;
}

.select-header.active {
	border-bottom: none;
}

ul#category-selector {
	border: 1px solid #bfbfbf;
	border-top: none;
	background: #fff;
	position: absolute;
    display: none;
    margin: 0;
    height: 190px !important;
}

ul#category-selector > li {
    width: 200px;
    line-height: 25px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
    font-family: "HelveticaNeueW01-75Bold";
    color: #CC0000;
}

ul#category-selector > li:hover {
    color: #313131;
}

ul#category-selector > li.active {
	color: #313131;
}

#edit-field-press-release-category-tid {
	display: none;
}

/* ================================================
   Newsroom Menu
   ================================================ */

#block-menu-menu-newsroom {
	margin: 0px -2000px 40px;
	padding: 0px 2000px 45px;
	float: left;
	border-bottom: 1px solid #939598;
}

#block-menu-menu-newsroom h2 {
	font-size: 38px;
	font-family: "HelveticaNeueW01-75Bold";
	margin-top: 0;
}

#block-menu-menu-newsroom li {
	float: left;
	margin: 0px;
	padding: 0px;
}

#block-menu-menu-newsroom li a {
	color: #C00;
	text-decoration: none;
	font-size: 20px;
	font-family: "HelveticaNeueW01-75Bold";
	padding: 0px 15px;
	border-right: 1px solid #6E6E6E;
	text-align: center;
	position: relative;
}

#block-menu-menu-newsroom li.first a {
	padding-left: 0px;
	position: relative;
}

#block-menu-menu-newsroom li.last a {
	border-right: none;
}

#block-menu-menu-newsroom li a.active-trail {
	color: #000;
}

/*.not-logged-in #block-menu-menu-newsroom li a.active-trail:after {
	content: "";
	width: 33px;
	height: 26px;
	background: url('/sites/all/themes/cvs/img/secondary-menu-triangle.png') no-repeat scroll 0% 0% transparent;
	position: absolute;
	bottom: -57.5px;
	margin-left: -16px;
	left: 50%;
}*/

#block-menu-menu-newsroom li a.active-trail:after {
    content: "";
    width: 33px;
    height: 26px;
    background: url('/sites/all/themes/cvs/img/secondary-menu-triangle.png') no-repeat scroll 0% 0% transparent;
    position: absolute;
    bottom: -53.5px;
    margin-left: -16px;
    left: 50%;
}

@media (max-width: 360px){
    .view-bios .excerpt-block {
        float: none;
    }
}

/* ================================================
   Press Release Content Type
   ================================================ */

.node-type-press-release .page-title {
  width: 634px;
}

.node-type-press-release p {
  line-height: 24px;
}

.view-id-newsroom_press_releases.view-display-id-block_1 .view-content {
	padding: 0;
	margin: 0;
	border: none;
	clear: both;
}

.node-type-press-release .pane-headline {
	width: 735px;
}

.field-name-field-press-release-other-media img {
  max-width: 295px;
  width: auto;
  height: auto;
}

.newsroom-child-menu.sidebar-submenu {
	margin-right: 0;
	border: none;
	position: static;
}

.newsroom-child-menu.sidebar-submenu a {
	font-family: "HelveticaNeueW01-75Bold";
}

.view-id-newsroom_press_releases.view-display-id-block_1 .views-field-field-press-release-category {
	float: none;
}

.node-type-press-release .sidebar-submenu .pane-title {
	border: 0;
	color: #000;
	background: none;
	font-family: "HelveticaNeueW01-75Bold";
	text-transform: none;
}

.node-type-press-release .sidebar-submenu .pane-content p {
	padding-left: 15px;
}

.sidebar-submenu {
	border: none;
}

/* ================================================
   Media Gallery
   ================================================ */

.view-media .excerpt-block {
	height: 285px;
	margin-bottom: 40px;
}

.view-media .view-header {
  margin-bottom: 60px;
}

.view-media .view-header p {
  font-size: 18px;
  line-height: 30px;
  color: #646464;
  font-family: "HelveticaNeueW01-75Bold";
  width: 630px;
}

.view-media h4 {
  margin-bottom: 15px;
  font-family: "HelveticaNeueW01-75Bold";
}

.view-media a {
  color: #CC0000;
  text-decoration: none;
  font-size: 14px;
  font-family: "HelveticaNeueW01-75Bold";
}

.view-media .views-row-4 article,
.view-media .views-row-8 article,
.view-media .views-row-12 article,
.view-media .views-row-16 article,
.view-media .views-row-20 article {
	margin-right: 0;
}

.media-gallery .pane-title {
	font-family: "HelveticaNeueW01-75Bold";
	margin-left: 0;
}

.view-media .view-header p {
	font-family: "HelveticaNeueW01-75Bold";
	margin: 0;
	color: #313131;
}

.view-media .excerpt-block h4 {
	font-family: "HelveticaNeueW01-75Bold";
	color: #313131;
}

.view-media .excerpt-block a {
	color: #CC0000;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
}

/* ================================================
   Bios
   ================================================ */

.view-bios .excerpt-block {
	margin-bottom: 40px;
}

#officers .view-bios .excerpt-block h4 {
	color: #CC0000;
	font-size: 16px;
	font-family: "HelveticaNeueW01-75Bold";
}

.view-bios .excerpt {
	color: #313131;
	font-size: 14px;
	line-height: 18px;
}

.view-bios h4 {
  margin-bottom: 15px;
}

.node-panel h2 {
  margin-top: 0;
}

.other-leadership .excerpt-block h4 {
  color: #313131 !important;
}

/* ================================================
   Executive Bio Content Type
   ================================================ */

.node-type-bio .job-title {
	margin-top: 0;
	font-family: "HelveticaNeueW01-75Bold";
	color: #646464;
	font-size: 18px;
}

.node-type-bio .pane-node-field-thumbnail {
	vertical-align: top;
	display: inline-block;
}

.node-type-bio .field-name-field-thumbnail img {
	width: 300px;
	margin-right: 30px;
}

.node-type-bio .bio-body {
	width: 960px;
	display: inline-block;
}

.node-type-bio aside.left {
	width: 300px;
}

.node-type-bio .primary {
	width: 630px;
}

.node-type-bio .field-name-body {
	margin-top: -1em;
}

.node-type-bio p {
  line-height: 24px;
}

/* ================================================
   Subscribe Page
   ================================================ */

.pane-cvs-subscribe.pane-cvs-subscribe-cvs-subscribe-mng-alerts {
	width: 470px;
	margin: 0px;
}

.pane-cvs-subscribe.pane-cvs-subscribe-cvs-subscribe-rss-list {
	width: 470px;
	margin: 0px 0px 0px 20px;
}

.cvs-subscribe.accordion .title,
.pane-cvs-subscribe .accordion .title {
	display: none;
}

.cvs-subscribe #edit-submit {
	float: none;
	position: static;
}

.cvs-subscribe.accordian a {
	float: right;
	margin-top: -60px;
	text-decoration: none;
	font-family: "HelveticaNeueW01-75Bold";
}

.subscription-body.pane-node-body .pane-title {
	font-size: 28px;
  font-family: "HelveticaNeueW01-75Bold";
  display: block;
  color: #000;
}

.cvs-subscribe .page-title {
	display: none;
}

.subscription-body .pane-content p {
	font-family: "HelveticaNeueW01-75Bold";
	width: 630px;
	color: #313131;
	font-size: 18px;
	line-height: 30px;
}

.cvs-subscribe .user-welcome {
	font-family: "HelveticaNeueW01-75Bold";
}

.pane-cvs-subscribe h3 {
	font-size: 18px;
}

.cvs-subscribe.accordion .content > a {
	float: left;
	margin-top: -60px;
	margin-left: 150px;
	text-decoration: none;
	font-family: "HelveticaNeueW01-75Bold";
}

.pane-cvs-subscribe-cvs-subscribe-rss-list .accordion {
	/*height: 379px;*/
}

.pane-cvs-subscribe-cvs-subscribe-rss-list p {
	font-family: "HelveticaNeueW01-75Bold";
	margin-bottom: 0;
}

.pane-cvs-subscribe-cvs-subscribe-mng-alerts input.form-text {
	padding-left: 20px;
	border: none;
	height: 60px;
	font-family: "HelveticaNeueW01-75Bold";
}

.pane-cvs-subscribe-cvs-subscribe-mng-alerts input.form-text::-webkit-input-placeholder {
  color: #000;
  font-family: "HelveticaNeueW01-75Bold";
  font-size: 14px;
}

.pane-cvs-subscribe-cvs-subscribe-mng-alerts input.form-text::-moz-placeholder {
  color: #000;
  font-family: "HelveticaNeueW01-75Bold";
  font-size: 14px;
}

.pane-cvs-subscribe-cvs-subscribe-mng-alerts input.form-text:-moz-placeholder {
  color: #000;
  font-family: "HelveticaNeueW01-75Bold";
  font-size: 14px;
}

.pane-cvs-subscribe-cvs-subscribe-mng-alerts input.form-text::-ms-input-placeholder {
  color: #000;
  font-family: "HelveticaNeueW01-75Bold";
  font-size: 14px;
}


@media screen and (max-width:910px) {
 .node-type-bio .bio-body {
   width: 100% !important;
 }
 .bio-body img {
   width: 100%;
   margin-bottom: 25px;
 }
 .pane-cvs-subscribe.pane-cvs-subscribe-cvs-subscribe-rss-list {
	margin: 0;
  }
}


@media screen and (max-width: 767px) {

  #block-menu-menu-newsroom {
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: none !important;
  }

  #block-menu-menu-newsroom .menu {
    border-left: 1px solid #656a6e;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    border-bottom: none !important;
  }

  #block-menu-menu-newsroom .menu li {
    float: none;
    margin-top: 20px;
  }

  #block-menu-menu-newsroom li a.active-trail:before {
    content: '';
    width: 33px;
    height: 26px;
    background: url(../img/secondary-menu-triangle-mobile.png) no-repeat !important;
    position: absolute;
    background-position: 100% 50% !important;
    left: -46px !important;
  }

  #block-menu-menu-newsroom li a.active-trail:after {
    display: none !important;
  }

  #block-menu-menu-newsroom li a {
    padding: 0;
    border-right: none !important;
  }

}

@media screen and (max-width: 520px) {
	.pane-cvs-subscribe.pane-cvs-subscribe-cvs-subscribe-mng-alerts,
	.pane-cvs-subscribe.pane-cvs-subscribe-cvs-subscribe-rss-list {
		margin: 0;
		width: 100%;
	}
}
