.page-tags #block-system-main {
	width: 630px;
	float: left;
	clear: none;
}

.page-tags #block-views-tags-sidebar-block {
	width: 300px;
	margin-left: 30px;
	float: right;
}

.page-tags #block-views-tags-sidebar-block h2 {
	font-size: 18px;
	font-weight: bold;
}

.page-tags #block-views-tags-sidebar-block {
	
}

.page-tags .view-header p {
	font-size: 36px;
}

.view-tags .views-field-title {
	margin: 0;
}

.view-tags .views-field-title a,
.page-tags #block-views-tags-sidebar-block a {
	color: #CC0000;
	font-size: 16px;
	text-decoration: none;
}

.view-tags .views-field-body div {
	color: #313131;
	font-size: 14px;
	line-height: 16px;
}
	
.view-tags .views-row {
	margin-bottom: 30px;
}
