/*
----------------------------------------------------------
NAVIGATION
---------------------------------------------------------- */
#nav-utility li.rss { margin-right:10px; }
#nav-utility li.languages a { margin-left:0; }


/*
----------------------------------------------------------
GENERAL FORM STYLES
---------------------------------------------------------- */
#contact-form div.checkgroup label { padding-top:0.4em; }