/*
---------------------
01. Utility
02. Primary Nav
03. Secondary (Investors, Press, etc.)
04. Section (local) Nav
05. CSS3 Rounded Corners
06. Breadcrumbs
07. Footer
08. Site Map
------------------------


----------------------------------------------------------
01. UTILITY
---------------------------------------------------------- */
#nav-utility { overflow:visible; position:absolute; right:230px; top:-30px; z-index:999; }
#nav-utility li { margin-right:10px; }
	#nav-utility li a { display:block; height:17px; width:17px; }
			#nav-utility li.yt { background:url(../images/icon_youtube-grey.jpg)/*tpa=http://www.lear.com/assets/images/icon_youtube-grey.jpg*/ no-repeat; }
				#nav-utility li.yt:hover { background:url(../images/icon_youtube.jpg)/*tpa=http://www.lear.com/assets/images/icon_youtube.jpg*/ no-repeat; }
			#nav-utility li.in { background:url(../images/icon_linkedin-grey.jpg)/*tpa=http://www.lear.com/assets/images/icon_linkedin-grey.jpg*/ no-repeat; }
				#nav-utility li.in:hover { background:url(../images/icon_linkedin.jpg)/*tpa=http://www.lear.com/assets/images/icon_linkedin.jpg*/ no-repeat; }
	#nav-utility li.addthis a { background-position:0 -50px; }
	#nav-utility li.addthis a:hover { background-position: -50px; border-bottom:10px solid #FE6D4C  }
	#nav-utility li.addthis.active { background-position: -50px; border-bottom:10px solid #FE6D4C }
	
	#nav-utility li.rss a { background-position:0 -100px; }
	#nav-utility li.rss a:hover { background-position:-50px -100px; }
	#nav-utility li.languages { display:block;}
	#nav-utility li.languages a { background-position:5px -150px; height:27px; margin-left:-5px; width:27px; }
	#nav-utility li.languages a:hover,
	#nav-utility li.languages:hover a { background-position:-45px -150px;}
		#nav-utility li.languages ul {  background:#858585; display:none; position:absolute; left:0; padding:10px 13px 10px 3px; top:20px; white-space:nowrap; width:110px; }
			#nav-utility li.languages li { display:inline; float:left; margin:0 0 0 15px; }
			#nav-utility li.languages li a { background:none; color:#fff; height:auto; width:auto; }
			#nav-utility li.languages:hover ul li a { border:0;}
			#nav-utility li.languages:hover ul li a:hover { color:#ffff99;}
			#nav-utility li.languages:hover ul { display:block;}


/*

----------------------------------------------------------
02. PRIMARY
---------------------------------------------------------- */
#nav-main { font-size:12px; overflow:visible; /*line-height:100%;*/ position:absolute; right:20px; top:30px;  z-index:99; }
	
	#nav-main li { float:left; margin-left:15px; position:relative; }
		#nav-main li a { color:#C3C3C3; display:block; font-weight:bold; padding:8px 15px; text-transform:uppercase;}
		#nav-main li a:hover,
		#nav-main li:hover a  { background:#121111; color:#fff;}
		#nav-main a.active { color:#000; }

			/* DROPDOWN */
			#nav-main ul { background:url(../images/bg/gradient-nav-dropdowns.png)/*tpa=http://www.lear.com/assets/images/bg/gradient-nav-dropdowns.png*/ repeat-x; display:none; left:0; font-size:11px; padding:7px 0 12px; position:absolute;}
			#nav-main ul li {  float:left; margin:0; width:180px; }
			#nav-main ul li a { color:#fff; display:block; font-weight:normal; padding:4px 15px; text-transform:none;  }
			#nav-main li:hover ul li a  { background:transparent}
			#nav-main li:hover ul li a:hover { background:#EE2E24; }
			#nav-main li:hover > ul { display: block;}

			* html #nav-main { height:1%; }



/*
----------------------------------------------------------
03. SECONDARY (Investors, Press, etc.)
---------------------------------------------------------- */
#nav-secondary { position:absolute; right:35px; top:65px;}
	#nav-secondary li { margin-left:20px;}
	#nav-secondary li a { color:#C3C3C3; font-weight:bold;}
	#nav-secondary li a:hover { color:#EE2E24;}
	#nav-secondary li a.active { color:#000; }



/*
----------------------------------------------------------
04. SECTION NAVIGATION
---------------------------------------------------------- */
#nav-section { margin:0 0 50px -10px; }
	#nav-section li { border-bottom:1px solid #D8D2D1; }
	#nav-section li a { border-left:4px solid #fff; display:block; font-weight:bold; padding:13px 10px;}
	#nav-section li a:hover { border-left:4px solid #ccc;}
	#nav-section li a.active { border-left:4px solid #EE2E24; color:#000;}
	#nav-section li a.active:hover { border-left:4px solid #ccc; }
	
	/* TERTIARY	*/
	#nav-section ul.tertiary { background:#F3F1F1; border-top:1px solid #D8D2D1; font-size:11px; padding:10px 0;}
		#nav-section ul.tertiary li { border:0; }
		#nav-section ul.tertiary li a { border:0; color:#000; font-weight:normal; padding:2px 14px;}
		#nav-section ul.tertiary li a:hover { color:#ED2D24;}
		
		#nav-section ul.tertiary li a.active { font-weight:bold;}
		#nav-section ul.tertiary li a span { color:#ED2D24; }
		#nav-section ul.tertiary li a.active span { color:#999; }
		#nav-section ul.tertiary li a.active:hover { border:none; color:#666; }
		
/* MISC SECTION, PAGE EXCEPTION */
#misc #nav-section { display:none;}
		


/*
----------------------------------------------------------
05. CSS3: ROUNDED CORNERS
---------------------------------------------------------- */
#nav-utility li.languages ul { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px }

#nav-main ul { border-radius:0 7px 7px 7px; -moz-border-radius:0 7px 7px 7px; -webkit-border-top-right-radius:7px; -webkit-border-bottom-right-radius:7px; -webkit-border-bottom-left-radius:7px; }
	#nav-main li#nav-home:hover a  { border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px;}
	#home #nav-main li#nav-home:hover a  { background:none; color:#000; cursor:default; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}
	#nav-main li:hover a  { border-radius:7px 7px 0 0; -moz-border-radius:5px 5px 0 0; -webkit-border-bottom-right-radius:0; -webkit-border-bottom-left-radius:0; }
	#nav-main li:hover ul li a:hover { border-radius:0 0 0 0; -moz-border-radius:0 0 0 0; -webkit-border-radius:0; }


/*
----------------------------------------------------------
06. BREADCRUMBS
---------------------------------------------------------- */
#nav-breadcrumbs { color:#000; font-size:11px; margin-bottom:25px; overflow:hidden; }
	#nav-breadcrumbs li span { color:#666; padding:0 3px; }
	#nav-breadcrumbs a, #nav-breadcrumbs a:visited { color:#666; text-decoration:none; }
	#nav-breadcrumbs a:hover { color:#EE2E24; text-decoration:underline; }

	
	
/*
----------------------------------------------------------
07. FOOTER
---------------------------------------------------------- */
#nav-footer { margin-bottom:0.1em; padding:15px 13px 0; }
	#nav-footer li { margin-right:15px;}
	#nav-footer li a,
	#nav-footer li a:visited { color:#B9B9B9; }
	#nav-footer li.last a { border-right:0; padding-right:0;}
	#nav-footer li a:hover { color:#EE2E24;}
		

/* COPYRIGHT AND MONCUR LOGO */
#footer p { font-size:10px; margin-bottom:0.75em; padding:0 13px;}
#footer p a { color:#B9B9B9; margin-left:10px;}
#footer p a:hover { color:#EE2E24;}

#footer p#moncur { position:absolute; right:13px;}
#footer p#moncur a, #footer p#moncur a:visited  { background-position:0 -375px; display:block; height:12px; position:relative; width:12px; }
#footer p#moncur span  { display:none; color:#B9B9B9; right:30px; position:absolute; text-align:right; white-space:nowrap; }



/*
----------------------------------------------------------
08. SITE MAP
---------------------------------------------------------- */
#sitemap { padding-bottom:2em; }

	#sitemap h2 { margin:2em 0 0.5em;}
		#sitemap h2 a {display:block;}		
	
	#sitemap h3 { background:#F3F1F1; border-top:1px solid #D8D2D1; font-size:12px; margin:0; padding:8px 0;}
		#sitemap h3 a { border:0; color:#000; display:block; font-weight:bold; padding:2px 14px;}
		#sitemap h3 a:hover { color:#ED2D24;}
		#sitemap h3 + ul { margin-top:-8px;}
		
		#sitemap ul { background:#F3F1F1; font-size:11px; margin:0; padding-bottom:8px; }
			div.article #sitemap ul li { background:none; margin:0; }
			#sitemap ul li a { color:#000; display:block; padding:0 5px;}
			#sitemap ul li a:hover { color:#EE2E24;}
			#sitemap ul li a span { color:#666; }