#hover-helper, #hover-helper-2,#hover-helper-3, #hover-helper-4{
background-color:#fff;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
zoom:1;
}

.play-button-image{
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

.play-button .hover{
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
