
div.layout-a, div.layout-b, div.layout-c, div.layout-d, div.layout-e, div.layout-f, div.layout-g, div.layout-h, div.layout-i, div.layout-j, div.layout-k, div.layout-l, div.layout-m, div.layout-n, div.layout-o, div.layout-p, div.layout-q, div.layout-dynamic, div.layout-custom {
display: inline-table;
float:right;
height: 1%;
width:100%;
}
/* Hides from IE-mac \*/
div.layout-a, div.layout-b, div.layout-c, div.layout-d, div.layout-e, div.layout-f, div.layout-g, div.layout-h, div.layout-i, div.layout-j, div.layout-k, div.layout-l, div.layout-m, div.layout-o, div.layout-p, div.layout-q, div.layout-dynamic, div.layout-custom {
display: block;
}
/* End hide from IE-mac */

div.col {
clear:none;
float:left;
}

/* One Col Layout */
div.layout-a div.col {
width:100%;
}

/* Two Col Layout */
div.layout-b div.col {
width:49.99%;
}
div.layout-b div.last {
width:50%;
}

/* Three Col Layout */
.layout-c div.col {
width:33.31%;
}

/* Four Col Layout */
.layout-d div.col {
width:24.9%;
}	

/* 2/3 - 1/3 Col Layout */
.layout-e div.col {
width:33.33%;
}	
.layout-e div.first {
width:66.66%;
}	

.col .layout-e div.col {
width:33.33%;
}	
.col .layout-e div.first {
width:66.66%;
}

/* 1/3 - 2/3 Col Layout */
div.layout-f div.col {
width:66.66%;
}	
div.layout-f div.first {
width:33.33%;
}

/* 1/2 - 1/4 - 1/4 Col Layout */
.layout-g div.col {
width:25%;
}	
.layout-g div.first {
width:50%;
}	

/* 1/4 - 1/4 - 1/2 Col Layout */
.layout-h div.col {
width:25%;
}	
.layout-h div.last {
width:50%;
}

/* 3/4 - 1/4 Col Layout */
.layout-i div.col {
width:25%;
}	
.layout-i div.first {
width:74.99%;
}	

/* 1/4 - 3/4 Col Layout */
.layout-j div.col {
width:74.9%;
}	
.layout-j div.first {
width:25%;
}

/* 1/4 - 3/4 Col Layout */
.layout-j-2 div.col {
width:25%;
}	
.layout-j-2 div.first {
width:74.9%;
}


/* 1/4 - 1/2 - 1/4 Col Layout */
.layout-k div.col {
width:49.99%;
}	
.layout-k div.first, 
.layout-k div.last {
width:25%;
}

/* The Golden Ratio 62% - 38% */
.layout-l div.first{
width:62%;
}
.layout-l div.last {
width:37%;
}

/* The Golden Ratio 38% - 62% */
div.layout-m div.first{
width:37.4%;
}
div.layout-m div.last {
width:62%;
}
/*20 - 80*/
div.layout-o div.col {
width:19.99%;
}	
div.layout-o div.first {
width:79%;
}

/*40 - 60*/
div.layout-p div.col {
width:39.99%;
}
div.layout-p div.last {
width:60%;
}

/*28 - 44 - 28*/
.layout-q div.col {
width:49%;
}	
.layout-q div.first {
width:25.99%;
}
.layout-q div.last {
width:23.99%;
}

/*36 - 36 - 27*/
.layout-r div.col {
width:36.3%;
}	
.layout-r div.first {
width:36.3%;
}
.layout-r div.last {
width:27.3%;
}