@font-face{font-family:'HPSimplified';src:url(../../../../../../../www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-regular-eot.eot)/*tpa=http://www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-regular-eot.eot*/; src:url(../../../../../../../www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-regular-eot.eot-#iefix)/*tpa=http://www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-regular-eot.eot?#iefix*/ format('embedded-opentype'),  url('../../../../../../../www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-regular-woff.woff')/*tpa=http://www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-regular-woff.woff*/ format('woff'), url('../../../../../../../www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-regular-ttf.ttf')/*tpa=http://www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-regular-ttf.ttf*/ format('truetype');font-weight:normal;font-style:normal}@font-face{font-family:'HPSimplified';src:url(../../../../../../../www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-bold-eot.eot)/*tpa=http://www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-bold-eot.eot*/; src:url(../../../../../../../www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-bold-eot.eot-#iefix)/*tpa=http://www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-bold-eot.eot?#iefix*/ format('embedded-opentype'),  url('../../../../../../../www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-bold-woff.woff')/*tpa=http://www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-bold-woff.woff*/ format('woff'), url('../../../../../../../www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-bold-ttf.ttf')/*tpa=http://www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-bold-ttf.ttf*/ format('truetype');font-weight:bold;font-style:normal}

/*
Date: 9/16/2014 2:31:22 PM
Non-published images:
/webdav/17%20United%20States-English%20Web/Building%20Blocks/System/00%20Shared/Content/CSS/fonts/v2-0/hps-euro-w01-regular-eot.eot?#iefix
/webdav/17%20United%20States-English%20Web/Building%20Blocks/System/00%20Shared/Content/CSS/fonts/v2-0/hps-euro-w01-bold-eot.eot?#iefix
*/
