/* 
Gannett.com
Description: For Gannett Corporate Website
Designer : Micheal Abernathy, Bill Librizzi
Slicer/Coder : Jeff Harris	
 	
*/ 

body {font-family:arial;font-size:12px;}

a:link {color: #718aa9;text-decoration:none;}
a:visited {color: #718aa9;text-decoration:none;}
a:active {color: #718aa9;text-decoration:none;}
a:hover {color: #718aa9; text-decoration:underline;}

/* welcome css */
#weltxt{
background-image: url(../../graphics/frontpage/homerule1.jpg)/*tpa=http://www.gannett.com/graphics/frontpage/homerule1.jpg*/;
background-repeat:no-repeat;
background-position:100% 0;
padding: 0px 15px 0 20px;
float:left;
width:287px;
display: inline;
}

#weltxt p{
font-size:14px;
color:#000;
padding:0px;
margin:0px;
width:287px;
font-family:arial;
display:block;
}

.weltxt3 p{
color:#333;
padding:0px;
margin:0px;
font-family:arial;
font-size:12px;
width:283px;
display:block;
}

#weltxt2{
font-family:arial;
color:#333;
font-size:14px;
padding: 0px 0px 0 15px;
float:left;
max-width:283px;
width:283px;
display: inline;
}

#welcometop{
float:left;
max-width:620px;
width:620px;
display: inline;
}

#welimg1{
display:block;
width:620px;
padding:18px 0 0 20px;
}

#welimg2{
padding:15px 0 14px 0;
width:196px;
}
/* welcome css end */

#gcontainer {
width: 978px; 
padding-top: 0px;
padding-bottom: 0px;
background-color: #ffffff;
border-width:5px 1px 1px 1px; ;
border-color: #000;
border-style: solid;
border-color: #666666;
margin-left: auto;
margin-right: auto;
margin-top:10px;
position:relative;
}

#header{
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
width: 940px;
position: relative;
z-index:5000;
background-color: transparent;
background-image: none;
background-attachment: scroll;
margin-bottom: 0pt;
min-width: 940px;
}

#logo {
cursor:pointer;
background-image: url(../../graphics/gannett.jpg)/*tpa=http://www.gannett.com/graphics/gannett.jpg*/;
background-repeat: no-repeat;
text-indent:-9999px;
margin:0px;
width:200px;
float:left;
height:63px;
padding:0px;
background-color: #fff;
}



#logo h1 {
margin: 0px;
padding:0px;
}


/*frontpage*/
#main{
width: 980px; 
padding-top: 0px;
padding-bottom: 0px;
position:relative;
}

#search {
width:336px;
float:right;
margin-right:-44px;
padding:20px 0px 0px 0px;
}

#bottom-search-textbox {
width:271px;
border-width:1px;
border-style:solid;
border-color:#999;
height:12px;
margin-right:-5px;
vertical-align:top;
}


.adv-search-text {
font-size:10px;
color:#666;
}

.adv-search-btn {
height:16px;
cursor:pointer;
border-style:none;
vertical-align:top;
text-indent:-9999px;
background-color:#999;
background-repeat: no-repeat;
background-image: url(../../graphics/pdbutton.jpg)/*tpa=http://www.gannett.com/graphics/pdbutton.jpg*/; 
width:40px;
}


#primarycontent {
position: relative;
z-index: 1000;
height: auto;
width: 940px;
position:relative;
padding: 35px 0px 8px 20px;
}

#bluebar{
width: 940px;
height: 20px;
margin: 0px 0px 0px 0px;
background-repeat: no-repeat;
background-color:#fff;
background-image: url(../../graphics/BotFeatBar.jpg)/*tpa=http://www.gannett.com/graphics/BotFeatBar.jpg*/;  
}

#secondarycontent{
width: 940px;
height: auto;
margin: 10px 20px 0 20px;
background-color: #fffbdd; 
}

#yellow-left {
float:left;
width:620px;
min-width:297px;
display: inline;
}

#yellow-left img{
display:block;
float:left;
width:297px;
display: inline;
padding:18px 0 0 10px;
min-width:297px;
}

.left-bottomtitle {
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
padding-bottom:5px;
display: block;
}

.left-bottomtext {
font-family: Arial, Helvetica, sans-serif;
float:left;
width:297px;
font-size:14px;
padding: 18px 0 0 16px;
display: inline;
}

.secondary{
width:297px;
float:right;
margin-top:10px;
border-bottom-style:solid;
border-bottom-width:1px;
border-bottom-color:#999;
border-top-style:solid;
border-top-width:1px;
border-top-color:#999;
padding:10px 0px 10px 0px;
}

.secondary a {
color:#666;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
display:block;
text-decoration:none;
padding:0px;
}

.secondary2{
width:297px;
float:right;
margin-top:0px;
border-bottom-style:solid;
border-bottom-width:1px;
border-bottom-color:#999;
padding:10px 0px 10px 0px;
}

.secondary2 a {
color:#666;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
display:block;
text-decoration:none;
padding:0px;
}

.videotitle {
font-family: Arial, sans-serif;
font-size:11px;
font-weight:bold;
color:#000;
}

.videotxt {
margin-top:10px;
margin-bottom:10px;
font-family: Arial, sans-serif;
font-size:11px;
color:#000;
}

.left-bottompara {
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
color:#666;
display: inline;
}

.left-bottompara a {
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
color:grey;
text-decoration: none;
display: inline;
}

#yellow-video{
float:left;
min-width:294px;
padding: 18px 10px 0 16px;
width:294px;
display: inline;
}

#footer{
width: 940px;
height: 18px;
border-top-style: solid;
border-top-width: 1px;
border-top-color:#999;
border-bottom-color:#999;
border-bottom-style: solid;
border-bottom-width: 1px;
margin: 20px 20px 20px 20px;
}

#BLUELT {
float:left;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#666;
padding-left:10px;
line-height:20px;
}

#BLUERT {
float:right;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#666;
line-height:20px;
padding-right:170px;
}

div.soc_image{
      width: 940px;
      margin-left:20px;
      height:5px;
      border-top-style:solid;
      border-top-color:#999;
      border-top-width:1px;
      position: relative;
      background-color: #fff;
      text-align: center;  
      }
             
#legal{
float:left;
height:18px;
}

#copyright{
float:right;
height:18px;
}

.clear{
clear:both;
} 


.sitemap ul {list-style-type:none;font-size:12px;}
.sitemap ul li a{text-decoration:none;color:#718AA9}
.sitemap ul h4 {margin: 0px;padding-top: 15px;}


#legal {font-family: Arial, Helvetica, sans-serif; color: #666; font-size: 10px; line-height: 10px; margin-top:5px; text-decoration: none; }
#legal a:link{font-family: Arial, Helvetica, sans-serif; color: #666; font-size: 10px; line-height: 10px; margin-top:5px; text-decoration: none; }
#legal a:visited{font-family: Arial, Helvetica, sans-serif; color: #666; font-size: 10px; line-height: 10px; margin-top:5px; text-decoration: none; }
#legal a:hover{font-family: Arial, Helvetica, sans-serif; color: #666; font-size: 10px; line-height: 10px; margin-top:5px; text-decoration: none; }
#legal a:active{font-family: Arial, Helvetica, sans-serif; color: #666; font-size: 10px; line-height: 10px; margin-top:5px; text-decoration: none; }

#copyright {font-family: Arial, Helvetica, sans-serif; color: #666; font-size: 10px; line-height: 10px; margin-top:5px; text-decoration: none; }
#popUpAL, #popUpAZ, #popUpAR, #popUpCA, #popUpCO, #popUpCT, #popUpDE, #popUpDC, #popUpFL, #popUpGA, #popUpGU, #popUpHI, #popUpIL, #popUpIN, #popUpIA, #popUpKY, #popUpLA, #popUpME, #popUpMI, #popUpMA, #popUpMN, #popUpMS, #popUpMO, #popUpMD, #popUpMT, #popUpNV, #popUpNJ, #popUpNY, #popUpNC, #popUpOH, #popUpOK, #popUpOR, #popUpPA, #popUpSC, #popUpSD, #popUpTN, #popUpTX, #popUpVT, #popUpVA,  #popUpWV, #popUpWI, #popUpUK, #popUpUT, #popUpNM {position: absolute; display:none;}
.popUpStyle {background-color: #FFFF99; border: #000000 1px solid; width: 150px; font: 10px helvetica,arial; padding: 5px;z-index:1;top:100px;left: 180px;}

.rightcolhead { margin: 5px 8px 8px 0px;}
.featvideo{float: left; line-height: 20px; font-family: Arial, Verdana, Helvetica, sans-serif; color:#718AA9; font-size: 11px; font-weight: bold; display: block; margin-left:5px;}
.morevideo{float: right; margin-right: 3px;line-height: 20px; font-family: Arial, Verdana, Helvetica, sans-serif; color:#a0a5bb; font-size: 11px; font-weight: bold; display: block;}
.videothumb{ width: 90px; float: right; border-left-style: solid; border-left-width: 1px; border-left-color: #000; margin: 10px 0 0 0px;}
.videothumb img { width: 65px; height: 42px; margin: 2px 5px 5px 10px; float: right;}
.videotxthead{ float: left; font-weight: bold; font-size: 12px; color: #000; text-align: left; margin-bottom: 5px;}
.videotxt{ font-family: Verdana; width: 290px; float: left; font-weight: normal; font-size: 10px; line-height: 11px; color: #000; margin-right: 5px;margin-top: 10px; text-align: left;}
.videotxt a{ color: #004180; }
.righthead{font-family: Verdana; color:#B8C4D4; font-size: 20px; padding: 0 0 0px 0; display: block;}
.middlehead{font-family: Arial, Verdana, Helvetica, sans-serif; color:#004180; font-size: 11px; font-weight: bold; display: block; line-height: 20px;}
.middlehead2{font-family: Arial, Verdana, Helvetica, sans-serif; color:#004180; font-size: 11px; font-weight: bold; padding: 0 0 5px 5px; display: block; line-height: 15px;}
.middlehead3{font-family: Arial, Verdana, Helvetica, sans-serif; color:#a0a5bb; font-size: 11px; font-weight: bold; display: block; line-height: 15px;}
.press_releases { font-weight: normal; font-size: 11px; line-height: 8px;}
.smtitle a{ font-weight: normal; font-size: 10px; line-height: 11px; color: black;}

.headline{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 18px; font-weight: bold; line-height: 25px; display: block; }

.headline h1{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 18px; font-weight: bold; line-height: 25px; display: block; }
.subhead h2 {font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 16px; font-weight: bold;  display: block; }

.art_headline h1{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 18px; font-weight: bold; line-height: 25px; display: block; }
.art_headline h2 {font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 16px; font-weight: bold;  display: block; }

.bodytext{font-family: Arial, Verdana, Helvetica, sans-serif; color: black; font-size: 12px;line-height: 20px;}

.date {font-family: Arial,Verdana,Helvetica,sans-serif;color: #004180;font-size: 12px;font-weight: bold; text-transform: uppercase;}
.date a:link {font-family: Arial,Verdana,Helvetica,sans-serif;color: #004180;font-size: 12px;font-weight: bold; text-transform: uppercase; text-decoration: none;}
.date a:visited {font-family: Arial,Verdana,Helvetica,sans-serif;color: #004180;font-size: 12px;font-weight: bold; text-transform: uppercase; text-decoration: none;} 
.date a:hover {font-family: Arial,Verdana,Helvetica,sans-serif;color: #004180;font-size: 12px;font-weight: bold; text-transform: uppercase; text-decoration: none;}

.bcvideomore {font-family: Arial,Verdana,Helvetica,sans-serif; color: #000000; font-size: 10px; text-decoration: none;}
.bcvideomore a {font-family: Arial,Verdana,Helvetica,sans-serif; color: #000000; font-size: 10px; text-decoration: none;}
.bcvideomore ul {list-style: none;}

.legacybody {color:#000000;font-family:arial;font-size:12px;float:left; text-align:left;margin:20px;}
.legacybody a:link {color:#2a6784;text-decoration:none;} 
.legacybody a:visited {color:#2a6784;text-decoration:none;} 
.legacybody a:hover {text-decoration:underline;}

.brandmore{font-family: Arial; color:#718AA9; font-size: 10px; font-weight: bold; text-decoration:none;} 
.brandmore a:link{font-family: Arial; color:#718AA9; font-size: 10px; font-weight: bold; text-decoration:none;}  
.brandmore a:visited{font-family: Arial; color:#718AA9; font-size: 10px; font-weight: bold; text-decoration:none;} 
.brandmore a:hover{font-family: Arial; color:#718AA9; font-size: 10px; font-weight: bold; text-decoration:none;} 
.brandmore a:active{font-family: Arial; color:#718AA9; font-size: 10px; font-weight: bold; text-decoration:none;}

