/* GROUPONE-623 ddcbthyng */
.inventory-listing-default a[href="?internetPrice=0-0&&&&"] {display: none;}

/* GROUPONE-625, GROUPONE-626 ddcbthyng */
.index .ddc-footer .yui3-u-1 {width: 990px; margin: 0 auto; position: relative;}
.inventory-listing-default button.ui-button-submit {float: left;}

/* GROUPONE-631 ddctimb */
.g1-locations .ui-state-default {opacity:.5;filter: alpha(opacity=50);}
.g1-locations .ui-state-active {opacity:1;filter: alpha(opacity=100);}
.g1-locations .ui-tabs-nav .ui-state-default.ui-tabs-selected a {font-weight:bold;}
.buttonblock-default img {filter: alpha(opacity=50);}
.buttonblock-default img:hover {filter: alpha(opacity=100);}

/* GROUPONE-636 ddcbthyng */
.g1-landing-ss .slideControls {height: 5px;}
.slideControls .pagerWrap {top: 439px;}

/* GROUPONE-637 ddcbthyng */
.ddc-footer .yui3-g {background-color: #323232; height:50px;}
footer {background-color: transparent; height: auto;}
footer .customcopyright {color: #808080; margin-top: 20px; text-align: center; font-size: 90%;}

/* GROUPONE-651 ddcbthyng */
.ddc-header .locations-proximity-search {left: 707px;}
.ddc-main-nav.inventory-links {left: 462px;}



/* DNA3476123 ddccaram  */
.index .g1-locations-wrapper .tel.phone1 .type,
.index .g1-locations-wrapper .tel.phone1 .separator,
.hidePhoneSep .g1-locations-wrapper .tel.phone1 .type, 
.hidePhoneSep .g1-locations-wrapper .tel.phone1 .separator  {display:none;}

/* Remove Slide Control Play button in top right of header ddcbrendanj */
.slideControls .previousNext .play {display: none;}


/* DNA3540097 ddcbthyng */
.include-velocity .virtualToursLink {display:block; clear:both; text-decoration: none;}
.include-velocity .virtualToursLink:hover {text-decoration: underline;}

/*ddcbrianf DNA3608835 */
.inventory-listing-default .type-1 {padding-left:10px; padding-right:10px;}

/* ddcjonathana DNA3608835 */
.inventory-listing-default .geoZip, 
.inventory-listing-default .geoRadius {display:none;}

/* ddcdustin DNA3666626 */
.locations-group-nav .childList {bottom: inherit; position: absolute; z-index: 199;}
.locations-group-nav {background: none;}

/* ddcdanielo PSB-39 */
.index .g1-locations .yui3-u-1-4{width:23%; padding:0 1%;}

/* DNA3838370 ddcandrewh */
.inventoryList .ePrice .ui-button-text,.inventoryList .customeprice .ui-button-text,.inventoryList .ePrice-button .ui-button-text {align:left; text-indent:-99999em; background-image:none;}
.inventoryList .ePrice a,.inventoryList .customeprice a,.inventoryList .ePrice-button a {background:url(../sites/g/group1autoprofilev9_v1/images/AvailableSavings-VLP.png)/*tpa=http://www.group1auto.com/sites/g/group1autoprofilev9_v1/images/AvailableSavings-VLP.png*/ no-repeat scroll 0 0 transparent; width: 150px; height:44px;}
.inventoryList .ePrice a:hover,.inventoryList .customeprice a:hover,.inventoryList .ePrice-button a:hover {background:url(../sites/g/group1autoprofilev9_v1/images/AvailableSavings-VLP.png)/*tpa=http://www.group1auto.com/sites/g/group1autoprofilev9_v1/images/AvailableSavings-VLP.png*/ no-repeat scroll 0 0 transparent;opacity:.7;filter:alpha(opacity=70);}
.vdp .pricing .ePrice .ui-button-text,.vdp .pricing .ePrice-button .ui-button-text {align:left; text-indent:-99999em; background-image:none!important;}
.vdp .mobile .pricing .ePrice .ui-button-text,.vdp .mobile .pricing .ePrice-button .ui-button-text {display:none;}
.vdp .mobile .pricing .ePrice a,.vdp .mobile .pricing .ePrice-button a {border:none;width:245px;margin:0 auto;text-indent: 100%;white-space: nowrap;overflow: hidden;}
.vdp .pricing .ePrice a,.vdp .pricing .ePrice-button a {background:url(../sites/g/group1autoprofilev9_v1/images/AvailableSavings-VDP.png-01.png)/*tpa=http://www.group1auto.com/sites/g/group1autoprofilev9_v1/images/AvailableSavings-VDP.png?01*/ no-repeat scroll 0px 0px transparent!important; width: 250px; height:85px;}
.vdp .pricing .ePrice a:hover,.vdp .pricing .ePrice-button a:hover {opacity:.7;filter:alpha(opacity=70); }

.vdp-calc-links2 {display:block!important;}
.incentives-link li {min-height: 50px;} {min-height:50px;}
.vdp-calc-links2 div.highlight{background-color:transparent;border:none;width:265px;background-position:100% 14px;margin: 0 0 0 43px;padding:0;font-size:108%;}
.vdp-calc-links2 div.highlight:hover{background-position:100% -69px;}
.gray-red-white .vdp-calc-links2 div.highlight{background-image:url(../sites/g/group1autoprofilev9_v1/images/default-button-large-right.png)/*tpa=http://www.group1auto.com/sites/g/group1autoprofilev9_v1/images/default-button-large-right.png*/;}
.gray-dark-blue-white .vdp-calc-links2 div.highlight{background-image:url(../sites/g/group1autoprofilev9_v1/images/default-button-large-right-blue.png)/*tpa=http://www.group1auto.com/sites/g/group1autoprofilev9_v1/images/default-button-large-right-blue.png*/;}
.vdp-calc-links2 div.highlight .ui-icon{display:none;}
.vdp-calc-links2 div.highlight .calculate{background:url(../sites/g/group1autoprofilev9_v1/images/lincoln-vdp-payment-calc.png)/*tpa=http://www.group1auto.com/sites/g/group1autoprofilev9_v1/images/lincoln-vdp-payment-calc.png*/ no-repeat scroll 0 0 transparent;font-size:100%;color:white;height:63px;line-height:2.3;padding: 16px 0 0 70px;text-align:left;float:none;margin-left:-20px;display:block;}
.vdp-calc-links2 div.highlight .calculate:hover{text-decoration:none;}
.ddc-content.links-list.v9_CLIENT_GROUPONE_0003_V1 ul li {min-height: 40px;}

/* DNA4086261 ddcdrewc - button style for button in middle section */
.ui-button.ui-state-default.calculate {width:100%;clear:both;margin:5px;}
.ui-button.ui-state-default.calculate .ui-button-text {background-size: 100% 100%;font-size: 107%;height: 63px;line-height: 5;padding: 0 0 0 55px;}
