@media screen {

#maincontent .ms-WPBody { font-size: 1em; }

/* Search bar */
.ms-sblink a:link { margin-left: 15px; font-size: .92em; }
.srch-sb-results { margin: 0 0 0 160px; }
.srch-sb-results1 { margin: 0 0 15px; }
.ms-sctabcn { color: #62bd19; }
.ms-sctabcn, .ms-sctabcf  { border-left: #f2f2f2 1px solid; font-size: .92em; font-weight: bold;  }
.ms-sctabcn, .ms-sctabcnhover, .ms-sctabcfhover, .ms-sctabcf { padding:0 10px; }
.srch-sb-results1 td:first-child { border: 0; padding-left: 0; }
.ms-ptabarea, .ms-ptabarea td { line-height: 1em; }

.ms-sbcell { background: #fff; border: #f2f2f2 1px solid; border-right: 0; }
.ms-sbgo { border: #f2f2f2 1px solid; border-left: 0; }
.ms-sbgo img { vertical-align: bottom; }
.ms-sblink { background:none; border: 0; }
.ms-sbcell input { border: 0; padding: 4px 8px; }

.srch-sort-right2 { text-align: right; }
.srch-maincontent-seperator { border-top: #f2f2f2 1px solid; height: 1px; padding: 13px 0 0; }

/* Main cell */
.srchctr_mainleftcell {}
.srch-maintop { }
.srch-maintoppeople { }
.srch-mainbottom { }
h1.s4-mini-header { margin-left:160px; margin-top: 26px;  }
.srch-maintopright { float: right; width: 49%; }
.srch-maintopleft { clear: both; float: left; width: 50%; }
.srch-stats {color: #666;  font-size: .92em;}
.srch-maintop2 { clear: both; }
.srch-results strong { /*background: #dff0dd;*/}
.srch-Icon { display: none; }
.srch-Title2 { font-family:'FuturaMedium', Arial, sans-serif; font-size: 1.33em; line-height:1.25em;  }
.srch-Title2 strong { color: inherit; font-weight: normal; font-family:'FuturaBold', Arial, sans-serif;color: #006b54; }
.srch-Title2 a, .srch-Title2 a:link { color: #006b54; !important}
.srch-Metadata2 { color: #999; font-size: .92em; } /* date */
.srch-Metadata1 { color: #62bd19; font-size: .92em;  margin-top: 0; } /* URL */
.srch-Metadata1 strong { color: #62bd19;  }

/* Advanced search */
.srch-advancedtable { margin: 0 0 0 154px; /* +6px table cell spacing (3 TDs - self & parents ) */ }
.ms-advsrchbutton input { color: #006b54; cursor: pointer; font: inherit; font-family:'FuturaMedium', Arial, sans-serif; font-size: .92em; line-height:1.29em; text-transform: uppercase; border: #62bd19 1px solid; color: #62bd19; padding: 3px 5px; position: relative; }
td.ms-advsrchText-v1 { padding:0 20px 0 0; }
td.ms-advsrchText-v2 { vertical-align: middle; }
td.ms-advsrchText-v2 select {  vertical-align: bottom; }
td.ms-advsrchText-v2 label { color: #000; font-size: .92em; padding: 0 0 0 5px; }
.ms-advsrchText-v2box, .ms-advsrchPropValue { width: 90%; }
select.ms-advsrchPropertyDDL, select.ms-advsrchOperatorDDL { vertical-align: bottom; margin: 0 10px 10px 0; }
select.ms-advsrchAndOrDDL { vertical-align: bottom; margin: 10px 10px 0 0; }

td.ms-advsrchtips { color: #666; font-size: .92em; padding-top: 25px;}

/* left cell */
.srchctr_leftcell { padding: 0 20px 0 0; vertical-align: top; width: 140px; }
.srch-federationarea { float: right; }
ul.ms-searchref-filters { list-style: none; margin: 0px; padding: 0px; }
.ms-searchref-categoryname { color: #000; font-family:'FuturaBold', Arial, sans-serif; font-size: .92em; line-height:1.27em; text-transform: uppercase;  }
li.ms-searchref-filter { font-size: .92em; margin: 0; padding: 0;}
li.ms-searchref-filtermsg {	padding-bottom: 4px; margin: 1px 0;}
li.ms-searchref-selected a, li.ms-searchref-selected a:link { color: #62bd19; font-weight: bold; }
li.ms-searchref-filtermsg { border-bottom: #f2f2f2 1px solid;  border-top: #f2f2f2 1px solid }
.ms-searchref-catseparator { border-bottom: #f2f2f2 1px solid; height: 1px; margin: 13px 0; }

.ms-searchref-indenticon { color: #999; }
.ms-searchref-morelink { padding: 5px 12px; font-size: .92em;}
.ms-searchref-moreicon { border: 0; vertical-align: middle; }

/* Pager */
.srch-Page { }
.srch-Page a, .srch-Page a:link, .srch-Page strong  { display: block; float: left; margin: 0px 3px; padding: 7.5px;  }
.srch-Page strong { }
.srch-Page-img a:link, .srch-Page-img a:visited { padding: 4px;}
.srch-Page a img { vertical-align: bottom; }


/* Generated by F12 developer tools. This might not be an accurate representation of the original source file */

.psrch-PopupPanel {
	z-index: 1000; position: absolute; line-height: 13px; margin-top: 5px; text-overflow: ellipsis; display: none; visibility: hidden; overflow: hidden
}
.psrch-PopupContainer {
	border-bottom: #bec2c7 2px solid; width: 502px; background: url(../../../images/recent_doc_gradient.png)/*tpa=http://www.cbre.com/_layouts/images/recent_doc_gradient.png*/ #fff repeat-x; height: 193px
}
.psrch-PopupContainer #TabList {
	border-bottom: #bec2c7 1px solid; border-left: #e6e9ed 1px solid; margin: 0px; height: 22px; border-right: #e6e9ed 1px solid
}
.psrch-PopupContainer #TabList LI {
	border-bottom: transparent 1px solid; position: relative; border-left: transparent 1px solid; text-overflow: ellipsis; max-width: 200px; white-space: nowrap; float: left; overflow: hidden; border-top: #e6e9ed 1px solid; border-right: transparent 1px solid
}
.psrch-PopupContainer #TabKeywordRelated {
	padding: 4px 10px;
	left: -1px
}
.psrch-PopupContainer #TabRecentlyUpdated {
	padding: 4px 10px;
	left: -1px
}
.psrch-PopupContainer #Close {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px !important; padding-left: 0px !important; padding-right: 2px !important; float: right !important; border-top: 0px; border-right: 0px; padding-top: 3px !important
}
.psrch-PopupContainer #Close img {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; border-top: 0px; cursor: pointer !important; border-right: 0px; padding-top: 0px
}
.psrch-PopupContainer #TabList LI a {
	text-decoration: none
}
.psrch-Tabselected {
	border-bottom: #fff 1px solid; border-left: #bec2c7 1px solid; border-top: #bec2c7 1px solid; border-right: #bec2c7 1px solid
}
.psrch-Tabselected a {
}
.psrch-ResultWrapper {
	border-left: #bec2c7 1px solid; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; height: 135px; border-right: #bec2c7 1px solid; padding-top: 11px
}
.psrch-PopupContainer #NoResult {
	margin: 0px 0px 0px 11px
}
.psrch-PopupContainer #PopupResults {
	margin: 0px
}
.psrch-PopupContainer #PopupResults LI {
	text-overflow: ellipsis; white-space: nowrap; height: 27px; overflow: hidden
}
.psrch-PopupContainer #Linkimg {
	border-bottom: 0px; border-left: 0px; margin: 0px 11px; vertical-align: middle; border-top: 0px; cursor: pointer !important; border-right: 0px
}
.psrch-PopupContainer #MoreLink {
	padding-bottom: 0px; padding-left: 0px; padding-right: 11px; float: right; height: 24px; border-right: #bec2c7 1px solid; padding-top: 0px
}
.psrch-PopupContainer #PopupFooter {
	border-left: #bec2c7 1px solid; height: 24px
}
.psrch-PopupContainer #Progress {
	z-index: 2000; border-bottom: #e6e9ed 1px solid; position: relative; text-align: center; border-left: #e6e9ed 1px solid; padding-bottom: 11px; padding-left: 11px; width: 300px; padding-right: 11px; display: block; white-space: nowrap; background: #fff; border-top: #e6e9ed 1px solid; border-right: #e6e9ed 1px solid; padding-top: 11px; top: -85px; left: 88px
}
.psrch-UpdateGraphics {
	padding-right: 11px; vertical-align: middle
}
.psrch-FullResult {
	padding-bottom: 0px; margin: 0px; min-height: 1px; padding-left: 0px; padding-right: 0px; border-top: #ccc 1px dashed; padding-top: 11px
}
.psrch-FirstFullResult {
	padding-bottom: 0px; margin: 0px; min-height: 1px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
.psrch-textSeparator {
	margin: -4px; color: #ccc
}
.psrch-results {
	padding-bottom: 0px; padding-left: 24px; padding-right: 24px; padding-top: 0px
}
.psrch-Main {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
.psrch-Main UL {
	padding-bottom: 0px; list-style-type: none; margin: 0px; padding-left: 0px; padding-right: 0px; list-style-image: none; padding-top: 0px
}
.psrch-Main #UserPhoto {
	padding-bottom: 0px; margin: 0px 0px 11px; padding-left: 0px; width: 102px; text-overflow: ellipsis; padding-right: 0px; float: left; overflow: hidden; padding-top: 0px
}
.psrch-Main #UserPhoto img {
	border-bottom: #ccc 1px solid; border-left: #ccc 1px solid; padding-bottom: 2px; padding-left: 2px; padding-right: 2px; display: block; max-width: 96px; max-height: 96px; margin-left: auto; border-top: #ccc 1px solid; margin-right: auto; border-right: #ccc 1px solid; padding-top: 2px
}
.psrch-Main #ColleagueField {
	text-align: center
}
.psrch-Main #JBean {
	margin: 3px 4px 0px 11px; float: left
}
.psrch-Main #ContactInfo {
	padding-bottom: 0px; margin: 0px 11px 0px 0px; padding-left: 0px; width: 232px; text-overflow: ellipsis; padding-right: 0px; float: left; overflow: hidden; padding-top: 0px
}
.psrch-Main #ContactInfo UL {
	margin: 0px 0px 11px
}
.psrch-Main #ContactInfo LI {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
.psrch-Main #MoreInfo {
	padding-bottom: 0px; margin: 0px 0px 0px 372px; padding-left: 0px; text-overflow: ellipsis; padding-right: 0px; max-width: 530px; overflow: hidden; padding-top: 0px
}
.psrch-Main #MoreInfo LI {
	padding-bottom: 0px; margin: 0px 0px 11px 11px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
.psrch-Main #FieldTitle {
	display: block; font-size: 1.1em
}
.psrch-Main #SelfSrchHeading {
	border-bottom: #0072bc 1px solid; border-left: #0072bc 1px solid; padding-bottom: 0px; margin: 0px; padding-left: 0px; text-overflow: ellipsis; padding-right: 0px; background: #e0eef8; float: left; overflow: hidden; border-top: #0072bc 1px solid; border-right: #92c3e7 1px solid; padding-top: 0px
}
.psrch-Main #SelfSrchHeading TaBLE {
	text-align: center; width: 100px; table-layout: fixed; height: 100px
}
.psrch-Main #SelfSrchHeading td {
	padding-bottom: 11px; padding-left: 11px; padding-right: 11px; padding-top: 11px
}
.psrch-Main #SelfSrchFreq {
	border-bottom: #0072bc 1px solid; padding-bottom: 11px; margin: 0px; padding-left: 11px; width: 248px; text-overflow: ellipsis; padding-right: 11px; float: left; height: 78px; overflow: hidden; border-top: #0072bc 1px solid; padding-top: 11px
}
.psrch-Main #SelfSrchFreq SPaN {
	font-weight: bold
}
.psrch-Main #SelfSrchFreq LI {
	font-style: italic; margin-left: 11px
}
.psrch-Main #SelfSrchTermsContent {
	font-style: italic; margin-left: 11px
}
.psrch-Main #SelfSrchFreqTitle {
	margin-top: 11px
}
.psrch-Main #SelfSrchTermsTitle {
	margin-top: 11px
}
.psrch-Main #SelfSrchTerms {
	border-bottom: #0072bc 1px solid; min-width: 248px; border-left: #bcbcbc 1px dashed; padding-bottom: 11px; margin: 0px 0px 0px 372px; padding-left: 10px; text-overflow: ellipsis; padding-right: 10px; display: table; max-width: 507px; table-layout: fixed; height: 78px; overflow: hidden; border-top: #0072bc 1px solid; border-right: #0072bc 1px solid; padding-top: 11px
}
.psrch-Main #ContactInfo #NameField a {
	font-size: 1.3em
}
.psrch-Main #Clear {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; width: 0px; padding-right: 0px; height: 0px; CLEaR: both; border-top: 0px; border-right: 0px; padding-top: 0px
}
.psrch-Main #Clear2 {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; width: 0px; padding-right: 0px; height: 11px; CLEaR: both; border-top: 0px; border-right: 0px; padding-top: 0px
}
.psrch-FirstSummaryResult {
	padding-bottom: 0px; margin: 0px; min-height: 1px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
.psrch-SummaryResult {
	padding-bottom: 0px; margin: 0px; min-height: 1px; padding-left: 0px; padding-right: 0px; padding-top: 6px
}
.psrch-OptionsOuterContainer {
	z-index: 1000; position: absolute; padding-bottom: 0px; margin: 3px 0px 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
.psrch-OptionsContainer {
	border-bottom: #d0d0d0 2px solid; border-left: #d0d0d0 1px solid; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; background: url(../../../images/recent_doc_gradient.png)/*tpa=http://www.cbre.com/_layouts/images/recent_doc_gradient.png*/ #fff repeat-x center bottom; border-top: #d0d0d0 1px solid; border-right: #d0d0d0 1px solid; padding-top: 3px
}
.psrch-OptionsLayoutTable {
	border-bottom: 0px; border-left: 0px; width: 100%; border-top: 0px; border-right: 0px
}
.psrch-OptionsTitle {
	text-align: left; white-space: nowrap; font-size: 12px
}
.psrch-OptionsClose {
	text-align: right
}
.psrch-OptionsClose img {
	border-bottom: 0px; border-left: 0px; border-top: 0px; cursor: pointer !important; border-right: 0px
}
.psrch-OptionsLabelField {
	text-align: left; padding-bottom: 0px; padding-left: 0px; padding-right: 25px; white-space: nowrap; padding-top: 4px
}
.psrch-OptionsValueField {
	text-align: left; padding-bottom: 0px; padding-left: 0px; width: 100%; padding-right: 7px; padding-top: 4px
}
.psrch-OptionsValueField INPUT {
	width: 100%
}
.psrch-OptionsValueField DIV {
	width: inherit !important
}
.ms-ptabnt {
	text-align: left
}
.srch-autoCompContainer {
	z-index: 1000; border-bottom: #b6babf 1px solid; position: absolute; border-left: #b6babf 1px solid; padding-bottom: 5px; margin: 0px; padding-left: 0px; padding-right: 0px; background: #fff; visibility: hidden; border-right: #b6babf 1px solid; padding-top: 5px
}
.srch-autoCompDropimg {
	position: absolute; width: 16px; background: url(../../../images/querysuggest.gif)/*tpa=http://www.cbre.com/_layouts/images/querysuggest.gif*/ no-repeat; height: 8px; top: -1px; left: 14px
}
.srch-autoCompList {
	text-align: left; padding-bottom: 0px; margin: 0px; padding-left: 0px; text-overflow: ellipsis; padding-right: 0px;  white-space: nowrap; font-size: 1.3em; overflow: hidden; cursor: pointer; padding-top: 0px
}
.srch-autoCompListItem {
	padding-bottom: 4px; margin: 0px; padding-left: 11px; padding-right: 2px; background: #fff; padding-top: 4px
}
.srch-autoCompHListItem {
	border-bottom: #91cdf2 1px solid; padding-bottom: 3px; margin: 0px; padding-left: 11px; padding-right: 2px;  border-top: #c6e5f8 1px solid; padding-top: 3px;
}
.srch-SocDistTitle {
	border-bottom: #d6e8ff 1px solid; padding-bottom: 2px; width: 100%; margin-bottom: 5px; color: #333; font-size: 1.2em; font-weight: bold
}
.psrch-Description {
	padding-bottom: 2px; color: #333; margin-left: 0px; font-size: 1em
}
.psrch-Description B {
	color: #333; font-weight: bold
}
.psrch-PropLabel {
	font-size: 1em
}
.psrch-PropValue {
	font-size: 1em
}
.psrch-Title {
	font-size: 1.2em
}
.psrch-Title a:link {
	padding-left: 4px; text-decoration: none
}
.psrch-Title a:visited {
	padding-left: 4px; text-decoration: none
}

.psrch-Metadata {
	margin: 0px 0px 25px; font-size: 1em
}
.psrch-profimg {
	border-bottom: #e0ded5 1px solid; border-left: #e0ded5 1px solid; background: #ececec; table-layout: fixed; border-top: #e0ded5 1px solid; border-right: #e0ded5 1px solid
}
.psrch-result {
	padding-bottom: 16px
}
.psrch-propcell {
	padding-left: 8px
}
.psrch-Icon {
	position: relative; float: left; top: 2px
}


.srch-refinearea {
	min-height: 300px
}
.ms-searchref-taxapply {
	border-bottom: gray 1px solid; border-left: gray 1px solid; border-top: gray 1px solid; border-right: gray 1px solid; align: right
}

.ms-searchref-caption {
	padding-bottom: 8px; padding-left: 10px; padding-right: 0px; color: #000 !important; vertical-align: middle; padding-top: 10px
}



.ms-searchref-subsite {
	margin-left: 10px !important
}
.ms-searchref-count {
	font-size: 0.9em
}

.srch-HighConfidence {
	background: #f7f3cd
}
.srch-HCMain {
	border-bottom: #6f9dd9 1px solid; padding-bottom: 0px; margin: 5px 0px 10px; padding-left: 0px; width: 100%; padding-right: 0px; padding-top: 0px
}
.srch-BestBets {
	width: 100%; max-width: 630px
}
DIV.srch-BB-Result {
	padding-bottom: 20px; padding-left: 24px
}
DIV.srch-BestBetsbottom {
	margin-top: 5px; margin-bottom: 15px; margin-left: 143px
}
DIV.srch-BestBetsbottom2 {
	border-bottom: #dbddde 1px solid; width: 330px
}
DIV.srch-BestBetsbottom2 img {
	display: none
}
DIV.ms-topanswerseperation {
	margin-top: 5px; margin-left: 123px
}
DIV.ms-topanswerseperation {
	border-bottom: #dbddde 1px solid; width: 330px
}
DIV.ms-topanswerseperation img {
	display: none
}
SPaN.srch-BB-URL2 {
	margin: 0px 0px 4px;  max-width: 575px; word-wrap: break-word; font-size: 1em
}
.srch-BB-URL3 {
	margin-left: 24px; overflow: hidden
}
SPaN.srch-BB-URL {
	margin: 0px 0px 4px 2px; width: 100%
}

.srch-BestBetsTitle {
	margin: 0px 0px 4px; font-size: 1.2em
}

SPaN.srch-BestBetsTitle img {
	vertical-align: middle; margin-right: 4px
}
.srch-BB-Description2 {
	margin: 0px 0px 2px 24px;  max-width: 575px; word-wrap: break-word; color: #000; font-size: 1em
}
.srch-BB-Description {
	margin: 0px 0px 4px 2px; width: 100%; color: #333; font-size: 1em
}

DIV.srch-BB-SpecialTerm {
	padding-bottom: 10px; width: 100%; 
}

SPaN.srch-BB-SpecialTerm {
	margin: 0px 0px 4px
}
SPaN.srch-BB-SpecialTerm img {
	vertical-align: middle; margin-right: 4px
}
.srch-Inputtext {
	margin: 0px;  color: #666; font-size: 10pt
}
.srch-groupbar {
	background: #ebf3ff; color: #000
}
td.ms-vb {
	font-family: tahoma, verdana, Arial, helvetica, sans-serif; font-size: 8pt
}
TH.ms-vh {
	font-family: tahoma, verdana, Arial, helvetica, sans-serif; font-size: 8pt; vertical-align: top; text-decoration: none
}

.ms-srchaligntop {
	padding-bottom: 0px; padding-top: 0px
}

.ms-advsrch-img {
	border-bottom: medium none; border-left: medium none; padding-bottom: 5px; padding-left: 0px; padding-right: 0px; vertical-align: middle; border-top: medium none; margin-right: 5px; border-right: medium none; padding-top: 4px
}


H3.ms-advsrchHeadingtext {
	margin: 1em
}
td.ms-advsrchHeadingtext {
	font-size: 1.3em; font-weight: normal !important
}


.ms-searchsummaryUrl {
	text-overflow: ellipsis; 
}
DIV.ms-searchsummarydescouter {
	padding-bottom: 0px; padding-left: 0px; padding-right: 4px; display: block; margin-bottom: 10px; padding-top: 0px
}
DIV.ms-searchsummarydesc {
	padding-bottom: 0px; padding-left: 0px; width: 180px; padding-right: 0px;  font-size: 1em; overflow: hidden; text-decoration: none; padding-top: 0px
}
.ms-searchsummarydesc img {
	width: 120px; height: 160px
}
.ms-searchsummarydesc DIV {
	position: static !important; margin: 0px; float: none !important; height: 100% !important
}
.ms-searchsummarydesc DIV DIV {
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	padding: 0px;
	position: static !important;
}
.ms-searchsummarydesc DIV DIV EMBED {
	position: static !important; width: 240px !important; height: 180px !important; align: 0
}
.ms-searchsummarydesc font {
	padding-left: 2px;  color: #333333 !important; font-size: 10pt !important; text-decoration: none
}
.ms-searchsummarymain {
	padding-bottom: 0px; margin: 0px 0px 25px; padding-left: 0px; width: 190px; padding-right: 10px; padding-top: 0px
}

DIV.ms-searchsummarybody {
	position: relative; padding-left: 10px; left: 0px
}
*:first-child + HTML DIV.ms-searchsummarybody {
	width: 180px
}
DIV.ms-searchChannelTitle {
	position: relative; padding-bottom: 5px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 4px; left: 0px
}
.ms-searchChannelTitle SPaN {
	 margin-left: 10px; font-size: 1.1em; text-decoration: none
}
.ms-searchChannelTitle SPaN img {
	border-bottom: 0px; border-left: 0px; vertical-align: top; border-top: 0px; margin-right: 3px; border-right: 0px
}
.ms-searchsummarymorelink {
	padding-bottom: 0px; padding-left: 10px; padding-right: 0px; font-size: 1em; padding-top: 0px
}

.ms-searchtaTitle a:link {
	margin: 0px 5px 0px 8px; 
}
.ms-searchtaTitle a:visited {
	margin: 0px 5px 0px 8px; 
}
.ms-searchtaTitle a:hover {
	margin: 0px 5px 0px 8px; 
}
.ms-searchtaTitle img {
	width: 16px; vertical-align: bottom
}
.ms-searchtaUrl {
	 margin-left: 24px; font-size: 1em; text-decoration: none
}
DIV.ms-searchtadescouter {
	padding-bottom: 0px; padding-left: 0px; padding-right: 4px; display: block; padding-top: 0px
}
.ms-searchtadesc img {
	width: 120px; height: 160px
}
.ms-searchtadesc DIV {
	position: static !important; margin: 0px;  float: none !important; height: 100% !important
}
.ms-searchtadesc DIV DIV {
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	padding: 0px;
	position: static !important;
}
.ms-searchtadesc DIV DIV EMBED {
	position: static !important; width: 240px !important; height: 180px !important; align: 0
}
.ms-searchtadesc font {
	padding-left: 2px;  font-size: 8pt !important; text-decoration: none
}
DIV.ms-searchtadesc {
	margin: 2px 0px 2px 24px;  max-width: 575px; color: #000; font-size: 1em
}
.ms-searchtadesc B {
	margin: 2px; color: #000; font-size: 1.1em; font-weight: 700
}
.ms-searchtamain {
	padding-bottom: 15px; padding-left: 24px; max-width: 630px
}
DIV.ms-searchtabody {
	position: relative; padding-bottom: 15px; overflow: hidden; left: 0px
}
DIV.ms-searchtaChannelTitle {
	padding-bottom: 4px; margin: 0px 0px 10px; padding-left: 0px; padding-right: 0px; background: url(Unknown_83_filename)/*tpa=http://www.cbre.com/_layouts/images/checkmark.gif*/ no-repeat left center; padding-top: 4px
}
.ms-searchtaChannelTitle SPaN {
	 margin-left: 3px; font-size: 10pt !important; font-weight: bold; text-decoration: none
}
.ms-searchtaChannelTitle SPaN img {
	border-bottom: 0px; border-left: 0px; margin-left: 16px; border-top: 0px; margin-right: 3px; border-right: 0px
}


.srch-HCSocDistTitle {
	padding-left: 19px; width: 100%; font-family: Tahoma, Verdana !important; background: url(Unknown_83_filename)/*tpa=http://www.cbre.com/_layouts/images/checkmark.gif*/ no-repeat left top; font-size: 10pt !important; font-weight: bold
}
.psrch-HCresult {
	padding-bottom: 10px; padding-left: 2px; padding-right: 0px; padding-top: 4px
}
td.ms-sbscopes select {
	padding-bottom: 6px; margin: 0px; padding-left: 10px; padding-right: 5px; display: block; padding-top: 5px
}
.ms-sbtable {
	font-style: normal;  color: #000; font-weight: normal
}
.ms-sbtablealt {
	font-style: normal;  color: #000; font-size: 0.7em; font-weight: normal
}
.ms-sbtable-ex {
	border-collapse: collapse; float: left
}
td.ms-sbcellnoborder {
	border-bottom: 0px; border-left: 0px; padding-right: 2px; white-space: nowrap; border-top: 0px; border-right: 0px
}
.ms-sbtext {
	padding-right: 5px;  white-space: nowrap; font-size: 1em
}
.ms-sbplain {
	border-bottom: #b6babf 1px solid; border-left: #b6babf 1px solid; padding-bottom: 7px; padding-left: 10px; padding-right: 2px; display: block; border-collapse: collapse;  background: url(../../../images/bgximg.png)/*tpa=http://www.cbre.com/_layouts/images/bgximg.png*/ #fff repeat-x 0px -511px; height: 17px; font-size: 10.5pt; border-top: #b6babf 1px solid; border-right: medium none; padding-top: 6px
}
.ms-sbplainwithborder {
	font-size: 8pt
}

.ms-sbLastCell {
	padding-right: 10px
}
td.ms-sbscopes {
	border-bottom: medium none; border-left: medium none; padding-right: 10px; border-top: medium none; border-right: medium none
}
select.ms-sbscopes {
	border-bottom: #dbddde thin solid; border-left: #dbddde thin solid; width: 170px;  font-size: 1.3em; vertical-align: middle; border-top: #dbddde thin solid; border-right: #dbddde thin solid
}

.srch-wperror {
	padding-bottom: 8px; padding-left: 8px; padding-right: 8px; padding-top: 0px
}

.srch-picture {
	border-bottom: #ccc 1px solid; border-left: #ccc 1px solid; padding-bottom: 2px; padding-left: 2px; padding-right: 2px; max-width: 92px; max-height: 92px; vertical-align: middle; border-top: #ccc 1px solid; border-right: #ccc 1px solid; padding-top: 2px
}
.srch-picture1 {
	width: 16px; padding-right: 8px; float: left
}
.srch-picture2 {
	text-align: center; width: 102px; float: left; height: 102px; margin-right: 10px
}
.srch-picturetext {
	list-style-type: none; margin: 0px; list-style-image: none
}
.srch-definition {
	color: #666; margin-left: 10px
}
.srch-definition2 {
	margin-top: 10px
}
.srch-definition a:link {
	text-decoration: underline
}
.srch-alertme a:link, .srch-alertme a:visited { margin: 0px; }

.srch-alertme a:hover {
	margin: 0px
}
.srch-alertme a img {
	margin-left: 3px !important
}
.srch-Title img {
	width: 16px; vertical-align: bottom
}

.srch-BBTitle {
	padding-left: 8px !important; margin-left: 0px !important; font-size: 1.3em !important
}
.srch-urllink {
	display: inline-block; margin-right: 8px
}

.srch-Icon img {
	width: 16px; float: left; vertical-align: bottom
}
.ms-searchresultsareaSeparator {
	padding-bottom: 0px; padding-left: 0px; padding-right: 0px; background: #d6e8ff; padding-top: 0px
}
.ms-sctabarea {
	margin-top: 0px
}

.ms-sctabnt {
	padding-bottom: 3px; padding-left: 7px; padding-right: 0px; padding-top: 3px
}

.ms-sctabrx {
	text-align: left; padding-bottom: 2px; padding-left: 4px; width: 100%; padding-right: 4px; vertical-align: middle; padding-top: 2px
}
.ms-sctabcnb {
	padding-bottom: 0px
}
.ms-sctabcnb img {
	display: none
}
.ms-sctabcfb img {
	display: none
}
.ms-sctabcfb {
	padding-bottom: 0px
}
.srch-dropdown {
	margin-left: 5px; font-size: 1.1em
}

.srch-clear {
	CLEaR: both; padding-top: 10px
}
.srch-sb-main {
	padding-bottom: 10px; width: 100%; height: 100%; padding-top: 150px
}
DIV.srch-BestBetsWPTitle {
	position: relative; padding-bottom: 10px; background: url(Unknown_83_filename)/*tpa=http://www.cbre.com/_layouts/images/checkmark.gif*/ no-repeat left top
}
SPaN.srch-BestBetsWPTitle {
	padding-left: 20px; font-size: 1.2em; font-weight: bold
}
.s4-search TaBLE {
	width: 212px; float: left; margin-right: 17px
}
.s4-search .ms-sbtable-ex {
	margin-top: 2px; float: right; margin-right: 2px
}
.s4-searchbox .ms-sbtable-ex {
	float: left !important
}
INPUT.s4-searchbox-QueryPrompt {
	font-style: italic
}
.s4-search select.ms-sbscopes {
	border: #e3e3e3 1px solid; margin-top: 0px; 
}
.s4-search INPUT.ms-sbplain {
	border: #e3e3e3 1px solid; margin-top: 0px; 
}
.s4-search select.ms-sbscopes {
	padding-bottom: 2px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
.s4-search INPUT.ms-sbplain {
	border-bottom: #e3e3e3 1px solid; border-left: #e3e3e3 1px solid; padding-bottom: 0px; padding-left: 3px; width: 191px !important; padding-right: 3px; background: url(../../../images/bgximg.png)/*tpa=http://www.cbre.com/_layouts/images/bgximg.png*/ #fff repeat-x 0px -511px; height: 17px; font-size: 1.1em; border-top: #e3e3e3 1px solid; border-right: #e3e3e3 1px solid; padding-top: 2px
}
.s4-search .srch-gosearchimg {
	padding: 0px;
	border-bottom: 1px solid #e3e3e3;
	border-left: medium none;
	background: #fff url('../../../images/bgximg.png')/*tpa=http://www.cbre.com/_layouts/images/bgximg.png*/ repeat-x 0px -511px;
	height: 19px; 	border-top: #e3e3e3 1px solid; 	border-right: #e3e3e3 1px solid;
}
.ms-osssearch-Searchareatd {
	border-bottom: #b6babf 1px solid; padding-bottom: 4px; background: #fcfcfc; padding-top: 6px
}
.ms-osssearch-NotificationDiv {
	padding-bottom: 4px; float: left; padding-top: 4px;
}
.s4-searchbox {
	width: 100%
}
.srch-ext-action-margin {
	margin-right: 10px
}
.srch-ext-table {
	border-collapse: collapse
}
.srch-ext-detail-table-docpreview {
	margin-left: 24px
}
.srch-ext-docpreview {
	margin-left: 0px
}
.src-ext-tablevaligntop {
	padding-bottom: 0px; padding-left: 0px; padding-right: 0px; vertical-align: top; padding-top: 0px
}
.srch-ext-previewContainer {
	position: relative
}
.srch-ext-doc-prev-btn {
	width: 24px
}
.srch-ext-visualbestbet {
	border-bottom: 0px; position: relative; border-left: 0px; margin: 0px; width: 90%; overflow: hidden; border-top: 0px; border-right: 0px; left: 40px
}
.srch-ext-previewcloseicon {
	z-index: 1; border-bottom: silver 1px solid; position: absolute; border-left: silver 1px solid; width: 18px; display: none; height: 18px; border-top: silver 1px solid; cursor: pointer; border-right: silver 1px solid; top: 0px; left: 0px
}
.srch-ext-spanleft {
	text-align: center; width: 22px; display: none; color: #666; font-size: 24px; cursor: pointer; user-select: none
}
.srch-ext-spanleft:hover {
	border-bottom: #d0d0d0 1px solid; border-left: #d0d0d0 1px solid; line-height: 160px; width: 20px; border-top: #d0d0d0 1px solid; border-right: #d0d0d0 1px solid
}
.srch-ext-spanleftdis {
	text-align: center; line-height: 162px; width: 22px; display: none; color: #ccc; font-size: 24px; cursor: pointer; user-select: none
}
.srch-ext-spanright {
	text-align: center; line-height: 162px; width: 22px; display: none; color: #666; margin-left: 2px; font-size: 24px; cursor: pointer; user-select: none
}
.srch-ext-spanright:hover {
	border-bottom: #d0d0d0 1px solid; border-left: #d0d0d0 1px solid; line-height: 160px; width: 20px; border-top: #d0d0d0 1px solid; border-right: #d0d0d0 1px solid
}
.srch-ext-spanrightdis {
	text-align: center; line-height: 162px; width: 22px; display: none; color: #ccc; font-size: 24px; cursor: pointer; user-select: none
}
a.srch-ext-previewLinksDis {
	color: #666; cursor: arrow; text-decoration: none !important
}
a.srch-ext-previewLinksDis:link {
	color: #666; cursor: arrow; text-decoration: none !important
}
a.srch-ext-previewLinksDis:active {
	color: #666; cursor: arrow; text-decoration: none !important
}
a.srch-ext-previewLinksDis:hover {
	color: #666; cursor: arrow; text-decoration: none !important
}
.srch-ext-Metadata {
	margin: 0px 0px 0px 24px; border-top: 0px
}
.srch-ext-title {
	margin-top: 20px; margin-bottom: 10px
}
.srch-ext-result {
	CLEaR: both
}
.srch-ext-previewThumbnailDiv {
	position: relative; margin: 2px 10px 16px 0px
}
.srch-ext-previewIconDocimg {
	border-bottom: #d0d0d0 1px solid; border-left: #d0d0d0 1px solid; border-top: #d0d0d0 1px solid; border-right: #d0d0d0 1px solid
}
.srch-ext-previewIconPptimg {
	border-bottom: #d0d0d0 1px solid; border-left: #d0d0d0 1px solid; border-top: #d0d0d0 1px solid; cursor: pointer; border-right: #d0d0d0 1px solid
}
.srch-ext-mgnfier {
	z-index: 2; position: absolute; bottom: -10px; cursor: pointer; right: 0px
}
.srch-ext-prev-error {
	z-index: 2; position: absolute; bottom: 0px; cursor: pointer; right: 0px
}
.srch-ext-previewDivDocimg {
	border-bottom: silver 1px solid; border-left: silver 1px solid; padding-bottom: 8px; padding-left: 8px; padding-right: 8px; margin-left: 0px; border-top: silver 1px solid; margin-right: 2px; border-right: silver 1px solid; padding-top: 8px
}
.srch-ext-previewDivDocimgLast {
	border-bottom: silver 1px solid; border-left: silver 1px solid; padding-bottom: 8px; padding-left: 8px; padding-right: 8px; margin-left: 0px; border-top: silver 1px solid; margin-right: 0px; border-right: silver 1px solid; padding-top: 8px
}
.srch-ext-previewDivPptimg {
	border-bottom: silver 1px solid; border-left: silver 1px solid; margin-left: 0px; border-top: silver 1px solid; margin-right: 2px; border-right: silver 1px solid
}
.srch-ext-previewDivPptimgLast {
	border-bottom: silver 1px solid; border-left: silver 1px solid; margin-left: 0px; border-top: silver 1px solid; cursor: pointer; margin-right: 0px; border-right: silver 1px solid
}
.srch-ext-fullViewCenter {
	margin: 10px
}
.srch-ext-fullViewTable {
	border-bottom: #000 1px solid; FILTER: alpha(opacity=95); border-left: #000 1px solid; background: #eee; border-top: #000 1px solid; border-right: #000 1px solid; opacity: 0.95
}
.srch-ext-fullViewTr {
	text-align: right
}
.srch-ext-fullViewClose {
	border-bottom: #000 1px solid; border-left: #000 1px solid; width: 0px; background: #ddd; font-size: 10pt; border-top: #000 1px solid; cursor: pointer; font-weight: bold; border-right: #000 1px solid
}
.srch-ext-fullViewTabletd {
	text-align: center
}
.srch-ext-fullViewimg {
	border-bottom: #000 1px solid; border-left: #000 1px solid; border-top: #000 1px solid; border-right: #000 1px solid
}
.srch-ext-findSimilarLink {
 font-size: 9pt
}
.srch-ext-previewWindow {
	width: 600px; display: none; margin-bottom: 20px; float: left; height: 166px; margin-left: 0px; overflow: hidden
}
.srch-ext-previewDiv {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; width: 3350px; padding-right: 0px; overflow: hidden; cursor: pointer; padding-top: 0px
}
.srch-ext-duplicate-count {
	font-size: 0.9em
}
.ms-qrblinks a:visited {
 text-decoration: none
}
.ms-pagemargin {
 background-color: #006b54 !important

}

}
