body {
	padding-top:20px;
}

select {
	padding-left:10px;
	padding-right:10px;	
}

#topnavInner {
	position:static;
}

#langMenu {

}

#Search_input {
	margin-top:1px;
	zoom:1;
}

#globalnav {
	top:-10px;
	*top:-3px;
	zoom:1;
}

#bodyContent {
	margin-top: 15px;
}

#bodyContentExt {
	float:left;
	width:686px;
	margin:30px 30px 0px 0px;
	position:relative;
}

#homeFlash {
	margin-top:0px;
	margin-bottom:-11px;
}

iframe.stockTickerIF { 
	margin-top:-6px; 
	margin-left:-3px;
	_margin-left:2px; /* _underscore targets IE6 only */
}

#side-image {
	right:62px;
	margin-bottom:13px;
}

/* Sets Flash positioning on Client Success Page */
#flash {
	clear:both;
	position:relative;
	left:-32px;
	top:-175px;
}

#flashhdr {
	position:relative;
	font-family:Arial,Helvetica,sans-serif;
	color:rgb(143,195,68);
	clear:both;
	font-size:32px;
	top:-190px;
	left:-25px;
}

#rightCol {
	margin-top:60px;
}

.menu_sub_body {
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	color:#000;
	margin-left:50px;
	margin-top:6px;
}