body {
  color: #ffffff;
  background-color: #2bacd8;
}

#s4-workspace{overflow-x:hidden;}
#TopNav {font: 14px 'interstateregular', Helvetica, sans-serif; color:#FFF;} 
p.HeroBrandName {font: 80px 'gotham-bold', Helvetica Bold, sans-serif; text-transform:uppercase;}
p.HeroArticleTitle {font: 52px 'gotham-bold', Helvetica Bold, sans-serif; text-transform:uppercase; min-width:570px!important;}
p.HeroBriefSummary {font: 18px 'interstateregular', Helvetica, sans-serif;}
a.HeroMoreLink:link, a.HeroMoreLink:visited {font: 13px 'gotham-bold', Helvetica Bold, sans-serif; color:#2badd8 !important; text-transform:uppercase; text-decoration:none;}
.HeroDarkText{color:#000 !important;}

.HomeBottomContainer{margin-top:-50px;}
.HomeBottomContainer div.row{
	margin-left:0px;
}
h2.ms-webpart-titleText{
	margin-left:10px;
}
.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a {font: 13px 'gotham-bold', Helvetica Bold, sans-serif; color: #FFF}
.HomeBottomHeadline, .HomeBottomHeadline a, .HomeBottomHeadline a:link, /* news and financial results */
.link-item, .link-item a, .link-item a:link,  /* blog */
.HomeBottomLink a, .HomeBottomLink a:link
{font: 16px 'interstateregular', Helvetica, sans-serif;  color: #FFF !important;}
.HomeBottomLink{margin-left:10px;}
.HomeBottomHeadline {/*height:95px;*/ margin-left:-5px!important; padding:5px 10px;margin-top:16px}
#HomeFinancial.span4 .HomeBottomHeadline{height:100%; margin-top:5px;}
#HomeFinancial.span4 .HomeBottomHeadline:hover {
		margin-top:5px;
		height:100%;
		background: rgb(0, 0, 0) transparent;
		background: rgba(0, 0, 0, 0.2);
		filter:alpha(opacity=90);
}

#HomeNews .item.link-item:hover, #HomeNews.span4 .HomeBottomHeadline:hover, #HomeBlog.span4 .HomeBottomHeadline:hover { /*news and blog hover */
		background: rgb(0, 0, 0) transparent;
		background: rgba(0, 0, 0, 0.2);
		filter:alpha(opacity=90);
}

div#WebPartWPQ5 div.ms-vb a, .HomeBottomLink, .HomeBottomLink a, .HomeBottomLink a:link{ /* darker text for links under financial results */
	color:#06607b !important; font-weight:bold; 
}

div#WebPartWPQ5 div.ms-vb a{
	height:100px;
}

.ms-vb:link, div#WebPartWPQ5 p:link /* financial results */
{color: #FFF !important; text-decoration:underline;}

div#HomeFinancial.span4 div.HomeBottomHeadline p a
{
	text-decoration:underline;
}
.HomeBottomHeadline p{
	margin-left:5px;
}

hr{background-color:#2790b0; border:0 none; color:#2790b0; height:1px; width:40px;}



#arrowsparrows{width: 103%; position: absolute; bottom: 0px; z-index:1000; overflow:hidden;}
#right,#left {
 background-color:#2CACD9;
 float:left;
 display:inline-block;
 max-width:100%;
 min-width:46%;
 min-height:25px;
}
#middle {
 float:left;
 display:inline-block;
 background-color:blue;
 min-height:25px;
 background:transparent url('../../../SiteCollectionImages/arrow_home.png')/*tpa=http://www.viacom.com/SiteCollectionImages/arrow_home.png*/ no-repeat center top; height:25px; width:75px;
}

<!--[if IE 7]>  
#WebPartWPQ1, #WebPartWPQ2, #WebPartWPQ4, #WebPartWPQ1 {
	overflow:hidden !important;
	}
<![endif]--> 




/* jwplayer styles start */
			img.pic{
			width:100%;
			height:100%;
			}
		

			#overlay {
				position:fixed; 
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:#000;
				opacity:0.75;
				filter:alpha(opacity=75);
			}

			#modal {
                position: fixed;
                top: 50%;
                left: 50%;
                z-index: 1050;
                width: 680px;
                margin: -250px 0 0 -280px;
				background:rgba(0,0,0,0.2);
				border-radius:14px;
				padding:8px;
			}

			#content_wrapper {
				border-radius:8px;
				background:#fff;
				padding:20px;
                width: 520px;
			}

			#close {
				position:absolute;
				background:url(../../../SiteCollectionImages/close.png)/*tpa=http://www.viacom.com/SiteCollectionImages/close.png*/ 0 0 no-repeat;
				width:24px;
				height:27px;
				display:block;
				text-indent:-9999px;
				top:-7px;
				right:-7px;
			}		
/* jwplayer player ends */

.blogwidth{width:128px;height:91px}
.blogstyles{font:16px 'interstateregular', Helvetica, sans-serif;margin-left:135px;margin-top:-90px;padding-bottom:65px;height:79px}
.color, div.blogstyles a:visited, div.blogstyles a:link  {color:#ffffff!important;}
.color:hover{background:rgba(0, 0, 0, 0.2)}
.color{margin-left:2px!important;}
.hrmargin{margin-left:12px!important;width:40px;}
.newshr{margin-left:12px!important;width:40px;margin-bottom:20px}
.bottomcolor{color:#000000!important;}
.BlogBottomHeadline {height:100px; margin-left:-5px; padding:4.5px 10px;margin-top:-6px!important}
.NewsBottomHeadline {margin-top:0px;padding-bottom:0px;/*previously 20px*/margin-left:-2px!important;}
.FBottomHeadline {margin-top:0px;padding-bottom:20px;padding:5px 10px}
.newsfont, .newsfont a{font:16px 'interstateregular', Helvetica, sans-serif;color:#ffffff!important}
.newsfont a{text-decoration:underline;}

.FinancialBottomHeadline{/*height:422px;*/margin-left:-2px;margin-top:16px;}

.ms-rtestate-field p, p.ms-rteElement-P {
	line-height:1!important;
}

#HomeNews h2.ms-webpart-titleText{margin-left:4px;}
#HomeNews .groupheader {display: none;}
#HomeNews .link-item a:hover{margin-bottom:15px; text-decoration:none !important;}
#HomeNews .item.link-item{margin-bottom:15px;}
#HomeNewsSeparator{height: 13px; margin-left: -7px; margin-bottom: 10px;}
#HomeNews .hrmargin{margin-bottom: 15px;}
#HomeNewsSeparatorAfter{
	height:9px;
}
.dfwp-column{margin-left:0px !important;}