
@font-face {
    font-family: 'Foundry Sterling Medium';
    src: url('http://f.fontdeck.com/f/1/X0FmU1pqMFIABdwPx6SnChYvov8TRbLN/YwY0fVB5jJLoWdS94h5E6BiyJjflgwMcdguBK7zfcmtc6Fc0msKSrkk/4rC89Nmc1D9QUCbMGUv+Rfqqqkm5HG90NTgkXpbV9htG7jsTTc7kulYPfnIMS46m7DtTBVI8H8Tdnsm9SAkNTRsEM+OPkYtjERxVWjKsqs40kJ85eP1fW/OCTH4DBtR7+3SfgpRqjzrGU96Padu9Htfzbzj6Ydi3mCjUZX6wkhaaAYGhHTO5A.eot');
    src: url('http://f.fontdeck.com/f/1/X0FmU1pqMFIABdwPx6SnChYvov8TRbLN/YwY0fVB5jJLoWdS94h5E6BiyJjflgwMcdguBK7zfcmtc6Fc0msKSrkk/4rC89Nmc1D9QUCbMGUv+Rfqqqkm5HG90NTgkXpbV9htG7jsTTc7kulYPfnIMS46m7DtTBVI8H8Tdnsm9SAkNTRsEM+OPkYtjERxVWjKsqs40kJ85eP1fW/OCTH4DBtR7+3SfgpRqjzrGU96Padu9Htfzbzj6Ydi3mCjUZX6wkhaaAYGhHTO5A.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/X0FmU1pqMFIABdwPx6SnChYvov8TRbLN/YwY0fVB5jJLoWdS94h5E6BiyJjflgwMcdguBK7zfcmtc6Fc0msKSrkk/4rC89Nmc1D9QUCbMGUv+Rfqqqkm5HG90NTgkXpbV9htG7jsTTc7kulYPfnIMS46m7DtTBVI8H8Tdnsm9SAkNTRsEM+OPkYtjERxVWjKsqs40kJ85eP1fW/OCTH4DBtR7+3SfgpRqjzrGU96Padu9Htfzbzj6Ydi3mCjUZX6wkhaaAYGhHTO5A.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/X0FmU1pqMFIABdwPx6SnChYvov8TRbLN/YwY0fVB5jJLoWdS94h5E6BiyJjflgwMcdguBK7zfcmtc6Fc0msKSrkk/4rC89Nmc1D9QUCbMGUv+Rfqqqkm5HG90NTgkXpbV9htG7jsTTc7kulYPfnIMS46m7DtTBVI8H8Tdnsm9SAkNTRsEM+OPkYtjERxVWjKsqs40kJ85eP1fW/OCTH4DBtR7+3SfgpRqjzrGU96Padu9Htfzbzj6Ydi3mCjUZX6wkhaaAYGhHTO5A.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Foundry Sterling Book Italic';
    src: url('http://f.fontdeck.com/f/1/aHdGYmZfNVkABeQzQ9nYA716JlBmnvBdo1RBa1vqkJj2H1KnTBo0vfD/Pf1e1KVUXT0+ZTmN2NdmAvUbF/dW2kwG69rDdusA46rCXKRCbFZ0MKi1zubZUeda+1/lVcCQba1lDwAvFoVz8pi1dtn/Xiz8eUN1v1bDp00BQVVNn3gtiw3QiUqiAf+xP+E1KtixoDmPtoqLIeZ1zq5B8eOh6KHxrhs2Sh6E5Sfxw0TIMT6KZsx9JiKMu31VnXXjiumEfV0Fgk7sxgX8cA.eot');
    src: url('http://f.fontdeck.com/f/1/aHdGYmZfNVkABeQzQ9nYA716JlBmnvBdo1RBa1vqkJj2H1KnTBo0vfD/Pf1e1KVUXT0+ZTmN2NdmAvUbF/dW2kwG69rDdusA46rCXKRCbFZ0MKi1zubZUeda+1/lVcCQba1lDwAvFoVz8pi1dtn/Xiz8eUN1v1bDp00BQVVNn3gtiw3QiUqiAf+xP+E1KtixoDmPtoqLIeZ1zq5B8eOh6KHxrhs2Sh6E5Sfxw0TIMT6KZsx9JiKMu31VnXXjiumEfV0Fgk7sxgX8cA.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/aHdGYmZfNVkABeQzQ9nYA716JlBmnvBdo1RBa1vqkJj2H1KnTBo0vfD/Pf1e1KVUXT0+ZTmN2NdmAvUbF/dW2kwG69rDdusA46rCXKRCbFZ0MKi1zubZUeda+1/lVcCQba1lDwAvFoVz8pi1dtn/Xiz8eUN1v1bDp00BQVVNn3gtiw3QiUqiAf+xP+E1KtixoDmPtoqLIeZ1zq5B8eOh6KHxrhs2Sh6E5Sfxw0TIMT6KZsx9JiKMu31VnXXjiumEfV0Fgk7sxgX8cA.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/aHdGYmZfNVkABeQzQ9nYA716JlBmnvBdo1RBa1vqkJj2H1KnTBo0vfD/Pf1e1KVUXT0+ZTmN2NdmAvUbF/dW2kwG69rDdusA46rCXKRCbFZ0MKi1zubZUeda+1/lVcCQba1lDwAvFoVz8pi1dtn/Xiz8eUN1v1bDp00BQVVNn3gtiw3QiUqiAf+xP+E1KtixoDmPtoqLIeZ1zq5B8eOh6KHxrhs2Sh6E5Sfxw0TIMT6KZsx9JiKMu31VnXXjiumEfV0Fgk7sxgX8cA.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Foundry Sterling Bold';
    src: url('http://f.fontdeck.com/f/1/ZnViT1diZ0UABMVNS7TQb/rS/5aA6yLNo0AnjP6Bl/PrZJUqU567LtgPR2cO5FuOujW6tuiJ8wby3zNImXWH0ujVGP/0aIa4ts5Tp5biMf0b1isGX2EMXGBQCeEPab6qNShQgdODJpRAFVJB4HCiSbK5gGi9tIhutgl0kT5BgC1SiOJLkfP6xDGfFR97Fu8DDVhyc5wDp8PhNUoSwIuj4LbODy7CLckUQc/M461S1On4M3Jln6XdndIjgUvYq6Xf5Dfe9CDakoYdrA.eot');
    src: url('http://f.fontdeck.com/f/1/ZnViT1diZ0UABMVNS7TQb/rS/5aA6yLNo0AnjP6Bl/PrZJUqU567LtgPR2cO5FuOujW6tuiJ8wby3zNImXWH0ujVGP/0aIa4ts5Tp5biMf0b1isGX2EMXGBQCeEPab6qNShQgdODJpRAFVJB4HCiSbK5gGi9tIhutgl0kT5BgC1SiOJLkfP6xDGfFR97Fu8DDVhyc5wDp8PhNUoSwIuj4LbODy7CLckUQc/M461S1On4M3Jln6XdndIjgUvYq6Xf5Dfe9CDakoYdrA.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/ZnViT1diZ0UABMVNS7TQb/rS/5aA6yLNo0AnjP6Bl/PrZJUqU567LtgPR2cO5FuOujW6tuiJ8wby3zNImXWH0ujVGP/0aIa4ts5Tp5biMf0b1isGX2EMXGBQCeEPab6qNShQgdODJpRAFVJB4HCiSbK5gGi9tIhutgl0kT5BgC1SiOJLkfP6xDGfFR97Fu8DDVhyc5wDp8PhNUoSwIuj4LbODy7CLckUQc/M461S1On4M3Jln6XdndIjgUvYq6Xf5Dfe9CDakoYdrA.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/ZnViT1diZ0UABMVNS7TQb/rS/5aA6yLNo0AnjP6Bl/PrZJUqU567LtgPR2cO5FuOujW6tuiJ8wby3zNImXWH0ujVGP/0aIa4ts5Tp5biMf0b1isGX2EMXGBQCeEPab6qNShQgdODJpRAFVJB4HCiSbK5gGi9tIhutgl0kT5BgC1SiOJLkfP6xDGfFR97Fu8DDVhyc5wDp8PhNUoSwIuj4LbODy7CLckUQc/M461S1On4M3Jln6XdndIjgUvYq6Xf5Dfe9CDakoYdrA.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Foundry Sterling Extra Bold';
    src: url('http://f.fontdeck.com/f/1/bDgtbXlUOWwABNU9BJIQE/c+3Cau+lrSNNNMTDpWPtp0xD4yWUwlx5A+7UAyA76K0Uz9AcQ///aOvTH4tAmPFt9YvtQo/aeWZC3xOx+2kWSawHJedd9R1zmUpH2VAdd3Mz6BLUVJRmABJr9BnoTfCIZNeYrebdfeUnm1qb9e92EgXn375kP6J7ybVGLsAZi1nlWrI8ksbsYA+fkl+sEhcBO5jRo6YTyZDgGtHe7z+EfxNIQ9kZZLH1TSlnA+ut2cpl4c4aj3InlqAg.eot');
    src: url('http://f.fontdeck.com/f/1/bDgtbXlUOWwABNU9BJIQE/c+3Cau+lrSNNNMTDpWPtp0xD4yWUwlx5A+7UAyA76K0Uz9AcQ///aOvTH4tAmPFt9YvtQo/aeWZC3xOx+2kWSawHJedd9R1zmUpH2VAdd3Mz6BLUVJRmABJr9BnoTfCIZNeYrebdfeUnm1qb9e92EgXn375kP6J7ybVGLsAZi1nlWrI8ksbsYA+fkl+sEhcBO5jRo6YTyZDgGtHe7z+EfxNIQ9kZZLH1TSlnA+ut2cpl4c4aj3InlqAg.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/bDgtbXlUOWwABNU9BJIQE/c+3Cau+lrSNNNMTDpWPtp0xD4yWUwlx5A+7UAyA76K0Uz9AcQ///aOvTH4tAmPFt9YvtQo/aeWZC3xOx+2kWSawHJedd9R1zmUpH2VAdd3Mz6BLUVJRmABJr9BnoTfCIZNeYrebdfeUnm1qb9e92EgXn375kP6J7ybVGLsAZi1nlWrI8ksbsYA+fkl+sEhcBO5jRo6YTyZDgGtHe7z+EfxNIQ9kZZLH1TSlnA+ut2cpl4c4aj3InlqAg.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/bDgtbXlUOWwABNU9BJIQE/c+3Cau+lrSNNNMTDpWPtp0xD4yWUwlx5A+7UAyA76K0Uz9AcQ///aOvTH4tAmPFt9YvtQo/aeWZC3xOx+2kWSawHJedd9R1zmUpH2VAdd3Mz6BLUVJRmABJr9BnoTfCIZNeYrebdfeUnm1qb9e92EgXn375kP6J7ybVGLsAZi1nlWrI8ksbsYA+fkl+sEhcBO5jRo6YTyZDgGtHe7z+EfxNIQ9kZZLH1TSlnA+ut2cpl4c4aj3InlqAg.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Foundry Sterling Demi';
    src: url('http://f.fontdeck.com/f/1/RlRraUd3bjQABcZcRnlvIA5dsuyJictJOrs6Sn8t8MEUoW6ZNb8e/m7AlmhdQp/CfY4F6jrAOzXJDSjxXnHcEJDiHnSFQ+tOM0DbSf0Ui30nXapCzmV1K0JFPQ16LJ3hXBV0BJp+WaHvkYyJuXh1/vOahydsd1QOYREbgdGQvDHJJ85LcMZphRFzx1tQ73sBe69rn8fakwuMF/VDzj0XO9CQ7VOeuGL7YI7hlPRlTGh0jmQ/uR+aGqyY1AQX82j1tFvhQqrcKlzttA.eot');
    src: url('http://f.fontdeck.com/f/1/RlRraUd3bjQABcZcRnlvIA5dsuyJictJOrs6Sn8t8MEUoW6ZNb8e/m7AlmhdQp/CfY4F6jrAOzXJDSjxXnHcEJDiHnSFQ+tOM0DbSf0Ui30nXapCzmV1K0JFPQ16LJ3hXBV0BJp+WaHvkYyJuXh1/vOahydsd1QOYREbgdGQvDHJJ85LcMZphRFzx1tQ73sBe69rn8fakwuMF/VDzj0XO9CQ7VOeuGL7YI7hlPRlTGh0jmQ/uR+aGqyY1AQX82j1tFvhQqrcKlzttA.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/RlRraUd3bjQABcZcRnlvIA5dsuyJictJOrs6Sn8t8MEUoW6ZNb8e/m7AlmhdQp/CfY4F6jrAOzXJDSjxXnHcEJDiHnSFQ+tOM0DbSf0Ui30nXapCzmV1K0JFPQ16LJ3hXBV0BJp+WaHvkYyJuXh1/vOahydsd1QOYREbgdGQvDHJJ85LcMZphRFzx1tQ73sBe69rn8fakwuMF/VDzj0XO9CQ7VOeuGL7YI7hlPRlTGh0jmQ/uR+aGqyY1AQX82j1tFvhQqrcKlzttA.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/RlRraUd3bjQABcZcRnlvIA5dsuyJictJOrs6Sn8t8MEUoW6ZNb8e/m7AlmhdQp/CfY4F6jrAOzXJDSjxXnHcEJDiHnSFQ+tOM0DbSf0Ui30nXapCzmV1K0JFPQ16LJ3hXBV0BJp+WaHvkYyJuXh1/vOahydsd1QOYREbgdGQvDHJJ85LcMZphRFzx1tQ73sBe69rn8fakwuMF/VDzj0XO9CQ7VOeuGL7YI7hlPRlTGh0jmQ/uR+aGqyY1AQX82j1tFvhQqrcKlzttA.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Foundry Sterling Light';
    src: url('http://f.fontdeck.com/f/1/T0lobDFZaTkABEULHp/qCdgrIZDWFPRz8MlP2yZ4OkEIXBbUMlUexdMWc2HoRtLYVkiT+2EZJQS8FsDmuH/QG55FLxn8qh14tRmbYz+K7tObVE3Of5tYzt63pm2UXXbX+QZORuXsd7ejLGMjjbX8gSGhknQYOJi5kUfPGWyX3nexDzn3+xdueOHZdLs+a2tBfrHCZSRZM1Ak40Bk873B2tmZK1R5+qcaj3cLi5uibv4uY4bnAyXWMUqlmHLLlX+KJpePvD6nh2dnhA.eot');
    src: url('http://f.fontdeck.com/f/1/T0lobDFZaTkABEULHp/qCdgrIZDWFPRz8MlP2yZ4OkEIXBbUMlUexdMWc2HoRtLYVkiT+2EZJQS8FsDmuH/QG55FLxn8qh14tRmbYz+K7tObVE3Of5tYzt63pm2UXXbX+QZORuXsd7ejLGMjjbX8gSGhknQYOJi5kUfPGWyX3nexDzn3+xdueOHZdLs+a2tBfrHCZSRZM1Ak40Bk873B2tmZK1R5+qcaj3cLi5uibv4uY4bnAyXWMUqlmHLLlX+KJpePvD6nh2dnhA.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/T0lobDFZaTkABEULHp/qCdgrIZDWFPRz8MlP2yZ4OkEIXBbUMlUexdMWc2HoRtLYVkiT+2EZJQS8FsDmuH/QG55FLxn8qh14tRmbYz+K7tObVE3Of5tYzt63pm2UXXbX+QZORuXsd7ejLGMjjbX8gSGhknQYOJi5kUfPGWyX3nexDzn3+xdueOHZdLs+a2tBfrHCZSRZM1Ak40Bk873B2tmZK1R5+qcaj3cLi5uibv4uY4bnAyXWMUqlmHLLlX+KJpePvD6nh2dnhA.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/T0lobDFZaTkABEULHp/qCdgrIZDWFPRz8MlP2yZ4OkEIXBbUMlUexdMWc2HoRtLYVkiT+2EZJQS8FsDmuH/QG55FLxn8qh14tRmbYz+K7tObVE3Of5tYzt63pm2UXXbX+QZORuXsd7ejLGMjjbX8gSGhknQYOJi5kUfPGWyX3nexDzn3+xdueOHZdLs+a2tBfrHCZSRZM1Ak40Bk873B2tmZK1R5+qcaj3cLi5uibv4uY4bnAyXWMUqlmHLLlX+KJpePvD6nh2dnhA.ttf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Foundry Sterling Book';
    src: url('http://f.fontdeck.com/f/1/c2ZrQjg4dUUABKQZOrJN2qQobKrlfbUi6kmFrlWbcBW3wOxdoM7xvy1ZZd9yp7vwl+JDapjj00wWVaWiUvpn4JVdnCG97EDXY/HYD/7/j2rvMjNw1D81WFwYi3GObDZRxGVjm2pplmjbWacBQQA05InRPUN+GfC2GWOljZKr5XXst9X/xgg/UWv5Ni+hJMn8Ok8jMNy+d4ebwe1mvO+khDEwRFfznLiyTdd7Th1rZVGAwz5Pt+JpI/z8/Zi1O+VCSvSv3NnCN6lB4g.eot');
    src: url('http://f.fontdeck.com/f/1/c2ZrQjg4dUUABKQZOrJN2qQobKrlfbUi6kmFrlWbcBW3wOxdoM7xvy1ZZd9yp7vwl+JDapjj00wWVaWiUvpn4JVdnCG97EDXY/HYD/7/j2rvMjNw1D81WFwYi3GObDZRxGVjm2pplmjbWacBQQA05InRPUN+GfC2GWOljZKr5XXst9X/xgg/UWv5Ni+hJMn8Ok8jMNy+d4ebwe1mvO+khDEwRFfznLiyTdd7Th1rZVGAwz5Pt+JpI/z8/Zi1O+VCSvSv3NnCN6lB4g.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/c2ZrQjg4dUUABKQZOrJN2qQobKrlfbUi6kmFrlWbcBW3wOxdoM7xvy1ZZd9yp7vwl+JDapjj00wWVaWiUvpn4JVdnCG97EDXY/HYD/7/j2rvMjNw1D81WFwYi3GObDZRxGVjm2pplmjbWacBQQA05InRPUN+GfC2GWOljZKr5XXst9X/xgg/UWv5Ni+hJMn8Ok8jMNy+d4ebwe1mvO+khDEwRFfznLiyTdd7Th1rZVGAwz5Pt+JpI/z8/Zi1O+VCSvSv3NnCN6lB4g.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/c2ZrQjg4dUUABKQZOrJN2qQobKrlfbUi6kmFrlWbcBW3wOxdoM7xvy1ZZd9yp7vwl+JDapjj00wWVaWiUvpn4JVdnCG97EDXY/HYD/7/j2rvMjNw1D81WFwYi3GObDZRxGVjm2pplmjbWacBQQA05InRPUN+GfC2GWOljZKr5XXst9X/xgg/UWv5Ni+hJMn8Ok8jMNy+d4ebwe1mvO+khDEwRFfznLiyTdd7Th1rZVGAwz5Pt+JpI/z8/Zi1O+VCSvSv3NnCN6lB4g.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
