/* 
	General Cable Text Stylesheet
	Author: Doug McKay (doug.mckay@brulant.com)	
	Date:	12/05/2005
*/

body { font-family: Verdana, Arial, Helvetica, sans-serif !important; font-size: 70%; color: #666; margin: 0px; }
input, textarea, button { font-size: 11px; }
a { color: #009121; text-decoration: none; }
a:hover, #quicklinks ul li a:hover { text-decoration: underline; }
form { margin: 0px; padding: 0px; }

h1 { font-size: 1.2em; margin: .5em .1em; color: #009121; }
h2 { font-size: 1.1em; margin: .5em .1em; color: #009121; }
p { margin: .5em .1em; }

.wn_block p { font-size: .9em; }
.wn_block h1 { font-size: 1em; }
.wn_block2 p { font-size: .9em; }
.wn_block2 h1 { font-size: 1em; }


#quicklinks ul li a { font-size: .85em; color: #666; text-decoration: none; }

#navigation_left dt { font-weight: bold; }

/*#nav_top { font-size: .9em; } */
#nav_top a {  color: #000; text-decoration: none;  }
#nav_top a { color: #000; text-decoration: none; }
#nav_top ul li a { text-decoration: none; font-weight: bold; }
#nav_top ul li a:hover { color: #009121;  }
#nav_top li ul li a:hover { color: #fff; background-color: #999; }

#nav ul li a { font-size: .9em; }
#nav li ul li a { font-size: 1em; font-weight: normal; } 

#home #content { font-size: 1em; }
#content { font-size: .85em; }

/* #h_left { font-size: .9em; } */
#h_left_pad { font-size: .95em; }
#h_right { font-size: .9em; }

ul.c_arrow { color: #009121; font-weight: bold; }

#breadcrumb { font-size: 0.9em;  color: #009121;   }
#content_focus #breadcrumb { font-size: 1em;  color: #009121; }

#nav_side { font-weight: bold; font-size: 1em; }
#nav_side .on, #nav_side .on a { color: #666; }
#nav_side ul li { font-weight: bold; font-size: .85em; }
#nav_side ul li.on a { text-decoration: underline; }
#nav_side ul ul{ font-size: .95em; }
#nav_side ul ul li { background: url(../images/icons/side_arrow.gif)/*tpa=http://www.generalcable.com/GeneralCable/images/icons/side_arrow.gif*/   no-repeat 0px .50em; }

#corporate_btn a { color: #fff; font-size: 1.1em; font-weight: bold; text-decoration: none; } 

#mygen {  color: #fff; }
#mygen form label strong { text-align: left; font-weight: normal;  font-size: .9em; }
#mygen a { font-size: .9em; color: #fff; }

#nav_side .on, #nav_side .on a{ color: #666; }
#nav_side ul li.on a { text-decoration: underline; }
#nav_side ul li { background: url(../images/icons/side_arrow.gif)/*tpa=http://www.generalcable.com/GeneralCable/images/icons/side_arrow.gif*/  no-repeat  0px .50em; }

#navigation_left dt { font-weight: bold; }
#navigation_left dd a { font-weight: bold; font-size: 1.0em; }
#navigation_left dd a:hover { color: #666; }
#navigation_left dd li a { font-size: .95em; }
#navigation_left dd.over a { color: #666; }		
#navigation_left dd li a:hover { text-decoration: underline; }
/*#navigation_left dd.over li a { background-image: none; }*/

#main_content #input_align a { text-decoration: underline; font-size: 1.2em; }
#main_content #input_align p { font-size: .9em; }

#content_wrap p { color: #009121; }

#contactA { color: #009121; line-height: 110%; font-size: 110%; }
#contactA strong { font-size: 110%; }
#contactB { color: #009121; line-height: 110%; font-size: 110%; }
#contactB strong { font-size: 110%; }

#form_table td { color: #009121; line-height: 160%; }

#footer { font-size: .9em; }
#footer a { color: #666; }


/* SITE MAP & BRANDING :: START */
#home #content_diff { font-size: 1em; }
#content_diff { font-size: .85em; }

#content_focus_pad li { line-height: 140%; }
#content_focus_pad li a { text-decoration: none; }
#content_focus_pad li a:hover { text-decoration: underline; }

#footer_diff { font-size: .9em; }
#footer_diff a { color: #666; }
/* SITE MAP & BRANDING :: END */

#map_works a:hover { text-decoration: none; }


#content_focus_pad_site {  }
#content_focus_pad_site ul li { font-weight: bold; font-size: 1.2em; }
#content_focus_pad_site ul#right_map   ul li  { font-weight: bold; font-size: 1.1em; }
#content_focus_pad_site ul#left_map {  }
#content_focus_pad_site ul#right_map li ul li ul li { font-weight: normal; font-size: .9em; }
#content_focus_pad_site ul#right_map   ul li ul li { font-weight: bold; font-size: .9em; } 
#content_focus_pad_site ul li ul li { font-weight: bold; font-size: .9em; }
#content_focus_pad_site li ul li ul li { font-weight: bold; font-size: .9em; }
#content_focus_pad_site li ul li ul li ul li{ font-weight: normal; font-size: .9em; }
