/** 
 * Everslider - Responsive jQuery Carousel Plugin
*/
.everslider {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 0 20px;
}

.everslider .es-slides {
	position: relative;
	width: 100000px;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-transform: translate3d(0,0,0);
}

.everslider .es-slides > li {
	position: relative;
	float: left;
	padding: 0!important;
    border: 0!important;
	width: 1000px;
	height: 500px;
    margin: 0 10px 0 0;
    cursor: default; 
	cursor: -webkit-grab; 
	cursor: -moz-grab;
	 -webkit-transform: translate3d(0,0,0);
}

.everslider.es-swipe-grab .es-slides > li {
	cursor: default; 
    cursor: -webkit-grabbing; 
    cursor: -moz-grabbing; 
}

.everslider .es-slides img {
	width: 100%;
	height: auto;
	max-width: none;
}
@media screen and (max-width: 38em) 
{
	.hero img {
	opacity: .2;}

}

/* Preload */

.everslider {
	background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/preload.gif*/ no-repeat center;
}

.everslider.es-slides-ready {
	background: none;
}

.es-slides {
	visibility: hidden;
}

.es-slides-ready .es-slides {
	visibility: visible;
}


/* Navigation */
@media screen and (max-width: 20em) {
	.es-navigation {visibility:hidden;}
}

.es-navigation a {
    position: absolute;
    top: 45%;
    margin-top: -17px;
    padding: 7px;
}

.es-navigation .es-prev { left: 0 }
.es-navigation .es-next { right: 0 }

.es-navigation .es-first,
.es-navigation .es-last,
.es-navigation .es-next,
.es-navigation .es-prev {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default;
    background-color:#666;
}

.es-navigation a span {
	display: block;
	width: 20px;
	height: 22px;
	text-indent: -9999px;
}

.es-navigation .es-prev span {
	background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/arrows.png*/ no-repeat 0 0;
}

.es-navigation .es-next span {
	background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/arrows.png*/ no-repeat -20px 0;
}

.es-navigation .es-prev span.alt-arrow {
	background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/arrows.png*/ no-repeat 0 -20px;
}

.es-navigation .es-next span.alt-arrow {
	background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/arrows.png*/ no-repeat -20px -20px;
}
}
/* Pagination */
@media screen and (max-width: 30em) {
	.es-pagination {visibility:hidden;}
}

.es-pagination {
    left: 50%;
    bottom: 0px;
    position:absolute;
}

.es-pagination a {
    position: relative;
    right: 50%;
    float: left;
    width: 13px;
    height: 13px;
    overflow: hidden;
    background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/bullets.png*/ no-repeat 0 0;
    margin: 0 5px 0;
    text-indent: -9999px;
}

.es-pagination .es-active {
	background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/bullets.png*/ no-repeat -13px 0;
}

/* Ticker */

.es-ticker {
	position: absolute;
    bottom: 0;
    right: 0;
}

.es-ticker a {
	display: block;
    padding: 7px;
    background-color: #eee;
}

.es-ticker a span {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
}

.es-ticker .es-play span {
    background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/ticker.png*/ no-repeat 0 0;
}

.es-ticker .es-pause span {
    background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/ticker.png*/ no-repeat -20px 0;
}

/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio:1.5) {
	/* Navigation */
	.es-navigation .es-prev span {
	    background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/arrows@2x.png*/ no-repeat 0 0;
	    background-size: 40px 40px;
	}
	.es-navigation .es-next span {
	    background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/arrows@2x.png*/ no-repeat -20px 0;
	    background-size: 40px 40px;
	}
	/* Pagination */
	.es-pagination a {
	    background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/bullets@2x.png*/ no-repeat 0 0;
	    background-size: 26px 13px;
	}
	.es-pagination a.es-active {
	    background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/bullets@2x.png*/ no-repeat -13px 0;
	    background-size: 26px 13px;
	}
	/* Ticker */
	.es-ticker .es-play span {
	    background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/ticker@2x.png*/ no-repeat 0 0;
	    background-size: 40px 20px;
	}
	.es-ticker .es-pause span {
	    background: url(Unknown_83_filename)/*tpa=http://www.paccar.com/images/ticker@2x.png*/ no-repeat -20px 0;
	    background-size: 40px 20px;
	}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
