.menu
{
	white-space:nowrap;
	float:left;
	position:relative;
}


.menu:after 
{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.menu ul.horizontal,
.menu ul.vertical
{
	
	margin:0;
	padding:0;
	display:none;
	position:relative;
	left:0;
	float:left;
}

.menu .item
{
	float:left;
	position:relative;
	list-style:none;
	_display:inline;
}


.menu .horizontal .item
{
	clear:none;
}

.menu .vertical .item
{
	clear:both;
}


.menu ul.active,
.menu ul.rootGroup
{
	display:block;
}

.menu .slide, 
.contextMenu
{
	position:absolute;
	overflow:hidden;
	display:none;
	_height:1px;
	float:left;
}

.contextMenu
{
	z-index:1000;
}

.menu .text
{
	display:block;
}

.menu a.link
{
	cursor:default;
	display:block;	
}


.scrollWrap
{
	position:absolute;
	float:left;
	overflow:hidden;
}

.menu .leftArrow,
.menu .topArrow,
.menu .bottomArrow,
.menu .rightArrow
{
	position:absolute;
	z-index:2000;
	text-indent:-1000em;
}

.menu .leftArrowDisabled,
.menu .topArrowDisabled,
.menu .bottomArrowDisabled,
.menu .rightArrowDisabled
{
	display:none;
	text-indent:-1000em;
}

.menu .leftImage
{
	border:0;
	float:left;
}

.rtl
{
	float:right;
}

.rtl ul.horizontal,
.rtl ul.vertical
{
	float:right;
}

.rtl .item
{
	float:right;	
}

.rtl .leftImage,
.rtlcontext .leftImage
{
	border:0;
	float:right;
}