    /***** BEGIN BASELINE STYLES *****/

body {
    background: url("../img/main_bg.jpg")/*tpa=http://www.halliburton.com/web-resources/common/img/main_bg.jpg*/ repeat-x scroll 0 0 #CCCCCC;
    height: 100%;
    margin: 0;
    padding: 0;
}

body, div, table, tr, td, th, ul, li, img, h1, h2, h3 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

em, i {
	font-style:italic;
}

strong, b {
	font-weight:bold;
}

u {
	text-decoration:underline;
}

h1 {
	font-size: 18px;
	line-height: 18px;
	color: #cc0000;
	padding: 15px 0 5px 0px;
	font-weight: normal;
}

h2 {
	font-size: 14px;
	line-height: 14px;
	color: #333333;
	padding: 5px 0 5px 0px;
	font-weight:bold;
}

h3	{
	font-size: 16px;
	line-height: 16px;
	color: #ffffff;
	padding: 15px 0 5px 0px;
	font-weight: bold;	
}

h4 {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    padding: 0px 10px 0px 1px;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}

.sup {
	font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
	top: -0.5em;
}
.supSmall {
	font-size: 70%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
	top: -0.5em;
}

* html * img,img,* img
{
    border: 0px;
}
.bodyIframe {
    background:#fff!important;
}
.bodyIframe * 
{
    background-color:#fff;
}
.contactLayout {
    width: 500px!important;
}
.ui-autocomplete, .ac_results
{
    border:1px solid silver!important;
    background-color:#fff!important;
    z-index:2500;
}
.ui-autocomplete
{
    width:243px;
    max-height: 250px;
    overflow: auto;
    position:relative;
}
* html .ui-autocomplete {
    height: 250px;
}
.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
}
.ui-menu li, .ac_results ul li
{
    margin:5px 3px 5px 2px;
    padding:2px 0px 2px 3px;
    cursor:pointer;
    border:1px solid transparent!important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:95%!important;
}
.ui-menu li:hover, .ac_results ul li:hover, .ac_results ul li.ac_over 
{
    background-color: #C00!important;
    color:#fff;
}
.spinner 
{
    background: transparent url("../img/spinner.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/spinner.gif*/ no-repeat center center scroll;
    position:absolute;
    top: 1%;
    left: 23%;
    z-index:999;
    width: 50%;
    height: 100%;
}
#overlay 
{
     background: #000;
     opacity:0.9;
     filter:alpha(opacity=90);
     position:fixed;
     left:0px;
     top:0px;
     z-index: 1;
     width:100%;
     height:100%;
}

#overlayModal
{
     background: #000;
     opacity:0.9;
     filter:alpha(opacity=90);
     position:fixed;
     left:0px;
     top:0px;
     z-index: 1;
     width:100%;
     height:100%;
}
#home_bottom 
{
    background: url("../img/home_bottom.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/home_bottom.gif*/ no-repeat scroll 0 0 #ffffff;
    display:block;
    width: 1007px;
    height:4px;
    position: absolute;
    bottom: -22px;
    left: 0px;
}
/* style block for #contentWrapper position:relative was removed 1-9-2014 */
#pageWrapper {
	background: url("../img/home_top_bg.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/home_top_bg.gif*/ no-repeat scroll 0 0 #ffffff;
    margin: 0 auto;
}

#pageWrapperOverlay {
	background-color: #ffffff;
	width: 100%;
}

#leftColumn {
    padding: 0 0 10px 5px;
}

#centerColumnWrapper {
    display: block;
	float: left;
	position: relative;
}

#centerColumn, #centerColumn-OneColumnLayout {
   border: 1px solid #CCCCCC;
   position:relative;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   padding:7px;
   overflow: visible;
   padding-left: 13px;
   padding-right: 17px;
}
#centerColumn * p, #centerColumn-OneColumnLayout * p 
{
    margin-top:0px;
    margin-bottom:10px;
}

#centerColumn * ul, #centerColumn-OneColumnLayout * ul
{
    padding-left: 20px;
    list-style: disc;
    margin-bottom:10px;
    font-size:12px;
}
#centerColumn * ul li ul, #centerColumn-OneColumnLayout * ul li ul 
{
    padding-left: 20px;
    list-style:circle;
}

#centerColumn * a, #rightColumn * a, #centerColumn-OneColumnLayout * a
{
    color:#30407B;
}

#centerColumn > span, #centerColumn-OneColumnLayout > span 
{
    margin-left:0px!important;
}

#centerColumn .border-top-right, #centerColumn-OneColumnLayout .border-top-right
{
    background: url("../img/border-top-right.png")/*tpa=http://www.halliburton.com/web-resources/common/img/border-top-right.png*/ no-repeat scroll 0 0 white;
    position:absolute;
    top: -1px;
    right: -1px;
    width: 6px;
    height: 6px;
    display:block;
}

#centerColumn .border-top-left, #centerColumn-OneColumnLayout .border-top-left
{
    background: url("../img/border-top-left.png")/*tpa=http://www.halliburton.com/web-resources/common/img/border-top-left.png*/ no-repeat scroll 0 0 white;
    position:absolute;
    top: -1px;
    left: -1px;
    width: 6px;
    height: 6px;
    display: block;
}

#centerColumn-OneColumnLayout 
{
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 0 15px 15px 15px;
    margin: 20px 20px 30px 20px;
}

#centerColumnWrapper div #centerColumnRow 
{
    margin-right: 8px!important;
    margin-bottom: 15px;
}

#centerColumnWrapper div #centerColumnRow div #centerColumn, 
#centerColumnWrapper div #centerColumnRow div #centerColumn-OneColumnLayout
{
    border-top-left-radius: 0px;
}

#centerColumnWrapper div #centerColumnRow div #centerColumn .border-top-left, 
#centerColumnWrapper div #centerColumnRow #centerColumn-OneColumnLayout .border-top-left
{
    display: none!important;
}

#centerColumnRow * .halSidebarLineBreak, #centerColumn-OneColumnLayout * .halSidebarLineBreak 
{
    display:none!important;
}
#centerColumnRow *  .sidebarDocumentListingComponent,
#centerColumn-OneColumnLayout  * .sidebarDocumentListingComponent 
{
    margin-top:5px;
    margin-bottom:10px;     
}
#centerColumn #tabbedNavRow, #centerColumnWrapper div #tabbedNavRow {
	z-index:2;
    height: auto;
    position:relative;
    top:1px;
}

#centerColumn-HomePageLayout {
    margin: 10px 0px 10px 0px;
    
    /* used to be 11px for margin-left */
}

#footerWrapper {
	background-color: #666666;
	border-top: 9px solid #CC0000;
	margin-top: 22px;
	text-decoration: none;
	color: #ffffff;
}

/* Sets the minimum height during edit mode */
.ls-area-body .content {
	min-height: 24px !important;
}

/***** END BASELINE STYLES *****/


/***** BEGIN halcom-global-navigation component *****/

#globalNavWrapper {
	background: url("../img/nav_off.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/nav_off.gif*/ repeat-x scroll bottom left;
	background-position: 0px 78px;
}

#globalNavWrapper .globalNavUtility {
	height: 60px;
	background-color: #ffffff;
    position:relative;
}
#globalNavWrapper .globalNavUtility p
{
    display:none;
}
#globalNavWrapper .globalNavUtility > div
{
    position:absolute;
    top:18px;
    right:20px;
}
#globalNavWrapper .globalNavUtility > div:first-child 
{
    position:relative;
    top:0px;
    right:0px;
}

#globalNavWrapper .globalNavRegister {
	height: 20px;
	background: url("../img/main_bg.jpg")/*tpa=http://www.halliburton.com/web-resources/common/img/main_bg.jpg*/ repeat-x scroll 0 0;
	color: #ffffff;
	text-align: right;
	font-size: 90%;
	padding-top: 5px;
	display:block;
}

#globalNavWrapper .globalNavRegister table 
{
    float:right;
}

#globalNavWrapper .globalNavRegister a {
	color: #ffffff;
	text-decoration: none;
}

#globalNavWrapper .globalNavRegister a:hover {
	text-decoration: underline;
}

#globalNavWrapper .globalNavLogo {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

#globalNavWrapper .globalNavSearch {
	margin-top: 20px;
	margin-left:250px;
	float: left;
}

#globalNavWrapper .globalNavSearch input {
	border: 1px solid #7F9DB9;
	text-indent: 2px;
	margin-right: 1px;
}

#globalNavWrapper .primaryNav 
{
    background: url("../img/nav_off.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/nav_off.gif*/ repeat-x scroll 0 0;
	border-top: 3px solid #CC0000;	
	height:28px;
}

#globalNavWrapper li {
	list-style: none outside none;
	font-size: 11px;
}

#globalNavWrapper a {
	text-decoration: none;
}


#globalNavWrapper .primaryNav > ul > li {
	border-right: 2px solid #ffffff;
	float: left;
	display: inline; 
}

#globalNavWrapper .primaryNav > ul > li > a {
	background: url("../img/nav_off.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/nav_off.gif*/ repeat-x scroll 0 0;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	display: block;
    padding: 6px 22px 6px 22px;
}

#globalNavWrapper .primaryNav > ul > li > a:hover, #globalNavWrapper .primaryNav > ul > li > a.active {
	background: url("../img/nav_on.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/nav_on.gif*/ repeat-x scroll 0 0;
	color: #ffffff;
}

#globalNavWrapper .primaryNav > ul > li > .primaryNavCurrent {
	background: url("../img/nav_on.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/nav_on.gif*/ repeat-x scroll 0 0;
	color: #ffffff;
}

#globalNavWrapper .primaryNav .primaryNavDropdown {
	position: absolute;
	z-index: 10;
}

#globalNavWrapper .primaryNav .primaryNavDropdown > ul {
	background-color: #ffffff;
	border: 1px solid #CC0000;
}

#globalNavWrapper .primaryNav .primaryNavDropdown > ul li ul li 
{
    overflow: hidden;
}

#globalNavWrapper .primaryNav .primaryNavDropdown li a {
	display: block;
	color: #000000;
	padding: 3px 10px 3px 10px;
}

#globalNavWrapper .primaryNav .primaryNavLast .primaryNavDropdown li a  {
	width:auto !important;
}

#globalNavWrapper .primaryNav .primaryNavDropdown li a:hover {
	background-color: #CC0000;
	color: #ffffff;
}

#globalNavWrapper .primaryNav .primaryNavDropdown > ul 
{
    overflow: hidden;
}
#globalNavWrapper .primaryNav .primaryNavDropdownProducts,
#globalNavWrapper .primaryNav .primaryNavDropdownProducts  > table
{
    background-color:#fff;
    width: 780px;
}

#globalNavWrapper .primaryNav div > table {
    border:1px solid #CC0000;
    background-color:#fff;
}
#globalNavWrapper .primaryNav .primaryNavDropdown > table > tbody > tr > td {
	padding: 0px;
}

#globalNavWrapper .primaryNav .primaryNavDropdown > table > tbody > tr > td a{
    font-size: 11px;
	color: #000000;
	padding: 0 9px 0 9px;
	display: block;
}
#globalNavWrapper .primaryNav div > table > tbody > tr > th {
	padding: 0 0 0 9px;
	color: #CC0000;
	font-weight: bold;
	padding-top: 8px;
	text-align:left;
}
#globalNavWrapper .primaryNav div > table > tbody > tr > th a {
    color: #CC0000;
}
#globalNavWrapper .primaryNav div > table > tbody > tr > td a:hover
{
    color:#fff;
    background-color: #CC0000;
}
/***** END halcom-global-navigation component *****/


/***** BEGIN breadcrumb component *****/
#breadCrumbComponent {
    width:965px;
	padding: 25px 20px 20px 20px;
	display:inline;
	float:left;
	position:relative;
}

#breadCrumbComponent .breadCrumbComponentSepBars {
	padding-left: 5px;
	padding-right: 5px;
}

#breadCrumbComponent > ul 
{
    width: 850px;
    vertical-align:top;
}

#breadCrumbComponent li {
	color: #30407B;
	list-style: none outside none;
	display: block;
    float: left;
}

#breadCrumbComponent li a {
	color: #30407B;
}

#breadCrumbComponent li a:hover {
	color: #666666;
}

#breadCrumbComponent li > .breadCrumbComponentHome > a {
	color: #CC0000;
	font-weight: bold;
}

#breadCrumbComponent li > .breadCrumbComponentHome > a:hover {
	color: #666666;
}

#breadCrumbComponent div.addit {
    float:right;
    vertical-align:top;
    position: absolute;
    top: 25px;
    right: 20px;
}

#breadCrumbComponent ul 
{
    width: 830px;
    min-height: 10px;
}
/***** END breadcrumb component *****/


/***** BEGIN global-footer component *****/
.globalFooterComponent {
	padding:0px 0px 10px 20px;
}

.globalFooterComponent > .footerleft > .footerCol1	{
	color:#ffffff;
	float:left;
	width:150px;
	vertical-align:top;
	padding:7px 0px 0px 0px;
	margin-left:2px;
	
}

.globalFooterComponent > .footerleft > .footercopyPrint {
    color:#000000;
    display:none;
}
.globalFooterComponent > .footerleft > .footerCol1 > a	{
	color:#ffffff;
	text-decoration:none;
}

.globalFooterComponent > .footerleft > .footerCol1 a:hover	{
	text-decoration:underline;
}

.globalFooterComponent > .footerleft > .footerright > .imageCol1	{
	color:#ffffff;
	float:left;
	width:130px;
	vertical-align:top;
	padding:0px 0px 0px 0px;
}

.globalFooterComponent > .footerleft > .footerright > .imageCol1 > a	{
	color:#ffffff;
	text-decoration:none;
}

.globalFooterComponent > .footerleft > .footerright > .imageCol1 > a:hover	{
	text-decoration:underline;
}

.globalFooterComponent > .footerleft > .footerright > .imageCol2	{
	color:#ffffff;
	float:left;
	width:140px;
	vertical-align:top;
	padding:0px 0px 0px 0px;
}

.globalFooterComponent > .footerleft > .footerright > .imageCol2 > a	{
	color:#ffffff;
	text-decoration:none;
}

.globalFooterComponent > .footerleft > .footerright > .imageCol2 > a:hover	{
	text-decoration:underline;
}

.globalFooterComponent > .footerleft > .footerCol2	{
	color:#ffffff;
	float:left;
	width:220px;
	vertical-align:top;
	padding:7px 0px 0px 0px;
	
}

.globalFooterComponent > .footerleft > .footerCol2 > a	{
	color:#ffffff;
	text-decoration:none;
}

.globalFooterComponent > .footerleft > .footerCol2 > a:hover	{
	text-decoration:underline;
}

.globalFooterComponent > .footerleft > .footerCol3	{
	color:#ffffff;
	float:left;
	width:150px;
	vertical-align:top;
	padding:7px 0px 0px 0px;
}

.globalFooterComponent > .footerleft > .footerCol3 > a	{
	
	color:#ffffff;
	text-decoration:none;
	
}

.globalFooterComponent > .footerleft > .footerCol3 > a:hover	{
	text-decoration:underline;
}

.globalFooterComponent > .footerleft > .footerCol4	{
	color:#ffffff;
	float:left;
	width:150px;
	vertical-align:top;
	padding:7px 0px 0px 0px;
}

.globalFooterComponent > .footerleft > .footerCol4 > a	{
	
	color:#ffffff;
	text-decoration:none;
	
}

.globalFooterComponent > .footerleft > .footerCol4 > a:hover	{
	text-decoration:underline;
}

.globalFooterComponent > .footerleft	{
	width:990px;
	float:left;	
	padding:0px;
}

.globalFooterComponent > .footerleft > .footerright	{
	width:290px;
	float:right;
	padding: 20px 0px 0px 0px;
}

.globalFooterComponent > .footerleft > .footerright > .imageCol1 > .bottompic	{
	vertical-align:middle;
	padding-right:3px;
}

.globalFooterComponent > .footerleft > .footerright > .imageCol1 > .bottompic img,
.globalFooterComponent > .footerleft > .footerright > .imageCol1 > .bottompic2 img 
{
    margin-top:2px;
}

.globalFooterComponent > .footerleft > .footerright > .imageCol2 > .bottompic2	{
	vertical-align:middle;
	padding-right:3px;
}

.globalFooterComponent > .footerleft > .footercopy		{
	width:700px;
	float:left;	
	padding:0px 0px 10px 0px;
	white-space:nowrap;
}

.globalFooterComponent > .footerleft > .footercopy a	{
	color:#ffffff;
	text-decoration:none;
}

.globalFooterComponent > .footerleft > .footercopy a:hover	{
	text-decoration:underline;
}

.globalFooterComponent > .footerleft > .footerCol1 > .footerheader1	{
	font-size: 15px;
	line-height: 26px;
	color: #ffffff;
	font-weight: bold;	
}

.globalFooterComponent > .footerleft > .footerCol2 >.footerheader2	{
	font-size: 15px;
	line-height: 26px;
	color: #ffffff;
	font-weight: bold;	
}

.globalFooterComponent > .footerleft > .footerCol3 >.footerheader3	{
	font-size: 15px;
	line-height: 26px;
	color: #ffffff;
	font-weight: bold;	
}

.globalFooterComponent > .footerleft > .footerCol4 >.footerheader4	{
	font-size: 15px;
	line-height: 26px;
	color: #ffffff;
	font-weight: bold;	
}

/***** END global-footer component *****/


/***** START secondary-navigation component *****/
.secondaryNav {
	background: url("../img/left_nav_bg.png")/*tpa=http://www.halliburton.com/web-resources/common/img/left_nav_bg.png*/ repeat-y scroll 0px 0px;
	margin-left:13px;
	width: 210px;
	position:relative;
}

.secondaryNav .secondaryNavLeft 
{
    background: url("../img/left_nav_top_left.png")/*tpa=http://www.halliburton.com/web-resources/common/img/left_nav_top_left.png*/ repeat-y scroll 0 0;
    height: 62px;
    width: 20px;
    position: absolute;
    top:0px;
    left: 0px;
    z-index:-1;
}

.secondaryNav .secondaryNavRight 
{
    background: url("../img/left_nav_top_right.png")/*tpa=http://www.halliburton.com/web-resources/common/img/left_nav_top_right.png*/ repeat-y scroll 0 0;
    height:100%;
    width: 20px;
    position: absolute;
    top: 0px;
    right: 0px;    
}

.secondaryNav .secondaryNavTitle {
	background: url("../img/left_nav_top.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/left_nav_top.gif*/ no-repeat scroll 0 0;
	position:relative;
	overflow:hidden;
	max-height:62px;
}

.secondaryNav .secondaryNavTitle a {
	color: #ffffff;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	margin: 0;
	padding: 7px 0 5px 9px;
	text-decoration: none;
	display: block;
	min-height:18px;
	width: 186px;
}
.secondaryNav .secondaryNavTitle a:hover {
	color: silver;
}

.secondaryNav li {
	list-style: none outside none;
}

.secondaryNav > ul > li {
	font-size: 12px;
	line-height: 16px;
	border-top: 1px solid #cccccc;
	padding: 7px 7px 7px 20px;
	width: 160px;
}
.secondaryNav ul li
{
    max-width: 160px!important;
    margin-left: 0px;
}
	
.secondaryNav > ul > li:first-child {
	border-top: 0px;
}
	
.secondaryNav > ul > li > a {
	text-decoration: none;
	color: #000000;
}
	
.secondaryNav > ul > li ul a {
	text-decoration: none;
	color: #666666;
}
	
.secondaryNav > ul > li > a:hover {
	color: #666666;
}
.secondaryNav > ul > li 
{
    max-width: 175px;
}
.secondaryNav > ul > li > ul li {
	font-size: 12px;
	line-height: 16px;
	padding: 4px 5px 3px 12px;
	max-width: 160px;
}
.secondaryNav > ul > li > ul li ul li 
{
    max-width:145px!important;
}
.secondaryNav > ul > li > ul li ul li ul li 
{
    max-width:130px!important;
}
.secondaryNav > ul > li > ul li ul li ul li ul li
{
    max-width:115px!important;
}
.secondaryNav > ul > li > ul a:hover {
	color: #000000;
}
	
.secondaryNav .secondaryNavCurrent {
	color: #CC0000;
	font-weight: bold;
}


.secondaryNav .secondaryNavContactUs {
	background: url("../img/left_nav_gradient.png")/*tpa=http://www.halliburton.com/web-resources/common/img/left_nav_gradient.png*/ no-repeat scroll 0 0;
	padding: 12px 0 5px 15px;
}

.secondaryNav .secondaryNavContactUs a {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.secondaryNav .secondaryNavContactUs a img {
	padding-right: 5px;
}

.secondaryNav .secondaryNavBottom {
	background-color: #ffffff;
}

/***** END secondary-navigation component *****/

/***** START tabbed-navigation component *****/
.tabbedNavComponent,.tabbedNavComponent > ul {
    position: relative;
    height: 24px;
    overflow: hidden;
}
.tabbedNavComponent > ul > li {
	display: block;
	float: left;
	list-style: none outside none;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
	margin-right: 2px;
	background: url("../img/tab_inactive_bg.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/tab_inactive_bg.gif*/ repeat-x scroll 0 0;
}

.tabbedNavComponent > ul > li > a {
	display: block;
    float: left;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #666666;
	padding: 4px 6px 4px 6px;
}

.tabbedNavComponent > ul > .tabbedNavActive > a {
	color: #000000;
}

.tabbedNavComponent > ul > .tabbedNavActive {
	background: url("../img/tab_active_bg.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/tab_active_bg.gif*/ repeat-x scroll 0 0;
}
/***** END tabbed-navigation component *****/


/***** START spotlight component *****/

.spotlightComponent	{
	background:url("../../components/img/SpotLightBG.gif")/*tpa=http://www.halliburton.com/web-resources/components/img/SpotLightBG.gif*/ repeat-x;
	border:1px solid #cccccc;
	overflow:hidden;
	margin:0px;
	padding:0px;
	clear:both;
	border-top:0px
}
#centerColumn-OneColumnLayout .spotlightComponent {
	margin-top: 12px;
}
.spotlightComponent .spotlightBody td
{
    width: 100%;
    text-align:left;
}
.spotlightComponent .spotlightBody .spotlightImage {
     vertical-align: top;
     position: relative;
     float:left;
     width: 116px;

}
.spotlightComponent .spotlightBody .spotlightImage img {
	padding:0px 10px 0px 5px;
	width:85px;
	height:85px;
	margin:10px 10px 10px 5px;
	position:relative;
	border-right:1px solid #ccc !important;
	
}

.spotlightComponent .spotlightBody	{
	
	border-left:0px solid #cccccc;
	float:left;
	position:relative;
	width:100%;
	text-align:left;
}

.spotlightComponent .spotlightBody h2 a 
{
    margin:0px;
	margin-top:5px;
	font-size: 16px;
	line-height: 16px;
	text-align:left;
	text-decoration:none;
	color:#000000 !important;
}

.spotlightComponent .spotlightBody .spotlightPara {
	width: 98%;
	padding:5px;
	text-align:left;
	margin-bottom:5px;
	padding-bottom: 20px;
	padding-left:0px;
}

.spotlightComponent  .spotlightBody .view_details
{
	width:100px;
	min-height:21px;
	background:url('../../components/img/SpotlightViewDetails1.gif')/*tpa=http://www.halliburton.com/web-resources/components/img/SpotlightViewDetails1.gif*/;
	float:right;
	position:absolute;
	padding:0px;
	right:0px;
	bottom:0px;
}

.spotlightComponent  .spotlightBody .view_details:hover
{
	background:url('../../components/img/SpotlightViewDetails2.gif')/*tpa=http://www.halliburton.com/web-resources/components/img/SpotlightViewDetails2.gif*/;
}

#centerColumn-OneColumnLayout * .spotlightComponent .spotlightBody .spotlightPara {
    width: 83%;
}

/***** END spotlight component *****/

/***** START container component *****/

.containerComponent {

}

.containerComponent > img 
{
    margin-top:15px;
}

.containerComponent  > .containerComponentColumn {
	width:350px;
	float:left;
	overflow:visible;	
	background-color: #FDFDF9;
	margin-right: 10px;
}

.containerComponent  > .containerComponentColumn > .containerComponentColumnInner {
    background-image: url("../../components/img/two_col_bg.gif")/*tpa=http://www.halliburton.com/web-resources/components/img/two_col_bg.gif*/;
  	background-repeat: no-repeat;
    border-bottom: 1px solid #DFDFED;
	margin-bottom:15px;
    min-height:245px;	
}
.containerComponent  > .containerComponentColumn > .containerComponentColumnInner > img 
{
    width: 350px!important;
}

.containerComponent  > .containerComponentColumn > .containerComponentColumnInner  > div {
	padding:0px 15px 15px 15px;
	
}

.containerComponent  > .containerComponentColumn > .containerComponentColumnInner  > div p {
	padding-top:0px;
	padding-left:0px;
}

.containerComponent  > .containerComponentColumn > .containerComponentColumnInner  > div  img{
	float:left;
	padding-right:10px;
}

.containerComponentSpacer {
	width:12px;
	min-height:1px;
	float:left;
	display:none;
}

/***** END container component *****/

/***** Start Right Column *****/
#rightColumn {
    background-image: url("../img/sidebar/right_nav_bg.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/sidebar/right_nav_bg.gif*/;
	background-repeat: repeat-y;
	margin-bottom:20px;
	display: block;
    margin-left:0px!important;
}

#rightColumn .ls-area-body {
    background:transparent url("../img/sidebar/right_nav_bottom.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/sidebar/right_nav_bottom.gif*/ 0px bottom no-repeat;
	margin-bottom:-2px;
}

#rightColumn > .ls-area-body 
{
    padding-bottom: 10px;
}

#rightColumn > .ls-area-body > .ls-cmp-wrap:last-child 
{
    width: 245px;
    position: relative;
    left: 2px;
}

#rightColumn > .ls-area-body > .ls-cmp-wrap .sidebarDocumentListingComponent 
{
	clear:both;
    margin: 12px 8px 12px 8px;
}

#rightColumn > .ls-area-body > .ls-cmp-wrap .sidebarDocumentListingComponent h2
{
    display: block;
    color: #000000;
    width: 220px;
    margin: 10px 0px 0px 3px;
    padding-top:5px;
    font-weight: bold;
    font-size:12px;
    line-height: 16px;
}

#rightColumn > .ls-area-body > .ls-cmp-wrap .sidebarDocumentListingComponent a,
#rightColumn > .ls-area-body > .ls-cmp-wrap .sidebarDocumentListingComponent span
{
    margin-left:10px;
    display: block;
    width: auto;
	padding-bottom:2px;
	margin-top:3px;
}
#rightColumn > .ls-area-body > .ls-cmp-wrap .sidebarDocumentListingComponent br 
{  
    display:none;
}

#centerColumn > .ls-area-body > .ls-cmp-wrap .sidebarDocumentListingComponent a
{
	margin-left:10px;
}

.rightNavWrapper > .sidebarTitleComponent > .rightNavHeader {
    background-image: url("../img/sidebar/right_nav_top.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/sidebar/right_nav_top.gif*/;
    background-repeat: no-repeat;
    padding-top:0px;
	padding-bottom:5px;
	width: 250px;
	margin-left:0px;
	min-height:24px;
}

.rightNavWrapper > .sidebarTitleComponent > .rightNavHeader > img	{
	padding: 0px 7px 0px 10px;
	float:left;	
	position:relative;
	top:2px;
}

.rightNavWrapper > .sidebarTitleComponent > .rightNavHeader > div {
	position:relative;
	top:4px;
}
	
.rightNavWrapper > .sidebarTitleComponent > .rightNavHeader > div > h2	{
	font-size:13px;
	font-weight: bold;
	vertical-align:top;	
	float:left;
	position: relative;
    top: -1px;
	line-height: 15px;
	color:#000000;
}

.rightNavWrapper > .sidebarStaticLinksComponent,
.rightNavWrapper > .sidebarDocumentListingComponent
 {
	padding: 15px 10px 15px 10px;
	clear:both;
}

.rightNavWrapper > .sidebarStaticLinksComponent > h2	{
	color:#666666;
	font-size:12px;
}

.rightNavWrapper > .sidebarStaticLinksComponent > h4	{
	color:#000000;
	font-size:12px;
	margin-bottom:0px;
}

.rightNavWrapper > .sidebarStaticLinksComponent > ul	{
	list-style-type:none;
}

.rightNavWrapper > .sidebarStaticLinksComponent > ul > li	{
	padding: 0px 0px 10px 5px;
	margin:0px 10px;
}

.rightNavWrapper > .sidebarStaticLinksComponent > ul > li:after	{
	margin-top:-10px;
}

.rightNavWrapper > .sidebarStaticLinksComponent > ul > li > a	{
	color: #30407B;	
}

.rightNavWrapper > .sidebarStaticLinksComponent > ul > li > a:hover	{
	color: #333333;
}

.rightNavWrapper > .sidebarStaticLinksComponentNoSidebarLineBreak
{
	padding: 15px 10px 0px 10px;
}

.halLineBreak 
{
    width:225px;
    height:1px;
    margin:0px auto;
    border-top:1px solid #cccccc;
    position:relative;
    left:-5px;
}

/***** End Right Column *****/

/***** Start Product Group Component *****/
#productGroupComponent > div > ol  {
    
    padding:5px;
    margin:5px;
}

#productGroupComponent > div > ol > li {
    
    display: list-item;
    padding-left:40px;

}

#productGroupComponent > div > p {
    padding-bottom:5px;
    margin-bottom:5px;
}
/***** End Product Group Component *****/


/***** Start Challenge Generic Component *****/
#challengeGenericComponent {
	padding-bottom:15px;
}

#challengeGenericComponent > ul {
   
    list-style-type:disc;
    list-style-position:outside;
    padding-left:15px;
    margin: 0 10px 7px 15px;
}

#challengeGenericComponent > h1 {

    margin-bottom:0px;
    padding-bottom:0px;
}
/***** End Challenge Generic Component *****/

/***** Start productsProductOverview Component *****/
#productsProductOverviewComponent {
	padding-bottom:15px;
}

#productsProductOverviewComponent 
{
    padding:5px;
}

#productsProductOverviewComponent > ul > li > a  {
   
   color: #30407B;
}

#productsProductOverviewComponent > ul > li > a:hover  {
   
   color: #333333;
}
#productsProductOverviewComponent span table 
{
    margin-left:0px!important;
}
/***** End productsProductOverview Component *****/


/***** Start brandGenericComponent *****/
#brandGenericComponent {
	padding-bottom:15px;
}

#brandGenericComponent > .slideshow {
   
   padding:0px;
   margin:0px;   
}

#brandGenericComponent > div {

    padding:0px;
    margin:0px;

}
/***** End brandGenericComponent *****/

/***** Start Homepage *****/

.halcomHomeComponents > #home_mid_wrapper {
   
    width:1007px;
    float:left;
    margin-bottom:1px;
    padding-bottom:10px;
}
.halcomHomeComponents > #home_mid_wrapper > #home_left_wrapper  {
  
    width:675px;  
    height:286px;
    float:left;
    
    
}

#learn_more a {
background: url(../../../public/pubsdata/Home_Page/campaign/learn_more.gif)/*tpa=http://www.halliburton.com/public/pubsdata/Home_Page/campaign/learn_more.gif*/ no-repeat;
background-position: 0 0;
display: block;
width: 86px;
height: 19px;
}

.halcomHomeComponents > #home_mid_wrapper > #home_left_wrapper > #DivFlash  {
    
    display:none;
    
}
.halcomHomeComponents > #home_mid_wrapper > #home_right_wrapper  {
   /* background-image: url("/web-resources/common/img/news_bg.gif");
    background-repeat: repeat-y;*/
    background:#ffffff;
    float: left;
    margin: 0px 0px 0px 13px;
    width: 319px;
    height:286px;
}

 .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_news_wrapper {
 
    border-bottom:10px solid #363636;
 
 }
 
 .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_news_wrapper > #home_news_header {
    
    background-image: url("../img/news_top.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/news_top.gif*/;
    background-repeat: no-repeat;
    background-position: right 0px;
    border-bottom:1px solid #cccccc;
    color:#363636;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    padding:0px 0px 0px 0px;
    margin-left:14px;
    text-indent: 0px;
    line-height:40px;
    vertical-align:text-bottom;
 }
    
 .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_news_wrapper > #home_news_header > img {
    
    display:none;
 }
 
 .halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_news_wrapper > #home_news_content_wrapper {
    background-image: url("../img/spinner.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/spinner.gif*/;
    background-repeat: no-repeat;
    background-position: center;
    height: 176px;
   
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_news_wrapper > #home_news_content_wrapper > ul {

    margin-left: 15px;
    width: 95%;
    overflow:hidden;
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_news_wrapper > #home_news_content_wrapper > ul > li {
   list-style: none;
   background: url("../img/news_bullet.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/news_bullet.gif*/ no-repeat;
   background-position:97% center;
   padding-left:0px;
   padding-right:30px;
   padding-top:6px;
   padding-bottom:6px;
   margin-bottom:0px;
   margin-top:0px;
   margin-left:0px;
   border-top:1px solid #cccccc;

}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_news_wrapper > #home_news_content_wrapper > ul > li:first-child {
   list-style: none;
   background: url("../img/news_bullet.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/news_bullet.gif*/ no-repeat;
   background-position:97% center;
   padding-left:0px;
   padding-right:30px;
   padding-top:6px;
   padding-bottom:6px;
   margin-bottom:0px;
   margin-top:0px;
   margin-left:0px;
   border-top:0px solid #cccccc !important;

}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_news_wrapper >  #home_news_content_wrapper > ul > li:hover {
   list-style: none;
   background:#f1f1f1 url("../img/news_bullet.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/news_bullet.gif*/ no-repeat;
   display:block;
   background-position:97% center;
   padding-left:0px;
   padding-top:6px;
   padding-bottom:6px;
   margin-bottom:0px;
   margin-top:0px;
   margin-left:0px;
   border-top:1px solid #cccccc;
   cursor:pointer;

}


.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_news_wrapper >  #home_news_content_wrapper > ul > li > a {
    color: #363636;
    font-weight:bold;
    text-decoration:none;
    margin-bottom:3px;
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_news_content_wrapper > ul > li > a:hover {
    color: #333333;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_news_wrapper > .newsBottom {
    margin:0px 3px 0px 0px;
    clear:both;
    overflow:hidden;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_news_wrapper > .newsBottom a {

    font-weight:bold;

}
.halcomHomeComponents > #home_mid_wrapper > #home_right_wrapper > .newsBottom img {
    
   display:none;
    
}


.halcomHomeComponents > #home_bottom_wrapper    {
   
    background-repeat: repeat-y;
    display:inline-block;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > .middleImage {
    padding-top:5px;
}

.halcomHomeComponents > #home_bottom_wrapper > .middleImage {
    display:none;
}

.halcomHomeComponents > #home_bottom_wrapper > .middleImage > img {
    display:none;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left {
    display: inline;
    float: left;
    width: 337px;
    height:525px;
    background:#ffffff;
    margin-right:10px;
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right > .home_bottom_left_item:first-child {
    background: #ffffff url("../img/home_solution_bg.png")/*tpa=http://www.halliburton.com/web-resources/common/img/home_solution_bg.png*/ no-repeat 98% 50%;
   
    height: 98px;
    overflow:hidden;
    padding:0px 35px 0px 2px;
    border-top:0px solid #cccccc !important;
    cursor:pointer;
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right > .home_bottom_left_item {
    background: #ffffff url("../img/home_solution_bg.png")/*tpa=http://www.halliburton.com/web-resources/common/img/home_solution_bg.png*/ no-repeat 98% 50%;
   
    height: 98px;
    overflow:hidden;
    padding:0px 35px 0px 2px;
    border-top:1px solid #cccccc;
    cursor:pointer;
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right > .home_bottom_left_item:hover {
    background: #f1f1f1 url("../img/home_solution_bg.png")/*tpa=http://www.halliburton.com/web-resources/common/img/home_solution_bg.png*/ no-repeat 98% 50%;
   
    height: 98px;
    overflow:hidden;
    padding:0px 35px 0px 2px;
    border-top:1px solid #cccccc;
    cursor:pointer;
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right > .home_bottom_left_item img {
    
    padding:10px 10px 0px 5px;
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right > .home_bottom_left_item > strong > a {
    color: #363636;
    padding-top:10px;
    display:block;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right > .home_bottom_left_item > img {
    float:left;
    padding-right:5px;
    padding-bottom:20px;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right > .home_bottom_left_item > strong > a:hover {
    color: #333333;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right:10px;
    padding-bottom: 0px;
    width: 330px;
    height:525px;
    background:#ffffff;
    overflow:hidden;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_middle_wrapper {
    border-bottom: 0 none;
    margin: 1px 15px 5px 0px;
    min-height: 85px;
    padding-bottom: 5px;
    width: 330px;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_middle_wrapper > table {
    
    background-image: url("../img/home_bottom_left_item_bg.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/home_bottom_left_item_bg.gif*/;
    background-repeat: no-repeat;
    background-position:-5px -5px;
    border-bottom: 1px solid #cccccc !important;
    width:100% !important;
    padding-right:25px;
    padding:0px 25px 0px 0px !important;
    cursor:pointer;
    margin:0px !important;
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_middle_wrapper > table:hover {
    
    background-image: url("../img/home_bottom_left_item_bg_on.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/home_bottom_left_item_bg_on.gif*/;
    background-repeat: no-repeat;
    background-position:-5px -5px;
    
    width:100% !important;
    padding-right:25px;
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_middle_wrapper > table img {

   padding:2px 0px 0px 5px;

}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_middle_wrapper  table td  {

    padding-right:15px;
    color:#363636;

}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_middle_wrapper  table td strong  {
    
    color:#363636;
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_middle_wrapper > table > tbody > tr > td > a {
   color: #363636;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_middle_wrapper > table > tbody > tr > td > #learn_more {
    
    display:none;
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_middle_wrapper > table > tbody > tr > td > #learn_more > a {
   color: #30407B;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > hr {
    background-color: #363636;
    border:0px;
    color: #363636;
    height: 10px;
    margin: 0px;
    width: 100%;
    padding:0px;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right {
    display: inline;
    float: right;
    margin: 0px 0px 0px 0px;
    width: 319px;
    background:#ffffff;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_right_wrapper_casestudy > .right  {
    text-align:right;
   padding:0px 3px 0px 0px !important;
    overflow:hidden;
    margin:5px 0px 0px 0px !important;
    clear:both;
    
    /*background:#ffffff !important;*/
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_right_wrapper_casestudy > .right a {

    font-weight:bold;

}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_bottom_mid_head {
    background-image: url("../img/most_popular.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/most_popular.gif*/;
    background-position: 260px 0px;
    border-bottom:1px solid #cccccc;
    background-repeat: no-repeat;
    color:#363636;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    padding:0px 0px 5px 0px;
    margin-left:14px;
    text-indent: 0px;
    line-height:40px;
    vertical-align:text-bottom;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_bottom_mid_head img {

    display:none;

}
.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > ul {
    margin-left: 15px;
    padding-top: 0px;

}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > ul > li {
   list-style: none;
   background:url("../img/news_bullet.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/news_bullet.gif*/ no-repeat;
   display:block;
   height:35px;
   background-position:97% center;
   padding-left:0px;
   padding-bottom:5px;
   line-height:35px;
   vertical-align:middle;
   padding-top:0px;
   margin-bottom:0px;
   margin-top:0px;
   cursor:pointer;
   border-bottom:1px solid #cccccc;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > ul > li:hover {
   list-style: none;
   background:#f1f1f1 url("../img/news_bullet.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/news_bullet.gif*/ no-repeat;
   display:block;
   background-position:97% center;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > ul > li > a {
   color: #363636;
   text-decoration:none;
   font-weight:bold;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > ul > li > a:hover {
   color: #363636;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_bottom_right_head {
    background-image: url("../img/downloads_top.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/downloads_top.gif*/;
    background-repeat: no-repeat;
    background-position:right 0px;
    border-bottom:1px solid #cccccc;
    color:#363636;
    font-size: 16px;
    font-weight: bold;
    height: 40px !important;
    padding:0px 0px 5px 0px;
    margin-left:14px;
    text-indent: 0px;
    line-height:40px;
    vertical-align:text-bottom;
    
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_bottom_right_head img {

    display:none;

}
.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_bottom_right_head > strong {
    font-size: 16px;
    font-weight:bold;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > #home_bottom_right_head > img {
    padding-right:5px;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > p > strong > a {
    color: #30407B;
    font-weight:bold;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right > p > strong > a:hover {
    color: #333333;
    font-weight:bold;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_left > table > tbody > tr > td > a {
    color: #363636;
    font-weight:bold;
    white-space:nowrap;
    padding-right:10px;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right > table > tbody > tr > td > a:hover {
    color: #333333;
    font-weight:bold;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right > .light {
    background-color: #363636;
    border:0px;
    color: #363636;
    height: 10px;
    margin: 0px 0px 0px 0px !important;
    padding:0px;
    width: 100%;
    min-width:303px;
    clear:right;
    
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_right_wrapper_casestudy > #home_casestudy_header {

    background-image: url("../img/case_studies_top.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/case_studies_top.gif*/;
    background-position:right 0px;
    background-repeat: no-repeat;
    color:#363636;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    padding:0px 0px 0px 0px;
    margin-left:14px;
    text-indent: 0px;
    line-height:40px;
    vertical-align:text-bottom;
    border-bottom:1px solid #cccccc;

}
.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_right_wrapper_casestudy > #home_casestudy_header > img {

    display:none;

}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_right_wrapper_casestudy > #home_casestudy_content_wrapper > #home_casestudy_content_wrapper_ul {

    margin-left:10px;
    color:#363636;
    
    overflow:hidden;
}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_right_wrapper_casestudy > #home_casestudy_content_wrapper > #home_casestudy_content_wrapper_ul li {

   list-style: none;
   background:url("../img/news_bullet.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/news_bullet.gif*/ no-repeat;
   display:block;
   height:30px;
   background-position:97% center;
   padding-left:0px;
   padding-top:5px;
   padding-right:20px;
   padding-bottom:5px;
   line-height:25px;
   vertical-align:middle;
   margin-bottom:0px;
   margin-top:0px;
   margin-right:5px;
   border-top:1px solid #cccccc;
   cursor:pointer;

}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_right_wrapper_casestudy > #home_casestudy_content_wrapper > #home_casestudy_content_wrapper_ul li:first-child {

   list-style: none;
   background:url("../img/news_bullet.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/news_bullet.gif*/ no-repeat;
   display:block;
   height:30px;
   background-position:97% center;
   padding-left:0px;
   padding-top:5px;
   padding-right:20px;
   padding-bottom:5px;
   line-height:25px;
   vertical-align:middle;
   margin-bottom:0px;
   margin-top:0px;
   margin-right:5px;
   border-top:0px solid #cccccc !important;
   cursor:pointer;

}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_right_wrapper_casestudy > #home_casestudy_content_wrapper > #home_casestudy_content_wrapper_ul li:hover {

   list-style: none;
   background:#f1f1f1 url("../img/news_bullet.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/news_bullet.gif*/ no-repeat;
   display:block;
   height:30px;
   background-position:97% center;
   padding-left:0px;
   padding-bottom:5px;
   padding-top:5px;
   line-height:35px;
   vertical-align:middle;
   margin-bottom:0px;
   margin-top:0px;
   margin-right:5px;
   border-top:1px solid #cccccc;

}

#home_casestudy_content_wrapper_ul li div.descr {

   width:99% !important;
   color:#363636 !important;

}
.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_mid > #home_right_wrapper_casestudy > #home_casestudy_content_wrapper > #home_casestudy_content_wrapper_ul > li > .title > a {

   color:#363636 !important;
   font-weight:bold;

}

.halcomHomeComponents > #home_bottom_wrapper > #home_bottom_right .downloads {

    width:99%;
    cursor:pointer;

}

.seeAll {

    border:1px solid #ccc;
    width:60px;
    height:25px;
    padding:5px;
    margin-bottom:2px;
    margin-top:1px;
    float:right;
    vertical-align:middle;
    line-height:25px;
    background:url(../../../public/pubsdata/Home_Page/images/checkmark.png)/*tpa=http://www.halliburton.com/public/pubsdata/Home_Page/images/checkmark.png*/;
    background-repeat:no-repeat;
    background-position: 5px 9px;
    background-color:#ffffff;
    color:#363636 !important;
    text-decoration:none !important;
    display:block;
    text-align:right;
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
    
}

.seeAll:hover {

    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    
}

.seeAll a {

    color:#363636 !important;
    text-decoration:none !important;

}
/***** End Homepage *****/


/***** Start tools and resource home *****/
#toolsAndResourcesComponent {
    display: inline;
    float: left;
    padding:0px 0px 0px 0px;     
    width: 737px;
    float: left;
    border: 0px solid #CCCCCC;      
}

#toolsAndResourcesComponent > #tab_wrapper_notabs_twoCol {
    background-image: url("Unknown_83_filename")/*tpa=http://www.halliburton.com/web-resources/components/img/content_table_top_bg.gif*/;
    background-repeat: repeat-x;
    display: inline;
    float: left;   
    height: 26px !important;    
    width: 737px !important;    
    padding:0px 0px 0px 0px;
}

#toolsAndResourcesComponent > #content_twoCol {
    background: url("Unknown_83_filename")/*tpa=http://www.halliburton.com/web-resources/components/img/content_twoCol_table_bg.gif*/ repeat-y scroll 0 0 transparent;
    display: inline;
    float: left;
    padding-bottom: 20px;
    margin-left:0px;    
    width: 737px !important;
    border-right:1px solid #D4D4D4;     
}

#toolsAndResourcesComponent > #content_twoCol > #ctl00_CenterColumnContent_ctl00_HomeOverview {
    width:100%;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent {
    padding:0px 0px 0px 0px;   
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .featured_twoCol {
    color: #FFFFFF;
    display: inline;
    float: left;
    margin: 10px 14px;
    text-align: center;    
    width: 710px;
    height:110px;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right {
    background-color: #FDFDF9;
    background-image: url("../../components/img/two_col_bg.gif")/*tpa=http://www.halliburton.com/web-resources/components/img/two_col_bg.gif*/;
    background-repeat: no-repeat;
    display: inline;
    float: right;
    margin-right: 15px;  
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left {
    background-color: #FDFDF9;
    background-image: url("../../components/img/two_col_bg.gif")/*tpa=http://www.halliburton.com/web-resources/components/img/two_col_bg.gif*/;
    background-repeat: no-repeat;
    display: inline;
    margin-left: 15px;    
    float: left;      
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > div div.two_col_top {
    background: transparent url("../../components/img/two_col_top.gif")/*tpa=http://www.halliburton.com/web-resources/components/img/two_col_top.gif*/ no-repeat scroll 0 0;
    width:350px;
    height:15px;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left>.icon {
    width: 300px; 
    height: 35px; 
    font-size: 18px;
	line-height: 20px;
	color: #cc0000;
	padding: 15px 0px 5px 10px;
	font-weight: normal;
	vertical-align:top !important;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left>.icon div:first-child {
    height:0px; 
    width:60px !important;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right >.icon {
    width: 300px; 
    height: 20px; 
    font-size: 18px;
	line-height: 20px;
	color: #cc0000;
	padding: 15px 0px 5px 10px;
	font-weight: normal;
	vertical-align:top !important;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .icon div:first-child {
    height:0px; 
    width:60px !important;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .icon div.icon_Title {
    padding:0px 0px 0px 35px;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > p.h3P,
#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > p.h3P {
    text-align:right;
    margin-right:25px;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .h3Title > p.h3P,
#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .h3Title > p.h3P {
    text-align:left;
    margin-right:10px;
    margin-top:0px;
}


#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .icon > .icon_Title {
    font-size: 18px;
	line-height: 18px;
	color: #cc0000;
	padding: 5px 0 5px 0px;
	font-weight: normal;
	padding:0px 0px 0px 35px
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .icon > .icon_Title {
    font-size: 18px;
	line-height: 18px;
	color: #cc0000;
	padding:  5px 0 5px 0px;
	font-weight: normal;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .h3Title > .h3P {
    text-align:left;
    margin-right:10px;
    margin-top:0px;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .h3Title > .h3P > .h3 {
    color: #30407B;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    }

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .h3Title {
   margin-left:45px;
   width:280px;
}
    
#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .h3Title {
   margin-left:45px;
   width:280px;
}
    
#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .h3Title > .h3P > .h3 {
    color: #30407B;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}
    
#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .h3P > .h3 ,
#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .h3P > .h3 {
    color: #30407B;
    font-size: 12px;
    font-weight:bold;
    text-decoration: underline;
    line-height:16px;
}

#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_right > .h3Title > p, 
#toolsAndResourcesComponent > #content_twoCol > .toolsAndResourcesHomeComponent > .content_twoCol_left > .h3Title > p {
    line-height:15px;
}
/***** End  tools and resource home *****/

/***** Start showcase *****/
.sidebarShowcaseComponent {		
	padding:0px;
	padding-bottom:10px;/*vidula*/
	margin:0px;	
	margin-left:2px;
    padding-left: 2px;
}
.sidebarShowcaseComponent p {
	color:#666;
	font-weight:bold;
	padding:10px 15px 5px 10px;
}
.sidebarShowcaseComponent {
	clear:both;
}
.sidebarShowcaseComponent table tr td div:first-child table tbody tr td {
    line-height: 10px;
}
.sidebarShowcaseComponent table tr td div:first-child table tbody tr td p {
    padding:0px;
    margin-left: 8px!important;
}
.sidebarShowcaseComponent > table
{
    margin-right: 5px!important;
}
.sidebarShowcaseComponent > table > tbody > tr > td > table 
{
    position:relative;
    left:0px;
}
.sidebarShowcaseComponent table tr td
{
    height:20px!important;
}
/***** End showcase *****/


/***** Start Product List *****/

#productsProductListComponent > .productList  a:hover {
	color: #333333;
}

#productsProductListComponent > .productList > table {

    width:100%;

}
/***** End Product List *****/


/***** Start productGroupComponent *****/
#productGroupComponent > div > ul {
    margin-left: 20px;
    padding-top: 3px;

}
/***** End productGroupComponent *****/


/***** Start Product and Services Index *****/
.productsProductAndServicesIndexComponent {
    margin-top:15px;
}

.productsProductAndServicesIndexComponent a[id^=products] 
{
    font-weight:bold;
}
.productsProductAndServicesIndexComponent div a[name^=Anc],.productsProductAndServicesIndexComponent a[disabled=disabled] 
{
    color:#000000;
    font-weight:bold;
}
/***** End Product and Services Index *****/


/***** Start Product Landing Page *****/
#productLandingComponent > img
{
	padding-bottom: 5px;
}

#productLandingComponent > div 
{   
    width:230px;
    float: left;
	display: inline;
    margin-right:5px;
	background-color: #FDFDF9;
	background-image: url("../img/three_col_bg.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/three_col_bg.gif*/;
	background-repeat: repeat-x;
	min-height: 450px;
}

#productLandingComponent div ul li 
{  
    list-style:none;
}
#productLandingComponent div h1 
{
    padding: 8px 0 8px 15px;
}
#productLandingComponent div ul 
{
    padding: 0px 10px 7px 15px;
}

/***** End Product Landing Page *****/


/***** Start Document Listing Component *****/
.documentListingComponent > div > img
{
    position:relative;
    top:4px;
}
.documentListingComponent h1 
{
    line-height: 22px!important;
}
.documentListingComponent h2 
{
    margin-top:10px;
}
.documentListingComponent div table tbody tr td table tbody tr td 
{
    vertical-align: top;
    padding: 7px 5px;
}
documentListingComponent div table tbody tr td table tbody tr td:last-child a
{
    float:right;
}
.documentListingComponent div table:first-child
{
    margin-top:0px;
}
.documentListingComponent div table
{
    margin-top:2px;
}

.documentListingComponent div #form_wrap div
{
    height: 25px;
    width: 477px;
    margin: 1px 0px;
}
.documentListingComponent div input[type="text"], .documentListingComponent div #form_wrap div select
{
    width: 242px;
}
.documentListingComponent div #form_wrap div div
{
    width:190px!important;
    margin:0px;
}
.documentListingComponent div #form_wrap div select, .documentListingComponent div #form_wrap div input[type="text"],.documentListingComponent div #form_wrap div div
{
    float:left;
}   
.documentListingComponent div #form_wrap div span.ui-helper-hidden-accessible 
{
    display: none;
    width:0px;
    height:0px;
    margin:0px;
    padding:0px;
}
/***** END DOCUMENT LISTING COMPONENT *****/

/***** START MSDS COMPONENT *****/
.msdsSearchResultsComponent > div#form_wrap_tool {
    margin-top:2px;
}

.msdsSearchResultsComponent > div#form_wrap_tool > div > p {
    margin-top:10px;
}

.msdsSearchResultsComponent > div#form_wrap_tool > div > div > div {
    width: 160px;
    float: left;
} 

#form_wrap_tool > div > div.search_ResultsPerPage_700 {
    float:right;
}

#form_wrap_tool > div > table 
{
    margin-top:5px;
}

#form_wrap_tool > div > table:first-child 
{
    margin-top: 0px;
}

#form_wrap_tool > div > table tbody tr th,
#form_wrap_tool > div > table tbody tr td > div > table > tbody > tr td 
{
    padding: 5px;
}
/***** END MSDS COMPONENT *****/


/***** START CONTACT US COMPONENT *****/
.contactUsComponent, #pageWrapperOverlay {
    overflow:hidden;
}
.contactUsComponent > div #form_wrap  > div.listing {
    display:block;
    clear:both;
}
.contactUsComponent > div #form_wrap  > div.listing > textarea {
    margin-left:0px;
    width:200px;
}
    
.contactUsComponent > div #form_wrap  > div.listing > div.label {
    width: 160px;
    float: left;
    display: inline;
    text-align: right;
    margin-top: 4px;
    margin-right: 8px;
}

.contactUsComponent > div #form_wrap > div.submit {
    margin-left: 170px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.contactUsComponent > div #form_wrap > p 
{
    width: 480px;
}
/***** END CONTACT US COMPONENT *****/

/***** START GENERIC CONTENT COMPONENT *****/
.genericContentComponent {
	padding-bottom: 15px;
}
.genericContentComponent table tbody tr td {
    padding:5px
}
.genericContentComponent p {
    margin-left:3px;
}

.genericBasicComponent > .genericBody {
	padding: 5px 5px 5px 5px;
}

.genericContentComponent > .genericPhoto {
	float:left;
	margin-top:10px;
}
.genericContentComponent > h1 
{
    clear:both;
}
/***** END GENERIC CONTENT COMPONENT *****/

/***** START SEARCH RESULTS COMPONENT *****/
#mainSearchResults ul 
{
    padding-left:0px;
}
#mainSearchResults ul li div div 
{
    display:block;
}
#mainSearchResults ul li div div#wrapperdiv div#leftdiv 
{
    text-align:left;
}

#mainSearchResults ul li div div#wrapperdiv div#leftdiv h3 a, #mainSearchResults ul li div h3 a
{
    font-size: 12px;
}
#mainSearchResults ul li div div#wrapperdiv div#leftdiv h3 img,#mainSearchResults ul li div h3 img
{
    float:left;
    margin-right:1px;
}
#mainSearchResults ul li div div#wrapperdiv div#rightdiv 
{
    float:right;
    padding-top: 21px;
    vertical-align:top;
}

#mainSearchResults ul li div div p.linebreak, #mainSearchResults ul li div p
{
    clear:both!important;
    padding:0px!important;
    margin:0px!important;
    width: 530px;
}
#Refine .nav_container 
{
    margin:0px!important;
    padding: 0px!important;
    list-style:none!important;
}
#Refine .nav_container li 
{
    padding-left:0px!important;
}
#Refine .nav_container li ul 
{
    list-style:none!important;
    margin-left:0px!important;
    padding-left:0px!important;
}
#Refine .nav_container * a i 
{
    position:relative!important;
    top:-20px!important;
}
/***** END SEARCH RESULTS COMPONENT *****/

/***** START FOOTER EMAIL PAGE COMPONENT *****/
.halSendEmail 
{
    width: 420px;
}
.halSendEmail > div.halSendEmailWrapper 
{
    padding-top: 20px;
    padding-left: 20px;
}
.halSendEmail > div.halSendEmailWrapper > div.listing {
    display:block;
    clear:both;
}
.halSendEmail > div.halSendEmailWrapper > div.listing > input 
{
    width:200px;
}
.halSendEmail > div.halSendEmailWrapper > div.listing > textarea {
    margin-left:0px;
    width:200px;
}
    
.halSendEmail > div.halSendEmailWrapper > div.listing > div.label {
    width: 120px;
    float: left;
    display: inline;
    text-align: right;
    margin-top: 4px;
    margin-right: 8px;
}

.halSendEmail > div.halSendEmailWrapper > div.submit {
    margin-left: 170px;
    margin-top: 5px;
}
.halSendEmail > div.halSendEmailWrapper > div.disclaimer {
    font-size:13px;
    font-style:italic;
    padding:20px;
}
.halSendEmail > a.close 
{
    border:1px solid #f4f4f4;
    color:#CC0000;
    padding: 2px 4px;
    float:right;
    text-decoration:none;
}
.halSendEmail > a.close:hover {
    color: #fff;
    background-color: #c00;
}
/***** END FOOTER EMAIL PAGE COMPONENT *****/

/***** START PREVIEW TOOLBAR *****/

#PreviewToolbar {
	height: 25px;
	padding: 5px;
	background: url("../img/iwov/bg.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/iwov/bg.gif*/ repeat-x scroll left top #D0DEF0;
}

#PreviewToolbar > table {
	height: 25px;
}

#PreviewToolbar > table  td {
	vertical-align: middle;
}

#PreviewToolbar a {
	color: #000000;
	text-decoration: none;
}

#PreviewToolbar a:hover {
	color: #000000;
	text-decoration: underline;
}

#PreviewToolbar .PreviewToolbarSepBar {
	width: 10px;
	height: 16px;
	display: block;
	background-image: url("../img/iwov/grid-blue-split.gif")/*tpa=http://www.halliburton.com/web-resources/common/img/iwov/grid-blue-split.gif*/;
	background-repeat: no-repeat;
	background-position: center center;
}

/***** END PREVIEW TOOLBAR *****/

/***** START CAPTION *****/
table.Caption * td, .Caption * td,
.halNewsArticleWrapper * td.Caption,
.halNewsArticleWrapper * td.Caption span 
.halNewsArticleWrapper tbody tr td.Caption span
.halNewsArticleWrapper * td.Caption *
{
    font-size:10px!important;
    line-height:12px!important;
    color:#000000!important;
    text-align:left;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}
/***** END CAPTION *****/

/***** START LINEBREAK *****/
.halSidebarLineBreak 
{
    left:-5px;
    width:225px;
    height:1px;
    margin:0px auto;
    border-top:1px solid #cccccc;
    position:relative;
}
.productsProductOverviewComponent h1 span
{
    line-height: 22px;
}
/***** END LINEBREAK *****/

/***** CHALLENE CONTENT *****/
#challange_content ul 
{
    padding-left:0px;
} 

/****** TinyMCE Styles *******/

#tinymce {
    background-image: none;
	background-color: #ffffff;
}

#tinymce p
{
    margin-top:0px;
    margin-bottom:10px;
}

#tinymce  ul
{
    padding-left: 20px;
    list-style: disc;
    margin-bottom:10px;
    font-size:12px;
}

#tinymce ul li ul 
{
    padding-left: 20px;
    list-style:circle;
}
