@media print{

	#leftColumn {	
		display:none;
	}
	
	#rightColumn {	
		display:none;
	}
	
	#centerColumnWrapper   {
		width:100%;
	}
	
	.globalNavSearch   {
		display:none;
	}

	#searchbox_globalNavigationSearchHalcom_SearchInput {
		display:none;
	}
	
	#searchbutton_globalNavigationSearchHalcom_SearchInput {
		display:none;
	}
	
	.globalNavRegister  {		
		display:none;
	}
	
	body,#pageWrapper {
	    background:white!important;
	}
	
	#globalNavWrapper {
		background:white!important;
	}
	
	#globalNavWrapper .primaryNav > ul > li > a {
	    background:white!important;
	}
	
	.primaryNav {
		display:none;
	}
	
	.tabbedNavComponent {
		display:none;
	}
	
	#breadCrumbComponent   {
		padding:0px 25px 0px 3px;
	}
	
	h1 {
		padding:15px 0px 0px 0px;
		margin:0px;
	}
	
	#footerWrapper  {
		background:#ffffff;
		border-top: 2px solid #CC0000;
	}
	
	.footerCol1 {
		display:none;
	}
	
	.footerCol2 {
		display:none;
	}
	
	.footerCol3 {
		display:none;
	}
	
	.footerright    {
		display:none;
	}
	#halNewsArticleImageGallery 
	{
	    display:none;
	}
	.halNewsArticleDocTitle 
	{
	    margin:0px;
	    /*Author Khyati Sonchhatra, Date:11 Sept 2013, TFS# 337670
        <Purpose> - Updated style to fix Doc Title wrap to next line
        Start  */
	    width:100% !important;
	    /*End*/
	}
	.globalFooterComponent > .footerleft > .footercopyPrint {    
		display:block;
		text-align:left;
		float:left;
		color:#000000;
		width:100%;
		padding: 10px 0px 0px 0px;
		margin-left:-20px;
	}
	
	#globalNavWrapper {
		background: #ffffff;
	}
	
	#globalNavWrapper .globalNavLogo {
		float: left;
		margin: 20px 0px 0px 3px;
	}
	
	.footercopy {
	    display:none;
	}
	
	#HalFooterLinks {
		display:none;
	}
	
	#HalPageFunctionFooter {
	    display:none;
	}
	
	body    {
		background:#ffffff;
		background-image:none;
	}
	
	#pageWrapper {
		background:#FFFFFF;
	}
	
	#PreviewToolbar {
		display:none;
	}
	
	.addit {
		display:none;
	}
	
	.globalNavSearch 
	{
	    display:none;
	}
	.halNewsArticleShare 
	{
	    display:none;
	}
	.halNewsArticleEmail 
	{
	    display:none;
	}
	#centerColumnWrapper div #centerColumnRow 
	{
	    margin:0!important;
	}
	.halNewsArticleRate .halNewsArticleRate2 
	{
	    display:block!important;
	}
	.halNewsArticleRate .halNewsArticleRate1 
	{
	    display:none!important;
	}
	#breadCrumbComponent 
	{
	    display:none;
	}
	.border-top-left 
	{
	    display:none;
	}
	.border-top-right 
	{
	    display:none!important;
	}
	#halNewsArticleGalleryDisplayImages
	{
	    display:none;
	}
	.halNewsArticleMainTitle span 
	{
	    font-size:10pt;
	}
	.halNewsArticleDocTitle span 
	{
	    font-size:12pt;
	}
	.halNewsArticleDocAuthor span 
	{
	    font-size:10pt;
	}
	.halNewsArticleRateShare div span
	{
	    font-size:12pt;
	}
	.halNewsArticleWrapper div span 
	{
	    font-size: 10pt;
	}
	.halNewsArticleWrapper table tbody tr td.Caption span 
	{
	    font-size: 8pt;
	}
	#halworldGlobalFooterComponent * 
	{
	    font-size: 10pt;
	}
	#halworldGlobalFooterComponent 
	{
	    background: #FFF!important;
	    color: #000!important;
	}
	#halworldGlobalFooterComponent #ServerAddress 
	{
	    display:none;
	}
	
	#HalLegalFooter 
	{
		padding-left: 0!important;
	}
    #HalLegalFooter ul li{display:none;}
    #HalLegalFooter ul li:first-child{display:block!important;border-right:0px!important;padding-left:0!important;}
    .globalNavSearch{display:none!important;}
    .halNewsArticleCommentWrapper{display:none!important;}
    #HalPageFunctionFooter{display:none!important;}
    .halNewsArticleReplies{display:none!important;}
    .globalNavRegister{display:none!important;} 
	#centerColumn   {
		border:0px!important;
		padding:0px!important;
		width:95%!important;
		margin:10px!important;
	}
	.globalNavLogo 
	{
	    left: 15px;
	}
	#footerWrapper 
	{
	    background: #FFFFFF!important;
	    background-color:#FFFFFF!important;
	}
	#halworldGlobalFooterComponent 
	{   
	    background: #ffffff!important;
	    background-color:#FFFFFF!important;
	}
}
