#eddie-meerkat-container {
	margin: 0 4px 0 4px;
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	top: 0 ;
	right :   0; 
	left : 0;
}

#eddie-meerkat-wrap {
	width: 100%;
}

#eddie-offers-list {
	top: 0;
	right: 0;
	left: 0;
}

#eddie-promobar {
	font-family: 'MS Reference Sans Serif';
	font-size: 15px;
	padding: 10px;
	background-color: #333333;
}

#eddie-promo-summary-container {
	overflow: auto;
	margin: auto;
	text-align: center;
	color: white;
	width: 400px;
	border-radius: 5px 5px 5px 5px;
}

#eddie-promo-summary-container a {
	color: white;
	cursor: pointer;
}

#eddie-promo-summary-container a:hover {
	background-color: black;
}

#eddie-min-max-links {
	position: absolute;
	top: -12px;
	right: 13px;
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	z-index: 10;
}

.eddie-min-max-link {
	float: right;
	display: block;
}

.eddie-min-max-link:hover {
	background-color: transparent;
}

/* Margin for each element so that it is not overlap with the Previous Link */
.eddie_carousel-item-block {
	margin-left: 80px;
	margin-right: 80px;
	overflow: auto;
}

.eddie_carousel-skin-eddie .eddie_carousel-next-horizontal {
	background:
		url(../img/bg/next-horizontal.png)/*tpa=http://assets.staples-static.com/NDM/sbdpas/20150605033846/img/bg/next-horizontal.png*/
		no-repeat;
	position: absolute;
	height: 32px;
	width: 32px;
	top: 10px;
	right: 0px;
	cursor: pointer;
}

.eddie_carousel-skin-eddie .eddie_carousel-prev-horizontal {
	background:
		url(../img/bg/prev-horizontal.png)/*tpa=http://assets.staples-static.com/NDM/sbdpas/20150605033846/img/bg/prev-horizontal.png*/
		no-repeat;
	position: absolute;
	height: 32px;
	width: 32px;
	top: 10px;
	left: 0px;
	cursor: pointer;
}

.eddie_carousel-skin-eddie .eddie_carousel-item {
	width: 75px;
}

.eddie_carousel-skin-eddie .eddie_carousel-direction-rtl {
	direction: rtl;
}

.eddie_carousel-skin-eddie .eddie_carousel-container-horizontal {
	padding: 0px;
	text-align: center;
	position: relative;
}

.eddie_carousel-skin-eddie .eddie_carousel-item {
	width: 75px;
	min-height: 32px;
	height: auto;
}

.eddie_carousel-skin-eddie .eddie_carousel-direction-rtl .eddie_carousel-item-horizontal
	{
	margin-left: 10px;
	margin-right: 0;
}

.eddie_carousel-skin-eddie .eddie_carousel-item-placeholder {
	background: #fff;
	color: #000;
}  /** * Buttons */
.eddie_carousel-skin-eddie .eddie_carousel-direction-rtl .eddie_carousel-next-horizontal
	{
	left: 5px;
	right: auto;
}

.eddie_carousel-skin-eddie .eddie_carousel-next-horizontal:hover {
	background-position: -32px 0;
}

.eddie_carousel-skin-eddie .eddie_carousel-next-horizontal:active {
	background-position: -64px 0;
}

.eddie_carousel-skin-eddie .eddie_carousel-next-disabled-horizontal,.eddie_carousel-skin-eddie .eddie_carousel-next-disabled-horizontal:hover,.eddie_carousel-skin-eddie .eddie_carousel-next-disabled-horizontal:active
	{
	cursor: default;
	background-position: -96px 0;
	background: none;
}

.eddie_carousel-skin-eddie .eddie_carousel-clip-horizontal {
	width: 100%
}

.eddie_carousel-skin-eddie .eddie_carousel-direction-rtl .eddie_carousel-prev-horizontal
	{
	left: auto;
	right: 5px;
	background-image:
		url(../img/bg/next-horizontal.png)/*tpa=http://assets.staples-static.com/NDM/sbdpas/20150605033846/img/bg/next-horizontal.png*/;
}

.eddie_carousel-skin-eddie .eddie_carousel-prev-horizontal:hover {
	background-position: -32px 0;
}

.eddie_carousel-skin-eddie .eddie_carousel-prev-horizontal:active {
	background-position: -64px 0;
}

.eddie_carousel-skin-eddie .eddie_carousel-prev-disabled-horizontal,.eddie_carousel-skin-eddie .eddie_carousel-prev-disabled-horizontal:hover,.eddie_carousel-skin-eddie .eddie_carousel-prev-disabled-horizontal:active
	{
	cursor: default;
	background-position: -96px 0;
	background: none;
}

#eddie-promobar-maximize-button {
	background:
		url(../img/bg/shoes_btn_up.png)/*tpa=http://assets.staples-static.com/NDM/sbdpas/20150605033846/img/bg/shoes_btn_up.png*/
		no-repeat;
	position: absolute;
	height: 35px;
	width: 35px;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

#eddie-promobar-minimize-button {
	background:
		url(../img/bg/shoes_btn_down.png)/*tpa=http://assets.staples-static.com/NDM/sbdpas/20150605033846/img/bg/shoes_btn_down.png*/
		no-repeat;
	position: absolute;
	height: 35px;
	width: 35px;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

a#eddie-product-link {
	text-align: left;
	color: #4892db;
	border: none;
	font-family: Arial;
	font-size: 14px;
	text-decoration: none;
}

a#eddie-minimize-link {
	font-family: Arial;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: center;
}

a#eddie-maximize-link {
	font-family: Arial;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: center;
}

#eddie-meerkat-wrap div {
	float: right;
}

#eddie-offers-list ul {
	width: 338px;
	padding: 0px;
}

#eddie-bubble-0 div {
	z-index: 9;
}

.pre-abandonment {
	position: relative;
	top: 0px;
	left: -40px;
	text-align: right;
	font-family: Arial;
	font-size: 14px;
	background: #f5f5f5;
	border: none;
	height: 97px;
	float: right;
	width: 260px;
	margin-top: 0px;
}

.pre-abandonment-top {
	text-align: left;
	background: #1f2c33;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: white;
	border: none;
	margin-top: 0px;
	height: 31px;
	width: 260px;
}

.pre-abandonment-sku {
	text-align: left;
	color: #4892db;
	border: none;
	margin-top: 0px;
	height: 72px;
	width: 260px;
	font-family: Arial;
	font-size: 14px;
}

a#eddie-product-link {
	text-align: left;
	color: #4892db;
	border: none;
	margin-top: 0px;
	height: 72px;
	width: 260px;
	font-family: Arial;
	font-size: 14px;
	text-decoration: none;
}

.pre-abandonment-offer {
	text-align: left;
	font-weight: bold;
	color: #cc0000;
	border: none;
	margin-top: 0px;
	height: 15px;
	width: 260px;
	font-family: Arial;
	font-size: 14px;
}

#eddie-meerkat-wrap {
	width: 338px;
	right: 0px;
}

#eddie-promobar {
	background-color: #1f2c33;
	padding: 0px;
	width: 338px;
	font-family: Arial;
	font-size: 14px;
	height: auto;
}

#eddie-promo-summary-container {
	width: 338px;
	height: 31px;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
}

#eddie-promo-summary {
	float: right;
	width: 300px;
	height: 31px;
	color: #FFFFFF;
	text-align: left;
	text-decoration: none;
	vertical-align: middle;
	margin-top: 5px;
}

#eddie-promo-summary {
	width: 300px;
	text-align: left;
	margin-top: 5px;
}

#eddie-promobar-maximize-button {
	background:
		url(../img/bg/staples_up_arrow.png)/*tpa=http://assets.staples-static.com/NDM/sbdpas/20150605033846/img/bg/staples_up_arrow.png*/
		no-repeat;
	position: relative;
	height: 7px;
	width: 11px;
	top: 22px;
	right: 0px;
	cursor: pointer;
}

#eddie-promobar-minimize-button {
	background:
		url(../img/bg/staples_down_arrow.png)/*tpa=http://assets.staples-static.com/NDM/sbdpas/20150605033846/img/bg/staples_down_arrow.png*/
		no-repeat;
	position: relative;
	height: 7px;
	width: 11px;
	top: 22px;
	right: 0px;
	cursor: pointer;
	text-align: center;
}

.eddie_carousel-skin-eddie {
	width: 338px;
	padding: 0px;
}

div.eddie_carousel-skin-eddie {
	background: #f5f5f5;
	width: 338px;
	padding: 0px;
}

div.eddie_carousel-container {
	width: 338px;
	padding: 0px;
}

.eddie_carousel-container {
	width: 338px;
	padding: 0px;
}

.eddie_carousel-skin-eddie .eddie_carousel-next-horizontal,.eddie_carousel-skin-eddie .eddie_carousel-next-horizontal:hover,.eddie_carousel-skin-eddie .eddie_carousel-next-horizontal:active
	{
	background:
		url(../img/bg/staples_carousel_arrows_next.png)/*tpa=http://assets.staples-static.com/NDM/sbdpas/20150605033846/img/bg/staples_carousel_arrows_next.png*/
		no-repeat;
	position: absolute;
	height: 25px;
	width: 13px;
	top: 35px;
	right: 5px;
	cursor: pointer;
}

.eddie_carousel-skin-eddie .eddie_carousel-prev-horizontal,.eddie_carousel-skin-eddie .eddie_carousel-prev-horizontal:hover,.eddie_carousel-skin-eddie .eddie_carousel-prev-horizontal:active
	{
	background:
		url(../img/bg/staples_carousel_arrows_prev.png)/*tpa=http://assets.staples-static.com/NDM/sbdpas/20150605033846/img/bg/staples_carousel_arrows_prev.png*/
		no-repeat;
	position: absolute;
	height: 25px;
	width: 13px;
	top: 35px;
	left: 5px;
	cursor: pointer;
}

.eddie_carousel-skin-eddie .eddie_carousel-prev-disabled-horizontal,.eddie_carousel-skin-eddie .eddie_carousel-prev-disabled-horizontal:hover,.eddie_carousel-skin-eddie .eddie_carousel-prev-disabled-horizontal:active
	{
	background:
		url(../img/bg/staples_carousel_arrows_left_disabled.png)/*tpa=http://assets.staples-static.com/NDM/sbdpas/20150605033846/img/bg/staples_carousel_arrows_left_disabled.png*/
		no-repeat;
	cursor: default;
}

.eddie_carousel-skin-eddie .eddie_carousel-next-disabled-horizontal,.eddie_carousel-skin-eddie .eddie_carousel-next-disabled-horizontal:hover,.eddie_carousel-skin-eddie .eddie_carousel-next-disabled-horizontal:active
	{
	background:
		url(../img/bg/staples_carousel_arrows_right_disabled.png)/*tpa=http://assets.staples-static.com/NDM/sbdpas/20150605033846/img/bg/staples_carousel_arrows_right_disabled.png*/
		no-repeat;
	cursor: default;
}

.eddie_carousel-next-horizontal1 {
	background:
		url(../img/bg/staples_carousel_arrows_next.png)/*tpa=http://assets.staples-static.com/NDM/sbdpas/20150605033846/img/bg/staples_carousel_arrows_next.png*/
		no-repeat;
	position: absolute;
	height: 32px;
	width: 32px;
	top: 30px;
	right: 0px;
	cursor: pointer;
}

.eddie_carousel-prev-horizontal1 {
	background:
		url(../img/bg/staples_carousel_arrows_prev.png)/*tpa=http://assets.staples-static.com/NDM/sbdpas/20150605033846/img/bg/staples_carousel_arrows_prev.png*/
		no-repeat;
	position: absolute;
	height: 32px;
	width: 32px;
	top: 30px;
	left: 5px;
	cursor: pointer;
}
#divEddieSlider .disable { visibility: hidden; }