#wrap {
	background: url(../img/nav/utility/bg_utilityNav.gif)/*tpa=https://www.thecloroxcompany.com/img/nav/utility/bg_utilityNav.gif*/ 0 0 repeat-x;
}


#header {
	height: 145px;
    margin: 0 auto;
	padding: 0 15px;
	width: 930px;
}

#header * {
    margin: 0;
    border: 0;
    padding: 0;
}

#header #logo {
	float: left;
	margin: 22px 34px 0 0px;
	width: 198px;
}

#header #logo h2 {
	margin: 0;
}

#header pre#ticker{
    font: normal 11px Arial, Helvetica, sans-serif;
    overflow: visible;
    line-height: 1em;
    margin: 0;
}


/* !MAIN NAVIGATION */
ul#mainNav {
	float: left;
	margin-top: 31px;
}
ul#mainNav a {
	display: block;
	height: 36px;
	text-indent: -99999px;
}
ul#mainNav a#tab_company, ul#mainNav a#tab_products, ul#mainNav a#tab_corporate-responsibility, ul#mainNav a#tab_newsroom {
	background-image: url(../img/nav/main/sprite.png)/*tpa=https://www.thecloroxcompany.com/img/nav/main/sprite.png*/;
	background-repeat: no-repeat;
}
ul#mainNav li {
	float: left;
}
ul#mainNav a#tab_company {
	background-position: 0 0;
	width: 117px;
}
ul#mainNav a#tab_company:hover {
	background-position: 0 -36px;
}
ul#mainNav a.active#tab_company {
	background-position: 0 -72px;
}
ul#mainNav a#tab_products {
	background-position: -117px 0;
	width: 102px;
}
ul#mainNav a#tab_products:hover {
	background-position: -117px -36px;
}
ul#mainNav a.active#tab_products {
	background-position: -117px -72px;
}
ul#mainNav a#tab_corporate-responsibility {
	background-position: -219px 0;
	width: 265px;
}
ul#mainNav a#tab_corporate-responsibility:hover {
	background-position: -219px -36px;
}
ul#mainNav a.active#tab_corporate-responsibility {
	background-position: -219px -72px;
}
ul#mainNav a#tab_newsroom {
	background-position: -484px 0;
	width: 131px;
}
ul#mainNav a#tab_newsroom:hover {
	background-position: -484px -36px;
}
ul#mainNav a.active#tab_newsroom {
	background-position: -484px -72px;
}


/* BREADCRUMBS */
ul#breadcrumbs {
margin: 10px 0 24px 0;
}
#breadcrumbs li {
	float: left; margin: 0;
	padding: 0 5px 0 0;
}
#breadcrumbs li a {
	color: #0a7fc2;
}
#breadcrumbs li.endCrumb {
	border: none;
	color: #666;
}


/* stock ticker */
#ticker {
	float: left;
	padding: 8px 0 0 0;
	width: 310px;
	height: 20px;
}


/* !utility nav */
#utilityNav {
	color: #FFF;
	font-size: 11px;/* Stock ticker and search box font size */
	height: 32px;
	margin: 0;
	padding: 9px 0 0 0;
}
#utilityNav a {
	display: block;
	height: 28px;
	position: relative;
	text-indent: -99999px;
}
#utilityNav a#tab_investors, #utilityNav a#tab_careers, #utilityNav a#tab_suppliers, #utilityNav a#tab_contact {
	background-image: url(../img/nav/utility/sprite.png)/*tpa=https://www.thecloroxcompany.com/img/nav/utility/sprite.png*/;
	background-repeat: no-repeat;
}
#utilityNav ul {
	float: right;
}
#utilityNav ul li {
	float: left;
}
#utilityNav a{
    padding-top: 4px
}
#utilityNav a.active{
    background-color: #fff;
}
#utilityNav a#tab_investors {
	background-position: 6px 3px;
	width: 95px;
}
#utilityNav a#tab_investors:hover {
	background-position: 6px -26px;
}
#utilityNav a.active#tab_investors {
	background-position: 6px -53px;
}
#utilityNav a#tab_careers {
	background-position: -91px 3px;
	width: 79px;
}
#utilityNav a#tab_careers:hover {
	background-position: -91px -26px;
}
#utilityNav a.active#tab_careers {
	background-position: -90px -53px;
	left: -1px;
}
#utilityNav a#tab_suppliers {
	background-position: -172px 3px;
	width: 95px;
}
#utilityNav a#tab_suppliers:hover {
	background-position: -172px -26px;
}
#utilityNav a.active#tab_suppliers {
	background-position: -171px -53px;
	left: -1px;
}
#utilityNav a#tab_contact {
	background-position: -272px 3px;
	width: 99px;
}
#utilityNav a#tab_contact:hover {
	background-position: -272px -26px;
}
#utilityNav a.active#tab_contact {
	background-position: -271px -53px;
	left: -1px;
}

#utilityNav div#socialLinks {
	padding: 5px 0 0 0;
	width: 60px;
	float: left;
}
#utilityNav div#socialLinks a {
	padding: 0 0 0 0;
	display: inline;
	text-indent: 0;
}


/* search field */
#searchBox {
	float: right;
    margin: 0;
	margin-left: 8px;
}

#searchBox input {
	background: url(../img/nav/utility/icon_magnifying_lens.gif)/*tpa=https://www.thecloroxcompany.com/img/nav/utility/icon_magnifying_lens.gif*/ 155px 4px no-repeat;
	background-color: #FFF;
	color: #0083ca;
	float: right;
	height: 22px;
	margin-left: 0;
	padding: 0 20px 0 3px;
	width: 149px;
}


/* START SIDE NAV -->
*/
/* general */
.leftCol h4 {
	color: #439539;
	margin-bottom: 7px;
	text-transform: uppercase;
}

/* hide sidebar except on certain pages */
.leftCol .sidebar {display:none;}
#product-packaging .leftCol .sidebar {display:block;}


ul.sideNav {
    margin-bottom:28px;
}
ul.sideNav li {
	margin-bottom: 4px;
}
ul.sideNav a{
    color: #666;
    display: block;
    text-decoration: none;
}
ul.sideNav a.active{
    color: #333;
}
ul.sideNav a.current{
    color: #439539;
    border-left: 4px solid #439539;
}
ul.sideNav a:hover{
    color: #439539;
}

/* Second level nav items */
ul.sideNav li a:link, ul.sideNav li a:visited {
	font: bold 11px Arial, Helvetica, sans-serif;
	margin-bottom: 4px;
	padding-left: 10px;
	text-transform: uppercase;
}
ul.sideNav li a.current{
    padding-left: 6px;
}
ul.sideNav li a img{
	vertical-align:middle;
	margin-left:6px;
}
/* Third level nav items */
ul.sideNav li ul li a:link, ul.sideNav li ul li a:visited {
	padding-left: 20px;
	text-transform: none;
}
ul.sideNav li ul li a.current{
    padding-left: 16px;
}
/* Fourth level nav items */
ul.sideNav li ul li ul li a:link, ul.sideNav li ul li ul li a:visited {
	font-weight: normal;
	padding-left: 30px;
}
ul.sideNav li ul li ul li a.current{
    padding-left: 26px;
}
ul.sideNav li.blog {padding-top:14px;}
/*/--> END SIDE NAV
*/

/* Styles for Google CSE */
#___gcse_0 {
	width: 210px;
	float: right;
}

.gsc-clear-button {
	display: none;
}

.gsc-input {
	height: 20px;
}

