 
body {
	font: normal 12px Arial, Helvetica, sans-serif;		 
}

/* hide areas from printed page */
#mainNav, 
#utilityNav,
.leftCol, 
.rightCol,
#breadcrumbs,  
#footer,
a.skipLink, 
.tabBoxNav {display:none;}

#college-recruiting .rightCol {display:block; float:none;}

img {border:0;}
 
.left {float:left;}
.right {float:right;}
img.left {
    margin-right: 19px;
}
img.right {
    margin-left: 19px;
}

/* make content fit the paper page */
.heroImg, 
.primaryCol {width:700px; height:auto;}

/* force something to print that is hidden on main style sheet. */ 
.print {clear:left;display:block !important; float:none;}

.copyright {padding: 20px 0 0 0 }

/* hide bullet on unordered lists */
ul {list-style-type:none;margin:0px; padding:0px}

/* hide links to Board of Directors bios */
.boardDirHead p a, 
.boardDir p a {display:none;}

/* make bios on executive team page print */ 
#bio-container div.knauss-list, 
#bio-container div.peiros-list, 
#bio-container div.heinrich-list,
#bio-container div.tataseo-list,
#bio-container div.britanik-list,
#bio-container div.delker-list,
#bio-container div.dorer-list,
#bio-container div.foster-list,
#bio-container div.kane-list,
#bio-container div.lamontagne-list,
#bio-container div.roeth-list,
#bio-container div.stein-list,
#bio-container div.costello-list{ 
opacity:100 !important;
display: block; 
position:relative;
}
 
/* hide links to Executive Teams bios */
img.region,  #bio-container p a {display:none;}

/* hide "Slide 1, Slide 2, etc." from printing */
#homeAccordion,#homeAccordion img {width:700px; height:auto;}

#homeAccordion h2 span {display:none;}
#homeAccordion ol,
#homeAccordion ol li {list-style-type: none;}

.sliderControls {display:none;}

ul.logoLink li {
    float: left;
    height: 127px;
    width: 124px;
}	
#our-brands .logoLink {
    height: 110px;
    width: 140px;
} 
.tabBox {overflow:hidden;}

ul.funFacts li {
    list-style: disc outside none;
    margin: 0 14px;
    padding: 6px 4px;
}


.generalConformityCertificate li {
    border-bottom: 1px solid #DCE4F1;
    clear: left;
    display: block;
    overflow: hidden;
    padding: 6px 0;}
	
.generalConformityCertificate label {
    float: left;
    padding-bottom: 6px;
    width: 230px;
}

.generalConformityCertificate span {
    border-left: 1px solid #DCE4F1;
    float: right;
    padding: 0 0 6px 6px;
    width: 300px;
}