@charset "utf-8";
/* CSS Document */

a.cuetip {
    outline: none;
    text-decoration: underline;
   /* border-bottom: solid 1px #454545;*/
    position: relative;
	font-size: 11px;
	color: #404040;
}

a.cuetip span {
    width: 200px;
	visability: hidden;
	display: none;
    padding: 10px;
    margin-top: 0;
    margin-left: -120px;
    opacity: 0;
    z-index: -1;
    position: absolute;
    font-family: Arial;
    font-size: 11px;
	line-height: 14px;
	font-style: italic;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #454545;
	-moz-transition-property: opacity, margin-top, visibility, margin-left, z-index;
    -moz-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s, 0.3s;
    -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    -webkit-transition-property: opacity, margin-top, visibility, margin-left, z-index;
    -webkit-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s, 0.3s;
    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-property: opacity, margin-top, visibility, margin-left, z-index;
    transition-duration: 0.4s, 0.3s, 0.4s, 0.3s, 0.3s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}

/*a.cuetip > span:hover,*/
a.cuetip:hover span {
	z-index: 10;
	display: block;
    opacity: 1;
    text-decoration: none;
    visibility: visible;
    overflow: visible;
    margin-top: 30px;
    display: inline;
    margin-left: -90px;
}
a.cuetip.top:hover  span, a.cuetip.right:hover span {
   margin-top: -25px;	
	
}

a.cuetip.moveLeft:hover span {
	left: -150px;
}

a.cuetip:hover span b {
    width: 15px;
    height: 15px;
    margin-left: 20%;
    margin-top: -19px;
    display: block;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: inset -1px 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -o-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
} 
a.cuetip.top:hover span b {
	bottom: -8px;
	margin-top: 0;
	-webkit-transform: rotate(-225deg);
	-moz-transform: rotate(-225deg);
	transform: rotate(-225deg);
}
a.cuetip.right:hover span b {
	top: 40px;
	left: -54px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

a.cuetip > span {
	color: #000000; 
	background: #FFF;
	border: 1px solid #dcdcdc;	     
}    
	  
a.cuetip span b {
	background: #FFFFFF;
	border-top: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
}
a.cuetip.right:hover span {
	margin-left: 180px;
}


