/* DNA2275753 ddctimb */
.replace-account-name,
form .unit label.DNA2275753_SALESPERSON_NAME {display:none;}
.lookhere input {box-shadow:0 0 5px red;}
.DNA2275753_SALESPERSON_NAME span {color:red;}

/* DNA2473048 ddctimb */
#vehicle-header .backToInventory a:hover {text-decoration:none;color:lightgray;}

/* DNA2577067 ddctimb */
.custom-de-area-DNA2577067 .content {margin:0 10px;padding:10px 0;}
.custom-de-area-DNA2577067 .content p {margin:0;line-height:normal;}

/* DNA2610579 ddctimb */
.group1-true-price-contact form legend {display:none;}
.t4 #region1 .group1-true-price-contact form fieldset {border:none;padding:0;margin:0;background:transparent none;width:auto;}
.t4 #region1 .group1-true-price-contact form fieldset.group1 .unit {width:100%;}
.t4.t4-true-price-page #r1Wrap1 {overflow:visible;}

/* DNA2661436 ddcdrewc */
#container.t4 #r1Wrap1 {overflow:visible}
.group1-true-price-contact {padding-bottom:15px;}
.group1-true-price-contact div.submit {margin-right:10px;}

/* ddctimb */
.custom-true-price-image.template-180 {margin-top:-100px;margin-bottom:110px;}
.custom-true-price-image.template-180.custom-true-price-image-vdp {margin:0;}

