 #fullPage:after {
	content: none;
	display: default;
}
/* fix for the disabling of the affinity portal buttons on the affinity portal site */
.showOverlay {
	z-index: 3 !important;
}
#contentWrapper #contentArea .affinityPortalCenterModules .quoteButtonDivOverlay {
	display:inline;
	background-image: url("../../images/buttonSoftOrangeGradient110x20.jpg")/*tpa=https://www.libertymutual.com/images/buttonSoftOrangeGradient110x20.jpg*/;
	height: 20px;
}
.quoteButtonDivOverlay span {
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;	
	left: 11px;
	position: relative;
	top: 1px;
	color: lightGrey;
	font-weight: bold;
}

/* fix spacing between modules */
#modulesAccordion h3 {
	display:table;
}
.quoteIntentLandingPage #modulesAccordion ul li {
	display: inherit;
/*	margin-bottom:10px;*/
}
#modulesAccordion ul li.selected {
	display: block;
	margin-bottom:0px;
}
#modulesAccordion h3 {
	margin-bottom:0px;
}
#modulesAccordion h3.moduleClosed {
	margin-bottom:0px;
}

/* this should be a LI (like all the others) not a div */	
#modulesAccordion #managePolicyContainer {
	display:inline-block;
	margin-bottom:0;
}
#managePolicyContainer #loginbutton {
	width:147px;
}
#modulesAccordion ul li a#findLocalAgent{
	margin-bottom: 0;
}

/* Affinity Wrap */

/* This affinity wrap CSS is to make the wrap behave
   exactly as it does in IE7 on ALL pages, effectively
   dumbing it down for pages that don't have the tag.  
   When the IE7 compatibility tags are removed from 
   ALL lm.com pages, this section should be removed. */
   
.affinityBottomWrap {
	display: block;
	height: auto;
	min-height: 80px;
	visibility: hidden;
	position:relative;
	top:5px;
	float: left;
}
.affinityLogoContainer {
	display: block;
	float: left;
}
.bottomWrapSeperatorContainer {
	display: block;
	position: relative;
	float: left;
	padding: 0px;
}
.bottomWrapSeperator {
	height: 80px;
}
.wrapBannerContainer {
	display: block;
}

/* arrow exception */
div#pageBodyContent.landingArrow div#coBrandContainer div#AffinityLogo div.affinityLogoInner, div#pageBodyContent.landingArrow div#coBrandContainer div#AffinityDefaultImage div.affinityLogoInner, div#pageBodyContent.landingArrow div#coBrandContainer div#DefaultImage div.affinityLogoInner {
	height: 79px;
}

/* wrap exception */
div#pageBodyContent.landingWrap div#coBrandContainer div#AffinityLogo, div#pageBodyContent.landingWrap div#coBrandContainer div#AffinityDefaultImage, div#pageBodyContent.landingWrap div#coBrandContainer div#DefaultImage {
	height: 75px;
	border:thin solid #d8d8d9;
}

.affinityBottomWrapOuter:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
.affinityBottomWrapOuter{
	background-color:#fff !important;	
}

.affinityBottomWrapInner{
	position:relative;
	top:-15px;
}
.landingTabBottomWrapOuter{
	top:-8px;
}

/* Navigation fixes */
#globalContainer ul li button.ieActiveShift{
	top: -1px;
	left: -1px;
}
.newContent .socialBarWithoutSubTitle{
	margin-top: 2px;
}
.socialBarBottom{
	margin: 28px 0 10px 0;
	clear: both;
}
/* accordion fixes */
#modulesAccordion ul li.selected{
	margin: 0px 0px 9px 0px;
}
#modulesAccordion #module_getYourQuote:hover,
#modulesAccordion #module_retrieveSavedQuote:hover {
 	background-color: rgb(143, 174, 107);
}
#modulesAccordion #module_manageYourPolicy:hover,
#modulesAccordion #module_findAnAgent:hover,
#modulesAccordion #module_advancedSearch:hover {
	background-color: rgb(123,159,191);
}
#modulesAccordion #module_findAnAgent .findAgentNameForm{
	padding-bottom: 36px;
}
div.jqmWindow.lightboxV2 .getQuoteForm,
div.jqmWindow.lightboxV2 .findAgentNameForm,
div.jqmWindow.lightboxV2 .managePolicyForm{
	padding-bottom: 0px !important;
}
div.jqmWindow.lightboxV2 .retrieveSavedQuoteForm .retrieve{
	margin-bottom: 0px;
}
div.jqmWindow.lightboxV2 #managePolicyMod{
	margin-bottom: -15px;
}
#managePolicyMod .componentLinkTop{
	letter-spacing: -0.5px;
}
#modulesAccordion #module_manageYourPolicy form{
	height: 144px;
}
#modulesAccordion a:visited,
.jqmWindow.lightboxV2 #module_manageYourPolicy a:visited,
.jqmWindow.lightboxV2 #module_retrieveSavedQuote a:visited{
	font-size: 14px !important;
	font-weight: bold !important;
} 
#modulesAccordion #module_advancedSearch .moduleContent{
	padding-bottom: 14px;
}
/*Quick Links Fixes*/
.actionLinks ul li a{
	left: -12px;
	position: relative;
}
.actionLinks ul{
	font-size: 18px;
}
.imageModuleContainer{
	margin: 0px 0 8px;
}
/*Retrieve Saved Quote*/
form.retrieveSavedQuoteForm ul li.retrieve {
	margin-bottom: 18px;
}

.tabBox{
	border-right:2px solid #666;
	border-bottom:2px solid #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80) progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000')";
}

body.agentPageV2 a#agentBioToggle{
	padding-top: 0;
}

a.bt:hover div.thebubble:before {
	border-top-color: #666 !important;
	border-width: 11px;
	top: 46px;
	left: 20px;
}

a.bt:hover div.thebubble:after {
	border-top-color: #FFF !important;
	border-width: 11px;
	top: 45px;
	left: 20px;
}
/*newHomepage specific CSS*/
#homePageBodyCenter #centerTop{
	background-image: url("../../images/whitePaperShadow.png")/*tpa=https://www.libertymutual.com/images/whitePaperShadow.png*/;
	overflow: visible;
	z-index: 2;
	height: 30em;
	width: 100%;
	margin-bottom: 36px;
	background-position-x: 0px;
	background-position-y: 7px;
	background-repeat: no-repeat;
}
#homePageBodyCenter #centerBottom{
	background-image: url("../../images/whitePaperShadow.png")/*tpa=https://www.libertymutual.com/images/whitePaperShadow.png*/;
	overflow: visible;
	z-index: 2;
	height: 158px;
	width: 100%;
	background-position-x: -3px;
	background-position-y: -220px;
	background-repeat: no-repeat;
}
#homePageBodyCenter #centerTopRight .twoByCenter .twoByImage img{
	margin-left: 15px;
}
#homePageBodyCenter #centerTop .centerBackground{
	height: auto;
	width: 95%;
	position: absolute;
	float: left;
}
#homePageBodyCenter #centerBottom .centerBackground{
	height: 50%;
	width: 96%;
	position: absolute;
	float: left;
}
#homePageBodyCenter #centerTopRight{
	margin-left: 28px;
}
#homePageBodyCenter{
	margin-bottom: -35px;
}
#homePageBodyCenter .orangeSlip{
	filter: none;
	width: 20px;
	height: 100%;
	margin-left: -19px;
	background: none;
}
#homePageBodyCenter .blueSlip{
	filter: none;
	width: 20px;
	height: 100%;
	background: none;
}
#homePageBodyCenter .greenSlip{
	filter: none;
	width: 20px;
	height: 100%;
	margin-left: -41px;
	background: none;
}
#globalContainer .globalNavArrow{
	right: 10px;
}
.linkType.browseTo.white{
	margin-top: -2px;
	background: url('../../images/spritesheets/common.png')/*tpa=https://www.libertymutual.com/images/spritesheets/common.png*/ -28px -566px no-repeat;
}
