#contentPage #contentWrapper ul.ui-tabs-nav li.tabCenterMod1 {
	border-top: 7px solid #B9CCA8;
	border-right: 9px solid #B9CCA8;
	border-bottom: 0;
	border-left: 6px solid #B9CCA8;
	margin: 0 0 -6px 0;
	width: 199px;
}
		
#contentPage #contentWrapper ul.ui-tabs-nav li.tabCenterMod2 {
	border-top: 7px solid #B9CCA8;
	border-right: 9px solid #B9CCA8;
	border-bottom: 0;
	border-left: 6px solid #B9CCA8;
	margin: 0 0 -6px 12px;
	width: 199px;
}
		
#contentPage #contentWrapper ul.ui-tabs-nav li.tabCenterMod3 {
	border-top: 7px solid #B9CCA8;
	border-right: 9px solid #B9CCA8;
	border-bottom: 0;
	border-left: 6px solid #B9CCA8;
	margin: 0 0 -6px 12px;
	width: 199px;
}

#globalContainer ul li button.ieActiveShift{
	top: -1px;
	left: -1px;
}
#managePolicyContainer #loginbutton {
	width:147px;
}
.socialBarBottom{
	margin: 28px 0 10px 0;
	clear: both;
}
.retrieveSavedQuoteForm .submitLock {
	margin-top: 2px;
}
/* IE9 Accordion fixes
-----------------------------------------------------*/
#modulesAccordion #module_manageYourPolicy,
#modulesAccordion #module_findAnAgent,
#modulesAccordion #module_getYourQuote,
#modulesAccordion #module_advancedSearch,
div.actionLinks,
#modulesAccordion > ul > li#module_manageYourPolicy.selected:hover,
#modulesAccordion > ul > li#module_findAnAgent.selected:hover,
#modulesAccordion > ul > li#module_getYourQuote.selected:hover,
#modulesAccordion > ul > li#module_advancedSearch.selected:hover{
	box-shadow: 0px 0px 4px #999999;
}
#modulesAccordion #module_manageYourPolicy.selected:hover,
#modulesAccordion #module_findAnAgent.selected:hover,
#modulesAccordion #module_getYourQuote.selected:hover{
	filter: none;
	background-color: #FFFFFF;
}
#modulesAccordion #module_manageYourPolicy:hover,
#modulesAccordion #module_findAnAgent:hover,
#modulesAccordion #module_advancedSearch:hover{
	background-color: rgb(123,159,191);
 	filter: none !important;
 	box-shadow: 0px 0px 4px #999999;
}
#modulesAccordion #module_getYourQuote:hover,
#modulesAccordion #module_retrieveSavedQuote:hover {
	background-color: rgb(143, 174, 107);
 	filter: none !important;
 	box-shadow: 0px 0px 4px #999999;
}	
#modulesAccordion #module_getYourQuote li.quoteFindAgent{
	width: 145px;
}
#modulesAccordion #module_getYourQuote ul li.callOption{
	width: 154px;
}
/*Quick Links Fixes*/
.actionLinks ul li a{
	left: -12px;
	position: relative;
}
.actionLinks ul{
	font-size: 18px;
}

.floatingModuleErrors {
	border: 1px solid #c9282d;
}

a.bt:hover div.thebubble:before {
	border-top-color: #666 !important;
	border-width: 11px;
	top: 46px;
	left: 20px;
}

a.bt:hover div.thebubble:after {
	border-top-color: #FFF !important;
	border-width: 11px;
	top: 45px;
	left: 20px;
}