.view-id-blog_moderation .view-content .moderator .unflag-action, .view-id-blog_moderation .view-content .comment_flags .unflag-action {
    background-color: #FFFAAA;
    border: 1px solid #FF0000;
}

.view-id-blog_moderation .view-content .timestamp {
    font-size: 8px;
    font-weight: bold;
    line-height: 0;
    margin-left: 15px;
}

.view-id-blog_moderation .results_count {
    color: #FF0000;
    font-weight: bold;
}

#views-form-blog-moderation-system-2 .views-field.views-field-ops-3 {
    min-width: 115px;
}

