div.tout
{
    min-height: 110px;
}

div.tout_hp4 ul.title
{
    width: 270px;
}
div.tout_hp4 ul.title a
{
    padding: 5px 5px 5px 5px;
    background: rgb(57, 142, 221);
    background: rgba(57, 142, 221, 0.81);
    color: white;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: normal;
}

div.tout_hp4 ul.desc
{
    width: 270px;
    padding-left: 0px !important;
    margin-top:200px !important;
    height:42px;
}

div.tout_hp4 ul.desc a
{
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size:12pt;
    background: rgb(110, 110, 110);
    background: rgba(110, 110, 110, 0.5);
    display: inline-block;
    width: 285px;
    padding: 5px 5px 0px 10px;
    height: 60px;
}

div.tout_hp4 ul.links
{
    width: 270px;
}

div.tout_hp4 ul.links a
{
    color: white;
    text-decoration: none;
    font-size:12pt;
    /*background: rgb(110, 110, 110);
    background: rgba(110, 110, 110, 0.5);*/
    display: inline-block;
    width: 285px;
    margin-left: 0px !important;
    padding: 0px 5px 5px 10px;
}

div.tout_hp4 ul.links_edit a
{
    color: #0065B1;
    text-decoration: none;
}

div.tout_hp4_small ul.title_small 
{
    font-size: 12pt;
    margin-bottom:8px;
}

div.tout_hp4_small ul.title_small a
{
    color:#00aeef;
}

div.tout_hp4_small ul.desc_small a
{
    font-size: 10pt;
    font-weight: normal;
    color:#808285;
}

ul.links_small
{
    height:28px;
}

ul.links_small a
{
    color:#414042;
    font-size:12px;
}

#left-column-above
{
    float: left;
    min-height: 360px;
    width: 780px;
    padding: 0px 10px 0 0px;
    margin-top: 20px;
    margin-left: 20px;
}

#right-column-above
{
    float: left;
    width: 140px;
    min-height: 360px;
    padding: 0px 0px 0 10px;
    margin-top: 20px;
    max-height: 300px;
}

#left-column-home
{
    float: left;
    min-height: 300px;
    width: 300px;
    padding: 0px 0px 0px 0px;
    margin-top: 20px;
    margin-left: 20px;
}

#middle-column-home
{
    float: left;
    min-height: 300px;
    width: 300px;
    padding: 0px 0px 0 0px;
    margin-top: 20px;
    margin-left: 20px;
}

#right-column-home
{
    float: left;
    width: 300px;
    min-height: 300px;
    padding: 0px 0px 0 0px;
    margin-top: 20px;
    margin-left: 20px;
}

#right-column-home div.tout h3
{
    margin-bottom:0px;
    padding-bottom:0px;
}

#right-column-home div.tout h3 a
{
    font-size: 0.8em;
}

#right-column-home div.tout ul.links a
{
    margin-top:5px;
    margin-left:0px !important;
}

#left-column-home div.tout, #middle-column-home div.tout, #right-column-home div.tout
{
    background:none;
    width: 280px;
    padding: 8px 10px 10px 10px;
    margin: 0 0 0 0;
    /*height:70px;*/
}

#left-column-home div.tout_hp4, #middle-column-home div.tout_hp4, #right-column-home div.tout_hp4
{
    min-height: 160px;
    width: 320px;
    padding: 0px 0px 0px 0px;
    margin: 0 0 20px 0;
    /*background: rgb(57, 142, 221);
    background: rgba(57, 142, 221, 0.81);*/
}

#right-column-above div.tout_hp4_small
{
    height: 143px;
}

#left-column-home div.tout ul.links, #middle-column-home div.tout ul.links, #right-column-home div.tout ul.links
{
    margin: 5px 0 0 0 !important;
    padding: 0;
    width:290px;
}

#main-content #left-column-home div.tout div.tout-div ul.links, #main-content #middle-column-home div.tout-div div.tout ul.links, #main-content #right-column-home div.tout-div div.tout ul.links
{
    margin: 0;
    padding: 0;
}

#left-column-home div.tout ul.links li, #middle-column-home div.tout ul.links li, #right-column-home div.tout ul.links li
{
    padding: 0 0 5px 0;
    list-style: none;
    background: none;
}

#left-column-home div.tout.press-release
{
    background: url(../images/gradient-tout-tall.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/gradient-tout-tall.gif*/ repeat-x top left;
}

#middle-column-home div.tout.pmi-world
{
    min-height: 166px;
    background: url(../images/home_map.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/home_map.gif*/ no-repeat top left;
    margin: 0;
}

#middle-column-home div.tout.pmi-world img.print-map
{
    display: inline;
}

* html #middle-column-home div.tout.pmi-world
{
    height: 164px;
}

#middle-column-home div.tout.pmi-world ul.links
{
    padding: 0px 0 0 0;
}

#left-column-home div.tout h3
{
    padding: 0 20px 10px 0;
}

div.tout press-release
{
    padding: 0 20px 10px 0;
    font-size: 18px;
}

#banner-home, #banner-home-affiliate
{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#banner-home-affiliate
{
    float: left;
    height: 192px;
    width: 940px;
    padding: 0 20px 0 20px;
    display: inline;
}

#banner-home h2
{
    top: 20px;
    left: 45px;
    width: 320px;
    position: absolute;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: normal;
    font-family: "Palatino Linotype" , "Book Antiqua" , "Palatino" , "FreeSerif" , "Arial" serif;
    line-height: 28px;
}

#banner-home-affiliate h2
{
    top: 20px;
    left: 45px;
    width: 350px;
    position: absolute;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: normal;
    font-family: "Palatino Linotype" , "Book Antiqua" , "Palatino" , "FreeSerif" , "Arial" serif;
    line-height: 28px;
}

#banner-home h2 a, #banner-home-affiliate h2 a
{
    color: #FFFFFF;
}

#banner-home h2 a:hover, #banner-home-affiliate h2 a:hover
{
    color: #D4D2CE;
}

#banner-home ul, #banner-home-affiliate ul
{
    bottom: 40px;
    left: 45px;
    position: absolute;
}

#banner-home ul li a, #banner-home-affiliate ul li a
{
    font-size: 15px;
    color: #FFFFFF;
    background: url(../images/icon-arrow-grey.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/icon-arrow-grey.gif*/ no-repeat center right;
    padding: 7px 30px 7px 0;
    display: block;
}

#banner-home ul li a:hover, #banner-home-affiliate ul li a:hover
{
    color: #D4D2CE;
    background: url(../images/icon-arrow.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/icon-arrow.gif*/ no-repeat center right;
}

#right-column-above input
{
    width:120px;
}

.mediacontent .mediacenter_slider {
	width:940px;
	float:left;
	margin-left:0px;
	position:relative;
	overflow:hidden;
	
	margin-top:-10px;
}

.mediacontent .mediacenter_slider .previous {
	margin-bottom:-63px;
}
.mediacontent .mediacenter_slider .next {
	margin-bottom:-63px;
}
.mediacontent .mediacenter_slider .slider_nav {
	margin-top:-75px;
}
.mediacontent .mediacenter_slider .mediaSlider_img{
	margin-top:0px;
}

.mediacontent .mediacenter_slider .slidetitle{
	/*width:auto;*/
	font-size:24px;
}

#main-footer-navigation
{
    width: 940px;
    
    position: relative;
    float:left;
    margin-top: 20px;
    margin-left: 20px;
}
.mayorSubSectionFooter
{
    width:108px;
    float:left;
    display:inline;
    border-left: solid #6D6F71;
    border-left-width:1px;
    height:inherit;
    padding-left:5px;
}
.researchDevelopment-footer
{
    width:121px;
    float:left;
    display:inline;
    padding-right:14px; 
    border-left: solid #6D6F71;
    border-left-width:1px;
    height:inherit;
    padding-left:5px;
}
.footerTitles
{
    color:Black;
    font-weight:bold;
    padding-bottom:5px;
    display:block;
    text-decoration:none;
}
.footerNormal
{
    display:block;
    padding-bottom:2px;
    text-decoration:none;
}

#socialIcons-footer
{
    position: absolute !important;
    margin-top:-190px !important;  
    z-index:100 !important;
    width:150px !important;
    margin-left:835px !important;
    margin-bottom:15px !important;
}

.mediacontent .mediacenter_slider .slidetitle 
{
    width:430px !important;
}
#footer p
{
    margin-top:0px !important;
}