/*HEADER fixes fir ie 5.5*/
#header{
	width:980px;
}

    #header-left{
	}

    div#header-right{
	padding:0;
    }

    div#header-top{
		margin:0 0 8px 0;
		float:right;

	}
		
		* html div#advanced-search {
			padding-right:11px;
		}
		
		* html div#advanced-search input.search{
			width:140px;
			height:20px;
		}
		
		div#language-select{
			padding-right:14px;
		}
		
    div#header-bottom{
		width:560px;
		margin:0 10px 5px 0;
		float:right;
		height:38px;
    }
		* html div#country-select {
			height:38px;
			margin:0;
		}
		
			* html div#country-select select{
				width:167px;
			}

	    div#header-bottom div#pmi-world{

			margin:0;
			width:289px;
		}

            * html div#pmi-world ul li a{
				height:15px;
                width:250px;
            }

		* html #threequarter-width-column div.image-gallery{
			float:left;
			border-top:1px solid #DFDFDF;
			width:740px;
			padding: 0 0 0 10px;
		}

		* html #threequarter-width-column div.image-gallery div.image-gallery-row{
			float:left;
			width:750px;
			border-bottom:1px solid #DFDFDF;
			padding:10px 0 30px 0;
		}

      * html #threequarter-width-column div.image-gallery div.image-gallery-row div.image-gallery-row-div.last-gallery-image {
            padding:0 0 0 0;
			width: 172px;
        }
		
		div.image-gallery div.image-gallery-row div.image-gallery-row-div ul.links{
			float:left;
			clear:both;
			width:215px;
			margin:20px 0 0 0;
		}
		
	* html div.video-gallery div.video div.video-description{
		float: left;
		width: 550px;
	}
	
	* html div.video-gallery div.video div.video-description ul.video-type-mov li a{
		width: 140px;
	}
	
	* html div.video-gallery div.video div.video-description ul.video-type-wmv li a{
		width: 140px;
	}
	
	* html #main-content #middle-column div.page-text div.image-gallery div.image-gallery-row div.image-gallery-row-div {
		float:left;
		padding:0 1px 0 0;
	}
	
	* html #main-content #middle-column div.page-text div.image-gallery div.image-gallery-row div.image-gallery-row-div.last-gallery-image{
		float:left;
		padding:0;
	}
	
	* html #management-member ul li {
		padding:0 0 0 5px;
	}
	
* html #main-content #right-column div.tout select {
	width: 165px;
	float: left;
	margin:0 0 20px 0;
}	

* html div.tout ul.brand-list {
	padding:0 0 10px 10px;
	width:200px;
}

* html div.tout ul.brand-list li {
	float: left;
	padding:0 15px 10px 0;
}

* html div.tout ul.brand-list li.right {
	float: left;
	padding:0;
}

/* Header Affiliate Version */

* html #header-right-affiliate{
	float:right;
	height:71px;
	margin:20px 3px 0 0;
	width:560px;
}

* html #header-right-affiliate div#pmi-world{
	float:left;
	margin:0;
	padding:0 0 0 10px;
	height:41px;
	width:200px;
	border-left:none;
	background:url(../images/divider-search-small.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/divider-search-small.gif*/ repeat-y right 0;
}

* html #header-right-affiliate div#pmi-world ul{
	float:left;
	margin:0;
	padding:0;
}

* html #header-right-affiliate div#pmi-world ul li{
	list-style:none;
	float:left;
}

* html #header-right-affiliate div#pmi-world ul li a{
	display:block;
	padding:5px 0 12px 115px;
	background:url(../images/mini-map.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/mini-map.gif*/ no-repeat 0px 0px;
}

* html #header-right-affiliate div#pmi-world ul li a{
	width:180px;
	padding:5px 0 5px 115px;
}

* html #header-right-affiliate div#advanced-search {
	width:160px;
	height:41px;
	padding:0 10px 0 10px;
	margin:0;
	background:none;
	border-right:1px solid #A8A9AD;
}

* html #header-right-affiliate div#advanced-search input.search {
	width:110px;
	margin:10px 5px 0 0;
}

* html #header-right-affiliate div#advanced-search input.button {
	float:left;
	margin:10px 0 0 0;
}

#primary-navigation ul li a{
	color:#FFFFFF;
	text-decoration:none;
	text-align:center;
	display:block;
	font-size:12px;
	padding:10px 19px 11px 19px;
	background:url(../images/spacer-nav.png)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/spacer-nav.png*/ no-repeat right center;
	opacity: 0.99999;
}

#primary-navigation ul li.first a{
	padding:10px 25px 11px 25px;
}

#primary-navigation ul li:hover ul.sub-navigation, 
#primary-navigation li.sfhover ul.sub-navigation{
	float:left;
	z-index:10;
	display:block;
	left:0;
	padding:15px 0 20px 10px;
	margin:0;
	background:url(../images/bg-subnav.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/bg-subnav.gif*/ repeat-y top left;
	min-height:265px;
	width:940px;
}

#primary-navigation.affiliate ul li:hover ul.sub-navigation, 
#primary-navigation.affiliate li.sfhover ul.sub-navigation{
	float:left;
	z-index:10;
	display:block;
	left:auto;
	padding:0;
	margin:0;
	background:url(../images/bg-subnav.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/bg-subnav.gif*/ repeat-y top left;
	min-height:0;	
	height:auto;
	width:230px;
}

#primary-navigation.affiliate li.sfhover ul.sub-navigation li{
	display:inline;
}

#main-content #middle-column{
	width: 550px;
}

#main-content #middle-column div.tout.wide-inline-image {
	width: 470px;
	padding:10px 30px 15px 10px;
}

table{
	font-size:1em;
}

div.tout{
	width:235px;
}

ul.article-select-links li a{
	float:left;
	width:255px;
	min-height:30px;
	margin:0 0 0 0;
	padding:7px 35px 6px 10px;
	background:url(../images/article-select-line.gif)/*tpa=http://www.pmi.com/_layouts/PMI/GCW/images/article-select-line.gif*/ #FFFFFF no-repeat bottom left;
}

div.tout.wide-form {
	width: 500px;
}

#main-content #middle-column div.wide-inline-text {
	float: left;
	width: 235px;
	padding-left:10px;
}

#main-content #middle-column div.wide-inline-image ul.links li{
	display:inline;
}

div.wide-form-right ul.links li{
	display:inline;
}

* html div.tout.email-alert input.button {
	margin:14px 0 0 10px;
}

div.tout.wide-press-release {
	width: 470px;
	height: 10px;
	border-bottom: 1px solid #dfdfdf;
	padding: 10px 10px 10px 0;
	margin-bottom:0;
}

div.tout.wide-press-release ul li{
	width: 430px;
}

div.tout.wide-press-release p{
	width: 430px;
}

div.tout.wide-speeches p{
	width: 430px;
}

div.wide-tout-container {
	float: left;
	width: 470px;
	border-top:none;
}

div.tout.wide {
	width: 490px;
}

#left-column-home div.tout, 
#middle-column-home div.tout, 
#right-column-home div.tout {
	width:300px;
}

* html div.tout.wide input.error{
	padding:2px 2px 0 5px;
	height:21px;
}

* html #main-content #middle-column div.page-text ul.analyst-address{
	display:inline;
}

* html #main-content #middle-column div.page-text ul.analyst-address li {
	display:inline;
	clear:both;
	width:225px;
}

* html #main-content #middle-column div.page-text table.events th{
	text-align:left;
}

* html #main-content #middle-column div.page-text table.dividends th{
	text-align:left;
}

* html #main-content #middle-column div.page-text table.stock-info th{
	text-align:left;
}


* html #main-content #middle-column div.page-text table.investor-presentations th{
	text-align:left;
}

* html #main-content #middle-column table.event-calendar td.left a{
	padding:9px 10px 9px 10px;
}

* html #main-content #middle-column table.event-calendar td.right a{
	padding:9px 10px 9px 10px;
}

* html #main-content #middle-column table.event-calendar td.left a:hover{
	padding:9px 10px 9px 10px;
}

* html #main-content #middle-column table.event-calendar td.right a:hover{
	padding:9px 10px 9px 10px;
}

* html div.tout.wide div.investment-amount input{
	width:200px;
	display:inline;
	padding:0;
	margin:0;
}

* html div.tout.wide div.investment-amount div.middle {
	width:10px;
	display:inline;
	margin:0; 
	padding:0 8px 0 0;
}

* html div.tout.wide div.investment-amount div.right label{
	margin:0 0 0 22px;
}



