ol {
    list-style-type: decimal;
    margin: 0 0 10px 40px;
}
ol li {
    margin-bottom: 5px;
}

#map-canvas h1 {
    font-size: 14px;
    margin-top: 10px;
}

#map-canvas h2 {
    font-size: 13px;
}

#back_link {
    background-color: #fff;
    font-size: 14px;
    padding: 5px;
}

.SplashPage h1 {
    font-size: 1.15em !important;
    line-height: 2.0em !important;
    color: #007aac !important;
    font-family: "Open Sans", sans-serif !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding-bottom: 0px !important;
}

.SplashPage h2 {
    font-size: 1.7em !important;
    line-height: 1.3em !important;
    color: #007aac !important;
    font-family: "Open Sans", sans-serif !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding-bottom: 0px !important;
}

.SplashPage h3 {
    font-size: 1.2em !important;
    color: #007aac !important;
    font-family: "Open Sans", sans-serif !important;
    width: 100% !important;
    margin: 0 auto !important;
    font-weight:bold !important;
}

.SplashPage h3 a {
    color: #333;
}

.SplashPage .ContentWrapper {
    background-color: white;
}
.SplashPage .PaneContent {
    max-width:100%;
    padding:0px;
}
.SplashPage .splashBox {
    margin: 0px 1% 35px 1%;
    width: 27%;
    float: left;
    text-align:center;
}
.SplashPage .splashBox img {
    display:inline-block;
    margin-bottom:15px;
}
.SplashPage .splashBox h1 {
    line-height: 1.2em !important;
    text-align: left;
    margin-bottom: 15px !important;
}
.SplashPage .splashBox p {
    text-align: justify;
    color: #007aac;
}
.SplashPage .splashArrow {
    width: 6.5%;
    float: left;
}
.SplashPage .splashArrow img {
    margin-top: 95px;
}
.SplashPage .splashDescription {
    margin: 0 auto;
    padding:15px;
    background-color: silver;
    width:100%;
    clear: both;
}
.SplashPage .splashDescription h1 {
    color: white !important;
    font-weight: bold;
    width:80% !important;
    margin-bottom: 5px !important;
    font-size: 1.5em !important;
}
.SplashPage .splashDescription p {
    width:80%;
    margin:0 auto;
    color: white;
    line-height:1.6em;
    margin-bottom:25px;
}

.SplashPage .HeaderLinks {
    display: none;
}

.SplashPage .Slider .title {
    font: 36px/1 helvetica;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .4);
}

.SplashPage .Slider .caption {
    padding: 10px 0 0 130px;
}
.SplashPage .splashNavWrap {
    float: right;
    position: relative;
    z-index: 101;
    top: 38px;
    left: -150px;
}
.SplashPage .splashNavWrap a {
    font-weight:bold;
    font-size: 0.8em;
}
.PageSpareTransformerFleet .globalFooter {
    display:none;
}
.PageSpareTransformers .globalFooter {
    display:none;
}
.PageSpareTransformerFleetTransformerFailure .globalFooter {
    display:none;
}
.PageSpareTransformerFleetRecoveryCapabilities .globalFooter {
    display:none;
}
.PageSpareTransformerFleetContactUs .globalFooter {
    display:none;
}
.PageSpareTransformerFleetContactUsContactUsResponse .globalFooter {
    display:none;
}
.PageSpareTransformerFleetTransfomerLease .globalFooter {
    display:none;
}
input.contactTransformerLead {
    display:none;
}
.ModuleDownloadListWithTags.InvestorOverview a[href*="OAR"] {
  background: url("../icons/online-icon.png")/*tpa=http://www.aes.com/files/icons/online-icon.png*/ no-repeat 0 0 transparent;
  padding-left: 30px;
}


/* ------------------------------ ALWAYS ON FOR SAFETY */
.tile {
    background-color: #cdcdcd;
    text-align: center;
    letter-spacing: -5px;
    font-size: 16px;
}
.tile > * {
    letter-spacing: 0;
}
.tile .icon {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 242px;
}
.tile img {
    display: block;
    margin: 0 auto;
}
.tile .info {
    position: relative;
}
.info:after {
    content: '';
    height: 100%;
    width: 1px;
    margin-left: -1px;
    display: inline-block;
    vertical-align: middle;
}
.tile .info:before {
    content: '';
    position: absolute;
}
.tile .info .valign {
    display: inline-block;
    vertical-align: middle;
    width: 72%;
}
.tile .arrow-top:before {
    background: url("../design/tile-top-arrow.png")/*tpa=http://www.aes.com/files/design/tile-top-arrow.png*/ no-repeat center left transparent;
    width: 26px;
    height: 12px;
    top: -12px;
    left: 50%;
    margin-left: -6px;
}
.tile .arrow-right:before {
    background: url("../design/tile-right-arrow.png")/*tpa=http://www.aes.com/files/design/tile-right-arrow.png*/ no-repeat center left transparent;
    width: 12px;
    height: 26px;
    top: 50%;
    right: -12px;
    margin-top: -13px;
}
.tile .arrow-left:before {
    background: url("../design/tile-left-arrow.png")/*tpa=http://www.aes.com/files/design/tile-left-arrow.png*/ no-repeat center left transparent;
    width: 12px;
    height: 26px;
    top: 50%;
    left: -12px;
    margin-top: -13px;
}
.tile .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
}
.tile a {
    color: #333;
}
.tile .view {
    font-size: 15px;
    font-weight: bold;
    background: url("../design/tile-view-icon.png")/*tpa=http://www.aes.com/files/design/tile-view-icon.png*/ no-repeat right 4px transparent;
    display: inline-block;
    padding-right: 15px;
    text-transform: uppercase;
}
.tile1,
.tile3,
.tile7,
.tile9 {
    width: 66.66%;
    float: left;
}
.tile5,
.tile6 {
    width: 66.66%;
    float: right;
}
.tile1 > *,
.tile3 > *,
.tile6 > *,
.tile7 > *,
.tile9 > * {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}
.tile2,
.tile8 {
    width: 33.33%;
    float: right;
}
.tile4 {
    width: 33.33%;
    float: left;
}
.tile2 > *,
.tile8 > * {
    width: 100%;
    display: block;
}
.tile.FF {
    background-color: #f3f4f5;
}
.FF .info {
    background: url("../design/483x242_ChartFinal.jpg")/*tpa=http://www.aes.com/files/design/483x242_ChartFinal.jpg*/ no-repeat center 40% transparent;
    width: 100% !important;
}
.FF .info .hyperlink-wrapper {
    position: absolute;
    width: 100%;
    bottom: 15px;
    color: #fff;
}
.FF .info a {
    color: #fff;
    background: url("../design/tile-view-icon-white.png")/*tpa=http://www.aes.com/files/design/tile-view-icon-white.png*/ no-repeat right 4px transparent;
    margin-top: 2px;
}
.FF span {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 25px;
}
.AlwaysSafetyDetails .photo {
    margin: 25px 0 35px 0;
}
.AlwaysSafetyDetails .photo {
    margin: 25px 0 35px 0;
}
.AlwaysSafetyDetails .quote {
    margin: 40px auto;
    font-size: 20px;
    line-height: 28px;
    font-style: italic;
    text-align: center;
    padding: 15px 0;
    position: relative;
    max-width: 66%;
}
.quote:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 20px;
    height: 15px;
    background: url("../design/startQuote.png")/*tpa=http://www.aes.com/files/design/startQuote.png*/ no-repeat center center transparent;
}
.quote:after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 20px;
    height: 15px;
    background: url("../design/endQuote.png")/*tpa=http://www.aes.com/files/design/endQuote.png*/ no-repeat center center transparent;
}
.AlwaysSafetyDetails .video-wrapper {
    margin: 25px 0 35px 0;
    position: relative;
    height: 440px;
    width: 100%;
}
.AlwaysSafetyDetails .video-wrapper iframe {
    width: 100%;
    height: 100%;
    margin: 0;
}
.AlwaysSafetyDetails .video-wrapper .video {
    height: 100%;
    cursor: pointer;
}
.AlwaysSafetyDetails .video a {
    display: block;
    position:relative;
    z-index:2
}
.AlwaysSafetyDetails .video a img {
    position: relative; 
    z-index: -1;
}
.AlwaysSafetyDetails .video a.fancybox:before,
.AlwaysSafetyDetails .video-wrapper .video:before{
    content: ' ';
    display: block;
    position: absolute;
    zoom:1;
    z-index: 5;
    width: 170px;
    height: 160px;
    top: 50%;
    left: 50%;
    margin-top: -85px;
    margin-left: -80px;
    background:transparent url('../design/button_play.png')/*tpa=http://www.aes.com/files/design/button_play.png*/ scroll center center no-repeat;
}
.fancybox-inner {
    overflow: hidden !important;
}
.AlwaysSafetyDetails .facts {
    margin: 35px 0;
}
.AlwaysSafetyDetails .facts > * {
    width: 32%;
    display: inline-block;
}
.AlwaysSafetyDetails .fact2 {
    margin: 0 1%;
    position: relative;
}
.AlwaysSafetyDetails .video.fact2 a.fancybox:before {
    background: url('../design/AlwaysSafety-video-small.png')/*tpa=http://www.aes.com/files/design/AlwaysSafety-video-small.png*/ no-repeat center center transparent;
}

@media screen and (max-width: 767px) {
    .ClientLogo img {
        height: auto;
    }
}
@media screen and (max-width:740px) {
    .tile {
        width: 100% !important;
        float: none !important;
    }
    .tile > * {
        width: 50% !important;
        display: inline-block !important;
        vertical-align: middle;
    }
    .tile .arrow-top:before {
        background: url("../design/tile-right-arrow.png")/*tpa=http://www.aes.com/files/design/tile-right-arrow.png*/ no-repeat center left transparent;
        width: 12px;
        height: 26px;
        top: 50%;
        right: -12px;
        margin-top: -13px;
    }
    .tile .arrow-right:before,
    .tile.tile8 .arrow-top:before {
        background: url("../design/tile-left-arrow.png")/*tpa=http://www.aes.com/files/design/tile-left-arrow.png*/ no-repeat center left transparent;
        width: 12px;
        height: 26px;
        top: 50%;
        left: -12px;
        right: auto;
        margin-top: -13px;
    }
    .tile.tile8 .arrow-top:before { left: -6px; }
    .tile.tile7 .arrow-left:before,
    .tile.tile9 .arrow-right:before,
    .tile.tile8.b .arrow-top:before {
        background: url("../design/tile-right-arrow.png")/*tpa=http://www.aes.com/files/design/tile-right-arrow.png*/ no-repeat center left transparent;
        left: auto;
        right: -12px;
    }
    .tile.tile9.b .arrow-right:before {
        background: url("../design/tile-left-arrow.png")/*tpa=http://www.aes.com/files/design/tile-left-arrow.png*/ no-repeat center left transparent;        
        left: -12px;
        right: auto;
    }
    .tile.tile7.b .arrow-left:before {
        left: -12px;
        background: url("../design/tile-left-arrow.png")/*tpa=http://www.aes.com/files/design/tile-left-arrow.png*/ no-repeat center left transparent;
    }
    .tile2, .tile3, .tile4, .tile7, .tile8.b, .tile9.b {
        direction: rtl;
    }
    .tile7.b {
        direction: ltr;
    }
    .quote:before {
        left: -20px;
    }
    .quote:after {
        right: -20px;
    }
}
@media screen and (max-width: 640px) {
    .PaneContentInner .AlwaysSafetyDetails .video-wrapper {
        height: 340px;
    }
}
@media screen and (max-width: 480px) {
    .tile .info .valign > * {
        font-size: 14px;
        margin: 0 0 5px 0;
    }
    .FF .info .hyperlink-wrapper {
        bottom: 5px;
    }
    .FF span {
        bottom: 15px !important;
    }
    .PaneContentInner .AlwaysSafetyDetails .quote {
        max-width: 85%;
    }
    .AlwaysSafetyDetails .quote {
        font-size: 18px;
        line-height: 24px;
    }
    .PaneContentInner .AlwaysSafetyDetails .facts > * {
        width: 100%;
        display: block;
        margin: 2% 0;
    }
    .PaneContentInner .AlwaysSafetyDetails .video-wrapper {
        height: 260px;
    }
    .PaneContentInner .tile .icon {
        min-height: 200px;
    }
    .AlwaysSafetyDetails iframe {
        height: 280px;
    }
}