/*

 Some styles used by the "Cascading Popup Menus" script.
 Consult a CSS reference (a good clear one is at www.ncdesign.org) for syntax and tweaking ideas.
 You can delete the ones you're not using in your ItemStyles, or add more if you want.

*/
/*
 Font settings -- change your font, colour, alignment etc.
 Insert 'font-weight: bold;' or 'font-style: italic;' without quotes if you want.
 Note that items contain <A HREF> tags, so if your other stylesheets style anchor tags,
 these may inherit the rules. I've styled all the variations of links here as one.
*/

.lowText, a.lowText:link, a.lowText:visited, a.lowText:active, a.lowText:focus {
 color: #fff;
 font: 12px Arial;
 text-align: left;
 text-decoration: none;
}

.highText, a.highText:link, a.highText:visited, a.highText:active, a.highText:focus {
 color: #fff1b7;
 font: 12px Arial;
 text-align: left;
 text-decoration: none;
}

.roothighText, a.roothighText:link, a.roothighText:visited, a.roothighText:active, a.roothighText:focus {
 color: #fff;
 font: 16px Arial, sans-serif;
 text-align: center;
 text-decoration: none;

}
/* Borders used by some items */

.itemBorder {
 border: 1px solid #483D3A;
}
.itemBorderBlank {
 border: 1px solid #483D3A;
}

/* The "button" demo menu styles, as used by the "File-Reopen" menu. Delete if not using */

.buttonText, a.buttonText:link, a.buttonText:visited, a.buttonText:active, a.buttonText:focus {
 text-decoration: none;
 color: #FFCC99;
 font: Bold 11px Verdana, Helvetica;
}
.buttonHover, a.buttonHover:link, a.buttonHover:visited, a.buttonHover:active, a.buttonHover:focus {
 text-decoration: none;
 color: #fff;
 font: Bold 11px Verdana, Helvetica;
 padding: 1px;
}
.buttonBorder {
 border: 0px outset #339966;
}
.buttonBorderOver {
 border: 0px inset #CC9966;
}

span.design_selectwrapper {
      border:inset 0px;
      visible:false;
}

span.design_selectwrapper select {
      margin:-2px;
      visibility:hidden;
      visible:false;
}