div.tweets-pulled-listing ul {
  list-style: none;
  padding: 0px;
}

div.tweets-pulled-listing div.tweet-authorphoto {
  margin: 0 5px 0 0;
  float: left;
}

div.tweets-pulled-listing div.tweet-authorphoto img {
  max-height: 40px;
  max-width: 40px;
}

div.tweets-pulled-listing .tweet-author a {
  font-weight: bold;
}

div.tweets-pulled-listing  div.tweet-divider {
  clear: left;
  border-bottom: 1px solid #efefef;
  margin: 5px 0 5px 0;
}

.tweets-pulled-listing h2 {
  background: url('../../../themes/cvs/img/twitter-feed.png')/*tpa=http://www.cvshealth.com/sites/all/themes/cvs/img/twitter-feed.png*/ no-repeat left -79px;
  padding-left: 27px;
  width: 197px; /*197+27 = 224*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.tweet-text {
  font-size: 14px;
}

.tweet-text a,
.tweet-text a:hover {
  color:#20a0ca;
}

.tweet-time a,
.tweet-time a:hover {
  color:#999;
  font-size: 12px;
}

@media screen and (min-width: 480px) {
  .tweets-pulled-listing .grid_1 {
    height: 170px; /*prevent float bug*/
    width: 224px;
    margin-right: 6px;
    margin-left: 6px;
  }
}

@media screen and (min-width: 768px) {
  .tweets-pulled-listing .grid_1 {
    margin-right: 12px;
    margin-left: 12px;
  }
  .tweets-pulled-listing h2 {
    font-size: 36px;
    background-position: left 3px;
    padding-left: 40px;
    width: auto;
    margin-right: 12px;
    margin-left: 12px;
  }
}

@media screen and (max-width: 820px) {
  div.tweets-pulled-listing {
    border-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .tweets-pulled-listing .last {
    display: none;
  }
}