/* Set default vertical web part spacing to 0px. */
.ms-PartSpacingVertical
{
  font-size: 1pt;
  margin-top: 0px;
}

/* ====================================== */
/* Ontolica Search Tab Styles             */
/* ====================================== */

.o-srch-tab
{
    background: url("../images/topnavdivider.gif")/*tpa=http://www.owens-minor.com/_layouts/images/topnavdivider.gif*/;
    background-repeat: repeat-y;
    background-position : left; 
    border-top: solid 1px #FFFFFF;
    border-left: solid 1px #FFFFFF;
    border-bottom: solid 1px #97B4E9;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: normal;
    padding-bottom: 2px; padding-top: 2px; padding-left: 10px; padding-right: 11px; color: #7f7f7f; vertical-align: middle;
}

.o-srch-tabhover
{
    background: url("../images/PortalTabHover.gif")/*tpa=http://www.owens-minor.com/_layouts/images/PortalTabHover.gif*/;
    background-repeat: repeat-x;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;  
    font-style: normal; 
    font-weight: normal;
    padding-bottom: 2px; padding-top: 2px; padding-left: 10px; padding-right: 10px; 
    color: #7f7f7f; vertical-align: middle;
    background-color: #fae8d4; 
    border-top: solid 1px #9e8255; 
    border-right: solid 1px #9e8255; 
    border-left: solid 1px #9e8255;
    border-bottom: solid 1px #6593cf;
}

.o-srch-tab A:link, 
.o-srch-tab A:visited, 
.o-srch-tabhover A:link, 
.o-srch-tabhover A:visited
{
    text-decoration: none; color: #7f7f7f; 
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;  
    font-style: normal;
}

.o-srch-tabhover A:hover
{
    text-decoration: underline; 
    font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif; 
    color: #7f7f7f; 
    font-style: normal;
}

.o-srch-tabsel {
    background: url("../images/PortalTabSelected.gif")/*tpa=http://www.owens-minor.com/_layouts/images/PortalTabSelected.gif*/;
    background-color: #CAE6F4;
    border-top: solid 1px #83b0ec;
    border-left: solid 1px #83b0ec;
    border-right: solid 1px #83b0ec;
    border-bottom: solid 1px #83b0ec; 
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
    font-style: normal; 
    font-weight: normal;
    padding-bottom: 2px; padding-top: 2px; padding-left: 10px; padding-right: 10px; color: #000000; vertical-align: middle;
}

.o-srch-tabselhover {
    background: url("../images/PortalTabHover.gif")/*tpa=http://www.owens-minor.com/_layouts/images/PortalTabHover.gif*/;
    background-color: #fae8d4; 
    border-top: solid 1px #9e8255; 
    border-right: solid 1px #9e8255; 
    border-left: solid 1px #9e8255;
    border-bottom: solid 1px #6593cf; 
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
    font-style: normal; 
    font-weight: normal;
    padding-bottom: 2px; padding-top: 2px; padding-left: 10px; padding-right: 10px; color: #000000; vertical-align: middle;
}

.o-srch-tabsel A:link, 
.o-srch-tabsel A:visited,
.o-srch-tabselhover A:link,
.o-srch-tabselhover A:visited 
{
    text-decoration: none; 
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;   
    color: #000000; 
    font-style: normal;
}

.o-srch-tabselhover A:hover
{
    text-decoration: underline; 
    font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif; 
    color: #000000; 
    font-style: normal;
}

.o-srch-tabrx {
	width: 100%; 
	border-color: #97B4E9; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;
	font-family: Verdana, Arial, Helvetica;  
	font-size: 0.7em;  
	font-style: normal; font-weight: normal;
	padding-bottom: 2px; padding-top: 2px; padding-left: 4px; padding-right: 4px; color: #7A7A7A; vertical-align: middle; text-align: left;
}

/* ====================================== */
/* Ontolica Search Dialog Styles          */
/* ====================================== */

.o-srch-button td
{
  color:#11449E
}

td.o-advsrchText
{
}

.o-srch-propname
{
  font-weight:bold;    
}

.o-srch-inputhl
{
  background-color:#FFFFAA;
}

.o-srch-propgrpheader
{
  font-size:120% !important;
  color:gray;
  font-weight:bold;
  border-bottom:1px solid #6F9DD9;
}

.o-srch-propgrpdesc
{
  padding-top:2px;
  font-style:italic;
}

.o-srch-linksep,
.o-srch-link a:link,
.o-srch-link a:visited
{
  color:#777777;
}
.o-srch-link a:hover
{
  color:#332015;
}

/* ====================================== */
/* Ontolica Search Result Styles          */
/* ====================================== */

.o-srch-term
{
  font-weight:bold;		
}

.o-srchhh0,
.o-srchhh1,
.o-srchhh2,
.o-srchhh3,
.o-srchhh4,
.o-srchhh5,
.o-srchhh6,
.o-srchhh7,
.o-srchhh8,
.o-srchhh9
{
  font-weight:bold;
}

.o-srch-resultgroup
{
  font-weight:bold;
  border-bottom:1px solid #97B4E9; 
}
.o-srch-resultactions a:link,
.o-srch-resultactions a:visited
{
	text-decoration: none; color: #7f7f7f; 
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;  
    font-style: normal;
}
.o-srch-resultactions A:hover
{
    text-decoration: underline; 
    font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif; 
    color: #7f7f7f; 
    font-style: normal;
}
/* ====================================== */
/* Ontolica People Result Styles          */
/* ====================================== */

.o-srch-people-col1
{
  border:1px solid #EEE
} 

.o-srch-people-col2
{
  width:70%;
  padding-left:5px;
  border-top:1px solid #EEE;
  border-bottom:1px solid #EEE;
  border-right:1px solid #EEE
} 

.o-srch-people-col3
{
  border-top:1px solid #EEE;
  border-bottom:1px solid #EEE;
  border-right:1px solid #EEE
} 

.o-srch-people-propvalue 
{
  color:green
}

/* ====================================== */
/* Ontolica Search Summary Styles         */
/* ====================================== */

.o-srch-spellingsuggestion
{
  font-size:1.1em !important;
}

.o-srch-spellingsuggestion span
{
  color:red;
}

.o-srch-spellingsuggestion a
{
  font-style:italic;
  font-weight:bold;
}

.o-srch-disabledpaginglink
{
  color:#777
}

.o-srch-summaryheader
{
  border-top:1px solid #6F9DD9;
  background-color:#D6E8FF;
}

/* =============================================== */
/* Ontolica Best Bets Result Styles                */
/* =============================================== */

.o-srch-bbtitle
{
}

.o-srch-bbdescription
{
}

.o-srch-bburl
{
}

.o-srch-bburl a:link,
.o-srch-bburl a:visited,
.o-srch-bburl a:hover
{
  color:green;
}

/* =============================================== */
/* Ontolica Search High Confidence Result Styles   */
/* =============================================== */

.o-srch-hcprop
{
}

.o-srch-hcpropvalue
{
  color:green
}

/* ====================================== */
/* Ontolica ECB Menu Styles               */
/* ====================================== */

.o-menu-selectedtitle
{
  margin:0px;
  padding:0px;
}

.o-menu-selectedtitlealternative
{
  margin:0px;
  padding:0px;
}

.o-menu-unselectedtitle
{
  margin:0px;
  padding:0px;
  border:1px solid white;
}

.o-menu-menuimagecell
{
}
