.ctools-locked{color:red;border:1px solid red;padding:1em;}.ctools-owns-lock{background:#FFFFDD none repeat scroll 0 0;border:1px solid #F0C020;padding:1em;}a.ctools-ajaxing,input.ctools-ajaxing,button.ctools-ajaxing,select.ctools-ajaxing{padding-right:18px !important;background:url(../../../all/modules/ctools/images/status-active.gif)/*tpa=http://www.sealedair.com/sites/all/modules/ctools/images/status-active.gif*/ right center no-repeat;}div.ctools-ajaxing{float:left;width:18px;background:url(../../../all/modules/ctools/images/status-active.gif)/*tpa=http://www.sealedair.com/sites/all/modules/ctools/images/status-active.gif*/ center center no-repeat;}
.BCLcontainingBlock{width:100%;}.BCLvideoWrapper{position:relative;padding-bottom:56.25%;}.BrightcoveExperience{position:absolute;top:0;left:0;width:100%;height:100%;}
