.navbar-nav
{
    position: relative;
    float: right;
    clear: right;
    display: block;
    right: -40px;
} 

.navbar-nav > li > a{
	color:#000000;
}
.navbar-nav > li > a:hover{
	color:#eb7821;
}
.carouselText{
	background-color: rgb(0, 120, 174);
}
.highlightFeature-slides{
	height: 212px;
}
.highlightFeature-slide{
	width: 140px;	
	height: 212px;
}
.highlightFeature-slider .caroufredsel_wrapper{
	overflow: hidden;
	width: 450px !important;
}