/* 
=================================================================================================================

	Altria.com Master Stylesheet
    Created: April, 2013
    Author: Brendon Cornwell

    Stylesheet Guide:

    -Global Document Styles
    -V5 Layout
    -Header
    -Search Box
    -Navigation (Primary)
    -Left Navigation
    -Page Layouts
    -Footer
    -Web Parts
    -Table Styles
    -FDA Filings WebPart
    -Sharepoint General Overrides
    -Search Best Bets Webpart

    The majority of the responsive styles are in altriaReponsive.css
 
=================================================================================================================
*/

/* html5 backwards-compatibility */

section,
article,
header,
footer,
nav,
aside,
hgroup {
    display: block;
}

/* 
=================================================================================================================

	Global Document Styles
 
=================================================================================================================
*/

/*
Debug

* {
    border:1px solid #000;
}
*/

#s4-statusbarcontainer {
    float: left;
    width: 100%;
    display: none;
}

#pageStatusBar {
    min-width: 1200px;
    display: none;
}

body {
    color: #555555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    -webkit-text-size-adjust: none !important;
}

a,
a:link,
a:visited,
a:active {
    color: #2f7799;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.3em 0;
    line-height: 1.1em;
}

h1 {
    font-size: 35px;
    letter-spacing: .5px;
    margin-bottom: 20px;
    color: #033788;
    font-weight: normal;
    font-family: 'Stag Med', Arial;
}

h2 {
    font-size: 18px;
    letter-spacing: .5px;
    margin-bottom: 12px;
    line-height: 22px;
    color: #033788;
    font-weight: normal;
    font-family: 'Stag Med', Arial;
}

h3 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #033788;
    font-weight: normal;
    font-family: 'Stag Book', Arial;
}

h4 {
    font-size: 1.25em;
    font-weight: bold;
    color: #b63812;
}

h5 {
    font-size: 1.25em;
    font-weight: bold;
    color: #333;
}

h6 {
    font-size: 1.1em;
    color: #333;
    font-weight: bold;
}

p {
}

strong {
    color: #333;
}

img {
    border: 0;
}

.clearFix {
    clear: both;
}

/* 
=================================================================================================================

	V5 Layout
 
=================================================================================================================
*/

#v5-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    width: 100%; /*max-width: 1240px;*/
    overflow: hidden;
}

#v5-page {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto; /*padding-left: 20px;; padding-right: 20px; */
    max-width: 1240px;
    clear: both;
}

.v5-wrapper-section {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    overflow: hidden;
    clear: both;
}

#v5-page-column-sidebar {
    float: left; /*margin-left: 20px;*/ /*margin-right: 4%;*/ /*min-width: 280px;*/
    min-width: 205px;
    width: 24.2%;
}

.v5-page-column-sidebar-wrapper, .altriaTeaserLeft {
    margin-left: 20px;
}

#v5-page-column-main {
    float: right; /*margin: 0 20px 0 0;*/ /*min-width: 483px;*/
    width: 75.8%; /*margin-right: 20px;*/
}

.v5-page-column-main-wrapper {
    margin-right: 20px;
    margin-left: 50px;
}

.sideContent {
    display: none !important;
}

/* 
=================================================================================================================

	Header
 
=================================================================================================================
*/

#altriaHeaderContainer {
    background: url("../images/bkg_nav_full.png")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/bkg_nav_full.png*/ no-repeat scroll 0 0 #333333;
    position: relative;
    height: 36px;
    width: 100%;
}

#altriaHeader {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    height: 36px;
}

#altriaHeaderCenter {
    background: url("../images/top-nav-bar-bg.jpg")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/top-nav-bar-bg.jpg*/ repeat-x scroll 0 0 #333333;
    float: left;
    height: 36px;
    overflow: hidden;
    max-width: 1240px;
    width: 100%;
}

#altriaNavBarTop {
    display: block;
    font-size: 11px;
    margin: 0 auto;
    max-width: 1240px;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

#altriaDate {
    color: #FFFFFF;
    float: left;
    padding: 2px 10px 0 40px;
}

#altriaSpacer {
    color: #FFFFFF;
    float: left;
    padding-top: 1px;
}

#altriaWelcome {
    color: #FFFFFF;
    float: left;
    padding-left: 10px;
    padding-top: 2px;
}

#altriaUser {
    color: #FFFFFF;
    float: left;
    padding-left: 2px;
    padding-top: 2px;
}

#altriaSocial {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

    #altriaSocial,
    #altriaSocial span,
    #altriaSocial img {
        float: left;
    }

nav.altriaMenu ul.altriaMenuButton {
    float: left;
}

nav.altriaMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.altriaMenuButton > li > a {
    display: none;
}

.altriaHideMenu {
    display: inline;
}

#altriaCompanySubMenu li {
    background: url("../images/arrow_small.png")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/arrow_small.png*/ no-repeat scroll left center transparent;
    float: left;
    margin-right: 10px;
    padding-left: 7px;
}

    #altriaCompanySubMenu li a {
        color: #ffffff;
    }

        #altriaCompanySubMenu li a:hover {
            text-decoration: underline;
        }

nav.altriaMenu {
    padding-top: 14px;
}

#altriaSocial nav.altriaMenu {
    padding-top: 0;
}

#altriaSocialSubMenu li {
    float: left;
    margin-right: 3px;
}

    #altriaSocialSubMenu li a {
        color: #ffffff;
    }

    #altriaSocialSubMenu li span {
        display: none;
    }

#altriaSocial span {
    font-size: 11px;
    line-height: 2em;
    padding-right: 10px;
    color: #ffffff;
}

#altriaSocial img {
    padding: 2px 2px 0;
}

#altriaStockTickerWrapper {
    float: right;
}

#altriaScroller { /*width: 130px;*/
    float: left;
    overflow: hidden;
    margin-left: -10px;
}

    #altriaScroller ul {
        list-style-type: none;
        height: 17px;
        margin: 6px 0 0 0;
        padding: 0px;
        overflow: hidden;
    }

#altriaStockTickers li {
    width: 100%;
    clear: both;
}

#altriaStockTickerKey {
    float: left;
    margin: 0 10px;
}

#stockTickerKey {
    color: #fff;
    font-weight: bold;
}

#altriaStockTickerTrade {
    float: left;
    margin: 0 10px 0 0;
}

#stockTickerTrade {
    color: #fff;
    font-weight: bold;
}

#altriaStockTickerChange {
    float: left;
}

#stockTickerChangeIndicator {
    float: left;
    padding-right: 5px; /*padding-top: 5px;*/
}

.stockTickerChangeUp {
    color: #7bff83;
    font-weight: bold;
    float: left;
    line-height: 1.4em;
}

.stockTickerChangeDown {
    color: #FFFFFF;
    font-weight: bold;
    float: left;
    line-height: 1.4em;
}

.stockTickerChangeEven {
    color: #FFF;
    font-weight: bold;
    float: left;
    line-height: 1.4em;
}

#altriaStockTickerDelay {
    float: left;
    line-height: 1.1em;
    padding-left: 11px;
    width: 40px;
}

#stockTickerDelay {
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
}

.stockTickerChangeIndicator {
    float: left;
}

#altriaStockTickerDelay > span {
    float: left;
    color: #CCC;
    font-weight: bold;
}

nav.altriaMenu {
    float: left;
    margin-left: 20px;
    list-style-type: none; /*max-width: 670px;*/
}

#altriaSocial nav.altriaMenu {
    margin-left: 0;
}

#altriaTools {
    float: left;
    margin-top: -2px;
    width: 100%;
}

#altriaContainerRight {
    float: right;
    max-width: 480px; /*width: 455px;*/
}

#altriaToolsRight {
    background: url("../images/bkg_nav_right.png")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/bkg_nav_right.png*/ repeat-x scroll 1px 3px #666666;
    float: right;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 10px;
    max-width: 320px;
}

    #altriaToolsRight a {
        color: #ffffff;
        font-weight: bold;
    }

        #altriaToolsRight a:hover {
            text-decoration: underline;
        }

    #altriaToolsRight span {
        display: block;
        float: left;
    }

.altriaToolsSeparator {
    color: #fff;
    float: left;
    padding-left: 12px;
    padding-right: 12px;
}

.altriaNavLinks {
    float: left;
    padding-left: 10px;
    padding-top: 5px;
}

#v5-site-title {
    margin: 0;
    line-height: 1em;
}

#v5-site-description {
    color: #999;
}

#v5-site-title a {
    color: #333;
}

#v5-tools {
    position: absolute;
    top: 20px;
    right: 20px;
}

#searchContainer {
    background: url("../images/nav-bar-bg-1.gif")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/nav-bar-bg.gif*/ repeat-x scroll 0 0 transparent;
    border-right: 1px solid #CCCCCC !important;
    float: right;
    height: 30px;
    padding: 5px 15px 5px 15px;
    overflow: hidden;
    max-width: 260px;
}

#v5-search {
    float: right;
    height: 30px;
    width: 270px;
    margin-top: 5px;
}

#searchSmall {
    display: none;
}

#v5-social {
    float: left;
    margin: 10px 20px 0 0;
}

/* 
=================================================================================================================

	Search
 
=================================================================================================================
*/

#v5-search .s4-wpTopTable {
    width: auto !important;
}

.s4-search input.ms-sbplain {
    background: none repeat scroll 0 0 #FFFFFF;
    border-style: solid none solid solid !important;
    border-width: 1px medium 1px 1px !important;
    color: #666666 !important;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    height: 21px;
    margin-top: 1px;
    padding: 4px 5px 2px 13px;
    width: 216px !important;
}

.altriaSmallVerticalColumn .s4-wpTopTable {
    padding-bottom: 20px;
}

.s4-search input.s4-searchbox-QueryPrompt {
    color: #999;
}

.ms-sbgo .srch-gosearchimg {
    display: none;
}

.ms-sbgo a {
    background: url("../images/search.png")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/search.png*/ no-repeat scroll 0 0 transparent;
    display: block;
    height: 28px;
    margin: 0;
    width: 32px;
}

    .ms-sbgo a:hover {
    }

.ms-wawpList:before {
    color: #033788;
    content: "Top Search Terms";
    display: block;
    font-family: Georgia;
    font-size: 18px;
    font-weight: bold;
}

ul.ms-wawpList {
    margin: 0;
    padding: 10px 20px !important;
}

.ms-wawpList {
    display: block !important;
}

.ms-wawpList {
    background-color: #F0F0F0 !important;
    list-style-type: decimal !important;
    margin-bottom: 20px !important;
}


.srch-Page a[id*="SRP_P"] {
    font-size: 12px !important;
}

.srch-Metadata1 {
    width: inherit;
}
/* 
=================================================================================================================

	Navigation
 
=================================================================================================================
*/

#v5-global-nav { /*clear: both;_NO__DOTCOMMA__AFTER__*/
}

#headerContainer {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    clear: both;
}

#v5-header {
    margin-left: 20px;
    margin-right: 20px;
}

#v5-site-logo {
    float: left;
    min-height: 40px;
    background-color: #fff;
}

    #v5-site-logo img {
        margin-right: 60px;
    }

#primaryNavContainer {
    width: 100%;
    overflow: hidden;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#primaryNavWrapper {
    background: url("../images/nav-bar-bg-1.gif")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/nav-bar-bg.gif*/ repeat-x scroll 0 0 transparent;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

#v5-global-nav {
    font-size: 14px;
    height: 40px;
    line-height: 1.1em;
    border-left: 1px solid #E1E1E1;
    float: left;
    max-width: 680px;
}

    #v5-global-nav .menu-horizontal {
        display: block;
    }

    #v5-global-nav .menu li {
        background: url("../images/bkg_nav_border.png")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/bkg_nav_border.png*/ no-repeat top right;
        height: 60px; /*max-width: 173px;*/
    }

.s4-tn li.static > .menu-item {
    border: 0 none;
    color: #666666;
    font-family: 'Stag Med', Arial;
    padding: 12px 16px;
    letter-spacing: .1em;
    font-size: 15px;
    outline: 0;
}

    .s4-tn li.static > .menu-item:hover {
        background: url(../images/megamenu-state-1.gif)/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/megamenu-state.gif*/ repeat-x scroll 0 0 #0066CC; /*border-right: 1px solid #216CB6;; border-left: 1px solid #216CB6; padding: 12px 15px; */
        color: #fff;
        text-decoration: none;
    }

.s4-tn li.static > .deviceMenuButton:active {
    color: #ffffff;
}

.s4-tn li.static .menu-item-active {
    background: url(../images/megamenu-state-1.gif)/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/megamenu-state.gif*/ repeat-x scroll 0 0 #0066CC;
    border-right: 1px solid #216CB6;
    border-left: 1px solid #216CB6;
    color: #fff;
    padding: 12px 15px;
}

/*.s4-tn li.static.selected > .menu-item { background: url(../images/megamenu-state.gif) repeat-x scroll 0 0 #0066CC; border-right: 1px solid #216CB6; border-left: 1px solid #216CB6; color: #fff; padding: 12px 15px; }
*/
.menu-horizontal a.dynamic-children span.additional-background,
.menu-horizontal span.dynamic-children span.additional-background {
    background-image: none;
    padding-right: 0;
}

.s4-tn ul.dynamic {
    background: #222;
    border: 0;
    padding: 20px 10px;
    font-size: 12px;
}

.s4-tn li.dynamic > a.menu-item {
    color: #bbb;
    padding: 5px 10px;
}

#v5-global-nav .menu-item-text:hover {
    text-decoration: none;
}

.s4-tn li.dynamic > a.menu-item:hover {
    background: #2a2a2a;
}

.s4-ql,
.s4-specialNavLinkList {
    margin: 0;
}

    .s4-ql ul.root ul.static {
        margin: 0 0 10px 0;
        width: auto !important;
    }

    .s4-ql li,
    .s4-specialNavLinkList li {
        min-height: 0;
    }

    .s4-ql ul.root > li > .menu-item,
    .s4-qlheader,
    .s4-qlheader:visited {
        padding: 0;
        font-weight: bold;
        border: 0;
        margin: 0 0 3px 0;
        color: #333;
    }

    .s4-ql a.selected,
    .ms-viewlsts .ms-vb2 > a,
    .ms-addnew a,
    .ms-selectorlink a,
    .ms-selectorlink a:visited,
    .ms-navitem a:link {
        color: #a71228 !important;
    }

        .s4-ql a.selected span {
            color: #a71228 !important;
        }

    .s4-ql a.selected {
        border: 0 !important;
        background: none transparent;
        font-weight: bold;
    }

    .s4-ql ul.root > li > a.selected {
        padding: 0 !important;
    }

    .s4-ql ul.root ul > li > a {
        font-size: 12px;
        padding: 0 0 0 10px;
        border: 0;
        margin: 0 0 4px 0;
        color: #888;
    }

.s4-specialNavLinkList {
    display: none;
}

.ms-blog-addnew {
    font-size: 12px !important;
    padding: 0 0 0 10px;
    margin: 0;
}

/* page controls */

#v5-page-controls {
    float: left;
    margin-left: 20px;
    max-width: 1240px;
    width: 100%;
}

#v5-breadcrumb {
    font-family: Arial;
    font-size: 11px;
    color: #666666;
    margin-bottom: 15px;
    float: left;
    width: 45%;
    -webkit-text-size-adjust: none;
}

    #v5-breadcrumb a {
        font-family: Arial;
        font-size: 11px;
        color: #666666;
        text-decoration: underline;
        -webkit-text-size-adjust: none;
    }
/* New Styles for social media icons under mega menu section begins */
#Addthis {
    float: right;
    margin-right: 45px;
    width: 45%;
}

    #Addthis a img {
        box-shadow: 2px 1px 1px 1px #e1e1e1;
        height: 24px;
        width: 27px;
    }

    #Addthis .margin_social {
        margin-right: 5px;
    }

.social-sprite {
    background-image: url("../images/social_sprite.png")/*tpa=http://www.altria.com/Style Library/en-us/Altria/images/social_sprite.png*/;
    background-repeat: no-repeat;
    overflow: hidden;
}

.facebook-sprite {
    background-position: -2px -54px;
}

.twitter-sprite {
    background-position: -2px -2px;
}

.google-sprite {
    background-position: -31px -28px;
}

.linkedin-sprite {
    background-position: -3px -78px;
}

.email-sprite {
    background-position: -31px -54px;
}

.print-sprite {
    background-position: -2px -28px;
}
/* New Styles for social media icons under mega menu section ends */

/* social media icons under Footer section desktop styles begins */
.footerLinks {

    margin-top: 10px;
    text-align: center;
}

#Addthis_footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-height: 60px;
    width: 100%;
    text-align: center;
}

.socialIconsFooter {
    background-color: #ccc;
    bottom: 0;
    min-height: 60px;
    width: auto;

    margin-left: 0px !important;
    margin-right: 20px;
}

#Addthis .addthis_toolbox {
   float: right; 
    display: table;
}

#Addthis_footer .addthis_toolbox {
    display: inline-block;

    margin-left: 0px !important;
    min-height: 60px;
}

.footer_text {
    color: #fff;
    font-family: 'Stag Med';
    font-size: 20px;
    margin-top: 19px;
    float: left;
    letter-spacing: 0.06em;
}

#Addthis_footer .addthis_button_facebook, #Addthis_footer .addthis_button_twitter, #Addthis_footer .addthis_button_google_plusone_share, #Addthis_footer .addthis_button_email,
#Addthis_footer .addthis_button_linkedin {
    float: left;
}

    #Addthis_footer .addthis_button_facebook img {
        margin-top: 14px;
        width: 36px;
        height: 36px;
    }

    #Addthis_footer .addthis_button_twitter img {
        margin-top: 17px;
        width: 30px;
        height: 30px;
    }

    #Addthis_footer .addthis_button_google_plusone_share img {
        margin-top: 14px;
        width: 36px;
        height: 36px;
    }

    #Addthis_footer .addthis_button_linkedin img {
        margin-top: 16px;
        width: 30px;
        height: 30px;
    }

    #Addthis_footer .addthis_button_email img {
        margin-top: 23px;
        margin-left: 5px;
    }

.margin_social {
    margin-right: 11px;
}
/* social media icons under Footer section desktop ends */

#megaMenuAccordionWrapper .ui-accordion-header a {
    color: #046ec7;
}

.megamenu .megamenu-column ul li a {
    font-family: 'Stag Med';
    font-style: normal;
    letter-spacing: .1em;
}

/* 
=================================================================================================================

	Left Navigation
 
=================================================================================================================
*/


.altriaQuickLaunch .menu-item-header {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 21%, #d6d6d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(21%,#ffffff), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 21%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#ffffff 21%,#d6d6d6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 21%,#d6d6d6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 21%,#d6d6d6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
    border: 1px solid #E1E1E1;
    color: #656565;
    font-family: 'Stag Med', Georgia;
    letter-spacing: .1em;
    font-size: 13px; /*font-weight: bold;*/
    height: auto;
    letter-spacing: 0.1em;
    line-height: 2.5em;
    padding-left: 23px;
    padding-right: 23px;
}

.altriaQuickLaunchMenu {
    background-color: #F0F0F0;
    border-right: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
    border-left: 2px solid #e1e1e1;
    margin-bottom: 20px;
}

    .altriaQuickLaunchMenu a:hover {
        text-decoration: underline;
    }

.altriaQuickLaunch .menu-vertical ul li a:link,
.altriaQuickLaunch .menu-vertical ul li a:visited {
    font-family: 'Stag Med',Georgia;
    letter-spacing: .1em;
    font-size: 13px;
    font-weight: normal;
    color: #046ec7;
}

.altriaQuickLaunch .menu-item-text {
    padding: 10px 10px 10px 24px;
}

.altriaQuickLaunch .menu-vertical ul li li .menu-item-text {
    padding: 7px 0 7px 30px;
}

.altriaQuickLaunch .menu-vertical ul li li a:link,
.altriaQuickLaunch .menu-vertical ul li li a:visited {
    color: #666666;
}

.altriaQuickLaunch .menu-vertical ul li li li .menu-item-text {
    padding: 7px 0 7px 42px;
}

.altriaQuickLaunch .menu-vertical ul li li li a:link,
.altriaQuickLaunch .menu-vertical ul li li li a:visited {
    color: #666666;
}

.altriaQuickLaunch .menu-vertical ul li li li li .menu-item-text {
    padding: 7px 0 7px 54px;
}

.altriaQuickLaunch .menu-vertical ul li li li li a:link,
.altriaQuickLaunch .menu-vertical ul li li li li a:visited {
    color: #666666;
}

.altriaQuickLaunch .menu-vertical ul li li li li li .menu-item-text {
    padding: 7px 0 7px 66px;
}

.altriaQuickLaunch .menu-vertical ul li li li li li a:link,
.altriaQuickLaunch .menu-vertical ul li li li li li a:visited {
    color: #666666;
}

.altriaQuickLaunch .menu-vertical ul li li li li li li .menu-item-text {
    padding: 7px 0 7px 78px;
}

.altriaQuickLaunch .menu-vertical ul li li li li li li a:link,
.altriaQuickLaunch .menu-vertical ul li li li li li li a:visited {
    color: #666666;
}

.altriaQuickLaunch .menu-vertical ul li a.selected .additional-background {
    background: transparent url(../images/arrow.gif)/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/arrow.gif*/ no-repeat scroll 10px center;
}

.altriaQuickLaunch .menu-vertical ul li a.selected,
.altriaQuickLaunch .menu-vertical ul li li a.selected,
.altriaQuickLaunch .menu-vertical ul li li li a.selected,
.altriaQuickLaunch .menu-vertical ul li li li li a.selected,
.altriaQuickLaunch .menu-vertical ul li li li li li a.selected,
.altriaQuickLaunch .menu-vertical ul li li li li li li a.selected {
    color: #FFFFFF;
    background: #046ec7 url(../images/quicklaunch-bg.gif)/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/quicklaunch-bg.gif*/ repeat-x scroll 0 0;
    border: 1px solid #033788;
}

/*Gets added in altria-actions to the menu on hover*/

.quicklaunchHover {
}

#altriaDropMenu {
    display: block;
    visibility: hidden;
    height: 0 !important;
    width: 0 !important;
    margin-bottom: 10px;
}

.tinynav {
    display: block;
}

/* 
=================================================================================================================

	Page Layouts
 
=================================================================================================================
*/

#v5-sidebar-content {
    margin-bottom: 15px;
}

#v5-page-content .ms-rtestate-field img {
    max-width: 100%;
}

.altriaInternalPageWrapper {
}

#altiraHomepageSlideshow, #altriaStoryBoardFullWidthHeader {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

#altiaHomepageTeasers {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/*altriaLargeVerticalColumn {
	float: left;
    max-width: 834px;
    padding: 20px 10px 10px;
    width: 65%;
}
*/

.altriaLargeVerticalColumn {
    padding: 0;
    width: 100%;
}

.altriaSmallVerticalColumn {
    max-width: 416px;
    width: 48.6%;
}

.altriaLargeHorizontalRow { /*padding-bottom: 20px;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.altriaOneThirdColumnRow {
    width: 33%;
    float: left;
}

.altriaTwoThirdColumnRow {
    width: 66%;
    float: left;
}

.altriaTwoColumnRow, .altriaTwoColumnInteriorRow {
    width: 50%;
    float: left;
}

#landingContainerTop {
    position: relative;
    margin-left: -20px;
}

#landingSectionTop {
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 20px;
}

    #landingSectionTop h1 {
        font-size: 40px;
    }

    #landingSectionTop h2 {
        font-family: "Stag Book", Arial;
        font-size: 30px;
        font-style: italic;
        color: #666666;
        margin-bottom: 15px;
    }

.TeaserWhiteBackground {
    background-color: transparent;
}

.landingPageImage {
    float: right;
    margin-bottom: 20px;
}

    .landingPageImage img {
        max-width: 100%;
        min-height: 190px;
    }

.altriaLandingTeaser {
    width: 65%;
    float: left;
}

.altriaThreeColumnRow {
    width: 30.3%;
    margin-right: 10px;
    float: left;
}

.altriaBodyWithRail {
    float: left; /*min-width: 460px;*/
    padding-right: 10px;
    width: 62%;
}

.altriaLeftRail {
    float: left;
    min-width: 205px;
    width: 23.3%;
}

.altriaRightOfLeftRail {
    float: right;
    width: 72.5%;
}

.altriaRightRail {
    float: right;
    width: 32%; /*width: 252px;*/
}

.altriaFloatLeft {
    float: left;
    padding-right: 20px;
}

.altriaFloatRight {
    float: right;
}

.altriaTeaserLeft {
    display: block;
}

.altriaTeaserCenter {
    display: none;
}

.altriaLargeContainer, .altriaSlideshowContainer, .altriaDOJContainer {
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.responsiveTeaser {
    max-width: 280px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.altriaDOJStatementColumn {
    width: 300px;
    float: left;
}

.altriaTwoColumnTeasersColumn {
    margin-left: 320px;
}

.altriaSlideshowContainer {
    display: table;
    border-collapse: separate;
    table-layout: fixed;
    margin-bottom: 20px;
}

.altriaHPSlideshowColumn, .altriaPressReleaseColumn {
    display: table-cell;
}

.altriaHPSlideshowColumn {
    width: 75.02%;
}

    .altriaHPSlideshowColumn .ms-WPBody {
        margin-right: 16px;
    }

.altriaPressReleaseColumn {
    vertical-align: top;
    background: url("../images/newsBG.png")/*tpa=http://www.altria.com/Style Library/en-us/Altria/images/newsBG.png*/ repeat-x scroll left top #eaeaea;
    border: 1px solid #e1e1e1;
}

    .altriaHPSlideshowColumn .ms-WPBody, .altriaPressReleaseColumn .ms-WPBody {
        margin-bottom: 0px !important;
    }

.altriaDOJContainer {
    padding-top: 20px;
}

.altriaFourColumnRow {
    width: 23.5%;
    float: left;
}

.margin-left-2percent {
    margin-left: 2%;
}

.altriaHPThreeColumnRow {
    width: 32%;
    float: left;
}

/*Search Page Layout*/
.altriaSearchContainer .altriaRight, .altriaSearchContainer .altriaRight .ms-WPBody {
    float: right;
}

.altriaSearchLeftColumn {
    float: left;
    width: 23.35%;
}

.altriaSearchRightColumn {
    float: right;
    width: 72.4%;
}

.searchSeperator {
    border-top: 2px solid #e1e1e1;
    margin-top: 20px;
}

.altriaSearchContainer .ms-WPBody h1 {
    font-size: 35px;
    font-weight: normal;
}

.altriaSearchContainer .SearchStatisticsTop {
    padding-top: 34px;
}

.SearchTitle .s4-search {
    margin-bottom: 20px;
}

.SearchTitle .ms-sbgo a {
    height: 30px;
    width: 30px;
}

.SearchTitle .s4-search input.ms-sbplain {
    margin-top: 0px;
    padding-top: 5px;
}
/* 
=================================================================================================================

	Generic Interior Page Layout
 
=================================================================================================================
*/

.altriaFirstOneThirdColumnRow {
    width: 33%;
    float: left;
}

.altriaFirstTwoThirdColumnRow {
    width: 63%;
    margin-left: 4%;
    float: left;
}

.altriaSecondOneThirdColumnRow {
    width: 33%;
    margin-left: 4%;
    float: left;
}

.altriaSecondTwoThirdColumnRow {
    width: 63%;
    float: left;
}

.altriaOneThirdColumnRowFirst {
    width: 31%;
    float: left;
}

.altriaOneThirdColumnRowSecond {
    width: 31%;
    margin-left: 3.5%;
    float: left;
}

.altriaFourColumnRowFirst {
    width: 22%;
    float: left;
}

.altriaFourColumnRowSecond, .altriaFourColumnRowThird, .altriaFourColumnRowFourth {
    width: 22%;
    margin-left: 4%;
    float: left;
}

.altriaTwoColumnInteriorRowLeft {
    width: 48%;
    float: left;
}

.altriaTwoColumnInteriorRowRight {
    width: 48%;
    margin-left: 4%;
    float: left;
}

/* 
=================================================================================================================

	Footer
 
=================================================================================================================
*/

#altriaFooterWrapper {
    background: none repeat scroll 0 0 #ccc;
    clear: both;
    color: #666666;
    display: block;
    min-height: 118px;
    width: 100%;
    margin-top: 40px;
}

.altriaFooterText {
}

    .altriaFooterText a {
        color: #666666;
    }

        .altriaFooterText a:hover {
            text-decoration: underline;
        }

.altriaSeparator {
    color: #666666;
}

.altriaCopyright {
    color: #666666;
    margin-left: 20px;
}

#v5-footer {
    font-family: Arial, sans-serif;
    clear: both;
    font-size: 11px;
    text-align: left;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /*padding-top: 5px; 29px;*/
}

   /* #v5-footer div {
        margin-left: 20px;
    }*/

    #v5-footer p {
        margin: 0;
    }

.altriaFooterCopy {
    float: left;
}

#v5-footer span {
}

.altriaSeparator {
    padding-left: 10px;
    padding-right: 10px;
}

/* 
=================================================================================================================

	Web Parts
 
=================================================================================================================
*/

.s4-wpTopTable { /*margin: 0 0 15px 0;_NO__DOTCOMMA__AFTER__*/
}

.altriaLargeHorizontalRow table:first-child { /*margin-bottom: 20px;_NO__DOTCOMMA__AFTER__*/
}

.ms-PartSpacingVertical {
    margin-bottom: 0;
    margin-top: 0;
}

.ms-wpTdSpace { /*display: none;_NO__DOTCOMMA__AFTER__*/
}

.ms-WPHeader td,
.ms-fakewptitle {
    border-color: #2f7799;
    background: #2f7799;
}

h3.ms-WPTitle {
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    text-align: left !important;
}

    h3.ms-WPTitle a,
    .s4-wpActive .ms-WPTitle,
    .s4-wpActive .ms-WPTitle a {
        color: #fff;
    }

    h3.ms-WPTitle nobr {
        white-space: normal;
    }

.ms-WPBorder,
.ms-WPBorderBorderOnly {
    border: 1px solid #ddd;
}

.ms-WPBorder {
    border-top: 0;
}

.ms-WPBorderBorderOnly {
    background: #f5f5f5;
}

.ms-WPBody {
    margin-bottom: 20px;
    font-family: Arial;
    font-size: 1em;
    font-weight: normal;
}

.ms-WPBorder .ms-WPBody,
.ms-WPBorderBorderOnly .ms-WPBody { /*padding: 15px;_NO__DOTCOMMA__AFTER__*/
}

.ms-wpContentDivSpace { /*margin-bottom: 20px;_NO__DOTCOMMA__AFTER__*/
}

/* 
=================================================================================================================

	Table Styles
 
=================================================================================================================
*/

.altriaTable {
    border: 0px;
    width: 100%;
}

    .altriaTable tr {
        border: 0px;
    }

        .altriaTable tr td.even {
            background-color: #eeeeee;
        }

#dvCalculator tr td.even {
    width: 60%;
}

#dvCalculator txtboxstyle {
    width: 50%;
}

#dvCalculator tr td.odd {
    width: 40%;
}

.altriaTable tr td.odd {
    background-color: #dcdcdc;
}

.altriaTable tr td.highLighted {
    background-color: #297ec1;
    color: #FFFFFF;
}

.altriaTable tr td {
    padding: 15px;
    height: 25px;
    word-wrap: break-word;
    border: 0px;
    font-family: Arial;
    font-size: 13px;
    border-top: 1px solid #bbbbbb;
    border-bottom: 2px solid #FFFFFF;
}

.altriaTable th {
    background: url('../../Thomson/images/table_Header_BG_1400.png')/*tpa=http://www.altria.com/Style Library/en-us/Thomson/images/table_Header_BG_1400.png*/ repeat-x scroll 0 0 #03398A !important; /*background-color: #174894 !important;*/ /*background: url(/_Layouts/ALCS.AltriaCom/images/quicklaunch-bg.gif);*/
    color: #FFFFFF;
    height: 45px;
    border-right: 1px solid #666666;
    text-align: left;
    padding-left: 15px;
    border-bottom: 2px solid #FFFFFF;
}

/* 
=================================================================================================================

	FDA Filings WebPart
 
=================================================================================================================
*/

#tableFdaFilings th {
    cursor: pointer;
    background: url("../../../../_Layouts/ALCS.AltriaCom/images/table_Header_BG_1400.png")/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/table_Header_BG_1400.png*/ repeat-x scroll 0 0 #03398A !important;
    color: #FFFFFF;
    font-weight: bold;
    border-bottom: 2px solid #FFFFFF;
    font-family: Arial;
    font-size: 14px;
}

    #tableFdaFilings th .divHeader {
        cursor: pointer;
        float: left;
        margin-top: 4px;
    }

    #tableFdaFilings th .SortArrow {
        cursor: pointer;
        background: url("../../../../_Layouts/ALCS.AltriaCom/images/tableArrows.png")/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/tableArrows.png*/ no-repeat scroll 0 center transparent;
        float: right;
        height: 20px;
        min-width: 9px;
        margin-top: 2px;
        margin-right: 15px;
    }

    #tableFdaFilings th .SortArrowUp {
        cursor: pointer;
        background: url("../../../../_Layouts/ALCS.AltriaCom/images/tableArrows.png")/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/tableArrows.png*/ no-repeat scroll -9px center transparent;
        float: right;
        height: 20px;
        min-width: 9px;
        margin-top: 2px;
    }

    #tableFdaFilings th .SortArrowDown {
        cursor: pointer;
        background: url("../../../../_Layouts/ALCS.AltriaCom/images/tableArrows.png")/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/tableArrows.png*/ no-repeat scroll -18px center transparent;
        float: right;
        height: 20px;
        min-width: 9px;
        margin-top: 2px;
    }

#tableFdaFilings .tableItems {
    width: 100%;
    border-bottom: 2px solid #FFFFFF;
    border-top: 2px solid #808080;
    font-family: Arial;
    font-size: 13px;
    color: #222222;
    height: auto;
    vertical-align: middle;
}

#tableHeaderTitle {
    width: 41.99%;
}

#tableHeaderDate {
    width: 10.99%;
}

#tableHeaderTopic {
    width: 17.99%;
}

#tableHeaderFilingType {
    width: 14.99%;
}

#tableHeaderPdfSize {
    width: 14.99%;
    min-width: 70px;
}

#tableFdaFilingsFilters {
    background: url("../../../../_Layouts/ALCS.AltriaCom/images/topShadow.png")/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/topShadow.png*/ repeat-x scroll left top transparent;
    background-color: #F0F0F0;
    width: 100%;
}

    #tableFdaFilingsFilters td {
        color: #033788;
        float: left;
        font-family: Stag Med;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 13px;
        padding-left: 10px;
    }

.tdFilterDropdownWrapper {
    height: 30px;
}

.selectFilterDropdown {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

#tdFilingTypeLabel {
    min-width: 62.99px;
}

#tdFilingTypeLabel,
#tdTopicLabel {
    padding-left: 32px;
}

#backToTop {
    width: 114px;
    position: fixed;
    bottom: 180px;
    margin-left: -150px;
    text-align: center;
    line-height: 14px;
}

    #backToTop a {
        text-decoration: none;
        white-space: nowrap;
        float: left;
        margin-top: 4px;
    }

    #backToTop .ui-button-icon-primary {
        left: 1.5px;
    }

#btnScrollToTop {
    width: 20px;
    height: 20px;
}

#tbodyFDAFilingsRows a:link, #tbodyFDAFilingsRows a:visited {
    color: #046EC7 !important;
}

@media only screen and (max-width: 1150px) {
    #tableFdaFilings th {
        font-size: 12px;
    }
}

@media only screen and (max-width: 740px) {
    /* Force table to not be like tables anymore */

    #tableFdaFilings,
    #tableFdaFilings tbody,
    #tableFdaFilings th,
    #tableFdaFilings td,
    #tableFdaFilings tr,
    #tableFdaFilingsFilters,
    #tableFdaFilingsFilters tbody,
    #tableFdaFilingsFilters th,
    #tableFdaFilingsFilters td,
    #tableFdaFilingsFilters tr {
        display: block;
    }

    #tableFdaFilings {
        clear: both;
    }

        /* Hide table headers (but not display: none;, for accessibility) */

        #tableFdaFilings th,
        #tableFdaFilingsFilters th {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        #tableFdaFilings tr {
            border: 1px solid #ccc;
        }

        #tableFdaFilings td { /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 40%;
            height: auto;
        }

    #tableFdaFilingsFilters td {
        width: 100%;
    }

    #tableFdaFilings td:before { /* Now like a table header */
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /* Zebra striping */

    /*.altriaTable  tr td.even {
	 background-color: transparent
	}

	.altriaTable  tr td.odd {
	 background-color: transparent
	}*/

    #tableFdaFilings tr:nth-of-type(odd) {
        background: #eeeeee;
    }

    #tableFdaFilings th {
        background: #dcdcdc;
        color: white;
        font-weight: bold;
    }

    /*#tableFdaFilings td, #tableFdaFilings th { 
			    padding: 6px; 
			    border: 1px solid #ccc; 
			    text-align: left; 
		    }*/

    /*
			Label the data
			*/

    #tableFdaFilings td:nth-of-type(1):before {
        content: "Title";
        font-weight: bold;
    }

    #tableFdaFilings td:nth-of-type(2):before {
        content: "Date";
        font-weight: bold;
    }

    #tableFdaFilings td:nth-of-type(3):before {
        content: "Topic";
        font-weight: bold;
    }

    #tableFdaFilings td:nth-of-type(4):before {
        content: "Filing Type";
        font-weight: bold;
    }

    #tableFdaFilings td:nth-of-type(5):before {
        content: "Size";
        font-weight: bold;
    }

    #backToTop {
        width: auto;
        position: fixed;
        bottom: 180px;
        margin-left: -20px;
    }

        #backToTop a {
            display: none;
        }

        #backToTop .ui-button-icon-primary {
            left: 2px;
        }

    #btnScrollToTop {
        width: 20px;
        height: 20px;
    }
}

/* 
=================================================================================================================

	Sharepoint General Overrides
 
=================================================================================================================
*/

.item,
.level-item-pos,
.level-header {
    padding: 0;
    margin: 0 0 0.5em 0;
}

.bullet,
.level-bullet {
    padding: 0 0 0 10px;
}

.level-description-padding {
    padding: 0;
}

.headertitle,
.headertitle a,
.headertitle a:link {
    font-size: inherit;
}

/* lists & libraries */

.ms-listviewtable {
    background: #fff;
}

/* dialogs */

html.ms-dialog body {
    background: #fff;
}

html.ms-dialog #v5-wrapper {
    width: auto;
    padding: 10px;
    max-width: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

html.ms-dialog #v5-page-column-main {
    margin: 0;
}

/* pop-up menus */

.ms-MenuUIPopupBody {
    font-size: 12px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

div.ms-MenuUIPopupScreen div.ms-MenuUIPopupInner div.ms-MenuUILarge ul.ms-MenuUIUL div.ms-MenuUIULItem a.ms-MenuUIULLink,
div.ms-MenuUIPopupScreen div.ms-MenuUIPopupInner div.ms-MenuUILargeRtL ul.ms-MenuUIUL div.ms-MenuUIULItem a.ms-MenuUIULLink {
    color: #2f7799 !important;
}

span.ms-menuitemdescription {
    color: #999 !important;
    font-size: 11px;
}

.ms-siteactionsmenuhover,
.ms-welcomeMenu.ms-SpLinkButtonActive {
    background-color: #333;
    border-color: #555;
}

/* ribbon style */

body #s4-ribbonrow {
    font-size: 12px; /*min-width: 1200px;*/
    background-color: #333;
}

.ms-cui-topBar2 {
    border-color: #333;
}

/* override sharepoint page layouts */

div.article,
div.welcome {
    padding: 0;
}

table.splashLinkFrame {
    border-collapse: collapse;
}

.article .article-header {
    font-family: inherit;
    font-size: 12px;
    overflow: auto;
    border: 0;
    color: #999;
    margin: 0 0 1em 0;
}

.captioned-image .caption {
    font-family: inherit;
    font-size: 12px;
    color: #999;
}

.article-content,
.welcome-content {
    margin: 10px 0 0 0;
}

.article-left .captioned-image,
.welcome .welcome-image {
    margin-right: 2em;
}

.article-right .captioned-image,
.article .related-links {
    margin-left: 2em;
}

.article .captioned-image,
.article .related-links,
.welcome .welcome-image,
.welcome .splash-image {
    margin-bottom: 1em;
}

.article .related-links {
    border: 0;
}

.ewiki-margin,
.edit-mode-border {
    padding: 0;
    margin: 0;
}

.ewiki-margin {
    font-size: 12px;
    color: #999;
    margin: 0 0 1em 0;
}

.right-wp-zone-col {
    width: 195px;
    border-color: #ddd;
}

.ewiki-slink {
    margin-left: 15px;
}

.ms-redirectControl {
    font-size: inherit;
    font-family: inherit;
    color: #999;
}

/* override default scrolling behavior */

body.v4master {
    overflow: visible;
    height: inherit;
    width: inherit;
}

body #s4-workspace {
    overflow: visible !important;
}

body #s4-ribbonrow {
    min-height: 0 !important;
    height: auto !important;
}

#s4-ribbonrow .ms-MenuUIPopupBody,
#s4-ribbonrow .ms-popoutMenu,
.ms-cui-menu[id ^= "Ribbon."] {
    position: fixed !important;
}

.ms-dlgOverlay {
    width: 100% !important;
}

body #s4-bodyContainer {
    min-width: 0;
}

/*Fix the Ribbon position- need to turn off when in development */


#RibbonContainer {
    width: 99%;
}

body #s4-ribbonrow {
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
}

* html #s4-ribbonrow {
    position: absolute;
}

    #s4-ribbonrow .ms-MenuUIPopupBody, #s4-ribbonrow .ms-popoutMenu, .ms-cui-menu[id ^= "Ribbon."], .ms-cui-tooltip {
        position: fixed !important;
    }

    * html #s4-ribbonrow .ms-MenuUIPopupBody, * html #s4-ribbonrow .ms-popoutMenu, * html .ms-cui-menu[id ^= "Ribbon."], * html .ms-cui-tooltip {
        position: absolute !important;
    }

.ms-dlgOverlay {
    width: 100% !important;
}

body #s4-bodyContainer {
    min-width: 0;
}

.ms-ToolPaneOuter {
    margin-top: 125px;
}

DIV.ms-rteElement-Richtext-Arrow {
    -ms-name: "Arrowlink";
}

DIV.ms-rteElement-Richtext-RemoveArrow {
    -ms-name: "Remove-Arrowlink";
}





/* For Modal Dialog Crisis Notification*/





.PopUpContainer {
    height: auto;
    position: absolute;
    width: 100%;
    background-color: #FFFFFF; /*word-break: break-all;*/
}

.PopUpTopBG {
    background: url('../../../../_Layouts/ALCS.AltriaCom/images/cmpyBrandsTopBgGrad.png')/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/cmpyBrandsTopBgGrad.png*/ repeat-x scroll 0 0 transparent;
    height: 20px;
    left: 0;
    position: relative;
    width: 100%;
}

.PopUpClose {
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 6px;
    width: 40px;
    z-index: 10;
    background: url('../../../../_Layouts/ALCS.AltriaCom/images/closeBtn.png')/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/closeBtn.png*/ repeat-x scroll 0 0 transparent;
}

.PopUpContent { /*background: url('/_Layouts/ALCS.AltriaCom/images/mid.png') 0 0;*/
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 0px; /*margin: 0;*/
    margin-bottom: 3px;
}

.PopUpBottomBG {
    background: url('../../../../_Layouts/ALCS.AltriaCom/images/cmpyBrandsBtmBgGrad.png')/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/cmpyBrandsBtmBgGrad.png*/ repeat-x scroll 0 0 transparent;
    height: 20px;
    left: 0;
    position: relative;
    width: 100%;
}

.ms-dlgTitle {
    display: none !important;
}

/*===================================================================================================================================================================================================
*
*
* SEARCH RESULTS WEBPART 
*
*
===================================================================================================================================================================================================*/

.srch-Title2 {
    margin-left: 25px;
}

.srch-Title3 {
    padding-left: 0;
    padding-bottom: 10px;
}

.srch-Metadata2 {
    color: #666666;
    margin-left: 24px;
    padding-bottom: 0;
    padding-top: 2px;
}

#v5-page-column-main .srch-Title3 a,
#v5-page-column .srch-Title3 a:hover,
#v5-page-column .srch-Title3 a:visited,
#v5-page-column .srch-Title3 a strong, .srch-BBTitle a:link, .srch-BBTitle a:visited, .srch-BBTitle a:hover {
    font-family: "Stag Med";
    font-weight: normal;
    font-size: 16px !important;
    color: #033788 !important;
    text-decoration: none !important;
    letter-spacing: .1em;
}

.srch-Icon, .srch-Title3 a, .srch-Title3 a:hover, .srch-Title3 a:visited {
    margin-top: 20px;
}

.srch-stats {
    font-size: 12px !important;
    padding-left: 0;
    padding-top: 15px;
    margin-left: 0;
    font-family: Arial !important;
}

.srch-Page STRONG {
    background: none;
    border: none;
    text-decoration: underline;
}

.SearchUrl, .SearchAddToLink, .SearchDescription, .SearchItemDateDiv {
    margin-left: 24px;
}

    .searchLink A:link, .SearchUrl A:link, .SearchUrl A:visited, .searchLink A:visited {
        text-decoration: underline !important;
        color: #046ec7 !important;
        font-size: 12px;
        font-family: Arial !important;
        word-wrap: break-word !important;
        word-break: break-all !important;
    }

    .searchLink A:hover, .SearchUrl A:hover {
        color: #033788 !important;
    }

.SerchResultItemContainer {
    padding-left: 25px;
    padding-bottom: 20px;
    font-family: Arial;
    font-size: 12px;
}

    .SerchResultItemContainer a:link {
        font-family: Arial;
        font-size: 12px;
    }

.SearchItemDateDiv {
    color: #a3a3a3;
    font-size: 12px;
    font-family: Arial !important;
}

.srch-results {
    max-width: 100% !important;
}

.srch-Description2 {
    max-width: 100% !important;
}

.srch-URL2, span.srch-BB-URL2 {
    color: #033788 !important;
    word-break: break-all;
}

.srch-Page A:link, .srch-Page A:visited {
    border: none;
    color: #033788 !important;
}
/*===================================================================================================================================================================================================
*
*
* SEARCH BEST BETS WEBPART 
*
*
===================================================================================================================================================================================================*/
.srch-BestBets {
    padding-top: 15px;
}

.srch-BBTitle a:link, .srch-BBTitle a:visited, .srch-BBTitle a:hover {
    font-family: "Stag Med" !important;
}

.srch-BestBetsBottom {
    margin-left: 0px !important;
    margin-top: 0px !important;
}

div.srch-BestBetsBottom2, .srch-BestBets {
    width: 100%;
    max-width: 100%;
}

.srch-BB-Description2 {
    max-width: 100%;
    font-family: Arial !important;
}

div.srch-BB-Result {
    padding-left: 0px !important;
}

/*===================================================================================================================================================================================================
*
*
*	TOP SEARCH TERMS
*
*
===================================================================================================================================================================================================*/


/*#SRCHREF .ms-searchref-categoryname:before {
    content: "Refinement Panel";
    font-size: 18px;
    font-weight: bold;
    font-family: 'Stag Med';
    color: #033788;
    display:block;
}*/

#SRCHREF {
    background-color: #f0f0f0;
    width: 100%;
    max-width: 280px;
    margin-bottom: 20px;
}

.ms-wawpList:before {
    content: "Top Search Terms";
    font-size: 18px;
    font-weight: bold;
    font-family: 'Stag Med';
    color: #033788;
    display: block;
}

.top-Search-Terms-Text {
    display: none;
    background: url("../images/blue-down-arrow.png")/*tpa=http://www.altria.com/Style Library/en-us/Altria/images/blue-down-arrow.png*/ no-repeat scroll 90% 14px #F0F0F0;
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia;
    color: #033788;
    padding: 10px 15px;
    cursor: pointer;
}

.top-Search-Terms-Text-Header {
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia;
    color: #033788;
    padding: 10px 20px 10px 20px;
    background-color: #f0f0f0;
    height: 5px;
}

.ms-wawpList {
    list-style-type: decimal !important;
    background-color: #f0f0f0 !important;
    margin-bottom: 20px !important;
}

ul.ms-wawpList {
    padding: 10px 20px !important;
    margin: 0;
}

    ul.ms-wawpList li {
        line-height: 1.8em;
        color: #666666 !important;
        font-size: 12px;
    }

        ul.ms-wawpList li a, ul.ms-wawpList li a:link, ul.ms-wawpList li a:visited {
            color: #666666 !important;
            text-decoration: underline !important;
            font-family: Arial,Helvetica,sans-serif !important;
        }

            ul.ms-wawpList li a:hover {
                color: #046ec7 !important;
            }

/*===================================================================================================================================================================================================
*
*
* SEARCH PAGINATION WEBPART
*
*
===================================================================================================================================================================================================*/

.srch-Page {
    padding-top: 5px !important;
    padding-bottom: 0px !important;
    float: right;
}

    .srch-Page a[id *= "SRP_P"] {
        font-size: 14px !important;
        font-family: Arial !important;
    }

.srch-Page-bg strong {
    font-size: 14px !important;
    font-family: Arial !important;
}

#SRP_NextImg {
    padding-top: 4px !important;
    padding-right: 0px !important;
    margin-right: -5px !important;
}

.altriaPaddingTop {
    padding-top: 25px;
}

/*===================================================================================================================================================================================================
*
*
*	SEARCH SUMMARY
*
*
===================================================================================================================================================================================================*/

.srch-WPBody {
    font-size: 12px !important;
    font-family: Arial !important;
    margin-bottom: -20px;
    padding-right: 10px;
}

.srch-Summary {
    font-size: 15px !important;
    font-family: Arial !important;
    margin-top: 15px;
    padding: 0;
}

    .srch-Summary a:link, .srch-Summary a:hover, .srch-Summary a:visited {
        color: #0066CC !important;
    }

.srch-Metadata1 {
    max-width: none !important;
}
/*===================================================================================================================================================================================================
*
*
*	NOTIFICATION AND NO RESULT
*
*
===================================================================================================================================================================================================*/

.srch-results {
    padding-left: 0 !important;
    margin-bottom: 5px;
}

.s4-noti-noti {
    border: 1px solid gray !important;
}

.s4-noti-in2 {
    background: none repeat scroll 0 -134px #F0F0F0 !important;
    border-top: 1px solid #F0F0F0 !important;
}

.s4-noti-in1 {
    border-top: 2px solid #F0F0F0 !important;
}

#CSR_NO_RESULTS {
    font-family: Arial !important;
    margin-bottom: 20px !important;
}

/* 
=================================================================================================================

	Site Map
 
=================================================================================================================
*/

.dfwp-column .headertitle .siteMapHeader:link {
    font-size: 22px !important;
}

.dfwp-column .headertitle,
.dfwp-column .headertitle a,
.dfwp-column .headertitle a:link,
.dfwp-column .headertitle a:visited,
.dfwp-column .investorLink a,
.dfwp-column .investorLink a:link,
.dfwp-column .investorLink a:visited {
    color: #046ec7 !important;
    font-family: Arial !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.dfwp-column .level-bullet {
    background-image: none;
    color: #666666;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 0;
    vertical-align: top;
}

.dfwp-column .level-item,
.dfwp-column .level-item a,
.dfwp-column .level-item a:link,
.dfwp-column .level-item a:visited {
    color: #666666;
    font-family: Arial;
    font-size: 13px;
}


/* 
=================================================================================================================

	IE10 
 
=================================================================================================================
*/

.ms-cui-modalDiv-ie, .ms-cui-glass-ie {
    background-color: transparent !important;
}

/* Story Board Layout CSS Start*/
#altriaStoryBoardMainContent, .altriaStoryBoardMainContent {
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
    clear: both;
    display: block;
}


.altriaStoryBoardFirstOneFourth, .altriaStoryBoardFirstTwoFourth {
    height: auto;
    width: 23.5%;
    margin-right: 2%;
    float: left;
}

.altriaStoryBoardOneFourthMarginRightZero {
    height: auto;
    width: 23.5%;
    margin-right: 0%;
    float: left;
}


.altriaStoryBoardLastOneFourth {
    height: auto;
    width: 24.5%;
    margin-right: 0px;
    float: right;
}

.altriaStoryBoardFirstHalfPortion {
    height: auto;
    width: 49%;
    float: left;
    margin-right: 2%;
}

.altriaFirstOneFourthwithMiddleHalf {
    height: auto;
    width: 24%;
    margin-right: 2%;
    float: left;
}

.altriaStoryBoardMiddleHalfPortion {
    height: auto;
    width: 48%;
    float: left;
    margin-right: 2%;
}

.altriaLastOneFourthwithMiddleHalf {
    height: auto;
    width: 24%;
    margin-right: 0px;
    float: right;
}

.altriaStoryBoardLastHalfPortion {
    height: auto;
    width: 49%;
    float: right;
    margin-right: 0px;
}

.altriaStoryBoardFirstOneThirdFourth {
    height: auto;
    width: 24.5%;
    float: left;
    margin-right: 1%;
}

.altriaStoryBoardLastThreeForth {
    height: auto;
    width: 74.5%;
    float: right;
    margin-right: 0px;
}

.altriaStoryBoardFirstThreeForth {
    height: auto;
    width: 73.5%;
    margin-right: 2%;
    float: left;
}

.altriaStoryBoardLastOneThirdFourth {
    height: auto;
    width: 24.5%;
    float: right;
    margin-right: 0px;
}


.altriaStoryBoardFirstOneThirdThree {
    height: auto;
    width: 32%;
    float: left;
    margin-right: 2%;
}

.altriaStoryBoardLastOneThirdThree {
    height: auto;
    width: 32%;
    float: left;
    margin-right: 0px;
}


.altriaStoryBoardInnerContent {
    width: 100%;
    height: auto;
}

.altriaStoryBoardFullWidthRow {
    height: auto;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}



.width100per {
    width: 100%;
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.heightAuto {
    height: auto;
}

.margin10auto {
    margin: 10px auto;
}

.altriaStoryConnectusBlock {
    width: 100%;
    height: auto;
    /*  margin: 10px auto;*/
}

.altriaStoryBoardConnectusBlock {
    margin: 0 auto;
    max-width: 1200px;
}

.altriaStoryBoardFeedsLeft {
    width: 15.66667%;
    height: auto;
    float: left;
    margin-right: 1%;
}

.altriaStoryBoardConnectUsForm {
    width: 66.66667%;
    height: auto;
    float: left;
    margin-right: 1%;
}

.altriaStoryBoardFeedsRight {
    width: 15.66667%;
    height: auto;
    float: right;
    margin-right: 0px;
}

.altriaStoryBoardFirstTwoThirdOneThird {
    width: 65.5%;
    height: auto;
    float: left;
    margin-right: 2%;
}

.altriaStoryBoardSecondTwoThirdOneThird {
    width: 32.5%;
    height: auto;
    float: right;
    margin-right: 0px;
}

.altriaStoryBoardFirstOneThirdTwoThird {
    width: 32.5%;
    height: auto;
    float: left;
    margin-right: 2%;
}

.altriaStoryBoardSecondOneThirdTwoThird {
    width: 65.5%;
    height: auto;
    float: right;
    margin-right: 0px;
}

.altriaStoryBoardFirstOneForthThreeForth {
    width: 24.5%;
    height: auto;
    float: left;
    margin-right: 2%;
}

.altriaStoryBoardSecondOneForthThreeForth {
    width: 73.5%;
    height: auto;
    float: right;
    margin-right: 0px;
}

.altriaStoryBoardFirstThreeForthOneForth {
    width: 73.5%;
    height: auto;
    float: left;
    margin-right: 2%;
}

.altriaStoryBoardSecondThreeForthOneForth {
    width: 24.5%;
    height: auto;
    float: right;
    margin-right: 0px;
}


/* Story Board Layout CSS End*/

/* 
=================================================================================================================

	Search Scopes Filter webpart
 
=================================================================================================================
*/
.altriaSearchScopeMenu .menu-item-header {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 21%, #d6d6d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(21%,#ffffff), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 21%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#ffffff 21%,#d6d6d6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 21%,#d6d6d6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 21%,#d6d6d6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
    border: 1px solid #E1E1E1;
    color: #656565;
    font-family: 'Stag Med', Georgia;
    letter-spacing: .1em;
    font-size: 13px; /*font-weight: bold;*/
    height: auto;
    letter-spacing: 0.1em;
    line-height: 2.5em;
    padding-left: 23px;
    padding-right: 23px;
}

.altriaSearchScopeMenu {
    background-color: #F0F0F0;
    border-right: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
    border-left: 2px solid #e1e1e1;
    margin-bottom: 20px;
}

    .altriaSearchScopeMenu a:hover {
        text-decoration: underline;
    }

.altriaSearchScopes .menu-vertical ul li a:link,
.altriaSearchScopes .menu-vertical ul li a:visited {
    font-family: 'Stag Med',Georgia;
    letter-spacing: .1em;
    font-size: 13px;
    font-weight: normal;
    color: #046ec7;
}

.altriaSearchScopes .menu-item-text {
    padding: 10px 10px 10px 24px;
}

.altriaSearchScopes .menu-vertical ul li li .menu-item-text {
    padding: 7px 0 7px 30px;
}

.altriaSearchScopes .menu-vertical ul li li a:link,
.altriaSearchScopes .menu-vertical ul li li a:visited {
    color: #666666;
}

.altriaSearchScopes .menu-vertical ul li a.selected .additional-background {
    background: transparent url(../images/arrow.gif)/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/arrow.gif*/ no-repeat scroll 10px center;
}

.altriaSearchScopes .menu-vertical ul li a.selected,
.altriaQuickLaunch .menu-vertical ul li li a.selected {
    color: #FFFFFF;
    background: #046ec7 url(../images/quicklaunch-bg.gif)/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/quicklaunch-bg.gif*/ repeat-x scroll 0 0;
    border: 1px solid #033788;
}

.scopeDropdownMenu {
    display: none;
}

/*Investors*/
.ccbnAddthisImage{
    margin-top:5px;
}
/* To Avoid zoomed in on sections dropdown selection*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .tinynav:focus {
        font-size: 16px;
    }
}
