/* 
=================================================================================================================

	Altria.com Responsive Stylesheet
    Created: April, 2013
    Author: Brendon Cornwell

    Media Query Guide:

    -(min-width: 1801px)
    -(min-width: 1601px) and (max-width:1800px) 
    -(min-width: 1501px) and (max-width:1600px)
    -(min-width: 1100px) and (max-width:1500px)
    -(min-width: 741px) and (max-width:1180px)
    -(min-width: 0px) and (max-width:1150px)
    -(min-width:761px) and (max-width:890px)
    -(min-width: 0px) and (max-width:1000px) 
    -(min-width: 0px) and (max-width:740px)
    -(min-width: 0px) and (max-width:500px)
    -(min-width: 0px) and (max-width:400px)
 
=================================================================================================================
*/

/* 
=================================================================================================================

	Media Queries
 
=================================================================================================================
*/

@media screen and (min-width: 1801px) {
    .slide {
        margin: 0px 0px 0px -36%;
    }

    .bottomBar {
        right: 16%;
    }

    .divVideoContent {
        width: 41%;
    }
}

@media screen and (min-width: 1601px) and (max-width:1800px) {
    .slide {
        margin: 0px 0px 0px -36%;
    }

    .bottomBar {
        right: 14%;
    }

    .divVideoContent {
        width: 55%;
    }
}

@media screen and (min-width: 1501px) and (max-width:1600px) {
    .slide {
        margin: 0px 0px 0px -44%;
    }

    .bottomBar {
        right: 14%;
    }

    .divVideoContent {
        width: 60%;
    }
}

@media screen and (min-width: 1100px) and (max-width:1500px) {
    .slide {
        margin: 0px 0px 0px -47%;
    }

    .bottomBar {
        right: 5%;
    }

    /*Homepage Slideshow*/

    #homePageVideo {
        /*height: 138px !important; */
    }

    .divVideoContent {
        width: 68%;
    }
}

@media screen and (min-width: 741px) and (max-width:1180px) {
    h1 {
        font-size: 35px;
    }

    #slideshow,
    .sliderArea {
        height: 350px;
    }

    #homePageVideo {
        height: 350px !important;
    }

    .bottomBar {
        background: url(../../../../_Layouts/ALCS.AltriaCom/images/navbg.png)/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/navbg.png*/ top left no-repeat;
        top: 282px;
        right: 0;
        width: 490px;
    }

        .bottomBar .slidesContainer div {
            width: 72px;
            height: 32px;
        }

        .bottomBar div.active {
            width: 70px;
            height: 30px;
        }

    .overLay {
        top: 190px;
    }

    .IEoverlay {
        top: 200px;
        position: absolute;
    }

    .img1 {
        position: absolute;
        top: 0px;
        left: 50%;
        margin: 0px 0px 0px -52%;
        margin: 0px 0px 0px -62%\9; /* IE8 and below */
        z-index: 1;
        height: auto;
        max-width: 100%;
    }

    .img2 {
        position: absolute;
        top: 190px;
        left: 0px;
        z-index: 6;
    }

    .img3 {
        position: absolute;
        overflow: hidden;
        top: 30px;
        left: 0px;
        width: 160px;
        height: 160px;
        z-index: 5;
    }

        .img3 img {
            bottom: 20px;
            left: 20px;
            position: absolute;
        }

        .img3 .img3bg {
            width: 160px;
            height: 160px;
            position: absolute;
            background-color: #FFF;
        }

    .box1 {
        position: relative;
        top: 30px;
        left: -160px;
        width: 160px;
        height: 160px;
        background-color: #033788;
        z-index: 2;
    }

    .box2 {
        position: relative;
        top: 80px;
        left: -150px;
        width: 150px;
        height: 150px;
        background-color: #FFF;
        z-index: 3;
    }

    .box3 {
        position: relative;
        top: -120px;
        left: 160px;
        width: 160px;
        height: 160px;
        background-color: #033788;
        z-index: 4;
    }

    .headingText {
        padding: 10px;
    }

    .headingTextDevice {
        display: none;
    }

    .Description {
        height: 120px;
        width: 120px;
        padding: 20px;
    }

    /*Feeds Start*/

    .FeedsTweetsSepeartor {
        display: none;
    }

    .twitterDiv {
        display: none;
    }

    .thomsonDiv {
        width: 100%;
    }

    textarea {
        overflow: auto;
        vertical-align: top;
    }

    .clearfix {
        *zoom: 1;
    }

        .clearfix:before,
        .clearfix:after {
            display: table;
            line-height: 0;
            content: "";
        }

        .clearfix:after {
            clear: both;
        }

    /*Altria Ventures Form*/

    .formUseLargerScreen {
        display: none;
    }

    #altriaVenturesForm {
        display: block;
    }

    /*#Addthis {
        padding-right: 20px;
    }*/
}

@media screen and (min-width: 0px) and (max-width:1150px) {
    h1 {
        font-size: 30px;
    }

    nav.altriaMenu {
        padding-top: 14px;
    }

    .altriaMenuButton > li > a {
        background: url("../images/arrow-down-1.gif")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/arrow-down.gif*/ no-repeat scroll right center transparent;
        color: #FFFFFF;
        display: block;
        font-size: 11px;
        height: 20px;
        line-height: 2em;
        margin-right: 20px;
        padding: 0 20px;
    }

    #altriaSocial .altriaMenuButton > li > a {
        margin-right: 10px;
        margin-top: 4px;
    }

    #altriaCompanySubMenu li {
        background: none;
        margin-right: 0;
        padding-left: 2px;
        float: none;
    }

    #altriaSocialSubMenu li {
        background: none;
        margin-right: 0;
        padding-left: 2px;
        float: none;
    }

        #altriaSocialSubMenu li span {
            display: inline;
            padding-left: 5px;
            color: #2f7799;
        }

    nav.altriaMenu {
        margin-left: 0;
    }

    #altriaSocial span {
        display: none;
        color: #ffffff;
    }

    .altriaHideMenu {
        display: none;
    }

    .altriaShowMenu {
        display: block;
    }

    #altriaCompanySubMenu li a {
        color: #2f7799;
    }

    #altriaSocialSubMenu li a {
        color: #2f7799;
    }

    ul.altriaSubmenu {
        background-color: #FFFFFF;
        border: 1px solid #666666;
        margin-top: 5px !important;
        padding: 2px;
        position: absolute;
        width: 180px;
        z-index: 100;
    }

        ul.altriaSubmenu li {
            clear: both;
        }

            ul.altriaSubmenu li a {
                display: block;
                padding-left: 5px;
                padding-right: 0px;
                padding-top: 1px;
                padding-bottom: 2px;
                color: #2f7799;
            }

    /*
		ul.altriaSubmenu li a:hover {
			color:#fff;
			background-color:#666;
		}
	    */

    /* MegaMenu Overrides*/

    .megamenu-container {
        /*max-width: 710px;*/ min-width: 0;
        float: left;
        margin-left: 20px;
    }

    .spotlight-column {
        padding-right: 10px;
    }

    .megamenu .megamenu-column {
        width: 220px;
    }

    .megamenu-spotlights {
        padding-left: 5px;
    }

    /*Added to fit entire spotlight at 768*/
    .spotlight-image img {
        max-width: 225px;
    }

    .spotlight-image, .spotlight-link, .spotlight-description {
        width: 225px;
    }

    /*.spotlight-number3,
	.spotlight-number4 {
	 display: none
	}*/


    #v5-page-column-main {
        width: 73%;
    }
    .v5-page-column-main-wrapper{
		margin-left:45px;	
	}

    /*#v5-search {
	        display:none;
	    }*/

    .divMobileSearch {
        float: right;
        width: 40px;
        height: 40px;
        background: url("../images/nav-bar-bg-1.gif")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/nav-bar-bg.gif*/ repeat-x scroll 0 0 transparent;
        border-right: 1px solid #CCCCCC !important;
        border-left: 1px solid #CCCCCC !important;
        cursor: pointer;
        display: block !important;
        position: relative;
    }

    .btnMobileSearch {
        width: 100%;
        height: 100%;
        background: transparent url(../images/search_icon-1.png)/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/search_icon.png*/ no-repeat center center;
    }

    .divMobileSearch:hover,
    .divMobileSearch.searchActive {
        background: url("../images/megamenu-state-1.gif")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/megamenu-state.gif*/ repeat-x scroll 0 0 transparent;
        border-right: 1px solid #154b8f !important;
        border-left: 1px solid #154b8f !important;
    }

        .divMobileSearch:hover .btnMobileSearch,
        .divMobileSearch.searchActive .btnMobileSearch {
            background: transparent url(../images/search_white-1.png)/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/search_white.png*/ no-repeat center center;
        }

    #v5-search {
        width: 100%;
        float: left;
        margin: 10px 0 20px 0;
        background: none;
        padding: 0 !important;
        border: 0 !important;
        display: none; /*display: block !important; */
    }

        #v5-search table,
        #v5-search table.s4-wpTopTable {
            width: 100% !important;
        }

        #v5-search input[type=text] {
            width: 99% !important;
            padding: 5px 10px 5px 1% !important;
            border: 1px solid #CCCCCC !important;
            border-right: 0 !important;
            background: none;
            height: 21px;
            margin-top: 1px;
        }

        #v5-search .ms-sbgo {
            width: 30px;
        }

        #v5-search .ms-sbcell {
            padding-left: 0;
        }

        #v5-search .ms-sbgo a {
            background: transparent url(../images/btn_search-1.png)/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/btn_search.png*/ no-repeat center center;
            border-left: 0 !important;
            border: 1px solid #CCCCCC;
            padding: 5px 15px 5px 0;
            margin-top: 1px;
            height: 21px;
            width: 57px;
            margin-right: 0;
        }

    .divMobileSearchArrow {
        position: absolute;
        bottom: -12px;
        right: 11px;
        width: 22px;
        height: 11px;
        display: none;
        background: url("../images/mega_menu_arrow-2.png")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/mega_menu_arrow.png*/ no-repeat scroll center bottom transparent;
    }

    /*#searchSmall{
	        background: url("../images/search_icon.png") no-repeat scroll 0 0 transparent;
	        float: right;
	        height: 20px;
	        width:20px;
	        margin-right:10px;
	        margin-top:5px;
	        display:block;
	    }*/

    .s4-tn li.static > .menu-item {
        padding: 12px 10px;
    }

    #v5-site-logo img {
        margin-right: 40px;
    }

    /*Board of Directors*/

    /*.altriaQuickLaunch .menu-item-header {
	        height: 33px;
	        line-height: 1.3;
	        padding-top: 5px;
	    }*/

    #v5-page-column-sidebar {
        width: 27%;
    }

    .altriaBodyWithRail {
        float: left;
        width: 100%;
    }

    .altriaRightRail {
        display: none;
    }

    /*Homepage Slideshow*/

    .divVideoContent {
        width: 83%;
    }

    /*Social Sharing Icons*/

    .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m {
        padding: 0 20px 0 0;
    }

	/*.addthis_button_email{
        padding-left: 20px;
    }

    .addthis_button_print {
        float: left;
    }

    #Addthis {
        margin-right: 20px;
    }*/
    #Addthis_footer .addthis_button_email{
        padding-left:0;
    }
    #Addthis_footer .addthis_button_print{
        float:none;
    }
    .altriaSearchRightColumn {
        width: 66.7%;
    }

    .altriaSearchLeftColumn {
        width: 28%;
    }
}

@media screen and (min-width: 1151px) and (max-width:1250px) {
    .megamenu-container {
        /*max-width: 710px;*/ min-width: 0;
        float: left;
        margin-left: 20px;
    }
}

@media screen and (min-width:700px) and (max-width:790px) {
    #v5-page-column-main {
         width: 70.7%;
    }
    #v5-page-column-sidebar{
		width:29.3%;	
	}
	.v5-page-column-main-wrapper{
		margin-left:20px;	
	}
}

@media only screen and (min-width:761px) and (max-width:890px) {
    /* Styles */

    /*
	    #altriaHeader {
	        width:768px;
	        height:36px;
	    }

	    #altriaHeaderCenter {
	        width:768px;
	    }

	    #altriaNavBarTop {
	        width:768px;
	    }


	*/

    #v5-site-logo img {
        margin-right: 20px;
    }

    s4-tn li.static > .menu-item {
        padding: 12px 21px;
    }

    #v5-search {
        display: none;
    }

    /*.altriaLeftRail {
	        display:none;
	    }

	    .altriaRightOfLeftRail {
	        float: left;
	        width:100%;
	    }*/

    #v5-page-column-sidebar {
        float: left;
    }

    .s4-tn li.static > .menu-item {
        padding: 12px 12px;
    }
}

@media screen and (min-width: 0px) and (max-width:1000px) {
    .altriaLeftRail {
        display: none;
    }

    .altriaRightOfLeftRail {
        float: left;
        width: 100%;
    }

    /* Site Map */
    .toc-layout-main .dfwp-column {
        width: 50% !important;
        margin-bottom: 20px;
        min-height: 420px;
    }
}

@media screen and (min-width: 0px) and (max-width:740px) {
    h1 {
        font-size: 28px;
    }

    #v5-page {
        width: 100%;
        margin-left: 0;
    }

    .visible-desktop-only {
        display: none !important;
    }

    .altriaMenuButton > li > a {
        background: url("../images/arrow-down-1.gif")/*tpa=http://www.altria.com/Style%20Library/en-us/Altria/images/arrow-down.gif*/ no-repeat scroll right center transparent;
        color: #FFFFFF;
        display: block;
        font-size: 11px;
        height: 20px;
        line-height: 2em;
        margin-right: 20px;
        padding: 0 20px;
    }

    #altriaCompanySubMenu li {
        background: none;
        margin-right: 0;
        padding-left: 2px;
        padding-top: 5px;
        padding-bottom: 10px;
        float: none;
    }

    #altriaSocialSubMenu li {
        background: none;
        margin-right: 0;
        padding-left: 2px;
        float: none;
    }

    .altriaHideMenu {
        display: none;
    }

    .altriaShowMenu {
        display: block;
    }

    #altriaCompanySubMenu li a {
        color: #2f7799;
    }

    #altriaSocialSubMenu li a {
        color: #2f7799;
    }

    ul.altriaSubmenu {
        background-color: #FFFFFF;
        border: 1px solid #666666;
        margin-top: 5px !important;
        padding: 2px;
        position: absolute;
        width: 180px;
        z-index: 100;
    }

        ul.altriaSubmenu li {
            clear: both;
        }

            ul.altriaSubmenu li a {
                display: block;
                padding-left: 5px;
                padding-right: 0px;
                padding-top: 1px;
                padding-bottom: 2px;
                color: #2f7799;
            }

    #altriaContainerRight {
        max-width: 240px;
    }

    #altriaToolsRight {
        padding-right: 0;
    }

    .altriaNavLinks {
        display: none;
    }

    #altriaScroller {
        margin-right: 11px;
    }

    #altriaStockTickerDelay {
        display: none;
    }

    #v5-current-nav {
        display: none;
    }

    #altriaDropMenu {
        display: block;
        height: auto !important;
        width: auto !important;
        visibility: visible;
    }

        #altriaDropMenu select {
            width: 300px;
        }

    .tinynav {
        display: block;
    }

    #v5-site-logo img {
        margin-right: 20px;
    }

    s4-tn li.static > .menu-item {
        padding: 12px 10px;
    }

    #v5-search {
        display: none;
    }

    #v5-page-column-sidebar {
    }

    .altriaLeftRail {
        display: none;
    }

    .altriaRightOfLeftRail {
        float: left;
        width: 100%;
    }

    #v5-page-column-main {
        float: left;
        margin: 0;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .altriaTeaserLeft {
        display: none;
    }

    .altriaTeaserCenter {
        display: block; /*margin-bottom: 20px;*/
    }

    .responsiveTeaser {
        /*padding-top: 20px;*/
    }

    #slideshow,
    .sliderArea {
        height: 195px;
    }

    .bottomBar {
        background: url(../../../../_Layouts/ALCS.AltriaCom/images/navbg.png)/*tpa=http://www.altria.com/_Layouts/ALCS.AltriaCom/images/navbg.png*/ top left no-repeat;
        top: 134px;
        right: 10px;
        position: absolute;
        bottom: -20px;
        width: 125px;
    }

        .bottomBar .slidesContainer div {
            width: 72px;
            height: 32px;
        }

        .bottomBar div.active {
            width: 70px;
            height: 30px;
        }

    .Description {
        padding: 0px;
    }

    #v5-page,
    #v5-wrapper {
        padding: 0px;
    }

    .portraitMenu {
        display: block;
    }

    .menuClick {
        margin-left: 190px;
    }

    .inactive {
    }

    .active {
        opacity: 1;
    }

    .box3,
    .box2,
    .box1,
    .img3 {
        display: none;
    }

    #slideshow,
    .sliderArea {
        height: 195px;
    }

    .Description {
        color: #FFFFFF;
        font-family: 'Stag Med';
        letter-spacing: .1em;
        font-size: 14px;
        font-style: italic;
    }

    .nonDeskThumbs {
        height: 10px !important;
        width: 10px !important;
        margin-top: 38px !important;
    }

        .nonDeskThumbs img {
            display: none;
        }

        .nonDeskThumbs .thumbNailImg {
            height: 10px !important;
            width: 10px !important;
        }

    /*Homepage Slideshow*/

    #homePageVideo {
        height: 196px !important;
    }

    .divPlayButton {
        display: none;
    }

    .bottomBar {
        background: none;
    }

    .img2 {
        top: 94px;
        height: 100px;
        width: 100px;
    }

    /*
	    .img1 {
	        height: 195px;
	        width: 600px;
	        margin: 0px 0px 0px -350px;
	    }*/

    .headingTextDevice {
        display: block;
        font-family: 'Stag Med', Arial;
        letter-spacing: .1em;
        font-size: 13px;
        color: #FFFFFF;
        margin: 15px 10px 0px 10px;
        max-height: 45px;
    }

    .readMoreText {
        width: 75%;
        margin-left: 10px;
        font-size: 9px;
    }

    .divLearnMoreArrow {
        margin-top: 2px;
    }

    .bodyText {
        display: none;
        font-family: 'Stag Med', Arial;
        letter-spacing: .1em;
        font-size: 12px;
        color: #FFFFFF;
        margin: 15px 10px 0px 10px;
        max-height: 45px;
    }

    /*Feeds Start*/

    .FeedsTweetsSepeartor {
        display: none;
    }

    .tickerCTA {
        width: auto;
        margin-top: 15px;
        margin-right: 30px;
    }

    .twitterDiv {
        display: none;
    }

    .thomsonDiv {
        width: 100%;
    }

    #DvThomsonFeeds {
        display: none;
    }

    .altriaCopyright {
        clear: both;
        display: block;
        text-align: center; 
        margin-top: 20px;
        margin-left: 0;
    }
    .v5-page-column-main-wrapper{
		margin-left:20px;
		margin-right:20px;	
	}
    /*Altria Ventures Form*/

    .formUseLargerScreen {
        display: block;
    }

    .SubmitReleaseinfodiv {
        display: none;
    }

    #altriaVenturesForm {
        display: none;
    }

    /*Altria Interior Various Mobile Layout Options*/

    .altriaThreeColumnRow,
    .altriaTwoColumnRow, .altriaTwoColumnInteriorRow {
        width: 100%;
    }

    .altriaOneThirdColumnRow {
        width: 100%;
    }

    .altriaTwoThirdColumnRow {
        width: 100%;
    }

    /*Search*/

    .srch-Page {
        padding-left: 0;
        margin-left: -5px;
        float: left;
    }

    .srch-WPBody {
        margin-bottom: -30px;
    }

    .altriaSearchContainer .altriaTwoColumnRow {
        width: 50%;
    }

    .altriaSearchContainer .SearchStatisticsBottom {
        padding-top: 20px;
    }

    .srch-stats {
        padding-top: 0px;
    }

    .scopeDropdownMenu {
        display: block;
    }

    .altriaSearchScopeMenu {
        display: none;
    }
    /*Landing Page*/

    #landingContainerTop {
        min-height: 0;
    }

    #landingSectionTop {
        top: 20px;
    }

        #landingSectionTop h1 {
            font-size: 34px;
            margin-bottom: 15px;
        }

        #landingSectionTop h2 {
            font-size: 25px;
            margin-bottom: 15px;
        }

    .landingPageImage img {
        position: absolute;
        right: -200px;
        float: right;
        height: 190px;
        min-height: 0;
        max-width: 1000px;
    }

    .landingSpacer {
        padding-top: 197px;
    }

    #v5-breadcrumb {
        width: 100%;
    }

    #Addthis {
        float: left;
        width: 100%;
        clear: both;
        margin-bottom: 15px;
    }

    #Addthis .addthis_toolbox {
        float: left;
    }
     #Addthis_footer .addthis_toolbox{
        float:none !important;
    }
     /*Mega Menu*/

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        font-family: 'Stag Med' !important;
        font-size: 14px;
        letter-spacing: .1em;
    }

    #megaMenuAccordion .ui-widget-content a {
        font-family: 'Stag Med' !important;
        font-size: 14px;
        letter-spacing: .1em;
    }

    .megamenu .megamenu-column ul li a {
        font-family: 'Stag Med' !important;
        font-size: 14px;
        letter-spacing: .1em;
    }

    .ui-widget {
        font-family: 'Stag Med';
        font-size: 14px;
        letter-spacing: .1em;
    }

    .altriaSearchLeftColumn, .altriaSearchRightColumn {
        width: 100%;
    }
    /* social media icons under Footer section mobile begins */
    #altriaFooterWrapper{
        min-height: 120px;
    }
    .socialIconsFooter{
        margin-left: 0px !important;
        margin-right: 0px !important;
        float:none;
        width: 100%;
        position: fixed;
        z-index: 9999;
    }
    #Addthis_footer{
        text-align: center;
    }
    .footer_text{
        font-size: 14px;
        font-family: 'Stag Med';
        margin-top: 23px;
        margin-left: 0px !important;
        margin-right: 0px !important;
        text-align: center;
    }
    #Addthis_footer .addthis_button_facebook img {
        margin-top: 18px;
        width: 26px;
        height: 26px;
    }

    #Addthis_footer .addthis_button_twitter img {
        margin-top: 22px; 
        width: 20px;
        height: 20px;
    }

    #Addthis_footer .addthis_button_google_plusone_share img {
        margin-top: 19px; 
        width: 26px;
        height: 26px;
    }

    #Addthis_footer .addthis_button_linkedin img {
        margin-top: 22px;
        width: 20px;
        height: 20px;
    }

    #Addthis_footer .addthis_button_email img {
        margin-top: 24px;
        width: 24px;
        height: 16px;
        margin-left: 5px;
    }
   /* social media icons under Footer section mobile ends */

}

@media screen and (min-width: 0px) and (max-width:500px) {
    #homePageVideo {
        height: 195px !important;
    }

    #Addthis {
        margin-top: 0 !important;
    }

    .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m {
        padding: 0 20px 0 0;
    }

    .addthis_toolbox {
        right: auto !important;
    }

    /* Site Map */
    .toc-layout-main .dfwp-column {
        width: 100% !important;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 0px) and (max-width:400px) {
    #v5-page {
        width: 100%;
        margin-left: 0;
    }

    #altriaDropMenu select {
        width: 88%;
    }

    #searchContainer {
        padding: 5px;
    }

    .visible-desktop-only {
        display: none !important;
    }

    #slideshow,
    .sliderArea {
        height: 138px;
    }

    .bottomBar {
        top: 70px;
        right: 10px;
        position: absolute;
    }

    .divPlayButton {
        background: url("../../../../_LAYOUTS/ALCS.Enterprise/images/hubPlay_buttons.png")/*tpa=http://www.altria.com/_LAYOUTS/ALCS.Enterprise/images/hubPlay_buttons.png*/ no-repeat scroll 0 -61px transparent;
        top: 24%;
        left: 40%;
        z-index: 9;
        position: absolute;
        width: 55px;
        height: 40px;
        cursor: pointer;
        display: none;
    }

    .img2 {
        top: 38px;
    }

    .tickerCTA {
        width: auto;
        margin-top: 15px;
        margin-right: 40px;
    }

    #DvThomsonFeeds {
        display: none;
    }

    #altriaContainerRight {
    }

    #altriaToolsRight {
        display: none;
    }

    .altriaNavLinks {
        display: none;
    }

    #altriaStockTickerDelay {
        display: none;
    }

    #v5-footer {
        text-align: center;
    }

    /* Homepage Slideshow*/

    #homePageVideo {
        height: 138px !important;
    }

    #s4-workspace {
        min-width: 299px;
    }

    /*Landing Page*/

    #landingSectionTop {
        top: 20px;
    }

        #landingSectionTop h1 {
            font-size: 26px;
            margin-bottom: 10px;
        }

        #landingSectionTop h2 {
            font-size: 19px;
            margin-bottom: 15px;
        }
}

@media screen and (min-width: 0px) and (max-width:1150px) {
    #altriaCompanySubMenu {
        display: none;
    }

    #altriaSocialSubMenu {
        display: none;
    }
}

@media only screen and (min-width:760px) and (max-width:1019px) {
    .megamenu .megamenu-column {
        width: 232px !important; /*width of each menu column*/
        margin-right: 10px !important;
    }
}

@media screen and (min-width:1000px) and (max-width:1100px) {
    .megamenu-container {
        /*max-width: 100% !important;*/
        max-width: 925px !important;
    }
}

@media screen and (min-width: 740px) and (max-width:900px) {
    .megamenu-container {
        max-width: 710px;
    }

    .altriaTwoColumnInteriorRow {
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width:800px) {
    .altriaStoryBoardFirstOneFourth, .altriaStoryBoardFirstOneFourth,
    .altriaStoryBoardOneFourthMarginRightZero, .altriaStoryBoardFirstTwoFourth {
        width: 49%;
    }

    .altriaStoryBoardFirstTwoFourth {
        margin-right: 0px;
    }
}

@media (min-width: 0px) and (max-width:640px) {
    .altriaStoryBoardFeedsLeft, .altriaStoryBoardFeedsRight,
    .altriaStoryBoardSecondThreeForthOneForth, .altriaStoryBoardFirstOneFourth,
    .altriaStoryBoardLastOneFourth, .altriaFirstOneFourthwithMiddleHalf,
    .altriaLastOneFourthwithMiddleHalf, .altriaStoryBoardFirstOneThirdFourth,
    .altriaStoryBoardLastOneThirdFourth, .altriaStoryBoardFirstOneForthThreeForth,
    .altriaStoryBoardFirstOneThirdThree, .altriaStoryBoardLastOneThirdThree,
    .altriaStoryBoardSecondTwoThirdOneThird, .altriaStoryBoardFirstOneThirdTwoThird,
    .altriaStoryBoardFirstHalfPortion, .altriaStoryBoardMiddleHalfPortion,
    .altriaStoryBoardLastHalfPortion, .altriaStoryBoardConnectUsForm,
    .altriaStoryBoardFirstTwoThirdOneThird, .altriaStoryBoardSecondOneThirdTwoThird,
    .altriaStoryBoardFirstThreeForthOneForth, .altriaStoryBoardSecondOneForthThreeForth,
    .altriaStoryBoardLastThreeForth, .altriaStoryBoardFirstThreeForth,
    .altriaStoryBoardOneFourthMarginRightZero, .altriaStoryBoardFirstTwoFourth {
        width: 100%;
        margin-right: 0px;
        float: left;
    }
}


@media screen and (min-width:801px) and (max-width:1024px) {
    .altriaHPSlideshowColumn {
        width: 69.33%;
    }

    .altriaPressReleaseColumn {
        width: 30.67%;
    }

    .altriaTwoColumnTeasersColumn {
        margin-left: 345px;
    }

    .altriaHPSlideshowColumn .ms-WPBody {
        margin-right: 14px;
    }
}

@media screen and (min-width:641px) and (max-width:800px) {
    .altriaHPSlideshowColumn {
        width: 100%;
    }

    .altriaPressReleaseColumn {
        width: 100%;
        margin-left: 0%;
        margin-bottom: 10px;
    }

    .altriaTwoColumnTeasersColumn {
        margin-left: 330px;
    }

    .altriaDOJContainer {
        padding-top: 10px;
    }
        /* social media icons under Footer section mobile begins */
   /* #v5-footer div {
        margin-left: 20px !important;
    }*/
    .footerLinks {
        width: 100%;
    }
    /* social media icons under Footer section mobile ends */
    
    .altriaFourColumnRowFirst, .altriaFourColumnRowThird {
        width: 48%;
        float: left;
        margin: 0px;
    }

    .altriaFourColumnRowSecond, .altriaFourColumnRowFourth {
        width: 48%;
        margin-left: 4%;
        float: left;
    }
}

@media screen and (min-width:320px) and (max-width:640px) {
    .altriaTwoColumnTeasersColumn {
        width: 100%;
        margin-left: 0%;
    }

    .altriaDOJStatementColumn {
        float: none;
    }

    .altriaDOJContainer {
        padding-top: 0px;
    }

    .altriaSearchContainer .altriaTwoColumnRow {
        width: 100%;
    }

    .altriaSearchContainer .SearchStatisticsTop {
        padding-top: 0px;
    }

    .altriaTwoColumnInteriorRowLeft, .altriaTwoColumnInteriorRowRight{
        width: 100%;
        float: left;
        margin:0;
    }
    .altriaFirstOneThirdColumnRow, .altriaFirstTwoThirdColumnRow, .altriaSecondOneThirdColumnRow, .altriaSecondTwoThirdColumnRow {
        width: 100%;
        float: left;
        margin:0;
    }
    .altriaOneThirdColumnRowFirst, .altriaOneThirdColumnRowSecond {
        width: 100%;
        float: left;
        margin:0;
    }
    .altriaFourColumnRowFirst, .altriaFourColumnRowSecond, .altriaFourColumnRowThird, .altriaFourColumnRowFourth{
        width: 100%;
        float: left;
        margin:0;
    }
    
    
}

@media screen and (min-width:320px) and (max-width:800px) {
    .altriaHPSlideshowColumn {
        width: 100%;
        float: none;
        display: block;
    }

    .altriaPressReleaseColumn {
        width: 100%;
        margin-left: 0%;
        display: block;
        border: 0;
    }

    .altriaHPSlideshowColumn .ms-WPBody {
        margin-bottom: 0px!important;
        margin-right: 0px;
    }

    .altriaSlideshowContainer {
        margin-left: 0;
        margin-right: 0;
        display: block;
    }
}

@media screen and (min-width:480px) and (max-width:640px) {
    .altriaTwoColumnTeasersColumn {
        margin-top: 10px;
    }

    .altriaFourColumnRow {
        width: 49%;
    }

    .altriaFourColumnSecondRow, .altriaHPThreeColumnSecondRow {
        margin-left: 0%;
    }

    .altriaHPThreeColumnRow {
        width: 49%;
    }
}

@media screen and (min-width:320px) and (max-width:479px) {
    .altriaDOJContainer {
        margin-left: 10px;
        margin-right: 10px;
    }

    #altriaHPTeasers {
        margin-left: 5px;
        margin-right: 5px;
        width: auto;
    }

    .altriaTwoColumnTeasersColumn {
        margin-top: 20px;
    }

    .altriaFourColumnRow, .altriaHPThreeColumnRow {
        width: 100%;
    }

    .margin-left-2percent {
        margin-left: 0%;
    }

    /*#v5-footer div {
        margin-left: 10px;
        margin-right: 10px;
    }*/

    .srch-WPBody {
        padding-right: 0px;
    }

    .srch-Title3 a {
        word-break: break-all !important;
     }
}
