/*!
 * Bootstrap Responsive v2.0.4
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.bliss_extrabold {
  font-family: "Bliss ExtraBold", 'Gill Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size-adjust: 0.47;
  font-weight: 800;
  font-style: normal;
}
.bliss_medium {
  font-family: "Bliss Medium", 'Gill Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size-adjust: 0.47;
  font-weight: 500;
  font-style: normal;
}
.bliss_heavy {
  font-family: "Bliss Heavy", 'Gill Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size-adjust: 0.47;
  font-weight: 900;
  font-style: normal;
}
.bliss_bold {
  font-family: "Bliss Bold", 'Gill Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size-adjust: 0.47;
  font-weight: bold;
  font-style: normal;
}
.bliss_italic {
  font-family: "Bliss Italic", 'Gill Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size-adjust: 0.47;
  font-weight: normal;
  font-style: italic;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.imageReplace {
  display: block;
  overflow: hidden;
  font-size: 1%;
  text-indent: -9999px;
}
.horizNavList {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.horizNavList > li {
  margin: 0px;
  padding: 0px;
  float: left;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
}
@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
  .page-header h1 small {
    display: block;
    line-height: 18px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-group > label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }
  .modal {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    margin: 0;
  }
  .modal.fade.in {
    top: auto;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  .carousel-caption {
    position: static;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding: 0;
  }
  #nav_toggle_container {
    /* container for the page content. Slides over when nav button is clicked */
  
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  #nav_toggle_container > .inner {
    width: 100%;
    -webkit-box-shadow: 5px 0px 10px #1c252d;
    -moz-box-shadow: 5px 0px 10px #1c252d;
    box-shadow: 5px 0px 10px #1c252d;
    -webkit-transition: margin 0.25s ease-in-out;
    -moz-transition: margin 0.25s ease-in-out;
    -ms-transition: margin 0.25s ease-in-out;
    -o-transition: margin 0.25s ease-in-out;
    transition: margin 0.25s ease-in-out;
  }
  #nav_toggle_container.toggle > .inner {
    margin-left: -200px;
    top: 0px;
  }
  header {
    height: 50px;
    background-position: left -50px;
  }
  header .container {
    padding: 0px 20px;
  }
  header .brand {
    width: 150px;
    margin-top: 15px;
  }
  .dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .container {
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  [class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .content_section > .container {
    background-size: 100% auto;
  }
  .content_section .column_01 {
    float: none;
  }
  .company_news {
    padding-bottom: 18px;
    margin-bottom: 15px;
    min-height: 0px;
    background: url(../img/divider-horizontal.gif)/*tpa=http://www.avisbudgetgroup.com/themes/abg_com/_/img/divider-horizontal.gif*/ bottom left repeat-x;
  }
  .company_news .inner {
    padding-left: 0px;
    background: none;
  }
  .quick_links .inner {
    padding-left: 2px;
    background: none;
  }
  body.home .homepage_hero {
    height: 150px;
    background-size: 714px 150px;
  }
  #hero .container {
    height: 150px;
  }
  #hero .container .container-banner {
    height: 150px;
  }
  #hero .container .container-banner .bucket {
    width: 100%;
    height: 150px;
  }
  #hero .container .container-banner .bucket .image > .inner img {
    height: 150px;
    width: auto;
    float: right;
    margin-right: -50px;
  }
  #hero .container .navBar {
    left: 20px;
  }
  .headline {
    font-size: 14px;
  }
  .content_container > div > .inner {
    padding-left: 0px;
    background: none;
    padding-bottom: 7px;
    margin-bottom: 15px;
    background: url(../img/divider-horizontal.gif)/*tpa=http://www.avisbudgetgroup.com/themes/abg_com/_/img/divider-horizontal.gif*/ bottom left repeat-x;
  }
  .content_container .right {
    background: none;
  }
  .content_container .right ul li .story_link {
    font-size: 12px;
    line-height: 15px;
  }
  .sub_hero_section {
    min-height: 70px;
  }
  .sub_hero_section .sub_hero {
    margin-bottom: 12px;
  }
  .sub_hero_section .sub_hero div {
    height: auto;
  }
  .sub_hero_section .sub_hero .left_col,
  .sub_hero_section .sub_hero .middle_col,
  .sub_hero_section .sub_hero .right_col {
    width: 100%;
    display: inline;
    float: none;
    margin-left: 0px;
  }
  .sub_hero_section .sub_hero .left_col p,
  .sub_hero_section .sub_hero .middle_col p,
  .sub_hero_section .sub_hero .right_col p {
    display: inline;
  }
  .stock_widget .top_section .left {
    float: none!important;
  }
  .stock_widget .top_section .right {
    float: none;
    font-size: 25px;
    margin-right: 0px;
    margin-left: 15px;
    padding-top: 5px;
  }
  .stock_widget .middle_section .left {
    width: 60%;
  }
  .stock_widget .middle_section .left table.stock_table {
    margin-right: 10px;
    margin-left: 10px;
  }
  .stock_widget .middle_section .left table.stock_table td.stock_label {
    padding-right: 5px;
  }
  .stock_widget .middle_section .right {
    font-size: 13px;
    width: 40%;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 13px;
  }
  .stock_widget .middle_section .right .change_pct {
    font-size: 10px;
  }
  .stock_widget .lower_section .inner_border img {
    width: 100%;
  }
  .feature_box {
    max-width: 310px;
  }
  .feature_box .text_beside_image {
    float: left;
    width: auto;
    margin-left: 10px;
  }
  .feature_box.annual_report img {
    width: 34px;
    height: auto;
  }
  .inner_page_hero .feature_box {
    max-width: 100%;
  }
  .presentations_widget .inner .presentation .presentation_info {
    float: left;
    margin-left: 10px;
    width: auto;
  }
  .presentations_widget .inner .presentation .presentation_info span.file_size {
    display: block;
    padding-left: 0px;
  }
  .home section.footer_brand_callout {
    background-color: #eaecf0;
    background-size: 1px 100%;
    padding: 0px 0px 0px;
  }
  .home section.footer_brand_callout div[class*='span'] {
    padding-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 20px;
  }
  .home section.footer_brand_callout div[class*='span'] > a img {
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 10px;
  }
  .home section.footer_brand_callout .right_border {
    padding-bottom: 7px;
    background: url(../img/divider-horizontal.gif)/*tpa=http://www.avisbudgetgroup.com/themes/abg_com/_/img/divider-horizontal.gif*/ bottom left repeat-x;
  }
  .home section.footer_brand_callout .avis {
    width: 100%;
    min-height: 23px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .home section.footer_brand_callout .budget {
    width: 100%;
    min-height: 30px;
    padding-bottom: 10px;
  }
  .home section.footer_brand_callout .budget_trucks {
    width: 100%;
    min-height: 33px;
    padding-bottom: 0px;
    padding-top: 10px;
  }
  .home section.footer_brand_callout .zipcar {
    width: 100%;
    min-height: 33px;
    padding-bottom: 0px;
    padding-top: 10px;
  }
  .home section.footer_brand_callout .brandbar_text {
    margin-left: 0px;
  }
  footer .one,
  footer .four {
    width: 128px;
  }
  footer .footerlogo {
    padding-bottom: 10px;
  }
  .inner_page_hero .brand_callouts .avis {
    width: 77px;
    height: auto;
  }
  .inner_page_hero .brand_callouts .budget {
    width: 70px;
    height: auto;
  }
  .col_3 .content_container div .inner,
  .col_2 .content_container > div > .inner {
    padding-left: 0px;
    padding-bottom: 7px;
    background: url(../img/divider-horizontal.gif)/*tpa=http://www.avisbudgetgroup.com/themes/abg_com/_/img/divider-horizontal.gif*/ bottom left repeat-x;
  }
  .col_2 .content_container {
    margin-bottom: 20px;
  }
  .col_2 .content_container > .left > .inner {
    padding-bottom: 0px;
    margin-bottom: 0px;
    background: none;
  }
  .col_2 .content_container .left {
    float: none;
  }
  .col_2 .content_container .right {
    float: none;
    padding-top: 5px;
    background: url('../img/divider-horizontal.gif')/*tpa=http://www.avisbudgetgroup.com/themes/abg_com/_/img/divider-horizontal.gif*/ top left repeat-x;
  }
  .col_1 .content_container div .inner {
    padding-bottom: 0px;
    margin-bottom: 0px;
    background: none;
  }
}
@media (max-width: 665px) {
  #ccm-page-controls-wrapper #ccm-toolbar #ccm-white-label-message {
    display: none;
  }
}
@media (max-width: 535px) {
  #ccm-page-controls-wrapper #ccm-toolbar #ccm-nav-intelligent-search-wrapper {
    display: none;
  }
}
@media (max-width: 346px) {
  #ccm-page-controls-wrapper #ccm-toolbar #ccm-system-nav li:first-child {
    display: none;
  }
}
/*
// Playbook to tablet
@import "responsive-600px-767px.less";
*/
@media (max-width: 979px) {
  img {
    height: auto;
  }
  .ad_object .inner h1,
  .ad_object .inner p {
    width: auto;
  }
  .ad_object .inner img {
    display: none;
  }
  img {
    height: auto;
  }
  .lower_section {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    margin-left: 20px;
  }
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 720px;
  }
  .span20 {
    width: 720px;
  }
  .span19 {
    width: 683px;
  }
  .span18 {
    width: 646px;
  }
  .span17 {
    width: 609px;
  }
  .span16 {
    width: 572px;
  }
  .span15 {
    width: 535px;
  }
  .span14 {
    width: 498px;
  }
  .span13 {
    width: 461px;
  }
  .span12 {
    width: 424px;
  }
  .span11 {
    width: 387px;
  }
  .span10 {
    width: 350px;
  }
  .span9 {
    width: 313px;
  }
  .span8 {
    width: 276px;
  }
  .span7 {
    width: 239px;
  }
  .span6 {
    width: 202px;
  }
  .span5 {
    width: 165px;
  }
  .span4 {
    width: 128px;
  }
  .span3 {
    width: 91px;
  }
  .span2 {
    width: 54px;
  }
  .span1 {
    width: 17px;
  }
  .offset20 {
    margin-left: 760px;
  }
  .offset19 {
    margin-left: 723px;
  }
  .offset18 {
    margin-left: 686px;
  }
  .offset17 {
    margin-left: 649px;
  }
  .offset16 {
    margin-left: 612px;
  }
  .offset15 {
    margin-left: 575px;
  }
  .offset14 {
    margin-left: 538px;
  }
  .offset13 {
    margin-left: 501px;
  }
  .offset12 {
    margin-left: 464px;
  }
  .offset11 {
    margin-left: 427px;
  }
  .offset10 {
    margin-left: 390px;
  }
  .offset9 {
    margin-left: 353px;
  }
  .offset8 {
    margin-left: 316px;
  }
  .offset7 {
    margin-left: 279px;
  }
  .offset6 {
    margin-left: 242px;
  }
  .offset5 {
    margin-left: 205px;
  }
  .offset4 {
    margin-left: 168px;
  }
  .offset3 {
    margin-left: 131px;
  }
  .offset2 {
    margin-left: 94px;
  }
  .offset1 {
    margin-left: 57px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 1.2765957444%;
    *margin-left: 1.2255753362367348%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .span20 {
    width: 100.8510638196%;
    *width: 100.80004341143673%;
  }
  .row-fluid .span19 {
    width: 95.7446808414%;
    *width: 95.69366043323673%;
  }
  .row-fluid .span18 {
    width: 90.6382978632%;
    *width: 90.58727745503673%;
  }
  .row-fluid .span17 {
    width: 85.53191488499999%;
    *width: 85.48089447683672%;
  }
  .row-fluid .span16 {
    width: 80.42553190679999%;
    *width: 80.37451149863672%;
  }
  .row-fluid .span15 {
    width: 75.3191489286%;
    *width: 75.26812852043673%;
  }
  .row-fluid .span14 {
    width: 70.2127659504%;
    *width: 70.16174554223673%;
  }
  .row-fluid .span13 {
    width: 65.1063829722%;
    *width: 65.05536256403673%;
  }
  .row-fluid .span12 {
    width: 59.999999994%;
    *width: 59.94897958583673%;
  }
  .row-fluid .span11 {
    width: 54.8936170158%;
    *width: 54.84259660763673%;
  }
  .row-fluid .span10 {
    width: 49.7872340376%;
    *width: 49.73621362943673%;
  }
  .row-fluid .span9 {
    width: 44.6808510594%;
    *width: 44.62983065123673%;
  }
  .row-fluid .span8 {
    width: 39.574468081199996%;
    *width: 39.52344767303673%;
  }
  .row-fluid .span7 {
    width: 34.468085103%;
    *width: 34.41706469483673%;
  }
  .row-fluid .span6 {
    width: 29.3617021248%;
    *width: 29.310681716636736%;
  }
  .row-fluid .span5 {
    width: 24.255319146599998%;
    *width: 24.204298738436734%;
  }
  .row-fluid .span4 {
    width: 19.1489361684%;
    *width: 19.097915760236734%;
  }
  .row-fluid .span3 {
    width: 14.0425531902%;
    *width: 13.991532782036733%;
  }
  .row-fluid .span2 {
    width: 8.936170212%;
    *width: 8.885149803836734%;
  }
  .row-fluid .span1 {
    width: 3.8297872338%;
    *width: 3.7787668256367346%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  input.span20, textarea.span20, .uneditable-input.span20 {
    width: 710px;
  }
  input.span19, textarea.span19, .uneditable-input.span19 {
    width: 673px;
  }
  input.span18, textarea.span18, .uneditable-input.span18 {
    width: 636px;
  }
  input.span17, textarea.span17, .uneditable-input.span17 {
    width: 599px;
  }
  input.span16, textarea.span16, .uneditable-input.span16 {
    width: 562px;
  }
  input.span15, textarea.span15, .uneditable-input.span15 {
    width: 525px;
  }
  input.span14, textarea.span14, .uneditable-input.span14 {
    width: 488px;
  }
  input.span13, textarea.span13, .uneditable-input.span13 {
    width: 451px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 414px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 377px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 340px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 303px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 266px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 229px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 192px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 155px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 118px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 81px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 44px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 7px;
  }
  .subnav ul li {
    margin-right: 20px;
  }
  .subnav ul li a {
    font-size: 11px;
  }
  .content_section > .container {
    background-size: 100% auto;
  }
  #hero .container .container-banner .bucket {
    width: 720px;
  }
  #hero .container .container-banner .bucket .image > .inner img {
    margin-left: -370px;
  }
  .sub_hero_section {
    min-height: 70px;
  }
  .sub_hero_section .sub_hero {
    margin-bottom: 12px;
  }
  .sub_hero_section .sub_hero div {
    height: auto;
    margin-left: 20px;
  }
  .sub_hero_section .sub_hero .left_col,
  .sub_hero_section .sub_hero .middle_col,
  .sub_hero_section .sub_hero .right_col {
    width: 100%;
    display: inline;
    float: none;
    margin-left: 0px;
  }
  .sub_hero_section .sub_hero .left_col p,
  .sub_hero_section .sub_hero .middle_col p,
  .sub_hero_section .sub_hero .right_col p {
    display: inline;
  }
  .stock_widget .top_section .left {
    float: none!important;
  }
  .stock_widget .top_section .right {
    float: none;
    font-size: 25px;
    margin-right: 0px;
    margin-left: 15px;
    padding-top: 5px;
  }
  .stock_widget .middle_section .left {
    width: auto;
  }
  .stock_widget .middle_section .left table.stock_table {
    margin-right: 2px;
  }
  .stock_widget .middle_section .left table.stock_table td.stock_label {
    padding-right: 3px;
  }
  .stock_widget .middle_section .right {
    font-size: 13px;
    width: auto;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 13px;
  }
  .stock_widget .middle_section .right .change_pct {
    font-size: 10px;
  }
  .feature_box .text_beside_image {
    float: left;
    width: 95px;
    margin-left: 10px;
  }
  .feature_box.annual_report img {
    width: 30px;
    height: auto;
  }
  .presentations_widget .inner .presentation .presentation_info {
    float: left;
    margin-left: 10px;
    width: 95px;
  }
  .presentations_widget .inner .presentation .presentation_info span.file_size {
    display: block;
    padding-left: 0px;
  }
  section.footer_brand_callout {
    background-color: #eaecf0;
    background-size: 1px 100%;
  }
  section.footer_brand_callout .avis {
    width: 236px;
  }
  section.footer_brand_callout .budget {
    width: 221px;
  }
  section.footer_brand_callout .budget_trucks {
    width: 221px;
  }
  footer .one,
  footer .four {
    width: 128px;
  }
  .inner_page_hero .brand_callouts .avis {
    width: 87px;
    height: auto;
  }
  .inner_page_hero .brand_callouts .budget {
    width: 80px;
    height: auto;
  }
}
/* @import "responsive-1200px-min.less"; */
@media (max-width: 767px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: static;
  }
  .navbar-fixed-top {
    margin-bottom: 18px;
  }
  .navbar-fixed-bottom {
    margin-top: 18px;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 5px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 7px 0 9px 0;
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: #999999;
    text-shadow: none;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 6px 15px;
    font-weight: bold;
    color: #606a74;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: transparent;
  }
  .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
  }
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: block;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 9px 15px;
    margin: 9px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  }
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }
  .navbar .btn-navbar {
    display: block;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .navbar .brand {
    width: 165px;
    padding-right: 5px;
    padding-top: 7px;
  }
  .navbar nav {
    margin-left: 0px;
    float: right;
  }
  .navbar nav #mainNav {
    /* First level */
  
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .navbar nav #mainNav > li {
    margin: 0px;
    padding: 0px;
    float: left;
  }
  .navbar nav #mainNav > li > a .inner {
    padding: 9px 9px 0px 9px;
    height: 36px;
  }
  .navbar nav ul.nav-level-1 {
    /* Second level */
  
  }
  .navbar nav ul.nav-level-2 {
    /* Third level */
  
  }
  /*
  	.navbar{
  		.navbar-inner {
  			padding-right: 0px;
  		}
  		.brand {
  			width: 165px;
  			padding-right: 10px;
  			padding-top: 7px;
  		}
  		.nav {
  			margin-right: 0px;
  		}
  	}
  */
  .navbar .nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
  }
  .navbar .nav > li > a .menu_text {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  header .navbar nav {
    padding: 12px 20px 0px 20px;
    width: 160px;
    position: absolute;
    right: -200px;
  }
  header .navbar nav ul {
    position: relative!important;
  }
  header .navbar nav ul li {
    float: none!important;
  }
  header .navbar nav #mainNav {
    /* First level */
  
  }
  header .navbar nav #mainNav > li > a .inner {
    background: none;
    height: auto;
    padding: 5px 0px;
    color: #fff;
    text-shadow: none;
    font-size: 13px;
  }
  header .navbar nav #mainNav > li > a:hover {
    background: none;
  }
  header .navbar nav #mainNav > li > a:hover > .outer {
    background: none;
  }
  header .navbar nav #mainNav > li > a:hover > .outer > .inner {
    color: #42B4E6;
    background: none;
    height: auto;
  }
  header .navbar nav #mainNav > li.path-selected > a,
  header .navbar nav #mainNav > li.selected > a {
    background: none;
  }
  header .navbar nav #mainNav > li.path-selected > a > .outer,
  header .navbar nav #mainNav > li.selected > a > .outer {
    background: none;
  }
  header .navbar nav #mainNav > li.path-selected > a > .outer > .inner,
  header .navbar nav #mainNav > li.selected > a > .outer > .inner {
    background: none;
    text-shadow: none;
  }
  header .navbar nav #mainNav > li.selected > a > .outer > .inner {
    color: #42B4E6;
  }
  header .navbar nav #mainNav > li.path-selected.has-children > a {
    background: none;
  }
  header .navbar nav #mainNav > li.path-selected.has-children > a > .outer {
    background: none;
  }
  header .navbar nav #mainNav > li.path-selected.has-children > a > .outer > .inner {
    background: none;
    height: auto;
  }
  header .navbar nav #mainNav > li.selected.has-children,
  header .navbar nav #mainNav > li.path-selected.has-children {
    padding-bottom: 0px;
  }
  header .navbar nav #mainNav > li.open > a {
    background: none;
  }
  header .navbar nav #mainNav > li.open > a > .outer {
    background: none;
  }
  header .navbar nav #mainNav > li.open > a > .outer > .inner {
    background: none;
    height: auto;
  }
  header .navbar nav #mainNav li ul {
    /* Second level */
  
    position: relative;
    top: 0px;
    left: 0px;
    height: auto;
  }
  header .navbar nav #mainNav li ul a {
    height: auto;
    padding: 5px 0px 5px 15px;
  }
  header .navbar nav #mainNav li ul > li.selected a,
  header .navbar nav #mainNav li ul > li.path-selected a {
    height: auto;
  }
  header .navbar nav #mainNav li ul li ul {
    /* Third level */
  
    display: none!important;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
  }
  header .navbar nav #mainNav li ul li ul a {
    height: auto;
    padding-left: 40px;
    color: #adb1b4;
  }
  header .navbar nav #mainNav li ul li ul > li.selected a {
    height: auto;
  }
  header .navbar nav .path-selected ul.nav-level-1,
  header .navbar nav .selected ul.nav-level-1 {
    display: block!important;
  }
  header .navbar nav .nav-level-1 .path-selected ul.nav-level-2,
  header .navbar nav .nav-level-1 .selected ul.nav-level-2 {
    display: block!important;
  }
  header .navbar .btn-navbar {
    display: block;
    margin: 10px 0px 0px 0px;
    padding: 6px 10px 8px 10px;
  }
}
