/* Elastislide Style */
.home-es-carousel-wrapper{
	padding:45px 27px;
	position:relative;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}
.home-es-carousel{
	overflow:hidden;
}
.home-es-carousel ul{
	display:none;
	padding:0px;
	margin:0px;
}
.home-es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.home-es-carousel ul li a{
	display:block;
	border:1px solid #ccc !important;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.home-es-carousel ul li.selected a{
	border:2px solid #047fb9 !important;
	opacity:1.0;
}
.home-es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:0px;
	background:transparent url(../image/home/thumb_scrollLeft.png)/*tpa=http://www.pepsico.com/image/home/thumb_scrollLeft.png*/ no-repeat top left;
	width:15px;
	height:35px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:0px;
	left:auto;
	background:transparent url(../image/home/thumb_scrollRight.png)/*tpa=http://www.pepsico.com/image/home/thumb_scrollRight.png*/ no-repeat top left;
}
.es-nav span:hover{
	opacity:1.0;
}
