#contentWSD {
    /*background-color: #12577f;*/
    background-image: url(../image/bg_shade.png)/*tpa=http://www.pepsico.com/image/bg_shade.png*/;
}

.driveChange {
    background-color: #ececec;
}

.pledge {
    background-color: #fff;
}

    .pledge p {
        text-align: center;
    }

.statistics {
    padding: 0;
}

    .statistics img {
        width: 100%;
    }

.formCtrlul li a{
  width: 100%;
  display: inline-block;
}

@media (min-width: 1200px) {
    #contentWSD {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}




.driveChange {
    background-color: #ececec;
}

.driveChange_select {
    width: 166px;
}

.pledge {
    background-color: #fff;
    overflow: hidden;
}

.driveChange p {
    clear: both;
    font-family: Sentinel A,Sentinel B,serif;
    font-size: 15px;
}

.pledge P {
    text-align: center;
    font-family:Sentinel A,Sentinel B,serif;
}

.pledge a {
    margin-left: 15px;
}

.driveChange h1 {
    margin: 0;
    font-family:Sentinel A,Sentinel B,serif;
}

.pledge button {
    color: #fff;
    border: none;
    background-color: #37a4d7;
    padding: 5px 10px 5px 5px;
}

    .pledge button:after {
        float: right;
        content: ">";
        color: #fff;
    }

.pledge p:nth-child(3) {
    color: red;
    font-size:25px;
}

    .pledge p:nth-child(3) label {
        font-family: sentinelBold;
        color: red;
        font-size:25px;
    }

.form-group {
    width: 160px;
}

.form-control {
    font-family: Sentinel A,Sentinel B,serif;
    background-image: url(../image/plus.png)/*tpa=http://www.pepsico.com/image/plus.png*/;
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 3px;
    padding-bottom: 0;
    height: 27px;
    border-radius: 0;
}

.formCtrlul {
    position: absolute;
    background: #fff;
    width: 160px;
    border: 1px solid #ddd;
    padding: 0px 0px 5px 0px;
    display: none;
    font-family: Sentinel A,Sentinel B,serif;
    font-size: 14px;
}

    .formCtrlul li {
        padding-left: 12px;
        color: #555;
    }

        .formCtrlul li:hover {
            background: #12577f;
        }

    .formCtrlul a {
        color: #555;
    }

    .formCtrlul li:hover a {
        color: white;
    }

    .formCtrlul li.selected {
        background: #12577f;
        color: white;
    }

        .formCtrlul li.selected a {
            color: white;
        }


select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: none;
    -moz-appearance: none;
    background: rgba(0,0,0,0);
}

.driverChange0 {
    font-size: 28px;
}

@media (min-width: 1200px) {
    .container .jumbotron, .container-fluid .jumbotron {
        background-color: #12577f;
        padding: 140px 11% 0;
    }

    .driveChange {
        position: relative;
        padding: 47px 124px;
    }

    .driveChange_select {
        float: right;
        margin-top: 5px;
    }

    .jumbotron h1 {
        font-size: 40px;
    }

    .pledge P button {
        font-size: 18px;
        margin-top: 25px;
        /*width: 250px;*/
    }
    /* .statistics{
   	height: 1266px;
   }*/
    #triangle-topright {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 70px solid #12577f;
        border-left: 60px solid transparent;
    }

    .form-group {
        width: 160px;
        float: right;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .container .jumbotron, .container-fluid .jumbotron {
        background-color: #12577f;
        padding: 140px 11% 0;
    }

    .driveChange {
        position: relative;
        padding: 47px 124px;
    }

    .driveChange_select {
        float: right;
        margin-top: 5px;
    }

    .jumbotron h1 {
        font-size: 40px;
    }

    .pledge P button {
        font-size: 18px;
        margin-top: 25px;
        /*width: 250px;*/
        padding: 5px;
    }

    .form-group {
        width: 160px;
        float: right;
    }

    /*   .statistics{
	background: url(../images/statistics_tablet.png);
}*/
    .statistics img {
        width: 100%;
    }

    #triangle-topright {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 70px solid #12577f;
        border-left: 60px solid transparent;
    }

    #contentWSD {
        padding-top: 60px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .container .jumbotron, .container-fluid .jumbotron {
        background-color: #12577f;
        padding: 85px 11% 0;
    }

    .statistics img {
        width: 100%;
    }

    .driveChange {
        position: relative;
        padding: 47px 130px;
    }

    #triangle-topright {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 70px solid #12577f;
        border-left: 60px solid transparent;
    }

    #contentWSD {
        padding-top: 60px;
    }

    .pledge P button {
        font-size: 18px;
        margin-top: 25px;
        /*width: 250px;*/
        padding: 5px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .container .jumbotron, .container-fluid .jumbotron {
        background-color: #12577f;
        padding: 85px 11% 0;
    }

    .statistics img {
        width: 100%;
    }

    .driveChange {
        position: relative;
        padding: 47px 30px;
    }

        .driveChange p:nth-child(1) {
            display: none;
        }



        .driveChange p:nth-child(2) {
            display: none;
        }

    #triangle-topright {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 70px solid #12577f;
        border-left: 60px solid transparent;
    }

    #contentWSD {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .driverChange1 {
        display: none;
    }

    .driverChange2 {
        display: none;
    }

    .pledge P button {
        font-size: 18px;
        margin-top: 25px;
        /*width: 250px;*/
        padding: 5px;
    }

   .driveChange h1 {
        font-size: 38px;
    }

    .driveChange p {
        font-size: 33px;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .container .jumbotron, .container-fluid .jumbotron {
        background-color: #12577f;
        padding: 85px 11% 0;
    }

    .statistics img {
        width: 100%;
    }

    .driveChange {
        position: relative;
        padding: 47px 24px;
    }

    .driverChange1 {
        display: none;
    }

    .driverChange2 {
        display: none;
    }

    #triangle-topright {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 70px solid #12577f;
        border-left: 60px solid transparent;
    }

    #contentWSD {
        padding-top: 60px;
    }

    .pledge P button {
        font-size: 18px;
        margin-top: 25px;
        /*width: 250px;*/
        padding: 5px;
    }

  .driveChange  h1 {
        font-size: 38px;
    }

    .driveChange p {
        font-size: 33px;
    }
}
