#nav-footer { bottom: 0; font-size: 0.917em; clear: both; left: 15px; position: absolute; width: 945px; }
#nav-footer-header { background: url(../img/nav-footer.matrix.png)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/nav-footer.matrix.png*/ no-repeat; display: block; height: 34px; overflow: hidden; text-indent: -9999px; }
#nav-footer-body { background: rgb(255,255,255); border: 0 solid rgb(221,221,221); border-width: 0 1px; display: none; padding-bottom: 40px; }
#nav-footer-body ul.nav { background: url(../img/bg.nav-footer.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/bg.nav-footer.gif*/; }
#nav-footer-body ul ul { margin-bottom: 10px; }
#nav-footer-body h2 { display: none; }
#nav-footer-body li { margin: 4px 0; }
#nav-footer-body a { color: rgb(51,51,51); }
#nav-footer-body .more a { background-image: url(../img/arrow.blk.gif)/*tpa=http://www.questdiagnostics.com/docroot/dgx/img/arrow.blk.gif*/ !important; }
#nav-footer-condition, #nav-footer-specialty, #nav-footer-test { float: left; padding: 10px 0; }
#nav-footer-condition { padding-left: 174px; width: 196px; }
#nav-footer-specialty { padding-left: 94px; width: 192px; }
#nav-footer-test { padding-left: 113px; width: 174px; }