@import url(../../../fonts.googleapis.com/css-family=Lato-300,400,700,900,400italic,700italic,900italic.css)/*tpa=https://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic,900italic*/;
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

.PaneHeader, .ModuleSearch {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.PaneContentInner, .PaneHeader, .PaneBreadcrumb, .PageHome .PaneContent, .PaneLeft .MailingListSignupContainer {
    zoom: 1;
}
.PaneContentInner:before, .PaneHeader:before, .PaneBreadcrumb:before, .PageHome .PaneContent:before, .PaneLeft .MailingListSignupContainer:before, .PaneContentInner:after, .PaneHeader:after, .PaneBreadcrumb:after, .PageHome .PaneContent:after, .PaneLeft .MailingListSignupContainer:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.PaneContentInner:after, .PaneHeader:after, .PaneBreadcrumb:after, .PageHome .PaneContent:after, .PaneLeft .MailingListSignupContainer:after {
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
    color: #3a3a3a;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.HtmlTextContainer {
    font-size: 14px;
    line-height: 24px;
}

html {
    -webkit-font-smoothing: antialiased;
}

.BodyBackground {
    background: #FFFFFF;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #e0b455;
}

a, a:active, a:visited {
    cursor: pointer;
}

a:hover {
    color: #043764;
    text-decoration: none;
}

a:hover, a:active {
    outline: none;
}

b, strong {
    font-weight: 700;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0 none;
}

p, ul, ol, table, pre, blockquote {
    margin: 0 0 20px 0;
}

blockquote {
    margin-left: 40px;
}

sup, sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: 0.5ex;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.LayoutDefault select, .LayoutDefault input[type="text"], .LayoutDefault textarea {
    font-size: 12px;
    font-weight: 700;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    border-color: #949494;
    border-radius: 3px;
    color: #707070;
    border: 1px solid #c1c0bf;
}

.LayoutDefault input[type="text"] {
    height: 16px;
}

.LayoutDefault input[type="text"], .LayoutDefault textarea {
    padding: 3px 0 3px 10px;
}

.LayoutDefault input[type=button], .LayoutDefault input[type=submit], .LayoutDefault button {
    cursor: pointer;
    color: #fff;
    background: url(../design/submit.png)/*tpa=http://www.pultegroupinc.com/files/design/submit.png*/ 0 0 repeat-x;
    text-shadow: -1px -1px #000;
    border: 1px solid #304d6c;
    height: 24px;
    padding: 0 7px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
}

.LayoutDefault input[type="radio"] {
    vertical-align: text-bottom;
}

.LayoutDefault input[type="checkbox"] {
    vertical-align: bottom;
    *vertical-align: baseline;
}

.LayoutDefault textarea {
    overflow: auto;
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table + small {
    margin-top: -15px;
    display: block;
    margin-bottom: 20px;
}

small {
    font-size: 0.8em;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

h1, .TitleLeft .ModuleTitle {
    font-size: 16px;
    margin: 0 0 15px 0;
    font-weight: normal;
    text-transform: uppercase;
    color: #043764;
    line-height: 1.2;
    padding: 7px;
    background-color: #f6f6f6;
}

h2 {
    font-size: 16px;
    margin: 0 0 15px 0;
    color: #e7a844;
}

h3 {
    font-size: 14px;
    margin: 0 0 10px 0;
}

.PaneLeft h1, .PaneRight h1,
div.rQL h1 {
    color: #e3b555;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0;
}

/*########    Start Main Navigation ##########*/
nav {
    background-color: #f6f6f6;
}
nav > ul > li > a {
    padding-left: 27px;
    background: url(../design/arr2.png)/*tpa=http://www.pultegroupinc.com/files/design/arr2.png*/ 6px 50% no-repeat;
}
nav > ul > li.expanded > a {
    background: url(../design/arr3.png)/*tpa=http://www.pultegroupinc.com/files/design/arr3.png*/ 6px 50% no-repeat;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav a {
    color: #043764;
    padding: 3px 7px 3px 27px;
    display: block;
}
nav a:hover {
    color: #e0b455;
}
nav li {
    font-size: 14px;
}
nav li li {
    font-size: 13px;
}
nav ul ul {
    display: none;
}
nav ul ul li {
    border-top: 1px solid #fff;
}
nav li.expanded > ul, nav li.selected > ul {
    display: block;
}
nav li.selected > a {
    font-weight: bold;
    color: #e0b455;
}
nav ul.level2 {
    border-bottom: 8px solid #fff;
}
nav ul.level3 a:before {
    content: "-";
    display: inline;
}




.RadMenu_Default.menu {
    float:none;
    text-align:left;
    margin:0;
    padding:0 0 0 0px;/* white-space:normal; */
}
.RadMenu_Default .rootGroup {
    width:100%;
    display:block;
    text-align:center;
}
.RadMenu_Default .rootGroup li a {
    padding: 3px 0 3px 27px;
    background: #f6f6f6 url(../design/arr2.png)/*tpa=http://www.pultegroupinc.com/files/design/arr2.png*/ 6px 50% no-repeat;
    color: #043764;
}
.RadMenu_Default .rootGroup .text {
    cursor:pointer;
    margin: 0;
    padding: 0;
    text-align: left;
}
.RadMenu_Default .rootGroup > li {
    width: 177px;
}
.RadMenu_Default .rootGroup > li.first {
    margin-left:0;
}

.RadMenu_Default .rootGroup > li .slide {
    display: block !important;
}

.RadMenu_Default .rootGroup a:hover {
    text-decoration:none;
    color: #e0b455;
}
.RadMenu_Default .rootGroup a.expanded, .RadMenu_Default .rootGroup a.selected {

}
.slide {
    background-color:#fff;
}
.RadMenu_Default .group {
    position:relative;
    margin-left:2px;
    text-align:left;
    border:1px solid #ccc;
}
.RadMenu_Default .group .text {
    padding:5px;
}

/*######## END Main Navigation    ##########*/
/*########    Start Containers    ##########*/
.LayoutDefault {
    width: 100%;
    min-width: 980px;
    overflow: hidden;
}

.outerH {
    background: #fff;

    -webkit-box-shadow: #e0e0e0 0 -3px 12px;
    -moz-box-shadow: #e0e0e0 0 -3px 12px;
    box-shadow: #e0e0e0 0 -3px 12px;
    behavior: url(../js/PIE/PIE.htc)/*tpa=http://www.pultegroupinc.com/files/js/PIE/PIE.htc*/;

    margin: 0 auto;
    max-width: 1250px;
    position: relative;
    z-index: 2;
}

.PageHome .outerH, .LayoutLanding .outerH {
    max-width: 2500px;
}

.PaneContentInner {
    padding-bottom: 50px;
}

.LayoutLanding .PaneContentInner {
    padding-top: 23px;
}

.HeaderContainer {
    height: 131px;
    position: relative;
    /*z-index: 1;*/
}

.PageHome .HeaderContainer {
    height: 450px;
}

.LayoutLanding .HeaderContainer {
    height: 350px;
}

.PaneLeft {
    width: 177px;
    float: left;
    padding: 0 0 0 0;
    margin-right: 44px;
}

.PaneContent {
    width: 534px;
    float: left;
    padding: 0;
    margin-right: 54px;
    position: relative;
    min-height: 422px;
    z-index: 1;
}
.PaneContent:before, .PaneContent:after {
    content: "";
    display: block;
    position: absolute;
    height: 422px;
    width: 1px;
    top: 0;
    z-index: 2;
    background-color: #e6e6e6;
}
.PaneContent:before {
    left: -27px;
}
.PaneContent:after {
    right: -27px;
}

.PaneRight {
    width: 168px;
    float: left;
    padding: 0 0 0 0;
}

.PaneContentInner, .FooterContainer {
    clear: both;
    width: 980px;
    margin: 0 auto;
    position: relative;
}

/*########    END Containers    ##########*/
/*########    Start Header    ##########*/
.HeaderContainer {
    clear: both;
}

.PaneHeader {
    width: 980px;
    margin: 0 auto;
    padding: 16px 51px 0 23px;
    position: relative;
    z-index: 9;
}

.PaneNavigation {
    width: 980px;
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    overflow: visible;
    left: 50%;
    margin-left: -490px;
    bottom: 0;
}

.ClientLogo {
    float: left;
    clear: none;
    margin-top: 14px;
}

.PaneBreadcrumb {
    color: #818181;
}
.PaneBreadcrumb a {
    color: #818181;
}

.PageHome .PaneBreadcrumb, .LayoutLanding .PaneBreadcrumb {
    display: none;
}

.Breadcrumb {
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #e6e6e6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
}

.Breadcrumb .BreadcrumbSeparator {
    margin: 0 4px;
}

.PageHome .Breadcrumb {
    display: none;
}

.ModuleSearch {
    padding-left: 12px;
    padding-top: 5px;
    float: right;
    margin-left: 15px;
    background: transparent url(../design/Serach-Field.png)/*tpa=http://www.pultegroupinc.com/files/design/Serach-Field.png*/ 0 0 no-repeat;
    width: 199px;
    height: 25px;
    margin-left: 23px;
}
.ModuleSearch input {
    float: left;
    border: 0 none;
    display: block;
    background-color: transparent;
}
.ModuleSearch input[type="submit"] {
    border: 0 none;
    padding: 0;
    width: 12px;
    height: 12px;
    background: url(../design/mag.png)/*tpa=http://www.pultegroupinc.com/files/design/mag.png*/ 0 -12px no-repeat;
    text-indent: -9999px;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 2px;
}
.ModuleSearch input[type="submit"]:hover {
    background-position: 0 0;
}
.ModuleSearch input[type="text"] {
    outline: none;
    width: 165px;
    padding: 0;
    margin: 0;
    border: 0 none;
}

div.HeaderLinks {
    display: block;
    float: right;
    position: relative;
    z-index: 3;
    padding-top: 5px;
}
div.HeaderLinks h1 {
    font-size: 14px;
    line-height: 1;
    color: #fff;
    font-weight: 700;
    padding-left: 18px;
    background: url(../design/arr1.png)/*tpa=http://www.pultegroupinc.com/files/design/arr1.png*/ 0 0 no-repeat;
    cursor: pointer;
    padding: 0 0 0 23px;
    text-shadow: rgba(0, 0, 0, 0.75) 2px 2px 5px;
}
div.HeaderLinks ul {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 22;
    list-style: none;
    top: 15px;
    width: 120%;
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    -webkit-transition: all, 0.1s, ease-in;
    -moz-transition: all, 0.1s, ease-in;
    -o-transition: all, 0.1s, ease-in;
    transition: all, 0.1s, ease-in;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}
div.HeaderLinks:hover ul {
    visibility: visible;
    top: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
div.HeaderLinks li {
    padding: 3px 5px;
    background-color: #f6f6f6;
    margin-bottom: 1px;
    display: block;
    line-height: 1;
}
div.HeaderLinks a {
    display: block;
}

.PaneHeader2 {
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -604px;
    top: 0;
}
.PaneHeader2:after {
    content: "";
    background: #fdf9f1;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100.5%;
    width: 1500px;
    z-index: 1;
}

.h-elem {
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: -71px;
    background: url(../design/h-elem-s.png)/*tpa=http://www.pultegroupinc.com/files/design/h-elem-s.png*/ 0 0 no-repeat;
    width: 210px;
    height: 130px;
    display: block;
}

.LayoutLanding .h-elem {
    right: auto;
    left: -5px;
    background: url(../design/h-elem.png)/*tpa=http://www.pultegroupinc.com/files/design/h-elem.png*/ 0 0 no-repeat;
    width: 257px;
    height: 243px;
}

.PageHome .h-elem {
    display: none;
}

/*########    End Header    ##########*/
/*########    Start Home    ##########*/
.PageHome .mainCol {
    width: 726px;
    float: left;
    margin-right: 30px;
    position: relative;
    z-index: 1;
}
.PageHome .mainCol:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    z-index: 2;
    background-color: #e6e6e6;
    right: -15px;
}
.PageHome .PaneHeader2 {
    margin-left: -613px;
}
.PageHome .PaneBottom {
    clear: both;
    float: none;
    width: 100%;
}
.PageHome .PaneContentInner {
    padding-top: 13px;
}
.PageHome .PaneLeft {
    width: 153px;
    margin-right: 16px;
}
.PageHome .PaneRight {
    width: 224px;
}
.PageHome .PaneContent {
    width: 557px;
    margin-right: 0;
    min-height: 1px;
}
.PageHome .rSQ {
    display: block;
}
.PageHome .rSQ p, .PageHome .rSQ .StockTableText {
    display: none;
}
.PageHome .rSQ p.mhead {
    display: block;
}
.PageHome .rSQ p.mhead .market {
    display: inline;
}

.homeSliderH .navH {
    position: absolute;
    z-index: 30;
    bottom: 0;
    left: 50%;
    margin-left: -490px;
    width: 980px;
    display: block;
    height: 36px;
}
.homeSliderH #nav {
    background-color: #e3b556;
    height: 12px;
    padding: 12px 6px;
    float: right;
}
.homeSliderH #nav a {
    margin: 0 3px;
    display: inline-block;
    background: url(../design/hsbull.png)/*tpa=http://www.pultegroupinc.com/files/design/hsbull.png*/ 0 0 no-repeat;
    width: 12px;
    height: 12px;
    overflow: hidden;
    text-indent: -9999px;
    text-transform: uppercase;
}
.homeSliderH #nav a:hover, .homeSliderH #nav a.activeSlide {
    background-position: 0 -12px;
}

.homeSlider {
    position: relative;
    width: 1226px;
    height: 450px;
    margin: 0 auto;
}
.homeSlider .slide {
    height: 450px;
    width: 100%;
    z-index: 1;
    font-size: 18px;
    line-height: 32px;
}
.homeSlider .slide .banner {
    position: absolute;
    z-index: 1;
}
.homeSlider .slide .caption {
    position: relative;
    z-index: 2;
    width: 780px;
    margin: 0 auto;
    padding-top: 160px;
}
.homeSlider .slide h1 {
    font-size: 36px;
    text-transform: none;
    color: #033764;
    margin-bottom: 20px;
    background-color: transparent;
}
.homeSlider .slide ul {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}
.homeSlider .slide li {
    background: url(../design/bull.png)/*tpa=http://www.pultegroupinc.com/files/design/bull.png*/ 0 13px no-repeat;
    display: block;
    padding-left: 18px;
}
.homeSlider .slide li span {
    background: url(../design/slider-text-bg.png)/*tpa=http://www.pultegroupinc.com/files/design/slider-text-bg.png*/ 0px 0px;
    padding: 4px 15px;
}
.homeSlider .slide .readMore {
    padding-left: 30px;
    font-size: 14px;
    background: url(../design/arr-rm.png)/*tpa=http://www.pultegroupinc.com/files/design/arr-rm.png*/ 0 0 no-repeat;
    line-height: 23px;
    display: inline-block;
    color: #033764;
    text-transform: uppercase;
    font-weight: bold;
}
.homeSlider .slide .readMore:hover {
    background-position: 0 -23px;
    color: #e3b556;
}

.brandSliderH {
    position: relative;
    z-index: 1;
    border: 1px solid #d0d0d0;
    background: url(../design/bssh.png)/*tpa=http://www.pultegroupinc.com/files/design/bssh.png*/ 0 0 repeat-x;
}
.brandSliderH .sliderNav a {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 32px;
    height: 105px;
    display: block;
    background: #f9f0dd url(../design/bs-arr.png)/*tpa=http://www.pultegroupinc.com/files/design/bs-arr.png*/ 0 0 no-repeat;
    text-indent: -9999px;
    text-transform: uppercase;
    overflow: hidden;
}
.brandSliderH .sliderNav a.next {
    right: 0;
    background-position: -684px -175px;
}
.brandSliderH .sliderNav a.next:hover {
    background-position: -684px 45px;
}
.brandSliderH .sliderNav a.prev {
    left: 0;
    background-position: 5px -175px;
}
.brandSliderH .sliderNav a.prev:hover {
    background-position: 5px 45px;
}
.brandSliderH .brandSlider {
    height: 105px;
    margin: 0 32px;
}
.brandSliderH .slide {
    height: 105px;
    display: table !important;
    background-color: #fff;
    background: white url(../design/bssh.png)/*tpa=http://www.pultegroupinc.com/files/design/bssh.png*/ 0 0 repeat-x;
}
.brandSliderH .thumb, .brandSliderH .desc {
    display: table-cell;
    height: 105px;
    vertical-align: middle;
}
.brandSliderH .thumb {
    width: 188px;
    text-align: center;
}
.brandSliderH .desc {
    font-size: 12px;
    line-height: 18px;
    width: 450px;
}
.brandSliderH .desc p {
    margin: 0;
}
.brandSliderH .desc a {
    text-transform: uppercase;
    font-weight: bold;
}

.PageHome .ModulePressReleaseLatest {
    float: left;
    width: 375px;
}
.PageHome .ModulePressReleaseLatest h1 {
    margin: 0;
}
.PageHome .ModulePressReleaseLatest .ModuleDate {
    font-size: 14px;
    font-style: italic;
}
.PageHome .ModulePressReleaseLatest .ModuleHeadlineLink {
    width: 275px;
}

.ModulePressReleaseLatest .ModuleViewAllLink {
    color: #043764;
    display: block;
    margin: 5px 10px 20px;
}

div.hQL {
    float: right;
    padding: 8px;
    background-color: #f6f6f6;
    text-align: center;
    width: 148px;
    text-transform: uppercase;
}
div.hQL a {
    color: #043764;
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 5px 0;
}
div.hQL ul {
    margin: 0;
    padding: 0;
}
div.hQL li:first-child {
    margin-bottom: 20px;
}
div.hQL li {
    margin-bottom: 10px;
}
div.hQL div {
    float: none !important;
}
div.hQL img {
    display: block;
}

/*########    End Home    ##########*/
.ClientLogo br, .LayoutHomePageLayout .ShareThisContainer, .TitleRight, .NoBr, .SearchResultsUrl {
    display: none;
}

.HeaderContainer ul, .FooterContainer ul {
    margin: 0;
    padding: 0;
    list-style: none outside;
}

/*########    Start Footer    ##########*/
.FooterContainer {
    color: #3a3a3a;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    padding: 10px 0;
}
.FooterContainer a {
    color: #3a3a3a;
}
.FooterContainer .HtmlTextContainer {
    font-size: 10px;
}

.PaneFooter {
    position: relative;
    background: url(../design/acc.png)/*tpa=http://www.pultegroupinc.com/files/design/acc.png*/ 0 0 no-repeat;
}

.Copyright {
    float: none;
    width: auto;
}

.FooterLinks ul li {
    display: inline;
}

.FooterLinks a {
    text-decoration: none;
}

div.FooterLinks .QuickLinkSeparator {
    display: inline-block !important;
    zoom: 1;
    *display: inline;
    margin: 0 2px;
    font-size: 10px;
    vertical-align: top;
}

.Q4FooterContainer {
    padding: 0 !important;
}

/*########    END Footer    ##########*/
.PrintPage, .shareThis {
    float: right;
    width: auto;
    text-align: right;
    padding: 5px 0;
    margin-left: 10px;
}

.PrintPage {
    margin-right: 225px;
}

.clear {
    clear: both;
    float: none;
    width: 100%;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.clear .mb {
    margin-bottom: 20px;
}

.RequiredField {
    color: Red;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* Modules */
.PaneLeft .MailingListSignupContainer {
    background-color: #fcf8ee;
    border-top: 1px solid #e6e6e6;
    padding: 10px 0 0 10px;
    text-transform: uppercase;
}
.PaneLeft .MailingListSignupContainer .MailingListListTable {
    color: #707070;
    font-size: 9px;
}
.PaneLeft .MailingListSignupContainer .MailingListsHeading, .PaneLeft .MailingListSignupContainer .RequiredField, .PaneLeft .MailingListSignupContainer .MailingListCol1, .PaneLeft .MailingListSignupContainer .MailingListCol1 span {
    display: none;
    visibility: hidden;
}
.PaneLeft .MailingListSignupContainer .GridActions {
    padding: 2px 0 0 2px;
    background-color: #fff;
    float: right;
}
.PaneLeft .MailingListSignupContainer .GridActions input[type="submit"] {
    margin: 0;
}
.PaneLeft .MailingListSignupContainer input[type="text"] {
    width: 140px !important;
    font-size: 10px;
    text-transform: uppercase;
}
.PaneLeft .MailingListSignupContainer .ErrorContainer {
    text-transform: none;
    color: red;
    font-size: 11px;
}
.StockQuoteContainer .ErrorContainer {
    display: none;
}

div.lQL {
    padding: 3px 0 15px;
}
div.lQL ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
div.lQL li {
    border: 1px solid #cccccc;
    margin-bottom: 1px;
}
div.lQL a {
    display: block;
    line-height: 20px;
    background: white url(../design/lqlbg.png)/*tpa=http://www.pultegroupinc.com/files/design/lqlbg.png*/ 0 100% repeat-x;
    color: #9ca6b4;
    border-left: 6px solid #cda44e;
    padding-left: 8px;
    text-transform: uppercase;
    font-size: 11px;
}

div.rQL {
    margin-bottom: 20px;
    display: block;
}
div.rQL h1 {
    margin-bottom: 6px;
}
div.rQL ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
div.rQL li {
    display: block;
    margin-bottom: 3px;
}
div.rQL a {
    background: url(../design/arr4.png)/*tpa=http://www.pultegroupinc.com/files/design/arr4.png*/ 0 5px no-repeat;
    color: #231f20;
    display: block;
    padding-left: 13px;
}

/* Financial Report */
.FinancialReportContainer {
    vertical-align: top;
}

.FinancialReportContainer .CoverImagePane {
    vertical-align: top;
}

.AnnualQuarterlyReportText {
    display: none;
}

.FinancialReportContainer h4 {
    font-weight: normal;
    padding: 0;
}

.FinancialReportLatestContainer table {
    margin: 0;
}

.FinancialReportContainer ul, .FinancialReportLatestTable ul {
    margin: 0;
    padding: 0 0 10px 0;
}

.FinancialReportContainer li, .FinancialReportLatestTable ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.FinancialReportContainer .FileType {
    font-weight: normal;
}

/*Mailing List */
.ActionButton, .SubmitButton {
    margin-top: 10px;
}

.MailingListCol1 {
    white-space: nowrap;
    width: 10% !important;
    padding-right: 10px;
}

.MailingListCol2 {
    white-space: nowrap;
    width: 90% !important;
    padding: 3px 0;
}

.MailingListCol2 input {
    width: 200px;
}

.MailingListTable {
    margin: 0 0 15px 0;
}

.MailingListConfirmation, .MailingListActivationMessage {
    display: block;
    padding-top: 15px;
    font-weight: bold;
}

.EditSubscriberConfirmation {
    font-weight: bold;
}

.MailingListListTable input {
    padding-right: 10px;
}

/* %=MailingListUnsubscribe */
.MailingListUnsubscribeMessage {
    font-weight: bold;
}

.MailingListUnsubscribeAction {
    padding-top: 15px;
    font-weight: bold;
    display: block;
}

.MailingListUnsubscribeMessage {
    font-weight: bold;
}

/* Search */
.SearchResultsUrl {
    display: none;
}

/* Site Map */
.SiteMapContainer ul {
    margin-left: 20px;
}

.SiteMap-Level3 {
    margin-left: 20px;
}

.SiteMap-Level4 {
    margin-left: 40px;
}

.SiteMap-Level5 {
    margin-left: 60px;
}

/* End Sitemap */
/* Start Stocks */
.StockQuoteContainer h1.StockPage {
    display: none;
}

.StockPriceDown {
    color: Red;
}

.StockPriceUp {
    color: Green;
}

/* GRID STOCKS chart specs: 355x300 */
.stockPage .StockQuoteContainer, .stockPage .StockHistorical {
    margin-bottom: 20px;
}
.stockPage .rSQ {
    display: none;
}
.stockPage p {
    margin: 0;
    text-align: right;
    display: inline-block;
    padding: 0 2px;
    width: 47%;
    border-bottom: 1px solid #c7c7c7;
}
.stockPage p > span:first-child {
    float: left;
}
.stockPage p a {
    color: #3a3a3a;
}
.stockPage .StockTableItem.Alt.Last p:first-child {
    display: none;
}

/* Custom */
.Button, .ActionButton, .HeaderSearchImg, .InputButton, .SubmitButton {
    padding: 1px 10px;
}

.MailingListSignupContainer {
    margin-bottom: 20px;
}

.MailingListSignupContainer table {
    margin: 0;
}

.PhotoLeft {
    float: left;
    margin: 0 10px 10px 0;
}

.PhotoRight {
    float: right;
    margin: 0 0 10px 10px;
}

ul.NoBullets {
    margin: 0 0 20px;
    padding: 0;
}

.NoBullets li {
    list-style: none;
}

.RssLinkTopContainer {
    position: absolute;
    right: 8px;
    top: 8px;
}
.RssIcon {
    margin:0;
    padding: 0;
}

h1 .RssLinkTopContainer {
    position: static;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    float: none;
    padding: 0 5px 3px;
}
h1 .RssLinkTopContainer img, h1 .RssLinkTopContainer a {
    vertical-align: top;
    padding: 5px 3px;
}
h1 .RssLinkTopContainer img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

.ModulePresentation, .ModulePresentationLatest, .ModulePressRelease, .ModulePressReleaseLatest, .ModuleEvent, .ModuleEventLatest,
.RegulatoryFilingContainer {
    position: relative;
}
.PaneContent .ModuleContainer {
    margin-top: 20px;
}

.ContentPaneDiv > span:first-child .ModuleContainer {
    margin-top: 0px;
}

.CustomTable {
    width: 100%;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    line-height: 1;
}

.CustomTable th, .CustomTable td {
    padding: 10px;
    text-align: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.CustomTable th[align="center"], .CustomTable td[align="center"] {
    text-align: center;
}

.CustomTable th[align="right"], .CustomTable td[align="right"] {
    text-align: right;
}

.commaSuffix, .PersonComma.PersonTitleComma {
    display: none;
}

.commaName {
    margin-left: -4px;
}

#SlideshareFeed {
    display: none;
}

.rSQ {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background-color: #043764;
    margin-bottom: 15px;
}
.rSQ span, .rSQ a {
    color: #fff;
}
.rSQ .StockTableTextLabel {
    display: none;
}
.rSQ p {
    margin: 0;
    padding-left: 13px;
    border-bottom: 1px solid #1c4c75;
    height: 19px;
    line-height: 19px;
}
.rSQ p.mhead {
    font-size: 16px;
    font-size/*\**/: 14px\9;
    border-bottom: 1px solid #fff;
    height: 33px;
    line-height: 33px;
}
.rSQ p.mhead .market {
    font-size: 12px;
    display: none;
}
.rSQ .StockTableText {
    font-size: 10px;
    padding: 10px 13px;
    border-bottom: 1px solid #fff;
}
.rSQ .StockTableText span {
    color: #7da2b8;
}
.rSQ .viewMore {
    display: block;
    text-transform: uppercase;
    padding-left: 13px;
    height: 30px;
    line-height: 30px;
    display: block;
}
.rSQ .viewMore a {
    padding-right: 23px;
    font-size: 11px;
    background: url(../design/arr2.png)/*tpa=http://www.pultegroupinc.com/files/design/arr2.png*/ 100% 50% no-repeat;
    display: inline-block;
    color: #e3b556;
}
.rSQ .viewMore a:hover {
    color: #fff;
    background-image: url(../design/arr5.png)/*tpa=http://www.pultegroupinc.com/files/design/arr5.png*/;
}

.featuredLink {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 10px solid #f6f6f6;
}
.featuredLink .ModuleHeader, .featuredLink .ModuleHeader, .featuredLink .ModuleDate, .featuredLink .ModuleFileSizeText, .featuredLink .ModuleYearNavContainer {
    display: none;
}
.featuredLink .ModuleItemRow {
    padding: 0;
}
.featuredLink .ModuleThumbnail {
    display: block;
    position: relative;
    z-index: 1;
    padding-bottom: 10px;
}
.featuredLink .ModuleThumbnail img {
    max-width: 100%;
    display: block;
}
.featuredLink .ModuleDate + span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.featuredLink .ModuleHeadlineLink {
    display: block;
    padding-right: 5px;
    vertical-align: bottom;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 10px;
    background: url(../design/Mask.png)/*tpa=http://www.pultegroupinc.com/files/design/Mask.png*/ 100% 0 no-repeat;
    color: #043764;
    font-size: 12px;
    font-weight: bold;
    width: auto;
}
.featuredLink .ModuleHeadlineLink span {
    padding-right: 22px;
    background: url(../design/arr1.png)/*tpa=http://www.pultegroupinc.com/files/design/arr1.png*/ 100% -86px no-repeat;
}
.featuredLink .ModuleHeadlineLink:hover span {
    background-position: 100% 2px;
}
.featuredLink .ModuleFileDescriptionText {
    display: none;
    padding: 10px 5px;
    background-color: #f6f6f6;
    font-size: 11px;
}

.PageHome .featuredLink {
    border-bottom: 0;
}
.PageHome .featuredLink .ModuleFileDescriptionText {
    display: block;
}
.PageHome .featuredLink .ModuleThumbnail {
    padding-bottom: 45px;
}

.ModuleItemRow, .ModuleHeader {
    display: block;
    padding: 8px;
}
.ModuleItemRow.ModuleItemAlt, .ModuleHeader.ModuleItemAlt {
    background-color: #fdfbf5;
}
.ModuleItemRow > *, .ModuleHeader > * {
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: top;
}

.ModuleHeader {
    border-bottom: 1px solid #e4e3e0;
}

.ModuleItemRow {
    border-bottom: 1px solid #e4e3e0;
}

/** > .ModuleItemRow:first-child, .ModuleHeader + .ModuleItemRow {
    border-top: 0 none;
}*/

.ModuleDate {
    font-weight: bold;
    font-size: 12px;
    width: 75px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    color: #e0b455;
}
.ModuleEventDetails .ModuleDate {
    width: auto;
}

.ModuleTime {
    font-size: 12px;
}

.ModuleHeadlineLink {
    width: 385px;
    color: #043764;
}
.hrefWebcast {
    margin-left: 80px;
}
.ModuleHeader {
    text-transform: uppercase;
}

.highlightDoc {
    float: right;
    width: 170px;
    margin: 0 0 10px 20px;
}
.highlightDoc .ModuleHeader, .highlightDoc .ModuleHeader, .highlightDoc .ModuleDate, .highlightDoc .ModuleFileSizeText, .highlightDoc .ModuleYearNavContainer {
    display: none;
}
.highlightDoc .ModuleThumbnail {
    display: block;
}
.highlightDoc .ModuleThumbnail + span {
    display: block;
    padding-left: 20px;
    background: url(../design/arr4.png)/*tpa=http://www.pultegroupinc.com/files/design/arr4.png*/ 0 50% no-repeat;
}
.highlightDoc .ModuleFileDescriptionText {
    display: block;
    font-size: 12px;
}
.highlightDoc .ModuleHeadlineLink {
    width: auto !important;
}
.mod .ModuleYearNavContainerInner {
    display: none;
}


/* Investors Landing - News & Events */
.news.NTtabs,
.events.NTtabs {
    border: 1px solid #d0d0d0;
    border-top: 0 none;
    padding: 0 10px 20px;
    margin: 0;
    position: relative;
    top: -5px;
    box-shadow:         inset 0 1px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    inset 0 1px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15);
}
.news.NTtabs .ModuleViewAllLink {
    position: relative;
    left: 10px;
    margin: 4px 0 0;
}
.tabsNT {
    margin: 0;
    background: #fff;
    position: relative;
    z-index: 2;
    border: 1px solid #d0d0d0;
    border-bottom: 0 none;
}
.NTtabs {
    display: none;
}
.NTtabs .ModuleTitle {
    display: none;
}
.NTtabs .ModuleContainerInnerTop {
    padding-top: 7px;
}
.tabsNT li {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 140px;
    background: #fcf8ee;
    margin: 0 -3px 0 0;
    text-align: right;
    padding: 6px 5px 0px;
    text-transform: uppercase;
    font-weight: bold;
}
.tabsNT li.news {
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}
.tabsNT li.events {
    border-left: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}
@media screen and (min-width:0\0) {
    .tabsNT li    {
     margin: 0 -2px 0 0;
    }
}
@-moz-document url-prefix() {
    .tabsNT li    {
     margin: 0 -2px 0 0;
    }
}
.tabsNT li .RssLinkTopContainer {
    display: none;
    position: absolute;
    top: 10px;
    *top: 4px;
    left: 65px;
    width: 40px;
}
.tabsNT li .RssLinkTopContainer img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}
.tabsNT li.active .RssLinkTopContainer {
    display: block;
}
.tabsNT li a {
    display: block;
    padding: 7px 9px 5px;
}
.tabsNT li a span {
    padding: 0 0 0 20px;
    background: url(../design/arr2.png)/*tpa=http://www.pultegroupinc.com/files/design/arr2.png*/ 0px 50% no-repeat;
}
.tabsNT li.active a span {
    padding: 0;
    background: transparent;
}

.tabsNT li.active {
    background: #fff;
    width: 371px;
    padding-bottom: 1px;
    text-align: left;
    border: 0 none;
    box-shadow:         inset 0 1px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    inset 0 1px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15);
}
.tabsNT li.active > a {
    background: #f0f0f0;
    color: #043764;
}

/*    #####    Q4Gallery    #####    */
.PhotoGallery .Q4Gallery > h3 {
    display: none;
}

.PhotoGallery .Q4Gallery > div ul li {
    text-align: center;
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: top;
    width: 150px;
    margin: 0 4px 8px;
    height: 180px;
    padding: 10px;
    background: #f6f6f6;
    position: relative;
}
.PhotoGallery .Q4Gallery > div ul li a {
    display: block;
}
.PhotoGallery .Q4Gallery > div ul li a img {
    max-width: 150px;
    max-height: 140px;
}
.PhotoGallery .Q4Gallery > div ul li > span {
    position: absolute;
    bottom: 5px;
    width: 150px;
    left: 10px;
}

/*.PageOurBrandsCentex .PhotoGallery .Q4Gallery ul li .title,
.PageOurBrandsDelWebb    .PhotoGallery .Q4Gallery ul li .title,
.PageOurBrandsPulteHomes    .PhotoGallery .Q4Gallery ul li .title {
display: none;
}
.PageOurBrandsCentex .PhotoGallery .Q4Gallery ul li,
.PageOurBrandsDelWebb    .PhotoGallery .Q4Gallery ul li,
.PageOurBrandsPulteHomes    .PhotoGallery .Q4Gallery ul li {
height: 100px;
}
.PageOurBrandsCentex .PhotoGallery .Q4Gallery ul li a img,
.PageOurBrandsDelWebb    .PhotoGallery .Q4Gallery ul li a img,
.PageOurBrandsPulteHomes    .PhotoGallery .Q4Gallery ul li a img {
height: 100px;
}*/

.Accordion .AccordionItemRow {
    margin-bottom: 8px;
}
.Accordion .AccordionItemRow h3 {
    padding: 5px 10px 5px 25px;
    margin: 0;
    background: #f6f6f6 url(../design/arr2.png)/*tpa=http://www.pultegroupinc.com/files/design/arr2.png*/ 7px 50% no-repeat;
    cursor: pointer;
}

.Accordion .AccordionItemRow h3.active {
    background: #f6f6f6 url(../design/arr3.png)/*tpa=http://www.pultegroupinc.com/files/design/arr3.png*/ 7px 50% no-repeat;
}

.Accordion .AccordionItemRow div {
    padding: 5px 10px 5px 20px;
    border-top: 1px solid #fff;
    display: none;
}

.ModulePressRelease h1 {
    margin-bottom: 5px;
}
.ModulePressRelease .ModuleYearNavContainer {
    position: absolute;
    top: 9px;
    right: 10px;
}

.ModulePressRelease select {
    margin-left: 8px;
}
.ModulePressRelease .ModuleHeader {
    padding: 0 8px 5px;
}
.ModulePressRelease .ModuleHeader span {
    font-size: 11px;
    width: 75px;
    padding: 5px 2px 0px;
}

.NewsWidget.ModulePressRelease .ModuleItemRow .newsFile.PDF {
    display: inline-block;
    *display: block;
    zoom: 1;
    vertical-align: top;
    width: 26px;
    height: 18px;
    margin: 1px 0 0 20px;
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -54px 0px no-repeat;
}
.NewsWidget.ModulePressRelease .ModuleItemRow .newsFile.PDF:hover {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -54px -18px no-repeat;
}

/*    #####    Annual Reports    #####    */
.FinancialReportContainer .FinancialListContainer {
    padding: 0;
}
.FinancialReportContainer .FinancialListContainer > li {
    padding: 8px;
    border-bottom: 1px solid #e4e3e0;
}
.FinancialReportContainer .FinancialListContainer > li:first-child {
 border-top: 1px solid #e4e3e0;
}
.FinancialReportContainer .FinancialListContainer > li table {
    margin: 0;
}
.FinancialReportContainer .FinancialListContainer table tr td.YearPanel {
    width: 75px;
    padding: 0;
    vertical-align: top;
}
.FinancialReportContainer .FinancialListContainer table tr td.YearPanel h2 {
    font-size: 13px;
    margin: 0;
}

.FinancialReportContainer .FinancialListContainer table tr td.LeftPad20 {
    width: 440px;
}
.FinancialReportContainer .FinancialListContainer .AnnualReportPanel h3,
.FinancialReportContainer .FinancialListContainer .AnnualReportPanel ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin: 0;
    padding: 0;
}
.FinancialReportContainer .FinancialListContainer .AnnualReportPanel ul li {
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: top;
    margin-right: 3px;
}

.FinancialReportContainer .FinancialListContainer .AnnualReportPanel h3 {
    width: 350px;
    font-weight: normal;
}
.FinancialReportContainer .FinancialListContainer .AnnualReportPanel ul li .ReportLink {
    display: block;
    width: 25px;
    height: 18px;
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -108px 0px no-repeat;
}
.FinancialReportContainer .FinancialListContainer .AnnualReportPanel ul li .ReportLink:hover {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -108px -18px no-repeat;
}
.FinancialReportContainer .FinancialListContainer .AnnualReportPanel ul li .ReportLink.pdf {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -54px 0px no-repeat;
}
.FinancialReportContainer .FinancialListContainer .AnnualReportPanel ul li .ReportLink.pdf:hover {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -54px -18px no-repeat;
}
.FinancialReportContainer .FinancialListContainer .AnnualReportPanel ul li .ReportLink span.h4 {
    display: none;
}
.FinancialReportContainer .AnnualHeader {
    padding: 8px;
    text-transform: uppercase;
    font-size: 11px;
}
.FinancialReportContainer .AnnualHeader span {
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: top;
}
.FinancialReportContainer .AnnualHeader span.date {
    width: 75px;
}
.FinancialReportContainer .AnnualHeader span.description {
    width: 350px;
}
.FinancialReportContainer .AnnualHeader span.download {
    width: 90px;
}

.FinancialReportContainer h1 {
    margin-bottom: 5px;
}

/*    #####    SEC Filings    #####    */
.SECContainer {
    position: relative;
}
.SECContainer h1 {
    margin-bottom: 5px;
}

.SECContainer .slectCategory {
    position: absolute;
    top: 5px;
    right: 100px;
}
.SECContainer #Years {
    position: absolute;
    top: 5px;
    right: 8px;
}

.SECContainer .ModuleHeader {
    font-size: 11px;
    text-transform: uppercase;
}
.SECContainer .ModuleHeader span,
.SECContainer .SECListContainer .ModuleItemRow > span,
.SECContainer .SECListContainer .ModuleItemRow > a,
.SECContainer .SECListContainer .ModuleItemRow > ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}
.SECContainer .ModuleHeader .Date,
.SECContainer .SECListContainer .ModuleItemRow .SECDate {
    width: 65px;
    padding-right: 5px;
}
.SECContainer .SECListContainer .ModuleItemRow .SECDate {
    font-size: 12px;
    color: #e0b455;
}
.SECContainer .SECListContainer .ModuleItemRow .SECType,
.SECContainer .SECListContainer .ModuleItemRow .SECTitle {
    font-size: 13px;
    color: #3a3a3a;
}
.SECContainer .ModuleHeader .Filing,
.SECContainer .SECListContainer .ModuleItemRow .SECType {
    width: 70px;
    text-align: center;
    padding-right: 5px;
}
.SECContainer .ModuleHeader .Description,
.SECContainer .SECListContainer .ModuleItemRow .SECTitle {
    width: 230px;
    padding-right: 5px;
}
.SECContainer .ModuleHeader .Download,
.SECContainer .SECListContainer .ModuleItemRow .DocumentList {
    width: 136px;
    margin:0;
    padding: 0;
}
.SECContainer .SECListContainer .ModuleItemRow .DocumentList li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin-right: 2px;
}
.SECContainer .SECListContainer .ModuleItemRow .DocumentList li a {
    width: 25px;
    height: 18px;
    display: block;
}
.SECContainer .SECListContainer .ModuleItemRow .DocumentList li.RTF a {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ 0px 0px no-repeat;
}
.SECContainer .SECListContainer .ModuleItemRow .DocumentList li.RTF a:hover {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ 0px -18px no-repeat;
}
.SECContainer .SECListContainer .ModuleItemRow .DocumentList li.CONVPDF a {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -54px 0px no-repeat;
}
.SECContainer .SECListContainer .ModuleItemRow .DocumentList li.CONVPDF a:hover {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -54px -18px no-repeat;
}
.SECContainer .SECListContainer .ModuleItemRow .DocumentList li.XBRL a {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -27px 0px no-repeat;
}
.SECContainer .SECListContainer .ModuleItemRow .DocumentList li.XBRL a:hover {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -27px -18px no-repeat;
}
.SECContainer .SECListContainer .ModuleItemRow .DocumentList li.XLS a {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -81px 0px no-repeat;
}
.SECContainer .SECListContainer .ModuleItemRow .DocumentList li.XLS a:hover {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -81px -18px no-repeat;
}
.SECContainer .SECListContainer .ModuleItemRow .DocumentList li.XBRL_HTML a {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -108px 0px no-repeat;
}
.SECContainer .SECListContainer .ModuleItemRow .DocumentList li.XBRL_HTML a:hover {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -108px -18px no-repeat;
}

.SECContainer .PaginationCont {
    padding: 8px;
}
.SECContainer .PaginationCont p {
    margin: 0;
}
.SECContainer .NavigationPanel {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.SECContainer .NavigationPanel a {
    padding: 0 5px;
}

/*    #####    Download List With Tags    #####    */
.ModuleDownloadListWithTags {margin-bottom: 20px;}
.PaneContent .ModuleDownloadListWithTags .ModuleContainerInner .ModuleItemRow .ModuleHeadlineLink {
    display: block;
    width: 350px;
}

.PaneContent .ModuleDownloadListWithTags .ModuleContainerInner .ModuleItemRow .ModuleFileSizeText {
    width: 70px;
    text-align: center;
}

.PaneContent .ModuleDownloadListWithTags .ModuleContainerInner .ModuleItemRow .ModuleIcon {
    width: 90px;
    text-align: center;
}
.PaneContent .ModuleDownloadListWithTags .ModuleHeader .ModuleHeaderText2 {
    width: 350px;
}
.PaneContent .ModuleDownloadListWithTags .ModuleHeader .ModuleHeaderDescription2 {
    width: 70px;
    text-align: center;
}
.PaneContent .ModuleDownloadListWithTags .ModuleHeader .ModuleHeaderDescription3 {
    width: 90px;
    text-align: center;
}

/*    #####    Events & Presentation    #####    */
.ModuleEvent .ModuleHeadlineLink {
    width: 320px;
}
.ModuleEvent .ModuleFileLink.UrlFileLink.hasLink {
    display: inline-block !important;
    width: 52px;
    height: 18px;
    background: url(../design/event-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/event-icons.png*/ 0px 0px no-repeat;
}
.ModuleEvent .ModuleFileLink.UrlFileLink.hasLink:hover {
 background: url(../design/event-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/event-icons.png*/ 0px -18px no-repeat;
}

.ModuleEvent .ModuleFileLink.RelatedFileLink {
    display: block;
    width: 25px;
    height: 18px;
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -54px 0px no-repeat;
}
.ModuleEvent .ModuleFileLink.RelatedFileLink:hover {
 background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -54px -18px no-repeat;
}

.ModuleEvent .ModuleFileLink.DocumentFileLink .ModuleDownloadText {
    display: block;
    width: 25px;
    height: 18px;
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -54px 0px no-repeat;
}
.ModuleEvent .ModuleFileLink.DocumentFileLink:hover .ModuleDownloadText {
    background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -54px -18px no-repeat;
}
.ModuleEvent .ModuleFileLink.RelatedFileLink .ModuleFileText,
.ModuleEvent .ModuleFileLink.DocumentFileLink .ModuleFileText {
    display: none;
}

.ModuleEvent .ModuleYearNavContainer {
    position: absolute;
    top: 7px;
    right: 10px;
}

.ModuleEvent .ModuleYearNavContainer a {
    padding: 0 5px;
    font-size: 12px;
}

.ModuleEvent .ModuleYearNavContainer a.selected {
    color: #043764;
}
.ModuleHeader {
    color: #575758;
    font-size: 11px;
    padding: 0 0 7px 12px;
}
.ModuleEvent .ModuleHeader .ModuleHeaderText1 {
    width: 75px;
}
.ModuleEvent .ModuleHeader .ModuleHeaderText2 {
    width: 330px;
}

.TitleGrayBackground h1 {
    font-size: 16px;
    margin: 0 0 15px 0;
    font-weight: normal;
    text-transform: uppercase;
    color: #043764;
    line-height: 1.2;
    padding: 7px;
    background-color: #f6f6f6;
}

/*    #####    Person    #####    */
.PersonGenericContainer .PersonContainer {
    margin: 0 0 15px;
}
.PersonGenericContainer .PersonContainer .PersonPhoto {
    margin: 0 15px 5px 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.PersonGenericContainer .PersonContainer .PersonPhoto a img {
max-width: 92px;
max-height: 138px;
}

.PersonGenericContainer .PersonContainer .rightInfo {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    width:360px;
}
.PersonGenericContainer .PersonContainer .rightInfo > h3 {
    color: #043764;
}
.secondaryManagement p {
color: #043764;
font-weight: bold
}
.secondaryManagement p span {
font-weight: normal;
font-size: 12px;
}

.PersonGenericContainer .PersonContainer .rightInfo h3 > .PersonTitle {
    display: block;
}
.PersonGenericContainer .PersonContainer .rightInfo h3 > a {
    color: #043764;
}
.PersonGenericContainer .PersonContainer .rightInfo h3 .commaName {
    display: none
}
.PersonGenericContainer .PersonContainer .rightInfo h3 .PersonTitle {
    font-weight: normal;
    font-size: 12px;
}

.PersonGenericContainer .PersonContainer .rightInfo .readBio a {
    color: #043764;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 0 0 11px;
    background: url(../design/read-bio-arrow.png)/*tpa=http://www.pultegroupinc.com/files/design/read-bio-arrow.png*/ 0px 50% no-repeat;
    cursor: pointer;
}
.PersonGenericContainer .PersonContainer .rightInfo .readBio.active {
    background: url(../design/read-bio-arrow-sel.png)/*tpa=http://www.pultegroupinc.com/files/design/read-bio-arrow-sel.png*/ 0px 50% no-repeat;
}

.PersonGenericContainer .PersonContainer .PersonDetailsContainer {
    clear: both;
    padding: 8px 8px 0;
    display: none;
}

.PersonGenericDetailsContainer .PersonName,
.PersonGenericDetailsContainer .PersonSuffix {
    display: none;
}

.PersonGenericDetailsContainer h1 {
    margin-bottom: 5px;
}
.PersonGenericDetailsContainer .PersonDetailsNameContainer {
    margin: 0 0 10px;
    font-weight: bold;
}

.PersonGenericDetailsContainer {
    padding: 0 8px 8px;
}

/*    #####    Committee Composition    #####    */
table .CT tr td {
    text-align: center;
}
table.CT tr:first-child {
    background: #f6f6f6;
}
table.CT tr:first-child td a {
    line-height: 17px;
}
table.CT tr th {
    padding: 7px 5px;
}
table.CT tr td {
    padding: 7px 5px;
    border-bottom: 1px solid #ccc;
}
table.CT tr:first-child td {
    border: 0 none;
}

table.CT.analyst tr td {
    width: 50%;
}
table.CT.committee tr td:first-child {
    width:150px;
}
table.CT.TableNoStyle tr {
    background: #fff;
}

table.CT.TableNoStyle tr td {
    border: 0 none;
}

/*    #####    Form    #####    */
.FormBuilderContainer .Item {
    position: relative;
    width: 265px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    height: 53px;
}
.FormBuilderContainer .Item:first-child+.Item {
    display: block;
    height: auto;
}
.FormBuilderContainer .Item.ItemComments {
    height: auto;
}

.FormBuilderContainer .Item input[type="text"] {
    display: block;
    /*position: absolute;
    top: 0;
    left: 150px;*/
    padding: 4px 10px;
    width:200px;
    outline-color: #e0b455;
}

.FormBuilderContainer .Item select {
    display: block;
    /*position: absolute;
    top: 0;
    left: 150px;*/
    width: 222px;
    padding: 4px 4px 3px;
    outline-color: #e0b455;
}

.FormBuilderContainer .Item textarea {
    width: 469px;
    height: 80px;
    padding: 10px;
    resize:vertical;
    outline-color: #e0b455;
}

.FormBuilderContainer input[type="submit"] {
    display: block;
    margin: 10px;
}

.FormBuilderContainer .RedStar {
    color: #ff0000;
}

.FormBuilderContainer .ItemInvestorType,
.FormBuilderContainer .ItemClassCountry,
.FormBuilderContainer .ItemComments {
    display: block;
}

.FormBuilderContainer .ItemInvestorType {
    margin-bottom: 20px;
}
.FormBuilderContainer .ItemPhone,
.FormBuilderContainer .ItemFax,
.FormBuilderContainer .ItemComments {
    margin-top: 20px;
}

.HtmlTextContainer h1,
.PersonGenericContainer h1 {
    font-size: 16px;
    color: #043764;
    padding: 0;
    background-color: transparent;
    text-transform: uppercase;
}

.ModuleTitle.ModuleDetailHeadline {
    background: transparent;
}

/*    #########################################    Life Tested Page ###################################    */
.PaneContentExtendedRight .PaneRight {
    position: absolute;
    top: 50px;
    right: 5px;
    z-index: 2;
}
.PaneContentExtendedRight .PaneContent {
    margin: 0;
    width: 732px;
}
.PaneContentExtendedRight .PaneContent:after {
    background: #fff;
}
.PaneContentExtendedRight.FundamentalsPage .PaneContent {
    width: 758px;
}
.PaneContentExtendedRight.FundamentalsPage .PaneRight {
    display: none;
}

/*    #########################################    Videos Carousel    ###################################    */
.d-carousel {
    width: 752px;
    height: 207px;
    background: rgba(255,255,255,0.5);
    border: 1px solid #d0d0d0;
    box-shadow: inset 0px 2px 6px #e0e0e0;
    -moz-box-shadow: inset 0px 2px 6px #e0e0e0;;
    -webkit-box-shadow: inset 0px 2px 6px #e0e0e0;
}

.d-carousel .jcarousel-container {
    width: 692px;
    margin: 0 auto;
}

.d-carousel ul li {
    padding: 5px;
}

.jcarousel-direction-rtl {
    direction: rtl;
}

.d-carousel ul li a {
    text-decoration: none;
    color: #696969;
    box-shadow: 1px 1px 0 #fff;
    position: relative;

    transition: all 0.2s;
    -moz-transition: all 0.2s; /* Firefox 4 */
    -webkit-transition: all 0.2s; /* Safari and Chrome */
    -o-transition: all 0.2s; /*Opera*/
}

.d-carousel ul li a:hover {
    color: #494949;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.d-carousel ul li a span {
    width: 145px;
    height: 145px;
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0px;
    background: url(../design/video-icon.png)/*tpa=http://www.pultegroupinc.com/files/design/video-icon.png*/ 50% 50% no-repeat;
}
.d-carousel ul li a:hover span    {
    background: url(../design/video-icon-hov.png)/*tpa=http://www.pultegroupinc.com/files/design/video-icon-hov.png*/ 50% 50% no-repeat;
}

.c-item {
    width:640px;
}
.c-item h4 {
    width: 200px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 20px 5px 0 0;
    text-transform: uppercase;
}
.c-item ul {
    display: inline-block;
    max-width: 430px;
    margin: 15px 0;
    list-style: disc;
}
.c-item p {
    margin: 15px 0;
}

.d-carousel img {
    opacity:0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    border-radius: 3px;
    box-shadow: 1px 1px 3px -1px #494949;
}

.d-carousel ul li p a {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    font-size: 15px;
    padding: 5px 25px;
    background: rgba(255,255,255,0.4);
    border-radius: 5px;
    border: 1px solid #b5b5b5;

    transition: all 0.2s;
    -moz-transition: all 0.2s; /* Firefox 4 */
    -webkit-transition: all 0.2s; /* Safari and Chrome */
    -o-transition: all 0.2s; /*Opera*/
}

.d-carousel ul li p a:hover {
    color: #494949;
    background: rgba(220,220,220,0.3);
}

.d-carousel .jcarousel-item {
    margin-top: 5px;
    overflow: hidden;
}

.d-carousel .jcarousel-item-horizontal {
    width: 152px;
    margin: 5px 7px 0 5px;
}

.d-carousel .jcarousel-item-horizontal .itemTitle {
    font-size: 11px;
    color: #231f20;
    margin-top: 5px;
    width: 145px;
    padding: 1px;
}

.d-carousel .jcarousel-next-horizontal {
 display: block;
    height: 207px;
    position: absolute;
    top: 0;
    right: -30px;
    width: 33px;
    cursor: pointer;
    background: #f9f0dd url(../design/bs-arr.png)/*tpa=http://www.pultegroupinc.com/files/design/bs-arr.png*/ -684px -125px no-repeat;
}

.d-carousel .jcarousel-next-horizontal:hover {
    background: #f9f0dd url(../design/bs-arr.png)/*tpa=http://www.pultegroupinc.com/files/design/bs-arr.png*/ -684px 95px no-repeat;
}

.d-carousel .jcarousel-prev-horizontal {
    display: block;
    height: 207px;
    position: absolute;
    top: 0;
    left: -30px;
    width: 33px;
    cursor: pointer;
    background: #f9f0dd url(../design/bs-arr.png)/*tpa=http://www.pultegroupinc.com/files/design/bs-arr.png*/ 5px -125px no-repeat;
}

.d-carousel .jcarousel-prev-horizontal:hover {
    background: #f9f0dd url(../design/bs-arr.png)/*tpa=http://www.pultegroupinc.com/files/design/bs-arr.png*/ 5px 95px no-repeat;
}


/*.rightModule.brands a {
    display: block;
    padding: 10px 0 0;
}

.videosContainer {
    margin-top: 275px;
}*/

.rightModule.brands .sliderBrands {
    width: 168px;
    height: 80px;
    text-align: center;
}
.rightModule.brands .sliderBrands .slide {
    width: 168px;
    text-align: center;
}
.rightModule.brands .sliderBrands a {
    display: block;
    padding: 10px 0 0;
    text-align: center;
}
.videosContainer h1 {
    background: transparent;
}

.LifeTestedAbout,
.LifeTestedPage div.rQL {
    width: 550px;
    margin-right: 5px;
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: top;
}

.LifeTestedPage .RightColumnBlock {
    display: none;
}

.LifeTestedPage div.rQL {
    width: 168px;
    margin-right: 0;
}

.LifeTestedLinks {
    margin-top: 15px;
}
.LifeTestedLinks ul li {
    width: 350px;
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: top;
    color: #231f20;
    padding: 0 0 0 12px;
    background: url(../design/black-arrow.png)/*tpa=http://www.pultegroupinc.com/files/design/black-arrow.png*/ 0px 50% no-repeat;
}

.rightModule h1 {
    font-weight: normal;
    background: #f6f6f6;
    padding: 5px 0 5px 5px;
}
.rightModule .ContentContainer {
    padding: 11px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

/*    #####    Fundamentals    #####    */
.FundamentalsPage .IRtabs {
    display: none;
}

.FundamentalsPage .tabsIR {
    border: 1px solid #ccc;
    border-bottom: 0 none;
    padding: 0;
    margin: 0;
    width: 756px;
    background: #fff;
    position: relative;
    z-index: 3;
}

.FundamentalsPage .tabsIR li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 178px;
    position: relative;
    background: #fcf8ee;
    margin: 0 -3px 0 0;
    text-align: right;
    padding: 6px 5px 5px;
    text-transform: uppercase;
    font-weight: bold;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.FundamentalsPage .tabsIR li.first {
    border-left: 0 none;
}
.FundamentalsPage .tabsIR li.last {
    width: 179px;
}
.FundamentalsPage .tabsIR li a {
    display: block;
    padding: 5px 10px 2px;
}
.FundamentalsPage .tabsIR li.active {
    background: #fff;
    border-bottom: 0 none;
    text-align: left;
    padding-bottom: 0;

    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15);
-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15);
}
.FundamentalsPage .tabsIR li.active a {
    background: #eee;
    display: block;
    padding: 7px 10px 6px;
    color: #033764;
}

.FundamentalsPage .tabsIR li a span {
    padding: 0 0 0 20px;
    background: url(../design/arr2.png)/*tpa=http://www.pultegroupinc.com/files/design/arr2.png*/ 0px 50% no-repeat;
}
.FundamentalsPage .tabsIR li.active a span {
    padding: 0;
    background: transparent;
}

.FundamentalsPage .tabsIframe {
    border: 1px solid #ccc;
    border-top: 0 none;
    width: 756px;
    position: relative;
    top: -5px;

    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15);
-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15);
}

.ModulePressReleaseDetails .ModuleLinks a {
display: inline-block !important;
*display: inline !important;
zoom: 1;
vertical-align: top;
margin: 5px 0 10px;
}
.ModulePressReleaseDetails .ModuleLinks a .ModuleDownloadText {
display: inline-block;
display: inline;
zoom: 1;
vertical-align: top;
margin-right: 5px;
}
.ModulePressReleaseDetails .ModuleLinks a .ModuleFileSpacer {
float: left;
display: block;
width: 26px;
height: 18px;
margin-right:5px;
background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -54px 0px no-repeat;
}
.ModulePressReleaseDetails .ModuleLinks a:hover .ModuleFileSpacer {
background: url(../design/file-type-icons.png)/*tpa=http://www.pultegroupinc.com/files/design/file-type-icons.png*/ -54px -18px no-repeat;

}

.ModulePressReleaseDetails table {
    width: 100%;
    font-size: 12px;
}
.ModulePressReleaseDetails table tr:first-child {
    background-color: #e5e5e5;
}

.ModulePressReleaseDetails table tr td {
    vertical-align: middle;
    padding: 5px;
}

.ModulePressReleaseDetails table p {
    margin: 0;
}

.tempNavFix {
    display: none;
}

.PageContactUs .MailingListTable tr:first-child+tr+tr+tr+tr+tr td {
    padding-top: 10px;
}

.PageContactUs .MailingListTable textarea {
    width: 100%;
    resize: vertical;
}

.LayoutLayoutLanding .HeaderImageContainer .HeaderImage img {

}
.pulteHomesPage .HeaderImageContainer .HeaderImage img {
position: relative;
top: -100px;
}
.CentexPage .HeaderImageContainer .HeaderImage img {
}
.delWebbPage .HeaderImageContainer .HeaderImage img {
position: relative;
top: -170px;
}


.whyInvestModule table tr td {
vertical-align: top;}

.backToBOD {
margin: 10px 10px 20px;
}

ul.socialMediaSites li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;

    margin-left: 15px;
}

ul.socialMediaSites li a {
    padding: 2px 0 2px 25px;
}
ul.socialMediaSites li a.youtube {background: url(../design/youtube.png)/*tpa=http://www.pultegroupinc.com/files/design/youtube.png*/ 0px 50% no-repeat;}
ul.socialMediaSites li a.facebook {background: url(../design/facebook.png)/*tpa=http://www.pultegroupinc.com/files/design/facebook.png*/ 0px 50% no-repeat;}
ul.socialMediaSites li a.twitter {background: url(../design/twitter.png)/*tpa=http://www.pultegroupinc.com/files/design/twitter.png*/ 0px 50% no-repeat;}
ul.socialMediaSites li a.pinterest {background: url(../design/pinterest.png)/*tpa=http://www.pultegroupinc.com/files/design/pinterest.png*/ 0px 50% no-repeat;}
ul.socialMediaSites li a.googleplus {background: url(../design/googleplus.png)/*tpa=http://www.pultegroupinc.com/files/design/googleplus.png*/ 0px 50% no-repeat;}

/*.pageDiVostaGallery .PhotoGallery .Q4Gallery ul li {
height: 100px;
}
.pageDiVostaGallery .PhotoGallery .Q4Gallery ul li img {
max-height: 90px;
}
.pageDiVostaGallery .PhotoGallery .Q4Gallery ul li .title {
 display: none;
}*/

.rightEvents span.ModuleTitle {
    color: #fff;
    display: block;
    font-size: 16px;
    height: 33px;
    line-height: 33px;
    background-color: #E3B556;
    padding-left: 13px;
}

.rightEvents .ModuleTime {
    display: block;
}

.rightEvents .ModuleHeadlineLink {
    width: 211px;
}

.rightEvents .hrefWebcast {
    margin-left: 0px;
    display: block;
    margin-top: -10px;
}

.textBox
{
background-color: #f2f2f2;
padding: 6px;
}

.textBox h2
{
color: #555962;
text-transform: capitalize;
margin-bottom: 0px;
}

.boxlink
{
background: url("../design/arr1.png")/*tpa=http://www.pultegroupinc.com/files/design/arr1.png*/ no-repeat scroll 100% -82px transparent;
padding-right: 22px;
text-align: right;
color: #043764;
display: block;
font-size: 11px;
font-weight: bold;
}

.news .loader {
    display: block;
    margin: 30px auto;
}
.news #NewsCategories {
    margin-right: 10px;
}
.news.hideCategories #NewsCategories {
    display: none;
}

.heromap {
    width: 757px;
    height: 400px;
    margin-bottom: 11px;
}
.heromap .jvectormap-zoomin,
.heromap .jvectormap-zoomout {
    display: none;
}
.jvectormap-tip {
    z-index: 1000;
}
.heroes {
    width: 768px;
    overflow: auto;
}
.heroes a {
    display: none;
    position: relative;
    float: left;
    width: 245px;
    height: 245px;
    margin: 0 11px 11px 0;
    background: #ccc;
}
.heroes a p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    background: rgba(153, 34, 36, 0.85);
    color: #fff;
    font-size: 16px;
    text-align: center;
}

/* BUILT TO HONOR */
.honor h1, .TitleLeft .ModuleTitle {
    background-color:transparent;
    padding-bottom:17px;
    border-bottom:1px solid #e6e6e6;
}
.honor .PaneContent .ModuleContainer {
    margin-top: 0px;
    margin-bottom:20px;
}
.honor .PaneLeft .level3 {
    display:none;
}
.honor .PaneContent {
    margin-right:0;
    width:757px;
    position:relative;
}
.honor .PaneContent:after {
    right: 0;
    background:transparent;
    width:0;
}
.honor .PaneBreadcrumb {
    padding-bottom:25px;
}
.honor .PrintPage {
    margin-right:0;
}
.honor .PrintPage, .honor .shareThis {
    position:absolute;
    top:0;
}
.honor .PrintPage {
    right:0;
}
.honor .shareThis {
    right:25px;
}
.bannerBTH {
    position:relative;
    height:300px;
    width:100%;
    background:url('../design/BTH/honor_banner.png')/*tpa=http://www.pultegroupinc.com/files/design/BTH/honor_banner.png*/ no-repeat 0 0 transparent;
}
.maskBTH {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:92px;
    background:url('../design/BTH/mask.png')/*tpa=http://www.pultegroupinc.com/files/design/BTH/mask.png*/ repeat-y 0 0 transparent;
    padding-top:18px;
}
.playBTH, .playBTH:hover {
    color:#fff;
    display:block;
    width:300px;
    margin-right:70px;
    padding-left:70px;
    background:url('../design/BTH/play_button.png')/*tpa=http://www.pultegroupinc.com/files/design/BTH/play_button.png*/ no-repeat 0 center transparent;
    float:right;
    height:90px;
}
.playBTH h3 {
    font-size:18px;
    font-weight:500;
    margin-bottom:0;
}
.honor .mainContent > img {
    float: right;
}
.BTHNav {
    position:absolute;
    top:12px;
    right:0px;
}
.BTHNav .level1 > li {
    display:none;
}
.BTHNav .level1 > .selected,
.BTHNav .level1 > .expanded {
    display:block;
}
.BTHNav .level1 > .selected > a,
.BTHNav .level1 > .expanded > a{
    display:none;
}
.BTHNav .level2 > li {
    display:none;
}
.BTHNav .level2 > .selected,
.BTHNav .level2 > .expanded {
    display:block;
}
.BTHNav .level2 > .selected > a,
.BTHNav .level2 > .expanded > a{
    display:none;
}
.BTHNav ul.level3 > li {
    float:left;
    border-left:1px solid #fff;
    border-top:none;
}

.BTHNav ul.level3 a:before {
    content: "";
}
.BTHNav ul.level3 a {
    background: url("../design/arr2.png")/*tpa=http://www.pultegroupinc.com/files/design/arr2.png*/ no-repeat scroll 95% 50% #f6f6f6;
    padding:1px 27px 1px 4px;
}
.BTHNav ul.level3 li.selected a    {
    font-weight:500;
    background: url("../design/arr3.png")/*tpa=http://www.pultegroupinc.com/files/design/arr3.png*/ no-repeat scroll 95% 50% #f6f6f6;
}
.BTHNav ul.level3 a .youtube,
.BTHNav ul.level3 a .twitter,
.BTHNav ul.level3 a .facebook {
    text-indent:-9999px;
    text-transform:capitalize;
}
.BTHNav ul.level3 a .youtube,
.BTHNav ul.level3 a .twitter,
.BTHNav ul.level3 a .facebook {
    display:block;
    width:30px;
    height:25px;
    padding:0;
        margin-top:-5px;
        margin-left:-4px;
        margin-right:-28px;
        overflow:hidden;
    background: url('../design/BTH/twit_off_new.jpg')/*tpa=http://www.pultegroupinc.com/files/design/BTH/twit_off_new.jpg*/ no-repeat right 0 #ffffff;
}
.BTHNav ul.level3 li.selected a .twitter {
    background: url('../design/BTH/twit_on_new.jpg')/*tpa=http://www.pultegroupinc.com/files/design/BTH/twit_on_new.jpg*/ no-repeat right 0 #ffffff;
}
.BTHNav ul.level3 a .youtube{
    background: url('../design/BTH/youtube_off_new.jpg')/*tpa=http://www.pultegroupinc.com/files/design/BTH/youtube_off_new.jpg*/ no-repeat right 0 #ffffff;
}

.BTHNav ul.level3 a .facebook {
    background: url('../design/BTH/fb_off_new.jpg.png')/*tpa=http://www.pultegroupinc.com/files/design/BTH/fb_off_new.jpg*/ no-repeat right 0 #ffffff;
}

.honor .PersonGenericContainer .PersonContainer .PersonPhoto {
    display: inline-block;
    .display:inline;
    .zoom:1;
    float: left;
    margin: 0 50px 0 0;
}
.honor .PersonGenericContainer .PersonContainer .leftPhoto{
    display: inline-block;
    .display:inline;
    .zoom:1;
    float: left;
    width:200px;
    min-height:60px;
}

.honor .PersonGenericContainer .PersonContainer .PersonPhoto > img {
 /*     height: 200px;
    width: 200px;*/
}

.honor .PersonGenericContainer .PersonContainer .rightInfo > h3 {
    color:#3a3a3a;
}
.honor .PersonGenericContainer .PersonContainer .rightInfo {
    vertical-align: top;
    width: 500px;
}
.honor .PersonGenericContainer .PersonContainer .PersonDetailsContainer {
    display: inline-block;
    .display:inline;
    .zoom:1;
    padding: 0;
    width: 500px;
}

.honor .PersonContainer {
    clear: both;
    margin-bottom: 20px;
    min-height:200px;
}
.honor .readMore {
    color:#043764;
    font-size:13px;
    padding-right:22px;
    background:url('../design/BTH/BTHarrow.png')/*tpa=http://www.pultegroupinc.com/files/design/BTH/BTHarrow.png*/ no-repeat right center transparent;
    float:right;
    margin-top:10px;
}
.honor .space {
    margin:20px 0;
}
.honor .SocialFeed {
    width:470px;
    float:left;
    margin-right:30px;
}
.honor #SocialStream {
    padding:0;
    border:none;
}
.honor #SocialStream .WidgetTitle {
    display:none;
}
.honor #SocialStream .tabHeader {
    background:transparent;
    border:none;
}
.honor #SocialStream .SocialItem.Twitter .TwitterLinks, .honor #SocialStream .SocialItem.StockTwits .TwitterLinks {
    position:static;
    float:right;
    margin-top:10px;
    font-size:13px;
}
.honor #SocialStream .via,
.honor #SocialStream .Q4Logo {
    display:none;
}
.honor #SocialStream .SocialItem .SocialIcon {
    display:none;
}
.honor #SocialStream .ScreenName {
    display:none;
}
.honor #SocialStream .SocialItem.StockTwits .ItemTitle,
.honor #SocialStream .SocialItem.Twitter .ItemTitle,
.honor #SocialStream .Facebook .ItemTitle
.honor #SocialStream .SocialItem .ItemLink {
    margin-left:0;
}
.honor #SocialStream .Twitter.SocialItem a {
    color: #dfb456;
}
.honor #SocialStream .SocialItem .ItemHeader {
    padding: 15px 30px 40px 0;
}
.honor #SocialStream .HeaderContainer {
    height:auto
}
.honor #SocialStream ul.tabHeader li.All a,
.honor #SocialStream ul.tabHeader li.All a:hover,
.honor #SocialStream ul.tabHeader li.Twitter a,
.honor #SocialStream ul.tabHeader li.Twitter a:hover,
.honor #SocialStream ul.tabHeader li.Facebook a,
.honor #SocialStream ul.tabHeader li.Facebook a:hover,
.honor #SocialStream ul.tabHeader li.Youtube a,
.honor #SocialStream ul.tabHeader li.Youtube a:hover {
    height: 48px !important;
    overflow: visible !important;
    top: 0 !important;
}
.honor #SocialStream ul.tabHeader li a span{
    text-indent: -9999px;
    text-transform: capitalize;
    position:static;
}
.honor #SocialStream ul.tabHeader li a {
    background:transparent;
    width:51px;
    height:51px;
}
.honor #SocialStream ul.tabHeader li.All {
    display:none;
}
.honor #SocialStream ul.tabHeader li.Twitter a {
    background:url('../design/BTH/twitter_inactive.png')/*tpa=http://www.pultegroupinc.com/files/design/BTH/twitter_inactive.png*/ no-repeat 0 0 transparent;
}
.honor #SocialStream ul.tabHeader li.Twitter a:hover,
.honor #SocialStream ul.tabHeader li.Twitter a.active {
    background:url('../design/BTH/twitter_active.png')/*tpa=http://www.pultegroupinc.com/files/design/BTH/twitter_active.png*/ no-repeat 0 0 transparent;
}
.honor #SocialStream ul.tabHeader li.Facebook a {
    background:url('../design/BTH/facebook_inactive.png')/*tpa=http://www.pultegroupinc.com/files/design/BTH/facebook_inactive.png*/ no-repeat 0 0 transparent;
}
.honor #SocialStream ul.tabHeader li.Facebook a:hover,
.honor #SocialStream ul.tabHeader li.Facebook a.active {
    background:url('../design/BTH/facebook_active.png')/*tpa=http://www.pultegroupinc.com/files/design/BTH/facebook_active.png*/ no-repeat 0 0 transparent;
}
.honor #SocialStream ul.tabHeader li.Youtube a {
    background:url('../design/BTH/youtube_inactive.png')/*tpa=http://www.pultegroupinc.com/files/design/BTH/youtube_inactive.png*/ no-repeat 0 0 transparent;
}
.honor #SocialStream ul.tabHeader li.Youtube a:hover,
.honor #SocialStream ul.tabHeader li.Youtube a.active {
    background:url('../design/BTH/youtube_active.png')/*tpa=http://www.pultegroupinc.com/files/design/BTH/youtube_active.png*/ no-repeat 0 0 transparent;
}
.honor .jspPane {
    padding:0 !important;
}
.honor #SocialStream .dataContainer {
    background:transparent;
}
.honor #SocialStream .SocialItem.Twitter div.TwitterLinks a.twtr-reply,
.honor #SocialStream .SocialItem.Twitter div.TwitterLinks a.twtr-rt,
.honor #SocialStream .SocialItem.Twitter div.TwitterLinks a.twtr-fav {
    color:#7a7a7a !important;
    padding-left:20px !important;
    background-repeat:no-repeat;
    background-position:0 center;
}
.honor #SocialStream .SocialItem.Twitter div.TwitterLinks a.twtr-reply {
    background-image:url("../design/BTH/twtr-reply.png")/*tpa=http://www.pultegroupinc.com/files/design/BTH/twtr-reply.png*/;
}
.honor #SocialStream .SocialItem.Twitter div.TwitterLinks a.twtr-rt {
    background-image:url("../design/BTH/twtr-rt.png")/*tpa=http://www.pultegroupinc.com/files/design/BTH/twtr-rt.png*/;
}
.honor #SocialStream .SocialItem.Twitter div.TwitterLinks a.twtr-fav {
    background-image:url("../design/BTH/twtr-fav.png")/*tpa=http://www.pultegroupinc.com/files/design/BTH/twtr-fav.png*/;
}
.honor .SocialMedia {
    margin-top:70px;
}
.honor .PersonGenericContainer .PersonContainer .PersonDetailsContainer {
    display:inline-block;
    .display:inline;
    .zoom:1;
    padding:0;
}
.honor .PersonName2 {
    display:none;
}
/****/
.bthHomeLink{
    padding: 10px;
    border:1px solid #D0D0D0;
    margin:10px 0;
}
.bthHomeLink img{
    max-width:100%;
}
.bthHomeLink a.bthlink{
    padding-left:27px;
    background:url("../design/arr2.png")/*tpa=http://www.pultegroupinc.com/files/design/arr2.png*/ no-repeat scroll 6px 50% transparent;
}
.honor .h-elem{
    display:none;
}
/****/

.HerosGallery.PhotoGallery .Q4Gallery > div ul li > span{
    display:none;
}
.HerosGallery.PhotoGallery .Q4Gallery > div ul li{
    height:140px;
}
.herosPhoto.PhotoGallery .Q4Gallery > div ul li > span{
    line-height:17px;
    bottom:8px;
}

.rightEvents p.eventBodyLink {
    margin: 0 0 10px 0;
}

.events.NTtabs p.eventBodyLink {
    margin: 0 0 0 80px;
}

.ModuleEventDetails p.eventBodyLink {
    margin-bottom: 10px;
}

/** CHANGE REQUESTS **/

.LayoutTwoColumnsBigContent .PaneContent:after {
    display: none;
}
.LayoutTwoColumnsBigContent .PaneContent {
    width: 765px;
    margin-right: 0;
}
.LayoutTwoColumnsBigContent .PaneLeft {
    margin-right: 37px;
}
.LayoutTwoColumnsBigContent .PrintPage {
    margin-right: 0;
}
.LayoutTwoColumnsBigContent .PaneBreadcrumb {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 26px;
}
.LayoutTwoColumnsBigContent .Breadcrumb {
    border-bottom: none;
    display: inline-block;
}
.LayoutTwoColumnsBigContent .PaneContent:before {
    left:-19px;
}

.HonorLanding {
    position: relative;
    list-style-type: none;
    margin-bottom: 14px;
}
.HonorLanding .Honor-logo {
    position: absolute;
    left: 5px;
    top: -23px;
}
.HonorLanding .Banner-honor {
    display: block;
}
.HonorLanding li {
    float: left;
}
.HonorLanding .firstBlue {
    background-color: #314e6e;
    margin-bottom: 15px;
    float: none;
}
.HonorLanding h2.title {
    font-size: 22px;
    line-height: 15px;
    color:#fff;
    font-weight: 400;
    margin-bottom: 11px;
}
.HonorLanding h2.title b {
    text-transform: uppercase;
    font-weight: 900;
}
.HonorLanding .blue-container {
    position: relative;
    padding:45px 40px 43px;
    background: url('../design/shadow-picture.png')/*tpa=http://www.pultegroupinc.com/files/design/shadow-picture.png*/ center top no-repeat transparent;
}
.HonorLanding p {
    font-size:16px;
    line-height: 25px;
    color:#fff;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 14px;
}
.HonorLanding .btn-borderwhite {
    position: relative;
    display: inline-block;
    font-style: 14px;
    line-height: 15px;
    text-transform: uppercase;
    padding:14px 25px 15px;
    border:2px solid #fff;
    color:#fff;
    transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
}
.HonorLanding .btn-borderwhite:before {
    content:"";
    display: block;
    background-color: #fff;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 0%;
    opacity:0;
    transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
}
.HonorLanding .btn-borderwhite:hover:before {
    opacity:1;
    height: 100%;
    z-index: -1;
}
.HonorLanding .btn-borderwhite:hover {
    z-index: 2;
    color: #000;
}
.HonorLanding .bluebutton {
    padding-right: 22px;
}
.HonorLanding .bluebutton:after {
    content:"";
    display: inline-block;
    background: url('../design/hdown-arrow.png')/*tpa=http://www.pultegroupinc.com/files/design/hdown-arrow.png*/ top center no-repeat transparent;
    width:12px;
    height:7px;
    margin-left: 10px;
}
.HonorLanding .bluebutton.open:after {
    position: relative;
    top:-1px;
    background: url('../design/hup-arrow.png')/*tpa=http://www.pultegroupinc.com/files/design/hup-arrow.png*/ top center no-repeat transparent;
}
.HonorLanding .bluebutton:hover:after {
    background-position: bottom center;
}
.HonorLanding .btn-container {
    padding-top: 6px;
}
.HonorLanding .secondary {
    position: relative;
    width: 375px;
    height: 225px;
    padding-top: 65px;
    overflow: hidden;
    text-align: center;
}
.HonorLanding .secondary + .secondary {
    margin-left: 15px;
}
.HonorLanding .titleStar {
    font-size: 57px;
    line-height: 50px;
    color:#fff;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 22px;
    display: block;
}
.HonorLanding .titleStar span {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
}
.HonorLanding .titleStar span:before,
.HonorLanding .titleStar span:after {
    content:"";
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    top:-2px;
    margin:0 15px;
    background: url('../design/star-hero-build.png')/*tpa=http://www.pultegroupinc.com/files/design/star-hero-build.png*/ center center no-repeat transparent;
}
.HonorLanding .zoom-img {
    width: 110%;
    height: 110%;
    display: block;
    position: absolute;
    left:-5%;
    top:-5%;
    right: -5%;
    bottom:-5%;
    transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    z-index: -1;
}
.HonorLanding .secondary:hover .zoom-img {
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.SocialFeedOverview h1 {
    font-size: 21px;
    line-height: 24px;
    color:#656565;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    padding:0 0 26px 0;
    background-color: transparent;
}
.SocialFeedOverview {
    background-color: #e9e9e9;
    padding:23px 14px 0;
    position: relative;
}
.SocialFeedOverview .ss-item {
    width: 215.6px;
    height: 150px;
    padding:150px 15px 20px;
    float: left;
    color: #fff;
}
.SocialFeedOverview .ss-item a {
    color: #fff;
}
.SocialFeedOverview .slick-prev,
.SocialFeedOverview .slick-next {
    text-indent: -3000px;
    top:-43px;
    width: 34px;
    height: 34px;
    border:0;
}
.SocialFeedOverview .slick-prev {
    left:8px;
    background: url('../design/left-social-feed.png')/*tpa=http://www.pultegroupinc.com/files/design/left-social-feed.png*/ no-repeat center transparent;
}
.SocialFeedOverview .slick-next {
    right:8px;
    background: url('../design/right-social-feed.png')/*tpa=http://www.pultegroupinc.com/files/design/right-social-feed.png*/ no-repeat center transparent;
}
.SocialFeedOverview .slick-prev:hover,
.SocialFeedOverview .slick-prev:active,
.SocialFeedOverview .slick-prev:focus {
    background: url('../design/left-social-feed.png')/*tpa=http://www.pultegroupinc.com/files/design/left-social-feed.png*/ no-repeat center transparent;
}
.SocialFeedOverview .slick-next:hover,
.SocialFeedOverview .slick-next:active,
.SocialFeedOverview .slick-next:focus {
    background: url('../design/right-social-feed.png')/*tpa=http://www.pultegroupinc.com/files/design/right-social-feed.png*/ no-repeat center transparent;
}
.SocialFeedOverview .ss-item .title {
    font-size:16px;
    line-height: 20px;
}
.SocialFeedOverview .ss-item .date {
    font-size: 13px;
    padding-top: 14px;
    display: block;
}
.SocialFeedOverview .ss-twitter {
    box-shadow: 60px 60px 51px -57px #58bae2 inset;
    -moz-box-shadow: 60px 60px 51px -57px #58bae2 inset;
    -webkit-box-shadow: 60px 60px 51px -57px #58bae2 inset;
    background: url('../design/twitter-sign.png')/*tpa=http://www.pultegroupinc.com/files/design/twitter-sign.png*/ center 55px no-repeat #68bfe3;
}
.SocialFeedOverview .ss-blog {
    box-shadow: 60px 60px 51px -57px #2e4966 inset;
    -moz-box-shadow: 60px 60px 51px -57px #2e4966 inset;
    -webkit-box-shadow: 60px 60px 51px -57px #2e4966 inset;
    background: url('../design/facebook-sign.png')/*tpa=http://www.pultegroupinc.com/files/design/facebook-sign.png*/ center 55px no-repeat #314e6d;
}
.SocialFeedOverview .ss-youtube {
    box-shadow: 60px 60px 51px -57px #b31c1c inset;
    -moz-box-shadow: 60px 60px 51px -57px #b31c1c inset;
    -webkit-box-shadow: 60px 60px 51px -57px #b31c1c inset;
    background-color: #a61f1e;
}
.SocialFeedOverview .ss-youtube .yt-thumb {
    width: 200px;
    margin: -130px 0 0 8px;
}
.SocialFeedOverview .ss-youtube .yt-icon {
    height: 40px;
    margin: -94px 88px 70px;
}
.SocialFeedOverview .slide {
    background-color: #e9e9e9;
}
.SocialFeedOverview .slick-slider {
    margin-bottom: 0;
}

.SocialBottom {
    border:14px solid #e9e9e9;
    border-top:0;
    background-color: #fff;
    padding-bottom: 13px;
}
.SocialBottom h1.title {
    font-size: 19px;
    line-height: 50px;
    padding-top: 12px;
    font-weight: bold;
    color:#656565;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 0;
}
.SocialBottom h1.title span {
    font-weight: 400;
    margin-left: 15px;
    padding-right: 17px;
    background: url('../design/social-indicator.png')/*tpa=http://www.pultegroupinc.com/files/design/social-indicator.png*/ no-repeat right center transparent;
}
.social-ul {
    position: relative;
    display: inline-block !important;
    margin:0;
    padding-left: 13px;
    vertical-align: top;
    padding-top: 20px;
}
.social-ul li {
    float: left;
    margin-left: 9px;
}
.social-ul li a {
    width: 34px;
    height: 34px;
    display: block;
    border-radius:34px;
    -moz-border-radius:34px;
    -webkit-border-radius:34px;
}
.twitter-btn {
    background: url('../design/social-sprite.png')/*tpa=http://www.pultegroupinc.com/files/design/social-sprite.png*/ no-repeat 0 0 transparent;
}
.facebook-btn {
    background: url('../design/social-sprite.png')/*tpa=http://www.pultegroupinc.com/files/design/social-sprite.png*/ no-repeat -40px 0 transparent;
}
.youtube-btn {
    background: url('../design/social-sprite.png')/*tpa=http://www.pultegroupinc.com/files/design/social-sprite.png*/ no-repeat -80px 0 transparent;
}
.blog-btn {
    background: url('../design/social-sprite.png')/*tpa=http://www.pultegroupinc.com/files/design/social-sprite.png*/ no-repeat -120px 0 transparent;
}
.HeroMapTitle h1 {
    border-bottom:0;
    background-color: #e5f4f7;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color:#383434;
    margin:0;
    padding:30px 0 6px 0;
    font-weight: 600;
}
.SurveyTypeTitle p {
    font-size: 14px;
    line-height: 20px;
}
.SurveyTypeTitle .survey-list h1,
.SurveyTypeTitle .survey-list h1 a {
    font-size: 18px;
    margin-bottom: 12px;
    color:#043764;
}
.SurveyTypeTitle .survey-list h1 span,
.SurveyTypeTitle h1 span span {
    display: block;
    font-size: 14px;
    line-height: 25px;
    color:#cea64e;
    font-weight: 600;
    padding-top: 4px;
}
.SurveyTypeTitle .bigger-title {
    font-size: 18px !important;
    font-weight: 700;
    margin-bottom: 6px;
    padding-top: 31px;
}
.SurveyTypeTitle .survey-list {
    width: 789px;
    margin-left: -23px;
    margin-bottom: 0;
    letter-spacing: -6px;
}
.SurveyTypeTitle .survey-list:after {
    clear:both;
    content:"";
    display: table;
}
.SurveyTypeTitle .survey-list li {
    width: 240px;
    display: inline-block;
    padding-left: 23px;
    vertical-align: top;
    letter-spacing: 0;
}
.SurveyTypeTitle .survey-list li img {
    display: block;
    margin-bottom: 8px;
}
.SurveyTypeTitle .surveyPress,
.SurveyTypeTitle .survery {
    position: relative;
    display: inline-block;
    background: url("../design/submit.png")/*tpa=http://www.pultegroupinc.com/files/design/submit.png*/ repeat-x scroll 0 0 transparent;
    border: 1px solid #304d6c;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    line-height: 22px;
    height: 22px;
    font-weight: 600;
    top:-2px;
    padding: 0 7px;
    text-shadow: -1px -1px #000;
    -webkit-text-shadow: -1px -1px #000;
    -moz-text-shadow: -1px -1px #000;
    text-transform: uppercase;
    margin-left: 10px;
}
.SurveyTypeTitle .downloadP {
    font-weight: 600;
}
.SurveyTypeTitle .downloadP + img {
    max-width: 100%;
}
.YellowBackBtn a {
    background: url("../design/back-gradient.png")/*tpa=http://www.pultegroupinc.com/files/design/back-gradient.png*/ repeat-x scroll 0 0 transparent;
    border: 1px solid #e4b358;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #684400;
    cursor: pointer;
    font-size: 11px;
    line-height: 24px;
    height: 24px;
    font-weight: 600;
    padding: 0 7px;
    text-shadow: 1px 1px #fff;
    -webkit-text-shadow: 1px 1px #fff;
    -moz-text-shadow: 1px 1px #fff;
    display: inline-block;
    text-transform: uppercase;
}
.YellowBackBtn a:before {
    content:"";
    display: inline-block;
    width: 6px;
    height: 9px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    top:-1px;
    background: url('../design/back-arrow.png')/*tpa=http://www.pultegroupinc.com/files/design/back-arrow.png*/ no-repeat center center transparent;
}
.YellowBackBtn {
    float: right;
    padding-top: 25px;
}
.BuiltToHonor .moreContent {
    display: none;
}
.FaqContainer .FaqQuestionList,
.FaqContainer .FaqDetailList li > p,
.FaqContainer .FaqAnswerLink {
    display: none;
}
.FaqContainer .FaqAnswer {
    display: none;
}
.FaqDetailList > p {
    display: none;
}
.FaqContainer h3 {
    cursor: pointer;
    margin-top:20px;
}
.MeetOurHeroes {
    position:relative;
}
.MeetOurHeroes .titleStar {
    color: #fff;
    display: block;
    font-size: 57px;
    font-weight: 300;
    line-height: 50px;
    padding-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    border-bottom: 0;
    top:50%;
    margin:-41px 0 0 0;
    left:0;
    right: 0;
}

.MeetOurHeroes .titleStar span:before,
.MeetOurHeroes .titleStar span:after {
    background: url("../design/star-hero-build.png")/*tpa=http://www.pultegroupinc.com/files/design/star-hero-build.png*/ no-repeat scroll center center transparent;
    content: "";
    display: inline-block;
    height: 12px;
    margin: 0 15px;
    position: relative;
    top: -2px;
    width: 12px;
}

.MeetOurHeroes .titleStar span {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    display:block;
}

.whyInvestModule table ul li {
    list-style-type: disc;
    margin-left: 25px;
    margin-bottom: 10px;
}