@media screen,projection,handheld,tv {
	/* =fonts
	Copyright (c) 2006, Yahoo! Inc. All rights reserved. Code licensed under the BSD License: http://developer.yahoo.net/yui/license.txt version: 0.11.3 
	-------------------------------------------------- */
	body {font:13px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
	table {font-size:inherit;font:100%;}
	select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}
	pre, code {font:115% monospace;*font-size:100%;}
	/* =ddc font sizes
	-------------------------------------------------------------- */
	blockquote,
	blockquote cite {font-size:92%;}
	h1 { font-size:144%; }
	h2 { font-size:122%; }
	h3 { font-size:114%; }
	h4 { font-size:107%; }
	h5, h6, p {font-size:100%;}
}
/* =grids, based on yui grids v0.11.0
-------------------------------------------------- */
body { text-align:center;}
#container {
   max-width: 960px; min-width:760px; *width:72em; /* IE */ 
	margin:0 auto;
   text-align:left; }
	#container.print {min-width:1px;*width:auto;}
#header {
	position: relative;
	margin: 0; padding: 0; }
#contentWrap {
	position: relative;z-index:1; clear: both;
	padding: 0; text-align:left;}
#footer {
	clear:both;position: relative;z-index:0;
	margin: 0; padding: 0; }
/* =templates
-------------------------------------------------- */
.t3 #region0,.t4 .block,.t3a #region0,.t4a .block {float:right;}
.t2 .block,.t3 .block,.t4 #region0,.t2a .block,.t3a .block,.t4a #region0 {float:left;}
/* template1: 100% */
.t1 #region0,
.t1a #region0,
.t1 #region1,
.t1a #region1 { display: block; width: 100%; }
/* template2: L50% */
.t2 #region0,
.t2a #region0 {float:left; width: 48%; padding-right: 2%; }
.t2 #region1,
.t2a #region1 {float:none;margin: 0 0 0 50%; }
/* template3/4: L160/R160 */
.t3 #region0, .t4 #region0 {width:76%;min-width:570px;}
.t3 .block, .t4 .block {width:24%;min-width:160px;}
/* template3a/4a:  */
.t3a #region0, .t4a #region0 {width:66%;min-width:482px;}
.t3a .block, .t4a .block {width:34%;min-width:248px;}
/* =groups
-------------------------------------------------- */
.group1 { width: 100%; }
/* =non yui :: dept styles _3 _4*/
.t3a .group1a, .t4a .group1a {float:left; width: 48%; padding-right: 2%;}
.t3a .group1b {float:right;margin: 0;}
.t4a .group1b {float:left;margin: 0;}
.t3a #region0 .group1, .t4a #region0 .group1 {clear:both;}
/* =end non yui */
.group2 .unit, .group2 .group2,
.group2a .unit, .group2b .unit,
.group3 .unit, .group3 .group3,
.group3a .unit, .group3a .group3a {
  float: right; display: inline; /* IE */ }
.group2 .first, .group2a .first,
.group2b .unit, .group2b .first,
.group2c .unit, .group2c .first,
.group3 .unit, .group3 .first, .group3a .first,
.group3b .first, .group3b .unit,
.group3b .group3b,
.group4 .unit { float: left; }
/* Group2: 2 column */
.group2 .unit, fieldset.group2 .unit { width: 49%; }
.group2 .first, fieldset.group2 .first { width: 50%; }
/* Group2a: 2 column, 1 offset left */
.group2a .unit, fieldset.group2a .unit { width: 26%; margin-left: 2%; }
.group2a .first, fieldset.group2a .first { float: left; width: 71%; margin-left: 0; }
/* Group2b: 2 column, 1 offset right */
.group2b .unit, fieldset.group2b .unit { width: 26%; }
.group2b .first, fieldset.group2b .first { float: right; width: 72%; margin-left: 0; }
/* Group2c: 2 column, 1 offset left 67% wide */
.group2c .unit, fieldset.group2c .unit { width: 33%;}
.group2c .first, fieldset.group2c .first { float: left; width: 66%;}
/* Group2d: 2 column, 1 offset right 67% wide*/
.group2d .unit, fieldset.group2d .unit { width: 33%;}
.group2d .first, fieldset.group2d .first { float: right; width: 66%; }
/* Group3: 3 column */
.group3 .unit, .group3 .group3, fieldset.group3 .unit { width: 33%; }
/* Group3a: 3 column, 1 offset right */
.group3a .unit, .group3b .unit, fieldset.group3a .unit, fieldset.group3b .unit { width: 25%; }
.group3a .first, .group3b .first, fieldset.group3a .first, fieldset.group3b .first { float: left; width: 49%; margin-right: 0; }
/* Group3b: 3 column, 1 offset left */
.group3b .first, fieldset.group3b .first { float: right; }
/* Group4: 4 column */
.group4 { float: none; width: auto;  }
.group4 .unit { width: 25%; margin: 0; }
.group4 .first { width: 24%; }

/* self clear floated parent containers */
#container:after,
#contentWrap:after,
.group2:after,.group2a:after,.group2b:after,
.group3:after,.group3a:after,.group3b:after,
.group4:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;}
/* =ie 6 self clearing
-------------------------------------------------------------- */
* html #container,
* html #contentWrap,
* html .t2 #region1, 
* html .group2,* html .group2a,* html .group2b,
* html .group3,* html .group3a,* html .group3b,
* html .group4 {height:1px;} /* IE6 */
/* =ie 7 self clearing
-------------------------------------------------------------- */
*+html #container,
*+html #contentWrap,
*+html .group2,*+html .group2a,*+html .group2b,
*+html .group3,*+html .group3a,*+html .group3b,
*+html .group4 {min-height:1px;} /* IE7 */

/* =reset
Copyright (c) 2006, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt version: 0.11.0
-------------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
body {border:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
.employmentList .widgetWrap ul,
.content .widgetWrap ul,
.news .widgetWrap ul,
.specials .widgetWrap ul,
.post ul,
#vehicleComments ul,
#internetComments ul {margin-left:1em;list-style: disc outside;}
	#internetComments ul {margin-left:1.5em;}
.employmentList .widgetWrap ol, 
.content .widgetWrap ol,
.news .widgetWrap ol,
.specials .widgetWrap ol,
.post ol,
#vehicleComments ol,
#internetComments ol {margin-left:1em;list-style: decimal outside;} 
	#internetComments ol {margin-left:1.5em;}
caption,th {text-align:left;}
/* =ddc reset
-------------------------------------------------- */
acronym {cursor: help;border-bottom:1px dotted;}
blockquote {margin:1.2em 1em;padding:0.5em;}
fieldset { margin: 1em 0.5em;padding: 1em;border:1px solid;}
	fieldset.group1 {width:auto;}
h1,h2,h3,h4,h5,h6{margin:0.8em 0;}
p {margin:0.75em 0;}
a {outline:0;}
.hand {cursor:pointer;}
.noHand {cursor:default;}
.hidden {display:none;}
.helpText {margin:0 0 0.5em 0;padding:0;font-size:85%;font-style:italic;}
.message404 {font-size:123%;line-height:normal;}
/* =img franchise logos
-------------------------------------------------------------- */
#fLogo {list-style:none;}
/* =ddcform
-------------------------------------------------------------- */
form .unit label {display:block;}
.radio,
.checkbox {margin-right:0.25em;border:0 !important;}
textarea {width:90%;}
label em {font-style:normal;}
label.rate em {font-style:normal;font-weight:normal;}
/* flashData
-------------------------------------------------------------- */
.flashData {display: none;}
#header .dealerName .flashData {display: block;}
#flashHeaderDealerNameWrap h1#hDealerName{float:none;display:block;position:static;width:auto;margin:0;padding:0;}
/* jwplayer
-------------------------------------------------------------- */
/* internal jwplayer display: table items shouldn't get global table reset */
.jwdisplayIcon { border-collapse: separate; }
/* =ie patches
-------------------------------------------------------------- */
/* ie7 */
*+html fieldset {position:relative;padding-top:1.4em;}
*+html fieldset legend {position:absolute;top:-7px;left:0;}
*+html a span {cursor:pointer;}
*+html a.noHand span {cursor:default;}
*+html #internetComments ul,
*+html #internetComments ol {margin-left:1.8em;}
/* ie6 */
* html fieldset {position:relative;padding-top:1.4em;}
* html fieldset legend {position:relative;top:-7px;left:0;}
* html a span {cursor:pointer;}
* html a.noHand span {cursor:default;}
* html #internetComments ul,
* html #internetComments ol {margin-left:1.8em;}
