/*
Theme Name: Centene Corporation Theme
Theme URI: http://www.centene.com
Description: Wordpress theme created for Centene Corporation, implementing the 960 grid, HTML5, and responsive functionality
Version: 1.0
Author: Rampant Interactive
Author URI: http://www.therampant.com 
*/


/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

div,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

hr {
	border-top: 1px solid #666;
	margin: .5em 0;
	clear: both;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}

li {
/*
  For IE6 + IE7.
*/
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
/*
  For IE9.
*/
  overflow: hidden;
}


/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 960px;
}

/* `Container
----------------------------------------------------------------------------------------------------*/

.container_12 {
  margin: 0 auto;
  padding: 0 10px;
  width: 980px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
  width: 60px;
}

.container_12 .grid_2 {
  width: 140px;
}

.container_12 .grid_3 {
  width: 220px;
}

.container_12 .grid_4 {
  width: 300px;
}

.container_12 .grid_5 {
  width: 380px;
}

.container_12 .grid_6 {
  width: 460px;
}

.container_12 .grid_7 {
  width: 540px;
}

.container_12 .grid_8 {
  width: 620px;
}

.container_12 .grid_9 {
  width: 700px;
}

.container_12 .grid_10 {
  width: 780px;
}

.container_12 .grid_11 {
  width: 860px;
}

.container_12 .grid_12 {
  width: 940px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
  padding-left: 80px;
}

.container_12 .prefix_2 {
  padding-left: 160px;
}

.container_12 .prefix_3 {
  padding-left: 240px;
}

.container_12 .prefix_4 {
  padding-left: 320px;
}

.container_12 .prefix_5 {
  padding-left: 400px;
}

.container_12 .prefix_6 {
  padding-left: 480px;
}

.container_12 .prefix_7 {
  padding-left: 560px;
}

.container_12 .prefix_8 {
  padding-left: 640px;
}

.container_12 .prefix_9 {
  padding-left: 720px;
}

.container_12 .prefix_10 {
  padding-left: 800px;
}

.container_12 .prefix_11 {
  padding-left: 880px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
  padding-right: 80px;
}

.container_12 .suffix_2 {
  padding-right: 160px;
}

.container_12 .suffix_3 {
  padding-right: 240px;
}

.container_12 .suffix_4 {
  padding-right: 320px;
}

.container_12 .suffix_5 {
  padding-right: 400px;
}

.container_12 .suffix_6 {
  padding-right: 480px;
}

.container_12 .suffix_7 {
  padding-right: 560px;
}

.container_12 .suffix_8 {
  padding-right: 640px;
}

.container_12 .suffix_9 {
  padding-right: 720px;
}

.container_12 .suffix_10 {
  padding-right: 800px;
}

.container_12 .suffix_11 {
  padding-right: 880px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
  left: 80px;
}

.container_12 .push_2 {
  left: 160px;
}

.container_12 .push_3 {
  left: 240px;
}

.container_12 .push_4 {
  left: 320px;
}

.container_12 .push_5 {
  left: 400px;
}

.container_12 .push_6 {
  left: 480px;
}

.container_12 .push_7 {
  left: 560px;
}

.container_12 .push_8 {
  left: 640px;
}

.container_12 .push_9 {
  left: 720px;
}

.container_12 .push_10 {
  left: 800px;
}

.container_12 .push_11 {
  left: 880px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
  left: -80px;
}

.container_12 .pull_2 {
  left: -160px;
}

.container_12 .pull_3 {
  left: -240px;
}

.container_12 .pull_4 {
  left: -320px;
}

.container_12 .pull_5 {
  left: -400px;
}

.container_12 .pull_6 {
  left: -480px;
}

.container_12 .pull_7 {
  left: -560px;
}

.container_12 .pull_8 {
  left: -640px;
}

.container_12 .pull_9 {
  left: -720px;
}

.container_12 .pull_10 {
  left: -800px;
}

.container_12 .pull_11 {
  left: -880px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12 {
  zoom: 1;
}



/*
Rampant Creative Group
Basic Template Styles
*/


/*basic styles*/

html{
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #e0e0e0 0%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0e0e0 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e0e0e0 0%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0e0e0 0%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0e0e0 0%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	height: auto;
}

body, html {
	margin: 0; 
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	text-decoration:none;
}	

h1, h2, h3 { 
	font-family: Helvetica, Arial, sans-serif;
}

a, a:visited {
	color: #13527d;
	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;

}
a:hover, a:active {
	color: #246795;
}
img {
	border: none;
}
input[type="text"], input[type="email"], input[type="tel"] {
	height: 25px;
	width: 250px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
input[type="submit"] {
	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
}
textarea {
	height: 130px;
	width: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}
input {
	box-sizing: border-box;
	-moz-box-sizing: border-box
}
.alignright {
	float: right;
	padding: 0 0 15px 15px;
}
.alignleft {
	float: left;
	padding: 0 15px 15px 0;
}
.aligncenter {
	text-align: center;
	margin: 10px auto;	
}
small {
	font-size: .8em;	
}
.hidden {
	display: none;	
}
blockquote {
	font-size: 12px;
	font-style: italic;
	margin: 0 50px 30px 50px;
	color: #444;
}
iframe {
	position: relative;
	z-index: 10;
}
.container_12 .searchform input[type="text"] {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 220px;
	max-width: 100%;
	height: 30px;
	border: 1px solid #999;
	border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: inset 1px 1px 3px #ccc;
	-moz-box-shadow: inset 1px 1px 3px #ccc;
	color: #13527d;
	padding: 7px 35px 7px 10px;
	background: #fff url(images/icon-search.png)/*tpa=http://www.centene.com/wp-content/themes/centene-2014/images/icon-search.png*/ no-repeat top right;
}
.container_12 .fullwidth {
	display: block;
	width: 980px;
	padding: 25px;
	margin: 25px 0 25px -10px;
	background: #e4e4e4;
}
.fullwidth h1 {
	font-size: 30px;
	color: #13527d;
	margin-bottom: 20px;
}
.fullwidth p {
	line-height: 1.5em;
}
.wp-caption-text {
	color: #666;
	font-size: 12px;
	font-style: italic;
}
.mobile {
	display: none;
}
.button:link, .button:visited {
	display: block;
	float: left;
	background: #13527d;
	color: #fff;
	text-align: center;
	padding: 10px 25px;
	text-decoration: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;

}
.button:hover, .button:active {
	background: #f67811;
}


/* Header */
.headerwrapper {
	background: #fff;
	padding-bottom: 20px;
}
h1.logo {
	background: url(images/logo.jpg)/*tpa=http://www.centene.com/wp-content/themes/centene-2014/images/logo.jpg*/ no-repeat;
	width: 225px;
	height: 55px;
	float: left;
	margin-top: 25px;
	margin-left: 15px;
	font-size: .1em;
	text-indent: -9999px;
	color: #FFFFFF;
	z-index: 10;
	position: relative;
}
h1.logo a {
	display: block;
	width: 225px;
	height: 55px;
}
.headerinfo {
	float: right;
	font-size: .8em;
	text-align:right;
	padding: 15px 0 0 0;
	height: 75px;
	font-weight: 100;
}
.price {
	font-weight: 600;
	font-size: 1.2em;
}

.price.pos:after{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	background: url(images/stock-up.png)/*tpa=http://www.centene.com/wp-content/themes/centene-2014/images/stock-up.png*/;
	background-repeat: no-repeat;
}
.price.neg:after{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	background: url(images/stock-down.png)/*tpa=http://www.centene.com/wp-content/themes/centene-2014/images/stock-down.png*/;
	background-repeat: no-repeat;
}
.searchform {
	margin: 15px 0 0 0;	
}



.current_language_item {
	display: none;
}

.navwrapper {
	background: #fff;
	border-top: 10px solid #13527d;
	border-bottom: 1px solid #b5b5b5;
	margin: 0;
}
.navwrapper .container_12 {
	padding: 0px;
}

.topnav {
	clear: both;
	font-size: 1.1em;
	color: #fff;
	font-weight: 100;
}
.topnav h1 {
	display:none;	
}
.topnav ul {
	float: left;
	list-style-type: none;
}
.ie7 .topnav ul li {
	display: inline;
	zoom:1;
}
.topnav ul li {
	position: relative;
	display: inline;
	float: left;	
/* 	display: inline-block; */
	border-bottom: none;
	min-width: 50px;
}
.topnav ul li a, .topnav ul li a:visited {
	display: block;
	padding: 7px 10px 7px 10px;
	margin: 0 15px 0 0;
	color: #13527d;
	font-size: 20px;
	text-decoration: none;
	z-index: 2;
}
.topnav ul li a:active, .topnav ul li a:hover {
	color: #13527d;
	background-color: #eee;
}
.contentwrap {
	background: #fff;
	padding-bottom: 30px;
}
.topnav ul li.current-page-ancestor a:link, .topnav ul li.current-page-ancestor a:visited, .topnav ul li.current_page_item a:link, .topnav ul li.current_page_item a:visited {
	background: #13527d;
	color: #fff;
}

.tagline {
	clear: both;
	padding-top: 10px;
	color: #555;
	font-style: italic;
}
/* language switcher / langswitch styles*/

.sel-box{
    position:relative;
    z-index: 99;
}
.sel-box:hover {
	cursor: pointer;
}
#select{
    display:block;
    float: right;
    border:1px solid #999;
    margin: 5px 0 5px 0;
    padding:5px;
    font-size: 12px;
    color: #333;
}
.toc-odd{
   position:absolute;
   top:32px;
   background:#f1f1f1;
   border: 1px solid #ccc;
   border-bottom: none;
	display:none;
	right: 0;
}
ul.toc-odd li {
    border-bottom:1px solid #ccc;
    display: list-item;
    float: none;
}
ul.toc-odd li a, ul.toc-odd li a:visited {
/*    width:200px; */
    padding:5px 10px;
	font-size: 14px;
	margin: 0px;
}
ul.toc-odd li a:hover, ul.toc-odd li a:active {
	background: #fff;
}


/* Dropdown Menu Styles */

.topnav li ul li {
	color:#000;
	display: block;
	float:none;
	border: none;
	padding: 0;
	}
.topnav li ul li:first-child {
	border: none;
}
.topnav li ul {
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	position: absolute;
	display:none;
	width: 150px;
	z-index: 3;
}
	
.topnav li:hover ul {
	display: block;
	background-repeat:repeat-x;
	background-color: #fff;
	padding: 0; 
	-webkit-box-shadow: 0px 1px 4px #333;
	border: 1px solid #000;

	}

	
.topnav li:hover li a, .topnav li:hover li a:visited {
	padding: 5px;
	border: none;
	text-decoration: none;
	float: none;
	color:#000;
	font-size: .9em;
	*display: inline-block;
	*zoom: 1;
	display:block;
	margin: 0px;
}

.topnav li:hover li a:hover {
	float: none;
	*display: inline-block;
	*zoom: 1;
	display:block;
	background-color:#CCC;
	background-image: none;
}

.topnav li:hover li a:active {
	background-color:#CCC;
}
.fa.mobilenav {
	color: #13527d;
	font-size: 2.5em;
	margin: 35px 10px 0 0;
	float: right;
	cursor: pointer;
	display: none;
}
	
/* Footer */
.footerwrapper {
	background: #13527d;
	color: #fff;
	padding: 20px 0;
}
.footerwrapper a {
	color: #fff;
}
.footermenu ul {
	list-style-type: none;
	padding: 0 0 10px 0;
	margin: 0;
}
.footermenu li {
	display: block;
	float: left;
	margin-right: 20px;
}
.footerwrapper .socialmedia img {
	margin: 10px 5px 0 0;
}
.footerwrapper .socialmedia h3.widgettitle {
	color: #fff;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

/* SHOWCASER */
.showcasecontent {
	margin-left: -10px;
	width: 980px;
}

.slidewrap {
	position: relative;
	width: 980px;
	height: 400px;
}
.slideswoop {
	position: absolute;
	bottom: 0px; left: 0;
	width: 980px;
	height: 82px;
	z-index: 18;
}

#slidenav {
	position: absolute;
	bottom: 55px;
	right: 15px;
	z-index: 20;
}

#slidenav a {
	display: block;
	background: #d9d9d9;
	border-radius: 7px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	width: 14px;
	height: 14px;
	margin: 4px;
	float: right;
	text-indent: -9999px;
}

#slidenav a.activeSlide {
		background: #f4f4f4;
}


.slideoverlay {
	position: absolute;
	display: block;
	width: 100%;
	left: 30px;
	top: 40px;
}
#slideshow .slideoverlay h2 {
	color: #fff;
	font-size: 40px;
	margin-bottom: 15px;
	text-shadow: 1px 1px 3px #000;
}
#slideshow .overlaytext {
	width: 500px;
}
#slideshow .slideoverlay p {
	color: #fff;
	font-size: 18px;
	text-shadow: 1px 1px 3px #000;
	line-height: 1em;
	margin-bottom: 15px;
}
#slideshow .slideoverlay a {
	display: block;
	padding: 10px 20px;
	margin: 10px 0;
	background: #fff;
	color: #13527d;
	float: left;
	clear: both;
	border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 1px 1px 3px #000;
	-moz-box-shadow: 1px 1px 3px #000;
	text-shadow: none;
	text-decoration: none;
}


/* Homepage */

.homebox {
	padding: 0 25px;
}
.homebox h2 {
	color: #f67811;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	margin: 0 0 10px 0; 
}
.homebox h2 img {
	margin-top: -3px;
}
.homebox a:link, .homebox a:visited {
	display: block;
	padding: 10px 20px;
	margin: 10px 0;
	background: #13527d;
	color: #fff;
	float: right;
	clear: both;
	border-radius: 10px;
	-moz-border-radius: 10px;
	text-shadow: none;
	text-decoration: none;
}
.homebox a:hover, .homebox a:active {
	background: #f67811;
}

.container_12 .homecaring {
	background: url(images/bg-bokeh2.png)/*tpa=http://www.centene.com/wp-content/themes/centene-2014/images/bg-bokeh2.png*/ top left;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
src='images/bg-bokeh2.png',
sizingMethod='scale');

-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
src='images/bg-bokeh2.png',
sizingMethod='scale')";
	margin: 20px 0px 40px -10px;
	font-size: 14px;
	display: block;
}
.fullwidth iframe {
	float: left;
	margin-right: 20px;
}
.homecaring h1 {
	font-weight: normal;
}
.homecaring h1 a {
	text-decoration: none;
}

.homecaring .caringtitle {
	font-weight: bold;
	margin: 0px;
}
.homecaring p {
	margin-bottom: 15px;
}
.homecaring .slidedeck_video_container{
	width: 42%;
	float: left;
	padding-right: 15px;
	margin-right: 15px;
	border-right: 1px #bbb solid;
}
.homecaring .featured_post_container h2{
	font-size: 1.6em;
}
.homecaring .featured_post_container p{
	font-size: 1.2em;
}
.homenews {
	padding: 0 0 0 25px;
}
.homenews h2 {
	color: #13527d;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	margin: 0 0 10px 0; 
}
.homenews h2 img {
	margin-top: -5px;
}
.homespotlight {
	background: #eea527;
	border-radius: 10px;
	-moz-border-radius: 10px;
	color: #fff;
	padding: 15px 25px;
	margin-right: 25px;
}
.homespotlight h2 {
	font-size: 30px;
	font-weight: normal;
}
.homespotlight h2 img {
	margin: -5px 0 0 15px;
}
.homespotlight a {
	display: block;
	padding: 10px 20px;
	margin: 10px 0;
	background: #fff;
	color: #eea527;
	float: right;
	border-radius: 10px;
	-moz-border-radius: 10px;
	text-shadow: none;
	text-decoration: none;
}
img.community-outreach-feature{
	float: left;
	margin-right: 20px;
	}

.news-feed {
	list-style-type: none;
	font-size: .75em;
}
.news-feed li {
	margin-bottom: 20px;
}

span.news-date {
	color: #333;
	text-decoration: none;
	display: block;
	font-weight: bold;
	font-size: .85em;
}

/* Sidebar */


.widget ul {
	margin-left: 20px;	
}
.widget {
	margin-bottom: 20px;	
}
.widgettitle {
	margin: 10px 0;
	padding-top: 15px;
	border-top: 1px #fff solid;
	font-weight: bold;
	color: #f67811;
	font-size: 14px;
	text-transform: uppercase;
}
.widget h4 {
	font-weight: normal;
}
.widget input[type="text"] {
	width: 130px;
}
.widget input[type="submit"] {
	padding: 5px 5px;
}

.container_12 .leftsidebarnav.grid_3 {
	margin-left: -10px;
	width: 230px;
}
.leftsidebarnav {
	
}
.leftsidebarnav ul.menu, .leftsidebarnav ul.children {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.leftsidebarnav ul.menu li a:link, .leftsidebarnav ul.menu li a:visited {
	display: block;
	padding: 15px;
	margin-bottom:0px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	background: #888;
}
.leftsidebarnav ul.menu li a:hover, .leftsidebarnav ul.menu li a:active, .leftsidebarnav ul.menu li a.current {
	color: #fff;
	background: #f67811;
}
.leftsidebarnav ul.menu h1.listtitle {
	display: block;
	padding: 15px;
	margin-bottom:0px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	background: #888;
}
.leftsidebarnav ul.menu ul.children li a {
	padding-left: 30px;
	font-size: 12px;
}
.leftsidebarnav ul.menu ul.children li a:before {
	content:"» ";
}
.leftsidebarnav ul.submenu {
	list-style-type: none;
	margin: 0;
}
.leftsidebarnav ul.submenu li a:link, .leftsidebarnav ul.submenu li a:visited {
	display: block;
	padding: 5px 15px;
	margin-bottom:0px;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 10px;
	background: #ccc;
}
.leftsidebarnav ul.submenu li a:hover, .leftsidebarnav ul.submenu li a:active, .leftsidebarnav ul.submenu li a.current {
	color: #333;
	background: #fff;
}
.leftsidebarnav ul.submenu h1 {
	display: block;
	padding: 15px 15px 5px 15px;
	margin-bottom:0px;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	background: #ccc;
}


/* News */
.newscontent {
	margin-bottom: 30px;
}
.newscontent h1, .pagecontent h1 {
	text-decoration: none;
	font-size: 30px;
	margin: 20px 0 5px 0;
}
.newscontent h1 a:link, .newscontent h1 a:hover, .newscontent h1 a:visited, .newscontent h1 a:hover {
	display: block;
}
.newscontent .newsdate {
	font-size: .8em;
	margin-bottom: 15px;	
}
.newscontent p, .pagecontent p {
	margin-bottom: 10px;
	line-height: 1.5em;	
}
.newstext {
	margin-bottom: 40px;	
}

/* page */

.featurecontent {
	width: 980px;
	padding: 25px;
	color: #fff;
	text-shadow: 1px 1px 3px #666;
	margin: 0 0 0px -10px;
	height: 325px;
}
.featurecontent h1 {
	font-size: 42px;
	margin-bottom: 25px;
}
.featurecontent p {
	margin-bottom: 15px;
	font-size: 18px;
	padding-right: 470px;
}

a.featurebutton {
	display: block;
	width: 100%;
	padding: 10px;
	text-decoration: none;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #13527d;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
a.featurebutton:visited {
	
}
a.featurebutton:active, a.featurebutton:hover {
	background: #f67811;
}
.featurebutton h2 {
	font-weight: normal;
	font-size: 28px;
	margin-bottom: 20px;
}
.pagecontent h1 {
	color: #f67811;
	font-size: 32px;
	text-transform: uppercase;
}
.pagecontent h2 {
	color: #13527d;
	font-size: 22px;
	margin-bottom: 15px;
}
.pagecontent h3 {
	font-size: 18px;
}
.pagecontent ul {
	margin-left: 20px;
	margin-bottom: 10px;	
}
.pagecontent li {
	margin-bottom: 10px;
}
.bordertop {
	border-top: 1px solid #ccc;
	margin: 20px 0 0 0;
	padding: 20px 0;

}
.bordertop .pagecontent h1, .bordertop.pagecontent h1 {
	margin-top: 0px;
}

/* Who We Help */
.whowehelplinks .attachment-solutionlogosm {
	float: left;
	margin: 0 10px 10px 0;
}
.healthsolution a {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	width: 170px;
	height: 135px;
	padding: 15px;
	float: left;
	margin: 5px;
	font-size: 12px;
	color: #13527d;
	text-decoration: none;
	background: #eee;
}
.healthsolution a:hover {
	background: #ccc;
}
.mapWrapper {
	margin: 20px auto;
	max-width: 100%;
	z-index: 50;
}
.valueadd {
	border-top: 1px solid #13527d;
	padding: 20px 0;
}

	.point .plan {
		font-weight: normal;
	}
	div.point {
		pointer-events: none;
	}
	


/* Health Solutions */

.rightsidebar {
	display: block;
	background: #e3e3e3;
	margin-top: 65px;
	padding: 15px;
	font-size: 14px;
}
.rightsidebar ul {
	margin-left: 20px;
}
.healthsolutionhq {
	margin-bottom: 20px;
}
.healthsolutiontagline {
	font-style: italic;
}

/* How We're Different */
.valuesubpages .featurebutton {
	height: 260px;
	margin-top: 20px;
}
.attachment-smallpagefeature {
	margin-top: 25px;
}
.awards {
	margin: 20px 10px;
}
.awards h1 {
	margin-bottom: 20px;
}
.container_12 .awards .grid_8 {
	margin-left: 0px;
}
.awards a:link,.awards a:visited {
	display: block;
	float: left;
	background: #13527d;
	color: #fff;
	text-align: center;
	padding: 10px 25px;
	text-decoration: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.awards a:hover, .awards a:active {
	background: #f67811;
}

.awardslist {
	list-style-type: bullet;
}
.awardslist li {
	font-size: 1em;
}
.awardslist li a {
	text-decoration: none;
}
.awardslist li a:hover {
	text-decoration: underline;
}
.awardcat {
	color: #a4a4a4;
	background: #d3dcf7;
	padding: 0 5px;
	border-radius: 3px;
	font-size: .7em;
}
.awardslist li a:hover .awardcat {
	text-decoration: none;
}
.accreditations ul {
		list-style-type: none;
}
.accreditations ul li {
	float: left;
	margin: 0 12px;
}
.singleaccreditation {
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid #ccc;
	clear: both;
}

/* Social Responsibility */
a.graybutton, a.graybutton:visited {
	background: #eee;
	display: block;
	padding: 15px;
	color: #333;
	margin-bottom: 10px;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a.graybutton:hover, a.graybutton:active {
	color: #333;
	background: #fafafa;
}
.grid_4.graybutton {
	height: 225px;
}
.grid_3.graybutton {
	height: 330px;
}
.graybutton h2 {
	color: #13527d;
	font-size: 28px;
	margin-bottom: 15px;
}
.graybutton .attachment-squarefeature {
	margin: 0px auto;
	display: block;
}
.graybutton .attachment-subpagethumb {
	margin-bottom: 10px;
}
.bluefeature {
	display: block;
	background: #13527d;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 15px;
	color: #fff;
}
.bluefeature img {
	float: left;
	margin: 0 15px 15px 0;
}
.bluefeature a {
	color: #fff;
}
.bluefeature h1 {
	font-size: 28px;
	margin-bottom: 10px;
}


/* Community Outreach */

.videolist .attachment-videothumb {
	float: left;
	margin: 0 15px 15px 0;
}
.videoitem {
	clear: both;
	margin-bottom: 10px;
}
.videoitem a {
	color: #13527d;
}
.communityoutreachvideo {
	float: none;
	margin: 0 20px 20px 0;
}
iframe {
	max-width: 100%;
}

/* Charitable Foundation */

.sustainedpartnership h2 {
	margin-top: 20px;
}
.sustainedpartnerlogo {
	float: left;
	margin: 0 15px 15px 0;
}
.orangefeature {
	display: block;
	background: #f67811;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 15px;
	color: #fff;
}
.orangefeature h1 {
	font-size: 30px;
	margin: 0 0 15px 0;
}
.orangefeature p {
	width: 55%;
}
.orangefeature .button:link, .orangefeature .button:visited {
	display: block;
	padding: 15px;
	width: 40%;
	font-size: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	float: right;
	text-align: center;
	text-decoration: none;
	background: #fff;
	color: #f67811;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
}
.orangefeature .button:hover, .orangefeature .button:active {
	background: #eee;
}
/* Contact */

.featurecontent.contactwrap {
	height: auto;
	min-height: 500px;
	padding: 15px;
}
.featurecontent.contactwrap p {
	padding: 0px;
}
.contactmain {
	height: 480px;
}
.contactsidebar {
	padding-left: 15%;
}
.gform_wrapper div textarea.medium{
	height: 60px;
}
.gform_wrapper div.gform_footer{
	padding: 0;
}
.contactsidebar a:link, .contactsidebar a:visited {
	display: block;
	text-align: center;
	font-size: 14px;
	color: #13527d;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	text-shadow: none;
	background: #ddd;
	text-decoration: none;
}
.contactsidebar a:active, .contactsidebar a:hover {
	background: #fff;
	color: #13527d;
}
.contentwrap input[type="text"], .contentwrap input[type="email"], .contentwrap input[type="tel"] {
	height: 25px;
	width: 100%;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.contentwrap textarea {
	height: 80px;
	width: 100%;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.contentwrap input[type="submit"] {
	border: none;
	background: #f67811;
	color: #fff;
	text-align: center;
	font-size: 16px;
	padding: 8px 30px;
	float: right;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.contentwrap input[type="submit"]:hover {
	color: #f67811;
	background: #fff;
}


/* STATE Post Type */

.healthplanwrap {
	padding: 20px 0;
	border-top: 1px solid #666;
}
.healthplancontent .plantype {
	float: right;
	color: #666;
	margin: 0px;
	font-size: 24px;
	max-width: 250px;
	text-align: right;
}
.planname, .planlogo {
	margin-bottom: 30px;
}
.healthplancontent {
	width: 70%;
	float: left;
	padding-right: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.healthplansidebar.rightsidebar {
	width: 30%;
	float: left;
	margin: 0px 0 20px 0;
}

.healthplansidebar.rightsidebar a{
	word-wrap: break-word;
}
.mobiledropdown {
	display: none;
}


/* Archive */


h1.categorytitle {
	font-size: 2em;
	margin-bottom: 30px;
	padding-bottom: 4px;
	font-weight: bold;
}

.archivecontent {
	border-top: 1px solid #ccc;
	padding-top: 20px;
	margin-top: 20px;
}
.archivecontent h1 {
	font-weight: normal;
	color: #13527d;
	font-size: 24px;
}

/* Comments */
.comments {
	margin-top: 35px;
	padding-top: 35px;
}
h3#comments {
	font-size: 1.3em;
}
.comments ul, .comments ol {
	list-style-type: none;
}
.comments #respond {
	margin-top: 35px;
}
li.comment {
	margin-top: 25px;
}
.comments .children {
	margin-left: 30px;
}
#respond h3 {
	padding: 0 0 15px 0;
	font-size: 1.2em;	
}




/* TABLET AND NETBOOK STYLES */

@media screen and (max-width: 920px) and (min-width: 601px) {
	body {
		min-width: 650px;
	}
	.container_12 {
		width: 100%;
		margin: 0;
	}
	.container_12 .grid_12 {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		display: block;

	}
	.container_12 .grid_6 {
		width: 46%;
		margin: 0 2%;
		padding: 5px;
	}
	.container_12 .grid_9 {
		width: 60%;
	}
	.container_12 .grid_8 {
		width: 60%;
	}
	.container_12 .grid_4 {
		width: 30%;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	
	/* Header */
	
	.topnav ul li a, .topnav ul li a:visited {
		font-size: 16px;
		margin: 0px;
	}
	
	/* Homepage */
	
	.homebox a:link, .homebox a:visited, .homespotlight a {
		width: 100%;
		text-align: center;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	
	.homespotlight {
		margin-right: 0;
	}
	.homespotlight img {
		display: none;
	}
	
	.showcasecontent {
		width: 100%;
		margin-left: 0;
	}
	.slidewrap {
		width: 100%;
		height: 270px;
		overflow: hidden;
	}
	.slideswoop {
		width: 100%;
		bottom: -30px;
	}

	
	/* Who We Help */
	.featurecontent {
		width: 100%;
		padding: 15px;
		margin: 0 0 20px 0;
	}
	.featurecontent p {
		padding-right: 30%;
	}
	.container_12 .grid_4.whowehelplinks {
		width: 100%;
	}
	.container_12 .grid_8.whowehelpmap {
		width: 100%;
	}
	.whowehelplinks .featurebutton {
		width: 30%;
		float: left;
		margin-right: 15px;
	}
	
	

	
	/* How We're Different */
	.container_12 .grid_4.graybutton {
		width: 29%;
		overflow: hidden;
	}
	.container_12 .featurebutton.grid_3, .container_12 .graybutton.grid_3 {
		width: 46.5%;
		height: 190px;
	}
	.graybutton.grid_3 img {
		display: none;
	}
	.communityfeature iframe {
		width: 50%;
	}
	.container_12 .awards .grid_3 {
		width: 28%;
	}
	.bluefeature img {
		max-width: 50%;
	}
	
	/* Contact */
	.container_12 .grid_5.contactsidebar {
		width: 40%;
	}
	.contactmain input[type="submit"] {
		width: 100%;
	}
	.contactsidebar {
		padding-left: 10%;
	}
	/* States */

	.healthplancontent {
		width: 100%;
	}
	.healthplansidebar.rightsidebar {
		width: 100%;
	}

}
/* PHONE STYLES */
@media screen and (max-width: 600px) {

	body {
		min-width: 320px;
	}
	.container_12 {
		width: 100%;
		margin: 0;
	}
	.container_12 .grid_12, .container_12 .grid_9,  .container_12 .grid_8, .container_12 .grid_6, .container_12 .grid_4, .container_12 .grid_3 {
		width: 100%;
		margin-left: 0px; margin-right: 0px;
		float: none;
		clear: both;
	}
	.container_12 img {
		max-width: 100%;
		height: auto;
	}
	.button {
		width: 100%;
		margin: 10px 0;
	}

	/* Header */
	
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.container_12 .grid_5.headerinfo {
		width: 100%;
		position: absolute;
		top: 5px; left: 0px;
		float: none;
		text-align: center;
		padding: 0;
		height: auto;
	}
	h1.logo {
		margin-top: 35px;
	}
	.navwrapper {
		background: #13527d;
		border-top: 10px solid #13527d;
		border-bottom: 1px solid #b5b5b5;
		margin: 0;
	}
	.topnav {
		clear: both;
		font-size: 18px;
		color: #fff;
		font-weight: 100;
		display: none;
	}
	.topnav.show {
		display: block;
	}
	.topnav ul {
		float: none;
		margin: 5px 0;
	}
	.ie7 .topnav ul li {
		display: block;
	}
	.topnav ul li {
		display: block;
		float: none;
	}
	.topnav ul li a, .topnav ul li a:visited {
		display: block;
		padding: 7px 10px 7px 10px;
		margin: 0;
		color: #fff;
		font-size: 18px;
		text-decoration: none;
		z-index: 2;
	}
	.topnav ul li a:active, .topnav ul li a:hover {
		color: #13527d;
		background-color: #fff;
	}
	.topnav .searchform, .topnav .searchform input {
		display: block;
		margin: 0 auto 2px auto;
	}
	.topnav br {
		display: none;
	}
	
	.fa.mobilenav {
		display: block;
	}
	
	.homebox {
		padding: 0px;
	}
	.homebox a:link {
		float: none;
		display: block;
		clear: both;
		text-align: center;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 100%;
		margin-bottom: 25px;
	}
	.container_12 .homecaring {
		height: auto;
	}
	.homecaring iframe {
		/*removed for SlideDeck 2 responsive styles. If a normal
		YouTube video with description is used again, this should 
		be uncommented*/
		/*display: none;*/
	}
	.homespotlight {
		margin-top: 20px;
		margin-right: 0;
	}
	.homespotlight img {
		display: none;
	}
	.homespotlight a {
		width: 100%;
		text-align: center;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	
	.showcasecontent {
		width: 100%;
		margin-left: 0;
	}
	.slidewrap {
		width: 100%;
		height: 220px;
		overflow: hidden;
		display: none;
	}
	.slideswoop {
		width: 100%;
		bottom: -30px;
		display: none;
	}
	.slideoverlay {
		width: 90%;
		top: 15px;
	}
	#slideshow .slideoverlay h2 {
		font-size: 1.7em;
	}
	#slideshow .slideoverlay p {
		font-size: .9em;
	}
	
	.headerinfo {
		font-size: .7em;
		margin: 0;
	}
	
	/* Footer */
	
	.footerwrapper .socialmedia h3.widgettitle {
		margin-top: 20px;
	}
	/* WHO WE HELP */
	
	.mapWrapper {
		display: none;
	}
	.healthsolution a {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		display: block;
		width: 100%;
		height: auto;
		padding: 15px;
		float: none;
		margin: 5px;
		font-size: 12px;
		color: #13527d;
		text-decoration: none;
		background: #eee;
	}

	
	/* How We're Different */
	
	.featurecontent {
		width: 100%;
		padding: 15px;
		margin: 0 0 20px 0;
	}
	.featurecontent p {
		font-size: 16px;
		padding: 0px;
	}

	.container_12 a.featurebutton, .container_12 a.featurebutton:visited, .container_12 .graybutton:link, .container_12 .graybutton:visited {
		height: auto;
	}
	.attachment-smallpagefeature {
		margin-top: 10px;
	}
	.graybutton.grid_3 img {
		display: none;
	}
	.awards a:link, .awards a:visited {
		width: 100%;
		margin-bottom: 20px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	
	.container_12 .awardsimage.grid_3 {
		width: 100%;
		display: block;
		clear: both;
		text-align: center;
		margin-top: 25px;
	}
	.accreditations .logo {
		width: 100%;
		display: block;
		float: none;
		text-align: center;
		margin-bottom: 20px;
	}
	.grid_4.greenfriendly img {
		display: none;
	}
	.grid_8.greenfriendly img {
		margin-bottom: 20px;
	}
	.communityfeature iframe {
		width: 100%;
		margin: 0 auto 20px auto;
	}
	.bluefeature {
		margin-top: 20px;
	}
	.bluefeature img {
		max-width: 50%;
	}
	
	
	/* Contact */
	.contactmain input[type="submit"] {
		width: 100%;
	}
	.contactmain .wpcf7 {
		height: 420px;
	}
	.contactsidebar {
		color: #333;
		padding-left: 0px;
	}
	.container_12 .contactsidebar.grid_5 {
		width: 100%;
		display: block;
	}
	/* States */
	.healthplancontent {
		width: 100%;
	}
	.healthplansidebar.rightsidebar {
		width: 100%;
	}
	.mobiledropdown {
		display: block;
		width: 100%;
		margin-top: 15px;
	}
	.mobiledropdown select {
		width: 100%;
	}
	.single-states .leftsidebarnav, .page-template-template-medicare-php .leftsidebarnav {
		display: none;
	}

}