@import url("reset.css");

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#333;
}

a:link {
	text-decoration:none; 
	color:#333;
}

a:hover { 
    text-decoration:underline; 
	color:#009BDF;
}


p {
    padding: 10px;
}

h1 {
    padding: 10px;
	font-size: 18px;
    color:#333;
}

#wrapper {
    width: 100%;
    min-width: 1000px;
    max-width: 2000px;
    margin: 0 auto;
}

#header {
    float: left;
    height: 91px;
    width: 100%;
    background: #FFFFFF;
}

.navigation li
{
display: inline;
list-style-type: none;
padding-right: 10px;
font-size: 12x;
}


.navigation {

height: 30px;
width: 100%;
background: #FFFFFF;
display: inline;
list-style-type: none;
padding-right: 10px;
}
	
	

#contentliquid {
    float: left;
    width: 100%;
}

#content {
    background: #FFFFFF;
    width: 100%;
}

#footer {
    height: 40px;
    width: 100%;
    background: #FFFFFF;
    clear: both;
}

