/* ==========================================================================
   Project: 	Stripes
   Date:		04/18/14
   Created by:	Third Wave Digital (www.thirdwavedigital.com)
   ========================================================================== */

/* ==========================================================================
   Typography
   ========================================================================== */

body, input, textarea {font-family:'Droid Sans', sans-serif; color: #333;  -webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-ms-font-smoothing:antialiased;-o-font-smoothing:antialiased;font-smoothing:antialiased;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

/*@font-face{ font-family:'Stripes Condensed';  src:url('/css/fonts/stripes_condensed-webfont.eot');  src:url('/css/fonts/stripes_condensed-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/stripes_condensed-webfont.woff') format('woff'), url('/css/fonts/stripes_condensed-webfont.ttf') format('truetype'), url('/css/fonts/stripes_condensed-webfont.svg#stripes_condensedregular') format('svg');  font-weight:normal;  font-style:normal}*/
@font-face{ font-family:'Stripes';  src:url('fonts/stripes-webfont.eot')/*tpa=http://www.stripesstores.com/css/fonts/stripes-webfont.eot*/;  src:url('fonts/stripes-webfont.eot-#iefix')/*tpa=http://www.stripesstores.com/css/fonts/stripes-webfont.eot?#iefix*/ format('embedded-opentype'), url('fonts/stripes-webfont.woff')/*tpa=http://www.stripesstores.com/css/fonts/stripes-webfont.woff*/ format('woff'), url('fonts/stripes-webfont.ttf')/*tpa=http://www.stripesstores.com/css/fonts/stripes-webfont.ttf*/ format('truetype'), url('fonts/stripes-webfont.svg#stripesregular')/*tpa=http://www.stripesstores.com/css/fonts/stripes-webfont.svg#stripesregular*/ format('svg');  font-weight:normal;  font-style:normal}

/* ==========================================================================
      Headings
   ========================================================================== */
   
h1,h2,h3,h4,h5,h6 {padding: 0px; margin: 20px 0px 20px 0px; font-family: 'Stripes', sans-serif; font-weight:normal;}
	h1 {color: #004e7e; font-size: 60px; line-height: 60px;margin: 40px 0px 40px 0px;}
	h2 {color: #0077c0; font-size: 28px; line-height: 30px;}
	h3 {color: #004e7e; font-size: 20px; line-height: 22px;}

/* ==========================================================================
   Basic Elements
   ========================================================================== */

html,body { overflow-x:hidden;}
body {background: #0077c0}
a:focus, a:active, a:visited, object, player, embed, video, img, input,div, button { outline: none; outline: 0 }  

/* ==========================================================================
   Links
   ========================================================================== */

a { color: #0077c0; text-decoration: none; }
a:hover, a:active, a:focus {text-decoration: none; color: #e31b23;}
a img { border: none; }

/* ==========================================================================
   Main Layout
   ========================================================================== */
 
.wrapper { z-index: 2; position: relative; min-height: 100%;background: #fff; webkit-backface-visibility: hidden;transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0);right: 0px;}

.offcanvas {overflow-x:hidden; overflow-y: auto;position: fixed; right: -280px; top: 0px; height: 100%; width: 275px;transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0);}
	.offcanvas.navmenu-default ul+ul { list-style: none; line-height: 26px;}
	.offcanvas.navmenu-default ul+ul a:hover {color: #9fcf67; background: none;}
	.offcanvas.navmenu-default a:hover {background: none; color: #fff}
	.offcanvas.navmenu-default { padding: 0px 10px 0px 10px;background: #231f20; border: none; text-align: right;}
	.offcanvas.navmenu-default .navmenu-nav {font-size: 16px;font-weight: bold; margin-top: 10px;}
	.offcanvas.navmenu-default .navmenu-nav li {border-bottom: 1px solid #4f4c4d;}
	.offcanvas.navmenu-default .navmenu-nav a { color: #9fcf67; display: block;}
	.offcanvas.navmenu-default .navmenu-nav a:hover,  .offcanvas.navmenu-default .navmenu-nav .open a { color: #fff; }
	.offcanvas.navmenu-default .dropdown-backdrop {position: static;}
	.offcanvas.navmenu-default .dropdown-menu { padding: 0px; position: static;float: none;padding-top: 0;margin: 0;border: none;border-radius: 0;-webkit-box-shadow: none;box-shadow: none;}
	.offcanvas.navmenu-default .dropdown-menu, .offcanvas.navmenu-default .open a, .offcanvas.navmenu-default .dropdown-menu, .offcanvas.navmenu-default .open a:focus { background: #231f20}
	.offcanvas.navmenu-default .dropdown-menu li:first-child {border-top: 1px solid #4f4c4d; }
	.offcanvas.navmenu-default .dropdown-menu li { border-bottom: 1px solid #4f4c4d; font-size: 14px; padding: 2px 0px 2px 0px;}
	.offcanvas.navmenu-default .dropdown-menu li:last-child { border-bottom: none;}
	.offcanvas.navmenu-default .dropdown-menu li a:hover {background: #fff; color: #231f20}
	.offcanvas.navmenu-default .open .dropdown-menu li a {white-space: normal}
	
	.offcanvas.navmenu-default .dropdown-menu li ul {}
	.offcanvas.navmenu-default .dropdown-menu li ul li {border-bottom: none; padding: 0px;}
	.offcanvas.navmenu-default .dropdown-menu li ul li a { background: #000; padding: 4px 20px 4px 0px;}
	
	.offcanvas.navmenu-default .navmenu-nav .dropdown a:focus .caret, .offcanvas.navmenu-default .navmenu-nav .dropdown a:hover .caret {border-top-color: #fff; border-bottom-color: #fff;}
	.offcanvas .social-media ul {margin: 0px; padding: 0px; list-style: none; float:right; font-size: 30px;}
	.offcanvas .social-media ul li { float: left; margin:5px 0px 0px 10px;}
	.offcanvas .social-media ul li a {display: block; color: #fff;}
	.offcanvas address { font-size: 14px; color: #fff; font-weight: normal;}
	.offcanvas a {color: #fff; padding: 2px;}
	.offcanvas a:hover {background: #000}
	
	.touch .offcanvas.navmenu-default .navmenu-nav a:hover { color: #9fcf67 }
	.touch .offcanvas.navmenu-default .dropdown.open a { color: #fff }
	.touch .offcanvas.navmenu-default .navmenu-nav .dropdown a:focus .caret, .touch .offcanvas.navmenu-default .navmenu-nav .dropdown a:hover .caret {border-top-color: #777; border-bottom-color: #777;}
	.touch .offcanvas.navmenu-default .dropdown-menu li a:hover {background: none; color: #9fcf67}
	.touch .offcanvas a:hover {background: none;}
	
	/* CSS3 version */
	.offcanvas-open .wrapper  {overflow-y:hidden; position:fixed; width: 100%;-webkit-transition:right 350ms ease-out;-moz-transition: right 350ms ease-out;-o-transition: right 350ms ease-out;transition: right 350ms ease-out; right: 275px;}
	.offcanvas-closed .wrapper  {-webkit-transition:right 350ms ease-out;-moz-transition: right 350ms ease-out;-o-transition: right 350ms ease-out;transition: right 350ms ease-out; right: 0px;}
	.offcanvas-open .offcanvas {-webkit-transition:right 350ms ease-out;-moz-transition: right 350ms ease-out;-o-transition: right 350ms ease-out;transition: right 350ms ease-out; right: 0px;}
	.offcanvas-closed .offcanvas {overflow:hidden;-webkit-transition:right 350ms ease-out;-moz-transition: right 350ms ease-out;-o-transition: right 350ms ease-out;transition: right 350ms ease-out; right: -280px;}
	
	/* jQuery version */
	.offcanvas-open-jquery .offcanvas { right: 0px;position:fixed;}
	.offcanvas-open-jquery .wrapper {overflow-y:hidden; position:fixed; width: 100%;}
	
.container-full.header {background: #0077c0;z-index: 2;}
	header {z-index: 2;}
	header img:first-child {position: absolute; top: -16px; left: 0px;z-index: 3;}
	header ul {font-weight: bold;top: 0px; font-size: 18px; height: 58px; overflow: hidden; line-height: 20px; text-align: center;position: absolute; right: 0px;margin: 0px; padding: 0px;}
	header ul li { border-right: 1px solid #3191cc;float:left;}
	header ul li.active a {background: #003d63; color: #fff;}
	header ul li:last-child {border: none;}
	header ul li a {color: #fff;display: block;padding: 10px 10px 10px 10px; height: 58px; width: 130px; display: table-cell; vertical-align: middle;-webkit-transition:background 100ms ease-out;-moz-transition: background 100ms ease-out;-o-transition: background 100ms ease-out;transition: background 100ms ease-out;}
	header ul li a:hover {background: #003d63; color: #fff;}
	header ul li sup { padding: 0px 0px 0px 2px; }
	header button {color: #fff; position: absolute; top:5px; right: 15px;font-size: 28px; padding: 0px; margin: 0px; background: none; border: none; border-radius: 0px}
	header button:hover i {color: #e31b23;}
	@-moz-document url-prefix() { header button {top: 4px}}
	header nav button+div { position: absolute; top: 9px; right: 55px;text-transform: uppercase;color: #fff; font-weight: bold; font-size: 15px;}
	header nav button+div p { margin: 0px; padding: 0px 0px 0px 20px; font-size: 0px;}
	header nav button+div .fa {font-size: 22px; position: absolute;}
	header nav button+div a { color: #fff;}
	header nav button+div a:hover {color: #fff;}
	header nav button+div a:hover i {color: #e31b23;}
	.touch header nav button+div a:hover i {color: #fff;}
	
.container-full.quicklinks {background: #fff; border-bottom: 1px solid #e5dcdc;}
	.quicklinks ul {font-weight: bold;top: 0px; font-size: 16px; position: absolute; right: 0px;margin: 0px; padding: 0px;}
	.quicklinks ul li {float:left;}
	.quicklinks ul li a {color: #0077c0; display: block; padding: 9px;}
	.quicklinks ul li a:hover {color:#003d63 }
	.quicklinks ul .store-locator-btn a {background: #e31b23; position: relative; color: #fff; height: 40px; margin: 0px 0px 0px 30px; padding: 9px 9px 0px 30px; text-transform: uppercase;}
	.quicklinks ul .store-locator-btn a:hover {background: #c60c13;color: #fff}
	.quicklinks ul .store-locator-btn .fa {font-size: 26px;position: absolute; top: 7px; left: 8px;}
	/* Quicklinks dropdown */
	.quicklinks ul ul {margin: 0px; padding: 0px; position: absolute; top: 40px; font-size: 14px; right: auto; font-weight: normal; left: 9px; list-style: none; background: #fff; z-index: 4}
	.quicklinks ul ul li {float: none; clear: both} 
	.quicklinks ul ul li a {display:block; padding: 5px 15px 5px 15px; margin: 0px; color: #003d63;}
	.quicklinks ul ul li a:hover {background: #f1f1f1; color: #0077c0}
	
.container-full.dropdown {z-index: -1; text-align: center; display: none; color: #fff; position: absolute; top: 98px; left: 0px; right: 0px;z-index: 2;}
	@-webkit-keyframes fadeIn {from {opacity:0;} to {opacity:1;}}
	@-moz-keyframes fadeIn {from {opacity:0;} to {opacity:1;}}
	@keyframes fadeIn {from {opacity:0;} to {opacity:1;}}
	.container-full.dropdown.show {display:block;}
	.container-full.dropdown .row { background: #003d63;border-bottom:5px solid white; padding-bottom: 10px; }
	.container-full.dropdown .row div {-webkit-animation:fadeIn ease-in 1; -moz-animation:fadeIn ease-in 1;animation:fadeIn ease-in 1;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards; animation-fill-mode:forwards;-webkit-animation-duration:.2s;-moz-animation-duration:.2s;animation-duration:.2s;}
	.container-full.dropdown p {display: inline-block; margin: 30px 0px 10px 0px; font-weight: bold;}
	.container-full.dropdown#laredo-taco-company p, .container-full.dropdown#beverages p, .container-full.dropdown#snacks p { padding: 3px 10px 3px 10px;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
	.container-full.dropdown img {margin: 0px auto 10px auto; display:block; }
	.container-full.dropdown ul {text-align: left; list-style: none; margin: 15px 0px 0px 0px; padding: 0px;}
	.container-full.dropdown a { color: #fff; }
	.container-full.dropdown ul li a:hover {text-decoration: underline;}
	.container-full.dropdown a:hover p {color:#fff;background: #0077c0;-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;transition: all 0.2s ease-out;}
	.container-full.dropdown#about-us { text-align: left}
	.container-full.dropdown#about-us img { margin-top: 30px;}
	
.container-full.feature {background: url(../img/bkground-texture.gif)/*tpa=http://www.stripesstores.com/img/bkground-texture.gif*/ #eeeaea; z-index: 1;border-bottom: 1px solid #e5dcdc;}
	.feature h1 {margin-top: 30px;}
	.feature h2:first-child, .feature p:first-child {margin-top: 0px;}
	.feature h2 { color: #e31b23;}
	.feature .row img { margin: 0px 0px 20px 0px; max-width: 100%; height: auto !important}
	
.container-full.content {z-index: 1;}
	.content section {padding: 0px 0px 20px 0px;}
	.content section ul { margin: 20px 0px 20px 30px; padding: 0px;}
	
	.submenu {margin: 0px 0px 0px 0px; padding: 0px; border: 1px solid #dbdbdb; background: #fff;}
	.submenu li {border-bottom: 1px solid #dbdbdb; }
	.submenu li:last-child { border-bottom: none; }
	.submenu li a {display: block; padding: 6px;}
	.submenu li.active a, .submenu li.active a:hover {color: #e31b23}
	.submenu li a, .submenu li.active li a {background: none; color: #333}
	.submenu li a:hover {background: #f2f2ef; color: #000}
	.submenu li ul {margin: 0px; padding: 10px 0px 10px 15px; background: #f2f2ef;}
	.submenu li ul a {padding: 0px;}
	.submenu li ul ul {padding: 5px 0px 5px 15px; list-style: square; color: #ccc;}
	.submenu li ul ul ul { display: none; list-style: none; list-style: disc}
	.submenu li li {border-bottom: none; margin: 8px 0px 8px 0px;}
	.submenu li li li { font-size: 14px; line-height: 14px;}
	.submenu li li:last-child { margin: 0px;}
	.submenu li li a { padding: 0px}
	.submenu li li.active a {color: #fff;}
	.submenu li.active ul li.active a, .submenu li.active ul li a:hover,.submenu li.active ul li.active a:hover, .submenu li.active ul li.active ul li.active a, .submenu li.active ul li.active ul li.active ul li.active a{color: #000; background: none;}
	.submenu li.active ul li.active ul li a,.submenu li.active ul li.active ul li.active ul li a {color: #797979}
	.submenu li.active ul li a {color: #797979;}
	.submenu li ul { display: none; }
	.submenu li.active>ul {display:block;}
	
	.submenu-btn { padding: 0px; margin: 20px 0px 0px 0px;}
	.submenu-btn i {margin: 0px 5px 0px 0px;}
	.submenu-btn a {color: #fff; background: #0077c0; border: 1px solid #0077c0; padding: 7px 10px 5px 10px; display: block; width: 100%;text-align: left; }
	.submenu-btn a:hover {color: #fff;background: #004e7e; border: 1px solid #004e7e;}
	.submenu-btn a.active  {background: #004e7e; color:#cfff; border: 1px solid #004e7e;}
	
.container-full.footer {z-index: 1;background: #0077c0; border-top: 40px solid #004e7e; }
	footer, footer h3, footer a {color: #fff}
	footer a {padding: 1px 2px 1px 2px;}
	footer a:hover {background: #004e7e; color: #fff}
	footer .social-media {position: absolute; top: -39px; right: 12px; text-align: right;height: 40px; }
	footer .social-media ul {margin: -2px 0px 0px 0px; padding: 0px; list-style: none; float:right; font-size: 30px;}
	footer .social-media ul li { float: left; margin:0px 0px 0px 10px;}
	footer .social-media ul li a {color: #fff;filter:alpha(opacity=75); -moz-opacity:.75;  opacity:.75}
	footer .social-media ul li a:hover { filter:alpha(opacity=100); -moz-opacity:1;  opacity:1}
	footer .social-media h3 {font-size: 16px;float: left; margin: 7px 10px -7px 0px;}
	footer article p {margin: 30px 0px 30px 0px}
	footer .row:last-child p {border-top: 1px solid #1a85c6;text-align: center; padding: 20px 0px 0px 0px; color: #a3c3e1;}
	footer .row:last-child p a {color: #a3c3e1;}
	footer .row:last-child p a:hover { color: #fff; background: none;}
	
/* ==========================================================================
   Homepage
   ========================================================================== */
  	
#tile-wrapper {margin: 20px auto 20px auto; max-width: 1540px;}
	#tile-wrapper:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden;}	
	.tile .fa {position: absolute; z-index: 2; top: 10px; left: 10px; color: #fff;  filter:alpha(opacity=0); -moz-opacity:0;  opacity:0; background: #000;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; padding: 2px 4px 1px 4px;}
	.tile img { width: 100% !important; height: auto;z-index:1;}
	.tile:hover .fa { filter:alpha(opacity=100); -moz-opacity:1;  opacity:1; cursor: pointer;}
	
	#mobile-view {width: 95%; margin: 20px auto 0px auto;}
	#mobile-view .tile { margin-bottom: 5px;}
	#mobile-view .tile-column {float:left; width: 49.5%;margin: 0% .5% 0% 0%;}
	#mobile-view .tile-column+.tile-column {float:right;margin: 0%}
		
	#desktop-view { display: none; width: 95%; margin: 20px auto 0px auto;}
	#desktop-view:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden;}
	#desktop-view .tile-column {float:left; }
	#desktop-view .tile-column.left-tiles { width: 60%;float:left;}
	#desktop-view .tile-column.right-tiles {width:40%;}
	#desktop-view .tile-column.left-middle-tiles {width: 100%}
	#desktop-view .tile-column.bottom-left-tile {width: 66.666%; margin-top: -66.6%}
	#desktop-view .tile-column.width-67 {width: 66.666%; }
	#desktop-view .tile-column.width-50 {width: 50.0%; }
	#desktop-view .tile-column.width-33 {width: 33.333%; }
	
/* ==========================================================================
   Menu Pages
   ========================================================================== */
  
#menu {}
	#menu .container-full.feature {text-align:center; border-bottom: none;}
	#menu .container-full.feature img {max-width: 100% !important; height: auto !important; }
	#menu .container-full.content .nav {text-transform: uppercase;font-weight: bold;}
	#menu .container-full.content .nav a {border-radius: 0px; border: none;}

	#menu #food-grid {}
	#menu #food-grid:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden;}
	#menu #food-grid h3 { margin: 0px 0px 20px 0px;}
	#menu #food-grid img {max-width: 100% !important; height: auto !important;  }
	#menu .menu-item, #menu .food-menu-item {position: relative;float:left; background: #fff;  -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);-moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);}
	#menu .food-menu-item {padding: 10px; text-align:center;}
	#menu .menu-item .thumb { text-align: center;  margin: 10px 10px 10px 10px;}
	#menu .menu-item .thumb a {display:block;}
	#menu .menu-item .thumb .title {margin: 20px 0px 20px 0px;  padding: 0px; font-weight: bold; font-size: 18px; line-height: 20px;color: #83b942;}
	#menu .menu-item .thumb .teaser {margin: 0px; padding:0px 10px 0px 10px; font-size: 14px; line-height: 16px; display:none; position: absolute; top: 50%; left: 0px; text-align:center; width: 100%; margin-top: -20px; height: 35px;}
	#menu .menu-item .thumb .cta {display:none; border-radius: 20px; background: #fff; color: #231f20; position: absolute; padding: 3px 0px 3px 0px; left: 50%; margin: 0px 0px 0px -50px; bottom: 30px; border: none; width: 100px;}
	#menu .menu-item:hover {background: #83b942}
	#menu .menu-item:hover img {visibility: hidden}
	#menu .menu-item:hover .thumb .title, #menu .menu-item:hover .thumb .teaser {color: #fff;}
	#menu .menu-item:hover .thumb .teaser, #menu .menu-item:hover .thumb .cta {display:block;}
	.touch #menu .menu-item:hover {background: #fff;}
	.touch #menu .menu-item:hover img {visibility:visible}
	.touch #menu .menu-item:hover .thumb .title, .touch #menu .menu-item:hover .thumb .teaser {color: #83b942;}
	.touch #menu .menu-item:hover .thumb .teaser, .touch #menu .menu-item:hover .thumb .cta {display:none;}
	#menu .carousel-control.right, #menu .carousel-control.left { background: none; filter: none;}
	
	#menu .item-description h2 {color: #231f20;}
	#menu .item-description p {margin: 30px 0px 30px 0px;}
	#menu .js-toggle {font-size: 18px; color: #000;}
	#menu .js-toggle i {vertical-align:middle;font-size: 30px;}
	#menu .item-description.orange .js-toggle i {color: #f78f1e; }
	#menu .item-description.orange .js-toggle:hover i { color: #a8c569;}
	.touch #menu .item-description.orange .js-toggle:hover i { color: #f78f1e}
	#menu .item-description.green .js-toggle i {color: #a8c569; }
	#menu .item-description.green .js-toggle:hover i { color: #f78f1e;}
	.touch #menu .item-description.green .js-toggle:hover i {color: #a8c569;}
	#menu .nutrition  {display:none;}
	#menu .nutrition table { margin-bottom: 0px;}
	#menu .nutrition td {border: none}
	#menu .nutrition .nutrition-info {color: #014f7f;}
	#menu .nutrition .circle {font-size: 18px; line-height: 22px; font-weight: bold; border-radius: 50%; text-align:center; }
	#menu .item-description.orange .circle {background: #f78f1e; }
	#menu .item-description.green .circle {background: #a8c569; }
	#menu .nutrition .circle strong {font-size: 36px;}
	#menu .social-media:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden;}
	#menu .fb-like, #menu .twitter, #menu .pinterest {float:left; margin: 0px 5px 0px 0px;}
	
	/* Menu pages in CMS */
	#menu .ui-sortable .food-menu-item .fa {position:absolute; cursor:pointer; top: 50%; margin-top: -23px; width: 45px; height: 45px; z-index:2;color: #fff;  display: none; background: #000;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; padding: 2px 4px 1px 4px;transform: translate3d(0,0,0);-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;transition: all 0.2s ease-out; }
	#menu .ui-sortable .food-menu-item:hover .fa { display: block; cursor: pointer;}
	#menu .ui-sortable .menu-item:hover, #menu .ui-sortable .food-menu-item:hover {background: #fff }
	#menu .ui-sortable .menu-item:hover img  {visibility:visible}
	#menu .ui-sortable .menu-item:hover .thumb .title {color: #83b942}
	#menu .ui-sortable .menu-item:hover .thumb .teaser, #menu .ui-sortable .menu-item:hover .thumb .cta {display:none;}
	#menu .ui-sortable .food-menu-item .fa-pencil-square {left:25%; }
	#menu .ui-sortable .food-menu-item .fa-minus-square {right: 25%;}
	#menu .ui-sortable .add-new .fa {left: 50%; margin-left: -22.5px;}
	#menu .nav-tabs { margin: 0px 0px 20px 0px;}
	#menu #step-two .col-xs-6 { padding: 0px 7px 0px 7px;}
		
/* ==========================================================================
   Social Media Page
   ========================================================================== */
   
#social-media {position: relative;background: #0077c0; padding: 10px;}
	#social-media .social-media-nav {margin: 0px; padding: 0px; list-style: none;position: absolute; top: 60px; z-index: 0;}
	#social-media .social-media-nav li a {display: block; color: #fff}
	#social-media .social-media-nav li a.active {background: #fff;color: #003d63;}
	#social-media .social-media-nav li .fa {font-size: 32px; width: 35px;float:left; color: #fff;}
	#social-media .social-media-nav li div {margin: 7px 0px -7px 0px; font-weight: bold; font-size: 15px; }	
	#social-media .social-media-nav a.active .fa-facebook-square {color: #395799;}
	#social-media .social-media-nav a.active .fa-twitter {color: #36cbf8;}
	#social-media .social-media-nav a.active .fa-youtube {color: #d13327;}
	#social-media .social-media-nav a.active .fa-instagram {color: #595959;}
	#social-media #feeds {min-height: 400px; background: #fff;z-index: 1; position: relative; padding: 0px 20px 20px 20px;}
	#social-media .row { padding-top: 10px; }
	#social-media iframe {width: 100% !important}
	#social-media #instafeed { margin: 30px 0px 0px 0px; text-align: center;}
	
/* ==========================================================================
   Media Queries
   ========================================================================== */
  
@media (min-width: 0px) {
	.container-full.header {height: 58px; border-top: 20px solid white;}
	.container-full.quicklinks { height: 20px;}
	header img:first-child { width: 175px; height: auto; left: 5px; top: -10px}
	header nav button+div .fa { top: -1px; left: 5px; }
	.feature h2:first-child, .feature p:first-child {margin-top: 20px;}
	.submenu {display: none;}
	.submenu-btn {display:block;}
	.submenu.open {display:block;}
	h1 {font-size: 40px; line-height: 40px }
	h2 {font-size: 22px; line-height: 24px;}
	footer { text-align: center;}
	footer article { display:none;}
	footer .col-xs-4 {width: 100%; }
	
	/* Homepage */
	#mobile-view .tile.twitter { margin-bottom: 5px;}
	
	/* Menu pages */
	#menu #food-grid {margin: 10px auto 20px auto; width: 100%;}
	#menu .container-full.content .nav li {display: block;float:none;}
	#menu .container-full.content .nav li a { margin: 0px 0px 2px 0px;height: 30px;padding: 5px; color: #231f20; background: #9fcf67}
	#menu .container-full.content .nav li a:before {position: absolute; right: 10px; top: 5px; font-family: FontAwesome; content: "\f078"; color: #231f20; font-size: 12px;}
	#menu .container-full.content .nav li.active a {color: #fff; background: #231f20;}
	#menu .container-full.content .nav li.active a:before {color: #fff;}
	#menu .container-full.content .nav a:hover {color: #fff; background: #231f20;}
	#menu .container-full.content .nav a:hover:before {color: #fff;}
	#menu .menu-item, #menu .food-menu-item { min-height: 193px;}
	#menu .menu-item { width: 100%; margin: 10px 0px 10px 0px}
	#menu .food-menu-item { width: 100%; margin: 10px 0px 10px 0px;}
	#menu .carousel-indicators { bottom: -10px;}
	#menu .item-description {padding: 0px 0px 30px 0px;}
	#menu .nutrition .circle {margin: 0px auto 20px auto;width: 110px; height: 110px; padding: 5px 0px 0px 0px;}
	#menu .item-description .social-media {margin: 25px 0px 0px 0px;}
	
	/* Social Media Page */
	#social-media .social-media-nav {left: 0px;}
	#social-media .social-media-nav li div { display: none; }
	#social-media .social-media-nav li {width: 130px;margin-bottom:20px;}
	#social-media .social-media-nav li a {padding: 5px 0px 35px 10px; }
	#social-media #feeds {margin-left: 40px; }
}

@media (min-width: 0px) and (max-width: 479px) {
	#menu .nutrition .row:nth-child(2) .col-xs-6 {width: 100%;}
}

@media (min-width: 0px) and (max-width: 767px) {
	.content img.img-right, .content img.img-left, .content img.img-fancybox-right,.content img.img-fancybox-left {max-width: 100%; height: auto !important}
}

@media (min-width: 400px) {
	header nav button+div p { font-size: 14px; }
	header nav button+div .fa { top: -1px; left: 0px; }
	
	/* Menu pages */
	#menu .menu-item, #menu .food-menu-item {margin: 1%; width: 48%; }
}

@media (min-width: 400px) and (max-width: 768px) {
	/* Homepage */
	#mobile-view .tile.twitter { margin-bottom:6px;}	
}	

@media (min-width: 540px) and (max-width: 767px) {		
	/* Menu pages */
	#menu .nutrition .circle {width:105px; height: 105px; padding: 1px 0px 0px 0px;}
	#menu .nutrition .col-sm-3 {width: 25%;}
}

@media (min-width: 630px) {
	footer { text-align: left;}
	footer article { display :block;}
	footer .col-xs-4 {width: 33.33333333333333%;}
}

@media (min-width: 768px) {
	.container-full.header {height: 98px; border-top: 40px solid white;}
	.container-full.quicklinks {height: 40px; }
	header img:first-child { width: 265px; height: auto; left: 0px; top: -14px;}
	header ul { font-size: 15px; line-height: 15px;}
	header ul li a {width: 85px;}
	header ul li:first-child a {padding: 6px 10px 10px 10px; width:105px;}
	.container-full.quicklinks { height: 40px; }
	.feature h2:first-child, .feature p:first-child {margin-top: 0px;}
	h1 {font-size: 50px; line-height: 50px }
	h2 {font-size: 24px; line-height:26px; }
	.submenu, .submenu.open, .submenu-btn {display: none;}
	.container-full.dropdown.expand, .container-full.dropdown.show { height:200px;}
	.container-full.dropdown ul {font-size: 15px; line-height: 15px;}
	.container-full.dropdown ul li { margin: 0px 0px 10px 0px;}
	footer .col-xs-4 {width: auto;}
	.container-full.dropdown p {font-size: 16px; line-height: 18px;}
	
	/* Homepage */
	#mobile-view { display: none; }
	#desktop-view { display: block; }
	#desktop-view .tile.news div:first-child {position: absolute; top: 60px; left: 5px; width: 93%;}
	#desktop-view .tile.news p {font-size: 11px; line-height: 13px;}
	#desktop-view .tile { margin-bottom: 6px; margin-right: 6px;}
	
	/* Menu pages */
	#menu .container-full.feature img { width: auto; height: auto; }
	#menu .container-full.content { border-top: 40px solid #231f20; }
	#menu .container-full.content .nav {font-size: 16px; height: 40px;margin: -40px 0px 0px 0px; text-align: center;}
	#menu .container-full.content .nav li a { background: none; padding: 10px 15px 0px 15px; height: 40px; color: #fff;margin: 0px; }
	#menu .container-full.content .nav li a:before { content: none; }
	#menu .container-full.content .nav li {display: inline-block;}
	#menu .container-full.content .nav li.active a {color: #231f20; background: #fff;}
	#menu .container-full.content .nav a:hover {color:#231f20;background: #fff;}
	#menu #food-grid {width: 720px; margin: 20px auto 20px auto;}
	#menu .food-menu-item {margin: 10px; }
	#menu .menu-item, #menu .food-menu-item {min-height: 213px;width: 220px;}	
	#menu .carousel-indicators { bottom: 10px;}
	#menu .item-description {padding: 30px 0px 30px 0px;}
	#menu .nutrition .circle {margin: 0px auto 40px auto;width: 130px; height: 130px; padding: 10px 0px 0px 0px;}
	#menu .item-description .social-media {margin: 10px 0px 0px 0px;}
	
	/* Social Media Page */
	#social-media .social-media-nav {left: 10px;}
	#social-media .social-media-nav li div { display: block; }
	#social-media .social-media-nav li {width: 170px;margin-bottom: 20px;}
	#social-media .social-media-nav li a {padding: 10px 0px 20px 20px; }
	#social-media .social-media-nav li a.active { -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
	#social-media #feeds {margin-left: 140px; }
}

@media (min-width: 800px) {
	#desktop-view .tile { margin-bottom: 7px; margin-right: 7px;}
}

@media (min-width: 992px) {
	header img:first-child { width: auto; height: auto; top: -17px;}
	header ul li a {width: 125px;}
	.container-full.dropdown.expand, .container-full.dropdown.show { height:230px;}
	.container-full.dropdown ul {font-size: 16px; line-height: 18px;}
	h1 {font-size: 60px; line-height: 60px }
	h2 {font-size: 28px; line-height: 30px; }
	
	/* Homepage */
	#desktop-view .tile.news div:first-child {position: absolute; top: 70px; left: 10px; width: 90%;}
	#desktop-view .tile.news p {font-size: 14px; line-height: 16px;}
	#desktop-view .tile { margin-bottom: 8px; margin-right: 8px;}
	
	/* Menu pages */
	#menu #food-grid {width: 940px;}
	#menu .menu-item, #menu .food-menu-item {min-height: 213px;width: 215px;}
	#menu .container-full.content .nav { font-size: 20px; }
	#menu .container-full.content .nav li a { padding: 7px 24px 0px 24px; }
}

@media (min-width: 1200px) {
	header ul li a {width: 130px; }
	.container-full.dropdown p {font-size: 18px; line-height: 20px;}
	header ul li:first-child a {padding: 10px 10px 10px 10px; width: auto;}
	
	/* Homepage */
	#desktop-view .tile.news div:first-child {position: absolute; top: 90px; left: 20px; width: 83%;}
	#desktop-view .tile.news p {font-size: 15px; line-height: 20px;}
	#desktop-view .tile { margin-bottom:10px; margin-right: 10px;}
	
	/* Menu pages */
	#menu #food-grid {width: 1140px;}
	#menu .menu-item, #menu .food-menu-item {min-height: 213px;width: 260px;}
	#menu .container-full.feature .container { width: 1010px;}
	#menu .container-full.content .nav { font-size: 20px; }
	#menu .container-full.content .nav li a { padding: 7px 35px 0px 35px; }
}

/* Homepage tile adjustments */

@media (min-width: 1440px) {
	
	#desktop-view .tile { margin-bottom:12px; margin-right: 12px;}
	#desktop-view .tile.news div:first-child {position: absolute; top: 120px; left: 20px; width: 83%;}
	#desktop-view .tile.news p {font-size: 16px; line-height: 22px;}
}
@media (min-width: 1620px) {
	#desktop-view .tile { margin-bottom:14px; margin-right: 14px;}
}
@media (min-width: 1920px) {
	#desktop-view .tile { margin-bottom:16px; margin-right: 16px;}
	#desktop-view .tile.news div:first-child {position: absolute; top: 160px; left: 20px; width: 83%;}
	#desktop-view .tile.news p {margin:0px 0px 40px 0px; padding: 0px;font-size: 18px; line-height: 24px;}
}
@media (min-width: 2000px) {
	#desktop-view .tile { margin-bottom:18px; margin-right: 18px;}
}
  
/* ==========================================================================
   Forms
   ========================================================================== */

.input-group-addon {background-color: #fff;}
.btn-file{ position:relative;  overflow:hidden}
	.btn-file input[type=file]{ position:absolute;  top:0;  right:0;  min-width:100%;  min-height:100%;  font-size:999px;  text-align:right;  filter:alpha(opacity=0);  opacity:0;  background:red;  cursor:inherit;  display:block}
#form .alert { padding: 0px;}
#message {margin-top: 20px;}

/* ==========================================================================
   CMS
   ========================================================================== */	
  
/* Media classes */
.fancybox-image, .fancybox-image-left, .fancybox-image-right {}
.fancybox-video, .fancybox-video-left, .fancybox-video-right {}
.img-left { margin: 0px 20px 20px 0px; float: left;}
.img-right { margin: 0px 0px 20px 20px; float: right;} 
.img-polaroid {border: 15px solid white; position: relative; -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);-moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);}
.img-rounded {}
.img-circle {}
.img-thumbnail {}
.blue-border {border: 4px solid #0077c0}

/* Text classes */
.large { font-size: 18px; line-height: 26px;}
.small {font-size: 14px; line-height: 16px;}
.x-small { font-size: 12px;line-height: 14px;}
.white-text-shadow {text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);}
.dark-blue {color: #003d63;}

/* Generic layout classes */
.margin-bottom { margin-bottom: 20px; }
.margin-left {margin-left: 20px;}
.margin-right {margin-right: 20px;}
.margin-top {margin-top: 20px}
.clearfix {display: block; clear: both; float: none;}
.float-left {float:left;}

/* Btns */
.btn-blue {background: #0077c0;color:#fff;}
	.btn-blue a { color: #fff;}
	.btn-blue:hover {background:#004e7e; color:#fff;}
	.btn-blue:hover a { color: #fff;}
	
/* ==========================================================================
   Helpers for youtube embeds (via main.js)
   ========================================================================== */
 
.video-container {position: relative;padding-bottom: 56.25%;padding-top: 30px;height: 0;overflow: hidden; max-width: 9999px; margin: 0px auto 0px auto;}
	.video-container iframe,  .video-container object,  .video-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}


/* ==========================================================================
   Browser upgrade message
   ========================================================================== */	
   
#upgrade .alert {margin-bottom: 0px;}

/* ==========================================================================
   Bootstrap mod - 5 column layout 
   ========================================================================== */
   
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
