/*
	AnythingSlider v1.8+ Minimalist Square theme
	By Rob Garrison
*/
/*****************************
  SET DEFAULT DIMENSIONS HERE
 *****************************/
/* change the ID & dimensions to match your slider */
#slider1 {
	width: 100%;
	height: 480px;
	list-style: none;
	/* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
	overflow-y: auto;
	overflow-x: hidden;
}


/*
 =================================
 Active State (has keyboard focus)
 =================================
*/
/* slider window - top & bottom borders, active state */
.anythingSlider-minimalist-square.activeSlider .anythingWindow {
	border:0;
}

/* Navigation buttons, active state */
.anythingSlider-minimalist-square.activeSlider .anythingControls a {
	background-color: #164054;
	color: #fff;
	
}
/* Navigation current button, active state */
.anythingSlider-minimalist-square.activeSlider .anythingControls a.cur,
.anythingSlider-minimalist-square.activeSlider .anythingControls a:hover {
	background-color: #fff;
	color: #000;
}

/* start-stop button, stopped, active state */
.anythingSlider-minimalist-square.activeSlider .anythingControls a.start-stop {
	background: url('../images/btns/btn_play.png')/*tpa=http://www.21cf.com/images/btns/btn_play.png*/ top center no-repeat;
	
}
/* start-stop button, playing, active state */
.anythingSlider-minimalist-square.activeSlider .anythingControls a.start-stop.playing {
background: url('../images/btns/btn_pause.png')/*tpa=http://www.21cf.com/images/btns/btn_pause.png*/ top center no-repeat;
}
/* start-stop button, active slider hovered text color (when visible) */
.anythingSlider-minimalist-square.activeSlider .start-stop:hover,
.anythingSlider-minimalist-square.activeSlider .start-stop.hover {
	color: #fff;
}

/************************
  NAVIGATION POSITIONING
 ************************/
/* Navigation Arrows */
.anythingSlider-minimalist-square .arrow {
	top: 90.3%;
	position: absolute;
	display: block;
	
}

.anythingSlider-minimalist-square .arrow a {
	display: block;
	width: 32px;
	height: 30px;
	margin: 0 0 0 0; /* half height of image */
	text-align: center;
	outline: 0;
	background: #fff;
}

/* back arrow */
.anythingSlider-minimalist-square .back { left:1.25em; }
.anythingSlider-minimalist-square .back a { background: url('../images/btns/btn_prev.png')/*tpa=http://www.21cf.com/images/btns/btn_prev.png*/ top center no-repeat; }
.anythingSlider-minimalist-square .back a:hover,
.anythingSlider-minimalist-square .back a.hover { background: url('../images/btns/btn_prev.png')/*tpa=http://www.21cf.com/images/btns/btn_prev.png*/ top center no-repeat; }
/* forward arrow */
.anythingSlider-minimalist-square .forward { left:5.65em; }
.anythingSlider-minimalist-square .forward a { background: url('../images/btns/btn_next.png')/*tpa=http://www.21cf.com/images/btns/btn_next.png*/ top center no-repeat;}
.anythingSlider-minimalist-square .forward a:hover,
.anythingSlider-minimalist-square .forward a.hover { background: url('../images/btns/btn_next.png')/*tpa=http://www.21cf.com/images/btns/btn_next.png*/ top center no-repeat; }

/* Navigation Links */
.anythingSlider-minimalist-square .anythingControls {
	height: 47px; /* limit height, needed for IE9 of all things */
	outline: 0;
	display: none;
	float: right;
	position: absolute;
	bottom: 0em;
	left: 3.45em;
	margin: 0;
	z-index: 100;
	opacity: 0.90;
	filter: alpha(opacity=90);
}

.anythingSlider-minimalist-square .anythingControls ul {
	margin: 0;
	padding: 0;
	float: left;
}
.anythingSlider-minimalist-square .anythingControls ul li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}
.anythingSlider-minimalist-square .anythingControls ul a {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 3px;
	padding: 0;
	text-decoration: none;
	text-align: center;
	outline: 0;
}

.anythingSlider-minimalist-square .anythingControls span {
	display: block;
	visibility: hidden;
}

/* navigationSize window */
.anythingSlider-minimalist-square .anythingControls .anythingNavWindow {

	overflow: hidden;
	float: left;
}
/* navigationSize nav arrow positioning */
.anythingSlider-minimalist-square .anythingControls li.prev span,
.anythingSlider-minimalist-square .anythingControls li.next span {
	visibility: visible;
	position: relative;
	top: -6px; /* bring navigationSize text arrows into view */
}

/* Autoplay Start/Stop button */
.anythingSlider-minimalist-square .anythingControls .start-stop {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 32px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	z-index: 100;
	outline: 0;
	border:none;
}

/***********************
 IE8 AND OLDER STYLING
 ***********************/
/* Navigation Arrows */
.as-oldie .anythingSlider-minimalist-square .arrow {
	top: 45%;
}
.as-oldie .anythingSlider-minimalist-square .arrow a {
	margin: 0;
}

/***********************
COMMON SLIDER STYLING
***********************/
/* Overall Wrapper */
.anythingSlider {
	display: block;
	overflow: visible !important;
	position: relative;
}
/* anythingSlider viewport window */
.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* anythingSlider base (original element) */
.anythingSlider .anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

/* Navigation arrow text; indent moved to span inside "a", for IE7;
	apparently, a negative text-indent on an "a" link moves the link as well as the text */
.anythingSlider .arrow span {
	display: block;
	visibility: hidden;
}
/* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
.anythingSlider .arrow.disabled {
	display: none;
}
/* all panels inside the slider; horizontal mode */
.anythingSlider .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}
/* vertical mode */
.anythingSlider .vertical .panel {
	float: none;
}

/* fade mode */
.anythingSlider .fade .panel {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
/* fade mode active page - visible & on top */
.anythingSlider .fade .activePage {
	z-index: 1;
}

/***********************
  RTL STYLING
 ***********************/
/* slider autoplay right-to-left, reverse order of nav links to look better */
.anythingSlider.rtl .anythingWindow {
	direction: ltr;
	unicode-bidi: bidi-override;
}
.anythingSlider.rtl .anythingControls ul { float: left; } /* move nav link group to left */
.anythingSlider.rtl .anythingControls ul a { float: right; } /* reverse order of nav links */
.anythingSlider.rtl .start-stop { /* float: right; */ } /* move start/stop button - in case you want to switch sides */

/* probably not necessary, but added just in case */
.anythingSlider .anythingWindow,
.anythingSlider .anythingControls ul a,
.anythingSlider .arrow a,
.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}
