#megaMenu {
	display:none;
	position:absolute;
	width: 100%;
	height:0;
	left:0;
	top:120px;
	background-color:#97999B;
	
	background: transparent url('../images/navigation/bg_megamenu.png')/*tpa=http://www.21cf.com/images/navigation/bg_megamenu.png*/ repeat top left;
	
	z-index:94;
	overflow:visible;
	font-size:.9em; 	
}

div.submenu {
 	display:none;
 	position:absolute;
 	padding:10px 0px 0px 0px;
 	height:auto;
 	z-index:99;
 	width: 80%; /* 1000px / 1250px */
 	margin:0 auto; 	
 }


#megaMenu div#menu_corp { left:30%; }
#megaMenu div#menu_news { left:45%; }
#megaMenu div#menu_investor { left:10%; }
#megaMenu div#menu_business {left:15%; }
#megaMenu div#menu_careers { left:60%; }


 div.submenu ul {
 	text-align:left;
 	margin:0 auto;
 	padding:0;
 }
 		
div.submenu li {
	border:none;
 	background:none;
 	padding:0;
 	display:block;
 	clear:both;
 	margin-bottom:8px;
 	list-style:none outside none;
	color:#fff;
	line-height:110%;
 }
 		
div.submenu ul li a { 
 	background:none; 
 	color:#fff;
 	font-weight:normal;
 	text-decoration:none;
 	font-size:.85em;
 	letter-spacing: .08em;
}
 		
div.submenu a:hover { 
 	text-decoration:none;
 	color:#151F6D;
}
 		
/* third-level nav items */ 

div.submenu ul li ul {
 			margin:10px 0 0 0;
 			padding:0 0 20px 0px;
 			color:#fff;
 			clear:both;
 			display:block;
 			width:100%;

 		}
 		
div.submenu ul li ul li {
 			margin:0 0 5px 10px;
 			padding:0;
 			display:block;
 			line-height:110%;
 			text-indent:0px;
 			font-weight:normal;
 			padding:0;
 		}
 		
div.submenu ul li ul li a {
 			padding:0;
 			font-size:.8em;
 			font-weight:normal;
 			text-decoration:none;
 			letter-spacing: .0em;
 		}

