/* CSS crunched with Crunch - http://crunchapp.net/ */
/*------------- Bg Variable Decration -----------*/
/*------------ Breakpoint Var ---------------*/
.txt-center {
  text-align: center;
}
.txt-lft {
  text-align: left;
}
/*--------------- Classes meant of IE8 and Below ----------------*/
.lt-ie9 {
  /*.columnar-table{
		tbody >tr:first-child{
			background:#e3f2ff;
		}
		.generateClasses (@index, @in:"") when (@index < 5) {
			@concatenate: "@{in} +tr";
			@selector: ~"tbody >tr:first-child @{concatenate}";		
			@{selector}{ background:#e3f2ff; };
			.generateClasses((@index + 1), @concatenate);
		}
		.generateClasses(0, @in){};
		.generateClasses(0);
	}*/
}
.lt-ie9 #map {
  display: none;
}
.lt-ie9 #map-normal {
  display: block;
}
.lt-ie9 .promo-box-wrapper.four-column .slides li {
  margin-right: 2px;
}
.lt-ie9 .out-of-day {
  height: 104px;
}
.lt-ie9 .container {
  padding: 0!important;
}
.lt-ie9 .full-width #breadcrumb-container {
  padding: 10px 0 25px!important;
}
.lt-ie9 .caret.up {
  border-top: 0px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #00aeef;
  border-left: 5px solid transparent;
}
.lt-ie9 .promo .icon-wrap span {
  background-image: url(../images/icon-article-promo-ie.png)/*tpa=http://www.cigna.com/iwov-resources/images/icon-article-promo-ie.png*/;
}
.lt-ie9 .promo .icon-wrap span.pdf {
  background-position: -165px 0;
}
.lt-ie9 .promo .icon-wrap span.icon2 {
  background-position: -61px 0;
}
.lt-ie9 .promo .icon-wrap span.icon3 {
  background-position: -104px 0;
}
.lt-ie9 .promo.c6d .icon-wrap span.pdf {
  background-position: 0 0;
}
.lt-ie9 .article.a5 .cta-wrapper a {
  padding-top: 8px;
}
.lt-ie9 .article.a5 .cta-wrapper .pdf {
  background-image: url(../images/icon-article-promo-ie.png)/*tpa=http://www.cigna.com/iwov-resources/images/icon-article-promo-ie.png*/;
  background-position: -165px 0;
  width: 35px;
  min-height: 42px;
}
.lt-ie9 .header.navbar {
  min-height: 171px;
}
.lt-ie9 .header .search-panel li.search-li input#query {
  padding: 0px 0  0 4px;
  line-height: inherit;
}
.lt-ie9 .columnar-table tbody >tr:first-child {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 .columnar-table tbody >tr:first-child +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr +tr {
  background: #e3f2ff;
}
.lt-ie9 footer .main-wrap .branding-wrap .branding .logo {
  width: 117px;
  background: url(../images/footer-sprites.png)/*tpa=http://www.cigna.com/iwov-resources/images/footer-sprites.png*/ -183px -50px;
}
.lt-ie9 .guided-sell-landing .guided-sell-bg {
  min-height: 315px;
}
.lt-ie9 .guided-sell-landing .pointed-arrow span.left {
  padding-left: 5px;
  height: 30px;
}
.lt-ie9 .guided-sec .guided-tab li a {
  min-height: 37px;
}
.lt-ie9 .side-bar {
  float: left;
}
.lt-ie9 .side-bar .promo-flex-slider ul {
  float: left;
  width: 100%;
}
.lt-ie9 .side-bar .promo-flex-slider ul li {
  float: left;
  width: 100%;
}
.lt-ie9 .side-bar .promo-flex-slider ul li .widget {
  width: 100%;
}
.lt-ie9 .related-media .gallery-pic {
  float: left;
  width: 40%;
}
.lt-ie9 .related-media .gallery-pic img {
  max-width: 100px;
}
.lt-ie9 .related-media ul.slides li .img-caption {
  float: right;
  width: 44%;
  filter: alpha(opacity=100);
}
.lt-ie9 .related-media ul.slides li .img-caption h2 {
  padding-left: 0;
}
.lt-ie9 .service-portal ul li {
  font-size: 1.14em;
}
.lt-ie9 :hover .flex-prev {
  background: url('../images/ie-arrow-sprite.png')/*tpa=http://www.cigna.com/iwov-resources/images/ie-arrow-sprite.png*/ no-repeat -95px 0;
  width: 14px;
  height: 25px;
}
.lt-ie9 :hover .flex-next {
  background: url('../images/ie-arrow-sprite.png')/*tpa=http://www.cigna.com/iwov-resources/images/ie-arrow-sprite.png*/ no-repeat -110px 0;
  width: 14px;
  height: 25px;
}
.lt-ie9 #need-help .need-help-content .help-bucket {
  min-height: 80px;
}
.lt-ie9 .linked-list .link-thirdparty {
  height: 9px;
}
/*--------------- Classes Meant for IE7 and Below -------------------*/
.lt-ie8 {
  /* PVS issue #7 fixed --AM --Start*/
  /* PVS issue #7 fixed --AM --End*/
  /*Event Calendar*/
  /*Event Details*/
  /* Linked List */
  /* IFP Banner*/
  /* Tranzact Form*/
  /* TimeLine module */
  /* Global navigation */
}
.lt-ie8 .out-of-day .dayEventList {
  margin-top: 40px;
}
.lt-ie8 .bullet-alignment ul.bullet-padding {
  float: none;
}
.lt-ie8 .side-bar .widget {
  min-width: 207px;
}
.lt-ie8 .dynamic-breadcrumb-share-wrapper #dynamic-breadcrumb-container {
  margin-top: 15px;
}
.lt-ie8 .dynamic-breadcrumb-share-wrapper #share-this {
  padding-top: 12px;
}
.lt-ie8 .product-detail-component.module-spacing,
.lt-ie8 .dental-detail-component.module-spacing {
  margin-bottom: 20px!important;
}
.lt-ie8 .full-width .component-wrapper.align-hero-banner {
  clear: both;
  padding-bottom: 50px;
}
.lt-ie8 .full-width .component-wrapper.align-hero-banner .pointed-arrow-tab {
  margin-top: -25px;
}
.lt-ie8 .full-width .promo-three-col-component.module-spacing {
  clear: none;
}
.lt-ie8 .promo-box-wrapper.three-column li.col-md-4 {
  min-width: 320px;
}
.lt-ie8 .skinny-promo-container {
  width: 96.5%;
}
.lt-ie8 .state-bottom-info .right-links.col-md-6 {
  width: 48.8%;
}
.lt-ie8 .plan-list-container .list-wrapper .plan-bucket .price-block .price-box li h4 {
  width: 39%;
}
.lt-ie8 .personal-hero .col-md-4.img-right {
  width: 37.4%;
}
.lt-ie8 .hero-banner {
  clear: both;
}
.lt-ie8 .hero-banner .pointed-arrow-tab {
  clear: both;
}
.lt-ie8 .news-row .news-right-area {
  width: 47.8%;
}
.lt-ie8 #other-row.col-md-3 {
  width: 22.9%;
}
.lt-ie8 .price-block .price-box {
  width: 99%;
}
.lt-ie8 .price-block .compare {
  min-height: 35px;
}
.lt-ie8 .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.lt-ie8 a.arrow-button span.button-middle {
  bottom: 0px!important;
}
.lt-ie8 #breadcrumb-container,
.lt-ie8 #dynamic-breadcrumb-container {
  z-index: 9;
}
.lt-ie8 #breadcrumb-container ul.social-list,
.lt-ie8 #dynamic-breadcrumb-container ul.social-list {
  z-index: 9;
}
.lt-ie8 .full-width #breadcrumb-container {
  padding-bottom: 52px!important;
}
.lt-ie8 .drop-down .icon-box ul li {
  width: 160px!important;
}
.lt-ie8 .col-md-1 {
  width: 7.33%;
}
.lt-ie8 .col-md-2 {
  width: 15.66%;
}
.lt-ie8 .col-md-3 {
  width: 24%;
}
.lt-ie8 .col-md-4 {
  width: 32.33%;
}
.lt-ie8 .col-md-5 {
  width: 40.66%;
}
.lt-ie8 .col-md-6 {
  width: 49%;
}
.lt-ie8 .col-md-7 {
  width: 55.33%;
}
.lt-ie8 .col-md-8 {
  width: 64.66%;
}
.lt-ie8 .col-md-9 {
  width: 74%;
}
.lt-ie8 .col-md-10 {
  width: 82.33%;
}
.lt-ie8 .col-md-11 {
  width: 90.66%;
}
.lt-ie8 .event-calendar .custom-header {
  height: 36px;
  overflow: hidden;
}
.lt-ie8 .event-calendar .custom-header div.custom-month-year {
  left: 0px;
}
.lt-ie8 .event-calendar .custom-header select {
  margin-top: 5px;
}
.lt-ie8 .event-calendar .custom-header select.input-lg {
  background: #ffffff url("../images/arrow-down.gif")/*tpa=http://www.cigna.com/iwov-resources/images/arrow-down.gif*/ no-repeat 100% center;
}
.lt-ie8 .event-calendar .custom-header .pointed-arrow {
  width: 88px;
  height: 33px;
}
.lt-ie8 .event-calendar .custom-header .pointed-arrow span {
  height: 29px;
}
.lt-ie8 .event-calendar .fc-calendar .fc-row > div {
  width: 13.28%;
  /* 100% / 7 */
}
.lt-ie8 .event-calendar .fc-calendar .fc-row > div span {
  float: left;
  margin-top: 5px;
}
.lt-ie8 .event-calendar .fc-calendar .fc-row > div .eventDayData {
  padding-bottom: 5px;
}
.lt-ie8 .event-calendar .fc-calendar .fc-head > div {
  width: 13.92%;
  /* 100% / 7 */
}
.lt-ie8 .event-calendar .fc-calendar .fc-row > div > span.fc-date {
  height: 40px;
}
.lt-ie8 .event-details .col-md-7 {
  width: 58.33%;
}
.lt-ie8 .linked-list-m1.row {
  margin: 10px 0px;
}
.lt-ie8 .linked-list-m1.row ul.linked-list-main.col-1 > li {
  width: 48.5%;
}
.lt-ie8 .ifpBanner .col-sm-6 {
  width: 48%;
}
.lt-ie8 .ifpBanner .col-sm-1 {
  padding-left: 0px;
  padding-right: 0px;
}
.lt-ie8 .tranzact-form .feedback-toggle {
  top: 150px;
}
.lt-ie8 .tranzact-form .feedback-form-wrapper {
  top: 292px;
}
.lt-ie8 .tranzact-form .success-popup .success-text {
  margin-top: 50%;
}
.lt-ie8 .tranzact-form .success-popup .button-wrapper {
  background-color: transparent;
}
.lt-ie8 .tranzact-form .control-group {
  display: inline;
}
.lt-ie8 .tranzact-form .control-group .controls .input-sm {
  width: 95%;
  padding: 3px 0px 0px 5px;
  height: 22px;
}
.lt-ie8 .tranzact-form .control-group .controls select.input-sm {
  padding: 0px;
  height: 26px;
}
.lt-ie8 .tranzact-form .control-group.control-group-send {
  width: 49%;
  margin: 10px 0px;
  position: relative;
  bottom: 0px;
}
.lt-ie8 .tranzact-form .control-group.control-group-send .controls {
  text-align: center;
}
.lt-ie8 .tranzact-form .control-group.control-group-send .controls a.pointed-arrow,
.lt-ie8 .tranzact-form .control-group.control-group-send .controls button.pointed-arrow {
  width: 110px;
}
.lt-ie8 .tranzact-form .control-group.control-group-cancel {
  width: 49%;
  margin: 10px 0px;
  position: relative;
  bottom: 0px;
}
.lt-ie8 .tranzact-form .control-group.control-group-cancel .controls {
  text-align: center;
}
.lt-ie8 .tranzact-form .control-group button[type="button"] {
  width: 90px;
}
.lt-ie8 .time-line .left-col-timeline {
  overflow-y: hidden;
}
.lt-ie8 .time-line .detail-summ {
  width: 40%;
  height: 665px;
}
.lt-ie8 .time-line .btn-dwn a span {
  margin-top: 8px;
}
.lt-ie8 .time-line .overridePadding {
  overflow-y: hidden;
}
.lt-ie8 .time-line .middle-col-timeline {
  position: relative;
}
.lt-ie8 .header .top-nav {
  height: 95px;
}
.lt-ie8 .header .top-nav .col-md-12,
.lt-ie8 .header .top-nav .col-md-4,
.lt-ie8 .header .top-nav .search-panel {
  position: static;
}
.lt-ie8 .header .search-panel {
  float: right;
  min-width: 400px;
  height: 20px;
}
.lt-ie8 .header .search-panel li {
  float: left;
}
.lt-ie8 .header .search-panel li a {
  float: left;
  padding: 0 10px;
  margin: 0;
  line-height: 21px;
}
.lt-ie8 .header .search-panel li.find-dr,
.lt-ie8 .header .search-panel li.login-cigna,
.lt-ie8 .header .search-panel li.search-li {
  height: 20px;
}
.lt-ie8 .header .search-panel li #login,
.lt-ie8 .header .search-panel li #find-doc {
  margin-right: 2px;
}
.lt-ie8 .header .search-panel li.search-li input#query {
  float: left;
  padding: 2px 0  0 4px;
  line-height: normal;
  height: 14px;
}
.lt-ie8 .header .search-panel #search {
  color: transparent;
  text-transform: capitalize;
}
.lt-ie8 .header .brand-row div.col-md-4 {
  float: left;
  width: 300px;
}
.lt-ie8 .header .navbar-fixed-top {
  position: relative;
  min-height: 50px;
  width: 100%;
  overflow: visible;
}
.lt-ie8 .header .navbar-fixed-top .topnav li a {
  height: 26px;
  margin: 0 auto;
  padding: 14px 20px 0 30px ;
}
.lt-ie8 .header .navbar-fixed-top .topnav li a.two-lines {
  padding: 5px 29px 0 35px;
  height: 35px;
}
.lt-ie8 .header .navbar-fixed-top .drop-down {
  min-height: 170px;
}
.lt-ie8 .header .top-right-menus {
  margin-top: 10px;
}
.lt-ie8 .header .top-right-menus li {
  float: left;
}
.lt-ie8 .header .top-right-menus li.country {
  margin-top: -1px;
}
.lt-ie8 .header .top-right-menus #country-div {
  width: 250px;
  z-index: 1100;
  right: 155px;
}
.lt-ie8 .header .top-right-menus #country-div h4 {
  width: 80%;
}
.lt-ie8 .search-form input[type="text"] {
  width: 97%;
  height: 24px;
  padding-top: 6px;
}
.lt-ie8 .search-form .row {
  float: left;
  width: 100%;
}
.lt-ie8 .search-form .checkbox {
  float: left;
  width: 100%;
}
.lt-ie8 #search-result .tab-content,
.lt-ie8 #search-result .tab-inner {
  float: left;
  width: 100%;
}
.lt-ie8 footer .footer-top-row {
  padding-bottom: 30px;
  float: left;
}
.lt-ie8 footer .main-wrap .branding-wrap .branding {
  width: 35%;
  padding-left: 20px;
}
.lt-ie8 footer .main-wrap .branding-wrap .branding .logo,
.lt-ie8 footer .main-wrap .branding-wrap .branding .logo-tagline {
  float: left;
}
.lt-ie8 footer .main-wrap .links ul {
  margin-right: 30px;
}
.lt-ie8 .sitemap-container .sitemap-section {
  float: left;
  width: 100%;
}
.lt-ie8 .article-authors a.pdf-icon-link {
  padding-bottom: 0px;
}
.lt-ie8 .overlay-box {
  min-width: 280px;
}
.lt-ie8 .overlay-box .overlay-header {
  padding: 10px 30px 0px 30px;
}
.lt-ie8 .overlay-box .overlay-header .fancybox-close {
  right: 75px;
}
@media (min-width: 700px) {
  .lt-ie8 .overlay-box {
    min-width: 580px;
  }
}
@media (min-width: 960px) {
  .lt-ie8 .overlay-box {
    min-width: 580px;
  }
  .lt-ie8 .bullet-padding {
    float: none;
    margin-left: 0;
  }
}
.lt-ie8 .page-not-found form input[type="text"] {
  height: 21px;
}
.lt-ie8 .planlist .col-sm-3,
.lt-ie8 .planlist .col-md-3 {
  width: 23%;
}
.lt-ie8 .planlist .plan-list-container .list-wrapper .plan-bucket .quote-block {
  width: 20%;
  padding: 0 0 0 10px;
}
.lt-ie8 .planlist .plan-list-container .list-wrapper .plan-bucket .quote-block .text-quote-desktop {
  width: 100%;
  float: left;
}
.lt-ie8 .planlist .contact-cigna {
  width: 100%;
}
.lt-ie8 .marketing-promo-container .promo-block {
  width: 32.13%;
}
.lt-ie8 .guided-sec {
  float: left;
  width: 100%;
}
.lt-ie8 .guided-sec .component-wrapper {
  float: left;
  width: 100%;
}
.lt-ie8 .guided-sec .see-all-plans {
  width: 180px;
}
.lt-ie8 .guided-sec .continue-btn {
  width: 115px;
}
.lt-ie8 .guided-sec .guided-tab li {
  width: 94%;
}
.lt-ie8 .guided-sec .guided-tab li a {
  min-height: 37px;
  width: 99px;
}
.lt-ie8 .guided-sec .guided-tab li.active a,
.lt-ie8 .guided-sec .guided-tab li.active a:hover,
.lt-ie8 .guided-sec .guided-tab li.active a:visited {
  background: #ffffff;
  color: #ef8200;
}
.lt-ie8 .guided-sec .full-width-plans li.col-md-4,
.lt-ie8 .guided-sec .full-width-plans li.col-lg-4 {
  width: 31.005%;
}
.lt-ie8 .guided-sec .question-row {
  float: left;
  width: 95%;
}
.lt-ie8 .guided-sec .member-wrapper li.add-col {
  width: 65px;
  min-height: 148px;
}
.lt-ie8 .guided-sec #tab4 .compare-section {
  width: 780px;
}
.lt-ie8 .guided-sec #tab4 .heading h3 {
  padding-left: 5px;
}
.lt-ie8 .guided-sec #tab4 .component-wrapper > .promo-box-margin {
  padding: 20px 20px 0;
}
.lt-ie8 .guided-sec .button-row .col-md-8 {
  width: 60%;
}
.lt-ie8 .guided-sec .list-unstyled .back-btn {
  border: 0;
}
.lt-ie8 .guided-sec .help-info-copy {
  min-height: 926px !important;
}
.lt-ie8 ul.slides li {
  padding-bottom: 0;
}
.lt-ie8 ul.slides li .img-caption {
  float: right;
  width: 50%;
  filter: alpha(opacity=100);
}
.lt-ie8 ul.slides li .img-caption h2 {
  padding-left: 0;
}
.lt-ie8 .side-bar .promo-flex-slider ul {
  width: 100%;
}
.lt-ie8 .side-bar .promo-flex-slider ul li {
  width: 100%;
}
.lt-ie8 .side-bar .promo-flex-slider ul li .widget {
  width: 190px;
}
.lt-ie8 .subnav-inner .icon-box li {
  width: 191px;
}
.lt-ie8 footer .main-wrap .links p {
  min-width: 150px;
}
.lt-ie8 #need-help {
  right: -422px;
  width: 295px;
}
.lt-ie8 #need-help .close-flyout {
  left: 78%;
}
.lt-ie8 #need-help .need-help-content .help-bucket {
  min-height: 80px;
}
.lt-ie8 .details-info {
  width: 72%;
}
.lt-ie8 .full-width .mod-hero {
  margin-top: -32px;
}
.lt-ie8 .full-width .mod-hero img {
  float: none;
}
.lt-ie8 .full-width .pointed-arrow-tab-large {
  margin-left: 21%;
}
.lt-ie8 .full-width .pointed-arrow-tab-large .left-pointed-arrow {
  margin-left: 0;
}
.lt-ie8 #body-row sup {
  top: -3px;
}
.lt-ie8 .plan-list-container .list-wrapper .plan-bucket .price-block {
  padding-bottom: 0 !important;
}
.lt-ie8 .plan-list-container .list-wrapper .plan-bucket .price-block .price-box {
  float: none;
  margin-top: 0px;
}
.lt-ie8 #medicalEligibilityCriteria {
  width: 697px;
}
.lt-ie8 #medicalEligibilityCriteria .buttonContainer .roundedCornerBlue {
  margin-right: 15px;
  float: none;
  display: inline-block;
}
.lt-ie8 .oo_feedback_float .oo_transparent {
  opacity: 0.95;
  filter: alpha(opacity=95);
}
.lt-ie8 #compare-plan-outer table td.heading p {
  padding-left: 10px;
}
.lt-ie8 .coverage-toggle li a {
  width: 175px!important;
}
.lt-ie8 a.arrow-button span.button-middle {
  bottom: 4px !important;
}
.lt-ie8 .promo-box-wrapper .promo-box {
  height: 240px !important;
}
.lt-ie8 .promo-box-wrapper .promo-box .badge-bottom-right {
  margin-bottom: 10px;
}
.lt-ie8 .side-bar .related-article,
.lt-ie8 .side-bar .static-rail-promo,
.lt-ie8 .side-bar .service-portal {
  width: 190px;
}
.lt-ie8 .side-bar .widget.service-portal {
  margin-bottom: 10px;
  height: auto!important;
}
.lt-ie8 .side-bar .widget {
  height: 150px!important;
}
.lt-ie8 .side-bar .rectangular-box .promo-cta,
.lt-ie8 .side-bar .static-rail-promo .promo-cta {
  left: 0;
}
.lt-ie8 .accordion dt.toggle-head a .caret {
  top: 4px;
}
.lt-ie8 .accordion dt.toggle-head.active a .caret.dwn {
  top: 4px;
}
.lt-ie8 .sitemap-section dl dt.toggle-head span.caret {
  left: 0;
  top: 3px!important;
}
.lt-ie8 .state-landing .complex-hero {
  float: none;
}
.lt-ie8 a:focus {
  text-decoration: none!important;
}
.lt-ie8 .article-authors .description .article-rectangular-box {
  width: 28.53%;
}
.lt-ie8 .glossary .top-nav nav.glossary_flexslider ul.nav li {
  display: inline;
}
.lt-ie8 .glossary .top-nav nav.glossary_flexslider ul.nav li a {
  display: inline;
}
.lt-ie8 .full-width .ifpBanner {
  float: none;
  width: auto;
}
.lt-ie8 .full-width .ifpBanner .phone-number {
  line-height: 27px;
}
.lt-ie8 .tuo-modal .btn-secondary {
  height: 18px;
}
@media print {
  #header-row{display:none;}
}