/* Box shadow fixes/replacements */

.primary > ul > li > ul{
/*  -webkit-box-shadow:0px .10em .1em #aaa;
  -moz-box-shadow:0px .10em .1em #aaa;*/
  box-shadow:none;
  border-top:1px solid #eee;
  border-left:1px solid #eee;
  border-right:2px solid #ccc;
  border-bottom:2px solid #ccc;
}

.page-content{
  box-shadow:  none;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  width:99.8%;
}

.btn{
  -webkit-box-shadow:  0px .1em .25em #999;
  -moz-box-shadow:  0px .1em .25em #999;
  box-shadow:  0px .1em .25em #999;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e0e0e0',GradientType=0 );
}

/* Gradients */
.btn:hover{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#c6c6c6',GradientType=0 );
}

.case-studies{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8eced', endColorstr='#fbfafa',GradientType=0 );
}

.our-targets{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc110b', endColorstr='#e91c16',GradientType=0 );
}

.table th {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e0e0e0',GradientType=0 );
}

/* General fixes */
.wrap{min-width:990px;max-width:1174px;}
.primary{height:58px;}
.sliding-panels .panel{border-left:1px solid #dd0a18;}
.sliding-panels .opener{border-left:2px solid #bf0412;background-position:-2px center;}
.back, .flipped .front{display:none;}
.flipped .back{display:block!important;}
.buttons{background:none;}
.pills{zoom:1;}
.pills > li{display:block;}
.filings a{font-size:12px;}
.table{width:99.5%;max-width:99.5%;}
.table-bordered{border-collapse:none;border:1px solid #ddd!important;border-left:none!important;}
.news-listing .news-list-item{}

/* IMPORTANT - Keep at the bottom of this file */

.primary,
.primary > ul > .active > a,
/*.primary > ul > li > ul,*/
.page-content,
.btn,
.search-form,
.stock-info .increase span,
.table,
.card,
.side{
  behavior: url("PIE.htc")/*tpa=http://www.cokecce.com/css/PIE.htc*/;
  -pie-watch-ancestors: 1;
}

/* 10.0 PRINT STYLES ----------------*/

@media print{
  body{font-family:Arial, Helvetica, sans-serif}
  *{background:transparent !important; color:black !important; box-shadow:none !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important;} /* Black prints faster:h5bp.com/s */
  a, a:visited{text-decoration:underline;}
  a[href]:after{content:" (" attr(href) ")";}
  abbr[title]:after{content:" (" attr(title) ")";}

 /* Don't show links for images, or javascript/internal links, news-list-videos, carousel slides */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after, .news-list-item a:after, .slide a:after{content:"";}

  pre, blockquote{border:1px solid #999; page-break-inside:avoid;}
  thead{display:table-header-group;} /* h5bp.com/t */
  tr, img{page-break-inside:avoid;}
  img{max-width:100% !important;}
  @page{margin:0.5cm;}
  p, h2, h3{orphans:3; widows:3;}
  h2, h3{page-break-after:avoid;}
  .lead{margin:0 0 25px;}

  .row{width:600px}
  .wrap{width:600px;min-width:600px;max-width:600px}
  .page-content {box-shadow:none !important; -moz-box-shadow:none !important;border:0;width:600px!important;border:0!important;}

  img.scale-with-grid{max-width:600px;width:600px}

  [class*="column"]{
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  .intro-container{ padding:0;}
  .general-container{ padding:0;}
  .inner-container{ padding:0;}
  .hr-inner-container{ padding:0;}
  .leftside-container{ padding:0;}
  .rightside-container{ padding:0;}
  .lp-intro-container{ padding:0;}
  .lp-intro-container .inner-container{ padding:0;}

  .case-studies-carousel .slide > .content{overflow:visible;padding:0;}

  .latest-tweets, .news-and-events{margin:0 0 20px;}
  .latest-tweets .follow-on-twitter,
  .news-and-events .view-all{position:inherit;}

  .ir{overflow:visible;text-indent:0}

  /* Hide stuff */
  .navigation{display:none;}
  .footer{display:none;}
  .side-navigation{display:none;}
  .resources{display:none;}
  .page-options{display:none;}
  .back-to-top{display:none;}
  .site-logo{display:none;}
  .form-search{display:none;}
  .pagination{display:none;}
  .news-filters{display:none;}
  .controls{display:none;}
  .search-filter{display:none;}
  .opener{display:none;}
  .pills{display:none;}
  .search-form{display:none;}
  .pills > li{display:none;}

	.panels{overflow:visible}
	.sliding-panels > ul > .panel h2 {padding:0}
	.sliding-panels > ul > .panel{width:100% !important;float:none !important; overflow:visible; position:static;height:auto!important}
	.sliding-panels > ul > .panel > .content{width:auto!important;padding:5px}

	.sliding-panels > ul > .panel > .content > .left, .sliding-panels > ul > .panel > .content > .right{width:auto!important;padding:0;float:none}

	.sliding-panels > ul > .video-panel .pdf {float:none}

	.card, .targets ul li {height:auto;width:auto;clear:both}
	.card .front, .card .back{visibility:visible; position:static;height:auto;width:auto;float:left}
	.card .back{width:50%;padding:10px}
	.card .back p {font-size:16px; line-height:18px;}

	.back, .flipped .front{display:block;}

	.our-targets h2{padding:0}

	.case-studies-carousel .slide > .content .img,
	.case-studies-carousel .slide > .content h3, .case-studies-carousel .slide > .content p{width:auto;float:none;text-align:left;display:block}
	.targets, .slider .viewport .content {width:auto;position:static}

	.sliding-panels .panel{border:0;padding:0}
	.sliding-panels .opener{border-left:0}

	.news-listing .news-list-item {height:auto}

	.publication-resource, .publication-resource.pdf, .file-download{height:auto;width:auto}


}



.btnplay {
  width: 75px;
  height: 74px;
  margin: -35px 0 0 -35px;
  background: url(../images/btn-play-icon-small.png)/*tpa=http://www.cokecce.com/images/btn-play-icon-small.png*/ no-repeat;
  border: none;
}

.btnplay:after {
  border: none;
}