.primary li{background:none}.primary>ul>.active>a{margin-top:-3px;-webkit-box-shadow:0px -0.1em 0.1em #aaa;-moz-box-shadow:0px -0.1em 0.1em #aaa;box-shadow:0px -0.1em 0.1em #aaa}.card{background:#fff;border-radius:10px}.placeholder-image{height:auto;width:100%}