/* =Imports ------------------------------------------------------------------------------*/
/**/
/* jQuery UI CSS Framework 1.8.7  Copyright 2010, AUTHORS.txt (http://jqueryui.com/about) Dual licensed under the MIT or GPL Version 2 licenses. http://jquery.org/license  http://docs.jquery.com/UI/Theming/API */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }

.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }

.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }

.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.ui-helper-clearfix { display: inline-block; }

/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height: 1%; }

.ui-helper-clearfix { display: block; }

/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter: Alpha(Opacity=0); }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* jQuery UI CSS Framework 1.8.7  Copyright 2010, AUTHORS.txt (http://jqueryui.com/about) Dual licensed under the MIT or GPL Version 2 licenses. http://jquery.org/license  http://docs.jquery.com/UI/Theming/API  To view and modify this theme, visit http://jqueryui.com/themeroller/?ctl=themeroller */
/* Component containers
----------------------------------*/
.ui-widget { font-family: Arial,sans-serif; font-size: 1.1em; }

.ui-widget .ui-widget { font-size: 1em; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial,sans-serif; font-size: 1em; }

.ui-widget-content { border: 1px solid #b6b6b6; background: #ffffff; color: #4F4F4F; }

.ui-widget-content a { color: #4F4F4F; }

.ui-widget-header { border: 1px solid #b6b6b6; color: #4F4F4F; font-weight: bold; }

.ui-widget-header { background: #ededed url(../../../jqueryui/v1.8.2/DDC/images/bg_fallback.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/bg_fallback.png*/ 0 0 repeat-x; /* Old browsers */ background: -moz-linear-gradient(top, #ededed 0%, #c4c4c4 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #c4c4c4)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ededed 0%, #c4c4c4 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #ededed 0%, #c4c4c4 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #ededed 0%, #c4c4c4 100%); /* IE10+ */ background: linear-gradient(top, #ededed 0%, #c4c4c4 100%); /* W3C */ }

.ui-widget-header a { color: #4F4F4F; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #b6b6b6; font-weight: normal; color: #4F4F4F; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background: #ededed url(../../../jqueryui/v1.8.2/DDC/images/bg_fallback.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/bg_fallback.png*/ 0 0 repeat-x; /* Old browsers */ background: -moz-linear-gradient(top, #ededed 0%, #c4c4c4 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #c4c4c4)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ededed 0%, #c4c4c4 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #ededed 0%, #c4c4c4 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #ededed 0%, #c4c4c4 100%); /* IE10+ */ background: linear-gradient(top, #ededed 0%, #c4c4c4 100%); /* W3C */ -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #4F4F4F; text-decoration: none; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #9d9d9d; font-weight: normal; color: #313131; }

.ui-state-hover a, .ui-state-hover a:hover { color: #313131; text-decoration: none; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { outline: none; color: #363636; border: 1px solid #9d9d9d; background: #d1d1d1; /* Old browsers */ background: -moz-linear-gradient(top, #d1d1d1 0%, #a8a8a8 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1d1d1), color-stop(100%, #a8a8a8)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #d1d1d1 0%, #a8a8a8 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #d1d1d1 0%, #a8a8a8 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #d1d1d1 0%, #a8a8a8 100%); /* IE10+ */ background: linear-gradient(top, #d1d1d1 0%, #a8a8a8 100%); /* W3C */ -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #313131; text-decoration: none; }

/* JIRA-28106: Commenting out the following line fixes an issue where Unity videos were not playing on the iPad. This line can also cause performance issues in FireFox according to http://bugs.jqueryui.com/ticket/6757. In that bug, they recommend commenting out the line. Later versions of the library will fix the problem in other ways. Once we upgrade to the latest, this fix shouldn't need to be reapplied. */
/*.ui-widget :active { outline: none; }*/
/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { border: 1px solid #d2dbf4; background: #f4f8fd; color: #0d2054; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a { color: #363636; }

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error { border: 1px solid #e2d0d0; background: #fcf0f0; color: #280b0b; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary { opacity: .7; filter: Alpha(Opacity=70); font-weight: normal; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter: Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(../../../jqueryui/v1.8.2/DDC/images/ui-icons_222222_256x240.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/ui-icons_222222_256x240.png*/; }

.ui-widget-content .ui-icon { background-image: url(../../../jqueryui/v1.8.2/DDC/images/ui-icons_222222_256x240.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/ui-icons_222222_256x240.png*/; }

.ui-widget-header .ui-icon { background-image: url(../../../jqueryui/v1.8.2/DDC/images/ui-icons_222222_256x240.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/ui-icons_222222_256x240.png*/; }

.ui-state-default .ui-icon { background-image: url(../../../jqueryui/v1.8.2/DDC/images/ui-icons_454545_256x240.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/ui-icons_454545_256x240.png*/; }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon { background-image: url(../../../jqueryui/v1.8.2/DDC/images/ui-icons_454545_256x240.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/ui-icons_454545_256x240.png*/; }

.ui-state-active .ui-icon { background-image: url(../../../jqueryui/v1.8.2/DDC/images/ui-icons_454545_256x240.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/ui-icons_454545_256x240.png*/; }

.ui-state-highlight .ui-icon { background-image: url(../../../jqueryui/v1.8.2/DDC/images/ui-icons_454545_256x240.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/ui-icons_454545_256x240.png*/; }

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon { background: url(../../../jqueryui/v1.8.2/DDC/images/icon_sprite.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/icon_sprite.png*/ -16px 0 no-repeat !important; }

.ui-state-highlight .ui-icon, .ui-state-error .ui-icon { margin-top: -1px; }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }

.ui-icon-carat-1-ne { background-position: -16px 0; }

.ui-icon-carat-1-e { background-position: -32px 0; }

.ui-icon-carat-1-se { background-position: -48px 0; }

.ui-icon-carat-1-s { background-position: -64px 0; }

.ui-icon-carat-1-sw { background-position: -80px 0; }

.ui-icon-carat-1-w { background-position: -96px 0; }

.ui-icon-carat-1-nw { background-position: -112px 0; }

.ui-icon-carat-2-n-s { background-position: -128px 0; }

.ui-icon-carat-2-e-w { background-position: -144px 0; }

.ui-icon-triangle-1-n { background-position: 0 -16px; }

.ui-icon-triangle-1-ne { background-position: -16px -16px; }

.ui-icon-triangle-1-e { background-position: -32px -16px; }

.ui-icon-triangle-1-se { background-position: -48px -16px; }

.ui-icon-triangle-1-s { background-position: -64px -16px; }

.ui-icon-triangle-1-sw { background-position: -80px -16px; }

.ui-icon-triangle-1-w { background-position: -96px -16px; }

.ui-icon-triangle-1-nw { background-position: -112px -16px; }

.ui-icon-triangle-2-n-s { background-position: -128px -16px; }

.ui-icon-triangle-2-e-w { background-position: -144px -16px; }

.ui-icon-arrow-1-n { background-position: 0 -32px; }

.ui-icon-arrow-1-ne { background-position: -16px -32px; }

.ui-icon-arrow-1-e { background-position: -32px -32px; }

.ui-icon-arrow-1-se { background-position: -48px -32px; }

.ui-icon-arrow-1-s { background-position: -64px -32px; }

.ui-icon-arrow-1-sw { background-position: -80px -32px; }

.ui-icon-arrow-1-w { background-position: -96px -32px; }

.ui-icon-arrow-1-nw { background-position: -112px -32px; }

.ui-icon-arrow-2-n-s { background-position: -128px -32px; }

.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }

.ui-icon-arrow-2-e-w { background-position: -160px -32px; }

.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }

.ui-icon-arrowstop-1-n { background-position: -192px -32px; }

.ui-icon-arrowstop-1-e { background-position: -208px -32px; }

.ui-icon-arrowstop-1-s { background-position: -224px -32px; }

.ui-icon-arrowstop-1-w { background-position: -240px -32px; }

.ui-icon-arrowthick-1-n { background-position: 0 -48px; }

.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }

.ui-icon-arrowthick-1-e { background-position: -32px -48px; }

.ui-icon-arrowthick-1-se { background-position: -48px -48px; }

.ui-icon-arrowthick-1-s { background-position: -64px -48px; }

.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }

.ui-icon-arrowthick-1-w { background-position: -96px -48px; }

.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }

.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }

.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }

.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }

.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }

.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }

.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }

.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }

.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }

.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }

.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }

.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }

.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }

.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }

.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }

.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }

.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }

.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }

.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }

.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }

.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }

.ui-icon-arrow-4 { background-position: 0 -80px; }

.ui-icon-arrow-4-diag { background-position: -16px -80px; }

.ui-icon-extlink { background-position: -32px -80px; }

.ui-icon-newwin { background-position: -48px -80px; }

.ui-icon-refresh { background-position: -64px -80px; }

.ui-icon-shuffle { background-position: -80px -80px; }

.ui-icon-transfer-e-w { background-position: -96px -80px; }

.ui-icon-transferthick-e-w { background-position: -112px -80px; }

.ui-icon-folder-collapsed { background-position: 0 -96px; }

.ui-icon-folder-open { background-position: -16px -96px; }

.ui-icon-document { background-position: -32px -96px; }

.ui-icon-document-b { background-position: -48px -96px; }

.ui-icon-note { background-position: -64px -96px; }

.ui-icon-mail-closed { background-position: -80px -96px; }

.ui-icon-mail-open { background-position: -96px -96px; }

.ui-icon-suitcase { background-position: -112px -96px; }

.ui-icon-comment { background-position: -128px -96px; }

.ui-icon-person { background-position: -144px -96px; }

.ui-icon-print { background-position: -160px -96px; }

.ui-icon-trash { background-position: -176px -96px; }

.ui-icon-locked { background-position: -192px -96px; }

.ui-icon-unlocked { background-position: -208px -96px; }

.ui-icon-bookmark { background-position: -224px -96px; }

.ui-icon-tag { background-position: -240px -96px; }

.ui-icon-home { background-position: 0 -112px; }

.ui-icon-flag { background-position: -16px -112px; }

.ui-icon-calendar { background-position: -32px -112px; }

.ui-icon-cart { background-position: -48px -112px; }

.ui-icon-pencil { background-position: -64px -112px; }

.ui-icon-clock { background-position: -80px -112px; }

.ui-icon-disk { background-position: -96px -112px; }

.ui-icon-calculator { background-position: -112px -112px; }

.ui-icon-zoomin { background-position: -128px -112px; }

.ui-icon-zoomout { background-position: -144px -112px; }

.ui-icon-search { background-position: -160px -112px; }

.ui-icon-wrench { background-position: -176px -112px; }

.ui-icon-gear { background-position: -192px -112px; }

.ui-icon-heart { background-position: -208px -112px; }

.ui-icon-star { background-position: -224px -112px; }

.ui-icon-link { background-position: -240px -112px; }

.ui-icon-cancel { background-position: 0 -128px; }

.ui-icon-plus { background-position: -16px -128px; }

.ui-icon-plusthick { background-position: -32px -128px; }

.ui-icon-minus { background-position: -48px -128px; }

.ui-icon-minusthick { background-position: -64px -128px; }

.ui-icon-close { background-position: -80px -128px; }

.ui-icon-closethick { background-position: -96px -128px; }

.ui-icon-key { background-position: -112px -128px; }

.ui-icon-lightbulb { background-position: -128px -128px; }

.ui-icon-scissors { background-position: -144px -128px; }

.ui-icon-clipboard { background-position: -160px -128px; }

.ui-icon-copy { background-position: -176px -128px; }

.ui-icon-contact { background-position: -192px -128px; }

.ui-icon-image { background-position: -208px -128px; }

.ui-icon-video { background-position: -224px -128px; }

.ui-icon-script { background-position: -240px -128px; }

.ui-icon-alert { background-position: 0 -144px; }

.ui-icon-info { background: url(../../../jqueryui/v1.8.2/DDC/images/icon_sprite.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/icon_sprite.png*/ 0 0 no-repeat !important; }

.ui-icon-notice { background-position: -32px -144px; }

.ui-icon-help { background-position: -48px -144px; }

.ui-icon-check { background-position: -64px -144px; }

.ui-icon-bullet { background-position: -80px -144px; }

.ui-icon-radio-off { background-position: -96px -144px; }

.ui-icon-radio-on { background-position: -112px -144px; }

.ui-icon-pin-w { background-position: -128px -144px; }

.ui-icon-pin-s { background-position: -144px -144px; }

.ui-icon-play { background-position: 0 -160px; }

.ui-icon-pause { background-position: -16px -160px; }

.ui-icon-seek-next { background-position: -32px -160px; }

.ui-icon-seek-prev { background-position: -48px -160px; }

.ui-icon-seek-end { background-position: -64px -160px; }

.ui-icon-seek-start { background-position: -80px -160px; }

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }

.ui-icon-stop { background-position: -96px -160px; }

.ui-icon-eject { background-position: -112px -160px; }

.ui-icon-volume-off { background-position: -128px -160px; }

.ui-icon-volume-on { background-position: -144px -160px; }

.ui-icon-power { background-position: 0 -176px; }

.ui-icon-signal-diag { background-position: -16px -176px; }

.ui-icon-signal { background-position: -32px -176px; }

.ui-icon-battery-0 { background-position: -48px -176px; }

.ui-icon-battery-1 { background-position: -64px -176px; }

.ui-icon-battery-2 { background-position: -80px -176px; }

.ui-icon-battery-3 { background-position: -96px -176px; }

.ui-icon-circle-plus { background-position: 0 -192px; }

.ui-icon-circle-minus { background-position: -16px -192px; }

.ui-icon-circle-close { background-position: -32px -192px; }

.ui-icon-circle-triangle-e { background-position: -48px -192px; }

.ui-icon-circle-triangle-s { background-position: -64px -192px; }

.ui-icon-circle-triangle-w { background-position: -80px -192px; }

.ui-icon-circle-triangle-n { background-position: -96px -192px; }

.ui-icon-circle-arrow-e { background-position: -112px -192px; }

.ui-icon-circle-arrow-s { background-position: -128px -192px; }

.ui-icon-circle-arrow-w { background-position: -144px -192px; }

.ui-icon-circle-arrow-n { background-position: -160px -192px; }

.ui-icon-circle-zoomin { background-position: -176px -192px; }

.ui-icon-circle-zoomout { background-position: -192px -192px; }

.ui-icon-circle-check { background-position: -208px -192px; }

.ui-icon-circlesmall-plus { background-position: 0 -208px; }

.ui-icon-circlesmall-minus { background-position: -16px -208px; }

.ui-icon-circlesmall-close { background-position: -32px -208px; }

.ui-icon-squaresmall-plus { background-position: -48px -208px; }

.ui-icon-squaresmall-minus { background-position: -64px -208px; }

.ui-icon-squaresmall-close { background-position: -80px -208px; }

.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }

.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }

.ui-icon-grip-solid-vertical { background-position: -32px -224px; }

.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }

.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }

.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; }

.ui-corner-tr { -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }

.ui-corner-bl { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }

.ui-corner-br { -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }

.ui-corner-top { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }

.ui-corner-bottom { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }

.ui-corner-right { -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }

.ui-corner-left { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }

.ui-corner-all { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

/* Overlays */
.ui-widget-overlay { background: #262b33; opacity: .70; filter: Alpha(Opacity=70); }

.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #000000; opacity: .30; filter: Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }

                                                                                                                                                                                              /*
* jQuery UI Resizable 1.8.7
*
* Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Resizable#theming
*/
.ui-resizable { position: relative; }

.ui-resizable-handle { position: absolute; font-size: 0.1px; z-index: 999; display: block; }

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }

.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }

.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }

.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }

.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }

.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }

.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }

.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }

.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px; }

                                                                                      /*
* jQuery UI Selectable 1.8.7
*
* Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Selectable#theming
*/
.ui-selectable-helper { position: absolute; z-index: 100; border: 1px dotted black; }

/* jQuery UI Accordion 1.8.7  Copyright 2010, AUTHORS.txt (http://jqueryui.com/about) Dual licensed under the MIT or GPL Version 2 licenses. http://jquery.org/license  http://docs.jquery.com/UI/Accordion#theming */
/* IE/Win - Fix animation bug - #4615 */
.ui-accordion { width: 100%; }

.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }

.ui-accordion .ui-accordion-header, .ui-accordion .ui-accordion-content { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

.ui-accordion .ui-accordion-li-fix { display: inline; }

.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }

.ui-accordion .ui-accordion-header a { display: block; font-size: 12px; font-weight: bold; padding: 0.5em 0.5em 0.5em 0.7em; }

.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }

.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }

.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }

.ui-accordion .ui-accordion-content-active { display: block; }

                                                             /*
* jQuery UI Autocomplete 1.8.7
*
* Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Autocomplete#theming
*/
.ui-autocomplete { position: absolute; cursor: default; z-index: 3; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

/* workarounds */
* html .ui-autocomplete { width: 1px; }

/* without this, the menu expands to 100% in IE6 */
/* jQuery UI Menu 1.8.7  Copyright 2010, AUTHORS.txt (http://jqueryui.com/about) Dual licensed under the MIT or GPL Version 2 licenses. http://jquery.org/license  http://docs.jquery.com/UI/Menu#theming */
.ui-menu { list-style: none; padding: 2px; margin: 0; display: block; float: left; }

.ui-menu .ui-menu { margin-top: -3px; }

.ui-menu .ui-menu-item { margin: 0; padding: 0; zoom: 1; float: left; clear: left; width: 100%; }

.ui-menu .ui-menu-item a { text-decoration: none; display: block; padding: 0.2em 0.4em; line-height: 1.5; zoom: 1; }

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active { font-weight: normal; margin: -1px; background: #5f83b9; color: #FFFFFF; text-shadow: 0px 1px 1px #234386; border-color: #466086; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

/* jQuery UI Button 1.8.7  Copyright 2010, AUTHORS.txt (http://jqueryui.com/about) Dual licensed under the MIT or GPL Version 2 licenses. http://jquery.org/license  http://docs.jquery.com/UI/Button#theming */
.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; -webkit-user-select: none; -moz-user-select: none; user-select: none; }

/* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; }

/* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; }

/* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; }

button.ui-button-icons-only { width: 3.7em; }

/* button animation properties */
.ui-button { -webkit-transition: -webkit-box-shadow 0.25s ease-in-out; -moz-transition: -moz-box-shadow 0.25s ease-in-out; -o-transition: -o-box-shadow 0.25s ease-in-out; }

/*states*/
.ui-button.ui-state-hover { -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.8) inset; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.8) inset; box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.8) inset; }

.ui-button.ui-state-focus { outline: none; color: #1c4257; border-color: #7096ab; background: #ededed url(../../../jqueryui/v1.8.2/DDC/images/bg_fallback.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/bg_fallback.png*/ 0 -50px repeat-x; /* Old browsers */ background: -moz-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b9e0f5), color-stop(100%, #92bdd6)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%); /* IE10+ */ background: linear-gradient(top, #b9e0f5 0%, #92bdd6 100%); /* W3C */ -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.8) inset; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.8) inset; box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.8) inset; }

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4; font-size: 14px; font-weight: bold; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); }

.ui-button-text-only .ui-button-text { padding: 0.4em 1em; }

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: 0.4em 1em 0.4em 2.1em; }

.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: 0.4em 2.1em 0.4em 1em; }

.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }

/* no icon support for input elements, provide padding by default */
input.ui-button { font-size: 14px; font-weight: bold; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); padding: 0 1em !important; height: 33px; }

/*remove submit button internal padding in Firefox*/
input.ui-button::-moz-focus-inner { border: 0; padding: 0; }

/* fix webkits handling of the box model */
@media screen and (-webkit-min-device-pixel-ratio: 0) { input.ui-button { height: 31px !important; } }
/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }

.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }

.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }

.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }

.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

.ui-buttonset .ui-button.ui-state-active { color: #1c4257; border-color: #7096ab; }

.ui-buttonset .ui-button.ui-state-active { background: #ededed url(../../../jqueryui/v1.8.2/DDC/images/bg_fallback.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/bg_fallback.png*/ 0 -50px repeat-x; /* Old browsers */ background: -moz-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b9e0f5), color-stop(100%, #92bdd6)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%); /* IE10+ */ background: linear-gradient(top, #b9e0f5 0%, #92bdd6 100%); /* W3C */ -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; }

/* reset extra padding in Firefox */
/* jQuery UI Dialog 1.8.7  Copyright 2010, AUTHORS.txt (http://jqueryui.com/about) Dual licensed under the MIT or GPL Version 2 licenses. http://jquery.org/license  http://docs.jquery.com/UI/Dialog#theming */
.ui-dialog { position: absolute; padding: 0; width: 300px; overflow: hidden; }

.ui-dialog { -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6); }

.ui-dialog .ui-dialog-titlebar { padding: 0.7em 1em 0.6em 1em; position: relative; border: none; border-bottom: 1px solid #979797; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

.ui-dialog .ui-dialog-title { float: left; margin: 0.1em 16px 0.2em 0; font-size: 14px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .8em; top: 55%; width: 16px; margin: -10px 0 0 0; padding: 0; height: 16px; }

.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; background: url(../../../jqueryui/v1.8.2/DDC/images/icon_sprite.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/icon_sprite.png*/ 0 -16px no-repeat; }

.ui-dialog .ui-dialog-titlebar-close:hover span { background-position: -16px -16px; }

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; border: 0; }

.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: 0.5em 1em; background: none; overflow: auto; zoom: 1; }

.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: 0.5em 0 0 0; padding: 0.3em 1em 0.5em 0.4em; }

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }

.ui-dialog .ui-dialog-buttonpane button { margin: 0.5em 0.4em 0.5em 0; cursor: pointer; }

.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }

.ui-draggable .ui-dialog-titlebar { cursor: move; }

/* jQuery UI Slider 1.8.7  Copyright 2010, AUTHORS.txt (http://jqueryui.com/about) Dual licensed under the MIT or GPL Version 2 licenses. http://jquery.org/license  http://docs.jquery.com/UI/Slider#theming */
.ui-slider { position: relative; text-align: left; background: #d7d7d7; z-index: 1; }

.ui-slider { -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset; }

.ui-slider .ui-slider-handle { background: url(../../../jqueryui/v1.8.2/DDC/images/slider_handles.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/slider_handles.png*/ 0px -23px no-repeat; position: absolute; z-index: 2; width: 23px; height: 23px; cursor: default; border: none; outline: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.ui-slider .ui-state-hover, .ui-slider .ui-state-active { background-position: 0 0; }

.ui-slider .ui-slider-range { background: #666666; position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider .ui-slider-range { -moz-box-shadow: 0 1px 2px rgba(17, 35, 45, 0.6) inset; -webkit-box-shadow: 0 1px 2px rgba(17, 35, 45, 0.6) inset; box-shadow: 0 1px 2px rgba(17, 35, 45, 0.6) inset; }

.ui-slider-horizontal { height: 5px; }

.ui-slider-horizontal .ui-slider-handle { top: -9px; margin-left: -13px; }

.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }

.ui-slider-horizontal .ui-slider-range-min { left: 0; }

.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: 5px; height: 100px; }

.ui-slider-vertical .ui-slider-handle { left: -8px; margin-left: 0; margin-bottom: -13px; }

.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }

.ui-slider-vertical .ui-slider-range-min { bottom: 0; }

.ui-slider-vertical .ui-slider-range-max { top: 0; }

                                                   /*
* jQuery UI Tabs 1.8.7
*
* Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Tabs#theming
*/
.ui-tabs { position: relative; zoom: 1; border: 0; background: transparent; }

/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: 0; background: transparent; border-width: 0 0 1px 0; }

.ui-tabs .ui-tabs-nav { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 0.2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }

.ui-tabs .ui-tabs-nav li a { float: left; padding: 0.5em 1em; text-decoration: none; font-size: 12px; font-weight: bold; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; background: #fff; border-color: #B6B6B6; }

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; outline: none; }

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }

/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0 1px 1px 1px; padding: 1em 1.4em; background: none; }

.ui-tabs .ui-tabs-panel { background: #FFF; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

.ui-tabs .ui-tabs-hide { display: none !important; }

/* jQuery UI Datepicker 1.8.7  Copyright 2010, AUTHORS.txt (http://jqueryui.com/about) Dual licensed under the MIT or GPL Version 2 licenses. http://jquery.org/license  http://docs.jquery.com/UI/Datepicker#theming */
.ui-datepicker { width: 17em; padding: 0; display: none; border-color: #DDDDDD; }

.ui-datepicker { -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); }

.ui-datepicker .ui-datepicker-header { position: relative; padding: 0.35em 0; border: none; border-bottom: 1px solid #b6b6b6; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: absolute; top: 6px; width: 1.8em; height: 1.8em; }

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { border: 1px none; }

.ui-datepicker .ui-datepicker-prev { left: 2px; }

.ui-datepicker .ui-datepicker-next { right: 2px; }

.ui-datepicker .ui-datepicker-prev span { background-position: 0px -32px !important; }

.ui-datepicker .ui-datepicker-next span { background-position: -16px -32px !important; }

.ui-datepicker .ui-datepicker-prev-hover span { background-position: 0px -48px !important; }

.ui-datepicker .ui-datepicker-next-hover span { background-position: -16px -48px !important; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px; background: url(../../../jqueryui/v1.8.2/DDC/images/icon_sprite.png)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/icon_sprite.png*/ no-repeat; }

.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; font-size: 12px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); }

.ui-datepicker .ui-datepicker-title select { font-size: 1em; margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month-year { width: 100%; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { width: 49%; }

.ui-datepicker table { width: 100%; font-size: .9em; border-collapse: collapse; margin: 0 0 0.4em; }

.ui-datepicker th { padding: 0.7em 0.3em; text-align: center; font-weight: bold; border: 0; }

.ui-datepicker td { border: 0; padding: 1px; }

.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }

.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: 0.7em 0 0 0; padding: 0 0.2em; border-left: 0; border-right: 0; border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: 0.5em 0.2em 0.4em; cursor: pointer; padding: 0.2em 0.6em 0.3em 0.6em; width: auto; overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: left; }

.ui-datepicker table .ui-state-highlight { border-color: #5F83B9; }

.ui-datepicker table .ui-state-hover { background: #5F83B9; color: #FFF; font-weight: bold; text-shadow: 0 1px 1px #234386; -webkit-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.6) inset; -moz-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.6) inset; box-shadow: 0 0px 0 rgba(255, 255, 255, 0.6) inset; border-color: #5F83B9; }

.ui-datepicker-calendar .ui-state-default { background: transparent; border-color: #FFF; }

.ui-datepicker-calendar .ui-state-active { background: #5F83B9; border-color: #5F83B9; color: #FFF; font-weight: bold; text-shadow: 0 1px 1px #234386; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width: auto; }

.ui-datepicker-multi .ui-datepicker-group { float: left; }

.ui-datepicker-multi .ui-datepicker-group table { width: 95%; margin: 0 auto 0.4em; }

.ui-datepicker-multi-2 .ui-datepicker-group { width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group { width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group { width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane { clear: left; }

.ui-datepicker-row-break { clear: both; width: 100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }

.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane { clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float: right; }

.ui-datepicker-rtl .ui-datepicker-group { float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width: 0; border-left-width: 1px; }

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width: 0; border-left-width: 1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover { display: none; /*sorry for IE5*/ display/**/: block; /*sorry for IE5*/ position: absolute; /*must have*/ z-index: -1; /*must have*/ filter: mask(); /*must have*/ top: -4px; /*must have*/ left: -4px; /*must have*/ width: 200px; /*must have*/ height: 200px; /*must have*/ }

/*
* jQuery UI Progressbar 1.8.7
*
* Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Progressbar#theming
*/
.ui-progressbar { height: 12px; text-align: left; background: white url(../../../jqueryui/v1.8.2/DDC/images/progress_bar.gif)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/progress_bar.gif*/ 0 -14px repeat-x; }

.ui-progressbar .ui-progressbar-value { margin: -1px; height: 100%; background: url(../../../jqueryui/v1.8.2/DDC/images/progress_bar.gif)/*tpa=http://static.dealer.com/v9/media/css/jqueryui/v1.8.2/DDC/images/progress_bar.gif*/ 0 0 repeat-x; }

/* Extra Input Field Styling */
.ui-form textarea, .ui-form input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]) { padding: 3px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; border: 1px solid #cecece; outline: none; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2); -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25 ease-in-out; -o-transition: all 0.25s ease-in-out; }

.ui-form textarea:hover, .ui-form input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):hover { border: 1px solid #bdbdbd; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.2); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.2); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.2); }

.ui-form textarea:focus, .ui-form input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):focus { border: 1px solid #95bdd4; -webkit-box-shadow: 0 2px 3px rgba(161, 202, 226, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2); -moz-box-shadow: 0 2px 3px rgba(161, 202, 226, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2); box-shadow: 0 2px 3px rgba(161, 202, 226, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2); }

/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.2.0
build: 2676
*/
html { color: #000; background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }

li { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; font-variant: normal; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }

input, textarea, select { *font-size: 100%; }

legend { color: #000; }

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    /*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.2.0
build: 2676
*/
body { font: 13px/1.231 arial, helvetica, clean, sans-serif; *font-size: small; *font: x-small; }

select, input, button, textarea { font: 99% arial, helvetica, clean, sans-serif; }

table { font-size: inherit; font: 100%; }

pre, code, kbd, samp, tt { font-family: monospace; *font-size: 108%; line-height: 100%; }

                                                                                                                                                                                                                                                                              /*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.2.0
build: 2676
*/
.yui3-g { letter-spacing: -0.31em; *letter-spacing: normal; word-spacing: -0.43em; }

.yui3-u, .yui3-u-1, .yui3-u-1-2, .yui3-u-1-3, .yui3-u-2-3, .yui3-u-1-4, .yui3-u-3-4, .yui3-u-1-5, .yui3-u-2-5, .yui3-u-3-5, .yui3-u-4-5, .yui3-u-1-6, .yui3-u-5-6, .yui3-u-1-8, .yui3-u-3-8, .yui3-u-5-8, .yui3-u-7-8, .yui3-u-1-12, .yui3-u-5-12, .yui3-u-7-12, .yui3-u-11-12, .yui3-u-1-24, .yui3-u-5-24, .yui3-u-7-24, .yui3-u-11-24, .yui3-u-13-24, .yui3-u-17-24, .yui3-u-19-24, .yui3-u-23-24 { display: inline-block; zoom: 1; *display: inline; letter-spacing: normal; word-spacing: normal; vertical-align: top; }

.yui3-u-1 { display: block; }

.yui3-u-1-2 { width: 50%; }

.yui3-u-1-3 { width: 33.33333%; }

.yui3-u-2-3 { width: 66.66666%; }

.yui3-u-1-4 { width: 25%; }

.yui3-u-3-4 { width: 75%; }

.yui3-u-1-5 { width: 20%; }

.yui3-u-2-5 { width: 40%; }

.yui3-u-3-5 { width: 60%; }

.yui3-u-4-5 { width: 80%; }

.yui3-u-1-6 { width: 16.656%; }

.yui3-u-5-6 { width: 83.33%; }

.yui3-u-1-8 { width: 12.5%; }

.yui3-u-3-8 { width: 37.5%; }

.yui3-u-5-8 { width: 62.5%; }

.yui3-u-7-8 { width: 87.5%; }

.yui3-u-1-12 { width: 8.3333%; }

.yui3-u-5-12 { width: 41.6666%; }

.yui3-u-7-12 { width: 58.3333%; }

.yui3-u-11-12 { width: 91.6666%; }

.yui3-u-1-24 { width: 4.1666%; }

.yui3-u-5-24 { width: 20.8333%; }

.yui3-u-7-24 { width: 29.1666%; }

.yui3-u-11-24 { width: 45.8333%; }

.yui3-u-13-24 { width: 54.1666%; }

.yui3-u-17-24 { width: 70.8333%; }

.yui3-u-19-24 { width: 79.1666%; }

.yui3-u-23-24 { width: 95.8333%; }

/* =Bootstrap Imports ------------------------------------------------------------------------------*/
.tooltip { position: absolute; z-index: 1030; display: block; visibility: visible; font-size: 12px; line-height: 1.4; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.tooltip.in { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
.tooltip.top { margin-top: -3px; padding: 5px 0; }
.tooltip.right { margin-left: 3px; padding: 0 5px; }
.tooltip.bottom { margin-top: 3px; padding: 5px 0; }
.tooltip.left { margin-left: -3px; padding: 0 5px; }

.tooltip-inner { max-width: 200px; padding: 3px 8px; color: white; text-align: center; text-decoration: none; background-color: black; border-radius: 4px; }

.tooltip-arrow { position: absolute; width: 0; height: 0; border-color: transparent; border-style: solid; }

.tooltip.top .tooltip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-width: 5px 5px 0; border-top-color: black; }
.tooltip.top-left .tooltip-arrow { bottom: 0; left: 5px; border-width: 5px 5px 0; border-top-color: black; }
.tooltip.top-right .tooltip-arrow { bottom: 0; right: 5px; border-width: 5px 5px 0; border-top-color: black; }
.tooltip.right .tooltip-arrow { top: 50%; left: 0; margin-top: -5px; border-width: 5px 5px 5px 0; border-right-color: black; }
.tooltip.left .tooltip-arrow { top: 50%; right: 0; margin-top: -5px; border-width: 5px 0 5px 5px; border-left-color: black; }
.tooltip.bottom .tooltip-arrow { top: 0; left: 50%; margin-left: -5px; border-width: 0 5px 5px; border-bottom-color: black; }
.tooltip.bottom-left .tooltip-arrow { top: 0; left: 5px; border-width: 0 5px 5px; border-bottom-color: black; }
.tooltip.bottom-right .tooltip-arrow { top: 0; right: 5px; border-width: 0 5px 5px; border-bottom-color: black; }

.popover { position: absolute; top: 0; left: 0; z-index: 1001; display: none; max-width: 276px; padding: 1px; text-align: left; background-color: white; background-clip: padding-box; border: 1px solid #cccccc; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); white-space: normal; }
.popover.top { margin-top: -10px; }
.popover.right { margin-left: 10px; }
.popover.bottom { margin-top: 10px; }
.popover.left { margin-left: -10px; }

.popover-title { margin: 0; padding: 8px 14px; font-size: 14px; font-weight: normal; line-height: 18px; background-color: #f7f7f7; border-bottom: 1px solid #ebebeb; border-radius: 5px 5px 0 0; }

.popover-content { padding: 9px 14px; }

.popover .arrow, .popover .arrow:after { position: absolute; display: block; width: 0; height: 0; border-color: transparent; border-style: solid; }

.popover .arrow { border-width: 11px; }

.popover .arrow:after { border-width: 10px; content: ""; }

.popover.top .arrow { left: 50%; margin-left: -11px; border-bottom-width: 0; border-top-color: #999999; border-top-color: rgba(0, 0, 0, 0.25); bottom: -11px; }
.popover.top .arrow:after { content: " "; bottom: 1px; margin-left: -10px; border-bottom-width: 0; border-top-color: white; }
.popover.right .arrow { top: 50%; left: -11px; margin-top: -11px; border-left-width: 0; border-right-color: #999999; border-right-color: rgba(0, 0, 0, 0.25); }
.popover.right .arrow:after { content: " "; left: 1px; bottom: -10px; border-left-width: 0; border-right-color: white; }
.popover.bottom .arrow { left: 50%; margin-left: -11px; border-top-width: 0; border-bottom-color: #999999; border-bottom-color: rgba(0, 0, 0, 0.25); top: -11px; }
.popover.bottom .arrow:after { content: " "; top: 1px; margin-left: -10px; border-top-width: 0; border-bottom-color: white; }
.popover.left .arrow { top: 50%; right: -11px; margin-top: -11px; border-right-width: 0; border-left-color: #999999; border-left-color: rgba(0, 0, 0, 0.25); }
.popover.left .arrow:after { content: " "; right: 1px; border-right-width: 0; border-left-color: white; bottom: -10px; }

.popover { max-width: 400px; }

/* popover content settings are for designs not utilizing bootstrap */
.popover-content { padding: 0.8em; }

.popover-content p { margin-bottom: 0.5em; line-height: normal; }

.popover-content p:last-child { margin-bottom: 0; }

.popover-content p strong { font-weight: bold; }

/* general */
header, footer, nav, section, article, aside { display: block; }

.region.footer.landing { position: relative; }

/* =layout */
.aside-right { padding-right: 300px; }

.aside-left { padding-left: 300px; }

.aside-right .aside { width: 300px; margin-right: -300px; }

.aside-left .aside { width: 300px; margin-left: -300px; }

.main { width: 100%; }

/* =align */
.align-left { float: left; }

.align-right { float: right; }

.align-center { margin-left: auto; margin-right: auto; text-align: center; }

/* =hide */
.hide, .ui-tabs-hide { display: none; }

/* =size */
.xsmall { font-size: 77%; }

/* 10px */
.small { font-size: 93%; }

/* 12px */
.large { font-size: 123.1%; }

/* 16px */
.xlarge { font-size: 182%; }

/* 24px */
/* =content & =bulleted & =article & =special*/
.content ul, .content ol, .bulleted, article ul, article ol { margin-left: 2em; }

.content ul li, .bulleted li, article ul li, .special ul { list-style: disc outside; }

.content ol li, ol.bulleted li, article ol li, .special ol { list-style: decimal outside; }

/* =inputs */
input.search { -webkit-appearance: none; }

/* =cursors */
.pointer { cursor: pointer; }

/* =lazy images */
.lazy-image { display: block; padding: 1px; }

/* =clear and =clearfix */
.clear { clear: both; }

.clearfix:after { content: "."; overflow: hidden; visibility: hidden; clear: both; display: block; height: 0; }

* + html .clearfix { zoom: 1; }

/* =ui-state */
.ui-state { margin: 1em; padding: 1em; }

/* =jivelive dealerchat port */
.jiveLiveChat { position: fixed; top: 0; right: 0; z-index: 1000; }

.jiveLiveOffline { display: none; }

/* -- inventory-detail-media-tabs -- */
.imageViewer .dialog { position: relative; display: block; }

.imageViewer .ui-state { position: absolute; right: 5%; bottom: 3%; height: 31px; width: 31px; padding: 0; text-indent: -9999em; }

.imageViewer .ui-icon-zoomin { height: 31px; width: 31px; background: transparent url("../../../../images/image-viewer/v1/zoom-icon.png")/*tpa=http://static.dealer.com/v9/media/images/image-viewer/v1/zoom-icon.png*/ no-repeat 50% 50%; }

/* =jcarousel */
.jcarousel { visibility: hidden; }

/* =404 */
.four-o-four .first { background: transparent url("../../../../images/404/v1/404-bg.png")/*tpa=http://static.dealer.com/v9/media/images/404/v1/404-bg.png*/ repeat-x 0 0; }

.four-o-four .first .image-default img { display: block; margin: 0 auto; }

.four-o-four .first .hd, .four-o-four .first .hd2 { margin: 0; padding: 0; background: none; }

.four-o-four .first .hd h1 { display: block; margin: 28px 0 10px; padding: 0; font-size: 182%; line-height: 80px; text-shadow: 1px 1px white; background: none; }

.four-o-four .first .bd, .four-o-four .first .bd2 { margin: 0; padding: 0; }

.four-o-four .navigation-sitemap ul { margin: 0 0 10px; }

.four-o-four .navigation-sitemap ul li { float: left; width: 10%; margin: 0; padding: 0 2% 0 0; list-style: none; }

.four-o-four .navigation-sitemap ul li a { display: block; font-weight: bold; padding-bottom: 5px; }

.four-o-four .navigation-sitemap ul li li { float: none; width: 100%; margin: 0; }

.four-o-four .navigation-sitemap ul li li a { font-weight: normal; padding: 0 0 5px; }

/* =blog */
.ddc-document .blog-search form input { width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; }

/* -- hide globalVehicleTrimId facet -- */
label.globalVehicleTrimId { display: none; }

/* -- JIRA-13401: fix page jump bug when rendering gplus -- */
.links-share .g-plusone { height: 20px; overflow: hidden; }

/* -- JIRA-13489: Scroll next/prev buttons for image viewer dialogs -- */
.ui-dialog .imageViewerScrollWrap { position: absolute; z-index: 2000; }

.ui-dialog .imageViewerScrollWrap > a { cursor: pointer; font-weight: bold; color: black; }

.ui-dialog .imageViewerScrollWrap > a.imageScrollPrev:hover { background-position: 5% 50%; }

.ui-dialog .imageViewerScrollWrap > a.imageScrollNext:hover { background-position: 95% 50%; }

.ui-dialog .imageViewerScrollWrap .imageScrollPrev { background: url("../../../../images/image-viewer/v1/img-viewer-scroll-prev.png")/*tpa=http://static.dealer.com/v9/media/images/image-viewer/v1/img-viewer-scroll-prev.png*/ 10000px no-repeat; display: block; float: left; height: 100%; text-indent: -10000px; width: 49%; }

.ui-dialog .imageViewerScrollWrap .imageScrollNext { background: url("../../../../images/image-viewer/v1/img-viewer-scroll-next.png")/*tpa=http://static.dealer.com/v9/media/images/image-viewer/v1/img-viewer-scroll-next.png*/ 10000px no-repeat; display: block; float: right; height: 100%; text-indent: -10000px; width: 49%; }

/* -- JIRA-12346 : Set max-width for HTML5 video tag elements -- */
.ddcPlayer-holder video { max-width: 100%; }

/* jwplayer
-------------------------------------------------------------- */
/* html5 jwplayer video reset - without this the position of video within the player can shift and crop */
.jwplayer video { max-width: none; width: 100%; margin: 0; padding: 0; }

.ddc-video-wrapper, .ddc-video-wrapper .jwplayer, .ddc-video-wrapper obj { width: 100%; max-width: 100%; margin: 0 auto; padding: 0; }

/* internal jwplayer display: table items shouldn't get global table reset */
.jwdisplayIcon { border-collapse: separate; }

/* have to force this override, since the jw error message is in a table which doesn't respect max-width */
.ddc-video-wrapper .jwplayer-error { width: 100% !important; }

/* prevent jquery-ui dialogs from cropping fullscreen video */
.fullscreen-video .ui-dialog, .fullscreen-video .ui-dialog .ui-dialog-content { overflow: visible; }

.yui3-g .jwplayer { letter-spacing: normal; word-spacing: normal; }

#media .imageViewer .jwplayer img { height: auto; width: auto; }

/* have to force this override, need menu bgs to cover area */
.jwback { background-size: cover !important; }

.jwplayer div.jwoption { padding-right: 10px; }

/*------------------------------------------------------------------------------ ------------------------------------------------------------------------------- DDC Default CSS V2 ------------------------------------------------------------------------------- ------------------------------------------------------------------------------*/
/* =Page ------------------------------------------------------------------------------*/
.loading { background-image: url(../../../../images/ajax-loaders/v1/black-ajax-loader-1.gif)/*tpa=http://static.dealer.com/v9/media/images/ajax-loaders/v1/black-ajax-loader-1.gif*/; background-repeat: no-repeat; background-position: 50% 50%; }

footer { position: relative; }
footer .credit { display: block; height: 21px; width: 90px; text-indent: -9999em; background: transparent url("../../../../images/footer-logos/v1/ddc-logo-black.png")/*tpa=http://static.dealer.com/v9/media/images/footer-logos/v1/ddc-logo-black.png*/ no-repeat 0 0; }

.third-party-service-footer { position: relative; }

/* =Header ------------------------------------------------------------------------------*/
.groupSite .cycle, .groupSite .adr, .groupSite .tels { display: none; }

/* ==preowned */
.single-franchise.preowned .franchises { display: none; }

/* =Forms ------------------------------------------------------------------------------*/
form:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

form label { position: relative; float: left; display: block; line-height: 1.8; }

form label span { float: left; clear: right; }

form label.duration span { white-space: nowrap; }

input, textarea { float: right; }

input.checkbox, input.radio { float: left; width: auto; }

select { float: right; outline: none; }

textarea { overflow: auto; }

form .errors { float: left; width: 100%; }

form .errors .error { display: block; }

form .error .ui-icon { float: right; min-width: 0; max-width: none; margin: -3px 0 0; }

/* ==horizontal -- */
.horizontal form label { float: none; }

.horizontal input, .horizontal textarea, .horizontal select { float: none; width: 100%; }

form .error .ui-icon { float: left; }

/* ==overrides */
select.select-service { height: 100px; }

.facet select { width: 100%; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-date .ui-widget { font-size: 100%; }

/* =JQuery UI ------------------------------------------------------------------------------*/
/* ==ui-dialog */
.ui-dialog .ui-dialog-content { overflow: visible; }

/* ==jcarousel */
.jcarousel-container { width: 94%; padding: 0% 3%; overflow: hidden; }

.jcarousel-clip-horizontal, .jcarousel-clip-vertical, .jcarousel-clip { overflow: hidden; }

.jcarousel-prev, .jcarousel-next { position: absolute; top: 40%; height: 21px; width: 11px; cursor: pointer; background: url("../../../../images/widget-images/v1/prev-next-sprite.png")/*tpa=http://static.dealer.com/v9/media/images/widget-images/v1/prev-next-sprite.png*/ no-repeat scroll 0 50% transparent; }

.jcarousel-prev { left: 0; }

.jcarousel-next { right: 0; background-position: -11px 50%; }

.jcarousel-prev-disabled, .jcarousel-next-disabled { cursor: default; }

.jcarousel-prev:hover { background-position: -22px 50%; }

.jcarousel-next:hover { background-position: -33px 50%; }

.jcarousel-prev-disabled, .jcarousel-prev-disabled:hover { background-position: -44px 50%; }

.jcarousel-next-disabled, .jcarousel-next-disabled:hover { background-position: -55px 50%; }

/* =VLP ------------------------------------------------------------------------------*/
.inventoryList.grid .calloutDetails, .inventoryList.list .calloutDetails { display: none; }

/* JIRA-17019 */
.hproduct .pricing-area:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.inventoryList.grid .pricing-area .view-link { display: none; }

/* =Widgets ------------------------------------------------------------------------------*/
/* ==directions-results */
.directions-results .adp-placemark td:first-child { display: block; width: 30px; }

/* ==inventory-featured-default */
.inventory-featured-default .hproduct .description .calloutDetails { display: none; }

/* ==links-list */
.links-list .ui-button { display: block; }

/* -- dealertrack payment calculator */
.inventory-detail-pricing .pricing .calculate-dealertrack-button { margin-top: .5em; margin-bottom: .5em; overflow: hidden; }

.inventory-detail-pricing .pricing .calculate-dealertrack-button .ui-icon-calculator { float: left; }

.inventory-detail-pricing .pricing .calculate-dealertrack-button p { float: left; }

.inventory-detail-pricing .pricing .calculate-dealertrack.dialog { clear: none; }

/* -- reusable styles */
.visibility-hidden { visibility: hidden; }
