
* {
	outline: 0;
}

.pb_05 {
	padding-bottom: 5%!important;
}
.pb_10 {
	padding-bottom: 10%!important;
}
.pb_15 {
	padding-bottom: 15%!important;
}
.pb_20 {
	padding-bottom: 20%!important;
}
.pb_25 {
	padding-bottom: 25%!important;
}
.pb_30 {
	padding-bottom: 30%!important;
}
.pb_35 {
	padding-bottom: 35%!important;
}
.pb_40 {
	padding-bottom: 40%!important;
}
.pb_45 {
	padding-bottom: 45%!important;
}
.pb_50 {
	padding-bottom: 50%!important;
}
.pb_55 {
	padding-bottom: 55%!important;
}
.pb_60 {
	padding-bottom: 60%!important;
}
.pb_65 {
	padding-bottom: 65%!important;
}
.pb_70 {
	padding-bottom: 70%!important;
}
.pb_75 {
	padding-bottom: 75%!important;
}
.pb_80 {
	padding-bottom: 80%!important;
}
.pb_85 {
	padding-bottom: 85%!important;
}
.pb_90 {
	padding-bottom: 90%!important;
}
.pb_95 {
	padding-bottom: 95%!important;
}
.pb_100 {
	padding-bottom: 100%!important;
}
.pb_110 {
	padding-bottom: 110%!important;
}
.pb_120 {
	padding-bottom: 120%!important;
}
.pb_130 {
	padding-bottom: 130%!important;
}
.pb_140 {
	padding-bottom: 140%!important;
}
.pb_150 {
	padding-bottom: 150%!important;
}
.pb_175 {
	padding-bottom: 175%!important;
}
.pb_200 {
	padding-bottom: 200%!important;
}
.pb_250 {
	padding-bottom: 250%!important;
}
.pb_300 {
	padding-bottom: 300%!important;
}
.pb_500 {
	padding-bottom: 500%!important;
}
.pb_600 {
	padding-bottom: 600%!important;
}
.pb_700 {
	padding-bottom: 700%!important;
}
.pb_800 {
	padding-bottom: 800%!important;
}
.pb_900 {
	padding-bottom: 900%!important;
}
.pb_1000 {
	padding-bottom: 1000%!important;
}

.contentFormatted .video-container p {
	margin: 0;
}

@media (max-width: 979px) {

	.dropdown-menu {
		display: block!important;
	}
	
	.dropdown {
		height: auto!important;
	}
}

#webform-component-information-type {
	width: 100%;
}

.form-actions {
	clear: both;
}

.form-item.webform-component {
    float: left;
    overflow: hidden;
    width: 50%;
}

.mediaSection h2 {
	font-size: 23px; 
	color: #0067ab;
}

.mediaSection .bigTop {
	margin: 10px 0;
}


.mediaSection .span4 h3 {
	font-size: 14px;
	color: #0067ab;
	font-weight: normal;
	text-align: center;
	line-height: 18px;
	padding: 0;
	margin: 0;
}

.mediaSection .span4 span {
	font-size: 14px;
	display: block;
	line-height: 18px;
	padding: 0;
	margin: 0;
	text-align: center;
}

#committeeTable {
	width:100%;
	font-size: 15px;
}

#committeeTable .leftAndCenter {
	display: inline-block;
	text-align: left;
}

#committeeTable tbody b {
	color: #0067AB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

#committeeTable thead th {
	width: 25%;
	padding-bottom: 4px;
	text-align: center;
}

#committeeTable thead {
	color: #0067AB;
	text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
}

#committeeTable tbody tr {
	border-top: 1px solid #333;
}

#committeeTop .span3 {
	margin: 10px 0;
}

#committeeTop {
	margin: 25px 0 5px;
}

#committeeTop img {
	height: 36px;
	width: 28px;
}

#committeeTable .bust {
	height: 36px;
	width: 28px;
	margin: 6px auto;
}

#committeeTable .bustC {
	height: 36px;
	width: 28px;
	margin: 6px auto;
}

#committeeTable .calc {
	height: 36px;
	width: 28px;
	background: url(../img/calc.png) no-repeat 0 0 transparent;
	background-size: 28px 36px;
	margin: 6px auto;
}

.video-container.innerLittle{
	position: relative;
	padding-bottom: 39%;
	margin: 20px auto 10px;
	height: 0;
	overflow: hidden;
}

.video-container.bigTop{
	position: relative;
	padding-bottom: 42.7%;
	margin-top: 30px;
	height: 0;
	overflow: hidden;
	width: 76%;
	margin-left:auto;
	margin-right:auto;
}



.video-container{
	position: relative;
	width: 76%;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
}

.video-container.brightcove {
	height: auto !important;
    padding-bottom: 42.75%;
    width: 76% !important;
}

.video-container-brightcove{
	position: relative;
	height: auto;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
}


.video-container.sideVid{
	position: relative;
	padding-bottom: 71%;
	margin-bottom: 15px;
	height: 0;
	width: 80%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

hr.hr80 {
	width: 80%;
	margin: 0 auto;
	display: block;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul {
	list-style: circle;
}

	.topRightLinks.visible-desktop {
	    position: absolute;
	    z-index: 999;
	    right: 0;
	    top: 0;
	margin: 7px 10px 0 0;
	}

.topRightLinks a {
	font-size: 12px;
	color:#666;
	line-height: 26px;
	margin-right: 22px;
	float:left;
}

#search-block-form--2 {
	float:right;
	position: relative;
	width: 124px;
	height: 23px;
    overflow: hidden;
}

.topRightLinks .element-invisible {
	display: none;
}

.topRightLinks .form-actions{
	display: none;
}

#search-block-form--2 input.form-text {
	position: absolute;
	font-size: 12px;
	top:0;
	left:0;
    background: url("../img/searchBox.png") no-repeat scroll 0 0 transparent;
    height: 19px;
    padding: 2px 10px;
    width: 104px;
    border: none;
    background-color: transparent;
}

#search-block-form--2 input.form-submit{
	position: absolute;
	top:0;
	right:0;
	width: 30px;
	height: 21px;
	padding: 0;
	font-size: 0;
	overflow: hidden;
	color: transparent;
	text-indent: 9999em;
    border: none;
	margin:0;
	background: url("../img/searchBox.png") no-repeat scroll -94px 0 transparent;
}

body {
	font-family: "Maven Pro", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

table.styledTable {
	border-collapse: collapse;
	margin-bottom: 20px;
}

table.styledTable tfoot td {
	background: #f0f0f0;
}

table.styledTable td {
	border: 1px solid #f0f0f0;
	padding: 3px 6px;
}

.bioSection h3{
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	font-style: italic;
	margin-bottom: 10px;
	line-height: 17px;
	padding: 0;
	font-weight: 300;
}

.bioSection h3 span {
	font-size: 16px;
	color: #0067ab;
	font-style: normal;
	padding-right: 5px;
	font-weight: 400;
}

.bioSection p {
	font-size: 13px;
	color: #333;
	line-height: 17px;
}

.clearDiv {
	width: 100%;
	clear: both;
}

.leftContent .brandsBox {
	height: 100px;
	width: 100%;
	position: relative;
	border-radius: 8px 8px 0 0;
	-moz-box-shadow: inset 0px 0 12px rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0px 0 12px rgba(0,0,0,.5);
	box-shadow: inset 0px 0 12px rgba(0,0,0,.5);
}

tbody {
	border-top: none;
}

.leftContent .brandsBox .name {
	float:left;
	font-size: 20px;
	color: #0067ab;
	font-weight: 600;
	font-family: "Source Sans Pro", sans-serif;
	position: absolute;
	left: 35px;
	bottom: 21px;
}

.leftContent .brandsBox .slider {
	width: 70%;
	float:right;
}



.leftContent .brandsBox .slides {
    height: 67px;
    margin: 13px;
    overflow: hidden;
    padding: 0 26px;
    position: relative;
}
.leftContent .brandsBox .slides:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	cursor: pointer;
	z-index: 100;
	width: 30px;
	background: url("../img/slideLeftArr.png") no-repeat scroll center center #fff;
	content: "";
}
.leftContent .brandsBox .slides:after {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
	height: 100%;
	cursor: pointer;
	width: 30px;
	background: url("../img/slideRightArr.png") no-repeat scroll center center #fff;
	content: "";
}

.leftContent .brandsBox .slideHolder {
	white-space: nowrap;
	position: absolute;
	left: 26px;
	top: 0;
	height: 67px;
}

.leftContent .brandsBox .slider .brand {
	width: 115px;
	height: 67px;
	display: inline-block;
	line-height: 67px;
	text-align: center;
}

.leftContent .brandsBox:after {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 3px solid #0067ab;
    bottom: 0;
    content: "";
    height: 8px;
    position: absolute;
    right: 0;
    width: 100%;
}

.leftContent p {
	margin-top: 18px;
	font-size: 13px;
	font-family: "Source Sans Pro", sans-serif;
	color: #000;
	line-height: 18px;
}

.contentFormatted {
	font-family: "Source Sans Pro", sans-serif;
	margin-top: 13px;
}

.contentFormatted h3 {
	font-size: 14px;
	color: #0067ab;
	font-weight: 400;
	line-height: 18px;
	padding: 0;
	margin: 2px 0;
	text-transform: uppercase;
}
.contentFormatted p {
	font-size: 14px;
	line-height: 18px;
	color: #000;
	margin: 0 0 18px;
}

div.maintainRatioBrands {
	width: 100%;
	background: #FFF2;
	position: relative;
	margin: 25px 0 30px;
	padding-bottom: 52.63%;
}

div.maintainRatio {
    width: 100%;
    padding-bottom: 63%;
    position: relative;
    margin-bottom: 10px;
}

div.maintainRatioTop {
	padding-bottom: 26.84%;
	margin: 0;
	position: relative;
	width: 100%;
}

a:hover .mosaicTile {
	opacity: .8;
}

.smallBlocks a:hover img {
	opacity: .8;
}

div.maintainRatio > div, div.maintainRatioBrands > div, div.maintainRatioTop > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.terNavHolder {
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
	background: url(../img/terNavBack.png) repeat-x 0 0 transparent;
	height: 30px;
	margin: 15px 0 0;
}

ul.terNav {
	clear: left;
	float: left;
	position: relative;
	left: 50%;
	list-style: none;
}

.terNav li {
	display: block;
	position: relative;
	right: 50%;
	float: left;
	padding: 0 22px;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #ccc;
}

.terNav li:first-child {
	border-left: 1px solid #ccc;
}

table .imgFill {
	height: 100%;
}

.imgFill {
	overflow:hidden;
	width:100%;
	height: auto;
}

table td {
	padding: 0;
}

.innorow img{
	padding: 6px;
}
.innorow p{
	padding: 6px;
}
.innovation h3 {
	color: #0066cc;
	font-weight: 400;
	font-size: 25px;
}

.innovation hr {
	background: #000;
	border: none;
	height: 1px;
	width: 100%;
}


.imgFill img{
	display:block;
	float:left;
	border: 0 none;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.boxItRight, .rightBlocks {
	font-family: "Source Sans Pro", sans-serif;
	text-transform: uppercase;
	height: 100%;
	width: 100%;
}

.terNav li a {
	color: #000;
	font-size: 13px;
	text-decoration: none;
	font-family: 'Maven Pro', sans-serif;
}

.terNav li a:hover, .secNav li a:hover {
	text-decoration: underline;
}
.terNav li.active a:hover, .secNav li.active a:hover {
	text-decoration: none;
}

.secNavHolder {
	float:left;
   	width:100%;
   	overflow:hidden;
   	position:relative;
}

ul.secNav {
	clear: left;
	float: left;
	position: relative;
	left: 50%;
	margin: 10px 0;
	list-style: none;
}

.secNav li.active a{
	color: #cc0000;
}

.secNav li {
	display: block;
	position: relative;
	right: 50%;
	float: left;
	margin-right: 48px;
}

.bigBlueHeader {
	font-size: 60px;
	color: #069;
	line-height:60px;
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom: 20px;
}

.terNav li.active {
	background: #069;
}

.terNav li.active a {
	color: #fff;
}

.secNav li a {
	font-weight: bold;
	text-decoration: none;
	color: #666;
	font-family: 'Maven Pro', sans-serif;
}

.secNav li:last-child {
	margin-right: 0;
}

hr.shadowDivDown {
	height: 16px;
	width: 100%;
	background: url(../img/shadowDiv.png) repeat-x 0 0 transparent;
	border: none;
	margin: 7px 0;
}
hr.shadowDivUp {
	height: 16px;
	width: 100%;
	background: url(../img/shadowDivUp.png) repeat-x 0 0 transparent;
	border: none;
	margin: 7px 0;
}

.navbar .dropdown-menu {
 margin-top: 0px;
}

.navbar .nav > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu:before {
	border: none;
}
.dropdown {

}

.dropdown-menu {
	border-radius: 0;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: none;
	padding: 0;
	min-width: 250px;
}

.navbar {
	background: none;
	height: 110px;
}

body {
}

.paragraph {
	font-size: 15px;
	color: #333;
	line-height: 18px;
	margin: 13px 0;
	text-align: center;
}

.headerDiv {
	background: url(../img/header_back.png) repeat-x center center #fcfcfc;
	width: 100%;
	padding: 0 20px;
	margin: 0 -20px;
	height: 110px;
}

.smallBlocks .span4{
	margin-top: 13px;
	margin-bottom: 13px;
	background: #f0f0f0;
	position: relative;
	font-family: "Maven Pro", sans-serif;
}

.smallBlocks .span4 .bottomGrad {
	background: rgba(0,0,0,.4);
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	color: #fff;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	letter-spacing: 1.4px;
}

.smallBlocks .span4 img {
	width: 100%;
	height: auto;
}

.bigBlocks .span4{
	font-family: 'Source Sans Pro', sans-serif;
	border:1px solid #0067ab;
	margin-top: 13px;
	margin-bottom: 13px;
	overflow: hidden;
	text-align: center;
	height: 125px;
}

.bigBlocks .span4 .tt, .rightBlocks .tt, .boxItRight .tt {
	display: table;
	height: 100%;
	width: 100%;
}

.bigBlocks .span4 .tr, .rightBlocks .tr, .boxItRight .tr {
	display: table-row;
}

.bigBlocks .span4 .tc, .rightBlocks .tc , .boxItRight .tc {
	display: table-cell;
	vertical-align: middle;
}


.navbar-inverse  .navbar-inner {
	background: none;
	box-shadow: none;
	background-gradient: none;
	border:none;
}

.uppercase {
	text-transform: uppercase;
}

.light-blue {
	color: #09F;
}

.dark-blue {
	color: #036;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	box-shadow: none;
}

.navbar-inverse .brand {
	text-indent: -9999em;
	font-size: 0;
	overflow: hidden;
	width: 275px;
	height: 100px;
	padding: 0;
	margin-top: 5px;
}

.navbar-inverse .brand img {
	width: 100%;
	height: 100%;
	float: left;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: #000;
	font-family: "Maven Pro", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.navbar-inverse .nav > li {
	padding: 0 10px;
	margin-right: 45px;
}

.navbar-inverse .nav > li {
	height: 30px;
}

.dropdown-menu > li a{
	padding: 6px 40px 6px 10px;
}

.dropdown-menu > li.dropdown{
	background: url(../img/disc.png) no-repeat center right transparent;
	background-size: 15px 11px;
}

.dropdown-menu > li {
	border-bottom: 1px solid #eee;
}

.dropdown-menu > li:last-child {
	border-bottom:none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	background: -moz-linear-gradient(top, #a7c7dc 0%, #85b2d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c7dc), color-stop(100%,#85b2d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a7c7dc 0%,#85b2d3 100%); /* W3C */
}

.dropdown-menu > li.dropdown > a:hover, .dropdown-menu > li.dropdown > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	background: url(../img/disc.png) no-repeat center right, -moz-linear-gradient(top, #a7c7dc 0%, #85b2d3 100%); /* FF3.6+ */
	background: url(../img/disc.png) no-repeat center right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c7dc), color-stop(100%,#85b2d3)); /* Chrome,Safari4+ */
	background: url(../img/disc.png) no-repeat center right, -webkit-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* Chrome10+,Safari5.1+ */
	background: url(../img/disc.png) no-repeat center right, -o-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* Opera 11.10+ */
	background: url(../img/disc.png) no-repeat center right, -ms-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* IE10+ */
	background: url(../img/disc.png) no-repeat center right, linear-gradient(to bottom, #a7c7dc 0%,#85b2d3 100%); /* W3C */
	background-size: 17px 13px, auto auto;
}

.navbar-inverse .nav li > a:focus, .navbar-inverse .nav li > a:hover {
	color: #444;
}

.navbar .nav > li > a {
	padding: 0;
}

.navbar-inverse .brand, .navbar-inverse .nav > li:last-child {
	margin-right: 0;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: transparent;
	color: #069;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	box-shadow: none;
}

.tempSpacer {
	min-height: 500px;
}

footer {
	background: #333;
	width: 100%;
	margin: 0 -20px 0;
	padding: 0 20px;
}

.nav-collapse {
	z-index: 300;
}

#banner {
	width: 100%;
	padding: 0 20px;
	margin: 45px -20px 0;
	display: block;
	text-align: center;
	background: url(../img/banner.jpg) no-repeat center center #f0f0f0;
	background-size: auto 100%;
}

.footerCopy {
	color: #ccc;
	font-size: 11px;
	line-height: 17px;
}

footer hr {
	margin: 45px 0 8px;
	background: #6a6a6a;
	height: 1px;
	border: none;
}

.footerCopy a {
	color: #ccc;
}

@media (max-width: 320px) {
	#banner {
		height: 80px;
	}
} 

@media (min-width: 321px) and (max-width: 400px) {
	#banner {
		height: 100px;
	}
} 

@media (min-width: 401px) and (max-width: 480px) {
	#banner {
		height: 120px;
	}
} 

@media (min-width: 481px) and (max-width: 590px) {
	#banner {
		height: 140px;
	}
}

@media (min-width: 591px) and (max-width: 700px) {
	#banner {
		height: 180px;
	}
}

@media (min-width: 701px) and (max-width: 939px) {
	#banner {
		height: 220px;
	}
}

@media (min-width: 940px) and (max-width: 1199px) {
	#banner {
		height: 270px;
	}
}

@media (min-width: 1200px) and (max-width: 1399px) {
	#banner {
		height: 320px;
	}
}

@media (min-width: 1400px) {
	#banner {
		height: 360px;
	}
}


.emailDiv {
	background: #069;
	height: 35px;
	width: 100%;
	margin: 26px -20px 0;
	padding: 0 20px;
}

.rightBlocks .middleSlider {
	text-align:center;
	background:#7fccff;
	color:#fff;
	height:165px;
	position: absolute;
	width: 100%;
    overflow:hidden;
}


.middleSliderHolder {
	position:relative;
	margin-bottom: 9px;
	height: 165px;
}


footer .equal .span2 {
    width: 15%;
    margin: 0;
    padding-top: 35px;
}

footer .equal .span2 h4{
	font-size: 15px;
	font-weight: bold;
	color: #ccc;
	line-height: 20px;
	margin: 0;
}

footer .equal .span2 a {
	color: #ccc;
}

footer .equal .span2 ul {
	margin: 0;
	list-style: none;
}

footer .equal .span2 li a{
	font-size: 12px;
	line-height: 17px;
	color: #ccc;
}

.emailDiv input {
	width: 105px;
	height: 31px;
	border: none;
	color: #000;
	margin: 2px 12px 0 0;
	padding: 0 10px;
	font-size: 10px;
	line-height: 31px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: url(../img/emailDiv.png) no-repeat 0 0 transparent;
}


.emailDiv .registerButton {
	width: 28px;
	height: 31px;
	border: none;
	margin: 2px 0 0;
	padding: 0;
	font-size: 0;
	text-indent: -9999em;
	overflow: hidden;
	background: url(../img/emailDiv.png) no-repeat -135px 0 transparent;
}

@media (max-width: 767px) {
	footer .equal .span2 {
	    width: 100%;
	    margin: 0;
	    padding-top: 15px;
	}
	
	footer .equal .span2 ul {
		display: block;
		margin: 0;
		list-style: none;
	}
	
	
	footer hr {
		margin: -8px 0 8px;
	}

}

#letterArea {
	height: 140px;
}

#boxItLeftArea {
	width: 82%;
}

#boxItRightArea {
	width: 18%;
}

@media (min-width: 980px) {
	
	.navbar .nav.pull-right {
		margin-top: 80px;
		height:30px;
	}
	
	ul.nav li.dropdown:hover > ul.dropdown-menu{
	    display: block;    
	}

	.navbar .pull-right > li > .dropdown-menu .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
	    border-radius: 0 0 0 0;
	    left: 100%;
	    margin-left: 0;
	    margin-right: -1px;
	    right: auto;
	    top: -1px;
	    width: 100%;
	}
}

@media (max-width: 979px) {
	.navbar-inverse .brand {
		background-size: 165px 60px;
		width: 165px;
		height: 60px;
	}
	
	#boxItLeftArea {
		width: 100%;
	}
	
	#boxItRightArea {
		width: 0px;
		display:none;
	}
	
	.bigBlueHeader {
		font-size: 40px;
	}
	.headerDiv, .navbar {
		height: 70px;
		margin-bottom: 0;
		width: 100%;
	}
	.navbar-inverse .btn-navbar {
		margin-top: 18px;
		background-gradient: none;
		background-color: #ccc;
		background-image: none;
	}
	
	.navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus, .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active, .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
		background: #aaa;
	}
	
	.leftContent .brandsBox .slider {
		width: 100%;	
	}
	
	.navbar .nav.pull-right {
		margin-top: 0px;
		border: 1px solid #999;
		z-index: 1000;
		box-shadow: 2px 2px 2px rgba(0,0,0,.3);
		border-radius: 5px;
		background: #fff;
	}
	
	.container {
		position: relative;
	}
	
	
	.navbar-inverse .nav > li {
		padding: 5px;
		margin: 0;
	}

	.navbar-inverse .nav > li a {
		padding: 5px;
	}
	
	.navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
		background: #ddd;
	}
}