.ui-helper-hidden{display:none;}
.ui-helper-hidden-accessible{clip:rect(1px,1px,1px,1px);position:absolute!important;}
.ui-helper-reset{border:0;font-size:100%;line-height:1.3;list-style:none;margin:0;outline:0;padding:0;text-decoration:none;}
.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;}
.ui-helper-clearfix:after{clear:both;}
.ui-helper-clearfix{zoom:1;}
.ui-helper-zfix{filter:Alpha(Opacity=0);height:100%;left:0;opacity:0;position:absolute;top:0;width:100%;}
.ui-state-disabled{cursor:default!important;}
.ui-icon{background-repeat:no-repeat;display:block;overflow:hidden;text-indent:-99999px;}
.ui-widget-overlay{background:#fff;filter:Alpha(Opacity=30);height:100%;left:0;opacity:.30;position:absolute;top:0;width:100%;}
.ui-widget-content{background:#fff;border:1px solid #aaa;color:#222;}
.ui-widget{font-family:Verdana,Arial,sans-serif;font-size:1.56em;font-weight:400;}
.ui-widget .ui-widget{font-size:1em;}
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Verdana,Arial,sans-serif;font-size:1em;}
.ui-widget-header{color:#222;font-weight:bold;margin:0;padding:0;}
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{-khtml-border-top-left-radius:4px;-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;}
.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{-khtml-border-top-right-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px;}
.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{-khtml-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;}
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{-khtml-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;}
.ui-widget-shadow{-khtml-border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;background:#fff;border-radius:8px;filter:Alpha(Opacity=30);margin:-8px 0 0 -8px;opacity:.30;padding:8px;}
.ui-dialog{overflow:hidden;padding:6px 40px 30px 20px;position:absolute;width:300px; box-shadow:2px 2px 8px #53555c;}
.ui-dialog .ui-dialog-titlebar{padding:0;position:static;}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .1em 0;}
.ui-dialog .ui-dialog-titlebar-close{background:url(../img/nyl-sprite.png)/*tpa=http://www.newyorklife.com/nyl-internet/img/nyl-sprite.png*/ no-repeat scroll 0 -394px transparent;height:18px;margin:0;overflow:hidden;padding:1px;position:absolute;right:8px;top:8px;width:16px;}
.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px;}
.ui-dialog .ui-dialog-content{background:none;border:0;overflow:hidden;padding:.5em 1em;position:relative;zoom:1;}
.ui-dialog .ui-dialog-buttonpane{background-image:none;border-width:1px 0 0;margin:.5em 0 0;padding:.3em 1em .5em .4em;text-align:left;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right;}
.ui-dialog .ui-dialog-buttonpane button{cursor:pointer;margin:.5em .4em .5em 0;}
.ui-dialog .ui-resizable-se{bottom:3px;height:14px;right:3px;width:14px;}
.ui-draggable .ui-dialog-titlebar{cursor:move;}

.selectBox-dropdown	{cursor:pointer; display:block; outline:none; position:relative; text-align:left; text-decoration:none; vertical-align:middle; left:-1px; color:#53555c; font-size:17px;}
.selectBox-dropdown.selectBox-menuShowing{}
.selectBox-dropdown .selectBox-arrow{}

.selectBox-dropdown .selectBox-label	{display:block; padding:2px 8px 4px; white-space:nowrap;}
.selectBox-dropdown-menu{max-height:238px;min-height: 1em;overflow: auto;padding: 0 0 10px;position: absolute;z-index: 10;border: 1px solid #E5E4E4;
  -webkit-border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  border-radius: 0 4px 4px 4px;
  behavior:url(../js/libs/PIE.htc)/*tpa=http://www.newyorklife.com/nyl-internet/js/libs/PIE.htc*/;
  }
.selectBox-inline{display:inline-block;min-width:150px;outline:none;overflow:auto;}
.selectBox-options li{cursor:pointer;display:block;list-style:none;font-size: 1.3em;text-align: left;text-decoration: none; vertical-align: middle;border-bottom:1px dashed #e5e4e4;margin:6px 0;padding:0 6px 6px 6px;}
.selectBox-options > li:last-of-type{border:0;}
.selectBox-options li a{color: #676767;}
.selectBox-options li a:hover{color:#0079C2;}
.selectBox-options .selectBox-optgroup{white-space:nowrap;height: 20px;padding:0;margin:0;}
.selectBox-options .selectBox-optgroup:nth-of-type(1){height:0;}
.selectBox-dropdown.selectBox-disabled .selectBox-arrow{}
.selectBox-inline.selectBox-disabled .selectBox-options a{}
.ui-widget-content a,.ui-widget-header a{color:#676767;}
.selectBox-dropdown:focus,.selectBox-dropdown:focus .selectBox-arrow,.selectBox-inline:focus{}
.selectBox.selectBox-disabled,.selectBox-inline.selectBox-disabled{}



