/*----------------------------------+
 | Site: Kindred Healthcare         |
 | Part: Internet Explorer 7 styles |
 +----------------------------------+


/* Core layout
======================================================================*/
.hide-ie7 { display: none; }
ol, ol li { list-style-position: outside; }
ol { padding-left: 1em; }
#menu { overflow: hidden; }
li.PBItem { min-height: 0; }

/*--- Admin ---*/
.cms-login #page { padding-top: 63px; }

/* Facility Locator */
	/* Map */
	#googlemap { margin: 0; width: 500px; }
	.map-area { width: 500px; }
	
	/* Autocomplete */
	.autocomplete { overflow: hidden; }
	
	/* Overlay Styles (Map Popups) */
	#gmap #mapoverlay #overlay-content div.facility-image { top: 10px; }
		
	/* Results */
	#results-list { position: relative; }
	
/* Footer */
#footer .col { height: 160px; }

/* Header */
#header { position: relative; z-index: 5000; }

/* Sub Header */
#sub-header .dropzone .columnwidgetlist .widget { width: 100%; }

/* Navigation */
#nav ul { width: auto; top: 70px;  }
#nav li { padding-top: 26px; padding-bottom: 26px; }
#nav li li { padding-top: 0; padding-bottom: 0; }
#nav li li a { height: 1%; min-width: 1%; }

/*--- Video Library ---*/
	/*-- Horizontal Slider --*/
	#video-library .horizontal-slider .slide-wrapper { position: relative; }

/*Remote Blog Pager*/
.blog-pager li { display: inline; zoom: 1; }