/*------------------------------------+
 | Part: Reset browser default styles |
 +------------------------------------*/

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, 
dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, 
html, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, 
small, span, strike, strong, sub, sup, table, tbody, td tfoot, th, thead, tr, 
tt, ul, var {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

img {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

:focus { outline: 0; }
blockquote, q { quotes: "" ""; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
body { background: #fff; line-height: 1; color: #000; }
caption, th, td { text-align: left; font-weight: normal; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }