div.pp_pic_holder .pp_top .pp_left { background: url(sprite.png)/*tpa=http://www.domtar.com/CSS/sprite.png*/ -88px -53px no-repeat; } /* Top left corner */
    div.pp_pic_holder .pp_top .pp_middle { background: url(contentPatternTop.png)/*tpa=http://www.domtar.com/CSS/contentPatternTop.png*/ top left repeat-x; } /* Top pattern/color */
    div.pp_pic_holder .pp_top .pp_right { background: url(sprite.png)/*tpa=http://www.domtar.com/CSS/sprite.png*/ -110px -53px no-repeat; } /* Top right corner */
        
    div.pp_pic_holder .pp_content .ppt { color: #000; }
    div.pp_pic_holder .pp_content_container .pp_left { background: url(contentPatternLeft.png)/*tpa=http://www.domtar.com/CSS/contentPatternLeft.png*/ top left repeat-y; } /* Content background */
    div.pp_pic_holder .pp_content_container .pp_right { background: url(contentPatternRight.png)/*tpa=http://www.domtar.com/CSS/contentPatternRight.png*/ top right repeat-y; } /* Content background */
    div.pp_pic_holder .pp_content { background: #fff; } /* Content background */
    div.pp_pic_holder .pp_expand { background: url(sprite.png)/*tpa=http://www.domtar.com/CSS/sprite.png*/ -31px -26px no-repeat; cursor: pointer; } /* Expand button */
    div.pp_pic_holder .pp_expand:hover { background: url(sprite.png)/*tpa=http://www.domtar.com/CSS/sprite.png*/ -31px -47px no-repeat; cursor: pointer; } /* Expand button hover */
    div.pp_pic_holder .pp_contract { background: url(sprite.png)/*tpa=http://www.domtar.com/CSS/sprite.png*/ 0 -26px no-repeat; cursor: pointer; } /* Contract button */
    div.pp_pic_holder .pp_contract:hover { background: url(sprite.png)/*tpa=http://www.domtar.com/CSS/sprite.png*/ 0 -47px no-repeat; cursor: pointer; } /* Contract button hover */
    div.facebook .pp_close { position:absolute; right:18px; top:-10px; width: 38px; height: 35px; background: url(popup_close.png)/*tpa=http://www.domtar.com/CSS/popup_close.png*/ top left no-repeat; cursor: pointer; } /* Close button */
    div.pp_pic_holder #pp_full_res .pp_inline .header{ position:absolute; left:9px; top:-11px; background-image:url(popup_header.jpg)/*tpa=http://www.domtar.com/CSS/popup_header.jpg*/; background-repeat:repeat-x; width:502px; height:35px; display:block; color:#fff; font-size:16px; font-weight:bold; padding-top:10px; padding-left:20px; }
        
    div.pp_pic_holder #pp_full_res .pp_inline .popUpContent { padding-left:20px; padding-right:20px; position:relative; top:35px; font-size:13px; color:#707070; display:block; float:left; }
    div.pp_pic_holder #pp_full_res .pp_inline h2 { font-size:16px; color:#4d6f8f; padding-bottom:10px; padding-top:0; font-weight:bold; padding-left:0; }
    div.pp_pic_holder #pp_full_res .pp_inline a { color:#FFF; text-decoration:none; }
    div.pp_pic_holder #pp_full_res .pp_inline .popUpContent p{ padding:10px 0; }
    div.pp_pic_holder .pp_loaderIcon { background: url(loader.gif)/*tpa=http://www.domtar.com/CSS/loader.gif*/ center center no-repeat; } /* Loader icon */
        
    div.pp_pic_holder .pp_bottom .pp_left { background: url(sprite.png)/*tpa=http://www.domtar.com/CSS/sprite.png*/ -88px -80px no-repeat; } /* Bottom left corner */
    div.pp_pic_holder .pp_bottom .pp_middle { background: url(contentPatternBottom.png)/*tpa=http://www.domtar.com/CSS/contentPatternBottom.png*/ top left repeat-x; } /* Bottom pattern/color */
    div.pp_pic_holder .pp_bottom .pp_right { background: url(sprite.png)/*tpa=http://www.domtar.com/CSS/sprite.png*/ -110px -80px no-repeat; } /* Bottom right corner */
    .btn{ background-repeat:repeat-x; color:#fff; font-weight:bold; margin-top:10px; height:25px; font-size:12px; text-align:center; padding-top:7px; display:block; float:left; cursor:pointer; }
    .btnGo{ background-image:url(popup_btnBig.jpg)/*tpa=http://www.domtar.com/CSS/popup_btnBig.jpg*/; padding:7px 12px 0; }
    .btnCancel{ background-image:url(popup_btnSmall.jpg)/*tpa=http://www.domtar.com/CSS/popup_btnSmall.jpg*/; padding:7px 12px 0; min-width:109px; margin-left:10px; }

/* ------------------------------------------------------------------------
    DO NOT CHANGE
------------------------------------------------------------------------- */
    div.pp_pic_holder a:focus { outline:none; }
    div.pp_overlay {
        background: #fff;
        display: none;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 9500;
    }
    
    div.pp_pic_holder {
        display: none;
        position: absolute;
        width: 100px;
        z-index: 10000;
    }
        
        .pp_top {
            height: 20px;
            position: relative;
        }
            * html .pp_top { padding: 0 20px; }
        
            .pp_top .pp_left {
                height: 20px;
                left: 0;
                position: absolute;
                width: 20px;
            }
            .pp_top .pp_middle {
                height: 20px;
                left: 20px;
                position: absolute;
                right: 20px;
            }
                * html .pp_top .pp_middle {
                    left: 0;
                    position: static;
                }
            
            .pp_top .pp_right {
                height: 20px;
                left: auto;
                position: absolute;
                right: 0;
                top: 0;
                width: 20px;
            }
        
        .pp_content { height: 40px; }
        
        .pp_fade { display: none; }
        
        .pp_content_container {
            position: relative;
            text-align: left;
            width: 100%;
        }
        
            .pp_content_container .pp_left { padding-left: 10px; }
            .pp_content_container .pp_right { padding-right: 10px; }
        
            .pp_content_container .pp_details {
                margin: 10px 0 2px 0;
            }
        
        .pp_hoverContainer {
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 2000;
        }
        
        .pp_gallery {
            left: 50%;
            position: absolute;
            z-index: 10000;
        }
            
            .pp_gallery ul {
                float: left;
                height: 35px;
                margin: 0 0 0 5px;
                overflow: hidden;
                position: relative;
            }
            
            .pp_gallery ul a {
                border: 1px #000 solid;
                border: 1px rgba(0,0,0,0.5) solid;
                display: block;
                float: left;
                height: 33px;
                overflow: hidden;
            }
            
            .pp_gallery ul a:hover { border-color: #fff; }
            
            .pp_gallery ul a img { border: 0; }
            
            .pp_gallery li {
                display: block;
                float: left;
                margin: 0 5px 0 0;
            }
            
            .pp_gallery li.default a {
                display: block;
                height: 33px;
                width: 50px;
            }
            
            .pp_gallery li.default a img { display: none; }
            
            .pp_gallery .pp_arrow_previous,
            .pp_gallery .pp_arrow_next {
                margin-top: 7px !important;
            }
                
        a.pp_expand,
        a.pp_contract {
            cursor: pointer;
            display: none;
            height: 20px;    
            position: absolute;
            right: 30px;
            text-indent: -10000px;
            top: 10px;
            width: 20px;
            z-index: 20000;
        }
            
        a.pp_close {
            display: block;
            float: right;
            text-indent: -10000px;
        }
        
        .pp_bottom {
            height: 20px;
            position: relative;
        }
            * html .pp_bottom { padding: 0 20px; }
            
            .pp_bottom .pp_left {
                height: 20px;
                left: 0;
                position: absolute;
                width: 20px;
            }
            .pp_bottom .pp_middle {
                height: 20px;
                left: 20px;
                position: absolute;
                right: 20px;
            }
                * html .pp_bottom .pp_middle {
                    left: 0;
                    position: static;
                }
                
            .pp_bottom .pp_right {
                height: 20px;
                left: auto;
                position: absolute;
                right: 0;
                top: 0;
                width: 20px;
            }
        
        .pp_loaderIcon {
            display: block;
            height: 24px;
            left: 50%;
            margin: -12px 0 0 -12px;
            position: absolute;
            top: 50%;
            width: 24px;
        }
        
        #pp_full_res {
            line-height: 1 !important;
        }
        
            #pp_full_res .pp_inline {
                text-align: left;
            }
            
                #pp_full_res .pp_inline p { padding:10px 0; }
    
        div.ppt {
            color: #fff;
            display: none;
            font-size: 17px;
            margin: 0 0 5px 15px;
            z-index: 9999;
        }
/* ------------------------------------------------------------------------
    Miscellaneous
------------------------------------------------------------------------- */
    .clearfix:after {
        content: "."; 
        display: block; 
        height: 0; 
        clear: both; 
        visibility: hidden;
    }
    .clearfix {display: inline-block;}
    /* Hides from IE-mac \*/
    * html .clearfix {height: 1%;}
    .clearfix {display: block;}
    /* End hide from IE-mac */