.mapImage .toolTipInfo {background:url(../img/bg_white_transparent.png)/*tpa=http://www.nii.com/img/bg_white_transparent.png*/ repeat;}
#mapHeader {margin-bottom:0;}
#rotator .slideDescription {top:290px;}
#rotator .slideDescription{border-radius:4px; behavior:url(Unknown_83_filename)/*tpa=http://www.nii.com/css/PIE.htc*/;}
#rotator .slideDescription h2 sup {position:absolute; margin-top:-8px;}