
/*! base.css */
*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
ol,ul,li{margin:0;padding:0;}
.sw2 .swa-g-border-radius-container{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;overflow:hidden;}
.sw2 .swa-g-selected{background-color:#1F3173;}
.sw2 .swa-g-disabled{cursor:default;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";opacity:.5;}
.sw2 .swa-g-error{color:#D5152E!important;}
.sw2 .swa-g-screen-reader-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
/*! layout.css */
.page-background{background-color:#E6E7E8;height:900px;left:50%;margin-left:-800px;position:fixed;top:0;width:1600px;z-index:-1;}
.page-background .full-screen-image{filter:alpha(opacity=100);height:900px;left:-999em;margin:0 auto;position:fixed;right:-999em;width:1600px;z-index:-1;zoom:1;-ms-interpolation-mode:bicubic;}
.main-page{margin:0 auto;width:988px;padding-left:25px;min-height:1000px;}
@media(min-width:1600px){.page-background .full-screen-image{height:auto;width:100%;}
}
@media(min-height:900px) and(max-aspect-ratio:16 / 9){.page-background .full-screen-image{height:100%;width:auto;}
.touch .page-background .full-screen-image{height:1350px;width:auto;}
}
@media(max-aspect-ratio:3 / 4) and(min-height:1350px){.page-background .full-screen-image{height:1600px;width:auto;}
}
/*! swa-global-header.css */
.global-header{background-color:transparent;height:100px;margin-bottom:0;margin-top:10px;}
.global-header--logo{height:100px;}
.global-header--options{background-color:#ddd;height:50px;}
.global-header--menu{background-color:#ccc;height:50px;}
.account-greeting{height:160px;}
.primary-nav{height:48px;}
.utility-nav{height:30px;}
.southwest-business-logo div{color:#3961a9;font-size:32px;font-weight:bold;}
.southwest-business-logo span{color:#e93824;font-size:18px;font-weight:bold;}
.southwest-cargo-logo div{color:#777;font-size:32px;font-weight:bold;}
.southwest-cargo-logo span{color:#e93824;font-size:18px;font-weight:bold;}
/*! swa-global-footer.css */
.global-footer{background-color:#FFF;margin:10px auto;}
.global-footer--content{background:#fff url(Unknown_83_filename)/*tpa=https://www.southwest.com/assets/images/my-account/placeholder-footer.jpg*/ no-repeat;height:600px;}
.global-footer--message{color:#666;font-size:18px;}
.global-footer--contact{height:230px;}
.global-footer--contact-call{margin-top:36px;padding-left:18px;}
.global-footer--contact-call-options{font-size:12px;font-weight:bold;margin-top:10px;}
.global-footer--contact-chat{margin-top:36px;}
.global-footer--contact-chat .tierary{font-size:16px;font-weight:bold;margin-top:12px;width:132px;}
.global-footer--contact-connect{margin-top:36px;}
.global-footer--contact-connect-options{margin-top:12px;overflow:auto;}
.global-footer--contact-connect-options>span{float:left;margin-left:5px;}
.global-footer--twitter{color:#009fda;font-size:40px;}
.global-footer--facebook{color:#4a6fb3;font-size:40px;}
.global-footer--google{color:#db1a2a;font-size:40px;}
.global-footer--contact-connect-option{font-size:13px;font-weight:bold;margin:18px 0 0 6px;}
.global-footer--subscribe{background-color:#f4f4f4;height:120px;}
.global-footer--subscribe-labels{float:left;margin-top:26px;padding-left:18px;}
.global-footer--subscribe-form{margin-top:38px;}
.global-footer--subscribe-form button{border:1px solid #aaa;border-left:0;color:#3961a9;font-size:16px;width:60px;}
.global-footer--subscribe-apps{margin-top:40px;}
.global-footer--subscribe-apps-labels h2{float:left;}
.global-footer--apple{color:#304CB2;font-size:40px;}
.global-footer--android{color:#304CB2;font-size:40px;}
.global-footer--subscribe-apps-options{float:left;margin-left:25px;width:100px;}
.global-footer--subscribe-apps-options>span{margin-left:5px;}
.global-footer--options{margin-top:20px;}
.global-footer--options-options{float:left;}
.global-footer--options-options:first-child{padding-left:18px;}
.global-footer--options-options a{color:#333;line-height:18px;}
.global-footer--options-logos{float:left;}
.global-footer--options-logos .southwest-business-logo,.global-footer--options-logos .southwest-cargo-logo{margin-top:16px;}
.global-footer--legal{color:#999;font-size:11px;padding:20px 0 20px 18px;}
.footer-wrapper{background-color:#FFF;height:600px;}
/*! menu.css */
.sw2 .menu{background-color:#FFF;display:block;font-size:16px;line-height:30px;list-style-type:none;margin:12px;min-width:400px;outline:0;overflow:hidden;padding:0;z-index:100;}
.menu--container{max-height:325px;overflow:hidden;}
.sw2 .menu--item{clear:both;color:#304CB2;float:left;margin:0;padding-left:8px;white-space:nowrap;width:100%;}
.menu--item.selectable:hover{cursor:pointer;}
.sw2 .menu--top-separator{border-top:1px solid #E6E7E8;color:#8F8F8F;height:15px;margin-left:8px;margin-top:15px;padding-left:0;}
.menu--top-separator-hover{margin-top:-16px;float:left;margin-left:-8px;width:100%;}
.not-selectable{color:#636363;font-size:14px;font-style:italic;}
.menu--top-separator.selectable.highlight,.menu--top-separator.selectable.highlight .menu--top-separator-hover,.menu--top-separator.selectable.highlight .menu--top-separator-text{background-color:#E6E7E8;}
.menu--top-separator-text{background-color:#FFF;float:left;padding-left:8px;padding-right:8px;}
.sw2 .menu--bottom-separator{border-bottom:1px solid #E6E7E8;margin-bottom:3px;padding-bottom:2px;}
.menu--arrow{color:#304CB2;cursor:pointer;font-size:6px;padding:8px;text-align:center;}
.menu--arrow:hover{background-color:#E6E7E8;}
.menu--arrow.swa-g-disabled{background-color:#FFF;}
.highlight{background-color:#E6E7E8;}
.subitem{padding-left:20px;}
/*! overlay.css */
.overlay{float:left;outline:0;position:absolute;top:0;-webkit-user-select:none;-moz-user-select:-moz-none;-ms-user-select:none;user-select:none;visibility:hidden;z-index:1001;}
.overlay--info{padding:20px;}
.overlay--container{background-color:#FFF;border:1px solid #CCC;border-radius:2px;box-shadow:0 0 5px #8F8F8F;position:absolute;}
.overlay--container .overlay--title{color:#111B40;}
.overlay--content{width:418px;}
.overlay--modal-container{background-color:#FFF;border:1px solid #CCC;border-radius:2px;position:absolute;}
.overlay--close{color:#636363;cursor:pointer;font-size:12px;position:absolute;right:15px;text-align:center;top:15px;z-index:2;}
.ie8 .overlay--close{-ms-filter:inherit;}
.overlay .overlay--close:hover{border-color:#111B40;color:#111B40;text-decoration:none;}
.overlay--close-link{background:#FFF url(Unknown_83_filename)/*tpa=https://www.southwest.com/assets/v15040118/images/close-icon.png*/ no-repeat;height:24px;position:absolute;right:3px;top:3px;width:24px;}
.overlay--pointer{position:absolute;z-index:102;}
.overlay--pointer-above{border-left:16px solid transparent;border-right:16px solid transparent;border-top:16px solid #CCC;bottom:0;}
.overlay--pointer-below{border-bottom:16px solid #CCC;border-left:16px solid transparent;border-right:16px solid transparent;top:0;}
.overlay--pointer-left{border-bottom:16px solid transparent;border-left:16px solid #CCC;border-top:16px solid transparent;right:0;}
.overlay--pointer-right{border-bottom:16px solid transparent;border-right:16px solid #CCC;border-top:16px solid transparent;left:0;}
.overlay--pointer-inner-above{border-left:16px solid transparent;border-right:16px solid transparent;border-top:16px solid #FFF;bottom:1px;left:-16px;position:absolute;}
.overlay--pointer-inner-below{border-bottom:16px solid #FFF;border-left:16px solid transparent;border-right:16px solid transparent;left:-16px;position:absolute;top:1px;}
.overlay--pointer-inner-left{border-bottom:16px solid transparent;border-left:16px solid #FFF;border-top:16px solid transparent;position:absolute;right:1px;top:-16px;}
.overlay--pointer-inner-right{border-bottom:16px solid transparent;border-right:16px solid #FFF;border-top:16px solid transparent;left:1px;position:absolute;top:-16px;}
.overlay--modal-background{background-color:#000;height:100%;left:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity:.8;position:fixed;top:0;width:100%;z-index:1000;}