#vi {
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    font-size: small;
    margin: auto;
    width: 990px;
}

#vi td, #vi div, #vi ul {
    font-size: small;
    margin: 0;
    padding: 0;
    vertical-align: top;
    word-wrap: break-word;
}

#vi table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

#vi a:active, #vi a:link, #vi .g-novisited #vi a:visited {
    color: #0654BA;
    text-decoration: none;
}

#vi a:visited {
    color: #6A29B9;
    text-decoration: none;
}

#vi .clr {
    clear: both;
}

#vi .header div {
    float: left;
    font-size: 1.1em;
    margin-top: 10px;
}

#vi .header h2 {
    padding-right: 40px;
    float: left;
    font-size: 3em;
    color: #4e6ca3;
    margin: 0;
}

#vi .header h2 a {
    color: #4e6ca3 !important;
}

#vicontainer {
    padding: 40px 0 20px 0;
}

#vicontainer ul.toc {
    color: #4E6CA3;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 10px;
}

#vicontainer ul.toc li {
    list-style-type: square;
}

#vicontainer h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 30px 0 10px 0;
}

#vicontainer table {
    width: 100%;
}

#vicontainer table.section tr.even {
    background-color: #F3F3F3;
}

#vicontainer table.section td, #vicontainer table.section th {
    padding: 10px;
    border: 1px solid #ccc;
}

#vicontainer table.section th {
    font-weight: bold;
    background-color: #E6E6E6;
}

#vicontainer table.inner {
    border-collapse: separate;
}

#vicontainer table.inner td {
    padding: 5px 5px 5px 0;
    border: 0;
}

.icon-validate-internals:before {
    background-image: url("ebay_validate_internals.png");
}
