/*
*	Main ids / basic grid layout; core structure divs only file
* 	@authors		sherry carrero
*/
/* resets, normalizers & HTML5 Boilerplate goodness */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
div, header, footer, nav { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
html{color:#000;background:#FFF;font-size:100%; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;font-size:1em;line-height:1.4;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,label,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}fieldset{border: 0;}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
img{border: 0; -ms-interpolation-mode:bicubic;vertical-align: middle;}hr{ -moz-box-sizing: content-box; box-sizing:content-box;height:0;line-height:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins,a{text-decoration:none;}
ul{list-style:none;overflow:hidden;}caption,th{text-align:left;}legend{border:0;white-space:normal;}b,strong{font-weight:bold;}em,i{font-style:italic;}
q{quotes:none;}q:before,q:after{content:'';content: none;}abbr,acronym{border:0;font-variant:normal;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}
svg:not(:root){overflow:hidden;}sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}
input,button,textarea,select,optgroup,option{font-family:sans-serif;font:inherit;}button,select{text-transform:none;}form label{cursor:pointer;}
input,button,textarea,select{*font-size:100%;vertical-align: baseline;*vertical-align: middle;}button,input{line-height:normal;}
button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance: button;cursor: pointer;*overflow: visible;}
button[disabled],html input[disabled]{cursor: default;}[type="checkbox"],[type="radio"]{*height:13px; *width:13px;}
[type="search"]{ -webkit-appearance:textfield; -moz-box-sizing: content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{ -webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;resize:vertical;}
code,kbd,pre,samp{font-family: monospace, serif; _font-family:'courier new',monospace;font-size:1em;}small{font-size:80%;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary,menu{display: block;margin:0;padding:0;}
audio,canvas,video{vertical-align: middle;display:inline-block; *display:inline; *zoom: 1;}audio:not([controls]){display:none;height:0;}
a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}nav ul,nav ol{list-style:none;list-style-image:none;}
.hidden {display:none !important;visibility: hidden;}.invisible{visibility: hidden;}[hidden]{display:none;}
.visuallyhidden{border: 0;clip: rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position: absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto;}
.clearfix:before,.clearfix:after {content: " ";display: table;}.clearfix:after {clear: both;}.clearfix {*zoom: 1;}
/* grid, header, footer, nav */
.clearCols { clear:both; } 
hr.clearHrs { clear:both;border:none;background-color:transparent;height: 0;margin: 0;color:#fff; background-color:#fff; line-height:0;}
.clear { clear: both;height:0;margin:0;font-size:0;line-height:0;}
div.clearHrs { height: 0;overflow: hidden;font-size:0;line-height:0;clear:both;margin:0; }
div.clearHrs hr.clearHrs { display: none; }
#skipper, #skipper-2 { border: 0;clip: rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position: absolute;width:1px; }
html { height: 100%; background: transparent url("../../images/site/fm_bg.gif")/*tpa=http://www.freddiemac.com/images/site/fm_bg.gif*/ repeat center top; overflow-y: scroll; background-attachment: fixed;}
body {font: normal 12.2px/1.3 Arial, Helvetica, Sans-Serif; height: 100%; background: transparent url("../../images/site/fm_bg.gif")/*tpa=http://www.freddiemac.com/images/site/fm_bg.gif*/ repeat center top;background-attachment: fixed;}
#grid {
  width: 972px;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  padding: 0px 0px;
  margin: 0 auto;
  background-color: #fff;
  position: relative; 
}
#nav-global { 
  background-color: #000;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#header {
	  margin-top: 0px;
	  height: 85px;
	  white-space:normal;
	  background: #0576cc;
	  background: -moz-linear-gradient(top, #0576cc 0%, #03518d 100%); 
	  background: -webkit-linear-gradient(top, #0576cc 0%,#03518d 100%); 
	  background: linear-gradient(to bottom, #0576cc 0%,#03518d 100%);
}
.ie9 #header {	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1NzZjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMzUxOGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
.lt-ie8 #header {	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0576cc', endColorstr='#03518d',GradientType=0 ); 
}
#header-brand {
	float: left;
	width: 646px;
	height: 85px;
}
#header-search {
	float: left;
	height: 81px;
	width: 300px;
}
#header-search p.search-inputs { margin: 23px 0 0; float: none; }
#header-search p.search-advanced { padding: 0; margin: 0px;  float: none; }
#header-search p.search-advanced a { color: #fff; font-size: 10px; font-family: Arial, sans-serif; text-decoration: underline;}
#header-search p.search-advanced a:hover { color: #d97600; }
#header-search input.btnSearch {
		height: 23px;
		width: 68px;
		vertical-align: middle;
		*vertical-align: text-bottom;
	}	
#header-search input#QueryText {
		font-size: 11px;
		padding: 3px 2px 2px;
		width: 200px;
		border: 1px solid #666;
		border-right-color: #3776a5;
		border-bottom-color: #3776a5;
}		
div#content {
	padding: 0px 5px 0px 10px;
	width: 970px;
	margin: 0px;
	overflow: hidden; /* @todo: was "auto" but gave webkit scrollbars */
}
#content-toc {
	float: left;
	width: 200px;
	margin: 0px 0px 50px;
}
#content-display {
	margin-top: 0px;
	padding: 5px 0px 0px;
	float: left;
	width: 750px;
	border-top: 17px solid #fff;
}
#popup #content-display {
	width: 97%; 
	margin: 0; 
	float: none; clear: left; 
	padding: 0px 0px 28px 13px; 
	background-color: #fff; 
	border-top: 0px solid #fff; 
}
#content-display.alt { 
	border-top: none;
	padding-top: 0;
}
#content-brand { padding: 0px; margin-bottom: 20px; overflow: hidden; }
#content-main {
	float: left;
	width: 550px;
	margin: 0px 10px 8px 0px;
	padding: 0px;
	min-height: 300px;
	height: auto !important;
	overflow-x: auto; 
}
#content-action {
	float: left;
	width: 190px;
	margin: 30px 0 8px;
	padding: 0px;
}
#content-footer { 
	clear:left;
	padding: 10px 0 5px;
	width: 950px; 
	height: 65px;
	margin: 10px 0px 0px;
	color: #717577;
	font: normal 11px/1.1 Arial, Helvetica, Sans-Serif;
	border-top: 1px solid #bbb;
}
.lt-ie7 #content-footer {  margin-bottom: 13px;  }
.taskBlock, .col_twin  { float: left; margin-bottom: 12px; width: 100%; }

/* @section		grid mods; different template layouts and widths 
   @note		usage of the body modifiers changes out widths
   Currently not in use: extra, extra-no-act, extra-no-toc, extra-none
*/
body.no-toc #content-display, body.none #content-display { width: 950px; }	
body.no-act #content-main { width: 750px; margin-right: 0px; }
body.no-toc #content-main { width: 740px; margin-left: 10px; }
body.none #content-main { width: 930px; margin-left: 10px; margin-right: 0px; }
div.column { width: 48%; float: left;	margin-bottom: 12px; }
div.column:last-child, div.last { margin-left: 4%; }	
div.triple div.column:last-child, div.triple div.last { margin-left: 3.5%; }	
.lt-ie8 div.last { margin-left: 10px; }	
div.first { margin-right: 10px; }
div.triple div.first { margin-right: 0; }
div.triple { margin-bottom: 12px; }
body div.triple div.column { width: 31%; margin-bottom: 0px; }
.lt-ie8 body div.triple div.column { width: 30.8%; margin-bottom: 0px; }
.col2 { border: 1px solid #CCCCCC;	width: 48%; float: left; }
.lt-ie8 .col2 { width: 47.7% }
.col_twin div.col2 { width: 49%; }
.lt-ie8 .col_twin div.col2 { width: 48.7%; }
.col_twin div.first { margin-right: 2%; }

body.popup { background: #fff none; height: 100%; margin: 2px 2px 0px 2px; }

div.box { float: left;overflow: hidden;padding: 0px; margin: 0px 0 5px 10px;  width: 190px;} 
div.box-wrap { float: left;	margin: 0px; padding: 0px; }	
body.no-act div.box-wrap { width: 550px; }
body.no-act .box-wrap .taskBlock { width: 520px; }
body.none div.box-wrap { width: 730px; }
body.none .box-wrap .taskBlock { width: 700px; }
.taskImage { float: left; border: 1px solid #bbb; padding: 3px;}  

#popup div.column { width: 45%; }
#popup div.box-wrap {   width: 300px;	}
.col-body { background:#FFFFFF;	margin: 2px; padding: 8px; }
.lt-ie8 .col-body { zoom: 1; }

/*  for action panels */
div.action {margin-bottom: 40px;}	
#content-action h2, div.box h2 {
	font: bold 14px/19px Arial, Helvetica, Sans-Serif;
	padding: 4px 0px 8px;
	border-top: 1px solid #bbb;
	margin: 0px 0px 6px;
}
#content-main div.box h2 { 	border-bottom: 0px;}
#content-action .action-block  {
	 border: none; 
	 padding: 0px;
	 width: 190px;
}
/*  for custom resource panel */
div.action2 {
	padding: 0 0 4px;
	background: #fff url("../../images/site/bg-action2-ftr.gif")/*tpa=http://www.freddiemac.com/images/site/bg-action2-ftr.gif*/ repeat-x left bottom;
	margin: 0px 0 30px;
}
div.action2 div.action {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 100%); 
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 100%); 
	background:  linear-gradient(to bottom,  #eeeeee 0%,#ffffff 100%);
	border: 0 none;
	margin: 0px;
	padding: 8px 9px 1px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}	
.ie9 div.action2 div.action {	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
.lt-ie9 div.action2 div.action {	background: #ffffff url("../../images/site/bg-action2-gradient.png")/*tpa=http://www.freddiemac.com/images/site/bg-action2-gradient.png*/ repeat-x  0px -67px;  }
#content-action div.action2 h2, #content-main div.box div.action2 h2 {
	background: #7BBB40;
	background: -moz-linear-gradient(top,  #7bbc40 0%, #50a601 100%); 
	background: -webkit-linear-gradient(top,  #7bbc40 0%,#50a601 100%); 
	background: linear-gradient(to bottom,  #7bbc40 0%,#50a601 100%);
	border: 0px;
	color: #ffffff;
	padding: 3px 6px;
	margin: 0px;
}
.ie9 #content-action div.action2 h2, .ie9 #content-main div.box div.action2 h2 { background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdiYmM0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MGE2MDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);}
.lt-ie9 #content-action div.action2 h2,  .lt-ie9 #content-main div.box div.action2 h2 {
background: #7BBB40 url("../../images/site/bg-action2-hdr.png")/*tpa=http://www.freddiemac.com/images/site/bg-action2-hdr.png*/ repeat-x right bottom;
}

div.action2 h3 {	
	color: #333333;
	border-bottom: 1px solid #DBDBDB;
	font-weight: bold;
	font-size: 11.2px;
	text-transform: uppercase;
	margin: 0 0 2px; 
	padding: 0 0 2px;
}

/* 
 *	@section	grid parts|objects for layout of "additional" basics
*/
#skipper,
#skipper-2 {
	position: absolute;
	left: -999px;
	width: 990px;
	bottom: 0px;
}
#print-this-page {
	background: transparent url("../../images/site/linkmarker_sprite.png")/*tpa=http://www.freddiemac.com/images/site/linkmarker_sprite.png*/ no-repeat 0 2px;
	padding-top: 3px;
	padding-left: 22px;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	color: #0362AA;
}
#print-this-page:hover { color: #d97600; }
#nav-global ul {
	min-height: 24px;
	margin: 1px 0 0 4px;
	padding: 0;
	float: left;
}
.lt-ie7 #nav-global ul { height: 24px; }
#nav-global li {
	width: auto;
	float: left;
	list-style-type: none;
	background-image: none;
	font: bold 11px/1.1 Arial, Helvetica, Sans-Serif;
	margin: 6px 0px 0px;
	padding: 0px;
	border-right: 1px solid #fff;
}
#nav-global li.last, #nav-global li:last-of-type { border: none; }
#nav-global li a { 
		color: #fff;
		margin: 0px; 
		padding: 0px 7px;
		text-decoration: none;
}
#header img { vertical-align: bottom; }

#logo { border: none;  padding: 15px 23px;  float: left; }

#content-footer p {
	float: left;
	width: 110px;
	margin: 0;
	padding: 0;
}
#content-footer ul {
	float: right;
	text-align: right;
	margin: 0;
	padding: 0;
}
#content-footer li {
	list-style-type: none;
	display: inline;
	margin: 0;
	background-image: none;
	padding: 0 5px;
	border-right: 1px solid #666;
	line-height: 95%;
}
#content-footer li.last, #content-footer li:last-of-type { border: none; padding-right: 0px; }
/*
*	Main baseline elements file
*  @authors		sherry carrero
*/

@media screen {
	html {
		background: transparent url("../../images/site/fm_bg.gif")/*tpa=http://www.freddiemac.com/images/site/fm_bg.gif*/ repeat center top;
		background-attachment: fixed;
		overflow-y: scroll;
	}
	body {
		background: transparent url("../../images/site/fm_bg.gif")/*tpa=http://www.freddiemac.com/images/site/fm_bg.gif*/ repeat center top;
		background-attachment: fixed;
	}
	.lt-ie8 a em, .lt-ie8 a i { cursor: pointer; }		
}
@media screen, print {
	body {	margin: 0;	font: normal 12.2px/1.3 Arial, Helvetica, Sans-Serif;	}
	h1 { color: #d97600; font-weight:bold; font-size:22.2px; margin: 0 0 14px; padding: 0 0 3px; border-bottom: 1px solid #bbb; }
	h2 { color: #092D5B; font-weight:bold; font-size:18px; margin: 0 0 8px; padding: 0 0 4px;}
	h3 { color: #000; font-weight:bold; font-size:14px; margin: 2px 0 8px; padding: 0; }
	h4 { color: #000; font-weight: normal; font-size:1em; margin: 15px 0 4px; padding: 0; }
	h5 { font-weight:bold; font-size:12.2px; margin: 17.7px 0 6px;}
	h6 { margin: 10px 0 4px; font-weight:bold; font-size:11.2px;}
	sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
	sup{top:-0.5em;}
	sub{bottom:-0.25em;}
	strong { font-weight: bold; }
	em { font-style: italic; }
	blockquote { margin: 12px 40px; }
	a { text-decoration: none; }
	a:link { color: #0362AA; }
	a:visited { color: #4992c9; }
	a:hover { color: #d97600; text-decoration: underline; }
	h2 a:link, h2 a:visited {	color: #092D5B; }
	h2 a:hover { color: #d97600;  }
	p { margin: 0 0 12.2px; padding: 0px; }	
	img { border: 0px; margin: 0; padding: 0px; }		
	table th { padding: 1px;}	
	table caption { font-size: 14px;font-weight: bold; padding: 4px 10px; }
	del { text-decoration: line-through; font-style: italic; }
	ins { text-decoration: underline; font-style: italic; }
	address { font-style: italic; padding: 0; margin: 3px 3px 8px 20px; }
	hr.contentDiv {background: transparent url("../../images/site/bg-dots.gif")/*tpa=http://www.freddiemac.com/images/site/bg-dots.gif*/ repeat-x  50% 0;  border: 0; clear: both; margin: 7px 0;  height:1px; }
	.lt-ie8 hr.contentDiv { display : list-item; list-style : url("../../images/site/bg-dots.gif")/*tpa=http://www.freddiemac.com/images/site/bg-dots.gif*/ inside; filter : alpha(opacity=0); width : 0; }
	div.hr hr.contentDiv, .lt-ie8 div.hr hr.contentDiv { display: none; }
	div.hr {height: 1px; font-size:0;line-height:0;	background: transparent url("../../images/site/bg-dots.gif")/*tpa=http://www.freddiemac.com/images/site/bg-dots.gif*/ repeat-x left center; margin: 7px 0; clear: both;	}
	dl dt { font-weight: bold; padding:2px 10px; }
	dl dd { margin-left: 50px; }	
	button, input[type=submit], input[type=reset], input[type=button] {
	  width:			auto;
	  overflow:			visible;
	  color: 			#666666;
	  background: 		#F6F6F6;
	  border: 			none;		
	  text-shadow:	    none;
	  padding: 			2px	4px;
	  margin: 			2px;
	  display: 			inline-block;
	  position: 		relative;	
	  font-weight: 		bold;	  
	  cursor: 			pointer;
	  -webkit-user-select: none;
	  -moz-user-select: 	none;
	  user-select: 		none;
	  border-radius: 		3px;
	  -webkit-transition: background .1s ease-in-out;
	  -moz-transition: 	background .1s ease-in-out;
	  -ms-transition: 	background .1s ease-in-out;
	  -o-transition: 		background .1s ease-in-out;
	  transition: 		background .1s ease-in-out;	
	  box-shadow:		inset rgba(0, 0, 0, 0.2) 0 0 3px, hsl(204, 8%, 74%) 0px 0px 0px 1px; 	
	  background-clip: padding-box;
  }  
  .lt-ie9 button, .lt-ie9 input[type=submit], .lt-ie9 input[type=reset],  .lt-ie9 input[type=button] { background:#E3E3E3 ; }
  .ie8 button, .ie8 input[type=submit], .ie8 input[type=button], .ie8 input[type=reset] { 
  border-radius: 3px;  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 3px, hsl(204, 8%, 74%) 0px 0px 0px 1px;
  behavior: url(../../ss/global/PIE.htc)/*tpa=http://www.freddiemac.com/ss/global/PIE.htc*/;
  }
}
	
@media screen {
  #content-main h2 { border-bottom: 1px solid #bbb; }
  dfn, abbr, acronym { font-style:normal; border-bottom: 1px dashed #0362AA; cursor: help; }
  /* Lvl 1 */
  #content-display ul { margin: 3px 1px 12.2px 0px; padding: 0 1px 0 10px; list-style-type: none; }
  #content-display div.action2 div.action ul { padding-left: 0px; margin-bottom: 6px; }
  #content-display ul > li { margin: 0 0 3px; padding: 0 0 0 12px; list-style-type: none; background: transparent url("../../images/site/bullets-sprite.gif")/*tpa=http://www.freddiemac.com/images/site/bullets-sprite.gif*/ no-repeat -14px -687px; }
  #content-display div.action2 div.action ul > li { margin-bottom: 2px; }
  #content-display ol { margin: 3px 1px 12.2px 0px; padding: 0px 0px 0px 12px; background: none; }
  #content-display ol > li { margin: 0 0 3px 20px;  padding: 0px 0px 0px 0px; background: none; }
  /* Lvl 2 */	
  #content-display ul ul, #content-display ol ul { margin: 3px 1px 0px 0px; padding: 0 1px 0 1px; }
  #content-display ul ul > li  { background-position: 0px -195px; }		
  #content-display ul ol, #content-display ol ol {  margin: 3px 1px 0px 0px; }
  /* Lvl 3 */	
  #content-display ul ul ul > li { background-position: -5px 2px; }	
}/*
*	Main classes file
* 	@authors	sherry carrero
*/

@media screen, print {
  .hidden{ display: none; }
  .white { color: #FFFFFF; }
  .black { color: #000000;  }
  .charcoal { color: #333333; }
  .dimgray { color: #696969;  }
  .darkgray { color: #A9A9A9;  }
  .gray { color: #808080;  }
  .silver { color: #C0C0C0;  }
  .lightgray { color: #D3D3D3;  }
  .red { color: #FF0000;  }
  .orange { color: #FFA500;  }
  .yellow { color: #FFFF00;  }
  .green { color: #4FA500;  }
  .blue { color: #0000FF;  }	
  .navy { color: #000080;  }
  .indent { text-indent: 10px; }
  .IE6hide { display: none; height: 0px; }
  h1 .sub {
	  display: block;
	  font-weight: normal;
	  font-size: 13.4px;
  }
  p.subh1 {
	  font-size: 13.4px;
	  color: #d97600;
  }
  h1.paired {
	  margin-bottom: 0;
  }
  #content-main h2.col-head {
	background: #03528E;
	background: -moz-linear-gradient(top,  #0475cb 0%, #03528e 100%); 
	background: -webkit-linear-gradient(top,  #0475cb 0%,#03528e 100%); 
	background:  linear-gradient(to bottom,  #0475cb 0%,#03528e 100%);
	border: 1px solid #0475CB;
	border-bottom: 1px solid #03528E;
	color: #FFFFFF;
	display: block;
	font: bold 15px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 6px 10px;
	width: auto;
  }	
  .ie9 #content-main h2.col-head {	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA0NzVjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMzUyOGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);}
  .lt-ie9 #content-main h2.col-head { background: #03528E url("../../images/site/bg-colhead.gif")/*tpa=http://www.freddiemac.com/images/site/bg-colhead.gif*/ repeat-x top left; }
  #content-main .col-body h2 {
	  border-bottom: 0 none;
	  font: bold 14px/1.25 Arial,Helvetica,Sans-Serif;
	  padding: 0;
  }
  #nav-global a.on { color: #B2B2B2; }
  #nav-global a:hover { color: #d97600 !important; }
  .fileSize { font-size: 0.85em; font-weight: normal; white-space: nowrap; text-transform:uppercase;}
  .lt-ie8 a.blockLink2 .fileSize, .lt-ie8 a.blockLink1 .fileSize { display: none; }
  /* @note	tables */
  .table1 {
	  border-collapse: separate;
	  margin: 2px 0px 12px;	
	  padding: 0px;
	  background-color: #EBEBEB;
	  border-color: #D9D9D9;
	  border-style: solid;
	  border-width: 2px 0px;
  
  }
  .table1 td,
  .table1 th {
	  padding:6px;
	  border-color: #FFFFFF;
	  border-style: solid;
	  border-width: 3px 1px 0px 1px;
	  margin:0px;
	  vertical-align: top; 
  }
  .table1 th { font-weight: bold; }
  .table1 thead th,
  .table1 thead td {
	  font-size: 13.2px;
	  font-weight: bold;
	  background: #6ba61b;
	  background: -moz-linear-gradient(top, #5b9314 0%, #6ba61b 100%); 
	  background: -webkit-linear-gradient(top, #5b9314 0%,#6ba61b 100%); 
	  background:  linear-gradient(to bottom, #5b9314 0%,#6ba61b 100%);
	  text-align: left;
	  color: #ffffff;
	  border-top: 0px; 
  }
  .ie9 .table1 thead td { background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViOTMxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YmE2MWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
  .lt-ie9 .table1 thead th, .lt-ie9 .table1 thead td {
	background: #6ba61b url("../../images/site/bg-table-header.gif")/*tpa=http://www.freddiemac.com/images/site/bg-table-header.gif*/ repeat-x top left;
  }
  .table1 tr.theadSub th, .table1 tr.theadSub td {
	  background-color: #d7e3c8;
	  background-image: none;
	  font-weight: bold;
	  text-align: left;
	  color: #000000;
  }	
  #content-main .table1 col.hdrCol, #popup #content-display .table1 col.hdrCol {
	  background-color: #d7e3c8 !important;
  }
  .table1 td.alt, .table1 th.alt, .odd { background-color: #f5f5f5; }
  
  .table1 thead th a, 		.table1 thead td a,
  .table1 thead th a:link, 	.table1 thead td a:link,
  .table1 thead th a:hover, 	.table1 thead td a:hover,
  .table1 thead th a:visited, 	.table1 thead td a:visited,
  #content-main h2.col-head a {
	  color: #ffffff;	text-decoration: underline;
  }
  .table1 thead th.header {
	  padding-right: 2px;
	  cursor: pointer;
  }
  .table1 thead .header div {
	  background: transparent url("../../images/site/linkmarker_sprite.png")/*tpa=http://www.freddiemac.com/images/site/linkmarker_sprite.png*/ no-repeat right -408px;
	  padding-right: 9px;
  }
  .table1 thead .headerSortUp div {
	  background-position: right -449px;
  }
  .table1 thead .headerSortDown div {
	  background-position: right -489px;
  }
  #content-main .table1 col.hdrCol, #popup #content-display .table1 col.hdrCol {
	  background-color: #d7e3c8 !important;
  }
  #content-display .table1 td ul { margin-bottom: 3px;	}
  #content-display .table1 td ul li {
	  background-repeat: no-repeat;
	  background-position: -14px -687px;
  }
  .securedlink { padding-right: 11px; background: transparent url("../../images/site/linkmarker_sprite.png")/*tpa=http://www.freddiemac.com/images/site/linkmarker_sprite.png*/ no-repeat right -38px; }
  .securedlink:after {content: "."; visibility: hidden; }
  .videolink { padding-right: 14px; background: transparent url("../../images/site/linkmarker_sprite.png")/*tpa=http://www.freddiemac.com/images/site/linkmarker_sprite.png*/ no-repeat right -86px; }
  .videolink:after {content: "."; visibility: hidden; }
  .offsitelink { padding-right: 10px; background: transparent url("../../images/site/linkmarker_sprite.png")/*tpa=http://www.freddiemac.com/images/site/linkmarker_sprite.png*/ no-repeat right -136px; }
  .offsitelink:after {content: "."; visibility: hidden; }	
  .workshoplink  { padding-right: 13px; background: transparent url("../../images/site/linkmarker_sprite.png")/*tpa=http://www.freddiemac.com/images/site/linkmarker_sprite.png*/ no-repeat right -191px;  }
  .workshoplink:after {content: "."; visibility: hidden; }
  .webconflink  { padding-right: 15px; background: transparent url("../../images/site/linkmarker_sprite.png")/*tpa=http://www.freddiemac.com/images/site/linkmarker_sprite.png*/ no-repeat right -237px; }	
  .webconflink:after {content: "."; visibility: hidden; }
  .lt-ie8 .offsitelink  	{ width: 10px; display: inline-block; padding: 0; margin-left: 2px; background-position: -3px -136px; }
  .lt-ie8 .securedlink  	{ width: 11px; display: inline-block; padding: 0; margin-left: 2px; background-position: -3px -38px; }
  .lt-ie8 .videolink  	{ width: 14px; display: inline-block; padding: 0; margin-left: 2px; background-position:  left -86px; }
  .lt-ie8 .workshoplink  	{ width: 13px; display: inline-block; padding: 0; margin-left: 2px; background-position:  0px -191px; }
  .lt-ie8 .webconflink  	{ width: 15px; display: inline-block; padding: 0; margin-left: 2px; background-position:  0px -237px; }
  
  div.immediaterel {  /* press releases */
  padding: 0 0 3px 0; margin: 0px;
  background: transparent url("../../images/site/bg-dots.gif")/*tpa=http://www.freddiemac.com/images/site/bg-dots.gif*/ repeat-x left bottom;
  }
  div.immediaterel a { font-weight: bold; }
  
  .reduce { font-size: 0.9em; }
  .enlarge { font-size: 1.15em; }
  
  div.pullQuoteminor {
	  float: right;
	  border: 1px solid #c1c1c1;
	  padding: 0px;
	  width: 248px;
	  margin: 20px 0 20px 20px;
  }
  div.pullQuotemajor {
	  float: left; border: 1px solid #c1c1c1; padding: 0px;  width: 248px;  margin: 20px 20px 20px 0px; }
  div.pullQuoteInner {  background: #e3f1fc;
	  background: -moz-linear-gradient(top,  #e3f1fc 0%, #fafdfe 100%); 
	  background: -webkit-linear-gradient(top,  #e3f1fc 0%,#fafdfe 100%); 
	  background:  linear-gradient(to bottom,  #e3f1fc 0%,#fafdfe 100%);
	  margin: 0px;  padding: 15px 15px 5px;	  border: 5px solid #fff;
	  font: normal 14px/16px Arial, Helvetica, Sans-Serif;  color: #092d5b;
  }
  .ie9 div.pullQuoteInner { background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZjFmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZkZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }

  div.imageBox p, div.imageBox ul { margin: 0px 0px  3px 0px; font-size: 10px; color: #666; }
  div.imageBox p.header { font-size: 11px; color: #333; font-weight: bold; text-align: center; }
  .icon, img.iconBox { background: white; padding: 3px; border: 1px solid #bbb; margin: 3px 0px 6px; }
  div.action img.iconBox, div.action img.icon { margin-top: 0px; }
  div.image-lead-snug img.iconBox {	margin-top: 0px;	}
  div.imageBox img { vertical-align: bottom; }	
  div.imageBox {
	  background-color: #f8f8f8;
	  border: 1px solid #999;	
	  margin: 0px 0px 12px;
	  padding: 5px;
  }
div.minor { float: right; margin-left: 0.9em; }
div.major { float: left; margin-right: 0.9em; }
div.full { margin: 0.5em auto 1em; width: 100%; }
div.left { float: left; }
div.right { float: right; } 
.pad-left { padding-left: 1em; }
.pad-right { padding-right: 1em; }
.pad-top { padding-top: 1em; }
.pad-bottom { padding-bottom: 1em; }
img.pad-bottom { padding-bottom: 2.1em; }
img.pad-top { padding-top: 2.1em; }
 /* @note	special featured content boxes */
.image-post { float: right; margin: 0.5em 0 0.5em 1.3em; position:relative; }
.image-post-snug { float: right; margin: 0.1em 0.1em 0.1em 1.3em; position: relative; }
.image-lead { float: left; margin: 0.5em 1.3em 0.5em 0.1em; position:relative; } 
.image-lead-snug { float: left; margin: 0.1em 1.3em 0.3em 0.1em; position: relative; }
div.image-post, div.image-lead, div.image-post-snug, div.image-lead-snug  { background: #f8f8f8; padding: .1em .1em 2em; border: 1px solid #bebebe;  }
div.image-post .icon, div.image-lead .icon, div.image-post-snug .icon, div.image-lead-snug .icon { background: #f8f8f8; border: none; box-shadow: none; float: left; margin: 0; padding-left:2px; padding-right:2px; }
p.caption {color: #666; font-size: 10px; position: absolute; left: 0; right:0; bottom:0; background: #f8f8f8; float: left; margin-bottom: 0; min-height: 2em; padding: 1px 3px; line-height: 1.2em;}
p.img-title {font-size: 0.85em; font-weight: bold; color: #333; position: absolute; left: 0; right:0; top:0; background: #fff;  padding: 1px 4px; line-height: 1.2em; text-align: center;}

  p.image a img { border: 0px; }	
  #content-display div.imageBox ul { 	list-style-type: none;	 }
  #content-display div.imageBox ul li { 	
	  background-repeat: no-repeat;
	  background-position: -14px -687px;	
   }
  .lt-ie7 div.full { display: inline; }
  div.full div.imageBox { margin: 4px auto 12px; }
  div#flashContainer { margin-bottom: 12px; }
  
  h2 a.morelink  {
	  font: normal 12.2px/normal Arial, Helvetica, Sans-Serif; color: #0362AA !important; padding-left: 5px; border-left: 1px #ddd solid; margin-left: 10px;
  }
  h2 a.morelink:hover  {
	  color: #d97600 !important;
  }	

  div.action div.image-lead-snug { margin: 0px;  }
  .box-special, .box-special2 {
	  margin: 18px 0 12px;	
	  border: 0px;
	  border-top: 2px solid #bbbbbb;
	  border-bottom: 1px solid #bbbbbb;
	  background: #EAEAE9;
	  background: -moz-linear-gradient(top,  #f7f7f7 0%, #eaeae9 100%); 
	  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#eaeae9 100%); 
	  background:  linear-gradient(to bottom,  #f7f7f7 0%,#eaeae9 100%);
	  padding: 15px 24px 4px;
  }
  .ie9 .box-special, .ie9 .box-special2 { background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);}
  .lt-ie9 .box-special, 
  .lt-ie9 .box-special2 {	background: #EAEAE9 url("../../images/site/bg-sp-box2.gif")/*tpa=http://www.freddiemac.com/images/site/bg-sp-box2.gif*/ repeat-x top left;	  }  
  .lt-ie8 div.box-special .image-post { position: relative; } 
  .lt-ie8 div.box-special .image-lead { position: relative; } 
  .box-special-content {  }
  .box-special-image {   border: 1px solid #bbbbbb; 	}
  .box-special-image img { vertical-align: bottom; }
  .box-special-inner .image-post, .box-special-inner .image-lead { margin-top: 0px; }
  .lt-ie8 .box-special-inner .image-post,  .lt-ie8 .box-special-inner .image-lead { margin-bottom: 0; }
  .col2 img.iconBox { margin-top: 0; vertical-align: bottom; }
  .taskBlock h3  { margin: 3px 0; padding: 0; }
  .taskBlock h3 a {	background: transparent url("../../images/site/linkmarker_sprite.png")/*tpa=http://www.freddiemac.com/images/site/linkmarker_sprite.png*/ no-repeat right -287px;
	  padding-right: 16px; color: #092D5B; text-decoration: none;
  }
  .taskImage img { vertical-align: bottom; }
  div.mod-divider { border-top: 1px solid #ccc; clear: right; height: 14px; }
  .backToTopFooter { clear:both; }
  
  .backToTop {
	  text-align:center; 
	  font-size: 10px; 
	  padding: 2px 3px 10px 3px; margin:0; 
  } 
  .backToTop a, .backToTop a:visited {
	  color:#0362AA; 
	  background: transparent url("../../images/site/linkmarker_sprite.png")/*tpa=http://www.freddiemac.com/images/site/linkmarker_sprite.png*/ no-repeat -6px -370px;
	  padding-left:12px;
  } 
  /* Tooltip */
#tip { z-index:100; position:absolute;top: 300px;left: 300px; border:0; background:transparent; font:75%/1.4 Verdana,Helvetica,sans-serif;display:none;}
#tip div { position:relative;top:0;left:0;border:1px solid #666; border-top-width:10px;border-bottom-width:10px;max-width:30em; min-width:20em; }
#tip {clear: both; float:left;background: #ffffff;margin: 10px 0 0 10px; box-shadow: 6px 6px 5px rgba(0,0,0,0.7); }
.lt-ie9 #tip {	box-shadow: 6px 6px 5px rgba(0,0,0,0.7);	behavior: url(../../ss/global/PIE.htc)/*tpa=http://www.freddiemac.com/ss/global/PIE.htc*/;	 }
#tip div { background: #fff none; padding:1.1em;} 
  /* begin css tabs */
.fmTabMenu { border-bottom: 1px solid #bbb; float: left; margin: 4px 0 12px; padding: 0; width: 100%;}
.fmTabMenuVert { float: left;  width: 15%; margin: 0; }
#content-display ul.tabsUL { float: left; width: 100%; font-weight: bold; list-style: none; margin: 0; padding: 0 0 0 0.8em; position: relative; overflow: visible; }
#content-display .fmTabMenuVert ul.tabsUL { margin: 16px 0 6px; padding: 0 0 0 2px; }
#content-display ul.tabsUL ul.tabsUL { bottom: -40px; display: none; left: 0; padding-left: 24px; position: absolute; width: 100%;}
#content-display ul.tabsUL > li.selected ul.tabsUL { display: block;}
#content-display ul.tabsUL > li {float: left; padding: 0; margin:0; list-style: none; min-height: 30px; min-width: 105px; border-left: 1px solid #3B414A; border-right: 1px solid #3B414A; border-top: 1px solid #68717d;
 background: #7D858F;
 background: -moz-linear-gradient(top, #a2a6ae 0%, #7d858f 100%); 
 background: -webkit-linear-gradient(top, #a2a6ae 0%, #7d858f 100%); 
 background:  linear-gradient(to bottom, #a2a6ae 0%, #7d858f 100%); }
#content-display .fmTabMenuVert ul.tabsUL > li {min-width: 60px; border: 1px solid #7E808C; width: 100%; }
.ie9 #content-display ul.tabsUL > li { background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYTZhZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZDg1OGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
#content-display ul.tabsUL > li.selected { background: #fff; border-color: #bbb; margin: -2px 0 -1px; padding: 0 0 1px;}
 #content-display .fmTabMenuVert ul.tabsUL > li.selected { border-color: #ccc; border-right: 1px solid #fff; margin: 0 0 0 -2px; padding: 0 0 0 1px; z-index: 90;  box-shadow: -2px 0 2px 0 rgba(0,0,0,0.15); -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;}
.tabsUL > li a { display: block; font-size: 0.9em; line-height: 1em; margin: 0; padding: 10px 5px; text-align: center; }
 .fmTabMenuVert .tabsUL > li a { padding: 12px 0px; font-size: 1em; line-height: 1.2em;}
.tabsUL > li a:link, .tabsUL > li a:visited, .tabsUL > li a:active { color: #fff; }
.tabsUL > li.selected a, .tabsUL > li.selected a:link, .tabsUL > li.selected a:visited, .tabsUL > li.selected a:active { color: #333333; padding-top: 12px; background: #fff;}
.tabsUL > li a:hover { border-bottom: 1px solid #75AF20; padding-bottom: 9px; background: #76AF20; 
 background: -moz-linear-gradient(top, #76af20 0%, #9ac35d 100%); 
 background: -webkit-linear-gradient(top, #76af20 0%, #9ac35d 100%); 
 background: linear-gradient(to bottom, #76af20 0%, #9ac35d 100%); } 
.fmTabMenuVert .tabsUL > li a:hover { padding-bottom: 12px; border-bottom: 0px; }
.ie9 .tabsUL > li a:hover { background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc2YWYyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YWMzNWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
.ie9 .tabsUL > li.selected a:hover { background: #fff; }
#content-display .tabsUL > li a:hover { text-decoration: none; } 
 .tabsUL > li.selected a:hover { border-bottom: 1px solid #fff;}
 .fmTabMenuVert .tabsUL > li.selected a:hover { border-bottom: 0px; }
.fmTabVert  { float: left; width: 85%; background: #fff; border: 1px solid #ccc; min-height: 200px; box-shadow: 1px 0 4px 0 rgba(0,0,0,0.15); }
.fmTabVert > div { float: left; padding: 8px 14px; width: 100%;}
.lt-ie8 .fmTabVert > div { width:94%; }
.lt-ie7 #content-display ul.tabsUL li.selected a, 
.lt-ie7 #content-display ul.tabsUL li.selected a:link, 
.lt-ie7 #content-display ul.tabsUL li.selected a:visited, 
.lt-ie7 #content-display ul.tabsUL li.selected a:active {   padding-top: 11px; }
  /* end css tabs */	
  .nowrap { white-space: nowrap; }
  div.centertext, p.centertext { text-align: center; }
  
  /* FAQ Classes */
  .FAQanswer { margin: 6px 6px 14px 18px; padding: 0 0 0 0; }
  ol.FAQlist  { line-height: 1.2em; }
  ol.FAQlist li { margin-bottom: 6px; }
  
  /*  FM.com only */
  input.filterField { width: 200px; }
  a.blockLink1,
  a.blockLink2 {
	  display: -moz-inline-stack;
	  display: inline-block;
	  position: relative;
	  padding: 5px 8px 7px 9px;
	  height: 26px;
	  color: #fff !important;
	  text-decoration: none !important;
	  margin-bottom: 0px;
	  font-weight: bold;
	  border-radius: 4px;
  }
  .lt-ie9 a.blockLink2, .lt-ie9 a.blockLink1 { 
	border-radius: 4px; 
	behavior: url(../../ss/global/PIE.htc)/*tpa=http://www.freddiemac.com/ss/global/PIE.htc*/;	
  }
  .lt-ie8 a.blockLink2, .lt-ie8 a.blockLink1 { 
	height: 13px;
  }	
  .lt-ie8 .rotator .blockLink2 { min-width: 100px; }
  a.blockLink2 { background-color: #75ae22; }
  a.blockLink1 { background-color: #cc9933; } 
  #content-action a.blockLink2, .box  a.blockLink2 { width: 100%; }
  .lt-ie8 #content-action a.blockLink2, .lt-ie8 .box  a.blockLink2 { width: 175px; }
  a.blockLink2:hover { background-color: #cc9933; }
  a.blockLink1:hover { background-color: #75ae22; }
  a.blockLink2 span.redge,
  a.blockLink1 span.redge {
	  height: 15px;
	  width: 19px;
	  display: block;
	  float: right;
  }
  a.blockLink2 span.redge, a.blockLink1 span.redge { background: transparent url("../../images/site/linkmarker_sprite.png")/*tpa=http://www.freddiemac.com/images/site/linkmarker_sprite.png*/ no-repeat 2px -332px; }
  .lt-ie8 a.blockLink2 span.redge, .lt-ie8 a.blockLink1 span.redge { float: none; display: inline-block; }
  .lt-ie7 a.blockLink2 span.redge, .lt-ie7 a.blockLink1 span.redge {display: none; }	
  .subscribe { margin-right: 3px; text-align: right; }
  #pr_feature {
	padding: 20px 20px 5px; 
	margin: 0px 0px 12px; 
	border-bottom: 1px dotted #999; 
	background: #e3f1fc; 
	background: -moz-linear-gradient(top,  #ffffff 0%, #e3f1fc 100%); 
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e3f1fc 100%); 
	background:  linear-gradient(to bottom,  #ffffff 0%,#e3f1fc 100%);	
  }
  .ie9 #pr_feature { 	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2YxZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);}
  .lt-ie9 #pr_feature {	background: transparent url("../../images/site/pr_freature_bg.gif")/*tpa=http://www.freddiemac.com/images/site/pr_freature_bg.gif*/ repeat-x top left;   }	
  .headline { color: #808080; }
  #pr_feature p.headline a { font-weight: bold; }
  div.banner { border-bottom: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; background: #fff; padding: 1px 0px; margin: 0 0 12px; position: relative;  }
  div.banner2 {  /* LPOutreach */
	  border-bottom: 1px dotted #8C8979;
	  min-height: 44px; 
	  background: #C6DBEC; 
	  background: -moz-linear-gradient(top,  #ffffff 0%, #b8d3e7 96%, #ffffff 100%);  
	  background: -webkit-linear-gradient(top,  #ffffff 0%,#b8d3e7 96%,#ffffff 100%); 
	  background:  linear-gradient(to bottom,  #ffffff 0%,#b8d3e7 96%,#ffffff 100%);
  }
  .ie9  div.banner2 {  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iI2I4ZDNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);}
  .lt-ie9 div.banner2 {	background: none;	-pie-background: linear-gradient(#b8d3e7, #ffffff); 	behavior: url(../../ss/global/PIE.htc)/*tpa=http://www.freddiemac.com/ss/global/PIE.htc*/;  }
  div.banner3 {   /* Creditsmart */
	  border-bottom: 1px dotted #8C8979;
	  height: 44px; 		
	  background: #FFD428; 
	  background: -moz-linear-gradient(top,  #ffffff 0%, #ffcd03 96%, #ffffff 100%); 
	  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffcd03 96%,#ffffff 100%); 
	  background:  linear-gradient(to bottom,  #ffffff 0%,#ffcd03 96%,#ffffff 100%);
	  overflow: auto; 
  }
  .ie9 div.banner3 { background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iI2ZmY2QwMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);}
  .lt-ie9 div.banner3 { background: none;	-pie-background: linear-gradient(#ffffff, #ffcd03); behavior: url(../../ss/global/PIE.htc)/*tpa=http://www.freddiemac.com/ss/global/PIE.htc*/; 
  }
  div.banner_ep { height: 77px; background: #ffffff url("../../images/site/bg-banner_ep.gif")/*tpa=http://www.freddiemac.com/images/site/bg-banner_ep.gif*/ repeat-x top left; overflow: auto;   }
  #content-brand.banner_corp_blog { width:750px; height:76px; border-bottom:1px solid #2E6694; position:relative; background:transparent url('../../images/site/corp_blog_banner_bg.png')/*tpa=http://www.freddiemac.com/images/site/corp_blog_banner_bg.png*/ repeat-x top left; }
  #content-brand.banner_corp_blog ul#bannerNav { position:absolute; right:0; bottom:0; background-color:#CBDFEF; padding:8px 6px 6px 6px; margin:0; box-shadow:0 0 5px #888; } 
  #content-brand.banner_corp_blog ul#bannerNav li { float:left; text-align:center; padding:0 8px; margin:0; border-right:1px solid #89bde5; background:none; font-size:12px; } 
  #content-brand.banner_corp_blog ul#bannerNav li.last { 	border:none; } 
  #content-brand.banner_corp_blog ul#bannerNav li a, #content-brand.banner_corp_blog ul#bannerNav li a:link, #content-brand.banner_corp_blog ul#bannerNav li a:visited { 	color:#0362AA; } 
  #content-brand.banner_corp_blog ul#bannerNav li a:hover, #content-brand.banner_corp_blog ul#bannerNav li a:active { 	color:#D97600; 	text-decoration:none; } 
  #content-brand.banner_corp_blog ul#bannerNav li a.active { 	color:#D97600; 	cursor:default; } 
  p.lpo1 { margin: 6px 10px 0px; color: #092D5B; font-size: 13px; font-weight: bold; line-height: 16px; }
  p.lpo2 { margin: 0px 10px; color: #000; line-height:14px; font-size: 12.2px;}
  p.homeownlink { float: right; margin: 4px 0 -20px; position: relative; }
  div.banner3 img { vertical-align:middle;  margin-top: 3px;}
  span.subbrand-cs { color: #000; line-height:14px; font-size: 12.2px;  }
  a#backlink, a.backlink { padding-left: 14px; background: transparent url("../../images/site/media_sprites.png")/*tpa=http://www.freddiemac.com/images/site/media_sprites.png*/ no-repeat  -2px -77px; }
  .lt-ie8 a#backlink,  .lt-ie8 a.backlink { background: transparent url("../../images/site/media_sprites.gif")/*tpa=http://www.freddiemac.com/images/site/media_sprites.gif*/ no-repeat  -2px -77px; }
  a.backlink { float: left; }
  a.forwardlink { text-decoration: none; padding-right: 17px; background: transparent url("../../images/site/media_sprites.png")/*tpa=http://www.freddiemac.com/images/site/media_sprites.png*/ no-repeat right -97px; } 
  .lt-ie8 a.forwardlink { background: transparent url("../../images/site/media_sprites.gif")/*tpa=http://www.freddiemac.com/images/site/media_sprites.gif*/ no-repeat right -96px; }
  a.rearward { text-decoration: none; padding-left: 14px; background: transparent url("../../images/site/media_sprites.png")/*tpa=http://www.freddiemac.com/images/site/media_sprites.png*/ no-repeat -2px -108px; }
  .lt-ie8 a.rearward { background: transparent url("../../images/site/media_sprites.gif")/*tpa=http://www.freddiemac.com/images/site/media_sprites.gif*/ no-repeat -2px -108px; }
  a.frontward {  text-decoration: none; padding-right: 17px; background: transparent url("../../images/site/media_sprites.png")/*tpa=http://www.freddiemac.com/images/site/media_sprites.png*/ no-repeat right -127px; }
  .lt-ie8 a.frontward { background: transparent url("../../images/site/media_sprites.gif")/*tpa=http://www.freddiemac.com/images/site/media_sprites.gif*/ no-repeat right -127px; }	
  div.icolegend { font-size: 10px; font-weight: normal; color: #666; white-space: nowrap; margin: 0 0 18px 0; padding: 0px 10px; }
  p.blogmore { text-align: right; }
  div.blogHeader  { margin: 0px; padding: 0px; min-height: 74px;  }
  .lt-ie7 div.blogHeader { height: 72px; }
  .blogHeader h2.blog { line-height: 1.2; margin-bottom: .3em; }
  .blogHeader p.byline { margin-bottom: .5em; max-width: 82%; float: left;  }
  div.blogSnippet  { clear:left; }
  .blogHeader img.image-lead-snug, img.border { border: 1px solid #999; }
  .blogHeader a img.image-lead-snug, a.blogauthor img.image-lead-snug  { border: 1px solid #008CD6; }
  .blogHeader a:hover img.image-lead-snug, a.blogauthor:hover img.image-lead-snug { border: 1px solid #d97600; }
  .cBlogEntry { width:550px; border-top:1px solid #BBB; padding-top:17px; margin-top:17px; }
  .cBlogEntry a img.image-lead-snug { border:1px solid #008CD6; margin-right:17px; } 
  .cBlogEntry a:hover img.image-lead-snug, .cBlogEntry a:active img.image-lead-snug { border:1px solid #D97600; }
  .cBlogEntry .cBlogTease { float:left; width:325px; }
  #content-main .cBlogEntry h2.blog { border:0; padding:0; margin:0 0 8px 0; }
  .cBlogEntry .byline { color:#666; margin-bottom:8px; } 
  .cBlogEntry .byline a { padding-right:8px; margin-right:8px; border-right:1px solid #666; }
  .cBlogEntry p.snippet { margin:0 0 5px 0; }
  a.rNext { background: url("../../images/site/media_sprites.png")/*tpa=http://www.freddiemac.com/images/site/media_sprites.png*/ no-repeat -268px -154px transparent; width: 28px;}
  a.rNext:hover, a.rNext:active   { background-position: -268px -192px;}
  a.rPrev { background: url("../../images/site/media_sprites.png")/*tpa=http://www.freddiemac.com/images/site/media_sprites.png*/ no-repeat 3px -134px transparent; width: 26px;   }
  a.rPrev:hover, a.rPrev:active {  background-position: 3px -174px;}
  a.rDot { background: url("../../images/site/media_sprites.png")/*tpa=http://www.freddiemac.com/images/site/media_sprites.png*/ no-repeat -98px -152px transparent;  width: 22px;}
  a.active {  background-position: -174px -152px;}
  .rNav { float: left; height: 26px; }  
  .lt-ie8 .rNav { max-width: 300px; }
  .rNav a { display: block; float: left; height: 26px; margin: 0px; border: 0px; padding: 0px; line-height:1; }
  div#chicklets { margin: 0px; min-height: 24px; padding: 12px 0 0 0; background:url('../../images/site/bg-dots.gif')/*tpa=http://www.freddiemac.com/images/site/bg-dots.gif*/ repeat-x top left; }	
/* end chicklets */		
  .social_connect a { display: block; float: left; width: 30px; height: 30px; margin-right: 8px; overflow: hidden; text-indent: -9999px; background: url('../../images/site/chicklet_sprite.png')/*tpa=http://www.freddiemac.com/images/site/chicklet_sprite.png*/ no-repeat top left; }
  .social_connect a.social_fb { background-position:  -1px -2px; }
  .social_connect a.social_li { background-position:  -39px -2px; }
  .social_connect a.social_yt { background-position:  -77px -2px; }
  .social_connect a.social_tw { background-position:  -115px -2px;  margin-right: 0px;}
  .social_connect a.social_fb:hover { background-position: -1px -48px; }
  .social_connect a.social_li:hover { background-position:  -39px -48px; }
  .social_connect a.social_yt:hover { background-position:  -77px -48px; }
  .social_connect a.social_tw:hover { background-position:  -115px -48px; }

/* end social media links */			
  a img.border { border: 1px solid #008CD6; }

  a:hover img.border { border: 1px solid #d97600; }
  p.spacer  { margin: 6px 0 18px; }
  
 /* Accordion styles */ 
.fmAccordion { margin: 0 0 1em; }
.fmAccordion > div { outline: none; padding: 1em 2.2em; border: 1px solid #d3d3d3; background: #FEFEFE; border-top: 0; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.no-js .fmAccordion > div { display: block !important; outline: none; }
 .fmAccordion > h3 { padding: 0.5em 0.5em 0.5em 1.9em; margin: .2em 0 0; border-radius: 3px; border: 1px solid #D3D3D3; background-color: #efefef; color: #333333; font-weight: bold; min-height: 16px; position: relative;
 background-image: -webkit-linear-gradient(top, #efefef 48%, #e9e9e9 48%, #f2f2f2 78%);
 background-image: -moz-linear-gradient(top, #efefef 48%, #e9e9e9 48%, #f2f2f2 78%);
 background-image: linear-gradient(to bottom, #efefef 48%, #e9e9e9 48%, #f2f2f2 78%);
 }
.ie9 .fmAccordion > h3 { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjQ4IiBzdG9wLWNvbG9yPSIjZWZlZmVmIi8+PHN0b3Agb2Zmc2V0PSIwLjQ4IiBzdG9wLWNvbG9yPSIjZTllOWU5Ii8+PHN0b3Agb2Zmc2V0PSIwLjc4IiBzdG9wLWNvbG9yPSIjZjJmMmYyIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);}
.lt-ie8 .fmAccordion > h3, .lt-ie8 .fmAccordion > h3.active,  .lt-ie8 .fmAccordion > h3:hover { border: 0px;  }
.fmAccordion > h3.active, .fmAccordion > h3:hover { border: 1px solid #447fab; color: #FFFFFF; background-color: #447fab; 
 background-image: -webkit-linear-gradient(top, #447fab 0%, #0a5691 100%);
 background-image: -moz-linear-gradient(top, #447fab 0%, #0a5691 100%);
 background-image: linear-gradient(to bottom, #447fab 0%, #0a5691 100%);
 }
.ie9 .fmAccordion > h3.active, .ie9 .fmAccordion > h3:hover { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjNDQ3ZmFiIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMGE1NjkxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=); }
.fmAccordion > h3.active { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.fmAccordion > h3 > span { height:16px; width:16px; left: 0.4em; margin-top: -8px; position: absolute; top: 50%; background-image: url("../../images/site/ui-icons-sprite.png")/*tpa=http://www.freddiemac.com/images/site/ui-icons-sprite.png*/; background-repeat:no-repeat; background-position:-32px 0px; }
.fmAccordion > h3:hover > span { background-image: url("../../images/site/ui-icons-sprite.png")/*tpa=http://www.freddiemac.com/images/site/ui-icons-sprite.png*/; background-repeat:no-repeat; background-position:-32px -15px; }
.fmAccordion > h3.active > span { background-image: url("../../images/site/ui-icons-sprite.png")/*tpa=http://www.freddiemac.com/images/site/ui-icons-sprite.png*/; background-repeat:no-repeat; background-position:-64px -0px; }
  
}
/*
 *	main left navigation styles (aka "Table of Contents")
 * 	@authors		rob cherny <rcherny@navarts.com>, sherry carrero
*/
@media screen {
#content-toc { float: left; }
#toc-nav {	width: 190px; background-color: #fff;margin: 25px 10px 0px 0;}		
	/* @note  	level 1 */
	#toc-nav ul {}
	#toc-nav li { list-style: none; height: auto !important;height: 1%; background-image: none; }	
	#toc-nav a { display: block; text-decoration: none;	height: auto !important; height: 1%; }
	#toc-nav a:hover, #toc-nav a.on { color: #d97600; text-decoration: none; } 
	#toc-nav ul li { border-bottom: 1px solid #bbb; }
	#toc-nav ul li a { color: #092D5B; padding: 6px 10px 6px 0px;	font-weight: bold;	font-size: 14px; }
	#toc-nav ul li a:hover, #toc-nav ul li a.on { color: #d97600; }
	/* @note	level 2 */
	#toc-nav ul ul {}
	#toc-nav ul ul li { border-top: 1px dotted #bbb; border-bottom: 0px; }
	#toc-nav ul ul li a { color: #333; font-weight: bold; font-size: 12px;padding: 6px 20px 6px 20px;	 }
	#toc-nav ul ul li a.expandedHO {background: transparent url("../../images/site/bullets-sprite.gif")/*tpa=http://www.freddiemac.com/images/site/bullets-sprite.gif*/ no-repeat 4px 6px; 	}
	/* @note	level 3 */
	#toc-nav ul ul ul {}
	#toc-nav ul ul ul li  { border-top: 0px; }
	#toc-nav ul ul ul li a { font-weight: normal;padding: 5px 20px 5px 40px;}
	#toc-nav ul ul ul li a.expanded, #toc-nav ul li ul li ul li a.expandedHO {background: transparent url("../../images/site/bullets-sprite.gif")/*tpa=http://www.freddiemac.com/images/site/bullets-sprite.gif*/ no-repeat 23px 6px; 	}	
	/* 	 * @note	level 4	*/
	#toc-nav ul ul ul ul { background: transparent url("../../images/site/leftnav-level4.gif")/*tpa=http://www.freddiemac.com/images/site/leftnav-level4.gif*/ repeat-y 24px top;	}
	#toc-nav ul ul ul ul li { }
	#toc-nav ul ul ul ul li a {	padding: 4px 20px 4px 50px;	font-size: 11px; }
}

@media screen {
    #nav-main {
		width: 100%;
		margin: 0px 0px 1px;
		padding: 0px;
		position: relative;
		overflow: visible;
	}
	.lt-ie8 #nav-main {	z-index: 20;}
	/* @note	parent level */
	#nav-top  {
		margin: 0;
		padding: 0;
		min-height: 29px;
		position: relative;
		overflow:visible;
		zoom: 1;
	}
    .lt-ie8 #nav-top  {	z-index: 30;}
	#nav-main a {
		text-decoration: none;
	}
	#nav-main a:visited {
		color: #0362AA;
	}
	a.nav-top-item {
		display: block;
		height: 31px;
		text-align: center;
		font-weight: bold;
		font-size: 14.2px;
		padding-top: 5px;
		position: relative;
		border: 0px solid #87C927;
		color: #fff;		
		width: 100%;
		background: #77B021;
		background: -moz-linear-gradient(top,  rgba(119,176,33,1) 0%, rgba(103,155,29,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(119,176,33,1) 0%,rgba(103,155,29,1) 100%);
		background:  linear-gradient(top, rgba(119,176,33,1) 0%,rgba(103,155,29,1) 100%); 
	}
	.ie9 a.nav-top-item {	
	  zoom: 1;	
	  border-bottom: 1px solid #87C927;
	  color: #fff;	
	  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImczMTAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM3N0IwMjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM2NzlCMUQiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2czMTApIiAvPgo8L3N2Zz4=);
	}
	
	#do-biz, #about-fm, #about-ho { 
		width: 33.333333333%;
		min-height: 30px; 
		margin: 0;
		padding: 0;
		float: left;
		background: #04508C;
		zoom: 1;
		overflow: visible;
	}
	.lt-ie9 #do-biz, .lt-ie9 #about-fm, .lt-ie9 #about-ho { 
	  background: #04508C;
	  zoom: 1;
	  -pie-poll:true;
	  behavior: url(../../ss/global/PIE.htc)/*tpa=http://www.freddiemac.com/ss/global/PIE.htc*/;
	}
	#do-biz a.nav-top-item {
		color: #fff;		
		border-width: 1px 1px 1px 0;   
		border-radius: 0px 6px 0px 0px; 
	}
	.lt-ie9 #do-biz a.nav-top-item {
	  color: #fff;		
	  border-width: 1px 1px 1px 0; 
	  border-radius: 0px 6px 0px 0px; 
	  -pie-poll:true;
	  -pie-watch-ancestors:1;
	  behavior: url(../../ss/global/PIE.htc)/*tpa=http://www.freddiemac.com/ss/global/PIE.htc*/;
	}
	#about-fm a.nav-top-item { 
		color: #fff;		
		border-width: 1px; 
		border-radius: 6px 6px 0px 0px;  
	}	
	.lt-ie9 #about-fm a.nav-top-item { 
	  color: #fff;		
	  border-width: 1px;
	  border-radius: 6px 6px 0px 0px;  
	  -pie-poll:true;
	  -pie-watch-ancestors:1;
	  behavior: url(../../ss/global/PIE.htc)/*tpa=http://www.freddiemac.com/ss/global/PIE.htc*/;
	}
	#about-ho a.nav-top-item { 
		color: #fff;			
		border-width:  1px 0 1px 1px;  
		border-radius: 5px 0px 0px 0px; 
	}
	.lt-ie9 #about-ho a.nav-top-item { 	
	  color: #fff;		
	  border-width:  1px 0 1px 1px;
	  border-radius: 6px 0px 0px 0px; 
	  -pie-poll:true;
	  -pie-watch-ancestors:1;
	  behavior: url(../../ss/global/PIE.htc)/*tpa=http://www.freddiemac.com/ss/global/PIE.htc*/;
	}
	#do-biz a.nav-top-item-on, #about-fm a.nav-top-item-on, #about-ho a.nav-top-item-on { 		
		color: #d97600; 
        background: #ffffff;
		border-bottom: 1px solid #ffffff;
	}
	.lt-ie9 #do-biz a.nav-top-item-on, .lt-ie9 #about-fm a.nav-top-item-on, .lt-ie9 #about-ho a.nav-top-item-on { 		
	  color: #d97600 !important;   background: #ffffff;	  border-bottom: 1px solid #ffffff;
	  -pie-poll:true;  -pie-watch-ancestors:1;  behavior: url(../../ss/global/PIE.htc)/*tpa=http://www.freddiemac.com/ss/global/PIE.htc*/;
	}
	.lt-ie9 #do-biz a.nav-top-item-on:hover, .lt-ie9 #about-fm a.nav-top-item-on:hover, 
	.lt-ie9 #about-ho a.nav-top-item-on:hover,.lt-ie9 #do-biz a.nav-top-item-iehover,  
	.lt-ie9 #about-fm a.nav-top-item-iehover, .lt-ie9 #about-ho a.nav-top-item-iehover  { 		
	  border-bottom: 1px solid #F1F1F1;
	  color: #d97600 !important; 
	  background: #F1F1F1;
	  background: linear-gradient(top, rgba(254,254,254,1), rgba(255,255,255,1)); 
	  -pie-poll:true;
	  -pie-watch-ancestors:1;
	  behavior: url(../../ss/global/PIE.htc)/*tpa=http://www.freddiemac.com/ss/global/PIE.htc*/;		
	}
  	.menu-marker {			
		background-image: url("../../images/site/topnav-sprite.png")/*tpa=http://www.freddiemac.com/images/site/topnav-sprite.png*/;
		background-position: 7px -29px;
		background-repeat: no-repeat;
		height: 30px;
		position: absolute;
		top: 1px;	
		width: 30px;
	}
	.lt-ie9 .menu-marker-iehover,  
	.lt-ie9 .menu-marker-on {
	  background-position: 7px 6px;
	  background-repeat: no-repeat;		
	}
	#do-biz .menu-marker {
		left: 293px;	
	}
	#about-fm .menu-marker {
		left: 618px;			
	}
	#about-ho .menu-marker {
		left: 941px;		
	}
	/* @note mega drop downs */
	.mega_menu { 
		clear: left;
		float:left; 
		width: 970px;
		position: absolute;
		left: 0;
		top: 31px;
		z-index: 90;
		padding: 15px 0 0 0;
		border: 0px;
		border-bottom: 5px solid #679B1C;
		margin: 0;
		display:none;
		background: #FFFFFF;
		box-shadow: 0 15px 10px -10px rgba(0,0,0,0.75), inset 0 -10px 20px 1px #F2F2F2, inset 0 20px 20px 1px #F2F2F2;
	}
	.lt-ie9 .mega_menu { overflow:hidden;  zoom:1; background: #EEEEEE;    }    
    .lt-ie8 .mega_menu { padding-bottom: 8px; }    
	.lt-ie9 .mega_menu_iehover {    
	  z-index: 49;
	  display: block;
	  box-shadow: 0px 15px 10px -10px #777777;
	  -pie-poll:true;
	  -pie-watch-ancestors:1;
	  behavior: url(../../ss/global/PIE.htc)/*tpa=http://www.freddiemac.com/ss/global/PIE.htc*/;	
	} 		 
	.ieShadow{
		display:none;
	}
	.lt-ie9 .ieShadow{	
	  float:left;
	  display:block;
	  background:#fff;
	  position:absolute;
	  top:-15px;
	  left:-15px;
	  bottom:20px;
	  right:20px;
	  filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=20);
	  -ms-filter:"progid:DXImageTransform.Microsoft.Blur(pixelradius=20)";
	}
	.lt-ie9 .mega_content{ z-index: 51; position:relative; }
	/* @note mega drop down columns */
	.mega_menu ul { 
		margin: 3px 15px 10px 0;
    	position: relative;
		float: left; 
		width: 308px;
		padding-bottom: 0px;
	}	
	.mega_menu ul.mega_col {
	    border-left: 1px solid #eee;
	}
	#do-biz .mega_menu ul.mega_col, #about-fm .mega_menu ul.mega_col {
		min-height: 215px;
	}
	#about-ho .mega_menu ul.mega_col {
		min-height: 191px;
	}
	.mega_menu ul li {
		min-height: 22px;
		margin: 0px 0px 0px 15px;
		padding: 0px;
		float:  none;
		
	}
	a.mega_01, #nav-main a.mega_01:visited { 
		font-size: 14.2px;
		background-color: #e5e5e5;
		color: #082C5C;
		display: block;
		padding: 2px 2px 2px 12px;
		font-weight: bold;
	}
	#nav-main a.mega_01:hover {
		color: #D97600;
	}
	/* @note content within mega drop down columns */
	.mega_menu ul ul {
		margin: 0 0 0 12px;
		padding: 0px;
		float: none;
		clear: left; 
		width: auto;
	}
	.mega_menu ul ul li {
		padding-left: 11px;
		margin-left: 0px;			
		font-size: 12px;
		background-image: url("../../images/site/topnav-sprite.png")/*tpa=http://www.freddiemac.com/images/site/topnav-sprite.png*/;
		background-position: 0 -63px;
		background-repeat: no-repeat;
		min-height: 17px;
	}
	.mega_menu ul ul li.allLink { 
	  margin-left: 0px; 
	  padding: 7px 0 14px 1px; 
	  background: none; 
	}	
	.mega_menu li.allLink a {
		padding: 0 13px 0 0;					
		background-image: url("../../images/site/topnav-sprite.png")/*tpa=http://www.freddiemac.com/images/site/topnav-sprite.png*/;
		background-position: right -106px;
		background-repeat: no-repeat;
	}
	.mega_menu p.appLink { 
		padding: 0px; 
		margin: 1px 0px 1px 12px; 
		float: left;
		min-height: 75px;
		color: #000000;
		min-width:210px;
	} 
	.mega_menu ul.mega_col .appLink { 
	    margin-left: 0px;
	}
	.mega_menu p a { 
		padding: 1px 0px;
		font-size: 14.2px; 
	}
	#nav-main .mega_menu a:hover { color: #D97600;	}
	.mega_menu p.appLink a.mm_icon { 
		display: block;
		float: left; 
		padding: 0px;
		border: 1px solid #ccc; 
		margin: 0 5px 1px 0;
		height: 71px;
		width: 71px;
		background-image: url("../../images/site/icon_mm_all.png")/*tpa=http://www.freddiemac.com/images/site/icon_mm_all.png*/;	
		background-repeat:no-repeat;
	}
	.mega_menu p.appLink a.mm_1 { background-position: 3px 3px;}
	.mega_menu p.appLink a.mm_2 { background-position: 3px -75px;}
	.mega_menu p.appLink a.mm_3 { background-position: 3px -153px;}
	.mega_menu p.appLink a.mm_4 { background-position: 3px -231px;}
	.mega_menu p.appLink a.mm_5 { background-position: 3px -309px;}
	.mega_menu p.appLink a.mm_6 { background-position: 3px -387px;}
	
  .lt-ie7 span.menu-marker, .lt-ie7 #do-biz span.menu-marker, 
  .lt-ie7 #about-fm span.menu-marker, .lt-ie7 #about-ho span.menu-marker, 
  .lt-ie7 #do-biz:hover span.menu-marker, .lt-ie7 #about-fm:hover span.menu-marker, 
  .lt-ie7 #about-ho:hover span.menu-marker, .lt-ie7 #do-biz:hover .mega_menu, 
  .lt-ie7 #about-fm:hover .mega_menu, .lt-ie7 #about-ho:hover .mega_menu,
  .lt-ie7 #do-biz .menu-marker-on, .lt-ie7 #about-fm .menu-marker-on, 
  .lt-ie7 #about-ho .menu-marker-on,.lt-ie7 .mega_menu_iehover,
  .lt-ie7 .menu-marker-on, .lt-ie7 .mega_menu,
  .lt-ie7 .mega_menu ul ul li, .lt-ie7 .mega_menu li.allLink a,
  .lt-ie7 .mega_menu p.appLink a.mm_icon, .lt-ie7 .mega_menu ul {display: none; background-image: none; }
  .lt-ie7 .mega_content{ display: none; } 	
}
