/**
 * Parts of Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url(../../fonts.googleapis.com/css-family=Istok+Web-500,500italic,700.css)/*tpa=http://fonts.googleapis.com/css?family=Istok+Web:500,500italic,700*/;
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

ol, ul {
  list-style: none; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  color: #333333;
  font-family: 'Istok Web', sans-serif;
  font-weight: 400; }

.navbar {
  margin-bottom: 0;
  border: none; }

h2, h3, h4 {
  color: #003764; }

h3, h3 a {
  font-size: 16px; }

p, a {
  font-size: 12px; }

li a { font-size: inherit; }

a {
  color: #4d4d4d; }

p.social, p.social a {
  color: #666666; }

.fa {
  color: #1a1a1a; }

.bold {
  font-weight: 700; }

.italic {
  font-weight: 400;
  font-style: italic; }

.line-right {
  border-right: 1px solid #aeaeae; }

.line-left {
  border-left: 1px solid #aeaeae; }

.line-bottom {
  border-bottom: 1px solid #aeaeae; }

.line-top {
  border-top: 1px solid #aeaeae; }

.share-btn { float: right; }
.footerLinks { float: right; }
    
@media screen and (max-width: 768px) {
  .line-left, .line-right {
    border-left: none;
    border-right: none; } }
.circle-navy {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #003764;
  margin-right: 5px; }

.circle-green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0e754b;
  margin-right: 5px; }

.circle-red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ea5e2e;
  margin-right: 5px; }

.green, .green:hover, .green:focus {
  color: #0e754b !important; }

.red, .red:hover, .red:focus {
  color: #ea5e2e !important; }

.navy, .navy:hover, .navy:focus {
  color: #003764 !important; }

.white-gray-gradient {
  background-color: #e6e6e6;
  background-image: linear-gradient(to top right, #fff, #e6e6e6); }

.separating-gradient {
  height: 10px;
  background-color: #e6e6e6;
  background-image: linear-gradient(#fff, #e6e6e6); }

.background-gray {
  background-color: #e6e6e6;
  z-index: 1005; }

.preview-fade {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  position: fixed;
  cursor: pointer; }

.btn-rounded {
  border-radius: 30px;
  border-color: #666666;
  background: transparent;
  color: #003764; }
  .btn-rounded i {
    margin-left: 5px; }
  .btn-rounded:hover {
    background-color: #e6e6e6; }

.btn-dropdown {
  border: none;
  background: transparent;
  padding-left: 0px; }

.btn-borderless {
  border: none;
  background: transparent; }
  .btn-borderless:hover {
    background: #e6e6e6; }

.title-block {
  margin-top: 30px; }
  .title-block h1 {
    font-size: 55px;
    font-weight: 400;
    color: #003764; }
  .title-block button {
    margin-top: 10px;
    color: #003764; }
  @media screen and (max-width: 768px) {
    .title-block h1 {
      font-size: 40px; }
    .title-block .share-btn {
      margin-top: 10px; } }

.photo-tile {
  margin-top: 20px;
  padding: 0px;
  border: none;
  position: relative;
  transition: all .2s ease-in-out; }
  .photo-tile img {
    border: 1px solid #e6e6e6;
    width: 100%; }
  .photo-tile .caption {
    height: 120px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    margin-left: 1px;
    top: 55%;
    left: 0;
    width: 99.5%;
    height: 38%;
    padding: 20px 10px 20px 20px; }
    .photo-tile .caption h3 {
      margin-bottom: 5px; }
      .photo-tile .caption h3 a {
        font-weight: 700; }
        .photo-tile .caption h3 a.caret-down:after {
          content: "\f0d7";
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          text-decoration: inherit;
          font-size: 18px;
          padding-left: 10px; }
        .photo-tile .caption h3 a.caret-up:after {
          content: "\f0d8";
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          text-decoration: inherit;
          font-size: 18px;
          padding-left: 10px; }
    .photo-tile .caption p {
      font-size: 13px;
      color: #666666; }
  .photo-tile.caption-preview {
    opacity: 0.8; }
    .photo-tile.caption-preview .caption {
      height: 44.6%; }
  .photo-tile.caption-preview:hover {
    transform: none; }
  .photo-tile:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.005); }
  .photo-tile.photo-tile-no-effects {
    transition: none; }
    .photo-tile.photo-tile-no-effects:hover {
      transform: none;
      opacity: 1;
      cursor: default; }
  @media screen and (max-width: 1200px) {
    .photo-tile .caption h3 a {
      font-size: 14px; }
    .photo-tile .caption p {
      font-size: 11px; } }
  @media screen and (max-width: 768px) {
    .photo-tile .caption {
      padding: 10px; } }

.breadcrumbs span {
  color: #666666;
  font-size: 15px; }
  .breadcrumbs span:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f0da";
    padding-left: 10px;
    padding-right: 5px; }
  .breadcrumbs span.current {
    color: #aeaeae; }
    .breadcrumbs span.current:after {
      content: "";
      padding-left: 0;
      padding-right: 0; }
  .breadcrumbs span:last-child:after {
    content: ""; }
  .breadcrumbs span a {
    cursor: pointer;
    font-size: 15px; }

.circle-bullets ul {
  margin-top: 20px; }
  .circle-bullets ul li {
    color: #666666;
    margin-bottom: 10px; }
    .circle-bullets li:before {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      font-size: 10px;
	  line-height: 20px;
      content: "\f10c";
      padding-right: 25px; }
	  
	  .circle-bullets li { display: flex; }
	  .executive-management .circle-bullets li { display: block; }
	  
@media screen and (max-width: 768px) {
  .share-btn { float: left; }
  .footerLinks { float: left; }
  .circle-bullets {
    margin-top: 40px; }
    .circle-bullets ul {
      margin-top: 0; }
    .circle-bullets .circle-bullets {
      margin-top: 20px; } }

.intro-block {
  margin-top: 20px; }
  .intro-block p {
    color: #666666;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 28px; }
    .intro-block p a {
      font-size: 15px;
      color: #003764; }
  .intro-block img {
    /*width: 100%;*/
    height: auto; }
  .intro-block .caption {
    height: 28%;
    width: 99.9%;
    top: 66%;
    padding: 40px 80px 0; }
    .intro-block .caption h3 a {
      font-weight: 400;
      font-size: 30px; }
    .intro-block .caption p {
      font-size: 14px;
      line-height: 2.3; }
  @media screen and (max-width: 1200px) {
    .intro-block .photo-tile .caption {
      height: 35%; } }
  @media screen and (max-width: 992px) {
  .footerLinks { float: left; }
    .intro-block {
      margin-bottom: 0px; }
      .intro-block .photo-tile .caption {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 20px;
        padding: 0; } }

.heading-links {
  margin-top: 40px; }
  .heading-links.line-top {
    margin-top: 30px;
    padding-top: 20px; }
  .heading-links .title .circle-navy, .heading-links .title .circle-green, .heading-links .title .circle-red {
    margin-top: 8px;
    margin-right: 15px;
    width: 15px;
    height: 15px; }
  .heading-links .title h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 400; }
  .heading-links .links {
    margin-top: 10px;
    float: right; }
    .heading-links .links .fa, .heading-links .links a {
      color: #666666;
      font-size: 16px; }
    .heading-links .links a {
      padding-right: 5px; }
      .heading-links .links a:last-child {
        padding-left: 7px; }
  @media screen and (max-width: 992px) {
    .heading-links .links {
      margin-top: 20px;
      float: none; }
      .heading-links .links a:last-child {
        padding-left: 11px; } }
  @media screen and (max-width: 768px) {
    .heading-links .links .fa {
      display: none; }
    .heading-links .links a:last-child {
      padding-left: 0; } }

.preview-tray {
  display: none;
  background: #e6e6e6;
  position: absolute;
  z-index: 1002;
  top: 0; }
  .preview-tray .row {
    padding-top: 20px;
    margin-bottom: 20px; }
  .preview-tray .row.share-button {
    padding-top: 10px;
    margin-bottom: 0; }
  .preview-tray p {
    margin-top: 10px;
    color: #666666;
    line-height: 20px; }
    .preview-tray p a {
      color: #003764; }
  .preview-tray ul {
    padding-bottom: 20px; }
    .preview-tray ul li {
      margin-left: 10px;
      margin-top: 10px; }
      .preview-tray ul li a {
        color: #003764; }
  .preview-tray .more-link {
    margin-top: 20px;
    line-height: 1.1;
    color: #4d4d4d;
    font-size: 18px;
    text-align: right; }
    .preview-tray .more-link:after {
      content: "\f0da";
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      font-size: 18px;
      padding-left: 5px; }
  .preview-tray .dropdown-menu {
    z-index: 1005; }

.leadership .heading-links {
  position: relative; }
  .leadership .heading-links .links a, .leadership .heading-links .links i {
    color: #666666;
    font-size: 16px; }
.leadership ul {
  clear: both; }

.jabil-timeline {
  width: 100%;
  height: 10%;
  margin-top: 20px;
  margin-bottom: 20px; }
  .jabil-timeline .timeline-circle {
    fill: rgba(255, 255, 255, 0);
    stroke-width: 1px;
    stroke: #666666; }
  .jabil-timeline .timeline-line {
    stroke: #949494;
    stroke-width: 1px; }
  .jabil-timeline .timeline-text-bold {
    font-size: 20px;
    fill: #003764;
    font-weight: 700; }
  .jabil-timeline .timeline-text {
    font-size: 16px;
    fill: #4d4d4d; }

.locations .locations-background {
  position: relative; }
.locations .locations-text {
  position: absolute;
  top: 54%;
  left: 37%;
  width: 50%; }
  .locations .locations-text h1 {
    font-weight: 400;
    font-size: 37px; }
  .locations .locations-text p {
    font-size: 14px;
    line-height: 2.0;
    margin-top: 20px;
    margin-bottom: 20px; }
@media screen and (max-width: 1200px) {
  .locations .locations-text {
    top: 40%; } }
@media screen and (max-width: 992px) {
  .locations .locations-text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px; } }

.subscribe {
  padding-top: 20px;
  padding-bottom: 20px; }
  .subscribe.subscribe-blue {
    background: #084e79;
    background-image: linear-gradient(#084e79, #06324d); }
  .subscribe.subscribe-green {
    background: #139a62;
    background-image: linear-gradient(#139a62, #09472d); }
  .subscribe h1 {
    font-size: 40px;
    font-style: italic; }
    .subscribe h1 a {
      color: #fff;
      font-size: 40px; }
      .subscribe h1 a i {
        margin-left: 10px;
        color: #fff; }
  .subscribe p {
    margin-top: 7px;
    font-size: 25px;
    color: #fff; }
  @media screen and (max-width: 768px) {
    .subscribe .pull-right {
      float: none !important; }
    .subscribe p {
      line-height: 1.1; } }

header .header-stock .stock-symbol {
  color: #4d4d4d; }
header .header-stock .stock-price {
  font-weight: 700; }

header .header-stock .stock-diff-same {
  color: #4d4d4d; }
header .header-stock .stock-diff-up {
  color: green; }
header .header-stock .stock-diff-down {
  color: red; }
header .header-upper {
  padding-top: 5px;
  padding-bottom: 8px;
  background-color: #e6e6e6;
  background-image: linear-gradient(#fff, #e6e6e6); }
  header .header-upper #header-upper-links {
    margin-top: 3px;
    text-align: center; }
    header .header-upper #header-upper-links a {
      font-size: 13px;
      color: #333333; }
  header .header-upper .header-stock {
    margin-top: 3px; }
  header .header-upper #i18n .btn {
    padding: 5px 0 0 5px;
    margin: 0; }
    header .header-upper #i18n .btn span {
      font-size: 12px; }
    header .header-upper #i18n .btn i {
      padding-left: 2px; }
  header .header-upper #i18n .dropdown-menu {
    z-index: 1001; }
  @media screen and (max-width: 768px) {
    header .header-upper .header-stock {
      padding-top: 5px; }
      header .header-upper .header-stock .pull-right {
        font-size: 10px;
        float: none !important; }
    header .header-upper #header-upper-links {
      padding-left: 0; }
      header .header-upper #header-upper-links a {
        font-size: 10px; } }
header .header-lower {
  background-color: white; }
  header .header-lower #jabil-logo {
    width: 145px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
margin-top: 10px;  }
  header .header-lower .dropdown-toggle {
    margin: 15px 0;
    padding: 5px; }
  header .header-lower .navbar-form {
    padding-top: 0;
    padding-bottom: 0; }
  header .header-lower .navbar-brand {
    height: auto; }
  header .header-lower .drawer-dropdown.dropdown-menu {
    min-width: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    margin: 10px 0;
    padding: 0; }
  header .header-lower .navbar-form {
    border: none;
    margin-top: 17px; }
  header .header-lower .nav-search {
    padding: 3px;
    margin-right: 10px; }
  @media screen and (max-width: 768px) {
    header .header-lower .nav-search {
      margin-left: 10px !important;
      margin-right: 4px !important; } }
header .header-drawer {
  margin-top: 30px;
  margin-bottom: 20px; }
  header .header-drawer ul li {
    margin-bottom: 10px;
    line-height: 1; }
  header .header-drawer #jabil-cares {
    margin-top: 30px; }
  header .header-drawer #nypro {
    margin-top: 20px; }
  header .header-drawer #header-contact-icons {
    margin-top: 50px; }
    header .header-drawer #header-contact-icons .lower-row {
      margin-top: 10px; }
  header .header-drawer h3 {
    margin-bottom: 35px; }
  header .header-drawer .header-drawer-title {
    margin-top: 10px;
    margin-bottom: 15px; }
  header .header-drawer .header-stock {
    margin-top: 20px; }
  header .header-drawer .header-circle-title {
    font-size: 13px;
    margin-bottom: 15px; }
    header .header-drawer .header-circle-title .circle-green, header .header-drawer .header-circle-title .circle-red, header .header-drawer .header-circle-title .circle-navy {
      margin-top: 2px; }
  @media screen and (max-width: 992px) {
    header .header-upper #header-upper-links {
    text-align: left; }
    header .header-drawer {
      margin-top: 10px; }
      header .header-drawer #green-point, header .header-drawer #solutions, header .header-drawer #why-jabil, header .header-drawer #header-drawer-contact {
        margin-top: 20px; } }

footer {
  background-color: #e6e6e6;
  background-image: linear-gradient(to top right, #fff, #e6e6e6); }
  footer .footer-upper {
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #bbb; }
    footer .footer-upper h3 {
      padding-bottom: 20px; }
  footer .footer-social ul li {
    padding-bottom: 20px; }
  footer .footer-social .footer-social-links, footer .footer-social .footer-social-links a {
    font-size: 10px;
    color: #949494; }
  footer #footer-learn-more ul li {
    padding-bottom: 10px; }
  footer #footer-twitter h3 i {
    padding-right: 5px; }
  footer #footer-infographic img {
    margin-bottom: 20px; }
  footer #footer-infographic p {
    color: #666666; }
    footer #footer-infographic p a {
      color: #003764; }
  footer #footer-contact #footer-contact-form .form-group {
    margin-bottom: 5px; }
  footer #footer-contact #footer-contact-form button[type='submit'] {
    margin-top: 10px; }
  footer #footer-contact #footer-contact-icons {
    margin-top: 20px; }
    footer #footer-contact #footer-contact-icons .lower-row {
      margin-top: 20px; }
  footer .footer-lower {
    margin-top: 15px;
    margin-bottom: 15px; }
  @media screen and (max-width: 768px) {
    footer .footer-social {
      margin-top: 20px; }
    footer #footer-contact {
      margin-top: 20px; }
    footer .lower-row {
      margin-top: 40px; } }

.industry-sub-about {
  margin-top: 20px;
  margin-bottom: 40px; }
  .industry-sub-about h2 {
    color: #003764;
    font-weight: 400;
    font-size: 25px; }

.featured-videos {
  padding-bottom: 30px; }
  .featured-videos h2 {
    color: #333333;
    font-weight: 400;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px; }
  .featured-videos p {
margin: 20px 10px 10px;
}
  @media screen and (max-width: 768px) {    
    .featured-videos .video-container {
      margin-top: 40px; } }

.industry-marketing {
  padding-top: 40px; }
  .industry-marketing h2 {
    color: #003764;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 10px; }

.industry-from-blog {
  padding-top: 40px;
  margin-bottom: 40px; }
  .industry-from-blog h2 {
    color: #333333;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px; }
  .industry-from-blog .blog-snippet h3 a {
    color: #003764;
    font-size: 18px; }
  .industry-from-blog .blog-snippet p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px; }
    .industry-from-blog .blog-snippet p a {
      color: #003764; }
  .industry-from-blog .blog-snippet .tags {
    margin-top: 10px; }
    .industry-from-blog .blog-snippet .tags a {
      color: #003764; }
  @media screen and (max-width: 768px) {
    .industry-from-blog .blog-snippet {
      margin-top: 20px; } }

.industry-block {
  position: relative; }

.executive-management .pills, .leadership .pills {
  margin-top: 20px; }
  .executive-management .pills a, .leadership .pills a {
    margin-top: 30px; }
  .executive-management .pills.return-top, .leadership .pills.return-top {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center; }
.executive-management .heading-links h1, .leadership .heading-links h1 {
  color: #003764; }
.executive-management .photo-tile .caption, 
.leadership .photo-tile .caption {
top: 70%;
height: 73px;
padding: 10px;
}
.leadership.expertise .photo-tile .caption {
	height: 175px;
	padding-bottom: 0;
}
.leadership.expertise .photo-tile .caption p {
	margin-top: 10px;
}
.executive-management .officers-list, .leadership .officers-list {
  margin-top: 20px; }
  .executive-management .officers-list .line-bottom, .leadership .officers-list .line-bottom {
    padding-bottom: 10px; }
  .executive-management .officers-list ul li p, .leadership .officers-list ul li p {
    margin-left: 40px; }
@media screen and (max-width: 992px) {
  .executive-management .pills a, .leadership .pills a {
    width: 100%; } }
@media screen and (max-width: 768px) {
  .executive-management .officers-list .line-bottom, .leadership .officers-list .line-bottom {
    margin-top: 10px;
    margin-bottom: 10px; } }

.intro-block {
  margin-bottom: 20px; }

.recognition-block {
  padding-top: 40px; }
  .recognition-block p {
    color: #666666;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 28px; }
    .recognition-block p a {
      font-size: 15px;
      color: #003764; }
  .recognition-block .recognition-titles h3 {
    margin-bottom: 10px;
    color: #666666; }
  .recognition-block .recognition-titles h2 {
    color: #003764;
    font-size: 25px;
    margin-bottom: 20px; }
  .recognition-block .photo-tile {
    margin: 0 30px 20px 0;
    padding: 0;
    width: 320px;
    height: 250px;
    cursor: default; }
    .recognition-block .photo-tile:hover {
      transform: none;
      opacity: 1; }
    .recognition-block .photo-tile img {
      border: none;
      width: 320px;
      height: 250px; }
    .recognition-block .photo-tile .caption {
      top: 60%;
      height: 60px;
      padding-top: 15px;
      margin: 0;
      width: 100%; }
      .recognition-block .photo-tile .caption h3 {
        margin: 0; }
      .recognition-block .photo-tile .caption p {
        line-height: 20px; }
  @media screen and (max-width: 768px) {
    .recognition-block .photo-tile {
      float: none !important;
      margin: 0 0 20px 0;
      padding: 0;
      width: 100%; }
    .recognition-block .recognition-titles h2 {
      font-size: 20px; } }

.recognition-profiles {
  margin-top: 20px;
  margin-bottom: 30px; }
  .recognition-profiles h2 {
    font-size: 20px;
    font-weight: 400;
    color: #4d4d4d; }
  .recognition-profiles .filter span {
    color: #4d4d4d; }
  .recognition-profiles .filter button {
    color: #003764;
    background-color: white; }
  @media screen and (max-width: 768px) {
    .recognition-profiles .filter {
      padding-top: 10px;
      float: none !important; } }
  .recognition-profiles .employee-profile {
    margin-top: 20px;
    border: 1px solid #e6e6e6; }
    .recognition-profiles .employee-profile img {
      width: 110px;
      height: 110px;
      margin-right: 30px; }
    .recognition-profiles .employee-profile .profile-heading {
      margin-top: 30px; }
      .recognition-profiles .employee-profile .profile-heading h3 {
        margin-bottom: 5px; }
  .recognition-profiles .pills {
    margin-top: 20px; }
    .recognition-profiles .pills a {
      margin-top: 30px; }
    .recognition-profiles .pills.return-top {
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: center; }

.why-jabil .main-video .photo-tile .caption {
  height: 28%;
  width: 99.8%;
  top: 134%;
  padding: 40px 80px 0; }
  .why-jabil .main-video .photo-tile .caption h3 a {
    font-weight: 400;
    font-size: 30px; }
  .why-jabil .main-video .photo-tile .caption p {
    font-size: 14px;
    line-height: 2.3; }
@media screen and (max-width: 1200px) {
  .why-jabil .main-video .photo-tile .caption {
    padding: 30px 40px 0px; } }
@media screen and (max-width: 992px) {
  .why-jabil .main-video {
    margin-bottom: 0px; }
    .why-jabil .main-video .photo-tile .caption {
      position: relative;
      top: 0;
      left: 0;
      margin-top: 20px;
      padding: 0; } }
.why-jabil .video-group {
  padding-bottom: 40px; }
  .why-jabil .video-group .video-container {
    transition: all .2s ease-in-out;
    padding-left: 4px;
     }
     @media screen and (max-width: 768px) {
     .why-jabil .video-group .video-container {
    padding-left: 15px;
     }
     }
    .why-jabil .video-group .video-container:hover {
      opacity: 0.7;
      cursor: pointer;
      transform: scale(1.005); }
    .why-jabil .video-group .video-container.video-active {
      opacity: 0.2;
      cursor: default;
      transform: none; }
    .why-jabil .video-group .video-container .video-content {
      display: none; }
  .why-jabil .video-group h2 {
    color: #333333;
    font-weight: 400;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px; }
  .why-jabil .video-group img {
    border: 1px solid #e6e6e6;
    margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .why-jabil .video-group .video-container {
      margin-top: 40px; }
      .why-jabil .video-group .video-container.video-active {
        opacity: 1; }
      .why-jabil .video-group .video-container:hover {
        opacity: 1;
        transform: none; }
      .why-jabil .video-group .video-container .video-title {
        font-size: 14px;
	font-weight: 400;
	padding: 16px 10px 28px;
	border-bottom: 1px solid #d8d8d8;
} }
.why-jabil .industries-solutions .content {
  margin-top: 30px;
  margin-bottom: 30px; }
  .why-jabil .industries-solutions .content h2 a {
    font-size: 25px; }
  .why-jabil .industries-solutions .content ul li {
    margin-top: 10px; }
    .why-jabil .industries-solutions .content ul li a {
      font-size: 13px; }
.why-jabil .industries-solutions .circle-title {
  margin-top: 20px; }
  .why-jabil .industries-solutions .circle-title .circle-green, .why-jabil .industries-solutions .circle-title .circle-red, .why-jabil .industries-solutions .circle-title .circle-navy {
    margin-top: 4px; }
  .why-jabil .industries-solutions .circle-title a {
    font-size: 15px; }
@media screen and (max-width: 992px) {
  .why-jabil .industries-solutions .solutions {
    margin-top: 20px; } }

@media screen and (max-width: 768px) {
  .brand-overview .industry-block {
    margin-top: 0px; } }

.homepage .insights-outlooks .heading-links .title h1 {
  color: #003764; }
.homepage .tiles .tile-no-top-pad {
  margin-top: 2.5px; }
.homepage .tiles .tile-no-bottom-pad {
  margin-bottom: 2.5px; }
.homepage .tiles .photo-tile img {
  border: none; }
.homepage .tiles .photo-tile .caption {
  width: 100%;
  margin: 0; }
.homepage .tiles .small-tiles .photo-tile:first-child {
  margin-bottom: 5px; }
.homepage .tiles .small-tiles .photo-tile:nth-child(2) {
  margin-top: 0; }
.homepage .tiles .small-tiles .photo-tile .caption {
  padding-top: 10px;
  padding-right: 30px; }
  .homepage .tiles .small-tiles .photo-tile .caption h3 {
    color: #003764;
    font-size: 16px; }
    .homepage .tiles .small-tiles .photo-tile .caption h3 a {
      color: #003764;
      font-size: 16px;
      font-weight: 400; }
.homepage .tiles .expert-tile {
  border-top: 5px solid #0e754b;
  border-bottom: 5px solid #0e754b; }
  .homepage .tiles .expert-tile img {
    width: 48%;
    margin-right: 20px; }
  .homepage .tiles .expert-tile .caption {
    padding-top: 20px; }
    .homepage .tiles .expert-tile .caption h3 {
      color: #666666;
      font-size: 12px;
      margin-left: 10px; }
    .homepage .tiles .expert-tile .caption h2 {
      font-size: 20px; }
      .homepage .tiles .expert-tile .caption h2 a {
        color: #003764;
        font-size: 20px;
        font-weight: 400; }
    .homepage .tiles .expert-tile .caption p {
      color: #666666;
      font-size: 12px; }
@media screen and (max-width: 1200px) {
  .homepage .tiles .small-tiles .photo-tile .caption {
    padding-top: 10px; }
    .homepage .tiles .small-tiles .photo-tile .caption h3 {
      color: #003764;
      font-size: 14px; }
      .homepage .tiles .small-tiles .photo-tile .caption h3 a {
        color: #003764;
        font-size: 14px;
        font-weight: 400; } }
@media screen and (max-width: 992px) {
  .homepage .tiles .expert-tile .caption {
    padding-top: 10px; }
    .homepage .tiles .expert-tile .caption h2 a {
      font-size: 14px; }
    .homepage .tiles .expert-tile .caption h3 {
      font-size: 12px; }
    .homepage .tiles .expert-tile .caption p {
      font-size: 8px; }
  .homepage .tiles .large-tiles .caption {
    padding: 10px;
    height: 38%; }
    .homepage .tiles .large-tiles .caption h3 a {
      font-size: 12px; }
    .homepage .tiles .large-tiles .caption p {
      font-size: 10px; }
  .homepage .tiles .small-tiles .photo-tile .caption {
    padding: 5px; }
    .homepage .tiles .small-tiles .photo-tile .caption h3 {
      font-size: 12px; } }
@media screen and (min-width: 769px) {
  .homepage .tiles .sm-no-right-pad {
    padding-right: 2.5px; }
  .homepage .tiles .sm-no-left-pad {
    padding-left: 2.5px; } }
@media screen and (max-width: 768px) {
  .homepage .tiles .small-tiles .photo-tile .caption {
    padding-top: 5px; }
    .homepage .tiles .small-tiles .photo-tile .caption h3 a {
      font-size: 14px; }
  .homepage .tiles .photo-tile .caption {
    padding-top: 5px; }
    .homepage .tiles .photo-tile .caption.push-xs {
      position: relative; } }
.homepage .why-choose-jabil {
  margin-bottom: 20px; }
  .homepage .why-choose-jabil .last-tweet {
    margin-bottom: 20px; }
    .homepage .why-choose-jabil .last-tweet .latest {
      color: #4d4d4d;
      font-size: 12px; }
    .homepage .why-choose-jabil .last-tweet .tweet-content {
      color: #949494;
      font-size: 10px; }
      .homepage .why-choose-jabil .last-tweet .tweet-content a {
        color: #949494; }
    .homepage .why-choose-jabil .last-tweet .time-ago {
      color: #aeaeae;
      font-size: 10px; }
  .homepage .why-choose-jabil .target {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    width: 20px; }
  .homepage .why-choose-jabil .dots {
    margin-bottom: 20px; }
    .homepage .why-choose-jabil .dots div div {
      display: block;
      margin-left: auto;
      margin-right: auto; }
  .homepage .why-choose-jabil .dot-slider {
    margin-top: 100px;
    margin-bottom: 30px; }
    .homepage .why-choose-jabil .dot-slider h1 {
      font-size: 36px;
      color: #003764;
      margin-bottom: 20px; }
    .homepage .why-choose-jabil .dot-slider p {
      color: #666666;
      font-size: 15px;
      margin-bottom: 20px;
      line-height: 28px; }
    .homepage .why-choose-jabil .dot-slider .dot-slider-container {
      display: none; }
    .homepage .why-choose-jabil .dot-slider .dot-slider-container-active {
      display: block; }
  @media screen and (max-width: 992px) {
    .homepage .why-choose-jabil .dot-slider {
      margin-top: 20px; } }

.blog-detail .tag-filter, .blog-landing .tag-filter {
  font-weight: 400; }
  .blog-detail .tag-filter .row, .blog-landing .tag-filter .row {
    padding-top: 20px;
    padding-bottom: 20px; }
  .blog-detail .tag-filter button, .blog-landing .tag-filter button {
    font-size: 18px; }
  .blog-detail .tag-filter i, .blog-landing .tag-filter i {
    color: #333333; }
  .blog-detail .tag-filter h3, .blog-landing .tag-filter h3 {
    margin-top: 10px;
    font-size: 18px; }
    .blog-detail .tag-filter h3 a, .blog-landing .tag-filter h3 a {
      font-size: 18px;
      color: #003764; }
      .blog-detail .tag-filter h3 a i, .blog-landing .tag-filter h3 a i {
        color: #003764; }
  .blog-detail .tag-filter a, .blog-landing .tag-filter a {
    color: #003764;
    font-size: 14px; }
  .blog-detail .tag-filter .receive-updates, .blog-landing .tag-filter .receive-updates {
    text-align: center; }
    @media screen and (max-width: 768px) {
      .blog-detail .tag-filter .receive-updates, .blog-landing .tag-filter .receive-updates {
        margin-top: 15px; }
        .blog-detail .tag-filter .receive-updates button, .blog-landing .tag-filter .receive-updates button {
          width: 100%; } }
  .blog-detail .tag-filter .social-icons a, .blog-landing .tag-filter .social-icons a {
    margin-left: 15px; }
    .blog-detail .tag-filter .social-icons a:first-child, .blog-landing .tag-filter .social-icons a:first-child {
      margin-left: 0; }
    .blog-detail .tag-filter .social-icons a i, .blog-landing .tag-filter .social-icons a i {
      margin-top: 5px; }
  @media screen and (max-width: 992px) {
    .blog-detail .tag-filter .social-icons, .blog-landing .tag-filter .social-icons {
      float: none !important; }
      .blog-detail .tag-filter .social-icons a, .blog-landing .tag-filter .social-icons a {
        margin-left: 3%; }
        .blog-detail .tag-filter .social-icons a:first-child, .blog-landing .tag-filter .social-icons a:first-child {
          margin-left: 0; } }
  @media screen and (max-width: 768px) {
    .blog-detail .tag-filter .social-icons, .blog-landing .tag-filter .social-icons {
      margin-top: 15px;
      text-align: center; }
      .blog-detail .tag-filter .social-icons a, .blog-landing .tag-filter .social-icons a {
        margin-left: 8%; }
        .blog-detail .tag-filter .social-icons a:first-child, .blog-landing .tag-filter .social-icons a:first-child {
          margin-left: 0; } }
  .blog-detail .tag-filter .tags, .blog-landing .tag-filter .tags {
    margin-top: 10px;
    padding-top: 10px; }
.blog-detail .blog-post .blog-text h1, .blog-landing .blog-post .blog-text h1 {
  font-size: 25px; }
  .blog-detail .blog-post .blog-text h1 a, .blog-landing .blog-post .blog-text h1 a {
    font-size: 25px;
    font-weight: 400;
    color: #003764; }
.blog-detail .blog-post .blog-text .post-metadata, .blog-landing .blog-post .blog-text .post-metadata {
 /* Removed overflow: auto; */
  color: #003764;
  margin-top: 10px;
  font-style: italic;
  padding-bottom: 5px; }
  .blog-detail .blog-post .blog-text .post-metadata {
  margin-bottom: 20px;
  padding-bottom: 10px;
  }
  .blog-detail .blog-post .blog-text .post-metadata p, .blog-landing .blog-post .blog-text .post-metadata p {
    margin-top: 0;
    font-size: 12px; }
  .blog-detail .blog-post .blog-text .post-metadata a, .blog-landing .blog-post .blog-text .post-metadata a {
    color: #003764; }
  .blog-detail .blog-post .blog-text .post-metadata button, .blog-landing .blog-post .blog-text .post-metadata button {
    padding: 0;
    margin: 0;
    font-size: 12px; }
.blog-detail .blog-post .blog-text p, .blog-landing .blog-post .blog-text p {
  font-size: 14px;
  color: #666666;
  margin-top: 10px;
  line-height: 2.0; }
  .blog-detail .blog-post .blog-text p a, .blog-landing .blog-post .blog-text p a {
    color: #003764; }
.blog-detail .blog-post .blog-text .tags, .blog-landing .blog-post .blog-text .tags {
  margin-top: 20px;
  margin-bottom: 20px; }
  .blog-detail .blog-post .blog-text .tags a, .blog-landing .blog-post .blog-text .tags a {
    font-size: 15px;
    color: #003764; }

.blog-detail .title-block h1 {
  font-size: 46px; }
.blog-detail .blog-detail-post.blog-post {
  margin-top: 30px; }
  .blog-detail .blog-detail-post.blog-post .tags {
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: normal; }
  .blog-detail .blog-detail-post.blog-post .blog-image {
    padding-right: 40px;
    padding-bottom: 20px;
    }
.blog-detail .blog-video {
  margin-top: 20px;
  margin-bottom: 20px; }
  .blog-detail .blog-video p {
    margin-top: 20px;
    color: #666666; }
  .blog-detail .blog-video a {
    color: #003764; }
.blog-detail .pills {
  padding-top: 30px;
  padding-bottom: 30px; 
  margin-top: 20px;}
  .blog-detail .pills a {
    font-size: 16px; }
  .blog-detail .pills .blog-home {
    text-align: center; }
  @media screen and (max-width: 768px) {
    .blog-detail .pills a {
      margin-top: 10px;
      width: 100%; } }
.blog-detail .comment-block .comment-form {
  padding-top: 40px;
  margin-bottom: 40px; }
  .blog-detail .comment-block .comment-form .number-comments {
    margin-bottom: 20px; }
    .blog-detail .comment-block .comment-form .number-comments h2 {
      font-size: 24px; }
    .blog-detail .comment-block .comment-form .number-comments .fa-stack {
      margin-right: 10px;
      margin-top: -3px;
      font-size: 18px; }
.blog-detail .comment-block .form-control {
  height: 50px; }
.blog-detail .comment-block textarea {
  resize: none; }
  .blog-detail .comment-block textarea.form-control {
    height: auto; }
.blog-detail .comments {
  padding-top: 40px;
  margin-bottom: 40px; }
  .blog-detail .comments .comment {
    margin-top: 30px; }
    .blog-detail .comments .comment:first-child {
      margin-top: 0; }
  .blog-detail .comments .comment-info a {
    font-weight: 700;
    font-size: 14px;
    color: #003764; }
  .blog-detail .comments .comment-info span {
    color: #949494; }
  .blog-detail .comments p {
    margin-top: 7px;
    color: #666666;
    font-size: 14px;
    line-height: 1.8; }

.blog-landing .title-block {
  margin-bottom: 20px; }
.blog-landing .blog-landing-post {
  padding-bottom: 20px; }
  .blog-landing .blog-landing-post .row.line-top {
    padding-top: 40px; }
  .blog-landing .blog-landing-post.white-gray-gradient .row {
    padding-top: 40px; }
  .blog-landing .blog-landing-post .blog-image img {
    border: 1px solid #e6e6e6; }
  .blog-landing .blog-landing-post .blog-image p {
    color: #666666;
    margin-top: 20px; }
    .blog-landing .blog-landing-post .blog-image p.caption {
      font-size: 12px; }
  .blog-landing .blog-landing-post .blog-image a.image-credit {
    font-size: 12px;
    color: #003764; }
.blog-landing .show-more-posts .row.line-top {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px; }
  .blog-text img, .blog-image img {
    max-width: 100%;
}
.blog-detail .blog-image.col-md-5.col-sm-12 {
  padding-left: 0;
 }
.blog-detail .blog-post .blog-text p a, .blog-landing .blog-post .blog-text p a {
    font-size: 14px;
}
 
  /*Don't Overwrite*/
  p.Bullet {
       margin-top: 15px;
   color: #003764;
   font-weight: 400;
}

.intro-block ul, .blog-text ul {
       font-family: "Istok Web",sans-serif;
       font-size: 15px;
   color: #666666;
}

.intro-block li, .blog-text li {
    line-height: 18px;
    list-style: disc outside none;
    margin: 8px 30px;
}

.intro-block li:first-child, .blog-text li:first-child { margin-top: 5px; }
.intro-block li:last-child, .blog-text li:last-child { margin-bottom: 15px; }

.share-btn ul.dropdown-menu.dropdown-menu-right {
    min-width: 110px;
}
.homepage .why-choose-jabil {
margin-bottom: 20px;
margin-top: 60px;
}

.intro-block .caption {
height: 10%;
width: auto;
top: 80%;
padding: 20px;
}

.intro-block #image-grid img {
width: 110px;
height: 110px;
margin: 6px;
border: 1px solid #d8d8d8;
}
.blog-post h1 {
    color:  #003764;
}
.large-tiles .caption.push-xs {
    height: 30%;
    top: 67%;
}
.executive-management .photo-tile .caption, .leadership .photo-tile .caption {
    position: inherit;
    top: 0;
    height: 77px;
}
.why-choose-jabil p a {
    font-size: inherit;
    color: #003764;
    text-decoration: underline;
}
.why-choose-jabil p a:hover {
    text-decoration: none;
}
#rrr-archive {
padding: 24px 0 32px;
}
#archive-content .nav-tabs li {
width: 20%;
text-align: center;
}
.mobile-timeline .list-group {
    margin: 40px 0 0;
}
.mobile-timeline li.list-group-item {
    font-size: 13px;
}
.mobile-timeline li span {
    text-transform: sentance;
    letter-spacing: 1px;
    font-weight: 700;
    color: #003764;
    font-size: 15px;
}

/*** Main Nav Search bar ***/
.sb-search {
    position: relative;
    margin-top: 10px;
    margin-right: 20px;
    width: 0%;
    min-width: 40px;
    max-width: 40%;
    height: 34px;
    float: right;
    overflow: hidden;
 
    -webkit-transition: width 0.2s;
    -moz-transition: width 0.2s;
    transition: width 0.2s;
 
    -webkit-backface-visibility: hidden;
}
.mb-search {
    padding: 12px 10px 12px;
    background-color: #e6e6e6;
background-image: linear-gradient(#fff, #e6e6e6);
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: 0px solid ;
    outline: none;
    background: #fff;
    width: 100%;
    height: 34px;
    margin: 0;
    z-index: 10;
    padding: 12px 65px 10px 20px;
    font-family: inherit;
    color: inherit;
}
 
input[type="search"].sb-search-input,
input[type="search"].mb-search-input {
    -webkit-border-radius: 20px;
    -moz-box-border-radius: 20px;
    border-radius: 20px;

}

.navbar-form .form-control.sb-search-input, .form-control.mb-search-input {
    width: 100%;

    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.sb-icon-search,
.sb-search-submit,
.mb-icon-search,
.mb-search-submit  {
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    right: 0;
    top: 1px;
    padding: 0;
    margin: 0;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.mb-icon-search,
.mb-search-submit {
    right: 11px;
    top: 13px;
}

.sb-search-submit, .mb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
    display: none;
}

.sb-icon-search, .mb-icon-search {
    background: #fff;
    z-index: 90;
    font-size: 20px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    border: 2px solid;
    border-radius: 20px;
}

.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-search-input,
.no-js .sb-search .sb-search-input {
    border: 1px solid #ccc;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search,
.mb-search.mb-search-open .mb-icon-search {
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit, .mb-search-submit {
    z-index: 90;
}
.sb-search.sb-search-open .sb-search-submit.go-search,
.no-js .sb-search .sb-search-submit.go-search {
    display: block;
}
#hamburger span {
    position: relative;
    top: -4px;
    letter-spacing: 1px;
    padding-left: 6px;
}
button#hamburger {
    border: 1px solid;
    border-radius: 40px;
    padding: 2px 15px 0 18px;
    margin-top: 18px;
}
@media screen and (max-width: 768px) {
	button#hamburger {
    border: none;
    border-radius: 4px;
    padding: 9px 10px;
}
}
.cta {
margin-top: 35px;
}
/*** End Main Nav Search bar ***/

.show-more-posts .row.line-top {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px; }

/** Search results 11-20-14 **/

.search-results .title-block h1 {
  font-size: 48px; }
.search-results .results-summary {
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 40px; }
  .search-results .results-summary p.results-count {
    color: #4d4d4d;
    font-size: 16px; }
  .search-results .results-summary .results-types {
    margin-top: 10px; }
  .search-results .results-summary a {
    font-size: 14px;
    color: #003764;
    padding-right: 15px; }
    .search-results .results-summary a:first-child {
      padding-left: 0; }
    .search-results .results-summary a.active {
      color: #949494;
      pointer-events: none;
      cursor: default; }
.search-results .search-filter .row {
  position: relative; }
.search-results .search-filter .container {
  padding-top: 20px;
  padding-bottom: 20px; }
.search-results .search-filter .row .background-gray {
  background: rgba(255, 255, 255, 0); }
.search-results .search-filter #search-filter-toggle {
  cursor: pointer;
  color: #003764; }
.search-results .search-filter .preview-tray {
  margin-top: 24px;
  background-color: #e6e6e6;
  background-image: linear-gradient(to top right, #fff, #e6e6e6); }
  .search-results .search-filter .preview-tray .checkbox .group {
    margin-left: 5px;
    margin-top: 3px; }
    .search-results .search-filter .preview-tray .checkbox .group .circle-navy {
      margin-top: 3px; }
  .search-results .search-filter .preview-tray .solutions, .search-results .search-filter .preview-tray .technologies {
    margin-top: 30px; }
  .search-results .search-filter .preview-tray .show-all {
    margin-left: 15px;
    font-size: 16px; }
.search-results .search-filter h3 {
  margin-top: 10px;
  font-size: 18px; }
  .search-results .search-filter h3 a {
    font-size: 18px;
    color: #003764; }
    .search-results .search-filter h3 a i {
      color: #003764; }
.search-results .search-filter .filter button {
  color: #003764; }
@media screen and (max-width: 768px) {
  .search-results .search-filter .filter {
    margin-top: 10px;
    float: none !important; } }
.search-results .search-result {
  margin-bottom: 40px; }
  .search-results .search-result.search-result-dark {
    margin-bottom: 0;
    padding-bottom: 40px; }
  .search-results .search-result .row:first-child {
    padding-top: 40px; }
  .search-results .search-result .row:last-child {
    margin-top: 20px; }
  .search-results .search-result img {
    border: 1px solid #e6e6e6;
    margin-bottom: 10px; }
  .search-results .search-result .download {
    text-align: center; }
    .search-results .search-result .download img {
      margin-bottom: 0;
      border: none; }
    .search-results .search-result .download a {
      margin-top: 10px; }
  @media screen and (max-width: 768px) {
    .search-results .search-result .download {
      margin-bottom: 10px; }
      .search-results .search-result .download img {
        height: 100px;
        float: left; } }
  .search-results .search-result .result-title h1 {
    color: #003764;
    font-size: 22px;
    font-weight: 400; }
  .search-results .search-result .result-title a {
    margin-top: 5px;
    color: #aeaeae;
    font-size: 14px; }
  .search-results .search-result .result-body p {
    font-size: 14px;
    color: #666666;
    line-height: 2.0; }
    .search-results .search-result .result-body p a {
      font-size: 14px;
      color: #003764; }
  .search-results .search-result .result-body .tags {
    margin-top: 20px;
    margin-bottom: 20px; }
    .search-results .search-result .result-body .tags a {
      font-size: 15px;
      color: #003764; }
  .search-results .search-result .related-links ul {
    margin-top: 10px; }
    .search-results .search-result .related-links ul li {
      margin-top: 5px;
      margin-left: 5px; }
      .search-results .search-result .related-links ul li a {
        color: #003764; }

/*** Earnings Banner ***/
.alert.alert-success.col-xs-12 {
    background: #008A5E;
    border-radius: 0;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    padding: 10px 4px 9px;
    font-size: 15px;
}
.alert.alert-success.col-xs-12 a {
    
    color: #FFF;
font-size: 15px;
font-weight: normal;
border-left: 1px solid #fff;
padding-left: 10px;
padding-right: 8px;
} 
.alert.alert-success.col-xs-12 i  {
    color: #FFF;
}
.alert.alert-success.col-xs-12 a:first-of-type {
	margin-left: 10px;
}
.alert.alert-success.col-xs-12 button.close {
    color: #fff;
    margin-right: 40px;
    margin-top: 4px;
    opacity: .75;
    margin-bottom: 0;
}
.alert.alert-success.col-xs-12 button.close:hover {
    opacity: .95;
}
@media screen and (max-width: 992px) {
	.alert.alert-success.col-xs-12 a {
	border-left: none;
	margin-left: 0;
	padding-left: 0;}
	.alert.alert-success.col-xs-12 a:first-of-type:after {
	content:"\A"; white-space:pre;
	}
}
.crop-height {
  /* img src width (if known) */
  max-height: 143px;
  overflow: hidden; 
}

img.scale {
  /* corrects inline gap in enclosing div */
  display: block;
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  width: auto\9; /* ie8+9 */

}

.row.intro-block blockquote {
    font-size: 15px;
    border-left: 3px solid #d8d8d8;
    padding: 10px 20px;
    margin: 0 0 20px;
    color: #666666
}

h4 a {
font-size: inherit;
color: inherit;
}

.blog-caption {
max-width: 480px;
word-wrap: break-word;
}

#header-drawer-contact h3 {
margin-bottom: 20px;
}

div#virtPressKit h2 {margin-bottom: 20px;} 
div#virtPressKit h3 {margin-bottom: 14px; font-weight: 600; border-bottom: 1px solid #ccc; padding-bottom: 10px;} 
div#virtPressKit > ul {margin-bottom: 30px;} 
div#virtPressKit > ul li {list-style-type: none;margin-left: 0;}
div#virtPressKit img:hover {opacity: .85;}
.modal-dialog {z-index: 1042;}
#photo-gallery .col-sm-3 img.img-responsive:hover {
    opacity: .85;
}
