/*
 * This css will be load in all themes with same preferences of
 * responsive.smartphone.landscape.css of current theme
 */

/* Responsive image */
html.IE-7 body.page-businessreview #content img,
html.IE-7 body.page-strategic-framework #content img,
html.IE-8 body.page-strategic-framework #content img{
  width: auto !important;
}

body.page-strategic-framework span.text-slide-large img {
  float:none !important;
  margin:0 auto !important;
  display:block !important;
}

div#content ul li,
div#content ol li {
  font: 0.875em Arial !important;
}

body.page-strategic-framework header{
  padding:20px 5% !important;
  text-align:center !important;
  width:90% !important;
}

body.page-strategic-framework div#block-views-strategic-framework-navigation{
  margin:0 !important;
  padding-bottom: 10% !important;
}

body.page-strategic-framework #content-column{
  padding:0 5% !important;
  width:90% !important;
}

body.page-strategic-framework div.view-display-id-navigation div.view-content div.views-row{
  background:none;
  width:5% !important;
  padding:0 5% !important;
}

div.view-display-id-navigation div.view-content div.active{
  border:0 !important;
}

body.page-strategic-framework div.view-display-id-navigation div.view-content div.views-row-odd span a{
  /*background:blue !important;*/
}
body.page-strategic-framework div.view-display-id-navigation div.view-content div.views-row span a{
  background:url(../images/nav-circles2.gif) no-repeat !important;
  /*background:red;*/
  width:13px !important;
  height:13px !important;
  display:block !important;
  text-indent:-1000em !important;
  overflow:hidden !important;
  padding:15px !important;
}

body.page-strategic-framework ul.bullets-navigation li{
  margin-right:35px !important;
}

body.page-strategic-framework div.view-display-id-navigation div.view-content div.views-row span a{
  background-position:15px 15px !important;
}

body.page-strategic-framework div.view-display-id-navigation div.view-content div.active{
  border:0 !important;
}

body.page-strategic-framework div.view-display-id-navigation div.view-content div.active span a{
  background-position:15px -72px !important;
}

body.page-strategic-framework #footer {
  margin-left:0 !important;
  padding: 0 !important;
  width:100% !important;
}

body.page-strategic-framework #footer div.region-footer{
  padding:0 !important;
}

body.page-strategic-framework #footer div.region-footer nav.footer-menu{
  padding:0 2% !important;
  width:96% !important;
}
body.page-strategic-framework #footer div.region-footer .view-display-id-footer_strategic_framework,
body.page-strategic-framework #footer section.block-lastupdate div.block-inner{
  padding:0 5% !important;
  width:90% !important;
}

body.page-strategic-framework #footer div.region-inner div.field-content{
  text-align:justify !important;
}

body.page-strategic-framework a.prev,
body.page-strategic-framework a.next{
  display:none !important;
}

body.page-strategic-framework div.views-field-field-footer-image-link{
  margin-top:20px;
}

/* Strategic Framework Content Introduction */
body.page-strategic-framework div.text-left,
body.page-strategic-framework div.image-right{
  float:none !important;
  width:100% !important;
}

/* Business Review */
div.business-review-style ul li a div.business-review-wrapper{
  background:url(../images/arrow.gif) no-repeat 100% center;
  display:block;
  margin:1% auto;
  width:90% !important;
}

html.IE-8 div.business-review-style ul li div.views-field-field-thumbnail img{
  max-width:none !important;
}

div.business-review-style ul li a div.views-field-title span a{
  width:77% !important;
}

body.page-businessreview footer#footer .region-footer{
  margin:20px auto !important;
  background:#AC0000;
  width:90% !important;
}

body.page-businessreview footer#footer section.block-lastupdate{
  float:none !important;
  text-align:center !important;
  font-size: 0.75em;
}

.page-businessreview #footer div#block-jnj-custom-jnj-custom-gs-mobile-footer,
.page-businessreview #footer section#block-jnj-custom-jnj-custom-readspeaker-block{
  display: none !important;
}

/* Pharma Business Review */
div.view-display-id-pharmabusinessreview .views-row-odd,
div.view-display-id-pharmabusinessreview .views-row-even{
  background-image:url(../images/arrow.gif) !important;
  background-position: 95% center !important;
  background-repeat:no-repeat !important;
} 
div.view-display-id-pharmabusinessreview h3 {
  padding-left:2% !important;
}
div.view-display-id-pharmabusinessreview .views-row-odd a,
div.view-display-id-pharmabusinessreview .views-row-even a{
  padding: 10px 5% !important;
  width: 90% !important;
}
div.view-display-id-pharmabusinessreview .views-row-even p.title,
div.view-display-id-pharmabusinessreview .views-row-odd p.title{
  width:100% !important;
  font-size: 1em !important;
}


/* Search */
div.left-column,
div.search-filter {
  width: 96% !important;
  clear: both;
}
div.search-filter {
  text-align: center;
}

div.search-bar {
  text-align: center;
}
div.search-bar div.google-appliance-results-control-bar {
  float: none;
  text-align: center;
  width: 100%;
}
div.search-bar div.google-appliance-search-stats {
  width: 100%;
  margin:0 !important;
  line-height: 25px !important;
}

/* Mobile Fixes */
div#block-jnj-custom-jnj-custom-gs-desktop-top{
  max-width: 100% !important;
}
div#block-jnj-custom-jnj-custom-gs-desktop-top input.form-submit{
  position:static !important;
}

form.search-google-appliance-search-form{
  clear: both;
  max-width: 100% !important;
  width: 100% !important;
  padding: 11px 0 3px;
  height: 30px !important;
}
div.search-bar form.search-google-appliance-search-form div.container-inline {
  max-width: 95% !important;
  width: 83% !important;
  margin: 0 !important;
  margin-left: 1% !important;
}
div.search-bar form.search-google-appliance-search-form input.form-text {
  max-width: 95% !important;
  width: 95% !important;
  margin:0 !important;
}
div.search-bar form.search-google-appliance-search-form input.form-submit {
  margin-top: -4px !important;
}

div.custom_gsa-collection {
  width: 98% !important;
}
ol.search-results {
  width: 87% !important;
}
/* END Search */

/* Product by Country Page*/
div.products-country .accordion .accordion .accordion-body ul li {
    min-height: 25px;
}
/* END Product by Country Page*/