/* Responsive image */
img {
  max-width: 100% !important;
  height: auto !important;
}
html.IE-8 img,
html.IE-9 #main-content img{
  width: auto;
}

.flex-viewport{
  max-height:none;
}

/* General elements */
u{
 text-decoration: none;
  border-style: solid;
  border-width: 0 0 1px 0;
}
/* END General elements */

/* Hide bar navigation on header*/
header#header nav.toolbox-mobile,
body.node-type-home nav.toolbox-desktop,
body.page-not-found .toolbox-block .block-inner {
  display: none;
}

/* Icon on links tha have class='pdf'*/
span.pdf-icon{
  background: transparent url("../images/pdf.gif") no-repeat 0 0 !important;
  display: inline-block;
  margin: 0 0 0 4px !important;
  height: 12px;
  width: 14px;
  padding: 0 !important;
}
html.IE-7 span.pdf-icon {
  line-height: 1.3;
  position: relative;
  top:-4px;
}

span.ibook-icon{
  background: transparent url("../images/ibook.gif") no-repeat 0 0 !important;
  display: inline-block;
  margin: 0 0 0 4px !important;
  height: 12px;
  width: 14px;
  padding: 0 !important;
}
html.IE-7 span.ibook-icon {
  line-height: 1.3;
  position: relative;
  top:-4px;
}


/* Contact US */

/* Commom config */
form#jnj-custom-contact-us-form div.form-item {
  margin: 0;
}
form#jnj-custom-contact-us-form label,
form#jnj-custom-contact-us-form input,
form#jnj-custom-contact-us-form select,
form#jnj-custom-contact-us-form textarea {
  float: left;
}
form#jnj-custom-contact-us-form label {
  text-align: right;
  width: 210px;
  margin-top: 13px;
  font-size: 12px;
  font-weight: normal;
  color: #555;
  text-align: right;
  display: block;
  clear: left;
}
form#jnj-custom-contact-us-form input,
form#jnj-custom-contact-us-form select,
form#jnj-custom-contact-us-form textarea {
  margin: 13px 0 0 17px;
  font: normal 13px Arial;
  color: #555;
  width: 200px;
  line-height: normal;
  border: 1px solid #CCC;
  clear: right;
}
form#jnj-custom-contact-us-form textarea {
  margin: 10px 0 0 17px;
  padding: 0;
  font-family: Arial !important;
  font-weight: normal;
  color: #555;
  width: 350px;
  border: 1px solid #CCC;
  height: 100px;
}
form#jnj-custom-contact-us-form .resizable-textarea div.grippie {
  clear: both;
  display: none !important;
}
/*END Commom config */

/*subject field */
div.subject {
  float: left;
  background-color: #d5e2de;
  width: 100%;
  padding: 12px 0;
  margin: 10px 0 45px 0;
}
form#jnj-custom-contact-us-form div.subject label,
form#jnj-custom-contact-us-form div.subject select {
  margin-top: 0;
}
form#jnj-custom-contact-us-form div.subject select  {
  width: 250px;
}
form#jnj-custom-contact-us-form div.subject label {
  color: #639494;
  font-weight: bold;
  font-size: 13px;
}
/* END subject field */

/* Country field */
div.country {
  margin: 18px 0 20px 0;
  padding: 17px 0;
  float:left;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
form#jnj-custom-contact-us-form div.country label,
form#jnj-custom-contact-us-form div.country select {
  margin-top: 0;
}
form#jnj-custom-contact-us-form div.country label.error {
  font-size: 13px;
}
/* END Country field */

form#jnj-custom-contact-us-form input.send-btn.form-submit {
  background: transparent url("../images/button_img.jpg") right 37% no-repeat;
  display: block;
  color: #12c2e9;
  width: auto;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  border: 0px none;
  margin: 10px 0 0 220px;
  padding:3px 25px 5px 0;
  clear: both;
}
html.IE-7 form#jnj-custom-contact-us-form input.send-btn.form-submit {
  clear: both;
  float: none;
}
/* ERROR */
form#jnj-custom-contact-us-form label.global-error,
form#jnj-custom-contact-us-form label.error {
  text-align: left;
  color: red;
  float: left;
  clear: right;
  margin: 15px 0 0 15px;
  font-weight: bold;
  font-style: italic;
  width: auto;
  font-size: 13px;
}
html.IE-7 form#jnj-custom-contact-us-form label.global-error,
html.IE-7 form#jnj-custom-contact-us-form label.error {
  white-space: nowrap;
}
html.IE-7 form#jnj-custom-contact-us-form label.global-error {
  white-space: normal;
  float: none;
}
form#jnj-custom-contact-us-form div.subject label.error {
  color: red;
  font-size: 13px;
}
form#jnj-custom-contact-us-form div.form-type-textarea label.error {
  clear: both;
  margin: 0 0 0 230px;
  font-size: 13px;
  white-space: nowrap;
}
/* END Contact US */

/* Tables */
.node-news-page table {
  margin-bottom:25px;
}
.node-news-page table h2{
  margin:0;
}
.node-news-page td {
  color: #555555;
}
.node-news-page th {
  font-size: 0.750em;
}
.node-news-page td {
  font-size: 0.750em !important;
}
.node-news-page td span,
.node-news-page h2,
.node-news-page table#tibotec td {
  font-size: 1em !important;
}
.node-news-page th,
.node-news-page tbody {
  border-color: black;
  border-width: 1px;
}

.node-news-page table.large-table td {
  font-size: 0.750em !important;
}
/* END Tables */

/* Strong black 13px */
.strong-black-13 {
  font-size: 1.1em;
  color:#000;
}
/* END Strong black 13px */

/* Strategic Framework */
body.page-strategic-framework{
  background:url(../images/bkg-strategic-framework.gif) repeat-x 0 10px;
}

body.page-strategic-framework header{
  height: 47px !important;
  margin: 10px 0;
  padding: 20px 0 10px;
}

body.page-strategic-framework div.views-field-field-logo img{
  cursor:pointer;
}

body.page-strategic-framework .content-column {
  padding-top: 87px !important;
}

body.page-strategic-framework #main-content-header,
body.page-businessreview #main-content-header,
body.page-strategic-framework ul.flex-direction-nav{
  display:none;
}

div.view-strategic-framework,
body.page-strategic-framework #footer p{
  clear:both;
}

div#block-views-strategic-framework-navigation{
  margin-top:0 !important;
}
div#content div.view-strategic-framework .flex-viewport ul{
  margin:0;
}

div.view-display-id-navigation div.view-content div.views-row{
  background: url("../images/navbg.gif") no-repeat right -20px;
  font: bold 14px Arial, Helvetica, sans-serif;
  float:left;
  text-transform: uppercase;
  width: 16%;
}

div.view-display-id-navigation div.view-content div.views-row span a{
  color:#0a8caa;
  display:block;
  text-decoration:none;
  padding:15px;
}

div.view-display-id-navigation div.view-content div.views-row span:hover a{
  color:#12C2E9 !important;
}

div.view-display-id-navigation div.view-content div.active{
  border-top: 5px solid #0a8caa;
}

div.view-display-id-navigation div.view-content div.active span a{
  color: #000;
  padding-top: 10px;
}

body.page-strategic-framework a.prev,
body.page-strategic-framework a.next{
  display:block;
  position:absolute;
  width:42px;
  height:144px;
  top:300px;
  text-indent:-1000em;
  overflow:hidden;
  z-index:1;
}

body.page-strategic-framework a.prev{
  background:url(../images/slideleft.gif) no-repeat;
  left:0;
}

body.page-strategic-framework a.next{
  background:url(../images/slideright.gif) no-repeat;
  right:0;
}

body.page-strategic-framework #footer{
  border:0;
}

body.page-strategic-framework #footer nav{
  width:100%;
}

body.page-strategic-framework #footer div.region-footer{
  border-top: 1px solid #d9d9d9;
  clear: both;
  margin-top: 20px;
  padding: 30px 40px 20px 20px;
  font-size:0.8em;
}

body.page-strategic-framework #footer div.region-footer p{
  color:#828282;
}

body.page-strategic-framework #footer div.region-footer a{
  color:#12C2E9;
  text-decoration:none;
}

body.page-strategic-framework div.print a{
  background:url(../images/print.gif) no-repeat;
  padding-left:20px;
  color:#87b7c7;
  text-decoration:none;
}

body.page-strategic-framework div.image,
body.page-strategic-framework ul.bullets-navigation{
  text-align:center;
}

body.page-strategic-framework ul.bullets-navigation{
  clear:both;
  margin:0 auto 0 !important;
}

body.page-strategic-framework ul.bullets-navigation li{
  list-style:none;
  display:inline-block;
  margin-right:5px !important;
}

body.page-strategic-framework ul.bullets-navigation li a{
  background:url(../images/nav-circles.gif) no-repeat;
  width:13px;
  height:13px;
  display:block;
  text-indent:-1000em;
  padding:15px;
  overflow:hidden;
}

body.page-strategic-framework ul.bullets-navigation li a{
  background-position:15px 15px;
}

body.page-strategic-framework ul.bullets-navigation li a.active{
  background-position:15px -59px;
}

div.view-strategic-framework h3.subtitle-slide img{
  vertical-align:middle;
  margin-right:10px;
}
/* END Strategic Framework */

/* Business Review */
body.page-businessreview{
  background: url("../images/bkg-business-review.gif") repeat-x;
}

body.page-businessreview #page{
  max-width:none !important;
}

body.page-businessreview header#header{
  background: #AC0000;
  text-align: center;
  padding: 32px 0 0;
  margin-bottom:0;
  height: 73px !important;
  width:100%;
  max-width:100%;
}

body.page-businessreview section#main-content{
  width:100% !important;
  padding:0 !important;
}

body.page-businessreview .content-column{
  padding-top:104px;
}

body.page-businessreview .content-column section.block-views,
div.business-review-style ul{
  margin:0 !important;
}

div.business-review-style ul li{
  border-bottom: 1px solid #DFDFDF;
  border-top: 1px solid #F8F8F8 !important;
  margin:0 !important;
  list-style:none;
  padding:10px 0;
}

div.business-review-style ul li.views-row-odd{
  background:#F5F5F5;
}

div.business-review-style ul li.views-row-even{
  background:#EBEBEB;
}

div.business-review-style ul li a div.business-review-wrapper{
  background:url(../images/arrow.gif) no-repeat 100% center;
  display:block;
  margin:1% auto;
  width:60%;
}

div.business-review-style ul li a div.views-field-title{
  font:inherit !important;
  font-weight:normal !important;
  margin:0 !important;
  padding:0 !important;
}

div.business-review-style ul li div.views-field-field-thumbnail{
  background:none !important;
  float:left;
  margin:0 15px 0 0 !important;
  padding:0 !important;
  width:auto !important;
}

div.business-review-style ul li a div.views-field-field-thumbnail img{
  width:50px;
}

div.business-review-style ul li a div.views-field-title span a span.pdf-icon{
  background:none !important;
  display:none;
}

div.business-review-style ul li a{
  text-decoration:none !important;
}

div.business-review-style ul li a div.views-field-title span a,
div.business-review-style ul li a div.views-field-field-teaser{
  background:none !important;
  color: #393939;
  font-size: 16px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  margin:0;
}

html.IE-7 div.business-review-style ul li a div.views-field-title span a,
html.IE-7 div.business-review-style ul li a div.views-field-field-teaser{
  margin: 0 0 0 60px;
  display: block;
}

html.IE-7 div.business-review-style ul li a div.views-field-field-teaser p{
  text-decoration:none !important;
}

div.business-review-style ul li a div.views-field-field-teaser{
  color:#7c7c7c;
  margin:0 !important;
}

body.page-businessreview footer#footer{
  background:#AC0000;
  margin:0;
  padding: 15px 0 0;
  width:100%;
}

body.page-businessreview footer#footer .region-footer{
  margin:0 auto;
  background:#AC0000;
  width:55%;
}

body.page-businessreview footer#footer .region-footer p,
body.page-businessreview footer#footer .region-footer p a{
  color:#fff;
  text-align:center !important;
  line-height:18px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size:11px;
}

body.page-businessreview footer#footer section.block-lastupdate{
  float:none !important;
  text-align:center !important;
}

div.business-review-style h3{
  margin:0;
  border-bottom:1px solid #dfdfdf;
  font-family:'Trebuchet MS', Helvetica, sans-serif;
  font-size:11px;
}

div.business-review-style h3 a{
  display:block;
  padding-top:40px;
  padding-left:4%;
  background: #f5f5f5;
  margin:0;
  text-decoration:none;
  color:#000;
}

/* Pharma Business Review */
/*div.pharma-business-review ul li a div.views-field-title{
  width:33%;
  margin-left:65px !important;
}

html.IE-7 div.pharma-business-review ul li a div.views-field-title span a{
  margin-left:0 !important;
}

div.pharma-business-review ul li a div.views-field-field-teaser{
  margin-left:65px !important;
}

div.invert-odd-event-style ul li.views-row-odd {
  background: #EBEBEB;
}

div.invert-odd-event-style ul li.views-row-even {
  background: #f5f5f5;
}*/

div.view-display-id-pharmabusinessreview .views-row-odd,
div.view-display-id-pharmabusinessreview .views-row-even{
  position: relative;
  float: left;
  width: 100%;
  background:url(../images/arrow.gif) no-repeat 80% center;
  min-height: 90px;
  height: auto;
}
div.view-display-id-pharmabusinessreview .views-row-odd a,
div.view-display-id-pharmabusinessreview .views-row-even a{
  display: block;
  width: 60%;
  min-height: 70px;
  padding: 10px 20%;
  height: auto;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
  text-decoration: none !important;
  cursor:pointer;
}
div.view-display-id-pharmabusinessreview .views-row-odd img,
div.view-display-id-pharmabusinessreview .views-row-even img {
  position: absolute;
  width:50px;
  height: 50px;
  float: left;
  top:50%;
  margin-top: -25px;
  z-index: 1;
}

html.IE-8 div.view-display-id-pharmabusinessreview .views-row-odd img,
html.IE-8 div.view-display-id-pharmabusinessreview .views-row-even img{
  width: auto !important; /* for ie 8 */
  max-width: 50px !important;
  max-height: 50px !important;
}

div.view-display-id-pharmabusinessreview .views-row-odd {
  background-color: #ebebeb !important;
  border-top: 1px solid #dfdfdf;
}
div.view-display-id-pharmabusinessreview .views-row-even {
  background-color: #f5f5f5 !important;
  border-top: 1px solid #dfdfdf;
}
div.view-display-id-pharmabusinessreview .views-row-even p.title,
div.view-display-id-pharmabusinessreview .views-row-odd p.title{
  color: #393939;
  font: normal 1em/19px 'Trebuchet MS', Helvetica, sans-serif;
  margin: 0 !important;
  width:49%;
}
div.view-display-id-pharmabusinessreview .views-row-even p,
div.view-display-id-pharmabusinessreview .views-row-odd p {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: #7c7c7c;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0 !important;
}
div.view-display-id-pharmabusinessreview h3 {
  padding: 25px 0 0 44px;
  font-weight: bold;
  background: #f5f5f5;
  color: #393939;
  line-height: 19px;
  cursor: default;
  margin: 0 !important;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  clear: both;
  border-top: 1px solid #dfdfdf;
}
div.view-display-id-pharmabusinessreview .elements {
  padding-left: 60px;
  top:50%;
  width: 60%;
}

/* Search */
body.search-page div#content ul,
body.search-page div#content ol,
body.search-page div#content li,
body.search-page div#content p,
body.search-page div#content u,
body.search-page div#content i,
body.search-page div#content em,
body.search-page div#content strong,
body.search-page div#content span {
  font-size: 100%;
}
div.left-column {
  float: left;
  width:59%;
  padding-left: 3%;
}
div.search-filter{
  float: left;
  width: 38%;
}
div#content div.left-column p {
  display: block;
  width: 96%;
}
div#content div.left-column li{
  font-size: 100%;
}
div.google-appliance-results-control-bar {
  border: 0px none;
  background-color: transparent;
  border-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
form#google-appliance-block-form label.element-invisible {
  border: 0;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: inherit;
  overflow: inherit;
  padding: 0;
  position: inherit;
  width: inherit;
}
form.search-google-appliance-search-form,
div#block-jnj-custom-jnj-custom-gs-desktop-top {
  float: right;
  max-width: 352px;
  position: relative;
}
form.search-google-appliance-search-form{
  width: 50%;
  height: 41px;
}
form.search-google-appliance-search-form label,
div#block-jnj-custom-jnj-custom-gs-desktop-top label {
  color: #12C2E9;
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding-top: 12px;
}
form.search-google-appliance-search-form input.form-text,
div#block-jnj-custom-jnj-custom-gs-desktop-top input.form-text {
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #638E97;
  font-size: 14px;
  margin: 10px 10px 0 10px;
  max-width: 80%;
  margin-right: 25%;
  width: 100%;
  padding: 3px 10px;
  float: left;
  -webkit-box-shadow:inset 1px 1px 3px 1px rgba(204, 204, 204, 0.55);
     -moz-box-shadow:inset 1px 1px 3px 1px rgba(204, 204, 204, 0.55);
          box-shadow:inset 1px 1px 3px 1px rgba(204, 204, 204, 0.55);
}
/* Fixing placeholder color for Webkit's browsers '*/
input::-webkit-input-placeholder{
    color: #638E97;
}

form.search-google-appliance-search-form input.form-submit,
div#block-jnj-custom-jnj-custom-gs-desktop-top input.form-submit{
  width: 34px;
  height: 34px;
  border: none;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  margin-top: 6px;
  position: absolute;
  right: 0;
}

div.search-bar {
  background: #d4e3e0; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d4e3e0), color-stop(49%,#cad9d4), color-stop(100%,#c1d0cb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d4e3e0 1%,#cad9d4 49%,#c1d0cb 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(top,  #d4e3e0 1%, #cad9d4 49%, #c1d0cb 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top,  #d4e3e0 1%,#cad9d4 49%,#c1d0cb 100%); /* IE10+ */
  background:      -o-linear-gradient(top,  #d4e3e0 1%,#cad9d4 49%,#c1d0cb 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom,  #d4e3e0 1%,#cad9d4 49%,#c1d0cb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e3e0', endColorstr='#c1d0cb',GradientType=0 ); /* IE6-8 */
  float: left;
  width: 100%;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 1px 2px 2px rgba(102, 102, 102, 0.55);
     -moz-box-shadow: 1px 2px 2px rgba(102, 102, 102, 0.55);
      -ms-box-shadow: 1px 2px 2px rgba(102, 102, 102, 0.55);
       -o-box-shadow: 1px 2px 2px rgba(102, 102, 102, 0.55);
          box-shadow: 1px 2px 2px rgba(102, 102, 102, 0.55);
}
div.search-bar div.google-appliance-search-stats {
  font-weight: bold;
  color: #639494;
  font-size: 0.8em;
  line-height: 42px;
  margin-left:20px;
}
div.google-appliance-results-control-bar{
  float: left;
}
div.custom_gsa-collection {
  float: left;
  width:97%;
  background-color: #B22222;
  height: 21px;
  margin: 15px 0 35px 0;
}
body.search-page div#content div.custom_gsa-collection p {
  color:#FFF;
  font-weight: bold;
  font-size: 0.8em;
  padding: 2px 10px;
}
div.data-message {
  float: left;
  width: 97%;
}
div.region-content-aside {
  float: right;
}
/* Filters */
section#block-jnj-custom-jnj-custom-gs-filter {
  float: left;
  margin: 15px 0 0 9%;
  width: 84%;
}
body.search-page div#content section#block-jnj-custom-jnj-custom-gs-filter p.title{
  background-color: #c9d7d3;
  color: #638e97;
  font-weight: 700;
  padding: 2px 0 2px 15px;
  font-size: 0.8em;
}
body.search-page div#content section#block-jnj-custom-jnj-custom-gs-filter p.sub-title {
  color: #638E97;
  font-weight: 900;
  font-size: 0.8em;
  padding-left: 15px;
}
body.search-page div#content section#block-jnj-custom-jnj-custom-gs-filter a{
  font-weight: bold;
  font-size: 0.75em;
  padding-left: 25px;
  margin-bottom: 5px;
  display: inline-block;
  color: #12c2e9;
}

/* Search Results */
div#infscr-loading {
  height: 30px;
}
div#infscr-loading img {
  display: none;
}
div#infscr-loading ul.loading{
  margin: 0 0 25px 0;
  padding: 0;
}
div#infscr-loading ul.loading li {
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #12c2e9;
}
ol.search-results {
  width:93%;
  font-size: 100%;
}
div#content ol.search-results li {
  margin-bottom: 32px;
  display: inline-block;
}
body.search-page div#content ol.search-results li p {
  font-size: 0.85em;
}

.search-results .title {
  font-size: 100%;
}
ol.search-results h3.title a{
  font-weight: normal;
  font-size: 0.8em;
  margin-bottom: 15px;
  display: inline-block;
  text-decoration: underline;
}
ol.search-results div.search-snippet-info,
ol.search-results p.search-snippet {
  padding-left: 0;
}
body.search-page div#content ol.search-results p.search-snippet {
  font-size: 0.875em;
}
body.search-page div#content ol.search-results p.search-info.google-appliance-info{
  color:#12C2E9;
  font-size: 0.8em;
}

div#block-jnj-custom-jnj-custom-gs-filter-mobile {
  padding: 2% 0;
  float: left;
  margin: 25px auto;
  background-color: yellow;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d4e3e0), color-stop(49%,#cad9d4), color-stop(100%,#c1d0cb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d4e3e0 1%,#cad9d4 49%,#c1d0cb 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(top,  #d4e3e0 1%, #cad9d4 49%, #c1d0cb 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top,  #d4e3e0 1%,#cad9d4 49%,#c1d0cb 100%); /* IE10+ */
  background:      -o-linear-gradient(top,  #d4e3e0 1%,#cad9d4 49%,#c1d0cb 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom,  #d4e3e0 1%,#cad9d4 49%,#c1d0cb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e3e0', endColorstr='#c1d0cb',GradientType=0 ); /* IE6-8 */
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
      -ms-border-radius: 2px;
       -o-border-radius: 2px;
          border-radius: 2px;
}
div#block-jnj-custom-jnj-custom-gs-filter-mobile select {
  width: 90%;
  margin: 0 5%;
}

/* Product by Country Page*/

div.products-country .accordion {
    border-bottom: 1px solid #DDDDDD;
    min-height: 30px;
}

div.products-country .accordion .accordion{
    min-height: 20px;
}

div.products-country .accordion .accordion,
div.products-country .accordion.last {
    border-bottom: none;
}

div.products-country .accordion .region,
div.products-country .accordion .country {
    background: url("../images/plus-icon.gif") center left no-repeat;
}

div.products-country .accordion.open .region,
div.products-country .accordion.open .country {
    background: url("../images/minus-icon.gif") center left no-repeat;
}

div.products-country .accordion-open-close {
    padding-left: 15px;
}

div.products-country .accordion .accordion {
    padding-left: 20px;
}

div.products-country .accordion .region a {
    color: #0E8BA6;
    font: bold 13px Arial;
    padding-top: 0;
    text-decoration: none;
}

div.products-country .accordion .country a {
    color: #555555;
    font: bold 12px Arial;
    padding-top: 0;
    text-decoration: none;
}

div.products-country .accordion .accordion .accordion-body ul li {
    color: #12C2E9 !important;
    list-style-type: disc;
}

div.products-country .accordion .accordion .accordion-body ul li a {
    color: #12C2E9;
    text-decoration: underline;
    font: 10px Arial;
}
/* END Product by Country Page*/


/* BEGIN: Video Player */

/* Right Side */
div.region-content-aside .video-player,
div.region-content-aside .video-player_wrapper,
div.region-content-aside .video-player_video embed {
  width: 350px !important;
  height: 223px  !important;
}

div.region-content-aside .video-player,
div.region-content-aside .video-player_wrapper {
  float: right;
  margin-top: 42px;
}

/* Video Player */
.video-player_jwplayer_display,
.video-player_displayarea,
.video-player embed,
.video-player object,
.video-player,
.video-player_wrapper {
  width: 100% !important;
  margin: 0 auto !important;
}

.video-player-bottom {
  margin-bottom: 15px !important;
}

.video-player_jwplayer_display,
.video-player_displayarea,
.video-player embed,
.video-player object {
  height: 100% !important;
}

.video-player_jwplayer_controlbar_background,
.video-player_jwplayer_controlbar_elements{
  width:100% !important;
}

.video-player_jwplayer_controlbar {
  width:90% !important;
  left: 5% !important;
  top: 85% !important;
}

.video-player img,
div.region-content-aside .video-player img{
  height: inherit !important;
}
/* END: Video Player */