/*
Writen by Asadullah Khan and Gurmat Singh Bhatia...
*/

body{
    margin: 0;
    padding: 0;
}

.outerWraper{}

.innerWraper{
    background-color: #666;
    height: 28px;
    padding-top: 3px;
}

form{
    margin: 0 auto;
    width: 520px;
}

    form input{
        height: 17px;
        width: 100px;
        color: #000;
        margin-right: 1px;
    }

.help{
    font: 11px Arial, Helvetica, sans-serif;
    color: #ccc;
    text-decoration: none;
    margin-left: 4px;
    line-height: 20px;
}

    .help:hover{
        text-decoration: underline;
    }
.loged-in-user{font:13px Arial, Helvetica, sans-serif; margin-right:9px; color: #ccc; font-weight:bold;}
.user-name{
    color: #ccc;
}

.innerWraper .submit{
    width: 83px;
    height: 22px;
    border: none;
    vertical-align: bottom;
}

form#login{
    position: relative;
}

div#username,
div#password{
    position: relative;
    float: left;
    margin-right: 3px;
}

label.overlabel{
    position: absolute;
    top: 3px;
    left: 4px;
    z-index: 1;
    color: #999;
    font-size: 12px;
    font-family: Arial;
}

label.overlabel{
    color: #999;
}

label.overlabel-apply{
    position: absolute;
    top: 3px;
    left: 4px;
    z-index: 1;
    color: #999;
    font-size: 12px;
    font-family: Arial;
}

.frame-legacy{
    border: 0;
    width: 100%;
    height:180%;
}

@media only screen and (max-width : 480px) {
/* Styles */
form input{width: 70px;}
form{padding-left: 4px; width: 310px;  }
}