#bl_lp {
    width: 740px;
    position: relative;
    z-index: 0
}
#bl_lp .noBackGround {
    background: url(../img/no.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/no.png*/;
}
#bl_lp .bl_block {
    position: relative;
    overflow: hidden
}
#bl_lp .bl_block .bl_block_pic {
    display: block;
    margin: 0
}
#bl_lp .bl_block .bl_cta_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    overflow: hidden
}
#bl_lp.debugging .useContainerForHit {
    background: red !important;
    opacity: .5;
}
#bl_lp .bl_block.opened .bl_cta_container, #bl_lp .bl_block.vidActive .bl_cta_container {
    z-index: 3
}
#bl_lp .bl_block .bl_cta {
    border: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 10px!important;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 9px 17px;
    background: #fff;
    color: #000
}
#bl_lp .bl_block .bl_cta.link2015 {
    padding: 0px 0px;
    margin: 0px;
    text-align: center;
    background: none;
}
#site-content #bl_lp .bl_block .bl_cta span, #main-container #bl_lp .bl_block .bl_cta span {
    font-size: 12px !important;
}
#bl_lp .bl_block .bl_cta.link2015 span:after {
    content: "\003E";
    font-size: 150%;
    top: 2px;
    padding-left: 5px;
    position: relative;
}
#bl_lp .bl_block .bl_cta.link2015b {
    padding: 0px 0px;
    margin: 0px;
    text-align: center;
    /*font-size: 12px!important;*/
    background: none;
}
#bl_lp .bl_block .bl_cta.link2015b span:after {
    content: "\e600";
    font-family: 'RL icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 95%;
    top: 0px;
    padding-left: 6px;
    position: relative;
    /* Better Font Rendering =========== */
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#bl_lp .vidActive .bl_block_vidcontainer {
    z-index: 10;
    position: absolute!important;
    left: 0;
    top: 0;
    overflow: hidden
}
#bl_lp .bl_block.vidActive .jwplayer {
    width: 100%;
    height: 100%
}

#bl_lp .vidActive .bl_showvid {
    display: none
}

#bl_lp .bl_showvid {
    position: absolute;
    width: 74px;
    height: 53px;
    display: block;
    background: url(../img/2015_sprite.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/2015_sprite.png*/ no-repeat 0px -100px
}
#bl_lp .bl_showvid.white {
    background: url(../img/2015_sprite.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/2015_sprite.png*/ no-repeat -100px -100px
}

.bl_block_shop_cont {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden
}
#bl_lp .bl_block .bl_block_shop {
    z-index: 20;
    position: absolute;
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px!important
}
#bl_lp .bl_block .bl_block_shop.init {
    top: -999999px!important;
    left: -5000px!important
}
#bl_lp .bl_prod {
    display: none;
    background: #000;
    background: rgba(0, 0, 0, 0.75);
    *background: url(../img/black_75.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/black_75.png*/
}

#bl_lp .bl_block .bl_block_shop a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    zoom: 1;
}
#bl_lp .bl_block .bl_block_shop a .notAvailable {
    color: red;
    font-size: 20px!important
}
#bl_lp .bl_block .bl_block_shop {
    margin: 0;
    padding: 0;
    list-style-type: none
    /*position: absolute;
                z-index: 5;
                left: -5000px;
                bottom: 0px;*/
}
#bl_lp .bl_block .bl_block_shop.over {
    display: block
}
/*duplicate
#bl_lp .bl_block .bl_block_shop {
    margin: 0px; padding: 0px;
    list-style-type: none;
}*/

#bl_lp .bl_block .bl_block_shop li {
    margin: 0;
    padding: 0;
    height: 107px;
    font-size: 11px!important;
    /*background: #000;
    background:rgba(0,0,0,0.75);
    *background: url(../img/black_75.png);*/
    
    zoom: 1;
}
#bl_lp .bl_block .bl_block_shop li * {
    font-size: 11px!important
}
#bl_lp .bl_block .bl_block_shop li:hover {
    background: #000;
    background: rgba(0, 0, 0, 0.95);
    *background: url(../img/black_95.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/black_95.png*/;
    zoom: 1;
}
#bl_lp .bl_block .bl_block_shop li a {
    line-height: 107px
}
#bl_lp .bl_block .bl_block_shop .bl_pinit {
    height: 44px
}
#bl_lp .bl_block .bl_block_shop .bl_pinit .handle {
    line-height: 44px;
    display: block;
    height: 44px;
    text-transform: uppercase;
    position: relative;
    z-index: 30;
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    *background: url(../img/black_80.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/black_80.png*/;
    zoom: 1;
}
#bl_lp .bl_block .bl_block_shop .handle .ico {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 16px;
    height: 7px;
    *height: 12px;
    background: url(../img/2015_sprite.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/2015_sprite.png*/ no-repeat 0px -220px;
    margin-left: 6px
}
#bl_lp .bl_block .bl_block_shop.over .bl_pinit {
    height: 51px;
    line-height: 51px;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    *background: url(../img/black_50.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/black_50.png*/;
    zoom: 1;
}
#bl_lp .bl_block .bl_block_shop.over .bl_pinit:hover {
    background: #000;
    background: rgba(0, 0, 0, 0.95);
    *background: url(../img/black_95.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/black_95.png*/;
    zoom: 1;
}
#bl_lp .bl_block .bl_block_shop.over .bl_pinit .handle {
    display: block;
    opacity: .6;
    height: 26px;
    line-height: 26px;
    background: url(../img/2015_sprite.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/2015_sprite.png*/ no-repeat -50px -250px
}
#bl_lp .bl_block .bl_block_shop .bl_pinit .label {
    display: inline-block;
    *display: inline;
    zoom: 1;
    cursor: pointer
}
#bl_lp .bl_block .bl_block_shop.over .bl_pinit .label {
    height: 0;
    padding-top: 51px;
    overflow: hidden
}
/* for elements using RGBA: */

#bl_lp .bl_block .bl_block_shop .handle:nth-child(n), #bl_lp .bl_block .bl_block_shop ul li:nth-child(n), #bl_lp .bl_block .bl_block_shop ul li:nth-child(n):hover, #bl_lp .bl_block .bl_block_shop .bl_pinit:nth-child(n) {
    filter: none
}
.bl_shop_cta {
    position: absolute;
    /*z-index: 3;*/
    
    display: none;
    width: 25px;
    height: 22px
}
.bl_shop_cta>a {
    display: block;
    /*z-index: 3;*/
    
    background: url(../img/2015_sprite.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/2015_sprite.png*/ no-repeat 0px -160px;
    overflow: hidden;
    width: 27px;
    height: 27px
}
.bl_shop_cta>a:hover {
    background-position: -100px -160px
}
#bl_lp .bl_shop_cta>a.reversed {
    display: block;
    background: url(../img/2015_sprite.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/2015_sprite.png*/ no-repeat -100px -160px;
    overflow: hidden;
    width: 27px;
    height: 27px
}
#bl_lp .bl_shop_cta>a.reversed:hover {
    background-position: 0px -160px;
}
/*non shop plus icon*/

.plus_cta {
    position: absolute;
    display: block;
    width: 27px;
    height: 27px;
    background: url(../img/2015_sprite.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/2015_sprite.png*/ no-repeat 0px -160px;
}
.plus_cta:hover {
    background-position: 0 0
}
#bl_lp .plus_cta.reversed {
    display: block;
    background: url(../img/2015_sprite.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/2015_sprite.png*/ no-repeat -100px -160px;
    overflow: hidden;
    width: 27px;
    height: 27px
}
#bl_lp .plus_cta.reversed:hover {
    background-position: 0px -22px;
}
/* from index page */

#bl_lp img {
    border: none
}
.bl_backtotop {
    clear: both;
    float: right;
    width: 70px;
    height: 71px;
    background: url(../img/backtotop.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/backtotop.png*/ no-repeat 0 0;
    margin: 10px 0;
    cursor: pointer;
    display: none
}
.de-de .bl_backtotop {
    background-image: url(../img/eu/backtotop_DE.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/eu/backtotop_DE.png*/
}
.fr-fr .bl_backtotop {
    background-image: url(../img/eu/backtotop_FR.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/eu/backtotop_FR.png*/
}
.it-fr .bl_backtotop {
    background-image: url(../img/eu/backtotop_IT.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/eu/backtotop_IT.png*/
}
.bl_backtotop:hover {
    background-position: -70px 0
}
.bl_backtotop.fixed {
    position: fixed;
    z-index: 200;
    top: 300px;
    float: none
}
@keyframes arrowbob {
    0% {
        top: 14px
    }
    50% {
        top: 18px
    }
    100% {
        top: 14px
    }
}
@-webkit-keyframes arrowbob {
    0% {
        top: 14px
    }
    50% {
        top: 18px
    }
    100% {
        top: 14px
    }
}
#bl_lp .bl_block .bl_downarrow {
    display: block;
    position: absolute;
    left: 160px;
    bottom: 35px;
    width: 32px;
    height: 32px;
    background: url(../img/black_sprite.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/black_sprite.png*/ no-repeat -82px -17px;
    z-index: 24
}
#bl_lp .bl_block.opened .bl_downarrow, #bl_lp .bl_block.vidActive .bl_downarrow {
    z-index: 4
}
#bl_lp .bl_block .bl_downarrow .in {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;
    background: url(../img/black_sprite.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/black_sprite.png*/ no-repeat -92px -57px;
    animation: arrowbob 1s linear infinite;
    -webkit-animation: arrowbob 1s linear infinite
}
#bl_lp .shopBanner {
    width: 740px;
    height: 150px;
    background-color: #000
}
#bl_lp .shopBanner .message {
    position: absolute
}
@keyframes spinloader {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
@-webkit-keyframes spinloader {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}
.loader {
    position: fixed;
    left: 50%;
    top: 50%
}
.loader .loader_in {
    width: 49px;
    height: 0;
    padding-top: 49px;
    overflow: hidden;
    background: url(Unknown_83_filename)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/six/display/loader.png*/ no-repeat 0 0;
    animation: spinloader 2s linear infinite;
    -webkit-animation: spinloader 2s linear infinite;
}
/*.jwdisplayIcon {
    width: 49px!important;
    height: 49px!important;
    animation: spinloader 2s linear infinite!important;
    -webkit-animation: spinloader 2s linear infinite!important;


}*/

.vidContainer .closeVideo {
    height: 30px!important
}
/*  DEBUG SHOP  */

.bl_shop_cta .pid {
    /*color: #ff0000;*/
    
    padding: 20px 0px 0px 0px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 15px !important;
    text-decoration: none;
    font-weight: bold;
    background-color: #eeeeee !important;
    width: 75px !important;
    height: 18px !important;
    overflow: visible !important;
}
.bl_shop_cta.iamshoppable .pid {
    color: #000000;
}
.bl_shop_cta .pid {
    color: #ff0000;
}
#bl_lp .bl_block .bl_block_shop .emptyProd a {
    color: #ff0000;
}
