/* RTMS OVERRIDE */
#page-home.page,
#page-home .widesection {
    width: 100%!important;   
}
#page-home #sectionHeader {
    position: relative;
    z-index: 1000;    
} 
#language-selector{
	/*display: none !important;*/
}


/* GSI OVERRIDE */
/*#free-shipping,
#rl-free-shipping {
	display: none;	
}*/
#site-content,
#home #content-wrap  {
	display: none;	
}

html, body {
    max-width: 100%;
    min-width: 940px;
    /*overflow:auto;*/
    overflow-x: hidden;
    zoom: 1;
}

/*IE7 hack*/
#wrapper{
	*text-align: left !important;
}
/* END GSI OVERRIDES */




.lp-container {
	float: none !important;
	margin-top: 130px !important;
	width: 100% !important;
	/*height: 2560px !important;*/
}



#bl_lp{
	width: 1400px !important;
	position:relative !important;
  	left: 50% !important;
  	margin-left:-700px !important;

}

#bl_lp .bl_block .bl_cta{
    font-size: 15px!important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
    -webkit-transform-style: preserve-3d!important;
    -webkit-backface-visibility: hidden!important;
}
#bl_lp .bl_block .bl_block_pic {
    max-width: 100%;
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.lp-container  {
		/*width: 1024px!important;*/
		margin-left: 0px!important;
		height: 100% !important;
	}
	#bl_lp {
		width: 1024px!important;
		margin-left: 0px!important;
		left:0 !important;
	}
	.bl_block  {
		width: 1024px!important;
	}
	#bl_lp .bl_block .bl_cta{
	    font-size: 12px!important;
	    font-weight: bold;
	}
}



/*LEGACY BELOW*/




@-webkit-keyframes blurred { 
    100% { -webkit-filter: blur(2px) grayscale(0.8); }  
}
@-webkit-keyframes unblurred { 
    100% { -webkit-filter: blur(0px) grayscale(0); }  
}
.navOver.no-touch #hero_carousel .slide,
.navOver.no-touch #hero_carousel .slide .slide_copy  {
    -webkit-animation:blurred 1s ease;
    -webkit-animation-fill-mode: forwards;
}
.no-touch #hero_carousel .slide,
.no-touch #hero_carousel .slide .slide_copy  {
    -webkit-animation:unblurred 1s ease;
    -webkit-animation-fill-mode: forwards;
}


/* INTRO STATE */

.lp-container,
#hero_carousel,
#promo_carousel {
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.local #hero_carousel {
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
	filter: none;
	/*max-width: 1400px;*/
}


#hero_carousel,
.rsVisibleNearbyWrap{
	overflow: visible !important;
}
.sidepane {
	position: absolute !important;
	background: #fff;
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	height: 100%;
	z-index: 2;
}



.nocarousels .sidepane {
    display: none!important;
}
.sidepane#sideR{
	right: 0px;
}
	#hero_carousel {
		margin: 0px auto;
		padding: 0px;
		list-style-type: none;
		width: 100%;
		overflow: hidden;
		height: 754px !important;
		/*max-height: 758px!important;*/
	}
		#hero_carousel li {
			position: relative;
			margin: 0px!important;
			padding: 0px!important;
			display: block;
			float: left;
			width: 100%;
		}
			#hero_carousel li img {
				display: block;
			}		
	#hero_carousel .rsArrow {
		position: absolute;
		z-index: 100;
		top: 50%;
		display: block;
		width: 52px;
		height: 52px;
		background: #000;
		margin: 0px 0px 50px 0px;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		overflow: hidden;
		-webkit-transition: width 0.5s ease;
		-moz-transition: width 0.5s ease;
		transition: width 0.5s ease;
	}	
	#hero_carousel .rsArrow.expand {
		width: 82px!important;
		-webkit-transition: width 0.2s ease-in-out;
		-moz-transition: width 0.2s ease-in-out;
		transition: width 0.2s ease-in-out;
	}
	.rsArrowLeft.rsArrow,
	.no-touch .rl_topnav_b .rsArrowLeft.rsArrow:hover {
		left: 0px;
		background-position: 18px 50%;
	}
		.no-touch .rsArrowLeft.rsArrow:hover,
		.rl_topnav_b .rsArrowLeft.rsArrow {
			/*background-position: 0px 0px;*/
		}
		.rsArrow .rsArrowIcn {
			width: 52px;
			height: 52px;
			background: url(../img/rl_hero_arrows_v2.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/rl_hero_arrows_v2.png*/ no-repeat 0px 0px;
			display: block;
		}
		.rsArrowLeft.rsArrow .rsArrowIcn {
			float: right;
			background-position: 20px bottom;
			display: block;
		}
		.rsArrowRight.rsArrow .rsArrowIcn {
			background-position: -70px bottom;
			float: left;
			display: block;
		}
	.rsArrowRight.rsArrow,
	.no-touch .rl_topnav_b .rsArrowRight.rsArrow:hover  {
		right: 0px;
		background-position: right bottom;
	}	
		.no-touch .rsArrowRight.rsArrow:hover,
		.rl_topnav_b .rsArrowRight.rsArrow {
			/*background-position: right 0px;*/
		}	
		.slide {
			display: block;
			width: 100%;
		    height: 100%;
		    margin: 0;
		}
		.slide.hasVid {
			background: #000;
		}
		.slide_img {
			display: block;
		}
		.slide_video {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    z-index: 0;
		    margin-bottom: 24px;
		}
/* PROMO BANNERS */
#promo_carousel {
	margin: 0px auto;
	padding: 0px;
	list-style-type: none;
	overflow: visible;
	height: 371px !important;
}	
	#promo_carousel li {
		margin:0 auto;
		padding: 0px;
		*float: left;
		position: relative;

	}		
	#promo_carousel .rsOverflow  {
        width: 100%!important;
        height: 100%!important;
    }

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	#hero_carousel,
	.rsVisibleNearbyWrap{
		overflow: hidden !important;
	}
	.sidepane {
		display: none !important;
	}
	#hero_carousel {
		height: 551px !important;
	}
	#promo_carousel {
		height: 271px !important;
	}
}



/* PAGER */
#pager_container,
.rsNav {
	/*opacity: 1;*/
/*	opacity: 0 !important; 
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0)!important;
*/	
	text-align: center;
	height: 24px;
	position: absolute;
	bottom: 0px;
	*position: relative;
	*bottom: 24px;
	width: 100%;
	z-index: 20;
	background:rgba(255,255,255,0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50FFFFFF,endColorstr=#50FFFFFF); /*AARRGGBB*/
}
	#pager {
		margin: 0px auto;
		padding: 0px;
		list-style-type: none;
		display: inline-block;
		*display: inline;
		zoom: 1;
		/*background:rgba(255,255,255,0.6);*/
		height: 24px;
		
	}
		#pager li,
		.rsNavItem {
			margin: 0px;
			padding: 0px;
			display: inline-block;
			*display: inline;
			zoom: 1;
			width: 26px;
			height: 24px;
			background: url(../img/tnav_sprite.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/tnav_sprite.png*/ no-repeat 8px -144px;
			cursor: pointer;
		}
			.rsNavItem span  {
				float:left
			}
		#pager li.activeSlide,
		.rsNavSelected {
			background: url(../img/tnav_sprite.png)/*tpa=http://www.ralphlauren.com/graphics/media/polo/html_campaigns/en-us/homepage/20150602/img/tnav_sprite.png*/ no-repeat -23px -144px;
		}
		#pager li:first-child {
			padding-left: 0px;
			border:none;
		}
	



	


/* FOR INTRO ANIMATION */

#container_main,
#pager_container,
.rsArrow {
	*display: none;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}




.on-top {
  z-index: 10000;
}



