/* Reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align:left;}
body { line-height: 20px; background: #fff; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
input,textarea { margin: 0; }

/* Removes Firefox imposed outline */
a { outline: none; }

/* Clearing floats without extra markup  */
.clear { display: inline-block; }
.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clear { height: 1%; }
.clear { display: block; }

body {font-size:13px;}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea { font-family: arial, helvetica, sans-serif; color: #333;}

body#home-page {/* gradient */background: #ffffff; background: -webkit-gradient(linear, left top, left bottom, from(#fcfbf9), to(#ffffff));background: -moz-linear-gradient(top, #fcfbf9, #ffffff);background: linear-gradient(-90deg, #fcfbf9, #ffffff);}


body#main-page {/* gradient */background: #ffffff; background: -webkit-gradient(linear, left top, left bottom, from(#fcfbf9), to(#ffffff));background: -moz-linear-gradient(top, #fcfbf9, #ffffff);background: linear-gradient(-90deg, #fcfbf9, #ffffff);}


h1 {border-bottom: 1px solid #4f6e18;color: #6cb33e; font-size: 24px; font-weight: normal; line-height: 1.2em;margin: 0 0 .76em 0;padding: 0;} 
h2 {color: #4f6e18; font-size: 18px; line-height: 1.2em; margin: 1.5em 0 .76em 0; padding: 0;}
h2.lightgreen {color: #6cb33e; line-height: 1.2em; margin: 1.5em 0 .25em 0; padding: 0;}
h2.lightgreen a {color: #6cb33e; text-decoration: none;}
h2.lightgreen a:hover {color: #555; text-decoration: underline;}
h3  { color: #555;font-style: italic;font-size: 18px; line-height: 1.2em;margin: 0 0 .76em 0;padding: 0;}
h3.lined {border-bottom: 1px dashed #333;}
h4  { color: #333;font-size: 16px;line-height: 1.2em;margin: 1.5em 0 .5em 0;padding: 0;}
h5  {color: #333; font-weight: bold;  font-size: 14px; line-height: 1.2em;margin: 10px 0;padding: 0;}
h6  { color: #333;font-weight: normal;  font-size: 13px; line-height: 1.2em; margin: 1.5em 0 .5em 0; padding: 0;}

.no-line {border-bottom: 0;}

div.randomimage {background: transparent url("../images/site/headers-new/rotate.php.jpg")/*tpa=http://www.ingredion.com/images/site/headers-new/rotate.php*/ no-repeat bottom center; border-bottom: 0; padding: 185px 0 0 0; margin: 0 0 40px 0;}


a {color: #006600; text-decoration: underline;}

a:link {color: #006600; text-decoration: underline;outline: none;}

a:hover {color: #000;text-decoration: none;outline: none;}

a:active {color: #28a2b1;text-decoration: none;outline: none;}

p {line-height: 18px; margin: 0 0 15px 0;	padding: 0;} 

#home-page #main-content p {font-size:16px; line-height: 25px;}

#main-content ul {margin-left:20px;}

em {font-style: italic;}

.small {font-size:11px;font-weight:normal;}

.date {font-style: italic; font-size:12px; color:#999;}

.line {border-bottom: 1px solid #333; line-height: 1.2em; margin: .5em 0; padding: 0;}

.hidden {display: none;}

.caption {border-bottom: 1px solid #006600; color: #666; font-size: 11px; line-height: 1.2em; margin: 0; padding: 2px 2px 5px 2px; position: relative; text-align: left;}

.floatleft {display:inline; float:left; margin: 0 20px 7px 0;} 

.floatright {display:inline; float:right; margin: 0 0 7px 20px;}

.floatcenter {margin: 0 auto;	padding: 0; text-align: center;}

.framed {border: 1px solid #999; margin: 2px; padding: 2px;}

.docfile {margin: 0 0 15px 0; padding: 0 0 0 20px; background: transparent url("../images/site/document.png")/*tpa=http://www.ingredion.com/images/site/document.png*/ no-repeat left top;}

.wygwam {margin: 0 0 15px 0; padding: 0;}

.four-areas {margin: 0 0 0 400px; padding: 0;}
.block150 {height: 110px; padding: 20px;}

div.clear {clear: both;	display: block;	line-height: 0;	margin: 0; padding: 0;}

div.clearblock {clear: both; display: block; line-height: 1px; margin: 0 0 40px 0; padding: 0;}

h4 a{text-decoration: none;}	

h2 a{text-decoration: none;}

/* -- CONTENTS -- */

#wrap {margin: 0 auto;padding: 0;text-align: center;width: 980px; z-index: 1;}

#header {position: relative;margin: 0;padding: 0;height: 145px;width: 980px; z-index: 9;}

#logo {position: absolute; top: 0; left: 0;margin: 0;padding: 0;height: 90px; width: 153px;}

#masthead {background: #fff url("Unknown_83_filename")/*tpa=http://www.ingredion.com/images/panels/panel-bg.jpg*/ no-repeat top center; margin: 0; padding: 0; height: 330px; width: 980px; position:relative; z-index: 3; overflow: hidden;}


/* -- Panel Slider -- */

#slideshow {position:relative;}
#slideshow div {display: none;}

.overlay {position:absolute; top:0; right:0; width:330px; color:#fff; padding: 20px; margin: 25px 0 0 0;}

.overlay h4 {color:#fff; font-size: 140%;}
.overlay p {color:#fff; font-size: 120%; line-height: 1.3em;}
#slideshow div.overlay {display: block;}

#imgthumbs { position:absolute; top: 268px; left: 627px; z-index:300; margin:0; padding:0; list-style: none;}
#imgthumbs li { float:left; margin:0 5px;}
#imgthumbs li a { padding:8px; display:block; color: #6cb33e; background: #fff; text-decoration: none; line-height:9px; font-size:18px;}
#imgthumbs li.activeSlide a { background: #6cb33e; color:#fff;}
#imgthumbs li a:focus { outline: none; }


#newslink {background: transparent url("../images/site/spacer.gif")/*tpa=http://www.ingredion.com/images/site/spacer.gif*/ repeat top center; position: absolute; top:298px; right:25px; z-index:400;width:301px; height:33px; min-height:33px;}
#newslink a {display:block; width:301px; height:33px;}

/* Search Results */

#search-results {margin:0; padding:0; list-style: none;}
#search-results li {margin: 10px 0; padding:10px 0; border-bottom: 1px solid #eee;}
#search-results li.resultRowTwo {background-color: #f0f0f0;}


/* Utility Navigation */

#topbar {background: #707174;}
#topbar-content {padding: 5px 0; margin: 0 auto 15px auto; width: 980px; text-align: center; }
#utility-nav {margin: 0; padding: 0;}

#utility-nav ul {margin: 0; padding: 0; list-style: none;text-align: right; }
#utility-nav ul li {margin: 0 15px 0 0; padding: 0 list-style-type: none; display: inline; text-transform:uppercase;}
#utility-nav ul li a {color:#fff; font-size:12px; text-decoration: none; font-family: "Gill Sans MT", "Gill Sans", arial, helvetica, sans-serif;}
#utility-nav ul li a:hover { text-decoration: underline; }
#utility-nav ul li.here a {color: #fff;text-decoration: underline;}	

#global {float: right;  margin: 25px 0 0 0; padding:0; text-align: right; width: 240px;}

#search  {float: right; margin: 0; padding:0;}
#search-box {font-size:13px; width: 150px;float: left; margin: 7px 10px 0 0; padding: 3px; background:#fff; border: 1px solid : #999;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;outline: none; /*Remove Chrome and Safari glows on focus*/}
#search-btn {border:none; width: 20px; height: 20px; float: left; margin: 9px 0 0 -34px;background: url(../images/site/searchmag.png)/*tpa=http://www.ingredion.com/images/site/searchmag.png*/ no-repeat; text-indent: -9999px;cursor: pointer;}
/* #search-btn:hover {background-position: 0 -70px;} */

#print-page {float: left; margin: 10px 0 0 0; padding: 0; height: 18px; width: 47px;}

/* Main Navigation */

#navpos {position: absolute; top: 110px; left: 0; background: #ffffff; border-top: 1px solid #999; border-bottom: 1px solid #999; margin: 0;padding: 0; width: 980px; }

#main-nav {display: table; margin: 0 auto;}

ul#megamenu {margin: 0; padding: 0; list-style: none; text-align: center;}

ul#megamenu li {float:left; padding: 0; margin:0; position: relative; text-transform:uppercase; display: inline;}

ul#megamenu li a {display:inline-block;color:#4d4f53; font-size:13px; padding:0 20px; line-height:30px; text-decoration: none; font-family: "Gill Sans MT", "Gill Sans", arial, helvetica, sans-serif;}

ul#megamenu li.here a {color:#000; text-decoration: underline;}

ul#megamenu li.here ul li a {color:#4d4f53; text-decoration: none;}

ul#megamenu li a:hover {text-decoration:none;}

.hoverthis {background:#e4e4e4; -moz-border-radius-topright: 7px; -moz-border-radius-topleft: 7px; -webkit-border-top-right-radius: 7px; -webkit-border-top-left-radius: 7px;}

ul#megamenu li ul {z-index:999; text-align:left; position: absolute; top: 30px; left: 0; padding:15px; background-color:#e4e4e4;
-moz-border-radius-bottomright: 7px; -moz-border-radius-bottomleft: 7px; -moz-border-radius-topright: 7px; -webkit-border-bottom-right-radius: 7px; -webkit-border-bottom-left-radius: 7px; -webkit-border-top-right-radius: 7px; display: none; list-style: none; white-space:nowrap;}

ul#megamenu li#nav_investors ul {width: 610px;}

ul#megamenu li ul li {min-width:160px; margin:0; padding:0; float:none; position:static; text-transform:none;}

ul#megamenu li#nav_investors ul li {width: 190px;}

ul#megamenu li ul li ul{display: inline; margin:0; padding:0 0 5px 10px; background:none; position:static;}

ul#megamenu li ul li a { display:block; font-weight: normal; font-size:13px; float: none; text-indent: 0; /*--Reset text indent--*/ text-decoration: none; line-height:25px;}

ul#megamenu li ul li a:hover {color: #000; background:#ffffff; -moz-border-radius-topleft: 7px; -moz-border-radius-topright: 7px; -moz-border-radius-bottomright: 7px; -moz-border-radius-bottomleft: 7px;  -webkit-border-top-left-radius: 7px; -webkit-border-top-right-radius: 7px; -webkit-border-bottom-right-radius: 7px; -webkit-border-bottom-left-radius: 7px;}

ul#megamenu li ul li ul li a { font-size:12px; line-height:20px;text-transform:none;}



/* don't show the countries in the mega menu */
li#nav_about_us_world_wide_locations ul {display: none;}
li#nav_about_us_world_wide_locations ul li {display: none;}

/* don't show duplicate nav entry for IE6 */
li#nav_investors_investors {display: none;}


/* Sub Navigation */

#subnav {border-left: 1px solid green; margin: 0; padding: 0;}

#subnav ul { padding-left:15px; margin: 0; list-style: none;}
#subnav ul li { list-style-type: none; margin: 0; padding: 0; line-height: 24px;}
#subnav a { color:#4d4f53; font-size:14px; font-weight: normal; text-decoration: none; padding: 7px 7px 7px 7px;}
#subnav a:hover { text-decoration: underline; }
#subnav ul li.here {background: #6cb33e;}
#subnav ul li.here a {color: #fff; font-weight: bold; text-decoration: none;}
#subnav ul li.here ul {background: #fff;}
#subnav ul li.here ul li {margin-left: -5px;}
#subnav ul li.here ul li a {color: #4d4f53; font-weight: normal; text-decoration: none; font-size: 12px;}
#subnav ul li ul li {margin-left: -5px;}
#subnav ul li ul li a {font-size: 12px;}
#subnav ul li ul li.here a {color: #fff; font-weight: bold; text-decoration: none;}

#subnav ul li ul { border:0;}


#sidebar-content {font-size: 13px; margin: 0 0 30px 0; padding: 20px;}

#sidebar-content ul {list-style:none;}

#sidebar-content ul li {line-height:20px;}

#sidebar-content ul li a {text-decoration:none;}

#sidebar-content ul li a:hover {text-decoration:underline;}

body#home-page #content {margin: 0 0 30px 0;padding: 0;text-align: left;width: 980px; z-index: 7;}

body#main-page #content {margin: 30px 0;padding: 0;text-align: left;width: 980px; z-index: 7;}


body#home-page #main-content {float: left;line-height: 1.5em; margin: 0;padding: 30px 20px;}
body#home-page #sidebar {line-height: 1.3em; margin: 30px 0 0 655px;padding: 0;width: 300px;}
#newsbar {background: #eef0e9;background: -webkit-gradient(linear, left top, left bottom, from(#eef0e9), to(#e6e8e2));background: -moz-linear-gradient(top, #eef0e9, #e6e8e2);background: linear-gradient(-90deg, #eef0e9, #e6e8e2); line-height: 1.3em; margin: 0 auto; padding: 0; width: 980px; text-align: center;}
.news-highlight {display: inline; float: left; height: 115px; width: 325px;}
.newsbar-item {padding: 0 20px;}

body#main-page #main-content {float: left;line-height: 1.5em; margin: 0;padding: 0 20px 20px 20px; width: 660px;}
body#main-page #sidebar {line-height: 1.3em;margin: 0 0 0 700px; padding: 0; width: 260px;}

#page-title {background: #707174; -moz-border-radius-topright: 7px; -moz-border-radius-topleft: 7px; -webkit-border-top-right-radius: 7px; -webkit-border-top-left-radius: 7px; color: #ffffff; font-size: 21px; padding: 10px; margin: 0 0 0 15px; line-height: 1.2em;}

#footer-wrap {background: #eef0e9;}
#footer-banner {margin: 0 auto;padding: 0;text-align: center;width: 980px;}

#fbox1 {display: inline; float: left; width: 326px; margin: 0; padding: 0;}
#fbox2 {display: inline; float: left; width: 325px; border-right: 1px solid #ccc; border-left: 1px solid #ccc; margin: 0; padding: 0;}
#fbox3 {display: inline; float: left; width: 326px; margin: 0; padding: 0;}
.fcontent1 {margin: 0; padding: 15px; text-align: left; font-style: italic;}
.fcontent2 {font-size: 11px; line-height: 18px; margin: 0; padding: 15px; text-align: left;}
.fcontent3 {font-size: 13px; line-height: 18px; margin: 0; padding: 15px; text-align: left;}
.stockquote {background: #cccc99; -moz-border-radius-bottomright: 7px; -moz-border-radius-bottomleft: 7px; -webkit-border-bottom-right-radius: 7px; -webkit-border-bottom-left-radius: 7px;}

#middle-image {float: left; width: 120px; height: 120px;}

#footer {margin: 0 auto; padding: 10px 0 30px 0; text-align: center;width: 980px;}

#footer-content {color: #4d4f53; font-size: 11px; margin: 0; padding: 0; text-transform:uppercase; font-family: "Gill Sans MT", "Gill Sans", arial, helvetica, sans-serif;}

#footer-left {float: left; margin: 0 0 0 20px; padding: 0; text-align: left;}

#footer-right {margin: 0 10px 0 0; padding: 0; text-align: right;}

#footer-nav {float: right; margin: 0;padding: 0; text-align: right;}

#footer-nav ul { list-style: none; margin: 0; padding: 0 10px;}
#footer-nav ul li {border-right: 1px solid #ddd; padding: 3px 7px; list-style-type: none; display: inline; }
#footer-nav ul li.last {border-right: 1px solid #fff; padding: 3px 7px; list-style-type: none; display: inline; }
#footer-nav ul li a { color:#4d4f53; font-size: 11px; text-decoration: none;}
#footer-nav ul li a:hover { text-decoration: underline; }
#footer-nav ul li.here last a {color: #4d4f53;text-decoration: underline;}

ul#sitemap { list-style: none; margin: 0; padding: 0;}
ul#sitemap li { font-size: 16px; font-weight: bold; margin: 0; padding: 0 0 10px 0;}
ul#sitemap li ul { list-style: none; margin: 0; padding: 10px 0 0 20px;}
ul#sitemap li ul li { font-size: 14px; font-weight: normal; margin: 0; padding: 0 0 10px 0;}
ul#sitemap li ul li ul { list-style: none; margin: 0; padding: 10px 0 0 40px;}
ul#sitemap li ul li ul li { font-size: 14px; font-weight: normal; margin: 0; padding: 0 0 7px 0;} 


#flashmap {margin: 0 auto; padding: 0 0 30px 0; text-align: center;}


#main-content .newslist { list-style: none; margin-left: 0;}
.newslist li	{ margin-bottom: 5px;}

/* -- FORM ELEMENTS -- */

form {
	margin-bottom: 20px; }
fieldset {
	margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	margin: 0;
	width: 180px;
	max-width: 100%;
	display: inline-block;
	margin-bottom: 20px;
	background: #fff; }
select {
	padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid #aaa;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
	min-height: 60px; width: 60%;}
label,
legend {
	display: block;
	font-weight: bold;
	font-size: 13px;  }
select {
	width: 220px; }
input[type="checkbox"] {
	display: inline; }
label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444; }
	
.required {color:#057bc1; font-weight:bold;}

form p {margin-bottom: 5px;}
	
form p.checkbox input { width: auto; }
form p.radio input { width: auto; }
form p label.inline { display: inline; font-size:13px; width:auto; margin: 0 0 7px;}

form div.blockset {padding: 5px 10px;}

.submitbutton { width: auto; margin: 10px 0; padding:10px; font-size:14px;background:#6CB33E; color:#fff; cursor:pointer; border:none;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.submitbutton:hover { background:#333;}

.req {color: #F90;}

iframe {border: 0;}

#products-nav {background: transparent url("../images/site/products-nav-new.gif")/*tpa=http://www.ingredion.com/images/site/products-nav-new.gif*/ no-repeat top left; margin: 0; padding: 0; width: 580px; height: 500px; position: relative;}
#products-nav ul {margin: 0; padding: 0;}
#products-nav li {list-style: none; margin: 0; padding: 0;}
#products-nav a {text-indent: -9999px;}
#products-nav a:hover {}
#products-nav a:active {}

/* top two positioned items needed the background defined again for IE6 and IE7 because they are feeble */
#food-beverage-sweeteners a {width: 290px; height: 110px; position: absolute; top: 26px; left: 0; background: transparent url("../images/site/products-nav-new.gif")/*tpa=http://www.ingredion.com/images/site/products-nav-new.gif*/ 0px -26px no-repeat;}
#food-beverage-starches a {width: 290px; height: 110px; position: absolute; top: 136px; left: 0;}
#health-wellness a {width: 290px; height: 110px; position: absolute; top: 246px; left: 0;}
#industrial a {width: 290px; height: 110px; position: absolute; top: 356px; left: 0;}
#personal-care a {width: 290px; height: 110px; position: absolute; top: 26px; left: 290px; background: transparent url("../images/site/products-nav-new.gif")/*tpa=http://www.ingredion.com/images/site/products-nav-new.gif*/ -290px -26px no-repeat;}
#biomaterials a {width: 290px; height: 110px; position: absolute; top: 136px; left: 290px;}
#pharmaceutical a {width: 290px; height: 110px; position: absolute; top: 246px; left: 290px;}
#animal-nutrition a {width: 290px; height: 110px; position: absolute; top: 356px; left: 290px;}

#food-beverage-sweeteners a:hover {background: transparent url("../images/site/products-nav-new.gif")/*tpa=http://www.ingredion.com/images/site/products-nav-new.gif*/ 0px -526px no-repeat;}
#food-beverage-starches a:hover {background: transparent url("../images/site/products-nav-new.gif")/*tpa=http://www.ingredion.com/images/site/products-nav-new.gif*/ 0px -636px no-repeat;}
#health-wellness a:hover {background: transparent url("../images/site/products-nav-new.gif")/*tpa=http://www.ingredion.com/images/site/products-nav-new.gif*/ 0px -746px no-repeat;}
#industrial a:hover {background: transparent url("../images/site/products-nav-new.gif")/*tpa=http://www.ingredion.com/images/site/products-nav-new.gif*/ -0px -856px no-repeat;}
#personal-care a:hover {background: transparent url("../images/site/products-nav-new.gif")/*tpa=http://www.ingredion.com/images/site/products-nav-new.gif*/ -290px -526px no-repeat;}
#biomaterials a:hover {background: transparent url("../images/site/products-nav-new.gif")/*tpa=http://www.ingredion.com/images/site/products-nav-new.gif*/ -290px -636px no-repeat;}
#pharmaceutical a:hover {background: transparent url("../images/site/products-nav-new.gif")/*tpa=http://www.ingredion.com/images/site/products-nav-new.gif*/ -290px -746px no-repeat;}
#animal-nutrition a:hover {background: transparent url("../images/site/products-nav-new.gif")/*tpa=http://www.ingredion.com/images/site/products-nav-new.gif*/ -290px -856px no-repeat;}

/* WYGWAM fields set in themes > third party > wygwam > lib > ckeditor > plugins > stylescombo > styles > default.js */
/* Worldwide Locations Styles | Facility = fac, Lab = lab, HQ = hq */

/*
fac {background: transparent url("/images/site/icon-facility.png") no-repeat top left; padding-left: 30px; padding-bottom: 3px; min-height: 22px; display: inline-block !important;}
lab {background: transparent url("/images/site/icon-lab.png") no-repeat top left; padding-left: 30px; padding-bottom: 3px; min-height: 22px; display: inline-block !important;}
hq {background: transparent url("/images/site/icon-hq.png") no-repeat top left; padding-left: 30px; padding-bottom: 3px; min-height: 22px; display: inline-block !important;}
*/

/* Smaller version */ 
fac {background: transparent url("../images/site/icon-facility-sm.png")/*tpa=http://www.ingredion.com/images/site/icon-facility-sm.png*/ no-repeat top left; padding-left: 40px; padding-bottom: 3px; min-height: 16px; display: inline-block !important;}
lab {background: transparent url("../images/site/icon-lab-sm.png")/*tpa=http://www.ingredion.com/images/site/icon-lab-sm.png*/ no-repeat top left; padding-left: 40px; padding-bottom: 3px; min-height: 16px; display: inline-block !important;}
hq {background: transparent url("../images/site/icon-hq-sm.png")/*tpa=http://www.ingredion.com/images/site/icon-hq-sm.png*/ no-repeat top left; padding-left: 40px; padding-bottom: 3px; min-height: 16px; display: inline-block !important;}
faclab {background: transparent url("../images/site/icon-faclab-sm.png")/*tpa=http://www.ingredion.com/images/site/icon-faclab-sm.png*/ no-repeat top left; padding-left: 40px; padding-bottom: 3px; min-height: 16px; display: inline-block !important;}


/* Longer 
fac {background: transparent url("/images/site/icon-map-fac.png") no-repeat top left; padding-left: 60px; padding-bottom: 3px; min-height: 18px; display: inline-block !important;}
lab {background: transparent url("/images/site/icon-map-lab.png") no-repeat top left; padding-left: 60px; padding-bottom: 3px; min-height: 18px; display: inline-block !important;}
hq {background: transparent url("/images/site/icon-map-hq.png") no-repeat top left; padding-left: 60px; padding-bottom: 3px; min-height: 18px; display: inline-block !important;}
sales {background: transparent url("/images/site/icon-map-sales.png") no-repeat top left; padding-left: 60px; padding-bottom: 3px; min-height: 18px; display: inline-block !important;}
labsales {background: transparent url("/images/site/icon-map-labsales.png") no-repeat top left; padding-left: 60px; padding-bottom: 3px; min-height: 18px; display: inline-block !important;}
facsales {background: transparent url("/images/site/icon-map-facsales.png") no-repeat top left; padding-left: 60px; padding-bottom: 3px; min-height: 18px; display: inline-block !important;}
faclab {background: transparent url("/images/site/icon-map-faclab.png") no-repeat top left; padding-left: 60px; padding-bottom: 3px; min-height: 18px; display: inline-block !important;}
all {background: transparent url("/images/site/icon-map-all.png") no-repeat top left; padding-left: 60px; padding-bottom: 3px; min-height: 18px; display: inline-block !important;}
*/
