.dteStyle th, .dteStyle tr, .dteStyle td {
	position:relative;
	border: none;
}

.dteStyle .question, .dteStyle .question > span  {
	padding-left: 15px;
}

.dteStyle #container  {
	font:101%/1.5em Arial, Verdana, Helvetica, sans-serif;
}