.mobSplash{
	position:fixed;
	}
.modal-body {
	background-color: #00aeef;
	opacity: 0.8;
	padding: 5px;
	color: #fff;
	font-size: 16px;
	padding: 20px;
	position: relative;
	text-align: center;
	width:337px;
  border-radius: inherit;
}
.modal{
	top:2%;
   left: 50%;
   width:375px;
}
