/*  all media  */
@media screen {

html {
	font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	overflow-y:scroll;
}

body {
	background-color:#fff;
	color:#000;
	margin:0;
	padding:0;
	*font-size:small; 
	*font:x-small; 
	*font:xx-small; 	
	font: 74%/1.6em Arial, Verdana, Helvetica, sans-serif;
}

#container {
	margin:0 auto;
	padding:1em 0 0 0;
	text-align:left;
	width:945px;
	position:relative;
}

#container, input, button, select, textarea {
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

/*** added so all our columns still fit across the page in portal edit mode ***/
.edit-mode #container {
	width:955px;
}

a, a:active, a:focus, a:hover {
	cursor:pointer;
	cursor:hand;
	outline:0 none;
}

.dotted, abbr[title], dfn[title] {
 border-bottom:1px dotted #000;cursor:help;}

sup {
	top:-0.5em;
}

sub {
	bottom:-0.25em;
}

img {
	border:0;
    -ms-interpolation-mode:bicubic;
}

iframe {
   overflow-x:hidden;
}

nobr {
	white-space: nowrap;
}

.dteStyle form {
	margin:0;
	padding:0;
}

.dteStyle label {
	font-weight:bold;
	display:block;
	margin:2px 0 0 0;
	font-size:1.1em;
	cursor:pointer;
}

.dteStyle .label {
	background: none;
}

.dteStyle label.error {
	font-weight: inherit;
	color: #F00;
	font-size: 90%;
	padding: 0;
	font-weight: normal;
	margin: 0 0 7px 0;
}

.dteStyle input, .dteStyle select {
	vertical-align:middle;
	padding: .1em .1em;
}

.dteStyle input[type="radio"] {
	vertical-align:text-top;
	margin: 0 .5em 0 0;
}

.dteStyle input[type="checkbox"] {
	vertical-align:top;
	*vertical-align:baseline;
	margin-right: .5em;
}

.dteStyle input[type=url], .dteStyle input[type=date], .dteStyle input[type=tel], .dteStyle input[type=number], .dteStyle input[type=text], .dteStyle input[type=search], .dteStyle input[type=email], .dteStyle input[type=password], .dteStyle input.tel, .dteStyle input.number, .dteStyle input.text, .dteStyle input.email, .dteStyle input.search, .dteStyle input.password {
	min-width: 3em;
	color: #000;
	margin:2px 0 10px 0;	
	background-color:#fcfcfc important!;
	display:block;		
    -webkit-box-shadow:0 0 0 50px #fcfcfc inset;  
}

input:-webkit-autofill, input:-webkit-autofill:focus {
	color: #000;
	background-color:#fcfcfc !important;
    -webkit-box-shadow:0 0 0 50px #fcfcfc inset;  
    -webkit-text-fill-color: #000;
}

.dteStyle input[type=url]:focus, .dteStyle input[type=date]:focus, .dteStyle input[type=tel]:focus, .dteStyle input[type=number]:focus, .dteStyle input[type=text]:focus, .dteStyle input[type=search]:focus, .dteStyle input[type=email]:focus, .dteStyle input[type=password]:focus, .dteStyle input.tel:focus, .dteStyle input.number:focus, .dteStyle input.text:focus, .dteStyle input.email:focus, .dteStyle input.search:focus, .dteStyle input.password:focus {
	background-color:#fcfcfc !important;
    -webkit-box-shadow:0 0 0 50px #fcfcfc inset;  
}

.dteStyle input.error, .dteStyle select.error {
	background-color:#fcc;
	border: 1px dotted #f66;
}

.dteStyle textarea {
	color: #000;
	margin:2px 0 10px 0;	
	background-color:#fcfcfc;
	display:block;
	font: 1.1em Arial, Verdana, Helvetica, sans-serif;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
	background-color:#fcfcfc !important;
}

.dteStyle checkbox.error, .dteStyle radio.error {
	margin: 0;
}

.dteStyle input.required.error {
	margin:2px 0 2px 0;	
}

.dteStyle label input.required.error {
	margin:3px;	
}

.dteStyle select.error {
margin: 2px 0 0 0;
}

.dteStyle fieldset {
	margin-bottom: 20px;
}

.dteStyle legend {
	font-weight: bolder;
	font-weight: 900;	
	font-size: 110%;
}

.dteStyle select {
	margin:2px 0 10px 0;	
	background-color:#fcfcfc;
	display:block;	
}

.dteStyle input[type=button], .dteStyle input[type=submit], .dteStyle button, .button, html input[type="button"], input[type="reset"], input[type="submit"], .btn {
	cursor:pointer;
	cursor:hand;
	outline: solid transparent;	
    *overflow:visible;
	letter-spacing: .3px;	
	-webkit-appearance: none;
}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="date"], input[type="url"] {
	outline: solid transparent;
}

input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="date"]:focus, input[type="url"]:focus {
	outline: 0
}

input[type="search"] {
	-webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none;
}

input:-webkit-autofill {
	color:#fcfcfc !important;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border:0;
    padding:0;
	-webkit-appearance:none;
}

/************************************************************************************
	Semi-global styles
	All these styles are targeted at header, foooter and .dteStyle
***/

header a, header a:link, header a:visited, header a:hover, header a:active, footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, .dteStyle a, .dteStyle a:link, .dteStyle a:visited, .dteStyle a:hover, .dteStyle a:active {
	color: #114c8d;
	text-decoration:underline;
	cursor:pointer;
	cursor:hand;
}

.dteStyle .button:active, .dteStyle .button:link, .dteStyle .button:visited, .dteStyle input.button, .dteStyle input.button:link, .dteStyle input.button:visited, .dteStyle input.submit:link, header .button:active, header .button:link, header .button:visited, header input.button, header input.button:link, header input.button:visited, header input.submit:link {
	color:#FFF;
	text-decoration:none;
}

header a:hover, footer a:hover, .dteStyle a:hover {
	color:#00aeef;
	text-decoration:underline;
}

header .button, header .submit, input.button, .dteStyle .button, .dteStyle .submit, .dteStyle input.button, .dteStyle input[type=submit], .btn {
	display:inline-block;
	font-weight:strong;
	padding:.4em .7em;
	margin-right:10px;
	background-color:#00acee;
	-moz-border-radius:.4em;
	-webkit-border-radius:.4em;
	-webkit-appearance:none;
	border-radius:.4em;
	border:1px solid #00acee;
	display:inline-block;
	font-size:1.1em;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	color:#FFF;
}

 .button:hover, .dteStyle .button:hover, .dteStyle .submit:hover, .dteStyle input.button:hover, .dteStyle input.submit:hover, .dteStyle input[type="submit"]:hover, .dteStyle input[type=button]:hover, .dteStyle input[type=submit]:hover, header .button:hover, header .submit:hover, header input.button:hover, header input.submit:hover, input.button:hover, input.button:hover, input[type="submit"]:hover, .btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e9f0fa) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e9f0fa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9f0fa');
	background-color:#e9f0fa;
	color:#004990;
	cursor:hand;
	cursor:pointer;
	text-decoration:none;
}
 
header {
	display:inline-block;
	background-color:#FFF;
	color:#000;
	width:100%;
}

#header_break {
	clear:both;	 
	background-color:#dfebb4;
	height:12px;
	width:100%;
	margin:2px 0 0 0;
}

/*** need this to be a style so we can use it on all three alert divs	***/
#landingPageStormDiv, .warnings_messages {
	display:none;
}

#logo {
	display:block;
	height:43px;
	padding:.5em 0 1em .25em;
	width:189px;
	border:none;
}

#header_home {
	float:left;
	font-size:1.1em;
	font-weight:bold;
}

#container .skipnav {
	text-align:left;
}

#container .skipnav a {
	height:1px;
	left:-10000px;
	overflow:hidden;
	position:absolute;
	width:1px;
}

#container .skipnav a:focus, #container .skipnav a:active {
	height:auto;
	left:0;
	overflow:visible;
	position:static;
	text-decoration:underline;
	width:auto;
}

header a.chat, header a.chat[href^="href://"] {
	display:none;
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -5px -57px transparent;
	padding-left:1.4em;
	padding-right:1.5em;
}

header a.help, header a.help[href^="href://"] {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -5px -33px transparent;
	padding-left:1.1em;
}

#header_tools {
	float:right;
	text-align:right;
}

#header_tools .button {
	margin-right:0;
	padding:1px 4px;
	margin-left:5px;
}

#login_area {
	font-size:1.1em;
	min-height:24px;
	padding:8px 0 11px 0;
	text-align:right;
}

#login_area a {
	margin:0 4px 0 16px;	 
}

#search_box {
	padding:1px 1px 9px 0;
	height:20px;
	float:right;
}

#googleSearchForm {
	display:inline;
}

#googleSearchForm label {
	display:none;
	visibility:hidden;
}

#googleSearchInput {
	width:12em;	
	min-width: 12em;
	max-width: 80%;
	margin:0;
	background-color:#fff;
	float:left;
	display:inline;	
}

#googleSearchForm .button {
	float:left;
	padding:.3em .8em;
	line-height: 1em;	
}

.header_space1 {
	clear:both;
	padding:6px 0 0 0;
}

#header_nav {
	float:left;
	font-size:1.1em;
	font-weight:bold;
}

#header_nav ul {
	display:inline;
	list-style:none;
	margin:0 auto;
	padding:0;
}

#header_nav li, #header_nav a:link, #header_nav a:visited, #header_nav a:active {
	display:inline;
	list-style:none;
	padding:0 4px 0 6px;
	color:#004990;
	margin:0
}

#header_nav a:hover {
	color:#00aeef;
	display:inline;
	list-style:none;
	padding:0 4px 0 6px;
	margin:0
}

#help_center {
	float:right;
	padding-bottom:4px;
	padding-right:1px;
}
 
footer {
	background-color:#fff;
	clear:both;
	color:#000;
	display:block;
	float:none;
	margin:0 auto;
	padding:0;
	text-align:center;
	width:100%;
	z-index:1;
}

#footer_break {
	background:#8dcb3f url("../images/footer_bg.gif")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/footer_bg.gif*/ repeat-y right;
	background-image:linear-gradient(left, #8dcb3f 70%, #004990 0%);
	background-image:-moz-linear-gradient(left, #8dcb3f 70%, #004990 0%);
	background-image:-ms-linear-gradient(left, #8dcb3f 70%, #004990 0%);
	background-image:-o-linear-gradient(left, #8dcb3f 70%, #004990 0%);
	background-image:-webkit-linear-gradient(left, #8dcb3f 70%, #004990 0%);
	height:12px;
	margin-bottom:13px;
	width:100%;
}

footer .footer_block {
	background-color:#f89728;
	height:100%;
	position:relative;
	float:right;
	margin-right:189px;
	width:110px;
}

footer p {
	padding-top:1em;
}

#footer_links {
	clear: both;
	margin-top:25px;
	padding:0;
	z-index: 10;
}

#footer_links ul {
	display:inline;
	list-style:none;
	margin:0 auto;
	padding:0;
}

#footer_links li, #footer_links a:link, #footer_links a:visited, #footer_links a:active {
	display:inline;
	list-style:none;
	padding:0 0 0 7px;
	color:#000;
	margin:0;
}

#footer_links a:hover {
	color:#00aeef;
	display:inline;
	list-style:none;
	padding:0 0 0 7px;
	margin:0;
}

#social_media_wrapper {
 position:relative;
}

#social_media {
	float:right;
	position:absolute;
	margin:0 auto;
	text-align:right;
	top:-5px;
	right:-38px;
	width:180px;
	z-index:130;
}

#social_media ul {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}

#social_media li, #social_media a:link, #social_media a:visited, #social_media a:hover, #social_media a:active {
	display:inline;
	list-style:none;
	padding:0 2px;
}

#social_media .twitter, #social_media .facebook, #social_media .youtube, #social_media .wedte {
	float:left;
	margin: 0 2px;
	border:none;
	height:28px;
	width:28px;	
}

#social_media .wedte {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll 0 -366px transparent;
}

#social_media .twitter {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll 0 -415px transparent;
}

#social_media .facebook {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll 0 -462px transparent;
}

#social_media .youtube {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll 0 -510px transparent;
}

#social_media span {
	display: none;
}

#level_1 {
	list-style:none;
	margin:0 auto;
	padding:8px 0 0 2px;
	height:14px;
	font-size:1.15em;
}

#level_1 li {
	margin:0 auto;
	padding:5px 10px;
	display:inline;
	cursor:pointer;
	cursor:hand;
	font-weight:bold;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	text-decoration:underline;	
}

#level_1 li.underline_text {
	text-decoration:underline;
}

#level_1 li.active_tab {
	background:#eee;
}

#level_1_point_5 {
	text-align:center;
}

#level_1_point_5 ul {
	list-style:none;
	height:0;
	width:550px;
	background:#eee;
	margin:0 auto;
	padding:15px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#level_1_point_5 ul li {
	margin:0;
	display:inline;
}

#footer_links li:before, #level_1_point_5 li:before, #link_1_list li:before {
	content:" | ";
	padding-left:4px;
}

#footer_links li:first-child:before, #level_1_point_5 li:first-child:before, #link_1_list li:first-child:before {
	content:"";
	padding:0;
}

#footer_links li, #level_1_point_5 ul li a {
	color:#000;
}

#level_1_point_5 ul li a:hover {
	color:#00aeef;
}

#comodoTL_wrapper {
	float: left; 
	width: 148px;
	height: 30px;
	position: absolute;
	z-index:1;
}

#comodoTL_wrapper a, #comodoTL_wrapper img {
	border:none;
	text-decoration:none;
}

#secondary_nav {
	background-color:#ececec;
	float:right;
	width:168px;
	margin-top: 2px;
	padding: 2px 10px;
}

#secondary_nav ul {
	margin: 0;
	padding: 2px 0 10px 0;
	list-style: none;
}

#secondary_nav li {
	color:#004990;
	padding: 0;
	list-style: none;	
	margin-left:5px;
	line-height:160%;	
}

#secondary_nav a {
	color:#000;
}
#main {
	float:left;
	width:537px;
	/* padding:0 15px 15px; */
}

.dteStyle #main_content_area  {
	width: 945px;
	margin: 2px 0 0 0;
	padding: 0;
	display: block;	
	overflow: hidden;
}

.dteStyle #main_col {
	display: block;
	overflow: hidden;
	/* position: relative; */
}

.dteStyle #main_content {
	display: block;
	overflow: hidden;	
	padding: 0 13px 20px 13px;
}

.dteStyle #left_col {
	margin: 0;
	float: left;
	display: block;	
	width: 189px;
    min-width: 189px;
    min-height: 200px;
}

.dteStyle #right_col {
	margin: 0;
	float: right;	
	display: block;	
    width: 189px;	
    min-width: 189px;
    min-height: 100px;	
}

.dteStyle h1, h2, h3, h4, h5 {
	line-height: 1em;
}

.dteStyle h1 {
	color:#134B8D;
	font-size:1.6em;
	margin-top:.5em;
	padding-top:0;
	font-weight:bold;
	letter-spacing: -.6px;	
}

.dteStyle h2 {
	color:#004990;
	font-size:1.3em;
}

.dteStyle h3 {
	margin: 0;
	padding: .5em 0;
	color:#004990;
	font-size:1.1em;
	text-decoration: none !important	
}

.dteStyle h4, h5 {
	padding: 0; margin: 1.1em 0;
}

.dteStyle h4 {
	font-size: 1.1em;
}

.hidden {
	display:none;
	visibility:hidden;
}

.shown {
	display: block;
	visbility: visible;
}

#instructional_text  {
	margin-top: 30px;
	margin-bottom: -5px;
	font-size: 110%
}

.dteStyle .expand > span  {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -38px 3px transparent;	
	padding-left:1.4em;
	text-decoration: none !important;  
	display: block;
	cursor:pointer;
	cursor:hand;	
	font-weight: bold;

}

.dteStyle .expand span table tr th span {
	background: none;
	padding: 0;
	display: inline;
	border-bottom: 1px dotted #004990;	
}
 
.dteStyle .expand span.open {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -38px -46px #FFF;	
	padding-left:-1.4em;
	text-decoration: none !important;  	
	display: block;
	cursor:pointer;
	cursor:hand;	
	border: none;		
}

.dteStyle .expand span.open table tr th span {
	background: none;
	padding: 0;
	border: none;
}

.dteStyle .question, .dteStyle .question > span  {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -38px -3px #FFF !important;  	
	text-decoration: none !important;  
	display: block;
	cursor:pointer;
	cursor:hand;	
	font-weight: bold;
}

.dteStyle .question span.open, .dteStyle .question > span.open{
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -38px -52px #FFF !important;
	padding-left:-1.4em;
	text-decoration: none !important;  	
	display: block;
	cursor:pointer;
	cursor:hand;	
	border: none;		
}

.dteStyle .answer {
    height:auto;
	transition : all 0s ease 0s;
	padding-top: -.3em;
	padding-left: 1.4em;
	padding-bottom: .5em;	
	display: none;
}

.faq .collapse {
    height: inherit !important;
    overflow: hidden;
    position: relative;
    transition: height 0.35s ease 0s;
}

.dteStyle .pdf_icon {
	width: 10px;
	height: 16px;
	padding: 0 10px;
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat -5px -626px	transparent;
	margin-left: 6px;
}

.dteStyle a.external, .dteStyle a.external[href^="http://"] {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll 17px -154px	transparent;
	margin-right:.1em;
	padding-right:1.6em;
}

.dteStyle a.popup, .dteStyle a.popup[href^="href://"] {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll 17px -137px	transparent;
	margin-right:.1em;
	padding-right:1.6em;
}

#print-link, #print-link[href^="href://"] {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -5px -174px	transparent;
	padding-left:1.4em;
}

#print_block {
	display: inline;
	margin: 0;
	padding-right: 3px;
}

.dteStyle #email-link, .dteStyle #email-link[href^="href://"] {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -5px -80px	transparent;
	padding-left:1.4em;
}

.dteStyle .addthis_button, .dteStyle .addthis_button[href^="href://"] {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -5px -197px	transparent;
	padding-left:1.4em;
}

.dteStyle p {
	line-height:140%;
	margin: 10px 0;
}

.dteStyle p:empty {
	display: none;
}

.dteStyle hr {
	background-color:#a1a1a4;
	border:none;
	color:#a1a1a4;
	height:.1em;
}

#container .menu_list {
	width:150px;
}

#container .menu_head {
	background:#eef4d3 center right no-repeat;
	cursor:pointer;
	cursor:hand;
	font-weight:bold;
	margin:1px;
	padding:5px 10px;
	position:relative;
}

#container .menu_body a {
	background-color:#EFEFEF;
	color:#069;
	display:block;
	font-weight:bold;
	padding-left:10px;
	text-decoration:none;
}

#container .menu_body a:hover {
	color:#000;
	text-decoration:underline;
}

#toolbox {
	float:right;
	height:2em;
	padding-top:1.2em;
	position:relative;
	right:0;
	width:21em;
	z-index:200;
	display:inline;
}

#article {
	float:right;
	margin:0 1em;
}

#share, #font_sizer {
	float:right;
	width:5em;
	display:inline;
}

#font_sizer span {
	float:left;
	display:inline;
}

#font_sizer img:hover {
	cursor:pointer;
	cursor:hand;
}

#plustext {
	float:left;
	margin-right:5px;
}

#minustext {
	float:right;
}

.dteStyle table {
	border-collapse:collapse;
	border:1px solid #D8D8D7;
    border-spacing:0;
	font-size:inherit; 
	font:100%; 
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;	
	margin-bottom: 20px;
}

.dteStyle td {
	padding: .4em .6em .4em .4em;
}

.dteStyle td ul {
	padding: 0;
	margin: 0;
	margin-left: 10px;
}

.dteStyle th {
	font-size:1.1em;
	font-weight:bold;
	padding: .4em .6em .4em .4em;
	text-align:left;
	background-color: #00acee;	
	color: #1A1919;	
}
.dteStyle th, .dteStyle th.sortable a, th a:link {
	text-decoration: none;
	color:#FFF;
}

.dteStyle tr.even td, .dteStyle tr.even {
	background-color:#eee;
}

.dteStyle tr th {
	/* background-color:#50c8e8; */
}

.dteStyle tr:nth-child(odd) {
	background-color:#FFF;
}

.dteStyle tr:nth-child(even) {
	background-color:#eee;	
}

.dteStyle table.nostyle, .dteStyle table.nostyle tr, .dteStyle table.nostyle td, .dteStyle table.nostyle th, .dteStyle table.noclass, .dteStyle table.noclass tr, .dteStyle table.noclass td, .dteStyle table.noclass th {
	border:none;
	background: none;
	outline: solid transparent;
}

.dteStyle img, .display_block {
	display:block;
}

.display_none, #container .menu_body {
	display:none;
}

input:-moz-placeholder {
	color:#aaa !important;
}

:-ms-input-placeholder, .placeholder, ::-webkit-input-placeholder {
	color:#aaa !important;
}  

#submitClear {
	margin-top: 7px;
} 

.dteStyle #vert_border {
	background:#ccc url("../images/icons/vertical_line.gif")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/vertical_line.gif*/ repeat-y;
	width:1px;
	margin:10px;
	float:left;
}

.dteStyle dl {
	padding:0;
	list-style:none;
	margin:0;
	display:block;	
}

.dteStyle dd {
	margin:0 0 0 25px;
	padding:0 0 5px 0;
	list-style:none;	
	display:block;	
}

/* Homepage Specific */
#nav_home {
	background-color:#d9d9d9;
	float:left;
	margin-top:2px;
	width:187px;
	min-height:244px;
	position: relative;	
	overflow: hidden;
	z-index: 700;
}

#nav_home label {
	display:block;
	margin:8px 0 1px 10px;
	cursor:pointer;	
}

#nav_home input[type=text], #nav_home input.text, #nav_home input[type=password], #nav_home input.password {
	width:11em;	
	min-width: 11em;
	max-width: 80%;
	margin:2px 0 10px 10px;
	background-color:#fcfcfc;
	display:block;	
}	

#nav_home input.button {
	margin:2px 0 10px 10px;
	display:inline-block;
}

#nav_home p {
	margin:5px 0 8px 10px;
	padding:0;
}

#nav_home #signinPortal {
	margin:2px 5px 8px 10px;
}	 

#nav_home form {
	display:inline;
}

#nav_home h1 {
	color:#333;
	margin:0;
	padding:5px 0 5px 10px;
	font-size:1.4em;
	border-bottom:2px solid #FFF;	
}

#current_news {
	position:absolute;
	top:210px;
	margin:2px 0 0 0;
	padding:7px 8px;
	width:100%;
	border-top:2px solid #fff;
}

#newsfeed a {
	color:#fff;
	margin-left:5px;
}

#newstitle {
	#FFF-space:nowrap;	
	overflow:hidden;	
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;	
	-ms-text-overflow:ellipsis;
	margin:0;
}
 
#news_label, #newstitle {
	padding-right:5px;
	display:inline;
}

#news_label a {
    color: #FFFFFF;
    margin-left: 5px;
}

#recommended_links, #home_residential, #home_business {
	min-height:187px;
}

#home_residential h3, #home_business h3 {
	margin:40px 0 4px 10px;
}

#home_residential h3, #home_business h3 {
	color:#004990;
	font-size:1.2em;	
}

#home_residential p, #home_business p {
	padding:0;
	margin-top:4px;
}

#recommended_links h2	 {
	margin:40px 0 4px 10px;
	color:#000;
	font-size:1.2em;
}

#recommended_links {
	float:left;
	width:177px;	
}

#recommended_links ul {
	padding:0;
	display:inline;
	list-style:none;
	margin:0;
}

#recommended_links li {
	padding:0;margin:0;
	margin-left:10px;
	padding:0 0 5px 0;
	list-style:none;	
}
	
#home_residential {
	float:left;
	width:377px;
	margin-right:5px;
}

#home_business {
	float:left;
	width:352px;
}

#home_residential img, #home_business img {
	padding-right:5px;
	float:left;
	display:inline;
}

#main_home {
	color:#FFF;
	font-weight:bolder;
	float:left;
	overflow:hidden;
	z-index: 1;
	position:relative;
	width:756px;
	background-color:#004990;
	margin:2px 0 0 0;
	min-height:244px;	
}

.med_slider_area {
	width:567px;
	margin:0;
	min-height:212px;
}

/* Image Slider */
/*--Main Container--*/
#main_home img {
	border:none;
}

#main_home .main_view {
	float:left;
	position:relative;
}

/*--Window/Masking Styles--*/
#main_home .window {
	height:212px;	
	width:756px;
	overflow:hidden;/*--Hides anything outside of the set width/height--*/
	position:relative;
	padding:0;
	margin:0;
	top:0;
}

#main_home .image_reel {
	position:absolute;
	top:0;left:0;
	z-index: 500;
}

#main_home .image_reel img {
	float:left;
	border:none;
}

/*--Paging Styles--*/
#main_home .paging {
	position:absolute;
	bottom:8px;
	right:37px;
	z-index:999;/*--Assures the paging stays on the top layer--*/
}

#main_home .paging a {
	padding:0 5px;
	float:left;
	width:12px;
	height:12px;	
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll  -6px -246px transparent;
	text-decoration:none;
}

#main_home .paging a.active {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -6px -220px transparent;
	text-decoration:none;	
}

#main_home .paging a:hover {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -6px -220px transparent;
	border:none;	
	text-decoration:none;
}

#main_home .paging a span {
	font-size:.5em;
	overflow:hidden;
}

#playpause {
	position:absolute;
	bottom:7px;
	right:22px;
	z-index:999;	
}

#playpause img {
	height:12px;
	padding:1px;
}

#playbutton, #pausebutton {
	cursor:hand;
	cursor:pointer;
}

/* Main Menu */
#main_nav {
 
	width:100%;
	text-align:center;
}

#main_nav ul {
	width:100%;
	margin:0 auto;
	padding:0 0;
	float:left;
	background:#85b1d6 url("../images/menu_bg.gif")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/menu_bg.gif*/ repeat-x;
	background:-moz-linear-gradient(top, #b3cbef 0%, #85b1d6 100%);	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #b3cbef), color-stop(100%, #85b1d6));/* Chrome, Safari4+ */
	background:-webkit-linear-gradient(top, #b3cbef 0%, #85b1d6 100%);/* Chrome10+, Safari5.1+ */
	background:-o-linear-gradient(top, #b3cbef 0%, #85b1d6 100%);/* Opera 11.10+ */
	background:-ms-linear-gradient(top, #b3cbef 0%, #85b1d6 100%);/* IE10+ */
	background:linear-gradient(top, #b3cbef 0%, #85b1d6 100%);/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3cbef', endColorstr='#85b1d6', GradientType=0 );/* IE6-9 */
	border-bottom:1px solid #cbcbcb;	
}
 
#main_nav ul li {
	display:inline;
}

#main_nav ul li a {
	float:left;
	text-decoration:none;
	color:#000;
	padding:7px 0;
	background:url("../images/icons/menu_divider.gif")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/menu_divider.gif*/ repeat-y left;	
	font-weight:normal;
	width:135px;
	font-size:.95em;	
}

#main_nav ul li a:visited {
	color:#000;
}
 
#main_nav ul li a:hover {
	color:#FFF;
}

#main_nav #current {
	color:#fff;
	border-left:1px solid #D0EEF9;
	width:134px;
	background:#063771 url("../images/menu_bg_down.gif")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/menu_bg_down.gif*/ repeat-x;
	background:-moz-linear-gradient(top, #51729b 0%, #063771 100%); 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #51729b), color-stop(100%, #063771)); 
	background:-webkit-linear-gradient(top, #51729b 0%, #063771 100%); 
	background:-o-linear-gradient(top, #51729b 0%, #063771 100%); 
	background:-ms-linear-gradient(top, #51729b 0%, #063771 100%); 
	background:linear-gradient(top, #51729b 0%, #063771 100%); 
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#51729b', endColorstr='#063771', GradientType=0 ); 
}

#main_nav ul li:first-child #current {
	width:135px;
	border:none;
	background:#063771 url("../images/menu_bg_down.gif")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/menu_bg_down.gif*/ repeat-x;
	background:-moz-linear-gradient(top, #51729b 0%, #063771 100%);/* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #51729b), color-stop(100%, #063771));/* Chrome, Safari4+ */
	background:-webkit-linear-gradient(top, #51729b 0%, #063771 100%);/* Chrome10+, Safari5.1+ */
	background:-o-linear-gradient(top, #51729b 0%, #063771 100%);/* Opera 11.10+ */
	background:-ms-linear-gradient(top, #51729b 0%, #063771 100%);/* IE10+ */
	background:linear-gradient(top, #51729b 0%, #063771 100%);/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#51729b', endColorstr='#063771', GradientType=0 );/* IE6-9 */
} 

#main_nav ul li:first-child a {
	background:none;	
} 

#main_nav br {
	clear:left;
}

#main_nav #eyl #current  {
		width:158px;
}

#main_nav #eyl ul li:first-child #current, #main_nav #eyl ul li a {
		width:157px;
}


#side_nav ul li {
	list-style:none;
}

.dteStyle #leftNav {
	text-align:left;
	float:left;
	width:187px;
	height:100%;
	text-decoration:none;	
	border-right: 2px solid #fff;	
	margin-bottom: 20px;
}

.dteStyle #leftNav ul {
	background-color: #d9d9d9;
}

.dteStyle #leftNav ul.underConstruction {
	display: none;
}

.dteStyle #leftNav ul, .dteStyle #leftNav li, .dteStyle #leftNav ol {
	padding:0;
	margin:0;
	list-style:none;	
	width: 100%;		
}

.dteStyle #leftNav li {
	cursor:hand;
	cursor:pointer;
	display:block;
	width: 167px;
}

.dteStyle #leftNav .hasChild {
	border-top:solid 1px #ECECEC;
	padding-top: 4px;
	padding-left: 20px;
	margin:0;
	text-decoration:none;
	color:#333;
	padding-bottom: 4px;	
}

.dteStyle #leftNav .noChild {
	border-top:solid 1px #ECECEC;
	margin:0;
	text-decoration:none;
	color:#333;
	padding-left: 20px;
	padding-top: 4px;
	height: 19px;
}

.dteStyle #leftNav a {
	color:#333;
	width: 100%;
	display: block;
	text-decoration: none;
}

.dteStyle #leftNav a:hover {
	color: #6699cc;
}
 
.dteStyle #leftNav .children {
	background-color: #ececec;
	margin-left: -20px;
	margin-top: 4px;
	margin-bottom: -4px;
	width: 187px;
	display:none;
	visbility: hidden;	
}

.dteStyle #leftNav li.selected .children {
	display: block;
	display:none;	
}

.dteStyle #leftNav .child {
	padding-top: 4px;
	height: 19px;
	padding-left: 20px;
}
 
.dteStyle #leftNav ul > li.selected {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -2px -558px	transparent;
}

.dteStyle #leftNav ul > li.notSelected {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -36px 1px transparent;	
}

.dteStyle #leftNav ul > li.open {
 	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -36px -48px transparent;
}

.dteStyle #leftNav ul > li.selected {
	background-color: #a3a3a3;
}

.dteStyle #leftNav ul > li.selected {
	color: #fff;
}

.dteStyle #leftNav ul > li > ul > li.selected {
	background-color: #ccc;
}

.dteStyle #leftNav ul > li > ul > li.selected a {
	color: #000;
	font-weight: bolder;
}

.dteStyle #leftNav .child, .dteStyle #leftNav .noChild  {
	background-image: none !important;
}

.dteStyle #leftNav ul > li.selected a {
	color: #fff;
}

.dteStyle #leftNav ul > li.notSelected a {
	color:#333;
}

.dteStyle #leftNav ul.underConstruction {
	display: none;
}

/* MISC STYLES */
#signin_home {
	float:left;
	width:320px;
}

#reg_info {
	float:left;
	width:340px;
	padding-left:30px;
	margin-top:20px;
	border-left:#ccc solid 1px;
}

/* Shop Smart Shop... */
.smark {
	font-size: 65%;
	vertical-align: super;
	position: relative; 
	top: .3em; 
}

/* Float Clearing */
.group:before, .group:after {
	content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}

#signin_home {
	position: relative;
}

#outerwrapper {
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
	z-index: 900;
}
#wrapper {
	width: 100%; height: 100%;
	position: relative;	
}

#information_icon {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll 0 -543px transparent;
	width: 40px;
	margin-left: 6.6em;
	margin-top: -20px;
	float: left;	
	text-decoration: none;
}

#outerwrapper a, #wrapper a, #user_name_tip a {
	text-decoration: none;	
}

#user_name_tip {
	position: absolute;
	background: rgb(250, 250, 250); /* The Fallback */
	background: rgba(255, 255, 255, 0.95); 
    border:1px solid #eee;
    padding:5px 5px;
    width:170px;
	min-height:50px;
    color:#000;
    text-align:left;
    font-size:.9em;
	z-index: 9999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

#signin_home #information_icon {
	margin-left: 6.6em;
	float: left;	
}

.underlay{
	display:block;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	-moz-opacity:0.5;
	opacity:.50;
	filter:alpha(opacity=50);
	z-index: 150;
}
.lightbox{
	display:block;
 	position:absolute;
	top:100px;
	left:25%;
	width:640px;
	height:400px;
	background-color:#fff;
	z-index: 999;	
}

.lightbox iframe {
	 clear: both; 
}
.lightbox_top {
	width: 100%;
	padding: .3em;	
    float : left;
}

.lightbox_top h2 {
	float: left;	
	width: 85%;
	margin: 0;
	padding-left: 9px;
}

.lightbox_top a {
	float: right;
	width: 8%;	
	margin-right: 7px;
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat 30px -592px	transparent;
}

a.close, a.close[href^="href://"] {
	float: right;
	width: 60px;	
	margin-right: 7px;
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat 35px -592px	transparent;
}

a.exit, a.exit[href^="href://"] {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll 47px -592px transparent;
	padding: 0 .75em 0 1.4em;
}

a.arrow_link, a.arrow_link[href^="href://"] {
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -18px -118px transparent;
	padding: 0 1.1em 0 .25em;
}

.dteStyle .disclaimer {
	font-size: 90%;
	font-style:italic;
}

/* IMPORTS FROM ORIGINAL CSS */	

.dteStyle #top_area {
	min-width: 100%;
	display: block;
	float: left;
	border-bottom: 1px solid #A3A3A3;
}

.dteStyle #poster_area {
	float: left;
	display: inline;
}

.dteStyle #top_area .feature {
  width: 187px;
  margin-bottom: 10px;  
  min-height: 202px;  
}

.dteStyle .feature {
	width: 187px;
}

.dteStyle .feature_wide {
	width: 299px;
}

.dteStyle .feature, .dteStyle .feature_wide {
  min-height: 212px;
  float: left;
}

.dteStyle #right_col .feature {
float: none;
}

.dteStyle #bottom_area .richTextBody {
	background-color: #FFF;
}

.dteStyle #bottom_area {
	padding-bottom: 20px;
	display: block;
	/* float: left; */
}

.dteStyle .richTextBody {
 overflow: hidden; 
}

.dteStyle #right_col .richTextBody, .dteStyle .richTextBody {
	background-color: #eaeaea;
	padding: 2px 0 0 0;
}

.dteStyle #right_col .richTextBody a {
	text-decoration: underline;	
}

.dteStyle #right_col p img, .dteStyle .richTextBody p img {
	text-align: center;
	padding: 0;
}

.dteStyle #right_col p script {
	display: hidden;
	visibility: none;
} 

.dteStyle .richTextBody form {
	padding-left: 8px;
}

.dteStyle #right_col img {
max-width: 187px;
}

.dteStyle #right_col h2, .dteStyle .richTextBody h2 {
	font-size: 1.1em;
	padding: 0 0 0 8px;
}

 .dteStyle .richTextBody h3  {
	font-size: 1em;
	padding: 0 0 3px 8px;
}

.dteStyle #right_col p, .dteStyle .richTextBody p {
	padding: 0 8px;
}

.dteStyle #right_col ul {
	margin: 0;
	padding: 0 0 10px 25px;
}

.dteStyle #right_col .feature {
	min-height: 80px;
}

.dteStyle .feature_wide .featureImage img {
	width: 299px;
}

.dteStyle .feature img {
  margin-bottom: 7px; 
}

.dteStyle .feature .featureImage img {
	max-width: 187px;
	text-decoration: none;	   
}

.dteStyle .feature a, .dteStyle .feature_wide a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.dteStyle .featureSpanTwoCols {
  width: 378px;
}

.dteStyle .featureVertBorder {
  margin-top: 6px;
  float: left;
  height: 206px;
  width: 1px;
}
	
.dteStyle .featureHeading {
  font-size: 1.1em;
}

.dteStyle .feature a .featureHeading, {
   text-decoration: none;
}

.dteStyle .featureHeading, .dteStyle .featureSubHead {
  	padding-left: 10px; 
	padding-right: 6px;	
	font-weight: normal;  
	text-decoration: none;	
}

.dteStyle .featureSubHead {
  font-size: 12px; 
}

.dteStyle .feature_wide .featureHeading, .dteStyle .feature_wide .featureSubHead {
  text-align: center;
  padding: 0;
}

.dteStyle .featureLinkSpacer {
  height: 10px; 
  width: 180px;
}

.dteStyle .promoLink a {
	color: #333;
	background:url("../images/icons/sprites.png")/*tpa=https://www2.dteenergy.com/wps/contenthandler/!ut/p/digest!wCwNfhLvcaNZJNb68bOcZw/dav/fs-type1/themes/DTEEnergyPortalTheme/images/icons/sprites.png*/ no-repeat scroll -35px 0 transparent;	
	padding-left: 16px;
	padding-top: 5px;	
	text-decoration: underline;
}

.dteStyle .promoLink {
	font-size: .9em;	
	font-weight: bold; 
	text-align: right;
	padding-right: 7px;
}	

.linkNbr {
	font-size:12px;
	color: #000000;
	border: 1px solid #a9a9a9;
	padding: 3px;
	background-color: #FFFFCC;
	-moz-border-radius: 5px;
	min-width: 150px;
	max-width: 200px;
}

.dteStyle .link_list {
	padding:0;
	display: block;
	list-style:none;
	margin: 8px 0 0 10px;
}

.dteStyle .link_list li  {
	padding:0;
	margin:0;
	padding:0 0 1px 0;
	list-style:none;	
}	

.dteStyle .link_list li a {
	text-decoration: underline;
}	

.indent {
	margin-left: 10px;
}

.sitemap {
	float:left; 
	width:28%;
	margin: 0 10px 10px 0; 
	padding-right: 10px; 
	border-right: 1px solid #A3A3A3;
}

.contact_details label {
	float:left;
	width: 5em;
	padding: .2em .2em .2em 0;
	display: inline;
	font-weight: bold;
}

small {
	text-size: 80%;
}

.gauge_arrow_down {
	color: #f30;
	font-weight: bold;
	font-size: 150%;
}
.gauge_arrow_up {
	color: #004990;
	font-weight: bold;
	font-size: 150%;
}

/* Business Homepage */
.dteStyle .biz_selections {
 width: 175px;
 height: 18px;
 color: #302e30;
 padding: 2px 0 2px 12px;
 background-color: #e7e7e8;
 border-bottom: 2px solid #FFF;
 }
 
 .dteStyle .biz_bheading {
 width: 175px;
 height: 19px;
 color: #FFFFFF;
 padding: 2px 0 2px 12px;
 background-color: #00adee;
 border-bottom: 2px solid #FFF;
 }
 
 .dteStyle .biz_gheading {
 width: 175px;
 height: 19px;
 color: #FFFFFF;
 padding: 2px 0 2px 12px;
 background-color: #8cc63f;
 border-bottom: 2px solid #FFF;
 }

.dteStyle .clear_style {
	background-color: none !important;
	background-image: none !important;
	text-decoration: none !important;	
	color: #000; 
	padding: 0;
	margin: 0;
	font: Arial, Verdana, Helvetica, sans-serif important!;
}

[disabled], a[disabled], a[disabled=disabled], button[disabled], button[disabled]:active, input.disabled, input[disabled="disabled"], input[disabled=disabled], input[type="button"]:disabled, input[type="button"][disabled], input[type="button"][disabled]:active, input[type="reset"]:disabled, input[type="reset"][disabled], input[type="reset"][disabled]:active, input[type="submit"]:disabled, input[type="submit"][disabled], input[type="submit"][disabled]:active, select[disabled] > input[type="button"], select[disabled] > input[type="button"]:active {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
	text-decoration:none;	
	color:#333;
    cursor:default;
}

 
/* OTHER STYLES */
@media print {
* {
	background-color: #FFF !important;
	background-image: none !important;
	font-family:arial, verdana, helvetica, sans-serif;
	font-size:12pt;
	line-height:130%; 
	color: #000; 
}

html {
   width: 100% !important;
   }

body {
	background: #FFF;
	top:0;
	left:0;
	margin:auto;
	color:#000;
	}   

img {
   border: 0;
}
   
abbr, acronym {
	border-bottom:none;
}

#recommended_links {
	width: 100%;
}

#recommended_links a:link, #recommended_links a:visited, #main a:link, #main a:visited{
	text-decoration:underline;
	color:grey;
	background:transparent;
	}

#recommended_links a:link:after, #recommended_links a:visited:after {
   content: " (" attr(href) ")";
   font-size: 90%;
}
   
#recommended_links a[href^="/"]:after {
  content: " (http://www.dteenergy.com" attr(href) ")";
   font-size: 90%;  
   }   

#div {
min-height: 0;
}

/* UnFloat Items */
#container {
   width: auto;
   margin: 0 5%;
   padding: 0;
   border: 0;
   float: none !important;
   position: static;
   color: #000;
   background: transparent none;
   }

.button {
 border: 1px solid #000; }

.collapse {
	display: block !important;
}

.dteStyle table td {
	padding: 4px;
}

.dteStyle table th {
	text-align: left;
}

footer p {
	padding-top: 10px;
	font-size: 90%;
	text-align: center;
	display: block !important;	
}

#main_home img {
display: block;
}

#news_label {
font-weight: bolder;
}

/* Hide Elements */	
#instructional_text, #footer_break, nav, #secondary_nav, #header_nav_1, #header_nav, #toolbox, #social_media, #footer_level_1, #footer_links, .skipnav, #header_tools, #header_nav_area, #vert_border, #comodoTL_wrapper, .paging, #playpause, #landingPageStormDiv, #footer_level_1, #footer_links, #comodoTL_wrapper, #level_1_point_5, .hiddenWidgetsDiv, #wpRegionId1, .wpthemeAccess, #signin_home {
   display: none;
   visibility: hidden;
   }  
}

/* OTHER STYLES */
@media handheld {


}

@media screen and (max-width: 480px) {


}

@media screen and (max-width: 768px) {


}

@media all and (orientation:portrait) {

/* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) {

/* Style adjustments for landscape mode goes here */

}
