.slideShow .slideShowWrap{ position: relative; }
	.slideShow .slides{ position: relative; overflow: hidden; }
		.slideShow .slideShowVideo{ cursor: pointer; overflow: hidden; position: absolute; width: 197px; height: 163px; padding: 20px 20px 0 20px; background: transparent url(/v8/widgets/generic/image/v1/images/standards-slide-show-video-bg.png); }
		.slideShow .h-left{ left: 18px; }
		.slideShow .h-right{ right: 18px; }
		.slideShow .h-center{ left: 50%; margin-left: -118px; }
		.slideShow .v-top{ top: 18px; }
		.slideShow .v-bottom{ bottom: 18px; }
		.slideShow .v-center{ top: 50%; margin-top: -91px; }
			.slideShow .slideShowVideo div{ width: 194px; height: 109px; margin: 0 0 10px 0; }
			.slideShow .slideShowVideo a{ display: block; width: 125px; margin: 0 auto; padding: 4px 0; border: 1px solid #CCC; text-align: center; text-decoration: none; color: #000; background: #FFF url(/v8/widgets/generic/image/v1/images/standards-slide-show-button.png) repeat-x; }
			.slideShow .slideShowVideo a:hover{ border-color: #EEE; background-image: none; }

/* =ie6 */
* html .slideShow .slideShowVideo{ border: 1px solid #DDD; background: #FFF; }
