#home-area{clear:both;position:relative}
#switch-it{overflow:hidden;z-index:1}
#switch-it img,#bottom-area img{padding:0}
#hero-prev,#hero-next{display:block;position:absolute;width:22px;height:46px;top:250px;margin-top:-23px;background:url(../../images/common/hero-controls.png)/*tpa=http://www.dillards.com/images/common/hero-controls.png*/ no-repeat;text-indent:-5000px}
#hero-prev{left:-40px;background-position:-40px 0}
#hero-prev:hover{background-position:-81px 0}
#hero-next{right:-40px;background-position:-122px 0}
#hero-next:hover{background-position:-163px 0}
#switch{clear:both;position:absolute;left:16px;top:514px;z-index:2}
#switch a{display:block;float:left;width:14px;height:18px;font-size:11px;font-weight:700;color:#777;background:url(../../images/common/hero-controls.png)/*tpa=http://www.dillards.com/images/common/hero-controls.png*/ no-repeat 0 -41px;margin:0 2px 0 0;padding:3px 0 0 6px}
#switch a.activeSlide{color:#000;background-position:0 0}
#switch a:focus{outline:none}
#trend-area .trend{float:right;width:196px;height:145px}
#trend-area h2{font-size:12px;color:#fff;margin:10px 0 0}
#trend-area h2.title{float:left;font-size:17px;font-weight:400;margin:62px 0 0 15px}
#trend-area .trend img{display:block;position:absolute}
#trend-area .trend ul{list-style-image:url(../../images/common/list-arrow.png)/*tpa=http://www.dillards.com/images/common/list-arrow.png*/;margin:20px 0 0}
#trend-area .trend ul li{margin:6px 0 0 22px;padding:0 0 0 4px}
#trend-area .trend ul li a{color:#fff;text-transform:uppercase}
#trend-area .trend ul li a:hover{color:#aaa}
#bottom-area{background:transparent}
#bottom-area a,#bottom-area img{display:block;float:left;width:326px;height:150px}
#bottom-area a.mid{margin:0 1px}
#trend-area:after,#bottom-area:after{content:".";display:block;height:0;clear:both;visibility:hidden}
#container {padding: 0}