h1{line-height:24px}
html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,/*ol,*/ ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,button{font:12px "Century Gothic", Helvetica, Arial, sans-serif;}
button {overflow:visible; height:26px;}
button.primary,button.secondary {height:36px;}
button.b-85 {height:34px;}
input {line-height:28px;}
b,strong {font-weight:bold;}
a {font:12px/1.25 "Century Gothic", Helvetica, Arial, sans-serif;}
#container{min-height: 630px;}
.primary,.secondary {zoom:1;}
#qc-saved-payment-info .secondary{display:block;float:left;clear:left;margin:14px 0 0;}
.cat-search-wrap {width:980px; margin:10px auto;}
.rr_itemPrice_vertical a,.rr_itemPrice_vertical b{line-height:1.4;}
#logo-spot{padding-bottom:15px}
#imgFlagCode {top:0; vertical-align:text-top;}
#email-signup button {padding:5px 4px 3px 4px; height:auto;border-left-width:1px;position:relative;top:1px;left:3px;}
form.contactus .acct-submit,form.contactus .btn-g-80 {float:left !important;}
#connect label{float:none;width:224px;text-align:left;margin:5px 0;padding:5px 25px 5px 0}
#search {width:418px;}
#search .primary {padding:0 7px; border:none;}
#main-nav li a{font-size:15px;padding:.83em 1.1em .83em 1.15em}
#main-nav li .sub{width:694px}
.tooltip {z-index:5000;}
#footer-offer{float:left;width:34%}
#footer-offer button{padding:4px 0 0}
#bottom-nav-container{float:left}
#trend-area,#mini-bag-popUp,#cart-wrapper{zoom:1}
#left-column {position:relative; left:3px;}
#facets .facet{z-index:4000}
#facets .facet .dd{z-index:10000;padding-bottom:8px!important}
#breadcrumb {padding: 0; margin: 12px 0 0 0; float: left; display: block;}
#breadcrumb li {margin: 0; padding: 0; display: inline;}
#breadcrumb li a.back {padding: 0 0 10px 10px; margin: 0; float: left;}
.prodShopAllBrand{background-position:right 0px; float: right;}
#facets .facet .dd ul li a{z-index:10000!important;display:inline-block}
#breadcrumb .parent span,#breadcrumb .current span,#breadcrumb .div {line-height:30px;}
#facets .facet .dd li a img,#facets .selected img{vertical-align:middle;padding:0 0 2px}
#left-column #facets .facet .dd li a img {vertical-align:-0.2em;}
.rr_rating,.rr_reviews,.rr_itemPrice_vertical{float:left;display:inline;margin:0;padding:0}
.rr_item .rr_reviews{line-height:inherit}
.rr_itemPrice_vertical{position:relative;}
.product .more2 img{float:left;margin:0 0 0 12%}
div.coachLargeLeft span.more2 img,div.coachLargeRight span.more2 img{float:left;margin:0 0 0 30%}
#price{line-height:18px;padding-bottom:2px}
#main-info{padding-top:6px}
#swatches{width:375px}
#add-area-a {float:none; clear:none;}
#attributes{width:500px}
#attributes.multiple {width:auto;}
#add-area-top {width:98%}
#attributes .dropDown{z-index:105;padding-top:4px;height:20px}
#attributes .dropDown .dd {overflow-x:hidden !important; overflow-y:auto !important; }
  #attributes .dropDownSingle .dd {width:auto !important;}
  #add-wishlist.coach {display:inline;vertical-align:top;position:relative;left:10px;float:none;}
.bundle-item .attr-section .dropDown{margin-right:30%!important}
.grouping .attr-section .dropDown{margin-right:0 !important}
.bundle-item .attr-section #swatches{width:390px;padding-bottom:8px}
.grouping .bundle-item .attr-section #swatches{width:100%;}
.bundle #add-area-b {width:914px !important; height:75px;}
#swatches-color{width:100%!important}
#swatches ul li div.tooltip img,#swatches ul li div.tooltip{width:175px;height:197px;z-index:10000}
#cart-head{margin:0 auto;padding:0 0 1.66em}
#cart-totals td label{vertical-align:middle;padding:0 0 .2em}
#registry-cart-table{border-collapse:separate}
#cart-table tr.red td,#registry-cart-table tr.red td{border-top:#c00 2px solid;border-bottom:#c00 2px solid}
#cart-table tr.red td.item,#registry-cart-table tr.red td.item{border-left:#c00 2px solid}
#cart-table tr.red td.subttl,#registry-cart-table tr.red td.subttl{border-right:#c00 2px solid}
#registry-info h2{float:left;width:99%;background:#D3D3D3;line-height:1.5em;margin:0 0 .5em;padding:.5em .83em 0}
#registry-info h2 span.registrants{float:right;width:70%;text-align:right;margin:-1.5em 0 0;padding:.25em 1.66em 0 0}
#cart-right td.price{text-align:right;float:right;padding-right:0;width:65px}
div.acctopts{margin:.83em 0}
div.acctopts div{clear:both;float:left;width:95%;line-height:1.25em;margin:.83em .83em .83em 0}
.move-wl .continue-checkout button{width:157px}
.main-action .move-wl{margin:0 0 1.5em}
#shipMultipleAddresses{margin:0}
#displayMultiShip .secondary {width:150px;}
#cart-table td.qty,#registry-cart-table td.qty{padding:.8em .75em .5em}
#gift-message label.instructs{padding:0 0 .25em}
#cart-table td.shipopts{padding:.5em .75em .5em 0}
#cart-table td.shipopts select{height:auto}
#cart-table div#gift-heading{width:100%;padding:.25em 0}
.continue-checkout{padding:.2em 0}
  .cart-buttons-b .continue-checkout {padding-top:0;}
#payment th label,#qcCreditCard th label{line-height:1.25em;padding:0 0 .1em}
#creditCards-area h3{float:none;vertical-align:baseline;padding:0 0 .2em}
.complete.continue-checkout{clear:both;margin:.83em 0}
.checkout-content #left-display .billing-details h3{float:none;clear:none;width:100%}
.checkout-content #right-display{float:right}
#login-form-main div.password{clear:both;float:left;margin:0 0 .83em}
#login-form-main table#multiId th{text-align:left;padding:.25em .75em .25em 0}
#login-form-main table#multiId td{padding:0 .83em .83em 0}
#login-form-main table input{margin:0 .83em 0 0}
#registrycontent h2{line-height:26px}
#regitrycontent{min-height:300px}
#required{clear:both;padding:0}
#featuredBrands h3{line-height:16px}
#label label{line-height:25px;text-align:right;text-transform:none;float:left;width:10em;margin:0 .5em 0 1.6em}
#Item-table th{line-height:20px}
#Item-table .tdLeft input{border:none;vertical-align:baseline}
#refine .registry-btn{padding:0 0 .15em}
.search-type{width:8.75em;text-align:center;padding:0 0 .2em}
#orderCustomer{margin:0 1em 0 0}
#orderCustomer h2{line-height:1em;margin:0 0 .83em}
#detailsBilling input{margin:0 .5em 0 0}
#emailsignup label{line-height:1.25em;float:none;vertical-align:middle;margin:0 0 .5em;padding:0}
#wish-table td.date{width:9em;text-align:right;vertical-align:top;margin:0;padding:.7em 1.45em 0 0}
.event table dd h2{margin:0 0 0 -2.2em}
#btn-left-placement{margin:-4.25em 0 0}
#mission ol{padding:0 0 0 .5em}
#facets .facet .dd li a{padding:2px 0}
body,.orderHistory label{line-height:1.25em}
#ptp-area #breadcrumb,#ptp-area h1#title,#attributes .attrs,#added-to-bag .item,#multiple-ship-options{width:100%}

.bundle-item {width: auto; margin-top: 12px;}
.grouping .bundle-item {width:528px;}
.bundle-item .info{float: left;width:250px;margin:0}
#attributes ul.bundleFloat {width: 940px;}
ul.bundleFloat li {float: left; min-height: 285px; width: auto; margin-right: 21px;}
ul.bundleFloat li li {height: auto; min-height: auto; margin:0}
.grouping ul.bundleFloat li,.grouping ul.bundleFloat li li {margin:4px;}
.grouping .primary {top:6px;}
#save-promotion,.bundle-item .attr-section .b-attr-single{width:300px!important}
.grouping .bundle-item .attr-section .b-attr-single {width:auto !important;}
#cart-head a img,.actions button.continue-guest,.claim img{padding:0}
#cart-head #header-right,#enter-credit-card div.address-item address,#login-form-main table .rememberMe{padding:0 0 .5em}
.cart-buttons .continue-checkout,dl.form dd div.continue-checkout,div.address-item div.continue-checkout,.claim input.registry-btn{padding:0 0 .2em}
.address-group div,.gc-form label{clear:none}
div.acctopts b,#refine label,#refine input,select,.claim label,.claim select,.claim input,.overview select{vertical-align:middle}
#addAddressForm div.continue-checkout,#gift-message textarea,#newCards,#login-form-main div.password input{margin:.83em 0 0}
#login-form-main label,#emailsignup a{float:none}
#login-form-main table#multiId td input,#detailsOrder input{margin:0 0 .83em}
#detailsOrder label,#detailsBilling label{line-height:1.25em;width:100%;padding:0 0 .25em}
.endecatext p{width:24%;}
.divider {clear: both; float: none;} 
#theContainer {height:1px; background-color: #fff;}
.storeListCenter {height:132px;}
li.contact{padding: 0 0 .25em 0;}
div.buttons {padding: 0 0 .83em 0; }
.getdirectionsbutton button {width: 125px; }
.getdirectionsbutton a {width: 125px;}
#locatorwrapper h1 {line-height: 30px}
#locatorwrapper .center li {line-height:12px}
#locatorwrapper .center ul.storeservices{position:static;margin-bottom:0;}
/*
#locatorwrapper .center p {float:none; clear: left; padding: 10px 0 0 0;}
#locatorwrapper p {padding:none;}
#locatorwrapper .storeAddress{position:absolute;top:0;left:186px;width:264px !important;}
*/
.address-group DL.form DD {float: none;}
.address-group DL.form DT.required-text {width:500px;}
DIV.acctopts {width:550px; clear:both;}
#services{clear:both; float: none;}
.dept-section {clear:none; width:100%;}
.dept-links {display:inline !important; margin:none;}
#side-rr,#rr-wrapper {display:block;}
#search-nav-top {position:relative;z-index:4000}
#attr-section .sizechart{position:relative;left:-113px;}
#ptp-area.bundle #attr-section{position:relative;}
#ptp-area.bundle #attr-section .sizechart{position:static;display:inline-block;width:100px;}


.image-prompt {line-height:1px;height:4px;padding: 3px 5px 15px;}

.prodAll {padding: 0 0 12px 0; margin: 0; height: 22px;}
#middle-results a .link {margin-top: -25px; padding-top: 2px;}
  .saved-search #middle-results a .link {margin-top:0; padding-top:2px;}
 
/* 
#sorting-tools{float:left;}
    #sorting-tools .sort{float:left;font-size:11px;padding:5px 5px 0 0}
    #sorting-tools span,#sorting-tools a{color:#777} 
.input-field {margin-top: 6px;}
.input-field select  {font-size: 12px; color: #333;}
  #sortDD .input-field select {width:auto;margin-right:10px;}
#results-count {font-size:100%;}
.input-field option { font-size: 12px;}
#pageSelDD {float: left; width: auto; position: relative;padding-right:5px; } /* Container for the results per page 
#numSort {font-size: 12px; color: #777; position: absolute; top: 7px; left: 5px; background: #FFF; padding: 0;} /* lays current results number over drop down
#sortDD {float: left; width:auto; position: relative;}
#sortSelect {font-size: 12px; color: #777; position: absolute; top: 7px; left: 64px; background: #fff; padding:0;}
*/

#botHTMLblocks .HTMLBoxes li div.promoBox #surveyText { width: 100%; overflow: hidden; }
#botHTMLblocks .HTMLBoxes li div.promoBox #chartDiv { width: 70%; }
.rr .cat-search-wrap-fixed #middle-results.dept .item,.rr .cat-search-wrap-fixed #middle-results.banner .item { width: 24.95%}
#search-prompt {padding:4px 6px 8px 6px;}
.rr #results-count {width: auto;}
.gc-form .gift-card {padding:0;}
.gc-form .secondary {margin-top:5px; padding-bottom:5px; padding-top:5px;}
.rewards .secondary {margin-top:5px;}
.divide {float:left; margin-top:10px;}
.rr .i .stars {width:85px;}

#sort { display:none; }

.pagination {  }
.pagination .p { padding-top: 0px; }
.pagination span.on { line-height: 15px; }
#payment td a {vertical-align:top;display:inline-block;padding-top:7px;}
#middle-results .item {width:19.5%;} /* width for item pages on search result pages */
.cat-search-wrap-fixed #middle-results.results-banner .item {width:24.6%;} /*  width for banner page image results (cherry pick and 4product)*/
.MAC .cat-search-wrap-fixed #middle-results.results-banner .item {width:19.5%;} 
.rr #middle-results .item {width:19.4%;} /* width for search result pages w/ Rich Relivance */
.rr .cat-search-wrap-fixed #middle-results.results-banner .item {width: 24.9%;} /* width for banner pages w/ Rich Relivance */

#middle-results .item .info {padding-bottom:50px;width:134px;} /* Width for info area on results pages */
#middle-results .video.item .info { width: 181px; }
.cat-search-wrap-fixed #middle-results .item .info {width:230px;} /* Width for banner pages (cherry pick and 4product )*/
.MAC .cat-search-wrap-fixed  #middle-results .item .info {width: 179px;} /* Width for MAC page specificly */
.rr #middle-results .item .info {padding-bottom:40px;width:108px;height:110px;} /* width for search results pages w/ Rich Relivance */
.rr .cat-search-wrap-fixed #middle-results.results-banner .item .info {width: 199px;} /* width for banner pages w/ Rich Relivance */
#breadcrumb div,#breadcrumb .div {display:block;float:left; }
.contest{width:600px;}
/** Tag cloud specific styling **/
#trending-cloud a {padding:2px 6px 2px 0;}
.saved-search #middle-results .banner h2,.saved-search #middle-results .banner h2 a,.saved-search #middle-results .banner .actions {display:block;float:left;}
.saved-search #middle-results .banner h2 a.show-all {float:right;}
.saved-search #middle-results .banner h3 {clear:left;padding-top:0;}
.saved-search .actions a {display:inline-block !important; float:none !important;}
.bc-li a.back {margin-top:22px;background-position:-5px 1px;}
#saved-search {z-index:5000;}
  #saved-search a {line-height:normal;}
  .sbuttons .cancel {line-height:25px!important;}
  #saved-search h2 {width:200px;}
  #saved-search .manage,#saved-search .d,#save-my-search,#been-saved {padding-top:0px !important;}
  #error-saved-search {padding-bottom:0;}
  #save-buttons.g {width:360px;}
#wrapper #saved-search{z-index:4000;}
#add-saved-search-tooltip{z-index:4000;}

#middle-results .item a.pinitIcon {top:110px;background: url("../../images/common/pinit-button.png")/*tpa=http://www.dillards.com/images/common/pinit-button.png*/ no-repeat scroll 0 0 #fff;}
.pagination .next {padding: 0; margin: 0;}
#nextPageBtn {padding: 0 0 10px 0;}
#description {position:static;}
#print .printIcon{position:absolute;left:-21px;top:8px;}
.saved-search .back{padding-top:3px;}
.brands li {margin:4px 0;}
#social-footer li a.pinitIcon {float:none;position:relative;padding:0;width:42px;left:5px;top:3px;}
#social-footer iframe{float:none;position:relative;left:7px;top:5px;}

#header-wrapper *{z-index:12000;}
#main-nav-wrapper *{z-index:2;}
#wrapper *{z-index:1;}
#main-nav-container *{z-index:11000;}
#header #search-form *{z-index:12000;}
#simplemodal-overlay {z-index:12500 !important;}
#simplemodal-container,#simplemodal-container-long {z-index:13001 !important;}

.addToBagRR {width:545px;}
.addToBagRR .productArea {width:348px;}
.sbuttons .primary, .sbuttons .secondary {padding-left:6px; padding-right:6px;}
#save-buttons.g .secondary {margin-right:6px;}
#qc-shipping-method p { clear:left; }
#shipping-address-display input { vertical-align:-2px; }
.info h2{font-size:13px;}
.info h2 a{font-size:13px;}
.button {margin:20px 0;line-height:auto;}
#preferences ul { height:275px; }
#preferences label { padding-top:13px; }

div.acctopts div.password{clear:both;float:left;margin:0 0 0 2em; width: 320px;}
div.acctopts div.password input{float:left;clear:both;margin:.25em 6px 40px 0; float: left;}
div.acctopts div.password span#strength{position:relative;left:118px;}

#botHTMLblocks .HTMLBoxes li #surveyWrap #questionChoice1{margin:4px 0 0 0;}
#botHTMLblocks .HTMLBoxes li #surveyWrap #surveyText{width:100%;}

#list-add-area{float:left !important;width:400px;}
.grouping #list-add-area{float:right !important;width:auto;}
#list-add-area #add-registry, #list-add-area #add-wishlist{display:block;float:left;}
#list-add-area #findInStore{width:398px;float:left;}
	#list-add-area #findInStore a.secondary{float:left;}
	#list-add-area #findInStore #zipCode{float:left;clear:none;margin-left:232px;}
	
.bundleFloat .r .descShort{width:310px;}
.grouping .bundleFloat .r .descShort{width:auto;}
.bundle-item .swatches-all{width:240px;}

#copyright{padding-top:4em !important;}

.BotPagination .choices {float: right; margin-right: 75px; width: 362px;  display: inline-block;}

#userRequest ul.form{width:500px;}

#profile-delete button{margin:6px;}

#AVForm .inputArea{margin:0;}
#AVForm .inputArea input{float:left;margin:0;}

.hidden-form-gc-pin{float:left;width:100%;}
.hidden-form-gc-pin label{float:left;width:100%;}
.hidden-form-gc-pin input{float:left;clear:none;}
.hidden-form-gc-pin a{float:left;clear:none;}

.h1.searchTerms strong{font-size:24px;}

#resetPasswordForm .resetPasswordNote{float:left;clear:left;width:450px;margin-top:10px;}