#header-spot,#search,#main-nav-container,#print-share,#description .short,
#description .long a,#viewerControls,#add-area,.pr-review-sort-box,
.pr-fb-reviewComment,#swatches,.pr-review-author-profile-link,.pr-review-tools,
.pr-nav-back-to-top,#rr-wrapper,#bottom-nav,#footer-links,#footer-offer,
#promo-section,.pr-stars,.genericESpot,#print,#results a.more,#search-nav-bottom,
#main-info #instructions, #APOFPO-info-modal, .Dillards-Modal{display:none!important}

#wrapper{padding-top:0 !important;}
#ptp-area{padding:0}
#results{float:left;width:900px;margin:0;padding:0}
#results ul.row{list-style:none;display:inline;clear:both;float:left;width:900px;margin:0;padding:0}
#results ul.row li{display:inline;width:160px;float:left}
#results .r{clear:both;float:left;width:150px}
#results .r img{width:150px;border:none}
#top-info,#main-info{width:530px;float:left;position:relative}
#ptp-area,#description{display:block;float:left;position:relative}
#ptp-area .pr-review-sort-wrapper{padding:.5em 0 1.1em}
#ptp-area #main-info #order-section #attributes.multiple .bundle-item .info{float:none;position:relative}
.dropDown .dd{display:block}
.divider{margin:15px 0!important}
.long-divider{margin:30px 0 20px!important}
.divider,long-divider{height:1px;background:#ccc}
.rr_stratmsg_vertical{border:1px solid #ccc;border-bottom:0}
.pr-pagination-top{padding:.2em 0 .4em .6em}
.DMS{display:block;padding:0 0 .5em;float:left;clear:none;}
#bottom-nav-container{height:1px;background:#7F7F7F}
#copyright{width:100%;padding:0}
#altImgs {display:none;}
#copyright p,#popupwrapper .registry-btn,.noprint,#breadcrumb,#facet-section,#filter-dd,.pagination,#sorting-tools,#side-rr,#results .r .hover,#ptp-area #order-section #attributes.multiple #altImgs,.list-quantity,#reviews{display:none}
#wrapper,#footer-container{background:#fff}
#ptp-area #main-info #prod-number-reviews,#ptp-area #main-info #order-section #attributes.multiple .bundle-item,#ptp-area #main-info #order-section #attributes.multiple .bundle-item .img{float:none}
#zoomMouseDetection, #myDillardsBar, #main-nav-wrapper, .long-divider, .image-prompt {display:none;}
body.mdbOn {padding-top:0;}
.primary, .secondary, footer {display:none !important;}
#reviews, #noreviews {display:none !important;}
input[id^='quantity'] + label {display:none !important;}
#add-box {background:#fff !important;}
span.selected {display:none !important;}
#add-box #attributes .dropDown .dd {border:none;display:block !important;max-height:none;position:static;}
#add-box #attributes .dropDown {width:auto;height:auto;position:static;}
#HeaderLogo .genericESpot {display:block !important;}
#header {padding-bottom:10px;}

/* search pages*/
#APOFPO-info-modal,
.DillardsModal,
#myDillardsBar,
#myDillardsContent,
#utility-nav,
#saved-search,
.pNum,
#oo_tab,
#left-column{display:none;}

.row-wrap{float:left;font-family:"Century Gothic", Helvetica, Arial, sans-serif;font-size:14px;}
.row-wrap a{color:#000;text-decoration:none;}
.row-wrap .item{float:left;width:16%;margin:2% 2% 0 2%;}
.row-wrap .item .resultsProductImage{width:100%;height:auto;}
.swatches img{width:30px;height:30px;}