
@import url("Pending_relink")/*tpa=http://fast.fonts.net/t/1.css?apiType=css&projectid=f05ebb84-c985-4cde-8ec1-5dbe85668982*/;
/* Agency FB W00 */
@font-face{
font-family:"AgencyFB";
src:url("Fonts/e474c484-7913-426a-a8a0-93a90004069e.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/e474c484-7913-426a-a8a0-93a90004069e.eot?#iefix*/;
src:url("Fonts/e474c484-7913-426a-a8a0-93a90004069e.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/e474c484-7913-426a-a8a0-93a90004069e.eot?#iefix*/ format("eot"),url("Fonts/0b6980bc-86c2-4101-9c0e-14f4bbb40530.woff")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/0b6980bc-86c2-4101-9c0e-14f4bbb40530.woff*/ format("woff"),url("Fonts/1c33fbdf-3619-43fa-aaee-89fc958b2347.ttf")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/1c33fbdf-3619-43fa-aaee-89fc958b2347.ttf*/ format("truetype"),url("Fonts/bb7996a9-4d15-4db3-b714-1a4d3e3961e9.svg#bb7996a9-4d15-4db3-b714-1a4d3e3961e9")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/bb7996a9-4d15-4db3-b714-1a4d3e3961e9.svg#bb7996a9-4d15-4db3-b714-1a4d3e3961e9*/ format("svg");
font-weight:bold
}
@font-face{
font-family:"AgencyFB";
src:url("Fonts/3e3ee326-3e45-49a6-be48-59c296fab6f6.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/3e3ee326-3e45-49a6-be48-59c296fab6f6.eot?#iefix*/;
src:url("Fonts/3e3ee326-3e45-49a6-be48-59c296fab6f6.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/3e3ee326-3e45-49a6-be48-59c296fab6f6.eot?#iefix*/ format("eot"),url("Fonts/a8fc4094-834b-48bb-a057-656f95c47f16.woff")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/a8fc4094-834b-48bb-a057-656f95c47f16.woff*/ format("woff"),url("Fonts/cc094cfe-532e-4cdf-8f8e-397749b50643.ttf")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/cc094cfe-532e-4cdf-8f8e-397749b50643.ttf*/ format("truetype"),url("Fonts/65b9dc23-f5a3-4477-86c9-5f189f6ae822.svg#65b9dc23-f5a3-4477-86c9-5f189f6ae822")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/65b9dc23-f5a3-4477-86c9-5f189f6ae822.svg#65b9dc23-f5a3-4477-86c9-5f189f6ae822*/ format("svg");
}

/* MuseoSansW01 */
@font-face{
font-family:"MuseoSans";
src:url("Fonts/e14e9fd6-0631-4491-b873-211c7b6f926c.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/e14e9fd6-0631-4491-b873-211c7b6f926c.eot?#iefix*/;
src:url("Fonts/e14e9fd6-0631-4491-b873-211c7b6f926c.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/e14e9fd6-0631-4491-b873-211c7b6f926c.eot?#iefix*/ format("eot"),url("Fonts/e976d680-12b6-411e-9f79-0ef9287f484d.woff")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/e976d680-12b6-411e-9f79-0ef9287f484d.woff*/ format("woff"),url("Fonts/81780024-f1ae-4135-a0ae-d0bab2c19986.ttf")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/81780024-f1ae-4135-a0ae-d0bab2c19986.ttf*/ format("truetype"),url("Fonts/98fa899e-fa41-4563-b67a-33d373ba60ee.svg#98fa899e-fa41-4563-b67a-33d373ba60ee")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/98fa899e-fa41-4563-b67a-33d373ba60ee.svg#98fa899e-fa41-4563-b67a-33d373ba60ee*/ format("svg");
font-weight:100;
}
@font-face{
font-family:"MuseoSans";
src:url("Fonts/b2f70e54-26ae-44c8-94e7-3a7590a95d50.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/b2f70e54-26ae-44c8-94e7-3a7590a95d50.eot?#iefix*/;
src:url("Fonts/b2f70e54-26ae-44c8-94e7-3a7590a95d50.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/b2f70e54-26ae-44c8-94e7-3a7590a95d50.eot?#iefix*/ format("eot"),url("Fonts/2ab97fdf-1e06-4c25-a5e1-b111273d580a.woff")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/2ab97fdf-1e06-4c25-a5e1-b111273d580a.woff*/ format("woff"),url("Fonts/ba402481-70a4-42b6-a4d2-291fac0e1202.ttf")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/ba402481-70a4-42b6-a4d2-291fac0e1202.ttf*/ format("truetype"),url("Fonts/b2f3b1d9-1063-46e0-abcd-6b4cbbe44327.svg#b2f3b1d9-1063-46e0-abcd-6b4cbbe44327")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/b2f3b1d9-1063-46e0-abcd-6b4cbbe44327.svg#b2f3b1d9-1063-46e0-abcd-6b4cbbe44327*/ format("svg");
font-weight:100;
font-style:italic;
}
@font-face{
font-family:"MuseoSans";
src:url("Fonts/fd479df2-01b0-4e3a-a411-915c477f1352.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix*/;
src:url("Fonts/fd479df2-01b0-4e3a-a411-915c477f1352.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix*/ format("eot"),url("Fonts/b252d464-65cb-4950-88f7-ac0a1bf79b75.woff")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/b252d464-65cb-4950-88f7-ac0a1bf79b75.woff*/ format("woff"),url("Fonts/b3d18117-6517-4d3f-afc1-774086ff5fc1.ttf")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/b3d18117-6517-4d3f-afc1-774086ff5fc1.ttf*/ format("truetype"),url("Fonts/b9bed509-0816-43d8-b14b-7525a21f4bde.svg#b9bed509-0816-43d8-b14b-7525a21f4bde")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/b9bed509-0816-43d8-b14b-7525a21f4bde.svg#b9bed509-0816-43d8-b14b-7525a21f4bde*/ format("svg");
font-weight:300;
}
@font-face{
font-family:"MuseoSans";
src:url("Fonts/90e6d1d9-33c0-4c63-9491-85041f7d5fd3.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/90e6d1d9-33c0-4c63-9491-85041f7d5fd3.eot?#iefix*/;
src:url("Fonts/90e6d1d9-33c0-4c63-9491-85041f7d5fd3.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/90e6d1d9-33c0-4c63-9491-85041f7d5fd3.eot?#iefix*/ format("eot"),url("Fonts/96766c08-0e19-43a8-b45d-e95c5b09785c.woff")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/96766c08-0e19-43a8-b45d-e95c5b09785c.woff*/ format("woff"),url("Fonts/304f4215-6b57-433a-83f7-2d4c3aaf82e9.ttf")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/304f4215-6b57-433a-83f7-2d4c3aaf82e9.ttf*/ format("truetype"),url("Fonts/2acdd065-8f32-4b1d-a7c8-c59fa153ce86.svg#2acdd065-8f32-4b1d-a7c8-c59fa153ce86")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/2acdd065-8f32-4b1d-a7c8-c59fa153ce86.svg#2acdd065-8f32-4b1d-a7c8-c59fa153ce86*/ format("svg");
font-weight:300;
font-style:italic;
}
@font-face{
font-family:"MuseoSans";
src:url("Fonts/a29947fd-0c53-492b-b2f4-399b01153b30.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/a29947fd-0c53-492b-b2f4-399b01153b30.eot?#iefix*/;
src:url("Fonts/a29947fd-0c53-492b-b2f4-399b01153b30.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/a29947fd-0c53-492b-b2f4-399b01153b30.eot?#iefix*/ format("eot"),url("Fonts/d42dd843-62b0-4623-8855-d5882512c3c9.woff")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/d42dd843-62b0-4623-8855-d5882512c3c9.woff*/ format("woff"),url("Fonts/6d532ccb-086c-4000-bab2-5d16862fcf01.ttf")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/6d532ccb-086c-4000-bab2-5d16862fcf01.ttf*/ format("truetype"),url("Fonts/f56b7407-f97b-4cb3-9ce6-4e13065eec93.svg#f56b7407-f97b-4cb3-9ce6-4e13065eec93")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/f56b7407-f97b-4cb3-9ce6-4e13065eec93.svg#f56b7407-f97b-4cb3-9ce6-4e13065eec93*/ format("svg");
font-weight:500;
}
@font-face{
font-family:"MuseoSans";
src:url("Fonts/afb0bae6-4f02-492e-82dd-c4c51e519279.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/afb0bae6-4f02-492e-82dd-c4c51e519279.eot?#iefix*/;
src:url("Fonts/afb0bae6-4f02-492e-82dd-c4c51e519279.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/afb0bae6-4f02-492e-82dd-c4c51e519279.eot?#iefix*/ format("eot"),url("Fonts/136eb3cf-249c-40a3-bb62-49c1ad9ae6d8.woff")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/136eb3cf-249c-40a3-bb62-49c1ad9ae6d8.woff*/ format("woff"),url("Fonts/70c24c76-d52f-4d55-be08-6085ad014f1b.ttf")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/70c24c76-d52f-4d55-be08-6085ad014f1b.ttf*/ format("truetype"),url("Fonts/ac37080b-1709-4b25-bda1-03c4a58e3ef5.svg#ac37080b-1709-4b25-bda1-03c4a58e3ef5")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/ac37080b-1709-4b25-bda1-03c4a58e3ef5.svg#ac37080b-1709-4b25-bda1-03c4a58e3ef5*/ format("svg");
font-weight:500;
font-style:italic;
}
@font-face{
font-family:"MuseoSans";
src:url("Fonts/3d0a39cf-115c-4800-9b1e-31c7912abfc2.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/3d0a39cf-115c-4800-9b1e-31c7912abfc2.eot?#iefix*/;
src:url("Fonts/3d0a39cf-115c-4800-9b1e-31c7912abfc2.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/3d0a39cf-115c-4800-9b1e-31c7912abfc2.eot?#iefix*/ format("eot"),url("Fonts/eadbb595-a394-48fc-834f-8bf5da15cddf.woff")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/eadbb595-a394-48fc-834f-8bf5da15cddf.woff*/ format("woff"),url("Fonts/9bcba093-b507-4b9b-9c83-303003d3815c.ttf")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/9bcba093-b507-4b9b-9c83-303003d3815c.ttf*/ format("truetype"),url("Fonts/9a2af429-2624-4bd1-a676-8f0eed3e7e31.svg#9a2af429-2624-4bd1-a676-8f0eed3e7e31")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/9a2af429-2624-4bd1-a676-8f0eed3e7e31.svg#9a2af429-2624-4bd1-a676-8f0eed3e7e31*/ format("svg");
font-weight:700
}
@font-face{
font-family:"MuseoSans";
src:url("Fonts/8507714a-41e5-4f02-9f2d-70e6dc6b30f7.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/8507714a-41e5-4f02-9f2d-70e6dc6b30f7.eot?#iefix*/;
src:url("Fonts/8507714a-41e5-4f02-9f2d-70e6dc6b30f7.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/8507714a-41e5-4f02-9f2d-70e6dc6b30f7.eot?#iefix*/ format("eot"),url("Fonts/9c98d320-d511-4d3d-9ba3-6516302dba95.woff")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/9c98d320-d511-4d3d-9ba3-6516302dba95.woff*/ format("woff"),url("Fonts/b4b164e1-3b4c-42c1-8db5-ca02bfad125c.ttf")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/b4b164e1-3b4c-42c1-8db5-ca02bfad125c.ttf*/ format("truetype"),url("Fonts/8673e9b2-7e5d-4749-8588-b7de69b662c2.svg#8673e9b2-7e5d-4749-8588-b7de69b662c2")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/8673e9b2-7e5d-4749-8588-b7de69b662c2.svg#8673e9b2-7e5d-4749-8588-b7de69b662c2*/ format("svg");
font-weight:700;
font-style:italic;
}
@font-face{
font-family:"MuseoSans";
src:url("Fonts/7e90c1ee-e4b1-46f0-9134-93a8ba421545.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/7e90c1ee-e4b1-46f0-9134-93a8ba421545.eot?#iefix*/;
src:url("Fonts/7e90c1ee-e4b1-46f0-9134-93a8ba421545.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/7e90c1ee-e4b1-46f0-9134-93a8ba421545.eot?#iefix*/ format("eot"),url("Fonts/3619b5f4-8df9-44f5-8c53-b7c236e9c74e.woff")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/3619b5f4-8df9-44f5-8c53-b7c236e9c74e.woff*/ format("woff"),url("Fonts/9b2d949a-4e1c-435c-8412-f377c80583ae.ttf")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/9b2d949a-4e1c-435c-8412-f377c80583ae.ttf*/ format("truetype"),url("Fonts/7a319e11-05eb-49ce-bdb7-f692766e6477.svg#7a319e11-05eb-49ce-bdb7-f692766e6477")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/7a319e11-05eb-49ce-bdb7-f692766e6477.svg#7a319e11-05eb-49ce-bdb7-f692766e6477*/ format("svg");
font-weight:900
}
@font-face{
font-family:"MuseoSans";
src:url("Fonts/671bc72b-b38c-4bdd-8ec8-6cb9976a3596.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/671bc72b-b38c-4bdd-8ec8-6cb9976a3596.eot?#iefix*/;
src:url("Fonts/671bc72b-b38c-4bdd-8ec8-6cb9976a3596.eot-#iefix")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/671bc72b-b38c-4bdd-8ec8-6cb9976a3596.eot?#iefix*/ format("eot"),url("Fonts/39ac4994-8f69-4ff0-8acd-9f100664da8f.woff")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/39ac4994-8f69-4ff0-8acd-9f100664da8f.woff*/ format("woff"),url("Fonts/cffeecea-caad-4fed-835f-21cc1de30c4b.ttf")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/cffeecea-caad-4fed-835f-21cc1de30c4b.ttf*/ format("truetype"),url("Fonts/8413d65b-e2be-47e1-8aab-60276fde1dd3.svg#8413d65b-e2be-47e1-8aab-60276fde1dd3")/*tpa=http://www.pricelinegroup.com/wp-content/themes/priceline/fonts/Fonts/8413d65b-e2be-47e1-8aab-60276fde1dd3.svg#8413d65b-e2be-47e1-8aab-60276fde1dd3*/ format("svg");
font-weight:900;
font-style:italic;
}
