/*
	font-family: 'HelveticaNeue';
	font-family: 'HelveticaNeue-Bold';
*/
#ui-datepicker-div {
	display: none;
}
body {
	font-family: 'HelveticaNeue', Arial, sans-serif;
	color: #595959;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}
html {
	-webkit-font-smoothing: antialiased;
}
.BodyBackground {
	background: #FFFFFF url(../design/body-bg.png)/*tpa=http://www.ugicorp.com/files/design/body-bg.png*/ 0 0 repeat !important;
}
a {
	cursor: pointer;
	text-decoration: none;
}
a:link, a:active, a:visited, a:hover {
	color: #0066a4;
	/*cursor: pointer;*/
}
a:hover {
}
a:hover, a:active, a:focus {
	outline: 0 none;
}
img {
	-ms-interpolation-mode: bicubic;
	border: 0 none;
}
p, ul, ol, pre, blockquote {
	margin: 0 0 20px 0;
}

table {margin-bottom:20px;}


.PaneContent .HtmlTextContainer ul, .PaneContent.ModuleBody ul {
	padding-left: 25px;
}
.PaneContent .HtmlTextContainer li, .PaneContent.ModuleBody li {
	margin-bottom: 6px;
	list-style: disc outside;
}
blockquote {
	margin-left: 40px;
}
sup, sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: 0.5ex;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
.LayoutDefault input[type=button], .LayoutDefault input[type=submit], .LayoutDefault button {
	cursor: pointer;
}
.LayoutDefault input[type="radio"] {
	vertical-align: text-bottom;
	cursor: pointer;
}
.LayoutDefault input[type="checkbox"] {
	cursor: pointer;
	vertical-align: bottom;
*vertical-align: baseline;
}
.LayoutDefault textarea {
	overflow: auto;
	resize: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table + small {
	margin-top: -15px;
	display: block;
	margin-bottom: 20px;
}
small {
	font-size: 0.8em;
	line-height: 1.1;
	font-family: Helvetica, Arial, sans-serif;
}
b, strong {
	font-weight: normal;
	font-family: 'HelveticaNeue-Bold';
font-weight:bold\0/;
*font-weight:bold;
}
h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	line-height: normal;
}
h1, h2, h3 {
	font-weight: normal;
}
h1, .TitleLeft .ModuleTitle {
	font-size: 20px;
	margin: 0 0 15px 0;
}
.PaneContent .ContentPaneDiv > span:first-child h1 {
	font-size: 24px;
}
h2, h3 {
	font-size: 16px;
	margin: 0 0 15px 0;
}
h2 {
	font-size: 20px;
}
h2 img, h2 span {
	vertical-align: middle;
}
/*########	Start Main Navigation	##########*/

.PaneNavigation {
}
.ModuleMainNavigation {
	clear: both;
	float: right;
	text-align: left;
	width: 710px;
	padding: 0 0 0 0px;/* white-space:normal; */
	text-align: right;
	margin: -12px 0 0 0;
*margin:16px 0 0 0;
}
.menu.RadMenu_Outlook {
	float: right;
}
.RadMenu_Default .rootGroup {
	float: right;
	display: block;
	text-align: center;
}
.RadMenu_Default .rootGroup li a {
	color: #555;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 0 20px;
}
.RadMenu_Default .rootGroup .text {
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.RadMenu_Default .rootGroup li {
}
.RadMenu_Default .rootGroup > li.last a {
	margin-right: 0;
}
.RadMenu_Default .rootGroup a:hover {
	text-decoration: none;
}
.RadMenu_Default .rootGroup a:hover, .RadMenu_Default .rootGroup a.selected, .RadMenu_Default .rootGroup a.expanded {
	color: #0066a4;
}
.slide {
	background-color: #fff;
	display: none !important
}
.RadMenu_Default .group {
	position: relative;
	margin-left: 2px;
	text-align: left;
	border: 1px solid #ccc;
}
.RadMenu_Default .group .text {
	padding: 5px;
}
/*######## END Main Navigation	##########*/


/*########	Start Containers	##########*/


.PageDefaultInner {
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
}
.LayoutDefault {
	position: relative;
	z-index: 80;
}
.PaneHeader2 {
	position: absolute;
	z-index: 86;
	max-width: 1120px;
	top: 0;
	left: 50%;
	margin-left: -560px;
	height: 571px;
}
.LayoutDefaultInner {
	position: relative;
	width: 958px;
	margin: 0 auto;
	display: block;
	z-index: 87;
}
.HeaderContainer {
	height: 94px;
	background: #fff;
	border-bottom: 5px solid #d5d5d5;
	margin-bottom: 255px;
	position: relative;
	z-index: 95;
}
.PageHome .HeaderContainer {
	margin-bottom: 0;
}
.PageHome .outerC {
	z-index: 88;
	position: absolute;
	top: 525px;
}
/*.WhyInvestPage .outerC {
  z-index: 88;
  position: absolute;
  top: 465px;
}*/
.PaneHeader {
	padding: 15px 60px 0 22px;
	font-family: Helvetica, Arial, sans-serif;
}
.PaneContentInner {
	border-top: 5px solid #0066a4;
	padding: 25px 10px 0;
	background: #fff;
	position: relative;
	z-index: 200;
	display: block !important;
}
.PaneLeft {
	width: 220px;
	float: left;
	padding: 0 0 0 0;
	margin-right: 20px;
}
.oneCol .PaneLeft {
	display: none;
}
.oneCol .PaneContent {
	padding-left: 20px;
}
.PaneContent {
	width: 650px;
	float: left;
	padding: 0 0 20px;
}
.PaneRight {
	width: 100%;
	clear: both;
	float: none;
	padding: 25px 25px 20px;
	margin: 0 -10px;
	background-color: #f5f5f5;
	width: 912px;
}
.LayoutThreeColumnLayout .PaneRight {
	display: none;
}
.PaneContentInner, .HeaderContainer, .FooterContainer {
	clear: both;
}
/*########	END Containers	##########*/

/*########	Start Header	##########*/


.headerStock {
	position: absolute;
	z-index: 96;
	right: 0;
	bottom: -42px;
	border: 2px solid #d5d5d5;
	background-color: #fff;
	display: block;
	height: 35px;
	line-height: 35px;
	white-space: nowrap;
	font-weight: bold;
	color: #959595;
	font-size: 12px;
	float: right;
	padding: 0 11px;
}
.headerStock a, .headerStock span.StockDescription2 {
	color: #68bbe6 !important;
}
.headerStock a {
	margin-left: -3px;
}
.headerStock .StockVolumeText, .headerStock .StockVolume, .headerStock .StockDate {
	display: none !important;
}
.headerStock span {
	color: #959595 !important;
}
.headerStock a + span + span {
	padding-left: 14px;
	background: url(../design/sp-up.png)/*tpa=http://www.ugicorp.com/files/design/sp-up.png*/ center left no-repeat;
}
.headerStock a + span + span.StockPriceDown {
	background-image: url(../design/sp-d.png)/*tpa=http://www.ugicorp.com/files/design/sp-d.png*/;
}
.ClientLogo {
	float: left;
	clear: none;
}
.PageHome .Breadcrumb {
	display: none;
}
.ModuleSearch {
	float: right;
	margin-left: 20px;
	background: #f6f6f6;
	border-top: 2px solid #cccccc;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	height: 26px;
}
.ModuleSearch input {
	border: 0 none;
	background: transparent none;
	color: #b8b7b7;
	font-size: 12px;
	font-family: 'HelveticaNeue';
	width: 130px;
}
.ModuleSearch input[type="submit"] {
	height: 25px;
	width: 20px;
	background: url(../design/magnifier.png)/*tpa=http://www.ugicorp.com/files/design/magnifier.png*/ center center no-repeat;
}
/*########	End Header	##########*/


/*########	Start Home	##########*/
.PageHome .PaneContent {
	width: 100%;
	margin-bottom: 40px;
	padding-bottom: 0;
}
.PageHome .PaneLeft {
	display: none;
}
.homeSlider {
	width: 959px;
	height: 424px;
	position: absolute;
	z-index: 88;
	top: 0;
	left: 0;
	width: 1120px;
	height: 570px;
}
/*.WhyInvestPage .homeSlider {
  height: 510px;
  overflow: hidden;
}*/
.homeSlider ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.homeSlider ul#slideNumber {
	position: absolute;
	bottom: 52px;
	right: 81px;
	z-index: 100;
}
.homeSlider ul#slideContent {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 89;
}
.homeSlider ul#slideNumber li {
	background-color: #0066A4;
	float: left;
	color: white;
	margin-right: 2px;
	width: 33px;
	text-align: center;
	padding: 8px 0;
	cursor: pointer;
}
.homeSlider ul#slideNumber li.active {
	background-color: #004874;
}
.homeSlider ul#slideContent li {
	display: none;
	height: 570px;
	width: 1120px;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
}
.homeSlider ul#slideContent li:first-child {
	display: block;
}

.homeSlider ul#slideContent li .innerS {
	display: block;
	width: 960px;
	height: 450px;
	padding-top: 100px;
	margin: 0 auto;
}
.homeSlider ul li h1 {
	color: #fff;
	text-shadow: 1px 2px 3px #666;
	font-size: 50px;
	padding-top: 20px;
}
.homeSlider ul li h1 a {
	margin-left: 50px;
}
.homeSlider ul li h1 a img {
	vertical-align: middle;
}
.homeBoxes {
        float:right;
        margin-right:6px;
}
.homeBoxes .ContentContainer div {
	float: left;
	clear: none;
	display: block;
	width: 292px;
	padding-right: 30px;
}
.homeBoxes .ContentContainer div:last-child {
	padding-right: 0px;
}
.homeBoxes .ContentContainer div:first-child p {
	/*padding-left: 35px;*/
}
.homeBoxes .ContentContainer div h2, .homeBoxes .ContentContainer div p {
	margin: 0;
}
.homeBoxes .ContentContainer div h2 {
	margin-bottom: 2px;
}
.PageHome .PaneRight {
	background: #f5f5f5 url(../design/hpr-bg.png)/*tpa=http://www.ugicorp.com/files/design/hpr-bg.png*/ 0 0 repeat-x;
	padding: 0 10px 20px;
	width: 942px;
}
.PageHome .PaneRight h1 a, .PageHome .PaneRight .rssHeader a {
	color: #fff;
	height: 39px;
	line-height: 35px;
	background: url(../design/hh1-bg.png)/*tpa=http://www.ugicorp.com/files/design/hh1-bg.png*/ 0 0 repeat-x;
	padding: 0 7px;
	border: 0 none;
display:block;
font-size: 20px;
margin-bottom:8px;
display:block;
}
.PageHome .RightPaneDiv > span {
	display: block;
	float: right;
	clear: none;
	width: 460px;
}
.PageHome .RightPaneDiv > span:first-child {
	float: left;
}
.PageHome .RightPaneDiv .ModuleContainerInner, .subNewsHome ul {
	padding: 0 7px;
margin:0;
list-style:none outside;
}

.subNewsHome li {
margin-bottom: 10px;
}
.subNewsHome li h4 {
font-size:14px;font-weight:normal;margin:0;
}


/*########	End Home	##########*/

/*########	Start Left Navigation	##########*/


.SubNavCont {
	border-top: 5px solid #d4d3d3;
	margin-bottom: 30px;
}
.SecondaryNavTitle {
	display: none;
}
.SubNavCont {
	background-color: #f7f7f7;
}
.SubNavCont table {
	margin: 0px;
	width: 220px;
}
.panelbar td {
	cursor: pointer;
	width: auto!important;
	white-space: normal;
	text-transform: uppercase;
	font-family: 'HelveticaNeue';
}
td.panelbarItemText, td.panelbarItemTextHover, td.panelbarItemTextSelected, td.panelbarItemTextExpanded, td.panelbarItemTextHoverExpanded, td.panelbarItemTextHoverSelected, td.panelbarItem2Text, td.panelbarItemTextExpandedSelected, td.panelbarItemTextHoverExpandedSelected, td.panelbarItem2TextHoverExpandedSelected, td.panelbarItem2TextExpanded, td.panelbarItem2TextExpandedSelected, td.panelbarItem2TextHover, td.panelbarItem2TextSelected, td.panelbarItem2TextHoverExpanded, td.panelbarItem2TextHoverSelected, td.panelbarItem3Text, td.panelbarItem3TextHoverExpandedSelected, td.panelbarItem3TextHover, td.panelbarItem3TextSelected, td.panelbarItem3TextExpanded, td.panelbarItem3TextHoverExpanded, td.panelbarItem3TextHoverSelected, td.panelbarItem4TextHover, td.panelbarItem4TextSelected, td.panelbarItem4TextExpanded, td.panelbarItem4TextHoverExpanded, td.panelbarItem4TextHoverSelected, td.panelbarItem4TextExpandedSelected, td.panelbarItem4TextHoverExpandedSelected {
	padding: 15px 5px 14px 25px;
	border-bottom: 1px solid #d4d3d3;
	color: #767676;
}


td.panelbarItemText, td.panelbarItemTextHover, td.panelbarItemTextSelected, td.panelbarItemTextExpanded, td.panelbarItemTextHoverExpanded, td.panelbarItemTextHoverSelected, td.panelbarItemTextExpandedSelected, td.panelbarItemTextHoverExpandedSelected {
background:url(../design/arr1.png)/*tpa=http://www.ugicorp.com/files/design/arr1.png*/ 8px 19px no-repeat;
}

td.panelbarItem2Text, td.panelbarItem2TextHover, td.panelbarItem2TextExpanded, td.panelbarItem2TextSelected, td.panelbarItem2TextHoverExpanded, td.panelbarItem2TextHoverSelected, td.panelbarItem2TextExpandedSelected, td.panelbarItem2TextHoverExpandedSelected {
	padding-left: 35px;
/*	color: #fff; */
/*	border-bottom: 1px solid #fff; */

background:url(../design/arr3.png)/*tpa=http://www.ugicorp.com/files/design/arr3.png*/ 25px 24px no-repeat;
}

td.panelbarItem2TextExpanded, td.panelbarItem2TextSelected, td.panelbarItem2TextHoverExpanded, td.panelbarItem2TextHoverSelected, td.panelbarItem2TextExpandedSelected, td.panelbarItem2TextHoverExpandedSelected {
background-image:url(../design/arr4.png)/*tpa=http://www.ugicorp.com/files/design/arr4.png*/;
}


td.panelbarItem3Text, td.panelbarItem3TextHover, td.panelbarItem3TextExpanded, td.panelbarItem3TextSelected, td.panelbarItem3TextHoverExpanded, td.panelbarItem3TextHoverSelected, td.panelbarItem3TextExpandedSelected, td.panelbarItem3TextHoverExpandedSelected {
	padding-left: 45px;
	border-bottom: 1px solid #fff;
	color: #fff;
}
td.panelbarItemTextExpanded, td.panelbarItemTextSelected, td.panelbarItemTextHoverExpanded, td.panelbarItemTextHoverSelected, td.panelbarItemTextExpandedSelected, td.panelbarItemTextHoverExpandedSelected, td.panelbarItem2TextExpanded, td.panelbarItem2TextSelected, td.panelbarItem2TextHoverExpanded, td.panelbarItem2TextHoverSelected, td.panelbarItem2TextExpandedSelected, td.panelbarItem2TextHoverExpandedSelected, td.panelbarItem3TextExpanded, td.panelbarItem3TextSelected, td.panelbarItem3TextHoverExpanded, td.panelbarItem3TextHoverSelected, td.panelbarItem3TextExpandedSelected, td.panelbarItem3TextHoverExpandedSelected {
	color: #0066a4;
}

td.panelbarItemTextExpanded, td.panelbarItemTextSelected, td.panelbarItemTextHoverExpanded, td.panelbarItemTextHoverSelected, td.panelbarItemTextExpandedSelected, td.panelbarItemTextHoverExpandedSelected {
background-image:url(../design/arr2.png)/*tpa=http://www.ugicorp.com/files/design/arr2.png*/;
}


table.panelbarSubgroup2 {
/*	background-color: #d4d3d3; */
}

/*
table.panelbarSubgroup2 > tbody > tr:last-child > td {
	box-shadow: 0 -5px 2px -2px rgba(0, 0, 0, 0.1) inset;
}
table.panelbarSubgroup2 > tbody > tr:first-child > td {
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1) inset;
}
*/



form, .RadMenu_Default_rtl .group .link:hover .expandLeft, .RadMenu_Default_rtl .group .link:hover .expandRight {
	margin: 0;
}
/*########	END Left Navigation	##########*/


.ClientLogo br, .LayoutHomePageLayout .ShareThisContainer, .TitleRight, .NoBr, .SearchResultsUrl {
	display: none;
}
.HeaderContainer ul, .FooterContainer ul {
	margin: 0;
	padding: 0;
	list-style: none outside;
}
/*########	Start Footer	##########*/



.FooterContainer {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #f8f7f7;
	padding: 27px 33px 20px;
*padding: 27px 33px 0px;
	border-top: 1px solid #d5d5d5;
	color: #959595;
	margin-bottom: 45px;
}
.PaneFooter {
	float: left;
	clear: none;
	width: 360px;
}
.PaneFooter2 {
	float: left;
	clear: none;
	width: 532px;
}
.PaneQ4Footer {
	display: block;
	clear: both;
	float: none;
	width: 100%;
}
div.HeaderLinks {
	float: right;
	width: auto;
	line-height: 26px;
	height: 26px;
}
.HeaderLinks ul li, .FooterLinks ul li {
	display: inline;
	font-size: 0;
}
.FooterLinks a {
	text-decoration: none;
	font-size: 12px;
	color: #555;
}
.HeaderLinks a {
    color: #555555;
    display: block;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}
div.HeaderLinks .QuickLinkSeparator, div.FooterLinks .QuickLinkSeparator {
	display: inline-block !important;
	zoom: 1;
*display:inline;
	margin: 0 2px;
	font-size: 10px;
	vertical-align: top;
}
div.FooterLinks {
	padding: 0 0 25px;
	margin: 0 0 25px;
	border-bottom: 3px solid #fff;
	display: block;
	clear: both;
}
.footerStock {
	float: left;
	width: 175px;
	color: #959595;
	font-size: 12px;
	margin: 0 0 10px;
}
.footerStock.last {
	border: 0 none;
	padding: 0;
}
.footerStock a.StockPrice, .footerStock a.StockPrice:hover {
	color: #959595;
	cursor: text;
	margin-left: -3px;
	font-weight: bold;
}
.headerStock .fso {
	display: none;
}
.FooterPane .footerStock .fso {
	display: inline;
}
.footerStock .StockDescription1 {
	font-weight: bold;
	margin-right: 10px;
}
.footerStock .StockDescription3 {
	font-weight: normal;
	font-size: 10px;
	display: block;
}
.footerStock .StockVolumeText, .footerStock .StockVolume, .footerStock .StockDate {
	display: none;
}

div.footerHighlights {
	display: block;
	padding: 0 0 25px;
	margin: 0 0 25px;
	border-bottom: 3px solid #fff;
	height: 39px;
}
.footerHighlights ul {
	margin: 0;
	padding: 0;
}
.footerHighlights li {
	display: inline-block;zoom:1;*display:inline;
}
.footerHighlights a {
	color: #555;
	font-weight: bold;
	font-size: 14px;
text-transform:uppercase;
overflow:hidden;
height:39px;line-height:39px;
}
.footerHighlights ul li:first-child {
margin-right:10px;
}
.footerHighlights ul li:first-child a, 
.footerHighlights ul li:first-child + li a {
text-indent:-9999em;
background-position:0 0;background-repeat:no-repeat;
display:block;
width:169px;
}

.footerHighlights ul li:first-child a {
background-image:url(../design/btn-my-divident.png)/*tpa=http://www.ugicorp.com/files/design/btn-my-divident.png*/;
display: none;
}
.footerHighlights ul li:first-child + li a {
background-image:url(../design/btn-utilities.png)/*tpa=http://www.ugicorp.com/files/design/btn-utilities.png*/;
}

div.footerSocial {
	float: left;
}
.footerSocial h1, .footerSocial ul, .footerSocial li {
	display: inline;
	font-size: 12px;
	margin-right: 15px;
	color: #555;
	font-size: Helvetica, Arial, sans-serif;
	vertical-align: middle;
}
.footerSocial h1 {
	margin-bottom: 0;
	padding: 3px 0 0;
}
.footerSocial a {
	color: #6abaea;
	font-weight: bold;
}
.footerSocial li div {
	display: inline !important;
	padding: 0 5px;
	vertical-align: middle;
	float: none !important;
}
.footerSocial li img {
	vertical-align: middle;
}
.Copyright {
	float: none;
	width: 100%;
	text-transform: uppercase;
	font-size: 10px;
	padding-top: 20px;
	clear: both;
	border-top: 3px solid #FFFFFF;
	text-align: right;
}
.Q4FooterContainer {
	padding: 0 !important;
	text-align: right !important;
	font-size: 10px !important;
	color: #959595 !important;
	text-transform: uppercase;
	display: block;
	width: 100%;
	float: right;
}
.Q4FooterContainer a {
	font-size: 9px !important;
}
.Q4FooterContainer {
	display: none !important;
}
/*########	END Footer	##########*/


.PaneRight h1 {
	border-bottom: 3px solid #fff;
	padding-bottom: 12px;
	margin-bottom: 8px;
}
.PaneBreadcrumb {
	position: absolute;
	z-index: 101;
	left: 0;
	top: -42px;
	background-color: #0066a4;
	float: left;
	height: 42px;
	color: #fff;
	color: #fff;
	font-weight: normal;
	line-height: 42px;
	padding: 0 20px;
	font-size: 13px;
}
.pageTitle a, .pageTitle span {
	color: #fff;
}
.pageTitle a:hover {
	text-decoration: underline;
}
.PageHome .PaneBreadcrumb {
	display: none !important;
}
.PrintPage {
	float: right;
	width: auto;
	text-align: right;
}
.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	width: 100%;
	overflow: hidden;
}
.RequiredField {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	font-size: 0px;
	text-indent: -9999px;
	overflow: hidden;
	width: 5px;
	height: 15px;
	background: url(../design/required.png)/*tpa=http://www.ugicorp.com/files/design/required.png*/ 0px 0px no-repeat;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
/* Modules */


/* Financial Report */
.quarterlyReports #myDynamicYearsTabs {
	margin-bottom: 15px;
}
.quarterlyReports #myDynamicYearsTabs a {
	line-height: 31px;
	font-size: 14px;
	font-weight: bold;
	margin-right: 20px;
	border: 1px solid #878787;
	color: #fff;
	text-shadow: 0 1px #666;
	padding: 0 15px;
	height: 31px;
	background: #b1b1b1;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
}
.quarterlyReports #myDynamicContent h2 {
	margin: 0px;
	padding: 15px;
	text-align: center;
	background: #e6e4e4;
	border-top: 2px solid #d4d3d3;
	border-right: 1px solid #d4d3d3;
	border-left: 1px solid #d4d3d3;
}
.quarterlyReports #myDynamicContent table {
	border-top: 1px solid #d4d3d3;
	border-right: 1px solid #d4d3d3;
}
.quarterlyReports #myDynamicContent table tr td {
	border-left: 1px solid #d4d3d3;
	border-bottom: 1px solid #d4d3d3;
	background: #f7f7f7;
	padding: 15px 10px;
}
.quarterlyReports #myDynamicContent table > tbody > tr:first-child td {
	background: #e6e4e4;
}

.FinancialReportContainer {
	vertical-align: top;
}
.FinancialReportContainer th {
	padding: 15px;
	border-bottom: 1px solid #D4D3D3;
	background-color: #E6E4E4;
	text-align: right;
	font-weight: normal;
}
.FinancialReportContainer th .title {
	float: left;
}
.FinancialReportContainer .FileType {
	position: absolute;
	right: 15px;
	top: 15px
}
.AnnualQuarterlyReportText {
	display: none;
}
.FinancialReportContainer h3 {
	display: none;
}
h2.Year {
}
.FinancialReportContainer h4 {
	font-weight: normal;
	padding: 0;
	font-size: 14px;
}
.FinancialReportLatestContainer table {
	margin: 0;
}
.FinancialReportContainer ul, .FinancialReportLatestTable ul {
	margin: 0;
	padding: 0;
}
.FinancialReportContainer li, .FinancialReportLatestTable ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.FinancialReportContainer .FileType {
	font-weight: normal;
}
/*Mailing List */

.ActionButton, .SubmitButton {
	margin-top: 10px;
}
.MailingListCol1 {
	white-space: nowrap;
	width: 10% !important;
	padding-right: 10px;
}
.MailingListCol2 {
	white-space: nowrap;
	width: 90% !important;
	padding: 3px 0;
}
.MailingListCol2 input {
	width: 200px;
}
.MailingListTable {
	margin: 0 0 15px 0;
}
.MailingListConfirmation, .MailingListActivationMessage {
	display: block;
	padding-top: 15px;
	font-weight: bold;
}
.EditSubscriberConfirmation {
	font-weight: bold;
}
.MailingListListTable input {
	padding-right: 10px;
}
/* %=MailingListUnsubscribe */

.MailingListUnsubscribeMessage {
	font-weight: bold;
}
.MailingListUnsubscribeAction {
	padding-top: 15px;
	font-weight: bold;
	display: block;
}
.MailingListUnsubscribeMessage {
	font-weight: bold;
}
/* Search */
.SearchResultsUrl {
	display: none;
}
/* Site Map */

.SiteMapContainer ul {
	margin-left: 20px;
}
.SiteMap-Level2 {
}
.SiteMap-Level3 {
	margin-left: 20px;
}
.SiteMap-Level4 {
	margin-left: 40px;
}
.SiteMap-Level5 {
	margin-left: 60px;
}
/* End Sitemap */

/* Start Stocks */

.StockQuoteContainer {
	width: 650px;
}
.StockQuoteContainer h1.StockPage {
	display: none;
}
.StockPriceDown {
	color: Red;
}
.StockPriceUp {
	color: #8dc63f;
}
/* GRID STOCKS chart specs: 355x300 */

.stockPage .StockQuoteContainer p, .stockPage .StockHistorical p {
	margin: 0;
	padding: 10px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	zoom: 1;
*display:inline;
	width: 301px;
	color: #9C9C9C;
}
.stockPage .StockQuoteContainer p .StockLabel, .stockPage .StockHistorical p > span {
	float: left;
}
.stockPage .StockQuoteContainer p .StockLabel.StockPriceDown, .stockPage .StockQuoteContainer p .StockLabel.StockPriceUp {
	float: none;
}
.StockTableFeed, .StockTableFeed {
	display: block;
	clear: both;
	border: 1px solid #D4D3D3;
	border-top: 2px solid #D4D3D3;
}
.StockTableFeed div.selector, .StockTableFeed select {
	width: 95px !important;
	cursor: pointer;
}
.StockTableFeed select {
	width: 90px;
}
.StockTableFeed div.selector span {
	width: 68px;
	cursor: pointer;
}
.stockPage .StockQuoteContainer .StockTableText {
	margin: 0;
	padding: 7px 10px;
	font-style: italic;
	font-size: 12px;
	text-align: right;
	color: #9C9C9C;
}
.stockPage .StockQuoteContainer .StockTableText .StockTableTextLabel {
	float: left;
}
.stockPage .StockHistorical .StockTableItem.Alt.Last p:first-child {
	display: none;
}
.stockPage .StockHistorical .StockTableItem.Alt.Last p {
	border-bottom: 0 none;
}
.stockPage .StockChartContainer {
	display: block;
	width: 650px;
}
.StockChartFrame {
	width: 650px !important;
}
.stockPage .StockChartContainer .ModuleContainerInnerTop {
}
.stockPage .StockHistorical {
	display: block;
	width: 648px;
	margin-bottom: 20px;
}
.stockPage select, .stockPage input {
}
.stockPage .StockHistorical .LookupDateText {
	padding: 5px 0;
}
.stockPage .StockHistorical .StockHistoricalSelection {
	padding: 10px;
	background-color: #E6E4E4;
}
.stockPage .StockTableItem {
	padding: 0;
	font-size: 0;
}
.stockPage .StockTableItem:nth-child(odd) {
	background-color: #F7F7F7;
}
.stockPage .StockQuoteLookup {
	padding-left: 10px;
}
.stockPage .PriceLabel, .stockPage .VolumeLabel, .stockPage .HighLabel, .stockPage .LowLabel, .stockPage .TodaysOpenLabel, .stockPage .ChangeLabel, .stockPage .PChangeLabel, .stockPage .WeekHighLabel, .stockPage .WeekLowLabel, .stockPage .PreviousCloseLabel {
	font-weight: normal;
}
.stockPage .calc iframe {
	border: 1px solid #D4D3D3;
	border-top: 2px solid #D4D3D3;
}
/* Custom */

.introText {
	font-size: 18px;
	line-height: 1.2;
}
.highlight {
	background-color: #E6E4E4;
	padding: 15px;
	min-height: 100px;
	margin: 0 0 20px;
}
.Button, .ActionButton, .HeaderSearchImg, .InputButton, .SubmitButton {
	padding: 1px 10px;
}
.MailingListSignupContainer, .EditSubscriberContainer {
	margin: 20px 0;
}
.MailingListSignupContainer table {
	margin: 0;
}
.PhotoLeft {
	float: left;
	margin: 0 10px 10px 0;
}
.PhotoRight {
	float: right;
	margin: 0 0 10px 10px;
}
ul.NoBullets {
	margin: 0 0 20px;
	padding: 0;
}
.NoBullets li {
	list-style: none;
}
.RssLinkTopContainer {
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 9px;
}
.ModulePresentation, .ModulePresentationLatest, .ModulePressRelease, .ModulePressReleaseLatest, .ModuleEvent, .ModuleEventLatest, .RegulatoryFilingContainer {
	position: relative;
}
.rssIcos a {
	padding-left: 20px;
	margin-bottom: 5px;
	display: inline-block;
	vertical-align: middle;
	line-height: 16px;
	height: 16px;
	background: url(../design/rssicon.gif)/*tpa=http://www.ugicorp.com/files/design/rssicon.gif*/ 0 0 no-repeat;
	zoom: 1;
*display:inline;
}
.ModuleItemRow {
	margin-bottom: 10px;
}
.PaneContent .ModuleContainer {
	margin-top: 20px;
}
.ContentPaneDiv > span:first-child .ModuleContainer {
	margin-top: 0px;
}
.commaSuffix, .PersonComma.PersonTitleComma {
	display: none;
}
.commaName {
	margin-left: -4px;
	display: none;
}
.PersonGenericContainer {
}
.PersonGenericContainer h3 {
	font-size: 14px;
	margin: 0;
	width: 195px;
}
.PersonGenericContainer h3 a {
	font-size: 16px;
	margin-bottom: 15px;
	display: block;
	font-family: 'HelveticaNeue-Bold';

font-weight:bold\0/;
*font-weight:bold;
}
.PersonGenericContainer .PersonPhoto {
	width: 100px;
	overflow: hidden;
	margin-right: 10px;
}
.PersonGenericContainer .PersonPhoto img {
	max-width: 100px;
}
.PersonGenericContainer h3, .PersonGenericContainer .PersonPhoto {
	display: inline-block;
	zoom: 1;
*display:inline;
	vertical-align: top;
}
.PersonDetailsContainer {
	display: none;
}
.PersonContainer {
	display: inline-block;
zoom:1;*display:inline;
	margin-right: 20px;
	margin-bottom: 25px;
	vertical-align: top;
width:310px;
}
.PersonContainer.PersonItemAlt {
margin-right:0;
}

.PersonName2 {
	display: block;
	font-size: 18px;
}
.PersonDetailsImageContainer {
	float: left;
	margin:0 15px 10px 0;
	width: 200px;
}
/* .PersonDetailsNameContainer, .PersonDetailsDescriptionContainer {
	float: right;
	width: 435px;
}
*/
.PersonDetailsNameContainer {
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
}
.PersonDetailsNameContainer .PersonName {
	color: #0066A4;
	font-size: 18px;
	display: block;
	margin-bottom: 8px;
}
.PersonDetailsNameContainer .PersonTitle {
	display: block;
}
#SlideshareFeed {
	display: none
}
.StockTableItem p {
	margin: 0;
}
.PaneRight .QuickLinks ul,
.SecLinks ul {
	margin: 0;
	padding: 0;
	list-style: none outside;
}
.PaneRight .QuickLinks li,
.SecLinks li {
	list-style: none outside;
}
.PaneRight .QuickLinks li a,
.SecLinks li a {
	padding-right: 12px;
	background: url(../design/rpql.png)/*tpa=http://www.ugicorp.com/files/design/rpql.png*/ 100% 6px no-repeat;
	padding-right: 12px;
}
.PaneRight .QuickLinks li div a,
.SecLinks li div a {
	background-image: none;
}
.PaneRight .QuickLinks li img, .PaneRight .QuickLinks li div,
.SecLinks li img, .SecLinks li div {
	display: inline-block !important;
	zoom: 1;
*display:inline !important;
	vertical-align: middle;
	float: none !important;
}
.PaneRight .QuickLinks li img,
.SecLinks li img {
	margin-right: 7px;
}
.ShareThisContainer {
	left: 865px;
	line-height: normal;
	position: absolute;
	top: 40px;
}
.HtmlTextContainer table td {
	vertical-align: top;
}
.CustomTable {
	width: 100%;
	border-left: 1px solid #d4d3d3;
	border-top: 2px solid #d4d3d3;
	line-height: 1;
}
.CustomTable th {
	background-color: #e6e4e4;
	color: #333;
}
.CustomTable th, .CustomTable td {
	padding: 10px;
	text-align: center;
	border-right: 1px solid #d4d3d3;
	border-bottom: 1px solid #d4d3d3;
	font-weight: normal;
}
.CustomTable th[align="left"], .CustomTable td[align="left"] {
	text-align: left;
}
.CustomTable th[align="right"], .CustomTable td[align="right"] {
	text-align: right;
}
.CustomTable td {
	color: #666;
}
.CustomTable tr:nth-child(even) td {
	background-color: #f7f7f7;
}
.ModuleDate {
	display: block;
	clear: both;
	color: #6b6c6b;
	width: 100px;
}
.ModulePressReleaseDetails .ModuleDate {
	width: auto;
	display: block;
	padding-top: 0;
}
.ModuleYearNavContainer {
	margin-bottom: 15px;
	font-family: Helvetica, Arial, sans-serif;
}
.ModuleYearNavContainer a {
	line-height: 31px;
	font-size: 14px;
	font-weight: bold;
	margin-right: 20px;
	border: 1px solid #878787;
	color: #fff;
	text-shadow: 0 1px #666;
	padding: 0 15px;
	height: 31px;
	background: #b1b1b1;
	display: inline-block;
	zoom: 1;
*display:inline;
	vertical-align: top;
}
.ModuleYearNavContainer a:hover, .ModuleYearNavContainer a.selected {
	background: #616161;
}
.PaneContent .ModulePressRelease .ModuleContainerInner, .PaneContent .ModulePresentation .ModuleContainerInner, .PaneContent .ModuleEvent .ModuleContainerInner {
	border: 1px solid #d4d3d3;
}
.PaneContent .ModuleHeader {
	font-size: 0;
	padding: 0 15px 0 0;
	color: #333;
	background-color: #e6e4e4;
	border-top: 1px solid #d4d3d3;
	height: 47px;
}
.RegulatoryFilingContainer .ModuleHeader {
        border-left:1px solid #d4d3d3;
        border-right:1px solid #d4d3d3;
}
.PaneContent .ModuleHeader span {
	font-size: 14px;
	float: left;
	clear: none;
	display: inline-block;
	zoom: 1;
*display:inline;
	vertical-align: top;
	padding-top: 15px;
	padding-bottom: 15px;
}
.PaneContent .ModuleDownloadListWithTags .ModuleHeader span:first-child {
	display: none;
}
.PaneContent .ModuleDownloadListWithTags .ModuleItemRow .ModuleThumbnail {
	margin-left: 15px;
}
.PaneContent .ModuleDownloadListWithTags .ModuleItemRow .ModuleThumbnail {
	padding: 12px 0;
}
.PaneContent .ModuleDownloadListWithTags .ModuleFileSizeText {
	padding: 15px 0;
	text-align: right;
	width: 65px;
}
.PaneContent .ModuleDownloadListWithTags .ModuleHeadlineLink {
	padding-right: 10px;
	padding-left: 3px;
	border-left: 0 none;
	width: 513px;
}
.PaneContent .ModuleDownloadListWithTags .ModuleItemRow {
	border-bottom: 1px solid #D4D3D3;
}
.PaneContent .ModuleDownloadListWithTags .ModuleContainerInner {
	border: 1px solid #D4D3D3;
	border-bottom: 0 none;
}
.PaneContent .ModuleHeader span:first-child,
.RegulatoryFilingContainer .ModuleHeader .Date {
	width: 105px;
	padding: 15px 0;
	text-align: center;
}
.PaneContent .ModuleHeader span:first-child + span {
	width: 495px;
	border-left: 1px solid #d4d3d3;
	padding: 15px 0 15px 15px;
}
.PaneContent .ModuleItemRow {
	font-size: 0;
	padding: 0 15px 0 0;
	margin: 0;
	border-top: 1px solid #d4d3d3;
}
.PaneContent .ModuleItemRow:nth-child(even) {
	background-color: #f7f7f7;
}

.secModule .PaneContent .ModuleItemRow.ModuleItemAlt {
	*background-color: #f7f7f7;
}


.PaneContent .ModulePressRelease .ModuleItemRow, .PaneContent .ModuleEvent .ModuleItemRow {
	background-color: #fff;
}
.PaneContent .ModulePressRelease .ModuleItemRow:nth-child(4n-2), .PaneContent .ModuleEvent .ModuleItemRow:nth-child(4n-2) {
	background-color: #f7f7f7;
}
.PaneContent .ModuleEvent .ModuleTime {
	display: block;
	padding: 0px 0 0 15px;
	width: 526px;
}
.PaneContent .ModuleEvent .ModuleHeadlineLink, .PaneContent .ModuleEvent .ModuleDate {
}
.PaneContent .ModuleEvent .ModuleSpeakers, .PaneContent .ModuleEvent .ModuleBody, .PaneContent .ModuleEvent .ModuleItemRow > a.ModuleFileLink, .PaneContent .ModuleEvent .ModuleLinks, .PaneContent .ModuleEvent .PresentationLinks {
	margin: 0 0 0 122px;
display:block;
}
.PaneContent .ModuleEvent .ModuleBody,
.PaneContent .ModuleEvent .ModuleSpeakers {
display:none;
}

.PageInvestorRelationsEventsPresentations .PaneContent .ModuleEvent .ModuleBody,
.PageInvestorRelationsEventsPresentations .PaneContent .ModuleEvent .ModuleSpeakers {
        display:block;
}
.PageInvestorRelationsEventsPresentations .PaneContent .ModuleEvent .ModuleBody:empty,
.PageInvestorRelationsEventsPresentations .PaneContent .ModuleEvent .ModuleSpeakers:empty {
        .display:none;
        .zoom:1;
}

.PaneContent .ModuleEvent .ModuleLinks {
	padding-bottom: 15px;
display:block;
clear:both;
}
.PaneContent .ModuleItemRow > * {
	font-size: 14px;
	display: inline-block;
	zoom: 1;
*display:inline;
	vertical-align: top;
}
.PaneContent .ModuleDate {
	width: 105px;
	text-align: center;
	padding: 15px 0;
}
.PaneContent .ModuleDetailsContainer .ModuleDate {
width:auto;
text-align:left;
}

.PaneContent .ModuleHeadlineLink {
	width: 506px;
	border-left: 1px solid #d4d3d3;
	padding: 15px 0 15px 15px;
}
.PaneContent .ModulePresentation .ModuleItemRow {
	padding: 15px;
}
.PaneContent .ModulePresentation .ModuleDate {
	padding: 0;
	display: block;
	width: auto;
	text-align: left;
}
.PaneContent .ModulePresentation .ModuleHeadline {
	display: block;
}
.PaneContent .ModulePresentation .ModuleHeader {
	display: none;
}
.PaneContent .IRCol {
	float: left;
	width: 310px;
	margin: 0 15px 0 0;
}
.PaneContent .IRCol h1,
.PaneContent .IRCol .TitleLeft {
	background: url("../design/hh1-bg.png")/*tpa=http://www.ugicorp.com/files/design/hh1-bg.png*/ repeat-x scroll 0 0 transparent;
	border: 0 none;
	color: #FFFFFF;
	height: 39px;
	line-height: 35px;
	padding: 0 7px;
	font-size: 18px !important;
}
.PaneContent .IRCol .TitleLeft .ModuleTitle {
	font-size: 18px;
	line-height: 35px;
	color: #fff;
}
.PaneContent .IRCol h1 a {color:#fff !important; display:block;}
.PaneContent .IRCol .ModuleItemRow,
.PaneContent .AnnualReportLatestContainer.IRCol table tr td+td ul li {
	padding: 0;
	border: 0 none;
	margin: 0 0 15px;
}
.PaneContent .IRCol .ModuleDate {
	display: inline;
        .width:auto;
	padding: 0;
        text-align:left;
}
.PaneContent .IRCol .ModuleFooter {display:none;}

.PaneContent .IRCol .ModuleHeadlineLink {
	display: block;
	margin: 0;
	padding: 0;
	border: 0 none;
	width: auto;
}
.PaneContent .IRCol .ModuleMoreLink {display:none;}

/* SEC */

.RegulatoryFilingContainer .MiddleColumnContentLarge {
	border: 1px solid #d4d3d3;
}
.FormGroupsContainer, .YearNavContainer {
	display: inline-block;
	zoom: 1;
*display:inline;
	vertical-align: top;
	margin: 0 20px 20px 0;
}
.PaneContent .RegulatoryFilingContainer .ModuleHeader span.Filing, .PaneContent .RegulatoryFilingContainer a.ItemHref, .RegulatoryFilingContainer span.ItemHref {
	width: 105px;
	text-align: center;
	padding-left: 0;
	border-left: 1px solid #D4D3D3;
*border-left:0 none;
}
.PaneContent .RegulatoryFilingContainer .ModuleItemRow, 
.RegulatoryFilingContainer .ModuleHeader {
*background-image:url(../design/sec-bg.png)/*tpa=http://www.ugicorp.com/files/design/sec-bg.png*/;
*background-repeat:repeat-y;
*background-position:-1px 0;

}
.PaneContent .RegulatoryFilingContainer .ModuleItemRow > * {
	/* display:inline-block;zoom:1;*display:inline; */
	vertical-align: top;
	padding: 15px 0;
	display: table-cell;
	height: 100%;
*display:inline;
*height:100%;
zoom:1;
}
.RegulatoryFilingContainer .NewsListContainer {
        border-left:1px solid #D4D3D3;
        border-right:1px solid #D4D3D3;
        border-bottom:1px solid #D4D3D3;
}
.PaneContent .ItemDate {
	width: 105px;
	text-align: center;
}
.finLan .PaneContent .ItemDate {
width:106px;
}

.PaneContent ul.Icons {
	margin: 0;
	font-size: 0;
	list-style: none outside;
}
.PaneContent ul.Icons, .PaneContent .ModuleHeader .Download {
	width: 110px;
	text-align: right;
	border-left: 1px solid #D4D3D3;
*border-left:0 none;
}
.PaneContent .ModuleSECFilingDetails ul.Icons {
        border:0 none;
        padding-left:0;
        width:auto;
        text-align:left;
        margin:5px 0;
}
ul.Icons .XBRL a {
        background:transparent url(../../Images/view_xbrl.gif)/*tpa=http://www.ugicorp.com/Images/view_xbrl.gif*/ no-repeat scroll 0 0;
        .display:inline;
        display:inline-block;
        width:18px;
        height:18px;
}
ul.Icons .XBRL_HTML a {
        background:transparent url(../../Images/view_xbrl_html.gif)/*tpa=http://www.ugicorp.com/Images/view_xbrl_html.gif*/ no-repeat scroll 0 0;
        .display:inline;
        display:inline-block;
        width:18px;
        height:18px;
}
ul.Icons .CONVPDF a {
        background:transparent url(../../Images/view_pdf.gif)/*tpa=http://www.ugicorp.com/Images/view_pdf.gif*/ no-repeat scroll 0 0;
        .display:inline;
        display:inline-block;
        width:18px;
        height:18px;
}
ul.Icons .RTF a {
        background:transparent url(../../Images/view_rtf.gif)/*tpa=http://www.ugicorp.com/Images/view_rtf.gif*/ no-repeat scroll 0 0;
        .display:inline;
        display:inline-block;
        width:18px;
        height:18px;
}
ul.Icons .XLS a {
        background:transparent url(../../Images/view_xls.gif)/*tpa=http://www.ugicorp.com/Images/view_xls.gif*/ no-repeat scroll 0 0;
        .display:inline;
        display:inline-block;
        width:18px;
        height:18px;
}
.PaginationCont .showing,
.PaginationCont .pageNum,
.PaginationCont .controls {
        display:block;
        width:33%;
        padding:15px 0;
        float:left;
}
.PaginationCont .pageNum {
        text-align:center;
}
.PaginationCont .pageNum li {
        display:inline;
        margin:0 3px;
}
.PaginationCont .controls {
        text-align:right;
}
.PaginationCont .controls .Prev,
.PaginationCont .controls .Next {
        color:#0066A4;
        cursor:pointer;
}
.PaneContent ul.Icons li {
	display: inline;
	vertical-align: middle;
	margin-left: 2px;
	list-style: none outside;
}
.PaneContent .RegulatoryFilingContainer .ItemDescription, .PaneContent .RegulatoryFilingContainer .Description {
	width: 285px;
	border-left: 1px solid #D4D3D3;
	padding: 15px 10px;
*border-left:0 none;
}
table.resources {
	color: #fff;
}
table.resources td {
	width: 20px;
	vertical-align: top;
}
table.resources td.col {
	border: 1px solid #01446d;
	width: 267px;
	background-color: #005797;
background:position:0 0;
	background-repeat: no-repeat;
	padding: 15px;
}
table.resources td h3 {
	font-size: 20px;
}
table.resources td a {
	color: #fff;
	text-decoration: underline;
}
table.resources td a:hover {
	text-decoration: none;
}
table.resources td.col.prop {
	background-image: url(../design/res-prop.png)/*tpa=http://www.ugicorp.com/files/design/res-prop.png*/;
}
table.resources td.col.gas {
	background-image: url(../design/res-gas.png)/*tpa=http://www.ugicorp.com/files/design/res-gas.png*/;
}
.HtmlTextContainer div.col {
	display: inline-block;
	zoom: 1;
*display:inline;
	width: 302px;
	margin-right: 14px;
	vertical-align: top;
	margin-bottom: 35px;
}
.HtmlTextContainer div.col h2 {
	margin-bottom: 4px;
}
.PaneContent input[type="submit"] {
	background: #e3e3e3;
	border: 1px solid #d4d3d3;
	color: #333;
	font-family: 'HelveticaNeue';
	font-size: 13px;
	padding: 3px 10px;
}
div.radio {
	display: inline-block;
	zoom: 1;
*display:inline;
	vertical-align: middle;
	float: none;
}
.FaqQuestionList {
	margin-bottom: 15px;display:none;
}
.FaqAnswer + p {
	text-align: right;
}
.ModuleNotFound {
	padding: 0 15px;
	background-color: #E6E4E4;
	line-height: 35px;
}
.arm.FinancialReportContainer table tr:nth-child(4n) td {
}
.arm.FinancialReportContainer h2, .arm.FinancialReportContainer h3 {
	display: none;
}
.FinancialReportContainer table {
}
.FinancialReportContainer table li {
}
.FinancialReportContainer {
	vertical-align: top;
}
.AnnualQuarterlyReportText {
	display: none;
}
.FinancialReportContainerl h3 {
	margin: 0;
	padding: 0 0 5px 0;
}
h2.Year {
	margin: 0;
	padding: 0 0 5px 0;
}
.FinancialReportContainer ul {
	margin: 0!important;
	padding: 0 0 0px 0;
}
.FinancialReportContainer > ul {
	display: inline-block;
	width: 100%;
}
.FinancialReportContainer > ul > li {
	display: inline-block;
	float: left;
	padding: 0 10px 16px;
}
.finLan .FinancialReportContainer {padding-top:25px;}

.finLan .FinancialReportContainer > ul > li {display:none;}

.finLan .FinancialReportContainer > ul > li:first-child, .finLan .FinancialReportContainer > ul > li:first-child + li, .finLan .FinancialReportContainer > ul > li:first-child + li + li {display:block;}

.FinancialReportContainer li {
	margin: 0;
	padding: 0;
	list-style: none!important;
}
.FinancialReportContainer .FileType {
	display: none;
	font-weight: normal;
}
.FinancialReportContainer td {
	vertical-align: top;
	text-align: center;
}
.FinancialReportContainer .CoverImagePane {
	text-align: center;
	vertical-align: top;
	width: 187px;
	height: 188px;
	background: #F7F7F7 url(../design/ar-bg.jpg)/*tpa=http://www.ugicorp.com/files/design/ar-bg.jpg*/ 50% 50% no-repeat;
	vertical-align: middle;
}
.FinancialReportContainer .CoverImagePane img {
	padding: 10px 0;
	max-width: 130px;
}
.GlossaryContainer {
}
.GlossaryLetters table {
	width: 100%;
}
.GlossaryLetters td {
	text-align: center;
}
.GlossaryLetters a {
	background: url("../design/tab1.png")/*tpa=http://www.ugicorp.com/files/design/tab1.png*/ repeat-x scroll 0 0 transparent;
	color: #FFFFFF;
	display: inline-block;
	font-size: 13px;
	height: 29px;
	line-height: 27px;
	padding: 0 6px;
	text-shadow: 0 1px #666666;
	vertical-align: top;
}
.GlossaryLetters a:hover {
	background-position: 0 -29px;
}
.ModulePressReleaseLatest .ModuleThumbnailLink,
.ModulePressRelease .ModuleThumbnailLink, .ModulePressRelease .ModuleBody, .ModulePressRelease .ModuleMoreLink {
	display: none;
}
.ModulePressRelease .ModuleDate, .ModulePressRelease .ModuleFileLink {
	float: left;
	display: block;
	clear: none;
}
.FormBuilderContainer {
	color: #fff;
	background: #0075b2 url(../design/form-bg.png)/*tpa=http://www.ugicorp.com/files/design/form-bg.png*/ 0 100% repeat-x;
	border: 1px solid #01446d;
	padding: 15px;
	width: 510px;
}

.PageAlternativeFuel .FormBuilderContainer{
width: 880px;
}

.FormBuilderContainer input[type="text"], .FormBuilderContainer textarea {
	background-color: #004e87;
	color: #fff;
	font-family: 'HelveticaNeue';
	font-size: 14px;
	border: 0 none;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3) inset;
	font-size: 13px;
	width: 190px;
	padding: 5px;
	margin: 0;
}


.PageAlternativeFuel .FormBuilderContainer input[type="text"], .PageAlternativeFuel .FormBuilderContainer textarea{
    width: 65%;
}


.FormBuilderContainer input[type="text"] {
	height: 18px;
}
.FormBuilderContainer input[type="submit"] {
	color: #fff;
	font-family: 'HelveticaNeue';
	padding: 0 30px;
	background-color: #014a80;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	border: 0 none;
	border-radius: 3px;
	font-size: 14px;
	height: 30px;
}
.FormBuilderContainer input[type="submit"]:hover {
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3), 0 0 2px 2px rgba(255,255,255,0.3);
}
.FormBuilderContainer .ItemClass {
	position: relative;
	margin-bottom: 5px;
	width: 310px;
	clear: both;
}

.PageAlternativeFuel .FormBuilderContainer .ItemClass{
   width: 100%;
}


.FormBuilderContainer .ItemClass .RedStar {
	position: absolute;
	left: -7px;
	top: 5px;
        
}

.FormBuilderContainer .ItemClass.ItemClassComments .RedStar {
	top: 0;
}
.FormBuilderContainer .ItemClass > * {
	display: inline-block;
	zoom: 1;
*display:inline;
	vertical-align: middle;
}
.FormBuilderContainer .ItemClass.ItemClassComments > * {
	vertical-align: top;
}
.FormBuilderContainer .Label {
	width: 100px;
       
}
.PageAlternativeFuel .FormBuilderContainer .Label {
 display:block;
 float:left;
 width:31%;
 line-height:28px;
}
.FormBuilderContainer .ItemLookupType .Label{
display: inline-block;
}

.FormBuilderContainer .ErrorMessage {
	position: absolute;
	color: #FFFFFF !important;
	right: 12px;
	top: 5px;
	white-space: nowrap;
        color: #fa2b2e;
        
}
.glancePage {
}
.glancePage .StockChart {
	float: right;
	padding: 5px;
	width: 338px;
	overflow: hidden;
	border: 1px solid #D4D3D3;
	border-top-width: 2px;
}
.glancePage .StockChart img {
	width: 350px;
}
.glancePage .leftCols {
	float: left;
	clear: none;
	width: 300px;
}
.glancePage .StockQuoteContainer {
	float: right;
	width: 350px;
	margin: 0 0 0 0;
}
.glancePage .StockTableText {
	padding: 5px;
	font-size: 11px;
	text-align: right;
}
.glancePage .StockQuoteContainer p {
	display: inline-block;
	zoom: 1;
*display:inline;
	padding: 5px;
	text-align: right;
	width: 159px;
}
.glancePage .StockQuoteContainer p > span:first-child {
	float: left;
}
.glancePage .emptyClearfix {
        display:inline-block;
        line-height:0;
        width:100%;
}
.PaneContent .ModuleEvent {
	margin: 0 0 20px;
}
.pdfLink {
	display: block;
	padding-left: 20px;
	background: url(../../Images/view_pdf.gif)/*tpa=http://www.ugicorp.com/Images/view_pdf.gif*/ 0 0 no-repeat;
}
.frPage {
}
.frPage .YearNavContainer {
	display: none;
}
.ModuleDownloadListWithTags .ModuleYearNavContainer {
	display: none;
}
.regularNews .ModuleDate, .regularNews .ModuleItemRow, .regularNews .ModuleHeadlineLink {
	border: 0 none;
	padding: 0;
	margin: 0;
	text-align: left;
	width: auto;
}
.regularNews .ModuleItemRow {
	margin-bottom: 15px;
}
.regularNews .ModuleDate {
	display: block;
	clear: both;
}
.PagePressRoomNews .ModulePressRelease, .regularNews {
	margin-bottom: 20px;
}
.listwithicon {
padding:0;
list-style:none outside;
}
.listwithicon div {float:none !important; max-width:600px;}
.listwithicon li div, .listwithicon li img {
display:inline-block !important;
vertical-align:top;
zoom:1;
*display:inline !important;
}
.listwithicon li img {margin-right:8px;}


.subNews ul {
padding:0;list-style:none outside;margin:0;
border: 1px solid #D4D3D3;
border-top:0 none;
}
.subNews ul h4 {
font-weight:normal;
font-size:14px;
display:block;
float:right;
    border-left: 1px solid #D4D3D3;
    padding: 15px;
    width: 512px;
}

.subNews .rssBody {
border:0 none;
}

.rssfeedHeader .ModuleHeader {
border:1px solid #D4D3D3;
border-top:2px solid #D4D3D3;
border-bottom:0 none;
clear:both;
overflow:hidden;
}


.subNews .rssHeader {display:none;}

.subNews li.rssRow {
background:#fff;
border-top: 1px solid #D4D3D3;
overflow:hidden;
*zoom:1;
}
.subNews li.rssRow.odd {
background-color: #F7F7F7;
}
li.rssRow p {display:none;}

.subNews li.rssRow div {
    padding: 14px 0;
float:left;
    text-align: center;
    width: 105px;
    clear: none;
    display: block;
}


.GlossaryContainer ul {
padding-left:17px;
list-style:disc outside;
}

div.HomeDownloads {
    padding-left:38px;
    margin-bottom:18px;
    width:254px;
    margin-right:30px;
}

div.HomeAR {
    background:transparent url(../icons/annual_report_thumb.jpg)/*tpa=http://www.ugicorp.com/files/icons/annual_report_thumb.jpg*/ no-repeat scroll 0 0;
}

div.HomeFS {
    background:transparent url(../icons/factsheet-thumb.jpg)/*tpa=http://www.ugicorp.com/files/icons/factsheet-thumb.jpg*/ no-repeat scroll 0 0;
}

.HomeDownloads h1 {
    margin-bottom:10px;
}

.HomeDownloads ul {
    margin:0;
    padding:0;
}

.HomeDownloads ul li {
    display:inline;
    list-style-type:none;
}

.HomeDownloads .QuickLinkSeparator {
    display:inline!important;
}

.ModuleEventDetails .ModuleBody ul, 
.ModuleEvent .ModuleBody ul {list-style:none outside;padding:0;}


div.selector select {cursor:pointer;}

.historyCont p strong{
 font-family: 'HelveticaNeue', Arial, sans-serif;
 font-weight: bold;
}

.homeSlider ul#slideContent li.slide1 .innerS{
padding-top:315px;
padding-left:0px;
}

.slide1Change
{
text-align: right;
}

.homeSlider ul#slideContent h1.bottom {
position: absolute;
bottom: 90px;
right: 80px;
}
.homeSlider ul#slideContent h1.centerS {
margin: 85px 0px 0px 80px;
}

.slideMic h1
{
padding-top: 40px !important;
}

/*  Header Links  */
div.HeaderLinks ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-left: 20px;
}

.sideEmailSignUp {
	width: 215px;
	height: 190px;
	background: url(../design/side-email-bg.jpg)/*tpa=http://www.ugicorp.com/files/design/side-email-bg.jpg*/ 0px 0px repeat-x;
	position: relative;
	left: -10px;
	padding: 10px 0 0 15px;
	color: #fff;
	font-size: 12px;
}
.sideEmailSignUp h1 {
	margin-bottom: 0px;
	font-size: 18px;
}

.sideEmailSignUp .MailingListTable .MailingListCol1 { display: none; }
.sideEmailSignUp .MailingListTable .MailingListCol2 input[type="text"] {
	width: 177px !important;
	background-color: #004e87;
	color: #fff;
	font-family: 'HelveticaNeue';
	font-size: 14px;
	border: 0 none;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3) inset;
	font-size: 13px;
	width: 190px;
	padding: 5px;
	margin: 0;
}

/*.sideEmailSignUp .MailingListTable .MailingListCol2 input[type="text"]:hover,
.sideEmailSignUp .MailingListTable .MailingListCol2 input[type="text"]:focus {
	border: 1px solid #80a7c3;
}*/
.sideEmailSignUp .MailingListListTable tr > td:first-child { padding-left: 3px; }
.sideEmailSignUp input[type="submit"] {
	color: #fff;
	font-family: 'HelveticaNeue';
	padding: 0 30px;
	background-color: #014a80;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	border: 0 none;
	border-radius: 3px;
	font-size: 14px;
	height: 30px;
}
.sideEmailSignUp input[type="submit"]:hover,
.sideEmailSignUp input[type="submit"]:focus {
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3), 0 0 2px 2px rgba(255,255,255,0.3);
}


.IRDown .ModuleHeader { display: none; }
.PaneContent .IRDown.IRCol h1 {
	margin-bottom: 0px;
}
.PaneContent .IRDown .ModuleContainerInnerTop .ModuleContainerInner {
	border: 0 none;
}
.IRDown .ModuleContainerInner .ModuleItemRow .ModuleThumbnail {
	margin: 0px;
	padding: 0px;
	width: 308px;
}
.IRDown .ModuleContainerInner .ModuleItemRow .ModuleThumbnail img {
	width: 308px;
}
.IRDown .ModuleContainerInner .ModuleItemRow {
	position: relative;
	width: 308px;
	height: 233px;
	overflow: hidden;
	border-left: 1px solid #d4d3d3;
	border-right: 1px solid #d4d3d3;
	border-bottom: 1px solid #d4d3d3;
}
.IRDown .ModuleContainerInner .ModuleItemRow .ModuleIcon {
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 9;
}
.IRDown .ModuleContainerInner .ModuleItemRow .ModuleHeadlineLink {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 20px;
	line-height: 20px;
	color: #fff;
	height: 25px;
	width: 280px;
	padding: 60px 0 160px 30px;
	background: url(../design/ir-download-hover.png)/*tpa=http://www.ugicorp.com/files/design/ir-download-hover.png*/ 0px 0px;
	z-index: 10;
}
.IRDown .ModuleContainerInner .ModuleItemRow .ModuleFileDescriptionText {
	display: none;
	position: absolute;
	top: 85px;
	left: 30px;
	color: #fff;
	z-index: 11;
}

.IRDown .ModuleContainerInner .ModuleItemRow .ModuleFileSizeText {
	display: none;
	position: absolute;
	top: 85px;
	left: 125px;
	color: #fff;
	padding: 0px;
	z-index: 11;
}
.IRDown .ModuleContainerInner .ModuleItemRow:hover > .ModuleHeadlineLink,
.IRDown .ModuleContainerInner .ModuleItemRow:hover > .ModuleFileDescriptionText,
.IRDown .ModuleContainerInner .ModuleItemRow:hover > .ModuleFileSizeText {
	display: block;
}

.twitterFeed { 
	clear: both;
	border: 1px solid #d4d3d3;
	margin-bottom: 20px;
}
.twitterFeed p {
  margin-bottom: 10px;
}
.twitterFeed.TFCol {
	clear: left;
	float: left;
	width: 633px;
	margin: 0 15px 0 0;
}
.twitterFeed .icon {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	height: 32px;
	width: 25px;
	background: url(../design/twitter-icon.png)/*tpa=http://www.ugicorp.com/files/design/twitter-icon.png*/ 0px center no-repeat;
	padding-right: 5px;
}
.twitterFeed h1 {
	border: 1px solid #d4d3d3;
	font-size: 15px;
	color: #595959;
	height: 36px;
	line-height: 36px;
	padding: 0 5px;
	background: #e6e4e4;
	margin-bottom: 0px;
}
.twitterFeed .feedContent {
	padding: 10px;
}
.twitterFeed .feedContent p {
	margin-bottom: 5px;
}
.twitterFeed .accordionTrigger {
	background: #e6e4e4 url(../design/events-accordion-icon.png)/*tpa=http://www.ugicorp.com/files/design/events-accordion-icon.png*/ 625px center no-repeat;
	cursor: pointer;
}
.twitterFeed .accordionTrigger.active {
	background: #e6e4e4 url(../design/events-accordion-icon-active.png)/*tpa=http://www.ugicorp.com/files/design/events-accordion-icon-active.png*/ 625px center no-repeat;
}
.twf { clear: both; }
.twf > a {
 display: inline-block;
 width: 335px;
}
.twfsmall > a {
 width: 320px;
}

.ModuleEvent .ModuleContainerInner .ModuleItemRow .event-container { width: 525px; border-left: 1px solid #d4d3d3; }
.ModuleEvent .ModuleContainerInner .ModuleItemRow .event-container .ModuleHeadline { 
	border: 0 none;
	width: 515px;
	padding: 15px 0 15px 15px;
	display: block;
	background: url(../design/events-accordion-icon.png)/*tpa=http://www.ugicorp.com/files/design/events-accordion-icon.png*/ right center no-repeat;
	cursor: pointer;
	color: #0066a4;
}
.ModuleEvent .ModuleContainerInner .ModuleItemRow .event-container .ModuleHeadline.active {
	background: url(../design/events-accordion-icon-active.png)/*tpa=http://www.ugicorp.com/files/design/events-accordion-icon-active.png*/ right center no-repeat;
}
.ModuleEvent .ModuleContainerInner .ModuleItemRow .event-container .ModuleHeadlineLink {
	display: block;
	width: 530px;
	padding: 0 0 15px;
	border: 0 none;
	text-align: right;
}

.ModuleEvent .ModuleContainerInner .ModuleItemRow .event-container .ModuleSpeakers,
.ModuleEvent .ModuleContainerInner .ModuleItemRow .event-container .ModuleBody,
.ModuleEvent .ModuleContainerInner .ModuleItemRow .event-container .ModuleFileLink.UrlFileLink,
.ModuleEvent .ModuleContainerInner .ModuleItemRow .event-container .ModuleLinks,
.ModuleEvent .ModuleContainerInner .ModuleItemRow .event-container .PresentationLinks { display: block; margin: 0 0 0 15px; padding: 0px; }

.ModuleEvent .ModuleContainerInner .ModuleItemRow .event-container .ModuleBody p {margin-bottom: 0px;}

.ModuleEvent .ModuleContainerInner .ModuleItemRow .event-container .event-accordion-content { 
  display: none;
  line-height: 20px;
}
.ModuleEvent .RssLinkTopContainer {
	position: absolute;
	top: 97px;
	right: 5px;
}

.EventsCalendar .ui-datepicker {
	font-family: 'HelveticaNeue', Arial, sans-serif;
	width: 650px;
	background: #fff;
	border: 0 none;
	padding: 0;
	position: relative;
	z-index: 2;
}
.EventsCalendar .ui-datepicker .ui-datepicker-header {
	width: 200px;
	margin: 0 auto 2px;
}
.EventsCalendar .ui-datepicker .ui-datepicker-prev span {
	background: url(../design/events-calendar-arrow-left.png)/*tpa=http://www.ugicorp.com/files/design/events-calendar-arrow-left.png*/ center center no-repeat;
}
.EventsCalendar .ui-datepicker .ui-datepicker-next span {
	background: url(../design/events-calendar-arrow-right.png)/*tpa=http://www.ugicorp.com/files/design/events-calendar-arrow-right.png*/ center center no-repeat;
}
.EventsCalendar .ui-datepicker .ui-datepicker-prev:hover span {
	background: url(../design/events-calendar-arrow-left.png)/*tpa=http://www.ugicorp.com/files/design/events-calendar-arrow-left.png*/ 45% center no-repeat;	
}
.EventsCalendar .ui-datepicker .ui-datepicker-next:hover span {
	background: url(../design/events-calendar-arrow-right.png)/*tpa=http://www.ugicorp.com/files/design/events-calendar-arrow-right.png*/ 65% center no-repeat;		
}
.EventsCalendar .ui-datepicker table {
	background: #f7f7f7;
	border: 0 none;
	width: 320px;
	border: 1px solid #d4d3d3;
	margin: 0px;
}
.EventsCalendar .ui-datepicker table thead tr th {
	background: #d4d3d3;
	font-size: 12px;
	line-height: 20px;
	border: 1px solid #d4d3d3;
	color: #595959;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0px;
}

.EventsCalendar .ui-datepicker table tbody tr td {
	border-top: 1px solid #d4d3d3;
	padding: 0px;
}
.EventsCalendar .ui-datepicker table tbody tr:first-child td {
	border: 0 none;
}
.EventsCalendar .ui-datepicker table tbody tr td a {
	background: transparent;
	border: 0 none;
	text-align: center;
	font-weight: normal;
	font-size: 16px;
	line-height: 45px;
	color: #595959;
	height: 45px;
	width: 45px;
	padding: 0px;
	margin: 0px;
}
.EventsCalendar .ui-datepicker table tbody tr td a:hover {
	background: #fff;
}
.EventsCalendar .ui-datepicker table tbody tr td.ui-datepicker-current-day a {
	background: #fff;
	font-weight: normal;
	font-family: 'HelveticaNeue-Bold', Arial, sans-serif;
}
.EventsCalendar .ui-datepicker table tr .highlighted > a {
	color: #0067a3;
	background: #d4d3d3;
}
.EventsCalendar .ui-datepicker table tr .highlighted {
	background-color: transparent;
	padding: 0px;
	height: auto;
	margin: 0px;
}

.EventsCalendar {
	position: relative;
	overflow: hidden;
	min-height: 280px;
	margin-bottom: 20px;
}
.EventsCalendar .loader {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: 20px;
	text-align: center;
	z-index: 1;
}

.EventsCalendar #Popup {
	width: 305px;
	position: absolute;
	right: 0;
	top: 35px;
	background: #d4d3d3;
	padding: 11px;
	height: 80%;
	overflow: auto;
	z-index: 3;
	border-bottom: 10px solid #d4d3d3;
	line-height: 20px;
}
.EventsCalendar #Popup h3,
.EventsCalendar #Popup p {
	margin: 0 0 6px;
}
.EventsCalendar #Popup h3 {
	font-family: 'HelveticaNeue-Bold', Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
}
.EventsCalendar #Popup .Date {
	color: #0066a3;
	font-family: 'HelveticaNeue-Bold', Arial, sans-serif;
}

.EventsCalendar #Popup .block2 { margin-top: 15px; }
.EventsCalendar #Popup .webcast > a,
.EventsCalendar #Popup .presentation > a,
.EventsCalendar #Popup .block3 a {
	display: block;
	width: 148px;
	height: 37px;
	line-height: 37px;
	text-shadow: 1px 1px 1px #00324f;
	color: #fff;
	text-align: center;
	background: url(../design/calendar-btn.png)/*tpa=http://www.ugicorp.com/files/design/calendar-btn.png*/ 0px 0px no-repeat;
}
.EventsCalendar #Popup .webcast > a:hover,
.EventsCalendar #Popup .presentation > a:hover,
.EventsCalendar #Popup .block3 a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; /* IE 8 */
  filter: alpha(opacity=85); /* IE 5-7 */
  -moz-opacity: 0.85; /* Netscape */
  -khtml-opacity: 0.85; /* Safari 1.x */
  opacity: 0.85;
}
.EventsCalendar #Popup .webcast,
.EventsCalendar #Popup .presentation {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	margin-left: 5px;
}
/*.EventsCalendar #Popup .webcast {
	margin-left: 0px;
}*/
.EventsCalendar #Popup .Event .block2 > p > span:first-child {
  margin-left: 0px;
}

.EventsCalendar #Popup ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.EventsCalendar #Popup .Event.Future .block3 { display: block !important; }
.eventTabs {
	border-bottom: 1px solid #d4d3d3;
	margin-bottom: 10px;
}
.eventTabs .tabsEv {
	list-style: none;
	padding: 0px;
	margin: 0px;
	height: 31px;
}
.eventTabs .tabsEv li {
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	float: left;
	border-top: 1px solid #d4d3d3;
	border-right: 1px solid #d4d3d3;
	border-left: 1px solid #d4d3d3;
	padding: 0px 20px;
}
.eventTabs .tabsEv li a {
	display: block;
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.eventTabs .tabsEv li.active {
	background: #595959;
	border-top: 1px solid #595959;
	border-right: 1px solid #595959;
	border-left: 1px solid #595959;
}
.eventTabs .tabsEv li.active a {
	color: #fff;
}


.PageHome .PaneFooter {
	width: 685px;
}
.PageHome .PaneFooter2 {
	width: 210px;
}
.PaneFooter .twitterFeed {
	display: block;
	padding: 0 15px 25px 0;
	margin: 0 0 25px;
	border: 0 none;
	border-bottom: 3px solid #fff;
	height: 142px;
}
.PaneFooter .twitterFeed h1 {
	border-top: 2px solid #d4d3d3;
	border-left: 2px solid #d4d3d3;
	border-right: 2px solid #d4d3d3;
}
.PaneFooter .twitterFeed .feedContent {
	padding: 10px;
	height: 100px;
	overflow: hidden;
	border-bottom: 1px solid #d4d3d3;
	border-left: 1px solid #d4d3d3;
	border-right: 1px solid #d4d3d3;
	margin-bottom: 10px;
}
.PageHome .footerStock {
	margin: 0 0 10px 10px;
}
.PageHome .footerStock.last {
	margin: 0 0 39px 10px;
}
.PageHome div.FooterLinks {
	width: 360px;
}

.whyInvestModule {
	height: 460px;
	padding: 20px 0 0 130px;
	background: url(../design/why-invest-image.jpg)/*tpa=http://www.ugicorp.com/files/design/why-invest-image.jpg*/ 0px 0px no-repeat;
	position: relative;
	margin-bottom: 40px;
}

.whyInvestModule .item-container {
	width: 215px;
	height: 80px;
	margin: 40px 0 0;
}
.whyInvestModule .item-container.active {
	background: url(../design/why-invest-line.png)/*tpa=http://www.ugicorp.com/files/design/why-invest-line.png*/ right center no-repeat;
}

.whyInvestModule .item {
	width: 200px;
	height: 80px;
	cursor: pointer;
}
.whyInvestModule .item-container:first-child {
	margin-top: 0;
}
.whyInvestModule .item span {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
}
.whyInvestModule .item .item-vertical-alignment-helper {
	width: 1px;
	height: 80px;
}
.whyInvestModule .item .item-name {
	width: 190px;
	text-align: center;
	color: #fff;
	font-size: 22px;
	line-height: 30px;
}
.whyInvestModule .item .info,
.whyInvestModule .info { display: none; }

.whyInvestModule .information-content {
	width: 295px;
	height: 440px;
	position: absolute;
	top: 20px;
	right: 10px;
	background: transparent;
}
.whyInvestModule .information-content .info {
	padding: 20px;
	height: 400px;
	width: 255px;
	color: #fff;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.info .info-vertical-alignment-helper,
.info .info-content {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
}
.info > .info-content {
	width: 245px;
	font-size: 18px;
	line-height: 25px;
}
.info > .info-vertical-alignment-helper {
	height: 400px;
	width: 1px;
}
.underlined-text { border-bottom: 2px solid #fff; padding-bottom: 1px; }

.active .color1.faded,
.info.color1,
.color1 {
	background: #ff0000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;
	-khtml-opacity: 0.70;
	opacity: 0.70;
}
.active .color2.faded,
.info.color2,
.color2 {
	background: #b1334e;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;
	-khtml-opacity: 0.70;
	opacity: 0.70;
}
.active .color3.faded,
.info.color3,
.color3 {
	background: #f36f21;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;
	-khtml-opacity: 0.70;
	opacity: 0.70;
}
.active .color4.faded,
.info.color4,
.color4 {
	background: #00706a;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;
	-khtml-opacity: 0.70;
	opacity: 0.70;
}

.color1.faded,
.color2.faded,
.color3.faded,
.color4.faded {
	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	/*width: 100%; */
		
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=20);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.2;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.2;
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.2;
}

.info-content p,
.info-content ul li {
	margin-bottom: 10px;
}
.info-content ul {
	padding-left: 25px;
}

.AnnualReportLatestContainer table tr td.CoverImagePane { display: none; }
.AnnualReportLatestContainer .TitleLeft { margin-bottom: 15px; }

.KITContactAgent { 
	float: left;

clear: both;
}
.KITContactAgent h1 {
	background: #9b9c9f;
	color: #fff;
	padding: 10px;
	font-size: 15px;
	margin-bottom: 1px;
height: 17px;
}
.KITContactAgent > div {
  float: left;
	width: 310px;
  margin: 0px 15px 0px 0px;
}
.KITContactAgent div div {
	background: #e6e4e4;
	padding: 10px 15px;
	margin-bottom: 20px;
}
.KITContactAgent div div p { margin: 0; }

.PageInvestorToolkit #twitter {
  height: 168px;
}
.PaneFooter #twitter {
  height: 105px;
  border-right: 1px solid #d4d3d3;
  border-left: 1px solid #d4d3d3;
  border-bottom: 1px solid #d4d3d3;
}

/*  Events & Presentations Widgets  */
.eventsWrapp,
.presentationWrapper {
	margin-bottom: 25px;
}
.eventsWrapp .yearTabs,
.presentationWrapper .yearTabs {
	padding: 0px;
	margin-bottom: 15px;
	font-family: Helvetica, Arial, sans-serif;
}
.eventsWrapp .yearTabs li,
.presentationWrapper .yearTabs li {
	line-height: 31px;
	font-size: 14px;
	font-weight: bold;
	margin-right: 20px;
	border: 1px solid #878787;
	color: #fff;
	text-shadow: 0 1px #666;
	padding: 0 15px;
	height: 31px;
	background: #b1b1b1;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	cursor: pointer;
}
.eventsWrapp .yearTabs li.active,
.presentationWrapper .yearTabs li.active {
	background: #616161;
}
.eventsWrapp .ModuleHeader {
	border-top: 2px solid #d4d3d3;
	border-right: 1px solid #d4d3d3;
	border-left: 1px solid #d4d3d3;
}
.presentationWrapper .ModuleHeader { display: none }
.eventsWrapp .Events {
	border-bottom: 1px solid #d4d3d3;
	border-right: 1px solid #d4d3d3;
	border-left: 1px solid #d4d3d3;
}
.presentationWrapper .EventsP { border: 1px solid #d4d3d3; }
.eventsWrapp .ModuleItemRow {
	padding: 0;
}
.eventsWrapp .ModuleItemRow.Past .ical { display: none; }
.presentationWrapper .ModuleItemRow {
	padding: 15px 0 15px 15px;
}
.presentationWrapper .ModuleItemRow > * { display: block; }
.eventsWrapp .date {
	width: 105px;
	padding: 15px 0;
	text-align: center;
}
.presentationWrapper .datePresentation { display: block; }
.eventsWrapp .eventTitle {
	border-left: 1px solid #d4d3d3;
	width: 515px;
	padding: 15px 0 15px 15px;
	background: url(../design/events-accordion-icon.png)/*tpa=http://www.ugicorp.com/files/design/events-accordion-icon.png*/ right center no-repeat;
	color: #0066a4;
	cursor: pointer;
}
.presentationWrapper .EventsP {
	line-height: 20px;
}
.eventsWrapp .eventTitle.active {
	background: url(../design/events-accordion-icon-active.png)/*tpa=http://www.ugicorp.com/files/design/events-accordion-icon-active.png*/ right center no-repeat;
}
.eventsWrapp .mBody {
	display: none;
	border-left: 1px solid #d4d3d3;
	margin-left: 105px;
	padding: 5px 15px 15px;
	width: 500px;
}
.eventsWrapp .mBody .more {
	text-align: right;
}



/*
.WhyInvestPage .HeaderImageContainer { display:none; }*/

.innerSlider {
  position: relative;
  width: 650px;
  height: 480px;
margin-bottom: 40px;
}
/*.innerSlider ul#slideContent li {
  height: 480px;
  width: 650px;
}
.innerSlider ul#slideNumber {
  position: absolute;
  right: -2px;
  top: 0px;
}
.innerSlider ul#slideContent li .innerS {
  width: 650px;
  height: 480px;
  padding: 0px;
}
.innerSlider ul#slideContent h1 {
  padding: 10px 10px 10px 40px;
  margin: 40px 0px 0px 50px !important;
  background: rgba(0,72,116,.65);
}
.innerSlider ul#slideContent .info-content {
	padding: 10px 10px 10px 40px;
  	margin: 50px 0px 0px 0px; 
  	width: 450px;
  	background: rgba(0,72,116,.65);
  	color: #fff;
  	text-shadow: 0px 0px 3px #000;
}

.innerSlider ul#slideContent .info-content .list span {
	display: block;
	padding-left: 25px;
	background: url(../design/white-bullet.png) 10px 5px no-repeat;
}

.innerSlider ul#slideNumber li {
	display: block;
	float: left;
	width: 33px;
	height: 33px;
	padding: 0px;
	font-size: 0px;
	text-indent: -9999px;
	line-height: 33px;
	color: #fff;
	background: transparent;
}

.innerSlider ul#slideNumber li.active {
	background: transparent;
}*/

.innerSlider #nav {
	float: right;
	position: relative;
	top: -30px;
	right: 10px;
	font-size: 14px;
	color: red;
	font-weight: bold;
}
.innerSlider #nav span {
	margin-left: 95px;
	cursor: pointer;
}

.innerSlider #pager {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 199;
}

.innerSlider #pager span {
	display: block;
	float: left;
	width: 33px;
	height: 33px;
	margin-left: 2px;
	font-size: 0px;
	text-indent: -9999px;
	cursor: pointer;
}
.innerSlider #pager span:hover {
	background: url(../design/slider-nav-hov.png)/*tpa=http://www.ugicorp.com/files/design/slider-nav-hov.png*/ 0px 0px;
}

.UGITwitter,
.AmerigasTwitter  {
  float: left;
  height: 125px !important;
  width: 334px !important;
  border-left: 1px solid #d4d3d3;
  border-bottom: 1px solid #d4d3d3;
}
.AmerigasTwitter {
  border-right: 1px solid #d4d3d3;
  width: 333px !important;
}
.twitterFeed.TFCol .UGITwitter,
.twitterFeed.TFCol .AmerigasTwitter {
  border: 0 none;
  border-left: 1px solid #d4d3d3;
  height: 175px !important;
  width: 315px !important;
}

.businessUnit{
width:300px;
float:left;
margin-top: 0 !important;
margin-left: 50px;
}

.corpOfficers{
width:300px;
float:left;
}

.PageAltFuel{
background:#fff;
}

.PageAltFuel .HeaderContainer {
margin-bottom: 485px;
}

.PageAltFuel .PaneLeft,
.PageAltFuel .PaneRight{
display:none;
}

.PageAltFuel .PaneContent{
width:100%;
}

.PageAltFuel .PaneFooter{
width:100%;
background:#fff;
}

.PageAltFuel .FooterContainer{
background:#fff;
text-align:center;
}

.PageAltFuel .PaneBreadcrumb{
display:none;
}

.AltFuelHeader{
position:absolute;
top: 168px;
left: 81px;
}

.AltFuelHeader h1{
color: #fff;
font-size: 52px;
font-weight: bold;
text-shadow: 2px 5px 5px #000;
}

.AltFuelSubhead {
position: absolute;
top: 390px;
left: 81px;
width: 938px;
}
.AltFuelSubhead h2 {
font-size: 23px;
color: #0066A4;
padding: 10px 30px 0;
}

.AltFuelList ul{
list-style-type:none;
}

.AltFuelList li{
float:left;
width:30%;
list-style-type:none !important;
padding:0 10px;
font-size:16px;
}

.AltFuelList li img{
margin-right:10px;
}

.noheader .HeaderImage {
    display: none;
}

.PaneRight .lrnMore h1{
 margin-bottom: 0;
 border-bottom: medium none;
 width: 250px;
 display:block;
 height:35px;
 line-height: 35px;
 background: #00367b;
 color: #fff;
 margin-left: 20px;
 padding-left: 15px;
 padding-bottom: 0px;
}

.FormBuilderContainer .FormCheckBoxList{
margin-top: 15px;
}

.PageAlternativeFuel .FormBuilderContainer .ItemFirstName, .PageAlternativeFuel  .FormBuilderContainer .ItemLastName, .PageAlternativeFuel  .FormBuilderContainer .ItemJobTitle, .PageAlternativeFuel  .FormBuilderContainer .ItemCompany, .PageAlternativeFuel .FormBuilderContainer .Item{
width: 48%;
float: left;
clear: none;
margin-left: 1%;
}

.PageAlternativeFuel .FormBuilderContainer .ItemJobTitle{

}



.PageAlternativeFuel .FormBuilderContainer  .ItemLookupType{
float: none;
clear: both;
}

.PageAlternativeFuel .FormBuilderContainer  .ItemLookupType .Label{
width: 131px;
font-size: 13px;
}

.PageAlternativeFuel .FormBuilderContainer  .ItemLookupType select{
width: 285px;
height: 28px;
color: #ccc;
background: #004e87;
border: medium none;
box-shadow: 0px 2px 2px rgba(0,0,0,0.3) inset;
}


.PageInvestorRelations .PaneContent .ModuleDownloadListWithTags .ModuleContainerInner {
	border: none;
	border: none;
        background-color: #ffffff;
}

.videoEmbed {
    width: 616px !important;
    margin-bottom: 20px !important;
}