
    .individuals
    {
      filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='');
    }
  
    .business
    {
      filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='');
    }
  
    .brokers
    {
      filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='');
    }
  
    .agents
    {
      filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='');
    }
  