
/* Panel(main banner) background color */
.banner-module{background-color: #ffffff;} /* In case that the 3 panels have the same background color */
#first-module .banner-module{} /* Insert here the background color or background image for the first panel (if you prefer, you can change it in the HTML too) */
#second-module .banner-module{} /* Insert here the background color or background image for the second panel (if you prefer, you can change it in the HTML too) */
#third-module .banner-module{} /* Insert here the background color or background image for the third panel (if you prefer, you can change it in the HTML too) */


/** TEXT STYLES (just in case you want to change some text)
===================================*/
/* Default Text Color */
.main-module{color: #333333;}
.small-module{color: #2d2626;}

/* Text Color */
.red-text{color: #e24e55;}
.green-text{color: #5f8359;}
.blue-text{color: #019ccf;}
.grey-text{color: #989898;}
.white-text{color: #ffffff;}

/* Fonts */
.regular-text{font-family: 'Lato';}
.bold-text{font-family: 'Lato'; font-weight:900;}
.light-text{font-family: 'Lato'; font-weight:300;}
.black-text{font-family: 'Lato'; font-weight:900;}
.lightitalic-text{font-family: 'Lato'; font-weight:300; font-style:italic;}

/*SEASONAL BACKGROUND COLORS:
coral: #e63e47;
*/

/** AD UNITS CATEGORY
===================================*/
/* Ad Units Category color bar */
.ad-unit .promotional-unit{background-color: #989898;}
.ad-unit .program-unit{background-color: #019ccf;}
.ad-unit .seasonal-unit{background-color: #991313;}

/* Ad Units Category color bar text */
.ad-unit .featured-product span {color: #ffffff;font-family: 'Lato';font-size: 13px;}