
body,
.article-header h2,
.right-column-content p,
h3.grey,
h4.grey15,
h3.grey15,
.right-column-content ul,
.right-column-content ol,
.content-blocks p,
#column-7 p { font-family: "Times New Roman", Times, serif !important; }

.right-column-content p { font-size: 12pt !important; }

#data-table .header th {
	color: #000 !important;
	font-size: 14px;
	font-weight: bold;
}

#data-table th,
#data-table td { border: 1px solid #000; }

.article-header,
.thirty.store-left-370 {
	display: block !important;
	float: none;
	color: #000 !important;
}

.article-header h2 {
	line-height: 50px !important;
	font-size: 40px !important;
	font-weight: normal;
	color: #000 !important;
	font-family: Arial, Helvetica, sans-serif;
}

.pharmacy-landing-page #content-wrapper,
#store-locator .store-locator-top-box,
.landing-content,
.brand-login-banner,
.d-boxes,
.wcontent-1 p a,
.wcontent-2 p a,
.store-locator #column-center,
.branded-login #column-center-box,
.landing-content,
.store-locator #store-locator #pharmacytextbox input {
	box-shadow: 0 0 0 !important;
	-moz-box-shadow: 0 0 0 !important;
}

.wellness-dashboard #page-title p,
.d-boxes h4,
.store-locator #page-title p,
.branded-login #page-title p { text-shadow: 0 0 0 !important; }

.article-header,
.article-content { float: none !important; }

#navigation .main-logo {
	top: 0;
	margin: 0 !important;
	position: absolute;
	left: 20px;
}

.rest-logo-bar {
	width: auto;
	margin: 0 0 !important;
	margin-top: 30px !important;
	position: absolute;
	left: 25px;
}

.pharmacy-services-banner .landing-img img,
#p_p_id_56_INSTANCE_7RcJ_ p a img {
	width: 100%;
	height: auto;
}

.content-mid-blocks {
	float: none !important;
	clear: both;
	padding: 0 !important;
	margin-top: 5px;
}

.content-blocks { padding: 0 !important; }

.user-status-content { height: 130px; }

.promo-box { clear: both; }

.snapdown-expand-div,
#store-locator-search .hours,
.breadcrumb-bar,
.store-locator .jqtransformboxes,
.store-locator #column-2 { display: block !important; }

.store-locator .grey-bar-store { 
	color: #fff !important;	
}

.store-locator #store-locator .store-locator-top-box{ border: 0 !important; border-bottom: 1px solid #ccc !important; border-top: 1px solid #ccc !important; height: auto !important; width: 100% !important;}
.store-locator #store-locator #pharmacytextbox input{ width: 240px !important; float: left !important; padding:2px !important; }
.store-locator .function-boxes2 p, .function-boxes2 div{ float: left !important;}
.store-locator .function-boxes2 p{ margin-right: 5px !important;}
.store-locator .function-boxes2 p:third-child{ display: none !important;}

.breadcrumb-bar li:after{ content:">  "; margin: 0 10px 0 0 ; color: darkred; font-size:14px; font-weight: bold;}
.breadcrumb-bar li:last-child:after{ content:""; color: darkred;  margin: 0;}


.right-column-content .section { padding: 0 !important; }

.my-status,
#store-locator-search .address1 { margin: 0 !important; }

.wellness-dashboard #content-wrapper,
.no-status-img { border: 0 !important; }

.email_cc,
.grey-bar-store { color: #333 !important; }

#scrollbar4 .viewport,
#scrollbar4 .overview {
	height: auto !important;
	overflow: visible !important;
	position: absolute !important;
	clear: both;
}

.annual-savings,
.mypoints-progress, .eighty { width: 100% !important; }

#myMap {
	width: 100% !important;
	float: right !important;
	clear: both;
}

.lfr-column.eighty,
.article-content,
.article-header,
table.dataTable,
table#pATable,
#data-table,
.line-break,
.content-mid-blocks,
.promo-box,
.wellness-dashboard #content-wrapper
 {
	width: 100% !important;
	clear: both;
}
.right-column-content{width:670px!important; clear:both;}

#topBar,
#top-wrapper,
#banner,
.main-nav-links .left,
.main-nav-links .right,
#column-2,
.ui-tabs-nav,
#courtesyRefillChoice,
#courtesyRefillMsg,
#editRefillPref,
.hr,
#prescManagementContent,
#footer-area,
.lfr-column.twenty,
.button-links,
.button-link-border,
.logo-header-area .logo-header-sublinks-left,
.logo-header-area .logo-header-sublinks-right,
.drug-info-box,
.pharmacyblock,
.adv-block,
#login,
.register,
.wellness-box,
.main-banner,
.register-btn,
.thirty,
#p_p_id_56_INSTANCE_SK3i_,
#p_p_id_56_INSTANCE_ldY2_,
#p_p_id_56_INSTANCE_4EfD_,
#p_p_id_56_INSTANCE_9xFN_,
#p_p_id_56_INSTANCE_y3Lr_,
#searchbox1,
.browse-alphabetically,
.save-banner-scroll,
.jqtransformboxes,
.d-boxes,
#featuredtab2,
.red-textbt-big,
#MyRxScoreBanner,
#p_p_id_56_INSTANCE_8NQe_,
#p_p_id_56_INSTANCE_Qx7U_,
#store-locator-search .address1 p.red-textbt,
#hidehoursid,
.address-link,
.red-textbt,
.branded-login #column-3,
.accordsuffix,
#p_p_id_56_INSTANCE_7RcJ_ p em,
#scrollbar4 .scrollbar,
#column-center-map .bottom-web-content-box, .store-locator .radiobt, .printHide { display: none !important; }

